[2017-11-17 17:29] marun commented on #5543
Being able to suggest someone to apply the label suggests adding a per-sig github group to point to.  The [current maintainer group](https://github.com/orgs/kubernetes/teams/kubernetes-milestone-maintainers/members) includes everyone on the project that can apply the label, and will not provide a good indication of who should be providing oversight for approval of a given issue/pr (should be limit

[2017-11-17 17:45] kargakis commented on #5536
Sounds like a new prow plugin to me.

[2017-11-17 18:16] cjwagner commented on #5518
`/lgtm cancel` will also take affect faster than waiting for a serial build to fail.

[2017-11-17 18:18] BenTheElder commented on #5518
Just putting a `/hold` worked, but first humans had to notice an entire day of failed batches. I think we can rate-limit batch testing a PR.

[2017-11-17 18:20] krzyzacy commented on #5524
sgtm, I'll close the issue.

[2017-11-17 18:20] #5524 closed

[2017-11-17 18:24] BenTheElder commented on #5553
What do you mean?

Also this sounds like a dupe of https://github.com/kubernetes/test-infra/issues/5483

[2017-11-17 18:58] krzyzacy commented on #4892
I made 5 replicas for boskos janitor, and hope they won't bork all at the same time - and let the k/k issue to track the actual node problem.

[2017-11-17 18:58] #4892 closed

[2017-11-17 19:24] mml commented on #5553
The bot says "Associated issue: 51526", but 51526 is not linkified.

[2017-11-17 19:25] BenTheElder commented on #5558
Moving the checklist here and breaking up the PR, we decided to do it piece-meal and put in the build job(s) first:

To setup `release-1.9`:

Testgrid:
- [x] create `sig-release-1.9-all` dashboard
- [x] create `sig-release-1.9-blocking` dashboard
- [ ] add GCS entries for all release-1.9 jobs
- [ ] add 1.9 jobs to any other appropriate dashboards

Jenkins:
- [x] add `ci-kubernetes-build-1.9`, bump

[2017-11-17 19:26] mml commented on #5553
But yes, the other part is a dup of #5483.

[2017-11-17 19:26] #5553 closed

[2017-11-17 19:39] stevekuznetsov commented on #4892
Did you set anti-affinity? Or else your five pods can just end up on one node

[2017-11-17 20:10] BenTheElder commented on #5553
Ah, that is probably an easy fix @cjwagner

[2017-11-17 20:51] mml commented on #5197
Where is this at?  Looks like it's still ignored for, e.g. https://github.com/kubernetes/kubernetes/pull/54837

[2017-11-17 22:29] cjwagner commented on #5197
k/k is still handled by the munger, but the plugin has been enabled on every other kubernetes repo that uses the `approved` label so its ready to go to k/k.
I'll make a PR to enable the plugin on k/k, but lets wait until Monday to deploy it.

[2017-11-17 22:31] BenTheElder commented on #5558
@shashidharatd @marun what's the deal with `kubernetes-federation-build-1.8` etc.?

[2017-11-17 22:35] mml commented on #5197
SGTM

[2017-11-17 22:53] cjwagner commented on #5553
Yeah thats a 1 character fix. 😄
I'll make a PR.

[2017-11-17 23:01] BenTheElder commented on #4420
I may take a look at this after we're done eliminating jenkins and have a better solution to bin-packing these jobs (https://github.com/kubernetes/test-infra/issues/5436). Cross pretty much consumes an entire build node for ~ one hour.

[2017-11-17 23:23] BenTheElder commented on #5558
Complete list of *merged* PRs involved (will keep up to date):
- `Add release 1.9 build` (what it says)  https://github.com/kubernetes/test-infra/pull/5567
- `add relase-1.9 verify and test-go` (also fix dashboard grouping, but apparently not PR title spelling) https://github.com/kubernetes/test-infra/pull/5569
- `Branch bikeshed` (generate jobs) https://github.com/kubernetes/test-infra/pull/5573

[2017-11-17 23:42] BenTheElder commented on #5316
for now we are calling 1.9 `ci/beta` and 1.8 `ci/stable1`, 1.7 `ci/stable2`... we can bikeshed more later

[2017-11-17 23:46] krzyzacy commented on #5316
I'll add a doc shortly

[2017-11-18 01:24] yujuhong commented on #5480
We are still testing COS in all *-gke-* jobs. I suspect that this is actually controlled by GKE apiserver's test image map now, and I'm not sure how to change it.
Not a serious issue since CVM is deprecated already (even though we still attempt to maintain test coverage in 1.6 and 1.7).

[2017-11-18 01:48] krzyzacy commented on #5480
@yujuhong I can flip 1.6 to cvm but we'll stop support 1.6 tests after 1.9. In gke latest-1.7 won't support cvm anymore. If you want I can flip 1.7 and pin version to v1.7.5.

[2017-11-18 01:50] yujuhong commented on #5480
There is no need to flip now. Just pointing out that we basically double the test jobs for now reason :-)
Let's keep it the same until after 1.9, then we can remove/shut down some jobs.

[2017-11-18 01:52] krzyzacy commented on #5480
yeah, we'll definitely do more bikesheds along the way

[2017-11-18 02:08] #5480 closed

[2017-11-18 02:31] roycaihw commented on #5446
/assign @roycaihw

[2017-11-18 05:30] cblecker commented on #4179
The discussion here is valuable, but this is also a significant workflow change.

The idea of "assigning" PRs to a reviewer puts a degree of obligation on those users to actually do a review. It denotes ownership.. The assignees **own** the PR and have a duty per our community guidelines to shepherd it though, or unassign themselves/find someone else to assign to. (I realize that isn't always what

[2017-11-18 06:35] BenTheElder opened #5579 "release dashboards have redundant jobs"
test-go and verify jobs per-release look to both be kubernetes_verify scenario running verify. we should remove the test-go job, and look for any other redundant jobs

/area jobs
/kind bug
/assign
/assign @krzyzacy

[2017-11-18 16:15] krzyzacy commented on #5579
no? the `--script` flags are different

[2017-11-18 18:26] BenTheElder commented on #5579
verify does:
`--script==./hack/jenkins/verify-dockerized.sh"`
test--go does not set that flag

They both use verify scenario which has:
[code]

So verify is just explicitly setting the default while test--go uses the default...

[2017-11-18 18:31] BenTheElder commented on #5579
I vote we delete `test-go` jobs since the name is bad (no go testing is done, only analysis) and look for any other jobs like this.

[2017-11-18 21:20] thockin commented on #5536
Is the expectation to write new plugins for every sort of analysis (this
being just one obvious one) or one plugin that loads rules and a rules file
that we can feed it?

On Fri, Nov 17, 2017 at 9:45 AM, Michalis Kargakis <notifications@github.com

[2017-11-18 23:13] BenTheElder opened #5584 "cross should be blocking"
@cjwagner can we take another look at this?

PRs can still get through that break the cross build which is not ideal, cross building itself is not flakey and seems pretty important to being able to put out releases..

/area mungegithub
/kind bug

[2017-11-18 23:15] BenTheElder commented on #5584
xref: https://github.com/kubernetes/kubernetes/issues/56002 for an example of why this should be blocking

[2017-11-18 23:28] BenTheElder commented on #5449
Memory is definitely still something we need to tune: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/5585/pull-test-infra-bazel/10242/

I'm planning to try to increase our build cluster capacity which should help a bit but we also need to be making reasonably accurate resource requests where possible

[2017-11-18 23:30] BenTheElder commented on #5584
In fact it looks like the failures in the PR I found were ignored because there were already failures with the cross job 😕
I also suggested that sig-release should set up testgrid alerts for this job.

[2017-11-19 01:42] BenTheElder commented on #5536
being just one obvious one) or one plugin that loads rules and a rules file
that we can feed it?

Currently each type of analysis is a plugin with rules configured in [prow/plugins.yaml](https://github.com/kubernetes/test-infra/blob/97e2da3395a759072561c3e7910db8355cc59c3e/prow/plugins.yaml#L21) EG `lint` (adds golint comments to PRs triggered by `/lint`) and `blockade` (adds a label to block merg

[2017-11-19 03:15] BenTheElder commented on #2996
For future reference:
[code]
Is an easy way for those with access to the prow cluster to bump job=`pull-kubernetes-cross`, to id=`5413`.

[2017-11-19 07:13] BenTheElder commented on #5579
FYI @spiffxp @enisoc I'd actually like to remove `test-go` from all branches, AFAICT it's running the same thing as the verify job which is a better name since the ultimate test command is `make verify`

[2017-11-19 09:07] BenTheElder commented on #5542
xref: https://github.com/kubernetes/sig-release/issues/10
We might try to publish from the bazel deb/rpm builds someday when bazel has multi-platform working solidly. This will need to be fixed first.

[2017-11-19 22:22] BenTheElder commented on #5579
🤦‍♂️

test-go is indeed different, and also broken currently.

[2017-11-19 22:22] #5579 closed

[2017-11-20 08:31] shashidharatd commented on #5558
now federation is moved to k/f repo and the ci build for head is here https://k8s-testgrid.appspot.com/sig-multicluster-federation-gce#build

To create a federation-build release against 1.9 we need to use the jobs which are running against the master branch. Also there are some specific requirements(like increased quota) for federation e2e jobs.

Definetely the federation build is a non-blocker f

[2017-11-20 08:39] porridge commented on #5541
I may be missing some details, but it seems to me that the cost of running
"git fetch" a few times in a loop, breaking it early if "git cat-file -t
$sha" exits successfully is not a big cost.
I suppose GitHub already knows about the occasional inconsistency and can
provide an upper bound on how long it makes sense to wait for?
Surely, we don't want developers to do the repetitive job of clicking
"

[2017-11-20 10:21] kargakis opened #5590 "state is not included in the list error"
[code]
Regressed in https://github.com/kubernetes/test-infra/pull/5451.

/assign
/area prow
/kind bug

[2017-11-20 10:28] kargakis commented on #3345
What if the PR is WIP for some time before the first review lands? We add a label for PRs marked as WIP (`do-not-merge/work-in-progress`), maybe we could also take that into account?

Also, we need to track whether requested reviewers are actually reviewing PRs.

[2017-11-20 15:07] kargakis commented on #5267
It should be possible to fix this cleanly once we fix https://github.com/kubernetes/test-infra/issues/5216

[2017-11-20 15:08] kargakis commented on #5216
/assign

[2017-11-20 15:27] stevekuznetsov commented on #5541
Having administered a Prow cluster supporting about 100 developers on many projects for close to six months now I have never seen a developer hit the issue you have seen in this specific report. We _could_ add the logic, it just seems like overkill. Every other part of the system falls over if GitHub misbehaves, so it seems fine if this part does, too.

[2017-11-20 16:01] porridge commented on #5541
I'm somewhat surprised that building a robust system does not seem to be a
priority.

[2017-11-20 16:13] spiffxp commented on #5446
@timothysc may have some thoughts, and @kubernetes/sig-architecture-proposals owns conformance

I gather that an API server + etcd would be enough to pass these tests, ie: a cluster with no controller-manager, scheduler, nodes (kubelet+kube-proxy).  This seems like a good first step, but an end user might reasonably expect these endpoints to actually effect behavior.

[2017-11-20 16:31] spiffxp commented on #5584
By blocking do we mean merge-blocking?  Alternatively, is there a reason we shouldn't have something like cross on sig-release-master-blocking?

@kubernetes/sig-release-test-failures since sig-release owns cross

[2017-11-20 16:48] spiffxp commented on #5316
OK, I see the docs.  I also see some `release-1-6`, `release-1-7` and `release-1-8` jobs in `jobs/config.json`.  Keep this issue open as an umbrella for where we're at in finishing migration to the new bikeshed color?

[2017-11-20 16:53] kargakis commented on #3340
/unassign

Need to wrap up metrics and alerts by the end of 17 ...

[2017-11-20 17:19] spiffxp opened #5596 "split presubmits-kubernetes into blocking/non-blocking"
To help clarify terminology as part of https://github.com/kubernetes/sig-release/issues/24 we're going to say job blocking status is indicated by presence in a dashboard with "blocking" in its name:
- sig-release-foo-blocking: blocks cutting a foo release
- presubmits-kubernetes-blocking: a merge-blocking presubmit job

I know this isn't technically correct and not very DRY, but I got nodding of h

[2017-11-20 17:35] BenTheElder commented on #5584
Yes, merge blocking

On Mon, Nov 20, 2017, 08:32 Aaron Crickenberger <notifications@github.com>
wrote:

[2017-11-20 17:37] stevekuznetsov commented on #5541
If you'd like to provide a PR I am sure we will review it. That being said, one of the critical assumptions for the majority of the Prow system is that GitHub is responsive and correct. I'm not sure it's always worth the effort to engineer the system to be resilient in the face of that sort of failure. That helps to keep our scope small and focus on providing more features.

[2017-11-20 17:57] krzyzacy commented on #5316
@spiffxp yeah there are certain jobs
- checks out release-1.8 branch explicitly, which we cannot use an alias there
- test against cvm which we want to get rid of them soon, rather than roll them into next release
the release-foo is for k8s tarball only. We'll further clean them up & better document them.

[2017-11-20 17:57] porridge commented on #5541
Let's wait for more evidence of this happening before investing effort. It
could be that I was just extremely unlucky, but from my experience the more
likely explanation is that these kind of inconsistencies come and go in
waves.
Leaving this issue open for others to find easily.

[2017-11-20 18:00] #5596 closed

[2017-11-20 19:04] spiffxp opened #5603 "slackevents manual merge notifier noise"
The slackevents plugin that warns about manual merges looks like it's mostly been firing for benign or known events.  It would be helpful if we could identify and ignore these.

I'm guessing this is related to creating the release-1.9 branch

Not sure what this is, but looks like a branch deletion and tag creation

Not entirely sure what this is

Pretty sure this is a patch release happening

Anot

[2017-11-20 19:12] spiffxp commented on #5158
bumped into this again, noticed triage was showing

[2017-11-20 19:12] krzyzacy commented on #5158
[code]
hit it again
/shrug

[2017-11-20 19:17] krzyzacy commented on #5603
`Warning: @shyamjvs manually merged https://github.com/kubernetes/kubernetes/compare/db64d027efed...000000000000` this message doesn't make any sense though, and the link does not show anything :-)

[2017-11-20 19:17] BenTheElder commented on #5584
I'm not sure if we have one off the top of my head, but we should, cross ensures that `make release` works...
We shouldn't do this alternatively though, cross is skipped on most PRs and PRs that it runs against are highly suspect. In this case there were recent failures so a PR that definitely broke it was ignored, which is not ideal..

[2017-11-20 19:21] BenTheElder commented on #5584
/assign
/assign @cjwagner

[2017-11-20 19:39] #5590 closed

[2017-11-20 19:48] leifmadsen opened #5607 "Update planter.sh to allow mounting volumes and relabel for SElinux"
Currently, if you run `planter.sh` on a system with SElinux enabled, things will fail due to volume mounts not being relabeled for SElinux purposes.

Error when running with SElinux enabled:

[code]

The fix is to add `:z` to the end of the `-v` volume flag in `planter.sh`. I'm not entirely sure how best to handle this, other than to add some flag or option to the bash script to add `:z`. Alternat

[2017-11-20 19:48] leifmadsen commented on #5607
CC: @BenTheElder

[2017-11-20 19:56] BenTheElder commented on #5607
@ixdy this is how it grows :joy: https://github.com/kubernetes/test-infra/pull/5260#issuecomment-340872360

I want planter to continue to work most importantly on macOS since our builds are typically only functional in a linux environment, so blindly calling `getenforce` sounds problematic. However I'm also not particularly familiar with SELinux so I'm not sure what the best option is here. Perhap

[2017-11-20 20:12] leifmadsen commented on #5607
FYI I'm working on a very basic Ansible playbook that will bootstrap an environment so that I can run planter against Kubernetes right now. I'm hoping that what I think planter does, is what it actually does :)

(I'm interested in using planter to build me kubernetes binaries that I can then consume in a test enviroment.)

[2017-11-20 20:12] leifmadsen commented on #5607
Also I'm totally fine with that approach. We can wrap it in a `if command` and then do the needful checks to see if `selinux` is enabled via `getenforce` and then append the `:z` to the `-v` flag.

[2017-11-20 20:19] timothysc commented on #5446
This needs to be more specific, broken down, traceable, and requires buy-in from @kubernetes/sig-architecture-proposals

[2017-11-20 20:20] ixdy commented on #5607
Is there any harm in adding `:z` always? We've had changes in k/k like https://github.com/kubernetes/kubernetes/pull/16159 which have done this for other scripts.

[2017-11-20 20:22] leifmadsen commented on #5607
I'm not sure how Docker reacts when SElinux isn't enabled, or doesn't exist at all on the system. I suppose the easiest test would be to try running it with `:z` on an Ubuntu or MacOS box?

[2017-11-20 20:31] leifmadsen commented on #5607
Also, if we're not doing multiple containers, it looks like `:Z` (capitalized) is probably the preferred (doesn't allow sharing of data between containers).

[2017-11-20 20:35] brahmaroutu commented on #5603
Hmm, Is it some flavors of GitHub push events that we should skip? Logic so far is simple check on whitelist and not merged by bot.

[2017-11-20 20:43] leifmadsen commented on #5607
I just realized we can't just add `:Z` right now, because the default `$HOME` volume is.... your home directory, and we shouldn't probably just relabel that all willy-nilly ;) I wonder if the default `$HOME` should really be something like `$HOME/.planter` ?

[2017-11-20 20:45] BenTheElder commented on #5607
adding :Z seems to be fine on macOS tentatively, but https://github.com/moby/moby/issues/30934 seems a bit concerning

[2017-11-20 20:46] leifmadsen commented on #5607
Heh, I found the same bug report when searching around :)

[2017-11-20 20:48] leifmadsen commented on #5607
Guess my question would be, why is $HOME mounted into the container at all? Does it pull certain things out of the default path?

[2017-11-20 20:53] BenTheElder commented on #5607
@leifmadsen `$HOME/.planter:$HOME/.planter` might work, we want the paths in bazel's output to exist outside the container though at the very least. Ideally though it should just be the same as using bazel outside of planter.
Is there a another way to allow access to these paths?

[2017-11-20 20:59] BenTheElder commented on #5607
Bazel's cache is in `$HOME/.cache/...` and the log outputs are in there, bazel on a typical run will put verbose logging into these files and print the paths of logs for failed tests to stdout, so we want these log paths to exist outside the container. This also means if you eventually switch to native bazel you have nothing to clean up. We could probably ensure the existence of and mount `$HOME/.

[2017-11-20 21:14] leifmadsen commented on #5607
Not that I'm aware of. The escalation is basically being done with the `:Z` flag to mark the directories properly for SElinux. The alternative is to say, "we don't support SElinux" and force the user to just turn it off (which kind of sucks).

I guess my question around `$HOME` was... does the build really need to run directly in `$HOME` or can it run under a subdirectory, or something else? The i

[2017-11-20 21:15] jbeda commented on #5446
Yes! Please bring this by SIG-arch with a plan we can review and get lots of eyes on. Obviously this will impact a lot of people so we should make sure it is discussed and communicated well.

[2017-11-20 21:24] BenTheElder commented on #5607
It's possible to override the bazel cache location though the TEST_TMPDIR
flag which we (ab)use in CI, but this is meant to be a magic variable for
bazel developers to test bazel with and isn't a fantastic option.

I agree that we want to support SElinux users, but it looks to me like :Z
changes bits *on the host side* which is probably never going to not be
dangerous.

The only thing it should be

[2017-11-20 21:28] leifmadsen commented on #5607
Well the main issue, is you can't just add `:Z` or `:z` to the `-v ${HOME}:${HOME}` because that'll relabel your entire home directory, which basically locks you out of it as soon as you logout :). Without the relabeling though, then Docker can't write to that volume, which doesn't allow you to create that `.cache` directory (or anything else).

Not really sure what the fix is here, but basically,

[2017-11-20 21:34] BenTheElder commented on #5607
We can move to $HOME/.cache and relabel, but this still seems mildly risky
(bad $HOME ?) and it still won't be WAI unless the permissions for .cache
are still correct for the user outside of planter. It also appears that
relabeling will be quite slow, but it seems we will just have to live with
that.

On Mon, Nov 20, 2017, 13:28 Leif Madsen <notifications@github.com> wrote:

[2017-11-20 22:11] cjwagner commented on #5584
`pull-kubernetes-cross` doesn't have a status on all k/k PRs so the context cannot be made blocking yet.
This PR should have a `Skipped` status right? kubernetes/kubernetes/pull/55811

[2017-11-20 22:14] BenTheElder commented on #5607
I can experiment with this more soonish, I need to get some more infrastructure changes in ideally before code freeze though, will come back to this next.
/assign
/kind bug

[2017-11-20 22:16] BenTheElder commented on #5584
yeah I think this was an issue with jenkins though, if you look at a newer PR you will see skipped:
https://github.com/kubernetes/kubernetes/pull/56095

[2017-11-20 22:17] BenTheElder commented on #5584
My guess is something is wrong with the jenkins agent and statuses. I bet if we flip it to blocking now everything will be fine.
cc @kargakis

[2017-11-20 22:35] fejta opened #5612 "SQ graph has not updated since 11/17"
[code]

[2017-11-20 22:35] fejta commented on #5612
/assign

[2017-11-20 22:58] BenTheElder commented on #5584
actually tentatively it looks like it's the difference between the PR author being an org member or not.

[2017-11-20 23:00] BenTheElder commented on #5584
https://github.com/kubernetes/kubernetes/pulls?q=is%3Aopen+is%3Apr+label%3Aneeds-ok-to-test
Everything in here is missing a contenxt for cross thus far.

[2017-11-20 23:15] enisoc opened #5615 "[release-1.6] DumpClusterLogs fails on GKE"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1-6/1887

[code]

[2017-11-20 23:28] BenTheElder commented on #5615
/area kubetest
/kind bug
/assign @krzyzacy

[2017-11-21 00:07] yliaog commented on #5479
@cjwagner is there anything i need to do to make it blocking?

[2017-11-21 00:09] BenTheElder commented on #5479
see: #5584 this is being looked into

[2017-11-21 02:05] BenTheElder opened #5617 "docker in docker jobs are eating the cache"
Discovered this looking at a strange log reported to me by mtaufen, I did some more digging into how docker persists things and have some changes coming to clean leftover data and fix this up.

/kind bug
/area images
/priority important-soon
/assign

[2017-11-21 02:56] xiangpengzhao commented on #4658
Another example: https://github.com/kubernetes/kubernetes/pull/54994
This PR has both `approved` and `lgtm`. But it's not for 1.9 and it has a pull-kubernetes-bazel-test failure. @fejta-bot starts retest it. I believe if I don't fix the failure, it will retest the PR until code freeze ends.

cc @cjwagner

[2017-11-21 03:51] BenTheElder commented on #5617
FYI @krzyzacy as on-call if you see an error about failing to great the git index just retest the PR.
ssh to the node and `rm -rf /mnt/disks/ssd0/docker-graph`.

 have something cleaner coming that will let us still cache the pulled images, but the disk should take a while to fill again though so that's enough to fix things temporarily.

This also only affects the 8 nodes we currently have that ar

[2017-11-21 03:55] BenTheElder commented on #5617
since you can only see what's going on in the pod logs:
https://pastebin.com/4nphpW3C

The kubernetes build system leaves a ton of temporary images and volumes around, cleaning them at the beginning of each job while keeping the huge pulled images:
[code]
is pretty easy though, I'll have a fix out shortly.

[2017-11-21 09:17] porridge opened #5621 "Test failure with no details or build log"
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/14
Apparently there are some artifacts, so the build did run, but the build log is missing.

[2017-11-21 13:14] leifmadsen commented on #5607
All good. I have a work around for now. Disable SELinux :)

[2017-11-21 14:27] shyamjvs opened #5624 "Pain with timezone in prow cronjobs?"
We moved 2k-node scale jobs to prow yesterday (https://github.com/kubernetes/test-infra/pull/5600).
Based on that gke-large-correctness should've been triggered on 22:00, but it instead seems to have been triggered around 14:00 (https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-large-correctness)
Similarly, gce-large-performance should've been triggered on 05:00, but it instead got triggere

[2017-11-21 14:28] shyamjvs commented on #5624
Umbrella issue for prow migration - https://github.com/kubernetes/kubernetes/issues/49820

[2017-11-21 16:54] krzyzacy commented on #5624
what timezone were those jobs in? They are look correct in UTC, or the previous cron were in PST?

[2017-11-21 17:00] shyamjvs commented on #5624
Yeah... I guess they were in PST.

On Tue, Nov 21, 2017, 5:54 PM Sen Lu <notifications@github.com> wrote:

[2017-11-21 17:26] shyamjvs commented on #5624
Should be fixed by the above PR.
/close

[2017-11-21 17:26] #5624 closed

[2017-11-21 17:32] fejta commented on #5617
@q-lee can your docker in docker solution help?

[2017-11-21 17:35] BenTheElder commented on #5617
Fixed in #5619

[2017-11-21 17:35] #5617 closed

[2017-11-21 17:37] krzyzacy commented on #4815
this should be unified in https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml#L1011 now

[2017-11-21 17:37] #4815 closed

[2017-11-21 18:47] shyamjvs opened #5627 "gke-serial-release-1-7 started running against 1.7.5 suddenly (was 1.7.11-beta earlier)"
This job (https://k8s-testgrid.appspot.com/google-gke#gke-serial-1.7) started failing continuously sometime around 17th Nov.
Those failures seem related to DumpClusterLogs (which iirc I fixed in one of the earlier patches of 1.7).
On digging up a bit, I found out that:

- Run [1481](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial-release-1-7/1481/build-log.txt)

[2017-11-21 18:50] shyamjvs commented on #5627
@krzyzacy Seems related to your PR https://github.com/kubernetes/test-infra/pull/5578 (which made the job run against 1.7.5).
Is that still needed? It doesn't make sense to me to have a job which is blocking the release to not actually run against the HEAD of that release.

[2017-11-21 19:38] #5627 closed

[2017-11-21 20:22] spxtr commented on #5216
- [ ] Expose ProwJobs in deck at `/prowjobs.js` or something.
- [ ] Switch the JS and to look at those.
- [ ] Switch the flake detector stuff to look at those.
- [ ] Delete `/data.js` and associated machinery.

[2017-11-21 20:24] BenTheElder commented on #5621
It looks likely that the job was aborted (finished.json has failure, no build log), this is expected from a hard abort of the job's pod. This should be fixed once we get sidecar based log uploading.

[2017-11-21 21:15] BenTheElder commented on #5558
I think this is done minus the federation jobs.

[2017-11-21 21:16] cblecker commented on #4179
/reopen
Reopening for discussion.

[2017-11-21 21:16] cblecker commented on #4179
/assign

[2017-11-21 21:16] cblecker commented on #4179
/reopen

[2017-11-21 21:16] cblecker commented on #4179
/unassign

[2017-11-21 21:22] kargakis commented on #4179
If you are assigned as a reviewer in a PR and add `/lgtm`, most likely you have reviewed the PR. Not sure there is another way to figure out whether automatic review requests work today.

[2017-11-22 04:47] mtaufen opened #5642 "Feature request: /revert"
Which automatically does the right thing to revert a PR, and posts the revert PR for you.
So when I'm on my mobile phone I can still revert if I have to.

Guess it would have to only be no conflict reverts, but still potentially useful.

[2017-11-22 08:41] kargakis commented on #5360
Fixed by https://github.com/kubernetes/test-infra/pull/5634

[2017-11-22 08:41] #5360 closed

[2017-11-22 09:40] spxtr commented on #5642
I think GitHub already has this feature built-in, although I'm not sure who exactly can push the button.

[2017-11-22 10:14] porridge opened #5645 "Notification emails are not sent"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/66 did not trigger an email.
I did get the one about [an earlier test](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/65) though. That one was even duplicate in a way (the body was slightly different):
Message IDs:
- 001a113f2698e253e905

[2017-11-22 11:20] porridge commented on #5624
Just for the record (adding a link here puts a cross-reference in the gubernator UI): jobs overlapping due to this issue caused gce-scale-cluster-master VM to be deleted mid-way through this job, causing it to fail:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/66

[2017-11-22 15:33] spiffxp commented on #5558
A few nits while attempting to reconcile with diff.  In an ideal world, we'd have the some copy-pasta'ed or templated list of jobs in all of these dashboards.  Trying to understand why the differences exist.  I'm hoping there are some common explanations which we could add in comment form someplace, eg:
- was added as a release-blocker during v1.8
- can only be run against release-1.y branches
- e

[2017-11-22 16:23] xiangpengzhao commented on #5642
@spxtr yeah github already supports this feature, see below picture. The author of a merged PR can click the button and a new PR called `Revert "The original PR title."` with body `Reverts original PR link`.

![image](https://user-images.githubusercontent.com/15881573/33137899-1e4f3150-cfe4-11e7-8de4-c7a8d0c4f5b8.png)

[2017-11-22 16:40] krzyzacy commented on #5624
yeah, the last run with the timezone change will cause an overlap. I'll keep an eye there since the gce-scale suites are still on Jenkins.

[2017-11-22 16:50] krzyzacy commented on #5558
For the ones I know:
- I have blown away all the 1.7-gke-'cvm' jobs
- @BenTheElder has added the bazel jobs, we'll need to add that to 1.9-blocking dash
- we don't create separate gce-scale jobs for release (they are expensive!) but we probably should have a gci-gce-100 for 1.9, I'll create it.
- I'll add a kubelet job
- Do we still want a soak job? I'll create one for sure.

[2017-11-22 18:11] BenTheElder commented on #5642
mtaufen is asking to make this possible on mobile via a command. Personally
I tend to use the desktop site from mobile, there is a button at the bottom
of the page to switch to the desktop UI.

On Wed, Nov 22, 2017, 08:23 Peter (XiangPeng) Zhao <notifications@github.com>
wrote:

[2017-11-22 18:16] xiangpengzhao commented on #5642
I tend to use the desktop site from mobile, there is a button at the bottom
of the page to switch to the desktop UI.

yeah I always switch between mobile version and desktop version of GH on my mobile :)

[2017-11-22 18:49] krzyzacy commented on #5615
I think there were certain PRs need to be cherry-picked back to 1.6 which @yujuhong has mentioned ? (I cannot find the original issue)

[2017-11-22 18:50] BenTheElder commented on #5584
Cross broke again for the same reason but a different package :-(

[2017-11-22 18:54] krzyzacy commented on #5086
https://k8s-testgrid.appspot.com/sig-testing-canaries#kops-aws-cncf-canary is looking better now but still have failure now-and-then

/assign @justinsb
also pull Justin in as he's also helping triaging the job :-)

[2017-11-22 18:55] BenTheElder commented on #5558
+1 to the comments on why something exists, I've at least tried to make sure all the changes we make for 1.9 show up https://github.com/kubernetes/test-infra/issues/5558#issuecomment-345392515

[2017-11-22 19:09] yujuhong commented on #5558
Yes, we have kubelet-1.8, and kubelet 1.7 jobs.

[2017-11-22 19:11] BenTheElder commented on #5558
I will add these once I am out of meetings :-)

[2017-11-22 19:12] krzyzacy commented on #5558
added kubelet ones from https://github.com/kubernetes/test-infra/pull/5649

[2017-11-22 19:52] stevekuznetsov opened #5652 "hook: response to /test NAME is that NAME is skipped"
We have a job configured like:

[code]

I comment

[code]

Hook gives me:
[code]

I feel like I should be able to run the test even if it doesn't match the `run_if_changed` regex. This seems to be a new regression in behavior. We're building `hook` from 7001e2b05644b495b3e5ab235b8630da4bb644a0

/area prow
/kind bug
/cc @kargakis @cjwagner

[2017-11-22 19:52] stevekuznetsov commented on #5652
FYI @bparees

[2017-11-22 19:58] bparees commented on #5652
My PR does match the run_if_changed regex.  So i think there's something more going on here?

[2017-11-22 20:02] BenTheElder commented on #5558
These jobs block on presubmit, and are no more flaky than unit / non-bazel build. They're in the 1.9 blocking dash but we should have them in master blocking too.

[2017-11-22 20:02] spiffxp commented on #5558
Yeah, they're there, I guess my question to @BenTheElder is, is there any reason they're blocking 1.9 but not blocking master?

[2017-11-22 20:03] BenTheElder commented on #5558
I'm adding them to master. We have no reason to not block on these.

[2017-11-22 20:15] BenTheElder commented on #5558
Federation jobs for 1.9 have been punted to federation to sort out how they want them but "the federation build is a non-blocker for k8s 1.9 release" (since they moved out of k/k?) https://github.com/kubernetes/test-infra/issues/5558#issuecomment-345624723

[2017-11-22 20:18] cjwagner commented on #5652
This is probably #5628 I'm looking into it.

[2017-11-22 20:36] BenTheElder commented on #5558
For sig questions about blocking tests in comment above (https://github.com/kubernetes/test-infra/issues/5558#issuecomment-346385580) I am asking the following sig members to respond with how they would like these issues handled :-)

- cc @enisoc @abgworrall for possible GCP job name bikeshed
- cc @luxas for kubeadm / sig-cluster-lifecycle jobs potentially missing from master and previous releases

[2017-11-22 20:50] enisoc commented on #5615
It seems like the 1.6 jobs were replaced with `k8sstable3` jobs, and now they are passing?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cos-k8sstable3-default/24

[2017-11-22 21:03] enisoc commented on #5603
Here's another one, from running `branchff` (which we're going to start doing every business day):

https://github.com/kubernetes/kubernetes/compare/87dad50b0be0...622e0c1f0b4f

[2017-11-22 21:18] krzyzacy commented on #5615
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1-6/1886 was passing though, maybe https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1-6/1887 is a flake

[2017-11-22 21:21] yujuhong commented on #5615
Those PRs were merged quite a while a ago https://github.com/kubernetes/kubernetes/pull/55640
It was only for fixing the problem that logs were not archived, and should not cause test failures.

[2017-11-22 21:25] enisoc commented on #5615
I linked 1887 because it was the first failure, but DumpClusterLogs failed consistently after that. Anyway, since the new jobs are passing, I guess we can call this fixed.

[2017-11-22 21:25] #5615 closed

[2017-11-22 21:45] mindprince commented on #5558
gke-device-plugin-gpu-p100

Yes. Let's add them to release-1.9-blocking. When I added that job, release-1.9-blocking didn't exist, so I only added it to master-blocking.

[2017-11-22 21:56] BenTheElder commented on #5558
Thanks, we'll do that :+1:

[2017-11-22 22:21] MrHohn commented on #5558
@BenTheElder I think we do have equivalent jobs, just that the naming format changed?
- https://k8s-testgrid.appspot.com/sig-release-1.8-blocking#gci-gce-ingress-1.8
- https://k8s-testgrid.appspot.com/sig-release-1.8-blocking#gci-gke-ingress-1.8
- https://k8s-testgrid.appspot.com/sig-release-1.7-blocking#gci-gce-ingress-release-1.7
- https://k8s-testgrid.appspot.com/sig-release-1.7-blocking#gci-gk

[2017-11-22 22:22] spiffxp commented on #5558
@MrHohn you're right, that was my bad, not sure how I missed those

[2017-11-22 22:59] BenTheElder commented on #5558
Thanks @MrHohn, with all of the jobs I don't have full track of every job 🙃

[2017-11-22 23:25] BenTheElder opened #5660 "pull-kubernetes-cross needs a wider regex"
We're not catching all possible build tags https://github.com/kubernetes/kubernetes/issues/56238#issuecomment-346496387, https://github.com/kubernetes/kubernetes/pull/55749

I think if we can get https://github.com/kubernetes/kubernetes/pull/55749 we'll be in better shape but we should also probably expand:
`'^(build\/|hack\/lib\/)|(Makefile)|(.*_(windows|linux|osx|unsupported)(_test)?\.go)$'`

To

[2017-11-22 23:34] BenTheElder commented on #5660
See also: #5584 cc @cjwagner

[2017-11-23 00:23] BenTheElder opened #5663 "integration tests are making bazel-test red on 1.9,master CI"
We should probably disable these since they're disabled in presubmits:
https://github.com/kubernetes/test-infra/blob/1907ffa298ddbcb0c54801918f43096379ad440d/prow/config.yaml#L871

/area bazel
/area jobs
/assign

[2017-11-23 00:54] BenTheElder commented on #5558
This https://github.com/kubernetes/test-infra/issues/5663 / the associated PR https://github.com/kubernetes/test-infra/pull/5664 will be relevant now that https://github.com/kubernetes/kubernetes/pull/55279 is in.

[2017-11-23 01:04] BenTheElder commented on #5426
Should we close this now?

[2017-11-23 01:05] spxtr opened #5665 "Prow dry-run and local run improvements."
- [ ] Ensure that all prow components have identical flags and flag semantics. Make the defaults work for running locally. (`cluster`, `build-cluster`, `config-path`, and so on).
- [ ] Allow components to hit public `deck` for testing against production data. `deck` needs to serve ProwJobs and Pods. Started in #5631 and #5644.
- [ ] Document how to run and test individual controllers locally.

/ar

[2017-11-23 01:25] kargakis opened #5666 "Add deck mode to jenkins-operator"
Follow-up to https://github.com/kubernetes/test-infra/pull/5644.

/assign
/area prow

[2017-11-23 02:11] krzyzacy commented on #5426
yeah, I don't think we'll change the behavior

[2017-11-23 02:11] #5426 closed

[2017-11-23 04:33] krzyzacy commented on #5449
https://k8s-testgrid.appspot.com/sig-release-1.9-all#gce-1.8-1.9-upgrade-cluster-skew

I think that's still happening, the pod is rescheduled right away so we won't catch the state

[2017-11-23 04:34] BenTheElder commented on #5449
We need to tighten up the resource requests and flip on that new kubetest
flag, but I'm also going to improve the node sizes O(Friday)

On Wed, Nov 22, 2017, 20:33 Sen Lu <notifications@github.com> wrote:

[2017-11-23 04:37] krzyzacy commented on #5449
@BenTheElder don't worry about this too much :-) 🦃 first

[2017-11-23 10:06] xiangpengzhao opened #5667 "PR with `+55,245 −1,108` lines change gets size label `size/XS`"
https://github.com/kubernetes/kubernetes/pull/56283

The PR has `+55,245 −1,108` lines change, but it was added a `size/XS` label. Maybe there is issue with size plugin?

Note: seems like it was created by mistake though.

cc @cjwagner

[2017-11-23 14:29] php-coder commented on #5667
Could it be related to some limitations in GitHub API?

[2017-11-23 15:11] xiangpengzhao commented on #5667
@php-coder maybe, I'm not sure.

[2017-11-23 17:14] crassirostris commented on #5558
@spiffxp Audit tests will be added to the default suite in gce/gke env by https://github.com/kubernetes/kubernetes/pull/55953

[2017-11-25 19:42] #5513 closed

[2017-11-25 19:42] kargakis commented on #5513
fixed

[2017-11-27 08:39] porridge commented on #5621
@BenTheElder is there a tracking issue for the sidecar-based log uploading?

[2017-11-27 12:27] shyamjvs opened #5677 "Add optional PR jobs for medium-scale scalability jobs"
We need to add some reasonably small (but still big enough) scalability jobs available as part of our PR job suite.
To begin with, we'll need the following:
- kubemark-500 (consumes ~80 vCPUs)
- gce-100 (consumes ~100 vCPUs)

For bigger ones, we want some restriction on their triggerability before adding them (ref: https://github.com/kubernetes/test-infra/issues/5051)

cc @kubernetes/sig-scalabili

[2017-11-27 12:28] shyamjvs commented on #5677
/assign

I already added kubemark-500 optional presubmit in https://github.com/kubernetes/test-infra/pull/4364.
Will add the other one too.

[2017-11-27 16:17] spiffxp commented on #5667
/close
works as intended

The size plugin only looks at line count for files that pass a matcher from prow/genfiles, which takes the contents of the `.generated_files` in a repo's root into account, in this case https://github.com/kubernetes/kubernetes/blob/master/.generated_files which also pulls in https://github.com/kubernetes/kubernetes/blob/master/docs/.generated_docs, thus excluding all the

[2017-11-27 16:17] #5667 closed

[2017-11-27 16:22] spiffxp commented on #5558
@crassirostris does this mean we should remove the audit-specific job once that PR merges?

[2017-11-27 16:25] crassirostris commented on #5558
@spiffxp Yes

[2017-11-27 20:17] BenTheElder commented on #5621
@porridge I think not, cc @stevekuznetsov

[2017-11-27 21:24] spiffxp commented on #3449
/unassign

[2017-11-27 21:45] Random-Liu opened #5681 "Wrong Kubernetes version is generated by test-infra."
In node e2e test for kubernetes+containerd, sometimes kubernetes version is correct:
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e/988

But sometimes it is not:
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e/987

Since we do have test assumes the version should be semver, this breaks the test.

[2017-11-27 21:46] Random-Liu commented on #5681
/cc @kubernetes/test-infra-maintainers

[2017-11-27 21:50] BenTheElder commented on #5681
we should probably have an issue in https://github.com/kubernetes/test-infra/issues, but what happens if I try to run this test against local changes? perhaps the way it depends on version information is too brittle.

[2017-11-27 22:32] ixdy commented on #5681
Something is causing `git describe` to return a weird value, I think, but I can't figure out what or why.

[2017-11-27 22:41] #5663 closed

[2017-11-27 22:42] BenTheElder commented on #5663
closed in #5564 and #5680

[2017-11-27 23:22] llonchj opened #5687 "cncf-cla:no although it was signed"
I signed the CLA as individual and submitted [this merge request](https://github.com/kubernetes/charts/pull/2859).

Label `cncf-cla:no` is there still and I was wondering if there is any action expected on my side?

Thanks

[2017-11-27 23:26] BenTheElder commented on #5687
The CNCF CLA bot is reporting it was not signed.

I will comment on your PR to re-trigger the CLA bot, but we don't have any access to it here (it's totally operated by the CNCF and [is not open source](https://github.com/cncf/foundation/issues/3)), please contact the CNCF for CLABot issues at helpdesk@rt.linuxfoundation.org or see: https://github.com/kubernetes/kubernetes/issues/27796

[2017-11-27 23:26] #5687 closed

[2017-11-28 00:19] mtaufen commented on #5642
Didn't realize GH already had this feature, closing :).

[2017-11-28 00:19] #5642 closed

[2017-11-28 07:57] xiangpengzhao commented on #5667
@spiffxp thanks for explanation!

[2017-11-28 16:35] kargakis commented on #3044
These are the RBAC rules we are using today:
https://github.com/openshift/release/blob/master/cluster/ci/config/prow/openshift/deck_rbac.yaml
https://github.com/openshift/release/blob/master/cluster/ci/config/prow/openshift/hook_rbac.yaml
https://github.com/openshift/release/blob/master/cluster/ci/config/prow/openshift/horologium_rbac.yaml
https://github.com/openshift/release/blob/master/cluster/c

[2017-11-28 16:35] #3044 closed

[2017-11-28 18:06] #4818 closed

[2017-11-28 19:02] stevekuznetsov commented on #5621
No issue, but here is the DD: https://docs.google.com/document/d/1-ApXgeMOv6m79c3R1cLi3_t_xN5XANE_7vwtB0yFHmM/edit#heading=h.x9snb54sjlu9

[2017-11-28 19:35] #5652 closed

[2017-11-28 22:54] cjwagner opened #5699 "hack/update-bazel.sh incorrectly updates BUILD files in untouched directories."
I haven't been able to reliably reproduce this error, but I got it after modifying only `prow/plugins/approve/approve.go` which shouldn't affect the repoowners package BUILD file. When i reverted the BUILD file changes made by `hack/update-bazel.sh` and reran it the BUILD files were updated correctly. I've hit the same error while working on the require-sig plugin which is unrelated to repoowners.

[2017-11-28 22:58] shyamjvs opened #5700 "scalability jobs are sometimes evicted causing lost runs"
Run 17 of https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance ran at 16:14 while it should have been triggered around ~00:01.
This can be dangerous for other jobs as it can interfere and fail them too.

/assign @krzyzacy
Could you PTAL? This is a bit high priority.

cc @kubernetes/sig-scalability-misc

[2017-11-28 22:59] BenTheElder commented on #5699
probably https://github.com/kubernetes/test-infra/pull/5320

[2017-11-28 22:59] shyamjvs commented on #5700
The run itself seems to have failed due to a different reason - https://github.com/kubernetes/kubernetes/issues/55777
But we need to ensure that jobs are being triggered at the right times.

[2017-11-28 23:20] oomichi opened #5701 "Measure kubernetes API test coverage on e2e test"
According to the official document of the Kubernetes API[1], APIs are classified to three levels: alpha, beta and stable. Alpha and beta APIs can be changed and it is not mandatory to verify these APIs. On the other hand, we want to test the stable APIs as possible to know every single PRs doesn’t affect these APIs’ behavior for the stability. In addition, we want to know which APIs are called at

[2017-11-28 23:22] oomichi commented on #5231
This issue seems a little wider scope to manage API measuring thing.
I created another issue(https://github.com/kubernetes/test-infra/issues/5701) to manage that.

[2017-11-28 23:28] BenTheElder commented on #5700
it looks to me like it did trigger at ~00:01 but got rescheduled by kubernetes somehow, testgrid has a "running" entry hung at 00:02, which suggests to me that the pod never managed to upload logs.

[2017-11-29 00:07] ixdy commented on #3338
`config.yaml` is now so large that github doesn't expand diffs in PR reviews.

[2017-11-29 00:11] ixdy commented on #3338
If you try viewing the config on GitHub it bails after line 17375: https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml

[2017-11-29 03:05] BenTheElder commented on #4825
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/5706/pull-test-infra-bazel/10522/

I'm tempted to just put in a `.replace("456", "")` on the timestamp 🤷‍♂️

[2017-11-29 04:03] BenTheElder opened #5708 "kuberneretes_verify scenario is not maintainable"
- We apparently version golint via pinning each branch to an image that we stop updating.
- most of the actual scenario logic is in hack/jenkins bash scripts in k/k which are brittle and heavily dependent on the environment.
- we use DooD with an image per branch run from the scenario to provide the expected environment (see also the first point)

/kind bug
/area scenarios
/area images
/assign
/as

[2017-11-29 04:03] BenTheElder commented on #5708
This affects test--go, verify, and unit jobs.

[2017-11-29 07:29] porridge commented on #5700
I'm assuming @shyamjvs meant run 70, not 17: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/70
@BenTheElder the one you refer to is 69. So something else must have triggered 70.

[2017-11-29 07:33] BenTheElder commented on #5700
The started time is misleading, look at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/70?log#log

00:14:46.792 is certainly not 16:14 even with UTC <-> PST

[2017-11-29 07:39] BenTheElder commented on #5700
AFAICT #70 did run at 00:14 UTC, which is reasonable for triggering at ~00:01 since kubernetes must still schedule the job pod onto a node.

[2017-11-29 07:51] porridge commented on #5700
Right. So where on earth is testgrid getting this number from?
![gp55z3l4hzc](https://user-images.githubusercontent.com/489420/33363885-847412a4-d4e2-11e7-8d0b-4de9fbe33c18.png)

[2017-11-29 07:52] porridge commented on #5700
It's not the timestamp in either `started.json` nor `finished.json`...

[2017-11-29 08:05] BenTheElder commented on #5700
run 70's `started.json` has `1511828086` or `Tuesday, November 28, 2017 12:14:46 AM` which is 16:14 PST

run 69's `started.json` has `1511769740` or `Monday, November 27, 2017 8:02:20 AM`, which is 00:02 PST

I'm not sure how those numbers came about though. Also if you look in the artifacts:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/69/artifacts/
htt

[2017-11-29 17:37] mithrav commented on #5701
+Jago as an FYI

On Tue, Nov 28, 2017 at 3:20 PM, oomichi <notifications@github.com> wrote:

--
Google MTV
Phone: 917-727-8814

[2017-11-29 18:09] krzyzacy commented on #5700
My theory: the pod got rescheduled again by kubernetes, potentially it was OOMKilled - do you want to add a resource request for those scalability jobs?

[2017-11-29 18:34] shyamjvs commented on #5700
Let's try doing that.

On Wed, Nov 29, 2017 at 7:09 PM Sen Lu <notifications@github.com> wrote:

[2017-11-29 18:40] danehans opened #5713 "CNI 0.6.0 Plugin Support"
https://github.com/kubernetes/kubernetes/issues/49480 plans to bump CNI plugins to 0.6.0 in the 1.9 release. https://github.com/kubernetes/kubernetes/pull/56245 attempts to update the kubenet template for 0.6.0, but e2e tests are failing. I believe this may be due to the test-infra not supporting the 0.6.0 CNI plugins. Can someone confirm that test-infra currently supports 0.6.0 CNI plugins or wil

[2017-11-29 18:41] danehans commented on #5713
/sig network

[2017-11-29 19:08] MrHohn opened #5715 "gke-ubuntustable1-k8sstable2-ingress misbehaving?"
From http://k8s-testgrid.appspot.com/sig-network-gke#gke-ubuntustable1-k8sstable2-ingress&width=20, frequently one run stuck forever and led to all following runs failed while deleting network (in used by a firewall rule created by the stuck run).

Also curious why different runs in this CI use the same network name if they create&delete network anyway...

BTW I never know who owns this CI :) Prob

[2017-11-29 19:20] yguo0905 commented on #5715
I can change the tests to use the project pool to mitigate the issue caused by the stuck run. @krzyzacy

GKE tests should be owned by sig-gcp now.

[2017-11-29 19:22] porridge commented on #5700
So every pod execution gets a new job number?

[2017-11-29 19:27] krzyzacy commented on #5700
@porridge yeah, upon reschedule, the pod will start a brand new job from very beginning

[2017-11-29 19:28] krzyzacy commented on #5715
sure, we have enough resource for gke pool

[2017-11-29 19:40] MrHohn commented on #5715
Thanks for the quick replies.

Another thought is I don't actually see much value running these ubuntu-ingress CIs as we already have equivalent gke-ingress CIs AND ingress tests are really not OS sensitive...I'm leaning toward just nuke these CIs to save resource and reduce noise.

[2017-11-29 21:50] stevekuznetsov opened #5719 "prow: approve: our robot can approve PRs?"
We recently moved to the assign/approve/blunderbuss trio of Prow plugins in our cluster and we're seeing our robot considered a valid approver for a PR like so: https://github.com/openshift/origin/pull/17350#issuecomment-348004568

[code]

/area prow
/kind bug
/cc @kargakis @cjwagner

[2017-11-29 22:07] oomichi commented on #5701
@mithrav Thanks for FYI, but I could not find Jago on Google search. Could you provide more info a little bit?

[2017-11-29 22:09] oomichi commented on #5701
/assign

[2017-11-29 23:59] MrHohn commented on #5715
Discussed offline and seems better to keep these CIs.

@yguo0905 Let me know how I can help :)

[2017-11-30 00:52] enisoc opened #5727 "[release-1.9] bazel building from master"
The bazel-build-1.9 job seems to be building from master rather than from the `release-1.9` branch:

https://k8s-testgrid.appspot.com/sig-release-1.9-blocking#bazel-build-1.9&width=20
https://k8s-testgrid.appspot.com/sig-release-1.9-blocking#bazel-test-1.9&width=20

/assign @BenTheElder

[2017-11-30 00:53] #5715 closed

[2017-11-30 00:57] BenTheElder commented on #5727
/kind bug
/area jobs
Fixing, this is a dumb bug but an easy fix 😞

[2017-11-30 01:03] #5727 closed

[2017-11-30 01:05] BenTheElder commented on #5727
should be fixed for future runs now.

[2017-11-30 01:05] mithrav commented on #5701
@jagosan

[2017-11-30 01:12] cjwagner commented on #5719
I believe this is an interaction with the lgtm-after-commit-munger which comments with `/lgtm cancel //PR changed after LGTM, removing LGTM...`
The approve plugin considers this an approval because where it expects the argument `cancel` it finds `cancel //PR changed after LGTM, removing LGTM...`.

I think the best fix is to change the approve plugin to check that the argument to the `/lgtm` comman

[2017-11-30 01:36] krzyzacy opened #5731 "Run_after_success kubeadm job can be triggered in multiple runs"
http://prow.k8s.io/?job=ci-kubernetes-e2e-kubeadm-gce-cni-calico
that's failing forever, and eating up a lot of resources & project quota

I'll move them to periodics

/assign
cc @luxas @pipejakob

[2017-11-30 04:21] #5719 closed

[2017-11-30 06:06] ash2k opened #5736 "Planter: cannot get docker credentials"
On macOS when running bazel inside of the planter image the following error happens for me:
[code]
rules_docker `container_pull` tries to pull base layer to be used in container building later but it fails. The script (see stacktrace) tries to execute `docker-credential-osxkeychain` to get credentials from osx keychain but of course it cannot - it is running inside of the docker image and there is

[2017-11-30 06:06] ash2k commented on #5736
@BenTheElder

[2017-11-30 06:12] BenTheElder commented on #5736
I've been meaning to change this to only mount the bazel cache instead. xref #5607

[2017-11-30 07:03] BenTheElder commented on #5736
They do, but they also are light on mentioning that things like `:exec`, `:z`, `:Z` aren't supported for `--mount`. I'm going to leave the existing tmpfs flag as is since they don't seem to have a solution for this documented or planned anywhere.

[2017-11-30 10:43] duane-ibm opened #5739 "pull-kubernetes-unit job fails on ubuntu 16.04"
Executing the below command to run the `pull-kubernetes-unit` job fails, while looking through the error log, it is unclear what the exact cause of failure is.
Any help would be appreciated.

Command :
`root@xyz:~/Kubernetes-CI/test-infra# ./jenkins/bootstrap.py --job=pull-kubernetes-unit --repo=github.com/kubernetes/kubernetes`

OS: "Ubuntu 16.04 LTS"

Snippet of failure log:
[code]

PFA complete

[2017-11-30 12:06] shyamjvs commented on #5700
I think the answer to this issue might just be this - https://github.com/kubernetes/test-infra/pull/5284#issuecomment-348168457
Something like a `StartingDeadlineSeconds` which stops the job from being triggered too late after the missed time.

[2017-11-30 13:07] shyamjvs commented on #5700
I'm seeing a lot of runs of this job (8469-8471, 847, 8481) which are shown as still 'Running' - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce (wasn't the case before when we were on jenkins). My guess is that they've timed out - but we need to root cause this ASAP. It's increasing our job flakiness.

[2017-11-30 13:15] shyamjvs commented on #5700
Note that this is happening time and again for our release-blocking jobs:
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness

Those failures can be critical before the release. In the worst case, we might need to move those 2 particular jobs back to jenkins.

[2017-11-30 17:08] kargakis commented on #2699
More metrics added in https://github.com/kubernetes/test-infra/pull/5670

[2017-11-30 17:08] kargakis commented on #2699
I also just deployed a basic set of alerts to start with: https://github.com/openshift/release/pull/448

[2017-11-30 18:13] krzyzacy commented on #5700
the 'running' ones are actually got rescheduled due to node fs pressure (they are not actually running) - I don't think k8s CronJob can solve this, the cron part is correct, but the job was rescheduled.

We'll try to upgrade build cluster to 1.8 and see if that resolves the issue.

[2017-11-30 18:18] BenTheElder commented on #5700
Yep, these appear to be rescheduled by the kubernetes scheduler *on the build cluster*, cron is behaving perfectly.

I did a deep dive into some issues I observed with the build cluster with the Node team last night and I think I know what caused these, and it's a kubernetes bug :-)

We should NOT run back to Jenkins because of kubernetes issues. K8s infra will run on k8s. The humans observing the

[2017-11-30 18:25] shyamjvs commented on #5700
Not sure I understand how that is going to help. Does that do some bug fix?

It is not about making cron work here.. We need to make all the pieces work well together as that is what is going to make the job run fine at the end of the day.

I totally agree we shouldn't go back to jenkins. However, that might be a last resort if the release is blocked on this.

HUmans, probably yes... but what abou

[2017-11-30 18:29] krzyzacy commented on #5700
quote from chat w/ @BenTheElder

[code]

[2017-11-30 18:32] BenTheElder commented on #5700
We are on 1.7.8 for the build cluster which apparently can get spurious NodeHasDiskPressure evictions based on trying to account for the container usage even while the actual FS usage for the kubelet is nominal. So yes, hopefully.

Sure, but if the job is bad and was aborted, or in this case was rescheduled by the build cluster because of a kubernetes issues we should fix those things specifically

[2017-11-30 18:44] shyamjvs commented on #5700
Sgtm.

Yes, anago can be patched. But those checks are there for a purpose - to ensure good release signal. Tweaking it to bypass them defeats that purpose. Besides, with every lost run we're adding more uncertainty (until hopefully we get the next green run). Scale jobs are usually much more likely to catch regressions from across the system and since they're also quite slow,  each run is very va

[2017-11-30 18:49] BenTheElder commented on #5700
We're not actually losing runs though, we're getting a false start which is
soon replaced by a clean one within ~20mins when it is scheduled onto an
unnaffected node. We might actually want to tweak anago to ignore jobs
stuck in the "R"/running state.

On Thu, Nov 30, 2017, 10:44 Shyam JVS <notifications@github.com> wrote:

[2017-11-30 18:50] krzyzacy commented on #5700
@BenTheElder the issue is we are going to leak a scalability cluster if we abort the run, which can cause problems for subsequent runs

[2017-11-30 19:00] shyamjvs commented on #5700
It is not going to cause problems for the subsequent runs of the same job per se - as each run begins with tearing down any pre-existing cluster before bringing up new one.
However, the problem is with different jobs interfering with one another. I solved that problem by naming the cluster (and other resources) the same across all those jobs (as anyway there can't be more than one of them at a giv

[2017-11-30 21:22] cjwagner commented on #5699
This time I changed just `lgtm.go`. The only import change was the addition of the pluginhelp package.
[code]

After resetting my working tree to HEAD except for the changes to `lgtm.go` I reran `hack/update-bazel.sh` and it worked properly the second time:
[code]

[2017-11-30 21:27] BenTheElder commented on #5699
cc @cblecker

[2017-11-30 21:39] cblecker commented on #5699
Probably more specifically: https://github.com/kubernetes/test-infra/pull/5320/commits/1310d6880250888abedc23ba6b3b02818d47cd98

[2017-11-30 21:51] #5731 closed

[2017-11-30 21:58] BenTheElder commented on #5584
@cjwagner are we safe to try this again?

[2017-11-30 22:12] cjwagner commented on #5584
Steve and I had a discussion about the expected behavior for manually triggering a RunIfChanged job with a `/test job` or `/test all` command that you might want to take a look at: https://github.com/kubernetes/test-infra/pull/5655#discussion_r152688188
If that seems ok to you then we just need a hook bump to pick up the fix. I'll make a PR.

[2017-11-30 22:50] danehans commented on #5713
/assign ixdy

[2017-11-30 23:09] cjwagner commented on #5699
I'm only encountering problems when I run `hack/update-bazel.sh` from a subdir of test-infra. If I run it from the root of the repo it incorrectly says `wrote "vendor/k8s.io/apimachinery/pkg/util/sets/BUILD"`, but seems to modify the BUILD files correctly.

[2017-11-30 23:11] BenTheElder commented on #5699
Sounds like we should add a cd to the test-infra root at the beginning :this_is_fine:

[2017-11-30 23:40] ixdy commented on #5713
I don't see anything in the linked PR that suggests this is a test-infra issue. As far as I know, test-infra has no opinions about any CNI plugins used in kubernetes.

[2017-12-01 01:14] krzyzacy commented on #5700
what we've done today:
- upgraded prow build cluster from 1.7.8 to 1.8.4
- added resource request for -large and -scale jobs
- make prow clean up finished pods more aggresively

and this is affecting all other jobs as well, not only scalability jobs.

and @dashpole is also helping looking into the issue here (thanks a lot!)
/assign @dashpole

[2017-12-01 02:53] BenTheElder commented on #5700
@shyamjvs @porridge for a more detailed status update:

Current Status:

- I've confirmed that a number of these hung runs are evicted pods by examining our logs. It does not appear that there are any problems with the cron scheduling, only that jobs can have their pods evicted.

- Build nodes are on 1.8.4 now which should prevent false `NodeHasDiskPressure` events (which can evict nodes). Prior t

[2017-12-01 06:12] porridge commented on #5700
@BenTheElder thank you for the update, is there an ETA?

[2017-12-01 06:13] BenTheElder commented on #5700
`2017-11-30 17:15:40.000 PST` is the last time we saw a `Node <elided> status is now: NodeHasDiskPressure` message. I think we may still want to increase the disk size for higher memory nodes though to be safe. The queue is also empty right now.

[2017-12-01 06:18] porridge commented on #5700
@BenTheElder ah, so you think that actions taken up to now should be sufficient, and the TODOs are optional?

[2017-12-01 06:19] porridge commented on #5700
@shyamjvs can you retitle the issue to mention evictions as cause rather than cron?

[2017-12-01 06:25] BenTheElder commented on #5700
@porridge Yes, the TODOs are mostly further efforts to prevent future problems. I'm not 100% sure the current changes are sufficient as it's possible in the future with more jobs being scheduled we will see disk pressure return, and there's a chance under disk pressure that the scalability jobs can still be evicted (unlike memory or CPU).

Tweaking sinker's pod GC rate and upgrading to 1.8.4 seems

[2017-12-01 06:56] krzyzacy commented on #5700
(also xref https://github.com/kubernetes/test-infra/issues/5449)

[2017-12-01 07:17] BenTheElder commented on #5449
noting: we did improve the build cluster sizing quite a bit. much more detail on the xref'd issue above (5700)

[2017-12-01 07:49] BenTheElder commented on #5700
All of the `n1-highmem-8` nodes have been moved to `pool-n1-highmem-8` with the double-default-size boot disks. We may still want to move some of the other two pools around.

I've also just (11:45 PM PST) checked and we still do not have any more disk pressure, insufficient memory, or eviction log entries since ~5:16 PM PST (around when the sinker changes were made, and well after the kubernetes v

[2017-12-01 08:43] porridge commented on #5700
More failures:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/20

[2017-12-01 13:40] shyamjvs commented on #5700
Thanks for those fixes @BenTheElder @krzyzacy - let's keep a close watch on the jobs to see if that helped.

[2017-12-01 16:29] kargakis opened #5760 "cherrypicker is not working with private repos"
There are a couple of call-outs that use a bare http client and `git clone` is not using any credentials.

/area prow
/assign

[2017-12-01 18:30] BenTheElder commented on #5700
We have still not seen any more evictions and [ci-kubernetes-e2e-gce-scale-performance/74](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/74) triggered at `2017-12-01 00:01 PST`, uploaded started.json at `2017-12-01 00:02 PST` and is still running:
`I1201 18:28:11.008] STEP: Scaling { ReplicationController} load-small-5475 in namespace e2e-

[2017-12-01 19:27] BenTheElder commented on #5739
I would try to ping the owners of this test, unfortunately I don't think anyone nominally working on test-infra has the bandwidth to debug this right now.

[2017-12-01 19:57] krzyzacy commented on #5739
Please open the issue in k/k repo and assign to the test owner.

[2017-12-01 19:57] #5739 closed

[2017-12-01 19:59] cjwagner opened #5764 "ProwJob controllers are failing to push metrics."
Both `plank` and `jenkins-operator` are throwing errors like this every minute since I updated the deployments while rolling out #5754 .
[code]
[code]
/cc @kargakis @Q-Lee

[2017-12-01 22:17] kargakis commented on #5764
Prometheus adds a "job" metric by default and our [job](https://github.com/kubernetes/test-infra/blob/41c86bacf0f8931563bf24bd5e0274f08126fd6a/prow/kube/metrics.go#L29) metric collides with it. We need to rename ours into something else.

[2017-12-01 22:19] kargakis commented on #5764
I am surprised though that this is an issue with pushing. When pulling the metrics, prometheus performs the renaming by default so we don't have this problem downstream.

[2017-12-01 22:31] enisoc opened #5769 "[release-1.9] periodic-kubeadm-gce-1-9 building from release-1.8 branch"
There are two `version` tags. The main one seems to be pointing to the release-1.8 branch, which causes `find_green_build` to fail to find a good run.

Is this supposed to be a version-skewed test? The name doesn't indicate as such.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-1-9/139

key | value
-- | --
Result | SUCCESS
Tests | 0 failed /

[2017-12-01 22:32] BenTheElder commented on #5769
/cc @luxas @krzyzacy
I'll compare it to the configs for the 1.8 jobs.

[2017-12-01 22:36] krzyzacy commented on #5769
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-bazel-build-1-9/143 - the periodic bazel build was failing now for release-1.9 :-(

[2017-12-01 22:47] enisoc commented on #5769
Filed https://github.com/kubernetes/release/issues/473 for the bazel build.

[2017-12-02 01:23] BenTheElder commented on #5700
Looks like the job is wrapping up :-)
Still no more evictions, and we've finished moving all highmem nodes to be standardized on the `pool-n1-highmem-8` described above.

[2017-12-02 02:10] xiangpengzhao commented on #4658
Fortunately, `do-not-merge/*` can stop the retesting (#4656, @kargakis :+1: ). Example: https://github.com/kubernetes/kubernetes/pull/51890#issuecomment-348370464

I'm going to close this issue for now. Reopen it once we do want the fejta-bot check it automatically.

[2017-12-02 02:11] #4658 closed

[2017-12-02 07:43] porridge commented on #5700
I think we can close it, then. We can always reopen if this happens again.
Thank you for the fast reaction!

[2017-12-02 08:23] shyamjvs commented on #5700
Thanks guys for those quick fixes. FTR latest green run -
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/74

On Sat, Dec 2, 2017, 8:43 AM Marcin Owsiany <notifications@github.com>
wrote:

[2017-12-02 11:21] luxas commented on #5769
Thanks @enisoc for filing, root cause seems to be https://github.com/kubernetes/test-infra/pull/5576#discussion_r154494066, basically a typo

@BenTheElder why doesn't periodic-kubernetes-e2e-kubeadm-gce-1-9 and periodic-kubernetes-e2e-kubeadm-gce-upgrade-1-8-1-9 seem to be present anymore in https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml? Have they been deleted and if so for

[2017-12-02 11:23] luxas commented on #5769
@enisoc you're completely right, this job should solely test the creation of kubeadm clusters on the release-1.9 branch, no skew testing should be performed here.

[2017-12-02 18:08] justinsb opened #5777 "AWS: unknown zone us-west-1c"
Surprising error on the new AWS account:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-cncf-canary/445/build-log.txt

[code]

Apparently this is "just how it is" - some accounts don't have access to 3 zones in us-west-1: https://forums.aws.amazon.com/thread.jspa?messageID=394387

This is on the random list, so my guess is that we add some other zones and remove

[2017-12-02 23:06] justinsb opened #5781 "AWS: instances not launching in some tests in CNCF canary"
e.g. https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-cncf-canary/448/build-log.txt

Note that no master instance was launched, at least according to the cleanup log:

[code]

Also possible that we're not finding the instance, of course...

[2017-12-02 23:22] justinsb commented on #5781
It looks like our limit for t2.medium in us-west-1 is 0 instances, which is odd (we can create much more expensive instances I believe!)

This is the link to increase the limit
https://console.aws.amazon.com/support/home?#/case/create?issueType=service-limit-increase&limitType=service-code-ec2-instances

[2017-12-03 01:25] krzyzacy commented on #5700
okay I'll close this for now.
we'll probably need keep an extra eye on prow workloads when code freeze is over.

[2017-12-03 01:25] #5700 closed

[2017-12-03 01:28] #5777 closed

[2017-12-03 22:47] justinsb commented on #5781
Mostly fixed by #5782

[2017-12-03 23:07] krzyzacy commented on #5781
what do we do for other jobs, i.e. https://github.com/kubernetes/test-infra/pull/5723

[2017-12-03 23:47] justinsb commented on #5781
@krzyzacy http://k8s-testgrid.appspot.com/sig-testing-canaries#kops-aws-cncf-canary is now fixed, but then broke when we pinned 1.10 to a 4.9 kernel (debian stretch) https://github.com/kubernetes/kubernetes/issues/56763

Are there other jobs?

Ideas:

* Make sure we don't have low limits in regions we're using (there doesn't seem to be a reason for the limits AFAICT)
* Carefully tie jobs to specif

[2017-12-04 03:44] xiangpengzhao opened #5787 "Incorrect project name in job logs"
In the logs of job ci-kubernetes-e2e-kubeadm-gce-1-8-on-1-9
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-8-on-1-9/206?log#log

I get such below things. The project name `k8s-gce-cvm-mstr-1-6-ctl-skew` is incorrect.
[code]

It'd be good to change it to the correct name. It's trivial though.

[2017-12-04 03:44] xiangpengzhao commented on #5787
/cc @krzyzacy

[2017-12-04 06:44] krzyzacy commented on #5787
huh? it should pick a project from boskos pool and not pin to a specific project

[2017-12-04 06:44] #5787 closed

[2017-12-04 06:45] #5769 closed

[2017-12-04 07:05] xiangpengzhao commented on #5787
@krzyzacy I don't have enough knowledge of boskos. Did you mean that it is picking a random project from boskos?

[2017-12-04 07:27] krzyzacy commented on #5787
@xiangpengzhao yeah, if you look at project list at https://github.com/kubernetes/test-infra/blob/master/boskos/resources.json, jobs without --gcpProject specified will pick up one from a corresponding pool :-)

[2017-12-04 08:06] xiangpengzhao commented on #5787
@krzyzacy thanks for clarifying :smile:

[2017-12-04 11:07] kargakis commented on #5175
cc @php-coder

[2017-12-04 11:07] kargakis commented on #5175
/area prow

[2017-12-04 15:58] xiangpengzhao opened #5793 "member of kubernetes-incubator can't trigger tests by "/ok-to-test" in incubator project(s)"
See in: https://github.com/kubernetes-incubator/cri-containerd/pull/464
@yanxuean is a member of kubernetes-incubator. When he commented `/ok-to-test`, bot said:
[code]
Interesting. Bot checked if he is a member of kubernetes when he tried to trigger tests for PR in kubernetes-incubator project.

Then @mikebrow commented `/ok-to-test`, it worked. (@mikebrow is both member of kubernetes and kuberne

[2017-12-04 16:20] xiangpengzhao commented on #5793
I test in https://github.com/google/cadvisor/pull/1825 the other way and find that I can trigger test there. Seems like it's not so reasonable that a kubernetes member can trigger tests in all of below org/projects:
[code]
ref : https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml

[2017-12-04 16:37] gnufied opened #5794 "A kube PR that introduces an e2e test should run that test as part of the test suite"
Often I have seen that a PR that introduces or changes an e2e test, never gets e2e test in question being ran as part of merge request.  This is problematic because - we have no idea if introduced e2e test works.

I am wondering if there is a way we can make sure that, PR that introduces certain e2e test always has the e2e test in question ran as its build/test  process.

[2017-12-04 19:23] krzyzacy commented on #5793
/area prow
/assign @cjwagner

[2017-12-04 19:29] BenTheElder commented on #5769
Yes, that job had the wrong branch and is fixed now thanks to @xiangpengzhao.
Unfortunately our config is large enough now that GitHub will no longer expand diffs which makes this fun to review `:joy:`

[2017-12-04 19:32] BenTheElder commented on #5769
@luxas I haven't removed any periodic jobs, the only thing I'm aware of is @krzyzacy changing the rate at which the bazel jobs run to reduce boskos pressure from the chained kubeadm jobs.

[2017-12-04 19:41] stevekuznetsov commented on #4602
In case we need it... more devs confused by this behavior: https://github.com/openshift/openshift-ansible/pull/6328#issuecomment-349006756

[2017-12-04 19:41] stevekuznetsov commented on #4602
/cc @sosiouxme

[2017-12-04 19:43] stevekuznetsov commented on #4602
@cjwagner do you have any thoughts on this one?

[2017-12-04 19:45] cjwagner commented on #5793
Trigger allows repos to have a trusted org other than their owning org so that users don't have to become members of every org in a set of related orgs like `kubernetes` and `kubernetes-incubator`.
If the configuration needs to be changed thats fine with me, but I don't think I have the authority or knowledge of the other orgs necessary to make those decisions myself. Additionally there may have b

[2017-12-04 20:06] xiangpengzhao commented on #5793
@cjwagner thanks for explanation! Sounds reasonable. Though I think at least allowing a member of incubator to trigger in their own pfojects makes sense.

[2017-12-04 20:34] cjwagner commented on #4602
The only case in which these are not the same is when the status contexts say that tests are running and the comment shows previous test results. This doesn't seem like a confusing state to me, the comment shows test results so it seems apparent that any results displayed while test are running refer to the previous round of tests. Furthermore, the user's /test or /retest comment (or new commit pu

[2017-12-04 20:35] BenTheElder commented on #4602
I would note that the start times are already somewhat confusing since some of our tooling considers start to be when the job was scheduled (deck at least) and other parts consider whatever `started.json` claims, which can often have large skew when we're at capacity.

[2017-12-04 20:38] bparees commented on #4602
it's not so obvious when you get an email(github notification) from the bot telling you what tests failed and you just click the links from the email instead of going to the PR (because you're on your phone).

[2017-12-04 21:01] BenTheElder commented on #5700
As an addendum [we have the soft eviction thresholds for disk enabled now](https://github.com/kubernetes/test-infra/pull/5773#issuecomment-349103021), and I've made a note to those working with the build cluster to enable this again if they change any nodes.
I consider this experimental but it should help if we do see more disk usage (likely when we have higher rates of testing).

[2017-12-04 21:08] stevekuznetsov commented on #4602
I think it's a lot easier for us, as people pretty intimate with the code and the system in general, to understand this. We've pretty consistently seen developers get confused about this exact distinction ever since we moved to using Prow. I think it's pretty clear that there is a messaging gap we should bridge here for developers that are more concerned about tests getting run and being green tha

[2017-12-05 00:11] BenTheElder commented on #5699
I think this should be fine now @cjwagner @ixdy (?)

[2017-12-05 00:25] krzyzacy opened #5805 "make aws janitor cleans up s3://k8s-kops-prow/ as well"
I saw in config.json aws-janitor has `--path=s3://janitor-jenkins/objs.json`, I don't think I have access there, maybe someone want to add the new bucket to the path?

/area jobs
/assign @justinsb @zmerlynn

[2017-12-05 01:32] sosiouxme commented on #4602
On Mon, Dec 4, 2017 at 3:34 PM, Cole Wagner <notifications@github.com>
wrote:

However the comment is re-issued after just one test has failed, while
other retests are still running and so their results in the table are
stale. The comment makes it look like all of the tests have run again and
failed again, when actually only one did.

[2017-12-05 03:50] krzyzacy opened #5808 "Testgrid time display is screwed?"
http://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-small

for example, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/27154 starts at `2017-12-04 19:10 PST` but testgrid displays as `16:59`

/area testgrid
/assign @michelle192837

[2017-12-05 04:15] cjwagner commented on #5699
Seems fixed on my end. Thanks Ben!

[2017-12-05 04:15] #5699 closed

[2017-12-05 07:28] BenTheElder commented on #5210
I haven't seen this since.
FYI @rmmh though

[2017-12-05 07:28] #5210 closed

[2017-12-05 07:29] BenTheElder commented on #5208
We should probably fix this :joy:
/assign
FYI @cjwagner

[2017-12-05 07:30] BenTheElder commented on #5494
/assign
This could still be useful especially now that we're nearly done migrating everything to prow and currently have two different build pools.

[2017-12-05 07:35] BenTheElder commented on #4912
xref: https://github.com/kubernetes/test-infra/pull/5655#discussion_r154221498

[2017-12-05 07:41] BenTheElder commented on #4814
I think we can close this one by deprecating the makefile in favor of @mattmoor's work soon. we can provide a generic config and one specific to our deployment and only auth for our cluster. Something along those lines.

[2017-12-05 10:21] kargakis commented on #4912
Yeah, let's use this issue to track adding a `skip` command.

[2017-12-05 16:59] stevekuznetsov opened #5818 "label_sync: log lines should contain more data"
All log lines should ideally contain the org and repo currently being operated on. A log line like:

[code]

Is not super clear when syncing many repos across multiple orgs.

[2017-12-05 16:59] stevekuznetsov commented on #5818
/area label_sync
/kind bug
/cc @fej

[2017-12-05 16:59] stevekuznetsov commented on #5818
/cc @fejta

[2017-12-05 17:07] stevekuznetsov commented on #5818
/assign

[2017-12-05 20:05] kargakis opened #5823 "log tracing: bubble up failures to retrieve logs"
https://github.com/kubernetes/test-infra/pull/5779/files#r154991620

/area prow

[2017-12-05 20:10] krzyzacy opened #5824 "Bazel build does not do full build anymore?"
i.e. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-bazel-build/226390 finished within 1min and did not actually built anything, even though we do `bazel clean` there :-)

/area bazel
/assign @BenTheElder @ixdy

[2017-12-05 20:22] BenTheElder commented on #5824
Strange. Sometimes it is
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-bazel-build/226398/

On Tue, Dec 5, 2017, 12:10 k8s-ci-robot <notifications@github.com> wrote:

[2017-12-05 21:35] BenTheElder commented on #5824
It's the periodic job that has a broken config, but the same name :/

[2017-12-05 21:45] #5824 closed

[2017-12-05 21:46] BenTheElder commented on #5824
Thankfully this only affected the periodic job in the master branch, the identically-named post-submit is fine and the job is quite green since it's just build and we block on build in pre-submit.

[2017-12-05 21:52] #5208 closed

[2017-12-05 22:08] BenTheElder commented on #3609
/assign

[2017-12-05 22:08] BenTheElder commented on #4825
/assign

[2017-12-05 22:09] BenTheElder commented on #4931
FYI @cjwagner maybe we can at least include the parent job name?

[2017-12-05 22:22] BenTheElder commented on #5431
/assign
@krzyzacy and I are planning to clean up our image layering in Q1, we should fix the maintainer labels then.

[2017-12-05 22:24] BenTheElder commented on #5434
xref: https://github.com/kubernetes/test-infra/issues/5431
xref: https://github.com/kubernetes/test-infra/issues/5708

[2017-12-05 22:24] BenTheElder commented on #5434
This is in our 2018 plans

[2017-12-05 22:25] BenTheElder commented on #4958
cross has been on prow for weeks now using docker in docker, going to move some more builds ~nowish.

[2017-12-05 22:26] BenTheElder commented on #5488
This is getting closer to being something we can do, we should definitely do that when we can.

[2017-12-05 22:48] BenTheElder commented on #5027
I don't think there's anything else useful to this bug, force push can cause issues.

[2017-12-05 22:48] #5027 closed

[2017-12-05 23:08] #5197 closed

[2017-12-05 23:20] #3609 closed

[2017-12-05 23:24] spxtr commented on #5027
We can probably provide more useful information, though.

[2017-12-05 23:26] BenTheElder commented on #5558
There are a few unanswered questions above, but the branch has been set up and running for some time (with a few fixes since then), I think we should close this.

[2017-12-05 23:26] #5558 closed

[2017-12-05 23:28] BenTheElder commented on #5794
This is non-trivial, which e2e job should it run in? How do we know for sure that a new e2e was added?

I agree the concept sounds good, but we'll need a more specific proposal to actually implement this.

[2017-12-05 23:40] BenTheElder commented on #5621
The real fix thus far has been to prevent jobs from being evicted, sidecar logging could still lead to this same problem where we have no results.

@fejta @stevekuznetsov have we thought about using a controller that streams the logs from the pod while the job is running to a buffer and then uploads them to GCS when a pod reaches a status other than running? `deck` can already proxy the log stream

[2017-12-06 00:45] stevekuznetsov commented on #5621
We could do that but at the same time with a sidecar process monitoring the test container anyway we can stream from there. I don't remember the Go GCS bindings having a stream endpoint though.

[2017-12-06 00:53] BenTheElder commented on #5621
If we avoid the logging depending on the sidecar then even if the pod is evicted from the cluster we will still have the logs up until that point somewhere.

[2017-12-06 01:20] BenTheElder commented on #3356
@krzyzacy are there any left under this issues?

[2017-12-06 01:25] BenTheElder commented on #3338
This is on our 2018 roadmap and @krzyzacy and I intend to come up with something.

I want to explore what it would look like to have named first class objects for more things similar to how kubernetes handles its configuration. We'll definitely look into what we can do here soonish.

[2017-12-06 01:35] spxtr commented on #3338
Can we use podpresets yet? I thought those were supposed to have landed by now.

[2017-12-06 01:39] BenTheElder commented on #3338
Maybe, but even if they haven't we can implement something like this in Prow's config. I'd like to keep all of the state visible and reduce the number of files that need to be checked. I think we can probably move any number of highly redudnant sections to named / keyed objects.

[2017-12-06 02:08] BenTheElder opened #5833 "run_if_changed jobs cannot be manually triggered on PRs that do not match"
https://github.com/kubernetes/kubernetes/pull/56554

It seems tentatively that `/test pull-kubernetes-cross` doesn't work since this job doesn't change any files matching the regex. I think we had a discussion about this previously in the comments on another PR but I don't have it handy. This is a regression we should probably sort out AFAIK.

/area prow
/cc @cjwagner @kargakis

[2017-12-06 02:09] BenTheElder commented on #5833
FYI @m1093782566

[2017-12-06 02:10] BenTheElder commented on #5833
I've suggested temporarily adding a `build/do-not-merge-this-file` as a workaround to trigger the test while we sort this out, but that's a pretty ugly hack we shouldn't depend on.

[2017-12-06 02:13] gnufied commented on #5794
Can we not grab name of e2e test file being changed via `git diff` ? We still have to figure out which environment the test should be run in and which e2e job should run it. @BenTheElder can you point me to code that decides which e2e job will run which test?

[2017-12-06 02:16] BenTheElder commented on #5794
e2e jobs are statically configured in `jobs/config.json`

jobs are run based on the files changed, the branch etc, but not the file contents, this is in prow.

[2017-12-06 02:17] BenTheElder commented on #5794
/cc @krzyzacy

[2017-12-06 02:18] BenTheElder commented on #5794
The trick is making this reliable, and then connecting that to actually running it. I don't think that's quite so simple, and we'd need a job to own having probably unreliable new tests regularly run in it, adding spurious failures. Ideally sigs should own jobs now and be monitoring their health...

[2017-12-06 02:24] BenTheElder commented on #5833
see also https://github.com/kubernetes/kubernetes/pull/55289#issuecomment-349509802

[2017-12-06 02:29] cjwagner commented on #5833
The discussion was on #5655.

Since RunIfChanged jobs cannot match `/test all` (enforced by presubmit), my main concern is moot.
The only other downside is the case where a RunIfChanged job is manually triggered and fails and then needs to be ignored for merging, but pushing a new commit should be an okay work-around until we implement a `/skip` command.

[2017-12-06 02:30] cjwagner commented on #5833
I'll make a PR with the change.

[2017-12-06 04:59] fejta commented on #5158
Where is triage defined? I cannot find it: https://github.com/kubernetes/test-infra/search?utf8=%E2%9C%93&q=ci-test-infra-triage&type=

[2017-12-06 07:06] BenTheElder commented on #5612
fixed in https://github.com/kubernetes/test-infra/pull/5613

[2017-12-06 07:06] #5612 closed

[2017-12-06 07:40] BenTheElder commented on #5428
I'm holding on doing this until #5436 is in, then I will add a low frequency job to verify that planter can do `make bazel-build && make bazel-test` against kubernetes/kubernetes master at the very least.

[2017-12-06 08:52] #4931 closed

[2017-12-06 09:51] kargakis opened #5839 "Navigate from root of deck to the rest of its pages"
It should be possible to navigate

from
http://prow.k8s.io/

to
http://prow.k8s.io/tide.html
http://prow.k8s.io/plugin-help.html
...

w/o knowledge of the paths

Maybe via an index page or direct links.

/area prow
@cjwagner @rmmh @stevekuznetsov

[2017-12-06 11:32] kargakis opened #5841 "bot responses need to be configurable"
[These](https://github.com/kubernetes/test-infra/blob/451d6b19b4de881266a9edb90a78c2f737052cf2/prow/plugins/respond.go#L26-L27) responses need to be turned into templates and moved inside the prow config (or plugin config) file.

/area prow

[2017-12-06 17:14] munnerz opened #5843 "prow: dev-release-note functionality"
sig-api-machinery are trying to improve the developer experience when building Kubernetes. We currently have a list of >100 PRs that do not specify release notes as they are solely developer facing changes, however this has caused many problems resulting in end users needing to look through recently merged PRs in order to work out how to fix their own code.

Ideally, there'd be some way for users

[2017-12-06 17:18] munnerz commented on #5843
Sure - I didn't want to be too intrusive to the existing process is all (we end out with something that looks like this comment everywhere)

[code]

[code]

[2017-12-06 17:45] BenTheElder commented on #5843
/cc @cblecker @grodrigues3 @kubernetes/sig-contributor-experience-feature-requests
/kind feature

[2017-12-06 17:56] cblecker commented on #5843
A couple questions:
- When you say "developer" I assume you are talking about "Developers building atop the API (e.g., client libraries, CRDs)", as opposed to contributors to the k8s project directly, or "End users deploying and managing applications (application operators and developers)". Is this assumption correct?
- If so, I also assume that these "Dev Release Notes" would need to be published

[2017-12-06 19:49] cjwagner commented on #5839
I discussed this briefly with @rmmh. Adding some links to the header is probably sufficient given that there aren't many pages right now.

[2017-12-06 20:03] #5760 closed

[2017-12-06 20:22] bgrant0607 commented on #5446
I would like to see the test be driven via API discovery, at least optionally. A subset of results could be considered part of the conformance suite. One way to do that would be to make the set of tests configurable, or to specify the conformance profile each API is part of.

[2017-12-06 21:03] sttts commented on #5843
This.

In every release of Kubernetes which has a matching release of our published libraries, e.g. client-go, apimachinery, etc. We would put the release into the Github release/tag markdown.

[2017-12-06 21:10] BenTheElder commented on #5843
also FYI @cjwagner since this would touch on Tide / Prow

I think this is certainly possible, but before implementing we should have a specific proposal and loop in ContribEx, when you say enforcing do you mean not allowing merge without a value? If so we should probably just add it to all PRs and handle it the same as the existing release note process,.

[2017-12-06 21:20] cblecker commented on #5843
Based on @sttts's answers, I'd suggest this would be more a topic for @kubernetes/sig-release-feature-requests then for contribex.

I would also suggest that perhaps there is a way to flag a release note in the text as being applicable to devs (similar to action required), and use the same release note system we already have.

[2017-12-06 21:26] sttts commented on #5843
/cc @caesarxuchao

[2017-12-06 21:36] caesarxuchao commented on #5843
cc @roycaihw who wrote a doc for similar ideas: https://docs.google.com/document/d/1AlcDeTlX7JOLkC7DEVtT9LRZ8N1bK1hrp8LRuep5joQ/edit#heading=h.5irk4csrpu0y

[2017-12-06 21:51] sttts opened #5846 "Split out publishing bot into its own repo"
The publishing bot now lives within the deprecated github munger at https://github.com/kubernetes/test-infra/tree/master/mungegithub/mungers. The version in master is broken since August and we have been iteratively working on a fixed version in https://github.com/kubernetes/test-infra/pull/4134 (repairing the bot) and https://github.com/kubernetes/test-infra/pull/4888 (adding tagging). We use it

[2017-12-06 21:57] BenTheElder commented on #5846
This SGTM at first blush, pinging some relevant parties:
/cc @cjwagner @kargakis @rmmh @stevekuznetsov :bat: :flashlight:

[2017-12-06 22:02] kargakis commented on #5846
sgtm

[2017-12-06 22:02] #5069 closed

[2017-12-06 22:02] #5833 closed

[2017-12-06 22:13] sttts commented on #5846
Of course, I will create a follow-up PR to remove the publisher from the repo here.

[2017-12-06 22:19] sttts commented on #5843
@caesarxuchao @roycaihw awesome document. Fits perfectly here.

[2017-12-06 22:20] caesarxuchao commented on #5846
lgtm!

[2017-12-06 22:21] apelisse commented on #5846
@thockin, would you be ok if we move that code to `github.com/kubernetes/publishing-bot`? If yes, then would you mind creating the repo? Thanks!

[2017-12-06 22:26] thockin commented on #5846
She, but will not have a chance for a while

[2017-12-06 22:28] rmmh commented on #5846
/lgtm

It doesn't use other parts of mungegithub for anything, extraction should be trivial-- just need to port flag definitions and write main().

[2017-12-06 22:28] sttts commented on #5846
all done.

[2017-12-06 22:45] cjwagner opened #5848 "Make Prow support multiple build clusters."
If we refactor Prow to support multiple build clusters we can run specific jobs in a trusted cluster where they  can be given credentials that are too privileged to host on the current build cluster.

This could potentially be achieved by using multiple `plank` controllers that partition the jobs they handle with label selectors. One controller could be used for each separate build cluster.
I thin

[2017-12-06 22:45] cjwagner commented on #5848
/area prow
/kind feature

[2017-12-06 22:50] spxtr commented on #5848
Which specific jobs do you have in mind that need such credentials?

[2017-12-06 22:53] cjwagner commented on #5846
SGTM as well.

[2017-12-06 22:58] cjwagner commented on #5848
The main use case is for jobs that we want to implement as trusted periodic jobs, but which currently have to implemented as k8s CronJobs. The label_sync tool is an example. The `inactive_review_handler` and `needs-rebase` mungers could both be rewritten as trusted periodic jobs as well.

Another use case would be adapting the `golint` plugin to run automatically as a trusted presubmit that has Gi

[2017-12-06 22:59] thockin commented on #5846
Sgtm

[2017-12-06 23:08] BenTheElder commented on #5848
There's also been some consideration of automatically publishing images for eg test-infra as a post-submit.

[2017-12-06 23:33] cjwagner commented on #5764
/reopen
/assign @Q-Lee

[2017-12-07 01:18] stevekuznetsov commented on #5621
That's a good point.

[2017-12-07 02:51] stevekuznetsov commented on #5846
Seems reasonable

[2017-12-07 03:46] stevekuznetsov opened #5854 "prow: blunderbuss requests reviews from OWNERS even if there are reviewers requested by the PR author"
This seems like a breaking change for workflows -- if I open a PR and I know who should be reviewing it, I tag them in with `/cc`. Before, if I tagged in the appropriate number of people, the bots would not attempt to request reviews from anyone else. Today, two more people get chosen anyway. If I've already chosen people, I don't really want this (and as the people must be net-new, they end up be

[2017-12-07 06:31] fejta commented on #190
Will delete these jobs as soon as we're out of 1.9 freeze

[2017-12-07 06:34] BenTheElder commented on #190
re-ping @dashpole for cadvisor jobs deletion warning ^

[2017-12-07 08:28] BenTheElder opened #5859 "debug unit-prow vs unit"
`pull-kubernetes-unit` is misbehaving on `release-1.8` (see: https://github.com/kubernetes/kubernetes/pull/56900), but strangely `pull-kubernetes-unit-prow` behaves normally even though their configs are nearly identical (https://www.diffchecker.com/EqlPXhKM) (just `imagePullPolicy: Always` and the image tags)

Investigating the bootstrap image tags leads to:

- `pull-kubernetes-unit-prow `has `gc

[2017-12-07 08:34] BenTheElder commented on #5859
I think I can just make the previous-releases-configuration pin to this sha and try that next, if that works I can dig into the images more later. I can't find any differences that should matter between these yet 😕

[2017-12-07 08:50] kargakis commented on #5854
Yeah, I noticed this, too. Is there a sane way to do this now that blunderbuss is event-based?

[2017-12-07 11:18] kargakis commented on #5848
@munnerz also wanted to do something similar. It's possible to do it today with `plank` and label selectors. The only issue that we identified was that deck does not support multiple build cluster configs.

[2017-12-07 11:29] kargakis commented on #4913
@spxtr is this fixed by https://github.com/kubernetes/test-infra/pull/5754? Or do we want to track adding the organization as part of this issue?

[2017-12-07 15:38] #5818 closed

[2017-12-07 16:04] sttts commented on #5846
https://github.com/kubernetes/publishing-bot has been created, thanks @eparis

[2017-12-07 19:24] cjwagner commented on #5854
Blunderbuss could ignore new PRs that contain a `/cc` command, assuming that the command will successfully request a review from someone. However if the command failed for some reason no-one would be requested as a reviewer. This might not be that big of a deal though?

[2017-12-07 19:25] #5839 closed

[2017-12-07 19:28] kargakis commented on #5854
sgtm

[2017-12-07 19:50] kargakis commented on #4912
I have started work on the `skip` plugin.

[2017-12-07 19:51] #5846 closed

[2017-12-07 19:55] kargakis commented on #4912
@BenTheElder can you verify when you see a stale PR that [GetCombinedStatus](https://github.com/kubernetes/test-infra/blob/5df95b42bbcd94f1e45ee1996bbc5c6745f487fe/prow/github/client.go#L805) for its HEAD does include the stale context?

[2017-12-07 20:16] G-Harmon commented on #4080
Looks like it's not sync'ing again. I was bit by this while revendoring a repo I'm working in. The last sync commit is from Oct 27 (https://github.com/kubernetes/api/commits/master)

[2017-12-07 20:31] stevekuznetsov commented on #5854
Yeah, that seems reasonable to me as well

[2017-12-07 20:39] fejta commented on #3579
/assign @sttts

Isn't this now in https://github.com/kubernetes/publishing-bot?

[2017-12-07 20:42] #4913 closed

[2017-12-07 20:49] sttts commented on #4080
@G-Harmon we are near to another push right now (and also full nightly synching again), please check https://github.com/kubernetes-nightly/client-go. If all tests pass (being run now), we will copy those branches to github.com/kubernetes/client-go again.

[2017-12-07 21:10] BenTheElder commented on #4912
@kargakis I can in a bit, I need to debug #5859, @cjwagner would you have a second to verify this? If not I can later, I definitely want to see this sorted out.

[2017-12-07 21:27] cjwagner commented on #4912
I can verify it if I could find such an example, but I don't see any PRs that have a stale context.  I tried to reproduce by pushing a new commit to kubernetes/kubernetes#55339 after having run the `pull-kubernetes-cross` job manually, but the context was skipped properly.

[2017-12-07 22:37] BenTheElder commented on #190
@dashpole and I discussed this today. I will assist him with looking at migrating cadvisor to Prow soonish, nobody wants to run a jenkins cluster :+)
When we do we will see if it is possible to move the heapster jobs in the same fashion.

[2017-12-07 23:36] BenTheElder commented on #5859
This is solved, thanks to some help from @yujuhong to make sure we don't just sidestep a real problem:

Mounting tmpfs to /tmp would certainly work around the issue

...

This explains things, we can continue to mount the tmpfs as a reasonable solution, and we're definitely aware of the limitations related to this package now.

[2017-12-07 23:38] BenTheElder commented on #5859
To elaborate, it should be the case that:
- docker uses overlayfs on GKE / COS
- docker uses AuFS on our debian-based Jenkins nodes
- inotify doesn't behave properly in all situations when on overlayfs
- mounting a memory backed tmpfs to /tmp avoids this

[2017-12-07 23:47] yujuhong commented on #5859
For posterity, the exact issue is that when watching a single file (i.e., not a directory), inotify watcher would not receive any "modified" event for that file. In practice, kubelet is usually configured to watch a directory, so it'd not run into this problem even if you run a containerized kubelet.

[2017-12-08 00:45] BenTheElder commented on #5449
This has been improved, I've migrated to a ~50/50 split on n1-highmem-8 and n1-standard-4 nodes now so more of our nodes can handle large tasks we've moved from jenkins, and also increased the total number of nodes a bit more.

[2017-12-08 01:04] krzyzacy commented on #3356
yeah closing :-)

[2017-12-08 01:04] #3356 closed

[2017-12-08 01:08] BenTheElder commented on #3778
https://github.com/kubernetes/test-infra/issues/3356 is now closed, all presubmit-blocking jobs will be back off of jenkins after https://github.com/kubernetes/test-infra/pull/5866 xref: https://github.com/kubernetes/test-infra/issues/5859#issuecomment-350128126

[2017-12-08 02:03] krzyzacy commented on #5808
(seems not happening anymore)

[2017-12-08 02:03] #5808 closed

[2017-12-08 03:00] #5859 closed

[2017-12-08 03:35] BenTheElder commented on #5848
/cc @perotinus who could probably take advantage of this to improve security around nightly image push.

[2017-12-08 04:55] sttts commented on #3579
Yes, let's close this here.

[2017-12-08 04:55] #3579 closed

[2017-12-08 09:08] #5793 closed

[2017-12-08 12:46] porridge commented on #5700
Can you please take a look at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8754 - was this an eviction?

[2017-12-08 16:07] viglesiasce opened #5874 "PR testing jobs not launching with "Error finding Jenkins job.""
Hey Team!

Test jobs are unable to launch and the status in Github shows "Error finding Jenkins job."

Two examples from different projects:
https://github.com/kubernetes/heapster/pull/1907
https://github.com/kubernetes/charts/pull/2962

[2017-12-08 16:07] viglesiasce commented on #5874
cc @mattfarina

[2017-12-08 16:15] mattfarina commented on #5874
/kind bug

[2017-12-08 16:19] BenTheElder commented on #5700
8754 and 8755 had builder (pod UUID) `5814b78c-dc09-11e7-9214-0a580a6c0130` which does not appear to be a pod in the cluster currently, however we also don't have any results for `evict` as far back as the logs go however I also see it being scheduled twice potentially.

`2017-12-08 03:55:45.000 PST
Successfully assigned 5814b78c-dc09-11e7-9214-0a580a6c0130 to gke-prow-pool-n1-highmem-8-81ce4395-c

[2017-12-08 16:31] BenTheElder commented on #5700
It definitely looks like that job was rescheduled to me, however I don't see anything in the cluster logs to suggest why. There are not any `NodeHasDiskPressure`, `evict`, `OOM`, ...

Looking through the logs specifically for that node however, I see a number of entries like `2017-12-08 03:55:40.000 PST Pod sandbox changed, it will be killed and re-created.` around that time:

[code]

[2017-12-08 16:50] BenTheElder commented on #5874
xref: https://github.com/kubernetes/test-infra/issues/190 heapster and cadvisor have special jenkins VMs apparently. I'll try to take a look at this, but I suspect the jenkins-operator in prow @cjwagner @kargakis

[2017-12-08 17:54] michelle192837 commented on #5808
Oh, I meant to update this earlier. From what I can tell, it looks like TestGrid was reporting the correct time as specified in started/finished.json, so for future we'd want to look at why the Gubernator page is reporting what it is?

[2017-12-08 18:00] BenTheElder commented on #5808
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/27154/started.json
`"timestamp": 1512443459` -> `Monday, December 4, 2017 7:10:59 PM GMT-08:00`
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/27154/finished.json
`"timestamp": 1512444769` ->  `Monday, December 4, 2017 7:32:49 PM GMT-08:00`
?

[2017-12-08 18:05] BenTheElder commented on #5700
I will investigate this further later, presubmit Jenkins seems to be completely down. I want to know how this happened however. So far this doesn't make sense.

[2017-12-08 18:12] BenTheElder commented on #5874
I can access the agents but not the control plane currently, the VM is up however. Tentatively it looks like PR Jenkins gave out around 3PM last night. 😕

Please consider helping move heapster and charts presubmits to Prow where we have better (kubernetes!) tools for this sort of problem.

[2017-12-08 18:24] michelle192837 commented on #5808
Nvm, I don't know what I managed to check last time. ._.

[2017-12-08 18:52] piosz commented on #5874
Thanks @viglesiasce for filling this.

@BenTheElder we will definitely migrate to Prow, but at this point we are about to launch `v1.5.0` and the problem with e2es blocks the process. I doubt whether we will be able to migrate to Prow by Monday, so any helps with making it work would be appreciated.

cc @kawych @x13n

[2017-12-08 19:03] BenTheElder commented on #5874
I've gotten onto the master and eventually decided to reboot, it seems to many files were open, however the control plane still does not seem to be healthy after reboot.

I will continue to look into this, and I'm also trying to find someone with more knowledge of the Jenkins PR cluster but we really should consider moving these jobs instead, depending on what they are doing it may be trivial and

[2017-12-08 19:31] BenTheElder commented on #5874
PR jenkins should be back online now, please let me know if you see any futher issues.

[2017-12-08 19:31] #5874 closed

[2017-12-08 20:50] fejta commented on #5874
Migrate to prow? 😈

[2017-12-08 22:02] BenTheElder commented on #5700
I just wanted to update that @dashpole and I are digging pretty deep into the node it was first scheduled on to diagnose this, so far it does not look to be any sort of eviction, nor have we seen any other ones, so it is most likely a new issue.

[2017-12-08 22:46] BenTheElder commented on #5700
@shyamjvs @porridge

@yguo0905 and @dashpole and I debugged the node and found what happened:
- the boskos janitor is leaking threads (gcloud processes?)
- this caused pthread_create to fail on the node when the kubelet ran docker ps to check the node health
- this triggered restarting docker since the health check failed
- ... which caused the pod to be rescheduled due to docker being aborted

We

[2017-12-08 22:58] BenTheElder opened #5877 "janitor leaks processes, destabilizing the node"
see: https://github.com/kubernetes/test-infra/issues/5700#issuecomment-350391209
additionally a previous issue: https://github.com/kubernetes/test-infra/issues/4892

I'm looking into this.
/assign
/priority critical-urgent
/area boskos

[2017-12-08 23:02] BenTheElder commented on #5877
`ps aux` on the node gives a large number of entries like:
 `root     32762  0.0  0.0      0     0 ?        Zs   14:08   0:01 [python2] <defunct>`

which trace back to:
[code]

[2017-12-08 23:11] BenTheElder commented on #5877
[code]

[2017-12-08 23:23] BenTheElder commented on #5877
for context into how excessive this is:
[code]
still looking for the root cause, we call `gcloud` a lot which I believe is also python so it's possible that gcloud has a bug instead...

[2017-12-08 23:25] BenTheElder commented on #5877
This node is now tainted (should have done this earlier), we will need to un-taint it after debugging.
[code]

[2017-12-08 23:28] viglesiasce commented on #5874
Got any pointers? We'd be happy to.

On Fri, Dec 8, 2017, 2:50 PM Erick Fejta <notifications@github.com> wrote:

[2017-12-08 23:35] BenTheElder commented on #5874
@viglesiasce Prow runs a kubernetes pod with one container for each job, we then build an image based on our runner which currently handles logging, artifact upload etc (to be moved out potentially in the future).
These jobs should already be running with the runner script (`jenkins/bootstrap.py`) but we need to get them containerized and away from using anything special in the jenkins projects.

[2017-12-08 23:37] BenTheElder commented on #5874
Some bit of pointer here: https://github.com/kubernetes/test-infra#create-a-new-job

I'd be happy to create the actual configuration entries in `prow/config.yaml` and `jobs/config.json` but I'd appreciate help figuring out what these tests need to run and making sure we can containerize that and eliminate any dependency on the GCP project they are currently in with Jenkins.

[2017-12-09 00:01] BenTheElder commented on #4892
I'm not sure if we've hit the same issue again, but this time the broken janitor job effectively broke a node which caused jobs to be re-scheduled. This is a bit concerning because some jobs should not be interrupted (scalability) and we can't fix that unless we fix the janitor leak.

[2017-12-09 00:11] BenTheElder opened #5879 "Feature request: display filter count in deck"
It would be great if we could update deck to show at minimum a count of the total number of jobs running (possibly this could be another page, but I think "Prow Status" would cover this).

I think we can do this purely in the static site content, but I'd love for users to be able to more easily grasp the scale of kubernetes testing.

We could place this somewhere in the "filter" bar and show a cou

[2017-12-09 00:41] BenTheElder commented on #5877
What's weirder is that the zombie processes all seem to have the boskos janitor binary as their parent, which only execs with `.Run()` and `.CombinedOutput(...)` as far as I can tell, which should both ultimately call `Wait()` so we shouldn't be seeing zombies. :confused:

[2017-12-09 03:50] spxtr commented on #5848
While there are valid cases for a separate trusted build cluster, I want to make clear that certain types of programs should not be run as prowjobs. As a general rule, anything that acts as `k8s-ci-robot` on GitHub should probably not be running as a prowjob.

The `golint` plugin can be turned into an external plugin running in the main prow cluster. We can add `pylint`, `shellcheck`, and so on ex

[2017-12-09 03:56] krzyzacy commented on #5877
hummmm, xref https://github.com/kubernetes/kubernetes/issues/54313 - probably because of the million `gcloud foo` calls in the actual janitor script

[2017-12-09 03:56] krzyzacy commented on #5877
I probably can add some health check for each janitor pod

[2017-12-09 04:13] BenTheElder commented on #5877
@krzyzacy we specifically need to avoid process exhaustion on the host, so we should make sure these child processes get cleaned up.

[2017-12-09 05:05] krzyzacy commented on #5877
@BenTheElder the node is still around? my current idea is after each sync loop in the janitor, I can look for leaked gcloud processes and wipe them up

[2017-12-09 05:06] BenTheElder commented on #5877
@krzyzacy the node itself is fine, but it caused docker to restart which broke jobs. I have the node quarantined for debugging since prow demand is low currently anyhow.

We can look for leaked processes and wipe them up pretty easily, but this is a bit of a bandaid. they shouldn't be leaking to begin with.

[2017-12-09 05:08] BenTheElder commented on #5877
Also the rate they accumulate is pretty bad:
[code]

[2017-12-09 05:18] krzyzacy commented on #5877
/shrug
obviously ssh doesn't work here :-(

[2017-12-09 05:44] krzyzacy commented on #5877
hummmm, in janitor.py we are only using `subprocess.check_call` and `subprocess.check_output` which both of them should be blocking though. Trying to find some reference online.

[2017-12-09 05:47] BenTheElder commented on #5877
Yeah, I'm starting to think gcloud might be leaking processes internally, I'm starting to look at building the "bandaid" in the go janitor :(

[2017-12-09 05:49] BenTheElder commented on #5877
There is actually a small library specifically for this use case: https://github.com/ramr/go-reaper

[2017-12-09 05:50] krzyzacy commented on #5877
maybe we can also recycle the janitor pods (like set a max-lifetime for like 1h for each instance), if  that's easier

[2017-12-09 06:08] BenTheElder opened #5882 "considering moving boskos image to bazel"
boskos already builds with bazel and has a very simple image, we could use rules_docker to build this.

/area bazel
/area boskos
/assign
/cc @krzyzacy

[2017-12-09 06:10] krzyzacy commented on #5882
yeah, it can just be a `image_go` as @mattmoor 's prow stuff
/assign

[2017-12-09 06:32] BenTheElder commented on #5882
I'll open a PR for this after https://github.com/kubernetes/test-infra/pull/5883

[2017-12-09 07:12] #5877 closed

[2017-12-09 23:21] BenTheElder commented on #5877
"re-fixed" in https://github.com/kubernetes/test-infra/pull/5885

[2017-12-09 23:23] BenTheElder commented on #5700
The janitor leaks were resolved yesterday, and today I put out what should be a better mitigation against this in https://github.com/kubernetes/test-infra/pull/5885, however it's still possible for a random job to consume lots of PIDs on the host leading to the same kind of pod rescheduling.

There is no mitigation for this yet in kubernetes, I've attempted to re-raise this issue.

[2017-12-09 23:33] BenTheElder commented on #3787
/assign
I want to improve this logging portion of this in Q1.

We can at least see the prowjob yaml in the re-run link on deck for now, but we should log this to GCS.

I'm at least logging the image name where possible now so we know the image revision that was used, which makes the build log mostly sufficient to trace back how a job was run since we already log the scenario args, but this could b

[2017-12-09 23:39] BenTheElder opened #5886 "Possible Testgrid Bug?"
<img width="1178" alt="screen shot 2017-12-09 at 3 25 02 pm" src="https://user-images.githubusercontent.com/917931/33800489-40253360-dcf5-11e7-981b-3e2eb635a3ee.png"></img>
[https://k8s-testgrid.appspot.com/sig-scalability-gce#Summary](https://k8s-testgrid.appspot.com/sig-scalability-gce#Summary)

There are some failed jobs back on 11-20 and prior but all recent runs appear to be totally green, I

[2017-12-10 03:41] BenTheElder commented on #5877
Additionally this is not particularly new, but for reference the complete diagnosis and solution are:

-  zombie processes pile up, filling the PID space and we cause `docker ps` to fail so the kubelet health check fails and decides to restart docker, which interrupts our jobs on the node.
- we see lots of `python2 <defunct>` piling up on the machine, and suspect the janitor since it appears to be

[2017-12-10 03:49] BenTheElder opened #5887 "Ensure zombies don't take over our nodes"
Ok I got you with the title, but it's true, xref: https://github.com/kubernetes/test-infra/issues/5877

We should make sure all of our images at least have the shell as an entrypoint, this is a very cheap (in effort and runtime cost), zero-dependency way to help ensure that zombie processes are cleaned up.

This is important because many of our images can exist in long-lived containers which call

[2017-12-10 03:51] BenTheElder commented on #5887
More specifically xref: https://github.com/kubernetes/test-infra/issues/5700#issuecomment-350255095 and below, https://github.com/kubernetes/test-infra/issues/5877#issuecomment-350522942, previous mitigation for the boskos janitor: https://github.com/kubernetes/test-infra/pull/5885

[2017-12-10 08:15] BenTheElder commented on #5665
Not sure if this is meant to be included above, but I've recently thought it would be cool to:
- [ ] allow deck to hit public deck for prowjobs, so you can test deck UI against real data

[2017-12-11 01:12] spxtr commented on #5665
It kindof can already, see [`cmd/deck/runlocal`](https://github.com/kubernetes/test-infra/blob/6468d9bbc6bfac61e59fac5c1ab0fecb36f4a668/prow/cmd/deck/runlocal)

[2017-12-11 02:26] krzyzacy commented on #3774
(done)

[2017-12-11 02:26] #3774 closed

[2017-12-11 02:28] krzyzacy commented on #2629
it does now

[2017-12-11 02:28] #2629 closed

[2017-12-11 02:29] krzyzacy commented on #3358
w/ @BenTheElder we've added default resource request and specific requests for couple bazel/scalability jobs

[2017-12-11 02:29] #3358 closed

[2017-12-11 02:32] krzyzacy commented on #4824
s/200/300? 😂

[2017-12-11 03:31] BenTheElder commented on #5494
we're at least debugging the image name, and it's possible to track jobs back to a node in the stackdriver logs given the "builder" (pod UUID), but this would still be nice.

[2017-12-11 03:33] BenTheElder commented on #4638
This was discussed some more off and on, but we haven't planned exactly how we want to implement this yet and it doesn't seem terribly urgent at the moment.

[2017-12-11 03:34] BenTheElder commented on #4409
I still want to do this, it just hasn't been important.

[2017-12-11 05:23] BenTheElder commented on #5436
We really just need better caching mechanisms, we can semi-trivially pack more jobs onto larger nodes, but we can only get quota so many local SSDs for caching.

What we need to do is remove having the node be exclusively held by every presubmit until it completes in order to use the cache SSD at all, the majority of jobs waiting to schedule are just waiting on `NodeHasHostPorts` while the cluster

[2017-12-11 05:25] BenTheElder commented on #5436
/cc @krzyzacy this is an issue for the Jenkins -> Prow migration. We're bottlenecking jobs pretty bad on the SSD / node port.

[2017-12-11 05:31] krzyzacy commented on #5436
(let's see how'd 🔥  will be after code freeze)

[2017-12-11 05:39] krzyzacy commented on #4867
I remember we did not include it because of the size of the aws sdk? (since we clone test-infra before each of our ci job)

[2017-12-11 05:41] BenTheElder commented on #5436
We don't really have to wait for code freeze to canary test the read-only parts, and [the code freeze ends tomorrow anyhow](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline). We should at least begin exploring:
- split docker data-root per-repo
- split ports / affinities to match
- try canary testing `git clone --reference /path/to/cache --dissociate ...`, if

[2017-12-11 05:42] krzyzacy commented on #4597
/close
this is due to some busted Jenkins agent and is stale now

[2017-12-11 05:42] #4597 closed

[2017-12-11 05:42] BenTheElder commented on #4867
Yeah, our `dep` files are now explicitly ignoring it. We could fix this by fixing #4794 and #5436 and #3369

[2017-12-11 05:46] BenTheElder commented on #4867
Alternatively we could checkout test-infra without vendor, but I really think instead of implementing this we should remove the need to checkout test-infra.
We can put all config in config.yaml when we're done with jenkins and then we just need to put the scenarios and bootstrap into the image, and decide how we want to handle the infra-commit metadata for gubernator/test-grid.

[2017-12-11 06:26] BenTheElder commented on #4814
Mungegithub is going away, and I plan to split the prow configuration into "reasonable for anyone to get started with" and "as used specifically for our production deployment with any idiosyncrasies we have". I'm hoping @cjwagner and @kargakis can help with this, possibly also @mattmoor xref https://github.com/kubernetes/test-infra/pull/4934

This should hopefully be a reasonable enough compromise

[2017-12-11 06:27] BenTheElder commented on #4891
We do serve the serialized config now, but I didn't get to plugins.yaml or anything more complex.

[2017-12-11 06:28] BenTheElder commented on #5431
xref: #5434

[2017-12-11 06:35] BenTheElder commented on #3633
This went a bit stale, we have streaming log output in deck, though not by default (add `&follow=true` to log links) but somewhere along the line this times out after ~30s. I'd guess the ingress.

[2017-12-11 08:16] spxtr commented on #4814
That's the idea behind `starter.yaml` :)

[2017-12-11 08:20] BenTheElder commented on #4814
Yeah, That doesn't cover the whole process though. This issue is about the makefiles being specific to our cluster, which we don't seem to really have an equivalent for with `starter.yaml`. I want to handle the top-to-bottom build-and-deploy for both when we put the work into having `rules_k8s`.

[2017-12-11 09:22] porridge opened #5893 "spontaneous Prow jobs triggers"
According to schedule, that job should have started on 2017-12-09 13:00 UTC, and it did, as [run 26](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/26).
However after having ran for ~6.5h, right after it has completed at 19:25:27.287 UTC, it was started again as [run 27](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-ku

[2017-12-11 09:26] porridge commented on #5893
Might be related to https://github.com/kubernetes/test-infra/issues/5700

[2017-12-11 09:34] krzyzacy commented on #5893
[code]

from the log cron only triggered the first run - I suspect someone manually triggered the job, digging deeper

[2017-12-11 09:49] krzyzacy commented on #5893
(we probably want to log when plank create pods as well? maybe optional, but might be useful)

[2017-12-11 10:01] krzyzacy commented on #5764
fyi it's still happening
[code]

[2017-12-11 14:14] danwinship opened #5894 "better subject line for cherrypicker"
experiment/cherrypicker (which I assume is what @openshift-cherrypick-robot is running?) creates subject lines like "Automated cherry-pick of #17662 on release-3.8", which is terrible. It should include the original subject line so you can actually figure out what it is (cf https://github.com/kubernetes/kubernetes/pull/55598).

/assign @stevekuznetsov

[2017-12-11 15:43] stevekuznetsov commented on #5894
/assign @kargakis
/unassign
/kind feature

[2017-12-11 18:03] michelle192837 commented on #5886
This is WAI. Number of recent runs is 10 by default, and AfterSuite isn't being discounted yet because we look for failing results in recent runs. If there were a passing run for AfterSuite this wouldn't report failing, but the most recent result in the last 10 runs has a failure for AfterSuite instead.

This can be waited out with a few more runs, or the number of recent runs on this test group/d

[2017-12-11 18:20] porridge commented on #5886
If this is WAI on testgrid side, then perhaps it should be fixed on the e2e
framework side, to report green status for AfterSuite (etc)?

[2017-12-11 18:45] BenTheElder commented on #5886
WAI on e2e side as well I think, we don't put green for things that don't
run. Hmm

On Mon, Dec 11, 2017, 10:20 Marcin Owsiany <notifications@github.com> wrote:

[2017-12-11 19:10] cjwagner commented on #5848
@spxtr Why do you consider automatically publishing artifacts to a trusted location a valid use of a trusted cluster, but not things like the inactive_review_handler or needs-rebase munger? They are both periodic jobs that needs privileged credentials.

I think the downside to using k8s cronjobs instead of periodic jobs is the extra management effort to redeploy them whenever they are updated. If

[2017-12-11 19:31] BenTheElder commented on #5893
FYI I had to do a few other things (meetings) but I am digging into this, so far there's not anything suspicious in the logs and I suspect this was genuinely triggered twice somewhere in plank or kubernetes.

[2017-12-11 19:52] BenTheElder commented on #5893
:+1: I can see sinker logging the pod deletions but nothing about the pod creation in the prow logs. It is however possible to do some more tracing through the prow-builds logs. I've not been able to find anything useful enough to root-cause this yet though :(

[2017-12-11 20:28] kargakis opened #5895 "Test that does not have a status shows up in comment report"
See https://github.com/openshift/origin/pull/17506#issuecomment-350840261

`ci/openshift-jenkins/extended_conformance_crio` does not show up in github contexts since it's configured with [`skip_report: true`](https://github.com/openshift/release/blob/be09f45c06a2cedd3fc4402470b83e7eadca3ff5/cluster/ci/config/prow/config.yaml#L274) but was included in the bot's report.

/area prow
/kind bug

@cjwag

[2017-12-11 20:55] kargakis commented on #5893
You can turn on debug `log_level`, all client calls (including to Kubernetes) are logged in that level. Adding pod creation as info is not unreasonable.

[2017-12-11 20:58] BenTheElder opened #5896 "Feature request: make testgrid summary widget embeddable on github"
Discussed this at standup today: something like [the summary widgets](https://k8s-testgrid.appspot.com/q/summary/presubmits-test-infra) would be great to embed in GitHub READMEs similar to travis-ci badges etc. Perhaps at a different endpoint in SVG or PNG (since we can't just `iframe` the existing widget).

As an aside: could we also brighten up the green in particular? People like their shiny ba

[2017-12-11 21:11] BenTheElder commented on #5843
@caesarxuchao @stts that looks pretty good to me, I think the problem is that this requires prow jobs to have GitHub API access.

Possibly we could do this the way @fejta-bot works, which is to just comment on the PR with `/command foo` with a token / account that has no special privileges and then have prow convert this to adding a label. The downside to this is that we wouldn't be restricting th

[2017-12-11 21:17] cjwagner commented on #5764
My PR didn't stop the spam on its own because the metric pushing logic only reads the `push_gateway` config when initializing `plank` or `jenkins-operator`.  Killing the pods forced the config to be reloaded.

@Q-Lee We should change this behavior. Updating the push interval or endpoint in the config shouldn't require a restart of the entire controller.

[2017-12-11 22:15] cjwagner commented on #5895
/assign

[2017-12-11 22:35] cjwagner commented on #5895
The context appears in the report comment for an older commit because when it ran on that commit (13 days ago) `skip_report` was not yet set to true by this commit: https://github.com/openshift/release/commit/534d08b833b81ee41221285d52bf470be193cce6 (10 days ago)

[2017-12-12 01:07] BenTheElder commented on #5893
@porridge I think we will have to punt on this until we see another one, hopefully we will get appropriate logging before this happens again if it does. I've taken another look through and I don't seem to have enough info on this. We should log the job start from plank and get that out O(soonish).

[2017-12-12 02:32] BenTheElder opened #5898 "fix the report_status run_after_success canary job being on the wrong branch"
I keep getting away from fixing this, will get to this next...
https://github.com/kubernetes/kubernetes/pull/55289#issuecomment-349771661

/assign

[2017-12-12 04:25] #5898 closed

[2017-12-12 05:54] spxtr commented on #5848
Prow components should all live in the same place and look the same. They should have the same deployment, logging, and monitoring. Automatically publishing artifacts isn't a prow component. It's a general CI/CD step that most people using Jenkins or buildbot or whatever will end up setting up. It makes total sense to have the nightly build, test, and deploy jobs be prow jobs.

This is a general d

[2017-12-12 06:31] BenTheElder commented on #5848
This sounds right to me, but I do want to mention that I don't think we should stress "sticking to kubernetes" *too* strongly... [we often need to work around things in Kubernetes that aren't solved  yet](https://github.com/kubernetes/test-infra/blob/78370f210c9332caca697cd01170318c3fc5e838/experiment/prow_builds_enable_soft_eviction.py#L20). We can provide Kubernetes (and hopefully others!) with

[2017-12-12 06:50] BenTheElder opened #5905 "consider publishing a bazel equivalent of ci/latest"
I don't think we're doing this anywhere (?), we should probably move the kubeadm periodic jobs to consume this if / when it exists so we can throttle the rate they run at seperately from the CI bazel-build jobs. xref: https://github.com/kubernetes/test-infra/pull/5904#discussion_r156280975

/cc @krzyzacy @ixdy
/area bazel
/area jobs

[2017-12-12 08:25] BenTheElder opened #5907 "kubetest: log when flushing after build"
I don't want these to be xmlWrap results in the build log that developers care about on testgrid etc, but we should still put some note in the log that we did indeed try to flush the memory

also: we should verify that this is working by monitoring some e2e jobs

/area kubetest
/kind feature
/assign
FYI @krzyzacy

[2017-12-12 08:35] sttts commented on #5843
Where is the current release-note logic? Can't we re-use that code?

[2017-12-12 08:42] BenTheElder commented on #5843
It's in [prow/plugins/releasenote](https://github.com/kubernetes/test-infra/tree/748d9bcf726ebe21621633b46d7cb17cf76d634d/prow/plugins/releasenote), but it's not a prow job and I don't think it inspects the file contents so the above doc wouldn't quite match up. It would certainly be more straight forward to do a prow plugin / extend the releasenote plugin but the sticking point would probably be

[2017-12-12 09:03] sttts commented on #5843
got it.

[2017-12-12 18:47] BenTheElder opened #5910 "hide pods from hidden repos"
from a discussion with @cjwagner, hidden_repos is nice but probably isn't sufficient if you can guess pod IDs, deck should restrict all endpoints from showing these repos

/area prow
/kind bug

[2017-12-12 21:42] cblecker opened #5915 "expand all on plugin help page"
Would be great if there was an "expand all" link on the plugin-help page

/area prow
/cc @cjwagner

[2017-12-12 21:49] chrislovecnm opened #5916 "AWS HA Testing with kops"
Thanks, @nckturner this is the issue that I mentioned I would file, please take a look and let me know what questions you have.

This is an outline of the changes that need to occur in test-infra in order for HA testing with kops.   These test runs are a start at fulfilling https://github.com/kubernetes/kubernetes/issues/54511.

## Using regions with 3 AWS AZ

The typical kops setup for an HA cont

[2017-12-12 21:51] chrislovecnm commented on #5916
/area prow
/sig aws

[2017-12-12 21:52] chrislovecnm commented on #5916
/cc @krzyzacy

[2017-12-12 22:02] stevekuznetsov commented on #5915
/kind feature

[2017-12-12 22:43] cjwagner commented on #5915
/assign

[2017-12-12 23:24] BenTheElder commented on #5916
xref: https://github.com/kubernetes/test-infra/pull/5880#issuecomment-350933543

can you also take a look at this^ @chrislovecnm? there's some ongoing work to make sure all AWS testing is using the official account from / credited by AWS and we need to coordinate with them (@arun-gupta) on quotas and how much we test.

[2017-12-12 23:27] BenTheElder commented on #5887
I still need to audit this, but we haven't seen anything like this so it's slightly on the back burner. the majority of our images are not (intentionally) using process trees so we *should* be fine but I want to take a closer look.

[2017-12-13 00:32] BenTheElder opened #5919 "document tide"
Tide needs a README with a brief overview we can point anyone too (not just those who wish to develop it) and a quick description of key features like batch testing / merge. we should put some details on configuring it below or perhaps in a seperate (linked) doc.

/area prow
/kind documentation
/assign
/assign @cjwagner
FYI @yutongz
/cc @kargakis @stevekuznetsov

[2017-12-13 00:33] BenTheElder commented on #5919
also FYI @mattfarina

side note: @kargakis @cjwagner I think we almost might need to start making the area/prow be `area/prow/tide`, `area/prow/deck`... :thinking:

[2017-12-13 00:53] spiffxp commented on #3851
And that's all of them merged, can now remove the code that parses this field

[2017-12-13 00:56] cblecker commented on #5919
+1 to area/prow/*

[2017-12-13 01:10] BenTheElder opened #5921 "make deck redirect to https"
previously: https://github.com/kubernetes/k8s.io/issues/95

/area prow
/assign
/cc @cjwagner

[2017-12-13 01:12] BenTheElder commented on #5921
We should have an optional HTTPS redirect for deck, also we need to update our kube-lego config to point to a working email address and we probably should update it.

I'll check later but I'm pretty sure my personal kube-lego instance is two patch versions newer and hasn't been seeing all the restarts we're seeing.

[2017-12-13 01:52] BenTheElder commented on #5436
shared-builds are looking pretty good tentatively, thanks @cjwagner for fixing the statuses and @luxas for letting me steal a copy of kubeadm to kanary and for continuing to use shared-build even when we weren't convinced it was going to work out :-) !
see: https://github.com/kubernetes/test-infra/pull/5832#issuecomment-351230605

[2017-12-13 02:44] cjwagner commented on #5921
dup https://github.com/kubernetes/test-infra/issues/5282

[2017-12-13 02:47] BenTheElder commented on #5282
I don't think this is necessary, it should be easy to optionally route this in deck. We can just insert all our routing behind an HTTPS check method before continuing on to the actual router in main if we detect that this has been enabled.

[2017-12-13 02:48] BenTheElder commented on #5921
closing as a dup :upside_down_face:

[2017-12-13 02:48] #5921 closed

[2017-12-13 02:48] BenTheElder commented on #5282
/assign
/kind bug

[2017-12-13 03:03] BenTheElder opened #5922 "run_after_success behavior when testing both the parent and child job needs fixing"
If you `/test` both a parent and child job, you trigger both immediately if there is a previous run of the parent job. I'm not sure what we want to do here, but I think this is going to need discussion before we can rely on `run_after_success` / shared builds. At the very least we have a problem with the status being inaccurate:

comment & status:
![image](https://user-images.githubusercontent.com

[2017-12-13 03:07] BenTheElder commented on #5922
From the kubeadm canary:
[code]
Since we're using the `PULL_REFS` to key where the shared builds are at, I think this will fall back to doing a local build if you push a new commit and then `/test child` as well, which is not ideal :confused:

[2017-12-13 05:19] BenTheElder commented on #5483
this is still a bit of a pain point. https://github.com/kubernetes/kubernetes/pull/57126#issuecomment-351283215
/cc @mindprince see above: https://github.com/kubernetes/test-infra/issues/5483#issuecomment-344335315

[2017-12-13 05:36] BenTheElder commented on #5032
https://github.com/kubernetes/features/issues/383 :(
Can we re-raise this with GitHub? Does anyone have an existing point of contact with them?

[2017-12-13 06:43] krzyzacy opened #5923 "Keep starter.yaml valid"
I'm trying to deploy a staging prow, but found images in starter.yaml are outdated after https://github.com/kubernetes/test-infra/pull/5913 (deck was even at 0.69, for instance).

We probably want to somehow auto publish the image after each bump, or else when someone want to try out prow it will not work.

I'll try to add a job to deploy starter.yaml everyday later.

/area prow
/assign @cjwagner

[2017-12-13 06:50] yutongz commented on #5919
That would be super helpful!

[2017-12-13 06:54] BenTheElder commented on #5923
@krzyzacy we could probably do this easily as a post submit after we get #5848

[2017-12-13 15:48] stevekuznetsov commented on #5887
Do we know what the longer-term k8s vision is for this space? It seemed like the `pause` container was going to solve this issue but it was turned on by default at a time that it should not have been -- can we still enable it for the GKE clusters where the applications are running? In my opinion it would be cleaner to make use of an external platform feature over having to change the entrypoint fo

[2017-12-13 15:53] stevekuznetsov commented on #5436
I was messing around also with using a main `git` checkout on the SSD volume and `git submodule` to disseminate checkouts to other volumes that tests would use -- seemed like one possible option for concurrency at least on the checkout step.

[2017-12-13 15:54] BenTheElder commented on #5887
Longer term k8s should get PID tracking and a global limit in the kubelet
(lower than the host).

We don't need to change applications that aren't forking, and a single
process per container is already the recommended use of docker. If we are
forking though it's easy for us to put the entry point behind something
that reaps zombies. PID limits will be *much* better long term as we could
still exha

[2017-12-13 17:49] grodrigues3 commented on #5344
/assign @marun (I believe he's working on this)

[2017-12-13 19:15] mml opened #5927 "Broken links in gubernator test failure"
E.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-default-latest-upgrade-cluster-new/155 links to https://github.com/None/blob/a56b70fc480cec/test/e2e/lifecycle/cluster_upgrade.go#L137

[2017-12-13 19:16] mml opened #5928 "Please add "file a bug" link to gubernator test failure pages"
E.g., on https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-default-latest-upgrade-cluster-new/155 one click to file #5927 would have been *awwwwwwesome*.

Thank you very much.

[2017-12-13 19:24] cjwagner commented on #5922
Currently `report.Report` only handles reporting one context at a time. In order to handle this case correctly it will need to be be able to look up the state of child jobs and the results must be from the current sync loop in case the child was just triggered. This will require a bit of a refactor to the controllers, but it shouldn't be too ugly.

I'm not sure what the desired behavior is in term

[2017-12-13 19:27] BenTheElder commented on #5922
For my use case I think the desired behavior is that pushing a commit invalidates child jobs, but I think the desired behavior is an open question. @sebastienvas, @yutongz are you still using `run_after_success`? If so what would your desired behavior be?

[2017-12-13 19:40] BenTheElder commented on #5436
Yeah, another option specifically for git is to use an init container and just do a plain update of the cached clone and then copy it to a workspace for the job in the init. It looks like we might be able to request a port in the init container and then release our hold on the node when it exits.

I think we still want to move towards an init container for checkout anyhow, but I also like the `git

[2017-12-13 20:03] cjwagner commented on #5922
I'm not certain what you mean by this. Do you mean that child jobs cannot be manually triggered when a new commit is pushed and the parent job has not yet succeeded? Or in other words, child jobs cannot be manually triggered unless their parent job has already succeeded?

[2017-12-13 21:05] BenTheElder commented on #5922
Yeah, I think `run_after_success` jobs would ideally require the parent to be in a success state to trigger, and that the success state should be cleared from the whole chain if the parent job is cleared (EG after a push).

In particular if we want to ensure that shared builds are viable, we need to make sure that the status of the child jobs is genuinely for the current commit, which can be dodge

[2017-12-13 21:24] stevekuznetsov commented on #5928
/cc @rmmh

[2017-12-13 21:46] cjwagner commented on #5922
I don't think this is currently possible because the child job would report a status for the old commit sha not the current sha that the parent is running against.

We may not be able to allow manually triggering child jobs at all if we go this route. If we allow the child job to be manually retriggered after the parent job has passed, the parent could be retriggered and fail while the child succe

[2017-12-13 21:48] BenTheElder commented on #5922
Can't we solve this by just canceling the jobs when you push a new commit?
When a new commit is pushed:
- cancel currently running jobs
- clear the status for all jobs

?

[2017-12-13 21:55] cjwagner commented on #5922
If a new commit is pushed duplicate termination should handle everything. I'm referring to manually triggered reruns of a job on the same commit.

[2017-12-13 22:02] BenTheElder commented on #5922
Can't we terminate those too?

You should be able to manually rerun once a commit has green for the parent
job. We could check the parent status when manually triggering child jobs?

On Wed, Dec 13, 2017, 13:55 Cole Wagner <notifications@github.com> wrote:

[2017-12-13 22:20] BenTheElder opened #5934 "don't use yahooapis.com for CSS in gcsweb"
this is causing gcsweb to not load for some users, we should host our own, it's only 4kb

/kind bug
/assign

[2017-12-13 22:20] BenTheElder commented on #5934
FYI @hklai who reported this.

[2017-12-13 22:47] cjwagner commented on #5922
It looks like we actually do terminate dupes for new jobs on the same commit. We just consider a job a duplicate if it has the same job name, org, repo, and number.

I'm thinking of the case where we get a `/test child` rerun command, we check that the parent has succeeded (it has), and then trigger a rerun of the child job. Now that the child job is running the parent could be retriggered with `/

[2017-12-13 22:52] BenTheElder commented on #5922
Not particularly as long as it's the same commit. If the build job is flaky or has non-reproducible output then someone needs to fix the build output. Not sure about other use cases.

[2017-12-13 23:01] cjwagner commented on #5922
Ok, this seems safe for our use case then because if the parent was running on a new commit, the child results would not be reported to the status context for the current commit on the PR.

/shrug
If we come across another use case that doesn't want to allow certain child jobs to be manually triggered at all we can make it possible to prevent jobs from being manually triggered. Perhaps just allowi

[2017-12-14 00:26] BenTheElder commented on #5922
I spoke to @sebastienvas about this and we seem to be on the same page (istio is using `run_after_success` to have a first step verify / upload artifacts then an e2e).

[2017-12-14 00:27] chrislovecnm commented on #5916
Another note, we need to get etcd3 enabled with this. @justinsb what is that hidden flag we can use to add stuff to the manifest dynamically?

[2017-12-14 00:28] BenTheElder commented on #5922
It also [looks like openshift does not currently use `run_after_success`](https://github.com/openshift/release/blob/master/cluster/ci/config/prow/config.yaml), I doubt anyone else is.

@munnerz?

[2017-12-14 01:39] MHBauer opened #5944 "parameterize prow pr message string as a template"
follow up to #4795

Implement the discussion in https://github.com/kubernetes/test-infra/pull/4795#discussion_r141993124

[2017-12-14 02:21] #5934 closed

[2017-12-14 02:22] stevekuznetsov commented on #5944
/kind bug
/area prow
/assign @MHBauer

[2017-12-14 04:19] oomichi opened #5947 "`dep ensure` outputs WARNING which requres branch, version, revision, or source"
When trying to run `dep ensure` on a clean test-infra, the command outputs the following WARNING::

$ go get k8s.io/test-infra
$ cd $GOPATH/src/k8s.io/test-infra
$ dep ensure
dep: WARNING: branch, version, revision, or source should be provided for "github.com/NYTimes/gziphandler"
dep: WARNING: branch, version, revision, or source should be provided for "github.com/bwmarrin/snowflake"
dep: WARNING

[2017-12-14 04:46] stevekuznetsov commented on #5947
/cc @cblecker

[2017-12-14 05:08] BenTheElder commented on #5947
Did you remove the lock by any chance?

[2017-12-14 05:50] chrislovecnm opened #5948 "Bot adding bad label"
I am guessing that changing OWNERS files should not get the `retest-not-required-docs-only` label see https://github.com/kubernetes/kubernetes/pull/57178

That is technically code, which should be retested.  Thoughts?

/cc @fejta
/sig test
/area prow

[2017-12-14 05:50] chrislovecnm commented on #5948
/sig testing

[2017-12-14 05:51] chrislovecnm commented on #5948
/cc @BenTheElder

[2017-12-14 06:20] chrislovecnm opened #5949 "kops e2e failed cause git reset failed"
This is special

[code]

See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57178/pull-kubernetes-e2e-kops-aws/64625/

git is not happy with something ...

Not sure which area this is.

/cc @fejta @krzyzacy @BenTheElder
/sig testing

[2017-12-14 06:25] BenTheElder commented on #5949
Thanks for reporting. That does not look good. Xref https://github.com/kubernetes/test-infra/issues/5436 https://github.com/kubernetes/test-infra/issues/5494

If someone from gke-engprod wants to take a look at this tomorrow before I get to it, the Gubernator log will have the pod ID which can be traced back to a node via the prow-builds stackdriver logs. I suspect a node has a busted git cache fo

[2017-12-14 07:52] ixdy commented on #5949
Unfortunately it seems like that job has already been reaped by prow, so I can't figure out which node it ran on. (There's also no obvious way for me to even figure out which pod that was, since we never uploaded `started.json`. #5950 to at least help with that.)

[2017-12-14 08:59] ixdy commented on #5949
Do we ever clean up the local SSDs? I wonder if we ran out of disk space on one of them.

[2017-12-14 09:06] chrislovecnm commented on #5949
The good news or bad news, depending on how you want to view this problem, the test is passing now.

[2017-12-14 09:16] ixdy commented on #5949
Yeah, and none of the nodes are currently showing a lack of disk space on their SSDs, or even anywhere close.

The worst:
[code]

which is not really bad at all.

[2017-12-14 09:28] ixdy commented on #5949
Found another failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/57063/pull-kubernetes-e2e-kops-aws/64639/

This was pod 32b0439e-e0aa-11e7-a4af-0a580a6c0355, but it seems it was already cleaned up, so no idea what node it was on.

[2017-12-14 09:50] ixdy commented on #5949
Found another: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54998/pull-kubernetes-kubemark-e2e-gce/67567/

[code]

This job was recent enough that I could grab the pod info:
[code]

I ssh'd into the offending machine (` gke-prow-pool-n1-highmem-8-81ce4395-f8nk`) and moved `/mnt/disks/ssd0/git` to `/mnt/disks/ssd0/git-bad` so that it'll stop corrupting builds but so that

[2017-12-14 11:27] kargakis commented on #4460
We can at least stop adding the message in case self-approvals are on and the PR is approved as soon as it's opened. I understand the need to have the comment around in case there have been approvals by other persons but the message is pretty annoying when it is posted on every PR that I open and for which no other explicit approval has happened.

[2017-12-14 11:28] kargakis commented on #4460
We can at least stop adding the message in case self-approvals are on and the PR is approved as soon as it's opened. I understand the need to have the comment around in case there have been approvals by other persons but the message is pretty annoying when it is posted on every PR that I open and for which no other explicit approval is required.

[2017-12-14 15:26] mattfarina opened #5954 "New stale closer doesn't skip keep-open"
It looks like the "keep-open" label no longer keeps a PR/Issue open the way it did under mungegithub.

[2017-12-14 15:34] stevekuznetsov commented on #5954
/kind bug
/area prow
/cc @fejta

[2017-12-14 15:37] stevekuznetsov commented on #5954
Seems like we can use the [label migration](https://github.com/kubernetes/test-infra/blob/master/label_sync/main.go#L42-L43) to move from the old label to the new one?

[2017-12-14 15:38] mattfarina commented on #5954
If a different label should be used instead I can update as needed.

[2017-12-14 15:38] stevekuznetsov commented on #5948
What is gained by running presubmits on such a PR?

[2017-12-14 16:13] stevekuznetsov opened #5958 "cherrypicker: more verbose errors would be nice"
[code]

/kind feature
/cc @kargakis

[2017-12-14 16:13] stevekuznetsov commented on #5958
@enj fyi

[2017-12-14 17:36] cblecker commented on #5947
@oomichi are you trying to use k8s.io/test-infra as an import? Or are you looking to add an import to use in a PR against test-infra?

[2017-12-14 18:19] mattfarina commented on #5954
Note, the restoration of the "never close" functionality has come from folks like Brian Grant, Tim Hockin, and others on the mailing lists.

[2017-12-14 18:33] oomichi commented on #5947
@cblecker

My first purpose was I wanted to add an import to use in my PR on test-infra, but this issue can happen without any change like the following on my env::

 $ go get k8s.io/test-infra
 $ cd $GOPATH/src/k8s.io/test-infra
 $ dep ensure
 dep: WARNING: branch, version, revision, or source should be provided for "github.com/NYTimes/gziphandler"
 dep: WARNING: branch, version, revision, or sou

[2017-12-14 18:39] oomichi commented on #5947
@BenTheElder

Even after removing Gopkg.lock, this issue is reproduced on my env::

$ go get k8s.io/test-infra
$ cd $GOPATH/src/k8s.io/test-infra
$ rm Gopkg.lock
$ dep ensure
dep: WARNING: branch, version, revision, or source should be provided for "github.com/NYTimes/gziphandler"
dep: WARNING: branch, version, revision, or source should be provided for "github.com/bwmarrin/snowflake"
dep: WARNING

[2017-12-14 18:49] ixdy commented on #5949
I'm not seeing any more recurrences from a quick scan, so I think we found the bad node.

Not sure how to track down what caused this in the first place, though.

[2017-12-14 18:53] cblecker commented on #5947
what version of dep are you running?

[2017-12-14 18:54] oomichi commented on #5947
@cblecker

That seems `devel` like the following, which version should we use ?

$ dep version
dep:
 version     : devel
 build date  :
 git hash    :
 go version  : go1.8.3
 go compiler : gc
 platform    : linux/amd64

[2017-12-14 19:31] BenTheElder commented on #5949
side note: if this *does* happen again you can pretty reliably get the pod for a bit info for older jobs by asking deck `https://prow.k8s.io/rerun?prowjob=<pod-id>` since the pod ID matches the job ID, or by getting the `prowjob` CRD via kubectl against the services cluster.

[2017-12-14 20:02] cblecker commented on #5947
oh, you're actually using something newer than I am. will review the toml file.

[2017-12-14 20:04] oomichi commented on #5947
@cblecker Thanks :-)

[2017-12-14 20:16] perotinus opened #5962 "Prow support for triggering jobs based on tag changes"
It would be useful to the cluster-registry if Prow could support triggering jobs based on GitHub `CreateEvent"`s.

Concrete use case: I would like to be able to do cluster-registry releases without having to run tools locally on my machine, based on tags created by a GitHub release. If Prow can respond to GitHub `CreateEvent`s, then creating the tag can run the release process/upload binaries/etc.

[2017-12-14 20:19] BenTheElder commented on #5962
Also CC @kargakis @stevekuznetsov @sebastienvas for potentially interested parties.

As discussed on slack probably the most tricky part to supporting tag-triggered-jobs is deciding how we want the config to look.

I'm not sure about the GPG checking details wit github but this also sounds potentially useful

/area prow
/kind feature

[2017-12-14 20:20] BenTheElder commented on #5948
IIRC `retest-not-required-docs-only` means that it will merge once the presubmits pass once, IE the queue will just merge without re-running them. I'm not sure why an OWNERS change would warrant running all of the presubmits.. ?

[2017-12-14 20:22] chrislovecnm commented on #5948
Cool, just looked odd, you guys know better than I

[2017-12-14 20:22] #5948 closed

[2017-12-14 20:30] BenTheElder commented on #5948
Always good to check :-)
Perhaps the label needs renaming 🤔

[2017-12-14 22:22] #5947 closed

[2017-12-15 00:06] spxtr commented on #5923
bump.sh should also be bumping starter.yaml versions...

[2017-12-15 02:24] #3220 closed

[2017-12-15 09:24] kargakis opened #5976 "operator can wait for a long time on a broken Jenkins master"
[code]
The client used by the operator is not using any timeout in the http client and the default is a pretty bad choice (no timeout).
/area prow
/kind bug
/assign

[2017-12-15 09:31] kargakis commented on #5250
I am not sure this is a good idea now. Managing Jenkins is hard and I'd rather we have the least interaction possible with it.

[2017-12-15 09:32] kargakis commented on #5250
Worth documenting the difference between the operator and plank though

/kind documentation

[2017-12-15 09:54] kargakis commented on #5958
/assign

[2017-12-15 13:42] leifmadsen commented on #5607
Having gone through all the documentation and such, I think until(?) Planter moves away from needing access to the entire $HOME directory, instead of relabeling, we just disable SELinux for that particular container instantiation (which at least keeps SELinux enabled on the system instead of just disabling it).

I just ran a test, and it seems to work if you do this (per documentation on Dan Walsh

[2017-12-15 14:38] mattfarina commented on #5954
#5969 migrates keep-open to lifecycle/frozen. Once the tags are migrated this can be closed.

[2017-12-15 14:41] mattfarina commented on #5175
FYI, I've written one. With a little cleanup and some tests I'll PR it to the test-infra repo.

[2017-12-15 15:54] stevekuznetsov commented on #5175
/assign @mattfarina

[2017-12-15 16:47] #5894 closed

[2017-12-15 16:57] #5976 closed

[2017-12-15 17:29] stevekuznetsov commented on #5962
If we want to use these jobs for building and pushing releases we should probably get a trusted build cluster up and running otherwise your ProwJob running on a new tag won't have the credentials to do anything meaningful with whatever it builds.

[2017-12-15 17:36] BenTheElder commented on #5962
Yeah, it would be preferable to have #5848 first. We definitely plan to implement that one though.

[2017-12-15 19:00] spiffxp opened #5985 "all kubeadm jobs are failing due to use of ubuntu-1604-xenial-v20160420c image"
See: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all and https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kubeadm-gce

All jobs started failing sometime around 12/14 5am PST, eg:
- last good: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-6-on-1-7/1066
- first bad: https://k8s-gubernator.appspot.com/

[2017-12-15 19:15] BenTheElder commented on #5607
This sounds good to me, we definitely want to move away from mounting the entire $HOME, but I'd be semi concerned that eg $REPO could accidentally be home anyhow (maybe you have a dotfiles setup with a .git in home?) so relabeling is always going to be somewhat risky imo.

[2017-12-15 19:49] spiffxp commented on #5985
/reopen
leaving this open until I see green on https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kubeadm-gce or one of the periodics

[2017-12-15 19:56] oomichi opened #5987 "`dep ensure` never comes back"
`dep ensure` never comes back over 20mins on test-infra repo.
On the other hand, `dep ensure -update` finishes in 2 mins with huge changes.
After doing `dep ensure -update`, `dep ensure` comes back in 9sec.
I tried this on both a virtual/physical machines and faced the same issue on both.

[2017-12-15 22:34] cjwagner opened #5995 "Prow: invalid image name creates pods that get stuck in image pull back off."
ref #5993
We can fix this manually, but Prow should be able to recover from this state without intervention.

cc @ixdy @BenTheElder

[2017-12-15 22:35] BenTheElder commented on #5995
xref: https://github.com/kubernetes/test-infra/pull/5994

[2017-12-15 23:09] Tombar opened #5998 "planter.sh should not mount user home"
Hello, i'm interested in contributing to test-infra, so while I familiarize myself with the repo itself, bazel and overall guidelines, I would like to solve some low hanging fruit issues.

I've reach @BenTheElder through the sig-testing slack channel and agreed on looking at this issue, which is causing issues like #5607 and it's not ideal overall.

About the issue, today planter.sh mounts user ho

[2017-12-15 23:20] enisoc commented on #5985
The latest kubeadm presubmit run is green:

https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kubeadm-gce&width=80

[2017-12-15 23:42] BenTheElder commented on #5998
FYI @ixdy

[2017-12-16 00:30] fejta commented on #5848
Honestly I'd like to move whatever we can out of plugins and into prow jobs. I do not see a good reason for things like the lint plugin to be a plugin versus a job. The latter makes more sense and keeps the core part of prow smaller.

[2017-12-16 00:30] fejta commented on #5848
Also has anyone started a design doc for how I will tell which cluster to schedule a job in, as well as how to inform prow which clusters are possible?

[2017-12-16 00:41] cjwagner commented on #5848
I'll make a doc, thats the next thing I want to get done so that we can get the security repo fixed.

[2017-12-16 01:33] ixdy commented on #5998
We've tried only mounting `$HOME/.cache/bazel` before, but it has problems - see https://github.com/kubernetes/test-infra/pull/5737.

I'm not quite sure what's happening here, though.

[2017-12-16 01:43] #5736 closed

[2017-12-16 13:42] kargakis commented on #5995
How do you think prow should rectify image pull backoff?

[2017-12-16 17:33] BenTheElder commented on #5995
eventually it should probably abort the job.

On Sat, Dec 16, 2017, 08:42 Michalis Kargakis <notifications@github.com>
wrote:

[2017-12-16 18:02] Tombar commented on #5998
Ok, so I run some more tests and this is what I understand so far:

If I mount host`$HOME/.cache/bazel` under something different than `$HOME/.cache/bazel` in the container, such as for example `/workspace/.cache/bazel` bazel would run the first time  successfully only and files under `$HOME/.cache/bazel` would be symlinked incorrectly

[code]

So we need to mount `$HOME/.cache/bazel` into `$HOME/

[2017-12-16 22:41] ixdy commented on #5998
Sounds good to me. Send over a PR and we can discuss any additional details there.

[2017-12-17 21:03] spxtr commented on #5848
If we want to go all the way in that direction then we can get rid of the plugin architecture entirely and have the only "plugin" be that which triggers prowjobs. This is a reasonable idea, but I'm not sure it's worth it now that we have external plugins. We can already pull the lint plugin out of the hook binary and into its own deployment. Then we can add pylint and friends to the lint image wit

[2017-12-17 21:12] stevekuznetsov commented on #5987
Can you `strace` the process to see what it's doing?

[2017-12-17 21:44] #5958 closed

[2017-12-18 10:59] foxish opened #6011 "Extend kubetest to perform testing of arbitrary applications on Kubernetes"
This is an extension of the work we did for charts (https://k8s-testgrid.appspot.com/sig-apps#charts-gce).
For some new applications/frameworks like Spark and Airflow which are supported by the Big Data SIG, it becomes important to performing continuous testing against K8s clusters. This proposal captures the steps that would help set up new tests involving other applications.

1. Add a new mode t

[2017-12-18 11:22] porridge commented on #5893
Retitling since we have another two occurences. These two runs happened when they should not have (the scale-performance jobs should only start at 8 am UTC):
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/80
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/81

[2017-12-18 11:24] porridge commented on #5893
I think this issue is now the number one reason for failed scalability job runs. I miss the stability of jenkins :worried:
Umbrella bug: https://github.com/kubernetes/kubernetes/issues/56062

[2017-12-18 11:42] leifmadsen commented on #5607
Agreed. I think my change to just disable SELinux for this container, and assume it is a "super container" or whatever, is a good start. In my case, it's fine, because I'm creating an destroying a dedicated VM for building.

[2017-12-18 16:25] grodrigues3 commented on #5344
/cc @dankohn

[2017-12-18 17:29] BenTheElder commented on #5848
I do like the idea of not putting linters in the image, but surely this only makes sense for a certain class of plugins, lots of them are very small evented things?

[2017-12-18 17:33] BenTheElder commented on #6011
FYI there is some very simple support for invoking arbitrary applications right now per a previous request https://github.com/kubernetes/test-infra/pull/5030, but it has not been used yet.

[2017-12-18 17:51] stevekuznetsov opened #6014 "prow: are we (ab)suing /hold?"
Looks like the new paradigm in this repo is to `/lgtm` but `/hold` for someone else to look at it. What we are trying to convey is that the change looks good to us but that merging requires a larger quorum. Was this the intent of `/hold`? Do we want to think up a mechanism that is more explicitly achieving this workflow? Are we hacking the current plugins to get what we want?

/cc @kargakis @cjwag

[2017-12-18 17:51] stevekuznetsov commented on #6014
/area prow
/kind question

[2017-12-18 18:04] foxish commented on #6011
Nice! Thanks for the link @BenTheElder. Any ideas on how we need to set up logging if we're using that mode to run an arbitrary command?

[2017-12-18 18:12] BenTheElder commented on #6011
@foxish it will put in a generic success/failure XML entry from executing the command (using the `--test-cmd-name` flag) but if you want more logging the best option without any changes is to write to `$WORKSPACE/_artifacts` which bootstrap will upload and Gubernator/testgrid will look for JUnit type .xml in.

We probably need to flesh this out more, `--test-cmd` is just env expanded and executed

[2017-12-18 18:16] BenTheElder commented on #6014
This paradigm definitely seems clear to me in a some cases besides finding quorum: EG adding a repo to tide tends to mean lgtm + hold with the intention that someone will cancel the hold once the upstream repo is ready.

I suppose we could just `LGTM` when we want to "approve" and wait for quorum. I do  also think `/hold` being generally used to delay merging seems fine.  I suppose we could have s

[2017-12-18 18:20] kimoonkim commented on #6011
cc @ssuchter

[2017-12-18 18:49] BenTheElder commented on #3778
Kubernetes has been running all blocking presubmits on Jenkins for release-1.7+ for a while now just fine. A few satellite repos still use Jenkins for presubmit and a few more things (mainly builds) are still on CI Jenkins.

Moving any remaining kubernetes jobs off of both Jenkins instances should be straight forward but charts / cadvisor / heapster look a bit different. I've pinged some more peop

[2017-12-18 19:11] BenTheElder commented on #5985
I think we can probably close this now?

[2017-12-18 19:14] pipejakob commented on #5985
Sounds good to me. The job is failing again, but for new individual test failures, not because of the image.

[2017-12-18 19:17] enisoc commented on #5985
/close

[2017-12-18 19:17] #5985 closed

[2017-12-18 19:27] BenTheElder opened #6015 "$IMAGE isn't set correctly in our images"
per discussion on slack with @ixdy, it seems the existing env in the base image is being kept instead of the build arg.

/kind bug
/area images
/assign

[2017-12-18 19:28] ixdy commented on #6015
To give an explicit example, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56820/pull-kubernetes-e2e-gce/12279/?log#log shows
[code]

where we would expect kubekins-e2e instead of bootstrap.

[2017-12-18 19:59] ixdy commented on #3338
I just inadvertently broke pull-kubernetes-kubemark-e2e-gce, pull-kubernetes-e2e-kops-aws, and pull-kubernetes-e2e-gce-device-plugin-gpu in https://github.com/kubernetes/test-infra/pull/5990 because I'd assumed we were branching those jobs. We apparently aren't yet, and I'm not super excited about blowing up `config.yaml` even further.

[2017-12-18 21:16] oomichi commented on #5987
@stevekuznetsov

That freezes in futex() call like the following:
Cannot you reproduce this problem on your env?

openat(AT_FDCWD, "/home/oomichi/dev/go/src/k8s.io/test-infra/Gopkg.toml", O_RDONLY|O_CLOEXEC) = 3
read(3, "# Gopkg.toml for k8s.io/test-inf"..., 512) = 346
read(3, "", 1190)                       = 0
openat(AT_FDCWD, "/home/oomichi/dev/go/src/k8s.io/test-infra/Gopkg.lock", O_RDONLY|O_C

[2017-12-18 21:16] spiffxp commented on #4106
It would be helpful to have this before removing direct write access to kubernetes/community https://github.com/kubernetes/community/issues/1511

[2017-12-18 21:20] spiffxp commented on #4106
/assign

[2017-12-18 21:21] cblecker commented on #4106
Sorry I missed this one!

[2017-12-18 21:53] #4106 closed

[2017-12-18 22:59] spiffxp opened #6022 "Migrate needs-rebase munger out of mungegithub"
This is one of the more useful mungers we have in mungegithub.  Migrating it out would help accelerate its ~demise~ deprecation.

/area mungegithub
/assign @cjwagner
xref: https://github.com/kubernetes/test-infra/issues/3331

[2017-12-19 00:43] #5507 closed

[2017-12-19 04:49] jlewi commented on #6011
FWIW based on my experience with using prow for tensorflow/k8s here's how I'm approaching CI/CD with prow

- Add a Prow job to launch a container specific to my project
- Launch a workflow that runs the tests
    - Currently using Airflow; will probably switch to Argo
- Each step in the workflow is a script
- Use a shared volume to allow files to be passed between the steps

One pain point for me

[2017-12-19 07:01] #5910 closed

[2017-12-19 07:16] BenTheElder commented on #5893
Sorry, I missed this with some other things going on and Sen is still out of town. I don't know why this would happen, but ironically Jenkins actually completely collapsed recently 🤷‍♂️

[2017-12-19 15:05] mattfarina commented on #5954
I think this is now handled. Closing.

[2017-12-19 15:05] #5954 closed

[2017-12-19 15:25] mattfarina commented on #6014
Here's an example I have for using hold. I'm an approver for all of the charts repo. There are times where a chart change LGTM but I would like the chart owner to look at it. In that capacity I'm acting as a reviewers but I implicitly approve. So, I hold for the chart owner to approve.

[2017-12-19 15:31] stevekuznetsov commented on #5987
I haven't had a moment to reproduce it, hopefully though this helps @cblecker with debugging

[2017-12-19 17:05] stevekuznetsov opened #6025 "prow: shared state is retained in logger between events"
I'm seeing logs like

[code]

Unclear what the `"commenter"` field even means here.

/cc @cjwagner
/assign @kargakis

[2017-12-19 17:09] stevekuznetsov commented on #6025
We're mutating the global logger instead of copying it when passing to plugins on an event, it looks like

[2017-12-19 17:38] porridge commented on #5893
Another one:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/84

[2017-12-19 18:27] kargakis commented on #6025
Should be fixed by https://github.com/kubernetes/test-infra/pull/6012.

[2017-12-19 18:28] stevekuznetsov commented on #6025
Ah, ok we just need a new deploy.
/close

[2017-12-19 18:28] #6025 closed

[2017-12-19 18:32] cpanato commented on #5283
Hello, I would like to start to contribute, how can I help on this ticket?

[2017-12-19 18:44] BenTheElder commented on #5283
Hi, I think this one actually just needs more discussion first. Renaming
jobs is potentially disruptive so we need to make sure everyone has agreed
on a standard before we start.

On Tue, Dec 19, 2017, 10:32 Carlos Tadeu Panato Junior <
notifications@github.com> wrote:

[2017-12-19 18:47] cpanato commented on #1351
there is anyone working on this? I would like to try this one.

[2017-12-19 19:01] cpanato commented on #1906
I can try this one 😄

[2017-12-19 19:07] stevekuznetsov commented on #1351
/assign @cpanato
All yours@

[2017-12-19 19:07] stevekuznetsov commented on #1351
Hrm -- all yours in spirit even if the bots don't want to behave. :)

[2017-12-19 19:18] BenTheElder commented on #1351
GitHub won't let the bot behave :(
You have to be an org member

On Tue, Dec 19, 2017, 11:07 Steve Kuznetsov <notifications@github.com>
wrote:

[2017-12-19 19:34] oomichi commented on #5987
@cblecker

Thank you for your advice, the following is my try based on your comment.

I tried the above, but `dep ensure -add github.com/go-openapi/spec` never comes back.
My try is the following:

$ go get -u github.com/golang/dep/cmd/dep
$ go get k8s.io/test-infra
$ cd $GOPATH/src/k8s.io/test-infra
$ dep ensure -add github.com/go-openapi/spec
Fetching sources...
(never come back..)

Does the abo

[2017-12-19 20:01] cblecker commented on #5987
So it looks like `github.com/go-openapi/spec` doesn't have branches/tags to lock specific versions, so what you should be able to do is:
[code]

We don't even need to mess around with an `-add`.

No, I'm not able to replicate this in my environment. I'm currently using the latest tagged version of dep (v0.3.2).

[2017-12-19 20:29] BenTheElder commented on #5922
Following up: we checked with other users and we're quite sure nobody besides kubernetes and istio uses `run_after_success` currently.

[2017-12-19 22:03] oomichi commented on #5987
I tried dep v0.3.2 by downloading https://github.com/golang/dep/releases/tag/v0.3.2 , but I still face the same issue::

 ~/dev/go/src/k8s.io/test-infra$ dep version
dep:
 version     : v0.3.2
 build date  : 2017-10-19
 git hash    : 8ddfc8a
 go version  : go1.9
 go compiler : gc
 platform    : linux/amd64
 ~/dev/go/src/k8s.io/test-infra$ dep ensure
 (never come back)

I guess my local env is some

[2017-12-19 22:21] oomichi commented on #5987
humm, my try on google cloud also was failed with the same issue.
That was
- Virtual machine instance: vCPU x 1, memory 5.75 GB
- CPU: x86_64
- OS: ubuntu 16.04LTS
- Go: version 1.8
- dep: version 0.3.2

[2017-12-19 22:40] spiffxp commented on #6014
I like `/hold` as a catch-all for socially enforced workflows.  I always try and drop a comment under my `/hold` to explain why I'm holding it, eg: what I'm waiting for, who I'm cool with canceling the hold, etc.

If we need something that can automatically be enforced, maybe there's something other than `/hold` that we should be automating.

[2017-12-19 22:44] fejta commented on #6014
I would like PRs to have `/hold` by default. Otherwise I think `/hold` is working out exactly as I intended -- a generic catch-all for socially enforced workflows.

We have other silliness like WIP, release-note-required, but I like how `/hold` and `/hold cancel` are human, easy, flexible.

[2017-12-19 22:52] BenTheElder commented on #5919
FYI @spiffxp

[2017-12-19 23:23] spiffxp commented on #3476
@cjwagner I think we're safe to call this done now that we have prow.k8s.io/plugin-help.html, WDYT?

[2017-12-19 23:29] spiffxp commented on #3843
/close

sig-mention-handler munger -> require-sig prow plugin
- https://github.com/kubernetes/test-infra/pull/5662
- https://github.com/kubernetes/test-infra/pull/5968

lgtm-after-commit
- https://github.com/kubernetes/test-infra/issues/3795
- possible impl https://github.com/kubernetes/test-infra/pull/3821

[2017-12-19 23:29] #3843 closed

[2017-12-19 23:32] spiffxp opened #6033 "Migrate owner-label and path-label mungers out of mungegithub"
This is being used in kubernetes/community, now that we've migrated OWNERS handling to prow this should be relatively easy to re-implement as a plugin, or maybe add'l functionality for the existing label plugin?

/area prow
/area mungegithub

xref #6019
xref #3331

[2017-12-20 00:14] cjwagner opened #6035 "Cron Job to replace mungegithub's branch protection feature."
Currently we use mungegithub's `branch-protection` feature to mark Github status contexts as required where ever the submit-queue is run.
https://github.com/kubernetes/test-infra/blob/c4c730a46fd176a8d161bf5ef0074067a8a12d94/mungegithub/features/branch-protection.go#L55-L65
As we deprecate the submit-queue in favor of Tide this feature will need to be moved to a cron-job that runs in the Prow clus

[2017-12-20 00:22] cjwagner commented on #3476
Yup!

[2017-12-20 00:22] #3476 closed

[2017-12-20 00:51] cjwagner commented on #1351
Is this suggesting that if I `/test foo` for an optional job `foo` and later decide that `foo` doesn't need to be passing on my PR after I change things, I have to close the PR and create a brand new one?

[2017-12-20 01:22] oomichi commented on #5987
Now I find what is wrong on my env.
`dep ensure` requires hg command for getting bitbucket.org/ww/goautoneg , but `dep ensure` never says such thing and just stopped on env where hg command is not installed.
After installing hg command which is packed in mercurial package, this issue is solved.
Thank you all for your help anyways.

To avoid the same issue, where is good place to write this kind of

[2017-12-20 02:55] stevekuznetsov commented on #6014
So what I'm hearing is that even in the specific case where we often use `/hold` to wait for review quorum it's working fine as a socially enforced process and not worth codifying. SGTM

/close

[2017-12-20 02:55] #6014 closed

[2017-12-20 03:15] krzyzacy commented on #5923
@spxtr yes that is the case, however we don't push latest image right away so when someone try to use starter.yaml, the components image might not exist yet.

[2017-12-20 03:26] krzyzacy commented on #5893
sorry @porridge I'm still mostly OOO, I believe it's some plank issue, I'll try to walk through the code and see if I can find anything.

[2017-12-20 03:29] cblecker commented on #5987
https://github.com/kubernetes/test-infra/blob/master/docs/dep.md is the right place for that.

Glad to hear you were able to track it down, and thanks for updating the docs!

[2017-12-20 03:44] krzyzacy commented on #4584
I tossed a barebone starter.yaml in k8s-prow-staging, and will put in some periodic deployment next

[2017-12-20 04:09] krzyzacy commented on #4369
https://k8s-testgrid.appspot.com/sig-testing-misc#ci-janitor start to have green runs after opt out federation projects. (it might still have failing runs but as long as it can catch up)

side note: ci-janitor is supposed to be kicked off once per day, but from the timestamp it also ran into https://github.com/kubernetes/test-infra/issues/5893

[2017-12-20 04:09] #4369 closed

[2017-12-20 04:10] yguo0905 opened #6039 "Incorrect link to source code in gubernator"
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2enode-ubuntudev2-k8sbeta-gkespec/2#k8sio-gke-system-requirements-conformance-featuregkeenv-the-docker-configuration-validation-should-pass

The link `kubernetes/test/e2e_node/gke_environment_test.go:338` in the first line of the log points to `https://github.com/None/blob/f3024879423e61/test/e2e_node/gke_environme

[2017-12-20 04:31] krzyzacy commented on #5893
from plank log the job did not get a state transition properly
[code]

[2017-12-20 08:24] krzyzacy commented on #5893
@BenTheElder I think https://github.com/kubernetes/test-infra/blob/master/prow/cmd/sinker/main.go#L160-L161 is racing with plank

[2017-12-20 10:05] kargakis commented on #1351
@cjwagner you can use `/skip` and rerun any other optional jobs you may wish to include in the final results. Or we could make `/skip` accept an argument to override individual optional contexts.

[2017-12-20 16:51] BenTheElder commented on #6039
/kind bug

[2017-12-20 17:44] BenTheElder commented on #5893
Why? It won't delete a pod until 30 minutes after the pod reaches a terminal state..

[2017-12-20 18:18] oomichi commented on #5987
@cblecker Thanks for your help again :-)

https://github.com/kubernetes/test-infra/pull/6043 is for that.

[2017-12-20 18:24] kargakis commented on #5893
Pods reach terminal state earlier than prowjobs, not the other way around. By reducing the sinker interval to a value that is less than a job duration (30m is less than most jobs actually), you exposed the race between plank and sinker.

[2017-12-20 18:28] BenTheElder commented on #5893
Got it, I expected plank to find these more often, but if it is taking ~30s then having syncer run every 1 minute instead of every 1 hour is also why this was triggered. We should get https://github.com/kubernetes/test-infra/pull/6042 in.

[2017-12-20 20:34] #5987 closed

[2017-12-20 20:34] cjwagner opened #6048 "Tide failed to merge batch."
Tide failed to merge a batch in test-infra I was watching, but said that it had succeeded on the FE.
[code]
Tide recovered by serially merging the two PRs in the batch.

[2017-12-20 21:42] fejta commented on #6035
/assign

[2017-12-20 21:42] fejta commented on #6035
/remove-help

[2017-12-20 21:48] cjwagner commented on #6048
Closing as dup of #5171

[2017-12-20 21:48] #6048 closed

[2017-12-20 21:49] cjwagner commented on #5171
This just struck again us again on a batch for #6019  and #6041 that should have merged at 12:20 PM PST today.

[2017-12-20 22:04] cjwagner commented on #1351
Ok, if the logic that looks for `/test foo` commands to make `foo` sticky disregards any `/test foo` commands that occur before a `/skip` then this makes sense to me. :+1:

[2017-12-20 22:08] #3741 closed

[2017-12-20 22:28] cjwagner opened #6050 "Make it easy to link to specific Plugin Help entries."
It is possible to link to a specific plugin help row by using a URL anchor/fragment to the element ID like http://prow.k8s.io/plugin-help.html?repo=kubernetes%2Ftest-infra#plugin-heart, but only if you are already on the page and add the fragment manually. The following improvements should be made:
- [x] Add a symbol ( ¶ ) next to each plugin name that links to the plugin row.
- [ ] Make the plugi

[2017-12-20 23:17] fejta commented on #6035
https://docs.google.com/document/d/1DmNEtHM8ocbmIknThpF9VoJVrueIixjQN49brVd_Zq0/edit

[2017-12-21 00:03] spxtr commented on #5171
Whoops, didn't see this. A single retry on a short timer seems reasonable, and it also probably wouldn't hurt to add a short sleep in [this loop](https://github.com/kubernetes/test-infra/blob/9d302ebf7e2c298f48437df3e6e8ee151f28953a/prow/tide/tide.go#L349). I think mungegithub does that, actually. @rmmh might know.

[2017-12-21 00:05] spxtr commented on #5923
Solved by using rules_k8s?

[2017-12-21 06:34] yguo0905 opened #6055 "ci-kubernetes-e2enode-ubuntudev2-k8sbeta-gkespec not running?"
https://k8s-testgrid.appspot.com/canonical-ubuntudev2-k8sbeta#e2enode-ubuntudev2-k8sbeta-default(gkespec)

The last run of this job is 15:10, but it's supposed to be running every 2 hours. I can't see any errors in prow.k8s.io.

This [test](https://k8s-testgrid.appspot.com/canonical-ubuntudev2-k8sbeta#e2enode-ubuntudev2-k8sbeta-serial) also has the same issue but others are OK. How should I debug

[2017-12-21 06:39] krzyzacy commented on #6055
http://prow.k8s.io/?type=periodic&job=ci-kubernetes-e2enode-ubuntudev2-k8sbeta-gkespec#

eh, is that the image you've pushed?
[code]

[2017-12-21 06:48] krzyzacy commented on #6055
@yguo0905 did someone removed the previous tag from the image registry? I've manually added tag `v20171218-a18c352b4-1.9` back, after the next run it should use `v20171220-29cb083c9-1.9` in current config.

[2017-12-21 10:55] krzyzacy commented on #6055
the job looks green now :-)
/close

[2017-12-21 10:55] #6055 closed

[2017-12-21 15:47] stevekuznetsov commented on #5171
`submit-queue` doesn't seem to sleep here:

https://github.com/kubernetes/test-infra/blob/9d302ebf7e2c298f48437df3e6e8ee151f28953a/mungegithub/mungers/submit-queue-batch.go#L286-L293

[2017-12-21 18:22] cjwagner commented on #5171
Mungegithub doesn't need to sleep to be slow :smile:
Before `mergePullRequest` returns it creates a comment, lists commits, creates a status and sometimes does more so that could be enough delay.

I also just noticed this though:
https://github.com/kubernetes/test-infra/blob/9d302ebf7e2c298f48437df3e6e8ee151f28953a/mungegithub/github/github.go#L2122-L2145
given that we don't have this problem with

[2017-12-21 19:21] BenTheElder commented on #6050
we should also:
- [ ] highlight plugins that are most relevant to end users (IE `config-updater` is not, but `hold` should have a star or something)

[2017-12-21 23:20] BenTheElder opened #6064 "deck should link to the branch AND prow"
"kubernetes/contrib master" under repo now links to prow which is nice if there are results, but really what we should do is: `<a href="/?repo=kubernetes%2Fcontrib">kubernetes/contrib</a>&nbsp;<a href="github.com/kubernetes/contrib/tree/master">master</a>` so you can get to both, which will help if/when we have non-master-branch activity.

/area prow
/kind feature

[2017-12-22 02:20] xiangpengzhao opened #6069 "kubeadm-gce-dns-coredns failed due to unknown flag: --kubernetes-anywhere-kubeadm-feature-gates"
job added in #5601. Guess there is something else we need to update?

/cc @krzyzacy @BenTheElder @luxas @fturib

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-dns-coredns/1

[code]

[2017-12-22 02:28] BenTheElder commented on #6069
The images need bumping which was held to wait for canaries so it doesn't
have the kubetest changes yet.

On Thu, Dec 21, 2017, 18:20 Peter (XiangPeng) Zhao <notifications@github.com>
wrote:

[2017-12-22 02:42] xiangpengzhao commented on #6069
@BenTheElder thanks! got it :)
/close

[2017-12-22 02:42] #6069 closed

[2017-12-22 03:08] BenTheElder commented on #6064
closed in https://github.com/kubernetes/test-infra/pull/6067
/close

[2017-12-22 03:08] #6064 closed

[2017-12-22 06:18] xiangpengzhao commented on #6069
The new job `kubeadm-gce-selfhosting` is in the same situation. Waiting for the bumping...

[2017-12-22 06:29] xiangpengzhao opened #6070 "Remove "lgtm" after PR changes?"
In test-infra, after an approved and lgtm'd PR rebasing or changing, the `lgtm` is not removed. Then the PR will be merged. (example: #5904). Seems like it's not safe, right? Suppose that I add some ruinous code by mistake or intentionally (:smile:), something would be broken after the merge.

/cc @cjwagner @krzyzacy @BenTheElder -

[2017-12-22 09:03] spxtr commented on #6070
If it's *broken* broken then the presubmit should catch it :)

Dupe of #3795 I think.

[2017-12-22 09:03] #6070 closed

[2017-12-22 09:27] xiangpengzhao commented on #6070
Oh cool! Didn't notice that :)

[2017-12-22 18:05] spiffxp opened #6075 "gazelle moved to a new repo"
per https://github.com/bazelbuild/rules_go/pull/1173, gazelle has moved out of rules_go into its own repo at https://github.com/bazelbuild/bazel-gazelle

I've put out [a fix for test-infra](https://github.com/kubernetes/test-infra/pull/6073), if we're happy with it there I can open up PR's for other affected repos

Other affected repos I've found:
- kubernetes/cluster-registry: manages/uses gazell

[2017-12-22 18:06] spiffxp commented on #6075
/cc @ixdy @BenTheElder

[2017-12-22 18:55] BenTheElder commented on #3795
@cjwagner @xiangpengzhao maybe we should pick this one up now? this seems like a small thing to (re)implement.

[2017-12-22 19:31] BenTheElder commented on #6075
re-fixed in https://github.com/kubernetes/test-infra/pull/6074, we'll need a similar one in the other repos..

[2017-12-22 20:04] #5701 closed

[2017-12-22 21:23] spiffxp commented on #6075
An example of the error encountered in kubernetes/test-infra: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/test-infra/6071/pull-test-infra-verify-bazel/8701/build-log.txt
[code]

[2017-12-22 21:44] nlandolfi commented on #3795
@BenTheElder sgtm

[2017-12-22 21:51] jayconrod commented on #6075
bazelbuild/rules_go#1173 has been rolled back.

[2017-12-22 22:07] brendandburns commented on #6075
@jayconrod many thanks!

[2017-12-22 22:17] BenTheElder commented on #6075
Thank you!
We should definitely look to update all the kube repos to vendor the new gazelle location next.

[2017-12-22 22:28] BenTheElder commented on #5922
We're punting on this for the moment but would definitely like to get back to this so we can reduce unnecessary load on the prow bulid cluster
/priority important-soon

[2017-12-22 23:15] oomichi opened #6079 "apicoverage: Add --minimum-coverage option"
This comes from fejta's comment on https://github.com/kubernetes/test-infra/pull/5865

[2017-12-23 16:45] chrislovecnm opened #6083 "Lifecycle commands for bot are very long to type"
/remove lifecycle would be awesome. I am often grooming issues on my phone, and typing ping commands is not a good user experience. How can I add an alias to the bot?

[2017-12-23 16:46] chrislovecnm commented on #6083
/assign @fejta

[2017-12-23 16:47] chrislovecnm opened #6084 "Lifecycle bot is too noisy"
I would ask that we turn down how many issues the bot handles at once. Also how about three strikes then I close you? Two warnings then I close the issue?

[2017-12-23 17:29] chrislovecnm opened #6085 "Vendor AWS api"
Anyone have a problem with me vendoring AWS api in this repo? I want to move more to the kops tester functionality into go and out of python.

[2017-12-23 17:31] BenTheElder commented on #6085
I think we've avoided actually vendoring it because it's huge IIRC:
https://github.com/kubernetes/test-infra/blob/40e8b22e3c37457c973c118b2aefa097b1d063ed/Gopkg.toml#L3-L4

[2017-12-23 17:49] chrislovecnm commented on #6085
I am not certain in the size, but does that matter? We are using python code, which is not tested ;(

Another option is to move the go code into the kops repo ...

[2017-12-23 17:49] chrislovecnm commented on #6085
Python code does not have unti tests

[2017-12-23 17:49] chrislovecnm commented on #6085
Unit tests ... gawd phone

[2017-12-23 18:30] chrislovecnm commented on #6085
I am going to PR this, because I want to move testing logic into the test runner.

[2017-12-23 19:09] chrislovecnm opened #6087 "Document how to build test-infra on a mac"
How do I do this?  planter I am guessing ...

[2017-12-23 20:24] chrislovecnm opened #6088 "Master is not building"
This is odd

[code]

Running on master.  Running the hack script to update bazel does not help as well.

[2017-12-23 20:27] chrislovecnm commented on #6088
Any ideas?  Let me see if we have instructions

[2017-12-23 22:38] chrislovecnm commented on #6088
I am trying to follow the basic steps to get this project building locally.

[2017-12-24 18:05] geojaz opened #6089 "Update planter image for bazel 0.9.0"
It looks like the image for latest bazel is not yet available:
`Error response from daemon: manifest for gcr.io/k8s-testimages/planter:0.9.0 not found`

[2017-12-25 21:10] stevekuznetsov commented on #6084
I have a feeling this will calm down once the backlog is worked through.

/cc @fejta

[2017-12-25 21:10] stevekuznetsov commented on #6084
/area prow
/kind enhancement

[2017-12-25 21:10] stevekuznetsov commented on #6083
/area prow
/kind enhancement

[2017-12-25 22:43] oomichi opened #6090 "apicoverage: Add unit tests"
The experimental tool apicoverage doesn't have any unit tests, we need the tests to keep the quality.

[2017-12-26 00:46] stevekuznetsov opened #6092 "gubernator: never show me a stacktrace"
Right now the most frustrating part of working with Gubernator is that any tiny inconsistency in `started.json` or `finished.json` can trigger a stacktrace and make the whole page fail to load for whatever view is requested.

We should try to make it so that this _never_ happens. One bit of information being missing should resolve in a `<missing>` field in the UI or simply no field in the UI. I'd

[2017-12-26 00:46] stevekuznetsov commented on #6092
/kind bug
/area gubernator

[2017-12-26 05:54] krzyzacy commented on #5893
seems the plank trigger issue is fixed, still see some rescheduled jobs like https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance, probably still due to https://github.com/kubernetes/test-infra/issues/5449

[2017-12-27 18:14] BenTheElder commented on #6087
Most of test infra should build with `bazel build //target_directory_you_wanted_to_build/...`. Planter helps with building linux binaries / switching bazel versions etc.

[2017-12-27 18:41] BenTheElder commented on #6089
Sorry I'm not sure what happened here, I swear this was already done 😕 ❓

This should be done now:
[code]
/area planter
/kind bug
/close

[2017-12-27 18:41] #6089 closed

[2017-12-27 18:56] BenTheElder commented on #6088
@chrislovecnm try `bazel build -- //... -//vendor/...`

If you don't actually need to build *everything* you can do `bazel build //prow/...` or something similar so you just build the targets you're actually trying to work with.

We should update the readme to mention excluding vendor, it's periodically an issue.

[2017-12-27 20:51] spiffxp opened #6095 "Some label prefixes should only ever exist once per issue"
For example:
- it doesn't make sense for an issue to have multiple priority/foo labels
- it doesn't make sense for an issue to have multiple lifecycle/foo labels (stale, rotten, and frozen at the same time)

However there are label prefixes that can exist more than once, eg:
- An issue that involves multiple sig should have multiple sig/foo labels

This may be a use case for a rewrite of the label

[2017-12-27 20:52] spiffxp commented on #6095
/area prow

[2017-12-27 20:55] spiffxp commented on #6095
The `priority/foo` thing doesn't align with the practice of having a `priority/failing-test` and `priority/critical-urgent` assigned to the same issue, but in practice I have never seen "failing test" used as a priority, just another dimension.  Better IMO to migrate that to `kind/failing-test`

[2017-12-27 22:08] BenTheElder commented on #5887
I just took another pass over the images and I think we're probably fine enough for now, but we should keep this in mind and definitely adopt any PID related features if/when they're implemented in kubernetes.

[2017-12-27 22:08] #5887 closed

[2017-12-27 22:36] jlewi opened #6097 "Add google/kubeflow repository to prow"
The Kubeflow project google/kubeflow#38 would like to use Prow to run our E2E tests.

We are already using prow to run our E2E tests for the [tensorflow/k8s](http://github.com/tensorflow/k8s) repository.

Opening this issue to link PRs to and in case anyone wants to chime in on this.

I plan on following these [instructions](https://github.com/tensorflow/k8s/tree/master/test-infra#notes-adding-ten

[2017-12-27 22:36] jlewi commented on #6097
I can't assign myself to this issue but I plan on working on it.

[2017-12-28 04:43] MorrisLaw commented on #3795
I'll work on this issue, @BenTheElder @nlandolfi @kargakis @cjwagner @xiangpengzhao @spxtr

[2017-12-28 05:53] xiangpengzhao commented on #3795
@MorrisLaw cool, thanks!

[2017-12-28 18:53] cjwagner commented on #6033
/assign
I'm working on this. I want to combine the `owner-label` and `path-label` mungers' functionality into a single Prow plugin. I'll make a DD and link to it here.

[2017-12-28 18:56] mattfarina opened #6103 "Issue Mover From One Repo To Another"
I've been running into cases where an issue should be moved from one repo to another. If we break out parts of Kubernetes into separate repos this may happen to some others.

Before I look at using [probot for this](https://probot.github.io/apps/move/) I thought I'd ask here. Are there any plans to add something like this to prow?

[2017-12-28 19:05] BenTheElder commented on #6103
That tool looks cool.

I don't think Prow per se is the right place for this functionality since
it would involve scraping lots of historical data (as opposed to being
primarily webhook based) and probably needs a different token (since it
will take lots of API calls) etc. There's some precedent for tooling like
this in the status / label migration tooling though.

On Thu, Dec 28, 2017, 10:56 Matt

[2017-12-28 19:06] BenTheElder commented on #6103
I also don't think anyone has plans to build something like this currently.

On Thu, Dec 28, 2017, 11:05 Benjamin Elder <bentheelder@google.com> wrote:

[2017-12-28 19:45] BenTheElder commented on #6088
I think we can close this one. `/reopen` if not.

[2017-12-28 19:45] #6088 closed

[2017-12-28 20:11] spiffxp opened #6104 "Migrate mungegithub to kubernetes-retired"
Per comments in https://github.com/kubernetes/test-infra/pull/6071 and https://github.com/kubernetes/test-infra/pull/6065

I've been attempting to remove as much of mungegithub as we can as we replace its functionality with prow, to make absolutely clear that we no longer support it.  However, others may find it useful, and may not be able to migrate away as quickly as we have been.  We're not exa

[2017-12-28 21:13] BenTheElder opened #6105 "Improve docker in docker cleanup"
Working on this today so we can more freely enable dind (along with #5436), in short:

 - Move cleanup code out of bash so we can write something more sophisticated
 - Implement more robust cleanup of images we aren't trying to cache.
   - We want to keep pulled base images around to reduce flakiness, but not built images

To implement more robust cleanup:
 - We can't reliably detect if an image w

[2017-12-28 21:17] BenTheElder commented on #6105
FYI @rramkumar1 I think we can enable dind for your job and then follow-up with this. We'll try setting up ingress-gce with it's own data root at least.

[2017-12-28 21:39] rramkumar1 commented on #6105
@BenTheElder SGTM

[2017-12-28 22:18] rmmh commented on #6092
This is for making external build logs show on Gubernator, right?

[2017-12-28 22:41] stevekuznetsov commented on #6092
This is for any view - issues today exist with logs that are over size, missing or malformed data in `started.json` and `finished.json` that would usually be displayed in the header or the overview table.

[2017-12-29 01:17] rmmh commented on #6092
Running out of memory is the most common error on gubernator, especially for large artifact directories like the cluster scale logs.

[2017-12-29 11:02] porridge opened #6109 "k8s-ci-robot adds both a sig-* and needs-sig labels in response to the same comment"
See https://github.com/kubernetes/kubernetes/issues/57706#event-1404425003 - the bot added a sig label and a needs-sig label, and removed it, all in response to a single (initial) comment.

[2017-12-29 11:08] kargakis commented on #6109
This is how labels show up by Github if they are added and removed at the same time (or even when there is no other event in between and the second label action is hours later). It seems that the labels are applied correctly.

/close

[2017-12-29 11:10] porridge commented on #6109
/reopen
My point is that the bot should not be adding the needs-sig label (and spamming the issue author) at the same time if the initial message does specify the sig.

[2017-12-29 11:15] kargakis commented on #6109
Fair point. Please reword the issue title to be more specific.

[2017-12-29 11:19] kargakis commented on #6104
+1 on a standalone repo and a warning in the docs pointing back to prow

[2017-12-29 14:33] porridge commented on #6109
Similar case in k/k#57708

[2017-12-29 14:37] kargakis commented on #6109
We have this problem in other plugins, too. For example, blunderbuss will request reviews from OWNERS files even if you have `/cc`'d someone in the initial post.

cc @cjwagner

[2017-12-29 18:17] stevekuznetsov commented on #6092
I'm not sure what you are saying. There are about ten million ways a malformed `finished.json` file will ruin the rendering of a page. For instance, [here](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_image-registry/21/openshift/image-registry/unit/1) with the following file:

[code]

[code]

Obviously `null` in the field is wrong, but the end result -- no vi

[2017-12-30 16:34] luxas opened #6111 "Cleanup v1.6 jobs"
v1.6 is not supported anymore now with the new v1.9 release according to [our docs](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md), so we can remove our v1.6 jobs and reclaim resources.

cc @BenTheElder @krzyzacy @fejta @spiffxp

[2017-12-31 02:29] chrislovecnm commented on #6085
Completed, closing

[2017-12-31 02:29] #6085 closed

[2017-12-31 02:30] chrislovecnm commented on #5916
https://github.com/kubernetes/test-infra/pull/6113 is in, but needs testing

[2017-12-31 02:44] chrislovecnm opened #6114 "Update kops to use etcd 3 with testing"
Use the override flag once https://github.com/kubernetes/kops/pull/4179 is merged

[2018-01-01 19:23] cjwagner commented on #6109
ref #5854

[2018-01-01 19:37] cjwagner opened #6116 "Add "file a bug here" links to the github user pages of robots."
Previously kubernetes/contrib#2359

These pages should specify where to file bugs or get help for these bots. `k8s-ci-robot` links to the prow directory, but we should explicitly link to the 'new issue' page for test-infra and direct users to file bugs there.
https://github.com/k8s-merge-robot
https://github.com/k8s-ci-robot

[2018-01-01 20:38] MorrisLaw commented on #3795
Hey, when I run the `test-infra/prow/plugins/lgtm` tests. Specifically the tests in the function `TestLGTMComment`. It gives me the following error:
[code]

This is the code that references `handle` in `test-infra/prow/plugins/lgtm.go`:
[code]

And here is the signature for the `handle` function itself.
[code]

Is anyone else getting this error?
I have some changes that I made, but they introduce

[2018-01-01 21:47] cjwagner commented on #6033
Oops, I forgot to provide the link from this issue:
https://docs.google.com/document/d/1VfH8vIO22qzekM9nkIO_434p5e7J3Wrz0odaSHAkF40/edit

[2018-01-01 22:58] MorrisLaw commented on #3795
Ok, so apparently I was in the wrong directory. I was in `~/go/src/test-infra` as opposed to `~/go/src/k8s.io/test-infra`. Thank you @cjwagner. The tests on my end, now work as expected.

[2018-01-02 04:48] xiangpengzhao commented on #3295
/close

[2018-01-02 04:48] #3295 closed

[2018-01-02 06:01] cblecker commented on #3724
With mungegithub on the way out and tide being the way of the future, I don't think this is relevant anymore. Would you agree, @spiffxp?

[2018-01-02 15:27] porridge commented on #5645
Another failed run for which there was no notification: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/35

[2018-01-02 15:28] porridge commented on #5645
I have to admit that the usefulness of this notification service is greatly reduced by its unreliability, because it forces us to do manual history checks anyway. :-(