[2021-03-10 19:43] chases2 commented on #21126
If there's a subdirectory of them, it might make sense to add a default.yaml in a subdirectory, but this isn't working right yet. See https://github.com/kubernetes/test-infra/issues/20756

[2021-03-10 21:45] MushuEE commented on #20606
Seems we are still hitting this, looks like bq got an update to be better with logging this error. Updating Prod to use new libs for better logging

[2021-03-10 22:06] spiffxp opened #21296 "Modify flakes-daily query output to look like flakes query output"
**What would you like to be added**:
The metrics query that outputs to http://storage.googleapis.com/k8s-metrics/flakes-daily-latest.json should also output test names, as is done for http://storage.googleapis.com/k8s-metrics/flakes-latest.json

I think if we could run this query more frequently than daily, but have it draw from the previous 24h, it could be more relevant/current when there's so m

[2021-03-10 22:07] spiffxp commented on #21296
/sig testing
/sig release
because ci-signal
/priority important-soon
/milestone v1.21

/assign @MushuEE
not to voluntold you, but you might be able to bust this out quicker than me

otherwise... I will get to this if I have time later this week

[2021-03-11 00:23] spiffxp commented on #19034
Agree it looks fine to me. I wish I knew what fixed it. But.

![image](https://user-images.githubusercontent.com/49258/110716878-08780580-81d6-11eb-97d5-b6509a8865b1.gif)

/close

[2021-03-11 00:23] #19034 closed

[2021-03-11 02:37] hh opened #21303 "Support Multiple Commits for Audit Updates (and other pr-creator based periodic jobs)"
**What would you like to be added**:

Logic for updating existing PRs created with `pr-creator`

**Why is this needed**:

For jobs like https://github.com/kubernetes/k8s.io/pull/1755#issuecomment-792419733
The pr is created, but any subsequent changes are force pushed, resulting in a single commit without the history over time as the periodic runs again.

Ideally we would check to see if a PR exis

[2021-03-11 02:41] hh commented on #21303
Current logic:

[2021-03-11 02:41] hh commented on #21303
Current logic:
https://github.com/kubernetes/test-infra/blob/1061699111447f6f6d2d360d063af5b8e6948d63/config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml#L54-L88

[2021-03-11 02:41] hh commented on #21303
Current logic:
https://github.com/kubernetes/test-infra/blob/1061699111447f6f6d2d360d063af5b8e6948d63/config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml#L54-L88

[2021-03-11 02:45] hh opened #21304 "pr-creator binaries / CI container images"
**What would you like to be added**:

- pr-creator as an binary artefact
- pr-creator included in a few images for use by the k8s community

**Why is this needed**:

Currently you have to use extra refs to checkout test-infra, include golang build tooling, build the binary, and then run `pr-creator`
Ideally it's available as a binary download or included in test-infra container images.

[2021-03-11 12:03] dguendisch commented on #21126
Hmm, I added the respective line `disable_prowjob_analysis: true` with https://github.com/kubernetes/test-infra/pull/21280 which got merged on 10th March. However e.g. our AWS testresults from today 11th March still show the failing pod info row: https://testgrid.k8s.io/conformance-gardener#Gardener,%20v1.20%20AWS
@chases2: am I missing something? Or just need to wait longer?

[2021-03-11 17:21] chaodaiG opened #21317 "Prow log errors: Failed to create k8s-tpu-operator pipeline client"
**What happened**:

Seeing repeated errors in k8s prow log:

[code]

[2021-03-11 17:22] chaodaiG commented on #21317
/area prow

[2021-03-11 17:24] chaodaiG commented on #21317
/kind oncall-hotlist

[2021-03-11 17:31] chaodaiG commented on #21317
This is actually causing prow-pipeline pod crashlooping:
[code]

[2021-03-11 17:59] chaodaiG commented on #21317
The build cluster named `k8s-tpu-operator` isn't reachable to other prow components as well, very likely the cluster was not reachable from prow any more. Pipeline shouldn't crashloop when this happened, #21318 to make it not panic.

Not sure which team owns `k8s-tpu-operator`.

[2021-03-11 18:49] cjwagner commented on #21317
@yguo0905 Deleted the cluster. I don't see any job config for that cluster so we should probably remove the kubeconfig entry now.

[2021-03-11 18:59] chaodaiG commented on #21317
Done, deleted it from kubeconfig, @yguo0905 please let us know if this is still needed

[2021-03-11 19:01] chaodaiG commented on #21317
Pipeline stopped crashlooping after this, mark it fixed for now
/close

[2021-03-11 19:01] #21317 closed

[2021-03-11 22:05] amwat commented on #20886
tracked here: https://github.com/kubernetes-sigs/kubetest2/issues/108

[2021-03-12 00:26] cjwagner opened #21330 "Sidecar censoring tests do not pass locally."
**What happened**:
[code]

**Anything else we need to know?**:
I'm not sure how to reproduce this or why it isn't failing in CI. I'm hoping that Steve might have some ideas about what could be causing this.

/assign @stevekuznetsov
/area prow/sidecar

[2021-03-12 01:30] #19054 closed

[2021-03-12 06:18] matthyx commented on #16793
/close

[2021-03-12 06:18] #16793 closed

[2021-03-12 07:27] BenTheElder commented on #21268
KIND uses `internal` to pretty good effect. Currently where we are at:
- the CLI / binary app logic is importable
- the APIs the binary app / CLI commands depend on directly are importable
- any further implementation detail packages breaking up that logic are generally in `internal` subtrees
- some of the code is internal to a specific subtree, not available to the rest of the repo. e.g. cluster

[2021-03-12 09:21] pacoxu commented on #13063
https://raw.githubusercontent.com/kubernetes/test-infra/master/docs/architecture.svg

2020 -> 2021 😄

[2021-03-12 14:21] bbguimaraes commented on #21330
Any chance you have files of the special types listed here (hard/symbolic links, most likely) somehow in your source tree?

https://github.com/golang/go/blob/release-branch.go1.16/src/archive/tar/writer.go#L428-L430

[code]

[2021-03-12 15:06] mborsz commented on #17505
This has been fixed by migrating logs in 5k tests to a separate bucket

[2021-03-12 15:06] #17505 closed

[2021-03-12 15:44] stevekuznetsov commented on #21330
A new clone of the repo seems to work as well:

[code]

@cjwagner I think this might point to it being something special about your working directory - if we can figure out what the culprit is, I will add another unit test to check for them and give a sensible error message to the user.

[2021-03-12 22:38] dims commented on #18388
cc @supriya-premkumar

[2021-03-12 22:44] supriya-premkumar commented on #18388
/assign

[2021-03-12 23:30] alvaroaleman commented on #21330
This reproduces easily via bazel but not via `go test`:

[code]

[code]

[2021-03-13 00:13] spiffxp opened #21356 "Add /remove-(approve|lgtm|hold) commands"
/remove hold

__Originally posted by @ameukam in https://github.com/kubernetes/k8s.io/pull/1732#issuecomment-797680434__

Made me realize for these labels that while we do have "/foo cancel" as a consistent option, adding support for "/remove-foo" would be more consistent with other labels (priority, sig, lifecycle, area, etc)

/assign @cjwagner @chaodaiG @alvaroaleman
WDYT? Don't want to tag with

[2021-03-13 00:14] jeremyje commented on #21260
They are pretty green at this point so I'm closing this issue.

[2021-03-13 00:14] #21260 closed

[2021-03-13 00:15] spiffxp commented on #21356
Also FYI @nikhita since you've been looking at /approve lately

[2021-03-13 00:51] alvaroaleman commented on #21356
From a technical standpoint there are no reasons not to do this. I personally think that its perfectly fine to have all of "/remove $command", "/un$command", "/$command cancel" and that it has the advantage that ppl will in 99% of the cases intuitively use one of those choices even if they didn't know it existed ahead of time.

But I also seem to remember that someone found it important that there

[2021-03-13 01:16] fejta commented on #21356
We started with `/lgtm cancel`. This did not work with variable commands like `/sig <variable>`. Thus `/remove-sig <variable>`. Having everything support `/remove-command` seems like a reasonable idea, since I see that always makes sense.

I would also support retiring `/lgtm cancel` etc in favor of the more universal `/remove-lgtm` pattern, and doing this for all commands.

I see the main goal he

[2021-03-13 22:14] #19411 closed

[2021-03-13 23:15] #19459 closed

[2021-03-13 23:15] #19568 closed

[2021-03-14 23:39] #19588 closed

[2021-03-15 07:44] dguendisch commented on #21126
@chrigl did it work for you to disable the prow analysis row on openstack tests?
@chases2 as written above, disabling doesn't seem to work. Any idea what's wrong?

[2021-03-15 10:22] nikhita commented on #21356
I'm good with this. :+1:

For the limiting principle, we could maybe keep it simple to:
-  `/$command` and `/remove-$command` for all commands.
- `/un$command` and `/$command cancel` only for commands where it makes sense

cc @mrbobbytables

[2021-03-15 11:42] mrbobbytables commented on #21356
+1 This seems like a pretty reasonable request.

[2021-03-15 17:51] spiffxp commented on #21356
Maybe someday. For now I feel like too many humans have the other variants baked into muscle-memory. I'd rather respect that, but stop the bot from suggesting them. Stats on usage could inform when to retire, which is a heavier lift for now.

[2021-03-15 20:37] brian-avery opened #21380 "Support Full Set of Repository Permissions in Peribolos"
**What would you like to be added**:

Kubernetes currently only supports a limited permission set of GitHub repository permissions (admin/read/write/none vs read/triage/write/maintain/admin). According to https://github.blog/2019-10-03-delegate-responsibilities-with-expanded-repository-permissions/, the more fine grained read/triage/write/maintain/admin should have been available to repositories O

[2021-03-15 22:24] brian-avery commented on #21380
Looking at https://github.com/kubernetes/test-infra/blob/a675586d4b45d86181bb31f8c196540daa15c26e/prow/github/client.go#L3331, this now returns separates triager and maintainer:

[code]

[2021-03-16 05:51] nikhita commented on #21356
I see lots of +1s and we've had a slew of new contributors showing up in sig-contribex so I'd like to label this as help-wanted.
/help

If you are a new contributor picking up this issue, here's how you can go about this.

**What needs to be done**:

If a GitHub comment contains (at least one of) the following text on a new line:
  - `/remove-approve` - the `approved` label should be removed
  - `

[2021-03-16 06:09] MadhavJivrajani commented on #21356
Hi! I'd like to take this up if possible :smile:

[2021-03-16 06:50] nikhita commented on #20872
Marking this issue as help wanted.
/help

If you are a new contributor who would like to pick this up, here's how you can go about this:

**Background about peribolos**:

- The tool [peribolos](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos) is used to manage the GitHub org configuration. For example, it allows defining GitHub org members, teams, team members, etc is a yam

[2021-03-16 18:04] chaodaiG commented on #21005
Checked k8s prow logs, and it appears that these errors are legit errors caused by:
[code]

I think the pod temporarily lost connection to api server and caused this

[2021-03-16 18:05] chaodaiG commented on #21005
I would suggest close this bug, WDYT @michelle192837 ?

[2021-03-16 18:31] chaodaiG commented on #21090
Loop back here: the prometheus alert was set up in https://github.com/kubernetes/test-infra/pull/21394

[2021-03-16 18:31] chases2 commented on #21126
I think we need to update TestGrid to v0.0.55 to start recognizing and serializing the option.

Change: https://github.com/GoogleCloudPlatform/testgrid/commit/5f5f56bab5a9f507366bd102455ddf7921fdc5e4
Update PR: https://github.com/kubernetes/test-infra/pull/21400

[2021-03-16 19:32] spiffxp commented on #21356
/assign @MadhavJivrajani

[2021-03-16 19:32] spiffxp commented on #21356
/unassign @cjwagner @alvaroaleman @fejta
Thanks for the input!

[2021-03-16 20:58] fejta commented on #19086
Things seem fine lately: https://k8s-testgrid.appspot.com/sig-testing-prow#push-prow

[2021-03-16 20:58] #19086 closed

[2021-03-16 21:18] daemon1024 commented on #20872
I would like to work on this 🤗😄

/assign

[2021-03-16 22:49] cjwagner commented on #21330
Yeah this seems to be an issue with bazel. Maybe this is only passing in CI due to RBE handling test directories differently?
Can we remove these tests until they are fixed to work with bazel?

[2021-03-17 04:35] nikhita commented on #21006
another example - https://github.com/kubernetes/kubernetes/pull/98334

cc @pacoxu

[2021-03-17 04:48] nikhita commented on #21380
/area prow/peribolos

[2021-03-17 07:50] timoreimann commented on #21279
This should have been completed.

/close

[2021-03-17 07:50] #21279 closed

[2021-03-17 16:31] chaodaiG commented on #21091
This was fixed by upgrading prometheus operator to new version, see https://github.com/kubernetes/test-infra/issues/21138#issuecomment-794050016 for context

[2021-03-17 16:31] chaodaiG commented on #21091
/close

[2021-03-17 16:31] #21091 closed

[2021-03-17 16:31] chaodaiG commented on #21005
Synced offline with @michelle192837
/close

[2021-03-17 16:31] #21005 closed

[2021-03-17 17:09] MushuEE commented on #20606
Going to catch this and skip chunks where there is "too much data"

[2021-03-17 18:05] alvaroaleman commented on #10423
/remove-lifecycle rotten

This is currently missing the Tide bits, the rest works already. I'll try to get the tide bits done in the near future, I have some work on that locally already.

[2021-03-17 21:25] chaodaiG commented on #21265
Upgrade prometheus operator fixed the problem

[2021-03-17 21:42] chaodaiG commented on #21265
/close

[2021-03-17 21:42] #21265 closed

[2021-03-18 00:46] cjwagner opened #21426 "Plugin-help cannot be served when plugins are enabled for organizations with many repos."
**What happened**:
Generating plugin-help information currently requires listing all repos in organizations that have plugins configured in order to allow complete plugin-help information to be generated for every repo. This is problematic when organizations have huge numbers of repos which may be the case if plugins are configured for such an org, but webhooks are only enabled for some repos in t

[2021-03-18 02:45] hi-rustin commented on #21098
/unassign

[2021-03-18 09:39] pyjlwc2016 opened #21429 "Prow issue:I want to close serviceaccount/token function"
2021/03/18 16:40:53 Using namespace: kube-system
2021/03/18 16:40:53 Using in-cluster config to connect to apiserver
2021/03/18 16:40:53 Could not init in cluster config: open /var/run/secrets/kubernetes.io/serviceaccount/token: The system cannot find the path specified.
panic: could not create client config

[2021-03-18 12:48] dims opened #21430 "Rename pull-kubernetes-e2e-gce-ubuntu-containerd to pull-kubernetes-e2e-gce"
`pull-kubernetes-e2e-gce-ubuntu-containerd` has been the main CI job in presubmit that runs all the e2e tests for a while now. Historic note is that it replaced a job named `pull-kubernetes-e2e-gce` so we had added the qualifer that this was a ubuntu OS running containerd when we added this job. At this point since this is the default job, let's give it the shorter name.

Notes from @BenTheElder o

[2021-03-18 13:25] #21098 closed

[2021-03-18 17:14] evankanderson opened #21434 "Peribolos checking bug -- team member don't need to be org members"
**What happened**:

We had a member step down from the org-level `admins` group (while still being on a team in the org), and Peribolos would do the following:

* Remove the user from the organization
* Add the user to the organization as part of adding them to the team

**What you expected to happen**:

Either:

1. Peribolos would _fail_ the configuration, causing no updates.
2. Peribolos would i

[2021-03-18 18:52] alvaroaleman commented on #21429
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2021-03-18 18:52] #21429 closed

[2021-03-19 02:29] fisherxu commented on #20713
@alvaroaleman The project I maintained are using prow-bot and github action, but I found that when maintainer add `lgtm+approve` lables, tide will merge the pr though github action failed.

![image](https://user-images.githubusercontent.com/28776356/111722902-ac7c4380-889d-11eb-9680-56122b491572.png)

Our tide image version is as above, could I know when the version supports github action?

[2021-03-19 12:48] alvaroaleman commented on #20713
I can not tell you offhand what version exactly started supporting it, but what you have is from October 2020 and thus too old. Please just update your tide to a current version

[2021-03-19 14:55] rikatz commented on #18117
OK, so I've started to look into the viability of this. Unfortunately Github does not support Issue move on their API. The Update endpoint only allows to update the title, body but not the owner or the repo.

I'm not sure if the GraphQL already supports this, should take a look, but AFAIK the Prow Github Client uses the rest/v3 API. Maybe this need to be an external plugin.

Doing some call debugg

[2021-03-19 15:09] stevekuznetsov opened #21449 "deck: overview: logs button is broken once Pod is gone"
When someone clicks the logs thumbnail after the job's Pod is missing, `deck` currently serves them a `pod <name> not found` error page. We should likely just send them to spyglass by rendering the page differently for jobs that are finished?

![_thumb_12514387](https://user-images.githubusercontent.com/7328370/111801494-41754180-888a-11eb-804c-3689f04ac190.png)

[2021-03-19 15:09] stevekuznetsov commented on #21449
/area deck

[2021-03-19 15:09] stevekuznetsov commented on #21449
/area prow/deck

[2021-03-19 17:19] spiffxp commented on #21434
Your description talks about moving from/to, can you update your repro to be represented as a diff/patch?

I'm guessing is the sequence of events you found unexpected?
[code]

[2021-03-19 17:22] spiffxp commented on #21434
Seems more in line with peribolos' philosophy today.  Don't try and be clever, if the config as written is impossible, fail.  Catch invalid config changes at presubmit

[2021-03-19 17:40] evankanderson commented on #21434
I agree that "fail the configuration" is probably the philosophically-aligned choice. And, if the preflight check had failed, we would have blocked the submit of the file that removed `ronavn` from the organization altogether, and moved him from `admins` to `members`.

The config I provide above will invite `victim` to the org, but whenever they accept, they will be removed on the next cycle and t

[2021-03-19 20:01] BenTheElder commented on #20667
not quite workable, because we try to check it out to a branch with that name, and it's not a valid branch name https://github.com/kubernetes/test-infra/pull/21452#issuecomment-803075138

[2021-03-19 23:07] chases2 opened #21463 "@io_k8s_repo_infra//hack:update-deps breaks go.sum if the local Go version is too old"
**What happened**:
Running "update-deps" with an out-of-date local Go version breaks go.sum.

**What you expected to happen**:
Bazel should use the version of go specified in the workspace configuration. The local version of Go shouldn't leak into the tests.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Please provide links to example occurrences, if any**:
https://p

[2021-03-20 06:42] #16472 closed

[2021-03-22 05:50] MadhavJivrajani commented on #21380
Hey! I'd like to work on this if possible :smile:

[2021-03-22 21:23] #20756 closed

[2021-03-22 23:41] vincepri commented on #6095
@nikhita @spiffxp Is this something we could make configurable (if someone works on it)? We're planning to add a `priority/release-blocker` label in Cluster API in addition to the critical-urgent ones to signify that a release can be delayed if a particular issue or PR doesn't get merged, or if we don't have enough consensus.

We tried to have a simple label called `release-blocking`, although the

[2021-03-23 23:21] BenTheElder opened #21490 "kubetest logspam searching for unrelated code"
**What happened**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/100171/pull-kubernetes-e2e-gce-ubuntu-containerd/1374472601409163264/

**What you expected to happen**:

There is zero reason for anything related to this cloud provider to be running in a test of Kubernetes/Kubernetes on GCE. Unnecessary warnings distract from root causing real bugs.

**How to reproduce it (as minimal

[2021-03-24 01:33] thejoycekung opened #21491 "ci-kubernetes-e2e-windows-gce-2019 and ci-kubernetes-e2e-windows-gce-2004 failing outside of test results"
**What happened**:
These two jobs on TestGrid are marked as "failing" even when it seems their tests are all green.

**What you expected to happen**:
When the run is green, I expect the job to be marked as passing.

**Please provide links to example occurrences, if any**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2004-master
https://testgrid.k8s.io/sig-release-master-informi

[2021-03-24 03:11] nikhita commented on #6095
While it's not difficult to configure this technically, I'm a little hesitant on allowing multiple priority labels.

A few approaches here:
- Define `priority/release-blocker` > `priority/critical-urgent` priority-wise for Cluster API
- Add a `kind/release-blocker` instead since there can be multiple kind labels

[2021-03-24 04:46] BenTheElder commented on #21491
They're actually failing. The ones without any failing test results failed the job overall because they timed out before completing. You can see this clicking through to the run results and expanding the logs.

[2021-03-24 04:46] #21491 closed

[2021-03-24 12:37] jprzychodzen opened #21495 "Subset of sig-scalability jobs have duplicated emails"
**What happened**:
Alert notifications for few sig-scalability jobs triggers duplicated email notification from testgrid. I've found out following jobs that are affected:

* sig-release-master-blocking/gce-cos-master-scalability-100
* sig-release-master-informing/gce-master-scale-correctness
* sig-release-master-informing/gce-master-scale-performance
* sig-scalability-golang/golang-tip-k8s-1-18
*

[2021-03-24 18:29] cjwagner opened #21507 "BranchProtection merging test is flaky."
**What happened**:
`TestBranchProtectionMergeMergesAnythingWithoutAnError` flaked. The fuzzing seems to have detected a bug: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/21505/pull-test-infra-bazel/1374784788686180352
The expected result diff is pretty tough to read due to the fuzzing.

**What you expected to happen**:
No flaking unit tests and for the underlying bug to b

[2021-03-24 18:33] justaugustus commented on #20652
@cpanato -- You were last working on this. What are the next steps?

/unassign
/milestone v1.22

[2021-03-24 18:57] BenTheElder commented on #21495
cc @chases2

[2021-03-24 19:30] hongkailiu commented on #18347
Sorry for my late reply.
It looks fine now.
<img width="1158" alt="Screen Shot 2021-03-24 at 3 28 55 PM" src="https://user-images.githubusercontent.com/4013349/112372155-cf4f9300-8cb5-11eb-8013-76c1d55b4b45.png">

[2021-03-24 19:30] hongkailiu commented on #18347
/close

[2021-03-24 19:30] #18347 closed

[2021-03-24 20:31] yuvalk opened #21509 "verify-owners plugin Can't add alias to OWNER_ALIASES and use it in an OWNERS file in the same commit"
this is a bug with the verify-owners plugin

PR is automatically labeled with do-not-merge/invalid-owners-file
if a single commit both add a new alias and try to use it in an ONWERS file

[2021-03-24 20:31] stevekuznetsov commented on #21509
/area prow/hook

[2021-03-25 05:38] #18479 closed

[2021-03-25 10:14] cpanato commented on #20652
@justaugustus @spiffxp sorry for the delay in replying on this, I was doing some investigations, and I will describe my findings and possible options that I can see (you all might have other options :) )

Issue: When the cloudbuild is triggered, sometimes it failed because we receive `Quota exceeded for quota metric 'Build and Operation Get requests' `

Aaron said this is something we cannot incre

[2021-03-25 17:01] #21507 closed

[2021-03-25 17:16] viveksyngh commented on #21167
I would like to work on this issue

[2021-03-25 17:20] stevekuznetsov commented on #21167
I think that's what the behavior did when I originally wrote it @cjwagner lol. Perhaps that's been broken since. Unfortunately hard to e2e test this component.

[2021-03-25 17:21] stevekuznetsov commented on #21167
@viveksyngh sure thing - shoot me an /assign and I'll review when you are ready

[2021-03-25 17:23] stevekuznetsov commented on #21167
Actually @cjwagner as of https://github.com/kubernetes/test-infra/pull/20923 we should intelligently set the Pod's `terminationGracePeriodSeconds` to be larger than the `entrypoint`'s grace period, so perhaps it would be safe to default to ignoring interrupts if we think that the default buffer we add is enough to do the upload.

[2021-03-25 18:10] cjwagner commented on #21167
That would be one way to mitigate this problem and it would probably be sufficient most of the time, but I don't think it is as robust as doing a best effort upload then continuing to wait and try the real upload. The double upload seems strictly better since it ensures that we upload something even if the main upload takes too long to complete.

[2021-03-25 19:00] viveksyngh commented on #21167
/assign

[2021-03-25 19:52] lboix commented on #16116
Here is a workaround that could help, especially if you are using Kubernetes 1.14 : https://github.com/kubernetes/client-go/issues/741#issuecomment-807368949

[2021-03-25 23:56] #19555 closed

[2021-03-26 04:25] shu-mutou opened #21534 "Some PRs from dependabot contain GitHub keywords in commit message"
**What would you like to be added**:
Can we exclude `do-not-merge/invalid-commit-message` check for PRs from dependabot?

**Why is this needed**:
AngularJS and some packages has `@` in its name.
So their PRs for update such packages are labeled as `do-not-merge/invalid-commit-message`.

https://github.com/kubernetes/dashboard/pull/5929
https://github.com/kubernetes/dashboard/commit/8d90e140fc13431

[2021-03-26 04:44] shu-mutou commented on #21534
/label area/prow

[2021-03-26 06:28] matthyx commented on #16145
is this still an issue?

[2021-03-26 13:09] alvaroaleman commented on #16145
I haven't seen this anymore

[2021-03-26 15:40] Mini256 opened #21540 "Add a prefix in front of the title of PR created by autobump"
❤️ Thank you for noticing this issue.

**What would you like to be added**:

Add a prefix in front of the title of PR created by `autobump` , for example: `build: Bump prow from v20210323-4a95c1446c to v20210325-ad0e6d1480`, and allow users to configure it through environment variables.

https://github.com/kubernetes/test-infra/blob/17edd25671538ee0df8f730af734dee889991efa/prow/cmd/autobump/autobu

[2021-03-26 15:42] Mini256 commented on #21540
/label area/prow

[2021-03-26 15:43] Mini256 commented on #21540
/area prow

[2021-03-26 17:07] stevekuznetsov opened #21541 "pod-utils: dependent environment variables break JSON encoding"
When we run the `entrypoint` and `sidecar`, we pass them the command and arguments from the user's container spec in the job configuration. If a user is using k8s environment variable dependencies or interpolation in the arguments for their container, the `$(varname)` form will exist in the `$ENTRYPOINT_OPTIONS` variable in the decorated Pod that we POST to the API. Kubernetes will then interpolat

[2021-03-26 17:26] alvaroaleman commented on #21541
In theory we could add a validation that generates a job pod, iterates the env vars for those containers and fails when `ENTRYPOINT_OPTIONS` contains a `$(iterated-env-var)` substring. Seems a bit complicated though.

[2021-03-27 00:43] spiffxp commented on #20652
I will respond more in Seth next week. I still think we should isolate service accounts and the projects they can build. But.

A more surgical fix might be to update image-builder to invoke gcloud with the --billing-project flag with the staging project as its value. That should cause quota to get counted against the staging project instead of the project associated with the service account runnin

[2021-03-27 18:07] BenTheElder commented on #21534
We don't allow these commits for a reason ... However I don't think the matching is correct here, while e.g.
`@kubernetes/sig-apps-misc` is a valid in-org team reference (if unquoted in this comment it will ping the team, not sure about in commits though) which is similar to `@angular/platform-browser` I don't think github supports these in commits.

If github doesn't support team mentions in comm

[2021-03-27 18:07] BenTheElder commented on #21534
/area prow

[2021-03-27 18:09] BenTheElder commented on #21534
If we were to make an exception rather than (potentially, once verified) more accurate matching, this would require approval from SIG Contributor Experience as a workflow change.

[2021-03-27 18:13] BenTheElder commented on #21540
Changing the format would break our searches for these and we don't use semantic titles ourselves, but if you made it optional in such a way that it didn't change the title for our usage I think this would be accepted.

Something like this would do nothing when not set:
`"${AUTOBUMP_TITLE_PREFIX:+"${AUTOBUMP_TITLE_PREFIX} "}Bump .."`

[2021-03-27 19:18] spiffxp commented on #21430
I'm wary of the same job name meaning two different things depending on what branch a PR targets. Do you intend to backport to older release branches?

[2021-03-27 19:25] BenTheElder commented on #21430
Yes.

But I think we should not do this until around at least a week into 1.22 (after the queue drains post-release) to avoid disruption.

[2021-03-28 12:39] MadhavJivrajani commented on #21171
Hi! I'd like to work on this if possible 😄
/assign

[2021-03-29 02:14] #14100 closed

[2021-03-29 06:17] shu-mutou commented on #21534
@BenTheElder Thank you for your explanations!!

I'm not sure why no mentions to myself were sent from above PR comments, but no mentions were sent by commit messages in that PR.

[2021-03-29 14:40] stevekuznetsov commented on #21541
It also doesn't fail in *all* cases - many, many jobs are using such variables that expand inside of `$ENTRYPOINT_OPTIONS` without breaking the JSON serialization.

[2021-03-29 14:46] stevekuznetsov opened #21556 "prow: override: use test names, not status contexts"
Today, users interact with Prow jobs by using `/test <name>`. However, administrators must use `/override <context>` even when the context is not the test name. We should allow `/override` to use test names as that's what users are familiar with.

/cc @bparees

WDYT @cjwagner @chaodaiG @alvaroaleman ?

[2021-03-29 15:35] alvaroaleman commented on #21556
This is pretty much an openshift-exclusive problem, because for everyone else these two are the same

[2021-03-29 15:42] brian-avery commented on #21380
Thanks @MadhavJivrajani :)

[2021-03-29 16:20] alvaroaleman commented on #21556
One issue with using the test name is that we might not know what context it belongs to when its different from the context

[2021-03-29 16:30] stevekuznetsov commented on #21556
There is nothing in Prow itself that requires that  the two be the same, so it's a Prow generic problem. We know exactly what the name (er, the part of the regex used in `/test`) is, so we should be able to definitively map from that to the context, no?

[2021-03-29 16:32] alvaroaleman commented on #21556
Not always, the job might not exist anymore for example

[2021-03-29 16:41] stevekuznetsov commented on #21556
Do we allow `/override` for contexts we don't know we own today? Seems like a bug TBH

[2021-03-29 16:42] stevekuznetsov commented on #21556
Turns out no, we [don't](https://github.com/kubernetes/test-infra/pull/21557#issuecomment-809533615) - so there is no gap there.

[2021-03-29 17:01] alvaroaleman commented on #21556
It was only refused because that status was a success already. But yeah you are right, we do require the job to exist: https://github.com/kubernetes/test-infra/blob/b5982ab9e3e2cdd0546573401cd96da671adb392/prow/plugins/override/override.go#L385

[2021-03-29 17:21] #21380 closed

[2021-03-29 17:46] cjwagner commented on #21556
We __do not__ require the job to exist. We just don't create a ProwJob if we can't find one with that status context. The status context on GitHub is overwritten either way.

[2021-03-29 21:54] amwat opened #21563 "Empty coverage lens"
**What happened**:
Empty coverage lens

**What you expected to happen**:
Coverage lens shows coverage treemap

**How to reproduce it (as minimally and precisely as possible)**:
already happening live in prow.k8s.io

**Please provide links to example occurrences, if any**:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-coverage-unit/1346830331453378560

**Anything else we need to

[2021-03-29 23:37] #21540 closed

[2021-03-30 00:47] cjwagner commented on #21563
I think the `simplifypath` errors are only related to metrics so that probably isn't the cause of this problem.
The prow.k8s.io logs don't include anything from the file `prow/spyglass/lenses/coverage/coverage.go` in the past week. The HTML template seems to execute without error, but I did notice this line was missing: https://github.com/kubernetes/test-infra/blob/f7e21a3c18f4f4bbc7ee170675ed53e4

[2021-03-30 03:28] shu-mutou commented on #21534
dependabot may assume only user mention, and not take into account teams.
https://github.com/dependabot/dependabot-core/issues/3378#issuecomment-809326939

They would fix this issue.

[2021-03-30 03:29] shu-mutou commented on #21534
BTW, dependabot replaces `@user` to `@<U+200B>user`, i.e. inserts ZERO WIDTH SPACE. ZERO WIDTH SPACE is acceptable for us?
https://github.com/dependabot/dependabot-core/blob/e7c1929d7f850f8516311cc41753958cb6b980d2/common/lib/dependabot/pull_request_creator/message_builder/link_and_mention_sanitizer.rb#L140

[2021-03-30 03:31] shu-mutou commented on #21534
BTW, dependabot replaces `@user` to `@<U+200B>user`, i.e. inserts ZERO WIDTH SPACE. ZERO WIDTH SPACE is acceptable for us?
https://github.com/dependabot/dependabot-core/blob/e7c1929d7f850f8516311cc41753958cb6b980d2/common/lib/dependabot/pull_request_creator/message_builder/link_and_mention_sanitizer.rb#L140

[2021-03-30 12:22] hasheddan commented on #21185
/assign
/cc @cpanato

[2021-03-30 12:32] cpanato commented on #21185
I will take a look on this tomorrow

[2021-03-30 17:45] chaodaiG commented on #19264
/assign

[2021-03-30 17:46] chaodaiG commented on #19264
#21577 and #21580 are for deprecating the remaining two "blacklist" config fields

[2021-03-30 18:38] dprotaso opened #21581 "retest command doesn't re-run failed github actions"
**What would you like to be added**:

`/retest` kicks off failed GitHub actions that appear in the PR checks

**Why is this needed**:

I think Github ACLs are a bit wonky and sometimes PR authors can't re-trigger these failed workflows (unless they push fake commits). Or other times I'd like to re-run the actions and cannot.

[2021-03-30 18:44] stevekuznetsov commented on #21581
Prow doesn't own the actions, this seems like it could be surprising for users.

[2021-03-30 20:08] BenTheElder commented on #21534
Thanks for looking into this more!
That's a fun approach on their end, I think we are similarly just trying to prevent mentions, so we can update the bot to recognize real mentions vs these.

[2021-03-31 13:48] sladyn98 commented on #21185
I was looking at the logs on this one, and the makefile hasnt been touched for quite a while, I was just looking through the various logs, I came across this line, I am not too sure how helpful is this.
`Mar 05 04:59:29 clusterapi-control-plane kubelet[235]: F0305 04:59:29.649999     235 server.go:271] failed to run Kubelet: unable to load bootstrap kubeconfig: stat /etc/kubernetes/bootstrap-kubel

[2021-03-31 15:11] petr-muller commented on #21581
I think `/retest` caring only about Prowjobs is a relict from before actions when the "other" checks were coming from other CI systems like Travis CI when there was no API to retrigger such external jobs. With GH actions, I think it may be reasonable for `/retest` to trigger them too b/c the interface is clear and Prow can be reasonably expected to interact with GH on behalf of the user, I guess?

[2021-03-31 16:39] #21356 closed

[2021-03-31 17:40] justaugustus commented on #19922
/milestone v1.22

[2021-03-31 18:19] #21171 closed

[2021-03-31 18:51] BenTheElder commented on #12863
- https://github.com/kubernetes/test-infra/pull/21591 will remove tensorflow/minigo which is now archived.

- https://github.com/tensorflow/k8s is now https://github.com/kubeflow/tf-operator which is using the google tide robot and kubeflow prow bot.

[2021-04-01 00:21] cjwagner commented on #21330
I'm still seeing these errors after https://github.com/kubernetes/test-infra/pull/21438
[code]

[2021-04-01 09:19] david-caro opened #21604 "Expired key - "Google Cloud Packages Automatic Signing Key""
The current available key expired yesterday:
[code]

**What happened**: The key used to sign all the packages from the packages.cloud.google.com repos `https://packages.cloud.google.com/apt/dists/debian-buster-mirror/Release.gpg` has expired.

**What you expected to happen**: The key to be refreshed :)

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to ex

[2021-04-01 10:27] saschagrunert opened #21606 "Prow reports results across PRs"
**What happened**:

- The PR https://github.com/kubernetes/kubernetes/pull/100717 was a cherry-pick targeting the master branch, which got not merged.
- The PR https://github.com/kubernetes/kubernetes/pull/100718 got created directly afterwards, pointing to the correct `release-1.21` branch.

Now prow reports the failing tests from #100717 to the newly created PR #100718, for example this run:
htt

[2021-04-01 11:54] cpanato commented on #21185
thanks @dims for fixing the job
slack 🧵 : https://kubernetes.slack.com/archives/C01D1RFEN9G/p1617222790004800?thread_ts=1614957739.006600&cid=C01D1RFEN9G

testgrid is happy now https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#capg-conformance-v1alpha3-k8s-master

we can close this issue
/close

[2021-04-01 11:54] #21185 closed

[2021-04-01 13:15] dims commented on #21604
@spiffxp @amwat @BenTheElder FYI

cc @kubernetes/release-managers @kubernetes/release-engineering

[2021-04-01 13:16] dims commented on #21604
/sig release
/priority critical-urgent

[2021-04-01 13:55] alvaroaleman commented on #21606
That is not a bug, that is how the github api works. Github statues are scoped to a commit sha and both these PRs have the same head commit sha, so the status appears on both of them. Even we cleared it again, we would clear it on both, there isn't really anything that can be done about this.

[2021-04-01 18:02] spiffxp commented on #20829
FYI I just migrated kubernetes-sigs/slack-infra (https://github.com/kubernetes-sigs/slack-infra/issues/50) and in the process verified that GitHub no longer blasts prow with webhooks when a repo's default branch is renamed

I think we can call this closed unless anyone feels like we need to invest further engineering into this?

[2021-04-01 18:33] BenTheElder commented on #21606
We also need to be running these tests on this branch, the test config needs to be properly forked on setting up the release branch. Seems we have some issues with that still.

[2021-04-01 18:34] spiffxp commented on #20829
/close
Please /reopen if you feel like there's anything further to discuss here

[2021-04-01 18:34] #20829 closed

[2021-04-01 18:49] thejoycekung opened #21615 "Windows jobs on master/1.21-informing are timing out"
**What happened**:
ci-kubernetes-e2e-windows-gce-2004
ci-kubernetes-e2e-windows-gce-2019
ci-kubernetes-e2e-windows-gce-20h2
ci-kubernetes-e2e-windows-gce-2004-1-21
ci-kubernetes-e2e-windows-gce-2019-1-21
ci-kubernetes-e2e-windows-gce-20h2-1-21

are all timing out. On the master side, they are timing out at 3h (recently bumped from 2h on this PR: https://github.com/kubernetes/test-infra/pull/21584)

[2021-04-01 18:54] spiffxp commented on #21604
Same as https://github.com/kubernetes/test-infra/issues/7505#issuecomment-378045292

There was a new key pushed earlier this month
[code]

Something like this should work?
[code]
or
[code]

Having said that, the appropriate team internally is currently fielding a number of issues.  I believe the new key may not have fully rolled out yet.  If the above doesn't work for you, please report back.

[2021-04-01 18:54] BenTheElder commented on #21604
xref: https://github.com/kubernetes/kubernetes/issues/100348
googlers: b/181554122 for the key issue.

[2021-04-01 18:56] spiffxp commented on #21604
FYI @kubernetes/sig-release-leads I'm going to transfer this issue to kubernetes/release since this isn't a test-infra nor a sig-testing issue

[2021-04-02 20:18] BenTheElder opened #21633 "1.21 release branch is missing presubmits"
https://github.com/kubernetes/test-infra/issues/21606#issuecomment-812094062

sorry I don't have time to dig into this, I need to wrap up some other things and then I'm OOO for a week, but I want to make sure this is tracked.

/sig release
/area jobs
/priority critical-urgent

[2021-04-02 20:18] BenTheElder commented on #21606
https://github.com/kubernetes/test-infra/issues/21633

[2021-04-02 20:18] #21606 closed

[2021-04-02 20:19] BenTheElder commented on #21606
(prow is WAI, see above, job config tracked in the new issue linked above)

[2021-04-02 22:59] fejta opened #21639 "Testgrid needs read access to gs://containerd-integration bucket"
`gsutil iam ch serviceAccount:updater@k8s-testgrid.iam.gserviceaccount.com:storage.objectReader gs://containerd-integration` should work here

https://cloud.google.com/storage/docs/gsutil/commands/iam
https://console.cloud.google.com/iam-admin/

/assign @adelina-t

[code]

[2021-04-02 23:46] pjh commented on #21615
Thanks Joyce. https://github.com/kubernetes/test-infra/pull/21642 may help reduce the duration of these test jobs, but we still need to look into why the 1.21 jobs are taking longer than the 1.20 jobs.

[2021-04-03 17:03] alvaroaleman commented on #21006
/assign

[2021-04-03 17:41] BenTheElder commented on #21639
Ideally if this is to be displayed in testgrid it would be public read for allUsers so we can browse the logs etc.?

[2021-04-03 21:22] boypssy09 commented on #21639
[im home now for getting me hungry and naked in bed for a sex action ![image](https://user-images.githubusercontent.com/76577781/113491777-28cb7500-94a1-11eb-8e92-5611360faab7.jpeg)]()

[2021-04-04 06:02] viveksyngh commented on #21167
I have opened a draft MR to #21644 to address this, where I am adding a field in DecorationConfig to allow configuring IgnoreInterrupts for sidecar. Please let me know if I am moving in right direction here.

[2021-04-04 23:49] dims commented on #18601
💯 agree with the criteria above from @liggitt

[2021-04-05 08:59] #19627 closed

[2021-04-05 12:39] adelina-t commented on #21639
I've set it to public read for allUsers.

[2021-04-05 15:25] spiffxp commented on #18601
If someone wants to take a crack at implementing @liggitt's suggestion and assign to me for review I will happily approve

[2021-04-05 15:26] spiffxp commented on #18601
Don't need to block on contact info. I'll update description when back at keyboard

/help

[2021-04-05 15:45] dims opened #21655 "All MULTIZONE CI jobs are br0ken!"
- https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e-multi-zone
- https://testgrid.k8s.io/google-gce#gce-multizone
- https://testgrid.k8s.io/sig-node-containerd#e2e-cos-multizone
- https://testgrid.k8s.io/google-gce#gce-ha-master

basically all the ones marked `MULTIZONE=true` are broken - https://cs.k8s.io/?q=MULTIZONE%3Dtrue&i=nope&files=&excludeFiles=&repos=kubernetes/test-infr

[2021-04-05 15:47] dims commented on #21655
cc @spiffxp @BenTheElder @thockin @cheftako

[2021-04-05 16:09] #21006 closed

[2021-04-05 20:09] chaodaiG commented on #21563
@amwat , do you have a working example?

[2021-04-05 20:17] #21639 closed

[2021-04-05 20:20] amwat commented on #21563
the link in the first issue comment still fails for me

[2021-04-05 20:22] chaodaiG commented on #21563
Same here. Just want to see whether this is failing for all spyglass pages that use coverage lens or just this specific instance

[2021-04-05 20:25] amwat commented on #21563
yeah that seems to be the culprit (inspect -> reload frame, and it will spit out the same error again)

line 1 in the browser is

[code]

coming from here

https://github.com/kubernetes/test-infra/blob/072c97c8a7ac61205dc54922813ea0bf52847825/prow/spyglass/lenses/coverage/coverage.ts#L18

and

https://github.com/kubernetes/test-infra/blob/072c97c8a7ac61205dc54922813ea0bf52847825/gopherage/cmd/html

[2021-04-05 20:26] amwat commented on #21563
I'm seeing this in other prows as well

[2021-04-05 20:54] chaodaiG opened #21665 "Prow alertmanager config defined with alertmanagerconfig CR"
**What would you like to be added**:

https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/alerting.md#alertmanagerconfig-resource

**Why is this needed**:

Prow alertmanager config is currently defined as plain text in a Secret as https://github.com/kubernetes/test-infra/blob/57ec97633d831fef328116fe3b3592a62f2d54d3/config/prow/cluster/monitoring/alertm

[2021-04-05 20:54] chaodaiG commented on #21665
/area prow

[2021-04-05 20:55] chaodaiG commented on #21665
cc @cjwagner

[2021-04-06 00:59] thejoycekung commented on #21615
@pjh It looks like #21640 helped a bit -- all the tests actually finish within 3h now but the job is having trouble cleaning up/exiting? Looks like it hits the 3h15m timeout (the extra "grace period") while exiting.

Examples:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2004/1379177283335491584#1:build-log.txt:17736
- https://prow.k8s.io/view/gs/kubernetes-j

[2021-04-06 08:54] dguendisch commented on #21126
Seems that the above mentioned update was done and everything (`disable_prowjob_analysis: true`) works now as expected.
/close

[2021-04-06 08:54] #21126 closed

[2021-04-06 10:46] YuviGold commented on #21556
Multiple times I mistakenly hit one convention instead of the other convention for both of the commands.
Could both of the commands support both ways? Full name and the short name.

[override reference](https://github.com/openshift/assisted-service/pull/1454#issuecomment-813989940)
[test refference](https://github.com/openshift/assisted-service/pull/1454#issuecomment-813990800)

[2021-04-06 14:36] stevekuznetsov commented on #21556
Ok so overall ... we expect users to use `/override` for contexts that Prow owns, no? Users interact with contexts via the names they use `/test` with. In the prow.k8s.io case, these are also the context names, but nothing in Prow requires that to be the case. If we ask users to write test names, it should always be correct unless we really care about the case where users use `/override` to touch

[2021-04-06 14:40] chaodaiG commented on #21665
/assign

[2021-04-06 16:41] MushuEE opened #21674 "[Kettle] Failing to encode error ascii"
**What happened**:
We are now catching the `<p>Your client has issued a malformed or illegal request.  <ins>That\u2019s all we know.</ins>` error however Kettle hits an alternate error when trying to encode this issue to report and skip.

[code]
Causes `UnicodeEncodeError: 'ascii' codec can't encode character '\u2019' in position 1671: ordinal not in range(128)`

/area kettle
/assign

[2021-04-06 18:11] hongkailiu opened #21677 "[approve plugin]panicking on removeFromStringSlice"
**What happened**:
The `approve` label was not added after `/approve` cmd had been issued.
https://github.com/openshift/release/pull/17387#issuecomment-814142909

**Anything else we need to know?**:
panic from Hook's log
[code]

[2021-04-06 18:12] hongkailiu commented on #21677
/cc @alvaroaleman

[2021-04-06 18:22] alvaroaleman commented on #21677
/assign

[2021-04-06 18:22] hongkailiu commented on #21677
Additional info.
I can approve other PRs in the same repo and I saw similar panicking logs for other users too.

[2021-04-06 18:58] #21677 closed

[2021-04-06 19:42] dims commented on #21615
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2004-master and https://testgrid.k8s.io/sig-release-master-informing#gce-windows-20h2-master are both under an hour and half (latest run). no?

[2021-04-06 19:58] thejoycekung commented on #21615
@dims yeah, you're right. I don't know what happened but between these two runs the runtime seemed to be halved ...? The first one ran at 5PM EDT which was after #21640 merged, so it was already skipping the Slow tests too.

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2004/1379177283335491584
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2

[2021-04-06 20:14] chaodaiG opened #21681 "Grafana dashboard doesn't show github token usage on v4 api"
**What happened**:

As pointed out by Alvaro in https://github.com/kubernetes/test-infra/pull/21661, that
https://monitoring.prow.k8s.io/d/d72fe8d0400b2912e319b1e95d0ab1b3/github-cache?orgId=1&refresh=1m doesn't show v4 api usage

**What you expected to happen**:

grafana dashboard should show the usage to help debugging

/area prow

[2021-04-06 22:54] dims commented on #21615
@thejoycekung yep :) thanks to @claudiubelu

[2021-04-06 23:35] howardjohn opened #21684 "Cherrypicker only applied a single cherrypick"
**What happened**:

In PR https://github.com/istio/istio/pull/31798, the cherrypicker only applied to release-1.8

**What you expected to happen**:

Cherrypick applies to release-1.9 as well

**How to reproduce it (as minimally and precisely as possible)**:

Not sure, see PR above for context

**Please provide links to example occurrences, if any**:

https://github.com/istio/istio/pull/31798

[2021-04-07 11:34] hi-rustin opened #21691 "Failed to remove needs-rebase label after resolved conflict"
**What happened**:

Got error:

[code]

**What you expected to happen**:

Remove the needs-rebase label.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:
https://github.com/tikv/tikv/pull/9892

**Anything else we need to know?**:

[2021-04-07 14:19] #18782 closed

[2021-04-07 17:27] SergeyKanzhelev commented on #18826
/assign

[2021-04-08 12:31] dims opened #21710 "ci-kubernetes-e2e-windows-containerd-gce* is not really testing containerd"
https://github.com/kubernetes/test-infra/pull/21705 surfaces the issue

/assign @ibabou
cc @Random-Liu @marosset

[2021-04-08 14:06] dprotaso opened #21714 "cherrypick plugin doesn't response to all commands in a github comment"
**What happened**:
cherry-pick plugin didn't detect multiple uses of `/cherry-pick` command in the same message

ie. from https://github.com/knative/serving/pull/11127#issuecomment-814917770
[code]
**What you expected to happen**:
It would schedule two cherry picks

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anythi

[2021-04-08 17:15] #19883 closed

[2021-04-08 17:18] chaodaiG opened #21720 "Prow approve plugin: surface OWNERS and OWNERS_ALIAS file error to user"
**What would you like to be added**:

Approve plugin tells user that the format of `OWNERS_ALIAS` is invalid.

**Why is this needed**:

This is very likely user error, which is pretty hard to be debugged by user since approve plugin just says `This PR is NOT approved`, but didn't tell user that "I cann't unmarshal your OWNERS_ALIAS file, so I don't think you are the right approver"

See https://kn

[2021-04-08 17:18] chaodaiG commented on #21720
/area prow

[2021-04-08 17:19] chaodaiG commented on #21720
cc @evankanderson @chizhg

[2021-04-08 17:59] evankanderson commented on #21720
Yeah, I was wondering if an /explain-owners command would be helpful, but a quick note that OWNERS_ALIASES existed but couldn't be loaded would have done the trick

[2021-04-08 22:06] chaodaiG opened #21729 "Inrepoconfig supports periodic jobs"
**What would you like to be added**:

Inrepoconfig supports presubmit and postsubmit at the moment, would like to understand what would it take to make it also support periodic jobs.

**Why is this needed**:

So that prow clients don't need to create two PRs for new repos, or the same job that need to be ran in both pre/post submit and periodics.

[2021-04-08 22:07] chaodaiG commented on #21729
/area prow

CC @cjwagner @alvaroaleman for inputs

[2021-04-09 00:43] cjwagner commented on #21556
That case does come up occasionally and it useful to have `override` to handle it, but I agree with everything said here. Could we make the change you are describing, but continue to support the old behavior by supporting both of the following commands?
- `/override <job-name>`
-  `/override-context <context-name>`

[2021-04-09 01:17] ibabou commented on #21710
@dims I'll be sending a fix for the containerd installation. Setting a pipeline to have it retrieve the tar through another GKE bucket.

[2021-04-09 01:20] dims commented on #21710
@ibabou how is this new GKE bucket updated? is this a CI job in containerd project?

I am ok to doing something quick for now, but i would like to ensure that all the bits are visible and in the hands of the community

cc @mikebrow @SergeyKanzhelev @Random-Liu @marosset

[2021-04-09 13:30] alvaroaleman commented on #21729
The issue is that that the event (a timer) that causes us to load the job config and then trigger the job is part of said config itself. In the case of presubmit and postsubmit, the event is unrelated to the job, so its not a problem there.

We would probably need to listen to all push events and whenever one happens, check if there is a new config and if yes load it? Probably not impossible, but

[2021-04-09 13:37] alvaroaleman commented on #21556
Do we need distinct commands? We could maybe check if a failed context `context-name` exists, if yes, override it. If not but a job with the name exists, override the job. Otherwise we will break this for users that are used to the current behavior

[2021-04-09 14:11] chaodaiG commented on #21729
The immediate benefit is related to github private repo, we are planning to support a github private repo on a public prow instance with the `hidden_repo` feature in deck, and inrepoconfig is preferred because the repo owners don't want to expose any of their prow jobs, and the only thing missing here is the support of periodic jobs.

In the other hand, as I mentioned in the description, it's cumb

[2021-04-09 14:32] chaodaiG commented on #21729
If I understand correctly, this means:
- scrape every time horologium runs
- query for the commit hash of default branch for each repo that enabled inrepoconfig
- load the config if there is a new commit from last run

Sounds not too terrible to me, and I think it's doable. Is there any other foreseeable concern other than triggering?

[2021-04-09 14:33] dims opened #21736 "Remove canonical dashboard"
Need i say more? (see below)

![image](https://user-images.githubusercontent.com/23304/114195906-e382c980-991e-11eb-91aa-8179855848d5.png)

[2021-04-09 14:34] alvaroaleman commented on #21729
This isn't doable, because horologium runs every 30 seconds and would need to fetch
* All branches of all repos
* Check if the file exists
* Load it

[2021-04-09 14:40] dims commented on #21736
This is even worse! :( https://testgrid.k8s.io/sig-release-generated#Summary

[2021-04-09 14:46] chaodaiG commented on #21729
Totally agreed! What I typed was not actually what I thought 😢 , fingers moved too fast..

What's in my mind was a separate goroutine doing this update loop, which of course will cause delay, but I guess it's bearable if it's a couple of minutes delay. Hopefully this wouldn't be too much of a burden for github token

[2021-04-09 14:49] chaodaiG commented on #21729
It's nice to allow periodic in different branch, but might not be preferable, it's:
- too expensive for prow
- duplicate prow jobs in different branches might make sense but not always desirable imo

So I would prefer enforce periodic jobs in default branch only

[2021-04-09 14:51] alvaroaleman commented on #21729
That could work (modulo potential token issues, but you could use a GH app which gives you a lot more tokens to alleviate that). Thinking about this some more, having only horologium have an up-to-date job config might cause some issues (e.G. you can not restart them from deck). Maybe a new component that updates a configmap would be preferrable?

from a user perspective, that is not what I would

[2021-04-09 15:06] chaodaiG commented on #21729
Yeah if we want to be more correct and more resilient in general then this seems like the approach to go, might run into configmap 1Mb size limit though. Will need to think more on this front.

IIUC restarting from deck just means kubectl apply the same prowjob CR, which is pretty much what horologium does, and seems to me will work, could you elaborate a bit more why you don't think so?

Configur

[2021-04-09 15:32] alvaroaleman commented on #21714
/area prow
/help
Possibly a duplicate of https://github.com/kubernetes/test-infra/issues/21684

[2021-04-09 15:33] alvaroaleman commented on #21684
Possibly a duplicate of https://github.com/kubernetes/test-infra/issues/21714

[2021-04-09 16:15] chaodaiG opened #21738 "Deck warning "failed to get job history ... context cancelled""
**What happened**:

Recurring warnings in prow logs:
[code]

**What you expected to happen**:

If this is a prow warning that worths prow oncall attention, then it should be surfaced as warning log in prow. In this case `context cancelled` to me means user closed or refreshed the job history page and caused this, which shouldn't be a warning in prow log.

/area prow
/kind oncall-hotlist

[2021-04-09 17:17] chaodaiG opened #21742 "Error log in prow: failed to construct manager for cluster kubeflow"
**What happened**:

[code]

/area prow

[2021-04-09 17:17] chaodaiG commented on #21742
@Bobgy , was the cluster deleted?

[2021-04-09 17:31] Bobgy commented on #21742
Yes, just deleted it.
Is there any config remaining here?

[2021-04-09 17:34] chaodaiG commented on #21742
yeah there is, but it's due to a legacy problem, I'll take care of it. Thank you for confirming

[2021-04-09 17:57] alvaroaleman commented on #21729
I don't think this is any better or worse than getting the data from a config file in the config repo. It can be gzipped, that helps a lot. We are still having issues with this in Openshift and are contemplating to find/build a sidecar that keeps a clone current instead of putting the config in configmaps.

Yeah you are right, I always confuse this.

Yeah. Maybe a small proposal would be nice thou

[2021-04-09 20:10] stevekuznetsov commented on #21556
I'm happy to continue supporting the old behavior, so

[code]

Will search:

1. job names
2. contexts on the PR

This is only available to root approvers on the repo so I can't see a downside to letting them strong-arm a context Prow does not own (kind of weird our token has the power to change those tbh)

[2021-04-09 20:13] chaodaiG commented on #21742
It's deleted from kubeconfig secret
/close

[2021-04-09 20:13] #21742 closed

[2021-04-10 00:38] ibabou commented on #21710
@dims, I sent a PR with an update to temporary pull the tar from github directly. Sorry haven't able to get to this early morning!

I was planning to have it kept similar to other add-ons, under gke-release bucket (or a similar one). But I agree with the point here, it's better to keep the OSS with some CI that's accessible by the community. I'll follow-up on this sometime next week, and check wit

[2021-04-10 00:45] dims commented on #21710
thanks a ton @ibabou!

[2021-04-10 22:06] #19082 closed

[2021-04-11 13:42] matthyx commented on #19366
@alvaroaleman what do you think?

[2021-04-11 14:49] alvaroaleman commented on #19366
Yeah, we can enable it by default

[2021-04-11 22:01] justaugustus commented on #21633
@kubernetes/release-managers -- Someone please volunteer to investigate, assign yourself, and treat this as your highest (SIG Release) priority this week.

[2021-04-12 07:41] cpanato commented on #21633
I will work on that
/assign

[2021-04-12 09:54] jprzychodzen commented on #21495
@chases2 Can you take a look at this? It looks like a TestGrid related bug.

[2021-04-12 10:01] mm4tt commented on #21495
/cc

CC'ing myself as I'm scalability oncall this week

[2021-04-12 19:14] alvaroaleman commented on #6289
#16472 got resolved, the next step here would be to:
* Write code that can deduce from the tide config if tide is enabled for a given repo
* If yes, makes the branch protector protect the tide status (initially protected via a feature gate)

[2021-04-12 19:34] alvaroaleman commented on #16472
FTR: Fixed in https://github.com/kubernetes/test-infra/pull/21650

[2021-04-12 22:07] ameukam opened #21774 "Declarative administration for github repos"
**Why is this needed**:

Currently, any request for a new github repo on https://github.com/kubernetes/org/ is handled manually by the Github Admins. It would be great to see those requests managed in the same way as the contributors.

/assign @cblecker @nikhita
cc @mrbobbytables @spiffxp

[2021-04-12 22:09] ameukam commented on #21774
/sig contributor-experience
/priority blacklog

[2021-04-12 22:09] ameukam commented on #21774
/priority backlog

[2021-04-13 00:39] dims commented on #21710
https://testgrid.k8s.io/sig-node-containerd#gce-windows-2019-containerd-master
https://testgrid.k8s.io/sig-node-containerd#gce-windows-2019-containerd-1.21

Both are back on their feet with containerd 1.4.4

/close

[2021-04-13 00:40] #21710 closed

[2021-04-13 01:25] #7960 closed

[2021-04-13 04:57] bgilbert commented on #19499
Still happening on Firefox 86.

/remove-lifecycle stale

[2021-04-13 17:16] claudiubelu commented on #21615
I've also sent a PR here: https://github.com/kubernetes/test-infra/pull/21785

The issue has already been addressed on master, the test has been tagged with ``[Feature:GPUDevicePlugin]``, and most tests are already skipping Feature tests, but that's not the case for 1.21. The PR above addresses this issue.

[2021-04-13 18:24] BenTheElder commented on #21736
cc @spiffxp

[2021-04-14 02:20] #21615 closed

[2021-04-14 09:29] hi-rustin commented on #20128
/close

[2021-04-14 09:29] #20128 closed

[2021-04-14 10:47] matthyx opened #21792 "Deprecate `rerun_auth_config`"
**What should be cleaned up or changed**:
It is time to finally migrate our code and configs to the newer `rerun_auth_configs`...

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/40c5a1d1b758201872804ec32ebad03845cffd47/prow/config/config.go#L873
Many prowjobs are still using it:
https://github.com/kubernetes/test-infra/search?q=rerun_auth_config

[2021-04-14 10:48] matthyx commented on #21792
/cc @clarketm

[2021-04-14 10:51] matthyx opened #21793 "Deprecate 'gcs/' storage provider suffix"
**What should be cleaned up or changed**:
Configuring the 'gcs/' storage provider suffix in the job url prefix is deprecated since September 2020

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/40c5a1d1b758201872804ec32ebad03845cffd47/prow/config/config.go#L1538-L1543

[2021-04-14 10:52] matthyx commented on #21793
/cc @sbueringer

[2021-04-14 11:13] matthyx opened #21794 "Deprecate `slack_reporter` in favor of `slack_reporter_configs`"
**What should be cleaned up or changed**:
Deprecate `slack_reporter` in favor of `slack_reporter_configs`

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/40c5a1d1b758201872804ec32ebad03845cffd47/prow/config/config.go#L1565-L1567

[2021-04-14 11:13] matthyx commented on #21794
/cc @clarketm

[2021-04-14 11:18] matthyx opened #21795 "Deprecate `--cookie-secret-file` handling in deck"
**What should be cleaned up or changed**:
remove this handling after 2019-10-31

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/176e4b678ce11d0c4640d818d57034e9ae523403/prow/cmd/deck/main.go#L143-L146

[2021-04-14 11:22] matthyx commented on #21795
/assign
I assume @Katharine won't come back to work on it...

[2021-04-14 11:23] matthyx opened #21796 "Sinker: switch dryRun to be a bool (defaulting to true after March 15, 2019)"
**What should be cleaned up or changed**:
switch dryRun to be a bool (defaulting to true after March 15, 2019)

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/f7e21a3c18f4f4bbc7ee170675ed53e4544a0632/prow/cmd/sinker/main.go#L77

[2021-04-14 11:23] matthyx commented on #21796
/cc @fejta

[2021-04-14 11:28] matthyx opened #21797 "Flagutil: return error if `--github-token-path` isn't set"
**What should be cleaned up or changed**:
missing required flag: please set to --github-token-path=%s before June 2020

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/3bea7c721703e690e4c974d6d8feaf60db4dec32/prow/flagutil/github.go#L87

[2021-04-14 11:28] matthyx commented on #21797
/cc @fejta

[2021-04-14 16:14] sbueringer commented on #21793
Good point. I'll take a look
/assign

[2021-04-14 16:57] #19366 closed

[2021-04-14 17:17] howardjohn opened #21802 "Fail a job before terminating the task"
**What would you like to be added**:
The ability to fail a job (ie in Github and wherever else) before terminating the task.

**Why is this needed**:
Today, using go, we have two option:
1. Run all tests, exit at end if any failed. This is bad because if the first test fails we wait for all other tests to finish before reporting feedback.
2. Use `-failfast`, and exit immediately. This is bad becau

[2021-04-14 17:35] BenTheElder commented on #21793
xref: https://github.com/kubernetes/test-infra/pull/21071

[2021-04-14 17:54] BenTheElder commented on #21655
I've been OOO and don't know much about what this is. cc @robscott @bowei

[2021-04-14 20:01] #21795 closed

[2021-04-14 20:44] robscott commented on #21655
Looks like there's more discussion on the PR now and we can safely remove the jobs: https://github.com/kubernetes/test-infra/pull/21777

[2021-04-15 00:03] #21793 closed

[2021-04-15 01:11] chases2 commented on #21495
Were the duplicate emails from different dashboards? Being configured on multiple dashboards I think can result in getting multiple emails if they fail all at once.

Links to the TG configurations (or Prow jobs) would help. There might be some settings that will affect email frequency. Let me dig into this a bit more.

[2021-04-15 07:14] mm4tt commented on #21495
Let's focus on a single job - sig-release-master-informing/gce-master-scale-performance:
- config - https://github.com/kubernetes/test-infra/blob/bff9a66743445eb6bb333e0e333f26927406baba/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L56
- mails - https://groups.google.com/g/kubernetes-sig-scale/c/5qS0HzJVGjw. Here is a screenshot with example of a single failure

[2021-04-15 08:59] matthyx commented on #21796
/assign

[2021-04-15 11:44] hi-rustin opened #21815 "needs-rebase add label and comment on closed PR"
**What happened**:
needs-rebase add label and comment on closed PR

https://github.com/pingcap/dm/pull/1595#issuecomment-820344537

**What you expected to happen**:
Do not respond to a PR that has been closed.
https://github.com/pingcap/dm/pull/1595#issuecomment-820344537

**Anything else we need to know?**:

needs-rebase verison: v20210315-198593ae42

[2021-04-15 11:57] hakman opened #21817 "Increase AWS limits in some regions"
Duplicating https://github.com/kubernetes/k8s.io/issues/1921 in hope that it gets more traction here and maybe a solution

/cc @justinsb @BenTheElder @rifelpet

[2021-04-15 13:07] #21796 closed

[2021-04-16 06:40] wewang58 opened #21826 "Failed to visit prow console after installed prow in openshift or kind"
What happened:
When installed prow in openshift(version:4.8), using the file: https://github.com/kubernetes/test-infra/blob/master/config/prow/cluster/starter-s3.yaml, cannot visit prow console via" prow.wewang.com", return 404
$ oc get pods
NAME                                      READY   STATUS    RESTARTS   AGE
crier-5cdc8c68f9-zslnw                    1/1     Running   0          64s
deck-cbc

[2021-04-16 10:21] matthyx commented on #21797
/assign

[2021-04-16 22:18] ixdy opened #21836 "Prow job stuck in triggered state due to invalid cluster alias"
We recently debugged a prow job which was stuck in the triggered state. It was impossible to tell what was wrong by looking at deck, but looking at plank logs, we eventually figured out what was wrong, due to messages like

[code]

The configuration had been copied from a different prow instance which had the "foo" build cluster defined, but this particular prow instance did not have a "foo" build

[2021-04-18 09:51] irbekrm opened #21841 "Allow to configure disable_prowjob_analysis field of a TestGrid test group via ProwJob annotation"
**What would you like to be added**:

I would like to be able to configure [the new `disable_prowjob_analysis` field](https://github.com/GoogleCloudPlatform/testgrid/pull/396) for a particular TestGrid test group by setting an annotation on a ProwJob in the same way as it is already done for other test group fields [here](https://github.com/kubernetes/test-infra/blob/master/testgrid/cmd/configurat

[2021-04-18 17:18] alvaroaleman commented on #21836
/area prow
This opens up the larger question if we want to mark the job as failed or keep it in the cluster in the hope that someone will add a `foo` cluster and we will then be able to process it.

[2021-04-18 17:19] alvaroaleman commented on #21836
I tend to argue for marking as failed, as most prow jobs are kept fairly shortly anyways and ppl can just rerun the job if someone does indeed add the cluster. WDYT @chaodaiG ?

[2021-04-19 05:06] ludydoo opened #21845 "Cannot clone multiple private repos"
**What happened**:

I configured a "postsubmit" job for a private repo.

[code]

That works fine. When adding an `extra_refs` item, then it cant's clone the new repo

[code]

I get the errors:

[code]

It's as if `clonerefs` was unable to use the new ssh key.

I can confirm that the ssh-key works, because if I create a postsubmit job for that second repository:

[code]

Then cloneref can clone the

[2021-04-19 12:51] alvaroaleman commented on #21845
Maybe it doesn't properly cope with multiple SSH keys? PRs welcome if you want to fix this.

[2021-04-19 12:51] alvaroaleman commented on #21845
/area prow

[2021-04-19 14:43] chaodaiG commented on #21836
This makes sense to me, it's definitely annoying enough to see jobs hanging for several days then failed with this error message.

A little bit into implementation detail:

- I think it needs to retry for 5-10 minutes to cope with build cluster master upgrade
- This handled by plank sounds reasonable to me, WDYT?

[2021-04-19 15:11] alvaroaleman commented on #21836
No, this is not if it can not reach the cluster, it is if it doesn't have a client. What could however happen is that it doesn't have a client because it couldn't reach the cluster at time of clientcreation, which made discovery and thus clientcreation fail :upside_down_face: (if it does have the client but can not reach the cluster it will just retry)

:+1:

[2021-04-19 15:12] chaodaiG commented on #21836
Ah. I see, and agreed. So yeah plank should just fail it

[2021-04-19 21:09] neolit123 opened #21859 "remote JobConfig"
might have been discussed in the past, but i could not find any tickets for this.

**What would you like to be added**:

allow having a folder in test-infra that contains a YAML file that contains a list of YAML URLs to fetch from another repository.

there could be a specifically named file such as `remote-jobs.yaml` that the prow config directory parser recognizes and loads additional jobs from

[2021-04-20 07:01] ludydoo commented on #21845
@alvaroaleman yeah, I think that's the issue. To fix this, I imagine we would have to change the api of the post/presubmits, to allow the user to specify ssh-keys per-repo instead of for the "global" post/presubmit. Perhaps that could be done in the "extra_refs" items.

[code]

Then perhaps the ssh-keys should not be directly loaded into the ssh-agent, but configured for each repo

[code]

[code]

[2021-04-20 14:36] howardjohn opened #21868 "feature: allow configuring job presets by Github labels"
**What would you like to be added**:

The ability to configure a job preset at PR time by a label on github.

For example, in my prow config I have some config like:

[code]

Then on my PR, I can add the `verbose-tests` label and jobs will run with `-v`

**Why is this needed**:

The first use case we would use it would be for https://github.com/kubernetes/test-infra/issues/21802. We would add a `f

[2021-04-20 14:40] howardjohn commented on #21868
It would also be useful to skip/enable tests.

For example, we have a release notes checker job. We want users to be able to explicitly opt out of including a release note by adding a label. We do this today by reading the labels from the job and exit immediately if present. Instead we could have done by prow to just disable the label exists.

We can also do the opposite and have some label like `

[2021-04-20 16:27] chaodaiG opened #21869 "Prow controller manager: recreate pod failed with 'pod already exist'"
**What happened**:

It happens not very frequently but was observed on google owned prow instance, that a job was reported failed with `pod already exist`, after logs tracing, prow-controller-manager:

1. [Time: 0] Scheduled the job pod on build cluster.
2. [Time: 2s] Didn't find the pod schedule at step 1.
3. [Time: 2s] Recreated the pod.

The pod scheduled at step 3 failed with `pod already exis

[2021-04-20 16:27] chaodaiG commented on #21869
/area prow

[2021-04-20 22:40] Kuldip-Nanda opened #21876 "While setting up PROW on Minikube applying starter-s3.yaml gives Internal error"
**What happened**:
1. I have a minikube on a VM.
[code]
   Please note ingress add on is enabled on this:
[code]
   However when I apply starter-s3.yaml, I am getting error:
[code]

**What you expected to happen**:
    I expected that I will be able to add the prow components to the cluster.

    However when I see all the pods in prow namespace I get
[code]
    On other hand ingress on the cluste

[2021-04-21 08:55] matthyx commented on #21815
This is very weird, since the query should only get open PRs:
https://github.com/kubernetes/test-infra/blob/f8a90c0f33ec96557a56c4137a54effeaa71dcb1/prow/external-plugins/needs-rebase/plugin/plugin.go#L127

[2021-04-21 09:05] ludydoo commented on #21845
hi @alvaroaleman , do you have opinions or suggestions about the above?

[2021-04-21 10:02] matthyx commented on #21714
/assign

[2021-04-21 10:02] matthyx commented on #21684
/assign

[2021-04-21 11:09] matthyx commented on #21714
I think it's clear:
https://github.com/kubernetes/test-infra/blob/ef7abaaa70ae3626c5243a117d1d6955e56d4c08/prow/external-plugins/cherrypicker/server.go#L292

I'll do that.

[2021-04-21 12:02] matthyx commented on #21684
@howardjohn I think in this case it failed to create the cherry pick for `release-1.8` and stopped here:
https://github.com/kubernetes/test-infra/blob/ef7abaaa70ae3626c5243a117d1d6955e56d4c08/prow/external-plugins/cherrypicker/server.go#L374

If you want, I could change the code to try on all branches and report an aggregated error at the end, instead of stopping at the first one.

[2021-04-21 13:21] alvaroaleman commented on #21876
[code]

Best to ask the minikube or nginx folks what this webhook does, why it fails and to please include a useful error instead of an empty string.

[2021-04-21 13:23] alvaroaleman commented on #21859
@neolit123 I believe [inrepoconfig[(https://github.com/kubernetes/test-infra/blob/master/prow/inrepoconfig.md) would serve your usecase. Ppl didn't want it for prow.k8s.io due to security concerns though: https://github.com/kubernetes/test-infra/issues/15676

[2021-04-21 13:30] #21714 closed

[2021-04-21 13:56] #21794 closed

[2021-04-21 14:12] #21684 closed

[2021-04-21 14:41] howardjohn commented on #21684
Great! thank you

[2021-04-21 15:34] #21792 closed

[2021-04-21 16:44] alvaroaleman commented on #21868
That seems like it might conceptionally be racy, because the same event that triggers the job creation will also add the labels. Furthermore, we do not trigger jobs today on label changes, so it might add a decent bit of complexity to `trigger`.

[2021-04-21 16:44] BenTheElder commented on #21859
As @alvaroaleman mentioned this exists already for other prows to use but we will not be enabling it in prow.k8s.io because it bypasses our config presubmits used for security etc.

This can be reconsidered when the project / community finish migrating to CNCF clusters, at which point it will be trickier to figure out who should decide this, but in the meantime the cluster still runs largely on go

[2021-04-21 16:44] #21859 closed

[2021-04-21 16:45] alvaroaleman commented on #21869
So what should have happened on step 1 is that plank blocks until it can see the pod (AKA it arrived back in its cache): https://github.com/kubernetes/test-infra/blob/827b4f4f702ae7435abf992709a9f22e82e0251a/prow/plank/reconciler.go#L625-L626

Did that time out?

[2021-04-21 16:47] howardjohn commented on #21868
Isn't it possible to create a PR with labels added at creation time?

[2021-04-21 16:48] BenTheElder commented on #21817
I have no access to this.

[2021-04-21 16:49] BenTheElder commented on #21817
Also: increasing resource limits would be an issue for k8s.io, test-infra is not where these resources are managed.

Let's keep this in the original issue please.

[2021-04-21 16:49] #21817 closed

[2021-04-21 16:50] BenTheElder commented on #21817
re-raised to wg-k8s-infra

[2021-04-21 16:50] alvaroaleman commented on #21868
Only if you have write perms on the repo or use a template that adds them

[2021-04-21 16:51] BenTheElder commented on #21876
Failure to call a validating webhook from the ingress is not a prow but or a test-infra bug. Please reach out to the minikube team about their addon.

[2021-04-21 16:51] #21876 closed

[2021-04-21 16:52] howardjohn commented on #21868
For our case we do have this permission, but I see how that could be an issue for k8s.

For the relabel triggering tests, I don't think its strictly required - the user can always /retest it. But could be nice

[2021-04-21 16:52] chaodaiG commented on #21869
yeah it timed out in 2 seconds:
[code]

[2021-04-21 16:53] BenTheElder commented on #21826
kind is for local clusters, so a domain like `prow.wewang.org` is not going to work in kind.
you should see https://kind.sigs.k8s.io/docs/user/ingress/

Can't speak as to openshift
/kind support
/area prow

[2021-04-21 16:54] BenTheElder commented on #21815
github querying can return stale results, it happens sometimes to the kubernetes project, probably due to the scale.

[2021-04-21 16:55] BenTheElder commented on #21815
Perhaps the plugin should actually check that the PR is actually still open before taking action.

[2021-04-21 16:56] neolit123 commented on #21859
understood. thanks for the replies.
i actually saw `Inrepoconfig` while searching for existing features, but didn't not check its readme.

and yes, i think we do need this for the k8s prow, eventually as it will help with noise reduction and extra work.

true, some sort of additional restriction / policy must apply for these it seems.

one argument for the current setup, is that someone could "hac

[2021-04-21 17:05] alvaroaleman commented on #21869
Hm okay, maybe bump it to say 10 seconds or something? That should absolutely be enough and if not there is maybe an issue with your cluster.

[2021-04-21 17:06] chaodaiG commented on #21869
I think that would be good. Since majority of times the performance is the same as of today, and it would guard against this bug as well under certain circumstances

[2021-04-21 17:24] BenTheElder commented on #21859
That's one vector yes, we basically assume this has happened.

This is why some jobs are isolated to certain clusters.

But further someone could send a PR to kubeadm to add a blocking presubmit to test infra.

Or any excessive resource usage (e.g. declaring 10000 kubeadm presubmit asking for 8 cores each), which the admin team then has no recourse for and poor visibility into.

We have presubmits

[2021-04-21 17:25] BenTheElder commented on #21859
Tightening the policy around what jobs are allowed is actually something SIG testing is working on this quarter.

[2021-04-21 17:31] alvaroaleman commented on #21859
That is not possible, no, you can only define jobs for the repo the config is in.

These things would be easy to validate (and they are not currently being validated for the config in here). Adding tight valdiation for this is an easy thing to do, so if there was a set of things you would like to see (e.G. max number of pods + max cpu + max mem across all jobs per repo) to feel comfortable, that i

[2021-04-21 17:35] #21869 closed

[2021-04-21 18:08] hakman commented on #21817
Thanks @BenTheElder

[2021-04-21 19:28] BenTheElder commented on #21736
+1

[2021-04-21 19:29] BenTheElder commented on #21736
I agree we should do this. but also
/priority backlog

[2021-04-21 19:30] BenTheElder commented on #21655
these were removed https://github.com/kubernetes/test-infra/pull/21777

[2021-04-21 19:30] #21655 closed

[2021-04-21 19:33] BenTheElder commented on #21563
This is a pretty frustrating regression that makes running coverage testing on prow borderline useless as you can't easily view or access the results.

In the future I would have expected a rollback / revert at least after this became completely nonfunctional.

[2021-04-21 19:36] BenTheElder commented on #21563
https://github.com/kubernetes/test-infra/issues/20751 seems like the most similar issue, I don't see any other changes that jump out yet.

[2021-04-21 19:42] alvaroaleman commented on #21563
/assign @fejta
I am out when it comes to understanding how bumping a bazel version changed our build process.

[2021-04-21 19:43] BenTheElder commented on #21563
well it looks like we changed `build_bazel_rules_nodejs` in the same process. looking at the release notes over there.

[2021-04-21 19:56] BenTheElder commented on #21563
going from rules_nodejs 0.36.0 to 3.1.0 seems unsurprising as a source of breakage.

this is the only place we are doing an import like `from 'io_k8s_test_infra...`, which seems likely to be related.

[2021-04-21 20:02] BenTheElder commented on #21563
https://github.com/bazelbuild/rules_nodejs/wiki#no-longer-link-the-workspace-root seems like the culprit, under the "Migrating to 2.0" guide.
/assign

[2021-04-21 21:03] fejta commented on #21563
Totally agree when we discover regressions reasonably close to when they are introduced.

OTOH when a problem is discovered many releases afterwards (like in this case) it is best to just fix the problem -- reverting in this scenario also has risks: various other things in those releases may have been built on top of the problematic initial PR.

[2021-04-21 21:15] BenTheElder commented on #21563
:+1: should be fixed by https://github.com/kubernetes/test-infra/pull/21897 in any case

[2021-04-21 21:16] fejta commented on #21563
Nice, thank you!

[2021-04-22 02:27] #21815 closed

[2021-04-22 11:40] gamestart opened #21906 "Can deck get jobs' logs in minio not gcs"
**What happened**:
The prow status dashboard cannot show job logs, when i click the "Job History" i get the message "failed to get job history: could not instantiate storage bucket: bucket "prow-logs" not in allowed list ([s3://prow-logs]); you may allow it by including it in `deck.additional_allowed_buckets`"

**What you expected to happen**:
Just show the Job History

**How to reproduce it (as m

[2021-04-22 11:45] gamestart commented on #21906
/area prow

[2021-04-22 14:27] chaodaiG opened #21908 "Smoke test deck in prow integration test"
**What would you like to be added**:

Prow integration test deploys prow components in kind cluster, which should be able to be used for smoke testing deck, by deploying deck in kind cluster and curl the deck frontend to make sure it's not crashing.

**Why is this needed**:

See https://kubernetes.slack.com/archives/CDECRSC5U/p1618858118103100

## More Details

### Changes Required

* Add `deck` a

[2021-04-22 14:29] chaodaiG commented on #21908
/area prow
/help

[2021-04-22 14:29] chaodaiG commented on #21908
/cc @e-blackwelder

[2021-04-22 14:44] alvaroaleman commented on #21845
Ultimatively, I'd espect something that works without users having to explicitly configure one key. Maybe through ssh agent, maybe through a wrapper, not sure, whatever seems easiest.

[2021-04-22 14:52] ludydoo commented on #21845
I don't think it's possible with ssh, since it doesn't handle different keys for the same host (`github.com`). I already went through the pain using Tekton pipelines with multiple private repos, it doesn't work if relying only on the ssh config file. Probably the easiest would be `git_config_commands` and add the ssh command right in the .../org/repo/.git/config

Also, it would probably need an ad

[2021-04-22 14:54] alvaroaleman commented on #21845
The ssh-agent does.  A wrapper that tries all keys could also work.

[2021-04-22 14:56] ludydoo commented on #21845
The other option is to edit the /etc/hosts file, and add a different entry per-repo
[code]
Then, rewriting the clone uri

[code]

[2021-04-22 14:57] alvaroaleman commented on #21845
err no way sorry, we won't be doing /etc/hosts hackery, that always falls back down eventually

[2021-04-22 15:06] ludydoo commented on #21845
Not sure it does handle it. It's the current behavior to add all keys to the ssh-agent.

I think this can be done without /etc/hosts

[code]

[2021-04-22 15:58] 0xPoe opened #21910 "Git client supports sign off commits"
**What would you like to be added**:
Git client supports sign off commits.

**Why is this needed**:
Currently many GitHub check tools ask to sign off commits, but our git client does not support this feature yet.

[2021-04-22 17:23] tyggna opened #21913 "Prow issue: lease"

[2021-04-22 17:23] #21913 closed

[2021-04-22 20:14] BenTheElder commented on #21908
@chaodaiG please check https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md#help-wanted, this could do with a little more detail as a help-wanted issue (e.g. pointers to the relevant sources and docs)

[2021-04-22 20:19] BenTheElder commented on #21563
working again: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-coverage-unit/1358664687264206848

[2021-04-22 20:19] #21563 closed

[2021-04-22 20:24] BenTheElder commented on #20101
I don't think we need to do anything further here. This image will not be relevant in ~2 releases time, in the meantime we should manage it as-is and not invest in it further for the purposes of Kubernetes.

[2021-04-22 20:24] #20101 closed

[2021-04-22 20:24] BenTheElder commented on #16145
thanks!

[2021-04-22 20:24] #16145 closed

[2021-04-22 20:32] alvaroaleman commented on #21906
/assign

[2021-04-22 20:33] sbueringer commented on #21906
@alvaroaleman has any new validation been added which broke this? :) I'm running basically the same config as described above with an older Prow version.

[2021-04-22 20:48] alvaroaleman commented on #21906
Yep :) Working on a PR. It was off by default before.

[2021-04-22 20:59] chaodaiG commented on #21908
Added more details, hopefully can help

[2021-04-22 21:08] #21906 closed

[2021-04-23 11:28] cpanato commented on #21633
jobs are running now
see a PR for example: https://github.com/kubernetes/kubernetes/pull/101385

[2021-04-23 11:29] cpanato commented on #21633
i guess we can close it now, if it is missing more jobs we can reopen or create a new issue
/close

[2021-04-23 11:29] #21633 closed

[2021-04-23 13:51] puerco commented on #21633
Awesome job, thanks @cpanato  :D :tada:

[2021-04-23 18:51] BenTheElder commented on #21633
thank you!!

[2021-04-25 18:58] nikhita commented on #21774
Peribolos does support creating repos: https://github.com/kubernetes/test-infra/blob/925c28cd81fa0de9d55230a717ff37fd3e4aac93/prow/cmd/peribolos/main.go#L875

We create repos using a template repo today - https://github.com/kubernetes/kubernetes-template-project - so would need to check if the API supports template repos and if this can be integrated into peribolos.

[2021-04-25 19:38] #18965 closed

[2021-04-26 14:20] dims commented on #21736
cc @alxchalkias

[2021-04-26 15:54] stevekuznetsov commented on #21449
We can't always assume that `spyglass` is set up but maybe we can check for the `Pod` and just remove the button if it no longer exists :)

[2021-04-26 16:19] chewong commented on #20443
/remove-lifecycle stale

[2021-04-26 20:47] #21167 closed

[2021-04-27 14:20] chaodaiG opened #21969 "Error logs in prow: Failed to get GCS job source / bucket "redhat-openshift-osd-e2e" not in allowed list"
**What happened**:

Repeated error logs in prow like:

[code]

**What you expected to happen**:

This bucket is not configured in this repo, so it's mostly like an user error to me. Visiting anything from another bucket can also trigger this error, for example https://prow.k8s.io/view/gs/knative-prow/logs/ci-knative-heartbeat/1387047022724386816 (Note the bucket name of `knative-prow`. These error

[2021-04-27 14:20] chaodaiG commented on #21969
/area prow

[2021-04-27 20:14] chaodaiG commented on #21969
/close

[2021-04-27 20:14] #21969 closed

[2021-04-27 20:21] chaodaiG opened #21980 "Warning logs in prow: /job-history 'object doesn't exist'"
**What happened**:

Recurring warning logs in prow like:

[code]

This is happening pretty frequently, roughly in the order of ~10 per hour.

**What you expected to happen**:

If this is a bug we should fix it, otherwise these are not warning logs

[2021-04-27 20:21] chaodaiG commented on #21980
/area prow

[2021-04-27 22:03] chaodaiG opened #21983 "Flooding warnings in tide: BranchProtectionWarnings"
**What happened**:

Tide runs every minute, it emits the same warning every time it runs:

[code]

**What you expected to happen**:

This is not an actionable warning for prow operator, doesn't make much sense alert every minute.

[2021-04-27 22:04] chaodaiG commented on #21983
/area prow

[2021-04-27 22:10] chaodaiG commented on #21983
For example in https://github.com/kubernetes/test-infra/pull/20157, it's intended not to protect aws-ebs-csi-driver gh-pages branch

[2021-04-27 22:25] chaodaiG opened #21985 "Caught prow logs that shouldn't happen: "Init container is running but not ready""
**What happened**:

According to https://github.com/kubernetes/test-infra/blob/41b950535eef35bb9ede9c98da8d1487659f9986/prow/spyglass/lenses/metadata/lens.go#L252, this shouldn't happen. But the logs are flowing in  k8s prow logs now, for example:

[code]

This is related to https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/101434/pull-kubernetes-e2e-capz-ha-control-plane/138714761250262

[2021-04-27 22:47] chaodaiG opened #21987 "Crier error handling: no commit found for SHA while setting status"
**What happened**:

Crier logs error such as:

[code]

**What you expected to happen**:

The response from github clearly stated that the commit doesn't exist, which very likely was due to force push, the logs should be treated differently if github call didn't fail

[2021-04-27 22:47] chaodaiG commented on #21987
/area prow

[2021-04-27 23:16] #21987 closed

[2021-04-28 13:48] mborsz opened #21996 "ProwJobs queue"
**What would you like to be added**:
I would like to be able to queue ProwJobs run to run one after another, e.g. I create 3 ProwJobs:
* A which takes 1h
* B which takes 3h
* C which takes 2h

I would like to B start when A finishes and then C.

**Why is this needed**:

As scalability team, we manage a lot of long-running jobs that share the same gcp-projects (or boskos pools). We want to be able

[2021-04-28 13:51] mborsz commented on #21996
/area prow

[2021-04-28 13:53] mborsz commented on #21996
/cc @chaodaiG @alvaroaleman

Chao, Alvaro, what do you think on this feature request? Is it feasible?

[2021-04-28 16:27] mborsz commented on #21996
Sorry, maybe I wasn't clear on our use case.

Our team (sig scalability/GKE scalability) maintain tens of periodic prowjobs (for sig scalability: https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes/sig-scalability).

The workflow we are using for testing new kubernetes changes is:
* We pick some prowjob run from testgrid (usually ci-kubernetes-e2e-gce-scale-performance whic

[2021-04-28 16:31] alvaroaleman commented on #21996
Hypothetically we could do something with labels (max concurrency for jobs with label foo). Would that solve your issues?

Disclaimer, I won't be implementing that (as I don't have the problem) and it would need acking from the other maintainers in terms of if we are ok with the added complexity.

[2021-04-28 16:53] mborsz commented on #21996
Do you mean adding labels like:
[code]
?

If so, I think it solves our problem, but seems to be slightly more complex than the solution I proposed in first comment (where I simply reuse the existing max concurrency mechanism). Is there any particular reason why using labels is better than adding a new field to ProwJob's spec?

We can make necessary code changes, once we get approval from maintaine

[2021-04-28 16:57] chaodaiG commented on #21996
Thank you @mborsz , now I understand it better. Please correct me if I'm still getting it wrong:

- There are 2 pools of Boskos projects, 1 pool for CI(periodic jobs), the other for manual testing
- Manual testing creates prowjobs from ad hoc configurations that are not supposed to be source controlled
- The problem to solve here is to avoid manual maintenance of the boskos pool for manual testing

[2021-04-28 17:01] alvaroaleman commented on #21996
Two reasons:
1. You might want to have both (e.G. only one job of name X and only N job of type `scaletesting`)
2. The labels as implementation detail would make the code a bit easier, as we get indexing by labels for free. However on second thought, that isn't actually very relevant because we can just add an index to our cache

[2021-04-28 17:05] mborsz commented on #21996
@chaodaiG you are right, prepared-configuration.yaml is a prowjob object (like e.g. https://prow.k8s.io/rerun?prowjob=40e18bcd-a77a-11eb-a9fd-4a69d306464d). You are right, testers do have admin power on prow cluster.

[2021-04-28 17:07] alvaroaleman commented on #21996
If you can create prowjobs anyways, why not just write a custom controller that knows everything it needs to knows and creates prowjobs? We do that in a couple of places in Openshift for things that can not reasonably be re-used upstream, because they are very downstream-specific. That would give you more flexibility and not require to get an ack from us for every change.

[2021-04-28 17:08] stevekuznetsov commented on #21996
The integration with tekton pipeline was supposed to solve this problem. Would a ProwJob that leverages that system be acceptable here?

[2021-04-28 17:12] chaodaiG commented on #21996
This worries me a little bit, didn't realize before that anyone other than oncall has admin control on prow service cluster, which doesn't seem to be very secure. + @cjwagner here for awareness or opinions

[2021-04-28 17:17] jkaniuk commented on #21996
Mentioned Prow cluster is not part of k8s.io infrastructure.

[2021-04-28 17:18] chaodaiG commented on #21996
On a side node: I believe the proposed solution solves your problem, and I think it would be a good change. We can discuss further on whether a new field or a label

[2021-04-28 20:20] #21983 closed

[2021-04-29 17:50] cjwagner commented on #21330
Friendly bump. This is still a problem when using bazel.

[2021-04-30 14:08] dims commented on #21736
Done!

[2021-04-30 14:08] #21736 closed

[2021-04-30 23:10] bobbypage commented on #18702
Fixed in https://github.com/kubernetes/kubernetes/issues/101558

[2021-04-30 23:10] bobbypage commented on #18702
/close

[2021-04-30 23:10] #18702 closed

[2021-05-01 20:22] #20095 closed

[2021-05-01 22:22] #20053 closed

[2021-05-03 10:35] raghuP9 commented on #19456
Yes, having a **safelist** or **blocklist** of args along with their acceptable/un-acceptable values in ProwJob spec will solve this issue to some extent.

[2021-05-03 10:36] raghuP9 commented on #19456
/remove-lifecycle stale

[2021-05-03 18:54] Riaankl opened #22063 "Create a label "do-not-merge/flake-free-test-needed" for Conformance Promotion PR's"
**Why we need this label:**
To increase participation on Conformance Promotion PR's.
The Promotion PR will be created directly after the e2e test PR merge and the `do-not-merge/flake-free-test-needed` label will be added manually.

- This increases the exposure time of the Promotion PR in the community before merging.
- Allow discussion/correction of code merged in an e2e test,

**Automation** - *

[2021-05-03 18:56] Riaankl commented on #22063
/cc @nikhita

[2021-05-03 23:02] #21985 closed

[2021-05-04 04:24] chaodaiG opened #22072 "Prow inrepoconfig: jobs definition in multiple files"
**What would you like to be added**:

Prow inrepoconfig supports multiple files instead of only `prow.yaml` file. One option is a directory called `.prow` under the root level.

**Why is this needed**:

- Single file is sufficient for a small repo with small number of prow jobs that can be easily managed
- Single file is not very friendly with repo that has long history and lots of prow jobs.
- Al

[2021-05-04 04:25] chaodaiG commented on #22072
cc @cjwagner , @alvaroaleman : is there anything blocking us from doing so?

[2021-05-04 12:14] alvaroaleman commented on #22072
I don't think so, this seems pretty straight forward

[2021-05-04 15:49] stevekuznetsov opened #22077 "Clarify Implications and Workflow for ok-to-test"
Given the recent [abuse of pre-submit actions in GitHub](https://it.slashdot.org/story/21/04/05/0230229/github-is-investigating-crypto-mining-campaign-abusing-its-server-infrastructure) I wonder if we can have a high-level conversation about the `ok-to-test` label, community, and how we expect a workflow here to look.

Today Prow exposes two workflows for new contributors to have their PRs tested:

[2021-05-04 15:56] bparees commented on #22077
an option to have /ok-to-test get cleared if the PR is updated seems like a good compromise.  (or a new label that has that functionality)

that way you get unlimited testing on your PR to deal with flakes, but if you change your PR, someone has to reconfirm you're not doing bad things.

[2021-05-04 16:06] alvaroaleman commented on #22077
That is achieved through `/test all` by someone trusted (although a bit less obvious). `/retest` won't work then though (but we might be able to change that?)

[2021-05-04 16:16] bparees commented on #22077
are you telling me that if i put "/test all" on a pr that "needs-ok-to-test", those tests will be rerun until successful?

[2021-05-04 16:17] bparees commented on #22077
(my impression was that `/test all` was a one-shot thing, it'll run all the tests, but if any of them fail(potentially due to unrelated flakes), someone needs to put another `/test all` on the PR)

[2021-05-04 16:18] alvaroaleman commented on #22077
No, one shot I believe (But not 100% sure either, would need to check the code)

[2021-05-04 16:19] bparees commented on #22077
then it's not the same as what i proposed

[2021-05-04 17:14] stevekuznetsov commented on #22077
/retitle  Clarify Implications and Workflow for ok-to-test

[2021-05-04 17:15] stevekuznetsov commented on #22077
Any variation on `/test <thing>` is a one-shot trigger.

[2021-05-04 17:18] fejta commented on #22077
I like the idea of having an option to ensure that:

a) The `ok-to-test` label was added after the most recent push to the PR
b) Removing the `ok-to-test` label when new commits are pushed to the PR

I'd want this to either be the default or only behavior.

OTOH empirically the current behavior has proven sufficient to mitigate against this type of problem. But I would still prefer a safer default

[2021-05-04 17:28] alvaroaleman commented on #22077
https://github.com/kubernetes/test-infra/issues/22077#issuecomment-832107261 sounds good. One important technical detail to keep in mind: Removing the label will race with triggering the tests, so if we do this, it will end up being more complicated than just "remove label on push".

[2021-05-04 17:31] stevekuznetsov commented on #22077
`ok-to-test` being sticky to a commit SGTM as well

[2021-05-05 04:35] BenTheElder commented on #22063
workflow changes =>
/sig contributor-experience
@kubernetes/sig-contributor-experience

[2021-05-05 08:02] nikhita commented on #22063
There are very few who have write access to the repo. Are there are a particular group of folks who would be expected to apply this label manually? Does this group already have write access?

We don't want to expand the group of people with write access and would prefer gating this through automation as much as possible. Another approach might be to do something like the `/milestone` command (can

[2021-05-05 09:44] adievkadyrbek opened #22084 "Periodic jobs doesn't work with private repositories"
**What happened**:
I am trying to use periodic jobs to build docker images. The repository is private. However, when the job starts, I'm getting the same error:
[code]
It seems that cloneref is trying to use https, instead of ssh to clone the repository. However, I used clone_uri in my job configs:
[code]
**What you expected to happen**:
Cloneref should clone the repo using the ssh key that I prov

[2021-05-05 21:58] dims opened #22086 "switch pull-kubernetes-node-e2e with pull-kubernetes-node-e2e-containerd as presubmit job"
`pull-kubernetes-node-e2e` uses 3 images to run e2e node conformance tests. All the 3 images are configured to use docker as the container runtime. with docker getting deprecated, can we please switch to the `pull-kubernetes-node-e2e-containerd` as the presubmit gate job and make `pull-kubernetes-node-e2e` can stay as a optional job that can be executed on demand.

[2021-05-05 21:58] dims commented on #22086
cc @SergeyKanzhelev @ehashman

[2021-05-05 22:45] #21797 closed

[2021-05-06 18:16] alvaroaleman commented on #22084
That is very surprising, it should respect the `clone_uri`

[2021-05-06 19:03] PI-Victor opened #22095 "Trigger the milestone applier on branch change in a PR"
**What happened**:
The milestone applier is set to be applied for[ all PRs targeting the 1.22 release branch for k/website](https://github.com/kubernetes/test-infra/blob/master/config/prow/plugins.yaml#L389), however, this [PR targeted master by mistake](https://github.com/kubernetes/website/pull/27810). The PR was fixed, and is now targeting dev1.22 branch, however, the bot didn’t automatically a

[2021-05-06 19:04] PI-Victor commented on #22095
/area prow

[2021-05-06 21:09] spiffxp opened #22099 "Revisit root OWNERS in this repo, and whether test-infra-oncall still needs to be in it"
**What should be cleaned up or changed**:

There are a number of people in test-infra-oncall who don't regularly interact with this repo, and thus have insufficient context to review/approve random PRs that come their way.

A stopgap measure is to take test-infra-oncall out of root reviewers, and explicitly add in some of its members who are knowledgeable enough as root reviewers.

Longer term, so

[2021-05-07 00:45] michelle192837 commented on #20662
Sorry to miss this! I think this is clearer now with the new updater (see the message now on the Overall row that notes `finished.json missing "passed"`), so it sounds like your finished.json file needs to report the pass/fail status of the job (see something like https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-cni-amazon-vpc/1390384696189259776/finished.json), and it should be

[2021-05-07 00:45] #20662 closed

[2021-05-07 05:41] hi-rustin commented on #19629
/remove-lifecycle stale

[2021-05-07 06:13] mborsz commented on #20275
This is done
/close

[2021-05-07 06:13] #20275 closed

[2021-05-07 09:18] adievkadyrbek commented on #22084
Yes, I also thought so.

[2021-05-07 13:12] dhiller opened #22104 "Run gazelle using bazel"
**What would you like to be added**:

Ability to run gazelle with `bazel run //:gazelle`

I found it surprising that I had to run gazelle without using bazel, while the contributors guide says `bazel test` and `bazel build` are the way to build and test. I figure there must be a reason for this?

**Why is this needed**:

Usability improvement for updating bazel build files.

[2021-05-07 18:27] spiffxp commented on #22099
https://github.com/kubernetes/test-infra/pull/22100 is the stopgap measure

[2021-05-07 20:57] spiffxp commented on #20006
/priority important-longterm
/milestone v1.22

[2021-05-07 21:27] spiffxp commented on #20884
/remove-priority critical-urgent
/priority important-longterm
/milestone v1.22
I think this is still relevant, but I don't think we urgently need to do anything to solve this anymore, correct @claudiubelu?

If we don't need to solve, I'd rather wait for the fix to come to us.

AFAICT the latest release of moby/buildkit still lacks the fix, as does `docker buildx`
- https://github.com/containerd/co

[2021-05-07 21:28] spiffxp commented on #20884
I'm kicking this off the wg-k8s-infra project board since it seems like no action required on our part

[2021-05-07 21:31] spiffxp commented on #20884
/remove-area prow
/area artifacts
This also doesn't specifically have to do with prow.  I'm not entirely sure it even belongs in this repo, but I'll leave it in tagged with artifacts for now, since the issue is with pushing multi-arch artifacts to k8s.gcr.io that are built with a broken `docker buildx`

[2021-05-07 21:34] spiffxp commented on #20884
/sig release
/area release-eng

[2021-05-07 21:38] spiffxp commented on #20884
/area images
The actual dependency will need to come in through the image used by https://github.com/kubernetes/kubernetes/blob/master/test/images/cloudbuild.yaml

So like a PR to update this: https://github.com/kubernetes/test-infra/blob/97239cd4768fd4aa391c351314f66689dcc34e9e/images/gcb-docker-gcloud/Dockerfile#L44-L48

And a subsequent PR to kubernetes/kubernetes to update cloudbuild.yaml

[2021-05-08 03:24] SeananXu opened #22116 "Trigger prow job by label"
**What would you like to be added**:
I expect prow trigger plugin could trigger ProwJob by the labels of Pull Request(PR).  The ProwJob config should add two filed `labels` and `skip_labels` to implement Label Trigger Controller(LTC). If pr has any labels in the `skip_labels`, The prow job will be skipped. else the mr has any labels in the `labels`. The ProwJob will be triggered.
Example ProwJob c

[2021-05-10 05:24] matthyx commented on #9757
/remove-lifecycle rotten

[2021-05-10 05:24] matthyx commented on #9126
/remove-lifecycle rotten

[2021-05-10 05:46] RagniGarg97 commented on #19837
/close

[2021-05-10 05:46] #19837 closed

[2021-05-10 07:41] wewang58 commented on #21826
@BenTheElder  Thanks your response, Now I already installed GKE, and using starter-s3.yaml to create a prow in GKE, should i also need to install cert-manager and add annotation in ingress manifest, so i can visit a domain like "prow.wewang.com"  right?
Maybe you are not responsible for it, but i don't know who i can ask, thanks in advance.
here's steps info
[code]

[2021-05-10 08:52] jprzychodzen commented on #21495
@chases2 I see that there are multiple dashboard mentioned in https://github.com/kubernetes/test-infra/blob/cbe318af731a5dccf3c4e66f40b6388a69047e50/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L83

I guess that this part of configuration duplicates emails?

[2021-05-10 15:05] noahkawasakigoogle commented on #16798
/reopen

+1 for being able to have pipelines in Prow like you can for Jenkins, for the exact same reason as the descriptions. Some jobs require build artifacts from other jobs

[2021-05-10 15:26] chaodaiG commented on #16798
/reopen

IIRC prow had worked with tekton pipeline before, not sure whether it still works or not https://github.com/kubernetes/test-infra/tree/master/prow/pipeline

[2021-05-10 15:26] chaodaiG commented on #16798
/remove-lifecycle rotten

[2021-05-10 19:29] spiffxp commented on #19436
/sig testing
/wg k8s-infra
/priority backlog

[2021-05-10 22:18] chaodaiG opened #22132 "Prow inrepoconfig doesn't seem to support presets"
**What happened**:

Tried both named presets and annonymous presets as documented at https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#presets, none of them seemed to have worked

**What you expected to happen**:

These presets work for inrepoconfig

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2021-05-10 22:18] chaodaiG commented on #22132
/area prow

[2021-05-10 22:23] chaodaiG commented on #22132
ah. so it's just not supported yet https://github.com/kubernetes/test-infra/blob/b877f2a09d0046381e2de603870db3ae9e915e78/prow/config/inrepoconfig.go#L39

[2021-05-11 10:54] fenngwd opened #22139 "`do-not-merge/needs-sig` Not Removed After Sig"
**What happened**:
`do-not-merge/needs-sig` can not be removed after added sig label.
**What you expected to happen**:
After using `sig` command, `do-not-merge/needs-sig` should be removed from labels.

**How to reproduce it (as minimally and precisely as possible)**:
https://github.com/kubernetes/kubernetes/pull/101690

**Please provide links to example occurrences, if any**:
https://github.com/k

[2021-05-11 12:16] #22084 closed

[2021-05-11 12:28] dguendisch opened #22140 "Testgrid complains on "podinfo.json" not found and marks conformance tests as failed"
**What happened**:
Basically the very same thing happens again starting with tests from today as explained in https://github.com/kubernetes/test-infra/issues/21126
Tests are being marked as failed because of some `podinfo.json` missing (we're not runnign our tests via prow).

Back then this was fixed in testgrid by allowing jobs to disable the pod row config (https://github.com/GoogleCloudPlatform

[2021-05-11 13:27] #22132 closed

[2021-05-11 14:56] petr-muller opened #22143 "Tide can quickly fill GH limit on statuses on SHA"
**What happened**:

When a repo is (mis-?)configured in a way that a PR can become Tide-mergeable (necessary labels are present, all tests pass, etc) but not GH-mergeable, for example by requiring "At least 1 approving review is required by reviewers with write access." on GH level, then Tide will attempt to merge it and fails, updating the `tide` status on the PR every time, fairly quickly reachi

[2021-05-11 15:18] alvaroaleman commented on #22143
@petr-muller so the issue is that we set it unconditionally and we should be checking if its already set first?

[2021-05-11 17:05] noahkawasakigoogle opened #22144 "Matrix and Axis capability for Prow Jobs"
**What would you like to be added**:

Add the ability for a single prow job to create and execute many "subjobs" for a given matrix/axes which are the permutations of given parameters.

Basically, a prow version of these Jenkins plugins:

https://plugins.jenkins.io/dynamic-axis/
https://plugins.jenkins.io/matrix-project/

**Why is this needed**:

1) The ability to run similar prow jobs against dif

[2021-05-11 17:48] cjwagner opened #22147 "Certificate for the monitoring domain has expired."
The certificate for the monitoring domain expired somehow. It seems like the problem was detected according to the SLO graphs, but we did not receive an automated alert for some reason.
https://monitoring.prow.k8s.io
cc @chaodaiG @fejta @mpherman2

[2021-05-11 17:51] chaodaiG commented on #22147
[code]
Seems like still reachable, might explain why automated alerts were not fired

[2021-05-11 18:07] chaodaiG commented on #22147
![Screen Shot 2021-05-11 at 11 06 57 AM](https://user-images.githubusercontent.com/45011425/117863832-09b2c680-b249-11eb-9a85-0d6ec9aec762.png)

So yeah it did fired but not routed correctly, I'll take a look at the alerting part

[2021-05-11 18:18] chaodaiG opened #22148 "Prometheus alert didn't fire as expected"
As discussed in https://github.com/kubernetes/test-infra/issues/22147, that prometheus indicated an alert fired, but it was not posted on https://kubernetes.slack.com/archives/C7J9RP96G as expected

[2021-05-11 22:54] cjwagner commented on #22147
According to the blackbox prober the certificate was valid up until 2:53am on May 1st.

[2021-05-11 23:52] chaodaiG commented on #22148
https://github.com/kubernetes/test-infra/pull/22149 had merged, if it does fix then there should be alerts in https://kubernetes.slack.com/archives/C7J9RP96G some time tonight

[2021-05-12 06:50] wewang58 commented on #21826
@BenTheElder  I will close the issue, and open a new issue for GKE.

[2021-05-12 06:50] #21826 closed

[2021-05-12 10:16] wewang58 opened #22154 "Cannot visit prow dashboard via ingress after installing prow in GKE"
**What would you like to be added:**
Cannot  visit prow deck after installing prow with the command "bazel run //prow/cmd/tackle", according to https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#tackle-deployment, Should need other steps?

**Why is this needed:**
Can visit prow dashboard via ingress.

Here's log:
[code]
And get ingress url, no address, also cannot

[2021-05-12 10:22] wewang58 commented on #22154
@BenTheElder  Hi, if I visit a domain(prow.wewang.com) in GKE cluster, still need do others like kind cluster? can you guide me how to do, or others can guide me, thanks so much.

[2021-05-12 14:03] alvaroaleman commented on #22144
You can do that within your job by having one prowjob that runs many tests with whatever tooling you choose. Currently, the assumption is that there is a 1:1 mapping prowjob <-> GitHub status context and I don't think that is something we want to change.

[2021-05-12 14:26] noahkawasakigoogle commented on #22144
Thank you for checking this out, so you mean like, a Prow job might trigger a Jenkins job with those axis capabilities then?

(I was thinking in this case, a Prow job would run the multi axes, as well as have multiple Github status contexts for each of the subjobs.)

[2021-05-12 14:30] alvaroaleman commented on #22144
@noahkawasakigoogle a prowjob by default runs a command in a pod (or in a jenkins job when you use that agent). What that command does is your choice and might include running multiple tests from a configgile.

Yeah, that would be a big change because then a prowjob isn't actually a prowjob but some kind of template.

[2021-05-12 15:17] chaodaiG commented on #22148
It appears that alertmanagerconfig has an enforcement of namespace matching, which doesn't work with blackbox alerts yet. prometheus-operator/prometheus-operator#3737 is the discussion and the implementation is under work.

[2021-05-12 16:03] chaodaiG commented on #22072
/kind good-first-issue
/kind help-wanted

[2021-05-12 16:05] chaodaiG commented on #22072
/good-first-issue
/help

Instructions will be added slightly later

[2021-05-12 17:11] chaodaiG commented on #22072
Instructions added

[2021-05-12 17:45] BenTheElder commented on #22154
/area prow
/kind support

Sorry I don't really work on prow anymore and I don't have time to debug this for you at the moment. The prow docs should cover this setup.

[2021-05-12 17:47] BenTheElder commented on #21826
I am not, but you can always ask the community and eventually someone should respond. I can't handle everything myself 🙃

[2021-05-12 17:57] #22148 closed

[2021-05-12 18:04] chaodaiG commented on #22147
/assign

[2021-05-12 18:15] chaodaiG commented on #22147
Inspecting load balancer of grafana https://pantheon.corp.google.com/net-services/loadbalancing/details/http/k8s-um-prow-monitoring-grafana--3a93fcce573ea69e?project=k8s-prow&tab=details&duration=PT1H, there are 3 certificates attached:

![Screen Shot 2021-05-12 at 11 14 41 AM](https://user-images.githubusercontent.com/45011425/118024228-4e0a9900-b313-11eb-94e5-a0034cfa24a2.png)

The first 2 are b

[2021-05-12 18:19] chaodaiG commented on #22147
The manifest of the expired cert looks like:
[code]

While the first two certs are managed with the field of:
[code]

[2021-05-12 18:26] chaodaiG commented on #22147
It's using the correct cert now, https://monitoring.prow.k8s.io works fine for me now

[2021-05-12 18:34] chaodaiG commented on #22147
The cert was added back and it's down again

[2021-05-12 19:09] chaodaiG commented on #22147
Deleted the cert and it was created by `service-684195865762@container-engine-robot.iam.gserviceaccount.com` again and re-attached to the LB. It's pretty mystery now what has driven the recreation of the cert, also mystery why it only affects grafana LB but not prow deck LB

[2021-05-12 20:23] chaodaiG commented on #22147
The ingress had run into a bad state and I’m working on fixing it (reverting PR won’t help here). In the meanwhile please use monitoring.prow-canary.k8s.io until further notice

[2021-05-12 20:31] #21841 closed

[2021-05-12 20:55] sftim commented on #6289
/remove-lifecycle rotten

[2021-05-12 21:00] chaodaiG commented on #22154
I believe tackle uses either `starter_gcs.yaml` or `starter_s3.yaml` as documented https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#update-the-sample-manifest, and I'm afraid that they have been out of sync with some of the recent improvements/bug fixes/deprecations. Add @cjwagner and @alvaroaleman for more insights

[2021-05-12 21:03] alvaroaleman commented on #22154
This all is way too little information and this is more about generic kube debugging than Prow specifically.

1. Is there a running deck pod?
2. Is there a deck service and does it have endpoints?
3. Is there an ingress that points to the deck service?
4. Does your DNS correctly point to the address of the Ingress?

[2021-05-12 21:43] irbekrm commented on #22140
Similar for us- it starts appearing again for jobs for which the GCS reporter is enabled (we have it installed) https://testgrid.k8s.io/jetstack-cert-manager-previous#ci-cert-manager-previous-bazel

[2021-05-12 21:55] cjwagner commented on #22154
There does appear to be a running deck pod based on the output you shared, but otherwise we'd still need the rest of the data Alvaro requested. I also agree that this is more generic kube debugging rather than a Prow question.
You could also try to use `kubectl proxy` or a `curl` pod to access deck. Whether or not that works could tell you something. https://kubernetes.io/docs/tasks/administer-clu

[2021-05-12 22:17] mrueg opened #22164 "Support regular expressions in prow config's required_status_checks.contexts"
**What would you like to be added**:
In order to execute e2e-check, prow allows to list required github status checks (e.g. https://github.com/kubernetes/test-infra/blob/master/config/prow/config.yaml#L293 ) This current does not support regular expressions but is matching strings.

In order to have flexible job names we would like to see support for regular expressions when evaluating matching co

[2021-05-14 06:22] wewang58 commented on #22154
1. Yes, there's a deck pod
# kubectl get pods -n prow
NAME                                      READY   STATUS    RESTARTS   AGE
crier-59d977c755-bn4f4                    1/1     Running   0          4m2s
deck-989c4d99d-8dkz8                      1/1     Running   0          4m28s
deck-989c4d99d-fkjgc                      1/1     Running   0          4m28s
ghproxy-55479476b8-6hppb

[2021-05-14 07:26] BenTheElder commented on #22139
This is not a valid command. https://prow.k8s.io/command-help has valid commands

https://github.com/kubernetes/kubernetes/pull/101690#event-4743948649 it was manually fixed here.

Sometimes webhooks are dropped and this happens. I don't think prow provides a good option to reconcile this when it happens, but I'm not sure.

cc @cjwagner

[2021-05-14 07:27] BenTheElder commented on #22140
cc @michelle192837 @chases2

[2021-05-14 08:06] wewang58 commented on #22154
Fyi, after kubectl proxy, can access proxy url, here are steps:
# kubectl cluster-info
Kubernetes master is running at https://34.xxx.xx.111
GLBCDefaultBackend is running at https://34.xx.xx.111/api/v1/namespaces/kube-system/services/default-http-backend:http/proxy
KubeDNS is running at https://34.xx.xx.111/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy
Metrics-server is running at http

[2021-05-14 17:29] cjwagner commented on #22139
Yeah I don't think we have a `/check-sig` command or anything like that to force revalidation. The logic for adding the `do-not-merge/needs-sig` is actually separate from the logic for adding sig labels and doesn't handle any commands currently.

One option might be to `/remove-sig network` then `/sig network` in a follow up comment?

[2021-05-14 18:49] BenTheElder commented on #22139
Would a /check-sig be accepted? This seems like it could make a pretty good help-wanted issue.

Alternatively: is label data only in the event that changes the labels? If not can we have a request to update that plugin to watch more generally for the current label set and remove or add the label as necessary?

Theoretically this can also happen the opposite way currently where we fail to add the n

[2021-05-14 19:59] kikisdeliveryservice commented on #6095
Another example of this came up today: tracked/**

We hit an issue that was tracked/out-of-tree and tracked/yes simultaneously, but an issue should only have 1 such tracked/** label

[2021-05-15 00:02] cjwagner commented on #22139
Well the `needs-sig` label is managed by the [`require-matching-label` plugin](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/require-matching-label) which can be configured for arbitrary label sets, not just the SIG labels. (See the [k8s-prow config here](https://github.com/kubernetes/test-infra/blob/d14ff9c886b7e6152e2a89dc89e34ccae9ce5e55/config/prow/plugins.yaml#L490)) So I

[2021-05-15 00:11] BenTheElder commented on #22139
`/check-required-labels` seems like a good help-wanted task then.

[2021-05-15 10:13] aojea opened #22192 "runc 1.0.0.-rc93"
**What should be cleaned up or changed**:

It seems that rc93 has a performance regression and the recommendations is not to use it.

https://github.com/kubernetes-sigs/kind/pull/2207#issuecomment-840847500

We recently bumped to containerd 1.5.1, should we use runc rc94 instead?

Side node, are the other versions of runc correct?

**Provide any links for context**:

[code]

[2021-05-15 10:14] aojea commented on #22192
/assign @dims @BenTheElder

[2021-05-15 12:25] dims commented on #22192
@aojea the problem is that the version of runc to be used is directly related to which version of containerd.

We just bumped the 1.5.1 of containerd to runc rc94, So that's the pair you will see in the newer master jobs.

the older versions of containerd including 1.5.0 is still with rc93, as that was the recommendation from containerd folks. Compare:
- https://github.com/containerd/containerd/bl

[2021-05-15 12:57] aojea commented on #22192
Ahh then are only some  1.5.1 missing the run bump https://github.com/kubernetes/test-infra/blob/b8b7f16d3ba79a1f56532e0471524d57bc17af3f/config/jobs/kubernetes/sig-network/sig-network-misc.yaml#L36-L37

[2021-05-15 16:09] dims commented on #22192
whoops! let's please fix them @aojea @Priyankasaggu11929

[2021-05-15 20:07] #22192 closed

[2021-05-17 14:18] cailiang9 opened #22201 "support github patch service https://ghproxy.com/https://patch-diff.githubusercontent.com/raw/jupyterlab/nbclassic/pull/52.patch"
**What would you like to be added**:
support github patch service: https://ghproxy.com/https://patch-diff.githubusercontent.com/raw/jupyterlab/nbclassic/pull/52.patch

**Why is this needed**:
pull requests often need long time to be merged and released.  Sometimes PR can also be rejected.
using patch-diff service can speedup debugging and packaging based existing releases , for temporarily use.

[2021-05-17 14:21] cailiang9 commented on #22201
NOT very sure if the request is posted at the right place. I mean the ghproxy.com could support this patch-diff endpoint.

[2021-05-17 15:45] fgimenez commented on #22072
/assign
/remove-help

I'd like to give it a try, @chaodaiG will let you know how it goes :)

[2021-05-17 19:50] cjwagner opened #22208 "Add a `/check-required-labels` command to force the require-matching-label plugin to reprocess a PR."
**What would you like to be added**:

Add a `/check-require-labels` command to force the `require-matching-label` plugin to reprocess a PR. Please also remember to include the plugin help information for the new command. (e.g.)[https://github.com/kubernetes/test-infra/blob/3f22d33e92bc42bc5c24eacbe4648ab8cb0ac63d/prow/plugins/cla/cla.go#L75-L81]

**Why is this needed**:

Currently the [`require-ma

[2021-05-17 19:52] cjwagner commented on #22139
I opened https://github.com/kubernetes/test-infra/issues/22208. I'll close this bug in favor of that feature request.
/close

[2021-05-17 19:52] #22139 closed

[2021-05-17 20:21] chaodaiG commented on #22147
The symptom was gone, I think it was fixed by https://github.com/kubernetes/test-infra/pull/22187
/close

[2021-05-17 20:21] #22147 closed

[2021-05-18 00:20] BenTheElder commented on #22139
Thanks cole!

[2021-05-18 06:29] mowangdk commented on #22208
I would like try to take this one~  /assign

[2021-05-18 06:33] mowangdk commented on #22208
/assign

[2021-05-18 15:56] ShwethaKumbla opened #22223 "Add job to run unit tests on e2e-framework"
Add a job which will trigger  go test on `kubernetes-sigs/e2e-framework` after a PR submitted.
This is to ensure that unit tests are running successfully.

[2021-05-18 15:57] ShwethaKumbla commented on #22223
/assign

[2021-05-18 15:57] ShwethaKumbla commented on #22223
/sig e2e-framework
/area configs/job

[2021-05-18 16:00] ShwethaKumbla commented on #22223
/area jobs

[2021-05-18 16:49] spiffxp commented on #18599
/remove-lifecycle stale
@RobertKielty any updates? Should we retag as help wanted or hand off to someone else?

[2021-05-18 16:50] RobertKielty commented on #18599
Might be a good idea to hand off to someone else.

[2021-05-18 19:45] starpit opened #22231 "after a push to an approved/lgtm'd branch, Prow auto-merges before github actions restarts"
**What happened**:

https://github.com/kubernetes-sigs/kui/pull/7412

1) A branch with github actions test failures; but was approved and lgtmd.
2) Prow correctly does not merge, because of the failed test
3) Push update to branch
4) Briefly, github removes the actions failure/pending from the Checks!
5) Prow comes along and notices no unsatisfied checks, and auto-merges!

**What you expected to h

[2021-05-18 19:51] myan9 commented on #22231
our yaml entry in config: https://github.com/kubernetes/test-infra/blob/master/config/prow/config.yaml#L579

[2021-05-18 19:53] starpit commented on #22231
Oh! So we don't have a merge prereq entry?

[2021-05-18 19:54] BenTheElder commented on #22231
Prow can't do much about that, if you want the checks to be explicitly required even when they are no present as a visible status you need to tell prow / explicitly configure the checks to be required.

Otherwise for all it knows the check was actually removed.

[2021-05-18 20:16] starpit commented on #22231
This makes sense. Is there an agreeable syntax for github actions status checks? It's a bit hard to intuit from github's UI. Is the prefix "test/" or "test /"? Or ... is there no standard prefix, and we have to hard-code the names of each of our github actions workflows?

For PRs in progress, we see "test / <workflow name>"; but for completed/merged PRs, the github UI just specifies the workflow n

[2021-05-18 21:35] BenTheElder commented on #22231
I'm not sure tbh, prow can be configured to require github statuses but there's nothing specific to actions and I'm not sure how actions names them, nominally prow is designed to be used as the full CI system.

[2021-05-19 07:27] mowangdk commented on #22208
Sorry, suddenly a more urgent matter came, and there was no time to deal with this problem。 I will release this issue

[2021-05-19 11:14] rbrishabh commented on #22208
hey! I can take a look into this one!

[2021-05-19 11:14] rbrishabh commented on #22208
/assign

[2021-05-19 15:31] 00void00 opened #22246 "Prow issue:"
Since, I am using the free tier, we will not pass the preflight checks, the preflight status. So, what I did was, I tried suppress those errors and those warnings using --ignore-preflight-errors=

but the error exists

[2021-05-19 16:40] SergeyKanzhelev opened #22250 "kubelet-NodeConformance tests are broken"
**What happened**:

Tests are broken: https://testgrid.k8s.io/sig-node-critical#kubelet-NodeConformance Wouldn't even start tests.

Same tests with containerd pass: https://testgrid.k8s.io/sig-node-critical#containerd-NodeConformance

**What you expected to happen**:

Tests pass.

/sig node

[2021-05-19 16:49] stevekuznetsov opened #22251 "hook: apps auth fails to access certain objects"
[code]

/cc @alvaroaleman

[2021-05-19 16:54] stevekuznetsov opened #22252 "hook: missing event type auto_merge_enabled"
[code]

[2021-05-19 17:08] stevekuznetsov opened #22253 "hook: missing check for empty refs"
Some events (or `git` clones?) seem to be missing one of two refs, which we don't catch. Downstream uses fail:

[code]

[2021-05-19 17:37] stevekuznetsov opened #22256 "tot: vended ID overflows int64"
Found this issue in our logs:

[code]

This value overflows int64

[2021-05-19 17:49] rbrishabh commented on #22208
/cla

[2021-05-19 18:08] stevekuznetsov opened #22257 "github: 404 on deletion calls should not error"
If something we're trying to delete is already gone, this is not an error.

[code]

[2021-05-19 18:09] alvaroaleman commented on #22251
This is super weird, the github docs claim that this supports apps auth and it works in the majority of cases:
[code]

gives:

Value
--
{status="200",token_hash="openshift-ci - openshift-metal3"} | 2.184466992
{status="403",token_hash="openshift-ci - open-cluster-management"} | 0.305904703
{status="200",token_hash="990a1cd629e03bc1128f306b60fa320371201a698ba36d40dd1d0f33bc6e086f"} | 0.706819301
{s

[2021-05-19 18:14] alvaroaleman commented on #22251
Maybe we should report this to github as a bug?

[2021-05-19 18:40] BenTheElder commented on #22246
Prow is not a paid service. There is no paid tier. Are you talking about something else ...?

`--ignore-preflight-errors` is a [kubeadm](https://github.com/kubernetes/kubeadm) flag.
kubeadm is also not something with a paid tier.

What error?

[2021-05-19 18:41] BenTheElder commented on #22250
Is there any reason to suspect this is a bug in test-infra and not a bug in kubernetes / node_e2e / the cluster-up scripts ...?

Failing tests are rarely a test-infra bug.

[2021-05-19 18:47] BenTheElder opened #22259 "prow: needs-rebase spam"
**What happened**:

The PR needs rebase comment is being posted ~once an hour on https://github.com/kubernetes/kubernetes/pull/101685

**What you expected to happen**:

This comment should be posted once and not-reposted while the label is still there.

**How to reproduce it (as minimally and precisely as possible)**:

no idea! it's ongoing on prow.k8s.io though

**Please provide links to example

[2021-05-19 19:32] cjwagner commented on #22259
The logs are full of
[code]
So this is likely poor behavior due to throttling. e.g. We keep trying to post comments because we haven't posted one yet, but they're all queued up due to throttling. We use the v4 Graphql API to periodically look for PRs that need to be updated and the v4 API has a separate rate limit from the v3 REST API used to post the comments.

I vote we get rid of the deployment

[2021-05-19 20:50] BenTheElder commented on #22259
But we _have_ posted one. So we are continuing to try without checking if we need to?

Even if it reduces how much we can post, I think every "post a comment that may be repeated" should be checking if the comment exists first, so you can't get this runaway comment behavior, even if it costs an extra API call and halves the overall throughput. I think people would much rather tolerate some extra l

[2021-05-19 20:51] BenTheElder commented on #22246
https://github.com/kubernetes/kubeadm/issues/2479 duplicate issue. This issue is not related to prow and is not appropriate for this repo.

[2021-05-19 20:51] #22246 closed

[2021-05-19 21:03] alvaroaleman commented on #22259
We do indirectly through the label:  https://github.com/kubernetes/test-infra/blob/97195cc60c7966428a0132e5b5d820db9772ada7/prow/external-plugins/needs-rebase/plugin/plugin.go#L202-L206

If I understand it correctly, Coles theory is that the posting itself gets throttled for a very long time (1 hour in the example) by which time another event and/or periodic rescan already posted a comment.

If th

[2021-05-19 21:09] matthyx commented on #19456
sorry, I won't have time for that...
/unassign
/help

[2021-05-19 22:55] spiffxp commented on #6380
/remove-lifecycle stale
/milestone v1.22

[2021-05-20 22:54] fejta opened #22285 "gcupload should upload finished.json last"
https://kubernetes.slack.com/archives/CDECRSC5U/p1621546950011500

Uploading finished.json signifies the job is done and should happen as close as possible to the job actually finishing.

Currently gcsupload just gathers all the artifacts together and uploads them concurrently. If I have many GBs of artifacts, this can result in us uploading finished.json a long time before we actually finish (bec

[2021-05-20 22:54] fejta commented on #22285
/assign

[2021-05-20 23:00] fejta commented on #22285
/help
/good-first-issue

I'm planning to work on this soon unless someone else fancies themselves to work on it.

One idea would be to change assembleTargets to return `[]map[string]gcs.UploadFunc` rather than `map[string]gcs.UploadFunc` and do each map of items sequentially (putting just the finished.json in the second set)

https://github.com/kubernetes/test-infra/blob/ac9ffd6caea2caf244b277a025

[2021-05-20 23:27] cblecker opened #22286 "Reset Kubernetes Prow PR Status token"
From GitHub:
[code]

No rush on this (there is no security vulnerability, we're just using the old format), but could someone have a look at resetting our token?

[2021-05-21 14:03] YuviGold opened #22301 "PR revision tooltip isn't shown on Prow Status page"
**What happened**:
When hovering above PR revisions on the main Prow Status page, the tooltip displaying the title of the PR isn't shown.

**What you expected to happen**:
As it works for Tide Status page and Tide History, I would expect it to work the same way for Prow Status page.

**How to reproduce it (as minimally and precisely as possible)**:
How it works for Tide History page:
1. Goto Tide

[2021-05-21 14:07] YuviGold commented on #22301
/label area/prow
/label area/prow/deck

[2021-05-21 14:39] YuviGold opened #22304 "Original spyglass link is used from deck links on local run"
**What happened**:
When deploying the deck locally with the [runlocal](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/runlocal) script, a local server is listening on http://localhost:8080.
The jobs links are pointing to the ProwJobs actual spyglass view instead of the local spyglass view.

for example
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-update-sla

[2021-05-21 17:37] fejta commented on #22285
/remove-help

[2021-05-22 16:26] howardjohn opened #22318 "Escape illegal charecters in GCS upload filepaths"
**What would you like to be added**:

Escape illegal characters in GCS upload

**Why is this needed**:
So files written with illegal characters are not ignored and can be used when debugging tests, etc.

Example failure:
[code]

[2021-05-24 17:45] #22285 closed

[2021-05-24 18:02] howardjohn commented on #22318
This is actually slightly worse than I thought as well, as we will retry up to 5x when it will never succeed. Which wastes some time + IO

[2021-05-25 07:48] rahulbharuka commented on #10409
Do we have S3 support in the roadmap ? Currently, looks like Testgrid works only with GCS.
https://github.com/GoogleCloudPlatform/testgrid/blob/master/util/gcs/gcs.go#L90

[2021-05-25 12:08] #22252 closed

[2021-05-25 14:54] xmudrii commented on #18808
@spiffxp Is this issue still relevant?

[2021-05-25 16:27] spiffxp commented on #18808
/remove-lifecycle stale
AKAIK yes. This would be a good candidate to move to kubernetes/release since this is under the purview of @kubernetes/release-engineering

I would suggest creating a script or tool to verify the completeness of all ci builds to start with. That will answer how much of a problem it still is

[2021-05-25 18:11] michelle192837 commented on #10409
Not at the moment; it's not something we have the bandwidth to implement, but contributions are welcome in that respect! I'd recommend opening an issue in https://github.com/GoogleCloudPlatform/testgrid itself to track, and tagging with help-wanted.

[2021-05-25 22:29] #22301 closed

[2021-05-26 06:06] jkaniuk commented on #17097
They are definitely not good.

1.20 was fixed manually, but 1.21 is wrong

https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
[code]

I'm not sure how config forker works now, after switching to podutils.

We have `--repo=k8s.io/perf-tests=master -> --repo=k8s.io/perf-tests=release-{{.Version}}`
which is clearly wrong after switchi

[2021-05-26 06:10] jkaniuk commented on #17097
/retitle Fix config forker annotations in scalability jobs

For reference:
https://github.com/kubernetes/test-infra/tree/master/releng/config-forker

[2021-05-26 06:13] jkaniuk commented on #17097
/assign jupblb
/assign marseel

[2021-05-26 06:16] wojtek-t commented on #17097
/remove-lifecycle stale

[2021-05-26 20:30] alvaroaleman commented on #22304
The reason for this is that we read the url directly from the prowjob object in the cluster: https://github.com/kubernetes/test-infra/blob/a94e7c78b4dd3e2a288f2d74aaac6839bd7e5bc4/prow/cmd/deck/static/prow/prow.ts#L669

We might be able to replace the protocol and host of that url in the typescript though

[2021-05-27 02:00] rahulbharuka commented on #10409
Thanks. Created https://github.com/GoogleCloudPlatform/testgrid/issues/489

[2021-05-27 10:31] adelina-t commented on #22140
Similar to us, for externally run jobs ( not via prow ): windows-containerd-integration ( https://testgrid.k8s.io/sig-windows-containerd-runtime-signal#win-2004-containerd-master-integration ). We have the `disable_prowjob_analysis` field set.

[2021-05-27 15:12] #22253 closed

[2021-05-27 18:05] michelle192837 commented on #22140
Sorry to miss this! I took a look at all these tabs, and for some reason it seems like none of them have `disable_prowjob_analysis` in the resolved configuration ("About" -> "View Configuration", e.g. https://testgrid.k8s.io/q/config/sig-windows-containerd-runtime-signal/win-2004-containerd-master-integration), despite having it set in the YAML (https://github.com/kubernetes/test-infra/search?q=di

[2021-05-27 18:18] LorbusChris commented on #16588
Looks like this hasn't been solved yet
/reopen

For OpenShift, we're currently in the process of standing up `arm64` test infra, and I think at least the following images are going to be needed:
- clonerefs
- entrypoint
- initupload
- sidecar

@BenTheElder is this still considered something that could be done and maintained in this repo?

cc @stevekuznetsov

[2021-05-27 18:31] BenTheElder commented on #16588
I think you're going to find it a bit challenging to produce these in a multi-arch way with the current build tools versus at least one arch at a time and some post processing. But ultimately it's the call of the active prow/OWNERS as to what's acceptable.

The original context was ensuring kubernetes CI has arm coverage for which we didn't need this at all (versus creating clusters under test on

[2021-05-27 20:16] BenTheElder commented on #18226
Well we have a working prototype of this in a test job and it works pretty well. I'd still like to see this roll out more broadly but have had limited time and it's not clear what the acceptable route forward is. The last discussion veered off into other caching problems.

I think one option would be to have on every build of clonerefs a differently named image that is this wrapper prototype that

[2021-05-27 20:21] BenTheElder commented on #18226
Kubernetes/Kubernetes is our one repo where this is particularly pressing for prow.k8s.io, so I'd be happy to ship a non-general approach for a while, I think my concern would be concerns about having prow.k8s.io run a non-standard clonerefs image since we seem to use it as a canary instance.

That's probably fine if we:
- keep the delta to an absolute minimum (adding the pre-clone bit...)
- publi

[2021-05-28 00:13] LorbusChris commented on #16588
@BenTheElder since you mention the _current build tools_: Are there any reasons Bazel is used for building in this repo other than historical ones?
The main k8s repo has removed Bazel build support recently - are there any plans to do the same with this repository?

[2021-05-28 00:29] BenTheElder commented on #16588
No, there are not. We were very clear in the KEP that it only applied to the Kubernetes repo and its requirements. The reasoning was also specific to kubernetes and its multiple concurrent build systems for the same components. There's more on that in the KEP.

I'd rather not re-litigate that here, there are pros and cons to any option. Other people should have input on that as well. But even if t

[2021-05-28 00:33] BenTheElder commented on #16588
FWIW I also think prow should be moved to it's own repo as well, with less coupling to the rest of the test-infra, but that's similarly not something anyone is currently willing to staff. https://github.com/kubernetes/test-infra/issues/11782

[2021-05-28 01:46] #22140 closed

[2021-05-28 14:54] alvaroaleman commented on #22259
/assign

[2021-05-28 21:50] alvaroaleman commented on #20627
Fixed in #20730
/close

[2021-05-28 21:50] #20627 closed

[2021-05-29 12:53] fgimenez commented on #21908
/assign
/remove-help

I like to give this one a try :)

[2021-06-01 05:57] SameerMahajan-GSLab opened #22378 "error running kubetest"
I followed instructions to run  kubetest. When I ran

bazel run //kubetest

**What happened**: I got an error stating

2021/06/01 05:52:36 main.go:327: Something went wrong: called from invalid working directory: must run from kubernetes directory root. current: /home/ubuntu/.cache/bazel/_bazel_ubuntu/0cf4f1410734a49015c86d59d449652a/execroot/io_k8s_test_infra/bazel-out/k8-fastbuild/bin/kubetest/k

[2021-06-01 11:48] marseel opened #22380 "Inconsistency between periodic jobs and presubmits in sig-scalability jobs"
Currently we have 1 CI  release blocking job that runs 100-nodes cluster scalability test:
https://github.com/kubernetes/test-infra/blob/612c22333fdc2229e87fedc3d4b628820225a464/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L138

and 2 presubmits - one for kubernetes/kubernetes repository, one for kubernetes/perf-tests repository:
k/k:
https://github.com/kuberne

[2021-06-01 11:48] marseel commented on #22380
/sig scalability
/assign @tosi3k

[2021-06-01 16:02] alvaroaleman commented on #22231
@starpit the name Prow sees is the name without the `test / ` prefix (that is the name of the suite), you can see it e.G. here: https://github.com/kubernetes-sigs/kui/runs/2613597850

The definitive way to see the same information as Prow does is to query the github api. You can use `curl` for that:
[code]

[2021-06-02 21:18] alvaroaleman commented on #22201
Sorry, I don't understand what exactly you want to be changed where.

What should support the github patch service and what difference in behavior do you want to see after that support was added?

[2021-06-03 08:39] hi-rustin opened #22401 "UpdatePullRequestBranch will panic when expectedHeadSha is nil"
**What happened**:
UpdatePullRequestBranch painc

[code]
**What you expected to happen**:

Do not panic when expectedHeadSha is nil.

**How to reproduce it (as minimally and precisely as possible)**:

This method is called when we call it on a conflicting PR or a PR that has been updated and passed expectedHeadSha as null.

**Please provide links to example occurrences, if any**:

**Anything else

[2021-06-03 12:52] rahul26ur opened #22407 "Prow issue: Pods deployed through jenkins gets created in the kubernet cluster but gets terminated automatically.What may be the reason"

[2021-06-03 14:33] #22072 closed

[2021-06-03 14:55] #22401 closed

[2021-06-03 18:09] brian-avery commented on #17056
/reopen

[2021-06-03 18:28] rahulii commented on #22208
HI @rbrishabh , are you actively working on this issue , if not it would like to give it a try!

[2021-06-03 18:39] BenTheElder opened #22417 "spyglass: missing allow-same-origin breaks viewer(s)"
**What happened**:

The coverage result treemap viewer is broken due to:

**What you expected to happen**:

Deck/spyglass should function without errors. This is breaking the ability to click through the treemap, probably other things.

**How to reproduce it (as minimally and precisely as possible)**:

Visit prow.k8s.io, inspect a job results page.

**Please provide links to example occurrences, i

[2021-06-03 18:42] BenTheElder commented on #22378
As the error says it must be called from the Kubernetes directory root. It's for testing Kubernetes. If you have some other use case I recommend https://github.com/kubernetes-sigs/kubetest2

Running under bazel is not going to work because the bazel sandbox interferes.

Note install instructions do not use bazel: https://github.com/kubernetes-sigs/kubetest2/blob/master/README.md

[2021-06-03 18:48] BenTheElder commented on #22407
I don't think there's enough to go on here. The prow jenkins integration doesn't itself create pods, does it? This is something your test is doing?

[2021-06-03 18:48] rbrishabh commented on #22208
Sure @rahulii ! This is all yours! Thank you

[2021-06-03 19:46] midnightconman commented on #22407
@BenTheElder is right, the jenkins-operator will just run existing jobs on a jenkins instance... can you give us more information on any errors you are seeing? Maybe look at the jenkins-operator log output and see what we see there?

[2021-06-04 03:15] aijamalnk commented on #10409
Hi @michelle192837 - I have a couple questions out of curiosity, as I'm working with knative community.

What is the current status of testgrid's open sourcing? Can it be run fully with the code in  https://github.com/GoogleCloudPlatform/testgrid? Or is it still partially closed-source? Is there an ETA / target date / estimate for when it may be fully out?

[2021-06-04 04:00] BenTheElder commented on #21193
@MushuEE did you already fix this?

[2021-06-04 04:15] SameerMahajan-GSLab commented on #22378
@BenTheElder how exactly do I run it from kubernetes directory? When I run

bazel run //kubetest

from kubernetes folder I get error of:

ERROR: The 'run' command is only supported from within a workspace (below a directory having a WORKSPACE file).
See documentation at https://docs.bazel.build/versions/master/build-ref.html#workspace

[2021-06-04 04:16] BenTheElder commented on #22378
without bazel, bazel places it in the workspace. see installation guide in the README

[2021-06-04 04:17] BenTheElder commented on #22378
https://github.com/kubernetes/test-infra/blob/master/kubetest/README.md

[2021-06-04 06:07] rahulii commented on #22208
/assign

[2021-06-05 04:37] BenTheElder opened #22432 "tide stopped merging Kubernetes PRs for 8 hours and counting"
**What happened**:

Tide has not merged a PR to Kubernetes in 8+ hours even though there are green + lgtm + approved PRs.

https://prow.k8s.io/?type=batch

**What you expected to happen**:

PRs should keep merging unless they are failing tests or not lgtm + approved

**How to reproduce it (as minimally and precisely as possible)**:

No idea! currently affecting prow.k8s.io for kubernetes/kubernete

[2021-06-05 04:38] BenTheElder commented on #13551
latest variation: a batch job has been mysteriously perma-"pending" with no results so we've ceased merging in kubernetes https://github.com/kubernetes/test-infra/issues/22432

[2021-06-05 06:13] hi-rustin commented on #21691
/close

I have not encountered this problem again recently.

[2021-06-05 06:13] #21691 closed

[2021-06-05 21:17] #20327 closed

[2021-06-05 21:17] #14520 closed

[2021-06-05 21:32] alvaroaleman commented on #13551
Not doing serial merges when we wait for a batch job to finish is intended, as it would invalidate the batch. The perma pending is ofc not, though.

[2021-06-05 21:59] alvaroaleman commented on #22432
So we correctly created a pod and transitioned the job to pending. Then nothing happened for about 15hours and after that the job was set to "Pod pending timeout". This should have happened after 15 mins though: https://github.com/kubernetes/test-infra/blob/df2711fc5cdc0caf6ec2f523feff3635f378a3e5/config/prow/config.yaml#L7

My ad hoc theory: We currently just do nothing if the pod is pending and

[2021-06-05 22:11] alvaroaleman commented on #22432
/area prow/plank

This isn't a tide bug btw

[2021-06-05 22:57] alvaroaleman commented on #22432
/assign

[2021-06-05 23:17] #19414 closed

[2021-06-06 01:50] blackguard88 opened #22440 "R"
**What should be cleaned up or changed**:

**Provide any links for context**:

[2021-06-06 07:25] BenTheElder commented on #22432
I would argue this bug interacts poorly with https://github.com/kubernetes/test-infra/issues/13551 which is the tide bug.

[2021-06-07 08:21] pacoxu commented on #18973
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-conformance?buildId=
keeps failing.

Should we remove it?
https://github.com/kubernetes/test-infra/blob/f38f16e9b66de7d746e69bcd59fe4c80b08b12ea/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L74-L104

[2021-06-07 12:28] Thor-wl opened #22443 "prowbot tide cannot merge PRs and error msg is `This branch must not contain merge commits`"
**What happened**:
It's really strange that out prowbot tide doesn't merge PR which passes all checklist and the error message as follows:
[code]
More details can be seen here: https://github.com/volcano-sh/volcano/pull/1490.
There's no merge commit in the PR and anything else i miss? Thank you!
**What you expected to happen**:
tide prowbot merge PR which passes all checklist automatically.
**How

[2021-06-07 12:30] Thor-wl commented on #22443
Another problem i found is that tide will block at the wrong PR. Other PRs which have passed checks will study unmerged in tide queue.

[2021-06-07 14:34] #22259 closed

[2021-06-07 14:59] bart0sh opened #22447 "Jobs fail with an error "Job execution failed: Pod got deleted unexpectedly""
**What happened**:

Some jobs, for example ci-kubernetes-node-kubelet-serial-cpu-manager and ci-kubernetes-node-kubelet-serial-hugepages fail with  "Job execution failed: Pod got deleted unexpectedly".  build-log.txt doesn't exists among job artifacts.

**What you expected to happen**:

Job should either fail or succeed and build-log.txt should clearly describe the test flow.

**How to reproduce i

[2021-06-07 15:00] bart0sh commented on #22447
/cc @cynepco3hahue

[2021-06-07 16:33] ehashman commented on #18973
@pacoxu it seems to me it's been failing for all available prow history (back to March), probably longer. I have no objections to removing it.

Email did not receive any replies but did not go to SIG Arch: https://groups.google.com/g/kubernetes-sig-node/c/kuKftmB_UYg

I see no benefit in keeping the perpetually failing, duplicate job.

[2021-06-07 16:40] chaodaiG commented on #21138
This was done
/close

[2021-06-07 16:40] #21138 closed

[2021-06-07 17:18] BenTheElder commented on #21137
/remove-lifecycle stale

[2021-06-07 17:36] #22432 closed

[2021-06-07 17:57] ehashman commented on #18973
Currently, the only difference I can see is that the ci-kubernetes-node-kubelet job skips Serial tests and the node-kubelet-conformance job does not.

However, I can't actually find any Serial tests marked NodeConformance. The only match in the codebase is https://github.com/kubernetes/kubernetes/blob/master/test/conformance/walk_test.go#L183 which is just an annotation test case and not an actual

[2021-06-07 18:15] ehashman commented on #18973
/assign

[2021-06-07 18:17] BenTheElder commented on #22432
thanks @alvaroaleman !

[2021-06-07 18:22] BenTheElder commented on #22259
thank you!

[2021-06-07 18:33] BenTheElder commented on #22443
https://github.com/kubernetes/test-infra/blob/0570b0687eef70e4b2e9027679855b0213101b3f/prow/tide/tide.go#L1316-L1317

the must not contain merge commits is coming from github it looks like?

[2021-06-07 18:40] MushuEE commented on #22417
![image](https://user-images.githubusercontent.com/7189267/121071676-1ca3b280-c785-11eb-964a-b7407dd646df.png)

[2021-06-07 19:35] alvaroaleman opened #22456 "Github throttler allows up to 2x hourly token budget in the first hour"
**What happened**:

When set up, the github throttler will both fill up the `burst` channel entirely and start a goroutine to refill it. This allows up to 2x `hourly-tokens` usage in the first hour:
https://github.com/kubernetes/test-infra/blob/c868e582b681ad469d3fb6b3b407be4c610ca40f/prow/github/client.go#L527-L540

@fejta you introduced the throttler in https://github.com/kubernetes/test-infra/p

[2021-06-07 20:26] chaodaiG commented on #20774
/remove-lifecycle stale
@petr-muller , has RH started something around this yet? I might be interested in trying a quick prototype some time next week

[2021-06-07 21:46] #22257 closed

[2021-06-08 01:12] Thor-wl commented on #22443
Yes, is there any advice to resolve it?

[2021-06-08 02:52] Thor-wl commented on #22443
I've got the root reason. If remove the configuration 'require linear history', prowbot works. Thanks very much!

[2021-06-08 02:52] #22443 closed

[2021-06-08 06:57] cynepco3hahue commented on #22447
@BenTheElder I unsure how can we check the real reason without access to CI infrastructure, do you know someone who can help and clarify the reason for the pod failure?
By default we request:
[code]
So the first thing that comes to my mind is the OOM issue.

[2021-06-08 07:12] bart0sh commented on #22447
@cynepco3hahue Can we use an instance with bigger amount of memory just to see if it helps?

both jobs (ci-*-cpu-manager and ci-*-hugepages) use the same ubuntu image, so it would be good to change both at the same time.

[2021-06-08 07:26] cynepco3hahue commented on #22447
@bart0sh If we are talking about OOM it will not help, because the pod can be killed anyway, we can try to change the guaranteed class, but it can affect other jobs.

[2021-06-08 08:00] BenTheElder commented on #22447
Workloads running on the wg-k8s-infra infrastructure are accessible via PR to the k8s.io repo.

The other legacy infra is primarily accessible to the test-infra oncall go.k8s.io/oncall, but I don't think they typically dig into individual jobs at this point unless there is evidence that prow is misbehaving.

The pod events with the secret cache sync timeout are odd but don't seem related to prow t

[2021-06-08 08:51] borgerli opened #22475 "test "pull-kubernetes-e2e-gce-alpha-features" always failed"
**What happened**:
I submitted a PR, and the test of "pull-kubernetes-e2e-gce-alpha-features" always failed because that minion nodes did not get started.

According to kubelet log, the reason is as follows:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
My PR build history: https://prow.k8s.io/pr-history?org=kubernetes&repo=kubernetes&

[2021-06-08 09:41] bart0sh commented on #22447
For hugepages job we set CPU limit 10m and Memory limit 100Mi and we don't set requests.
What are CPU and memory defaults fro the jobs?

@cynepco3hahue it looks suspicious that only hugepages and cpu-manager jobs get deleted. I've looked at other sig-node jobs, but couldn't find any failing the same way. what's so special in these 2 jobs?

[2021-06-08 10:51] bart0sh commented on #22447
@cynepco3hahue I saw it in the test code: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/hugepages_test.go#L180

[2021-06-08 11:06] cynepco3hahue commented on #22447
But we are talking about the job pod, the pod that responsible to run tests and it the one that failed.

[2021-06-08 12:16] bart0sh commented on #22447
The prow job should not be different from other prow jobs. I thought there is something different in the tests that makes prow jobs pod deleted.

[2021-06-08 14:42] BenTheElder commented on #22447
I think there's a bit of confusion here.

Prow runs CI as pods in a fixed cluster used for this.

Those pods then spin up e.g. the node e2e test resources which may include a kubernetes cluster, on which test pods are dynamically scheduled by the test.

Prowjob pods are *not* test cases from kubernetes and those pods do not and should not run as pods in the prow clusters. Their requests / limits a

[2021-06-08 16:47] bart0sh commented on #22447
@BenTheElder thanks. Is there any reason that only pods spinning  hugepages and cpu-manager e2e tests got deleted?
Is it test infra configuration issue or it's somehow related to the e2e test configurations?

[2021-06-08 17:07] BenTheElder commented on #22447
I don't know. That requires further debugging and I've got other things on my plate.

The phrasing here is still somewhat ambiguous to me so let me try to rephrase:

It is *not* in any configuration in kubernetes/kubernetes, it is not in any internals of test/e2e. Those affect pods created on the cluster that is created _during_ the test, which has nothing to do with the prowjob pod. This disposab

[2021-06-08 17:49] bart0sh commented on #22447
I'd be happy to help with this if you can elaborate a little bit on how to proceed. Should I request some rights to access prow cluster logs?

[2021-06-08 21:34] BenTheElder commented on #13129
/lifecycle frozen

[2021-06-08 21:39] MushuEE commented on #21193
It has a temporary fix from the Triage side. We were going back and forth on where the exclusion should be: Should kettle pick up everything and Triage filters or vice versa. Will close for now

[2021-06-08 21:39] #21193 closed

[2021-06-09 01:58] BenTheElder commented on #22447
I don't know that the cluster even has logs from that far back, and it's all passing now? https://prow.k8s.io/?job=ci-kubernetes-node-kubelet-serial-cpu-manager

You can't get access to the legacy cluster google setup at the cluster log level etc., only the oncall team (because it's an internal google.com GCP project). You can PR yourself to the wg-k8s-infra clusters/resources in the k8s.io repo,

[2021-06-09 02:02] BenTheElder commented on #22475
1. it's not always failing on other PRs https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-alpha-features
2. jobs not marked `Required` in github aren't required to pass
3. it's not a test-infra bug, we just make sure the jobs run.

Given that this reliably is failing on your PR and not on other PRs, I'd guess your PR breaks cluster bringup with alpha f

[2021-06-09 02:04] BenTheElder commented on #22475
see e.g. https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102474/pull-kubernetes-e2e-gce-alpha-features/1401911807018274816/ which passed on another PR to kubernetes master branch twice yesterday.

[2021-06-09 02:25] borgerli commented on #22475
Thanks, @BenTheElder

I did add a new alpha feature gate. I'll take a further look.

[2021-06-09 02:25] #22475 closed

[2021-06-09 02:33] cjwagner commented on #22456
/assign
Good catch. I've thought about a few different ways to handle this and ended up with this: https://github.com/kubernetes/test-infra/pull/22489

[2021-06-09 03:58] BenTheElder commented on #22475
I ran it on a no-changes PR (https://github.com/kubernetes/kubernetes/pull/92316), and it passed:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-e2e-gce-alpha-features/1402447303343607808/

I think there needs to be more debugging on your PR. If it turns out to be unrelated to your PR it's still a kubernetes/kubernetes bug though, test-infra is running the tests

[2021-06-09 08:00] bart0sh commented on #22447
@BenTheElder

Both tests are passing most of the time. [Hugepages test](https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-hugepages) failed on 5th and 7th of June and 26 of May.

OK, if this is so hard to debug let's monitor this further. If it happens again periodically I'll try to contact oncall team.
Thank you for your help!

[2021-06-09 09:32] shu-mutou opened #22491 "Prow issue: k8s-ci-robot responds to message to depandabot"
Like following:
![image](https://user-images.githubusercontent.com/12838129/121330237-ca16f180-c950-11eb-9400-3b5d4cf48359.png)

[2021-06-09 12:31] borgerli commented on #22475
Yes, there was a problem in my PR. After it got fixed, the test passed. Thanks for the kind help!

[2021-06-09 12:59] #22456 closed

[2021-06-09 13:01] YuviGold opened #22494 "/test all doesn't trigger non-automatically run jobs"
**What would you like to be added**:
Either changing `/test all` to run all the available jobs or adding a new command to trigger all the available jobs.

**Why is this needed**:
At the moment, running `/test all` doesn't cover all the available jobs.
1. This is misleading. `all` keyword represents everything. Even the [Command Help](https://prow.k8s.io/command-help#test) page describes this opera

[2021-06-09 15:35] alvaroaleman commented on #22491
I'm afraid I'll have to close this one with an xkcd: ![xkcd](https://imgs.xkcd.com/comics/correlation.png)

Needs rebase got extended to comment with a dependabot-understandable rebase comment if the PR is from dependabot: https://github.com/kubernetes/test-infra/pull/22448

It happened to comment at approximately the same time as you did, but that was just a coincidence and not a reaction to your

[2021-06-09 15:35] #22491 closed

[2021-06-09 16:45] BenTheElder commented on #22475
Great! Thank you 😊

[2021-06-09 18:51] spiffxp commented on #21296
/remove-lifecycle stale

[2021-06-09 19:19] spiffxp commented on #18789
/remove-lifecycle rotten
/milestone v1.22

[2021-06-09 21:57] BenTheElder commented on #22494
You can list all jobs by commenting `/test` and you can run the ones you want.

`/test all` is just available to get fresh results for everything, not to trigger all possible jobs.

In Kubernetes we really would never want to enable this / would block this feature to to trigger all possible jobs.

There are manually triggered jobs available if necessary that should not be arbitrarily triggered (e.

[2021-06-09 21:58] BenTheElder commented on #22447
Well FWIW I have spotted this issue elsewhere more recently https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance/1402563181775163392

So I'm going to raise it to the oncall team.

[2021-06-10 08:22] bart0sh commented on #22447
@BenTheElder Would it make sense to raise priority for this issue?

[2021-06-10 08:44] BenTheElder commented on #22447
I'm still not finding it very often, but changing the priority doesn't really "change the priority" anyhow 🙃

@cjwagner took some action today, see this slack thread https://kubernetes.slack.com/archives/C7J9RP96G/p1623276124015100

[2021-06-10 11:28] bart0sh commented on #22447
Sounds promising. Let's see if it happens again after the action. If not - I'll close this issue.

[2021-06-10 15:28] ehashman commented on #22250
@SergeyKanzhelev this is a duplicate of https://github.com/kubernetes/test-infra/issues/18973 and https://github.com/kubernetes/kubernetes/issues/97130 no?

[2021-06-10 15:29] ehashman commented on #22250
I have a PR up to just remove these tests as they appear to be duplicates: https://github.com/kubernetes/test-infra/pull/22454

[2021-06-10 15:32] ehashman commented on #22250
Example of one of the failing jobs: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-conformance/1402940005772431360

[2021-06-10 15:33] ehashman commented on #22250
/assign @swatisehgal

[2021-06-10 15:37] ehashman commented on #18570
/remove-lifecycle stale

@adisky says that the testgrid tab has been cleaned up, there's a bit more follow-up to do before we can close this out: a few more jobs to clean out that are failing + ensuring we have all the combos above tested.

[2021-06-10 15:39] ehashman commented on #20105
cc @ike-ma

[2021-06-10 19:48] nnordrum opened #22521 "Federated configs?"
**What would you like to be added**:
I've looked and looked and don't see this, but I concede there isn't _much_ use for this directly, but could be useful for people that run this for their companies.

What would be great is if there was some way to federate the config so you could say "orgs A, B, and C are all using prow; lets merge /(A|B|C)/.github/.prow/config.xml into our main config" (you co

[2021-06-10 21:16] nnordrum commented on #22521
ahh, them's the magic words! I swear I looked!

[2021-06-10 21:35] nnordrum commented on #22521
So you could enable this in the global settings and do:
[code]

and then put what where for an org? I can't seem to find the magic repo either...

[2021-06-10 21:41] BenTheElder commented on #22521
Kubernetes does not use this. I just know that feature exists and has some docs.

We instead have a directory in this repo with our configs and different groups can own portions of the config but we can analyze all of it here and certain people (infra oncall) can own all configs.

[2021-06-11 00:35] qaifshaikh commented on #22447
@BenTheElder Is there a way to have prow retrigger jobs that fail with this error?

More context: We see this error quite often if the AZ runs out of spot instances. Looking for a way to have prow rerun such jobs

[2021-06-11 01:14] BenTheElder commented on #22447
I don't think so. You might find better luck filing another issue or asking on #prow kubernetes.slack.com though.

[2021-06-11 02:21] alvaroaleman commented on #22521
The key of the map can be an org or a repo:
[code]

enables it for the org named `my-org` and for the `my-other-org/my-repo` repo

[2021-06-11 03:29] cailiang9 commented on #22201
I want to wget https://patch-diff.githubusercontent.com/raw/jupyterlab/nbclassic/pull/52.patch but obviously blocked.
So can ghproxy.com support this so I can wget through https://ghproxy.com/https://patch-diff.githubusercontent.com/raw/jupyterlab/nbclassic/pull/52.patch ?

[2021-06-11 03:34] #22521 closed

[2021-06-11 15:38] petr-muller commented on #20774
@chaodaiG nope, nothing moved on our end. if you could give it a shot it would be great!

[2021-06-11 15:40] chaodaiG commented on #20774
Thanks for the info! plans have changed on my end for a little bit, so I might not get to it very soon

[2021-06-11 16:06] dhiller opened #22533 "Can't silence job on slack reporter config"
**What happened**:

We were thinking that by overriding slack reporter config on the job level we could silence jobs by applying a job config like this:
[code]

**What you expected to happen**:
We expected the job to stop reporting. Unfortunately this doesn't work.

**How to reproduce it (as minimally and precisely as possible)**:

I've added a test case here: https://github.com/dhiller/test-infra

[2021-06-11 16:06] dhiller commented on #22533
FYI @fgimenez @rmohr

[2021-06-11 16:38] qaifshaikh opened #22535 "Rerun jobs that fail due to error "failed: Pod got deleted unexpectedly""
**What would you like to be added**:
The ability to let prow rerun jobs that fail due to spot instances termination

**Why is this needed**:
Its pretty common to lose spot instances thus leading to jobs giving the error "failed: Pod got deleted unexpectedly"

[2021-06-11 19:52] BenTheElder commented on #12863
github.com/cncf/* have their own prow now I think? Except cncf/apisnoop is still using the kubernetes prow (e.g. see event here https://github.com/cncf/apisnoop/pull/508#event-4770605248) cc @hh @zachmandeville

github.com/GoogleCloudPlatform/* should be able to move to https://github.com/GoogleCloudPlatform/oss-test-infra prow instance, but it seems some of them have not. cc @chaodaiG @cjwagner @

[2021-06-11 19:53] dashpole commented on #12863
cc @bobbypage

[2021-06-11 19:54] BenTheElder opened #22538 "use of deprecated bazel option"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/21591/pull-test-infra-bazel/1403437489145778176

/assign
/area bazel

[2021-06-11 20:27] BenTheElder opened #22540 "tide data race"
**What happened**:

https://github.com/kubernetes/test-infra/pull/22539#issuecomment-859864519 /
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/22539/pull-test-infra-bazel/1403443143432474624

**What you expected to happen**:

no data races when testing

**How to reproduce it (as minimally and precisely as possible)**:

test with PR https://github.com/kubernetes/test-infra/

[2021-06-11 20:29] BenTheElder commented on #22378
I think https://github.com/kubernetes/test-infra/blob/master/kubetest/README.md#installation and onwards covers this, feel free to reopen or file a new issue (or improve the docs!) if not.

[2021-06-11 20:29] #22378 closed

[2021-06-11 20:34] BenTheElder commented on #22540
this happens reliably with the bazel flag corrected as in #22539

[2021-06-12 21:03] #19160 closed

[2021-06-14 13:08] alvaroaleman commented on #22540
/assign

[2021-06-14 13:59] #22540 closed

[2021-06-14 14:43] #22538 closed

[2021-06-14 15:13] nnordrum commented on #22521
^^ stupid/apparently need to be spoon-fed hat...

but where do you put the file(s) for `my-org`? you can't put a file in an org; just make a convention of like `my-org/.github/prow/settings.xml` and put the file at `my-org/.github/prow/settings.xml` and `my-other-org/.github/prow/settings.xml`?

[2021-06-14 16:29] jprzychodzen opened #22552 "Missing logs from failed scalability test for konnectivity-agent"
**What happened**:
Recent test `ci-kubernetes-e2e-gce-scale-performance` failed because of restart of `konnectivity-agent`. There is only log showing that component failed liveness probe, but there are no component specific logs.

**What you expected to happen**:
There will be available logs to debug what happened with `konnectivity-agent`

**Please provide links to example occurrences, if any**:

[2021-06-14 16:35] jprzychodzen commented on #22552
/kind feature

[2021-06-14 16:38] jprzychodzen commented on #22552
/remove-kind bug

[2021-06-14 22:21] dprotaso commented on #20872
/lifecycle frozen

[2021-06-14 22:22] dprotaso commented on #20872
@daemon1024 do you still plan on working on this issue?

[2021-06-14 22:31] daemon1024 commented on #20872
Sorry for providing no updates. I tried to work on this but the 7 days wait for testing hampered the process.

I made some attempts at  https://github.com/daemon1024/test-infra/commit/b57e191aed9b381617e0d82474dc8f9ead744adb. If this helps.

I will unassign myself from this since I don't have bandwidth to work on this right now. Apologies again.

[2021-06-14 22:34] dprotaso commented on #20872
What's the 7 day wait for testing?

[2021-06-14 22:36] daemon1024 commented on #20872
Need to wait for an invite to expire. The time period for an invite to expire is 7 days.

[2021-06-15 06:26] wojtek-t commented on #22552
@jkh52 @cheftako

[2021-06-15 12:55] odinuge commented on #22250
Looks like the test is just timing out, with a timeout of 65 min. Not sure what tests are running under this test suite, but it would be interesting to see what is the root cause to this before we remove it (it might be some bug or something). If we get https://github.com/kubernetes/kubernetes/pull/102209 merged, we would be able to debug why it fails.

[2021-06-15 13:31] dims commented on #22250
@odinuge i've approve/lgtm'ed https://github.com/kubernetes/kubernetes/pull/102209 please feel free to remove hold when you are ready.

[2021-06-15 17:22] spiffxp commented on #20886
/help
/remove-lifecycle stale

[2021-06-15 18:14] supriya-premkumar commented on #20886
Hi @spiffxp, apologies for the delay. I have this WIP [PR](https://github.com/kubernetes-sigs/kubetest2/pull/111)
I will revive the PR and work on this one. Thank you 🙏🏽

[2021-06-15 19:27] YuviGold opened #22567 "PR revision tooltip isn't shown on Prow Status page after redraw"
Continues https://github.com/kubernetes/test-infra/issues/22301

**What happened**:
When hovering above PR revisions on the main Prow Status page, the tooltip displaying the title of the PR is shown.
Afterward, in case filtering by any filter and causing the page to redraw itself - the tooltip won't work.

**What you expected to happen**:
As the tooltip is shown at first, it should work after filt

[2021-06-15 19:39] BenTheElder opened #22568 "make triage easily linkable without including current backing storage bucket"
**What would you like to be added**:

We should make it easy to link to the triage dashboard using a project owned domain.

Perhaps by actually serving it (like GCS web?) from k8s infra, or perhaps making the "link" buttons use the alias. The latter seems bad e.g. we have staging instances, and I can still choose to copy the link from the browser URL bar and include the GCS bucket.

**Why is this

[2021-06-15 22:06] aryeh-looker opened #22571 "Feature Request: Prow: Pods w/out Commands/Args"
**What would you like to be added**:

Ability to spin up a container without needing to provide a command or arg and have the container exit when all others have exited automatically.

**Why is this needed**:

It can be useful to have a test container and a container running a database side-by-side, with the database container starting (without necessarily needing a command/arg; see https://kubern

[2021-06-15 22:18] aryeh-looker opened #22572 "Feature Request: Prow: Pretty Human Readable Prow Errors"
**What would you like to be added**:

Pretty printing for errors in from `checkconfig` and other prow-owned log messages. Example screenshot from current implementation:

![image](https://user-images.githubusercontent.com/12849602/122130528-9de5ef80-cdec-11eb-83ff-c6b76e53813b.png)

Ideal implementation would be to print something like this as it enhances readability:

[code]

**Why is this needed

[2021-06-15 22:30] aryeh-looker commented on #22571
Nice, but would call it low priority — have some workarounds.

[2021-06-15 23:05] spiffxp commented on #22568
I want the same thing I just don't know the best way to do it. Also want to understand if we can make the old bucket uri redirect to the right place.

Can gcs do it on its own? Is there nginx voodoo we setup in the k8s.io redirector? Will the page editing its own uri mess with this? Etc

[2021-06-15 23:19] BenTheElder commented on #22568
I think our best options are probably:
- webserver (nginx whatever) at triage.k8s.io in AAA cluster reverse-proxy the bucket
- https://cloud.google.com/storage/docs/hosting-static-website

Worst case we can toss an index.html with a link and meta refresh https://developer.mozilla.org/en-US/docs/Web/HTTP/Redirections#html_redirections

ish, you need a cloud LB too if you want SSL it seems:
https://

[2021-06-15 23:24] BenTheElder commented on #22572
I don't think we should manipulate the format of the job's stdout/stderr / buildlog, I think that would be surprising.

You can output formatted errors by converting them to JUnit XML which this prow page, testgrid, and other tools can understand throughout our stack.

I also recommend using a human readable format for logs aimed at humans, ideally checkconfig could use a different formatter in CI

[2021-06-15 23:27] BenTheElder commented on #22571
I think what you are describing is roughly `decorate: false`.

To get the magic that comes with `decorate: true` you unfortunately need to set the command. This is because the command is actually replaced in the pod with a prow tool that wraps the command, and that tool needs to know what command to replace.

The whole system could be designed differently, but it's not a minor change.

https://git

[2021-06-15 23:48] spiffxp commented on #22568
https://github.com/kubernetes/k8s.io/blob/main/k8s.io/configmap-nginx.yaml sorry by voodoo I meant can we accomplish it by adding stuff here, not that go.k8s.io wouldn't handle a new uri

[2021-06-15 23:52] BenTheElder commented on #22568
oh, I don't think go.k8s.io should do anything other than host a redirect, which doesn't solve this issue. I think it should continue to be a shortlink to wherever we do host it, and be updated to that.

we could cram reverse proxying into that nginx instance I guess? but I don't think we should.

[2021-06-16 00:10] spiffxp commented on #22568
Take a look at the file, that nginx instance fronts k8s.io and does way more than go.k8s.io 😄

[2021-06-16 00:13] BenTheElder commented on #22568
https://github.com/kubernetes/k8s.io/blob/fa10b4c490429f67e48c4a536ae4c9321ecad6ae/k8s.io/configmap-nginx.yaml

😭

[2021-06-16 05:38] BenTheElder opened #22577 "optimize triage job further"
The job requests 7 CPU and 40Gi ram.

For this run:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-triage/1405025954731921408

I tracked down the VM and grabbed the monitoring:

<img width="811" alt="Screen Shot 2021-06-15 at 10 31 02 PM" src="https://user-images.githubusercontent.com/917931/122163170-93961680-ce29-11eb-96ca-4aca09164c23.png">

At this point the logs end with:

[2021-06-16 05:47] BenTheElder commented on #22577
from finished.json it finished at `Wed Jun 16 2021 05:34:05 GMT+0000` (converted the unix epoch timestamp)

and from these lines:

we are spending ~5 minutes doing the initial bigquery etc.

So we're spending roughly:
- 5 min bq
- 15m clustering
- 11m rendering
- 2m uploading results

... which accounts for 33m, I'm missing ~6 minutes somewhere.

[2021-06-16 09:43] odinuge commented on #22250
A run with proper output and artifacts can be found here: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-conformance/1405056909827903488

It simply looks like there are too many tests to finish serially on a single node with a timeout of `65min`. The `ci-containerd-node-e2e` job, the "duplicate", runs with `8` ginkgo-nodes compared to `1` for the `ci-kubernetes-node

[2021-06-16 10:13] odinuge commented on #22250
There is however a small difference between the two. The docker one will not skip `[Serial]`, while the containerd one will.

I cannot find any `[NodeConformance]` tests with `[Serial]`, but that would be changed when https://github.com/kubernetes/kubernetes/pull/102774 is merged I assume. So, the containerd version will skip that test as it is now.

/cc @bart0sh

[2021-06-16 22:54] myshkin5 opened #22587 "Support for private git submodules in Prow jobs"
**What would you like to be added**:
Prow can retrieve private git repositories but if those repositories have private submodules, Prow attempts to retrieve them with https and no authentication. Common practice is to use [git `insteadOf` configuration](https://stackoverflow.com/a/22027731) so that ssh is used for both the main repo and the submodules.

**Why is this needed**:
Private git submodul

[2021-06-17 01:32] ehashman commented on #22250
Yeah, I saw that as well, and noted it when I submitted https://github.com/kubernetes/test-infra/pull/22454#issue-663787438

We discussed this in the CI subproject meeting today and we're pretty sure that it shouldn't be getting a NodeConformance label (https://github.com/kubernetes/kubernetes/pull/102774#issuecomment-862579913).

[2021-06-17 10:06] bart0sh commented on #22447
@qaifshaikh @BenTheElder It looks like infra changes fixed this issue. At least I don't see it happening anymore for ci-kubernetes-node-kubelet-serial-cpu-manager and ci-kubernetes-node-kubelet-serial-hugepages. Closing this issue.

[2021-06-17 10:06] #22447 closed

[2021-06-17 17:01] prasanthteja opened #22596 "Prow issue:E0617 13:24:06.106788 1 aws_manager.go:265] Failed to regenerate ASG cache: cannot autodiscover ASGs: NoCredentialProviders: no valid providers in chain. Deprecated.For verbose messaging see aws.Config.CredentialsChainVerboseErrors"

[2021-06-17 17:02] prasanthteja commented on #22596
I am facing this below  issue from autoscaler pod when upgraded EKS from 1.16 to 1.17

Error:

Failed to regenerate ASG cache: cannot autodiscover ASGs: NoCredentialProviders: no valid providers in chain. Deprecated.For verbose messaging see aws.Config.CredentialsChainVerboseErrors

[2021-06-17 17:48] #21908 closed

[2021-06-17 17:51] BenTheElder commented on #22447
For the record this appears to have been an issue with the VMs in the prow cluster that were created in a certain time range, which was resolved by taking a cluster upgrade (which is one way to get all new node VMs).

The VM issue (with the E2 instance type) potentially caused long memory allocation delays / issues with the virtio memory balloon device used in these instances, we had many node VMs

[2021-06-17 18:36] fzakaria opened #22598 "Add ability to set preset capabilities to all jobs"
Our test jobs all rely on the ability to create sandbox environments however the _mount_ syscall is blocked by the default seccomp filter. The easiest way forward is to grant _SYS_ADMIN_; however adding it to every job is a bit tedious.

It would be great to be able to add it to a _preset_; so it's applied to all jobs.
[code]

[2021-06-17 20:52] BenTheElder commented on #20667
I think we could add something simple to replace HEAD with a valid branch name and should still consider this.

[2021-06-18 03:17] BenTheElder commented on #19414
https://github.com/kubernetes/test-infra/pull/21120 actually fixed here I think?

[2021-06-18 03:18] BenTheElder commented on #19477
I think we've only seen very minor issues upstream in Kubernetes, unclear that we need to prioritize anything further here.

For downstream concerns, we will finish migrating any images used by e2e.test in kubernetes.

[2021-06-18 03:24] BenTheElder commented on #22598
current presets are based on the kubernetes podpreset feature and expanding them was rejected.

personally I am in favor of presets allowing de-duping more common fields like this akin to a simple built in overlay patch so we can cut down on mass duplication of common job settings.

/area prow
/area prow/plank

[2021-06-18 03:25] BenTheElder commented on #22596
aws_manager.go is not a part of this project.

prow does not deal with auto-scaling groups, credential providers, or AWS*

https://github.com/kubernetes/test-infra/blob/master/prow/README.md

* there's some S3 bucket support for log storage.

[2021-06-18 03:25] #22596 closed

[2021-06-18 07:10] BenTheElder commented on #22201
Ah, bit of confusion here:

This repo has no involvement with https://ghproxy.com/

There is a different GitHub-API caching proxy implemented and used by `prow/` in this repo to avoid wasting repeated API calls (and therefore ratelimit) on cacheable results. It is not a user facing proxy.

Per the https://ghproxy.com/ footer, you want https://github.com/hunshcn/gh-proxy ("Github Project : hunshcn/

[2021-06-18 07:10] #22201 closed

[2021-06-18 09:06] mcbenjemaa opened #22605 "Re assign Labels sig/area to PRs is misleading."
**What happened**:
I have a PR that consists of updating dependencies, The Bot tries to assign sig labels from files that are changed!
But sometimes that's not Correct!
For example in my case, It assigns all the sigs that the dependency has changed in.
I assigned the correct sig, I thought that the Bot shouldn't re-assign the sig labels anymore, But it does  (on every commit basis! this is annoyin

[2021-06-18 20:41] aryeh-looker commented on #22572
I'm realizing my message was unclear. To be more precise, I'm suggesting pretty-printing of errors from the prow YAML validation jobs.

[2021-06-18 20:43] aryeh-looker commented on #22572
i.e. in `checkconfig`, I believe https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig

[2021-06-18 20:45] aryeh-looker commented on #22572
Perhaps an option for `logrus.WithError` https://github.com/kubernetes/test-infra/blob/master/prow/cmd/checkconfig/main.go#L224

[2021-06-18 20:46] aryeh-looker commented on #22572
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/checkconfig/main.go#L224

[2021-06-18 20:50] BenTheElder commented on #22572
ah, in that case yes I agree, though I might phrase it more like "use a human readable log formatter" since it's not so much errors as that all log lines are json 😅

[2021-06-18 20:53] aryeh-looker commented on #22572
Updated summary

[2021-06-18 20:56] BenTheElder commented on #22605
So these labels come from the OWNERS files. If they're incorrect the OWNERS files should be updated.

The reason it happens again on every commit is that the set of files changed can change on every commit / push, so which OWNERS files are relevant is re-evaluated.

If we know that these are not correct, we should fix the incorrect data.

https://go.k8s.io/owners

[2021-06-19 11:47] mcbenjemaa commented on #22605
Thanks for the information.

I just wanted to highlight if we can prevent this intended action,

Since, I assigned the sig label manually then, The Bot shouldn't re-assign sig labels anymore or maybe ask for confirmation whether the new labels should be applied or not, and that's because as mentioned (I have set the sig label manually!)

Any idea!

[2021-06-19 19:55] BenTheElder commented on #22605
I will have to defer to others more current on Prow internals for this but I think it may be too expensive (in terms of GitHub API quota) to attempt to lookup if you've changed any of the labels prior to the push.

Also: you can put essentially any label in the OWNERS but we wouldn't probably want to allow you to do this for some labels.

Either way, changes in workflow behavior have to be approve

[2021-06-19 19:56] BenTheElder commented on #22605
P.S. I agree this is frustrating but I highly suggest improving the labeling instead. The labels can even be configured to only apply to a specific regex instead of a folder (see the docs) so we could make them more accurate to begin with.

[2021-06-20 18:56] #19320 closed

[2021-06-21 21:52] mrbobbytables commented on #22605
I agree with @BenTheElder - this is largely working as intended; we want to fix the OWNERS files so that they label items correctly.

AFAIK, this is the case. It'd essentially mean we'd have to walk the comments of every PR each time theres a comment, push, or review and re-establish the state or engineer keeping track of state externally in a DB.

[2021-06-22 00:06] #19630 closed

[2021-06-22 06:45] YuviGold commented on #22567
@cjwagner Maybe you know? You added the tooltip element on https://github.com/kubernetes/test-infra/pull/8791

[2021-06-22 17:33] cjwagner commented on #22567
I don't know sorry. This has been an issue for a while and manifests in a few places. These issues are likely the same root problem:
- https://github.com/kubernetes/test-infra/issues/12081
- https://github.com/kubernetes/test-infra/issues/10605

[2021-06-22 18:29] briantkennedy opened #22653 "Allow re-run of gerrit-based postsubmit at merged state without additional commits."
**What would you like to be added**:
Add a flag to post submit jobs to allow re-running it at the merged state without including later changes.

**Why is this needed**:
The current behavior for re-running a postsubmit is to take the current master, merge it with the patch for the change, then run.  This works well for jobs that need to apply the latest changes to a running system, but is not ideal

[2021-06-22 18:42] BenTheElder commented on #22653
Is this not is already how postsubmits behave when re-run? I didn't think we re-resolved commits when re-reunning a postsubmit, in fact people want the opposite behavior, when we re-run a postsubmit we just run the same job again with no config updates etc.

[2021-06-22 19:55] dprotaso opened #22657 "allow branchprotector to protect branches matching a certain regex"
**What would you like to be added**:

There only seems to be an exclude option - https://github.com/kubernetes/test-infra/blob/1bd2a72cbe81fde4066a0e96a3ac3d75027bc624/prow/config/branch_protection.go#L53-L55

It would be ideal if we could supply a 'include' regex

**Why is this needed**:

As we introduce automated tooling or in the case someone pushes branch by accident to a repo they become prot

[2021-06-22 20:06] BenTheElder commented on #21079
This is a pretty easy fix that I think is worth doing to simplify things and avoid unnecessary config re-loading. It will make it easier in the future to support strict parsing, if anyone ever becomes interested in actually getting that in.

[2021-06-22 20:30] MushuEE commented on #19414
@BenTheElder Correct I believe it no longer needs to be back pinned as the issue was fixed.

[2021-06-22 20:51] briantkennedy commented on #22653
@chaodaiG Could you please comment regarding the behavior that you explained regarding postsubmit?

[2021-06-22 21:07] chaodaiG commented on #22653
This issue was from a gerrit based prow instance, what we observed in clone log is:
[code]

and just noticed that this is different from github based prow, aka prow.k8s.io. In an example postsubmit job https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-push-images/1407425707163783168, the clone log is like:
[code]

This is a little surprising to me, my immediate feeling is that m

[2021-06-22 21:19] cjwagner commented on #22653
Yeah we should make this match the behavior with GH. I suspect the distinction is that we don't resolve the base branch commit at trigger time and include that specific SHA in the ProwJob Refs like we do for GH. So instead of the base branch SHA being resolved once at trigger time, it is resolved at run time each time it is run.

[2021-06-23 05:46] rajaskakodkar commented on #13129
/assign

[2021-06-23 08:42] BenTheElder commented on #21534
I think we should update prow to understand that `@<U+200B>` is OK, and then let https://github.com/dependabot/dependabot-core/issues/3378#issuecomment-809326939 track fixing the teams bit on the dependabot side.

/help
/good-first-issue

this is a pretty simple PR, https://github.com/kubernetes/test-infra/blob/f7e21a3c18f4f4bbc7ee170675ed53e4544a0632/prow/plugins/invalidcommitmsg/invalidcommitmsg

[2021-06-23 10:44] mcbenjemaa commented on #22657
@BenTheElder When adding an Inclusion regex, and there's already excludes polices.
In that case,, the inclusion policies works whereas the exclude are ignored ? or what ?
Does it make sense though ?

[2021-06-23 11:04] BenTheElder commented on #22657
Hi: I'm just sweeping the issues in this repo. There are others better to handle Prow issues.

AIUI generally in prow both would be used together.

[2021-06-23 11:11] simon-wessel commented on #18856
I ran into the same two problems and both are connected to the documentation:

1)
As @deedubs correctly states the command to add the secret is:

`kubectl create secret generic gcs-credentials --from-file=gcs-credentials.json -n prow`

The command in the documentation uses the "test-pods" namespace for the secret though. That is why some pods are missing the credentials and won't come up.

2)
The

[2021-06-23 11:22] mcbenjemaa commented on #22657
/cc @alvaroaleman

[2021-06-23 11:51] bhumijgupta commented on #21534
@BenTheElder I would like to pick this up

[2021-06-23 14:06] alvaroaleman commented on #22657
The idea sounds fine, but I would prefer if we make the `include` setting mutually exclusive with the `exclude` one

[2021-06-23 14:38] mcbenjemaa commented on #22657
/assign

[2021-06-23 18:45] petr-muller opened #22673 "Allow GH teams to have override permissions for whole org"
**What would you like to be added**:
The override plugin already has `repo -> team` configuration, we'd like to have `org -> team`
https://github.com/kubernetes/test-infra/blob/88cd2798f36010e071a30c9827f90e647b59fc65/prow/plugins/config.go#L1767-L1769

**Why is this needed**:
We have a class of users who should be allowed this power in the whole (huge) org. Giving them admin for the whole org is

[2021-06-23 18:47] BenTheElder commented on #21534
please do! we are in #sig-testing and #prow of the kubernetes slack if you have any questions :-)

[2021-06-24 03:13] bhumijgupta commented on #21534
Thanks.
/assign @bhumijgupta

[2021-06-24 05:06] bhumijgupta commented on #21534
@BenTheElder @shu-mutou https://github.com/kubernetes/test-infra/blob/f7e21a3c18f4f4bbc7ee170675ed53e4544a0632/prow/plugins/invalidcommitmsg/invalidcommitmsg.go#L66
 The above regex should not match for mentions with `@\u200b` as tested in this [golang playground](https://play.golang.org/p/LHRxyz5KuBB).

I can add a test at https://github.com/kubernetes/test-infra/blob/1f3edddfe487b7df5714dbd9de3b

[2021-06-24 05:15] BenTheElder commented on #21534
Sounds good, thank you!

[2021-06-24 09:14] shu-mutou commented on #21534
Since it is unlikely that dependabot will fix this issue, I thought about rewriting the commit message with github action etc.
But if we rewrite the PR from dependabot, dependabot will not automatically rebase it.
After all, PR from dependabot needs to be excluded from the InvalidCommitMessage check, I think.
Thanks!

[2021-06-24 11:21] nikhita commented on #12296
Closing due to age, we can reopen when we have bandwidth to revisit this.

[2021-06-24 14:01] petr-muller opened #22690 "Single `/override` creates in multiple (many) Prowjobs in the system"
**What happened**:

Single `/override` command seem to create multiple (sometimes >10) Prowjobs in the system. This skews metrics.

**What you expected to happen**:
Create 1 prowjob

**How to reproduce it (as minimally and precisely as possible)**:
`/override test`. I don't know if this happens everytime, but at least the amount of created prowjobs differs between occurrences.

**Please provide li

[2021-06-24 16:44] BenTheElder commented on #21534
I don't know that we want to special case an account like this, I think that's something Prow is unlikely to want to deal with and sort of feels wrong.

Especially if dependabot actually manages to mention a team or user. When something like this merges in Kubernetes then it gets merged into forks and every fork merge notifies those affected. I just received another wave of these last night from c

[2021-06-24 20:52] BenTheElder commented on #18551
/remove-lifecycle rotten

[2021-06-25 06:25] BenTheElder commented on #21490
still a thing
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/103161/pull-kubernetes-e2e-gce-ubuntu-containerd/1408280918514208768/build-log.txt

[2021-06-25 06:26] BenTheElder commented on #21490
eh, we will switch to kubetest2 in the future, and solve it that way 🤷‍♂️

[2021-06-25 06:26] #21490 closed

[2021-06-25 18:52] eddiezane commented on #9098
/remove-lifecycle stale

[2021-06-25 19:40] #20542 closed

[2021-06-25 19:57] BenTheElder commented on #21430
/remove-lifecycle stale
we'll probably need to wait for next release cycle, we have to be careful about when we change up the list of blocking presubmit statuses, it's disruptive

[2021-06-25 19:59] BenTheElder commented on #21137
@chaodaiG this was completed right?

[2021-06-25 20:01] BenTheElder commented on #13063
this was updated pretty recently, should the follow-up be a follow-up or should we keep tracking here?
if the latteer we should update the milestone

[2021-06-25 20:04] chaodaiG commented on #21137
Yep it was completed

[2021-06-25 20:04] chaodaiG commented on #21137
/close

[2021-06-25 20:05] BenTheElder commented on #21137
Thank you!

[2021-06-27 04:04] bhumijgupta commented on #20872
I would like to pick this up
/assign

[2021-06-27 20:54] #20595 closed

[2021-06-28 08:33] pravarag commented on #22577
@BenTheElder can I work on this issue and investigate more? Though I may have very less experience around test-infra but I can take-it up as a good learning if there is no hard-deadline 🙂

[2021-06-28 08:44] goern commented on #21025
/close

[2021-06-28 08:44] #21025 closed

[2021-06-28 19:08] BenTheElder commented on #22577
hey, you certainly can :-) anyone can.

If you're looking for a starter issue though, you might try looking for "good first issue" labeled issues. We also maintain something of an index of these:
https://github.com/orgs/kubernetes/projects/52
https://github.com/orgs/kubernetes-sigs/projects/11

[2021-06-28 19:53] chaodaiG opened #22720 "Gerrit `/retest` doesn't trigger prowjobs failed earlier than `max-prowjob-age`"
**What happened**:

In gerrit based prow, if a PR is created at time 0, it runs 2 jobs:

- jobA failed within 1 minute
- jobB failed after 25 hours

The prow sets `max_prowjob_age: 24h`, so by the time jobB failed, jobA was already deleted.

When a user comment `/retest`, it only triggered jobB and if jobB succeeded prow reports it passed

**What you expected to happen**:

`/retest` should not con

[2021-06-28 20:02] mrbobbytables opened #22721 "CLA Plugin: Add support for EasyCLA"
**What would you like to be added**:

Add support to the [CLA Plugin](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/cla/) for [EasyCLA](https://docs.linuxfoundation.org/lfx/v/v2/easycla).

ref: https://github.com/kubernetes/org/issues/2778

**Why is this needed**:
The LF plans to deprecate the current CLA service used by the project. They would like to migrate us off the old pl

[2021-06-28 21:23] YuviGold commented on #14226
/assign

[2021-06-28 22:54] BenTheElder commented on #22721
code: https://github.com/kubernetes/test-infra/tree/master/prow/plugins/cla

/help

[2021-06-28 23:38] brian-avery opened #22723 "Peribolos Fails if a member has manually removed themselves."
**What happened**:

If a member manually removes themselves from an organization managed by Peribolos without updating the Peribolos config, then the next time Peribolos is run, it fails to configure the user with an error similar to the following:

[code]

Peribolos doesn't give any other errors for this user and bails out of the script, stopping processing of teams and other organization configu