[2020-12-22 20:39] rikatz opened #20324 "Migrate sig-network jobs to podutils"
**What should be cleaned up or changed**: Change sig-network jobs to use podutils

**Provide any links for context**: https://gist.github.com/dims/c1296f8ed42238baea0a5fcae45f4cf4#file-notes-md

[2020-12-22 20:39] rikatz commented on #20324
/assign @rikatz
/kind cleanup

[2020-12-22 22:19] jayunit100 opened #20327 "get rid of redundant, different loadbalancer tagged test tags in networkpolicy tests"
we have some ugly use of redundant tags for skipping l7 and l4 loadbalancers in the sig-network-misc.yaml tests, due to the fact that kubernetes ingress tests and l7 tests are differently tagged... https://github.com/kubernetes/kubernetes/issues/97472 needs to be completed, and then, we can simplify the network-policy ginkgo.skip tags to be easier to read and more deterministic/less redundant.

id

[2020-12-23 05:14] Rajalakshmi-Girish opened #20335 "Test grid is showing Internal Error for ppc64le-conformance"
**What happened**: The test grid dashboard that displays results of ppc64le-conformance is showing Internal Error.
https://testgrid.k8s.io/sig-node-ppc64le#conformance

**What you expected to happen**:
The results should be updated with the latest data from GCS.
**_https://testgrid.k8s.io/sig-node-ppc64le#conformance&grid=old is showing the updated runs._**

**Please provide links to example occur

[2020-12-23 05:16] Rajalakshmi-Girish commented on #20335
![image](https://user-images.githubusercontent.com/63038004/102962127-235aa800-450c-11eb-86e4-ee5b62f2f605.png)

[2020-12-23 05:17] Rajalakshmi-Girish commented on #20335
@fejta Any pointers, please?

[2020-12-23 05:17] Rajalakshmi-Girish commented on #20335
@mkumatag ^^

[2020-12-23 07:39] fejta commented on #20335
The updater doesn't like this result and its empty junit artifact from Dec 18: https://prow.k8s.io/view/gcs/ppc64le-kubernetes/logs/periodic-kubernetes-conformance-test-ppc64le/1339908369233743872

[2020-12-23 08:04] fejta commented on #20335
I have a PR that fixes it. If you are available now and interested in reviewing it feel free to head on over and do so :) otherwise will try and get it reviewed tomorrow.

[2020-12-23 11:46] Rajalakshmi-Girish commented on #20335
Thanks for the quick fix! 👍

[2020-12-23 11:47] Rajalakshmi-Girish commented on #20335
I walked through the PR. It seems correct to me.

[2020-12-23 14:41] RobertKielty commented on #18599
Spoke with @spiffxp about this issue where I proposed writing a helper function to decouple selection of Kubernetes jobs from testing their policy conformance.

[2020-12-23 14:47] RobertKielty commented on #18599
/remove help

[2020-12-24 02:51] Rajalakshmi-Girish commented on #20335
@fejta Even the merge of the above PR doesn't seem to fix the internal error. The error still exists.

[2020-12-24 22:32] ajaygm commented on #18801
/assign

[2020-12-25 01:33] dims commented on #20335
@Rajalakshmi-Girish i think @fejta was talking about https://github.com/GoogleCloudPlatform/testgrid/pull/317 :)

[2020-12-25 03:37] fejta commented on #20335
That change has merged but it hasn't been deployed to production yet.

[2020-12-25 05:59] Rajalakshmi-Girish commented on #20335
I see the internal error gone and the latest results are displayed. Thanks @fejta
![image](https://user-images.githubusercontent.com/63038004/103121967-76676300-46a4-11eb-85e9-1ff988b4d458.png)

[2020-12-26 23:06] ChiefyG-Admin commented on #15675
sig-testing
kubernetes/test-infra fejta.
/lifecycle rotten

[2020-12-28 04:47] #20335 closed

[2020-12-28 06:37] #18546 closed

[2020-12-28 22:49] SergeyKanzhelev commented on #18972
/close

it was resolved with the #18974

[2020-12-28 22:49] #18972 closed

[2020-12-29 10:45] surendra080196 opened #20355 "Prow issue:"
Hi,
kubernetes showing this error after applying the this (sudo cp /etc/kubernetes/admin.conf ~/.kube/) command.

cp: cannot stat '/etc/kubernetes/admin.conf': No such file or directory
/shoutout

how to generate the admin.conf

please tell me.

Thankyou.

[2020-12-29 10:54] mrbobbytables commented on #20355
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-12-29 10:54] #20355 closed

[2020-12-29 18:15] #19732 closed

[2020-12-29 18:16] #20307 closed

[2020-12-29 18:17] MushuEE commented on #20034
This looks like it is now being consistently updated

[2020-12-29 18:18] MushuEE commented on #20034
/close

[2020-12-29 18:18] #20034 closed

[2020-12-29 22:30] adtac opened #20359 "HTTP perf-dash should redirect to HTTPS instead of returning 404"
**What happened**: http://perf-dash.k8s.io returns 404.

**What you expected to happen**: It should redirect to https://perf-dash.k8s.io instead.

**How to reproduce it (as minimally and precisely as possible)**: Go to http://perf-dash.k8s.io on your browser.

cc @mborsz

[2020-12-31 01:11] MushuEE opened #20363 "[Kettle] PubSub subscriptions are not filtered and it causes more overhead"
**What happened**:
Current Kettle PubSub subscriptions trigger on ALL gcs changes. This causes many more messages to be processed than needed. The filtering is a newer feature and can be added now.

**What you expected to happen**:
Only the `finished.json` object should trigger a pubsub message Pull.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to exam

[2020-12-31 01:11] MushuEE commented on #20363
/area kettle

[2021-01-01 05:10] #18109 closed

[2021-01-01 16:59] #18801 closed

[2021-01-04 15:56] brian-avery commented on #17056
/remove-lifecycle stale

[2021-01-05 02:24] vteratipally opened #20374 "failing containerd test"
**What happened**:
Test failing https://testgrid.k8s.io/sig-node-containerd#containerd-e2e-gci

**What you expected to happen**:

the test should run successfully, the issue is that the containerd package couldn't be downloaded.
error log
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-e2e-gci-gce/1344800943668989952/artifacts/bootstrap-e2e-master/containerd-installation.log

[2021-01-05 09:18] rahulbharuka opened #20377 "Support retrieving a directory in Prow's GitHub client"
**What would you like to be added**:
Add support to retrieve a directory in Prow's GitHub client.

**Why is this needed**:
Prow's Github client currently does not support retrieving a directory's content. Supporting it would unlock new use cases.
e.g. Searching a pattern within same directory files.

https://github.com/kubernetes/test-infra/blob/b3a0c9272beaa59d7ee00ef992383783fa0b40b2/prow/github

[2021-01-05 09:19] rahulbharuka commented on #20377
/assign rahulbharuka

[2021-01-06 12:15] #13413 closed

[2021-01-06 16:49] petr-muller commented on #14575
/remove-lifecycle rotten

[2021-01-06 19:02] BenTheElder commented on #20374
Please file these bugs against containerd or Kubernetes or whatever repo is under test unless you suspect a bug in the CI system, this repo is for the infrastructure itself.

It appears this is fixed.

[2021-01-06 19:02] #20374 closed

[2021-01-06 19:04] BenTheElder commented on #20359
perf-dash isn't hosted in this repo, it's hosted in https://github.com/kubernetes/k8s.io, you won't get good visibility for this here.

[2021-01-06 19:11] BenTheElder commented on #20359
https://github.com/kubernetes/k8s.io/search?q=perf-dash + https://github.com/kubernetes/perf-tests/tree/master/perfdash

since this is a bug in the source, filed against the latter

[2021-01-06 19:11] #20359 closed

[2021-01-06 19:38] BenTheElder commented on #19964
This doesn't appear to be an issue with prow, we don't provide support for Kubernetes or Calico in this repo, this repo is for the CI tooling.

[2021-01-06 19:38] #19964 closed

[2021-01-06 19:51] BenTheElder commented on #19902
This isn't *really* something this repo does, but I don't know where better to track it.

[2021-01-06 19:52] BenTheElder commented on #20063
Any updates?

[2021-01-06 19:53] BenTheElder commented on #20016
🛸 scanning for signs of life 🛸

[2021-01-06 19:55] hasheddan commented on #20063
I have not observed this failure in quite some time.

/close

[2021-01-06 19:56] #20063 closed

[2021-01-06 19:57] BenTheElder commented on #18789
still worth doing?

[2021-01-06 19:58] BenTheElder commented on #18943
/remove-lifecycle rotten
please fix this or remove the job, this is still true: https://github.com/kubernetes/test-infra/blob/94bde9b43d8af13762777ee060954f2a90ea1d5d/config/jobs/kubernetes/sig-windows/windows-gce.yaml#L472
@kubernetes/sig-windows-bugs

[2021-01-06 20:00] BenTheElder commented on #18729
/remove-lifecycle rotten

[2021-01-06 20:03] BenTheElder commented on #20321
This repo is the wrong place to ask for GCE networking help 🙃 , this seems like a bug for k/k or k/cloud-provider-gcp

[2021-01-06 20:04] yliaog commented on #18943
/cc @pjh @jeremyje

[2021-01-06 20:04] BenTheElder commented on #20285
@kubernetes/sig-windows-bugs

[2021-01-06 20:07] BenTheElder commented on #19416
The more general bug here is image pulling can flake. I don't think there's not much we can do in this repo. https://github.com/bazelbuild/rules_docker/issues/673

[2021-01-06 20:07] #19416 closed

[2021-01-06 20:09] BenTheElder commented on #19436
I thought we downloaded these into $ARTIFACTS?

[2021-01-06 20:10] BenTheElder commented on #19575
still TODO?

[2021-01-06 20:10] BenTheElder commented on #19414
🛸 scanning for signs of life 🛸

[2021-01-06 20:11] liggitt commented on #19575
yup - https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-auth/serviceaccount-admission-controller-migration-config.yaml

[2021-01-06 20:13] BenTheElder commented on #19979
Why does that cause errors in kettle? Jobs do sometimes continuously fail.

In this case it appears that some types need updating / manual library upgrades are necessary instead of automatic upgrades:

[2021-01-06 20:14] BenTheElder commented on #20024
Did we figure this out?

[2021-01-06 20:18] BenTheElder commented on #12296
I don't have a strong opinion on this but the errors in https://github.com/kubernetes/test-infra/pull/14548#issuecomment-755628839 seem dubious. This issue should be pretty straightforward if someone wants to do it, otherwise we should probably close it out.

[2021-01-06 20:18] #19407 closed

[2021-01-06 20:22] BenTheElder commented on #11402
2020 is over 🙃

[2021-01-06 20:23] BenTheElder commented on #3412
@MushuEE can you move your doc to markdown in the repo?

[2021-01-06 21:52] MushuEE commented on #3412
@BenTheElder Sure let me consolidate, where would the best home be for that doc?

[2021-01-06 21:56] #20236 closed

[2021-01-06 21:58] MushuEE commented on #20024
It has something to do with the size of the build_all, the root cause was not figured out. I migrated to a new 30 day table (really just a new `all` table that only goes back a month from creation). This fixed the issue but I imagine we will hit something again in 3 years. I think the real solution is rearchitecting Kettle to primarily use just Streams to BQ and once a week run a job that checks f

[2021-01-06 22:00] MushuEE commented on #19414
This will take a little digging, but I will circle back. I found this issue even internal.
/remove-lifecycle stale

[2021-01-06 22:02] MushuEE commented on #19979
IIRC it was creating empty `json` results and kettle was failing on parse attempts. That issue was fixed but the stuck pending I think is still an issue

[2021-01-07 15:18] mborsz opened #20403 "kubekins-e2e:v20201225-59e70a3-master used in test contains WIP code that is not submitted"
**What happened**:

When I was reading logs for https://prow.k8s.io/log?container=test&id=1347195315899338752&job=ci-kubernetes-e2e-gci-gce-scalability I noticed that it starts with:
[code]

Those lines are a part of https://github.com/kubernetes/test-infra/pull/20273 PR I was playing with last month. For some reason this has been included in kubekins-e2e image, without being submitted.

**What yo

[2021-01-07 15:28] mborsz commented on #20403
I triggered a build of `gcr.io/k8s-testimages/bootstrap:v20210107-d5c67a7c21` from master branch   (at d5c67a7c21 commit).

It has finished now:
[code]

Can you help me with releasing this?

[2021-01-07 21:32] spiffxp commented on #20259
https://testgrid.k8s.io/sig-testing-misc#triage has been green since it's got data to cluster again

https://github.com/kubernetes/test-infra/pull/20409 fixes the index out of range that was causing triage to fail with zero builds

[2021-01-07 21:32] spiffxp commented on #20259
/assign

[2021-01-07 21:32] spiffxp commented on #20259
/area triage
/sig testing

[2021-01-07 22:44] #20259 closed

[2021-01-07 22:46] spiffxp commented on #18653
/remove-lifecycle rotten

[2021-01-08 02:23] jayunit100 commented on #20321
/close

[2021-01-08 02:23] #20321 closed

[2021-01-08 08:05] mborsz commented on #20403
Or we can use 'gcr.io/k8s-testimages/bootstrap:v20210108-5927ee692c' which includes submitted #20276

[2021-01-08 13:26] matthyx commented on #14226
I am not familiar enough with web technologies to make that change...
/remove-lifecycle rotten
/help

[2021-01-08 13:29] matthyx commented on #18827
/remove-lifecycle rotten
/assign

[2021-01-08 13:31] matthyx commented on #9757
/remove-lifecycle stale

[2021-01-08 13:31] matthyx commented on #9126
/remove-lifecycle stale

[2021-01-08 16:19] spiffxp commented on #19073
There's been plenty of traffic by this point.  Flakiness (or at least the failure rate) has not increased.

Screenshot from local grafana instance pointed at k8s-gubernator:builds: the jump in daily 99p duration is when we switched, and failure rate has trended down since then
![Screen Shot 2021-01-08 at 11 15 02 AM](https://user-images.githubusercontent.com/49258/104037560-c2390280-51a2-11eb-8621

[2021-01-08 16:19] #19073 closed

[2021-01-08 16:23] spiffxp commented on #18550
Closed out the last remaining issue https://github.com/kubernetes/test-infra/issues/19073#issuecomment-756848275

All merge-blocking jobs run in k8s-infra-prow-build.  Last thing to do is switch job config tests to fail instead of warn to prevent future violations of this policy.

[2021-01-08 16:28] spiffxp commented on #18550
Opened https://github.com/kubernetes/test-infra/pull/20416 to switch job config tests

[2021-01-08 16:46] claudiubelu commented on #19436
FWIW, the post-kubernetes-push-e2e-test-images job has been split into multiple, smaller images (one per image), also increasing the images covered in the process.

Now, with these jobs, we don't seem to have the same issue of not having the image building logs. Here's an example: https://storage.googleapis.com/kubernetes-jenkins/logs/post-kubernetes-push-e2e-sample-apiserver-test-images/134114154

[2021-01-08 16:50] spiffxp commented on #18549
Current status...
[code]

We have "canary" versions of these jobs that run on k8s-infra-prow-build, and write to `gs://k8s-release-dev`.

However, there is much out there that depends on the existing jobs that write to `gs://kubernetes-release-dev` and `gcr.io/kubernetes-ci-images` (ref: https://github.com/kubernetes/test-infra/issues/19483#issuecomment-733277378).  I'm considering a KEP for depre

[2021-01-08 17:07] spiffxp commented on #19078
/close
It hasn't climbed to similar levels since august, going to defer investigating.

[2021-01-08 17:07] #19078 closed

[2021-01-08 17:08] spiffxp commented on #18842
/remove-lifecycle rotten

[2021-01-08 17:17] spiffxp commented on #18842
Another option (which has further reaching consequences) is to decide jobs should have branch name encoded in their name.

N distinct per-branch jobs sharing the same name is confusing when looking at presubmit health, e.g. did flakes get worse overall or did a specific branch have a regression?

That said the label feels like the cleaner abstraction (eg: display in deck, attached to metrics)

[2021-01-08 18:24] #18550 closed

[2021-01-08 21:36] spiffxp commented on #18601
/remove-lifecycle rotten

[2021-01-08 21:38] spiffxp commented on #18600
We still have egregiously perma-failing jobs.  For example, the top 3 from http://storage.googleapis.com/k8s-metrics/failures-latest.json
[code]

[2021-01-08 21:39] spiffxp commented on #18599
/remove-help

[2021-01-08 21:53] howardjohn opened #20421 "client-go and boskos imports lead to go.mod replace hacks"
**What should be cleaned up or changed**:

The go.mod file imports client-go@v11, but replaces it. The result is anyone importing k8s.io/test-infra needs to do the same - essentially we are polluting the downstream entire golang ecosystem, and propagating this `replace` requirement. In go 1.16, `go install` doesn't work if a go.mod has `replace` in it as well, making it even more annoying.

The fi

[2021-01-08 21:54] spiffxp commented on #3412
IMO it'd be worth putting in /docs...

- lots of existing content lives in /gubernator, which is deprecated
- don't like /prow because "bootstrap vs. pod-utils" is pretty k8s-specific at this point
- the format of data stored in bigquery is more relevant to dirs like /kettle, /metrics
- thus I think one common place to refer to in /docs makes most sense

[2021-01-08 21:58] howardjohn commented on #20421
test-infra depends on boskos only for `kubetest`. It seems there is a kubetest2 in its own repo, so one option is to move out kubetest, or remove it if its been replaced with kubetest2.

Boskos deps:
[code]
Seem more involved, but also mostly just smaller utilities that could probably be dropped with some investment

[2021-01-08 22:12] spiffxp commented on #19696
/close
All of the example dashboards now display results as expected.  Fixed by https://github.com/GoogleCloudPlatform/testgrid/pull/277

[2021-01-08 22:12] #19696 closed

[2021-01-08 22:20] spiffxp commented on #12296
/remove-lifecycle rotten
/milestone v1.21
Agree this should be straightforward

[2021-01-08 22:21] spiffxp commented on #6380
/remove-lifecycle stale
/milestone v1.21
Nope.  Fourth year's a charm.

[2021-01-08 22:31] spiffxp commented on #18729
related: https://github.com/kubernetes/test-infra/issues/6380 - document what the criteria are for merge-blocking

[2021-01-08 22:34] spiffxp commented on #18789
/remove-lifecycle rotten
I think so.  The other option is to continue as-is, meaning jobs that use this bucket need to switch to use k8s-release-pull as they migrate to k8s-infra.

[2021-01-08 22:44] fejta commented on #20403
These logs don't exist. Please provide a deck link and reopen.

[2021-01-08 22:44] #20403 closed

[2021-01-08 22:56] fejta commented on #20403
Also please note:

[code]

Finally the most recent versions of these jobs https://testgrid.k8s.io/google-gce#gce-cos-master-scalability-100 no longer use this commit:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1347598028030087168 shows `"infra-commit": "3c2c301ec",` (artifacts -> finished.json)

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/c

[2021-01-08 23:44] amwat commented on #18789
sadly looks like those gcs links have been gced.
seems like one of the steps involved as part of `--stage` is copying the artifacts from the bazel output path to the make output path `_output/gcs-stage` and then uploading them to gcs.

and our presubmit jobs are configured to `--extract=local` instead of `--extract=bazel` while using `--build=bazel`
so they were relying on them being in the make o

[2021-01-10 20:56] #17853 closed

[2021-01-10 23:48] abdennour commented on #10146
we love prow. But, we are using bitbucket cloud.
Any change ?

[2021-01-11 00:55] #18827 closed

[2021-01-11 06:35] matthyx commented on #19366
/remove-lifecycle stale
@e-blackwelder ping I think you can enable it now by default

[2021-01-11 06:37] matthyx commented on #19553
@alvaroaleman what's the status of this? Have you seen some 502s since?

[2021-01-11 07:56] mborsz commented on #20403
Thanks, it seems to be OK now.

We know that bootstrap.py is deprecated, the work I'm doing is to unblock migration out of bootstrap (see https://github.com/kubernetes/test-infra/issues/20275).

[2021-01-11 08:26] matthyx commented on #18985
/remove-lifecycle rotten
/assign

[2021-01-11 10:24] mm4tt opened #20436 "unknown: Service 'containerregistry.googleapis.com' is not enabled for consumer 'project:k8s-infra-e2e-boskos-scale-Xcd ..'."
This make all presubmit kubemark jobs (which are now optional, that's why we haven't caught it earlier) to fail

[2021-01-11 10:44] mm4tt commented on #20436
Example failure - https://github.com/kubernetes/kubernetes/pull/97858

We need to enable to containrrefistry api in the boskos scale projects

[2021-01-11 10:46] mm4tt commented on #20436
/assign @spiffxp

@spiffxp, how do we enable a new api for the project pool?

[2021-01-11 15:28] alvaroaleman commented on #19553
Hey, nope, hasn't happened anymore for us

[2021-01-11 17:07] chaodaiG opened #20439 "Prow prometheus ran out of disk space"
**What happened**:

Prometheus alert fired with error:
[code]
See https://kubernetes.slack.com/archives/C7J9RP96G/p1610377648195000

**What you expected to happen**:

Prometheus works without problem.

**Anything else we need to know?**:

It's expected to have two prometheus pods running, but one of them kept on crash looping:

[code]

Checking it's logs and got:

[code]

[2021-01-11 17:07] chaodaiG commented on #20439
/area prow

[2021-01-11 17:13] chaodaiG commented on #20439
/kind oncall-hotlist

[2021-01-11 17:34] chaodaiG commented on #20439
I believe that persistentvolumeclaim is full, which is set to 100G for now. Each prometheus pod uses a different volume so there is only one pod failing for now, I would expect the other one gets full soon too. Not sure whether to:

a). increase the volume at https://github.com/kubernetes/test-infra/blob/b7e2eb749180a93c56323a6971d3c2bbdefe7373/config/prow/cluster/monitoring/prow_prometheus.yaml#L

[2021-01-11 17:53] SergeyKanzhelev commented on #18570
/reopen
/remove-lifecycle rotten

[2021-01-11 18:15] bsdnet commented on #19902
The kernel configuration should be enabled in image

https://cloud.google.com/container-optimized-os/docs/release-notes#cos-dev-88-15978-0-0

[2021-01-11 18:17] cjwagner commented on #10146
@abdennour  No change, Alvaro's comment is still accurate. PRs are welcome if you'd like to contribute to this!

[2021-01-11 18:18] bsdnet commented on #19902
[code]

[2021-01-11 18:19] bsdnet commented on #19902
[code]

[2021-01-11 18:31] bsdnet commented on #19902
/close

[2021-01-11 18:31] #19902 closed

[2021-01-11 19:11] chewong opened #20443 "gcb-docker-gcloud: support docker-cli 20.10"
Is there any plan to support docker-cli 20.10 within gcb-docker-gcloud container?

[2021-01-11 20:46] knabben commented on #19384
/remove-lifecycle stale

[2021-01-11 20:48] knabben commented on #19384
https://docs.google.com/document/d/1KlnfvQ_OPkrty5DvKHmeEMTKMpaVK-ioHgDOpVFRrkA

After some conversation with Roy, I created a proposal for the sig-node rename here. The https://github.com/kubernetes/test-infra/pull/20351 is the first step here.

cc @BenTheElder @bsdnet

[2021-01-12 21:14] spiffxp commented on #14643
Current status:
- http://storage.googleapis.com/k8s-metrics/flakes-experiment-latest.json is results from the new query that uses data from pod-utils (or bootstrap)
- http://storage.googleapis.com/k8s-metrics/flakes-latest.json is results from the old query that uses data from bootstrap only

We haven't decided whether to swap out the old for the new:
- There are more jobs in the new set of result

[2021-01-12 21:15] spiffxp commented on #14643
/milestone v1.21

[2021-01-12 21:15] spiffxp commented on #20013
/milestone v1.21

[2021-01-12 21:45] chaodaiG commented on #20439
Reducing the prometheus retention didn't solve the problem, prometheus crashed with exactly the same error before it could prune. Read prometheus source code, and figured that the step failed is https://gitlab.cncf.ci/prometheus/prometheus/blob/v2.7.1/vendor/github.com/prometheus/tsdb/wal/wal.go#L116, which tries to do `last page of the wal is torn, filling it with zeros`, and failed because there

[2021-01-12 21:47] MushuEE opened #20455 "Kettle Metrics Enhancment"
**What would you like to be added**:
The current Kettle [Build Object](https://github.com/kubernetes/test-infra/blob/master/kettle/schema.json) is limited to parsing `started.json` and `finished.json`. However, there is quite a lot of additional data that could prove useful, especially given the ability to build DataStudio Dashboards (See #20067 ).

Some fields of note that could be useful from pa

[2021-01-12 23:03] bgilbert commented on #19499
Still happening.

/remove-lifecycle stale

[2021-01-12 23:18] MushuEE commented on #14643
Thanks @spiffxp, I have only done one juxtaposition of job results and had not seen that discrepancy in job data. I will try and look into this soon

[2021-01-13 00:17] chaodaiG commented on #20439
We finally unlocked this manually, by:
- Scale down prometheus replicas from 2 to 0 (So that no pod is associated with the volume).
- Create a snapshot of the jammed disk.
- Create a alpine pod mounting the disk.
- Delete old directories that's older than 90 days.
- Scale prometheus back up, and the prometheus started pruning.

[2021-01-13 00:20] chaodaiG commented on #20439
It's fixed

/close

[2021-01-13 00:20] #20439 closed

[2021-01-13 11:39] osela opened #20464 "prow's git client errors on conflict with deleted remote branch names"
Prow's git client (both v1 and v2) never cleans its remote refs list. When used in long-running processes (such as hook), it could fail to fetch a repository if a new branch name is in conflict with a remote branch that was previously deleted from github.

The flow in short:
1. A new branch `test` is fetched by hook's git client.
2. `test` is deleted from github.
3. Hook tries to fetch a new branc

[2021-01-13 12:50] matthyx commented on #19553
ok so maybe we can close?

[2021-01-13 14:15] alvaroaleman commented on #19553
/close

If someone else sees this happening again with a current version of Prow, feel free to re-open

[2021-01-13 14:15] #19553 closed

[2021-01-13 15:16] #20464 closed

[2021-01-13 18:58] cmluciano commented on #19160
/remove-lifecycle rotten

[2021-01-13 23:09] MushuEE commented on #14643
Here are the results I am seeing:
OLD QUERY TOP 10

|job | build_consistency | commit_consistency | flakes | runs | commits|
|--- | --- | --- | --- | --- | ---|
|pr:pull-kubernetes-e2e-gce-ubuntu-containerd | 0.943 | 0.934 | 26 | 491 | 395|
|ci-kubernetes-e2e-gce-multizone | 0.83 | 0.701 | 20 | 194 | 67|
|ci-kubernetes-e2e-gci-gce-ipvs | 0.628 | 0.746 | 16 | 137 | 63|
|ci-kubernetes-e2e-gci-gce-fl

[2021-01-14 10:33] hi-rustin commented on #19836
/close

[2021-01-14 10:34] #19836 closed

[2021-01-14 10:34] hi-rustin commented on #19836
/close

[2021-01-14 10:39] mm4tt commented on #20436
Hey, @spiffxp Aaron Crickenberger, have you had a chance to take a look?

[2021-01-14 13:49] matthyx commented on #19229
@elfinhe ping?

[2021-01-14 17:02] elfinhe commented on #19229
Thanks @matthyx, the prow config is internal and I am not allowed to copy the full text. Do you have some thoughts which field I should look at?

[2021-01-14 17:06] matthyx commented on #19229
Could you check if your code is like my attempt to reproduce, if not tell me how to change it:
https://github.com/kubernetes/test-infra/compare/master...matthyx:19229

[2021-01-14 17:38] spiffxp commented on #11402
Having trouble digging up credentials for k8s-github-robot, I'll ping back here when I have more info

[2021-01-14 19:48] spiffxp commented on #10065
I mentioned this during SIG chair/TL meeting today.  I see a lot of PR's that refresh OWNERS_ALIASES files in multiple repos to basically match GitHub Team membership.  Supporting GitHub Teams directly as another kind of alias would eliminate this need.

At this point it's safe to assume ghproxy's presence to mitigate rate limit issues, it's [part of the starter manifest now](https://github.com/ku

[2021-01-15 00:29] chizhg opened #20485 "Cannot filter out periodic Prow jobs for a given repo by using the deck dashboard"
**What happened**:
https://prow.k8s.io/?repo=kubernetes%2Ftest-infra&type=periodic will not filter out the periodic jobs run for k8s/test-infra repo, but there are jobs like https://prow.k8s.io/?type=periodic&job=ci-test-infra-prow-checkconfig

**What you expected to happen**:
It should be able to list the periodic jobs run for k8s/test-infra with the given filter

**Anything else we need to know?

[2021-01-15 12:44] #16589 closed

[2021-01-15 18:32] elfinhe commented on #19229
verified that this was a misconfig in our internal prow config generation. Sorry for creating this false alarm.

Thanks @matthyx for being on top of this issue.

[2021-01-15 18:32] #19229 closed

[2021-01-15 22:04] spiffxp commented on #20183
I'm not up to date on what privileges are assigned to k8s-artifacts-foo buckets, I'll take a look

[2021-01-15 22:05] spiffxp commented on #20183
/sig release
/area release-eng
FYI @kubernetes/release-engineering

[2021-01-15 22:58] MushuEE commented on #14643
/close

[2021-01-15 22:58] #14643 closed

[2021-01-15 23:01] MushuEE commented on #14643
#20500

[2021-01-16 07:02] #18867 closed

[2021-01-17 18:37] #18918 closed

[2021-01-18 16:13] #20485 closed

[2021-01-19 16:01] LappleApple commented on #19483
@cpanato @ameukam Hello both: Wondering what your suggested next step might be from a Release Engineering group perspective?

[2021-01-19 16:08] cpanato commented on #19483
I need to see what is the status of this item and maybe we can plan the next steps (@LappleApple)

@ameukam do you have any updates that you can provide to check where we are with this issue?

[2021-01-19 20:46] spiffxp commented on #18653
https://testgrid.k8s.io/sig-testing-canaries#bazel-build is now passing, not quite sure what next steps are

[2021-01-19 23:47] ehashman opened #20524 "Please add search functionality on testgrid for individual test names"
**What would you like to be added**:

Somewhat related to #14018, a thing I have struggled with is trying to locate the results of a particular test in testgrid. I often don't know what the job is, only the failing test name. I can sometimes find it via a go.k8s.io/triage search, but that only works if the test is failing; sometimes I just want the logs of a successful test run for investigation p

[2021-01-20 01:35] rahulbharuka commented on #20377
Closing the issue as the support is now added by PR #20461.

[2021-01-20 01:35] #20377 closed

[2021-01-20 12:51] #19401 closed

[2021-01-20 14:33] adisky commented on #18570
/assign

[2021-01-20 16:14] spiffxp commented on #18551
/remove-lifecycle rotten
/priority important-soon

[2021-01-20 18:40] detiber commented on #19630
/remove-lifecycle stale

[2021-01-20 19:24] hopkiw commented on #17747
/remove-lifecycle-stale

I think @fejta should own this bug, right?

[2021-01-20 19:31] alvaroaleman commented on #17747
/uncc
It wasn't clarified if there is actually a bug and my question didn't get answered, unsubscribing

[2021-01-20 19:41] ameukam commented on #19483
@LappleApple @cpanato The only update I'm aware is the switch to ` gcr.io/k8s-staging-ci-images` : https://github.com/kubernetes/kubernetes/pull/97087.
As suggested (https://github.com/kubernetes/test-infra/issues/19483#issuecomment-733277378) by spiffxp, the next step would be a KEP describing how we can migrate away from `kubernetes-release-dev` bucket.

[2021-01-20 20:53] jayunit100 opened #20542 "Clean up sig-windows-signal"
**What should be cleaned up or changed**:

[code]

Has ~ 8 tests that havent passed, in any recent history.

Lets remove the GCE tests from there, or else, see if folks from GCE wanted to fix them ?

**Provide any links for context**:

https://testgrid.k8s.io/sig-windows-releases

Our goal here is to have a canonical endpoint (https://testgrid.k8s.io/sig-windows-releases) where we can go as the wi

[2021-01-21 03:48] MushuEE commented on #20524
This might be best migrated to an issue in https://github.com/GoogleCloudPlatform/testgrid

Could you give me an example of a failing test that you would like to find? I am curious if I would be able to leverage our BigQuery table to reverse search for a job a test is associated with. If I can, I should be able to write a quick tool to perform the reverse search.

[2021-01-21 03:48] MushuEE commented on #20279
/close
This is being handled

[2021-01-21 03:49] #20279 closed

[2021-01-21 03:51] MushuEE commented on #20013
Done in #20522
/close

[2021-01-21 03:51] #20013 closed

[2021-01-21 05:58] Bobgy commented on #14343
Sent some PRs to start the migration, first step is making tests run properly on oss prow:
* https://github.com/GoogleCloudPlatform/oss-test-infra/pull/653
* https://github.com/GoogleCloudPlatform/oss-test-infra/pull/655
* https://github.com/GoogleCloudPlatform/oss-test-infra/pull/666
* https://github.com/GoogleCloudPlatform/oss-test-infra/pull/670
* https://github.com/GoogleCloudPlatform/oss-test

[2021-01-21 07:29] Bobgy commented on #14343
KFP frontend test working properly on oss-prow test infra!
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5019/kubeflow-pipeline-frontend-v2/1352152538098438144

[2021-01-21 07:30] Bobgy commented on #14343
Kicked off all other tests: https://oss-prow.knative.dev/?repo=kubeflow%2Fpipelines&pull=5019

[2021-01-21 11:24] adisky commented on #18570
I did some research on [sig-containerd-dashboard](https://testgrid.k8s.io/sig-node-containerd)
https://docs.google.com/spreadsheets/d/1mN1fG0dq6t7dZTzl-g9fFNwFqD8XdbbKlr5D3R7BRzc/edit?usp=sharing

AFAIK We have following types of periodic tests for containerd, please refer above sheet for exact test-grid-dashboard tab name.
- **Kubernetes E2E**
Test grid dashboard name: containerd-e2e-*
[code]
- *

[2021-01-21 11:27] adisky commented on #18570
based on the above analysis, following things we need to figure out

[2021-01-21 17:59] MushuEE commented on #19320
/remove-lifecycle rotten

[2021-01-21 18:01] spiffxp commented on #20524
/area testgrid
/assign @chases2 @michelle192837 @fejta
Yeah this is probably a testgrid-specific issue, but as grant said there may be something k8s-specific we can do sooner without testgrid

[2021-01-21 19:40] spiffxp commented on #18789
/milestone v1.21
/sig testing
/wg-k8s-infra

[2021-01-21 19:42] Rajalakshmi-Girish commented on #19082
Our Prow dashboard is displaying a few Periodic jobs in Pending state forever!
Such Pending rows are displayed once in a while and the successive build comes up in the span of close to 40min, well before the actual 3hr interval.
1. The successive build has the same ProwJob ID as the one that is stuck in Pending state.
2. The entry that is stuck in Pending state has no Pod mapped to it.
3.  The two

[2021-01-21 19:48] fejta commented on #20524
Take the deck link like https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ubuntu2-k8sbeta-slow/1352338019012579328/ and click on "testgrid", which will take you to https://testgrid.k8s.io/sig-release-generated#gce-ubuntu2-k8sbeta-slow

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-default/1352231310218760192 goes to https://testgrid

[2021-01-21 19:48] #20524 closed

[2021-01-21 21:16] ehashman commented on #20524
@fejta I don't think that addresses what I'm looking for: I want to be able to search in testgrid for a given test name, and find the jobs/grids it's part of. For example, I know I care about the results of the e2e test *"[k8s.io] [sig-node] Pods Extended [k8s.io] Pod Container Status should never report success for a pending container"*. I *could* search for it here: https://storage.googleapis.co

[2021-01-21 21:21] fejta commented on #20524
How do you know you care about "[k8s.io] [sig-node] Pods Extended [k8s.io] Pod Container Status should never report success for a pending container"?

Because you have a deck link:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=never%20report%20success%20for%20a%20pending%20container

Open any of the latest failure links:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs

[2021-01-21 21:29] fejta commented on #20524
The above is available now and mostly gets the job done. AKA this debugging use case is supported:

* I am root causing a bug about FOO failing that includes a link to an example failure. I want to get to the history of FOO from that failure.

On the other hand, testgrid is not optimized to answer the following type of question:
* I want to type FOO and find every possible prow job that runs a job

[2021-01-21 21:35] ehashman commented on #20524
Yes, I know it's not optimized for this... this is my feature request. It's fine to close this as WONTFIX, but I just want to make sure that we're clear on what I'm asking for :)

It is really hard to pull CI logs for *passing* tests and right now that is a thing that I need!

[2021-01-21 21:49] amwat commented on #18789
We have a succesful run at https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-no-stage/1352340847076577280

not sure why the total test duration is higher as compared to
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1351850610516824064

but we atleast saved 154 seconds of staging time and 1.1 (which should be the on

[2021-01-21 22:46] SergeyKanzhelev commented on #18570
cc: @dmcgowan

[2021-01-22 04:02] rahulbharuka opened #20567 "Support review-comment creation in Prow GHC"
**What would you like to be added**:
Add support for review-comment creation on a PR.

**Why is this needed**:
Prow GHC currently does not support review-comment creation. Supporting it would allow Prow plugins to add a review-comment on a specific line of a change file in the PR.

[2021-01-22 04:02] rahulbharuka commented on #20567
/label area/prow
/assign @rahulbharuka

[2021-01-22 04:03] rahulbharuka commented on #20567
/assign @rahulbharuka

[2021-01-22 04:06] rahulbharuka commented on #20567
/area prow

[2021-01-22 04:08] MushuEE opened #20568 "Build a UI for Metrics to make them more consumable"
**What would you like to be added**:
Currently our CI [Metrics](https://github.com/kubernetes/test-infra/tree/master/metrics)are reported as [flat Json](http://storage.googleapis.com/k8s-metrics/flakes-latest.json) and they are not the most nice to visually parse or consume. GCS will [host static web sites](https://cloud.google.com/storage/docs/hosting-static-website). It would be nice to create a

[2021-01-22 16:32] #18977 closed

[2021-01-22 19:49] pjh commented on #20542
Consistently failing tests that I see today under the GCE jobs at https://testgrid.k8s.io/sig-windows-releases:

Kubernetes e2e suite.[sig-network] Services should be able to change the type from ExternalName to ClusterIP [Conformance]
Kubernetes e2e suite.[sig-network] Services should be able to change the type from ExternalName to NodePort [Conformance]
Kubernetes e2e suite.[sig-network] Service

[2021-01-22 19:54] pjh commented on #20542
It looks like some "Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: windows-gcepd] ..." tests are mostly (but not entirely) failing, as also mentioned in Slack.

This test is also mostly-failing: [sig-cli] Kubectl client Guestbook application should create and stop a working application [Conformance]

[2021-01-22 21:39] #18985 closed

[2021-01-22 22:52] spiffxp commented on #19630
To repeat my review of https://github.com/kubernetes/k8s.io/pull/1016#pullrequestreview-566665404

/milestone v1.21
/priority important-soon
/assign @justinsb

[2021-01-22 23:02] spiffxp commented on #18789
/priority important-soon

[2021-01-24 21:07] chizhg commented on #19555
Hi @vicsufer , thanks for the investigations here! And sorry for the late response.

I did some test, it looks the reason for the difference between Knative and k8s Prow is Knative Prow is setting the size_limit as [500MB](https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/knative/config.yaml#L54), while k8s Prow is setting it as [100MB](https://github.com/kubernetes/test-infra

[2021-01-24 23:25] #13903 closed

[2021-01-25 09:08] Bobgy commented on #14343
The open PRs should be merged in order:
1. https://github.com/kubernetes/test-infra/pull/20555
2. https://github.com/kubernetes/test-infra/pull/20553
3. https://github.com/GoogleCloudPlatform/oss-test-infra/pull/676

[2021-01-25 10:36] #18929 closed

[2021-01-25 11:37] #18334 closed

[2021-01-25 11:37] #16458 closed

[2021-01-25 11:37] #17180 closed

[2021-01-25 12:13] petr-muller commented on #18190
/reopen
/remove-lifecycle rotten

We'll want this

[2021-01-25 12:38] #17815 closed

[2021-01-25 12:38] #18309 closed

[2021-01-25 12:38] #18669 closed

[2021-01-25 12:38] #15676 closed

[2021-01-25 12:38] #15779 closed

[2021-01-25 12:38] #17625 closed

[2021-01-25 12:39] #15806 closed

[2021-01-25 14:15] alvaroaleman commented on #16472
/reopen

On Mon, Jan 25, 2021 at 6:38 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2021-01-25 16:01] thejoycekung commented on #20285
Closing this because it's no longer happening

[2021-01-25 16:01] #20285 closed

[2021-01-25 18:25] chaodaiG commented on #14343
I think https://github.com/kubernetes/test-infra/pull/20591 needs to happen before 2. #20553

[2021-01-25 18:34] adisky commented on #18570
As discussed in SIG-node CI weekly meeting,

Action Items:

- [ ] Start moving containerd jobs to sig-node-critical tab
- [ ] Need to find any policy documented by kubernetes for containerd support versions, if not we need to define them.
- [ ] Define what jobs containerd owns/ what jobs k8s team owns
- [ ] Check for containerd build job removal.

[2021-01-25 19:18] chaodaiG opened #20595 "Prow: malformed prowjob should have been GCed"
**What happened**:

A malformed prowjob that would have never been scheduled a pod due to a typo in `cluster` field, has been hanging around for more than 4 days, and prow-controller-manager keeps on reporting errors on this prowjob.

**What you expected to happen**:

The prowjob should have been GCed earlier, maybe the same as max pod age (48 hours)?

**How to reproduce it (as minimally and preci

[2021-01-25 19:18] chaodaiG commented on #20595
/area prow

[2021-01-25 19:20] chaodaiG commented on #20595
An initial thought, as discussed with @cjwagner , is that sinker can delete prowjob whose age is over the max prowjob age. Quoted from offline discussion:

[code]

[2021-01-25 21:14] spiffxp opened #20599 "k8s-gubernator:build dataset is stale"
**What happened**:
https://testgrid.k8s.io/sig-testing-misc#metrics-kettle&width=20 - fails if k8s-gubernator:build.all is more than 6 hours stale, sends email to kubernetes-sig-testing+alerts@

Most recent failure https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/metrics-kettle/1353794161165209600
[code]

**What you expected to happen**:
Kettle should be keeping these up to date

**How to repr

[2021-01-25 22:06] chaodaiG commented on #20595
CC @cjwagner @alvaroaleman

[2021-01-25 22:16] alvaroaleman commented on #20595
I would argue this is working as intended. Maybe it is not a typo and someone is planning on adding that cluster? Prow can't know and should IMHO not make assumptions

[2021-01-25 22:24] chaodaiG commented on #20595
Agree that prow shouldn't make assumptions. This behavior of a prowjob hanging for more than 4 days, however, is concerning. I still think it should be GCed automatically instead of prow operator manually remove them.

[2021-01-25 22:48] spiffxp commented on #18808
/remove-lifecycle stale
I'm willing to say this is less of an issue given the fact that recent builds consistently take < 80min, well under the raised-as-workaround 240min.  But this still remains an issue

https://testgrid.k8s.io/sig-release-master-blocking#build-master&width=5&graph-metrics=test-duration-minutes

[2021-01-25 22:49] alvaroaleman commented on #20595
Well, Sinker will eventually do that.

We could probably fix this TODO to make it spam the log less: https://github.com/kubernetes/test-infra/blob/e3a8e137c7b928824d358ee55be35806f7aaa8fa/prow/plank/reconciler.go#L552-L553

[2021-01-25 22:58] chaodaiG commented on #20595
Agreed that fixing this TODO will do, so I'm onboard with it. @cjwagner what do you think?

[2021-01-25 23:07] spiffxp commented on #19483
IMO next steps are:
- migrate job configs to use community-owned artifacts: this would close out https://github.com/kubernetes/k8s.io/issues/846#issuecomment-765714845 along the way, I would approach this by doing https://github.com/kubernetes/test-infra/issues/19483#issuecomment-731388147 and https://github.com/kubernetes/test-infra/issues/19483#issuecomment-731390467
- deprecate all further use

[2021-01-26 02:07] fejta commented on #17747
This is not a prow bug.

This organization has configured the `default_repository_permission` for members as `none` rather than the default default of `read`.

In order for prow to assign someone, they need to be a repo collaborator and have at least read access.

https://docs.github.com/en/rest/reference/orgs#update-an-organization

[2021-01-26 02:07] #17747 closed

[2021-01-26 02:52] #18856 closed

[2021-01-26 04:42] Rajalakshmi-Girish commented on #19082
https://github.com/ppc64le-cloud/test-infra/pull/111

[2021-01-26 05:25] MushuEE commented on #20599
[code]

[2021-01-26 05:32] MushuEE opened #20606 "Kettle seeing "Bad Request" in BQ insert"
**What happened**:
Kettle staging is seeing `Bad Requests` when trying to stream data to BQ, this is not the behavior seen within Prod.

[code]
**What you expected to happen**:
BQ inserts pass or don't occur at all if data is malformed.

**How to reproduce it (as minimally and precisely as possible)**:
Run the stream.py from the staging ENV

**Please provide links to example occurrences, if any**:

[2021-01-26 05:33] MushuEE commented on #19082
I have seen this behavior before, @cjwagner I seem to remember you providing and explanation.

[2021-01-26 05:35] MushuEE commented on #20363
Not possible to filter on Suffix currently

[2021-01-26 05:35] #20363 closed

[2021-01-26 08:36] BenTheElder commented on #20443
I would imagine the intent should be to match whatever server version GCB is shipping. This image is also not with a current owner I think hhttps://github.com/kubernetes/test-infra/commits/master/images/gcb-docker-gcloud

[2021-01-26 09:57] Bobgy commented on #14343
Tests are up and running in kubeflow/pipelines repo!

We'll pause for a while, waiting for resolution of #20607.

[2021-01-26 17:18] MushuEE commented on #20599
[code]
performed restart cycle, will need to monitor. Python might not be the best for this job.

Tables are updating and will monitor for a while before closing

[2021-01-26 17:31] cpanato commented on #3392
this is something we still want to do?
@BenTheElder @spiffxp

[2021-01-26 17:32] neolit123 commented on #20542
fix for `kubeadm-windows-gcp-k8s-stable` is here:
https://github.com/kubernetes-sigs/sig-windows-tools/pull/140

[2021-01-26 17:32] MushuEE commented on #20599
Seeing pinning again:
[code]
[code]

[2021-01-26 17:51] claudiubelu commented on #20542
Note that those 3 tests are passing on ``aks-engine-azure-1-18-windows`` and even on ``gce-windows-1909-1.19``. They are supposed to work. I would assume some DNS misconfiguration is on the gce 1.18 runs.

[2021-01-26 18:59] hopkiw commented on #17747
thanks for explaining @fejta

[2021-01-26 19:00] #20170 closed

[2021-01-26 19:02] cjwagner commented on #19082
@Rajalakshmi-Girish That sounds like the pod was replaced like I described in https://github.com/kubernetes/test-infra/issues/19082#issuecomment-685227399. I'd inspect the component logs and see if it seems like the same problem, then go from there. In particular, the logs I shared suggest that sinker deleted a pod due to incorrectly identifying it as orphaned.
Please also ensure your Prow instanc

[2021-01-26 19:03] BenTheElder commented on #3392
IMHO both versions are under test and I think it's debateable which is primary.
I think both versions should be inspected if we're looking at either of them.
@amwat is mostly maintaining kubetest now, in bug-fix mode while we roll out kubetest2.

[2021-01-26 19:47] fejta commented on #17747
Liam, btw in this particular issue it seems like the best way to address it is to make sure whoever you want to assign is part of a github group that is a member of the oss-test-infra repo. The [googlers](https://github.com/orgs/GoogleCloudPlatform/teams/googlers) group has read access to oss-test-infra so if the people make sure they are a member of that group, prow will be able to assign as expe

[2021-01-26 22:37] cjwagner commented on #20595
@alvaroaleman That doesn't seem to be the case. The PJ was older than the max PJ age and sinker didn't GC it. That does not seem to be WAI to me, why would we allow PJs to persist beyond the max PJ age in this scenario?

[2021-01-26 22:41] alvaroaleman commented on #20595
Ah, that wasn't clear from the description. That is a bug in sinker then.

[2021-01-26 22:43] chaodaiG commented on #20595
My bad, should have put this in bug body instead of the first comment

[2021-01-26 23:18] spiffxp commented on #18789
/assign @amwat @spiffxp
Assigning to us for now.  If we think this is eligible for /help or don't have time to do it ourselves we can writeup how to proceed

[2021-01-27 00:09] chases2 commented on #19264
I went through the files in the prow dir and renamed the easier ones. I managed to remove all of the instances of "whitelist", but "blacklist" has two configurations that would need to be deprecated:

- [ ] `OwnersDirBlackList`, in the Prow config
- [ ] `LabelsBlacklist`, in the Prow plugins config

Also notable:
- The file ANNOUNCEMENTS.md contains deprecation announcements, which shouldn't be ch

[2021-01-27 03:54] amwat commented on #18789
(either way) **Next steps:**
All jobs in question:
https://cs.k8s.io/?q=kubernetes-release-pull&i=nope&files=&repos= i.e. those with `--stage=gs://kubernetes-release-pull.*`

affected jobs: those with `--provider=gce` `--extract=local` `--build=bazel`
should be fixed to have `--extract=bazel` and no `--stage`

short of having a canary job for every affected job
a reasonable, while having less disr

[2021-01-27 07:11] agvaliente opened #20621 "LDAP Authentication for Kubernetes Cluster"
Hello

I have a kubernetes cluster on bare metal, and I need integrate the authentication with the LDAP server.

Please, I need help to identify the steps to the implementation.

Best regards.

[2021-01-27 08:08] agvaliente opened #20622 "Request to close issue"
Hello

I opened an issue #98448 and with the first reply the issue was closed.

How could I open and request this issue ?

Best regards.

[2021-01-27 09:04] adisky commented on #18570
can someone from containerd give their inputs here? do we need to keep containerd periodic build jobs? https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-node/containerd.yaml#L42-L99

Also on what combination of k8s and containerd version we should run tests(K8s e2e, node conformance, node features)?

cc @dmcgowan @mikebrow

[2021-01-27 15:09] slinkydeveloper commented on #19583
/unassign

I think we solved the dependency cycle from the knative side, somebody can confirm?

[2021-01-27 15:26] alvaroaleman commented on #19583
@slinkydeveloper how was it solved on knative side?

[2021-01-27 16:16] slinkydeveloper commented on #19583
pkg doesn't depend on test-infra anymore

[2021-01-27 16:19] alvaroaleman commented on #19583
Ok, I can not verify that for you but I have no reason not to believe that. This doesn't actually fix the issue as titled, but seems it obsoletes it, I'll close it anyways (feel free to reopen if you disagree).

/close

[2021-01-27 16:20] #19583 closed, assigned to nobody

[2021-01-27 18:48] cjwagner opened #20627 "Prow's unit tests assume `master` as the default branch which is not true for newer versions of git."
**What happened**:
Newer versions of `git` default to naming the initial branch `main` rather than `master`.
Prow unit tests make assumptions about the default branch name so most unit tests involving git result in errors like the following:
- `Error checking out master: /usr/bin/git [checkout master]: exit status 1, error: pathspec 'master' did not match any file(s) known to git`
- `failed to get

[2021-01-27 18:49] chaodaiG opened #20628 "RBE bazel jobs are timing out"
**What happened**:

There are several prow jobs started failing timing out after 2 hours, inspecting the logs and they were hanging at bazel test phase.

https://testgrid.k8s.io/sig-release-master-blocking#bazel-build-master
https://prow.k8s.io/?repo=kubernetes%2Ftest-infra&job=pull-test-infra-integration
https://prow.k8s.io/?repo=kubernetes%2Ftest-infra&job=pull-test-infra-bazel

One noticeable c

[2021-01-27 18:50] chaodaiG commented on #20628
CC @fejta

[2021-01-27 19:38] abitrolly opened #20629 "Repurpose fejta-bot + k8s-ci-robot to ping-bot"
**What should be cleaned up or changed**:

The lifecycle messages for non-solved issues are getting annoying. The message below has erupted from this thread https://github.com/kubernetes/kubernetes/issues/54923#issuecomment-768471985

Is there a way around this eternal back-and-forth?

A solution to reduce the noise was to implement a ping instead of auto-close.

An even better solution could be t

[2021-01-27 20:33] fejta commented on #20628
Lots of CI uses bazel, and bazel almost always uses RBE.

[2021-01-27 21:21] cjwagner commented on #20628
Some more ongoing examples:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/20619/pull-test-infra-bazel/1354526643548327936
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/20619/pull-test-infra-integration/1354526643657379840

[2021-01-27 21:37] chaodaiG commented on #20628
Not using RBE in https://github.com/kubernetes/test-infra/pull/20626 can make `pull-test-infra-integration` job [pass](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/20626/pull-test-infra-integration/1354541217169281024), while the same job is now consistently timing out in other PRs https://prow.k8s.io/?repo=kubernetes%2Ftest-infra&job=pull-test-infra-integration

[2021-01-27 23:31] chaodaiG opened #20631 "Consider supporting `ExcludedRepos` for plugins"
**What would you like to be added**:

Support `ExcludedRepos` like https://github.com/kubernetes/test-infra/blob/7e74b33534f950170801fb3ce015c1e96c975471/config/prow/config.yaml#L488.

Currently we can only do:

[code]

**Why is this needed**:

Would be good if we can do:

[code]

This would be especially helpful in scenarios where a large org want to exclude one or two repos from prow without dup

[2021-01-27 23:31] chaodaiG commented on #20631
/area prow

[2021-01-28 00:00] alvaroaleman commented on #20622
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2021-01-28 00:01] #20622 closed

[2021-01-28 00:01] alvaroaleman commented on #20621
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2021-01-28 00:01] #20621 closed

[2021-01-28 02:43] CecileRobertMichon commented on #20628
running into this in #20630

[2021-01-28 03:59] immanuelfodor commented on #20629
"totally agree" quote guy here, thanks for opening a separate issue for this 😃

[2021-01-28 17:05] alvaroaleman commented on #20628
This appears to block all merges into this repo, last merge was 9 hours ego and there is a bunch of merge-eligible PRs stuck in retesting: https://github.com/kubernetes/test-infra/pulls?q=is%3Apr+is%3Aopen+label%3Aapproved+label%3Algtm+-label%3A%22do-not-merge%2Fhold%22

[2021-01-28 17:23] spiffxp commented on #18653
Next steps are:
- decide whether we care about writing to kubernetes-release-dev and kubernetes-ci-images
- if we do, we'll have to make a new copy writing to k8s-release-dev, and keep the current job around (same issue as ci-kubernetes-build jobs)
- if we don't, migrate to writing to k8s-release-dev

[2021-01-28 17:24] spiffxp commented on #18653
/unassign

[2021-01-28 17:27] spiffxp commented on #19642
/remove-lifecycle stale
Since we may care more about status-reconciler issues in the context of renaming jobs to follow github branch renames (ref: https://github.com/kubernetes/org/issues/2222#issuecomment-769195281)

[2021-01-28 17:31] justaugustus commented on #20628
FYI @kubernetes/release-engineering

[2021-01-28 17:48] chaodaiG commented on #20628
Current hypothesis is different bazel versions in k8s/test-infra and k8s/kubernetes caused confusion to RBE, and #20632 is an attempt to fix

[2021-01-28 19:06] alvaroaleman commented on #20595
/reopen
Presumably the "job with invalid cluster doesn't get GCd" issue still exists

[2021-01-28 19:34] chaodaiG commented on #20628
Seeing tests reliably going through now:
https://prow.k8s.io/?repo=kubernetes%2Ftest-infra&job=pull-test-infra-integration
https://prow.k8s.io/?repo=kubernetes%2Ftest-infra&job=pull-test-infra-bazel

[2021-01-28 19:59] spiffxp commented on #3392
I don't have bandwidth for this, if nobody else does I guess we can let it age out.

This sort of thing remains something the release-team has the power to change if they want, see https://github.com/kubernetes/test-infra/blob/master/testgrid/config.md#column-headers for how to specify what data should appear in what column

It just requires the time to figure out how to get the versions you want,

[2021-01-28 20:08] spiffxp opened #20650 "Infra-Commit testgrid column missing for pod-utils jobs"
**What happened**:
Compare https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only (pod-utils) to https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master (bootstrap)

The lowest column (Infra-Commit) for the pod-utils job has the value `missing` for all runs, whereas the bootstrap job has the sha of test-infra code being exercised.

**What you expecte

[2021-01-28 20:08] spiffxp commented on #3392
I opened https://github.com/kubernetes/test-infra/issues/20650 for another testgrid columne hygiene thing I think the community could help with

[2021-01-28 20:31] spiffxp commented on #20627
/sig testing
/area prow

/wg naming

[2021-01-28 20:56] MushuEE commented on #20606
Seeing in Prod as well. Need to cover this issue ASAP.

[2021-01-28 22:04] spiffxp opened #20652 "Mitigate image-pushing jobs hitting GetRequestsPerMinutePerProject quota for prow build cluster project"
**What happened**:
Context: https://github.com/kubernetes/k8s.io/issues/1576#issuecomment-767691409

As the volume of image-pushing jobs running on the prow build cluster in k8s-infra-prow-build-trusted has grown, we're starting to bump into a GCB service quota (GetRequestsPerMinutePerProject) for the project.  This isn't something we can request to raise like other quota (e.g. max gcp instances p

[2021-01-28 22:27] spiffxp commented on #20650
FYI @kubernetes/ci-signal @MushuEE

[2021-01-28 22:36] spiffxp commented on #10402
/remove-lifecycle stale
/lifecycle frozen

[2021-01-28 22:39] spiffxp commented on #10402
https://github.com/kubernetes/test-infra/pull/17142 looks like a good start

[2021-01-29 01:41] spiffxp commented on #20599
/area triage
I checked in on https://go.k8s.io/triage just now (was trying to figure out if integration flake is hitting me or more PR's) and saw this
![Screen Shot 2021-01-28 at 8 40 45 PM](https://user-images.githubusercontent.com/49258/106220260-1a16c800-61a9-11eb-87a8-8c54d8403a57.png)

[2021-01-29 02:02] #18480 closed

[2021-01-29 08:36] JornShen opened #20659 "GCE jobs should store coredns logs"
**What happened**:

In some failed task of network, they refer to dns effective.  like some case about externalName type service.
But we can't see any logs about dns in prow.k8s.io artifacts. This will block us to locate the problems sometimes.

jobs like

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1350010433976668160

**What you expected to happen**:

we can se

[2021-01-29 08:36] JornShen commented on #20659
ping @aojea

[2021-01-29 08:39] aojea commented on #20659
@BenTheElder @spiffxp can you tell us if:

1. is ok to implement it
2. give us some guidance to where this has to be implemented, I think it should be in k/k/hack, but I´m not sure

[2021-01-29 08:52] BenTheElder commented on #20659
I could've sworn we dumped all pod-logs ...

https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/log-dump.sh <-- most likely starting somewhere from this script.

[2021-01-29 09:33] aojea commented on #20659
/assign @JornShen
:)

[2021-01-29 09:37] BenTheElder commented on #20659
SIG scalability will probably have thoughts on the implications of changing log dumping, I forget if this script is still used in scale jobs. cc @wojtek-t

[2021-01-29 14:23] dguendisch opened #20662 "How to interpret testgrid overall build failure"
**What happened**:
[Gardener](https://github.com/gardener/gardener) reports conformance tests (and others) since some years into testgrid for various cloudproviders and various k8s versions.
We noticed recently that while all single tests are green, the overall test result in testgrid is marked as `Failed` (since a few days or weeks), see e.g. https://testgrid.k8s.io/conformance-gardener#Gardener,

[2021-01-29 14:39] alvaroaleman commented on #19986
Resolved via https://github.com/kubernetes/test-infra/pull/20482
/close

[2021-01-29 14:40] #19986 closed

[2021-01-29 15:18] chaodaiG commented on #20628
The root cause of this problem was still not very clear, but according to RBE team it's possible that one of their dependencies had a bad release which was mitigated yesterday.

Checked again and all affected tests are passing now, so closing this bug.

/close

[2021-01-29 15:18] #20628 closed

[2021-01-29 18:38] spiffxp opened #20667 "Allow pod-utils / clonerefs to use default remote branch"
My read of current pod-utils code is that it assumes `base_ref` to always be present / non-empty (ref: https://github.com/kubernetes/test-infra/pull/20665#issuecomment-769961333)

It looks like there are 435 jobs that explicitly reference `master`, when what they likely mean is "just use whatever the default remote branch is"
[code]

Ideally base_ref would be auto-populated with the remote default

[2021-01-29 18:39] spiffxp commented on #20667
/sig testing

[2021-01-29 18:39] MushuEE commented on #20599
I saw this also, I have been trying to recover kettle. Very difficult to debug this behavior.

[2021-01-29 19:10] alvaroaleman commented on #20667
Yeah, that is correct (for periodics, for presubmits/possubmits we get the info from github)

I am pretty sure this does not happen. Adding this would be pretty easy from a complexity POV, as the `default_branch` is part of the repo. It will drive up token usage a bit though (and I think it won't cache _that_ well, as the repo contains a lot of info that will regularly change, like `pushed_at: tim

[2021-01-29 19:23] MushuEE commented on #20599
Trialing a fix for atleast the streaming failure now in staging

[2021-01-29 20:47] justaugustus opened #20670 "ci-kubernetes-build-canary jobs are failing to be scheduled"
**What happened**:

The last six runs of `ci-kubernetes-build-canary` have had scheduling issues.
(Some of these are triggered reruns.)

**What you expected to happen**:

Successful scheduling on a Prow node 🙃

**How to reproduce it (as minimally and precisely as possible)**:

Reproduces on any current run of the job.

**Please provide links to example occurrences, if any**:

Job: https://prow.k8s

[2021-01-29 20:55] justaugustus commented on #20670
Slack thread in #testing-ops: https://kubernetes.slack.com/archives/C7J9RP96G/p1611953363009500

[2021-01-29 21:37] chaodaiG commented on #20670
Latest [succeeded run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-canary/1355184971978903552) is configured at [9f603e50-624b-11eb-bd55-a20b0ecfb997](https://prow.k8s.io/prowjob?prowjob=9f603e50-624b-11eb-bd55-a20b0ecfb997)

First [failed run](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build-canary/1355200313836965888) is configured at [2395e2c8

[2021-01-29 21:39] chaodaiG commented on #20670
To make it more clear, the difference in the prowjobs resulted requested cpu from 7.3 to 7.7, and probably not related to memory

[2021-01-29 21:45] spiffxp commented on #20667
If we're concerned about token usage, we could try doing this directly in clone by using the contents of  `.git/refs/remotes/origin/HEAD` if `base_ref` is empty.  I dunno if that makes the API feel too weird though (technically it does `omitempty` as-is)

[2021-01-29 22:08] spiffxp commented on #20667
/area jobs
since this would be a job config change too

[2021-01-29 22:10] spiffxp commented on #20667
/wg naming
since this is in support of https://github.com/kubernetes/org/issues/2222

[2021-01-29 22:10] spiffxp opened #20672 "Allow bootstrap to use default remote branch"
I'm on the fence about whether we should do this, since we consider bootstrap to be migrated.

Many bootstrap jobs use `--repo=org_name/repo_name=master`  when what they really mean is "use the remote's default branch"
[code]

Unfortunately `--repo=org_name/repo_name` will default to `master` rather than detecting the default branch
[code]

We need to either:
- solve for pod-utils (ref: https://gi

[2021-01-29 22:33] spiffxp commented on #20670
Thanks @chaodaiG that is most likely the problem.

A job trying to schedule all available CPU as a proxy for hogging a node all to itself is a risky strategy for this reason.  The k8s-infra-prow-build nodes have (among other daemonsets) calico running on them for network policy enforcement, meaning they have slightly more overhead / less allocatable cpu than the google.com default nodes.

/area jo

[2021-01-29 22:41] BenTheElder commented on #20670
I/etcd just need those sweet sweet IOPs 🦆 , someday we'll have scheduling for this ...

[2021-01-29 22:46] justaugustus commented on #20670
Thanks everyone for taking a peek.
Opened https://github.com/kubernetes/test-infra/pull/20674.

[2021-01-29 22:55] #20670 closed

[2021-01-29 23:06] spiffxp commented on #20670
If we can make progress on moving k8s-infra-prow-build up to 1.18 we can try out nodepools with local-ssd, waaaaaay more iops https://github.com/kubernetes/k8s.io/issues/1187#issuecomment-763762981

[2021-01-30 18:49] sftim commented on #18117
Another example of an issue where Prow-facilitated moves could be useful: https://github.com/kubernetes/kubernetes/issues/98368

/remove-lifecycle rotten

[2021-01-30 22:46] #17024 closed

[2021-01-31 11:49] houfangdong opened #20681 "Prow issue:[kubernetes/release]pull-release-verify failed"
I submitted a PR:[debian-base](https://github.com/kubernetes/release/pull/1880), but the error shows that it seems to be caused by a network problem, please have a look. The PR link is:
[pull-release-verify](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/release/1880/pull-release-verify/1355840123509411840)
Please help me, thanks
/sig testing
/area prow
@krzyzacy
@BenTheElder

[2021-01-31 12:42] houfangdong commented on #20681
Check the log for ./hack/verify-go-mod.sh update failed，具体失败命令为：
![image](https://user-images.githubusercontent.com/60801291/106384259-d0c2b480-6404-11eb-9e1a-10331b90a8d7.png)

[2021-01-31 19:26] midnightconman commented on #16983
I know it's not good form to comment on closed issues, but it makes more sense to try and reopen this then try and start a new issue.

Now that github enterprise 3.0 is in RC, github actions and packages will be coming to GHE soon. As such, we will be looking at leveraging github actions were we can. Using prow internally, this means we are interested in how prow can interact with github actions..

[2021-02-01 05:14] MushuEE commented on #20599
Migrating to #20024 for commentary on progress.

[2021-02-01 05:17] MushuEE commented on #20024
Current command that is hanging `pypy3 make_sjon.py --days 7`

[2021-02-01 05:22] MushuEE commented on #20024
This command is running a `json.dump()` to std.out. This seems to frequently hang and pick up when run manually. I am not sure if this is a process restraint or a RAM issue.

[2021-02-01 05:47] MushuEE commented on #20024
I have a feeling the offending lines are:
https://github.com/kubernetes/test-infra/blob/a404539b5614e84acef0f59a52908e450e47d87c/kettle/make_json.py#L314-L317
where we are printing a TON of json to STDOUT piping to `pv` into `gzip` It looks to lock up after a LOT of output.

[2021-02-01 05:56] srajmane commented on #20178
@dougsland-bot Yes, facing the same issue.

[2021-02-01 06:33] MushuEE commented on #20024
I think I will try something like this to avoid the STDOUT issues
https://stackoverflow.com/questions/49534901/is-there-a-way-to-use-json-dump-with-gzip

[2021-02-01 06:56] houfangdong commented on #20681
The problem has been solved, see [#1885](https://github.com/kubernetes/release/pull/1885) for details, please close this problem.thanks
/sig testing
/area prow

[2021-02-01 07:06] BenTheElder commented on #20681
/close
(You can do this yourself)
If a test fails once please try /retest

[2021-02-01 07:06] #20681 closed

[2021-02-01 08:03] houfangdong commented on #20681
@BenTheElder
Ok i see, thanks.

[2021-02-01 08:03] houfangdong commented on #20681
@BenTheElder
Ok i see, thanks

[2021-02-01 11:48] matthyx commented on #16472
@alvaroaleman can I help here?

[2021-02-01 11:50] matthyx commented on #19456
/remove-lifecycle stale
/assign

[2021-02-01 11:52] matthyx commented on #20631
@chaodaiG do you mind if I work on this?

[2021-02-01 12:30] matthyx commented on #19456
@raghuP9 how do you see this working?
Should I blindly accept and merge all args provided after `myJob` to the ProwJob spec?
Maybe some sort of **safelist** and **blocklist** to give more flexibility to prow admins?

[2021-02-01 14:12] alvaroaleman commented on #16472
@matthyx yeah, sure. So the basic objective is that tide must set its status to `success` before merging. Additionally to not waste api tokens, the tide status controller should not do that a second time (ideally it will just ignore everything that merged).  For the status controller part it might be that there is nothing to do for that already, but not sure off of the top of my head.

[2021-02-01 14:26] alvaroaleman commented on #20178
/assign @fejta

There is a repro in https://github.com/kubernetes/test-infra/issues/20178#issuecomment-744479953, I don't know enough about bazel to tell if this is supposed to work or not.

[2021-02-01 14:28] chaodaiG commented on #20631
@mattcary , that would be great, thank you!

[2021-02-01 16:23] matthyx commented on #20631
/assign

[2021-02-01 17:34] spiffxp commented on #18117
/sig contributor-experience
/assign @rikatz
mentioned a proposal to write such a plugin in #sig-contribex https://kubernetes.slack.com/archives/C1TU9EB9S/p1611252110007400

proposal: https://docs.google.com/document/d/1uqKI5QEAh2fnq7LRRz-2Mhf-jInIpuiAUnPow36jCVU/edit?usp=sharing

[2021-02-01 17:36] rikatz commented on #18117
Thanks Aaron

/assign @dougsland (Doug is going to work on this with me)

[2021-02-01 17:36] rikatz commented on #18117
/assign @dougsland

[2021-02-01 18:24] chaodaiG opened #20691 "Branchprotector should support single repo with different settings"
**What would you like to be added**:

[Branchprotectorp](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/branchprotector) currently only supports either:
[code]

OR

[code]

And the following scenario is not supported:

[code]

In the last example above, the repo settings are ignored per https://github.com/kubernetes/test-infra/blob/b46485518a74ea90bf8babfa824f174f18dbd373/prow/cmd/b

[2021-02-01 18:25] chaodaiG commented on #20691
/area prow

CC @fejta @mattmoor

[2021-02-01 18:26] chaodaiG commented on #20691
CC @alvaroaleman @matthyx

[2021-02-01 18:27] mattmoor commented on #20691
The use case here is that I'm trying to experiment with CODEOWNERS-based review protection in one of our repos before going (much) broader.

See: https://github.com/knative/test-infra/pull/2646/files

[2021-02-01 18:40] chaodaiG commented on #20691
hmm.. https://github.com/kubernetes/test-infra/blob/b46485518a74ea90bf8babfa824f174f18dbd373/config/prow/config.yaml#L143 is already using the behavior proposed in this issue, did I read the code wrong?

[2021-02-01 18:47] fejta commented on #20178
Building using a version of bazel other than what is specified in https://github.com/kubernetes/test-infra/blob/ab7661585f07463f9762a9a70d145c4ddb2ee57d/.bazelversion#L1 is not guaranteed to work.

[2021-02-01 18:47] #20178 closed

[2021-02-01 18:49] fejta commented on #20178
* You can use [bazelisk](https://github.com/bazelbuild/bazelisk) to ensure you're using the right version of bazel
* you can identify the build issue at the new version and send a PR to fix it.
  - or alternatively, wait for someone else to want to update the bazel version and fix it.

[2021-02-01 18:50] alvaroaleman commented on #20691
I believe this already works because we will manage the repos settings regardless of if we do something on org-level: https://github.com/kubernetes/test-infra/blob/b46485518a74ea90bf8babfa824f174f18dbd373/prow/cmd/branchprotector/protect.go#L253

/cc @petr-muller as the branchprotection specialist and to factcheck me here

[2021-02-01 18:54] chaodaiG commented on #20691
@mattmoor , please see above, it's likely that I read the code wrong, and your PR should have worked if the postsubmit job was not aborted

[2021-02-01 18:55] mattmoor commented on #20691
Ok, do we know why it aborted? 😅

[2021-02-01 18:56] chaodaiG commented on #20691
I'll follow up on that. Add @chizhg here for awareness

[2021-02-01 19:46] peterfeifanchen commented on #18930
/remove-lifecycle rotten

[2021-02-01 19:47] peterfeifanchen commented on #18930
This issue seem to be re-occuring again
https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-test-infra-branchprotector/1356286298461048832

[2021-02-01 19:59] alvaroaleman commented on #18930
@peterfeifanchen please provide an audit log of who deleted that pod, otherwise this is not actionable. This issue is unlikely (but not impossible) to be a Prow issue.

[2021-02-01 20:25] peterfeifanchen commented on #18930
How do I look into stackdirver for who killed `ci-knative-test-infra-branchprotector`? The Prow Job name is also the pod name in Prow right?

[2021-02-01 20:31] alvaroaleman commented on #18930
The pod name is visible in the bottom if you click on "Pod". Please refer to the stackdriver/gke/gcp docs to figure out how audit logging works there, I don't know that. The fields on the audit log are pretty self-explanatory, you will be quickly able to write a query for delete calls of that pod yourself.

[2021-02-01 21:04] peterfeifanchen commented on #18930
Logs from Prow
[code]

[2021-02-01 21:04] peterfeifanchen commented on #18930
Logs from Kubernetes cluster
[code]

[2021-02-01 21:09] peterfeifanchen commented on #18930
Its much more legible in stackdriver but...not sure any other way than to dump that final part at 9:53am where the SIGTERM came. You can search for "Failed to delete pod" and "SyncLoop (PLEG", "SyncLoop (REMOVE", "SyncLoop (Delete". And in the Prow log, "killing", "Stopping", "Received signal".

[2021-02-01 21:12] alvaroaleman commented on #18930
@peterfeifanchen those logs are not helpful, we need the audit log. This is the first google result for "gke audit log": https://cloud.google.com/kubernetes-engine/docs/how-to/audit-logging

[2021-02-01 21:57] peterfeifanchen commented on #18930
There's two delete operations on the job with a bunch of patch operations in between. Even one of these logs converted to JSON is pretty long, is there a particular section you want to look at? Not sure which of these attributes specify the issuer of the request.

[2021-02-01 22:08] peterfeifanchen commented on #18930
That's not in the log. This is the first 30 lines to see if I am looking at the right thing
[code]

[2021-02-01 22:24] alvaroaleman commented on #18930
@peterfeifanchen not sure what GKE does there, but that does not match the types used by kubes audit log: https://github.com/kubernetes/kubernetes/blob/f81aa3f7728c1bc7e3afc6fb1883db6423d896fe/staging/src/k8s.io/apiserver/pkg/apis/audit/v1/types.go#L72

It appears that this using the SA `system:serviceaccount:default:serviceaccount-cluster-admin` and the user agent is `app.binary/v0.0.0 (linux/amd

[2021-02-01 23:25] peterfeifanchen commented on #18930
Hmm I see. Thanks for the help. Might have to follow up with GKE to figure out why this random kill is happening in the cluster.

[2021-02-01 23:34] #14647 closed

[2021-02-02 00:38] spiffxp commented on #19483
/milestone v1.21

[2021-02-02 00:38] spiffxp commented on #18549
/milestone v1.21

[2021-02-02 01:43] yclfxiang opened #20699 "1264"

[2021-02-02 01:44] #20699 closed

[2021-02-02 10:24] petr-muller commented on #20691
Yeah, repo-specific setting overwriting an org default should definitely work, we have a lot of that in OpenShift.

[2021-02-02 14:49] chaodaiG commented on #20691
Sounds good. Would be helpful to include an example of this in the document.

On Tue, Feb 2, 2021 at 2:24 AM Petr Muller <notifications@github.com> wrote:

[2021-02-02 20:02] midnightconman commented on #16983
I'll go ahead and open a new issue also. 😸

[2021-02-02 20:33] midnightconman opened #20713 "GitHub Actions Support in Prow?"
Now that github enterprise 3.0 is in RC, github actions and packages will be coming to GHE soon. As such, we will be looking at leveraging github actions where we can. Using prow internally, this means we are interested in how prow can interact with github actions... has there been any thought to building a github actions operator or how prow might leverage github actions?

[2021-02-03 13:32] mborsz opened #20716 "Prow jobs are failing with 'Could not resolve host: github.com'"
**What happened**:
Many prow jobs started failing with error like:

[code]

e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1356950100881969152
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-fast/1356957645537284096/
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please

[2021-02-03 13:36] mborsz commented on #20716
/assign @e-blackwelder

[2021-02-03 18:43] rikatz commented on #20324
@aojea wanna close this one and wait like...3 months and we can start migrating again?

[2021-02-03 20:53] aojea commented on #20324
since you already migrated one, and podutils fixed the problems with the graphs, I think we can go ahead ... if there are volunteers to do it, I have low bandwidth these days :)

[2021-02-03 20:55] rikatz commented on #20324
me and @jayunit100 will volunteer some folks ;x

@mattfenwick @knabben let's put this in our backlog. But I can deal with that also tomorrow :)

[2021-02-03 21:01] knabben commented on #20324
I can help in the effort to migrate them.. maybe split the workload
I'm curious about this migration procedure.

[2021-02-03 21:02] rikatz commented on #20324
yes, let's talk about that on sunday triage party, sounds good?

[2021-02-03 21:09] MushuEE opened #20724 "[Kettle] Multi-treads saturating googleapi connection pools."
**What happened**:
[code]
Try to implement suggestions seen in https://stackoverflow.com/questions/53765366/urllib3-connectionpool-connection-pool-is-full-discarding-connection
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Run `make_db.py` in staging or prod will yield this warning spam

**Please provide links to example occurrences, if any**:

[2021-02-03 21:45] peterfeifanchen commented on #18930
The problem was we had a misconfiguration on another prow control plane. We ended up with 2 prow instances controlling one build cluster and sinker was sending kill signals on a Prow Job definition it didnt have.

[2021-02-03 21:45] peterfeifanchen commented on #18930
not sure how to close...

[2021-02-03 21:47] alvaroaleman commented on #18930
Happy to hear you found the culprit!

/close

[2021-02-03 21:47] #18930 closed

[2021-02-03 21:51] alvaroaleman commented on #20713
What would a github actions operator do?

Tide already respects the result of github actions. Be aware though that they do not have any kind of retesting mechanics. If you create a PR that passes tests and the base branch changing in an incompatible way, you will end up with broken code. This is the main reason we discourage using them.

/area prow

[2021-02-03 21:52] peterfeifanchen opened #20727 "Branchprotector error"
**What happened**:
We are using branch protector in knative test-infra.

**What you expected to happen**:
That it runs the same as the K8S branch protector. Except with our config file https://github.com/knative/test-infra/blob/master/config/branch_protector/rules.yaml

**How to reproduce it (as minimally and precisely as possible)**:
This isn't really reproduceable by you guys since you do not ru

[2021-02-03 22:35] MushuEE commented on #20724
`Message:      The node was low on resource: memory. Container kettle-staging was using 46753364Ki, which exceeds its request of 0.` Looks like this might be tied to a memory leak in staging triggering pod evication

[2021-02-04 06:50] #20567 closed

[2021-02-04 10:31] saschagrunert commented on #20101
I agree that not adding more complexity to the branch logic is something I would prefer.

WDYT @hasheddan ?

[2021-02-04 10:31] saschagrunert commented on #20101
/help

[2021-02-04 11:40] roshanirathi commented on #18856
I am facing the same issue with tide. Any solution for this?

[2021-02-04 16:03] justinsb opened #20738 "kOps: Test timeouts are not diagnosable when run in parallel"
We have some test timeouts, for example: https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-grid-calico-amzn2-k20-docker

It's very difficult to see what the cause of the timeout is.  It appears that ginkgo only logs tests after they complete, it doesn't log on a signal, it doesn't write the junit output on a signal.  The ginkgo output isn't sufficiently self-descriptive to facilitate scripti

[2021-02-04 17:25] hasheddan commented on #18601
/milestone v1.21

[2021-02-04 22:14] chaodaiG opened #20745 "Prow components periodically refresh build clusters"
**What would you like to be added**:

Prow components that interact with build clusters refresh build clusters periodically, like every 5 minutes.

**Why is this needed**:

Prow components only load build clusters once on start up, and keep going when certain build cluster is not loaded. This generally works fine in cases where build clusters are not reachable before of either wrong config or clus

[2021-02-04 22:14] chaodaiG commented on #20745
CC @alvaroaleman @cjwagner @fejta

[2021-02-04 22:54] mpherman2 commented on #19875
I believe this has been resolved, and testgrid alerts have been added for all of the bump jobs.

[2021-02-04 22:54] #19875 closed

[2021-02-05 11:25] droslean opened #20751 "[BUG] Deck is NOT working properly after the new changes."
We recently bump prow to run with changes including in https://github.com/kubernetes/test-infra/compare/567fc1ab64...b06ec788ea and it caused `deck` to stop being functional.

[code]

/cc @kubernetes/test-infra-admins @kubernetes/test-infra-maintainers

[2021-02-05 14:48] alvaroaleman commented on #20751
Bisect shows its 81c5adb48839d6af0e96b07ba2956f7b727f8c94

[2021-02-05 14:52] chaodaiG commented on #20751
@fejta , the bazel 3.4.1 PR and seemed affecting deck

[2021-02-05 16:02] spiffxp commented on #20652
Neat, I think I just caught this happening for k8s-testimages jobs that run in the "default" build cluster too

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-kettle/1357442531670888448#1:build-log.txt%3A57

[2021-02-05 16:31] spiffxp commented on #20652
Yup, it doesn't happen often, but it does happen for test-infra-trusted

![Screen Shot 2021-02-05 at 11 29 59 AM](https://user-images.githubusercontent.com/49258/107060904-885d1b00-67a5-11eb-89e9-39e99999c129.png)

[2021-02-05 17:33] spiffxp commented on #19325
/remove-lifecycle rotten
/close
Living with current volume size (ref: https://github.com/kubernetes/test-infra/issues/20439)

[2021-02-05 17:33] #19325 closed

[2021-02-05 18:07] spiffxp commented on #19082
I like the idea of updating the prowjob CR with enough info to understand:
- what pods / build-ids were previously used for this prowjob run
- possibly? why they failed (evicted, deleted, timed out scheduling, etc)

I also wonder if we could have the testgrid updater remove columns if their corresponding results in GCS lack a finished.json after some timeout

[2021-02-05 18:20] spiffxp commented on #10402
Where I experience this pain at the moment is getting random testgrid notifications for image-builder jobs that have failed.  It's not clear to me:
- what PR caused the job
- if the person who cares about that PR knows their changes haven't landed in a newly pushed image

A rough guess at scope:
[code]
Dumped into [this google spreadsheet](https://docs.google.com/spreadsheets/d/1TWauyTkQ9dsx5LGEag

[2021-02-05 18:24] spiffxp commented on #18424
/remove-lifecycle rotten
/reopen
/sig-testing
/priority important-longterm
The approach proposed at https://github.com/kubernetes/test-infra/pull/18483 ran into disagreement, but I still think this is something we're going to want (just don't have bandwidth to tackle this cycle)

[2021-02-05 18:26] spiffxp commented on #18842
This label could be used to support per-branch filtering in deck, and could maybe be consumable by testgrid (ref: https://github.com/kubernetes/test-infra/issues/6144)

[2021-02-05 18:27] spiffxp commented on #6144
/close
I'm going to close this in favor of https://github.com/kubernetes/test-infra/issues/18842

[2021-02-05 18:28] #6144 closed

[2021-02-05 18:29] spiffxp commented on #13129
/remove-lifecycle rotten

[2021-02-05 19:08] chases2 opened #20756 "Configurator only respects the root default.yaml, not local default.yaml"
**What happened**:
Configurator, currently being used to manage the TestGrid configuration at testgrid.k8s.io via [this script](https://github.com/kubernetes/test-infra/blob/master/testgrid/config-upload.sh), is uploading configurations with defaults populated by the root default file only.

**What you expected to happen**:
Configurator should upload a TestGrid configuration with default settings

[2021-02-05 19:14] spiffxp commented on #20652
Migrating away from a central gcb-builder service account:
- https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/lib.sh#L52 - code that uses this will need to be refactored
- https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/lib.sh#L255-L292 - e.g. update this to take a service account as a parameter (also... it is not clear to me that both prow and gcb SA's are necessary here)
- h

[2021-02-05 19:14] chases2 commented on #20756
The flow here is convoluted, since Configurator is being used both to move settings from Kubevirt's Prow instance to the k8s/test-infra repository (via Transfigure) and to upload from that repository to cloud.

I see two ways forward:
1) Change Configurator to have a "seek default" flag instead of a specific default, and ensure that Transfigure does not apply defaults while ./config-upload.sh does

[2021-02-05 20:06] spiffxp commented on #13129
/sig release
/area release-eng
For documenting things like kubekins

[2021-02-05 21:02] spiffxp opened #20760 "Migrate jobs away from deprecated bootstrap usage"
This is an umbrella issue to track migrating job configs away from bootstrap and instead use [pod-utils](https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md).

Bootstrap has been deprecated for a few years at this point, and jobs that use bootstrap.py have been unsupported by test-infra-oncall for at least 1.5 years (ref: https://github.com/kubernetes/test-infra/pull/14392).

[2021-02-05 21:43] chaodaiG commented on #20751
Bumped k8s prow https://github.com/kubernetes/test-infra/pull/20741 after reverting of #20651, everything looks fine to me

[2021-02-05 22:19] alvaroaleman commented on #19721
/assign

[2021-02-05 22:48] spiffxp commented on #20760
As an FYI, jobs that migrate away from bootstrap will lack an Infra-Commit column in testgrid: https://github.com/kubernetes/test-infra/issues/20650.  This is not a blocker to migration, and is probably a good thing (one less thing to bisect).

I strongly suspect kubernetes/test-infra code being checked out in a job's container isn't actually necessary for the vast majority of jobs that make the s

[2021-02-05 22:51] #19721 closed

[2021-02-05 23:08] spiffxp commented on #19082
/remove-lifecycle rotten
/lifecycle stale
to keep this open long enough to figure out whether it's worth breaking out the ideas in https://github.com/kubernetes/test-infra/issues/19082#issuecomment-774195890

[2021-02-05 23:14] spiffxp commented on #18785
Anecdotally, we could really use some better visibility into common cases of jobs failing to schedule (or just failing)
- how often are pods evicted due to cluster maintenance / upgrades?
- how often are pods unable to schedule because the build cluster is at maximum capacity?
- (for super peaky situations: how long would we need to wait to smooth out peaky load?)

I suspect we are already occasio

[2021-02-05 23:16] spiffxp commented on #18785
/sig testing
/wg k8s-infra
/priority important-longterm

[2021-02-05 23:27] BenTheElder commented on #20738
this seems like something to fix in kubetest2? 🙃

[2021-02-05 23:40] BenTheElder commented on #20659
https://github.com/kubernetes/kubernetes/pull/98591#discussion_r569184958 ... I forgot scalability was moving this to test-infra. we maybe should get an area label for this.

[2021-02-05 23:41] BenTheElder commented on #20672
if the patch is relatively small, the utility of unblocking this migration is higher than gating it on migrating off of bootstrap

[2021-02-05 23:44] BenTheElder commented on #20629
you can prevent cleanup and comments by commenting `/lifecycle frozen`. otherwise the intention (not mine) was to age out issues nobody is interacting with that have not explicitly been marked as "nobody is working on this but we need to keep it tracked"

workflow changes must go through @kubernetes/sig-contributor-experience
/sig contributor-experience

this should be migrated to github.com/kuber

[2021-02-05 23:57] BenTheElder commented on #20006
note that this presubmit should be optional / non-blocking now (not sure if it was when this was filed), but it should still move.

[2021-02-05 23:57] BenTheElder commented on #19629
https://github.com/kubernetes/test-infra/pull/19965 is this sufficient?

[2021-02-05 23:58] hasheddan commented on #20006
Sorry for the delay here! Should be able to get this moved over ASAP

[2021-02-06 00:02] BenTheElder commented on #20016
he's dead, jim

[2021-02-06 00:02] #20016 closed

[2021-02-06 00:05] BenTheElder commented on #19979
I think this was @fejta's project, actually?

[2021-02-06 00:06] BenTheElder commented on #20024
SGTM

[2021-02-06 00:22] BenTheElder commented on #20006
no worries, just scanning through our issue tracker 😅

[2021-02-06 02:52] hi-rustin commented on #19629
It feels like all the plugins have to be modified, and I want to put the configuration in config and pass it to each plugin to use. I don't know if this is possible?

[2021-02-06 03:50] BenTheElder commented on #19629
I think the ones in the issue body were done, as for others I don't see why not but I won't personally be approving them.

[2021-02-06 03:56] hi-rustin commented on #19629
@fejta @alvaroaleman  What do you think?

[2021-02-06 04:39] hi-rustin commented on #19629
Because contributors may open detail, they will be directed to https://go.k8s.io/bot-commands. But may actually use not k8s prow but their own deployment.

[2021-02-06 15:22] alvaroaleman commented on #20745
We already watch the kubeconfigs and will restart on changes: https://github.com/kubernetes/test-infra/pull/20408

Could that cover your usecase? The main issue is that there is no existing upstream machinery to reload anything other than a tokenfile during runtime.

[2021-02-06 18:21] chaodaiG commented on #20745
I'm afraid that #20408 is not sufficient for our use case. IIUC #20408 reloads kubeconfigs when there is any value change in the kubeconfig, aka someone updated secret/kubeconfig. The problem we encountered was that after restart(normally after prow bump), when the deployment(s) try to load build clusters, one of them was not reachable(i.e. the api server of the build cluster was undergoing an upg

[2021-02-06 19:02] alvaroaleman commented on #20745
We have a metric for errors there though somewhere, and we have an alert in openshift for when it's non-zero

[2021-02-07 04:10] BenTheElder commented on #18785
FWIW in the current state: https://prow.k8s.io/?state=error -- a quick sampling suggests these are largely due to nodepool exhaustion (transiently)

[2021-02-07 07:08] jianzhangbjz opened #20774 "Privatize the log for the private repo"
**What would you like to be added**:
Now, the Prow logs are public, but for some private Github repos, it not a good choice.
The public logs may leak some sensitive info.

**Why is this needed**:
To protect sensitive info for the private repo.

[2021-02-07 11:31] devbharat opened #20776 "Follow buildlogs option in spyglass"
**What would you like to be added**:
Follow build-logs option in spyglass build logs viewer lens.

**Why is this needed**:
For long running jobs one has to constantly refresh the spyglass page to get the latest logs.

[2021-02-07 19:25] RagniGarg97 commented on #19837
/remove-lifecycle stale

[2021-02-07 19:52] #19041 closed

[2021-02-08 03:30] alvaroaleman commented on #20774
@jianzhangbjz Can you elaborate on what exactly you want changed here? It is already possible to configure a private bucket and hide jobs from the frontend.

/area prow

[2021-02-08 05:01] #5292 closed

[2021-02-08 05:01] #5338 closed

[2021-02-08 05:01] #1795 closed

[2021-02-08 05:01] #4272 closed

[2021-02-08 05:03] nikhita commented on #6095
Still relevant.

/reopen
/remove-lifecycle rotten

[2021-02-08 06:02] #6462 closed

[2021-02-08 06:02] #7971 closed

[2021-02-08 06:02] #8653 closed

[2021-02-08 17:14] chaodaiG opened #20783 "Deck error: "error retrieving artifact names from gcs storage: context canceled""
**What happened**:

Recurring k8s prow warnings from deck since 09:04:19 PST 2021-02-06, all error messages are "error retrieving artifact names from gcs storage: context canceled". The full body of the first occurance:

[code]

**What you expected to happen**:

No recurring warnings.

**Please provide links to example occurrences, if any**:

See https://cloudlogging.app.goo.gl/UUZNk2vvHCvDfDjr6

[2021-02-08 17:14] chaodaiG commented on #20783
/area prow

[2021-02-08 17:37] spiffxp commented on #19483
/priority important-longterm

[2021-02-08 17:37] spiffxp commented on #18549
/priority important-soon

[2021-02-08 18:15] #20783 closed

[2021-02-08 18:20] petr-muller commented on #20774
Knowing some background I *assume* this is really an ask for the GH-backed access control for Deck and Spyglass where the frontends would only allow a user to view and access jobs and their artifacts related only to the repos that they can access on GH.

[2021-02-08 18:38] petr-muller commented on #20727
@peterfeifanchen

It's not a problem on the knative-sandbox/net-ingressv2 repo, it's on `knative/.github` one (there's an error happening in the middle of the log, and the last line is just a summary of all problems encountered).

[code]

The error in general means that

[2021-02-08 18:39] peterfeifanchen commented on #20727
Thanks, yea we eventually figured out that was the issue. It's been fixed now. Thanks!

[2021-02-08 18:39] #20727 closed

[2021-02-08 18:48] chaodaiG commented on #20745
This looks good enough for now, can you upstream this alert?

[2021-02-08 19:15] #8652 closed

[2021-02-08 19:22] fejta commented on #20751
/assign

[2021-02-08 21:53] spiffxp commented on #7769
/remove-lifecycle rotten
/reopen
/priority backlog
/lifecycle frozen
These should be addressed while migrating kubernetes CI away from google.com gcp projects (ref: https://github.com/kubernetes/k8s.io/issues/1469).  If there's no need for a special project, just switch to `--gcp-project-type=gce`

[2021-02-09 00:39] BenTheElder commented on #20774
[not really a prow maintainer, but some previous context ...]

We've intentionally not tried to put auth into prow directly before, it's possible to run a deck instance with access to privileged logs behind oauth and use this deck for your privileged projects (and better yet consider isolating the whole infra stack, where you may very likely have other issues with cross project security).

Prow cu

[2021-02-09 11:38] matthyx commented on #20631
@chaodaiG I feel so stupid not spotting it before... your YAML isn't valid as you have a map with a duplicate entry - as a result we don't take into account the first `plugins` containing `pluginCommon`.

[2021-02-09 12:58] droslean commented on #20751
It seems that https://github.com/kubernetes/test-infra/commit/4d6791131bd487a3b9c0375dfff7c5c46328d06c broke it again.

[2021-02-09 13:09] matthyx commented on #16472
/assign

[2021-02-09 13:21] droslean commented on #20751
Error from browsers console:
[code]

[2021-02-09 14:03] petr-muller commented on #20774
Thanks for the context, I was not around at that time... Yeah, it's certainly tricky to do right and I totally understand the reasoning behind trying to avoid it. The OpenShift Prow instance now grew enough that we now have different group of users that need some private content, but need to see a disjoint set of private repo jobs. And because there are embargos involved, one "private" deck instan

[2021-02-09 15:03] alvaroaleman commented on #20751
@fejta next time you introduce this, can you please start a deck instance built with the new bazel version (locally via docker or behind a canary ingress in your production) and click through it to make sure that we do not break it a third time?

[2021-02-09 15:29] chaodaiG commented on #20631
My bad. Would make these a slice help? Or alternatively, we can make it:

[code]

My 2 cents is that making it a slice is more flexible but requires more work. The second option would be more opinionated but it does what we want, the little bit `pluginCommon` duplication shouldn't cause a problem unless there is an org wants half their repos use `pluginCommon-setA` and the other half use `pluginCo

[2021-02-09 17:16] spiffxp commented on #18729
IMO closing this out involves
- documenting merge-blocking criteria https://github.com/kubernetes/test-infra/issues/6380
- providing either a dashboard or metrics that show adherence to measurable criteria
- documenting policy (canary jobs, promotion, demotion, max jobs, etc.)
- a final pass through jobs mentioned in https://github.com/kubernetes/test-infra/issues/18729#issuecomment-670623670

[2021-02-09 18:09] chaodaiG commented on #20691
/close

[2021-02-09 18:09] #20691 closed

[2021-02-09 18:10] spiffxp commented on #20774
/sig testing

[2021-02-09 18:10] spiffxp commented on #20776
/sig testing

[2021-02-09 18:46] hasheddan commented on #19922
/remove-lifecycle stale

[2021-02-09 19:24] spiffxp commented on #18729
/milestone v1.21
/assign @BenTheElder @spiffxp

[2021-02-09 19:25] spiffxp commented on #6380
/milestone v1.21
/assign @BenTheElder

[2021-02-09 19:26] spiffxp commented on #6380
/priority important-soon

[2021-02-09 19:26] spiffxp commented on #18729
/remove-priority important-longterm
/priority important-soon

[2021-02-09 19:59] spiffxp commented on #19483
/remove-priority important-longterm
/priority important-soon

[2021-02-09 20:31] BenTheElder commented on #14343
https://github.com/kubernetes/test-infra/pull/20607 appears to be resolved FYI, thanks for working on this!

[2021-02-09 20:31] BenTheElder commented on #12863
progress on kubeflow https://github.com/kubernetes/test-infra/issues/14343#issuecomment-767433178

[2021-02-09 20:52] spiffxp commented on #18599
/milestone v1.21
Checking back in on this

[2021-02-09 20:55] spiffxp commented on #19082
/sig testing

[2021-02-09 20:57] spiffxp commented on #18842
/sig testing

[2021-02-09 20:58] spiffxp commented on #13063
/remove-lifecycle stale
/lifecycle frozen
/milestone v1.21

[2021-02-09 20:58] spiffxp commented on #18842
/priority important-longterm

[2021-02-09 21:01] spiffxp commented on #20006
/milestone v1.21
/sig testing
/sig release
/wg k8s-infra

[2021-02-09 21:07] chaodaiG commented on #14343
Yes it's resolved, we'll continue once @Bobgy is back from Lunar New Year work mode :)

[2021-02-09 21:09] spiffxp commented on #20101
/retitle verify whether v1.20+ bazel image acts as bazelisk

[2021-02-09 22:05] spiffxp commented on #6095
/lifecycle frozen
/help

[2021-02-09 22:47] BenTheElder commented on #10065
One problem with teams ... They're pretty much completely unusable for non-org-members, if you are not in an org then you cannot:
- list / view the teams in an org to discover teams
- view the members of a particular team in an org
- `@mention` a team in an org (github will treat it like a username that does't exist, I'd forgotten https://github.com/kubernetes/test-infra/issues/3609)

Pretty much

[2021-02-09 22:57] spiffxp commented on #20599
/milestone v1.21

[2021-02-10 07:13] BenTheElder commented on #18226
so all we need to do here is create a special clonerefs image for prow.k8s.io that contains an existing clone of kubernetes at `/home/prow/go/src/k8s.io/kubernetes` ?

we could really use this as sadly shallow clones are not super feasible based on depth (we don't know how far back the tags we need are), but we have 6+? years of development in a big busy repo and the clones are slow.

just doing t

[2021-02-10 07:20] BenTheElder opened #20816 "jobs erroring out due to failure to fetch token"
**What happened**:

Seeing jobs fail early on with no logs more and more often lately, and not signs we've seen before like "failed scheduling" (need to increase nodes) or github clone flakes (kubernetes/kubernetes is a huge clone, still need to mitigate that #https://github.com/kubernetes/test-infra/issues/18226).

Instead we're seeing:

[code]

Which is not really surfaced to the user, unless th

[2021-02-10 07:20] BenTheElder commented on #20816
cc @chaodaiG per go.k8s.io/oncall

[2021-02-10 07:24] BenTheElder commented on #20816
I would move https://github.com/kubernetes/kubernetes/issues/98768 here, but CI signal is probably tracking that one, and it predates this. Filing here with additional details and for visibility.

[2021-02-10 16:01] chaodaiG commented on #20816
The initupload logs are the tail logs, I may need to see the full log for better understanding. Which cluster does this use? How can I get access to it? @BenTheElder

[2021-02-10 16:16] chaodaiG commented on #20816
`Post \"https://oauth2.googleapis.com/token\": dial tcp: i/o timeout`, I have searched a little bit, and there are a couple of possibilities:
- https://oauth2.googleapis.com/token has intermittent connection issue. The is not very likely, as it could be mitigated by https://github.com/kubernetes/test-infra/pull/19884 .
- Network issue on the cluster.
- DNS issue. I have seen freshly created node h

[2021-02-10 17:21] spiffxp commented on #20816
@chaodaiG

if the job is using `cluster: k8s-infra-prow-build` you'll need to look at the k8s-infra-prow-build project in the kuberentes.io gcp org

owner access to this project (and all other prow-related projects in kubernetes.io) is defined by https://github.com/kubernetes/k8s.io/blob/5b2304f875d8b877764a7bde5398eb6f4ffb0494/groups/groups.yaml#L645-L665

viewer access is defined by https://gith

[2021-02-10 17:43] chaodaiG commented on #20816
Thank you @spiffxp , please tag me on the PR

[2021-02-10 17:57] spiffxp commented on #20816
@chaodaiG opened https://github.com/kubernetes/k8s.io/pull/1636 and cc'ed you

[2021-02-10 17:58] spiffxp commented on #20816
/priority important-soon
/sig testing
/wg k8s-infra
/milestone v1.21
/kind flake
re "more and more often lately" in description

[2021-02-10 18:43] chaodaiG opened #20818 "Crier gerrit reporter: don't comment if the change is missing"
**What happened**:

There was a gerrit change deleted, but crier gerrit reporter still desperately try to report the job status every 5 seconds, until the prowjob reach `max_prowjob_age`, which was 48 hours by default.

**What you expected to happen**:

Crier shouldn't even try to comment when the change doesn't exist.

**How to reproduce it (as minimally and precisely as possible)**:

Create a ge

[2021-02-10 18:43] chaodaiG commented on #20818
/area prow

[2021-02-10 18:59] jkaniuk commented on #20716
Various jobs are still flaky, examples:
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100
- https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

/priority critical-urgent
/sig testing
/sig network
/wg k8s-infra
/milestone v1.21
/kind flake

[2021-02-10 21:40] fejta commented on #10065
Plugins could solve those issues, for example `/auto-assign` `/auto-assign-more`, `/rotate-assignees`, `/add-approver-for some/random/file` etc.

The primary reason people need to see who is in a team is so that they can do something with it, right? AKA `@bentheelder this is ready for another look`, `/assign @fejta \n please approve these build changes`

Solve the problem more explicitly, in a way

[2021-02-10 22:41] cjwagner commented on #20751
Trying again: https://github.com/kubernetes/test-infra/pull/20824

[2021-02-11 00:45] chaodaiG commented on #20816
Some stats, scanning through all prow jobs in the past 24 hours (~24000), by downloading `podinfo.json` from gcs, so far only finished half of them:

- total:    12476
- failed:     2874
- initupload failure:       85

[2021-02-11 01:39] spiffxp opened #20829 "prow: avoid retriggering presubmits on default remote branch rename"
**What would you like to be added**:

I would like prow to be able to detect and avoid retriggering presubmits when PRs have their base branch changed as part of GitHub's tool to rename the default remote branch for a given repo.

The scenario I want to avoid is sort of the opposite of tide's retrigger logic:
- a presubmit is configured to trigger for PRs to 'main' and 'master'
- a PR is opened ag

[2021-02-11 01:40] spiffxp commented on #20829
/assign @BenTheElder
if you're planning on migrating kubernetes-sigs/kind at some point, work with test-infra-oncall to identify relevant events / webhook payloads

I'll see if I can dig any up for kubernetes/org or kubernetes/k8s.io

[2021-02-11 02:28] spiffxp commented on #20829
Found an event, thanks to https://github-dot-k8s-gubernator.appspot.com/timeline?repo=kubernetes/org&number=2139 (TIL, and suddenly I'm a lot less interested in deleting this app)

Note that as part of this process the `master` branch gets deleted before the `main` branch gets created (ref: https://github.com/kubernetes/org/issues/2466#issuecomment-770011029)

`2021-01-29 19:38:59.693150 | pull_re

[2021-02-11 04:39] BenTheElder commented on #20829
That endpoint is the best kept secret in test-infra 🙃

[2021-02-11 05:07] chizhg commented on #19186
/reopen
/lifecycle frozen

[2021-02-11 07:09] spiffxp commented on #20816
`oauth2: cannot fetch token` started showing up in logs for k8s-infra-prow-build sometime late Feb 2, early Feb 3.

https://console.cloud.google.com/logs/query;query=%22oauth2:%20cannot%20fetch%20token%22%0Aresource.labels.container_name%3D%22initupload%22;timeRange=P14D?project=k8s-infra-prow-build
![Screen Shot 2021-02-11 at 1 53 54 AM](https://user-images.githubusercontent.com/49258/107609125-0

[2021-02-11 19:23] cjwagner opened #20840 "Surface image pull failures in spyglass metadata lens."
**What would you like to be added**:
If a ProwJob fails with a pod pending timeout due to not being able to pull the test image, the metadata lens only hints:

From the pod lens we can see the pod events which indicate that the failed image pull is the culprit, but it would be preferable to improve the metadata lens hint to point to this problem more directly. We should also update the generic "Po

[2021-02-11 20:33] #20840 closed

[2021-02-11 22:28] alvaroaleman commented on #20751
everything appears to be working now, thanks!
/close

[2021-02-11 22:29] #20751 closed

[2021-02-12 04:19] BenTheElder commented on #20816
Nodes from Jan 22nd exist still in greenhouse's pool, but the autoscaled node pool has all nodes from today.

Checking the cluster operation logs: It looks like @spiffxp upgraded the cluster on the 10th. I don't see any cluster operations around February 2nd at all.
https://console.cloud.google.com/logs/viewer?project=k8s-infra-prow-build&organizationId=758905017065&minLogLevel=0&expandAll=false&t

[2021-02-12 04:23] BenTheElder commented on #20816
Is k8s-infra-prow-builds the only one with autoscaling? (I think so?)

If so I suspect this is an issue with autoscaling the in-cluster DNS. @chaodaiG mentioned a workaround for this applied to another prow cluster.

[2021-02-12 14:51] mborsz commented on #17505
/reopen
/remove-lifecycle rotten

[2021-02-12 16:07] irvifa commented on #18388
/remove-lifecycle stale

[2021-02-12 16:45] alvaroaleman commented on #18388
Just as a heads-up for everyone watching this, until an external contributor steps up and provides a proposal on how exactly this is supposed to work, this is unlikely to get any traction.

[2021-02-12 22:01] amwat commented on #20101
IIRC Bazel will respect whatever version is specified in `.bazelversion` **if that binary already exists** and will error out with installation instructions otherwise. OTOH bazelisk will silently download it if it doesn't exist .

which is what we do in `variants.yaml` currently with `BAZEL_VERSION` and `OLD_BAZEL_VERSION`

ref: https://github.com/kubernetes/test-infra/pull/16910#issuecomment-6034

[2021-02-13 19:07] chases2 opened #20859 "Configurator should detect the Prow instance being used and populate `open_test_template`"
**What would you like to be added**:
Prow configuration knows about where its hosted (or more specifically, what prefix it should add to access the job viewer) from `job_url_prefix_config`: https://github.com/kubernetes/test-infra/blob/80cdac19030375fd7ee17fca11ddd5a0ec772cd0/config/prow/config.yaml#L6.

The key is either "*", an org, or an org/repo, with the most specific being used.

TestGrid's

[2021-02-13 19:09] chases2 commented on #20859
@michelle192837 @alvaroaleman This seems like a reasonable integration to me. What do you think?

[2021-02-14 02:19] #19110 closed

[2021-02-14 05:15] BenTheElder commented on #19112
@mrbobbytables what do you think about us deferring posting this message until after the PR has an LGTM label?

this does not seem to be working 🤔

I think we hit contributors with waaaay too much text on opening a PR, so we get selective reading.

[2021-02-16 07:29] jprzychodzen commented on #20716
Recent case for this issue : https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/1361465313736003584

[2021-02-16 13:58] fgimenez commented on #20859
I'd like to give this one a try, was planning to start looking into https://github.com/kubernetes/test-infra/blob/4ddcfd375fcd021a16f696aa83b4bbbbd5c9ba91/testgrid/cmd/configurator/main.go#L192-L211 is that correct?

thanks!

[2021-02-16 14:38] jprzychodzen commented on #20716
It seems that flaking jobs run on cluster `k8s-infra-prow-build`

[2021-02-16 15:06] jprzychodzen commented on #20716
It seems that migration to `pod-utils` will resolve this problem https://github.com/kubernetes/test-infra/pull/18057/files (add retry on resolving git clone command)

[2021-02-16 15:16] jkaniuk commented on #20716
It is not only scalability jobs that have this problem.

Shouln't we enable NodeLocalDNS on the Prow cluster?

[2021-02-16 16:14] jprzychodzen commented on #20716
/cc @cjwagner  as test-infra-oncall

Cole, could you edit kube-dns configmap in cluster `k8s-infra-prow-build` and scale kube-dns pods? I guess that something like this would help
[code]

[2021-02-16 17:55] chaodaiG commented on #20716
This is exactly the patch I mentioned per https://github.com/kubernetes/test-infra/issues/20816#issuecomment-777959845, + @BenTheElder for awareness

[2021-02-16 18:43] spiffxp commented on #20756
/sig testing

[2021-02-16 18:43] spiffxp commented on #20859
/sig testing

[2021-02-16 19:14] chaodaiG commented on #14629
/reopen

[2021-02-16 19:14] chaodaiG commented on #14629
/remove-lifecycle rotten

[2021-02-16 19:14] chaodaiG commented on #14629
/area prow

[2021-02-16 19:47] BenTheElder commented on #16793
https://github.com/kubernetes/test-infra/pull/20869
<img width="951" alt="Screen Shot 2021-02-16 at 11 24 59 AM" src="https://user-images.githubusercontent.com/917931/108111585-b9610980-7049-11eb-8470-d0e7ec7b48ce.png">

1. I was already assigned manually in the OP
2. I'm not in the referenced OWNERS file, so unless the 1.) is causing this somehow, it's still going to root approvers by alphabet in

[2021-02-16 20:02] spiffxp commented on #20859
/remove-help
/assign @fgimenez
@fgimenez mentioned on slack being interested to take this on

[2021-02-16 20:11] matthyx commented on #16793
Thanks Ben, I will check tomorrow. Sorry for that... again and again.

[2021-02-16 20:12] matthyx commented on #16793
Do we have prow logs? Well I think I have enough info to reproduce...

[2021-02-16 20:19] alvaroaleman commented on #16793
https://gist.github.com/alvaroaleman/762ad69e05a178fb1149bb536cabd38a

[2021-02-16 20:20] spiffxp commented on #20859
I would try modifying [applySingleProwJobAnnotation](https://github.com/kubernetes/test-infra/blob/611b1212d9b9933f613dce33a2a8bbdacfd96994/testgrid/cmd/configurator/prow.go#L75) for this change

For examples of the logic that gets the most relevant `job_url_prefix_config` see:
- https://github.com/kubernetes/test-infra/blob/611b1212d9b9933f613dce33a2a8bbdacfd96994/prow/config/config.go#L519
- htt

[2021-02-16 20:24] spiffxp commented on #20756
Instead of a new flag, if we dropped the assumption in this if, not specifying `--default path/to/default.yaml` would mean "don't apply defaults"
https://github.com/kubernetes/test-infra/blob/9188da5e58d4d947b23cef3b863e340092e24d5c/testgrid/cmd/configurator/main.go#L103-L106

[2021-02-16 20:34] spiffxp commented on #18599
@RobertKielty anything I can do to help move https://github.com/kubernetes/test-infra/pull/19286 forward?

[2021-02-16 20:42] BlaineEXE opened #20871 "Prow issue: bugzilla behavior preventing update of downstream"
In reference to this BZ bot behavior: https://github.com/openshift/rook/pull/171#issuecomment-780103508

I don't understand why `OCS 4.7.0` is not equivalent to `4.7.0`

Bug 1915005 was created as a clone of another bug to separate it into 2 items. It was not intended to depend on the bug from which it was cloned (1898441). I removed the "Depends On" field from 1915005, but now the bot still expec

[2021-02-16 20:45] #20871 closed

[2021-02-16 21:19] dprotaso opened #20872 "[peribolos] github org invites aren't resent when they expire"
**What happened**:
A user added themselves to a peribolos config and an invite was sent. The invite expired and peribolos didn't resend the invite.

**What you expected to happen**:
Peribolos checks the invite status and if expired resends the org invitation.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything els

[2021-02-16 21:29] BenTheElder commented on #16793
@matthyx No need to apologize, thank you for working on this!

It's also not a problem for _me_ per se that this happens, I get manually assigned left and right anyhow, but I think we should fix this from a workflow perspective. I don't think the current approval assignment system is very sustainable (see also: we suggest assigning someone to approve as soon as the PR is opened, before anyone has

[2021-02-16 22:55] BenTheElder commented on #20872
/area prow/peribolos
/area prow

[2021-02-16 22:56] BenTheElder commented on #20872
IMHO this is less of a bug and more of a feature request? I don't think it's that this feature is broken, I think it doesn't exist?
I bet the owners would be happy to see this implemented.
/sig testing
/sig contributor-experience
cc @mrbobbytables @cblecker

[2021-02-16 23:01] dprotaso commented on #20872
Feel free to reclassify it as needed

On Tue, Feb 16, 2021 at 17:56 Benjamin Elder <notifications@github.com>
wrote:

[2021-02-16 23:27] cjwagner commented on #20716
@jprzychodzen @chaodaiG  There are no existing data entries in the `kube-dns` configmap, but there is a very similar entry in the `kube-dns-autoscaler` configmap, is that what you were referring to? I don't want to break DNS by applying this to the wrong configmap so please confirm which is intended before I proceed.

[2021-02-16 23:39] chaodaiG commented on #20716
Not entirely sure, but based on to my understanding, there are 2 things needed:

- `NodeLocal DNSCache` needs to be enabled on the cluster
- edit `kube-dns-autoscaler` ( I believe @jprzychodzen miss typed the name of configmap above, please verify) configmap under `kube-system` namespace to the value mentioned by @jprzychodzen above.

[2021-02-17 04:44] rifelpet commented on #20738
thanks to e2e.test's `-test.timeout=` we now have artifacts on [timed out jobs](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/e2e-kops-aws-distro-imageubuntu2004/1361760470045822976). I've been doing some investigation trying to pinpoint any specific tests - any tests no longer having its status reported indicates it might be hung. Unfortunately there aren't any consistently missing test re

[2021-02-17 06:48] RobertKielty commented on #18599
@spiffxp will review and update #19286 today.

I will reach out to you before my EOD if I need help.

[2021-02-17 08:58] jprzychodzen commented on #20716
@cjwagner I was just referring to scaling configuration for kube-dns, which of course is controlled in ConfigMap object `kube-dns-autoscaler`. Please change that value in `kube-dns-autoscaler`.

For NodeLocal DNSCache, please run `gcloud container clusters update prow-build --update-addons=NodeLocalDNS=ENABLED`, this will enable NodeLocalDNS during the next node upgrade, as mentioned in [GCP docum

[2021-02-17 15:18] matthyx commented on #16793
Yes, this is exactly the issue, and is covered by this unit test:
https://github.com/kubernetes/test-infra/blob/aca1f62ad3975ae70fb78362aea9db543d8627d3/prow/plugins/approve/approvers/approvers_test.go#L360

[2021-02-17 15:19] matthyx commented on #16793
I don't know... but is it a behavior you are willing to change?

[2021-02-17 16:43] BigDarkClown opened #20883 "Kubetest for GKE should support --autoprovisioning-config-file upon cluster creation"
**What would you like to be added**:

Some GKE cluster creation arguments, such as `--autoprovisioning-config-file`, require creating a file containing desired config first, and then providing the filename during cluster creation. There is currently no way to provide this config and put it into file which could be provided during cluster creation.

**Why is this needed**:

Some NAP settings are co

[2021-02-17 17:33] claudiubelu opened #20884 "E2E test images: httpd images failed to push to staging"
**What happened**:

The Image Builder postsubmit jobs ``post-kubernetes-push-e2e-httpd-test-images`` and ``post-kubernetes-push-e2e-new-httpd-test-images`` are failing with a 401 Unauthorized error while trying to push to ``gcr.io/k8s-staging-e2e-test-images``.

**What you expected to happen**:

It should have been able to push the images.

**How to reproduce it (as minimally and precisely as poss

[2021-02-17 17:33] claudiubelu commented on #20884
/assign @spiffxp

[2021-02-17 18:25] spiffxp opened #20886 "Make it clear which version of kubetest or kubetest2 is being used"
We may have `deprecated` kubetest, but it's still in use.  Whatever we do here should support `kubetest2` or be included in `kubetest2`

https://github.com/kubernetes/kubernetes/pull/96987#issuecomment-780646063 is an example of confusion over the fact that changes to `kubetest` don't take effect until job configs are updated to a new image (e.g. `kubekins`)

We could stand to document how changes

[2021-02-17 18:26] spiffxp commented on #20886
/help
/kind cleanup
/sig testing
/area kubetest
/priority important-soon
/milestone v1.21

[2021-02-17 19:17] spiffxp commented on #19922
/priority important-soon
Version markers are off again

stable1 should be v1.20, since it's the most recent release
[code]
This means "master/stable1" skew jobs that think they're going most-recent release to master (v1.20/v1.21), are in fact skewing by two versions (v1.19/v1.21)

beta should either not be used by any current jobs (it is), or should point to v1.21
[code]

`stable3` points to v1.17

[2021-02-17 21:19] spiffxp commented on #19922
Markers in k8s-release-dev were rolled forward, markers in kubernetes-release-dev were not.  PR to address here: https://github.com/kubernetes/test-infra/pull/20887

[2021-02-17 21:32] hh commented on #19613
/close

Rather than change the default jobs, we opted to created conformance specific jobs.

[2021-02-17 21:32] #19613 closed

[2021-02-17 23:50] #12138 closed

[2021-02-17 23:50] #13740 closed

[2021-02-17 23:50] #14875 closed

[2021-02-18 00:56] arturo-skydio commented on #16472
Sorry @matthyx , not sure if you already started work, but my org and tide instance really needs this as well, so I created a PR #20892, and testing with this other setting we have #20679

[2021-02-18 04:09] BenTheElder commented on #16793
Seems a bit silly to suggest assigning someone who is already assigned, if nothing else? Perhaps we can just not suggest then?

[2021-02-18 06:05] matthyx commented on #16472
no problem...
/assign @arturo-skydio

[2021-02-18 11:31] matthyx commented on #16793
I have opened a PR for that, but it's changing the logic in place, we need to check with @cjwagner

[2021-02-18 14:44] spiffxp commented on #20884
In case the problem is with the k8s-staging-e2e-test-images project, I looked at other jobs that push to that
- http push worked 2020-02-09: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-httpd-test-images/1359074409377173504
- agnhost push worked 2020-02-12 (last friday): https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-agnhost-test-imag

[2021-02-18 14:45] spiffxp commented on #20884
Nothing merged to https://github.com/kubernetes/test-infra/commits/master/config/jobs/image-pushing in between last pass / first fail

[2021-02-18 14:56] spiffxp commented on #20884
Things merged to https://github.com/kubernetes/k8s.io that could have changed something:
- 2020-02-12 -  https://github.com/kubernetes/k8s.io/pull/1639 - removed windows-img-promoter-cert secrets (manually: https://github.com/kubernetes/k8s.io/issues/1638#issuecomment-777609605) (I thought these were unused though?)
- 2020-02-12 - https://github.com/kubernetes/k8s.io/pull/1643 - vulndash related s

[2021-02-18 17:36] spiffxp commented on #20884
I saw cluster-api-aws recently push an image, so using them as a known-good

[code]

no diff in gcs iam; the e2e project appears to have additional role bindings, but how would that restrict access?
[code]

[2021-02-18 18:44] spiffxp commented on #20884
retrying the gcb build of this image that worked last week https://console.cloud.google.com/cloud-build/builds;region=global/818e9010-29ad-4fa2-ab81-7547c6f1c0c8?project=k8s-staging-e2e-test-images

[2021-02-18 18:51] spiffxp commented on #20884
that worked, which leads me to believe a change introduced by https://github.com/kubernetes/kubernetes/pull/99030 is the culprit

[2021-02-18 19:06] claudiubelu commented on #20884
I wonder how. The changes in that PR affects Windows, since those changes are made into the ``Dockerfile_windows`` files. The only change outside of those files are the ``VERSION`` files, which changed ``2.4.38-alpine`` to ``2.4.38-1``. Note that the failure ocucrs *before* getting to the Windows images, it fails on the ``linux/amd64`` image, which is the first one in the list.

[2021-02-18 19:11] spiffxp commented on #20884
I can't find a reference for this but I'm wondering if the docker registry api doesn't like that tag format?

[2021-02-18 19:15] spiffxp commented on #20884
https://docs.docker.com/engine/reference/commandline/tag/#extended-description

which makes it sound like the new tag would be valid

[2021-02-18 19:18] cjwagner commented on #16793
I don't think we want to suggest a completely different approver in this case, but rather avoid suggesting reassignment for someone that is already assigned. I left a comment with more details on the PR. Let me know if you agree.

[2021-02-18 19:21] claudiubelu commented on #20884
I was able to build and push ``claudiubelu/httpd:2.4.38-1``, which includes ``claudiubelu/httpd:2.4.38-1-linux-amd64``: https://paste.ubuntu.com/p/G5ydg43RZm/ (the logs from the first images were cut)

[2021-02-18 20:02] spiffxp commented on #20884
Going to try messing with the source file contents and submitting builds manually
[code]

[2021-02-18 20:04] spiffxp commented on #20884
Same result (same SHA as before)
[code]

[2021-02-18 20:23] spiffxp commented on #20884
trying a different image
[code]
yields a similar error
[code]

[2021-02-18 20:52] spiffxp commented on #20716
We use terraform to manage these clusters, will this cause terraform to think it needs to recreate the cluster? e.g.
- https://github.com/kubernetes/k8s.io/tree/main/infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build
- https://github.com/kubernetes/k8s.io/tree/main/infra/gcp/clusters/modules/gke-cluster

[2021-02-18 20:58] amwat commented on #20883
For advanced use cases (such as this) we already expose a way to customize the create call

https://github.com/kubernetes/test-infra/blob/da3e82a55e41120ea0355a9e59bc57dc2b012d83/kubetest/gke.go#L53

Can you try to see if that works for your use case?

[2021-02-18 21:03] spiffxp commented on #20884
Using source file from "good" build (gs://k8s-staging-e2e-test-images-gcb/source/1612863662.49-29f09d2c41c5417f952f03585182c7aa.tgz)

Manually submitting with no changes works

Changing to push nginx with new version
[code]
yields a similar error
[code]

so... new tag, unchanged manifest = error... is this working as intended, or should we be allowing this?

[2021-02-18 22:30] bsdnet commented on #19384
I will take a look at the doc @knabben

[2021-02-18 23:31] chaodaiG commented on #20716
I have drafted a change to this https://github.com/kubernetes/k8s.io/pull/1680, it shouldn't trigger cluster recreation

[2021-02-18 23:33] spiffxp commented on #20884
https://cloud.google.com/container-registry/docs/access-control#permissions_and_roles

my guess now is that `update` or `delete` permissions may be missing, if someone wants to take a look through https://github.com/kubernetes/k8s.io/blob/main/infra/gcp/ensure-staging-storage.sh and files it sources, a PR would be appreciated

[2021-02-19 07:18] BenTheElder commented on #19384
From SIG testing POV the name change sounds good but we don't really have the bandwidth to focus on this and IMHO I consider the VM image naming SIG node or at least the Google Node team.

[2021-02-19 09:54] ydcool opened #20914 "Unable upload conformance result to bucket"
I have updated my email in groups.yaml (https://github.com/kubernetes/k8s.io/pull/1600) , but still have no access to upload files to the bucket

**What happened**:

[code]

**What you expected to happen**:

upload file success with using the command above.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Please provide links to example occurrences, if any**:

**Anythi

[2021-02-19 09:54] ydcool commented on #20914
/help

[2021-02-19 10:13] matthyx commented on #16793
Thanks @cjwagner at least the good news is that the layered set works and I no longer have to tweak this part of the code :)

[2021-02-19 11:19] BigDarkClown commented on #20883
I have tried this approach, but it does not address the core of the problem I have. Yes, I can provide a flag this way, but **first** I have to create a file containing configuration that will be passed with that flag. So basically I would need to have some additional way to pass a NAP configuration into the file that `gke-create-command` can access.

[2021-02-19 14:04] spiffxp commented on #20716
/milestone v1.21

[2021-02-19 14:08] spiffxp commented on #18653
/priority backlog

[2021-02-19 14:14] spiffxp commented on #20884
/wg k8s-infra
/sig testing
/area prow
/priority critical-urgent
/milestone v1.21

[2021-02-19 18:26] spiffxp opened #20922 "Add ability to filter by cluster in deck"
**What would you like to be added**:
Ability to filter jobs by `cluster` in deck, as is currently supported for e.g. https://prow.k8s.io/?type=postsubmit&state=pending

**Why is this needed**:
When performing maintenance on a given build cluster, I would like to be able to glance at all jobs running on that cluster over a given time period.  This allows me to verify whether there was disruption du

[2021-02-19 21:22] spiffxp commented on #20716
https://github.com/kubernetes/k8s.io/pull/1686#issuecomment-782357788 - the addon should be installed to `k8s-infra-prow-build` after N hours

regarding editing the config map, where are the numbers coming from?  is this something we could check in as a resource to apply automatically?

[2021-02-19 21:26] spiffxp commented on #20716
This is the current setting
[code]

[2021-02-19 21:30] chaodaiG commented on #20716
I have briefly looked at terraform doc, doesn't seem like there is a way to apply configmap

[2021-02-19 21:31] chaodaiG commented on #20716
The numbers were from "trial-and-error" as I have guessed, basically scaling up node-local-dns pods from 1 pod per 16 nodes, to 1 pod per 4-8 nodes.

[2021-02-19 21:37] spiffxp commented on #20716
That's fine, I chose to have the build cluster terraform stop at the "infra" layer.  It gets a cluster up and configured, but what is deployed to that cluster is something else's responsibility.

In this case, files in a given cluster's `resources` dir get `kubectl apply`'d by a prowjob, much the same way prow.k8s.io is deployed from the `cluster/` dir (ref: https://testgrid.k8s.io/wg-k8s-infra-k8

[2021-02-19 21:47] chaodaiG commented on #20716
Generally sgtm. There is one catch, it's a system configmap with value formatted as string, so the interface change in the future will  fail silently

[2021-02-20 04:09] Bobgy commented on #14343
I'm fixing build cluster setup for tests of other test clusters.
Tests for kubeflow/testing can be found in https://oss-prow.knative.dev/?repo=kubeflow%2Ftesting.

Current error: https://oss-prow.knative.dev/log?job=kubeflow-testing-presubmit&id=1362976347659440128

Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, load

[2021-02-20 04:10] Bobgy commented on #14343
Other Kubeflow tests do not use pod-utils, they directly write to the prow gcs bucket to report status back to prow.

@chaodaiG what would be recommended location of these artifacts in gcp oss prow?

[2021-02-20 04:42] Bobgy commented on #14343
Corresponding trigger code lives in https://github.com/kubeflow/testing/blob/aad63589e8c98fd021121e17a08c948f4658c889/images/run_workflows.sh

[2021-02-20 07:14] Bobgy commented on #14343
I'd like some feedback, I'm starting to think that I should just refactor it to use pod-utils instead, it seems we can maintain fewer stuff this way.

There's one feature I'm not sure how to use with pod-utils --
![image](https://user-images.githubusercontent.com/4957653/108587387-382dad80-738e-11eb-81fb-b95152948873.png)
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_testin

[2021-02-20 07:44] Bobgy commented on #14343
and I found our code to manually create `started.json` etc files: https://github.com/kubeflow/testing/blob/370a8b3dab266b8274cecc8c9b742ab54983348d/py/kubeflow/testing/prow_artifacts.py#L26

[2021-02-20 08:01] Bobgy commented on #14343
Corresponding gubernator gcs path for gcp oss prow seems to look like: gs://oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1362898955494494208

[2021-02-20 08:46] #17922 closed

[2021-02-20 09:09] hi-rustin commented on #20128
@fejta Is this new feature acceptable? I am willing to help implement this feature.

[2021-02-20 15:18] spiffxp commented on #20922
/assign
/remove-help
I ended up writing //github.com/kubernetes/test-infra/pull/20929 while I was waiting for k8s-infra-prow-build to finish upgrading

[2021-02-20 16:09] chaodaiG commented on #14343
Migrating to pod-utils is highly recommended. the meta data expected can be done by writing a file called `metadata.json` under `$ARTIFACTS` dir in prow job. There is a util https://github.com/knative/test-infra/blob/master/pkg/metautil/client.go and a tool https://github.com/knative/test-infra/blob/master/kntest/pkg/metadata/command.go (Invoked by https://github.com/knative/test-infra/blob/fb344e

[2021-02-20 16:13] chaodaiG commented on #14343
A prow job doesn't and shouldn't need to know where the results are stored, anything stored under `$ARTIFACTS` directory in a prow job is uploaded into `artifacts` directory in GCS and will be discovered by spyglass

[2021-02-21 00:12] spiffxp commented on #5183
/reopen
/remove-lifecycle rotten
/remove-area gubernator
/area prow/crier
/area prow/deck

Since I happened to be reviewing https://github.com/kubernetes/test-infra/pull/17142 for part of https://github.com/kubernetes/test-infra/issues/10402 (comment on PR on postsubmit failure)

The GitHub reporter explicitly does not report for a prowjob with N pulls in its refs
https://github.com/kubernetes/tes

[2021-02-21 03:03] spiffxp commented on #5183
/area prow/tide
/area prow/spyglass

[2021-02-21 03:04] spiffxp commented on #5183
/sig testing
/priority important-longterm
/lifecycle frozen

[2021-02-21 05:13] Bobgy commented on #14343
Looks great, can I confirm whether the custom key value pairs can show when the test is still running?

[2021-02-21 10:11] #19242 closed

[2021-02-22 03:37] #20922 closed

[2021-02-22 05:18] chaodaiG commented on #14343
I'm afraid that it's not, I have just inspected one of the same job as in the example I pointed out above, and after 1 hour it's still not displayed (The metadata.json file should have been created long before that).

[2021-02-22 17:26] spiffxp commented on #20816
/close
Same query link as above... seems to have stopped happening near 2020-02-19 20:00:00Z
![Screen Shot 2021-02-22 at 12 06 05 PM](https://user-images.githubusercontent.com/49258/108743013-5a4a3b80-7506-11eb-82af-a5686b70ae5e.png)

How does this line up with updating `k8s-infra-prow-build`?
- `2021-02-19T19:40:21Z` - control plane upgrade to v1.17 finished (ref: https://github.com/kubernetes/k8

[2021-02-22 17:26] #20816 closed

[2021-02-22 19:22] spiffxp commented on #20914
/assign @BenTheElder
/remove-help
/wg k8s-infra
/sig testing
/sig architecture
/area conformance
/milestone v1.21
/priority important-soon

[2021-02-22 21:13] spiffxp commented on #20716
https://github.com/kubernetes/k8s.io/pull/1691 merged, which deployed the configmap changes
[code]

If you need to make any further changes, please do so by opening PR's against that repo

---

If I look at https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100&width=5 as reference, this problem seems to have resolved once the dns cache was enabled (but before this pat

[2021-02-22 21:28] spiffxp commented on #20716
I'm trying to see if I can find a cloud logging query that shows the extent of this issue, and to confirm it's gone

[2021-02-22 22:13] spiffxp commented on #20884
Per https://cloud.google.com/container-registry/docs/gcr-service-account, the GCR service account for staging projects today may be overprivileged:
- `service-{project_id}@containerregistry.iam.gserviceaccount.com` should have role `roles/containerregistry.ServiceAgent`
- `service-{project_id}@containerregistry.iam.gserviceaccount.com` should NOT have role `roles/editor`

Per https://cloud.google.

[2021-02-22 22:41] spiffxp commented on #20884
Give GCR's SA `roles/storage.objectAdmin` directly on the gcr.io bucket
[code]

[2021-02-22 23:19] BenTheElder commented on #20914
The current GCP user must have access to the bucket. There's not much we can do about that here in test-infra..

This seems to be an issue with the k8s.io configuration? I don't remember if this is automated at all.

[2021-02-23 00:54] chaodaiG opened #20954 "Prow/spyglass/junit lense: not able to handle large number of junit result files in GCS"
**What happened**:

When there are lots of junit result files, i.e. 1000 of them, even if each file only contains single test case, spyglass would not be able to load it.

**What you expected to happen**:

Spyglass can handle large number of files.

**How to reproduce it (as minimally and precisely as possible)**:

Run a prowjob that generates large number of junit results files.

**Please provide

[2021-02-23 00:55] chaodaiG commented on #20954
/area prow
CC @cjwagner @fejta @michelle192837 @alvaroaleman

[2021-02-23 01:58] spiffxp commented on #20884
Giving GCB's SA `roles/storage.legacyBucketOwner` directly on the gcr.io bucket to give it `storage.buckets.update`
[code]
The only other storage role with `storage.buckets.update` is `roles/storage.admin`, which also has `storage.buckets.delete` (which I'm trying to avoid)

[2021-02-23 02:17] spiffxp commented on #20884
I'm now beginning to wonder if something about `docker buildx --output=type=registry` is not using the appropriate auth?

[2021-02-23 02:53] spiffxp commented on #20884
Looks like this bug [pusher does not authenticate properly for gcr"](https://github.com/containerd/containerd/issues/4622), present in containerd 1.4.3 (which is what `docker version` is dumping for this job)

- Fix landed for containerd master 2020-12-16 (https://github.com/containerd/containerd/pull/4854)
- Was cherry-picked back to release/1.4 2020-01-14 (https://github.com/containerd/container

[2021-02-23 02:56] spiffxp commented on #20884
/assign @claudiubelu
I need to move on to other stuff for a few days.  Do you think it'd be possible to workaround by having `buildx` not push, and using something else instead (maybe regular `docker`?)

[2021-02-23 03:33] spiffxp commented on #20716
/close
I cannot ("Cannot resolve github.com" can appear in a number of different containers/fields, so the logging queries go through TB of data and seem to be erroring out at the moment)

But I also haven't seen any occurrences of "Cannot resolve github.com" since the cluster's nodes were recreated.

Please /reopen if you run into this again

[2021-02-23 03:33] #20716 closed

[2021-02-23 04:26] BenTheElder commented on #20884
multi-arch images built as multi-arch by buildkit can only be exported with pushing last I checked :|
https://github.com/docker/buildx/issues/59

I think _maybe_ you can build the image without setting `--load` or `--push` (which will warn but build them to the cache) and then one by one `--load` them and construct a manifest list or something but ... that's kludge.

you could push to a local regi

[2021-02-23 04:41] chaodaiG commented on #20954
Was expecting to debug with runlocal but could not repro locally.

![Screen Shot 2021-02-22 at 8 38 17 PM](https://user-images.githubusercontent.com/45011425/108802848-ff3c3700-754d-11eb-9913-56a9b0dd956f.png)

Note that runlocal with anonymous GCS authentication failed rendoring spyglass page with:
[code]
Didn't figure out how to fix that so passed in my own gcs credential for runlocal, not sure

[2021-02-23 06:39] spiffxp commented on #20914
Can't troubleshoot the user getting access through groups because of https://github.com/kubernetes/k8s.io/issues/1695

[code]

Looking at IAM for the bucket in question
[code]

It's missing permissions for `group:k8s-infra-conform-inspur@kubernetes.io`.  This is scripted, but not automatically run.   See https://github.com/kubernetes/k8s.io/blob/e0aa798c58a4cc10dd4c798ff90d8cd4bc1a0e6e/infra/gcp/e

[2021-02-23 06:50] spiffxp commented on #20914
This looks correct.
[code]

Ideally if you're uploading these automatically, you should use the service account, e.g.
[code]

[2021-02-23 06:51] spiffxp commented on #20914
/assign @ydcool
please /close once you've verified this works

[2021-02-23 07:16] ydcool commented on #20914
Yes, it works now, thank you so much! @spiffxp

[2021-02-23 07:16] #20914 closed

[2021-02-23 07:58] amwat commented on #20883
Still not sure I understand completely, does an existing file on disk from wherever you are invoking kubetest not work?
shouldn't be any different from passing each argument individually to kubetest and then kubetest creating that same file.

[2021-02-23 07:59] spiffxp commented on #18549
I think the following PRs can close this out:
- https://github.com/kubernetes/test-infra/pull/20885 - enforced that all release-blocking jobs pull from gs://k8s-release-dev
- https://github.com/kubernetes/test-infra/pull/20963 - proposes moving bazel-build jobs to release-informing
- https://github.com/kubernetes/test-infra/pull/20964 - proposes renaming build jobs to build-deprecated and moving t

[2021-02-23 08:00] spiffxp commented on #18549
/assign
/assign @justaugustus
Can you think of anything else that needs to happen to call this done?

[2021-02-23 08:03] BenTheElder commented on #20914
Thank you @spiffxp !

[2021-02-23 08:12] spiffxp commented on #19483
- https://github.com/kubernetes/test-infra/pull/20885 - enforced that all release-blocking jobs pull from gs://k8s-release-dev
- https://github.com/kubernetes/test-infra/pull/20964 - proposes renaming build jobs to build-deprecated and moving to release-informing, renaming build-canary jobs to build and moving to release-blocking

[2021-02-23 08:21] jprzychodzen commented on #20716
Thanks @spiffxp @chaodaiG

Job https://testgrid.k8s.io/sig-scalability-gce#gce-cos-1.19-scalability-100 was flaking a lot, it seems that problem is not resolved.

[2021-02-23 10:47] Bobgy commented on #14343
Hmm, we'd want to show an URL to a tekton instance running the steps, and ideally when the job is still running.
Also, if I need to refactor the tests to use pod-utils, that would be quite some work just for migration. Can this be allowed as an exception?

[2021-02-23 14:12] alvaroaleman commented on #20954
@chaodaiG is this an issue you actually encountered somewhere or just something you figured could happen?

I suppose we can parallelize the fetching to some degree, if the wallclock time of fetching is the issue.

[2021-02-23 14:52] chaodaiG commented on #20954
@alvaroaleman , this was observed by one of our users on our internal prow instance, repro it here just for illustrating the problem.

As far as I can tell the fetching of artifacts is already parallelized https://github.com/kubernetes/test-infra/blob/1da5e48e74af998daa92ea9ad5c135bd28feef45/prow/spyglass/lenses/junit/lens.go#L146, my suspicion was GCS throttling but there is no evidence yet.

[2021-02-23 15:12] jprzychodzen commented on #20716
Sorry, a typo in my comment. I've fixed it. Thanks again for handling this issue.

s/not/now changes meaning a lot ;-)

[2021-02-23 15:41] chaodaiG commented on #14343
`started.json` is a prow property that prow relies on, modifying it during runtime is not preferable imho. Would highlight the URL in build log work for you?

The biggest concern of the old approach, is that the service account used for running test pod can access a shared GCS bucket that all prow jobs use, which technically is a security concern. But if it's preferable to you we can work together

[2021-02-23 16:55] chaodaiG commented on #20954
One more experiment: combining the junit results in https://github.com/kubernetes/test-infra/pull/20969 and spyglass rendered junit section pretty fast https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/20969/pull-test-infra-bazel/1364256884990676992

[2021-02-23 19:16] #19575 closed

[2021-02-23 19:32] #20631 closed

[2021-02-23 19:33] cjwagner commented on #14343
We have uniform bucket ACLs enabled so 1 is not an option. 2 should work though and may be worthwhile either way since we'd like to move toward per-team GCS buckets.
That being said I'm curious about why refactoring to use the pod utilities would be difficult. I wouldn't expect it to be much work given that it would primarily entail removing steps that are handled automatically by the pod utils. A

[2021-02-23 19:34] MushuEE opened #20971 "ci-k8sio-audit consistent failures for a long time"
**What happened**:
[TestGrid](https://testgrid.k8s.io/wg-k8s-infra-k8sio#ci-k8sio-audit)
[Job](https://github.com/kubernetes/test-infra/blob/6b7add7d35895a1d71da825878a1d0b2eac0326b/config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml#L25-L98)

In investigating `pr-creator` usage, I found this job. It has been long failing with
[code]

**What you expected to happen**:
Successful e

[2021-02-23 19:51] #20971 closed

[2021-02-23 23:15] BenTheElder commented on #19555
500MB is ... quite a lot?
Improving the behavior here sounds nice but I'd probably be inclined to suggest looking at why the log is so enourmous first tbh.

[2021-02-23 23:23] chizhg commented on #19555
We've already reduced the log size a lot for Knative, so it's not an issue for Knative now.

[2021-02-24 00:51] chases2 opened #20988 "TestGrid: Links to Spyglass are malformed by default"
**What happened**:
Clicking on a little rectangle brings me to a spyglass error instead of the logs expected.

**Please provide links to example occurrences, if any**:
Testgrid example: https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%201.20
Linked job: https://prow.k8s.io/view/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-1-20/1364346208910315520
Correct link: http

[2021-02-24 00:54] #20988 closed

[2021-02-24 00:56] spiffxp commented on #20859
/reopen
I think https://github.com/kubernetes/test-infra/pull/20902 caused https://github.com/kubernetes/test-infra/issues/20988, followup PR to fix: https://github.com/kubernetes/test-infra/pull/20987

Can manually close when we confirm things still work as expected

[2021-02-24 01:11] spiffxp commented on #20988
/sig testing

[2021-02-24 15:45] MjAbuz opened #21002 "Prow issue: Internationalization"
DCO Signed Off By @MjAbuz azmikbal@gmail.com

[2021-02-24 16:08] spiffxp commented on #20829
GitHub asked if it was possible for us to try a maintenance window approach (disabling prow just prior to a branch rename, and then enabling afterward)

This would look like disabling the `trigger` plugin for a given repo.  Currently `trigger` is defined at the org level, we would need to either:
- define trigger for all repos within an org, and then remove it from the repo we want to rename
- add

[2021-02-24 16:21] jkaniuk commented on #17097
/remove-lifecycle stale

[2021-02-24 16:23] jkaniuk commented on #17097
Looks like pull-kubernetes-kubemark-e2e-gce-big template is still broken (and 1.20 presubmit as well):

https://github.com/kubernetes/test-infra/blob/a112810d6a51fff217455593e6d085c5ab1e2a0a/config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml#L1309

[2021-02-24 16:24] jkaniuk commented on #17097
@marseel as an oncall

[2021-02-24 16:52] cblecker commented on #20829
Just some numbers to think about:
- Currently there are 4 repos in @kubernetes that have over 100 open PRs: kubernetes, test-infra, website, enhancements
- Other than k/k, the other three are *just* over 100
- k/k has 997 at this moment

If we can handle ~100 retest PRs at once, then k/k becomes the only concern. If that's the case, maybe we just turn off the org-wide webhook in the GH config once

[2021-02-24 17:46] spiffxp commented on #19483
/close
Work related to fully deprecating the google-hosted artifacts from these jobs (https://github.com/kubernetes/test-infra/issues/19483#issuecomment-767170901) will be tracked under https://github.com/kubernetes/k8s.io/issues/1571

[2021-02-24 17:46] #19483 closed

[2021-02-24 17:48] spiffxp commented on #18549
Tangentially related: followup work to deprecate google-hosted artifacts related to release-blocking builds will be tracked under https://github.com/kubernetes/k8s.io/issues/1571

[2021-02-24 18:19] SergeyKanzhelev commented on #18570
/assign @knabben

Let's write down a small proposal on which versions of Containerd we want to test on which versions of kubernetes and where to put these tests

[2021-02-24 18:33] spiffxp commented on #18549
/close
Calling this done!

[2021-02-24 18:33] #18549 closed

[2021-02-24 18:36] spiffxp commented on #18551
/remove-priority critical-urgent
Top 3 items have been completed!

[2021-02-24 18:38] chases2 commented on #20859
Links to spyglass are now working as intended. Closing issue. Thanks!

[2021-02-24 18:38] #20859 closed

[2021-02-24 19:33] chewong commented on #20884
AFAIK the only `--output` option when building Windows images on a Linux machine with buildx is `type=registry`. We won't able to load them unless we have a remote Windows docker host.

[2021-02-24 19:36] BenTheElder commented on #20884
That's not incompatibile with a local registry.

I don't think that's the case. You can pull docker images that are not for the host platform.

[2021-02-24 19:40] chewong commented on #20884
That's not the case for Windows images :/
[code]

[2021-02-24 19:40] michelle192837 opened #21005 "Should "leader election lost" not be a fatal error?"
Since leader election losses are expected, it's confusing to have them logged as a fatal error (and alerting should catch cases where components repeatedly fail to come up). Should these be a less severe warning instead?

Error:
[code]

/area prow
/cc @alvaroaleman

[2021-02-24 19:41] michelle192837 commented on #21005
/kind oncall-hotlist

[2021-02-24 19:47] claudiubelu commented on #20884
Then, why now? We have built and pushed all the current images like this and it worked.

That's what I knew too. It might be possible to push Linux images built with ``docker buildx`` (not sure, will have to check), but if I remember correctly, I couldn't refer to the Windows images built with ``docker buildx``. Will have to recheck this to refresh my memory.

Currently, we are setting the flag ``

[2021-02-24 19:59] alvaroaleman commented on #21005
The binary needs to exit for safety reasons, so it must be a fatal error. If this happens repeatedly, that is indicative of your apiserver or the controller being resource starved.

[2021-02-24 20:45] ehashman opened #21006 "`needs-rebase` application is delayed, only seems to be triggered on comment"
**What happened**:

For many PRs in k/k that I've triaged, there were conflicts present for days, but the needs-rebase label is not getting applied automatically. The bot only seems to apply it upon prompting.

**What you expected to happen**:

`needs-rebase` should be applied as soon as a merge conflict is present (with some reasonable buffer).

**How to reproduce it (as minimally and precisely a

[2021-02-24 21:12] fejta commented on #10402
Commits may or may not include a PR. I would prefer prow:
* Report postsubmit jobs to the commit, rather than the PR
  - This is already where we report the status
* Listen for comments added to the commit, allowing /retest, etc
* Potentially drop a note on the PR (once) noting that postsubmits were triggered at commit X

[2021-02-24 22:41] spiffxp commented on #21006
/sig testing
/area prow
/area prow/hook

[2021-02-24 22:51] alvaroaleman commented on #21006
The basic issue is that a state change to needs-rebase doesn't have an event associated, as its the result of the base branch changing (usually). So the only way to figure this out is to scan all PRs, which is expensive in terms of github api quota.

What happens today is that we check all PRs every 24 hours for this: https://github.com/kubernetes/test-infra/blob/ae42f5b65b6577cf20f0c58d238d96524a

[2021-02-24 22:57] ehashman commented on #21006
I'm certain that PRs are currently being missed right now. The example PR of https://github.com/kubernetes/kubernetes/pull/88172 has needed a rebase for well over 24h -- I think the incompatible change was made 5mo ago.

[2021-02-25 02:48] spiffxp commented on #20829
FWIW GitHub reports they may have figured something out on their end and will update us when they're ready for us to try another rename

[2021-02-25 02:53] spiffxp commented on #13432
Still seeing hiccups, but the duration has slowed

[2021-02-25 02:56] BenTheElder commented on #20829
It really depends on what the repo is running. Temporarily disabling trigger for a repo sounds like a reasonable workaround though.

[2021-02-25 04:08] adisky commented on #18570
from containerd repo https://github.com/containerd/cri#support-metrics
containerd 1.4 : k8s v1.19, v1.20
containerd 1.3 : k8s v1.15+
so i think we can test in following combinations
[code]

[2021-02-25 12:26] fgimenez commented on #20756
/assign
/remove-help

I'd like to give it a try, will follow @spiffxp suggestion and ping you when ready :)

[2021-02-25 13:48] goern opened #21025 "tide not looking for PR created by GitHub App?"
**What happened**:
We have a certain category of PR being created by a GitHub App, https://github.com/marketplace/khebhut Therefore the user creating the PR is `"user.login": "khebhut[bot]"`, the corresponding GitHub query seems to require `author:app/khebhut`.

Tide is not finding this kind of PR.

**What you expected to happen**:

Tide should figure out that the PR has been create by a [bot] and

[2021-02-25 16:45] ehashman commented on #21006
https://github.com/kubernetes/kubernetes/pull/68726 another example of a PR that needed a rebase for months but it only got applied after an action (in this case, me closing the PR)

[2021-02-25 17:21] chaodaiG opened #21027 "Presubmit test-infra bazel test: reduce flakiness caused by image pull failures"
**What should be cleaned up or changed**:

It has been lately observed that presubmit bazel test has been pretty flaky on image pulling failures from code paths that are totally unrelated with the PR. Would be nice to reduce the flakiness by:

- Understand why bazel test needs to pull images, whether it's possible to avoid the pulling.
- If not possible, is there any chance to cache the image to m

[2021-02-25 17:22] chaodaiG commented on #21027
CC @alvaroaleman

[2021-02-25 17:33] MushuEE commented on #13432
Thanks, I will check on the instances

[2021-02-25 17:36] MushuEE commented on #13432
Does appear we had another lockup

[2021-02-25 18:16] spiffxp commented on #20756
@fgimenez I'm happy to make suggestions, but you should definitely get approval from @chases2 or @chaodaiG on this PR.  If we consider flags as api, this would be a breaking change, and they will better understand the implications.

[2021-02-25 19:22] BenTheElder commented on #21027
IIRC: `WORKSPACE` depencencies are resolved before doing any computation of the targets. Container images are workspace dependencies.

Bazel doesn't support remote cache for this (`WORKSPACE`) using HTTP remote cache or RBE. It could be done by persisting the local `~/.cache/bazel`, though that can grow unbounded (normally a user might periodically delete it with e.g. `bazel clean --expunge`) and

[2021-02-25 19:45] #19658 closed

[2021-02-26 04:39] BenTheElder commented on #21002
Hi: Do you have more details on what you're looking for here?

In most contexts I would suspect internationalizing Prow is impractical, as Kubernetes development is in english and comments are posted publicly for all readers instead of directly to one individual or grouup.

Aside: This project does not use the DCO and I've never seen DCO signatures on issues 🤔

[2021-02-26 04:40] BenTheElder commented on #20886
cc @amwat

[2021-02-26 06:54] #21002 closed

[2021-02-26 15:13] stevekuznetsov commented on #18226
Yes, just make sure the mount doesn't :bomb:  the directory.

[2021-02-26 16:11] spiffxp commented on #7769
/help

[2021-02-26 16:35] BenTheElder commented on #18226
AFAICT that means you must run a copy step from some other location in the image to populate the volume prior to running the normal clonerefs? Is open shift also doing this or something else?

Hacky prototype for Kubernetes in https://github.com/kubernetes/test-infra/pull/21031

[2021-02-26 19:17] spiffxp commented on #20829
I just noticed https://github.com/kubernetes/test-infra/pull/20707 landed, which should let us do the temporarily disable dance

[2021-02-26 19:24] alvaroaleman commented on #21025
@goern can you please link to the tide query you have set up? The PRs you linked to have a tide status context, indicating everything works as expected

[2021-02-26 21:51] chemikadze opened #21053 "Config presets validation does not fail on unknown fields"
**What happened**:

Attempt to add `envFrom` (which turned out to be not supported) to config does not produce config parsing errors.

**What you expected to happen**:

Config to be detected as invalid.

**How to reproduce it (as minimally and precisely as possible)**:

Preset snippet:

[code]

**Please provide links to example occurrences, if any**:

Private project, N/A.

**Anything else we need

[2021-02-26 22:37] fejta opened #21057 "plugins.yaml uses old format"
We get the following message in our logs every few seconds:

[code]

ref #20707

/assign @matthyx
/area test-infra-oncall

[2021-02-26 22:38] fejta commented on #21057
/area oncall-hotlist

[2021-02-27 04:35] nm2704 opened #21063 "Deploying Prow guide"
Yesterday I was trying to deploy prow on my minikube setup and there were few aspects I was wondering someone could clarify on

The starter-s3.yaml already registers PAT and the HMAC tokens inside it. With that, what is the relevance of the section titled "Create the GitHub secrets" in the getting_started_deploy.md ? (i.e. besides highlighting the fact that PAT token should be generated inside the

[2021-02-27 15:20] hi-rustin commented on #21025
No problem for me, works fine. Please see: https://github.com/ti-community-infra/tichi/pull/360

Maybe it's a problem with your configuration.

[2021-02-27 15:30] goern commented on #21025
@alvaroaleman  tide config is at https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/config.yaml#L103

the PR have been merged by humans, as tide did do...

@hi-rustin I think we are running basically the same config, wdyt?

[2021-02-27 15:33] hi-rustin commented on #21025
As an example: this repository configuration of yours: https://github.com/thoth-station/thoth-application/blob/fa28df9327aeb9577f498ff23dc719e07d95116e/prow/overlays/cnv-prod/config.yaml#L246

But this [PR](https://github.com/thoth-station/user-api/pull/1286) of yours doesn't pass these required tests, so tide can't merge the pr for you.

[2021-02-27 15:51] alvaroaleman commented on #21025
@goern none of your queries reference an author in any way, hence Tide is not going to include an author in the query, hence whatever your issue, its unrelated to the PR being created by a bot account. Additionally, PRs created by bots generally do work, see for example https://github.com/openshift/assisted-installer/pull/149

[2021-02-27 15:57] goern commented on #21025
thanks for the second and third pair of eyes. I'll have another look at the conditions! Maybe

@alvaroaleman I am still unsure why https://prow.operate-first.cloud/pr?query=is%3Apr%20repo%3AAICoE%2Fsefkhet-abwy%20author%3Akhebhut%20head%3Av0.21.0 is not giving any PR but https://prow.operate-first.cloud/pr?query=is%3Apr%20repo%3AAICoE%2Fsefkhet-abwy%20author%3Aapp%2Fkhebhut%20head%3Av0.21.0 does,

[2021-02-27 16:08] alvaroaleman commented on #21025
@goern Presumably because that query has `head:v0.21.0` in it which is unlikely to match more than one pr unless you created more than one pr from head:v0.21.0. Your app demands access to private repos though, so I am most certainly not going to install it on my gh account.

[2021-02-27 19:41] #17266 closed

[2021-02-27 20:42] #3392 closed

[2021-02-27 23:36] BenTheElder commented on #18943
@kubernetes/sig-windows-bugs I've filed a nominal fix myself https://github.com/kubernetes/test-infra/pull/21068

[2021-02-27 23:50] #18943 closed

[2021-02-28 03:14] alvaroaleman commented on #21027
https://github.com/bazelbuild/rules_docker/issues/673 is the so far ignored bazel issue for this

[2021-02-28 18:33] BenTheElder opened #21072 "testgrid kubevirt/default.yaml not taking effect"
**What happened**:

Go to https://testgrid.k8s.io/kubevirt-periodics#periodic-kubevirt-e2e-k8s-prev and click through to a job result.

Note that it goes to `https://prow.k8s.io/view/gs/...` instead of the configured `https://prow.apps.ovirt.org/`.

**What you expected to happen**:

I expect to see `https://prow.apps.ovirt.org/`

**How to reproduce it (as minimally and precisely as possible)**: Se

[2021-02-28 18:33] BenTheElder commented on #21072
cc @chases2

[2021-02-28 19:06] BenTheElder commented on #21053
https://github.com/kubernetes/test-infra/pull/10812 implemented what you want I think, but was never approved and I got busy with other things.

[2021-02-28 19:14] BenTheElder commented on #21053
actually this seems like a different bug, ref https://github.com/kubernetes/test-infra/issues/11879#issuecomment-514427424

[2021-02-28 19:15] BenTheElder commented on #21072
/triage duplicate
my bad: https://github.com/kubernetes/test-infra/issues/20756

[2021-02-28 19:15] #21072 closed

[2021-02-28 21:08] enjoyindehradun opened #21076 "Prow issue:"

[2021-03-01 01:25] Bobgy commented on #14343
Explaining a little bit of history, there were quite some chunk of code written in Kubeflow CI that had corresponding responsibility of pod utilities --- and no one with familiarity to them are still on the team, so it'll be difficult to migrate because of the unmaintained test code.

Anyway, I've decided to finish the migration first by not setting up presubmit tests for the remaining repos, beca

[2021-03-01 01:27] BenTheElder commented on #18729
In progress:

- pull-kubernetes-bazel-build
- pull-kubernetes-bazel-test

⬇️

- pull-kubernetes-unit

`pull-kubernetes-bazel-build`: rely on e2e jobs to cover the stuff we want to build on every PR, otherwise `make release` runs in postsubmit / periodic.

`pull-kubernetes-bazel-test`: replaced by `pull-kubernetes-unit` (`make test`) and had some overlap with `make verify` (`pull-kubernetes-verify`

[2021-03-01 02:03] BenTheElder opened #21079 "checkconfig probably should not be using a config.Agent?"
I'm pretty sure we want a `config.Load` instead of `agent.Start` (and the same for plugin config)

https://github.com/kubernetes/test-infra/blob/9b84ac948f6eb781a318fa431d547e577ee668e4/prow/cmd/checkconfig/main.go#L230

... but it's possible I'm missing something?

Happy to fix this, but I'm not sure if this was somehow deliberate, they're in the same package so I err somewhat on the side of deli

[2021-03-01 02:05] BenTheElder commented on #21076
Currently this issue looks like a mistake?
<img width="950" alt="Screen Shot 2021-02-28 at 6 04 32 PM" src="https://user-images.githubusercontent.com/917931/109443461-727ef680-79ef-11eb-9de9-e26c6ef8bd44.png">

Please file another with the details from one of the issue templates if you have an issue for us to solve.

[2021-03-01 02:05] #21076 closed

[2021-03-01 03:20] hh commented on #13063
/assign @BobyMCbobs

[2021-03-01 06:43] matthyx commented on #20631
How to migrate old format to new format? You only need to add a level called `plugins` containing the list of plugins.

Here is one example:

[code]

becomes:

[code]

If you want to use `excluded_repos` you can only do so in an `org` definition, as opposed to an `org/repo` definition.

[2021-03-01 16:37] spiffxp commented on #9925
/remove-lifecycle stale
/help

[2021-03-01 18:36] chases2 commented on #15649
There are still 10 accounts, but it seems that demand on these accounts hasn't spiked in this same way for months. Closing the issue.

[2021-03-01 18:36] #15649 closed

[2021-03-01 19:38] claudiubelu commented on #20884
I have been looking into it for a bit. So, the ``--output=type=registry`` is the only viable solution for us, considering we also want the Windows images there. It is a known fact that you simply cannot have Windows images in a "normal docker" on a Linux:

[code]

From my experiments is that ``docker buildx build --output=type=docker`` the other Linux images can actually be referenced locally thro

[2021-03-01 20:19] spiffxp commented on #18159
/remove-lifecycle stale

Presubmits should default to shorter retention to avoid this strain

Maybe true, but I still think testgrid's summary view can provide me a better glance of "how are merge-blocking presubmits doing" vs looking at https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=presubmit at the moment:
- deck only shows 12h of history
- deck doesn't filter on annotations or labels, s

[2021-03-01 20:22] BenTheElder opened #21090 "presubmits were not triggering for kubernetes/kubernetes"
**What happened**:

When a PR is pushed | opened in Kubernetes we're not seeing jobs trigger, just the automatic github statuses for required jobs like:

If you comment `/test all` manually jobs are triggered and run as expected.

**What you expected to happen**:

Tests should start when PRs that do not need `ok-to-test` are opened / pushed

**How to reproduce it (as minimally and precisely as pos

[2021-03-01 20:29] spiffxp commented on #20884
Thank you for looking into this in-depth @claudiubelu

Yeah, doing something to artificially change the SHA sounds like the right call here.  It's not "right" but it's very simple/contained.  Maybe revisit if we're having to do this too often.

https://github.com/kubernetes/test-infra/issues/20884#issuecomment-785322762 would probably be the next step up, stand up a local registry for docker build

[2021-03-01 20:30] BenTheElder opened #21091 "prometheus-operator log noise in prow.k8s.io"
**What happened**:

Lots of logs like:

github.com/coreos/prometheus-operator/pkg/alertmanager/operator.go:237: Failed to list *v1beta2.StatefulSet: the server could not find the requested resource

**What you expected to happen**:

We should run a version that is not failing to list / not spamming the logs

**How to reproduce it (as minimally and precisely as possible)**:

check the logs for the

[2021-03-01 20:32] BenTheElder commented on #21090
panic: runtime error: invalid memory address or nil pointer dereference [signal SIGSEGV: segmentation violation code=0x1 addr=0x90 pc=0x782120] goroutine 2773 [running]: regexp.(*Regexp).doExecute(0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0xc0035a85d6, 0x6, 0x0, 0x0, ...) GOROOT/src/regexp/exec.go:527 +0x560 regexp.(*Regexp).doMatch(...) GOROOT/src/regexp/exec.go:514 regexp.(*Regexp).MatchString(...) GOROOT/s

[2021-03-01 20:32] BenTheElder commented on #21090
we just had some PRs to blockade, looks like we introduced an NPE

[2021-03-01 20:33] spiffxp commented on #21090
https://github.com/organizations/kubernetes/settings/hooks/10485935 - hooks are being delivered

[2021-03-01 20:40] spiffxp commented on #21090
revert https://github.com/kubernetes/test-infra/pull/21092

[2021-03-01 20:54] spiffxp commented on #21090
revert deployed

https://github.com/kubernetes/kubernetes/pull/99609#issuecomment-788270738 a `/retest` worked on a stuck pr

[2021-03-01 21:19] fejta opened #21095 "need-rebase need missing flag"
[code]

/assign

[2021-03-01 21:30] BenTheElder commented on #21090
I think we should probably take another pass over this plugin before enabling this feature again, since I still haven't had a chance to trace back how we got to the NPE fully, but #21093 fixes gating on nil at the callsite where we NPEd at least.

@alvaroaleman also had a suggestion around ensuring hook recovers panics from plugins.

[2021-03-01 21:30] alvaroaleman opened #21098 "Hook should recover panics in plugins"
**What would you like to be added**:

Currently, a panic in a hook plugin will bring down the whole binary. We should instead recover plugin panics and log them as errors.

/area hook
/help

**Why is this needed**:

[2021-03-01 21:30] alvaroaleman commented on #21098
/area prow

[2021-03-01 21:32] BenTheElder commented on #21090
https://github.com/kubernetes/test-infra/issues/21098 for the latter

[2021-03-01 21:49] srm09 opened #21099 "Add new key/value pairs in cluster-api vsphere provider secret"
**What would you like to be added**:
I would like to add two new key/value pairs to the `clusterapi-provider-vsphere-ci-prow` secret. It is a public/private key pair that needs to be used in tests.

**Why is this needed**:
We are enabling log collection for the e2e test suite in [kubernetes-sigs/cluster-api-provider-vsphere](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere). This re

[2021-03-01 21:49] srm09 commented on #21099
/cc @fejta

[2021-03-01 21:51] fejta commented on #21099
`secret/clusterapi-provider-vsphere-ci-prow configured`

[2021-03-01 21:52] #21095 closed

[2021-03-01 22:02] #21057 closed

[2021-03-01 22:46] spiffxp commented on #21090
/retitle presubmits were not triggering for kubernetes/kubernetes

[2021-03-01 23:14] #21090 closed

[2021-03-01 23:29] spiffxp commented on #20455
/assign
I mentioned a few ideas verbally today, I'll jot them down here later

[2021-03-01 23:42] spiffxp commented on #20455
https://github.com/kubernetes/test-infra/issues/20886 is one of them

A more generic approach that would satisfy this is plumbing through the tag(s) of the container(s) run as part of the job

[2021-03-02 00:28] BenTheElder commented on #21098
/area prow/hook

[2021-03-02 02:32] spiffxp commented on #20884
/reopen
I'd like for us to close this once we've confirmed images got pushed

[2021-03-02 02:34] spiffxp commented on #20884
https://github.com/kubernetes/kubernetes/commit/be2a2988a0c6b5f0b66e4ebdc335fc1318e029ca is the commit postsubmits are reporting to
- failed: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-busybox-test-images/1366557273911988224
- failed: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-httpd-new-test-images/1366557274046205952 (... sigh, a

[2021-03-02 03:34] Bobgy commented on #14343
The migration is done!

[2021-03-02 03:34] Bobgy commented on #14343
/close

[2021-03-02 04:42] Bobgy commented on #14343
Actually, there's one last step of adding back the testgrid in gcp oss prow.

[2021-03-02 08:21] prksu opened #21111 "Update the secret value in cluster-api-provider-digitalocean-token"
**What would you like to be added**:

I would like to update the secret value in the `cluster-api-provider-digitalocean-token` secret. It's digital ocean access token that used for cluster-api-provider-digitalocean and kops CI

**Why is this needed**:

Our CI was failing since 2-18 https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-digitalocean#periodic-conformance-v1alpha3
The err

[2021-03-02 09:39] claudiubelu commented on #20884
It seems that it was succesful for the following images:

glusterdynamic-provisioner: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-glusterdynamic-provisioner-test-images/1366557273958125568
httpd: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-httpd-test-images/1366557274016845824
nginx: https://prow.k8s.io/view/gs/kubernetes-jenkins/lo

[2021-03-02 16:46] spiffxp commented on #11782
/remove-lifecycle stale
/lifecycle frozen
/priority important-longterm
/area config
/area jobs

[2021-03-02 18:09] spiffxp commented on #20067
/remove-lifecycle stale
Since @MushuEE mentioned looking back into this offline

[2021-03-02 20:30] srm09 commented on #21099
/close key value pairs were added to the secret

[2021-03-02 20:38] BenTheElder commented on #20816
https://github.com/kubernetes/kubernetes/issues/98768#issuecomment-777563946

[2021-03-02 22:27] ehashman commented on #9098
/remove-lifecycle rotten
/reopen

@BenTheElder was very kind to use his write access to fix a release note on a PR that was otherwise mergeable for me. I think this is still needed. Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1614722730117800

[2021-03-03 01:14] kikisdeliveryservice commented on #9098
+1 This would be super helpful bc sometimes authors don't add a release note and mistag the pr and when they do add a release note that somehow, is misformatted in the body of the PR description. Both would def be quick fixes with a `/release-note` tag but get kind of dragged out with back and forth.

[2021-03-03 06:51] fejta commented on #21111
Secret has been applied to the cluster

[2021-03-03 07:50] prksu commented on #21111
/close

Thanks @fejta

[2021-03-03 07:50] #21111 closed

[2021-03-03 08:19] dguendisch opened #21126 "Testgrid complains on "podinfo.json" not found and marks conformance tests as failed"
**What happened**:
[Gardener](https://github.com/gardener/gardener) reports conformance tests (and others) since some years into testgrid for various cloudproviders and various k8s versions.
Since yesterday all of our conformance tests are marked as failed because of a test named `Pod` and the error `podinfo.json not found...`
See e.g. https://testgrid.k8s.io/conformance-all#Gardener,%20v1.20%20AW

[2021-03-03 08:24] dguendisch commented on #21126
/area testgrid

[2021-03-03 13:54] timoreimann opened #21132 "Add public SSH key as secret for kops e2e tests on DigitalOcean"
**What would you like to be added**:
I'd like a public SSH key to be added as a secret.

**Why is this needed**:
To enable building out e2e tests in kops against the DigitalOcean provider.

Key will be provided via DM to @fejta [as discussed on Slack](https://kubernetes.slack.com/archives/C09QZ4DQB/p1614687710048700).

/assign @fejta

[2021-03-03 13:57] timoreimann commented on #21132
/cc @srikiz

[2021-03-03 14:34] hi-rustin commented on #21098
/assign

I will help with this.

[2021-03-03 15:39] thejoycekung commented on #21126
This is also happening on the [Conformance - Openstack](https://testgrid.k8s.io/sig-release-master-informing#Conformance%20-%20OpenStack) job as well.

/area provider/openstack

[2021-03-03 15:41] thejoycekung commented on #21126
for visibility:
/remove-area provider/openstack
/cc @kubernetes/provider-openstack-misc

[2021-03-03 18:36] BenTheElder commented on #21126
`podinfo.json` is an artifact prow produces about the pod it ran tests in. asking the testgrid owners about this.

[2021-03-03 19:18] spiffxp opened #21137 "Decouple test image bumping from prow bumping"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99655/pull-kubernetes-unit/1367006331575209984
=> prowjob yaml button =>
https://prow.k8s.io/prowjob?prowjob=cb9cbe1e-7bed-11eb-97bd-22fa521bf179
=> look for image: =>
gcr.io/k8s-testimages/kubekins-e2e:v20210226-c001921-master

yeah that's not going to have the go1.16, looks like we haven't had a prow bump since 02/26

we need to decoupl

[2021-03-03 19:19] spiffxp commented on #21137
/sig-testing
/area jobs
/area artifacts
/sig-release
/area release-eng
/priority important-soon
/milestone v1.21

[2021-03-03 19:23] spiffxp commented on #19477
/remove-lifecycle stale

https://github.com/kubernetes/kubernetes/issues/97027 has probably addressed the bulk of this for kubernetes/kubernetes

We can enforce that jobs should be using k8s-staging or k8s.gcr.io images

Beyond that I think any piecemeal followup for specific sub projects should considered out of scope for this, unless anyone has suggestions

[2021-03-03 19:36] fejta commented on #21132
`secret/kops-e2e-do-ssh-key created`

[2021-03-03 19:51] BenTheElder commented on #21137
cc @chaodaiG

[2021-03-03 20:03] spiffxp commented on #13063
Was presented at k8s-infra meeting today. Thank you for picking this up

Good followup: depict the clusters, projects and orgs involved. Service cluster, build clusters, Google.com, kubernetes.io, etc

[2021-03-03 20:07] chaodaiG commented on #21137
cc @mpherman2 as well

[2021-03-03 20:18] spiffxp commented on #21090
Pulling out of slack

@alvaroaleman do y'all have something like this (or anything really) setup to detect panics in prow components?

Think this be a followup issue but AFK

[2021-03-03 20:22] spiffxp opened #21138 "Make #prow-alerts less noisy"
I think we should vastly increase the threshold for or remove the ghproxy alerts entirely. Informational alerts are good, but those seem to be pure noise that be adequately tracked via ghproxy graphs

But I don't think that precludes adding these to that channel

__Originally posted by @spiffxp in https://github.com/kubernetes/test-infra/pull/21136#issuecomment-789999648__

[2021-03-03 20:24] alvaroaleman commented on #21090
We don't have something specifically for panics, but we have a Slack alert for Prow pods crashlooping which I believe would have been triggered by this.

[2021-03-03 21:31] stevekuznetsov opened #21140 "peribolos: expired/failed invitations are treated as active"
When a user's invitation to join an org is expired (they have seven days to accept it), the invitation becomes failed. `peribolos` today treats this as if the invitation were active, and continues to "wait" for the user to accept it. Ideally we'd re-send it.

/area prow/peribolos

[2021-03-03 21:58] BenTheElder commented on #12863
https://github.com/apache-spark-on-k8s/spark-integration in https://github.com/kubernetes/test-infra/pull/21141

[2021-03-03 22:09] chaodaiG commented on #21137
/assign

[2021-03-03 22:49] BenTheElder commented on #18706
- we're not building kubernetes with bazel anymore
- kubetest2 doesn't depend on bazel
- setting SOURCE_DATE_EPOCH before building will fix this https://github.com/kubernetes/test-infra/issues/18706#issuecomment-720947821, will file an issue with kubetest2 to set a source_date_epoch actually from the repo

[2021-03-03 22:49] #18706 closed

[2021-03-03 23:00] srm09 commented on #21099
Reusing this same issue to add more key/value pairs to the Cluster API vSphere provider secret:

Need to add a few more values to the `clusterapi-provider-vsphere-ci-prow` secret.

[2021-03-03 23:02] srm09 commented on #21099
/assign @fejta

[2021-03-03 23:04] chaodaiG commented on #21090
@alvaroaleman , can we have this upstreamed? Or can you share where the config is located? I'd be happy to do the leg work

[2021-03-03 23:17] fejta commented on #21099
applied again

[2021-03-03 23:30] Bobgy commented on #14343
/assign @chaodaiG
We can close this now!

[2021-03-03 23:31] Bobgy commented on #12863
Update, kubeflow is now completely off k8s prow.

[2021-03-03 23:32] chaodaiG commented on #14343
yes https://testgrid.k8s.io/googleoss-kubeflow-pipelines is online now.

Great to see this eventually done!

/close

[2021-03-03 23:32] #14343 closed

[2021-03-04 00:02] spiffxp commented on #18600
https://github.com/kubernetes/test-infra/pull/21141 removed one

Need to refresh where we're at here.

[2021-03-04 01:38] BenTheElder opened #21150 "prow PR history page may go off screen with no scrollbar"
**What happened**: https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=99012 goes off screen

**What you expected to happen**: there should be a horizontal scrollbar when it doesn't fit in the image

**How to reproduce it (as minimally and precisely as possible)**: open any PR history page in a sufficiently small browser window.

**Please provide links to example occurrences, if any*

[2021-03-04 03:54] alvaroaleman commented on #21140
Duplicate of https://github.com/kubernetes/test-infra/issues/20872
/close

[2021-03-04 03:54] #21140 closed

[2021-03-04 06:20] BenTheElder commented on #21126
see: https://github.com/GoogleCloudPlatform/testgrid/issues/393

[2021-03-04 06:25] BenTheElder commented on #21150
The code for this is in [prow/cmd/deck](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/deck), specifically [prow/cmd/deck/template/job-history.html)](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/template/job-history.html).

This is probably a pretty good first issue.

[2021-03-04 06:27] BenTheElder commented on #20101
kubernetes v1.21+ does not have bazel, so at most this is relevant to v1.20
/retitle verify whether v1.20 bazel image acts as bazelisk

https://github.com/kubernetes/test-infra/issues/20101#issuecomment-778478840 still seems important.

[2021-03-04 14:07] alvaroaleman commented on #21150
@BenTheElder I do have a horizontal scrollbar in both chrome and firefox, do you maybe have a screenshot or sth?

<img width="1909" alt="scrollbar" src="https://user-images.githubusercontent.com/6496100/109975828-0f2fe580-7cc9-11eb-85da-e7fd1a50c977.png">

[2021-03-04 14:19] alvaroaleman commented on #21090
It's here @chaodaiG : https://github.com/openshift/release/blob/ac1b4f17255011592a2fb104d121668fd6b85ef5/clusters/app.ci/prow-monitoring/mixins/_prometheus/prow_alerts.libsonnet#L9

That alert is a fairly standard thing but requires kube-state-metrics to be set up: https://github.com/kubernetes/kube-state-metrics

[2021-03-04 15:43] supriya-premkumar commented on #20886
/assign

[2021-03-04 18:20] chases2 commented on #17855
This error is still being seen in logs regularly. Refreshing lifecycle.

[2021-03-04 18:22] BenTheElder commented on #21150
ah so, the scrollbar is auto-hiding (blame mac?)
not a big deal for vertical scroll but for horizontal scroll that's problematic using a mouse and/or there's not an expecation that it would scroll.
testgrid has the same "issue".

sorry for the noise.

[2021-03-04 18:22] #21150 closed

[2021-03-04 18:22] mpherman2 commented on #19931
/remove-lifecycle stale

Looks like this is still happening

[2021-03-04 19:56] MushuEE commented on #20599
I think we can close this as a dupe of #13432

[2021-03-04 19:57] sbueringer commented on #7690
@nikhita Just wanted to ask if there is an update to the status of this issue.
We would also be really interested in this feature.

[2021-03-04 19:59] spiffxp commented on #21137
Pulling out of https://github.com/kubernetes/test-infra/pull/21144#pullrequestreview-604489193

One question for followup: is there some way we could have merges of just these autobump PRs alert to slack?

A longer term thing: someplace to see all deploys and all config changes pushed to prow.k8s.io to aid "what changed when"

But for now being filter down just to "big PRs that change a lot" match

[2021-03-04 20:09] spiffxp commented on #21137
Let's figure out what it would look like to hand this off to community.  My sketch:
- if they can, community members in appropriate OWNERS can approve these now
- wait until after code freeze, formally handoff ASAP
- use existing groups (ci-signal or release-eng) or use this to bootstrap a prowjob-oncall
- making sure the group knows
  - start with empty oncall field and hardcode ping to appropria

[2021-03-04 20:10] spiffxp commented on #21137
/reopen
the job landed, but there's still more to do

[2021-03-04 20:13] chaodaiG commented on #21137
Also https://github.com/kubernetes/test-infra/pull/21144 probably had left out some of the images in prow jobs that's part of prow but not `gcr.io/k8s-testimages`. I will take a look at the new bumping PRs generated and see what's missing

[2021-03-04 23:28] cjwagner opened #21167 "Sidecar doesn't properly handle best effort upload and races with entrypoint."
We've recently had multiple presubmits report failure in spyglass and finished.json even though they were actually aborted due to more recent commits being pushed. The ProwJob resource disagrees with finished.json and properly indicates the aborted state.

I think we are encountering this race: https://github.com/kubernetes/test-infra/blob/2a5710e4ad2ee2942634c60e5c0f753f4012a877/prow/sidecar/run.

[2021-03-05 00:18] cjwagner opened #21171 "HMAC reconciler does not exit non-zero on failure => Postsubmit succeeds on failure."
**What happened**:
The [HMAC reconciler](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/hmac) encountered an error, but the postsubmit job still succeeded: https://oss-prow.knative.dev/view/gs/oss-prow/logs/post-oss-test-infra-reconcile-hmacs/1367626368740757504

**What you expected to happen**:
If any errors occur that cannot be recovered from, the tool should exit with a non-zero

[2021-03-05 04:11] nm2704 commented on #21063
At this point mostly okay with the starter-s3.yaml and the getting_started_deploy.md Was able to try out deploying prow multiple times and can generally diagnose any issues which come up.. However one thing which I am still not sure about is that the github PAT token somehow gets deleted sporadically. Sometime it will persists for over a day but sometime it just vanishes in couple of hours.. need

[2021-03-05 04:11] #21063 closed

[2021-03-05 04:15] ykakarap commented on #7690
Hi @sbueringer ,
I and @nikhita are working on this. We are introducing changes to the aprpoval plugin that addresses these issues and more.
We are working on a KEP and it will be out soon.

[2021-03-05 06:18] spiffxp commented on #20599
/close
SGTM

[2021-03-05 06:19] #20599 closed

[2021-03-05 06:26] spiffxp commented on #20886
/remove-help
Please ping with any questions if you need help

[2021-03-05 12:21] spiffxp commented on #19264
ref: https://github.com/kubernetes/test-infra/issues/18801 (covered slack mergewarning plugin)

[2021-03-05 15:08] thejoycekung opened #21185 "ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts failing to get kubeconfig"
**What happened**:
ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts is failing on the sig-release-master-informing dashboard (https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1alpha3-k8s-master)

**What you expected to happen**:
This job should pass

**How to reproduce it (as minimally and precisely as possible)**:
Here's part of the error log (starting

[2021-03-05 17:23] jsturtevant opened #21189 "PR with job that no longer exists was not able to merge"
**What happened**:
Our PR got stuck due to a test that no longer existed and was optional:  https://github.com/kubernetes/kubernetes/pull/99703#issuecomment-790890608.

The job name was spelled wrong so it was renamed in https://github.com/kubernetes/test-infra/pull/21122 but it had already run on the pr.

**What you expected to happen**:
Tests that no longer exist to be ignored

**How to reproduc

[2021-03-05 17:55] BenTheElder commented on #21132
Looks like we can close this?
Please /reopen or file a new one if I got this wrong.

[2021-03-05 17:55] #21132 closed

[2021-03-05 17:55] BenTheElder commented on #21099
Appears to be done.
Please /reopen or file a new one if I got this wrong.

[2021-03-05 17:55] #21099 closed

[2021-03-05 17:59] BenTheElder commented on #21027
The test-infra bazel cache appears to be 16gb+ so sticking a copy in an image is probably not a great idea (as we've experimented with for .git), and uploading / downloading it will probably not behave super well as a single tarball in GCS either (as we've experimted with for go)

For pushing images it appears we added retries to calling bazel.

When testing test-infra we could call `bazel sync` o

[2021-03-05 18:13] MushuEE opened #21190 "Coverage Job in constant fail state due to go_test"
**What happened**:
The `ci-kubernetes-coverage-unit` job executes coverage for all `*_test.go` under k8s root. If a test fails, the whole job fails. There are several tests I see failing: [Job](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-coverage-unit/1367751836915732480)

I plan to 1) Always pass the coverage Job, within the TestGrid results we should see "pass/fail" coverag

[2021-03-05 18:24] BenTheElder commented on #21190
why is triage corrupted by mass failures? are tests failing more often under coverage?
shouldn't we fix the tests? or exclude the junit from triage?

[2021-03-05 18:27] BenTheElder commented on #18480
yes, it can (very belated!)

[2021-03-05 18:34] MushuEE commented on #21190
I had blanked that we have previously seen this and these jobs should be excluded but are not, making a new issues for the kettle exclude failure.

[2021-03-05 18:34] #21190 closed

[2021-03-05 18:39] MushuEE opened #21193 "[Kettle] Exclude Job list not excluding results"
**What happened**:
Kettle has a job exclusion list: https://github.com/kubernetes/test-infra/tree/master/kettle#adding-buckets

Jobs in this list should not be added to metrics, however they are: ci-kubernetes-coverage-unit

**What you expected to happen**:
ci-kubernetes-coverage-unit job is not included in metrics values

**How to reproduce it (as minimally and precisely as possible)**:
View BQ t

[2021-03-05 20:53] sebsoto opened #21197 "Prow git client is unable to apply certain patches due to not using the --ignore-space-change flag for git am"
**What happened**:
The prow git client is unable to apply patches that can be applied manually using git apply or git cherry-picking the desired commit.

**What you expected to happen**:
The patch applies with no issue.

**How to reproduce it (as minimally and precisely as possible)**:
The below section of a patch was unable to be applied. It seems it may have been due to the carriage returns pres

[2021-03-05 20:55] sebsoto commented on #21197
Opened https://github.com/kubernetes/test-infra/pull/21198 to resolve this

[2021-03-05 21:08] BenTheElder commented on #21193
/area kettle

[2021-03-05 22:13] BenTheElder commented on #21027
PR: https://github.com/kubernetes/test-infra/pull/21195

[2021-03-06 00:15] #21027 closed

[2021-03-06 04:09] BenTheElder commented on #21027
So far so good. Please reopen / refile if you see this failure mode again.

[2021-03-06 17:10] liggitt commented on #18601
jobs that fail 100% of `Up` tests are a good candidate set - https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5EUp%24

[2021-03-06 17:11] liggitt commented on #18600
Jobs that fail 100% of `Up` or `Test` are good candidates - https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5E(Up%7CTest)%24

[2021-03-07 12:47] nikhita commented on #20872
cc @cblecker @mrbobbytables

[2021-03-08 02:45] midnightconman commented on #10409
/remove-lifecycle rotten

On Sun, Mar 7, 2021, 02:41 fejta-bot <notifications@github.com> wrote:

[2021-03-08 13:05] rifelpet commented on #20738
The timeouts were fixed by increasing the prow job's memory in https://github.com/kubernetes/test-infra/pull/20931

We also have increased visibility with per-ginkgo-node logs via ginkgo's `--debug` (https://github.com/kubernetes/test-infra/pull/20893) and more useful cluster artifacts when tests timeout (https://github.com/kubernetes/test-infra/pull/20850). I will remove our serial job soon now t

[2021-03-08 13:05] #20738 closed

[2021-03-08 22:51] spiffxp commented on #20667
Relevant discussion thread in #prow https://kubernetes.slack.com/archives/CDECRSC5U/p1615236463055600

[2021-03-09 04:47] spiffxp commented on #21138
https://github.com/kubernetes/test-infra/pull/21192 merged, need to see if these changes are live yet. The channel still has a bunch of ghproxy alerts

[2021-03-09 04:49] spiffxp commented on #21138
/sig testing
/priority important-soon
/kind cleanup
/milestone v1.21

[2021-03-09 04:49] spiffxp commented on #21138
/assign @spiffxp @chaodaiG

[2021-03-09 04:52] spiffxp commented on #21137
/sig testing

[2021-03-09 06:21] chaodaiG commented on #21138
The changes from https://github.com/kubernetes/test-infra/pull/21192 are not live yet, the config from the PR was applied, but somehow it didn't land on prometheus alerter, so it's still using the old configmap. The weird thing is that `kind: PrometheusRule` in the cluster was updated with the new values from #21192, but the configmap `prometheus-prow-rulefiles-0` which was mounted on prometheus p

[2021-03-09 09:35] chendave opened #21249 "label:needs-rebase is not removed after rebasing"
**What happened**:
Come across this issue for this PR: https://github.com/kubernetes/kubernetes/pull/99638, I have rebased to master but the "needs-rebase" is not removed, manually remove doesn't work as well.

**What you expected to happen**:
"needs-rebase" label should be removed.

**How to reproduce it (as minimally and precisely as possible)**:
see the PR: https://github.com/kubernetes/kuberne

[2021-03-09 11:11] dguendisch commented on #21126
I see that GoogleCloudPlatform/testgrid#393 got fixed by adding the option to disable the prow analysis with https://github.com/GoogleCloudPlatform/testgrid/pull/396
Does that mean I could just add `disable_prowjob_analysis: true` to every entry like [this one](https://github.com/kubernetes/test-infra/blob/master/config/testgrids/conformance/conformance-all.yaml#L25)?
In the same line, could I add

[2021-03-09 15:30] chaodaiG commented on #21138
There are recurring errors in prometheus operator:
[code]

v1beta2 was deprecated in k8s v1.16 per https://www.pulumi.com/docs/reference/pkg/kubernetes/apps/v1beta2/statefulset/#statefulset, so actually it has nothing to do with the previous upgrade and revert, and I think the correct fix is actually pull prometheus operator forward to make it compatible with k8s v1.16

[2021-03-09 17:50] jeremyje opened #21260 "Make the sig-windows-gce tests green."
**What should be cleaned up or changed**:
Test Grid for sig-windows-gce is fairly red. We are unblocked to move forward with the fixes to clean up the redness since the repo lists have stablized.

**Provide any links for context**:
https://testgrid.k8s.io/sig-windows-gce

[2021-03-09 18:52] BenTheElder commented on #21260
Usually we track test / job health in https://github.com/kubernetes/kubernetes FWIW (the CI signal team in particular files bugs there / keeps tabs on these).

[2021-03-09 19:41] shanagud commented on #21132
Hi @BenTheElder @fejta -
I wanted to know the secret key name for `kops-e2e-do-ssh-key`. Example when you created like below -
`kubectl create secret generic kops-e2e-do-ssh-key  --from-file=do-ssh-public=/path/to/.ssh/id_rsa.pub`
I basically wanted to know the name of the secret key name like do-ssh-public since that would be the file name when I volume mount the secret as shown below.
[code]

[2021-03-09 19:53] chaodaiG opened #21265 "Prometheus operator failed to find *v1beta2.StatefulSet"
**What happened**:

Prometheus operator is failing with repeating errors:

[code]

This was due to k8s prow cluster upgrade to v1.16, in which `v1beta2.StatefulSet` was deprecated.

[2021-03-09 19:54] chaodaiG commented on #21265
/area prow

[2021-03-09 19:55] chaodaiG commented on #21265
Upgrading prometheus operator https://github.com/kubernetes/test-infra/pull/20484 progressed further, but got new errors:

[code]

So reverted the upgrade https://github.com/kubernetes/test-infra/pull/21264

[2021-03-09 21:48] stevekuznetsov commented on #20667
Since the `HEAD` symbolic ref is not a default `git` thing and instead a real symbolic ref that e.g. GitHub, Gerrit, GitLab provide, it should be possible to just use `extra_refs[*].base_ref: HEAD`.

[2021-03-09 21:57] spiffxp opened #21268 "Consider using internal packages to clarify test-infra API boundaries"
I didn't know about `internal`, thats neat.

I can imagine the flip side of this. Code is already being extended downstream instead of upstreaming changes, right? It just involves importing external dependencies rather than copying. I would think using internal packages would promote more upstream contributions rather than out-of-tree extensions.
Being able to distinguish source that we don't want

[2021-03-09 21:59] spiffxp commented on #21268
/assign @cjwagner @alvaroaleman
/sig testing
I have no strong opinion here but felt like this was worth breaking out into its own issue

[2021-03-09 22:38] spiffxp commented on #20667
FWIW, I feel like remotes having a `HEAD` is a default `git` thing, but maybe I'm wrong.  I'll give the `base_ref: HEAD` thing a shot this week

refs:
- https://git-scm.com/book/en/v2/Git-Basics-Working-with-Remotes
- http://git.661346.n2.nabble.com/What-s-the-definition-of-a-valid-Git-symbolic-reference-tt6025154.html#a6026446

[2021-03-10 05:25] snowmanstark commented on #19034
@RobertKielty  @spiffxp I believe that this issue can be closed since we have lost all the known issues.

[2021-03-10 08:44] timoreimann opened #21279 "Add private SSH key as secret for kops e2e tests on DigitalOcean"
**What would you like to be added**:
#21132 was filed to add a public SSH key as a secret for kops e2e testing on DigitalOcean. As it turns out now, we also need the corresponding private SSH key to be included in the secret.

**Why is this needed**:
To _completely_ enable building out e2e tests in kops against the DigitalOcean provider.

Key data will be provided to on-call via Slack DM.

/cc @sr

[2021-03-10 08:48] timoreimann commented on #21279
DM'ed @chases2 who is on test infra on-call right now.

/assign @chases2

[2021-03-10 16:10] #13297 closed

[2021-03-10 16:44] wojtek-t commented on #4046
/remove-lifecycle stale
/lifecycle frozen

[2021-03-10 17:12] spiffxp commented on #13371
/reopen
/remove-lifecycle rotten
/lifecycle frozen
I think contribex / github-management should shape this up into a help-wanted issue

[2021-03-10 17:23] spiffxp commented on #13107
/reopen
/remove-lifecycle rotten
ref: https://github.com/kubernetes/org/issues/966#issuecomment-793159840

I'm going to move this to kubernetes/org, if there are technical implementation details that need to find their way into this repo, we can discuss on followup issues or PRs

[2021-03-10 18:14] ehashman commented on #18973
@mmerkes what's the status of this issue?

[2021-03-10 18:15] ehashman commented on #18570
/cc @dims

[2021-03-10 18:19] ehashman commented on #20105
Is this still relevant?

[2021-03-10 18:36] ehashman commented on #18826
@MHBauer what's going on with this issue? Would you like to do the work or are you interested in us finding an assignee?