[2016-05-02 20:45] euank opened #6 "test-history/gen_json script should not depend on accessing Jenkins"
It would be useful if, like the munger, the `test-history` scripts depended solely on GCS buckets as input. This would allow federating tests results on the dashboard, not just in PR statuses, via the familiar GCS bucket format.

Right now, accessing the jenkins server is used to list job names, their builds (with status), and the timestamp. These can be replaced with, respectively, a config file

[2016-05-02 20:52] spxtr commented on #6
Agreed. I think I wrote it before we had `started`/`finished.json`, so I had to go to Jenkins for the build result.

[2016-05-05 09:41] gmarek opened #22 "Clusters are not turned down in case of failure."
This may be OK for small clusters that are running all the time, but is a pain for huge clusters running once a week. We should, at least, have a flag that will allow for cluster deletion on failure.

cc @wojtek-t @fejta @ixdy

[2016-05-05 21:07] spxtr commented on #22
Related to https://github.com/kubernetes/kubernetes/pull/24739 ?

[2016-05-05 23:15] #6 closed

[2016-05-07 17:18] gmarek opened #24 "Logs from Kubemark tests are no longer uploaded to GCS buckets on failure."
Which makes debugging of regressions way harder.

cc @fejta @ixdy @spxtr @wojtek-t

[2016-05-07 18:24] spxtr commented on #24
For [this](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/3601?pli=1) recent failure I'm seeing logs for the master and one node.

[2016-05-07 18:46] gmarek commented on #24
For this
<https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3174/artifacts/?project=kubernetes-jenkins>
there's none.

On Sat, May 7, 2016 at 8:24 PM, Joe Finney <notifications@github.com> wrote:

[2016-05-07 19:53] spxtr commented on #24
Looks like [these lines](https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e.yaml#L26-L31) aren't in the kubemark config, so it's not dumping logs on timeout.

[2016-05-07 22:00] gmarek opened #25 "List of changes in a given build no longer visible"
I may be mistaken, but I don't see a list of changes that went in the given build. Now I see "No changes." even in weekly enormous-cluster runs (and I have hard time believing that there was no changes in last week).

cc @fejta @ixdy @spxtr @wojtek-t

[2016-05-09 17:38] spxtr commented on #25
It still says it in the build job. I'm not sure how it was figuring it out for the e2e jobs, since they may or may not be triggered by a build.

[2016-05-09 17:58] ixdy commented on #25
I don't think the e2e jobs ever showed changes. You could somewhat figure it out by looking at which `kubernetes-build` job triggered an e2e job and then see what changes affected each build, but that was (and is) pretty painful.

All that said, we collect the git sha1 for every e2e test run. It might be possible to have gubernator show the list of changes between runs. @rmmh

[2016-05-09 18:00] gmarek commented on #25
There were at least a list of builds that went into the giver PR. I'm good with that.

[2016-05-09 21:32] ixdy commented on #25
@gmarek http://goto.google.com/k8s-test/job/kubernetes-build/changes still shows a bunch of changes. What am I missing?

[2016-05-09 21:37] ixdy commented on #25
enormous-cluster is triggered by a timer, not by builds, so it isn't going to show any builds that went into it. (I don't think it ever has?)

[2016-05-09 21:42] gmarek commented on #25
All performance tests are timer-triggered - we changed that recently, but I wasn't aware that when we're triggered by timer we don't have a list of builds. Is there a reason why we can't have it?

[2016-05-09 21:43] gmarek commented on #25
cc @lavalamp @roberthbailey

[2016-05-09 21:48] spxtr commented on #25
The e2e jobs don't actually check out the git repo, and that "changes" section is generated by the git plugin. I don't know of an easy way to make it happen.

[2016-05-09 21:49] lavalamp commented on #25
I think it used to say what builds were used, and that could be used to figure this out.

[2016-05-09 21:55] ixdy commented on #25
right, changing the builds to be timer-triggered instead of build-triggered broke this functionality. AFAIK there's no way to get it back without going back to build-triggered.

[2016-05-12 21:33] spxtr opened #38 "kubelet-gce-e2e-ci doesn't upload JUnit test results"
@pwittrock

[2016-05-12 22:55] ixdy opened #39 "add Jenkins metadata to GCE VMs"
When trying to clean up old VMs or other resources, I'm often left wondering "where did this even come from?".

We could probably add metadata describing the Jenkins job and build number that spawned the VM, as well as the PR# on PR Jenkins. There's even an `add-instance-metadata` function in `cluster/gce/util.sh` we can use.

[2016-05-16 01:36] ixdy opened #47 "investigate docker-in-docker brokenness with kubekins-test and docker 1.11.1"
As part of the Jenkins VM rebuild today, some nodes were upgraded to docker 1.11.1, instead of 1.9.1, as we'd been using before.

It seems that this causes problems for docker-in-docker in our kubekins-test image:
[code]

@bprashanth

[2016-05-16 01:41] ixdy commented on #47
Most likely `libltdl7` is missing from the `kubekins-test` image, and we need to add it.

Unfortunately, this means we may need to update the old release branches to the new `kubekins-test` image if we're ever going to upgrade docker on Jenkins, which also means we'll bump up the version of Go we use there. We probably should start versioning infra changes separately from Go verisons, like we now

[2016-05-16 05:25] ixdy opened #48 "metadata cache needs to start automatically on reboot"
Otherwise, when you restart Jenkins VMs, builds will start failing everywhere.
(Ask how I know.)

[2016-05-16 07:39] wojtek-t commented on #24
@spxtr - yes, we have logs from failed runs, but we don't have from timed-out ones.
Can you please prioritize it? It's really annoying for us.

[2016-05-16 10:17] gmarek commented on #25
@ixdy @fejta I don't really know what to do with it. Is it hard to make it work with timer-triggered builds? It's annoying for me - I don't know about others: @wojtek-t @lavalamp @fgrzadkowski

[2016-05-16 18:00] spxtr commented on #24
Should be fixed.

[2016-05-16 18:00] #24 closed

[2016-05-18 19:00] spxtr commented on #25
It's a pain to do with Jenkins, but I can make the testgrid have this functionality, where you can click and drag between two builds and it will open all commits between those builds in github. I haven't got this functionality working yet, but I think that's the best solution.

[2016-05-19 12:14] gmarek commented on #25
+1

[2016-05-19 17:15] lavalamp commented on #25
This seems to have been fixed? Am I crazy?

On Thu, May 19, 2016 at 5:14 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-05-19 17:30] spxtr commented on #25
I'm not seeing any "recent changes" for e2e jobs.

[2016-05-19 17:36] lavalamp commented on #25
Well, to be fair, there haven't been recent changes because the submit
queue hasn't been merging much.

On Thu, May 19, 2016 at 10:30 AM, Joe Finney <notifications@github.com>
wrote:

[2016-05-19 17:45] ixdy opened #61 "Set up CI running builds and unit/integration tests on OS X"
We seem to break the build scripts on OS X not infrequently. It'd be nice to have some sort of CI to detect this before developers do.

[2016-05-19 20:56] spxtr commented on #61
Also probably useful to run a smoke e2e test.

[2016-05-23 09:01] gmarek commented on #22
It's still not done: http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-enormous-cluster/122/

[2016-05-23 17:27] spxtr commented on #22
We tried to, but were denied:

[code]

[2016-05-23 17:28] spxtr commented on #22
This was immediately after doing `cluster/log-dump.sh`. Perhaps I set the thread-count too high?

[2016-05-24 21:52] fejta opened #74 "First time tests run on a project it cannot ssh to nodes"
per @spxtr we need to run `gcloud compute config-ssh` before running tests. Otherwise some raw ssh tests will fail the first time we run tests on this node, until we later run `gcloud compute ssh` to that node to collect logs

[2016-05-25 00:02] pwittrock commented on #38
Waiting for #26101

[2016-05-25 15:23] pwittrock commented on #38
Fixed in  #26101 (I don't have access to close this issue)

[2016-05-25 17:29] spxtr commented on #38
Awesome, thanks for taking care of this. I added you to test-infra-maintainers so you should be able to close issues and merge PRs and the like.

Now the node results will show up on [the 24-hour report](http://storage.googleapis.com/kubernetes-test-history/static/index.html) and I can add a tab to the testgrid as well.

[2016-05-25 17:29] #38 closed

[2016-05-25 17:32] lavalamp opened #76 "Present build step failures in junit files?"
e.g. resource leaks would be handy in a junit file: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/17595/consoleFull#-167188570730f50738-9bd5-4d49-9dda-6ce3409acae5

[2016-05-25 17:50] spxtr commented on #76
Agreed. Maybe not JUnit, they could also go in JSON files next to started/finished.json. We'd like to have download/untar k8s, cluster up, test, down, and resource check as separate checks..

[2016-05-25 17:52] lavalamp commented on #76
JUnit is important, because it lets the existing tooling in e.g. the merge queue read it.

[2016-05-25 17:53] spxtr commented on #76
Sure, sounds reasonable. It would also let our other tools read it without trouble.

[2016-05-25 19:52] pwittrock commented on #38
Cool.  Thanks.

[2016-05-26 08:56] #48 closed

[2016-05-26 09:06] fejta commented on #74
Plan is to store the public/private ssh key on the master.
Then when we create/attach jenkins instances we will copy the key from the master to right location on the agent.

[2016-05-27 01:12] ixdy opened #79 "cluster logs not collected from dockerized e2e on timeout"
The kubernetes tarball is extracted inside the container in dockerized e2e, which gives us `kubernetes/cluster/log-dump.sh`. On timeout, we try to call `log-dump.sh`, but do so outside the container, so it's no longer available.

We should probably move the timeout handling inside the dockerized e2e container.

[2016-05-27 16:56] ixdy commented on #74
Is the issue new GCP projects or new Jenkins agents? The title of this issue sounds like the first, but your most recent comment sounds like the last.

[2016-05-27 16:56] ixdy commented on #74
If the issue is new Jenkins agents, #66 will fix this.

[2016-05-27 17:31] fejta commented on #74
The problem is both that new agents tend to have different keys and new projects don't have these credentials added to them by default, neither of which is necessary.

#66 addresses the former problem

[2016-05-31 20:16] spxtr commented on #25
This is done for the testgrid. Click and drag between two columns to get the diff :)

[2016-05-31 20:16] #25 closed

[2016-06-01 09:03] gmarek opened #90 "Is there a way to quickly push new config to Jenkins?"

[2016-06-01 17:20] spxtr commented on #90
You mean faster than 15 minutes? I think it's worth setting up the update jobs job to poll github every minute.

[2016-06-01 20:20] gmarek commented on #90
I mean like having the button "do it now", but every minute will work for me.

[2016-06-01 20:27] spxtr commented on #90
Well you can kick off the job manually, but that's a bit annoying to do.

[2016-06-02 09:36] wojtek-t opened #100 "For gke-large suite we have logs only from nodes from one node pool"
In large clusters, we currently have move than one MIG. In particular, in GKE 2000-node clusters:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster
we have 2 node pools.

However, we have logs from nodes only from a single one. This is really painful for debugging...

@kubernetes/test-infra-maintainers

[2016-06-02 09:36] wojtek-t commented on #100
@gmarek @zmerlynn

[2016-06-02 17:06] spxtr commented on #100
Does that mean `detect-node-names` only detects one node pool?

[2016-06-02 17:06] spxtr commented on #100
https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump.sh#L102

[2016-06-02 17:26] #90 closed

[2016-06-02 17:49] ixdy opened #102 "move federated test result config somewhere more prominent and make everything use it"
`jenkins/test-history/buckets.json` is sort-of the source of truth for which buckets we care about, except that there is also configuration in `gubernator/main.py`, `jenkins/test-history/gen_json.py`, the submit queue, and testgrid. (And maybe other places, who knows.)

It'd be nice if we moved the configuration somewhere more prominent (maybe even top-level?) and then got all of our tooling using

[2016-06-02 18:05] ixdy commented on #100
Sure looks that way. Compare [GCE](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L296-L313) vs [GKE](https://github.com/kubernetes/kubernetes/blob/master/cluster/gke/util.sh#L265-L274).

Do we use `detect-nodes` or `detect-node-names` in any critical areas? Looks like it's just wrong for GKE with large clusters. @roberthbailey

[2016-06-02 18:29] roberthbailey commented on #100
@fabioy

Yeah, that's broken for any GKE clusters that have >1 node pool. `detect-node-instance-group` will take the list of multiple instance group URLs and just return the name of the last one in the list.

[2016-06-03 12:27] jszczepkowski opened #106 "Cannot merge PR"
My PR #105 cannot be merged, because of some problems with CLA. Despite I work at google, bot added CLA:NO label, and manual modification of labels didn't make my PR merge-able.

CC @gmarek

[2016-06-03 13:05] jszczepkowski commented on #106
CC @eparis

[2016-06-03 13:17] eparis commented on #106
`cla: human-approved` is respected by the submit queue bot, but the google (internal) cla-bot goes not pay attention to that label. And the cla-bot is a complete black hole to me. I've yet to figure out who at google 'owns' that...

[2016-06-03 16:27] ixdy commented on #106
This was working correctly. The commit was signed with an invalid email address.

[2016-06-03 16:27] #106 closed

[2016-06-03 23:00] fejta commented on #74
https://github.com/kubernetes/kubernetes/pull/26333 fixed this

[2016-06-03 23:00] #74 closed

[2016-06-04 00:05] ixdy opened #114 "agent-ctl.sh should specify --project and --zone for all gcloud calls"
Not sure how it even worked to start with.

[2016-06-06 16:25] fabioy commented on #100
I'll take this one.

[2016-06-07 03:54] mikedanese opened #119 "store junit data in BigQuery and/or sqlite to make it really easy to query and generate reports"
I think this would be very useful for investigation/exploration.

[2016-06-08 22:17] rmmh commented on #119
SQLite would be more appropriate than BigQuery, given the small data volume.

Test-history could be modified to support this.

[2016-06-09 00:53] #22 closed

[2016-06-10 20:19] ixdy opened #134 "metadata cache server curl check doesn't work"
The `curl` check in the metadata cache control script doesn't work, as `curl` will fail over to the real metadata server:
[code]

[2016-06-10 23:36] #134 closed

[2016-06-12 21:07] colhom opened #145 "Federation e2e failure: wrong ci build version"
from kubernetes-e2e-gce-federation job logs

[code]

This is not the `build_version` that kubernetes-federation-build is pushing, which naturally causes the downstream kubernetes-e2e-gce-federation job to pull the wrong tarballs and fail.

I don't yet understand why this issue took so long to pop up, as the federation stuff has been merged for weeks and this started happening a few days ago.

[2016-06-12 21:10] colhom commented on #145
I have a fix up in #146. I suspect some other build job is clobbering `gs://kubernetes-release/ci/latest.txt`

[2016-06-13 17:47] nikhiljindal commented on #145
Re: why it did not happen before: We cut 1.3.0-beta.0 on friday.

[2016-06-13 18:19] #145 closed

[2016-06-13 18:37] colhom commented on #145
@nikhiljindal I would think it's something related to the v1.3 beta cut as well. Anything that could result in job execution ordering as follows...:

[code]

Would result in `kubernetes-build` clobbering `kubernetes-federation-build's` ci tag in the storage bucket.

For instance, adding more jenkins executors could cause this to happen. (Increased parallelism exposes a previously unseen race condi

[2016-06-13 22:42] lavalamp commented on #76
I think this is important, without this the merge queue might not know to stop merging if there is something consistently wrong, but not reported in JUnit output anywhere.

[2016-06-14 04:58] nikhiljindal opened #155 "Run kubernetes-e2e-gce-federation as part of tests that merge bot runs on each PR"
This is to catch PRs that break federation tests.

cc @kubernetes/sig-testing @ixdy @kubernetes/sig-cluster-federation

[2016-06-14 04:59] nikhiljindal commented on #155
Ref https://github.com/kubernetes/kubernetes/issues/26723

[2016-06-15 22:22] ixdy opened #172 "Gubernator should also show passed and skipped tests"
It can be helpful for determining whether a run passed because all tests actually passed or if many tests were skipped.

This can probably just be a smaller list at the bottom underneath any failures.

[2016-06-15 23:51] colhom opened #174 "Jenkins PR job details link url is wrong"
The `Details` link for PR e2e tests look like this:

`https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/$%7BghprbPullId%7D/kubernetes-pull-build-test-e2e-gce/$%7BBUILD_NUMBER%7D/`

It looks like the `BUILD_NUMBER` Jenkins parameter is not getting substituted in properly.

Reference PR: https://github.com/kubernetes/kubernetes/pull/26754

\cc @spxtr @fejta @ixdy

[2016-06-16 00:11] ixdy commented on #174
it isn't resolved until the run actually starts. it should be resolved after that.

[2016-06-16 00:44] colhom commented on #174
Yep, that's it.

[2016-06-16 00:44] #174 closed

[2016-06-18 02:27] fejta commented on #114
Meh

[2016-06-18 02:27] #114 closed

[2016-06-18 02:28] fejta commented on #39
This is a cool idea that will help a lot with cleanup

[2016-06-18 02:28] fejta commented on #47
@ixdy what is left to do here?

[2016-06-18 02:32] fejta commented on #119
The gcloud team does this (mostly to track flakes), I'll send mail with some info

[2016-06-18 02:37] fejta opened #187 "Move PR e2e tests into their own project"
We only want jenkins infra running in kubernetes-jenkins-pull. Let's start these e2e clusters in a separate project.

[2016-06-18 02:38] fejta opened #188 "Put node e2e tests under source control"
A combination of

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/kubernetes-pull.yaml

and

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/node-e2e.yaml

[2016-06-18 02:41] fejta opened #189 "Put heapster/cadvisor jobs under source control"
A combination of

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/kubernetes-pull.yaml

and not sure.. maybe https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/node-e2e.yaml?

[2016-06-18 02:42] fejta opened #190 "Move heapster/cadvisor resources into their own project"
I believe these have some special vms, etc. Lets move them to their own project.

[2016-06-18 02:43] fejta commented on #190
But first we need to address https://github.com/kubernetes/test-infra/issues/189

[2016-06-18 07:37] ixdy commented on #47
My last comment describes what needs to be done. It hasn't been done yet.

[2016-06-18 07:38] ixdy commented on #114
I think it's pretty dangerous that the script happens to use whatever project you happen to have set in your config.

[2016-06-18 19:35] spxtr commented on #114
Or it should maybe check at the start if you are in `kubernetes-jenkins` or `kubernetes-jenkins-pull` and fail otherwise.

[2016-06-19 05:28] #100 closed

[2016-06-20 22:36] fejta opened #195 "Move pr-test.k8s.io over to gubernator"
rather than a direct gcs link

[2016-06-20 23:39] ixdy commented on #195
ci-test.k8s.io too, please, though its requirements are a little bit more complicated:

* http://ci-test.k8s.io/ should show all builds - maybe that even goes to test grid?
* http://ci-test.k8s.io/BUILD_NAME should show all builds for that build
* http://ci-test.k8s.io/BUILD_NAME/BUILD_NUMBER should show the build detail
* ideally we also support things like http://ci-test.k8s.io/BUILD_NAME/BUILD_

[2016-06-20 23:47] ixdy commented on #195
x-ref https://github.com/kubernetes/kubernetes/issues/20161 which has discussion of the redirectors as they are currently set up

[2016-06-21 17:32] spxtr commented on #79
OK I'll start looking at this today.

[2016-06-21 22:47] lavalamp opened #199 "Don't leave 7 "ok to test?" messages on every PR"
I think each PR builder job leaves a comment saying this. We should not do this, it looks ridiculous...

[2016-06-21 22:50] spxtr commented on #199
I agree, but we don't have a choice: https://github.com/jenkinsci/ghprb-plugin/issues/292

[2016-06-21 23:49] eparis commented on #199
we could extend the munger's comment-deleter to remove 3 of them....

[2016-06-21 23:50] #187 closed

[2016-06-23 23:23] ixdy opened #210 "somehow indicate which JUnit file a test failure came from"
Motivating example: unit/integration test runs like https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/27600/kubernetes-pull-test-unit-integration/32233 have multiple JUnit files, with associated "verbose output" text files that can help debug test failures.

Rather than searching through each file, it'd be nice to know which one to go to for the verbose output. (Maybe even l

[2016-06-24 20:43] spxtr commented on #79
Two options, and it might be worth it to do both:

1. In `e2e-runner.sh`, `trap "cluster/log-dump.sh" SIGTERM` and change `dockerized-e2e-runner.sh` to use `timeout`.
1. In `e2e.go` add a timeout flag per-step. If up, test, or down timeout then dump logs.

[2016-06-24 22:03] colhom opened #219 "nslookup for Jenkins executors"
We had some e2e tests failing due to `nslookup` not being available to the e2e framework.

Install `bind-utils` package (or equivalent) on the Jenkins worker machines and/or within the e2e running container image?

\cc @nikhiljindal @mml

ref kubernetes/kubernetes#28030

[2016-06-24 23:05] ixdy commented on #219
Added into kubernetes/kubernetes/pull/27798.

[2016-06-25 00:31] colhom commented on #219
Thanks @ixdy!

[2016-06-26 05:12] lavalamp opened #220 "Submit queue chart doesn't handle submit queue crashes gracefully"
Cause: https://github.com/kubernetes/contrib/issues/1275

For some reason the chart thinks ~60 PRs merged.

I suspect a network blip caused both this anomaly and the submit queue crash. Maybe the poll script needs to record the difference between "initializing" and "unreachable".

[2016-06-27 22:24] #220 closed

[2016-06-29 01:33] ixdy commented on #219
Image has been updated. Note that PR Jenkins isn't using the container for e2e tests yet. I should fix that.

[2016-06-29 02:38] ixdy commented on #219
actually that's a lie. it hasn't been merged yet.

[2016-06-29 17:26] #47 closed

[2016-06-29 18:48] colhom opened #240 "Federation e2e tests failing: pulling ci tarball from wrong bucket."
From kubernetes-e2e-gce-federation logs:

[code]

It has pulled a tarball published by `kubernetes-build`, not `kubernetes-federation-build`.

That later causes this error:

[code]

I've fixed this error once before ( #146 ) by having kubernetes-federation-build and kubernetes-e2e-gce-federation use an entirely separate ci bucket, so something must have changed since that last PR was merged.

\cc

[2016-06-29 19:30] ixdy commented on #240
cc @zmerlynn

[2016-06-29 20:07] zmerlynn commented on #240
Oh! Your build job is overwriting the new bucket! Thanks for this bug!

[2016-06-29 20:18] zmerlynn commented on #240
Okay, I understand why this is corrupting the main kubernetes build pipeline now, that's cool. Now, how are you overriding what bucket gets pulled? Overriding `KUBE_GCS_RELEASE_BUCKET` in `federation` jobs? I'm going to need to change that after I reintroduce https://github.com/kubernetes/kubernetes/pull/28193.

[2016-06-29 20:19] ixdy commented on #240
Yup: https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-build.yaml#L77

I forgot about this override too.

[2016-06-29 20:23] zmerlynn commented on #240
BTW, this issue *should* actually be fixed right now, but I'm leaving it open because I plan to reintroduce the PRs that briefly caused it.

[2016-06-29 21:58] #240 closed

[2016-06-30 15:31] thockin commented on #195
pr-test is done

[2016-06-30 15:55] thockin commented on #195
@ixdy Can you spec precisely what redirects you want?

[2016-06-30 22:57] fejta opened #247 "Put k8s.io redirection under source control"
Lets address #195 by putting the redirector under source control.

[2016-07-07 01:48] rmmh commented on #247
It's not just a redirector, it also is responsible for the `go get k8s.io/...` magic and several other important functions -- I've talked with @thockin about what's involved in getting this checked in and deployed in a better manner.

[2016-07-07 18:24] fejta opened #266 "Switch over to using stored service account credentials"
Rather than the default service account.

[2016-07-08 08:31] gmarek opened #269 "there should be a command to rerun GKE smoke tests only"
Moving here from kubernetes/contrib#1322

cc @fejta @ixdy

[2016-07-08 13:42] eparis commented on #269
Any chance we can get some consistency in the names/retest triggers?
`Jenkins GKE smoke e2e ` should be `GKE smoke e2e test this` ? Something obvious?

| Jenkins Name        | Retest Command  |
| ------------- | ------------- |
|  Jenkins GCE Node e2e | gce node e2e test this |
| Jenkins GCE e2e | gce e2e test this |
| Jenkins GKE smoke e2e | gke smoke e2e test this |
| Jenkins unit/integration |

[2016-07-08 17:42] #188 closed

[2016-07-08 17:52] #189 closed

[2016-07-11 22:16] fejta opened #272 "Gubernator should link to jobs to testgrid"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/20010/ shows a link up at the top to kubernetes-e2e-gce... unfortunately it links to the storage browser rather than http://testgrid.k8s.io/google-gce

We should make it link to testgrid instead.

[2016-07-11 22:17] fejta commented on #272
cc @rmmh

[2016-07-12 02:34] wonderfly commented on #266
@fejta Many of GCI jobs started to fail because of the service account change: whatever new account is used needs to be added to the image_project.

What's new account for GCI jobs?

[2016-07-19 16:37] nikhiljindal commented on #155
This is blocking https://github.com/kubernetes/contrib/pull/1198.

@kubernetes/sig-testing who can help while @ixdy is out?

[2016-07-19 17:29] spxtr commented on #155
You'll need to make a PR adding a new entry to [this](https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/kubernetes-pull.yaml) yaml file.

It looks like the federation tests take ~40 minutes to run on post-submit Jenkins. You'll have to cut out tests to get build + test time down to 30 minutes or so.

[2016-07-20 12:41] nikhiljindal commented on #155
Is it possible to run federation-e2e suite only if there is a change in `federation/` directory?
That way only federation related PRs will be affected by the longer test running time, which might be acceptable?

[2016-07-21 17:46] madhusudancs commented on #155
The trouble with watching for changes only in `federation` directory is, all our code is not in that directory. We use a ton of code from the packages outside and a change there could break us badly. See - https://github.com/kubernetes/kubernetes/pull/29123 for example.

But having said that, having something that works is better than nothing. If it is easier to just watch for changes in the `fede

[2016-07-21 17:55] nikhiljindal commented on #155
Agreed. Its better to have federation e2e tests running at least on PRs that change code in federation/ dir, while we figure out how to reduce the run time of our test suite.

[2016-07-22 19:32] foxish opened #306 "Running queue-health containers as part of submit-queue to enable running against multiple repositories"
As part of https://github.com/kubernetes/contrib/issues/1304, we are trying to get the submit-queue to run against other kubernetes org repositories.
The _chart_ and _history file_ generation. would need to be run per submit-queue instance.

[2016-07-22 19:35] foxish commented on #306
The idea so far is to run the queue-health container as part of the submit-queue deployment. Does that sound ok?
From a cursory look, some refactoring seems to be needed to accept some parameters as flags. I can send a PR for that.

cc @fejta

[2016-07-25 23:22] timstclair opened #311 "[gubernator] FR: expand skipped lines"
Feature request: expand skipped lines in gubernator logs.

E.g.
[code]

Make the `... skipping 9 lines ...` clickable, and expand the lines in place (e.g. unhide a hidden block).

/cc @mnshaw @rmmh

[2016-07-26 00:12] ixdy commented on #266
@wonderfly the new account is kubekins@kubernetes-jenkins.iam.gserviceaccount.com.

We should probably use a different account for PR Jenkins, however, as I noted in https://github.com/kubernetes/test-infra/commit/972416fdd936cd8475c168cf9b84b66b0e82300b#commitcomment-18388887.

[2016-07-29 20:38] spxtr opened #318 "Dockerize PR Jenkins"
It's causing a lot of pain over in https://github.com/kubernetes/kubernetes/pull/26028

[2016-08-01 18:49] fejta commented on #306
Yes putting the queue-health into the submit-queue deplyoment sgtm

[2016-08-03 19:39] ixdy commented on #195
Can we please fix ci-test.k8s.io too?

[2016-08-03 22:25] nikhiljindal commented on #155
Have sent https://github.com/kubernetes/test-infra/pull/335 so that anyone can type `@k8s-bot federation gce e2e test this` on any PR which will trigger federation tests with code in that PR.

That should help decrease some pain

[2016-08-04 05:15] thockin commented on #195
Sorry, I was waiting fro a precise mapping of URL patterns.

On Wed, Aug 3, 2016 at 12:39 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-08-04 05:38] ixdy commented on #195
@rmmh can you do this?

[2016-08-05 05:54] foxish commented on #306
On second thought, it doesn't look like the volume of incoming PRs to the other repositories is very high and we may not even use the bot to perform merges, which would mean the queue-health charts aren't necessary yet for the other repos. So, perhaps there is no need to merge the two for now.

[2016-08-05 06:24] thockin commented on #195
I just need the mappings

On Wed, Aug 3, 2016 at 11:35 PM, Erick Fejta <notifications@github.com>
wrote:

[2016-08-08 17:49] rmmh opened #349 "Cross-link gubernator pages"
Pages should be discoverable through browsing.

    / to /pr
    /pr/1345 to /pr/user
    /build/$PR_LOGS/... to /pr/user
    /pr/user to /pr/123?
        Currently links to github directly, but we have
        a better way to visualize the test results.

[2016-08-09 18:41] #349 closed

[2016-08-10 17:03] zmerlynn opened #366 "Record/display cluster vital statistics at a glance for each run"
Request: After a cluster has been brought up, record:
- the actual cluster version the cluster thinks it's running (not the version we attempted to launch, these can be sometimes different if there's a bug/misconfiguration in a GKE test, for instance)
- the docker version
- the kernel uname string of the nodes
- ... etc.

and be able to show those at a glance. I suspect a lot of this could be done

[2016-08-10 17:08] spxtr commented on #366
Would it be worth just doing `kubectl describe no > _artifacts/nodes.txt` after turning up the cluster? I think that has docker version, kubelet version, and OS.

[2016-08-10 17:20] zmerlynn commented on #366
That's probably sufficient. Or a `kubectl get -oyaml nodes` so we have it raw.

[2016-08-10 20:23] fejta opened #368 "e2e-runner.sh no longer compatible with v1.2 and v1.3.4 hack/e2e.go"
Those versions of hack/e2e.go do not recognize the --dump flag.

[2016-08-10 21:46] ixdy commented on #366
`kubectl version` gives the client (i.e. test) version and api-server versions, and is already in the build log, but putting that in a separate file would probably be easy and a good idea, too.

[2016-08-10 22:04] zmerlynn commented on #366
Yeah, I'm aware of the limited info in the build-log. That one is readable, and gets you the master version, certainly. You have to scrounge for it a bit, though.

[2016-08-11 00:43] #311 closed

[2016-08-11 18:21] fejta commented on #368
My plan here is to put everything the runner needs inside an image.

I'm going to start by:
* Creating a kubekins-e2e image which has a few utilities like e2e-runner, hack/e2e.go, upload-to-gcs, etc.
* Update dockerized-e2e-runner.sh over to call this image instead of pulling e2e-runner.sh
* Update e2e-runner.sh to try and find its dependencies like hack/e2e.go inside the image before pulling them

[2016-08-11 21:17] #272 closed

[2016-08-11 22:52] ixdy commented on #368
The GKE upgrade tests are all broken, too.

[2016-08-15 18:47] david-mcmahon opened #393 "We need a make release job"
https://github.com/kubernetes/kubernetes/issues/30384 exposed the lack of a `make release` job.  We need one of those, post-submit if necessary.  @fejta @spxtr @ixdy

[2016-08-16 17:18] zmerlynn opened #401 "Add a build job for kops Docker images"
I'd like to add a build job to pump out [`kops`](https://github.com/kubernetes/kops) builds, so I can start using it for AWS bring-up on Jenkins as well. I recently pushed a PR to that repo to build an easy container for `kops` (just to avoid figuring out exactly how to package/release it just yet), but then we need to figure out how to push builds somewhere. This isn't hard, but right now `gcr.io

[2016-08-16 17:32] zmerlynn commented on #401
As an alternate approach, it would be fairly trivial to `docker export` and push that way instead, of course.

[2016-08-16 21:36] zmerlynn commented on #401
I decided that both approaches were reasonable and created a `kops-ci` bucket, then just pushed to `b.gcr.io/kops-ci`, giving `kubekins@kubernetes-jenkins.iam.gserviceaccount.com` rights to that bucket instead.

[2016-08-16 22:46] ixdy commented on #393
Two separate PRs have broken Windows and Darwin builds. :(

https://github.com/kubernetes/kubernetes/pull/27970
https://github.com/kubernetes/kubernetes/pull/30087

[2016-08-16 23:20] #401 closed

[2016-08-17 05:57] luxas commented on #393
Presubmit `make release` was a good thing after all, no one wants to deal with such a mess like this when releasing :/
These things happen, but when coverage is greatly reduced, more reverts and forward fixes like this are required.

Hopefully builds will be much faster in go1.7, so we might consider a presubmit jenkins job that just runs `make release` and is PR-blocking? Anyone agrees?

[2016-08-17 17:32] spxtr commented on #393
I agree. We'll keep doing a quick-release for the e2e tests, but we will need a separate job for a full release.

[2016-08-17 20:34] yujuhong opened #406 "404 on getting dockerized-e2e-runner.sh in all kubernetes builds"
[code]

The correct link should be `https://raw.githubusercontent.com/kubernetes/test-infra/master/jenkins/dockerized-e2e-runner.sh`(?)

/cc @k8s-oncall

[2016-08-17 21:02] yujuhong commented on #406
/cc @fejta @spxtr @ixdy

[2016-08-17 21:04] ixdy commented on #406
Should be fixed by https://github.com/kubernetes/test-infra/pull/408.

[2016-08-17 21:04] #406 closed

[2016-08-18 20:56] luxas commented on #393
Hmm, I don't think this should be closed yet... seems like the bots don't agree with me :smile:

[2016-08-19 17:36] ixdy commented on #393
https://github.com/kubernetes/kubernetes/pull/31013 is the last blocker for this, assuming someone else doesn't try to fix it and collide with me.

[2016-08-19 17:38] ixdy commented on #393
I'm glad I checked. https://github.com/kubernetes/kubernetes/pull/30802 is the one we want.

[2016-08-20 01:31] #368 closed

[2016-08-20 01:32] #266 closed

[2016-08-20 01:34] #155 closed

[2016-08-22 21:10] bgrant0607 opened #428 "24-hour test history is misleading when entire test suite fails"
http://storage.googleapis.com/kubernetes-test-history/static/index.html

shows 78 tests passed, 0 failed, 0 unstable, 0 broken for this suite:

[code]

but only 2 tests.

In fact, the whole suite has been failing for weeks. The only thing working has been gcloud installation.

https://k8s-testgrid.appspot.com/google-upgrade#gke-1.2-1.3-upgrade-cluster-new&width=3

[2016-08-22 21:46] spxtr commented on #428
It only calls it a failure if there is a test failure. We should probably fix that so that it looks at `finished.json`, although I think we might be trying to move away from the 24-hour view sometime soon. @rmmh might have an opinion.

[2016-08-22 21:56] bgrant0607 commented on #428
@spxtr I noticed this when looking at ways we could have noticed that the upgrade tests started failing back in June. Given the number of tests and test suites, some kind of summary seems like it would be useful, whether it's this current page or some other format.

[2016-08-22 21:59] bgrant0607 opened #429 "Auto-file issues for all broken tests"
We've had tests and even entire test suites broken for days, weeks, even months and nobody noticed. @lavalamp suggested that we could auto-file issues for all broken tests, as we do for flaky tests. That seems like a good idea to me.

[2016-08-23 16:54] #318 closed

[2016-08-24 21:32] luxas opened #449 "F-Secure lists ci-test.k8s.io and submit-queue.k8s.io as harmful"
Example:

![image](https://cloud.githubusercontent.com/assets/5442475/17948838/37a55d2c-6a5b-11e6-820f-8017308f9bd3.png)
 :cry:

@ixdy

[2016-08-24 21:34] ixdy commented on #449
that's odd. wonder what we did.

@rmmh

[2016-08-24 21:41] ixdy commented on #449
As best I can tell F-Secure is just wrong. I don't think it's anything we did.

Any of their debugging tools to help webmasters seem to have been shut down years ago. I'm not impressed.

[2016-08-24 21:56] rmmh commented on #449
This happened a while ago with SafeBrowsing when ci-test or pr-test was redirecting to the GCS storage browser.

Based on some brief forums results, it looks like F-Secure might be marking URLs that start redirecting to different domains as evil. ci-test is redirecting to gubernator instead of GCS for that URL now.

[2016-08-24 21:59] ixdy commented on #393
Reopening until we have a `PR` make release job and the CI one is queue-blocking.

It'd be pretty trivial to add it to PR Jenkins, but I think we want to make sure we have enough Jenkins agents for the added compilation load, and we really need to address the exploding "ok to test" comments.

[2016-08-24 22:13] luxas commented on #393
Yes, of course it requires machine power... you might have to go on a shopping tour :)

[2016-08-24 22:54] ixdy commented on #393
stop it, github!

[2016-08-25 00:32] rmmh commented on #195
pr-test.k8s.io was fixed earlier, this was fixed in kubernetes/k8s.io#7

[2016-08-25 00:32] #195 closed

[2016-08-25 00:33] rmmh commented on #247
Done! https://github.com/kubernetes/k8s.io/tree/master/k8s.io

[2016-08-25 00:33] #247 closed

[2016-08-30 05:06] quinton-hoole opened #470 "federation e2e gce automated tests on Jenkins fail consistently with token auth attempt failed with status: 403 Forbidden"
+++ [0829 21:48:48] Pushing gcr.io/k8s-jkns-pr-bldr-e2e-gce-fdrtn/hyperkube:v1.4.0-alpha.3.197_ef82f394a9e1ba
 -> GCR repository detected. Using gcloud
@nikhiljindal I think you know about this, but just so we don't lose track of it, here's an issue to track it.

See https://github.com/kubernetes/kubernetes/pull/31655#issuecomment-243330580 for an example...

@k8s-bot federation gce e2e test this

[2016-08-30 13:56] mksalawa opened #471 "Heapster GCE e2e test failing with permission denied error"
[code]

Suite **heapster-pull-build-test-e2e** ([https://github.com/kubernetes/heapster/pull/1271](https://github.com/kubernetes/heapster/pull/1271))

[Full logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/1271/heapster-pull-build-test-e2e/452/)

@piosz suggested that `sudo make clean` might be enough to solve it.

[2016-08-30 14:01] piosz commented on #471
@fejta @kubernetes/test-infra-maintainers I don't have permissions to login into the machine. Could you please try to execute `sudo make clean` there? This is pretty important since it blocks us from releasing stable Heapster vesion for Kubernetes 1.4 release.

[2016-08-30 18:32] ixdy commented on #470
Most likely ACLs for the `pr-kubekins@kubernetes-jenkins-pull.iam.gserviceaccount.com` service account are missing somewhere.

[2016-08-31 00:08] ixdy opened #476 "handle PRs in alternate repos properly"
Gubernator seems to work correctly only on the main kubernetes repo.

For example,  https://k8s-gubernator.appspot.com/pr/1271 is a PR against the kubernetes/heapster repo, but the "view on GitHub" link takes you to kubernetes/kubernetes. And if there happened to be a kubernetes/kubernetes PR 1217 with results, it would be erroneously intermixed.

[2016-08-31 00:27] spxtr commented on #476
I think this is a symptom of a bigger problem: jobs from different repos are writing their PR logs into `gs://kubernetes-jenkins/pr-logs/pull/#`. As we break kubernetes into separate repos we'll need to fix this, since the chance of PR # collisions will go up.

[2016-08-31 00:31] ixdy commented on #476
yeah, I didn't really think about multiple repos when writing the upload-to-gcs script.

[2016-08-31 00:32] ixdy commented on #476
We could put logs in `pr-logs/pull/$REPO/$PR`. Not sure how best to handle the switch-over in gubernator, though.

[2016-08-31 00:37] rmmh commented on #476
If you fix the uploader script, I can fix Gubernator. The path for that might be "/pr/heapster/1271".

Whether `google/cadvisor` should go in `pr-logs/pull/cadvisor` or `pr-logs/pull/google/cadvisor` or whatever doesn't seem like as big of an issue.

[2016-08-31 08:30] piosz commented on #471
This was fixed by @gmarek in #1273

[2016-08-31 09:08] fejta commented on #471
`make clean` from where?

Unfortunately this is non-trivial as there are 75 potential machines that we need to run this on!

* Is there a reason this job does not run in a container?
* Could we add this bit of cleanup to https://github.com/kubernetes/test-infra/blob/master/jenkins/hourly_maintenance.py?
* When you say it was fixed by https://github.com/kubernetes/heapster/pull/1273 does that mean

[2016-08-31 09:11] piosz commented on #471
I'll try to migrate to run this job in a container. We haven't done it yet because it didn't have enough priority. The problem was on our side and Marek fixed it. The issue can be closed (I don't have permissions). Thanks @fejta

[2016-08-31 09:12] fejta commented on #471
Sweet, thanks so much to you both!

[2016-08-31 09:12] #471 closed

[2016-09-01 19:23] colhom opened #496 "kubernetes-e2e-aws is broken due to limits"
https://github.com/kubernetes/kubernetes/issues/31832

@quinton-hoole suggests we move the e2e tests to a different AWS region in which the limits are not being maxed out. Alternatively, the AWS is usually pretty responsive when asked to increase limits.

http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html

\cc @ixdy @vishh @spxtr

[2016-09-01 19:25] colhom commented on #496
I realize now we are not hitting regional limits. I agree with quintion- switching the zone should fix this issue.

[2016-09-01 20:23] #496 closed

[2016-09-01 20:51] spxtr commented on #199
Done :)

[2016-09-01 20:51] #199 closed

[2016-09-02 00:28] spxtr commented on #269
k8s-bot gke test this has worked for a while.

[2016-09-02 00:28] #269 closed

[2016-09-02 02:19] nikhiljindal commented on #470
I had created the project using the standard create project script which should have setup ACLs correctly.

The job is running in `k8s-jkns-pr-bldr-e2e-gce-fdrtn` project and we are running `gcloud docker push <image-name>` to the same project, so no extra credentials should be required.

@madhusudancs had suggested running gsutil acl to ensure the right ACL on the GCS bucket, but running:

[code]

[2016-09-02 05:21] madhusudancs commented on #470
If you are running in the same project, you don't need any of these ACL changes I suggested. You only need the ACL changes when the build artifacts and test VMs are in different projects.

I don't think you can create appspot.com buckets. And also, you don't have to :) Then first time you run `gcloud docker push`, GCR automatically creates this bucket for you.

I think @ixdy is right. This is a cr

[2016-09-02 06:37] luxas opened #500 "Make it possible to explicitely disable testing for a PR"
Hi, could we make it possible to apply a label on a PR that disables all tests except for Jenkins Verification?
That would be useful in some cases where the PR is super WIP and e2e testing isn't needed.

For example: https://github.com/kubernetes/kubernetes/pull/31221.
Now it runs all tests on every commit change, but that's completely unnecessary since we're not gonna merge it anytime soon.

The

[2016-09-02 07:34] spxtr commented on #500
I don't think it would reduce the load too much since most PRs will still want all the tests, and we'll want to run all the tests before merging. I think `[skip ci]` in the PR body might have actually done what you suggest, but that won't work soon.

The code deciding what tests to run is in the `ciongke` folder. We're switching off of the Jenkins plugin, and we'll have much more control.

[2016-09-02 07:36] spxtr commented on #500
Related: I think one of the best ways to reduce load will be to make it so that if you update a PR it will cancel the Jenkins job that is currently testing. This won't be hard to do, I just haven't added it in yet.

[2016-09-02 07:40] gmarek opened #501 "k8s-bot shouldn't create an issues for tests failing just after the fix is merged"
@kubernetes/test-infra-maintainers - the problem is the following:
- test X fails and there's an issue Y for it
- PR Z fixes X and has "Fixes Y" in the comment
- PR Z is merged and github automatically closes Y
- it takes 30 minutes (or sth) to build a new release so all tests started before that fail (as X is not fixed yet)
- k8s bot opens an issue for failing X again.

Is it possible to mute the

[2016-09-02 07:47] luxas commented on #500
That would already be a significant improvement

[2016-09-02 17:00] ixdy commented on #500
Another helpful improvement would be to do a `make release` only once per trigger, and then share the build results for all of the various e2e scenarios. I don't know how that setup would work with the Jenkins plugin (which is why we haven't really even tried it yet), but it should be easier with our out-of-Jenkins triggering.

[2016-09-02 17:20] wonderfly opened #504 "Tests using stale e2e-runner.sh"
https://github.com/kubernetes/test-infra/pull/443 renamed an env var in `e2e-runner.sh` and job configs that used it. The most recent run failed because `e2e-runner.sh` was still expecting the old variable name.

[code]

_Note that `JENKINS_GCI_IMAGE_FAMILY` was changed to `JENKINS_GCI_HEAD_IMAGE_FAMILY` in that PR._

@fejta @spxtr Any idea?

@kubernetes/goog-image FYI

[2016-09-02 17:33] ixdy commented on #504
Can you link to the result where you saw this?

[2016-09-02 17:35] ixdy commented on #504
oh, actually, this is working as implemented.

you have to push a new e2e-image and update `dockerized-e2e-runner.sh` to use the new image after changes to e2e-runner.sh now. I'm not sure this has been documented anywhere, though. @fejta

[2016-09-02 17:42] wonderfly commented on #504
The result is on an internal Jenkins instance so I'd rather not paste the link here. :)

Do I have permission to push a new image? Any instructions @fejta ?

[2016-09-02 17:58] ixdy commented on #504
Does the job not upload to GCS? Most builds have a k8s-gubernator link.

In any case, I can take care of pushing the new image.

[2016-09-02 18:07] nikhiljindal commented on #470
Ran the following command which should have been run anyway by the create_jenkins_project script if i had set the flags correctly while calling it (which I may or may not have :)):
[code]
Will see if that fixes the problem.
Thanks!

[2016-09-02 18:12] ixdy commented on #504
... eventually. I apparently can't ssh from my laptop right now.

[2016-09-02 19:24] nikhiljindal commented on #470
That didnt fix it.
Still the same error.

[2016-09-02 19:30] ixdy commented on #470
@nikhiljindal link to the log?

[2016-09-02 19:40] wonderfly commented on #504
I can't find a k8s-gubernator link, but this is the log in GCS: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-gci-qa-m52/1149

[2016-09-02 20:07] maisem opened #510 "E2E tests should use a time-stamped cluster name"
It's really hard to dig through logs (especially on GKE) if all the clusters are named jenkins-e2e.

cc @jlowdermilk @spxtr @goltermann

[2016-09-02 20:38] luxas commented on #500
I think a build/verification initial job would be the best way.
It would first run `make quick-release`, then upload the binaries to a bucket somewhere and then trigger all other tests. Lastly, it would run `hack/verify-all.sh`
In parallell with the build/verification job, a full `make release` job should be run.

This approach would reduce the current five `make quick-release` jobs to just one `m

[2016-09-02 20:40] spxtr commented on #500
Agreed.

[2016-09-02 20:41] spxtr commented on #500
We could optimize even further by having the build/unit test jobs run on more powerful machines than the e2e jobs.

[2016-09-02 21:19] nikhiljindal commented on #470
@ixdy https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30458/kubernetes-pull-build-test-federation-e2e-gce/11/

[2016-09-02 23:11] ixdy commented on #510
The counterpoint is that using the same cluster name each time means we can clean up resources from a previous run if it failed to clean up properly. (This is a fixable problem, but we need to consider it before changing how we name clusters.)

[2016-09-02 23:12] ixdy commented on #510
vaguely related: https://github.com/kubernetes/test-infra/issues/39

[2016-09-02 23:19] rmmh commented on #172
I doubt the usefulness of showing skipped tests. Showing tests that succeeded sounds good.

[2016-09-02 23:25] jlowdermilk commented on #510
Checking for resources from a previous run should be trivial if your naming scheme follows a template. All you have to do is pass an appropriate [`--filter`](https://cloud.google.com/sdk/gcloud/reference/topic/filters) to the gcloud command that lists resources. Example

[code]

[2016-09-05 10:14] gmarek opened #517 "Only the last part of logs is stored in the GCS bucket"
I was trying to debug some failures in enormous cluster (2k Nodes) and I needed API server logs for that. Sadly it turns out that only the last hour of logs is stored, and all previous ones are dropped (probably because we compress logs after each hour if there're a lot of them and store them in .gz files).

cc @kubernetes/test-infra-maintainers

[2016-09-06 18:12] ixdy commented on #517
Our log dumping scripts don't to any truncation: https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump.sh

It's probably something in the cluster itself (systemd?) which is truncating the logs.

[2016-09-06 18:16] gmarek commented on #517
Yup - I'm not sure which of system daemons does that, but it certainly compresses the logs every hour.

[2016-09-06 18:23] ixdy commented on #517
cc @kubernetes/goog-image

[2016-09-06 18:37] gmarek commented on #517
I guess my request here is to store all parts of log files, not only the current one.

[2016-09-06 18:38] adityakali commented on #517
You should be able see all logs in the cloud-logging, no?

The logs are rotated (moved to compressed archive) only if they exceed certain limit (>=100Mb) within an hour. The compressed logs are removed after 5 such rotations in a day. See https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L118. So you should still be able to see last 5 hours of logs on the hos

[2016-09-06 21:55] ixdy commented on #470
Argh! https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/build.sh#L56

I'm pretty sure we don't need this `git clean`. I'm going to test just removing it.

[2016-09-06 22:22] ixdy commented on #470
Removing `git clean` appears to have worked: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32158/kubernetes-pull-build-test-federation-e2e-gce/16/

Next issue is a lack of resources. :)

[2016-09-07 17:02] zmerlynn commented on #517
We should consider just pulling logs from cloud-logging automatedly, but it's a little fidgety right now.

[2016-09-07 17:54] #470 closed

[2016-09-07 19:37] nikhiljindal commented on #470
The image push issue is fixed now.
The error now is:
[code]

I have submitted a request for increasing the network quota to 15.

[2016-09-08 18:40] spxtr opened #534 "Use Ingress for CI on GKE."
Currently I'm getting strange flakes when I try to use any LB. Once those are resolved, switch back. The workaround is to expose a NodePort, which isn't ideal.

[2016-09-08 19:02] foxish opened #535 "Test-grid dashboard should have a grouping for tests belonging to a single release"
The test-grid at https://k8s-testgrid.appspot.com currently performs grouping based on whether it is gke, gce, etc
It would help keep track of release tests if we could have categorization based on the version (v1.3 tests, v1.4 tests and so on) as well.

Best case would possibly be allowing filtering by regular expression.

[2016-09-08 19:47] krzyzacy commented on #535
I'm working on it, and I will allow user to modify regex to collect the tabs, so stay on tune :)

[2016-09-08 20:06] spxtr commented on #535
It would also be super-useful to have something like an "overview" tab for each branch showing the Overall result from each job.

[2016-09-08 20:13] krzyzacy commented on #535
The ultimate goal will be something like Nemesis

[2016-09-09 03:02] maisem opened #539 "All of the GKE Upgrade tests for 1.2 -> 1.3 are failing because of an issue in teardown"
All of the GKE Upgrade tests for 1.2 -> 1.3 are failing because of an issue in teardown.
The tests never actually run.

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.3-upgrade-cluster/4076
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.3-upgrade-cluster-new/4517
https://k8s-gubernator.appspot.com/build/k

[2016-09-09 03:14] maisem commented on #539
Make that all 1.2 -> 1.3/1.4 tests are failing because of the same issue.
Also looks like we are missing 1.2->1.4 kubectl skew tests.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster/5844
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-cluster-new/5871
https://k8s-gubernator.appspot.com/

[2016-09-09 06:48] fejta commented on #539
@ixdy is this another instance of the famed cannot parse gcloud output problem? If so will you pull that into 1.2? Thanks!

[2016-09-09 06:59] fejta commented on #539
This actually looks like an incompatibility between 1.2 and master in the behavior in test-teardown:

https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/gke/util.sh#L301

https://github.com/kubernetes/kubernetes/blob/f236df504a5944eb227a0d97dde63bed9667e9dd/cluster/gke/util.sh#L366

[2016-09-09 08:01] ixdy commented on #539
https://github.com/kubernetes/kubernetes/pull/30942 has been sitting for a while. It's not going to auto-merge, because I think node e2e tests are pretty broken on release-1.2.

[2016-09-09 17:26] maisem commented on #539
@ixdy - kubernetes/kubernetes#30942 has been merged by @roberthbailey.

[2016-09-09 20:33] maisem commented on #539
Still not working.

[2016-09-09 21:09] dchen1107 opened #544 "expose os distro information on testgrid for node e2e"
Now almost all node e2e test result can be accessed publically through testgrid, which is really useful for the development velocity. Unfortunately it doesn't include os distro information here. For example, clicking the link at: https://k8s-testgrid.appspot.com/google-node#kubelet-serial-gce-e2e&include-filter-by-regex=MemoryE&graph-metrics=test-duration-minutes

One will see:

[k8s.io] MemoryEvi

[2016-09-09 21:28] davidopp commented on #539
ping @ixdy

[2016-09-09 22:07] ixdy commented on #539
@fejta was just talking to me about the teardown issues on 1.2. I'm not sure what the plan is.

[2016-09-09 22:17] ixdy commented on #539
The issue is that `hack/e2e.go` now tries to tear down any existing cluster before starting a cluster, regardless of whether a cluster already exists.

In 1.2, tearing down a nonexistent cluster failed. In 1.3+, this operation passes.

We could possibly revert the change in e2e.go so that we only try to teardown when the cluster is up.

[2016-09-09 22:23] ixdy commented on #539
https://github.com/kubernetes/kubernetes/pull/32420 for your consideration.

[2016-09-09 23:16] fejta commented on #539
Thanks @ixdy!

[2016-09-09 23:26] maisem commented on #539
Thanks @ixdy!

[2016-09-12 17:10] spxtr opened #551 "Fix diff-job-config-patch.sh on revert branches."
Right now we get two travis results for reverts, one of which says this:

[code]

It's confusing. The reason this happens is that GitHub creates the revert branch in the main repo, so travis tests both the PR and the branch. In the latter, I guess it doesn't fetch master.

[2016-09-12 22:00] ixdy commented on #539
My previous fix broke the GKE build because (conveniently) shortly after it was activated, a GKE cluster failed to start up in time ([log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15244)), resulting in all subsequent runs to fail (https://github.com/kubernetes/kubernetes/issues/32431) because the cluster already existed ([example log](https://k8s-gubernat

[2016-09-12 22:31] spxtr commented on #534
https://github.com/kubernetes/kubernetes/issues/32415

[2016-09-12 22:31] #534 closed

[2016-09-12 23:56] maisem opened #561 "GKE Upgrade tests aren't creating the clusters at the correct version."
We are launching clusters at the JENKINS_PUBLISHED_SKEW_VERSION version rather than the JENKINS_PUBLISHED_VERSION.
All upgrade test output is seemingly testing the wrong versions.

The issue is around the ordering of fetch_published_version_tars in https://github.com/kubernetes/test-infra/blob/master/jenkins/e2e-image/e2e-runner.sh.

@ixdy @pwittrock

[2016-09-13 15:32] #561 closed

[2016-09-13 16:44] #539 closed

[2016-09-14 23:55] ixdy opened #581 "support tagging test runs with additional properties/metadata"
Some tests have additional properties to tag to runs, e.g. what node image is being tested. We should support tagging runs with arbitrary properties/metadata so that we can improve visualization and analysis (e.g. on gubernator, testgrid, and bigquery).

I can think of at least three ways to achieve this:
1. add `<property>` tags to the JUnit XML (ref http://llg.cubic.org/docs/junit/).
2. allow te

[2016-09-14 23:57] fejta commented on #581
Related: https://github.com/kubernetes/kubernetes/pull/32740

[2016-09-15 01:10] fejta commented on #504
We plan to automate the test image release process next quarter. For now this is working as intended.

[2016-09-15 01:10] #504 closed

[2016-09-16 11:39] gmarek opened #597 "Test results are invisible in both Jenkins and test-grid if test never finished"
Observed by @wojtek-t when debugging tests running in large cluster. @bprashanth added few networking tests that caused the test to time out (which is fine), but it was quite painful to actually see which ones were problematic, because the problematic ones were not listed in test result analyzer nor in our test grid (which is not fine).

@kubernetes/test-infra-maintainers

[2016-09-16 18:01] wonderfly opened #599 "Lock down write access to gs://kubernetes-release-dev/?"
That bucket is used to store CI builds, but apparently it allows write access to people who don't need to, e.g., myself. :)

I was trying to download the test tarball to run the e2e tests manually, but I forgot to append a dot at the end of the `gsutil cp` command line, which resulted in the test barball being overwritten by the release tarball.

[code]

If I were copying the latest green build, I

[2016-09-16 18:01] wonderfly commented on #599
@ixdy @fejta

[2016-09-16 18:08] spxtr commented on #597
dupe of #79, which I think I'll be fixing as a part of #76 soon.

[2016-09-16 18:42] spxtr opened #601 "Dead executors on Jenkins when we re-add jobs."
When we add jobs back to Jenkins that we have previously deleted, there is a chance that this will show up in the logs:

[code]

Then, the `nextBuildNumber` file won't get migrated, and so runs from then on will try to use build number 1, 2, etc, but fail with

[code]

This will permanently kill the executor that happened to try to run it.

To fix this quickly we can manually set `nextBuildNumber`

[2016-09-16 20:04] gmarek commented on #597
Great. Thanks!

[2016-09-16 20:04] #597 closed

[2016-09-16 20:22] spxtr commented on #599
This actually did cause a few Jenkins jobs to fail, unexpectedly XD

I rebuilt 1.4, hopefully they'll go green soon.

[2016-09-16 20:27] spxtr commented on #599
With regards to the point, we have discussed moving CI stuff to a separate bucket from dev stuff. @zmerlynn might be the right contact.

[2016-09-16 20:41] ixdy commented on #599
Well, we moved CI stuff away from `kubernetes-release` into `kubernetes-release-dev`, I think. We probably want a separate one for CI vs. dev builds, though.

Looking at the console browser, I see we have a `kubernetes-release-dev-jenkins`, but I don't think it's used anywhere? I'm not sure who created it, or what the intent for it is.

[2016-09-17 01:00] spiffxp commented on #581
I'm fine with leaning on `.json` as a thing that doesn't blow up when new fields are added.  Upstream might eventually give us the most benefit, and too many fields might lead to a desire for a schema.  But I think we have tools that look at `.json` already so we'd get benefit sooner going that route for now

[2016-09-19 17:06] zmerlynn commented on #599
I think this is a non-issue. You're part of an internal group that has access to `kubernetes-release-dev` (the purpose of that write access is to be able to bring up GKE clusters with custom k8s builds). We've talked about creating yet a third group, but in general, "don't screw up" has worked for this for long enough.

[2016-09-19 17:06] #599 closed

[2016-09-19 17:07] zmerlynn commented on #599
(And yes, I realize that as the number of humans with access to *that* group increases, we stand a chance of losing more and more CI builds, but this isn't a big issue on the CI side.)

[2016-09-19 17:28] foxish opened #612 "Testgrid should indicate which builds were started by SCM changes and which ones were started by timer"
Indicating which ones were started by SCM changes would help us figure out at a glance if a new broken test is due to some change/flake/test infrastructure failures.

[2016-09-19 17:54] wonderfly commented on #599
I wonder how long it would have taken @spxtr to figure out the recent CI failures were due to a human error if I didn't log this issue before they happened. If it was easy and not painful at all, and constant CI build failure emails are fine, then it's not a _big issue_. :)

[2016-09-19 18:03] spxtr commented on #599
Were it not for this issue, I would've been super confused and probably would've wasted a long time trying to find a bug in the code. I agree with zmerlynn that it's probably not necessary to duplicate the bucket. We just have to trust that people with write access know to let us know when they break something, as you did here :)

[2016-09-19 18:05] spxtr commented on #612
We have the commit hash as a column header, which I'm hoping is enough. If that changes then there was a SCM change. The e2e jobs themselves don't actually know about SCM changes, which would make indicating it some other way difficult.

[2016-09-19 18:09] foxish commented on #612
@spxtr @fejta
Ah! just noticed that now. It's much easier to see in the "compact" view. Any thoughts on making that the default?

[2016-09-19 18:43] spxtr commented on #612
I would actually be fine with that. @fejta thoughts?

[2016-09-19 20:28] vishh opened #613 "Uploading build results is failing for kubernetes-e2e-gce-gci-ci-release-1.4"
cc @wonderfly

<details>
12:57:47 [Current build status] check if current [FAILURE] is worse or equals then [SUCCESS] and better or equals then [SUCCESS]
12:57:47 Run condition [Current build status] preventing perform for step [Execute shell]
12:57:47 [Current build status] check if current [FAILURE] is worse or equals then [UNSTABLE] and better or equals then [UNSTABLE]
12:57:47 Run condition [C

[2016-09-19 20:32] ixdy commented on #613
how is this failing?

[2016-09-19 20:34] vishh commented on #613
The output from the upload failure is under `Details`.

[2016-09-19 20:35] ixdy commented on #613
Are you talking about the line `Uploading build result: FAILURE`? it's misleading, but it's uploading the result "FAILURE" - it didn't fail itself.

[2016-09-19 20:44] vishh commented on #613
The reason I looked at the test output is because test results are missing from test grid. Relevant link [here](https://k8s-testgrid.appspot.com/google-gci#gci-ci-release-1.4)

[2016-09-19 20:46] ixdy commented on #613
That's probably a different issue. Assigning relevant folks.

[2016-09-19 20:54] krzyzacy commented on #613
er, that test has no last success run

[2016-09-19 20:57] wonderfly commented on #613
FYI. The tests were added last Friday and are failing due to a known reason.

[2016-09-20 14:24] gmarek opened #619 "Too long master pd names:"
I saw a failure: `./hack/e2e-internal/../../cluster/../cluster/gce/../../cluster/gce/../../cluster/../cluster/../cluster/../cluster/gce/util.sh: line 1194: local: `replica-pd=k6k-e2e-agent-pr-30-0-master-pd': not a valid identifier
`
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33090/kubernetes-pull-build-test-kubemark-e2e-gce/753/

My guess is that the name is just too

[2016-09-20 14:39] quinton-hoole commented on #619
This bug is fixed in head.
See recent PR by colhom@

On Tue, Sep 20, 2016 at 7:24 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-09-20 21:10] #619 closed

[2016-09-20 21:43] spiffxp commented on #581
Discussed during sig-testing today, head nodding and agreement over the use of json, couldn't really find anyone willing to jump up and down in favor of JUnit instead.

[2016-09-20 22:35] fejta opened #628 "Support adding arbitrary metadata as additional header rows"
Aka if my tests have a `gce_node_image` metadata key as in https://github.com/kubernetes/test-infra/pull/626 I should be able to setup my tab to have the following:

[code]

So now each column has 4 header rows: start time, build number, commit id and the new gce_node_image

[2016-09-20 22:37] krzyzacy commented on #628
so it did not work when you have multiple column_header?

[2016-09-20 22:39] fejta commented on #76
@spxtr will you please move this logic into hack/e2e.go?

[2016-09-20 22:39] fejta commented on #79
Any progress here?

[2016-09-20 22:41] fejta commented on #39
I think we may have finished this? I believe multiple PRs have gone in related to this.

What kind of VMs are you talking about? e2e? Node e2e?

[2016-09-20 22:41] fejta commented on #102
Shall we consider this closed?

[2016-09-20 22:41] fejta commented on #119
@rmmh should we close this out?

[2016-09-20 22:42] fejta commented on #190
Jeff what's left to do here?

[2016-09-20 22:43] fejta commented on #210
Thoughts on this?

[2016-09-20 22:44] fejta commented on #551
Jeff will you look into this?

[2016-09-20 22:51] ixdy commented on #190
Someone needs to look at the tests and see if they are creating any resources in GCP (and if so, make sure they're using their own projects).

[2016-09-20 22:53] ixdy commented on #39
AFAIK still not done. This is referring to the VMs that are spawned by tests, both for e2e and node e2e - right now I don't think you can clearly tell what build job created them.

[2016-09-20 22:54] rmmh commented on #210
This is done, Gubernator now links to the XML file for each failure

[2016-09-20 22:54] #210 closed

[2016-09-20 23:00] fejta commented on #544
With https://github.com/kubernetes/test-infra/pull/626 and https://github.com/kubernetes/test-infra/issues/581 we have the ability to add arbitrary metadata to test runs.

We should support more customized `TestNameConfig` in a test group's configuration, including `name_format`.

I would expect to be able to do something like the following:

[code]
which should result in the following row name: `

[2016-09-20 23:06] ixdy commented on #190
Yeah, this is still not fixed. We have special snowflake `e2e-cadvisor` VMs in both `kubernetes-jenkins` and `kubernetes-jenkins-pull` which probably need to be migrated to their own projects.
cc @timstclair @vishh

[2016-09-20 23:35] rmmh commented on #119
Once the PR is created and merged, yes. :)

On Tue, Sep 20, 2016 at 3:41 PM, Erick Fejta <notifications@github.com>
wrote:

[2016-09-20 23:51] #551 closed

[2016-09-20 23:52] spxtr commented on #76
Yep. This is something I would like to do in the very near future.

[2016-09-20 23:53] spxtr commented on #79
No progress. I think the best option is 2.

[2016-09-21 01:05] fejta commented on #219
Is this merged now?

[2016-09-21 01:06] fejta commented on #429
We do this now, right?

[2016-09-21 01:06] ixdy commented on #219
yep.

[2016-09-21 01:06] #219 closed

[2016-09-21 01:07] spxtr commented on #429
Yep.

[2016-09-21 01:08] fejta commented on #306
Is this still happening?

[2016-09-21 01:16] fejta commented on #449
Has F-Secure finished scolding us for changing the redirection target?

[2016-09-21 01:16] fejta commented on #476
What is next for this issue? Are you still working on it Joe?

[2016-09-21 01:17] fejta commented on #501
Antoine is this feasible?

[2016-09-21 01:20] krzyzacy commented on #628
Okay it indeed did not work ( sad face
Maybe the proto was not set up properly, I will take a deeper look into it.

[2016-09-21 01:23] fejta commented on #613
What is the status here?

Is this because the server doesn't automatically load updates to the config?

[2016-09-21 01:26] krzyzacy commented on #613
Can it be since the test has never succeeded, it would not even try to upload the result to testgrid?

[2016-09-21 01:31] fejta commented on #613
No, given that it runs and produces results I would expect it to look like the build jobs: https://k8s-testgrid.appspot.com/google-unit

[2016-09-21 01:39] foxish commented on #306
@fejta Yes, I was a little sidetracked by other things. I'll get to this item again soon. It would now just be moving these containers into the submit-queue YAML and shouldn't be much effort.

[2016-09-21 22:29] fejta commented on #612
@krzyzacy let's unreserve field 6 in `DashboardTab` and set default_dashboard_tab's `base_options` to `width=20`

[code]

[2016-09-21 23:20] fejta commented on #517
Sounds like the request here is to update [`save-logs()`](https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump.sh#L60) to handle rotated logs.

@ixdy as our bash guru will you work on this and/or find another assignee from our team?

[2016-09-22 01:05] ixdy commented on #517
Didn't someone open a PR to do that? Or am I imagining things?

[2016-09-22 01:06] ixdy commented on #517
OK, I'm not imagining things: #32879

@gmarek / @wojtek-t can you confirm if it worked?

[2016-09-22 07:36] wojtek-t commented on #517
Yes - I already fixed it. And it works now (since few days).

[2016-09-22 07:36] #517 closed

[2016-09-22 22:57] apelisse commented on #501
Might work, but I'm not super eager to work on this:
- I'd rather have the bot close issues that don't flake (not when the "fix" is committed)
- Worst case scenario isn't terrible (we have an extra issue to close)
- I'm a little bit worried that this would be flaky: "30 minutes (or sth)" already indicates that this might be a guessing game.

[2016-09-23 17:55] fejta commented on #429
Looks like we only do this for jobs listed here: http://submit-queue.k8s.io/#/e2e

This list is controlled by https://github.com/kubernetes/contrib/blob/master/mungegithub/submit-queue/deployment/kubernetes/configmap.yaml

[2016-09-23 17:56] fejta commented on #429
We should probably do something better here... For example we could ask users to specify whether they want auto-filing in the job yaml and then read this in the contrib repo... TBD

[2016-09-23 17:58] lavalamp commented on #429
Yes, the point of this issue is to make sure that the list in the submit queue stays up to date.

[2016-09-23 18:03] bprashanth commented on #429
Oh, can you also take labels/ccs/assignees from the yaml? we wouldn't even need the owners spreadsheet then.

[2016-09-23 18:18] fejta commented on #429
The yaml defines the test job, but we define owners on a test case basis.

[2016-09-23 18:35] spxtr commented on #76
I think this is pretty much done. There are still improvements to be made, but we should make separate issues for those.

[2016-09-23 18:35] #76 closed

[2016-09-24 04:21] Random-Liu opened #660 "Shell Color Codes are not removed in the test log."
I remember they didn't present in the log on gcs before.

I don't know what was changed, currently they are everywhere in the test log, which makes it a little inconvenient to debug issues.

Something like this: `[0;32mSUCCESS[0m`

[2016-09-26 01:38] ixdy commented on #660
We removed the ANSI color plugin recently, which is probably why.

@spxtr

[2016-09-26 20:50] spxtr opened #669 "kubernetes-pull-build-test-gci-kubemark-e2e-gce needs quota"
It only has quota for 5 networks.

[2016-09-26 20:50] fejta commented on #669
We'll need quota for 70 networks

[2016-09-26 20:51] fejta commented on #669
@gmarek @wojtek-t fyi we are turning off this job until it has sufficient quota to handle the PR load.

[2016-09-26 20:56] fejta commented on #669
FYI given that there are 70 agents but 5 projects you can have around a 70% chance of passing if you trigger 17 instances of this job at the same time (`math.ceil(math.log(1.0 - 0.7) / math.log(1.0 - 5.0/70.0))`)

[2016-09-26 20:57] ixdy commented on #669
cc @mtaufen

[2016-09-26 21:09] gmarek commented on #669
Neither of us is an owner of this suite.

[2016-09-26 21:16] mikedanese opened #670 "upload cross-builds from master to gs://kubernetes-release-dev"
:+1:

[2016-09-26 21:22] fejta commented on #669
@mtaufen are these jobs temporary? If not we should make sure Poland has access to these jobs.

[2016-09-26 21:23] mtaufen opened #671 "Add serial port log to the test artifacts"
It would be useful to see the serial port log for a given job iteration for debugging. The kernel dumps all sorts of useful information in there; OOM-killer activity, for example.

[2016-09-26 21:25] gmarek commented on #669
Clarification: by an owner, I didn't mean GCE project owner, but neither of us knows anything about those suites (except the fact, that they have 'kubemark' in it's name). As far as I'm concerned there's not a huge point of doing special GCI kubemark tests, as kubemarks are running simulated nodes.

[2016-09-26 21:38] fejta commented on #669
Makes total sense... @mtaufen @spxtr can we delete these jobs entirely?

[2016-09-26 22:00] ixdy commented on #670
@mikedanese can you explain how you're planning to use these artifacts?

[2016-09-26 22:54] mikedanese commented on #670
We are using these artifacts for CI/nightly builds of debian/rpm packages. I want this:

https://github.com/kubernetes/release/blob/master/debian/xenial/kubeadm/debian/rules

To be pulling stuff hosted at gs://kubernetes-release-dev. It would also just be nice to have cross platform nightlies.

[2016-09-27 16:18] viglesiasce opened #676 "Charts CI: Unable to see build log in gubernator"
When trying to view build logs in Gubernator they cannot be found.

Example here:
https://github.com/kubernetes/charts/pull/91
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/91/charts-pull-test-e2e/129/

It appears to be due to a path change.

https://github.com/kubernetes/charts/issues/94

[2016-09-27 16:57] mtaufen commented on #669
I'll request more quota. These are temporary jobs, we will eventually be able to move the cloned-from jobs to using GCI, and then we will be able to delete the cloned-to jobs.

I'm also going to go through and compare the quotas between all (from,to) project pairs today or tomorrow so hopefully that will catch any remaining cases that need more quota.

[2016-09-27 16:59] mtaufen commented on #669
If they don't matter for GCI, then maybe we can just delete them. "Doesn't matter, delete it" is music to my ears. @vishh what do you think?

[2016-09-27 17:06] mtaufen commented on #669
And two more things:
- The simplest and most reversible way to disable this job is to set it's `AlwaysRun` back to `false` in `ciongke/cmd/hook/main.go` for the time being.
- In case we decide we want it later, the quota difference between (cloned-from,cloned-to) is currently:
[code]

[2016-09-27 17:39] spxtr commented on #676
The new link is https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/charts/91/charts-pull-test-e2e/129/

https://github.com/kubernetes/kubernetes/pull/33338

[2016-09-27 17:39] spxtr commented on #676
We needed to do it this way because multiple repos PRs would collide.

[2016-09-27 18:10] #676 closed

[2016-09-28 20:00] timstclair opened #697 "[PR dashboard] Proposal: "Waiting on""
**Problem:**
There are often a handful of PRs in my "needs attention" view that I know are waiting for something specific. They might be waiting on a dependency, need to add new features, or have just been deprioritized. PRs in this state clutter the dashboard, making it harder to find PRs that really do need attention (i.e. they make a zero-inbox workflow difficult). It is also not always obvious

[2016-09-28 20:26] ixdy commented on #670
@mikedanese do you really want the latest (possibly broken) nightly unless of a stable version?

[2016-09-28 20:49] mikedanese commented on #670
@ixdy, yes. We'd like to publish both stable and nightly builds. Nightly builds are used for testing close to master.

[2016-09-28 21:20] spxtr commented on #669
So it has quota now, but it sounds like it's not a necessary test? Should we just delete it?

[2016-09-28 21:41] vishh commented on #669
Given that we are working towards deprecating ContainerVM, I'd be more
inclined to change the base image to gci for these jobs.

On Wed, Sep 28, 2016 at 2:20 PM, Joe Finney <notifications@github.com>
wrote:

[2016-09-28 22:17] mtaufen commented on #669
@wojtek-t In that case I will send a PR to change the base image to GCI and delete the extra GCI tests for Kubemark.

[2016-09-28 22:24] mtaufen commented on #669
https://github.com/kubernetes/test-infra/pull/700

[2016-09-29 20:15] spxtr opened #709 "Upgraded k8s, some builds errored."
I upgraded kubernetes to 1.4 for ciongke, and immediately after it finished a bunch of jobs couldn't connect to Jenkins. I'll try and figure out why.

[2016-09-29 20:28] spxtr commented on #709
When you upgrade k8s, the DNS pods need to be recreated and they don't do so in a rolling fashion, which means my requests to "pull-jenkins-master:8080" missed.

That's super gross, but we can cache our DNS requests to Jenkins so that it's not a problem.

[2016-09-30 01:06] krzyzacy opened #713 "First test job seems not gets parsed properly on testgrid"
for instance, https://k8s-testgrid.appspot.com/google-gce#gci-gce-cri, first column is gray out, while we already have the result available.

[2016-09-30 21:16] spxtr opened #725 "SSH metadata causing issues in GKE PR tests."
GKE needs to add SSH keys to your project. We have 70 PR agents adding their metadata, and after they all do it then PRs start failing. The fix is to go in and delete all SSH keys other than `jenkins@pull-jenkins-master` and the running GKE keys. This is super gross, but there's not really a good way to do it.

The underlying issue is that the metadata is just a big text blob and we can't really u

[2016-10-04 16:56] #669 closed

[2016-10-04 18:42] rmmh commented on #697
I was planning to just add a button like "ack" that will forcibly suppress "needs attention" (transition it back into "waiting") until the next state change.

[2016-10-04 18:55] luxas commented on #670
ping @ixdy
Is someone from @kubernetes/sig-testing going to work on this?
Would be awesome!

[2016-10-04 20:47] spxtr commented on #660
It might be possible to make gubernator display them properly? @rmmh

[2016-10-04 21:44] rmmh commented on #581
We're putting the GCI node versions into started.json metadata now.

See kubernetes/kubernetes#32740 for more details.

[2016-10-04 21:44] #581 closed

[2016-10-04 21:45] rmmh commented on #713
That's what an in-progress/running job (started.json with no finished.json or results) looks like.

[2016-10-04 21:45] #713 closed

[2016-10-04 21:51] rmmh commented on #660
Can you give a link to an example where this is a problem?

[2016-10-04 21:52] ixdy commented on #660
Any e2e test log. Ginkgo prints out ANSI colors.

[2016-10-04 23:06] lavalamp opened #750 "gubernator/test-grid is unusable for anyone with red-green colorblindness"
e.g. https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/

Just adding a checkmark/X in addition to the coloring is probably enough? I'm not colorblind so I don't know what would be best to fix this.

[2016-10-04 23:14] lavalamp opened #751 "gubernator/test-grid: link to autofiled github issues in the failure screen"
This would be super handy for anyone browsing the test results.

[2016-10-04 23:37] #709 closed

[2016-10-05 00:32] rmmh commented on #750
No, the colors have sufficient contrast to be easily distinguishable. Closing until someone with colorblindness finds the contrast level to be insufficient.

![image](https://cloud.githubusercontent.com/assets/211868/19097255/f7f22684-8a57-11e6-9475-03bba0cb10d8.png)
![image](https://cloud.githubusercontent.com/assets/211868/19097267/22004faa-8a58-11e6-9a65-c92a82514bfb.png)
![image](https://cloud

[2016-10-05 00:32] #750 closed

[2016-10-05 00:37] lavalamp commented on #750
oh, awesome!

On Tue, Oct 4, 2016 at 5:32 PM, Ryan Hitchman <notifications@github.com>
wrote:

[2016-10-05 17:15] spxtr commented on #102
Yes. It's top-level and everyone uses it, I think.

[2016-10-05 17:15] #102 closed

[2016-10-06 00:31] #660 closed

[2016-10-06 06:55] gmarek commented on #725
It's a dupe of a P0 flake, so I'm bumping priority.

[2016-10-06 17:56] spxtr commented on #725
I'll try to have a fix out ASAP. It was p0 because when it fails it fails over and over again until the project is cleaned up.

[2016-10-06 21:30] ixdy commented on #670
The non-trivial part of this is that **kubernetes-build** does a quick-release (linux/amd64-only) and uploads its artifacts to `gs://kubernetes-release-dev/ci`. The **kubernetes-cross-build** job will take longer to complete, so I'm not sure how to handle its artifacts in a way that doesn't collide.

There are basically three options I see:
 1. Revert to old behavior and make only **kubernetes-cro

[2016-10-06 23:32] #725 closed

[2016-10-06 23:43] spxtr commented on #725
Looks like it worked :)

[2016-10-06 23:52] spxtr commented on #670
4. Make `kubernetes-build` upload to another path, since it's not a full release anyway. The e2es will have to pull from there instead.

I think 2 is best, and it's not that ugly.

[2016-10-07 00:28] rmmh commented on #670
I like 2 as well, ci-cross sounds fine. Do we have any automation that consumes cross builds?

[2016-10-07 00:47] ixdy commented on #670
No automation yet (hence we haven't been uploading them), but this issue was opened because there is a desire to have something consuming them.

There's a slight inconsistency in that the artifacts uploaded by the -release variants *are* full cross-builds, so `ci/1.4.1-beta*` actually does have everything, whereas `ci-cross/1.4.1-beta*` won't exist. It's probably not a big deal, though.

[2016-10-07 21:45] madhusudancs opened #769 "Display line numbers in the build log in gubernator"
Display line numbers for the lines in the build log like the way source code browsers display them. Also, make it linkable (using # fragments) and scrollable using something like `jquery.scrollTo`

[2016-10-07 23:47] ixdy opened #771 "gcsweb creates invalid links if / is missing from URL"
for example, if I go to http://gcsweb.k8s.io/gcs/kubernetes-release/release/v1.4.0, all of the links on that page are missing the / between "v1.4.0" and the file/subdir.

cc @thockin

[2016-10-08 19:11] fejta opened #775 "Move active-service-account logic into runner"
The problem is we export a different values for CLOUDSDK_CONFIG, HOME and these are then popped before running the next job, resulting in the next job using the default service account

With everything in one builder: http://kubekins.dls.corp.google.com:8081/job/google-cloud-resource-cleanup/416/console
Multiple builders: http://kubekins.dls.corp.google.com:8081/job/google-cloud-resource-cleanup/4

[2016-10-08 19:12] fejta commented on #775
Probably the easiest way forward here is to migrate this over to bootstrap.py

[2016-10-08 19:16] fejta opened #776 "Delete all default service accounts for agents"
We should eliminate all the service accounts from the agent VMs to make them simpler... this should have no impact for jobs as they should activate the credentials handed to them. However this may cause issues with our monitoring.

https://github.com/kubernetes/test-infra/blob/9e7a47efe138ef3380e8ba00f5b041da6b8659f1/jenkins/agent-ctl.sh#L66

[2016-10-09 02:13] fejta opened #777 "CI jenkins never uploads finished.json"
kubekins has a red notification box about some plugin errors:

[code]

I suspect this means the conditional-buildstep is not running, which means we never upload finished.json

[2016-10-10 17:47] #670 closed

[2016-10-10 18:44] ixdy commented on #670
http://gcsweb.k8s.io/gcs/kubernetes-release-dev/ci-cross

[2016-10-10 19:02] ixdy commented on #670
(though that link is kinda broken until https://github.com/kubernetes/test-infra/pull/774 is merged and pushed)

[2016-10-10 21:04] spxtr opened #780 "docs/federated_testing.md is out of date."
It describes how to use `hack/jenkins/e2e-runner.sh` and `hack/jenkins/upload-to-gcs.sh` but we've changed how that stuff behaves.

[2016-10-10 22:47] #775 closed

[2016-10-10 22:54] ixdy commented on #777
I think this is fixed now - can we close?

[2016-10-11 02:20] techtonik opened #787 "Document k8s-bot behavior"
In https://github.com/kubernetes/kubernetes/pull/34371#issuecomment-252564527 k8s-bot was ignoring me. I couldn't find any documented @k8s-bot behavior from its GitHub profile or its source code. Later I've been told that I just need to send him two separate messages.

The question asked:
- Does it need me to be in whitelist? (do both CLA is enough)
- Is it desirable that it could parse two lines

[2016-10-11 02:20] techtonik commented on #787
Maybe there is a slack channel that receives all mentions of the bot?

[2016-10-11 02:25] techtonik commented on #780
Any hints what was changed? Or it could be inferred from the code?

[2016-10-11 05:01] #771 closed

[2016-10-11 07:29] wojtek-t commented on #777
If this is the same as https://github.com/kubernetes/kubernetes/issues/34446 (what @ixdy suggested), then it's not fully fixed. We still not have logs from kubemark suites.

[2016-10-11 16:51] fejta commented on #777
Most builds are now uploading so let's close out this one. Let's keep the kubernetes bug open and use it to deal with the kubemark logging. Sorry things are failing for you :(

[2016-10-11 16:51] #777 closed

[2016-10-11 17:32] spxtr opened #791 ""always_run" jobs need to be run with "@k8s-bot test this""
Otherwise we get into a bad state where the mungebot keeps trying to rerun the job every 10 minutes because the status is missing, but it's not actually rerunning the job.

I'll fix this and add a test case today.

[2016-10-11 17:33] spxtr commented on #787
You need to be a kubernetes org member. I agree, currently it's not clear how it all works. @fejta suggested "@k8s-bot help" or something like that, and I can also make it so that if you say "@k8s-bot test this" or something when you're not a member it comments saying why it won't test.

[2016-10-11 18:33] #791 closed

[2016-10-11 19:46] wojtek-t commented on #791
@spxtr - can you please clarify them what should I fix in https://github.com/kubernetes/contrib/pull/1849 to actually make it work?

@apelisse - FYI

[2016-10-11 19:57] apelisse commented on #791
Yeah, because this is merged now, we can revert the revert and everything should be fine

Can you please confirm @spxtr ?

[2016-10-11 20:00] spxtr commented on #791
That's right. The fix was in this PR, the kubemark presubmit is now run by the mergebot.

[2016-10-11 20:02] apelisse commented on #791
Reverting the revert: https://github.com/kubernetes/contrib/pull/1869

[2016-10-11 20:07] spxtr commented on #780
`e2e-runner.sh` is now in the test-infra repo and behaves differently, and `upload-to-gcs.sh` will soon follow suit. The environment inputs may or may not have changed, I'm not sure.

[2016-10-11 20:22] roberthbailey opened #795 "'Recent Runs' page on test grid doesn't show the run currently in progress"
For example, if you open

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-pre-release/

The top of the list is build 840:

`840 2016-10-11 13:02 PDT`

But build 841 is the build that is currently running. If I click on 840 and hack the URL I can see a status page for build 841, but the recent runs doesn't have a link to it.

https://k8s-testgrid.appspot.com

[2016-10-11 20:24] roberthbailey opened #796 "'Recent Runs' page on test grid has confusing time stamps"
The timestamp for a run appears to be the time when the run ended (rather than started). If I click on build 840, which on the recent runs page shows:

`840 2016-10-11 13:02 PDT`

Then I see

[code]

So the run started at 12:06 PDT, which is the time that I think would be much more useful to show.

Just like in https://github.com/kubernetes/test-infra/issues/795, https://k8s-testgrid.appspot.com/g

[2016-10-11 20:36] rmmh commented on #796
Ha, I was wondering if anyone would notice.

Right now it's just reading from finished.json, but I can make it read
started.json as well.

On Oct 11, 2016 13:24, "Robert Bailey" <notifications@github.com> wrote:

[2016-10-11 21:14] spxtr opened #798 "PR Jenkins is down"
Fallout from issues we had this morning means that the easiest way to get to a good state is to shut it off, do some cleanup, then turn it back on. Sorry about that.

[2016-10-11 21:34] spxtr commented on #798
Floodgates back open, most clean-up done.

[2016-10-11 22:29] roberthbailey opened #800 "Need test coverage on CVM"
@vishh @maisem @mtaufen @fabioy @bgrant0607

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gke.yaml specifies the node image in many places to be "gci" by using

`export KUBE_GKE_IMAGE_TYPE="gci"`

Presumably these were added to all of the `gci-` test suites because the default image was CVM. But now that the default image is GCI, all of

[2016-10-11 22:57] mtaufen commented on #800
Argh you're right. Now that the default node image is `gci`, all of the test jobs that got `container_vm` coverage by assuming `container_vm` was the default need to be updated. I think this probably only applies to the GKE tests because IIRC the container-vm coverage for GCI was explicitly specified with `KUBE_NODE_OS_DISTRIBUTION="debian"`, but it's worth checking those too.

To be clear, the fi

[2016-10-11 22:59] vishh commented on #800
AFAIK, @maisem attempted to locak down cvm testing prior to v1.4.0.

On Tue, Oct 11, 2016 at 3:57 PM, Michael Taufen <notifications@github.com>
wrote:

[2016-10-11 23:09] rmmh commented on #795
This is because latest-build.txt is updated after a build finishes. Listing the whole directory is prohibitively slow, but I might be able to hack something up.

[2016-10-11 23:33] maisem commented on #800
The default for testing was set to CONTAINER_VM for this exact reason, its less than ideal that it's set in a different repository but we do have coverage for CVM.
This was done in kubernetes/kubernetes#33125 and was cherry-picked into 1.4 in kubernetes/kubernetes#33134.

This change wasn't required to be cherry-picked into 1.3 and prior branches because the default in GKE was switched at 1.4.0.

[2016-10-11 23:33] #800 closed

[2016-10-12 04:51] techtonik commented on #787
@spxtr I didn't think about typing "@k8s-bot help" which would also produce unnecessary noise for other people. If bot could have alternative interface in telegram or in slack, that could be obvious. Right now the primary obstacle is the absence of link to bot sources with README.md in bot profile description.

[2016-10-12 04:55] techtonik commented on #787
And it still doesn't listen to me. ) https://github.com/kubernetes/kubernetes/pull/34370#issuecomment-253114438

[2016-10-12 05:41] roberthbailey commented on #800
Thanks for keeping an eye on this.

[2016-10-12 16:35] spxtr commented on #787
You need to be a member of the kubernetes org in order to trigger jobs with a comment.

[2016-10-12 16:50] #795 closed

[2016-10-12 16:50] #796 closed

[2016-10-12 17:55] #798 closed

[2016-10-12 18:41] foxish commented on #306
@apelisse Would you be able to take this? There isn't much left to be done, except to add these jobs to mungegithub/submit-queue/deployment.yaml, and then killing the separate deployments from the util cluster.

[2016-10-12 20:28] apelisse commented on #306
Yeah, please just let me know you would have 2 minutes to explain me what needs to be done :D

[2016-10-12 21:28] techtonik commented on #787
@spxtr yes, I know that. Now it needs to be documented somewhere.

[2016-10-12 22:46] spxtr opened #812 "The ok-to-test munger causes cascading failures."
If we take longer than 10 minutes to start testing a job after we're triggered then the "ok to test" munger triggers another job, which makes the problem worse.

[2016-10-12 22:55] spxtr commented on #812
If you see "Error waiting for build" then retrigger it manually.

[2016-10-12 23:10] spxtr commented on #787
Agreed.

[2016-10-13 18:06] saad-ali opened #824 "Make more test suite block submit queue"
When we cut an alpha release, the release tool looks at the following test suites:
- kubernetes-e2e-gce
- kubernetes-e2e-gce-serial
- kubernetes-e2e-gce-slow
- kubernetes-kubemark-5-gce
- kubernetes-e2e-gce-reboot
- kubernetes-e2e-gce-scalability
- kubernetes-test-go
- kubernetes-e2e-gke-serial

It grabs the most recent build where all of these were green.

However, only `kubernetes-e2e-gce`, `kub

[2016-10-13 18:28] spxtr commented on #824
Note that even if they don't block the submit queue, we still file issues when they break.

[2016-10-13 18:41] saad-ali commented on #824
True. But these bugs don't seem to get the kind of immediate attention they deserve unless they are blocking the submit queue.

[2016-10-13 18:46] spxtr commented on #824
Agreed. Unfortunately, the serial suite is often super flaky, plus it's slow. It might be that once we pull the disruptive tests out then it'll get better.

[2016-10-13 18:48] saad-ali commented on #824
@jingxu97 is working on pulling the disruptive (destructive) tests out into a separate suite. Once that is done, we should proceed with blocking on serial. How about the others, e.g. scalability?

[2016-10-13 20:11] krzyzacy opened #825 "CS path is wrong and should point to github"
https://k8s-testgrid.appspot.com/k8s#gce-serial

places like Overall CS

[2016-10-13 21:11] mml commented on #824
I actually think the *N times in a row* rule is worth implementing regardless.  Transient flakes in the current slow suites can cause too much chaos already, and we can always set N to 1.

That said, I wonder if it should be *failing for more than N minutes*.  Look at what just happened here...

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/

[2016-10-13 21:59] rmmh commented on #449
Closing, since I can neither test nor fix this.

[2016-10-13 21:59] #449 closed

[2016-10-13 22:24] rmmh commented on #751
Gubernator has this information, since it receives hook events.

I could list issues that link to the given build pretty easily. More fine-grained tracking (test failure => issue) is a little more difficult.

[2016-10-13 22:44] ixdy opened #826 "gubernator failed to highlight verify-check failure"
Failed run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31921/kubernetes-pull-verify-all/18057/

Expanding the build log, we can see the failure:
[code]

Ideally gubernator should be auto-expanding this. Are the ANSI codes confusing it?

[2016-10-13 22:50] rmmh commented on #826
This is gross. What's actually happening is:

    re.search(r'\bFAILED\b', '\x1b[0;31mFAILED\x1b[0m')

Which doesn't match, because m isn't a word boundary.

[2016-10-14 00:35] spxtr commented on #824
We already have the ability to rerun tests to check for flakes.

[2016-10-14 17:13] rmmh commented on #476
This is mostly complete, I'll fix any remaining issues as they come up.

[2016-10-14 17:13] #476 closed

[2016-10-14 19:45] mml commented on #824
fyi @lavalamp

[2016-10-14 20:40] #826 closed

[2016-10-14 22:41] mml opened #840 "Page test-infra oncall (or buildcop) when kubernetes-build has not run in N hours and the last build was a failure"
In this state, nothing will be merged automatically and the build will not be run again unless something is manually merged.

If the failed build is a flake (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/12935/ might have been), then someone should kick it.

This should be a business-hours-only kind of page.

@spxtr

[2016-10-14 23:25] lavalamp commented on #824
I still object to making tests block the queue if they don't have things covered by presubmits.

BTW @grodrigues3's change to stop making P0's is in, so there should be less noise in the future.

If we still lack visibility, we need to do something to make it more visible. I think this should take the form of a dashboard or a report. "Can't cut a release right now because [gce-serial, gke-serial]

[2016-10-15 00:03] rmmh opened #842 "Allow users to add labels to things from gubernator"
Which will allow us to have more fine grained ACL.

Possibly including an lgtm button.

(from kubernetes/kubernetes#34870)

[2016-10-15 00:04] rmmh commented on #842
@mikedanese can you expand on this? What do you want to label-- pr's assigned to yourself? Arbitrary issues?

[2016-10-15 00:06] spxtr commented on #842
I think the idea is that we want to let people LGTM PRs that are assigned to them without giving them full write access to the repo. Gubernator would validate that they can LGTM the PR somehow, then use `k8s-merge-robot`'s API token to add the label, or something like that.

[2016-10-15 00:22] mikedanese commented on #842
* all users should be able to add release note labels to PRs that they created.
* some users (acl label manipulator) should be able to add all labels to anything except maybe lgtm

cc @pipejakob

[2016-10-15 00:27] rmmh commented on #842
If k8s-bot had fast (push-based) responses to commands, would you prefer a `/relnote none` (or equivalent) command?

[2016-10-15 00:52] fejta commented on #824
I would like to try and decouple two important goals:
1. We want to maximize the velocity of new changes
2. We want to highlight failing tests and get appropriate amounts of attention on them.

I recognize that we have struggle with goal (2) at various times. I think we can come up with a better solution than sacrificing goal (1) by blocking the submit queue to encourage people to look into additi

[2016-10-15 01:53] mikedanese commented on #842
Yes, maybe. That makes it easy to see who made the modification.

[2016-10-15 05:46] spxtr commented on #842
It's probably worth considering adding this functionality to prow rather than gubernator.

[2016-10-15 18:13] techtonik commented on #787
@spxtr so where is the source code for the bot? I guess everything is here - https://github.com/kubernetes/test-infra/blob/master/prow/jobs.yaml ?

[2016-10-15 18:28] spxtr commented on #787
Yep, the source is all under the `prow` folder right now.

[2016-10-16 04:07] lavalamp opened #845 "Log collectors don't get logs from all masters"
the *serial tests do things like kill the master and start a new one up, but the log collector at the end only seems to get logs from a single incarnation of the master. This is very problematic when trying to figure out if a flake is a release blocker or not.

[2016-10-16 07:34] fejta opened #847 "daily maintenance jobs are failing on PR and CI jenkins"

[2016-10-16 19:28] luxas commented on #500
Status on this issue?

[2016-10-16 19:30] luxas opened #848 "How to run continuous testing of kubernetes on top of kubernetes"
Do you have any instructions for the community how they can run CI of kubernetes on top of kubernetes?

Ideally:

[code]

What's the status of that?

[2016-10-16 20:17] spxtr commented on #848
I'm working on it, but we're not quite to this point yet. What I have is under the `prow/` folder. Currently I listen for webhooks from GitHub and then trigger Jenkins builds based on those, but pretty soon we'll move the actual test running out of Jenkins and into kubernetes.

Building kubernetes currently requires docker, which means you have to map in the docker socket as a hostpath volume. Oth

[2016-10-16 20:20] spxtr commented on #500
I'm going to make it so that you can say `@k8s-bot skip this` in the PR body to hold off on testing. Haven't started working on it but it won't be hard to do. If you would like to make it happen sooner, the change will go in to [this file](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/hook/githubagent.go) and shouldn't be too difficult.

[2016-10-17 02:04] saad-ali commented on #824
This is the biggest challenge...

Especially for these types of release tests--that tend to only get attention when a release needs to be cut.

Look forward to anything we can do to make this better.

[2016-10-17 17:08] mtaufen commented on #800
Ok, great, good to know our assumption that no-explicit-image-set means container-vm on nodes will hold for GKE testing.

[2016-10-17 17:23] spxtr commented on #847
[code]
[code]
@rmmh

[2016-10-17 18:21] ixdy commented on #845
maybe call [`framework.Coredump`](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L4341) before killing the master?

[2016-10-17 18:34] spxtr commented on #845
Will need to ensure that `log-dump.sh` doesn't clobber old logs when we do so.

[2016-10-17 22:27] #812 closed

[2016-10-17 22:29] zmerlynn opened #858 "Many job actions still done using VM service account"
c.f. https://github.com/kubernetes/kops/issues/664#issuecomment-254347125 .

I'm going to submit a point-fix for `kops-build`, but I can say that `kubernetes-build` is similarly broken, as is the `gcs-uploader` step and several other things. It's a problem that `activate-gce-service-account` hits a file in `$WORKSPACE`, but that config is only selected if you export `CLOUDSDK_CONFIG` correctly.

[2016-10-17 22:30] zmerlynn commented on #858
cc @kubernetes/test-infra-maintainers

[2016-10-17 22:38] rmmh commented on #858
I think @fejta's bootstrap.py will help fix this, because it eliminates the separate steps/shells that were causing many of the issues.

[2016-10-17 22:40] zmerlynn commented on #858
I agree, but it's not there yet.

[2016-10-17 22:50] spxtr commented on #858
Once this is fixed we can get rid of `clean_metadata.py`.

[2016-10-18 03:45] apelisse commented on #306
OK, So it means you want to run [this container](https://github.com/kubernetes/test-infra/tree/master/queue-health) from within the submit-queue `deployment.yaml`?

[2016-10-18 08:06] fejta opened #867 "update jobs is failing on PR jenkins"
[code]

[2016-10-18 08:15] fejta opened #868 "clean jobs are failing frequently"

[2016-10-18 12:29] gmarek opened #870 "kubemark-pr project metadata was full of ssh-keys"
I wasn't able to ssh to a machine to debug the problem. IIRC we do have jobs that periodically clean metadata of ssh-keys, can we enable it for kubemark-pr project as well?

cc @wojtek-t @kubernetes/test-infra-maintainers

[2016-10-18 17:41] foxish commented on #306
@apelisse Yes, the grapher and poller containers should run as part of each submit-queue instance.

[2016-10-18 18:15] spxtr commented on #867
That's strange.

[code]

[2016-10-18 18:21] spxtr commented on #867
Manually deleted the jobs. It's green again.

[2016-10-18 18:21] #867 closed

[2016-10-18 19:46] apelisse commented on #306
I'll try to get this done when I have time :-)

[2016-10-18 20:51] #868 closed

[2016-10-18 21:38] spxtr commented on #870
Which project? We can add a new line to https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/jenkins-clean-ssh-keys.yaml

[2016-10-18 21:42] gmarek commented on #870
k8s-jkns-pr-kubemark

[2016-10-18 21:43] gmarek commented on #870
I guess that all presubmit-projects needs that.

[2016-10-18 21:44] spxtr commented on #847
[code]
on some of the nodes.

[2016-10-19 14:47] techtonik commented on #787
I see that bot is just a series of hardcoded handlers that respond to message content. Could the bot profile URL be pointed to https://github.com/kubernetes/test-infra/blob/master/prow/ for the start?

[2016-10-19 16:46] #870 closed

[2016-10-19 17:55] spxtr commented on #787
[Done](https://github.com/k8s-ci-robot) :)

[2016-10-19 18:52] mikedanese opened #881 "METADATA file should have notify directive"
I want to be notified when code I care about changes

[code]

Make @k8s-bot cc me and sig-cluster-lifecycle when a PR goes out changing code in cmd/kubeadm/.

[2016-10-19 19:07] techtonik commented on #787
I actually thought about https://github.com/k8s-bot but this one is also nice. =) So there are two bots in prow?

[2016-10-19 20:03] spxtr commented on #787
I don't think k8s-bot does anything anymore.

[2016-10-20 03:56] techtonik commented on #787
@k8s-ci-robot [asks to speak to him](https://github.com/kubernetes/test-infra/pull/882#issuecomment-254916147) so maybe he has a bright future (like an additional telegram/IRC interface)?

[2016-10-20 09:41] techtonik commented on #787
@spxtr could you update links in @k8s-bot and @k8s-ci-robot profiles to point to https://github.com/kubernetes/test-infra/tree/master/prow#bots-home ? That should be enough to close this issue for now. At least my itch would be scratched and I don't have any questions now. =)

[2016-10-20 21:16] spxtr commented on #787
Done. Feel free to make more suggestions or close this issue or whatever. The goal is for this system to be easy to understand for users, and I think right now it's not.

[2016-10-21 22:58] mikedanese opened #897 "test bazel build in CI"
Good targets to hit that actually work:

[code]

[2016-10-22 00:11] ixdy opened #898 "bootstrap.py should always upload the build log"
In certain cases (e.g. timeout) the `_artifacts` directory may not be readable. This causes `gsutil` to barf:
[code]

Because `gsutil` failed, `bootstrap.py` aborts and doesn't try to upload the build log. Unless you have access to Jenkins, you can't figure out what's wrong.

We should make sure to always upload the build log, even on unexpected errors.

[2016-10-22 07:53] fejta commented on #847
Getting closer, now jobs are unhappy about the `latest-build.txt` load... https://github.com/kubernetes/test-infra/pull/900

[2016-10-24 21:09] fejta opened #908 "jenkins-clean-ssh-keys is failing"
I'm going migrate this to bootstrap:

[code]

[2016-10-24 21:28] fejta commented on #908
FYI I'm pretty sure the issue here is inconsistent service-account usage.

[2016-10-24 21:29] fejta commented on #908
And bootstrap.py will make this consistent.

[2016-10-25 02:09] #847 closed

[2016-10-25 23:07] spxtr opened #920 "Gubernator PR page doesn't work for non-kubernetes orgs"
https://k8s-gubernator.appspot.com/pr/google_cadvisor/1508 is pretty confusing and certain links point to confusing places. Similarly, I really think that `pr/kubernetes_kubernetes/123`, `pr/kubernetes/123`, and `pr/123` should all be equivalent.

[2016-10-26 00:33] #908 closed

[2016-10-26 20:52] spxtr opened #930 "Figure out where to put github commands"
See https://github.com/kubernetes/contrib/issues/1908, comments in https://github.com/kubernetes/contrib/pull/1428, and comments in https://github.com/kubernetes/test-infra/pull/887 for background.

We want to add a small set of commands that contributors can make in GitHub comments to accomplish certain tasks that they otherwise can't. The obvious first step is `/lgtm`. We have some desires here:

[2016-10-26 23:13] apelisse commented on #930
I obviously agree with all five points. Let's use `prow` as the central place to implement these new/migrated mungers.

What I think is missing today from `prow` through is:
- More pluggable/configurable "mungers"
- Better isolation between plugins/mungers
- Replace homemade github layer with go-github
- Organization-wide hooks

[2016-10-26 23:18] grodrigues3 commented on #930
cc @bgrant0607

[2016-10-26 23:20] grodrigues3 commented on #930
I'm all for this!  And I do not have a strong opinion one way or another regarding command syntax (@k8s-bot or /<command> are equally comfortable for me).  Either way, all 5 of the above make sense.  I would also add improve documentation for commands (people need to know what they can ask the bot to do).

[2016-10-27 00:24] bgrant0607 commented on #930
@spxtr @apelisse @grodrigues3 @eparis @fejta

I don't really care whether github commands are implemented in prow or in mungegithub. I do care that they are all implemented in one place, and that that place is easily discoverable by contributors. I am not happy with that place being either contrib or test-infra in the long run.

Up to this point, we've been using the [contrib repo to propose impro

[2016-10-27 00:27] bgrant0607 commented on #930
@spxtr And please label all PR-workflow-related issues with `kind/velocity-improvement`. I just created that label in this repo.

[2016-10-27 00:37] spxtr commented on #930
It wouldn't be hard at all. The actual jobs that it currently triggers on "@k8s-bot test this" are configured under the `jenkins` folder, but they don't need to live in the same place. We would just need to make sure that the other repo is discoverable.

Sure.

[2016-10-27 00:56] eparis commented on #930
the `@k8s-bot` syntax implies that is it "k8s-bot" which does the work. Something like `@k8s-bot lgtm` would be odd since it would be k8s-merge-robot who actually was doing the work. Should `@k8s-merge-robot` also work?

non-name prefixed commands (like /lgtm) don't suffer from the discontinuity.

something else to consider is where to document commands. Right now the submit-queue robot shows them

[2016-10-27 01:07] spxtr commented on #930
Lets go with `/lgtm`.

Some repos have a comment at the top of every new PR saying something along the lines of "thanks for the submission, here are some commands, a reviewer will be with you shortly."

[2016-10-27 04:05] techtonik commented on #930
For me the logical way is to implement a bot as a webhook endpoint and some clients for it. This way message processing logic could be tested independently - send POST message to bot and read out what it is going to do.

If webhook is to be supplied to GitHub directly, then there should be some proxy that transforms the message from GitHub into JSON that makes sense for the bot and includes all ne

[2016-10-27 16:37] foxish opened #935 "kubernetes-verify-master jenkins job to use gradle"
The kubernetes-verify-master jenkins job could possibly be made faster with Gradle (or so it claims)

[2016-10-27 17:00] spxtr commented on #935
Gradle suggests not using it for CI, plus it's only ~1 minute total on that step. Maybe we should turn on whatever the right environment variable is to suppress the warning?

[2016-10-27 17:18] spxtr commented on #897
I have a working prototype but there's still a bit to do before it's fully integrated with our infra. I'll try to get it done in the next few days.

[2016-10-27 18:11] Random-Liu opened #937 "Test is stopped because of timeout long before timeout exceeds"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/1281
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/25704

Jenkins kills the test long before timeout exceeds.

For example, in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/1281: The test started at `05:26`, timeout is `90m`

[2016-10-27 18:14] ixdy commented on #930
FWIW with prow, @k8s-bot isn't even commenting on any PRs anymore - it's either @k8s-ci-robot or @k8s-merge-robot. Not sure if this is something we want to change or not.

[2016-10-27 18:18] spxtr commented on #930
I've been meaning to switch it back to @k8s-bot for a while. Just been lazy.

[2016-10-27 20:55] chrislovecnm opened #939 "kops wants the bots - or do we"
Pretty please ... how do we get them?  How can kops use the bots to make kops better?

We are using travis ci btw, but not running e2e.

https://github.com/kubernetes/kops/issues/741

[2016-10-27 21:08] spxtr commented on #939
Check out https://github.com/kubernetes/test-infra/blob/master/prow/jobs.yaml, https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/bootstrap-pull.yaml#L56-L59, and https://github.com/kubernetes/test-infra/blob/master/jobs/pull-charts-e2e.sh for examples.

The documentation isn't very thorough since it's a fairly new system, but we hope it's not too toug

[2016-10-27 21:12] r2d4 opened #940 "k8s-ci-robot on kubernetes/minikube"
@k8s-ci-robot picked up a PR on kubernetes/minikube.  This bot shouldn't be picking up our PRs (theres nothing to test against k8s and we already have a @minikube-bot)

https://github.com/kubernetes/minikube/pull/764

[2016-10-27 21:24] spxtr commented on #940
I'll make it use a whitelist for repos to talk to. Out of curiosity, what does @minikube-bot do for you?

[2016-10-27 21:32] r2d4 commented on #940
Awesome, thanks.  @minikube-bot just interacts with our jenkins server with the github PR builder (ok to test, retest this please).

We use our own jenkins because we can't really use k8s test infra; minikube tests require virtualization so they actually run on physical hardware.

It also runs godeps upgrades against k8s (we vendor in k8s) alpha and beta versions so we can catch test failures earl

[2016-10-27 21:36] spxtr commented on #940
We can make @k8s-bot trigger jobs on your own Jenkins instance without much hassle. Probably not going to happen in the immediate future, but it's something to keep in mind.

[2016-10-28 01:10] ixdy commented on #937
For https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/1281, I see the test getting killed at 6:56am PDT, or after 90m.

Look at http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/1281 - the `finished.json` has a timestamp of 27 Oct 2016 13:56:23 (UTC), 90m after the timestamp on `started.json`.

It seems like something is getting s

[2016-10-28 07:16] #898 closed

[2016-10-28 17:56] spxtr commented on #940
OK, it's using a whitelist now and should ignore minikube events. Thanks for opening the issue :)

[2016-10-28 17:56] #940 closed

[2016-10-28 17:56] foxish opened #948 "Gubernator should display estimated time to completion of each test"
Kubekins appears to show the ETA for each test to finish running.
Something similar in gubernator, showing how long a test run typically takes, and the timeout would be useful I think.

cc @gmarek @kubernetes/contributor-experience

[2016-10-28 18:12] r2d4 commented on #940
Ok thanks! Feel free to ping me if you have any other question mrick@

[2016-10-28 20:06] luxas opened #951 "Make kubernetes-cross-build SQ-blocking"
Now it has been back in business for a while; let's make it queue-blocking.
For example, both https://github.com/kubernetes/kubernetes/pull/35136 and https://github.com/kubernetes/kubernetes/pull/35652 broke the cross-build.
Both was cherrypicked into v1.4, which makes it even more painful.

By having it as a queue-blocking build, it will hopefully be noticed faster and we will not cherrypick it u

[2016-10-28 20:53] foxish commented on #535
Also would be useful to group all jobs under the submit-queue, for build-cop.

[2016-10-28 21:19] ixdy commented on #535
You can already get a listing of SQ jobs on the prow dashboard at http://prow.k8s.io/.

[2016-10-28 23:07] wonderfly opened #953 "Figure out a way to patch known k8s bugs in tests"
Many tests, notably GKE and GCI's release qual tests, use released versions of k8s instead of some CI build. If a particular k8s is broken, they would have to keep failing until the next release is out and picked up.

To mitigate the churns, GKE tests have been using some hacks like this: https://github.com/kubernetes/test-infra/blob/master/jenkins/e2e-image/e2e-runner.sh#L121, which basically tri

[2016-10-29 19:21] fejta opened #956 "Running update owners does not clear the auto-assigned field"
See for example https://github.com/kubernetes/kubernetes/pull/35673/files where Caesar is adding himself as an owner, but it still says auto-assigned is true

[2016-10-30 05:00] Random-Liu commented on #937
This happens quite frequently now.

[2016-11-01 17:15] rmmh commented on #956
I'm really not sure what happened here. I can't reproduce this behavior by running the script on Linux or OSX.

 @caesarxuchao might have more details.

[2016-11-01 17:25] caesarxuchao commented on #956
I ran the script with `update_owners.py --user=caesarxuchao", is that correct?

(@fejta you can call me Chao :)

[2016-11-01 17:33] rmmh commented on #956
Ahh, the update_owners.py script was outdated on the branch!

https://github.com/caesarxuchao/kubernetes/blob/7818d8bc1aeb2fcff4de444bd1b454a4a6789203/hack/update_owners.py#L171

It's hard to see in the final commit because a later rebase and force push erased it from the publicly visible history.

This should resolve itself naturally as older branches are merged or rebased. I'll audit the test_ow

[2016-11-01 17:36] #956 closed

[2016-11-01 21:22] mtaufen opened #969 "Soooooo many comments from k8s-ci-robot"
We should come up with a better way to manage the k8s-ci-robot's comments on PRs. Right now, if something causes all of the PR tests to fail, the bot will comment 7 times for the same test run, often right in the middle of a discussion. This is fairly annoying because:
- It puts a bunch of unnecessary scrolling in the middle of threads on GitHub.
- It puts the discussion thread 7 emails behind tes

[2016-11-01 21:41] spxtr commented on #969
I agree with you. I suggested this a while ago but some people base their entire workflow around these sorts of emails.

@kubernetes/contributor-experience

[2016-11-02 17:02] spxtr commented on #951
The first thing to do is to set `always_run` in [jobs.yaml](https://github.com/kubernetes/test-infra/blob/master/prow/jobs.yaml). Once it looks consistently green then we can set it to required in the submit queue.

[2016-11-02 19:30] madhusudancs opened #977 "Display the in-progress build log in gubernator."
We either need this or fail-fast in the test infra. Don't know which of the two leads to a better experience, but we need at least one of the two.

[2016-11-02 20:09] spxtr commented on #977
It will probably be in prow, actually.

[2016-11-02 21:09] mtaufen commented on #969
Is there a way to block notifications from specific users? If there is I am going to block k8s-ci-robot *evil grin*

[2016-11-02 21:11] ixdy commented on #969
Maybe it could at least update one comment to add additional failures, rather than 7 comments?

Works in the UI, though not as well in email (since GitHub won't send new emails for the updates). Feature/bug.

[2016-11-02 21:30] spxtr commented on #969
I'd rather just stop making the comments. @kubernetes/contributor-experience thoughts?

[2016-11-02 21:35] thockin commented on #969
I, for one, rely on email

On Wed, Nov 2, 2016 at 2:30 PM, Joe Finney <notifications@github.com> wrote:

[2016-11-02 21:57] spxtr commented on #969
@apelisse suggests creating the comment and then immediately deleting it. That way you get emails if you want, but there's no spam on your PR.

[2016-11-02 22:13] madhusudancs commented on #977
@spxtr cool! Is there a tracking issue already? Or should I just switch the label on this one?

[2016-11-02 22:33] spxtr commented on #977
We should have both labels, since we'll want to be able to see them on gubernator even though they're generated by prow.

No issue yet, this one will do. We do plan on implementing this in the near future.

[2016-11-02 22:40] madhusudancs commented on #977
@spxtr Ok makes sense. Thanks!

[2016-11-02 23:01] thockin commented on #969
We do this for some comments, but it's useful to leave the "magic
incantation to try again" comments, or at least teh most recent (complete)
one.

On Wed, Nov 2, 2016 at 2:57 PM, Joe Finney <notifications@github.com> wrote:

[2016-11-02 23:04] mtaufen commented on #969
Would it be possible to put the "magic incantation" in the status message for the "checks" for failed tests?

[2016-11-02 23:48] spxtr commented on #969
Yes, it's possible, but space is limited. We will be shortening these commands soon, so `@k8s-bot gce e2e test this` will become `/test gce`, which might make space less of an issue.

[2016-11-03 22:48] ixdy opened #987 "save git sha1 in started.json"
The git "version" is really just `git describe --tags` slightly munged, which omits the git sha1 if the tree is checked out at a tag (e.g. for a release). Our tooling often wants a git sha1, however, so we should probably save it explicitly in a separate field, rather than trying to parse it from the version.

Conveniently the git sha1 is embedded in kubernetes binaries, along with the version; le

[2016-11-04 17:36] #825 closed

[2016-11-04 18:17] quinton-hoole opened #990 "Permanent build failure: Unpacking kubernetes release ... gzip: stdin: not in gzip format"
We've been seeing failures like the following in the federation e2e tests on Jenkins since around midnight last night (and on occasion yesterday too).  Anyone know anything about this?

Unpacking kubernetes release v1.5.0-alpha.2.540+ccaba2ccd2231d

gzip: stdin: not in gzip format
tar: Child returned status 1
tar: Error is not recoverable: exiting now

Recent examples in gubernator:

https://k8s-g

[2016-11-04 18:33] ixdy commented on #990
[code]

Not sure why `curl` isn't making this failure more obvious.

[2016-11-04 18:41] rmmh commented on #990
https://github.com/kubernetes/kubernetes/blob/master/cluster/get-kube.sh#L206

If you run curl without the -f flag, it doesn't exit with nonzero if it talked to the server but got an error response code.

[2016-11-04 18:44] ixdy commented on #990
Right, that's what I thought I wanted, but I got confused by the manpage.

[code]

I'll update `cluster/get-kube.sh`. @quinton-hoole I'm not sure why the tarball is inaccessible. Did anyone change ACLs on the kubernetes-federation-release bucket recently?

[2016-11-04 18:51] quinton-hoole commented on #990
Not I.  Perhaps @colhom or @madhusudancs ?

[2016-11-04 18:59] colhom commented on #990
So, interestingly enough fetching a [tarball](https://storage.googleapis.com/kubernetes-federation-release/ci/v1.5.0-alpha.2.415+3fe2de05accff5/kubernetes.tar.gz) from a very [recent successful build](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5455?log) works fine- which leads me to believe it's not the ACLs on the bucket.

Investigating further.

[2016-11-04 18:59] madhusudancs commented on #990
@ixdy I don't think ACLs changed recently. Also, ACLs on the bucket looks very similar to the `kubernetes-release-dev-jenkins`

[2016-11-04 19:16] rmmh commented on #990
I think the problem here is GCS's eventual consistency on bucket listing.

From https://cloud.google.com/storage/docs/consistency

If you look at [federation-build 3285](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-federation-build/3285/?log), you'll see the lines:

[code]

It uploads the artifacts, then lists them and changes the ACLs. The proper fix here is to uplo

[2016-11-04 20:11] quinton-hoole commented on #990
@rmmh Rather than sleep for some arbitrary period of time, please poll until the desired consistency is reached.

[2016-11-04 21:47] yujuhong opened #996 "Testgrid not displaying recent builds"
This makes tracking test failures quite difficult.

[2016-11-04 21:48] ixdy commented on #996
I think @krzyzacy is working on this

[2016-11-04 21:52] krzyzacy commented on #996
I deployed a new server yesterday and it started to regenerate all the data all over again (currently it has run through till kubernetes-e2e-gke-1.3-*, in alphabetic order.. I'm monitoring it)

Will do deployment towards end of week next time, and also need to really speed it up.

[2016-11-05 20:42] krzyzacy commented on #996
seems stable now.

[2016-11-05 20:42] #996 closed

[2016-11-06 01:13] davidopp commented on #845
Can we get an assignee for this? It's very important for the reason @lavalamp mentioned above.

@kubernetes/sig-testing

[2016-11-07 16:57] chuckbutler opened #1003 "Federated Testing guide references a missing file"
In the Federated Testing Guide, there is a reference to `hack/jenkins/e2e-runner.sh` and this file doesn't appear to exist in either the test-infra repository, nor does it reside in the prime Kubernetes repository.

For Information:

https://github.com/kubernetes/test-infra/blob/master/docs/federated_testing.md#run-the-e2e-tests-and-upload-results

Bullet point 2 calls out the script.  And further

[2016-11-07 18:11] spxtr commented on #1003
Related: #780.

[2016-11-07 18:13] spxtr commented on #1003
That script has moved to this repo and we version it separately from kubernetes.

[2016-11-07 18:31] chuckbutler commented on #780
@spxtr We're working this cycle on bringing our e2e testing results to the federated dashboard. I have the j-unit output of the e2e runners coming out fantastically.  As we work through the integration guide, we'll have some different process on our jobs vs what the scripts versioned in test-infra have. Namely our e2e runs are not done out of the `hack/` directory.  I think we can integrate quickl

[2016-11-07 18:32] #990 closed

[2016-11-07 22:36] krzyzacy commented on #996
Just add a note here: Talked with deitz@ today and figured out it was due to an internal version change that invalidated all the cache which causes it to regenerate everything over again. Which should not happen again or if same thing happens again we will know where to look.

[2016-11-07 23:56] spxtr commented on #601
Longer-term solution is to stop using Jenkins.

/close

[2016-11-07 23:57] spxtr commented on #601
/close

[2016-11-07 23:57] #601 closed

[2016-11-09 19:39] spxtr opened #1019 "Document code review best practices"

[2016-11-09 22:50] fejta opened #1021 "Migrate all CI jobs to bootstrap"
Follow https://github.com/kubernetes/test-infra/pull/1020

[2016-11-09 22:50] fejta opened #1022 "Migrate gke jobs to bootstrap"
For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gke.yaml

Follow #1020

[2016-11-09 22:51] fejta opened #1023 "Migrate AWS jobs to bootstrap"
For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-aws.yaml

Follow #1020

[2016-11-09 22:51] fejta opened #1024 "Migrate gce-gci jobs to bootstrap"
For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gce-gci.yaml

Follow #1020

[2016-11-09 22:52] fejta opened #1025 "Migrate gce jobs to bootstrap"
For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gce.yaml

Follow #1020

[2016-11-09 22:52] fejta opened #1026 "Migrate kops jobs to bootstrap"
Migrate kops jobs to bootstrap

For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-kops-aws.yaml

Follow #1020

[2016-11-09 22:53] fejta opened #1027 "Migrate kubemark jobs to bootstrap"
For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-kubemark.yaml

Follow #1020

[2016-11-09 22:53] fejta opened #1028 "Migrate soak jobs to bootstrap"
Migrate soak jobs to bootstrap

For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-soak.yaml

Follow #1020

[2016-11-09 22:54] fejta opened #1029 "Migrate test-go jobs to bootstrap"
Migrate test-go jobs to bootstrap

For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-test-go.yaml

Follow #1020

[2016-11-09 22:54] fejta opened #1030 "Migrate upgrade jobs to bootstrap"
Migrate upgrade jobs to bootstrap

For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-upgrade.yaml

Follow #1020

[2016-11-09 22:54] fejta opened #1031 "Migrate verify jobs to bootstrap"
Migrate verify jobs to bootstrap

For https://github.com/kubernetes/test-infra/issues/1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-verify.yaml

Follow #1020

[2016-11-10 00:03] fejta opened #1032 "Update bootstrap.py for CI jobs"
ref https://github.com/kubernetes/test-infra/issues/1021

1) Make sure they handle artifacts correctly (we're not getting test case results)
2) Make sure they calculate the correct job version
  - Add a no --repo mode
  - Migrate version info into metadata.json
  - Only put git commit into started.json if --repo is set

[2016-11-10 00:51] grodrigues3 opened #1033 "Add Issue Dashboard Page for SIGs"
I got some informal feedback that being able to assign issues or test flakes to SIGs (instead of just individuals) would be beneficial and encourage issue triage.  I realize that github doesn't allow this, but we can and often do mention SIGs in the comments on issues.

Can you add a page to gubernator/PR Dashboard where people can view the issues where a specific SIG was mentioned.

@dashpole

[2016-11-10 01:52] spxtr commented on #1033
What about sig labels?

[2016-11-10 18:40] grodrigues3 commented on #1033
good question.   Currently, there are not sig-labels, just teams, areas and components, and i'd hesitate to add another set of routing labels.  Having sig-labels certainly would make it easier to filter directly on github, but I think the existing workflow is to mentioned sigs in the comments/PR body.

[2016-11-10 18:45] spxtr commented on #1033
The only downside is that if someone mentions a sig that doesn't really apply then you can't really remove it.

Still SGTM.

[2016-11-10 19:08] rmmh commented on #1033
Do team and area labels not map to SIGs precisely? Why can't we make that work properly?

[2016-11-10 19:09] spxtr commented on #1033
https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20%22%40kubernetes%2Fsig-testing%22 is pretty good, too.

[2016-11-10 19:14] grodrigues3 commented on #1033
test

[2016-11-10 19:15] grodrigues3 commented on #1033
@spxtr that looks like it might be good enough for now

[2016-11-10 20:12] krzyzacy opened #1039 "testgrid-config-upload job is failing"
got `AccessDeniedException: 403 Forbidden` now

open this to track the issue.

[2016-11-10 21:56] chrislovecnm commented on #939
@balajismaniam can you assist with this?  What do we need for more bot / munger integration?  We have CLA's checked, but we probably need more usage.

[2016-11-10 22:00] spxtr commented on #939
What would you like? We can currently run tests for you and run a couple commands, with more to come.

[2016-11-10 22:15] krzyzacy commented on #1025
start with gce ones

[2016-11-10 23:54] krzyzacy commented on #1021
do we want to crowd all jobs into bootstrap-ci.yaml?

[2016-11-11 18:18] fejta commented on #1021
Yes

[2016-11-11 20:13] fejta opened #1044 "hourly maintenance jobs are failing PR and CI jenkins"

[2016-11-11 21:10] krzyzacy commented on #1022
assign it just allow us not stepping on each other

[2016-11-11 21:17] krzyzacy commented on #1039
BOOTSTRAP IT

[2016-11-12 00:54] #1039 closed

[2016-11-12 22:05] chrislovecnm commented on #939
@spxtr you know more than me ... what would improve the developer experience??

[2016-11-13 04:02] chrislovecnm opened #1049 "Smoke test for kops"
@zmerlynn what do you think about the capability to have a basic e2e test for kops master?  I do not want it fired off every push, but basically, a bot command that will allow us to do a smoke test before a commit.  Not sure how ... you are the magician.  Maybe when we merge code into master?

We would need to build a custom nodeup as well, just pushing a script for that btw.

[2016-11-14 12:14] piosz commented on #845
Which particular test is this issue about? "reboot node ... "?

[2016-11-14 18:09] balajismaniam commented on #939
@chrislovecnm In https://github.com/kubernetes-incubator/node-feature-discovery, we run our own instance of the merge-bot/mungers. Since this repo is a part of Kubernetes org, can u check with Google folks whether they can run the merge-bot/mungers on this repo as well?

[2016-11-14 23:03] zmerlynn commented on #1049
It was next on my agenda after I resolved #1015. There's no reason not to run it on every PR - we're about to do that for every Kube PR, it makes sense to do it for every `kops` PR as well.

[2016-11-14 23:39] #1024 closed

[2016-11-14 23:46] fejta opened #1058 "Migrate critical (blocking) builds to bootstrap"
ref #1021

Blocking Builds

✓ kubernetes-e2e-kops-aws 100%
~✓ kubernetes-build 100%~
~~✓ kubelet-gce-e2e-ci 87%~~
~~✓ kubernetes-e2e-gci-gke 97%~~
~~✓ kubernetes-e2e-gci-gke-slow 100%~~
~~✓ kubernetes-e2e-gce-etcd3 97%~~
~~✓ kubernetes-e2e-gci-gce 100%~~
~~✓ kubernetes-e2e-gci-gce-slow 100%~~
~~✓ kubernetes-kubemark-500-gce 100%~~
~~✓ kubernetes-test-go 100%~~
~~✓ kubernetes-verify-master~~

[2016-11-14 23:46] fejta commented on #1023
Will handle critical job in #1058

[2016-11-14 23:46] #1023 closed

[2016-11-14 23:47] fejta commented on #1027
Will handle critical job in #1058

[2016-11-14 23:47] #1027 closed

[2016-11-14 23:47] fejta commented on #1031
Will handle critical jobs in #1058

[2016-11-14 23:47] #1031 closed

[2016-11-15 00:25] krzyzacy opened #1061 "No build log when pull jobs time out"
Compare

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32577/pull-kubernetes-node-e2e/4945/

and

(jenkins) pull-kubernetes-node-e2e/4945/console

[2016-11-15 00:29] krzyzacy commented on #1061
cc @Random-Liu

[2016-11-15 00:58] #1029 closed

[2016-11-15 00:58] #1032 closed

[2016-11-15 01:45] rmmh commented on #1061
Does bootstrap.py not catch the SIGTERM and upload the logs? This used to work because Jenkins would upload finished.json after the build timed out, but if it times out like this it won't do the right thing.

[2016-11-15 18:49] madhusudancs opened #1069 "Gubernator logs for federation control plane components"
Gubernator's log viewer is awesome and alleviates many of the pains involved in debugging. Federation control plane components don't appear in those logs though. Add them to the logs list.

[2016-11-16 18:31] spxtr commented on #1044
[code]

[2016-11-16 18:41] spxtr commented on #1044
[code]

[2016-11-16 21:02] lavalamp commented on #845
@piosz we don't know which test did this.

@fejta people keep getting this wrong and we always find this at the worst possible time. So I believe the testing infrastructure should really help us not get this wrong. That is why I filed this here.

[2016-11-16 21:05] krzyzacy commented on #1025
only things left are one manual job and crit jobs, tracking by #1058

[2016-11-16 21:05] #1025 closed

[2016-11-16 21:51] spxtr commented on #780
@chuckbutler https://github.com/kubernetes/test-infra/pull/1013#issuecomment-261077157

You can probably do that for now. I think we're moving some functionality to `bootstrap.py`, and I'm not sure how things will look in the future. Maybe @fejta has an idea?

[2016-11-16 22:04] spxtr commented on #845
Which logs are deleted when the machines reboot?

[2016-11-16 22:12] zmerlynn opened #1091 "k8s version sometimes not filled in during PR builds"
Seen in https://github.com/kubernetes/kubernetes/pull/36883 (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36883/pull-kubernetes-e2e-kops-aws/20/):

[code]

[2016-11-16 22:12] rmmh opened #1092 "Submit Queue Batching"
Testing one PR at a time is slowing down Kubernetes development a lot.

Design doc [here](https://docs.google.com/document/d/1WYv4Ee4VFnCVwQHIYb3ashZ4ZQuOjMrvG0vdPCC_Lts/view).

TODO:
- [x] Make Splicer program to find batch opportunities and push to Prow. #1063
- [x] Make bootstrap.py understand how to checkout and merge multiple PRs for batch testing. #1090
- [x] Make Splicer start (either creat

[2016-11-16 22:15] ixdy commented on #1091
release-1.4 doesn't have `build-tools/util.sh`:
[code]

The curious thing is why this didn't immediately fail.

[2016-11-16 22:16] ixdy commented on #1091
oh, because `&&` overrides errexit.

[2016-11-16 22:18] zmerlynn commented on #1091
Yeah. I thought we were safe because https://github.com/kubernetes/kubernetes/pull/35453 was in, but I guess not.

[2016-11-16 22:19] ixdy commented on #1091
yeah, that only affects `master` and `release-1.5`.

[2016-11-16 22:20] ixdy commented on #1091
(and as soon as there's a new bazel release, it's going back to `build/`.)

[2016-11-16 22:35] #1091 closed

[2016-11-16 22:54] lavalamp commented on #845
I think the problem is that the machines are destroyed and don't come back,
new ones are created instead?

On Wed, Nov 16, 2016 at 2:04 PM, Joe Finney <notifications@github.com>
wrote:

[2016-11-16 23:15] fejta commented on #845
Update the function that deletes the master to collect logs. IMO this work does not require help from my team.

[2016-11-16 23:17] spxtr commented on #845
This is pretty tricky. If a test just has a hard-coded `gcloud compute instances delete` or something then what can we do other than fix the test?

[2016-11-16 23:20] lavalamp commented on #845
Right. @fejta, I can believe that fixing the tests is not part of your
mandate but can we at least get something to automatically fail tests when
authors fail to collect logs?

On Wed, Nov 16, 2016 at 3:17 PM, Joe Finney <notifications@github.com>
wrote:

[2016-11-16 23:37] fejta commented on #845
@lavalamp that seems heavy handed. How do we know if they fail to collect logs? And if we are smart enough to know that why not just collect the logs?

We already have a function to collect logs which Jeff mentioned earlier: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L4485

It looks like there are already methods to restart various services:
https://github.com/

[2016-11-16 23:53] lavalamp commented on #845
I don't know if that will take care of it or not. Do any of our tests shell
out to gcloud to do things? We have a lot of bash in random places. But I
will be happy with whatever I can get :)

I guess my point is just that this is a general problem and I don't trust
individual test authors to get it right (because historically, they have
not, and we never notice the absence until we *really* need t

[2016-11-17 00:19] spxtr commented on #845
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/restart.go#L165-L177 for example.

[2016-11-17 14:38] fejta commented on #1028
Woo - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-fejta-soak-test/4

[2016-11-17 18:41] spxtr commented on #1044
OK, they're fixed on post-submit but still broken on PR Jenkins, now because of a docker issue. Handing this off.

[2016-11-17 18:58] fejta opened #1108 "Migrate node e2e jobs"
ref #1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/node-e2e.yaml

[2016-11-17 18:59] fejta opened #1109 "Migrate build jobs to bootstrap"
ref #1021

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-build.yaml
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-debian-build.yaml
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kops-build.yaml

[2016-11-17 18:59] fejta commented on #1108
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/continuous-docker-validation.yaml

[2016-11-17 19:00] fejta opened #1110 "Migrate anywhere jobs to bootstrap"
ref #1021 cc @mikedanese

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-anywhere-e2e.yaml

[2016-11-17 22:06] #1028 closed

[2016-11-17 23:35] saad-ali opened #1112 "Version not showing up on "ci-" builds"
On the new "ci-" builds, e.g. [ci-kubernetes-e2e-gce-release-1.5](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5), the "Version" in each of the "ci-" run is missing, for example see [ci-kubernetes-e2e-gce-release-1.5/62/](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/62/). So anago is having t

[2016-11-18 00:12] fejta commented on #1112
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/62/artifacts/metadata.json -> null??

which is causing this to fire: https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap.py#L316

Trying to figure out why metadata.json is null...

[2016-11-18 00:33] fejta commented on #1112
Fix out for review and being tested in parallel.

[2016-11-18 00:39] saad-ali commented on #1112
Sweet

[2016-11-18 16:17] #1112 closed

[2016-11-19 19:54] #1108 closed

[2016-11-19 19:56] fejta opened #1128 "Migrate large/enormous jobs to bootstrap"
ref #1021 #1022 #1025

[2016-11-19 19:56] #1022 closed

[2016-11-19 23:52] chrislovecnm opened #1130 "Linux foundation CLA bot malfunction"
https://github.com/kubernetes/kops/pull/950

I think asking for signing the CLA is sufficient ;) The bot tagged the PR 10+ times. Attack of the CLA bot

[2016-11-20 00:21] foxish commented on #1130
Looking into this. Haven't seen it elsewhere, and makes me wonder if it was a github glitch. We certainly don't fire off multiple messages unless we get multiple status events from the LF status. Perhaps we should check comments before posting a new one.

@chrislovecnm, does kops already have some bot running?

[2016-11-20 00:39] foxish commented on #1130
It looks like the robot had no privileges to write to the repo which caused the hiccup. This should be fixed now.
Before fix: https://github.com/kubernetes/kops/pull/952
After fix: https://github.com/kubernetes/kops/pull/953

We shouldn't be letting the presence of the label tell us whether we have dealt with the issue already. We can receive duplicate events and we should see if we have already c

[2016-11-20 00:47] foxish opened #1132 "CLA Bot: add username & FAQ to notification posted when CLA is not signed"
We should ping the user when we post the CLA notification.
The ping message should be in a format similar to https://github.com/kubernetes/contrib/pull/1946#issuecomment-258834309

The FAQ link is here: https://github.com/kubernetes/kubernetes/wiki/CLA-FAQ

[2016-11-20 02:07] ixdy opened #1133 "wrong version of kubekins-test image being used in PR and CI"
`ci-kubernetes-test-go-release-1.4` has been continuously failing since https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go-release-1.4/8/, which correlates in time to when #1068 was merged.

It appears that all of the `ci-kubernetes-test-go` and `-verify` builds are using the 1.5 version of the `kubekins-test` image, whereas previously they were using version-sp

[2016-11-20 05:13] ixdy commented on #1133
we'll need to do something similar for `kubekins-e2e` soon, too.

[2016-11-20 18:14] chrislovecnm commented on #1049
we need to talk image and nodeup, before enabling kops ;)

[2016-11-20 18:57] dims opened #1138 ""broken test run" with no junit output should be logged separately"
The following typically means there's an infrastructure problem:
"Run so broken it didn't make JUnit output!"

Whereas the following could mean a test suite setup or flakiness:
"Multiple broken tests:"

We mix them up in the same issue and it becomes difficult to untangle/triage the issues.

Can we please separate them? So the infrastructure issues can be quickly identified and closed and leave th

[2016-11-21 04:26] apelisse opened #1139 "CNFC-CLA Doesn't refresh on force push"
Example seen here:

https://github.com/kubernetes/kops/pull/956

When the force push happens (with only authorized authors), the label is not refreshed.

@kris-nova

[2016-11-21 06:18] krzyzacy commented on #1133
oh yep I closed that E2E image PR... I'll handle this tomorrow

[2016-11-21 13:04] eparis opened #1142 "Prow issue: Include blank line between <details> and text"
See https://github.com/kubernetes/kubernetes/pull/37088#issuecomment-261837262 for example.

On chrome 56 and Firefox 49 on Linux when you expand the details the first link (the link back to the relevant comment) does not show up as a link and instead shows the `[ ]( )` stuff.

This is fixed if there is a newline between the <details> section and that first line of text.

[2016-11-21 16:05] chrislovecnm commented on #1139
cc: @spxtr

[2016-11-21 16:07] kris-nova opened #1144 "Alerted on bot deployments"
Hello,

Is there anyway I can get pinged when we release new bot code? I can take care of letting the other kops maintainers know - and watching our stack..

But just wondering if there is a release email or anything in place yet I can get added to?

Cheers

CC @sarahnovotny

[2016-11-21 17:08] apelisse commented on #306
@foxish I'll try to deprecate that instead (and use velodrome)

[2016-11-21 17:09] apelisse commented on #306
Feel free to close the issue, or keep it open until I have actually migrated ...

[2016-11-21 17:48] zmerlynn commented on #1049
@chrislovecnm: The `kops` CI build process is already rebuilding `nodeup` (we build the whole distribution), and we use that in our tests. As for image, that's harder, but if we had a `kops`-side PR builder and one were changing the default image, it would pick it up. (We don't test alternate deployment options yet; non-default are an option there, but we also need an HA build, etc.)

[2016-11-21 17:59] foxish commented on #1139
I think this has to do with the Cncf cla status which the labeling bot relies on. Occasionally it happens that the status doesn't get refreshed. Will follow up with the LF.

[2016-11-21 18:03] ixdy commented on #1133
thanks @krzyzacy! feel free to assign me a PR to review and I'll prioritize it. (it's pretty important, since several unit/integration/verify jobs are testing the wrong thing right now.)

[2016-11-21 18:42] #1142 closed

[2016-11-21 18:46] spxtr commented on #1142
Thanks for opening the issue :)

[2016-11-21 19:49] mtaufen opened #1149 "Per-node folders missing from recent test artifacts"
See for example:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/1324/artifacts/
contains a folder with the logs for each node, whereas
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot-release-1.4/84/artifacts/
does not.

Note that these are corresponding jobs; the name recently changed to include the `ci-` prefix.

/cc @f

[2016-11-21 19:50] mtaufen commented on #1149
Just clicking on random things in the test grid, it seems a lot of jobs are exhibiting this behavior as of late.

[2016-11-21 19:55] Random-Liu commented on #1149
This also happens to node e2e. I've run the test script in my own cluster, everything is fine, test results and logs of different OS distros are collected to different directories:
[code]

However, on gubernator there is only logs for one OS distro. I guess the log uploading logic was broken recently.

This deserves a P0 because we can't debug anything now because of the lack of logs.

[2016-11-21 19:58] dchen1107 commented on #1149
We should treat this as P0 release-blocker for 1.5 release since it affects us to debug any flakiness.

[2016-11-21 19:59] ixdy commented on #1149
maybe https://github.com/kubernetes/test-infra/pull/1020, though not sure.

[2016-11-21 20:07] mtaufen commented on #1149
In #1020, this:
`artifacts, path`
changed to this:
`'%s/*' % artifacts, path`

Probably we used to each folder back to `path` and we are now copying the contents of each folder back to `path`, overwriting on name collision.

[2016-11-21 20:57] #1133 closed

[2016-11-21 23:31] mikedanese opened #1152 "fequent evicitions for bazel build pods in ciongke cluster"
build pods are frequently being evicted:
[code]

These pods are unlimited w.r.t. cpu and bazel will try to use all available resources. There will be other pods scheduled on this node (although there won't be other bazel pods). These pods run on 8 core machines and probably often go 10-80x over their cpu request. Will setting a higher cpu request with a limit lower the eviction frequency?

cc @vis

[2016-11-21 23:35] fejta commented on #1149
@ixdy might be able to help with this.

Previously we had an issue where if we ran e2e jobs we would wind up uploading artifacts twice, and the second time we did that (which is the real one) we would wind up copying the artifacts into the wrong location (gs://prefix/job/build_number/artifacts/artifacts insetad of gs://prefix/job/build_number/artifacts).

However now that https://github.com/kubern

[2016-11-21 23:39] mikedanese commented on #1152
Currently those pods are in the burstable cpu qos class and in the best effort mem qos class. @vishh is the percentage of burst (e.g. bursting %7000 over request) taken into account when eviction scoring?

[2016-11-22 01:00] mikedanese commented on #1152
We are still seeing evicitons after https://github.com/kubernetes/test-infra/pull/1154:
[code]

[2016-11-22 01:18] mikedanese commented on #1152
The machines are n1-standard-8 (8 cpu, 30GiB of memory) and the build job will use as much resource as we give it.

[2016-11-22 01:28] dchen1107 commented on #1152
#1154 is on the right direction here. The only other reason could cause eviction is disk. If the node is out-of-disk (usage or inode), Kubelet eviction manager could evict pods too. Unfortunately disk usage and inode are not first-class of the compute resource we support today, there is no qos class defined for this.

Can someone attach kubectl events or kubelet log so that we know which resource

[2016-11-22 02:43] mikedanese commented on #1152
@dchen1107 Thanks! fixing the disk issue made this much better.

[2016-11-22 02:43] #1152 closed

[2016-11-22 09:13] gmarek opened #1160 "Missing node-level logs for GCI-based tests"
I was trying to debug flake test, but I found that Node logs are missing for GCI runs (http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/83/artifacts/).

Randomly assigning @ixdy - please reassign if I'm wrong.

cc @mtaufen @vishh @kubernetes/test-infra-maintainers

[2016-11-22 09:32] Random-Liu commented on #1160
Dup to https://github.com/kubernetes/test-infra/issues/1149

[2016-11-22 09:46] #1160 closed

[2016-11-22 10:19] #1149 closed

[2016-11-22 20:12] spxtr opened #1163 "Prow is dropping too many webhooks"
I was previously dropping 1 webhook every few hours. After yesterday, when I switched certain simple pods to run on the same nodes as my webhook listening pods the rate of dropped webhooks skyrocketed. This is unacceptable, and likely it's a kubernetes bug again. Next week I'll look into a repro and fix.

[2016-11-22 21:38] dims opened #1166 "Jenkins Bazel Build Failures"
Example Failure:
https://github.com/kubernetes/kubernetes/pull/37311#issuecomment-262368510

However if you look at logs, the build seems to be running and not finished yet:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/37311/pull-kubernetes-bazel/7671011103186664108/
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/37311/pull-kubernetes-bazel/7671011103186664108

[2016-11-22 21:39] saad-ali commented on #1166
CC @mikedanese

[2016-11-22 21:39] dims commented on #1166
Here's how i went looking for recent failures:
https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+is%3Aopen+%22Jenkins+Bazel+Build%22+sort%3Aupdated-desc

[2016-11-22 22:18] dchen1107 commented on #1166
This failure blocks several prs for 1.5 getting merged. Can we treat this as P0 blocker.

[2016-11-22 22:20] ixdy commented on #1166
@dchen1107 bazel isn't a blocking build.

[2016-11-22 22:23] dims commented on #1166
@mikedanese @derekwaynecarr this one may be a better example? https://github.com/kubernetes/kubernetes/pull/37305

[2016-11-22 22:26] dims commented on #1166
Derek shared another kind of failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32577/pull-kubernetes-bazel/3904481374297485778/

[2016-11-22 22:29] dims commented on #1166
@ixdy : it's not a "Queue blocking build" in http://submit-queue.k8s.io/#/e2e, but if things don't go green in the PR(s), they won't enter the submit queue. right?

[2016-11-22 23:09] mtaufen commented on #671
Added via https://github.com/kubernetes/kubernetes/pull/37248

[2016-11-22 23:09] #671 closed

[2016-11-22 23:21] mikedanese commented on #1166
@dims that's incorrect. submit-queue ignores this when merging PRs.

[2016-11-22 23:24] dims commented on #1166
@mikedanese ah! thanks. i did not know that

[2016-11-22 23:50] mikedanese commented on #1166
@dims, @derekwaynecarr 's failure will be fixed by https://github.com/mikedanese/gazel/pull/3/ . NIce bug!

[2016-11-22 23:54] dims commented on #1166
@mikedanese cool!

[2016-11-23 00:01] mikedanese commented on #1166
https://github.com/kubernetes/test-infra/pull/1167 should temporarily fix the OOMing.

[2016-11-23 01:38] saad-ali commented on #1163
PR https://github.com/kubernetes/kubernetes/pull/37312 appears to be blocked by this issue? Is there a workaround?

[2016-11-23 01:39] spxtr commented on #1163
You can just ask for a retest manually.

[2016-11-23 01:48] saad-ali commented on #1163
Got it thanks.

[2016-11-23 01:52] spxtr commented on #1163
This is the same symptom that lead to https://github.com/kubernetes/kubernetes/issues/32415.

[2016-11-23 02:19] k82cn opened #1176 "Support kube-mesos"
**Description:**

[kube-mesos](https://github.com/kubernetes-incubator/kube-mesos-framework) did **NOT** change k8s's  user interface; so it's better to re-use kubernetes test-infra for it.

Furthermore, there's also some cases that similar with kube-mesos; so it's better to make it decouple with k8s, focus on k8s's user interface.

[2016-11-23 19:39] krzyzacy commented on #613
I think this is fine now after all the testgrid and bootstrap fixes. Close for now.

[2016-11-23 19:39] #613 closed

[2016-11-23 21:24] spxtr commented on #1163
Temporary fix: I have a VM running a very simple proxy on GCE that does retries on transport failure. We should be getting webhooks now every time, but there's still a real problem.

[2016-11-28 19:57] dims opened #1201 "milestones should rank higher in the submit queue"
For example if we have 2 PR(s) with ["P3","v1.5"] or ["P2","v1.6"]

Currently we are prioritizing the 1.6 above the 1.5... Can we please do the opposite?

[2016-11-28 19:57] dims commented on #1201
cc @saad-ali @rmmh

[2016-11-28 19:59] saad-ali commented on #1201
http://submit-queue.k8s.io/#/info Looks like "by design" the priority labels take precedence over milestone. We should change that. In the mean time we can manually bump the priority of 1.5 PRs

[2016-11-28 20:03] rmmh commented on #1201
Changing this might be a little tricky. In this case we want the 1.5 PRs to have higher priority, but if we change the logic in a simple way, just labelling your PR with *any* milestone will cause it to be treated as more important than a P0 issue.

[2016-11-28 20:20] rmmh commented on #1201
Duplicate of kubernetes/contrib#2083.

[2016-11-28 20:20] #1201 closed

[2016-11-28 21:14] viglesiasce opened #1202 "ghprbPullId no longer exported as just the number"
Recently Charts CI started to fail because the ghprbPullId environment variable is now being set to the branch:commit. Is there another variable that holds the PR number?

[code]

Example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/charts/223/pull-charts-e2e/252/

[2016-11-28 21:47] spxtr commented on #1202
Oh, sorry about that. I'll get the fix out today.

[2016-11-28 21:53] spxtr commented on #1202
1. Add new env var `PULL_REFS` which contains the refs that are currently in `ghprbPullId` and `PULL_NUMBER`.
2. Switch all uses of `ghprbPullId` to either `PULL_REFS` or `PULL_NUMBER`, whichever is required.
3. Delete `ghprbPullId`.

[2016-11-28 22:43] spxtr commented on #1130
Actually I'm not sure that's a great idea. Receiving duplicate events is so rare that I don't want to optimize around it. Other plugins don't bother, either.

Instead, it might be worth only posting the comment if the label is added correctly.

[2016-11-29 02:00] #1109 closed

[2016-11-29 02:01] fejta commented on #1110
https://github.com/kubernetes/test-infra/pull/1134

[2016-11-29 02:01] #1110 closed

[2016-11-29 02:02] fejta commented on #1044
Think this might have caused problems re space issues?

[2016-11-29 16:45] zmerlynn opened #1212 "kops-build is unnecessarily running every hour"
#1182 caused the `kops` related jobs to fail because `kops-build` was pushing a new, overlapping version every hour. This was exacerbated by a lack of proper Cache-Control settings on those uploads, which I fixed in https://github.com/kubernetes/kops/pull/1011. There's no reason to re-run this build job unless there's a new git hash, and that's how the old build used to work.

cc @kubernetes/test-

[2016-11-29 18:36] #1212 closed

[2016-11-29 18:39] sarahnovotny commented on #1130
@foxish i think this is another issue of multiple notices -- https://github.com/kubernetes-incubator/service-catalog/pull/57

if it's not, we can escalate to CNCF as @arschles has signed the CCLA as a Deis employee.

[2016-11-29 18:41] sarahnovotny commented on #1130
for completeness, can you verify @arschles signature on the CNCF CCLA for Deis, @caniszczyk ?

[2016-11-29 18:47] arschles commented on #1130
Note that my account is under the aaron@deis.com email address

[2016-11-29 19:16] spxtr commented on #1044
This should help issues with space, since it only deletes more things.

[2016-11-29 20:45] caniszczyk commented on #1130
He's there, but I believe he should login to http://identity.linuxfoundation.org/projects/cncf and make sure his github account is properly associated.

![screen shot 2016-11-29 at 2 44 21 pm](https://cloud.githubusercontent.com/assets/63777/20728259/7cde8606-b642-11e6-877e-9ababf13dd4a.png)

[2016-11-29 22:10] arschles commented on #1130
@caniszczyk see below for what happens when I try to associate my GH account

<img width="1017" alt="screen shot 2016-11-29 at 2 09 12 pm" src="https://cloud.githubusercontent.com/assets/70865/20731063/7b38eb16-b63d-11e6-9202-36a3ce02a59c.png">

I have a personal account (arschles@gmail.com) to which I've associated, then from which I removed, my GH account. Not sure if that could contribute to th

[2016-11-30 01:19] #1128 closed

[2016-11-30 01:19] #1026 closed

[2016-11-30 01:19] #1058 closed

[2016-11-30 01:50] zmerlynn opened #1223 "gubernator per-PR display now a mess"
It looks like there's a column per run, vs compressing them at all. I assume this is because each job has changed to do its own merge or something. Can we maybe instead use the commit it's merging in (which would be more useful info anyways), rather than the ephemeral post-PR-merge commit?

![screen shot 2016-11-29 at 5 47 38 pm](https://cloud.githubusercontent.com/assets/4942464/20736538/1502e382

[2016-11-30 02:02] ixdy opened #1224 "bootstrap merge commits are creating unusable PR results pages"
With bootstrap now making merge commits itself (instead of checking out the GitHub merge branch), every single build is ending up with a separate commit - see e.g. https://k8s-gubernator.appspot.com/pr/37665. I suspect this is due to the merge commits having different times.

GitHub is also unable to show these commits, whereas using the GitHub merge can be shown. See e.g. https://k8s-gubernator.a

[2016-11-30 02:08] ixdy commented on #1224
gonna dupe into #1223.

[2016-11-30 02:08] #1224 closed

[2016-11-30 02:16] spxtr commented on #1223
I think it's related to the change to always pass bootstrap the specific SHA of master and the PR. Not sure how it works, @rmmh probably knows.

[2016-11-30 02:18] fejta opened #1225 "Simplify interface between bootstrap -> commands"
ref #250 and #1021

We previously stored tons of complexity in jenkins. Our jobs required a huge number of commands, plugins, complicated and conditional steps. To resolve this we defined a simple interface that jenkins uses to run our jobs:
* `git clone http://github.com/kubernetes/test-infra`
* `jenkins/bootstrap.py --job=JOB --repo=k8s.io/kubernetes --pull=12345`

We then created the bootstrap.

[2016-11-30 02:38] fejta opened #1226 "Move timeout logic into bootstrap"
ref #1225

Once jobs define timeouts in the job.yaml we will need to update bootstrap.py to read this value, timeout when appropriate and do any necessary cleanup (deleting containers, for example).

[2016-11-30 02:40] fejta opened #1227 "Migrate build jobs to yaml"
ref #1225

This replaces `kubernetes/hack/jenkins/build.sh`

These jobs will expect four arguments:
* `--fast=true  # used by ci-kubernetes-cross-build`
* `--deb-channel=stable  # used by ci-kubernetes-build-debian-unstable`
* `--suffix=  # used by ci-kubernetes-cross-build`
* `--make=release  # used by ci-kops-build`

[2016-11-30 02:42] fejta opened #1228 "Migrate verify jobs to yaml"
#ref #1225

replaces two files:
* `kubernetes/hack/jenkins/verify-dockerized.sh`
* `test-infra/gotest-dockerized.sh`

Arguments:
* `--branch=master`
* `--force=true`

[2016-11-30 02:42] fejta opened #1229 "Migrate test-go jobs to yaml"
ref #1225

Similar to #1228

replaces two files:
* `test-infra/gotest-dockerized.sh`
* `kubernetes/hack/jenkins/test-dockerized.sh`

Arguments:
* `--branch=master`
* `--force=true`

[2016-11-30 02:43] fejta opened #1230 "Migrate e2e jobs to yaml"
ref #1225

This interacts with `kubernetes/hack/e2e.go` `test-infra/jenkins/e2e-image/e2e-runner.sh` and `test-infra/jenkins/dockerized-e2e-runner.sh`

These jobs will expect three arguments:
* `--owner=O  # things owned by the executor such as gcp project, buckets, etc`
* `--platform=P  # things specific to the platform being tested, such as aws/gce, zone, etc`
* `--sceanrio=S  # things specific

[2016-11-30 02:43] fejta opened #1231 "Migrate kubelet jobs to yaml"
ref #1225

This interacts with `test/e2e_node/jenkins/e2e-node-jenkins.sh`

Jobs have two arguments: `--properties=P` and `--runner=R`

`R` refers to a script like `test/e2e_node/jenkins/e2e-node-jenkins.sh` relative to the repo root.
`P` refers to a properties file like `test/e2e_node/jenkins/cri_validation/jenkins-benchmark.properties` relative to the root of the repo

[2016-11-30 02:44] ixdy commented on #1225
@fejta might be worth creating a github project to track all of this, too.

[2016-11-30 16:21] chrislovecnm commented on #939
@spxtr / @zmerlynn can we get the auto LGTM merge into master automatically?  kops is only running a master branch, so we don't have to worry yet about backporting / cherry picking.  Also auto assign PRs :)

[2016-11-30 16:55] zmerlynn commented on #939
I don't have a lot of experience setting up a separate submit queue instance, but that's what we would need for part of this request (presumably).

[2016-11-30 16:56] zmerlynn commented on #939
We also at some point need to add the PR builder and Travis to the protected branch list for this repo (https://developer.github.com/v3/repos/branches/#update-required-status-checks-of-protected-branch)

[2016-11-30 17:10] zmerlynn commented on #1225
Can you make sure test owners / stakeholders are CC'd when the jobs are migrated, or work out a good plan for due diligence as the jobs are migrated? I didn't even see the `kops-build` job get migrated in #1182, and knowing it happened would've saved me some time when the `kops` jobs all started flaking. (maybe just a cc to @kubernetes/test-infra-maintainers?).

[2016-11-30 18:22] roberthbailey opened #1235 "See logs while build is running"
While a build is running, I don't see any logs (in gubernator). This is a regression from Jenkins, where I could watch the build output in near real time. Clicking the "Load build log" seems to have no effect. Clicking on build-log.txt gives

[code]

Clicking on artifacts gives a directory listing with started.json.

[2016-11-30 18:36] spxtr commented on #1235
Dupe of #977. We will have it done in the near future, before transitioning all jobs off of Jenkins.

[2016-11-30 18:36] #1235 closed

[2016-11-30 18:39] roberthbailey commented on #1235
Oh thanks. I searched for existing issues but didn't see that one.

[2016-11-30 18:39] roberthbailey commented on #977
/cc me

[2016-11-30 20:45] #1223 closed

[2016-11-30 22:02] spxtr commented on #1202
@viglesiasce `PULL_NUMBER` is just the number, please use that. While you're making this fix, I would appreciate if you could look for `ghprbTargetBranch` as well and replace that with `PULL_BASE_REF`. I'd like to get rid of `ghprb*` for good.

[2016-11-30 22:18] viglesiasce commented on #1202
Thanks @spxtr! Ill see if we have any ```ghprbTargetBranch``` lying around (I dont believe we do).

We are however seeing an issue with Jenkins not cloning the correct master branch for PRs. For example https://github.com/kubernetes/charts/pull/223 is being tested against 14bee1e456 rather than the current master commit b5aa3f. Any ideas why that would be?

[2016-11-30 22:54] krzyzacy opened #1246 "Implement triggering on source changes in prow"
So that we can migrate https://github.com/krzyzacy/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-update-jenkins-jobs.yaml

And testgrid config upload job. Properly.

[2016-11-30 22:58] spxtr commented on #1202
Ooh, if that's caused by what I think it is then that's a pretty big issue, thanks for letting me know.

[2016-11-30 23:31] fejta commented on #1246
@krzyzacy for now you can migrate the job to here: https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/bootstrap-ci-commit.yaml (or use a similar pattern in a new maintenance-commit.yaml file)

@spxtr please triage/delegate/etc appropriately.

[2016-12-01 00:20] fejta opened #1250 "Make e2e.go aware of timeout and handle correctly"
More complete fix for https://github.com/kubernetes/kubernetes/issues/37553

[2016-12-01 00:56] spxtr commented on #1163
OK, something was borked in the cluster. I recreated it in a new project and we're back to not dropping hooks.

[2016-12-01 00:56] #1163 closed

[2016-12-01 01:10] spxtr commented on #1202
#1251

[2016-12-01 01:12] spxtr commented on #1202
Please open another issue if you have further problems :)

[2016-12-01 01:12] #1202 closed

[2016-12-01 01:47] viglesiasce opened #1253 "Unable to get build output in Charts PR"
After https://github.com/kubernetes/test-infra/pull/1251 we are no longer able to see build results and frankly I'm not even sure that they are being kicked off at all.

Example:
https://github.com/kubernetes/charts/pull/223

Link from PR:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/charts/223/pull-charts-e2e/269/

cc @spxtr

[2016-12-01 01:50] viglesiasce commented on #1253
From [here](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-charts-e2e/) it shows that build 269 is the last, but PR is now referencing 270+.

[2016-12-01 01:53] krzyzacy commented on #1253
hummm... latest is 271 but failed without upload logs seems

[2016-12-01 01:55] spxtr commented on #1253
`./test-infra/jenkins/bootstrap.py --job=pull-charts-e2e --repo=k8s.io/charts --pull=b5aa3fd38d257045a7d21cec334543b474a7952c:14bee1e456c1789d1ebdfc2dc7e3ae2b9ea930ce,223:a5e1b12e9605de227f330a40a3dedcd5f1e5c6c2 --root=/var/lib/jenkins/workspace/pull-charts-e2e/go/src`

[2016-12-01 02:02] spxtr commented on #1253
Whoops. Sorry about that... again.

Thanks for opening the issue, should be fixed now.

[2016-12-01 02:02] #1253 closed

[2016-12-01 02:03] viglesiasce commented on #1253
Thanks @spxtr!!!

[2016-12-01 12:03] dims opened #1258 "Jenkins Status checks panel does not reflect actual job status"
Please see https://github.com/kubernetes/kubernetes/pull/35272:

Jenkins GCE Node e2e and Jenkins unit/integration are marked as "Build Started" but the jobs are already finished.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/35272/pull-kubernetes-node-e2e/7207/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/35272/pull-kubernetes-unit/7268/

Qu

[2016-12-01 12:05] dims commented on #1258
cc @rmmh @fejta @kubernetes/test-infra-maintainers

[2016-12-01 13:33] shashidharatd opened #1260 "Change frequency of soak-gce-federation-deploy job"
soak-gce-federation-deploy job has been changed to trigger everyday from every week in order to allow faster debugging. This is done in this PR [#1143].

we need to change it back to trigger every week, once the deployment is successful.

@madhusudancs

[2016-12-01 19:26] spxtr commented on #1258
I think this was my bad. I recreated the prow cluster yesterday at 12:30 or so, after waiting a little over a half-hour for old jobs to complete. I didn't realize how long our pre-submits take nowadays, so I probably cut off some.

Please reopen if you see it again.

[2016-12-01 19:26] #1258 closed

[2016-12-01 19:27] fejta commented on #1250
Zach's fix didn't work yesterday so we need to prioritize this one.

[2016-12-01 19:37] madhusudancs commented on #1260
Thanks @shashidharatd.

Github won't let me assign this issue to @shashidharatd, so I am just putting my name in the "Assignees" section, but this is actually assigned to him.

[2016-12-01 22:29] zmerlynn commented on #1250
It's easy enough to do another stop-gap fix for the previous issue, and less fickle for now. I put the script in the last commit if someone wants to take a crack and adding the `chmod` (but I'm not even supposed to be online right now).

[2016-12-02 03:56] ixdy commented on #1250
it occurs to me that #1270 might not be as urgent - @zmerlynn's fix probably didn't work because `cluster/log-dump.sh` was broken. With https://github.com/kubernetes/kubernetes/pull/37857 merged, Zach's fix might work.

[2016-12-02 08:19] ixdy commented on #1250
nope, I was wrong again. #1247 doesn't work because the kubernetes tarball is extracted inside the docker container, and so doesn't exist after timeout.

[2016-12-02 20:29] colhom opened #1277 "ci-kubernetes-e2e-gce-multizone job is in inconsistent state"
Tracking the log output of the job, I've narrowed https://github.com/kubernetes/kubernetes/issues/37025 down to a root cause in Kubernetes cluster code:

It turns out the `kube-down` framework is finding that other instances exist based on the fragile regexp logic the framework uses to discern ownership.

`REMAINING_MASTER_COUNT` is generated [here](https://github.com/kubernetes/kubernetes/blob/ma

[2016-12-02 20:42] ixdy commented on #1277
@krzyzacy can you assist?

[2016-12-02 20:58] krzyzacy commented on #1277
eh, what's needed here?

[2016-12-03 00:22] colhom commented on #1277
@krzyzacy can you tell me what the Jenkins job is seeing when it executes [this function](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L1363-L1367)

[2016-12-03 00:23] colhom commented on #1277
My hunch is that it's finding some instances that it shouldn't for whatever reason.

[2016-12-03 00:33] krzyzacy commented on #1277
the output will be `us-central1-a`

and full instance list dump is:
[code]

[2016-12-03 01:19] colhom commented on #1277
@krzyzacy could you tell me when that instance was first launched? If was more than, say a few days ago- go ahead and delete it.

[2016-12-03 01:27] krzyzacy commented on #1277
`2016-12-01T03:38:45.825-08:00`, not too old

[2016-12-03 17:07] dims opened #1287 "Batch and Serial Submit Queue Jobs are not blocking on the same test suite"
Essentially the batch jobs are merging away happily and the Serial runs are failing as expected because of [1]. Please see details below:

Batch is testing "pull-kubernetes-e2e-gke-gci" (Looking at list of tests in https://k8s-gubernator.appspot.com/pr/batch) Whereas
Serial is testing "ci-kubernetes-e2e-gci-gke" (Looking at list of tests http://submit-queue.k8s.io/#/e2e)

Those 2 are totally diffe

[2016-12-03 17:07] dims commented on #1287
cc @k8s-oncall @saad-ali @rmmh

[2016-12-03 17:48] fejta commented on #1287
What is happening is that the GKE job is usually but not always failing. And every few hours when the GKE job passes we merge a few things.

Today the GKE job passed at 9:15a, 4a, midnight and 11p PST. https://k8s-testgrid.appspot.com/google-gke#gci-gke&width=20

That aligns with when the mergebot was active: https://github.com/kubernetes/kubernetes/commits/master

So we should definitely fix the

[2016-12-03 18:15] dims commented on #1287
Ack @fejta closing the issue

[2016-12-03 22:07] chrislovecnm opened #1288 "Issue link with e2e bot incorrect kops"
https://github.com/kubernetes/kubernetes/issues?q=is:issue+label:kind/flake+is:open

Wrong url  for kops

[2016-12-04 04:49] #1287 closed

[2016-12-05 15:25] henrynash opened #1289 "k8s-ci-robot request for a kube member to verify if ok test can be misinterpreted"
As a newbie doing my first pull request, I misinterpreted this.  When it said:

"Can a kubernetes member verify that this patch is reasonable to test? "

...I thought it was asking ME if I thought another kube member would be able to easily look at my change and decide if it was OK to test. So I promptly added the "@k8s-bot ok to test" comment, only to be told, of course, that I wasn't the member

[2016-12-05 17:52] arschles commented on #1130
@caniszczyk any progress on the above issue? Also, if there's a better issue on which I should discuss this, or if I should create a new issue just for this problem, please let me know. Thanks.

[2016-12-05 18:03] #1030 closed

[2016-12-05 18:03] #1021 closed

[2016-12-05 18:37] colhom commented on #1277
@krzyzacy if that instance is still there, let's

* stop the jenkins job
* kill the instance
* start the jenkins job

That instance should only stick around for the duration of a single e2e test run- I feel there's a resource leak somewhere.

[2016-12-05 18:42] krzyzacy commented on #1277
it's still there, and jenkins job should be running cron-based.

I'll kill the instance, the next job should pop a new one.

[2016-12-05 18:44] colhom commented on #1277
@krzyzacy only worry there is that killing the master while a job is in progress has the potential to inflict further undefined state on our house of cards.

Honestly, we can reset the state of the account (as it's dedicated) pretty trivially if this goes more wrong. Bon voyage!

[2016-12-05 18:55] colhom commented on #1277
I mean project- not account. If this doesn't work for whatever reason- we should probably de-cron the jenkins job, destroy and re-create the project and see if that fixes it.

[2016-12-05 19:03] krzyzacy commented on #1277
@colhom em.. I feel like the better way should be clone a job, and run the job use bootstrap.py and make sure it works first? Since it's not a test-infra failure and manually doing things might not be a good idea. Maybe @madhusudancs or @krousey (build cop) can help?

[2016-12-05 19:12] fejta commented on #1277
Assigning to @madhusudancs and @krousey to help find someone to help

[2016-12-05 20:14] #1289 closed

[2016-12-05 21:08] spxtr commented on #1289
Hopefully that's better. Thanks for opening the issue and feel free to open another if you have any more problems.

[2016-12-05 21:15] madhusudancs commented on #1277
@krzyzacy by clone a job, you also mean create a new project?

[2016-12-05 22:03] krzyzacy commented on #1277
@madhusudancs I guess I'm not very familiar with the context of this issue, I feel like you can create a new project/new jenkins job to collect the debug information you want?

[2016-12-06 01:53] fejta commented on #1250
We now have the following timeout logic:
* `e2e.go` will `SIGTERM` the current running process after `KUBEKINS_TIMEOUT`
* `e2e.go` will `SIGKILL` all subprocesses 15m after `KUBEKINS_TIMEOUT`
* `dockerized-e2e-runner.sh` will delete the container after `DOCKER_TIMEOUT` which is at least 20m more than `KUBEKINS_TIMEOUT`

[2016-12-06 21:09] krzyzacy opened #1313 "bootstrap.py need to catch SIGCHLD in select"
tracking https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.5/846/

stuck at https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap.py#L74

[2016-12-06 21:25] fejta opened #1316 "e2e.go can fail without creating junit failures"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.5/852/

[code]

However it looks like none of the test cases in https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.5/852/artifacts/junit_runner.xml failed. We should ensure this doesn't happen.

[2016-12-06 21:33] #1313 closed

[2016-12-06 21:43] fejta opened #1317 "Stop assigning suite failures to test-infra team"
If we have test cases, it isn't test-infra.

[2016-12-06 21:43] fejta commented on #1317
If there are N test cases run we should figure out the set of people assigned to those N bugs and assign the suite failure to them.

[2016-12-06 21:48] krzyzacy commented on #1317
should we add back owners for each job?

[2016-12-06 21:53] fejta commented on #1317
Sounds reasonable to me. Also somewhat orthogonal?

[2016-12-06 21:57] krzyzacy commented on #1317
not all jobs have owners, we need to make things up :-) we can discuss tomorrow

[2016-12-06 22:36] spxtr commented on #1316
https://github.com/kubernetes/kubernetes/blob/master/hack/e2e.go#L294

This isn't `xmlWrap`ped.

[2016-12-06 22:40] #930 closed

[2016-12-06 22:40] #780 closed

[2016-12-08 06:09] #1288 closed

[2016-12-09 20:34] spxtr opened #1342 "Retire Travis"
It's probably a good opportunity to clean up this mess too.
[code]

[2016-12-12 18:25] spxtr opened #1348 "Node e2e aren't dockerized"
@krousey noticed in https://github.com/kubernetes/kubernetes/pull/38592 that the node tests don't have the [context](https://golang.org/pkg/context/) package, which was added in 1.7. Instead, it looks like they're building with whatever happens to be installed on Jenkins.

Instead, they should use our test image.

[2016-12-12 19:08] spxtr commented on #1348
cc @Random-Liu

[2016-12-12 20:25] luxas opened #1351 "Prow should make tests that are asked for via a comment sticky to the PR"
Issue noticed in https://github.com/kubernetes/kubernetes/pull/36050

We commented "@k8s-bot build this" in the beginning of the thread, but then a new (bad) commit was uploaded and the cross-build test wasn't run for the second commit.

I and @ixdy took for granted that it ran, and since everything was green, we lgtm'd, which made the cross-build CI job fail in a very untimely manner, when kubead

[2016-12-13 00:03] #1250 closed

[2016-12-13 00:03] #1316 closed

[2016-12-13 08:01] Random-Liu commented on #1348
@spxtr What do you mean by using the "test image"?

[2016-12-13 17:08] zmerlynn opened #1368 "All CI jobs should firewall to master <-> jenkins-agent access only"
c.f. kubernetes/kubernetes#38709 and kubernetes/kops#1144. Any cluster testing either of these was wide open for a period of time, and it's totally likely we'll screw up (in the CI stream) on GCE as well. We should add another layer of protection here, as I did in kubernetes/kubernetes#38672 last night for `kops`.

[2016-12-13 17:08] zmerlynn commented on #1368
cc @kubernetes/sig-auth

[2016-12-13 17:55] krzyzacy commented on #1348
@Random-Liu basically now node-e2e job is simply running a script, and it's using go version from Jenkins machine rather than from a stable image. See ref PRs.

[2016-12-14 21:47] ixdy opened #1376 "Gubernator should expose prow's in-progress log"
For example, bazel builds have a log now on prow's UI (e.g. https://prow.k8s.io/log?pod=3332396015323763201). Gubernator should somehow know if this exists and embed it if so.

[2016-12-14 21:53] spxtr commented on #1376
I need to turn the log path from a random pod name to something Gubernator can create.

[2016-12-14 21:55] ixdy commented on #1376
Good point, I didn't realize that the prow build number is a different long string of numbers (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/38736/pull-kubernetes-bazel/7218971568304669599/ in this case).

[2016-12-14 22:06] spxtr commented on #1376
It won't be too tricky to expose it at `/logs/7218971568304669599` or something like that which Gubernator has knowledge of. Just need to add the appropriate label in the appropriate place.

[2016-12-14 22:08] rmmh commented on #1376
If you can wire it through to started.json (the pod number), that would work too.

[2016-12-14 22:08] rmmh commented on #1376
I do prefer the alternative of labeling the pods build-path=33965/pull-kubernetes-e2e-gce-gci/9456 or something, so you can do a query with that directly.

[2016-12-14 22:09] ixdy commented on #1376
yeah, adding some field to `started.json` seems like the easiest way to tell Gubernator that a prow log exists. though I guess `started.json` is created by bootstrap, and I have no idea how it'd know it was running on prow, or how to find itself.

[2016-12-14 22:56] spxtr commented on #1376
I don't want it in `started.json` because the pod will go away after a day or two and that data will be meaningless.

[2016-12-14 23:28] krousey commented on #1348
Any update on this?

[2016-12-14 23:30] krzyzacy commented on #1348
@krousey will open another PR shortly, basic idea is #1355 + #1361 and I'm reorganizing some stuff.

[2016-12-15 03:58] fejta opened #1382 "Skew tests do not process junit correctly"
https://k8s-testgrid.appspot.com/google-kubectl-skew#gce-1.4-1.5-cvm-kubectl-skew&include-filter-by-regex=%5EOverall%24%7CTest

[2016-12-15 03:59] fejta commented on #1382
I would expect testgrid to show test cases for this run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew/787

[2016-12-15 07:07] mikedanese opened #1385 "debian builds are broken after migrating build jobs to bootstrap"
https://github.com/kubernetes/test-infra/pull/1182

It looks like bootstrap assumes it's building in the main repo.

[code]

cc @luxas @fejta

[2016-12-15 07:10] mikedanese commented on #1385
Is the fix as simple as https://github.com/kubernetes/test-infra/pull/1386?

[2016-12-15 07:11] luxas commented on #1385
Ah, I was wondering why the unstable builds weren't automatically pushed... seems like we now know why

[2016-12-15 07:12] mikedanese commented on #1385
We need better visibility. That probably means publishing results to prow or gubernator and migrating off jenkins.

[2016-12-15 07:13] luxas commented on #1385
And we need to coordinate them with the official release as well

cc @david-mcmahon

[2016-12-15 08:00] ixdy commented on #1382
@fejta if you remove the *include-filter-by-regex* it looks fine - https://k8s-testgrid.appspot.com/google-kubectl-skew#gce-1.4-1.5-cvm-kubectl-skew

[2016-12-15 09:27] fejta commented on #1382
@rmmh not sure this is a helpful default

[2016-12-16 02:32] calebamiles opened #1392 "logs uploaded to GCS are not formatted in GMT time"
Hello,

I attempted to run `hack/update_owners.py` on the 1.4 release branch and got the following traceback

[code]

digging into things a little bit I saw that the generated log history URL was for tomorrow (16 December 2016) which makes sense given that

[code]

uses times in GMT which at the time I ran the script was tomorrow relative to my local time. Logs uploaded to GCS should probably be f

[2016-12-17 18:12] luxas opened #1399 "Continuously test Kubernetes against Go tip"
Hi,

I'm trying to upgrade the Go version for ARM in PR https://github.com/kubernetes/kubernetes/pull/38926

It would be very good to test current master of golang/go against the k8s codebase.
We could have a ci job that fetches latest HEAD of Go, builds a slightly modified version of the cross-image locally, compiles k8s, spins up a lightweight cluster (maybe just with hack/local-up-cluster if we

[2016-12-18 16:02] luxas opened #1400 "Push the server images from the crossbuild CI"
Hi,

Can we make the cross-build push the kube-apiserver, controller-manager, scheduler, proxy and hyperkube images on every run? I think it should be pretty straightforward code-wise.

They could and should be in another repository than `gcr.io/google_containers`, for instance `gcr.io/kubernetes-ci`. We should soon start the migration from `gcr.io/google_containers` to something more kubernetes-s

[2016-12-19 13:07] deads2k opened #1401 "kubernetes/community doesn't merge on lgtm tag"
We've moved docs into the `kubernetes/community` repo and we have an lgtm tag, but the bot isn't automatically merging them.

[2016-12-19 13:09] deads2k commented on #1401
I'm not sure if this is the right place for this issue, but I wasn't sure where else to place it.  Since kubernetes/community is the place proposals are getting merged, I'm assuming we're going to lock down who can manually merge pretty tightly.

[2016-12-19 17:59] spxtr commented on #1401
You'll need a [submit-queue](https://github.com/kubernetes/contrib/tree/master/mungegithub/submit-queue/deployment) if you want that behavior, and currently we only have one for a few repos. It's not trivial to set up for a new repo, but not *too* bad either. In the meantime, why not just lock down who can merge? The submit queue should only be necessary if you want sequential testing, which I don

[2016-12-19 19:53] krousey commented on #1348
Can you tag the PR here?

[2016-12-19 20:01] rmmh commented on #1399
What phases of a release process are we likely to accept a new Go version? Having a CI job tracking Go tip might not be worth the flakiness of testing bleeding edge features-- would tracking its release tags (1.8-beta1, 1.8-beta2, etc) make more sense?

[2016-12-19 20:15] krzyzacy commented on #1348
@krousey sorry it's slower than I expected, I will ref this issue in my further fixes.

[2016-12-19 20:56] krousey commented on #1348
@krzyzacy No worries. I only ask because I'm going to be out of the office for a while soon. Wanted to know the likelihood that this will be fixed so I can check in my PR.

[2016-12-19 21:42] krzyzacy commented on #1348
@krousey I have a test job `ci-kubernetes-node-kubelet-dockerized` set up and once it passes I will convert rest of the node jobs. Should be soon, maybe another day, I'll let you know!

[2016-12-20 13:29] CandiceGuo opened #1409 "Why not allow me to pull request after I have signed?"
Why not allow me to pull request after I have signed?

[2016-12-20 18:01] spxtr commented on #1409
Are you referring to https://github.com/kubernetes/kubernetes.github.io/pull/1991? It looks like there are [three commits](https://github.com/kubernetes/kubernetes.github.io/pull/1991/commits) in that PR. You can see that the second is correct, but the first and last were made by a different git user. [This guide](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md) migh

[2016-12-20 19:19] #1401 closed

[2016-12-20 22:34] ixdy commented on #1400
cc @david-mcmahon

This is a good idea, but I'm not sure it will happen in the near future.

One challege: how do we garbage collect old images? We'll build a lot of these images very quickly.

[2016-12-20 23:00] rmmh commented on #1392
Why are you running hack/update_owners.py on the 1.4 branch?

[2016-12-20 23:07] krzyzacy commented on #1400
you can use `gcr.io/k8s-testimages` if you want, that's the place we put our test images.

[2016-12-20 23:44] Random-Liu opened #1412 "Too many different GCE projects"
Currently, we create a separate GCE project for each test suite.
The reason we want to do that is to prevent test from interfering each other, such as leaking VMs.

However, it also brought some management overhead:
* When we need to copy a bunch of test suites, for example for CRI, GCI validation, we have to create project one by one manually.
* We have to send out a lot of quota requests, which

[2016-12-21 01:21] CandiceGuo commented on #1409
Thank you spxtr.

[2016-12-21 01:45] #1409 closed

[2016-12-21 13:35] kad commented on #1400
in fact, images already built and published as tarballs to gs://kubernetes-release-dev/ci/, including ones for pull requests. Example:
gs://kubernetes-release-dev/ci/v1.6.0-alpha.0.353+ce14c180806534-pull-gke-gci/bin/linux/amd64/kube-scheduler.tar

what is missing, is actually to publish those images into some registry (something like gcr.io/kubernetes-dev-ci/ ?)

[2016-12-21 21:36] ixdy commented on #1400
How are you planning to use the (hypothetical) images in the registry?

[2016-12-21 21:41] kad commented on #1400
one example could be validation of PRs locally. kubeadm can be instructed to use images from different registry with specific version tag.

[2016-12-22 18:47] luxas commented on #1400
yes, in order to test k8s images against master

we could recycle old ones if we have to

[2016-12-26 17:26] mtaufen commented on #1412
Could we just have a pool of projects and round-robin schedule test jobs on them?

[2016-12-26 22:42] spxtr commented on #1412
That's something we've been talking about for a long time. It's a good idea, but until fairly recently it was difficult to actually implement.

[2016-12-28 14:25] ronaldpetty opened #1448 "Prow issue: Missing CLA"
Hello,

I did a PR and signed the CLA, however it seems to just be sitting around.

https://github.com/kubernetes/kubernetes.github.io/pull/2069

I have contributed before so thought I had already done this.  It did make me think, the troubleshooting says to confirm the CNCF email.  So currently my default GH email is my personal email (ronald.petty@gmail.com) however my CNCF email is (ronald.pett

[2016-12-28 17:53] chrislovecnm commented on #939
@zmerlynn @spxtr how do we get the bots to merge PRs into master.  I just borked the master again, because a PR was not passing CI.  Would like where a bot does the merge, and not a human.

[2016-12-28 17:57] zmerlynn commented on #939
I have no idea how to multi-instance the submit queue. Why did you merge a PR that wasn't passing CI? :)

[2016-12-28 17:57] zmerlynn commented on #939
(the PR builder here should be working just fine now, it looks like)

[2016-12-28 17:58] chrislovecnm commented on #939
@zmerlynn cause I messed up. Human <- last time I checked.  But admittedly I would like technological help to do that.

[2016-12-28 18:01] zmerlynn commented on #939
Actually, as a dirt simple fix, I can figure out how to add Travis and the PR builder to the required checks and make this a ("protected" branch)[https://github.com/blog/2051-protected-branches-and-required-status-checks]. Then you have to override the protection to merge (if you're a maintainer), which is an in-your-face way to stop human error.

[2016-12-28 18:28] zmerlynn commented on #1049
This is done!

[2016-12-28 18:28] #1049 closed

[2016-12-28 18:31] spxtr commented on #1448
@foxish

[2016-12-28 18:34] zmerlynn opened #1449 "Bad "Full PR test history" from PR builder in kops repo"
See https://github.com/kubernetes/kops/pull/1295#issuecomment-269518327 .. this comment has [Full PR test history](https://k8s-gubernator.appspot.com/pr/1295), but it should [Full PR test history](https://k8s-gubernator.appspot.com/pr/kops/1295).

We also seem to be missing results from that run, but the [test history](https://k8s-gubernator.appspot.com/pr/kops/1295) doesn't even show a build 307

[2016-12-28 18:53] foxish commented on #1448
@ronaldpetty, thanks for your PR. I saw that your previous PR was https://github.com/kubernetes/kubernetes.github.io/pull/979, and that was back when we were using the Google CLA. We've since moved to the CNCF CLA, which needs to be signed afresh. Did you sign the agreement as an [individual contributor/member of an org](https://github.com/kubernetes/kubernetes/wiki/CLA-FAQ)?. If after the process

[2016-12-28 19:11] ixdy opened #1451 "integrate lgtm-tagging/SQ with GitHub reviews"
Currently, if you use GitHub's review interface to approve a PR, it has no effect on whether that PR will be merged. If you approve a PR and comment in the review interface with `/lgtm`, it still has no effect, because review comments are treated differently from PR discussion comments.

It looks like GitHub now sends events for review comments (see for example [here](https://github-dot-k8s-gubern

[2016-12-28 19:17] ixdy commented on #1451
I'm trying to understand what ["dismissing" a PR review](https://developer.github.com/v3/pulls/reviews/#dismiss-a-pull-request-review) is, and whether it's also something we'd need to handle. I'm not sure that it's exposed in the web UI.

[2016-12-28 19:18] rmmh commented on #1451
It wouldn't be hard to make "approval" set the LGTM label, which would make it flow easier for all the other tools that consume PRs through labels.

[2016-12-28 19:19] spxtr commented on #1451
It makes sense, but it's a little confusing because we're trying to make `/approve` mean something special too.

[2016-12-28 19:20] ixdy commented on #1451
a "meet halfway" solution might be to handle `/lgtm` or other actions in the review comment. kinda verbose, though.

[2016-12-28 19:31] ixdy commented on #1451
Hm, the Reviews API seems to be questionably stable.
[code]

The [events](https://github-dot-k8s-gubernator.appspot.com/timeline?repo=kubernetes/test-infra&number=1411) for kubernetes/test-infra#1411 look fine, though.

[2016-12-28 19:44] ixdy commented on #1449
build 307 is missing because the git merge failed, and bootstrap.py didn't upload a log:

[code]

This is usually caused by pushing new commits before the build starts, which is probably something that prow should report better. And bootstrap.py should also probably always upload a log, rather than having cases where it silently aborts.

[2016-12-28 21:12] thockin commented on #1451
What happens if there are multiple assignees ?  Is it approved when one of
them approves?

On Wed, Dec 28, 2016 at 11:31 AM, Jeff Grafton <notifications@github.com>
wrote:

[2016-12-28 21:17] ixdy commented on #1451
@thockin I think that's what currently happens with `/lgtm`. Not sure what the plan is for `/approved`.

[2016-12-28 21:18] zmerlynn opened #1454 "Allow kops jobs on CLI to use a custom Kubernetes build somehow"
This is a minor inconvenience.. you can easily run the job with `E2E_UP=false; E2E_DOWN=false` on an existing cluster (which you can bring up using a custom k8s build), but that doesn't help for e.g. e2e test development (because we'll still download kube binaries for the tests in `dockerized-e2e-runner.sh`. I think there's a solution here involving `JENKINS_USE_EXISTING_BINARIES`, but it may need

[2016-12-28 21:30] grodrigues3 commented on #1451
`/approved` is supposed to be on a file by file basis.  So if a PR is modifies files `a.go, b.go, and c.go` and bob is only an approver for `a.go, b.go` who writes `/approved`, then the PR will not be considered fully approved (the label will NOT be added) until an approver for `c.go` also writes `/approved`

[2016-12-28 21:58] thockin commented on #1451
Is there a kube-bot dictionary being written?

On Wed, Dec 28, 2016 at 1:30 PM, grodrigues3 <notifications@github.com>
wrote:

[2016-12-28 22:52] grodrigues3 commented on #1451
not yet, but that makes a ton of sense.  especially with all the mungers and bot interactions that take place.  i'll add it to the K8s contribX [github project](https://github.com/kubernetes/contrib/projects/1) task list

[2016-12-28 22:52] spxtr commented on #1451
We might just want to rename `/approve` since it's going to be confusing next to GitHub's approval.

[2016-12-28 23:22] zmerlynn opened #1456 "GINKGO_TOLERATE_FLAKES on postsubmit jobs?"
Is there a reason we don't enable this, especially for SQ blocking jobs? SQ blocking should be similar to PR builder (where this is enabled) for the need to re-test flakes.

[2016-12-28 23:22] zmerlynn commented on #1456
cc @kubernetes/test-infra-maintainers @lavalamp

[2016-12-29 00:14] spxtr commented on #1451
k8s-ci-robot comments will link to https://github.com/kubernetes/test-infra/blob/master/prow/commands.md now.

[2016-12-29 01:12] ronaldpetty commented on #1448
Hi Anirudh, have singed it anew, someone else got back in tough and said I
need to do it with the proper email.  I will try again!

Thanks.

Ron

On Wed, Dec 28, 2016 at 10:53 AM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-12-29 01:31] ronaldpetty commented on #1448
For the record, changing the primary GH email and resubmitting worked.  Now
that I have experienced it, might be nice to allow multiple emails, or
simply tie to the GH (or other bedrock) user?

Keep up the good work and happy holidays!

Ron

On Wed, Dec 28, 2016 at 5:11 PM, Ronald Petty <ronald.petty@gmail.com>
wrote: