[2019-02-24 18:10] nikhita commented on #9126
/remove-lifecycle stale

[2019-02-24 18:11] nikhita commented on #11479
This is not a valid issue.

/close

[2019-02-24 18:11] #11479 closed

[2019-02-24 18:12] nikhita commented on #11480
Closing this issue since it hasn't relevant details.

@tosss Please add more details about the problem you are facing and reopen the issue, if needed.

/close

[2019-02-24 18:12] #11480 closed

[2019-02-24 19:33] rajatjindal commented on #11152
Hi Nikhita

Thanks for taking out time to reply here.

Just to make sure we are on same page regarding installation of “github app
for tweeting goodfirstissue “ , its just telling github to push a readonly
webhook notification to a http endpoint with issue metdata and does not
update kubernetes org in anyway. The endpoint takes care of tweeting the
issue link using https://twitter.com/goodfirstiss

[2019-02-24 20:48] taragu commented on #10514
@cblecker Thanks! This is very helpful. Do you know if/when we are planning to switch to using v4?

[2019-02-24 21:51] BenTheElder commented on #11152
Isn't slack still currently locked down to current contributors only? (unfortunately ...)

I'm not sure how helpful this would actually be, to be honest. GitHub does an increasingly good job surfacing these. 🤔

EG: https://github.com/kubernetes-sigs/ has links like "[5 issues need help ](https://github.com/kubernetes-sigs/kube-batch/issues?q=label%3A%22help+wanted%22+is%3Aissue+is%3Aopen)".

[2019-02-24 23:03] alvaroaleman commented on #8193
Naive question as the initial reason for doing this is `Otherwise there is no point in using omitempty`: When do these configs get serialized?

[2019-02-25 05:33] stevekuznetsov commented on #8193
So having just had a couple NPE issues with this -- let's get rid of the `omitempty` from our serialization code, and not change anything to be a pointer. Let's get rid of pointers entirely. Our configuration structs should be fully functional in their empty/zero value state and we should be able to use those as-is. This makes it much less likely we continue to have NPE and has no downsides I can

[2019-02-25 05:33] stevekuznetsov commented on #8193
@alvaroaleman those are in `plugins.yaml`

[2019-02-25 06:49] matthyx commented on #8193
Alright, so I close this issue, and create a new one doing exactly the opposite?

What about the []struct, as technically these are pointers too?

And my question remains: how will we rollout to avoid config incompatibilities?

[2019-02-25 07:09] #9594 closed

[2019-02-25 07:27] OlegLoewen commented on #11279
Great, thanks for the note. Looking forward for the first version which supports this.

[2019-02-25 10:38] bweston92 commented on #3476
@spiffxp was going to update the block comment here https://github.com/kubernetes/test-infra/blob/3c776246ad7f2c801d41626b43069e10ddefcf91/prow/plugins/config.go#L43 but the link you posted no longer exists.

[2019-02-25 11:03] nikhita commented on #9367
Done in https://github.com/kubernetes/test-infra/pull/11325. Thanks a LOT, @guineveresaenger! :sparkling_heart:

[2019-02-25 11:03] nikhita commented on #9367
/close

[2019-02-25 11:03] #9367 closed

[2019-02-25 13:46] kargakis commented on #3476
@bweston92 try https://prow.k8s.io/command-help

[2019-02-25 16:25] spiffxp commented on #10375
Will also want to update links in go.k8s.io/triage (test-infra/triage)

[2019-02-25 16:33] cjwagner commented on #3476
Also https://prow.k8s.io/plugins to see all plugins, not just commands.

[2019-02-25 19:07] Katharine commented on #1723
The fix for this was reverted due to lack of consensus.

[2019-02-25 19:53] stevekuznetsov commented on #11483
Should be able to just use the utils in `deck` `main.go` right?

[2019-02-25 19:58] stevekuznetsov commented on #8193
That seems reasonable to me, but would like to hear @cjwagner opinion

That should be fine, since a loop over a nil slice will do nothing

I don't think changing an internal type should make any? Which ones are you worried about

[2019-02-25 20:21] stevekuznetsov commented on #11446
Totally -- we should be exposing this through `ghproxy`

[2019-02-25 20:22] stevekuznetsov commented on #11352
@yb172 your detailed feedback is really helpful, thank you for sharing that. We will try to update the docs to be better, but also if you want to take a stab at it and make the parts of the docs you found confusing better, I would be grateful!

[2019-02-25 20:25] matthyx commented on #8193
Well, is the json different between a struct and a pointer to a struct?

[2019-02-25 20:32] spiffxp commented on #11430
If we're happy with where prow is at @BenTheElder can you send a followup to [the k-dev@ thread](https://groups.google.com/forum/#!topic/kubernetes-dev/gjT5fpFlZx0)?

[2019-02-25 20:33] fejta commented on #11430
We should have all components at the same commit (and update them all concurrently) before we declare success

[2019-02-25 20:36] rmohr commented on #11446
Sounds great. I added it to token-counter but I can move it to `ghproxy`. Would mean that the `token-counter` is then not needed at all.

[2019-02-25 20:41] midnightconman commented on #11483
I am digging a little deeper on this, I think the problem is `pkg/ghclient` doesn't have functionality to change github endpoint, and ghclient is used by `prstatus`. Let me keep digging and see if this is still needed, to change prstatus github endpoint.

[2019-02-25 21:56] neolit123 opened #11503 "kubetest/kind: bug in the kubeadm-kind-1.12 job"
i'm seeing a problem in the 1.12 kubeadm/kind job:

https://testgrid.k8s.io/sig-cluster-lifecycle-all#kubeadm-kind-1.12
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kind-1-12/13/build-log.txt

[code]

i need to dig into why this is happening, but posting in advance in case `Found no test suites` is a known problem.
cc @krzyzacy @BenTheElder

/kind bug
/area kube

[2019-02-25 22:00] figo commented on #6590
@krzyzacy @BenTheElder  i believe i am doing something really close to what the PR trying to achieve.
develop and debug Prow job in my laptop (run minikube/KIND cluster in my laptop), debugging a Prow job locally is becoming:
     `make build`  # build the ci job container (has Prow podutils buildin)
     `kubectl create -f job.yaml` deploy the ci job to local cluster

i am thinking to write a KEP

[2019-02-25 22:02] BenTheElder commented on #11430
doing the bump part first
https://github.com/kubernetes/test-infra/pull/11477

On Mon, Feb 25, 2019 at 12:33 PM Erick Fejta <notifications@github.com>
wrote:

[2019-02-25 23:06] midnightconman commented on #11224
This PR is related to this change: https://github.com/kubernetes/test-infra/pull/11486

[2019-02-25 23:25] #9512 closed

[2019-02-25 23:52] imkin commented on #11096
I just experienced this at https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build/92561
Screen shot
<img width="1428" alt="screen shot 2019-02-25 at 3 42 21 pm" src="https://user-images.githubusercontent.com/2793249/53376919-ee339d80-3914-11e9-928f-46617dfd2636.png">

UptoDate: Firefox 65.0.1

Web Console stack trace:
[code]

[2019-02-25 23:53] imkin commented on #11096
/cc @Katharine

[2019-02-25 23:57] ibzib commented on #11096
We should just keep the original date string when JS fails to parse it.

[2019-02-26 01:27] #8645 closed

[2019-02-26 02:43] neolit123 commented on #11503
looks like i can repro this locally:
[code]

[code]

will now try to figure out what is different here and between existing 1.12 test jobs that work. O_o

[2019-02-26 02:46] BenTheElder commented on #11503
did something change in ginkgo-e2e.sh?

really hoping we can stop using this in the kubetest2 tester(s) ...

[2019-02-26 02:53] neolit123 commented on #11503
between 1.12 and master:
[code]

i never understood why ginkgo is used even, but someone mentioned at some point that it was a mistake.

[2019-02-26 03:40] Katharine commented on #11096
This is fixed by #11466

[2019-02-26 03:45] midnightconman opened #11513 "Deck Plugins Page Blank if Label Plugin Used Without Config"
**What happened**:
If I don't add any configuration to `plugins.yaml` for the `label` plugin and enable that plugin for a repo, I get a panic in hook logs like so:
[code]
**What you expected to happen**:
I expected the plugins page to load correctly and labels plugin to work correctly, but not really do anything.

**How to reproduce it (as minimally and precisely as possible)**:
Enable label plugi

[2019-02-26 03:49] spiffxp commented on #9458
/remove-lifecycle rotten
I have since done some of these things in https://github.com/kubernetes/test-infra/pull/11005

I removed this, we now have tide pool and merge rate graphs. I also find devstats to be useful for comparisons across mungegithub/tide usage.

I removed this.  We may want something like this back in.  The biggest hangup these days isn't no-merging, but no-batch-merging.

I remov

[2019-02-26 04:16] neolit123 commented on #11503
i found the problem....
https://github.com/kubernetes/kubernetes/commit/275212bbc964c453fbde596812eea1f992468ee2

while in the release-1.12 branch of k/k, the kind deployer from kubetest builds the `e2e.test` binary, but then for some reason this line in ginkgo-e2e.sh returns an empty string:

`e2e_test=$(kube::util::find-binary "e2e.test")`

need to backport this for 1.12.

[2019-02-26 04:23] BenTheElder commented on #11503
I came here to comment this, I remember this change. There was a fix to make it locate the bazel binary.

[2019-02-26 04:24] neolit123 commented on #11503
https://github.com/kubernetes/kubernetes/pull/74566
^ backport

[2019-02-26 05:31] stevekuznetsov commented on #11513
This should be fixed with #11490
/close

[2019-02-26 05:31] #11513 closed

[2019-02-26 05:36] BenTheElder commented on #6590
@figo I'm not sure if this needs a KEP, but that's really cool : D

[2019-02-26 06:03] yb172 commented on #11352
@stevekuznetsov I'd be happy to but I thought @lioramilbaum is already on it. @lioramilbaum please let me know if you're still working on updating docs. If not I could take it over.

[2019-02-26 07:20] matthyx opened #11517 "Plugin config needs to use structs instead of pointers to structs"
**What should be cleaned up or changed**:
Plugin config will ditch `omitempty` and use structs instead of pointers to structs.

**Provide any links for context**:
https://github.com/kubernetes/test-infra/issues/8193#issuecomment-466877677

[2019-02-26 07:21] matthyx commented on #11517
/area prow
/cc @stevekuznetsov

[2019-02-26 07:22] matthyx commented on #8193
Alright, let's do the opposite then... #11517
/close

[2019-02-26 07:22] #8193 closed

[2019-02-26 07:23] matthyx commented on #11517
/assign

[2019-02-26 08:08] wojtek-t opened #11518 "Kubemark tests are missing logs from kubemark master"
The problem is that we are dumping logs from kubemark-master before we run clusterloader2 tests :-)
https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L662

This should be moved close where we down the kubemark master.

@kubernetes/sig-scalability-bugs

[2019-02-26 10:03] matthyx commented on #11517
/cc @cjwagner @stevekuznetsov

[2019-02-26 14:47] #11503 closed

[2019-02-26 16:15] stevekuznetsov commented on #6590
@figo agreed with @BenTheElder here -- no need for a KEP, if you want to write up something quick or post a WIP PR we can talk about it in the SIG meeting and you could just contribute it to the repo :)

[2019-02-26 16:15] stevekuznetsov commented on #11096
/close

[2019-02-26 16:26] bweston92 opened #11523 "Ability to see private repositories in the PR status dashboard"
**What would you like to be added**:

The ability to see private repositories the OAuth token used to login into the PR status dashboard has access to.

**Why is this needed**:

Closed source projects want some of these amazing features too.

[2019-02-26 17:56] stevekuznetsov commented on #11523
This needs the PR dashboard to ask for a different set of scopes.

/area prow/deck

[2019-02-26 17:56] stevekuznetsov commented on #11523
/cc @Katharine

[2019-02-26 18:55] mariantalla opened #11526 "[failing test] kubeadm-gce-1.14 gcp account issues"
`kubeadm-gce-1.14` is failing in both:
- [sig-release-1.14-blocking](https://testgrid.k8s.io/sig-release-1.14-blocking#kubeadm-gce-1.14)
- [sig-cluster-lifecycle](https://testgrid.k8s.io/sig-cluster-lifecycle-all#kubeadm-gce-1.14)
dashboards.

The error message hints at gcp account issues:
[code]

/sig cluster-lifecycle
/kind failing-test

[2019-02-26 18:56] mariantalla commented on #11526
/remove-kind cleanup

[2019-02-26 20:18] neolit123 commented on #11526
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-14/14

[code]

^ this is the problem. it's because the endpoint doesn't exist yet for 1.14.

but the deployer insists it does:
https://github.com/kubernetes/test-infra/blob/8b4bb87e4361ec0bfe8a73ac9302ca3016b26a1e/kubetest/anywhere.go#L209

and this fails every cycle, before the endpoint is created at GS.  :gru

[2019-02-26 20:50] krzyzacy commented on #11388
wait for a bump

[2019-02-26 21:43] imkin commented on #11096
@Katharine I still face this in firefox btw. Are you suggesting we do not supporting firefox?

[2019-02-26 22:10] krzyzacy opened #11529 "Doc how to migrate report from plank -> crier"
/area prow
/assign

cc @stevekuznetsov @cjwagner

[2019-02-26 22:25] krzyzacy opened #11530 "Write an integration test for crier/controller"
/assign
/area prow/crier

[2019-02-26 23:10] Katharine commented on #11096
Firefox should be fine!

We haven't deployed the fix yet (but will do shortly), so if you're using prow.k8s.io you will still see this bug. If you're running your own instance, that would be surprising.

[2019-02-26 23:49] #9636 closed

[2019-02-26 23:54] imkin commented on #11096
Ah thanks. I assumed it based on your comment (use chrome). Thanks. No I do not have my own instance of prow.

[2019-02-27 00:05] neolit123 commented on #11526
started a discussion on slack:
https://kubernetes.slack.com/archives/C09QZ4DQB/p1551223217339100

[2019-02-27 00:22] Katharine commented on #11096
The fixed version is now deployed, so it would be interesting to know whether you still have this problem.

[2019-02-27 00:39] imkin commented on #11096
<img width="1429" alt="screen shot 2019-02-26 at 4 38 25 pm" src="https://user-images.githubusercontent.com/2793249/53456887-feb34900-39e4-11e9-94d5-7a12c407e777.png">
It works now. screenshot attached.

[2019-02-27 01:26] #11526 closed

[2019-02-27 01:31] neolit123 commented on #11526
^ should be a fix, but let's re-open if it still fails tomorrow.

[2019-02-27 14:47] taragu commented on #10514
@jlewi so looks like with the Github API v3, we are not able to use the project automation to add issues/PRs to a default column. The workaround is to set the default columns for each projects. I have a couple of options for users to set the configs for default columns. Which one do you prefer?
- Set default column for each project in `plugins.yaml`; if no default column is specified, user has to

[2019-02-27 14:51] #9970 closed

[2019-02-27 17:37] mariantalla opened #11548 "Reintroduce the kops-aws job to sig-release dashboards"
The kops-aws job was removed from release blocking with https://github.com/kubernetes/test-infra/pull/11079 because it was failing due to account issues.

The job has been stable on the [sig-cluster-lifecycle-kops](https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kops#kops-aws) dashboard, is reintroduced as a presubmit job (https://github.com/kubernetes/test-infra/pull/11353) and offers usef

[2019-02-27 17:37] stevekuznetsov commented on #8892
We have `config-bootstrapper` now, this is done

/close

[2019-02-27 17:37] #8892 closed

[2019-02-27 17:37] mariantalla commented on #11548
/remove-kind feature

[2019-02-27 17:37] mariantalla commented on #11548
/milestone v1.14

[2019-02-27 17:50] spiffxp opened #11549 "pr-history feedback: targets hard to click, columns missing timestamps"
**What should be cleaned up or changed**:
The amount of whitespace in the boxes relative to the text makes it feel as though the targets are hard to hit since they're spread out.

I feel like the text could be larger in spyglass.  On the other hand, maybe this is necessary if there is a lot of PR history.

**Provide any links for context**:

gubernator (The 522 looks wrong here, let's ignore that)

[2019-02-27 18:00] stevekuznetsov opened #11550 "deck: define user profiles and designs for pages"
/area prow/deck

xref https://github.com/openshift/ci-operator/pull/279

In general I think as we continue to evolve Deck and Spyglass it would be awesome to know who our users are, how they interact with the service and what pages they look at to get their work done so we can have a base level of agreement as to what each page should and should not be doing, and to make sure we are meeting the ne

[2019-02-27 18:00] stevekuznetsov commented on #11550
/cc @Katharine @BenTheElder @cjwagner @spiffxp @fejta

[2019-02-27 18:14] BenTheElder commented on #11548
+1

SGTM, @spiffxp did we set the stable-time-length for promoting yet? I remember a similar discussion for kubeadm jobs.

[2019-02-27 19:31] stevekuznetsov commented on #10514
I feel like the pattern that would most likely match the workflow for an org would be to make defaults based on org/repo, since I'd assume people that make N projects will have similar defaults between them, but that's all conjecture. Let's choose something that makes k8s happy for now and wait for v3 API to support the best workflow?

WDYT @cblecker

[2019-02-27 19:40] jberkus opened #11555 "1.14 Testgrid test jobs should match master, not 1.13"
@mariantalla @spiffxp @amwat etc.

The new 1.14 Testgrid Boards were created with a set of test jobs matching the 1.13 jobs.  This is wrong; the list of jobs for 1.14 should match master, as discussed at prior sig-release meetings and one Release Team meeting.  This means, among other things, Blocking and Informing, not Blocking and All.

I'd just swap out the test list, but since I don't know why

[2019-02-27 20:23] cblecker commented on #10514
There's no real rhyme or reason to how columns are named.. I'm inclined to go with option 1 IMO.

So:
- If a valid column is specified in the command, use that.
- No column is specified, look for a default for that project in plugins.yaml. If that exists, use that.
- Comment with the failure, and suggest a column be specified. Extra points if we can list the columns (nice to have, but not required

[2019-02-27 21:05] taragu commented on #10514
Sounds good @cblecker Thanks for your input!

[2019-02-27 22:02] spiffxp commented on #11555
/milestone v1.14
/area release-team
/sig release

[2019-02-27 22:07] krzyzacy commented on #11555
oh dohhhh that's still not unified...

@jberkus the current workflow is we have a script to promote the version for all jobs, like:
1.10 -> 1.11
1.11 -> 1.12
1.12 -> 1.13
1.13 -> 1.14

Looks like that's not valid anymore and we should update the workflow in test-infra doc

[2019-02-27 22:10] krzyzacy commented on #11555
well - @jberkus I think the issue is still we don't have all equivalent jobs for master and release branches, aka `packages-pushed-master`, and we are still pending to remove kubeadm jobs from release-blocking dashboards.

[2019-02-27 22:11] spiffxp commented on #11555
I honestly forget if my blocking/informing proposal was meant to propogate to all boards or just master.  I will look.  I feel like linting this could help us catch it, if/when we are at a point where the job list is consistent.

[2019-02-27 23:07] jberkus commented on #11555
@krzyzacy so sounds like I need to do specific surgery on the 1.14 boards then?

[2019-02-27 23:09] krzyzacy commented on #11555
@jberkus there's already https://github.com/kubernetes/sig-release/issues/518 - and afaik the `packages-pushed-master` doesn't have a branch version for a reason? cc @neolit123

[2019-02-27 23:12] jberkus commented on #11555
@krzyzacy Take a look at the master boards, there's a LOT more changed than that.

[2019-02-27 23:16] krzyzacy commented on #11555
hummm sorry I was staring at the blocking dashboard - feel free to shuffle all the -all dashboard to become -informing I guess? (all - blocking = informing I assume)

[2019-02-27 23:21] neolit123 commented on #11555
@jberkus

given we already have a 1.14 k/k branch shouldn't we just match all 1.14 jobs to 1.14? here is a 1.14 job that runs against `release-1.14` file, or rather was resurrected yesterday.

the packages-* jobs from sig-cluster lifecycle are jobs that run over the whole support skew...
these tests are so small that running them in separate jobs/pods is a complete waste.

just have them in a gene

[2019-02-27 23:34] neolit123 commented on #11555
actually, packages-install-deb can catch a problem from CI packages too. :thinking:

ok, i'm thinking about moving the packages* jobs to here:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#periodic-packages-pushed
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#periodic-packages-install-deb

https://k8s-testgrid.appspot.com/sig-release-misc

i also explained this here:
http

[2019-02-27 23:43] spiffxp commented on #11549
/assign @Katharine

[2019-02-27 23:44] spiffxp commented on #9374
/assign @Katharine
having done the spyglass->gubernator migration recently I feel like this is on your plate

[2019-02-28 00:05] neolit123 commented on #11555
https://github.com/kubernetes/test-infra/pull/11560

[2019-02-28 01:14] #9415 closed

[2019-02-28 02:56] cjwagner opened #11566 "Deck's 'Revision' column does not include all PRs for batch jobs."
**What happened**:
Deck seems to be rendering batch job revision columns incorrectly. It shows many batch jobs with a single PR even though the jobs' refs include multiple PRs (as all batch job refs should).

**What you expected to happen**:
I would expect the "Revision" column to list all PRs in the batch.

**How to reproduce it (as minimally and precisely as possible)**:
Filter for batches on ht

[2019-02-28 03:00] cjwagner commented on #11566
The dropdown filter for PRs shows the correct batch refs so this is likely just a Deck problem and not something deeper.

On closer inspection it looks like the lowest number PR is always omitted from the list.

[2019-02-28 07:37] matthyx commented on #11517
@cjwagner @stevekuznetsov now what do we do with the rest of the omitempty that are not slices?
[code]

Namely:
- Blunderbuss
 - Cat
- CherryPickUnapproved
- ConfigUpdater
- Heart
- RequireSIG
- Slack
- SigMention

Maybe I should assess each of them separately and see which one is relevant...

[2019-02-28 14:09] matthyx commented on #11478
/close

[2019-02-28 14:09] #11478 closed

[2019-02-28 14:22] matthyx commented on #8838
/assign

[2019-02-28 14:23] matthyx commented on #8838
/remove-lifecycle stale

[2019-02-28 14:44] matthyx commented on #8838
/remove good-first-issue

[2019-02-28 14:45] matthyx commented on #8838
/remove-good-first-issue

[2019-02-28 14:45] matthyx commented on #8838
/remove-help

[2019-02-28 16:26] stevekuznetsov commented on #11517
Even slices are fine -- if we ever actually serialize config, we could leave them. If they're not pointers, I don't think the churn is worth it? Would love to hear opinion from @cjwagner @fejta

[2019-02-28 16:28] benmoss opened #11568 "Spyglass artifacts links don't always work"
**What happened**:
The artifacts link on my build (https://prow.k8s.io/view/gcs/pivotal-e2e-results/kubo-windows-2019/1551296176) 404s. I looked at Gubernator's link and it has a trailing slash on the end, which turns out to work. It seems like GCSWeb has some different behavior depending on whether the bucket is `jenkins-artifacts` or something else.

**How to reproduce it (as minimally and preci

[2019-02-28 16:30] stevekuznetsov commented on #11566
/cc @Katharine @stevekuznetsov @fejta

[2019-02-28 16:48] matthyx commented on #9757
I would like to work on that, can I get a bit of guidance, please?

[2019-02-28 20:33] #9639 closed

[2019-02-28 20:49] #11097 closed

[2019-02-28 21:32] stevekuznetsov commented on #10295
Gubernator is being deprecated.

/close

[2019-02-28 21:32] #10295 closed

[2019-02-28 22:38] cjwagner commented on #11430
All components are at the same commit and we've updated them all concurrently without problem: https://github.com/kubernetes/test-infra/pull/11419

Lets consider this issue resolved.

[2019-02-28 22:38] #11430 closed

[2019-03-01 01:18] jberkus commented on #11555
@spiffxp we agreed in sig-release meeting that it would apply to the 1.14 boards, but that we'd decide later whether to push it down to the older boards.

This was also a follow-up to the 1.13 cycle, to clean up the boards, not just master but versioned.

[2019-03-01 14:50] #9305 closed

[2019-03-01 18:08] tony-yang commented on #2364
At the moment, I think the underlying time format should still be stored in PST due to historical reason. I will be looking into adding the timezone label to the header/tooltip and also displaying local time based on location, as per @michelle192837 suggested above.

[2019-03-01 18:57] krzyzacy commented on #11555
@jberkus so currently all branch dashboards are sorta unified - if we want to do sweeping changes I'd vote we still keep them consistent across old supported releases or else it will be painful when we bump for next release.

[2019-03-01 19:17] jberkus commented on #11555
Sen, I'm up for that, but I can't decide it unilaterally.

[2019-03-01 20:08] mukesh-panigrahi opened #11581 "Difficulty in setting branch protection feature to work in prow"
**What happened**:
Well I have a terraform setup for configuring the prow to a gke cluster.
A seperate github bot account with Collaborators write access to my source-code (public) org/repo account.

All works good (including jobs), just stuck at branch protection part.
 code looks as follows in my config.yaml:
[code]
It doesnt affect the github settings of adding a branch-protection rule.
**What

[2019-03-01 20:32] stevekuznetsov commented on #11581
It's suggested to run the branch protector as a periodic job, not using that CronJob, so you get logs and whatnot. Unfortunately at this time it's an entirely separate thing from Prow and you'll need to run the job to get it to update.

[2019-03-01 20:33] stevekuznetsov commented on #11581
/cc @cjwagner @fejta

[2019-03-01 20:34] stevekuznetsov commented on #11581
You can see our job config here: https://github.com/openshift/release/blob/2a061253bd5774d87a82dd1b9336278243316efd/ci-operator/jobs/infra-periodics.yaml#L225

[2019-03-01 20:51] taragu commented on #10514
@jlewi @stevekuznetsov @cblecker fyi I've updated the config to the following. Please let me know if you have any other suggestions.
[code]

[2019-03-01 20:54] #11226 closed

[2019-03-01 21:08] #10846 closed

[2019-03-01 22:48] Katharine commented on #11568
I fixed spyglass to always end in a trailing slash in #11569. I'm not sure whether we want to keep this open for the weird gcsweb behaviour.

[2019-03-01 23:40] stevekuznetsov commented on #11568
I think that's enough of a fix
/close

[2019-03-01 23:40] #11568 closed

[2019-03-02 01:21] spiffxp commented on #9697
I stripped the skip regex from the conformance image we are hoping to publish as part of this release https://github.com/kubernetes/kubernetes/pull/74808#issuecomment-468860534

We'll compare the list of tests that runs to the list of tests our jobs run.  If they match, let's drop the regex from 1.14

[2019-03-02 08:06] lioramilbaum commented on #11352
@yb172 didn't have the time to get into it yet. go ahead and take it over.

[2019-03-02 21:20] #8047 closed

[2019-03-03 10:35] mukesh-panigrahi commented on #11581
Hey @stevekuznetsov thanks for ur revert.
That link was indeed helpful.
Can you help me with below configmap as volume-mount:
What exactly it does and where can i find its related configmap settings.
[code]

[2019-03-03 18:05] roundnutz14 opened #11590 "Prow issue:"

[2019-03-03 18:05] #11590 closed

[2019-03-03 19:20] roundnutz14 opened #11591 "PR Dashboard:"
Re: ALLENGAIL247,🎁Congratulations 🎉 You  have been elected _____________9486

[2019-03-03 19:22] #11591 closed

[2019-03-03 19:42] #9690 closed

[2019-03-03 20:33] midnightconman opened #11592 "The Ability To Set Default Clone URI"
**What would you like to be added**:
I would like the ability to be able to set the default `clone_uri` to be used by `clonerefs`... so I don't have to specify a `clone_uri` for every job, if my github endpoint is different.

**Why is this needed**:
Without this feature, GitHub Enterprise users would have to specify `clone_uri` for each `prowJob`.

/area prow/clonerefs

[2019-03-04 02:49] #9693 closed

[2019-03-04 07:48] Katharine commented on #9604
/remove-lifecycle stale

There are no known (to me) blockers on this. We just need to pick a time we don't expect to matter an awful lot if things are on fire. After we work through the merge backlog at the beginning of the 1.15 cycle maybe?

We'll also have to loop in contribex and maybe kubernetes-dev because the numbers will be large and ugly.

[2019-03-04 09:41] OlegLoewen commented on #11038
If I run kubtest --ginkgo-parallel, do I need to skip [Serial] e2e tests?
If this is the case, than can I just append the e2e.log and junit files  auf serial and parallel runs and push them for testgrid? Or would these files then have an unaproriate format?

[2019-03-04 11:56] mm4tt opened #11594 "K8s Prow is limited to 1k concurrent pods, or podgc will fight with sinker"
Our scalability tests started behaving strangely over the weekend. The prow jobs running tests are scheduled when they shouldn't.

Example:
name: **ci-kubernetes-e2e-gke-large-performance-regional**
[Config](https://github.com/kubernetes/test-infra/blob/20b1c5787afa443300611ff63c65fcf79d874a31/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L125):
![oqm1ekq6cvr 1](https:/

[2019-03-04 11:57] mm4tt commented on #11594
/priority critical-urgent

[2019-03-04 12:00] mm4tt commented on #11594
/assign @fejta

[2019-03-04 12:06] mm4tt commented on #11594
/sig testing

[2019-03-04 16:11] stevekuznetsov commented on #11594
@mm4tt FYI the best place to escalate something like this is in #testing-ops on Slack, pinging @test-infra-oncall. I've shot a message over [here](https://kubernetes.slack.com/archives/C7J9RP96G/p1551715760031400)

[2019-03-04 16:14] stevekuznetsov commented on #9948
/remove-lifecycle stale

[2019-03-04 16:15] stevekuznetsov commented on #11592
I wonder where we could put that default configuration.

/cc @cjwagner @fejta

[2019-03-04 16:16] spiffxp commented on #11594
/milestone v1.14
/unassign @fejta
not available at the moment
/assign @amwat
as 1.14 test-infra lead, and currently on-call per: go.k8s.io/oncall

[2019-03-04 16:20] BenTheElder opened #11599 "deck search box does not update URL"
**What happened**: type `ci-kubernetes-e2e-gke-large-performance-regional` into prow.k8s.io's jobs box, hit enter. The url will be https://prow.k8s.io/ instead of https://prow.k8s.io/?job=ci-kubernetes-e2e-gke-large-performance-regional

**What you expected to happen**: the url should reflect the selected job

**How to reproduce it (as minimally and precisely as possible)**: see what happened

**P

[2019-03-04 16:20] BenTheElder commented on #11599
cc @Katharine

[2019-03-04 16:21] BenTheElder commented on #11594
could you list them?

Strangely https://prow.k8s.io/?job=ci-kubernetes-e2e-gke-large-performance-regional has one entry at `Mar 03 00:01:39`

https://prow.k8s.io/rerun?prowjob=931c4290-3d8a-11e9-9c9a-0a580a6c0e78

<details>

[code]

</details>

https://testgrid.k8s.io/sig-scalability-gke#gke-large-performance-regional

[2019-03-04 16:24] stevekuznetsov commented on #11594
@BenTheElder I recently added more logging to `horologium` to discern why a job was triggered -- what are the logs saying there?

[2019-03-04 16:24] BenTheElder commented on #11594
All of the entries in testgrid are showing the same pod ID on deck, `931c4290-3d8a-11e9-9c9a-0a580a6c0e78` (click "more info" on the "Test started ..." box)

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-performance-regional/161
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-performance-regional/162
https://prow.k8s.io/view/gcs/k

[2019-03-04 16:30] BenTheElder commented on #11594
the logs for horologium don't seem to show much so far (stackdriver export for horologium pod, `text:ci-kubernetes-e2e-gke-large-performance-regional`, back to 3/2/19 2:00:00 AM)
<details>

[code]
</details>

[2019-03-04 16:38] BenTheElder commented on #11594
plank for `text:931c4290-3d8a-11e9-9c9a-0a580a6c0e78` 🤔

<details>

[code]
</details>

[2019-03-04 16:39] sebastienvas commented on #9948
would it be unique across configuration or unique across org/repo ?

[2019-03-04 18:26] cjwagner commented on #9948
I think we'd want them to be globally unique. Having to qualify with org/repo would add an extra step to looking up a job and that information should probably be in the job name anyways.

[2019-03-04 18:33] sebastienvas commented on #9948
You cannot ask a customer to set a unique job name based on knowledge of other jobs that have nothing to do with his.

[2019-03-04 19:00] stevekuznetsov commented on #11594
Wait, so were there actually multiple versions of the test running at once?

[2019-03-04 19:11] mm4tt commented on #11594
Thanks, @stevekuznetsov. Will keep that in mind for the future.

@BenTheElder, other examples

**name: ci-kubernetes-e2e-gce-scale-performance**
[config](https://github.com/kubernetes/test-infra/blob/20b1c5787afa443300611ff63c65fcf79d874a31/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L38)
![rbkkcuqztpa](https://user-images.githubusercontent.com/2604887/5375621

[2019-03-04 19:34] krzyzacy commented on #11594
/cc

[2019-03-04 19:38] krzyzacy commented on #11594
[code]

We probably hit the OOMKilled again?

[2019-03-04 19:45] krzyzacy commented on #11594
[code]

@stevekuznetsov seems the pod finished and exited properly? Seems a bug in plank?

[2019-03-04 19:46] krzyzacy commented on #11594
(Horologium triggered the job properly afaik)

[2019-03-04 19:49] cjwagner commented on #9948
In practice we already do this today. The only job names that collide are variations of the same job for different branches (which have the same authors/owners).
Global uniqueness would be enforced with presubmit config validation.

[2019-03-04 19:59] midnightconman commented on #11592
I was thinking at the root of `presets` in `config.yaml`, maybe something like:
[code]

[2019-03-04 20:00] cjwagner commented on #11592
I think this applies to `path_alias` and `skip_submodules` as well. It might also be nice to include `extra_refs`: https://github.com/kubernetes/test-infra/blob/e808085f74d1f6f87820f56647f95f03d1bbfddf/prow/config/jobs.go#L384-L399

I think we could add the defaults to `plank` config like we did with [`default_decoration_config`](https://github.com/kubernetes/test-infra/blob/19196f3b9fab235f197b97

[2019-03-04 20:06] stevekuznetsov commented on #11594
@krzyzacy what was the behavior? Plank will create a Pod if one does not exist and the ProwJob is not marked in some completed state, can you try to determine via logs how the pod exited and what the state of the prowjob was at the time?

[2019-03-04 20:11] stevekuznetsov commented on #7152
/remove-lifecycle rotten

[2019-03-04 20:46] krzyzacy commented on #11594
The pod exited with 1 (with `E  + EXIT_VALUE=1 `) I believe...

I think the problem occurs after https://github.com/kubernetes/test-infra/pull/11477? (Feb.26 according to @mm4tt 's screenshot)

And I think the prowjob was still in pending state:

[code]

[2019-03-04 21:26] cjwagner commented on #9757
We don't have the design fully worked out for this one yet, but I was thinking of a common library like the one described here: https://github.com/kubernetes/test-infra/issues/9757#issuecomment-428647392. In particular I think you could closely follow the pattern that branch protector does and generalize it with a leaf config interface that exposes parsing and merging functionality.
I'm not sure i

[2019-03-04 21:34] matthyx commented on #9757
Thanks @cjwagner, I will try my best and do a couple of iterations with test-infra until we have something acceptable.

[2019-03-04 22:00] krzyzacy commented on #11594
kubelet log:

[code]

looks like the pod is get deleted... wonder how to trace back who made that call?

[2019-03-04 23:37] stevekuznetsov commented on #11594
If the pod exited, are you seeing `sinker` clean it up? If not, do you have audit logging on? Do you know what deleted the Pod?

[2019-03-04 23:39] krzyzacy commented on #11594
I don't see the clean up from sinker. How do I check the audit log?

[2019-03-04 23:40] stevekuznetsov commented on #11594
Doc is here: https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2019-03-04 23:47] krzyzacy commented on #11594
(we don't have access to the master apiserver though...)

[2019-03-04 23:50] stevekuznetsov commented on #11594
Then that's a no-go. Interesting that `sinker` did not delete the Pod

[2019-03-04 23:56] nikopen opened #11611 "Automatically apply /milestone when a PR is merged"
**What would you like to be added**:

Whenever a PR is merged, a bot applies the /milestone v1.xx relevant to the upcoming release.

**Why is this needed**:

Many PRs are merged during non-freeze periods and there is little visibility on that. With this change,they can all be encapsulated by a simple query for easier management / overview: https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C

[2019-03-04 23:58] krzyzacy commented on #11594
The prow bump job (https://testgrid.k8s.io/sig-testing-prow#autobump-prow) also uses cron but didn't have this issue - so I'd narrow it down to these large scalability jobs... :thinking: really confused here...

[2019-03-05 00:11] krzyzacy commented on #11594
@stevekuznetsov
[code]

[2019-03-05 00:18] stevekuznetsov commented on #11581
Yes, if you have one file you can omit that `job-config` configmap and the `--job-config-path` flag!

[2019-03-05 00:33] krzyzacy commented on #11594
hummmmmm...

gke has `TERMINATED_POD_GC_THRESHOLD` at 1000 instead of the default 12500 (https://github.com/kubernetes/kubernetes/blob/1b28775db1290a772967d192a19a8ec447053cd5/pkg/controller/apis/config/v1alpha1/defaults.go#L215) (thanks @Random-Liu helped located the issue)

time to have multiple build clusters? :sob: :disappointed: :cry: :joy:

Also we have a ton of imagePullBackOff pods:
[code]

[2019-03-05 01:12] sebastienvas commented on #9948
+1 for code simplicity. -1 for usability.

[2019-03-05 01:26] krzyzacy opened #11617 "Plank does not honor pod pending timeout"
I think we want to kill the pod and abort the prowjob if the pod stucks in pending > podMaxAge, or stuck in running > PJMaxAge regardless... (I remember I've opened a similar issue but cannot locate that)

thoughts?

cc @stevekuznetsov @cjwagner @BenTheElder

[2019-03-05 01:27] krzyzacy commented on #11617
ref https://github.com/kubernetes/test-infra/issues/11594#issuecomment-469484840

[2019-03-05 01:48] BenTheElder commented on #11038
yes, technically you don't have to but they will be more likely to fail.

testgrid can read many junit files, however it think the tests that don't execute in one run will be marked skipped so it will get a bit weird with both passed and skipped entries.

testgrid doesn't care about the log file, that's just for humans to understand the failures

[2019-03-05 02:48] midnightconman commented on #11592
Sweet, I'll take this.

/assign

[2019-03-05 06:37] krzyzacy commented on #11594
(proposed a discussion topic in tomorrow's sig-testing for this)

[2019-03-05 07:04] midnightconman opened #11619 "The Ability to Override the ProwJob Status Url For Jenkins-Operator"
**What would you like to be added**:
I would like to be able to override the default prowJob status url that the jenkins-operator users (`testInfra`) that points at `"https://github.com/kubernetes/test-infra/issues"`. I would like to be able to make this point at the jenkins job url and build number.

**Why is this needed**:
This allows people to use the jenkins-operator and have a better experien

[2019-03-05 07:05] midnightconman commented on #11619
/area prow/jenkins-operator

[2019-03-05 07:09] ccojocar opened #11620 "Unit test the kube.LoadClusterConfigs()"
**What would you like to be added**:

Add some tests for kube.LoadClusterConfigs(). It seems that it is quite difficult to mock its dependencies.

**Why is this needed**:

To validate the various cluster configuration setups

[2019-03-05 07:38] yb172 opened #11621 "Checkconfig passes for invalid config"
**What happened**:
I was setting up prow and configured `plugins.yaml` as described in "Getting started" guide. Plugins didn't work.
[code]
haven't displayed any errors.

**What you expected to happen**:
List of specified plugins to start working or `checkconfig` to show that plugin contains error.

**How to reproduce it (as minimally and precisely as possible)**:
 * Take any working config
 * Mak

[2019-03-05 10:14] mm4tt commented on #11594
/sig scalability

[2019-03-05 12:53] nzoueidi commented on #10821
I am working on this. I will push a PR very soon.
/lifecycle active

[2019-03-05 13:58] matthyx commented on #9757
Alright, so basically the output of this issue will be:
1. a new layout for **config.yaml** with all prow component (deck, sinker, ...) configs looking like the `branch-protection` section of **config.yaml**
1. a new layout for **plugins.yaml** with all plugin configs looking like the `branch-protection` section of **config.yaml**
1. a package **k8s.io/test-infra/prow/confighelper** defining an in

[2019-03-05 16:43] spiffxp commented on #11465
Doing the needful to remove direct collaborators

[2019-03-05 16:44] spiffxp commented on #11465
/close
All actions suggested in the issue description are complete

[2019-03-05 16:44] #11465 closed

[2019-03-05 16:49] Katharine commented on #10375
This happened.

[2019-03-05 16:49] #10375 closed

[2019-03-05 17:00] neolit123 opened #11628 "Tide context status is missing from PRs"
**What happened**:
this PR is missing the GitHub CI status at the bottom - test jobs / CLA / tide:
https://github.com/kubernetes/kubernetes/pull/74933

[2019-03-05 17:00] neolit123 commented on #11628
/area github

[2019-03-05 17:09] spiffxp commented on #11628
Also apparently missing, this PR I just opened right now! https://github.com/kubernetes/test-infra/pull/11629

[2019-03-05 17:10] spiffxp commented on #11628
First report received in #sig-testing was https://github.com/kubernetes/kubernetes/pull/74721

[2019-03-05 17:10] spiffxp commented on #11628
/assign @amwat
as test-infra oncall per go.k8s.io/oncall

[2019-03-05 17:10] spiffxp commented on #11628
/milestone v1.14

[2019-03-05 17:57] spiffxp commented on #11628
Well, my PR merged once it got the appropriate labels at least: https://github.com/kubernetes/test-infra/pull/11629

[2019-03-05 17:58] stevekuznetsov commented on #11628
Yeah, status is user-facing only, won't affect `tide` actually merging

[2019-03-05 17:59] spiffxp commented on #11628
All three linked PR's now have tide status contexts, I don't think any corrective action has been taken, I'm now wondering if this is github instability (I definitely caught githubstatus.com looking degraded but they never opened an incident and it all looks green now)

[2019-03-05 18:01] spiffxp commented on #11628
Also worth noting: the PR's weren't "in the merge pool" when they were missing their contexts before.  They have since had the appropriate labels applied etc, and the tide status context appeared as "in merge pool"

[2019-03-05 18:16] spiffxp commented on #11628
/remove-priority critical-urgent
/priority important-soon
I'm dropping priority as all linked PR's no longer exhibit the problem, and tide has been merging PR's just fine https://github.com/kubernetes/kubernetes/commits?author=k8s-ci-robot

I'm leaving open because I still don't know exactly what happened.  I would suggest @fejta or @amwat fill in what they have found, and close if we find no furt

[2019-03-05 18:23] Atoms commented on #11054
will there be some decision on this ? :)

[2019-03-05 18:30] spiffxp commented on #11628
/assign @fejta

[2019-03-05 18:34] neolit123 commented on #11628
here is one:
https://github.com/kubernetes/kubernetes/pull/7495

it's approved and ready to merge.
but no indication if it passes tests...

[2019-03-05 18:35] stevekuznetsov commented on #10821
@nzoueidi how are you doing this?

I think it would be much better to use Service Account and normal tokens rather than the certificate auth that is currently supported

[2019-03-05 18:37] stevekuznetsov commented on #11621
This is unfortunately something emergent from the YAML loading library. It is totally valid to turn on a plugin but not configure it to do anything, so unless we want a breaking change to that behavior there is no way for `checkconfig` to know that something is wrong.

/cc @cjwagner @fejta

[2019-03-05 18:40] stevekuznetsov commented on #11620
Very difficult. xref #11227

[2019-03-05 18:58] neolit123 commented on #11628
here is another one:
https://github.com/kubernetes/kubernetes/pull/74870

the status seems to disappear on random RPs.

[2019-03-05 18:59] amwat commented on #11628
Multiple things at play here:
k/k tidepool is growing a lot as we are close to code freeze: https://prow.k8s.io/tide
tide is getting flagged by github abuse rate limits, being dicussed in [testing-ops](https://kubernetes.slack.com/archives/C7J9RP96G/p1551798955067800) now

[2019-03-05 19:26] stevekuznetsov commented on #11628
So the context is, per GitHub's API, posted to a commit. When a PR is updated, the new commit has no contexts. The status controller is degraded right now and operating very slowly, so that is why you are noticing PRs without the status context.

[2019-03-05 19:28] stevekuznetsov commented on #11619
That is only used when you fail to start a job, when there is no job to link to

[2019-03-05 19:29] stevekuznetsov commented on #11617
Don't we already do this? @cjwagner  just changed it so when we kill a Pod in Pending we set the ProwJobState correctly

[2019-03-05 19:29] stevekuznetsov commented on #9948
How so? The user-focused field is the context, not the job name. The job name is entirely internal to the config and not surfaced to any user of Prow. Why does enforcing this make it less usable?

[2019-03-05 19:30] stevekuznetsov commented on #11611
/cc @fejta @cjwagner @spiffxp

[2019-03-05 19:33] midnightconman commented on #11619
Interesting, the build starts in Jenkins. I'll dig deeper and see what's going on. :smile:

[2019-03-05 19:42] cjwagner commented on #11611
I think we'd want the bot to apply the label directly instead of using a `/milestone` command, but the feature sounds like a good idea to me.

/help

[2019-03-05 19:51] krzyzacy commented on #11617
@cjwagner @stevekuznetsov that's not the case in our cluster? See https://github.com/kubernetes/test-infra/issues/11594#issuecomment-469484840

Who's deleting the pending pods? Plank? I don't see the logic in sinker..

[2019-03-05 19:54] stevekuznetsov commented on #11617
https://github.com/kubernetes/test-infra/blob/e78b1456a386d18ebcc87a673cad0afd39b7a00e/prow/plank/controller.go#L418-L429

[2019-03-05 19:59] krzyzacy commented on #11617
https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L5

which is.. not really WAI?

[2019-03-05 20:06] yujuhong opened #11631 "Decorated Job Pods Stuck With Sidecar Running"
**What happened**:
https://testgrid.k8s.io/google-windows#windows-gce

**What you expected to happen**:
The job should be triggered periodically, multiple times a day.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2019-03-05 20:06] yujuhong commented on #11631
/cc @krzyzacy
/cc @pjh @mtaufen

[2019-03-05 20:20] krzyzacy commented on #11631
/shrug
cc @amwat

[2019-03-05 20:24] krzyzacy commented on #11617
We are also seeing a lot of stale "running" jobs, on top of the pending jobs:

The last line of log is which seems correct, but the pod didn't exit after that. https://github.com/kubernetes/test-infra/issues/11631

[code]

[2019-03-05 20:24] krzyzacy commented on #11631
(killed the hanging pod)

[2019-03-05 20:32] nikopen commented on #11611
Sure, it applies things directly.

If you can point me to a relevant part of code I could try to write it @cjwagner

[2019-03-05 20:37] sebastienvas commented on #9948
I think we have multiple users here.
- The User you are referring to is the PR author. And yes the context matters and while it can be generated from the name, it can also be set to something that does not need to be unique.
- The other user is someone adding / editing configurations, that needs to come up with a unique name - As this user I don't understand why my presubmit name need to differ fr

[2019-03-05 20:55] stevekuznetsov commented on #9948
Thanks for explaining that, what you're saying makes a lot of sense. For us, we actually name by `$org-$repo-$branch-$context`, so we're effectively using a union of other fields as a unique identifier and making that the `name` field. Perhaps we need to get rid of the `name` field as a settable thing in general, there's no real use to it.

[2019-03-05 21:04] sebastienvas commented on #9948
Thanks for understanding. branch can be a regex right ?

There is one use case where setting unique name will make sense: If you can define your job separately from your triggers such that you can refer to it, and I think that's where @cjwagner is getting at.

[2019-03-05 21:23] pjh commented on #11631
@krzyzacy thanks! It looks like https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/227 has started now.

[2019-03-05 21:40] stevekuznetsov opened #11633 "spyglass: is there a way to show more user-friendly times?"
I am seeing things like:

Can we get that as `2m18s` or something? Is that simple?

/cc @Katharine @BenTheElder
/area prow/spyglass

[2019-03-05 21:43] stevekuznetsov commented on #11617
Let's investigate this as a bug

[2019-03-05 21:45] cjwagner commented on #11611
This might be best suited as a new plugin. I don't think its behavior or configuration will overlap with the `milestone` or `milestonestatus` plugins. The new plugin would just be configured with a mapping from "org" or "org/repo" -> current milestone and would handle pull request merge events for PRs that don't already specify a milestone. [`config-updater`](https://github.com/kubernetes/test-inf

[2019-03-05 21:50] krzyzacy commented on #11617
(I also want to propose we add a pod running timeout here on top of the pending timeout bug)

[2019-03-05 22:27] Katharine commented on #11633
This comes from Go's default rendering of a Duration, which is not remotely customisable.

That said, I hate it, so we should do something better at some point.

[2019-03-05 22:34] stevekuznetsov commented on #11633
Yeah IIRC there was some helper library in Docker or k8s for duration formatting

[2019-03-05 22:36] krzyzacy commented on #11617
So these prowjobs are in error state properly but the pod didn't get deleted - need to double check if we have https://github.com/kubernetes/test-infra/pull/11579 deployed or not, might also worth add a logging.

[2019-03-05 22:39] stevekuznetsov commented on #11617
Isn't a pod running timeout #7152

[2019-03-05 22:40] stevekuznetsov commented on #11619
It would be good to look at the logs from `jenkins-operator`

[2019-03-05 22:40] cjwagner commented on #11617
Just to be clear, `pending` has real significance here, it does not refer to any pod that hasn't completed yet like running pods (that is what the running state is for). Pending specifically refers to pods with `State: pending`.

[2019-03-05 22:40] stevekuznetsov commented on #11619
You need to make sure to expose all the parameters to the job so that Prow can set them -- if Prow can't set the build ID it can't find the job to link to a ProwJob after

[2019-03-05 22:41] krzyzacy commented on #11617
hummmm I guess the podutil timeout didn't work...

[2019-03-05 22:42] cjwagner commented on #11617
Sounds like there was some confusion over vocabulary on our end and none of these pods are actually in the pending state. Can you confirm this @krzyzacy or @amwat ?

[2019-03-05 22:44] krzyzacy commented on #11617
@cjwagner we want to deal with two problems here actually:
1. pod stucks in pending but not get deleted (there are both ImagePullBackOff and Init)
2. pod stucks in running but not get deleted (which I probably want to add some logic)

[2019-03-05 22:56] stevekuznetsov commented on #11617
@krzyzacy instead of showing the `kubectl` can you paste `kubectl describe` output please? I don't have access...

[2019-03-05 22:56] stevekuznetsov commented on #11617
You said on the call that you saw the entrypoint timeout fire and kill the process, but the pod did not exit? can you please post `kubectl describe`? What is happening? Is the `sidecar` still running?

[2019-03-05 22:57] stevekuznetsov commented on #11617
Let's literally put the Pod YAML or `describe` output here so we can be very specific about what the pods are doing

[2019-03-05 22:57] cjwagner commented on #11617
I just checked one of the pods stuck in ImagePullBackOff and its corresponding PJ. The PJ has been marked as errored, but the pod is still pending. Plank should try to delete the pod here: https://github.com/kubernetes/test-infra/blob/4a2426fc38ba45bacc40c5b49724114e8272b529/prow/plank/controller.go#L427
But clearly the pod wasn't deleted and I don't see the error logged.

[2019-03-05 22:59] stevekuznetsov opened #11640 "git client: log output contains password"
When we log errors or warnings from the Git client and post the URL, we end up with the username and token of the bot in basic auth form in the url, in plain text

/cc @cjwagner @fejta

[2019-03-05 22:59] cjwagner commented on #11617
Here is one of the pending pods.
Lets handle the separate problem with running pods not timing out in a separate issue? Do we have any reason to believe these problems are related?
[code]

[2019-03-05 23:00] krzyzacy commented on #11617
I bet that's just because we didn't push a podutil image when we bump prow... /shrug

[2019-03-05 23:00] stevekuznetsov commented on #11617
Reading the `plank` code, it should notice the Pod is `pending` in every loop and try to delete, right?

[2019-03-05 23:01] stevekuznetsov commented on #11617
@cjwagner yes let's make a separate issue for pod utilities not timing out -- @krzyzacy do you have an example of that

[2019-03-05 23:04] cjwagner commented on #11617
Yeah thats what I was pointing out here: https://github.com/kubernetes/test-infra/issues/11617#issuecomment-469893078
I don't see any logs in the past week with "unknown cluster alias" or "failed to delete pod" though. So I'm not sure what is going on.

[2019-03-05 23:05] krzyzacy commented on #11617
@stevekuznetsov ehhhh I killed the only podutil pod... the other hanging ones are all bootstrap ones... I'll open a new issue when I see it again

[2019-03-05 23:05] stevekuznetsov commented on #11617
Any logs for `"error listing pods"`?

[2019-03-05 23:06] cjwagner commented on #11617
Here is the yaml for the associated PJ:
[code]

[2019-03-05 23:07] cjwagner commented on #11617
Nope.

[2019-03-05 23:09] krzyzacy commented on #11617
hummmm I guess just because `v20190301-2d35634` doesn't have that logic yet

[2019-03-05 23:23] spiffxp commented on #11628
What I get from the above is that we should let people know that:
- we are hitting github abuse detection for Reasons (TM)
- everything is operating as best as it can
- the tide context may not be present or up to date

My total guess, is that I can also tell people:
- https://prow.k8s.io/pr dashboard can be used to see the status of your PR (including what tide is doing with it)

[2019-03-05 23:28] spiffxp commented on #10646
So we have https://prow.k8s.io/tide-history, I'm curious what if anything re "validated in prod" before we can move on the rest

[2019-03-05 23:44] ibzib commented on #11549
Re timestamps: I originally intended to show a tool tip with the date/time/commit message when hovering over commit hashes. I never figured out how to do that due to Github rate limiting.

[2019-03-05 23:47] midnightconman commented on #11619
Got this to work... you totally called the missing `BUILD_ID` parameter.

I would still like to be able to override this static endpoint, possibly to a different repo / org / etc. I opened this issue with a different idea in mind, but I still think this would be a good feature.

Thoughts?

[2019-03-05 23:53] krzyzacy commented on #11631
(We'll improve the termination logic :-) but closing this as the job is recovered)

[2019-03-05 23:54] cjwagner commented on #10646
I want to enable and validate the GCS persistence, and make the page discoverable by adding links. Once that is done we can publicize it, but I think we need to have persistence and a link from Deck's side bar before we suggest that anyone uses or relies on the page.

[2019-03-05 23:55] ibzib opened #11643 "spyglass: build log is cut off at the bottom"
**What happened**:
When I view a job that is still in progress in Spyglass and expand the build log, the bottom of the log sometimes gets cut off.
![screenshot from 2019-03-05 15-55-03](https://user-images.githubusercontent.com/16039734/53845736-151a5100-3f5f-11e9-8f7d-74de48b53c7b.png)

/cc @Katharine

[2019-03-06 00:17] Katharine commented on #11643
Fixed by #11609 (but not deployed yet).

[2019-03-06 01:11] stevekuznetsov commented on #11617
Ok, no real issue then :)
/close

[2019-03-06 01:11] #11617 closed

[2019-03-06 01:43] jberkus commented on #11555
@mariantalla @spiffxp @tpepper how can we move ahead on this?  I really don't like going into code freeze with the same mess of noncompliant tests we had in 1.13.

[2019-03-06 02:15] spiffxp commented on #11628
Notified [kubernetes-dev@](https://groups.google.com/d/msg/kubernetes-dev/HXJAXNOGqrg/RMGDTaFJAwAJ)

[2019-03-06 03:23] nikopen commented on #11611
I can more easily write a Github Action that does the above, and is commissioned/decommisioned/changed at every Code Freeze. Will Actions be soon available for k/k ?

[2019-03-06 05:04] krzyzacy commented on #11617
Note that we still need to clean up these old stale pending pods as a one-off shot until we deploy the new change... will take a stab tomorrow

[2019-03-06 12:00] natasab opened #11649 "Prow issue: Link to a folder does not validate properly, build failed"
The link to the folder "archive" was identified as invalid as the build expects a file, according to the message.

See https://status.build.kyma-project.io/view/gcs/kyma-prow-logs/pr-logs/pull/kyma-project_community/231/pre-master-community-governance/1103246922614837249

[2019-03-06 16:42] BenTheElder commented on #11633
you can round the duration before formatting

[2019-03-06 16:42] BenTheElder commented on #11633
https://golang.org/pkg/time/#Duration.Round

[2019-03-06 16:46] Katharine commented on #11633
I distinctly recall actually doing this, too, so I'm not sure why we're back to providing nanosecond resolution.

I am not a fan of the "1h23m7s" display either, though.

/pony shrug

[2019-03-06 17:28] natasab commented on #11649
Sorry, seems i created an issue in wrong repository.

[2019-03-06 17:28] #11649 closed

[2019-03-06 18:46] stevekuznetsov commented on #11633
We could just always show nanoseconds from the epoch ;)

[2019-03-06 19:44] stevekuznetsov commented on #11611
I would rather not see that behavior as a GitHub Action. If we have Prow, we do not need those and fragmenting the ecosystem would do more harm than good I think

[2019-03-06 23:04] fejta opened #11660 "sinker failing to list jobs"
/assign @krzyzacy

[code]

Possible changes: ref https://github.com/kubernetes/test-infra/pull/11625

[2019-03-06 23:04] fejta commented on #11660
/area prow/sinker

[2019-03-06 23:07] fejta commented on #11660
I suspect this has something to do with https://github.com/kubernetes/test-infra/pull/11547

[2019-03-06 23:12] stevekuznetsov commented on #11660
This is a GET, not a LIST, and it definitely looks like the client is being pointed at a cluster without the ProwJob installed (maybe the default build cluster?)

[2019-03-06 23:58] krzyzacy commented on #11660
hummm why it's only affecting sinker? because sinker is using the new client?

/unassign
/assign @stevekuznetsov @ccojocar

[2019-03-07 00:18] fejta commented on #11660
The issue here is that we're conflating two things:
* The context where prowjobs live
* The default contexts for resources created by prowjobs (pods, builds, etc).

The ProwJob context is:
* "" when running in cluster
* Otherwise the --kubeconfig's current context

The default context for resources is the "default" context

[2019-03-07 00:47] stevekuznetsov commented on #11660
So I have no idea where on earth the re-reverting is or whatever but as discussed in the past the current implementation is:

 - pass nothing, use the in-cluster context for the service cluster and the build cluster
 - pass a kubeconfig, use the default context for the service cluster and all others as build clusters
 - pass a specific infra context and a kubeconfig: use that context as the servic

[2019-03-07 00:52] stevekuznetsov commented on #11660
If you had not reverted the client changes, the fix that merged would not have been necessary, either, for the `build` controller:

https://github.com/kubernetes/test-infra/blob/fb29628c016b10ecb981250be898d9130e488416/prow/flagutil/kubernetes_cluster_clients.go#L179-L185

[2019-03-07 00:53] stevekuznetsov commented on #11660
This is where we default to use the default _context_ for the infra cluster, if no specific _context_ was given

[2019-03-07 00:55] stevekuznetsov commented on #11660
Aaand that's the bug ... that change makes the default _context_ the default _alias_:

https://github.com/kubernetes/test-infra/blob/fb29628c016b10ecb981250be898d9130e488416/prow/kube/config.go#L45

[2019-03-07 00:58] stevekuznetsov commented on #11660
So. Fixes:

1. [revert](https://github.com/kubernetes/test-infra/pull/11663) the change
2. re-revert the client changes
3. everything works correctly

[2019-03-07 00:59] stevekuznetsov commented on #11660
We could perhaps also make a different fix that adds both the _alias_ and the _context_ to the mapping (which for all the above reasons is not a good idea) but _not_ change the default _context_ to be the default _alias_, then we would not need to do the re-revert. However, I don't see why we should not re-revert immediately.

[2019-03-07 01:06] fejta commented on #11660
The core problem is with the client refactor. If we want to revert, that is what we should revert.

Historically there were two valid scenarios:
1) Prow runs without --build-cluster and everything happens in cluster
2) Prow uses a --build-cluster flag, prowjobs are in cluster and everything else happens in the default context.

This refactor introduced a bunch of new behavior, such as:
* no longer

[2019-03-07 01:07] stevekuznetsov commented on #10317
I think this is fixed after the refactor
/close

[2019-03-07 01:07] #10317 closed

[2019-03-07 05:39] fejta commented on #11660
Alias and context are the same thing. Trying to think otherwise is a recipe for disaster.

[2019-03-07 06:10] stevekuznetsov commented on #11660
Then we need a separate means of loading clients for things that don't touch build clusters. In any case, `sinker` is fine and this issue is closed...

/close

[2019-03-07 06:10] #11660 closed

[2019-03-07 10:44] matthyx commented on #11517
@cjwagner @fejta?

[2019-03-07 11:27] rupeshrams opened #11669 "Prow issue:Port 8181 is already in use. Please check the flag --default-server-port"
Port 8181 is already in use. Please check the flag --default-server-port

maas-ingress pod CrashLoopBackOff when check the logs getting the port 8181 port is already in use. nginx is using this port .How to resolve this issue, do we have option to change the default port numbers.

[2019-03-07 17:22] stevekuznetsov commented on #11669
@rupeshrams could you please give more information on where you are seeing this issue? Are you seeing this when deploying Prow? When running a job? Can you link to the output?

[2019-03-07 17:22] stevekuznetsov commented on #11669
/cc @BenTheElder @cjwagner @krzyzacy

[2019-03-07 18:26] krzyzacy commented on #11669
I don't see prow deployments use port 8181 explicitly? (at least not from the code base?)

[2019-03-07 18:38] fejta opened #11676 "strconv.Atoi error on deck PR history page"
/assign @cjwagner @Katharine

[code]

[2019-03-07 18:45] fejta opened #11677 "Deck does not log which build has invalid junit xml"
a) this should probably not be an error, I'd vote for warning or info
b) debugging this is hard because I do not know which build this refers to

/assign @Katharine

[code]

[2019-03-07 18:54] stevekuznetsov commented on #11676
We should make sure that `deck` does not log these sort of things? At least not an error level?

[2019-03-07 18:55] krzyzacy commented on #11594
[code]

with last few fixes it should be fine for now - we still need to figure out how to we bump/workaround that limit since we are (inevitably) going to have more and more jobs.

[2019-03-07 19:07] stevekuznetsov commented on #11669
Yeah I think this is something in an e2e somewhere?

/shrug

[2019-03-07 19:11] #11529 closed

[2019-03-07 19:13] krzyzacy commented on #11388
checked https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/75124/pull-kubernetes-kubemark-e2e-gce-big/40753/build-log.txt doesn't have the empty ginkgo call anymore

[2019-03-07 19:13] #11388 closed

[2019-03-07 19:14] krzyzacy commented on #11518
did #11521 fix this?

[2019-03-07 19:30] stevekuznetsov opened #11679 "Tracking Issue: Prow HEAD and stability"
Following #11430 we have a couple items to clean up. We need to re-revert the changes that were reverted and make sure that the system remains stable. The working theory was that the reverted changes caused excessive CPU and memory usage, so we need to add instrumentation to track that and determine if it is true.

The best deployment to do testing on is `deck` as it's replicated and degraded perf

[2019-03-07 19:48] cjwagner commented on #11517
I don't understand the benefit of getting rid of `omitempty`. It makes serialized config much easier to read. What is the downside of using it? Steve says `omitempty` works well without pointers: https://github.com/kubernetes/test-infra/pull/11538#issuecomment-468029644

[2019-03-07 20:02] fejta commented on #11679
This needs https://github.com/kubernetes/test-infra/pull/11667 as well

[2019-03-07 20:17] stevekuznetsov commented on #11679
If you merge #11667 then you will need to own the re-reverts as they will be more involved

[2019-03-07 20:40] stevekuznetsov commented on #10383
/remove-lifecycle stale

@cjwagner I guess we've seen this for repos with OWNERS files?

[2019-03-07 21:29] matthyx commented on #11517
Alright then we keep things that way until I am done with #9757

[2019-03-07 21:29] #11517 closed

[2019-03-07 21:56] krzysied commented on #11518
Yes, it did.

[2019-03-07 21:57] krzyzacy commented on #11518
thanks ^^
/close

[2019-03-07 21:57] #11518 closed

[2019-03-08 00:04] zacharysarah opened #11687 "Enable /milestone for k/website"
## What should be cleaned up or changed

Heya! 👋 It would be nice to enable `/milestone` commands for k/website.

## Provide any links for context

Here's an [example](https://github.com/kubernetes/website/pull/13004#issuecomment-470148896) of someone trying (and failing) to assign a `/milestone`.

/area prow
/sig docs
/priority important-soon

[2019-03-08 00:16] #11677 closed

[2019-03-08 00:52] cjwagner commented on #11676
Please :pray:  Currently the first thing I do when I look at the Prow logs is hide everything from `deck` because spyglass produces so much inactionable error spam. I was going to change the log level, but @Katharine says these are legitimate errors: https://github.com/kubernetes/test-infra/issues/9840#issuecomment-465724494

[2019-03-08 01:04] Katharine opened #11690 "Deck no longer runs a server on port 8080 (locally)"
As of #11659, Deck no longer runs an HTTP server on port 8080, and so serves no content. It does however serve /statusz (but nothing else) on port 8081.

As of #11682, Deck also no longer runs an HTTP server on port 8081. It does however serve pprof debug info (but nothing else) on port 8082.

Some quick testing suggests that only the first call to `http.ListenAndServe` works, and subsequent ones

[2019-03-08 01:13] cjwagner commented on #10383
/shrug
If you see this again post some details and I'll debug.

[2019-03-08 01:37] stevekuznetsov commented on #11690
That's weird, I was pretty certain that using a goroutine per port was the accepted way to do this>

[2019-03-08 02:06] stevekuznetsov commented on #10388
/remove-lifecycle stale

An option to do a shallow clone would be great

/help

[2019-03-08 02:22] stevekuznetsov commented on #10383
/shrug

[2019-03-08 02:23] #11690 closed

[2019-03-08 08:49] johscheuer opened #11694 "Requirement for gsutil to fetch version"
**What should be cleaned up or changed**:
I wanted to ask if there is any reason to use `gsutil` instead of a raw golang `http.Get()` to fetch the Kubernetes version information. I'm talking about this part: https://github.com/kubernetes/test-infra/blob/master/kubetest/extract_k8s.go#L449. I would prefer to use a direct http call instead of `gsuti`l since I don't see any benefit here (feel free to

[2019-03-08 08:53] johscheuer commented on #11694
/assign johscheuer

[2019-03-08 09:15] mm4tt commented on #11594
I think it's happening again
![qemxvmsjcm8](https://user-images.githubusercontent.com/2604887/54019265-0ca65e00-418b-11e9-88f9-8167de43bddb.png)

Last time it also started around Friday, is it possible that we have run more prow jobs over weekend?

[2019-03-08 10:58] rupeshrams commented on #11669
the following setup tried and post setup facing CrashLoopBackOff for some of the pods

https://github.com/openstack/airship-in-a-bottle
1/2       CrashLoopBackOff   281        23h

below are the logs for maas-ingress-xxxx pods

I0308 10:51:44.690259       9 flags.go:180] Watching for Ingress class: maas-ingress
W0308 10:51:44.690334       9 flags.go:183] Only Ingresses with class "maas-ingress" wi

[2019-03-08 14:04] nzoueidi commented on #9628
is this being looking into? otherwise I may want to take it :)

[2019-03-08 15:01] mm4tt commented on #11594
I'm almost 100% sure It's happening again
![mzcsqiyqykf](https://user-images.githubusercontent.com/2604887/54036177-39726980-41bb-11e9-9aa8-7bed1b4b92c1.png)

@krzyzacy, could you double check?

/priority critical-urgent

[2019-03-08 16:26] stevekuznetsov commented on #9628
Go ahead and take it!

[2019-03-08 16:30] stevekuznetsov commented on #11669
I think you might be writing an issue in the wrong project, we do not manage anything named `maas-ingress` or `airship-in-a-bottle`

[2019-03-08 16:46] anwaradil commented on #9628
Yes take it :)

[2019-03-08 18:22] krzyzacy commented on #11594
/shrug... plausibly code freeze is coming and we were having heavier testing loads yesterday... let me verify that's still the same issue

[2019-03-08 19:08] nzoueidi commented on #9628
/lifecycle active

[2019-03-08 19:14] stevekuznetsov commented on #11594
@krzyzacy y'all might want a pager to go off when you get close ;)

[2019-03-08 19:27] stevekuznetsov commented on #9757
I think it's not so much `deck`, `plank` etc that need to be changed -- it's wherever we currently already have a per-repo configuration exposed. Most of the plugins (but not all) do this. I'm not opposed to doing this generically for everything but that seems like a huge change.

@cjwagner

[2019-03-08 20:24] BenTheElder opened #11703 "prow fails to update job configmap due to length limit"
**What happened**: Prow's config-updater plugin failed due to the job configmap being too large

[code]

**What you expected to happen**: The config updater should not fail so we can update job configs

**How to reproduce it (as minimally and precisely as possible)**: have a giant job config and merge a PR that updates the cnofig

**Please provide links to example occurrences, if any**: PR that tr

[2019-03-08 20:35] BenTheElder commented on #11703
some options:
- shard the configmap and have prow deployments mount multiple job config maps
- gzip the job configs
- drop comments / convert to equivalent JSON for denser encoding
- stop using a configmap entirely in favor of something else

[2019-03-08 21:04] BenTheElder commented on #11703
converting to JSON on upload would be a pretty huge win:
[code]

[2019-03-08 21:32] stevekuznetsov commented on #11703
You could shard by branch or job type or repo or org...

See how we shard our config: https://github.com/openshift/release/blob/8363c34b9933916b093960067a6f66788e2086d5/cluster/ci/config/prow/plugins.yaml#L592-L613

[2019-03-08 21:33] stevekuznetsov commented on #11703
That would require changing the mounts, though:

https://github.com/openshift/release/blob/8363c34b9933916b093960067a6f66788e2086d5/cluster/ci/config/prow/openshift/hook.yaml#L103-L114

https://github.com/openshift/release/blob/8363c34b9933916b093960067a6f66788e2086d5/cluster/ci/config/prow/openshift/hook.yaml#L78-L89

[2019-03-08 21:35] stevekuznetsov commented on #11703
(I also have a presubmit job on my config repo that ensures that every file under config/ matches at least one shard, since there is no way to have a negative glob)

[2019-03-08 21:38] stevekuznetsov commented on #11703
Shard validator tool is specific to our config but pretty simple: https://github.com/openshift/ci-operator-prowgen/blob/master/cmd/config-shard-validator/main.go

[2019-03-08 21:47] krzyzacy commented on #11594
/assign

[2019-03-08 22:49] cjwagner commented on #9757
Yeah, this pattern only makes sense for things that have repo specific configuration so lets only use it in those cases.

[2019-03-08 23:44] BenTheElder commented on #11703
circling back on this:

We should be OK for a brief while now after making the generated jobs denser (json), we dropped about 48k from the configmap

Sharding is a good answer to look at going forward, but we'll have to identify a good way to shard:
[code]

[2019-03-09 00:01] stevekuznetsov commented on #11703
In OpenShift we enforce that jobs are in files that match `org-repo-branch-jobtype.yaml` -- you could do something similar, allowing for custom suffixes or whatever to keep current naming the same. If you do that and enforce it in a presubmit you can shard simply, on job type, branch, whatever

[2019-03-09 00:45] #9749 closed

[2019-03-09 01:02] neolit123 commented on #11703
just throwing this out there:

[code]
ratio is 14:1.

[2019-03-09 02:35] stevekuznetsov commented on #11703
`gzip` was considered at length by @cjwagner and I but it's complicated -- we need to `gzip` on the input in the plugin as well as on the output by every config loader. Sharding it requires 0 code change and works great. That's what we chose for simplicity and I don't really see why y'all can't, either :)

[2019-03-09 03:20] stevekuznetsov commented on #11679
We're ready to gather CPU/mem data from `deck`

[2019-03-09 05:23] #11619 closed

[2019-03-09 16:12] BenTheElder commented on #11703
There is only one config loading code path across the components. Your shard checker and file name enforcement each require more code than optional gzip support would require... gzip is rather simple to add.

Some concerned API machinery folks saw this bug and spoke with me about this, gzip was one of their first suggestions (as was JSON), it's a pretty obvious choice given how trivially compressi

[2019-03-11 08:51] #11669 closed

[2019-03-11 11:06] nikopen commented on #11340
/close

[2019-03-11 11:06] #11340 closed

[2019-03-11 13:44] #9778 closed

[2019-03-11 16:15] cjwagner commented on #11703
I don't recall discussing this at length and I'm definitely for it if we can make it work more easily. I was favoring config sharding as a temporary mitigation that didn't require additional code, but if validation requires extra code then that isn't really a selling point.
One concern mentioned was that incremental updates might be harder if the config is gzipped, but I'm not sure thats true?

@s

[2019-03-11 16:33] stevekuznetsov commented on #11703
Yeah I thought the downsides to gzip were:

1. only delays the problem, does not solve it
2. required code where sharding did not (but without negative globs you may want validation, which needs code)
3. did not support incremental updates

If those are all not blockers, gzip seems ok

[2019-03-11 16:38] BenTheElder commented on #11703
1. Delaying by a 13x reduction is a pretty significant delay. If we surpass ~ 14.6MB of uncompressed config we need to either rethink the config format or shard the cluster itself.

2. Fair, shouldn't be much.

3. Not sure what you mean, do you mean apply to the key contents? We don't do that currently IIRC. If we gzip the files -> keys in configmaps it should be fine for updates.

[2019-03-11 16:47] stevekuznetsov commented on #11703
Yeah, agreed that if the config balloons more than 14x it would be a good time to think about what on earth we're doing lol.

I think the no-more-code-added-to-Prow was a strong reason for when we chose sharding, it was just the simplest thing.

If we GZIP each file individually we'd not get the full 14x compression though, so I don't think we need that.

If we implement an opt-in gzipping on the

[2019-03-11 20:42] midnightconman opened #11727 "BranchProtector Should Use ConfigAgent"
**What should be cleaned up or changed**:
Branchprotector should use prow configAgent instead of `*config.Config`. This will make branchprotector use the same mechanisms hook, deck, etc. use.

**Provide any links for context**:
- https://github.com/kubernetes/test-infra/blob/master/prow/cmd/branchprotector/protect.go#L96
- https://github.com/kubernetes/test-infra/blob/master/prow/cmd/branchprotect

[2019-03-11 21:29] fejta opened #11728 "Set --config-path on all deployments"
Right now we default this value to "/etc/config/config.yaml", which feels too much like magic, only working when you create the right configmaps and mount them in the right place.

[2019-03-11 21:29] fejta commented on #11728
/area prwo

[2019-03-11 21:30] stevekuznetsov commented on #11727
`branchprotector` runs once to completion and is not a daemon, so it does not re-load config.

[2019-03-11 21:30] stevekuznetsov commented on #11727
The loading, etc, all uses the same library underneath

[2019-03-11 21:32] fejta commented on #11728
/help

This involves adding --config-path flag to deployments that use it https://github.com/kubernetes/test-infra/tree/master/prow/cluster

Then once that is deployed everywhere, setting the default value to ""

[2019-03-11 21:51] midnightconman commented on #11727
Having a different mechanism for jobs and services makes sense. Wouldn't it be nice to have one mechanism though? This way we wouldn't have to have different config declarations, depending on application type.

[2019-03-11 21:57] midnightconman commented on #11727
Is there a generic config type that will accept `*config.Getter` and `*config.Config`?

[2019-03-11 22:24] krzyzacy opened #11729 "New Prow Deployment: Missing default decorate configs"
When following https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md

The jobs referenced in https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#add-more-jobs-by-modifying-configyaml is using `decorate:true` but we didn't have a section about decorate configs? (afaik https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#

[2019-03-11 22:43] amwat opened #11730 "Consolidate experimental scripts for test-infra automation"
**What should be cleaned up or changed**:
Currently we need to run multiple scripts to in order to create/update new jobs during the k8s release, e.g. https://github.com/kubernetes/test-infra/pull/11370
As part of our test-infra automation plan https://github.com/kubernetes/test-infra/issues/10106 it would be great if we could combine those to be run from a single entrypoint.

**Provide any links

[2019-03-11 22:47] midnightconman opened #11731 "Move Config Flags To A FlagSet"
**What should be cleaned up or changed**:
It would be nice to move configuration flags to a flagset, like the `github` and `kubernetes` flagsets. This would allow applications to use a consistent mechanism for loading config related flags.

Like the following flags:
[code]

**Provide any links for context**:
- https://github.com/kubernetes/test-infra/blob/master/prow/flagutil/github.go
- https://g

[2019-03-11 22:50] stevekuznetsov commented on #11731
Some WIP work for that here, abandoned https://github.com/kubernetes/test-infra/pull/9701

[2019-03-11 22:51] stevekuznetsov commented on #11730
Write them in Go and load config first-class :)

[2019-03-11 22:53] stevekuznetsov commented on #11727
We do -- the `config.Load` is the underlying mechanism they both share, the agent just makes that poll for changes to the file and reloadsi t

[2019-03-11 22:54] stevekuznetsov commented on #11728
Totally agree -- all defaults should be made explicit -- it helps a lot when someone changes the YAML

[2019-03-11 22:55] stevekuznetsov commented on #11728
You'd need to make a migration period for the default though :)

[2019-03-11 23:21] BenTheElder commented on #11703
gzip has no concept of files, just a stream of data, so we'd need to convert them a document stream and support reading that or tar the files then gzip.

The code for individual file gzip read/write is simpler even if we lose a little to extra gzip headers. It also allows us to incrementally migrate keys in place.

[2019-03-11 23:24] stevekuznetsov commented on #11703
Err I meant we would get more compression from doing the entire blob of data at once instead of compressing each key individually? But yes, we could do that as well if we need to do incremental updates

[2019-03-12 00:49] cjwagner commented on #11729
Yeah we recently added a mention to this setup requirement in the [pod utility documentation](https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md#how-to-configure), but we also need to something similar for `getting_started_deploy.md`.

[2019-03-12 19:20] BenTheElder commented on #9343
/assign @amwat
to investigate this and/or close it

[2019-03-12 19:29] midnightconman opened #11737 "Build Should Use Flagutils"
**What should be cleaned up or changed**:
`prow/cmd/build` should use flagutils and flagsets, so we can easily update shared flags.

**Provide any links for context**:
- https://github.com/kubernetes/test-infra/blob/master/prow/cmd/build/main.go#L69
- https://github.com/kubernetes/test-infra/blob/master/prow/cmd/branchprotector/protect.go#L61

/area prow/knative-build

[2019-03-12 19:31] midnightconman commented on #11731
/assign

[2019-03-12 19:53] BenTheElder opened #11739 "smarter log highlighting in deck"
**What would you like to be added**: It would be great if the log highlighter in deck / spyglass knew about some of the poor logging behavior in Kubernetes testing and avoided flagging relatively useless information, E.G. see:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/74394/pull-kubernetes-e2e-gce/72448/

**Why is this needed**: To make identifying causes of failed test jobs ea

[2019-03-12 19:55] BenTheElder commented on #11739
A suggestion from @Katharine:
- excessively long lines should not get highlighted

In general we could probably have a variant of the log renderer specifically for Kubernetes that handled our less-generic quirks, E.G. the ginkgo SUCCESS/FAILURE line would be nice to highlight.

A suggestion from me:
- I will PR the pod nanny which appears to be causing this blob to be highlighted because it spits

[2019-03-12 19:56] BenTheElder commented on #11739
/assign @Katharine

cc @stevekuznetsov @cjwagner

[2019-03-12 20:11] stevekuznetsov commented on #11679
Deck client re-revert went smoothly

[2019-03-12 20:31] stevekuznetsov commented on #11739
FWIW right now `buildlog.highlightLines` accounts for ~25% of CPU utilization by `deck`

[2019-03-12 20:32] stevekuznetsov commented on #11739
I agree we should be smarter and IMO we should build in a number of different highlighters in Go, originally the thought was some metaprogramming or something via config but that has the potential to be less efficient

[2019-03-12 20:39] stevekuznetsov commented on #11737
/cc @fejta
/help

[2019-03-12 23:14] amwat commented on #9343
Bazel looks for `.bazelrc` in other locations as well: https://docs.bazel.build/versions/master/guide.html#bazelrc

I would say, unless we want to natively support this complete ordering, it's fine to expect users to mount a specific `.bazelrc` and pass it as `--bazelrc`.

[2019-03-12 23:25] #9343 closed

[2019-03-13 00:25] BenTheElder commented on #11739
+1 for that

also xref:
- https://github.com/kubernetes/kubernetes/pull/66515/files#r264935489
- https://github.com/kubernetes/autoscaler/issues/1786
- https://github.com/kubernetes/test-infra/pull/11740

[2019-03-13 02:52] stevekuznetsov opened #11746 "tide: very spammy errors with full query embedded"
Right now after a redeploy...

[code]

We should emit less noise

[2019-03-13 02:53] stevekuznetsov commented on #11746
/area prow/tide
/assign @fejta

[2019-03-13 12:29] matthyx commented on #8838
@tallclair currently the verify-owners only checks the format of the file, not the meaning of it...
@cjwagner @stevekuznetsov does it make sense to check that here?

[2019-03-13 14:49] mariantalla commented on #11555
Hey, picking this up again (with the intention to make it for 1.14, but failing that let's try to have a way forward for 1.15)

I wonder if we can decouple the two; first, bring 1.14 to match master and then create a workflow for future releases.

I'm a bit worried about:

@krzyzacy , if I got that right, does that mean that changing the 1.14 dashboards might affect 1.13 dashboards? If yes, in wha

[2019-03-13 17:38] BenTheElder opened #11753 "mkpj outputs noisy warning(s)"
**What happened**: mkpj gives a warning when using it without a github token
[code]

**What you expected to happen**: mkpj should only print out the prowjob for piping to another tool.

**How to reproduce it (as minimally and precisely as possible)**: use mkpj

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/area prow

[2019-03-13 17:41] krzyzacy commented on #11555
Not right now. But when we create 1.15 branch jobs, we are not doing that by deleting 1.11 and creating 1.15, we remap the dashboard from 1.11 -> 1.12, 1.12 -> 1.13, 1.13 -> 1.14, 1.14 -> 1.15

Feel free to do that for 1.14 for now, we can bikeshed older dashboards before 1.15 happens.

that script bumps the image used in the job, which has nothing to do with testgrid :-)

[2019-03-13 17:43] #10514 closed

[2019-03-13 18:18] BenTheElder commented on #11753
passing /dev/null is a work around.

[2019-03-13 18:36] stevekuznetsov commented on #11753
I thought that the logging went to `stderr`?

[2019-03-13 18:47] BenTheElder commented on #11753
even if it does, why are we creating a github client at all? I wouldn't expect kicking of a CI job to involve API calls

[2019-03-13 18:53] MrHohn commented on #9555
[NodeLocal DNS Cache](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0030-nodelocal-dns-cache.md) might help with this as well :)
cc @prameshj

[2019-03-13 18:56] stevekuznetsov commented on #11753
It is very useful to fill out `refs` not manually. I personally prefer using `git ls-remote` but the author and other reviewers wanted to do it this way ...

[2019-03-13 19:31] midnightconman commented on #11737
This should be fixed with: #11758

If nothing better comes along.

[2019-03-13 19:40] midnightconman commented on #11727
Thank you, it's working. Closing this issue.

[2019-03-13 19:40] #11727 closed

[2019-03-13 19:57] BenTheElder commented on #11753
Makes sense. Will try to look soon and see if we can at least defer creating it if we don't need it.

Or perhaps a log level flag for mkpj

[2019-03-13 22:33] stevekuznetsov commented on #11753
All of those sound like good options to me

[2019-03-13 22:46] fejta opened #11763 "bazel test //... -- -//vendor/... has external dependencies"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-autoupdate-patch/2

[code]

[2019-03-13 22:52] fejta commented on #11763
My goal here is I want to be able to take a clean VM, install git and bazel, clone test infra and `bazel test //...` everything

[2019-03-13 22:58] krzyzacy commented on #11763
filter out all pytest? /shrug

[2019-03-13 23:29] stevekuznetsov commented on #11763
esp if we deprecate gubernator

[2019-03-13 23:42] taragu opened #11766 "Dummy Issue: Test Prow project plugin"
Testing https://github.com/kubernetes/test-infra/pull/10982

[2019-03-14 00:58] #11763 closed

[2019-03-14 04:16] fejta commented on #11763
OR we could, you know, write encapsulated tests rather than expecting the user to figure out how to fetch ten billion dependencies for different languages.

kettle isn't going away any time soon

[2019-03-14 04:38] krzyzacy commented on #11763
(rewrite kettle in go!)

[2019-03-14 07:21] xichengliudui opened #11777 "The pr I submitted was assigned to me again"
**What happened**:
https://github.com/kubernetes/website/pull/13178 the pr I submitted was assigned to me again.

**What you expected to happen**:
Two ways:
Personally, I think the second implementation is more reasonable.

* Robots should assign pr to reviews or owners other than me.
* like this https://github.com/kubernetes/kubernetes/pull/75354

**How to reproduce it (as minimally and precisely

[2019-03-14 08:59] fejta commented on #11777
You're an approver for the files you modified. Therefore you're the most appropriate person to /approve the change.

This is by design.

[2019-03-14 09:03] xichengliudui commented on #11777
https://github.com/kubernetes/website/pull/13178#issuecomment-472761153
Thank you for your reply，but I can't approve my own pr

[2019-03-14 10:51] #9767 closed

[2019-03-14 11:52] #9779 closed

[2019-03-14 11:52] #7650 closed

[2019-03-14 12:26] atakanyenel opened #11779 "Prow runs postsubmit jobs on branch that contain name of the target branch"
**What happened**:
we have a postsubmit job defined to `release` branch. To create new release, I created a branch called `release-0.1`, made a commit and created a PR to `release` branch. Prow took my commit to `release-0.1` branch as post submit and ran the job defined for the `release` branch.

**What you expected to happen**: I expected prow to run post-submit job only with exactly matching br

[2019-03-14 17:19] fejta commented on #11779
`^release$` will only match the release branch

[2019-03-14 17:26] Katharine commented on #11676
I fixed this particular one at some point.

/close

[2019-03-14 17:26] #11676 closed

[2019-03-14 17:56] stevekuznetsov opened #11782 "Split prow config from prow codebase"
We're getting close to being ready for the move. Items we know we need to accomplish is here:

 - [x] reconfigure config updater for prow.k8s.io https://github.com/kubernetes/test-infra/pull/11781
 - [x] move remaining config files to `config/` and run the `config-bootstrapper` in case any changed had landed in between  https://github.com/kubernetes/test-infra/pull/11784
 - [x] ensure all referenc

[2019-03-14 18:04] cjwagner commented on #8838
Yeah, if we fetch the list of organization members/collaborators we can validate the entries against it without too much API token cost.

[2019-03-14 18:24] stevekuznetsov commented on #11782
/assign

[2019-03-14 19:56] #11643 closed

[2019-03-14 21:55] davidz627 commented on #9485
/remove-lifecycle rotten

[2019-03-14 22:32] stevekuznetsov commented on #11679
Only `plank` re-reverts and re-deployment is left for this tracking issue.

[2019-03-14 22:49] stevekuznetsov commented on #11676
https://github.com/kubernetes/test-infra/pull/11684

[2019-03-14 22:50] stevekuznetsov commented on #11777
You can! Users may not `/lgtm` their own PRs, but _may_ approve their own work.

[2019-03-14 22:51] stevekuznetsov commented on #11777
It looks like you first posted `/approved` to the comment, which would not trigger the approval. Currently Prow does not update if you edit the comment, but if you try re-posting the comment it will work as you expect.

[2019-03-14 22:52] stevekuznetsov commented on #11777
@cjwagner do we get comment edit actions? Would it be hard to make those a `GenericCommentEvent`?

[2019-03-14 23:04] #8838 closed

[2019-03-14 23:08] cjwagner commented on #11777
Yes, we receive edit webhooks and they are already coerced into GenericCommentEvents. Here is the action coercion: https://github.com/kubernetes/test-infra/blob/ad4ecf6d6e497dd8071043beafbe938302cfe7a7/prow/hook/events.go#L352-L365

That being said, the vast majority of Prow plugins ignore edit events to avoid reacting multiple times to the same command as it isn't possible to determine what was c

[2019-03-15 01:07] xichengliudui commented on #11777
thank you.
/close

[2019-03-15 01:07] #11777 closed

[2019-03-15 04:51] fejta opened #11795 "bazel test //... -- -//vendor/... fails on mac"
- [ ] //kettle:stream_test, //kettle:make_json_test fails to import make_json
 - [ ] //jenkins:bootstrap_test, fails to raise SystemExit

[code]

[code]

[2019-03-15 06:09] #9804 closed

[2019-03-15 07:00] matthyx commented on #10553
Here too: https://github.com/kubernetes/test-infra/issues/8838#issuecomment-436075246

[2019-03-15 07:02] matthyx commented on #10541
@stevekuznetsov I think that one was solved by #10613 ?

[2019-03-15 07:03] matthyx commented on #10553
@nikhita are you working on that issue?

[2019-03-15 11:45] #11779 closed

[2019-03-15 16:45] #11795 closed

[2019-03-15 17:46] sebastienvas commented on #6144
I think it would be pretty useful to show branch for PR like we do for postsubmit. Filtering per branch is also very useful when wanting to know if a job is failing on multiple PRs.

[2019-03-15 18:15] krzyzacy commented on #11162
(this is currently deployed and should be functional, feel free to try out for gerrit users)

[2019-03-16 00:50] pjh commented on #11631
Either I'm crazy or this has happened again: today is 03-15, last run is https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/313 from 03-12 :(

https://testgrid.k8s.io/sig-windows#gce-windows-master

[2019-03-16 00:50] pjh commented on #11631
/reopen

[2019-03-16 00:58] krzyzacy commented on #11631
Heyyyyyy yeah it's indeed happening again!

/assign @stevekuznetsov

sample podutils not timing out properly:
[code]

Let me know anything else you are interested in, I'll try to keep the pod around.

[2019-03-16 01:19] #9358 closed

[2019-03-16 01:20] #8090 closed

[2019-03-16 01:21] BenTheElder commented on #10662
unlikely to get to this

[2019-03-16 01:21] #10662 closed

[2019-03-16 01:21] BenTheElder commented on #10230
shrug

[2019-03-16 01:21] #10230 closed

[2019-03-16 01:28] BenTheElder commented on #5962
see this thread: https://github.com/kubernetes/test-infra/pull/10802#discussion_r248715913

[2019-03-16 01:29] BenTheElder commented on #7713
we'll do kubetest2 instead

[2019-03-16 01:29] #7713 closed

[2019-03-16 01:29] BenTheElder commented on #5708
@amwat finished moving us off of this going forward I think

[2019-03-16 01:31] BenTheElder commented on #3083
this is basically done?

it might be rolled out more at some point, but the tooling is there and enabled for some repos at least.

[2019-03-16 01:32] BenTheElder commented on #3330
moving to kubetest2 instead

[2019-03-16 01:32] #3330 closed

[2019-03-16 01:33] BenTheElder commented on #10083
seems unlikely :|

[2019-03-16 01:33] #10083 closed

[2019-03-16 14:52] taragu commented on #11766
/project test-infra-dummy-testing-project-plugin

[2019-03-18 00:40] crimsonfaith91 commented on #11162
@krzyzacy I tried with `/retest` and `retest`, but none triggers re-running of pre-submit tests. Is there a document that I can refer to?

[2019-03-18 00:42] crimsonfaith91 commented on #11162
Oops, it should be `/test all` as we are merging GitHub and gerrit.
I verified that the command works!

[2019-03-18 00:42] crimsonfaith91 commented on #11162
/close

[2019-03-18 02:49] dims opened #11814 "pull-kubernetes-conformance-image-test gets stuck and does not report any results or artifacts"
Looking at history:
https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=presubmit&job=pull-kubernetes-conformance-image-test

I have been trying to run the test by hand as well:
https://github.com/kubernetes/kubernetes/pull/75349#issuecomment-473749868

[2019-03-18 02:49] dims commented on #11814
cc @brahmaroutu

/area conformance

[2019-03-18 08:01] cbuchacher opened #11815 "clonerefs: could not create/append to /root/.ssh/known_hosts"
**What happened**:

[code]

**What you expected to happen**:

Clonerefs processes SSHHostFingerprints configuration successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Note: This should be reproducible by replacing cbuchacher/testrepo with a public repo, and removing ssh_key_secrets (not ssh_host_fingerprints).

[code]

- config.yaml
[code]

**Please provide links to

[2019-03-18 16:58] yujuhong commented on #11631
@krzyzacy is it possible to trigger the job manually, or do we want to keep it in the current state for debugging? :-)

[2019-03-18 17:34] krzyzacy commented on #11162
@crimsonfaith91 it supports `/test all` and `/test job-foo` now. `/retest` is not implemented.

(Keep the issue open as the PR has not been merged yet)

[2019-03-18 17:38] krzyzacy commented on #11631
/shrug
I'll kill the pod see if it happens again

[2019-03-18 18:13] cjwagner commented on #5962
So we already (inadvertently) support triggering jobs based on tag changes by using a postsubmit job with a branch regexp matching `refs/tags/<tag-name>`?
That is an interesting find and a pleasant surprise. I think that means we can close this issue.

[2019-03-18 18:13] #5962 closed

[2019-03-18 18:34] MrHohn opened #11819 "Cleanup `[Unreleased]` tag from ingress jobs & tests"
**What should be cleaned up or changed**:
Remove `[Unreleased]` tag from ingress jobs and find a replacement.

**Provide any links for context**:
Ref https://github.com/kubernetes/kubernetes/issues/75186#issuecomment-474039815, we can introduce a new feature tag instead of inventing a new tag that need to be skipped by default.

/assign

[2019-03-18 21:26] spiffxp commented on #11819
/sig network
due to ingress

/sig testing
I feel like we should find some way to stop the introduction of arbitrary new (un-prefixed) tags, this was a surprise to me

[2019-03-18 21:26] spiffxp commented on #11819
/priority important-soon

[2019-03-18 23:39] ibzib commented on #5216
/unasssign
![homer-bushes](https://user-images.githubusercontent.com/16039734/54570609-633a4600-499c-11e9-830b-f1025bd8854a.gif)

[2019-03-18 23:39] ibzib commented on #5216
/unassign

[2019-03-19 14:12] nikhita commented on #11687
@zacharysarah You can create a team called `website-milestone-maintainers`, something like https://github.com/kubernetes/org/pull/624.

After that gets merged and the team is created, you can create a team like https://github.com/kubernetes/test-infra/pull/11829. The team should then be able to use the `/milestone` command. :)

[2019-03-19 18:08] stevekuznetsov commented on #5216
/remove-lifecycle stale

[2019-03-19 18:12] stevekuznetsov commented on #11815
/area prow/pod-utilities
/cc @cjwagner @fejta
/assign

[2019-03-19 21:09] stevekuznetsov commented on #11815
The issue here is that we configure the SSH keys with `ssh-agent` but use `$HOME/.ssh/known_hosts` for the fingerprints. We need to use an ephemeral configuration for the fingerprints, too, so we do not need to be in any specific part of the filesystem

[2019-03-19 21:13] zacharysarah commented on #11687
@nikhita Thanks! I think this looks like 3 PRs:

- Add a milestone team to k/website: https://github.com/kubernetes/website/pull/13287
- Add a milestone team to k/org: https://github.com/kubernetes/org/pull/628
- Add a team to k/test-infra: TBD

[2019-03-19 21:14] stevekuznetsov commented on #11815
Looks like you can configure the paths to look at with [`ssh-broker-config.xml`](https://www.ssh.com/manuals/client-user/62/serverauth-pk-knownhosts.html) but that doesn't solve our problem as that will not be a writable path either

[2019-03-19 21:15] stevekuznetsov commented on #11815
We may need to pass `-o UserKnownHostsFile` to the downstream `git` calls?

[2019-03-19 21:18] stevekuznetsov commented on #11815
/unassign
/assign @fejta
LMK if you would like me to do the impl, Erick, but I am not sure what you think would be the best way forward here

[2019-03-19 21:22] Huang-Wei commented on #5376
/remove-lifecycle stale

I do hope this can be implemented. Those "merged" commits (due to lack of proper rebasing) generated by authors looks pretty ugly.

[2019-03-20 02:51] nikhita commented on #11687
The first one isn't really needed but it can be a good place to point someone out if they want to apply for this team. :)

And...I realized I wrote the same thing twice in my comment (?!) :woman_facepalming:

[2019-03-20 06:31] cbuchacher commented on #11815
We could set the environment variable `GIT_SSH_COMMAND='ssh -o UserKnownHostsFile=/path/to/known_hosts'` if this is needed only for git commands.

[2019-03-20 12:35] OlegLoewen opened #11847 "upload_e2e.py TokenRevokeError"
**What happened**:
Invoking the upload_e2e.py is causing the following error, which hasn't occured in the past:
[code]

**What you expected to happen**:
In the past the upload was working fine. Looks like a regression issue.

**How to reproduce it (as minimally and precisely as possible)**:
Using google-cloud-sdk-226.0.0-linux-x86_64.tar.gz
Upload anything with `python2 ./test-infra/testgrid/confo

[2019-03-20 15:23] mariantalla commented on #11555
I've just started (`started` being the keyword) work in https://github.com/kubernetes/test-infra/pull/11849 for 1.14 in specific. I think it will be a good exercise to do once manually and then consider automating for v1.15 onwards.

Other things on my list:
* Open issue for future non-master dashboards to match master dashboards (depending on how https://github.com/kubernetes/test-infra/pull/1184

[2019-03-20 15:29] stevekuznetsov commented on #11815
Love that idea!

[2019-03-20 15:39] neolit123 opened #11850 "GCE/GCP job presets use deprecated GV "admissionregistration.k8s.io/v1alpha1""
in the release 1.14 change log we have:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md

GCE jobs such as `pull-kubernetes-e2e-gce` still use:
`admissionregistration.k8s.io/v1alpha1`

https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml#L209

all jobs that use this GCE/GCP preset will pass `admissionregistration.k8s.io/v

[2019-03-20 15:39] neolit123 commented on #11850
/priority critical-urgent

[2019-03-20 15:41] spiffxp commented on #11850
https://github.com/kubernetes/test-infra/pull/10795 was apparently supposed to catch this, looking...

[2019-03-20 15:45] liggitt commented on #11850
looks like https://github.com/kubernetes/test-infra/commit/b68f001e50aeed9e2203c658e1a9a5e81a6d9ff1#diff-c8e02b4dec1c4ef0c36b616538d00bb6 just copied 1.13-level job config into 1.14, instead of using the current master config that was fixed in https://github.com/kubernetes/test-infra/pull/10795

[2019-03-20 16:09] #11850 closed

[2019-03-20 16:09] spiffxp commented on #11555
Not just testgrid configs, also job configs, we just bumped into an error with 1.13->1.14 missing a change in master (ref: https://github.com/kubernetes/test-infra/issues/11850)

[2019-03-20 17:28] Katharine opened #11854 "Spyglass: avoid reading entire logs in to memory before displaying them"
Currently we read entire log files into memory, then copy subsets of them into memory several more times, before we attempt to pass them back to the user, which given our love of logs in the hundreds or thousands of megabytes is not especially great for our memory usage.

Nothing about the processing we perform inherently precludes us from streaming log output directly from GCS to the browser: if

[2019-03-20 20:19] Katharine commented on #11854
/area prow/spyglass

[2019-03-20 21:50] imkin commented on #11555
Audited the PR https://github.com/kubernetes/test-infra/pull/10795/ and found that the other configs were fine except for the https://github.com/kubernetes/test-infra/issues/11850

Verfied the same in the master. Automation needs to change based on this but will do that async to this issue.

[2019-03-20 22:34] midnightconman opened #11859 "ProwJob Jenkins Agent Failover Selector"
**What would you like to be added**:
I would like to be able to specify a failover jenkins selector to a prowJob, to run a jenkins job on a different jenkins incase the original jenkins is unreachable. I know there is retry logic, but it would be nice to be able to specify a different selector as well.

**Why is this needed**:
At the moment if a jenkins master is down and the retry count is exceed

[2019-03-20 22:39] krzyzacy commented on #9469
/this-is-fine
/close

[2019-03-20 22:40] krzyzacy commented on #9805
(suggest move this to k/k)

[2019-03-20 22:41] midnightconman commented on #10519
@fejta - Can you comment more on the benefit of this approach? Is this still limited by the 1MB configMap limit?

[2019-03-20 23:26] stevekuznetsov commented on #10519
The Prow approach is nice, though, because it lets other deployments of Prow have their config repos set up without bazel and still benefit from the split

[2019-03-20 23:28] stevekuznetsov commented on #11859
Could you do this with failover logic through HAProxy or Route 53 etc?

[2019-03-20 23:43] midnightconman commented on #11859
Maybe, wouldn't (proxying) logs get weird, in deck?

[2019-03-21 00:11] stevekuznetsov commented on #11859
I guess that depends on how your configure your failover. I feel like a robust approach would be to use currently available failover tools, instead of inventing our own.

/cc @cjwagner

[2019-03-21 00:11] stevekuznetsov commented on #11859
/area prow/jenkins-operator

[2019-03-21 02:03] alisondy commented on #5376
if someone wants to take my remaining commits, and finish them off, feel free to otherwise , it's a whenever i can thing :\

[2019-03-21 03:05] midnightconman commented on #11859
I feel it is just an extension on the sharding mechanisms in place, mostly an additional selector slice and enhancing the retry logic to support slice iteration.

[2019-03-21 03:06] midnightconman commented on #11859
Do you guys not have trouble with single master failures for openshift?

[2019-03-21 05:59] Huang-Wei commented on #5376
If it's not that urgent, I'd like to volunteer on this.

/assign

(feel free to unassign me if it's critical and there is some experienced guy would like to take it)

[2019-03-21 17:26] stevekuznetsov commented on #11859
No, only legacy jobs are on Jenkins today but even when we ran all of our workloads there the failure mode is really soft -- jobs stack up in the queue as ProwJobs and when the master comes back up, `jenkins-operator` schedules them. There will be a delay but it was never hurting us too bad.

[2019-03-21 17:26] stevekuznetsov commented on #11859
I think the feature might be a bit harder -- we'd need to keep track of which worker we ended up scheduling too, right? For continued updates to the ProwJob as well as logs, etc

[2019-03-21 20:28] brahmaroutu commented on #11814
I am not following what we should do as I thought stdout issue is fixed in PR #75121. The Job is skipping, @BenTheElder is there any configuration that need to be changed?
Once the job is added back we can know why it is erroring out, I guess.

[2019-03-21 21:46] #8810 closed

[2019-03-21 22:20] deadmoose opened #11877 "Tide labels to override for all merge methods"
Right now, it's possible to use `tide/squash` to manually override the repository's merge method and squash instead:
https://github.com/kubernetes/test-infra/blob/master/prow/tide/tide.go#L821-L829

In our use, we generally want to `squash` by default but occasionally override to `rebase` & keep the individual commits.

[2019-03-21 22:55] orthros opened #11879 "prow/cmd/checkconfig should warn on external-plugins misspelling"
**What would you like to be added**:

When running `bazel run //prow/cmd/checkconfig -- --plugin-config=path/to/plugins.yaml --config-path=path/to/config.yaml` as described in getting_started.md, it would be nice to warn the user if:

1. They do not have any `external_plugins` declared
or if
2. They have misspelled `external_plugins` as `external-plugins`

**Why is this needed**:

In the plugins g

[2019-03-22 02:39] cblecker commented on #11413
@nickvanw Any chance of UserStatus being available at any point on the v3 API? I see it's available in v4, but not v3 right now.

[2019-03-22 04:53] #9044 closed

[2019-03-22 05:54] #7192 closed

[2019-03-22 05:54] #7974 closed

[2019-03-22 10:45] matthyx commented on #9757
@stevekuznetsov here is a proposal format for `approval` in `plugins.yaml`:
[code]
It is inspired by `labels.yaml` and is a bit different from `branchprotector`, but seems more logical to me:
- a plugin has a default config
- it can be overridden at org level with an org/default entry
- both can be overridden at repo level with an org/repo entry

[2019-03-22 11:36] tmc opened #11889 "Provide nice way for ProwJobs to report to the GitHub Checks api"
Is having prow assist in having ProwJobs report things like neutral issues via
https://developer.github.com/v3/checks/runs/ in scope for this project or would that be up to a job author?

[2019-03-22 16:09] nickvanw commented on #11413
Hey @cblecker!

I don't have an ETA on UserStatus being available in v3, but I'll follow up today with the team that's responsible for the Status feature and see if I can get more information from them. I think this would be a fantastic use of this feature, and I hope that we can get you what you need to make it work!

[2019-03-22 16:52] cjwagner commented on #9757
I think the `default` sections add an unnecessary extra layer. Can we embed the `defaults` struct or just use its fields instead? I think config would ideally look like:
[code]

[2019-03-22 17:39] stevekuznetsov commented on #11889
We would need to refactor to allow Prow to run as a GitHub App, not using personal OAuth tokens. We're generally aware that this move is a good idea, but I'm not sure we have any immediate plans to do it. If we could figure out exactly what the migration would entail it would be easier to understand the work involved -- for instance, are all APIs we use today available for apps?

/cc @cjwagner @fe

[2019-03-22 18:06] #8779 closed

[2019-03-22 18:32] spiffxp commented on #9604
I'm in favor of trying this out, and yes we should give kubernetes-dev@ a heads up.  My only ask is that we wait until v1.14 goes out the door.

[2019-03-22 18:35] Katharine commented on #9604
After 1.14 ships is my plan.

[2019-03-22 19:24] stevekuznetsov commented on #11879
I think checking for `"external-plugins"` will be handled by #10812

[2019-03-22 19:26] stevekuznetsov commented on #11877
/area prow/tide
/cc @cjwagner

[2019-03-22 19:31] cjwagner commented on #11877
/help
/good-first-issue

[2019-03-22 19:32] stevekuznetsov commented on #9604
/woof

[2019-03-22 19:43] #11633 closed

[2019-03-22 22:35] tmc commented on #11889
Perhaps a more basic but related capability would be to have a job submit a custom comment to the relevant PR.

[2019-03-23 01:06] spiffxp commented on #9604
/pony snowflake

[2019-03-25 06:04] #8737 closed

[2019-03-25 10:15] matthyx commented on #9757
@cjwagner there is something I don't like about the current `approve` config, and it's `RequireSelfApproval` and `IgnoreReviewState` being pointers.  Because of that we have to specify them everywhere, which complicates the config.

I suggest we move away from these pointers, and rely on the default false value for a bool. It would look like that:
[code]

Or maybe you prefer to avoid the off/on/of

[2019-03-25 10:16] matthyx commented on #9757
I have the feeling I need a small utility to verify all these configs are equivalent... otherwise the review will be painful.

[2019-03-25 16:47] BenTheElder commented on #11814
looks to me like the test logic doesn't work?

many many lines with:
`I0323 12:45:31.945] [12:45:31] Pod status is: Failed`
if we reach that state, shouldn't it exit with a failure instead of continuing to print this indefinitely?

[2019-03-25 16:49] BenTheElder commented on #11814
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/75134/pull-kubernetes-conformance-image-test/41/

I can't tell why the pod is failed, but it looks like the kind cluster is up fine and the image built & loaded.

[2019-03-25 17:02] cjwagner commented on #9757
I don't follow. We don't have to specify them everywhere, only where they differ from the defaults and we need pointers to distinguish if the value is specified at each level so we know if a value is being overridden.

[2019-03-25 17:46] matthyx commented on #9757
Oh, ok. I thought it would explain why the config was filled with `lgtm_acts_as_approve: false` everywhere...

[2019-03-25 21:34] stevekuznetsov commented on #11889
What would you like to solve with a custom comment? Our artifact/job output viewer, `spyglass`, allows you to build custom views for your data.

/cc @Katharine

[2019-03-25 22:45] dims commented on #11814
@BenTheElder i thought we fixed it in https://github.com/kubernetes/kubernetes/blob/master/cluster/images/conformance/conformance-e2e.sh#L28-L31

[2019-03-25 23:12] fejta opened #11933 "Update prow and prow-build clusters to 1.13"
/cc @Katharine
/assign

[2019-03-25 23:13] fejta opened #11934 "ghproxy should be HA"
Otherwise we cannot upgrade it without downtime

/assign @cjwagner

[2019-03-25 23:19] fejta commented on #11933
Upgrading service cluster to 1.12.5

[2019-03-25 23:20] fejta commented on #11933
Hmm... I should make this a script

[2019-03-25 23:32] BenTheElder commented on #11814
we probably also need to set timeouts on the jobs. trying a new job on 75134 with a `/test` command (which should replace the old one, and pick up those changes...)

[2019-03-25 23:33] cjwagner commented on #11934
FWIW Prow doesn't experience any downtime when ghproxy is unavailable because Prow's GH client falls back to using the GH API directly.

And for a bit more context: The challenge with making ghproxy HA is that we need all requests for a resource to be deterministically routed to the same replica otherwise the caching and coalescing benefits will both be reduced. I think that is the only barrier to

[2019-03-26 00:03] fejta commented on #11933
Updating to `1.13.4-gke.1`

[2019-03-26 00:17] fejta commented on #11933
[code]

[2019-03-26 00:35] fejta commented on #11933
prow-builds master is at 1.12

[2019-03-26 00:58] onyiny-ang opened #11939 "k8s-ci-robot doesn't remove `do-not-merge/work-in-progress` label from draft PRs"
**What happened**:
A PR I made in kubernetes/sig-release was started as a draft (waiting for another PR to merge). When I pressed the "ready for review" button, k8s-ci-robot did not remove the `do-not-merge/work-in-progress` so despite approval, the PR was not merged.

**What you expected to happen**:
When draft PRs are ready for review, the do-not-merge/work-in-progress label should be removed by

[2019-03-26 08:58] nikhita commented on #11687
Looks like this is done now? :)

[2019-03-26 09:03] zacharysarah commented on #11687
Indeed! Closing. 🙇

[2019-03-26 09:03] #11687 closed

[2019-03-26 09:50] mborsz opened #11944 "Boskos is crashlooping"
**What happened**:

All scalability tests (likely all tests globally) are failing with error like:
[code]

Boskos is crashlooping with error like:

[code]
**What you expected to happen**:

Boskos is running.

**How to reproduce it (as minimally and precisely as possible)**:
It is happening right in prow cluster.
**Please provide links to example occurrences, if any**:

**Anything else we need to k

[2019-03-26 14:26] paulsubrata55 opened #11946 "pull-kubernetes-e2e-gce Job is failing due to some error setting test environment."
**What happened**:
Kubernetes Pull request mandatory test `pull-kubernetes-e2e-gce` is failing due to some internal error.

**What you expected to happen**:
pull-kubernetes-e2e-gce should not fail due to some internal script exceptions.

**How to reproduce it (as minimally and precisely as possible)**:
Just create a PR at kubernetes github repo.

**Please provide links to example occurrences, if a

[2019-03-26 14:42] liggitt commented on #11944
https://github.com/kubernetes/test-infra/commit/02110870507abdeb93dfd6205c70f82145f8993c#r32917192 looks like the root cause

[2019-03-26 14:44] liggitt commented on #11946
duplicate of https://github.com/kubernetes/test-infra/issues/11944

/close

[2019-03-26 14:44] #11946 closed

[2019-03-26 14:44] liggitt commented on #11944
/priority critical-urgent

this is failing all e2e-gce jobs

[2019-03-26 14:51] liggitt commented on #11944
added version back in https://github.com/kubernetes/test-infra/pull/11947

[2019-03-26 15:44] fejta commented on #11933
Everything is now at 1.13
/close

[2019-03-26 15:44] #11933 closed

[2019-03-26 17:18] tmc commented on #11889
Dropping links to ephemeral environments would be an example.

[2019-03-26 17:25] fejta opened #11951 "Gitops for boskos"
We should deploy boskos on changes to https://github.com/kubernetes/test-infra/blob/master/boskos/deployment.yaml like we do for prow https://github.com/kubernetes/test-infra/blob/9aa82d4e95e044bdeaf9f2e3ab17e71fe9d5cd0a/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L29-L42

ref https://github.com/kubernetes/test-infra/issues/11944
cc @Katharine @spiffxp

[2019-03-26 17:27] fejta opened #11952 "Applying boskos changes should update the pod"
Applying changes to boskos/deployment.yaml does not actually update the pod currently. I believe this is because boskos is (unnecessarily?) a statefulset: https://github.com/kubernetes/test-infra/blob/9aa82d4e95e044bdeaf9f2e3ab17e71fe9d5cd0a/boskos/deployment.yaml#L71-L74

ref https://github.com/kubernetes/test-infra/issues/11944
cc @Katharine @spiffxp

[2019-03-26 17:30] fejta opened #11953 "Improve boskos unhealthy detection"
We deployed a bad version of boskos, and then went undetected for awhile. We need to develop a better playbook around noticing when boskos is unhappy than waiting for user reports

ref https://github.com/kubernetes/test-infra/issues/11944
cc @Katharine @spiffxp

[2019-03-26 17:41] Katharine opened #11956 "Updating boskos should actually update boskos"
Currently updating boskos is a manual process that, potentially surprising, doesn't immediately do anything.

[2019-03-26 17:42] Katharine opened #11957 "Boskos should have an automated push/bump/deploy like Prow"
Doing things manually invites mistakes!

/assign @fejta

[2019-03-26 17:42] Katharine commented on #11956
/assign @sebastienvas

[2019-03-26 17:47] stevekuznetsov commented on #11956
We're past 1.7 so I think this is just setting a field in the config? https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#updating-statefulsets

[2019-03-26 17:58] fejta commented on #11952
Dup of https://github.com/kubernetes/test-infra/issues/11957

[2019-03-26 17:58] #11952 closed

[2019-03-26 17:59] fejta commented on #11951
Dup of https://github.com/kubernetes/test-infra/issues/11957

[2019-03-26 17:59] #11951 closed

[2019-03-26 18:04] cjwagner commented on #11944
This has been resolved. Postmortem: https://github.com/kubernetes/test-infra/pull/11955

[2019-03-26 18:04] #11944 closed

[2019-03-26 18:31] hemanik commented on #11728
I would like to work on this.

[2019-03-26 19:21] Huang-Wei commented on #5376
cc/ @cblecker @BenTheElder PR #11937 is ready to be reviewed. PTAL. Thanks!

[2019-03-26 20:18] Katharine commented on #9604
We did it!

/pony cheering
/close

[2019-03-26 20:18] #9604 closed

[2019-03-27 00:03] ixdy commented on #11279
v1.14.0 has been released, which is the first release containing platform-specific test tarballs.

Instead of downloading [kubernetes-test.tar.gz](https://storage.googleapis.com/kubernetes-release/release/v1.14.0/kubernetes-test.tar.gz), you can now download [kubernetes-test-portable.tar.gz](https://storage.googleapis.com/kubernetes-release/release/v1.14.0/kubernetes-test-portable.tar.gz) (for the

[2019-03-27 01:14] stevekuznetsov commented on #10547
@midnightconman didn't you solve this recently?

[2019-03-27 02:27] fejta commented on #11728
Go for it!
/lifecycle active

[2019-03-27 04:09] anuragprafulla commented on #11939
I would like to work on this, if anyone else isn't.

[2019-03-27 04:21] midnightconman commented on #10547
What I committed should easily be enhanced to support this: https://github.com/kubernetes/test-infra/pull/11665

[2019-03-27 10:45] krzysied commented on #9604
Hi folks!
Currently we are having issue with perfdash - it doesn't work. https://github.com/kubernetes/perf-tests/issues/469
Assuming that you made changes to the other tools, can someone give hints on how to work with the new run id format? We are using k8s.io/contrib/test-utils/utils/utils.go for accessing the run logs.

[2019-03-27 14:55] cji commented on #11877
👋 Hello!

I was looking to work on this issue, but wanted to clarify slightly before getting started.

Is the proposal to change the [default merge_method](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/tide/config.md#general-configuration) for all repositories from 'merge' to 'squash' and then instead of a `SquashLabel` have a `RebaseLabel` to override the default for a particular

[2019-03-27 15:52] stevekuznetsov commented on #11877
@cji hey! Today, getting the default to `squash` is as simple as changing the configuration, so I don't think we want to change the default. Instead, we should honor a `tide/rebase` label that overrides a config-set default of `squash` for a PR.

[2019-03-27 15:53] cji commented on #11877
@stevekuznetsov awesome, will work on implementing that. Thanks for the help clarifying!

[2019-03-27 19:25] imkin opened #11968 "Use "branches: master" instead of "skip_branches" when you want to just use master in job configs"
I see this across various job configs (Example:
[config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-presubmit.yaml#L14)](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-presubmit.yaml#L14)

The intention here seems to be to just run the job for the "master" branch. We already have a way to do this by using "branches" (as we see this for the similar c

[2019-03-27 19:35] BenTheElder commented on #11968
-1, [sig-testing slack thread](https://kubernetes.slack.com/archives/C09QZ4DQB/p1553715011860700)

TLDR feature branch testing relies on this being a skip.

[2019-03-27 20:10] imkin commented on #11968
This seems to be a way of indicating "default" jobs that need to run on all branches "except" the released ones.

[2019-03-27 20:41] deadmoose commented on #11877
Exactly. Today `tide/squash` ignores the default and overrides to squash. There should be a `tide/rebase` to override and do that. And similarly, a `tide/merge` (except that it's an ugly name :/ ) to do _that_.

I personally don't care about that last one, but having support for 2/3 of the options is even weirder than today's support for 1/3.

[2019-03-27 20:59] #11968 closed

[2019-03-27 22:29] saiyan86 opened #11970 "Can't run kubetest --build"
**What happened**:

Can't run kubetest --build correctly

**What you expected to happen**:

Expect to run kubetest --build without problem

**How to reproduce it (as minimally and precisely as possible)**:

From a fresh Ubuntu 18.04 LTS VM
1.
[code]
2.
[code]
3.
[code]
4. set golang env vars.
[code]
**Please provide links to example occurrences, if any**:

[code]
**unable to prepare context: path

[2019-03-28 00:03] amwat opened #11973 "Shareable links to log lines in spyglass"
**What would you like to be added**:
Spyglass build log viewer should have shareable links to log line numbers.
**Why is this needed**:
This is extremely useful for sharing/triaging.

/area spyglass
/cc @Katharine

[2019-03-28 02:27] tony-yang commented on #2364
The timezone label is now live for Testgrid. Time displayed on the UI should now have the label PDT. Coming up next is the ability to choose the timezone (between local time and Pacific Time) using a toggle button on the UI as well as a setting in the config file. The default timezone label will change to local time, with the ability to opt-out to Pacific Time.

[2019-03-28 02:34] fejta commented on #9855
This does not appear to be something we want upstream.

[2019-03-28 02:34] #9855 closed

[2019-03-28 02:35] fejta commented on #11939
/lifecycle active

Please do!

[2019-03-28 02:37] fejta commented on #11877
/lifecycle active

Good luck! May be worth a quick Google doc or issue explain how you intend to solve this before starting on the PR (vs just sending over the solution)

[2019-03-28 04:27] michelle192837 commented on #3325
/remove-lifecycle stale
/lifecycle frozen

[2019-03-28 05:04] idealhack commented on #9079
/lifecycle frozen

[2019-03-28 05:29] idealhack commented on #8652
/lifecycle frozen

[2019-03-28 09:23] cji commented on #11877
Cool, thanks for the suggestion @fejta!	- I started riffing on a couple of options [here](https://docs.google.com/document/d/1PA1WBeNGn2sE4hqizwr6YtfRE1YYGnxnQP2kqmq3Io4/edit#)

[2019-03-28 11:28] neolit123 commented on #2364
@tony-yang
thanks for working on this.

i think i see a new problem related to the commit SHA:
![commit-sha](https://user-images.githubusercontent.com/331852/55154323-3127a180-515d-11e9-9758-2dcc9077a73d.png)

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-master

[2019-03-28 13:59] mariantalla opened #11977 "[Tracking] Consolidate and automate creation of sig-release owned testgrid dashboards"
(Following up from the [last sig-release catchup](https://www.youtube.com/watch?v=u9gK3zWDO9M) ([notes](https://docs.google.com/document/d/1Fu6HxXQu8wl6TwloGUEOXVzZ1rwZ72IAhglnaAMCPqA/edit#bookmark=id.r3c7r9efjr3)))

Context: At the end of the 1.13 release, we [rearranged](https://github.com/kubernetes/test-infra/pull/10914) sig-release owned dashboards into blocking and informing, based on criter

[2019-03-28 14:09] mariantalla commented on #11977
Re: consolidating master-dashboards, we spoke about moving them to -informing rather than -blocking, because they use `/cluster` (=non-community-supporting) scripts to upgrade clusters. For 1.14, CI signal treated them as equally blocking as master-blocking. They're also currently the only way we have to get signal on how stable upgrades are, so I feel there is a good argument for them to move int

[2019-03-28 15:26] nikopen commented on #11611
The Github Action is ready: https://github.com/nikopen/milestone-applier/blob/master/milestone-applier

I see no problem with implementing some behavior as Actions.
Not only you avoid Prow/token load, but you have a simple script for a simple behaviour.
I don't see any 'ecosystem fragmentation', Actions will be (soon?) supported as a native Github feature.

@stevekuznetsov

[2019-03-28 16:09] michelle192837 commented on #2364
That tooltip is hardcoded and I think needs to be swapped out (for Build ID?)

[2019-03-28 16:48] timothysc commented on #9655
/reopen
/remove-lifecycle rotten

[2019-03-28 17:24] neolit123 commented on #9655
@timothysc @riverzhang
instead of creating a new kubetest deployer and hosting the jobs on prow we can pipe logs (federate) from an external CI process into testgrid.

example PR:
https://github.com/kubernetes/test-infra/pull/11231

[2019-03-28 20:52] cjwagner opened #11989 "Make branchprotector check if updates are needed applying branch protection policies."
**What would you like to be added**:
`branchprotector` currently calls `UpdateBranchProtection` for every branch even if the branches are already up to date. It should instead fetch the current branch protection policy and see if updates are needed before calling `UpdateBranchProtection`.

**Why is this needed**:
This should dramatically improve the performance of `branchprotector` and ultimately

[2019-03-28 22:28] stevekuznetsov commented on #11989
Love it

[2019-03-28 23:34] midnightconman commented on #11859
I have been using the jenkins-operator for a week or two now, it seems to handle retries nicely. I'll close this, maybe we can open it up again later.

[2019-03-28 23:34] #11859 closed

[2019-03-29 00:35] #8852 closed

[2019-03-29 00:37] midnightconman opened #11993 "Allow Opt-Out of Hook Plugins on an Org/Repo Basis"
**What would you like to be added**:
I would like to be able to opt-out of certain plugins for an organization or repository for hook plugins. My current idea is to prefix the plugin with an `!`, like:
[code]

**Why is this needed**:
This would allow us to reduce some of the complication of `plugins.yaml`? Make sense to allow additive and subtractive logic for plugin enablement.

[2019-03-29 01:16] stevekuznetsov commented on #8668
/remove-lifecycle stale

[2019-03-29 01:36] #8831 closed

[2019-03-29 03:21] midnightconman commented on #11223
@stevekuznetsov

Do you have an update on this for us? Would be nice to see some usage metrics from deck. :smile:

[2019-03-29 04:32] tony-yang commented on #2364
@neolit123 Thanks for bringing that issue up. We have also noticed that problem on many of our views. As Michelle commented, we are still deciding on how to proceed with the overflow content as well as the incorrect tooltip. We are definitely tracking this issue and will keep everyone posted. Cheers.

[2019-03-29 04:36] anuragprafulla commented on #11939
@fejta I am having a little bit of trouble finding a starting point to fix this issue. This is my first issue of test-infra. Can you tell me where should I go looking first?

[2019-03-29 04:41] parispittman opened #11994 "Owners File Recognition/Reward Bot"
**What would you like to be added**:
A bot that will be kicked off when a PR gets merged adding someone (individual; not an alias) to an owners file as a reviewer or approver. Content will be:

- a congratulations,
- links to important documentation for reviewers/approvers like community expectations/responsibilities/tips, and
- instructions on how to get a promo code to order a free contributor p

[2019-03-29 08:16] prasann004 opened #11995 "Prow issue:Unable to access external IP from kubernetes cluster (Bare Metal)-1.14"
1) I am not able to connect my SQLSERVER database from the pods. I tried doing telnet to 192.*.*.*  1433 and it connected.
logs: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections
2)My application us

[2019-03-29 11:20] nikhita commented on #11994
/sig contributor-experience

The plugin adds a "positive emoji" whenever an owner is added:

https://github.com/kubernetes/test-infra/blob/f7e3d4332d3531ad6507603554d438d84f2fd6e3/prow/plugins/heart/heart.go#L140-L148

I think this is a cool idea :) but just thinking out loud...would it be weird if we are removing more folks than adding? :see_no_evil: :thinking:

[2019-03-29 11:22] nikhita commented on #11994
To be clear, this is only if the contributor doesn't already have the patch, right?

[2019-03-29 13:37] vkryachko opened #11996 "[Prow] Regression: Custom Deck.Branding.Logo is broken"
**What happened**:
After upgrading Prow, custom logo is no longer working.

Root causes:
Deck base.html unconditionally prepends `/static/` to the Logo url, which does not work for our absolute [URL](https://firebase.google.com/downloads/brand-guidelines/SVG/logo-logomark.svg)

**What you expected to happen**:
Custom logo to be injected into the page without `/static/` prefix
**How to reproduce it

[2019-03-29 13:38] sayanh opened #11997 "Plank uses mysterious user `Client` to run workloads in build-cluster"
**What happened**:
Plank is configured with a build-cluster. The secret is created as mentioned in [here](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/mkbuild-cluster#usage). Now how is this user client configured? Everything worked fine when I created a clusterrolebinding in buildcluster bind with User: `client`.

When this clusterrolebinding is missing the following error appear

[2019-03-29 14:14] stevekuznetsov commented on #11997
/assign @fejta
/area prow

[2019-03-29 14:14] stevekuznetsov commented on #11997
Doesn't `mkbuild-cluster` give you admin credentials via certificate auth?

[2019-03-29 14:15] stevekuznetsov commented on #11996
/area prow/deck
/cc @Katharine
@vkryachko do you know what version of Deck you were running before and after?

[2019-03-29 14:21] stevekuznetsov commented on #11995
@prasann004 can you describe your setup? How is Prow involved here?

[2019-03-29 14:24] vkryachko commented on #11996
@stevekuznetsov Sure:
Before: v20180827-b14cf3e25
After: v20190322-a20dc306f

[2019-03-29 14:38] stevekuznetsov commented on #11939
Shouldn't this have resolved itself now that GitHub is publishing the correct data?

[2019-03-29 14:44] stevekuznetsov commented on #11939
GitHub delivers webhooks to the `hook` server and we digest them:

https://github.com/kubernetes/test-infra/blob/f7e3d4332d3531ad6507603554d438d84f2fd6e3/prow/hook/server.go#L69-L71

When we see an event for a PR, we run our handlers for it:

https://github.com/kubernetes/test-infra/blob/f7e3d4332d3531ad6507603554d438d84f2fd6e3/prow/hook/server.go#L107-L115

Handlers are dynamically registered on

[2019-03-29 14:45] stevekuznetsov commented on #11223
As before, specific metrics you'd like to see would be useful. We're about one sprint away from prioritizing this, next sprint boundary is this upcoming week. So expect to see movement soon :)

[2019-03-29 14:47] stevekuznetsov commented on #11993
/cc @fejta @cjwagner
/area prow

I'm mostly ambivalent for this -- it's little complexity and would be opt-in so adding it seems safe.

[2019-03-29 14:49] stevekuznetsov opened #11998 "Demystify what is and is not supported in OWNERS filters"
What's the current state of the `filters` block in the OWNERS file implementation? Does it support a fully nested OWNERS full config underneath?

[2019-03-29 14:49] stevekuznetsov commented on #11998
/area prow
/cc @cjwagner @fejta

[2019-03-29 14:50] parispittman commented on #11994
they can collect more than one patch if they wish or ask for another item and if we have the inventory we can provide

[2019-03-29 14:54] stevekuznetsov commented on #11996
[code]

:grimacing:

[2019-03-29 15:00] vkryachko commented on #11996
Agreed, it was quite an upgrade :)

That said, here's the most likely PR that broke logo behavior: #9465

Before it the logo URL had been injected into the page as is, after - with `/static/` prepended to it. Hope it helps

[2019-03-29 15:04] stevekuznetsov commented on #11996
Yeah, I found the template change. Thanks :)

[2019-03-29 16:24] cjwagner commented on #11993
It is little complexity except for code that needs to reason about where plugins are enabled, that can get tricky. In particular it typically necessitates something like this structure: https://github.com/kubernetes/test-infra/blob/d1dd2f8941dcc83d159a725a418d0dc39d12ef55/prow/cmd/checkconfig/main.go#L348

Now that we have such a struct and related functions, this could be a manageable increase in

[2019-03-29 16:25] stevekuznetsov commented on #9582
/remove-lifecycle stale

What's the blocker here? Creating a new account is simple, right?

[2019-03-29 16:35] cjwagner commented on #9582
Yes creating a new account is easy.
The contributor experience concerns are the main blocker I think. Thread starts here: https://github.com/kubernetes/test-infra/pull/7393#issuecomment-412167489

[2019-03-29 16:44] stevekuznetsov commented on #10547
@midnightconman do you want to take this issue on?

[2019-03-29 16:45] cjwagner commented on #11998
The config allows for a fully nested OWNERS file under each filter, but the `approve` plugin does not properly handle `approvers` sections in filters besides the global `.*` filter.  IIRC at least one of `blunderbuss`'s reviewer selection algorithms suffers from a similar problem.

[2019-03-29 17:05] midnightconman commented on #10547
Sure :smile:

/assign

[2019-03-29 17:28] fejta commented on #9647
Don't we check this now?

[2019-03-29 17:33] midnightconman commented on #11223
Sweet, looking forward to it.

I would like to see status code counts by handler, duration histograms for requests and responses, response size histograms, and log file size histograms. Maybe some metrics from pr status, like github calls, retries, durations, etc.

[2019-03-29 17:36] onyiny-ang commented on #11939
@stevekuznetsov is it possible to provide a link to the reference of github publishing the correct data? If the issue is on github's end and their pull request events code has changed in the last 4 days, it might be useful to link anything associated with that as well--as it's unclear where to look for that.

[2019-03-29 17:45] fejta commented on #11939
Have we tried toggling a PR from draft and back to validate this works yet?

[2019-03-29 18:21] stevekuznetsov commented on #11939
Ah, it's a new type of event, `pull_request.ready_for_review` as mentioned [here](https://kubernetes.slack.com/archives/C09QZ4DQB/p1553551857776700). As communicated [here](https://kubernetes.slack.com/archives/C09QZ4DQB/p1553635187818100?thread_ts=1553552294.777800&cid=C09QZ4DQB) the events should now be sent. So we need to update the pull request event types to add the new one and update the plu

[2019-03-29 18:32] stevekuznetsov commented on #9647
No, we have not changed the YAML loading behavior

[2019-03-29 19:45] anuragprafulla commented on #11939
@stevekuznetsov Thanks a lot, for the help. I'll start working on it right away.

[2019-03-29 22:09] stevekuznetsov commented on #11993
Yeah, if an implementation could make that structure more generic and keep the additional complexity cost low, this seems like a safe addition to the config.

[2019-04-01 04:49] #7811 closed

[2019-04-01 09:09] prasann004 commented on #11995
Apologies. Tagged you by mistake.
This was an issue with calico.
Used weaver and restarted the nodes and things started working for me.

[2019-04-01 09:09] #11995 closed

[2019-04-01 09:42] anuragprafulla commented on #11939
@stevekuznetsov @fejta, I have made changes in github/types.go and hook/events.go to handle such pull request. I feel that the plugin should be able now handle cases where the draft status is not set and remove the do-not-merge/work-in-progress plugin. I think that I should be able to send a PR. Before that, I needed to know about how I should perform the tests that verify if everything is working

[2019-04-01 11:05] nikhita commented on #10501
/remove-lifecycle stale

[2019-04-01 15:32] tuxgoose opened #12009 "kyma-gke-nightly fails due to resource already created"
**What happened**:
kyma-gke-nightly fails due to resource already created
**What you expected to happen**:
job to continue to run even though resource exists
**How to reproduce it (as minimally and precisely as possible)**:
re-run the job in prow
**Please provide links to example occurrences, if any**:
https://status.build.kyma-project.io/view/gcs/kyma-prow-logs/logs/kyma-gke-nightly/1112565485645

[2019-04-01 15:33] tuxgoose commented on #12009
did not intend to create the issue here

[2019-04-01 15:33] #12009 closed

[2019-04-01 17:48] stevekuznetsov commented on #11939
@anuragprafulla if you've got a GitHub repository you can have it try to post the webhook somewhere and validate that the structure we expect is correct. If we know the structure is right, you can use a file with the webhook payload and the `phony` tool in this repo to send a fake webhook to a locally-running `hook` instance and see your changes work.

[2019-04-01 18:57] fejta opened #12012 "Teach podutils to upload files to GCS using gzip encoding"
Bootstrap has always done this as it reduces log download and upload size: https://github.com/kubernetes/test-infra/blob/3de81d83bb28507c397c6b12e3875fa4a160bf08/jenkins/bootstrap.py#L376

So our tooling like testgrid, spyglass, etc already know how to handle this. We just need to teach initupload and sidecar to upload using this format.

It is a somewhat nifty GCS feature where GCS will either se

[2019-04-01 18:57] fejta commented on #12012
/area prow

[2019-04-01 19:28] chadswen commented on #9655
/assign @mattymo

[2019-04-01 20:29] fejta opened #12014 "autobump failing"
https://testgrid.k8s.io/sig-testing-prow#autobump-prow

ERROR: /home/prow/go/src/github.com/kubernetes/test-infra/WORKSPACE:14:1: Traceback (most recent call last):
File "/home/prow/go/src/github.com/kubernetes/test-infra/WORKSPACE", line 14
versions.check(minimum_bazel_version = "0.23.0")
File "/root/.cache/bazel/_bazel_root/05618a594cb3499a4b912817865867cd/external/bazel_skylib/lib/versions.bzl"

[2019-04-01 21:06] #11877 closed

[2019-04-01 21:40] stevekuznetsov commented on #12012
/area prow/pod-utilities
/assign @fejta

[2019-04-01 21:43] fejta commented on #12014
Job definition is here, which shows the image it uses: https://github.com/kubernetes/test-infra/blob/9484b12ccfbfe0889a32f83badeaf26ffa9f4d0a/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L174-L183

The bazelbuild image is produced here: https://github.com/kubernetes/test-infra/tree/master/images/bazelbuild

[2019-04-01 21:44] fejta commented on #12014
So AKA this is about a) pushing versions of this image that use versions 0.23 and 0.24 versions of bazel and b) updating the job to use one of these images

[2019-04-01 21:47] fejta commented on #12014
/area prow

[2019-04-02 00:02] tony-yang commented on #12014
New PR https://github.com/kubernetes/test-infra/pull/12016

[2019-04-02 05:19] fejta opened #12022 "blunderbuss should resolve aliases before picking from the set"
/area prow
/cc @cjwagner
/help

https://github.com/kubernetes-sigs/krew-index/blob/master/OWNERS there's just one alias

however the alias has two people, so it should assign both people in the alias

https://github.com/kubernetes-sigs/krew-index/blob/master/OWNERS_ALIASES

Instead it seems to think the alias is equivalent to one person, and just picks one of them.

This further suggests that blun

[2019-04-02 05:20] fejta commented on #12022
Code is here: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/blunderbuss/blunderbuss.go

[2019-04-02 08:45] sjanota commented on #10409
We would like to enhance Prow instance for [Kyma](https://status.build.kyma-project.io/) with TestGrid. The part we find most useful is a clear view of test stability: how often they fail, easy access to logs and alerting.

[2019-04-02 13:32] wojtek-t commented on #10561
/remove-lifecycle stale
/lifecycle frozen

[2019-04-02 14:44] nikhita commented on #9360
/remove-lifecycle rotten
/lifeycle active

[2019-04-02 17:09] deadmoose commented on #11877
:+1:

Thanks @cji!

[2019-04-03 03:59] nikhita commented on #12022
I guess that's because @juanvallejo hadn't accepted the org membership request yet (only @ahmetb had), so it just requested review from one person.

[2019-04-03 09:31] alvaroaleman opened #12041 "Add a plugin that enforces "Fixes #ISSUENUMBER" string in PR"
**What would you like to be added**:

A plugin that when activated checks if the body of a PR has a `fixes #123` string. If that is not the case, it adds a label that can be used to prevent tide from merging.  It should also be possible to overwrite that check with a command.

**Why is this needed**:

Makes enforcing to have an issue for PRs possible

[2019-04-03 12:07] nikhita commented on #12041
We have

https://github.com/kubernetes/test-infra/blob/c48de18590ee942f6548734f454b1e5113094ae8/prow/plugins/config.go#L228-L233

[2019-04-03 13:20] alvaroaleman commented on #12041
That will idd do once #12042 is in

[2019-04-03 13:20] #12041 closed

[2019-04-03 17:00] liggitt opened #12045 "switch pull-kubernetes-godeps to `make verify WHAT=vendor` on master"
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-testing/godeps.yaml#L18-L31 calls `make verify WHAT=godeps staging-godeps godep-licenses`

After https://github.com/kubernetes/kubernetes/pull/74877 merges:
* staging-godeps no longer exists
* verify-godeps.sh is a shim that calls verify-vendor.sh
* verify-godep-licenses.sh is a shim that calls verify-vendor-licenses.s

[2019-04-03 17:54] cjwagner opened #12047 "Stop posting "Skipped" statuses."
ref: https://github.com/kubernetes/test-infra/pull/11333

We should be safe to configure trigger to stop posting "Skipped" statuses now that branchprotector has removed protection from all `run_if_changed` status contexts.

/cc @stevekuznetsov @fejta @spiffxp @cblecker

[2019-04-03 18:45] cjwagner commented on #12022
That would explain it. We filter out non-collaborators since we can't assign or request reviews from them.
Forbidding non-collaborators from OWNERS files is something that `verify-config` could be updated to enforce: https://github.com/kubernetes/test-infra/issues/5175#issuecomment-427637685

/close

[2019-04-03 18:45] #12022 closed

[2019-04-03 20:24] shyamjvs commented on #8348
/remove-lifecycle rotten
/lifecycle frozen

[2019-04-03 21:35] cjwagner opened #12051 "Update tackle to work for personal repos."
Personal (non-org) repositories have a much simpler permission system than organization owned repositories.  https://help.github.com/en/articles/permission-levels-for-a-user-account-repository . One side effect of this is that only the repository owner's personal access token can be used to list and configure webhook configs for a repo. This is problematic because it does not allow a bot account t

[2019-04-03 22:36] fejta opened #12052 "Build and release greenhouse with prow"
If I'm at prow v20190401-deadbeef I should be able to also use this tag for greenhouse

[2019-04-03 22:36] fejta commented on #12052
/assign @Katharine

does your PR fix this?

[2019-04-03 22:53] Katharine commented on #12052
It doesn't - I missed this one because it doesn't have a Dockerfile, which is what I used to find these.

I could probably take the same approach I took for the rest of the images, but given it's generated by bazel it could presumably join the rest of the `prow_push` crew? Although AFAICT that would result in it being in `k8s-prow` rather than `k8s-testimages`, which may not be desirable.

[2019-04-03 22:59] Katharine commented on #10603
/close

Gubernator is deprecated, not going to fix this.

[2019-04-03 22:59] #10603 closed

[2019-04-04 01:56] stevekuznetsov commented on #11997
@fejta any thoughts here?

[2019-04-04 02:19] BenTheElder commented on #11934
That's not _really_ HA anyhow.

There are other options for making this HA such as:
- decouple storage and share it between ghproxy instances (EG store to redis)
- replicate cache writes between instances
- use `ReadWriteMany` storage (NFS, ceph)

The second option shouldn't be very invasive (most invasive part would probably be periodically listing endpoints to locate peers) and would actually sc

[2019-04-04 02:21] BenTheElder commented on #11970
docker installed via snap disallows access to $TMPDIR as far as I know, this will break the make setups. you might want to try installing docker via another means or try building kubernetes with bazel

[2019-04-04 02:23] BenTheElder commented on #11970
You're probably more likely to get responses to Kubernetes build issues in the main Kubernetes repo, all of the above output comes from the make targets there, kubetest just calls the standard build systems.

[2019-04-04 02:25] BenTheElder commented on #11847
Please CC me on upload_e2e.py issues, I do not monitor this repo closely but I do flag mentions in my inbox. I don't think anyone else is likely to help with this unfortunately.

[2019-04-04 02:28] BenTheElder commented on #11847
It's possible 226 is too old, can you try updating the gcloud SDK?

[2019-04-04 02:31] BenTheElder commented on #11814
should be fixed

[2019-04-04 02:31] #11814 closed

[2019-04-04 03:17] BenTheElder commented on #11847
This script has not changed in 10 months FWIW https://github.com/kubernetes/test-infra/blob/master/testgrid/conformance/upload_e2e.py

[2019-04-04 03:18] stevekuznetsov commented on #11934
Might be nice to try to see how many tokens per version migration were lost from the direct-to-github calls. The fallback seems like a totally reasonable thing to do IMO

[2019-04-04 10:53] idealhack commented on #8653
/lifecycle frozen

[2019-04-04 18:26] fejta opened #12066 "job/PR history assumes presence of started.json"
bootstrap only creates a finished.json file when the PR has a merge conflict (no started.json).

We should either update deck to handle non-exceptional situation without warning or else update bootstrap to produce a started.json file in this scenario.

/assign @Katharine

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/76067/pull-kubernetes-node-e2e/1113542968611966982/

[code]

Assig

[2019-04-04 18:41] fejta opened #12067 "failing to assign people is not an exceptional condition"
Therefore this should not log an error

[code]

/area prow/hook
/area prow

/assign @cjwagner

[2019-04-04 18:43] fejta commented on #12067
Hmm, actually given that this is blunderbuss, I suspect the issue here is people in the OWNERS files who are not collaborators

[2019-04-04 18:49] #12067 closed

[2019-04-04 18:51] fejta commented on #12052
We use it for prow. I'm okay to package these sort of things up into the prow "distro"

[2019-04-04 20:05] msau42 opened #12071 "Triage is showing invalid dates"
**What happened**:
Here's an example: https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce%24&test=multiVolume

Under the "Time" column, it just says "Invalid Date"

[2019-04-04 23:32] BenTheElder commented on #7690
suggestion https://github.com/kubernetes/kubernetes/pull/76162#issuecomment-480099120

[2019-04-04 23:45] cjwagner commented on #7690
That suggestion SGTM and seems clear enough.
/help

[2019-04-04 23:53] stevekuznetsov commented on #12066
:man_facepalming:

[2019-04-05 00:08] cjwagner opened #12081 "PR title tooltips on tide-history page disappear when filter is modified."
The PR title tooltips that appear when you hover over a PR number on the tide-history page do not work after editing the filter selection. The page has to be refreshed after the filter is modified in order for the tooltips to work again.

Example:
1) Go to the following link and notice the hover tooltips on the PR numbers: https://prow.k8s.io/tide-history?repo=kubernetes%2Fk8s.io
1) Change the bra

[2019-04-05 01:22] nikhita commented on #7690
/assign

I really want this functionality :)

[2019-04-05 01:26] fejta opened #12083 "terminateDupProwJobs uses the wrong abstractions"
`terminateDupProwJobs` needs:
* to be a stand-alone function, not part of the controller
* should not have `context` or `namespace` arguments, as these are immutable parts of the interface

The reconciler interface needs to
* add a `listJobs` (aka getProwJobs) method
* drop the `terminateDupProwJobs` method

`fakeReconciler` needs to define the `listJobs` method and drop its useless `terminateDupP

[2019-04-05 01:27] fejta commented on #12083
/area prow/build
/area prow
/area prow/knative-build

[2019-04-05 10:32] nikhita commented on #5175
/remove-lifecycle stale

On Fri, Apr 5, 2019 at 3:58 PM fejta-bot <notifications@github.com> wrote:

[2019-04-05 13:40] nikhita commented on #10226
/remove-lifecycle stale

cc @mrbobbytables
since you had thoughts around this

[2019-04-05 18:05] cjwagner commented on #10470
I just chatted with Steve. We're thinking the best path forward is probably to make a new `timeout-duration` field that uses the [`metav1.Duration`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/duration.go) type. We can print deprecation warnings for any jobs using the old `timeout` field and switch `timeout` to use `metav1.Duration` after 6

[2019-04-05 19:53] stevekuznetsov commented on #12083
What do we need to list jobs for? Why do the controllers not call terminate on the list? I want to stop listing as much as possible, it's absolutely untenable. 90% of our API traffic on a large cluster with lots of other workloads comes from the LIST call to ProwJobs

[2019-04-07 19:58] stevekuznetsov commented on #12081
xref #10605 ?

[2019-04-07 19:59] stevekuznetsov commented on #9121
It's running as a periodic now after @cjwagner changed it so alerting on it in testgrid should not be hard?

[2019-04-07 20:00] stevekuznetsov commented on #9638
@fejta you fixed this, right?

[2019-04-07 20:54] cblecker commented on #9223
Sorry for the comment spam. Bug in a new plugin.

[2019-04-07 21:47] mrbobbytables commented on #10226
Thanks for the poke @nikhita :)

It doesn't cover the exact use-case, but is targeted towards those that have shifted positions or not as active but still serve as domain experts. My thought was establishing a more formal _"emeritus"_ policy -- Get something down before kicking off a potential OWNERS audit. We have the concept of emeritus leads, and have used emeritus informally in a few OWNERS fi

[2019-04-07 23:16] cblecker commented on #12045
It may still be worth keeping it separate, because it's a network-dependant job. If there is a network timeout, it would be advantageous to not have to retest the whole verify job.

https://github.com/kubernetes/test-infra/pull/12104 will branch the job for master.

[2019-04-07 23:16] cblecker commented on #12045
/assign

[2019-04-08 01:30] #9012 closed

[2019-04-08 05:40] fejta opened #12107 "Do a minor upgrade of all modules"
Ideally we get to a point where https://testgrid.k8s.io/sig-testing-maintenance#autoupdate-minor passes

Currently having to:
* Refactor our build controller to stop using the generated client fake (testing package changed)
* Replace 3 packages:
  - `k8s.io/client-go` to force a more recent commit than latest release - https://github.com/kubernetes/kubernetes/issues/76304
  - `Replace github.com/e

[2019-04-08 06:41] OlegLoewen commented on #11279
Is there any guide which describe where to put these things to get kubetest running?

[2019-04-08 06:50] OlegLoewen opened #12111 "How get kubetest running with precompiled platform-specific binaries"
Since k8s 1.14 you can download the [kubernetes-test-linux-amd64.tar.gz](https://storage.googleapis.com/kubernetes-release/release/v1.14.0/kubernetes-test-linux-amd64.tar.gz) for platform-specific binaries.

Is there a guide where to put this files and what to do else get kubetest running?

Kind regards,
Oleg

[2019-04-08 08:55] OlegLoewen commented on #12111
Okay, I think now I got it running. This is how I did it, in case someone else does have similar questions:

# put the binaries in folder: /go/src/k8s.io/kubernetes/_output/bin

# required to set the environment variable
export KUBECTL_PATH="$(which kubectl)"

# since glibc is required to run the executables, install glibc
apk --no-cache add ca-certificates wget
wget -q -O /etc/apk/keys/sgerrand.r

[2019-04-08 09:43] suleymanakbas91 commented on #10138
/remove-lifecycle stale

Hi @ms4720, are you already addressing the issue? :)

[2019-04-08 12:51] jlewi commented on #10514
This is great thank you so much for doing this!

[2019-04-08 13:31] taragu commented on #10514
@jlewi you are welcome! This is still currently being tested. Will let you know when this is ready to be rolled out.

[2019-04-08 14:11] ms4720 commented on #10138
@suleymanakbas91 not in the next 4 weeks. Sorry things got in the way

[2019-04-08 14:23] liggitt commented on #12107
will add back a type alias

[2019-04-08 14:54] liggitt commented on #12107
type alias in https://github.com/kubernetes/kubernetes/pull/76270

[2019-04-08 15:43] ccojocar commented on #8468
@fejta I would be interested to move the admission webhook in a freestanding service. I'll prepare a PR in the next days. Do you have any additional considerations which I should take into account?

[2019-04-08 16:14] stevekuznetsov commented on #8468
Let's make sure we use the best practices from SIG api-machinery (libraries, etc) and document it for new users/setup

[2019-04-08 17:45] cblecker opened #12117 "prow/plugins/project: responds to every comment"
**What happened**:
The `project` plugin responds to every comment, including:
- comments that don't match the regex
- comments from the bot itself

This created a comment loop.

**What you expected to happen**:
Plugin would not respond unless a comment from a real user matched the regex.

**How to reproduce it (as minimally and precisely as possible)**:
Enable plugin, comment on any issue.

**Plea

[2019-04-08 17:45] cblecker commented on #12117
/assign @taragu

[2019-04-08 17:58] #5376 closed

[2019-04-08 19:27] garganubhav opened #12120 "Prow not working on new pr"
Hi, I am trying to deploy prow manually as described here - https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md, but it does not work at all when I open a new pr. I can't see a size label as well as anything on my dashboard? I am doing it exactly as described in steps.
Thanks.

[2019-04-09 00:53] cheftako opened #12127 "Add testgrid for Kubernetes deployable build on K8s/cloud-provider-gcp"
**What would you like to be added**:
Testgrid integration for  K8s/cloud-provider-gcp.
We added support for a Kubernetes deployable to GCE build with https://github.com/kubernetes/cloud-provider-gcp/pull/75.

**Why is this needed**:
We need testgrid integration as part of the cloud-provider extraction effort.
The cloud-provider-gcp build is intended to replace the in-tree GCE build.
We need an equ

[2019-04-09 00:53] cheftako commented on #12127
/assign @spiffxp

[2019-04-09 01:22] fejta commented on #6590
Here's the design I would like to see: https://docs.google.com/document/d/1O9edBOAU6D_Wqq-3lFI-si2lEAJwgrEbpwU9dgDjII4/edit?usp=sharing

This does not use kind, instead it translates the prowjob into the equivalent docker container and uses the command line to run it.

/assign

@figo how are things going on your end?

[2019-04-09 11:37] wojtek-t opened #12130 "No periodic jobs are running since ~15:30 PST Apr 8th"
As an example scalability jobs:
https://testgrid.k8s.io/sig-scalability-gce#gci-gce-scalability

Both nothing fired in prow since then:
https://prow.k8s.io/?type=periodic

@kubernetes/sig-testing @kubernetes/test-infra-maintainers

[2019-04-09 11:37] wojtek-t commented on #12130
/priority critical

[2019-04-09 11:37] wojtek-t commented on #12130
/priority critical-urgent

[2019-04-09 15:55] #10123 closed

[2019-04-09 16:11] Katharine commented on #12130
This was caused by reverting a PR that had created a bug. Ironically, the revert triggered the bug on our instance.

I've fixed the issue, and periodic jobs are now running as expected.

[2019-04-09 16:11] #12130 closed

[2019-04-09 17:11] Katharine commented on #12071
Fixed by #12065.

[2019-04-09 17:11] #12071 closed

[2019-04-09 17:39] danwinship opened #12136 "Handling of vendor/.../OWNERS with rebases is annoying"
I keep getting automated review requests when people bump their kubernetes dependency in various openshift subprojects just because I'm listed as a reviewer in a few parts of the kubernetes tree.

eg, https://github.com/openshift/service-ca-operator/pull/40, https://github.com/openshift/kubernetes-autoscaler/pull/76, https://github.com/openshift/console-operator/pull/163, https://github.com/opensh

[2019-04-09 18:37] fejta opened #12137 "Unit test prow flags"
We should validate that flag values work as expected.

See https://github.com/kubernetes/test-infra/blob/86a523febb3c6af836859dda5624dcbea7204f7a/prow/cmd/build/main_test.go#L25-L66 for an example of what this will look like

Also likely will require passing in a flagset and args to the gather method: https://github.com/kubernetes/test-infra/blob/86a523febb3c6af836859dda5624dcbea7204f7a/prow/cmd/b

[2019-04-09 18:37] fejta commented on #12137
/help
/good-first-issue

Good opportunity to learn about various pieces of the system!

[2019-04-09 19:06] garganubhav commented on #12120
Hi, thanks for reply.
Yes for first question. But nothing is shown on prow dashboard except echo test.
Headers
`Request URL: http://34.95.78.25
Request method: POST
content-type: application/x-www-form-urlencoded
Expect:
User-Agent: GitHub-Hookshot/38ab7f6
X-GitHub-Delivery: fe43e610-5af9-11e9-8c76-109449048b0e
X-GitHub-Event: pull_request
X-Hub-Signature: sha1=33438b713e55ce36c85df81c97f723232aab

[2019-04-09 19:22] cblecker opened #12138 "prow: should the bot process comments from itself?"
Should the bot process comments that come from itself? Right now a couple plugins (`sigmention`, `trigger`, and soon `project`) have checks that if the comment comes from the bot, ignore it. Should this be something across the board?

There's a potential for functionality breaks:
- Someone using something in a way we don't intend
- Folks using the same token for a commenter, that they use for thei

[2019-04-09 19:22] cblecker commented on #12138
ref: https://kubernetes.slack.com/archives/CDECRSC5U/p1554836885217700

[2019-04-09 20:01] nzoueidi commented on #9628
Sorry for the delay, I have been out in vacation. 🎉
I would like to propose an approach here before doing all of the coding..
I am thinking about adding another function in the `badge.go` file to have a sort of struct including all the latest 8 jobs and their status. Based on these status the func will have a boolean output then I can add it in the if statement (L124) in the `renderBadge` func. WD

[2019-04-09 20:30] figo commented on #6590
i have not writing anything yet beside i am practicing it with KIND approach, your design doc is good place for discussions, i will join there.

[2019-04-09 23:46] stevekuznetsov commented on #12120
Could you turn your `hook` log level to `debug` (in `config.yaml`) and post the logs from `hook`?

[2019-04-09 23:48] stevekuznetsov commented on #9628
How do you propose to take the last eight jobs and determine the boolean output? The approach roughly sounds good to me!

[2019-04-09 23:49] stevekuznetsov commented on #12136
Great questions, Dan.

/cc @cjwagner @fejta

[2019-04-09 23:50] stevekuznetsov commented on #12136
Didn't `kubernetes/kubernetes` just take a different approach to handling changes to `vendor/`? @liggitt @cblecker

[2019-04-09 23:54] stevekuznetsov commented on #10665
@calvinmorrow sorry! This fell through the cracks

[2019-04-09 23:55] stevekuznetsov commented on #10665
/remove-lifecycle stale

[2019-04-09 23:57] stevekuznetsov commented on #10665
Yes, right now we do not support mutli-container jobs. There is an open issue https://github.com/kubernetes/test-infra/issues/10946 to support using the cloning utility without the GCS bits.

[2019-04-09 23:59] liggitt commented on #12136
Not as relates to this. I wouldn't expect OWNERS files within a component inside vendor to do anything inside a repo.

[2019-04-10 00:10] garganubhav commented on #12120
sorry, I don't see any `hook` key in config.yaml, I am following this https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#add-more-jobs-by-modifying-configyaml

[2019-04-10 00:10] cblecker commented on #12136
Well we moved to generate vendor using go modules instead of godep.. but other than that, we're not really doing anything different. IMO, OWNERS files in subdirs of vendor should be ignored. I know we have `OwnersDirBlacklist`, but I don't know if it'll do the trick:
https://github.com/kubernetes/test-infra/blob/ef11decebeaf73a4b0f5aeff44f0f348cf0eb8ec/prow/config/config.go#L112-L114

I know in k/

[2019-04-10 03:01] hemanik commented on #12137
@fejta, would like to pick this.

[2019-04-10 16:49] stevekuznetsov opened #12148 "horologium: allow users to request jittered schedules"
When there are hundreds of periodic jobs all running on similar intervals and many get scheduled at once, or when there are hundreds of periodic jobs using crontabs, there will be thundering herds:

![image (1)](https://user-images.githubusercontent.com/7328370/55897653-ca02e780-5b75-11e9-94e5-648c8c5a8658.png)

We should allow users to opt into jitter on their jobs when they can tolerate off-sche

[2019-04-10 17:20] stevekuznetsov opened #12150 "Token path flags not correctly deprecated"
[code]

[code]

/cc @fejta
/area prow

[2019-04-10 17:21] stevekuznetsov commented on #12150
Wait, this just straight up doesn't work

[code]

[2019-04-10 17:28] stevekuznetsov commented on #12150
Trying to pass both ...

[code]

[2019-04-10 17:31] stevekuznetsov commented on #12150
nevermind ... `--dump` requires an argument and the flag parser isn't smart enough to handle this case
/close

[2019-04-10 17:31] #12150 closed

[2019-04-10 22:09] midnightconman opened #12155 "Planter.sh Needs to Use 0.23.0 To Build Prow"
**What should be cleaned up or changed**:
[This](https://github.com/kubernetes/test-infra/blob/master/planter/planter.sh#L47) should be upgraded to version `0.23.0`, so we can build prow.

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/master/planter/planter.sh#L47

[2019-04-11 01:38] michelle192837 commented on #10701
/remove-lifecycle stale

[2019-04-11 17:39] cblecker commented on #8919
/remove-lifecycle rotten

[2019-04-11 18:02] #12045 closed

[2019-04-11 21:01] fejta opened #12172 "Fix any jobs that currently need `privileged: true`"
https://github.com/kubernetes/test-infra/pull/12140 removed privilege from a lot of jobs.

Tracking issue to identify any jobs that unintentionally started failing because of this switch, so we can figure out how to fix them.

[2019-04-11 21:03] tony-yang commented on #2364
The timezone toggle switch (located beside the `Graph` button) and an option in config named `display_local_time` are now live. By default local time is turned on. Users can either switch back to PST during the session by clicking the toggle switch, or make a permanent switch using the config by setting the `display_local_time` attribute to `true` or `false`.

[2019-04-11 21:09] fejta commented on #12172
Monitoring:
* https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=presubmit (top priority as this suggests we can't merge)
* Most likely other source of failure: https://prow.k8s.io/?type=periodic

[2019-04-12 08:42] rverma-nikiai commented on #11260
Are we accepting pull request for s3. We can implement blob_store_configuration(interface) to replace the gcs_configuration. With aws as one of implementation.

[2019-04-12 09:30] rverma-nikiai commented on #10821
@nzoueidi @fejta how about mounting the kubeconfig file directly to components like plank. Even with that, another issue is the addition of exec utils like aws-iam-authenticator.  I believe we should be able to work around that by copying the binary using init container.

Also as per documentation
[code]
I am wondering which other components may require to talk to external api server. I read that

[2019-04-12 19:30] johnSchnake opened #12184 "Typo in job configuration"
**What happened**:
Job repeatedly failed due to a mistyped flag in the configuration.

**What you expected to happen**:
Job continues as normal, flag typed correctly.

**How to reproduce it (as minimally and precisely as possible)**:
Trigger the pull-kubernetes-e2e-gce-storage-slow job on a k8s PR

**Please provide links to example occurrences, if any**:
https://github.com/kubernetes/test-infra/bl

[2019-04-12 19:50] #12184 closed

[2019-04-12 22:10] #8299 closed

[2019-04-14 01:04] fejta opened #12195 "Make bootstrap_test pass remotely"
[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-test-infra-bazel-rbe/1117126460855816201

[2019-04-14 01:05] fejta commented on #12195
Appears we may need to use an image that has git

[2019-04-14 16:05] stevekuznetsov commented on #10434
A CLI to verify existing owners would be useful!
/remove-lifecycle rotten

[2019-04-14 20:56] #10153 closed

[2019-04-15 02:01] #10085 closed

[2019-04-15 12:49] parispittman commented on #11994
/help

[2019-04-15 13:14] nikhita commented on #10834
This is done in https://github.com/kubernetes/test-infra/pull/10835.

/close

[2019-04-15 13:15] #10834 closed

[2019-04-15 14:20] nikhita commented on #11402
These are done

Is this done?

[2019-04-15 14:50] #12117 closed

[2019-04-15 15:08] nikhita commented on #3083
Yup. Thanks Ben and Guin! :)

/close

[2019-04-15 16:21] danwinship commented on #12136
Putting `vendor` into `OwnersDirBlacklist` would make `vendor/OWNERS` be ignored too.

I can't figure out if doing

    filters:
      "vendor":
        approvers:
        - dep-approvers

in the top-level `OWNERS` would work as a replacement for `vendor/OWNERS`.

[2019-04-15 17:01] nikhita commented on #11054
PR is here: https://github.com/kubernetes/test-infra/pull/12204

email to k-dev: https://groups.google.com/d/topic/kubernetes-dev/9ps8uNXJ10k/discussion

[2019-04-15 17:04] BenTheElder commented on #3083
FWIW last I saw still it was still not enabled generally.

On Mon, Apr 15, 2019, 08:08 Kubernetes Prow Robot <notifications@github.com>
wrote:

[2019-04-15 18:35] nikhita commented on #3083
/reopen

[2019-04-15 18:36] nikhita commented on #3083
Will follow up on this next week

[2019-04-15 19:07] chaodaiG opened #12207 "decoration_config doesn't override timeout from default_decoration_config"
**What happened**:

Prow config:
[code]

Defined timeout override with `decoration_config` while on old Plank version, the job didn't run with timeout 288. But it's still using old timeout after updating Plank to latest version
[code]

**What you expected to happen**:

The job config use 2880000000000 as timeout in Prow job
[code]

**How to reproduce it (as minimally and precisely as possible)**:

[2019-04-15 19:15] cblecker commented on #12136
The other way we could possibly do it is adding an option like `no_parent_owners` that would ignore any child owners files below that one. I don't know how complicated that would be code wise, though.

[2019-04-15 19:32] cjwagner commented on #12207
It is expected that reruns of a ProwJob with the wrong timeout will continue to run with the wrong timeout. Reruns run the job exactly as it existed previously without any changes that have been made since then. I can see that the Job appears to be configured correctly now at https://prow.knative.dev/config
Please update to a recent version of plank and the pod utilities to see if that fixes the p

[2019-04-15 20:08] cjwagner commented on #9121
Already done: https://github.com/kubernetes/test-infra/blob/ae2330f210f68aa28e14ac928b6b650e947bff00/testgrid/config.yaml#L2191-L2194

We could probably tighten the alert window now.
/shrug

[2019-04-15 20:08] #9121 closed

[2019-04-15 23:41] davidz627 commented on #10647
/remove-lifecycle stale

[2019-04-16 00:40] stevekuznetsov opened #12216 "tide: failed batches should re-trigger only failed presubmits"
When `tide` determines than an in-progress batch has failed due to one or more presubmits in the batch failing, it re-triggers all of them. When a batch contains a perma-failed test, this causes `tide` to re-trigger batches on every sync. When other jobs in the batch require third-party resources like cloud computing quota, the issue quickly balloons. `tide` should re-trigger only the jobs it need

[2019-04-16 00:40] stevekuznetsov commented on #8567
We should rename this issue to "Prow misuses the pushgateway" -- we should be fine to not use it all

[2019-04-16 00:51] cjwagner commented on #10153
/shrug

[2019-04-16 11:25] dims commented on #11038
this is off to the weeds :)

/close

[2019-04-16 11:25] #11038 closed

[2019-04-16 13:35] mukesh-panigrahi opened #12218 "PRs under Prow needs manual update with master after Branch protection enabled"
Hello I am working on setting up a Prow cluster recently, where I do a 'source to deploy' kind of thing with the app code.

One challenge I am facing (maybe I need to change some settings in prow or Github repo side) is when I raise multiple PRs, all my builds pass individually. I have branch protection enabled to the repo where I have checked the box for 'Require branches to be up to date before

[2019-04-16 16:16] stevekuznetsov commented on #12218
Don't enable that feature. If the branch your PR is proposing cannot be automatically merged, it will require a rebase, if not, `git` will handle everything. The `tide` automation ensures that your commits are tested against the latest version of the target branch you're trying to merge into, which is a _stronger_ version of the "up to date" feature that GitHub has implemented, so the GitHub optio

[2019-04-16 17:04] cjwagner commented on #12218
See number 5 here for more details: https://github.com/kubernetes/test-infra/blob/master/prow/cmd/tide/maintainers.md#best-practices

[2019-04-16 17:16] stevekuznetsov commented on #11260
@rverma-nikiai sure thing! Let's start with a design document that would outline the approach you want to take, focusing on the interface that would unite the storage systems as well as the migration path for current  deployments.

[2019-04-16 17:20] stevekuznetsov commented on #10821
Mounting the kubeconfig via secret is appropriate. If we want to support third party auth we could either publish variants of the images with the appropriate binaries or as you say the deployments could use an init container to inject the binaries as needed.

[2019-04-16 17:31] nikhita commented on #10226
Related https://github.com/kubernetes/kubernetes/issues/76269#issuecomment-483069884

[2019-04-16 18:02] nikhita opened #12225 "Don't add needs-ok-to-test label if no prow jobs are defined for the repo"
To be able to enable the `trigger` plugin throughout the Kubernetes org, we need to make sure that repos which don't configure prow jobs don't automatically get the `needs-ok-to-test` label on their PRs.

The label doesn't really have any meaning without prow jobs anyway.

Slack thread - https://kubernetes.slack.com/archives/C1TU9EB9S/p1555437199076700

/cc @cblecker @fejta @cjwagner

[2019-04-16 18:35] #12225 closed

[2019-04-16 22:30] cjwagner commented on #12136
Easiest option might be to make `OwnersDirBlacklist` treat values as regular expressions instead of literal directory paths. That isn't technically backwards compatible, but I think it would be fine.
We could then add a `^/vendor/.+/` entry to `OwnersDirBlacklist` to ignore OWNERS files under `/vendor/` except for `/vendor/OWNERS`.

[2019-04-17 00:01] midnightconman opened #12233 "Expose "Changed Files" Through Downward API to (Pre|Post)submit Jobs"
**What would you like to be added**:
I would like to be able to see which files were changed in a PR in my post and presubmit jobs, if the job is using the `run_if_changed` option. I spoke with @stevekuznetsov and he would like this to be available through the downward api. :smile:

**Why is this needed**:
This makes it _much_ easier for jobs to only act on changed assets, the first use case that

[2019-04-17 03:12] cblecker commented on #12136
I'm good with that approach too

[2019-04-17 05:34] stevekuznetsov commented on #12136
That's only backwards incompatible to people who have directories or files that are named valid regex, so I think that's fine

[2019-04-17 17:27] jberkus opened #12240 "Prevent auto-close of some issues on "fixes" PR"
Per discussion on kubernetes-dev and elsewhere:

Currently, due to Github built-in, non-configurable functionality, "fixes #9999" in the body of the PR description will auto-close the named issue when the PR merges.  There are some specific cases where we don't want this to happen for Release management:

1. If the issue & PR is related to a failing test, we do not want the issue to close until th

[2019-04-17 18:34] jberkus commented on #12240
attn:
@nikhita @fejta @claurence @alejandrox1 @imkin
/priority important-longterm

[2019-04-17 18:38] johnbelamaric commented on #12240
In the conformance work, we see #2 happen because we are using tracking issues to manage the promotion and creation of conformance tests in different areas. I think though that the easiest remediation for this is just to tell the author not to say "fixes" for a tracking issue. Maybe some simple check on the title ("Tracking Issue" or "Umbrella Issue") to identify issues that should not be auto-clo

[2019-04-17 18:43] nikhita commented on #12240
/sig release
/sig contributor-experience

/cc @cblecker @justaugustus

[2019-04-17 18:44] nikhita commented on #12240
xref https://groups.google.com/d/msg/kubernetes-dev/MOnwc8_76wo/546zDpEsBwAJ

[2019-04-17 20:31] dims commented on #9814
/close

we don't need this right @gyuho ?

[2019-04-17 20:31] #9814 closed

[2019-04-17 20:42] BenTheElder commented on #12240
we could also consider just not suggesting that people do this in the PR template :upside_down_face:

[2019-04-17 20:46] stevekuznetsov commented on #9867
/remove-lifecycle stale
/cc @cjwagner

[2019-04-17 21:36] cjwagner commented on #9867
See https://github.com/kubernetes/test-infra/pull/12230#issue-271091036
I think that we'll need to recreate the cluster to disable legacy authentication. If that is the case then this is probably something we should change when switching to a CNCF owned Prow cluster.

[2019-04-17 21:58] spiffxp commented on #10065
/lifecycle frozen

[2019-04-17 22:00] spiffxp commented on #11628
/close
This is no longer happening

[2019-04-17 22:00] #11628 closed

[2019-04-17 22:01] spiffxp commented on #9208
/remove-lifecycle stale
/unassign
in case someone else wants to give this a shot

/milestone v1.15
this is on my radar for v1.15

[2019-04-17 22:04] spiffxp commented on #3151
/unassign
in case someone else wants to give this a shot

/milestone someday
I'm not sure I can commit to this in v1.15 but I don't want to clear milestone just yet

[2019-04-17 22:05] spiffxp commented on #5231
/unassign
in case someone else wants to give this a shot
/remove-lifecycle stale
/milestone v1.15
this is on my radar for v1.15

[2019-04-18 00:08] stevekuznetsov commented on #9867
Oh I thought you had enabled RBAC when the migration happened between versions

[2019-04-18 00:09] stevekuznetsov commented on #9867
Do you imagine that will be hard to do in the current cluster? Why?

[2019-04-18 00:13] stevekuznetsov commented on #12233
What format do you want them available in?

[2019-04-18 00:16] stevekuznetsov commented on #10754
/remove-lifecycle stale

[2019-04-18 00:40] cjwagner commented on #9867
I thought we'd need to recreate the cluster to disable legacy authentication. It looks like that might not be true though.

[2019-04-18 00:57] midnightconman commented on #12233
Ohh, that's an excellent question. I really only need to know which files have changed, not _how_ they have been patched, so I would be happy with a json array of changed files. I notice that this already exists: https://github.com/kubernetes/test-infra/blob/master/prow/github/types.go#L266 (PullRequestChange), which for my uses would be overkill.

I would love to have something in https://github.

[2019-04-18 18:42] puncharan opened #12262 "Prow issue:"

[2019-04-18 21:10] fejta commented on #10465
https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#tackle-deployment will walk you through deploying prow into your cluster.
/close

[2019-04-18 21:10] #10465 closed

[2019-04-18 22:41] cblecker opened #12265 "prow: review use of `ListStatus` endpoint"
**What should be cleaned up or changed**:
The use of `github.ListStatuses` should be reviewed in each different place it's used, and a decision made on a case by case basis if it's better to keep `ListStatuses` or use `github.GetCombinedStatus` instead.

`ListStatuses` will list all status posted for a specific SHA. This will include all test failures, retests, and changed status contexts for a co

[2019-04-18 23:11] justaugustus opened #12266 "Add some notes correlating enabling plugins and GH token usage"
**What should be cleaned up or changed**:
Just a follow-up from @cjwagner's comment on #12247:

Can we write a quick blurb that captures this info?

/area prow
/help

[2019-04-18 23:14] justaugustus commented on #12266
/remove-kind cleanup
/kind documentation

[2019-04-19 01:03] cblecker commented on #12240
Another way of handling this:
Have a "keep open" or "prevent close" label.. then run a search query for `is:issue is:closed label:prevent-close` and re-open those issues. Then no matter what is trying to close things, they'll get re-opened if GitHub closes them, rather than preventing PRs from merging in the first place.

cc @fejta who might have opinions on this.

[2019-04-19 01:31] cblecker commented on #6289
/remove-lifecycle rotten

The biggest use case for this is where you want to require using tide for merging, and not show the green button when tests are passing, but other conditions (like required/missing labels) aren't met.

[2019-04-19 02:48] cblecker commented on #10845
/remove-lifecycle stale

[2019-04-19 05:20] cblecker commented on #12265
/cc @kubernetes/sig-testing
/help

[2019-04-19 12:38] nikhita commented on #10845
lol...practically speaking, this would require a change to the cat api, right?

[2019-04-19 15:07] Katharine commented on #10845
Nah, we'd just need to explicitly catch "no" and point it at a hardcoded URL.

[2019-04-19 15:22] stevekuznetsov commented on #12265
Depending on which direction things paginate, it's possible we get ghproxy to cache pages of the list call but since the combined status call will always be generated from the latest output it will not be cached unless nothing changed.

[2019-04-19 17:15] cjwagner opened #12276 "ProwJobs failing to to fetch new git refs."
We have recently been encountering lots of errors in CI when our presubmit/PullRequest jobs try to merge the most recent commit from the PR into master before testing. The basic flow is:
1) We get a PullRequest open or synchronize webhook from GitHub indicating that there is a new PR commit for us to test.
2) We trigger testing jobs parameterized by the git ref we got from the webhook (the new PR

[2019-04-19 18:04] stevekuznetsov commented on #12276
Can we grab, for maybe five of these cases, a timestamp for:

 - the moment `hook` gets the webhook
 - the moment we publish the `ProwJob` CRD
 - the moment we fail to pull the commit down in the refspec

To better identify how long of a period there is between the first and last parts, and if we can reasonably just add a configurable lag to `trigger` plugin to fix this

[2019-04-19 18:05] stevekuznetsov commented on #12276
Also, anecdotally I would expect the process to take a while -- scheduling a new pod, etc -- so communicating to GItHub how bad their race is would help, instead of just being asked from their end to wait.

[2019-04-19 18:08] stevekuznetsov commented on #10840
/remove-lifecycle stale

[2019-04-19 18:52] #10493 closed

[2019-04-19 18:57] pjh commented on #11631
One of our test jobs seems to be stuck again: https://testgrid.k8s.io/google-windows#windows-prototype&width=20. The last run completed two days ago at 7:30pm (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-poc/1118702928622784515).

@krzyzacy could you kick our job to get it started again? I'm actively making changes targeting that test job...

Then, what shoul

[2019-04-19 19:01] cblecker commented on #12265
Calls to ListStatuses are in reverse chronological order. So as soon as there is a new check, the content of the call will change, and the cache will be invalid.

[2019-04-19 20:31] spiffxp commented on #12276
/sig testing
/area prow
/kind bug
/priority important-soon
(seems to be causing pain lately)

[2019-04-19 20:46] fejta opened #12282 "Migrate jobs to use RBE (and away from greenhouse)"
Right now some jobs use no remote caching, others use greenhouse.

Migrate all of this to use our RBE config.

`bazel test --config=remote --config=remote=fejta //...` (see our repo's [bazelrc](/.bazelrc)) will cause bazel to execute these builds remotely.

Work started: https://github.com/kubernetes/test-infra/pull/12072

/assign

test-infra jobs that should be on RBE

- [x] verify-gofmt.sh - htt

[2019-04-19 21:19] spiffxp opened #12284 "azure credentials for prow security job cluster"
**What should be cleaned up or changed**:
https://github.com/kubernetes/test-infra/pull/12010 adds a pull-kubernetes-e2e-aks-engine-azure-windows job, as well as a generated security variant

I think (but don't have the credentials to say for certain) that the security cluster doesn't have credentials to satisfy any job using `preset-azure-acsengine: "true"`, and so this presubmit will likely fail

[2019-04-19 22:24] stevekuznetsov commented on #12276
FWIW this may also be good feedback for GitHub since this is a recent change in the process, we were not hitting this with any regularity.

[2019-04-19 22:47] cjwagner commented on #12276
Times are in UTC

| PJ | Date | Webhook received | ProwJob CRD published | Git fetch start time | Delta |
| -- | ----- | ------------------- | ------------------------ | --------------- |----- |
| [`a82ce2f6-6109-11e9-a707-0a580a6c1432`](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/76677/pull-kubernetes-bazel-build/1118486758636392448/) | 2019-04-17 | 12:09:30  | 12:09:31 | 12:10:2

[2019-04-19 22:50] stevekuznetsov commented on #12276
Thanks Cole, as expected those deltas are pretty huge. It is not clear we should be adding sleeps to our creation logic, it seems like ~1minute after a webhook fires for a ref being available it should be pullable.

[2019-04-19 23:23] BenTheElder commented on #4602
/remove-lifecycle rotten
/reopen
this is still true and still confuses developers

[2019-04-20 00:02] cblecker commented on #10519
/remove-lifecycle rotten

[2019-04-20 03:59] #9360 closed

[2019-04-20 23:11] #11054 closed

[2019-04-21 02:19] vishleshpatel commented on #10687
Hi @fejta, I would like to pick this one.

[2019-04-21 02:35] vishleshpatel commented on #10388
@stevekuznetsov if its okay for a newbie to learn system and work on it, then I would like to go ahead and pick this one up.

[2019-04-21 03:46] fejta commented on #10687
/remove-lifecycle stale

[2019-04-21 10:06] nikhita opened #12296 "Use k8s-triage-robot in lieu of fejta-bot for kubernetes issue/pr commenter jobs"
Background: @fejta-bot automatically marks issues as stale/rotten and closes them if they don't have any activity for certain number of days. It is an unprivileged user and is not a member of any of the Kubernetes GitHub orgs.

While enabling fejta-bot automation across all Kubernetes GitHub orgs, it was suggested to rename it to something "official": https://groups.google.com/d/topic/kubernetes-d

[2019-04-21 10:36] nikhita commented on #12262
This is not a valid issue.

/close

[2019-04-21 10:36] #12262 closed

[2019-04-21 20:11] fejta commented on #12296
`serious-fejta-bot` with a grumpy cat partially converted into a robot for it's profile pic

[2019-04-21 20:32] nikhita commented on #10553
Created PR: https://github.com/kubernetes/test-infra/pull/12297

[2019-04-21 20:42] nikhita commented on #5175
Created https://github.com/kubernetes/test-infra/pull/12297 to update the `verify-owners` plugin to ensure that all new users added to `OWNERS` and `OWNERS_ALIASES` files are org collaborators.

I'm happy to follow up on the original WIP PR https://github.com/kubernetes/test-infra/pull/6165, but wanted to double check if we still want to have this? I think it could be useful to audit old OWNERS fi

[2019-04-21 20:44] nikhita commented on #5175
/sig contributor-experience

[2019-04-22 14:34] nikhita commented on #10226
Related https://github.com/kubernetes/community/pull/3627

[2019-04-22 15:06] stevekuznetsov commented on #10388
@vishleshpatel hi! Totally :)

Job configuration holds information about the references that are under test and need to be cloned as well as any extra references that might be necessary for the job. Options for the the refs under test are in the `UtilityConfig`:

https://github.com/kubernetes/test-infra/blob/143a95a43bb70d540e021e23fd50db5020b30089/prow/config/jobs.go#L395-L406

You could add some

[2019-04-22 16:18] lavalamp opened #12303 "Prow issue: Feature branches: Superpowers shouldn't be necessary to merge master into a feature branch"
E.g., see https://github.com/kubernetes/kubernetes/pull/76902--even being in top level OWNERS isn't enough.

[2019-04-22 16:32] vishleshpatel commented on #10388
Thanks @stevekuznetsov for the pointers. I will take a look at it this week and ask questions if in need.

[2019-04-22 16:51] stevekuznetsov commented on #12303
Looks like the conformance test data directory has disallowed top level OWNERS from having powers there:

https://github.com/kubernetes/kubernetes/blob/c2254cf19a27adacbe61fd7505ee1a49d8292cb3/test/conformance/testdata/OWNERS#L5

Seems like you need to change that setting if you'd like top level OWNERS to approve there. Or, maybe that option should apply to all but the top-level OWNERS?

/cc @cjwa

[2019-04-22 17:16] hopkiw opened #12304 "Tide documentation on search query doesn't match github"
1) The `tide` docs specify that all queries configured in the `tide` section of `config.yaml` will be translated into github search query parameters. However, the example shown for branch whitelisting and blacklisting indicates that e.g. `includedBranches: <branch>` will be translated to a github search query of `branch:<branch>`[1]. This latter is not apparently a supported github search paramete

[2019-04-22 17:17] krzyzacy commented on #12304
cc @cjwagner @stevekuznetsov

[2019-04-22 19:06] taragu commented on #11766
/project test-infra-dummy-testing-project-plugin To do

[2019-04-22 19:29] chuckha opened #12309 "Image bumper required absolute paths"
**What happened**:
I ran image-bumper on some of my configs but I got the error that the file was not found. I ran it from the root of the project (test-infra/) following the README, like this:

[code]

but when I use absolute paths...

[code]

**What you expected to happen**:
The readme did not use absolute paths so I thought I could do the same.

**How to reproduce it (as minimally and precisely

[2019-04-22 20:28] taragu commented on #11766
/project test-infra-dummy-testing-project-plugin To do

[2019-04-22 20:30] #11766 closed

[2019-04-23 00:24] midnightconman opened #12312 "The Ability to Specify OAuth Authorization and Token URLs for Deck"
**What would you like to be added**:
I would like to be able to override the default github oauth2 `github.Endpoints`, so I can use pr-status with github enterprise installations.

The defaults are:
[code]
https://godoc.org/golang.org/x/oauth2/github

Here is where the defaults are in deck:
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/main.go#L361

**Why is this needed**:
Wit

[2019-04-23 05:04] fejta commented on #10226
I'm against this in principle.

Gaining the authority to make decisions should come paired with the burden of reviewing PRs related to those decisions.

Otherwise there's no cost associated with being an approver and so it becomes a status symbol.

[2019-04-23 15:59] yujuhong commented on #11631
The pod was killed but we didn't have time to gather more information (and not sure if anyone was around to help root cause this).
I'll close this bug for now, and open it if/when we hit it again.

[2019-04-23 16:44] cjwagner commented on #12304
The documentation has a mistake. `includeBranches` is translated to `base:` search query tokens, not `branch:`. See here: https://github.com/kubernetes/test-infra/blob/e28581a6fca499b625cfbe5d79cbf29d00c5c2ec/prow/config/tide.go#L176-L178

The client side filtering you see is not responsible for the main functionality of `includeBranches` the client side filtering is only part of the status contro

[2019-04-23 17:08] cjwagner commented on #12303
I think the most common use case for `no_parent_owners` is to specifically avoid including the top level OWNERS so I don't think we should change the functionality.

If top level OWNERS should be able to approve that directory it should not have `no_parent_owners` set or the same users should be included in the testdata OWNERS files (perhaps via an OWNERS alias).

[2019-04-23 17:28] hopkiw commented on #12304
Thanks!

[2019-04-23 17:28] #12304 closed

[2019-04-23 17:29] cjwagner commented on #12276
Here are the webhook payloads for the webhooks listed above.

### a6e66df0-6109-11e9-972b-909f09fe26d6
<details>

[code]

</details>

### 16184930-6102-11e9-8c0c-c54947ce03c0

<details>

[code]

</details>

### 6163ebb0-5f0e-11e9-8afd-116764acba9e

<details>

[code]

</details>

[2019-04-23 17:46] taragu commented on #11766
/project test-infra-dummy-testing-project-plugin To do

[2019-04-23 18:51] midnightconman opened #12328 "Unable to Test Master - License Verification Issue testgrid"
**What happened**:
I am unable to run `./planter/planter.sh bazel test //...` on master. I am using planter with a version of `0.24.0`. When I test master, I get the following error:

[code]

[code]

**What you expected to happen**:
I expected tests to pass on master.

**How to reproduce it (as minimally and precisely as possible)**:
1) Clone master
2) Update `planter/planter.sh` to `0.24.0` (on l

[2019-04-23 18:52] midnightconman commented on #12328
/cc @fejta

[2019-04-23 20:02] midnightconman commented on #11224
After looking at this for a while, it seems the best course of action is to allow overriding of oauth2 `auth_url` and `token_url`... I have an issue open for this specific change: https://github.com/kubernetes/test-infra/issues/12312

[2019-04-24 01:08] midnightconman commented on #12328
I just rebased from master and it is passing tests now. I'll close this.

[2019-04-24 01:08] #12328 closed

[2019-04-24 03:02] xiuqiaoli opened #12331 "Prow suggests approver from not necessary parent OWNERS"
**What happened**:
Hi, I have a PR to make changes for the files under kubernetes/pkg/scheduler. From my reviewer's view, it should be enough after approved by the people belong to pkg/scheduler/OWNERS.

However, the k8s-ci-robot suggests the approvers from pkg/OWNERS before merging the PR.

I am not sure whether it is designed to do so or it is a bug. Thanks.

**What you expected to happen**:
App

[2019-04-24 03:04] xiuqiaoli commented on #12331
/cc @spiffxp @bsalamat

[2019-04-24 03:54] fejta commented on #12331
Given all the force pushes it's hard to determine what files were present in the initial PR...

[2019-04-24 03:56] fejta commented on #12331
Looks like the current files are:

[code]

Which I agree should pick up pkg scheduler

[2019-04-24 04:29] xiuqiaoli commented on #12331
Thanks for your quick response, @fejta. What should I do next to correct the situation? Should I tell someone under pkg/OWNERS about this and ask them to approve or the robot's decisions can be modified?

[2019-04-24 05:17] fejta commented on #12240
What are some examples where this has been a problem?

[2019-04-24 06:50] Huang-Wei commented on #12331
@fejta It seems irrelevant with "forced" push. And actually, almost all recent scheduler PRs don't respect OWNERS.

https://github.com/kubernetes/kubernetes/pull/76973 is another data point.

[2019-04-24 09:32] nikhita commented on #12331
Not sure if it's related (I don't see how it could be)...but there was an indentation error in `OWNER_ALIASES` introduced in https://github.com/kubernetes/kubernetes/pull/76736 (merged 6 days ago) that was fixed in https://github.com/kubernetes/kubernetes/pull/76947 (merged 7 hours ago).

Looks like https://github.com/kubernetes/kubernetes/pull/76883 is a recently approved PR (1 hour ago) touching

[2019-04-24 15:17] Huang-Wei commented on #12331
@nikhita Thanks for the info (although I'm still confused why kubernetes/kubernetes#76947 helps).

After rebasing with latest code, and do a force-push, it works now!! See https://github.com/kubernetes/kubernetes/pull/76973.

[2019-04-24 15:23] Huang-Wei commented on #12331
Oh I see why it works... Actually, I did notice the yaml indent error yesterday. And doing a pull from master eliminates that indent error, so I "thought" it's just my local master too fall behind.

(So it turns out prow will check the (OWNERS) files in your <pr branch>)

[2019-04-24 15:40] nikhita commented on #12331
Ugh yeah, this is true...it checkouts the code in your PR in the plugin.

[2019-04-24 16:55] nikhita commented on #12331
Looks like the main issue is solved. Closing.

Please reopen if needed.

/close

[2019-04-24 16:55] #12331 closed

[2019-04-24 17:01] nikhita commented on #5175
/cc @mrbobbytables ^^

[2019-04-24 20:03] stevekuznetsov commented on #12309
I think this is some absurd quirk of `bazel` but if you run anything through it, you need absolute paths. The tool itself should handle relative paths without issue.

/assign @Katharine
/kind documentation

[2019-04-24 22:34] yujuhong opened #12340 "Request to bump the kubetest image"
There is an open issue #10958 to build and bump the images automatically, but unfortunately this has not been implemented yet.

Could we build and push a new image to pick up change #12234? Thanks.

/cc the current test-infra-oncall @fejta

[2019-04-25 02:40] xiuqiaoli commented on #12331
It also works for me. Thanks.

[2019-04-25 03:26] cblecker opened #12346 "Deprecate old reviewer functionality in blunderbuss"
Follow up to https://github.com/kubernetes/test-infra/pull/12345

cc: @stevekuznetsov @cjwagner

[2019-04-25 06:34] rverma-nikiai commented on #11260
@stevekuznetsov may be the suggestion of @apesternikov would be a better approach. I think the target is finally to reduce the direct dependency on package "cloud.google.com/go/storage". We can also implement a generic storage interface to achieve the same.
I have created a small doc at https://docs.google.com/document/d/1lAEfYW7xkn1IrW3GKh1WsWb1jxMB4RMrLVsZvXkKBHA/edit.

I would be able to evolve

[2019-04-25 09:53] rverma-nikiai commented on #10821
@nzoueidi We would love to help in early testing if you have some alpha build available for this.

[2019-04-25 11:11] mukesh-panigrahi commented on #12218
Ok. Got it. will look into it.

One more quick query, is there any provision in prow where we can state the order of job to execute.
Eg. if my job 1 succeeds (which is unconditional in nature) it should trigger my second job specified automatically. or before other way round if job 2 fails it should rerun job 1 followed by job 2.

I have few logics in my code, which makes sure that if last build w