[2017-06-05 17:22] spiffxp commented on #2504
we lack documentation on what "standard" means, ref kubernetes/kubernetes #34255

kubernetes-dev thread: https://groups.google.com/d/msg/kubernetes-dev/0rTJ6wjcitg/VNH8fKArAAAJ

[2017-06-05 17:47] grodrigues3 commented on #2868
Sounds like the right policy to me.  Balances our visibility goals with project velocity.  Thanks @dchen1107

[2017-06-05 17:54] apelisse commented on #2868
I ran in dry-mode, here is the list of affected pull-requests:
[code]

That's 117.

[2017-06-05 18:42] dchen1107 commented on #2868
@apelisse I just applied /approve no-issue to PR: https://github.com/kubernetes/kubernetes/pull/46539 Can we dry-run one more time to see if that pr is removed from above list.

The release team should manually scan through above list anyway. For example
PR https://github.com/kubernetes/kubernetes/pull/41622 requires a rebase since Feb, but no action. But now it is blindly marked with 1.7 release.

[2017-06-05 18:45] apelisse commented on #2868
PR is still approved in dry-run, with the following message:

[2017-06-05 18:55] mml opened #2962 "Add CNCF contact information to k8s-ci-robot CLA message"
Exactly this text.

[code]

Would also be nice to add that text to the FAQ https://github.com/kubernetes/kubernetes/wiki/CLA-FAQ.

ref. kubernetes/kubernetes#42409
cc @cblecker

[2017-06-05 19:01] cblecker commented on #2962
Easily done, and you're right, is a good change.
/assign

[2017-06-05 19:39] apelisse commented on #2868
Dawn will re-approve issues. Deploying now.

[2017-06-05 21:13] dchen1107 opened #2965 "1.7 Release Testing Infrastructure"
The [1.7 branch](https://github.com/kubernetes/kubernetes/tree/release-1.7) has been cut and we're off! Let's get the release infra going so we can be confident in the quality of the release.

I'm going to send an email to SIG leads to find out what additional tests we should be running and will update this when I hear back.

The following tests should be setup to be run on the 1.7 release branch:

[2017-06-05 22:22] timstclair commented on #2868
The regex doesn't match issues that are referenced in URL format, even though they look the same from github's perspective. Ex:

`https://github.com/kubernetes/test-infra/issues/2868`: https://github.com/kubernetes/test-infra/issues/2868
`#2868`: #2868

Or:

`https://github.com/kubernetes/features/issues/22`: https://github.com/kubernetes/features/issues/22
`kubernetes/features#22`: kubernetes/fea

[2017-06-05 23:26] foxish opened #2969 "Mungegithub using up github tokens quickly"
Looks like it sleeps for around 20 minutes in each hour.

[code]

/cc @rmmh @fejta @grodrigues3 @apelisse

[2017-06-05 23:32] foxish commented on #2969
cc @kubernetes/sig-contributor-experience-bugs

[2017-06-06 00:34] grodrigues3 commented on #2868
Reran with the fix that @apelisse wrote.  Looks like the bot readded the approved label to
60+ PRs.

https://pastebin.com/ffnnCjCF

[2017-06-06 01:08] spxtr commented on #2041
@kargakis out of interest, 1) what is lacking with helm that makes you say this, and 2) what other installation method would you like to see?

[2017-06-06 05:55] luxas opened #2975 "The approval bot doesn't recognize references to other repos"
Happened for instance in https://github.com/kubernetes/kubernetes/pull/46745#issuecomment-306377228, where there is a "fixes: " link to an issue in the kubeadm repo.

cc @dchen1107 @grodrigues3 @apelisse @kubernetes/sig-contributor-experience-bugs

[2017-06-06 08:57] kargakis commented on #2041
Helm adds additional dependencies on the cluster (Tiller). The current installation of k8s manifests is OK, once we have [native k8s Templates](https://github.com/kubernetes/community/blob/548eb7292d45a4af78e0141d33094130dfe6080a/contributors/design-proposals/templates.md), that could also be an option.

[2017-06-06 15:02] apelisse commented on #2975
Yeah, sorry about that, we've made a fix quickly yesterday but couldn't find the time to redeploy the queue. I'll do it now.

[2017-06-06 16:37] apelisse commented on #2975
Fixed by #2968

[2017-06-06 16:37] #2975 closed

[2017-06-06 20:46] timstclair opened #2987 "[Feature Request] PR Dashboard: Display milestone"
Around release time, it would help prioritize PR reviews if it was easy to see which PRs were targeted at the current milestone in the PR dashboard.

[2017-06-07 21:06] krzyzacy opened #2996 "Migrated prow jobs does not keep the Jenkins build number"
Basically testgrid will not display newer entries. We should either somehow let tot start with a specific build id, or sort testgrid entries by build time?

The renamed jobs are fine.

ref https://github.com/kubernetes/test-infra/pull/2936

cc @wonderfly
/assign
/assign @rmmh @spxtr

[2017-06-07 21:16] wonderfly commented on #2996
cc @kewu1992 Would this impact our release dashboard?

[2017-06-07 21:16] rmmh commented on #2996
Which jobs in particular are having problems?

[2017-06-07 21:18] krzyzacy commented on #2996
https://k8s-testgrid.appspot.com/google-gci-dev the ones without a dot

[2017-06-07 21:32] kewu1992 commented on #2996
@krzyzacy What do you mean 'it won't display newer entries'? Does it mean it will start counting from 0?

[2017-06-07 21:39] krzyzacy commented on #2996
@kewu1992 yes, we are trying something

In the meantime you can mornitor jobs from places like:
http://prow.k8s.io/?type=periodic&job=ci-kubernetes-e2e-gce-gci-qa-m59
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-qa-m59/?before=60

[2017-06-07 22:23] spiffxp commented on #2789
FWIW I question whether we're going to find this useful, or whether it's going to cause us to ignore slack as another source of noise.  But I'm willing to try the experiment to find out

[2017-06-07 22:29] #2962 closed

[2017-06-07 22:38] krzyzacy commented on #2996
thanks @rmmh, it should pick up the last build number now

[2017-06-08 02:13] MrHohn commented on #2926
Now it jumps to https://k8s-testgrid.appspot.com/release-master-blocking#gce-serial instead.

I'm expecting it to be: https://k8s-testgrid.appspot.com/google-gce#gce-serial

[2017-06-08 03:02] krzyzacy commented on #2926
I think it jumps to first tab it can find if it has multiple. https://k8s-testgrid.appspot.com/release-master-blocking#gce-serial is fine, but maybe not the https://k8s-testgrid.appspot.com/sig-cli#gce-serial one.

/assign @rmmh

[2017-06-08 04:05] krzyzacy commented on #2996
@rmmh it bumped back again 😢

[2017-06-08 15:02] xiangpengzhao commented on #2868
Another concern. Someone might find a bug and be working on it. Before he/she has a PR for it, he/she may file an issue first. Should we let he/she point out that he/she is working on it in the issue description? So that other guys don't need to spend time trying to fix it.

[2017-06-08 15:43] apelisse commented on #2868
People usually assign to their issue as a sign that they are working on it.

[2017-06-08 16:12] xiangpengzhao commented on #2868
SGTM. Hope that all contributors know `/assign` :)

[2017-06-08 21:39] spiffxp commented on #2865
As far as I know this has been fixed, eg:
- prow: https://github.com/kubernetes/kubernetes/pull/47179#issuecomment-307104316
- mungegithub: https://github.com/kubernetes/kubernetes/pull/47179#issuecomment-307156266

[2017-06-08 21:39] #2865 closed

[2017-06-08 21:40] spiffxp commented on #2823
Given that we have the bot(s) link to commands.md, do we still think this is needed?

[2017-06-08 22:03] crimsonfaith91 commented on #2823
@spiffxp `/help` is not needed anymore. i will close this. :)

[2017-06-08 22:03] #2823 closed

[2017-06-09 21:50] mml opened #3010 "Indicate clearly when the problem with the run was due to e2e-up."
As an example, see kubernetes/kubernetes#45135 reporting on https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41583/pull-kubernetes-e2e-gce-etcd3/27780/

I guess we already do indicate that the problem is due to e2e-up, but perhaps we could extract the key line?

[code]

[2017-06-10 23:27] spxtr opened #3016 "Merge crier into plank."
Crier originally existed as its own service because it needed to serially update the test failure comment, back when we ran a bunch of `cmd/line` jobs in parallel. Now that plank is a thing, there is no reason for crier to exist.

[2017-06-10 23:30] spxtr commented on #2928
Search for [`status:failure`](https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aopen%20status%3Afailure).

[2017-06-10 23:30] #2928 closed

[2017-06-11 00:28] #2268 closed

[2017-06-12 17:28] apelisse opened #3023 "RFC: mungegithub/prow: Have a checkbox list of reviewers "todo""
OK, Here's the idea. I'm tempted to have either `prow` or the `mungebot` post a message in each pull-requests giving reviewers a quick reminder of things that they should care about. Feel free to also discuss that potential list.

We should probably have short sentences, maybe with links to actual documentation/guidelines. Can someone remind me where the guidelines are?

This is also inspired by h

[2017-06-12 17:29] apelisse commented on #3023
cc @thockin @spxtr

[2017-06-12 18:15] fejta opened #3026 "Post to slack whenever someone manually merges something into kubernetes/kubernetes"
I like a prow plugin that allows us to specify:
* Users allowed to merge code (k8s-merge-bot in our case)
* Slack channels to broadcast (sig-contribex and kubernetes-dev)

Then whenever a user who is not on the whitelist merges something into the repo we send a slack message to those channels.

Example of a:
Submit queue merge: https://github.com/kubernetes/kubernetes/pull/45773#event-1118790064
M

[2017-06-12 18:15] fejta commented on #3026
/area prow

[2017-06-12 18:19] brahmaroutu commented on #3026
/assign

[2017-06-12 21:28] spiffxp commented on #3026
in an effort to herd submit-queue related discussion to one place, I think #sig-release would also probably be a good channel, at least during code freeze if nothing else

[2017-06-12 21:53] spiffxp commented on #3023
@kubernetes/sig-contributor-experience-proposals @kubernetes/sig-testing-proposals

[2017-06-12 22:26] kargakis commented on #2041
https://github.com/samsung-cnct/prow-chart

[2017-06-12 22:47] caesarxuchao commented on #2847
I'm debugging the original "empty cherry-pick" issue.

There are two exactly same PR got merged:
https://github.com/kubernetes/kubernetes/pull/46014/files
https://github.com/kubernetes/kubernetes/pull/46108/files

When the bot tries to cherry pick the second PR, it says it's an empty cherry-pick

[2017-06-12 22:55] caesarxuchao commented on #2847
And it because i added the `retest-not-required` label to https://github.com/kubernetes/kubernetes/pull/46108, so the bot doesn't detect the conflict. Bad luck :)

[2017-06-13 13:23] eparis commented on #2868
We expect users to open an issue for every single PR ever? I guess I get it if a PR is fixing a bug/issue. Or if we are in release lockdown where we really want extra tracking. But every single PR for 1.8 needs an issue or a magic command? I'm not in love. (Though also not saying this is wrong, just making sure I understand)

[2017-06-13 15:21] grodrigues3 commented on #2868
@eparis Visibility into the releases has historically been one of the challenges of the project.  The release team was trying to address this, but if this isn't the best way, we should look into it at the 1.7 retrospective.  (Hopefully by `magic command` you meant that you can approve an issue with no issue so that comment fixes, markdown changes and tiny bugfixes don't cause ridiculous overhead)

[2017-06-13 16:56] cblecker opened #3034 "Add CI to kubernetes/community"
- [ ] Run sig docs generator golang unit tests (https://github.com/kubernetes/community/pull/726)
- [x] Run sig docs verify script (https://github.com/kubernetes/community/pull/847)

@kubernetes/sig-testing-misc @jamiehannaford @jbeda
Ref: https://github.com/kubernetes/community/pull/707

[2017-06-13 17:35] spiffxp commented on #3023
ref: https://groups.google.com/forum/#!topic/kubernetes-sig-testing/zVh200YpPac

I know at least the latter would be difficult to enforce unless we at least had special cases that are allowed, documented by issues.  eg: you can add a new prow plugin that uses `init` if you reference an issue that describes plans to remove that `init` pattern

[2017-06-13 17:50] apelisse commented on #3023
Well, I think the goal is to provide guidelines, not something we want to strictly enforce. The reason why we have human reviewers ;-)

[2017-06-13 17:51] wonderfly commented on #2996
Any updates on this?

[2017-06-13 18:23] apelisse commented on #3023
I've added current suggestions to the template

[2017-06-13 18:56] fejta opened #3037 "Non-hermetic unit tests"
Four tests fail bazel tests on a clean environment:

- [x] //kettle:make_json_test
- [x] //metrics:bigquery_test
- [x] //velodrome:test_config
- [x] //verify:verify-pylint

[code]

[2017-06-13 18:57] fejta commented on #3037
/assign @spxtr
Joe will you fix the pylint one?

I'll fix the yaml import errors

[2017-06-13 18:59] enisoc opened #3038 "Migrated Prow job failing"
It seems that the gci-gke-ingress-release-1-6 job is failing consistently due to quota issues since being moved to Prow:

https://k8s-testgrid.appspot.com/release-1.6-blocking#gci-gke-ingress-1.6&width=20
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1-6/11

[code]

It was passing before the move:

https://storage.googleapis.com/kubernet

[2017-06-13 19:05] enisoc commented on #3038
@krzyzacy The symptoms seem similar to https://github.com/kubernetes/kubernetes/issues/43466.

[2017-06-13 19:06] krzyzacy commented on #3038
probably https://github.com/kubernetes/kubernetes/issues/47397

[2017-06-13 19:07] krzyzacy commented on #3038
let me check the project and do some cleanup

[2017-06-13 20:16] krzyzacy commented on #3038
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1-6/12 seems green now, but that ingress test might still leak resource until the actual issue is resolved. I'll close this, feel free to reopen if it fails again.

[2017-06-13 20:16] #3038 closed

[2017-06-13 20:21] enisoc commented on #3038
Thanks @krzyzacy. For future reference, was it fixed because you did some cleanup? Or did it fix itself?

[2017-06-13 20:22] krzyzacy commented on #3038
yes - I ran `./jenkins/janitor.py --project=k8s-jkns-gci-gke-ingress-1-6 --hour=3`

[2017-06-13 20:26] spxtr commented on #2174
Done by #2908

[2017-06-13 20:26] #2174 closed

[2017-06-13 22:39] kargakis opened #3044 "Add RBAC rules for prow components"
Definitely a prerequisite for running prow on Openshift. I can upstream the manifests once I get to add them.

[2017-06-13 23:27] monopole opened #3049 "automate/enforce test ownership by SIG"
From test-grid, it's requires a great experience and expertise to read the title of a failing test and from that figure out what `/sig` assignment to use when creating an issue for the failing test.

Looks like we have a map here:
https://raw.githubusercontent.com/kubernetes/kubernetes/master/test/test_owners.csv

Seems like this should/could be automated, e.g. have mungebot require all tests to h

[2017-06-14 01:07] rmmh commented on #2996
Renumbered again, should recover tonight.

[2017-06-14 07:51] fejta commented on #3037
/unassign @spxtr
/assign

[2017-06-14 15:51] xiangpengzhao opened #3058 "bot doesn't always label "needs-sig" to issues which don't have sig label"
In this issue https://github.com/kubernetes/kubernetes/issues/47520, there is neither a "sig/foo" nor "needs-sig" label. There should be either of them.

/cc @crimsonfaith91

[2017-06-14 16:13] xiangpengzhao opened #3060 "bot's comment is not so helpful"
(1) mentioning a sig: @kubernetes/sig-<team-name>-misc
(2) specifying the label manually: /sig <label>
Note: method (1) will trigger a notification to the team. You can find the team list here and label list here

I saw some contributors comment `/sig sig/aws` to label an issue. It's an incorrect way. But per the bot's above comment `specifying the label manually: /sig <label>` and the [label list

[2017-06-14 16:29] spxtr commented on #3060
/assign @grodrigues3

[2017-06-14 18:14] stevekuznetsov commented on #3023
Some of the specific code-level things like new globals or capitalized errors could be enforced with a linter based on [`go/ast`](https://golang.org/pkg/go/ast/) -- or, instead of enforcement, it could just flag issues for reviewers to look at.

[2017-06-14 18:57] #3037 closed

[2017-06-14 19:58] timothysc opened #3063 "We build 1.8.0-alpha which does not include 1.7 bits"
There are a number of weird deployment issues that come into play on version checks with this.
https://github.com/kubernetes/kubernetes/pull/47438

IMO we should never do this.

/cc @dchen1107

[2017-06-14 20:07] luxas commented on #3063
@timothysc Could you move to kubernetes/release?

[2017-06-14 20:42] grodrigues3 commented on #3060
/assign @crimsonfaith91 is this something you can work on?

[2017-06-14 20:42] grodrigues3 commented on #3060
/assign @crimsonfaith91
is this something you can work on?

[2017-06-14 20:43] spiffxp commented on #3023
@apelisse lol yeah I just meant making sure the intent was clear and bright-lining what the exceptions are

[2017-06-14 20:44] timothysc commented on #3063
Dawn asked me to open it here, but sure.

[2017-06-14 20:44] #3063 closed

[2017-06-14 20:46] crimsonfaith91 commented on #3060
@grodrigues3 I would like to, but I am currently fully loaded on a main repo issue and the bot comment standardization test-infra PR. Will it be fine for me to look at this around 2 weeks from now?

[2017-06-14 20:59] fejta commented on #3023
Having new issues post a blurb sounds useful (prow/plugins/advertise.go).

Making whatever code behavior we want into a presubmit check will be way more effective though (nobody reads docs).

[2017-06-14 21:00] apelisse commented on #3023
@fejta 100% agree with that. But there are things better done by humans

[2017-06-14 21:07] crimsonfaith91 commented on #3058
The bot added it. The delay may due to submit queue order.

[2017-06-14 21:39] stevekuznetsov commented on #3023
Sorry, I know I'm coming in here from nowhere -- I mostly on testing for downstream OpenShift Origin. From my experience doing a similar thing, the list of things to do becomes useless for the majority of contributors that do more than the odd review. People very quickly learn to filter out lists they see everywhere. As the list grows it gets glossed over as a tl;dr more and more.

The list here s

[2017-06-14 21:42] ixdy commented on #3026
it'd also be good if it could alert if someone pushes commits into the upstream branches directly (without going through a PR at all).

[2017-06-14 23:21] #2965 closed

[2017-06-14 23:23] krzyzacy commented on #1061
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46823/pull-kubernetes-e2e-gce-etcd3/35722/ we definitely get logs :-)

[2017-06-14 23:23] #1061 closed

[2017-06-14 23:36] mindprince opened #3067 "Remove trailing whitespace from jobs/config.json"
Currently, `jobs/config.json` has a lot of trailing whitespaces. You can't add new configs without the trailing whitespace because test fail when you do so. This is because `jobs/config_sort.py` produces json with trailing whitespace.

We need to update jobs/config_sort.py with the following diff to produce output with no trailing whitespace:
[code]

Let me know if this is acceptable and I will se

[2017-06-14 23:44] krzyzacy commented on #3067
ah, thanks, I was wondering why

[2017-06-14 23:45] krzyzacy commented on #3067
also update https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap_test.py#L2241, and send the PR to my way :-)

[2017-06-15 01:43] xiangpengzhao commented on #3058
I see that bot finally added `needs-sig` label 6 hours later after the issue was create...

[2017-06-15 01:43] #3058 closed

[2017-06-15 01:54] xiangpengzhao opened #3071 "bot doesn't allow collaborators to `/retest` their own PR"
@MikeSpreitzer is a collaborator. He tried to retest his PR but bot didn't allow to do this.

See: https://github.com/kubernetes/kubernetes/pull/47262#issuecomment-308505283

[code]

[2017-06-15 12:04] kargakis opened #3073 "prow expects to run on certain namespaces"
The prow components are expected to run in "default" and the pods used for running the tests in "test-pod".

https://github.com/kubernetes/test-infra/blob/05cd85204300986974625b8eadf40194657e9c83/prow/kube/types.go#L34-L35

Probably both should be configurable.

[2017-06-15 12:10] kargakis commented on #2595
Seems fixed?

[2017-06-15 14:34] cblecker commented on #2595
/assign

[2017-06-15 14:34] cblecker commented on #2595
Yup, it sure is. Thanks @spiffxp!

/close

[2017-06-15 14:34] #2595 closed

[2017-06-15 14:36] kargakis opened #3074 "Migrate from TPRs to CRDs"
TPRs are deprecated in 1.7 in favor of CRDs.
https://github.com/kubernetes/kubernetes.github.io/blob/release-1.7/docs/tasks/access-kubernetes-api/extend-api-third-party-resource.md

[2017-06-15 17:47] spxtr commented on #3074
Looks like a pretty simple migration process at least. Thanks for the heads up.

[2017-06-15 18:01] spxtr commented on #3071
The [community membership](https://github.com/kubernetes/community/blob/6f157597ea688f4b555f3335980963bb3b090a75/community-membership.md) page isn't super clear as to what is expected here, but I would expect a collaborator to be able to `/retest`.

[2017-06-15 18:45] kargakis commented on #3074
Note that with CRDs, we will need to run an [extra api server](https://github.com/kubernetes/apiextensions-apiserver).

[2017-06-15 18:47] kargakis commented on #1986
Is this true now with plank?

[2017-06-15 20:08] spxtr commented on #1986
We only run a handful of k8s clients now that plank is in place, so we can consider revisiting this.

[2017-06-15 20:18] spiffxp commented on #3073
There's also [a hardcoded `NodeSelector`](https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L335) for pods that plank creates, dunno if that should be its own issue

[2017-06-15 20:21] spiffxp commented on #2386
maybe @kubernetes/kubernetes-release-managers or @kubernetes/release-maintainers can chime in, but I'm not sure we use v1.x.y milestones at all, eg: https://github.com/kubernetes/kubernetes/milestones?state=closed

[2017-06-15 20:25] enisoc commented on #2386
The use of a v1.6.1 milestone was ad hoc and caused confusion, so we hopefully won't do it again. I suggest to close this.

[2017-06-15 20:32] spxtr commented on #3073
Lets just remove that. It was a bad decision.

[2017-06-15 20:49] #2386 closed

[2017-06-15 22:09] #3067 closed

[2017-06-15 22:12] grodrigues3 opened #3078 "Break Release Notes Down By Sig"
The release team's goal was to achieve better visibility into the 1.7 release by:

- Enforcing that all issues in the milestone have sig/ labels
- Enforcing that all non-trivial PRs in the milestone have associated issues

As a result, we should be able to guarantee that all PRs are associated with a sig (not actually true since these policies started around code freeze), but can we try to generat

[2017-06-15 22:20] grodrigues3 commented on #3078
Found where this is generated and it's kubernetes/release, so I'll move the issue there.

[2017-06-15 22:20] #3078 closed

[2017-06-16 00:52] xiangpengzhao commented on #3071
Yeah, collaborators should be able to `/retest` their PRs at least.

[2017-06-16 01:53] cblecker commented on #3071
The PR wasn't marked trusted. No kubernetes member had "ok to test" the PR. Looks like the PR ran a test on LGTM, but had never got the ok that the author could run their own testing.

[2017-06-16 03:54] xiangpengzhao opened #3083 "Post onboarding information for new contributors' first PR"
There are so many PRs named `Release 1.6` which are created by new contributors.

https://github.com/kubernetes/kubernetes/pull/47418
https://github.com/kubernetes/kubernetes/pull/46616
https://github.com/kubernetes/kubernetes/pull/45470
https://github.com/kubernetes/kubernetes/pull/45396
https://github.com/kubernetes/kubernetes/pull/45205
https://github.com/kubernetes/kubernetes/pull/44823
https:

[2017-06-16 18:02] spxtr opened #3092 "Expose git data to prow plugins"
Some research I've been doing. I'm interested in any comments by parties interested in prow. @apelisse was interested at one point.

### Motivating use-cases:

1. The approval handler is currently done in mungegithub. It needs to list all changed files in a PR and use nearly OWNERS files to decide whether the PR is approved or not.
1. A gofmt/vet/lint plugin that comments on the diff in a PR. It n

[2017-06-16 18:28] #2996 closed

[2017-06-16 21:37] crimsonfaith91 commented on #3060
i will work on this. The new comment will give an example of how to mention a sig group and add a label.

There are no sig labels on this issue. Please [add a sig label](https://github.com/kubernetes/test-infra/blob/master/commands.md) by:
(1) mentioning a sig: `@kubernetes/sig-<team-name>-misc`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e.g., **@kubernetes/sig-api-machinery-misc** for API Machinery
(2) specif

[2017-06-16 21:49] spxtr commented on #3060
`/sig scalability`?

[2017-06-16 21:51] crimsonfaith91 commented on #3060
@spxtr yup! there was a typo. updated my comment with `/sig scalability`. thanks for pointing it out! :)

[2017-06-16 22:47] monopole opened #3099 "Need 1.6 to master and 1.7 to master upgrade/skew tests"
We're missing things in the gap between merges to master and rebasing to 1.7, so need the ->master tests in addition to the ->1.7 tests added in #3005

[2017-06-16 22:48] monopole commented on #3099
/assign @krzyzacy

Thanks so much for your help!

[2017-06-16 22:48] monopole commented on #3099
Hi @dchen1107

[2017-06-16 22:50] krzyzacy commented on #3099
so, normally it's been created when we care about it, like when 1.8 approaches. I can create those once 1.7 are out.

[2017-06-16 23:15] krzyzacy commented on #3099
I'll switch 1.4-1.5/1.6 upgrade jobs over to 1.6/1.7-master after we lift code freeze.

[2017-06-16 23:17] monopole commented on #3099
Also, the idea about having tests configured with branch alias names is terrific - so we always have a latest-2 and latest-1 to master.

We'll need an obvious and indisputable way to be sure latest is what we think it should be.

[2017-06-16 23:20] krzyzacy commented on #3099
@monopole we can explicitly set name to be 1.6-master, or future 1.8-master on testgrid, even the job name is like k8s-stable2-k8s-dev.

[2017-06-16 23:27] monopole commented on #3099
I was referring to some vague means to alias branch names at the git level, not just a different name in the test-grid yaml.  Whatever works to avoid having to do those 40+ file pr's (e.g #3005) to get the tests we want with each release.  I'm sure you have a simpler idea to ease this :)

[2017-06-16 23:31] krzyzacy commented on #3099
yep, we should only need to change something in config.json in the future.

[2017-06-16 23:53] crimsonfaith91 commented on #3060
There are no sig labels on this issue. Please [add a sig label](https://github.com/kubernetes/test-infra/blob/master/commands.md) by:<br>(1) mentioning a sig: `@kubernetes/sig-<team-name>-misc`<br>_e.g., @kubernetes/sig-api-machinery-misc for API Machinery_<br>(2) specifying the label manually: `/sig <label>`<br>_e.g., /sig scalability for sig/scalability_<br><br>_Note: method (1) will trigger a n

[2017-06-18 16:09] apelisse commented on #3092
We also have to consider future use-cases, beyond the current set of motivating use-cases.
Are we going to have more and more of these use-cases, and if so, how are these two solutions
going to scale? What other types of operations might be needed in the future?
Even if the number of use-cases stays low, one use-case that would need all the files in the
repository could use all the token limit in

[2017-06-19 18:13] caesarxuchao opened #3109 "Follow-up of #3028, missing 1.7 blocking tests"
Follow-up of https://github.com/kubernetes/test-infra/pull/3028. We need to add these three tests into the 1.7 blocking tests once they are created:
[code]

[2017-06-19 18:14] caesarxuchao commented on #3109
@krzyzacy are you creating these three tests? Or do you know who's creating them? Thanks.

[2017-06-19 18:17] krzyzacy commented on #3109
ref https://github.com/kubernetes/test-infra/pull/3059

I can make a kubelet-serial job

I have no idea what is auth-1-7?

[2017-06-19 18:20] david-mcmahon commented on #3109
Whoever adds the new tests can simply add them to release blocking at the same time.

[2017-06-19 18:21] krzyzacy commented on #3109
@caesarxuchao do you mean `gci-gce-audit-release-1-7`?

[2017-06-19 21:02] crimsonfaith91 commented on #3060
/joke

[2017-06-19 21:02] crimsonfaith91 commented on #3060
/ok-to-test

[2017-06-19 22:13] spxtr commented on #3092
Agreed that solution 1 will probably not suffice.

We do need to merge locally so that we're testing the whole file as it is in the PR. You can't run `go vet` on a patch alone!

I think that idea makes the most sense. It's not too expensive, especially if we can get away with a shallow clone and some automated cleanup.

[2017-06-19 23:55] rmmh commented on #3092
/joke

[2017-06-20 07:46] kargakis commented on #3074
IIUC, we will get this for free with the kube-apiserver so no worries here.

[2017-06-20 08:04] kargakis opened #3117 "Document setting up TLS with prow"
There is no mention of running kube-lego in the prow README

/cc @spxtr

[2017-06-20 08:06] kargakis opened #3118 "Document missing secret in the submit queue README"
@apelisse

[2017-06-20 10:17] luxas opened #3120 "Make a kubeadm test-grid tab"
Now that we're adding more suites, it would be nice to get `kubeadm-gce` moved from the `misc` tab to a `kubeadm` or `sig-cluster-lifecycle` tab.

There also the other kubeadm jobs like `kubeadm-gce-1.6`, `kubeadm-gce-1.7` and `kubeadm-1.6-1.7` should be shown.

/assign @pipejakob @krzyzacy
(whoever of you that have time to make this change)

cc @roberthbailey

[2017-06-20 14:22] roberthbailey commented on #3120
That seems reasonable. I'd also talked with @fejta about having a cluster-lifecycle-sig dashboard (or tab) in testgrid where we collect all of the test suites that the sig is responsible for in a single place.

[2017-06-20 16:53] krzyzacy commented on #3120
@luxas @roberthbailey it should be easy to do - just add couple row similar to https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config.yaml#L1886-L1889, just fill it up yourself and I can review your PR.

[2017-06-20 18:43] luxas opened #3124 "Prow / commands don't work in Github review comments"
See https://github.com/kubernetes/kubernetes/pull/47342#pullrequestreview-45229065 as an example

/assign @spiffxp

[2017-06-20 18:43] spxtr commented on #3124
/assign @cjwagner

[2017-06-20 18:48] roberthbailey commented on #3120
@luxas - I had a WIP PR to do this as well. can you take a look before we mark this as complete?

[2017-06-20 18:50] cjwagner commented on #3124
The `/lgtm` and `/approve` commands will be supported in review comments and bodies once #2970 is merged.

[2017-06-20 19:10] luxas opened #3126 "Make the dashboards visible in the testgrid UI"
ref: https://github.com/kubernetes/test-infra/pull/3125#issuecomment-309857191

I'd want the UI to look like this, simplified:

[code]

The links to the dashboards can be blue or whatever color but not gray

cc @roberthbailey @krzyzacy

[2017-06-20 19:11] krzyzacy commented on #3126
/assign @michelle192837

[2017-06-20 19:28] luxas commented on #1399
go1.9beta1 is out, let's start testing...

[2017-06-20 20:48] crimsonfaith91 commented on #3060
Add examples to sig-mention-handler munger's comment.
/close

[2017-06-20 20:48] #3060 closed

[2017-06-20 21:15] ixdy commented on #1400
The federation projects push the hyperkube image from CI builds, but it seems like only the 10 or so most recent tags are there. I'll check with some of those folks to see how they're doing image lifecycle management.

[2017-06-20 21:16] kargakis commented on #3092
Cloning locally makes sense to me. We are doing git commit message validation on every PR and I could see that being moved into a prow plugin. Do prow plugins run in parallel? From a quick look I had, it seemed they didn't.

cc: @stevekuznetsov

[2017-06-20 21:23] stevekuznetsov commented on #3092
Interesting idea -- would be extremely cool to factor in some of the other ideas that had been floating around in issues like https://github.com/kubernetes/test-infra/issues/3023 -- any tools based on parsing Go code could plug into this and make comments.

Re: `go vet` and `go lint` -- they both require `$GOPATH`-level scope (for instance, checks like [`unkeyed_composite_literals`](https://golang

[2017-06-20 21:32] ixdy commented on #1400
oh, no, `gcloud` just limits listing to the 10 most recent tags by default.

[2017-06-20 21:44] roberthbailey commented on #3126
@luxas - do you mean on the pages where we see multiple rows of tabs or on the main landing page? I'd really like to see the dashboard groups on the main landing page (but I'm not sure if that is this issue or if I should file a separate one).

[2017-06-20 21:51] krzyzacy commented on #3126
@roberthbailey since the code of that part is not open sourced yet, you might want to file an internal issue

[2017-06-20 21:55] roberthbailey commented on #1400
Where do the hyperkube images get pushed to? We should consolidate on a single place for pushing all ci images.

[2017-06-20 22:04] ixdy commented on #1400
the federation hyperkube images are pushed to gcr.io/k8s-jkns-e2e-gce-federation, gcr.io/k8s-jkns-e2e-gce-f8n-1-6, and gcr.io/k8s-jkns-e2e-gce-f8n-1-7.

[2017-06-20 22:08] roberthbailey commented on #3126
I filed an internal bug.

[2017-06-20 22:49] roberthbailey commented on #3120
This is now done.

[2017-06-20 22:49] #3120 closed

[2017-06-20 22:51] roberthbailey commented on #1400
@ixdy - can you modify the builders to push images? @luxas and I talked about creating a reaper to delete images that are too old (say 30-60 days) but we could probably get by for longer than that if need be. Hopefully we can find a volunteer who wants a bounded starter project to build the reaper.

[2017-06-20 23:47] ixdy commented on #1400
I don't have bandwidth right now to plumb through all of the changes needed.

Things I imagine are necessary:
1. Update the kubernetes_build scenario (kubernetes/test-infra/scenarios/kubernetes_build.py) to take a flag indicating where images should be pushed.
2. Based on this flag, set `KUBE_DOCKER_REGISTRY` when running the build.
3. Either update the scenario to also set ` KUBE_DOCKER_IMAGE_TAG

[2017-06-21 00:13] madhusudancs commented on #1400
@ixdy we are ready to move to whatever is the "normal" way. So yeah, I am fine moving to the approach you described above, if it is built.

[2017-06-21 00:18] crimsonfaith91 commented on #2851
sig-mention-handler has been deployed.
/close

[2017-06-21 00:18] #2851 closed

[2017-06-21 00:18] crimsonfaith91 commented on #2820
/close

[2017-06-21 00:18] #2820 closed

[2017-06-21 00:19] crimsonfaith91 commented on #2806
/close

[2017-06-21 00:19] #2806 closed

[2017-06-21 00:20] #2717 closed

[2017-06-21 00:21] crimsonfaith91 commented on #2717
it is done :)

[2017-06-21 04:55] luxas commented on #1400
@madhusudancs Would you have time for implementing what @ixdy described above?

[2017-06-21 05:42] roberthbailey commented on #1400
Alternatively, maybe @fejta can suggest another assignee from the engprod team to help with this task?

[2017-06-21 07:58] madhusudancs commented on #1400
@luxas No. But happy to delegate :)

[2017-06-21 14:16] kargakis opened #3135 "Mungers are printing out their github key"
As part of printing the whole configuration when starting ([in this line](https://github.com/kubernetes/test-infra/blob/56802dc683dbb3938d146d43399087d4b20698cd/mungegithub/mungegithub.go#L91)). We should either redact the key from the log or move it out of the config.

[2017-06-21 15:08] smarterclayton opened #3136 "Initializers should be run in an alpha aware serializer feature with the alpha gates"
Initializers (alpha in 1.7) need to run in serial because they disrupt other jobs, but we don't have a serial job for alpha specifically (that I could find).  Are we ok to add one?

[2017-06-21 16:02] ixdy commented on #1400
Thinking about this a bit more, I'm concerned about cleanup of docker images on development machines. In the normal (non-release) build workflow, we build the images, save them out to tarfiles, and then delete. With my proposal in https://github.com/kubernetes/test-infra/issues/1400#issuecomment-309922729, we would eventually end up with 10s-100s of images with no clear cleanup mechanism. (I'm not

[2017-06-21 17:16] krzyzacy commented on #3136
add it to https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gce-alpha-features-release-1-7.env?

[2017-06-21 17:19] spxtr commented on #3092
Sounds like a good motivating case number 4.

No, but we should be safe to do so. At least, I put [a comment](https://github.com/kubernetes/test-infra/blob/7865c6d09e2a1f9a20c49b5ade081010709534fc/prow/plugins/plugins.go#L65) saying that it should work.

[2017-06-21 17:22] smarterclayton commented on #3136
Ok, that's definitely serial?  I wasn't sure whether it was from the description.

[2017-06-21 17:24] krzyzacy commented on #3136
I think so, as long as it does not have `GINKGO_PARALLEL=y`

[2017-06-21 19:02] rmmh opened #3139 "prow config should be automatically applied"

[2017-06-21 19:15] rmmh opened #3140 "prow cluster should be administered by test-infra"
We should limit the number of people modifying the prow cluster for operational sanity.

Bonus points if we have some easy way to see prow changes since last deployment, and a foolproof way to redeploy.

This implies having a 'rerun job' command that doesn't require cluster privileges.

[2017-06-21 19:17] rmmh opened #3141 "prow 'make *-deploy' should fail if not on branch synced with upstream master"

[2017-06-21 19:27] crimsonfaith91 opened #3142 "Unclear documentation to update a cluster after prow change"
Current documentation for updating a cluster after prow change is not clear. More detailed information should be included.

[2017-06-21 20:04] ixdy commented on #3141
we did something similar in the release repo: https://github.com/kubernetes/release/blob/f77fcb6d2b23ebd0e2c471abffef59abf4746bd7/lib/gitlib.sh#L217-L238

[2017-06-22 00:17] ixdy commented on #1400
I have a basic POC of my last proposal in https://github.com/ixdy/kubernetes/commit/93fcdc17b58f2cd03fd50d598a8bec42b94300b2 and https://github.com/ixdy/kubernetes-release/commit/f25120087019ee2fc7476140fa552940d7560b84.

It doesn't handle hyperkube, though, since hyperkube has a different and inconsistent workflow - we don't save it as a tarfile anywhere, and I'm not sure where we would save it.

[2017-06-22 02:27] pwittrock opened #3150 "Setup release blocking upgrade / skew jobs against master and N-1, N-2 branches"
Need to set these up to keep them green during the 1.8 dev cycle:

- 1.6 -1.7 jobs equivalents for 1.7 - master
- 1.5 - 1.7 jobs equivalents for 1.6 - master
  - Note: we only need the following jobs
  - gke-cvm-1-6-cvm-master-upgrade-master
  - gke-gci-1-6-cvm-master-upgrade-master
  - gke-cvm-1-6-gci-master-upgrade-master
  - gke-gci-1-6-gci-master-upgrade-master
- 1.6-1.7-kubectl-skew equivalen

[2017-06-22 02:35] pwittrock opened #3151 "Upgrade tests should check the server version after upgrade"
Recently we discovered the upgrade tests were not actually upgrading the server before running the tests, rendering the test results meaningless.

After upgrading the server, and before running the e2e tests, the tests should run `kubectl version` and verify the server is at the correct version.

[2017-06-22 10:10] kargakis commented on #3016
Fixed

[2017-06-22 14:33] #3016 closed

[2017-06-22 14:58] castrojo opened #3154 "Support assigning and closing in one comment"
It'd be nice to have

    /assign
    /close

That way I can work in one comment instead of adding noise with two. Thanks!

[2017-06-22 17:02] spxtr opened #3155 "Utility cluster is moved, update docs"
[This doc](https://github.com/kubernetes/test-infra/blob/4d07874f9a2def67aea63069c92c335bc9bbd10f/mungegithub/build-cop/README.md) still points to `kubernetes-jenkins`. Maybe search for more, too.

/assign @cjwagner

[2017-06-22 17:23] kargakis opened #3156 "cla is a prow plugin (ie. optional) but the submit queue requires a cla label"
Approvals are also gated currently in the SQ but I expect it to turn into a prow plugin in the future. Both plugins are specific to kubernetes and may not be used elsewhere (eg. we don't use CLAs or approvals in Origin, at least today). In general, prow plugins can be disabled w/o the SQ knowing while it requires them. One solution is to pass the plugin config in the submit queue. If we don't expe

[2017-06-22 17:46] nlandolfi opened #3157 "prow/trigger: trusted org hard-coded to k8s"
When [checking if the user is a member of a trusted org](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/trigger/pr.go#L132), trigger uses a [`trustedOrg` constant](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/trigger/trigger.go#L31) which is hard-coded to `kubernetes`.

Perhaps this should be a flag?

[2017-06-22 17:53] kargakis opened #3158 "Plank reports need to be templatized"
Especially the link in the github context needs to point in the right direction.

See https://github.com/origin-prow/origin/pull/2#issuecomment-310658351

[2017-06-22 17:53] spxtr commented on #3157
Yes, this will happen in the Near Future. I prefer a config option to a flag. See #2566, #2721, and #2546.

[2017-06-22 18:12] spxtr commented on #1342
The only remaining tests running on travis require docker. We could either use docker-in-docker with privileged containers, or else rewrite some shell scripts to not require docker.

[code]

Of these, the only one I consider critical going forward is the `jenkins_verify` script. @krzyzacy we should take a stab at doing this with bazel.

[2017-06-22 18:17] krzyzacy commented on #1342
I can rewrite testgrid one by parse jenkins config without jenkins_job_builder, but `diff-job-config-patch.sh` might still be useful? How will we work around that

[2017-06-22 18:26] spxtr commented on #1342
Why not use jenkins job builder as an external `py_binary`?

I don't know about `diff-job-config-patch.sh`. Is it possible to do that without docker?

[2017-06-22 18:32] krzyzacy commented on #1342
I have vague painful memory that I screwed up to get jenkins job builder to work locally, but we can give another shot with bazel.

[2017-06-22 19:09] spxtr commented on #2559
This is most likely not going to happen. Ideally only people on the test-infra on-call rotation have access to both.

[2017-06-22 19:31] mml opened #3162 "Can the bot always tell me if it's my job to merge or not?"
We have lots of repos now.  So many repos.  Sometimes I do one review on that repo and that's it.  It's hard to know what the rules are.  Do we need LGTM labels?  Is there a bot going to do the merge?  Am *I* (the assignee) expected to do the merge?

Can we have the bot maybe let me know when it's my job to merge?
Example PR that had me scratching my head for too long is https://github.com/kuberne

[2017-06-22 22:54] #2757 closed

[2017-06-22 23:13] kargakis commented on #3092
Now they do: https://github.com/kubernetes/test-infra/pull/3159 :)

[2017-06-22 23:25] #3136 closed

[2017-06-22 23:26] krzyzacy commented on #3099
I'll yield this to #3150

[2017-06-22 23:26] #3099 closed

[2017-06-23 01:03] ixdy commented on #1400
https://github.com/kubernetes/kubernetes/pull/47939 and https://github.com/kubernetes/release/pull/355 seem to work in local testing. If those get merged, next steps would be to update the various build jobs to set `KUBE_BUILD_HYPERKUBE=y` before builds (if needed) and pass `--docker-registry` to `release/push-build.sh`.

[2017-06-23 03:26] #2725 closed

[2017-06-23 16:54] cblecker commented on #3162
@kubernetes/sig-contributor-experience-misc
At the very least, it would be good to document which repos have a SQ as all others would need manual merging.

[2017-06-23 18:25] grodrigues3 opened #3178 "Deal With Inactive Approvers and Approvers Updates"
We need a solution similar to https://github.com/kubernetes/test-infra/pull/2795.

For PRs like this one:

https://github.com/kubernetes/kubernetes/pull/45467

The author got LGTM relatively quickly but no approval for more than a month.

In addition to pinging the author and helping them find additional approvers (which can be done automatically via the bot), we probably need some additional work

[2017-06-23 18:49] #3155 closed

[2017-06-23 19:04] crimsonfaith91 commented on #3178
@grodrigues3 Having a better policy for adding new approvers will be great! I think we can:
[code]

[2017-06-23 19:32] xiangpengzhao opened #3180 "k8s-ci-robot shouldn't label "sig/api-machinery" if k8s-merge-robot comments "@kubernetes/sig-api-machinery-misc""
k8s-merge-robot comments on every issues which don't have a sig label. The comment includes `e.g., @kubernetes/sig-api-machinery-misc for API Machinery`(this example was added in #3102 as suggested in #3060). This comment leads to k8s-ci-robot labels "sig/api-machinery" for every issues. This is not expected. We should find a better way to address it.

/cc @@grodrigues3 @spxtr @crimsonfaith91

[2017-06-23 19:33] crimsonfaith91 commented on #3180
This has already been addressed by this PR: https://github.com/kubernetes/test-infra/pull/3174

[2017-06-23 19:47] xiangpengzhao commented on #3180
@crimsonfaith91 thanks for pointing it out. It would be great to merge it and deploy ASAP.

[2017-06-23 19:53] crimsonfaith91 commented on #3180
got `lgtm` now.

[2017-06-23 19:58] crimsonfaith91 opened #3181 "/ok-to-test does not work"
/assign @crimsonfaith91

[2017-06-23 20:04] crimsonfaith91 commented on #3180
merged. i will ask around whether now is the right time to deploy the change.

[2017-06-23 20:06] grodrigues3 commented on #3178
We should only assign people capable of approving (i.e. people in the correct owners files or further up the tree).

Additionally, to clarify, I also talking about defining a policy for adding new approvers to the OWNERS files (not assigning additional approvers to issues).

[2017-06-23 20:12] xiangpengzhao commented on #3180
:+1:

[2017-06-23 20:14] crimsonfaith91 commented on #3178
As Kubernetes team is growing, perhaps we can have more junior engineers to deliver and review PRs. We can relax requirements to become an owner of a file.

Else, we can come out with a criteria that uses number of lines of **green** codes merged in determining new owners (i.e., weight large PRs more over small PRs).

[2017-06-23 20:41] rmmh commented on #3162
If you don't see a status check from the submit queue, it won't merge it for you.

[2017-06-23 20:57] spxtr commented on #3178
The issue in that PR was actually an unfortunately common one. There are a small number of developers on this project who have a million things assigned to them for review and approve. At the time I'm writing this, @lavalamp has [63 PRs assigned and 42 needing approval](https://k8s-gubernator.appspot.com/pr/lavalamp). That's obviously far too much for one person.

Giving any weight to number of ad

[2017-06-23 21:02] spxtr commented on #3181
Link to a failed invocation?

[2017-06-23 21:05] crimsonfaith91 commented on #3142
/assign @crimsonfaith91

[2017-06-23 21:08] crimsonfaith91 commented on #3181
this may be a failure (pointed out by @grodrigues3 ): https://github.com/kubernetes/test-infra/pull/3174
but `/ok-to-test` on a newer PR: https://github.com/kubernetes/test-infra/pull/3182, and it works (the bot replied).

i will sync with Garrett about this.

[2017-06-23 21:11] spxtr commented on #3140
Agreed. I removed access from almost everyone not on test-infra.

[2017-06-23 21:16] crimsonfaith91 commented on #3178
@spxtr i agree that total number of green (not red) lines of codes merged is not a good indicator. It should still work better than total number of PRs merged though (inspired by `blunderbuss` codes).

i am on the same page with you it is _still not good enough_.

[2017-06-23 21:40] mml opened #3183 "prow: please add hover text (tool tips) to ⟳ and ≡"
Thanks!

[2017-06-23 21:48] spxtr commented on #3183
They probably are too small, too.

[2017-06-23 22:07] crimsonfaith91 commented on #3180
The change is merged, but we still need permission for deployment. i will follow closely on this.

[2017-06-23 22:13] krzyzacy commented on #2697
/unassign @michelle192837
/assign @rmmh

I'll clean up mungegithub, Ryan wanna clean up kettle?

[2017-06-23 22:15] krzyzacy commented on #2629
@spxtr seems the projects are `gke-test-us-zone-?`? Is there any place I can get that list?

[2017-06-23 22:26] rmmh commented on #2697
kettle cleanup is part of #2870

[2017-06-24 01:31] janetkuo commented on #3178
We can show PR authors a list of approvers that they can ping / assign for approval, or provide them a command to give up current assigned approver and find the next available one.

[2017-06-25 02:31] xiangpengzhao commented on #3180
Seems like the issue still exists after the patch is deployed. See: https://github.com/kubernetes/kubernetes/issues/48020
@crimsonfaith91

[2017-06-25 02:34] crimsonfaith91 commented on #3180
The change hasn't deployed yet. The test-infra team moves prow to another submit queue recently. I am not able to access it.

[2017-06-25 02:43] crimsonfaith91 commented on #3180
Please follow this: https://github.com/kubernetes/kubernetes/issues/47941#issuecomment-310703871

I am not able to do anything until I obtain the access to the submit queue. I will inform you when it is deployed. Thanks!

[2017-06-25 03:55] spxtr commented on #3180
@krzyzacy please redeploy the submit queue when you get a change.

[2017-06-25 04:02] crimsonfaith91 commented on #3180
@spxtr Thanks a lot!

[2017-06-25 04:11] krzyzacy commented on #3180
@spxtr I have no idea about submit-queue yet, I'll work with @cjwagner Monday. It probably should be documented somewhere so that we can all be able to do this.

[2017-06-25 04:18] xiangpengzhao commented on #3180
@crimsonfaith91 But I see that there is already quote for `@kubernetes/sig-api-machinery-misc` in the newest comment of k8s-merge-robot.
see: https://github.com/kubernetes/kubernetes/issues/48020#issuecomment-310838866

[2017-06-25 04:19] xiangpengzhao commented on #3180
The latest issue: https://github.com/kubernetes/kubernetes/issues/48025#issuecomment-310878746

[2017-06-25 04:36] crimsonfaith91 commented on #3180
@xiangpengzhao Quotation should not trigger any sig mentioning. It means that it is due to another issue. I am investigating it now.
@spxtr @krzyzacy It looks like the changes have been deployed. Thanks for the help! :)

[2017-06-25 04:46] crimsonfaith91 commented on #3180
@spxtr @krzyzacy
It looks like the behavior is not due to sig-mention munger, but the regex for label plugins: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/label/label.go#L47

Based on how the regex is written, a notification will be triggered even it is quoted or tailed with other words behind. I will get the regex fixed tomorrow. Thanks!

[2017-06-25 05:05] crimsonfaith91 commented on #3180
/assign @crimsonfaith91

[2017-06-26 02:56] grodrigues3 opened #3190 "Let's not suggest -misc teams"
In general, we'd prefer if people mentioning teams would mention them by using one of the following suffixes rather than misc:

1. bugs
1. feature-requests
1. pr-reviews
1. test-failures
1. proposals

Can we change the error message [here]( https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/sig-mention-handler.go#L105) to reflect this preference rather than suggesting the use

[2017-06-26 12:20] xiangpengzhao opened #3193 "PR tests are triggered though it has "needs-ok-to-test" label"
See PR: https://github.com/kubernetes/kubernetes/pull/47968

It has a `needs-ok-to-test` label, but all it's tests are triggered. The result is `1 pending and 9 successful checks`.

@fejta @krzyzacy @crimsonfaith91

[2017-06-26 12:21] xiangpengzhao commented on #3193
Also, No member has triggered it by `@k8s-bot ok to test`.

[2017-06-26 14:50] kargakis commented on #3073
/assign

[2017-06-26 14:50] kargakis commented on #3156
/assign

[2017-06-26 14:59] kargakis commented on #3158
@spxtr do you have a PR for the last part that's needed to change here? If not, I can pick it up this week.

[2017-06-26 15:31] kargakis commented on #3118
/assign @apelisse

[2017-06-26 16:56] crimsonfaith91 opened #3199 "Bot comment should not trigger any event mentioning a sig"
Bot comment should not trigger any event that adds a sig label.

This should not occur: https://github.com/kubernetes/kubernetes/issues/48025
Relevant to this issue: https://github.com/kubernetes/test-infra/issues/3180

/assign @crimsonfaith91

[2017-06-26 17:08] crimsonfaith91 commented on #3199
/assign @grodrigues3 I am not sure whether we should change current regex of label plugin found here: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/label/label.go#L47

[2017-06-26 17:11] spiffxp commented on #3154
The way things are structured right now, this is unlikely.  The /assign and /close commands are implemented by different plugins.  The order of /commands within a message doesn't guarantee the order in which plow plugins are run against a given event.

As a workaround we could perhaps extend /close to a trusted group, denoted by eg: kubernetes org membership, team membership, inclusion in an OWNER

[2017-06-26 17:11] ixdy commented on #3193
/assign @spxtr

[2017-06-26 17:20] spiffxp commented on #3156
I think submit queue just looks for another status context, not the actual label itself?  We removed the cla munger a few weeks ago

[2017-06-26 17:22] spiffxp commented on #3156
eg: https://github.com/kubernetes/test-infra/blob/master/mungegithub/submit-queue/deployment/kubernetes/configmap.yaml#L31

[2017-06-26 17:32] spxtr commented on #3193
On that PR, I see in the logs that an org member said "@k8s-bot test this" in a comment and then later deleted the comment :)

[2017-06-26 17:32] #3193 closed

[2017-06-26 17:40] crimsonfaith91 commented on #3180
I created another issue to discuss about the label plugin regex. For now, IMO it may be best to have:

There are no sig labels on this issue. Please [add a sig label](https://github.com/kubernetes/test-infra/blob/master/commands.md) by:<br>(1) mentioning a sig: `@kubernetes/sig-<team-name>-misc`<br>e.g., `sig-api-machinery-misc` for API Machinery<br>(2) specifying the label manually: `/sig <label>

[2017-06-26 17:40] spxtr commented on #3158
I have it pretty much ready to go. I'll open a PR today.

[2017-06-26 17:41] foxish opened #3200 "Evolve Mungegithub"
This is a collection of items that if done to mungegithub will make it more reusable and easy to maintain over time.

1. [x] Teach mungegithub to read config files rather than commandline options (https://github.com/kubernetes/test-infra/pull/3429)
2. [x] Switch to using helm and helm updates to deploy the application and configuration (https://github.com/kubernetes/test-infra/pull/3478)
3. [ ] Al

[2017-06-26 17:44] xiangpengzhao commented on #3193
:+1: Thanks @spxtr!
But in this case I still wonder why the `needs-ok-to-test` label wasn't removed after `@k8s-bot test this` was commented. It should be, right?

[2017-06-26 17:47] cblecker commented on #3193
`@k8s-bot test this` kicks off a single round of testing. `@k8s-bot ok-to-test` marks the PR as trusted, so that the PR owner can kick off their own re-tests, and future commits will also be re-tested.

[2017-06-26 17:52] xiangpengzhao commented on #3180
agreed. This is also clear enough.

[2017-06-26 18:00] xiangpengzhao commented on #3193
Thanks for explanation, Christoph! Got it:)
Does it also mean that `@k8s-bot test this` will not remove `needs-ok-to-test` label but `@k8s-bot ok-to-test` will?

[2017-06-26 18:01] crimsonfaith91 commented on #3180
yup! thanks!

[2017-06-26 18:30] crimsonfaith91 commented on #3190
@grodrigues3 Agreed!

There are no sig labels on this issue. Please [add a sig label](https://github.com/kubernetes/test-infra/blob/master/commands.md) by:<br>(1) mentioning a sig: `@kubernetes/sig-<team-name>-<suffix>`<br>e.g., `sig-api-machinery-bugs` for API Machinery<br>(2) specifying the label manually: `/sig <label>`<br>e.g., `/sig scalability` for sig/scalability<br><br>_Note: Method (1) wi

[2017-06-26 18:42] cblecker commented on #3190
While the other team aliases are more specific, I'm not sure they've quite got the adoption. For example, for our own contribex, hitting feature-requests hits 5 people, vs -misc that hits 21. This would be the same for sig-testing (7 vs 18).

Is there a way we could encourage adoption if we continue down this path? or is it preferred to just move to mentioning a user and it sends to an e-mail list

[2017-06-26 18:45] kargakis commented on #3156
No, it looks for the [actual labels](https://github.com/kubernetes/test-infra/blob/47fbf22bf7a9a1081671c97865187f2f224f65d2/mungegithub/mungers/submit-queue.go#L955). I have verified this one during testing.

[2017-06-26 18:45] cjwagner commented on #3200
/assign

[2017-06-26 19:12] crimsonfaith91 commented on #3180
I went over PRs to remove unnecessary `api-machinery` label manually. It is great that the affected PRs are in small amount of number (going over the PRs took only 10 minutes). I will keep an eye on new PRs rolling out before #3201 is merged.

[2017-06-26 20:01] xiangpengzhao commented on #3193
Thanks Christoph!

[2017-06-26 20:48] spxtr opened #3204 "cmd/tot: x509 errors when we fallback to GCS"
I'm seeing this occasionally:

[code]

/assign @rmmh
/area prow

[2017-06-26 20:53] spxtr commented on #3154
We have `/assign` and `/lgtm` working in one command. The way it works is that `/lgtm` assigns you if you're not assigned. Similarly, we can make `/close` assign you if you're not assigned before closing.

[2017-06-26 20:57] cblecker commented on #3154
+1 to assign happening in the background on /close.

[2017-06-26 21:05] ixdy opened #3207 "rewrite kubernetes_build scenario to use kubetest instead of shell scripts"
The `kubernetes_build` scenario is confusing, with a large number of mysterious flags and environment variables, and most of the real functionality is driven by a shell script in `kubernetes/kubernetes/hack/jenkins`.

We should rewrite this as a simple python script that wraps calls to `kubetest`.

[2017-06-26 21:07] ixdy commented on #1400
we probably need to shave the #3207 yak before this will work for the CI cross build.

[2017-06-26 21:11] #3204 closed

[2017-06-26 22:01] #3150 closed

[2017-06-26 22:03] sebastienvas commented on #3200
Could we have one instance for multiple repo. For istio, it seems that we would need 18 instances. It would be preferable to have a unique instance / config and have the tool generate the amount of required queues, etc...

[2017-06-26 22:31] sebastienvas opened #3209 "Support for configurable max concurrency per jobs in Prow"
We might not want a PR to take all the resources and therefore we might want the following:

- Ability to abort a job (hermetic tests) run when a new commit is added to a PR.
- Ability to configure the maximum concurrency per job: This can be useful when running a test on a limited test environment.

As discussed with @spxtr, kubernetes does provide some "ways" to limit resources, and force (or pr

[2017-06-26 22:50] spxtr commented on #3209
Currently, since our tests are so non-hermetic, we leave the actual test pods running. We should probably just delete them, but I need to check the extent to which that will leak resources.

This should be straightforward. We can add a `max_concurrency` field to the job configs. If 0, the default, there is no limit. Otherwise, `plank` can delay starting the pod until there are few enough currently

[2017-06-26 23:01] ixdy commented on #1400
another thing I'm trying to figure out: which builds should produce a `hyperkube` image? Seems like at least ci-cross and federation (ci and pull) need it. Any others?

[2017-06-27 00:02] crimsonfaith91 opened #3215 "Update docs for mungegithub deployment"
The docs should specify that re-deployment requires checkout of the main repo based on current `Godeps.json` file

[2017-06-27 00:03] crimsonfaith91 commented on #3215
/assign @crimsonfaith91

[2017-06-27 01:08] crimsonfaith91 commented on #3180
Resolved! Final bot comment:

There are no sig labels on this issue. Please [add a sig label](https://github.com/kubernetes/test-infra/blob/master/commands.md) by:<br>(1) mentioning a sig: `@kubernetes/sig-<team-name>-misc`<br>e.g., `@kubernetes/sig-api-machinery-*` for API Machinery<br>(2) specifying the label manually: `/sig <label>`<br>e.g., `/sig scalability` for sig/scalability<br><br>_Note:

[2017-06-27 01:08] crimsonfaith91 commented on #3180
/close

[2017-06-27 01:08] #3180 closed

[2017-06-27 01:46] xiangpengzhao commented on #3180
Great! It would make sig-api-machinery folks life happy:)
But I still doubt whether contributors know what the `*` represents in `@kubernetes/sig-api-machinery-*`...
Can we add something more, as below.
e.g., `@kubernetes/sig-api-machinery-*` for API Machinery, `*` can be `misc`, `bugs`, `test-failures`

We may also want to make the docs of sigs more clear.

[2017-06-27 02:00] crimsonfaith91 commented on #3180
Good idea! There is another issue opened yesterday for this: https://github.com/kubernetes/test-infra/issues/3190

[2017-06-27 02:18] xiangpengzhao commented on #3180
:+1:

[2017-06-27 08:28] roberthbailey commented on #1400
I thought we were set up so that for each PR we did a single "build" step and then let e2e tests run against that build. In that case, then only the build step would need to build & push images (including hyperkube) and all per-PR tests could be run assuming that the images exist in gcr.io already.

[2017-06-27 09:17] kargakis commented on #3200
Related discussion in https://docs.google.com/document/d/1IHTBo6Ul6TtTD87u8OVXgt-NgjgNSzE5JQKlu7nWDmw/edit#

[2017-06-27 09:53] kargakis commented on #3158
/assign @spxtr

[2017-06-27 09:53] kargakis commented on #3157
Done

/close

[2017-06-27 09:57] kargakis commented on #3157
/assign

[2017-06-27 09:57] kargakis commented on #3157
/close

[2017-06-27 09:57] #3157 closed

[2017-06-27 10:51] foxish commented on #3200
@sebastienvas,
The biggest limiting factor IMO is github token usage, and the kubernetes main repo (see [k8s-merge-bot statistics](http://velodrome.kubernetes.io/dashboard/db/monitoring)) already runs rather close to the limit. We need some work to enable better use of tokens. OTOH, it may not make sense to have a submit-queue and automatic merges for every repo, especially ones which see less act

[2017-06-27 16:42] nlandolfi opened #3220 "prow: github client IsMember false if org is a github user"
The [IsMember](https://github.com/kubernetes/test-infra/blob/master/prow/github/client.go#L226) function will return false if the trusted org is a user (e.g., nlandolfi) and the user is said user.

This may be the desired behavior because the check is for a github org. Are we limiting prow repos to always be org repos?

I believe adding:
[code]
at the start of IsMember would allow org to be a user

[2017-06-27 16:51] nlandolfi opened #3221 "prow: plank needn't depend on jenkins"
Presently, plank's [main function](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/plank/main.go#L47) uses a [jenkinsTokenFile](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/plank/main.go#L66) to construct a Jenkins client. I believe the jenkins client can be nil, and the jenkins functionality of plank effectively ignored.

Is it reasonable to do something similar to.

[2017-06-27 16:56] spxtr commented on #3220
This does seem fine for me even if it's only to make it easier to get started playing with prow, since most people will start by pointing it at some testing repo under their name. Please open a PR and mention me on it :)

However, it does suggest the question of how to do this properly for all the use cases in the future. It seems like we should have trusted orgs, trusted teams, trusted collaborat

[2017-06-27 17:01] spxtr commented on #3221
I completely agree, and will gladly accept your PR. Please give `cmd/deck` the same treatment.

[2017-06-27 18:45] spxtr commented on #3158
Done.

[2017-06-27 18:45] #3158 closed

[2017-06-27 19:03] #2571 closed

[2017-06-27 19:04] spxtr commented on #2315
I'm going to close because it's a general bazel issue, not specific to prow.

[2017-06-27 19:04] #2315 closed

[2017-06-27 19:05] #2559 closed

[2017-06-27 20:51] eparis opened #3228 "PR Author Unable to /approve no-issue"
I've seen a couple of PRs where the author tried to add the `no-issue` tag and the bot refused them. See for example:

https://github.com/kubernetes/kubernetes/pull/48011#issuecomment-311479536

I think the author should be able to add no-issue.

[2017-06-27 21:18] kargakis opened #3229 "Document that two separate bots are needed for running prow+sq"
So far I had figured I would get away with using a single Oauth token both for prow and the submit queue (since I am testing out stuff) but it turns out I was wrong and the trigger plugin is ignoring comments from the bot that has been configured in the hook deployment. Also, it would be nice when the bot comments are ignored to log those dropped events.

https://github.com/kubernetes/test-infra/b

[2017-06-27 21:18] kargakis commented on #3229
/assign

[2017-06-27 21:38] ixdy commented on #1400
For CI testing we have a single build job which produces the binaries that all of the e2e test jobs use.
For PR testing, we currently build and then test in each job. We have plans to fix this (build only once), but we're not there yet.
Since building hyperkube adds a bit of time, and is potentially flaky (lots of dependencies to download in the image), I'm worried about enabling it on all PR jobs

[2017-06-27 22:29] crimsonfaith91 commented on #3181
closed due to no report of re-occurrence.

[2017-06-27 22:29] #3181 closed

[2017-06-27 23:41] xiangpengzhao commented on #3071
closing per Christoph's comment.
/close

[2017-06-27 23:41] #3071 closed

[2017-06-28 00:49] cjwagner commented on #3228
/assign

[2017-06-28 02:56] xiangpengzhao commented on #3190
I see user confused by the `*` : https://github.com/kubernetes/kubernetes/issues/48147#issuecomment-311454933

[2017-06-28 04:05] crimsonfaith91 commented on #3190
@xiangpengzhao I was suggested to have `*`. Please refer PR #3232 why we decided to have `*`.

[2017-06-28 10:59] luxas commented on #1400
Perfect!

So basically the bazel or kubernetes-build will be the only "real" presubmits and the we'll hook up a lot of other tests in `run_after_completition`?

Indeed. But I think the federation job depends on hyperkube...
First of all, we could make the `make hyperkube` call more flake-proof, by retrying 5 times or so if it fails
What about starting with migrating to one/two "build" jobs that ig

[2017-06-28 13:01] eparis opened #3241 "Approval munger spams merged PRs"
I overwrote the approval label manually because the "no-issue" check (which FYI I still hate) wouldn't listen to the PR author. Now the munger is writing to the PR even though it is closed.

https://github.com/kubernetes/kubernetes/pull/47904#issuecomment-311611719

[2017-06-28 16:53] ixdy commented on #1400
That's the idea, yes.

Re: **hyperkube**: I'm considering creating a `debian-hyperkube-base-$arch` image that installs all of the necessary dependencies, and then using that as a base when building the hyperkube image.

It'll solve the flakiness and slowness concerns about building the hyperkube image every time, and it'll make building the hyperkube image in bazel (something I haven't done yet) m

[2017-06-28 17:22] spxtr commented on #3229
Ah, right. I have the trigger plugin ignore itself because I don't want it's "these jobs failed, type /restest to test again" message to actually trigger a retest.

The problem is that the submit queue communicates with prow in two ways. One is for batches: prow just looks at the top of the queue and the submit queue reads prow's status. The other is for individual merges: the submit queue literal

[2017-06-28 17:36] apelisse commented on #2969
Maybe found the cause, sent an email to @brendanburns as an answer to the bulk-lgtm announcement (but didn't want to include kubernetes-dev):

[2017-06-28 17:38] apelisse commented on #2969
Something else that I find suspicious

[code]

[2017-06-28 17:47] grodrigues3 commented on #2969
@apelisse does the bulk lgtm tool have its own token?  Were you ever able to confirm your theory regarding GetPRs?

[2017-06-28 17:50] apelisse commented on #2969
I verified and the cluster uses the same token (I may be wrong).

Not yet. As suggested above, the fastest way to verify would be to turn off bulk-lgtm or let it use a different token.

[2017-06-28 18:21] bgrant0607 commented on #3190
@cblecker I could encourage adoption of other teams by deleting the misc teams. :-)

[2017-06-28 18:22] bgrant0607 commented on #3190
And hitting more people is not a good thing. Hitting the RIGHT people is what's important.

[2017-06-28 18:29] kargakis commented on #3229
Yeah, figured the later out the hard way :)

[2017-06-28 18:42] #3228 closed

[2017-06-28 20:24] apelisse commented on #2969
Bulk-lgtm is now running with my very own token.

[2017-06-28 21:38] spiffxp commented on #3154
@spxtr that'll work, as long as successful assignment is a gate; don't want a drive-by mass-closing, and org membership implies at least some amount of trust

[2017-06-28 22:05] apelisse opened #3249 "bulk-lgtm is making to many github API calls"
This is replacing/extending #2969.

I've tried to re-run bulk-lgtm with my own token and more debug (#3248), and clearly it's using too many tokens:
[code]

760 API calls every 10 minutes, with mostly calls to `GetPR` that mostly misses the cache. The deployment doesn't use a `CacheDir` [anyway](https://github.com/kubernetes/test-infra/blob/master/mungegithub/submit-queue/deployment/bulk-lgtm/depl

[2017-06-28 22:24] spiffxp commented on #3249
OK, I wasn't sure if it was just me.  I noticed the github token usage graph has been maxing out pretty hard on weekday ever since bulk-lgtm was deployed

http://velodrome.k8s.io/dashboard/db/monitoring?from=now-90d&to=now

[2017-06-28 22:26] cblecker commented on #3249
Potentially dumb question: Because bulk-lgtm requires you to log into github, could it not use the logged in user's token instead of the system token? That would split up the calls so the bot tokens don't flood out.

[2017-06-28 22:28] apelisse commented on #3249
I can't believe you knew that was it 😭

[2017-06-28 22:30] apelisse commented on #3249
@cblecker Yeah, IMO this could be written mostly with client-code/javascript here. I'm not sure what is the added value of the server so much.

[2017-06-28 22:38] spiffxp commented on #3124
This has been live for a little bit

https://github.com/kubernetes/community/pull/732#pullrequestreview-46987138 - example of using /lgtm in an "approved" review comment

/close

[2017-06-28 22:38] #3124 closed

[2017-06-29 07:34] luxas opened #3256 "The release note bot should ignore PRs cherrypicked to the earlier release"
I don't know if this is useful, but when editing release notes, in the gdoc, I noticed 5-6 or so PRs, that was suggested for inclusion in the v1.7 noteworthy changes release notes, that had been cherrypicked into v1.6.
The policy IIRC is to have a release-note for all PRs that are gonna be cherrypicked to an earlier release, which means that those will naturally become a part of release notes for

[2017-06-29 16:01] kargakis opened #3258 "Document how batch merges work"
It is going to be really helpful for future interested parties to have a doc that breaks down how batch merges work.

1. The SubmitQueue picks up mergeable PRs from Github
2. splice asks the SQ for mergeable PRs
3. splice creates a batch ProwJob
4. plank starts the actual pod/jj for the batch PJ
5. At least in the Jenkins case, it's up to the Jenkins job to pick up PULL_REFS, break that down in or

[2017-06-29 16:41] spxtr commented on #3183
Done.

[2017-06-29 16:41] #3183 closed

[2017-06-29 16:52] spiffxp commented on #3241
This may have been fixed by #3252

[2017-06-29 16:53] spiffxp commented on #3241
(though the safeguard of not hitting PR's that have been merged is still valid)

[2017-06-29 17:06] spiffxp commented on #3220
Yes, these line up well with the different roles spelled out in https://github.com/kubernetes/community/blob/master/community-membership.md

[2017-06-29 18:45] #3135 closed

[2017-06-29 18:45] spiffxp commented on #3256
Personally, no.  IMO it is correct that the release notes represent changes from 1.6.0->1.7.0, and it would be unexpected if they represented 1.6.6->1.7.0 (eg: or will it be 1.6.7 by the time 1.7.0 is cut?)

What do @kubernetes/sig-release-feature-requests and @kubernetes/sig-docs-maintainers think?

[2017-06-29 18:45] spiffxp commented on #3256
also FWIW this probably belongs in kubernetes/release, as that's where the `relnotes` script is

[2017-06-29 19:00] kargakis commented on #3256
Agreed with @spiffxp

[2017-06-29 20:11] spxtr commented on #2383
I endorse [PodPresets](https://kubernetes.io/docs/tasks/inject-data-application/podpreset/) whenever they go beta.

[2017-06-29 20:11] #2383 closed

[2017-06-29 20:46] sebastienvas commented on #3200
@foxish, I am not having issues with token just yet, but I might as soon as I have prow and mungegithub set up. The repos with the most contributions are pilot, mixer, auth, gally and istio. And I understood that we need an instance per branch? so that would mean 10 instances.

[2017-06-29 21:24] spiffxp commented on #2969
@apelisse thanks for the quick workaround

[2017-06-29 21:26] apelisse commented on #3249
http://velodrome.kubernetes.io/dashboard/db/monitoring?from=now-2d&to=now is pretty much confirming.

[2017-06-29 21:28] spiffxp commented on #3200
@foxish that graph was bumped artificially high by bulk-lgtm, take a look again and you should see more representative usage (hat tip to @apelisse)

[2017-06-29 21:45] foxish commented on #3200
+1 awesome work @apelisse

Makes sense I think, to have mungegithub spawn multiple threads and work on multiple repos. I'll add it to the list above.
The only reason then to use multiple instances in this future world would be because we're hitting token limits.

[2017-06-29 22:22] rmmh commented on #3200
Right now the limitation is more that mungegithub has a lot of global state. A large refactor/rewrite would be necessary to make it work with multiple repos.

[2017-06-29 22:23] spiffxp commented on #1139
Closing because the CNCF's CLAbot isn't under our control.  It's not presently open source (ref: https://github.com/cncf/foundation/issues/3) so I'm not sure what it's behavior is with regard to force pushes vs. additional comments on a PR / issue

[2017-06-29 22:23] #1139 closed

[2017-06-29 22:26] foxish commented on #3200
I believe we could accomplish quite a bit of that goal by having a higher level wrapper that spawns goroutines running the existing munging logic for different repos. I'm not sure how that would work with the caching etc. It would need some reworking, but with istio, we may be able to make it happen.

[2017-06-29 22:28] spiffxp commented on #1622
Fixed by #2362

[2017-06-29 22:28] #1622 closed

[2017-06-29 22:34] spiffxp commented on #1780
/area prow
since prow's trigger is handling presubmits

I can see this being useful in offloading testing work to ci, but it's not going to help improve signal on PR's until they're mergeable anyway, so I don't know

[2017-06-29 22:39] spiffxp commented on #2411
Prow now explains how to use `/retest` or `/test failing test` in its report comments. Can we close this?

/unassign spxtr
/assign grodrigues3

[2017-06-29 22:41] grodrigues3 commented on #2411
@spiffxp Yes we can!
/close

[2017-06-29 22:41] #2411 closed

[2017-06-29 22:43] krzyzacy opened #3270 "Revert #3269 once 1.7 is sorted out"
ref #3269

/assign @krzyzacy @caesarxuchao

[2017-06-29 22:43] ixdy commented on #1400
[ARGH](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/2221):
[code]

[2017-06-29 22:45] spiffxp commented on #1818
closing, #2450 replaced flake-manager with issue-creator and triage-filer, which are still active today

[2017-06-29 22:45] #1818 closed

[2017-06-29 22:47] ixdy commented on #1400
this is a double-fail:
* The docker daemon on the Jenkins VMs is so old (1.9.1) that it doesn't embed `manifest.json`.
* The Jenkins VMs don't have `jq` installed.

[2017-06-29 23:02] mml opened #3271 "Please make it easier to contact OWNERS"
For context, see https://kubernetes.slack.com/archives/C09QZ4DQB/p1498772783748052

I am trying to figure out if my eventual PR will be accepted.  It makes way more sense to ask before writing code than after.  (Ask me how I know! ;-)

OK, anyway, my preference is to have each OWNERS entry contain both a github handle and an email address.  This provides a direct line from "who can aprove my idea"

[2017-06-29 23:19] spiffxp commented on #3162
I would rather we follow the convention where each repo has a CONTRIBUTING.md file that describes how to contribute code to that repo

In the example PR's case, https://github.com/kubernetes/community/blob/master/CONTRIBUTING.md describes the (manual) process of contributing to the kubernetes/community repo.

In kubernetes/kubernetes' case... we have a not-so-great experience ("it's a big topic"?

[2017-06-29 23:53] mml commented on #3162
It's the same question again... how would I know that?  We have a good opportunity to say "hey, by the way contributor person--and by the way assignee--, some human is going to have to merge this".  Or in the other case "just so you know, the robot will merge this when these status messages say it's ok".

@spiffxp in the long run, when those docs exist (which I agree they should), maybe we can jus

[2017-06-30 00:57] ixdy opened #3274 "install `jq` on Jenkins agents and upgrade to recent docker"
The lack of `jq` on Jenkins [keeps](https://github.com/kubernetes/release/pull/207) [tripping](https://github.com/kubernetes/release/pull/357) me up, and it's a prerequisite for `anago`, so we should probably just install it on the agent image.

We're also still using an ancient version of `docker` (1.9.1, from November 2015), which has [started causing](https://github.com/kubernetes/test-infra/is

[2017-06-30 00:57] ixdy commented on #3274
cc @fejta @david-mcmahon

[2017-06-30 02:11] ixdy commented on #3274
/assign

This is apparently a lot easier than I first realized.

I'm also gonna bump go to 1.8.3, though I'm not sure anything uses the version on Jenkins anymore.

[2017-06-30 02:16] spxtr commented on #1780
Related to #1597.

[2017-06-30 05:41] ixdy commented on #1400
First set of images have appeared:
[code]

[2017-06-30 05:44] luxas commented on #1400
@ixdy WOOOOT :tada:!!!
Thank you!

I'll go ahead and make kubeadm able to pick those up :+1:

[2017-06-30 05:48] ixdy commented on #1400
FYI `gs://kubernetes-release-dev/ci-cross/latest.txt` will contain the latest version (it is published after everything has been pushed), but you'll need to convert the `+` in the version to a `_` for the docker tag.

[2017-06-30 12:12] luxas commented on #3256
Agreed, makes sense. Just a thought that needed validation. I have both good and bad ideas ;)

[2017-06-30 12:12] #3256 closed

[2017-06-30 16:30] spiffxp commented on #1044
https://k8s-testgrid.appspot.com/maintenance#Summary

[2017-06-30 17:02] spxtr commented on #3221
Fixed. Thanks!

[2017-06-30 17:02] #3221 closed

[2017-06-30 17:17] spiffxp commented on #2421
https://k8s-testgrid.appspot.com/maintenance#Summary

[2017-06-30 17:23] spiffxp commented on #1965
/area mungegitub

[2017-06-30 17:25] spiffxp commented on #2437
https://k8s-testgrid.appspot.com/google-soak

I don't think this is an issue anymore?

[2017-06-30 17:25] #2437 closed

[2017-06-30 17:28] grodrigues3 commented on #1965
/area mungegithub

missed an h

[2017-06-30 17:33] spiffxp commented on #2496
/area mungegithub

[2017-06-30 17:45] #3156 closed

[2017-06-30 18:05] #3270 closed

[2017-06-30 18:29] spiffxp commented on #2366
Closing this issue as done, see any recent PR in kubernetes/kubernetes for examples of what @k8s-merge-robot now says

[2017-06-30 18:29] #2366 closed

[2017-06-30 18:42] #3140 closed

[2017-06-30 19:11] mml opened #3285 "Allow /assign without the @ sign"
https://github.com/kubernetes/kubernetes/pull/48292#issuecomment-312349791

[2017-06-30 19:12] mml opened #3286 "Can robots tell me when I make a syntax mistake?"
https://github.com/kubernetes/kubernetes/pull/48292#issuecomment-312349791

[2017-06-30 19:22] #3139 closed

[2017-06-30 20:15] spxtr opened #3288 "Add CONTRIBUTING.md to test-infra."
https://github.com/kubernetes/test-infra/issues/3162#issuecomment-312138197 is a solid suggestion. This document should explain how to build/test (`bazel build/test //...`) and how review/merges work.

[2017-06-30 20:40] cblecker commented on #3288
Best label.

[2017-06-30 20:59] #3288 closed

[2017-06-30 21:06] #3285 closed

[2017-06-30 21:18] krzyzacy opened #3292 "Set up aws credential on prow to run aws jobs"
Context: we are moving Jenkins jobs to use prow, and seems for aws jobs we will need to store aws cred as a k8s secret in prow, similar to what we did for Jenkins.

I will work with you when one of you have time :-)

/assign @justinsb @zmerlynn

[2017-07-01 00:09] rmmh commented on #1044
Should be fixed for now. This doesn't impact builds, since builds won't start on a node if 'docker ps' fails.

Occasionally the docker daemon becomes unresponsive on a node. We're running a very old docker (1.9.1), so there's probably been a few bug fixes since! Rebooting the associated jenkins VMs fixes it.

I have a small bash script to fix the issue, but I'm not going to bother committing it si

[2017-07-01 00:10] #1044 closed

[2017-07-01 17:28] xiangpengzhao opened #3295 "k8s-merge-robot labels PR "release-note" even when the release note is "NONE""
When I fixed broken format in CHANGELOG, I found that there are several PRs which have label `release-note` but their release notes are just `NONE`. See:　https://github.com/kubernetes/kubernetes/pull/48328#issuecomment-312274073

One of the PRs is https://github.com/kubernetes/kubernetes/pull/45317. In its description, its release note is `NONE`, but bot still labeled `release-note` to it. It shou

[2017-07-01 17:37] xiangpengzhao opened #3296 "Prevent reviewers label "release-note" if the release note in PR description is "NONE""
ref: #3295

This is another case.

PR https://github.com/kubernetes/kubernetes/pull/32067 has `release-note` but it's release note content is `NONE`. It seems like it's because the PR has release note `NONE` in its description but its reviewer still add a `release-note` label to it. See:　https://github.com/kubernetes/kubernetes/pull/32067#event-778657660. If it was this case, bot should prevent re

[2017-07-01 19:20] crimsonfaith91 commented on #3295
@spxtr A feedback regarding release-note prow plugin that you may be able to help with. :)

[2017-07-01 19:21] crimsonfaith91 commented on #3296
@xiangpengzhao I think spxtr is a better candidate to discuss about this feature.

[2017-07-01 20:50] kargakis commented on #3295
/area prow

[2017-07-01 20:51] kargakis commented on #3296
It seems that the plugin today handles [only new comments](https://github.com/kubernetes/test-infra/blob/625ac8c55eaa2b44020805ff5304d3f6ad4e4418/prow/plugins/releasenote/releasenote.go#L66) and ignores edits.

[2017-07-01 20:52] kargakis commented on #3295
It seems that the plugin today handles [only new comments](https://github.com/kubernetes/test-infra/blob/625ac8c55eaa2b44020805ff5304d3f6ad4e4418/prow/plugins/releasenote/releasenote.go#L66) and ignores edits.

[2017-07-01 20:52] kargakis commented on #3296
/area prow

[2017-07-01 20:53] kargakis commented on #3292
/area prow

[2017-07-01 23:36] xiangpengzhao commented on #3295
Thanks @kargakis!
It would be good to support handling edits.

[2017-07-01 23:38] xiangpengzhao commented on #3296
Thanks @crimsonfaith91 for poiting this out!
@spxtr any thoughts?

[2017-07-02 21:00] spxtr commented on #3296
That PR merged almost a year ago. I think there may have been a bug where adding `NONE` to the release note didn't properly add the label. I'm pretty sure this issue was fixed several months ago. Please reopen this issue if I'm incorrect.

Anyway, that release-note handling is still done by mungegithub, not prow. We should probably migrate that.

[2017-07-02 21:00] #3296 closed

[2017-07-02 21:12] crimsonfaith91 commented on #3296
@spxtr Thanks for the explanation! I am interested to work on this issue if reopened.

[2017-07-02 23:13] xiangpengzhao commented on #3296
Thanks @spxtr @crimsonfaith91！

[2017-07-05 10:29] luxas commented on #1400
@ixdy I think this can be closed now, right?
Or is there anything more you're planning to implement?

[2017-07-05 17:42] spxtr commented on #3092
This seems like it would be easiest with the GitHub API, not a local clone. I think you would just use [this API call](https://developer.github.com/v3/pulls/#list-commits-on-a-pull-request) to get the commit messages for the PR.

[2017-07-05 17:51] stevekuznetsov commented on #3092
@spxtr our validation touches both the commit messages as well as their contents -- an example validation is that a commit touching vendored code for repo `X` declares itself as such in the message. Looks like you can grab [commits](https://developer.github.com/v3/git/commits/) [blobs](https://developer.github.com/v3/git/blobs/) and [trees](https://developer.github.com/v3/git/trees/) but it seems

[2017-07-05 17:54] spxtr commented on #3092
Oh I see. Yes, it makes sense to do a local clone for that case.

[2017-07-05 19:07] grodrigues3 opened #3303 "Add 1.7 to GKE Tab in Testgrid"
In the https://k8s-testgrid.appspot.com/google-gke view, we have tabs for 1.5 and 1.6.  We should also include all the 1.7 tests

[2017-07-05 21:00] spiffxp commented on #3295
I'm tacking on mungegithub since that's where the auto-labeling lives today, but leaving prow if this is in the interest of moving more of that logic to prow.
/area mungegithub

[2017-07-05 21:23] zmerlynn opened #3307 "Move GKE deployment from cluster/gke to kubetest"
As part of the effort to thin down https://github.com/kubernetes/kubernetes/tree/master/cluster, it's easy enough to just remove the whole `cluster/gke` directory by moving to a `kubetest` [deployer](https://github.com/kubernetes/test-infra/blob/0981cb3a959fc0c36a378d3201fa28c268054796/kubetest/main.go#L164), since `cluster/gke` is really only around for e2es.

[2017-07-05 21:32] krzyzacy commented on #3109
still needed or shall I close?

[2017-07-05 22:06] spiffxp commented on #3307
@fejta FYI, created the area/kubetest label, seemed appropos
@zmerlynn I'll leave it to you whether you want to leave on the shrug

[2017-07-05 22:08] krzyzacy commented on #3303
@grodrigues3 after a second look, it does not have 1.6 jobs (except the ones validates ubuntu images), do we still expect all jobs to be there?

[2017-07-05 22:13] spiffxp opened #3311 "Document testgrid tab/group liveliness/ownership requirements"
There are a number of tabs driven by stale GCS buckets that I'd like to remove.  Before enforcing guidelines, we should document what they are.  I'm thinking at a minimum:
- there is an owner
- there is data as recent as X (days/weeks) ago

Fuzzier areas:
- is the tab being paid attention to (eg: jobs that have been failing for ages)
- is the owner responsive
- tabs that were useful but are no lon

[2017-07-05 22:20] zmerlynn opened #3313 "Is JENKINS_GCI_HEAD_IMAGE_FAMILY used?"
As part of analyzing env variables used while working on #3307, I noticed that `JENKINS_GCI_HEAD_IMAGE_FAMILY` is provided but never consumed: https://github.com/search?q=org%3Akubernetes+JENKINS_GCI_HEAD_IMAGE_FAMILY&type=Code

Can I remove it?

cc @wonderfly @abgworrall @fejta

[2017-07-05 22:30] fejta commented on #3313
Should be converted into an arg in config.json to `--extract=gci/gci-canary`

Maybe something was missed during the conversion?

https://github.com/kubernetes/test-infra/commit/bfb5d9536ba48b4c1f3563e3b8c97c8816b32fb7#diff-6276ace2db72f1df8d04fb42c6989b69

[2017-07-05 22:34] caesarxuchao commented on #3109
Closing.

[2017-07-05 22:34] #3109 closed

[2017-07-05 22:35] spxtr commented on #3295
[This block](https://github.com/kubernetes/test-infra/blob/7665825220ee57fe751f3017ba0b5447e2bd257c/mungegithub/mungers/release-note-label.go#L127-L130) appears to be the issue:
[code]
If there is already a release note label then the munger quits right away.

[2017-07-05 22:45] spiffxp opened #3314 "Add support for in-cell annotations to testgrid"
eg: Skipped adds an S, non-fatal errors add an E to cell

[2017-07-05 22:50] zmerlynn commented on #3313
Probably?
https://github.com/kubernetes/test-infra/blob/c263222cdc3bb04daeed77c5a8afd8f676215e87/jobs/ci-kubernetes-e2e-gce-gci-ci-master.env
https://github.com/kubernetes/test-infra/blob/8e2bcd34e0cf9f8f27fbf238fdbebe2749da0c4e/jobs/config.json#L1432

[2017-07-05 22:50] spiffxp opened #3315 "group related testgrid tabs together"
eg: 1.7, upgrades, etc

[2017-07-05 22:51] spiffxp opened #3316 "alert on regressions in a given tab/dashboard"

[2017-07-05 22:53] spiffxp opened #3317 "ensure each sig has a testgrid dashboard"

[2017-07-05 22:54] spiffxp opened #3318 "ensure each testgrid tab has a description"

[2017-07-05 22:56] spiffxp opened #3319 "failure % in testgrid summary tab as % of job runs"
... instead of or in addition to % of test cases

visually speaking, % of columns that aren't completely green, instead of or in addition to % of cells that aren't green

[2017-07-05 22:56] yguo0905 opened #3320 "Add --image to scenarios/kubernetes_e2e.py"
We've added `--image-family` and `--image-project` to `scenarios/kubernetes_e2e.py` so that users can create jobs running against the latest OS image in a family. We'd like to support `--image` along with `--image-project`. This script can figure out what envs to use (`KUBE_GCE_NODE_IMAGE` or `KUBE_GKE_IMAGE_TYPE` or whatever) according to the cloud provider settings. And it would solve the confus

[2017-07-05 22:57] spiffxp opened #3321 "add PR jobs to testgrid"

[2017-07-05 22:57] spiffxp opened #3322 "reduce testgrid update loop to 5m"

[2017-07-05 22:58] spiffxp opened #3323 "open source testgrid updater, written in golang"

[2017-07-05 23:00] spiffxp opened #3324 "open source testgrid dashboard, written in golang"

[2017-07-05 23:01] spiffxp opened #3325 "hovering over testgrid cell displays test failure message"
@michelle192837 I assigned even though your name in our planning doc has question marks next to it, since you commented:

Feel free to adjust/unassign as needed

[2017-07-05 23:02] spiffxp opened #3326 "buildcop can view a single page to see current failures grouped by sig"

[2017-07-05 23:03] spiffxp opened #3327 "integrate kubetest with boskos to lease resources from a pool"
resources aka project

[2017-07-05 23:04] spiffxp opened #3328 "make kubetest start a local cluster that passes conformance e2e tests"

[2017-07-05 23:05] spiffxp opened #3329 "decouple kubetest cluster lifecycle from all jobs"
aka: lease prespun clusters via boskos

[2017-07-05 23:06] spiffxp opened #3330 "eliminate intermediary scripts underneath of kubetest"
eg: jenkins e2e-up, ginkgo-e2e.sh

[2017-07-05 23:07] spiffxp commented on #3330
not entirely the same thing, but ref: #3307 since it's attempting to remove at least some of the `cluster/gke/*.sh` goo

[2017-07-05 23:17] spiffxp opened #3331 "Migrate all mungers out of mungegithub to prow plugins / periodic jobs"
Umbrella issue.

Most of the mungers can be migrated to Prow plugins and respond to github webhook events but a few need to run periodically without having received an event. These should probably be implemented as kubernetes cron jobs.

---
EDIT: here's the munger list as of 2018-08-27

| munger | plan | status|
| --- | --- | --- |
| ~approval-handler~ | [prow/plugins/approve](https://github.com/

[2017-07-05 23:17] spiffxp opened #3332 "Support pushing submit queue configmap without requiring a restart"

[2017-07-05 23:18] spiffxp opened #3333 "Make submit queue read config from a file instead of using flags"

[2017-07-05 23:22] spiffxp opened #3334 "Ensure prow can run on a non-GKE kubernetes cluster"
We're reasonably confident this is already so, just need confirmation

[2017-07-05 23:28] spiffxp opened #3335 "Grow prow to a second kubernetes provider, a second product"
@fejta I've assigned to you to provide some context, our planning doc didn't actually have an owner for this

I am under the impression that OpenShift is interested in this (viz @kargakis recent work), as well as istio (viz @nlandolfi and @sebastienvas commenting on some test-infra related issues).  I can speak for Samsung SDS being interested in this, though in v1.8 timeframe I'll likely be focus

[2017-07-05 23:29] zmerlynn commented on #3313
It also looks like any GKE use of this variable is invalid - `extract.py` isn't setting anything GKE cares about.

[2017-07-05 23:32] spiffxp opened #3336 "Manually start prow jobs"
I went ahead and created this since it wasn't clear to me if we've met the intent.  Please close with a link to the pertinent issue if this has already been done / is a dupe, or fill out context if there's more to be done.

@spxtr

 @fejta

[2017-07-05 23:33] spiffxp opened #3337 "Instrument prow with monitoring metrics, poll/alert via prometheus"

[2017-07-05 23:37] krzyzacy commented on #3336
isn't this what mkpj does?

[2017-07-05 23:41] spxtr commented on #3336
Yes, but to use it you need the ability to `kubectl create` a resource on the k8s cluster where prow is running.

I'm not particularly interested in implementing some sort of authentication layer so that, for instance, PR authors can rerun their own jobs.

[2017-07-05 23:44] spiffxp opened #3338 "Redesign prow job configuration"
@spxtr going to leave it to you to flesh out what this means in a v1.8 scope

Things I've seen before:
- we'd like to invert from how-its-triggered/job to job/how-its-triggered https://github.com/kubernetes/test-infra/issues/2547
- ~~we know config.yaml is huge and could use yaml anchors to shorten it https://github.com/kubernetes/test-infra/pull/3272~~ Will not fix.
- we know config.yaml is huge

[2017-07-05 23:48] spiffxp opened #3339 "Dynamically load prow plugins (aka stop compiling into hook)"
ref: https://golang.org/pkg/plugin/

As prior art, we're seeing other parts of kubernetes move to support out-of-tree plugins in an effort to keep in-tree development focused, while enabling third parties to add features at their own pace.

[2017-07-05 23:54] spiffxp opened #3340 "Integration testing and canary deployment of prow"
As potential prior art, there is talk of using spinnaker to make a deployment pipeline for mungegitub https://github.com/kubernetes/test-infra/issues/3200

We could consider leveraging helm charts to support this.

I believe we're currently auto-deploying config.yaml changes straight to prod assuming they validate by way of passing unit tests.  We may want to break that up a bit.

[2017-07-05 23:56] spiffxp opened #3341 "Create a user-friendly tutorial/walkthrough for setting up your own prow"

[2017-07-05 23:59] spiffxp opened #3342 "Build some of bootstrap's functionality into prow"
@spxtr Since I'm currently not too familiar with bootstrap.py myself, I'll leave it to you to define which functionality that is

Edit from Steve:

Phase: introduce pod utilities into `test-infra`
 - [x] add `clonerefs` for cloning https://github.com/kubernetes/test-infra/pull/6228
 - [x] add `initupload` for `started.json` https://github.com/kubernetes/test-infra/pull/6258
 - [x] add `gcsupload`

[2017-07-06 00:01] caesarxuchao opened #3343 "ci-kubernetes-e2e-kops-aws-release-1-7 is using the master branch images"
https://k8s-testgrid.appspot.com/release-1.7-blocking#aws-release-1-7&width=80

@krzyzacy @justinsb do you know if it's intentional?

cc @wojtek-t who will be the 1.7 patch release manager

[2017-07-06 00:04] spiffxp opened #3344 "Export metrics to velodrome"
I'm interpreting this to mean metrics generated by the scripts/reports in the the `metrics/` subdir, not metrics that may be exposed on apps like mungegithub or prow.

Specifically:
- job consistency / flakiness
- PR flakiness

[2017-07-06 00:05] spiffxp opened #3345 "Expand metrics to include review round latency, review load distribution"

[2017-07-06 00:05] krzyzacy commented on #3343
hummm seems I screwed it up
/assign

[2017-07-06 00:06] spiffxp opened #3346 "Automate weekly consistency, stability reports"

[2017-07-06 00:10] spiffxp opened #3348 "Drive oncall dashboard with community data (not Google-internal)"

[2017-07-06 00:13] spiffxp opened #3349 "Allow people outside of Google to be on test-infra rotation"
- What are the responsibilities of the test-infra rotation role
- What knowledge or experience is necessary to fulfill that role
- What capabilities or credentials are necessary to fulfill that role

[2017-07-06 00:17] spiffxp opened #3350 "bazel: create bazel scenario for use with prow"
support running sequence of bazel commands in any repo

[2017-07-06 00:18] spiffxp opened #3351 "kubernetes_e2e: make --mode=local the default"

[2017-07-06 00:18] spiffxp opened #3352 "kubernetes_e2e: merge kops (and all e2e) scenarios into here"

[2017-07-06 00:19] spiffxp opened #3353 "kubernetes_e2e: replace e2e-runner.sh with scenario, kubetest flags"

[2017-07-06 00:19] #3343 closed

[2017-07-06 00:20] spiffxp opened #3354 "kubernetes_e2e: support arbitrary kubetest flags without modifying scenario"

[2017-07-06 00:21] spiffxp opened #3355 "kubernetes_build: Use kubetest --build instead of hack/jenkins/build.sh"

[2017-07-06 00:23] spiffxp opened #3356 "Migrate to prow all jobs that do not require docker commands"
eg: kubemark uses a docker command

@krzyzacy I'm assuming this means migrate... from jenkins?  Also unclear if migrating to prow implies that there must be a scenario for it.  If not, maybe this is more a jenkins/prow-specific task than a scenarios-specific task?

[2017-07-06 00:25] spiffxp opened #3357 "Decouple --build and --extract"
aka: e2e jobs --extract a --build job that finished a --stage to gcs, using prow's run_after_success pipelineing

Also cc'ing @david-mcmahon since you commented on the original planning doc item

[2017-07-06 00:27] spiffxp opened #3358 "Define resource requirements for each job's containers"
@fejta assigned to you to add more context, feel free to unassign if this wasn't your suggestion.

I'm tempted to say this isn't actually an area/scenarios issue since it would involve touching a config file in the prow directory.

[2017-07-06 00:28] spiffxp opened #3359 "Drop scenario support for --mode=docker"

[2017-07-06 00:29] spiffxp opened #3360 "Refactor e2e env files to allow composition of (suite, provider/environment, account)"

[2017-07-06 00:29] spiffxp opened #3361 "Refactor suites to be specific to a SIG"

[2017-07-06 00:30] spiffxp opened #3362 "Eliminate .env files"

[2017-07-06 00:30] spiffxp opened #3363 "Decouple jobs from projects"
@krzyzacy I'm assuming by "projects" here you mean "GCP projects"

[2017-07-06 00:58] krzyzacy commented on #3351
done by #3291

[2017-07-06 00:58] #3351 closed

[2017-07-06 00:58] krzyzacy commented on #3350
xref #3068

[2017-07-06 00:59] krzyzacy commented on #3356
yeah, kops + soak + pr jobs left

[2017-07-06 01:21] kargakis commented on #3342
cc @stevekuznetsov

[2017-07-06 01:23] kargakis commented on #3349
cc: @leifmadsen @stevekuznetsov

[2017-07-06 04:05] madhusudancs commented on #3349
cc @kubernetes/sig-federation-misc

[2017-07-06 15:36] wonderfly commented on #3313
cc/ @kubernetes/goog-image

I am surprised that both env vars had been replaced... Note that they served different purposes: `JENKINS_GCI_HEAD_IMAGE_FAMILY` says we want to use GCI's daily build as opposed to the hardcoded default as the base image, and `JENKINS_USE_GCI_VERSION` says that we want to use the image's builtin k8s to start the cluster.

Looks like https://github.com/kubernetes/test-in

[2017-07-06 15:39] wonderfly commented on #3313
So I am afraid the gci-ci- jobs has been running with the wrong GCI images (or maybe even with Debian) for long...

[2017-07-06 17:11] ixdy commented on #3355
dupe of #3207

[2017-07-06 17:11] #3355 closed

[2017-07-06 18:01] spxtr commented on #3342
/assign @fejta

The motivation here is that it's currently gross that all of our testing images that run on prow need to have `bootstrap.py` and its dependencies (python, git, and gcloud) installed. Ideally our testing images could have only what they need for testing. If we want to run `go test ./...` then we should be able to use a lightweight go image.

The difficulty is that we do not want to

[2017-07-06 20:01] ixdy commented on #1400
I'd like to get federation builds using these images, and we might want to have some PR jobs (e.g. the kubeadm one) uploading their images, but those can probably be separate efforts.

[2017-07-06 20:02] luxas commented on #1400
You choose ;)

[2017-07-06 20:08] spxtr commented on #3092
See [this doc](https://docs.google.com/a/google.com/document/d/1lNWKNeDiHlyUlD_EcFH9EOLGDbnVKZv7yH2yO5YL0YU/edit?usp=sharing) for some more thoughts.

[2017-07-06 20:21] spiffxp opened #3365 "finish --json migration, drop support for .sh"

[2017-07-06 20:22] spiffxp opened #3366 "Create a bazel bootstrap image"
Assuming this is related to PR #3068 and issue #3350

[2017-07-06 20:25] spiffxp opened #3367 "Migrate bootstrap logic outside test container into prow BootstrapJob init/defer containers"
Possibly a dupe of #3342?

[2017-07-06 20:26] spiffxp opened #3368 "Migrate job configuration out of test-infra, into repo under test"

[2017-07-06 20:26] spiffxp opened #3369 "Migrate bootstrap binary inside image"
@fejta going to need more help clarifying what this means

[2017-07-06 20:28] spiffxp opened #3370 "Rewrite bootstrap in golang"
Just a small matter of running [py2go](https://github.com/jianyuan/py2go) and we can call this done, right? ;)

[2017-07-06 20:30] ixdy commented on #1351
another related case: if you explicitly request testing for a job that isn't set to always run (e.g. with `/test some-job-name`), and that job fails, `/retest` won't retrigger that test, even though the comment left by the bot suggests it will.

[2017-07-06 20:37] spiffxp opened #3371 "can we move bootstrap.py out from jenkins/ into its own bootstrap/ dir?"
I don't have enough context with bootstrap to know how involved this would be (my guess is "very"), pinging @fejta and @krzyzacy since you've been most involved with changes in that area lately.

[2017-07-06 20:38] spiffxp opened #3372 "create integration testing framework"
pinging @fejta since this doesn't have a clear directory to live in nor a milestone assigned; I guessed at 2017

[2017-07-06 21:49] #1400 closed

[2017-07-06 22:26] yguo0905 opened #3374 "Customized tests layout in testgrid"
The Ubuntu image validation (https://k8s-testgrid.appspot.com/canonical-kubernetes) and the COS image validation (https://k8s-testgrid.appspot.com/cos-image-validation) include lots of tests since we'd like to test whether each image version works with each k8s version.

Given the large number of tests and the subtle differences in the test names, it's not easy to navigate to the test I want. It w

[2017-07-06 22:30] fejta commented on #3374
/assign @michelle192837
will you see if you can help Yang? Maybe tabgroups will help here?

[2017-07-06 22:35] fejta opened #3375 "Convert magic kubetest env to flags"
/area kubetest
/assign

Review whether we can do anything better with all the following:
- [ ] `NUM_NODES`
- [ ] `KUBEMARK_NUM_NODES`
- [ ] `KUBEMARK_MASTER_SIZE`
- [ ] `MASTER_SIZE`
- [x] `KUBEMARK_TEST_ARGS`
- [x] `PROJECT`
- [x] `ZONE`
- [x] `KUBERNETES_RELEASE_URL` (fine, set by kubetest)
- [ ] `KOPS_STATE_STORE`
- [ ] `AWS_SSH_KEY`
- [x] `CLOUDSDK_BUCKET`
- [ ] `GOOGLE_APPLICATION_CREDENTIALS

[2017-07-06 22:44] michelle192837 commented on #3374
I think DashboardGroups can help here somewhat, but the actual ask is more like 'I want to view this same test across multiple DashboardTabs', right?

I'm including this somewhat in some later improvements to the TestGrid summary, but I think the more powerful stuff requires some extra design + work. It is on the list for getting worked on at some point though since it's been requested before.

In

[2017-07-06 23:03] yguo0905 commented on #3374
@michelle192837, I think it's not about viewing the same test across mutliple tabs. Take https://k8s-testgrid.appspot.com/cos-image-validation for example. There are currently 33 tests, whose names are listed in **multiple lines** at the top of the page. What I'm suggesting is to reorganize the test name layout by putting the test names into the above **table**, so that we can easily find the test

[2017-07-06 23:35] michelle192837 commented on #3374
Ah, I was referring to rows as tests and tests as tabs, so I think we're on the same-ish page. In that case, I think some possible options are:

- Wait for/Start building out the longer-term solution, which will allow for comparing more easily between the different tests/tabs

- Add [DashboardGroups](https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config.yaml#L2961) and split

[2017-07-06 23:52] spxtr commented on #3370
Overlap with #3342 ?

[2017-07-07 00:00] cblecker commented on #2956
Hmm.. seeing another occurrence of this here: https://github.com/kubernetes/community/pull/787#issuecomment-313550317

[2017-07-07 00:02] cblecker commented on #2956
This functionality was originally added in https://github.com/kubernetes/test-infra/pull/2662

[2017-07-07 00:06] spxtr commented on #3372
This might be better-placed in the k/k repo.

[2017-07-07 00:55] fejta commented on #3372
+1 to k/k

[2017-07-07 01:32] xiangpengzhao commented on #2956
Thanks @cblecker !

Seems like remove the `continue` code block in [getRepeats](https://github.com/grodrigues3/test-infra/blob/master/prow/plugins/label/label.go#L131-L133) would be okay but I'm not sure.

cc @crimsonfaith91

[2017-07-07 01:47] fejta commented on #3370
They are orthogonal tasks

[2017-07-07 01:47] fejta commented on #3370
This is mostly to stimulate community participation of the checkout and upload logic.

[2017-07-07 01:56] cblecker commented on #2956
cc @grodrigues3

[2017-07-07 09:26] ash2k opened #3378 "Prow issue: bot should not tell to re-test if its not allowed"
Please take a look at https://github.com/kubernetes/kubernetes/pull/48384#issuecomment-313541203 - I was told I can run `/retest` but when I did it turned out I don't have enough powers :)
Perhaps bot could be a bit smarter.

Seems similar to #3071, but a bit different.

[2017-07-07 15:25] stevekuznetsov commented on #3342
In Origin we are toying with jobs like this as well -- create an image with the source pre-pulled and merged, layer another image with artifacts built, etc, and have our jobs run in pods that resolve those images so one build step can feed a lot of downstream jobs without having to push&pull lots of artifacts.

[2017-07-07 17:05] spxtr commented on #3368
This is the idea to support the prow equivalent of `.travis.yml`, which lets us test presubmit config changes at the appropriate time.

[2017-07-07 17:47] caesarxuchao opened #3392 "testgrid should show the new build SHA in upgrade test"
e.g., https://k8s-testgrid.appspot.com/1.6-1.7-upgrade

The UI shows the SHA of the old image. It's more useful if the UI instead shows the SHA of the image the cluster is upgraded to, because that's what the release team cares about.

cc @krzyzacy @ixdy

[2017-07-07 18:29] ixdy commented on #3392
FWIW Gubernator used to show both versions in the metadata at the top, but in some of the job config and test-infra refactoring, it seems like this functionality was lost.

[2017-07-07 19:57] fejta commented on #3392
Update this method to include both versions in the metadata.json, which will result in it getting exposed to both gubernator and testgrid
https://github.com/kubernetes/test-infra/blob/master/kubetest/main.go#L345

[2017-07-07 19:59] kargakis commented on #3368
+1 on a `.prow.yml` file in the repo that is being tested.

[2017-07-07 20:01] kargakis commented on #3378
/area prow

[2017-07-07 20:27] kargakis commented on #3370
@stevekuznetsov @csrwng

[2017-07-07 20:27] kargakis commented on #3367
@stevekuznetsov

[2017-07-07 20:33] #2829 closed

[2017-07-07 20:37] spiffxp commented on #3372
whoops, good call, done

[2017-07-07 20:37] #3372 closed

[2017-07-07 20:47] crimsonfaith91 commented on #2956
/assign

[2017-07-07 20:50] fejta commented on #2829
FYI this should all be done, although the kops scenario needs to be merged with kubernetes_e2e.py

[2017-07-07 20:51] spiffxp commented on #3378
Since you're not a member, I believe the issue should have gotten a `needs-ok-to-test` label applied, but it didn't?  Then, since a member lgtm'ed and approved, the tests were run, but the PR is still acting like the `needs-ok-to-test` label is applied.

[commands.md](https://github.com/kubernetes/test-infra/blob/master/commands.md) says anyone on a trusted PR should be able to retest.  I dropped

[2017-07-07 21:18] xiangpengzhao opened #3395 "Approved and lgtm'd PR should retest again automatically if tests failed due to flake"
https://github.com/kubernetes/kubernetes/pull/48410 is approved and lgtm'd. It ran `/test all [submit-queue is verifying that this PR is safe to merge]` to test all before merging but one of the tests failed due to flake. (pull-kubernetes-kubemark-e2e-gce). Then it hangs until I retest it.

It should be able to retest itself automatically in this case. Immediate retesting might not be neccesary. I

[2017-07-07 21:21] kargakis opened #3396 "Graceful shutdown for hook"
Today, hook is ignoring SIGTERM but it should be possible to handle it, wait until all existing events are handled, and exit (might be a lot faster than 180s that is added in https://github.com/kubernetes/test-infra/pull/3377 or even 30s which is the default termination grace period today).

It should be a similar fix to #6751

/area prow

[2017-07-07 21:25] fejta commented on #2544
I think this may exist now?

[2017-07-07 21:25] fejta commented on #2699
/assign @Q-Lee

[2017-07-07 21:46] kargakis commented on #2544
Can we make sure that the spec and the pullrefs field specifically is validated correctly? I want to avoid handling stuff like trailing commas elsewhere.

[2017-07-07 21:50] kargakis commented on #3395
If we are 100% sure it's a flake, it is fine to retrigger on the spot. Otherwise, I am not sure.

[2017-07-07 23:08] xiangpengzhao commented on #3395
Agreed. But it's hard for our lovely bots to be sure about that...

[2017-07-07 23:14] spxtr commented on #3395
@apelisse had this idea too. The idea is that if just one or two suites fail on a PR we should rerun them right away, once. Unfortunately, it's pretty tricky to do this properly.

[2017-07-07 23:19] kargakis commented on #3395
For example, doc changes that fail a test, eg. https://github.com/kubernetes/kubernetes/pull/48592
[We already know it's a doc change](https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/docs-no-retest.go) :)

[2017-07-07 23:25] xiangpengzhao commented on #3395
:+1: good example!

[2017-07-07 23:43] xiangpengzhao commented on #3395
Is there any way for the bots to know whether tests fail due to a know flake?

[2017-07-07 23:49] xiangpengzhao commented on #3395
Since you mentioned doc change, I have another concern : do we need to run(not rerun) all tests for docs-only PRs? I assume some tests have nothing to do with these docs at all.

[2017-07-08 00:14] spxtr commented on #3395
Not really, no.

[2017-07-08 00:16] nlandolfi opened #3400 "prow: prowjob ThirdPartResource -> CustomResourceDefinition ?"
TPRs are deprecated in 1.7 ([see docs](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-third-party-resource/))

Is the plan to move to CustomResourceDefinitions? Happy to help with this if so.

[2017-07-08 00:30] spxtr commented on #3400
Yep! See #3074.

[2017-07-08 00:30] #3400 closed

[2017-07-08 01:07] spxtr opened #3402 "Have deck logs accept job and build number."
Right now deck accepts `/log?pod=foo-123`. Instead, it should accept `/log?job=foo&id=123`. Then, we can switch pod names to be UUIDs. This is a problem because long job names + long build numbers get truncated by k8s, since pod names are limited to 60 characters. We can run into issues with name collisions. We can also run into issues if the truncation results in an invalid pod name.

We can cons

[2017-07-08 03:08] apelisse commented on #3395
One good way to know that it's not a flake, is to run the tests again :-)

Why is it? I remember that we said "it's going to waste a lot of resources". To be honest, we do waste the resource anyway because I'd bet that 99% of the people will just say `/retest`.
if we can limit the number of time we re-run the tests, maybe re-run when the test-infra is more quiet/less overwhelmed and only when spec

[2017-07-08 05:09] xiangpengzhao commented on #3395
60% agree:) Some of the people (40%? haha) might view the failure details to find out whether the flake is caused by their code.

Maybe we can re-run the tests automatically for three times at most for the approved and lgtm'd PRs (i.e. which are ready to merge) only. If they still fail, bots can believe they are not just flake.

[2017-07-10 09:51] kargakis opened #3407 "deck should not assume authentication for logs"
deck today uses basic auth for getting the logs from Jenkins (this assumes that Jenkins is setup with restricted access) whereas since it runs inside a pod, it can reuse its service account token to authenticate for accessing pod logs. Instead of requiring credentials for Jenkins (or any other external system), it should use a location accessible to it w/o auth where the logs are accessible for jo

[2017-07-10 09:51] kargakis commented on #3407
/area prow

[2017-07-10 10:03] kargakis opened #3408 "GC intervals should be configurable"
https://github.com/kubernetes/test-infra/blob/0e1efb9929f4bdc41a0d93197a81043d7ec1db6b/prow/cmd/sinker/main.go#L29-L30

/area prow

[2017-07-10 10:10] kargakis opened #3409 "Set owner references in pods owned by ProwJobs"
This can help in offloading pod GC to the k8s garbage collector and/or constraining what pods sinker can delete, ie. only those owned by ProwJobs.

/area prow

[2017-07-10 10:17] kargakis commented on #3407
This may also be useful for pods, since the GC interval is tight enough (24h today) but artifacts are likely longer-living and pods need to push artifacts out to somewhere anyway.

[2017-07-10 10:20] kargakis commented on #3407
Fixing this issue will also help in reusing ProwJobs for integrating any kind of external system by simply adding a new controller that will pick up plank's work for such external system, w/o having any external logic inside the core prow components.

[2017-07-10 16:37] zmerlynn commented on #3313
Fixed by #3390, thanks!

[2017-07-10 16:37] #3313 closed

[2017-07-10 17:33] stevekuznetsov opened #3412 "Questions about started.json and finished.json"
I'm trying to understand the GCS data layout and content and am having some trouble understanding the `started.json` and `finished.json` files. For instance, I'm looking at [this job](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/48470/pull-kubernetes-unit/38942/) which has:

#### `started.json`
[code]

#### `finished.json`
[code]

I have a number of questions here:

 - what are the dif

[2017-07-10 17:33] stevekuznetsov commented on #3412
/cc @kargakis

[2017-07-10 19:37] mtaufen opened #3414 "Prow Feature Request: Fuzzy matcher for jobs drop-down"
There are a lot of jobs. A fuzzy text-search matcher for the drop-down on prow.k8s.io would help find specific jobs faster in the list.

[2017-07-10 19:43] kargakis commented on #3409
[This is not going to work if ProwJobs and Pods reside in different namespaces](https://github.com/kubernetes/apimachinery/blob/21de1bffe600f61f4873ae774a60f7a7d37ac9bf/pkg/apis/meta/v1/types.go#L273-L275) ...

[2017-07-10 19:58] spxtr commented on #3409
It also won't work if they are in different clusters.

[2017-07-10 20:01] kargakis commented on #3409
Why would we run them in separate clusters? Even the namespace separation doesn't make sense to me and it goes against core k8s api practices but I  guess there are reasons behind these decisions I am missing...

[2017-07-10 20:13] lavalamp opened #3415 "Track release notes per-deliverable"
Repos in the staging directory are published and consumed piecemeal by others. We need a way to provide accurate CHANGELOGs / release notes.

I suggest a tool that does this for each library in staging, for each change to the main repo:

* Use the go compilation libraries to evaluate if the change would cause a change in the public interface of staging/xxx.
* If so, require an xxx-release-note in

[2017-07-10 20:14] lavalamp commented on #3415
@caesarxuchao

[2017-07-10 20:17] shyamjvs opened #3416 "Cluster logs missing for all kubemark tests"
Since saturday cluster logs started missing for all kubemark tests. This is happening for all of them (except scale test).
For instance, all runs from 3517 of kubemark-100 show this problem -> https://k8s-testgrid.appspot.com/google-kubemark#100-gce

Seems like something around test setup changed. Also, metrics and resource usages are being printed in the build-log instead of being written to sepa

[2017-07-10 20:18] shyamjvs commented on #3416
@fejta Assigning this to you. Feel free to reassign as apt :)

[2017-07-10 21:25] fejta commented on #3416
I suspect the issue is that `Kubemark()` needs to push E2E_REPORT_DIR` like `Test()` does

[2017-07-10 21:34] spxtr commented on #3409
We are running untrusted code in prow, so I added the ability to run the test pods in either a separate namespace or a separate cluster entirely. The GitHub access token is pretty powerful and I think it makes sense to keep it as far away from the untrusted code as possible. With RBAC namespaces it should be less important, although on G(C|K)E it's still possible to talk to the metadata server.

[2017-07-10 21:35] shyamjvs commented on #3416
Thanks a lot for spotting the issue. Sent the above PR to fix it, PTAL.

[2017-07-10 21:39] dashpole opened #3419 "cadvisor-kubelet builds failing since 6/30"
[cadvisor-kubelet builds](https://k8s-testgrid.appspot.com/sig-node#cadvisor-kubelet)

example failure:
`W0710 08:01:09.131] + build/assets.sh`
`W0710 08:01:09.794] go install runtime/internal/atomic: open /usr/local/go/pkg/linux_amd64/runtime/internal/atomic.a: permission denied`
`W0710 08:01:09.796] Traceback (most recent call last):`
`W0710 08:01:09.796]   File "/var/lib/jenkins/workspace/ci-ca

[2017-07-10 21:42] dashpole opened #3420 "cadvisor-push builds failing since 6/30"
[cadvisor-push builds](https://k8s-testgrid.appspot.com/sig-node#cadvisor-push)

Example Failure
`W0630 19:29:00.764] Run: ('docker', 'inspect', 'google/cadvisor:canary')`
`W0630 19:29:00.764] 0`
`W0630 19:29:00.764] Run: ('docker', 'version', "--format='{{.Client.Version}}'")`
`W0630 19:29:00.764] Logging in as 'cadvisorjenkinsbot'`
`W0630 19:29:00.764] docker: "login" requires a maximum of 1 arg

[2017-07-10 22:36] kargakis commented on #3409
@spxtr does PSP mitigate some/a lot of the risks with running untrusted code inside a pod? Coupled with locked-down NetworkPolicy?

https://kubernetes.io/docs/concepts/policy/pod-security-policy/
https://kubernetes.io/docs/concepts/services-networking/network-policies/

[2017-07-10 23:22] mengqiy opened #3423 "wrong config for kubectl skew tests"
2 issues with the config:
- Some config is missing for [ci-kubernetes-e2e-gke-new-master-cvm-kubectl-skew](https://github.com/kubernetes/test-infra/blob/5dc6dd918fc0c30e395fabe4ec3e507b0e4f3d57/jobs/config.json#L5317).
`"--test_args=--ginkgo.focus=Kubectl --kubectl-path=../kubernetes_skew/cluster/kubectl.sh"` this line of config is missing. See how we config [ci-kubernetes-e2e-gke-new-master-gci-k

[2017-07-10 23:26] krzyzacy commented on #3423
probably https://github.com/kubernetes/test-infra/commit/1aedc7b48d027c789a84ed412ab8ed1e55fa6e15

not that hunky dory 🔥 😈
/assign @fejta
/unassign

[2017-07-10 23:29] mengqiy commented on #3423
@krzyzacy What is the correct path for `kubectl.sh`?

[2017-07-10 23:36] krzyzacy commented on #3423
maybe it should just be `./kubernetes_skew/cluster/kubectl.sh`, looking

[2017-07-10 23:43] krzyzacy commented on #3423
or we'd better use abs path here?

[2017-07-11 01:30] ixdy commented on #3420
This looks highly correlated to when I upgraded docker from 1.9.1 to 1.11.2 (https://github.com/kubernetes/test-infra/pull/3276).

We're not going to downgrade docker, so this probably needs to be fixed in the cadvisor scripts.

[2017-07-11 01:35] ixdy commented on #3420
not sure what's going on [here](https://github.com/kubernetes/test-infra/blob/f66ed8292d07e2fb641a7c3d3bbc317bd6e84ed0/scenarios/canarypush.py#L53-L60) but it doesn't seem to be doing the right thing for docker 1.11:

1.11:
[code]

1.9:
[code]

it looks like email isn't used at all anymore?
cc @krzyzacy

[2017-07-11 01:44] krzyzacy commented on #3420
eh.. the scenario was translating what it used to do, and yes seems `--email` was only valid for before docker 1.9?

maybe we can just do `docker login user password`?

[2017-07-11 02:37] ixdy commented on #3419
also correlates with #3276, but I don't understand what's happening here.

[2017-07-11 06:18] spxtr commented on #3409
They certainly mitigate a lot of the risk, but I think there are still holes. In particular, I don't think NetworkPolicies allow you to block pods talking to the GCE metadata server, although I might be wrong.

[2017-07-11 10:35] kargakis commented on #3409
Egress policy is briefly discussed in https://github.com/kubernetes/kubernetes/issues/22469

[2017-07-11 13:42] kargakis commented on #3412
@fejta @spxtr @ixdy  who can help out with these questions?

[2017-07-11 16:34] spiffxp commented on #3348
https://assets.nagios.com/downloads/nagioscore/docs/nagioscore/3/en/oncallrotation.html came up on kubernetes-dev mailing list

[2017-07-11 17:22] #3073 closed

[2017-07-11 20:23] shyamjvs commented on #3416
This issue is fixed after merging the above PRs.
Ref: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/6516/artifacts/

[2017-07-11 20:23] #3416 closed

[2017-07-11 20:48] MrHohn opened #3436 "Need easier ways to learn what a CI job is about"
From https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-master&width=20.

While looking into test failures, I found the upgrade CIs' names are so confusing --- we have `master-upgrade-cluster`, `master-upgrade-master`, `master-upgrade-cluster-new`. I have no idea what each CI is about and how are they different. The only way to figure out is digging into build logs and

[2017-07-11 20:59] michelle192837 commented on #3436
If a short summary would be enough, someone should be able to add [descriptions](https://github.com/kubernetes/test-infra/tree/master/testgrid/config#tab-descriptions) for each tab to describe which tabs are testing what.

[2017-07-11 21:01] krzyzacy commented on #3436
it reads better as: gke - [gci-1.7] - [gci-master] - upgrade - [master/cluster/cluster-new(skew)]

there should be some doc at the env files, and yes agree we can add them to the description.

[2017-07-11 21:07] MrHohn commented on #3436
That sounds great. Will that description be available on k8s-testgrid as well?

[2017-07-11 21:10] krzyzacy commented on #3436
yes, for example, http://k8s-testgrid.appspot.com/sig-storage#gce-1.6 has a hover text as description

[2017-07-11 21:12] krzyzacy commented on #3436
@MrHohn if the comment is enough then we can add that to testgrid, if not then maybe give some suggestion on what's a better way to summarize the upgrade test?

[2017-07-11 21:44] fejta commented on #3423
Investigating...

[2017-07-11 21:48] MrHohn commented on #3436
@krzyzacy Thanks, comments like that should be sufficient. Sent a PR for adding descriptions, though not all CIs have useful comments in their env files.

[2017-07-11 21:51] kargakis commented on #3436
@spiffxp can we get a kind/documentation label? Consistent with the main repo and there are a couple of more doc-related issues: https://github.com/kubernetes/test-infra/issues/3258 https://github.com/kubernetes/test-infra/issues/3229 https://github.com/kubernetes/test-infra/issues/3118 https://github.com/kubernetes/test-infra/issues/3117

[2017-07-11 21:55] spiffxp commented on #3436
/kind documentation

I'm not a fan of an explosion of kinds, but makes sense to me

[2017-07-11 21:56] spiffxp commented on #3258
/kind documentation

[2017-07-11 21:59] caesarxuchao commented on #3415
Apart from the public interface changes, we found changes to the comments on API types might worth a release note as well.

For example, https://github.com/kubernetes/kubernetes/pull/36355 didn't change the public interface, but it did announce that the Job API was to be deprecated in the next release. A client-go release note was also needed, since client-go users need to see the deprecation noti

[2017-07-11 22:08] mbohlool commented on #3415
Would it make sense to check for changes in OpenAPI spec as it would include both public interface changes and any documentation changes. This of course would not include any structural changes in the client-go itself, but it would be a good tool to be used for all clients.

[2017-07-11 22:22] caesarxuchao commented on #3415
Checking OpenAPI change is also plausible for the case i brought up.

[2017-07-11 22:23] caesarxuchao commented on #3415
@ericchiang had put together a tool that records the public interfaces of a package. It is a good place to start. https://github.com/ericchiang/gopkgapi

[2017-07-11 23:01] krzyzacy commented on #3436
/unassign
we'd just ask people (maybe each sig) add description to their job

[2017-07-11 23:05] krzyzacy commented on #3303
@grodrigues3 maybe either ask someone cares about the gke dashboard (gke release manager?) to send a PR to customize this, or close it.

[2017-07-11 23:07] krzyzacy commented on #2067
seems this is moving towards get away from env files (to kubetest flags) + generate all the configs. the subdir is not likely going to happen.

[2017-07-11 23:07] #2067 closed

[2017-07-11 23:09] #1772 closed

[2017-07-11 23:12] grodrigues3 commented on #3303
@jlowdermilk

[2017-07-11 23:21] jlowdermilk commented on #3303
I just mentioned this to @fabioy a few minutes ago. We will get the tab updated.

[2017-07-12 00:13] pwittrock commented on #3423
fwiw, things started failing between 7/6 13:20 (passed) and 14:20 (failed).  Looks like there were no changes to the tests between those times (both ran at bf2be8073).

[2017-07-12 00:17] krzyzacy commented on #3420
nvm,  maybe https://stackoverflow.com/questions/32279790/docker-toolbox-windows-logging-into-quay-io?

[2017-07-12 00:19] krzyzacy commented on #3420
hummm, I'm not able to get the same error in python..

[2017-07-12 00:24] pwittrock commented on #3423
Yes, PR #3309 looks like a likely candidate.

[2017-07-12 00:27] fejta commented on #3423
Yes, that's the cause. Need to figure out what to do about it

[2017-07-12 03:47] fejta commented on #3423
Odd... If I run kubetest without the --extract flag things seem to work...

[2017-07-12 04:01] fejta commented on #3423
Hmm... maybe locally the problem is kubectl is on my path

[2017-07-12 05:13] fejta commented on #3423
Aha! If I change the focus from out-of-range to kubectl I get the error

[2017-07-12 06:30] fejta commented on #3423
Apparently the path is relative to `./kubernetes/platforms/linux/amd64` not `./kubernetes`

[2017-07-12 07:29] fejta opened #3446 "Why do we have both clean-projects and janitor?"
https://github.com/kubernetes/test-infra/blob/master/jobs/maintenance-pull-clean-projects.sh
https://github.com/kubernetes/test-infra/blob/master/scenarios/kubernetes_janitor.py

Any idea why we need both of these jobs running?
/assign @krzyzacy

[2017-07-12 12:03] crassirostris opened #3449 "Filter by the release branch in gubernator/prow"
Sometimes job fails 100% times in some specific release, but since you cannot filter by this, is seems like it only flakes

[2017-07-12 16:38] spxtr commented on #2969
Possible to close this? It looks like the munger is back to using a normal amount of tokens.

[2017-07-12 16:41] spxtr opened #3450 "Approval comment not updated after force push"
In #48644, someone opened a PR that needed approval from three people. Then, they edited the PR such that it only needed approval for one file that they were an owner of. The munger added the "approved" label, but didn't switch the comment to indicate this.

Sorry if this is a dupe. @grodrigues3

[2017-07-12 16:52] pwittrock opened #3451 "PR Dashboard: shows PR that already been merged"
https://k8s-gubernator.appspot.com/pr/pwittrock shows this PR 45320 even though it was merged some time ago

[2017-07-12 17:12] krzyzacy commented on #3446
I think janitor is derived from clean-projects and should have pull jobs covered now. We probably can delete maintenance-pull-clean-projects.sh.

[2017-07-12 17:12] apelisse commented on #2969
yes that was fixed.

[2017-07-12 17:16] #2969 closed

[2017-07-12 17:54] fejta commented on #2969
Is it using it's own account or just it's own token?

[2017-07-12 19:00] zmerlynn commented on #3330
Is anyone working on this? For the GKE work, I may need to add a flag to `kubetest` to bypass `ginkgo-e2e.sh` completely.

[2017-07-12 19:15] spiffxp commented on #3249
Just to be explicit about it since the issue description indicates a "temptation" to disable the service, https://github.com/kubernetes/test-infra/issues/2969#issuecomment-314835934 indicates bulk-lgtm has since been disabled.

By disabled do we mean the files in https://github.com/kubernetes/test-infra/tree/master/mungegithub/bulk-lgtm aren't deployed to a cluster atm? Would we re-enable by deplo

[2017-07-12 20:11] apelisse commented on #3249
Yes, [it](https://kubernetes.submit-queue.k8s.io/bulk-lgtm/) is not running.

Yes, bug would reappear if redeployed.

[2017-07-12 20:12] apelisse commented on #2969
It uses the same secret key in the cluster, hence the exact same token as the submit-queue.

[2017-07-12 20:41] crimsonfaith91 opened #3462 "Old bot comments are not retired yet"
The old bot comments `@k8s-bot test this`, `@k8s-bot <some-test-name> test this` and `@k8s-bot ok to test` are still working. We should retire them.

[2017-07-12 20:41] crimsonfaith91 commented on #3462
/assign @crimsonfaith91

[2017-07-12 21:17] pwittrock commented on #3423
@fejta I am seeing a failure for the upgrade tests that I think maybe the same issue.  Does this look like the same thing to you?

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-cvm-master-upgrade-cluster/48/build-log.txt

[2017-07-12 22:20] pwittrock commented on #3423
Also, this started failing sometime around PR #3444.  Do you think it is related?

https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new&show-stale-tests=

[2017-07-12 22:24] ixdy commented on #3423
Looks unrelated:
[code]

[2017-07-12 22:29] pwittrock commented on #3423
@ixdy Thanks.  Any idea who owns that failure?

[2017-07-12 22:40] ixdy commented on #3423
@pwittrock per https://go.k8s.io/oncall I think @krousey

[2017-07-12 22:47] fejta commented on #3423
/close

[2017-07-12 22:47] #3423 closed

[2017-07-12 22:55] fejta commented on #3423
Given the timeframe of failures starting, I suspect GKE pushed something around midnight that broke test

[2017-07-12 23:09] spxtr commented on #3451
doop of #1576

[2017-07-12 23:09] #3451 closed

[2017-07-13 03:52] caesarxuchao commented on #2847
Bot stops working again:
[code]
It looks like it runs out of github quota. I'll try to reboot the bot.

[2017-07-13 07:51] kargakis opened #3476 "Document prow plugins"
Similar to the [command descriptions](https://github.com/kubernetes/test-infra/blob/master/commands.md).

/kind documentation
/area prow

[2017-07-13 09:42] foxish commented on #3200
Just added https://github.com/kubernetes/test-infra/pull/3478 which adds a helm chart. I think the use of helm will reduce the burden of maintaining several of these (@sebastianvas, this was your primary concern), since it lets us templatize a tonne of things that are shared. I'm also planning on using a common-chart for the `image:tag` and other common fields that need to be shared across multipl

[2017-07-13 18:24] luxas commented on #2555
@michelle192837 Hi, could you give a short status update? Have you had time to look at this yet?
Thanks for volunteering to do this :)

[2017-07-13 21:28] spxtr opened #3492 "updateconfig uses the commit from the PR, not the merged commit."
This can lead to pushing outdated configs. [This line](https://github.com/kubernetes/test-infra/blob/8ea4cb4d9652c60495fe71a5354ad789d52ea6fd/prow/plugins/updateconfig/updateconfig.go#L114) and [this line](https://github.com/kubernetes/test-infra/blob/8ea4cb4d9652c60495fe71a5354ad789d52ea6fd/prow/plugins/updateconfig/updateconfig.go#L121) use the wrong commit.

[2017-07-13 21:44] mbohlool opened #3494 "remove sig-api-machinery from "no sig label" message"
Can we remove api machinery from this message: https://github.com/kubernetes/test-infra/blob/6f7432c18267d6e9bfd6732d30e2ea4725326a99/mungegithub/mungers/sig-mention-handler.go#L106

it should be a non-existing sig so copy/pasting fails or API Machinery team will get more and more unrelated issues/PRs.

[2017-07-13 21:44] mbohlool commented on #3494
@grodrigues3

[2017-07-13 21:55] grodrigues3 commented on #3494
@mbohlool the current implementation does not a trigger a notification to api machinery nor would copy/paste trigger a notification.

[2017-07-13 22:54] grodrigues3 commented on #3494
I'm fine with changing the example from api-machinery to contributor-experience-group-suffix

[2017-07-13 22:55] grodrigues3 commented on #3494
@crimsonfaith91

[2017-07-13 22:59] lavalamp opened #3498 "OWNERS: Add mechanism to label PRs"
Add a `labels:` section to OWNERS files; when the bot munger sees a PR changes files to which the OWNERS file applies, it will add those labels to the PR.

Use case: I want to make sure that the sig/api-machinery label is applied to all PRs touching various directories. I imagine other SIGs could use this also.

I want this badly enough that I might be willing to actually write it, if there are no

[2017-07-13 23:05] crimsonfaith91 commented on #3494
@mbohlool @grodrigues3 Current implementation should not trigger any notification anymore to api machinery. i will change it to  contributor-experience-group-suffix`.

[2017-07-13 23:17] crimsonfaith91 commented on #3494
/assign

[2017-07-13 23:41] lavalamp commented on #3498
There's already a path-label munger, but it seems to work off of a config file, which isn't super useful.

[2017-07-13 23:44] #3492 closed

[2017-07-13 23:44] lavalamp commented on #3498
See https://github.com/kubernetes/test-infra/blob/master/mungegithub/path-label.txt

I think both mechanisms would be useful-- it's better to keep labels local in OWNERS files for maintainability, but it's also nice to be able to match all types.go files via regexp.

[2017-07-13 23:55] lavalamp commented on #3498
I am 75% of the way towards having a PR ready for this.

[2017-07-14 00:05] fejta commented on #3498
Hmm... we would like this to be a prow plugin, not a munger

[2017-07-14 00:10] spxtr commented on #3498
We'll probably migrate the entire approvals system to prow, but probably this should be added onto the munger for now.

[2017-07-14 06:36] xiangpengzhao commented on #2956
fixed by #3398. Thanks!
/close

[2017-07-14 06:36] #2956 closed

[2017-07-14 16:58] xiangpengzhao opened #3508 "Should ignore strings other than empty or "@foo" after "/assign""
See: https://github.com/kubernetes/kubernetes/issues/48927#issuecomment-315408077

If I want to assign some issues to myself by `/assign`, it doesn't work due to I'm not an org member and gives me a comment telling me why. But if I comment `/assign any string`, nothing happens. It would be good to give the same comment to tell me that I can't assign myself instead of giving nothing.

I remember if

[2017-07-14 18:08] lavalamp commented on #3498
I don't care where it ends up but at the moment I think all OWNERS file implementation code should be in one place.

[2017-07-14 19:05] krzyzacy commented on #3374
ah missed this, dashboardgroup is definitely helpful for your case :-)

[2017-07-14 19:47] #3303 closed

[2017-07-14 20:11] grodrigues3 opened #3514 "Approvers suggestion from a different file"
For this PR the bot says we need an approver from test/e2e and then suggests lavalamp who is not in that OWNERS file.

https://github.com/kubernetes/kubernetes/pull/48890#issuecomment-315218321

[2017-07-14 20:20] csbell opened #3515 "FederationTest does not set E2E_REPORT_DIR"
Since #3394, the testgrid is not reporting pass/fail on any of the tests in federation-e2e despite the fact that they are running (and passing, most of the time).

This applies to the 1.7 tests: http://k8s-testgrid.appspot.com/release-1.7-all#gce-federation-release-1-7&show-stale-tests=
and to head tests: http://k8s-testgrid.appspot.com/sig-federation#gce&show-stale-tests=

/assign fejta

[2017-07-14 21:14] fejta commented on #3515
I'm pretty sure I know what this is as kubemark had the same problem.

[2017-07-14 21:21] fejta commented on #3515
Fix out, will update kubetest in these images after we merge.

[2017-07-14 22:05] #3446 closed

[2017-07-14 22:21] #3515 closed

[2017-07-14 22:54] yguo0905 commented on #3374
Sorry, got distracted by other things.

@michelle192837 and @krzyzacy, thanks for providing the solutions! I think dashboard_group is closer to what I need. As you suggested, I want to create the following dashboards `cosdev`, `cosbeta`, `cosstable1`, `cosstable2` and also `k8sdev`, `k8sbeta`, `k8sstable1`, `k8sstable2`. They are so many dashboards, so is there a way to only show the DashboardGrou

[2017-07-14 22:55] fejta commented on #3374
Yes, we plan on adding this feature during 1.8

[2017-07-14 23:02] yguo0905 commented on #3374
Cool!

[2017-07-14 23:38] fejta opened #3522 "prow dashboard no longer displays log output"
/assign @spxtr
/area prow

[2017-07-14 23:39] fejta commented on #3522
http://prow.k8s.io/log?job=pull-kubernetes-e2e-gce-bazel&id=2370 is empty but kubectl logs for the job still shows output

Joe says this is a recent regression

[2017-07-14 23:41] krzyzacy commented on #3522
do we need https://github.com/kubernetes/test-infra/pull/3509?

[2017-07-15 00:45] spxtr commented on #3522
Fixed. #3509

[2017-07-15 00:45] #3522 closed

[2017-07-15 14:48] kargakis opened #3530 "Converge into a standard logging format"
hook and splice do not use the JSON log format by default as opposed to elsewhere in prow. We may want to sync all compontent to use the same format by default.

/area prow

[2017-07-15 17:37] xiangpengzhao opened #3533 "Should include repo info in "Associated issue" if the issue isn't in k/k repo"
See: https://github.com/kubernetes/kubernetes/pull/48943#issuecomment-315384071

The PR fixes kubernetes/kubeadm#323, but the bot only says `Associated issue: 323` in its comment. It's not so clear. Just a nit.

/cc @crimsonfaith91

[2017-07-15 18:10] kargakis commented on #3462
They are still working I guess because k8s-merge-bot is using them to rerun tests for PRs with old test results.

[2017-07-15 18:15] crimsonfaith91 commented on #3462
@kargakis Thanks for the information! I will look at how k8s-merge-bot uses them.

[2017-07-15 20:26] chrislovecnm opened #3534 "Build queue for kops - Question"
Hey all

How do we get a build queue for kops, with automatic merges with an LGTM?  Do we have instructions on how to setup one?

The problem we have had multiple times is that a PR is merged into master, and after the merge, master is broken :(

Also, it would be awesome to have PRs just merged automatically.

[2017-07-15 21:07] krzyzacy commented on #3534
/assign @cjwagner

[2017-07-17 01:31] fejta opened #3536 "Eliminate ginkgo-e2e.sh"
Call ginkgo e2e.test directly from kubetest
/cc @zmerlynn

/area kubetest

[2017-07-17 01:31] fejta commented on #3536
find ginkgo
find e2e.test

# CLEAN
E2E_REPORT_PREFIX
E2E_REPORT_DIR
E2E_MIN_STARTUP_PODS
E2E_CLEAN_START
CLUSTER_IP_RANGE

# AUTO

source cluster/kube-util.sh
conform:
  detect-master-from-kubeconfig
else:
  prepare-e2e
  detect-master
  KUBE_MASTER_URL=https://KUBE_MASTER_IP
gce:
  set_num_migs
  NODE_INSTANCE_GROUP = F(NUM_MIGS)
gke:
  detect-node-instance-groups
  ','.join(NODE_INSTANCE_GROUPS[

[2017-07-17 05:11] fejta commented on #3536
Migrating all this functionality into kubetest will be minimally gross since it doesn't look like for the most part it is doing anything useful but it will still be a lot of monotonous refactoring.

[2017-07-17 08:24] xiangpengzhao commented on #2346
FYI, these PRs  need rebase, but lack the label:
https://github.com/kubernetes/kubernetes/pull/48237
https://github.com/kubernetes/kubernetes/pull/46913
https://github.com/kubernetes/kubernetes/pull/46598

[2017-07-17 10:25] shyamjvs opened #3539 "Logs from nodes missing for some jobs"
This is happening for some kubemark tests and gce-scalability test too (there might be more) since the early hours of 14th july:

Ref:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/3463/artifacts/
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/3618/artifacts/  (3576 was the last run where it was working)
http://gcsweb.k8s.io/gcs

[2017-07-17 10:26] shyamjvs commented on #3539
@fejta Assigned to you. Feel free to reassign as apt.

[2017-07-17 15:32] apelisse commented on #2346
Yeah, I'll try to submit a dumb pr to fix that today

[2017-07-17 16:08] xiangpengzhao commented on #2346
Thanks @apelisse! PRs have conflicting files without notifying contributors is not so good an experience:)

[2017-07-17 17:52] enisoc opened #3544 "Bot merged PR without approval"
It looks like the bot merged https://github.com/kubernetes/kubernetes/pull/48562 via the submit queue even though it never got OWNERS approval. Either the bot did something weird, or GitHub has lost the record of the PR getting approved...

[2017-07-17 17:55] krzyzacy commented on #3544
I think this is fixed by https://github.com/kubernetes/test-infra/pull/3504?
/assign @cjwagner

[2017-07-17 17:57] cjwagner commented on #3544
Yes that issue was fixed.

[2017-07-17 17:57] #3544 closed

[2017-07-17 18:02] spxtr commented on #3544
[These PRs](https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr%20-label%3Aapproved%20is%3Amerged%20merged%3A%3E2017-07-10) merged without approval during that window.

[2017-07-17 18:23] spxtr commented on #3498
This feels a little like feature creep for the approvers munger. Currently it handles adding the approved label properly, but it also handles checking for associated issues and now adding labels? These latter two features are mostly unrelated to approving PRs.

[2017-07-17 18:34] enisoc commented on #3544
I went through that list and it seems they all fall into one of two buckets:

* Docs/comment changes that are pretty trivial.
* Changes that were otherwise approved, except that the approvers didn't add `no-issue`.

[2017-07-17 18:35] cjwagner commented on #3333
This was done in #3429

[2017-07-17 18:35] #3333 closed

[2017-07-17 19:26] lavalamp commented on #3498
I need this feature. I am happy to put the source for it wherever, as long as it live with the directories or at least in the repo (e.g., not in the path-label munger input file).

[2017-07-17 19:52] brahmaroutu commented on #3508
/assign

[2017-07-17 20:22] spxtr commented on #3498
I think it makes sense to put it in the path label munger as @cjwagner suggests.

[2017-07-17 20:26] fejta commented on #3508
I do not think we should fix this. `/assign will fix it` is ambiguous between wanting to assign to yourself with a comment and wanting to assign it to three people (will, fix and it).

[2017-07-17 20:27] fejta commented on #3508
User behavior is more flexible and can change their behavior.

It is better to keep our plugins simple rather than trying to distinguish between myriad edge cases like this (we already took a patch to accept /assign fejta in addition to /assign @fejta which I'm not crazy about

[2017-07-17 20:58] spxtr commented on #3508
Please put all commands isolated on their own lines with no non-argument text after the command. Possibly we should update commands.md to make this more clear.

[2017-07-17 20:59] brahmaroutu commented on #3508
@xiangpengzhao @fejta I think the code does handle random strings, it is probably some logic in the event handler that generate comment handler event.
BTW I do agree(not fixing it) that the user can check to see assignees but is it possible to automate assignees? A proper error code should come out of this action if we want a script to run this for some reason.
If we are not fixing can we close th

[2017-07-17 21:22] enisoc opened #3549 "kops build timed out on all 1.6 cherrypick PRs"
The `pull-kubernetes-e2e-kops-aws` test is failing on all `release-1.6` PRs with a log like this:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48875/pull-kubernetes-e2e-kops-aws/35232/
[code]

The continuous job seems to be ok, however:

https://k8s-testgrid.appspot.com/release-1.6-all#kops-aws-1.6&width=20

[2017-07-17 21:24] enisoc commented on #3549
ref:
https://github.com/kubernetes/kubernetes/pull/48875
https://github.com/kubernetes/kubernetes/pull/48823
https://github.com/kubernetes/kubernetes/pull/48312

[2017-07-17 21:37] cjwagner commented on #3534
@chrislovecnm If you make a config file with the options you want for the kops repo I can deploy a mungegithub instance for you.  The config should look something like the [contrib config](https://github.com/kubernetes/test-infra/blob/master/mungegithub/submit-queue/deployment/contrib/configmap.yaml) or the [kubernetes config](https://github.com/kubernetes/test-infra/blob/master/mungegithub/submit

[2017-07-17 23:32] chrislovecnm commented on #3549
/assign @justinsb @zmerlynn

[2017-07-17 23:33] chrislovecnm commented on #3534
BTW ... the binary does not build on mac.  Pushing a PR, my main question is how to integrate our e2e run.

[2017-07-17 23:48] yguo0905 commented on #3374
@michelle192837, @krzyzacy, @fejta, do we have an issue tracking the feature mentioned in https://github.com/kubernetes/test-infra/issues/3374#issuecomment-315486405?

[2017-07-18 00:45] apelisse commented on #2346
Should be fixed.

[2017-07-18 00:45] #2346 closed

[2017-07-18 06:44] xiangpengzhao commented on #3508
@fejta did you mean that `/assign will fix it` will think `will fix it` as three people even though there are no `@` before the three strings? Hmm...

Agree with not fixing it but it'd be good to document it more clear.

[2017-07-18 09:34] kargakis commented on #3508
/kind documentation

[2017-07-18 11:11] shyamjvs commented on #3539
This is fixed by https://github.com/kubernetes/kubernetes/pull/49040.

[2017-07-18 11:11] #3539 closed

[2017-07-18 14:24] kargakis opened #3563 "path-label.txt and block-path.yaml should be passed as ConfigMaps..."
...in the munger as opposed to mounting them inside the Dockefile.

https://github.com/kubernetes/test-infra/blob/46237c76b16827e0be3bf2cc00418446c49e0ae4/mungegithub/Dockerfile-submit-queue#L24-L25

/area mungegithub

[2017-07-18 16:40] spiffxp commented on #3494
no longer mentions api-machinery, latest eg: https://github.com/kubernetes/kubernetes/issues/49122

[2017-07-18 16:40] #3494 closed

[2017-07-18 18:10] #3534 closed

[2017-07-18 18:28] spiffxp commented on #3514
The comment-deleter munger got to the linked comment, I don't suppose anyone has a copy of the logs to show the timestamp of how/why the (blunderbuss?) munger made this decision?

[2017-07-18 20:14] #3026 closed

[2017-07-18 20:25] #3092 closed

[2017-07-18 21:10] #3498 closed

[2017-07-19 01:22] rmmh opened #3579 "Publisher should be a postsubmit job split out of mungegithub."
It uses effectively none of mungegithub's framework (just command-line arguments), so it should be a standalone program.

[2017-07-19 03:02] xiangpengzhao opened #3580 "PR which has a "approved" label still gets a "NOT APPROVED" comment"
See: https://github.com/kubernetes/kubernetes/pull/49110

This PR was labeled `approved` manually https://github.com/kubernetes/kubernetes/pull/49110#event-1169125755. But the `k8s-merge-robot` still told me that the PR is `NOT APPROVED` https://github.com/kubernetes/kubernetes/pull/49110#issuecomment-316228422. This is confusing.

Seems like the PR is indeed approved. All checks have passed and `

[2017-07-19 03:32] xiangpengzhao opened #3581 "Mention approver in the "NOT APPROVED" comment"
In the comment which tells that the PR is not approved, e.g. `We suggest the following additional approver: dchen1107`, the approver's name is only listed there, without being mentioned. It'd be good to mention the approver here. This will be a notification to ping the approver.

[code]
Example from: https://github.com/kubernetes/kubernetes/pull/48237#issuecomment-315750679

/cc @crimsonfaith91

[2017-07-19 03:58] xiangpengzhao opened #3582 "Propagate sig team notification for non-org members across all K8S repos"
Since labels will be propagated across all repos (https://github.com/kubernetes/test-infra/issues/2504, https://github.com/kubernetes/test-infra/pull/2706), it'd be good to propagate sig team notification for non-org members across all K8S repos.

See: https://github.com/kubernetes/community/pull/778#issuecomment-315614907
It doesn't work in kubernetes/community for now.

/cc @crimsonfaith91 @grod

[2017-07-19 06:16] crimsonfaith91 commented on #3581
No, we should not ping the suggested approvers. They receive many emails every day.

[2017-07-19 06:35] xiangpengzhao commented on #3581
Hmm, I also worried about that this might generate spam notifications/emails. Agree with not ping.
Thanks!
/close

[2017-07-19 06:35] #3581 closed

[2017-07-19 12:01] dims commented on #3419
@ixdy based on tips here - https://bugzilla.redhat.com/show_bug.cgi?id=973842 - could be a problem with timestamps. Maybe we could throw a `--touch` when we extract the files? other tips i found were around cleaning up the previous directory (https://www.google.com/search?q=%22atomic.a%3A+permission+denied%22)

[code]

[2017-07-19 16:38] spiffxp commented on #3549
this needs to get cherry-picked into release-1.6 https://github.com/kubernetes/kubernetes/pull/48762

[2017-07-19 16:43] spiffxp commented on #3549
cherry-pick PR https://github.com/kubernetes/kubernetes/pull/49214

[2017-07-19 17:14] spiffxp commented on #3579
/area mungegithub
just because this involves ripping code out of mungegithub

[2017-07-19 17:17] spiffxp commented on #3580
At some point we might want to disallow the "approved" label getting manually added as a circumvention of OWNERS, but I'm not sure OWNERS is healthy enough to mandate enforcement of that opinion

[2017-07-19 17:22] spiffxp commented on #3582
I have a theory that it'll start working as soon as `sig/foo` labels are added to the repo in question

This is also maybe a sign that we want to extract re-announcing org team names on half of non-org-members into a prow plugin not named 'label'

[2017-07-19 17:23] grodrigues3 opened #3584 "OWNERS_ALIAS Requires Root Approval"
The OWNERS_ALIAS file in the root directory of kubernetes/kubernetes requires root approval to update.  Sig leads should be able to update their reviewers/approvers.

I'm not sure what the solution is for this yet, so please propose potential ideas.

[2017-07-19 17:25] spxtr commented on #3584
We solved this for build-related things by symlinking them into the build directory.

[2017-07-19 19:10] krzyzacy commented on #3375
cc @shyamjvs

So we need to make sure the wiped env is not used in k/k in future PRs :-)

[2017-07-19 20:49] enisoc commented on #3549
That seems to have fixed it. Thanks!

[2017-07-19 20:49] #3549 closed

[2017-07-19 21:18] luxas commented on #3580
@spiffxp I definitely don't think OWNERS is healthy enough to do that.

[2017-07-20 09:41] wojtek-t opened #3602 ""PROJECT not set" is printed in every test run"
In every test run (of all suites), I'm currently seeing this log:
[code]

I think this is result of broken PR by @fejta  moving the env var to --gcp-project.

@fejta @kubernetes/test-infra-maintainers

[2017-07-20 12:48] luxas opened #3605 "periodic-kubernetes-e2e-kubeadm-gce-1-6 can't ssh to master"
[code]

cc @pipejakob @mikedanese @krzyzacy @fejta
Seems like the job don't have the right ssh keys to get the kubeconfig file in order to run e2e tests...?

[2017-07-20 12:52] luxas commented on #3605
Worth mentioning is that this behavior is flaky, sometimes passes, sometimes fails: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#periodic-kubeadm-gce-1.6

[2017-07-20 13:01] luxas opened #3606 "The `gcr.io/k8s-testimages/e2e-kubeadm` image should automatically get updated"
ref: https://github.com/kubernetes/test-infra/pull/3589#issuecomment-316485835 and https://github.com/kubernetes/test-infra/pull/3571#issuecomment-316479449

@fejta @krzyzacy @pipejakob @mikedanese

[2017-07-20 15:29] xiangpengzhao opened #3608 "Support command "/lgtm trivial" or something to make PR not need approval"
Currently a PR needs an associated issue. If no issue, it needs `/approve no-issue` to get approved. When it has both `lgtm` and `approved` labels, it's then allowed to be merged. lgtm-ers and approvers may be different people, so the PR should wait for `lgtm` from one people and `approved` from other one(s). However, it's definitely unnecessary for those trivial PRs, especially the PRs which fix

[2017-07-20 15:58] shyamjvs commented on #3375
Yes, that's definitely needed.

[2017-07-20 17:08] kargakis commented on #3608
I am against this. We should not allow bypassing approvals as much trivial a PR can be.

[2017-07-20 17:21] crimsonfaith91 commented on #3608
@kargakis Agreed too. A trivial PR can be dangerous. :)

[2017-07-20 17:30] BenTheElder opened #3609 "CONTRIBUTING.md link to maintainers cannot be opened by non-members"
The contributing docs currently link to [kubernetes/test-infra-maintainers](https://github.com/orgs/kubernetes/teams/test-infra-maintainers/members) which is a dead link.

I'm not actually seeing a suitable replacement yet though.

/cc @ixdy

[2017-07-20 17:31] BenTheElder commented on #3609
From another issue, it seems that the link is not bad, just not visible to non-members.

<img width="255" alt="screen shot 2017-07-20 at 10 29 48 am" src="https://user-images.githubusercontent.com/917931/28430733-6c1ece7e-6d36-11e7-9016-b550b01b940d.png">

Not sure if this should be fixed or is as-intended.

[2017-07-20 17:40] krzyzacy commented on #3602
/assign

ref https://github.com/kubernetes/kubernetes/issues/49185#issuecomment-316773331

[2017-07-20 17:56] #3530 closed

[2017-07-20 18:03] krzyzacy commented on #3605
It might because `USER` is ubuntu instead of prow.. But it should be constantly failing instead of flaky..

[2017-07-20 18:20] pipejakob commented on #3605
I was trying to look into this a few weeks ago, but was unable to find a pattern (@krzyzacy, this is why I was asking about figuring out which nodes were used for old e2e runs). We've seen problems in the past where the test-infra cluster just had a single node that was misbehaving, so I was hoping it was attributable to something like that. This job is definitely flaky, and in the times when it f

[2017-07-20 19:15] ixdy commented on #3605
are we still cleaning up ssh metadata? that's caused problems for us on some jobs in the past.

[2017-07-20 19:16] krzyzacy commented on #3605
@ixdy we only clean ssh metadata for pr projects I think

[2017-07-20 19:27] krzyzacy commented on #3602
fixed via #3610

[2017-07-20 19:27] #3602 closed

[2017-07-20 19:36] spxtr commented on #3609
Oh right, I totally forgot that teams aren't visible to non-org-members. We should link to something more useful for new contributors.

[2017-07-20 19:38] xiangpengzhao commented on #3608
The lgtm-ers should be very sure that a PR is indeed trivial when they are ready to `/lgtm trivial`. OTOH, approvers might miss potential bugs even though we request approval from them.

[2017-07-20 19:45] xiangpengzhao commented on #3608
This is a balance between convenience and safety. I agree with that safety should be our first choice. The more steps (lgtm + approved), the safer it seems to be:)

[2017-07-20 20:01] ixdy commented on #3609
@spxtr maybe we should add OWNERS files to test-infra so the munger can assign reviewers automatically?

[2017-07-20 20:03] grodrigues3 commented on #3608
Yeah, I don't want to provide a mechanism to circumvent approvers (which is our primary source of gating since lgtm can be written by anyone in the org now).   Can we close?  Or are there other suggestions?

[2017-07-20 20:43] xiangpengzhao commented on #3608
Yeah, agreed.
/close

[2017-07-20 20:43] #3608 closed

[2017-07-20 21:02] BenTheElder opened #3615 "submit-queue flags have outdated names"
submit-queue has flags referencing "jenkins" ci jobs, see https://github.com/kubernetes/test-infra/pull/3600#discussion_r128613322

[2017-07-20 21:05] kargakis commented on #3615
/area mungegithub

[2017-07-20 21:11] spxtr commented on #3609
We should add a CODEOWNERS file so that GitHub assigns reviewers automatically, no need for a munger :)

[2017-07-20 21:11] BenTheElder commented on #3615
Perhaps `nonblocking-jenkins-jobs` -> `nonblocking-jobs`?

[2017-07-20 21:47] ixdy commented on #3609
I think we should strive to have the same developer experience for all of our repos. Having CODEOWNERS in some places and k8s OWNERS in other places is going to be very confusing for contributors.

The fact that test-infra doesn't have a SQ like other repos has already been problematic.

[2017-07-20 21:51] krzyzacy opened #3617 "ci-test-infra-bazel is failing"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-test-infra-bazel/56785/

/assign @rmmh
kettle?

[2017-07-20 21:58] BenTheElder opened #3619 "Expand submit-queue CI results"
Based on discussion with @fejta we'd like to add a section similar to the non-queue-blocking builds at https://submit-queue.k8s.io/#/e2e but for pre-submit batch checks (and later potentially others). This info exists in prow/deck but there is not a similar display specifically for most recent results.

See #3600 for previous attempt. Instead of this, the idea is to specifically show for batch job

[2017-07-20 21:59] BenTheElder commented on #3619
/area mungegithub

[2017-07-20 22:05] spiffxp commented on #3609
Agree with @ixdy

I keep hearing mention of eventually wanting to drive teams from files vs just leaning on githubs teams but I'm not sure if that's a roadmapped plan

[2017-07-20 22:20] spxtr commented on #3609
I'm conflicted about this particular case. I do agree that it's nice to have the same developer experience for all the repos, but I don't think we should wall ourselves off from using native GitHub tooling because we made our own a few months before they made theirs.

It's going off on a tangent from this PR though.

We'll still be using GitHub teams, we'll just keep the source of truth in files a

[2017-07-20 22:21] rmmh commented on #3617
This was broken by #3447

/unassign
/assign fejta

[2017-07-21 01:21] BenTheElder opened #3624 "Prow Data URL and batch merges are coupled"
mungegithub / submit-queue has a flag `--batch-url` which is overloaded to both set the url for fetching batch results from prow/deck and to `!= ""` meaning batch merge handling is enabled.
The `batch-url` currently in use for kubernetes actually contains more than just batch jobs. @rmmh suggested using two flags instead.

I'll put up a PR shortly.

[2017-07-21 01:21] BenTheElder commented on #3624
/area mungegithub

[2017-07-21 03:23] krzyzacy commented on #3605
looks green for the last two runs, gonna close this.

[2017-07-21 03:23] #3605 closed

[2017-07-21 05:03] fejta opened #3627 "Kettle uses an implicit dependency on python-requests"
Please ensure all kettle dependencies are added to BUILD files

/assign @rmmh

ref https://github.com/kubernetes/test-infra/issues/3617

[2017-07-21 05:04] fejta commented on #3617
Looks like a bug in kettle's build file, forked off that issue and assigned it to you Ryan
Will look into the verify-pylint issue

[2017-07-21 06:25] fejta opened #3628 "*-bazel-*.sh jobs need to migrate to bootstrap.py"
https://github.com/kubernetes/test-infra/search?utf8=%E2%9C%93&q=coalesce.py&type=

/assign spxtr

[2017-07-21 06:27] fejta opened #3629 "bazelbulid image is too opinionated"
There are also too many versions of the image running around.

/assign
/cc @spxtr @ixdy

[2017-07-21 08:04] kargakis commented on #3615
sgtm

[2017-07-21 10:07] kargakis opened #3632 "Make minimum confidence in golint configurable"
linting while nice to have is not a hard requirement for merging code today and can be regarded as too opinionated. It can also get noisy w/o adding much value, eg. https://github.com/kubernetes/kubernetes/pull/49289#issuecomment-316815435. Also, I am not sure if I wouldn't get all those comments was there a doc.go in place ... It would be nice to dismiss those comments by having the bot removing

[2017-07-21 10:10] kargakis commented on #3624
Are you going to make deck expose just batch jobs under a different endpoint?

[2017-07-21 14:57] xiangpengzhao commented on #3609
I wonder why we make such teams private. Any reasons?

[2017-07-21 14:59] fejta opened #3633 "Streaming log output"
When I click on one of the burger icons at http://prow.k8s.io/ it displays the latest `kubectl log` output for that pod.

I would like to switch this to use `kubectl -f log` with HTTP chunked transfer encoding, so that it continues streaming output until I close the page and/or the pod completes.

https://en.wikipedia.org/wiki/Chunked_transfer_encoding

[2017-07-21 15:04] fejta commented on #3633
/cc @spxtr @brahmaroutu

[2017-07-21 15:09] kargakis opened #3634 "Impossible to debug lack of permissions on a github token"
hook sets a logger on the github client only in local mode so it's impossible to debug things when running in normal mode, eg. lack of permissions on the github oauth token.

/area prow

[2017-07-21 15:22] xiangpengzhao commented on #3450
As the PR number in this issue is not linked, I give a link here for guys convenience: https://github.com/kubernetes/kubernetes/pull/48644

[2017-07-21 15:24] xiangpengzhao commented on #3450
OTOH, it's really confusing to see a PR has `approved` label and a `NOT APPROVED` comment. See: #3580

[2017-07-21 15:53] xiangpengzhao commented on #3378
commands.md  is linked by the second `here` as below. Yeah the first `here` links to pull-requests.md,  it'd be better to link to [pull-requests.md#the-testing-and-merge-workflow](https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#the-testing-and-merge-workflow)

[2017-07-21 15:55] kargakis commented on #3634
[All errors from the handlers are ignored today](https://github.com/kubernetes/test-infra/blob/bf102b9799a224808bdcde5de29cc6f985ead268/prow/hook/server.go#L90-L126) ...

[2017-07-21 16:01] brahmaroutu commented on #3633
/assign

[2017-07-21 16:25] spxtr commented on #3609
GitHub makes them private with no way to make them public, I think.

[2017-07-21 16:40] BenTheElder commented on #3624
I think this particular change is a good plan regardless but what I'd like
to do is have submit-queue expose more prow job types similar to what's in
the e2e tab now, ideally with more info (recent job pass rate?). I'll
expand more on that at https://github.com/kubernetes/test-infra/issues/3619
which ought to be rewritten a bit before implementing.

On Jul 21, 2017 03:11, "Michail Kargakis" <notif

[2017-07-21 17:13] spxtr commented on #3632
The review API's dismiss review option is for reviews that request changes. Anyone with write access can dismiss such a review, the idea being that if the reviewer is OOO you should still be able to merge. See [the docs](https://help.github.com/articles/dismissing-a-pull-request-review/).

There is one thing we can do to cut back on comments like the one you ran into in your PR. We can set a [mini

[2017-07-21 17:45] spxtr commented on #3634
I set the logger always in #3622.

[2017-07-21 17:45] krzyzacy commented on #3628
/assign

[2017-07-21 18:16] ixdy commented on #3629
what do you mean by "too opinionated?"

[2017-07-21 18:35] kargakis commented on #3632
Disregard my Review comment. Minimum confidence sgtm, we may also want to allow devs configuring it, eg. /lint 0.2 or /lint min_conf=0.2

[2017-07-21 18:37] kargakis commented on #3634
Awesome. There is another issue here which I am going to send a PR for shortly so I won;t forget.

[2017-07-21 19:16] #3634 closed

[2017-07-21 20:08] spxtr opened #3639 "Data race in mungegithub"
[code]
[code]
and others

[2017-07-21 22:20] cjwagner commented on #3639
Two of the races detected (including the one you posted) were true data races in the testing code and could have caused flakes. All of the other races detected appear to be safe though as they are just pointer assignments without ordering constraints. To make `go test -race` stop complaining about them we would need to add locks to every munge object and use them whenever accessing the object.

[2017-07-21 22:31] spxtr commented on #3639
I'm not thrilled about leaving data races in our code just because they're pointer assignments. This prevents us from ever turning on `-race` in our tests, which we can now do with bazel.

Prow doesn't have data races when it reloads config. Why does mungegithub?

[2017-07-21 23:04] cjwagner commented on #3639
The races are totally unrelated to reloading config, the races are all related to mungeobjects or combinedstatus objects being updated and read from at the same time by different submit-queue threads. There are tons of places throughout mungegithub's code where fields are read directly from mungeobjects. Every one of these uses would have to be changed to use a lock in order to eliminate races com

[2017-07-21 23:32] spxtr commented on #3639
OK, I guess that's acceptable if mungegithub is EOL. I guess we can turn on race detection for everything other than mungegithub in the meantime.

[2017-07-22 03:39] xiangpengzhao opened #3646 "Example in k8s-merge-robot comments about mentioning a sig is incorrect"
See in one of the newest issue: https://github.com/kubernetes/kubernetes/issues/49427#issuecomment-317142974

`e.g., @kubernetes/contributor-experience-<group-suffix> to notify the contributor experience sig`

It should be `@kubernetes/sig-contributor-experience-<group-suffix>`. Notice the lost `sig-`. Incorrect example can be misleading :)

/cc @crimsonfaith91

[2017-07-22 05:15] crimsonfaith91 commented on #3646
@xiangpengzhao This has been fixed last week, but the change is not deployed yet.

[2017-07-22 05:16] xiangpengzhao commented on #3646
Oh, thanks! I didn't notice the patch :)
/close

[2017-07-22 05:16] #3646 closed

[2017-07-22 22:01] crimsonfaith91 commented on #3646
https://github.com/kubernetes/test-infra/pull/3510

[2017-07-24 17:04] cblecker commented on #3462
I think it's this message that needs to be fixed:
[code]

[2017-07-24 17:14] crimsonfaith91 commented on #3462
@cblecker Noted! Thanks! :)

[2017-07-24 19:02] spxtr commented on #3617
kettle bug fixed, was just missing a dep.

[2017-07-24 19:02] spxtr commented on #3627
#3638

[2017-07-24 19:02] #3627 closed

[2017-07-24 21:15] #2839 closed

[2017-07-24 21:58] BenTheElder opened #3661 "submit-queue, "/google-internal-ci" is an outdated endpoint name"
see: https://github.com/kubernetes/test-infra/pull/3600/files#r128624050
submit-queue has an endpoint "/google-internal-ci" that serves the e2e build status, we should maybe rename this at some point.

/cc @kargakis @ixdy

[2017-07-24 21:58] BenTheElder commented on #3661
/area mungegithub

[2017-07-24 22:29] spiffxp opened #3662 "triage-filer: 'Test' failure clusters are prone to going stale"
It seems like often these issues just go untouched because there's nothing actionable, eg: https://github.com/kubernetes/kubernetes/issues/45380 or https://github.com/kubernetes/kubernetes/issues/48300

I'm open to keeping this around if it actually provides any signal, but thus far I haven't found any examples.  Modify to filter out clusters whose only failing test is 'Test'?

[2017-07-24 23:14] fejta commented on #3629
It has a bunch of "helpful" defaults which in an attempt to save characters make it a) hard to understand how the image works b) hard to make it do something different and c) results in leaking a bunch of global state

I want prow's job definitions to explicitly state how it interacts with bootstrap.

[2017-07-25 01:56] #3624 closed

[2017-07-25 03:35] xiangpengzhao opened #3668 "Bot doesn't remove "lgtm" after the PR has changed in kubernetes/kubernetes.github.io"
See: https://github.com/kubernetes/kubernetes.github.io/pull/4430

I made some changes in this PR and pushed them. But bot didn't remove `lgtm` after that. It should, right?

/cc @crimsonfaith91

[2017-07-25 03:43] spxtr commented on #3668
That's done by a munger right now. @nlandolfi may be interested in redoing that munger in prow?

[2017-07-25 03:45] krzyzacy commented on #3668
do we even have a munger for that repo?

[2017-07-25 04:33] crimsonfaith91 commented on #3215
/close

[2017-07-25 04:33] #3215 closed

[2017-07-25 05:41] spxtr commented on #3668
No.

[2017-07-25 05:56] fejta commented on #3375
ADDITIONAL_ZONES
ALLOWED_NOTREADY_NODES
APISERVER_TEST_ARGS
AWS_CONFIG_FILE
AWS_SHARED_CREDENTIALS_FILE
CLOUDSDK_API_ENDPOINT_OVERRIDES_CONTAINER
CLOUDSDK_COMPONENT_MANAGER_DISABLE_UPDATE_CHECK
CLOUDSDK_CONTAINER_USE_APPLICATION_DEFAULT_CREDENTIALS
CLOUDSDK_CONTAINER_USE_CLIENT_CERTIFICATE
CLOUDSDK_CORE_PRINT_UNHANDLED_TRACEBACKS
CLUSTER_IP_RANGE
CMD_GROUP
CONTROLLER_MANAGER_TEST_ARGS
DOCKER_TEST_

[2017-07-25 07:01] nlandolfi commented on #3668
Yes I am interested!

[2017-07-25 07:02] nlandolfi commented on #3668
Will likely create some sort of design document perhaps first, but looking to implement as prow plugin I think

[2017-07-25 14:39] kargakis commented on #3408
/assign

[2017-07-25 17:29] spiffxp commented on #3178
I will try tackling this under https://github.com/kubernetes/test-infra/issues/1966

[2017-07-25 17:33] spiffxp commented on #1966
https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/approvers/README.md

[2017-07-25 17:41] grodrigues3 opened #3675 "[Umbrella Issue] Enable Mungebot in Community Repo"
Turn on the mungebot in the community repo.

- [x] identify which mungers we want turned on (size, SQ, blunderbuss, approvers, etc)
- [x] generate OWNERS files for community repo
- [x] create configmap for community
- [x] write MAKEFILE for easy mungebot deployment

[2017-07-25 17:44] yutongz opened #3677 "SQ constantly comments approval-handler messages every loop"
I am deploying submit-queue for istio, everything looks fine except when I enable approval-handler, sq keeps commenting with the same message about approval notification [pr](https://github.com/istio/test-infra/pull/293)
foxish pointed me to [this issue](https://github.com/kubernetes/contrib/issues/1901), so I tried to replace the botName with our bot except test files, but still get the same prob

[2017-07-25 17:45] yutongz commented on #3677
@foxish @apelisse

[2017-07-25 17:47] spiffxp commented on #1966
approval now also requires a linked issue: https://github.com/kubernetes/test-infra/issues/2868

[2017-07-25 17:48] spiffxp commented on #1966
PR docs currently don't reference need for linked issue: https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md

[2017-07-25 17:50] grodrigues3 commented on #3675
@kubernetes/sig-contributor-experience-feature-requests @spiffxp

[2017-07-25 17:53] foxish commented on #3677
cc/ @cjwagner

[2017-07-25 17:57] kargakis commented on #1966
cc: @stevekuznetsov

[2017-07-25 18:03] cjwagner commented on #3677
The bot names should definitely be parameterized. Did you change https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/matchers/comment/interactions.go#L67?

[2017-07-25 18:09] kargakis commented on #3677
Hrm, can we move those into the munger config?

[2017-07-25 18:26] #3615 closed

[2017-07-25 18:51] kargakis commented on #3677
@stevekuznetsov fyi

[2017-07-25 19:03] krzyzacy opened #3679 "Have some service to monitor boskos status"
Maybe I'll have some pod output boskos status to some public place, and have some interface.

Currently the way is to stare at stacktrace logs.

/assign

[2017-07-25 20:50] grodrigues3 commented on #1631
@crimsonfaith91 can we mark this closed?

[2017-07-25 20:53] crimsonfaith91 commented on #1631
sure!
/close

[2017-07-25 20:53] #1631 closed

[2017-07-25 20:55] grodrigues3 commented on #3271
@kubernetes/sig-contributor-experience-feature-requests

[2017-07-25 21:09] yutongz commented on #3677
OK, I think I figured out how to teach mungegithub recognize our bot name. I am going to create a pr to make bot name configurable.

[2017-07-25 21:35] MrHohn opened #3684 "[sig-network dashboard] release tabs match nothing"
In #3658 couple release specific tabs were added to [sig-network dashboard](https://k8s-testgrid.appspot.com/sig-network#). But I just realized that since we only added the keyword "[sig-network]" on upstream, those release branches will still match no tests...For instance, [gce-release-1-7 tab](https://k8s-testgrid.appspot.com/sig-network#gce-release-1-7) is empty.

Couple ideas in mind:
- Remove

[2017-07-25 21:39] spiffxp commented on #3675
/assign @cjwagner

I think you're working on the last checkbox at least, per comments during latest sig-testing meeting about "standardizing behavior across all repos" I wasn't sure if you own the first two checkboxes

[2017-07-25 21:42] MrHohn commented on #3684
/area testgrid

[2017-07-25 21:43] krzyzacy commented on #3684
I don't think it's a testgrid issue, it's probably sig-network and probably need to be in the main repo :-)

[2017-07-25 21:43] stevekuznetsov commented on #3677
@yutongz we've got a PR in the works as well -- if you have not yet started, it may save you time. We will try to deliver it soon

[2017-07-25 21:48] spiffxp commented on #3668
can we close this as "works as intended" or is there something to be done here?

[2017-07-25 22:00] MrHohn commented on #3684
Agree...I think I'd remove those tabs first and bring the discussion into sig email thread or sig meeting.

[2017-07-25 22:00] #3684 closed

[2017-07-25 22:07] yutongz commented on #3677
@stevekuznetsov  that will be awesome, thanks!

[2017-07-25 22:11] nlandolfi commented on #3668
no need to keep open on my account

[2017-07-25 22:43] xiangpengzhao commented on #3668
Thanks!
/close

[2017-07-25 22:43] #3668 closed

[2017-07-25 23:26] spiffxp commented on #3034
ref #3675
this issue seems mostly related to prow instead of mungegithub, but if that gets turned up, we may want to use these jobs to gate certain PR's

[2017-07-26 00:34] stevekuznetsov opened #3694 "submit-queue: How do we want to handle OWNERS in vendored projects?"
We have enabled the submit queue in a repository that vendors repositories that contain OWNERS files. This is problematic as those files can contain developers that are not active in the downstream project, and therefore cannot be or should not be assigned for review/approval.

I can see two approaches:

 - ignore OWNERS inside of vendor directories
 - when failing to assign someone as a reviewer

[2017-07-26 05:13] BenTheElder commented on #3619
After tinkering on this a bit I think I'd like to refactor submit-queue to have a more generic CI dashboard where the E2E results page exists currently.

I'm thinking something *like this*, perhaps with more categories for non-batch presubmit jobs, post-submit jobs, and periodic jobs:
<img width="1313" alt="screen shot 2017-07-25 at 9 41 50 pm" src="https://user-images.githubusercontent.com/917931

[2017-07-26 06:07] fejta commented on #3619
Great suggestion and like the screenshot!

[2017-07-26 06:52] kargakis opened #3697 "Closing pull requests still doesn't work"
Tried both [downstream](https://github.com/openshift/origin/pull/15403#issuecomment-317963842) and [upstream](https://github.com/kubernetes/kubernetes/pull/48217#issuecomment-317964800) with the same result.

Log from our hook instance
[code]

/area prow
cc @stevekuznetsov

[2017-07-26 06:53] kargakis commented on #3697
/kind bug

[2017-07-26 06:53] kargakis commented on #3697
Can we give the bug label a nice red color? :)

[2017-07-26 07:19] cjwagner commented on #3619
This would be a nice improvement.

[2017-07-26 13:14] lukaszgryglicki commented on #2504
I did some updates, please take a look - this may be close to the finish, but I need feedback about Dockerfile, image and pod deployment yaml.

[2017-07-26 13:26] xiangpengzhao commented on #3697
Yeah https://github.com/kubernetes/test-infra/pull/3641 was merged but seems like it doesn't work as expected.

See Christoph's testing PR: https://github.com/kubernetes/kubernetes/pull/49517#issuecomment-317931030

cc @cblecker

[2017-07-26 13:27] xiangpengzhao commented on #3697
xref: https://github.com/kubernetes/test-infra/issues/2839 https://github.com/kubernetes/test-infra/issues/2863

[2017-07-26 13:37] stevekuznetsov opened #3699 "mungegithub: approval-handler: don't suggest approvers that are already assigned by blunderbuss"
For instance, with these logs:

[code]

We see that `blunderbuss` assigns the PR to someone, then the `approval-handler` needs another approver but is not aware apparently of what `blunderbuss` has done.

/area mungegithub
/cc @eparis

[2017-07-26 14:01] stevekuznetsov opened #3700 "Prometheus Metrics for Robot Commands"
It would be cool to see Prometheus metrics we could expose through Velodrome for robot commands like `/retest` to see how users (or a specific user) interact with the robots.

/cc @deads2k @eparis

[2017-07-26 14:27] eparis commented on #3694
If we try to use OWNERS inside vendor'd projects for assignment OWNERS_ALIASES won't work correctly since that is hard coded to a single file.

[2017-07-26 15:11] cblecker commented on #3697
/assign
Will look at this today.

[2017-07-26 17:15] spxtr commented on #3700
Right now that information is stored for a week or so in logs, but we should try to make it public somehow. I agree.

[2017-07-26 18:18] stevekuznetsov opened #3704 "mungegithub: no-issue: Is it possible to turn off the "no associated issue" munger through config?"
This munger does not always make sense for every repo and it would be cool if it could be disabled through config.

/area mungegthub

/cc @kargakis

[2017-07-26 20:18] shyamjvs opened #3710 "KUBE_GCE_ZONE not being set correctly inside kubetest for jobs using non-default zone"
KUBE_GCE_ZONE is showing value "us-central1-f" (which is the default [set inside kubetest Dockerfile](https://github.com/kubernetes/test-infra/blob/master/jenkins/e2e-image/Dockerfile#L48)) even though some jobs are overriding it with a different value through `--gcp-project`. I verified it for a couple of jobs (from within the container).

These issues are happening a bit too frequently now. Also

[2017-07-26 20:25] krzyzacy commented on #3710
Does gke job even care about this env? I thought this matches the previous behavior when we set `ZONE=some-zome` through env files for gke jobs.

I'll check the gce ones.

[2017-07-26 20:27] BenTheElder commented on #3619
https://docs.google.com/document/d/1slcGFpLrrIc-zPV4j-gd_7LVwb18hlLyZfobOKWPtPw/edit#

[2017-07-26 20:28] shyamjvs commented on #3710
fyi - @kubernetes/sig-scalability-misc @gmarek @wojtek-t
(since scalability jobs are among the ones affected)

[2017-07-26 20:30] fejta opened #3711 "Refactor --json=true to --deprecated"
/assign @krzyzacy

Use --json by default
Refactor any bootstrap.py commands without --json to add --deprecated and Remove --json from any commands.

[2017-07-26 20:33] shyamjvs commented on #3710
@krzyzacy Like you said, this probably doesn't affect gke tests (luckily due to using a different env var), but note that we're setting this variable for gke jobs too due to Dockerfile (and it can potentially be misused).

[2017-07-26 20:36] krzyzacy commented on #3710
@shyamjvs I checked https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-release-1-7/137?log#log, it uses the right zone, what was the job you've seen?

[2017-07-26 20:36] krzyzacy commented on #3711
I figured I can delete the `--json` entirely rather than another round of refactor :-) Will handle this.

[2017-07-26 20:39] krzyzacy commented on #3710
oh, if you mean the printed out KUBE_GCE_ZONE from the log, that will be overwritten in kubetest and will not actually be used. We'd remove the default from Dockerfile to reduce the confusion.

[2017-07-26 20:40] spiffxp commented on #3704
FYI @kubernetes/sig-contributor-experience-misc @rmmh @cjwagner

/area mungegithub

[2017-07-26 20:40] shyamjvs commented on #3710
How did you check? The logs ofc would show the right one in --gcp-zone flag. However it is not set as env var correctly within the container. I checked by `docker exec`ing into the container.

[2017-07-26 20:43] grodrigues3 commented on #3704
@apelisse

[2017-07-26 20:44] fejta commented on #3711
Sweet!

[2017-07-26 20:44] cblecker commented on #3697
@spxtr can you confirm we're seeing the same thing on the kubernetes org prow?

[2017-07-26 20:46] fejta commented on #3704
My preference would just be to delete this everywhere. I do not think it is helpful/useful, just irritating.

[2017-07-26 20:50] lavalamp commented on #3704
I tend to agree. `/approve no-issue` means that this is just annoying
rather than causing a behavior change.

On Wed, Jul 26, 2017 at 1:46 PM, Erick Fejta <notifications@github.com>
wrote:

[2017-07-26 20:52] cblecker commented on #3704
@kubernetes/sig-release-misc Bringing in sig-release as I believe this was brought in via the 1.7 release team.

[2017-07-26 21:00] grodrigues3 commented on #3704
[Link to Relnotes Improvement Proposal](https://docs.google.com/presentation/d/1f-Td0Fs1kR3rSWlYzR0EJ2PFgd8_R2srlE_O_vxwdlk/edit#slide=id.p)

(note it's shared with k8s-dev)

Two things in support of the current mechanism:
- I really like the idea of being able to auto generate release notes on a per sig basis.
- And visibility into a release is only going to get more challenging as the number of

[2017-07-26 21:00] BenTheElder opened #3714 "cmd/deck job "finished" field should contain date"
Currently `prow/cmd/deck` has a `finished` field [that only contains `HH:MM:SS`](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/jobs.go#L192) which is ambigious. To construct the actual finished timestamp you currently need to add `duration` to `started`. As far as I can tell the `finished` field should either be removed or updated to contain a full timestamp similar to `starte

[2017-07-26 21:06] lavalamp commented on #3704
I think it is great to aggregate PRs by issue in the case where multiple
PRs work together to solve an issue.

I think it is not great to *require* an issue for every PR, it is just
busywork for things like typo fixes etc.

On Wed, Jul 26, 2017 at 2:00 PM, grodrigues3 <notifications@github.com>
wrote:

[2017-07-26 21:07] BenTheElder commented on #3714
@rmmh It looks like you first added this field, is there a reason behind the current format? What do you think? I'm currently just using duration and started but this seems unnecessary.

[2017-07-26 21:07] cblecker commented on #3697
Found it. Typo in API apth. Fix in #3715

[2017-07-26 21:12] rmmh commented on #3714
If you want to use it programmatically, have it export the timestamp itself.

[2017-07-26 21:13] rmmh commented on #3714
I'm fine with removing it too if it's unused.

[2017-07-26 21:14] BenTheElder commented on #3714
I'd like to use it programmatically, so far I haven't found it being used anywhere. Deck only exposes start and duration on the web side. I will open a PR.

[2017-07-26 21:26] #3710 closed

[2017-07-26 21:31] krzyzacy commented on #3710
`docker exec container printenv` seems not giving the right thing. (Does not even show `PROJECT`) But the jobs seems unaffected and using the right env. Will keep an eye here.

[2017-07-26 21:53] krzyzacy opened #3720 "Make a kubekins-e2e-prow:stable tag?"
Rather than every time s/kubekins-e2e-prow:.*/kubekins-e2e-prow:v2017-07-newimage? Or have some default somewhere?

On the other side this might be less explicit.

cc @yguo0905 @fejta @spxtr @zmerlynn Open this issue for more thoughts on this.

[2017-07-26 21:57] fejta commented on #3720
I thought we liked the idea of seeing a PR whenever we bump the image version?

[2017-07-26 21:57] fejta commented on #3720
AKA that way we can track changes to a commit in test-infra, rather than a random push happening by who knows who for who knows what reason

[2017-07-26 22:00] spxtr commented on #3714
It was a mistake to use strings for these. Times should be RFC 3339 and durations should be nanoseconds. The javascript handling them should covert to local times and pretty up the durations themselves.

[2017-07-26 22:01] yutongz commented on #3704
Agree, not really useful to have "/approve no-issue"

[2017-07-26 22:02] zmerlynn commented on #3720
I like the review nature, but I think some way to make these symbolic in the config would be nice.

[2017-07-26 22:04] #3697 closed

[2017-07-26 22:07] spxtr commented on #3697
Deployed. Try again?

[2017-07-26 22:08] krzyzacy commented on #3720
I guess we'd wait for podpreset - and agree that multiple people step on each other will be bad.

[2017-07-26 22:25] #3714 closed

[2017-07-26 22:36] cblecker commented on #3697
Fixed :)
https://github.com/kubernetes/kubernetes/pull/49517

[2017-07-26 22:38] spxtr commented on #3697
Thanks for the fix :)

[2017-07-26 22:42] xiangpengzhao commented on #3697
:+1:

[2017-07-26 22:52] fejta commented on #3720
We could open the anchor bag of worms?

[2017-07-26 23:22] grodrigues3 commented on #3704
@jdumars @pwittrock  @calebamiles (1.8 release team manager and sig-release leads)

This is a balance between getting better visibility into the release and velocity.  Right now, our release note process is very painful.  They are **manually** sharded into sigs and it's unclear which PRs are related and address the same issue.

Having related PRs reference the same issue would solve part of the pr

[2017-07-26 23:25] spiffxp opened #3724 "mungegithub: extract hardcoded list of CLA labels into configurable list"
[mungegithub currently looks for one of three CLA labels](https://github.com/kubernetes/test-infra/blob/d0ba6a08a8cbfd1ed00b7cbfc20f79a5e997ddd8/mungegithub/mungers/submit-queue.go#L969):
- `cla: human-approved`
- `cla: yes`
- `cncf-cla: yes`

a) do we still need to look for all three, or could we just use the `cncf-cla` label?
b) if not, would it be worth passing in the labels as a configurable l

[2017-07-26 23:25] spiffxp commented on #3724
@kubernetes/sig-contributor-experience-misc

[2017-07-26 23:29] cblecker commented on #3724
The cla one is the old google bot which I think can go.

The human approved one.. I'm not quite sure what the use case would be for that, or if we permit exceptions to signing the CNCF-CLA. Nothing mentioned here about that: https://github.com/kubernetes/community/blob/master/CLA.md
cc: @sarahnovotny

Either way, it should probably be configurable.

[2017-07-26 23:36] cblecker commented on #3697
Full disclosure: This was a total self-serving fix to allow me to close PRs like https://github.com/kubernetes/kubernetes/pull/49086 🔥 😛

[2017-07-27 07:55] kargakis opened #3734 "Abstract PR wait time in the munger config"
[Today it's hardcoded in 2h](https://github.com/kubernetes/test-infra/blob/105d1bd6b1a59ab7ea649e9424cd96d59b4f68d8/mungegithub/github/github.go#L53)

/area mungegithub

[2017-07-27 08:10] kargakis commented on #3209
@spxtr can you elaborate on this more? I want to work on this issue.

[2017-07-27 10:08] kargakis commented on #3734
/assign

[2017-07-27 12:20] xiangpengzhao commented on #3724
If some guys want their PR merged when they are still in the progress of signing CLA but not finished, assignees can label `cla: human-approved` for them.

But this might lead to the PR has both `cla: human-approved` and `cncf-cla: yes` finally.

See: https://github.com/kubernetes/kubernetes/labels/cla%3A%20human-approved

[2017-07-27 12:35] xiangpengzhao commented on #3724
What if the author fails to sign CLA but the PR is merged with `cla: human-approved` finally?

[2017-07-27 12:47] xiangpengzhao commented on #3724
IMO, at least, we shouldn't look for `cla: yes` as it's no longer used. I'm curious about that can a PR be merged if the author only signs old cla but not cncf-cla?

[code]

[2017-07-27 14:01] php-coder opened #3737 "Associated issues with a full url aren't recongnizable"
The robot complains that the PR doesn't have associated issue while actually it has (see the comment `Fixes #13390` in the description) https://github.com/openshift/origin/pull/15481#issuecomment-318364654

Looks like the regexp that is used for checking for associated issues always implies that the repository belongs to the `kubernetes` user: https://github.com/kubernetes/test-infra/blob/105d1bd6

[2017-07-27 14:13] stevekuznetsov commented on #3737
xref #3704

[2017-07-27 14:15] stevekuznetsov commented on #3704
Looks like the check is just hard-coded to look for issues under the k8s repo, as well, which means it's not super useful for any other user of the tool.

[2017-07-27 14:17] kargakis commented on #3737
Yeah, we first want to make this configurable but eventually it would be nice to fix the regexp too.

[2017-07-27 15:08] stevekuznetsov opened #3738 "prow: even if /retest-not-required is automatically determined, the first series of tests is kicked off"
When a PR touches only docs and the system can determine as such and apply the `retest-not-required-docs-only` label, it seems like Prow still kicks off a round of tests immediately for the PR. Would be awesome if this did not happen.

[2017-07-27 15:08] stevekuznetsov commented on #3738
/area prow

/cc @kargakis

[2017-07-27 15:12] kargakis commented on #3738
`retest-not-required*` means that the SQ will not rerun the tests for a second time. Agreed though that for doc changes, it would be nice to merge directly w/o running any tests, although somebody could argue that running tests on doc changes is a nice way to deflake stuff.

[2017-07-27 15:36] stevekuznetsov opened #3740 "prow: add a test to blocker list per-PR when the test is triggered manually"
It would be cool if, when a PR has a non-blocking test triggered for it manually, that either this test would automatically become part of the default trigger set and become blocking for the PR or if there were a bot command to add it to the list as well.

/area prow
/cc @kargakis @bparees

[2017-07-27 15:43] kargakis commented on #3740
Seems like a munger issue. The easiest way I can think of is the SQ blocks on the context if the context exists in the PR, otherwise it is not.

/area mungegithub

[2017-07-27 15:44] stevekuznetsov opened #3741 "prow: host a dynamically generated list of commands"
It would be awesome if the list of commands that is linked in the bot comments could be hosted and dynamically generated depending on which plugins are enabled.

/area prow
/cc @cblecker

[2017-07-27 16:07] xiangpengzhao commented on #3738
Indeed a nice way. But it costs the cluster resources unnecessarily (?)

[2017-07-27 16:16] stevekuznetsov commented on #3738
My take as well

[2017-07-27 16:38] foxish commented on #3724
/cc @yutongz
Is the old CLA label still relevant for you guys?

[2017-07-27 16:42] stevekuznetsov commented on #3737
/area mungegithub

[2017-07-27 16:55] spiffxp commented on #3741
/area mungegithub
handles the /approve comment

[2017-07-27 16:55] stevekuznetsov commented on #3741
Ah, so threading that through might be tricky. I see.

[2017-07-27 16:57] spxtr commented on #3738
The general solution is to use bazel to query for the list of affected tests and only run those. Then we don't need `retest-not-required`, it just won't run any tests! We're testing this out [here](https://github.com/kubernetes/test-infra/blob/master/verify/bazel-test-affected.sh) and it seems to work well. We will need to be doing this in order to decide whether or not to run e2e tests as well.

[2017-07-27 17:03] spxtr commented on #3741
This was an idea that @apelisse had, where instead of having some random regex, prow plugins could call some function that would register a command. This has a few upsides, one of which is that we would have a list of commands at runtime that we could expose on some dashboard. I don't think it's worth the effort though.

[2017-07-27 17:04] spxtr commented on #3740
@rmmh I think was interested in this.

[2017-07-27 17:15] spxtr opened #3742 "prow: If Jenkins is serving 500s then plank takes a long time to sync."
[code]
Because they're done in serial, waiting for the retries in the Jenkins client can take a loooong time.

[2017-07-27 17:21] spxtr commented on #3742
Presumably we should be running the individual `sync*Job` methods in parallel with a max parallelism.

[2017-07-27 17:37] spxtr commented on #3209
Sure, although we should probably close this issue since #3576 went in.

Our e2e test jobs currently do the following:

1. Turn up a cluster in some other project.
2. Run tests against the cluster.
3. Tear down the cluster.

If we kill the job during step 2 then we just leave the cluster around. If this happens several times then we might run out of quota in the project. We do have a janitor proce

[2017-07-27 17:45] xiajohnnyxia opened #3743 "panic: runtime error: invalid memory address or nil pointer dereference"
When i was debugging the source codes , run to
`home/johnny/workspace/go/GoWorks/src/kubernetes-1.7.0/vendor/k8s.io/apiserver/pkg/server/openapi/openapi.go`，it throws an error and exits.

[code]

What's wrong with it?

[code]

[2017-07-27 18:15] spiffxp opened #3744 "mungegithub: should be able to apply approved label if jenkins is down"
I don't have access to the mungegithub logs, but it appears jenkins is down, and it appears the mungegithub submit queue loop frequency dropped to 0, or slowed way down.

http://velodrome.k8s.io/dashboard/db/monitoring?panelId=4&fullscreen&from=1501153226291&to=1501174852958

/area mungegithub
/kind bug

[2017-07-27 18:18] nlandolfi opened #3745 "prow: can't trigger run_after_success jobs"
Consider:
[code]

At present, the `istio-presubmit` job can be triggered via `@istio-testing bazel test this` whereas the `istio-e2e-tests` job can not be triggered (via the analagous `@istio-testing e2e test this`).

Proposal: [this function](https://github.com/kubernetes/test-infra/blob/105d1bd6b1a59ab7ea649e9424cd96d59b4f68d8/prow/config/jobs.go#L128-L139) should be recursive.

[2017-07-27 18:20] yutongz commented on #3724
We are not in cncf right now, so still need old one. I agree we can make it configurable. TBH, I like "human-approved" as a hacker to get cla done quickly.

[2017-07-27 18:27] xiajohnnyxia commented on #3743
The cause is `o.config.GetDefinitions` is nil.

[2017-07-27 18:36] spiffxp commented on #3744
E.g. https://github.com/kubernetes/kubernetes/pull/49597

[2017-07-27 19:33] sarahnovotny commented on #3724
@yutongz, can you elaborate?  being "in the CNCF" is not a requirement of signing the CNCF CLA.  We *need* to standardize on tooling and the CNCF CLA or we run legal risks with contributions.

[2017-07-27 19:36] foxish commented on #3724
@sarahnovotny, Yutong works on Istio that's also using mungegithub, not K8s. The manual override label is still useful I think. Maybe what we need is parameterization here as well, to allow different bots to respect different sets of labels.

[2017-07-27 19:42] spiffxp commented on #3744
and the label was applied, maybe mungegithub was really slow, similar to plank in this situation? https://github.com/kubernetes/test-infra/issues/3742

[2017-07-27 20:17] kargakis commented on #3209
Hrm, is this because you can't know if the pod was actually created or deleted?

[2017-07-27 20:36] #3408 closed

[2017-07-27 21:25] cjwagner commented on #3744
The problem was that mungegithub was waiting for status contexts to switch to the pending state after triggering retests which didn't happen when jenkins was broken. The submit-queue does this waiting from a separate thread in order to prevent blocking other mungers, but the stale-green-ci munger calls `WaitForPending` inside the munge function [here](https://github.com/kubernetes/test-infra/blob/

[2017-07-27 21:25] cjwagner commented on #3744
/assign

[2017-07-27 21:29] spxtr opened #3754 "Boskos janitor is racy"
Run `go test -race` in the `boskos/janitor` directory.
[code]

[2017-07-27 21:31] spxtr opened #3755 "kubetest is racy"
Run `go test -race` in the `kubetest` directory, or `bazel test --features=race //kubetest/...`.
[code]

[2017-07-27 22:14] spxtr opened #3756 "verify-govet doesn't work"
Due to https://github.com/golang/go/issues/16086, we haven't actually been vetting test-infra for a while.
[code]

[2017-07-27 22:24] dashpole commented on #3420
I am pretty sure I know what is going on.  It turns out
`check_no_log('docker', 'login', '', '--username=None', '--password=None')` fails with the error, but
`check_no_log('docker', 'login', '--username=None', '--password=None')` succeeds (or at least gives me an authentication error)

[2017-07-27 22:28] dashpole commented on #3420
is it safe to rip out the email setting?  Or do we care that it wont work with version 1.9?

[2017-07-27 22:30] krzyzacy commented on #3420
yeah I think we are not going to downgrade docker... feel free

[2017-07-27 22:40] #3420 closed

[2017-07-27 23:20] #3720 closed