[2021-06-29 06:34] xinydev commented on #22567
/assign

It needs to call `upgradeElement` after creating new DOM elements dynamically. I will create a PR to fix this.

https://getmdl.io/started/index.html#dynamic

[2021-06-29 08:09] anusha94 commented on #22721
/assign anusha94

[2021-06-29 08:09] MadhavJivrajani commented on #22721
/assign @anusha94

[2021-06-29 16:52] petr-muller opened #22731 "Allow trusting a GH App bot-filed PRs enough to get them tested"
**What would you like to be added**:

GH apps can file PRs to repos, but because a GH app cannot be added as an org member or a collaborator (GH apps are not real users), it seems that we currently lack the way to "trust" Apps to get their PRs automatically tested, without needing a `/ok-to-test` by a kube member.

We could either have a config for this, or piggyback on some GH concept (trust an a

[2021-06-29 17:55] alvaroaleman commented on #22731
@cjwagner @chaodaiG objections against making this a `trustedApps` map orgOrRepo ->appNames config option?

[2021-06-29 18:01] cjwagner commented on #22731
No objection from me assuming the app name is a unique identifier.

[2021-06-29 21:10] BenTheElder commented on #18159
I'm not sure we should enforce presubmits in testgrid, I think it would be reasonable to just exclude presubmits from this check and require it for periodic / postsubmit

Periodic / postsubmit we don't want to run if nobody is watching. But presubmits report to PRs.

[2021-06-29 22:52] ashleydavies opened #22737 "Allow Blockade to block only modifications, and allow creation"
**NB:** I'm super happy to contribute this myself, but want to make sure there's a likelihood of the change being accepted first

**What would you like to be added**:

I would like for Blockades to be configurable to only block some of:

1. Additions
2. Modifications
3. Deletions

Without blocking the others.

**Why is this needed**:

For example, we have SQL migrations which should be immutable,

[2021-06-30 00:43] tao12345666333 commented on #21581
/remove-lifecycle stale

[2021-06-30 17:09] #22567 closed

[2021-06-30 17:54] chaodaiG commented on #22653
/assign @chaodaiG

[2021-06-30 18:26] spiffxp commented on #21581
ref: https://github.com/kubernetes/test-infra/issues/20713

[2021-06-30 18:26] spiffxp commented on #22231
ref: https://github.com/kubernetes/test-infra/issues/20713

[2021-06-30 18:28] spiffxp commented on #10423
maybe ref: https://github.com/kubernetes/test-infra/issues/20713 (if Actions integration implies interacting with Checks)

[2021-06-30 18:39] #22673 closed

[2021-06-30 19:06] BenTheElder opened #22744 "kubernetes unit test blocking dashboard is not loading"
It's debateable where this issue belongs, but see:
- https://github.com/kubernetes/test-infra/pull/22524#issuecomment-871629288
- https://github.com/kubernetes/k8s.io/issues/1900#issuecomment-871625877

We probably need to switch to package level results

[2021-06-30 19:23] BenTheElder commented on #21053
I tried https://github.com/kubernetes/test-infra/pull/21075
Perhaps someone can rebase it and try again.

[2021-06-30 21:31] BenTheElder commented on #20421
https://github.com/kubernetes-sigs/boskos/issues/89
https://github.com/kubernetes/test-infra/pull/20422#issuecomment-871735014

[2021-06-30 21:45] BenTheElder commented on #20421
This one is somewhat involved in the ecosystem here and doesn't necessarily have the most straightforward solution so I am *not* tagging this "good first issue", however it's something we should do that nobody has committed to yet, I doubt anyone will commit to soon (understaffed area for sure) and might be an interesting project if someone feels up to it.

You'll need to disentangle the imports b

[2021-07-01 07:44] HQ1363 opened #22755 "CheckoutPullRequest方法fetch使用不对？"
**What happened**:

本地在使用test-infra的prow工具时，对于prow/git/git.go文件里的CheckoutPullRequest方法，是否存在一处使用问题，如下：
[code]
如果采用上述姿势会报如下错误：
[code]
**Anything else we need to know?**:
上述代码块中的语句是否需要做如下替换：
[code]

[2021-07-01 16:57] YuviGold opened #22759 "Job history view should show batch jobs"
**What happened**:
Job history view doesn't show batch jobs.
Spyglass's Job history link is pointing to the presubmit jobs

**What you expected to happen**:
Job history view should be able to present only batches jobs or presubmits together with its batch jobs following the same job name.

**How to reproduce it (as minimally and precisely as possible)**:
1. Goto deck and choose "batch".
2. Pick a

[2021-07-01 16:57] YuviGold commented on #22759
/assign

[2021-07-01 19:15] BenTheElder commented on #22759
This has never been a thing so I'd say it's not a bug, but it sounds like it could be a good feature.

cc @cjwagner @stevekuznetsov

[2021-07-01 19:19] BenTheElder commented on #22755
Prow by default uses HTTPS to clone in which case `"/"` is correct, this looks like an attempt at an SSH URL, how did you configure this?

Prow does have SSH cloning, and as far as I know it works correctly, you just need to configure it:

https://github.com/kubernetes/test-infra/blob/f0c722e28379af7007d5485096e353dd8c5bfdfc/prow/pod-utilities.md#how-to-configure

Public repos are cloned with HTTP

[2021-07-01 19:29] cjwagner opened #22764 "Prow PubSub triggering support for Presubmits and Postsubmits"
**What would you like to be added**:
Prow's `sub` component currently only supports a single message event type: requests to trigger periodic jobs. https://github.com/kubernetes/test-infra/blob/08e324b7f660d997201943752e400637fb245317/prow/pubsub/subscriber/subscriber.go#L144-L152
We should add support for `presubmit` and `postsubmit` events to trigger these types of jobs as well. The message payl

[2021-07-01 20:08] BenTheElder commented on #22744
So the junit does have `<testsuites>` at the package level, containing `<testcases>` of which we seem to have too many for testgrid. See e.g. https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-unit/1410664595521015808/artifacts/junit_20210701-182317.xml

Asking if we can filter these in testgrid, or perhaps produce a filtered version only for testgrid and not for deck, or else in

[2021-07-02 09:26] zhlhahaha commented on #16588
Hi, @LorbusChris, do you have any plan to enable building multi-arch bootstrap image (https://github.com/kubernetes/test-infra/tree/master/images/bootstrap)?

[2021-07-02 09:27] zhlhahaha commented on #16588
cc: @chendave

[2021-07-02 09:39] LorbusChris commented on #16588
@zhlhahaha no, I don't but you should be able to take the two images linked above as references for how to do it.

[2021-07-02 12:53] YuviGold commented on #22759
I defined it as a bug since from Spyglass view of a batch job, when going to its job history - the batch job isn't shown at all.

The question is what should be the expected behavior?
Make batch jobs be shown separately from presubmit jobs (as they are actually located on different bucket paths) or presenting them together?

[2021-07-02 15:59] chaodaiG commented on #22653
This is fixed by https://github.com/kubernetes/test-infra/pull/22746

[2021-07-02 16:18] BenTheElder commented on #22653
@chaodaiG shall we close it, or are you still confirming?

[2021-07-02 16:19] chaodaiG commented on #22653
Not yet confirmed, will need to wait until this is applied on our Gerrit based prow. I will close this one once it's confirmed

[2021-07-02 18:22] BenTheElder commented on #22744
after dropping to 7 days of results in https://github.com/kubernetes/test-infra/pull/22767 it still does not load. will try 1 day just to see if that approach is viable at all.

[2021-07-02 19:58] BenTheElder commented on #22744
waiting for https://testgrid.k8s.io/q/config/sig-release-master-blocking/ci-kubernetes-unit to reflect https://github.com/kubernetes/test-infra/pull/22776 then checking https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit again

[2021-07-03 23:47] #20724 closed

[2021-07-04 15:24] YuviGold opened #22793 "Tide details PR status link is broken for bots author"
**What happened**:
When clicking on tide context details to watch the PR status, the query isn't constructed correctly.
Author parameter would look like `author:<login_name>` instead of `author:app/<login_name>`

**What you expected to happen**:
Tide context details should pass the correct query to watch bots PRs.

**How to reproduce it (as minimally and precisely as possible)**:
1. Goto a PR crea

[2021-07-04 15:27] YuviGold commented on #22793
Before rushing to copy and transfer another field, I wonder if there's a purpose for having multiple structs for PullRequest and if they can be merged.
https://github.com/kubernetes/test-infra/blob/739d2835a8a5c3612324dbee46d55b9bd25ea746/prow/tide/tide.go#L1765
https://github.com/kubernetes/test-infra/blob/fbb4436210542aa5723f907ad39cf07727acef2a/prow/prstatus/prstatus.go#L89
https://github.com/k

[2021-07-05 04:20] bhumijgupta commented on #20872
From my experiments, after 7 days, the failed invitations are not returned by `/orgs/{org}/invitations` endpoint and are successfully returned by `/orgs/{org}/failed_invitations`

[2021-07-05 07:22] YuviGold commented on #21556
I would like to pick this up
/assign

[2021-07-05 08:07] borgerli opened #22796 ""pull-kubernetes-e2e-gce-alpha-features" always failed"
**What happened**:

The check of `pull-kubernetes-e2e-gce-alpha-features` has been always failed since `Jul 02 10:15:06`, because `kube-scheduler` failed to start.

Job history: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-alpha-features

It seems that there is some problem in the configuration of kube-scheduler.

## errors in kube-scheduler log
[

[2021-07-05 09:26] matthyx commented on #22256
I think the fix would be to use `strconv.ParseUint` instead:
https://github.com/kubernetes/test-infra/blob/3efe91b8cdbf4a597b73d8547b62ddc522f9848b/prow/cmd/deck/job_history.go#L260

[2021-07-05 09:28] matthyx commented on #22256
/assign
This issue is being worked on by Mariana B.

[2021-07-05 09:29] matthyx commented on #22256
/assign @marianabocoi

[2021-07-05 09:30] matthyx commented on #22256
ah yeah, always forget this one...
/cc @marianabocoi

[2021-07-05 19:58] #18424 closed

[2021-07-06 11:11] marianabocoi commented on #22256
/assign @marianabocoi

[2021-07-06 13:48] spiffxp commented on #20672
/reopen
/remove-lifecycle rotten

An update on where we're at since this issue was first opened.

In the past ~6 months:
- the number of jobs referencing `master` explicitly has gone down from 98 to 32
- the number of jobs referencing no branch (and thus get `master` implicitly) has gone down from 102 to 90

At this point I'm ambivalent about whether it would be better to:
- modify bootstrap to su

[2021-07-07 16:21] #22796 closed

[2021-07-07 19:17] chizhg commented on #21720
/remove-lifecycle stale

On Wed, Jul 7, 2021, 12:15 PM fejta-bot ***@***.***> wrote:

[2021-07-07 21:22] YuviGold commented on #22494
@BenTheElder You're right. It could be really excessive and most of the time unwanted to run **everything**.

So I'd like two bring up 2 points:
- _Correction_: Fix the help description to point out not *all* the jobs are running when using **all**.
- _Enhancement_: It could be beneficial for both a contributor and a bot to run a group of tests.
Possible solutions - tests group tags; wildcards;

[2021-07-07 21:23] spiffxp commented on #14049
/remove-lifecycle rotten
We use kubernetes-external-secrets for this now, I'll link to relevant issues/PRs and docs, then close

[2021-07-07 21:54] #22304 closed

[2021-07-08 02:48] spiffxp commented on #18785
/remove-lifecycle rotten
/reopen
I still feel like we're flying blind or different people are reading different sets of tea leaves vs. the community using an agreed-upon set of metrics and dashboards

[2021-07-08 15:02] #21556 closed

[2021-07-08 16:01] BenTheElder commented on #22744
it loads now. we still have a lot https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit&width=20, we have 30,000 rows so understandably it is not quite as quick as some other pages :-)

[2021-07-08 16:01] #22744 closed

[2021-07-08 18:08] cjwagner opened #22829 "Add support for treating ProwJob workload containers as sidecar containers."
**What would you like to be added**:
A way to indicate that one or more (but not all) of the workload containers in a ProwJob should be treated as sidecar containers. This means that they are sent a termination signal when the non-sidecar workload containers have all completed. I'd expect this to be configured as a new decoration_config field that is a list of container names to treat as sidecars.

[2021-07-08 18:38] noahkawasakigoogle commented on #22829
+1 thanks for filing this

[2021-07-09 00:40] #18973 closed

[2021-07-09 14:15] alvaroaleman commented on #22829
conceptionally that makes a lot of sense, I am slightly concerned that it will end up being quite complicated (but open to be convinced otherwise)

[2021-07-09 15:27] nareshpandianpc opened #22839 "Prow issue:"
im just trying to install 3.11 but seems to be stuck in

FAILED - RETRYING: Check status of node image pre-pull (20 retries left).
FAILED - RETRYING: Check status of node image pre-pull (19 retries left).
FAILED - RETRYING: Check status of node image pre-pull (18 retries left).
FAILED - RETRYING: Check status of node image pre-pull (17 retries left).

[2021-07-09 16:39] spiffxp commented on #18653
/close
Closing as obviated by https://github.com/kubernetes/enhancements/issues/2420

[2021-07-09 16:39] #18653 closed

[2021-07-09 16:39] spiffxp commented on #18653
/remove-lifecycle rotten

[2021-07-09 18:38] cjwagner commented on #22829
Here is what I'm thinking so far:
1. We add a new decoration_config field that is a list of container names to treat as sidecars
2. This field is wired through to the `sidecar` pod util.
3. Rather than waiting for all marker files to be written, only non-sidecar marker files will be waited on.
4. When all non-sidecar containers complete, terminate the sidecar containers by sending interrupt signal

[2021-07-09 18:50] stevekuznetsov opened #22846 "prow: crier: don't add finalizers to pods being deleted"
[code]

/cc @alvaroaleman

[2021-07-09 19:01] alvaroaleman commented on #22846
We already don't do that, this is essentially a TOCTOU race: https://github.com/kubernetes/test-infra/blob/11c4e34f5c017ea412ac694675d0ff59ccff5f9d/prow/crier/reporters/gcs/kubernetes/reporter.go#L135-L137

We could probably just swallow this error

[2021-07-09 19:06] stevekuznetsov commented on #22846
That seems appropriate

[2021-07-09 19:44] #20776 closed

[2021-07-09 22:16] ehashman opened #22851 "Feature request: ability to search through component logs from CI runs"
/area prow

**What would you like to be added**:

Search capability for CI logs so I can search for jobs that match certain failure text. For example, I would really like to be able to search for `Observed a panic` in component logs and find all matching jobs and files.

Guberator (https://storage.googleapis.com/k8s-gubernator/triage/index.html) is great but doesn't allow me to search node or comp

[2021-07-09 23:02] spiffxp commented on #18842
/remove-lifecycle rotten
/reopen
I think I noticed a `base_ref` label in monitoring the other day, would like to find the PR that added that

[2021-07-09 23:15] spiffxp commented on #18842
/close
Retitled to match what ended up happening with https://github.com/kubernetes/test-infra/pull/21928

[2021-07-09 23:15] #18842 closed

[2021-07-09 23:15] spiffxp commented on #18842
/assign @stevekuznetsov

[2021-07-10 16:11] marianabocoi commented on #22256
Should this issue be closed? How do we check all is well now?
Poke @matthyx @BenTheElder @stevekuznetsov

/honk

[2021-07-10 17:32] matthyx commented on #22256
I think it won't close as an afterthought.
/close

[2021-07-10 17:32] #22256 closed

[2021-07-10 19:57] #20818 closed

[2021-07-11 17:02] YuviGold commented on #5183
I would like to pick this up
/assign

[2021-07-11 18:57] hh commented on #21304
I'd like this, but I haven't the bandwidth at this time.
/close

[2021-07-11 18:59] hh commented on #21303
/remove-lifecycle rotten
Still useful for audit jobs, just been low priority.

[2021-07-12 06:17] LorbusChris commented on #19499
still happening with Firefox 88

/remove-lifecycle stale

[2021-07-12 14:46] #22846 closed

[2021-07-12 15:18] alvaroaleman commented on #22839
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2021-07-12 15:19] #22839 closed

[2021-07-13 01:25] spiffxp commented on #18551
/lifecycle frozen

[2021-07-13 11:56] fgimenez commented on #22417
/assign
/remove-help

I'd like to give this one a try :)

I have a question, according to https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/write-a-lens.md#sandboxing, XHR requests to Deck should be restricted, would this change in the sandbox setting allow them?

[2021-07-13 16:30] spiffxp commented on #18842
/milestone v1.22

[2021-07-13 16:31] spiffxp commented on #22744
/milestone v1.22

[2021-07-13 16:31] spiffxp commented on #14226
/milestone v1.22

[2021-07-13 16:31] spiffxp commented on #19414
/milestone v1.21

[2021-07-13 16:32] spiffxp commented on #21908
/milestone v1.22

[2021-07-13 16:32] spiffxp commented on #21193
/milestone v1.22

[2021-07-13 16:32] spiffxp commented on #21167
/milestone v1.22

[2021-07-13 16:33] spiffxp commented on #20101
/milestone v1.21

[2021-07-13 16:43] spiffxp commented on #14049
/milestone v1.21
/assign @chaodaiG
who got this done for k8s-prow via:
- https://github.com/kubernetes/test-infra/pull/21610
- https://github.com/kubernetes/test-infra/pull/21653
- https://github.com/kubernetes/test-infra/pull/21664
- https://github.com/kubernetes/test-infra/pull/21680
- https://github.com/kubernetes/test-infra/pull/21771
- https://github.com/kubernetes/test-infra/pull/21770
- htt

[2021-07-13 16:43] #14049 closed

[2021-07-13 16:44] spiffxp commented on #14049
/milestone v1.22

[2021-07-13 16:44] spiffxp commented on #20922
/milestone v1.21

[2021-07-13 16:45] spiffxp commented on #20922
/milestone v1.21

[2021-07-13 16:46] spiffxp commented on #20101
/milestone v1.21

[2021-07-13 16:46] spiffxp commented on #19414
/milestone v1.21

[2021-07-13 16:47] spiffxp commented on #20667
/remove-lifecycle stale
/milestone v1.23

[2021-07-13 16:48] spiffxp commented on #20672
/milestone v1.23

[2021-07-13 16:50] spiffxp commented on #18785
/milestone v1.23
I feel like the fun we recently had during v1.22 Code Freeze demonstrates that we're still not capable of visualizing all resources that could potentially be exhausted.

It seems like https://github.com/kubernetes/kubernetes/issues/103512 was the biggest culprit, which came down to port exhaustion

[2021-07-13 16:53] spiffxp commented on #20760
Things to help track our status:
- https://github.com/kubernetes/test-infra/pull/20825 added tests to log jobs that are deprecated
- https://github.com/kubernetes/test-infra/pull/22838 added summary lines to a number of tests

[2021-07-13 18:01] spiffxp commented on #20650
/reopen
/lifecycle frozen

[2021-07-14 11:11] endocrimes commented on #22086
@dims Looks like this is done and should be closable now? (unless we wanna flip more jobs too?)

[2021-07-14 12:24] jprzychodzen opened #22880 "Optional presubmit job fails : pull-kubernetes-kubemark-e2e-gce-scale"
**What happened**:
Testing kubernetes/kubernetes#103644 with `pull-kubernetes-kubemark-e2e-gce-scale` failed, because of too low CPU quota. Exact error:

[code]

**What you expected to happen**:
Test should pass or fail on PR related code.

**How to reproduce it (as minimally and precisely as possible)**:
Open PR to K/K repository, write `/test pull-kubernetes-kubemark-e2e-gce-scale` in a comment

[2021-07-14 12:25] dims commented on #22086
/close

yes, thanks @endocrimes

[2021-07-14 12:25] #22086 closed

[2021-07-14 13:05] Nordie1 opened #22881 "Assign#6621 to nordie1"
**What would you like to be added**:

**Why is this needed**:

[2021-07-14 17:44] howardjohn opened #22888 "ApplyDefault doesn't allow setting arrays to empty when round tripping from golang -> yaml -> golang"
**What happened**:
Defined slack reporter config in golang:
[code]
Later marshaled it to yaml, which end up like:
[code]

When this is then read into prow, JobStatesToReport will be `nil` (NOT `[]prowjob.ProwJobState{}`). This causes https://github.com/kubernetes/test-infra/blob/master/prow/apis/prowjobs/v1/types.go#L315 to get the setting from the parent.

The thing really confusing me: JobStates

[2021-07-14 19:52] spiffxp commented on #18789
Updated the description with a list of jobs to update as generated by the test I'm adding in https://github.com/kubernetes/test-infra/pull/22890

[code]

[2021-07-14 19:52] petr-muller opened #22891 "Recover PRs that spawned CI jobs but never got results reported"
**What would you like to be added**:

I'd like to have some mechanism to recover PRs from situation where they trigger CI jobs (and they get `pending` GH statuses), but then for some reason (it's rare but it happened for us) the results are never reported to GitHub as either passed or failed. It could be crier outages, accidents that delete `Prowjobs` from the cluster, etc.

RIght now this is poss

[2021-07-14 20:16] spiffxp commented on #18789
Opened https://github.com/kubernetes/test-infra/pull/22892 to go after that jobs that will be most obvious if this somehow ends up having an unforeseen negative impact

[2021-07-14 22:04] chaodaiG commented on #22653
Unfortunately #22746 didn't quite fix the issue, and reverted in #22866

Reason:

Gerrit creates a merge commit right after a PR is submitted, which is exactly what we are looking for here. Unfortunately after some experiments I was not able to find an API to find the associated merge commit from a submitted PR

[2021-07-15 04:10] howardjohn commented on #22888
Even with giving the prow job yaml with explicit empty list, this still does not work

[2021-07-15 04:30] spiffxp commented on #20652
/remove-lifecycle stale
This still remains an issue.  I still think either approach I've recommended above is valid:
- a per-project service account still seems to me like the more correct approach from a security perspective, and the code in k8s.io is nearly there to provision all of these; it would result in more boilerplate though
- modifying image-builder to use the equivalent of `gcloud --bil

[2021-07-15 06:32] chaodaiG commented on #22888
Direct proof of roundtrip bug https://github.com/kubernetes/test-infra/pull/22900

[2021-07-15 06:33] listx commented on #13063
Velodrome is still in the SVG.

[2021-07-15 12:10] jprzychodzen opened #22903 "Failing test 'Kubernetes e2e suite.[sig-node] SSH should SSH to all nodes and run commands' in gce-master-scale-correctness"
Test 'Kubernetes e2e suite.[sig-node] SSH should SSH to all nodes and run commands' consistently fails in [gce-master-scale-correctness](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness)

![image](https://user-images.githubusercontent.com/29059230/125785950-02e99e5b-988a-43d1-a042-f3b97143ec52.png)

Sample output from https://prow.k8s.io/view/gs/kubernetes-jenkins/

[2021-07-15 12:14] jprzychodzen commented on #22903
/close
Opened kubernetes/kubernetes#103714

[2021-07-15 12:14] #22903 closed

[2021-07-15 12:41] sftim commented on #15572
/reopen
I'd like this feature
/remove-lifecycle rotten

[2021-07-15 12:42] sftim commented on #15572
You can now open a PR that is draft (in the GitHub API) from the start, so perhaps we could catch that case first?

[2021-07-15 15:33] BenTheElder commented on #15572
Currently draft PR = do not run tests, WIP = not considered for merge.

This sounds like a useful change but workflow change =>
/sig contributor-experience

[2021-07-15 15:44] BenTheElder commented on #22891
Do you think the users that don't know /test all will know /retest?

We post information about commands automatically to PRs from new users (welcome bot) but if people don't read it for one I don't know that we can do much.

[2021-07-15 15:54] spiffxp commented on #18789
https://github.com/kubernetes/test-infra/pull/22892 broke things, ref: https://github.com/kubernetes/test-infra/pull/22892#issuecomment-880245096

Reverted in https://github.com/kubernetes/test-infra/pull/22894

[2021-07-15 15:55] spiffxp commented on #19922
/remove-lifecycle stale

[2021-07-15 16:12] spiffxp commented on #19922
/close
@hasheddan @justaugustus Can you articulate the work being asked for here in separate issues? This has fallen stale twice now.  I don't think it's actionable enough and am inclined to close it in favor of consolidating "version marker" discussion in https://github.com/kubernetes/sig-release/issues/850

I parse two things:
1. only jobs using non-linux/amd64 arch need the cross build, everyth

[2021-07-15 16:12] #19922 closed

[2021-07-15 17:03] BenTheElder opened #22906 "triage: go.k8s.io/triage fails to render in Google Chrome due to excessively large cluster data"
**What happened**:

console:

[code]

**What you expected to happen**:

results should load

**How to reproduce it (as minimally and precisely as possible)**:

load https://go.k8s.io/triage

**Please provide links to example occurrences, if any**:

https://go.k8s.io/triage

**Anything else we need to know?**:

https://kubernetes.slack.com/archives/C09QZ4DQB/p1625957726455500

[2021-07-15 17:03] BenTheElder commented on #22906
cc @spiffxp @MushuEE

[2021-07-15 17:20] BenTheElder commented on #22881
https://github.com/kubernetes/test-infra/pull/6621 is a pull request.

[2021-07-15 17:20] #22881 closed

[2021-07-15 17:43] spiffxp commented on #22906
/assign
I'll take a look

[2021-07-15 17:55] chaodaiG commented on #22888
Briefly explaining what's happening in #22900:

[code]
Unmarshal into `JobBase`, and get:
[code]
Marshal into yaml then unmarshal back into `JobBase`, get:
[code]

[2021-07-15 17:59] spiffxp commented on #13063
/milestone v1.23
What I discussed during the most recent meeting is:
1. there are likely still some stale things (good catch @listx)
2. being able to draw boxes around what lives within google.com and what lives within kubernetes.io would be helpful for wg-k8s-infra

I'll try to clarify 1 since that's a little too vague to be actionable right now

[2021-07-15 18:46] BenTheElder opened #22911 "`▶ Details` blocks should hint about expanding or not be used as much."
**What would you like to be added**:

These are relatively un-styled on github.com and may not be obvious to expand.

A lot of bot comments hide the really useful details on how to deal with a problem behind these.

We should consider not using these or at least making their own usage more obvious.

**Why is this needed**:

I haven't really seen `<details>` blocks used on the web, certainly not un

[2021-07-15 18:46] spiffxp commented on #22906
Hey so, when I visited go.k8s.io/triage, it counted up as far as 600MB before dropping to 0.  That is way, way too high.

I think it's ingesting some poison data (aka data that doesn't cluster well and is causing it to slow way down)
![Screen Shot 2021-07-15 at 11 44 24 AM](https://user-images.githubusercontent.com/49258/125840846-0db5686d-aca5-4cad-af58-aa4495cbffcd.png)

[2021-07-15 18:59] chaodaiG commented on #22888
Boiled down to `omitempty` with slice caused this error. Created a much simpler repro and filed a bug in k8s-sigs/yaml repo: https://github.com/kubernetes-sigs/yaml/issues/56

[2021-07-15 19:14] spiffxp commented on #22906
Let's choose a known good/bad
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-triage/1412216912305197056 - 2021-07-05, seems good
- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-triage/1415707578314264576 - 2021-07-15, latest bad

Some choice lines from each log
[code]

[code]

So while the total volume of failures went up by ~1.5 the number of unique-to-bad

[2021-07-15 19:39] spiffxp commented on #22906
My "i just want a plot" foo is weak, tried out `termeter` this time.

Another way of visualizing this is looking at the size of files in gs://k8s-gubernator/triage/history; this is the most recent 180 days, right is most recent
![Screen Shot 2021-07-15 at 12 33 33 PM](https://user-images.githubusercontent.com/49258/125846855-d395cbb1-dfc1-4d2d-bb69-c3356dc591be.png)

So that first big jump on the

[2021-07-15 19:48] spiffxp commented on #22906
Sorting purely by number of tests, it seems like `[sig-storage]` is our winner for largest increase in number of unique test failures that weren't happening 10 days ago.
[code]

I mean... OK.  Chasing down the forensics is fun, but I have to admit I'm not actually sure how to mitigate this right now. I'm not sure it's reasonable to exclude tests by name, for example.

If it's possible or makes sen

[2021-07-15 19:56] BenTheElder commented on #22906
It would be good to check in with sig storage about this spike though, because any mitigation we induce like "cap the time" can still leave clustering the remaining data impacted (in terms of latency, throughput, or the job failing when this gets even worse).

[2021-07-15 19:56] spiffxp commented on #22906
/milestone v1.22
/priority important-soon

[2021-07-15 20:44] noahkawasakigoogle commented on #22829
Are there any ways to workaround this currently?

I've got a main test runner container successfully killing other containers at the end of a job within its own pod by sending SIGTERM through `kubectl` commands, giving the pod permissions to exec into pods, and using the downward API to find its own Pod Name.

However, as expected, this causes the the killed containers to have the entire job marke

[2021-07-15 22:06] spiffxp commented on #21137
/reopen
Handoff never happened as described in https://github.com/kubernetes/test-infra/issues/21137#issuecomment-790905960

[2021-07-15 22:07] spiffxp commented on #21137
FYI @kubernetes/release-engineering

[2021-07-15 22:21] justaugustus commented on #21137
For SIG Release: I'm happy to have @kubernetes/release-managers in this approval group

[2021-07-16 14:24] petr-muller commented on #22891
At least in our org, this is very common. People rerun failed jobs all the time, but trigger all of them very rarely (they get triggered automatically). Increasing awareness, making docs better is useful, but still requires someone to go and fixup the "stuck" PR manually after first noticing it's actually stuck. Automated recovery of pending prowjobs would be useful.

But I agree, this may be too

[2021-07-16 14:45] spiffxp commented on #18653
/milestone v1.21

[2021-07-16 14:59] chaodaiG commented on #22888
Got an answer from https://github.com/kubernetes-sigs/yaml/issues/56:

[Job config](https://github.com/istio/test-infra/blob/9922d38ac6d89fb2a3921d8f2d9beb2aa69fa854/prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml#L265-L267):
[code]

[Example prowjob run](https://prow.istio.io/view/gs/istio-prow/logs/integ-telemetry-istiodless-mc-k8s-tests_istio_postsubmit/1415930690867826688):

[code]

[2021-07-16 15:09] alvaroaleman commented on #22888
So I guess our options are:
A) Not use `omitempty`
B) Treat empty/nil as equal? I think we have to differentiate that so not really an option, right?

[2021-07-16 15:12] chaodaiG commented on #22888
yeah my feeling is also leaning towards A), citing you and @cjwagner here to make sure that I'm not missing important reasons of having `omitempty` defined on almost all prowjob fields

[2021-07-16 15:21] alvaroaleman commented on #22888
The reason for that is just storage size and performance, etcd has a total limit of how much data it can keep and having more data means (de-)serialization is more expensive in terms of memory/cpu/time. Since we need it here for functional reasons, removing it is fine IMHO.

[2021-07-16 15:27] lambdanis commented on #22906
It looks fixed? No idea what happened, but I can search https://go.k8s.io/triage without issues now.

Now it's showing 692.83MB FYI... And working 🤷‍♀️

[2021-07-16 16:09] lambdanis commented on #22906
Update: it's working in Firefox, not working in Chrome.

[2021-07-16 19:28] BenTheElder commented on #18226
aledbf shared https://github.blog/2020-12-21-get-up-to-speed-with-partial-clone-and-shallow-clone/ and in particular `--filter=blob:none`

[2021-07-16 19:45] spiffxp opened #22923 "spyglass logs link for ci-kubernetes-e2e-gce-scale-correctness returns 404"
**What happened**:
Clicked on a sample failed job to figure out what's up with https://github.com/kubernetes/kubernetes/issues/103688

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1416005035799613440

Saw no build log, and this thingy saying logs are elsewhere:
![Screen Shot 2021-07-16 at 12 41 28 PM](https://user-images.githubusercontent.com/49258/12

[2021-07-16 20:08] #22923 closed

[2021-07-17 01:19] puerco commented on #21137
/cc

[2021-07-19 13:54] spiffxp commented on #19477
/remove-lifecycle rotten
/close
Agree that anything further can be opened up as followup issues

[2021-07-19 13:54] #19477 closed

[2021-07-19 14:59] xrstf opened #22937 "Newlines in GitHub Queries for Commenter handle `repo:` weirdly"
**What happened**:
We are using Prow's `commenter` to do issue lifecycle management, similar to how k8s does it. Our job for making issues as stale looks pretty much identical to upstream's version:

[code]

Since July 15th, for no reason I can figure out, this stopped working:

[code]

We tried

* changing the used token (we tried both the old and new formats)
* moving `repo:` filters after the l

[2021-07-19 15:46] alvaroaleman commented on #22937
Fixed in https://github.com/kubernetes/test-infra/pull/22922, updating your Prow instance should fix this

[2021-07-19 16:02] alvaroaleman commented on #22937
The basic issue is that githubs api doesn't allow `\n` as delimiter anymore and will just return no error and no result if you use it. The above-linked pr makes us replace them with spaces

[2021-07-19 16:34] xrstf commented on #22937
What we just also noticed: A trailing newline is no problem in the issue-lifecycle-kind-of queries, but the retester's query fails if it's a single-line string with a newline at the end. Maybe a `strings.TrimSpace()` would be good as well?

[2021-07-19 16:40] xrstf commented on #22937
I guess if they are replaced by newlines, it doesn't matter.

[2021-07-19 16:40] #22937 closed

[2021-07-19 20:29] BenTheElder commented on #22906
I see it crash at 760+ MB now

[2021-07-21 14:18] yuswift opened #22963 "How to test a postsubmits job in kind?"
By referring to [using-pj-on-kindsh](https://github.com/kubernetes/test-infra/blob/master/prow/build_test_update.md#using-pj-on-kindsh), I can test a presubmits job in kind(e.g. go build). Here comes the question, in the postsubmits job, I need to build images and push images. But the pod is running in kind, which means I can't use `docker build`. Are there any other solutions to implement  that,

[2021-07-21 16:01] ehashman opened #22964 "ci-kubernetes-node-swap-fedora job failing to run on ssh command"
**What happened**:

[code]

**What you expected to happen**:

Tests to run.

**How to reproduce it (as minimally and precisely as possible)**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-swap-fedora/1417848497146695680

**Please provide links to example occurrences, if any**:

https://testgrid.k8s.io/sig-node-kubelet#kubelet-gce-e2e-swap-fedora

**Anything else we need

[2021-07-22 01:29] yuswift commented on #22963
/remove-kind bug

[2021-07-22 03:26] spiffxp commented on #20884
Opened https://github.com/kubernetes/test-infra/pull/22977 to take a crack at bumping buildx to the latest release to see if this fixes this issue

[2021-07-22 09:27] claudiubelu commented on #20884
Did this fail since then? I thought we solved this a few months ago. The issue was that the same SHA couldn't be pushed again, so we added a label in the images / dockerfiles. Haven't seen it fail since.

[2021-07-22 13:39] vaibhav2107 opened #22987 "Broken link in /kubernetes/test-infra/tree/master/prow/cmd"
In https://github.com/kubernetes/test-infra/tree/master/prow/cmd , the line in section **Base Images**
"The container images in images are used as base images for Prow components."
has a broken link.

/sig docs

[2021-07-22 14:45] spiffxp commented on #12296
/reopen
/assign
I'm willing to tackle this before v1.22 is released, or before v1.23 starts

[2021-07-22 17:13] spiffxp commented on #12296
/remove-lifecycle rotten

[2021-07-22 17:17] spiffxp commented on #12296
Added the k8s-triage-robot token to k8s-infra-prow-build-trusted https://github.com/kubernetes/k8s.io/pull/2389

Next step is to try a sample job to make sure it works, then we can migrate the fejta-bot jobs

[2021-07-22 20:55] #19384 closed

[2021-07-22 22:06] spiffxp commented on #11402
The test job is failing (whoops I must have missed the tab name): https://testgrid.k8s.io/sig-contribex-k8s-triage-robot#api-review-help

It seems like bad credentials? https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8s-triage-robot-testcomment/1418328613631037440

So I logged into k8s-triage-robot, and sure enough, no personal access tokens at all.

Created a new one, updated the secret,

[2021-07-22 22:24] spiffxp commented on #11402
[code]

[2021-07-23 03:26] spiffxp commented on #11402
Fixed the token, it needed `scope:public_repo`

The query also didn't include `repo:kubernetes/test-infra`, so it ended up commenting here: https://github.com/kubernetes/org/issues/2465#issuecomment-885372510

[2021-07-23 03:39] spiffxp commented on #11402
Orrrr apparently github's search returned one issue the first time, and two the second.  But that's it.  Should see no more spam at this point.

Opened https://github.com/kubernetes/test-infra/pull/22997 to switch all the fejta-bot jobs over to k8s-triage-robot

[2021-07-23 10:00] #20883 closed

[2021-07-23 13:35] lmzuccarelli opened #22999 "Openshift Prow issue: ci/prow/e2e-metal-ipi-ovn-ipv6 required"
I'm seeing a failure on this test  ci/prow/e2e-metal-ipi-ovn-ipv6 — Job failed. I noticed it is marked required, is it possible to remove the required "label"

[2021-07-23 15:00] mcbenjemaa commented on #22963
/kind support

[2021-07-23 15:37] BenTheElder commented on #22964
Has anyone tested that this VM image supports ssh? IIRC for ssh to work the way the tooling is doing it the VM must be running both sshd and the agent to inject keys.

More generally has this e2e configuration been tested outside of CI in any way?

[2021-07-23 15:38] spiffxp opened #23003 "config/jobs: missing e2e jobs for kubernetes release branches <= release-1.21"
**What happened**:

I can't find a "default gce e2e" tab on:
- https://testgrid.k8s.io/sig-release-1.21-blocking
- https://testgrid.k8s.io/sig-release-1.20-blocking
- https://testgrid.k8s.io/sig-release-1.19-blocking

**What you expected to happen**:

To find an equivalent to:
- https://testgrid.k8s.io/sig-release-1.22-blocking#gce-cos-k8sbeta-default
- https://testgrid.k8s.io/sig-release-master-b

[2021-07-23 15:41] BenTheElder commented on #22963
Running in kind has nothing to do with it. prow.k8s.io and many other clusters also run containerd based nodes and you cannot rely on mounting the host socket if you wish to remain portable.

If you must use "docker build" you can run docker in docker (insecure like kind) or run it in some external environment (e.g. by submitting a cloud build, which is how we push images). Alternatively you can u

[2021-07-23 15:41] spiffxp commented on #23003
/assign @liggitt @puerco
I don't know for sure that either of your recent PR's did this, but I'm giving y'all the heads up

[2021-07-23 15:43] BenTheElder commented on #22999
This repo only hosts the tooling sources and prow.k8s.io, not openshift configuration. You should probably file a bug there.

Generally if a job is marked required that is intended and you should try to get it to pass (comment /retest, check the failure logs against your code).

A repo administrator / the owners of the config can change if the job is required or bypass the setting.

[2021-07-23 16:23] lmzuccarelli commented on #22999
@BenTheElder Thanks for the help

[2021-07-23 16:30] BenTheElder commented on #22999
BTW these configs appear to be in https://github.com/openshift/release, thanks @jeefy

[2021-07-23 16:30] #22999 closed

[2021-07-23 18:11] yuswift commented on #22963
Thanks.
/close

[2021-07-23 18:11] #22963 closed

[2021-07-23 21:21] spiffxp commented on #23003
/remove-priority critical-urgent
/priority important-longterm

This is me rediscovering that the gce-default jobs were moved to -informing because they were too flaky back on 2019-10-07
- https://github.com/kubernetes/test-infra/issues/14531
- https://github.com/kubernetes/test-infra/pull/14572

And then I moved it back for what was "master" as of 2020-01-20 (which would be v1.18)
- https://github

[2021-07-23 21:33] spiffxp commented on #23003
Opened https://github.com/kubernetes/test-infra/pull/23008 to fix

[2021-07-23 21:50] BenTheElder commented on #22906
FWIW Safari also works, though the page load is not smooth, also due to the ~1GB payload I got a warning at the top of the tab from safari about excessive memory usage.

[2021-07-23 21:53] BenTheElder commented on #22906
It also looks like the actual data transfer for failure_data.json is a mere 54.3MB but with a > 17x compression factor (gzip) it expands to ~960 MB in memory now ...

[2021-07-23 21:55] BenTheElder commented on #22906
I think maybe this is related https://github.com/kubernetes/kubernetes/issues/103822

[2021-07-24 00:19] #23003 closed

[2021-07-24 03:02] spiffxp commented on #11402
/reopen
Ugh. I've been commenting on the wrong issue this whole time. Will close the other issue about k8s-triage-robot later

[2021-07-25 07:46] YuviGold opened #23014 "Specify optional jobs on help command"
**What would you like to be added**:
Split the available presubmit jobs list shown on the test help command into required and optional jobs.

**Why is this needed**:
Currently, there's no indication of what jobs are optional and what jobs are required.

e.g.
[code]

[2021-07-25 23:19] Payaspx opened #23018 "Prow issue:"

[2021-07-26 02:06] alvaroaleman commented on #23018
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2021-07-26 02:06] #23018 closed

[2021-07-26 13:01] Goldselleruk opened #23021 "Goldselleruk"
Hi @YuviGold. Thanks for your PR.

I'm waiting for a [kubernetes](https://github.com/orgs/kubernetes/people) member to verify that this patch is reasonable to test. If it is, they should reply with `/ok-to-test` on its own line. Until that is done, I will not automatically test new commits in this PR, but the usual testing commands by org members will still work. Regular contributors should [join

[2021-07-26 15:39] spiffxp commented on #12296
I originally posted more comments in the wrong issue (https://github.com/kubernetes/test-infra/issues/11402) so I'm copy-pasting them here

[2021-07-26 15:40] spiffxp commented on #12296
The test job is failing (whoops I must have missed the tab name): https://testgrid.k8s.io/sig-contribex-k8s-triage-robot#api-review-help

It seems like bad credentials? https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8s-triage-robot-testcomment/1418328613631037440

So I logged into k8s-triage-robot, and sure enough, no personal access tokens at all.

Created a new one, updated the secret,

[2021-07-26 15:40] spiffxp commented on #12296
[code]

_Originally posted by @spiffxp in https://github.com/kubernetes/test-infra/issues/11402#issuecomment-885274636_

[2021-07-26 15:40] spiffxp commented on #12296
Fixed the token, it needed `scope:public_repo`

The query also didn't include `repo:kubernetes/test-infra`, so it ended up commenting here: https://github.com/kubernetes/org/issues/2465#issuecomment-885372510

_Originally posted by @spiffxp in https://github.com/kubernetes/test-infra/issues/11402#issuecomment-885373671_

[2021-07-26 15:40] spiffxp commented on #12296
Orrrr apparently github's search returned one issue the first time, and two the second.  But that's it.  Should see no more spam at this point.

Opened https://github.com/kubernetes/test-infra/pull/22997 to switch all the fejta-bot jobs over to k8s-triage-robot

_Originally posted by @spiffxp in https://github.com/kubernetes/test-infra/issues/11402#issuecomment-885376865_

[2021-07-26 17:26] #22987 closed

[2021-07-26 18:10] chaodaiG opened #23025 "Prow integration test: smoke testing tide"
**What would you like to be added**:

Prow integration test deploys prow components in kind cluster, which should be able to be used for smoke testing tide, by deploying tide in kind cluster and checking that tide merges a PR on fake github server.

**Why is this needed**:

https://kubernetes.slack.com/archives/C09QZ4DQB/p1627313972056200

## More Details

### Changes Required

* Add `tide` at [`t

[2021-07-26 18:10] chaodaiG commented on #23025
/area prow
/help
cc @YuviGold

[2021-07-26 18:13] #20954 closed

[2021-07-26 19:20] cjwagner opened #23027 "Add support to checkconfig for validating that all clusters referenced in PJ config exist in the kubeconfig secret."
**What would you like to be added**:
Additional optional checkconfig validation for confirming that all cluster aliases referenced in ProwJob configuration (via the `cluster` field) actually exist in the kubeconfig secret(s) used by Prow components to schedule and monitor Pods in build clusters.

**Why is this needed**:
Currently it is possible to configure a ProwJob with an invalid cluster alias

[2021-07-26 19:23] cjwagner commented on #23027
An important thing to note is that this would require the checkconfig presubmit to run in a trusted build cluster.

[2021-07-26 20:56] spiffxp commented on #20884
This is what I'm trying to prove is fixed.  We should never have had to do the workaround in the first place.

[2021-07-26 22:02] spiffxp commented on #12296
https://github.com/issues?q=involves%3Ak8s-triage-robot+archived%3Afalse+sort%3Aupdated-desc+ - so the bot is definitely commenting now

There are still some "failing" jobs on the dashboard
- https://testgrid.k8s.io/sig-contribex-k8s-triage-robot#stale - this is due to attempting to comment on a locked issue, so exclude those by default: https://github.com/kubernetes/test-infra/pull/23029
- https:

[2021-07-26 22:17] #13432 closed

[2021-07-26 22:35] YuviGold commented on #23025
Seems like this was already resolved as part of https://github.com/kubernetes/test-infra/pull/22582

[2021-07-26 22:53] chaodaiG commented on #23025
That's correct!

[2021-07-27 00:01] cjwagner commented on #22829
You could try sending a different signal than SIGTERM to the sidecar(s) (e.g. SIGUSR1) and have the sidecars exit gracefully with an exit code of zero. SIGTERM can't be used for this case because `entrypoint` treats that specifically as an abort signal in order to mark the ProwJob as aborted rather than succeeded or failed. I think this would also require changes to `entrypoint` to forward that si

[2021-07-27 02:25] spiffxp commented on #6380
Wow somehow I thought I had a sketch of "at least as good as release-blocking criteria" here but apparently not even that.

Definition of done here is to stop the bleeding.  Document what the state of today is, with the understanding that we need to revisit it.  Try to phrase in terms of the same criteria used for release-blocking.

There are two anti-patterns we want to avoid:
- a cartesian produ

[2021-07-27 02:25] spiffxp commented on #6380
Let's lift loosely from my [original comment](https://github.com/kubernetes/sig-release/issues/24#issuecomment-344381137) and [initial PR](https://github.com/kubernetes/sig-release/pull/346) that turned into what [release-blocking criteria are today](https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md#release-blocking-criteria-and-dashboard)

Looking at the merge-blockin

[2021-07-27 03:12] spiffxp commented on #6380
Lazy way of finding the release blocking jobs that all run by default against kubernetes/kubernetes... I'll pick a PR that happens to have passed them all
[code]

Which yields 12 jobs... so they need to be 95% consistent as a group (average flake rate of <5%) for your PR to not be a coin-flip (.95**12 = 54% pass rate).

[code]

Good news!  Based on the flake rate of jobs [over the last week](https

[2021-07-27 03:20] spiffxp commented on #21430
I suggest we do this after the next patch release and before the v1.23 release cycle starts

So based on
- https://kubernetes.io/releases/patch-releases/ sometime after 2021-08-11
- https://github.com/kubernetes/sig-release/blob/master/releases/release-1.23/README.md sometime before 2021-08-23

[2021-07-27 03:20] spiffxp commented on #18729
/priority important-longterm
Everything I listed as the definition of done in https://github.com/kubernetes/test-infra/issues/18729#issuecomment-776098658 still stands

[2021-07-27 03:21] spiffxp commented on #18729
/remove-priority important-longterm
I plan on at the barest of least writing down what I think we have in our heads for merge-blocking criteria today.  Not so much hard requirements as things that raise our ire or we like to see.

[2021-07-27 03:27] spiffxp commented on #6380
/milestone v1.23

[2021-07-27 03:57] spiffxp commented on #18789
/milestone v1.23
Let's just wait until v1.22 goes out the door before we bother with this again

[2021-07-27 04:02] spiffxp commented on #20886
/milestone v1.23
What remains to be done here? I swear I talked about this last meeting and have already forgotten the things we linked through to discover that there was still work to actually add it to `metadata.json` and setup testgrid column headers

[2021-07-27 04:17] spiffxp commented on #20652
/milestone v1.23

[2021-07-27 04:39] spiffxp commented on #18599
/help

I don't really see any way around having to use the tests in config/tests/testgrid.  It's the only way you can guarantee you're walking testgrid configs that are the result of _both_ whatever prowjob annotations exist, _and_ whatever manually defined testgrids there are.   And testgrid config is where the alerting is defined.

Like, you have my full support if you want to try suggesting:
-

[2021-07-27 04:42] spiffxp commented on #19264
/milestone v1.23
/remove-lifecycle stale
I think what is keeping this open is that we are waiting to run down the deprecation clock so we can remove the old fields

[2021-07-27 04:56] spiffxp commented on #22721
/remove-help
Since this has been taken on by @MadhavJivrajani

[2021-07-27 05:07] spiffxp commented on #22721
/milestone clear

[2021-07-27 05:09] spiffxp commented on #22568
/milestone v1.23
If I'm going to have to change the URI, I'd rather do it to triage.k8s.io than some different bucket URI

[2021-07-27 05:10] spiffxp commented on #22568
/priority important-soon

[2021-07-27 05:21] spiffxp commented on #20884
/milestone v1.23

[2021-07-27 10:55] #22440 closed

[2021-07-27 13:40] fgimenez commented on #23025
In #22582 tide is deployed to prevent deck from complaining but nothing else, I think that the check for tide merging a PR on fake github server is missing, is that correct?

[2021-07-27 13:54] dhaiducek opened #23031 "`tide` not honoring multiple reviewer branch protection"
**What happened**:
- With this organization-level `tide` configuration:
[code]
- Set reviewers in `branch-protection` for a particular repo:
[code]
- `tide` merges PRs without the second review (or any review, really--it'll merge with `/lgtm` without an actual review)

**What you expected to happen**:
- With branch protection rules in place, I'd expect `tide` to respect the reviewer count and not

[2021-07-27 15:26] YuviGold commented on #23025
Yes, that's correct. We should have tide integration tests as well.

[2021-07-27 15:33] fgimenez commented on #23025
Cool thx! @YuviGold I'd love to give it a try, is it ok if I pick it up, or do you want to work on it yourself?

[2021-07-27 15:48] spiffxp commented on #22888
@howardjohn are there more instances of this or can we consider this closed by https://github.com/kubernetes/test-infra/pull/22918 ?

[2021-07-27 15:58] spiffxp commented on #12296
Opened a PR to bump jobs to use the latest commenter:
- https://github.com/kubernetes/test-infra/pull/23032

I think because I tried re-running the other two jobs (since I can't re-trigger them), they tried and failed against the wrong cluster again, and their interval might have reset.  In other words, may need to wait to sometime after 3pm PT to see if they go back to green

[2021-07-27 15:59] howardjohn commented on #22888
I would not be surprised if there are more - I think any array with `omitempty` and ApplyDefaults checking for `nil` will be impacted. However, I only personally cared about the field fixed in https://github.com/kubernetes/test-infra/pull/22918 so haven't investigated beyond that. I would be happy to keep it open or closed.

[2021-07-28 05:51] YuviGold commented on #23025
@fgimenez Let me give it a shot. It will help me understand some internals :)

[2021-07-28 07:52] fgimenez commented on #23025
/assign @YuviGold
/remove-help

Absolutely! feel free to ping if you have any questions, will try to help if I can :)

[2021-07-28 18:34] #22494 closed

[2021-07-28 19:56] #23014 closed

[2021-07-29 01:59] BenTheElder commented on #22906
Safari on macOS still seems to render this, but that's not a great answer for those not using a mac. It is > 1GB uncompressed now.

[2021-07-29 03:20] cjwagner commented on #21330
/remove-lifecycle stale
@stevekuznetsov @alvaroaleman Do you have any ideas about how to fix this? If not can we consider redesigning or removing these tests? It is inconvenient to have one set of Prow tests that don't pass with bazel.

[2021-07-29 10:21] yuvalk commented on #21509
/remove-lifecycle rotten

[2021-07-29 13:17] YuviGold opened #23062 "Indicate optional job on retest comment"
**What would you like to be added**:
When the retest help message is shown, it should indicate what jobs are required and what are not.

**Why is this needed**:
On https://github.com/kubernetes/test-infra/pull/22850 the `/retest-required` command was introduced.
Now whenver the retest comment is presented, it suggests to use either the `/retest` command to run everything or the `/retest-required`

[2021-07-29 13:26] alvaroaleman commented on #21330
No, not really and these are incredibly hard to debug as there doesn't seem to be a way to get into the sandbox chroot(?) bazel creates for the tests.

But they do pass with Bazel in CI :)

I'll leave it up to @stevekuznetsov to decide what to do about these

[2021-07-29 16:33] ike-ma commented on #22964
This image was tested manually during development, and in presubmit. I'm not sure about the e2e-ci.

[code]

I remember I need to login to Fedora machine as `core` user to ssh into it.

From the error message, it seems the execution user is `prow`

[2021-07-29 16:42] ike-ma commented on #22964
Compare to the presubmit CI: https://github.com/kubernetes/test-infra/pull/22453/commits/9180f79054a261371d1ab746acaacb8b1f4a039a#diff-9495ba672589316a9265fd090ecb9c3c74fd414a11386acafda27df4bd409409R632

The e2e CI missed `- --env=KUBE_SSH_USER=core`: https://github.com/kubernetes/test-infra/pull/22809/commits/cdea53836c06503f6186b235b15be2790babde37

[2021-07-29 17:15] chases2 commented on #19931
This issue is pretty old and doesn't seem to be occurring any longer. Closing for now, but will update if things change this week.

[2021-07-29 17:15] #19931 closed

[2021-07-30 06:46] mborsz commented on #21996
/remove-lifecycle stale

[2021-07-30 19:35] alvaroaleman commented on #10423
Tide gh apps support was finished in #23036, we rolled it out in Openshift today and it appears to be working fine.

That means the only thing left here is to update our documentation and samples.

[2021-07-30 20:12] BenTheElder commented on #10423
Was that the last thing to being able to migrate prow fully? Should we start looking at moving prow.k8s.io as well?

[2021-07-30 20:25] spiffxp commented on #20067
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-30 20:26] spiffxp commented on #20067
Currently I think this lives in a google.com data studio instance, I would like to see what it'd take to recreate this in the community-owned kubernetes.io data studio instance: https://github.com/kubernetes/k8s.io/issues/1590

[2021-07-30 20:52] alvaroaleman commented on #10423
Yes

I think that would be great :) I am not sure if there is an immediate practical benefit to that, though. It is primarily useful to simplify onboarding orgs as the webhook and hmac secret is configured on the app instead of on the org and to alleviate token exhaustion issues (which afaik do not exist for prow.k8s.io).

One thing to note is that if a github apps needs to be installed in more th

[2021-07-30 22:23] BenTheElder commented on #22906
It has gone back down to 45.73MB loaded / 885.4 MB in memory. I see it working in Firefox and Safari but not Google Chrome.

Time is trending down for the update job as well:
<img width="1259" alt="Screen Shot 2021-07-30 at 3 23 23 PM" src="https://user-images.githubusercontent.com/917931/127717359-65142e8e-f6c7-4b0e-89bc-7e0d50355c64.png">

[2021-07-31 20:22] #18418 closed

[2021-08-01 07:47] MadhavJivrajani commented on #22911
/assign

@BenTheElder I think changing `Details` to something along the lines of `Click here for more details` might help. Not sure if we should remove the `<details>` block,  mainly because too much text in a comment can also cause non-attention to the info provided ("too much text" is again subjective). WDYT?

[2021-08-02 08:14] mborsz opened #23092 "Format of LOG_DUMP_EXTRA_FILES is inconsistent between log-dump.sh and logexporter"
**What happened**:

While log-dump.sh expects LOG_DUMP_EXTRA_FILES to be space-separated:
https://github.com/kubernetes/test-infra/blob/9ba1a2baaf8e00f05f17e62b9bd1e43e8f387786/logexporter/cluster/log-dump.sh#L325

logexporter expects this flag to be comma-separated (see https://pkg.go.dev/github.com/spf13/pflag#StringSlice):
https://github.com/kubernetes/test-infra/blob/9ba1a2baaf8e00f05f17e62b9b

[2021-08-02 18:23] BenTheElder commented on #22906
It's dropped by another 100mb or so to 39.9MB compressed / 778.8MB uncompressed, this may resolve itself.

[2021-08-02 19:10] LorbusChris opened #23096 "`cluster` and `repo` in `plank.default_decoration_config_entries[].config` don't support regexes"
**What happened**:
The plank README (https://github.com/kubernetes/test-infra/blob/master/prow/plank/README.md#configuration) states regexes are supported in the `plank.default_decoration_config_entries[].config.cluster` and `plank.default_decoration_config_entries[].config.repo` fields, but looking at the code it doesn't look like they actually are:
https://github.com/kubernetes/test-infra/blob/8

[2021-08-02 19:19] alvaroaleman commented on #23096
@cjwagner should we just update the readme?

[2021-08-02 19:22] LorbusChris commented on #23096
I really think this should be properly fixed as matching cluster names against simple strings can force the config to become repetitive very quickly.

[2021-08-02 19:31] cjwagner commented on #23096
Yes we should update the README. This was an intentional decision, see the discussion here: https://github.com/kubernetes/test-infra/pull/20656#discussion_r573027022

If regex matching is desired please add new `cluster_re` and `repo_re` fields as mentioned there. We don't want to treat `cluster` and `repo` as regex because that would be inconsistent with the rest of the Prow config and also a bre

[2021-08-02 22:38] #21189 closed

[2021-08-03 15:17] PushkarJ opened #23112 "Send alerts for security tooling to group under kubernetes.io"
**What**: Change the email ID here: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/wg-k8s-infra/trusted/sig-security-trusted.yaml#L54 to `security-tooling-private@kubernetes.io`

**Why**: This switch will allow multiple community members to start getting the alerts on a google group maintained by kubernetes google workspace.

Related: https://github.com/kubernetes/test

[2021-08-03 15:17] PushkarJ commented on #23112
/assign nehaLohia27

[2021-08-03 15:20] nehaLohia27 commented on #23112
@PushkarJ I am interested in taking this up.

[2021-08-03 15:23] PushkarJ commented on #23112
/assign @nehaLohia27

[2021-08-03 18:35] #22964 closed

[2021-08-03 18:51] dims commented on #18600
/reopen
/remove-lifecycle rotten

[2021-08-03 18:58] BenTheElder commented on #23112
FYI: while you may be sending alerts to sig security private nothing prevents me, not a member, from simply viewing the testgrid directly.

[2021-08-03 20:32] PushkarJ commented on #23112
@BenTheElder Yes agree 100%. In the last update to the job we removed the printing of vulnerabilities as part of job run, to make sure test grid access doesn't give away the list of untriaged vulnerabilities.

This still doesn't mean that attacker cannot get this list but for that they would have to run the scan by themselves locally thus making it slightly more difficult to choose this attack vec

[2021-08-03 22:01] BenTheElder commented on #23112
I'm not sure it makes sense to have the results be private given that they're not based on any privileged information (unlike a private vuln disclosure).

[2021-08-03 22:32] PushkarJ commented on #23112
Sorry I should have clarified this before, the results will not be private forever. It will only be private _until_ the triage is complete and fix is being worked on, when needed.

Here's some more info: https://github.com/kubernetes/community/blob/c9f1cd8ce6261f619a312daa15ff73299376ce81/sig-security/sig-security-tooling/vulnerability-mgmt/policy-for-vulnerability-resolution.md

[2021-08-04 18:55] MadhavJivrajani opened #23129 "Add a "TL;DR" equivalent of good-first-issue/help-wanted criteria in bot comment prompt for these issues"
**What should be cleaned up or changed**:
Currently, when an issue is created that is marked as `good-first-issue`, `help-wanted`: the bot prompts the user by providing a [link](https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md#good-first-issue) to the set of criteria to be met for an issue to qualify as a `good-first-issue` or a `help-wanted` issue.

Currently

[2021-08-04 19:33] spiffxp commented on #20006
/milestone v1.23

[2021-08-04 20:03] PI-Victor commented on #22095
/remove-lifecycle stale

[2021-08-04 20:20] mmiranda96 opened #23131 "Create canary jobs for containerd 1.5"
**What would you like to be added**:
Canary jobs for containerd 1.5.

**Why is this needed**:
containerd 1.4 has 4 canary jobs. Version 1.5 requires a similar set of jobs.

/cc dims skanzhelev ehashman

[2021-08-04 20:21] mmiranda96 commented on #23131
/assign
/cc dims skanzhelev ehashman

[2021-08-04 20:22] mmiranda96 commented on #23131
/cc @dims
/cc @SergeyKanzhelev
/cc @ehashman

[2021-08-04 22:17] BenTheElder commented on #23112
The actual data the results are coming from are public, and the binary pass/fail is public, so the results being "not public" is just a matter of an interested party running the same tool themselves (and they can even replicate how we invoke it since that's public too).

Further: as an attacker, wouldn't I prefer to just look at the patches we do land and target all the clusters that have not upda

[2021-08-04 22:20] BenTheElder opened #23135 "kettle appears to be down"
**What happened**:

- go.k8s.io/triage results only extend to july 28th
- triage job is passing https://testgrid.k8s.io/sig-testing-misc#triage&graph-metrics=test-duration-minutes&width=5
- kettle-metrics job is failing https://testgrid.k8s.io/sig-testing-misc#metrics-kettle&width=5
- kettle-staging deployment is crashloopbackoff due to out of disk
- kettle deployment still appears to be up

**Wha

[2021-08-04 22:21] BenTheElder commented on #22906
xref: https://github.com/kubernetes/test-infra/issues/23135 probably the reason the size went down.

[2021-08-04 22:21] BenTheElder commented on #23135
for kettle staging:

[2021-08-04 22:23] BenTheElder commented on #23135
from kettle:

[2021-08-04 22:25] BenTheElder commented on #23135
Based on the logs, also noting that we are processing builds from buckets we don't control / are not part of the project like `gs://istiocricle-ci`, `gs://k8s-conformance-gardener`. Not sure we should be doing that.

[2021-08-04 23:02] jdnurme commented on #23135
Is it possible that since test size has increased, we are no longer clearing out old data efficiently enough to make space for incoming test runs? Is there a manual step we can take to free up disk space and gain access to recent testing data?

[2021-08-04 23:03] BenTheElder commented on #23135
The staging instance should not be affected the main instance, they have their own disks.
The main instance has no errors about disk space and is on a disk an order of magnitude larger.

I don't see logs after `2021-07-31 16:45:21.465 PDT` however, which seems odd.

[2021-08-04 23:14] BenTheElder commented on #23135
The pod was crated on the 31st, FWIW.

| Revision	| Name	    |     Status |	Restarts |	Created on	|
|-----|-----|----|----|----|
| 68	     |   kettle-67d95d4546-9l64g	|  Running	| 0	| Jul 31, 2021, 11:40:44 AM	|

[2021-08-05 17:56] ehashman commented on #22250
/close

I removed the test job.

[2021-08-05 17:56] #22250 closed

[2021-08-05 19:16] BenTheElder commented on #23135
I deleted the pod since it seems to be stuck inexplicably, there is a new pod running. Will check back later.

[2021-08-05 21:35] jdnurme commented on #23135
Still seeing data locked at 7/28

[2021-08-05 21:36] BenTheElder commented on #23135
It still appears to be inserting builds in the podlogs.

[2021-08-05 21:38] BenTheElder commented on #23135
I think it's going to take some time to catchup with the backlog.

[2021-08-05 22:01] midnightconman opened #23150 "Automatic ProwJob Prefix For InRepo Jobs"
**What would you like to be added**:
I would like to be able to configure a pattern (possibly a go template) that would be automatically added to prow job names for in-repo prow jobs. This means that if an in-repo prow job was named `foo`, after the pattern it could be called `kubernetes-test-infra-foo` (or something similiar).

**Why is this needed**:
Without this, prow jobs from different repos

[2021-08-05 22:23] eddiezane commented on #18117
/remove-lifecycle rotten

Looks like the GraphQL API does allow this.

https://docs.github.com/en/graphql/reference/mutations#transferissue

[2021-08-05 22:26] eddiezane commented on #18117
Oh and here is how hub implements it!

https://github.com/github/hub/pull/2363/files

[2021-08-05 22:28] eddiezane commented on #18117
And how gh cli https://github.com/cli/cli/blob/09b09810dd812e3ede54b59ad9d6912b946ac6c5/pkg/cmd/issue/transfer/transfer.go.

Both are using GraphQL.

[2021-08-05 23:35] BenTheElder commented on #23135
per @spiffxp this can take 8+ hours on restart 🔥  https://github.com/kubernetes/test-infra/issues/17069

I think this tooling pretty obviously needs investing in, but the best I can offer just this moment is collecting that evidence and attempting to at least get it running again for now.

even once it is ready again, it will be another hour or two longer at least for triage to process the new dat

[2021-08-06 00:07] BenTheElder commented on #23135
we've hit the same problem and hung, I think this is the issue:
[code]

[2021-08-06 01:03] eddiezane commented on #18117
I started working on this in https://github.com/kubernetes/test-infra/pull/23153

/assign

[2021-08-06 01:06] rikatz commented on #18117
Yey thanks Eddie.

If I can help with something just ping me :)

Em qui., 5 de ago. de 2021 às 22:03, Eddie Zaneski ***@***.***>
escreveu:

[2021-08-06 10:22] fgimenez commented on #22533
Looks like everything is working as expected if we set `reporter_config.slack.job_states_to_report` to `[]` at the ProwJob level, can you please confirm @dhiller?

[2021-08-06 16:42] jberkus commented on #23129
/lgtm

solution was discussed and approved at SIG-Contribex meeting.

[2021-08-06 17:08] chaodaiG opened #23157 "Write instruction for how to add new prow integration tests"
**What would you like to be added**:

Instruction for how to add new integration tests

**Why is this needed**:

There have been a few times where prow integration tests could be beneficial to prow developers, and I have been creating issues ad hoc instructing how to add integration tests for certain scenarios. It could make our lives easier if there is a generic instruction for adding integration

[2021-08-06 17:08] chaodaiG commented on #23157
/area prow
/assign

[2021-08-07 01:37] amwat commented on #20886
We still need to add a testgrid column-header in https://github.com/kubernetes/test-infra/blob/master/config/testgrids/default.yaml#L10

to read https://github.com/kubernetes/test-infra/pull/21276/files#diff-71dd7bf85cfecc6c2c2fa0956ad5f182433bcc0f287aaa83f2052eb3f8ba9710R525

(probably we should consider an agnostic name to also cover kubetest2)

I also have a PR open to square off the kubetest2

[2021-08-07 22:35] PushkarJ commented on #23112
Closing issue as this PR is merged: https://github.com/kubernetes/test-infra/pull/23123

The rest of the discussion about the larger process and policy can be continued here: https://github.com/kubernetes/community/pull/5853

[2021-08-07 22:35] #23112 closed

[2021-08-09 05:59] nikhita commented on #22911
@MadhavJivrajani It might be helpful to get data on which prow plugins use `Details` today. This can help us identify areas of friction in a much clearer way.

[2021-08-09 08:29] matthyx commented on #9126
/lifecycle frozen

[2021-08-09 08:29] matthyx commented on #9757
/lifecycle frozen

[2021-08-09 16:42] #20105 closed

[2021-08-09 20:59] spiffxp commented on #22759
/sig testing

[2021-08-09 20:59] spiffxp commented on #23025
/sig testing

[2021-08-09 21:00] spiffxp commented on #21330
/sig testing

[2021-08-09 21:00] spiffxp commented on #22208
/sig testing

[2021-08-09 21:02] #8954 closed

[2021-08-09 21:02] spiffxp commented on #21674
/sig testing
It's not clear to me whether we're still seeing this

[2021-08-09 21:03] spiffxp commented on #20606
/sig testing
It's not clear to me whether we're still seeing this, did you notice this when trying restart kettle recently @BenTheElder ?

[2021-08-09 21:03] spiffxp commented on #20067
/sig testing

[2021-08-09 21:03] spiffxp commented on #20024
/sig testing

[2021-08-09 21:05] BenTheElder commented on #20606
There's a different more specific error message about the insert having a row that is too large. I have not seen this.

[2021-08-09 21:06] spiffxp commented on #22657
/sig testing

[2021-08-09 21:10] spiffxp commented on #9126
/sig testing

[2021-08-09 21:10] spiffxp commented on #9757
/sig testing

[2021-08-09 21:11] spiffxp commented on #22911
/sig contributor-experience
@BenTheElder do you have a list of comments that use this and which ones should be changed?

[2021-08-09 21:13] spiffxp commented on #14018
/close
Testgrid descriptions automatically have the test name and a URI to the job config as of 2021-02-12: https://github.com/kubernetes/test-infra/pull/20844

[2021-08-09 21:13] #14018 closed

[2021-08-09 21:13] spiffxp commented on #14018
/sig testing

[2021-08-09 21:14] spiffxp commented on #6289
/sig testing

[2021-08-09 21:16] spiffxp commented on #21495
/remove-lifecycle stale
/sig scalability

[2021-08-09 21:16] spiffxp commented on #23157
/sig testing
/kind documentation
/remove-kind feature

[2021-08-09 21:18] spiffxp commented on #22653
/sig-testing
/area prow/gerrit

[2021-08-09 21:18] spiffxp commented on #22764
/sig testing

[2021-08-09 21:19] spiffxp commented on #21665
/sig testing
/remove-lifecycle rotten
@chaodaiG I think you're now working on a solution that doesn't use alertmanager? We should probably close this if so

[2021-08-09 21:20] spiffxp commented on #23096
/remove-kind bug
/kind documentation
/sig testing

[2021-08-09 21:22] spiffxp commented on #23062
/sig testing
/close
fixed by https://github.com/kubernetes/test-infra/pull/23016

[2021-08-09 21:23] spiffxp commented on #22891
/sig testing

[2021-08-09 21:24] spiffxp commented on #23031
/sig testing

[2021-08-09 21:24] spiffxp commented on #23062
/assign @YuviGold
(who ended up fixing this, thanks!)

[2021-08-09 21:24] spiffxp commented on #22829
/sig testing

[2021-08-09 21:25] paulangton commented on #8954
that seems reasonable 😹

[2021-08-09 21:25] spiffxp commented on #23092
/sig testing
/sig scalability
IIRC this is where logexporter originated

[2021-08-09 21:25] spiffxp commented on #22793
/sig testing

[2021-08-09 21:26] spiffxp commented on #22755
/sig testing

[2021-08-09 21:26] spiffxp commented on #22737
/sig testing

[2021-08-09 21:27] spiffxp commented on #22731
/sig testing

[2021-08-09 21:27] spiffxp commented on #22720
/sig testing

[2021-08-09 21:27] spiffxp commented on #22851
/sig testing

[2021-08-09 21:27] spiffxp commented on #22690
/sig testing

[2021-08-09 21:28] spiffxp commented on #22598
/sig testing

[2021-08-09 21:28] spiffxp commented on #22587
/sig testing

[2021-08-09 21:28] spiffxp commented on #22577
/sig testing

[2021-08-09 21:28] spiffxp commented on #22572
/sig testing

[2021-08-09 21:29] spiffxp commented on #22571
/sig testing

[2021-08-09 21:29] spiffxp commented on #22552
/sig scalability

[2021-08-09 21:29] spiffxp commented on #22535
/sig testing

[2021-08-09 21:29] spiffxp commented on #23150
/sig testing

[2021-08-09 21:30] spiffxp commented on #22407
/close
Please reopen if you have more information to provide

[2021-08-09 21:30] #22407 closed

[2021-08-09 21:30] spiffxp commented on #22318
/sig testing
/remove-kind feature
/kind bug

[2021-08-09 21:32] spiffxp commented on #22286
/sig testing
/assign @cblecker
are we still seeing this?
/assign @chaodaiG
current test-infra-oncall, can you take a look at the token real quick and confirm whether we're still using an old format token?

[2021-08-09 21:32] spiffxp commented on #22251
/sig testing

[2021-08-09 21:32] spiffxp commented on #22231
/sig testing

[2021-08-09 21:32] spiffxp commented on #22164
/sig testing

[2021-08-09 21:33] spiffxp commented on #22154
/close
Please reopen if you have more information to provide.  We generally don't handle support requests here and encourage discussion on kubernetes.slack.com in the #prow channel.

[2021-08-09 21:33] #22154 closed

[2021-08-09 21:34] spiffxp commented on #22144
/sig testing

[2021-08-09 21:34] chaodaiG commented on #21665
yes, this is obsolete now
/close

[2021-08-09 21:34] spiffxp commented on #22143
/sig testing

[2021-08-09 21:34] #21665 closed

[2021-08-09 21:34] spiffxp commented on #22116
/sig testing

[2021-08-09 21:35] spiffxp commented on #22104
/sig testing
/assign @fejta
please re-assign to someone more appropriate to handle bazel-related support

[2021-08-09 21:35] spiffxp commented on #22095
/sig testing

[2021-08-09 21:36] spiffxp commented on #22077
/remove-lifecycle stale
/sig testing

[2021-08-09 21:36] spiffxp commented on #21996
/sig testing

[2021-08-09 21:36] spiffxp commented on #21996
/sig scalability

[2021-08-09 21:36] spiffxp commented on #22533
/sig testing

[2021-08-09 21:37] spiffxp commented on #21910
/sig testing

[2021-08-09 21:37] spiffxp commented on #21868
/sig testing

[2021-08-09 21:38] spiffxp commented on #10402
/sig testing

[2021-08-09 21:38] spiffxp commented on #16588
/sig testing

[2021-08-09 21:38] spiffxp commented on #21426
/remove-lifecycle rotten
/sig testing

[2021-08-09 21:39] spiffxp commented on #10409
/sig testing

[2021-08-09 21:39] spiffxp commented on #18551
/sig testing

[2021-08-09 21:39] spiffxp commented on #10146
/sig testing

[2021-08-09 21:39] spiffxp commented on #22888
/sig testing

[2021-08-09 21:40] spiffxp commented on #14575
/sig testing

[2021-08-09 21:40] spiffxp commented on #20421
/sig testing

[2021-08-09 21:40] spiffxp commented on #16798
/sig testing

[2021-08-09 21:41] chaodaiG commented on #22286
the token used in `deck` is called `oauth-token`, and value doesn't have any of the prefixes mentioned in https://github.blog/changelog/2021-03-31-authentication-token-format-updates-are-generally-available/, so yes we are still on the old format

[2021-08-09 21:47] stevekuznetsov commented on #16798
Shouldn't the suggestion just be to use Prow to trigger Tekton pipelines? We are not going to implement pipelines better than they have.

[2021-08-09 21:49] stevekuznetsov commented on #20421
The dependency from the `boskos` client back to `test-infra` is through the auto-reloading secret manager, which is fairly useless for one-shot client uses like `kubetest`. We could just factor the `boskos` client to accept a generator for it's credentials and use the secret agent where necesssary (but not in kubetest)

[2021-08-09 22:21] spiffxp commented on #19629
/sig testing

[2021-08-09 22:22] spiffxp commented on #19456
/sig testing

[2021-08-09 22:22] spiffxp commented on #19499
/sig testing

[2021-08-09 22:22] spiffxp commented on #21053
/sig testing

[2021-08-09 22:22] spiffxp commented on #23027
/sig testing

[2021-08-09 22:22] spiffxp commented on #20443
/sig testing

[2021-08-09 22:25] spiffxp commented on #20650
/sig testing

[2021-08-09 22:25] spiffxp commented on #20713
/sig testing
/remove-lifecycle rotten

[2021-08-09 22:26] spiffxp commented on #21980
/sig testing
@chaodaiG is this still happening?

[2021-08-09 22:26] spiffxp commented on #21079
/sig testing

[2021-08-09 22:28] chaodaiG commented on #21980
haven't seen it lately
/close

[2021-08-09 22:28] #21980 closed

[2021-08-09 22:29] spiffxp commented on #21303
/sig testing
I'm tempted to close this as out of scope, as I suspect it's up to the script that invokes this to decide what the commits should look like.  The tool you're referencing here is responsible for "should I open or bump a PR", not necessarily "what should be in this PR?"

Will revisit on a pass for prioritization

[2021-08-09 22:52] spiffxp commented on #20443
/close
The image was most recently rebuilt via https://github.com/kubernetes/test-infra/pull/22977

Since the image in question is based on golang, which is based on debian, we're using whatever upstream provides.

[code]

[2021-08-09 22:52] #20443 closed

[2021-08-09 22:54] spiffxp commented on #21463
/remove-lifecycle rotten
/assign @fejta
Please close or find someone more suitable to assign bazel-related issues

[2021-08-09 23:24] spiffxp commented on #21581
/sig testing

[2021-08-09 23:24] spiffxp commented on #21449
/sig testing

[2021-08-09 23:24] spiffxp commented on #21509
/sig testing

[2021-08-09 23:25] spiffxp commented on #21729
/sig testing

[2021-08-09 23:25] spiffxp commented on #21541
/sig testing

[2021-08-09 23:26] spiffxp commented on #21681
/remove-lifecycle rotten
/sig testing
/area ghproxy
is this still relevant with a move away from grafana? AIUI this is more about what metrics get exposed by ghproxy

[2021-08-09 23:26] spiffxp commented on #21720
/sig testing

[2021-08-09 23:26] spiffxp commented on #21738
/sig testing
/assign @chaodaiG
as current test-infra-oncall

is this still relevant?

[2021-08-09 23:26] spiffxp commented on #21836
/sig testing

[2021-08-09 23:27] spiffxp commented on #21845
/sig testing

[2021-08-09 23:27] spiffxp commented on #22653
/sig testing
yay typos

[2021-08-09 23:27] spiffxp commented on #3324
/sig testing

[2021-08-09 23:27] spiffxp commented on #18388
/sig testing

[2021-08-09 23:28] spiffxp commented on #21802
/sig testing

[2021-08-09 23:28] chaodaiG commented on #21738
yes it's still relevant

[2021-08-09 23:29] chaodaiG commented on #21738
/remove-lifecycle rotten

[2021-08-10 00:00] fejta commented on #3324
https://github.com/GoogleCloudPlatform/testgrid/blob/master/standalone.md

[2021-08-10 00:00] #3324 closed

[2021-08-10 00:06] spiffxp commented on #22721
/milestone v1.23

[2021-08-10 00:10] fejta commented on #21463
This is intended behavior: https://github.com/bazelbuild/rules_go#initial-project-setup

[2021-08-10 00:10] #21463 closed

[2021-08-10 00:14] fejta commented on #22104
You're expected to run `hack/update-deps.sh` or `hack/update-bazel.sh` which among other things runs gazelle.

[2021-08-10 00:14] #22104 closed

[2021-08-10 05:56] MadhavJivrajani commented on #20872
@bhumijgupta are you still working on this?

[2021-08-10 06:12] BenTheElder commented on #22577
Per above https://github.com/kubernetes/test-infra/issues/22577#issuecomment-862060159 and the original comment, if anyone wants to take this on I recommend looking at the "rendering" phase to start, I think naively that looks like biggest opportunity.

[2021-08-10 06:35] YuviGold commented on #23062
@spiffxp actually this is a different issue.
You're talking about https://github.com/kubernetes/test-infra/issues/23014 which requested the **test help command** to distinct between the available jobs.
This issue is about making the **retest help command** clearer. Since the `/retest-required`  command was introduced by @alvaroaleman , it's unclear which command calls which failing jobs.

e.g. in

[2021-08-10 16:27] spiffxp commented on #22906
/milestone v1.23

[2021-08-10 16:28] spiffxp commented on #14226
/sig testing

[2021-08-10 16:28] spiffxp commented on #14049
/sig testing

[2021-08-10 16:31] spiffxp commented on #20443
/milestone v1.22

[2021-08-10 16:31] spiffxp commented on #14018
/milestone v1.21

[2021-08-10 16:34] spiffxp commented on #21268
/reopen
/remove-lifecycle rotten
I think this is still relevant, and a good idea.  That said, the lack of attention means maybe everyone else is happy with the status quo, and prow's entire surface area as public API

[2021-08-10 16:35] spiffxp commented on #21197
/reopen
/remove-lifecycle rotten
Since there is an open PR to address this

[2021-08-10 16:37] spiffxp commented on #17855
/reopen
/remove-lifecycle rotten
Is this still occurring in the wild? It sounds like it would be relevant to our use of ghproxy for potentially N instances of triage-party each using their own GitHub token over in kubernetes/k8s.io

[2021-08-10 16:39] spiffxp commented on #20455
/remove-lifecycle rotten
/reopen

[2021-08-10 16:40] spiffxp commented on #18159
/reopen
/remove-lifecycle rotten
If we shouldn't enforce this, we should drop the test.  Or, finish implementing so there are no more special cases.  This middle ground is complexity that doesn't need to be present.

[2021-08-10 16:40] spiffxp commented on #18159
/sig testing

[2021-08-10 16:56] spiffxp commented on #23014
/sig testing
/milestone v1.22

[2021-08-10 21:14] liggitt commented on #23135
/subscribe

[2021-08-11 05:53] BenTheElder commented on #23135
My team has an internal "summit" the next ~two days and I've needed to prepare for that so I'm not sure if I'll make any progress on this before then at least.

We're probably going to need to patch the kettle source to drop/truncate excessively large failure messages (and ideally log which ones so we can look into what is uploading > 100 MB failure logs for us to analyze ...), get that deployed,

[2021-08-11 06:10] pacoxu opened #23202 "node-problem-detector-push-images CI failure: cloudbuild.yaml does not exist"
**What happened**:
https://testgrid.k8s.io/sig-node-node-problem-detector#node-problem-detector-push-images
failed for no cloudbuild.yaml

[code]

The project and code
- https://github.com/kubernetes/node-problem-detector/
- https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/node-problem-detector

**What you expected to happen**:

**How to reproduce it (as minimally and precisely

[2021-08-11 06:12] pacoxu commented on #23202
I find some discussion in https://github.com/kubernetes/node-problem-detector/pull/336#issuecomment-541870296.

I am not sure where we should put the cloudbuild.yaml in.
- https://github.com/kubernetes/node-problem-detector/
- https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/node-problem-detector
- or somewhere in test-infra

[2021-08-11 13:55] Mini256 opened #23205 "release-note check the merged PR and label 'do-not-merge'"
**What happened**:

When the body of an already merged PR is modified, release-note checks that pr does not contain release-note block, and then adds a `do-not-merge/release-note-label-needed`, which looks a little strangeness.

**What you expected to happen**:

Can we ignore the check on the PR that has been merged?

**How to reproduce it (as minimally and precisely as possible)**:

**Please prov

[2021-08-11 13:56] Mini256 commented on #23205
/area prow

[2021-08-11 15:09] spiffxp commented on #17855
/sig testing

[2021-08-11 15:09] spiffxp commented on #21197
/sig testing

[2021-08-11 15:09] spiffxp commented on #20455
/sig testing

[2021-08-11 15:11] spiffxp commented on #23202
/sig node

I would suggest https://github.com/kubernetes/node-problem-detector/

[2021-08-11 15:12] spiffxp commented on #23205
/sig release

[2021-08-11 15:20] spiffxp commented on #23112
/milestone v1.23

[2021-08-11 15:21] spiffxp commented on #22250
/milestone v1.22

[2021-08-11 15:21] spiffxp commented on #22964
/milestone v1.22

[2021-08-11 15:22] spiffxp commented on #19931
/sig testing

[2021-08-11 15:23] spiffxp commented on #22494
/milestone v1.22

[2021-08-11 15:24] spiffxp commented on #22987
/milestone v1.22

[2021-08-11 15:25] spiffxp commented on #23003
/milestone v1.22

[2021-08-11 15:27] spiffxp commented on #22963
/remove-help
/sig testing

[2021-08-11 15:28] spiffxp commented on #20883
/sig testing

[2021-08-11 15:28] spiffxp commented on #22937
/sig testing
/milestone v1.22

[2021-08-11 15:29] spiffxp commented on #19477
/milestone v1.21

[2021-08-11 15:29] spiffxp commented on #14629
/sig testing
/remove-lifecycle rotten
/reopen

[2021-08-11 15:30] spiffxp commented on #22923
/milestone v1.22

[2021-08-11 15:30] spiffxp commented on #22903
/sig scalability

[2021-08-11 15:31] spiffxp commented on #22846
/sig testing
/milestone v1.22

[2021-08-11 15:32] spiffxp commented on #21304
/remove-lifecycle rotten
/reopen
/sig testing

[2021-08-11 15:33] spiffxp commented on #22256
/sig testing
/milestone v1.22

[2021-08-11 15:34] spiffxp commented on #18973
/milestone v1.22

[2021-08-11 15:34] spiffxp commented on #20745
/sig testing
/remove-lifecycle rotten
/reopen

[2021-08-11 15:34] spiffxp commented on #21556
/sig testing
/milestone v1.22

[2021-08-11 15:35] spiffxp commented on #22304
/sig testing
/milestone v1.22

[2021-08-11 15:36] spiffxp commented on #19979
/remove-lifecycle rotten
/reopen
Job is currently failing https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-autoupdate-patch/1425473394320609280

[2021-08-11 15:37] spiffxp commented on #20659
/sig testing
/sig scalability
/reopen
/remove-lifecycle rotten
Not clear to me whether this was ever resolved

[2021-08-11 15:39] spiffxp commented on #20324
/sig network

[2021-08-11 15:40] spiffxp commented on #20324
/remove-lifecycle rotten
/reopen
Would be cool to see https://github.com/kubernetes/test-infra/pull/20864 picked back up and use this as a pilot to write a guide on migrating from bootstrap to pod-uytils

[2021-08-11 15:41] spiffxp commented on #22567
/sig testing
/milestone v1.22

[2021-08-11 15:43] spiffxp commented on #19642
/sig testing
/remove-lifecycle rotten
/reopen
AFAIK this is still an issue

[2021-08-11 15:45] spiffxp commented on #22432
/sig testing
/milestone v1.22

[2021-08-11 15:46] spiffxp commented on #22401
/milestone v1.22
/sig testing

[2021-08-11 15:46] spiffxp commented on #22378
/sig testing

[2021-08-11 15:47] spiffxp commented on #22301
/sig testing
/milestone v1.22

[2021-08-11 15:47] spiffxp commented on #22285
/sig testing
/milestone v1.22

[2021-08-11 15:47] spiffxp commented on #22259
/sig testing
/milestone v1.22

[2021-08-11 15:49] spiffxp commented on #19320
/remove-lifecycle rotten
As mentioned in the description, this would be a great way of addressing https://github.com/kubernetes/test-infra/issues/18600

[2021-08-11 15:51] spiffxp commented on #22447
/sig testing
/wg k8s-infra
/milestone v1.22

[2021-08-11 15:51] spiffxp commented on #22538
/sig testing
/milestone v1.22

[2021-08-11 15:52] spiffxp commented on #22540
/sig testing
/milestone v1.22

[2021-08-11 15:53] spiffxp commented on #22491
/sig testing
/milestone v1.22

[2021-08-11 15:53] spiffxp commented on #22456
/sig testing
/milestone v1.22

[2021-08-11 15:58] spiffxp commented on #19839
/reopen
/sig testing
/sig scalability
related:
- https://github.com/kubernetes/test-infra/issues/20650
- https://github.com/kubernetes/test-infra/issues/20886

[2021-08-11 15:59] spiffxp commented on #20327
/sig network

[2021-08-11 16:00] spiffxp commented on #17056
/sig testing
/remove-lifecycle rotten
/reopen

Agreed, but we lack contributor bandwidth to do so.  Are you interested in working on this @brian-avery?

[2021-08-11 16:01] spiffxp commented on #20627
/milestone v1.21

[2021-08-11 16:01] spiffxp commented on #22140
/milestone v1.22
/sig testing

[2021-08-11 16:02] spiffxp commented on #22253
/sig testing
/milestone v1.22

[2021-08-11 16:02] spiffxp commented on #22252
/sig testing
/milestone v1.22

[2021-08-11 16:03] spiffxp commented on #22139
/sig testing
/sig contributor-experience

[2021-08-11 16:03] spiffxp commented on #22147
/sig testing
/milestone v1.22

[2021-08-11 16:03] spiffxp commented on #22192
/sig node
/milestone v1.22

[2021-08-11 16:04] spiffxp commented on #22148
/sig testing
/milestone v1.22

[2021-08-11 16:04] spiffxp commented on #22132
/sig testing
/milestone v1.22

[2021-08-11 16:05] spiffxp commented on #20275
/sig testing
/remove-lifecycle stale
/milestone v1.22

[2021-08-11 16:06] spiffxp commented on #21797
/sig testing
/milestone v1.22

[2021-08-11 16:06] spiffxp commented on #21985
/sig testing
/milestone v1.22

[2021-08-11 16:07] spiffxp commented on #20095
/sig testing

[2021-08-11 16:08] spiffxp commented on #21736
/sig testing
/sig release
/sig node
/milestone v1.22

[2021-08-11 16:08] spiffxp commented on #21983
/sig testing
/milestone v1.22

[2021-08-11 16:08] spiffxp commented on #21987
/sig testing
/milestone v1.22

[2021-08-11 16:09] spiffxp commented on #21969
/sig testing
/milestone v1.22

[2021-08-11 16:10] spiffxp commented on #21633
/milestone v1.22

[2021-08-11 16:10] spiffxp commented on #21906
/sig testing
/milestone v1.22

[2021-08-11 16:11] endocrimes commented on #23131
/cc

[2021-08-11 16:11] spiffxp commented on #21563
/sig testing
/milestone v1.22

[2021-08-11 16:12] spiffxp commented on #21815
/sig testing
/milestone v1.22

[2021-08-11 16:12] spiffxp commented on #21655
/sig testing
/sig release
/milestone v1.22

[2021-08-11 16:13] spiffxp commented on #21869
/sig testing
/milestone v1.22

[2021-08-11 16:14] spiffxp commented on #21792
/sig testing
/milestone v1.22

[2021-08-11 16:14] spiffxp commented on #21684
/sig testing
/milestone v1.22

[2021-08-11 16:14] spiffxp commented on #21794
/sig testing
/milestone v1.22

[2021-08-11 16:15] spiffxp commented on #21714
/sig testing
/milestone v1.22

[2021-08-11 16:15] spiffxp commented on #21796
/sig testing
/milestone v1.22

[2021-08-11 16:15] spiffxp commented on #21793
/sig testing
/milestone v1.22

[2021-08-11 16:15] spiffxp commented on #21795
/sig testing
/milestone v1.22

[2021-08-11 16:16] spiffxp commented on #19366
/sig testing
/milestone v1.22

[2021-08-11 19:31] ehashman opened #23209 "Add email notifications to release-informing job ci-kubernetes-node-kubelet-features"
**What should be cleaned up or changed**:

Add the sig-node test failures email to ci-kubernetes-node-kubelet-features

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-features-master started failing and it only was noticed because I checked the dashboard manually.

**Provide any links for context**:

https://github.com/kubernetes/test-infra/blob/e9fc90a2f1b3a61787d2448744118073e3284b5f/conf

[2021-08-11 20:27] mmiranda96 commented on #23209
/assign

[2021-08-12 00:49] #23209 closed

[2021-08-12 08:37] fabriziopandini opened #23220 "House Keeping task for Kubernetes 1.22.0"
This issue track housekeeping task to be done when a new Kubernetes minor release is created.

- [x] Create/Update periodic and presubmit jobs for workload clusters upgrade and conformance https://github.com/kubernetes-sigs/cluster-api/issues/5060 https://github.com/kubernetes/test-infra/pull/23181
- [x] Update quick-start and e2e tests https://github.com/kubernetes-sigs/cluster-api/pull/5080

[2021-08-12 08:38] fabriziopandini commented on #23220
wrong repo 😄
/close

[2021-08-12 13:38] spiffxp commented on #16472
/sig testing
/remove-lifecycle rotten
/milestone v1.21

[2021-08-12 13:38] spiffxp commented on #21710
/sig node

[2021-08-12 13:57] aojea commented on #20324
@rikatz @knabben things changed since this comment, right ?

/help wanted

[2021-08-12 15:54] ehashman commented on #23202
/triage accepted

[2021-08-12 15:54] ehashman commented on #23202
/assign @SergeyKanzhelev

[2021-08-12 16:52] chaodaiG commented on #21729
/remove-lifecycle stale

[2021-08-12 16:53] chaodaiG commented on #21729
/remove-lifecycle rotten

[2021-08-12 19:18] ehashman opened #23231 "Node testgrid dashboard cleanup"
**What should be cleaned up or changed**:

As discussed in the [SIG Node CI Subproject meeting](https://docs.google.com/document/d/1fb-ugvgdSVIkkuJ388_nhp2pBTy_4HEVg5848Xy7n5U/edit#bookmark=id.9bmalcqmp7z) today and last week, our testgrid dashboards are a bit of a mess:

![Screenshot at 2021-08-12 12-14-04](https://user-images.githubusercontent.com/4706131/129255763-ba133c19-44fd-4e98-bea8-3b819c

[2021-08-12 19:24] ehashman opened #23232 "Evaluate and improve node test-infra resource utilization"
**What should be cleaned up or changed**:

We've received a few alerts recently on SIG Node project quota nearly being exhausted (e.g. https://kubernetes.slack.com/archives/C0BP8PW9G/p1628705424155600 https://kubernetes.slack.com/archives/C0BP8PW9G/p1628135137090800)

![Screenshot at 2021-08-12 12-22-55](https://user-images.githubusercontent.com/4706131/129256497-044dcf40-b8bf-4f6f-8db1-ac311ee60d

[2021-08-12 19:30] BenTheElder commented on #23232
FWIW as well resources available I would tag in WG/SIG k8s infra.
Also xref: https://github.com/kubernetes/k8s.io for projects (it's split, boskos definition is in test-infra IIRC but the projects themselves are there, like boskos is SIG Testing but the projects are ??)

[2021-08-12 20:13] SergeyKanzhelev commented on #23232
/assign

[2021-08-12 20:20] chaodaiG opened #23234 "Postsubmit prow jobs respect `always_run: false`"
**What would you like to be added**:

Postsubmit prow jobs can use `always_run: false` so that it's not triggered automatically

**Why is this needed**:

In the past, there was not a use case of this, as `/test` doesn't work with postsubmit jobs. Now that postsubmit jobs can be triggered by pubsub, there are cases where certain postsubmit jobs are expected to only be triggered by pubsub, and `alwa

[2021-08-12 20:20] chaodaiG commented on #23234
/good-first-issue
/help

[2021-08-12 20:20] chaodaiG commented on #23234
/sig testing

[2021-08-12 20:20] chaodaiG commented on #23234
/area prow

[2021-08-12 20:22] listx commented on #23234
/assign @listx

[2021-08-12 21:16] SergeyKanzhelev commented on #23202
/assign @mmiranda96

[2021-08-12 22:44] mmiranda96 commented on #23202
/assign

[2021-08-12 22:58] listx commented on #21330
/cc

[2021-08-12 22:59] listx commented on #21330
/cc @listx

[2021-08-13 00:04] listx commented on #21330
I've created a tentative PR here #23237

FWIW it passes locally. I don't know much about these tests so maybe I'm missing context but it appears to work so... please take a look?

[2021-08-13 05:04] matthyx commented on #23231
/assign
/assign @adisky

[2021-08-13 08:31] matthyx commented on #23231
Here is the list of all dashboards (sorted):
[code]

[2021-08-15 07:03] MadhavJivrajani commented on #22911
From what I could tell, the following use `<details>` blocks:
- `assign`
- `blockade`
- `bugzilla`
- `buildifier`
- `cat`
- `cla`
- `dco`
- `dog`
- `golint`
- `goose`
- `help`
- `invalidcommitmsg`
- `label`
- `lgtm`
- `lifecycle`
- `milestone`
- `override`
- `pony`
- `project`
- `releasenote`
- `retitle`
- `shrug`
- `sigmention`
- `skip`
- `trick-or-treat`
- `trigger`
- `updateconfig`
- `verify-ow

[2021-08-15 20:56] BenTheElder commented on #22911
As noted above there are a *lot* of these. I don't have a list, I'm looking for input on the concept.

I've never seen the unstyled <details> block anywhere else on the web myself and I can't say that I've seen any other GitHub automation use it. I suspect that without a demonstration or prior experience people probably just never read any of the contents which makes it somewhat less useful.

But

[2021-08-16 10:42] adisky commented on #23231
`sig-node-critical` has only one job containerd node conformance https://github.com/kubernetes/test-infra/blob/master/config/testgrids/kubernetes/sig-node/config.yaml#L22, is this critical tab needed now considering we have containerd mandatory presubmit job?

[2021-08-16 10:57] adisky commented on #23231
Also should we also think about removing windows jobs from `sig-node-containerd`  tab?
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-windows/windows-gce.yaml#L405

[2021-08-16 13:12] abitrolly opened #23255 "Link checker cleanup"
**What should be cleaned up or changed**:

https://github.com/kubernetes/kubernetes/blob/master/cmd/linkcheck/links.go was moved to https://github.com/kubernetes/test-infra/blob/master/linkcheck/links.go but there are still contributions that needs to be merged from the past code from the old location https://github.com/kubernetes/kubernetes/commits/master/cmd/linkcheck/links.go

Other candidates

[2021-08-16 13:27] abitrolly commented on #23255
/wg k8s-infra

[2021-08-16 14:19] matthyx commented on #23231
Agree with both... @ehashman wdyt?

[2021-08-17 00:29] parispittman commented on #11994
DRAFT:

"Congratulations on the move up on the contributor ladder within the Kubernetes project!

As a thank you for taking on this service, reach out to #sig-contribex for a special badge for upstream contributors. Check out the [role description](can we auto-link to the right section in community-membership.md depending on if they are going into reviewer or approver to the exact link - if not, j

[2021-08-17 01:01] kikisdeliveryservice commented on #11994
maybe `to make sure you are in line with the duties` -> `to confirm that you are able to fulfill the duties`?

[2021-08-17 11:06] aojea commented on #23135
/cc

[2021-08-17 19:01] spiffxp commented on #12296
/milestone v.122
This has been completed

[2021-08-17 19:01] spiffxp commented on #12296
/milestone v1.22
/close

[2021-08-17 19:02] #12296 closed

[2021-08-17 19:35] spiffxp commented on #11402
/milestone v1.23

[2021-08-17 19:44] spiffxp commented on #13371
/priority backlog
I don't have the bandwidth to scope this out into a help wanted issue, does anyone else?

[2021-08-17 21:43] spiffxp commented on #3349
/milestone v1.23

[2021-08-17 22:31] jprzychodzen opened #23283 "Malformed prowjobs.prow.k8s.io can break Prow cluster"
**What happened**:
I've applied on the cluster manually edited job. Plank was unable to unmarshal the object, and entered into the restart loop. It seems that CRD definition [1] is much more accepting than Go object[2].

[1] https://github.com/kubernetes/test-infra/blob/master/config/prow/cluster/starter-gcs.yaml#L153
[2] https://github.com/kubernetes/test-infra/blob/master/prow/apis/prowjobs/v1/t

[2021-08-17 22:41] jprzychodzen commented on #23283
/sig testing

[2021-08-17 22:50] alvaroaleman commented on #23283
Duplicate of https://github.com/kubernetes/test-infra/issues/14925
/close

[2021-08-17 22:50] alvaroaleman commented on #14925
/reopen

[2021-08-17 22:50] #23283 closed

[2021-08-17 22:51] alvaroaleman commented on #14925
/sig testing

[2021-08-17 23:16] #22657 closed

[2021-08-18 07:13] matthyx commented on #23231
/cc @SergeyKanzhelev

[2021-08-18 07:30] SergeyKanzhelev commented on #23231
the idea of critical tab was a stepping stone to promote to release blocking as far as I remember. It didin't work as was intended

I'd vote for removing windows from containerd. But let's ping @marosset on the PR

[2021-08-18 07:57] adisky commented on #23231
Thanks for letting us know about this!! Lets keep it as it is.

for windows, lets wait for @marosset feedback

[2021-08-18 08:44] matthyx commented on #23135
@BenTheElder do you need help on this?

[2021-08-18 13:44] spiffxp opened #23291 "boskos: node-e2e pool is getting exhausted"
**What happened**:

Alerts have been firing in #testing-ops more frequently over time:

**What you expected to happen**:

For boskos not to run out of capacity

**How to reproduce it (as minimally and precisely as possible)**:

Wait for the project to receive enough traffic

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

The node-e2e pool was an arbi

[2021-08-18 13:44] spiffxp commented on #23291
/milestone v1.23

[2021-08-18 13:48] spiffxp commented on #23291
Opting to grow the pool: https://github.com/kubernetes/test-infra/pull/23292

[2021-08-18 13:51] ameukam commented on #23291
Related : https://github.com/kubernetes/test-infra/issues/23232.

[2021-08-18 17:23] marosset commented on #23231
I'm OK with removing the windows tabs from `sig-node-containerd`.
We have Windows + containerd tests running as part of the SIG-Windows release informing dashboard https://testgrid.k8s.io/sig-windows-signal.

Since these are GCE jobs I'd like like either @pjh or @ibabou to ACK this

[2021-08-18 17:24] alvaroaleman commented on #22143
/assign

[2021-08-18 18:41] ibabou commented on #23231
I'm okay with removing the windows tabs from there. ACK. Having those as part of sig-windows-gce & sig-windows-*-release is sufficient.

[2021-08-18 20:01] #22143 closed

[2021-08-19 01:49] cjwagner opened #23304 "Hook git repo checkout failing: "GitHub apps authentication is not enabled""
All hook git cloning is failing currently. Here is an example error:
[code]

The problems seem to have started shortly after this Prow bump: https://github.com/kubernetes/test-infra/pull/23298
I'm working on a rollback.

[2021-08-19 01:55] cjwagner commented on #23304
@stevekuznetsov @alvaroaleman Based on the changed areas I'm suspicious of https://github.com/kubernetes/test-infra/pull/23284 and https://github.com/kubernetes/test-infra/pull/23294

[2021-08-19 02:01] alvaroaleman commented on #23304
@cjwagner must be #23294

[2021-08-19 07:24] dhiller commented on #22533
Yes, can confirm that it now works as expected. Thanks!

/close

[2021-08-19 07:24] #22533 closed

[2021-08-19 13:19] YuviGold opened #23311 "Clickable hyperlinks in Spyglass Build log view"
**What would you like to be added**:
Clickable hyperlinks for Spyglass Build log view.

**Why is this needed**:
Whenever a developer looks at the build logs, sometimes there are links that can be used for further debugging.
It would be faster if the user could click on the link and it would open it instead of copying it to the browser URL input.

for example for the following links:
[code]

[2021-08-19 13:21] YuviGold commented on #23311
/sig testing

[2021-08-19 14:14] stevekuznetsov commented on #23304
@cjwagner sorry!

[2021-08-19 16:41] howardjohn opened #23315 "Duplicate slack reports"
**What happened**:

All slack reports are now sent 2x

**What you expected to happen**:

Reports are sent 1x

**How to reproduce it (as minimally and precisely as possible)**:

Look at `#test-failures` in Istio slack I suppose..

**Please provide links to example occurrences, if any**:
![2021-19-08_09-40-28](https://user-images.githubusercontent.com/623453/130108861-e306858c-ca8d-4960-a3b6-f99b2f8

[2021-08-19 17:47] alvaroaleman commented on #23315
@howardjohn the last change to crier was made on aug 3 (1388b400445f81ceaf5deea18d2d9fa269f4623b). Do you by change maybe have multiple replicas of crier running? It doesn't use leader election

[2021-08-19 18:13] cjwagner commented on #23304
No worries, bugs happen. This did expose a gap in our alerting that we should fill.

[2021-08-19 20:40] cjwagner commented on #23315
There is only 1 replica and `--slack-workers=1`. The logs don't seem to show any duplicated reporting.  Example logs from reporter="slackreporter":

I 2021-08-19T17:28:20Z Will report state
I 2021-08-19T17:28:21Z Reported job(s), now will update pj(s).
I 2021-08-19T17:28:21Z Successfully updated report state on prowjob

[2021-08-19 22:28] BenTheElder commented on #23135
Sorry, I have not been able to work on this or much else
/unassign

[2021-08-20 01:00] pjh commented on #23231
+1, removing those Windows jobs from `sig-node-containerd` SGTM.

[2021-08-20 05:17] iamrsaravana opened #23321 "Prow issue:"
custom resource is not able to create it

my custom resource :

**"topic.yaml"**
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: my-pythontesttopic
  labels:
    strimzi.io/cluster: my-cluster
spec:
  partitions: 3
  replicas: 3
  config:
    retention.ms: 7200000
    segment.bytes: 1073741824

body = yaml.safe_load("topic.yaml")
client_app =client.AppsV1Api()
client_app.cr

[2021-08-20 05:19] iamrsaravana opened #23322 "Not able to deploy custom resources"
custom resource is not able to create it

my custom resource :

"topic.yaml"
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
name: my-pythontesttopic
labels:
strimzi.io/cluster: my-cluster
spec:
partitions: 3
replicas: 3
config:
retention.ms: 7200000
segment.bytes: 1073741824

body = yaml.safe_load("topic.yaml")
client_app =client.AppsV1Api()
client_app.create_namespaced_deployment

[2021-08-20 05:23] adisky commented on #23231
Thanks for the inputs from windows team, Now we have two items that need PR

- [ ] remove windows jobs from containerd dashboard https://testgrid.k8s.io/sig-node-containerd
e.g. remove containerd dashboard from here https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-windows/windows-gce.yaml#L405, This has to be done for other windows jobs in containerd dashboard as wel

[2021-08-20 07:01] Debanitrkl commented on #23231
I can work on with the PR regarding removing windows jobs from containerd dasboard

[2021-08-20 07:08] rayandas commented on #23231
Hey @adisky I can work on the second item (move double listed jobs to ensure they are filed in the right place).

[2021-08-20 07:36] adisky commented on #23231
Thanks @Debanitrkl @rayandas Thanks for taking this up
/assign @Debanitrkl @rayandas for the two items mentioned above

[2021-08-20 07:57] Debanitrkl commented on #23231
/assign

[2021-08-20 08:04] matthyx commented on #23135
/assign

[2021-08-20 08:13] rayandas commented on #23231
/assign

[2021-08-20 11:27] karuppiah7890 opened #23325 "Prow issue: Support /assign me"
I noticed someone tried to say `/assign me` and the bot didn't support it - https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2686#issuecomment-902138469

It's an interesting thing. `/assign me` sounds like saying a sentence and sounds intuitive too. It would be cool to support it if that's possible!

[2021-08-20 11:29] karuppiah7890 commented on #23325
I'm not sure what SIG this comes under. I just know this is related to the Prow Bot https://github.com/k8s-ci-robot , also because when I clicked on the repo link in this message https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2686#issuecomment-902138479 it took me here with the title `Prow issue` which I just retained

[2021-08-20 11:29] karuppiah7890 commented on #23325
SIG Testing maybe?

[2021-08-21 15:47] listx commented on #21330
/close

[2021-08-21 15:47] #21330 closed

[2021-08-21 16:51] listx commented on #3412
@MushuEE Should we close this?

[2021-08-22 02:32] alvaroaleman commented on #23321
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2021-08-22 02:32] #23321 closed

[2021-08-22 02:32] alvaroaleman commented on #23322
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2021-08-22 02:33] #23322 closed

[2021-08-23 05:12] MadhavJivrajani commented on #23325
/sig contributor-experience
/area github-management
/area prow/plugins

[2021-08-23 05:19] MadhavJivrajani commented on #23325
Allowing `/assign me` _might_ be an issue because there is a GitHub user by the name [`me`](https://github.com/me). `/assign` would assign someone in the following scenarios:
- The to-be-assignee comments `/assign` or `/assign assignee` or `/assign @assignee`
- Someone assigns the assignee by `/assign assignee` or `/assign @assignee` provided the assignee has commenting on the issue/is part of the

[2021-08-23 09:18] karuppiah7890 commented on #23325
Ah. Didn't know /assign username is supported too, apart from /assign @username . Cool ! I guess it's a tricky thing then. I'll close the issue

[2021-08-23 09:18] #23325 closed

[2021-08-23 10:26] matthyx commented on #23135
@BenTheElder could you extract the same log again... either I cannot access it or I don't know where to look.

[2021-08-23 17:32] YuviGold opened #23340 "Override branch protected required status checks"
**What would you like to be added**:
Allow using the `/override` command to required status checks.

**Why is this needed**:
Currently, the override plugin looks only on ongoing commit statuses.
In case there is a required status check configured that doesn't appear under the commit statuses then it's impossible to override it.

e.g.
In the following example, Jenkins is configured as a required st

[2021-08-23 17:44] YuviGold commented on #23340
/sig testing

[2021-08-23 18:31] BenTheElder commented on #23135
Seems to have wedged on the 12th with no logs since. I thought your change would be auto-deployed but it seems it has not been.

[2021-08-23 18:35] BenTheElder commented on #23135
I am pushing the changes manually with the makefile.

[2021-08-23 19:20] petr-muller commented on #23340
I don't think we should grow Prow's scope to manage non-Prow results (I [elaborated](https://github.com/kubernetes/test-infra/pull/23342#issuecomment-904049156) on the linked PR)

[2021-08-23 19:46] fejta commented on #23340
a) You can resolve this by using prow instead of jenkins to trigger jobs.
b) It seems like jenkins shoul be responsible for correctly reporting its status (including providing the ability to manually override)

[2021-08-23 21:18] BenTheElder commented on #23135
it's still inserting builds, we'll see how it goes ...

[2021-08-23 21:53] YuviGold commented on #23340
@fejta
a. Sure. But that's another discussion.
(1) Although it's optimal that all the jobs would be centralized; It's reasonable that a repository that interacts with different tools to have multiple contexts from different CI instances.
(2) For an ongoing project to transform fully to Prow takes a lot of time. This feature could allow this change to be more gradual.

b. Of course. But sometimes i

[2021-08-24 08:47] jprzychodzen commented on #14925
Adding information from #23283

**What happened**:
I've applied on the cluster manually edited job. Plank was unable to unmarshal the object, and entered into the restart loop. It seems that CRD definition [1] is much more accepting than Go object[2].

[1] https://github.com/kubernetes/test-infra/blob/master/config/prow/cluster/starter-gcs.yaml#L153
[2] https://github.com/kubernetes/test-infra/blo

[2021-08-24 11:44] wojtek-t commented on #17097
/remove-lifecycle stale

[2021-08-24 13:23] alvaroaleman commented on #14925
Yeah the CRD definition is basically schema free, so you can throw almost anything at the cluster which will then potentially fail unmarshaling. IMHO the solution for this issue is to generate a proper schema for the CRD, which I started in https://github.com/kubernetes/test-infra/pull/19522 but never finished

[2021-08-24 17:00] BenTheElder commented on #23135
[code]

[2021-08-24 19:23] matthyx commented on #23135
So this is the log of `bq load`? Is it possible to download the json file from gcloud?

[2021-08-24 19:50] BenTheElder commented on #23135
this is the log from the pod running kettle, I'll upload the json after I rename them since github won't accept .json 🤦

[2021-08-24 19:50] BenTheElder commented on #23135
[null__logs__2021-08-23T05-56.json.txt](https://github.com/kubernetes/test-infra/files/7041754/null__logs__2021-08-23T05-56.json.txt)

[2021-08-24 19:58] matthyx commented on #23135
Sorry I meant the `build_<table>.json.gz` that has "invalid" format... I must understand what's causing it (I assume it's big).

[2021-08-24 23:19] cjwagner opened #23359 "Tide status is incorrectly indicating that PRs are in the merge pool."
**What happened**:
Tide status context was green and indicated PR was in the merge pool even though the required GitHub approve review had not been provided.

**What you expected to happen**:
Tide status should correctly indicate that the PR is not in the merge pool.

**Please provide links to example occurrences, if any**:
https://github.com/istio/istio/pull/34847

![screenshot](https://files.sla

[2021-08-24 23:51] cjwagner commented on #23359
/sig testing

[2021-08-25 10:21] jkaniuk commented on #14925
@alvaroaleman - Is there any change for you to pick up that unfinished work? It is a pain that grows with number of custom Prow instances.

[2021-08-25 15:02] howardjohn commented on #23359
We are also seeing huge spikes in processing time since the PR: https://monitoring.prow.istio.io/d/d69a91f76d8110d3e72885ee5ce8038e/tide-dashboard?orgId=1&from=now-7d&to=now

Should we revert https://github.com/kubernetes/test-infra/pull/23296?

[2021-08-25 15:08] alvaroaleman commented on #23359
I find it extremely hard to imagine that #23296 caused a spike in processing time and would assume this is just an unfortunate correlation.

I am working on a PR to fix the issue you are seeing here right now. For the record, the only reason this happens is because there is an unresolved `// TODO(cjwagner)` that was never addressed.

[2021-08-25 15:14] alvaroaleman commented on #23359
In your graph I see that the processing time briefly increased on aug 18th (when #23296 was merged) but then decreased again, did you roll out and revert the same day or why do you think there is a huge increase in processing time since that PR?

[2021-08-26 06:04] kerthcet opened #23374 "testcase `pull-kubernetes-typecheck` failed more frequently"
**What happened**:
Hi, I'm not familiar with test-infra. But as the title described, I found `pull-kubernetes-typecheck` failed more frequently. I run `make verify WHAT="gofmt typecheck"` locally, it passed however.

**What you expected to happen**:
Tests success.

**How to reproduce it (as minimally and precisely as possible)**:
/test pull-kubernetes-typecheck

**Please provide links to example o

[2021-08-28 03:31] spiffxp commented on #21434
/remove-lifecycle rotten
/reopen
Still an issue

[2021-08-30 13:45] alvaroaleman commented on #14925
Updated #19522 . Main issue is the CRD is so big, it fails `kubectl apply -f` without `--server-side=true` because the annotation `kubectl` tries to add exceeds the max annotation size. If you have any thoughts forcing a cluster that can support that is ok or not, please comment them on the PR.

[2021-08-30 17:31] fejta commented on #21738
We can distinguish types of context errors:

[code]

[2021-08-30 17:32] fejta commented on #17855
Yes, still relevant. This feature was added without an easy migration plan and we don't need the feature so we just haven't ever migrated.

[2021-08-30 17:51] aramase opened #23404 "branch protection not being enabled for release branches"
**What happened**:
We recently merged a PR to unprotect `gh-pages` branch only for the secrets-store-csi-driver: https://github.com/kubernetes/test-infra/pull/23384. The `gh-pages` branch has successfully been unprotected.

However, we're seeing the branch protection is now not being applied to the new release branch (`release-0.3`) we created today. Does `protect: true` need to be explicitly set

[2021-08-30 17:51] aramase commented on #23404
cc @tam7t

[2021-08-30 17:56] aramase commented on #23404
/sig testing

[2021-08-30 18:05] aramase commented on #23404
There was just a delay for the branch protection rules to be propagated. Closing this issue now.

/close

[2021-08-30 18:05] #23404 closed

[2021-08-30 20:10] petr-muller opened #23407 "GH cache should prune its storage to avoid hitting limits"
**What would you like to be added**:

`ghcache` should provide option(s) to delete old / unneeded files from its storage to avoid accumulating too many files / too large files. The exact mechanism about what to specify (storage limit / file count limit / file age limit) does not matter too much, IMO: it is design space.

**Why is this needed**:

In our `ghproxy` deployment, we need to routinely pr

[2021-08-30 20:11] petr-muller commented on #23407
/sig testing

[2021-08-30 20:12] petr-muller commented on #23407
/area ghproxy

[2021-08-30 20:18] spiffxp commented on #13063
I've taken an alternate crack at this over in https://github.com/kubernetes/k8s.io/pull/2635

It doesn't get a much into the mechanics of Prow, but more all of the other things that prow interacts with

[2021-08-30 20:31] spiffxp commented on #13063
/assign
I'm not removing help as I could still use plenty of help in suggesting edits and better tools to use to document this stuff

[2021-08-31 00:28] howardjohn opened #23410 "Large number of files in artifacts leads to tide timeout"
**What happened**:

I loaded a prow results page for a job that had 45k files in the artifacts folder: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/34274/integ-ipv6-k8s-tests_istio/1423786671932968960. The page repeatedly fails with a 502 error code after 30s

**What you expected to happen**:

The page loads or gives a descriptive error message

**How to reproduce it (as minim

[2021-08-31 15:47] alvaroaleman commented on #23410
This isn't Tide this is Deck and the error doesn't come from Deck, it comes from your ingress controller. For better or worse, we don't have an internal timeout there.

[2021-08-31 15:47] alvaroaleman commented on #23410
/area prow
/kind support

[2021-08-31 17:18] PushkarJ opened #23421 "./hack/update-labels.sh failing"
**What happened**:
When updating the label the `./hack/update-labels` script fails. I tried to search for different errors but failed to find anything that fixes it. There is a chance that this is a local environment issue, but I am unsure what could be wrong. I have been able to run this script successfully before to update a label in the past in the same environment setup except an older python

[2021-08-31 17:18] mmiranda96 commented on #23202
/reopen

Job keeps failing with a new error:
[code]
Looks like image `gcr.io/k8s-testimages/gcb-docker-gcloud` does not include GCC, which is used to build NPD. What would be a proper Docker image replacement? Or, should we add GCC to the current image?

[2021-08-31 17:22] PushkarJ commented on #23421
/wg k8s-infra

[2021-08-31 17:39] SergeyKanzhelev commented on #23202
/reopen

[2021-08-31 17:39] SergeyKanzhelev commented on #23202
Maybe have another step that will `make build`? I'm not sure which image has the GCC, but there should definitely be one

[2021-08-31 19:51] alculquicondor opened #23425 "Testgrid for pull-kubernetes-unit doesn't load"
This URL: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit
fails with the message: `Internal Error: Refresh, and file an issue if problem persists. (Your table may be too big; consider lower `days_of_results` or `enable_test_methods = false`).`

I've also tried https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit&exclude-non-failed-tests=&enable_te

[2021-08-31 19:52] alculquicondor commented on #23425
/sig testing

[2021-08-31 19:59] spiffxp commented on #23421
/remove-wg k8s-infra
/sig testing

[2021-08-31 20:04] spiffxp commented on #23421
IIRC bazel is not the best at being hermetic with python

Do you get the same error if you `pip3 install -r requirements3.txt`?

[2021-08-31 20:06] spiffxp commented on #23421
FWIW I don't see this error, and my env is similar
[code]

[2021-08-31 22:59] YuviGold commented on #23311
Might be useable
https://soapbox.github.io/linkifyjs/

[2021-09-01 02:25] #23311 closed

[2021-09-01 21:11] #23340 closed

[2021-09-02 14:48] Rajalakshmi-Girish opened #23449 "Prow agents images for ppc64le throw "no such file or directory" error"
**What happened**:
There is a failure to bring up pod-utilty containers on the `ppc64le` architecture with the newly built images for `ppc64le`
ref: https://github.com/kubernetes/test-infra/pull/23293
Below is the error from Prow while the new ppc64le images are used for pod-utilities.

Image: `gcr.io/k8s-prow/initupload:v20210830-fcbb70627f-ppc64le`
[code]

**What you expected to happen**:
The po

[2021-09-02 15:07] mkumatag commented on #23449
I see a similar behaviour for the arm as well!
[code]

[2021-09-02 17:22] ehashman commented on #23291
Discussed previously at [SIG Node CI 08/12](https://docs.google.com/document/d/1fb-ugvgdSVIkkuJ388_nhp2pBTy_4HEVg5848Xy7n5U/edit#bookmark=id.f8kr3n4hgwdj).

/assign @SergeyKanzhelev

[2021-09-02 19:12] danmillwood commented on #23374
Incase this is related, I wanted to mention it here.  Im setting up a development environment for Kubernetes.  The development guide recommends a linux with at least 8Gb memory.  When I run 'make verify' the following 3 tests all fail with out of memory

hack/make-rules/../../hack/verify-typecheck-dockerless.sh
hack/make-rules/../../hack/verify-typecheck-providerless.sh
hack/make-rules/../../hack/

[2021-09-02 19:19] liggitt commented on #23374
reducing parallelism seems like a good short-term mitigation

[2021-09-02 19:25] spiffxp commented on #3349
/priority important-longterm

[2021-09-02 20:32] eddiezane commented on #9098
/assign

[2021-09-02 20:43] MushuEE opened #23459 "Kettle-Staging volume is full"
**What happened**:
`kettle-staging` deployment cannot run due to
[code]

The volume is
[code]

Defined in [pv-staging.yaml](https://github.com/kubernetes/test-infra/blob/master/kettle/pv-staging.yaml)

Accessed here: https://console.cloud.google.com/kubernetes/persistentvolumeclaim/us-west1-b/g8r/default/kettle-data-staging/details?project=k8s-gubernator

/area Kettle
/type cleanup

[2021-09-02 20:43] MushuEE commented on #23459
/assign

[2021-09-02 20:43] MushuEE commented on #23459
/sig testing

[2021-09-02 20:51] MushuEE commented on #23459
Increased claim size to match Prod 1000GB

https://console.cloud.google.com/compute/disksDetail/zones/us-west1-b/disks/kettle-data-staging?folder=&organizationId=&project=k8s-gubernator

Will make CL to update docs

[2021-09-02 22:16] spiffxp commented on #23291
I tried a PR to steal from gke projects and add to node but it didn't appear to get picked up by boskos. I think some manual intervention may be required

[2021-09-02 22:17] spiffxp commented on #23291
Honestly I would avoid using the node pool and go back to using the normal gce pool unless or until you find there's something special you need that merits a separate pool

[2021-09-03 01:35] kerthcet commented on #23374
have you tried

[2021-09-03 07:30] saschagrunert commented on #23374
kubernetes/kubernetes#104608 got merged, do we wanna wait for https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-typecheck if it looks greener in the near future?

[2021-09-03 17:41] alvaroaleman opened #23469 "Cherrypicker plugin: Find GitHub account and deploy"
We added manifests and config for the cherrypicker plugin in https://github.com/kubernetes/test-infra/pull/16329

However this is not quite enough because:
* It needs to use a different GitHub account, because Prow ignores events from itself
* It doesn't get deployed into the cluster yet

/cc @spiffxp @dims @vincepri

[2021-09-03 17:43] alvaroaleman commented on #23469
/sig testing

[2021-09-03 18:11] cjwagner commented on #23469
cc @mpherman2
/assign @droslean
The invalid config is spamming the Prow logs: `"Post "http://cherrypicker": dial tcp: lookup cherrypicker on 10.111.240.10:53: no such host"`

[2021-09-04 02:49] crn420 commented on #22201
https://patch-diff.githubusercontent.com/raw/automerge/automerge/pull/350.patch

[2021-09-04 19:10] #18826 closed

[2021-09-06 11:50] matthyx commented on #23135
... wait, looks like someone has fixed kettle?
[code]

[2021-09-07 14:01] chaodaiG commented on #14226
/remove-lifecycle frozen
/reopen

[2021-09-07 14:05] alvaroaleman commented on #14226
I am confused, didn't we add this in https://github.com/kubernetes/test-infra/pull/22711 ? (But I don't see the button anywhere)

[2021-09-07 14:20] chaodaiG commented on #14226
Oh right, I totally missed #22711, this should be closed.

I'm not seeing the button anywhere either, I'll open a bug instead

/close

[2021-09-07 14:20] #14226 closed

[2021-09-07 14:22] chaodaiG commented on #14226
nvm, I saw the button now https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-addons/103/pull-cluster-addons-unit-test/1435246255381942272

![Screen Shot 2021-09-07 at 7 21 14 AM](https://user-images.githubusercontent.com/45011425/132361109-6d84e84a-7ff5-4276-9957-c39c47c56c1f.png)

probably was checking old jobs before. sorry for the noise

[2021-09-07 14:41] YuviGold commented on #14226
@chaodaiG a full explanation about when the button is shown can be found on this comment
https://github.com/kubernetes/test-infra/pull/22711/files#r660960346

[2021-09-07 16:43] Ankit-Laddha opened #23498 "Conditional but Automatic Jobs are not executing for skip_if_only_changed & always_run config. Config type: presubmits"
**What happened**:
Conditional but Automatic Jobs are not executing for `skip_if_only_changed` & `always_run` config.
Config type: `presubmits`
Configuration:
[code]

**What you expected to happen**:
Job to run if any changes detected except for README.md file

**How to reproduce it (as minimally and precisely as possible)**:
- Create a job with above configuration.
- Make changes in repo for othe

[2021-09-07 16:47] Ankit-Laddha commented on #23498
/sig scheduling

[2021-09-07 16:48] stevekuznetsov commented on #23498
Your title specifies `always_run` but your config snippet does not use it - what do you mean?

[2021-09-07 16:49] Ankit-Laddha commented on #23498
@stevekuznetsov my bad. I have updated the config

[2021-09-07 16:59] MushuEE commented on #23459
Fixed by cleaning the data/ and clearing the staging database.

[2021-09-07 16:59] #23459 closed

[2021-09-07 17:09] MushuEE opened #23499 "[Kettle] - Kettle PubSub Topics can time out and auto delete."
**What happened**:
Due to kettle downtime, the staging instance PubSub topic was not being monitored and lapsed the 30day window causing the topic to auto delete. I made it a permanent topic so that this will not occur again.

/sig testing
/area kettle
/close

[2021-09-07 17:09] #23499 closed

[2021-09-07 17:09] MushuEE commented on #23499
/assign
/close

[2021-09-07 17:46] jdnurme commented on #23135
I reached out to @MushuEE and he expanded storage on prod, and reset the image based off a CL I staged with your recommended changes @matthyx. Currently experiencing authorization errors, but the dashboard has populated up to 9/3 so hopefully the fix stays good.

[2021-09-07 18:17] MushuEE commented on #23135
Just linked #23460, because kettle was dead I built this change from dirty and deployed to staging. Looked like no further breakage so I pushed to prod. Seemed to make it past the gcs crawl fine but hit permissions error in PubSub step. Likely due to IAM changes. I will create and issue soon for that.

[2021-09-07 19:35] matthyx commented on #23135
Awesome stuff, congrats to all!

Could you send me the logs to identify which lines are skipped because of being too long?
I will work on a follow up PR to truncate some parts and still have the results indexed... But I need will need some real world inputs for my tests.

[2021-09-08 11:48] Mini256 opened #23506 "Filter out useless parts in the commit message body by comment tags"
**What would you like to be added**:

I hope to be able to define a group of ``, `<!- -skip commit message end -->` These tags are used to mark which part in the PR body does not need to appear in the commit message.

**Why is this needed**:

When we use the squash method of tide to merge PR, we hope to use some of the information (such as release-note、releated-issue-number ) in the PR body, but n

[2021-09-08 11:50] Mini256 commented on #23506
/sig testing
/area prow
/area prow/tide

[2021-09-08 11:58] Mini256 commented on #23506
/cc alvaroaleman

[2021-09-08 17:29] spiffxp commented on #23469
I'm gonna make an external cherry picker bot user for this

[2021-09-08 17:29] spiffxp commented on #23469
/assign

[2021-09-08 17:34] spiffxp commented on #22099
/remove-lifecycle rotten

[2021-09-08 17:36] alvaroaleman commented on #23469
We added the deployment in #23471 and from the manifests and config it looks to me like it should work, however when trying it out it does not: https://github.com/kubernetes-sigs/controller-runtime/pull/1640#issuecomment-915432338

Could someone with access to the prow cluster check if its indeed deployed and running?

[2021-09-08 18:30] Ankit-Laddha commented on #23498
@stevekuznetsov is that reproducible at your end too?

[2021-09-08 21:46] #20606 closed

[2021-09-08 21:46] #21674 closed

[2021-09-08 23:47] #18388 closed

[2021-09-08 23:47] #21541 closed

[2021-09-08 23:52] cjwagner commented on #23469
The deployment exists, but there are no associated pods. The deployment status includes this:
[code]

It doesn't look like we actually need a service account so I made a PR to remove the reference: https://github.com/kubernetes/test-infra/pull/23517

[2021-09-09 06:07] Mini256 opened #23519 "blockade doesn't update the prompt when multiple files are modified through multiple commits"
**What happened**:

When I push multiple commits that included files that need to be blocked by `blockade`, the `blockade` plugin did not update the comment prompt, it only showed the blocked files that I modified in the first commit.

**What you expected to happen**:

`blockade` should update the comment prompt, prompting all involved files that need to be blocked.

**How to reproduce it (as mini

[2021-09-09 06:07] Mini256 commented on #23519
/area prow
/sig testing

[2021-09-09 14:08] alvaroaleman commented on #23469
It still doesn't appear to be working unfortunately: https://github.com/kubernetes-sigs/controller-runtime/pull/1640#issuecomment-916072276

[2021-09-09 15:02] chaodaiG opened #23527 "Post http://cherrypicker "connection refused""
Seeing repeating errors in prow log:

[code]

[2021-09-09 15:02] chaodaiG commented on #23527
/area prow
/cc @alvaroaleman

[2021-09-09 15:02] chaodaiG commented on #23527
/sig testing

[2021-09-09 15:49] alvaroaleman commented on #23527
What does the cherrypicker log say? I tried to find them in the cloud console with `jsonPayload.component: cherrypicker` but that didn't yield anything :(

[2021-09-09 15:49] chaodaiG commented on #21738
/assign

[2021-09-09 15:52] chaodaiG commented on #23527
`kubectl get pods` returns no cherrypick pods,  let me see what's going on

[2021-09-09 15:54] chaodaiG commented on #23527
ah
[code]

[2021-09-09 15:58] alvaroaleman commented on #23527
That is weird, supposively cole fixed that with https://github.com/kubernetes/test-infra/pull/23517

[2021-09-09 16:06] chaodaiG commented on #23527
yeah, this is weird, the change from the fix was clearly applied by https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-deploy-prow/1435773000631717888, not sure why it's still on old config

[2021-09-09 16:19] chaodaiG commented on #23527
https://github.com/kubernetes/kubernetes/issues/76367#issuecomment-481689160

[2021-09-09 16:19] chaodaiG commented on #23527
seems easy enough, I'll create a PR :)

[2021-09-09 17:00] #21738 closed

[2021-09-09 17:36] chaodaiG commented on #23527
The deployment was fixed, and cherrypicker still crashlooping:
[code]

[2021-09-09 18:24] alvaroaleman commented on #23527
It works: https://github.com/kubernetes-sigs/controller-runtime/pull/1640#issuecomment-916333626
/close

[2021-09-09 18:24] #23527 closed

[2021-09-09 19:06] spiffxp commented on #23469
Still working on getting an account for you, it was flagged by abuse prevention on creation, still working on getting that addressed

[2021-09-10 12:18] petr-muller commented on #23498
No, we do not see this behavior at all in OpenShift

[2021-09-10 13:50] chaodaiG opened #23538 "job_history warning: unrecognized directory name (expected int64)"
**What happened**:

Seen repeating warning logs:
[code]

**What you expected to happen**:

Checked on GCS, this is the only job that has a non-int64 build ID. The repeating of this alert dilute prow logs, and makes it harder looking for abnormal logs in prow for prow operator (aka oncall).

[2021-09-10 13:50] chaodaiG commented on #23538
/area prow
/sig testing

[2021-09-10 14:18] chaodaiG commented on #23538
/kind oncall-hotlist

[2021-09-10 16:03] #19839 closed

[2021-09-10 16:12] #23538 closed

[2021-09-10 16:18] chemikadze opened #23545 "Pubsub triggering pod needs restart after SA expiration"
**What happened**:

If SA key is expired, pubsub client dies silently, and pod needs manual restart after secret is updated:

[code]

**What you expected to happen**:

sub pod to pick up new key automatically without a restart.

**How to reproduce it (as minimally and precisely as possible)**:

Revoke a key used by sub container.

[2021-09-10 16:21] chemikadze commented on #23545
/sig testing

[2021-09-10 17:47] BenTheElder commented on #23425
The table is too big. See also: https://github.com/kubernetes/test-infra/issues/22744

Testgrid is not terribly useful for presubmits (they're too noisy with broken code etc. and there's no way to correlate that sort of thing)

Now that kettle is fixed, you should use https://go.k8s.io/triage to look at presubmit flakiness etc. instead. (or https://prow.k8s.io for a quick look at recent pass rate

[2021-09-10 17:48] BenTheElder commented on #22906
this renders in google chrome post #23135

[2021-09-10 17:49] BenTheElder commented on #23425
https://storage.googleapis.com/k8s-triage/index.html?pr=1&job=pull-kubernetes-unit

[2021-09-10 17:52] BenTheElder commented on #23135
sigh: https://testgrid.k8s.io/sig-testing-misc#metrics-kettle&width=5

I'm still not going to be able to look further at this, I'm doing a quick issue sweep but then I have meetings and some other work at $employer first.

It seems pretty clear that it's down again after a day of uptime.

[2021-09-10 17:54] matthyx commented on #23135
Yes I think @MushuEE is looking at some permission problems.

[2021-09-10 19:17] chaodaiG opened #23554 "Sidecar uploads logs while test is running"
**What would you like to be added**:

Sidecar streaming job logs to GCS while job is running, instead of uploading when the job is finished. This very likely can be achieved by https://cloud.google.com/storage/docs/composite-objects for GCS, not sure about S3

**Why is this needed**:

So that Deck can stream logs while job is running directly from GCS, instead of talking to the apiservers of build

[2021-09-10 19:17] chaodaiG commented on #23554
/sig testing
/area prow

[2021-09-10 20:03] #9098 closed

[2021-09-10 20:11] spiffxp commented on #13129
https://github.com/kubernetes/test-infra/pull/23555 adds READMEs for: bootstrap, gcloud-in-go

[2021-09-10 20:32] spiffxp commented on #23469
OK after the following PR's:
- https://github.com/kubernetes/k8s.io/pull/2690
- https://github.com/kubernetes/k8s.io/pull/2693
- https://github.com/kubernetes/test-infra/pull/23551
- https://github.com/kubernetes/k8s.io/pull/2702

I believe https://github.com/k8s-infra-cherrypick-robot will open PRs.  It's not yet an org member but I think this should be capable of working without that?

[2021-09-10 20:43] spiffxp commented on #23469
Not quite.  Found a typo, https://github.com/kubernetes/test-infra/pull/23556 should address

[2021-09-10 20:43] spiffxp commented on #23469
/priority important-soon
/milestone v1.23

[2021-09-10 21:32] spiffxp commented on #23469
Worked: https://github.com/kubernetes-sigs/controller-runtime/pull/1661

I'd like to get the bot added as an org member before calling this done, is there anything else you can think of @alvaroaleman ?

[2021-09-10 21:40] alvaroaleman commented on #23469
Nope, that should be it. Thanks a lot for picking this up!

[2021-09-10 21:51] chases2 commented on #10409
The backend can be run completely in open-source on kubernetes. https://github.com/GoogleCloudPlatform/testgrid/blob/master/standalone.md#setting-up-testgrid has specific details on this, with some examples.

[2021-09-11 18:11] YuviGold commented on #23062
The new retest help message works :)
![Screenshot from 2021-09-11 21-10-19](https://user-images.githubusercontent.com/29873449/132957253-ea3bf941-8469-4bb5-91fe-93a6b5758e62.png)

[2021-09-12 00:42] #23469 closed

[2021-09-13 03:19] Mini256 commented on #23506
@fejta @stevekuznetsov Hi, could you mind take a look at this issue? If this change is acceptable, I am happy to submit a PR for modification.

[2021-09-13 10:37] jprzychodzen commented on #14925
/reopen as #19522 is reverted in #23547

[2021-09-13 10:42] jprzychodzen commented on #14925
/reopen

[2021-09-13 16:52] spiffxp commented on #13063
I browsed through https://xosh.org/text-to-diagram/ to see if I could find a non-proprietary tool that could accomplish the same sort of thing I did with https://github.com/kubernetes/k8s.io/pull/2635

Ilograph looks neat, is paid for multiple users though:
- complex sample: https://app.ilograph.com/demo.ilograph.Ilograph/Request
- docs: https://www.ilograph.com/docs/
- pricing: https://www.ilogra

[2021-09-13 18:12] #10409 closed

[2021-09-14 02:39] Mini256 commented on #23506
Finally, it is planned to adopt other schemes, so close it.

/close

[2021-09-14 02:40] #23506 closed

[2021-09-14 15:58] noahkawasakigoogle commented on #22535
+1

[2021-09-14 17:50] spiffxp opened #23594 "prow: cmd/README.md missing a number of components"
There are many components in `prow/cmd` that aren't listed in `prow/cmd/README.md`

/kind bug
/kind documentation
/sig testing
/priority important-longterm
/milestone v1.23

[2021-09-14 17:51] spiffxp commented on #23594
/assign

[2021-09-14 20:59] #23594 closed

[2021-09-14 22:10] YuviGold commented on #23062
Code got reverted due to resources consumption on https://github.com/kubernetes/test-infra/pull/23599
Details can be viewed on the original PR.
I am going to see if this feature can be achieved using Prowjob annotation as @cjwagner suggested on https://github.com/kubernetes/test-infra/pull/23484#issuecomment-919412357

[2021-09-14 22:10] YuviGold commented on #23062
/reopen

[2021-09-14 22:27] spiffxp commented on #21137
/assign

[2021-09-14 22:27] spiffxp commented on #21137
/milestone v1.23

[2021-09-14 23:08] PushkarJ commented on #23421
This seems like a local issue as I ran it today and it worked without any change in my environment.

[2021-09-14 23:08] #23421 closed

[2021-09-14 23:49] nicolehanjing opened #23604 "prow post-submit job for the vSphere cloud provider project wasn't triggered"
**What happened**:
The prow post-submit job for the vSphere cloud provider project (https://github.com/kubernetes/cloud-provider-vsphere)  wasn't triggered so that the new image for v1.22 vSphere cloud provider didn't get pushed to GCR.
The tag that triggers the build happened about two weeks ago. Wondering if there was an incident or if some change was announced that we missed.

**What you expect

[2021-09-14 23:50] nicolehanjing commented on #23604
/sig testing

[2021-09-15 17:13] ehashman commented on #23291
@SergeyKanzhelev to follow up with @BenTheElder and team to look into getting rid of the separate node e2e pool.

[2021-09-15 19:03] cjwagner opened #23614 "Make Crier's GitHub reporting optionally report only a single failure summary comment after all jobs complete."
**What would you like to be added**:
Prow should support reporting only a single presubmit failure summary comment to PRs once all jobs complete rather than continually updating the comment as jobs complete. This is the behavior of the Gerrit reporter so there may be some existing code there that can be leveraged.

**Why is this needed**:
It seems that maintaining this comment is expensive. In par

[2021-09-15 19:04] cjwagner commented on #23614
/area prow prow/crier
/sig testing

[2021-09-15 20:48] chaodaiG opened #23619 "Prow/sub: retry prowjob creation when failure is related to apiserver unreachable"
**What would you like to be added**:

AT

**Why is this needed**:

Prow/sub component creates prowjobs by reaching directly to apiserver, which might fail when apiserver is unreachable, for example when the apiserver is upgrading. Add exponential retry to improve the reliability

[2021-09-15 20:48] chaodaiG commented on #23619
/area prow
/area pubsub

[2021-09-15 20:48] chaodaiG commented on #23619
/area prow/pubsub
/sig testing

[2021-09-15 23:37] evankanderson commented on #10065
FWIW, I've implemented a peribolos -> OWNERS_ALIASES bit of automation in Knative: https://github.com/knative/community/tree/main/mechanics/tools/gen-aliases, but having native GitHub teams support would be preferable, because we still need to sync the OWNERS_ALIASES to about 60-80 repos.

[2021-09-16 06:13] jnbhavya commented on #22116
@SeananXu any update on this ?

[2021-09-16 11:04] SeananXu commented on #22116
nothing, thanks

[2021-09-16 11:04] SeananXu commented on #22116
nothing, thanks

[2021-09-16 16:20] chaodaiG commented on #10423
I assume that the gh apps user name is different from previous prow bot account, so during the transition period prow might do something inconsistent, for example it will not find previous existing bot comment and comment something new.

Is there any other side effect that you have observed? In another word, if we want to migrate one of our prow instance over, what should we communicate with our u

[2021-09-16 16:24] alvaroaleman commented on #10423
Yes, that is correct, e.G. `approve` will leave a stale comment behind on existing PRs.

No, we actually did this relatively silently (and gradually through the `--github-enabled/disabled-org/repo` settings as we are the first user and it took some time until all the org owners installed the app).

[2021-09-16 17:31] #23129 closed

[2021-09-16 17:32] domechn opened #23637 "Breaking changes exist for users using github enterprise server with a lower version"
**What happened**:

I am currently using Github Enterprise Server ( version `2.21.5` )

After prow is upgraded to the latest version (`v20210915-80100106cc`), `tide` cannot work properly.

Check the log and find the following error.

[code]

Here is the error message `Something went wrong while executing your query. Please include 23bd5554-30b2-47c0-9570-0d87752e0be9 when reporting this issue.`

A

[2021-09-16 17:33] domechn commented on #23637
/sig testing
/area prow

[2021-09-16 17:33] domechn commented on #23637
/area prow/tide

[2021-09-16 18:34] alvaroaleman commented on #23637
@domechn your version of github enterprise went out of support in june: https://docs.github.com/en/enterprise-server@2.21/admin/release-notes#2.21.23

The latest version of the 2.X tree, 2.22 (which goes out of support on September 23th) has the property, you can see it when searching for `reviewDecision` here: https://docs.github.com/en/enterprise-server@2.22/graphql/overview/explorer

[2021-09-16 20:23] #14925 closed

[2021-09-16 22:18] mmiranda96 opened #23642 "Remove non-alpha features from job ci-kubernetes-e2e-gci-gce-alpha-features"
**What should be cleaned up or changed**:
Jobs [`ci-kubernetes-e2e-gci-gce-alpha-features`](https://github.com/kubernetes/test-infra/blob/c22abc29319ca84054c05b326abf41a722c10d49/config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml#L584) and [`pull-kubernetes-e2e-gce-alpha-features`](https://github.com/kubernetes/test-infra/blob/c22abc29319ca84054c05b326abf41a722c10d49/config/jobs/kubernetes

[2021-09-16 22:21] mmiranda96 commented on #23642
/sig api-machinery
/sig apps
/sig auth
/sig node
/sig scheduling
/sig service-catalog
/sig storage

[2021-09-16 22:22] mmiranda96 commented on #23642
Additionally, we could try to onboard jobs listed on https://github.com/kubernetes/kubernetes/issues/104556

[2021-09-16 22:27] mmiranda96 commented on #23642
/priority backlog

[2021-09-17 02:04] domechn commented on #23637
Thanks for your reply, i've learned
/close

[2021-09-17 02:04] #23637 closed

[2021-09-17 13:53] #23062 closed

[2021-09-17 15:11] #10423 closed

[2021-09-17 18:59] #23407 closed

[2021-09-17 20:08] spiffxp commented on #13129
https://github.com/kubernetes/test-infra/pull/23656 adds a README for: gcb-docker-gcloud

[2021-09-20 10:27] marseel commented on #22380
/remove-lifecycle stale

[2021-09-20 10:34] RinkiyaKeDad commented on #18939
Hey folks, I was trying to deploy prow recently and ran into the same problem. Is the `tackle` utility completely broken right now? If yes should we update the docs to remove those bits?

/reopen

[2021-09-20 10:35] RinkiyaKeDad commented on #18939
/remove-lifecycle rotten

[2021-09-20 10:35] RinkiyaKeDad commented on #18939
/sig testing

[2021-09-20 16:51] petr-muller commented on #23498
I'd inspect the logs of the `trigger` plugin of hook

[2021-09-20 20:20] chases2 opened #23671 "`push-prow` is flaky"
The [sig-testing push-prow job](https://testgrid.k8s.io/sig-testing-prow#push-prow) is flaky: it will occasionally time out pushing its images ([log](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-push-prow/1440009914314395648)), but then succeed again a little later. It seems to be happening regularly about once a day.

Its alert configuration is tight ([any failure sends an

[2021-09-20 20:21] chases2 commented on #23671
/sig testing

[2021-09-20 20:59] mmiranda96 commented on #23642
/help
/good-first-issue

This might require some discussion, but the required changes are relatively easy.

[2021-09-20 22:14] spiffxp commented on #22721
What is left to do before we can call this done?

[2021-09-20 22:57] mrbobbytables commented on #22721
This is what I see at the moment as the current plan of action (please update if there is something else that should be done)
1) Enable EasyCLA as non-blocking org wide (accompanied by comms, was thinking of this/next week)
2) Assuming no issues are reported, we [pick a date not near any important milestone](https://www.kubernetes.dev/resources/release/#tldr) to coordinate the cut-over date. (thin

[2021-09-21 18:19] chaodaiG opened #23692 "Prow support Google Cloud Build as a runtime"
**What would you like to be added**:

A new runtime for prow: Google Cloud Build

**Why is this needed**:

Provide a way for people to define a prowjob that results in creating a Google Cloud Build build instead of a pod.
This allows a team to schedule prow workloads that:

- run in their project without maintaining a GKE cluster
- securely create docker images

Designed as of: https://docs.google

[2021-09-21 18:20] chaodaiG commented on #23692
/area prow
/sig testing

[2021-09-21 18:21] chaodaiG commented on #23692
/assign
/cc @cjwagner @listx @mpherman2

[2021-09-21 21:51] spiffxp commented on #20652
FYI @chaodaiG this might be worth keeping in mind given the GCB design proposal you presented at today's SIG Testing meeting

[2021-09-21 22:18] BenTheElder commented on #23135
xref: https://github.com/kubernetes/test-infra/pull/23678

[2021-09-21 23:08] cjwagner commented on #23135
I don't have full context on the issues with Kettle, but I'm switching the credentials to use Workload Identity rather than service account keys:
- The kettle staging and prod deployments have been switched and seem to be working.
- I've set up a KSA for the `metrics-kettle` job to use and confirmed that the KSA properly authenticates to the GSA that the job has been using. This PR switches the jo

[2021-09-22 02:44] Mini256 opened #23701 "Add issue number field to pull request for tide"
**What would you like to be added**:

Add issue number filed to the Pull Request graphql object for tide.

- One of the methods is to add `closingIssuesReference` field to `PullRequest` for tide, but it only get the issue number with close semantics.

- Another method is using regular expressions to extract the issue number from the PR in advance and put it into the `PullRequest` Object in the tid

[2021-09-22 02:47] Mini256 commented on #23701
/sig testing

[2021-09-22 05:45] rayandas commented on #23642
Hey @mmiranda96 I am totally new here. Can I take this up? Will look into what all is required and come up with questions.

[2021-09-22 06:36] Mini256 commented on #23701
Maybe it is not a good idea to rely on the robot to add the issue number to the commit message.

[2021-09-22 16:23] mmiranda96 commented on #23642
Sure @rayandas, feel free to take it and ask anything. Thanks!

[2021-09-22 18:02] rayandas commented on #23642
@mmiranda96 Thanks.

[2021-09-22 20:19] midnightconman commented on #18900
I hate to hop on a closed issue, but does anyone use the artifacts option with aws and s3? I looked around for some opensource s3 "directory style" viewers and I couldn't find anything.

[2021-09-23 14:12] Colstuwjx commented on #15224
Hi @hvaara I do have this requirement. Think about the following scenario:

1. we're using gitlab-flow to manage development flow, and we have two branches `master` and `release`;
2. developers check out a new branch from the master branch, and implement some features and take PR to merge into master;
3. while the PR get merged, it would trigger a CD to staging environment, which is using the mast

[2021-09-23 17:20] michelle192837 opened #23720 "TestGrid updates stopped"
From digging around on random dashboards, looks like TestGrid updates on testgrid.k8s.io stopped around midnight-ish on 09-22.

This doesn't seem to correspond with a TestGrid release (latest push was 09-10 image, https://github.com/GoogleCloudPlatform/testgrid/pull/685). Logs seem to indicate that the updater is up and scheduling updates, but isn't getting around to writing any state.

Investigat

[2021-09-23 17:23] michelle192837 commented on #23720
/sig testing

We have a lot of CrashLoopBackOff errors for the updater specifically, but I think other components are running just fine.

[2021-09-23 17:56] mrbobbytables commented on #22721
After discussion in today's GitHub management meeting, the potential problems between `/easycla` and `/check-cla` is a non-issue, the cla check should be fired automatically on any comment or update to the PR. The plan will now be:

1) Enable EasyCLA as non-blocking org wide next week (accompanied by comms)
2) Assuming no issues are reported, we cut-over after code freeze (Nov 16th). This means up

[2021-09-23 22:00] amwat opened #23727 "Keep kubekins-e2e experimental up-to-date with kubetest2"
**What would you like to be added**:
A mechanism to ensure jobs using `kubekins-e2e-...-experimental` have the latest kubetest2 binaries.

**Why is this needed**:
Currently kubetest2 binaries are baked into the experimental kubekins image through variants: https://github.com/kubernetes/test-infra/blob/3c3d64f398a5e4f324200d25183c98a4bfa842ac/images/kubekins-e2e/variants.yaml#L8
https://github.com/

[2021-09-23 22:01] amwat commented on #23727
/sig testing

[2021-09-23 23:39] michelle192837 commented on #23720
With resource adjustments for deployments (thanks @fejta !), looks like the updater's caught up and groups are updated (from a few random checks). Think we can call this fixed now.

[2021-09-23 23:39] #23720 closed

[2021-09-24 00:06] stbenjam commented on #23720
TY @michelle192837 and @fejta !!

[2021-09-24 02:18] Colstuwjx opened #23732 "Prow: branchcleaner should support filter with source branch"
**What would you like to be added**:
As [#15224-comment](https://github.com/kubernetes/test-infra/issues/15224#issuecomment-925854223) said, I wish prow could support filter with source branch, if the source branch is listed in the filter list, prow would not delete the source branch even it's merged.

**Why is this needed**:
For some git workflow strategy, we don't want to cleanup the merged bran

[2021-09-24 02:19] Colstuwjx commented on #15224
Since this issue has been closed, I'd like to file a new issue #23732, let's talk in new place.

[2021-09-24 02:59] dims commented on #23727
@amwat i like 3 as it is explicit and not hidden. also because we have had success with this pattern with `kind` already.

[2021-09-24 04:03] Colstuwjx commented on #23732
How about adding a config for branchcleaner plugin, and allows set some config options like `ProtectedBranches`, branches inside the `ProtectedBranches` would not be deleted, even if it already got merged into the target branch by a PR.

What do you think?  @hvaara

[2021-09-24 04:23] listx commented on #22764
@chaodaiG I guess this issue can be closed?

[2021-09-24 04:44] chaodaiG commented on #22764
yes
/close

[2021-09-24 04:44] #22764 closed

[2021-09-24 17:25] tam7t opened #23741 "Test failures starting 22 September due to network timeouts"
**What happened**:

On our around 22 September we started seeing CI failures in prow:

Example log from error:

[code]

Ref run: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-s[…]e-csi-driver-image-scan/1441072726373568512/build-log.txt

**What you expected to happen**:

Successful builds.

**How to reproduce it (as minimally and precisely as possible)**:

[2021-09-24 17:27] randomvariable commented on #23741
@alvaroaleman reports that setting TCP MSS clamping worksaround the issue, i.e. to execute once in the pod:

`iptables -t mangle -A POSTROUTING -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu`

This suggests an issue with nested Docker networking. Have there been any host or CNI changes on the cluster?

If not, it might make sense to set the clamping at the host level?

/sig k8s-infra

[2021-09-24 17:34] alvaroaleman commented on #23741
That is an educated but unverified guess based on prior failures with similar symptoms, fwiw.

[2021-09-24 17:34] cjwagner commented on #23671
This has been effectively mitigated by running the job on a dedicated node: https://github.com/kubernetes/test-infra/pull/23549

[2021-09-24 17:34] cjwagner commented on #23671
/close

[2021-09-24 17:34] #23671 closed

[2021-09-24 17:35] spiffxp commented on #20652
I see this is happening all over the place in kubernetes/release, e.g. https://github.com/kubernetes/release/pull/2266

New theory: `gcloud builds submit` streams logs by default.  I suspect behind the scenes it's doing periodic polling at a high enough rate that N gets/s per `gcloud builds submit` X M PRs x O cloudbuilds > 750/s

We could update the builder to `gcloud builds submit --async`, peri

[2021-09-24 23:30] cjwagner commented on #23135
Removing the service account env var broke the job because there were args for `bootstrap.py` specified in two places...
I migrated the job to pod utils and its working again and now using WI: https://github.com/kubernetes/test-infra/pull/23748

[2021-09-24 23:44] #21774 closed

[2021-09-25 00:13] BenTheElder commented on #23135
Thank you! I see https://go.k8s.io/triage is loading again with recent results and the kettle jobs in https://testgrid.k8s.io/sig-testing-misc#Summary&width=5 mostly look good.

[2021-09-25 19:55] matthyx commented on #23135
Good work folks :-)
Lemme know if I can help somehow...

[2021-09-26 19:46] claudiubelu commented on #20884
The issue has been resolved some time ago. We have promoted httpd images since this was open, and the last job was green as well: https://testgrid.k8s.io/sig-testing-images#post-kubernetes-push-e2e-httpd-test-images

/close

[2021-09-26 19:46] #20884 closed

[2021-09-26 19:48] claudiubelu commented on #19436
This is no longer an issue. We can directly access the job logs by going to the job artifacts: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-agnhost-test-images/1440368845050089472

/close

[2021-09-26 19:48] #19436 closed

[2021-09-27 03:13] andyzhangx commented on #23741
shall we add the workaround `iptables -t mangle -A POSTROUTING -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu` into `runner.sh` script directly? I worked out a PR here: https://github.com/kubernetes/test-infra/pull/23757

[2021-09-27 07:09] Rajalakshmi-Girish commented on #23449
@mkumatag any update on this? Please see if we need to tag someone to get attention :)

[2021-09-27 07:21] mkumatag commented on #23449
no updates from me,! we need a bazel expert here! :) @BenTheElder @spiffxp @fejta any help is appreciated :)

[2021-09-27 09:26] randomvariable commented on #23741
I think that's preferable to every sub project owner doing it themselves, and centralising the networking config so if it ever needs to be changed can be done in one place is good.

I mostly didn't know enough about test-infra to know where to do that, so thanks for the PR.

[2021-09-27 15:14] noahkawasakigoogle opened #23767 "Prow robot should print unique trigger commands for when trigger and rerun_command apply to multiple jobs"
**What would you like to be added**:

I would like the list of `/test` commands to be unique when people use the following parameters in a way such that one command can trigger multiple jobs. This is for the use-case whereby people use "sliced" jobs by some index because the tests are split into buckets for parallelism.

Here is an example where Amazon Athena tests are slow, and thus we run them o

[2021-09-27 16:02] Stono commented on #23741
Hi all
We've been debugging this on our cluster too (unrelated to the kubernetes project).  Same failures since the 24th.
The interesting part here is all failures we experienced were to services hosted by fastly.

We mitigated this by setting `--mtu` on `dind` containers to `1440`.

![image](https://user-images.githubusercontent.com/1486729/134944142-a827f69a-4fc5-4304-9de0-166506044135.png)

You

[2021-09-27 16:17] spiffxp commented on #21137
Thanks to the following PRs:
- https://github.com/kubernetes/test-infra/pull/23602
- https://github.com/kubernetes/test-infra/pull/23610
- https://github.com/kubernetes/org/pull/2979
- https://github.com/kubernetes/test-infra/pull/23644
- https://github.com/kubernetes/test-infra/pull/23736

We now autobump job images and automatically deploy the change twice a day (if there are any changes to depl

[2021-09-27 16:25] spiffxp commented on #21137
/close
Announcement: https://groups.google.com/g/kubernetes-dev/c/aBzQQw8KgUU/m/wnOtP5vjDAAJ

[2021-09-27 16:25] #21137 closed

[2021-09-27 16:27] alvaroaleman commented on #23741
Yeah it is all fastly and happens because they block ICMP so path mtu discovery can't work. Reducing the MTU might help if you reduce it low enough but is always a guess. Using the clamping is more reliable there bot obviously only works for TCP (which I think is sufficient here). The oldest report of this issue I am aware of is https://github.com/gliderlabs/docker-alpine/issues/307

From an acade

[2021-09-27 16:29] Stono commented on #23741
@alvaroaleman that was my question too, we're on GKE.  We observed it in one zone on Friday (europe-west4-b), and excluded that zone from our egress.

Over the weekend it impacted west4-a and west4-c as well so certainly feels like a core GCP networking rollout per-zone.

We have an open ticket with Google but haven't had any confirmation yet...

[2021-09-27 16:32] BenTheElder commented on #23135
I think we can close this out now with nearly a week of uptime, clearly Kettle still needs work to avoid day-long bringups but it is back up and running 🎉

Thanks all!

[2021-09-27 16:32] #23135 closed

[2021-09-27 17:58] Saykar commented on #23741
Google has confirmed the issue in the support case:
```After reviewing the information you provided, we believe that you may be affected by a known issue: We have identified a Networking connecting issue impacting the GKE Docker workload. This is a high priority issue that we're working to resolve as soon as possible. Some customers may be experiencing a connection failure in Docker workflow to Fa

[2021-09-27 18:15] theaugy commented on #23545
To add to this: even transitory issues, like an unreachable googleapis, can put the sub pod into this state:

[code]

Just like SA key expiration, the sub pod needs to be restarted when this happens

[2021-09-27 19:31] spiffxp commented on #23291
I'm getting the ball rolling on migrating away from the node pool with https://github.com/kubernetes/test-infra/pull/23777

[2021-09-27 19:46] spiffxp opened #23778 "Decommission gke-project-pool"
**What should be cleaned up or changed**:
We shouldn't be using gke-specific projects to run prowjobs for kubernetes.  We have mostly stopped running jobs that require these, it's time to decommission the pool and identify whether jobs that still use these projects can use gce-project or should be running elsewhere.

**Provide any links for context**:
Related to:
- https://github.com/kubernetes/te

[2021-09-27 20:26] ehashman commented on #23135
thank you!!!

[2021-09-27 21:14] CecileRobertMichon commented on #23741
It was added to https://status.cloud.google.com/ as well

[2021-09-27 21:49] spiffxp commented on #23692
/priority important-longterm

[2021-09-27 21:51] spiffxp commented on #20672
The numbers remain basically unchanged since July
[code]

[2021-09-28 17:09] chaodaiG opened #23796 "Identifying build system for replacing bazel in test-infra"
**What would you like to be added**:

Identifying another build system for replacing bazel in test-infra.

**Why is this needed**:

Test-infra repo is a Go centric repo, as of today 77.8% of the source code in this repo is Go, followed by 7.1% of python. Bazel as current build tool, however isn't working really great with Golang, and can sometimes delay the development (for example https://github.

[2021-09-28 17:09] chaodaiG commented on #23796
/sig testing

[2021-09-28 17:11] chaodaiG commented on #23796
@fejta @spiffxp @alvaroaleman @stevekuznetsov @cjwagner for awareness

[2021-09-28 17:37] alvaroaleman commented on #23796
Love the idea of getting rid of bazel :) Is the idea here to just replace bazels go build and test or is it to replace bazel entirely?

[2021-09-28 17:39] spiffxp commented on #23796
FWIW, some of the @kubernetes/release-engineering folks have been experimenting with `mage` as an alternative to `make`: https://magefile.org/

[2021-09-28 17:40] chaodaiG commented on #23796
I'm inclined to replace entirely to avoid maintaining two systems

[2021-09-28 17:48] spiffxp commented on #23291
/help

Steps to close this out should be pretty straightforward:
- [ ] remove `--gcp-project-type=node-e2e-project` from any job configs that use it
- [ ] make sure the resulting jobs aren't broken (or at least, behaving no differently than before)
- [ ] once no more jobs use it, remove the `node-e2e-project` pool from `config/prow/cluster/boskos-resources.yaml`

I would recommend not doing everyt

[2021-09-28 17:53] alvaroaleman commented on #23796
Ah ok, then this would probably mean setting something up in parallel for now and gradually migrating components over?

We have a bunch of binaries that are just go, those should be relatively easy. Then there is stuff like Deck, which uses typescript and go, that will be a bit more difficult. I don't know the python components, so not sure how difficult or not that is going to be.

There was at s

[2021-09-28 18:32] mikesparr commented on #23741
I'm told there is a fix scheduled for Thursday.

Current suggested workaround is add an initContainer to the Docker in Docker workload like this:
[code]

[2021-09-28 23:23] chaodaiG commented on #23796
My local `go test` is normally pretty fast, so I'm not so worried about Go toolchains. + @BenTheElder here for a lazy answer for k/k solution

[2021-09-28 23:31] #23614 closed

[2021-09-29 00:30] spiffxp commented on #23741
/reopen
Holding this open until the Google Cloud incident is resolved.

Current status:
- https://status.cloud.google.com/incidents/QSirAFiyN5yMeeE6GNxq latest update claims Thursday for an ETA on a fix
- https://github.com/kubernetes/test-infra/pull/23757 put a workaround into `runner.sh` which eventually found its way into the `gcr.io/k8s-staging-test-infra/bootstrap` and `gcr.io/k8s-staging-tes

[2021-09-29 00:31] spiffxp commented on #23741
/milestone v1.23
/remove-sig k8s-infra
/sig testing
this is impacting kubernetes testing and happens on more than just infra managed by k8s-infra

/priority important-soon
Would have set to critical-urgent earlier given the number of subprojects that were blocked on this, but now that we have a workaround in place...

[2021-09-29 01:01] spiffxp commented on #20652
Screenshot from https://console.cloud.google.com/apis/api/cloudbuild.googleapis.com/quotas?project=k8s-infra-prow-build-trusted&pageState=(%22duration%22:(%22groupValue%22:%22P30D%22,%22customValue%22:null)). Not entirely sure who can see this page, but members of k8s-infra-prow-oncall@kubernetes.io should be able to at least.

![Screen Shot 2021-09-28 at 5 59 37 PM](https://user-images.githubuser

[2021-09-29 05:03] BenTheElder commented on #23796
We've not wound up pushing forward with any go cache work for k/k because the slowest thing we do with go by far is run unit tests, and go (and bazel!) will not cache with the race detector enabled, and we decided that we prefer to have the race detector as it catches real bugs ...

For other things the speed difference is negligible enough due to thinks like the overhead of downloading WORKSPACE.

[2021-09-29 12:07] mborsz commented on #21495
I'm not sure if this can be caused by multiple dashboards in "testgrid-dashboards".

The code seems (at least try) to handle multiple dashboard case properly:
https://github.com/kubernetes/test-infra/blob/f33bfb0fbe7dac6c71a8c1f11e170ad11bf5da16/testgrid/cmd/configurator/prow.go#L225-L230

[2021-09-29 12:31] mborsz commented on #21495
I checked a content of testgrid config (bazel-bin/config/tests/testgrids/testconf.pb) and as expected, the alertoptions are set only in sig-release-master-blocking (for gce-cos-master-scalability-100).

Also we receive multiple alerts for e.g. kubemark-5000 which is used only in a single dashboard:

https://github.com/kubernetes/test-infra/blob/1e75ea30daf14f7d49b4a4e3743b53845f20d5ba/config/jobs/

[2021-09-29 14:56] chaodaiG commented on #23796
Thank you @BenTheElder !

Took a look at both [kind](https://github.com/kubernetes-sigs/kind/blob/8efc3707674fc5f2bcb85bc623ddc5639c992eea/Makefile) and  [k/k](https://github.com/kubernetes/kubernetes/blob/bceefb7a86cfcfe040deabdce6f0955757deb80f/Makefile), my feeling is that k/k is more complex than what we need, and the build rules for kind seem fit pretty well with our use case for Go.

[2021-09-29 15:33] xx720527 opened #23816 "test"
- [ ] test
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2021-09-29 15:57] spiffxp commented on #21296
/remove-lifecycle stale
Kettle is back up and running so this should be pretty doable

[2021-09-29 16:40] spiffxp commented on #23778
Inspecting output of `ripgrep -l gke config/jobs` I believe the remaining offending jobs are:
- ci-kubernetes-e2e-gke-canary
- application-periodic-default-gke
- ci-kustomize-periodic-default-gke
- pull-sig-storage-local-static-provisioner-e2e-gke
- ci-sig-storage-local-static-provisioner-master-gke-default

Jobs I'm less certain about:
- pull-kubetest2-gke-up-down-singlecluster
- pull-kubetest2-g

[2021-09-29 16:56] spiffxp commented on #23778
Another way of surveying which jobs are actually using the projects
[code]
[code]

[2021-09-29 17:11] spiffxp commented on #23778
Jobs to decomission or replace with alternatives:
- [ ] ci-kubernetes-e2e-gke-canary: suggest removing, there is a gce alternative
- [ ] application-periodic-default-gke: https://github.com/kubernetes-sigs/application/issues/219
- [ ] ci-kustomize-periodic-default-gke: https://github.com/kubernetes-sigs/kustomize/issues/4214
- [ ] pull-sig-storage-local-static-provisioner-e2e-gke: suggest removing

[2021-09-29 17:28] ehashman opened #23822 "Remove custom projects from SIG Node test manifests"
**What should be cleaned up or changed**:

SIG Infra has identified the following GCP projects that they'd like to retire:

- [ ] k8s-jkns-pr-node-e2e: https://cs.k8s.io/?q=k8s-jkns-pr-node-e2e&i=nope&files=&excludeFiles=&repos=
- [ ] cri-containerd-node-e2e: https://cs.k8s.io/?q=cri-containerd-node-e2e&i=nope&files=&excludeFiles=&repos=
- [ ] K8s-cri-containerd: house of bucket gs://cri-container

[2021-09-29 17:28] ehashman commented on #23822
/cc @ameukam

[2021-09-29 17:34] spiffxp commented on #23816
/close

[2021-09-29 17:34] #23816 closed

[2021-09-29 17:34] ameukam commented on #23822
We should firstly identity those master-{blocking,informing} and migrate them before the rest.

[2021-09-29 17:35] spiffxp commented on #23822
Related: https://github.com/kubernetes/test-infra/issues/23291

Don't ask for a node-e2e project, the default gce-project type should be enough

[2021-09-29 17:35] spiffxp commented on #23822
/milestone v1.23
/priority important-longterm

[2021-09-29 17:53] michelle192837 commented on #21495
Hmm, logs seem to indicate we did send twice this morning for that tab, once each at 09-29 05:06:19 and 09-29 05:07:07 (PDT). (Corresponds to https://groups.google.com/g/kubernetes-sig-scale/c/LoBlWbR2_LY).

Config for tab: https://testgrid.k8s.io/q/config/sig-scalability-kubemark/kubemark-5000

05:06:
[code]

05:07:
[code]

Logs for checking this tab's dashboard:
[code]

I think we're just checki

[2021-09-29 18:14] rayandas commented on #23642
Hi @mmiranda96 I took a good look on this issue today.
So as part of the cleanup, we have to remove non-alpha features which are in `test_args` from both `ci-kubernetes-e2e-gci-gce-alpha-features` and `pull-kubernetes-e2e-gce-alpha-features` jobs right?

For the below task, is there is there a list of features that should be tested by these jobs?

[2021-09-29 18:46] spiffxp commented on #21296
Opened https://github.com/kubernetes/test-infra/pull/23825 to address

[2021-09-29 20:08] chaodaiG opened #23828 "Build and test Go without bazel"
**What would you like to be added**:

Build and test Go packages without bazel, the related bazel rules are:

- go_library
- go_test

Things to be considered:

- Test driven by make rule and bash scripts
- Ensure hermetic testing, including fixed Golang version
- Test results are in junit results format

Out of scope:

- Remote cache. Go native toolchain should be fast enough, at least no worse th

[2021-09-29 20:09] chaodaiG commented on #23828
Possibly use similar pattern as of https://github.com/kubernetes-sigs/kind/blob/8efc3707674fc5f2bcb85bc623ddc5639c992eea/Makefile

[2021-09-29 20:09] chaodaiG commented on #23828
/help-wanted

[2021-09-29 20:10] chaodaiG commented on #23828
/help

[2021-09-29 20:17] chaodaiG opened #23829 "Build and test Typescript without bazel"
**What would you like to be added**:

Build and test Typescript without bazel, the related bazel rules are:

- nodejs_binary
- nodejs_test
- ts_library
- jasmine_node_test
- rollup_bundle
- genrule

Things to be considered:

- This will need to co-exist with current bazel rules for a short while, delete Typescript build/test targets from bazel once this confirmed working
- Test driven by make rule

[2021-09-29 20:19] chaodaiG commented on #23829
Did some quick search on github, this repo testing using yarn and jasmine might help: https://github.com/radanalyticsio/equoid-ui#client-tests

[2021-09-29 20:30] chaodaiG opened #23830 "Build and test Python without bazel"
**What would you like to be added**:

Build and test Python without bazel, the related bazel rules are:

- py_binary
- py_test

Things to be considered:

- This will need to co-exist with current bazel rules for a short while, delete Python test targets from bazel once this confirmed working
- Test driven by make rule and bash scripts
- Ensure hermetic testing, including fixed tools version, like

[2021-09-29 20:32] chaodaiG opened #23831 "Build and test Bash without bazel"
**What would you like to be added**:

Build and test Bash without bazel, the related bazel rules are:

- sh_binary
- sh_test

Things to be considered:

- This will need to co-exist with current bazel rules for a short while, delete Bash test targets from bazel once this confirmed working
- Test driven by make rule and bash scripts
- Test results are in junit results format

**Why is this needed**:

[2021-09-29 20:36] michelle192837 commented on #21495
Fix submitted, should be live tomorrow.

[2021-09-29 20:36] chaodaiG opened #23832 "Building prow images without bazel"
**What would you like to be added**:

Building prow images without bazel, the related bazel rules are:

- prow-image
- container-image
- go-image

Things to be considered:

- This will need to co-exist with current bazel rules for a short while, delete Prow images test targets from bazel once this confirmed working
- Building prow containers from [rules-docker](https://github.com/bazelbuild/rules_

[2021-09-29 20:39] chaodaiG opened #23833 "Manipulating prow clusters without bazel"
**What would you like to be added**:

Manipulating prow clusters without bazel, the related bazel rules are:

- release
- component
- k8s_object
- k8s_configmap

Things to be considered:

- This will need to co-exist with current bazel rules for a short while, delete prow deployment targets from bazel once this confirmed working
- Need also include monitoring stack, including jsonnet generation li

[2021-09-29 20:39] chaodaiG commented on #23833
Can possibly leverage https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/oss/cluster/monitoring/mixins/Makefile

[2021-09-29 20:41] chaodaiG opened #23834 "Prow integration test without bazel"
**What would you like to be added**:

Run prow integration test without bazel, things to be considered:

- This will need to co-exist with current bazel rules for a short while, delete integration test targets from bazel once this confirmed working
- Will benefit from #23828

**Why is this needed**:

This is part of #23796

**Recommended testing approach**:
- Make test invokable by `make test`
- C

[2021-09-29 20:41] chaodaiG commented on #23834
/assign

[2021-09-29 20:47] chaodaiG commented on #23828
/remove-label help

[2021-09-29 20:53] chaodaiG commented on #23828
/assign

[2021-09-29 21:29] listx opened #23836 "make Sub component save inrepo config **git cache** to persistent volume to avoid re-cloning afresh after a normal restart"
**What would you like to be added**:

Make the Sub component save git cache to disk (to a persistent volume) to avoid having to re-clone the git repos upon a cold start (e.g., after a normal redeployment).

**Why is this needed**:

This will help avoid busting the git cache (forcing a fresh git clone of possibly multi-gigabyte repositories) upon every Sub cold start (after a graceful shutdown, tri

[2021-09-29 23:19] mmiranda96 commented on #23642
That's correct @rayandas. The main part of this task is removing the features from the test arg `ginkgo.focus`.

As for the alpha features, it would make sense to do the following:
1. Retrieve all features that are in alpha status. For this, you can access [1.23 enhacement tracking](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=0) (for context on this

[2021-09-30 10:03] mborsz commented on #21495
Wow @michelle192837 thanks a lot for a fix. :)

Let's wait and see if it solves the issue.

[2021-09-30 10:17] rayandas commented on #23642
Sure @mmiranda96. I will raise a PR for now after removing non-alpha features.

[2021-09-30 13:28] YuviGold opened #23846 "Allow injecting env variables to Prowjobs from GitHub"
**What would you like to be added**:

Injecting environment variables for jobs from GitHub comments using the `trigger` plugin.

**Why is this needed**:

Instead of creating a new job for every permutation mode under test, it would be incredibly maintainer-friendly to change configuration via the comments interface.
For example, I have a simple test `foo` but it allows to have different configurat

[2021-09-30 13:30] YuviGold commented on #23846
/sig testing

[2021-09-30 13:35] spiffxp commented on #23741
https://status.cloud.google.com/incidents/QSirAFiyN5yMeeE6GNxq is listed as resolved

[2021-09-30 15:21] mborsz commented on #21495
Not sure if the fix is already released, but ~20 minutes ago w received duplicated alert for sig-release-master-informing/gce-master-scale-correctness

[2021-09-30 15:48] randomvariable commented on #23741
It looks ok on the Cluster API AWS end, so happy to close this out.

[2021-09-30 15:49] randomvariable commented on #23741
I hadn't fully appreciated this. Thought most things were managed by k8s-infra.

[2021-09-30 16:11] chaodaiG commented on #23828
Ran all Go unit tests in prow https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/23837/pull-test-infra-test-beta/1443595353206034432. There are two tests failed:

[code]

- [TestMergelist](https://github.com/kubernetes/test-infra/blob/c8cef9be66972bc2a591806afd964c27168f71c8/config/tests/mergelists/mergelist_test.go) requires a command line arg to work
- [config/tests/testgrids

[2021-09-30 18:18] YuviGold commented on #23767
/sig testing
/assign

[2021-09-30 20:05] chaodaiG commented on #23614
/assign

[2021-09-30 22:22] michelle192837 commented on #21495
Hmm, fix is applied but the code doesn't seem to be doing what I think it does given that. :/ I'll dig in some more, thanks for flagging!

[2021-10-01 00:10] michelle192837 commented on #21495
Ah, think I found a bug in our wait logic, making a fix.

[2021-10-01 09:15] RinkiyaKeDad commented on #18939
/assign

[2021-10-01 10:17] petr-muller commented on #23846
Looks nice with manual triggers, but we would need to be careful when designing this. Jobs have properties like when they run automatically (`always_run`) and blocking (`optional`). These properties would then be properties of the variants (variable value vector permutations) and that gets messy fast.

[2021-10-01 16:30] spiffxp commented on #23727
I also like 3 for an "ensure latest" pattern.  Option 4 could be automated if we had something akin to generic-autobumper but for commits instead of image tags.

[2021-10-01 16:30] spiffxp commented on #23727
That said I'll approve https://github.com/kubernetes/test-infra/pull/23860 which is option 4 for now since it unblocks

[2021-10-01 17:07] BenTheElder commented on #22906
It's baaaack

[2021-10-01 19:01] spiffxp commented on #23410
/sig testing

[2021-10-01 19:02] spiffxp commented on #23732
/sig testing

[2021-10-01 19:02] spiffxp commented on #19979
/sig testing

[2021-10-01 19:02] spiffxp commented on #23449
/sig testing

[2021-10-01 19:03] spiffxp commented on #23449
I am unfortunately not a bazel expert

We'd be interested in help on how best to build prow's images without the use of bazel: https://github.com/kubernetes/test-infra/issues/23832

[2021-10-01 19:05] spiffxp commented on #6380
/kind documentation

[2021-10-01 19:05] spiffxp commented on #3349
/kind feature

[2021-10-01 19:05] spiffxp commented on #18599
/kind cleanup

[2021-10-01 19:05] spiffxp commented on #5183
/kind feature

[2021-10-01 19:05] spiffxp commented on #18729
/kind cleanup

[2021-10-01 19:06] spiffxp commented on #21268
/kind cleanup

[2021-10-01 19:06] spiffxp commented on #20667
/kind feature

[2021-10-01 19:08] spiffxp commented on #22605
/remove-lifecycle stale
/close
Closing as working as intended.  If this is changing code that these sigs own, they should get labeled.  If the sig you care about is not getting auto-labeled, it should be added to the appropriate OWNERS file.  If the sig you care about is manually labeled, that label will stick around, since prow won't revert/remove labels that have already been applied when it aut

[2021-10-01 19:08] spiffxp commented on #20672
/kind feature

[2021-10-01 19:08] #22605 closed

[2021-10-01 19:08] spiffxp commented on #18785
/kind feature

[2021-10-01 19:09] spiffxp commented on #20760
/kind cleanup

[2021-10-01 19:09] spiffxp commented on #22063
/kind feature

[2021-10-01 19:10] spiffxp commented on #6095
/kind feature

[2021-10-01 19:10] spiffxp commented on #4046
/kind cleanup

[2021-10-01 20:59] SergeyKanzhelev opened #23868 "cadvisor-push job is not working"
**What happened**:

Job https://testgrid.k8s.io/sig-node-cadvisor#cadvisor-push is not working

**What you expected to happen**:

Job will be green or removed if not used

/sig node
/cc @mmiranda96
/cc @bobbypage
/kind failing-test

[2021-10-01 21:00] SergeyKanzhelev commented on #23202
/kind failing-test
/remove-kind bug
/area test

Changing to failing test to track it in CI meeting

[2021-10-01 21:47] bobbypage commented on #23868
It looks like this job has been failing for a very long time. It looks like this job was responsible for building a canary version of cAdvisor and pushing it to dockerhub. We haven't been using the canary versions for as long as I can remember, and the target being pushed to (dockerhub: google/cadvisor:canary) is not up to date either (we have long switched to GCR instead of dockerhub).

I think w

[2021-10-01 22:03] timebertt opened #23870 "Deck OAuth Authentication not working with Apps Auth enabled"
**What happened**:

I followed the [getting started guide](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md) (setup prow using Apps Auth, ref https://github.com/kubernetes/test-infra/issues/10423).
After that, I followed the [OAuth setup guide](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/github_oauth_setup.md) for enabling the PR status pag

[2021-10-01 22:04] SergeyKanzhelev commented on #23868
What does this test do: https://testgrid.k8s.io/sig-node-cadvisor#cadvisor-e2e? Doesn't seem it test anything at all.

[2021-10-01 22:05] timebertt commented on #23870
/sig testing

[2021-10-01 22:12] michelle192837 commented on #21495
Okay, fix is in, this shouldn't be sending duplicates anymore.

[2021-10-01 23:01] bobbypage commented on #23868
https://testgrid.k8s.io/sig-node-cadvisor#cadvisor-e2e is different, it will run kubetest against cadvisor test suite:

[code]

That will basically clone cAdvisor and run the integration tests - https://github.com/kubernetes/kubernetes/blob/82da9bdaab705a1a72e4c5915f6ddd8775592fdf/test/e2e_node/remote/cadvisor_e2e.go#L66-L76

I think long term we can move this out of k/k testgrid and into github a

[2021-10-01 23:23] #23767 closed

[2021-10-02 00:47] mkumatag commented on #23449
Awesome.. looking forward to see this happening,..

[2021-10-02 16:20] sftim opened #23873 "Help with troubleshooting issue transfer"
**What happened**:
For https://github.com/kubernetes/website/issues/29891 I tried to transfer the issue to [k/kubernetes](https://github.com/kubernetes/kubernetes) using the `/transfer` command.

**What you expected to happen**:
I could transfer the issue

**How to reproduce it (as minimally and precisely as possible)**:
Not sure. Maybe run the same command against https://github.com/kubernetes/we

[2021-10-02 16:20] sftim commented on #23873
This follows https://github.com/kubernetes/test-infra/pull/23153
/sig testing

[2021-10-02 16:21] sftim commented on #23873
/label needs-triage
IMO

[2021-10-02 16:30] sftim commented on #23873
[code]

[2021-10-02 16:51] sftim commented on #23873
I tried again, and it worked.
/close

[2021-10-02 16:52] #23873 closed

[2021-10-04 05:20] RinkiyaKeDad commented on #23796
/cc

[2021-10-04 05:25] MadhavJivrajani commented on #23831
/assign

[2021-10-04 07:50] mborsz commented on #21495
/reopen

Unfortunately, we spotted more:

Yesterday, for a single failing test "Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (xfs)][Slow] volumes should allow exec of files on the volume" we received 6 mails:
* first one "Sun, 03 Oct 2021 14:36:27 +0000"
* last one "Sun, 03 Oct 2021 14:42:14 +0000"

First three had exactly the same content:
[code]

Th

[2021-10-04 13:43] alvaroaleman commented on #23870
/kind bug
/area prow/deck
/area prow

Yeah, the oauth flow is not implemented at all in combination with apps auth. It should also be possible to use oauth with the same app but I haven't spend any time on that.

[2021-10-04 17:07] spiffxp commented on #23778
Last 30d
![Screen Shot 2021-10-04 at 10 06 06 AM](https://user-images.githubusercontent.com/49258/135893949-71b60cef-11a1-492c-ba79-11ba3baaf4c8.png)

All known jobs using this pool have been removed, going to open a final PR to remove the pool entirely

[2021-10-04 22:24] spiffxp commented on #23741
I would like for us to roll this change back, but I'm wary that maybe we'll need it again someday.

So as to avoid a protracted roll out cycle, I'm planning on doing the following:
- gate the workaround behind an env var `BOOTSTRAP_MTU_WORKAROUND`, defaulted in-image to true... this will let us roll out changes selectively or globally by job config changes (1 PR) instead of propagating to kubekins

[2021-10-05 01:05] cjwagner commented on #23027
This is complete.
/close

[2021-10-05 01:05] #23027 closed

[2021-10-05 16:33] spiffxp commented on #21296
/close
http://storage.googleapis.com/k8s-metrics/flakes-daily-latest.json now matches the format of http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2021-10-05 16:33] #21296 closed

[2021-10-05 16:52] spiffxp commented on #23778
/close
Pool has been decommissioned

[2021-10-05 16:53] #23778 closed

[2021-10-05 18:13] chaodaiG opened #23897 "Run linter tests without bazel"
**What would you like to be added**:

Run linter tests without bazel, the related bazel rules are:

- verify-pylint
- verify-tslint
- update-tslint
- verify-codegen
- verify-spelling
- update-spelling
- verify-label
- pylint_bin
- verify-gopherage

Things to be considered:

- This will need to co-exist with current bazel rules for a short while, delete linter test targets from bazel once this conf

[2021-10-06 06:06] jcnars opened #23904 "networking.k8s.io/v1 API version issues"
**What happened**:
When I used the latest v1.22.2 version, this error:
[code]

When I downgraded the kubernetes version to, say v1.21.5 k8s version (`20:15 $ minikube start --kubernetes-version=1.21.5`), this warning:
[code]

Was tinkering the go code and manifests in my local repo to remove extensions, but not successful.

**What you expected to happen**:
That prow will assign an address to the i

[2021-10-06 16:27] chaodaiG commented on #23834
this depends on #23832 , so
/unassign
for now

[2021-10-06 17:02] chaodaiG commented on #23833
/assign

[2021-10-06 17:48] mmiranda96 commented on #23642
Reopening since this is only fixed partially.
/reopen

[2021-10-06 17:55] SergeyKanzhelev commented on #23868
/assign @bobbypage

[2021-10-06 17:59] jcnars commented on #23904
/testing

[2021-10-06 20:40] mmiranda96 opened #23915 "Fix or delete containerd 1.4 canary jobs"
**What should be cleaned up or changed**:
Some of the contained 1.4 canary jobs have been failing for some time now. Considering that we're working with containerd 1.5 (canaries will be provided by https://github.com/kubernetes/test-infra/pull/23215), it might make sense to either fix or delete containerd 1.4 canary jobs.

**Provide any links for context**:
This are the relevant links for the jobs

[2021-10-06 20:44] mmiranda96 commented on #23915
Additionally, we might need to delete duplicate canaries under [config/jobs/kubernetes/sig-k8s-infra/canaries/sig-node-containerd.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-k8s-infra/canaries/sig-node-containerd.yaml).

[2021-10-06 23:53] spiffxp opened #23922 "It should be possible to see job history for a presubmit against a single branch"
**Why is this needed**:

Troubleshooting https://github.com/kubernetes/kubernetes/issues/105436 reminded me that our tooling doesn't provide a quick way to see job history for a presubmit against a given branch.  The presubmit has the same name regardless of which branch it's triggered against, and our tooling doesn't know or expose enough to support filtering by branch name, instead keying solely

[2021-10-07 00:01] spiffxp commented on #23922
This was mostly to get down the ideas for how to improve our tools, but I am currently leaning real hard toward "rename all of our presubmits to be uniquely named".  I think it involves fewer changes and aligns with the assumptions many of our tools make.  Forcing through a new concept of uniqueness/identity based on more than name seems prone to stalling out.

Some of the kubernetes/kubernetes jo

[2021-10-07 00:18] lubronzhan commented on #23604
The issue is pretty similar to this https://github.com/kubernetes/test-infra/issues/19696
We could see last updates gets updated, but no new job is triggered
![image](https://user-images.githubusercontent.com/8584193/136301097-99d4e668-2782-4723-9682-beacc5c89d2b.png)

![image](https://user-images.githubusercontent.com/8584193/136301119-f6cdbd26-f052-4b8c-ba2b-d2b45b32ee3f.png)

https://testgrid.k

[2021-10-07 00:43] spiffxp commented on #19264
Deprecation clock has passed, if someone is interested in removing support for the old fields as documented here:
https://github.com/kubernetes/test-infra/blob/530961d60201d967c9123baa2089045870344bc2/prow/ANNOUNCEMENTS.md#L184-L187

[2021-10-07 00:47] spiffxp commented on #18601
/remove-lifecycle stale

[2021-10-07 18:35] noahkawasakigoogle commented on #23767
Thanks!

[2021-10-08 00:25] #23868 closed

[2021-10-08 01:17] spiffxp commented on #22906
I decided to dig into the data to see what was so large about it anyway
[code]

OK, it's the clustered data.

Looking at the data a bit, it's a giant array of cluster objects.  Let's split those into their own JSON files and see if any stand out.
[code]

Which clusters are largest?
[code]

IMO even 1MB+ of data for a given cluster is excessive, let alone 10MB+.  It's worth noting all of these larg

[2021-10-08 12:11] #22906 closed

[2021-10-08 22:20] #21868 closed

[2021-10-08 22:20] #21910 closed, assigned to nobody

[2021-10-08 23:28] jberkus opened #23963 "Please disable verify hook for Candidate Bios"
Infra:

Per issue: https://github.com/kubernetes/community/issues/6129

The new candidate bio format has more markup than the old one did.  As such, Steering agreed to a "soft" verification, instead of enforcement via hook.  As we also changed the naming of the candidate bios, I assumed that no further action was required.

However, the presubmit hook is finding the candidate bios anyway somehow,

[2021-10-08 23:29] jberkus commented on #23963
/sig contributor-experience

[2021-10-09 00:14] jberkus commented on #23963
This is apparently a script just in the Community repo.  As such, it's been fixed.

[2021-10-09 00:14] #23963 closed

[2021-10-12 02:56] Colstuwjx opened #23975 "Turn to use Python3 as bazel default python interpreter"
**What would you like to be added**:
When we run `./hack/update-bazel.sh`, it should build successfully, even only python3 installation available.

**Why is this needed**:
I found it would panic if no python2 installation found:

[code]

Since Python27 has been retired at 2020.01.01, we need to update this requirement to python3.

[2021-10-12 09:58] ameukam commented on #23822
We also want to migrate the release-blocking prowjobs to the community-owned build clusters by adding

`cluster: k8s-infra-prow-build`

to the spec of the prowjob.

I would advise doing a few jobs per PR so I can easily monitor the jobs after the flag is dropped and also to start with the periodics.

@ehashman Ouf of curiosity, why do we need a specific bucket (`cri-containerd-staging`) for the E2

[2021-10-13 18:11] chaodaiG commented on #23832
Most of prow binaries are purely written in Go, the only known exception is `Deck`, where it has quite a few typescripts at [prow/cmd/deck/static](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/deck/static), so this work is probably better to be done after #23829 is landed.

[2021-10-14 14:29] kvmware opened #24004 "Issues with https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md"
Some issues observed while trying to go through the `Tackle deployment` section of the document.

1. Under `GitHub App` the `Single File: Read-Only` permission is suggested. This permission requires a path to the file and if not given fails silently when one clicks `Create GitHub App`. It fails by showing no form validation error and does not continue. One would have to create the app first then a

[2021-10-14 14:30] kvmware commented on #24004
/sig docs

[2021-10-14 15:27] dims commented on #23915
+1 from me :)

/cc @adisky

[2021-10-14 16:47] mmiranda96 commented on #23915
After some more digging, I found the following logs:
[code]
From the nature of the node runner, it looks like it expects the cluster to be up. However, the cluster does not exist. Is this the correct scenario? Is there anything I'm missing?

[2021-10-15 02:57] alvaroaleman commented on #24004
@kvmware yeah I would suggest removing mentionings of it for now until someone steps up and adds some basic integration testing

[2021-10-15 17:15] chaodaiG opened #24024 "Prow error log: exceeded a secondary rate limit with GitHub"
**What happened**:

Saw error log in prow.k8s.io:

[code]

This is happening on both tide and needs-rebase

[2021-10-15 17:18] chaodaiG opened #24025 "Warning logs in prow: Unable to add nonexistent labels"
**What happened**:

Saw warnings in prow log:

[code]

Pretty sure that this error is a user error and already surfaced on the issue/PR where this happens. No reason to log warning in prow

[2021-10-15 17:26] chaodaiG commented on #24024
/kind oncall-hotlist
/sig testing

[2021-10-16 01:28] lubronzhan commented on #23604
I think the problem is here, now the always_run take effect in `postsubmits` section, according to the [announce on Aug 24th 2021](https://github.com/kubernetes/test-infra/blob/a3eefb553f51d500e1f0f9671169ce6e0475a167/prow/ANNOUNCEMENTS.md#L6), and we do have a `always_run: false` without `run_if_changed`  for CPI
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/cloud-pr

[2021-10-16 11:37] #22116 closed

[2021-10-17 08:58] jnbhavya commented on #23642
@mmiranda96 can i take this issue as i am new here i would love to take this issue

[2021-10-17 19:17] Jeffwan opened #24033 "Prow Github App permission setting is not clear"
**What should be cleaned up or changed**:

In order to create a Github application for Prow to use., The exact set of permissions needed varies based on the functionality. There's one permission `SingleFile: Read-Only` needed here.

However, I notice this require "The content paths to single files your app can access.", otherwise, we can not create the app successfully. Can someone help answer why

[2021-10-18 17:48] rayandas commented on #23822
@ameukam I've raised a PR after identifying master-{blocking,informing} jobs to the community-owned build cluster.
Let me know if it looks good then I will remove the WIP.

[2021-10-18 17:51] mmiranda96 commented on #23642
Hi @jnbhavya. Thanks for your interest. Steps 1 and 3 have already been completed by https://github.com/kubernetes/test-infra/pull/23845. There is still some uncertainty on which jobs should be included for step 2.

I'll bring up this topic on this week's Node CI meeting and update with the proper information. Until then, I'll suggest you wait.

[2021-10-18 18:14] ameukam commented on #23822
@rayandas `k8s-infra-prow-build-trusted` is also part of the community-owned infrastructure. There is no need to make changes for the jobs using this cluster.

[2021-10-18 21:01] #24033 closed

[2021-10-18 22:31] chaodaiG commented on #24025
correction: this error is not testable on a PR, and even if it does, it could also be broken if a label is deleted from a repo. So this is likely going to cause noise/confusion if surfaced on PR.

[2021-10-18 23:21] bridgetkromhout opened #24044 "failure when re-casting a ballot in the 2021 Steering election"
Moved to https://github.com/kubernetes/k8s.io/issues/2955.

[2021-10-18 23:34] #24044 closed

[2021-10-19 00:06] cjwagner opened #24046 "hack/{verify,update}-bazel.sh are broken"
`hack/update-bazel.sh` is no longer working. This looks like the most recent change: https://github.com/kubernetes/test-infra/pull/24006
Here is an example error using bazel from the image:

FATAL: $USER is not set, and unable to look up name of current user: (error: 0): Success

And here is a different error using bazel directly:
[code]

PR with error: https://github.com/kubernetes/test-infra/pul

[2021-10-19 11:22] jnbhavya commented on #23642
@mmiranda96 thanks

[2021-10-20 21:14] alvaroaleman opened #24074 "TestMerging_a_config_into_itself_always_fails flakes"
**What happened**:

This test failed on a PR that doesn't change anything about Prow: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/24073/pull-test-infra-unit-test/1450931601599893504

/area prow

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we