[2017-03-21 23:30] ixdy commented on #2315
If you're trying to build prow to run on a linux kubernetes cluster you can't use bazel right now.

[2017-03-21 23:38] fejta commented on #2315
`make -C prow build` works

[2017-03-21 23:43] fejta commented on #2269
Well from a triage point of view the job already timed out, so I'm struggling to find the motivation necessary to debug

[2017-03-22 00:14] ixdy commented on #2269
It suggests a latent bug that could cause issues elsewhere.

It looks like a race: we call `cmd.Output()` in a new goroutine, and then immediately select on the terminate channel. I'm guessing the command hasn't actually started yet by the time we try to kill it.

It also looks like we're not handling timeouts in upgrade tests correctly: if we get stuck in the first stage (upgrading the cluster) a

[2017-03-22 00:19] ixdy commented on #2269
Panics in test infra also add unnecessary noise to the logs, which makes it harder to track down the actual failure.

[2017-03-22 02:57] fejta commented on #2269
You are right: it looks like the issue is that the command hasn't started yet.

However the problematic code only runs if we already timed out, so the build already failed.

[2017-03-22 16:03] jfelten commented on #2315
Yes I was trying to build linux binaries on mac os., and it thought I was trying to build native binaries only.  I had set the ENV: CGO_ENABLED=0 GOOS=linux, but get the same error regardless.  I was trying to build a lightweight container with binaries only per: https://blog.codeship.com/building-minimal-docker-containers-for-go-applications/

This was my first time using bazel so please pardon m

[2017-03-22 19:36] ixdy commented on #2315
The issue is that Bazel really only supports native compilation, and our tooling to automanage BUILD files really [only supports `linux/amd64`](https://github.com/mikedanese/gazel/blob/a2c785aba4d9bde5e46ace135049a5607e6ea439/gazel/gazel.go#L740-L741).

This is something we want to improve, though we're blocked by Bazel and the go rules supporting cross-compilation correctly.

tl;dr we only suppor

[2017-03-22 22:21] fejta commented on #2315
Would definitely be interested in seeing a prow helm chart!

No need to leave open the issue unless you want spxtr to comment on it next week.

[2017-03-22 22:57] cblecker commented on #2268
Related to https://github.com/kubernetes/test-infra/pull/2023

[2017-03-23 10:27] piosz opened #2322 "Do not merge PR if not all reviewers approved it"
PRs pretty often has more than one reviewer/approver. When one of them has enough permissions and writes /lgtm /approve, the PR will be queued for merge without waiting for the others.

cc @fgrzadkowski

[2017-03-23 17:14] krzyzacy commented on #2322
Isn't this the right behavior?

[2017-03-23 19:26] piosz commented on #2322
There is of course no the right answer here. It's different from what we have internally. My personal feeling is that if you assign 2 people as reviewers you want LGTM from them. Otherwise you would just cc them.

[2017-03-23 20:29] krzyzacy commented on #2322
As a reviewer if I want other people to also take a look I normally would express LG without write the command, and let other reviewers have the final judgement?

@grodrigues3 @apelisse probably can give a better explanation.

[2017-03-23 20:34] grodrigues3 commented on #2322
yeah, i've seen that as the convention.

People generally write `LGTM but i'll wait for @otherUser's comments first`

[2017-03-23 20:37] piosz commented on #2322
So basically the difference here is who should be responsible for defining the list of required/sufficient reviewers - in the current state this is up to reviewers. With what I proposed this can be both: PR author by assigning a set of people and reviewer who can remove some of them from the list and grant lgtm/approve.

[2017-03-23 20:39] mml opened #2326 "gubernator: please link to jobs configs and cloud console for the project"
This would speed up debugging a bit.  E.g. in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-1.5-downgrade-cluster/113 I would like to observe the running test, so I need to go find the job config to find the name of the project, then examine that project.  A direct link (to both) would be great.

[2017-03-23 22:15] ixdy opened #2329 "bootstrap: stdout and stderr out of sync"
We just spent a lot of time debugging a verification failure in which we missed the actual error, because the summary (printed to stdout) appeared before the details (printed to stderr) in the build log.

This particular example was https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/43403/pull-kubernetes-verify/22672/.

The verification failure is here:
[code]

We were only l

[2017-03-23 23:27] rmmh commented on #2326
The build log has the lines:

    I0323 04:18:56.611] PROJECT=k8s-gce-dg-1-6-1-5-dwngr-clu

That could be easily linked to the cloud console. Do you still want to look at the scenario data otherwise?

[2017-03-24 16:19] liggitt opened #2331 "bot isn't suggesting approvers"
Seen at https://github.com/kubernetes/kubernetes/pull/43609#issuecomment-288942444

Bot submits a "needs approval" comment without @ mentioning any particular approver

[code]

[2017-03-24 18:32] apelisse commented on #1670
Fixed by #1768

[2017-03-24 18:32] #1670 closed

[2017-03-24 20:01] cblecker opened #2336 "lgtm and release note commands race"
In https://github.com/kubernetes/kubernetes/pull/43601, I wrote:
[code]

The /lgtm command LGTM'd the PR, and assigned it to me, but the /release-note-none command didn't take because I wasn't assigned yet. I was able to do /release-note-none in the next command once it was assigned to me.

[2017-03-24 21:34] apelisse commented on #2331
Ack, I can reproduce and found the reason why that happens. Working on a fix.

[2017-03-27 22:25] jfelten commented on #2315
I'll leave this up in case anyone else has the same problem.  I was able to work around the issue using dep:

export GOPATH=`pwd`
WORKSPACE_DIR=src
rm -rf $WORKSPACE_DIR
mkdir -p $WORKSPACE_DIR
cd $WORKSPACE_DIR
git clone https://github.com/kubernetes/test-infra.git
cd test-infra/prow/cmd/hook
go get github.com/golang/dep
go install github.com/golang/dep/cmd/dep
$GOPATH/bin/dep init
$GOPATH/bin/de

[2017-03-27 23:49] cblecker opened #2346 "needs-rebase label not being applied"
@fejta noted on kubernetes-dev (https://groups.google.com/d/msg/kubernetes-dev/YNHR4YZa9y4/-bLFgaSRCQAJ) that there was an issue with the needs-rebase label

I noticed that there were PRs with the opposite problem now (actually needs a rebase, but lacks the label):
- https://github.com/kubernetes/kubernetes/pull/42288
- https://github.com/kubernetes/kubernetes/pull/43551

[2017-03-28 03:01] cblecker commented on #2041
A helm chart for this would be great! I can help review it if you need another set of eyes with helm experience :)

[2017-03-28 16:18] bgrant0607 commented on #2268
Note that numerical priorities are deprecated

[2017-03-28 16:41] cblecker commented on #2346
It seems as soon as I commented on these issues identifying they need a rebase, the bot got the event and commented about the rebase. Very strange.

[2017-03-28 16:50] spxtr commented on #2346
@apelisse made the bot react to issues when they change, which makes it much snappier but sometimes leads to it only noticing things like this when you add a comment or otherwise update the issue.

[2017-03-28 16:52] cblecker commented on #2346
I can see this possibly being a pain point though, as if:
- a PR is pending LGTM
- gets the LGTM
- immediately needs a rebase which forces that LGTM off

Wouldn't that really slow down the process, especially for first time contributors?

[2017-03-28 16:58] fejta commented on #2346
/assign @apelisse

[2017-03-28 17:26] apelisse commented on #2346
@spxtr , I'd really like to see needs-rebase label being set/unset by prow instead.
is there an event that we receive when mergeability is computed?

[2017-03-28 18:59] spxtr commented on #2346
GitHub does not send an event. The only way to do it is to periodically poll all PRs, which is why it makes sense to leave it as a munger

[2017-03-28 19:05] cblecker commented on #2346
Perhaps then maybe a "cron" type logic that polls all PRs once every 24 hours for changes, plus the current logic of re-polling on action?

[2017-03-28 19:11] apelisse commented on #2346
Yeah, I'll probably just end-up implementing that anyway. Retry everything after 24h.

Would you be interested in working on that feature cblecker?

If you are, you can look at [mungegithub/github/github.go#L2138](/kubernetes/test-infra/blob/master/mungegithub/github/github.go#L2138), we have a `config.since` member that stores the last time we ran the loop. We could reset that to `time.Time{}` ev

[2017-03-29 18:59] #2254 closed

[2017-03-29 21:09] ixdy opened #2357 "//jenkins/test_history:gen_html_test consistently fails on my workstation"
Looks like this test isn't hermetic?

[code]

[2017-03-29 21:10] spxtr commented on #2357
[code]

They're not hermetic, but there's no way to have bazel depend on a pip package. We can either vendor the packages we use under a third_party folder, or try to write a build file and use a remote repository.

[2017-03-29 21:58] ixdy commented on #2357
Adding jinja2 as a dependency in the bazel workspace is pretty easy (I managed to get it to work).

pyyaml is going to be trickier; we'd probably need to wait for https://github.com/bazelbuild/bazel/issues/699 to be fixed.

[2017-03-30 16:23] kargakis opened #2364 "Time zone in testgrid is ambiguous"
It's not clear to me that testgrid uses Pacific time. Ideally, the time zone should be configurable.

[2017-03-30 17:42] krzyzacy commented on #2364
or use local time?

[2017-03-30 19:13] spxtr commented on #2357
fixed?

[2017-03-30 19:34] ixdy commented on #2357
works for me now. I bet if I uninstalled pyyaml it wouldn't, though.

[2017-03-30 21:49] grodrigues3 opened #2366 "[approvers] Don't Notify Approver Until After LGTM"
Approvers is intended to be a lightweight mechanism, but mentioning approvers immediately, they are subscribed to the issue and get all the review and discussion comments.

Potentially, wait to cc the approver until lgtm is applied.

[2017-03-30 21:52] apelisse commented on #2366
Did you receive that many complaints? if the scope of approval and lgtm is so distinct, then you should be able to get one and then the other. Can we unsubscribe the approver when he approves? :D

[2017-03-30 21:53] ixdy commented on #2366
I would much appreciate it if I wasn't cc'd as an approver until LGTM.

[2017-03-30 21:54] spxtr commented on #2366
I don't like the idea, because it means PRs will take strictly longer to merge.

[2017-03-30 21:55] ixdy commented on #2366
is that true? I generally don't approve PRs until they've been LG'd. I'm not sure what others do, though.

[2017-03-30 22:06] grodrigues3 commented on #2366
This doesn't solve the problem of the approver receiving all of the comments/discussion up until approval.  I think you're imaging a situation where an approvers right away and is unbothered.  Seems annoying to get a whole thread about something you're not very interested in.

I'm inclined to agree with @ixdy , but we have no data to back this up one way or another (that's another problem).  I'd l

[2017-03-30 22:11] mtaufen commented on #1576
Would it also work to just run a nightly cron that verifies the state machine behind PR dashboard is up-to-date with GitHub?

[2017-03-30 22:12] cblecker opened #2368 "do-not-merge shouldn't apply to release-note label issues"
Currently, if a PR is /lgtm'd without a proper release note label, mungegithub will apply `do-not-merge` to the PR so the correct release note label can be applied before merging. However, `do-not-merge` cannot be removed by contributors without write access, even if the release note label is fixed. As `do-not-merge` can mean other things, it can't be safely automatically removed.

I suggest:
- `d

[2017-03-30 22:13] cblecker commented on #2368
/area mungegithub

[2017-03-30 22:27] ixdy commented on #2368
basically #2196, though your summary is worded better

[2017-03-30 23:08] spxtr opened #2369 "Assign plugin should post a helpful comment when target is not an org member"
https://github.com/kubernetes/kubernetes/issues/42569#issuecomment-290505425

[code]
/assign @fejta

[2017-03-30 23:14] krzyzacy commented on #2369
because shiywang is not an org member? like I cannot manually assign this issue to him

[2017-03-30 23:17] spxtr commented on #2369
It should comment back saying "such-and-such is not an org member so I can't assign"

[2017-03-31 00:37] liggitt opened #2372 "test jobs reporting overall success and individual test failures"
Seeing output like this, which looks suspicious:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/43835/pull-kubernetes-e2e-gce-gci/23926/

Is it correct to get a test failure and have overall success somehow?

[2017-03-31 01:06] fejta commented on #2372
What do the logs say? I bet this is about flakes

[2017-03-31 01:36] liggitt commented on #2372
[code]

[2017-03-31 01:36] liggitt commented on #2372
does ginkgo do auto-retry?

[2017-03-31 04:23] fejta commented on #2372
Yes. If you look at the vars one of then is to retry failing tests to mitigate against flakes

[2017-03-31 04:34] liggitt commented on #2372
ah, ok. still disconcerting (wish the output was clearer that the test got retried and passed), but glad to know failures still fail the job

[2017-03-31 04:34] #2372 closed

[2017-03-31 17:57] #2053 closed

[2017-03-31 22:16] ixdy opened #2379 "release-note label not being applied correctly"
I created two PRs recently (https://github.com/kubernetes/kubernetes/pull/43927 and https://github.com/kubernetes/kubernetes/pull/43928) with blank `release-note` sections.

I expected this to add the `release-note` label to the PRs, as I think was the behavior in the past, but the munger instead tagged these as `release-note-label-needed`.

If this is now the expected behavior, we need to update

[2017-03-31 22:21] fejta commented on #2379
/assign @grodrigues3

[2017-03-31 22:24] fejta commented on #2269
https://github.com/kubernetes/test-infra/pull/2338

[2017-03-31 22:24] #2269 closed

[2017-04-01 00:01] grodrigues3 commented on #2379
Should it be `release-note-none`

I think @rmmh updated the regexp for matching this most recently.  Any ideas?

[2017-04-01 00:03] ixdy commented on #2379
It definitely should not be `release-note-none` - I didn't put NONE in the release note field.

[2017-04-01 00:08] grodrigues3 commented on #2379
The current encoding does not match the template

https://raw.githubusercontent.com/kubernetes/kubernetes/master/.github/PULL_REQUEST_TEMPLATE.md

And the current implementation says that an empty release note section in the template should result in `release note needed `label.

https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/release-note-label.go#L187

[2017-04-01 03:21] #1634 closed

[2017-04-01 18:21] pipejakob opened #2383 "prow: support/endorse method of duplicating specs"
When a prow job uses a custom spec, this particular bit of configuration can get very lengthy. When those jobs get duplicated to run variants of the same test, it involves a lot of [copy/pasting](https://github.com/kubernetes/test-infra/pull/2352/files) of these large specs that can be [error-prone](https://github.com/kubernetes/test-infra/pull/2246).

Duplicate specs could be avoided by using yam

[2017-04-02 02:39] spxtr commented on #2383
Yep, this is something that @fejta and I talked about recently. We want to avoid the case where these have as much complexity as our JJB job configs did. I don't think we've settled on a final design yet.

[2017-04-02 18:20] kargakis commented on #2364
Yes

[2017-04-02 18:22] kargakis opened #2385 "Moving a test in the flaky suite prunes its previous history"
Or I am not sure how can I access those older runs.

[2017-04-02 18:24] fejta commented on #2385
Options -> show stale tests

That will show the history for the old job name. If the test also changed jobs you'll need to do that in the old job tab.

[2017-04-02 18:26] kargakis commented on #2385
@fejta awesome, thanks!

[2017-04-02 18:26] #2385 closed

[2017-04-03 10:57] kargakis opened #2386 "k8s-cherrypick-bot does not identify v1.6.x milestones as release milestones"
See for example https://github.com/kubernetes/kubernetes/pull/43978

[2017-04-03 15:18] liggitt commented on #1576
what is the root cause? the dashboard missing events that would have flipped the state view to 'closed'?

[2017-04-03 15:49] kargakis commented on #2054
How is this different with ProwJobs? You are still going to hit the k8s API server right? Or is there a plan to have ProwJobs work with their own API server?

[2017-04-03 17:11] spxtr commented on #2054
With ProwJobs there will be a single controller polling the k8s api server and Jenkins, rather than 200 `cmd/line` programs all polling. This has caused us problems in the past, when Jenkins would fall over trying to serve our load ("error in queue" showed up on PRs for a day or two due to this).

[2017-04-03 23:16] wongma7 opened #2397 "kops jobs do not dump kube-scheduler, kube-ontroller-manager, kube-proxy, etc. logs"
For instance, in this random recent PR job https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/41929/pull-kubernetes-e2e-kops-aws/19348/build-log.txt we run cluster/log-dump.sh and get
[code]

Here's what /var/log looks like in a kops cluster:
[code]
LOG_DUMP_SSH_USER is `admin`, who doesn't have permissions to read & copy the file.

This could be a kops issue, I don't know what the sta

[2017-04-04 01:43] justinsb commented on #2397
Trying out a `chmod -R a+r /var/log` in https://github.com/kubernetes/kubernetes/pull/44017

[2017-04-04 09:15] fejta commented on #1576
Yes, gubernator misses a tiny fraction of events.

[2017-04-04 18:29] spxtr opened #2403 "Lets remove some presubmits!"
The following presubmits currently run against every PR:

- `pull-kubernetes-bazel`
- `pull-kubernetes-unit`
- `pull-kubernetes-verify`
- `pull-kubernetes-e2e-gce`
- `pull-kubernetes-e2e-gce-etcd3`
- `pull-kubernetes-e2e-gce-gci`
- ~~`pull-kubernetes-e2e-gce-non-cri`~~ #2363
- `pull-kubernetes-e2e-kops-aws`
- `pull-kubernetes-kubemark-e2e-gce`
- `pull-kubernetes-node-e2e`
- ~~`pull-kubernetes-node

[2017-04-04 18:43] krzyzacy commented on #2403
I think all the non-cri ones will gone soon. https://github.com/kubernetes/test-infra/pull/2363

[2017-04-04 23:11] thockin opened #2407 "Feature request: tell the bot to re-run failed tests"
I want to be able to have a saved reply that tells the bot "re-run JUST the failed tests".

[2017-04-04 23:11] thockin commented on #2407
@ixdy

[2017-04-04 23:14] fejta commented on #2407
Dup of https://github.com/kubernetes/test-infra/issues/2174?

[2017-04-04 23:14] ixdy commented on #2407
sure looks like it

[2017-04-04 23:48] spxtr commented on #2174
We could add `/retest`, but we have to think about it a little bit.

`/retest all`? `/retest failed`? `/retest pull-kubernetes-e2e-gce pull-kubernetes-bazel`?

[2017-04-04 23:58] spxtr commented on #1790
I hit a similar case: https://github.com/kubernetes/kubernetes/pull/44048#issuecomment-291586024

I pushed a change to a file called `DO_NOT_MERGE`. It commented saying "you need someone from OWNERS to approve it." Then I moved the change to a file called `hack/DO_NOT_MERGE`. It left the old comment but added the approved label.

[2017-04-05 00:32] thockin commented on #2174
please make it a string that does not need me to name the specific tests, so I can save it as a pre-written response in GH.

[2017-04-05 18:02] grodrigues3 opened #2411 "Ci Bot Should Explain Retriggering Tests"
When the bot requires ok-to-test, it should also mention how to retrigger tests in the event of failure (flake or real failure) or in the event of new code pushed.

[2017-04-05 18:36] foxish commented on #1527
/close

The text says:

It seems clear to me that the user can reply with anything really. The issue that @stevekuznetsov saw was because of latency and not because we do an exact text match.

[2017-04-05 20:55] apelisse commented on #2403
Out of curiosity, why are we removing presubmits?

[2017-04-05 21:00] #2331 closed

[2017-04-05 21:00] apelisse commented on #2331
Should be fixed now

[2017-04-05 22:04] grodrigues3 commented on #1790
@spxtr weird.  I deleted the comment and when it refreshed, it got it right.  I'm not sure what happened.

[2017-04-05 22:08] apelisse commented on #1790
Yes, looks like the comment is not always updated on push

[2017-04-05 23:45] krzyzacy opened #2418 "Pinned jobs are not using gcloud's kubectl"

[2017-04-05 23:46] krzyzacy commented on #2418
temporary fix with #2417, still watching it

[2017-04-06 00:32] fejta commented on #2418
/assign @jlowdermilk

[2017-04-06 00:40] fejta commented on #1527
Update the comment to note that that the system is eventually consistent and to wait N minutes between signing and commenting?

https://github.com/kubernetes/test-infra/blob/master/prow/plugins/cla/cla.go#L39

@stevekuznetsov would you be able/willing to send a PR to that effect? If not please /assign @fejta this issue to me.

[2017-04-06 00:41] krzyzacy commented on #2418
Seems still have other issues. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/1660

[2017-04-06 00:43] fejta commented on #2403
I only want to eliminate redundant testing. So we should pick a single flavor of `pull-kubernetes-e2e-gce` to run on presubmit. However all the others seem different enough to keep. I would also like to add a federation job.

[2017-04-06 05:35] fejta commented on #2322
+1 to Garrett's comments.

Do we have empirical evidence of a problem that is occurring that this would solve?

Also, if we do have examples I would suggest we first try to address this problem by clarifying proper PR etiquette to the people involved.

This creates the same result without risking unintended side effects (such as slowing down other PRs). It also allows us to invest the time we migh

[2017-04-06 05:37] #39 closed

[2017-04-06 05:37] fejta commented on #172
Is there an ETA for fixing this? If not I would like to close it out.

[2017-04-06 05:38] #306 closed

[2017-04-06 05:38] #366 closed

[2017-04-06 05:40] fejta commented on #500
Dup of https://github.com/kubernetes/test-infra/issues/1522

[2017-04-06 05:40] #500 closed

[2017-04-06 05:47] fejta commented on #939
Feel free to reactivate https://github.com/kubernetes/kops/issues/741 if this is still needed/wanted.

[2017-04-06 05:47] #939 closed

[2017-04-06 05:50] fejta commented on #510
We auto create a cluster name when `--cluster=`. As long as the name is unique we can update make this behavior whatever we want:
https://github.com/kubernetes/test-infra/blob/master/scenarios/kubernetes_e2e.py#L313

Closing this because it is not clear we want to do this and nothing has happened in multiple quarters.

[2017-04-06 05:50] #510 closed

[2017-04-06 05:51] fejta commented on #920
Seems to work just fine these days:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/google_cadvisor/1629/pull-cadvisor-e2e/193/?log#log

[2017-04-06 05:52] fejta commented on #948
You may now click the build log button for an in progress run to see streaming log info!

[2017-04-06 05:52] #948 closed

[2017-04-06 05:54] fejta commented on #953
Configure the test to call kubetest with `--extract=ci/latest-1.5` to the latest patched version of 1.5, including test fixes.

[2017-04-06 05:54] #953 closed

[2017-04-06 05:59] #612 closed

[2017-04-06 06:11] ixdy commented on #948
@fejta that's not quite what @foxish was asking for; the build log and "estimated time to completion" are not the same thing.

Also IIRC we don't have in-progress build logs for most of our CI jobs yet, though eventually we will.

[2017-04-06 06:12] fejta opened #2421 "aws-janitor fails a few times a day"
https://k8s-testgrid.appspot.com/sig-testing-misc#maintenance-aws-janitor

/assign @justinsb @zmerlynn @krzyzacy

Anything we can do to improve the stability of the aws janitor?

[2017-04-06 06:13] ixdy commented on #920
The commit ref links on that page go to kubernetes/kubernetes, not google/cadvisor.
Similarly, the "view on GitHub" link on https://k8s-gubernator.appspot.com/pr/google_cadvisor/1629 is wrong.

[2017-04-06 06:14] fejta commented on #1044
/unassign @rmmh
/assign @spxtr

Looks like we have some agents where docker doesn't work. Will you investigate?

https://k8s-testgrid.appspot.com/maintenance#hourly&width=20
[code]

[2017-04-06 06:15] fejta commented on #1069
/unassign @rmmh
/assign @madhusudancs

Can you be more specific about this request?

The primary page only shows info from build-log.txt. The artifacts link shows all artifacts that were uploaded to gcs.

[2017-04-06 06:16] #1132 closed

[2017-04-06 06:16] #1568 closed

[2017-04-06 06:18] #1277 closed

[2017-04-06 06:19] #1840 closed

[2017-04-06 06:25] fejta commented on #1787
/assign @jeffvance @saad-ali @mtaufen

The test-infra-maintainers do not have the ability to monitor whether 500 jobs are configured correctly.

The test infrastructure runs the tests defined by the job configuration. Please send a PR to fix any incorrectly configured ginkgo flags.

Perhaps the issue is this suite (and perhaps others) focuses on [Flaky] but only skips [Feature:.+]:

https://github

[2017-04-06 06:27] fejta commented on #1723
/assign @spxtr

Are we done/happy here for now?

[2017-04-06 06:28] fejta commented on #2369
/unassign
/assign @krzyzacy

[2017-04-06 06:32] #2017 closed

[2017-04-06 06:40] #2407 closed

[2017-04-06 06:41] fejta commented on #2397
/assign @justinsb

[2017-04-06 06:45] #2086 closed

[2017-04-06 06:47] fejta commented on #2035
Closing in favor of prioritizing work that keeps the queue empty at all times.

Note that thanks to batched merges we cleared the entire accumulation of PRs during the 1.6 freeze in a weekend. This is better than investing in complicated prioritization strategies.

[2017-04-06 06:47] #2035 closed

[2017-04-06 06:48] #2148 closed

[2017-04-06 06:50] fejta commented on #1641
The /release-note and /release-note-none commands now exist in prow

[2017-04-06 06:50] #1641 closed

[2017-04-06 06:51] fejta commented on #1626
The `/area kubelet` commands exist

[2017-04-06 06:51] #1626 closed

[2017-04-06 06:52] fejta commented on #1627
Similar to https://github.com/kubernetes/test-infra/issues/2035

[2017-04-06 06:52] #1627 closed

[2017-04-06 06:56] spxtr commented on #1723
I improved it, but I think we should leave this open for now. We still send an email for every failure, not for every commit with a failure.

[2017-04-06 07:18] #2322 closed

[2017-04-06 07:43] fejta commented on #948
I agree streaming build logs and completion eta are not the same thing. They serve similar needs. And historical durations are also available in testgrid.

We are tracking the migration to prow in other issues.

This seems more than sufficient to resolve this issue, which has gone unmodified for at least half a year (unknown how long it sat in the contribx repo)

[2017-04-06 12:51] stevekuznetsov commented on #1527
Sure, I can take a shot at it.

[2017-04-06 16:50] wongma7 commented on #2397
change to cluster/log-dump fixed it, no more permission denied errors in recent jobs :)

[2017-04-06 16:50] #2397 closed

[2017-04-06 16:56] jlowdermilk commented on #2418
kube-system pods failing doesn't seem related to gcloud change.

[2017-04-06 18:16] jlowdermilk commented on #2418
It looks like this started failing 3/31. The gcloud failures were a shorter window that started later and was fixed by #2417
https://k8s-testgrid.appspot.com/google-gke#gci-gke-test

[2017-04-07 12:15] kargakis opened #2426 "gubernator: merged PR shows up as incoming"
https://k8s-gubernator.appspot.com/pr/kargakis

Second from the end PR is already merged: https://github.com/kubernetes/kubernetes/pull/41482

[2017-04-07 17:02] grodrigues3 commented on #2268
@foxish is Jun going to get started on this?

[2017-04-07 17:17] krzyzacy commented on #2418
looks green now

[2017-04-07 17:24] fejta commented on #2418
Did we revert the Todo?

[2017-04-07 17:41] apelisse commented on #1688
I agree with @liggitt. Doing that would be mostly equivalent to going back to one-tier mechanism.

[2017-04-07 17:47] fejta commented on #1688
Yes, a one-tier mechanism is the goal because it is most efficient.

We do not want approvers who do not understand the code and do not do reviews.

The only time we want the reviewer to be someone other than the approver is during a time where demand for code reviews in an area has rapidly expanded. We can add non-owner reviewers as a temporary measure to help expedite training those reviewers.

[2017-04-07 17:49] apelisse commented on #1688
That is pretty controversial :-)

[2017-04-07 17:57] fejta commented on #1688
It shouldn't be. The intent of the approvers initiative is to make reviews faster and increase review velocity.

One-tier of reviewers will have lower latency than two.

[2017-04-07 18:31] foxish commented on #2268
@crimsonfaith91 do you want to take a stab at this? It's a fairly self contained piece.

[2017-04-07 18:43] jlowdermilk commented on #2418
Turns out the GKE jobs were broken for a completely unrelated bug in master configuration that should be fixed now. cc @maisem

[2017-04-07 18:44] krzyzacy commented on #2418
do we still need to keep that env?

[2017-04-07 18:51] jlowdermilk commented on #2418
Yes, because the pinned (i.e. not-running-k8s-head) jobs are still not using gcloud's kubectl.

[2017-04-07 19:13] crimsonfaith91 commented on #2268
Dear Anirudh,

  Sure! I will look at it asap! Thanks! :)

Regards,
Jun Xiang Tee

On Fri, Apr 7, 2017 at 11:31 AM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2017-04-07 23:24] dettervt commented on #2237
If nobody wants to do this, I can.
It seems like it would just be a mirror of `prow/plugins/close`, and adding `OpenIssue` to `prow/github/client.go` with associated tests, right?

[2017-04-07 23:25] spxtr commented on #2237
Yep.

[2017-04-07 23:36] grodrigues3 commented on #2237
@dettervt that'd be awesome.  Thanks

[2017-04-07 23:37] spxtr opened #2432 "verify-bazel is running against master, even in PRs!"
/assign

[2017-04-08 21:20] fejta opened #2437 "soak tests do not like the --extract pattern"
/assign

Need to fix this scenario in kubetest

https://storage.googleapis.com/k8s-gubernator/triage/index.html#26d4b2bec93532ddfb75
https://storage.googleapis.com/k8s-gubernator/triage/index.html#6c99e8dd8714f28ee8b0

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-2-test/1912

[2017-04-09 23:43] fejta commented on #1872
Make a comment on the PR and it should go away

[2017-04-09 23:43] #1872 closed

[2017-04-09 23:44] fejta commented on #2426
Dup of #1872

[2017-04-09 23:44] #2426 closed

[2017-04-09 23:44] fejta commented on #2403
/assign
/assign @spxtr

[2017-04-09 23:45] fejta commented on #2138
/assign @rmmh @spxtr

[2017-04-09 23:47] fejta commented on #2291
We run this script less than 10x/year. The effort required to fix this is better spent elsewhere (like on better test failure notifications, for example).

[2017-04-09 23:47] #2291 closed

[2017-04-10 08:41] CaoShuFeng commented on #1965
I have another problem. I think.
1. make a pull request with the commit time in the feature.
2. someone add a LGTM label.
3. robot remove the LGTM lable because the commit time is later than the LGTM lable.

[2017-04-10 16:52] rmmh commented on #2138
@foxish added the webhook, you should see PRs for incubator projects start to appear in your dashboard as events are received.

[2017-04-10 16:52] #2138 closed

[2017-04-10 17:17] grodrigues3 commented on #1965
@CaoShuFeng this is expected behavior I believe.  The approved label should stay on, but if you commit to a PR after the LGTM label is added, the code has changed and needs to be re-reviewed.

[2017-04-10 18:08] grodrigues3 opened #2445 "Make Label Plugin work in issue and PR bodies when they open."
Currently only works for issue comments.

See the assign plugin for an example.

[2017-04-10 18:09] grodrigues3 commented on #2445
Jun Tee is working on this

[2017-04-10 20:32] fejta commented on #824
Closing this out because we intend to eliminate all blocking suites in favor of relying exclusively on presubmits: https://docs.google.com/document/d/10AN_hgEM77CLtfZ-3v7zRV4ep5phqw2jc0jY4n8WRus/edit

At the same time we improved (and are improving) the ability to find failures:
* Each dashboard at http://testgrid.k8s.io now includes a Summary tab which shows all tabs with consistent failures.
* W

[2017-04-10 20:32] #824 closed

[2017-04-11 02:38] fejta opened #2453 "Delete ancient jobs which have never passed"
Delete any job that:
* Ran this week
* Has been running since 2016
* Has never passed

The following 35 jobs meet this criteria:

[code]

Saving the following jobs that meet this criteria:
* `ci-kubernetes-e2e-gce-federation-serial` - https://github.com/kubernetes/kubernetes/issues/44354 (sig-federation)

**Would you like to save any of these jobs?** If so then please:
* Create an issue in kuberne

[2017-04-11 03:29] madhusudancs commented on #2453
Shouldn't be deleted. We are having various problems with it and @shashidharatd is tirelessly working on it.

Shouldn't be deleted either. However, we need a plan to fix this which we don't have yet.

[2017-04-11 03:33] madhusudancs commented on #2453
Also, we just deleted `ci-kubernetes-e2e-gci-gce-federation` and `ci-kubernetes-e2e-gce-federation-release-1.5` today - PR #2435.

[2017-04-11 03:59] k82cn opened #2454 "submit-queue can not pick the approved / lgtm issue"
Hi team,

In https://github.com/kubernetes/kubernetes/pull/40800 , all test are green & passed; but submit queue still report `Required Github CI test is not green: Jenkins Bazel Build` and did not pick it up.

What can I do to correct it?

[2017-04-11 04:52] fejta commented on #2454
@spxtr make a comment on the issue to ensure the munger picks up the new state.

[2017-04-11 05:34] spxtr commented on #2454
I said "@k8s-bot bazel test this", it reran the test, and it didn't pick up the status...

[2017-04-11 05:37] lukaszgryglicki commented on #2369
@grodrigues3 I'll work on this. May take a little time because this will be my first work on kubernetes/test-infra.

[2017-04-11 05:41] krzyzacy commented on #2369
oh, already done.

/close

[2017-04-11 05:41] #2369 closed

[2017-04-11 05:44] lukaszgryglicki commented on #2369
Ok will pick up other then.

[2017-04-11 05:46] lukaszgryglicki commented on #2196
Working on that.

[2017-04-11 06:40] lukaszgryglicki commented on #2196
/assign @lukaszgryglicki

[2017-04-11 06:52] fejta commented on #2454
Right that's because that comment invalidated the previous run

[2017-04-11 06:52] krzyzacy commented on #2196
@lukaszgryglicki you want to join org from the bot link first :-)

[2017-04-11 07:14] lukaszgryglicki commented on #2196
Yea. I'll wait for @grodrigues3 invitation, while working on this locally. This would be my first issue so I need some time to figure things out.

[2017-04-11 07:56] k82cn commented on #2454
thanks for your help, the PR was merged :).

[2017-04-11 07:56] #2454 closed

[2017-04-11 11:14] lukaszgryglicki commented on #2196
This is ready actually - but I must figure out how to create PR first. And also add some nasty edge cases. Will probably finish tomorrow.

[2017-04-11 12:51] lukaszgryglicki commented on #2196
Created 1st PR, not sure if this is correct or not.
I was requested to sign CLA - done.
Also this pr doesn't need release notes imho:
https://github.com/kubernetes/test-infra/pull/2456

[2017-04-11 17:00] timothysc commented on #2453
+1 to remove &
+1 close the open issue(s) related to that

[2017-04-11 18:17] fejta commented on #2453
@madhusudancs @shashidharatd we can definitely keep those two jobs (and thanks for working to fix them!) Will you please create issues fort `ci-kubernetes-soak-gce-federation-test` and `ci-kubernetes-e2e-gce-federation-serial` as described above?

[2017-04-11 18:34] madhusudancs opened #2457 "Fix ci-kubernetes-soak-gce-federation-test"
This job is broken due to problems in the corresponding deploy job. It has been in this state for a while due to test-infra issues and @shashidharatd has been tirelessly working on it. This issue is to track the progress towards making the soak test work.

[2017-04-11 18:35] madhusudancs commented on #2457
cc @kubernetes/sig-federation-bugs

[2017-04-11 18:50] madhusudancs commented on #2453
Filed

1. #2457 for ci-kubernetes-soak-gce-federation-test
2. https://github.com/kubernetes/test-infra/issues/2453 for ci-kubernetes-e2e-gce-federation-serial

[2017-04-11 18:52] fejta commented on #2457
Please:
* Recreate this issue in kubernetes/kubernetes
* Add at least one sig and area label
* Link back to https://github.com/kubernetes/test-infra/issues/2453

[2017-04-11 21:28] madhusudancs commented on #2457
@fejta this is a test infra issue because it's not the tests that are broken, but the infrastructure itself. If you still think this should be filed in the core repo, I will be happy to move it. But this is really the right place IMO.

[2017-04-11 21:53] fejta opened #2462 "Add @marun to k8s org for test-infra oncall"
/assign @grodrigues3 @smarterclayton @eparis

/cc @marun

Maru volunteered to join our test-infra rotation (awesome and thank you!). I would also like to add him to the kubernetes org at the same time. We probably should have done this earlier when we made him part of [the 1.6 release team](https://github.com/kubernetes/features/blob/master/release-1.6/release_team.md) but better late than never.

[2017-04-11 21:59] eparis commented on #2462
he's already a member of the kube org...

[2017-04-11 22:00] grodrigues3 commented on #2462
/close

[2017-04-11 22:00] #2462 closed

[2017-04-11 22:01] eparis commented on #2462
(unless someone did it in the time it took me to check :))

[2017-04-11 22:01] fejta commented on #2462
Sorry I think I was just expecting it to appear on his page but it doesn't because it's private?

[2017-04-12 00:16] crimsonfaith91 commented on #2445
I am carrying out some tests on the pull request and issue features.
ignore the comments below.

[2017-04-12 00:17] crimsonfaith91 commented on #2445
/area

[2017-04-12 00:17] crimsonfaith91 commented on #2445
/area infra

[2017-04-12 00:18] crimsonfaith91 commented on #2445
/priority critical

[2017-04-12 00:18] crimsonfaith91 commented on #2445
/priority

[2017-04-12 00:19] crimsonfaith91 commented on #2445
/kind

[2017-04-12 06:54] lukaszgryglicki commented on #2346
I have an idea:
Status/Label `needs-rebase` can only change when base/master branch changes.
Why not check for merges for `master` branch (via WebHooks) and on every merge to `master` check all open PRs for `needs-rebase` label and update it if needed (add or remove)?

I can work on this.

[2017-04-12 06:59] colhom opened #2467 "Access to CI hyperkube container image"
Reading through the GCE federation-e2e logs, I've noticed that kubefed pulls the hyperkube image from `gcr.io/k8s-jkns-e2e-gce-federation/hyperkube-amd64`. I'm currently working on implementing federation-e2e on AWS using kubefed, and have noticed that anonymous pull on that repo is forbidden.

Would it be possible to open up anonymous pull access to `gcr.io/k8s-jkns-e2e-gce-federation/hyperkube-a

[2017-04-12 12:21] shashidharatd commented on #2457
@madhusudancs, @fejta,
I analyzed the latest failures in federation soak deploy job and below is my finding.
federation soak deploy job is failing to find `hyperkube` image which is pushed by federation-soak-build job. this is happening because we are using `ci/latest` version to run the job and it may happen that `ci/latest` version is recently updated with non-federation build.
This problem is n

[2017-04-12 15:41] lukaszgryglicki commented on #2346
Some initial work on this (test coverage + few changes needed to handle merged, mergeable, status fields from PullRequestEvent json payload).
No PR created yet, I'll continue work on that tomorrow.
Link: https://github.com/kubernetes/test-infra/compare/master...lukaszgryglicki:lukaszgryglicki-2346-needs-rebase-label

[2017-04-12 17:01] spxtr commented on #2346
Two caveats I think:

1. We only have 5000 API tokens per hour. If we have to check every PR individually then with hundreds of open PRs we are going to have to be very careful about token usage. If the `mergeable` attribute is a part of the `GET /repos/:owner/:repo/pulls` list then we're okay, but otherwise this is pretty much a non-start.
1. `mergeable` takes a few moments to update after master

[2017-04-12 17:16] crimsonfaith91 commented on #2445
/sig-node-misc

[2017-04-12 17:24] lukaszgryglicki commented on #2346
I've already seen problem nr 2 in `mungegithub`'s IsMergeable.
I'll check nr 1 tomorrow (specially `GET /repos/:owner/:repo/pulls`) to see if `mergeable` is here.

My idea was to use `GitHub.FindIssues` with `"is:open is:pr label:lgtm` query.
And then I was planning to iterate such PRs and check if their `mergeable` and `needs-rebase` are synced.

Anyway - suggestions welcomed, I'm done for a day,

[2017-04-12 17:25] cblecker commented on #2346
This leaves out PRs that aren't LGTM yet, which runs into the situation I described [here](https://github.com/kubernetes/test-infra/issues/2346#issuecomment-289833773).

[2017-04-12 17:49] lukaszgryglicki commented on #2346
I see, and without adding lgtm to FindIssues query there will be a lot of PRs to process.
So I'll check `GET /repos/:owner/:repo/pulls` if I have required info there.
Or eventually I will ahve to revert to `mungegithub` approach and play with checking frequency.

Not sure yet (one of my first tasks) how mony api points is consumed by single` FindIssues` call.
And then I have issues list returned,

[2017-04-12 17:52] fejta commented on #2457
Yes please move this into the primary repo. And understood that this is not the tests failing. Thanks!

[2017-04-12 18:00] ixdy commented on #2457
@shashidharatd option 3 is to block the federation-deploy job from running while the federation-build job is running. That is a 1-line fix.

[2017-04-12 19:01] spxtr commented on #2346
[FindIssues](https://developer.github.com/v3/search/#search-issues) hits the [search API](https://developer.github.com/v3/search/) so you're limited to 30 requests per minute, but it can return up to 1000 items at a time.

[2017-04-12 19:02] spxtr commented on #2346
Prow runs plugins in separate goroutines, so it's fine to just wait for a minute before asking about mergeability.

[2017-04-12 19:28] madhusudancs commented on #2457
@fejta @ixdy @shashidharatd moved the discussion to https://github.com/kubernetes/kubernetes/issues/44402

[2017-04-12 19:35] madhusudancs commented on #2467
I don't think it is dangerous to make these images world-readable. We were just being conservative. But the question is, how do you know which image tags you want? And what if that tag is not available?

[2017-04-12 20:11] lukaszgryglicki commented on #2368
Working on this.

[2017-04-12 20:53] colhom commented on #2467
@madhusudancs the image tag for the `hyperkube-amd64` image is generated by replacing `+` with `_` in the Kubernetes version. I'm not sure if it's guaranteed that the `hyperkube-amd64` image has been pushed by the time the e2e job gets kicked off. IIRC, it's pushed as part of the same build job that uploads the release bundle `kops-e2e` already consumes, in which case we should just be able to ass

[2017-04-12 20:59] madhusudancs commented on #2467
What I was asking was, how do you obtain the version string?

Oh I see. This runs as part of kubernetes jenkins? That wasn't clear. If that's the case, it is not that difficult to block/trigger on the build job.

[2017-04-12 21:17] colhom commented on #2467
https://github.com/kubernetes/kubernetes/blob/master/federation/cluster/federation-up.sh#L49-L70

Eventually it will, I'm just building federation e2e into `scenarios/kubernetes_kops_aws.py` and doing testing by running the scenario file directly.

When it's running in jenkins, it should get triggered by the `kubernetes-federation-build` job. We should also version-lock the underlying cluster vers

[2017-04-12 21:35] spxtr commented on #2054
Done.

[2017-04-12 23:40] colhom commented on #2467
@madhusudancs thanks for discussion/opening the image repo up. This is resolved now.

[2017-04-12 23:40] #2467 closed

[2017-04-13 05:38] lukaszgryglicki commented on #2368
So this changes were requested (here: https://github.com/kubernetes/test-infra/pull/2456#issuecomment-293693766)
- make sure that munger will not merge if there is `release-note-needed` Label
- release-note munger will not apply `do-not-merge` (unconditionally? just remove that functionality)?

wip.

[2017-04-13 11:10] lukaszgryglicki commented on #2368
Done.

[2017-04-13 13:58] netroby opened #2479 "Author information lost."
A normal commit merge log will looks like
[code]

The Author: section contains the origin PR author.

And the k8s-bot just made author information lost

that's not good.
[code]

[2017-04-13 14:21] eparis commented on #2479
That's a merge commit. That is correct. The bot was responsible for the merge commit. Start by looking at `Merge: e4752d612a c9535869fc` It merged the SHAs on the left (e4752d612a) and the right (c9535869fc) as this new commit. If you are interested in the commits inside the left and the right branch you'd have to `git log` on those. Since the left side is usually the HEAD the right side is more i

[2017-04-13 14:21] #2479 closed

[2017-04-13 17:32] rmmh commented on #2479
This is exactly what happens when you press the "Merge" button on Github, since that's the interface that the merge bot is using. That's why it's "Commit: GitHub <noreply@github.com>".

[2017-04-13 19:04] yujuhong commented on #2453
The "non-cri" jobs are just there to make sure they are no more flakier than their "cri" counterparts. We plan to remove all of them once we remove the implementation, hopefully in a couple of weeks.

On the side note, many of the jobs without the "non-cri" tags also fit the same criteria but are not on the list:
https://k8s-testgrid.appspot.com/google-gce#gce-flaky
https://k8s-testgrid.appspot.co

[2017-04-13 19:05] fejta commented on #2453
`gce-flaky` has passed at some point during its existence. The `ci-kubernetes-e2e-non-cri-gce-flaky` has passed exactly 0 times. Ever.

[2017-04-13 19:12] rmmh commented on #2366
Gubernator is now properly parsing the approval blocks, so the dashboard will properly show PRs that need your approval.

However, the bot *also* assigns the approvers, meaning they receive all the notification spam. What if we just removed the assignment portion?

[2017-04-13 19:13] ixdy commented on #2366
does the bot assign approvers? or just cc them?

[2017-04-13 19:19] yujuhong commented on #2453
Ah...I missed the part "since February" in your original post.

`gce-flaky` has been around much longer than non-cri-gce-flaky, so I don't doubt that it has passed before. They have been equally flaky in the past two weeks though, so I don't expect the non-cri jobs to magically heal itself unless their counterparts are fixed.

[2017-04-13 19:23] fejta commented on #2453
What is the plan fix the flaky suite?

This week I will only delete jobs that have not passed in 2017, which excludes the non-cri jobs since they passed in February. After we delete these then I'll find the next oldest set of jobs that have not passed, which will include the non-cri jobs assuming they still exist.

[2017-04-13 19:25] yujuhong commented on #2453
I think that goes to the individual test owners of the flaky suites.

Ack.

[2017-04-13 19:27] grodrigues3 commented on #2366
I think it just cc's them. @apelisse made some changes recently though.

[2017-04-13 22:17] #2457 closed

[2017-04-13 22:20] madhusudancs commented on #2258
This is now fixed.

Ref: PR #2318, https://github.com/kubernetes/kubernetes/pull/44117, https://github.com/kubernetes/kubernetes/pull/43170

[2017-04-13 22:20] #2258 closed

[2017-04-13 22:54] madhusudancs commented on #2259
The job that recycles the federated clusters is time-triggered and runs as a CI job. The tests run in pull jobs. These two jobs run in two separate Jenkins instances and hence cannot be configured to block each other.

The solution that I am working on right now uses GCS to hold the locks required to coordinate these two jobs. We already have a bucket in GCS where we store the shared state of thes

[2017-04-13 23:02] madhusudancs commented on #2259
cc @nikhiljindal

[2017-04-13 23:49] csbell commented on #2259
A few comments/concerns:
* Do you foresee the deploy job be starved by an odd combination of insufficient poll frequency and constant pull jobs (particularly around release time?).
* Should the deploy job complain after being unable to see a free ``federated-clusters.lock`` ?
* Should the pull job put its build number and it time-of-day in there pr do you think just a build number is sufficient to

[2017-04-14 00:20] madhusudancs commented on #1069
I meant the logs uploaded to GCS and available in the artifacts/ directory.

@perotinus fixed this in PR #2231 and https://github.com/kubernetes/kubernetes/pull/43028.

[2017-04-14 00:20] #1069 closed

[2017-04-14 00:31] madhusudancs commented on #2259
This shouldn't happen. The very first thing that the `deploy` job does is to delete the `kubeconfig` file. Absence of this file blocks new `pull` jobs. So new pull jobs cannot be scheduled once the deploy job begins.

Yeah, good point. I will include this. It should time out after some point and just proceed. If the deploy job waits for 90 minutes then there must something wrong with the tests. Th

[2017-04-14 00:37] #2196 closed

[2017-04-14 01:17] fejta opened #2493 "Enable all verify checks on presubmit"
ci version uses `--force`: https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L219
pull version doesn't: https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L402

Let's make the pull version (which runs on presubmit) use `--force` and then downgrade the ci version to non-blocking (since it just duplicates what we already ran on presubmit).

blocking list: https

[2017-04-14 01:44] spxtr opened #2495 "Expose user-triggerable jobs on prow"
The following YAML document, when `kubectl create -f`'d by someone with access to the cluster, will start a postsubmit:
[code]
It's very simple to do, and we should expose this functionality. There are a couple obvious options:

1. Expose a `/rerun` endpoint on [prow.k8s.io](https://prow.k8s.io) for each job, maybe with the ⟳ symbol or something, that simply returns a YAML document that the user c

[2017-04-14 01:45] fejta opened #2496 "Eliminate all prioritization logic from submit queue"
We expect the queue to remain at or near a depth of zero at all times. Batched merges ensure this is possible by increasing the maximum merge capacity.

When we did not have batched merges it would often take a week or more to merge code. This resulted in our adding a lot of complicated logic to the submit queue to order things correctly.

We want to favor maximizing the chance that a batched run

[2017-04-14 01:47] spxtr commented on #2496
I'm generally in favor, but I think there are still cases where skipping the queue is appropriate. https://github.com/kubernetes/kubernetes/pull/40777 is an example. This PR will cause a merge conflict with just about any other PR in the repo. It is extremely difficult to get it to merge without priority labels.

[2017-04-14 01:50] fejta commented on #2496
A queue depth of zero generally resolves that problem, and manually merging a PR can handle this kind of (rare) scenario.

[2017-04-14 01:59] spxtr commented on #2496
A queue depth of zero doesn't resolve it, but manually merging does.

The reason a queue depth of zero doesn't resolve it is because it takes so long for presubmits to run. Once the PR gets booted off the queue, Mike has to rebase it, and it takes a full hour for it to get back on the queue again, or longer if it hits a flake. During that hour, if any other PR finds its way onto the queue then it

[2017-04-14 02:30] spxtr commented on #2054
/reopen

[2017-04-14 02:31] spxtr commented on #2054
/close

[2017-04-14 02:31] #2054 closed

[2017-04-14 03:03] dettervt commented on #2237
Fixed in #2439 (and `commands.md` updated in #2497)

[2017-04-14 03:11] cblecker commented on #2237
/close
Thanks @dettervt :)

[2017-04-14 03:12] cblecker commented on #2237
/assign
/close

[2017-04-14 03:12] cblecker commented on #2237
/close
picky bot

[2017-04-14 03:12] #2237 closed

[2017-04-14 04:36] dettervt commented on #1632
@foxish
Are you currently working on this?

Seems like it would be a change to
`mungegithub/github/github_test.go`
`mungegithub/github/testing/github.go`
`mungegithub/mungers/assign-fixes_test.go`
`mungegithub/mungers/cherrypick-auto-approve_test.go`
`mungegithub/mungers/cla_test.go`
`mungegithub/mungers/path_label_test.go`
`mungegithub/mungers/release-note-label_test.go`
`mungegithub/mungers/stal

[2017-04-14 06:25] ixdy commented on #2493
The reason we don't `--force` in PRs right now is that the disabled checks are very slow.

[2017-04-14 06:28] ixdy commented on #2493
The reason we don't `--force` in PRs right now is that the disabled checks (which relate to godeps) are very slow.

We do run these checks when there are godep changes, but there's little signal provided by running them otherwise.

We force run the checks in CI because upstream changes can potentially break them (e.g. if a URL changes). We don't want to wait until the next time someone changes a g

[2017-04-14 06:43] spxtr commented on #2493
It seems to add about 10 minutes to the runtime, judging by [this](https://prow.k8s.io/?type=presubmit&job=pull-kubernetes-verify&state=success) vs [this](https://k8s-testgrid.appspot.com/google-unit#verify-master&graph-metrics=test-duration-minutes).

[2017-04-14 15:36] kargakis commented on #2054
/interesting

[2017-04-14 17:51] fejta commented on #2054
k8s-ci-robot added the label kind/interesting

[2017-04-14 21:02] fejta opened #2502 "//triage:script_test does not work"
/assign @rmmh

[2017-04-14 21:14] grodrigues3 commented on #2336
@Sevii can you fix this?

[2017-04-14 21:16] grodrigues3 commented on #1828
@Sevii may require gaining some familiarity with the Approvers process, but also something worth getting started on

[2017-04-14 21:18] grodrigues3 commented on #1688
/close

[2017-04-14 21:20] grodrigues3 commented on #1688
might be fixed by https://github.com/kubernetes/test-infra/pull/2199
and
https://github.com/kubernetes/test-infra/pull/2344

[2017-04-14 21:20] #1688 closed

[2017-04-14 21:20] spxtr commented on #2336
I think we can just remove the requirement to be assigned to set a release-note, and instead just require you be an org member. That wasn't a very good requirement in the first place.

[2017-04-14 21:21] grodrigues3 commented on #1687
we solved most of this

[2017-04-14 21:22] grodrigues3 opened #2504 "Propagate Standard Subset of Labels Across All K8s Repos (labels.yaml files need to be updated)"
kubernetes
kubernetes.github.io
contrib (might need manual renames first)
features

[2017-04-14 21:22] spxtr commented on #1828
When we cut a release branch, we can remove all OWNERS files except for the top-level file, and set the release owner as the approver within it. Then our OWNERS implementation doesn't need to change :)

[2017-04-14 21:25] grodrigues3 commented on #2504
We're going to try and use prow to keep track of when certain protected labels are changed in any repos.  If they are, create a new PR in the test-infra repo that modifies the source label file.

Better description here:
https://docs.google.com/a/google.com/document/d/1x373zsIWi69mbwIBjh-LIAofaw_cNt8TCB5NGUeUdEY/edit?usp=sharing

[2017-04-14 21:26] Sevii commented on #2336
@grodrigues3 I can take a look later today.

[2017-04-14 21:27] ixdy commented on #1828
@spxtr that might make cherrypicks and fast-forwards somewhat trickier.

[2017-04-14 21:28] grodrigues3 commented on #2504
@Sevii @lukaszgryglicki @dettervt
All of you have been involved in contribX efforts and are looking for work.  This is pretty high priority, and if one of you could start working on the synchronization part, that'd be AWESOME.

1. Create a labels.yaml file in test infra repo that contains subset of labels we want in all repos (start with the area/, kind/ , priority/ , lgtm, approved and sig labels

[2017-04-14 21:33] grodrigues3 commented on #2366
@kubernetes/sig-contributor-experience-feature-requests @Sevii @lukaszgryglicki

This is a pretty simple one which could really improve our contributor's experience.

[2017-04-14 21:33] grodrigues3 commented on #2366
@crimsonfaith91

You could also try this one out

[2017-04-14 21:39] crimsonfaith91 commented on #2366
Noted. I will have a look at it asap.

[2017-04-14 21:40] spxtr commented on #2504
Writing a prow plugin is certainly possible, but it'll be tricky. One alternative is to write a program that runs daily under prow and does the following:

1. Get a list of all repos under the kubernetes org with [`GET /orgs/kubernetes/repos`](https://developer.github.com/v3/repos/#list-organization-repositories).
1. For each repo, list all labels in the repo with [`GET /repos/kubernetes/foo/label

[2017-04-14 21:50] spxtr commented on #1828
How so?

[2017-04-14 22:04] rmmh commented on #2493
it's also *really* flaky

[2017-04-14 22:10] spxtr commented on #2493
I've always found the verify-godep step a little suspicious. One major reason to vendor code in the first place is that if it breaks or disappears upstream then we don't break. Say we vendor a library called `github.com/spxtr/left-pad`. At some point I delete this repo from GitHub. Because kubernetes vendors the library, everything still builds fine. From a code perspective, no change is made. How

[2017-04-14 22:11] fejta commented on #2493
I want to pick one of these perspectives and act on it:
* Regressions in the `--force` checks are important enough that we want to block everyone's merges on it, so we run it in presubmit
* We do not need `--force` checks to block everyone's merges, so we take it out of the blocking suite

The current situation -- we do not test this on presubmit and yet block everyone's merges when it fails -- is

[2017-04-14 22:15] rmmh commented on #2493
I'm fine with 2. We *do* do vendor tests on presubmit if a file with the right smell changed (vendor or one of its metadata files). I'm fine with taking it out of the blocking suite.

It has failed a few times when upstream goes away or does something weird, but that's something we can fix asynchronously.

[2017-04-14 22:48] bgrant0607 commented on #2366
@spxtr @apelisse Yes, I complained shortly after the approval mechanism was turned on, and so did @thockin.

A direct result of the current approach is that I blackhole all github notifications, which I'm sure makes it take longer for PRs to merge than if I could actually pay attention to github notifications.

In addition to waiting until LGTM, we want the bot to not notify the approver at all, b

[2017-04-14 23:14] #2502 closed

[2017-04-14 23:46] Sevii commented on #2336
@spxtr I created a PR  (https://github.com/kubernetes/test-infra/pull/2508) to remove the requirement to be assigned or a reviewer. I am not sure if this will handle the requirement to be an org member, I will need to find that functionality.

[2017-04-15 05:44] lukaszgryglicki commented on #2504
I no one picks that, I can work on it after the Holidays.

[2017-04-17 14:22] mtaufen commented on #2453
Sorry I'm a bit late to the party here.

I disagree with just deleting tests because they haven't passed in a while. Poking around the testgrid, some of these suites are pretty green, with just a few individual consistently-failing tests. It likely means the people responsible for the tests don't have the cycles to fix them - or that the tests don't really have clear owners. We shouldn't try to fi

[2017-04-17 15:50] mtaufen commented on #2453
I'd rather have a fixit or something for the tests than just delete failing ones.

[2017-04-17 16:18] mtaufen commented on #2453
https://github.com/kubernetes/kubernetes/issues/44563

[2017-04-17 17:47] grodrigues3 commented on #2504
@lukaszgryglicki sorry, which holidays are you referring to?  I just want to get a sense of the timeline for this.

[2017-04-17 18:30] mikedanese commented on #1400
https://github.com/bazelbuild/rules_docker#docker_push would do this for our bazel builds.

[2017-04-17 18:34] spxtr opened #2512 "Commenting doesn't remove "Needs Approval""
I was expecting that making a comment as an approver would drop the PR off of my needs attention list, but it doesn't. Should it?

[2017-04-17 18:36] fejta commented on #2453
Renaming is not the issue here. All of suites started running in 2016 and have not passed in 2017.

Note that there are around 100 suites in total that have never passed, it might be better to prioritize getting these to work (as I'll target these in the next round of deletion).

However I can hold off on deleting this set of jobs until May 1 if you think you'll be able to fix them.

[2017-04-17 20:32] grodrigues3 commented on #2336
/assign @Sevii

[2017-04-17 23:59] mikedanese opened #2514 "scenarios should support image overrides"
a la https://github.com/kubernetes/test-infra/blob/master/jenkins/dockerized-e2e-runner.sh#L37

[2017-04-18 00:07] #2336 closed

[2017-04-18 02:11] dettervt commented on #2504
If @lukaszgryglicki doesn't end up replying, I can take a look as well.

[2017-04-18 02:20] fejta commented on #2514
That file is dead. What do you want to do? We have canary jobs that allow us to test new images before releasing them.

[2017-04-18 05:24] lukaszgryglicki commented on #2504
I was meaning Easter.
I'm back now, but I have other work to do currently, so @dettervt feel free to work on this.
I'll let You know when I have time to get back to kubernetes.

[2017-04-18 13:11] timothysc commented on #2453
So I'm flummoxed by some of these suites, unless there is a owner they will bit-rot.

[2017-04-18 15:37] mtanski commented on #2054
We've build a system around bare Pods to encapsulate our bath job system. The current Job system is opinionated to the point of not being useful. Continuously running the same failing job (or group of failing jobs) and blocking resources for other ones to run is not great default choice.

[2017-04-18 16:50] timothysc commented on #2132
@rmmh @fejta - where does the bot that auto-closes live?
Where exactly can we help with this...?

[2017-04-18 16:57] fejta commented on #2132
Why do you need a bot for that? Seems like it will be more efficient to just close them.

Suite failures: https://github.com/kubernetes/kubernetes/search?q=%22broken+test+run%22&state=open&type=Issues&utf8=%E2%9C%93
Test failures: https://github.com/kubernetes/kubernetes/search?q=author%3Ak8s-merge-robot&state=open&type=Issues&utf8=%E2%9C%93

Here's munger code that closes stale PRs: https://githu

[2017-04-18 17:01] timothysc commented on #2132
b/c then it would auto-close without me doing anything.

[2017-04-18 17:04] fejta commented on #2132
So auto close any flake issue that has been unmodified for 3 months? Sounds great to me.

[2017-04-18 18:47] grodrigues3 opened #2519 "Document Approvers Mechanism"
We need to explain how the reviewers and approvers mechanism works.

Lots of things have been changed since the original implementations, but we should cover things like:

- OWNERS files (what's in them)
- blunderbuss and the mungebot (how reviewers get assigned)
- lgtm label, the `/lgtm` command and its effect on merging
- the approval mechanism; per file basis
- (approval-handler.go) approved la

[2017-04-18 19:06] crimsonfaith91 commented on #2519
Thanks for opening the issue for me. I will work on it based on your original file, and notify you when i complete the first draft. :)

[2017-04-18 20:49] spxtr commented on #2514
Our scenarios have lines like this
[code]
that we combine into a `docker run` command like so
[code]

The problem here is that we need to change that tag atomically in a kubernetes/kubernetes PR in order to bump to go 1.8. The change is not backwards-compatible, so we can't switch to the new image before the k8s PR has gone in.

[2017-04-18 21:03] krzyzacy commented on #2514
you can add `--tag` flag to individual jobs.. And yeah we'll need a go1.8 image for versions that needs go1.8, shall I create one now?

[2017-04-18 21:08] spxtr commented on #2514
I don't think adding `--tag` helps, since it needs to be done atomically with a k/k change.

[2017-04-18 21:10] krzyzacy commented on #2514
https://github.com/kubernetes/test-infra/tree/master/jenkins/test-image

We'll need a 1.7 one, does k/k want go 1.8 now? If so I'll make one.

[2017-04-18 21:15] spxtr commented on #2514
Yes, we'll need a k8s 1.7 job, and it will need to be go 1.8 eventually.

[2017-04-18 22:05] mtaufen commented on #2453
Update: After talking to Erick about this, we're going ahead with deletion but will be tracking the PRs that delete tests in an aggregation issue so that they can be reviewed in more detail by domain-experts.

[2017-04-18 23:10] foxish commented on #1887
The script has been merged. However, I don't have sufficient visibility to know what it's doing under the hood, within kubetest. The test passes (https://k8s-testgrid.appspot.com/kubernetes-apps) but the junit output that I'm generating is not being parsed. Can you help @spxtr @krzyzacy @fejta

[2017-04-19 00:12] fejta commented on #2453
Migrated the "invest time into repairing these suites" into another issue.

In the near future will create a follow up issue to delete jobs which have been failing for more than 60 days in a row.

[2017-04-19 00:12] #2453 closed

[2017-04-19 00:13] krzyzacy commented on #2453
might want to automate this process

[2017-04-19 00:13] fejta commented on #2453
Interesting idea. Which part?

[2017-04-19 00:15] krzyzacy commented on #2453
Like, every month, check jobs has never passed for past month, send a warning email and deletion PR, merge the deletion if no-one cares.

[2017-04-19 00:38] fejta opened #2528 "Delete jobs that have failed for at least the last 60 days in a row"
http://velodrome.k8s.io/dashboard/db/bigquery-metrics

Delete any job which:
* Ran this week
* Failed every run for the last 60 days.

Example jobs:
[code]
Previous cleanup work: #2453

Current status: http://storage.googleapis.com/k8s-metrics/failures-latest.json

[2017-04-19 00:48] spxtr opened #2529 "Replace cmd/marque with kube-lego?"
As noted in https://github.com/kubernetes/test-infra/issues/1792#issuecomment-285127813 and in #1718, `cmd/marque` is a bit of a problem. It hardcodes the URL and my email, and it assumes the secret already exists. This causes increased pain in getting the cluster set up and hinders new users of prow.

I could fix these problems in particular, but we should also consider [kube-lego](https://github

[2017-04-19 00:50] spxtr commented on #1792
I'm going to close this in favor of #2529 and #2041.

[2017-04-19 00:50] #1792 closed

[2017-04-19 01:16] colemickens commented on #2041
Since a related issue was closed and in case someone else wants to look into this... I'm not actively working on this right now. If that changes, I'll update this comment/thread.

[2017-04-19 11:59] #1527 closed

[2017-04-19 11:59] stevekuznetsov commented on #1527
Fixed in https://github.com/kubernetes/test-infra/pull/2423

[2017-04-19 13:17] dettervt commented on #2504
Sure, I'll take a look. @grodrigues3 requested access to the linked doc

[2017-04-19 19:01] rmmh commented on #2528
Some tests are ONLY run on flaky suites. Are we going to just stop running them?

I guess that's a general problem. We should graph the test matrix-- show all the tests we have defined and which jobs they have run on in the last week. That way we can find tests that never run and flag them for revival or deletion.

[2017-04-19 19:19] fejta commented on #2528
There are a bunch of flaky suites.

[2017-04-19 21:11] krzyzacy commented on #544
ref https://github.com/kubernetes/test-infra/pull/2433

[2017-04-19 22:21] foxish commented on #1887
The tests are now being run:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-charts-gce/2811
* Testgrid: https://k8s-testgrid.appspot.com/kubernetes-apps#charts-gce

Closing this issue

[2017-04-19 22:21] #1887 closed

[2017-04-19 23:09] msau42 opened #2536 "Re-enable GKE GCEPD multizone tests"
Once GKE is fixed, re-enable the tests that were reverted in #2530

/assign

[2017-04-19 23:27] crimsonfaith91 commented on #2519
@grodrigues3

I plan to include following sections for first draft:
(1) Problems
(2) OWNERS Files: what are the files, their roles
(3) Blunderbuss: high-level overview of algorithms involved in selecting approvers
(4) LGTM Label: mechanism of /lgtm, effect on merging
(5) Approve Label: mechanism of /approve, effect on merging
(6) Approval Mechanism: a detailed example with steps involved
(7) Imple

[2017-04-20 00:22] krzyzacy opened #2537 "JENKINS_USE_EXISTING_BINARIES not set cwd properly"
[code]

We used to `cd kubernetes`, i.e. https://github.com/kubernetes/test-infra/blob/a49cd103add1b312ee2b34405f5ba2a1d805e72c/jenkins/e2e-image/e2e-runner.sh#L402, seems we want to at least keep the behavior in JENKINS_USE_LOCAL_BINARIES case?

/assign @fejta

cc @yguo0905

[2017-04-20 00:55] crimsonfaith91 commented on #2366
PR can be found here: https://github.com/kubernetes/test-infra/pull/2538

[2017-04-20 01:50] msau42 opened #2540 "Re-enable GKE NFSv3 tests"
Once GKE moves to 1.5.7+, re-enable the tests that were reverted in #2534

[2017-04-20 01:50] msau42 commented on #2540
/assign

[2017-04-20 03:02] #2529 closed

[2017-04-20 03:03] #1718 closed

[2017-04-20 04:52] #2495 closed

[2017-04-20 14:44] fejta opened #2544 "Sanity check prow jobs"
/assign @spxtr

Everything should define an --upload flag
Presubmits should use a --pull flag
config.json uses --mode=local

[2017-04-20 16:09] spxtr commented on #2432
#2545

[2017-04-20 16:09] #2432 closed

[2017-04-20 16:56] grodrigues3 commented on #2519
Outline looks great.  Only a few comments.

selecting reviewers.  (we have to be careful with the naming)

Links to the code would probably be a good idea too.

[2017-04-20 17:19] crimsonfaith91 commented on #2519
Having links to the code is a very good idea! With it, I can work on reducing description length to make the section more concise. :)

[2017-04-20 17:25] spxtr commented on #2445
#2505 will be deployed soon.

[2017-04-20 17:25] #2445 closed

[2017-04-20 18:43] spxtr opened #2546 "Allow configuring plugins on a per-repo or per-org basis."
Right now our `plugins.yaml` file looks like so:
[code]

This file simply controls which plugins are enabled on which repos in a `map[string][]string`, but there is currently no way to add fine configuration to plugins. The driving case is the trigger plugin, which requires a kubernetes member to say "ok to test". For all repos in kubernetes, kubernetes-incubator, and kubernetes-security, we want

[2017-04-20 18:57] spxtr opened #2547 "Invert job config specification"
We discussed this in #1961.
[code]
This will also allow us to naturally define jobs without a trigger, such as the enormous cluster tests.

[2017-04-21 17:18] pipejakob opened #2555 "prow: Allow SIG notification on job failure"
It would be great if prow supported a mechanism to notify a group of people when a particular job fails. This could be sending an email to a configurable address, or preferably, filing a GitHub issue with a configurable group @-mentioned for visibility. An additional knob for setting the threshold of number of failures before the notification might prove useful, but I personally would rather notic

[2017-04-21 21:01] michelle192837 commented on #2555
So for the two separate suggestions, with regards to TestGrid:

1) Email alerts are something I'll be working on adding in TestGrid (after some other work items), which should allow an email to be sent automatically when tests fail, with some configuration allowed.

2) For an auto-filled GitHub issue (which if I'm reading this correctly, would be auto-filing and tagging a test/config owner when fa

[2017-04-21 21:21] pipejakob commented on #2555
Great to hear that some of this work is already planned. And you're right, this doesn't have to be a prow-specific feature, so long as it's compatible with our prow-based jobs.

Is there a separate GitHub issue that this is duplicating for (1) that I should follow instead? And is it worthwhile to file a separate issue to track request (2)? I think email notifications will be a sufficient start, bu

[2017-04-21 21:52] rmmh commented on #2555
It seems like the job is failing several times a day: https://k8s-testgrid.appspot.com/misc#kubeadm-gce

Would you want an issue opened for each failed build, or a comment posted on a single issue, or what?

[2017-04-21 22:26] pipejakob commented on #2555
Thanks for the heads-up on that, I hadn't even noticed the recent failures. It looks like the new flakes are a combination of timeouts and hitting the project quota ceiling (https://github.com/kubernetes/test-infra/pull/2558 opened).

In an ideal world, I would expect to have a single issue opened for the job, regardless of how many repeated failures. On each subsequent failure, the issue's descri

[2017-04-21 23:35] foxish opened #2559 "Run prow and mungegithub in the same cluster"
Merging the ciongke cluster and the utility cluster would consolidate the automation we're running and make managing ACLs a little easier.
Right now, people who have access to either cluster are different.

cc @spxtr @grodrigues3

[2017-04-22 05:33] fejta commented on #2559
/assign @spxtr @grodrigues3

[2017-04-24 07:09] lukaszgryglicki commented on #2504
Also requested access - because it seems like I can work on it now.
In the meantime I'll review other issues on test-infra...
@dettervt are You working on this? Asking because I don't want to duplicate Your work?

[2017-04-24 10:46] lukaszgryglicki commented on #2386
Can You provide more details?
Like what should it do and what is the current state?

[2017-04-24 10:47] lukaszgryglicki commented on #2326
I can work on it but I would need more details, like example links to generate etc.

[2017-04-24 11:00] lukaszgryglicki commented on #1694
I will take a look on this, but this would be my first work on `gubernator` so it will take some time...

[2017-04-24 12:22] lukaszgryglicki commented on #1694
OK I have a working test infra...
First I see: `gubernator/github/classifier.py`:
L397: `('needs review', 'waiting', lambda a, u: u == assignee and a in ('comment', 'label lgtm'))`

So assignee will be notified when lgtm label was added to PR.
But this is fine I suppose...

But the I see unconditional loop to notify approvers:
[code]
My guess is that it can be a cause..... but will check this.

[2017-04-24 17:41] spxtr commented on #1694
/assign @rmmh @lukaszgryglicki

[2017-04-24 20:54] MrHohn commented on #1640
What is the right syntax to apply sig label?
I saw `/sig-<some-github-team>` in [command.md](https://github.com/kubernetes/test-infra/blob/master/commands.md), but `/sig-network` didn't seem to work (kubernetes/kubernetes#44203)?

[2017-04-24 20:57] grodrigues3 commented on #1640
@MrHohn I'll open a ticket to fix it.  We decided to make it apply on mentions (so @ sig-network-pr-reviews would use a regexp to pick out the network part and then hopefully apply the sig-network label).

Apparently that didn't work.

[2017-04-24 20:59] MrHohn commented on #1640
@grodrigues3 Thanks!

[2017-04-24 21:05] grodrigues3 opened #2563 "Sig Labels Not Correctly Applied"
The standard names for github teams in mentions got changed and we haven't yet updated our bot that automatically applies labels.

@ sig-network-misc

is now something like

@ kubernetes/sig-network-misc.

Please update the regex.

@crimsonfaith91 if you have time this would be great.

[2017-04-24 21:20] crimsonfaith91 commented on #2563
noted! thanks! :)

[2017-04-24 23:21] dettervt commented on #2504
@lukasredynk I hadn't gotten a chance to start, all yours

[2017-04-24 23:23] spxtr commented on #2504
Note that the doc is a bit out of date, and I suggest following https://github.com/kubernetes/test-infra/issues/2504#issuecomment-294242096 rather than it.

[2017-04-25 05:08] lukaszgryglicki commented on #1694
I'm not a member, and actually want to become one, but don't know how.

[2017-04-25 05:10] lukaszgryglicki commented on #2504
OK so I will switch to this.

[2017-04-25 05:23] fejta commented on #1694
Sent you an invite to collaborate on this repo

[2017-04-25 05:25] lukaszgryglicki commented on #1694
Thanks.

[2017-04-25 05:38] lukaszgryglicki commented on #2504
/assign @lukaszgryglicki

[2017-04-25 05:49] fejta commented on #1694
/assign @lukaszgryglicki

[2017-04-25 06:04] lukaszgryglicki commented on #1694
I've created PR for this, it will fix described behaviour, but I think that LGTM-em PRs actually should be visible in "Needs Attention".
Assume we have PR that is LGTM-ed.
Author makes some changes to it and pushes.
Then LGTM label is kinda outdated (some changes were made after LGTM), so assignees (reviewers) should take a look again.
And that was the case here imho.
PR here (but I think it needs

[2017-04-25 06:25] lukaszgryglicki commented on #2504
@spxtr I'll create program as You suggested.
Can You help me a little?
I have just a few questions:
-Can You point me to the place/files in prow where I can put this external program call?
-Are there any examples of such external program call from prow?
-Should it be written in golang (just like prow) or python, ruby etc. can be used too?
-One off script.... not exactly sure what is the difference

[2017-04-25 07:42] lukaszgryglicki opened #2571 "Bazel build fails on macOS (lotus/terminal related issues)"
Current `master` branch:
[code]

And if I replace `terminal_notwindows.go` with `terminal_bsd.go` (that helped few days ago):

[code]

Adding this lines:
[code]

to `vendor/github.com/Sirupsen/logrus/terminal_notwindows.go` (just before `func IsTerminal`) helps locally for me (on my macOS Sierra), but because the name suggest "not windows" then I suppose it should be tested in many OS-es.

And if

[2017-04-25 15:15] lukaszgryglicki commented on #2504
I have most of the stuff in the above link...
-Configured labels.yaml
-Get all kubernetes repos (and stored locally in YAML file for local devel mode)
-Get all repos all labels (also stored in local YAML for local dev)
-Some first tests of YAML loading
-I will write sync function next (meaning function that detects missing labels on each repo).

I wonder if this program should update/add labels or

[2017-04-25 16:51] grodrigues3 commented on #2504
cc @foxish

[2017-04-25 17:31] spxtr commented on #2504
It can just run as a daily job on prow, which means you can use our standard job control flow. The code should probably live outside of the prow folder. One example of such a job is the triage job, [configured here](https://github.com/kubernetes/test-infra/blob/062d52d1043956f8a66480c410f75c7940f1bcd8/prow/config.yaml#L811-L826), [code here](https://github.com/kubernetes/test-infra/tree/master/tri

[2017-04-25 17:33] spxtr commented on #2571
Possible dupe of #2315?

You can just use `go build` for developing prow. I have the default `make` rule set to do a `go build` and `go test`.

[2017-04-25 18:26] lukaszgryglicki commented on #2504
OK thanks.
For now I've started work in prow/label_sync.
I will finish it "as is" and then eventually adjust edge cases and details (like separate folder or separate secrets), for now they're shared with prow.
I will work on this probably the day after tomorrow, because I have something scheduled for tomorrow.
Or if IO manage to finish that scheduled task then I'll work on this as weel.
Can You ta

[2017-04-25 18:27] lukaszgryglicki commented on #2571
Well I can work locally - this is not a problem at all.
I'm only signalling that there is such an issue.

[2017-04-25 18:35] spxtr commented on #2504
It looks reasonable so far. I suggest moving it into `test-infra/label_sync`, since it's not a part of core prow but a prow job instead. If you'd like to use go-github so that you don't have to implement github API calls, feel free. Prow uses its own github client for various reasons, but you don't have to if you don't want to.

[2017-04-25 18:41] nikhiljindal opened #2575 "prow shows tests passed even tough a test case failed"
From http://prow.k8s.io/?type=presubmit

<img width="1371" alt="screen shot 2017-04-25 at 11 35 40 am" src="https://cloud.githubusercontent.com/assets/10199099/25401846/b7b5598a-29ab-11e7-84f3-afdba02fbc62.png">

But looking at the logs, one test failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44139/pull-kubernetes-federation-e2e-gce/2090/.

Prow should hence have

[2017-04-25 18:44] fejta commented on #2575
Prow did the correct thing as the job exited with zero. Most likely this is because you asked ginkgo to ignore flakes:

[code]

[2017-04-25 18:44] #2575 closed

[2017-04-25 18:45] spxtr commented on #2575
We have an option to retry tests a certain number of times to avoid failing the job if there is a flake. Note that gubernator also shows it as a success. There is a flag to ginkgo, `--flakeAttempts`.

[2017-04-25 19:14] lukaszgryglicki commented on #2504
OK thanks, so I'll move it out of prow in final stage. For now I'lll finish it as is with full functionality, add test coverage etc.
In the meantime somebody should take a look on `labels.yaml`.
I've took those labels from `kubernetes/kubernetes` repo and filtered by doc provided:
[code]

[2017-04-25 23:21] ixdy commented on #1828
I guess my main concern is this situation:
1. We branch `release-x.y` from `master` for `x.y.0-beta.0`
2. We remove all OWNERS files in the repo, and replace the top-level OWNERS with the release owner
3. We continue adding changes to master, including some that affect OWNERS files
4. We try to fast-foward `release-x.y` from `master`. Now we're probably going to run into conflicts, because there a

[2017-04-26 00:37] spxtr commented on #1828
Ideally, changes to OWNERS files won't be cherry-picked, since they will be in their own PRs. You're right though, that probably will be annoying.

[2017-04-26 04:15] madhusudancs opened #2580 "Gubernator log viewer throws 500 for some tests"
Haven't seen a pattern but here is one instance where I consistently get 500: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44940/pull-kubernetes-federation-e2e-gce/2186/nodelog?junit=junit_05.xml&wrap=on

May be it is only federation tests because it has so much log data? This is kind of important for us, could someone take a look?

[2017-04-26 04:42] madhusudancs opened #2581 "Show per test consistency data in the test grid"
This data is already available in various forms in different places such as go.k8s.io/triage, https://github.com/kubernetes/test-infra/tree/master/experiment/bigquery, @fejta's "Top test failures" report to kubernetes-dev, etc. It will be really useful to consolidate this data on the test grid in a visualizable way. Options:
1. Color code the row heading corresponding to each test
2. Print the per

[2017-04-26 05:01] krzyzacy commented on #2580
`Exceeded soft private memory limit of 256 MB with 371 MB after servicing 73 requests total`

[2017-04-26 06:10] madhusudancs commented on #2580
How can we fix this?

[2017-04-26 06:41] fejta commented on #2580
/assign @rmmh

[2017-04-26 07:03] spxtr commented on #2581
cc @michelle192837 @krzyzacy

[2017-04-26 08:47] lukaszgryglicki commented on #2504
Moved code out of prow, I'll try to finish functionality needed and then think about configuring daily job for this - it seems like it need image with specific build - I'm not yet familiar with that process at all, so will have to follow some docs etc to create such images (speaking about new job in config.yaml).
OK working on syncing (I already have all data needed like loaded `labels.yaml` all k

[2017-04-26 13:02] lukaszgryglicki commented on #2504
`label_sync/main.go` added syncLabels function that gets required labels set and org's repo;'s labels set and returns UpdateData struct with operations required to sync all labels on all repos.

Added test suite for this function here:
`label_sync/main_test.go`

Will continue when I finish other tasks assigned on me (need to leave it for few days :( )
No PR yet, implementation here:
https://github

[2017-04-26 16:21] ixdy commented on #1828
Yeah, I'm less worried about cherry-picks and more worried about fast-fowards early in the release cycle (during code freeze), which I guess isn't what this issue is really talking about.

As long as we don't rewrite the OWNERS files until we exit code freeze (i.e. when we cut the RC), this should be OK.

[2017-04-26 17:16] grodrigues3 commented on #2132
Is anyone working on this?  And do we still agree that it's a good idea?  @crimsonfaith91 is looking for a task.

[2017-04-26 17:20] grodrigues3 commented on #1754
@crimsonfaith91 this could be a good project as well

[2017-04-26 17:34] crimsonfaith91 commented on #1754
I will start working on this issue. :)

[2017-04-26 17:36] spxtr commented on #1754
Note that it looks funky since we just got rid of merge-blocking jobs.

[2017-04-26 17:40] fejta commented on #1754
@crimsonfaith91 thanks! Sent you an invite to collaborate on this repo. Once you receive it you can `/assign` this issue to yourself.

[2017-04-26 17:41] crimsonfaith91 commented on #1754
@fejta noted! i will work on this issue first. thanks! :)

[2017-04-26 17:43] crimsonfaith91 commented on #1754
/assign @crimsonfaith91

[2017-04-26 18:02] rmmh commented on #2132
No, it should be a good starter task!

The auto-close stale PRs should work as a template.

[2017-04-26 18:16] crimsonfaith91 commented on #2132
Noted! I will work on this as well.
/assign @crimsonfaith91

[2017-04-26 18:24] rmmh commented on #2132
Actually, we could just extend the stale PR munger without too much work: https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/close-stale-pr.go#L283

[2017-04-26 18:27] crimsonfaith91 commented on #2132
@rmmh great point! many thanks! :)

[2017-04-26 20:28] crimsonfaith91 commented on #2132
@rmmh A quick extension is to remove all checks on whether the object is a PR or an issue. I am also thinking to change naming and messages such as "CloseStalePR" to "CloseStaleObj". Should I do so? If so, the file name has to be changed too.

[2017-04-26 20:55] rmmh commented on #2132
That sounds good. You'll want to skip `findLastHumanPullRequestUpdate` too, since that looks for review comments.

[2017-04-26 20:57] crimsonfaith91 commented on #2132
Yup! There is`findLastHumanIssueUpdate`, which will go over all the comments, including review comments.

[2017-04-26 21:01] rmmh commented on #2132
ListComments doesn't get review comments-- GitHub has an entirely separate API for that.

[2017-04-26 21:10] crimsonfaith91 commented on #2132
I see. I will change the code comments above the `findLastHumanIssueUpdate` function. In this case, why we want to skip `findLastHumanPullRequestUpdate`?

[2017-04-26 21:24] rmmh commented on #2132
Because only PRs have review comments, which is what that function looks for.

I would rename all the functions to be clearer :-)

[2017-04-26 21:26] timothysc commented on #2132
Only thing that needs agreement is a label name e.g. `dont-close` that prevents the bot from closing based on staleness.

[2017-04-26 21:35] rmmh commented on #2132
We can use the keep-open label.

One concern I have is that there are a *lot* of old issues that still seem interesting, including long-standing design issues.

We might want to start this by *only* closting stale issues with a `kind/flake` label. I'd want a wider discussion with the community before closing all the other issues.

[2017-04-26 21:40] timothysc commented on #2132
If we do the "warning this will be closed in 20-days" I think that is sufficient.

[2017-04-26 21:44] rmmh commented on #2132
I want to see a _lot_ more buy-in before commenting on and closing [3000 issues](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20updated%3A%3C2017-02-01%20). That doesn't sound helpful.

Most issues don't have owners like PRs do. Closing a PR for staleness makes sense, since the submitter needs to rebase it frequently, but the same rules don't apply to iss

[2017-04-26 21:46] timothysc commented on #2132
disagree, if the person cares they can reopen or apply the label.  If the bot gives instructions on how to apply the label so non-maintainers can do it then I think we're good.

[2017-04-26 22:45] michelle192837 commented on #2555
Good suggestions there, will take into consideration for autobug in future. ^^

In the meanwhile, I don't see an issue opened yet for either email notifications or autobug, so will track it here.

[2017-04-27 01:53] rmmh opened #2589 "Bootstrap setup_credentials happens after setup_root"
This means that failing to pull the repo (in setup_root) means no results will be uploaded. This happens for PRs that have merge conflicts.

[2017-04-27 01:54] fejta commented on #2589
Any python experts want to work on this? Should be a quick fix!

[2017-04-27 02:00] fejta commented on #2537
/assign @krzyzacy

What command was used here? Please reassign to me with that info.

[2017-04-27 02:02] fejta commented on #2528
I want to do the following:

* Run the **minimum** set of testing necessary to give us **confidence** in our releases
* Run the **maximum** set of testing we have the ability to **maintain**.

Right now it seems like we are running more tests than we have the ability to maintain. Therefore I am deleting the tests that seem to be providing the least amount of marginal value (based on the fact that

[2017-04-27 02:04] krzyzacy commented on #2537
anything uses [JENKINS_USE_LOCAL_BINARIES](https://github.com/kubernetes/test-infra/blob/5a7a07eb22801e4277333d719f998beeafe382da/jenkins/e2e-image/e2e-runner.sh#L83), it was a local job and probably already changed, but it can be reproduced by `--build` and `JENKINS_USE_LOCAL_BINARIES=y` in the job env.

[2017-04-27 06:01] krzyzacy commented on #2589
huh? it's more than flip the order of the two calls?

[2017-04-27 06:36] fejta commented on #2589
Not sure I haven't had the chance to look at it yet, just mentioning in case someone new in the community wants to work on this.

[2017-04-27 06:37] fejta commented on #2589
If no new community member picks this up I'll get to it eventually

[2017-04-27 17:53] grodrigues3 commented on #1631
@crimsonfaith91 this is another good one.

@kubernetes/sig-contributor-experience-misc

[2017-04-27 18:37] crimsonfaith91 commented on #1631
noted! i will have a look at it. :)

[2017-04-27 18:56] mbohlool opened #2594 "PR Dashboard: PR shows up in both Incoming and Outgoing list"
This is the PR: https://github.com/kubernetes/kubernetes/pull/44787

it showed at all three list and I "Ack"'ed the need attention one (I believe it didn't even need attention because I was the last one changing it).

[2017-04-27 19:01] grodrigues3 opened #2595 "Add Command To Remove Sig Label"
For symmetry, if we allow people to add certain labels, we should make sure they can remove those labels as well.

Currently, people can add sig labels by mentioning the sig but they have no way of removing them.

@kubernetes/sig-contributor-experience-misc @fejta

[2017-04-27 19:33] crimsonfaith91 commented on #1754
@fejta Do you mean changing [this](https://github.com/kubernetes/test-infra/blob/master/jenkins/test_history/gen_json.py#L151) when you mentioned `BUILD.txt`?

I apologize if it is not a good question. I am new to the Jenkins repo (and Python). Thanks! :)

[2017-04-27 19:36] fejta commented on #2594
/assign @rmmh

[2017-04-27 20:31] rmmh commented on #2594
It's in your incoming because you self-assigned. I should make those exclusive.

[2017-04-27 20:39] idvoretskyi commented on #2595
+1. It's a useful enhancement.

[2017-04-27 21:59] #1694 closed

[2017-04-27 22:33] crimsonfaith91 commented on #1631
@foxish @grodrigues3
After reading descriptions of issues involved, I am thinking about implementing two sub-features:
(1) check for keyword PTAL in new comments: what should the bot do when it found the keyword?
(2) parameterize ping duration

[2017-04-27 23:31] fejta commented on #1754
Intent here is to note the differences:
* CI results use paths like `logs/JOB_NAME/BUILD_NUMBER` and in that folder is a bunch of files like `started.json`, `finished.json`, etc.
* PR results use paths like `pr-logs/directory/JOB_NAME` path has a `pr-logs/directory/JOB_NAME/BUILD_NUMBER.txt` file, the contents of which are a `gs://kubernetes-jenkins/pr-logs/PR_NUMBER/JOB_NAME/BUILD_NUMBER` that st

[2017-04-27 23:59] crimsonfaith91 commented on #1754
thank you very much for the very detailed explanation! many thanks!

[2017-04-28 01:54] #1654 closed

[2017-04-28 01:54] krzyzacy commented on #2364
/assign @michelle192837

[2017-04-28 03:29] rmmh commented on #2594
Fixed in #2596

[2017-04-28 03:29] #2594 closed

[2017-04-28 04:27] fejta commented on #1631
Ptal could direct reviewers to the PR dashboard?

I'm not super sure this is necessary though now that we have gubernator, which already has the concept of whose turn it is to act on a pr

[2017-04-28 06:39] krzyzacy opened #2602 "SSH errors in prow e2e jobs"
[code]

For example, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ubuntu/6#k8sio-ssh-should-ssh-to-all-nodes-and-run-commands, and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-reboot-release-1-4/75?log#log

Maybe issues with the binded ssh key? Not sure yet.

cc @yguo0905

/assign @krzyzacy @spxtr

[2017-04-28 07:00] yguo0905 commented on #2602
These are the GCP ssh keys in the tests, which are set in prow/config.yaml.
[code]

Here are the AWS keys, which are not defined in prow/config.yaml.
[code]

Not sure what's in /etc/ssh-key-secret/ssh-private. Maybe we want to unset them in prow/config.yaml?

[2017-04-28 07:05] krzyzacy commented on #2602
You do not want to include AWS keys in gce jobs though.

I think we are missing something else? The [gce canary job](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-prow-canary/15609) uses the SSH key and seems still green.

[2017-04-28 18:21] crimsonfaith91 commented on #1631
@fejta Good point! i will discuss it with Garrett and Anirudh. :)

[2017-04-28 18:39] grodrigues3 opened #2605 "Write Munger To Verify All Issues In Milestone Have Sig-Label"
I believe the policy for 1.7 is going to be that all issues in the 1.7 milestone have a sig associated with it.  We should add some tooling to verify this is the case and notifying the Issue opener that they need to add a sig-label and can do so by mentioning a relevant sig.

[2017-04-28 18:41] grodrigues3 commented on #2605
Example of mentioning a sig and adding them.

https://github.com/kubernetes/kubernetes/issues/44975#issuecomment-298062283

[2017-04-28 18:51] grodrigues3 opened #2606 "Proposal: Standardize Repositories on Creation"
Great idea suggested by @thockin

We could use script that creates repositories according some template.  For example:

1. Create the top level OWNERS files and ask how to populate it (reviewers, approvers) on creation
1. Create the repo maintainers
1. Automatically create kubernetes labels: e.g lgtm, approved, sig labels, area labels (may not need to be done depending on [this](https://github.com

[2017-04-28 19:53] yguo0905 commented on #2602
I didn't set the AWS keys, they are set by default. That's why I guess not setting the GCP keys would make a difference.

Maybe the job does not use any SSH operations? But I do see the following errors.
[code]

[2017-04-28 22:37] yguo0905 commented on #2602
@fejta

[2017-04-28 23:52] yguo0905 commented on #2602
Also, is there an example on triggering a periodic job from prow locally, so that the prow configurations can be tested? I'd like to test new jobs before submitting PRs. (BTW, running test-infra/bootstrap.py for these jobs locally did not have the SSH error.)

I've looked at https://github.com/kubernetes/test-infra/tree/master/prow#how-to-test-prow and https://github.com/kubernetes/test-infra/tree

[2017-04-29 00:07] verb opened #2609 "Prow issue: Link to flake documentation for test failures"
When k8s-bot reports a failed test, it includes the message "Please help us cut down on flakes by linking to an open issue when you hit one in your PR". As a novice contributor I had to spend time researching what was expected of me.

There's already documentation for this, though, so we should just link to https://github.com/kubernetes/community/blob/master/contributors/devel/flaky-tests.md

Rela

[2017-04-29 01:07] thockin commented on #2606
It would be awesome if a bot was responsible for things like labels, and
all that config lived in github.  Change to config file, merge it, watch
labels get updated.

All I should need to add my repo to the bot is to add one line to a config
file.

On Apr 28, 2017 11:52 AM, "grodrigues3" <notifications@github.com> wrote:

[2017-04-29 01:43] #2609 closed

[2017-04-29 06:39] #2403 closed

[2017-04-29 06:40] fejta commented on #2059
/unassign
/assign @cjwagner

[2017-04-29 07:28] fejta commented on #2537
https://github.com/kubernetes/test-infra/blob/master/jobs/pull-kubernetes-e2e.env#L6 sets `JENKINS_USE_LOCAL_BINARIES=y` and this is used by all our PR jobs: https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L310

/unassign

Please give a more concrete example of a complete log, especially the kubetest command. A context-free snippet is not enough to debug.

I suspect that you'

[2017-04-29 08:11] fejta commented on #2602
Looks like the ssh creds are mounted to /etc/ssh-key-secret
In order for SSH to work you need the creds to be somewhere ssh will find them, such as $HOME/.ssh/

See: https://github.com/kubernetes/test-infra/blob/master/scenarios/kubernetes_e2e.py#L102

[2017-04-29 08:25] fejta commented on #2602
It looks like the key is rejected:
[code]

However the test logs show that the public key exists and is getting uploaded to project metadata:
[code]

If you check the project metadata it looks like that key is getting associated with the user root, which the ubuntu image is rejecting ssh requests for:

[code]

So I suspect the issue is that we need to attempt to login as a user other than root

[2017-04-29 08:33] fejta commented on #2602
I suspect we do not have this in other jobs because we set USER=jenkins in the env:
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce/7577?log#log

[2017-04-29 19:31] grodrigues3 commented on #2606
ContribX has someone working on that now:
https://github.com/kubernetes/test-infra/issues/2504

Our intended implementation will be auto opt-in.  I.e. all repos created will inherit the standard labels by default.  We actually don't have a way to opt-out of this.  Can you imagine cases for repos in the k8s org that wouldn't want the standard subset?  In your repo, you could add labels to the set b

[2017-05-01 04:31] thockin commented on #2606
Right now not all repos use the bots.  It's up for debate whether we should
just require it.

On Sat, Apr 29, 2017 at 12:31 PM, grodrigues3 <notifications@github.com>
wrote:

[2017-05-01 13:35] #2602 closed

[2017-05-01 13:35] krzyzacy commented on #2602
Fixed by #2618

[2017-05-01 13:39] krzyzacy commented on #2537
whoops @fejta I name the issue wrong, it was `JENKINS_USE_EXISTING_BINARIES`

`JENKINS_USE_EXISTING_BINARIES ` will not set the `--extract` flag in kubetest and try to use the existing binary after the `--build` flag

[2017-05-01 20:02] fejta opened #2620 "Assign to PR author when PR title includes [WIP]"
/cc @cjwagner

[2017-05-01 20:03] fejta opened #2621 "Submitting an approve review response should lgtm+approve"
/cc @cjwagner

[2017-05-01 20:09] fejta commented on #2528
Will delete these tests in a couple weeks unless someone signs up to fix them: https://github.com/kubernetes/test-infra/blob/master/experiment/bigquery/failures-latest.json

[2017-05-01 20:26] pipejakob commented on #2528
Sign me up for `pr:pull-kubernetes-e2e-kubeadm-gce`. I have a WIP PR (https://github.com/kubernetes/test-infra/pull/2509) to fix it.

[2017-05-01 20:27] fejta commented on #2528
Cool! And that one is a month away from the 60d mark anyway :)

[2017-05-01 20:52] foxish commented on #1631
I think we see enough bot comments as it is, and adding more noise with pings is not desirable. I think we should point people to the dashboard as @fejta said and that will go a long way in ensuring that things don't fall off their plate and get lost completely.

[2017-05-01 20:56] grodrigues3 commented on #1631
I can see not pinging, but I think reassigning after a prolonged period.  And maybe leaving a comment indicating how anyone can triage the issue (e.g `/area <someLabel>` or mentioning a sig or just closing `/close`)

[2017-05-01 21:38] grodrigues3 commented on #2620
cc @kubernetes/sig-contributor-experience-misc

[2017-05-01 22:44] #2589 closed

[2017-05-01 22:45] dchen1107 opened #2625 "1.7 Upgrade Testing Infrastructure"
One of the takeaways from 1.6 retrospective is we should be setting upgrade testing up right after the last release so that we can catch regressions as they occur.

The following upgrade tests should run on the master branch, and later 1.7 release branch once the branch is cut (based on https://github.com/kubernetes/test-infra/issues/2034 cc/ @ethernetdan)

### kubectl Skew - Upwards
- [x] `kubern

[2017-05-01 22:46] dchen1107 commented on #2625
@grodrigues3 @calebamiles We should document this somewhere for future releases. Thanks!

[2017-05-01 22:47] dchen1107 commented on #2625
I noticed that @ixdy already created some of tests I listed above. For example, https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.6-master-gci-kubectl-skew

[2017-05-01 23:17] calebamiles commented on #2625
ack on the need to document, @dchen1107.

[2017-05-02 01:48] krzyzacy commented on #2625
timeline?

ref https://github.com/kubernetes/features/blob/master/release-1.7/release-1.7.md

[2017-05-02 07:51] krzyzacy commented on #2537
/assign @fejta

I think it's still a valid issue, the context is, for example, change `JENKINS_USE_LOCAL_BINARIES` to `JENKINS_USE_EXISTING_BINARIES` in [pull-kubernetes-e2e.env](https://github.com/kubernetes/test-infra/blob/master/jobs/pull-kubernetes-e2e.env#L6) and run any pull job locally without `--stage` flag.

Or we can retire the `JENKINS_USE_EXISTING_BINARIES` flag

[2017-05-02 08:06] krzyzacy opened #2629 "Janitor does not clean up gke cluster"
Open to track it from our conversation earlier.

May I have more context about the gke cluster?

/assign @spxtr @krzyzacy

[2017-05-02 15:21] fejta opened #2630 "Submit queue is crash looping"
[code]

I suspect one of these is having trouble: `issue-cacher,flake-manager,old-test-getter`

[2017-05-02 15:21] fejta commented on #2630
/assign

[2017-05-02 15:27] fejta commented on #2630
I bet the problem is here: https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/flake-manager.go#L110

[2017-05-02 15:28] fejta commented on #2630
Woo!

https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv
[code]

[2017-05-02 15:43] fejta commented on #2630
I'm going to make the submit queue robust to this problem. We should be able to start the SQ even if the csv is malformed

[2017-05-02 15:54] fejta opened #2631 "Ensure all jobs in SQ configmap exist"
https://github.com/kubernetes/test-infra/blob/master/mungegithub/submit-queue/deployment/kubernetes/configmap.yaml#L34

All the jobs in there should actually exist in our repo

[2017-05-02 15:56] fejta commented on #2631
Extension of https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config_test.go#L173

[2017-05-02 16:20] yguo0905 opened #2632 "Support running node e2e tests from prow"
I followed the instructions on https://github.com/kubernetes/test-infra/blob/master/experiment/pod.yaml to run `ci-kubernetes-node-kubelet` from prow using the following configuration.

[code]

The job failed with the following error.

[code]

This is because `kubernetes_kubelet.py` scenario does not support local mode. See https://github.com/kubernetes/test-infra/pull/2622 for more context.

[2017-05-02 16:21] yguo0905 commented on #2632
@krzyzacy
@fejta
@ixdy

[2017-05-02 20:03] #2630 closed

[2017-05-02 20:11] fejta commented on #1631
Giving the author some way of flagging a PR for needing attention would help: https://github.com/kubernetes/test-infra/issues/1631

[2017-05-02 21:33] spiffxp commented on #2595
/assign

taking a crack at this

[2017-05-02 21:53] grodrigues3 commented on #2595
@spiffxp you rock!   Ping me on slack or email me directly if you have any questions or get stuck.

[2017-05-02 21:56] grodrigues3 commented on #2595
Note that this is a weird one because we add the sig labels by inferring the sig from something like:

`@ kubernetes/sig-network-misc `

I'm not even sure what the appropriate syntax should be for removing it.  I'm all for symmetry, but anything symmetrical would 1) remention the sig that you are presumably trying to remove 2) probably retrigger an attempt at adding the label

So this may require

[2017-05-02 21:56] spiffxp commented on #2621
I have a problem with this as long as an approver's PR is implicitly approved.  I don't trust myself, and wouldn't want my PR's to get auto-approve+lgtm'ed without human review.

[2017-05-02 22:44] spxtr opened #2640 "Prow dropping webhooks"
@cjwagner noticed that one of his `/lgtm`s didn't go through. I checked GitHub and I was dropping a good portion of webhooks starting at 2017-05-02 14:38:52. I would estimate I dropped about 1/100 hooks in the last hour. My cloud HTTP load balancer logs show 502s returning "failed_to_connect_to_backend".

[code]
Something was very fishy. I inspected the broken system pods, and found that they all

[2017-05-02 22:54] fejta commented on #2595
Also I would like to fix @kubernetes/sig-testing-misc to also work when I create the issue :)

[2017-05-02 22:54] fejta commented on #2595
@kubernetes/sig-contributor-experience-misc

[2017-05-03 02:55] fejta commented on #2621
Hmm? This only impacts human reviews.

[2017-05-03 02:56] fejta commented on #2621
This is about when a human leaves a github review they can set it to one of three states: comment, request changes, approve.

Right now we do not do anything with these states. We want to treat approve as equivalent to /lgtm and request changes as equivalent to /lgtm cancel

[2017-05-03 14:26] lukaszgryglicki commented on #2504
Seems like I should have time to work on this task again tomorrow, will actually see.

[2017-05-03 16:31] spiffxp commented on #2621
Totally misunderstood. Makes sense now

[2017-05-03 17:29] cjwagner commented on #2620
/assign

[2017-05-03 17:29] cjwagner commented on #2621
/assign

[2017-05-04 00:02] grodrigues3 opened #2649 "Have Approvers Mechanism Use Github Teams"
Currently our approvers mechanism relies on the `OWNERS_ALIASES` file in the main repository for referencing groups of people.

For example, `sig-node-reviewers` gives a list of github user ids that can be assigned by blunderbuss.

However, we have since moved to requiring that all sigs create github [teams](https://github.com/kubernetes/community/blob/master/sig-creation-procedure.md#creating-ser

[2017-05-04 00:09] grodrigues3 commented on #2649
Sounds like this was intentional.

Github teams don't allow us to see how people were added removed and who update the reviewers list.

[2017-05-04 00:09] #2649 closed

[2017-05-04 11:07] lukaszgryglicki commented on #2504
Hi I've just finished program that syncs labels on all repos for given org (or for user:github_username).
I've used labels from kubernetes/kubernetes (requested in doc):
[code]

Labels are defined in `labels.yaml` file.

Here are results when I run this on my own repos (one of them synced):
https://github.com/lukaszgryglicki/store.js/labels
It handles request retrying in case of `first time` run w

[2017-05-04 17:46] grodrigues3 commented on #2504
I'll get to this later today.  Thanks for implementing!

[2017-05-04 17:49] lukaszgryglicki commented on #2504
Great, I will work on something other tomorrow (probably) and will get back to it when I have time.
Actually I just need somebody to tell me how to add this program as a daily prow job - noting more.

[2017-05-04 22:58] #2493 closed

[2017-05-05 00:25] grodrigues3 commented on #2595
@spiffxp as per the google group `[discussion](https://groups.google.com/d/msgid/kubernetes-wg-contribex/CAOU1bzfef0uZU-%3D4K3O9pMh-PcjysGXAyUCqRg5DVb9X_Xwbnw%40mail.gmail.com?utm_medium=email&utm_source=footer)`

Can we also have the bot echo back the mentioned sig (if the commenter is not in the org) so that they receive a notification?

[2017-05-05 01:01] #2519 closed

[2017-05-05 01:02] grodrigues3 commented on #2504
I'll let @spxtr comment on that

[2017-05-05 01:13] grodrigues3 commented on #2504
@lukaszgryglicki

Does your algorithm not actually look at patterns? It looks like the [labels](https://github.com/lukaszgryglicki/test-infra/blob/260a807a3f33caa75deaf0e7e8910f7251b24ffb/labels.yaml) just has all the labels hardcoded.

I want people to know that if someone tries to add a new `sig/somethingRandom` label to a repo they are aware that those are a protected pattern and for consistenc

[2017-05-05 05:11] lukaszgryglicki commented on #2504
Yes it is not using any pattern. It uses hardcoded list of labels and sync them across the repos.
I think that functionality You suggest is something separate.
I was thinking that I need to take labels mentioned in doc from `kubernetes/kubernetes`, put them in labels.yaml (anyway - this file can be tweaked anytime, and next time my algorithm runs it will sync), create algorithm that sync this labe

[2017-05-05 08:05] krzyzacy commented on #2631
/assign

[2017-05-05 08:09] krzyzacy opened #2666 "Prow job, especially pull-kubernetes-bazel, seems always fail the first run?"
[code]
Seems not a github issue? Or that's coincide? Worth look at I guess.

/assign @spxtr

[2017-05-05 16:21] yguo0905 opened #2668 "Testgrid sometimes shows empty test result"
On https://k8s-testgrid.appspot.com/canonical-kubernetes#gce-ubuntu, we don't get test results for run [333](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ubuntu/333), [309](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ubuntu/309), [308](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-

[2017-05-05 16:21] yguo0905 commented on #2668
@fejta @krzyzacy

[2017-05-05 18:03] spxtr commented on #2640
This was fixed by rebooting the node. It is an old node running 1.4.6, so hopefully upgrading will fix.

[2017-05-05 18:03] #2640 closed

[2017-05-05 18:04] spxtr commented on #2666
I think we hit a rare bug where one of the nodes loses external connectivity but doesn't get kicked. I'll upgrade the nodes and that should fix it.

[2017-05-05 18:09] spxtr opened #2669 "Prow nodes should auto upgrade."
It is quick and easy to upgrade the prow components, but the nodes themselves currently don't auto upgrade. We have hit a few bugs due to this, such as #2666 and #2640, that were fixed long ago. Really we should let GKE auto upgrade our nodes.

GKE node upgrades work by draining one node, upgrading it, draining the next, etc. The only reason I can't turn this on right away is because it will inter

[2017-05-05 18:20] fejta commented on #2668
Most likely it timed out.

[2017-05-05 18:28] ixdy commented on #2668
It looks like something is wrong with prow. Lots of failures on http://prow.k8s.io/?type=periodic&job=ci-kubernetes-e2e-gce-ubuntu, things like

http://prow.k8s.io/log?pod=ci-kubernetes-e2e-gce-ubuntu-340
[code]

and
http://prow.k8s.io/log?pod=ci-kubernetes-e2e-gce-ubuntu-341
[code]

[2017-05-05 18:30] yguo0905 commented on #2668
Successful runs like [343](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ubuntu/343) and [342](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ubuntu/342) took 22 minutes, while the timeout is set to 50 minutes in [job config](https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gce-ubuntu.env#L1

[2017-05-05 18:37] yguo0905 commented on #2668
@ixdy, thanks. The failed 341 run is not shown in testgrid.

[2017-05-05 18:43] ixdy commented on #2668
@spxtr is upgrading the prow cluster to the latest Kubernetes release, which we expect to fix the issue.

[2017-05-05 21:09] kargakis opened #2671 "k8s-merge-bot is spamming hard the main repo since yesterday (4/5)"
I had the patience to daily go through all of the k8s repo notifications before, now they are unusable even for myself.

[2017-05-05 21:14] kargakis commented on #2671
Ok, I have blocked @k8s-merge-robot (sorry!) - let's see how that goes :)

[2017-05-06 01:46] krzyzacy commented on #2668
ref https://github.com/kubernetes/test-infra/issues/2666#issuecomment-299534904

[2017-05-07 00:27] #2671 closed

[2017-05-08 06:13] krzyzacy commented on #2666
The node is updated and seems fine now, let #2669 track auto upgrade.

[2017-05-08 06:13] #2666 closed

[2017-05-08 20:43] yguo0905 opened #2680 "Why do we have different timeouts for a test job?"
There seems to be 3 timeout values that can be configured for a single test job.

- `jenkins-timeout` is the timeout enforced by Jenkins.
- `timeout` is passed to and enforced by `jenkins/bootstrap.py'.
- `KUBEKINS_TIMEOUT` is passed to and used by kubetest.

Take `kubernetes-e2e-gci-gce` for example. Its [`jenkins-timeout`](https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/

[2017-05-08 20:44] yguo0905 commented on #2680
@Random-Liu

[2017-05-09 00:17] caesarxuchao opened #2684 "Publishing robot should remove vendor/ before running `godep save ./...`"
In the publisher [script](https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/publish_scripts/util.sh#L151-L154),
[code]
We should also `rm -rf ./vendor/` before calling `godep save ./...`. Otherwise, if a package in the vendor/ depends on a package that's removed from GOPATH, godep save will fail.

A recent failure is occurred after https://github.com/kubernetes/kubernetes/pu

[2017-05-09 01:06] ixdy commented on #2668
/assign @spxtr

[2017-05-09 01:09] spxtr commented on #2669
Done in #2681

[2017-05-09 01:09] #2669 closed

[2017-05-09 01:25] krzyzacy commented on #2680
KUBEKINS_TIMEOUT is for e2e-tests and passes into kubetest

--timeout is a bit more than KUBEKINS_TIMEOUT, which gives a bit room for things like activate gcloud, checkout repo, upload logs, etc, even after the e2e test is timed out.

jenkins-timeout is a enforcement for Jenkins, which is deprecated in prow, but has to be presented so that our Jenkins machine can exit gracefully in case something

[2017-05-09 01:26] krzyzacy commented on #2680
Although we want to get rid of KUBEKINS_TIMEOUT once we get rid of e2e-runner.sh.

[2017-05-09 05:00] jfelten opened #2688 "prow: event json unmarshall fails"
I built prow into a helm chart and deployed it to a GKE cluster by modifying the prow/cluster settings.  It uses kube-lego to manage ssl certs.  Github events get posted to hook and receive a 200 response.  Hook fails to unmarshall the json payload (Issue Comments) with the following error:

{"error":"invalid character 'p' looking for beginning of value","level":"error","msg":"Error parsing event.

[2017-05-09 05:13] spxtr commented on #2688
`content-type: application/x-www-form-urlencoded`

Try switching the webhook to send `application/json` instead. This is an option in the webhook settings.

[2017-05-09 05:16] spxtr commented on #2688
If that doesn't work, you can use `cmd/phony` to send example webhooks to your service as described under [How to test prow](https://github.com/kubernetes/test-infra/blob/cf2e25f1de32c99eba7f0054fb99e3b49a9e8a06/prow/README.md).

[2017-05-09 13:55] jfelten commented on #2688
Switching to application/json fixed it. - thanks for the help.

[2017-05-09 13:55] #2688 closed

[2017-05-09 17:24] luxas commented on #1399
@rmmh Against HEAD.

This becomes so much more critical when issues like https://github.com/kubernetes/kubernetes/issues/45216 occur.

We could just have a special `kube-cross` image that always includes the latest Go repo compiled from source inside the image, like this:
[code]
and then just build bins with `GOROOT=${K8S_HEAD_GOROOT}` and run scalability tests.

cc @wojtek-t @ixdy @bradfitz

[2017-05-09 17:25] bradfitz commented on #1399
Yes, please, against HEAD. The point is to help find Go bugs the same day they're introduced, rather than 8 months after it's too late to do anything about them.

[2017-05-09 17:36] ixdy commented on #1399
Which Kubernetes tests do we run against Go tip? We certainly can't duplicate all of our testing.
We also shouldn't move forward on this without finding a SIG owner - perhaps scalability? @kubernetes/sig-scalability-misc
(Without an owner, I worry that failing tests will get ignored and this effort will be for naught.)

[2017-05-09 17:38] ixdy commented on #1399
oh, also, this should probably be an issue in the kubernetes/kubernetes repo, not test-infra.

[2017-05-09 17:45] luxas commented on #1399
@ixdy Why kubernetes/kubernetes?

I think the scalability team can be the owner of this, and we can run kubemark against Go tip as a non-blocking test suite.

[2017-05-09 17:52] ixdy commented on #1399
It's a fine line, but this issue is more about testing Kubernetes than about the test-infra supporting Kubernetes. It might get more visibility in the kubernetes repo.

@bradfitz are there any binary artifacts of the toolchain from Go's CI that we could use, rather than continuously rebuilding the Go toolchain ourselves? We have Bazel 98% working and it'd be really handy if I could just point `go_

[2017-05-09 18:06] #2563 closed

[2017-05-09 18:20] grodrigues3 commented on #2504
@lukaszgryglicki can you create the PR.  What are you blocked on?

[2017-05-09 18:30] grodrigues3 commented on #2504
I think we still need a prow plugin to handle events where these protect patterns are created.  For consistency, we want exactly the same set of sig/, area/ etc labels.  If someone creates a new label with those prefixes we should handle that event.

[2017-05-09 19:24] mml opened #2694 "PR dashboard chrome extension"
It would be awesome to have a chrome extension that notified me when it's my turn on a PR.  It would just have to pull summary data from the existing PR dashboard: https://k8s-gubernator.appspot.com/pr

[2017-05-09 20:38] fejta commented on #2694
/cc @michelle192837

[2017-05-09 20:41] fejta opened #2696 "Add owners: [] list to config.json"
/cc @mtaufen

We want every jobs in [config.json](jobs/config.json) to include a `"owners": ["sig-foo", "sig-bar"]` list.

Let's start by:
* Adding a `sig-UNCLAIMED` entry to each job
* Adding a unit test that validates that every job contains an `owners` key, and that only existing jobs use `sig-UNCLAIMED`.
* Send out mail asking each sig to go through the list of jobs, marking ones relevant to t

[2017-05-09 20:41] fejta commented on #2696
After we get this in we can work on infrastructure to automatically generate dashboards for each sig.

[2017-05-09 21:18] mtaufen commented on #2696
Should we call the field `sig-owners`, for future proofing?

We can just consider any job with the field omitted or left empty as unclaimed.

Do you want to add the test, since you probably understand the plumbing here far better than I do? I can handle reaching out to sigs once we have that.

[2017-05-09 21:20] mtaufen commented on #2696
One other thing we can do is list unclaimed jobs in your regular flaky test emails, people seem to be reading these so that might be a quick way to get attention on this.

[2017-05-09 21:36] yguo0905 commented on #2680
Thanks for the clarification.

[2017-05-09 21:36] #2680 closed

[2017-05-09 22:40] spxtr opened #2697 "pylint all files"
See [`verify/verify-pylint.sh`](https://github.com/kubernetes/test-infra/blob/b737f83adf49261e90e16ed91ffcf1515a290133/verify/verify-pylint.sh). Run with [`bazel test //verify:verify-pylint`](https://github.com/kubernetes/test-infra/blob/b737f83adf49261e90e16ed91ffcf1515a290133/verify/BUILD#L32-L40).

[2017-05-09 23:12] fejta opened #2699 "Monitoring for prow"
We need monitoring to ensure that periodic, presubmit, postsubmit jobs are running as specified.

[2017-05-10 02:40] krzyzacy commented on #2697
/assign
I would say mainly bootstrap_test.py...

[2017-05-10 05:31] ixdy opened #2704 "Set up e2e testing using Bazel-built binaries"
The process keeps getting more involved as I investigate this, so I wanted to tally the steps necessary. (Help is welcome!)

Short-term goals:
1. One prow postsubmit job running a basic set of e2e tests using binary artifacts from a Bazel build. (I'm imagining basically just duplicating the `ci-kubernetes-e2e-gce-etcd3` job.)
2. One prow presubmit job which builds everything with bazel and then ru

[2017-05-10 07:04] lukaszgryglicki commented on #2504
I'm not really blocked. I need final suggestion how to "deploy" it.
PR created: https://github.com/kubernetes/test-infra/pull/2706

[2017-05-10 11:04] wojtek-t opened #2708 "A lot of tests of prow tests are not finishing"
Looking into:
https://k8s-testgrid.appspot.com/perf-tests
I'm seeing 10s of tests that are claimed to be "Build Still Running!"

There has to be something wrong in prow regarding this - I'm not even able to debug those runs due to no logs.

[2017-05-10 11:51] wojtek-t opened #2709 "Tests from perf-tests repo doesn't work"
Our tests from perf-tests repo doesn't work on prow:
https://k8s-testgrid.appspot.com/perf-tests#cluster-loader

I tried to debug them and have some finding but now need some help with how to fix them:
1. we need two different repos for the test to run: main kubernetes repo and perf-tests repo - it seems that fetching them works good.

2. however, in prow, fetching seem to go to a completely diffe

[2017-05-10 12:03] wojtek-t commented on #2709
Also, can you point me where these:
[code]
are coming from?

[2017-05-10 12:37] wojtek-t opened #2711 "No permissions to update prow config"
I'm not sure who has permissions to update prow config, but it seems that we should extend this set to have at least someone from other timezone (I'm happy to be that person)

I'm getting:
[code]

[2017-05-10 12:38] wojtek-t commented on #2711
@gmarek

[2017-05-10 13:28] krzyzacy commented on #2708
/assign @spxtr

[2017-05-10 13:32] krzyzacy commented on #2711
Added you and @gmarek as project editor, try again.

[2017-05-10 13:32] #2711 closed

[2017-05-10 13:36] krzyzacy commented on #2709
GOPATH should be /go/src by default.. which comes from [go image](https://github.com/kubernetes/test-infra/blob/master/jenkins/test-image/Dockerfile-1.4#L18)

WORKSPACE starts from https://github.com/kubernetes/test-infra/blob/master/jenkins/test-image/Dockerfile-1.4#L25, probably changed in bootstrap?

[2017-05-10 13:45] wojtek-t commented on #2709
Do you know where? I was trying to find it and only found that this is set to /workspace.

[2017-05-10 13:49] krzyzacy commented on #2709
https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap.py#L694 sets it, and probably checkout k8s changed cwd.

[2017-05-10 13:54] wojtek-t commented on #2711
Thanks a lot - that works for me now!

[2017-05-10 14:06] wojtek-t commented on #2708
BTW - now when I'm looking into:
https://k8s-testgrid.appspot.com/perf-tests

it seems that majority of runs are not even there, e.g. there isn't any run between 371 and 400 and anything after 400 (and now we seem to be at 470):
https://prow.k8s.io/log?pod=ci-perf-tests-e2e-gce-clusterloader-470

[2017-05-10 14:06] wojtek-t commented on #2708
Clicking from here: https://prow.k8s.io/?type=periodic

[2017-05-10 14:12] krzyzacy commented on #2708
the pod might be evicted..

[2017-05-10 14:16] wojtek-t commented on #2708
OK - so it seems there isn't anything clusterloader specific here:
https://k8s-testgrid.appspot.com/google-gke#ubuntu-gke-1.6-slow

[2017-05-10 14:36] wojtek-t commented on #2708
It seems that almost all the jobs are being Evicted due to disk-pressure:

  8m		8m		1	{kubelet gke-prow-build-pool-a89df2af-bg4x}			Warning		Evicted			The node was low on resource: [DiskPressure].

[2017-05-10 14:39] wojtek-t commented on #2708
@dchen1107 @yujuhong - I gues we are configuring things badly for the prow cluster, but you may be able to provide some insights what this is happening and how to solve it

[2017-05-10 16:20] spxtr commented on #2708
I opened https://github.com/kubernetes/kubernetes/issues/45558 to track the evictions. Prow will restart the pods once they're evicted, so your job will eventually start.

[2017-05-10 17:09] ixdy commented on #2709
I think the bug is [here](https://github.com/kubernetes/test-infra/blob/3c98e618da6f176a75a25b38a0949d4874fb7338/scenarios/kubernetes_e2e.py#L340-L355).

It makes sense to exclude GOPATH etc when the mode is `docker` (i.e. the scenario runs kubetest through docker), but not when the mode is `local` (i.e. when the scenario runs kubetest directly, as on prow).

[2017-05-10 17:09] ixdy commented on #2709
cc @fejta since he's in a TODO near there too :)

[2017-05-10 17:46] ixdy commented on #2709
/assign

[2017-05-10 17:59] spxtr commented on #2708
We hit a point last night when every single node had disk pressure so we couldn't make any progress. I recreated all nodes so we should be okay for another couple days. This is obviously not a good state to be in.

[2017-05-10 18:00] #2684 closed

[2017-05-10 18:08] ixdy opened #2713 "//verify:verify-pylint is not fully hermetic"
Apparently I don't have pylint + necessary dependencies installed on my system:
[code]

[2017-05-10 21:44] #2709 closed

[2017-05-10 22:19] crimsonfaith91 opened #2717 "Comment prompting sig mention does not cater for possibility that an issue owner is not able to mention the sig"
The comment should show steps to assign the task of adding the sig mention to others if the issue owner (person opening the issue) is not able to add it.
@grodrigues3

[2017-05-10 22:19] crimsonfaith91 commented on #2717
/assign @crimsonfaith91

[2017-05-10 22:35] pwittrock opened #2718 "Summary page does not work for sig-cli"
The summary page for sig-cli is missing most of the results

https://k8s-testgrid.appspot.com/sig-cli#Summary

[2017-05-10 22:36] pwittrock commented on #2718
cc @ixdy @mengqiy

[2017-05-10 22:40] fejta commented on #2718
I'm pretty sure it is working, just REALLY slowly. Largely because Sen has been changing the name of jobs
/cc @krzyzacy

[2017-05-10 23:03] grodrigues3 commented on #2717
Sounds good to me.   Note that non-org members  can't mention sigs directly, but they will still be able to add a sig label based on this PR:

https://github.com/kubernetes/test-infra/pull/2637

[2017-05-10 23:08] mengqiy commented on #2718
@fejta I noticed that it will take days for the entries that have been added recently to show in the summary page. But I'm not sure why. Is it because it need to accumulate enough test results?

[2017-05-10 23:12] crimsonfaith91 commented on #2717
Great! I will start working on this issue. :)

[2017-05-11 00:25] crimsonfaith91 commented on #1631
I think we can unassign stale PRs without pinging anybody if the PRs do not have any activity for a long period (e.g., 90 days). The unassigned PRs can then be labelled accordingly (e.g., `inactive`).

[2017-05-11 00:51] fejta commented on #2718
There's a bunch of silly technical reasons. Short version is the updater is unnecessarily dumb and slow. When we rename jobs it takes many days to finish updating, which causes the delay in updating the summaries. These are easier to talk about internally, since that portion of testgrid remains internal to Google.

[2017-05-11 01:03] grodrigues3 commented on #1631
blunderbuss looks at every PR so if you unassign it will reassign to someone else from the owners files
https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/blunderbuss.go#L172

There is a nonzero chance that you reassign the same person again.  Can we do better?

Also, 90 days is way too long.  I think less than a week is reasonable (maybe 3 or 4 days).    No need for inactive

[2017-05-11 01:12] crimsonfaith91 commented on #1631
As blunderbuss will reassign to another owner, inactive label is
unnecessary. The algorithm can be changed to ensure there is no chance an
assignee will be reassigned again.

Having a comment with a link to the OWNERS file will be helpful. So do we
plan to ping only PR author in this case?

On May 10, 2017 6:03 PM, "grodrigues3" <notifications@github.com> wrote:

[2017-05-11 01:14] fejta commented on #1631
Agree with Garrett that we do not need to wait a week. I would say the bot should `/assign @additional-person` every week of inactivity :)

[2017-05-11 01:49] krzyzacy commented on #2718
hummmm I don't think there's anything to do with the rename now.. that's couple months ago and is a one-time effect.. rename a few jobs is not going to have a large impact of update cycle, and other tabs are updating fine.

I'll check if there's a internal thread.

[2017-05-11 01:55] krzyzacy commented on #2713
and you'd better have the same pylint settings as in the repo :-)

[2017-05-11 01:55] krzyzacy commented on #2708
worth add more nodes?

[2017-05-11 13:17] brendandburns opened #2725 "When go-vet fails it isn't neatly highlighted in the gubernator output"
See:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45603/pull-kubernetes-verify/29184/

For example. Lots of spurious "error" messages are highlighted, but the actual problem is hidden behind some skipped lines.

[2017-05-11 14:50] wojtek-t commented on #2708
I'm not sure how it was supposed to help. IIUC, every test run by prow is heavily using disk, because it is downloading the whole repo etc. so it is expected that we are using disk heavily in my opinion.

And it seems that we hit this problem again today, just few hours after it.

I think that there are basically two potential solutions:
- increase disks of nodes in the cluster significantly
- add

[2017-05-11 14:53] wojtek-t commented on #2708
BTW - it seems that **any of the last 50 runs ** https://k8s-testgrid.appspot.com/perf-tests produced anything useful (i.e. there are no logs from them). So I would suggest working on stability of prow first before migrating more to it. @fejta

[2017-05-11 16:40] yujuhong commented on #2708
We should check first whether kubelet is cleaning up disk space properly.

Also, if we know how much disk space each pod consumes on average, we can set a bogus resource request to make sure pods are spread out evenly.

[2017-05-11 16:48] crimsonfaith91 commented on #1631
If the PR is inactive for several weeks, do we add an additional person every week?

[2017-05-11 17:11] spxtr commented on #2713
Ah, I didn't make sure all of pylint's deps were installed in the workspace, just pylint itself.

[2017-05-11 17:49] mengqiy commented on #2718
I just verified that the issue has been fixed.
/close

[2017-05-11 17:49] fejta commented on #2718
There's actually some stability issues here, which we're addressing internally.

[2017-05-11 17:49] #2718 closed

[2017-05-11 18:16] grodrigues3 commented on #1631
I'm concerned that if multiple people are responsible for reviewing a PR, no one will be responsible

[2017-05-11 19:07] fejta commented on #2708
The issue is in Kubernetes itself -- 1.6 doesn't work -- and we're resolving by downgrading to 1.4.

[2017-05-11 19:08] fejta commented on #2708
https://github.com/kubernetes/kubernetes/issues/45558 (that Joe mentioned earlier)

[2017-05-11 20:06] crimsonfaith91 commented on #1631
In this case, perhaps we can unassign the original person.

[2017-05-12 00:21] lavalamp commented on #1631
Agree w/ Garrett

On Thu, May 11, 2017 at 11:16 AM, grodrigues3 <notifications@github.com>
wrote:

[2017-05-12 01:44] krzyzacy commented on #2718
It's fixed internally :-)

[2017-05-12 04:45] lukaszgryglicki commented on #2504
Well if we don't want to propagate across all repos, then we can call program with `-repos file_name.yaml` to restrict list of repositories.
So I think that now we only need to tweak `labels.yaml` and `repos.yaml` files and deploy it somehow.
We can start from just say 2-3 repositories and 4-5 most important labels and then update config yams files as needed.

[2017-05-12 05:10] krzyzacy commented on #2668
it's #2708, I'll close this one.

[2017-05-12 05:10] #2668 closed

[2017-05-12 06:57] rmmh opened #2740 "Alerts for test-infra breakages"
We should get alerts for lots of things:

- [ ] last successful merge time > 4 hrs (if queue is non-empty)
- [ ] last successful batch merge time > 4 hrs (if queue is non-empty)
- [ ] triage dashboard most recent build > 2 hrs old
- [ ] any presubmit job failure rate > 80% for last 10 builds

These should go to the [oncall](https://go.k8s.io/oncall) to be addressed quickly.

We can send email aler

[2017-05-12 08:46] lukaszgryglicki commented on #2504
@spxtr can You help me with this: https://github.com/kubernetes/test-infra/issues/2504#issuecomment-297106251
Specially:
[code]

I don't know how to create this config entry for my new task:
1. `image: gcr.io/k8s-testimages/triage:v20170420-1ca6229c` - which image should I use. Or maybe I should create my own image with this tool installed? How can I compile it and put in this image?
2. My program

[2017-05-12 09:40] wojtek-t opened #2744 "ClusterLoader tests are failing to find scripts"
All ClusterLoader tests are failing with the following error:
[code]
See e.g.: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-perf-tests-e2e-gce-clusterloader/677

I spent some time trying to debug it and I realized, that in prow we are running scripts in "Local" mode (whereas in Jenkins we are running in "Docker" mode).
As a result, the "--mount-path" flags doesn't have any e

[2017-05-12 11:51] wojtek-t commented on #2708
In the meantime, maybe we can add new nodes to the cluster? Or mitigate this problem in a different way?

[2017-05-12 13:55] krzyzacy commented on #2744
how about get `GOPATH` in kubetest, use `$GOPATH/src/k8s.io/perf-tests/clusterloader/run-e2e.sh`?

[2017-05-12 13:58] wojtek-t commented on #2744
That assumes that we are checkout-ing repos to ${GOPATH} - but maybe that's a sane assumption.
I think that will work from my perspective.

[2017-05-12 14:02] krzyzacy commented on #2744
It depends on what the `--root` flag you set to, which is `/go/src`, and it's only used by this test though.

[2017-05-12 15:10] wojtek-t commented on #2744
BTW - I tried this: https://github.com/kubernetes/test-infra/pull/2743/
and it seems it didn't take any effect, even though I built those new images:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-perf-tests-e2e-gce-clusterloader/835

Any thoughts why? What I did wrong?

[2017-05-12 16:49] yujuhong commented on #2708
@wojtek-t we've found the cause in https://github.com/kubernetes/kubernetes/issues/45558.

There are too many terminated pods in the cluster, and each of them takes up a significant amount of disk space since kubelet keeps the dead containers for logs.
Kubelet's eviction manager should evict those terminated pods, but it doesn't do that today. The pod GC controller doesn't help since they usually

[2017-05-12 17:06] spxtr commented on #2708
Fixed in the short-term by #2736. The long-term fix will have to fix https://github.com/kubernetes/kubernetes/issues/45558.

[2017-05-12 17:06] #2708 closed

[2017-05-12 17:17] wojtek-t commented on #2708
Cool - thanks a lot for debugging and fixing!

[2017-05-12 17:26] wojtek-t commented on #2744
Actually, it seems that now it picked up the change:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-perf-tests-e2e-gce-clusterloader/836

but it still doesn't work. I will try again with the "${GOPATH}" and will add some more logs for debugging.

[2017-05-12 17:29] crimsonfaith91 commented on #1631
Will the steps below suffice to solve the issue?
(1) for every week of inactivity, add another person and unassign original person
(2) change blunderbuss algorithm so that there is no chance that same person is reassigned again

I think a munger works best. I can work on this. Any opinion? :)

[2017-05-12 17:34] grodrigues3 commented on #2717
Wait, I thought the bot should chat back.  If you are not in the org and you type @ sig-network-pull-requests, the bot should recomment and the mention should work

[2017-05-12 17:41] crimsonfaith91 commented on #2717
I see. In this case, should we still change the comment? I sent out a PR giving the users 3 options to add a sig label:

[2017-05-12 17:43] grodrigues3 commented on #1631
SGTM.  I wonder if there's anyway we can also consider number of reviewers each person is currently assigned to when choosing  reviewer.  @rmmh does gubernator have this info?

[2017-05-12 17:45] lavalamp commented on #1631
That sounds like it's worth trying. A week might be a bit long, but who
knows.

I think it should also take into account how much other stuff is assigned
to the reviewer, but that's a separate work item.

On Fri, May 12, 2017 at 10:30 AM, Jun Xiang Tee <notifications@github.com>
wrote:

[2017-05-12 17:47] grodrigues3 commented on #2717
a) and b) work well enough.  2 suggestions

1) Clarify that a) will trigger a notification to the team
1) List one team per sig that they can mention.

Something like.  You can type @kubernetes/sig-[TEAM_NAME]-misc where TEAM_NAME is replaced with one of the following:
node, network, api-machinery, etc.

There is no autocomplete for non org members so having the list of teams would probably be hel

[2017-05-12 17:51] spxtr commented on #2740
Related to #2699 and #2739.

[2017-05-12 17:51] spxtr commented on #2699
I played around with prometheus and it was pretty nice. Maybe something to look into once I'm back, but if someone wants to tackle in the next two weeks then feel free.

[2017-05-12 17:56] crimsonfaith91 commented on #2717
Instead of listing the teams, perhaps we can add a link to: https://github.com/kubernetes/community/blob/master/sig-list.md

[2017-05-12 17:58] grodrigues3 commented on #2717
SGTM

[2017-05-12 20:01] wojtek-t commented on #2744
I don't understand this at all.

Looking into logs from the last run, I'm seeing this:
[code]

Those are coming from here:
https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L416

At the same time at the beginning of logs, I'm seeing this:
[code]

Those are coming from;
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-perf-tests-e2e-gce-clusterloader/864/build-log.txt

I

[2017-05-12 20:03] wojtek-t commented on #2744
I'm also seeing this in the logs:
[code]
it cleearly shows that something should be under `/go/src` and now I don't understand it completely. I really need help with it.

[2017-05-12 20:13] spxtr commented on #2504
Create your own image! See the `Dockerfile` and `Makefile` in the triage folder I linked. Bonus points if you make a small image.

The two config files have slightly different meaning. I think `labels.yaml` can either be pulled from GitHub each sync look or else it can be stored in a configmap on kubernetes. Either way is fine with me. IIUC, `repos.yaml` shouldn't be saved at all. Just regenerate

[2017-05-12 21:44] crimsonfaith91 commented on #1631
/assign @crimsonfaith91

[2017-05-12 21:49] fejta commented on #1631
How can I disable this in my repos? I absolutely do not want some bot unassigning me.

[2017-05-12 21:55] fejta commented on #1631
IMO a better way to handle this will be for the bot to leave a comment encouraging the PR author to `/assign` a new person and `/unassign` the current reviewer. For example:

Sorry it is taking a long time for @fejta to review your PR. This person may be on vacation or otherwise occupied. To expedite a review, please `/assign @crimsonfaith91` and consider `/unassign @fejta`.

This empowers the per

[2017-05-12 22:01] crimsonfaith91 commented on #1631
@fejta
Sorry, i accidentally voted down when i wanted to vote up...

What will happen if both PR author and reviewers are being inactive? Will the comment be useful in this case? I think it is not likely to happen though.

[2017-05-12 22:02] cblecker commented on #1631
If the PR author is inactive, then the PR itself as a whole will time out and close after 90 days (this already happens).

[2017-05-12 22:02] fejta commented on #1631
IMO if the PR author doesn't care enough about their pr to `/assign @someone` it probably isn't worth bothering that someone. We can just wait for the current assignee to get to it.

[2017-05-12 22:07] crimsonfaith91 commented on #1631
Noted!

I will write a new munger that creates the comment after a week of inactivity. The munger will use Blunderbuss algorithm to suggest a new reviewer who is _not_ the original reviewer.

Is there anything that the munger needs to handle?

[2017-05-12 22:10] lavalamp commented on #1631
Erick's suggestion sounds fine to me, too.

On Fri, May 12, 2017 at 3:07 PM, Jun Xiang Tee <notifications@github.com>
wrote:

[2017-05-12 22:43] ixdy commented on #2744
The `ls` commands are returning an error; the if statement is backwards (should be `err == nil`)
[code]

The particular issue here is that it should be `exec.Command("ls", "${GOPATH}/src")` etc.

I suspect the later failure is because you're using `${GOPATH}/path/to/script.sh`, but `exec.Command()` doesn't substitute variables AFAIK. You'll need to use `/go/path/to/script.sh` instead.

[2017-05-13 01:17] klizhentas opened #2753 "Add support for CNI plugins and their configurations"
## Description

Currently kubeadm has weave hardcoded:

https://github.com/kubernetes/test-infra/blob/master/kubetest/anywhere.go#L58

To support multiple plugins and their configurations I suggest to add two flags:

[code]

This will allow test-infra to use kubernetes-anywhere with multiple CNI backends. If the spec looks good, I can add this support.

[2017-05-13 05:15] lukaszgryglicki commented on #2504
1. OK so I'll create new image (smallest possible). Which one do You suggest as staring point? `Dockerfile`'s `FROM`? It should have golan installed imho to compile `label_sync`. Or maybe I should compile final binary and only put it in image? I don't know what are our standards there.

2. For `labels.yaml` and `repos.yaml` - to pull them from GitHub repo this needs to be merged first, right? Othe

[2017-05-13 05:30] wojtek-t commented on #2744
@ixdy - ahh ok - that explains the first ls command. But that doesn't explain the second:
https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L422
which is doing "ls /go/src".

Maybe it should be "ls "/go/src" instead of "ls /go/src" ?

[2017-05-13 07:51] wojtek-t commented on #2744
Hmm - it has to be something specific to prow. I did `docker exec` into the container when it was running and got this:
[code]

So the files are where they expect to be. I don't know why running the script doesn't work...

[2017-05-13 09:23] krzyzacy commented on #2744
yeah looks like "ls" "/go/src" according to the [doc](https://golang.org/pkg/os/exec/#Command)

I don't think exec.Command expands ${GOPATH}, what if you try to append os.Getenv("GOPATH") rather than "${GOPATH}"? That should run the script..

[2017-05-13 12:51] wojtek-t commented on #2744
OK - so the thing with "os.Getenv()" did the trick. We are now step further.

Our current problem is that prow is based on Go 1.6.3, but we need Go 1.7.x. I will try to investigate if bumping it will be fine.

[2017-05-13 13:26] wojtek-t commented on #2744
@krzyzacy @fejta - I'm seeing that there are already base test-images using higher version of go here
https://github.com/kubernetes/test-infra/tree/master/jenkins/test-image

However, the test-e2e image (and thus also the prow image) is based on pretty old version (including Go 1.6.3):
https://github.com/kubernetes/test-infra/blob/master/jenkins/e2e-image/Dockerfile#L18

@krzyzacy @fejta - how can

[2017-05-14 03:06] mtaufen commented on #2696
https://github.com/kubernetes/test-infra/pull/2755

[2017-05-15 00:31] bradfitz commented on #1399
There are binary artifacts we keep around from our CI, but we don't yet(?) have a supported/stable interface for making them available to others, despite their URLs currently being public:

curl --silent https://storage.googleapis.com/go-build-snap/go/linux-amd64/2d429f01bd917c42e66e1991eab9c2e33d813d16.tar.gz | tar -zt

But running `src/make.bash` to compile Go (and not run its tests) is like 40

[2017-05-15 04:49] krzyzacy commented on #2744
ahh, since we did not have the needs before...

You can view all the built images from k8s-testimages project, and feel free to create a new Dockerfile base off go 1.7 if you need it.

[2017-05-15 05:28] wojtek-t commented on #2744
Is it possible to check which image is built from which Go somehow?

I should be fine from both Go 1.7 and Go 1.8 (if such image exist).

[2017-05-15 05:32] krzyzacy commented on #2744
hummm, I think all kubekins-e2e is built with go 1.6.3 since https://github.com/kubernetes/test-infra/blob/master/jenkins/e2e-image/Dockerfile#L18 is pretty old... kubekins-test is tagged with release number, 1.5 and 1.6 uses go 1.7 and 1.7 uses go 1.8.

[2017-05-15 07:06] wojtek-t commented on #2744
@krzyzacy - thanks
I've just merged https://github.com/kubernetes/test-infra/pull/2756 - I hope that this should help.

[2017-05-15 11:05] wojtek-t commented on #2744
OK - with that change we seem to be able to compile everything we need.

We are hitting a different issue now, but that is now completely unrelated to test-infrastructure. So I'm closing this one.

Thanks for help everyone!

[2017-05-15 11:05] #2744 closed

[2017-05-15 12:58] krzyzacy opened #2757 "Prow UX: Cannot view logs for finished jobs"
ref #2736

Small UX feedback: if say, my job runs for 1h, then I can do nothing in prow once my job finishes.

Maybe we should add a gubernator link to the finished jobs from prow UI?

cc @spxtr @rmmh

[2017-05-15 20:08] apelisse commented on #1631
I'd be interested to know how you're going to handle corner cases?

It should probably consider also other unassigned people. And what if you don't have any other good reviewer?

[2017-05-15 20:32] crimsonfaith91 commented on #1631
I plan to use the algorithm below. From my understanding, the reviewers are assignees in this case. Correct me if I am wrong.

(1) get all current assignees for the PR
(2) get potential owners of the PR using Blunderbuss algorithm (calling `getPotentialOwners()` function)
(3) **filter out current assignees from the potential owners**
(4) if there is no another good reviewer, the bot will **encoura

[2017-05-15 21:19] grodrigues3 commented on #1631
Yeah, that sounds alright.

Only feedback is explain why the new assignee got assigned despite there already being assignees on the issue/pr.  (e.g. We're adding you because @ <username> is being unresponsive).  OK, maybe that's too harsh, but some context would be helpful  :)

[2017-05-15 21:23] cblecker commented on #1631
Another thought: in the same vein as "[if] multiple people are responsible for reviewing a PR, no one will be responsible", right now we're assigning two reviewers right off the bat. Perhaps if we have a better way of suggesting alternate reviewers (as suggested above), we should only assign 1 off the top?

[2017-05-15 21:50] msau42 commented on #2540
PR #2763

[2017-05-15 21:50] crimsonfaith91 commented on #1631
should i change number of reviewers from 2 to 1?

[2017-05-15 21:52] fejta commented on #1631
We should only go back to that when someone provides evidence it works better.

I will be utterly **astonished** if a single assignee has lower tail latency than multiple. We used to do this and we went away from it because it does not work.

[2017-05-15 21:52] crimsonfaith91 commented on #1631
noted! i will leave it at 2 for now until proven otherwise. thanks! :)

[2017-05-15 22:42] #2536 closed

[2017-05-16 01:04] krzyzacy opened #2768 "Ensure all prow e2e job has --mode=local in config.json"
Or it will explode

/assign

[2017-05-16 01:14] fejta commented on #2768
Dup of https://github.com/kubernetes/test-infra/issues/2544

[2017-05-16 03:20] krzyzacy commented on #2544
/assign

[2017-05-16 03:20] krzyzacy commented on #2768
updated #2544

[2017-05-16 03:20] #2768 closed

[2017-05-16 03:27] crimsonfaith91 commented on #1754
@fejta I will get back to this when I resolve the inactive reviewer issue. Sorry for the delay!

[2017-05-16 17:42] krzyzacy opened #2775 "//triage:script_test is pretty flaky now"
sample failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/2774/pull-test-infra-bazel/3253/

/assign @rmmh

[2017-05-16 18:43] #2540 closed

[2017-05-16 19:53] enisoc opened #2778 "KeyError in scenarios/kubernetes_verify.py"
Anago supports working on branches of the form [release-X.Y.Z](https://github.com/kubernetes/release/blob/master/docs/branching.md#branching-from-a-tag).

However, [tests on PRs targeting such a branch](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45905/pull-kubernetes-verify/30103/) fail like this:

[code]

Because this script does not expect three-part versions in rel

[2017-05-16 21:04] mml opened #2780 "Document the meaning of all the control labels used by the submit queue"
I.e. the ones at https://submit-queue.k8s.io/#/info

[2017-05-16 21:04] mml opened #2781 "Please add a "file a bug" link to the submit queue UI"
Thanks!

[2017-05-16 21:48] pipejakob commented on #2753
Do you envision these flags being used by any other deployers in `kubetest`? The convention there is to scope flags to indicate what they actually apply to in order to avoid confusion. I assume these are going to apply only if the deployment option is set to `kubernetes-anywhere`, and additionally only if the provider is `kubeadm`, so as verbose as it sounds, I think the proper naming would be som

[2017-05-16 21:51] pipejakob commented on #2753
Of course I say all of that before I actually got to https://github.com/kubernetes/kubernetes-anywhere/pull/390 in my backlog, so all of that may be moot after I come up to speed on your other PR.

[2017-05-16 22:15] brendandburns opened #2783 "'undefined' should be highlighted in the the gubernator display"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/45903/pull-kubernetes-unit/30908/build-log.txt

gives an example of a hard to analyze output, the key text is:

[code]

But it wasn't highlighted.

[2017-05-16 22:22] fejta commented on #2783
/assign @rmmh

Can we just disable all the highlighting and truncating? It has never provided me with any value.

[2017-05-16 22:34] klizhentas commented on #2753
@pipejakob thanks for reviewing the issue, I think this is where I arrived after prototyping the support for CNI - kubernetes anywhere basically needs to specify `CNI` plugin name and some extra options in case if it's flannel `CIDR` range, that's the reason for my suggestion.

I saw in the review of https://github.com/kubernetes/kubernetes-anywhere/pull/390 you have mentioned setting the CIDR ran

[2017-05-16 22:38] cblecker commented on #2783
@fejta I just opened #2784 to add this to the list of highlight words

Speaking from the point of a newer contributor, highlighting words like "failed" and "error" really helps to pull out the important stuff when we have, in this case, an 1800+ line log file.

[2017-05-16 22:40] fejta commented on #2783
Agree, but the problem is that 99% of the lines with error and failed in them are red herrings.

[2017-05-16 22:40] rmmh commented on #2783
Yeah, and 99.9% of them without error and failed in them are totally useless. People that spend time reading logs seem to like the feature :)

[2017-05-16 22:43] fejta commented on #2783
And then misdiagnose the problem because we hide the actual error and highlight something useless like "couldn't delete network that doesn't exist"

[2017-05-16 22:51] rmmh commented on #2783
There are a lot of errors beyond just "undefined" that can cause the build to fail. We either need a more complete list of them, or we need some better marking when 'make test' fails.

For comparison, the bazel run of the same PR is easy to diagnose: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45903/pull-kubernetes-bazel/21331/

[2017-05-16 22:59] rmmh commented on #2783
There's some gap between what I see running 'make test' and what happens when the CI runs 'make test' that adds to the problems.

I see output like:
[code]

Which would be highlighted correctly.

[2017-05-16 23:01] cblecker commented on #2783
@fejta: The regex you call out above would work for go build issues, but I could see that highlighting lots of things from bash scripts and the like that we don't intend to be highlighted.

[2017-05-16 23:05] fejta commented on #2783
That's fine. It is already pretty clear we're not concerned much with false positive highlighting.

[2017-05-16 23:21] brendandburns commented on #2783
Personally, I find the highlighting useful (even with the noise)

I'd prefer to see gradual improvement in highlighting/truncation, rather than elimination.

Put another way, at least 90% of the time, when I open up the page, the right thing is highlighted.

In the cases where it's not, it's often one of 2-3 patterns that could be blacklisted.

[2017-05-16 23:24] fejta commented on #2783
Good feedback, thanks!

[2017-05-17 10:03] nikhita opened #2787 "Prow issue: Keep hitting a flake"
I keep hitting this flake: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45721/pull-kubernetes-federation-e2e-gce/5138/. Noticed that most of the recently updated PRs are failing on this one. See also: https://github.com/kubernetes/kubernetes/issues/42072.

I mentioned this in  the sig-testing channel as well and wasn't sure if I should be mentioning in the above issue o

[2017-05-17 17:28] #2775 closed

[2017-05-17 18:08] fejta commented on #2781
IMO the best place for this would be a link in gubernator.

[2017-05-17 18:08] fejta commented on #2740
/cc @krzyzacy

[2017-05-17 18:08] fejta commented on #2696
/assign @mtaufen

[2017-05-17 18:09] fejta opened #2789 "Extend prow to talk to slack"
If I @kubernetes/sig-testing-feature-requests it should send a message to #sig-testing on slack

[2017-05-17 18:15] fejta commented on #2787
Moving issue to kubernetes repo and labelling with sig-federation

[2017-05-17 18:15] #2787 closed

[2017-05-17 18:16] #544 closed

[2017-05-17 18:17] nikhita commented on #2787
@fejta Thank you!

[2017-05-17 18:20] fejta commented on #2778
So we need to change `\.\d+` to `(\.\d+)+`? Any chance you can send a PR with the fix?
/assign @enisoc

Or feel free to assign it back to me if you don't want to.

[2017-05-17 18:21] fejta commented on #2697
/unassign

[2017-05-17 18:22] fejta commented on #2725
/assign @cblecker @rmmh

[2017-05-17 18:24] fejta commented on #428
The traige dashboard and testgrid deprecated this site.

[2017-05-17 18:24] #428 closed

[2017-05-17 18:25] fejta commented on #501
/unassign @apelisse
/assign @cjwagner

Fixed in the new issue filer (won't file an issue until a week after it is fixed)

[2017-05-17 18:25] #501 closed

[2017-05-17 18:26] #1385 closed

[2017-05-17 18:27] #1522 closed

[2017-05-17 18:28] fejta commented on #1484
Migrated to kops repo

[2017-05-17 18:28] #1484 closed

[2017-05-17 18:29] #1637 closed

[2017-05-17 18:30] fejta commented on #1613
We now integrate with the reviewer api
/assign @cjwagner

[2017-05-17 18:30] #1613 closed

[2017-05-17 18:30] fejta commented on #1473
/unassign @rmmh
/assign @michelle192837
who is working on this

[2017-05-17 18:31] fejta commented on #1623
/unassign @foxish
/assign @apelisse
who made this loop dramatically faster

[2017-05-17 18:31] #1623 closed

[2017-05-17 18:32] fejta commented on #1451
/assign @cjwagner
Is this something you're planning to work on?

[2017-05-17 18:32] #1628 closed

[2017-05-17 18:32] krzyzacy commented on #1473
things are migrated from bash world to scenarios, and testgrid looks fine now

[2017-05-17 18:32] #1473 closed

[2017-05-17 18:32] #1678 closed

[2017-05-17 18:33] #1687 closed

[2017-05-17 18:34] fejta commented on #1473
Michelle's updating testgrid to make it obvious when results are hidden. Michelle feel free to leave this closed or `/reopen` if you prefer

[2017-05-17 18:34] #1635 closed

[2017-05-17 18:35] #1629 closed

[2017-05-17 18:35] fejta commented on #1317
/unassign @rmmh
/assign @cjwagner
Solved, finally!

[2017-05-17 18:35] #1317 closed

[2017-05-17 18:36] #1230 closed

[2017-05-17 18:37] #1943 closed

[2017-05-17 18:37] #1972 closed

[2017-05-17 18:38] #1754 closed

[2017-05-17 18:38] fejta commented on #1754
Testgrid and triage sites have deprecated the 24 hr test history

[2017-05-17 18:39] fejta commented on #1759
Dup of https://github.com/kubernetes/kubernetes/issues/45196

[2017-05-17 18:39] #1759 closed

[2017-05-17 18:41] #1761 closed

[2017-05-17 18:43] fejta commented on #2103
On thing left is the dashboard, which is something that we will work on soon:
/assign @cjwagner

[2017-05-17 19:07] #2357 closed

[2017-05-17 19:08] #2132 closed

[2017-05-17 20:39] #2631 closed

[2017-05-17 20:56] cblecker commented on #2725
https://github.com/kubernetes/kubernetes/pull/45984 should fix this up, so the `FAILED` message from verify.sh will display if vet doesn't pass.

[2017-05-17 20:58] madhusudancs commented on #1260
May be reopen? It is still not done.

cc @shashidharatd

[2017-05-17 21:41] krzyzacy opened #2790 "Write a script to create new upgrade jobs"
they are highly templated, it can probably save us some time when creating new upgrade jobs in new releases...

/assign

[2017-05-17 21:48] madhusudancs opened #2791 "Move federation presubmit deploy job (pull-gce-deploy) to prow"
`pull-gce-deploy` is a periodic job that runs on Jenkins and when something goes wrong people outside Google don't have access to manually trigger new builds of this job. So we need to move this to prow so people can manually trigger new builds.

@shashidharatd we chatted about this briefly last night. Are you interested in taking this one?

cc @csbell @perotinus @kubernetes/sig-federation-misc

[2017-05-18 00:00] mml commented on #2781
@fejta there is a link already on the gubernator PR dashboard, but I think there should be a "file a bug" link on basically every HTML UI we serve up.

[2017-05-18 00:05] #2783 closed

[2017-05-18 00:14] shashidharatd commented on #2791
yes @madhusudancs, i would take this on with priority.
/assign
/sig federation

[2017-05-18 00:28] shashidharatd commented on #2791
I do have a query regarding moving to prow from jenkins job. probably @fejta has answer for this.
is there a mechanism for a prow job to block on another prow job?
for e.g:
[code]
can we specify `pull-kubernetes-federation-e2e-gce` not to run while `kubernetes-pull-gce-federation-deploy` is running?

[2017-05-18 10:32] jamiehannaford commented on #2753
https://github.com/kubernetes/test-infra/pull/2771 has been updated

[2017-05-18 20:08] mml commented on #2780
I have a couple PRs in flight that merely add debug logging.  They are to help with one of the "biggest flakes" flakes.  Is there a `queue/*` label appropriate for these?

[2017-05-18 20:43] fejta commented on #2780
Awesome, thanks for adding that debugging PR!

With batched merges &c the queue depth should be tiny, so please don't use `queue/*` labels as it just slows down the system. Eventually we plan to eliminate all of them.

[2017-05-18 20:44] #2778 closed

[2017-05-18 21:35] brahmaroutu commented on #2789
/assign

[2017-05-18 23:06] krzyzacy opened #2802 "Automate check_projects.py somehow"
#2800

/assign

[2017-05-18 23:48] fejta commented on #2802
1) Add a presubmit check that uses service account A to ensure that service account B is an owner of the all known projects
2) Create a postsubmit prow job that runs as service account B that ensures that all the expected grants are applied to known projects

[2017-05-18 23:49] fejta commented on #2802
However, we may want to run this internally for Google owned projects, since this is where we define the list of expected grants.

[2017-05-18 23:51] krzyzacy commented on #2802
external and internal has different default configs humm... maybe we need both

[2017-05-19 05:20] #1260 closed

[2017-05-19 23:10] crimsonfaith91 opened #2806 "Pinger should handle both IssueComment, PullRequestComment, and IssueEvent"
Currently, pinger (under `mungegithub/mungers/matchers/comment/`) only handle IssueComment. It should handle PullRequestComment too.

[2017-05-19 23:10] crimsonfaith91 commented on #2806
/assign @crimsonfaith91

[2017-05-19 23:10] crimsonfaith91 commented on #2806
/cc @grodrigues3

[2017-05-19 23:13] grodrigues3 commented on #2806
@apelisse says he wrote a PR that deals with this in an elegant way

[2017-05-20 07:55] fejta commented on #2059
/assign

[2017-05-20 08:05] techtonik opened #2812 "k8s-bot - how does it check whitelist?"
https://github.com/kubernetes/test-infra/tree/master/prow#bots-home - that's all documentation about bot behavior. How does it check who to react to? Where is the best place to document it?

[2017-05-21 15:23] apelisse commented on #2806
For the reference, https://github.com/kubernetes/contrib/pull/1659

[2017-05-22 03:27] chrislovecnm opened #2814 "kops e2e testing is running two different tests"
Example: https://github.com/kubernetes/kops/pull/2621

Two different e2e jobs are being called.  One is actually being ran, pull-kops-e2e-kubernetes-aws, and another never runs and is called "Jenkins Kubernetes AWS e2e".

This is blocking any merges for kops currently.

"Jenkins Kubernetes AWS e2e" is not automatically starting with org members, and running the bot command starts pull-kops-e2e-kub

[2017-05-22 06:58] xiangpengzhao opened #2815 "k8s-bot doesn't tell me a joke..."
@k8s-bot ok to test
otherwise
@k8s-bot tell me a joke :smiling_imp:

I ran above commands here: https://github.com/kubernetes/kubernetes/pull/46197#issuecomment-303013550

k8s-ci-bot just told me that `@xiangpengzhao: you can't request testing unless you are a kubernetes member.`. It didn't tell me a joke... Is it because there was an emoji in the command?

/cc @fejta

[2017-05-22 06:58] xiangpengzhao commented on #2815
@k8s-bot tell me a joke

[2017-05-22 08:02] techtonik commented on #2815
Related to #2812.

[2017-05-22 08:09] xiangpengzhao commented on #2812
This doc list bot commands: https://github.com/kubernetes/test-infra/blob/master/commands.md. But seems like it doesn't answer your first question.

[2017-05-22 08:24] xiangpengzhao commented on #2815
For this issue, I think it's because the joke site is down. In the [code](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/yuks/yuks.go#L37), bot tries to get real joke from https://tambal.azurewebsites.net/joke/random. I visit this url in my browser, it gives me a ERR_TUNNEL_CONNECTION_FAILED error. We might need a more stable joke site...

[2017-05-22 10:02] techtonik commented on #2812
Added to https://github.com/kubernetes/test-infra/pull/2816

[2017-05-22 10:07] techtonik opened #2817 "Bots battle"
@k8s-ci-robot vs @k8s-bot - what's the difference?

Also, interesting to look at all bots in the garage, @k8s-cherrypick-bot, @k8s-merge-robot etc.

[2017-05-22 17:01] zmerlynn commented on #2814
It looks like the "context" names provided by prow changed (@spxtr?). I'm fixing the lock on the branch.

[2017-05-22 17:02] zmerlynn commented on #2814
FWIW, the configuration that I'm fixing is here: https://github.com/kubernetes/kops/settings/branches/master (I believe you have access, @chrislovecnm ?)

[2017-05-22 17:04] zmerlynn commented on #2814
kubernetes/kops#2621 is still missing a review, but is green otherwise. Closing.

[2017-05-22 17:04] #2814 closed

[2017-05-22 17:07] ixdy commented on #2817
@k8s-bot was one of the first, and I created it for Jenkins. I'd imagined that we'd use it for everything bot-related, but we ended up creating separate accounts for everything instead. Despite it being what everyone mentions, nothing actually uses that account anymore.

[2017-05-22 17:10] ixdy commented on #2815
/assign @fejta
P0 issue! :)

[2017-05-22 17:13] krzyzacy commented on #2815
@fejta please also find a funnir joke site instead, that's the real issue here :-)

[2017-05-22 17:42] chrislovecnm commented on #2814
@zmerlynn no access ... admin only

[2017-05-22 17:43] crimsonfaith91 commented on #2806
/assign @apelisse
Thanks for helping out! :)

[2017-05-22 17:43] crimsonfaith91 commented on #2806
/unassign @crimsonfaith91

[2017-05-22 17:48] grodrigues3 commented on #2605
@crimsonfaith91 's PR fixed this.

[2017-05-22 17:48] #2605 closed

[2017-05-22 17:49] grodrigues3 commented on #2605
@dchen1107 @marun @calebamiles

Note that if this is our policy, the bot is now checking that ALL Issues in milestone have sig-label.

[2017-05-22 17:49] crimsonfaith91 opened #2820 "Standardize bot commands"
The k8s-bot commands are not consistent with other bot commands. A new set of commands below may be more coherent:
(1) `@k8s-bot test this` -> `/test this`
(2) `@k8s-bot ok to test` -> `/ok to test`
(3) `@k8s-bot tell me a joke` -> `/tell me a joke`

We may also can have a more abridged version of commands:
(1) `@k8s-bot test this` -> `/test`
(2) `@k8s-bot ok to test` -> `/ok`
(3) `@k8s-bot tell m

[2017-05-22 17:52] crimsonfaith91 commented on #2820
@fejta @spxtr
/cc @grodrigues3

[2017-05-22 17:54] grodrigues3 commented on #2820
Please include all of the `@k8s bot `commands when you refactor.

[2017-05-22 18:50] xiangpengzhao commented on #2815
yeah, another joke site would be great!

and we can also modify the code a bit like this:

in the below code, if j.readJoke has an error, we don't return but set the resp to a default joke or something like "I don't have jokes now, you can tell me a joke if you have". WDYT? @fejta @ixdy @krzyzacy
[code]

[2017-05-22 20:39] crimsonfaith91 opened #2823 "/help command to list bot commands"
There should be a `/help` command that lists bot commands and their usage.

[2017-05-22 20:39] crimsonfaith91 commented on #2823
/cc @grodrigues3
/assign @crimsonfaith91

[2017-05-22 20:45] grodrigues3 commented on #2823
Let's see what listing all of them looks like.  If that's too much, just list some of the more commonly used ones (the triage ones and retrigger test ones for example) and link to the rest.

[2017-05-22 20:45] enisoc opened #2824 "Testing for hotfix branches (release-X.Y.Z)"
For the v1.6.4 release, we used a feature of anago to [branch from a previous patch release](https://github.com/kubernetes/release/blob/master/docs/branching.md#branching-from-a-tag), creating a `release-1.6.3` branch to exclude changes on the `release-1.6` branch since v1.6.3.

Unlike regular `release-X.Y` branches, the urgent nature of hotfix releases means we can't go through the usual flow to

[2017-05-22 21:19] #2815 closed

[2017-05-22 21:22] fejta commented on #2815
@k8s-bot tell me a joke

[2017-05-22 21:22] fejta commented on #2815
@k8s-bot tell me a joke

[2017-05-22 22:35] fejta opened #2829 "Migrate stuff out of e2e-runner.sh"
We should update kubernetes_e2e.py to use kubetest flags directly:

- [x] `--up`
- [x] `--down`
- [x] `--dump`
- [x] `--extract`
- [x] `--skew`
- [x] `--save`
- [x] `--check-leaked-resources`
- [x] `--federation`
- [x] `--deployment`
- [x] `--test`
- [x] `--test_args`
- [x] `--upgrade_args`
- [x] `--kubemark`
- [x] `--charts`
- [x] `--perf-tests`
- [x] `--timeout`
- [x] `--publish`
- [x] `${E2E_OP

[2017-05-22 22:39] fejta commented on #2829
I'll take:
`--publish`, `--timeout`, `--extract` and `--skew`

[2017-05-22 22:39] fejta commented on #2829
/assign

[2017-05-22 22:42] krzyzacy commented on #2829
/assign
I'll start with:
`--up`, `--down`, `--test`, and `--federation`, `--kubemark`, `--charts`, `--perf-tests`

[2017-05-23 00:55] #2059 closed

[2017-05-23 00:56] fejta commented on #2059
Unit tests now validate that a) the context matches the job name and b) `@k8s-bot job-name test this` reruns the job

[2017-05-23 01:10] ixdy commented on #2704
Added complication: to use `kubetest --build` we need something like the `kubekins-e2e` image with Bazel installed. This seems to add ~600MB to the docker image (1.703GB instead of 1.1.156), which makes me a bit hesitant. We can probably create a separate image that's kubekins-e2e + bazel, though this adds complication to the e2e scenario. (We probably don't need half of the stuff in the kubekins-

[2017-05-23 02:39] techtonik commented on #2823
I would also add some telegram interface to play and debug the bot with `/help` and friends to avoid tracker pollution.

[2017-05-23 03:06] techtonik commented on #61
Is there at least place to redirect people who are interested to help with status of OS X build node?
https://github.com/kubernetes/kubernetes/issues/40099
https://github.com/kubernetes/community/issues/339

[2017-05-23 04:08] techtonik commented on #2817
It would be nice to have those species documented somewhere. @k8s-bot still works and responds to command, right? It just doesn't change issues - directs commands to other bots and their to their specific functions (CI, merge), is that right?

Is there a label for all bot related issues?

[2017-05-23 16:22] ahmetb opened #2839 "[prow] Why doesn't /close handle PRs?"
I'm trying to close a PR assigned to me. `/close` did not do anything.

https://github.com/kubernetes/test-infra/blob/27540b574f70e4c25847e55de75b2212a18ecbba/prow/plugins/close/close.go#L47

It looks like this is by design. Why?

[2017-05-24 03:00] grodrigues3 commented on #2839
/assign @fejta

I think he wrote this

[2017-05-24 06:23] cblecker commented on #2839
+1. It would be great if `/close` also supported PRs.

[2017-05-24 07:48] fejta commented on #2839
/unassign

Actually this is one of the original plugins Joe wrote back in November!

[2017-05-24 17:24] grodrigues3 commented on #2839
/assign @spxtr

[2017-05-24 17:52] krzyzacy commented on #2790
done in #2803

[2017-05-24 17:52] #2790 closed

[2017-05-24 17:53] krzyzacy commented on #2537
we are getting rid all those envs as well as e2e-runner.sh, so, meh

[2017-05-24 17:53] #2537 closed

[2017-05-24 19:58] caesarxuchao opened #2847 "publishing bot bug"
When the robot tries to cherry-pick https://github.com/kubernetes/apiserver/commit/e701e4054475458134b6b25aae0ca96298704abd to k8s.io/apiserver master branch, the robot fails with:
[code]

[2017-05-24 19:58] caesarxuchao commented on #2847
I won't have time fixing it until the code freeze. Sorry.

[2017-05-24 20:17] cblecker commented on #2820
to keep consistency with current commands, the very first part of the command after the / should be one "word", with dashes instead of white spaces.

so `/test` or `/ok-to-test` make sense.. but `/ok to test` and `/test this` probably don't.

I'd also suggest that if it makes sense to re-word the commands, we take this opportunity to do so. the `@k8s-bot` format was in the tone of you're talking t

[2017-05-24 20:19] cblecker commented on #2820
@kubernetes/sig-contributor-experience-misc

[2017-05-24 23:13] crimsonfaith91 opened #2848 "Inactive review munger should only post comments for a certain number of times"
Currently, the munger will post the comments for indefinite number of times. As pointed out by @apelisse, it should have a limit on total number of times it posts the comments.

My doubt that we need this is based on 3 reasons:
(1) close-stale munger will close some stale PRs
(2) for PRs with `keep-open` label, the author should have done something to make sure the PRs merged within a reasonable p

[2017-05-24 23:14] crimsonfaith91 commented on #2848
/assign @crimsonfaith91

[2017-05-24 23:15] crimsonfaith91 commented on #2848
/cc @foxish

[2017-05-24 23:45] foxish commented on #2717
Is this done? Can we close this?

[2017-05-25 01:06] crimsonfaith91 commented on #2848
@kubernetes/sig-contributor-experience-bugs

[2017-05-25 01:07] crimsonfaith91 commented on #2848
@kubernetes/sig-contributor-experience

[2017-05-25 17:58] crimsonfaith91 commented on #2848
I will go ahead to implement the pinger: https://github.com/kubernetes/test-infra/pull/2795
Feel free to continue giving any feedback. :)

[2017-05-25 17:58] #2848 closed

[2017-05-25 20:29] crimsonfaith91 opened #2851 "Sig mention handler is not deployed yet, link should point to sig group list"

[2017-05-25 20:30] crimsonfaith91 commented on #2851
/assign @crimsonfaith91
/cc @grodrigues3

[2017-05-25 21:56] ixdy opened #2855 "automatically re-run PR tests that fail due to flakes"
Rough idea: if a PR test job fails, look at the failure reason(s) and compare against the top N [aggregated failures](https://storage.googleapis.com/k8s-gubernator/triage/index.html). If there's a match, consider the failure a flake and automatically re-run the test.

(We probably need some sort of big red button if the infra falls over for some reason. Or automatic limiting, or something like tha

[2017-05-26 02:19] xiangpengzhao opened #2863 "/close should be able to close PR"
I comment `/close` in my PR, nothing happens. Hope that it should be able to close PR, not only issue.

see https://github.com/kubernetes/kubernetes/pull/46478#issuecomment-304172240

[2017-05-26 03:34] xiangpengzhao opened #2864 "Tests should be canceled after PR is closed"
I close my PR one hour ago: https://github.com/kubernetes/kubernetes/pull/46478#event-1098280698

But k8s-ci-robot reported a test flake 28 minutes ago: https://github.com/kubernetes/kubernetes/pull/46478#issuecomment-304178784

So it seems like the tests still ran after the PR was closed.

[2017-05-26 03:36] xiangpengzhao commented on #2863
As per the code : https://github.com/kubernetes/test-infra/blob/master/prow/plugins/close/close.go#L47

Why don't we allow to close PR by `/close`?

[code]

[2017-05-26 03:39] krzyzacy commented on #2863
Isn't it you can click the close button on your own PR?

[2017-05-26 04:32] xiangpengzhao commented on #2863
Yes, Sen, I can close my PR by clicking the close button. I thought `/close` command has the same behavior for both PR and issue :)

[2017-05-26 04:36] fejta commented on #2863
I see no reason to restrict this command to PRs.

Author can click the close button. Not necessarily the assignee.

[2017-05-26 06:35] xiangpengzhao commented on #2863
Assignee might want close some dup PRs, or some wrong PRs such as https://github.com/kubernetes/kubernetes/pull/45470. But surely it's not so necessary.

/close :)

[2017-05-26 06:35] xiangpengzhao commented on #2863
/close

[2017-05-26 06:35] #2863 closed

[2017-05-26 10:55] simt2 opened #2865 "Prow issue: k8s-ci-robot posts dead link in details section"
In the details section of the comment k8s-ci-robot makes when tests failed, the link in the sentence "Instructions for interacting with me using PR comments are available here." is dead. It should probably link to `https://github.com/kubernetes/test-infra/blob/master/commands.md` and not `https://github.com/kubernetes/community/blob/master/contributors/devel/pull-request-commands.md`.

[2017-05-26 17:05] krzyzacy commented on #2865
@simt2 thanks, would you like to send a quick PR to fix the link?

[2017-05-26 17:09] krzyzacy commented on #2864
We can abort the test pod in prow, but I'm afraid that the actual test will still be running in the remote cluster.. Maybe we just don't report back if the PR is closed, but that might be misleading as well.

[2017-05-26 17:20] krzyzacy commented on #2863
@xiangpengzhao #2839 is still open, you can keep an eye on that one as well.

[2017-05-26 19:01] mtaufen commented on #2696
Remaining:
- send mail
- delete unclaimed jobs

I'll wait until just after the code freeze starts to do the first, people are probably too busy right now to audit their jobs.

[2017-05-26 19:46] xiangpengzhao commented on #2863
Thanks Sen!

[2017-05-27 00:02] crimsonfaith91 opened #2868 "Each PR should have an associated issue"
The release team has a feature request:

It is difficult to figure out from PRs exactly what's being addressed, and this is especially bad for tracking (as has been brought up before in retrospectives).
They want to require that new PRs have associated issues in order for the approval process to be complete.

Having a PR to be associated with at least an issue will:
(1) allow better visibility int

[2017-05-27 00:13] foxish commented on #2868
cc @kubernetes/sig-contributor-experience-feature-requests

[2017-05-27 00:17] grodrigues3 opened #2869 "Add /sig-approved functionality"
For the 1.7 release, the release team asked for a few things

- All PRs have an associated issue in the milestone (https://github.com/kubernetes/test-infra/issues/2868)
- All Issues have a sig label
**- All Issues are approved by aforementioned sig by applying approved-for-milestone label**

Not all sig-leads have access to apply the approved-for-milestone label.  Let's add /sig-approved command t

[2017-05-27 00:18] grodrigues3 commented on #2869
Making this a high priority since code freeze is Jun 01, and we'd like sigs to be able to start adding this lable ot their issues starting around then (or sooner)

[2017-05-27 00:19] rmmh commented on #2868
Why should every PR have an issue?

[2017-05-27 00:24] grodrigues3 commented on #2868
Release team decided that issues:
- allow visibility into the release (what features bugfixes are present) and this was commonly complained about in the OSS retrospectives
- Having an associated issue makes tracking it's progress (i.e this issue was fixed by these 4 PRs)

[2017-05-27 00:27] foxish commented on #2868
It is an ongoing effort to improve the quality of the release, and currently, it appears that the release team has a hard time figuring out from PRs exactly what's being addressed.
Requiring that PRs have associated issues ensures that the release team has visibility into the underlying issue that it closes (partially or completely), and use that data for tracking.

One might argue that relnotes a

[2017-05-27 00:38] crimsonfaith91 commented on #2868
For implementation steps:

The approval munger should verify whether a PR has an issue:
(1) if a PR has its issue, checks whether the issue has a sig label
&nbsp;&nbsp;&nbsp;&nbsp;(a) if there is one, do nothing
&nbsp;&nbsp;&nbsp;&nbsp;(b) if there is none, also do nothing (this will be handled by `sig-mention-handler` munger that will be introduced very soon, refer: https://github.com/kubernetes/

[2017-05-27 01:04] crimsonfaith91 commented on #2868
/cc @apelisse

[2017-05-27 01:47] cblecker commented on #2869
The other way to potentially track who should be able to apply the label would be to check github team membership.. @kubernetes/sig-leads or something:
https://developer.github.com/v3/orgs/teams/#get-team-membership

[2017-05-27 03:45] grodrigues3 commented on #2869
@cblecker.  Teams allow for no auditing, and therefore we can't tell who added someone to the sig-leads team.  With the OWNERS_ALIASES file you'd have to submit a PR to get it merged.

[2017-05-27 04:05] cblecker commented on #2869
Good point 👍🏻

[2017-05-28 18:25] spxtr commented on #2864
If the PR is closed then we shouldn't report the result back, but we do still want to run the test. If we cancel the test itself then we'll leak our test cluster.

[2017-05-28 18:34] spxtr commented on #2820
I agree with @cblecker except instead of `/test ok` I prefer `/ok-to-test` or just `/ok`.

[2017-05-28 18:35] xiangpengzhao commented on #2864
Is there anyway to cancel the test and also tear down the test cluster?

[2017-05-28 18:51] spxtr commented on #2839
We could remove that constraint, even if only for consistency. Authors of PRs can close their own PRs, but authors of issues cannot close their own issues.

[2017-05-28 18:56] spxtr commented on #2868
I would be okay with requiring all PRs that request a release note to have an associated issue. However, requiring all PRs to have an issue would just be super annoying.

[2017-05-28 19:17] foxish commented on #2868
The release team's biggest concern is that there is no single source of truth covering all the things that went into a release, and the PRs themselves are often badly described. Not many of them have a release-note even, especially if they are smaller bug fixes. Given the effort a person goes through to create most PRs, creating a corresponding issue wouldn't be too hard IMO.

However, for typo fi

[2017-05-28 20:44] crimsonfaith91 commented on #2868
IMO, perhaps we can introduce a `trivial` label for the typo fixing PRs and the like.

[2017-05-28 20:47] crimsonfaith91 commented on #2820
i think `/ok` is good. :)

[2017-05-29 09:41] sttts commented on #2847
/cc @gmarek

[2017-05-30 16:07] apelisse commented on #2820
`/ok` is good because it's short. But it's also so short that it's not very explicit, and it is a command that we may want to reserve for later use.

I vote `/ok-to-test` FWIW

[2017-05-30 16:09] spxtr commented on #2868
I'm not sure I understand how this is supposed to work. Can you be more precise in what exactly happens when a PR such as the one I linked is opened and moves through the ordinary flow?

[2017-05-30 16:16] spxtr commented on #2855
@apelisse mentioned this a while ago.

[2017-05-30 16:25] apelisse commented on #2868
I'll [link Jeff Bezos](https://www.amazon.com/p/feature/z6o9g6sysxur57t) on this one :-)

It sounds like we do a bad job giving good descriptions/labels to PRs. I completely agree with that and argued for better PR description for as long as I've worked on this project. We also fail to shepherd PRs consistently.

To fix that, you suggest creating issues as a proxy. Can you explain me:
- How issues

[2017-05-30 16:33] apelisse commented on #2855
We over-zealously run tests. Especially for documentation/minor changes.

In *my* ideal world, we would run only the tests that are needed, and we would then, indeed, re-run failing tests a couple of times.

[2017-05-30 16:38] spxtr commented on #2855
Agreed. To start, we should try to resurrect #2414. I just haven't had time to do it. Maybe make that a help-wanted thing?

[2017-05-30 16:42] spxtr commented on #2757
Yes, there should be a gubernator link.

[2017-05-30 16:46] apelisse commented on #2855
It's very unclear what went wrong with #2414 though. Could you explain in the PR what happened and why it was reverted?

[2017-05-30 21:29] cjwagner opened #2878 "Bazel missing dependencies"
Some tests are failing when I run `bazel test //...`. Specifically, `//kettle:make_db_test`, `//kettle:make_json_test`, `//kettle:model_test`, and `//triage:script_test`
The kettle failures are all caused by missing the `_sqlite3` module and the triage failure is caused by missing a `mocha` module.

Kettle failure example:
[code]

Triage failure:

[code]

[2017-05-30 21:39] ixdy commented on #2878
The triage test will be fixed by #2877.

[2017-05-30 23:05] cjwagner commented on #2878
Bazel is also missing the module `six` which is required by pylint:
[code]

[2017-05-31 02:00] crimsonfaith91 commented on #2820
I have started to work at it, and found `@k8s-bot test this` command are used only in `config.yaml` file (and test files). Correct me if i am wrong.

If standardizing the bot commands aims to give a better experience for contributors, i wonder whether we need to change the `@k8s-bot test this` command. The change for `test this` is not trivial, and affects a lot of the configurations.

[2017-05-31 17:23] yguo0905 opened #2894 "Simplify e2e tests creation and modification"
# Simplify e2e tests creation and modification

## Problem

New image/k8s are released every month/quarter, but creating and modifying tests for the new releases is a non-trivial job.

There are several dimensions for a test, such as cloud providers, image types, images, k8s versions, and test suites. When things need to be changed or added in one dimension, a large number of tests need to be upda

[2017-05-31 17:25] yguo0905 commented on #2894
@krzyzacy
@abgworrall

[2017-05-31 17:29] krzyzacy commented on #2894
We don't have to combine them, it probably can simply be
[code]

[2017-05-31 17:33] crassirostris opened #2896 "Quota 'SUBNETWORKS' exceeded in e2e tests"
E.g.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46700/pull-kubernetes-e2e-gce-etcd3/33214/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46700/pull-kubernetes-kubemark-e2e-gce/32814/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46696/pull-kubernetes-kubemark-e2e-gce/32813/

[code]

[2017-05-31 17:34] crassirostris commented on #2896
Filed in K8s repo: https://github.com/kubernetes/kubernetes/issues/46713

[2017-05-31 17:34] #2896 closed

[2017-05-31 17:39] yguo0905 commented on #2894
Yes, this is good. This configuration and the referenced env files are an intermediate step. I guess the user-facing configuration is still the yaml configuration.

[2017-05-31 18:24] grodrigues3 commented on #2839
Clarification, author's of issues cannot close their own issues with `/close`. The github UI provides that capability.

[2017-05-31 18:54] spxtr commented on #2839
Other way around. Authors of issues cannot close their own issues with the UI.

[2017-05-31 18:56] cblecker commented on #2839
@spxtr I'm not sure that's true. I just checked an issue I've opened against a non k8s repo I have zero permissions to, and I have a "Close Issue" button right beside the green comment button near the bottom.

[2017-05-31 19:37] grodrigues3 commented on #2839
![image](https://cloud.githubusercontent.com/assets/4854198/26650308/d79d25ac-45fd-11e7-905c-79539afbcfff.png)

Verified: Using a brand-new github account with no permissions in the repo, I can close my own issue.

[2017-05-31 21:24] xiangpengzhao commented on #2839
Yes authors can close their own issues but not PRs. ref:#2863

[2017-05-31 21:31] cblecker commented on #2839
authors can close their own PRs with the github UI. `/close` doesn't work on PRs at all.

[2017-05-31 21:46] fejta opened #2901 "triage tests broken at head"
[code]

/assign @rmmh

[2017-05-31 21:47] fejta commented on #2901
/area triage

[2017-05-31 21:48] rmmh commented on #2901
worksforme

[2017-05-31 21:48] rmmh commented on #2901
I think @ixdy had a PR out to fix this

[2017-05-31 21:49] fejta commented on #2901
Oh I might be on an old commit
/unassign @rmmh
/assign

[2017-05-31 21:55] ixdy commented on #2901
yes, please sync to head and see if it's still broken.

[2017-05-31 22:56] fejta commented on #2901
/close

[2017-05-31 22:56] #2901 closed

[2017-06-01 00:53] dchen1107 commented on #2868
I received a tons of questions from the EngProd team related to this issue. Hope I can answer those questions through this thread.

First let me start with the new policy which triggers this issue was file at the first place. We (the release managemen team) announced a new policy at kubernetes community meeting at:
https://docs.google.com/a/google.com/presentation/d/1a5XSJRsFg-F-f_V5Yn24BxrKirbH_p

[2017-06-01 01:20] xiangpengzhao opened #2909 "Bot doesn't remove "needs-sig" after a sig label is added"
Seems like bot currently adds `needs-sig` label automatically for those issues which don't have sig labels. However, bot doesn't remove `needs-sig` after a sig label is added for the issue. Issues have both `needs-sig` and `sig/foo` at the same time. It's not expected.

See example: https://github.com/kubernetes/kubernetes/issues/46736

/cc @fejta @krzyzacy

[2017-06-01 02:15] krzyzacy commented on #2909
/assign @grodrigues3 @crimsonfaith91

[2017-06-01 02:21] xiangpengzhao commented on #2909
Finally it does:
`k8s-merge-robot added the needs-sig label 2 hours ago`
`k8s-merge-robot removed the needs-sig label 37 minutes ago`

I don't know why it removes `needs-sig` so slowly...

[2017-06-01 02:23] krzyzacy commented on #2909
maybe munger is having a hard time

[2017-06-01 02:29] xiangpengzhao commented on #2868
@dchen1107 IIUC, k8s-merge-robot will close the referenced issue `#XXXX` after PR is merged if it has words `fixed #XXXX` (or `fixes`, etc. [code here](https://github.com/kubernetes/test-infra/blob/master/mungegithub/github/github.go#L64)) Do we want the issue be closed if it is just partially fixed?

[2017-06-01 02:30] crimsonfaith91 commented on #2909
Refer this: https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/sig-mention-handler.go

The delay may due to unexpected long period between two runs of the munger. I will get back to this after doing some research about it.

[2017-06-01 02:41] rmmh commented on #2868
That's not done by k8s-merge-robot, that's a [github feature](https://help.github.com/articles/closing-issues-via-commit-messages/) to close with commit/PR messages.

[2017-06-01 02:46] xiangpengzhao commented on #2868
@rmmh Thanks for pointing out that!

However, we still have to decide if we want the issue be closed if it is just partially fixed, right? IMO, we should keep the issue open until it is completely solved.

[2017-06-01 05:01] thockin commented on #2868
The process is not the objective, the result is the objective.  The process is a tool.

[2017-06-01 07:38] xiangpengzhao opened #2915 "Bot should give a link of label list in the reply."
When an issue doesn't have a sig label after being created, k8s-merge-robot will give a reply as below.

See example: https://github.com/kubernetes/kubernetes/issues/46740#issuecomment-305365316

[code]

It includes a link of team list, but doesn't have a link of label list. It should include a link https://github.com/kubernetes/kubernetes/labels so that issue creator or others can know what sig l

[2017-06-01 10:10] xiangpengzhao commented on #2909
seems like that bot works well now.
/close

[2017-06-01 10:10] #2909 closed

[2017-06-01 15:37] justinsb opened #2919 "AWS: Is the test runner's us-east-1a functional?"
Found the following with one of my AWS accounts while running tests.  My account is older though, so my us-east-1a is the legacy AZ.

[code]

Does the test runner's AWS account have this issue?

cc @dchen1107

[2017-06-01 15:40] justinsb opened #2920 "AWS: `--kops-args` is not working"
Trying to track down why; AFAICT it makes it into the docker run from kubernetes_kops_aws.py, but then the image doesn't apply the args.

I suspect we're not running the latest `kubekins-e2e` image.

[2017-06-01 16:40] krzyzacy commented on #2915
/assign @crimsonfaith91

[2017-06-01 17:19] crimsonfaith91 commented on #2915
@xiangpengzhao Great idea!

[2017-06-01 17:23] krzyzacy commented on #2920
which job?

[2017-06-01 17:54] justinsb commented on #2920
`ci-kubernetes-e2e-kops-aws-weave`

I got tips from slack, and I'm trying to get calling kubetest working directly first, and then am planning on working my way "up" from there...

[2017-06-01 18:49] MrHohn opened #2925 "Make janitor record what resources are leaked"
It is good to have janitor cleaning up leaked resource on projects. Though this somehow hides the error signal from us --- if resources are leaking someone (probably me :)) should fix it.

Do we have a way to track what resources are leaking on which projects? I think a daily report would probably be useful?

@krzyzacy

[2017-06-01 19:06] krzyzacy commented on #2925
yeah, currently basically you go through the logs from https://k8s-testgrid.appspot.com/maintenance#ci-janitor, search for `Deleted ` or something. It's running daily anyway.

I'll try to generate some report out of it.
/assign

[2017-06-01 19:18] MrHohn opened #2926 "`Testgrid History for Job` link for ci-kubernetes-e2e-gce-serial always jumps to sig-cli"
Example: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial

Clicked on `Testgrid History for Job` and it jumped to https://k8s-testgrid.appspot.com/sig-cli#gce-serial.

[2017-06-01 20:23] apelisse opened #2928 "prow: Add a "tests-broken" label to PRs that have broken tests"
The goal is to easily identify pull-requests that are stuck because of that (not necessarily only because of that).

[2017-06-01 20:23] apelisse opened #2929 "prow: Add a "needs-ok-to-test" label to PRs that requires "ok-to-test" message"
That would help identify those PR, and also would help whoever wants to move these forward.

[2017-06-01 20:24] apelisse commented on #2929
Somewhat related to #2928

[2017-06-01 20:26] apelisse commented on #2929
We already have that ...

[2017-06-01 20:26] #2929 closed

[2017-06-01 21:49] caesarxuchao commented on #2847
got yet another issue:

[code]

It's because the image uses go 1.7.5, and that function is introduced in go 1.8

[2017-06-01 22:04] caesarxuchao commented on #2847
I think this the go version used in our test-image is the authoritative on what's the blessed go version: https://github.com/kubernetes/test-infra/blob/master/jenkins/test-image/Dockerfile-1.7#L18

But i don't think that file is reliable enough for us to parse the go version. I'll just manually update the go version.

[2017-06-01 23:02] krzyzacy commented on #2894
ref https://github.com/kubernetes/test-infra/issues/2072

[2017-06-01 23:52] caesarxuchao commented on #2847
Yet another problem in client-go release-2.0
[code]

[2017-06-01 23:55] caesarxuchao commented on #2847
It's an incompatiblity caused by updating golang to 1.8. It's fixed in https://github.com/kubernetes/kubernetes/pull/38519/files, but that change is not copied to staging. I'll have to send a cherry-pick.

[2017-06-02 00:13] caesarxuchao commented on #2847
@mwielgus could you approve the cherry-pick? Thanks.

[2017-06-02 00:15] caesarxuchao commented on #2847
Sent https://github.com/kubernetes/kubernetes/pull/46811

[2017-06-02 03:16] xiangpengzhao opened #2938 "k8s-merge-robot should wait for k8s-ci-robot to label"
I create an issue https://github.com/kubernetes/kubernetes/issues/46822 and write `/sig api-machinery` in the content. I hope k8s-ci-robot label `sig/api-machinery` for the issue. After I submit the issue, k8s-ci-robot doesn't label it immediately. k8s-merge-robot detects the issue doesn't have a label so it replies to tell me to label the issue. It then labels the issue `needs-sig`.

A moment lat

[2017-06-02 04:43] xiangpengzhao commented on #2915
Thanks @crimsonfaith91 for the patch!
/close

[2017-06-02 04:43] #2915 closed

[2017-06-02 05:55] krzyzacy opened #2940 "Revert #2939 once blocked PR queue is drained"
/assign @shashidharatd

ref https://github.com/kubernetes/kubernetes/issues/46827
ref #2939

[2017-06-02 15:40] justinsb opened #2941 "Gubernator broken link"
On https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/ the "Recent Runs Across PRs" link gives an error page, because it gets a 403 from GCS

[2017-06-02 16:39] yujuhong opened #2942 "Soak tests are failing: cluster not up"
https://k8s-testgrid.appspot.com/google-soak
Looks like the clusters are not up at all.

ref: https://github.com/kubernetes/kubernetes/issues/46794

[2017-06-02 16:55] crimsonfaith91 commented on #2915
You are welcome :)

[2017-06-02 17:04] krzyzacy commented on #2625
1.5-master jobs should be fixed and we are having few first results.

@monopole https://k8s-testgrid.appspot.com/1.5-master-upgrade#gke-gci-1-5-cvm-master-upgrade-master is surprisingly green :-)

I'll close this

[2017-06-02 17:04] #2625 closed

[2017-06-02 17:45] krzyzacy commented on #2942
hummm when is the deployment happen?

I'll kick the deployment job manually.

[2017-06-02 17:49] krzyzacy commented on #2942
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-deploy/31?log#log the last deployment job looks normal? Something screwed the cluster up?

[2017-06-02 17:58] krzyzacy commented on #2942
oh sorry, it was screwed before the fix of https://github.com/kubernetes/test-infra/pull/2903

[2017-06-02 17:58] krzyzacy commented on #2942
/assign

[2017-06-02 21:00] apelisse commented on #2868
Implemented by #2930. About to deploy.

[2017-06-02 21:04] rmmh commented on #2868
So, most of the PRs in the queue that*were* approved will be kicked out by this new requirement just after code freeze?

[2017-06-02 23:10] kargakis opened #2949 "needs-sig label should be removed once a sig label is added"

[2017-06-02 23:18] kargakis commented on #2949
Seems like it's already the case, closing

[2017-06-02 23:18] #2949 closed

[2017-06-04 04:03] thockin commented on #2868
@dchen1107 How do you want to handle existing open PRs?

[2017-06-04 06:04] krzyzacy commented on #2940
#2953

[2017-06-04 06:04] #2940 closed

[2017-06-04 06:04] krzyzacy commented on #2942
the jobs are running happily as usual

[2017-06-04 06:04] #2942 closed

[2017-06-04 11:35] xiangpengzhao commented on #2938
/assign @crimsonfaith91

[2017-06-04 11:38] xiangpengzhao opened #2956 "k8s-ci-bot doesn't always reiterate the mentions to trigger a notification"
I want to mention a team `kubernetes/sig-testing-misc` at https://github.com/kubernetes/kubernetes/issues/43556#issuecomment-306022362 but it doesn't work.

It works well at https://github.com/kubernetes/kubernetes/issues/46359#issuecomment-306022569.

/assign @crimsonfaith91

[2017-06-04 23:06] crimsonfaith91 commented on #2938
putting the munger that adds `needs-sig` label _after_ the munger for labelling the issue `sig/api-machinery` may solve this. i will ask around to see whether it is a viable solution for this.

[2017-06-04 23:28] crimsonfaith91 commented on #2956
@xiangpengzhao When you type `@kubernetes/sig-testing-misc`, the bot will add a `sig/testing` label.

For https://github.com/kubernetes/kubernetes/issues/43556, the issue already has the `sig/testing` label **before** you typed `@kubernetes/sig-testing-misc`. Furthermore, you didn't write any message after `@kubernetes/sig-testing-misc`.

For https://github.com/kubernetes/kubernetes/issues/46359,

[2017-06-05 00:54] xiangpengzhao commented on #2956
When I type `@kubernetes/sig-testing-misc`, what I want the bot to do is not labeling the issue. I want the bot to notify the team members to pay some attention to the issue. I think this shouldn't depend on that whether the issue already has a related label or not.

[2017-06-05 13:56] kargakis commented on #2041
Helm charts are fine but please don't make this the only way to install prow.

[2017-06-05 17:21] dchen1107 commented on #2868
Re: https://github.com/kubernetes/test-infra/issues/2868#issuecomment-306016634

@rmmh and I discussed this offline: For the existing open PRs with /lgtm & /approved, we plan to take them as is since the process is so late for 1.7 release. For any new opened prs, we should enforce the policy.