[2018-06-29 06:37] BenTheElder commented on #8509
Also this is the best bug title so:
![image](https://user-images.githubusercontent.com/917931/42076978-2721349c-7b2c-11e8-9adb-3a27cc918ab8.png)

[2018-06-29 18:16] BenTheElder commented on #8509
should be fixed in #8510
/close

[2018-06-29 18:16] #8509 closed

[2018-06-29 20:29] #6670 closed

[2018-06-29 21:14] cjwagner commented on #8508
Based on https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase
The pod will only have it's phase set to "failed" after all containers have terminated so it should be fine for the `test` container to exit non-zero instead of the `sidecar` container.
/assign

[2018-06-29 23:08] BenTheElder commented on #8508
raising this here as a follow up instead:

We might want to consider getting the actual test container exit code specifically, which is possible with the k8s APIs. I'm not sure if a prowjob should be marked failed if the sidecar fails or not...

We probably need to know this somehow but we also probably don't want to block PRs / create a red test signal on testgrid etc. for sidecar issues necessar

[2018-06-30 00:50] #6532 closed

[2018-06-30 00:51] krzyzacy opened #8520 "Rewrite jobs/config_test in go, in config/tests/jobs"
/area jobs
/assign
cc @BenTheElder

[2018-06-30 09:21] justaugustus commented on #8316
/assign
/remove-help

[2018-06-30 22:32] kargakis commented on #8468
Do you guys have enabled [CRD validation](https://github.com/kubernetes/test-infra/blob/87b5d963680a077339741464d9c36dbe1f36a1fd/prow/cluster/prowjob_customresourcedefinition.yaml#L13-L50)?

[2018-06-30 22:33] kargakis commented on #8468
Do you use [CRD validation](https://github.com/kubernetes/test-infra/blob/87b5d963680a077339741464d9c36dbe1f36a1fd/prow/cluster/prowjob_customresourcedefinition.yaml#L13-L50)?

[2018-06-30 22:37] kargakis commented on #8333
Seems like a [`kubeadm`](https://github.com/kubernetes/kubeadm/issues) issue, please reopen in that repo.

[2018-06-30 22:37] #8333 closed

[2018-06-30 22:42] kargakis commented on #5334
I think we can fix this w/o adding the concept of priority in tide.

[2018-06-30 23:12] BenTheElder commented on #8468
The validation we have is not sufficient. In this case some logging broke
on assuming that type Presubmit will have various spec ref fields.

On Sat, Jun 30, 2018, 15:33 Michalis Kargakis <notifications@github.com>
wrote:

[2018-06-30 23:18] kargakis commented on #7587
@deads2k as I understand it, the #1 use case for this is to cherry-pick from k8s back to origin, right? In that case we would also need to specify additional information in the cherrypick command to apply the patch in vendor and also prefix the commits' titles with `UPSTREAM:` (optionally since others don't use it). Though, I think with path labeling that we now have with prow, the commit naming c

[2018-06-30 23:45] cblecker commented on #8422
I think we have consensus to move forward on this one. Marking as available for someone to pick up.

/help

[2018-07-01 01:58] BenTheElder opened #8532 "bug in create_bazel_cache_rcs.sh command_to_version"
Spotted in pod logs for a canary jobs
[code]

This should be coming from:
https://github.com/kubernetes/test-infra/blob/972464e4becb7f355a320b0436e323ef7f15323f/images/bootstrap/create_bazel_cache_rcs.sh#L47

https://github.com/kubernetes/test-infra/blob/972464e4becb7f355a320b0436e323ef7f15323f/images/bootstrap/create_bazel_cache_rcs.sh#L19-L37

/area greenhouse
/kind bug
/assign

FYI @ixdy, this

[2018-07-01 01:59] BenTheElder commented on #8532
The culprit is `command_to_package`:
[code]

[2018-07-01 05:50] matthyx commented on #8422
Ok, then :-D
/remove-help /assign

[2018-07-01 05:51] matthyx commented on #8422
/assign

[2018-07-01 05:52] matthyx commented on #8422
/remove-help

[2018-07-01 06:29] cblecker commented on #8422
You can do both commands in a single comment, they just need to be on separate lines

[2018-07-01 23:54] BenTheElder commented on #3324
/remove-lifecycle stale.

On Sun, Jul 1, 2018, 16:36 fejta-bot <notifications@github.com> wrote:

[2018-07-02 05:05] sipian commented on #7951
While using prow for Prometheus, I really missed this feature.
 Also discussed a bit on slack with @cjwagner & @fejta.
If there is a consensus, I would like to implement this.
It seems just need to add a similar feature like runAfterSuccess to [kube.PodFailed](https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L373) & [kube.PodPending](https://github.com/kubernetes/test-

[2018-07-02 10:49] whs-dot-hk opened #8536 "Suggest adding owner for yaml files"
When a yaml file is getting bigger and bigger

Different node maybe owned by owners

e.g. This yaml file https://github.com/kubernetes/community/blob/master/sigs.yaml

A sigs may own e.g. this part
[code]
Adding ownership for managing big yaml files will be useful

So we could set for example

the node above is owned by `sig-api-machinery` etc

[2018-07-02 12:30] deads2k commented on #7587
I was thinking just origin to OSE.  Other companies trying to maintain kube may appreciate a kube/kube to <company>/kube, but it's not a priority for me.

[2018-07-02 15:36] kargakis commented on #8065
@petr-muller ptal

[2018-07-02 15:41] kargakis commented on #7587
Repo to fork is simpler and I would prefer to see just that implemented (if somebody ever tackles this).

[2018-07-02 15:48] kargakis commented on #4761
@droslean

[2018-07-02 15:53] kargakis commented on #8065
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/plank/main.go
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/sinker/main.go
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/tide/main.go

[2018-07-02 17:36] #8532 closed

[2018-07-02 18:52] cjwagner commented on #7951
I don't think that is the consensus. Like Ben is saying, we really need something more general than tacking on another triggering mechanism.
`run_after_success` is already a problem because it has to be specifically handled in a number of places and introduces dependencies between jobs. Here are some examples:
- Tide doesn't always work properly with `run_after_success` jobs because it doesn't yet

[2018-07-02 21:49] BenTheElder commented on #8258
done in #8260
/close

[2018-07-02 21:49] #8258 closed

[2018-07-02 21:51] BenTheElder commented on #4891
@rmmh since patched bootstrap to upload the pod .yaml dumped from the running job into artifacts/ which is pretty handy. we should consider something like this in the podutils... @cjwagner @paulangton

[2018-07-02 21:53] BenTheElder commented on #5896
this is fixed now, neglected to close previously. see https://github.com/kubernetes/test-infra/pull/8021
/close

[2018-07-02 21:53] #5896 closed

[2018-07-02 21:54] BenTheElder commented on #8090
we're at least working on fixing shellcheck lints throughout test-infra, getting it in CI is a next step.

[2018-07-02 21:55] BenTheElder commented on #7633
this is fixed, and the release repo has a presubmit to stage a build and up a cluster from it to sanity check push-build.sh

[2018-07-02 21:55] #7633 closed

[2018-07-02 21:58] BenTheElder commented on #7187
this is going away soon! I swear! almost there :-)

[2018-07-02 22:00] BenTheElder commented on #7235
/assign @cjwagner
/remove-lifecycle stale

[2018-07-02 22:06] BenTheElder commented on #7799
this is in, whoops. updating the config...

[2018-07-03 00:35] krzyzacy commented on #8505
[code]
WHAT?!?!?! @BenTheElder

[2018-07-03 00:36] krzyzacy commented on #8505
ahhhhhhhhhhh

[2018-07-03 00:36] krzyzacy commented on #8505
/shrug

[2018-07-03 07:05] leeivan opened #8552 "panic: runtime error: slice bounds out of range"
**Command:**
`go run hack/e2e.go -- --extract=release/stable-1.9 --up`
**Full output and error:**
[code]

[2018-07-03 07:11] BenTheElder commented on #8552
@krzyzacy we should prevent this panic...

That said Kubernetes 1.5 is very out of support. With 1.11 out 1.8 is
making its way out and 1.9+ will be supported. The community supports 3
minor versions + 1 under development.

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew

On Tue, Jul 3, 2018, 00:05 Ivan L

[2018-07-03 07:33] leeivan commented on #8552
@BenTheElder
Yes, using 1.9 to run the command, occurred same error.

[2018-07-03 11:41] nikhita commented on #8192
I am afraid this would lead to a lot of spamming. :(

/cc @kubernetes/sig-contributor-experience-feature-requests

[2018-07-03 12:51] kargakis commented on #8065
You can refactor that too if you want - splice is a deprecated component.

[2018-07-03 14:17] leeivan opened #8557 "main.go:309: Something went wrong: encountered 1 errors"
**Command**:
`go run hack/e2e.go -- --test --provider=local`
**Output:**
[code]
**Local kubernetes configuration:**
[code]

[2018-07-03 15:51] #8065 closed

[2018-07-03 16:49] BenTheElder commented on #8557
/cc @dims

[2018-07-03 16:56] dims commented on #8557
/assign @dims

[2018-07-03 16:58] BenTheElder commented on #8552
hmm I can't reproduce this... what is your kubernetes checkout version for hack/e2e.go? and your `gcloud --version`?

[2018-07-03 16:59] BenTheElder commented on #8552
/area kubetest
/kind bug
/assign bentheelder krzyzacy

[2018-07-03 17:35] krzyzacy commented on #8552
I suspect your gsutil is not in a working state?
Can you run `gsutil cat gs://kubernetes-release/release/stable-1.5.txt` locally?

[2018-07-03 20:57] BenTheElder opened #8563 "config loading broken due to duplicated basename"
[code]

/kind bug
/area prow
/assign @krzyzacy

[2018-07-03 21:11] #8563 closed

[2018-07-03 21:20] #8505 closed

[2018-07-03 21:21] BenTheElder commented on #8505
should be fixed by https://github.com/kubernetes/test-infra/pull/8551

[2018-07-03 21:23] krzyzacy commented on #8505
yeah verified

[2018-07-03 22:09] BenTheElder commented on #8291
so the first prowjob is setup, but we need to enable the `trigger` plugin to enable triggering presubmit jobs from pull requests. making a PR to do this now...

[2018-07-03 22:29] tpepper commented on #7549
This isn't trivial (ie: generate it and commit it in the .md file) because the labels.md file is generated.  But the generator shouldn't be too hard to enhance for a ToC insertion.

/help

[2018-07-03 22:30] cjwagner opened #8567 "Pushgateway serves metrics for dead instances forever."
The pushgateway doesn't work particularly well with gauges that are provided by kubernetes deployments because the `instance` field (the pod name) changes whenever the pod restarts, but old metrics for completed pods are never pruned and are continually scraped by upstream.
This is problematic because prometheus doesn't attack timestamps when serving metrics so all instances are considered to be e

[2018-07-03 22:33] BenTheElder commented on #8567
Attack? 🙃
/me envisions a Prometheus pod viciously deleting timestamps from logs

On Tue, Jul 3, 2018, 15:30 Cole Wagner <notifications@github.com> wrote:

[2018-07-03 22:46] cjwagner commented on #8567
Well it doesn't attack timestamps either, but I meant to say 'attach' 😛

[2018-07-03 23:49] cjwagner commented on #6136
/remove-lifecycle stale

https://github.com/kubernetes/test-infra/pull/8131 will help with this.

[2018-07-04 01:14] #6725 closed

[2018-07-04 02:25] BenTheElder opened #8574 "configure prow github integration details"
- add oauth app details
- add an icon so we don't get a github equivilant of a "new user" icon.

https://github.com/kubernetes/test-infra/pull/8572#issuecomment-402343451

current look:
<img width="1627" alt="screen shot 2018-07-03 at 7 17 14 pm" src="https://user-images.githubusercontent.com/917931/42253419-9a7e81f6-7ef6-11e8-819c-50e0cf99adc7.png">

/area prow
/kind cleanup
/assign @cjwagner @kr

[2018-07-04 03:13] leeivan commented on #8552
@krzyzacy
Yes, the gsutil did not installed correctly. I found the right way to [install gsutil](https://cloud.google.com/storage/docs/gsutil_install#deb). Thanks.

[2018-07-04 03:13] #8552 closed

[2018-07-04 03:57] BenTheElder commented on #8552
Thanks for following up! Glad it's working 🙂

On Tue, Jul 3, 2018, 20:13 Ivan Lee <notifications@github.com> wrote:

[2018-07-04 10:42] kargakis commented on #7587
Any thoughts on the new format? Some options:
1.
[code]
2.
[code]
Others?

[2018-07-04 13:22] soltysh commented on #7587
:+1: for no#1 since that's a format being used across other places when using branch name

[2018-07-05 07:56] rohanand commented on #8413
@fejta Please assign this to me.

[2018-07-05 08:30] nikhita commented on #8450
bumping this. I'd really love to not use three commands to reopen an issue. :)

Interesting - if I comment `/close`, the bot closes the issue and I delete my comment, is there still an audit trail of me deleting the comment? I could be totally wrong here :) but I always thought there was an audit trail if _someone else_ deleted _my_ comment.

[2018-07-05 14:59] shyamjvs commented on #8348
@krzysied @mborsz - In case one of you may be interested in looking into this

[2018-07-05 16:56] BenTheElder commented on #8450
yeah, and three _comments_ (!) unless you want to roll the dice on winning plugin races.

At minimum I think we have Prow logs covering this, but that's not public (and probably shouldn't be unless we can split it off from [k-s](https://github.com/kubernetes-security) at least) and I'm not sure how long we retain enough info to track this. I'm pretty sure if you delete your own comment we won't ha

[2018-07-05 20:02] cblecker opened #8587 "prow: remind me plugin"
I have no clue how complex this would be or if it's even a good idea.. but wanted to toss it out there.

There are times where I when I want to be reminded to come back to an issue. Say someone says they are going to work on something, but I want a reminder to check back in, in two weeks.

I wonder how useful, vs how awful, something like a "/remind" command would be.

Something like:
- I leave a

[2018-07-05 20:03] cblecker commented on #8587
cc: @BenTheElder @fejta
(please don't throw things at me)

[2018-07-05 20:10] BenTheElder commented on #8587
This seems slightly out of scope for Prow. Also time is hard, would this bot assume UTC? 🙃

More seriously:
- the long-term statefulness is not something any prow components handle well currently (except public GCS uploading of job results). We have jobs on cron, but if we lose the CRDs backing these we can still recover from the checked-in config with their schedule.
- who would we restrict it to

[2018-07-05 20:52] krzyzacy commented on #8587
hummm, can be some REAL kube cron job prow creates?

[2018-07-05 20:57] cblecker commented on #8587
Collaborators and 6 months seems reasonable to me. Your point about notifying everyone.. yeah, it could get spammy.

[2018-07-05 20:59] stevekuznetsov commented on #7585
/remove-lifecycle stale

[2018-07-05 21:01] stevekuznetsov commented on #7299
/unassign

[2018-07-06 06:08] nikhita commented on #8587
This is not really a constructive comment but: in such cases, I just snooze the email related to the issue so that it reminds me about it.  ¯\\\_(ツ)\_/¯

[2018-07-06 09:19] wojtek-t commented on #8348
I took a quick look into that. And this is how it currently looks like:
- 15m - build k8s
- 6-7m - down (previous) + up cluster
- 5m - up kubemark (+check it)
- ~20s - preparation for tests (find master, etc. - typical e2e framework stuff)
- 33m - tests [surprisingly, in regular kubemark-500, the exact same tests take 28m - so 5m less]
- 1m - dumping kubemark logs
- 5m - down kubemark
- 1m30s - du

[2018-07-06 10:10] shyamjvs commented on #8348
Thanks for finding the time break-up of the job @wojtek-t.

Actually iirc, this part was variable (and sometimes it's indeed lower) - we need to check that (otherwise we maybe focusing on red herring). If it's varying, we should also try to understand why it is.

+1 - I think you sent such a change today morning?
(though the benefits here may not be much)

+10 (also what I was suggesting in sig-te

[2018-07-06 10:13] shyamjvs commented on #8348
So the time for successful presubmit runs seems to actually vary quite a bit, between:

1h10m - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/64684/pull-kubernetes-kubemark-e2e-gce-big/11062/build-log.txt

1h30m - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/64812/pull-kubernetes-kubemark-e2e-gce-big/11064/build-log.txt

[2018-07-06 11:20] Jobsnguyenad commented on #7822
jobsnguyen0@gmail.com

[2018-07-06 12:12] cpanato commented on #7899
@fejta I'm releasing this issue, I did not have time and based on my experience in the test-infra repo I don't have enough knowledge to work on this issue 😢

[2018-07-06 13:34] shyamjvs opened #8594 "Split job configs based on SIGs"
IMO it's easier to maintain and keep track of jobs if we can split them into different files instead of having a huge monolithic config.json file (personally I find it painful to edit/review it now). It'll also help manage approvers/reviewers more granularly

@AishSundar @krzyzacy @BenTheElder - Wdyt?

[2018-07-06 15:56] BenTheElder commented on #8594
This is already a work in progress. `configs/jobs/*`
config.json will be inlined into each ProwJob, and the prowjob will be split into many files.
xref: https://github.com/kubernetes/test-infra/issues/4794
@krzyzacy is working on this.

[2018-07-06 16:37] BenTheElder commented on #8348
15m to build k8s sounds very wrong...due to caching we can usually get a job that does "bazel build the entire tree" in well under 10m (closer to 5...7)

[2018-07-06 16:39] BenTheElder commented on #7822
/close
Feel free to open an issue with details. Without any details we can't do anything.

[2018-07-06 16:39] #7822 closed

[2018-07-06 17:16] krzyzacy commented on #8594
yeah, see https://github.com/kubernetes/test-infra/issues/8485

@shyamjvs feel free to migrate all the scalability jobs, you can also inline config.json now, take https://github.com/kubernetes/test-infra/blob/master/config/jobs/gke/gke-staging.yaml as an reference

[2018-07-06 17:35] BenTheElder commented on #8348
Oh right kubemark image doesn't support Bazel....
If you all fix that `make bazel-release` with caching enabled is about 3 min instead of 15 for quick-release and is otherwise equivilant.
https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&graph-metrics=test-duration-minutes

[2018-07-06 17:37] stevekuznetsov commented on #8413
/assign @rohanand

[2018-07-06 17:37] stevekuznetsov commented on #8413
/shrug

[2018-07-06 17:42] fejta commented on #8413
@rohanand sure it is yours
/remove-help

[2018-07-06 17:43] shyamjvs commented on #8348
@krzyzacy I remember you were earlier trying to make bazel work for kubemark (we even checked in some code iirc). What issues do we have, if any?

[2018-07-06 17:53] krzyzacy commented on #8348
eh... I've never get back to that...

last comment was about missing bazel workspace?
https://github.com/kubernetes/kubernetes/pull/53904#issuecomment-336577099

[2018-07-06 19:02] rmmh commented on #8574
It should definitely have the Prow logo somewhere. I think @qhuynh96 might be the one that created the OAuth App?

[2018-07-06 19:07] qhuynh96 commented on #8574
The OAuth App ownership is transferred to k8s robot.

[2018-07-06 19:36] BenTheElder commented on #8574
it now looks like:
![image](https://user-images.githubusercontent.com/917931/42397036-2957a80c-8119-11e8-8716-26c51a9c48e3.png)

unfortunately I think the description is only surfaced when you're managing your authorized apps, not when authorizing.

[2018-07-06 20:49] stevekuznetsov commented on #7140
/close

[2018-07-06 20:49] #7140 closed

[2018-07-06 20:52] stevekuznetsov commented on #7437
No action items on this

/close

[2018-07-06 20:52] #7437 closed

[2018-07-06 20:53] stevekuznetsov commented on #4425
With the pods labeled correctly in my recent PR we should be able to select a ProwJob and Pod more easily

[2018-07-06 20:54] BenTheElder commented on #8375
this should be fixed by https://github.com/kubernetes/test-infra/pull/8376
/close

[2018-07-06 20:54] #8375 closed

[2018-07-06 20:54] stevekuznetsov commented on #5216
/remove-lifecycle stale
@kargakis what was the status here?

[2018-07-06 20:58] stevekuznetsov commented on #8567
@smarterclayton did we have a solution for this at a higher level? Do we have similar issues on `DeploymentConfig`?

[2018-07-06 22:19] smarterclayton commented on #8567
Generally we don't use the push gateway and just report from the process, letting it scrape continuously and reporting metrics on current state from a cache (that's how kube-state-metrics performs a similar reporting action).

[2018-07-06 23:58] MHBauer commented on #8291
Added some more questions and discussion topics for the future in the OP. No need to answer, just want to have my thoughts writen down.

[2018-07-07 05:38] nikhita commented on #7195
/remove-lifecycle rotten

Enabling this would mean giving super powers to some people. :) Do we still want this?

[2018-07-07 06:40] #7549 closed

[2018-07-07 07:32] qhuynh96 commented on #7235
I am actively working on this

[2018-07-07 19:26] fejta opened #8602 "Write handlePR unit tests for trigger plugin"
We have a bunch of great `TestHandleIssueComment` unit tests that validate that when someone creates a comment we do/do not start testing as appropriate:

https://github.com/kubernetes/test-infra/blob/46985131df79c502444e909756b012bc4b533760/prow/plugins/trigger/ic_test.go#L39-L55

which eventually calls this in `handleIC` in `ic.go`:

https://github.com/kubernetes/test-infra/blob/46985131df79c502

[2018-07-07 21:56] #6698 closed

[2018-07-07 23:43] cblecker commented on #6095
/remove-lifecycle stale

[2018-07-08 19:22] BenTheElder commented on #1399
/remove-lifecycle stale

On Sun, Jul 8, 2018, 12:17 fejta-bot <notifications@github.com> wrote:

[2018-07-08 22:29] BenTheElder commented on #7364
/remove-lifecycle stale

On Sun, Jul 8, 2018 at 8:13 AM fejta-bot <notifications@github.com> wrote:

[2018-07-09 04:33] rohanand commented on #8413
@fejta yes i amworking on it..

[2018-07-09 08:06] wojtek-t commented on #1399
I would say that if it's supposed to be useful, only a copy of kubemark-gce-scale makes sense.
Maybe run this once per week or sth to not make it yet another very expensive suite.

[2018-07-09 11:41] shyamjvs commented on #1399
IMO it would be better if we could somehow leverage our large-scale (optional) presubmits - for e.g trigger them against a test PR changing the go version in k8s. Adding newer dimensions to scalability CI-testing (unless it's very needed) may not be too scalable.

An alternative approach I'd suggest is to setup kubemark CI-testing in a project owned by golang (this would be more convenient and sca

[2018-07-09 12:44] wojtek-t commented on #1399
I don't fully agree. It kind of adds additional dimension, but that should be implicitly owned by golang team.
Presubmits - you can do that when you want to bump go version in k8s, but it can't serve the purpose of periodic, testing of go tip.

So that should be a regular conitnuous testing job (though being run once per week or so).
But I agree with Shyam (I kind of implicitly assumed that) that:

[2018-07-09 13:45] leeivan commented on #8557
with --check_version_skew=false to avoid comparison of version.

[2018-07-09 13:45] #8557 closed

[2018-07-09 17:06] BenTheElder commented on #7623
/remove-lifecycle stale

On Mon, Jul 9, 2018 at 9:38 AM fejta-bot <notifications@github.com> wrote:

[2018-07-09 17:19] stevekuznetsov commented on #3412
/remove-lifecycle stal

[2018-07-09 17:19] stevekuznetsov commented on #6095
@cjwagner your framework has this called out explicitly right?

[2018-07-09 17:20] BenTheElder opened #8613 "trusted_org not working in trigger"
https://github.com/kubernetes-sigs/poseidon/pull/124#issuecomment-403383421

`kubernetes` should be a trusted org for `kubernetes-sigs`:

https://github.com/kubernetes/test-infra/blob/7109caeb16c79b1349a2e45ef6bf80453e11b920/prow/plugins.yaml#L5-L12

Yet when a Kubernetes member tries to trigger testing, they get a comment like:

/kind bug
/area prow
/assign @cjwagner @fejta

[2018-07-09 17:23] ixdy commented on #3412
/lifecycle frozen
maybe, since this keeps going stale? (or maybe we should just fix it. :)

[2018-07-09 17:36] fejta commented on #8613
Intersting, maybe my trigger changes will fix this?

[2018-07-09 17:41] BenTheElder commented on #8613
actually looking at it I only see a `trusted_org: kubernetes` for the section below. these should probably have that as well...

[2018-07-09 17:47] BenTheElder commented on #1399
I don't think it should be managed by the golang team, unit testing maybe, but kubemark / end to end testing et/c require a lot more resources and complexity to run. We can report issues back to them though.

I'll hold off on scalability for now while there is still discussion, but sig-testing/sig-release can own something like the conformance suite against golang tip in the meantime to get things

[2018-07-09 17:47] BenTheElder commented on #3633
/remove-lifecycle stale

On Mon, Jul 9, 2018 at 1:30 AM fejta-bot <notifications@github.com> wrote:

[2018-07-09 18:13] krzyzacy opened #8618 "Latest Tide does not merge PRs"
rolled back to `v20180627-ea5075d37` for now

/area prow
/assign @cjwagner

[2018-07-09 18:15] #8613 closed

[2018-07-09 18:17] stevekuznetsov commented on #8618
@krzyzacy can you give more information please

[2018-07-09 18:17] krzyzacy commented on #8618
https://kubernetes.slack.com/archives/C7J9RP96G/p1531159143000061

it stays like
[code]

[2018-07-09 19:25] apelisse opened #8621 "Merging master in feature branch fails because of CLA"
Because the bot hasn't signed the CLA, it's not currently possible to merge master back into the feature branch.

[2018-07-09 19:27] apelisse opened #8622 "Special approval for feature branch"
Feature branches might have a different approval mechanism than master, as in every time you want to merge something, it shouldn't be required to ask top level approvers. One could add themselves as a top-level approver specifically in the branch (though you'll require top-level approval to merge that PR).

[2018-07-09 20:23] stevekuznetsov commented on #8618
We are seeing the same issue on our `tide`, which deployed from 381ecf20efac306cca340ce607c7a294c0b1695e.

Here's a log dump from before I rolled it back: https://gist.githubusercontent.com/stevekuznetsov/b3fcbdbc7b1bb4913f6c73ca0804bee6/raw/de8a0a6153e359af708a547b7321e51957498626/tide-log.txt

[2018-07-09 20:28] stevekuznetsov commented on #8618
Likely related to https://github.com/kubernetes/test-infra/pull/8550

[2018-07-09 20:38] BenTheElder commented on #8621
@fejta how did we fix this before with k8s-ci-robot and test-infra? k8s-merge-robot needs the same fix.

[2018-07-09 20:49] BenTheElder commented on #8622
/cc @cjwagner @stevekuznetsov

One workaround we discussed for now is just getting a top level approver to approve a temporary approve in the feature branch, merge that, and then be top level in that branch... but that's sorta ugly and requires looping in an approve for each, as well as reverting the change before trying to merge the completed feature into the "real" branch..

[2018-07-09 20:49] BenTheElder commented on #8622
/area prow
/kind feature

[2018-07-09 21:23] fejta commented on #8613
Thanks for fixing my regression in the config!

[2018-07-09 22:46] #5276 closed

[2018-07-10 01:02] krzyzacy opened #8628 "fejta-bot unable to retest anymore"
https://github.com/kubernetes/kubernetes/pull/65986#issuecomment-403663631

/area prow
/assign @fejta

[2018-07-10 01:04] ixdy commented on #8628
/shrug

[2018-07-10 04:55] sipian commented on #7152
I would like to take this issue up.
A way that I can think of is to also check for the prowjob's age when checking the condition [!prowJob.Complete()](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/sinker/main.go#L136) for presubmit/postsubmit & periodics in sinker.
If age is more than MaxPodRunningAge then mark it for deletion

[2018-07-10 06:40] fejta commented on #8628
Work around this with an `/ok-to-test` comment

[2018-07-10 06:44] #8628 closed

[2018-07-10 13:23] shyamjvs commented on #8594
/assign

[2018-07-10 13:34] palash25 commented on #8356
I would like to take this up. Should I break up the commits file wise or directory wise i.e. One commit for lint errors fixed in one file or directory wise ?

[2018-07-10 13:41] palash25 commented on #8356
I ran golint on `mungegithub` and most sub-directories except for `options` and `mungers` have only 2-3 errors

[2018-07-10 13:44] palash25 commented on #8356
Also I'm not really sure about the commit guidelines so should I provide a description for each commit about what were the lint errors that were fixed in that commit?

[2018-07-10 17:09] stevekuznetsov commented on #8618
Should be easier to debug with #8634

[2018-07-10 19:21] krzyzacy commented on #2829
https://github.com/kubernetes/test-infra/pull/8636

[2018-07-10 20:24] kargakis commented on #5267
/remove-lifecycle rotten
/help

[2018-07-10 20:57] stevekuznetsov commented on #3412
One year anniversary! :confetti_ball:

[2018-07-10 21:03] stevekuznetsov commented on #7152
Sounds reasonable to me @sipian

[2018-07-10 22:02] BenTheElder opened #8639 "assign plugin regression when a user is invalid"
- it no longer succeeds at assigning any of the users
- it no longer posts a comment regarding this

xref: https://github.com/kubernetes/test-infra/pull/8637#issuecomment-403978413

/area prow
/kind bug
/cc @cjwagner @stevekuznetsov

[2018-07-10 22:03] BenTheElder commented on #8639
/cc @krzyzacy

[2018-07-10 22:03] BenTheElder commented on #8639
I suspect something in https://github.com/kubernetes/test-infra/pull/8443 since it's the only change to that plugin newer than like 5 months. :thinking:

[2018-07-10 22:07] krzyzacy commented on #8639
/assign @fejta really-invalid-user-foo-bar-baz

[2018-07-10 22:08] krzyzacy commented on #8639
ok the issue is... @robot is... not a user, but a github group...

/shrug

[2018-07-10 22:08] krzyzacy commented on #8639
/assign @kubernetes

[2018-07-10 22:10] krzyzacy commented on #8639
/assign @BenTheElder @kubernetes

[2018-07-10 22:12] krzyzacy commented on #8639
/assign @BenTheElder @senlu

[2018-07-11 03:03] BenTheElder commented on #3083
This came up again in #sig-contribex slack today, I think we could do this if we:
- used a dedicated bot account to do the queries
- just loaded the first page of results from searching for the user's PRs in the repo

If the number of results is exactly one and there are no other pages, it's a new contributor.

This would cost one extra token for every opened PR, which should definitely be very ma

[2018-07-11 03:12] BenTheElder commented on #3083
/assign

[2018-07-11 03:42] nikhita commented on #3083
That's weird because I only have 11 PRs in test-infra. All of them have been merged and none is open right now: https://github.com/kubernetes/test-infra/pulls?q=is%3Apr+author%3Anikhita+is%3Aclosed.

[2018-07-11 03:44] BenTheElder commented on #3083
Ah, there's a typo in that, there shouldn't be a space after `is:`, which is not restricting it to PRs, so it's actually counting commits.

[2018-07-11 03:45] BenTheElder commented on #3083
fixed example:
https://developer.github.com/v4/explorer/?variables=%20%7B%0D%0A%20%20%22query%22%3A%20%22is%3Apr%20repo%3Akubernetes%2Ftest-infra%20author%3Anikhita%22%0D%0A%7D&query=query%20%28%24query%3A%20String%21%29%20%7B%0D%0A%20%20search%28query%3A%20%24query%2C%20type%3A%20ISSUE%29%20%7B%0D%0A%20%20%20%20issueCount%0D%0A%20%20%7D%0D%0A%20%20rateLimit%20%7B%0D%0A%20%20%20%20limit%0D%0A%20%2

[2018-07-11 10:22] matthyx commented on #6050
/assign
/help remove

[2018-07-11 11:14] matthyx commented on #6693
Hi @kargakis could you give me more details on how prow is configured at OpenShift? It seems there is an option to specify a branding favicon in config.go:
https://github.com/kubernetes/test-infra/blob/master/prow/config/config.go#L255
And to me it seems that it should be taken into account... but I might be wrong.

[2018-07-11 12:05] kargakis commented on #6693
@matthyx right, we already use that [option](https://github.com/openshift/release/blob/673a615df17d8b0ac330dd0e1572927525ff733e/cluster/ci/config/prow/config.yaml#L54) but deck does not use it when returning logs.

[2018-07-11 12:06] kargakis commented on #6693
Or pure JSON in js files

[2018-07-11 12:17] matthyx commented on #6693
Alright, I will investigate !
/assign
/remove-help

[2018-07-11 13:04] kargakis opened #8645 "Handle empty state in prowjobs"
Prowjob controllers should be able to handle prowjobs that do not specify any state (by defaulting to `triggered`). Eventually this should happen in the API but I am not sure about CRD defaulting

cc @sttts @nikhita

[2018-07-11 13:04] kargakis commented on #8645
/area prow
/kind bug

[2018-07-11 15:59] stevekuznetsov opened #8646 "prow: take action when blocking presubmits change"
When a new blocking presubmit is added to the Prow configuration, it should be triggered on every open pull request for that repo. When a blocking presubmit is removed, the status context should be overwritten. This should be done on config reload by Prow itself and not by admins.

/kind feature
/area prow
/cc @cjwagner @BenTheElder @krzyzacy @fejta @munnerz

[2018-07-11 20:28] BenTheElder opened #8648 "adding /label prefixes should be possible via config"
xref: https://github.com/kubernetes/test-infra/pull/8647#pullrequestreview-136408737

/area prow
/kind enhancement

/cc @cjwagner @stevekuznetsov

[2018-07-11 21:42] stevekuznetsov commented on #3342
I am going to call this done, migration is a follow-up.

/close
:raised_hands:

[2018-07-11 21:42] #3342 closed

[2018-07-11 21:49] stevekuznetsov opened #8649 "Automate Management of Organization Ownership and ACL Assignment"
We need a tool that automates the members of organizations and teams, as well as permissions for those members and teams.

 - [x] https://github.com/kubernetes/test-infra/pull/7966 Add org configuration skeleton
 - [x] https://github.com/kubernetes/test-infra/pull/8187 Extend peribolos to manage org memberships
 - [x] https://github.com/kubernetes/test-infra/pull/8311 Support managing github teams

[2018-07-11 21:50] stevekuznetsov commented on #8649
Tracking issue for the larger effort
/cc @cjwagner @BenTheElder @krzyzacy

[2018-07-11 21:51] BenTheElder commented on #8649
This should be fixed in https://github.com/kubernetes/test-infra/pull/8601 which was merged (?)

[2018-07-11 21:52] stevekuznetsov opened #8650 "Automate Protection of Branches and Required Status Contexts"
We need a tool that will allow us to configure branch protection and required status contexts using declarative configuration.

 - [x]  Add branch-protection program #6077
 - [x]  Refactor Requirements to use a BranchProtectionRequest #7937
 - [x]  Refactor UpdateBranchProtection to update all options #7911
 - [x]  Refactor TestProtect into an integration test #7891
 - [x]  Refactor branchprotecti

[2018-07-11 21:54] stevekuznetsov commented on #8650
I think this work is finished, all repos are protected by default.
/close

[2018-07-11 21:54] #8650 closed

[2018-07-11 22:49] stevekuznetsov opened #8652 "Document Integration Points for Job Authors"
As a job author, I want to have the integration points with Prow laid out for me so that I can appropriately write jobs. For instance, how do I write a job that:

 - simply runs a script in my repo? (pod-utils)
 - requires DinD?
 - uses cached build artifacts?

How do I integrate if I have:
 - a new cloud provider to add?
 - hardware I  want the jobs to run on?

When should I:
 - edit configuratio

[2018-07-11 22:51] stevekuznetsov opened #8653 "Document Prow Deployment and Administration Workflows"
As a new `prow` system administrator, I want to have deployment and administration workflows documented so that I can effectively do my job.

For instance, we want:
 - a one-button deployment for simple cases
 - better metrics and a grafana dashboard to expose them
 - documentation on day-to-day adminstration of a `prow` deployment

/area prow
/kind documentation
/cc @cjwagner @BenTheElder @fejta

[2018-07-11 23:24] krzyzacy opened #8656 "We should validate labels, and should not bind labels to prow.k8s.io"
from https://github.com/kubernetes/test-infra/pull/8415

gerrit repo becomes invalid labels because it can potentially has a sub-repo included, also it should not always point to prow.k8s.io

/area prow
/kind bug

[2018-07-11 23:29] krzyzacy commented on #8656
/assign
cc @stevekuznetsov @cjwagner

[2018-07-12 03:36] apelisse opened #8659 "`hack/update-generated-docs.sh` is not hermetic"
Related to https://github.com/kubernetes/kubernetes/pull/66098

When I run `hack/update-generated-docs.sh`, it lists all kubectl commands, including my personal plugins. Later, when `hack/verify-generated-docs.sh` runs in pre-submit, the list is obviously different.

/assign @ixdy

[2018-07-12 05:04] nikhita commented on #8645
Defaulting is currently not possible directly via the CRD (scheduled for 1.12).

[2018-07-12 06:10] michelle192837 commented on #5385
/remove-lifecycle stale

[2018-07-12 14:34] stevekuznetsov commented on #7254
/remove-lifecycle rotten

[2018-07-12 15:11] stevekuznetsov opened #8665 "prow: tide: ProwJobs that run_after_success should not be required if the parent was skipped"
In PRs like [this one](https://github.com/jetstack/tarmak/pull/365), `prow` is not finding successful runs of two jobs -- `tarmak-puppet-module-etcd-acceptance-three-node` and `tarmak-puppet-module-vault_client-acceptance-ubuntu`:

[code]

These two jobs are `run_after_success` for `tarmak-puppet-module-etcd-acceptance-single-node` and `tarmak-puppet-module-vault_client-acceptance-centos`, respect

[2018-07-12 15:19] stevekuznetsov commented on #8665
@cjwagner looks like we try to create a static list of contexts to require, there is no good way to have a dynamic list of required contexts -- so I am leaning towards appropriately creating the `Skipped` successful context for children of `run_if_changed` if we are skipping the parent

[2018-07-12 15:56] stevekuznetsov opened #8667 "prow: test overview comment retains old statuses from jobs that are removed"
When a job is removed from the Prow config and the context name changes, even if `migratestatus` is used, the test results comment will always contain a row for the old context.

/area prow
/kind bug
/cc @cjwagner @BenTheElder @krzyzacy @fejta

[2018-07-12 16:18] stevekuznetsov commented on #8645
How did that happen?

[2018-07-12 16:18] stevekuznetsov commented on #8645
We should be able to better enforce it when we generate the CRD client too

[2018-07-12 16:20] kargakis commented on #8645
I handcrafted a prowjob because there is no good way to rerun postsubmits which is probably a separate issue.

[2018-07-12 16:20] kargakis commented on #8645
Postsubmits that have been garbage collected.

[2018-07-12 16:29] kargakis opened #8668 "Support sending emails in prow"
I know that this is supported in testgrid but we should consider supporting it in prow.

- [x] testgrid is not open-sourced
- [x] even if testgrid was open, we shouldn't force deployments to deploy testgrid just for emails (even though testgrid is likely to be used by everyone who is using prow in the event it's opensourced)

We use Jenkins heavily for receiving emails about failed jobs and we can

[2018-07-12 16:45] kargakis commented on #7951
Managing run_after_success jobs has indeed been very problematic. Today I was thinking of splitting creation of run_after_success jobs into its own service that has some advantages over the current state of things. Namely, prow controllers (plank, jenkins operator) are going to be simplified:
- we can remove the github client entirely once reporting is its own service
- we trim rbac for agent cont

[2018-07-12 16:50] stevekuznetsov commented on #8668
Once we get generated CRD client this can be done entirely third-party if you want to use the labels

[2018-07-12 16:50] stevekuznetsov commented on #8645
Can't you `mkpj` with the correct refs? But yes re: this issue -- should be defaulted

[2018-07-12 16:51] kargakis commented on #8668
Right, I would like to have such a controller checked in test-infra for deployments that want to use it, hence this issue.

[2018-07-12 16:53] kargakis commented on #8645
Doh, I totally forgot about `mkpj`.

[2018-07-12 17:11] BenTheElder commented on #8668
@krzyzacy this sounds at least tangential to a reporter controller.

having a separate controller handling this SGTM, but:

I can see wanting to configure this on the jobs, but I don't think reading it from the CRDs is actually as good as reading it from the current config. If a job fails it should go to the currently configured emails, not what was configured on one of the jobs. I should be able

[2018-07-12 17:17] BenTheElder commented on #7951
I like this idea a lot.

I'd love to see a refactor someday (not necessarily worth the effort, but
it could be nice...) where we manage to totally decouple triggering from
job definitions so anyone can more easily integrate triggers for say, "run
if a release is tagged on github", "run a downgrade job if my cluster is
unresponsive", etc...

On Thu, Jul 12, 2018 at 9:45 AM Michalis Kargakis <notifi

[2018-07-12 17:39] stevekuznetsov commented on #8645
You wrote it ... :rofl:

[2018-07-12 18:55] ixdy commented on #7686
does the verify-owners plugin in prow handle this now? @matthyx @cjwagner

[2018-07-12 19:09] matthyx commented on #7686
@ixdy yes, but currently it's only enabled on test-infra AND the review comments will work only after prow has been refreshed, following #8511 merge.

[2018-07-12 20:02] stevekuznetsov commented on #7686
After we dial in the execution of the plugin, we will enable it on the rest of the org and this issue will be solved. I think we can

/close

it since we're tracking roll-out of the plugin anyway

[2018-07-12 20:02] #7686 closed

[2018-07-12 20:05] #8656 closed

[2018-07-12 20:35] #8665 closed

[2018-07-12 21:11] krzyzacy opened #8670 "Jobs can be triggered with old config files"
https://github.com/kubernetes/test-infra/pull/8666#issuecomment-404641518

seems only happening with tide? Gonna :eyes: that.
/area prow
/assign
cc @BenTheElder @cjwagner @stevekuznetsov

[2018-07-12 22:15] spiffxp commented on #8422
@matthyx

@cjwagner

There is also https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md

I would rather we have just one doc. I like the one I'm linking, but I'm biased since I wrote it (based on the approvers doc, I honestly just forgot to nuke that).  I recognize it mixes up the owners spec + how kubernetes uses owners + tools that use owners.  And it's a doc, so pred

[2018-07-12 23:58] krzyzacy commented on #6840
/remove-lifecycle stale

[2018-07-12 23:58] krzyzacy commented on #4794
/remove-lifecycle stale
it's getting there!

[2018-07-12 23:59] krzyzacy commented on #3338
/remove-lifecycle stale

[2018-07-13 07:12] cclauss opened #8676 "Add a new command to find Python syntax errors and undefined names"
It would be super cool if we could teach @k8s-ci-robot a new command, __/flake8-core__ which would execute __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__ which is a really nice sanity check of Python code.

And maybe another new command __/flake8-strict__ which would execute __flake8 . --count --show-source --statistics__

__E901,E999,F821,F822,F823__ are the "sh

[2018-07-13 07:21] BenTheElder commented on #8676
Normally how we'd do this is run flake8 (or any other linter) the same as
one of the test jobs / Presubmit checks on PRs. Set up a job then you can
/test pull-foo-flake8

I'm not sure this warrants it's own command. All of the tooling necessary
for running any other test should work well for linters.

On Fri, Jul 13, 2018, 00:13 cclauss <notifications@github.com> wrote:

[2018-07-13 07:33] nikhita commented on #7690
/remove-lifecycle stale

[2018-07-13 08:32] cclauss commented on #8676
Do we really need to have users manually set up a job?

Doesn't @k8s-ci-robot already know everything that it needs to know to _automatically_ set up a lint job given that the commands in question do not change from one repo to the next?

I discovered this need by going to https://github.com/tensorflow/minigo and wanting to run a test that the maintainers had not previously considered.  I am not a

[2018-07-13 08:44] cclauss commented on #8676
The current [/lint](https://prow.k8s.io/command-help) command runs golint on all modified files in a PR.  That would be useful to have for other languages.

[2018-07-13 08:45] BenTheElder commented on #8676
Yes, we should focus on making that easier..

Everything except step 4) is a what a normal job might do. 4 can still be accomplished by a tool that runs in a job.

We have excellent capacity for scaling execution within test jobs, and a lint test being run is not different from any other test. There are also security concerns to running linter scripts within Prow instead of in the build & test clu

[2018-07-13 08:46] BenTheElder commented on #8676
This isn't widely used. The reason we have this built into Prow is:
- it's cheap
- it's secure. Unlike pylint we trust the source and it does not import or exeucte code from the PR when running.
- it has sufficient hooks in go that we can inline comment with the lint warnings on the lines that produced then.

[2018-07-13 08:47] BenTheElder commented on #8676
The /lint command in fact only runs on the modified code. It doesn't lint the whole tree, which is something else golint as a go librarary gives us, and is why we don't have say, gometalinter instead.

[2018-07-13 08:58] BenTheElder commented on #8676
The other problem we've avoided so far just by not upgrading the library and by not having much usage of /lint is that if we have a global linter baked in upgrading the underlying linter is a breaking change across all the repos under that CI. Upgrades to tools like this really should be rolled out per-repo.

The lint-as-presubmit model has worked well there, and as a bonus it allows making the li

[2018-07-13 09:05] cclauss commented on #8676
Thanks...  I will study up over the weekend.

[2018-07-13 10:33] cclauss opened #8678 "Python 3 compatibility issues"
@BenTheElder a self-referential version of the comment that would be produced by the __/flake8-core__ command that we discussed in #8676

flake8 testing of https://github.com/kubernetes/test-infra on Python 3.6.3

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-07-13 10:41] kargakis commented on #8668
Prowjob labels are set in the config so it doesn't sound like this will buy us much? Most of our jobs are ~30m-1h long.

I am fine with extra config fed into the controller, but for the MVP we probably don't need it and simply sending an email on every failure should suffice for most use cases.

[2018-07-13 10:54] munnerz commented on #8665
Quick update: I rolled #8666 out to our Prow cluster, and after a close/open, we have merges 😄 https://github.com/jetstack/tarmak/pull/365

Thanks very much for investigating and fixing @stevekuznetsov

[2018-07-13 15:56] BenTheElder commented on #8678
Almost all of these are because these scripts are python 2.x, and only run in CI where we control the python install.

[2018-07-13 16:08] BenTheElder commented on #8678
See: https://github.com/kubernetes/test-infra/pull/8679#issuecomment-404878473 for a bit more on why these aren't already python 3 compatible.

[2018-07-13 17:06] BenTheElder commented on #8668
I strongly disagree with that. Jobs can fail for any number of reasons (something on the internet is down!) and prowjobs are supposed to be disposable...? An email after N failures where N >= 2 is far more useful, especially for say, presubmits.

[2018-07-13 17:45] kargakis commented on #8668
What does disposable mean in this context? We care mostly about receiving
emails for postsubmit jobs where it doesn't make sense to send an email
after N failures because supposedly we expect 0 failures.

On Fri, Jul 13, 2018, 19:06 Benjamin Elder <notifications@github.com> wrote:

[2018-07-13 17:49] kargakis commented on #8668
Also I don't think we would use email notifications for presubmits. The bot
is already too chatty about any failures.

On Fri, Jul 13, 2018, 19:45 Michalis Kargakis <mkargaki@redhat.com> wrote:

[2018-07-13 17:50] BenTheElder commented on #8668
Except for postsubmits, jobs can be rerun again and an individual run can be lost etc.. they're more like a deployment than a pod.

Email for postsubmits sounds fine for an MVP but kubernetes at least can't and won't use that if that's all it can do. We mostly favor periodic and Presubmit and for those we really need "after N failures" with the alerting decoupled from the specific prowjob instanti

[2018-07-13 17:51] BenTheElder commented on #8668
is already too chatty about any failures.

If a job is repeatedly failing, even in Presubmit, that's something we should alert on... The threshold is just higher.

[2018-07-13 17:57] kargakis commented on #8668
Keeping the controller extensible to allow more options in the future is
definitely something we want, I just wouldn't block on matching all
testgrid email related-features from day one.

On Fri, Jul 13, 2018, 19:51 Benjamin Elder <notifications@github.com> wrote:

[2018-07-13 18:01] BenTheElder commented on #8668
Totally agree. Building it around annotations on the jobs will make other
alerting totally disjoint  in the future though, not just something
testgrid like.

I think at some point we can surpass parity by being aware of things like
which branch the job ran on. Simply rewriting testgrid alerting wouldn't
really helpful for kubernetes, though it might be for others.

On Fri, Jul 13, 2018, 10:57 Mich

[2018-07-14 17:59] BenTheElder commented on #8668
If we get email functionality working some other notifications might be candidates, like `needs-rebase`...

[2018-07-16 03:10] #6858 closed

[2018-07-16 10:22] matthyx commented on #4584
@krzyzacy I think I will start working on that after my vacations... can you provide more details on the current status?

[2018-07-16 12:11] matthyx commented on #8342
In PR #8335 @stevekuznetsov and @cjwagner write about a label framework... is it usable now for this issue?

[2018-07-16 15:13] stevekuznetsov commented on #4584
The work here is of two parts:

 - some sort of deployment test to a staging environment with mirrored/forwarded webhooks and everything in dry-run mode
 - actual deployment bumps daily in production

Cluster admins need to be the ones to implement the second part, and FWIW on my end as soon as I bump the commit everything redeploys fine, it's more that we have outages due to breaks that mean HEAD

[2018-07-16 15:15] stevekuznetsov commented on #7650
/remove-lifecycle stale

[2018-07-16 15:19] stevekuznetsov commented on #8646
Superset of it

[2018-07-16 15:23] roberthbailey opened #8690 "Figure out how to support /milestone for kubernetes-sigs repositories"
Right now you have to be in the the `<org>/kubernetes-milestone-maintainers` github team to set a milestone on an issue via the `/milestone` command. For the main repo, this seems fine. For repositories underneath kubernetes-sigs this isn't going to work. The repositories in that org are all owned and maintained by different SIGs. Having a single github group that sets milestones for all of them d

[2018-07-16 15:41] stevekuznetsov commented on #8670
/shrug

[2018-07-16 15:47] neolit123 commented on #8690
i think having this more flexible outside of `k/k` makes sense.

perhaps the easiest solution is to allow all regular org members to be able to use the command, but only outside of `k/k`. this could create some noise, but i wonder if that's going to be that much of a problem.

[2018-07-16 15:51] stevekuznetsov commented on #8690
Wasn't this already implemented in 19b225c9d44c8d2390317cc7cf46a4c101c10703 by @amwat ?

[2018-07-16 15:51] stevekuznetsov commented on #8690
/area prow
/kind question

[2018-07-16 15:51] stevekuznetsov commented on #8690
Perhaps needs some better doc
/kind documentation

[2018-07-16 15:52] stevekuznetsov commented on #8342
Not yet -- the PR for the framework is in #8131

[2018-07-16 15:55] BenTheElder commented on #8670
/shrug

don't run stale components with older config agents?

[2018-07-16 15:57] neolit123 commented on #8690
https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md

[code]

so it's already supported. nice.

[2018-07-16 16:00] BenTheElder commented on #4584
I'm not sure just deploying it gets us much. "our binaries and images build and we can deploy to the cluster" is a fairly low bar... breakages seem to usually involve interactions with config, with events from github / data passed between components...

Maybe we can automate a deployment against @fejtaverse with fake PRs

[2018-07-16 16:07] #6050 closed

[2018-07-16 16:13] matthyx commented on #8342
Alright, so it has little to do with labelsync... I will see if I can implement something with the same pattern matching as branchprotector, as @fejta suggests.

[2018-07-16 17:18] stevekuznetsov commented on #8690
/close

[2018-07-16 17:18] #8690 closed

[2018-07-16 17:18] krzyzacy commented on #7713
/remove-lifecycle stale

[2018-07-16 17:21] krzyzacy commented on #8670
yeah, should be fine with https://github.com/kubernetes/test-infra/pull/8684

[2018-07-16 17:21] #8670 closed

[2018-07-16 17:52] stevekuznetsov commented on #4584
Not sure what you mean, that is why I said...

That way it gets production data and we can easily test a bunch of stuff that would come out on read-only interactions. Obviously not everything, but it would be a good start.

[2018-07-16 18:45] stevekuznetsov opened #8691 "prow: cherrypicker: allow enumerating branches in one comment"
We need to support

[code]

/area prow
/kind feature
/cc @cjwagner @kargakis

[2018-07-16 19:54] stevekuznetsov commented on #7475
Lots of  conversation here about how to best integrate. Xref #https://github.com/kubernetes/test-infra/issues/8652

/close

[2018-07-16 19:54] #7475 closed

[2018-07-16 19:54] stevekuznetsov commented on #8649
@fejta can you lay out what is left here? Just choosing somewhere to put the config and turning it on?

[2018-07-16 21:23] matthyx commented on #4584
Probably @BenTheElder or other googlers could tell us if [Kayenta](https://cloudplatform.googleblog.com/2018/04/introducing-Kayenta-an-open-automated-canary-analysis-tool-from-Google-and-Netflix.html) is a thing... although we don't use Spinnaker I guess.

[2018-07-16 21:33] spiffxp commented on #3331
/remove-lifecycle stale
The above table has gone stale, I'll update it.  The submit queue still exists, so this isn't done yet

[2018-07-16 21:37] spiffxp commented on #5316
/remove-lifecycle stale
@cjwagner (1.12 test infra) and @amwat @prwitt @ravisantoshgudimetla (1.12 test infra shadows) can you figure out what remains to be untangled and doc or untangle it?

[2018-07-16 22:04] spiffxp commented on #3866
/remove-lifecycle stale
/milestone 1.12
This didn't happen for 1.11.  Are we going to be able to make it happen for 1.12?

[2018-07-16 22:06] spiffxp commented on #5316
/milestone 1.12

[2018-07-16 22:46] spiffxp commented on #6908
/remove-lifecycle stale
/milestone clear

[2018-07-16 22:47] spiffxp commented on #1795
/remove-lifecycle stale
/milestone clear

[2018-07-16 22:47] spiffxp commented on #3151
/milestone 1.12

[2018-07-16 23:09] spiffxp commented on #3331
/milestone 1.12

[2018-07-16 23:10] spiffxp commented on #1986
/milestone clear
@stevekuznetsov where do we stand on this?

[2018-07-16 23:10] spiffxp commented on #3338
/milestone 1.12

[2018-07-16 23:10] spiffxp commented on #5085
/milestone 1.12

[2018-07-16 23:11] spiffxp commented on #4794
/milestone 1.12

[2018-07-16 23:11] spiffxp commented on #5316
/milestone 1.12

[2018-07-16 23:12] spiffxp commented on #3866
/milestone 1.12
... now that the milestone plugin is actually enabled for this repo

[2018-07-16 23:16] krzyzacy commented on #1986
@spiffxp https://github.com/kubernetes/test-infra/pull/8669 is opened

[2018-07-16 23:17] spiffxp commented on #2699
/milestone clear

[2018-07-17 00:00] spiffxp commented on #5073
This is so close. There are two things I'm fine glossing over as a human, but they might trip up new users:
- Hovering over the build id calls it a Commit
- What does "Infra-Commit" mean? (or, put another way, what repo is "Commit" for, and what repo is "Infra-Commit" for?)

[2018-07-17 00:06] spiffxp commented on #4824
/remove-lifecycle stale
/milestone 1.12
Let's see what happens after some grooming...

[2018-07-17 00:08] michelle192837 commented on #5073
Good points. Both of those are based on the configuration_value in column headers (https://github.com/kubernetes/test-infra/blob/18bb81c73264f14d85b2c55bd0d6c93757505bc7/testgrid/config.yaml#L17). Though to be fair, the 'Commit' one is hardcoded in anyways (which I think can be fixed?)

So TestGrid's just pulling that name and those values from the data. Whatever code is actually adding those valu

[2018-07-17 00:09] spiffxp commented on #5333
/remove-lifecycle rotten
/assign me
/milestone 1.12
Looks like I found the separate issue I was asking for in https://github.com/kubernetes/test-infra/issues/8422#issuecomment-404667828
@cjwagner @matthyx I assigned to me because I have Opinions (see aformentioned comment) but if either of you would prefer please go for it

[2018-07-17 00:10] spiffxp commented on #5333
/assign
... right, I forgot how to self-assign

[2018-07-17 00:14] spiffxp commented on #4646
/milestone clear

[2018-07-17 00:33] spiffxp commented on #5483
/close
@lavalamp The associated issue requirement for PR's was disabled in January ([thread](https://groups.google.com/d/msg/kubernetes-sig-contribex/sBqQuJBbMnA/psJ63pQFAAAJ)) so we're not inclined to work on this unless there's an urgent need.  I'll admit, I haven't kept up to date on how release notes are being generated these days, but it's not dependent on this.

[2018-07-17 00:33] #5483 closed

[2018-07-17 00:39] spiffxp commented on #3323
/milestone 1.12
Is this in use today? I see https://github.com/kubernetes/test-infra/blob/master/testgrid/cluster/updater_deployment.yaml

[2018-07-17 00:41] spiffxp commented on #3362
We've still got a bunch
[code]

[2018-07-17 00:42] spiffxp commented on #5231
/milestone 1.12
I guess.  This seems more like an umbrella but oh well

[2018-07-17 00:55] spiffxp commented on #3330
Honestly at this point it's unclear to me what the whole stack of python and shell is that's involved in running e2e tests.  I think the jenkins scripts are gone now, but kubetest still calls out to `hack/ginkgo-e2e.sh` for example.  Do we want to close this as too vaguely scoped?  Or is there a more concrete roadmap of simplification we could point to for definition of done?

[2018-07-17 00:56] spiffxp commented on #5434
Do we still care about this?

[2018-07-17 00:57] spiffxp commented on #5431
/milestone 1.12

[2018-07-17 00:57] BenTheElder commented on #5434
we did some cleanup, further cleanup will need to happen as part of the podutils migration and dealing with verify which can come later

[2018-07-17 00:58] krzyzacy commented on #3330
/remove-lifecycle stale

I think @justinsb was working on this and made some progress. Let's keep it.

[2018-07-17 00:58] spiffxp commented on #7235
/milestone 1.12

[2018-07-17 01:01] spiffxp commented on #3349
/lifecycle frozen
This is still relevant even if nothing's happening on it right now.  There are folks inside and outside Google making a push on the parts that come before this.  If it turns out there's a better repo to track this issue I'll move over there.  For now I'd rather this stay frozen.

[2018-07-17 02:42] hchenxa opened #8698 "[Question]How to execute kubetest"
I try to run `kubetest` on an local running kubernetes cluster, but the command failed like below:
[code]

Just want to know how the run this command.

[2018-07-17 04:04] BenTheElder commented on #8698
you need to have `kubectl` available, per the warning message. run `./build/run.sh make WHAT=cmd/kubectl` IIRC (or just run the command provided in the error message.

'./build/run.sh make cross'. Note that this requires having
Docker installed.

[2018-07-17 04:04] BenTheElder commented on #8698
/area kubetest
/assign @krzyzacy

[2018-07-17 05:14] hchenxa commented on #8698
@BenTheElder , I set the environment variable `KUBECTL_PATH=/usr/local/bin/kubectl` and `KUBECTL=/usr/local/bin/kubectl` before start the test.

[2018-07-17 06:44] BenTheElder commented on #8698
AFAIK the e2e scripts in https://github.com/kubernetes/kubernetes/  `cluster/test-e2e.sh` etc. will always use one from a local build, not the preinstalled one.

[2018-07-17 07:06] matthyx commented on #1723
@fejta I don't quite understand what should be changed in report.go do you want to keep on creating/updating/removing report on failure, and get an aggregated error at the end of `Report()`?

[2018-07-17 07:30] matthyx commented on #3083
/remove-help

[2018-07-17 07:31] aojea commented on #8602
@fejta I was playing around with the code and I think that with a little help I will be able to do it, can you assign it to me?

[2018-07-17 12:32] droslean opened #8701 "Add support for x509 certs in the secret agent."
Follow-up issue for #4761

[2018-07-17 12:38] droslean opened #8702 "Use token source in githubql client that is being used in github package."
Use ReuseTokenSource instead of StaticTokenSource
The source of the token will be the secret agent.

[2018-07-17 12:46] kargakis commented on #8702
/area prow

[2018-07-17 12:46] kargakis commented on #8701
/area prow

[2018-07-17 12:47] kargakis commented on #8701
/kind feature

[2018-07-17 12:47] kargakis commented on #8702
/kind feature

[2018-07-17 15:29] kargakis commented on #6693
This is still not fixed :(

[2018-07-17 15:50] matthyx commented on #6693
@kargakis how did you test?

[2018-07-17 15:54] MHBauer commented on #8291
/cc @jeremyrickard @nikhita
as other interested parties

[2018-07-17 16:50] MHBauer commented on #8653
service-catalog is interested in this, and I think we can help out as new-users if that mindset is needed
/cc @carolynvs @jeremyrickard

[2018-07-17 16:50] MHBauer commented on #8652
service-catalog is interested in this, and I think we can help out as new-users if that mindset is needed
/cc @carolynvs @jeremyrickard

[2018-07-17 17:23] krzyzacy commented on #8698
so what is `/kubemark/kubernetes`? is that a valid clone of k8s?

/assign @dims
might also be local cluster related

[2018-07-17 17:30] spiffxp opened #8703 "bigquery metrics dashboard in velodrome.k8s.io is out of date"
Compare dashboards [bigquery metrics](http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1) to [monitoring](http://velodrome.k8s.io/dashboard/db/monitoring?orgId=1)

Looks as though no data has shown up in a week.  I'm guessing this means the job responsible for populating it is hung or not running.

/area metrics
/area velodrome
/kind bug
/milestone 1.12
/sig testing
/meow space

[2018-07-17 17:31] spiffxp commented on #8703
/priority important-soon

[2018-07-17 17:33] dims commented on #8698
"root@hchenxa-1:~/kubemark" is just his local directory structure i think @krzyzacy . yes, will look into this. lost track of some of my TODO items

[2018-07-17 17:36] spiffxp commented on #8703
related: https://storage.googleapis.com/k8s-gubernator/triage/index.html is also out of date

[2018-07-17 18:06] mithrav commented on #5051
/remove-lifecycle stale, we were just discussing it this week with @shyamjvs

[2018-07-17 18:21] shyamjvs commented on #5051
/remove-lifecycle stale

[2018-07-17 19:30] BenTheElder commented on #7741
/remove-lifecycle stale

Sen is still looking at this hopefully

On Tue, Jul 17, 2018 at 11:48 AM fejta-bot <notifications@github.com> wrote:

[2018-07-17 20:21] krzyzacy commented on #7741
yeah I'll do things after https://github.com/kubernetes/test-infra/pull/8669

[2018-07-17 20:31] MHBauer commented on #8291
Recommendation today was configuring tide is our immediate next step.

[2018-07-17 20:38] matthyx commented on #8342
/remove-help
/assign

[2018-07-17 21:59] ixdy commented on #7760
/remove-lifecycle stale

We should still do this, especially before migrating to these for kubernetes repos.

[2018-07-18 02:06] hchenxa commented on #8698
As I append above, the `kubectl` was under `/usr/local/bin` which was already in `PATH` environment variable.

[2018-07-18 02:12] justaugustus commented on #8316
Features automation also mentioned [here](https://github.com/kubernetes/features/issues/590#issuecomment-405777788) by @liggitt:

[2018-07-18 09:06] matthyx commented on #8342
Can we agree on this new format for [labels.yaml](https://github.com/matthyx/test-infra/blob/db79317bba502270580ba63b2925e9a7dd923e2f/label_sync/labels.yaml) ?

[2018-07-18 15:44] stevekuznetsov commented on #8653
/milestone 1.12

[2018-07-18 15:44] stevekuznetsov commented on #8653
@spiffxp :(

[2018-07-18 16:22] stevekuznetsov commented on #8342
Is there a design for the new format somewhere to review?

[2018-07-18 16:36] stevekuznetsov commented on #8316
FWIW the PR Dashboard allows any GitHub query so for instance you could [search for v1.12 milestone PRs](https://prow.k8s.io/pr?query=is%3Apr%20state%3Aopen%20milestone%3Av1.12) and see the diff between their current state and what they need to merge. It's not super useful today as the PR Dashboard works with the `tide` merge automation, which has not yet been rolled out to `kubernetes/kubernetes`

[2018-07-18 16:57] stevekuznetsov commented on #8702
/assign @droslean

[2018-07-18 16:57] stevekuznetsov commented on #8701
/assign @droslean

[2018-07-18 20:42] BenTheElder commented on #8698
Feel free to reopen with more details, there are instructions for using these tools and it's not clear from the details here what is wrong: https://github.com/kubernetes/test-infra/issues/8698#issuecomment-405660714

[2018-07-18 22:22] BenTheElder commented on #7192
/cc @spiffxp
/remove-lifecycle stale

On Wed, Jul 18, 2018 at 3:15 PM fejta-bot <notifications@github.com> wrote:

[2018-07-19 01:07] BenTheElder opened #8728 "getting_started.md uses the wrong default configmap keys"
In https://github.com/kubernetes/test-infra/commit/45c23a15b9349a9a6f3b8e097cfc672a4e495e66 we updated all of the flags to default to eg `/etc/config/config.yaml` , but getting started still shows to use `--from-file=config=...`.

/area prow
/kind bug

/assign

[2018-07-19 05:09] BenTheElder opened #8731 "tide status page details do not handle org queries"
<img width="1561" alt="screen shot 2018-07-18 at 9 31 06 pm" src="https://user-images.githubusercontent.com/917931/42921675-ea2d2496-8ad1-11e8-9c1d-cfffee477046.png">

/kind bug
/area prow
/assign

[2018-07-19 05:09] BenTheElder commented on #8731
/cc @cjwagner

[2018-07-19 05:15] BenTheElder commented on #7784
we should probably just go ahead and move anyone else off of it... though if nobody is complaining about problems I guess there's no rush...
/remove-lifecycle stale
/priority backlog

[2018-07-19 14:53] #8728 closed

[2018-07-19 17:16] BenTheElder opened #8733 "prow pr status script error"
[code]
surrounding snippet:
[code]
283 is `if (githubContext.state === build.state) {`

/kind bug
/area prow
/cc @qhuynh96

[2018-07-19 17:18] BenTheElder commented on #8733
This happens on my PR status page currently, but not on https://prow.k8s.io/pr?query=is%3Apr%20state%3Aopen%20author%3Aqhuynh96

I also don't think we need the alert icon if the prowjob is not found actually @stevekuznetsov @qhuynh96, since eg cla/linuxfoundation never has a prowjob. we just need an alert if the prowjob _is_ found and doesn't match.

[2018-07-19 17:29] qhuynh96 commented on #8733
it failed due to ```githubContext``` is ```undefined``` which should not happen because there is a test to check if context exists or not.

[2018-07-19 17:31] stevekuznetsov commented on #8733
agreed

[2018-07-19 17:54] guineveresaenger opened #8735 "prow: Github Review State not being handled as expected"
It appears as though "Approve" on a GitHub review still does not trigger lgtm, as observed on this comment in k/community:

https://github.com/kubernetes/community/pull/2347#issuecomment-406360573

I am willing to look into this, but I'm also looking for hints on debugging.

/kind bug
/sig test-infra

[2018-07-19 17:56] guineveresaenger commented on #8735
/sig testing
/area prow

[2018-07-19 18:12] #8733 closed

[2018-07-19 18:25] BenTheElder commented on #8733
can confirm this fixes it, we might still want to deal with the mismatched states a bit more though:
![image](https://user-images.githubusercontent.com/917931/42962395-5fafc876-8b46-11e8-9ce4-037cab2d63fb.png)
"job triggered" is also a bit of a special case

[2018-07-19 18:25] BenTheElder opened #8737 "pr status page should handle certain statuses specially"
previous discussion: https://github.com/kubernetes/test-infra/issues/8733

/area prow

[2018-07-19 18:27] stevekuznetsov commented on #8737
/kind feature
/cc @cjwagner @qhuynh96

[2018-07-19 18:30] stevekuznetsov commented on #8735
Wait did we make approval via GitHub UI --> `/approve`? I thought we just made it so that if you `/lgtm` or `/approve` in the review comment it works.

[2018-07-19 18:34] BenTheElder commented on #8735
I'm not fully up to date on the expected behavior besides `/lgtm`, `/approve` in comments

[2018-07-19 22:32] fejta opened #8742 "Rewrite prow in a better language"
Golang doesn't have good support for dependencies, generics or generated code.

Therefore we should migrate prow to https://www.emojicode.org/ during the 1.13 timeframe

[2018-07-19 22:33] krzyzacy commented on #8742
/joke

[2018-07-19 22:35] fejta commented on #8742
/serious

[2018-07-19 22:36] ixdy commented on #8742
Go already supports unicode identifiers.

[2018-07-19 22:37] ixdy commented on #8742
/joke

[2018-07-19 22:37] michelle192837 commented on #8742
/meow joke

[2018-07-19 22:37] michelle192837 commented on #8742
/meow funny

[2018-07-19 22:40] BenTheElder commented on #7814
@spiffxp WDYT?
/remove-lifecycle stale

[2018-07-19 22:43] spiffxp commented on #8742
/shrug

[2018-07-19 23:07] AishSundar opened #8743 "Setup alerts when Kettle Job stops/fails to collect and push metrics to BigQuery"
Once in a while our Kettle job, which collect Bigquery metrics and feeds Velodrome, stop and we end up not having data for weeks before someone notices it. While we debug and fix the root cause, we should atleast setup alerts if the metrics data is stale (more than a day old?) so it get surfaced and fixed sooner than later.

/area metrics
/area velodrome
/milestone 1.12
/sig testing
/kind feature

[2018-07-19 23:11] BenTheElder opened #8744 "starter.yaml should have RBAC for hook"
hook creates prowjobs (`trigger`), but does not have RBAC in starter.yaml by the looks of it:
https://github.com/kubernetes/test-infra/pull/8499/files#r203899026

Not sure what we were thinking here... I don't remember the context.

We should fix this
/area prow
/kind bug

[2018-07-19 23:11] BenTheElder commented on #8744
/cc @stevekuznetsov @cjwagner @paulangton

[2018-07-19 23:34] stevekuznetsov commented on #8744
Looks like a translation error? [Ours](https://github.com/openshift/release/blob/7791a576b132a7aaf55c76af56790158bb5efee6/cluster/ci/config/prow/openshift/hook_rbac.yaml#L8-L41) has the rule:

[code]

[2018-07-19 23:34] stevekuznetsov commented on #8744
/assign @paulangton

[2018-07-19 23:35] BenTheElder commented on #8744
sounds right, we just ran into someone trying starter.yaml and hitting a `cannot create prowjobs.prow.k8s.io` for hook. looks like we missed that.

[2018-07-20 00:46] paulangton commented on #8744
Yup good catch, looks like `hook_rbac.yaml` exists in `prow/cluster/` but not in `starter.yaml`

[2018-07-20 06:02] matthyx commented on #6693
@kargakis if you only tested locally, using the script `runlocal` it falls into the test `if o.runLocal {` and only serves static files... while the new code `mux.Handle("/favicon.ico"` is part of `func prodOnlyMain(o options, mux *http.ServeMux) *http.ServeMux {`.

[2018-07-20 15:42] #7279 closed

[2018-07-20 15:52] stevekuznetsov commented on #8493
Saw this again:

[code]

Need to add more debugging to determine what happens in this case.

[2018-07-20 16:43] guineveresaenger commented on #8735
I was trying to get GitHubReviewState to trigger LGTM as well, as in the Approve button. I have no idea what I missed. :/

[2018-07-20 16:44] guineveresaenger commented on #8735
it's in this PR: #6738

[2018-07-20 17:46] AishSundar commented on #8703
Kettle job was restarted and Velodrome has data now.

[2018-07-20 17:54] spiffxp commented on #7814
/milestone 1.12

[2018-07-20 18:04] stevekuznetsov commented on #8735
Might need some cluster logs to debug? @fejta

[2018-07-20 20:02] spiffxp commented on #8703
yay, backfill worked! I saw a doc float around with instructions on how to notice this / restart the job if it happens again, any reason we shouldn't have that checked into the repo?

[2018-07-20 20:02] duderino opened #8760 "Prow Feature Request: Debug a failed/stuck test with SSH"
It would be pure awesome if Prow supported something along these lines:
 https://circleci.com/docs/2.0/ssh-access-jobs/

[2018-07-21 17:14] BenTheElder commented on #8760
hmm that feature does look neat on the surface but I kinda don't think we want to do this

Prow admins can already `kubectl exec` to a running job etc. without any extra tooling, but I don't think that's meant to be used at any sort of scale or exposed to arbitrary users... This would complicate resource management and security. With `/ok-to-test` we in theory at least require a trusted user to in

[2018-07-22 11:14] qhuynh96 commented on #8737
/assign

[2018-07-22 16:04] kargakis commented on #6693
Sorry, this seems fixed in our deployment! Thanks a lot @matthyx

[2018-07-22 16:04] #6693 closed

[2018-07-22 16:16] kargakis commented on #7587
The problem with 1 is that it will break cherrypicking to branches that include slashes in their name.

[2018-07-22 16:21] kargakis commented on #8691
Or fix the following to work since I have seen folks using it and there are problems with overloading the command arguments (see comments in https://github.com/kubernetes/test-infra/issues/7587)
[code]

[2018-07-22 19:19] kargakis commented on #5401
FYI, I just stumbled across https://github.com/bitcoin/bitcoin/pull/13557#issuecomment-404986537

[2018-07-22 19:20] kargakis commented on #5279
/assign droslean

[2018-07-23 12:11] droslean commented on #8742
We should re-write it in whitespace language.
https://en.wikipedia.org/wiki/Whitespace_(programming_language)

[2018-07-23 14:53] matthyx commented on #8342
Actually I did it a bit differently, it's more compact that way. I let you check the PR.

[2018-07-23 15:55] BenTheElder commented on #7844
I'm actually considering the v2 of dind will converge on systemd anyhow as other things need it when we start to go multi-process. Closing this one for now, but will have some other issues (and cross reference) to track future work on these images.

[2018-07-23 15:55] #7844 closed

[2018-07-23 16:00] BenTheElder opened #8779 "figure out podutils and init / zombies"
With the podutils we run our entrypoint binary as PID1 in the containers, for jobs that fork this may be problematic. We should look at options for handling this.

Specifically for zombie processes we can probably get away with something like `/bin/sh entrypoint ...`, but other things may actually make use of an init...

/cc @stevekuznetsov @cjwagner

/area prow
/priority important-soon

[2018-07-23 16:04] stevekuznetsov commented on #8691
If the plugin can find all N `/cherrypick` commands in one comment, then we are OK I think. Still possible to reply with one comment. If we can do that for all of our plugins (in the framework? @cjwagner ) the UX can be better across the board

[2018-07-23 16:05] BenTheElder opened #8780 "figure out DinD + podutils"
This is a specific issue to track the need for Docker in Docker with the podutils. I am also filing a related but more general issue for the podutils and init / forking that may wind up solving this one. xref: https://github.com/kubernetes/test-infra/issues/8779

In short, with the old bootstrap + scenario scripts and their images we have support for using docker at runtime in prowjobs, with the p

[2018-07-23 16:09] stevekuznetsov commented on #8779
I am of the opinion that init systems in containers are a huge code smell and I'm not sure how much effort we should go to in order to support them. Why not launch a `dockerd` container and have it share the socket? One process per container.

[2018-07-23 16:13] BenTheElder commented on #8779
Smell or not they're immensely useful, and lots of third party tools happily fork to their heart's content. We don't necessarily need a full blown init to avoid zombie processes in particular.

Don't we only allow one test container? Also the pod lifecycle...? Mounting through volumes? There are many reasons to do this in the same container.

[2018-07-23 16:14] BenTheElder commented on #8779
Similarly, due to the entrypoint binary, we already do NOT have "one process per container", we have at minimum 2, which sorta illustrates how useful running multiple binaries is...

[2018-07-23 16:37] BenTheElder commented on #8779
These two processes are linked, but the command we run generally forks at some point, and it still illustrates how it is useful to fork using someone else's binary within a container. "one process per container" rarely actually happens here. We're not going to be able to change all of that. Tools run other tools to EG spin up clusters.

No, many of the test suites we run can even take say, 15 hour

[2018-07-23 16:38] BenTheElder commented on #8780
@stevekuznetsov I don't think that will work properly due to volume mounts. See https://github.com/kubernetes/test-infra/issues/8779#issuecomment-407121384

Seperately from DinD, most things we run fork, avoiding zombies is something to handle more generally. What needs to happen here specifically is a different snippet to boot docker (instead of having it in the images/bootstrap entrypoint.sh)

[2018-07-23 17:00] fejta commented on #8779
At some point we should update the pod-utilities to not require hijacking the entrypoint, which will solve this problem.

[2018-07-23 17:01] BenTheElder commented on #8780
We should be able to refactor out just the DinD parts from `images/bootstrap/runner` and let the pdoutils job be `entrypoint test_cmd` where `test_cmd` is something like `dind_runner actual-test-command`.

This just reminded me that zombies are also coming to eat our nodes. For that something like `/bin/sh entrypoint test_cmd` would probably be sufficient.

I'll handle the refactor bit now and cir

[2018-07-23 17:23] stevekuznetsov commented on #8780
I'd check where the `pause` container work is, that was supposed to handle the issue IIRC

[2018-07-23 17:54] AishSundar commented on #8703
This is [the PR](https://github.com/kubernetes/test-infra/pull/8750) to convert the doc into markdown

[2018-07-23 17:58] BenTheElder commented on #8780
It looks like we are waiting on https://github.com/kubernetes/kubernetes/issues/1615 before the pause container can reap zombies. It has some logic already, but currently it doesn't work as the pod doesn't share a PID namespace yet.
The last update is that 1.10 had this as an alpha feature https://github.com/kubernetes/kubernetes/issues/1615#issuecomment-386976958, until just two hours ago A PR op

[2018-07-23 17:59] stevekuznetsov commented on #8779
FYI k8s natively handles this, alpha in 3.10 https://github.com/kubernetes/kubernetes/pull/57973

[2018-07-23 18:00] stevekuznetsov commented on #8780
You are stock GKE, right? I think we may be running with it right now on ours, but we fiddle with cluster flags a lot.

[2018-07-23 18:01] stevekuznetsov commented on #8780
Are there benefits from integrating more tightly for classes of jobs (DinD, jobs that want VMs, stuff like that) or do we just want to black-box everything and keep it as run by `entrypoint`?

[2018-07-23 18:02] stevekuznetsov commented on #8779
@fejta was there a design for letting the sidecar know when uploads should begin / when the test process was exiting?

[2018-07-23 18:02] BenTheElder commented on #8779
Yeah, I've been following that, but that handles setting limits at a pod
level (and is alpha gated, which k/k prow doesn't typically use), which is
distinct from avoiding hitting a limit to begin with. we'd really like to
not hit a limit. The pause container work looks promising though.

On Mon, Jul 23, 2018 at 10:59 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-07-23 18:02] stevekuznetsov commented on #8779
What was the limit here? I can't remember what disallowed volume mounts

[2018-07-23 18:03] kargakis commented on #5334
@stevekuznetsov is the `override` plugin enough for covering our use case?

[2018-07-23 18:14] BenTheElder commented on #8779
We have files inside container CA's filesystem on runtime RA that we want to mount into container CB on runtime CB. I don't think that works right.

Entirely beside the point though, as we're not getting zombies with dind... we get zombies from other utils. DinD just reminded me that this sort of multiprocess work doesn't gel too well with the `ENTRYPOINT` hijacking we do currently, everything we

[2018-07-23 18:17] BenTheElder commented on #8780
Stock GKE does not enable alpha features to my knowledge. We could almost certainly sidestep this but it would be hacky.

We should keep it flexible. I don't think we want to support VMs etc as part of PRow. I do think we need to support forking, as tons of useful utilities fork. This issue is really for tracking that our images also need an update because they assume they can do $magic in the ent

[2018-07-23 18:20] stevekuznetsov commented on #5334
Not really, we'd have to `/override` every context and hope it gets chosen into the next batch, and that the batch would merge, if not we'd need to re-`/override` after the failed batch results get posted to the PR, etc.

[2018-07-23 18:21] stevekuznetsov commented on #5334
This is more like #7899

[2018-07-23 19:36] verb commented on #8780
FYI, GKE supports [alpha clusters](https://cloud.google.com/kubernetes-engine/docs/concepts/alpha-clusters), but they're only suitable for testing.

@stevekuznetsov Are you running with PodShareProcessNamespace=true? I haven't received much feedback on this feature. I'd like to gather a few examples of people using it successfully.

[2018-07-23 19:40] BenTheElder commented on #8780
Yeah, alpha clusters are not a suitable option for Prow. Some end to end testing uses them though.

[2018-07-23 20:19] spiffxp commented on #8342
/cc
looking forward to the PR

I had a bunch of conceptual hangups that kept me from moving forward on repo-scoped stuff, but it's the next logical step.  Mainly centered around how we would DRY this up so that label docs are served on the fly per-org / per-repo, in much the same way we do today with prow commands and plugins.

[2018-07-23 20:19] spiffxp commented on #1795
More cherry pick improvement ideas:
- https://github.com/kubernetes/test-infra/issues/1828 - auto-approve cherrypick PR's if they're based off of approved PR's to master _(ed: I'm not sure I like this idea, but I'm linking it)_
- https://github.com/kubernetes/test-infra/pull/7653 - during v1.11 we disabled the cherrypick-auto-approve munger because it was confusing branch managers
- https://github

[2018-07-23 20:21] liggitt commented on #1828
I disagree with this. Approval for a change going into master does not automatically mean it is appropriate for a release branch.

[2018-07-23 20:31] kargakis commented on #1828
+1

[2018-07-23 21:15] spiffxp commented on #5603
/remove-lifecycle rotten
/reopen
we keep talking about this a bunch in slack whenever these errant warning come up

[2018-07-23 21:21] spiffxp commented on #8703
The linked doc refers to this as the issue for root-causing.  I'd rather open a new issue for that, and call this closed once the doc is merged

[2018-07-23 21:42] kargakis commented on #5338
/lifecycle frozen

[2018-07-23 21:50] spiffxp opened #8795 "prow: Leaving /approve doesn't alter GitHub Review status"
I'm not sure that it's pressing but it can be annoying

1. I leave a PR review with changes requested, so github's UI shows a little red x next to my name
2. The author provides the necessary changes
3. I then (regularly) comment `/lgtm /approve` and the `lgtm` and `approved` labels appear, but the UI still shows that I have changes requested

Basically, once I start using a PR Review, I'm locked

[2018-07-23 21:51] spiffxp commented on #8795
/area prow

[2018-07-23 21:56] fejta commented on #8795
Prow cannot leave an approving review on your behalf.

What you can do is this:

https://github.com/kubernetes/test-infra/blob/09591c7544f1eec1128815ceefa04dc3f4af915d/prow/plugins.yaml#L67-L70

[2018-07-23 22:02] spiffxp opened #8796 "prow: trigger additional tests based on PR title / body / commit"
/kind feature
/area prow

The desire is to have different sets of required tests depending on what kind of change is being submitted.  One way `trigger` supports this today is via the `run_if_changed` regex, which triggers a job if certain paths or files are part of the PR.  We also allow PR authors to comment `/test foo` to trigger a presubmit that prow already knows about (I'm not sure if this t

[2018-07-24 00:10] spiffxp opened #8800 "kettle: root cause why it hangs/freezes periodically"
When it freezes, gubernator, velodrome and triage become stale. eg: https://github.com/kubernetes/test-infra/issues/8703

We want to alert when this happens: https://github.com/kubernetes/test-infra/issues/8743

But why does this happen, and can we prevent it?

[2018-07-24 00:40] spiffxp commented on #8703
/close
root cause tracking issue https://github.com/kubernetes/test-infra/issues/8800

[2018-07-24 00:40] #8703 closed

[2018-07-24 17:05] stevekuznetsov opened #8810 "prow: tide: "pending" column in UI is confusing"
Is this only for PRs currently being tested alone while a batch may or may not be running? We should have a column for PRs in "singleton batches" or whatever and if this is that column, we should use a word like "retesting" to describe it since "pending" is confusing

/area prow
/kind bug
/cc @BenTheElder @fejta
/assign @cjwagner

[2018-07-24 17:57] neolit123 opened #8811 "add support for `lifecycle/active`"
we had a discussion today with @BenTheElder, @timothysc and @roberthbailey at the SIG Cluster Lifecycle meeting, about the fact that we have a custom label called `active` in the `k/kubeadm` repository.

the idea of the label is to indicate to repo maintainers and contributors that someone is working on the issue already. then it came to topic that issue "state" `active` seems like being part of t

[2018-07-24 17:58] neolit123 commented on #8811
/kind feature

[2018-07-24 19:28] BenTheElder opened #8812 "DinD tracking issue"
We use Docker in Docker pretty successfully for various things in test-infra but it needs some work.

- [x] 1. We need an image with DinD and podutils support to supersede `images/bootstrap`, see also https://github.com/kubernetes/test-infra/issues/8779, https://github.com/kubernetes/test-infra/issues/8780
  - we can probably just refactor the `ENTRYPOINT` runner a bit to allow it also being used

[2018-07-24 19:31] MHBauer commented on #8291
we're going smoothy. prow/tide/whoever is running nicely. :fire:

[2018-07-24 19:34] #6988 closed

[2018-07-24 20:04] timothysc commented on #8811
/assign @BenTheElder

Only b/c he was there ;-)

[2018-07-24 20:48] spiffxp commented on #8594
/area jobs

[2018-07-24 20:49] #8301 closed

[2018-07-24 20:49] krzyzacy commented on #8301
(not needed)

[2018-07-24 20:49] krzyzacy commented on #8296
(this is done)

[2018-07-24 20:49] #8296 closed

[2018-07-24 20:50] spiffxp commented on #8485
/milestone 1.12

[2018-07-24 20:56] krzyzacy commented on #8594
fyi, I'm slowly populating https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes

[2018-07-24 21:12] cjwagner commented on #6095
@stevekuznetsov Yes, there will be a command type that manages a set of labels from a class, allowing at most one label from the class to be applied at a time.

[2018-07-24 21:12] spiffxp commented on #8594
/milestone 1.12

[2018-07-24 21:13] BenTheElder commented on #8291
Whoo! 🎉

[2018-07-24 21:38] BenTheElder commented on #8811
Happy to help implement, I think we might want to run this by @cblecker @spiffxp @kubernetes/sig-contributor-experience-feature-requests

/lifecycle active

[2018-07-24 22:26] cjwagner opened #8817 "K8s Prow favicon isn't displaying properly."
![screenshot from 2018-07-24 15-21-18](https://user-images.githubusercontent.com/5334145/43169280-5b622a1c-8f55-11e8-9901-078bdf6be110.png)
The first tab is the k8s Prow instance https://prow.k8s.io
The second tab is openshift's Prow instance https://deck-ci.svc.ci.openshift.org/

When I force refresh the page I see the correct favicon for an instant before it is replaced with the default page ico

[2018-07-24 22:58] BenTheElder commented on #8817
https://prow.k8s.io/favicon.ico is 404 despite the file still being in /static/ ...

[2018-07-24 23:01] BenTheElder commented on #8817
https://github.com/kubernetes/test-infra/blob/1645b53e4e8e7a09761ae1253e42b431b8341c28/prow/cmd/deck/main.go#L587-L591

that probably needs to be:
`if config.Deck.Branding != nil && config.Deck.Branding.Favicon != "" {`

[2018-07-24 23:55] stevekuznetsov commented on #8817
Maybe it's just that our prow > your prow and we need #8742  ?

[2018-07-24 23:59] stevekuznetsov commented on #8811
Is this a proposal to add this to all PRs until `lifecycle/stale` is needed? Or just to support the user command `/lifecycle active`?

[2018-07-25 00:09] spiffxp commented on #8811
IIRC, this is what the `status/in-progress` label is supposed to be for in k/k... allow the release team to track whether a given issue was actually being worked.  The main difference is that `/status` commands are gated behind team membership.  I'm not a fan of people having to `/status in-progress` stuff because it feels like process scarring and history shows it's [laughably not updated](https:

[2018-07-25 00:15] neolit123 commented on #8811
thanks for the comments and bringing this to contribex, @spiffxp.

@stevekuznetsov

we didn't discuss PRs.
right after submission a PR is obviously `active`, so it's valid to have the label.
it's becomes a question if the label should be auto/explicit on **all new PRs**.
that might be a bit too much...

i think `/lifecycle active` is a must and it should be manual.
the bots should remove it if the

[2018-07-25 00:39] BenTheElder commented on #8811
the bots should remove it if the issue or PR hasn't been active for a while
and apply lifecycle/stale.

This was my thinking earlier, it's an optional label but supported by the
lifecycle commands and the lifecycle bot removes it. It would just be an
extra positive label like it is now, but with support to add it via command
without needing write access, and for the bot to handle it with the rest

[2018-07-25 06:15] matthyx commented on #8817
Yes, I didn't expect to have branding without favicon... I will test @BenTheElder patch.
/assign

[2018-07-25 07:01] matthyx commented on #8817
/assign @BenTheElder

[2018-07-25 07:02] matthyx commented on #8817
/unassign

[2018-07-25 07:03] matthyx commented on #8817
@BenTheElder has already proposed #8818

[2018-07-25 14:42] dims opened #8824 "GCE/GKE jobs need newer Docker versions for multi-arch images"
Thanks @cjwagner we now have multi-arch images for all the Dockerfiles under test/images directory in main k/k repository (see `gcr.io/kubernetes-e2e-test-images`)

https://github.com/kubernetes/kubernetes/pull/66608/ aims to kick the tires of these images.

However looking at pull-kubernetes-e2e-gce and pull-kubernetes-e2e-gke jobs, we seem to have 17.03 version of docker which does not support m

[2018-07-25 14:43] dims commented on #8824
related to https://github.com/kubernetes/kubernetes/issues/38067

[2018-07-25 14:43] dims commented on #8824
cc @mkumatag @BenTheElder @cjwagner

[2018-07-25 14:53] mkumatag commented on #8824
@dims we don't have to worry about updating docker cli(client), because docker client supports manifest images from very long time. Until and unless if they are pushing manifests, we can still use the older version you have.

[2018-07-25 14:55] dims commented on #8824
@mkumatag not talking about "docker manifest" commands, the docker engine itself needs to be updated. See the links above :)

[2018-07-25 15:10] mkumatag commented on #8824
moby/moby#35772 is just a test scripts update, can you point me to the error what we are facing?

[2018-07-25 15:16] dims commented on #8824
Take a look at https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/66608/pull-kubernetes-e2e-gce/45548/artifacts/e2e-45548-674b9-minion-group-l2qs/docker.log, the docker version is as follows:
[code]

search for `gcr.io/kubernetes-e2e-test-images/mounttest:1.0` in the log file. The image is clearly present in the registry but is not getting pulled. (checked using manifest-tool and by lo

[2018-07-25 15:19] mkumatag commented on #8824
same image I could able to pull on my machine which has same version:

[code]

[2018-07-25 15:32] dims commented on #8824
Aha! let me revert just that one

[2018-07-25 15:46] dims commented on #8824
/close

[2018-07-25 15:46] #8824 closed

[2018-07-25 17:04] stevekuznetsov opened #8826 "gubernator: server error from ``DownloadError: Unspecified error in fetching URL''"
Loading [this page](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20404/pull-ci-origin-integration/1208/) we get an internal error and this stacktrace:

[code]

However, loading just the XML file in question using `gcsweb` [like so](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/20404/pull-ci-origin-integration/1208/artifacts/integration/unit_report_tMzAN.xm

[2018-07-25 17:19] jberkus commented on #8811
My $0.02 as ex-release lead:

1. I'm OK with `status/in-progress` going away, and being removed from the milestone munger bot.  People aren't using it and it's not serving its intended purpose.
2. adding lifecycle/active should require the issue/PR to be assigned.  So (a) if nobody is assigned, it should auto-assign to the person applying the label (if they're an or member), and (b) if the issue b

[2018-07-25 17:20] cblecker commented on #8811
@jberkus What about the use case where the person working on an issue isn't an org member? Difficult to assign. (we had the same thought around the help wanted label)

[2018-07-25 18:53] jberkus commented on #8811
An alternative for new contributors would be to assign the issue to a "mentor" in the appropriate SIG.  This would also show that there's some communication with the SIG.  @guineveresaenger, thoughts?

[2018-07-25 20:19] BenTheElder commented on #6462
/remove-lifecycle stale

[2018-07-25 21:02] BenTheElder commented on #7875
I'll keep this in mind. Working in this area.

[2018-07-25 21:56] paulangton opened #8831 "Identifying where ProwJob artifacts are uploaded"
Currently we generate Gubernator links from `job_url_template` in `config.yaml`. It is possible to parse these links and extract some upload information like Spyglass does (#8385), but it would be better to have some standardized metadata for extracting the artifact upload location of a ProwJob.

We could potentially create a new template for Spyglass links or attach artifact upload information di

[2018-07-25 21:59] cblecker commented on #8811
There's merits to that, but I wouldn't want to block a new contributor working on something based on mentor bandwidth.

[2018-07-25 23:11] spzala opened #8832 "Cherrypick lables name not consistant"
We have a  ```cherrypick-candidate``` and ```cherrypick-approved``` labels and then there is a ```cherry-pick-not-approved``` (i.e. ```do-not-merge/cherry-pick-not-approved```). Notice cherrypick vs cherry-pick. Some inconsistency here and it also makes it hard to search issues/labels related to cherry-pick in a single search.
@spiffxp @cblecker @parispittman - I was looking at some labels in rela

[2018-07-25 23:48] jberkus commented on #8811
@cblecker so, we have an issue, and it's been marked "lifecycle/active", it's in the milestone, and there's nobody assigned to it.

How are we supposed to figure out who's actually working on it?

[2018-07-25 23:59] neolit123 commented on #8811
right now what i'm doing is the moment i manually apply the label i also mention the github user who is working on the issue (e.g. `user-xx is working on this`). the last time i did that the github user was a non-k8s-org member.

[2018-07-26 02:16] stevekuznetsov commented on #8831
If we have access to the spec for the job, the pod utilities have helpers for the GCS paths:

https://github.com/kubernetes/test-infra/blob/795cceb4ce411fa43933fb6534c208a6d470e1ab/prow/pod-utils/gcs/target.go#L30-L44

[2018-07-26 06:42] matthyx opened #8838 "Improve test coverage of verify-owners"
Suggested in #8806
- add tests with patch to check review line number
- factor out the parse/generate `messageWithLine` logic and unit-test it

[2018-07-26 06:45] matthyx opened #8839 "Improve error parsing in github client"
Suggested in #8806
Avoid this kind of unmarshalling error:
`json: cannot unmarshal string into Go struct field ClientError.errors of type struct { Resource string "json:\"resource\""; Field string "json:\"field\""; Code string "json:\"code\""; Message string "json:\"message,omitempty\"" }`

[2018-07-26 14:35] ashleydavies opened #8841 "Prow's Deck is quite monolithic"
Currently, Deck offers a variety of function which may not be applicable to all deployments of Prow. For example, given how many plugins there are, there is a good use case in just deploying hook alone, and it would be nice to have a front-end for the plugin and command help without having to set up service accounts and have empty Tide/Prowjob related pages.

This was briefly discussed in https://

[2018-07-26 14:35] ashleydavies commented on #8841
/area prow

[2018-07-26 15:53] droslean opened #8843 "prow: Dynamically reload token in slack client."
Related to #8579

[2018-07-26 15:59] droslean opened #8844 "prow: Expose a secret getter closure for the secret agent."
related to #8579

[2018-07-26 16:00] droslean commented on #8844
/assign droslean

[2018-07-26 16:00] droslean commented on #8843
/assign droslean

[2018-07-26 17:41] stevekuznetsov commented on #8832
@kubernetes/sig-contributor-experience-bugs
/area prow
/kind bug

[2018-07-26 17:48] stevekuznetsov commented on #8839
/area prow
/kind enhancement

[2018-07-26 17:48] stevekuznetsov commented on #8839
/kind feature

[2018-07-26 18:14] spiffxp commented on #8832
TBH I'm inclined to not care if it involves adding more code to mungegithub.  But I agree we should make them consistent in whatever solution we use to replace the existing cherrypick/cherry-pick/🍒 process.

[2018-07-26 18:32] stevekuznetsov opened #8848 "prow: include namespace in build cluster spec"
We should have no problems scheduling to separate namespaces in the same cluster; k8s RBAC and other namespace isolation measures mean that as long as we are not creating cluster-scoped resources for tests (which we are not) we should be able to consider two namespaces on one cluster as separate clusters.

The `plank` controller currently loads the cluster configuration as a flag:

https://github.

[2018-07-26 18:32] stevekuznetsov commented on #8848
/cc @fejta @sipian

[2018-07-26 18:45] krasi-georgiev commented on #8848
Thanks @sipian and I will try to see if we can make this happen.

[2018-07-26 18:52] krasi-georgiev commented on #8848
If you can give us some pointers would be appreciated.

[2018-07-26 18:56] BenTheElder commented on #8848
For what purpose though? We're currently just using clusters as execution / worker pools, the main reason to have seperate pools is strong isolation of secrets and compute resources.

As long as we don't restrict the pod-spec definition test-pods are not really isolated.. if there's no cluster scoped resources then what is the motivation?

[2018-07-26 19:07] sipian commented on #8848
For our [automated-prometheus-benchmarking-tool](https://github.com/prometheus/Prombench), we have many namespaces running different Prometheus versions.
We want to create a prowjob that runs a pod in a particular namespace.
The pod will in-turn expose another end-point to Prometheus to scrape metrics from.

[2018-07-26 19:15] BenTheElder commented on #8848
SGTM

[2018-07-26 19:45] krasi-georgiev commented on #8848
in our case both jobs run in parallel and need to be isolated from each other

[2018-07-26 19:52] cjwagner commented on #8735
`review_acts_as_approve` is not enabled for k/community:
https://github.com/kubernetes/test-infra/blob/bc41683931b30662b4774d0cc0b18495ddf730f5/prow/plugins.yaml#L34-L74

[2018-07-26 20:09] jberkus commented on #8811
Can we mandate mention of a user by bot?

[2018-07-26 20:46] stevekuznetsov commented on #8811
So do you want to add labels to the _issue_ based on:
 - is there a linked PR fixing the issue?
 - does the linked PR have someone assigned to review it?
 - does the issue have the PR author assigned to it?
 - is the linked PR still active?

Sorry if I am not understanding the explanation but it is still a little confusing.

[2018-07-26 20:46] stevekuznetsov commented on #8848
@BenTheElder with RBAC, namespacing does give us strong isolation

[2018-07-26 20:47] stevekuznetsov commented on #8848
(nobody is stopping a cluster admin adding a serviceaccount that can read secrets at the cluster scope to the namespace that the pod is scheduled to, but by default there are no holes)

[2018-07-26 21:10] stevekuznetsov commented on #8841
/cc @fejta @cjwagner @BenTheElder @krzyzacy

[2018-07-26 21:10] stevekuznetsov commented on #7890
/remove-lifecycle stale

[2018-07-26 21:11] stevekuznetsov opened #8852 "prow: deck: expose currently configured jobs"
It would be cool if you could use a page on `deck` to look at the jobs configured for your repo, listed by branch or similar. Pointing people into a config directory tree is sometimes less than ideal.

/area prow
/kind feature
/cc @cjwagner @fejta

[2018-07-26 21:16] stevekuznetsov commented on #8485
@krzyzacy are you breaking this up into multiple pulls? Would be useful to track them here in a checklist

[2018-07-26 21:19] stevekuznetsov commented on #8796
Looks like we decided stickiness from external state was not worth it from a token point of view: https://github.com/kubernetes/test-infra/issues/1351

How is this different from having groups of tests and asking the user to `/test performance`, for instance? Would we want to surprise a user who happens to mention a keyword?

[2018-07-26 22:19] BenTheElder commented on #8852
related: there's a config endpoint that serves the entire serialized config but:
- a) that's huge, so to do this we should finally add filtering params to the endpoint
- b) serialized / loaded config doesn't match on disk-config.

[2018-07-26 22:22] BenTheElder commented on #8848
not with docker as the runtime at least, especially with privileged containers. RBAC / namespacing alone doesn't give strong isolation for prowjobs.

[2018-07-26 22:33] BenTheElder commented on #8811
The initial request here is just for a manual command to add an "active" label, instead of doing so with edit permissions through the github UI. The secondary ask is that perhaps the lifecycle bot should be aware of this, and remove it as the issue goes stale.

Imo, this is totally reasonable. If a repo wants to use this label they can search for the label etc., but the bot will manage removing it

[2018-07-26 23:09] neolit123 commented on #8811
@stevekuznetsov

for issues, someone is working on fixing this issue and a PR will be sent soon or was already sent. also
 indicates to everyone that this issue is _taken_.

for PRs, this is less useful.
a PR is supposed to be active once submitted (rebases, CI babysitting, code review attention, etc), which makes the usage of the label for PRs redundant but still valid - i.e. not incorrect even i

[2018-07-26 23:10] neolit123 commented on #8811
@jberkus

it could be a convenient extension.

[2018-07-26 23:20] tpepper commented on #8811
@neolit123 I think Steve meant not adding this label to PRs but rather does associated PR imply “active”?

[2018-07-26 23:39] neolit123 commented on #8811
@tpepper if there is an obvious PR that fixes and issue and both xref, then the issue `active` state is implied as PRs have an implied state of `active` until `stale`. :roller_coaster:

without the label:
- looking at the list of issues, there is no clear way of telling if someone is working on this (taken), even if there are assignees.
- even if you open the issue, a PR can be xref-ed but it coul

[2018-07-27 00:30] stevekuznetsov commented on #8848
Oh right y'all use privileged containers. Well yeah with those everything is wonky

[2018-07-27 00:34] stevekuznetsov commented on #8852
Can we grab a YAML viewer and jam that in a front-end? :)

Often the question is more to do with the jobs that are currently configured and running on a repo, for which we want to see what is loaded and not necessarily a broken on-disk config, so at least for the use cases I was thinking of this is OK.

[2018-07-27 00:37] michelle192837 commented on #3322
/remove-lifecycle rotten

Still a goal, not a priority atm since external is relatively fast to update.

[2018-07-27 00:40] BenTheElder commented on #8852
I mean ideally we don't ship bytes we aren't displaying...

Probably so, but it does mean there will be a mismatch if you go to update the config. It would also be nice if we could tag jobs with their source file while I'm dreaming :-)

[2018-07-27 00:43] BenTheElder commented on #8848
even without privileged, the container isolation isn't exactly bulletproof

On Thu, Jul 26, 2018 at 5:30 PM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-07-27 00:45] BenTheElder commented on #8848
and even if you don't use privileged currently, someone can write a job
that does use it, or one that has fun with hostpaths, or... Kubernetes
multi-tenant still needs work.

On Thu, Jul 26, 2018 at 5:42 PM Benjamin Elder <bentheelder@google.com>
wrote:

[2018-07-27 01:19] spiffxp opened #8861 "jobs: remove jobs that have been continuously failing for over N days"
I'm going to suggest N=120 for now.  I'd like to do this one more time as a human to learn what the right detection methods are for straight-up-failing vs. seriously flaky, how/when to reach people in case there are some brave souls out there who want to save these jobs, etc.

Next step would be to automate at least some portion of this.

ref: https://github.com/kubernetes/test-infra/issues/2528#i

[2018-07-27 01:19] spiffxp commented on #8861
/milestone 1.12
/assign
/area jobs

[2018-07-27 03:22] krzyzacy commented on #8485
@stevekuznetsov I'm sorta doing it sigs by sigs, I'll add a ref to this issue

[2018-07-27 08:16] kargakis opened #8862 "Support configuring different pod namespaces in plank"
Plank supports configuring multiple build clusters but all of them are using the [same namespace](https://github.com/kubernetes/test-infra/blob/cb687dcd868f7ccf1b3b8c71c77a7e47465478fa/prow/cmd/plank/main.go#L152) to run pods. We should support configuring the namespace so we can run pods in different namespaces inside the same cluster.

cc @stevekuznetsov @cjwagner

/area prow
/kind feature

[2018-07-27 09:58] krasi-georgiev commented on #8848
@sipian can you give a bit more details for our use case as it seems different than what is discussed so far.

[2018-07-27 14:30] stevekuznetsov commented on #8848
@BenTheElder right but those jobs would need to be approved. IIRC HostPath requires a specific SCC, etc. I am fairly certain at this point all of the multi-tenant stuff maybe except for default policy and admission control has been upstreamed and multi-tenant is pretty bulletproof AFAIK. How is container isolation leaky?

[2018-07-27 14:31] stevekuznetsov commented on #8862
dupe of #8848
/close

[2018-07-27 14:31] #8862 closed

[2018-07-27 14:49] kargakis commented on #8848
This has nothing to do with container runtime isolation, we need to take advantage of this combined with cluster rbac for other reasons (different teams owning different namespaces in our case).

[2018-07-27 14:51] #4761 closed

[2018-07-27 15:02] BenTheElder commented on #8848
This is perhaps not the best place for a detailed discussion on that, but the common container runtimes and current Kubernetes aren't really enough for hard multi-tenancy (soft sure, but not running arbitrary code and podspecs). For more see eg [1](https://www.twistlock.com/2017/12/27/escaping-docker-container-using-waitid-cve-2017-5123/), [2](https://blog.jessfraz.com/post/hard-multi-tenancy-in-k

[2018-07-27 17:39] stevekuznetsov commented on #8848
I think using namespaces to isolate and assuming there are no kernel or Kubernetes CVEs active that would root your cluster is valid ... isolation using Kubernetes namespaces gives you a huge amount of benefit as it means for two users to see each other's objects they go from needing to add `kubectl get` to their test script to needing to find and exploit a CVE. Kernel CVEs will always exist but w

[2018-07-27 17:48] BenTheElder commented on #8848
There were ~453 kernel CVEs last year.. (And there were CVEs for kube)

The initial post suggested that we did not have other resources in-cluster. I'd also suggest that tests really ought to not manage other resources in cluster.

That's not always true though, and I'd imagine many prow users would have secrets they'd rather not share between projects. The multiple cluster support actually came a

[2018-07-27 17:49] tpepper commented on #8811
Ah hadn't thought about the issue of unrelated PR.  Definitely then does NOT make sense to have PR xref auto trigger 'active' label addition.

[2018-07-27 18:00] spiffxp commented on #8811
Yeah I agree... maybe I spiraled us out of scope by raising the overlap.  I'm fine just moving forward with `/lifecycle active`, and altering the existing [periodic-test-infra-stale](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/test-infra/test-infra-periodics.yaml#L158) job.  Bikeshedding over enforcement is exactly where I don't want to go

[2018-07-27 18:55] cblecker commented on #8811
Opened #8865 :)

We can look at the `status/` class of labels later.

[2018-07-27 19:13] #8811 closed

[2018-07-27 19:39] BenTheElder commented on #8848
This is not quite true when you use seperate build clusters, because you can also restrict who is allowed to PR /ok-to-test. By seperating projects at worst a member / contributor of project A gets secrets only from project A's cluster. Versus with namespaces in the same cluster potentially they exploit all of the projects on that cluster. With different clusters you've _actually_ restricted the a

[2018-07-27 19:45] kargakis commented on #8848
Even with separate build clusters a contributor from project A can still open a PR in project B that fixes a legit issue, get an `/ok-to-test`, and subsequently change his PR with the exploit and push.

[2018-07-27 20:14] kargakis commented on #8848
Where I am getting at is that if all it takes to compromise the same data is one more PR, then the build cluster separation offers a false sense of security. Also the prow config is centralized so admins should do their due dilligence when managing a cluster with different kinds of secrets.

[2018-07-27 20:34] BenTheElder commented on #8848
I'm aware of this and consider it to be an open bug worth revisiting at some point. Suffice to say, we trust those who even have access to create a PR in some cases, so this point doesn't always matter. `/ok-to-test` behavior is definitely a footgun currently. We should document this as well.

Not with a different set of trusted users. (`/ok-to-test` misuse aside).

Again, only if you can't trust

[2018-07-27 20:38] kargakis commented on #8843
/area prow
/kind feature

[2018-07-27 20:39] kargakis commented on #8844
/area prow
/kind cleanup

[2018-07-27 21:46] stevekuznetsov commented on #8848
If you can trust `/ok-to-test` and trusted PR authors, you could just operate on goodwill, no?

[2018-07-27 22:00] BenTheElder commented on #8848
Within that project / cluster, but we also host other / larger communities on that Prow on another cluster under the same Prow services (which is an attractive option when we support executing in different locations). We do enforce which jobs run where as well.

[2018-07-28 03:53] #7046 closed

[2018-07-28 18:13] akutz opened #8876 "Testing and reporting out-of-tree unit tests"
In-tree providers that are moving (or have moved) out-of-tree may currently have unit tests that:

1. [Block PRs and releases](https://github.com/kubernetes/test-infra/blob/bc7d6af3a7f4b5f0eda8d844222842e079982077/prow/config.yaml#L1321-L1453) via the Prow job(s) `pull-kubernetes-bazel-test`
2. Are reported on the test-grid via [`presubmits-kubernetes-blocking`](https://github.com/kubernetes/test-

[2018-07-28 19:08] #6944 closed

[2018-07-28 19:50] kargakis opened #8877 "bad token header"
[code]
Likely caused by https://github.com/kubernetes/test-infra/pull/8579

/area prow
/kind bug

@stevekuznetsov @droslean

In the meantime I've rolled back the tide deployment (seems like it was the only one experiencing this issue).

[2018-07-28 20:00] kargakis commented on #8877
Seems like plank has the same issue so it's not just tide. Opened #8878

[2018-07-28 20:12] #8877 closed

[2018-07-28 22:04] kargakis opened #8880 "prow: deck: mislabeled PR due to optional failed test"
The following PR meets merge requirements but is labeled with `In Pool - Test failed / Missing labels` because of a failed optional test.

![issue](https://user-images.githubusercontent.com/3900799/43360944-d2d877d4-92c2-11e8-9dd2-6077410b4ce3.png)

/area prow
/kind bug

[2018-07-29 04:10] krzyzacy commented on #6446
@BenTheElder I thought you've added a recover call?
/remove-lifecycle stale

[2018-07-30 09:44] kargakis commented on #5296
/remove-lifecycle rotten
/reopen

[2018-07-30 09:45] kargakis commented on #5296
Maybe spyglass can also do this? @paulangton

[2018-07-30 16:41] #8844 closed

[2018-07-30 16:43] BenTheElder commented on #8880
ah yeah, we're going to need to figure out which statuses are optional now, when this was written tide required green for all IIRC.

/cc @cjwagner @amwat

[2018-07-30 16:43] stevekuznetsov commented on #6476
/remove-lifecycle stale

[2018-07-30 16:44] BenTheElder commented on #8861
This is an excellent issue. 👌
/woof

[2018-07-30 16:46] stevekuznetsov commented on #8880
We need to update that `in pool` message to queued for retest too

[2018-07-30 16:51] dims commented on #8861
`remove` means delete the job or just disable it? (leave it in the prow config, but disabled)

[2018-07-30 16:55] BenTheElder commented on #7901
/remove-lifecycle stale
@cjwagner @krzyzacy we still either need to reconfigure our build cluster(s) to fix this, or enhance prow to decorate `AutomountServiceAccountToken: false` ... we could maybe just default this field if it is unset in the prowjob spec so that only jobs that explicitly need it have it, and they clearly opt in.

If we go the modify-cluster-config route instead, we should proba

[2018-07-30 17:05] BenTheElder commented on #8861
I'd say remove from everything and use git history, or create a seperate dir for dead jobs. Trimming the config is also desirable, besides saving on runtime resources, and on testgrid at least it doesn't make sense to keep showing jobs we aren't running.

[2018-07-30 17:11] BenTheElder commented on #7901
Alternatively we can go the really fun route and figure out how to transplant boskos to a new cluster and finally get RBAC, and just make sure the guide covers this :D

That actually seems like the correct route going forward, but we'll need a good solution for migrating boskos in particular @krzyzacy

Perhaps we can have a brief planned outage at some point to migrate the build cluster + boskos?

[2018-07-30 17:39] timothysc commented on #8876
No, unit tests should be implemented and maintained by the provider.  The provider can surface issues to the release team via federated testing if it so desires.

[2018-07-30 17:41] BenTheElder commented on #7602
/remove-lifecycle stale

[2018-07-30 17:46] akutz commented on #8876
Hi @timothysc,

To be clear, you:

1. Agree with the above issue's assertion:

2. Disagree that out-of-tree unit tests should be visualized on the test-grid in any capacity

Did I understand you correctly?

[2018-07-30 19:42] BenTheElder opened #8886 "test-infra blocking presubmits should use stable image tags"
the lint presubmit at least is using :latest-experimental, which is currently broken. we should pin it to a stable image (and hold https://github.com/kubernetes/test-infra/pull/8874 while I fix the image...)

/area images
/area jobs
/kind bug
/assign
/assign @krzyzacy

[2018-07-30 20:29] spiffxp opened #8887 "milestone-maintainer: allow kind/failing-test as one of the required labels"
When updating release docs as part of https://github.com/kubernetes/community/issues/1579 we decided that kind/bug was no longer required for ci-signal filed issues.  It turns out we were wrong.  The milestone-maintainer munger expects one of kind/cleanup, kind/bug or kind/feature

The workaround would be to update docs and say kind/cleanup + kind/failing-test are required failing test issues.  Th

[2018-07-30 21:40] AishSundar commented on #8887
+1 on doing (a). Since the CI Signal handbook explicitly says we need either kind/flake or kind/failing-test, we should be good.

Can you let us know what are you planning update in the bug-triage and ephemera docs?

[2018-07-30 21:48] spiffxp commented on #8887
When I take a course of action I'll /hold PR's with links back to this issue, and wouldn't plan on merging docs PR's until the change had been deployed.

[2018-07-30 22:24] BenTheElder opened #8891 "updateconfig does not handle renamed files"
this should be an easy fix, but without it we do not update the config correctly...

[code]
/area prow
/kind bug

[2018-07-30 22:24] BenTheElder commented on #8891
/assign
/assign @krzyzacy
FYI @stevekuznetsov @cjwagner @amwat

[2018-07-30 22:26] BenTheElder opened #8892 "updateconfig should have a tool to force re-uploading the entire config"
I don't think we have this currently, this would help clean up after things like https://github.com/kubernetes/test-infra/issues/8891 where we did not update the config properly after https://github.com/kubernetes/test-infra/pull/888

[2018-07-30 22:26] BenTheElder commented on #8892
/area prow
/kind enhancement
/assign @krzyzacy
/cc @stevekuznetsov @amwat @cjwagner

[2018-07-30 23:27] BenTheElder commented on #8891
whee. I upgraded the prow cluster around the same time this was going on, not realizing that this would cause all of the components to crashloop when they couldn't load the new config on startup because of duplicate job keys...

[2018-07-30 23:28] BenTheElder commented on #8892
the job config configmap is large enough that this tool will need to delete and create it, it's larger than apply will allow

[2018-07-30 23:58] akutz opened #8894 "howto: Scheduling tests on a remote platform"
# Summary
This issue tracks the discussion of how to run tests on a remote platform.

# Use Cases
The use cases reference the vSphere in-tree and out-of-tree cloud providers, but the solution could possibly be helpful for people wanting to schedule test workloads on other platforms as well.

* Run e2e (feature, conformance, etc.) tests for the [in-tree](https://github.com/kubernetes/kubernetes/tre

[2018-07-31 00:07] #8891 closed

[2018-07-31 00:30] BenTheElder commented on #8886
hopefully this is fixed in #8889

[2018-07-31 00:30] #8886 closed

[2018-07-31 01:04] tpepper commented on #8876
Out of tree tests do need to be visible to the project in a consistent way.  I could concede unit tests not needing to be propagated up into the top level k8s test grid.  Tests of broader system interactions' testing (ie: integration, e2e, conformance) really should be visible.

But we're talking here just about running and reporting results first right?  Once that plumbing is in place, we can and

[2018-07-31 01:14] akutz commented on #8876
Hi @tpepper,

There are definitely two discussions, but I don’t think that in and of itself is a bad thing. Not sure where things took a left turn. So far everyone seems to agree with the original proposal:

1. Out of tree unit tests shouldn’t block k/k
2 Out of tree unit tests can still appear in test grid

[2018-07-31 01:53] tpepper commented on #8887
I agree on (a) being the near term way to go.

[2018-07-31 05:33] #8618 closed

[2018-07-31 05:35] krzyzacy commented on #8892
/shrug
I'll write a hack script that can delete/recreate the entire configmap

[2018-07-31 05:38] guineveresaenger commented on #8887
Agreeing with everyone, I look forward to not seeing these show up on my bug list

[2018-07-31 14:22] mborsz opened #8899 "https://go.k8s.io/triage stopped being refreshed on 7/6/2018"
https://go.k8s.io/triage seems to be stuck around 7/6/2018.

/cc @rmmh

[2018-07-31 14:37] stevekuznetsov commented on #8892
Yeah we have scripts to bootstrap stuff, but that is not ideal.

[2018-07-31 15:28] spiffxp commented on #8876
Some historical context:
- the dashboard names are just names and don't technically cause anything to happen
- all the dashboards under 'presubmits' used to be named 'presubmits-repo' for the kubernetes/repo that they corresponded to
- we split the k/k presubmits into blocking/non-blocking because we have so many, and some aren't blocking... I honestly don't know without digging deeper whether all

[2018-07-31 15:33] spiffxp commented on #8887
a) is going to require a redeploy of mungegithub

I will wait until we have a chance to [discuss milestone-maintainer's future](https://github.com/kubernetes/sig-release/issues/243) at today's sig-release meeting before deploying

[2018-07-31 15:42] akutz commented on #8876
Hi @spiffxp,

Thank you for such great feedback. FYI, I just opened #8900 to create a top-level test-grid category for VMware-related tests. I also wanted to invite you to participate in the [discussion](https://docs.google.com/document/d/1bW2WxS1tprXwC9VBFDcs8W5yh9MNytj8f73_7TGNNWM/edit?usp=sharing) regarding what to name a top-level category for VMware-related tests. We considered using `sig-xyz

[2018-07-31 15:44] akutz commented on #8876
Hi @spiffxp,

We used `presubmits-cloud-provider-vsphere-blocking` to be consistent with convention for other presubmit, blocking tests. Blocking in this case refers to the vSphere cloud provider repo, not k/k. Perhaps a new variation on blocking would be useful to distinguish between tests that block k/k and tests that block out-of-tree code on the test grid?

[2018-07-31 15:57] BenTheElder commented on #8876
The only reason we broke kubernetes into blocking and not-blocking is because there are a number of presubmits that don't block, and we (= test-infra maintainers) are more interested in checking up on the -blocking dashboard to make sure blocking presubmits aren't excessively failing.

The` release-.*-blocking` dashboards have some actual meaning (though in reality releases may block on more than

[2018-07-31 16:03] akutz commented on #8876
Hi @BenTheElder,

That makes sense and I had guessed as much. Your advice, if I understand it correctly, is to start without a blocking/nonblocking distinction and add it later only if necessary. I can appreciate that.

[2018-07-31 16:16] #7125 closed

[2018-07-31 17:03] #8843 closed

[2018-07-31 17:30] spiffxp commented on #8861
Horrible bash + jq to get me the list and links to testgrid
https://gist.github.com/spiffxp/1e3ff608a92e8bfc0091a0b2918a11c6

[2018-07-31 17:59] figo commented on #8876
The name `presubmits-cloud-provider-vsphere` lgtm, thanks

[2018-07-31 19:09] kargakis commented on #8645
I think it's fine tabling this until we have CRD defaulting.

[2018-07-31 21:15] BenTheElder commented on #7187
/assign @paulangton

[2018-07-31 22:50] spiffxp commented on #8887
So rather than (a), I'm going to recommend the previously unseen door (e), which is: disable the milestone-maintainer munger entirely, after discussing at today's sig-release meeting

https://github.com/kubernetes/sig-release/issues/243#issuecomment-409391292

This _also_ requires a redeploy of mungegithub, which isn't something I can do today.  Hopefully tomorrow.

[2018-08-01 00:26] michelle192837 commented on #3324
/remove-lifecycle rotten

[2018-08-01 02:32] BenTheElder commented on #7520
/remove-lifecycle rotten

[2018-08-01 16:26] spiffxp commented on #3324
/lifecycle frozen

[2018-08-01 19:31] paulangton opened #8910 "Spyglass needs to handle authenticated GCS buckets"
Spyglass currently uses an unauthenticated client (#8830) for accessing GCS buckets, which is fine for the time being because the buckets we use need to be public. In the future, we should allow the client to be configured with GCS credentials provided by the Prow user.

/area prow

[2018-08-01 19:41] BenTheElder commented on #8780
In theory after #8874 a job should be able to use sysv DinD + podutils relatively fine. I'll experiment with this or help someone port a job to it soonish. perhaps @MHBauer

[2018-08-01 21:02] MrHohn opened #8914 "Move sig-network jobs to config/jobs/kubernetes/sig-network"
Ref https://github.com/kubernetes/test-infra/pull/8851#issuecomment-409717866. Technically change to config.json is not allowed anymore so we should do this sooner than later.

/assign
cc @krzyzacy

[2018-08-01 23:53] spiffxp commented on #8899
🤔

The job responsible for updating triage was failing until ~2am this morning.  But it's working now?

https://prow.k8s.io/?type=periodic&job=ci-test-infra-triage

[2018-08-01 23:57] spiffxp commented on #8899
/close

[2018-08-01 23:57] #8899 closed

[2018-08-01 23:57] spiffxp commented on #8899
/area triage
/kind bug

[2018-08-01 23:58] spiffxp commented on #8899
/milestone 1.12

[2018-08-02 00:50] michelle192837 commented on #2364
Okay, I'm going to look into 1) updating that tooltip to say PST/PDT (as noted above), and per a suggestion from @neolit123, 2) look into a frontend option to display times according to the user's brower's timezone. (Probably as a toggle, at least to start).

[2018-08-02 00:56] cblecker opened #8919 "prow/sigmention: add support for committees and wgs"
The sig mention plugin that auto adds labels when a team is mentioned only works for sigs, but not working groups or committees. We should add support for these as well.

Relevant bits:
https://github.com/kubernetes/test-infra/blob/eb4e4bfcf7c083b96fde0420cdff5b0238d2c6db/prow/plugins/sigmention/sigmention.go#L112-L134
https://github.com/kubernetes/test-infra/blob/dd12621d6178838097847abf5842ad8d0

[2018-08-02 01:05] neolit123 commented on #2364
i think a toggle should be the ideal option here - e.g. "show local times"
and the non-local times should be UTC, which can be used in case folks need to talk about a certain tests across different TZs.

[2018-08-02 01:06] krzyzacy commented on #8914
there's config/jobs/kubernetes/kubernetes/sig-network

also you can choose to make subdirs like config/jobs/kubernetes/ingress for sub-repos

[2018-08-02 01:12] spiffxp commented on #6104
/close
Yeah, not a migration I'm going to be undertaking anytime soon. If someone else wants to, they're free to /reopen

[2018-08-02 01:12] #6104 closed

[2018-08-02 19:57] paulangton opened #8923 "Testing Spyglass' use of GCS XML API"
Spyglass uses the GCS XML API to list available artifacts for a given job because it is ~3x faster than the go `storage` client. [fake-gcs-server](https://github.com/fsouza/fake-gcs-server) does not handle the GCS XML API. and so cannot be used to test this functionality.

Possible solutions include upstreaming XML API handling for `fake-gcs-server`, or using a fake S3 server, since the GCS XML AP

[2018-08-03 17:32] stevekuznetsov commented on #8910
/kind feature

[2018-08-03 17:33] stevekuznetsov commented on #8910
I think this would necessarily land with some ACL check like asking for the user's OAuth logic so we can validate that they can see the repo for which they are requesting tests. Then, we can serve them artifacts from an authenticated bucket for that repo's jobs.

[2018-08-03 19:17] ahmetb opened #8937 "/area /kind commands are still effective in html comments <!-- and -->"
At https://github.com/knative/serving/issues/1797
the issue template shows users all /area and /kind commands, in a `` block

If users don't delete that, all labels are accidentally added.

Can prow detect and ignore whatever is in comment blocks?

[2018-08-03 19:30] BenTheElder commented on #8937
k/k's template puts these like:
[code]

Right now the commands are simple regexes against the comments like `(?mi)^/lgtm(?: no-issue)?\s*$`. Even just indenting the unwanted commands should work since we match on `^/command` typically.

Alternatively we can add prepreocessing to prow to match and eliminate HTML comment blocks from comments before matching comments. I'd favor just fixing the templa

[2018-08-03 19:31] krzyzacy opened #8939 "Plank: generate a shorter timestamp snowflake string without tot"
https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L509

this is too long to be stored as an int... second precision is probably enough? open for discussion

/area prow
/assign

cc @wonderfly @cjwagner @stevekuznetsov @BenTheElder

[2018-08-03 19:36] krzyzacy commented on #8939
@wonderfly is switching to store it as uint64 for now, probably should solve the issue

[2018-08-03 19:40] wonderfly commented on #8939
Yeah this is a problem better to be solved at downstream.

[2018-08-03 20:08] grantr commented on #8937
The purpose of the comment in the template is to hide `/area` commands and get a cleaner issue body. There's no need to make Prow ignore comments - currently we want Prow to *not* ignore comments!

The comments seem like they might cause more confusion (for issue creators and subsequent viewers) than the lack of command clutter is worth. @mattmoor WDYT about removing them from the template?

[2018-08-03 20:22] stevekuznetsov opened #8940 "prow: config-updater: new key previously missing configmap should not error"
Today if we set up a rule like:

[code]

When the `ConfigMap` does not already exist and there is nothing in the dir, then we make a PR to add a file to that dir, we fail to update a the `ConfigMap` when we should really just be creating it in the first place:

[code]

/area prow
/kind bug
/cc @cjwagner @BenTheElder @krzyzacy

[2018-08-03 20:31] #5823 closed

[2018-08-03 21:44] BenTheElder commented on #8939
this is an int64:

https://github.com/kubernetes/test-infra/blob/af23d941eb0b6d615d3a1360376827db5b3f678a/vendor/github.com/bwmarrin/snowflake/snowflake.go#L56

I don't think we should change this in prow.
/close

[2018-08-03 21:44] #8939 closed

[2018-08-03 22:46] ahmetb commented on #8937
I guess that makes sense. Feel free to close this.

[2018-08-03 23:15] #8937 closed

[2018-08-04 02:29] spiffxp commented on #8887
/close
I changed my mind about keeping this open for docs fixes.  If there are bugs or new doc updates that need to happen, I'll look for separate issues.  We disabled milestone-maintainer earlier today https://github.com/kubernetes/test-infra/pull/8909

[2018-08-04 02:29] #8887 closed

[2018-08-05 10:17] kargakis commented on #6144
/lifecycle frozen

[2018-08-05 21:45] krzyzacy commented on #8892
probably won't have much free cycles on this this quarter for the proper implementation...

/help
/unassign

[2018-08-05 21:46] krzyzacy commented on #8520
we have equivalent test cases in config/tests now, and we've got rid of config_sort, so
/close

[2018-08-05 21:46] #8520 closed

[2018-08-05 21:47] krzyzacy commented on #8485
@BenTheElder how do we wanna split presubmits? per-sig, or per-branch under a different subdir? (or we should solve the root issue to make them easier to configure? :-) )

[2018-08-05 21:47] krzyzacy commented on #8485
also probably cc @spiffxp @fejta @cjwagner @stevekuznetsov ^^ any preferences

[2018-08-05 21:48] BenTheElder commented on #8485
`config/jobs/kubernetes/kubernetes/sig-foo-presubmits.yaml` ?

[2018-08-05 21:51] krzyzacy commented on #8485
I feel like it will be easier for us to configure if we do `config/jobs/kubernetes/kubernetes/release-1.x-presubmits.yaml`, since this will become a job for test-infra lead in release cycles...

[2018-08-05 21:54] krzyzacy commented on #7741
/remove-lifecycle stale
missed that hook ?!

[2018-08-05 22:03] BenTheElder commented on #8485
Hmmm. I think these should be organized by sig still. We can grep for release-specific jobs or build some tooling to find them... other than when we go to set up a release these should be sorted by who owns them imho, and we should set up OWNERS

[2018-08-06 02:41] krzyzacy commented on #7187
☠️

[2018-08-06 02:41] #7187 closed

[2018-08-06 14:35] matthyx commented on #6353
I am taking that one... should the comment with tree hash be inserted and handled by lgtm plugin, or do you want another (new) one?
/assign
/remove-help

[2018-08-06 15:13] kargakis commented on #6353
I think putting this in the lgtm plugin makes sense. Another thing we should consider is tracking in a PR comment vs tracking in the cluster (eg. annotation on a prowjob - the only issue with prowjobs is that they get cleaned up).

[2018-08-06 17:27] paulangton opened #8954 "cowsay plugin for hook"
[code]
is a classic.
I'd like to also support the Unix `cowsay` command, which will take any following text and encapsulate it in a cow's speech bubble, like so:
[code]
[code]

/assign
/area prow

[2018-08-06 17:32] BenTheElder commented on #8954
Just be careful what if any templates we include :grimacing:
Also consider whalesay: https://github.com/docker/whalesay https://hub.docker.com/r/docker/whalesay/

[2018-08-06 17:37] krzyzacy commented on #8954
:-) `< /lgtm >` won't match the plugin regex though, it need to be start on its own line

[2018-08-06 18:13] #8342 closed

[2018-08-06 20:03] mattfarina commented on #6240
We'd wanted this for some Helm related projects. Since Helm has moved elsewhere I think we can close this unless someone else wants to open this back up and work on it.

/close

[2018-08-06 20:03] #6240 closed

[2018-08-06 21:05] spiffxp commented on #8485
We don't have a `jobs/kubernetes/kubernetes` why would we start for presubmits?  eg: `jobs/kubernetes/sig-foo/kubernetes-presubmits.yaml`?

[2018-08-06 21:09] krzyzacy commented on #8485
yeah I'll put them into `kubernetes/sig-foo/sig-foo-presubmits.yaml`

[2018-08-06 21:11] paulangton opened #8956 "Export Spyglass performance metrics"
Mentioned by @stevekuznetsov and @fejta in #8922, Spyglass logs some performance metrics (artifact retrieval time, time to generate view, time to load page, etc.) These metrics should be exported somewhere instead of logged. Possible solutions included Prometheus and Velodrome.

/area prow
/kind feature

[2018-08-06 22:00] BenTheElder commented on #8485
Hmm. Are sig-foo-presubmits only k/k? As long as they're seperate that's fine with me. I only said k/k in the path to avoid sig-foo-presubmits being a catch all across repos.

[2018-08-07 00:48] krzyzacy commented on #6655
/remove-lifecycle stale
@cjwagner is on this

[2018-08-07 09:14] matthyx commented on #8342
@nikhita you can safely start adding kubernetes/kubernetes specific labels to labels.yaml

[2018-08-07 09:48] nikhita commented on #8342
This is so cool! Thanks, @matthyx! :tada:

Will do, added to my todo list.

[2018-08-07 17:03] paulangton commented on #5296
I'll definitely put this in my list of spyglass things. After #8921 and #8922, making the view implementations better is priority uno
/assign

[2018-08-07 17:14] paulangton opened #8967 "Spyglass should allow viewers to specify their own Javascript"
Currently, the `viewers` API only allows viewers to insert HTML into the page. Any script tags included in this HTML will not be evaluated [for good reason](https://www.w3.org/TR/2008/WD-html5-20080610/dom.html#innerhtml0). If we want script tags to be evaluated, we need to expressly add an element to the DOM. We therefore need to allow the viewers to return two strings, one of HTML and one of Jav

[2018-08-07 17:57] krzyzacy commented on #8954
`/hold` matches the same thing, aka https://github.com/kubernetes/test-infra/blob/master/prow/plugins/hold/hold.go#L38

[2018-08-07 18:50] #6655 closed

[2018-08-07 20:30] krzyzacy opened #8970 "Spyglass view stretches too wide after expand"
aka https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-ubuntu1-k8sbeta-slow/1615/ and expand the skipped tests

/area prow
/assign @paulangton

[2018-08-07 21:54] BenTheElder commented on #5376
@cblecker do we still need this? If so we should probably clean it up for help-wanted

[2018-08-07 22:04] krzyzacy commented on #8910
/assign
I did the similar thing with gubernator (unfortunately with python), I'll poke at the go client when I have time

[2018-08-07 22:25] cblecker commented on #5376
Yeah, I think this a good candidate for `help wanted`.

/remove-lifecycle stale
/help

[2018-08-07 23:15] BenTheElder commented on #7614
I'm not seeing these currently Hopefully the build cluster refactors and some other tweaks reduced or eliminated this.

[2018-08-07 23:15] #7614 closed

[2018-08-08 01:08] #8914 closed

[2018-08-08 17:49] stevekuznetsov commented on #7944
@philhug if that's a real HMAC token you just posted you may want to rotate it.

[2018-08-08 18:27] #3633 closed

[2018-08-08 18:32] krzyzacy opened #8981 "Analytics for Prow"
I'm thinking of adding an optional flag in deck that takes in a js snipplet via a mounted secret, which can provide us some prow usage data and who clicked what.

We can bind the OSS prow to k8s-ci-robot, and transfer ownership of the bot account once we migrated to CNCF.

cc @stevekuznetsov @munnerz @sebastienvas (to see if this can help/bother you)

/area prow
cc @cjwagner

[2018-08-08 19:01] akutz commented on #7960
/remove-lifecycle stale

Hi @BenTheElder,

Is the OSS updater still the appropriate location to which to add support for non-GCS storage? Or has Spyglass superseded that? I was thinking of taking on the task of adding S3 support to the updater either directly or via the [Go Cloud Project](https://github.com/google/go-cloud).

[2018-08-08 19:15] BenTheElder commented on #7960
Spyglass is unrelated to testgrid. (they consume the same data but do different things, sypglass is targeted more at what gubernator job viewing does). I'll defer to @michelle192837 @fejta for testgrid.

[2018-08-08 20:41] amwat opened #8984 "PR dashboard should display all merge blocking factors"
Currently the PR dashboard only displays missing/required labels.
A PR may also be blocked for merge due to:
- [x] Merge blocking issues
- [x] Merge conflicts
- [ ] Invalid milestone

The PR dashboard should have a way to display these as well.

[2018-08-08 20:42] amwat commented on #8984
/assign
/cc @cjwagner @BenTheElder

[2018-08-08 20:44] BenTheElder commented on #8984
/area prow

[2018-08-08 20:49] mithrav commented on #8981
Can we use Stackdriver/Prometheus in some fashion?

[2018-08-08 20:51] krzyzacy commented on #8981
@mithrav we should use Prometheus for prow metrics, analytics is mostly for web traffic I think?

[2018-08-08 21:43] stevekuznetsov commented on #8981
Is there a more fleshed out design doc that focuses on what questions we are trying to answer, etc?

[2018-08-08 21:46] mithrav commented on #8981
ok cool

[2018-08-08 21:47] krzyzacy commented on #8981
@stevekuznetsov I don't have a design doc, I'm simply interested in seeing how many people have clicked into deck and which page they visit. I can bring it up in the next sig-testing meeting.

[2018-08-08 22:17] saad-ali opened #8989 "Request for automation for kubernetes-csi org"
We would like to have k8s-bot automation enabled on the https://github.com/kubernetes-csi repo so that we can get the same automation commands/requirements for merge as kubernetes/kubernetes or kubernetes/kubernetes-sigs (e.g. /approve from approvers to merge, etc.).

/assign @spiffxp

[2018-08-09 01:00] BenTheElder commented on #7947
We switched to `container_image`, in theory this should be fixed now, but we'll need to try actually using them in some job to verify for sure :upside_down_face:

[2018-08-09 01:17] fejta commented on #7947
The reason this didn't work but also didn't fail is because:
* go_image accepts `**kwargs` so you won't get a compile-time error
* go_image doesn't plumb the directory parameter into its app_layer call:

https://github.com/bazelbuild/rules_docker/blob/26e5ff9a6dc292452de518e2393afe6b80f2d390/go/image.bzl#L91-L100

Fixing this in rules_go is the better solution here

[2018-08-09 01:17] fejta commented on #7947
/reopen

[2018-08-09 01:40] BenTheElder commented on #7947
@fejta we do not want the runfiles to be in the image, using `container_image` guarantees we _just_ take the binary and place it in an image at an expected location. The other functionality of `go_image` doesn't make sense here, except maybe using their base image, but we don't even do that.

[2018-08-09 04:23] BenTheElder opened #8998 "approve cancel does not work"
https://prow.k8s.io/command-help#approve lists `/approve [no-issue|cancel]` but this does not seem to work. https://github.com/kubernetes/test-infra/pull/8807#issuecomment-411631416

/kind bug
/area prow
/cc @krzyzacy

[2018-08-09 04:25] krzyzacy commented on #8998
https://github.com/kubernetes/test-infra/blob/master/prow/plugins/approve/approve.go#L563

I think this is some sort of WAI since we will require multiple approvals?

[2018-08-09 04:29] BenTheElder commented on #8998
Hmm I guess so. I guess approvers can /hold? ... hmmm

[2018-08-09 18:01] BenTheElder commented on #8009
not seeing this anymore
/close

[2018-08-09 18:01] #8009 closed

[2018-08-09 22:12] spiffxp opened #9001 "Tide isn't merging PRs due to GitHub search queries returning incorrect results"
/kind bug
/area prow

This seems to be an issue with GitHub and not with tide because we've been getting reports of this across OpenShift, Kubernetes and Jetstack tide deployments.

It's happening across multiple repos regardless of what CI or merge criteria they use.

Reasons tide gives for not merging range for "not mergeable" to "some-job failed" even when all status contexts show green.

examp

[2018-08-09 22:15] spiffxp commented on #9001
eg: [`is:open is:pr repo:kubernetes/community label:approved label:"cncf-cla: yes"`](https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+repo%3Akubernetes%2Fcommunity+label%3Aapproved+label%3A%22cncf-cla%3A+yes%22+) doesn't return https://github.com/kubernetes/community/pull/2502 which has all of those labels

[2018-08-09 22:26] MHBauer commented on #9001
I think we have this too, for service-catalog, from the collapsed "merge requirements" section which has a link for all the github searches. [giant github link](https://github.com/search?utf8=%E2%9C%93&q=is%3Apr%20state%3Aopen%20repo%3A%22kubernetes-incubator%2Fservice-catalog%22%20label%3A%22lgtm%22%20label%3A%22approved%22%20label%3A%22cncf-cla%3A%20yes%22%20-label%3A%22do-not-merge%2Fhold%22%20

[2018-08-09 22:26] spiffxp commented on #9001
another example
- https://github.com/kubernetes-sigs/federation-v2/pull/196 has lgtm, approved
- [`is:open is:pr repo:kubernetes-sigs/federation-v2 label:lgtm label:approved `](https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+repo%3Akubernetes-sigs%2Ffederation-v2+label%3Algtm+label%3Aapproved) shows no PR's

[2018-08-09 23:10] cjwagner commented on #9001
Here's one that @krzyzacy found.
This search contains merged and closed PRs even though `is:open` is specified:
https://github.com/pulls?q=is%3Apr+assignee%3Akrzyzacy+archived%3Afalse+is%3Aopen

That shows that the results can include incorrect results in addition to just missing valid results. Thats a lot more concerning because that could allow Tide to consider a PR mergeable when it isn't.  We

[2018-08-09 23:12] cjwagner commented on #9001
Here is the original example from the Jetstack org.
This query:
https://github.com/jetstack/cert-manager/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+label%3Aapproved+label%3Algtm

should contain both of these PRs:
https://github.com/jetstack/cert-manager/pull/807
https://github.com/jetstack/cert-manager/pull/805

[2018-08-09 23:14] BenTheElder commented on #9001
:+1:, if we're seeing PRs incorrectly included we should probably shut down tide. It's worrying though that we have no communication from github that this is known, so we won't know when it is fixed for sure either...

[2018-08-09 23:15] BenTheElder commented on #9001
https://status.github.com/messages has nothing for this still, have we gotten any response to support emails?

[2018-08-09 23:19] mattmoor opened #9003 "Prow should consider `.gitattributes` when assigning size labels."
e.g. if codegen produces a lot of code, which is hidden in Github reviews by .gitattributes, then the change may be small.

[2018-08-09 23:19] cjwagner commented on #9001
No response to my support request, but I only sent it 45 mins ago.

@munnerz sent one this morning and also contacted directly by email.

[2018-08-09 23:42] BenTheElder commented on #9003
/area prow
/kind enhancement
cc @stevekuznetsov @cjwagner

[2018-08-09 23:43] BenTheElder commented on #9003
the size label logic has something like this hardcoded in, using .gitattributes instead could be nice :smile:

[2018-08-09 23:46] BenTheElder commented on #9001
@munnerz since CCed us on his thread from this morning, they are looking into it, but there's not anything public to track. We could probably shut down tide for now and follow up on @spiffxp's email informing everyone until things settle.

[2018-08-09 23:51] cjwagner commented on #9003
We should do this for vendored code too.

[2018-08-09 23:52] philips commented on #9001
Has anyone reached out to the [CNCF Help Desk](https://github.com/cncf/servicedesk). They might have an existing relationship with Github.

[2018-08-09 23:53] TwP commented on #9001
:wave: GitHub search engineer here. I've dug through our code and identified the reason that these issues are not showing up in the search results. I'm able to reproduce the bug with three lines of ruby, and the correct team is looking at how to resolve the issue.

A fix will be forthcoming "soon" (sorry for the nebulous software engineer answer there). I'll drop a note on this issue when things a

[2018-08-09 23:53] cblecker commented on #9001
Thanks @TwP!

[2018-08-09 23:54] BenTheElder commented on #9001
Thank you @TwP !

[2018-08-10 00:28] blatayue commented on #9003
Is using a .generated_files config too much to ask? Or we should just want more configurability options?

[2018-08-10 00:55] cblecker commented on #9001
Note for our internal followup: the commenter (@fejta-bot) is being disabled as it wasn't able to search correctly and was spamming at least one issue.

[2018-08-10 01:45] stevekuznetsov commented on #9001
@TwP will the status.github.com page be updated to reflect this regression in the search API? Other consumers should be made aware.

[2018-08-10 02:17] TwP commented on #9001
First of all I want to give a big "thank you" to @spiffxp for including the example searches in this issue. That made the process of tracking down the root cause much much quicker :bowing_man:

The root issue here was the code that transforms markdown into plain text format. We use the CommonMarker ruby gem to strip markdown syntax from comments, issues bodies, pull request bodies, etc. while cons

[2018-08-10 02:55] cjwagner commented on #9001
I bumped the PRs listed in this thread and they were discovered by our merge automation 🎉

Thanks for your help @TwP!

[2018-08-10 02:55] #9001 closed

[2018-08-10 05:00] liggitt commented on #9001
the *real* reason for reactions surfaces at last ;-)

[2018-08-10 05:08] BenTheElder commented on #9001
@TwP Thank you for your help and the detailed explanation!

[2018-08-10 10:25] munnerz commented on #8981
I think this would be interesting data to collect, although definitely not critical.

It *could* help expose pages that users get 'lost' in (i.e. through the 'user flow' page in Google Analytics). I think there are probably some areas that are not-so-obvious.

This will become even more useful once Prow also serves up job logs etc., as I think there's a lot to be desired in the current gubernator

[2018-08-10 14:04] matthyx commented on #6353
How about using a [status](https://developer.github.com/v3/repos/statuses/#create-a-status) to remember the `lgtm` status of a particular sha?
We could create something like that:
[code]
Then in `handlePullRequest()` we can check if there is already a `success` status in the context of `lgtm` for the current sha. It will also remember **all** sha that have been LGTM in case the contributor wants t

[2018-08-10 14:29] matthyx commented on #6353
Ok, thanks for the feedback, I will try to put something together this weekend (if it rains) or next week during my usual lunch break coding sessions :metal:

[2018-08-10 14:53] stevekuznetsov commented on #9003
/kind feature
/help

The `size` plugin adds labels like `size/S` to pull requests when they are updated. Today, it loads the `.generated_files` configuration for the repo in order to determine which files should be considered:

https://github.com/kubernetes/test-infra/blob/8faa040989cf8552683dcdd4400505ca62a3c408/prow/plugins/size/size.go#L91

https://github.com/kubernetes/test-infra/blob/8faa0409

[2018-08-10 16:29] spiffxp opened #9007 "Replace path-label munger with appropriate OWNERS files"
The only repo that's using it is k/k.  We have support for equivalent functionality in OWNERS files.  I'm not sure all of these are relevant anymore.

[code]

ref: https://github.com/kubernetes/test-infra/pull/8990

[2018-08-10 16:37] spiffxp commented on #5333
Since I'm working https://github.com/kubernetes/test-infra/issues/9007

I'm going to update owners docs to include:
- filters
- required_reviewers

I've long stopped considering the docs here as the "owners" docs, and instead point people to https://go.k8s.io/owners where possible.  The reason I've avoided touching these is they elaborate on the approvers algorithm.

@kargakis @cjwagner I'd rather

[2018-08-10 16:38] spiffxp commented on #7690
/lifecycle frozen
Also a note to self: this is the issue to link when describing why OWNERS regex filters don't work for approvers

[2018-08-10 16:40] spiffxp commented on #8275
Could this be implemented via OWNERS files with labels?

[2018-08-10 16:49] kargakis commented on #5333
On top of those questions, it would be nice to document how prow can be
configured to use OWNERS.

On Fri, Aug 10, 2018, 18:37 Aaron Crickenberger <notifications@github.com>
wrote:

[2018-08-10 17:02] BenTheElder commented on #8275
I think so, but the tide end still needs to exist for it to be useful outside of k/k running the submit-queue still.

[2018-08-10 17:27] krzyzacy commented on #8981
@munnerz yup, that's coming up soon (https://github.com/kubernetes/test-infra/pull/8921)

[2018-08-10 17:39] thockin commented on #6353
Note the original use case - to detect noop squashes.  It has to be the
tree hash, not the last commit or similar.

On Fri, Aug 10, 2018, 7:29 AM Matthias Bertschy <notifications@github.com>
wrote:

[2018-08-10 17:56] BenTheElder commented on #7947
@fejta if we do this we should consider using `symlinks = {'/binary: '/prow/cmd/binary/binary'}` instead of `directory`. then the entrypoint magic will still WAI from bazel's end but the decorated entrypoints of `/binary` should still work.
This would require updating the `$lang_rules` as well though. I did take a quick stab at this before using `container_image`.

[2018-08-10 18:26] cblecker commented on #7332
/remove-lifecycle rotten

[2018-08-10 18:30] cblecker commented on #7690
Is there clear enough direction here for this to be `help wanted`, @cjwagner?

[2018-08-10 18:32] cjwagner commented on #8981
I think it would also be useful as a way to measure how much the different pages of Deck are actually being used.
I think that right now, most PR authors never go to Deck and might not even know it exists. As Tide spreads to more repos and the PR dashboard become more usable that will probably change. It would be helpful to measure how many people are actually using the front ends we are providing

[2018-08-10 18:36] cjwagner commented on #7690
Definitely not. It is unclear how approver suggestions and the list of files that still need approval should work with regexp filtering.

[2018-08-10 19:07] matthyx commented on #6353
Hmm, right @thockin, I even saw your question on stack overflow.
I will see if I could store the tree hash in the description and use aggregated status to retrieve it... I would like to avoid using an API token to read all comments and parse them (although I don't know if I don't require one to make the status call... @cjwagner?)

[2018-08-10 19:34] stevekuznetsov commented on #6353
You'd need a token to see status and/or comments, either way. We don't currently have an in-memory or in-cluster store for the PR state (and don't want to build one) so this feature would necessarily require an API token. However, we would only need to use it if we see a PR update for a PR that has an LGTM label already, so I think it should be a minimal impact and a lot of good UX.

[2018-08-10 19:59] spiffxp commented on #9007
**I'm proposing we drop / don't bother re-implementing the following**

These directories no longer exist in kubernetes/kubernetes:
[code]

These two directories exist, but I can't find any documentation which references the `kind/old-docs` label in kubernetes/community or kubernetes/website, nor any automation.
[code]

[2018-08-10 20:32] cjwagner commented on #6353
I don't think we should use a status context for this.
- It still uses an API token.
- It ties info to a specific SHA, not the PR as a whole and we are checking if the tree has stays the same, not the SHA. When the PR is updated, you would have to know the previous SHA in order to look up the old status.
- This will clutter PRs even more than they already are. The `lgtm` label is already used to d

[2018-08-10 20:33] spiffxp commented on #9007
/sig contributor-experience
/sig docs
For opinions on dropping the use of `kind/old-docs`

[2018-08-10 20:43] matthyx commented on #6353
Ok, agreed... my mistake, after reading a lot, I have mixed up commit hash and tree hash.
I will then put/remove comments as initially intended.
Thanks for all your inputs!

[2018-08-10 20:50] cjwagner commented on #6353
Commenting every time `/lgtm` is posted will generate a ton of comment spam.
We should get community approval before going forward with this if we are going to store the tree hash on the PR in any way that triggers an email update to users who are following the PR.

@cblecker What do you think about this?

[2018-08-10 20:58] grantr opened #9012 "Plugin that blocks automerge without /merge command"
I'd like a plugin that can block Tide's auto-merge until a `/merge` command is issued. If this seems like a useful addition, I'm happy to start work on it.

The expected workflow for this plugin would be:

1. Contributor creates PR
2. PR gets approved, lgtm, etc labels from reviewers
3. Contributor issues `/merge` to have Tide do the merge

This allows the PR workflow to more closely resemble the

[2018-08-10 21:07] spiffxp commented on #9007
Chatted in #sig-docs and consensus on `kind/old-docs` is
![](https://az616578.vo.msecnd.net/files/2016/12/16/6361747716311990411250243669_6361745408002224221362445255_tumblr_ogpb4tEPKH1twi2hjo3_400.gif)

[2018-08-10 21:16] cjwagner commented on #9012
This is something we've discussed and would like to have. Once the command plugin framework merges (https://github.com/kubernetes/test-infra/pull/8131) this can be added very easily.

[2018-08-10 21:40] cjwagner commented on #5333
Yeah I think we ultimately should have:
- What OWNERS files can be used for.
- How to configure them.
- Brief overview of behavior.

[2018-08-10 22:16] stevekuznetsov commented on #5333
Is this also the sort of doc we want to serve from `deck`? Could make it interactive with loaded config, keep it local and up to date, make it relevant for all deployments.

[2018-08-10 22:40] spiffxp commented on #9007
Verified the OWNERS file is working as expect https://github.com/kubernetes/kubernetes/pull/67282

[2018-08-10 22:59] spiffxp commented on #8275
Upon further reflection I don't think it could.  This sort of label can only be applied if _all_ files match the regex(es).  The owners-label approach would put on a label if _any_ file matched.  And yes, this isn't supported by tide.

[2018-08-10 23:08] grantr commented on #9012
The major difference is that with `/hold`, the PR is by default not blocked. With `/merge`, the PR is by default blocked.

Minor difference is that anyone can issue a hold command, but only collaborators can issue a merge command.

[2018-08-10 23:09] cjwagner opened #9017 "Queue health utility is crash looping."
[code]

The error is coming from the `grapher` container:
[code]

/kind bug
/area mungegithub
/assign @fejta

[2018-08-10 23:11] BenTheElder commented on #9017
:laughing: this is fine

[2018-08-10 23:28] paulangton opened #9019 "RWMutex for viewers"
We should use a RWMutex for the Spyglass `viewers` API when they end up supporting remote viewers, as referenced by @fejta in #8921:

/kind feature
/area prow
/assign

[2018-08-10 23:37] spiffxp commented on #8989
@saad-ali opened https://github.com/kubernetes/test-infra/pull/9014 PTAL

[2018-08-10 23:45] stevekuznetsov commented on #6353
The UX is undeniably a good thing, approver churn for rebasing is annoying. We either invent somewhere to store this state in the Prow cluster or we add it to the GitHub PR.

[2018-08-10 23:45] stevekuznetsov commented on #6353
(if we want to pursue it)

[2018-08-10 23:55] BenTheElder commented on #6353
Prow: CRD? turn sinker on it to make sure they don't get out of hand? That or start using a DB...
GitHub PR: `tree-hash: <hash>` in a label? /shrug (only half serious...)

[2018-08-11 00:11] paulangton opened #9020 "Better test coverage for Spyglass"
We should have better unit test coverage for Spyglass, known methods that need it are:
- `spyglass.Refresh`

/area prow
/assign

[2018-08-11 00:18] #5928 closed

[2018-08-11 07:37] kargakis commented on #6353
Label is another option

On Sat, Aug 11, 2018, 01:55 Benjamin Elder <notifications@github.com> wrote:

[2018-08-12 18:44] parispittman commented on #9001
@TwP - how can I get some k8s swag to you for being super helpful?

[2018-08-13 11:05] shyamjvs commented on #8594
/unassign
/assign @krzyzacy
Who has been working on this.

[2018-08-13 13:47] aojea commented on #8602
@fejta can this issue be closed?

[2018-08-13 15:23] spiffxp opened #9025 "The triage dashboard is hanging while filtering on tests"
[First reported by @liggitt in #sig-testing 2018-08-10](https://kubernetes.slack.com/archives/C09QZ4DQB/p1533918240000403)

Some queries filter down fine, others appear to hang.  This has been demonstrated across browsers (Chrome, FF, Safari).  @BenTheElder has been looking into it with not much luck thus far

We are unsure if this is related to the triage job mysteriously repairing itself earlier

[2018-08-13 22:06] spiffxp commented on #8989
Need to add a prow webhook to kubernetes-csi before #9014 will take effect

[2018-08-13 23:08] spiffxp commented on #8989
Automation is up

[Notification in #wg-csi in slack](https://kubernetes.slack.com/archives/C8EJ01Z46/p1534195362000073)

[Notification in kubernetes-sig-storage-wg-csi@](https://groups.google.com/forum/#!topic/kubernetes-sig-storage-wg-csi/vbEPpKL0hYM)

I will leave this issue open for a little bit in case anything pops up today, but all has been quiet so far.

[2018-08-14 00:26] krzyzacy commented on #5316
opened https://github.com/kubernetes/sig-release/pull/255 which covers this issue

[2018-08-14 16:48] spiffxp commented on #5543
/close
The release team decided to shut the bot off (ref: https://github.com/kubernetes/sig-release/issues/243), and is revisiting its use of the status labels (ref: https://github.com/kubernetes/sig-release/pull/239#issuecomment-412697985)

[2018-08-14 16:48] #5543 closed

[2018-08-14 16:50] spiffxp commented on #6227
/lifecycle frozen
Yeah I'll update this at some point, need to include all repos across all orgs.

[2018-08-14 16:51] spiffxp commented on #6227
Related, I'm making sure all repos have OWNERS files, which sets the stage for them to use /approve (and thus tide) https://github.com/kubernetes/community/issues/1721

[2018-08-14 16:53] spiffxp commented on #6227
Related, I'm making sure all repos live inside of sigs.yaml in one for or another.  I anticipate this can help us head towards a sig-driven peribolos config https://github.com/kubernetes/community/issues/2464

[2018-08-14 16:55] stevekuznetsov commented on #6227
`tide` doesn't require `/approve` FWIW, do all repos need it?

[2018-08-14 18:27] spiffxp commented on #6227
True, I guess the reason I use it as a precondition is that any org member can `/lgtm`, while the use of `/approve` ensures there aren't drive-by merges

[2018-08-14 18:27] TwP commented on #9001
@parispittman thank you for the kind offer. I am all set on swag at the moment. Helping out teams is the fun part of the job, and it was a enjoyable little bug to hunt down.

[2018-08-14 18:38] stevekuznetsov commented on #6590
/assign

[2018-08-14 18:40] stevekuznetsov commented on #6590
Talked with Ben on Slack, we want a command line tool that will take as input:
 - Prow config (infra file + job dir)
 - job name
 - local directories holding code under test

This tool should spit out a `docker run` command for the user to use (or do we want to use the Docker client library to just spawn the container and tail logs?)

/cc @BenTheElder

[2018-08-14 18:46] BenTheElder commented on #6590
@stevekuznetsov even just exec'ing to docker is probably fine, with a `--dry-run` mode to print instead?

The client libraries so far haven't really been more stable than the CLI, and being able to print out the exec call is helpful for debugging. That said the client libs are already vendored for `barnacle` since it can rely on the docker version underneath it.

[2018-08-14 21:49] akutz opened #9044 "kubetest --extract ci/latest fails on macOS (darwin)"
The command `kubetest --extract ci/latest` failed on macOS (darwin) for reasons that appear to be related to the absence of posted client bits for `darwin/amd64`. I don't actually need those bits -- I am just trying to work out a workflow. I'd like to be able to use my desktop for testing. Is there a way to override the client bits? Here's the log:

[code]

[2018-08-14 21:51] akutz commented on #9044
cc @fejta per @krzyzacy's instruction. FWIW, I already tried using `KUBERNETES_CLIENT_ARCH=linux/amd64` to match the log's instruction for overriding the server arch, but that didn't work.

[2018-08-15 14:52] stevekuznetsov commented on #8649
ping @fejta @cblecker

[2018-08-15 17:28] cblecker commented on #8649
This is waiting on me to review https://github.com/kubernetes/org/pull/8

[2018-08-15 17:54] filmil opened #9055 "view_build.py crashes when junit.xml does not have 'time' attribute"
Crashes here: https://github.com/kubernetes/test-infra/blame/master/gubernator/view_build.py#L53

with:
[code]

Not sure whether the `time` attribute is required or not.  XSD says it is: https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd
but if you search teh Internets, you will see that many example `junit.xml` don't have it, for example here: https://stackoverflow.com/questions/4922

[2018-08-15 17:57] krzyzacy opened #9056 "tot_test takes ~50s to finish?"
[code]

https://github.com/kubernetes/test-infra/blob/master/prow/pjutil/tot.go#L74 looks like it's doing real sleep in the test?

/area prow
cc @stevekuznetsov

[2018-08-15 18:19] ant31 opened #9059 "Add github automations to Kubespray"
Hi.

Some bots and automation for the https://github.com/kubernetes-incubator/kubespray project could be useful.
What are the steps to add them and what modification are required (owner file + protected branch ?)

[2018-08-15 18:19] ant31 commented on #9059
/assign @spiffxp

[2018-08-15 18:35] #9055 closed

[2018-08-15 18:58] hh opened #9060 "Add audit logging / policy to kubetest + dind"
Audit logging is quite useful.

kubetest dind / calls kubeadm without an audit-policy or logging in place.

I would like to enable kubetest / dind / audit-logging.

[2018-08-15 18:59] hh commented on #9060
Thanks for your help @Katharine !

[2018-08-15 19:32] BenTheElder commented on #9055
Yes, thanks @krzyzacy !

Er right, but for Kubernetes etc we control most of the test output anyhow, and we can introduce an adapter between formats. Everyone sticking to an underspecified XML format because we sort of support it is not great. Go for example has multiple outputs of its own and no junit, some of our tests parse shell output to produce horrible junit :-)

Ideally if such a format ex

[2018-08-15 19:45] ixdy commented on #9055
JUnit doesn't have an official spec, no, but lots of tools support it, so I think it's a reasonable common format.

The best reference I've found is http://llg.cubic.org/docs/junit/, which does indeed list `time` as an optional field. :)

[2018-08-15 19:48] spiffxp commented on #9059
/sig contributor-experience
ref: https://github.com/kubernetes/test-infra/issues/6227
I will get to this a bit later, and ping in slack if I have direct asks

[2018-08-15 19:48] filmil commented on #9055
That one in particular I find confusing, since it doesn't say that `time` is an optional attribute on `<testsuites>`. In contrast to `time` on `testcase`, where it says "optional". And yet, it's defacto optional on `<testsuites>` too. I guess that's what you get for not having a spec.

[2018-08-15 19:49] ixdy commented on #9055
well, it marks it as optional in the XSD below that.
/shrug

[2018-08-15 19:50] BenTheElder commented on #9055
Agreed, and we use it heavily to good effect. Someday it might be nice to move a few things over to a better defined format though. With spyglass we can easily support more than one, and I'm sure we can extend testgrid as needed, especially once it's OSS :-)

[2018-08-15 20:45] michelle192837 commented on #2364
Bleh, it's been a while. Some stuff (like a cold and some other work) hit, but I want to get a look at this by Friday if it's an easy-enough change.

[2018-08-15 20:57] stevekuznetsov commented on #9056
I swear I made an issue for this when I migrated those tests. Gotta love "unit" tests that start an HTTP server and communicate with it ...

[2018-08-15 20:58] stevekuznetsov commented on #9056
/area tech-debt
/shrug
/meow space

[2018-08-15 20:58] stevekuznetsov commented on #9056
Not exactly what I was looking for but thanks @k8s-ci-robot

[2018-08-15 21:17] BenTheElder commented on #9060
ref: https://github.com/kubernetes/test-infra/pull/9061

[2018-08-15 22:36] cjwagner opened #9064 "Dummy Issue: Test Tide's handling of merge blocking issues. branch: master"
Testing merge blocking issues.
I'll need a PR in from this repo to become mergeable in order to check everything.

[2018-08-15 22:52] #9064 closed

[2018-08-15 22:53] cjwagner commented on #9064
Seemed to work well.

[2018-08-16 00:12] #9025 closed

[2018-08-16 01:17] #5434 closed

[2018-08-16 10:34] shyamjvs opened #9075 "Move scalability presubmits to separate file"
Following https://github.com/kubernetes/test-infra/pull/8953.

/cc @kubernetes/sig-scalability-misc
/assign @krzyzacy

[2018-08-16 18:35] stevekuznetsov opened #9078 "prow: deck: allow links that open single plugin description modals"
I would love to be able to link to a specific plugin help entry in docs, etc.

/area prow
/area prow/deck
/kind feature
/cc @spiffxp @BenTheElder @amwat

[2018-08-16 19:01] amwat commented on #8300
/cc @Katharine

[2018-08-16 19:29] stevekuznetsov opened #9079 "prow: deck: serve doc for configuration options for plugins"
Would be awesome to be able to serve doc from the `deck` plugin catalog for the YAML configuration that each plugin accepts.

/area prow
/area prow/deck
/kind documentation
/cc @cjwagner @BenTheElder @fejta

[2018-08-16 22:01] cjwagner commented on #9079
This would be a nice addition. PluginHelp already includes details about the current configuration so it makes sense to extend that to describe the configuration options more generally and potentially provide example YAML snippets.

We should consider providing a link to the `config.yaml` source for the instance so that it is obvious which file holds the config for the Prow instance.

[2018-08-16 22:16] stevekuznetsov commented on #9079
+100

[2018-08-17 01:30] spiffxp commented on #9078
Agree

We've got https://prow.k8s.io/command-help#assign, it'd be nice to have https://prow.k8s.io/plugins#assign (for bonus bikeshedding it would be nice to have https://prow.k8s.io/commands#assign)

[2018-08-17 18:29] hh commented on #9060
This is the workflow I'm currently using

[code]

[2018-08-17 18:34] hh commented on #9060
@Katharine you may find this useful

[2018-08-18 00:40] spiffxp commented on #7192
/assign
/remove-lifecycle rotten
I cringe doing this, but it's still undocumented, and I'm not going to get to it in the next little while.  But, I would like to understand how to set it up.  Let's see if I can get back here within 90d

[2018-08-18 00:41] spiffxp commented on #7192
/reopen

[2018-08-20 14:57] stevekuznetsov opened #9095 "prow: trigger: negative matches in run_if_changed"
What's the best way to run a job for _any_ changes other than those in a specific directory? We just had some developers add this config:

[code]

/area prow
/kind question
/cc @cjwagner @BenTheElder @fejta

[2018-08-20 15:02] stevekuznetsov opened #9096 "prow: updateconfig: new ConfigMap is not created when one does not exist"
When a file is registered to watch and then added for the first time after the fact, we do not create the `ConfigMap` if it does not exist. This makes it weird for bootstrapping. Is this a side-effect of the `Replace()` call?

/area prow
/kind bug
/cc @BenTheElder @krzyzacy

[2018-08-20 17:54] BenTheElder commented on #9095
@munnerz [had this problem](https://kubernetes.slack.com/archives/C09QZ4DQB/p1523564294000543), for which we also just did a regex to move on https://play.golang.org/p/L7216AvaZ2z. It only needed to match a top level `docs/.*` so the regex was a bit simpler (`(^[^d].*$)|(^.[^o].*$)|(^..[^c].*$)|(^...[^s].*$)|(^....[^/].*$)`).

We could probably add `run_if_not_changed` but it will add more complex

[2018-08-20 18:58] stevekuznetsov commented on #9096
This is more for non-standard cases where we're creating custom maps

[2018-08-20 19:06] nikhita opened #9098 "prow: add command to add release notes"
Currently, only a few members have write access to k/k (and rightly so). See https://github.com/kubernetes/community/issues/2465 for more details on this.

The only way to add release notes in k/k is to edit the PR body. If I create a cherry-pick today and the parent PR does not contain a release note, I will need to ping someone with write access or the author of the parent PR to add the release

[2018-08-20 19:07] nikhita commented on #9098
/kind feature

[2018-08-20 19:10] dims commented on #9098
So we implement a `/release-note "my pr does this"`?

[2018-08-20 19:11] nikhita commented on #9098
Something like that, but we also need to make sure that multi-line release notes with code blocks, etc are possible. IIRC there was something like this before...

[2018-08-20 19:13] nikhita commented on #8421
I'm gonna close this. I think this is the intended behaviour.

[2018-08-20 19:13] #8421 closed

[2018-08-20 19:15] nikhita commented on #9098
It was removed in https://github.com/kubernetes/test-infra/pull/4718.

[2018-08-20 19:36] BenTheElder commented on #9096
Seems like it would be straightforward to ensure the configmap exists first, we should do this 👍

[2018-08-20 19:40] tpepper commented on #9098
Especially with the changes to write permissions since a year ago, this feels like a useful feature to me.

[2018-08-20 19:59] spiffxp commented on #9098
ref: https://github.com/kubernetes/kubernetes/issues/57667 for some discussion/context around current k/k use cases for release notes

[2018-08-20 22:00] cjwagner commented on #6346
This is already done.
/close

[2018-08-20 22:00] #6346 closed

[2018-08-21 04:36] spiffxp commented on #9059
First thing's first: a number of people mentioned in the OWNERS file should [apply for membership to kubernetes-incubator](https://github.com/kubernetes/org/issues/new?template=membership.md&title=REQUEST%3A%20New%20membership%20for%20%3Cyour-GH-handle%3E).  If they're already members of kubernetes, they can use that to prove they've already met the requirements.  Otherwise there are a few steps t

[2018-08-21 17:04] stevekuznetsov opened #9112 "prow: approvers: add a mechanism to ignore directories"
It's been requested that we allow for a directory to have _anyone_ approve it, or alternatively exclude the directory from the approval flow.

/area prow
/kind feature
/cc @BenTheElder @krzyzacy @cjwagner
/cc @deads2k

[2018-08-21 17:06] stevekuznetsov opened #9113 "prow: approvers: require N approvers per file"
It's been requested to allow a repo to opt into N approvers per leaf file rather than just one. Any architectural issues to this? Would be a little bit of a foot-gun in case there did not actually exist N approvers for a leaf, but it should be OK to doc that.

/area prow
/kind feature
/cc @BenTheElder @cjwagner @krzyzacy

[2018-08-21 17:37] spiffxp commented on #9059
ref: https://github.com/kubernetes/test-infra/pull/9111

The above people won't be able to take advantage of this until they sign up

[2018-08-21 18:24] tpepper opened #9115 "add needs-kind and needs-sig label enforcing in tide"
Code Freeze for 1.12 will be implemented (pending proposal to drop status/approved-for-milestone) as requiring:

* priority/critical-urgent
* SIG label
* kind label
* lgtm and approved
* milestone v1.12
* status/approved-for-milestone

In the past this was a mix of milestone munger, prow, submit-queue enforcing.

For tide to be able to support the SIG and kind label requirements, we need:

* needs

[2018-08-21 18:25] tpepper commented on #9115
/cc @AishSundar

Do we need configurability down to the specificity of "kind/failing-test" and "kind/bug" or is kind/* sufficient?

[2018-08-21 18:25] tpepper commented on #9115
@cjwagner did I miss anything here from our conversation?

[2018-08-21 18:36] cjwagner commented on #9113
The approve plugin is a bit of a mess. It already doesn't work properly if regexp filtered `approvers` sections are used. The main difficulty is generating approver recommendations and showing which OWNERS files still require approval. Adding additional requirements for selecting multiple approvers from a single file would change that and how overlapping approvers have to be handled.

If this is n

[2018-08-21 18:41] BenTheElder commented on #9113
I think this is sane in concept as long as there are at least N top level approvers for the repo, and the repo in question really wants this, but as Cole mentioned it would require pretty substantial changes to the approvers plugin.

OTOH, these architectural changes could also be helpful if we wanted to properly support glob/regex for owners to own some files rather than directories, which we sor

[2018-08-21 18:43] cjwagner commented on #9115
I think thats everything.
I may not actually implement this as separate plugins for `kind/*` and `sig/*` though. Since the behavior is so similar it probably makes more sense to have a single configurable plugin.

[2018-08-21 21:55] paulangton opened #9118 "lint should detect when there is a package comment on another file in the package"
The command `/lint` currently adds a review comment when there is no package comment on a file, even if there is a package comment on a different file in the package (see #8922 for an example). It should be able to figure out if there is a valid package comment somewhere in the package and not add a review comment if that is the case.

/kind bug

[2018-08-22 03:28] spiffxp opened #9121 "we have no alerts for label_sync failing to run"
/kind cleanup
/area label_sync

ref: https://github.com/kubernetes/test-infra/pull/9054

While trying to deploy a new copy of the label_sync cronjob, I noticed that it had hung a few days ago.  An invalid label description caused it to hang, and no more copies were run subsequently.  How could we alert on this kind of situation?

I'm thinking of a pattern where logs are uploaded to GCS and consume

[2018-08-22 14:34] stevekuznetsov opened #9126 "prow: approval: allow for repo-scoped approval configuration overrides"
As noticed in https://github.com/kubernetes/test-infra/pull/9041, we need a mechanism by which users can override approval configuration on a per-repo level.

/area prow
/kind bug
/cc @cjwagner @fejta @BenTheElder @krzyzacy

[2018-08-22 17:49] stevekuznetsov commented on #9121
Can we migrate it to a `periodic` job and give it an entry in a infrastructure TestGrid view along with the commenters, etc? I'd image `peribolos` and other tools would join it there.

[2018-08-22 17:53] fejta commented on #9121
We need to create a cluster key that targets a cluster with trusted credentials, and write automation to ensure that only sig-testing jobs can use it.

[2018-08-22 19:18] stevekuznetsov commented on #7192
I looked into standing this up at some point and gave up when it was too hard. Whenever someone's ready to tackle this, we are probably ready to deploy it and help shape the doc :)

[2018-08-23 00:43] #7909 closed

[2018-08-23 05:54] krzyzacy commented on #9056
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/9120/pull-test-infra-bazel/19073/

/shrug

[2018-08-23 05:55] krzyzacy commented on #9056
hummm that is different, but... also using real data... 😢

[2018-08-23 07:14] xiangpengzhao opened #9135 "prow: dogs win the fighting"
When I call my cat, I can't find it. (https://github.com/kubernetes/kubernetes/pull/62582#issuecomment-415313522)

When I call my dog, it appears. (https://github.com/kubernetes/kubernetes/pull/62582#issuecomment-415313654)

Anyway, interesting plugins!

/cc @fejta

[2018-08-23 07:15] xiangpengzhao commented on #9135
/meow

[2018-08-23 07:15] xiangpengzhao commented on #9135
/woof

[2018-08-23 16:40] BenTheElder commented on #5962
/remove-lifecycle rotten

[2018-08-23 17:29] spiffxp commented on #8989
/close
Have heard no complaints

[2018-08-23 17:30] spiffxp commented on #9059
/close
Automation has been deployed, thanks to all who are filing kubernetes/org issues

[2018-08-23 17:30] spiffxp commented on #9059
ref: https://github.com/kubernetes/test-infra/pull/9111 for the automation

[2018-08-23 18:25] ixdy commented on #9135
/meow

[2018-08-23 18:27] ixdy commented on #9135
Maybe related?

[2018-08-23 18:29] nikhita commented on #9135
https://twitter.com/adenforshaw/status/1031485169448808448

[2018-08-23 21:04] spiffxp commented on #6380
/milestone 1.12

[2018-08-23 21:28] spiffxp commented on #7769
ping

[2018-08-23 21:30] BenTheElder commented on #7769
we moved the blocking ones to this at least, except scalability I think :|

[2018-08-24 05:12] stevekuznetsov commented on #7782
/remove-lifecycle rotten

[2018-08-24 10:49] nikhita commented on #8919
/kind feature

[2018-08-24 11:06] nikhita commented on #8832
ref https://github.com/kubernetes/test-infra/pull/9128

[2018-08-24 11:32] nikhita commented on #8250
@kargakis shouldn't the "approved" label apply automatically once the PR is created (which means you don't need to write `/approve` in a opening PR comment)? That's at least what I see in k/k.

[2018-08-24 16:44] rmmh commented on #7782
/close

Missing versions are now marked 'unknown' instead of crashing.

On Thu, Aug 23, 2018, 22:12 Steve Kuznetsov <notifications@github.com>
wrote:

[2018-08-24 16:44] #7782 closed

[2018-08-24 17:43] ixdy commented on #9135
it looks like the cat api no longer returns a `source_url`, but we don't use that, so it's fine.

working on a fix now.
/assign

[2018-08-24 17:50] ixdy commented on #9135
actually, it seems like the API is completely different, and it no longer even has categories. :(

this is more involved, punting to someone else.
/unassign

[2018-08-24 17:53] bobcatfish commented on #9135
😭

[2018-08-24 18:00] stevekuznetsov commented on #8250
Looks like you had to add the `/label` command three times too, did you have webhooks dropped? Do you have logs from `hook` for that PR creation event?

[2018-08-24 18:10] ixdy commented on #9135
why is that button even there
/woof woof

[2018-08-24 18:43] #7400 closed

[2018-08-24 18:47] kargakis commented on #8250
k/k is using implicit self-approvals, ie you don't need to /approve if you
are an approver and the PR author or you /lgtm and lgtm can act as approve.

On Fri, Aug 24, 2018, 14:33 Nikhita Raghunath <notifications@github.com>
wrote:

[2018-08-24 19:08] #9135 closed

[2018-08-25 22:10] #7404 closed

[2018-08-26 02:40] xiangpengzhao commented on #9135
Thanks @ixdy for helping the cats be back! Guess they will be fighting with dogs again :) I like the plugins!

[2018-08-26 18:54] nikhita commented on #3331
@spiffxp The table needs an update for `label-unapproved-picks`. :)

Ref: https://github.com/kubernetes/test-infra/pull/9128

[2018-08-26 21:06] nikhita commented on #6857
No, the message is fine when the flag is set. There are even tests for it.

https://github.com/kubernetes/test-infra/blob/2bdc42592ba581f0aa51562e4975f6803546acc6/prow/plugins/approve/approve_test.go#L214-L248

This occurs in PR mentioned in the main issue body because that's a PR in k/community and we have implicit self approval there: https://github.com/kubernetes/community/pull/1733.

Closing t

[2018-08-26 21:06] #6857 closed

[2018-08-27 15:16] shyamjvs opened #9165 "GKE scalability jobs failing due to bad JSON config"
We're seeing failures like:

[code]

Affected jobs:

- https://k8s-testgrid.appspot.com/sig-scalability-gke#gke-scale-correctness
- https://k8s-testgrid.appspot.com/sig-scalability-gke#gke-large-performance
- https://k8s-testgrid.appspot.com/sig-scalability-gke#gke-large-performance-regional

/assign @krzyzacy @BenTheElder
Could one of you PTAL? Thanks.

cc @kubernetes/sig-scalability-misc

[2018-08-27 15:17] cblecker commented on #6353
I put some thoughts here (https://github.com/kubernetes/test-infra/pull/9138#issuecomment-416257108) on why labels probably won't work. A bot comment on push isn't too bad as far as spam goes, provided the old hash comments get cleaned up.

If we stored state in Prow internally, and that state got blown away, we could default to removing LGTM. The experience would be no worse than today.

[2018-08-27 15:29] BenTheElder commented on #9165
This flag (`--gke-shape`) is clearly not escaped properly.
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
Probably incorrectly quoted after moving the configs around.

[2018-08-27 15:42] shyamjvs commented on #9165
Right. I tried fixing it (unsuccessfully) earlier in - https://github.com/kubernetes/test-infra/commit/d5bc6e92aaccf70ce3e945d1afdf399b8e7233d7#diff-1664f4f6e4712f8d89861b94e122dd83
Do you know what's the right way here?

[2018-08-27 15:52] shyamjvs commented on #9165
I tried following this suggestion - https://stackoverflow.com/questions/9532840/embedding-json-data-into-yaml-file - but that doesn't seem to work.

[2018-08-27 18:13] nikhita commented on #8450
@BenTheElder Are you still working on this? If no, can I take this up?

I just used three commands to open an issue again so would love to see this fixed. :)

[2018-08-27 20:26] BenTheElder commented on #9165
Thanks @krzyzacy, yeah we should quote the entire argument instead when writing this in yaml

[2018-08-27 20:55] fejta opened #9171 "Allow test-infra team to schedule trusted prow jobs"
Each prow job [chooses](https://github.com/kubernetes/test-infra/blob/1770971a343137ca00ebd420e081a984496b7c37/prow/getting_started.md) the cluster in which it runs ([example](https://github.com/kubernetes/test-infra/blob/1770971a343137ca00ebd420e081a984496b7c37/config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml#L4)) .

We will create a new trusted cluster context. These jobs will run in the s

[2018-08-27 21:07] nikhita commented on #8450
Awesome, I'll get to this tomorrow (my) morning! :tada:

[2018-08-27 21:48] nikhita commented on #9115
/sig release
/kind feature

[2018-08-27 22:00] BenTheElder commented on #9171
FWIW we have some similarish stuff with the `security` build context for k-s/k, we currently just restrict that:
- only k-s/k presubmits can use this
- k-s/k presubmits must use this
If we make any extensions to support this better we should use them to keep this one locked down as well.

[2018-08-27 22:06] cjwagner commented on #9171
It might make sense to restrict where the job is defined to a single file. That would make it really obvious which jobs we are allowing to run in the service cluster. Restricting to the test-infra leaf directory seems fine too though.
This functionality will be great to have! It will let us replace any k8s cronjobs like the branch-protector with periodic ProwJobs that run in the service cluster.

[2018-08-27 22:52] spiffxp commented on #9171
/priority important-soon
/kind design
/sig testing
/area prow
Yes please.

[2018-08-27 23:44] spiffxp commented on #3331
@nikhita done, and thanks again

[2018-08-28 10:56] nikhita commented on #8450
Created https://github.com/kubernetes/test-infra/pull/9180

[2018-08-28 11:24] munnerz opened #9181 "[kind] weave-net pod evicted due to disk pressure"
When creating a cluster using `kind`, tmpfs is used for the `/var/lib/docker` directory.

By default, Docker creates a temporary filesystem of size 1GB when `--tmpfs` is used.

As a result, I have observed that the weave-net container has been evicted before any other pods have started due to running low on disk space:

[code]

and corresponding events from the weave-net pod:

[code]

We should pr

[2018-08-28 14:15] BenTheElder commented on #9181
Thanks for reporting this!

Yeah I think setting that flag makes sense.

For advanced config I have a note in docs/todo.md about accepting a config file for customizing things like the kubeadm config template. I think this would probably go in there vs more flags 😅

[2018-08-28 16:27] BenTheElder commented on #9181
/assign

[2018-08-28 22:47] munnerz opened #9187 "[prow] DCO sign-off checker"
We at Jetstack need to support DCO sign-off checks on our repo.

After configuring probot/dco for our repo (that previously used status checks to report the DCO status), it has since moved to using the GitHub Checks API (which is currently incompatible with tide from what I can see).

I was planning on implementing a full DCO checker external plugin for Prow as a result. @BenTheElder suggested tha

[2018-08-28 22:48] munnerz commented on #9187
/kind feature

[2018-08-28 22:50] BenTheElder commented on #9187
I really think Prow should support this first class, the CLA is optional for the CNCF now and only Kubernetes and GRPC require it. The DCO seems like it will be widespread.

/cc @stevekuznetsov @cjwagner

also cc @mattfarina

[2018-08-28 23:09] krzyzacy commented on #8264
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/mkpj/main.go#L62

looks like it's supported now

[2018-08-28 23:09] #8264 closed

[2018-08-28 23:09] #7729 closed

[2018-08-29 00:06] neolit123 commented on #9187
/cc @tpepper

[2018-08-29 06:25] Mr-Linus opened #9194 "I have signed the CNCF CLA. Why does this PR have no CNCF-CLA:YES label?"
The PR link:<https://github.com/kubernetes/kubernetes-docs-zh/pull/541>
I have signed the CNCF CLA. Why does this PR have no CNCF-CLA:YES label?

[2018-08-29 06:30] #9194 closed

[2018-08-29 06:30] BenTheElder commented on #9194
You're good to go now, sometimes we seem to not get the event for the CLA status going green, `/check-cla` forces a re-check. https://prow.k8s.io/command-help#check_cla

[2018-08-29 06:30] BenTheElder commented on #9194
Sorry about that 😬

[2018-08-29 06:31] Mr-Linus commented on #9194
got it .thanks!

[2018-08-29 18:07] #9075 closed

[2018-08-30 00:00] #8984 closed

[2018-08-30 13:58] spiffxp opened #9208 "lacking jobs that demonstrate flaky tests are still flaky"
The title is super general until proven it doesn't cover all tests currently tagged as [Flaky]

ref: https://github.com/kubernetes/kubernetes/pull/67901#issuecomment-417325463

Basically I think if the tests flakes disappear when run under load, I want a job that is intended to keep demonstrating the flakes happen, so we can point to it if we fix a flaky test, to demonstrate the test is no longer

[2018-08-30 13:58] spiffxp commented on #9208
/assign

[2018-08-30 17:44] stevekuznetsov commented on #7974
/remove-lifecycle stale

[2018-08-30 17:52] #8450 closed

[2018-08-30 18:49] michelle192837 commented on #3324
This is still in progress; I'm actively working on it, and will update when the code is in a state to be open sourced (though it will need approval and validation after that before actually being publicly-viewable).

[2018-08-30 21:11] krzyzacy opened #9215 "extract out gerrit client part as its own library"
currently all the gerrit logic is stuck in https://github.com/kubernetes/test-infra/blob/master/prow/gerrit/gerrit.go

I'd need to split out client api code to its own package, so that they can be reused if I'd corporate that in a gerrit-report library.

/area prow
/assign

[2018-08-30 22:09] cblecker commented on #8205
/remove-lifecycle stale

Very much still active :)

[2018-08-30 22:10] cblecker commented on #8205
Actually, did we just move away from the milestone maintainer completely?

@tpepper

[2018-08-30 22:37] justaugustus commented on #8205
@cblecker yep, this can be closed.

Milestone munger was disabled:
- https://github.com/kubernetes/test-infra/pull/8909
- https://github.com/kubernetes/sig-release/issues/243

/close

[2018-08-30 22:37] #8205 closed

[2018-08-30 23:42] BenTheElder commented on #8205
Yes!! :tada:

[2018-08-31 00:10] michelle192837 commented on #3325
/remove-lifecycle rotten

[2018-08-31 01:10] #2580 closed

[2018-08-31 01:42] cjwagner commented on #7466
/reopen

This is still an issue that we are encountering more and more often as the number of repos we are querying grows. GitHub is aware of a problem in which queries for large numbers of PRs time out:
- https://platform.github.community/t/sporadic-502s-fetching-pr-data/3024/8
- https://platform.github.community/t/randomly-unable-to-fetch-commit-author-fields-author-authoreddate-authoredbycommit

[2018-08-31 01:42] cjwagner commented on #7466
/assign

[2018-08-31 01:51] BenTheElder commented on #7466
What about automatically sharding the repos in the query to sub-queries
with a maximum number of repos?
We can only reduce the page size so much, and that only reduces bandwidth,
I'd guess on GitHub's end the expensive part is searching more repos.

On Thu, Aug 30, 2018, 18:42 Cole Wagner <notifications@github.com> wrote:

[2018-08-31 04:30] stevekuznetsov commented on #8104
/remove-lifecycle stale

I'm of the opinion we should do this with some other file like `metadata.json` or something.

[2018-08-31 04:31] stevekuznetsov commented on #7032
/remove-lifecycle stale
This may be addressed by #9211 but only for decorated jobs :|

[2018-08-31 17:37] stevekuznetsov commented on #7466
/area prow
/area prow/tide
/kind bug

[2018-08-31 18:15] stevekuznetsov commented on #8621
/kind bug
/priority critical-urgent
@fejta @BenTheElder was this handled?

[2018-08-31 18:17] stevekuznetsov commented on #8622
/area prow/hook

What's the general flow for feature branches? Branch off of master, then sync by merging master in a number of times (or rebasing?) then publish by merging back into master? Won't the approver revert just have to happen once at the very end of the cycle? That seems to be a low-effort high-output result

[2018-08-31 18:26] stevekuznetsov commented on #3083
Implemented in #8643
/close

[2018-08-31 18:26] stevekuznetsov commented on #8291
@MHBauer if everything is still running smoothly, can we close this out?

[2018-08-31 18:27] stevekuznetsov commented on #8795
As @fejta points out this is impossible to implement unless we ask for everyone's token
/close

[2018-08-31 18:27] #8795 closed

[2018-08-31 18:38] shyamjvs opened #9223 "Refactor and better manage scale-testing infra"
Following today's infra-team meeting, I'm creating this umbrella for things we'd need to do for sig-scalability (that I can think of atm):

- [x] Move smaller scale projects to boskos wherever possible (short-term)
- [ ] Move all scalability jobs to boskos (long-term, and needs more work)
- [x] Isolate GKE-testing from OSS ones project-wise
- [x] Delete deprecated projects or move to boskos. Few I

[2018-08-31 18:44] shyamjvs commented on #9223
/assign
I can drive this overall, and do some of the pieces. But if someone wants to take up any AIs, you're gladly welcome :)

[2018-08-31 18:55] stevekuznetsov commented on #7971
/remove-lifecycle stale

If we want to look like k8s we should go with `camelCase`. Generically, can we write a serializer that loads either from `field_name` if present or `fieldName` if not? then we can do this migration slowly.

[2018-08-31 18:57] stevekuznetsov commented on #4425
I think this is solved with

[code]

@BenTheElder do you request something on top of that?

[2018-08-31 18:58] BenTheElder commented on #7971
We can add a new type embedding the real type temporarily that exposes the alternate field and then fixup that type into the real type.

+1 for going k8s style with `camelCase` for consistency.

[2018-08-31 19:01] BenTheElder commented on #4425
technically I think you need to do:
[code]

otherwise the pod will be recreated.

[2018-08-31 19:11] BenTheElder commented on #3083
/reopen
we still need to enable and validate this feature, I can do that today
then we'll want to track getting a real, good welcome message configured

[2018-08-31 19:36] BenTheElder commented on #8621
this was "handled" by having "feature branch managers" who just force push over the branch IIRC
https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml#L172-L174

[2018-08-31 19:38] BenTheElder commented on #8622
See also the CLA issue, we can't fix that one as the CLA bot isn't ours (also which branches should it ignore? this seems bad). Someone with access to push to that branch can handle the rebase pushes or PRS

[2018-08-31 20:12] shyamjvs commented on #9223
Some analysis on projects/jobs that can be moved to boskos:

1. k8s-jenkins-scalability (used by [scalability-canary](https://k8s-testgrid.appspot.com/sig-testing-canaries#scalability-canary) job - uses ~100 CPU in us-central1-f)
2. k8s-jenkins-gci-scalability (used by [gce-100](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce) job - uses ~100 CPU in us-central-f)
3. k8s-e2e-gce-scalabilit

[2018-08-31 20:30] #6502 closed

[2018-08-31 20:34] shyamjvs commented on #9223
@amwat @krzysied - Would you be able/interested to pick up some of the AIs above? That'll be quite helpful for the CNCF migration.

[2018-08-31 20:41] amwat commented on #9223
I can create the boskos pool and update the jobs accordingly.

[2018-08-31 20:43] shyamjvs commented on #9223
That would be great, thanks. Note that the blockers mentioned above need to be fixed first before doing that.

[2018-08-31 20:52] shyamjvs commented on #9223
Actually, now that I think of it, it's probably better (for the long run) to move the remaining projects' quota in the opposite direction (us-central1-f -> us-east1-b) because:

- we have more slack in us-east1-b wrt resources available
- when we later split our large monolithic presubmit project into multiple smaller ones, they would all be in us-east1-b (where we've already been granted quota cu

[2018-08-31 20:57] BenTheElder commented on #3083
https://github.com/kubernetes/test-infra/pull/9227 to enable testing this on test-infra

[2018-08-31 21:44] krzyzacy commented on #9165
(fixed by https://github.com/kubernetes/test-infra/pull/9168 ^^)

[2018-08-31 22:07] wenjiaswe opened #9230 "[prow] Why is k8s-ci-bot automatically label certain sig when the OWNERs file has no sig label?"
We were looking at some issues and PRs and was wondering why sometimes k8s-ci-bot automatically label certain sig when the OWNERs file has no sig label?

For example, https://github.com/kubernetes/kubernetes/pull/68068, in this PR, k8s-ci-bot labeled it as sig/api-machinery, while the OWNERS file for none of the changed files has sig api-machinery label as below:
[code]

And my understanding is th

[2018-08-31 22:09] krzyzacy commented on #9230
cc @cjwagner @cblecker @kargakis  who might know this better?

[2018-08-31 22:15] BenTheElder commented on #3083
https://github.com/kubernetes/test-infra/pull/9231 did not work, I think
[the query works](https://developer.github.com/v4/explorer/?variables=%20%7B%0D%0A%20%20%22query%22%3A%20%22is%3A%20pr%20repo%3Akubernetes%2Ftest-infra%20author%3Aameukam%22%0D%0A%7D&query=query%20%28%24query%3A%20String%21%29%20%7B%0D%0A%20%20search%28query%3A%20%24query%2C%20type%3A%20ISSUE%29%20%7B%0D%0A%20%20%20%20issueCo

[2018-08-31 22:31] BenTheElder commented on #3083
filed a fix https://github.com/kubernetes/test-infra/pull/9232

[2018-08-31 22:38] cblecker commented on #9230
https://github.com/kubernetes/kubernetes/blob/e1a270d6dcfd73e35db3970a042db9c704ec5a8f/cmd/kube-controller-manager/OWNERS#L66-L67

[2018-08-31 22:39] cblecker commented on #9230
`cmd/kube-controller-manager/app/autoscaling.go` was modified in this PR.

/close

[2018-08-31 22:39] #9230 closed

[2018-08-31 23:01] wenjiaswe commented on #9230
@cblecker ah! It was added 11 days ago, thanks!

[2018-08-31 23:05] krzyzacy commented on #8485
yay

[2018-08-31 23:05] #8485 closed

[2018-08-31 23:07] krzyzacy commented on #4794
config.json has 4 ghost entry used by bootstrap_test.py... which probably not worth spend time to untangle and we can ditch the file when we switch to podutils. I'll declare victory here.

[2018-08-31 23:07] #4794 closed

[2018-08-31 23:13] #8594 closed

[2018-08-31 23:19] krzyzacy commented on #8536
why not split it into multiple small yaml files?