[2017-07-28 02:20] xiangpengzhao commented on #3395
This will be fixed by #3764.

Thanks @fejta !

[2017-07-28 02:56] fejta commented on #3395
/assign

[2017-07-28 06:33] fejta commented on #3755
Need to roll my own version of `Output()` and `Run()` that give more control
`cat /usr/local/google/home/fejta/golang/1.8.3/go/src/os/exec/exec.go`
[code]

[2017-07-28 12:29] php-coder commented on #3737
There is a workaround: don't specify a full url but use only an issue number. For example, this one wouldn't work `Fixes https://github.com/openshift/origin/issues/13390` while this one would: `Fixes #13390`

[2017-07-28 15:07] cblecker commented on #3694
I'd suggest that it's best to filter vendor/ completely as you shouldn't make changes to vendored files directly. Make changes in upstream and then bump your dependency.

[2017-07-28 15:14] dashpole commented on #3419
is it possible go wasnt updated correctly?
https://www.reddit.com/r/golang/comments/6b419n/installed_181_now_go_install_fails/

[2017-07-28 15:28] stevekuznetsov commented on #3694
@cblecker that may be a perfect world but is not something that most projects can do.

[2017-07-28 16:53] spxtr commented on #3694
I think we do that, don't we?

[2017-07-28 17:06] stevekuznetsov commented on #3694
Off of the top of my head I know there is a carry in the vendored `glog` code. I'm just saying, ignoring `vendor/` is less useful than _e.g._ #3766

[2017-07-28 17:22] #3742 closed

[2017-07-28 17:47] kargakis commented on #3677
/assign stevekuznetsov

[2017-07-28 17:58] #3754 closed

[2017-07-28 18:01] kargakis commented on #3742
Planning to work on this next week.

[2017-07-28 18:39] fejta opened #3774 "Migrate manual scalability jobs to prow"
/cc @krzyzacy @spxtr @shyamjvs @gmarek

There's no reason for these to continue living on jenkins.

We can manually schedule prow jobs with `mkpj --config-file=prow/config.yaml --job=ci-whatever | kubectl create -f -` see [mkpj](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/mkpj) docs (which are actually in the prow root unfortunately)

We can either set them to run with a long per

[2017-07-28 18:47] krzyzacy commented on #3774
@spxtr does an empty interval mean it would never run or it would always run?

[2017-07-28 18:48] stevekuznetsov opened #3775 "mungegithub: availability metric incorect"
When we were seeing an outage due to Jenkins, loop frequency dropped to 0 but the availability metric stayed at 100% as seen [on `velodrome`](http://velodrome.k8s.io/dashboard/db/monitoring?from=1501155575516&to=1501187969790):

![screenshot from 2017-07-28 11-48-16](https://user-images.githubusercontent.com/7328370/28731914-a8eb5890-738a-11e7-8536-27de4be40933.png)

[2017-07-28 18:48] stevekuznetsov commented on #3775
/area mungegithub

[2017-07-28 18:49] stevekuznetsov commented on #3775
/kind bug

[2017-07-28 18:54] shyamjvs commented on #3774
Thanks for filing this issue. There are a few concerns to be addressed prior to this migration.

We need strong scheduling requirements for scale jobs (not sure how many of them can be satisfied on prow currently):
- They shouldn't be run on weekends as they need special (manual) care in case of failures
- They cannot run in parallel as then they would fail (potentially in many weird ways)
- Havin

[2017-07-28 22:05] fejta commented on #3774
I think we should leave this scheduling complexity of out periodic jobs. People with unusual scheduling requirements can write their own controller which schedules prow jobs according to their requirements.

[2017-07-28 22:12] fejta opened #3778 "End centralized jenkins support after 1.9"
Jobs should run on prow, or sigs should create and maintain their own jenkins instance.

Google's GKE EngProd team intends to continue supporting the sig-testing prow rotation and end the jenkins rotation.

@kubernetes/sig-testing-proposals

[2017-07-28 22:21] fejta opened #3779 "Migrate soak jobs to prow and off centralized jenkins before end of 1.9 timeframe"
The GKE engprod team will stop supporting sigs running their testing on shared jenkins infrastructure after 1.8

Please migrate your jobs to prow. If this is infeasible for some reason please let sig-testing know what we need to add to prow and/or plan to create and maintain your own jenkins instance if we cannot come up with a solution kubernetes/test-infra#3778

This impacts the following jobs:

[2017-07-28 22:26] krzyzacy commented on #3779
the soak test has been failing for ages... I doubt it still produces useful signals...  https://github.com/kubernetes/kubernetes/issues/47255

[2017-07-28 22:38] #3661 closed

[2017-07-28 23:17] BenTheElder commented on #3619
closed in #3765

[2017-07-28 23:17] #3619 closed

[2017-07-29 00:05] fejta commented on #3619
Wooo!

[2017-07-29 00:44] calebamiles commented on #3704
I recently read Russ Cox's fantastic article about the process of [making a change to Go][]
and I feel that I have _personally failed_ to properly articulate the challenge that I
would like to solve as a person tangentially involved in the Kubernetes release process. In
my work I wear a couple of hats so I'll try and describe my various motivations and concerns
which may place this PR in a broader

[2017-07-29 09:45] kargakis commented on #3341
/kind documentation

[2017-07-29 09:54] kargakis commented on #3677
This is still an issue ...

[2017-07-29 10:00] fejta commented on #3677
/assign @cjwagner @BenTheElder

[2017-07-29 10:11] fejta opened #3787 "Prow and gubernator provide insufficient information to debug outages"
We need some way for
* bootstrap to log the prowjob yaml used to launch this testing
* gubernator and testgrid to display this info

/cc @spxtr @rmmh @michelle192837

[2017-07-29 10:17] kargakis opened #3788 "Ability to abort a job (hermetic tests) run when a new commit is added to a PR."
Split from https://github.com/kubernetes/test-infra/issues/3209

/area prow

[2017-07-29 10:17] kargakis commented on #3209
Closing in favor of https://github.com/kubernetes/test-infra/issues/3788

/close

[2017-07-29 10:17] #3209 closed

[2017-07-29 10:18] kargakis commented on #3367
Closing as a dupe of #3342

[2017-07-29 10:18] #3367 closed

[2017-07-29 10:20] kargakis commented on #3331
Is there an issue for migrating approvals into a prow plugin? Has anybody started working on that? I am interested in pursuing it next week.

[2017-07-29 11:05] kargakis commented on #3704
I am not sure that this is the right forum for discussing whether we should nuke "/approve no-issue" or not as it seems like a much larger topic than the intent of the present issue. We need to make the option configurable because it's not just the main k8s repo that is using the munger today but elsewhere we are locked down with it. I would suggest moving the on-going discussion in kubernetes-dev

[2017-07-29 13:20] stevekuznetsov commented on #3677
@kargakis were you able to determine why?

[2017-07-29 15:50] kargakis opened #3789 "prow: print config on startup or when reloaded"
Similar to the munger, it would be nice to print the config in each prow component log during both startup and when the config is updated.

/area prow

[2017-07-29 16:59] kargakis commented on #3677
Haven't looked yet, no. I want to setup a test cluster but won't get to it before Monday morning.

[2017-07-29 18:00] kargakis opened #3791 "e2e tests for prow and the submit queue"
It would be very nice to have e2e tests both for prow and the SQ that would verify basic functionality and give us a more confident signal for merging.

/area prow
/area mungegithub

[2017-07-29 21:17] stevekuznetsov commented on #3677
I think [these](https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/matchers/comment/interactions.go#L65-L73) also need to be configurable

[2017-07-29 21:18] stevekuznetsov commented on #3677
There's a couple of those:
[code]

[2017-07-29 21:34] stevekuznetsov commented on #3677
Hmm, it looks like there are two very different ways to match comments and my PR only addressed one of them. I'll work on that.

[2017-07-29 23:29] fejta opened #3793 "PR dashboard only works with kubernetes"
https://k8s-gubernator.appspot.com/pr/google_cadvisor/1707

The google/cadvisor repo != the kubernetes/google_cadvisor repo

Gubernator should allow me to type /pr/kubernetes/test-infra/1234
/area gubernator
@rmmh

[2017-07-29 23:35] fejta commented on #3793
It is also really obnoxious that there's no consistent way to refer to a PR,

I expect /pr/kubernetes/kubernetes/1234 to take me to pr 1234 on the k8s/k8s repo.
Having a shortcut is fine, but it is pretty absurd to make tools have to understand that:
if repo == kubernetes/kubernetes=> /pr/1234
elif org == kubernetes => /pr/REPO/1234
else => /pr/ORG_REPO/1234

There should be a context-free way to

[2017-07-30 00:05] spxtr commented on #3793
Dupe of #920?

[2017-07-30 00:38] fejta commented on #3793
/close

[2017-07-30 00:38] #3793 closed

[2017-07-30 00:39] fejta commented on #920
/assign
Will try and take a swing at this

[2017-07-30 03:17] kargakis commented on #920
cc @stevekuznetsov

[2017-07-30 17:45] nlandolfi opened #3794 "RFC: Size Munger -> Prow "Size" Plugin"
I propose writing the [size munger](https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/size.go) as a Prow plugin named `size`.

### Objective

Write a Prow plugin implementing the same functionality as the size munger. This functionality is defined in Background.

### Background

The size munger applies labels to pull-requests based on their size. The size can be one of `XS`,

[2017-07-30 17:59] nlandolfi opened #3795 "RFC: Incorporate LGTM After Commit Munger into Prow LGTM plugin"
I propose to add the functionality implemented in [this munger](https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/lgtm_after_commit.go) to this [prow plugin](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/lgtm).

### Background

When PR commenter/reviewer adds a comment with
[code]
the Prow LGTM plugin will add the "lgtm" label to the pull request.

#### M

[2017-07-30 20:10] spxtr commented on #3795
Sounds good to me.

[2017-07-30 20:17] spxtr commented on #3794
Nice write-up.

I don't think we even need the config option. Is there any problem with just assuming that the file is called `.generated_files`?

I suggest using the version from the PR, although the file changes infrequently enough that it's not a big deal.

[2017-07-31 00:04] fejta opened #3796 "Build/deploy gubernator using bazel"
Or at least `gcloud app deploy` (which does seem to work?)

/area gubernator

I was looking into this but I don't think the python app engine bazel rules are functional right now. Following up on https://github.com/bazelbuild/rules_appengine/issues/10

[2017-07-31 03:45] #3629 closed

[2017-07-31 05:08] krzyzacy opened #3798 "Prow postsubmit job does not have proper gubernator link"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/test-infra/ci-test-infra-bazel/57131/

should be

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-test-infra-bazel/57131/

[2017-07-31 07:10] fejta commented on #3798
/area prow

What do you mean by "prow postsubmit job?" Where did you get the incorrect link?

[2017-07-31 07:23] fejta commented on #2226
/remove-area gubernator
/area testgrid
/unassign
/assign @michelle192837

Maybe a sort by start time on testgrid?

[2017-07-31 07:24] fejta commented on #3335
With OpenShift and Istio using prow I believe we can close this out

[2017-07-31 07:24] #3335 closed

[2017-07-31 07:24] fejta commented on #3353
e2e-runner.sh is delorted
/close

[2017-07-31 07:24] #3353 closed

[2017-07-31 08:00] fejta commented on #3358
/unassign
/assign @spxtr @krzyzacy

[2017-07-31 08:40] fen4o opened #3805 "prow: Github's API endpoint is not configurable"
Right now GitHub's API endpoint is [hardcoded](https://github.com/kubernetes/test-infra/blob/186c8c1a7e6f6c1eb056a94f71347ecd91cec0cf/prow/github/client.go#L49) to `https://api.github.com`. This works great for the public GitHub, but for the Enterprise GitHub offering, the endpoint is [custom](https://developer.github.com/v3/enterprise/#endpoint-urls).

Mungegithub supports GitHub Endpoint configu

[2017-07-31 08:45] kargakis commented on #3805
/area prow

[2017-07-31 08:45] kargakis commented on #3795
/area prow
/area mungegithub

[2017-07-31 08:45] kargakis commented on #3794
/area prow
/area mungegithub

[2017-07-31 14:07] ignacyk commented on #3774
Can we use CronJobs in Prow instead? If we need them to be in Beta or Stable, it would be still better to align the timelines of migration rather than write a throw-away code.

[2017-07-31 16:12] fejta commented on #3774
Yes you can use CronJobs, but I am not sure that is the best plan as a) I'm not sure that will allow you to schedule a bi-weekly job either and b) that will diverge from all the other jobs.

What throw-away code are you worried about?

[2017-07-31 17:41] spxtr commented on #3805
I normally try to limit CLI flags, but for this case I would be okay with one. We can make the default `https://api.github.com` so that most users do not need to set it at all. I would suggest this.

A config option is also fine, although I'm not sure we ever want to allow configuring the other options you linked.

[2017-07-31 17:44] spxtr commented on #3798
I clicked on one and it took me [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-bazel-build-1-7/105/) which was right...

[2017-07-31 17:46] krzyzacy commented on #3798
the test-infra one is not right :-)

[2017-07-31 17:48] spxtr commented on #3798
Feel free to submit a patch to fix [this template](https://github.com/kubernetes/test-infra/blob/04e42754a071378351b19a1279b39e73232c0f9d/prow/config.yaml#L2) :)

[2017-07-31 17:49] kargakis opened #3808 "Retry mechanism in plank"
We are seeing sparse 405s today from Github in the plank log[0] that have resulted in github contexts getting stale (eg. https://github.com/openshift/origin/pull/15537). We should either 1)  retry the failed github calls on the spot for some time, or 2) something that would be useful in general eventually is to switch the controller to use an informer and retry prowjobs that have returned errors d

[2017-07-31 17:49] shyamjvs commented on #3774
+1 to making use of cronjobs which is one of the paradigms k8s already offers over re-writing a custom controller for the same (I guess that's the throw-away code @ignacyk meant). Btw - there's a plan to migrate cronjobs to beta (https://github.com/kubernetes/kubernetes/issues/41039) in 1.8.

We can do it using 2 cron tabs (https://stackoverflow.com/a/19276777). Besides, not all the jobs are bi-we

[2017-07-31 17:56] #3617 closed

[2017-07-31 18:02] spxtr commented on #3774
I don't think their needs are too far out. We can think about how to augment prow's scheduling to fit their needs without too much difficulty.

Prow stores state in the same place CronJobs do, they're just called ProwJobs. We restart individual components of the cluster every day. If the entire cluster goes down then they will behave exactly like CronJobs :)

It uses the start time for deciding wh

[2017-07-31 18:06] spxtr commented on #3808
We retry 500s and transport failures several times. I don't think we're supposed to ever retry 405s. It's just annoying that GitHub returned it.

This is a good basis for an eventual rewrite of plank.

[2017-07-31 18:15] shyamjvs commented on #3774
Clean!

Awesome - 30s is probably something we can live with for a while. However, would it be possible to time the first run of a job (so that all subsequent runs can also be ensured to run at the same time of the day on the same day of a week)? Because then we can time the first run and set the time interval to '24 * 7 * 2' hours to make it run biweekly.

[2017-07-31 18:22] krzyzacy commented on #3798
ouch... I feel dizzy reading through the template... and presubmit/postsubmit works differently... ahhh :disappointed:

[2017-07-31 18:24] fejta commented on #3798
yeah that line in the config is intense

[2017-07-31 18:26] cjwagner commented on #3332
fixed in #3577

[2017-07-31 18:26] #3332 closed

[2017-07-31 18:27] fejta commented on #3332
What?! Amazing!!!

[2017-07-31 18:32] cjwagner commented on #3331
I don't think there is an issue specific to that munger yet, just this issue. No one is working on migrating the approval-handler yet, so that would be great!

[2017-07-31 18:34] spxtr commented on #3774
That's possible, just merge your new job spec at the time you want it to happen.

We will need to make a small change to sinker in before this proceeds. Right now it will clear the old prowjob after a couple days, so we need it to persist at least one of each periodic prowjob.

[2017-07-31 19:33] cblecker commented on #3034
The `make verify` and `make test` Makefile rules are set up and working in kubernetes/community. We would just need the infra pieces to hook in and run them.

cc: @grodrigues3

[2017-07-31 21:47] grodrigues3 opened #3820 "Document /lint Command"
Looks like there's a new bot command that's not currently documented.

`/lint`

https://github.com/kubernetes/test-infra/pull/3499

[2017-07-31 21:55] zmerlynn opened #3822 "Please port *-gke-ubuntustable-* jobs to correct format"
Looking at blame, it looks like there have been a number of (mostly accidental) violations of the "DO NOT EDIT" on these jobs. However, more importantly, I believe on the GKE side all of these jobs can be ported to the GKE deployer. I don't have a lot of context with experiment/generate_tests.py, though. @yguo0905, can you help out?

c.f. #3818 for an example port (and #3819 for a follow-on to tha

[2017-07-31 22:10] yguo0905 commented on #3822
`experiment/generate_tests.py` generates configs from [experiment/test_config.yaml](https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml).

Looks like we should
- Add `--deployment=gke` to https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml#L559, change https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml#L597 to

[2017-07-31 22:13] yguo0905 commented on #3822
Generally speaking, for any flag/env changes (adding/removing flag/env and converting between them), we could just change the corresponding ones in `experiment/test_config.yaml` and regenerate the tests.

[2017-07-31 22:17] zmerlynn commented on #3822
That sounds reasonable, yeah. I can see if I can do it myself, since I'm thick in the conversion (and have #3819 outstanding, which handles another bit).

[2017-07-31 22:19] yguo0905 commented on #3822
Thanks! Let me know if there's any issues.

The command for generating the tests is at https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml#L18-L21.

[2017-07-31 22:20] zmerlynn commented on #3822
Will send it back if I have trouble, and send PRs to you. Thanks!

[2017-07-31 22:22] ixdy commented on #3419
aha, ok, so in #3276 I removed this line:
[code]
because I thought we didn't need it anymore (the kubernetes builds all run inside docker), but cadvisor isn't running in a docker container.

I can probably update the Jenkins agents by running this command, but we should probably containerize the cadvisor builds so that they are immune to Jenkins environment changes. (This is also a prerequisite fo

[2017-07-31 22:30] ixdy commented on #3419
actually, that might not be needed. I think @dashpole is right - the `/usr/local/go` directory seems to include other stuff, possibly because go was already installed in the image (somehow) and we didn't wipe it out before extracting the new version.

[2017-07-31 22:30] ixdy commented on #3419
(we should still try to isolate cadvisor from Jenkins.)

[2017-07-31 22:38] spxtr commented on #3820
It's not quite ready for general use yet. When it is, it won't be a command at all but will simply run on all PRs automatically.

[2017-07-31 22:38] grodrigues3 commented on #3820
Sounds like a better usage pattern!

/close

[2017-07-31 22:38] #3820 closed

[2017-07-31 22:50] ixdy commented on #3419
OK, I think I finally figured out what's happening.

I recreated the CI Jenkins "heavy" VMs with `jenkins/agent-ctl.sh auto-image`, but without passing `--base-image`. Because I hadn't included `--base-image`, it used one of the existing images which already had go installed.

I'll recreate the "heavy" VMs with the correct base image. Note it's also going to bump them up to debian 9, which may or

[2017-07-31 22:55] krzyzacy commented on #3350
/close

now we have a bazel scenario, need to move last couple jobs over.

[2017-07-31 22:55] #3350 closed

[2017-07-31 23:17] cblecker opened #3827 "ok-to-test not detected in review approval"
Example: https://github.com/kubernetes/kubernetes/pull/49872

Other commands like `/lgtm` are

[2017-07-31 23:17] cblecker commented on #3827
/area prow

[2017-07-31 23:19] nlandolfi opened #3828 "prow: plank URL template only executed once"
Consider a plank URL job template which depends on the prow job's status. Simple use case would be directing to deck when the job is running, and to Gubernator thereafter.

[code]

This behavior could be achieved by executing the template URL at the other locations in the `syncKubernetesJob` function [here](https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L400) and [he

[2017-07-31 23:22] spxtr opened #3829 "Live log link is hardcoded to k8s prow"
Istio has their own prow instance but gubernator doesn't show live logs from their jobs because they're not running on the k8s prow instance. [This line](https://github.com/kubernetes/test-infra/blob/f927186f10ea03cda20ae81c28e6d21a780135a6/gubernator/view_build.py#L69) reveals that it's hardcoded to look at our instance.

Is there a not-nasty way to fix this?

cc @sebastienvas
/area prow
/area gu

[2017-07-31 23:27] sebastienvas commented on #3829
Also as you can see in https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/517/istio-presubmit/146/, some of the fields are not populated properfly.

[2017-07-31 23:30] ixdy commented on #3419
I ran the build on one of my recreated Jenkins VMs, and it [failed differently](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cadvisor-node-kubelet/10717):
[code]

I'm pretty sure this is an issue in cadvisor now, not Jenkins.

[2017-07-31 23:40] nlandolfi commented on #3829
as a follow up to Seb -- the fields you are referring to are the refs? i.e., the "master:sha,pr#:sha" link)

[2017-07-31 23:44] nlandolfi commented on #3827
I think a fix requires trigger plugin to register a `plugins.ReviewEventHandler` and check for `/ok-to-test` there as well.

@spxtr thoughts? I can volunteer to fix this if you see fit.

[2017-08-01 00:12] nlandolfi commented on #3794
I guess I figure allowing the configuration option with a sane default is more future-proof. If the file name should ever need to change in the future or be different per repo...not sure how big of a deal that is (it's probably cause I've spent some time re-parameterizing certain prow config assumptions 😛) but this assumption leads to a simpler implementation so I'm cool with it.

So then in the a

[2017-08-01 01:48] xiangpengzhao commented on #3295
@spxtr any plan we want to fix this?

In https://github.com/kubernetes/kubernetes/pull/46079, I was asked to add a release note and then I edited the release notes from `NONE` to something else, but bot didn't change `release-note-none` to `release-note`. I hope it could detect edits.

[2017-08-01 02:00] fejta commented on #3295
Just add a /release-note-none comment

[2017-08-01 02:10] xiangpengzhao commented on #3295
@fejta What I need is a `/release-note` label, so I think you meant adding a `/release-note` comment :)

I commented it and it worked https://github.com/kubernetes/kubernetes/pull/46079#issuecomment-319247332. Thanks @fejta !

[2017-08-01 04:55] spxtr commented on #3794
Yep that sounds right.

[2017-08-01 04:55] spxtr commented on #3794
One thing to note is that other plugins want the `.generated_files` parsing logic. In particular, I want to skip running golint on generated files. If you could design your code such that this logic is easy to break out then I would be very happy :)

[2017-08-01 05:31] spxtr commented on #3827
SG. @cjwagner did this for other plugins.

[2017-08-01 08:03] kargakis commented on #3829
cc @stevekuznetsov who made this work for us yesterday

https://openshift-gce-devel.appspot.com/

[2017-08-01 08:51] luxas opened #3835 "kubeadm jobs failing due to an old kubetest image"
[code]

@krzyzacy @pipejakob Seems like a similar thing as https://github.com/kubernetes/test-infra/pull/3752 is needed :'(

Real issue to fix long-term: https://github.com/kubernetes/test-infra/issues/3606

[2017-08-01 08:52] luxas commented on #3835
cc @wojtek-t @fejta

Currently affects the https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.7 and https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.6-on-1.7 jobs.
Not sure if this is fixed already and prow/jenkins/etc just have to be reloaded

[2017-08-01 09:18] kargakis opened #3836 "SubmitQueue log is spammed on a bad prow url"
Unnecessary IMO. I am pretty sure this was sparse one week ago ...
<details>

[code]
</details>

/area mungegithub

[2017-08-01 09:56] kargakis commented on #3836
@BenTheElder can you ptal? Changed after https://github.com/kubernetes/test-infra/pull/3765.

/assign BenTheElder

[2017-08-01 10:06] kargakis commented on #3836
Opened a fix in https://github.com/kubernetes/test-infra/pull/3837

[2017-08-01 10:07] kargakis commented on #3836
/unassign BenTheElder
/assign

[2017-08-01 10:33] kargakis commented on #3788
/assign

[2017-08-01 13:12] stevekuznetsov commented on #3829
Unfortunately that "work" is at the first phase of just hardcoding it in the other direction. There are a _lot_ of strings in Gubernator that are not friendly to other projects

[2017-08-01 15:34] dashpole commented on #3419
build is green on https://github.com/google/cadvisor/pull/1710, so this is fixed.  Thanks for the help @ixdy!

[2017-08-01 15:34] #3419 closed

[2017-08-01 17:14] #3836 closed

[2017-08-01 17:17] kargakis commented on #3788
I started working on this one but I quickly realized that it's better to split plank into two separate controllers first and then proceeding with adding cancellation for Jenkins ([pods seem to be deleted once a ProwJob is marked with a completionTimestamp](https://github.com/kubernetes/test-infra/blob/32d3e7ed5d028c91f83200b6928b1f321c893675/prow/plank/controller.go#L345-L350) but I haven't tested

[2017-08-01 17:19] kargakis commented on #3788
@spxtr will two or more separate controllers touching different github contexts in a single PR be a problem?

[2017-08-01 17:23] krzyzacy commented on #3835
@luxas that was before #3752 is merged, and http://prow.k8s.io/?type=periodic&job=periodic-kubernetes-bazel-test-1-7 the precedence job is broken so kubeadm is never triggered after July.28th

[2017-08-01 17:33] crimsonfaith91 opened #3841 "apps/v1beta2 is not enabled for submit queue pull-kubernetes-e2e-gce-etcd3 test"
One of my PRs is adding a new apps/v1beta2 subresource. I am able to get the e2e test passed using local cluster by enabling apps/v1beta2: `RUNTIME_CONFIG="apps/v1beta2" hack/local-up-cluster.sh
`.

However, the test failed for `pull-kubernetes-e2e-gce-etcd3` test due to apps/v1beta2 is not enabled by default for the test. The test failure can be found [here](https://k8s-gubernator.appspot.com/bui

[2017-08-01 17:36] crimsonfaith91 commented on #3841
@ixdy I spent some time investigating it yesterday, but still came to a conclusion that the failure is due to v1beta2 is not enabled for submit queue `pull-kubernetes-e2e-gce-etcd3` test. I am not sure whether this can be resolved via kubetest image update, or there is a better way.

[2017-08-01 17:43] krzyzacy commented on #3841
Add the config to jobs/pull-kubernetes-e2e-gce-etcd3.env will fix it, no new image is needed :-)

[2017-08-01 17:45] crimsonfaith91 commented on #3841
@krzyzacy Thanks! will do it asap :)

[2017-08-01 17:45] cjwagner commented on #3827
Yeah the lgtm plugin uses review events and review comment events.

[2017-08-01 17:55] crimsonfaith91 commented on #3841
/assign

[2017-08-01 18:11] #3734 closed

[2017-08-01 18:12] crimsonfaith91 commented on #3841
/close

[2017-08-01 18:12] #3841 closed

[2017-08-01 18:19] #3677 closed

[2017-08-01 18:57] krzyzacy commented on #3835
cc @ixdy --> https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-1-7/547/

[2017-08-01 19:04] ixdy commented on #3835
oh, yeah, I need to cherry-pick my fix to 1.7. lemme get on that.

[2017-08-01 19:07] ixdy commented on #3835
https://github.com/kubernetes/kubernetes/pull/49975

[2017-08-01 19:15] rmmh opened #3843 "Migrate event-based mungers to prow."
Some mungers should be prow plugins.

- [ ] ~~needs-rebase~~
- [ ] sig-mention-handler
- [ ] lgtm-after-commit

[2017-08-01 19:45] cblecker opened #3844 "Move static config files for munger into configmaps"
There are a couple config files for the munger like `mungegithub/block-path.yaml` and `mungegithub/path-label.txt` that are added directly to the munger's [dockerfile](https://github.com/kubernetes/test-infra/blob/6f5df70c29528db89d07106a8156411068518cbc/mungegithub/Dockerfile-submit-queue#L24-L25) instead of mounting via a config map.

These could easily be migrated to a config map so that they a

[2017-08-01 20:16] spxtr commented on #3843
needs-rebase is not event based, unfortunately.

[2017-08-01 20:39] #3755 closed

[2017-08-01 21:15] ixdy commented on #3756
this is fixed now, right?

[2017-08-01 21:27] #3756 closed

[2017-08-01 21:43] crimsonfaith91 commented on #3841
@krzyzacy It looks like the test is still failing with the same failure message after adding `RUNTIME_CONFIG=apps/v1beta2` to `jobs/pull-kubernetes-e2e-gce-etcd3.env` file.

It may due to:
(1) the env file is not updated yet
(2) the failure is due to another reason

Will appending `apps/v1beta2` to kubetest [`runtime-config` flag](https://github.com/kubernetes/test-infra/blob/master/kubetest/main.

[2017-08-01 21:49] krzyzacy commented on #3841
pr test always uses latest env so that should be up-to-date.

From apiserver log:
[code]

can that be related to what you are looking at?

[2017-08-01 21:54] crimsonfaith91 commented on #3841
Yes! I think both API versions should not be skipped. Do we need to add something to some config files when adding a subresource to a new version?

[2017-08-01 22:09] krzyzacy commented on #3841
ah I'm not super familiar with how api versions gets configured - cc @caesarxuchao who might have a better idea?

[2017-08-01 22:10] crimsonfaith91 commented on #3841
Sure! Thanks! :)

[2017-08-01 22:15] spiffxp commented on #3704
/close

discussed at latest sig-release meeting, if the linked PR doesn't fully address this issue, feel free to reopen

whether `--approval-requires-issue` should be turned off for kubernetes/kubernetes is a separate decision we couldn't make today, predicated mostly on whether someone is actually willing to implement something that consumes linked issues for release notes

[2017-08-01 22:15] #3704 closed

[2017-08-01 22:23] nlandolfi commented on #3794
Definitely. I designed the `.generated_files` business apart from the sizing logic, more details in the companion PR I just opened [here](https://github.com/kubernetes/test-infra/issues/3847)

[2017-08-02 00:23] spiffxp opened #3851 "Deprecate and drop support for OWNERS assignees"
I think it's now "eventually" https://github.com/kubernetes/contrib/pull/2076/files#r90728711

`assignees` are effectively `approvers` as far as mungegithub [is](https://github.com/kubernetes/test-infra/blob/a708cb0a3c3c36597eb2e5e1027e6e48c6d449b7/mungegithub/features/repo-updates.go#L122) [concerned](https://github.com/kubernetes/test-infra/blob/a708cb0a3c3c36597eb2e5e1027e6e48c6d449b7/mungegith

[2017-08-02 00:36] spiffxp commented on #3724
Making the set of labels configurable and not hardcoded seems like the path forward then.

@sarahnovotny re: legal risks, does this mean we should pull support for the `cla: human-approved` label? [PR's that have `cla: human-approved` but not `cncf-cla: yes`](https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+label%3A%22cla%3A+human-approved%22+-label%3A%22cncf-cla%3A+yes%22+sort%3Aupdated-d

[2017-08-02 01:15] #3744 closed

[2017-08-02 03:12] k82cn opened #3857 "'partially fixes' should not close the issue"
In https://github.com/kubernetes/kubernetes/pull/49870 , I marked it as partially fixes of 42001 which means it's only one of PRs for the whole project. Prefer not to close the issue when it's merged; I'll close it manually or by the latest PR of that project.

[2017-08-02 03:23] shashidharatd opened #3858 "Migrate federation cluster bringup method to k8s-anywhere"
This issue is to discuss and track the migration of federation clusters bring-up in test-infra using k8s-anywhere,kubeadm.
Here is the issue which in general discuss about phasing out cluster scripts. https://github.com/kubernetes/kubernetes/issues/49213

Following are some of the tasks we envision towards this goal.
 - [x] 1. Configurable zone, ~~network~~ in k8s-anywhere deployer of kubetest - h

[2017-08-02 06:16] chenopis commented on #3851
@spiffxp Thanks for the heads up.

[2017-08-02 06:34] xiangpengzhao opened #3860 "k8s-merge-robot doesn't assign assignees automatically from this morning"
See:
https://github.com/kubernetes/kubernetes/pull/49995

https://github.com/kubernetes/kubernetes/pull/49996

https://github.com/kubernetes/kubernetes/pull/49997
(note: k8s-ci-robot assigned @fejta later because of his `/lgtm`?  https://github.com/kubernetes/kubernetes/pull/49997#event-1188821702)

https://github.com/kubernetes/kubernetes/pull/50000

https://github.com/kubernetes/kubernetes/pull/

[2017-08-02 06:38] xiangpengzhao commented on #3860
I can manually `/assign somebody`.
See: https://github.com/kubernetes/kubernetes/pull/50000#event-1188946051

/cc @fejta @spiffxp

[2017-08-02 06:54] xiangpengzhao commented on #3857
I think it's because [mungegithub](https://github.com/kubernetes/test-infra/blob/2e98fc7ecdb45751a1f1d7ffdf23e94a34ddfb85/mungegithub/github/github.go#L61) doesn't recognize `partially`.

[code]

[2017-08-02 07:10] foxish opened #3861 "GKE staging tests broken"
https://k8s-testgrid.appspot.com/google-gke-staging#gci-gke-staging&show-stale-tests=
https://k8s-testgrid.appspot.com/google-gke-staging#gci-gke-staging-parallel&show-stale-tests=

These are broken since after test-infra commit d827b479c
I suspect https://github.com/kubernetes/test-infra/pull/3818

cc/ @zmerlynn @krzyzacy @kubernetes/test-infra-maintainers

[2017-08-02 07:14] madhusudancs commented on #3858
We probably also need the ability to merge kubeconfigs. Right now, each invocation of kubernetes-anywhere generates a kubeconfig file, so there is one kubeconfig per cluster. These should be probably merged in kubetest.

This should be probably implemented in kubernetes-anywhere to expedite the cluster bring up process and better debuggability via logging.

[2017-08-02 07:14] madhusudancs commented on #3858
@shashidharatd list looks good otherwise.

[2017-08-02 07:41] xiangpengzhao commented on #3860
These PRs are now assigned. Don't know why they weren't assigned this morning.

[2017-08-02 07:48] fejta commented on #3860
/assign @cjwagner

[2017-08-02 07:48] fejta commented on #3860
/area mungegithub

[2017-08-02 08:10] xiangpengzhao opened #3862 "PRs don't have "needs-ok-to-test", but author can't retest"
See:
https://github.com/kubernetes/kubernetes/pull/49361#issuecomment-317284144
https://github.com/kubernetes/kubernetes/pull/49942#issuecomment-319368513

The labels `needs-ok-to-test` of the above PSs were removed due to a member's comment `@k8s-bot ok to test` (note: not `/ok-to-test`). The tests were triggered.

But when the tests failed, I couldn't retest by `/retest` (in 49361), or the tests

[2017-08-02 08:23] kargakis commented on #3857
Not sure if this is a munger or github issue.

[2017-08-02 09:35] luxas commented on #3858
Thanks for putting this together @shashidharatd!
Can we set a timeline for this to happen?
Can we make net-new jobs/suites for this and gradually get things over?
Then when kube-up.sh federation jobs and kubeadm federation jobs have the same features, we can make the kubeadm federation jobs presubmit-blocking.

Happy to discuss this this Friday 9am PST

[2017-08-02 16:34] zmerlynn commented on #3861
/assign
This looks like a dupe of #49939, but #49960 landed already. Hm.

[2017-08-02 16:35] zmerlynn commented on #3861
Oh, yeah, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging/2942/ is still running. You can see `gci-gke-staging-parallel` is already cleared.

[2017-08-02 16:35] #3861 closed

[2017-08-02 16:41] crimsonfaith91 commented on #3862
Is it working now?

[2017-08-02 17:05] ixdy commented on #3857
The auto-closing is done by GitHub. I'm not sure there's anything we can do here.

[2017-08-02 17:37] crimsonfaith91 commented on #3862
@xiangpengzhao The old bot comment format retired yesterday. Please ask someone to type `/ok-to-test` again if similar situation happens. It may due to deployment takes time to propagate.

[2017-08-02 17:39] spxtr commented on #3857
To be specific, this is done by [a github feature](https://help.github.com/articles/closing-issues-using-keywords/). It has a few other annoying edge cases as well, but there's nothing we can do about it.

[2017-08-02 17:39] #3857 closed

[2017-08-02 19:50] ixdy commented on #3857
My workaround has usually been to write `part of #N` rather than `partially fixes #N`.

We could maybe formalize this and add it to the munger's RE, at least.

[2017-08-02 20:31] spxtr opened #3866 "Implement tide and replace the submit queue"
Design doc [here](https://docs.google.com/a/google.com/document/d/1Z4UPEAFE7_36CKEYKPYGWKFjJyXxbodG26enakn2hMA/edit?usp=sharing), requires you to be a member of either kubernetes-dev or kubernetes-sig-testing. Please comment there with overall design decisions rather than on this issue.

Steps:

- [x] Implement tide's core loop for serial jobs. Start it up in dry run mode where it simply prints ac

[2017-08-02 21:00] spiffxp commented on #1966
https://github.com/kubernetes/community/pull/873

[2017-08-02 21:17] cjwagner commented on #3860
This wasn't a bug in mungegithub in the sense that there was a failure to assign users. Mungegithub was just very backed up and hadn't munged those PRs in a while due to a bug that caused the munger to stall for a while when it tried to read mergability for PRs that are already merged. That bug was fixed in #3832 and I deployed the change just before 11pm Pacific time last night.  I'm going to clo

[2017-08-02 21:17] #3860 closed

[2017-08-02 21:36] krzyzacy opened #3868 "Automate boskos config update"
/assign

[2017-08-02 21:52] spxtr commented on #3788
Nope, that should be fine.

[2017-08-02 22:19] justinsb opened #3870 "prow AWS secrets"
Hi - I'm looking to move AWS jobs from jenkins to prow, but I think I need a few secrets created (or the names for them, if they already exist):

The equivalents of these for AWS:

[code]

In jenkins, I believe they are sourced here:
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/credentials.yaml

[2017-08-02 23:18] k82cn commented on #3857
got that, thanks very much :).

----
Da (Klaus), Ma (马达) | PMP® | Software Architect, IBM Cloud private
Development
IBM Spectrum Computing, IBM System
+86-10-8245 4084 | klaus1982.cn@gmail.com | http://k82.me

On Thu, Aug 3, 2017 at 3:50 AM, Jeff Grafton <notifications@github.com>
wrote:

[2017-08-03 02:14] xiangpengzhao commented on #3862
Thanks @crimsonfaith91 !
/close
this issue for now. Will reopen and ping you if it happens again.

[2017-08-03 02:14] #3862 closed

[2017-08-03 02:16] xiangpengzhao commented on #3860
Thanks @cjwagner !

[2017-08-03 03:47] xiangpengzhao opened #3882 "k8s-merge-robot selects approvers from incorrect OWNERS file"
https://github.com/kubernetes/kubernetes/pull/50023 only change files in `pkg/kubectl/cmd/`. Bot should select approvers from `pkg/kubectl/OWNERS` (because there is no OWNERS file in `pkg/kubectl/cmd/`), but it selects approvers from `pkg/OWNERS`. See: https://github.com/kubernetes/kubernetes/pull/50023#issuecomment-319722580

See also: https://github.com/kubernetes/kubernetes/pull/49935#issuecomm

[2017-08-03 04:00] k82cn commented on #3857
I think adding it to readme is good!

[2017-08-03 04:10] krzyzacy commented on #3870
ref https://github.com/kubernetes/test-infra/issues/3292

hummm how do I get the raw Jenkins secret?

[2017-08-03 04:23] justinsb commented on #3870
If you don't have it other than in Jenkins, I think I've used something similar to this before:

https://stackoverflow.com/questions/37683143/extract-passphrase-from-jenkins-credentials-xml

i.e. get the ciphertext from credentials.xml and then have jenkins decrypt it using the groovy script.

Depending on how the jobs are actually run, given that they are fairly long running, you could also grab

[2017-08-03 04:31] krzyzacy commented on #3870
yeah that's fair, I'll do the hijack tomorrow

/assign

[2017-08-03 06:06] fejta opened #3884 "Deploy gubernator without webhook_secret and secrets.json"
/area gubernator
/assign @rmmh

Ideally we grab these values in some other way than uploading them with each version. This will make it easier/safer/possible for oncall to deploy this app.

[2017-08-03 07:45] fejta opened #3886 "Nudge people to file flakes"
How about if we notice that an issue has 35 /retest commands and no kind/flake issue linked we drop a note asking people to file a flake issue and link it with each /retest command?

[2017-08-03 09:16] xiangpengzhao commented on #3882
There is also another issue: the APPROVALNOTIFIER comment is not incorrect, or at least it should be enhanced.

See: https://github.com/kubernetes/kubernetes/pull/49945#issuecomment-319353564

[code]

But when I comment `/assign @sig-cluster-lifecycle-maintainers`, nothing happens.
See: https://github.com/kubernetes/kubernetes/pull/49945#issuecomment-319914032

ping @crimsonfaith91

[2017-08-03 09:17] xiangpengzhao commented on #3882
Hmm, the bot told me this:
[code]
See: https://github.com/kubernetes/kubernetes/pull/49945#issuecomment-319914034

[2017-08-03 15:16] shashidharatd commented on #3858
Just realized that `kubernetes-anywhere` on GCE does not provision the network resource and just uses the `default` network. So configuring the network to non-existent network name will not get provisioned in phase1 of k8s-anywhere.
Also federation mostly uses `bootstrap-e2e` network name (set by kubernetes_e2e.py). So federation could as well use the `default` network and do not configure the net

[2017-08-03 16:17] BenTheElder opened #3892 "Rename Submit Queue 'Serial Builds'"
Per discussion at [kubernetes-dev](https://groups.google.com/d/msgid/kubernetes-dev/CAMMDcuFWTAVeUjhts9uzLPS3WX3Pkvc_MDTTY_%2BN%2B7bEM44vkg%40mail.gmail.com?utm_medium=email&utm_source=footer) the suggestion  is 'Single'.

[2017-08-03 16:18] BenTheElder commented on #3892
/assign

[2017-08-03 16:24] kargakis commented on #3892
SGTM

[2017-08-03 17:55] yguo0905 commented on #2632
/assign

[2017-08-03 18:21] BenTheElder commented on #3892
/area mungegithub

[2017-08-03 22:14] #3892 closed

[2017-08-04 00:12] spiffxp commented on #3851
The above linked PR's are all of the offending repos currently munged by mungegithub, except for gengo which is vendored into kops.

This leaves mostly top-level and vendored OWNERS files for other kubernetes repos:
[code]

What's the right thing to do for the vendored files? ref: https://github.com/kubernetes/test-infra/issues/3694

[2017-08-04 00:19] spiffxp commented on #3694
Related: what should I be doing with vendored OWNERS files that are still using `assignees`? I'm opting to just search/replace everything for now.

[2017-08-04 00:24] stevekuznetsov commented on #3694
https://github.com/kubernetes/test-infra/issues/3766 merged, which fixed the most crucial issue with vendored OWNERS, at least for us -- but we can keep this issue open as that PR does not attempt to address `vendor/` specifically

[2017-08-04 00:31] spiffxp commented on #3882
pinging @apelisse @grodrigues3 since they're in the commit history for test-infra/mungegithub/mungers/approvers

I agree this seems unexpected

[2017-08-04 03:09] apelisse commented on #3882
There is obviously two issues here, and somehow I have the feeling that they are both related to the ALIAS feature. The first one because `pkg/kubectl/OWNERS` has no approvers beside the sig-cli-maintainers alias, and the second because it's telling you to assign an alias instead of a member of the alias.

I'll try to look into it.

[2017-08-04 03:33] apelisse commented on #3882
The issue with the second problem you mentioned, is that `sig-cluster-lifecycle-maintainers` is not a valid [OWNERS_ALIAS](https://github.com/kubernetes/kubernetes/blob/master/OWNERS_ALIASES)

[2017-08-04 03:40] xiangpengzhao commented on #3882
Which guys should be `sig-cluster-lifecycle-maintainers`? Maybe these ones in [lifecycle/bootstrap/OWNERS](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/lifecycle/bootstrap/OWNERS)?

[2017-08-04 03:47] crimsonfaith91 opened #3906 "No-sig-label bot message should be removed after adding sig labels"
If the issue creator does not mention any sig group, the bot will leave the message, but the message will be there permanently. A recent example: https://github.com/kubernetes/kubernetes/issues/50122#issuecomment-320137992

@grodrigues3 WDYT?

[2017-08-04 03:59] apelisse commented on #3882
@mikedanese wrote this file, he must know?!

[2017-08-04 04:46] apelisse commented on #3882
@grodrigues3 any clue why it would not use `pkg/kubectl/OWNERS`?

[2017-08-04 12:39] kargakis opened #3909 "More excessive log in the SQ"
<details>

[code]
</details>

/area mungegithub
/kind bug

[2017-08-04 12:45] kargakis commented on #3909
Ok, I had to redeploy deck in order to serve the correct format. Still, it would be nice if given deck is serving the wrong format, the SQ log won't blow up.

[2017-08-04 14:58] kargakis opened #3910 "Tests are started per commit for postsubmit jobs"
Postsubmits are started on every Github push event. This means that every commit in a PR will start a new job, plus the merge commit will start its own job. Since the submit queue explicitly uses merges, does it make sense to update the trigger plugin to start jobs only on merge commits?

/area prow

/cc @spxtr @stevekuznetsov

[2017-08-04 16:56] foxish opened #3911 "Creation and deletion of GKE clusters failing"
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gke&show-stale-tests=

cc @krzyzacy @pwittrock

[2017-08-04 17:03] krzyzacy commented on #3911
cc @zmerlynn

[2017-08-04 17:45] pipejakob commented on #3911
@kow3ns (buildcop)

[2017-08-04 17:52] krzyzacy commented on #3911
Attach the error message, anyone can give more context what is this about?

[code]

[2017-08-04 18:10] spxtr commented on #3910
Oh, that's not what I expected. I assumed that because the push event contains multiple commits, they would send one per merge with all the commits in the PR together. I guess they send one per commit instead.

I'm not sure that we want to start jobs only on merge commits, since occasionally people push directly.

[2017-08-04 18:38] foxish commented on #3911
Also borked: https://k8s-testgrid.appspot.com/google-gke-prod#gke-prod-parallel

[2017-08-04 18:41] foxish commented on #3911
@pipejakob, this is a bit different from [build-cop](https://github.com/kubernetes/community/blob/master/contributors/devel/on-call-build-cop.md) responsibilities I think

[2017-08-04 18:41] #3745 closed

[2017-08-04 18:44] krzyzacy commented on #3911
`CommandException: No URLs matched: gs://cloud-sdk-testing/rc`

Cloud SDK borked I think

[2017-08-04 18:52] BenTheElder opened #3913 "SQ Single Build Tracking is Broken"
Currently SQ only tracks the current and last PR build when looking for jobs from prow. Sometimes we wind up with this:

![image](https://user-images.githubusercontent.com/917931/28982553-2450dbce-790b-11e7-83b6-d51c34975781.png)

In theory, tracking the current and last job should be sufficient (except for after restarts) but in practice jobs are clearly being missed.

[2017-08-04 18:52] BenTheElder commented on #3913
This is my bug so
/assign
/area mungegithub
/kind bug

[2017-08-04 18:56] BenTheElder commented on #3866
I expect plenty of 🌊🌊🌊 :smile:

[2017-08-04 18:57] grodrigues3 commented on #3882
With a little bit of pain, we figured out the problem:

Looks like [this PR](https://github.com/kubernetes/test-infra/pull/3766) introduced a change that filters such that only valid github handles are in our OWNERS files (which is behavior we want).  The implementation does not account for ALIASES.

[2017-08-04 19:18] crimsonfaith91 commented on #3911
@krzyzacy I created a buganizer issue and assigned you: https://buganizer.corp.google.com/issues/64393563

[2017-08-04 19:18] crimsonfaith91 commented on #3911
Tell me if you need any help from my side :)

[2017-08-04 19:32] madhusudancs commented on #3858
@shashidharatd `default` should be fine. How does `kubeadm` tests work? We should just follow that approach.

[2017-08-04 19:53] BenTheElder commented on #3741
I think we ought to be able to provide and endpoint with that information, we could combine the commands from both on a page somewhere.

Alternatively, we may not have commands that aren't prow plugins at some point and then we'd only have to make the plugin registration provide this. I like that idea a lot but I agree that it seems low importance for now. I may take a stab at some point.

[2017-08-04 20:00] kargakis commented on #3741
/help

[2017-08-04 20:09] cblecker commented on #3886
Perhaps something fejta bot could do? Along with perhaps tracking how many times it has retested a specific commit and stop after some point. Or perhaps if it notices a specific tests is flaking/failing across a large number of approved PRs, it throttles?

[2017-08-04 20:10] BenTheElder opened #3916 "Fix misspellings"
We have a number of easy-to-fix misspellings found here: https://goreportcard.com/report/github.com/kubernetes/test-infra#misspell

[2017-08-04 20:32] grodrigues3 commented on #3906
@kubernetes/sig-contributor-experience-bugs yeah this seems like something that should be fixed.

[2017-08-04 20:42] grodrigues3 commented on #3882
Looks like it might have been fixed by @stevekuznetsov's latest PR:

https://github.com/kubernetes/test-infra/pull/3898

@cjwagner can we redeploy SQ?

[2017-08-04 20:48] stevekuznetsov commented on #3882
@grodrigues3 yes sorry that first PR you noted did introduce a bug where `OWNERS_ALIASES` were being filtered out as the entries in those files were not valid GitHub assigness. The follow-up should have addressed the issue.

[2017-08-04 20:52] luxas commented on #3858
@madhusudancs What do you mean with `How does kubeadm tests work`?

[2017-08-04 20:54] stevekuznetsov commented on #3882
/kind bug

[2017-08-04 20:54] stevekuznetsov commented on #3882
/assign

[2017-08-04 21:13] spiffxp commented on #3851
Going to ignore vendored OWNERS files, and opt to modify mungegithub to (selectively?) ignore them

[2017-08-04 21:24] #3870 closed

[2017-08-04 21:25] krzyzacy commented on #3870
added `aws-cred` and `aws-ssh-key-secret`

[2017-08-04 21:26] #3292 closed

[2017-08-04 21:28] #3916 closed

[2017-08-04 21:59] pipejakob commented on #3911
@foxish I'm not on the rotation, but thought I heard from @roberthbailey that this was a newer responsibility. I agree that it's missing from that document, so maybe we need to update the document, or  maybe I misunderstood Robert and there's a separate Google-internal rotation for debugging GKE e2e failures.

[2017-08-04 22:29] cjwagner commented on #3882
@grodrigues3 Yep, Ryan is doing that now.

[2017-08-04 22:57] #3154 closed

[2017-08-05 06:46] roberthbailey commented on #3911
@pwittrock and I have been discussing the extent of the build cop rotation (which is currently a bit unclear).

I was under the impression that they were supposed to investigate these tests and escalate if they weren't able to fix them.

[2017-08-05 14:50] xiangpengzhao opened #3932 ""pull-kubernetes-e2e-gce-etcd3" fails but is reported as successful"
See:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50190/pull-kubernetes-e2e-gce-etcd3/45347/

The test has two failures but it shows the result as `Result | SUCCESS`.

[code]

/cc @fejta

[2017-08-05 16:08] krzyzacy commented on #3932
We have [GINKGO_TOLERATE_FLAKES=y](https://github.com/kubernetes/test-infra/blob/master/jobs/pull-kubernetes-e2e.env#L2) enabled for pr jobs, AFAIK it will go down to https://github.com/kubernetes/kubernetes/blob/02b520f0a40be2056d91fc0661c2b4fdb2694c30/hack/ginkgo-e2e.sh#L134 and retry on failed test, and second attempt passes.

[2017-08-05 16:52] xiangpengzhao commented on #3932
Got it. It just confused me for a second at the first sight. Thanks Sen for explanation! Since this is not a real issue, I'll close it.

[2017-08-05 16:52] #3932 closed

[2017-08-05 17:32] xiangpengzhao opened #3933 "Not necessarily to comment about labeling size of PR"
After creating a PR, one of the comments bot replies is about labeling size of the PR, e.g. `Labelling this PR as size/XS`. But seconds later, this comment will be deleted. Only something like https://github.com/kubernetes/kubernetes/pull/50198#event-1194248545 is left.

Seems like the appears-and-then-disappears comment is not necessary. Bot can label the size silently.

/cc @fejta @krzyzacy

[2017-08-05 20:09] nlandolfi opened #3934 "prow: unify all fake k8s clients under a single interface"
Reference: https://github.com/kubernetes/test-infra/pull/3876#discussion_r131509157

/area prow
/cc @kargakis

[2017-08-05 20:31] BenTheElder commented on #3743
I think this should be an issue on https://github.com/kubernetes/kubernetes

[2017-08-05 20:56] #3743 closed

[2017-08-05 21:14] krzyzacy opened #3935 "Node e2e tests need to take in test arg as flags"
ref https://github.com/kubernetes/test-infra/pull/3926#discussion_r131514913

/assign @yguo0905

[2017-08-06 07:50] xiangpengzhao commented on #3933
Tried to send a PR https://github.com/kubernetes/test-infra/pull/3936. Review welcome, I'm not sure if we really want it though :)

[2017-08-06 22:29] kargakis opened #3939 "Button in deck for rerunning groups of jobs"
It would be nice to return the command for rerunning all presubmits for a PR or all postsubmits for a commit.

/area prow

[2017-08-06 22:31] kargakis commented on #3934
/assign

[2017-08-06 22:38] kargakis commented on #3934
We already have a constructor for a fake client [here](https://github.com/kubernetes/test-infra/blob/ed43beb2c64b6a03e607850482861915f594b787/prow/kube/client.go#L167) but it's only used in hook for its local mode and it lacks faking out any API call.

What's needed here is introducing a client interface, switch all places that use kube.Client to use kube.Interface instead, implement that interfac

[2017-08-07 02:17] fejta commented on #3858
/cc @pipejakob

[2017-08-07 03:20] shashidharatd commented on #3858
/assign

[2017-08-07 13:49] kargakis opened #3944 "commenter: do not run tests for broken PRs"
It would be nice if the [commenter](https://github.com/kubernetes/test-infra/tree/master/experiment/commenter) could recognize broken PRs and skip retesting them.

/area prow

/cc @stevekuznetsov @fejta

[2017-08-07 19:06] zmerlynn commented on #3911
At least right now, I don't think this is related to my GKE deployer changes. What I'm seeing is:
[code]

[2017-08-07 19:09] zmerlynn commented on #3911
Ah, yeah, @krzyzacy diagnosed it better above. `gs://cloud-sdk-testing/rc` isn't working.

[2017-08-07 19:19] zmerlynn commented on #3911
/assign
Talking to Cloud SDK folks.

[2017-08-07 19:50] shyamjvs opened #3950 "log-dump shouldn't run twice in case of e2e test failure"
There are 3 places form where log-dump currently can get called from:
- Inside ginkgo e2e-testing framework as an AfterSuite action (https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L286)
- Inside kubetest if cluster-up failed (https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L127)
- Inside kubetest after all testing is done (but before down'ing the cluster)

[2017-08-07 20:09] shyamjvs opened #3951 "Gubernator not picking up results from junit_runner.xml"
For e.g run 13 of gce-scale-performance (https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance) isn't showing the rows on the testgrid even though the junit_runner.xml file is present at the right place (http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/13/artifacts/?marker=logs%2fci-kubernetes-e2e-gce-scale-performance%2f13%2fartifacts%2fgc

[2017-08-07 20:31] krzyzacy commented on #3951
I still think testgrid will ignore entries that it has already processed... I cleared the cache and see if it regenerates properly.

[2017-08-07 20:43] shyamjvs commented on #3951
Yup. It worked. However I do remember (doing it at least a couple of times) that moving the junit files to the right place does the trick. Not sure if something around it changed recently, but I did it for our scale test runs.

[2017-08-07 20:45] shyamjvs commented on #3951
It's a testable hypothesis. However we should make sure that gubernator does pick up the changes periodically (or quickly enough).
Feel free to close the issue if the current state is fine.

[2017-08-07 20:50] fejta commented on #3951
a) it takes a change in gcs roughly O(hour) to appear in testgrid
b) I'm not sure what gubernator loads on page load and what it loads from datastore
c) testgrid only reprocesses results from the last few hours (so updating a GCS file for a run 3 days ago will not do anything)

@michelle192837 @rmmh

[2017-08-07 20:52] krzyzacy commented on #3951
@fejta I think it will skip processed builds - move files around is not going to help

We pushed some testgrid changes that invalidates all the cache last Friday and the Friday before, that might cause it to become 'refreshed'

[2017-08-07 20:53] rmmh commented on #3951
Any changes after finished.json has been written might not be reflected in testgrid-- it assumes that all artifacts have been uploaded when that's present!

[2017-08-07 21:02] krzyzacy commented on #3950
It sounds reasonable to me, I think @fejta was migrating the `--dump` behavior, see if he has more comments on this.

/unassign
/assign @fejta

[2017-08-08 00:54] madhusudancs commented on #3858
@luxas How do `kubeadm` tests setup GCE network? Do they use the `default` network? Do they use legacy networks or the new GCE VPC?

[2017-08-08 03:57] cblecker commented on #3933
It's worth noting removing the message will break certain notification/triage flows, specifically @thockin 's flow that's detailed here: https://groups.google.com/d/msg/kubernetes-dev/5qU8irU7_tE/aZov0LpCBwAJ

[2017-08-08 04:58] xiangpengzhao commented on #3933
It is just a minor enhancement (if any) for contributor experience. Didn't notice the potencial breaking. Feel free to close that PR if necessary :)

[2017-08-08 09:11] luxas commented on #3858
Ah. I don't know that detail, only that the network used is called `default` :wink:
Deferring to @pipejakob on that one

[2017-08-08 10:20] shyamjvs commented on #3950
I'm taking this up.

[2017-08-08 12:00] #3950 closed

[2017-08-08 13:10] shyamjvs opened #3977 "Jenkins 'frequency' not working as intended"
I recently noticed that one of the kubemark tests scheduled to run once every week (https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/bootstrap-ci.yaml#L257) is actually running everyday - https://k8s-testgrid.appspot.com/sig-scalability#kubemark-100-high-density. Something seems to be wrong with the frequency.

Also I recently automated our scalability te

[2017-08-08 16:42] shyamjvs opened #3981 "[SQ-blocking] DumpClusterLogs failing in federation presubmit"
For e.g - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/50310/pull-kubernetes-federation-e2e-gce/19456/build-log.txt

Failing due to the following reason:

[code]

Seems like a bug which has gotten exposed by the recent change https://github.com/kubernetes/test-infra/pull/3974 which makes DumpClusterLogs happen only inside kubetest instead of also doing it in ginkgo.

cc @fejta @k

[2017-08-08 16:45] shyamjvs commented on #3981
Another e.g - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/50290/pull-kubernetes-federation-e2e-gce/19460/build-log.txt (though this one failed due to the test itself failing)

[2017-08-08 16:55] shyamjvs commented on #3981
Seems likely to be something around testinfra config as the log-dump script is failing to find the master and nodes.
Strange it doesn't happen in non-federation tests.

cc @kubernetes/sig-federation-misc

[2017-08-08 16:59] shyamjvs commented on #3981
Reverting https://github.com/kubernetes/test-infra/pull/3975 would likely fix the SQ, but this needs to be debugged.

[2017-08-08 16:59] yujuhong opened #3982 "Bot assigned the PR author to be a reviewer"
https://github.com/kubernetes/kubernetes/pull/49178

See:

[2017-08-08 17:37] krzyzacy commented on #3977
/assign @rmmh  @ixdy
who might know more about Jenkins cron string...

[2017-08-08 18:26] shyamjvs commented on #3981
Ok, so I just confirmed that this was a hidden bug which didn't come-up so far because previously log-dump was happening [within ginkgo](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L286) in case e2e tests succeed.
And if the e2e tests failed, we entered the [log-dump inside kubetest](https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L208), which like now

[2017-08-08 18:28] fejta commented on #3981
This is a bug in the kubernetes/kubernetes repo https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/log-dump.sh#L223

/close

[2017-08-08 18:29] krzyzacy commented on #3981
We can pin federation deploy/pr job to the previous tag, until the script is fixed.

[2017-08-08 18:29] fejta commented on #3981
Here is an example of what that line needs to look like: https://github.com/kubernetes/kubernetes/blob/master/hack/ginkgo-e2e.sh#L133

[2017-08-08 18:37] shyamjvs commented on #3981
Please note that this is 'not' a bug in the kubernetes repo. Just because the logs mentioned that line failed, doesn't mean it's a bug there.
I've also explained the reason why it failed above and it was a previously uncaught bug which got exposed today.

[2017-08-08 18:39] shyamjvs commented on #3981
Besides, the SQ is blocked on this issue. So we shouldn't close it.
I can take up this issue if needed, though this almost surely seems to be a testinfra bug.

[2017-08-08 19:01] krzyzacy commented on #3981
cc @madhusudancs

[2017-08-08 19:30] shyamjvs commented on #3981
@fejta I guess that line in ginkgo-e2e.sh isn't the problem. It's the path to kubeconfig, which is set right in logexporter.

[2017-08-08 19:48] fejta commented on #3981
It looks like this is issue was about a NODE_NAMES unbound?

[2017-08-08 19:49] kargakis opened #3989 "prow: 409 returned for a pj more than once in a sync"
Not sure how this is possible but it happened (see details below). Also the 409 suggests stale resourceVersion and I have noticed that it occurs on duplicate jobs. They seem to be updated twice in a single sync: [here](https://github.com/kubernetes/test-infra/blob/6db413b06b2e0a61bb6ab76f930db236d7e92b88/prow/plank/controller.go#L229) they are marked as duplicates and [here](https://github.com/kub

[2017-08-08 19:50] shyamjvs commented on #3981
It's an issue with `detect-master` and `detect-node-names` not working, most likely due to some misconfiguration. NODE_NAMES and MASTER_NAME being unbound is just a consequence.

[2017-08-08 19:51] shyamjvs commented on #3981
NODE_NAMES is computed by `detect-node-names` function by calling gcloud. So if things went fine it shouldn't have been unbound in the first place.

[2017-08-08 20:13] krzyzacy commented on #3981
sq is unblocked

[2017-08-08 20:49] zmerlynn commented on #3822
This was fixed by #3957, closing!

[2017-08-08 20:49] #3822 closed

[2017-08-08 21:08] rmmh commented on #3977
The trigger-job line makes it run after every build. This is silly.

[2017-08-08 21:27] #3977 closed

[2017-08-08 21:34] #3909 closed

[2017-08-08 21:40] #3808 closed

[2017-08-08 21:40] rmmh commented on #3977
This should all be fixed now.

[2017-08-08 21:41] fejta commented on #3977
Migrate to prow

[2017-08-08 21:42] spiffxp commented on #3741
I wasn't a fan of [/help when it was last suggested](https://github.com/kubernetes/test-infra/issues/2823) just because I didn't really want to see /help-spam littered throughout PR's that would fall out of date as commands were updated and improved.  A live endpoint to query and/or website would be way better.  As above, it's a matter of time investment.

[2017-08-08 21:43] kargakis commented on #3409
This separation of PJs and Pods makes sense to me.

[2017-08-08 21:43] #3409 closed

[2017-08-08 21:45] kargakis commented on #3563
Closing in favor of https://github.com/kubernetes/test-infra/issues/3844

[2017-08-08 21:45] #3563 closed

[2017-08-08 22:19] rmmh commented on #3977
Prow doesn't actually support the sort of interleaved scheduling they're using here.

[2017-08-08 23:04] shyamjvs commented on #3977
Thanks a lot for fixing the issue @rmmh.

That's right. Precisely the point I've been saying for a while :)

[2017-08-08 23:15] fejta commented on #3977
I do not consider interleaved scheduling a useful/productive pattern (flexible and prone to problems). I consider this an edge case whose complexity we ideally keep out of prow.

I see no innate need for interleaved scheduling. Instead I see multiple jobs needing exclusive access to the same resource. There are a variety of ways to address this need without adding weight to prow.

A couple example

[2017-08-08 23:16] fejta commented on #3977
Our goal with test-infra is more to help guide teams towards simpler, more productive patterns as it is to cater to every whim and feature request.

[2017-08-08 23:24] rmmh commented on #3977
This could also be handled with a 1-week interval and the job being a member of a group with a concurrency limit of 1.

[2017-08-08 23:55] fejta commented on #3977
That sounds like a pretty clean design. Although I believe a 1w interval right now is equivalent to daily (prow doesn't remember more than a day, or maybe we fixed that)

[2017-08-09 00:06] rmmh commented on #3977
We could change Sinker's deletion rule to not delete the most recent run for a job if it's under a month old, which would allow long intervals without affecting higher-throughput jobs.

[2017-08-09 00:10] shyamjvs commented on #3977
I agree that we should aim for simpler and productive patterns. However I'd like to re-emphasize the following (we had discussed this earlier as well):

It is indeed quite flexible, but I don't see how it is prone to problems. We have been using crontabs in linux for a long long time and I think it's well-accepted by now that it is a very robust, ,flexible and expressive language for scheduling pe

[2017-08-09 00:13] shyamjvs commented on #3977
That said, I agree with @rmmh 's suggestion for scheduling jobs weekly. However the period-based approach still doesn't allow us to say things like "run on monday and thursday of each week".

[2017-08-09 00:19] shyamjvs commented on #3977
Btw - I'm looking forward to actually moving as many of the scalability jobs as possible to prow. For e.g all kubemark and (gce|gke)-scalability jobs can be moved to prow currently (which is quite a good news already). What remain are the 'real' scalability tests (2k-node and 5k-node ones) which are critical to the release and hence need good reliability.

[2017-08-09 00:37] shyamjvs commented on #3977
And regarding the 'run_after_success' suggestion, there're few catches there (let me know of some of them aren't true):
- We need to be able to run even after failure
- This can lead to a situation where a 5000-node job runs on a weekend due to the jobs preceeding it pushing it backward over time (while it should run on a weekday for safety)
- They are not running in a cycle with each job exactly

[2017-08-09 01:46] krzyzacy opened #4012 "Make --deployment=anywhere fetch project from boskos"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-1-7/585/

/assign

[2017-08-09 01:46] krzyzacy commented on #3327
done

[2017-08-09 01:46] #3327 closed

[2017-08-09 05:55] shashidharatd commented on #3981
@krzyzacy, what was the fix. we have few more CI jobs in federation failing because of DumpClusterLogs
https://k8s-testgrid.appspot.com/sig-federation

[2017-08-09 13:30] stevekuznetsov opened #4015 "Give up on a PR or batch as soon as one test fails"
When test jobs have differing execution durations, it makes sense to give up on trying to merge a PR as soon as the first test in the suite fails. The tests should continue to run, but that PR or batch should not sit at the top of the queue while that happens.

/cc @deads2k

[2017-08-09 13:30] stevekuznetsov commented on #4015
/area mungegithub

[2017-08-09 14:44] stevekuznetsov opened #4016 "velodrome: nginx proxy requires privileged container"
Running the container without privilege, I see:

[code]

Is this really required? Can we add a different capability that would be more scoped? The denial to access `/var/cache/nginx` seems like a separate issue, as well.

/cc @kar

[2017-08-09 16:19] krzyzacy commented on #3981
@shashidharatd I pin-ed the pr-federation job to an older e2e image, I guess if you want you can pin a few more important jobs as well, and have some job to give out signal until the real issue is fixed.

[2017-08-09 16:46] shyamjvs commented on #3981
So after I added extra logging it's clear why it's failing (ref: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/5950/build-log.txt) -

[code]

It is picking up the wrong master name, which is calculated as '${INSTANCE_PREFIX}-master' and INSTANCE_PREFIX=bootstrap-e2e.
The the real master names seem to be 'prow-us-central1-a-master' and 'prow-us-central1-f-m

[2017-08-09 16:47] shyamjvs commented on #3981
@krzyzacy Passing it to you from here on. Feel free to redirect it as apt.

[2017-08-09 16:58] krzyzacy commented on #3981
woot
/assign @madhusudancs
Madhu can you help take a look here, I have no idea how federation set up and picks cluster/master names 😢 thanks!

[2017-08-09 17:58] 007 opened #4019 "Prow issue: CI ignoring needs-ok-to-test label"
Not sure if I am just misunderstanding the label/concept, but per https://github.com/kubernetes/heapster/pull/1753#event-1197638613 the k8s bot should be waiting to enable tests until `/ok-to-test`, but it's running Travis builds for commits.

[2017-08-09 18:22] krzyzacy commented on #4019
travis is not controlled by us :-)

[2017-08-09 19:51] madhusudancs commented on #3981
Are these jobs (Federation CI jobs) running on prow now?

[2017-08-09 20:00] madhusudancs commented on #3981
@shyamjvs @krzyzacy

`INSTANCE_PREFIX=bootstrap-e2e` is coming from here - https://github.com/kubernetes/test-infra/blob/master/scenarios/kubernetes_e2e.py#L585. I am not entirely sure why that is the default. We can probably override it here - https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L1918. But can someone explain to me why `bootstrap-e2e` is the default now given tha

[2017-08-09 20:03] krzyzacy commented on #3981
@madhusudancs I think that's because most of ci jobs does not care about cluster names, which is different than federation.

[2017-08-10 00:14] #3307 closed

[2017-08-10 02:21] kevin-wangzefeng opened #4027 "mungegithub: k8s-merge-robot comments with dead-link when adding do-not-merge for release-note-label-needed PRs."
When adding `do-not-merge` label for `release-note-label-needed` PRs, k8s-merge-robot comments with a link that is out of date (doc moved to kubernetes/community):

One of the following labels is required "release-note", "release-note-action-required", "release-note-experimental" or "release-note-none".
Please see: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/pull-requests.md#re

[2017-08-10 02:24] m1093782566 commented on #4027
Hi @kevin-wangzefeng

Thanks for reporting it. I find the link https://github.com/kubernetes/kubernetes/blob/master/docs/devel/pull-requests.md#release-notes is a dead link and the correct link is https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#write-release-notes-if-needed

I will fix it. Thanks!

[2017-08-10 03:11] fejta opened #4028 "Fix jenkins jobs updater"
I believe I regressed this awhile back when I updated the jenkins master and removed some plugins
/assign @ixdy
who has been working on this

[2017-08-10 03:19] ixdy commented on #4028
Things are still kinda broken.

We re-use the same container each time we run the updater (not sure why), and now that we're cleaning the workspace between runs (https://github.com/kubernetes/test-infra/pull/4025) the volume mount goes bad.

I guess we can stop leaving the container running? I'm not sure what badness that might cause.

[2017-08-10 03:19] fejta commented on #4028
that's weird that we leave the container running

[2017-08-10 03:20] fejta commented on #4028
IMO that job violates our rule that all things are a) clone test infra b) bootstrap.py --job

[2017-08-10 03:21] michelle192837 commented on #2226
Sorry, going through issues more now. I think this would be a good feature, just need to find time to add it. Some other metrics are also possible considerations for sorting, and I believe there has been some discussion on broadly allowing a customizable sort in the configuration, based on metrics reported from test logs.

[2017-08-10 03:22] michelle192837 commented on #2555
Sorry for the delay on this! TestGrid has a newer release now, so I'm working this week on testing it works and hopefully enabling it if there are no weird email issues.

[2017-08-10 03:27] ixdy commented on #4028
I think this is an artifact of the way things [used to be a while ago](https://github.com/kubernetes/test-infra/blob/2bbf72b3534359994c86d14ed44ed3bffaca83fe/jenkins/update-jobs.sh#L44-L46) - since we stored the git repo inside of the container, and we were cloning `kubernetes/kubernetes`, it was expensive to clone it each time.

Now it's probably safe to just run and delete the container each tim

[2017-08-10 03:46] ixdy commented on #4028
argh.
[code]

[2017-08-10 03:55] luxas commented on #2555
Awesome, thanks @michelle192837!
Any plans to include Slack notifications?

[2017-08-10 03:57] luxas opened #4032 "kubeadm jobs failing with: `--provider=kubernetes-anywhere requires --gcp-project`"
Occurs for https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#periodic-kubeadm-gce-1.7 and https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce.
Do we need to update the args for those jobs or should prow just be reloaded to catch up the newest config?
cc @pipejakob @fejta @krzyzacy

Thanks!

[2017-08-10 03:59] luxas commented on #4032
Full logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-1-7/597
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/4868

[2017-08-10 04:29] krzyzacy commented on #4032
https://github.com/kubernetes/test-infra/issues/4012

working on it, will be fixed tomorrow

[2017-08-10 04:35] luxas commented on #4032
Thanks!

[2017-08-10 04:37] krzyzacy commented on #4032
Assume it does not need any special quota, any gce project should work for kubeadm right?

[2017-08-10 04:53] luxas commented on #4032
We need quota enough to run a master with 3 workers (IIRC) in as many replicas in parallell needed for postsubmit jobs (which may burst)

We've had problems with too limited quota before.

I'd VERY much perfer if we could make three different GCE projects: kubeadm-1.6, kubeadm-1.7, kubeadm-master
(I don't have access so I only have to ask kindly ;) )

[2017-08-10 04:54] krzyzacy commented on #4032
Okay I'll give back the projects if they need special quota - my original intend is for all the jobs to use a shared pool of projects.

[2017-08-10 05:53] #4028 closed

[2017-08-10 05:54] ixdy commented on #4028
appears to finally work again.

[2017-08-10 18:25] michelle192837 opened #4040 "Add screenshots in TestGrid README.md"
Some of the TestGrid documentation ought to have screenshots to better illustrate some of its features or configurable options.

[2017-08-10 18:30] stevekuznetsov opened #4043 "mungegithub: approval-handler: implicit approvals have bad UX"
When someone in the root OWNERS as an approver makes a PR, it will always have the `approved` label added immediately. This means that a drive-by reviewer can `/lgtm` and send the PR off to be merged, even if it's still in a WIP (maybe no tests were added yet so nothing fails). This seems bad. Why should the approved label be implicit and not explicit? Self-approval should still be allowed, but it

[2017-08-10 18:31] bparees commented on #4043
big +1, thanks @stevekuznetsov

[2017-08-10 18:37] stevekuznetsov commented on #4043
@apelisse @grodrigues3 looks like this was added in https://github.com/kubernetes/test-infra/commit/23d59e951fccaccec01e1fc7415b6ffc5fcdc030 -- thoughts?

[2017-08-10 18:46] pipejakob opened #4044 "Update e2e-kubeadm image to use upstream k8s-anywhere"
While fixing various issues with the kubeadm e2e tests before a release, I changed the e2e-kubeadm image runner to use a fork of kubernetes-anywhere for expediency and faster iteration ([link](https://github.com/kubernetes/test-infra/blob/b82a7495845c2c0eca5d9da737a4e83beb91aa88/images/ci-kubernetes-e2e-kubeadm/runner#L28)). This issue is to track the progress of upstreaming relevant patches so th

[2017-08-10 19:30] shyamjvs opened #4046 "Move all jobs to using logexporter and make it default"
Ref https://github.com/kubernetes/kubernetes/issues/48513

Logexporter has been stabilized after multiple fixes. It's been enabled in most of our scalability jobs and is working just fine. E.g:
https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance (our 5k-node test, where the time taken for logdump has reduced from >4hr to <20min)
https://k8s-testgrid.appspot.com/google-gce-scale

[2017-08-10 19:36] shyamjvs commented on #4046
That's a good idea. But we don't yet want to enable it by default as it wouldn't work on release branch jobs.

[2017-08-10 20:49] #2847 closed

[2017-08-10 21:32] pipejakob commented on #4032
If I understand the Boskos model, if a single run of the kubeadm e2e tests gets its own project that isn't being concurrently used by any other jobs, then it shouldn't have any quota issues. We were only hitting quota issues when the same job was being run 3 or 4 times concurrently using the same project.

[2017-08-10 21:34] krzyzacy commented on #4032
yeah, each run will grab a fresh project

[2017-08-10 22:04] apelisse commented on #4043
This is something we've discussed a lot when this code was written, and we have considered that use-case/problem at that time.

I do believe that we should make sure WIP code doesn't get merged, rather than remove the auto-approval. Also, I strongly believe that we would lose more time by removing the auto-approval than by having this issue.

[2017-08-10 22:06] bparees commented on #4043
I wasn't part of those discussions, but as an outsider just experiencing this model, "Default to merge" seems like an odd choice.

[2017-08-10 23:41] #3933 closed

[2017-08-10 23:42] stevekuznetsov commented on #4043
@apelisse I think the flow where this bites the most is when a PR is touching code that is verified by non-blocking tests. If someone has triggered non-blocking tests they will not be added to the list of contexts that the submitqueue waits for before merging ( https://github.com/kubernetes/test-infra/issues/3740 ) ... so if you have a WIP PR that is LGTM on the implementation and self-approved, b

[2017-08-11 00:55] BenTheElder commented on #3829
view_base seems to be loading some config for the jobs on import, can we also load a config for the URL there and plumb it through?

[2017-08-11 00:59] BenTheElder commented on #4019
I think maybe we could have a script check for the label, the trick would probably be in avoiding the API rate limits.

EG I found that react has a `before_install` travis config that does this except it doesn't use a label:
https://github.com/facebook/react/issues/1768
https://github.com/facebook/react/pull/2000

I'm not sure if we *need* to do this though.

[2017-08-11 01:00] #4027 closed

[2017-08-11 15:41] shyamjvs commented on #3981
@shashidharatd Seems like your changes fixed this issue.
Closing it.

[2017-08-11 15:41] #3981 closed

[2017-08-11 17:57] #3628 closed

[2017-08-11 18:00] grodrigues3 commented on #4043
@stevekuznetsov @apelisse

The purpose of approval was to indicate a high level:

-  this idea/change is good for our system and belongs here in this directory.

The bigger problem lies here:

Code that receives lgtm should be completely ready to be merged (some people assumed it stood for "Let's Get that Merged" :) and it should pass our style guide, have tests written, be passing tests, etc.   P

[2017-08-11 18:02] krzyzacy commented on #4012
#4042

[2017-08-11 18:02] #4012 closed

[2017-08-11 18:02] #3935 closed

[2017-08-11 18:05] #1412 closed

[2017-08-11 18:05] BenTheElder commented on #3913
This hasn't been much of an issue lately and nobody else has voiced a complaint yet. Since mungegithub is hopefully more or less EOL in favor of Tide (#3866, https://github.com/kubernetes/test-infra/issues/3639#issuecomment-317135060) I'm closing this for now.

[2017-08-11 18:05] #3913 closed

[2017-08-11 18:05] #3354 closed

[2017-08-11 18:07] BenTheElder commented on #4016
Did you mean to CC @kargakis? 🙃

[2017-08-11 21:21] stevekuznetsov commented on #4016
Gotta love auto-complete  :)

[2017-08-11 21:21] stevekuznetsov commented on #4016
Thanks @ben

[2017-08-11 21:21] stevekuznetsov commented on #4016
Wow. The ctrl+enter registers before GitHub fully fills out the auto-complete. That's not the best UX

[2017-08-11 21:28] stevekuznetsov commented on #4043
Fair enough. It still seems like the current system has enough of a gap that a well-intentioned but oblivious developer could get code merged into `master` that really does not belong there, just because there is no way to opt out of the self-approval. Seems like we should be building an infra that does not allow for simple honest mistakes to require reverts, *etc*. In my opinion the cleanest way

[2017-08-11 22:23] apelisse commented on #4043
I'm not opposed to that. Whether we include the author in the list of approvers by default could be flag-configurable. If not activated, then the author could decide to approve when needed.

[2017-08-11 22:29] grodrigues3 commented on #4043
Sounds fine to me.

- Let's make it configurable.
- Configure it to require explicit approval for k/k
- make an announcement on K8s-dev when it's done.

[2017-08-13 15:48] stevekuznetsov commented on #3412
Still trying to dig through this -- the `"jenkins-node"` key seems to be only used by a utility in `k8s.io/contrib` and nothing in that repo actually calls that function. The `"repo_commit"` key seems entirely unused as well -- would love some historical insight into what these keys were for and if we can safely ignore them, etc.

[2017-08-13 19:19] kargakis commented on #3944
Actually, we don't even need a k8s client, the retester can get the desired data from prow.

[2017-08-13 20:16] stevekuznetsov commented on #3944
How would you define broken versus flaking heavily? Does it matter?

[2017-08-13 20:29] kargakis commented on #3944
Broken is when no test has passed for a commit. I don't think we care about "flakying heavily", worst case scenario, a PR that is actually good to merge is not getting automatically retested.

[2017-08-13 20:45] kargakis commented on #3944
Or more precisely, at least one job has never passed for a commit.

[2017-08-13 20:50] stevekuznetsov commented on #3944
Yeah, worst case we're not regressing anyway and the dev can `/retest` themselves. I'm not sure you really need the Prow client, either, since you can query GitHub for the itemized list of statuses

[2017-08-13 20:56] kargakis commented on #3944
We can't figure out if a PR flaked just by looking at Github unfortunately. We need to look into older runs, too, hence the need to look into prowjobs. The only thing that needs more thought at this point is prowjob GC.

[2017-08-14 03:28] xiangpengzhao opened #4057 "Comment "/release-note-action-required" doesn't work"
See: https://github.com/kubernetes/kubernetes/pull/50494#issuecomment-322090507

We now have four labels `release-note-action-required, release-note-none, release-note-label-needed, release-note"` associated with release note. But only `release-note-none` and `release-note` in comments work. Should we support the other two?

https://github.com/kubernetes/test-infra/blob/master/prow/plugins/release

[2017-08-14 06:03] yutongz opened #4058 "Submit-queue one label bypass all requirement"
Am I able to set one single label and as long as a PR has this label, submit-queue will forget about all other label requirement (approve, lgtm, release-note). And also I hope this kind of super-power labels can be defined in the config.

I want this since we have periodical PRs created one robot and hope they can be merged by merge-robot without human involved.

[2017-08-14 11:47] kargakis commented on #4058
You can write a job that lists all the generated PRs and add all the required labels in them.

[2017-08-14 12:11] luxas commented on #4032
This doesn't seem fixed yet @krzyzacy. All kubeadm jobs are currently failing with:
[code]

Can you fix?

[2017-08-14 16:09] shyamjvs opened #4059 "release-1.5 jobs failing continuously due to leaked resources"
It has been failing continuously for a few days now - https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-1.5
From the [logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-1.5/6371/build-log.txt), it seems like e2e-up is failing due to the following:

[code]

And the reason why the pd already exists is that it failed

[2017-08-14 16:21] yutongz commented on #4058
Yes, that definitely is a solution. But if we can have one special label for one specific category e.g. fast-forward, that would be clearer and easier to manage.

[2017-08-14 16:23] shyamjvs commented on #4059
@k8s-mirror-scalability-misc

[2017-08-14 16:35] shyamjvs commented on #4059
It succeeded when I manually deleted the master and the network - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-1.5/6603/
However towards the end, it again seems to be not able to delete the pd (due to not deleting the master):

[code]

[2017-08-14 16:44] shyamjvs commented on #4059
Turns out this is a problem with all 1.5 jobs. For e.g:
https://k8s-testgrid.appspot.com/release-1.5-all#gci-ci-slow-1.5
https://k8s-testgrid.appspot.com/release-1.5-all#gci-1.5
https://k8s-testgrid.appspot.com/release-1.5-all#gce-1.5
https://k8s-testgrid.appspot.com/release-1.5-all#gce-serial-1.5
...

They're all commonly failing in the diffResources step. Even more, they're all commonly failing

[2017-08-14 16:54] shyamjvs commented on #4059
Closing this in favour of the above generic issue.

[2017-08-14 16:54] #4059 closed

[2017-08-14 16:56] cjwagner commented on #4057
`release-note-label-needed` should be added when needed by mungegithub and `release-note-action-required` will be added by mungegithub if the provided release note contains "action required". I think it makes sense to at least recognize `/release-note-action-required` as a prow command.

[2017-08-14 18:56] fejta commented on #4058
/assign @spxtr

Please see the design doc for the submit queue redesign - https://groups.google.com/d/msg/kubernetes-sig-testing/tBWTEOEfrO4/k5um2t5xAgAJ

If this is an emergency, please contact the go.k8s.io/oncall buildcop to manually merge your emergency fix.

Otherwise we intend to specify a well known search query. And anything which is in that list is on the queue and will merge.

[2017-08-14 18:56] #4058 closed

[2017-08-14 18:57] fejta commented on #4057
What is the difference between release-note and release-note-action-required?

[2017-08-14 19:00] fejta commented on #4019
Please switch heapster test coverage to prow to receive better support https://github.com/kubernetes/heapster/issues/1771

[2017-08-14 19:00] #4019 closed

[2017-08-14 19:01] fejta commented on #3982
/assign @kargakis @cjwagner

Aren't you two working on blunderbuss?

[2017-08-14 19:02] fejta commented on #3951
I would like to ignore this issue for now, as it is only relevant because of our debugging the logexporter

[2017-08-14 19:02] #3951 closed

[2017-08-14 19:06] shyamjvs commented on #3951
Sure. Btw - the problem with logexporter has been solved by @krzyzacy by making gsutil copy differently if the artifacts dir preexists :)

[2017-08-14 20:30] fejta commented on #4015
/assign @spxtr

The challenge here is that we have a limited number of e2e runs we can do. It is probably better to just let them finish.

Close as tide will be subsuming this behavior?

[2017-08-14 20:30] fejta commented on #3911
Updtae?

[2017-08-14 20:31] krzyzacy commented on #3911
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gke&show-stale-tests=
https://k8s-testgrid.appspot.com/google-gke-prod#gke-prod-parallel

looks fine after they fixed the /rc bucket

/close

[2017-08-14 20:31] #3911 closed

[2017-08-14 20:41] stevekuznetsov commented on #4015
Yeah, makes sense to close this and incorporate the logic into `tide` if y'all think ti's appropriaet

[2017-08-14 20:44] cjwagner commented on #3982
k8s-ci-robot is Prow not mungegithub so this probably isn't related to blunderbuss. I'll look into this.

[2017-08-14 20:44] spiffxp commented on #3775
Technically speaking this is working as intended.  The submit queue's dashboard was _available_ it just wasn't doing any meaningful work.

[2017-08-14 20:50] cjwagner commented on #3982
feiskyer assigned themself in the original body of the PR and later edited the body to remove it.  The original body contained `/assign @feiskyer`.

[2017-08-14 20:53] spiffxp commented on #3775
That said, this little bump show up at all on https://storage.googleapis.com/kubernetes-test-history/k8s-queue-health.svg and the availability metric has been at 100% for so long that I question whether it's worth paying any attention to now.

[2017-08-14 20:56] stevekuznetsov commented on #3775
Ah, I see -- that makes sense. Not really  a bug then.

[2017-08-14 20:56] #3775 closed

[2017-08-14 20:58] cjwagner commented on #4057
`release-note-action-required` is used instead of `release-note` if the release note contains "action required". Besides that the release-note-label munger handles the two labels the same way.

[2017-08-14 21:07] yujuhong commented on #3982
I see. Thanks for looking into this!

[2017-08-14 21:07] #3982 closed

[2017-08-14 21:40] fejta commented on #769
Is this still relevant?

[2017-08-14 21:40] fejta commented on #840
/assign @michelle192837
/area testgrid

Won't testgrid have this ability in the near future? If so we should doc that and resolve this.

[2017-08-14 21:42] fejta commented on #1003
/assign @krzyzacy

Would you be willing to spruce up this page to provide better bootstrap info (and/or delete it)?

[2017-08-14 21:44] fejta commented on #1176
This looks dead.

Talk to @cjwagner if you still want this (submit queue, prow, etc)

[2017-08-14 21:44] #1176 closed

[2017-08-14 21:44] fejta commented on #1454
We can now use `kubetest --extract` to solve this

[2017-08-14 21:44] #1454 closed

[2017-08-14 21:45] krzyzacy commented on #3711
dead

[2017-08-14 21:45] #3711 closed

[2017-08-14 21:45] #3365 closed

[2017-08-14 21:45] fejta commented on #1033
testgrid.k8s.io -> click on the sig-foo button of interest
Alternatively
go.k8s.io/triage and click on the sig of interest

[2017-08-14 21:45] #1033 closed

[2017-08-14 21:46] fejta commented on #1597
/assign @spxtr

This seems out of date

[2017-08-14 21:46] #1597 closed

[2017-08-14 21:46] #1621 closed

[2017-08-14 21:46] fejta commented on #1624
/assign @cjwagner

Does this still happen? If not please close

[2017-08-14 21:47] krzyzacy commented on #3363
all prow jobs does not have quota requirement are using boskos now.

[2017-08-14 21:47] #3363 closed

[2017-08-14 21:47] #1695 closed

[2017-08-14 21:53] spiffxp commented on #3798
would the template be easier if there was a `/logs` equivalent of the `/pr/org/repo/1234` mapping added to gubernator in https://github.com/kubernetes/test-infra/pull/3797 ?

[2017-08-14 22:04] fejta commented on #1655
/assign @rmmh

I think we've made a lot of progress here?

[2017-08-14 22:04] #1655 closed

[2017-08-14 22:05] #1019 closed

[2017-08-14 22:07] fejta commented on #1144
Prow solves most of this, and we're slowly refactoring the submit queue to be org-wide
/cc @cjwagner

[2017-08-14 22:07] #1144 closed

[2017-08-14 22:07] rmmh commented on #1624
That code is gone, so I'm going to vote for no.

[2017-08-14 22:07] #1624 closed

[2017-08-14 22:07] fejta commented on #1775
We moved most e2e tests to their own sub directory

[2017-08-14 22:07] #1775 closed

[2017-08-14 22:08] fejta commented on #1615
If we label issues with a needs-design then gubernator can display that state, until then this won't happen

[2017-08-14 22:08] #1615 closed

[2017-08-14 22:09] #1974 closed

[2017-08-14 22:10] fejta commented on #1906
This still doesn't work

[2017-08-14 22:10] fejta commented on #1988
Update and/or close and/or add help-wanted?

[2017-08-14 22:11] fejta commented on #1616
/assign @rmmh
Probably one of the myriad gubernator missed the webhook instances

[2017-08-14 22:11] #1616 closed

[2017-08-14 22:15] fejta commented on #1728
We need to make progress on this, find and owner for it and/or close it.

[2017-08-14 22:16] fejta commented on #1755
We need to find an owner, update and/or close

[2017-08-14 22:21] fejta commented on #1782
Looks like we resolved most of these problems by using symlinks

[2017-08-14 22:21] #1782 closed

[2017-08-14 22:22] fejta commented on #1989
@BenTheElder is refactoring most of these jobs to trigger after we successfully build, which should help make this more obvious

[2017-08-14 22:22] #1989 closed

[2017-08-14 22:23] #2007 closed

[2017-08-14 22:24] fejta commented on #1468
/assign @smarterclayton
Looks like this PR is still alive (woo!)

[2017-08-14 22:25] fejta commented on #2072
/assign @yguo0905

Please update and/or close

[2017-08-14 22:26] #3835 closed

[2017-08-14 22:26] krzyzacy commented on #4032
/assign

watching, should be fixed with the latest image push

[2017-08-14 22:27] #881 closed

[2017-08-14 22:29] krzyzacy commented on #3371
yeah I think this would be a trivial change
/assign

[2017-08-14 22:29] fejta commented on #2224
Two pieces to this:
1) ensure that kubetest writes the --provider=FOO value into metadata.json
2) Add a https://github.com/kubernetes/test-infra/tree/master/metrics config which graphs Up for various jobs
3) Add this to velodrome

Will close this in 1.8 if it doesn't attract any interest/ownership

[2017-08-14 22:30] #2300 closed

[2017-08-14 22:30] fejta commented on #2329
/area bootstrap

Best way to fix this is to migrate bootstrap to golang

[2017-08-14 22:30] #2329 closed

[2017-08-14 22:31] #2379 closed

[2017-08-14 22:31] fejta commented on #2143
/assign @zmerlynn

I believe you added this logic to kubetest? Can we close if so?

[2017-08-14 22:32] fejta commented on #190
We should delete these VMs soon

[2017-08-14 22:33] fejta commented on #2043
Please update and/or close

[2017-08-14 22:35] fejta commented on #1795
Does anyone know about this site? I sure didn't! Maybe update the comment to link to it?

[2017-08-14 23:19] smarterclayton commented on #2043
I think this is still relevant.  Not sure the exact mechanism that will be best, but should be cheap.

[2017-08-14 23:20] smarterclayton commented on #172
Can we display a count in the table at the top?

[2017-08-14 23:44] fejta commented on #2154
Maybe file this in the release repo if you still want it?

[2017-08-14 23:44] #2154 closed

[2017-08-14 23:46] fejta commented on #2112
test-infra will upload whatever is in the `_artifacts` dir, and gubernator &c will show whatever is uploaded to GCS.

IMO this seems like a kubernetes/kubernetes change to the test infra there.

[2017-08-14 23:46] #2112 closed

[2017-08-15 01:09] krzyzacy commented on #4032
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#periodic-kubeadm-gce-1.7

recovered

[2017-08-15 01:09] #4032 closed

[2017-08-15 01:32] yguo0905 opened #4067 "Consider getting project for node e2e tests using boskos"
We currently need to hard code the project that will be used for running node e2e tests. We need to consider getting the test project using boskos. This can be done by adding the logic in node e2e test framework itself or by integrating node e2e tests into kubetest, which already supports this.

/assign

[2017-08-15 03:48] xiangpengzhao commented on #4057
Is this documented anywhere?

[2017-08-15 09:17] xiangpengzhao opened #4069 "k8s-ci-bot doesn't label `cncf-cla: yes` for PR"
See: https://github.com/kubernetes/kubernetes/pull/50657

The check `cla/linuxfoundation — u2takey authorized` shows cla authorized, but the bot doesn't label  `cncf-cla: yes` for it.

[2017-08-15 12:21] xiangpengzhao opened #4070 "bot should check if release note block is "NONE" when it is asked to label "/release-note""
See: https://github.com/kubernetes/kubernetes/pull/50665#issuecomment-322440476

The release note block of that PR was `NONE`, so it was labeled `release-note-none` after the PR being created.

Then I tried to comment `/release-note` to see what happened, the bot directly removed `release-note-none` and added `release-note` when PR didn't have meaningful release note.

Should it check the release

[2017-08-15 15:21] smarterclayton commented on #172
I'm going to fix this now

[2017-08-15 15:21] smarterclayton commented on #172
![result](https://www.dropbox.com/s/gwlsbdtcdykwnho/Screenshot%202017-08-15%2011.21.32.png?raw=1)

How about ^

[2017-08-15 15:50] xiangpengzhao commented on #4057
For this comment of mine, I take another look at the code, it's already not case sensitive:)

[2017-08-15 18:29] cjwagner commented on #4057
Currently it is written to explicitly ignore the PR if a release-note label has already been applied. [See here](https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/release-note-label.go#L128). I'm not sure why it is written that way, but modifying the label with a Prow command seems more intuitive to me anyways.

[2017-08-15 18:35] cjwagner commented on #4057
Not that I'm aware of, I found it by looking through the code. We should document it or switch to using only prow to manually adjust the release-note labels. I favor using Prow for this sort of thing since it is consistent with other bot commands and doesn't require users to be familiar with a special set of rules that determine which release note label gets applied.

[2017-08-15 18:38] cjwagner commented on #4057
I'm still not certain what the purpose of `release-note-action-required` is. It doesn't apply the `do-not-merge` label if the PR is lgtmed so it doesn't force the user to fix the release note before merging. I think if the release note requires work it should just be left blank or outside the release note section so that the `release-note-needed` label is used until the release note is finalized.

[2017-08-15 18:58] #4043 closed

[2017-08-15 19:02] kargakis commented on #4058
tide to the resqueue!

[2017-08-15 19:39] kargakis commented on #4015
If once a test fails, the github status of the PR is failed, then this should be fixed by tide w/o adding any new logic to the current proposal.

[2017-08-15 19:44] spiffxp commented on #3334
/assign @kargakis
I'm guessing you can confirm prow runs on OpenShift, which would qualify as Not GKE

[2017-08-15 20:18] stevekuznetsov commented on #4015
OK, sounds good.

[2017-08-15 23:11] sebastienvas opened #4072 "Prow: Ability to have build status in Deck"
We use postsubmit jobs status to defline if a component is green like so:
https://github.com/istio/pilot/blob/master/README.md

Both Jenkins and Travis provide this, it would be good to have a addon to deck for this.

[2017-08-16 00:05] BenTheElder opened #4074 "Prow: jobs trees should be able to share data"
We'd like to be able to use `run_after_success` to do builds and then run tests against them, previous discussion here: https://github.com/kubernetes/test-infra/pull/4047

In order to do this we need a common ID or path from which to determine a common path between jobs and their run_after jobs.

[2017-08-16 00:05] BenTheElder commented on #4074
/area prow
/assign

[2017-08-16 00:10] BenTheElder commented on #4074
Previously mentioned options:
- inform job runs of their UID and "parent" UID for the job they ran after
- use an "invocation ID" for a tree of jobs
- use git SHAs

[2017-08-16 01:07] BenTheElder commented on #1693
In the short term adding a periodic refresh to the page would be pretty simple, how often are you checking it?

[2017-08-16 01:11] BenTheElder commented on #769
See also https://docs.google.com/document/d/18xKXUTKH8-XQb3lfz69nY3LfiF5c9tXPFcwwaraZdjs/edit# for a proposal to overhaul the build log in general. /cc @stevekuznetsov

[2017-08-16 02:49] xiangpengzhao opened #4077 "Consider removing "release-note-experimental" label"
We have a label `release-note-experimental` which was introduced by https://github.com/kubernetes/test-infra/commit/ce1d7561be754e5cc5b3f7df950f2de49d7c846a. But it is never used in any repo (at least K/K, test-infra, community).

We'd better remove it to avoid confusion. If a PR in K/K has label `do-not-merge`, bot will comment as below. Note that `release-note-experimental` is listed in the comm

[2017-08-16 02:58] xiangpengzhao commented on #4057
`release-note-action-required` tells users what they should do when updating to this release. It is mostly used to label PRs which include feature graduation or replacement, e.g. graduate from annotations to field.

See example:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#action-required
https://github.com/kubernetes/kubernetes/pull/48353
[code]

https://github.com/kubernete

[2017-08-16 03:01] cjwagner commented on #4077
Its not used anywhere in the kubernetes org. https://github.com/search?q=org%3Akubernetes+label%3Arelease-note-experimental

[2017-08-16 03:04] cjwagner commented on #4057
Ah, that makes sense. I thought the label indicated that the release note itself required changes before being complete.

[2017-08-16 03:13] xiangpengzhao commented on #4057
So it's indeed necessary to document it here: https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#write-release-notes-if-needed

:smile:

[2017-08-16 03:15] xiangpengzhao commented on #4077
Then it would be safe to remove it :)

[2017-08-16 06:30] madhusudancs commented on #769
@fejta yeah, I think this is still relevant.

@BenTheElder where can I follow the progress of this project?

[2017-08-16 06:36] BenTheElder commented on #769
@madhusudancs I've left a comment about that on the doc, I think Steve has started working on this but hasn't opened any issues or PRs yet. I'll follow here when that changes.

[2017-08-16 06:38] madhusudancs commented on #769
Sure, thanks.

[2017-08-16 09:19] jolestar opened #4079 "Prow issue: test"
test

[2017-08-16 09:20] #4079 closed

[2017-08-16 11:18] kargakis commented on #3334
We don't run prow on OpenShift today because we don't support TPRs in 3.6
(k8s 1.6) but we support CRDs in 3.7 (k8s 1.7) and we are going to move
[prow on OpenShift] soon. From my tests, prow is working fine on 3.7 given
we have the right RBAC rules in place. Will keep this thread posted once we
switch.

On Tuesday, August 15, 2017, k8s-ci-robot <notifications@github.com> wrote:

https://ci3.googl

[2017-08-16 11:44] dims opened #4080 "Sync Repo script is not working"
Looking for clues on how the git repo sync'ing worked (prompted by email to -dev mailing list), found the instructions/details for the bot here:
https://github.com/kubernetes/test-infra/tree/master/mungegithub/publisher

So i checked the kubernetes-sha(s) in various repos Looks like the bot has not run for at least 2 weeks now. Last run i can see was on Aug 1st.

https://github.com/kubernetes/api/

[2017-08-16 11:47] dims commented on #4080
/assign @caesarxuchao

[2017-08-16 11:49] dims commented on #4080
@caesarxuchao will you be able to help with this?

[2017-08-16 12:24] sttts commented on #4080
/cc @rmmh can you take a look?

[2017-08-16 13:08] kargakis commented on #4015
Let's keep this open until it's actually fixed.

[2017-08-16 13:08] kargakis commented on #4015
/area prow

[2017-08-16 13:15] stevekuznetsov commented on #769
Yeah we're still in the design proposal phase. No concrete work yet.

[2017-08-16 13:16] stevekuznetsov commented on #769
Having link-able, scroll-able and numbered lines is definitely something that is useful though.

[2017-08-16 13:21] kargakis commented on #4072
/area prow

[2017-08-16 14:29] mtaufen commented on #1988
I'm going to close it. This isn't really that important.

[2017-08-16 14:29] #1988 closed

[2017-08-16 17:09] apelisse opened #4083 "Bazel is missing some failures"
[This pull-request](https://github.com/kubernetes/kubernetes/pull/50558) is removing `pkg/watch/doc.go` but doesn't update the corresponding `BUILD` file. It should fail to `bazel build`, shouldn't it?

EDIT: It's also missing `pkg/api/errors/doc.go`.

[2017-08-16 17:47] krzyzacy commented on #4083
[code]

hummmm because there's no binary affected?

[2017-08-16 17:48] krzyzacy commented on #4083
Maybe we'll need something like `verify/update-bazel` in k/k as well.

[2017-08-16 17:50] ixdy commented on #4083
hm, this is tricky.

We didn't catch this in presubmit tests because we only run affected builds/tests, and we [filter out deletions from the git diff](https://github.com/kubernetes/test-infra/blob/e055c28529275bd25eca697eaba4d5d08d6811f2/scenarios/kubernetes_bazel.py#L61) because that can cause us to try to test things that don't exist.

The rule not getting deleted in a gazelle bug (https://gith

[2017-08-16 17:50] ixdy commented on #4083
I'm a little surprised the `bazel query` didn't fail, but I guess it only looks at BUILD rules, not at the actual sources underneath.

[2017-08-16 17:58] BenTheElder commented on #4074
After some more discussion I'm in favor of using `gs://some-bucket/$PULL_REFS/` and allowing jobs to take it from there. All jobs should know this without modification to Prow and this will be more useful to debug than a UUID. We can have bootstrap handle uploading a dir similar to `_artifacts/` -> `gs://<log path>/artifacts` (`_results/` -> `gs://some-bucket/$PULL_REFS/$job/` ?) and then child jo

[2017-08-16 18:59] pipejakob opened #4085 "Add kubeadm-gce (master) job to release-master-blocking tab"
Based on [this email](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-wg-contribex/3jvdBTFyL14/CQ8Vn_eMBwAJ) about the first upcoming 1.8 alpha release, it sounds like we should add kubeadm's [master e2e CI job](https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce) to the `release-master-blocking` tab on testgrid so that we track resolving it to gr

[2017-08-16 19:02] spxtr commented on #4074
Sounds good, and I'm a fan of not complicating prow's interface for a feature that is already possible.

[2017-08-16 22:08] #172 closed

[2017-08-16 22:24] krzyzacy commented on #3679
http://velodrome.k8s.io/dashboard/db/boskos-dashboard?orgId=1

[2017-08-16 22:24] #3679 closed

[2017-08-16 23:20] ixdy commented on #1728
We've got a [script](https://github.com/kubernetes/test-infra/blob/master/experiment/find-merge-conflicts.sh) that does this now. There's no automation for it, though.

[2017-08-16 23:48] spxtr commented on #1728
We can run the script in a periodic job and shove the results in some database. Possibly rewrite it in go first.

[2017-08-17 00:26] ixdy commented on #3412
`jenkins-node` was useful when we had misbehaving jenkins agents and wanted to track down failures to a bad machine. it's less relevant now.

[2017-08-17 02:18] david-mcmahon commented on #4077
This was added by request way back then.  Unfortunately there's no single canonical place to add a label like this and have it Just Work.   You need to add it to the munger code, then you have to physically add the label in github.  I suspect at some point someone removed it from github and now we have this dangling reference to it in the munger.   Cc'ing other folks who may have an opinion.

cc @

[2017-08-17 09:06] #3794 closed

[2017-08-17 09:15] kargakis commented on #4057
/area prow

[2017-08-17 13:39] luxas commented on #4085
I think that makes a lot of sense; as it is release blocking later in the cycle anyway

[2017-08-17 15:51] shyamjvs opened #4095 "Testgrid not showing results on kubemark-small-1.5 dashbaord"
Even though the test is passing - https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-1.5
the dashboard isn't showing results - https://k8s-testgrid.appspot.com/sig-scalability#kubemark-small-1.5

/cc @fejta @krzyzacy

[2017-08-17 17:25] krzyzacy commented on #4095
/assign @michelle192837
/unassign @fejta

[2017-08-17 17:32] krzyzacy commented on #4095
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-1.5/17398/

WHAT... build 17398 has been triggered & unfinished?

[2017-08-17 17:33] krzyzacy commented on #4095
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce-1.5/17397/ was finished, something happened around 2017-07-13 07:31 PDT?

[2017-08-17 17:42] krzyzacy commented on #4095
/unassign
/unassign @michelle192837
/assign @shyamjvs

see my comments in https://github.com/kubernetes/test-infra/pull/3480#issuecomment-323143596, feel free to self-serve

[2017-08-17 18:02] shyamjvs commented on #3977
just fyi - @ignacyk

[2017-08-17 18:06] spxtr opened #4099 "Sinker: keep around periodic jobs"
https://github.com/kubernetes/test-infra/issues/3977#issuecomment-321113759

https://github.com/kubernetes/test-infra/issues/3977#issuecomment-321115445

/area prow

[2017-08-17 19:11] BenTheElder commented on #4074
In the future we'll probably want something else like this but for now it looks like the only use case is separating build jobs and test jobs which works without even bootstrap knowing about this, just those scenarios. We can circle back to this later if there is more interest.

If anyone has a different concrete need please reopen or reference this issue and I'll look again.

[2017-08-17 19:11] #4074 closed

[2017-08-17 20:47] krzyzacy commented on #4095
/assign

simpler to wipe it, as it's not showing anything

[2017-08-17 21:14] krzyzacy commented on #4085
/assign @pipejakob
feel free to send me a PR

[2017-08-17 21:15] krzyzacy commented on #4083
Actually let's leave this open until we flip `--affected` back.

[2017-08-17 21:36] #2926 closed

[2017-08-17 21:37] krzyzacy commented on #4095
https://k8s-testgrid.appspot.com/sig-scalability#kubemark-small-1.5 it will start populate.

[2017-08-17 21:37] #4095 closed

[2017-08-17 21:38] shyamjvs commented on #4095
Thanks for fixing.

[2017-08-17 23:06] spiffxp opened #4106 "Add `committee/foo` label support to prow label plugin"
ref: https://github.com/kubernetes/community/issues/921
ref: https://github.com/kubernetes/test-infra/pull/4089

[2017-08-17 23:23] spiffxp commented on #4106
ping @cblecker since you've got context

[2017-08-18 00:17] cheftako opened #4108 "How to add new service log file to e2e testing results?"
Working on adding cloud-controller-manager to the master. (https://github.com/kubernetes/kubernetes/pull/50811) The new log file /var/log/cloud-controller-manager.log is being created. However I cannot find a link to the file from within the e2e test results. How do I make the new log file available in the test results?

[2017-08-18 12:08] kargakis opened #4109 "MaxConcurrency is not working"
While refactoring plank in https://github.com/kubernetes/test-infra/pull/3887 I noticed that the pendingJobs cache is never updated when jobs transition from pending to success/failure. My theory is that maxConcurrency (introduced in https://github.com/kubernetes/test-infra/pull/3576) will not work after a while but I still haven't tested it and I may be wrong.

/cc @nlandolfi @spxtr

/area prow
/

[2017-08-18 12:14] kargakis opened #4110 "report package does not need to depend on prow/config"
After https://github.com/kubernetes/test-infra/pull/3887 gets merged, we are going to have a new package that handles posting comments and updating statuses in github (prow/report). Instead of passing it the config agent, we could simply pass the url template that it needs for updating github.

/area prow
/assign

[2017-08-18 12:49] kargakis commented on #4099
Another thing that I noticed in a periodic* job that we run outside of jenkins is that the pod is deleted after a while (not by sinker but by plank). Isn't pod GC something that should be handled by sinker as opposed to plank? Not being able to access logs from the latest job run seconds/minutes after the job finished is annoying.

* probably not related to the job type

[2017-08-18 13:27] stevekuznetsov opened #4112 "prow: expose the same set of environment variables to all jobs"
Today, variables like `$REPO_OWNER` get exposed to jobs that start in a `Pod` but not in Jenkins. We should aim to have the [list](https://github.com/kubernetes/test-infra/tree/master/prow#how-to-add-new-jobs) be accurate for all jobs that are started, no matter what.

/area prow

/cc @kargakis

[2017-08-18 13:27] stevekuznetsov commented on #4112
/assign

[2017-08-18 17:36] spxtr opened #4114 "golint plugin should ignore vendor/"
/area prow
/kind bug

[2017-08-18 17:44] #4108 closed

[2017-08-18 17:44] cheftako commented on #4108
https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/log-dump.sh#L42

[2017-08-18 18:05] xiangpengzhao commented on #4083
Hmm, my bad. I do believe I had run `hack/update-bazel.sh` and committed all the files it touched before I created https://github.com/kubernetes/kubernetes/pull/50558 :)

[2017-08-18 18:06] apelisse commented on #4083
@xiangpengzhao Absolutely not your fault. The problem comes from the system that didn't catch that :-)

[2017-08-18 18:14] xiangpengzhao commented on #4083
@apelisse :smile:

[2017-08-18 18:33] krzyzacy commented on #3868
https://github.com/kubernetes/test-infra/pull/4107

[2017-08-18 18:33] #3868 closed

[2017-08-18 21:53] #4114 closed

[2017-08-18 21:56] krzyzacy opened #4119 "Trigger node e2e from kubetest"
Move non-e2e logic from https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/runner/remote/run_remote.go to kubetest, and we can merge kubelet scenario into e2e scenario.

[2017-08-19 00:19] spiffxp commented on #1003
/kind documentation

[2017-08-19 00:22] spiffxp commented on #1755
/area mungegithub
lgtm-after-commit munger

[2017-08-19 00:23] spiffxp commented on #1468
/close
🌟  for @smarterclayton

[2017-08-19 00:23] #1468 closed

[2017-08-19 00:28] spiffxp commented on #4069
/area prow
/close
seems like the label was added, please re-open if this occurs again

[2017-08-19 00:28] #4069 closed

[2017-08-19 00:36] xiangpengzhao commented on #4069
yeah seems like the original issue was because the contributor's git config.

[2017-08-19 08:02] xiangpengzhao opened #4128 ""release-note-label-needed" is not always labeled when PR body is empty"
When PR body is empty, `release-note-label-needed` should be labeled as per https://github.com/kubernetes/test-infra/pull/3856. But sometimes bot doesn't label it in this case.

See in one PR: https://github.com/kubernetes/kubernetes/pull/50923
The label wasn't labeled at least in 10 minutes. I finally labeled it manually.

I send a PR https://github.com/kubernetes/kubernetes/pull/50955 to test th

[2017-08-19 16:40] luxas commented on #3606
@krzyzacy @fejta Any movement on this one?
I think it's painful to see hand-made updates/bumps of the image tag for `kubekins-(e2e|test)`, can we do better?
For instance:
`make -C jenkins/test-image update-dependencies` would update consumer tags for `kubekins-e2e` and also run `make -C jenkins/e2e-image update-dependencies` in turn; which would bump consumer tags in `images/kubeadm` && `images/e2

[2017-08-19 17:34] krzyzacy commented on #3606
https://github.com/kubernetes/test-infra/blob/master/experiment/bump_e2e_image.sh is working pretty well, I guess we can add kubeadm there as well.

[2017-08-19 17:37] krzyzacy commented on #3606
/assign

[2017-08-20 11:21] kargakis commented on #1755
Soon, something that will be handled by prow: https://github.com/kubernetes/test-infra/pull/3821
/area prow

[2017-08-21 01:47] xiangpengzhao opened #4132 "Delete stale comment when fejta-bot triggers a new retest"
When a PR with both `approved` and `lgtm` fails CI, `fejta-bot` (cool icon!) will trigger retest after hours. But in some case, the CI may fail every time due to the same flake. `fejta-bot` will comment that it triggers the retest (and then the test fails) again and again. There may be many comments. See in https://github.com/kubernetes/kubernetes/pull/50678

How about deleting the stale comment w

[2017-08-21 01:48] xiangpengzhao commented on #4132
/assign @fejta

[2017-08-21 16:29] luxas opened #4137 "Terminate all other batch jobs if one job failed"
I don't know if this actually is the case or if there is an other issue to track this, but I noticed that the batch jobs in https://prow.k8s.io/?type=batch just continued to run; although two jobs flaked really early on.

Shouldn't we just terminate all the others, quickly recycle things and move on to the next batch in that case? Would be an useful improvement I think

cc @spiffxp @fejta @rmmh @i

[2017-08-21 17:59] spxtr commented on #4137
/area prow

It's a good idea, but we have a problem where if we terminate an e2e job it will leak the cluster.

[2017-08-21 18:11] luxas commented on #4137
@spxtr How easy is it to automatically GC those clusters?

[2017-08-21 18:32] cjwagner commented on #4128
I think that the deployment was out of date, I fixed that bug in #3856. I updated the deployment, please reopen this issue if you see that happen again.

[2017-08-21 18:32] #4128 closed

[2017-08-21 18:37] kargakis commented on #4137
Dupe of https://github.com/kubernetes/test-infra/issues/4015

[2017-08-21 18:37] #4137 closed

[2017-08-21 18:46] krzyzacy commented on #4137
@luxas boskos can handle GC like this case better, so once we split up build/test, and move all actual pr-test jobs to prow, this will be more viable.

[2017-08-21 20:59] #3606 closed

[2017-08-21 21:04] xiangpengzhao commented on #4128
ok:)

[2017-08-21 21:40] BenTheElder commented on #3882
@stevekuznetsov @cjwagner should this be closed now?

[2017-08-21 21:47] #3882 closed

[2017-08-21 22:17] spxtr opened #4140 "Infer the github bot name from the token."
We are currently passing `--github-bot-name` to several components. Instead, we can do one of two things:

1. Put the bot name in the actual token secret itself.
2. Lazily ask GitHub's API for the current user and cache it.

[2017-08-22 00:45] enisoc opened #4143 "verify test not completing"
The verify test has been unable to finish for a while on the 1.6 branch, and there are no logs:

https://k8s-testgrid.appspot.com/google-unit#verify-1.6
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-release-1.6/8470

[2017-08-22 03:35] jinzhejz commented on #4080
Hi all, is there any update for this issue?

[2017-08-22 15:17] sttts commented on #4080
Only update is that I started working on this today to make progress.

[2017-08-22 17:30] #3805 closed

[2017-08-22 19:43] nlandolfi commented on #4109
Right

If I recall correctly, I figured that they would just be started in the next synchronization.

Perhaps we should delete them from the cache? I didn't like this originally because it seemed like I need to _order_ the jobs or do two passes because otherwise it would still be possible that you saw a job that looked like it was maxed out but then after synchronizing and not starting it you saw

[2017-08-22 20:03] kargakis commented on #4109
Why not handle pending jobs first and then start new jobs? It seems that you don't even need the cache.

[2017-08-22 20:20] nlandolfi commented on #4109
yeah you're right

[2017-08-22 21:23] spxtr opened #4157 "Enable the size plugin everywhere, delete the size munger"
@nlandolfi

[2017-08-23 17:42] krzyzacy opened #4162 "Testgrid presubmit page does not have correct gubernator link"
i.e. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-bazel/37650 is not correct

/assign

[2017-08-23 20:30] rmmh commented on #4162
We could fix this on the Gubernator side if fixing it on testgrid is too annoying.

[2017-08-23 20:36] krzyzacy commented on #4162
@rmmh My thoughts:

From testgrid:
- Inject pr number to metadata
- Make open_test_template to be something like guber/build/kubernetes-jenkins/pr-logs/pull/<pr>/<job>/<build>
- In testgrid expand it properly somehow

From gubernator:
(Seems https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kops-aws/ already has the right links) - If it can somehow

[2017-08-23 21:16] rmmh commented on #4162
/assign

I'll do this in Gubernator.

[2017-08-23 21:17] krzyzacy commented on #4162
@rmmh thanks!

[2017-08-23 22:02] #4162 closed

[2017-08-23 22:41] krzyzacy commented on #3321
http://k8s-testgrid.appspot.com/kubernetes-presubmits

[2017-08-23 22:41] #3321 closed

[2017-08-23 22:42] krzyzacy commented on #2629
https://github.com/kubernetes/test-infra/pull/4117

are there any more places we care?

[2017-08-24 00:19] spxtr opened #4171 "//mungegithub/mungers:go_default_test is flaky"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4169/pull-test-infra-bazel/6082/

Spotted in the wild by @BenTheElder
/area mungegithub
/kind bug

[2017-08-24 00:27] #2546 closed

[2017-08-24 00:27] BenTheElder commented on #4171
I think this one has flaked on me once before as well.

On Aug 23, 2017 17:19, "Joe Finney" <notifications@github.com> wrote:

[2017-08-24 00:40] spxtr commented on #4171
@marun just added this test a few hours ago. [This line](https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/milestone-maintainer_test.go#L317) is converting to a map then back to a list, and map order is not guaranteed.

[2017-08-24 00:54] BenTheElder commented on #4171
The connection failures looked familiar: https
://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4002/pull-test-infra-bazel/5934/
<https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4002/pull-test-infra-bazel/5934/>

On Aug 23, 2017 17:41, "Joe Finney" <notifications@github.com> wrote:

[2017-08-24 01:11] spxtr commented on #3639
I guess this is a Will Not Fix since it's not worth it when we want to tear down mungegithub entirely.

[2017-08-24 01:11] #3639 closed

[2017-08-24 13:45] stevekuznetsov opened #4179 "mungegithub: blunderbuss: could we use GH reviewers instead of assignees?"
The mix of terminology between reviewers and assignees is confusing to new users to the system. Could `blunderbuss` request review from the members that it requires review from? If we think we want to continue allowing anyone to do a review and `/lgtm`, we should be OK to use reviewers even though anyone can change that list (as opposed to assignees, which are more locked down).

/cc @fejta @cjwag

[2017-08-24 16:51] yutongz opened #4182 "Prow failed to create _bazel_bootstrap dir"
Istio prow is suffering from a increasing severe issue.

`W0818 21:11:19.327] INFO: $TEST_TMPDIR defined: output root default is '/home/bootstrap/.cache/bazel'.
W0818 21:11:19.327] Error: mkdir('/home/bootstrap/.cache/bazel/_bazel_bootstrap'): (error: 13): Permission denied`
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_auth/242/auth-presubmit/140/

We have a issue with full conte

[2017-08-24 16:51] yutongz commented on #4182
cc @sebastienvas

[2017-08-24 17:31] spxtr commented on #4171
The particular test failure I linked in the first post is fixed. Lets use a new issue for any other errors.

[2017-08-24 17:31] #4171 closed

[2017-08-24 20:43] cjwagner commented on #4179
Are you suggesting making blunderbuss request reviews from users instead of assigning them? That sounds fine to me. I don't think its a very important distinction though, they both request that the user looks at a PR.
I'm not sure what you mean by assignees being more locked down than reviewers though or reviewers being changed by anyone. How could anyone change the reviewers list? The list is in

[2017-08-24 21:21] #4157 closed

[2017-08-24 21:27] #3402 closed

[2017-08-24 21:45] stevekuznetsov commented on #4179
Yeah, it's not a huge thing but new users to the robot as we are seeing get pretty confused between the "reviewer" terminology in the OWNERS file and the fact that these members get added as assignees, not as reviewers, in GitHub.

Sorry -- this is an example of the confusion -- I meant the list of people in the reviewers bucket on GitHub, not the `reviewers:` list in OWNERS.

[2017-08-24 21:52] cjwagner commented on #4179
Ah I see what you mean. I don't think that the reviewers bucket on github is any more locked down than the assignees bucket though. At least for me when I go to a PR in kubernetes/kubernetes I cannot manually assign a reviewer or approver with the github buckets (I have to use a prow command). This seems like a good change to me though in any case.

[2017-08-24 21:53] stevekuznetsov commented on #4179
I'm not super clear on all of the interaction with the reviewer bucket, but I think if you do a review, you get added as a reviewer, regardless of whether a review was requested of you or not. This actually sounds like the current status of `/lgtm` (we add you as an assignee if you do it). I'll write a PR to see what the change looks like.

[2017-08-24 22:32] krzyzacy commented on #4143
looks recovered?

Might be related to few of our Jenkins vms ran out of memory?

[2017-08-24 22:32] #4143 closed

[2017-08-25 11:06] shyamjvs commented on #4046
@krzyzacy Can you bump prow image with the new kubekins image I changed in https://github.com/kubernetes/test-infra/pull/4187? This is required to enable logexporter for all gke jobs. Thanks.

[2017-08-25 11:56] justinsb opened #4195 "kops flake: retry download of kube"
Saw this; we should probably retry the kube download:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kops/3240/pull-kops-e2e-kubernetes-aws/2690/

I'd like to have a look at this myself, so assigning to myself at least to understand where the fix would be.

Edit: so I can't assign it to myself, but I'll have a look anyway...

[2017-08-25 15:56] #3829 closed

[2017-08-25 16:15] krzyzacy commented on #4046
@shyamjvs you can run ./experiment/bump_e2e_image.sh and push the commits

[2017-08-25 17:16] shyamjvs commented on #4046
Done - thanks
https://github.com/kubernetes/test-infra/pull/4197

[2017-08-25 17:51] #4140 closed

[2017-08-26 09:57] wongma7 commented on #2868
I'm extremely late to this, so sorry for reviving an old discussion, but having just been bit by it I'd like to voice my displeasure with how it's is implemented :).

The PR template needs to be updated, because it doesn't mention this requirement and in fact has confusing wording: it says linking to which issue the PR fixes is "optional," but it's only the "fixes/fix" part that's optional.

k8s-m

[2017-08-26 12:06] justinsb commented on #4195
This is in `cluster/get-kube.sh` in kubernetes.  We call `curl` with the retry option, but I believe curl does not retry on all errors, and this is one on which it does not retry.

Best fix is probably to move that download code to golang, or wrap the download in a bash retry loop.

[2017-08-28 01:43] fejta commented on #4132
So fix the tests to make them less flaky? And/or `/lgtm cancel` if it is clear the PR does not work.

I am not a fan of deleting `/retest` comments. This erases valuable information and signals about the health of our testing.

Note that the referenced PR eventually merged after 16 `/retest` attempts.

[2017-08-28 02:23] xiangpengzhao commented on #4132
Many comments with the same contents seem somewhat noisy before the flake is fixed.

The assignees won't get notified when the flake is fixed. It's hard for them to determine when to lgtm again, so they may not want to cancel lgtm when there is flake not caused by the PR.

Maybe we can indicate the failure times in the new comment from your bot?

cc @stevekuznetsov

[2017-08-28 03:07] stevekuznetsov commented on #4132
Sure, we could add a counter. @fejta given the API token pressure from the feature, do you expect you'd turn it on for k8s?

[2017-08-28 18:17] #4112 closed

[2017-08-29 00:47] pipejakob commented on #4044
Once these two PRs are merged, I should be able to update the e2e-kubeadm image to use upstream kubernetes-anywhere again:

https://github.com/kubernetes/kubernetes-anywhere/pull/439
https://github.com/kubernetes/kubernetes-anywhere/pull/440

Thanks to @shashidharatd for upstreaming my other patches.

[2017-08-29 10:27] kargakis opened #4233 "Testgrid jenkins validation should use the new agent field"
Testgrid assumes that all periodic and postsubmit jobs do not run on Jenkins which was one of the reasons for adding the `agent` field in the prow config in https://github.com/kubernetes/test-infra/pull/3888 (most of our postsubmit jobs in Openshift run on Jenkins today).

https://github.com/kubernetes/test-infra/blob/d2991cee9b543974208fc5c290ab436bcb31f0c8/testgrid/jenkins_verify/jenkins_validat

[2017-08-29 17:11] spxtr commented on #3407
I agree, and using a URL template + a k8s service sounds like a reasonable idea.

[2017-08-29 18:01] #4233 closed

[2017-08-29 18:54] kargakis commented on #3407
Another option to not assuming auth that generically covers at least basic auth and token auth is to have an `--external-config-path` option where we mount a secret that contains http headers which are applied in deck on every request to the url template.

[2017-08-29 20:39] stevekuznetsov opened #4240 "prow: determine roadmap for github client in prow"
Today, an internal client is used for GitHub interaction in Prow, unlike in mungegithub. What are the long-term plans for this? Do we intend to maintain this internal client? Do we intend to migrate in the future? What are the pros and cons we see for both approaches?

/cc @spxtr @kargakis @fejta @marun

[2017-08-29 20:47] spxtr commented on #4240
Do you mean [k8s.io/test-infra/prow/github](https://github.com/kubernetes/test-infra/tree/master/prow/github)? I originally used go-github, but there were a few reasons to switch:

1. go-github doesn't handle retries or pagination. I needed those things for all calls, so I needed to wrap its calls anyway.
1. go-github had some strange flakes that I've forgotten all about.
1. go-github is more diff

[2017-08-29 20:59] stevekuznetsov commented on #4240
Are the upstream authors against adding support for this?

If we keep the current:

[code]

wrappers that we have today, I'm not sure that gets any harder for us

It is, but it feels like the dark ages when everything is stringly-typed and non-discoverable.

[2017-08-29 20:59] stevekuznetsov commented on #4240
This is a compelling reason not to worry about changing any of the current client code

[2017-08-29 21:02] spxtr commented on #4240
Nope, since it's still pretty experimental. Feel free to either open a new issue or turn this one into a tracking issue.

Not sure, but as long as we vendor it it's not too painful. I doubt that the general structure will change much, since it currently supports most operations.

[2017-08-29 21:07] spxtr commented on #4240
I think it's outside the scope of go-github. Their library is simply a thin wrapper around the API.

:european_castle: :crossed_swords: :crown: I don't think it's stringly-typed, but it certainly is non-discoverable.

[2017-08-29 21:41] yguo0905 opened #4245 "/approve no-issue not working?"
The PR https://github.com/kubernetes/kubernetes/pull/51466 has no associated issue. But it's not able to get approval when `/approve no-issue` is applied (https://github.com/kubernetes/kubernetes/pull/51466#issuecomment-325803981).

[2017-08-29 21:41] yguo0905 commented on #4245
Manually added the approval label.

[2017-08-29 21:49] shyamjvs commented on #4245
@cjwagner Told ya so :)
Ref - https://github.com/kubernetes/kubernetes/pull/51282#issuecomment-325471091

[2017-08-29 22:18] stevekuznetsov commented on #4240
Cool. I'll open an issue to move to the graph API. Thanks for the insights!

[2017-08-29 22:18] #4240 closed

[2017-08-29 22:19] stevekuznetsov opened #4247 "prow: migrate github interaction to the graphql API"
Moving forward, new interaction with the GitHub API should be using the v4 API.

ref: https://github.com/kubernetes/test-infra/issues/4240#issuecomment-325799176

/cc @spxtr
/area prow

[2017-08-29 22:33] krzyzacy opened #4249 "kops-gce job fails due to tooManyAccessControlEntries"
/assign
/assign @pipejakob @roberthbailey

[2017-08-29 22:49] cjwagner commented on #4245
That comment didn't work because the `no-issue` argument included a period (i.e. `no-issue.`). I will make a PR to make the check for a `no-issue` argument less strict. This doesn't apply to #51005 though, I'm still looking into what happened there.

[2017-08-29 22:54] yguo0905 commented on #4245
We tried twice. The first one has the extra dot, but the second does not.

The second one is here: https://github.com/kubernetes/kubernetes/pull/51466#issuecomment-325803981.

[2017-08-29 23:12] BenTheElder commented on #4247
I added a quick example of using the v4 API to fetch issues I had in #4248, but really only the query is particularly interesting. #4113 / #3866 should provide better (golang) examples.

It seems pretty clear that the GitHub API in general is moving towards v4 / GraphQL:
https://githubengineering.com/the-github-graphql-api/
https://developer.github.com/v4/#why-is-github-using-graphql

[2017-08-30 00:23] BenTheElder commented on #3370
/assign

[2017-08-30 00:23] BenTheElder commented on #3371
/assign

[2017-08-30 00:27] BenTheElder commented on #2878
Noting that I ran into this recently when working on #4169. We still have some python deps that aren't handled by bazel. https://github.com/kubernetes/test-infra/pull/4169/files#diff-1ac0b76096c24dc7d37ac127538887d7R37

[2017-08-30 00:32] BenTheElder commented on #2697
Looks like the current status is everything except gubernator and mungegithub?
https://github.com/kubernetes/test-infra/blob/2dba2cb65ad7a34c3bcb6d2f12b26e0ab2f742fb/verify/verify-pylint.sh

[2017-08-30 00:35] cjwagner commented on #4245
Hmmm. I've spent a few hours trying to reproduce the error locally, but I haven't been able to. When I run an instance locally it correctly identifies the `no-issue` arguments and approves the PR. I'm using the same commit that is deployed and the same credentials so I'm not sure why the behavior differs. I'll take another look tomorrow.

[2017-08-30 00:45] BenTheElder commented on #1342
It looks like the current state is that we're down to just:
[code]
I'm not sure if people are still using `diff-job-config-patch.sh` but it seems like the "jenkins_verify" script isn't doing anything particularly special that couldn't be done in prow, am I missing something?

[2017-08-30 00:48] krzyzacy commented on #1342
So they ensure
- you don't do crazy stuff with Jenkins config
- all Jenkins jobs has a valid testgrid entry

we probably still want the coverage since we still *support* Jenkins

[2017-08-30 00:50] BenTheElder commented on #1342
It looks to me like it also checks prow jobs, but what about `./testgrid/jenkins_verify/verify.sh` needs to be run from travis (other than the current script using docker containers to run the go code)?

[2017-08-30 00:52] krzyzacy commented on #2697
mostly https://github.com/kubernetes/test-infra/blob/2dba2cb65ad7a34c3bcb6d2f12b26e0ab2f742fb/mungegithub/issue-labeler/simple_app.py, I'm just lazy.

gubernator has it's own lint rule and run in a different test

[2017-08-30 00:53] BenTheElder commented on #1342
Spoke to @krzyzacy, it sounds like we just need to leave these until Jenkins is gone (#3778) and then we can remove them.

[2017-08-30 00:55] BenTheElder commented on #2697
@krzyzacy so if I fix mungegithub's lints we can close this?

[2017-08-30 00:56] krzyzacy commented on #2697
yep

[2017-08-30 00:57] BenTheElder commented on #2697
/assign

[2017-08-30 15:07] marun commented on #4247
So the plan is for prow to implement its own github client rather than trying to consume and contribute to a shared effort?

[2017-08-30 16:25] BenTheElder commented on #4247
We're using a shared GraphQL library, but fundamentally in GraphQL you
construct queries that return only the fields you want so a common GitHub
library for everyone doesn't make much sense.

On Aug 30, 2017 08:08, "Maru Newby" <notifications@github.com> wrote:

[2017-08-30 17:12] stevekuznetsov commented on #4247
As I understand it the plan is to use https://github.com/shurcooL/githubql

[2017-08-30 17:18] spxtr commented on #4247
@BenTheElder you are correct in a sense. The library will look like a wrapper around `Query(...)` and `Mutate(...)` calls in that library with retries. We won't have individual methods for various queries, except maybe for a few regularly-used ones.

[2017-08-30 17:25] #2697 closed

[2017-08-30 17:43] BenTheElder commented on #4247
Right, what I meant to say is that it makes sense for test-infra to share a
library but other projects will need their own queries so something like
go-github for the v4 API wouldn't do much. You mostly need a graphql
library and your specific queries.
Upstream issue here: https://github.com/google/go-github/issues/646

On Aug 30, 2017 10:18, "Joe Finney" <notifications@github.com> wrote:

[2017-08-30 19:16] kargakis commented on #3334
Successfully migrated on Openshift 3.7 today! Hooray! I will follow-up with the rbac rules.

[2017-08-30 19:16] #3334 closed

[2017-08-30 19:28] BenTheElder commented on #4182
It looks like https://github.com/istio/test-infra/issues/396 was closed?

[2017-08-30 19:31] sebastienvas commented on #4182
Yes please close this.

[2017-08-30 19:32] #4182 closed

[2017-08-30 21:12] stevekuznetsov commented on #4247
The struct tag method of giving query parameters to that GraphQL API library is more than a little foreign and un-Go-like unfortunately.

[2017-08-30 21:18] BenTheElder commented on #4247
I thought so too at first, but having statically typed fields is nice, and
you can just tag your static query with all possible args as optional and
then only pass in the ones you need. For example with pagination you might
have an $after arg that is only passed after the first query. I'm not
really sure how GraphQL could be done more natively in go.

On Wed, Aug 30, 2017 at 2:12 PM, Steve Kuznets

[2017-08-30 22:41] BenTheElder opened #4271 "do-not-merge/release-note-label-needed is repeatedly added"
https://github.com/kubernetes/kubernetes/pull/46662#issuecomment-326138615

The k8s-merge-robot has been sending the same comment about adding this label when the label already exists.

[2017-08-30 22:44] BenTheElder commented on #4271
There are now 6 large identical comments about adding this label which is already applied.

[2017-08-30 22:49] BenTheElder commented on #4271
/cc @cjwagner @stevekuznetsov

[2017-08-30 22:52] BenTheElder commented on #4271
See also https://github.com/kubernetes/kubernetes/pull/51661 with 16 comments and counting.

[2017-08-30 22:52] mml opened #4272 "Don't suggest a reviewer I've already assigned."
[code]

roberthbailey was already assigned when the bot [said that](https://github.com/kubernetes/kubernetes/pull/51649#issuecomment-326140621)

[2017-08-30 22:52] fejta commented on #4271
Exhibit R in why we want to migrate behavior from mungegithub to prow

[2017-08-30 22:59] stevekuznetsov commented on #4271
/assign

[2017-08-30 23:05] BenTheElder commented on #4271
Maybe we should update the mungegithub docs to note this.

[2017-08-30 23:10] ixdy commented on #4271
/shrug

[2017-08-30 23:22] grodrigues3 commented on #3866
@kubernetes/sig-contributor-experience-feature-requests

[2017-08-30 23:26] stevekuznetsov commented on #4271
#4273 makes it so no new comments are added

The pre-existing behavior of the munger will remove all of the comments as soon as a release note label is added. I think this is effectively closed.

/close

[2017-08-30 23:26] #4271 closed

[2017-08-31 00:38] cblecker commented on #2368
Fixed by #4196
/close

[2017-08-31 00:38] #2368 closed

[2017-08-31 00:39] cblecker commented on #2368
p.s. thanks @stevekuznetsov !

[2017-08-31 07:08] xiangpengzhao opened #4284 "Make "do-not-merge/*" label more noticable"
There are two concerns here:

1. change color of `do-not-merge/*` to be red as `do-not-merge` is. This will make authors/reviewers clearer that PRs are blocked by such labels.

2. remove the existing `release-note-label-needed` when bot label it a `do-not-merge/release-note-label-needed`.

cc @stevekuznetsov

[2017-08-31 07:12] xiangpengzhao commented on #4284
These PRs have both the labels:
https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+is%3Aopen+label%3Ado-not-merge%2Frelease-note-label-needed+label%3Arelease-note-label-needed

[2017-08-31 07:24] xiangpengzhao commented on #4284
I see the PR, the color will be fixed in https://github.com/kubernetes/kubernetes/pull/51663 :+1:

[2017-08-31 08:37] zhangxiaoyu-zidif opened #4287 "New added CI tests can not start on existed PRs"
Is this a BUG REPORT or FEATURE REQUEST?:
/kind bug

Uncomment only one, leave it on its own line:

/kind bug
/kind feature
What happened:
New added CI tests: pull-kubernetes-bazel-build and pull-kubernetes-bazel-test
can not start.

What you expected to happen:
those should start automatically.

How to reproduce it (as minimally and precisely as possible):
ref: https://github.com/kubernetes/kuber

[2017-08-31 08:38] zhangxiaoyu-zidif commented on #4287
Moved from https://github.com/kubernetes/kubernetes/issues/51681
And also occur in  #46079.

[2017-08-31 08:44] zhangxiaoyu-zidif commented on #4287
cc: @kubernetes/test-infra-maintainers
/sig testing
/area test-infra

[2017-08-31 09:02] kargakis commented on #4287
/area prow

[2017-08-31 09:08] xiangpengzhao opened #4289 "Incorrect actions of requesting a review"
See in: https://github.com/kubernetes/test-infra/pull/4288

I `/cc @cjwagner` to request a review. But the actions show as below. Interesting.
[code]

/cc @cjwagner @spxtr :smile:

[2017-08-31 09:10] xiangpengzhao commented on #4289
/area mungegithub

[2017-08-31 09:12] xiangpengzhao commented on #3395
#3764 already merged.
/close

[2017-08-31 09:13] #3395 closed

[2017-08-31 09:18] kargakis commented on #4289
This one comes from Github. The test-infra repository uses Github CODEOWNERS
https://github.com/kubernetes/test-infra/blob/master/CODEOWNERS
https://github.com/blog/2392-introducing-code-owners

This one is your cc

Doesn't seem like an issue - closing

[2017-08-31 09:18] #4289 closed

[2017-08-31 11:02] kargakis opened #4291 "prow: sinker is deleting pods not owned by prowjobs"
<details>

[code]
</details>

It shouldn't. Not sure if we can use owner references w/o involving the k8s GC. Probably will end up using an annotation.

/area prow
/kind bug

[2017-08-31 11:44] xiangpengzhao commented on #4289
@kargakis thanks for explanation! Seems like different from K/K :)

[2017-08-31 11:58] kargakis commented on #4132
/shrug

[2017-08-31 12:01] kargakis commented on #4132
Not going to move forward with this. Seems to add unnecessary complexity and hides the shame that comes with many retest comments (I like it).

[2017-08-31 12:01] #4132 closed

[2017-08-31 12:18] xiangpengzhao commented on #4132
:smile: :man_shrugging: :smile:

[2017-08-31 13:18] stevekuznetsov commented on #4284
Color should be fixed in https://github.com/kubernetes/kubernetes/pull/51663
Removal of existing labels should be fixed in #4275

[2017-08-31 14:07] xiangpengzhao commented on #4284
Thanks @stevekuznetsov !
/close

[2017-08-31 14:07] #4284 closed

[2017-08-31 15:00] dims commented on #4080
Thanks for the Manual effort in #51643 @sttts

[2017-08-31 16:57] cjwagner commented on #4289
We're just trying out code owners in test-infra. Currently GH only supports a single CODEOWNERS file (not a hierarchy like OWNERS files) so unless that is changed we'll need to keep using OWNERS files.

[2017-08-31 17:05] spxtr commented on #4291
A couple things:

1. The prowjob might live in a separate namespace or even a separate cluster, so owner references might not work.
1. We might have successfully cleaned up the prowjob but errored when trying to clean up the pod. In that case, the next time we look we need to clean up the pod without an associated prowjob.
1. We should probably put a label on the pods that plank creates and only d

[2017-08-31 17:13] spxtr commented on #4287
Note that the ok-to-test was 20 days ago.  At that point in time, `pull-kubernetes-bazel-build` and `pull-kubernetes-bazel-test` didn't exist.

[2017-08-31 17:57] roycaihw opened #4295 "mungegithub: release-note mislabeled"
kubernetes/kubernetes#50669
This PR is labeled with "release-note" by bot, but should be labeled with "release-note-none".

/area mungegithub
/kind bug

[2017-08-31 18:49] kargakis commented on #4291
We don't delete them in conjuction today, we simply kill every prowjob older than the pj max age and every pod older than the pod max age. The only thing that will change is the pool of pods sinker will delete (only those with a specific label).

[2017-08-31 20:24] mbohlool opened #4298 "PR Dashboard: Incoming PR still included in the list after merge"
I assume the merged PRs should not be listed in this dashboard. I have at least some example of otherwise:

https://github.com/kubernetes/kubernetes/pull/48151
https://github.com/kubernetes/kubernetes/pull/47263

These show up in my dashboard:

[2017-08-31 21:42] stevekuznetsov opened #4301 "gubernator: build and test using bazel"
/assign @fejta @rmmh

[2017-08-31 21:47] stevekuznetsov commented on #4295
That label got added on the 15th of August.

There doesn't seem to be any activity in the mungers or plugins for release notes before that:

[code]

[2017-08-31 21:49] stevekuznetsov commented on #4295
(and in the interim there has been a lot of changes) -- are there newer instances of this? Is this behavior consistent for other PRs?

[2017-08-31 22:34] BenTheElder opened #4303 "Prow should support maximum concurrent tests for certain jobs"
If we want to migrate everything to Prow (eg #3778) then the GPU jobs at least will need something like `/jenkins/job-configs/kubernetes-jenkins-pull/bootstrap-pull-json.yaml` so that tests don't exceed the quota.

[2017-08-31 22:34] BenTheElder commented on #4303
/cc @spxtr @krzyzacy

[2017-08-31 22:36] BenTheElder commented on #4179
This sounds good to me. I think we should try to be as consistent with terminology as possible, k8s has plenty of jargon already :-)

[2017-08-31 22:43] rmmh commented on #4301
IIRC this was difficult to get working with the appengine test framework.

[2017-08-31 22:57] BenTheElder commented on #4287
I started them, you just need to request them with
[code]
@spxtr Maybe these should get automatically triggered though?

[2017-08-31 23:48] #4077 closed

[2017-09-01 00:05] mml commented on #4195
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51480/pull-kubernetes-e2e-kops-aws/45639/

[2017-09-01 03:11] #4057 closed

[2017-09-01 04:25] lukaszgryglicki opened #4309 "Prow - remove test code from prow/github/client.go"
Requested here: https://github.com/kubernetes/test-infra/pull/2706#discussion_r136388772
Remove test code from [prow/github/client.go](https://github.com/kubernetes/test-infra/blob/8083c9aebd75710f7252312a892d061e51073652/prow/github/client.go#L543)

https://github.com/kubernetes/test-infra/pull/2706#discussion_r136376442

[2017-09-01 04:31] lukaszgryglicki commented on #4309
Fixed, PR here: https://github.com/kubernetes/test-infra/pull/4310

[2017-09-01 05:50] spxtr commented on #4303
[Agreed](https://github.com/kubernetes/test-infra/blob/26576936fe6a7fe726ecbb2ef6a48d2e6037fb68/prow/config/jobs.go#L42-L43).

[2017-09-01 05:52] krzyzacy commented on #4303
oh neat I did not noticed that :-)

[2017-09-01 06:00] #4303 closed

[2017-09-01 06:11] BenTheElder commented on #4303
Heh :-)

On Aug 31, 2017 23:00, "Sen Lu" <notifications@github.com> wrote:

[2017-09-01 08:26] #4309 closed

[2017-09-01 10:08] kargakis opened #4312 "Submit Queue context url seems dropped"
For example in https://github.com/kubernetes/kubernetes/pull/51775 there is no link pointing back to the queue. We are also experiencing this in Origin. Looked briefly at the code but I didn't see any suspicious change that might have caused the regression.

@cjwagner can you have a look please?

/area mungegithub

[2017-09-01 11:18] kargakis commented on #4109
Got to reproduce this today and verified my theory: this is not working
[code]
I am going to work on a fix later today
/assign

[2017-09-01 11:19] kargakis commented on #4303
Yeah, although it never actually worked: https://github.com/kubernetes/test-infra/issues/4109 :/

[2017-09-01 11:25] kargakis commented on #4291
/assign

[2017-09-01 14:04] stevekuznetsov commented on #4312
@smarterclayton @bparees FYI

[2017-09-01 14:04] stevekuznetsov commented on #4312
/kind bug

[2017-09-01 14:24] justinsb opened #4315 "kops PR builder running tests at ci/latest instead of merged PR"
@liggitt  pointed out that kops appears to be running tests without merging the PR under consideration (or not building them).  So if a test is added in a PR, it won't be run when that PR is tested, for example.

[2017-09-01 15:12] dims commented on #4315
Looking at https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/51734/pull-kubernetes-e2e-kops-aws/45653/build-log.txt

There are 2 commits in https://github.com/kubernetes/kubernetes/pull/51734/commits

first one is 8c8dad0ffe6e60ca40e36f383ebc9fb7aee45cf8 and second one is cca6c52a9fa2779dff3a997f00e555fb9050ea20

The logs show just the second one picked up:
[code]

[2017-09-01 15:19] stevekuznetsov commented on #4315
The format for the `$PULL_REFS` there is correct @dims -- it's saying check out `cca6c52a9fa2779dff3a997f00e555fb9050ea20` in PR 51734. It's not cherry-picking the commit in question, just getting that version of the `pull/51734/head` ref.

[2017-09-01 15:21] dims commented on #4315
oops sorry i read it wrong then

[2017-09-01 15:22] stevekuznetsov commented on #4315
You can verify visually all the code is being merged in by looking at the diff:

[code]

Only the first PR touches `I0901 00:17:38.803]  cmd/kube-apiserver/app/server.go                  |   6 +-
I0901 00:17:38.804]  cmd/kube-controller-manager/app/BUILD             |   1 -
I0901 00:17:38.804]  cmd/kube-controller-manager/app/batch.go          |   9 +-
I0901 00:17:38.804]  hack/make-rules/test-cmd

[2017-09-01 15:29] stevekuznetsov commented on #4315
So either the e2e binary is not being built or one from master is being used -- @justinsb can you determine from that log which version is used to run the tests?

[2017-09-01 15:59] shyamjvs opened #4316 "Make kops-aws presubmit run against PRs or move it to post-submit"
Currently it's running against the latest CI build which makes no sense for a pre-submit (ref https://github.com/kubernetes/test-infra/pull/4293#issuecomment-326617278)
Some discussion happened on issue - https://github.com/kubernetes/kubernetes/issues/51692

cc @justinsb @kargakis @soltysh @krzyzacy @kubernetes/test-infra-maintainers

[2017-09-01 16:00] shyamjvs commented on #4316
fyi - The above PR made it a non-blocking presubmit to mitigate the issue for now

[2017-09-01 16:51] justinsb commented on #4315
Thanks @stevekuznetsov

It's not 100% clear to me which version we're running (we don't print a SHA or version AFAICT), but here's what I think is happening:

* We merge the PR in `/var/lib/jenkins/workspace/pull-kubernetes-e2e-kops-aws/go/src/k8s.io/kubernetes`
* We bind mount that into the docker container at /go/src/k8s.io/kubernetes (`'-v', '/var/lib/jenkins/workspace/pull-kubernetes-e2e-kops-

[2017-09-01 17:14] mml opened #4318 "PR Dashboard: Outgoing shows merged PRs"
kubernetes/kubernetes#51649 merged 9 hours ago.

![wurmdbtv9vx](https://user-images.githubusercontent.com/3115/29980324-313cedce-8efe-11e7-8d03-0325e8c20dfd.png)

[2017-09-01 17:15] yujuhong opened #4319 "Feature Request: Label to disable testing for a PR"
Some WIP PRs are not ready to test, or simply does not need to be tested until further development work is done. Would be great if we can disable testing by labeling the PR to save testing resources and reduce notifications.

[2017-09-01 17:17] krzyzacy commented on #4303
/shrug

[2017-09-01 17:17] krzyzacy commented on #4303
(oh I cannot shrug against an issue...)

[2017-09-01 17:18] kargakis commented on #4303
P0

[2017-09-01 17:34] shyamjvs opened #4321 "ENABLE_HOLLOW_NODE_LOGS set in kubemark jobs, but logs for hollow-nodes missing"
We're having the env var set to 'true' in some of our kubemark jobs:
- https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-kubemark-100-gce.env#L10
- https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-kubemark-5-gce.env#L10
...

 And also for the presubmit kubemark job:
- https://github.com/kubernetes/test-infra/blob/master/jobs/env/pull-kubernetes-

[2017-09-01 17:35] shyamjvs commented on #4321
cc @krzyzacy @kubernetes/test-infra-maintainers

They were being copied sometime ago, but now they aren't.

[2017-09-01 17:36] krzyzacy commented on #4321
can you tell when did that happen?

[2017-09-01 17:38] shyamjvs commented on #4321
Not recent enough that I can point out a particular run :)
Seems like the issue is with line - https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/log-dump.sh#L145
It's checking that KUBERNETES_PROVIDER=="kubemark", while we're actually setting it to "--provider=gce" for kubemark jobs (ref https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L9152).

[2017-09-01 17:41] krzyzacy commented on #4321
what was wrong when you flip to `--provider=kubemark`? We can flip the canary job and debug from there.

[2017-09-01 17:48] justinsb commented on #4316
Dup of #4315?

[2017-09-01 17:49] shyamjvs commented on #4316
Seems so. Feel free to close this.

[2017-09-01 17:54] krzyzacy commented on #4315
https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-kops-aws&width=80 - from that (1st row of column headers) each test looks like to have a different commit SHA

[2017-09-01 18:26] #4316 closed

[2017-09-01 18:31] roycaihw commented on #4295
kubernetes/kubernetes#50871 and kubernetes/kubernetes#51025 have similar situation.

It could be because of k8s-merge-bot looking for exact match of the string in template: https://github.com/kubernetes/test-infra/blob/c60dfaf31aafa024225e5f8e07b86b5ff8bc825e/mungegithub/mungers/release-note-label.go#L183-L196

[2017-09-01 18:44] stevekuznetsov commented on #4295
Hmmm... we seem to parse it correctly as in [this playground](https://play.golang.org/p/yl7hAf9Lwd).

[2017-09-01 18:44] stevekuznetsov commented on #4295
/assign @cjwagner

[2017-09-01 18:47] ericchiang opened #4323 "gke tests are missing log artifacts"
Some upgrade tests are missings logs, making them practically impossible to debug and fix. e.g. https://github.com/kubernetes/kubernetes/issues/50793#issuecomment-326300909

Apparently we're using the wrong scp command.

/assign @shyamjvs

slack conversation:

[code]

[2017-09-01 19:04] ixdy commented on #4315
The issue seems to be that the pull-kubernetes-e2e-kops-aws job is running a pretty old version of kubekins-e2e (`gcr.io/k8s-testimages/kubekins-e2e:v20170314-bb0669b0-pyopenssl`), which has this bit of logic controlled by environment variables:

https://github.com/kubernetes/test-infra/blob/bb0669b017507eb4a55e33cf73fa304f5211b6ce/jenkins/e2e-image/e2e-runner.sh#L78-L94

Since we've removed most

[2017-09-01 20:12] spxtr commented on #4319
Related to #1522

[2017-09-01 21:15] ixdy commented on #4315
hm, closer: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-e2e-kops-aws/45954/?log#log

We're now using the correct kubectl and e2e tests, but we're still starting the cluster at the wrong version:

[code]

Still investigating.

[2017-09-01 21:19] spxtr opened #4329 "kettle test flake"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4268/pull-test-infra-bazel/6510/

/assign @rmmh

[2017-09-01 21:25] cjwagner commented on #4312
Thanks for catching this.

[2017-09-01 21:54] cjwagner commented on #4295
All of this behavior is expected as far as I can tell.
For https://github.com/kubernetes/kubernetes/pull/51025: The release note is not "none", it is "none." with a period so the `release-note` label was applied.

For https://github.com/kubernetes/kubernetes/pull/50871: The release note started off as `Added lister expansions for DaemonSet, Deployment, ReplicaSet, and StatefulSet for apps/v1beta2.

[2017-09-01 21:57] cjwagner commented on #4295
For https://github.com/kubernetes/kubernetes/pull/50669: The same thing happened as in https://github.com/kubernetes/kubernetes/pull/50871.  In this case, the release note was originally `\r\n    Modify the initialization of results in generic_scheduler.go\r\n`.

[2017-09-01 22:07] #4312 closed

[2017-09-01 22:11] krzyzacy commented on #4119
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-node-canary/224

[2017-09-01 22:11] #4119 closed

[2017-09-01 22:12] krzyzacy commented on #4067
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-node-canary/224

it's possible now - I'll port over more jobs.

[2017-09-01 22:12] #4067 closed

[2017-09-01 22:13] krzyzacy commented on #3352
the logic is migrated already and seems working except for https://github.com/kubernetes/test-infra/pull/3883#issuecomment-326417524, I'll close this, migration will be covered in https://github.com/kubernetes/test-infra/issues/3356

[2017-09-01 22:13] #3352 closed

[2017-09-01 22:34] roycaihw commented on #4295
Thanks. I suggest the proper behavior when someone updates the release note to "none" to be updating the label as well, but that might be complicated with manually-added label and using-title-as-release-note case.

It might be a feature request instead. Feel free to close the issue.

[2017-09-01 22:38] shyamjvs commented on #4323
Sorry I got busy with a few critical SQ issues. Sent out the fix - https://github.com/kubernetes/kubernetes/pull/51834

[2017-09-01 22:39] lavalamp opened #4340 "queue: assignee: when a PR merges, remove assignees who didn't /lgtm or /approve"
The purpose of this is to make github searches give meaningful stats. Right now it's super hard to data mine how many PRs you've actually reviewed.

[2017-09-01 22:42] cjwagner commented on #4295
Yeah that seems like a reasonable change to me. I'll make an issue for it.
Also note that you can use [Prow commands](https://github.com/kubernetes/test-infra/blob/master/commands.md) to control release note labels as well.

[2017-09-01 22:43] #4329 closed

[2017-09-01 22:47] cjwagner opened #4341 "Changing release note block in PR body after release note is set does not update release note labels."
Currently the release-note-label munger ignores PRs that already have a release note added (i.e. have one of `release-note`, `release-note-none`, or `release-note-action-required`). This prevents the munger from changing the label if the PR body's release note block is updated.

Discussed here: #4295

[2017-09-01 23:56] grodrigues3 opened #4343 "Label Sync Umbrella Issue"
Running the command as specified doesn't work
[code]
@lukaszgryglicki
Were you able to build a docker image?

- The Dockerfile uses labelsync as an ENTRYPOINT which is the command specified to run in the image.
- The Dockerfile never creates the label sync dir
- Dependencies are not resolved

[2017-09-02 00:05] spxtr opened #4344 "//scenarios:kubernetes_e2e_test takes 55 seconds."
/assign @BenTheElder

Looks like it's hitting [this code](https://github.com/kubernetes/test-infra/blob/456cb8b0bf0534cd5c5d5154268a20bc732392dc/scenarios/kubernetes_e2e.py#L513). Unit tests should never sleep.

[2017-09-02 00:44] BenTheElder commented on #4344
yeah, I just discussed this with sen. I'm going to have a patch before I head home :-)

[2017-09-02 00:45] BenTheElder commented on #4344
I'm planning on rewriting that code entirely, but for now I think I'll just patch out the sleep in the unit test until I have time to validate the rewrite a bit more.

[2017-09-02 00:48] #4295 closed

[2017-09-02 01:01] ixdy commented on #4315
Things have somehow gotten even worse. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-e2e-kops-aws/46002/?log#log
[code]

[2017-09-02 01:08] ixdy commented on #4315
I think we need to set `--kops-kubernetes-version` in `scenarios/kubernetes_kops_aws.py`, but I'm not sure exactly how to do that in a maintainable way. The shell version of the job used to do it like
https://github.com/kubernetes/test-infra/blob/bb0669b017507eb4a55e33cf73fa304f5211b6ce/jobs/pull-kubernetes-e2e-kops-aws.sh#L75

[2017-09-02 03:37] #4321 closed

[2017-09-02 04:52] lukaszgryglicki commented on #4343
entrypoint is just OK.
No label_sync directory is needed, statically compiled program "label_sync" is copied to the container "/" - which is OK.
Which dependencies? Docker image is supposed to be minimal, it has no dependencies, it is just a statically compiled "label_sync" binary and it requires only "/etc/config" dir with two files: `labels.yaml`, `repos.yaml`.

I've never seen that compilation

[2017-09-02 11:25] kargakis commented on #4340
/area prow

[2017-09-02 12:37] kargakis commented on #4318
Dupe of https://github.com/kubernetes/test-infra/issues/4298

[2017-09-02 12:37] #4318 closed

[2017-09-02 13:08] kargakis commented on #2504
Fixed by https://github.com/kubernetes/test-infra/pull/2706. Spawn new issues for follow-up work.

[2017-09-02 13:08] #2504 closed

[2017-09-02 13:12] kargakis commented on #2547
Done?

[2017-09-02 13:16] kargakis commented on #2780
Seems fixed.

[2017-09-02 13:16] #2780 closed

[2017-09-02 13:42] kargakis commented on #2855
Fixed by https://github.com/kubernetes/test-infra/pull/3764

[2017-09-02 13:42] #2855 closed

[2017-09-02 14:12] #3828 closed

[2017-09-02 19:07] justinsb opened #4352 "kubtest calls `gsutil cp version o.publish` in two places"
Once in main.go and once in e2e.go; I would think we would only want one:

https://github.com/kubernetes/test-infra/blob/master/kubetest/main.go#L334

https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L280

[2017-09-03 00:57] yutongz opened #4353 "Doc changes bypass submit-queue retest process"
If a pr only changes docs, can we mark it "docs" and as long as reviews approve this change, the pr can bypass SQ or SQ skips retesting

[2017-09-03 02:46] cblecker opened #4354 "pull-kubernetes-cross not being triggered on files it should be"
It looks like pull-kubernetes-cross is supposed to run_if_changed on files matching a regex (such as `*_linux.go`):

https://github.com/kubernetes/test-infra/blob/3cd30c667da2b2ae76a8a838626b0dad256ca2d0/prow/config.yaml#L193-L198

However on https://github.com/kubernetes/kubernetes/pull/51209, which changed (among other files):
- `pkg/kubelet/cm/container_manager_linux.go`
- `pkg/kubelet/cm/conta

[2017-09-03 09:19] luxas opened #4355 "Enable the milestonenotifier for other repos"
Would be really cool if milestonenotifier would work across all our kubernetes repos that it makes sense to enable it for.

would make life easier for @kubernetes/kubernetes-release-managers; worth doing now?
cc @marun

[2017-09-03 09:23] luxas opened #4356 "Ensure sig-notifier also recognizes wg labels as valid"
I'm not sure if this works already or not; does our sig-notifier bot recognize `wg/resource-management` for instance as a valid label state?
If not, it should be fixed.

[2017-09-03 09:55] kargakis commented on #4354
The regexp is broken - opened https://github.com/kubernetes/test-infra/pull/4357

[2017-09-03 09:59] kargakis commented on #4353
The retest process can be already bypassed with the retest-not-required* labels. There is also https://github.com/kubernetes/test-infra/issues/3738 for not running tests for doc changes at all.

[2017-09-03 09:59] #4353 closed

[2017-09-03 10:36] #4291 closed

[2017-09-03 11:52] kargakis commented on #3407
Yeah, now I think that the best option is to expose the log endpoint from the jenkins operator where we already have auth, and use a k8s service. Deck then gets a map of {agent -> url} from the config where we have {"jenkins": "jenkins-operator"} and proxies the request.

[2017-09-03 14:27] xiangpengzhao commented on #4070
dup of #3295
/close

[2017-09-03 14:27] #4070 closed

[2017-09-03 14:28] xiangpengzhao commented on #4341
Another concern:
#3295: k8s-merge-robot labels PR "release-note" even when the release note is "NONE"

[2017-09-03 14:59] xiangpengzhao commented on #4356
I sent a PR #4358 to fix it. But please note that we haven't had `wg/*` labels yet in any of our projects. We should add these labels first.

[2017-09-03 15:29] luxas commented on #4356
Oh, I thought we had those already, thanks.

Anyway, we should create labels for the WGs listed in kubernetes/community.
@bgrant0607 agree?

[2017-09-03 18:44] #4354 closed

[2017-09-03 18:48] cblecker commented on #4354
Thanks @kargakis !

[2017-09-04 03:32] xiangpengzhao opened #4359 "Bot doesn't label or comment for PR which needs rebase"
See in https://github.com/kubernetes/kubernetes/pull/51762

Only below info is seen:
[code]

[code]

[2017-09-04 06:56] xiangpengzhao commented on #4359
It commented and labeled after I sent a comment. Strange.

[2017-09-04 09:53] kargakis commented on #4359
/area mungegithub

[2017-09-04 14:34] justinsb opened #4361 "AWS volume quota reached"
(copying from slack)

I think we have hit our AWS volume quota limit:

[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kops/3331/pull-kops-e2e-kubernetes-aws/2849/?log#log

Each execution uses ~ 500 GB of disks though, so if we are running > 40 jobs concurrently it is possible we are not leaking.  (And we are seeing rate limit problems, which suggests each job is us

[2017-09-04 14:34] justinsb commented on #4361
Perhaps related to https://github.com/kubernetes/test-infra/pull/4332

[2017-09-04 14:36] justinsb commented on #4361
(Also https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51121/pull-kubernetes-e2e-kops-aws/46672/?log#log and ongoing)

[2017-09-04 14:38] justinsb opened #4362 "testgrid results not appearing for (new) federated test results"
I am populating this bucket with federated test results:
https://console.cloud.google.com/storage/browser/kopeio-kubernetes-e2e/logs/kubernetes-e2e-aws

I believe they should now appear here: https://k8s-testgrid.appspot.com/kopeio#kopeio-aws and the gubernator link goes to the right place.  But while the job is updating, results are not appearing.

Can someone check the logs from testgrid?

[2017-09-04 14:44] justinsb commented on #4362
The build ids follow this pattern, BTW: 20170904-021830-ad26a7c7-7722

I think that is this pattern: https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap.py#L651-L655

But I may have got the wrong pattern or maybe this pattern isn't yet implemented in testgrid?

[2017-09-04 15:06] liggitt commented on #4361
seriously?

[2017-09-04 15:17] luxas commented on #4362
Why not 1, 2, 3, 4, ...?

[2017-09-04 15:37] justinsb commented on #4362
Because it's a distributed system 😀

On Sep 4, 2017 11:17 AM, "Lucas Käldström" <notifications@github.com> wrote:

Why not 1, 2, 3, 4, ...?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/test-infra/issues/4362#issuecomment-326985991>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AAGK

[2017-09-04 15:42] luxas commented on #4362
Heh, indeed :stuck_out_tongue_winking_eye:

[2017-09-04 15:44] yastij commented on #4361
@liggitt typo I think, I can't see why we would need so much disk per ececution

[2017-09-04 16:13] kargakis opened #4365 "logrus import needs to be lowercased"
https://github.com/sirupsen/logrus#logrus-

cc @spxtr

[2017-09-04 16:47] kargakis opened #4366 "Thoughts regarding the Jenkins operator"
* Today the controller is making a [Status](https://github.com/kubernetes/test-infra/blob/907a5d7980ae3b45a98802f641da47d7b2fa0d8c/prow/jenkins/jenkins.go#L170) or [Enqueued](https://github.com/kubernetes/test-infra/blob/907a5d7980ae3b45a98802f641da47d7b2fa0d8c/prow/jenkins/jenkins.go#L135) call for every prowjob separately. The Status call is really a List, [but the jenkins client is filtering th

[2017-09-04 17:03] justinsb commented on #4362
Inspired by @luxas I sent through a test with 12345 and that did show up.

What are the valid values?  Can we publish the testgrid source, even if it is read-only?

[2017-09-04 17:05] justinsb commented on #4361
It allocates EBS volumes of at least that much, which is what counts against quota (if need be we can reduce this, but I suspect we're either leaking or running too many concurrent jobs).

Most of that 500GB will remain unused though :-)

[2017-09-04 17:14] justinsb opened #4368 "maintenance-pull-janitor job broken"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/maintenance-pull-janitor/3994/

Failing with `ImportError: No module named requests`

[2017-09-04 17:15] justinsb opened #4369 "maintenance-ci-janitor job broken"
Looks like a less catastrophic failure than the other maintenance jobs, but:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/maintenance-ci-janitor/211/

Examples:

[code]

[code]

[2017-09-04 17:16] justinsb opened #4370 "maintenance-ci-aws-janitor job broken"
e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/maintenance-ci-aws-janitor/6499/

Failing with `Docker is not installed.`

[2017-09-04 17:17] justinsb commented on #4370
Probably related to #4361

[2017-09-04 17:50] chrislovecnm commented on #4361
@justinsb are we hitting account limit or region limit?

[2017-09-04 19:19] spxtr commented on #4366
Right, when I first wrote that client there was no plank controller, instead each job had to keep track of its own status. Now that model doesn't make sense, and your suggestion does make sense.

[2017-09-04 19:55] yastij commented on #4361
@justinsb - we should definitly reduce it. if reduced we should be able to run the same number of jobs just fine ?

[2017-09-04 20:20] kargakis opened #4372 "Make branding configurable for prow"
We are using Openshift logos for our [own instance of prow](https://deck-ci.svc.ci.openshift.org) and in order to avoid conflicts on rebases of our fork, we are using our own static directory. This is really messy because we need to sync the two directories on bugfixes/enhancements. Ideally, branding in deck would flow from the prow config.

@spxtr @stevekuznetsov @rmmh @jhadvig
/area prow

[2017-09-04 20:36] kargakis commented on #3074
What we use today:
[code]

[2017-09-04 20:39] kargakis opened #4373 "Validate ProwJobs using CRD validation"
https://github.com/kubernetes/community/blob/31af349b1777e0fead2dd42eccca5799fb0375a2/contributors/design-proposals/api-machinery/customresources-validation.md

Things we need to validate:
- [ ] status.type and status.state are known values
- [ ] avoid validating the agent so we can support out of tree agent controllers
- [ ] completion time is set on a pj with status.state == {success, failure, e

[2017-09-04 20:44] kargakis commented on #4366
/assign

[2017-09-04 21:25] justinsb commented on #4373
Why not just use a real API type?

[2017-09-04 21:34] kargakis commented on #4373
@justinsb that would require creating and running an API server for prowjobs on top of all the other services we already run. I don't think it's something we care about today, especially since we get stuff for free with CRDs but not unreasonable to do in the future.

[2017-09-05 03:06] justinsb commented on #4361
@yastij can you share the volume tags you observed?

If we reduce it by a factor of 2, we can run twice as many jobs, but if we aren't limiting the number of jobs (cf #4322) that doesn't solve the root problem.  If on the other hand we are leaking volumes, we should try to plug the leak (cf  https://github.com/kubernetes/kubernetes/issues/50898) or look into why the clean job is broken (cf #4370)

[2017-09-05 05:56] zhangxiaoyu-zidif commented on #4287
@kargakis If we can manully resolve this question,  should we cloese it?

[2017-09-05 08:33] zhangxiaoyu-zidif opened #4376 "pull-kubernetes-bazel still list in PR CI dashboard"
ref: https://github.com/kubernetes/kubernetes/pull/45964
There is no pull-kubernetes-bazel any more.
but this failed info still existed in CI dashboard:

![image](https://user-images.githubusercontent.com/5154334/30052371-c88475ba-9257-11e7-9a89-80bd7d9dc85c.png)

[2017-09-05 08:37] kargakis commented on #4373
Also, we need to manage a separate instance of etcd with the new api server .... Unless we use the existing etcd write key?

[2017-09-05 08:40] yastij commented on #4361
@justinsb - To me, to unblock the situation at CI level, we should:

1. reduce volume allocation
2. set a limit for concurrent jobs.

On the other hand, we should see if there's a leak, I thought that we couldn't have tags on EBS at creation time, but it seems that it's possible kubernetes/kubernetes#50898

[2017-09-05 08:43] kargakis commented on #4287
We could have a periodic job or something that kicks the new jobs automatically on an additive config update.

[2017-09-05 08:51] zhangxiaoyu-zidif commented on #4287
OK, let's keep it.

[2017-09-05 08:53] zhangxiaoyu-zidif commented on #4376
/cc @kargakis
Maybe this issue need to be focused too.

[2017-09-05 10:02] kargakis opened #4378 "pull-kubernetes-e2e-kops-aws is failing all batch jobs"
@kubernetes/test-infra-maintainers

We removed the job from the submit queue in https://github.com/kubernetes/test-infra/pull/4293 but allowing it to run as a presubmit means that batch jobs are going to run with it, resulting in batch jobs being broken for a long time.

http://prow.k8s.io/?type=batch

[2017-09-05 10:05] kargakis commented on #4378
Hrm, it seems that the queue is merging batch jobs
[code]
from https://github.com/kubernetes/kubernetes/pull/51180#issuecomment-327057131

Seems like a false alarm.

[2017-09-05 10:05] #4378 closed

[2017-09-05 10:39] dims opened #4380 "gubernator should display some labels like milestone"
Would be good to be able to see milestone label in the display. Will help prioritize which PR(s) to look at first during release process

[2017-09-05 10:41] dims opened #4381 "Kubernetes Aggregated Failures is stuck"
Looking at https://storage.googleapis.com/k8s-gubernator/triage/index.html

[code]

Looks like it keeled over on 9/1 and never recovered. Can someone please nudge it?

[2017-09-05 10:45] dims opened #4382 "Expiry for priority/important-soon labels"
We have really old issues marked `priority/important-soon`, for example see

[`is:issue is:open label:priority/important-soon sort:created-asc`](https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+is%3Aopen+label%3Apriority%2Fimportant-soon+sort%3Acreated-asc)

Can we please clear these if there's no progress?  The value of the label is totally lost otherwise.

[2017-09-05 11:59] justinsb commented on #4361
Are you able to look at the ebs volumes @yastij?

[2017-09-05 13:05] yastij commented on #4361
if it necessits rights to do so, I won't be able to take a look

[2017-09-05 16:35] kargakis commented on #3791
I think for the main controllers (plank, jenkins-operator), we could dry-run them and at the very least avoid issues like panics out in the wild. plank seems that it can be tested better than jenkins-operator - we could verify stuff like pod creation, duplicates termination, etc. sinker is easily testable too. hook is probably harder to e2e test even with phony in place. tide, I am not sure. Maybe

[2017-09-05 16:51] ericchiang commented on #4323
@shyamjvs I'm still seeing missing artifacts. Specifically on this upgrade test https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new

For example the most recent build doesn't have the normal artifacts we'd expect https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/194

Has this fix not

[2017-09-05 17:03] shyamjvs commented on #4323
Yes, the fix was in pr #4347 (which got merged a while ago). It is yet to roll out.

@krzyzazy Could you build the new kubetest and related images and send our the relevant pr? I'm facing the weird bazel issue that we discussed offline earlier.

[2017-09-05 17:03] shyamjvs commented on #4323
@krzyzacy ^

[2017-09-05 17:07] shyamjvs commented on #4323
Fyi - this issue is affecting almost all gke jobs. Though it's a separate issue that they're failing :p

[2017-09-05 17:15] shyamjvs commented on #4323
Reopening.. until this is resolved.

[2017-09-05 17:27] krzyzacy commented on #4368
The cleaning up is actually fine, that's for the metadata call.

/assign

[2017-09-05 17:29] krzyzacy commented on #4369
those errors are expected especially for the network one since seems we don't have a way to tell the mode of a subnetwork and we maybe switch that to manual mode - cc @MrHohn
/assign

[2017-09-05 18:02] #4344 closed

[2017-09-05 18:19] cjwagner commented on #4341
@xiangpengzhao I looked into the first few cases you linked and they are all exactly what I'm describing above.

The author starts with a valid release note in the release note block of the PR which results in the `release-note` label being added. Then the author changes the block to `NONE`, but the label is not changed because the munger sees that the PR already has a release note label and consi

[2017-09-05 18:58] mml opened #4387 "Indicate on prow dashboard when a test job is non-blocking."
https://prow.k8s.io/?type=batch showed kops-aws failing, but the PRs were being merged.  Can we indicate that someohow on the dashboard page?  Thanks!

Additionally, since the red X no longer means "merge failed", maybe also just indicate near the list of PRs whether or not they got merged.

[2017-09-05 19:11] #4365 closed

[2017-09-05 19:12] justinsb commented on #4368
Phew!  Thanks for looking at it @krzyzacy :-)

[2017-09-05 19:19] xiangpengzhao commented on #4341
@cjwagner yeah, exactly :)

[2017-09-05 19:23] DirectXMan12 opened #4388 "Prow issue: /assign and friends should be case-insensitive"
Currently, it appears that `/assign` is case-sensitive -- if I type

`/assign @directxman12`, prow complains (https://github.com/kubernetes/kubernetes/issues/44033#issuecomment-327276053), but if I use `/assign @DirectXMan12`, everything works.

This is made even more confusing by GitHub's rendering, which "corrects" the case when
it displays the rendered Markdown: if I type `@directxman12`, I get

[2017-09-05 19:28] fejta commented on #4388
This is probably a limitation of the GitHub api

[2017-09-05 20:14] mml commented on #4315
@ixdy I know these tests aren't blocking the merge right now, but as buildcop I'd feel a lot better knowing that we were really running them.  Can we find someone from @kubernetes/sig-testing-bugs to work with an appropriate someone from @kubernetes/sig-aws-misc and get this back on track?

[2017-09-05 20:22] krzyzacy commented on #4362
build number is the subdir name and need to be numerically increasing

[2017-09-05 20:25] michelle192837 commented on #4362
To the source-publishing question; to my understanding, we can't, no.

[2017-09-05 20:26] krzyzacy commented on #4362
But hopefully we will rewrite an open-sourced version of client in the near future.

[2017-09-05 20:27] ixdy commented on #4315
/assign

I'm working on trying to fix this.

[2017-09-05 20:44] #4315 closed

[2017-09-05 20:45] BenTheElder commented on #4109
Noting that this is definitely broken and a fix is necessary for migrating more jobs to prow without exceeding project quotas. Thanks for working on this @kargakis :smiley:

[2017-09-05 21:02] bgrant0607 commented on #4356
We don't have any WG github teams, either.

Theoretically, SIGs should own all the code, tests, etc., so while I agree that WGs should have ways to identify issues related to them, I still want to require SIG labels.

[2017-09-05 21:02] bgrant0607 commented on #4356
Ironically, this repo doesn't have any SIG labels.

[2017-09-05 21:04] krzyzacy commented on #4370
/assign

[2017-09-05 21:07] spxtr commented on #4388
Curiously, https://github.com/SPXTR works, but using the API to add SPXTR does not. Fortunately, when you say `/assign @spxtr` the tab completion will get it right.

[2017-09-05 21:12] kargakis commented on #4109
I could use some eyeballs in https://github.com/kubernetes/test-infra/pull/4328. I was testing it yesterday and it works fine, I was running an image with the changes the whole day w/o any issue. Once that PR merges, I will open one with the same changes for plank.

[2017-09-05 21:12] luxas commented on #4356
@bgrant0607 I think we'll add WG Github teams soon, for instance for the cloudprovider effort.
Right now it's really painful to have to remember all the 10-ish persons by heart...

And for cross-cutting efforts like the cloud provider stuff, I can see a WG label "owning" the PR/issue make sense. Whether we want to enforce sigs everywhere anyway is up to debate I guess

[2017-09-05 21:16] BenTheElder commented on #4109
I am looking at #4328 <https://github.com/kubernetes/test-infra/pull/4328>
 currently.

On Tue, Sep 5, 2017 at 2:12 PM, Michail Kargakis <notifications@github.com>
wrote:

[2017-09-05 21:25] BenTheElder commented on #3633
This is done in #4156 except for making deck etc use it. :tada:

[2017-09-05 21:38] justinsb commented on #4362
@krzyzacy can I use YYYYMMDDHHMMSS or will that be too big?

I mentioned it in the meeting, but even if it isn't true open source (i.e. you can't accept contributions), and even if it is a partial snapshot, it would have a lot of value to people in figuring out this stuff or in helping to build testgrid v2.

[2017-09-05 21:43] krzyzacy commented on #4362
@justinsb I think it need to fit into an int (?) - so basically testgrid caches the largest processed build id, and next time it will skip once it hits a build id smaller/equal to the largest processed build id.

For second part, I cannot make the call, <----- @fejta

[2017-09-05 22:56] kargakis opened #4402 "gubernator: regexps for highlighting logs should flow from config"
/area gubernator

[2017-09-05 23:08] krzyzacy commented on #4361
/assign @zmerlynn @justinsb

I'll hand this to you - janitor should be back up now, feel free to closed if this is good, but we might still want to fix the actual leak

[2017-09-05 23:08] krzyzacy commented on #4370
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/maintenance-ci-aws-janitor/6529/

/close

[2017-09-05 23:08] #4370 closed

[2017-09-05 23:10] kargakis commented on #3866
@spxtr seems like we also need to have in place the finer-grained management of PRs that the submit queue is doing today where specific status contexts are required as opposed to looking through all prowjobs, ie. all jobs that ever run for a PR.

Related: https://github.com/kubernetes/test-infra/issues/4387

[2017-09-05 23:29] kargakis commented on #3409
FWIW, https://github.com/kubernetes/kubernetes/pull/51351

[2017-09-05 23:36] dashpole opened #4403 "cadvisor-push failing starting between 8/22 and 8/24"
Fails with the error:
`Unable to locate package dmsetup`

Previously it passed with:
`dmsetup is already the newest version.`
`dmsetup set to manually installed.`

[2017-09-05 23:38] dashpole commented on #4403
Running on `agent-heavy-08-b` nodes.
[Testgrid](https://k8s-testgrid.appspot.com/sig-node#cadvisor-push)

[2017-09-05 23:41] krzyzacy commented on #4403
cc @ixdy
/shrug

[2017-09-05 23:54] MrHohn opened #4405 "Couple latest-upgrade CIs have no result on testgrid"
They show up as tabs, but have not resutls. Ref:
- https://k8s-testgrid.appspot.com/latest-upgrades#gce-cluster
- https://k8s-testgrid.appspot.com/etcd-upgrades#gce-latest

From prow and gubernator, seems they are running (though failing):
- https://prow.k8s.io/?job=ci-kubernetes-e2e-gce-latest-upgrade-cluster
- https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gc

[2017-09-05 23:57] krzyzacy commented on #4405
I think it's dup https://github.com/kubernetes/test-infra/issues/4323

[2017-09-05 23:58] MrHohn commented on #4405
@krzyzacy Thanks, closing this one :)

[2017-09-06 00:01] ixdy commented on #4403
It looks like that job is using the `golang:latest` docker image:
[code]

I'm guessing that's roughly around when go 1.9 was released, and so the image was updated.
Mysteriously, it seems that the `golang:1.8.3` image comes pre-installed with dmsetup, whereas `golang:1.9` does not:
[code]

The Dockerfile has an `apt-get install`:
https://github.com/google/cadvisor/blob/1df21eaa592316b0889db44ab0b3

[2017-09-06 00:01] krzyzacy commented on #4362
I'll close this issue, we can move the opensource discussion to https://github.com/kubernetes/test-infra/issues/3323

[2017-09-06 00:01] #4362 closed

[2017-09-06 00:02] MrHohn commented on #4405
Actually, maybe it is different. For instance, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-upgrade-cluster/899/ does have log artifacts but doesn't show up on tab as well.

[2017-09-06 00:03] MrHohn commented on #4405
Actually, we should have the failed units as well.

[2017-09-06 00:04] krzyzacy commented on #4405
/assign

I'll take a look later - I think it messed up some build number counter from Jenkins

[2017-09-06 00:07] krzyzacy opened #4406 "1.8 release ci setup"
@jdumars I will set it up base off 1.7 release for now, ref https://github.com/kubernetes/test-infra/issues/2965, feel free to add more here.

### Build / Verify
- [x] `ci-kubernetes-build-1.8` (Build)
- [x] `ci-kubernetes-verify-release-1.8` (Verify)
- [x] `ci-kubernetes-test-go-release-1.8` (Unit Test)
- [x] `ci-kubernetes-federation-build-1.8` (Federation Build)

### E2E
- [x] `ci-kubernetes-e2

[2017-09-06 00:08] krzyzacy commented on #4406
/assign

[2017-09-06 00:11] mindprince opened #4407 "Submit queue behavior when the PR is the only PR in the test rerun"
I had a PR which was picked up by the submit queue. The submit queue started running tests on it a second time but instead of running them in batch, it ran them just for this PR. https://github.com/kubernetes/kubernetes/pull/51928#issuecomment-327306317
[code]

One of the tests in this second run flaked and my PR was dropped from the submit queue. This behavior is pretty annoying.

This behavior (

[2017-09-06 00:11] mindprince commented on #4407
/cc @fejta

[2017-09-06 00:15] rmmh opened #4408 "Prow job pods should have useful labels"
This would make it easier to debug prow using kubectl.

    type={batch,periodic,postsubmit,presubmit}
    job={pull-cadvisor-e2e,...}

[2017-09-06 00:16] krzyzacy commented on #4405
I believe this job(s) has been deleted/readded back to Jenkins :disappointed: I'll flush the cache

[2017-09-06 00:18] MrHohn commented on #4405
@krzyzacy Awesome, thanks! I will verify and close this issue when the next build shows up.

[2017-09-06 00:21] krzyzacy commented on #4405
Grrrrrr https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-upgrade-cluster/2573/ where's that coming from :-(((((((((((

[2017-09-06 00:22] kargakis commented on #4408
Or make sure field selectors work in kubectl

Related: https://github.com/kubernetes/kubernetes/pull/50140

[2017-09-06 00:22] krzyzacy commented on #4407
cc @rmmh @cjwagner who can explain submit queue logic better here

[2017-09-06 00:24] jdumars commented on #4406
Thank you!

[2017-09-06 00:29] BenTheElder opened #4409 "Gubernator: Incomplete jobs should have different favicon from failed jobs"
Right now we have a green kubernetes logo for succesful jobs, but anything else displays red. It would be nice if we could display a yellow icon for jobs that are not yet clear failures.

[2017-09-06 00:29] BenTheElder commented on #4409
/area gubernator
/cc @rmmh @stevekuznetsov

[2017-09-06 00:30] BenTheElder commented on #4409
/shrug

[2017-09-06 00:34] rmmh commented on #4407
Any PR with failing tests is removed from the queue. Failures in batch tests aren't attributed to a single PR, so they don't eject PRs from the queue.

I don't see any great solutions for this at the queue level-- continuosly retesting a PR that is failing wouldn't be useful.

Identifying and retesting flakes would mean PRs would go back into the queue (after successes), which would ensure forward

[2017-09-06 00:35] krzyzacy commented on #4409
/unshrug

[2017-09-06 00:35] krzyzacy commented on #4409
/joke

[2017-09-06 00:37] krzyzacy commented on #4409
/shrug

[2017-09-06 00:42] BenTheElder commented on #4381
/cc @rmmh

[2017-09-06 01:13] rmmh commented on #4381
Yes, I'm working on it.

[2017-09-06 01:27] krzyzacy commented on #4409
/shrug

[2017-09-06 01:27] krzyzacy commented on #4409
/unshrug

[2017-09-06 01:30] BenTheElder commented on #4409
/shrug !

[2017-09-06 01:30] BenTheElder commented on #4409
/shrug

[2017-09-06 02:40] spiffxp commented on #2546
still catching up, why was this closed? taken care of? don't want anymore?

[2017-09-06 02:52] stevekuznetsov commented on #4409
Poor robot

[2017-09-06 03:39] MrHohn commented on #4405
Result shown up again :+1:

Closing this.

[2017-09-06 03:39] #4405 closed

[2017-09-06 04:33] mindprince commented on #4407
What do we do when there are failures in batch tests?

[2017-09-06 06:20] sttts commented on #4080
Here are the updates for the bot, work in progress: https://github.com/kubernetes/test-infra/pull/4134

[2017-09-06 06:57] fejta commented on #4407
This queue behavior is WAI

If the batch fails the batch doesn't merge.

The same time the batch is running the first PR in the batch is also running in isolation. If the isolated test failed the PR is ejected from the queue.

The next batch will have a different first PR either because a) batch passed and the PR merged b) single PR testing passed and it merged or c) single PR testing failed and i

[2017-09-06 06:58] fejta commented on #4407
Aka we always either merge or eject the top of the queue after both batch and single PR testing complete.

[2017-09-06 11:09] shyamjvs commented on #4323
@krzyzacy I'm seeing that the latest run (196) of https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new had run against test-infra commit a90ef48ec, but still seeing the old gke deployer code:

[code]

which should be modified by the push in #4386. Could you PTAL?

[2017-09-06 11:20] shyamjvs commented on #4323
I also verified that we're using the new image for the job.
Can you confirm that your image build went through fine?

[2017-09-06 13:27] xiangpengzhao commented on #2620
What do we expect the author to do as an assignee?

[2017-09-06 13:38] xiangpengzhao commented on #2869
This is code freeze of 1.8 now. Is this issue still relevant for.1.8?

[2017-09-06 13:41] xiangpengzhao commented on #2817
Seems like @k8s-bot has retired?

[2017-09-06 13:44] xiangpengzhao commented on #3286
/assign mml

[2017-09-06 13:46] xiangpengzhao commented on #3286
Hmm, seems like this has already been fixed.
I will
/close
this issue. Feel free to correct me if I'm wrong :)

[2017-09-06 13:46] #3286 closed

[2017-09-06 13:47] xiangpengzhao commented on #3286
FYI: fixed in #3289

[2017-09-06 13:54] xiangpengzhao commented on #3271
It would be good to have a comment line with email nearby each owner's handle in the OWNERS file. But I'm afraid that not all guys want their email adress be shown explicitly..

[2017-09-06 13:59] xiangpengzhao commented on #3249
bulk-lgtm was removed in #4101.
So we can
/close
this issue anyway.

[2017-09-06 13:59] #3249 closed

[2017-09-06 14:11] xiangpengzhao commented on #3199
This was addressed. I'm going to
/close
this issue. Feel free to correct me if I'm wrong.

[2017-09-06 14:11] #3199 closed

[2017-09-06 14:11] xiangpengzhao commented on #3190
This was addressed. I'm going to
/close
this issue. Feel free to correct me if I'm wrong.

[2017-09-06 14:11] #3190 closed

[2017-09-06 14:17] xiangpengzhao commented on #3317
xref: https://github.com/kubernetes/kubernetes/issues/49161

[2017-09-06 14:21] xiangpengzhao commented on #3349
+1

[2017-09-06 14:28] xiangpengzhao commented on #3462
Fixed by #3845
/close

[2017-09-06 14:28] #3462 closed

[2017-09-06 14:34] crimsonfaith91 commented on #3906
I do not have bandwidth to work on this. Do you want to work on it?

[2017-09-06 15:27] xiangpengzhao commented on #3906
I'm not so familiar with the prow plugin, but I will try to investigate it when I'm free :)

[2017-09-06 15:57] xiangpengzhao opened #4416 "shrug doesn't label ¯\_(ツ)_/¯ when writing the command in PR (maybe issue also) body"
See in https://github.com/kubernetes/test-infra/pull/4415

/shrug

cc @kargakis

[2017-09-06 15:58] xiangpengzhao commented on #4416
Hmm, this issue self-proved.

[2017-09-06 16:02] kargakis commented on #4416
Well, even if it worked, your PR already had the label so we wouldn't know ... But yeah, review comments are not taken into account.

[2017-09-06 16:08] xiangpengzhao commented on #4416
But this issue can prove this anyway :)

I believe it didn't
/shrug
so far. I will see if it label it after this comment.

[2017-09-06 16:09] xiangpengzhao commented on #4416
Yeah it shrugged after my last comment :smiling_imp:

[2017-09-06 16:44] cblecker commented on #2869
@grodrigues3 @jdumars may know

[2017-09-06 16:53] krzyzacy commented on #4323
196 started before I merge #4386, can you check 197/198? (198 looks busted)

[2017-09-06 16:58] ericchiang commented on #4323
@krzyzacy 197 doesn't have the expected logs http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/197/

[2017-09-06 17:12] krzyzacy commented on #4323
@shyamjvs from 197 I saw
[code]

[2017-09-06 17:36] cjwagner commented on #2620
I believe assignees are usually used to indicate who is responsible for getting the PR reviewed and merged (or helping to do so). This issue seems low priority though because a WIP PR is obviously the responsibility of the author and adding them as an assignee doesn't really change the expectations we have of them. I don't see any benefits to automatically assigning the author besides making it cl

[2017-09-06 17:40] krzyzacy commented on #4323
cc @zmerlynn who wrote the gke deployer and might know better

[2017-09-06 17:48] shyamjvs commented on #4323
@krzyzacy @ericchiang Since this is an upgrade test.. maybe we need to cherry-pick my change (kubernetes/kubernetes#51834) to the corresponding earlier branches. Wdyt?

[2017-09-06 17:49] crimsonfaith91 commented on #3906
thank you very much!

[2017-09-06 17:50] zmerlynn commented on #4323
It's still getting "I0906 12:43:27.914] LOG_DUMP_SSH_KEY not set, but
required when using log_dump_custom_get_instances" even after the last PR

On Wed, Sep 6, 2017 at 10:40 AM Sen Lu <notifications@github.com> wrote:

[2017-09-06 17:54] cblecker commented on #2620
Someone can open a WIP PR for a number of reasons.. perhaps it's because they want CI to run, or perhaps it's because they know CI will fail, but they want review on the implementation direction. Assigning to the author isn't intuitive for newer contributors who may want review assistance.

@kubernetes/sig-contributor-experience-pr-reviews

[2017-09-06 17:56] shyamjvs commented on #4323
Since we're explicitly setting `KUBERNETES_PROVIDER=gke` here - https://github.com/kubernetes/test-infra/blob/master/kubetest/gke.go#L313
we shouldn't enter that condition in the if else chain in log-dump.sh.

Smells like it's using an earlier release branch.
@ericchiang If you can confirm this, I can send out a cherry-pick PR to the concerned branch.

[2017-09-06 18:05] ericchiang commented on #4323
@shyamjvs I can confirm that those changes will need to be cherry picked. Don't know what the exact roll out process is though.

[2017-09-06 19:26] jdumars commented on #2869
We still need to ensure the approved-for-milestone label is added to issues, so AFAICT this is still valid for 1.8.

[2017-09-06 20:14] luxas opened #4420 "The cross-build should be branched, not always against master"
In order to have a good CI signal for the release, we should branch the crossbuild to also run for the release-1.8 branch.

See this:
[code]

On every beta cut, the new alpha.0 is created, which means that the crossbuild will use jump on an use master in order to be usable for the next release. But directly when master and the release branch diverge (around the rc cut), we don't have any coverage

[2017-09-06 20:15] krzyzacy commented on #4420
/assign

I can add one

[2017-09-06 20:16] ixdy commented on #4420
All of the release-branch build jobs (including release-1.8 job) do a full cross-build. See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build-1.8/1?log#log.

[2017-09-06 20:17] ixdy commented on #4420
Though the `ci-cross/` vs. `ci/` thing is a weird anomaly.

[2017-09-06 20:17] luxas commented on #4406
You can now add and fill in the checkbox for kubeadm :smile:

[2017-09-06 20:18] ixdy commented on #4420
Also, the release-1.8 job doesn't push images to `gcr.io`. That was new as of 1.8, so we should probably add it.