[2018-10-23 03:58] spiffxp commented on #8919
/sig contributor-experience
/help

[2018-10-23 03:59] spiffxp commented on #9171
/close
I'm assuming this is now done since #9177 has merged and we now have some trusted jobs for things like running peribolos in response to kubernetes/org merges

[2018-10-23 03:59] #9171 closed

[2018-10-23 04:01] spiffxp commented on #9181
@BenTheElder ping, I'm going to leave it to you to decide if this is still relevant; if so, probably deserves to be closed in favor of a kubernetes-sigs/kind issue

[2018-10-23 04:04] spiffxp commented on #1795
/lifecycle frozen
I'm freezing this as "yes we know cherry picking needs help"

[2018-10-23 04:16] spiffxp commented on #7974
/help
FYI @cjwagner

[2018-10-23 04:28] spiffxp commented on #8536
Agree this is the preferred next step.  That said, even if we do, at present editing sigs.yaml and regenerating means that some files at root change (sig-list.md), and so root OWNERS would still be needed.

[2018-10-23 04:30] apelisse commented on #7192
:-)

[2018-10-23 04:34] BenTheElder commented on #9181
This falls under things to document in a user guide. I currently aim to write one once I've cut a release (later this week?)

[2018-10-23 04:34] #9181 closed

[2018-10-23 04:45] spiffxp commented on #9324
FYI @cjwagner do we think it would be feasible to make this change this release cycle? Might still be nice.

[2018-10-23 04:47] spiffxp commented on #9344
/sig contributor-experience
/kind cleanup
/area github
ping @shubheksha, any progress on this?

[2018-10-23 04:51] spiffxp commented on #3083
What's keeping this open at this point?

[2018-10-23 04:57] spiffxp commented on #5085
/lifecycle frozen
/unassign @Q-Lee @spxtr @krzyzacy @amwat @cjwagner

@BenTheElder at this point I think we should call this the tracking issue for the one pager we're supposed to write for wg-k8s-infra

[2018-10-23 04:57] spiffxp commented on #5085
/priority important-soon

[2018-10-23 05:00] spiffxp commented on #8731
/close
Orgs show up correctly in queries, not sure when this got fixed

![screen shot 2018-10-22 at 9 58 24 pm](https://user-images.githubusercontent.com/49258/47336703-a7235c00-d645-11e8-9d07-0d82fa4fbd51.png)

[2018-10-23 05:00] #8731 closed

[2018-10-23 05:02] spiffxp commented on #9458
/miletone v1.13
Let's see if we can close this out this release cycle

[2018-10-23 05:16] spiffxp commented on #9390
/area prow

[2018-10-23 05:47] matthyx commented on #8839
Here is for the record, the latest answer from GitHub (9/12/18):

Our apologies for the wait, and thank you for following up with us. Due to a high volume of requests, we are currently experiencing much longer than average response times here in Support.
I have a better understanding of what you're reporting now! We've asked the team to investigate this in an internal issue. We can't promise an ET

[2018-10-23 05:58] xiangpengzhao commented on #3083
Seems like it's done. I'm okay to close it. @BenTheElder any other concerns ? Feel free to close it if needed.

[2018-10-23 06:00] nikhita commented on #9834
Looks like this was the case. I'll close this issue for now. Let's reopen again if we see this happening frequently.

/close

[2018-10-23 06:01] #9834 closed

[2018-10-23 06:09] anannaya opened #9894 "Set POD own IP and new hostname to hostaliases"
apiVersion: v1
kind: Pod
metadata:
name: hostaliases-pod
spec:
restartPolicy: Never
hostAliases:

ip:
fieldRef:
fieldPath: status.podIP
hostnames:
fieldRef:
fieldPath: metadata.name
Is there any way i can do this?

[2018-10-23 12:28] nikhita commented on #9875
This would be easy, but won't it lead to a breaking change since `label` won't handle the `priority/` labels anymore and I'd have to explicitly enable the `priority` plugin?

[2018-10-23 16:21] BenTheElder commented on #8779
Do we have a different tracking issue for this?
/remove-lifecycle stale
for now, feel free to close if we have a better issue..

[2018-10-23 16:28] BenTheElder commented on #8737
/remove-lifecycle stale

[2018-10-23 18:01] cjwagner commented on #7890
It would be useful to have, but I don't think it is high priority.

Currently, most Prow components don't handle HTTP requests so we would have to add that and a k8s service for every component. We'd also need to make the components discoverable to Deck or explicitly list the endpoint for each component in Deck's config.
That approach is certainly doable, but I don't think the value add is worth t

[2018-10-23 18:03] spiffxp commented on #9754
/kind feature
/sig testing
/sig contributor-experience

[2018-10-23 18:12] cjwagner commented on #9360
@jberkus Is that from "fixes" statements in commit messages or just in the PR body text?

[2018-10-23 18:16] nikhita commented on #9360
The PR also tackles the "fixes" issue in commit messages. But I probably won't have time to complete the PR this week. :(

[2018-10-23 18:22] cjwagner commented on #9324
Yeah, if we made the `tide` status context name configurable we could do that this release cycle. Changing the context name requires a status migration so we shouldn't impose that on all currently existing `tide` instances.

[2018-10-23 18:26] tallclair opened #9901 "Regression: PR Dashboard size sorting alphabetically"
Sorting by size on the PR dashboard no longer sorts XS -> XXL, but is instead sorting alphabetically by the size letter (e.g. L, S, XS, XXL)

[2018-10-23 18:29] cjwagner commented on #8731
I fixed this [here](https://github.com/kubernetes/test-infra/commit/426ac78e1d80f485471e9754b26bad39a3f46ecd#diff-b5586164c9099ccebed5ac03f969a883), but apparently forgot to document it in the commit message or PR...

[2018-10-23 18:50] krzyzacy opened #9902 "prow bazel rules: kind = MULTI_KIND doesn't generate a target?"
aka, current production.apply won't deploy grandmatriarch, cert-manager, and cluster-issuer.

/area bazel
/area prow
/assign @fejta

[2018-10-23 19:04] jberkus commented on #6095
This would be really helpful to have for priority/.  Issues/PRs with multiple priority tags cause problems for Release Team automation.

[2018-10-23 19:04] jberkus commented on #9875
closing as duplicate of #6095

/close

[2018-10-23 19:04] #9875 closed

[2018-10-23 21:03] krzyzacy commented on #8668
orthogonally: there's some linux kernal folks want to support prow + mailing lists and want to put a mail server on prow, maybe this can also be rolled under that. Will open an issue to discuss that soon.

[2018-10-23 22:00] AviKndr opened #9905 "Support kernel mailing lists in Prow"
Our team (KUnit) is working on adding unit testing into the Linux kernel and, as such, is interested in a solution for running presubmit on patches sent to the mailing list and replying back. This would conceivably be easiest if we could run a mail server on prow to hold received patches and apply them to the upstream kernel during the cloning phase. The mail server should also send emails back to

[2018-10-23 22:04] krzyzacy commented on #9905
cc @BenTheElder @kargakis @stevekuznetsov @cjwagner @fejta @spiffxp in case there are concerns.

[2018-10-23 22:51] krzyzacy commented on #9905
discussed offline with @BenTheElder and @Katharine, storing patches in CRD might not be a good idea, we might be able to bring up a git server, and somehow figure out mapping patches into git branches, and assign a subdomain so jobs can clone from the git server.

That part doesn't have to be part of prow, it can just be a k8s controller. We can still use existing `clone_refs` logic to handle test

[2018-10-23 22:53] fejta commented on #9905
Please make sure this has a reviewed design doc before any implementation begins

[2018-10-23 22:57] krzyzacy commented on #9905
yeah trying to throw out some initial ideas here, punt to @AviKndr to write a design doc and potentially present the idea in sig-testing

[2018-10-24 00:30] xiangpengzhao commented on #3083
@BenTheElder is the plugin deployed in k/website? I don't see the onboarding info in https://github.com/kubernetes/website/pull/10712

[2018-10-24 05:51] nikhita commented on #3083
@xiangpengzhao Nope, only test-infra.

https://github.com/kubernetes/test-infra/blob/c4ad32d6b0c33710684781dc081e6309c1866faa/prow/plugins.yaml#L207-L210

[2018-10-24 07:16] wojtek-t commented on #4046
/remove-lifecycle stale
/lifecycle frozen

[2018-10-24 07:49] xiangpengzhao commented on #3083
Thanks @nikhita !

[2018-10-24 18:02] ixdy commented on #9604
/assign @fejta @BenTheElder
cc @Katharine to fix gubernator
cc @michelle192837 to fix testgrid and kettle

[2018-10-24 19:32] BenTheElder commented on #9604
I think testgrid already works fine? not sure about kettle cc @spiffxp
Gubernator will need fixing or we'll need spyglass to be ready though

[2018-10-24 20:07] michelle192837 commented on #9604
TestGrid's fine in its current implementation as long as the IDs monotonically increase. It'll need tweaks if not.

[2018-10-24 20:41] BenTheElder commented on #9604
they're monotonic, just with gaps. testgrid is already handling some timestamp IDs so we should be good 👍
http://testgrid.k8s.io/conformance-cloud-provider-openstack#periodic-master

[2018-10-24 20:49] BenTheElder commented on #7890
Deck could list the prow deployments instead and look for an image label / tag

[2018-10-24 21:24] spiffxp opened #9910 "Followup to contributor experience survey"
Let's take a look at the automation most hated / most liked and see if there are common themes we can address.  I'll consider this closed when I got a summary and some followup issues created.

/kind documentation
/sig testing
/sig contributor-experience
/assign

[2018-10-24 22:30] BenTheElder commented on #9604
so probably just check kettle and then we can look at deleting the service

[2018-10-25 00:42] qhuynh96 commented on #8737
@BenTheElder I just forgot the context of this issue. Can you help me jog my memory?

[2018-10-25 00:50] BenTheElder commented on #8737
I think maybe https://github.com/kubernetes/test-infra/issues/8733#issuecomment-406351585 + we were (are?) showing the alert icon for "job triggered" ?

[2018-10-25 01:09] taragu commented on #9836
@BenTheElder ah i see. Thanks for the clarification! I'd like to work on this item

[2018-10-25 01:48] qhuynh96 commented on #8737
Not all "job triggered". We currently show alert icons for Prowjob that does match Github contexts only

[2018-10-25 17:24] fejta opened #9922 "secrets_agent and GetSecret() should use a RWMutex"
https://golang.org/pkg/sync/#RWMutex

https://github.com/kubernetes/test-infra/blob/521f040d498f43a03ab80ce568bf61a642b92440/prow/config/secrets_agent.go#L30

https://github.com/kubernetes/test-infra/blob/521f040d498f43a03ab80ce568bf61a642b92440/prow/config/secrets_agent.go#L87-L91

/help
/good-first-issue

Entity A calling `GetSecret()` should not block Entity B from doing the same. We only need

[2018-10-25 17:56] cjwagner commented on #7890
What about Ryan's point in the issue body?

[2018-10-25 18:01] krzyzacy opened #9923 "Future improvement on prow - gerrit/pubsub integration"
(open a tracking issue for future improvements)

[ x ] - Support postsubmit jobs
[ ] - Support parsing comments, and mux it to plugin handlers
[ ] - Integrate with gerrit labeling system with existing plugins
[ x ] - enhance pubsub messages to include more information
[ ] - support trigger prowjobs from pubsub (cc @sebastienvas)

[2018-10-25 18:22] BenTheElder commented on #7890
we have https://github.com/bazelbuild/rules_docker#stamping

[2018-10-25 19:06] BenTheElder commented on #9431
I think https://github.com/kubernetes/test-infra/pull/9843/files fully fixed this, thanks!

[2018-10-25 19:06] #9431 closed

[2018-10-25 19:36] cblecker opened #9925 "Automatically add issues/PR to a project board based on a GitHub query"
One missing feature of GitHub's project boards is the ability to automatically add issues/PRs to a project board based on a GitHub search query.

Two examples of how this would be useful:
- KEP tracking
[code]
would automatically be added to https://github.com/kubernetes-sigs/architecture-tracking/projects/2

- API reviews
[code]
would automatically be added to https://github.com/kubernetes-sigs/a

[2018-10-25 20:03] BenTheElder commented on #9836
Have at it! I think it will be tricky to wire up something to make accurate suggestions, but this feature could be really nice :-)

[2018-10-25 20:29] dims commented on #9925
I like it @cblecker ! basically add things to Backlog right?

[2018-10-26 01:04] stevekuznetsov commented on #9905
This functionality could be achieved by running your own `git` server with pullable refs for each patch submitted, then creating ProwJob CRDs directly and requesting a decorated job that pulls from your server. None of the components would necessarily need to live with the other Prow components but the latter service would need RBAC to create ProwJob CRDs on the Prow cluster.

[2018-10-26 01:05] stevekuznetsov commented on #9905
True as @krzyzacy  mentioned this almost requires that we split out reporting from `plank`.

[2018-10-26 04:47] BenTheElder commented on #8737
Yeah but in this case at least, that's not really alert worthy.

[2018-10-26 05:59] nikhita commented on #9925
/kind feature

[2018-10-26 06:31] matthyx commented on #9776
/unassign

[2018-10-26 17:57] roufique7 commented on #9923
Hi

[2018-10-26 18:14] BenTheElder opened #9932 "open should not post two comments on closed PRs"
/kind bug
https://github.com/kubernetes/test-infra/pull/9931#issuecomment-433496124

cc @cjwagner

[2018-10-26 18:14] BenTheElder commented on #9932
/area prow

[2018-10-26 18:36] yagonobre opened #9934 "k8s-ci-robot don't update sig/area/kind on pr changes"
## What happened?
I remove some code from my pr, and the `k8s-ci-robot` don't clean up the labels related to sig, area and kind.

I can send a pr to fix that.

/kind bug

[2018-10-26 18:40] timothysc commented on #9655
/assign @riverzhang

@riverzhang do you think we could sync sometime next week?

[2018-10-26 23:28] ibzib commented on #9901
Looks like whitespace in `colname` messing up case matching https://github.com/kubernetes/test-infra/blob/master/gubernator/static/pr.js#L8
/assign @Katharine

[2018-10-26 23:30] ibzib commented on #9826
/assign

[2018-10-26 23:33] ibzib commented on #8910
/assign

[2018-10-27 00:42] BenTheElder commented on #9934
/area prow
cc @cjwagner

[2018-10-27 05:44] krzyzacy commented on #9826
alternative idea is to query all changes and check if there's a merge event happened, and we will be able to comment back to the change.

[2018-10-29 00:56] #8058 closed

[2018-10-29 06:08] yagonobre commented on #9934
I'll close this issue, because make `k8s-ci-robot` remove this labels will remove manually added labels too.

[2018-10-29 06:31] nikhita commented on #9934
IMHO it would still be useful to remove the labels. Most manually added labels are `kind/*` labels and the bot does not add this label automatically. The bot only adds the `area/*` and `sig/*` labels automatically, which are rarely changed manually. In such cases, I think manually changing them again should be fine. Wdyt?

[2018-10-29 06:34] yagonobre commented on #9934
@nikhita make senses! I'll work on it tomorrow.

[2018-10-29 18:39] kkohtaka commented on #9922
I opened a PR. Can you review #9944 ?

[2018-10-29 19:36] #9922 closed

[2018-10-29 21:05] cjwagner commented on #9934
FWIW I think `sig/*` labels are added manually pretty often. Note that mentioning a sig is also used to add `sig/*` labels via the `sigmention` plugin.
e.g. @kubernetes/sig-testing

This change wouldn't behave well with the `sigmention` plugin.

[2018-10-29 21:29] #9502 closed

[2018-10-29 21:45] spiffxp commented on #3787
/remove-lifecycle rotten
/lifecycle frozen
I'm not sure I like freezing this but I think it merits discussion / rescoping before outright closing

[2018-10-29 23:02] cjwagner commented on #8852
/remove-lifecycle stale
This would be neat to have. It would be helpful to be able to link to a job's config whenever we reference a job across Deck's pages. Non-unique job names might prevent that from working well though. That might be worth addressing first.

[2018-10-29 23:21] cjwagner opened #9948 "ProwJobs should have unique names (don't allow branch sharded variants to share a name)"
ref: https://github.com/kubernetes/test-infra/pull/8466, https://github.com/kubernetes/test-infra/issues/8852

Currently it is impossible to look up the configuration for a presubmit or postsubmit job based on just the job name because job names are not required to be unique. We use this to specify different variants of a job for different branches, but still report under the same job name. Howeve

[2018-10-29 23:29] BenTheElder commented on #8831
The generated URL somewhat fixes this, but not for non-pod-utils jobs, it's still marking the view upload location, not the actual GCS location.

[2018-10-29 23:30] BenTheElder commented on #9948
There might be some slight disconnect for the user when the job link does not match the context name. Other than that, just a _large_ config churn to fix this for prow.k8s.io, which I assume you're signing up for :^)

We'd also want to consider the impact on flakiness data. I think it will be mostly positive to collect flakiness data per-branch, but not all jobs are sharded, so this may skew the r

[2018-10-29 23:30] ibzib commented on #8831
I ended up reverting the commit that "fixed" this, good catch

[2018-10-29 23:40] BenTheElder commented on #7901
/remove-lifecycle stale

[2018-10-29 23:46] krzyzacy commented on #9948
we should solve the original issue, which is a job should be able to trigger on different branches with different images? aka https://github.com/kubernetes/test-infra/issues/2547?

[2018-10-30 00:17] BenTheElder commented on #9479
I know @ibzib and I looked at the proposal, SGTM.

Side note: apparently I've had this tab open on my workstation for like a week with a half-written comment. Sorry about that.

[2018-10-30 01:43] #9646 closed

[2018-10-30 01:50] BenTheElder commented on #9344
hmm I'm not sure if we need others. (sorry for the huge delay!)
cc @cjwagner @krzyzacy @fejta

[2018-10-30 02:12] cjwagner commented on #9344
I don't have a strong opinion on area templates, but I think it would be a little confusing to have both area and kind templates given that those concepts are orthogonal.
If there is an `area/prow` and a `kind/bug` template, which would I use to create an issue about a Prow bug?

[2018-10-30 02:16] fejta opened #9950 "Change []*Refs to []Refs in most places"
We need `Refs *Refs` because we need nil to mean "no refs":

https://github.com/kubernetes/test-infra/blob/453336ccc9af1f359e086742f7efcfea6f0e18c8/prow/apis/prowjobs/v1/types.go#L111

However we use `[]*Refs` in a bunch of  unnecessarily pass `[]*Refs` around a bunch of different packages, for example in declaring `ExtraRefs` and `GitRefs`:

https://github.com/kubernetes/test-infra/blob/453336ccc

[2018-10-30 02:17] fejta commented on #9950
/help-wanted

Assuming you are comfortable with golang and pointers, this is a
/good-first-issue

[2018-10-30 08:40] nikhita commented on #9934
:+1:

I can't think of any such labels. :thinking:

[2018-10-30 11:07] phyber opened #9956 "Prow: hook and tide panic while Getting Started"
While following the Prow Getting Started documentation, the following crash was encountered with the `hook` and `tide` containers. This occurs at the step "Run the prow components in the cluster" just after "Create the GitHub Secrets". The version of `starter.yaml` being used is the one from roughly [a week ago](https://github.com/kubernetes/test-infra/blob/0bf3b91c5bb19672ce931cfab0c8a496464aa571

[2018-10-30 11:52] nikhita commented on #9934
@yagonobre Do you think we need to add such configuration for some labels? If not, please feel free to close the issue. Sorry for the confusion. :)

[2018-10-30 14:07] yagonobre commented on #9934
I no have enough context to know if we have any labels that must be automatically removed.

[2018-10-30 16:09] cjwagner commented on #9344
The labels aren't contradictory, but they are orthogonal. It makes sense to have both labels on an issue like the one I described, but I don't think it is possible to select multiple templates at once (please correct me if I'm wrong, I just took a quick look). So if we have one template for the `area/prow` label and one for the `kind/bug` label, it won't be obvious which to choose since both label

[2018-10-30 18:12] BenTheElder commented on #9956
/kind bug
/priority important-soon

cc @cjwagner

[2018-10-30 18:34] fejta opened #9960 "build controller will not detect cloneref errors"
The clonerefs binary is designed to always exit 0, writing any errors to `clone.json`. This is then analyzed by `initupload` container, which will upload `started.json` and `finished.json` if there are cloning errors.

We haven't yet integrated `initupload`, `entrypoint` and `sidecar` utilities into the build controller so for the time being may cause strange behavior.

One solution could be to ad

[2018-10-30 18:34] fejta commented on #9960
/cc @stevekuznetsov

[2018-10-30 18:54] cjwagner commented on #9934
Closing for now. Lets reopen if/when we find a use case for this.

[2018-10-30 18:54] #9934 closed

[2018-10-30 20:33] cjwagner commented on #9956
I've been trying to reproduce this error for a while, but cannot.
Your error message suggests that `client` is nil on line 96, but client is not modified after it is created and is only created as nil if an error is returned (see [here](https://github.com/kubernetes/test-infra/blob/0bf3b91c5bb19672ce931cfab0c8a496464aa571/prow/git/git.go#L70-L88)). If an error was returned by `NewClient` we would

[2018-10-31 02:37] #8910 closed

[2018-10-31 07:08] shubheksha commented on #9344
Ah, I get what you mean. I'll start with the those two first and then we can add more if necessary :)

[2018-10-31 13:45] phyber commented on #9956
Nothing else was changed with regards to Tide/Prow on my end. I'm wondering if this is some odd garbage collection issue where `client` has been reaped (and thus becomes `nil`) before the method is called on it.

If we pass the `client` into the closure, perhaps this would be enough of a hint to Go to not let that happen.

[code]

Unfortunately, I'm not yet up to speed on building tide/hook so I h

[2018-10-31 14:40] erain opened #9970 "Better tool for Prow job debugging."
This is a feature request for better Prow debugging tooling / documents.

Currently, the only way to debug a Prow job is to use the docker image, however some of the kubetest images, e.g. [kubekins-e2e](https://github.com/kubernetes/test-infra/tree/master/images/kubekins-e2e), have non-trivial setup (its entrypoint, $GOPATH, etc.). It is lack of clear guidance for Prow users on how to start debugg

[2018-10-31 14:43] phyber commented on #9956
Thinking about this some more, I think this is the correct fix. It's related to the use of the named return values and the lack of explicitly passing `client` into the closure.

When an error is encountered, `return nil, fmt.Errorf("thing")` happens. This sets the `client` and `err` values to `nil` and `fmt.Errorf("thing")`.

Then the `defer` kicks in. Client is `nil` at this point, because we ret

[2018-10-31 15:40] phyber commented on #9956
Linking my small Go PoC for this showing the behaviour of the named variables and defer capturing the client value, etc.

https://gist.github.com/phyber/01871748db8fdbb9b7b8d5b7e1af7f08

[2018-10-31 16:13] justinsb commented on #8220
Pretty sure it's still broken, and I am working through it

/reopen

[2018-10-31 17:09] cjwagner commented on #9956
@phyber Nice catch!
FYI https://play.golang.org/ is great for sharing golang examples and POCs.

[2018-10-31 17:10] #9956 closed

[2018-10-31 18:25] spiffxp opened #9978 "gopherage html only works via bazel run //gopherage -- html"
/kind bug
/assign @Katharine

works via bazel
[code]

does not work via go install then run within k/test-infra dir
[code]

does not work via go install then run in random dir
[code]

[2018-10-31 19:51] Katharine commented on #9978
So this is a [known issue](https://github.com/kubernetes/test-infra/blob/master/gopherage/cmd/html/html.go#L69-L70), in part because bazel uses a different directory layout.

Fixing it is a bit tricky. While we can detect that we are not running under bazel and try a different path, the resources we want are themselves generated by bazel, and won't exist if you just `go install` it. To the best of

[2018-10-31 21:03] #9932 closed

[2018-10-31 21:36] stevekuznetsov opened #9982 "spyglass: log with more discretion"
Currently, I see:

[code]

That doesn't seem right :)

/cc @amwat @BenTheElder

[2018-10-31 21:42] BenTheElder commented on #9982
/assign @ibzib

[2018-10-31 21:42] BenTheElder commented on #9982
Also we have logrus AND glog? yay! /s

[2018-11-01 20:56] Katharine opened #9996 "prow sidebar should hide unavailable pages"
The prow web UI sidebar has several entries that do not necessarily work on all prow setups. We should avoid showing menu items that are not configured.

/assign
/area prow/deck
/kind bug

[2018-11-01 22:32] cjwagner opened #9998 "Prow: Sinker does not respect AllowCancellations."
Sinker assumes that if a ProwJob is completed, the corresponding pod must be completed and can be deleted. In reality it should wait to delete the pod until one of the following occurs:
- ProwJob is deleted. (Currently if a ProwJob is deleted before Sinker can delete the pod, the pod will not be deleted.)
- Pod completes.
- Pod reaches the max age.

If AllowCancellations is enabled, Plank handles

[2018-11-02 00:21] BenTheElder opened #10001 "tide: do not stop merging when one PR is unmergable"
test-infra stopped merging for three hours while trying to squash merge when squash merging was blocked, #9890 #9976 #9997 #9999 #10000 were all passing, but #9890 was first and unmergable

/kind bug
/area prow/tide

cc @cjwagner @stevekuznetsov

[2018-11-02 00:29] #7156 closed

[2018-11-02 01:00] ibzib opened #10004 "Spyglass job history link is broken"
The `JobPath` function should also have unit tests to ensure its correctness.
/assign @ibzib

[2018-11-02 01:05] cjwagner commented on #9998
I misread the code. This isn't actually a problem, but there are still some improvements to be made. See #10005

[2018-11-02 01:05] #9998 closed

[2018-11-02 03:37] fejta commented on #7811
/reopen

[2018-11-02 03:37] fejta commented on #7811
/lifecycle fresh

[2018-11-02 03:37] fejta commented on #7811
/remove-lifecycle stale

[2018-11-02 03:38] fejta commented on #7811
/remove-lifecycle rotten

[2018-11-02 04:33] #7809 closed

[2018-11-02 04:33] #7803 closed

[2018-11-02 04:33] #7808 closed

[2018-11-02 16:55] fejta commented on #1755
/assign @hklai
/remove-lifecycle rotten

Should we consider this fixed?

[2018-11-02 16:55] fejta commented on #1755
/assign @cjwagner

[2018-11-02 18:18] hklai commented on #1755
I plan to refine the trusted user definition to further reduce the scope from all org members. Will send another PR soon-ish.

[2018-11-02 18:47] #4744 closed

[2018-11-02 19:34] fejta opened #10011 "Allow jobs to specify a namespace to schedule pods"
Add a `Namespace` field to both `ProwJobSpec` (which specifies which namespace to create pod/build/etc resources) as well as in `JobBase` (aka `Presubmit`, `Postsubmit`, `Periodic`), which tells trigger and horologium how to populate `Spec.Namespace` in the ProwJobs it creates (via the standard config defaulting path)

This will be limited to controllers which use the official kubernetes client at

[2018-11-02 19:48] #8209 closed

[2018-11-02 20:38] ibzib opened #10014 "need to bump minimum Bazel version"
When trying to build target `//prow:release-push` with Bazel version 0.16.1, I got the following:
[code]
After upgrading to 0.18.1, it built successfully.

/cc @ixdy @fejta

[2018-11-02 20:51] BenTheElder opened #10015 "convert branch protector to a prowjob"
currently it is a kubernetes cron, now that we have a trusted cluster it should be a prowjob so anyone can view logs

/cc @fejta
/area prow
/kind enhancement

[2018-11-02 20:52] BenTheElder commented on #10015
the conversion between k8s cron and prow periodic cron should be easy but:
- we also need to get the job config map into the trusted cluster
- we need the prow bump script to bump the branch predictor config.

[2018-11-02 20:58] stevekuznetsov commented on #10011
/area prow
/assign @fejta

[2018-11-02 21:00] BenTheElder commented on #10011
/kind enhancement
:+1:

[2018-11-02 21:05] ixdy commented on #10014
/assign

[2018-11-02 21:20] BenTheElder opened #10018 "decorated jobs provide insufficient information for debugging"
Looking through all of the results on a job that plank mysteriously reported as failing, there is not even the prowjob ID in any of the files so I cannot easily view the podlogs in stackdriver.

We annotate the prow pods, but that's not particularly helpful after the pod is GCed. We should write more persistent metadata for decorated jobs

I'd also like to revisit the refs metadata, and possibly t

[2018-11-02 21:30] BenTheElder commented on #10001
We can always attempt to merge the older PR first but when a serial merge fails _because the merge failed_ we can attempt to merge another ready serial PR before testing again.

We definitely need to raise this to admins, but there's not a super great mechanism for that right now.

[2018-11-02 21:30] #10014 closed

[2018-11-02 21:32] BenTheElder commented on #10001
I don't think we should *promise* that older PRs are merged first, it should be best effort. This same situation can occur with github API flakes or.... We should not get into a situation where this sits for 3 hours doing nothing.

Even _if_ we had alerted the prow admins, what about a EG a weekend? The prow admins don't necessarily have the same productive hours as the users, we should avoid tide

[2018-11-02 22:05] stevekuznetsov commented on #10001
Sounds good, let's think through the implications of this best-effort in terms of the current workflow to make sure it doesn't lead to weird states we had not considered before.

[2018-11-02 22:43] #9950 closed

[2018-11-02 22:51] #8263 closed

[2018-11-02 23:00] taragu commented on #9836
@BenTheElder I created a test case and a rough implementation for one use case. Could you please take a look to see if I'm on the right track before I continue implementing the rest of the cases? Thank you so much in advance!
https://github.com/kubernetes/test-infra/compare/master...taragu:lint-suggest-changes?expand=1

[2018-11-02 23:07] spiffxp commented on #9978
I can't vouch for the cleanliness of this approach, but I believe kubernetes' e2e.test binary uses go-bindata to embed the resources.

- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/testfiles/testfiles.go
- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/generated/gobindata_util.go

However, some googling appears to have revealed the original repo disappear

[2018-11-03 00:49] stevekuznetsov commented on #10018
Why would that be helpful? There are two cases:

1. The `Pod` has not yet been garbage collected. In this case, it should be simple to find it:
[code]
  (Aside: we should put the run ID in the labels, too)
2. The `Pod` no longer exists -- in which case, the ProwJob ID would not be super useful?

[2018-11-03 01:54] #7841 closed

[2018-11-03 06:36] nikhita commented on #10015
/kind feature

[2018-11-03 22:14] #8194 closed

[2018-11-04 06:14] krzyzacy commented on #8892
/remove-lifecycle stale

[2018-11-04 06:14] krzyzacy commented on #7741
/remove-lifecycle stale
almost there

[2018-11-04 11:20] kentakozuka commented on #8838
Is it still open? I would like to work on it.

[2018-11-04 11:32] kentakozuka commented on #8838
Thanks! Can you tell me a bit about where exactly `parse/generate` is?

[2018-11-04 11:52] matthyx commented on #8838
Sure, but today I am just with my phone at a workshop... I will provide pointers tomorrow if needed :-)

[2018-11-04 16:28] fejta commented on #7152
Also would like to see controllers enforce a timeout on the prowjob

[2018-11-04 22:30] krzyzacy commented on #8104
I would prefer keep the current format so we don't have to patch testgrid/gubernator, and I can PR that (parse artifacts/metadata.json and merge into finished.json, like what bootstrap was doing) so we can migrate more k8s e2e jobs off bootstrap.

@cjwagner @stevekuznetsov @fejta thoughts? alternative ideas?

[2018-11-05 01:35] kentakozuka commented on #8838
OK. Thanks :)

[2018-11-05 07:30] matthyx commented on #8838
Alright, so basically it's in prow/plugins/verify-owners/verify-owners.go:
- extract what's between line 126 and 161 in a method
- write some unit-tests for it

[2018-11-05 10:50] kentakozuka commented on #8838
👍
I'll be working on it!

[2018-11-05 19:41] cjwagner commented on #8104
@krzyzacy That SGTM. We should probably have a few metadata fields that we automatically add if they are not explicitly overridden in `artifacts/metadata.json` like the refs, and job spec.

[2018-11-05 19:42] krzyzacy commented on #8104
:+1:

should jobspec be part of the metadata, or a separate file, like bootstrap does?

[2018-11-05 19:46] cjwagner commented on #8104
I'm not sure. A separate file might make more sense for consumption by a Spyglass viewer and if that is what bootstrap already does that might be also be the most convenient. I don't feel strongly either way though.

[2018-11-05 23:31] tallclair commented on #8838
Other tests that I would like to see:

- approver & reviewer assignments correspond to either an alias, or a github account
- if the assignment resolves to a github account, that account should be a member of the kubernetes org

[2018-11-06 04:23] justinsb opened #10043 "AWS CNCF Account seems to have lost quota"
We're seeing a lot of kops failures, because it appears that the AWS account under which the tests run no longer has the quota it previously had, at least in most regions.

We seem to have zero quota for t2.mediums in most regions, although we still have quota in e.g. ap-northeast-2

[2018-11-06 07:54] mattlandis commented on #10043
Taking a look.

Where do you see the limit changes?  Is this through a dashboard, API or is it inferred from instance launch failures?

From what I can see we should still have the ability to launch 480 on-demand t2 instances in most regions (PDX) for example.  We are still using On-demand right?  I know we had talked about moving to having the reserved pool to help mitigate launch issues.

I'll o

[2018-11-06 10:47] idvoretskyi commented on #10043
/cc

[2018-11-06 10:55] randomvariable commented on #10043
There's an API for monitoring limits, but it's only available on Business or Enterprise support.

See https://docs.aws.amazon.com/awssupport/latest/user/Welcome.html for more.

There's examples for setting up monitoring at https://github.com/awslabs/aws-limit-monitor

[2018-11-06 15:34] AishSundar commented on #10043
@justinsb could this be the reason behind Kops failures in release blocking since this morning https://testgrid.k8s.io/sig-release-master-blocking#kops-aws-master? We also had Go lang v1.11.2 update go in this morning.

[2018-11-06 15:45] nikopen opened #10047 "PR dashboard for approval visibility, grouped (by SIGs, WGs or other groups)"
Problem: Approvers need to be constantly pinged, and github notifications are quite hard for everyday use by very busy leads/contributors

Proposal: A single standardized place where PRs in need of approval are found, which are further grouped by SIGs or other, based on https://gubernator.k8s.io/, like monitoring and alerting for issues.

implementation details:

- PRs in need of approval to be si

[2018-11-06 15:57] AishSundar commented on #10043
Kops tests are happy again in release dashboard.. not sure if it was indeed quota related or some other transient issue that hit it.

[2018-11-06 16:59] justinsb commented on #10043
I'm looking in the EC2 console:

![image](https://user-images.githubusercontent.com/100893/48080054-cf20cc80-e1ba-11e8-8ae8-9f94b2829ebf.png)

![image](https://user-images.githubusercontent.com/100893/48080203-1e66fd00-e1bb-11e8-933b-0c4c9c3a4013.png)

That's in us-east-1.  kops defaults to t2.mediums for nodes (in regions where they are available), so I think this limit must have changed (or we'v

[2018-11-06 17:14] randomvariable commented on #10043
Can we check our support level on the AWS account and add per-region limit monitoring to Velodrome? I have a bit of spare capacity to help out.

[2018-11-06 18:33] petr-muller opened #10048 "OAuth/deck: handle callbacks with errors"
There are [error cases](https://developer.github.com/apps/managing-oauth-apps/troubleshooting-authorization-request-errors/) where the registered OAuth callback is called back by GitHub without the user access token, but with error information passed as parameters.

The [handler for the OAuth redirect](https://github.com/kubernetes/test-infra/blob/8f50d74b6d81fb54ff03dfe34c0c41c3cb843a98/prow/gith

[2018-11-06 18:40] mattlandis commented on #10043
I've cut a ticket to get a limit of 480 t2.medium (and t3.medium) instances in all regions.

[2018-11-06 18:43] idvoretskyi commented on #10043
cc @countspongebob

[2018-11-06 21:09] gyuho opened #10051 "Non-GCE job is calling "kubernetes_e2e.py/add_gce_ssh""
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-stable-aws-eks-1-10-prod/181

https://github.com/kubernetes/test-infra/blob/0427f40f413cf9e05abe21b9662e44b476a0eacf/config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-1.10.yaml#L91-L112

does not require GCE SSH but test script tries to set `JENKINS_GCE_SSH_PRIVATE_KEY_FILE` from `~/.ssh/google_compute_engine`, as fails below

[2018-11-06 21:35] gyuho commented on #10051
There used to be `elif args.gce_ssh and args.provider != 'local':`

https://github.com/kubernetes/test-infra/pull/9915/files

Should we set `elif args.gce_ssh and args.provider != 'eks':`?

[2018-11-06 22:32] mattlandis commented on #10043
Bringing in @d-nishi and @gyuho to get this fixed.  My understanding is we have another account that we need to switch to for testing.

[2018-11-06 23:18] hklai commented on #1755
https://github.com/kubernetes/test-infra/pull/10019 is merged and is deployed to Istio.

I think we can consider this as fixed now.

[2018-11-06 23:19] #1755 closed

[2018-11-06 23:31] #10051 closed

[2018-11-06 23:38] d-nishi commented on #10043
/assign @d-nishi

@justinsb @krzyzacy @idvoretskyi @AishSundar -- please cc me when these things happen. I will need few days to take care of this. can I get a deadline from one of you?

[2018-11-06 23:39] d-nishi commented on #10043
/sig aws

[2018-11-07 00:27] ibzib opened #10056 "extraneous semicolon in Gopherage doodle"
The [Gopherage doodle](https://github.com/kubernetes/test-infra/blob/master/gopherage/README.md) contains an unidiomatic semicolon.
/assign @BenTheElder
/joke

[2018-11-07 00:46] BenTheElder commented on #10056
EWONTFIX

This code is terrible and therefore the gopher is staring at it while clutching a `this is fine` mug. Which is what happens when we analyze our coverage data :^)

[2018-11-07 00:46] #10056 closed

[2018-11-07 02:10] krzyzacy commented on #8104
/assign

[2018-11-07 08:10] matthyx opened #10062 "Rename fakegithub fields for clarity"
This is to avoid confusion in tests:
- ExistingLabels --> RepoLabelsExisting
- LabelsAdded --> IssueLabelsAdded
- LabelsRemoved --> IssueLabelsRemoved

[2018-11-07 08:11] matthyx commented on #10062
/kind cleanup
/area prow
/good-first-issue

[2018-11-07 08:36] nikhita commented on #9836
@taragu :tada: thanks for sending a PR!

Just saw this and thought I'd mention it here: https://twitter.com/fatih/status/1059888289979813889 is a tool which does pretty much this using the "suggest changes" feature.

https://fixmie.com/ for more details.

[2018-11-07 11:05] petr-muller opened #10063 "OAuth/deck: Handle invalid/stale access-token-session better"
Currently, if the user happens to have an invalid/stale `access-token-session` cookie (happened to us after some redeployments and reconfigurations, but can be easily reproduced by messing with the token value via browser's devel tools) and accesses Deck's PR dashboard, it enters into an infinite "apparently loading" state with no feedback to the user. The following is logged:

[code]

Prow should

[2018-11-07 14:02] taragu commented on #9836
@nikhita ahh thanks for the info! Looks like we shouldn't reinvent the wheel. Is there an internal approval process for using this tool?

[2018-11-07 17:11] jtnord opened #10065 "[prow] Add support for github teams in OWNERS files"
as per title,  if a team has a large amount of repositories it is  cumbersome to update all the `OWNERS` files when the membership of the team changes.

https://github.com/kubernetes/test-infra/blame/master/prow/plugins/approve/approvers/README.md#L36 points out erroneously that teams are not audited - but that is not the case as [documented](https://help.github.com/articles/reviewing-the-audit-lo

[2018-11-07 17:47] #6084 closed

[2018-11-07 19:32] krzyzacy commented on #8104
@stevekuznetsov can we access ProwJob via sidecar?

[2018-11-07 20:27] yastij opened #10068 "Add support for github on-premise on the git client"
Currently our git client do not support setting other base URLs other than the public github.com

Users with on-premise github cannot make a full usage of prow.

cc @stevekuznetsov

/assign
/area prow/hook

[2018-11-07 21:58] justaugustus commented on #9707
Do we have dogs in space as well?
/woof space

[2018-11-07 23:20] #10004 closed

[2018-11-08 00:01] cjwagner commented on #10065
How would we would distinguish OWNERS_ALIASES from GitHub teams?
Using GitHub teams instead of OWNERS_ALIASES would dramatically increase API token usage for all plugins that use OWNERS files unless the github cache is deployed (which is something we cannot assume) so I'd be hesitant to accept this change unless we can demonstrate that that is not a concern.
Even if this is feasible I won't have t

[2018-11-08 00:31] spiffxp commented on #9707
/meow caturday

[2018-11-08 00:32] BenTheElder commented on #9707
the doggo API has no CATegories
/woof

[2018-11-08 00:41] krzyzacy commented on #9707
time to pull in some ml model?

[2018-11-08 04:20] BenTheElder opened #10083 "Clean up more repo cruft / make repo navigable"
We have a lot of cruft lingering around. Let's make the repo more organized.
Existing PRs:
- eliminate jobs/ - @krzyzacy
- eliminate jenkins/ - @krzyzacy, @BenTheElder
  - we can move bootstrap.py into images/bootstrap.py
  - do something(?) with check_projects.py ... @krzyzacy
- eliminate scenarios/ - @krzyzacy, @BenTheElder
  - we can move this into images/kubekins-e2e instead
- place metrics co

[2018-11-08 05:44] BenTheElder commented on #10083
even just somewhere in `config/` is better. `jobs/` is redundant and full of other cruft we should delete.

we'll want to remove it eventually anyhow...

👍definitely sounds preferable, are you up for doing that?

moving them (into the image(s)?) is what I had in mind, but removing them entirely eventually also works...

[2018-11-08 05:48] BenTheElder opened #10085 "further mitigate prowjob eviction"
ref: https://github.com/kubernetes/kubernetes/issues/70708#issuecomment-436877788

right now we have: https://github.com/kubernetes/test-infra/blob/master/experiment/maintenance/enable_soft_eviction.py running on my workstation periodically.. that's clearly not good enough

we should come up with a better solution, at least running this in a trusted job / cron regularly

....

We rescheduled a sca

[2018-11-08 05:57] krzyzacy commented on #10083
My worry is... someone has some customized images (I believe there's a few out there) and suddenly they will all break :-) I'll say punt after the podutil migration is done, and we can remove it safely?

[2018-11-08 06:08] BenTheElder commented on #10083
Those people will have the same problem then unless they have also migrated :^) Fixing their images and recommending they migrate in the meantime shouldn't be a big deal. We'll have this risk as long as we support checking out test-infra and execing a script from it as the entrypoint..

[2018-11-08 06:12] BenTheElder commented on #10085
it turns out that node (`gke-prow-default-pool-3c8994a8-bckn`) actually has this configured:

`/etc/systemd/system/kubelet.service` ->
[code]

The problem is, this didn't prevent the pod from being evicted. cc @dashpole any ideas?
Can we GC images etc. without triggering pod eviction..?

[2018-11-08 06:13] BenTheElder commented on #10085
cc @AishSundar digging through the logs, this has happened to other jobs and our current mitigation is not really solving it it seems... also cc @krzyzacy :/

[2018-11-08 06:16] krzyzacy commented on #10083
migrate to podutils means they will not checkout test-infra and run bootstrap by default :-)

[2018-11-08 06:18] BenTheElder commented on #10083
We can't know when everyone has migrated unless we like, make bootstrap
"phone home"...

On Wed, Nov 7, 2018, 22:16 Sen Lu <notifications@github.com wrote:

[2018-11-08 06:32] BenTheElder commented on #10085
Maybe. Even then we shouldn't be running out of space on the nodes. IIRC the boot disks are now 200GB, and scalability jobs request outsized resources, though they're not guaranteed QoS I think...

[2018-11-08 12:04] jtnord commented on #10065
I may be wrong but today aliased and users have the same form in the `OWNERS` file ( `- string`)

[code]

There is no difference here between `sig-foo` and `alice` for example.

A team in github is referenced in the form `org/team` so it can be distinguished by virtue of having a slash.  Now I do not find a definitive spec on what is or is not allowed in an alias so it could possibly contain arbit

[2018-11-08 17:55] yujuhong opened #10093 "Jobs cloning the kubernetes/release repo are failing due to `/home/prow/go/src/k8s.io/release/.git/hooks/post-update.sample': File exists # Error: exit status 128"
Example: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-coverage-conformance/404/build-log.txt
[code]

/cc @krzyzacy

[2018-11-08 17:58] krzyzacy commented on #10093
cc @cjwagner @stevekuznetsov feels like a cloneref thing?

also cc @Katharine @BenTheElder for the coverage job

[2018-11-08 17:58] yujuhong commented on #10093
Failing coverage jobs:
https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-conformance
https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-e2e-gci-gce

[2018-11-08 18:19] BenTheElder commented on #10093
Those logs don't make any sense... Is it cloning thrice (!?)
[code]

[2018-11-08 18:36] #9776 closed

[2018-11-08 19:09] #7244 closed

[2018-11-08 19:30] cjwagner commented on #10093
Here is the problem: https://github.com/kubernetes/test-infra/pull/9952#pullrequestreview-173134225

Making a fix PR now.

[2018-11-08 19:39] BenTheElder commented on #10065
Only if the feature were disable-able. If one repo uses this, the token usage affects everyone on that Prow deployment.

I also dislike this a little bit, because other than `hook`, prow nominally supports other git hosts (mainly gerrit atm) and teams is a github thing, whereas owners and aliases are quite portable.

Teams have some major UX downsides for contributors too, non-org members can't @

[2018-11-08 21:20] yujuhong commented on #10093
Can we revert this change or get a quick fix? Thanks!

[2018-11-08 21:52] zacharysarah opened #10097 "Prow doesn't automatically apply language labels"
## This is a...

- [ ] Feature Request
- [x] Bug Report

## Problem

Prow doesn't automatically assign language labels to PRs in [k/website](https://github.com/kubernetes/website/pulls).

Per @cblecker in https://github.com/kubernetes/website/pull/10485#issuecomment-428312191:

Using the [example provided](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubectl/OWNERS) as a template, we a

[2018-11-08 22:02] BenTheElder commented on #10097
First off, you write wonderful, detailed issues, thank you. :smile:

It looks like the `owners-label` plugin is not enabled for kubernetes/website:

https://prow.k8s.io/plugins (look for owners-labels, click "details" for more info)
https://prow.k8s.io/plugins?repo=kubernetes%2Fwebsite (the plugin is not in the list for this repo)

I will PR a fix.

/assign

[2018-11-08 22:13] zacharysarah commented on #10097
Fixed by https://github.com/kubernetes/test-infra/pull/10099

[2018-11-08 22:13] #10097 closed

[2018-11-08 22:45] krzyzacy opened #10100 "podutils: add a timestamp wrapper for build log?"
I can see this is useful for debugging, and is missing from bootstrap. thoughts?

/area prow
cc @cjwagner @stevekuznetsov @fejta @BenTheElder

[2018-11-08 22:48] cblecker commented on #10097
Thanks @bentheelder!

[2018-11-08 22:54] #10093 closed

[2018-11-08 23:20] BenTheElder commented on #10100
I would be somewhat surprised if this didn't already exist as a polished tool.

[2018-11-08 23:44] cjwagner commented on #9012
/remove-lifecycle stale

[2018-11-09 00:39] BenTheElder commented on #7901
Auto deploy prow just hit this. cc @fejta

[2018-11-09 00:40] fejta commented on #7901
what do you mean by prow is super unhappy?

[2018-11-09 00:42] krzyzacy commented on #7901
[code]

/this-is-fine

[2018-11-09 00:42] fejta commented on #7901
heh, that's not good

[2018-11-09 00:44] fejta commented on #7901
I think the issue here is that it runs in test-pods namespace and doesn't specify where it wants to schedule jobs

[2018-11-09 01:22] imkin opened #10106 "Automate configuration of jobs when a new release is cut."
During every release when a new branch is cut by the branch manager (this is the first beta branch), the test-infra team, based on the steps in the [doc](https://github.com/kubernetes/sig-release/tree/cc5f60e27de81495b4534c2f4f5dcc3123f22736/release-team/role-handbooks/test-infra#create-cipresubmit-jobs-for-the-new-release) configures a set of presubmit/post-submit jobs for the CI ( for this new r

[2018-11-09 04:28] cjwagner opened #10110 "Cat plugin is unusable."
There is no way to specifically request GIF images even though https://thecatapi.com site [serves them](https://github.com/kubernetes/test-infra/pull/10109#issuecomment-437243660) and actually provides a way to [request them specifically](https://documenter.getpostman.com/view/5578104/RWgqUxxh#query-parameters).

/assign @michelle192837 @cjwagner
/cc @BenTheElder @krzyzacy @fejta @ibzib
/kind bug

[2018-11-09 04:57] BenTheElder commented on #10110
This plugin is literally unusable now.
/area prow

[2018-11-09 06:32] krzyzacy commented on #10110
also `/meow psychedelic` does not work anymore? (ref https://github.com/kubernetes-client/python/pull/673#issuecomment-437179170)

/meow

[2018-11-09 06:46] #7901 closed

[2018-11-09 08:04] nikhita commented on #10047
/sig contributor-experience
/kind feature

[2018-11-09 08:14] nikhita opened #10114 "branchprotector: recently added jobs are not updated"
I recently added prowjobs for the [publishing-bot](https://github.com/kubernetes/publishing-bot) in https://github.com/kubernetes/test-infra/pull/9895 and [cluster-api-provider-digitalocean](https://github.com/kubernetes-sigs/cluster-api-provider-digitalocean) in https://github.com/kubernetes/test-infra/pull/9954.

The PR for cluster-api-provider-digitalocean was merged yesterday but the PR for pu

[2018-11-09 08:14] nikhita commented on #10114
cc @sttts
for publishing bot

cc @xmudrii @alvaroaleman
for cluster-api-provider-digitalocean

cc @cblecker
since you mentioned on Slack that you saw something similar for https://github.com/kubernetes-sigs/yaml and https://github.com/kubernetes/klog.

cc @BenTheElder
because you are working on https://github.com/kubernetes/test-infra/issues/10015

[2018-11-09 11:50] justinsb commented on #10043
Looks like it is (now) only these regions: us-east-1, us-east-2, us-west-2

I'll send a PR to exclude them, for now.

[2018-11-09 13:03] suleymanakbas91 opened #10118 "ok-to-test should be reverted for new commits"
Currently, once someone from the trusted org comments `ok-to-test` to a PR, any upcoming commit will trigger the jobs. This could lead to security issues if the commits after `ok-to-test` comment introduce malicious code.

[2018-11-09 18:05] dashpole commented on #10085
can you configure image garbage collection?  https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/  The only issue with it is that if it can't gc any images when it is above the threshold, it will log a lot.

[2018-11-09 18:36] #10110 closed

[2018-11-09 18:50] #10048 closed

[2018-11-09 19:17] BenTheElder commented on #10085
from the docs, the image gc thresholds are deprecated in favor of just the soft / hard disk thresholds. We have the latter set.

[2018-11-09 19:20] dashpole commented on #10085
It is technically deprecated in favor of the hard eviction thresholds.  But it looks like for whatever reason, hard eviction is evicting anyways.  If you can link to the kubelet log from when this happened, I might be able to figure out why.  But making image gc kick in way before eviction is a sure way of making sure images are cleaned up pro-actively

[2018-11-09 19:31] BenTheElder commented on #9707
The sink cats have gone missing!! https://github.com/kubernetes/test-infra/pull/10111#issuecomment-437469768

[2018-11-09 19:31] krzyzacy commented on #9707
there are other caregory gone missing too I think

[2018-11-09 19:47] dashpole commented on #10085
I don't expect it to be removed until we fix issues like this one.

[2018-11-09 19:47] dashpole commented on #10085
If it is removed, we would only do that once the --eviction-hard setting actually works for all cases.

[2018-11-09 20:31] fejta commented on #9707
/meow clothes

[2018-11-09 20:32] krzyzacy commented on #9707
/meowvie clothes

[2018-11-09 20:51] fejta commented on #9707
Maybe it's working?

[2018-11-09 20:51] fejta commented on #9707
/meow dream

[2018-11-09 20:52] fejta commented on #9707
/meow sinks

[2018-11-09 20:52] fejta commented on #9707
/close

[2018-11-09 20:53] krzyzacy commented on #9707
/meow psychedelic

[2018-11-09 20:54] krzyzacy commented on #9707
/meow breaded

[2018-11-09 20:54] krzyzacy commented on #9707
/meow girls

[2018-11-09 20:55] krzyzacy commented on #9707
really 😢

[2018-11-09 21:50] BenTheElder opened #10123 "document prow podspec transformations"
we should document some examples of what prow does to a given podspec before actually scheduling it.

/kind documentation
/area prow/plank
/cc @cjwagner @stevekuznetsov

[2018-11-09 22:30] imkin commented on #10106
/area config
/area testgrid
/kind feature
/sig release
/assign

[2018-11-09 22:31] imkin commented on #10106
/cc @krzyzacy @BenTheElder

[2018-11-09 22:31] imkin commented on #10106
/cc @cjwagner

[2018-11-09 22:55] #3827 closed

[2018-11-09 23:28] ixdy commented on #9707
/meowvie sunglasses

[2018-11-09 23:29] ixdy commented on #9707
/meowvie boxes

[2018-11-10 00:10] #9901 closed

[2018-11-10 07:45] #8339 closed

[2018-11-11 15:42] nikhita commented on #10118
/cc @matthyx

[2018-11-11 16:07] matthyx commented on #10118
Bug! I will look at it tomorrow morning.

[2018-11-12 09:43] suleymanakbas91 commented on #10118
I know it'd be awfully inconvenient, but otherwise this would stay as a security vulnerability. I think this is a trade-off Prow admins should make between security and convenience, so how about making it configurable?

[2018-11-12 13:51] nikhita commented on #10114
Hmm, this is weird. https://github.com/kubernetes-sigs/cluster-api-provider-digitalocean/pull/120 is not getting merged because the lint test keeps failing (this test won't pass until https://github.com/kubernetes/test-infra/pull/10113 is merged).

I also noticed that the lint test does not show as `required` and the https://prow.k8s.io/pr?query=is%3Apr+repo%3Akubernetes-sigs%2Fcluster-api-provide

[2018-11-12 18:37] cjwagner commented on #10118
This is not a security vulnerability this is the intended behavior. `/ok-to-test` is designed to mark a PR as trusted and "ok to test" at any point in the future. We have a separate mechanism for triggering tests once, the `/test all` command. For convenience `/lgtm` also behaves like `/test all` on non-collaborator PRs.

Providing a configuration option to completely disable the `/ok-to-test` com

[2018-11-12 18:40] cblecker commented on #10114
/assign @fejta
/cc @cjwagner

CC'ing Cole and assigning Erick as oncall. Can we get some eyes on this one this week? I'm not sure what broke that's preventing the branch protector from doing it's thing, especially if it's also impacting tide's merge requirements. Did the on-cluster config get corrupted somehow?

[2018-11-12 19:00] #9344 closed

[2018-11-12 19:11] BenTheElder commented on #9344
Thanks all!

[2018-11-12 19:14] BenTheElder commented on #10118
if you only want to test the current commit you can comment `/test all` as a trusted commentor to test things once, instead of commenting `/ok-to-test`.

[2018-11-12 19:17] BenTheElder commented on #10118
It is definitely a trade-off, and I think we'd welcome a PR to make it configurable. As Cole mentioned a work-around for now is to use `/test all` instead.

[2018-11-12 21:44] BenTheElder commented on #10118
/help

[2018-11-12 22:04] matthyx commented on #10118
/assign

[2018-11-12 22:09] #10063 closed

[2018-11-12 22:20] #9996 closed

[2018-11-12 23:34] anwaradil commented on #10062
After switching to python 3 and upgrading pip.

Here is the issue I am seeing now

bazel build //test-infra
ERROR: no such package 'external': Error encountered while dealing with the WORKSPACE file: /Users/aadil/WORKSPACE (Is a directory)
ERROR: no such package 'external': Error encountered while dealing with the WORKSPACE file: /Users/aadil/WORKSPACE (Is a directory)
INFO: Elapsed time: 0.045s
I

[2018-11-12 23:49] cjwagner commented on #10114
Hmm, I'm not sure what is wrong with the branch protector, I don't see any errors in the logs and it appears to be running regularly. The last time the branchprotector touched the digitalocean repo was on the 8th at 10:49am and the publishing-bot repo has never been touched.

The in cluster Prow config is exposed here and seems to be fine: https://prow.k8s.io/config

Why is that behavior unexpecte

[2018-11-13 00:31] #10011 closed

[2018-11-13 07:39] matthyx commented on #10118
/remove-help

[2018-11-13 10:19] suleymanakbas91 opened #10138 "Make the links in prow responses configurable"
**What would you like to be added**:

Currently, filing an issue and commands help links in prow responses are hardcoded [here](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/respond.go#L26). It would be nice to configure them to point our prow instance and our repo.

**Why is this needed**:

To prevent users from ending up here for every question they have regarding our prow in

[2018-11-13 11:29] FrancoisChastel opened #10139 "prow/ Add gRPC entry-point to 'repoowners'"
**What would you like to be added**:
- Add gRPC entrypoint inside some plugins of prow, in this case repo owners.

**Why is this needed**:
- Allowing consistency inside infrastructures to have a single source of knowledge when in come to information about GitHub for example (file owners in this case but could be used in other context).

/kind feature

[2018-11-13 11:36] FrancoisChastel opened #10140 "prow: Add regex support inside plugin.yaml for prow plugins"
**What would you like to be added**:
- Add regex/more efficient selector support inside the plugin.yaml of prow to allow better easier manage plugins on different repo/org.

**Why is this needed**:
- Currently if you want to have more complex rules for plugin activation this is a lot of copy-pasta, for example, if you want to activate a plugin on all the repositories of an organization except one,

[2018-11-13 13:57] #10139 closed

[2018-11-13 14:01] FrancoisChastel commented on #10139
I didn't have enough context for this feature, I am closing it for now and will reopen it with more information once I have it.

Apologies for the confusion.

[2018-11-13 14:01] FrancoisChastel commented on #10140
I didn't have enough context for this feature, I am closing it for now and will reopen it with more information once I have it.

Apologies for the confusion.

[2018-11-13 14:01] #10140 closed

[2018-11-13 22:20] BenTheElder commented on #9836
IMO this is still something nice to build into Prow, we have room to do other things with the suggestions functionality but this is the first obvious step to use it imo. Leveraging the new suggest changes functionality in Prow was the intention behind opening this issue.

[2018-11-14 06:36] msau42 commented on #9485
/assign

[2018-11-14 17:50] d-nishi commented on #10043
@idvoretskyi @spiffxp @justinsb -- this will be completed by Friday end of week.

I got the approval and added enough credits to cover current expenses and add buffer.

/cc @countspongebob

[2018-11-14 20:35] ixdy commented on #8668
We might also want to think about how to support batching up job results. E.g. if I request a bunch of presubmit tests, should it send a bunch of emails? Or should it wait for all jobs to complete and then send one summary email?

[2018-11-14 21:20] wbrefvem opened #10146 "Proposal: Support git providers other than GitHub in prow"
**What would you like to be added**:

Some sort of generic git service in prow that normalizes incoming webhooks into a generic format that hook and other plugins can understand, as well as provides a generic interface for performing git-related actions such as commenting on PRs, etc.

My initial proposal is that this git service essentially be another plugin that implements a number of generic gi

[2018-11-14 21:56] #10118 closed

[2018-11-14 23:32] BenTheElder commented on #8668
Sen and I sketched out batching for the gerrit integration, where it is
particularly necessary because comments aren't mutable (at least not to the
bot).

On Wed, Nov 14, 2018 at 12:35 PM Jeff Grafton <notifications@github.com>
wrote:

[2018-11-14 23:36] BenTheElder commented on #10146
cc @cjwagner @krzyzacy
/area prow

[2018-11-15 08:43] matthyx commented on #4584
/remove-lifecycle rotten
I am very interested by this issue, since I will need to work on something similar on my daily job...
So what prevents us from going to continuous deployment?
Do we document somewhere the "smoke tests" that are manually/automatically run when bumping prow?
Can we leverage Kubernetes to do canary or A/B testing?

[2018-11-15 12:07] idvoretskyi commented on #10043
@d-nishi thanks!

[2018-11-15 19:16] cjwagner opened #10153 "Should the gce-stable1-beta-upgrade-cluster-new job have a --kubectl-path flag?"
The [`ci-kubernetes-e2e-gce-stable1-beta-upgrade-cluster-new` job](https://github.com/kubernetes/test-infra/blob/476caee0331e3aeccc1979b7fc84bdc4557c46e3/config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gce.yaml#L28-L51) does not specify the `--test_args=--kubectl-path=../../../../kubernetes_skew/cluster/kubectl.sh --minStartupPods=8` flag that the other upgrade jobs specify. Is this inten

[2018-11-15 19:17] cjwagner commented on #10153
/sig cluster-lifecycle

[2018-11-15 19:35] fejta commented on #10114
Let me take a look...

[2018-11-15 19:39] cblecker commented on #10114
branch protection settings don't seem to be right for klog or yaml, still:
- https://github.com/kubernetes/klog/settings/branch_protection_rules/2611641
- https://github.com/kubernetes-sigs/yaml/settings/branch_protection_rules/2667334

[2018-11-15 19:45] fejta commented on #10114
We're not toggling whether to use all branches/all repos correctly

[2018-11-15 20:33] amwat opened #10157 "Rerun quick copy button errors out"
**What happened**:
Clicking on the copy button in the rerun command errors out with
```Uncaught ReferenceError: copyToClipboardWithToast is not defined at HTMLAnchorElement.onclick ((index):1)```
**What you expected to happen**:
The rerun command to be copied to clipboard.
**How to reproduce it (as minimally and precisely as possible)**:
go to https://prow.k8s.io/ , click on the rerun icon for any

[2018-11-15 20:34] amwat commented on #10157
/area prow/deck
/assign @BenTheElder @Katharine

[2018-11-15 21:19] yastij commented on #10146
we might want to think about an interface that providers might want to implement.

[2018-11-15 21:55] BenTheElder commented on #10157
I'm sorry for that terrible code. We should fix that. Will try to look soon.

[2018-11-15 22:22] #10157 closed

[2018-11-15 22:58] #5536 closed

[2018-11-16 00:35] BenTheElder commented on #1723
/remove-lifecycle rotten

[2018-11-16 06:46] BenTheElder commented on #7784
Should be fixed
/close

On Thu, Nov 15, 2018, 22:05 fejta-bot <notifications@github.com wrote:

[2018-11-16 06:46] #7784 closed

[2018-11-16 08:59] matthyx commented on #10062
What is your Linux distribution? How did you install bazel, and what's the version?
Normally all dependencies, like python and co, are downloaded/installed/updated when you run bazel.
Are you behind a corporate proxy?

[2018-11-16 19:37] fejta commented on #4584
We do most of this today:
1) we build a prow RC at every commit https://testgrid.k8s.io/sig-testing-misc#deploy-prow
  - See [post-test-infra-push-prow](https://github.com/kubernetes/test-infra/blob/abb4a516f92476e50bd190f3c30b980948874155/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L49-L66)
2) We deploy the configured version of prow at every commit https://testgrid.k8s.io/sig-testi

[2018-11-16 19:38] fejta commented on #4584
If you want to do CD, the best way is to write a postsubmit job that builds/deploys your code.

[2018-11-16 19:41] fejta commented on #4584
Also matthyx are you wanting to CD prow or use prow to CD something else?

[2018-11-16 20:03] #8940 closed

[2018-11-16 21:41] matthyx commented on #4584
I wanted to CD prow because it's fun, and a good experience for my company.

Unfortunately we cannot use prow internally for the moment, but a migration to GitHub enterprise is on the way, and we could then move to it...

[2018-11-16 22:05] anwaradil commented on #10062
Thanks Matthias for reaching out, I am able to build now

I am able to build now
bazel build
INFO: Analysed 0 targets (2 packages loaded).
INFO: Found 0 targets...
INFO: Elapsed time: 36.221s, Critical Path: 0.63s
INFO: 0 processes.
INFO: Build completed successfully, 1 total action

Here is the resolution 😊

I removed python 3.x completely
I was not able to build with python that was in my /usr/l

[2018-11-16 22:37] anwaradil commented on #10062
Please /assign this issue to me , I will take this as my first case

[2018-11-16 22:43] matthyx commented on #10062
It's impossible to assign an issue to a non-member... but consider it yours.
/remove-good-first-issue
/remove-help

[2018-11-16 23:13] anwaradil commented on #10062
Thank you! Is there a recommended procedure for pushing changes to the repo like pushing changes to a branch rather than master before making pull requests or any other recommendations? Any branch naming conventions?

[2018-11-17 01:08] fejta commented on #4584
Take a look at https://github.com/kubernetes/test-infra/pull/10172

[2018-11-17 02:01] d-nishi commented on #10043
credits have been applied to the account id you sent via email @idvoretskyi

please check and confirm.

[2018-11-17 03:14] anwaradil commented on #9417
Is help still needed with this issue?

[2018-11-17 04:38] BenTheElder commented on #9417
Yes, nobody has taken this on yet.

We have a couple options here, but basically we should come up with something cheap that lets us verify that shell files are actually exec.

It's not super important, but it might help catch some bugs.

[2018-11-17 04:53] anwaradil commented on #9417
I can work on it. What files should I look at in the repo? if you can give me some more information that would be great :)

[2018-11-17 06:44] BenTheElder commented on #9417
so either we should:
- create a new re-usable prowjob (https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md#writing-a-prowjob-that-uses-pod-utilities) that does this
- or create a plugin for prow/hook (https://github.com/kubernetes/test-infra/tree/master/prow/plugins#plugins) that can be enabled to do this, the [`golint`](https://github.com/kubernetes/test-infra/tree/master/p

[2018-11-17 07:11] BenTheElder commented on #10062
Just push to a branch on your fork, as long as you choose anything other than "master" it should work well, and the name won't be particularly important 😃

Thanks for your contribution :-)

[2018-11-17 07:48] BenTheElder commented on #10138
/cc @cjwagner
/area prow

imo this is a bug, agree we should fix this. we could do something like allow a cross-plugin config setting to specify the base URL to deck, and fallback to https://prow.k8s.io when unset to preserve existing functionality until everyone has configured this.

[2018-11-17 07:48] BenTheElder commented on #10138
/help

[2018-11-17 08:02] BenTheElder commented on #7760
we probably still want this? reproducible builds are very nice :-)
/remove-lifecycle rotten

[2018-11-19 16:40] milesmatthias opened #10181 "Planter.sh fails"
Following the instructions on the [planter.sh readme](https://github.com/kubernetes/test-infra/blob/master/planter/README.md):

[code]

produces:

[code]

I expected this command to run planter in a docker container, not produce an error.

[2018-11-19 18:19] BenTheElder commented on #10181
We'll just need to update the docs, run `make clean` from Kubernetes first before building with bazel or planter. I think the Kubernetes docs have this, but not the planter docs.

That _output symlink is from the make/bash/docker build system, this is breaking _bazel_ inside planter when it scans the repo because there is a symlink cycle. planter is working as intended.

[2018-11-19 20:01] krzyzacy commented on #8300
/remove-lifecycle stale

[2018-11-19 20:29] #7952 closed

[2018-11-19 20:30] BenTheElder commented on #5603
@cblecker tackled this already I think

[2018-11-19 20:42] cblecker commented on #5603
Yup. I think it's not deployed yet, but was fixed in https://github.com/kubernetes/test-infra/pull/10147

/remove-help

[2018-11-19 21:07] krzyzacy commented on #9096
done by #9825
/assign @stevekuznetsov

[2018-11-19 21:07] #9096 closed

[2018-11-19 21:20] droslean commented on #5279
/close

[2018-11-19 21:20] #5279 closed

[2018-11-19 21:21] droslean commented on #5279
There are no plans to serve the documentation in `deck`.

[2018-11-19 21:52] anwaradil commented on #9628
I can work on this. I have been staring at this code for a while and I think the issue is we are not checking if the recent job has been successful in line 124 of badge .go.

The question is should we even check the length if the recent job is successful? Assuming we turn the badge to red or green only according to the latest job but not per the last 8 runs.

Also, Maybe I need to look some more b

[2018-11-20 06:24] jlewi opened #10186 "periobolos seg fault on dry run"
**What happened**:

I ran the periobolos command in dry run mode

[code]

This resulted in the seg fault

[code]
**What you expected to happen**:

Print out changes.

**How to reproduce it (as minimally and precisely as possible)**:

Run perobolos as above config is in kubeflow/internal-acls#20

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/kind bu

[2018-11-20 06:30] ms4720 commented on #10138
Mind if I work on it?

[2018-11-20 06:38] jlewi commented on #10186
Looks like this is fixed on master and I was using an old version.

[2018-11-20 06:38] #10186 closed

[2018-11-20 07:42] BenTheElder commented on #10138
Please do!
/remove-help

[2018-11-20 07:55] ms4720 commented on #10138
ok now I need to figure out how to do this, is there a getting started guide?

[2018-11-20 09:06] ms4720 commented on #10138
/assign ms4720

[2018-11-20 13:31] mborsz opened #10188 "Prow job started twice"
**What happened**:
The ci-kubernetes-e2e-gce-scale-performance job was started two times on 2018-11-16: at 21:40 CET, and 9:02 CET.

**What you expected to happen**:
Only single run to happen, the one at 9:02 CET which is specified in the job config.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

https://gubernator.k8s.

[2018-11-20 14:12] munnerz opened #10189 "prow: making job-config-path a []string"
**What would you like to be added**:

Allowing multiple job-config-paths to be specified (i.e. merging multiple directories of yaml files).

**Why is this needed**:

We want to maintain a private prow config repo as well as a public repo.

The private repo would house supplemental job configs that are not intended to be publicly visible.

In order to use updateconfig to manage this, I intended to

[2018-11-20 14:12] munnerz commented on #10189
/area prow

[2018-11-20 15:44] nikhita commented on #9126
/remove-lifecycle stale

[2018-11-20 18:05] wbrefvem commented on #10146
@yastij Yeah, there seems to be some consensus around this.

[2018-11-20 18:21] wbrefvem commented on #10146
**Update**

Here are some more concrete ideas on how to tackle this:

- Implement a git service as a freestanding gRPC server
- At least one webhook normalization method that would transform an incoming webhook into a generic event that hook can dispatch
- Individual methods for various actions such as `AssignIssue`, `CommentOnPR`, etc.
- Ship a default service that supports popular providers such

[2018-11-20 19:22] cblecker commented on #5603
<img width="639" alt="screenshot 2018-11-20 11 13 28" src="https://user-images.githubusercontent.com/1431969/48797262-8e46ae80-ecb6-11e8-8148-6b9f6b73ab6e.png">

It works!

/close

[2018-11-20 19:22] #5603 closed

[2018-11-20 20:31] cblecker commented on #10114
Verified that the fix is working as expected.

Thanks so much, @fejta!

/close

[2018-11-20 20:31] #10114 closed

[2018-11-20 22:48] TarunKDas2k18 opened #10197 "juju status works that is it shows all K8 cluster is up and running with 9 nodes but kubectl cluster-info hangs"
**What happened**:
juju status works that is it shows all K8 cluster is up and running with 9 nodes  but kubectl cluster-info hangs

**What you expected to happen**:
Should get a list of worker and master nodes

**How to reproduce it (as minimally and precisely as possible)**:
Use below commands to spin up canonical k8 cluster using juju in aws

juju update-clouds # This command ensures all the la

[2018-11-20 22:55] #8435 closed

[2018-11-20 22:58] BenTheElder commented on #10197
Please file this again with https://github.com/kubernetes/kubernetes, this repo is for the project automation and testing infrastructure, not Kubernetes itself or the juju tooling.

You will also need to provide more info there for it to be debuggable.

[2018-11-20 22:58] #10197 closed

[2018-11-21 07:43] matthyx commented on #9003
/remove-lifecycle stale
/remove-help
/assign

[2018-11-21 07:50] matthyx commented on #9003
Should be consider also the `$GIT_DIR/info/attributes` file?

[2018-11-21 12:12] mborsz commented on #10188
Thanks for the response. Is there any way to prevent rerunning test in case of pod eviction? This test is sharing gce project with other tests, so if it doesn't finish in time, other test will run and will break both of them.

[2018-11-21 12:48] matthyx commented on #9003
Also, as I understand it, for a given file, [attributes](https://git-scm.com/docs/gitattributes) can come from `$GIT_DIR/info/attributes` or any `.gitattributes` in parent directories (not sure about global and system-wide, does it even makes sense in our case?):

So basically I have to find and parse all `.gitattributes` in the repo, store them in a sort of tree, and reconstruct the attributes fo

[2018-11-21 19:40] suleymanakbas91 opened #10209 "Document limitations in naming prow jobs"
Using slashes `/` in job names cause problems like spyglass showing an empty page. It'd be nice have this and any other limitations in naming prow jobs documented somewhere.

[2018-11-22 00:58] michal-hudy commented on #10209
Consider also adding a check for names to the `k8s.io/test-infra/prow/cmd/checkconfig`.

[2018-11-22 07:15] BenTheElder commented on #10209
+1 for both, cc @cjwagner more prow docks and checkconfig? 🙃

[2018-11-23 02:46] #8410 closed

[2018-11-23 23:06] #8471 closed

[2018-11-24 02:13] rdrgmnzs commented on #3324
Any more progress on this? Would love to have access to it for internal use.

[2018-11-25 05:30] Katharine commented on #9836
Does this make sense for e.g. rename-type issues? AFAIK, the linter is only going to suggest changes at the declaration, but not for any uses — so for the suggestions to be meaningful, you need to use GitHub to apply the changes, pull the results, fix your code, push the results, _and_ then later squash your commits.

I think to be useful this really needs to either be sufficiently smart to also f

[2018-11-26 17:01] timothysc opened #10226 "Add non-active approvers as a field to owners files."
**What would you like to be added**:
Add a field to owner files for non-active approvers.

These are people/leads/chairs that may need to perform periodic surgery on a given area and are well versed, but should not be assigned on a day-2-day basis.

**Why is this needed**:
As part of repo addition to k8s-sigs, sig-leads are added to the approvers files for multiple reasons.  However, they should n

[2018-11-26 22:57] stevekuznetsov commented on #10209
/assign

[2018-11-26 23:17] BenTheElder commented on #10188
I don't think we have any functionality for that ourselves, but k8s pods might, k8s is rescheduling the pod after evicting it. cc @cjwagner

[2018-11-26 23:31] BenTheElder opened #10230 "rename kubekins-e2e to something more accurate"
**What would you like to be added**: rename kubekins-e2e

**Why is this needed**: Jenkins hasn't been involved for a long time, and this image is hardly just used for e2es

I propose `krte` - `K`ubernetes `R`un`T`ime `E`nvironment pronounced "kurt-ee", with a wink to Googlers :wink:

This will follow through on its name, and be the standardized runtime environment for complex e2es, build etc. Simp

[2018-11-26 23:34] ixdy commented on #10230
/woof
/kind bikeshed

[2018-11-26 23:35] ixdy commented on #10230
so many good puppers!

[2018-11-27 01:15] cjwagner commented on #10188
Based on the `plank` code, k8s actually marks the pod as failed when it is evicted and `plank` is responsible for the rescheduling.
https://github.com/kubernetes/test-infra/blob/2946ed2b3cc74e8f1d91ee05687d209ac9b1b571/prow/plank/controller.go#L376-L378
It sounds like for some jobs we should instead be completing the ProwJob and setting it to `kube.ErrorState`. We could make this behavior configur

[2018-11-27 01:31] BenTheElder commented on #10188
SGTM, we'd definitely disable rescheduling for most scalability jobs. maybe `failOnEviction: true`? (naming is hard!)

[2018-11-27 01:39] cjwagner commented on #10188
`errorOnEviction` might be a bit more precise. I'll make a PR.

[2018-11-27 01:43] BenTheElder commented on #8760
I think we're likely to support this via `kubectl exec`, and without any new features to prow. cc @cjwagner

- you can already rerun jobs if you have `kubectl` access to prow.
- you can already `kubectl exec --namespace=test-pods $POD_ID -- /bin/sh` to get a terminal inside of a job's pod for jobs on prow / plank. this is roughly equivilant to SSHing to a job. perhaps we could document this, but `

[2018-11-27 06:05] roberthbailey commented on #9679
Which upgrade / downgrade versions are we testing? If all of the versions in the current test matrix can use the same minor version of etcd, then maybe we can just remove this TODO and the flag altogether.

[2018-11-27 10:47] matthyx commented on #9003
@stevekuznetsov can you confirm?

[2018-11-27 16:04] stevekuznetsov commented on #9003
@matthyx that seems correct. However, I would maybe do a quick search to see how many projects currently using `size` are using the dir-relative attributes, anecdotally it seems like it would be few. It seems like you'd get the majority of the benefit from this feature with a minimum amount of work by not implementing support for the full attributes tree. Either way you want to approach it seems O

[2018-11-27 17:01] stevekuznetsov commented on #9855
/kind enhacement
/cc @cjwagner @BenTheElder @fejta

[2018-11-27 17:03] stevekuznetsov commented on #9840
I think our error+warning levels are pretty quiet (since I watch mine religiously), but I'm not on a newer version yet ...

[2018-11-27 17:05] stevekuznetsov commented on #9647
@fejta @spiffxp @cjwagner @BenTheElder @krzyzacy looks like k8s moved to use https://github.com/kubernetes-sigs/yaml/ for strict parsing -- do we want to migrate?

[2018-11-27 17:09] stevekuznetsov commented on #9948
I think I'm for this -- we have unique names anyway as we generate our jobs and use the name field as the identifier, context as the user-facing name. Flakiness data should be better after this change as flakes between branches aren't necessarily related.

[2018-11-27 17:12] stevekuznetsov commented on #9970
There was an issue tracking this somewhere -- a tool to output the `docker run` command to debug locally. @BenTheElder do you remember where that was?

[2018-11-27 17:13] stevekuznetsov commented on #8892
/assign
This is really key for disaster recovery, too -.-

[2018-11-27 17:13] nikhita commented on #10226
/sig contributor-experience

[2018-11-27 18:20] michelle192837 commented on #3324
Heya! Sorry about the lack of updates; this is slowly moving through bureaucracy internally, so I don't want to say much until I can say if it's approved for open sourcing officially. That said, while it's working its way through approvals I am still doing some other stuff to make sure it's ready for open sourcing to minimize approval -> release time.

Once approved, I'll update here, and there sh

[2018-11-27 18:29] stevekuznetsov commented on #3324
OK, sounds good! Just wanted to check if there was something easier than bugging you for updates :)

[2018-11-27 18:56] michelle192837 commented on #3324
Nah, feel free to bug me for updates. ^^ But I'll try and make it so you don't have to as often.

[2018-11-27 19:37] BenTheElder commented on #9855
hmm this seems pretty specific, though interesting...

seems like something we'd want to limit. Also, it introduces more state into a relatively stateless set of services. we could probably dodge this by annotating the original prowjob with a counter of remaining runs. and have a separate controller create new jobs whenever a job with a non-zero counter finishes, but this sort of thing would be a

[2018-11-27 19:46] krzyzacy commented on #9855
I think we don't want to spam our CI, if you want to test things like flakiness, you can trigger multiple parallel runs locally? :-)

[2018-11-27 19:48] stevekuznetsov commented on #9855
Agreed with the above, generally not super interested in giving people a big button to push N times.

[2018-11-28 01:09] Ark-kun opened #10244 "Prow constantly reruns successful tests and tide does not put PRs in merge pool"
**What happened**:
Our approved PRs take multiple hours to merge.
All tests pass (takes half an hour), but instead of `tide` putting the PR into the merge pool, after several minutes Prow just starts all tests again. And again. And again. And again.
See this PR for instance: https://gubernator.k8s.io/pr/kubeflow/pipelines/389 - the tests are rerun successfully 6+ times and the PR is still not in t

[2018-11-28 01:11] Ark-kun commented on #10244
@IronPan @vicaire @yebrahim @jlewi

[2018-11-28 01:40] cjwagner commented on #10244
Tide does not properly handle `run_after_success` jobs and we have decided not to include the PR to add support for them (https://github.com/kubernetes/test-infra/pull/8868) because we will be deprecating `run_after_success` as soon as the knative pipeline CRD is viable as a replacement.
See the PR for details on why we chose not to go forward with `run_after_success`.

[2018-11-28 01:40] #10244 closed

[2018-11-28 18:18] #10209 closed

[2018-11-28 21:34] #10181 closed

[2018-11-28 21:41] justaugustus commented on #10226
+1 for this

[2018-11-28 21:41] BenTheElder commented on #10181
Added a note to the docs, please re-open or file a new issue if you continue to have problems!

[2018-11-28 21:57] ixdy commented on #10181
also https://github.com/kubernetes/kubernetes/pull/71524 should maybe fix this for real.

[2018-11-29 00:19] imkin opened #10261 "bump_e2e_image.sh script fails while pulling bazel git dependency"
**What happened**:
Ran
`$ ./expermiment/bump_e2e_image.sh`

failed with

**What you expected to happen**:
bump command to end successfully

**How to reproduce it (as minimally and precisely as possible)**:
cleanup the bazel cache (by running `bazel clean` or purging the bazel cache directory) and run the command `$ ./expermiment/bump_e2e_image.sh`
**Please provide links to example occurrences, if

[2018-11-29 00:20] imkin commented on #10261
/cc @cjwagner @ixdy @krzyzacy

[2018-11-29 00:20] imkin commented on #10261
/assign

[2018-11-29 00:28] #9488 closed, assigned to ibzib

[2018-11-29 00:41] ixdy commented on #10261
Yup, somehow we unintentionally missed fixing
https://github.com/kubernetes/test-infra/blob/84054b3bac433350fc77b8154004607e50ecda65/WORKSPACE#L3-L7

Moving https://github.com/kubernetes/test-infra/blob/84054b3bac433350fc77b8154004607e50ecda65/WORKSPACE#L13-L14 up to the beginning of the file (after the `workspace()` line) should fix this.

It'd be good to get this fixed ASAP, since I think this w

[2018-11-29 00:43] imkin commented on #10261
@ixdy thanks yes generating a PR for this.

[2018-11-29 07:17] BenTheElder commented on #8892
we have a script now but it's not that great, in experiment/ iirc

[2018-11-29 07:20] BenTheElder commented on #9647
I don't htink k8s has yet. `kind` did for a bit (and then moved back, but only to use the k8s encoding machinery), I would recommend it except that it's a breaking change to prow. Was just discussing using this in the config validation tool with @cjwagner

It works nicely, I'd recommend using it `sigs.k8s.io/yaml.UmarshalStrict`

[2018-11-29 07:38] BenTheElder commented on #9970
#6590

[2018-11-29 11:32] linanster opened #10268 "etcd&kube-apiserver down on 2-master env"
Hi all,
I try to set up 2-master(HA) k8s, the 2 master nodes get Ready, However, "etcd" and "kube-apiserver" on master2(node2) down. Need your help and appreciate your advice.

info:
node1(master):10.249.244.51
node2:(master):10.249.244.52
keepalived vip: 10.249.244.59

[root@node1 ~]# kubectl -s https://10.249.244.51:6443 get pod -n kube-system -o wide
NAME READY STATUS RESTARTS AGE IP NODE NOMIN

[2018-11-29 16:54] stevekuznetsov commented on #8892
Yeah the script is not amazing

[2018-11-29 18:27] Katharine opened #10274 "Update spyglass viewer names and remove backwards compatibility"
In #10208 the existing spyglass viewers were renamed.

After deployment, the configuration should be updated to use the new names, and eventually the backwards compatibility removed.

/assign

[2018-11-29 18:35] #10261 closed

[2018-11-29 19:31] sebastienvas commented on #4425
Can we just be listening to delete on the CRD controller and delete the matching pods ?

[2018-11-29 19:43] krzyzacy commented on #4425
rewrite plank to become a real CRD controller first? :-)

[2018-11-29 19:55] kargakis commented on #4425
I think in this case you would want to rewrite sinker.

On Thu, Nov 29, 2018, 20:43 Sen Lu <notifications@github.com wrote:

[2018-11-29 21:42] sebastienvas commented on #4425
I wish I did not asked :(. Do we have a label for tech debt ?

[2018-11-29 23:27] #3798 closed

[2018-11-29 23:27] #4891 closed

[2018-11-30 00:31] fejta commented on #4646
/remove-lifecycle stale

Michelle can we sneak this in before declaring testgrid code perfection and having achieved enlightenment?

[2018-11-30 00:55] BenTheElder commented on #4646
the test-infra commit metadata goes away when we switch to podutils and stop checking out test-infra in every job though FWIW

[2018-11-30 01:04] BenTheElder commented on #5708
/remove-lifecycle stale

On Thu, Nov 29, 2018 at 4:28 PM fejta-bot <notifications@github.com> wrote:

[2018-11-30 01:23] Ark-kun opened #10288 "Prow executor waits for all background threads to complete"
**What happened**:

In my test shell script I create a background thread. During normal execution, the script completes as expected without waiting for any background threads. For some reason, Prow breaks this script execution behavior. The script completes (even the EXIT traps run), but then the tests sits there waiting for the background threads to complete.

**What you expected to happen**:
I e

[2018-11-30 07:26] pohly opened #10289 "gubernator: support logs in nested directories"
**What would you like to be added**:

When viewing test artifacts via the log view (for example, https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4398/nodelog), logs are only found if they are one level below the `artifacts` directory. This works:
* `artifacts/_sig-storage_CSI_Volumes_Driver_csi-hostpath-v0_Testpattern_Dynamic_PV_default_fs_subPath_should_un

[2018-11-30 13:41] #8192 closed

[2018-11-30 16:44] #8220 closed

[2018-11-30 18:55] #10188 closed

[2018-11-30 19:34] fejta commented on #1576
woo!

[2018-11-30 19:47] BenTheElder commented on #10288
/cc @stevekuznetsov

running this script in the image used by the job gives the expected behavior, best guess is something with the pod-utils entrypoint.

[2018-11-30 20:02] jessiezcc opened #10295 "Gubernator is showing merged PR as Needs Attention"
/kind bug
This happened with Knative Gubernator instance: https://gubernator.knative.dev/pr
I'm aware of previous filed bug https://github.com/kubernetes/test-infra/issues/1576, Knative Gubernator should already have that fix.

Tracking bug on Knative: https://github.com/knative/test-infra/issues/283

[2018-11-30 21:51] stevekuznetsov opened #10297 "Commenter and Label Sync Images Should Be Pushed With a Regular Cadence"
Similar to the other images that are pushed on every commit, the `commenter` and `label_sync` images are crucial to a good `prow` workflow and should be pushed in a similar cadence with nice tags. Specifically, it would be amazing to have this command return to me the latest tag of an image:

[code]

Today, we have
[code]

[code]

/assign @fejta

[2018-11-30 22:18] stevekuznetsov commented on #10288
Can you link the exact job configuration?

[2018-11-30 22:18] stevekuznetsov commented on #10288
/assign

[2018-11-30 22:20] stevekuznetsov commented on #10288
I see this config?

[code]

[2018-12-01 00:13] #3362 closed

[2018-12-02 22:37] #7585 closed

[2018-12-03 00:46] spiffxp opened #10307 "e2e coverage jobs are filling triage with noisy failures"
https://storage.googleapis.com/k8s-gubernator/triage/index.html
<img width="1114" alt="screen shot 2018-12-02 at 4 44 06 pm" src="https://user-images.githubusercontent.com/49258/49347259-86412400-f651-11e8-99d6-3f88143ac9d8.png">

The scale of coverage failures makes it difficult to get a feel for how other failures are impacting overall test / project health.

We could adjust triage to ignore the

[2018-12-03 00:48] Katharine commented on #10307
That's impressive.

Short-term solution is probably just to set the coverage threshold to zero.

[2018-12-03 01:08] #10307 closed

[2018-12-03 07:46] #8587 closed

[2018-12-03 11:58] #10268 closed

[2018-12-03 20:08] krzyzacy opened #10315 "aws janitor is always failing again"
/kind bug

/assign
/assign @justinsb

[2018-12-03 21:30] Katharine commented on #9604
Looked into this briefly, we also need to set `sequential: false` as appropriate in [kettle/buckets.yaml](https://github.com/kubernetes/test-infra/blob/master/kettle/buckets.yaml) before we kill tot.

[2018-12-03 21:39] AviKndr commented on #9905
Hello everyone, here is an updated design doc for this functionality: [link](https://docs.google.com/document/d/1FdzEvyDh8KnyAxrizIBQRt1uSvW5DyxEV1WEduQ_VNo/edit?usp=sharing)

In Summary:
- We plan to manage our own component for applying patches / triggering jobs. Would appreciate any feedback interested parties have on the current design.
- I can work on adding mail reporting for crier as per #8

[2018-12-03 21:59] #8574 closed

[2018-12-03 23:02] bparees opened #10317 "Ability to "reset" a PR state"
If you create a PR that changes some files that trigger a run_if_changed job, and then you update the PR to not change those files, the initially triggered job will remain required for the PR to merge.

Similarly if you "/test all" on a PR, any jobs triggered become permanently mandatory for the PR.

I would like a way to "/reset" my PR. This should cause the system to treat the PR as if it was ju

[2018-12-03 23:06] stevekuznetsov commented on #10317
/kind bug
/area prow

/cc @cjwagner @fejta @bentheelder

[2018-12-03 23:08] bparees commented on #10317
(currently I deal w/ this situation by closing the PR and opening a new one, so i'm basically looking for behavior that would mimic what happens when I do that)

[2018-12-03 23:10] BenTheElder commented on #10317
resetting a PR is creating a new one from the same branch?

we have `/skip` and `/override` for admins to clear statuses. closing / re-opening will also somewhat do this
https://prow.k8s.io/command-help

I don't think we want to build "throw away results" functionality - we also persist these to longer term storage (GCS), but we do have "add newly passing results" or "mark non-required jobs as ski

[2018-12-03 23:14] bparees commented on #10317
Closing and reopening has not worked for me historically, i've had to create a new branch and generate a new PR.  Maybe I did not explore that path sufficiently.

The "i triggered something I didn't want because i ran /test all" is also annoying since again at that point there's no way out of it that i have found, anyway, other than creating a new PR.

perhaps "reset" is too strong.  "re-evaluate"

[2018-12-03 23:16] BenTheElder commented on #8348
presubmits overall are still quite slow, I believe this is one of the barriers to getting fixes in quickly and draining the merge queue after code freeze, and even to a degree contributing. This is the slowest.

[2018-12-03 23:33] BenTheElder commented on #10317
~ `/skip` is supposed to do that (re-evaluate)

[2018-12-03 23:34] bparees commented on #10317
that was the first thing i tried.  After some discussion with @stevekuznetsov i think he concluded /skip only applies to "optional" jobs.  Which is not the same as a run_if_changed job that was inadvertently triggered by "/test all"

[2018-12-03 23:39] BenTheElder commented on #10317
we should fix /skip to understand that.

imho, this is just further proof that run_if_changed is a footgun that we
should not have added :/
-- if that job is failling and you can't get it to pass, then it should not
be blocking, and something is wrong with the job or your PR if it continues
to fail ... this happens when jobs only run sometimes :|

On Mon, Dec 3, 2018 at 3:34 PM Ben Parees <notific

[2018-12-03 23:42] bparees commented on #10317
yes in our case it is an issue with a particular job that really needs to be removed or fixed, but in the meantime people run into it.

run_if_changed is useful for us though in cases where we have some very lengthy (and sometimes moderately flaky) test buckets that we don't want to subject everyone to, but do want to run when we're changing relevant code in the area.  So i'd be remiss to see it g

[2018-12-04 00:04] BenTheElder commented on #10289
this would be a good feature for spyglass @Katharine @ibzib @paulangton

currently gubernator is mostly in maintenance mode.

[2018-12-04 00:06] BenTheElder commented on #7585
@stevekuznetsov please re-open if this is not resolved

[2018-12-04 00:07] BenTheElder commented on #4425
we really should have such a label
/remove-lifecycle stale

[2018-12-04 00:14] Katharine commented on #10289
I didn't even know gubernator had this feature.

Another one for the spyglass todo list.

[2018-12-04 03:50] BenTheElder commented on #9948
a non-sharded job will appear to flake more often though with naive flake collection

[2018-12-04 08:09] #7195 closed

[2018-12-04 08:13] BenTheElder commented on #3536
/remove-lifecycle stale

On Sun, Dec 2, 2018, 17:39 fejta-bot <notifications@github.com wrote:

[2018-12-04 09:43] Ark-kun opened #10328 "k8s-ci-robot says that a test has failed, but the test actually succeeded"
**What happened**:

The k8s robot has added the following comment to my PR: https://github.com/kubeflow/pipelines/pull/461#issuecomment-444027099

The problem is that the "failed" build-image test it links to actually succeeded: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/461/build-image/792

Test name | Commit | Details | Rerun command
-- | -- | -- | --
pres

[2018-12-04 10:34] mborsz opened #10329 "Resource usage for prow jobs"
**What would you like to be added**:
It would be nice to be able to see how much resources the prow job is consuming.
**Why is this needed**:

I have a suspicion that prow job ci-kubernetes-e2e-gce-scale-performance is cpu starved, e.g.: 'Deleting ReplicationController X took Y' measures time for simple apiserver call.
I see in build-log.txt
[code]

while from kube-apiserver point of view, the req

[2018-12-04 15:29] stevekuznetsov commented on #10328
/cc @krzyzacy

[2018-12-04 16:06] stevekuznetsov commented on #10288
Wait, where is the code you specified? Is it in the shell script you are calling?

[2018-12-04 16:07] stevekuznetsov commented on #10288
As in, where is the minimal reproducer in Prow Job form so I can reproduce myself?

[2018-12-04 18:01] krzyzacy commented on #10328
the prowjob is in failure state, can gcs upload failure cause we mark the prowjob as failed?

[2018-12-04 18:03] stevekuznetsov commented on #10328
Perhaps -- can you check the pod? In this case the GCS upload would have had to have failed for some artifact but not `finshed.json`

[2018-12-04 18:34] krzyzacy commented on #10328
yeah...

[code]

[2018-12-04 18:35] krzyzacy commented on #10328
probably we shouldn't fail the job when job passed and gcs upload failed?

[2018-12-04 18:38] stevekuznetsov commented on #10328
yeah, we could make `sidecar` never fail

[2018-12-04 18:53] mborsz commented on #10329
Thanks for the answer, Steve!

Sure, I'm aware of load metrics (for the cluster under test) emitted by scalability tests itself, but I'm rather interested in usage metrics for pod running test logic in prow cluster (as in scalability test it does some nontrivial work).

Let me ask the initial question in a slightly different way:

I see that we do set some resource requests for our ci-kubernetes-e

[2018-12-04 18:54] shyamjvs commented on #10329
@stevekuznetsov I think @mborsz is asking for the resource usage of prow job pod itself (not the cluster under test - for which we already collect metrics in our e2es). This can affect tests.

[2018-12-04 19:11] BenTheElder commented on #10328
I've encountered this before, forgot about this. Is anyone prepping a patch?

On Tue, Dec 4, 2018 at 10:38 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-12-04 19:17] stevekuznetsov commented on #10329
Ah, I see. I was thinking that would still have been incumbent on the API server under test and not the client, but I see what you mean. I think to access this specifically you'd need to query prometheus on the build cluster. To do that you'd want to ask the k8s-test-infra on-call or ask in #testing-ops on Slack.

/cc @BenTheElder

[2018-12-04 19:39] BenTheElder commented on #10329
@ixdy is oncall now :-)

Googlers also should have _read_ access to the clusters IIRC. oncall has write etc. (also obviously we'd like to open that up to more people, but we need more momentum in #k8s-infra-team for hosting this sort of thing and moving it over)

[2018-12-04 23:06] AviKndr commented on #8668
I can start working on this as it is needed for our linux kernel mailing list feature here #9905 if the details are agreed upon. I briefly discuss this in the design doc for that issue: [link](https://docs.google.com/document/d/1FdzEvyDh8KnyAxrizIBQRt1uSvW5DyxEV1WEduQ_VNo/edit?usp=sharing). From my understanding of prow and smtp, this can be a crier reporter and we can do dns lookup directly and s

[2018-12-04 23:53] Ark-kun commented on #10328
Thanks for fixing this!

I wonder whether the problem is somehow related to the fact that that test suite exits immediately after start (exit 0)

[2018-12-04 23:56] krzyzacy commented on #10328
I think it's just a gcs flake. (also it's easier to drop a `/retest`)

[2018-12-05 00:06] cjwagner commented on #8567
This will become more of an issue now that we are redeploying more often.

/reopen
/remove-lifecycle rotten

[2018-12-05 00:07] BenTheElder commented on #10329
We discussed exposing this info before, but @kargakis and @stevekuznetsov thought that might be sensitive IIRC. I'd have loved to see prow.k8s.io surface usage.

note that those requests are designed to be innaccurate though, they're meant to avoid expensive scalability jobs from being evicted by requesting outsized resources.

[2018-12-05 02:50] Ark-kun commented on #10328
This should be fixed.

[2018-12-05 02:50] #10328 closed

[2018-12-05 02:52] Ark-kun commented on #10288
The code is in the PR I linked in my main comment: https://github.com/kubeflow/pipelines/blob/ebd1dee7568a6158c7906619d8adcefdac80fb30/test/presubmit-tests.sh

[2018-12-05 02:55] Ark-kun commented on #10288
It should be something like

[code]

[2018-12-05 08:44] kargakis commented on #10329
A unique endpoint would be fine I think.

On Wed, Dec 5, 2018, 01:07 Benjamin Elder <notifications@github.com wrote:

[2018-12-05 18:40] ixdy opened #10351 "deck should degrade gracefully when tide is unavailable"
Currently, deck serves 502s when it can't reach tide, such as when updating the prow cluster to a new version.

It'd be nice if deck degraded gracefully instead, only failing to show the components it couldn't reach.

/area prow
/kind feature

[2018-12-05 19:22] #9187 closed

[2018-12-05 20:01] krzyzacy opened #10352 "Move scalability jobs to boskos"
Per discussion in https://github.com/kubernetes/test-infra/pull/10233:

There's always gonna be at most one scalability job running, so one shared resource should be sufficient.

cc @wojtek-t @BenTheElder
/assign
/kind feature

[2018-12-05 20:35] wojtek-t commented on #10352
cc @mborsz @krzysied

[2018-12-05 21:42] #8104 closed

[2018-12-05 23:32] ixdy commented on #7760
I'm not sure how to do this in a clean way.

I'd somehow need to inject a `git show` before https://github.com/kubernetes/test-infra/blob/92da5df3d53c42a484961b47129830862986e662/prow/pod-utils/clone/clone.go#L104-L117 and then use a modified value of its output as an environment variable in the `git merge` calls, but the way this is implemented, all of the commands are constructed before any of t

[2018-12-06 00:10] ixdy commented on #7760
for setting `SOURCE_DATE_EPOCH`, would it be unreasonable to add that to `images/bootstrap/runner.sh` rather than `prow/entrypoint/run.go`? e.g. just add something like

[code]

[2018-12-06 00:12] ixdy commented on #7760
(though I guess it wouldn't be too hard to add that to entrypoint, either.)

[2018-12-06 00:40] BenTheElder commented on #7760
`runner.sh` would be OK, I'd kinda hoped we could avoid layers as often as possible, especially ones that do magical environment :grimacing:

It also requires using that image.

[2018-12-06 00:50] krzyzacy opened #10359 "Make cloneref expose baseSHA if not specified in config"
Currently we can have `baseRef: master` with an empty `baseSHA`, for example, for periodic jobs specifies  an extra_ref points to k/k master.

Cloneref could potentially expose the actual baseSHA and make sidecar aware of the actual SHA so we can use the SHA instead of ref when record revision in finished.json.

/area prow
cc @cjwagner @BenTheElder @stevekuznetsov

[2018-12-06 01:04] ixdy commented on #7760
I started sketching out an approach that might work to set `GIT_AUTHOR_DATE` and `GIT_COMMITTER_DATE` in `prow/pod-utils/clone`: https://github.com/ixdy/kubernetes-test-infra/commit/308c908f9221e28a3c280bd21035ed234c44953e, but fixing the unit tests is kinda frustrating, and I'm not sure how I'd actually test this for correctness.

[2018-12-06 01:46] stevekuznetsov commented on #10359
Nooooo!!!! We want a new type of job -- a ref-driven periodic. We should stop having two types of ref jobs. It breaks all sorts of mental models when half of the refs are declarative from spec and half are resolved at run-time -.-

[2018-12-06 01:55] krzyzacy commented on #10359
We probably want one type of job instead of more types of jobs :joy:

[2018-12-06 03:53] BenTheElder commented on #10317
"not relevant" in what way? how was it not optional?

[2018-12-06 03:55] cjwagner commented on #10359
Periodics that use `ExtraRefs` are ref-driven periodics. We could make Prow components populate the baseSHA for `ExtraRefs` like `trigger` does for presubmits' `Refs`. Currently we determine the baseSHA via the GitHub API so unless we switch to using the git client, this would require components like `horologium` to use a GitHub token 👎 .
Is there a git command to look up the SHA for a remote refn

[2018-12-06 04:00] BenTheElder commented on #10359
$ git ls-remote https://github.com/kubernetes/test-infra master
d3cef13acfc53806ee51906f00f724405ba36187 refs/heads/master

https://git-scm.com/docs/git-ls-remote.html

On Wed, Dec 5, 2018 at 7:55 PM Cole Wagner <notifications@github.com> wrote:

[2018-12-06 05:06] krzyzacy commented on #10359
good to know!

we probably also need to handle private repos on top of that.

[2018-12-06 06:54] #8413 closed

[2018-12-06 09:01] kargakis opened #10364 "/skip should also cleanup bot reports"
`/skip` is cleaning up broken optional statuses from PRs but the bot comment report still includes those stale results after the cleanup.

/help
/area prow

[2018-12-06 16:29] stevekuznetsov commented on #10317
Jobs can be not optional for merge but not relevant if;

 - they are `run_always: false` and expected to be triggered by a human in specific circumstances
 - they are `run_if_changed: ...` on something the PR does not touch in it's current state but did touch in the past, or if a human triggered the conditional job with an explicit `/test foo`

[2018-12-06 16:49] wwwil commented on #9925
Hi! I've started on a solution to this and have something working which I'm going to tidy up and submit a PR for.

I plan to store the projects and associated queries in the `plugins.yaml` in the format:
[code]

I'm quite new to this project, Kubernetes and Go so any advice or feedback is appreciated! Thanks!

[2018-12-06 17:37] stevekuznetsov commented on #9925
Hello @wwwil!

I would suggest using `"org/repo"` as your keys as per other configurations. Look at the Tide configuration for query syntax exposed as configuration.

[2018-12-06 17:41] stevekuznetsov commented on #9925
Also, I would suggest writing a design document either as a pull request to test-infra or as a Google doc that you can share with kubernetes-sig-testing@googlegroups.com. I think there are a lot of potential open questions here:

 - is this a plugin? Does it react to Pull Request events to catch new PRs, or changed PRs?
 - is this a Prow component?
 - is it a standalone cli command for admins?
 -

[2018-12-06 17:41] stevekuznetsov commented on #9925
Also would love to hear from @idvoretskyi @guineveresaenger  to see if this is something that GitHub might implement, we wouldn't want to duplicate work!

[2018-12-06 18:52] jberkus opened #10369 "Create Test Flakiness Improvement Dashboard"
Per 1.13 release retro, our release test jobs are flaky across the board.  Some are less flaky than others, but overall sig-release testgrid is 90% flaky which makes CI Signal really painful, as well as making troubleshooting by contributors frustrating.

In order to make real progress on this, per @spiffxp we have to be able to measure it.  This means having some kind of UI that will display flak

[2018-12-06 19:59] d-nishi opened #10372 "Prow issue:"

[2018-12-06 20:00] cblecker commented on #9925
also cc @jessfraz 👀

[2018-12-06 20:01] #10372 closed

[2018-12-06 20:07] BenTheElder commented on #10317
/skip or /override seems appropriate for first of those. (though of course may need changes)

The second seems like a bug, `run_if_changed` and then a new commit that does not match _should_ be clearing it.

I don't think a `/reset` is a good idea because it won't reset all of the things unless we reset a LOT of things and try to keep up with that, and we do a lot of identification via PR #.  A fu

[2018-12-06 20:07] #1399 closed

[2018-12-06 20:37] ixdy commented on #7760
1. In `clonerefs`, should we fake merge dates always, or should it be configurable?
2. In `entrypoint`, should we set `SOURCE_DATE_EPOCH` always, or should that be configurable?

For comparison, `bootstrap.py` always uses fake merge dates, and it always sets `SOURCE_DATE_EPOCH`.

@stevekuznetsov @fejta @BenTheElder @cjwagner

[2018-12-06 21:15] Katharine commented on #10274
We've updated our config; still need to eventually remove the backwards compatibility.

[2018-12-06 21:16] Katharine commented on #9020
/remove-lifecycle stale

(Though `spyglass.Refresh` doesn't even exist any more, the sentiment stands.)

[2018-12-06 21:18] Katharine commented on #9019
/close

[2018-12-06 21:19] #9019 closed

[2018-12-06 21:19] Katharine commented on #8956
/close

[2018-12-06 21:19] #8956 closed

[2018-12-06 21:37] Katharine opened #10375 "Replace gubernator links with spyglass links"
We want to deprecate gubernator (except for its PR dashboard). Before we can do that, we need to:

- [x] Merge the PR history view (#10169)
- [x] Show pod logs as necessary even when given GCS URLs
- [x] Add testgrid integration (but do we really want to couple prow and testgrid? gubernator does this by reading the testgrid config proto...)
- [x] Add links to view artifacts
- [x] Improve the faile

[2018-12-06 21:47] stevekuznetsov commented on #7760
Changing them always seems fine to me. Changing them optionally and threading out the option would be safest -- what are the downsides with changing them always?

[2018-12-06 21:51] fejta commented on #7760
IMO waiting until someone needs to disable this behavior before we implement it seems the most efficient path forward.

[2018-12-06 22:07] ixdy commented on #7760
it's hard to identify any real downsides. it might be surprising if e.g. build timestamps don't match when the build actually ran, but that's also a feature.

enabling them always is easiest, so I'll just go that route.

[2018-12-06 22:12] stevekuznetsov commented on #7760
SGTM

[2018-12-06 22:23] BenTheElder commented on #7760
it's really [the go way](https://nathanleclaire.com/blog/2014/04/27/a-surprising-feature-of-golang-that-colored-me-impressed/) -- break bad assumptions :^)

[2018-12-06 22:45] krzyzacy commented on #10100
thoughts? I think this is also a big difference between bootstrap and podutils

[2018-12-07 00:02] stevekuznetsov commented on #10100
You could append timestamps to newlines in a different implementation of the writer here:

https://github.com/kubernetes/test-infra/blob/master/prow/entrypoint/run.go#L89

However, if we want to get rid of `entrypoint` and the wrapper in general maybe we want a different approach?

[2018-12-07 00:06] stevekuznetsov commented on #10317
`/skip` has the strong interface that it gets rid of _optional_ jobs that have posted contexts -- the jobs we are talking about are not optional

An admin `/override` would be good, yes.

If `run_if_changed: ...` does not match, but was somehow triggered. IIRC the trigger code will see that the status ran and failed, so it will re-test it on `/retest`.

I just run the system, man .... users do som

[2018-12-07 00:18] BenTheElder commented on #10317
I would expect `/skip` to mark things as skipped, which should already be
the case for things that should not have been triggered for a new commit.

If it was triggered for the current commit, we should require override,
otherwise it is not in fact actually required.

On Thu, Dec 6, 2018 at 4:06 PM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-12-07 08:35] fejta commented on #8998
You can only manage your approval. So `/approve cancel` will cancel your approval, not others'.
/close

[2018-12-07 08:35] #8998 closed

[2018-12-07 17:39] stevekuznetsov commented on #9925
@wwwil a markdown file could work - however if you have most of the code already written it may not make the most sense. Maybe open the PR when you're ready and we can hash out some ideas there, or comment on this issue and we could do it here.

My two largest questions are:

 - how are you determining if a pull request for which you've gotten an event matches a query? On the components where we e

[2018-12-07 18:15] stevekuznetsov opened #10383 "hook: empty string not approved"
`hook` is sometimes failing to find approvers for the empty string ...

[code]

/area prow
/area prow/hook
/kind bug
/cc @cjwagner @BenTheElder @fejta

[2018-12-07 18:19] stevekuznetsov commented on #10383
Similarly here

[code]

[2018-12-07 18:41] stevekuznetsov commented on #10383
We could maybe validate that OWNERS exists before running the blunderbuss or approval flow .... otherwise people should not turn that on before adding OWNERS.

Users.
/shrug

/close

[2018-12-07 18:59] Katharine commented on #10375
/area prow/deck
/area gubernator
/assign

[2018-12-07 19:04] spiffxp commented on #10375
The current coupling may be ugly, there's probably a better way to do it that will require some rearchitecting, but the mapping from job <-> history of job runs (in testgrid form) is very useful.  I can quickly jump from how is _this_ run doing, to how have _all_ runs been doing

Agree.  I'm not sure how many people use the "click to see stdout/stderr" link, but if nothing else it's additional inf

[2018-12-07 19:05] stevekuznetsov commented on #10383
Saw this on a repo with OWNERS, too

[code]

/reopen

[2018-12-07 19:09] spiffxp commented on #10375
From my design nerd perspective, it doesn't appear dense enough.  Don't get me wrong, whitespace is good.  This doesn't feel like it's been put through a pass with that kind of eye though.

Text is small.  I see N different kinds of font styles.  It would be nice use a grid or something for consistent alignment
<img width="701" alt="screen shot 2018-12-07 at 11 08 00 am" src="https://user-images.g

[2018-12-07 19:14] stevekuznetsov commented on #10383
In some specific cases we also fail to open missing files? Instead of ignoring the dir because no OWNERS exists?

[code]

There are no recent changes, but this behavior is definitely new to me ...

[2018-12-07 19:19] BenTheElder commented on #10375
Yes... spyglass has basically no CSS yet because that comes after the
functionality works fully!
give me working podlogs cough @ibzib cough and I might take a look slash
poke @Katharine

On Fri, Dec 7, 2018 at 11:09 AM Aaron Crickenberger <
notifications@github.com> wrote:

[2018-12-07 19:19] Katharine commented on #10375
I'm pretty sure none of this has been put through any sort of pass beyond "yes, this is technically capable of rendering information from artifacts". There has been slightly more effort on the build logs.

[2018-12-07 19:34] stevekuznetsov commented on #10383
Trying to do more digging with https://github.com/kubernetes/test-infra/pull/10385

[2018-12-07 22:33] #5267 closed

[2018-12-07 22:51] AviKndr opened #10388 "prow: clonerefs: speed up cloning of large repos through shallow cloning / pre-cloned repo in base image"
**What would you like to be added**:
I would like to add some feature to alleviate the overhead of cloning on every job for very large repos (> 1 GB).

Given that we only need the specific revision and shallow cloning for our repo takes about half of the time, we'd like to add a "--shallow" arg to clonerefs for cloning without tags/history (depth of 1) as referenced here: #6865 .

Alternatively, a

[2018-12-07 22:52] AviKndr commented on #10388
@BenTheElder

[2018-12-07 23:45] stevekuznetsov commented on #10388
There are a large number of tools inside of repos that expect to have deep clones -- the k8s versioning bash stuff is a prime example that needs to know about tags, commits between them, etc. A shallow clone option might be nice but would start to leak infra state into the job which isn't ideal.

On our end we do use a cache container image to make cloning faster, but that's entirely external to t

[2018-12-08 00:00] spiffxp opened #10391 "prow gives no user-facing indication of max 10 assignee limit via /assign"
**What happened**:
We attempted to /assign someone to a PR that already had 10 assignees.  [GitHub has a limit of 10 assignees per issue/pr](https://developer.github.com/v3/issues/assignees/#add-assignees-to-an-issue)

Prow's message suggested the target assignee wasn't a member or collaborator.

**What you expected to happen**:

Prow should indicate that it can't assign anymore users to an issue

[2018-12-08 00:01] spiffxp commented on #10391
/area prow

[2018-12-08 00:04] mistyhacks commented on #10391
/approve

I already reviewed this earlier, and we can iterate.

[2018-12-08 00:05] ixdy commented on #10391
/assign @spxtr @spiffxp @cjwagner @fejta @krzyzacy @BenTheElder @ixdy @k8s-ci-robot @stevekuznetsov @mithrav @michelle192837

[2018-12-08 00:07] krzyzacy commented on #10391
/unassign @spxtr @spiffxp @cjwagner @fejta @krzyzacy @BenTheElder @ixdy @k8s-ci-robot @stevekuznetsov  @mithrav @michelle192837

[2018-12-08 00:10] ixdy commented on #10391
/unassign @spxtr @spiffxp @cjwagner @fejta @krzyzacy @BenTheElder @ixdy @k8s-ci-robot @stevekuznetsov @mithrav @michelle192837

[2018-12-08 00:32] BenTheElder commented on #10388
I suggested shallow cloning would be a reasonable and simple option, it should not be the default but we could allow enabling shallow clones for projects that don't need full clones.

AFAICT, they could get away with shallow clones, other projects probably could too, and flipping a switch to enable that will be simpler than the pre-cloned repo support.

[2018-12-08 09:04] kargakis opened #10393 "run_if_changed job required even if it does not match a changed path"
We have a job that is [run_if_changed](https://github.com/openshift/release/blob/790ca22f741c181dfc4f6db377e11c4f52d3756b/ci-operator/jobs/openshift/openshift-azure/openshift-openshift-azure-master-presubmits.yaml#L135) but shows up as required in a PR that does not touch the path required for the job to run.

See https://github.com/openshift/openshift-azure/pull/867

@stevekuznetsov @cjwagner

/a

[2018-12-08 18:17] stevekuznetsov commented on #10393
It is required, but should be skipped. This is WAI

/close

[2018-12-08 18:17] #10393 closed

[2018-12-08 18:18] stevekuznetsov commented on #10391
Looks like I lucked out...

[2018-12-08 18:19] stevekuznetsov commented on #10391
That error message is bad in general - the message doesn't accurately reflect all of the different checks we do before assignment or the requirements that GitHub has for allowing someone to be assigned

[2018-12-08 20:04] krzyzacy commented on #8981
/remove-lifecycle rotten

[2018-12-09 16:14] #7254 closed

[2018-12-09 19:17] #7951 closed

[2018-12-09 21:10] BenTheElder commented on #5376
/remove-lifecycle stale

On Sun, Dec 9, 2018, 09:15 fejta-bot <notifications@github.com wrote:

[2018-12-10 09:29] alvaroaleman opened #10398 "RFE: Allow to automatically delete PR branches if they are on the same repo as the PR target"
**What would you like to be added**:

It would be very nice to have the option to make Prow automatically delete the source branch of a pull request after that pull request got merged when that PR is not made from a fork.

**Why is this needed**:

This is very helpful when using private Repos on Github that are not allowed to be forked.

/kind feature

It is something I'd potentially be interested

[2018-12-10 09:29] alvaroaleman commented on #10398
/area prow

[2018-12-10 11:33] #8676 closed

[2018-12-10 16:20] wwwil commented on #9925
I've submitted a pull request for what I have so far. I hope it make's sense, I'm quite new to this so any feedback is appreciated.

Currently the plugin uses the data in the pull request event so the fields that can be used in a query are limited to the ones the plugin can work with.

As it's responding to pull request events I think that makes it best effort, as it won't add existing pull reques

[2018-12-10 17:23] cblecker commented on #6289
/remove-lifecycle stale

[2018-12-10 18:40] #8678 closed

[2018-12-10 19:44] cblecker opened #10402 "prow: reply to PR with pass/fail status of merged postsubmit"
Post-submit jobs that are tied to a PR should be able to post the results of the job back to the PR.

We do something similar for the `updateconfig` plugin, but job status (pass/fail) and a link to the job log should be something all postsubmits can do.

/kind feature

[2018-12-10 19:46] krzyzacy commented on #10402
/assign

[2018-12-10 21:45] stevekuznetsov commented on #6289
Isn't this as noted by Cole fundamentally going to introduce weird races with the two `tide` controllers and therefore very unlikely to actually happen?

[2018-12-11 02:02] ibzib commented on #10375
re metadata viewer, I put in #10406. I wouldn't say it looks _good_ now, but at least it's not spread out into different tables and cluttered with empty fields anymore.

[2018-12-11 06:14] krzyzacy commented on #9270
/close
grandmaaaaaatriaaaaaaarch!

[2018-12-11 06:14] #9270 closed

[2018-12-11 20:24] michelle192837 opened #10409 "TestGrid Open-Sourcing Planning"
**ETA (7/25/19): We've got some updates! Check it [below](https://github.com/kubernetes/test-infra/issues/10409#issuecomment-515220552)**

**tl;dr: If you're interested in TestGrid being open-sourced, add your comments, support, and use cases here!**

ETA: While TestGrid open-source is in the works, you can add your results to testgrid.k8s.io by following the [normal process](https://github.com/ku

[2018-12-12 05:03] michelle192837 opened #10414 "Make a new Prow logo"
I've got a draft, but it should be touched up and formalized before use.

/area prow
/priority critical-urgent
/assign michelle192837

[2018-12-12 05:04] michelle192837 commented on #10414
@cblecker @cjwagner

[2018-12-12 05:08] michelle192837 opened #10415 "Add Pony API"
Extremely urgent, please add to Prow asap.

/assign fejta katharine
/area prow
/priority critical-urgent

[2018-12-12 05:13] cblecker commented on #10414
@thockin Is there a specific procedure we should go through to have art (like a subproject logo) be kosher license wise? Or is a PR with the CC license enough?

@parispittman FYI — I’ll talk to you about this one out of band. I’d like to help sig-testing with this.

[2018-12-12 05:15] cblecker commented on #10414
/assign

[2018-12-12 14:06] nikhita commented on #10391
The [GitHub](https://developer.github.com/v3/issues/assignees/#add-assignees-to-an-issue) docs say:

So, I think we can _add_ only 10 at a time, but an issue can have more than 10 assignees.

---

/assign
I'm leading a pair programming table at the diversity lunch today at KubeCon and I'll help someone work on this + give them a small codebase tour of other prow plugins. Maybe this could even be a

[2018-12-12 14:35] nikhita commented on #8919
There does not seem to a naming convention for teams for working groups. For instance, only 2 working groups teams seem to exist `cncf-conformance-wg` and `cncf-wg`...and they aren't official working groups too.

[2018-12-12 14:36] nikhita commented on #8919
I think we should decide on how we want to proceed with this and then add the help label.

/remove-help

[2018-12-12 14:38] nikhita commented on #8639
Removing good first issue and help wanted until consensus on how to proceed with this is reached.

/remove-help

[2018-12-12 14:41] nikhita commented on #6136
/sig contributor-experience

[2018-12-12 14:46] nikhita commented on #5264
/assign
I'm leading a pair programming table at the diversity lunch today at KubeCon and I'll help someone work on this (and some other tasks) + give them a small codebase tour of other prow plugins.

If a PR does not end up stemming from the pair programming session, I'll follow up myself.

[2018-12-12 18:43] BenTheElder commented on #9343
/remove-lifecycle stale

this should be easy enough to fix
/priority backlog

[2018-12-12 18:55] BenTheElder commented on #10409
cc @munnerz @stevekuznetsov

[2018-12-12 19:00] BenTheElder commented on #9236
current implementation seems quite reliable, i'd rather leave it
/close

[2018-12-12 19:00] #9236 closed

[2018-12-12 19:02] BenTheElder commented on #10415
/assign @liztio

[2018-12-12 19:03] BenTheElder commented on #9358
/remove-lifecycle stale
ping @krzyzacy @fejta

[2018-12-12 19:15] fejta commented on #9358
Typically we wait until a hypothetical problem becomes an actual problem (or the threat justifies preemptively addressing it).

I don't see this as a priority.

[2018-12-12 19:56] Katharine commented on #10415
https://derpibooru.org/search.json?q=aspect_ratio.gte%3A0.5%2C+aspect_ratio.lte%3A2%2C+-webm&perpage=1&sf=random&filter_id=161841 should generate suitable ponies for this purpose.

Taking `search[0].representations.medium` from that gets you something like this:

![a random pony](https://derpicdn.net/img/2017/11/6/1579830/medium.png)

Or `small` is like this:

![a random pony](https://derpicdn.net

[2018-12-12 20:03] stevekuznetsov commented on #10409
/cc @smarterclayton

[2018-12-12 20:18] stevekuznetsov commented on #10409
Talked with @michelle192837 in person today - would be great to have a quick overview of the architecture of TestGrid and current progress.

From a naive opinion it seems like we could process our test results and upload our own proto for a third party front end to use, that would need minimal effort to get us to dashboards.

[2018-12-12 22:05] donaldguy commented on #10409
👋 I work on AKS; I would be interested in using it very much like upstream for our staging edge

Btw, I am also happy to talk about getting our public face on "real" test-grid

I suspect @jackfrancis and co might be similarly interested vis-a-vis Azure/aks-engine

[2018-12-13 03:15] fejta commented on #9394
/assign
/close

Should be fixed?

[2018-12-13 03:15] #9394 closed

[2018-12-13 14:39] ccojocar opened #10423 "Migrate Prow GitHub authentication from Personal Access Token to a GitHub App"
**What would you like to be added**:

Prow is currently using a Personal Access Token to authenticate with GitHub API. In the meantime, GitHub has revamped the API authentication mechanism and introduced [GitHub Apps](https://developer.github.com/apps/about-apps/), which will replace soon the Personal Access Token and OAuth tokens.

Migrate prow from a Personal Access Token to a GitHub App.

**Why

[2018-12-13 16:57] stevekuznetsov commented on #10423
Not sure it's required for V4 -- we're successfully using OAuth tokens for the V4 API access we do today. I think we've talked about this in the past but it was unclear what the effort involved would be and what the downsides might be for the project.

/cc @fejta @spiffxp

[2018-12-14 00:18] #10415 closed

[2018-12-14 00:57] #2699 closed

[2018-12-14 00:57] #6908 closed

[2018-12-14 01:18] michaelneale commented on #10423
certainly for access to checks api (perhaps not v4). Github are very keen on shifting to app vs PAT

[2018-12-14 08:25] giddel opened #10434 "Prow issue: k8s-ci-robot suggests approver but does not accept them"
https://github.com/helm/charts/pull/9967

k8s-ci-robot  suggests:

But if I do so, the robot says:

=> jackzampolin is the only approver in stable/influxdb/OWNERS  but no helm member.

How should I deal with it?

[2018-12-14 09:01] ccojocar commented on #10423
I updated the description of the issue with the official reasons mentioned by GitHub in order to avoid any controversy.

[2018-12-14 09:15] fejta commented on #10434
a) Look at /stable/OWNERS or /OWNERS
b) File an issue in the helm/charts repo they need to either: 1) remove jackzampolin from the owners file or 2) make them a repo collaborator or 3) add them as an org member.

[2018-12-14 09:30] fejta commented on #10434
/assign @cjwagner @stevekuznetsov Actually looks like they already enable the plugin, how can they best scan their repo and identify bad OWNERS files?

[2018-12-14 09:48] aszecowka commented on #10402
Do you plan to provide retest functionality for postsubmit jobs from PR view?

[2018-12-15 05:46] rdrgmnzs commented on #10409
I would be in using testgrid internally, currently to be able to visualize the current integration tests I have setup to run against my clusters. The alerting portion if tests fail consecutively is also something I'm looking forward to having.

[2018-12-15 07:30] BenTheElder commented on #10434
seems like the verify-owners plugin should help here, we might also need a
way to retro-actively scan a repo though...

On Fri, Dec 14, 2018 at 1:30 AM Erick Fejta <notifications@github.com>
wrote:

[2018-12-15 07:34] BenTheElder commented on #10423
cc @cjwagner

[2018-12-15 07:53] BenTheElder commented on #10415
I'm so glad we can efficiently close P0s like this even while we're all at KubeCon. Great work @Katharine :D

[2018-12-15 08:07] BenTheElder commented on #9358
in every other part of the project, the owners heirarchy is actually meaningful as far as what that code does, in test-infra the heirarchy is entirely cerimonial.

I don't see it as a priority either, but we should consider it eventually. I think it's more likely to happen by mistake than anything malicious, but someone hacking on like, kubeflow jobs should not need to worry about their bad copy p

[2018-12-15 18:38] #8316 closed

[2018-12-15 18:38] #8701 closed

[2018-12-15 21:37] BenTheElder commented on #9060
dind/ is broken -> removed, let's get strong audit logging support in [sigs.k8s.io/kind](https://sigs.k8s.io/kind)!

[2018-12-15 21:37] #9060 closed

[2018-12-15 22:34] krzyzacy commented on #5708
(of course it's been a year... will try to take an actual stab 😂)

[2018-12-15 22:35] krzyzacy commented on #8468
yeah we want to write some validator for that

/assign
/assign @cjwagner

[2018-12-16 00:32] BenTheElder commented on #5428
/remove-lifecycle stale

On Sat, Dec 15, 2018 at 10:38 AM fejta-bot <notifications@github.com> wrote:

[2018-12-16 00:33] BenTheElder commented on #5428
@ixdy do we know if people are still using it? if so I'll add a low frequency periodic this week.

[2018-12-16 00:33] BenTheElder commented on #5428
(otherwise I'm just closing this :-))

[2018-12-17 15:07] nikhita commented on #8242
/remove-lifecycle stale

[2018-12-17 15:50] dims commented on #10415
Nice! :)

/pony

[2018-12-17 17:02] Katharine commented on #10415
Unfortunately, this is not yet deployed or enabled. However, I can imitate the bot to provide ponies:

[![](https://derpicdn.net/img/2017/1/5/1332886/small.png)](https://derpicdn.net/img/view/2017/1/5/1332886__safe_artist-colon-empyu_applejack_fluttershy_pinkie+pie_rainbow+dash_rarity_twilight+sparkle_chibi_cuddle+puddle_cuddling_cute_dashabetes_diap.png)

<details>
I am not actually a bot.
</deta

[2018-12-17 17:23] nikhita opened #10450 "cherrypicker: copy release notes from parent PR"
Currently, when a cherrypick PR is created using the `cherrypicker` plugin, it will not contain a release note body (not even `NONE`) and will automatically get the `do-not-merge/release-note-needed` label.

We could copy the release note from the parent PR or make it configurable to do so.

Happy to work on it if this seems like a good idea.

/cc @kargakis @stevekuznetsov @alvaroaleman @cblecker

[2018-12-17 17:39] neolit123 commented on #10409
i think i see it as a `kubernetes/testgrid` repo.
my concern here is to avoid the potential bump in volume of test-infra, since it's already one of the higher volume repos under the k org, after k/k and k/website.

[2018-12-17 18:02] stevekuznetsov commented on #10450
Embedding the entire original PR body, or just the note SGTM!

[2018-12-17 18:20] nikhita commented on #10450
/assign

Will take a look tomorrow.

[2018-12-17 18:31] #9696 closed

[2018-12-17 18:31] #9433 closed

[2018-12-17 18:32] krzyzacy commented on #8300
(I'll remember to review Amit's change 😂)

[2018-12-17 19:19] krzyzacy commented on #9706
Cert has been automatically updated :-)))

`Expires: Monday, March 11, 2019 at 6:11:54 PM Pacific `

[2018-12-17 19:19] #9706 closed

[2018-12-17 19:55] ixdy commented on #5428
I still use it periodically. I'm not sure if anyone else does. I'm not sure that we need CI for it, really.

[2018-12-17 19:58] BenTheElder commented on #5428
/close

On Mon, Dec 17, 2018 at 11:55 AM Jeff Grafton <notifications@github.com>
wrote:

[2018-12-17 19:58] #5428 closed

[2018-12-17 19:58] ixdy commented on #10415
an updated prow has been deployed.

[2018-12-17 21:19] liztio commented on #10415
/pony

[2018-12-17 21:20] liztio commented on #10415
![image](https://user-images.githubusercontent.com/33235082/50116245-a3f8b680-0217-11e9-8cac-01b20877ddd2.png)

[2018-12-17 21:22] BenTheElder commented on #10415
hotfix is in! we just need to deploy it

[2018-12-17 22:06] BenTheElder commented on #10415
/pony

[2018-12-17 22:13] liztio commented on #10415
/pony

[2018-12-17 22:13] liztio commented on #10415
too soon, ci-robot :cry:

[2018-12-17 22:17] BenTheElder commented on #10415
/pony cuddle

[2018-12-18 00:43] ixdy commented on #8659
/reopen

This would probably be good to fix still.
@apelisse Do you remember which docs in particular were non-hermetic?

[2018-12-18 00:44] ixdy commented on #8659
(this isn't really a test-infra issue though)

[2018-12-18 01:30] #5051 closed

[2018-12-18 02:04] shyamjvs opened #10459 "Kubetest doesn't work on OSX with --stage"
When I try to run kubetest on mac with `--extract=local --stage=<some-gcs-path>` it fails to run because the [Stage() function](https://github.com/kubernetes/test-infra/blob/master/kubetest/stage.go#L70) calls [release/push-build.sh](https://github.com/kubernetes/release/blob/master/push-build.sh) and that [doesn't support OSX](https://github.com/kubernetes/release/blob/master/lib/common.sh#L27).

[2018-12-18 02:08] shyamjvs commented on #10459
it fails with this error:

[code]

because `readlink -f` isn't supported on OSX, but that is used [here](https://github.com/kubernetes/release/blob/master/push-build.sh#L92).

[2018-12-18 02:14] shyamjvs commented on #10459
From a high-level, there seem to be 2 options fmu:

- support OSX for release/push-build.sh script (which seems like a bunch of work)
- change kubetest to do push-build differently in case of OSX (seems easier option)

[2018-12-18 02:16] dims commented on #10459
@shyamjvs we can use the snippet from here - https://github.com/kubernetes/kubernetes/blob/master/hack/lib/init.sh#L104

`kube::readlinkdashf`

[2018-12-18 02:19] shyamjvs commented on #10459
Nice idea! I tried making such a change in the release/ scripts, but it seems like there are more dependencies going further that are incompatible (like use of `declare -A` which seems unsupported in OSX). Might be more work..

[2018-12-18 02:30] shyamjvs commented on #10459
cc @kubernetes/sig-release - for opinion

[2018-12-18 08:14] nikhita commented on #10450
Created https://github.com/kubernetes/test-infra/pull/10460

[2018-12-18 09:01] BenTheElder commented on #10459
IMO, this is a bug in k/release. --stage could really be called --push-build, it of course uses the official build push mechanism.

+1 for rewrite in go. Not sure who can own that though.

Why is that easier? We basically expose all the same knobs IIRC so we need to implement for Mac with matching behavior either way.

[2018-12-18 13:26] cofyc opened #10461 "`pull-kubernetes-godeps` fails because SSL problems"
**What happened**:

Recent `pull-kubernetes-godeps` fails with this error:

[code]

See https://prow.k8s.io/?job=pull-kubernetes-godeps.

**What you expected to happen**:

`pull-kubernetes-godeps` succeeds.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Perhaps because of this: https://bitbucket.org/blog/deprecating-tlsv1-tlsv1-1-2018-12-01.

**Anything else we need to

[2018-12-18 15:09] liztio commented on #10415
/pony computer

[2018-12-18 17:06] cblecker commented on #10461
Yeah, I think our mercurial package is out of date. I think it's because we're still basing this off of jessie.. we should update this to stretch
https://github.com/kubernetes/test-infra/blob/af41adc38640d4fdf3630a542a1ea65d13f259dd/images/bootstrap/Dockerfile#L17

cc: @krzyzacy

[2018-12-18 17:38] cblecker commented on #10461
Whether we switch to a fork or not, we should update our dependencies so they aren’t using TLSv1 *anyways*.

[2018-12-18 17:57] BenTheElder commented on #10461
@cblecker yes, agreed.

I'd also like us to get dims's proposed change in though, as we've had other headaches in the recent past with connectivity to that package.

[2018-12-18 19:13] fejta commented on #8300
Ideally we write a controller to do this for us.

[2018-12-18 20:39] zombiezen opened #10465 "Clarify audience of Prow"
It's unclear to me from looking at the Prow documentation as to whether Prow is intended for use by projects other than Kubernetes. If so, I would expect the documentation to include more information about how to configure the tool for other workflows. If not, then I would expect the documentation to more clearly state that. A key part of my confusion stems from this sentence in the README:

[2018-12-18 20:41] zombiezen commented on #10465
(For context, we are evaluating merge bots for use in Go Cloud: google/go-cloud#687)

[2018-12-18 20:55] stevekuznetsov commented on #10465
/kind question
/cc @fejta @spiffxp

What "other workflows" are you talking about? There's nothing that ties Prow to the Kubernetes project and there is a list of other deployments for other projects in the [docs](https://github.com/kubernetes/test-infra/tree/master/prow#prow-in-the-wild).

[2018-12-18 20:57] zombiezen commented on #10465
What I'm missing here is I see a lot of documentation about how to deploy and write plugin code for Prow, but very little documentation for if I don't know exactly how Prow works, what things will it do to my issues when I deploy it, and how do I configure those things? If I am to set up Prow, beyond provisioning machines, what else do I need to do to have a successful Prow installation?

[2018-12-18 21:00] stevekuznetsov commented on #10465
Have you read the [deployment docs](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md) ?

[2018-12-18 21:05] zombiezen commented on #10465
I have read the deployment docs. They do not answer the questions I have. That doc answers "how do I start running the service?", not "what does the service do once it is running?" nor "what controls (or jobs, but I don't quite understand what that is yet) do I have and how I discover this?".

I am not directly looking for answers on how to solve a particular problem right now; I am trying to give

[2018-12-18 21:58] stevekuznetsov commented on #10465
I'm a little lost ... there is a "features" section right at the top of the Prow [README](https://github.com/kubernetes/test-infra/blob/master/prow/README.md#functions-and-features). Under the "more details" section there's a link to [more docs](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/README.md) and those link to the live self-hosted nitty-gritty details of "what will Pro

[2018-12-18 22:04] BenTheElder commented on #10461
in theory we're generally on stretch now, though maybe not _every_ image.

[2018-12-18 22:05] stevekuznetsov commented on #10465
The questions I've gathered so far:

Without understanding what you mean by "other workflows" I don't really know how to help here.

Documented as mentioned in the previous comment

If you are a job author for an exisitng Prow deployment, there's a [document](https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md) explaining that. If you're setting up a new deployment, there are a coupl

[2018-12-18 22:06] ixdy commented on #10461
it's our stretch goal for sure.

[2018-12-18 22:15] BenTheElder commented on #10465
This is a lot of text ^ 🙃 Couple of points:

Libraries != the binaries! We necessarily have some internal libraries for building prow, we don't make any particular effort to version those outside of prow.

_Prow_ (not the libraries) is definitely used by projects other than Kubernetes, the docs should have a list of users now. EG OpenShift, Knative, Istio, Cert-Manager, ...

The rest regarding set

[2018-12-18 22:40] ixdy commented on #3392
/pony sad

someday someone will work on this.

[2018-12-18 22:42] krzyzacy commented on #3392
/remove-lifecycle stale
/pony this is fine

[2018-12-18 22:53] apelisse commented on #8659
I don't remember the specific details, but I had installed some kubectl plugin, and the doc generation script was also documenting the plugins I had installed, which led to a different result on the bot ...

[2018-12-18 23:00] ixdy commented on #10461
/pony stretch

This appears to be fixed.
/close

[2018-12-18 23:00] #10461 closed

[2018-12-18 23:01] ibzib commented on #5216
/remove-lifecycle rotten
/assign

[2018-12-18 23:04] krzyzacy opened #10470 "Allow specify podutil timeout in duration string format"
Currently we have to do something like

[code]

Which is different UX than other configs (has a string field and parses into actual duration)

We might want to unify the behavior here :-)

cc @stevekuznetsov @cjwagner

[2018-12-19 00:41] cjwagner commented on #10470
This is defined as a `time.Duration` is should parse properly with `620m` if I am not mistaken: https://github.com/kubernetes/test-infra/blob/8eb6f414a388506f29c434e667e709b507a6c7bf/prow/apis/prowjobs/v1/types.go#L162

[2018-12-19 02:01] shyamjvs commented on #10459
I've taken a stab at fixing this in https://github.com/kubernetes/release/pull/657 - PTAL.

[2018-12-19 02:31] fejta commented on #10465
Prow will be useful to anyone who is familiar with kubernetes and can express their workload as a pod. Anyone familiar with golang should be able to learn how to extend it.

Agreed that our setup docs aren't the best (we aren't a startup trying to sell you something so this isn't what we optimize for). But we're slowly working on it!

[2018-12-19 17:15] zombiezen commented on #10465
Thanks for the responses everyone. To @nikhita, replies inline:

The phrasing change you suggest would help, but I'm curious: does Prow actually run tests? For the usage I would be interested in, I would like to continue to use Travis for CI, and then use Prow as a submission mechanism. CI/CD does not communicate "automated change submission" to me coming from Travis.

Ah okay. It would be nice to

[2018-12-19 17:31] stevekuznetsov commented on #10465
I think the current getting started / deployment doc does walk through a lot of the questions that were raised but it's true that standing up a cluster and pointing it at a live GitHub repo is a large bar to jump over to get an intro -- we should do better docs to point people to the playground (I didn't even know it existed :eyes: ).

[2018-12-19 17:35] nikhita commented on #10465
@zombiezen No worries, new user perspective is really helpful and appreciated! :)

Yes, you can define jobs in Prow. For example, [this job](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/community/community-presubmit.yaml) defines presubmit jobs/tests to run on a PR in the [kubernetes/community](https://github.com/kubernetes/community) repo. It will checkout the code

[2018-12-19 18:09] #7587 closed

[2018-12-19 20:22] krzyzacy commented on #10315
job is deleted from https://github.com/kubernetes/test-infra/pull/10492

[2018-12-19 20:23] fejta commented on #10315
/assign @d-nishi

Justin/Nishi, speak up in #10492 if you'd rather fix the job (please provide a timeline too) rather than deleting it.

[2018-12-19 20:54] milesmatthias opened #10493 "Planter Bazel rebuilds from scratch"
**What happened**: Each time I run a bazel command in planter, it is re-run from scratch.

**What you expected to happen**: I expected bazel to re-build only changed parts.

**How to reproduce it (as minimally and precisely as possible)**: I'm using planter to build a NodeJS image using [Bazel docker rules](https://github.com/bazelbuild/rules_docker#nodejs_image). Running `bazel run //src:image.ta

[2018-12-19 22:58] BenTheElder commented on #10493
planter does mount through the normal bazel cache location, it's possible to configure this to point elsewhere and break this though.

[2018-12-19 23:13] BenTheElder commented on #10493
Is the code you are building public? this might be tricky to dig into since there are a number of ways this can be configured etc.

[2018-12-19 23:28] fejta opened #10501 "Automation does not remove repo collaborators"
/help
/cc @cblecker

We probably want peribolos to detect repo collaborators who are not org members and remove them.

Bonus points for making peribolos able to manage repo collaborators (not useful to kubernetes org, but others can use it)

The tool source is in https://github.com/kubernetes/test-infra/blob/master/prow/cmd/peribolos/main.go

used by the config in https://github.com/kubernetes/org

[2018-12-20 03:46] krzyzacy commented on #10359
/assign
will poke tomorrow

[2018-12-20 14:18] jlewi opened #10514 "Plugin to add issue to GitHub Project (similar to /milestone)"
**What would you like to be added**:

I'd like a plugin similar to the milestone plugin that adds an issue to a GitHub project

e.g.

/project 0.5.0

Would add the issue to the project named 0.5.0

**Why is this needed**:
Kubeflow is using GitHub projects to manage our releases.

https://github.com/orgs/kubeflow/projects/4

Projects provide a Kanban board that can span repositories. Currently to a

[2018-12-20 14:40] nikhita commented on #10514
Related: https://github.com/kubernetes/test-infra/issues/9925

[2018-12-20 17:32] #5401 closed

[2018-12-20 17:41] stevekuznetsov commented on #10514
/help

[2018-12-20 17:46] stevekuznetsov commented on #10359
@cjwagner

Not technically true. They're driven but not at the specific commit level. The ref is still resolved at run-time tomorrow.

[2018-12-20 17:52] milesmatthias commented on #10493
It's not public right now, but I can email you internally or follow up when it's OSS.

[2018-12-20 18:00] krzyzacy commented on #9469
^^ any long term plans? Currently we worked around by using our runner.sh entrypoint which is
/pony this is fine

[2018-12-20 18:01] nikhita commented on #10501
According to GitHub, repo collaborators who are non-members are called "outside collaborators". Created https://github.com/kubernetes/test-infra/pull/10517 to help with their removal.

/assign
/remove-help
/sig contributor-experience
/kind feature

[2018-12-20 18:32] krzyzacy commented on #10359
hummm, after a closer look, it's too late to resolve the remote refs in sidecar if we use `ls-remote`... wonder if there's some data can be passed along from cloneref itself instead?

[2018-12-20 18:33] #8691 closed

[2018-12-20 18:36] nikhita opened #10519 "label_sync: split into repo specific config files"
I wanted to add new labels to some of the published staging repos and while discussing about this in #sig-contribex in slack, @spiffxp pointed out that while adding the new labels to [`labels.yaml`](https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml) is the right way to proceed, adding lots of new ones is soon going to make that file 5k lines long. :)

From a scalability s

[2018-12-20 19:01] stevekuznetsov commented on #10359
We should implement a new type of job. We should not hack this backwards.

[2018-12-20 19:03] stevekuznetsov commented on #9469
@krzyzacy https://github.com/kubernetes/test-infra/issues/9469#issuecomment-423267409

Letting people change things in the container FS randomly is not going to happen ... no way to make that possible.

[2018-12-20 19:34] nikhita commented on #9367
/remove-lifecycle stale

[2018-12-20 20:35] #5334 closed

[2018-12-20 20:37] cblecker commented on #9367
Since https://github.com/kubernetes/test-infra/pull/9507, we have the ability to write a default message for the org, and then repo-specific messages. We just need someone to write a default, and then communicate out to everyone about how they can write their own.

/help-wanted
cc: @parispittman @Phillels

[2018-12-20 20:48] fejta commented on #10501
We should add a `Repos map[string]Repo` field to the `org.Config` struct https://github.com/kubernetes/test-infra/blob/1b1b232df708eb50aca08009757d4d91c66f3a7c/prow/config/org/org.go#L40-L45

This has multiple benefits:
* Allows us to control who has what rights to repos in the org
* Allows us to manage repo collaborators

We can then walk this config adding all people into a set, and subtract thi

[2018-12-20 21:17] #10315 closed

[2018-12-20 22:17] #10459 closed

[2018-12-20 22:19] cjwagner commented on #10359
@stevekuznetsov `ExtraRefs` allows a specific commit to be specified. It is just a slice of `Refs` structs that each can provide a baseSHA: https://github.com/kubernetes/test-infra/blob/27184a2e3c70c1ba43d7a65e93f29583303c70e2/prow/apis/prowjobs/v1/types.go#L453

We just don't have logic in horologium to resolve the SHA before creating the job.
I'm hesitant to create a new whole new type of job fo

[2018-12-20 22:22] krzyzacy commented on #10359
in pjutils? that's the only unified place I can think of..

[2018-12-20 22:31] krzyzacy commented on #10359
so, just pre-check: do all of the controller images have git?

[2018-12-20 22:35] cjwagner commented on #10359
No, all controllers that create jobs now need to use the git-base image like `hook` and `tide` do: https://github.com/kubernetes/test-infra/blob/43dc577de75e9f506d4673d76c6d2002868a10b3/prow/cmd/hook/BUILD.bazel#L8

[2018-12-20 22:40] cjwagner commented on #10359
Lets get @stevekuznetsov's thoughts before we go ahead with this though?

[2018-12-20 22:41] krzyzacy commented on #10359
yeah, implementation itself sounds pretty straight forward.

[2018-12-21 00:37] BenTheElder commented on #5431
/shrug

On Thu, Dec 20, 2018 at 2:37 PM fejta-bot <notifications@github.com> wrote:

[2018-12-21 01:13] ixdy commented on #5431
/pony shrug

[2018-12-21 09:02] michal-hudy opened #10536 "Configure resources limits and requests for containers managed by Prow"
**What would you like to be added**:

Decorated containers such as `clonerefs`, `initupload`, `place-tools`, and `sidecar` should have specified resources limits and requests. According to a discussion with @stevekuznetsov, resources requirements may vary on repository/artifacts size, so there should be a possibility to configure it instead of fixing that values.

**Why is this needed**:

In our c

[2018-12-21 12:13] ibrasho commented on #9519
/remove-lifecycle stale

[2018-12-21 15:41] liggitt opened #10539 "junit test output for failed go tests does not include actual failure"
**What happened**:
An integration test failed, and I tried to see the failure in the captured test output. The actual failure was very clear in the test log, and was missing from the junit output and gubernator summary

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

Example test failure:

[2018-12-21 16:13] dims commented on #10539
@liggitt you can recreate this using:
- `go get -u github.com/jstemmer/go-junit-report`
- `cat junit_23d8221f6dd39944b901fc32c32ba55c006dc238_20181221-130539.stdout |  go-junit-report > report.xml`

you will see the report.xml is the same as junit_23d8221f6dd39944b901fc32c32ba55c006dc238_20181221-130539.xml and is missing the `failed to create deployment : 0-length response` message. So we have to

[2018-12-21 17:53] stevekuznetsov commented on #10539
Closing as this is an issue in `jstemmer/go-junit-report`

[2018-12-21 17:53] stevekuznetsov commented on #10539
/close

[2018-12-21 17:53] #10539 closed

[2018-12-21 17:58] stevekuznetsov commented on #10536
/area prow/pod-utilities
/assign

[2018-12-21 18:06] stevekuznetsov opened #10541 "verify-owners: reading missing files"
**What happened**:
[code]

**What you expected to happen**:
Not try to read a file that does not exist. Are we reading incorrect branches?

/kind bug

/cc @cjwagner @matthyx

[2018-12-21 18:21] stevekuznetsov commented on #10359
I meant that we don't set SHA today, not that we *can't*. I agree that getting `horologium` to resolve it would be good, but I worry about downstream logic that needs to do:

[code]

Seems like we could do better and have a type of job that _always_ has `job.Refs` set and runs periodically. We can keep periodic jobs periodic if they don't touch repos like `commenter` etc. Using the `test-infra` `g

[2018-12-21 18:21] stevekuznetsov commented on #10359
If it's breaking it might be safer to create a new job type

[2018-12-21 18:27] davidz627 opened #10542 "GCE PD CSI Pull test timing out at 10m even though timeout set to 20"
The timeout for this test I set to 20m:
https://github.com/kubernetes/test-infra/blob/74a6b442efb506394917e0629d9aae1b97114c15/config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml#L16

but it seems like the test is timing out on this pull after 10m causing test failures:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/211
https://gubernator.

[2018-12-21 18:31] krzyzacy commented on #10542
go test has a default 10min timeout :-)
/unassign

[2018-12-21 18:32] davidz627 commented on #10542
I see, will fix on driver side, thanks!
/close

[2018-12-21 18:32] #10542 closed

[2018-12-21 18:34] liggitt commented on #10539
opened https://github.com/jstemmer/go-junit-report/pull/83 to fix

[2018-12-21 18:48] cjwagner commented on #10359
I don't know of any jobs that this would break and I would think it is ok as we are just populating a previously empty field. I don't think we have anything checking that today.
I agree that we should minimize the kind of job logic you detailed above, but making a new job type wouldn't get rid of the switch statement you shared, it would just move the check to a separate `case` for the new job typ

[2018-12-21 18:49] stevekuznetsov commented on #10359
No, wouldn't we just always honor `Refs` if they are present?

[2018-12-21 18:50] stevekuznetsov commented on #10359
Always having a slice would also work

[2018-12-21 19:05] cjwagner commented on #10359
Ah I see what you are saying. I still don't really like that pattern because we still have two fields that define refs. Some logic to handle both `Refs` and `ExtraRefs` will be needed as long as both fields exist so the switch statement might disappear, but we'll still need to consider both anyways.
Since it probably isn't feasible to switch the CRD `Refs` field to be a slice of all the refs right

[2018-12-21 19:20] fejta commented on #9519
/help
/good-first-issue

Please type `/lifecycle active` (or `/assign` if you're an org member) to claim this issue. Also `/remove-help` is a good idea as well. Thanks in advance for contributing to prow and the kubernetes community!

You can see here the `blunderbuss` plugin only registers for pull request events (aka create PR):
https://github.com/kubernetes/test-infra/blob/0e5ab48f79067d1bcfa6b

[2018-12-21 20:19] BenTheElder commented on #9530
did some looking, probably not what we need in our case

[2018-12-21 20:19] #9530 closed

[2018-12-21 21:20] cblecker opened #10544 "podutils: Add more verbose metadata"
**What would you like to be added**:
podutils jobs don't provide much in the way of metadata details in either their started or finished json files.

bootstrap + scenario example with metadata:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/72177/pull-kubernetes-verify/116969/finished.json

podutils example with very little metadata:
https://storage.googleapis.com/kubernetes-jenkin

[2018-12-21 21:21] cblecker commented on #10544
cc: @BenTheElder @krzyzacy @stevekuznetsov

[2018-12-21 21:21] BenTheElder commented on #10544
@krzyzacy was looking into this. I've definitely held off migrating release blocking CI in particular while we sort this out. What's the current state Sen?

[2018-12-21 21:34] matthyx commented on #10541
Will try to look at it tomorrow. Thx!

[2018-12-21 21:57] cjwagner commented on #10541
Hmm, we should have the right git state when we are doing the validation because we checkout the PR here: https://github.com/kubernetes/test-infra/blob/d86158482b48d65327715939125b31f4395eb136/prow/plugins/verify-owners/verify-owners.go#L110
We only loop over modified files and that file doesn't seem to be touched by the PR so I'm guessing that the author force pushed to the PR branch and there wa

[2018-12-21 22:02] cjwagner commented on #10541
The base branch also changed multiple times. That could be related:
https://github.com/openshift/openshift-ansible/pull/10914#event-2038903967
https://github.com/openshift/openshift-ansible/pull/10914#event-2041353252

The later coincides with the timestamp on the error message.

[2018-12-21 22:06] matthyx commented on #10541
Should we then specify a commit SHA to avoid this race?

[2018-12-21 22:40] stevekuznetsov commented on #10541
Very interesting -- in the end this does seem like it has to be a race between changes to the PR and us resolving the ref, right? Maybe we should just downgrade this from an error.

[2018-12-21 22:56] cjwagner commented on #10541
The race is definitely a problem, but the changing base branch could be what is causing the error here. That seems possible to me since we force push all the time and haven't seen this error, but we rarely change the base branch. Did you see any other similar errors?

If we're going to address this we may as well have it set the PR branch to the commit we expect since we know the commit SHA that w

[2018-12-21 23:33] fejta commented on #9519
/lifecycle active
/remove-help

[2018-12-21 23:35] BenTheElder commented on #5962
this would be nice to have for github releases though to further automate publishing of tagged/named release versions, the main reason we can't implement this is how cludgey the triggering logic is now :(

this should basically just be a post-submit triggered on tags being pushed.

/remove-lifecycle rotten

[2018-12-22 00:02] #8742 closed

[2018-12-22 19:21] #8826 closed

[2018-12-23 22:48] #8841 closed

[2018-12-23 23:49] #8796 closed

[2018-12-24 03:35] quentinmit opened #10547 "Prow issue: Wrong link in comment"
The comment that @k8s-ci-robot leaves in response to `/close` on issues says:

But a) this comment was not left on a PR, and b) the link does not document `/close` (or `/reopen`). Perhaps there is a different link that documents issue-related commands?

[2018-12-25 00:13] #8848 closed

[2018-12-25 10:34] nikhita commented on #9572
/remove-lifecycle stale

[2018-12-25 11:02] nikhita opened #10553 "verify-owners: ensure every user is an org collaborator"
https://github.com/kubernetes/kubernetes/issues/50048 and https://github.com/kubernetes/contrib/issues/2713 are issues about ensuring that every user in an OWNERS or OWNERS_ALIASES file is an org member or outside collaborator.

Rather than doing a manual scan occasionally, we could add this check to the `verify-owners` plugin and automate it.

If this sounds good, I can work on it.

/cc @cblecker

[2018-12-25 23:59] taragu commented on #10514
@jlewi I have a question regarding the requirements of this issue. How to determine which column to add the PR? Should I also implement something like `/project 0.5.0 Backlog` which adds an issue/PR to the Backlog column of project 0.5.0?

Also, looks like PR #10401 has many useful methods that can be utilized for this issue. I'll get started on this but at the same time wait for #10401 to be merg

[2018-12-26 01:06] ping035627 commented on #10553
I think it's a good idea! Thanks.

[2018-12-26 08:34] nikhita commented on #10226
/cc @cblecker

[2018-12-26 08:45] nikhita commented on #3323
/lifecycle frozen

[2018-12-26 08:48] nikhita commented on #1795
Related: https://github.com/kubernetes/test-infra/issues/9582.

Removing the help-wanted label because we still need consensus on how to proceed with overhauling cherrypicking.
/remove-help

/sig contributor-experience

[2018-12-26 08:50] nikhita commented on #10065
/sig contributor-experience
/kind feature
/area prow/peribolos

[2018-12-26 15:00] kanishkarj commented on #10391
Hello all, I had made a commit to fix that issue. But weirdly, this following test passes :
[code]

[2018-12-26 15:10] nikhita commented on #10391
@kanishkarj Thanks for following up on our conversation about contributing! :)

I think you'll also need to update the `AssignIssue` method for the fake client to make sure that it returns an error with >10 assignees, just like GitHub does.

https://github.com/kubernetes/test-infra/blob/ded97d9c925c70a79a731bd2b125c0d28b5c867f/prow/plugins/assign/assign_test.go#L46-L60

[2018-12-26 15:36] spiffxp commented on #8861
/milestone v1.14

For reals this time.  Document and then enforce rules.

[2018-12-26 15:52] stevekuznetsov commented on #8861
The grinch is here!

[2018-12-26 15:53] stevekuznetsov commented on #10553
This would potentially open the door to abuse so we'd have to cap the number of people we check when someone commits an OWNERS file, but otherwise sounds reasonable.

[2018-12-26 15:54] stevekuznetsov commented on #10226
/cc @fejta @cjwagner @BenTheElder
Does our current OWNERS impl (as rusty as it is) have enough flexibility to add this?

[2018-12-26 18:00] kanishkarj commented on #10391
awesome, shall look into it.

[2018-12-26 18:40] cjwagner commented on #10553
Capping the number of people we check wouldn't really be a barrier to abuse. It is still possible to just repeatedly push new commits to keep triggering validation. This is true for most all of our automation unfortunately.
A cap would still be good to avoid using all our tokens if/when big OWNERS file refactors happen, though.

[2018-12-26 19:48] cjwagner commented on #10226
I'm sure it is possible, but it would add more complexity to the existing heap of technical debt. It may be worth it to hack this in now, but we should consider rewriting some of the plugin first.

[2018-12-26 20:10] cjwagner commented on #10547
SGTM, but we might want to make it a config field instead so that it is easy for any Prow component to generate links to Deck (if it is deployed). That would be helpful for `tide` and reporting clients in `crier` in addition to `hook`.

[2018-12-26 21:04] stevekuznetsov commented on #3338
/remove-lifecycle stale

This needs a lot of thinking and I would love to see a series of breakout sessions or a meet-up for it this year :)

[2018-12-26 22:46] kanishkarj commented on #10391
I have updated the tests, go through them, please.

[2018-12-26 23:09] cjwagner commented on #9079
/help

[2018-12-27 02:02] #8760 closed

[2018-12-27 10:18] krzysied opened #10561 "Gke ci job doesn't clean up cluster when fails"
**What happened**:
Gke ci job failed (ci-kubernetes-e2e-gke-large-performance-regional), gke cluster remained. This is blocking resources, causing other ci jobs to fail.

**What you expected to happen**:
Job should always do the resource cleanup.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:
[ci-kubernetes-e2e-gke-large

[2018-12-27 10:22] krzysied commented on #10561
IIUC the problem has fallowing steps:
1. Creating cluster takes more than 30m.
2. Cluster creation operation (client side) times out. Script handles the timeout as an error.
3. Script tries to remove cluster. Operation is unsuccessful due to cluster still trying to be created.
4. Script finishes without cleaning up the cluster.

[2018-12-27 18:18] fiunchinho opened #10564 "Use a more semantic name for ProwJobs"
**What would you like to be added**:
The hook process receives the Github webhooks and uses the `X-GitHub-Delivery` header from the web hook HTTP request as identifier for the ProwJob that will be created. The name of the ProwJob will be re-used as the name of the job when using knative-agent.

It would be nice to have a more semantic name that helps debugging and identifying which repository trig

[2018-12-27 18:18] fiunchinho commented on #10564
I could fill a PR to fix this, but I want to hear your feedback first. Thanks

[2018-12-27 18:18] #6476 closed

[2018-12-27 18:35] BenTheElder commented on #10564
Hmm? ProwJobs are all named with a UUID, I don't believe the GitHub event GUID is being used for that, only for metrics / logging.

We do however add labels to the ProwJobs related to their source. This is also exposed in the pod env.

[2018-12-27 18:38] cjwagner commented on #8880
/reopen
/remove-lifecycle rotten

[2018-12-27 19:00] jglick commented on #10564
Yes you can obtain the source information by looking up for example the labels `prow.k8s.io/refs.org` + `prow.k8s.io/refs.repo` + `prow.k8s.io/refs.pull`, which are usable in label selector queries; or by examining the `.spec.refs` or `.spec.build_spec.template.env` once a particular `ProwJob` has been selected for inspection. The point is that the `.metadata.name` is completely worthless for inte

[2018-12-27 20:07] BenTheElder commented on #10564
`describe` or `get -o yaml` will produce more useful output, prowjobs are not always created from a repo so I don't think we want to switch the name generation just for that part. The names are intentionally UUIDs to be cross referenced with other data (like using the label selectors). Note that the ProwJob UUID should match the pod name.

/cc @cjwagner @stevekuznetsov

[2018-12-27 23:24] #10398 closed, assigned to alvaroaleman

[2018-12-28 00:06] fejta commented on #8649
Done

[2018-12-28 00:06] #8649 closed

[2018-12-28 01:49] ktrOpenSource opened #10566 "Prow issue: How do I reopen bugs it if I am not author or collaborator?"
I need to reopen: https://github.com/kubernetes/kubernetes/issues/59477 as this is still present.  How do I reopen it if I am not author or collaborator?

[2018-12-28 03:41] idealhack commented on #10566
thanks for your feedback, I'll reopen that issue while keeping this one open in case if there's any related discussion.

[2018-12-28 03:48] idealhack commented on #10566
Prow will help those are not collaborators mention GitHub teams by repeating after them, should it also help with reopening issues?

/area prow
/sig contributor-experience

[2018-12-28 03:57] idealhack commented on #8780
/remove-lifecycle stale

[2018-12-28 03:58] idealhack commented on #3322
/remove-lifecycle stale

[2018-12-28 03:58] idealhack commented on #3330
/remove-lifecycle stale

[2018-12-28 03:58] idealhack commented on #3325
/remove-lifecycle stale

[2018-12-28 03:59] idealhack commented on #8653
/remove-lifecycle stale

[2018-12-28 04:02] idealhack commented on #4824
/remove-lifecycle stale

[2018-12-28 04:03] idealhack commented on #6380
/remove-lifecycle stale

[2018-12-28 04:04] idealhack commented on #3151
/remove-lifecycle stale

[2018-12-28 04:07] idealhack commented on #8652
/remove-lifecycle stale

[2018-12-28 04:09] idealhack commented on #9079
/remove-lifecycle stale

[2018-12-28 04:09] idealhack commented on #9079
/remove-lifecycle rotten

[2018-12-28 04:09] idealhack commented on #5278
/remove-lifecycle rotten

[2018-12-28 04:10] idealhack commented on #5333
/remove-lifecycle stale

[2018-12-28 04:10] idealhack commented on #5073
/remove-lifecycle stale

[2018-12-28 04:13] idealhack commented on #6545
/remove-lifecycle stale

[2018-12-28 04:39] fejta commented on #10566
You cannot reopen issues unless you are a member of the kubernetes organization (aka a collaborator).

Why is it important to you whether or not that issue is open? I suspect it may be because you want someone to fix the issue. Unfortunately the issue has not attracted the attention of anyone willing and able to fix it. Instead it has been ignored for a year. Reopening is unlikely to change this s

[2018-12-28 04:44] fejta commented on #10566
The core problem on that issue is the community ignored it for a year, not that we closed it after detecting that it was ignored and sending multiple notices that it is being ignored.

[2018-12-28 07:41] fejta commented on #4824
72 to go!

[2018-12-28 08:59] wojtek-t commented on #10561
I looked into internal GKE logs, and increasing timeout wouldn't help.
Creation of those cluster failed after almost two hours in the end.
That should be investigated separately (I will file internal bug for it),

but here, the only possible solution to fix that for the future is:
- change the logic for deletion cluster to:
(1) check if error was "operation in progress"
(2) if so, retry

We won't

[2018-12-28 13:07] nikhita commented on #10553
/assign

[2018-12-28 18:10] cjwagner commented on #8468
We have a simple admission webhook handler here: https://github.com/kubernetes/test-infra/blob/master/prow/cmd/build/admission.go
We should decouple it from the build controller making it a standalone Prow component, then add more validation checks.

[2018-12-28 20:00] BenTheElder commented on #7814
/milestone v1.14
/remove-lifecycle stale

[2018-12-28 20:02] BenTheElder commented on #7814
Not true @k8s-ci-robot! I defy your power!

[2018-12-28 20:56] BenTheElder commented on #4824
@k8s-ci-robot hold my 🍺

[2018-12-28 21:52] ixdy commented on #8742
/pony rip

[2018-12-28 22:01] krzyzacy commented on #4824
/pony new year

[2018-12-30 23:04] ibrasho commented on #6464
Can we just change the message to explicitly say that this is an automated message by a bot?

Something as simple as:

`This message is posted by an automated bot. Send feedback to sig-testing, kubernetes/test-infra and/or [fejta](https://github.com/fejta).`

/remove-lifecycle stale

[2018-12-31 04:44] #6464 closed

[2019-01-01 10:51] nikhita commented on #10501
/area prow/peribolos

[2019-01-01 19:30] chaosaffe opened #10574 "Deck PR Status Dashboard doesn't match org-based Tide queries"
**What happened**:
PR's made in repositories where they are matched by `orgs`, i.e. [kubernetes-sigs](https://github.com/kubernetes-sigs/), show in the Deck [PR Status](https://prow.k8s.io/pr) dashboard with _No Tide query found_ despite having a configured [Tide query](https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L332-L395)

**What you expected to happen**:
Deck PR Status

[2019-01-02 02:55] chaosaffe opened #10575 "Prow suggests approver from wrong OWNERS file"
**What happened**:
Created a PR where `approve` plugin [suggested an approver](https://github.com/kubernetes/cloud-provider-openstack/pull/416#issuecomment-450766190) from [`cloud-provider-openstack/OWNERS`](https://github.com/kubernetes/cloud-provider-openstack/blob/master/OWNERS), not [`cloud-provider-openstack/pkg/ingress/OWNERS`](https://github.com/kubernetes/cloud-provider-openstack/blob/mast

[2019-01-02 11:07] alvaroaleman opened #10578 "Prow comments `New changes are detected. LGTM label has been removed.` even w/o lgtm label present"
**What happened**:

Pretty much title, currently Prow _always_ comments with the `New changes are detected. LGTM label has been removed.` comment after a new change even if the Pull never had the `lgtm` label. This started to happen after we updated Prow from `v20181207-201eb76` to `v20181229-98bbc5c`

**What you expected to happen**:

Prow to only add that comment when the Pull has a `lgtm` label

[2019-01-02 12:54] wojtek-t commented on #10561
The two things that need to be fixed in Down() function:
https://github.com/kubernetes/test-infra/blob/master/kubetest/gke.go#L581
(1) delete clusters should be retried if the returned error was "operation in flight)
(2) the errors should probably be ignored if these were "not found" errors

@krzysied - will you be able to do that?

[2019-01-02 14:32] jlewi commented on #10514
@taragu Support for specifying the column like you mentioned  e.g

[code]

Would be great. I hadn't thought of that.

Can you also support not specifying a column? I think this is what happens by default if you use the UI. I think if you do this depending on the automation setup for the project it will go into some column like "untriaged" or "todo" where it can then be manually processed and moved

[2019-01-02 16:07] stevekuznetsov commented on #10564
I think we can also just add custom columns to the CRD so `kubectl get` is not useless:

https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns

I'll tackle that

/assign

[2019-01-02 16:32] #7466 closed

[2019-01-02 16:34] stevekuznetsov commented on #10574
/area prow/deck

[2019-01-02 16:36] stevekuznetsov commented on #10575
I mean it's technically correct -- since you're an approver in the top-level, you can approve it as well. I wonder if we did that because we wanted to suggest an approver that wasn't already reviewing? I can't remember how that code went.

/area prow/hook
/cc @cjwagner

[2019-01-02 16:36] stevekuznetsov commented on #7940
This is done with the `status-reconciler`

/close

[2019-01-02 16:36] #7940 closed

[2019-01-02 16:49] stevekuznetsov commented on #10514
The `/project board column` syntax seems like a good idea to me @taragu . Agreed that waiting on that other PR would be good, or we can break out the client additions in a separate PR that can merge before #10401

[2019-01-02 16:54] #10578 closed

[2019-01-02 17:03] nikhita commented on #10566
Closing as we want to restrict closing/reopening to only authors or collaborators.

/close

[2019-01-02 17:03] #10566 closed

[2019-01-02 18:09] chaosaffe commented on #10575
I misunderstood the priorities of the files. I thought an OWNERS higher in the tree excluded OWNERS lower in the tree.
My apologies for the inconvenience, and thank you guys for all your amazing work! You help make working on Kubernetes a true joy!

[2019-01-02 18:09] #10575 closed

[2019-01-02 18:15] taragu commented on #10514
@jlewi sure I can support not specifying a column. There are projects that don't have a `To do` or `untriaged` column such as https://github.com/kubernetes-sigs/architecture-tracking/projects/3 . In this case, is adding the issue/PR to the `Backlog` column acceptable?

@stevekuznetsov that's a great idea. Thanks for the suggestion! I'll work on the client portion first.

[2019-01-02 22:19] ixdy commented on #10575
@chaosaffe FYI you can also set a `no_parent_owners` option if you'd like to exclude top-level owners, but it's `false` by default. https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#owners

[2019-01-02 22:40] Katharine commented on #10574
/assign

[2019-01-02 23:16] #10574 closed

[2019-01-02 23:33] #10564 closed

[2019-01-02 23:42] Katharine commented on #10574
Fixed the mistake. Thanks for the report, and for the investigation!

[2019-01-03 03:51] spiffxp commented on #9615
/close
Fixed by #9728

[2019-01-03 03:51] #9615 closed

[2019-01-03 04:58] spiffxp commented on #9679
/milestone v1.14

I question the viability of never upgrading minor versions of etcd again.  That said, perhaps this is a thing to be punted and revisited with etcdadm.  I'd like for us to decide one way or the other this release cycle

[2019-01-03 04:59] spiffxp commented on #8621
@BenTheElder Is this still an issue? I feel like you mentioned one of the bot accounts was now mysteriously passing the CLA check, I can't remember if it was related to this

[2019-01-03 04:59] spiffxp commented on #8621
/remove-milestone

[2019-01-03 05:00] spiffxp commented on #8621
/milestone clear

right, our syntax is inconsistent

[2019-01-03 05:01] spiffxp commented on #9121
/milestone clear

I'm opting to punt this if the testgrid approach isn't good enough.  Feel free to add back in to v1.14 if you're inclined to take the approach you suggested @stevekuznetsov

[2019-01-03 05:02] spiffxp commented on #5073
/milestone clear

It sure would be nice if we could do this in v1.14, but I'm going to defer to @michelle192837 to add back in to v1.14 milestone

[2019-01-03 05:03] spiffxp commented on #5073
/milestone 2019-goals

I think it's a safe 2019 commitment at least

[2019-01-03 05:04] spiffxp commented on #5385
/milestone 2019-goals

It sure would be nice if we could do this in v1.14, but I'm going to defer to @michelle192837 to add back in to v1.14 milestone

[2019-01-03 05:05] spiffxp commented on #9719
/milestone v1.14

@BenTheElder is this still an issue?

[2019-01-03 05:05] spiffxp commented on #3324
/milestone 2019-goals

It sure would be nice if we could do this in v1.14, but I'm going to defer to @michelle192837 to add back in to v1.14 milestone

[2019-01-03 05:05] spiffxp commented on #3323
/milestone 2019-goals

It sure would be nice if we could do this in v1.14, but I'm going to defer to @michelle192837 to add back in to v1.14 milestone

[2019-01-03 05:15] spiffxp commented on #6380
/lifecycle frozen
/milestone v1.14

FYI @BenTheElder @fejta

Oh look, another milestone bump.  The deal is that I'd like for us to implement measurement and enforcement of the criteria laid out for release-blocking.  I would then expect merge blocking criteria to be basically the same, but with tighter numbers.

We also have aspirations to move away from the use of clouds in merge-blocking jobs, i

[2019-01-03 05:16] spiffxp commented on #5085
/milestone 2019-goals

I doubt I will have bandwidth for this.  It would be super help for k8s infra wg though

[2019-01-03 05:20] spiffxp commented on #5231
/remove-lifecycle stale
/milestone v1.14
/unassign @oomichi
/assign @spiffxp @Katharine

So this still feels like an umbrella issue that could be referring to api coverage, e2e coverage, unit coverage, etc.

Let's figure out what subset of this is feasible for this release cycle.  We're surfacing some subset of e2e test coverage, but I'm not sure we've reached the point where it's conveniently act

[2019-01-03 05:21] spiffxp commented on #9208
/remove-lifecycle stale
/milestone v1.14

Needed to help deflake e2e tests

[2019-01-03 05:30] spiffxp commented on #9978
/milestone v1.14

Let's see if we can make gopherage usable as a standalone binary

[2019-01-03 05:32] spiffxp commented on #8653
/milestone 2019-goals

Given that I saw no activity linked here in v1.13 I'm kicking out.

@stevekuznetsov @cjwagner what remains to be done here?

[2019-01-03 05:38] spiffxp commented on #3338
/lifecycle frozen
/milestone 2019-goals
because sure why not...

Honestly, I'd like to understand what we concretely plan on doing, rather than perpetually holding open a "someday, we'll redesign this" issue.  You could say that about any of our code/config

The fact that we have split up jobs into N files across M directories seems like progress enough?  I know there are hopes and dreams of one d

[2019-01-03 05:38] spiffxp commented on #9910
/milestone v1.14

[2019-01-03 05:39] spiffxp commented on #7769
/milestone v1.14

What remains to be done here?

[2019-01-03 05:41] krzyzacy commented on #7769
I think scalability presubmits are the only ones left.

[2019-01-03 05:41] spiffxp commented on #5431
/milestone v1.14

I vote we either kill the use of this, or we use kubernetes-sig-testing@googlegroups.com

[2019-01-03 05:42] krzyzacy commented on #3338
hopes and dreams and I think this is co-related with the trigger CRDs, once we have that we can just write configs as CRDs?

[2019-01-03 05:43] spiffxp commented on #5333
/milestone 2019-goals
/unassign
/help

I'm doubtful I will get to this in v1.14 timeframe.  I am willing to help review if someone else wants to take a crack.

[2019-01-03 05:44] spiffxp commented on #9814
/milestone v1.14

[2019-01-03 05:46] spiffxp commented on #3412
/milestone v1.14

IIRC we're trying to make sure podutils provide the appropriate metadata, can we maybe document it while we're doing so?

[2019-01-03 05:49] spiffxp commented on #7364
/milestone v1.14
/unassign @rmmh

FYI @cjwagner @stevekuznetsov @BenTheElder

I thought someone was working on this but I'm not sure who?

[2019-01-03 05:57] spiffxp commented on #8286
/milestone 2019-goals
/assign @cjwagner @fejta @nikhita

I have a sneaking suspicion this can now be closed?  Or was there more simplification/docs to be done?

[2019-01-03 06:03] spiffxp commented on #7713
/milestone v1.14

Since I think @krzyzacy is planning on a kubetest refactor this cycle

[2019-01-03 06:05] spiffxp commented on #9694
/close

Sounds like we've addressed this based on the above, please /reopen if I'm incorrect

[2019-01-03 06:05] #9694 closed

[2019-01-03 06:09] spiffxp commented on #10544
/milestone v1.14
hopefully?

ref: https://github.com/kubernetes/test-infra/issues/7364 (sortof a dupe?) and https://github.com/kubernetes/test-infra/issues/3412 (why not doc the metadata while we're at it)

[2019-01-03 06:11] spiffxp commented on #7971
/lifecycle frozen
/remove-kind bug
/kind cleanup
/milestone 2019-goals

Consistency helps discoverability and adoption

[2019-01-03 06:13] spiffxp commented on #9378
/remove-lifecycle stale
/milestone v1.14
ref: https://github.com/kubernetes/sig-release/issues/347

[2019-01-03 06:16] spiffxp commented on #9697
/remove-lifecycle stale
/milestone v1.14
Keeping this open as the "pulling the skiplist upstream" issue re: https://github.com/kubernetes/test-infra/issues/9697#issuecomment-427067895 unless I find a better issue for it

[2019-01-03 06:16] spiffxp commented on #9283
/milestone v1.14
/remove-lifecycle stale
/aassign @wojtek-t @shyamjvs

[2019-01-03 06:17] spiffxp commented on #9282
/milestone v1.14
/remove-lifecycle stale
/aassign @wojtek-t @shyamjvs

[2019-01-03 06:18] spiffxp commented on #10514
/milestone v1.14

This sounds like a great idea

[2019-01-03 06:19] spiffxp commented on #10369
/milestone v1.14
/sig release

[2019-01-03 06:20] spiffxp commented on #10470
/kind cleanup
/milestone v1.14
/area prow

[2019-01-03 07:07] idealhack commented on #9282
/assign @wojtek-t @shyamjvs

/woof

[2019-01-03 07:07] idealhack commented on #9283
/assign @wojtek-t @shyamjvs

/meow

[2019-01-03 08:57] cjwagner commented on #8286
I think this has been pretty well addressed now.
If we find areas of the docs that are lacking we should open more specifically targeted issues.
/close

[2019-01-03 08:57] #8286 closed

[2019-01-03 10:21] krzysied opened #10594 "Revert PR #10582"
PR #10582 was introduced to compare coredns against kubedns. This PR should be reverted after comparison is done.

Deadline: 01/11/2019

[2019-01-03 10:21] krzysied commented on #10594
/sig scalability

[2019-01-03 10:21] krzysied commented on #10594
/assign @krzysied

[2019-01-03 13:55] idealhack commented on #10470
/assign

[2019-01-03 16:32] stevekuznetsov commented on #10544
Yeah I would love to see a straightforward doc of what tools use what fields ... from my external viewpoint the metadata is a huge mess of legacy right now...

[2019-01-03 16:32] stevekuznetsov commented on #10544
And nobody ever helped me understand it two years ago in #3412

[2019-01-03 16:33] stevekuznetsov commented on #8653
I think more well rounded doc about metrics would be great -- what can be done without the `velodrome` monolith. Otherwise this is mostly done

[2019-01-03 16:34] stevekuznetsov commented on #9121
You guys have the background to run it as a periodic now, so I think that should work ...

[2019-01-03 18:37] krzyzacy commented on #10544
I think two things:
- gubernator & spyglass will display the metadata.
- you can also set custom column headers in testgrid from the metadata you have.

You can put whatever fields you want there, and it is not a must-have today.

[2019-01-03 18:42] krzyzacy commented on #10544
Oh didn't read the issue body - we should have all the repo info in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/72529/pull-kubernetes-typecheck/35614/clone-records.json, maybe we can clean that up a little bit and display some info from there? @stevekuznetsov

[2019-01-03 18:50] shyamjvs commented on #7769
cc @amwat @krzysied

Were looking into the scalability jobs. There should be a github issue for this somewhere.

[2019-01-03 18:54] shyamjvs commented on #9282
Thanks for pointing this Aaron. You're right, we should have a stable3 scale job too (I've always been confused by the naming convention).

@krzysied - would you be able to add such a job?

[2019-01-03 19:09] BenTheElder commented on #8780
pod-utils + dind works with our sysv dind, it's not quite ideal though, but we should probably track options for not hijacking ENTRYPOINT in another issue.

[2019-01-03 19:09] #8780 closed

[2019-01-03 19:15] BenTheElder commented on #9719
/shrug
everything seems juuuust fine. definitely won't bite us in the future. definitely.
/close

[2019-01-03 19:15] #9719 closed

[2019-01-03 19:15] BenTheElder commented on #9719
xref: #4824

[2019-01-03 19:15] amwat commented on #7769
@shyamjvs https://github.com/kubernetes/test-infra/issues/9223
Most of the small scalability jobs were moved to boskos in https://github.com/kubernetes/test-infra/pull/9567

Only the large scalability tests remain. @krzyzacy IIRC the last consensus on this one was to have a boskos pool of one project?

[2019-01-03 19:38] krzyzacy commented on #7769
I didn't see the presubmit jobs... maybe it's ok they fails when there's a periodic job running?

[2019-01-03 19:44] krzyzacy opened #10602 "Crier sometimes didn't report?"
/assign
/kind bug

@rancerbeta found some instances, seems the informer added the prowjobs but it didn't want to report.
need to add more loggings to investigate

[2019-01-03 19:46] BenTheElder commented on #10230
might actually do something about this image as we move towards pod-utils ... common images do improve caching / start time...

[2019-01-03 19:49] BenTheElder commented on #9638
/remove-lifecycle stale

/help

Adding the known SSH keyprint should be pretty trivial, configuration for host key checking might be a little less trivial / more controversial.

[2019-01-03 19:53] BenTheElder commented on #9549
/remove-lifecycle stale

[2019-01-03 19:53] stevekuznetsov commented on #9638
I could have sworn @fejta fixed this -.-

[2019-01-03 19:58] BenTheElder commented on #7364
@krzyzacy was I think?

[2019-01-03 21:24] yastij opened #10603 "Gubernator unable to retrieve recent run of job across PRs"
Gubernator fails to retrieve pull-kubernetes-e2e-gke recent runs across PRs with the following: https://gubernator.k8s.io/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gke

[code]

[2019-01-03 22:31] Katharine commented on #10603
Oh, sorry, I think I misinterpreted the report - do you mean that the linked list itself wouldn't render? That seems very likely to be a `started.json` race of some sort.

I'm tempted to say wontfix, since Gubernator is in maintenance mode and headed to deprecation (also see #10375). The Deck replacement is https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gk

[2019-01-03 23:21] spiffxp commented on #9121
/milestone v1.14

OK, let's see if we can get to this

[2019-01-04 00:19] Katharine opened #10605 "Deck timestamp tooltips disappear when changing filter options"
When changing the deck filter options the tooltips get lost. They shouldn't.

/kind bug
/area prow/deck
/assign

[2019-01-04 12:36] wojtek-t commented on #7673
/remove-lifecycle rotten

[2019-01-04 15:17] idealhack commented on #9256
/assign

[2019-01-04 16:59] mithrav commented on #7673
What can we do to move this along? Has been over 6 months.
/remove-lifecycle stale

[2019-01-04 17:56] idealhack commented on #9118
/remove-lifecycle rotten

[2019-01-04 19:10] BenTheElder commented on #7673
Jobs should not depend on exit traps / cleanup within the task. This is a wontfix.

Even if we changed k8s / Prow we can't guarantee that infra won't ever fail. Cleanup needs to be reentrant and managed by controllers or follow up tasks (IE use boskos).

[2019-01-04 19:11] BenTheElder commented on #7673
@amwat has been moving more of this to boskos

[2019-01-04 19:19] cjwagner opened #10621 "Tide: add an option to prevent partial batch merges."
**What would you like to be added**:
A config option that indicates that if a batch merge fails part way through, any members of the batch that were successfully merged should be reverted.
Alternatively, if we could find a way to merge all the members of the batch atomically, this problem would disappear.

**Why is this needed**:
Tide batches are tested as a single unit so if a batch is only parti

[2019-01-04 20:20] idealhack commented on #9247
/reopen
/remove-lifecycle stale
/lifecycle active

until it's done and maybe introduced some verify jobs

[2019-01-04 21:02] stevekuznetsov commented on #9118
I'm pretty sure this is due to our threshold being set incorrectly low. I thought we fixed that?

[2019-01-04 21:07] stevekuznetsov commented on #10621
We could create an ephemeral branch at the tested ref from the target branch, merge in all the PRs, and merge that into the target branch if we wanted to do it atomically. Seems messy though. If we reverted, how would we

[2019-01-04 21:07] stevekuznetsov commented on #10621
C'mon, GitHub mobile interface.

[2019-01-04 21:07] stevekuznetsov commented on #10621
How would we return the changes to the queue after a revert? We couldn't reopen the PR

[2019-01-04 22:07] krzyzacy commented on #7364
We have incorporated metadata.json, and all other information are in clone-records.json

I think we can make gubernator & spyglass understand clone-records.json instead?

[2019-01-04 23:15] spiffxp commented on #5183
/remove-lifecycle stale
/milestone v1.14
/assign @cjwagner

I think based on talking to @cjwagner offline that the tide action history may address the concerns here

[2019-01-04 23:35] spiffxp commented on #9802
I think it'd be nice to continue the split into parallel jobs on the 1.12 and 1.11 dashboards.  We're trying to make sure all of the -blocking dashboards use the same set of jobs (https://github.com/kubernetes/test-infra/issues/9363) why not just do the same thing for -all dashboards

That said, it's not signal I'm personally going to be paying attention to, so I'm not milestoning this into v1.14

[2019-01-04 23:36] spiffxp commented on #9802
/sig release
/sig testing

[2019-01-04 23:37] spiffxp commented on #9802
/kind cleanup
/priority important-longterm
/help
I think this is a relatively mechanical change if you follow https://github.com/kubernetes/test-infra/pull/9803 and https://github.com/kubernetes/test-infra/pull/9864, but it's probably not something for first-timers

[2019-01-04 23:39] spiffxp commented on #9555
/remove-lifecycle stale
/area deflake
@BenTheElder what remains to be done here?

[2019-01-04 23:40] spiffxp commented on #9208
/area deflake

[2019-01-04 23:47] spiffxp commented on #9802
/area deflake
(presumably this would help us see whether the same upgrade flakes persist across versions)

[2019-01-05 00:02] spiffxp commented on #10369
/area deflake

[2019-01-05 00:04] cjwagner commented on #5183
Yes it should definitely help, but commenting directly on the PR with a link to the tide history for the PR might still be a good idea.

[2019-01-05 09:48] idealhack commented on #5175
/remove-lifecycle stale

[2019-01-05 12:17] nikhita commented on #10514
Removing help-wanted since @taragu is going to work on it (thanks for this btw!!)

/remove-help

[2019-01-05 12:32] nikhita commented on #10226
Currently prow doesn't automatically assign users, only automatically request reviews from people.

Blunderbuss will look to request reviews from the list of `reviewers` mentioned in the OWNERS file, and if it can't find any reviewers it will fall back to the list of `approvers`. So one way to work around automatic review requests would be to listed as an approver but _not_ as a reviewer in the OW

[2019-01-06 19:02] tareks opened #10629 "k8s-ci-robot not automatically added as a participant to PR"
**What happened**:
I might be missing something basic here, but a PR was created (https://github.com/helm/charts/pull/10237) but k8s-ci-robot did not seem to autojoin to annotate it.

**What you expected to happen**:
k8s-ci-robot should have be added as a participant and auto commented. It should have also added reviewers and suggested approvers.

**How to reproduce it (as minimally and precisely

[2019-01-06 19:02] tareks commented on #10629
Note that this may not be a bug, but I haven't found anything in the docs yet that may indicate what I've missed out on..

[2019-01-07 17:38] ibzib commented on #9826
fixed in #10184
/close

[2019-01-07 17:38] #9826 closed

[2019-01-07 18:21] BenTheElder commented on #9555
it's unclear if our current attempts made a significant difference or not. we probably can't do much more ourselves besides the dnsConfig which also unfortunately makes the jobs more verbose :(

[2019-01-07 19:51] michelle192837 commented on #5385
I am planning to fix this this month

[2019-01-07 19:55] shyamjvs commented on #9223
@amwat Would you be able to cross out the checklist items that are done already? (especially those around boskos)

[2019-01-07 19:55] shyamjvs commented on #9223
/remove-lifecycle stale

[2019-01-07 20:37] #9282 closed

[2019-01-07 21:13] michelle192837 commented on #5073
Is there a remaining task here, or can it be closed?

[2019-01-07 21:15] michelle192837 commented on #10409
Thanks for comments so far all! (Feel free to continue adding to this, or encourage others to).

Just got back from vacation, so I'll be pulling together the plan for early 2019 and will publish that publicly when it's more finalized.

[2019-01-07 21:32] shyamjvs commented on #9283
Fixed this in https://github.com/kubernetes/test-infra/pull/10637 - PTAL.

[2019-01-07 22:39] paulangton commented on #8970
Don't believe this is still an issue
/close

[2019-01-07 22:39] #8970 closed

[2019-01-07 22:47] paulangton commented on #9374
Definite agree. There hasnt been a ton of linking done. I did a once-over to add Katharine's major spyglass contributions as well as update the list with a few tasks/bugs that were completed/fixed but not checked off.

From my perspective Spyglass should have a couple goals for v1.14. First and foremost is feature parity with gubernator (we are getting close on this one!) Second, battle-testing. T

[2019-01-07 22:54] freehan commented on #8327
@krzyzacy
The zone parameter has been moved to the root level of a NEG object. That will help right?

[2019-01-07 22:56] krzyzacy commented on #8327
which means we can drop https://github.com/kubernetes/test-infra/blob/master/boskos/janitor/janitor.py#L219-L222 now right?

[2019-01-07 22:56] krzyzacy commented on #8327
/remove-lifecycle stale

[2019-01-07 23:05] freehan commented on #8327
[code]

is still not displaying the zone information

[2019-01-08 00:17] cjwagner opened #10646 "Tracking issue: Tide action history page."
Tracking issue for follow up steps for #10530

Today the `/tide-history` endpoint is not linked to or mentioned anywhere. Once the page has been validated in Prod I'll:
- [x] link to it from Decks navigation menu
- [x] make the Tide dashboard and PR status page link to the appropriate filters
- [x] add an announcement to [ANNOUNCEMENTS.md](https://github.com/kubernetes/test-infra/blob/master/prow/

[2019-01-08 00:22] davidz627 opened #10647 "https://go.k8s.io/triage flake rate"
**What would you like to be added**:
When looking at test failures on the go.k8s.io/triage tool the title says something like "80 test failures (3 today) look like..." however it's unclear out of how many tests these test failures are out of. It would be nice to have a "flake rate" statistics. Such as "80 test failures (3 today) out of 150 run (20 today)..." or "80 test failures (3 today) with fla

[2019-01-08 00:44] #8275 closed

[2019-01-08 01:08] cjwagner opened #10649 "golint plugin fails silently"
The golint plugin logs an error, but doesn't react on the PR if an error is encountered while identifying lint problems (like on this line: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/golint/golint.go#L153).
ref: https://github.com/kubernetes/test-infra/pull/10628#issuecomment-452044803

[code]

Ideally the plugin would expose these errors to the user along with successfully

[2019-01-08 06:38] idealhack commented on #8241
/remove-lifecycle stale

[2019-01-08 09:01] idealhack commented on #9256
While most places were addressed by https://github.com/kubernetes/test-infra/pull/10618 and https://github.com/kubernetes/test-infra/pull/10654, I couldn't find a nice way to fix the last ones:

https://github.com/kubernetes/test-infra/blob/2862878bf4e3aaca0d83e31e003ba004ac19d74b/prow/plugins/dco/dco_test.go#L95

@munnerz could you take a look?

/reopen
/unassign
/remove-lifecycle rotten

[2019-01-08 09:05] idealhack commented on #10138
related: https://github.com/kubernetes/test-infra/issues/9256

[2019-01-08 17:20] mariantalla opened #10659 "Add documentation for the triage tool"
**What would you like to be added**:
More detailed documentation for the triage tool:

- where it's deployed
- how to use it
- how it integrates with other k8s tooling
- how to contribute to it

**Why is this needed**:
It would help contributors discover and be productive with [triage](go.k8s.io/triage) as part of their k8s CI toolkit.

[2019-01-08 19:17] BenTheElder opened #10662 "create a tool to check conformance test results against conformance.txt"
**What would you like to be added**: We should have a tool to validate conformance test results against the golden list of tests https://github.com/kubernetes/kubernetes/blob/6f897af2daffd8cd3539f1ef279b9f9bc280d98f/test/conformance/testdata/conformance.txt

**Why is this needed**: See: https://github.com/kubernetes/kubernetes/issues/69601, we missed that a test was being skipped on single-node cl

[2019-01-08 19:21] BenTheElder commented on #10662
cc @Katharine

[2019-01-08 21:04] BenTheElder commented on #10659
/cc @spiffxp

[2019-01-08 21:41] calvinmorrow opened #10665 "Prow: Run service sidecar for job tests"
Looking into using Prow instead of a separate CI system we use today and hitting several blockers.

Currently several of our existing CI processes use some sort of "service" container for API or database testing.  IE: We run postgresql as a second container in the same pod or other services that emulate various CRUD APIs our applications use.  Even our existing build process usually runs DinD as a

[2019-01-08 22:18] fejta commented on #8468
/remove-lifecycle rotten
/assign

[2019-01-08 22:45] stevekuznetsov commented on #8468
Also anyone hand-writing CRDs is doing a bad thing and we should minimize the amount of engineering effort we spend trying to support that. Just use `mkpj`.