[2018-08-31 23:27] krzyzacy commented on #7673
/remove-lifecycle rotten

definitely still an issue :-) https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/68096/pull-kubernetes-e2e-gce-100-performance/18882/build-log.txt

[2018-08-31 23:31] stevekuznetsov commented on #8536
/area prow
/kind feature

We need to get the `OWNERS` filtering mechanism working, then I think we will successfully handle `OWNERS` at a file-level granularity. I agree with @krzyzacy that making `OWNERS` even more granular than that seems very difficult and not worth the effort. Any single file getting that large should be broken up anyway for scalability issues.

[2018-08-31 23:32] BenTheElder commented on #7673
we should really move to aborting old jobs :(

[2018-08-31 23:33] #7524 closed

[2018-08-31 23:33] krzyzacy commented on #3151
I *think* we already have this?

[2018-08-31 23:36] krzyzacy commented on #3151
https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L202

[2018-08-31 23:39] BenTheElder commented on #5708
/remove-lifecycle rotten

[2018-08-31 23:40] krzyzacy commented on #4646
/remove-lifecycle rotten
/assign @michelle192837
maybe we can append a different code search path for test-infra as well?

[2018-08-31 23:42] krzyzacy commented on #5453
yeah I'd say let's use logrus and ditch glog...

[2018-08-31 23:43] ixdy commented on #3151
well, kind of. That doesn't appear to actually validate that the correct version is running.

[2018-08-31 23:44] krzyzacy commented on #5453
/assign

[2018-08-31 23:44] ixdy commented on #3151
/reopen

[2018-08-31 23:44] #5316 closed

[2018-08-31 23:46] BenTheElder commented on #5453
I'll rip out `dind/` soon and we can start switching in logrus, I think nothing else has direct or indirect dependencies on glog so far.

Though unless we use a very boring formatter, this will significantly change the output of go run hack/e2e.go, so we should perhaps consider that.

[2018-08-31 23:53] shyamjvs commented on #7673
That smells like a broken teardown script. I think we should just fix that by adding retries. For the long run it seems like this won't be needed be a problem anymore when we move to boskos.

[2018-08-31 23:54] krzyzacy commented on #3151
huh? ref https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-beta-upgrade-cluster/623

so we check version before upgrade:

[code]

and check again after upgrade:

[code]

with the skewed client version

so we want to add a comparison here between the server version we got, vs the k8s version we extract?

[2018-08-31 23:56] krzyzacy commented on #7673
I think bad things can happen, like while running kube-up, you run kube-down... it will be hard to fix, so, yes let's move to boskos :-)

[2018-08-31 23:58] michelle192837 commented on #4646
I don't think I have the bandwidth to add this anytime soon, but if another internal person wants to feel free.

(Alternatively, I couldn't find an easy way to search more than one repo on GitHub, but if there is one that'd be convenient ^^)

[2018-09-01 00:02] krzyzacy commented on #4646
allow multiple diff? I kinda already added test-infra commit into the column header.
definitely not high priority :-) just glancing through all the issues.

[2018-09-01 00:04] michelle192837 commented on #4646
Fair ^^

It's mainly just that right now, a few places assume there's just one code_search_path string; I don't think it'd be too hard to allow more than one, it'd just be some non-trivial work. It'd be possible to hard-code a second one on Kubernetes dashboards as well, but less ideal (though a lot less work).

[2018-09-01 00:04] ixdy commented on #3151
We print out versions, yes, but I don't think we programatically verify that they changed.

This issue was filed after some time was wasted trying to figure out why tests were failing in an upgrade job, only to eventually discover that the job was misconfigured and an upgrade wasn't actually happening.

[2018-09-01 00:05] BenTheElder commented on #4646
when we switch to the pod-utils we won't be uploading the infra-commit anymore anyhow...

[2018-09-01 00:07] krzyzacy commented on #4646
@BenTheElder we probably still want to upload the SHA for config version, so people can still see if a test failure is caused by config change or k/k change

[2018-09-01 00:08] BenTheElder opened #9236 "switch welcome plugin to use `author_association`"
we should be able to use `author_association == FIRST_TIME_CONTRIBUTOR` now, thanks to @neolit123 for reporting
https://github.com/kubernetes/test-infra/pull/9232#discussion_r214496918
https://github.com/google/go-github/blob/f6d5dee002c7370ec1f38a7c589ea6b6816734e4/github/pulls.go#L59

/area prow/plugins
/kind enhancement
/assign

[2018-09-01 00:09] krzyzacy commented on #6380
/assign @spiffxp
assume you have the most ideas here

[2018-09-01 00:09] shyamjvs commented on #7673
I agree about the boskos part, but I'm not sure why bad things can happen with kube-up and kube-down (we should only have any one of them happening at any point in time, which should be ok AFAIK).

[2018-09-01 00:13] krzyzacy commented on #7673
compare https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/68096/pull-kubernetes-e2e-gce-100-performance/18880/ and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/68096/pull-kubernetes-e2e-gce-100-performance/18882/

both of them shares the same cluster name: `e2e-68096-95a39`

18882 is triggered 2min after 18880, so when 18880 is running into kube-u

[2018-09-01 00:17] krzyzacy commented on #7944
assume this works for you now? if not feel free to reopen.

[2018-09-01 00:17] #7944 closed

[2018-09-01 00:25] krzyzacy commented on #7673
/shrug
https://github.com/kubernetes/test-infra/issues/7673#issuecomment-380914391
we haven't done anything here yet

[2018-09-01 00:26] stevekuznetsov commented on #8622
Wait, we don't want to require CLA for feature branches?

[2018-09-01 00:31] BenTheElder commented on #7673
I think we should enable termination, add a large grace period for non-boskos e2e jobs, and switch to random clsuter ids. then we'll tear down the old and spin up the new concurrently.

[2018-09-01 00:45] BenTheElder opened #9238 "PR Updates With New OWNERS Changes Should Un-Approve the PR"
at the very least we should probably detect `OWNERS` file changes and yank approval

/area prow

[2018-09-01 00:48] stevekuznetsov commented on #9238
So on merge if a PR changes OWNERS, relist all approved PRs and recalculate ownership?

[2018-09-01 00:51] BenTheElder commented on #9238
I think if a PR pushes a change to OWNERS remove the `approve` label entirely. It'd be too easy to get a root level approval of a PR then add some random owners file changes. These in particular seem riskier than other changes, because you could EG add yourself to the root.

[2018-09-01 01:15] BenTheElder commented on #8622
we do, but if you force push a rebased branch you can get back in sync with master, which is what the "branch maintainers" do for release branches, and also for ""feature branch managers""

[2018-09-01 01:38] BenTheElder commented on #7602
Per discussion today in #sig-release we will hold on this until q4
/assign
/assign @spiffxp

[2018-09-01 01:46] spiffxp commented on #7602
Other issues related to etcd2's deprecation:
- https://github.com/kubernetes/kubernetes/issues/44156
- https://github.com/kubernetes/kubernetes/issues/57354

[We announced in v1.9](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md) that etcd2 is being deprecated "1.13 or 1.14"

I'm not planning to unpack which of those versions it is just yet. But I will gladly push for it to b

[2018-09-01 01:46] spiffxp commented on #7602
/kind cleanup
/priority important-longterm

[2018-09-01 01:56] spiffxp commented on #5446
/remove-lifecycle stale
/assign
/priority important-longterm
I view this as much lower priority than conformance tests that exercise pod behavior.  There was consensus on this point at the most recent cncf-conformance-wg call.  Our CI gathers audit logs so we can use [cncf/apisnoop](https://github.com/cncf/apisnoop) to keep track of API coverage, and we can revisit whether this is still necessary

[2018-09-01 02:35] BenTheElder commented on #9236
I looked into this, and from some actual webhook data it looks like `author_association` is `NONE` on the PR open event pretty reliably for new PR authors, which at some point becomes `CONTRIBUTOR` (even without merging anything....) in the webhooks at least, will check graphQL next...

[2018-09-01 02:39] BenTheElder commented on #9236
qraphQL / v4 seems to work as intended:
[code]
->
[code]

[2018-09-01 02:58] BenTheElder opened #9239 "kind: switch docker build to `make quick-release-images`"
... as soon as https://github.com/kubernetes/kubernetes/pull/68096 is in.

this will be much better than the current hack that basically implements it ourselves within the build tooling, I've upstreamed a better version of this in https://github.com/kubernetes/kubernetes/pull/68096.

/area kind
/assign

[2018-09-03 06:22] matthyx opened #9247 "Fix prow lint errors"
Run https://github.com/golang/lint on ./prow/...

/good-first-issue

[2018-09-03 16:30] Zandalee11 opened #9251 "Prow issue:"

[2018-09-03 17:57] krzyzacy commented on #9251
@Zandalee11 can you provide more details on the issue body?

[2018-09-03 18:41] BenTheElder commented on #8246
/remove-lifecycle stale
obviously this is P0 /s

[2018-09-04 00:49] BenTheElder commented on #3536
/remove-lifecycle stale

On Mon, Sep 3, 2018, 17:44 fejta-bot <notifications@github.com> wrote:

[2018-09-04 11:33] alisondy commented on #9247
Would like to help!

[2018-09-04 11:50] matthyx commented on #9247
Please go ahead, it's all yours @alisondy
/remove-help

[2018-09-04 14:42] alisondy commented on #9247
/assign

[2018-09-04 14:43] alisondy commented on #9247
/joke

[2018-09-04 15:05] matthyx commented on #9247
You can only assign members of the organization.

[2018-09-04 18:00] stevekuznetsov commented on #8622
OK, so the larger issue is that rebasing continuously on `master` will create merge conflicts on the top-level `OWNERS`?

[2018-09-04 18:01] stevekuznetsov commented on #9238
Oh, this is on _the PR changing `OWNERS`_, I see.

[2018-09-04 18:29] stevekuznetsov opened #9256 "prow: hook: link to deck's per-repo command help page in comment"
We should use the repo-specific command help page in Deck for the `I understand the commands that are listed here` comment from the bot.

/area prow
/area prow/hook
/kind feature
/cc @bbguimaraes @cjwagner @BenTheElder

[2018-09-04 18:30] stevekuznetsov commented on #6092
/remove-lifecycle rotten

[2018-09-04 19:05] BenTheElder commented on #8622
Well I think also that if you're person A and you just want to do a PR that updates all the commits to be back in sync with master, the CLA won't match and the bot won't let you merge it via the normal PR process, so you actually _need_ someone to just force push an updated branch (If I remember correctly...)

[2018-09-04 20:59] cjwagner commented on #9115
This was closed prematurely.  It should be closed by https://github.com/kubernetes/test-infra/pull/9259

[2018-09-04 21:59] BenTheElder commented on #9238
Yeah, you can get sticky approval on a PR that changes OWNERS which seems pretty bad. If you get approval from a root approver you're free to change any owners file after that and you only need to get an LGTM which is a very, very low bar.

[2018-09-04 22:29] spiffxp commented on #5175
The linked PR has been aged out.  I asked the author if they were going to pick it back up and they said it didn't seem like anyone wanted it.  Is there any reason for this issue to remain open @kargakis ?

[2018-09-05 01:38] stevekuznetsov commented on #8277
Dupe of #8646

[2018-09-05 01:38] stevekuznetsov commented on #8277
/close

[2018-09-05 01:38] #8277 closed

[2018-09-05 01:41] stevekuznetsov commented on #9238
In a similar vein, if a PR changing `OWNERS` merges, should we re-calculate approved PRs?

[2018-09-05 01:44] BenTheElder commented on #9238
Maybe. I'm not sure if we can do that efficiently and if it is a likely scenario. If we strongly need to remove someone from approvers we can one-off go through approved PRs and un-approve them, the more common cases are adding a new approver (which shouldn't trigger recomputing) or someone voluntary removing themselves because they have moved on don't wish to review PRs.

[2018-09-05 02:40] BenTheElder commented on #9256
/help wanted

This would involve an update to:
https://github.com/kubernetes/test-infra/blob/d9324e36d37c3286e3f409094863afe08f6d75a1/prow/plugins/trigger/pr.go#L150

It should be pretty simple

[2018-09-05 02:41] BenTheElder commented on #9256
er
/help
🙃

[2018-09-05 03:27] #9115 closed

[2018-09-05 03:51] stevekuznetsov commented on #9256
Threading through the config to every plugin that uses it (and then passing it to the reporter lib) seems a bit messy today, maybe we can do better on design?

[2018-09-05 03:57] BenTheElder commented on #9256
Huh? We already thread through the PR, why can't we build the URL from that?

[2018-09-05 15:08] fejta opened #9270 "Support https cookiefiles for clonerefs"
Right now we only support ssh for cloning. But various services like https://cloud.google.com/source-repositories/ require http cookies (and/or a gcloud credential helper, but the cookies seem a better path forward here).

Let's extend the clonerefs binary to include a `--cookiefile=/path/to/cookiefile` flag, and allow the user to configure plank to use a secret for this file. Plank will mount the

[2018-09-05 15:10] fejta commented on #9270
Plank will call decorate, and does similar things now for ssh keys: https://github.com/kubernetes/test-infra/blob/9d23d7abda73fb40ec87c3d10b6f0f0e8a04e527/prow/pod-utils/decorate/podspec.go#L168

[2018-09-05 16:03] stevekuznetsov commented on #9256
We need the `deck` URL to thread through

[2018-09-05 18:16] spiffxp opened #9271 "go.k8s.io/triage is out of date"
/area kettle
/kind bug
/assign

http://velodrome.k8s.io/dashboard/db/bigquery-metrics?panelId=12&fullscreen&orgId=1

Called out in https://github.com/kubernetes/test-infra/blob/master/docs/oss-oncall-log.md

Last log entry
[code]

Replace the pod
[code]

Watch the logs
[code]

[2018-09-05 18:17] spiffxp commented on #9271
I will close this when the spice is flowing once more

[2018-09-05 19:28] ibzib opened #9274 "prow: getting_started.md is out of date"
I was following Prow's [getting started instructions](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started.md). In two places the instructions say to use `bazel run //prow/cmd/config`, but it fails with the message `BUILD file not found on package path`. It looks like this is because the `config` binary has been deleted.

[2018-09-05 19:30] stevekuznetsov commented on #9274
/cc @cjwagner
/kind bug
/kind documentation
/area prow

[2018-09-05 19:31] stevekuznetsov commented on #9274
Looks like we can change to `checkconfig`?

[2018-09-05 20:27] #4437 closed

[2018-09-05 20:32] krzyzacy commented on #2547
/remove-lifecycle stale
/assign
will get to this one day... one day...

[2018-09-05 20:50] krzyzacy commented on #9271
hummm restart the pod?

[2018-09-05 22:44] spiffxp commented on #9271
At last glance the kettle pod is still trying to catch up.  There is data flowing into bigquery.  I'm not sure if anything needs to be done to refresh triage or the metrics driving our velodrome dashboard.  Going to wait a bit longer.

[2018-09-06 00:39] BenTheElder commented on #6700
@michelle192837 is this still an issue or should we close it?

[2018-09-06 02:49] michelle192837 commented on #6700
I believe this is actually fixed, thanks to an internal contributor.

[2018-09-06 06:01] BenTheElder commented on #6700
ok, tenatively closing then, hopefully this is actually sorted. if not, feel free to re-open or file another bug :-)
/close

[2018-09-06 06:01] #6700 closed

[2018-09-06 06:15] BenTheElder commented on #9274
Yeah this should probably be something like `bazel build //prow/cmd/checkconfig -- --config-path=/path/to/config.yaml --plugins-path=/path/to/plugins.yaml`  now

[2018-09-06 06:26] BenTheElder commented on #9256
I agree that we can probably do something better than threading the entire config to every plugin that uses it, but that seems completely orthogonal to what should be a pretty small patch to give better help links.

[2018-09-06 08:15] munnerz commented on #9095
Yeah this regex, whilst it works very well (and I'm thankful for @BenTheElder writing it!) is probably my least favourite thing in our configuration 🙄

How is this sort of thing generally represented in other CI systems, if at all?

[2018-09-06 09:46] fejta commented on #9270
[code]

[2018-09-06 12:43] alisondy commented on #8090
[code]
[shellchecktestinfra.txt](https://github.com/kubernetes/test-infra/files/2357029/shellchecktestinfra.txt)
I added a little line between the vendor stuff and what's in test-infra
stuff in test-infra comes up to 234 lines so 234 fixes
if there needs to be an extra push in cleaning this up I would be interested in helping out.

[2018-09-06 14:41] spiffxp commented on #9271
http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1 back up to date

https://storage.googleapis.com/k8s-gubernator/triage/index.html still looks the same though

[2018-09-06 14:52] spiffxp commented on #9271
https://prow.k8s.io/?type=periodic&job=ci-test-infra-triage is unhappy, unclear why though

[2018-09-06 15:43] spiffxp opened #9282 "missing stable3 scalability job"
For existing releases, these are the 100 node gci-gce-scalability-1.y jobs on each release 1.y-blocking dashboard, eg:
- [ci-kubernetes-e2e-gci-gce-scalability-stable1](https://github.com/kubernetes/test-infra/blob/6797e889c57e53add6aee5cf51a925284fad6bba/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L63) for the most recently released version of kubernetes
- [ci-kubern

[2018-09-06 15:45] spiffxp opened #9283 "clarify release-blocking scalability jobs"
ref: https://github.com/kubernetes/community/pull/2623#discussion_r215084542

There's no single place we can link to as "this is the list of release blocking jobs that sig-scale owns"

Instead of saying that list is "the intersection of jobs defined in the sig-scalability dir and the jobs on the release-X-blocking dashboards" let's just put all the jobs in a single config file for now?

Possibly a

[2018-09-06 16:30] spiffxp commented on #3866
[Discussed this at sig-contribex yesterday](https://docs.google.com/document/d/1qf-02B7EOrItQgwXFxgqZ5qjW0mtfu5qkYIF1Hl4ZLI/edit), and [discussing during community meeting today](https://docs.google.com/document/d/1VQDIAB0OqiSjIHI8AWMvSdceWhnz56jNpZrLs6o7NJY/edit#).  Would like to notify kubernetes-dev afterward

[2018-09-06 16:36] spiffxp commented on #3866
PR to move k/k (to be revived) https://github.com/kubernetes/test-infra/pull/6417

[2018-09-06 16:36] munnerz opened #9284 "[pod-utils] clonerefs does not properly support cloning using a SSH key"
We are enabling Prow for one of our private repositories and have ran into a few issues when trying to do this with decorated config.

I notice that bootstrap.py already supports this, however we'd prefer to use decorated config for this particular repo to save having the gcloud dependency etc.

Notably:

1) Specifying `decoration_config` on our presubmit spec does not seem to have any effect/does

[2018-09-06 16:39] munnerz commented on #9284
/area prow/pod-utilities

[2018-09-06 19:50] #5382 closed

[2018-09-06 20:50] tpepper commented on #7602
Is this important longterm only?

Or given https://groups.google.com/d/topic/kubernetes-dev/jMPA4JzKiY4/discussion is this something we should be doing NOW critical urgent?

[2018-09-06 20:53] BenTheElder commented on #7602
My understanding was that the most recent update from sig-arch stated we'd only be dropping etcd2 support fully by 1.13, at which point we'd want to drop it from testing.

[2018-09-06 20:53] jpbetz commented on #7602
That sounds right to me as well.

[2018-09-06 20:55] tpepper commented on #7602
sgtm then

[2018-09-07 08:15] kargakis commented on #5292
/lifecycle frozen

[2018-09-07 22:13] BenTheElder opened #9305 "unpin docker in bootstrap image"
we should really not use super old docker anymore, there should be many improvements if we upgrade

[2018-09-08 01:18] #7636 closed

[2018-09-08 01:45] BenTheElder commented on #9305
xref also https://github.com/kubernetes/release/pull/622/files#r215250074

[2018-09-08 01:49] BenTheElder commented on #9305
/assign
/area images

[2018-09-08 17:34] BenTheElder commented on #8008
Maybe its first comment can have /skip?
/remove-lifecycle rotten

[2018-09-08 21:09] kargakis commented on #8008
Note that /skip works only with contexts owned by prow.

[2018-09-08 21:18] BenTheElder commented on #8008
Sure, but I don't know if we need to solve "PR is lgtm + approve but not merging and failing a non-prow presubmit while using fejta-bot", OTOH: "PR is lgtm + approve but not merging while failing a non-blocking prow presubmit while using fejta-bot" seems simple to fix.

[2018-09-09 09:12] alisondy commented on #9247
hello there just an update, need some feedback on what i need to progress forward with my pull request :) thanks in advance

[2018-09-09 13:29] alisondy commented on #5376
can I pick this up please?

[2018-09-09 20:47] paulangton opened #9311 "Spyglass does not properly handle trailing slash in URL"
/area prow
/kind bug
/cc @BenTheElder
/assign
/woof

[2018-09-10 05:09] BenTheElder commented on #5376
Sure :-)

[2018-09-10 16:33] BenTheElder commented on #8286
/remove-lifecycle stale

[2018-09-10 16:55] cblecker commented on #5376
Please do!

/remove-help

[2018-09-10 18:29] BenTheElder commented on #8331
/remove-lifecycle stale
/help

This can probably be fixed by just resolving the path supplied to an absolute path during flag processing in `main()`, it should be an easy change, and I'm happy to help.

[2018-09-10 19:44] spiffxp commented on #6289
/area prow/tide
Since we're paying attention to status contexts, is this worth address or do we close this as good enough for now?

[2018-09-10 19:45] cblecker commented on #6289
I would *still* really like this fwiw

[2018-09-10 19:45] spiffxp commented on #3866
PR that made the move: https://github.com/kubernetes/test-infra/pull/9303

[2018-09-10 19:46] spiffxp commented on #3866
@cblecker is using the `migratestatus` tool to retire the Submit Queue status with a note to look at the tide status instead, since GitHub doesn't allow us to delete existing statuses on PR's

[2018-09-10 19:47] spiffxp commented on #3866
https://submit-queue.k8s.io/ currently timing out, can we redirect this somehow

[2018-09-10 19:49] ixdy commented on #3866
@spiffxp we could probably make it redirect to tide, yes

[2018-09-10 21:27] spiffxp opened #9324 "Consider migrating tide status context to Tide"
From slack @cblecker

/area prow/tide
/kind cleanup
/sig testing

[2018-09-10 21:28] spiffxp commented on #3866
The "Submit Queue" context sorted to the top, "tide" does not, maybe we should rename the tide context: https://github.com/kubernetes/test-infra/issues/9324

[2018-09-10 21:31] spiffxp commented on #3866
Tide's processing time has gone up: http://velodrome.k8s.io/dashboard/db/monitoring?panelId=9&fullscreen&orgId=1&from=now-2d&to=now

[2018-09-10 23:39] ixdy commented on #3866
https://submit-queue.k8s.io now redirects to the Tide status page.

[2018-09-10 23:57] BenTheElder commented on #9271
/assign
currently oncall and looking into this

[2018-09-11 00:11] #9311 closed

[2018-09-11 05:47] BenTheElder commented on #7908
It eventually unstuck-ed

[2018-09-11 05:47] #7908 closed

[2018-09-11 14:00] spiffxp commented on #3866
Current status:
- kubernetes-misc-mungers is running with mungers: stale-green-ci,comment-deleter
- kubernetes-cherrypick is running with mungers: cherrypick-must-have-milestone,cherrypick-clear-after-merge,cherrypick-queue (cherrypick.k8s.io is up)

I implied we were going to turn all of those off in the k-dev e-mail, is this something we can get to today?  I'm going to survey cherrypick usage in

[2018-09-11 14:05] spiffxp opened #9335 "tide status page does not indicate milestone requirements"
We use two k/k queries that have different milestone requirements, but they look as though they're the same query in the UI

<img width="1621" alt="screen shot 2018-09-11 at 10 04 05 am" src="https://user-images.githubusercontent.com/49258/45365245-1a976f80-b5aa-11e8-9197-734ea4e2c3c8.png">

/area prow
/kind bug
/priority important-soon

[2018-09-11 14:06] spiffxp commented on #3866
Noticed tide's UI could stand to display more query info: https://github.com/kubernetes/test-infra/issues/9335

[2018-09-11 15:14] spiffxp opened #9336 "turn down misc-mungers, cherrypick-queue instances of mungegithub"
Pulled from https://github.com/kubernetes/test-infra/issues/3866#issuecomment-420284883

These should have been turned down as part of turning down the submit-queue instance, but in the interest of being careful I went and looked at how the remaining mungers are being used in the face of cherrypicks:
- kubernetes-misc-mungers is running with mungers: stale-green-ci,comment-deleter
- kubernetes-che

[2018-09-11 15:32] MaciekPytel commented on #9336
I don't find `cherrypick-candidate` useful for anything, never ask people to apply it and never apply it myself. I find cherry-picks by looking for PR to release-1.10 branch, not based on the label. I haven't noticed any difference in how automation handles PRs with and without `cherrypick-candidate`.

As to milestone: it's only needed to merge during master code freeze (they also need priority/cr

[2018-09-11 18:04] #8744 closed

[2018-09-11 18:24] krzyzacy opened #9339 "Spyglass: Add a UI to access spyglass from deck"
/area prow
/cc @paulangton @BenTheElder @AishSundar
/assign @ibzib

[2018-09-11 18:25] krzyzacy opened #9340 "Spyglass: Log highlighting"
/area prow
/cc @paulangton @BenTheElder @AishSundar
/assign @ibzib

[2018-09-11 18:53] BenTheElder commented on #3798
the pod-utils should help with this, cc @stevekuznetsov

[2018-09-11 19:26] BenTheElder opened #9343 "planter should respect $HOME/.bazelrc"
we no longer bind mount `$HOME:$HOME`, but this means the users's global bazelrc is not respected.

current workaround should be `DOCKER_EXTRA="-v $HOME:$HOME"  planter.sh ...`

/area planter
/kind bug
/assign
cc @ixdy

[2018-09-11 22:17] BenTheElder opened #9344 "adopt github issue templates"
see: https://github.com/kubernetes/org/tree/master/.github/ISSUE_TEMPLATE

we can have a lovely UI with different templates for different kinds of issues and make it easier and simpler for contributors to file bugs / feature requests etc

![image](https://user-images.githubusercontent.com/917931/45390868-bbe7eb00-b5d5-11e8-9afb-5c4d6e3337a7.png)

/kind enhancement
/area github
cc @cblecker @cjwagn

[2018-09-12 01:04] #9274 closed

[2018-09-12 01:12] stevekuznetsov commented on #3798
Is this an issue with the report template that you guys have in your config?

[2018-09-12 01:17] mbohlool commented on #9336
@MaciekPytel summarized what I think too. I just look for PRs against 1.9 branch and use `cherry-pick-approved` to approve them. Also not sure `do-not-merge/cherry-pick-not-approved` is useful. Automation should check for one of these not both:
- Merge if `cherry-pick-approval` label exists
OR
- do not merge until `do-not-merge/cherry-pick-not-approved`

This will be of course in addition to any o

[2018-09-12 01:18] BenTheElder commented on #3798
I think so, switching to decorating the upload location and then having a reporter component leverage that should fix this reliably instead of trying to keep "fixing" that horrible template.

[2018-09-12 02:35] fejta commented on #9270
/cc @krzyzacy

Next we need a controller that has access to the refresh token and uses it to update a secret with a new access token every ~hour

[2018-09-12 02:38] fejta commented on #3798
Can we please simplify the path logic to be org/repo rather than a bunch of weirdness depending on whether the org is kubernetes?

[2018-09-12 03:56] BenTheElder commented on #9335
This is a pretty easy fix. I can probably tackle it in the near future if nobody else does. Basically we should just need to update the javascript snippet that generates the rendered queries to handle that field and add something like:

**and in** one of the follow milestones:
 - milestone-v1.12

[2018-09-12 04:18] BenTheElder opened #9349 "pr dashboard: bugged label diff"
one of my k/k PRs seems to not be showing one of the required labels as missing
<img width="1318" alt="screen shot 2018-09-11 at 9 16 14 pm" src="https://user-images.githubusercontent.com/917931/45401946-fb2f2f80-b607-11e8-9540-2723cd7c2dae.png">

/kind bug
/area prow
/area prow/deck

[2018-09-12 05:35] alisondy commented on #9247
Just wanted to post an update in here about the status of this request
Just have a few more things to tidy up , then re review.
Action items from feedback on pull request
[ ] Will revert the naming of the artifactuploader, to avoid impacting downstream consumers
[ ] Will fix all TODO's as opposed to hiding lint errors

[2018-09-12 06:05] shubheksha commented on #9344
Working on this will for k/k, will pick this up for test-infra too!
/assign
I'll comb through the issues once to come up with a relevant list for this repo 😄

[2018-09-12 06:07] qhuynh96 commented on #9349
I just read the issue again I found out the offline discussion with you was something else. What is wrong with this?

[2018-09-12 06:30] BenTheElder commented on #9349
`priority/critical-urgent` is not a label on the PR, but it's not listed in the missing labels, it's only listed in the required set, AFAICT.

[2018-09-12 06:30] BenTheElder commented on #9349
https://github.com/kubernetes/kubernetes/pull/68438 is the PR

[2018-09-12 06:47] qhuynh96 commented on #9349
you meant it should not be listed in the missing labels? as I see there is `priority/critical-urgent` in the `required labels (missing)`

[2018-09-12 06:49] BenTheElder commented on #9349
I forgot we have multiple queries, the real bug is that one of those sets of labels is for a different branch or milestone and we should make that clearer.

[2018-09-12 06:50] BenTheElder commented on #9349
we should probably also expand the "query details" bit

[2018-09-12 06:52] qhuynh96 commented on #9349
Yeah, that's what I am guessing when I see there are two queries for k/k in Tide page. Tide page does not have further info neither

[2018-09-12 07:08] shubheksha commented on #9344
/remove-help

[2018-09-12 07:14] BenTheElder commented on #9349
yeah this is basically a dupe of https://github.com/kubernetes/test-infra/issues/9335 now, closing

[2018-09-12 07:14] #9349 closed

[2018-09-12 07:15] BenTheElder commented on #9335
We also need to surface this in the query info on the PR page, cc @amwat @qhuynh96
Additionally, on the PR page, for the sets of missing labels, we need some way to make it clear which one relates to the milestone or not when we have multiple queries with and without milestones.

[2018-09-12 07:28] qhuynh96 commented on #9335
/assign

[2018-09-12 16:38] akutz opened #9356 "Create a new command /remindme"
I would like to propose creating a new command called `/remindme DURATION` where `DURATION` is a pattern `\d+[hdw]`. This new command would cause Prow to add a comment to an existing issue (or PR) after the specified duration of hours, days, or weeks. For example, if there is an issue that someone wants to be reminded to look at in eight hours, they could add a comment to the issue `/remindme 8h`.

[2018-09-12 17:34] BenTheElder commented on #9239
this was done in https://github.com/kubernetes/test-infra/pull/9242

[2018-09-12 17:34] #9239 closed

[2018-09-12 17:39] BenTheElder opened #9358 "prow config: enforce presubmit ownership"
We should consider enforcing that presubmits for `orgfoo/repobar` are in `config/jobs/orgfoo/repobar/...` so we know that `OWNERS` for these jobs are manipulating them.

Currently `OWNERS` for `my-random-org/my-small-project` could theoretically add a blocking presubmit to `kubernetes/kubernetes` (accidentally due to bad copy paste, or intentionally for whatever reason). This is only prevented at

[2018-09-12 18:07] ibzib commented on #9339
It looks like Spyglass URLs need to be generated somehow.

I see two ways we could do this:
1. Client side: replace the Gubernator link's prefix with Prow's in [script.js](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/static/script.js). This would require no changes whatsoever to any Go code, but it might not be the most robust long-term solution.
2. Server side: Assuming we w

[2018-09-12 18:11] krzyzacy commented on #9339
@ibzib there's https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/static/script.js#L768 you can use..

in the long run we need to resolve https://github.com/kubernetes/test-infra/issues/8831

[2018-09-12 18:19] BenTheElder opened #9360 "plugin to block "fixes #123" in commit messages"
this causes issues to repeatedly close when people merge into their forks, we should build a plugin to add a `do-not-merge/*` label to PRs that contain these types of strings in their commit messages

per discussion with @liggitt

/sig contributor-experience
/sig testing
/area prow
/kind feature
cc @cjwagner @stevekuznetsov

This is similar to the merge commits blocker https://github.com/kubernete

[2018-09-12 18:20] guineveresaenger commented on #9360
Can we explicitly list which types of strings?

[2018-09-12 18:27] nikhita commented on #9360
+100. Let’s please make this happen!

[2018-09-12 18:29] BenTheElder commented on #9356
This could be implemented in an external plugin with it's own state management. The core of prow is not well equipped to handle this, but an external plugin can handle incoming github events and do ~ anything.

[2018-09-12 18:31] BenTheElder opened #9361 "tide status page does not render org queries properly"
the logic currently only handles org/repo queries, you get an empty bullet point for org level queries. we should fix this

/area prow/deck
/kind bug
cc @amwat
related to: https://github.com/kubernetes/test-infra/issues/9335
/priority important-soon

[2018-09-12 18:31] nikhita commented on #9360
@BenTheElder Re nick mentions: would this also mean that we would need to forbid @ mentions in the main PR body?

I think tide does not add the whole PR body in the merge commit message so this should not be needed but I'm not sure.

[2018-09-12 18:33] MaciekPytel opened #9363 "Different set of blocking jobs on stable1, 2 and 3 releases"
In particular soak-gci-gce-1.X job is blocking for stable2, but is not blocking on stable1 and stable3. As a result soak job will be blocking for just a part of each release lifecycle. We should have a consistent set of blocking jobs for all patch releases for a single branch. I think it would be more correct if we just have a specific set of blocking jobs defined for each release, rather than hav

[2018-09-12 18:36] BenTheElder commented on #3083
can confirm that this works now https://github.com/kubernetes/test-infra/pull/9350#issuecomment-420543641

[2018-09-12 18:39] krzyzacy commented on #9363
cc @spiffxp

they are *mostly* same except for, say, 1.12 doesn't have kubeadm upgrade jobs set up

we can probably bring in a presubmit to enforce this

I'll remove the soak-stable2 job from release blocking dashboard.

[2018-09-12 18:43] BenTheElder commented on #9360
We do not add the PR body anymore IIRC @cjwagner to confirm.

[2018-09-12 18:46] BenTheElder commented on #9236
FWIW, the current implementation does seem to work https://github.com/kubernetes/test-infra/pull/9350#issuecomment-420543641

[2018-09-12 18:51] guineveresaenger opened #9367 "Improve welcome message template"
Test-infra repo has the beginning of a a welcome message rollout, as worked on in [this issue](https://github.com/kubernetes/test-infra/issues/3083).

We want to make sure the template for the welcoming message is useable across k/repositories.

Some content should include:

- information on automation, specifically command strings
- useful, updated links to where to find help
- information from h

[2018-09-12 18:52] guineveresaenger commented on #9367
/sig test-infra
/sig contribex
@shubheksha
@BenTheElder
@cblecker

[2018-09-12 18:53] guineveresaenger commented on #9367
/sig contributor-experience

[2018-09-12 18:54] guineveresaenger commented on #9367
/sig testing

/cc @shubheksha
/cc @cblecker
/cc @BenTheElder

[2018-09-12 18:57] spiffxp commented on #9336
/assign @cjwagner
/close
We've turned the instances down, ref: https://github.com/kubernetes/test-infra/pull/9362

[2018-09-12 18:57] #9336 closed

[2018-09-12 19:06] spiffxp commented on #9360
We do not
[code]

[2018-09-12 22:14] paulangton commented on #8923
We no longer use this API because the complexity was deemed too much for the resultant trade-off in Spyglass page load time. Closing this.

[2018-09-12 22:14] #8923 closed

[2018-09-12 22:40] paulangton commented on #8970
Seems like a problem with the JUnit viewer, adding to tracking issue

[2018-09-12 23:05] Random-Liu opened #9373 "Containerd presubmit is broken"
Example PR: https://github.com/containerd/cri/pull/913

I saw tons of error message:
[code]

I didn't make any change to the project or test config recently.

[2018-09-12 23:09] paulangton opened #9374 "🔭 on Spyglass: A tracking issue"
This issue is meant to track the progress of the `Deck` component `Spyglass` from its current state as a functional-but-rough system to a production-ready feature in `Prow`. This issue will be considered closed when `Spyglass` is ready to replace the current job-viewing framework `Gubernator`.

Checked boxes (or their parent) have a linked PR which resolves the feature/bug. Unchecked boxes have a

[2018-09-12 23:17] krzyzacy commented on #9374
thanks @paulangton !

[2018-09-12 23:20] stevekuznetsov commented on #9374
Amazing, this deserves a
/woof

[2018-09-12 23:26] fejta commented on #9373
Replaced the service account

[2018-09-12 23:26] #9373 closed

[2018-09-12 23:56] stevekuznetsov commented on #9360
Both suggestions SGTM
/help

[2018-09-13 00:02] stevekuznetsov commented on #9358
Do we want this as third-party validation or enforced on config load?

[2018-09-13 00:02] stevekuznetsov commented on #9358
Pre- and Post-submit SGTM

[2018-09-13 00:27] BenTheElder commented on #9358
I'm not sure, initially I was thinking `.config/tests` or similar since I'm not sure everyone wants this, but it might be reasonable... @munnerz any thoughts?

[2018-09-13 00:52] BenTheElder commented on #9374
10/10 woof, 10/10 issue. would check test-infra notifications again.

[2018-09-13 01:30] BenTheElder commented on #9367
Yeah :-) we just need to figure out what to post and then we can start rolling it out to other repos 😄

[2018-09-13 01:31] BenTheElder commented on #9367
All of the above SGTM. Definitely links to contributor guides. If we could get repos to standardize on a location for a contributing doc we could even link to the repo's local doc (which can link upstream as necessary)

[2018-09-13 01:43] BenTheElder commented on #8970
yep, we just need to make sure it has max-width and line-wraps the text.

we should also look into speeding up junit processing (is this parallel already?) 🤔

[2018-09-13 01:45] tpepper opened #9378 "testgrid sig-release-master-update descriptions incorrect"
In `testgrid/config.yaml' there is a section for "name: sig-release-master-upgrade".  A number of the "description:" sections here explicitly state version numbers such as "1.10".  For example:
[code]
This description shows for example in a mouse hover help text on testgrid's web ui and is misleading.

As of  https://github.com/kubernetes/sig-release/pull/292 we have a document describing the test

[2018-09-13 01:49] BenTheElder commented on #9378
:100: the skew between test names and what they show up as on testgrid can be very confusing

I've also discovered is that testgrid can actually handle arbitrary strings for the test name, so you can write a short, human readable name in any format EG https://k8s-testgrid.appspot.com/conformance-all#GCE,%20master%20(dev) to go with the detailed description

[2018-09-13 01:52] BenTheElder commented on #8812
#3 moved to sigs.k8s.io/kind. will migrate tracking of remaining work to there generally.

[2018-09-13 01:52] #8812 closed

[2018-09-13 03:15] BenTheElder commented on #9305
upgrade (but not un-pinning) occuring in https://github.com/kubernetes/test-infra/pull/9379

[2018-09-13 04:53] krzyzacy opened #9383 "Alert for boskos pool"
we should alert when the main pool (gce, gke) volume is lower than ~25%, I'll poke around when I have time.

cc @BenTheElder
/area boskos
/assign

[2018-09-13 08:27] nikhita commented on #9356
There is an issue for this already: https://github.com/kubernetes/test-infra/issues/8587

cc @cblecker

[2018-09-13 08:30] nikhita commented on #9367
Should be possible in a few weeks when all PRs mentioned in https://github.com/kubernetes/steering/issues/28 get merged. :)

[2018-09-13 09:10] nikhita commented on #9360
I'll take a dab at this.

[2018-09-13 14:28] nikhita commented on #9360
Created a PR: https://github.com/kubernetes/test-infra/pull/9387

/remove-help

[2018-09-13 15:09] qhuynh96 commented on #9361
/assign

[2018-09-13 16:22] mohammedzee1000 opened #9388 "gubernator triage: 0 clusters of 0 failures out of X builds"
We have failure on the gubernator triage where opening the page https://storage.googleapis.com/k8s-gubernator/triage/index.html results messgae along the lines of

[code]

I started seeing this quite recently, and it basically makes a very useful tool, unavailable
As the CI Signal for 1.12, i use it quite regularly to triage test failures.

[2018-09-13 16:54] stevekuznetsov commented on #9356
Closing as dupe
/close

[2018-09-13 16:54] #9356 closed

[2018-09-13 18:57] paulangton opened #9390 "Spyglass should handle pod log not available in a more graceful way"
Current behavior: Displays "Failed to read log, is it compressed?"
Should display something like "pod log no longer available, go to main page for this job?"

/kind feature
/area prow/spyglass
/cc @ibzib

[2018-09-13 20:11] guineveresaenger commented on #9367
Okay, thanks everyone, I'll take a look at this. It might be tomorrow though, because I'm feeling sick today.

[2018-09-13 20:38] nikhita commented on #9367
Take your time and get well soon! :heart:

[2018-09-13 21:13] BenTheElder commented on #7875
/close
dind/ is deprecated, ongonig work is at [sigs.k8s.io/kind](https://sigs.k8s.io/kind)

[2018-09-13 21:13] #7875 closed

[2018-09-13 21:20] BenTheElder commented on #9367
+1 feel better! We've taken plenty of time for getting this out already with no rush, it can wait for you to get better :-)

[2018-09-13 21:22] ibzib opened #9391 "Spyglass should be runnable locally"
Currently, Spyglass is initialized in [prodOnlyMain](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/main.go#L183). To make developing UI features easier, it should be possible to run Spyglass locally (with GCS but without the Prow client).

/cc @BenTheElder @paulangton @krzyzacy

[2018-09-13 21:39] BenTheElder commented on #9391
/assign @paulangton @ibzib
/area prow/spyglass
/area prow/deck
/area prow
/kind enhancement
see also: https://github.com/kubernetes/test-infra/issues/6698

[2018-09-13 21:52] cjwagner commented on #3866
This is done!

[2018-09-13 21:52] #3866 closed

[2018-09-13 21:55] BenTheElder commented on #3866
@qhuynh96 is also working on improving the query info :-) PRs are in flight

[2018-09-13 22:14] paulangton commented on #9391
Potentially related to running spyglass as a separate deployment (which I still have not created an issue for)

[2018-09-13 22:14] krzyzacy opened #9394 "Prow starter RBAC needs to set matching namespace"
as soon as user (@AishSundar) switch to a different pod_namespace, everything :boom:

cc @stevekuznetsov @BenTheElder @paulangton @cjwagner

/area prow
/assign

[2018-09-13 22:17] krzyzacy commented on #9394
(also our current prow deployments... we actually didn't apply them :man_facepalming: )

[2018-09-13 22:39] cjwagner commented on #9394
I don't understand what the problem is. Can you explain what the user was trying to do and what happened that was unexpected?

[2018-09-13 22:43] krzyzacy commented on #9394
So Role/RoleBinding are namespaced. When user add something like `pod_namespace: foo`, controllers, like plank, will try to list pods from that namespace, and got permission denied.

ClusterRole/ClusterRoleBinding can operate on cluster scope.

(I hit it with crier already, the lister is listing all prowjobs across the cluster and got the same permission error)

[2018-09-13 23:40] krzyzacy commented on #9394
ok, then at least we need to fix the existing config (looks like the rbac we have under cluster/ is not deployed, but as soon as we migrate to cncf it will :boom: )

and also add docs to starter.yaml.

Probably it's easier just to make starter set `pod_namespace: test-pods`

[2018-09-14 00:51] BenTheElder commented on #9394
I don't think you should run prow in a cluster with other services due to arbitrary pod-specs, fwiw. And starter.yaml is meant to be a simple setup, not a production one.

[2018-09-14 00:53] BenTheElder commented on #9394
RBAC or not, I can trivially make an evil prowjob that does terrible things to your cluster and I don't care what namespace you put me in :^) If you want security, run your pods in a different cluster, period.

[2018-09-14 00:58] BenTheElder commented on #9388
triage is stuck. https://github.com/kubernetes/test-infra/issues/9271
closing as a dupe

[2018-09-14 00:58] #9388 closed

[2018-09-14 01:00] stevekuznetsov commented on #9394
How?

[2018-09-14 01:03] BenTheElder commented on #9394
New Kubernetes users blindly applying manifests to their cluster do not have PSP in place, or particularly secure CRI for one.

[2018-09-14 01:03] stevekuznetsov commented on #9394
I guess we also enforce that you don't run privileged pods. Agreed that with privileged pods and host mounts you can do whatever, but that's `sudo` access on your nodes as far as I'm concerned and it's crazy y'all do it :)

[2018-09-14 01:05] BenTheElder commented on #9394
Right, you all enforce this, but a new prow user is very, very likely not.

We enforce things run in particular clusters, on those they're just worker nodes and people can indeed run privileged code. Cluster level isolation is stronger anyhow.

[2018-09-14 01:05] stevekuznetsov commented on #9394
So I guess I could challenge you to write a ProwJob with a PodSpec that a) I would approve for merge into our config and b) would not get denied by the cluster config, since we _do_ care about security :)

[2018-09-14 01:05] BenTheElder commented on #9394
Sure, YOUR cluster config probably would deny most of these, but you're not using starter.yaml :^)

[2018-09-14 01:06] stevekuznetsov commented on #9394
In any case the fact that it's possible to have an insecure cluster does not imply that we should forget about RBAC and just give cluster-level access. The starter.yaml should be self-consistent but give the minimal privileges necessary to work.

[2018-09-14 01:06] BenTheElder commented on #9394
please don't imply that we don't. our prow prevents access to important resources through cluster-level-isolation, which is preferable.

[2018-09-14 01:06] stevekuznetsov commented on #9394
I meant the starter.yaml strawman user here!

[2018-09-14 01:07] BenTheElder commented on #9394
I think if a user wants to secure RBAC properly, they should manage their own config and they will need to consider what namespace to use within their own, secured cluster with PSP etc. But really they should run prow in one cluster and jobs in at least one more, because containers themselves have problems :-)

[2018-09-14 01:08] stevekuznetsov commented on #9394
Right but since security is hard and RBAC is opaque to many I am not super comfortable suggesting the use of Cluster RBAC where it is not necessary to new users that may not know any better to change it to fit their needs.

[2018-09-14 01:10] BenTheElder commented on #9394
That seems fair enough, but I also don't think it's a strong sticking point, because I think it's much more important to suggest that they **do not** schedule CI workloads in the cluster with their prow secrets and merge robot. It's too fickle, regularly has escapes, and we have good support for using multiple clusters. We will never do that ourselves for this reason, and we should not recommend i

[2018-09-14 01:11] BenTheElder commented on #9394
We should really have a separate guide on how to get started on a more serious deployment with all the bells and whistles :-)

[2018-09-14 01:16] stevekuznetsov commented on #9394
IDK, as mentioned before -- if we cannot use k8s in a secure multi-tenant manner, there is a huge hole in the k8s user story. I'd much rather tell people to run with PSP and not to schedule privileged pods as test workloads because even if the multi-cluster deployment limits the blast radius it's still not going to be fun when someone pwns the nodes on your build cluster.

To the point of this iss

[2018-09-14 01:38] BenTheElder commented on #9394
/assign

[2018-09-14 01:46] #9335 closed

[2018-09-14 01:46] #9361 closed

[2018-09-14 03:11] stevekuznetsov commented on #9390
Can we gracefully expose a single URL that checks for both pod logs and GCS at the same time and chooses which to serve depending on which is available? Always favoring GCS.

[2018-09-14 03:13] BenTheElder commented on #9390
That was the original intention of the build-log.txt artifact IIRC...
I definitely think we should just have an access point that looks for both and prefers not-pod-logs.

[2018-09-14 04:49] #9339 closed

[2018-09-14 09:28] shubheksha commented on #8356
Since mungegithub is being removed, is this still relevant?
cc: @cjwagner @BenTheElder

[2018-09-14 17:44] jessiezcc opened #9402 "/lgtm doesn't take effect with text appended"
Actual:
when I do "/lgtm bla bla", /lgtm doesn't actually apply.

Expected:
/lgtm should still work

[2018-09-14 17:45] BenTheElder commented on #8356
This is "fixed". No code is best code /s 🙃

[2018-09-14 17:58] dims commented on #9402
@jessiezcc if you are upto it :) we just need to adjust the regex here :
https://github.com/kubernetes/test-infra/blob/master/prow/plugins/lgtm/lgtm.go#L36-L39

[2018-09-14 18:04] ibzib opened #9403 "Spyglass UI button should be more flexible with Gubernator URLs"
Need to fix spyglass button to either always replace or allow for configuring the Gubernator URL per https://github.com/kubernetes/test-infra/pull/9368#discussion_r217603505

/cc @stevekuznetsov @BenTheElder

[2018-09-14 18:04] cjwagner commented on #8356
https://github.com/kelseyhightower/nocode

[2018-09-14 18:09] fejta commented on #9402
IMO we should keep the current pattern of requiring commands to start on a new line and be the only thing on that line.

It is perhaps confusing the first time someone runs into it but it makes for simpler code. And humans are compatively good at adjusting this way.

Also: There's an option to make a GitHub approving review be considered /approve and/or /lgtm. I'd recommend enabling that functiona

[2018-09-14 18:15] BenTheElder commented on #9402
yeah, we've kept these tight so that we're not for example, trying to parse github flavored markdown and figure out if these are in a comment block. commands work when they are

/foo

or:

/foo [argument]

And no other way. If you want to write a line with /foo and have it not work, you make the line not match with anything else on the line.

[2018-09-15 01:46] BenTheElder opened #9411 "job links are broken for sigs.k8s.io/kind"
I found an actual run here after digging through the prow (non-public) logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kind/11/pull-kind-verify/2/

The link on the PR was this instead:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_kind/11/pull-kind-verify/2/

I don't think `path_alias` works with our job reportin

[2018-09-15 01:58] BenTheElder commented on #9411
/kind bug
/area prow
/priority important-soon

[2018-09-15 01:58] stevekuznetsov commented on #9411
Lol. Are you using the flag for plank to generate the link?

[2018-09-15 02:00] BenTheElder commented on #9411
tenatively no, hmm friday night prow bump :thinking:

[2018-09-15 02:09] #9403 closed

[2018-09-15 02:12] BenTheElder opened #9413 "pr status seems to put "In Pool - Test failed/Missing Labels" when tide is retesting"
I'm pretty sure the PR didn't fail and isn't missing labels but it has "In Pool - Test failed/Missing Labels" as the status

![image](https://user-images.githubusercontent.com/917931/45581407-2907b480-b852-11e8-9598-40d3d2c3e3f7.png)

/kind bug
/area prow
/area prow/deck
cc @qhuynh96 @amwat

[2018-09-15 02:14] BenTheElder commented on #9413
it later switched to "In Pool - In Batch & Test Pending" fwiw

[2018-09-15 02:15] stevekuznetsov commented on #9413
Sounds like we could use some unit tests for that JS logic :grimace:

[2018-09-15 02:17] BenTheElder commented on #9413
@Katherine was planning to propose modernizing the JS hopefully

On Fri, Sep 14, 2018, 19:15 Steve Kuznetsov <notifications@github.com>
wrote:

[2018-09-15 02:30] stevekuznetsov commented on #9411
Hooray! My thing works!

[2018-09-15 02:55] BenTheElder opened #9415 "path_alias docs are misleading"
the prod podutils docs talk about `path_alias` as if you can configure an alternate `/go/src/...` path for the job, but really you can configure an alternate _go import path_ for the cloned repo, which will actually be in `/home/prow/go/src/${path_alias}`.

Currently the docs read as if it will be in `$path_alias`, and they mention `/go/src` when it's now `/home/prow/go/src`

/area prow
/kind docu

[2018-09-15 03:45] BenTheElder opened #9417 "Prow: lint shell file mode"
Shell scripts should be marked executable... 🤦‍♂️

[2018-09-15 20:02] BenTheElder commented on #7899
This would be really useful to avoid needing write permission for "I own all of this, let me merge now and we can go over it later", with a `to-be-reviewed` label applied we can easily check for yet-to-be-reviewed changes as well.

Strawman:
The `/tbr` command applies `lgtm` and `to-be-reviewed` if commented by the author, IFF the PR is already `approved` (IE they can approve everything and implic

[2018-09-16 18:06] BenTheElder commented on #5428
/remove-lifecycle stale

[2018-09-16 18:45] fejta opened #9427 "Delete prow/pod-utils/options package"
/cc @stevekuznetsov

There should only be one way to configure the environment. And we should pass config explicitly via flags. We should not use environment variables.

[2018-09-16 18:45] fejta commented on #9427
/area prow/pod-utills

[2018-09-16 19:05] BenTheElder commented on #9427
/area prow/pod-utilities

[2018-09-16 21:18] BenTheElder opened #9431 "define label constants only once in prow"
At least `const LgtmLabel = "lgtm"` is defined in more than one place currently, imo we should define constants once and share the definitions. I'm proposing a `labels` or `consts` package (or similar...) for prow plugins to leverage where these are all defined once.

cons:
- another package
- non-functional refactor

pros:
- de-dupe constants / guarantees they match
- sort of creates a registry f

[2018-09-16 21:18] BenTheElder commented on #9431
/cc @cjwagner @stevekuznetsov

[2018-09-16 22:50] #9215 closed

[2018-09-16 22:51] krzyzacy commented on #9215
https://github.com/kubernetes/test-infra/pull/9280

[2018-09-16 22:51] krzyzacy opened #9433 "Gerrit reporter: aggregated report & add code-review labels"
per https://github.com/kubernetes/test-infra/pull/9045#issuecomment-413266438

/area prow/gerrit
/assign

[2018-09-17 03:53] fejta opened #9440 "DecorationConfig needs to be able to configure known_hosts"
Not clear to me how pod-utils can actually use ssh to clone a repo. I am seeing everything fail along the following lines:

[code]

/area prow/pod-utils

[2018-09-17 03:56] fejta commented on #9440
Most likely this should be something like an `ssh_fingerprints` field to go along with `ssh_key_secrets`

https://github.com/kubernetes/test-infra/blob/c066e84da64cabe0af3fcb6877493c86dc767492/prow/apis/prowjobs/v1/types.go#L168-L170

and then wire this through everywhere

`ssh-keyscan -t rsa -H whatever` will generate the file, which can then be added to `~/.ssh/known_hosts`

https://superuser.co

[2018-09-17 16:41] spiffxp commented on #3866
We missed the fact that a submit-queue badge was on k/k https://github.com/kubernetes/kubernetes/pull/68642

[2018-09-17 16:45] spiffxp commented on #3866
`retest-not-required-docs-only` labeling can be turned off since tide doesn't support this concept (TODO: pr/issue ref)

[2018-09-17 18:12] stevekuznetsov commented on #8242
/remove-lifecycle stale

[2018-09-17 18:40] spiffxp opened #9451 "Add support for `-repo:foo/bar` to tide queries"
So we can set a less restrictive org-wide policy for kubernetes, but exclude kubernetes/kubernetes so that it can have a more restrictive query

We could do this via a new field, ie: specify `excludedRepos` similar to `excludedBranches`/`includedBranches`

We could try making tide do this itself, ie: scan other queries for repos, exclude them from the current query if it has an org that overlaps w

[2018-09-17 18:41] spiffxp commented on #9451
ref: https://github.com/kubernetes/test-infra/pull/9342 we didn't have a check to prevent us from merging a PR with overlapping tide queries

if we implement the explicit approach, we should consider adding such a check; if we make tide's query generator smart, we could avoid it

[2018-09-17 18:43] spiffxp commented on #9451
WDYT @BenTheElder @cjwagner @stevekuznetsov
/area tide
/sig testing
/priority important-soon
priority mostly because I want to stop having massive lists of repos in our queries

[2018-09-17 18:43] spiffxp commented on #9451
/area prow/tide

[2018-09-17 18:48] spiffxp commented on #9363
/area jobs
We absolutely should have the same jobs.  The only time I can see that differing is if we add new blocking jobs in the current release that couldn't work against older releases.

A presubmit sounds good.

I haven't done a thorough audit, but last I checked we were also missing a scalability-related stable3 job.

[2018-09-17 18:50] krzyzacy commented on #9363
/assign

I'll create a doc under sig-release to define a list of release-blocking jobs, and we can use that as a source of truth in the future.

[2018-09-17 20:05] spiffxp commented on #8731
/area prow/tide

[2018-09-17 20:35] cjwagner commented on #9451
👍 We already do this for `branch:` and `-branch:` tags.  I tried some queries that include `org` and `-repo` in the front end search UI and they behaved as expected. This would be particularly nice for setting org wide merge requirements for the kubernetes org except for the k/k repo.

Disallowing overlapping queries would limit functionality. GitHub search doesn't have an `OR` for label requireme

[2018-09-17 21:38] spiffxp commented on #3866
We needed to update tide to block merges on needs-kind and needs-sig labels for v1.12 https://github.com/kubernetes/test-infra/pull/9364

[2018-09-17 22:14] spiffxp commented on #9360
/assign @nikhita

[2018-09-17 23:34] cjwagner commented on #9431
I don't see much value to this given that not all plugins may be in use and additional relevant labels controlled by external plugins will be omitted.

Putting these constants into a separate package could make some binaries a bit smaller by avoiding importing logic from other plugins just to get the label value.

I think this would be an improvement, but it doesn't seem very important.

[2018-09-17 23:52] BenTheElder commented on #9431
Sure, this is a nit. That's why there's no priority label :-)

I do think it would be better to define these once though for correctness reasons. if it's _actually_ supposed to be the same constant, just use the same named constant.

[2018-09-17 23:57] spiffxp opened #9458 "redo the Monitoring velodrome dashboard"
http://velodrome.k8s.io/dashboard/db/monitoring?orgId=1&from=now-30d&to=now

We probably need to investigate/redo the following graphs:
- github token usage: why is k8s-merge-robot's token still seeing usage?
- submit-queue stats: we need some way to be able to compare PR velocity before/after the cutover, IMO the tide hourly merge rate is inscrutable for this... do we re-implement? use devstats?

[2018-09-17 23:58] spiffxp commented on #3866
We need to redo the dashboard that was driven by MGH stats https://github.com/kubernetes/test-infra/issues/9458

[2018-09-18 00:00] cjwagner commented on #9431
Agreed. We can do this without a separate package though. We just make the constants publicly visible. For example, see one of Steve's recent PRs: https://github.com/kubernetes/test-infra/pull/9446/files

Having all the constants in one place could help discourage redefining them though.

[2018-09-18 00:46] BenTheElder commented on #9431
In this case that seems fine since we're actually validating in relation to a plugin, but in the more general case that's a bad idea imo, it introduces unnecessary dependencies on other packages that will cause a headache later (dependency cycles anyone?). Having a package for "these are the labels" keeps these imports strictly linear from the get-go.

[2018-09-18 00:47] BenTheElder commented on #9431
/priority backlog
/help
/good-first-issue

[2018-09-18 00:48] BenTheElder commented on #9431
This is any easy change if anyone is up for it, just help us come up with a name for a labels package, and move the label definitions like `prow/plugins/lgtm.LGTMLabel` into there (which, now that I think about it will also help reduce "stuttering" as golint calls it)

[2018-09-18 02:05] spiffxp commented on #9458
FYI @cjwagner
The k8s-merge-robot token usage is the one that weirds me out the most

[2018-09-18 03:34] cjwagner commented on #9458
Aaaaa its the ghost of Mungegithub! 👻
I'll take a look there may be some other deployments that use that token. I know that velodrome uses some tokens to periodically check the remaining tokens to produce that graph. I hope it isn't using 300+ tokens per hour on its own...

I think the hourly merge rate is mainly useless because the window is too small. The SQ graph used daily merge rate which is

[2018-09-18 15:20] nikhita commented on #8193
/remove-lifecycle stale

[2018-09-18 17:40] BenTheElder commented on #9367
Cc @carolynvs https://github.com/kubernetes-incubator/service-catalog/issues/1969#event-1852941315 reminded me

[2018-09-18 18:31] carolynvs commented on #9367
Ooh, thanks for @'ing me! 💖 I would love to have control over a reply to new contributors:

* My SIG's contributing needs a lot of work, but at least it's in the right place (root of repo). For example, we don't do a few key things:
  * Link to a PR that gets it right
  * Link to our dev guide, we have a done of in-depth info on how to build and test various things.
  * Explain better what needs t

[2018-09-18 19:03] fejta opened #9462 "clonerefs needs to require a non-empty clone_uri"
Magically filling in this value with `https://github.com/{{.Org}}/{{.Repo}}.git` leaks potentially private and/or high value information to github on any misconfiguration. Therefore is an unsafe default.

Plank, Gerrit or whatever controller creates the prow job has a duty to furnish valid clone_uris. We should update plank to auto-populate this field (which will make this a noop for users/admins)

[2018-09-18 20:03] spiffxp commented on #5085
/milestone 1.13

[2018-09-18 20:46] guineveresaenger commented on #9367
thanks for your input @carolynvs!

[2018-09-18 21:06] cjwagner commented on #9462
Just to be clear, you aren't suggesting getting rid of the `https://github.com/{{.Org}}/{{.Repo}}.git` default, you just want to move it into plank so that we only apply it to jobs with `agent: kubernetes` (or an omitted `agent` field since the value defaults to `kubernetes`)?

[2018-09-18 21:34] cjwagner commented on #9458
So in addition to the token counter using the `k8s-merge-robot` token, there are also 14 fetcher deployments that are using the token. https://github.com/kubernetes/test-infra/blob/a53fae5dffc30ebf962c89641159e06b9c1056bf/velodrome/fetcher/deployment.yaml#L25

There are 16 repos configured in [`config.yaml`](https://github.com/kubernetes/test-infra/blob/master/velodrome/config.yaml), but it looks

[2018-09-18 22:40] krzyzacy opened #9469 "Podutils: $GOPATH/bin is not part of $PATH"
I can always set an env in my prowjob definition, not sure if this should be handled by podutils, since in a few jobs people build some go program and runs it.

cc @cjwagner @BenTheElder @stevekuznetsov

[2018-09-18 22:42] krzyzacy opened #9471 "Podutils: options to activate a service account for entrypoint?"
I can see it as a pretty common use case, like, I want to have a job that build & push a docker image. (it will break a few bootstrap jobs.) thoughts?

cc @cjwagner @BenTheElder @stevekuznetsov

[2018-09-18 22:43] BenTheElder commented on #9471
`runner.sh` ? /shrug

pod-utils is probably best kept focused and generic. GCP service accounts seem like a GCP thing :-)

not super strongly opinionated on this one though. if we all want to support this because we all use it, one less thing being done with bash-in-the-job is fine with me..

[2018-09-18 22:44] cjwagner commented on #9469
We set GOPATH from the pod utilities so it might make sense to add the bin to PATH as well?
That being said @sebastienvas noted that maybe the pod utilities shouldn't be setting GOPATH.

I think it is important to provide an easy way to configure a job for use with golang because of how common that case is, but we should also make sure that the pod utilities remain generic and don't become golang

[2018-09-18 22:45] krzyzacy commented on #9471
not everyone is using boostrap image though...

[2018-09-18 23:26] sebastienvas commented on #9469
My points was that the container itself or the job should be setting env. The use case would be to use [golang:1.10](https://github.com/docker-library/golang/blob/69f2d2a132565bf60afc91813801a3bdcc981526/1.10/alpine3.8/Dockerfile) out of the box which does not work today.

[2018-09-18 23:28] BenTheElder commented on #9469
the pod-uitilities also do not document that GOPATH is set afaict, you have to re-read the implementation to glean that detail..

[2018-09-18 23:47] cjwagner commented on #9469
There are a lot of pod utility configuration options and features that are still undocumented. I added https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md a while back after trying to use the pod utilities myself, but it isn't a complete.
It should document what environment variable are set and more of the configuration options like the gcs upload configuration and the vario

[2018-09-18 23:48] BenTheElder commented on #5032
Recently we've had people looking at blocking merges that would trigger this behavior cc @nikhita
/remove-lifecycle stale

[2018-09-18 23:56] spiffxp commented on #5032
/close
Closing in favor of https://github.com/kubernetes/test-infra/issues/9360 which aims to prevent this from happening

[2018-09-18 23:56] #5032 closed

[2018-09-19 00:10] spiffxp commented on #5183
/remove-lifecycle stale
/remove-area mungegithub

Unfortunately this is still a problem with tide

https://github.com/kubernetes/kubernetes/pull/68649 was merged after being tested in a batch
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce/52947/ is one of the batch jobs
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/p

[2018-09-19 00:11] spiffxp commented on #3392
/remove-lifecycle stale
/assign
I wrote a doc about figuring upgrade versions, it would be way nicer to make that doc smaller and say "just look at gubernator"

[2018-09-19 00:12] #9391 closed

[2018-09-19 00:29] fejta commented on #6084
That's how it works: stale, rotten, close

Don't think there's anything left to do here?

[2018-09-19 00:33] fejta commented on #9471
I don't think entrypoint it should be entry points responsibility. This could just as easily be solved by mounting the creds and/or gcloud state from a secret.

[2018-09-19 00:38] fejta commented on #9469
I think the job author should configure the environment this way if this behavior is desired. It should not happen automatically as this is business logic for specific use cases, like jobs that use go rather than python, bash, etc

[2018-09-19 00:40] krzyzacy commented on #9469
@fejta currently it configures $GOPATH, but not $GOPATH/bin. I think ideally we want to have something like --mode = {go, python, bash, ...}, and if --mode=go, it can configure all go stuff for entrypoint.

[2018-09-19 00:42] krzyzacy commented on #9471
I guess if people need this behavior, they can borrow our bootstrap image, which has gcloud installed.

[2018-09-19 00:43] fejta commented on #9469
Prow should not try and provide a runtime environment.

The runtime environment is the image you hand your container. This simplicity and focus is part of prows power.

It is questionable whether it should set gopath (and long term we need to remove entrypoint as this corrupts the user provided runtime environment). Instead it should not in a known location on a well known volume what it checked o

[2018-09-19 00:44] fejta commented on #9469
*note in a known location

[2018-09-19 00:44] krzyzacy commented on #9469
so user should supply $GOPATH on prowjob env, and alias cloneref to $GOPATH?

[2018-09-19 02:26] Katharine opened #9478 "Modernise Deck JavaScript"
Deck's front-end could use some cleanup! Let's work toward that.

- [x] Move the frontend to templates instead of repetition and client-side overwriting (#9465)
- [x] Move Spyglass templates from Go files to HTML files (#9488)
- [ ] Remove the pervasive JSON-P in favour of fetch/xhr
- [x] Introduce a JavaScript build process (#9543)
- [x] Move to TypeScript (#9622, #9623, #9624, #9625, #9626)
- [

[2018-09-19 02:30] qhuynh96 commented on #7623
is it resolved by #9385 ?

[2018-09-19 02:35] BenTheElder commented on #9478
+1 for typescript. Thanks for working on this 😀

[2018-09-19 02:38] Katharine opened #9479 "Spyglass views should be encapsulated"
Today's spyglass views exist in a shared space with all other spyglass views, the spyglass page itself, etc. This can lead to naming conflicts (e.g. duplicating an ID, etc.). Once spyglass views support JavaScript, this will be worse: all views share a namespace, which also includes the deck/spyglass core JavaScript. It's already unclear what accessible functions are supposed to form the "public A

[2018-09-19 02:38] qhuynh96 commented on #9413
The `In Pool - Test failed/Missing Labels` label appears when the PR falls into `pool.MissingPrs` category. Is there any reason, except test failed/ missing labels, that makes a PR falls into `pool.MissingPrs`?

[2018-09-19 03:15] BenTheElder commented on #9413
@cjwagner for tide ^

[2018-09-19 03:17] paulangton commented on #9479
Definitely agree with the naming conflict issue. I cannot claim to be experienced enough with JavaScript or web components to know the best solution to that, so I'll defer to you on how to actually resolve this 😆

[2018-09-19 03:17] BenTheElder commented on #9479
💯 We'll need to properly document the injected API as well :-)

[2018-09-19 03:18] paulangton commented on #9478
Another +1 for Typescript!

[2018-09-19 06:35] tnozicka commented on #4272
/remove-lifecycle stale
/lifecycle frozen

[2018-09-19 14:01] neolit123 commented on #6084
i do follow a lot of k8s repos and i do see the bot batch-handle multiple issues/prs at once.
but i think this is OK.

[2018-09-19 17:59] ibzib opened #9482 "Spyglass Buildlog Viewer should report errors to user"
The Spyglass Buildlog Viewer currently logs errors, but doesn't display any information to the end user (https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/viewers/buildlog/buildlog_viewer.go#L260). Error handling should be made more transparent, i.e. an error message should be displayed to the end user rather than just an empty log.

/cc @paulangton @BenTheElder

[2018-09-19 18:08] stevekuznetsov commented on #9479
Isn't siloing content using iFrames a smell for webdev?

[2018-09-19 18:14] Katharine commented on #9479
In this case, I don't think so - iframes are (AFAIK) currently the best, most broadly supported way to get mutually uncooperating content into a page without worrying about interference (which is particularly relevant here if we support showing viewers implemented outside of deck). They are also the supported way to create a security boundary between content on the page, and can be inserted seamle

[2018-09-19 18:18] #9340 closed

[2018-09-19 18:54] krzyzacy commented on #9433
Current design in mind:

`ShouldReport` will check if all presubmits associated with the same revision has finished, or else skip.

when ever it hits `Report`, it means this is the last finished prowjob, then collect all associated prowjobs and generate an aggregated report, and mark all associated prowjobs as reported, and we can do an aggregated +1 or -1 on code review label.

- we can also sani

[2018-09-19 19:17] cblecker opened #9483 "peribolos: remove pending invites if user is removed from config"
If a user is invited to an org, but then subsequently removed from the config before they accept that invite, the invite will be left in a pending state. If the user accepts at a later date, they will have access to the org until the next peribolos run that will detect them as an active member, and remove them.

We should check the invite list and compare against the config.. if there's an invite

[2018-09-19 20:36] ibzib opened #9484 "Spyglass Junit viewer should display more info on test failures"
Currently, the Spyglass Junit viewer displays very minimal information about test failures. While more information is available in the build log viewer or through the link to the XML data, I think it would be helpful to make more detail available in the Junit viewer itself. Maybe clicking each test could reveal this information. (Specifically, right now the Junit viewer only shows Error.Message, w

[2018-09-19 21:08] davidz627 opened #9485 "Add a Alpha Enabled [Serial] Test Suite for k8s/k8s"
There is a gap in test suites in that there is no alpha enabled serial test suite that gets run on k8s/k8s.

Gap uncovered here:
https://github.com/kubernetes/kubernetes/issues/68260#issuecomment-422951424

/cc @msau42

[2018-09-19 21:09] cjwagner commented on #9469
If jobs using the pod utilities need to use a specific image doesn't that kind of defeat the point of the pod utilities (we could have just rolled everything into the image like bootstrap)?
While nearly all of our jobs use the same image, other users of Prow frequently need to supply their own image. Will those job authors be able to use our image as a base image even if they require other base im

[2018-09-19 21:56] stevekuznetsov commented on #9469
What's the use-case for supporting a specific user-specified `$GOPATH`? @sebastienvas is not correct, you _can_ use the default Go images for running whatever you want. We set up our own `$GOPATH` and the `go` binary is present, so everything works.

[2018-09-19 21:58] stevekuznetsov commented on #9469
When someone is providing a container image for use as the test environment, they should be providing a set of compile-time/run-time dependencies for their tests. As they should be expecting `pod-utils` to provide _all_ of the source code into the container, it does not make sense for them to also want to provide a path for it. They are given the code, somewhere, and the working directory is appro

[2018-09-19 22:02] davidz627 commented on #9485
/cc @verult

[2018-09-19 22:07] stevekuznetsov commented on #9483
/kind bug

[2018-09-19 22:11] cjwagner commented on #9413
I think there is confusion about how Tide categorizes PRs. The category names are somewhat vestigial which doesn't help.
`pool.MissingPrs` contains PRs that are in the pool, but are missing up to date test results (i.e. the prowjobs were GCed or invalidated by another PR merging). It **never** contains PRs that fail tests or are missing labels.

In fact `Test failed` and `Missing Labels` don't mak

[2018-09-19 22:20] ibzib opened #9488 "Spyglass viewer templates should be HTML, not Go source"
1. https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/viewers/buildlog/buildlog_template.go
2. https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/viewers/junit/junit_template.go
3. https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/viewers/metadata/metadata_template.go

These .go files are actually 95% HTML, so they should probably be treated as such

[2018-09-19 22:31] cjwagner commented on #5183
Tide doesn't comment on the PR when it merges like the SQ did. That could be worth doing for batch merges.
Now we can link directly to the batch results as well thanks to: https://github.com/kubernetes/test-infra/pull/7562

[2018-09-19 22:35] cjwagner commented on #9451
/assign

[2018-09-20 00:40] cjwagner commented on #9413
SGTM, +1 for using consistent phrases across pages.

[2018-09-20 00:41] BenTheElder commented on #9485
Assigning sen for general knowledge of these and amwat / cjwagner for 1.12 test-infra. We've had some alpha suites before but they've not really been monitored. is this request for a CI job or presubmit?

[2018-09-20 00:48] msau42 commented on #9485
CI job.  We already have an alpha-enabled-default suite, but they skip serial/slow.  We have some serial tests we want to monitor in alpha env.

I think the alpha-enabled-default suite is useful for catching regressions caught by alpha features

[2018-09-20 00:49] msau42 commented on #9485
I would suggest that once they are stabilized, we add them as a monitored job just like the alpha-features suite

[2018-09-20 01:07] krzyzacy commented on #9485
feel free add one next to https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml#L1249-L1252?

[2018-09-20 01:45] BenTheElder opened #9494 "amusing spyglass metadata bug"
<img width="902" alt="screen shot 2018-09-19 at 6 44 51 pm" src="https://user-images.githubusercontent.com/917931/45790929-2cc57d80-bc3c-11e8-9222-a174b93b474e.png">
/kind bug
/shrug
/this-is-fine

/assign @ibzib @paulangton

[2018-09-20 02:05] paulangton commented on #9494
Working as intended, spyglass occasionally reports a very optimistic runtime as a morale boost to the programmer.

[2018-09-20 02:08] paulangton commented on #9494
Kidding, interesting bug though
/assign

[2018-09-20 02:17] BenTheElder commented on #9494
You should have seen the -9 exabytes / second tranfser imaging a laptop the other day 😂

This is totally benign, but probably worth fixing before we start asking people to try switching all their viewing over :-)

[2018-09-20 14:41] #9413 closed

[2018-09-20 16:39] sebastienvas commented on #9469
@stevekuznetsov  I tried using a golang image and it does not work, and the reason is that the golang image does not have an entrypoint.  Also the golang images sets GOPATH, which is overwritten by podutils. DO you have an example of it working instead of stating that I am wrong ?

[2018-09-20 16:42] tpepper commented on #9378
YES!!! 💯 having that tool tip on mouse hover actually be a paragraph describing the test could be hugely useful.

[2018-09-20 16:44] BenTheElder commented on #9469
You should set `command` when using the podutils, podutils hijacks the entrypoint anyhow...?

the golang image shouldn't be shipping with anything in $GOPATH anyhow

Having `$GOPATH/bin` in the path is handy for actually using GOPATH, but it *can* be set by the job script.

Some of our tooling leverages tempdirs or a local bin dir for this which is probably better for test scripts than installing

[2018-09-20 16:56] sebastienvas commented on #9469
I did set a command; I used a script from the checkout and it failed (I don't really remember the reason, maybe I should have inlined exec in the command). Please try it and make it work and show me a working example. I actually spent 2 days trying to get a container work with podutils (my container run as a user), basically creating a new image, so I think the goal of being able to re-use existin

[2018-09-20 17:06] stevekuznetsov commented on #9494
I think Gubernator had a similar one ... #8339

[2018-09-20 17:07] stevekuznetsov commented on #9494
(So this is backwards-compatible feature and good job not breaking users with an undocumented change @paulangton)

[2018-09-20 17:14] stevekuznetsov commented on #9469
Here's a job we have:

[code]

[2018-09-20 17:26] stevekuznetsov commented on #9469
Yeah, oops -- we didn't have a PR for that repo so I created a postsubmit ProwJob, but the result is identical:

[code]

Output:

[code]

[2018-09-20 17:27] stevekuznetsov commented on #9469
@sebastienvas you should feel empowered to reach out to me when you have issues like this -- I will admit 1000% we need better doc. Until then, just ask! If I'm not around, Cole should be able to help. There's no need for you to waste two days!

[2018-09-20 17:28] stevekuznetsov commented on #9469
Regarding the original report, I agree @BenTheElder @krzyzacy we should add `$GOPATH/bin` to `$PATH`

[2018-09-20 17:42] krzyzacy commented on #9378
hummm gahhh my [hack script](https://github.com/kubernetes/test-infra/blob/master/experiment/fix_testgrid_config.py) doesn't update comments
/shrug
/assign

[2018-09-20 17:44] krzyzacy commented on #9378
actually the name of the job is...
I'll untouch it to keep the job history during the release, and bikeshed afterwards...

[2018-09-20 17:46] sebastienvas commented on #9469
Thanks. I ll try to reproduce it. In my case I was not calling go directly but instead calling a scripts that calls go from the checkout path. (ie installing gometalinters and run them)

[2018-09-20 18:14] stevekuznetsov commented on #9469
Sure -- share your config, output and how you're iterating on a Slack message or issue on this repo and I'll try to help

[2018-09-20 18:29] ibzib opened #9499 "TODO in Spyglass metadata viewer"
The Tests field for the Spyglass metadata viewer contains a hard-coded TODO stamp. @paulangton what was intended to go here?

![screenshot from 2018-09-20 10-59-26](https://user-images.githubusercontent.com/16039734/45839078-2c72c400-bcc8-11e8-8600-33cb77948075.png)

[2018-09-20 21:31] ibzib opened #9502 "Spyglass doesn't handle Prow jobs"
1. The current deployment of Spyglass doesn't handle Prow jobs (via /view/prowjob/), which is a regression as it did work in some previous iteration. This seems to be because there's no ArtifactFetcher corresponding to Prow jobs.

2. After the /view/prowjob/ endpoint is fixed, the Spyglass link on Deck needs to be updated as well (I mistakenly hard coded it to /view/gcs/).

/cc @paulangton @krzyza

[2018-09-20 21:36] BenTheElder commented on #9469
@sebastienvas this is probablydue to running as a different user id which the golang image is not exactly supporting in this case, adding $GOPATH/bin to path would likely fix this.

[2018-09-20 21:38] BenTheElder commented on #9469
This is a common problem unrelated to the podutils, if you change your uid then lots of things are suddenly not writeable. I'm not sure which route around this we want to take, are you free to discuss at some point? (send me a note, we can drop details on the solution here after) We're probably going to have this problem ourselves more in the future.

[2018-09-20 21:43] BenTheElder commented on #9494
Hah. Now we just need to OOM deck :^)

[2018-09-20 22:20] ibzib commented on #9499
We decided to just remove it. Test information should be handled by the Junit viewer instead.

[2018-09-20 22:39] BenTheElder commented on #8405
I'm not seeing this in current bazel. Current failures are generally due to downloading things from the broader internet that are _not_ cached, or due to code that actually doesn't build / test correctly.

[2018-09-20 22:39] #8405 closed

[2018-09-20 22:48] stevekuznetsov commented on #9469
OpenShift, for security, randomizes the UID that any container runs with but ensures that GID=0, so if UNIX permissions need to be set correctly, we can work around it by setting group ownership. Since the areas of the filesystem that are being touched by the tests in `pod-utils` are mounted in, it should be fine, unless you're trying to do system-level things in an unprivileged container without

[2018-09-20 22:49] stevekuznetsov commented on #9502
/assign @ibzib

[2018-09-20 22:49] stevekuznetsov commented on #9502
We should be a little more careful, we don't have any control over when people roll out changes to `deck`.

[2018-09-20 22:58] BenTheElder commented on #9469
it sounds like this is touching things in the container filesystem, not the pod-utils mounts.

[2018-09-20 22:59] BenTheElder commented on #9469
This will happen for eg the go stdlib. It's easy to wind up touching the container FS, though it _is_ avoidable and tests should avoid it.

[2018-09-20 23:02] stevekuznetsov commented on #9469
Hmm yeah, touching things in the container FS should not be happening outside of container image builds -- no DEB or RPM installs, no system configuration, etc. How does the Go stdlib touch the container FS?

[2018-09-20 23:12] BenTheElder commented on #9469
If you try to build in a mode the stdlib wasn't compiled for, go will try to rebuild it somewhere in GOROOT which is likely in the image/container FS. That sort of things is somewhat annoying to avoid.

[2018-09-20 23:31] paulangton commented on #8970
I don't believe it is parallel, I know we can at least make it parallel over the number of Junit files, but further than that we may need to
a) find a new parsing library
b) upstream performance changes to the current one
c) make our own

[2018-09-20 23:34] fejta commented on #9469
Long term (medium term) we need to move entrypoint out of the user container and into sidecar

[2018-09-20 23:57] BenTheElder commented on #9502
We should be careful, but people also should **not** depend on spyglass yet, which is why it's still behind a "feature gate"

[2018-09-21 00:01] stevekuznetsov commented on #9502
Yep, just good habits starting early, all that jazz :)

[2018-09-21 00:02] stevekuznetsov commented on #9469
Wow, that's pretty irritating @BenTheElder

@fejta agreed, we should hammer out a design doc for it

[2018-09-21 01:02] spiffxp opened #9510 "jobs that use clonerefs don't provide SHA's in consumable .json files"
maybe there's a better issue for this, eg: https://github.com/kubernetes/test-infra/issues/7364 or https://github.com/kubernetes/test-infra/issues/3412

eg: https://k8s-testgrid.appspot.com/sig-testing-kind#ci%20build

- `started.json` and `finished.json` just have a `timestamp` field
-  `clone-records.json` at best has:
[code]
This leaves us with gubernator and testgrid not understanding what com

[2018-09-21 13:16] ant31 opened #9512 "Wait for Github-checks statuses"
Hi,

On kubespray we are now using github-checks instead of github-statuses.
Now the bot is merging PR,  even if the checks are red/failing.
Previously it was waiting that all statuses go green

As a workaround, I'm going to add 'required' statuses in the repo configuration. But it would be nice if the bot was aware of the github-checks.

Couple examples of the problem:
1. https://github.com/kuber

[2018-09-21 15:08] BenTheElder commented on #9512
The checks API is also not trivial to integrate with for existing projects, it requires migrating from oauth integration / standard webhooks to a GitHub "app" for preview access to the API.

[2018-09-21 15:11] BenTheElder commented on #9512
Also, for tests the bot can control triggering, the bot enforces that the tests have passed against the current target branch commit and the current PR commit together; and it can derive which test jobs should block merges from their config.

I think third party checks will always require config to tell the bot which to block on.

[2018-09-21 17:40] tallclair opened #9514 "Prevent squashable commits from merging"
It's considered a best practice to respond to PR feedback in new commits, so my PRs often end up with a long list of "Address feedback" commit messages. However, I sometimes come into work in the morning to find that the whole PR merged when it was LGTM'd. I do not think the onus should be on the reviewer to catch this situation.

The simplest solution might be a `do-not-merge/needs-squash` label

[2018-09-21 17:49] BenTheElder commented on #9514
For retaining LGTM on squash see: https://github.com/kubernetes/test-infra/pull/9138
There's a long running effort to enable this, we definitely want that.

I think a `/hold\nHolding so I can squash after review` comment would be functionally equivalent to the `/needs-squash` for the moment at least since both would be socially enforced merge blocking rather than automatically enforced.

Lack of s

[2018-09-21 17:58] tallclair commented on #9514
Yeah, using `/hold` was my first thought. My concern is that over-burdened reviewers might see the hold and immediately dismiss the PR as not needing attention. Also, a squash-specific label would make it more clear what needs to happen for the hold to be removed.

[2018-09-21 18:07] BenTheElder commented on #9514
makes sense, WDYT @cjwagner @stevekuznetsov ?

This also reminded me to look at #9138 which looks almost ready to go now, @cjwagner should we poke that one again?

/area prow
/kind enhancement

`:jack_o_lantern:` = :jack_o_lantern:  appears to be the closest thing to a squash :^)

[2018-09-21 18:12] tallclair commented on #9514
Oh yeah! Good call. I looked up the phylogenetic tree of the :eggplant: to see if it was related to squash (the answer is no).

[2018-09-21 18:13] guineveresaenger commented on #9367
I'm wondering, since we're moving towards a configurable welcome message in #9507 - should each repo have their own welcome template file? Currently the default message is just an inline string.

[2018-09-21 18:14] stevekuznetsov commented on #9514
Not clear why we would need that `/needs-squash` if we have sticky LGTM for squashes? The reviewer could just drop in the `/lgtm` and leave?

[2018-09-21 18:14] cblecker commented on #9367
I think we should have a default for the kubernetes project (all our active orgs), but then we can allow repos to customize it if they want something specific.

[2018-09-21 18:15] tallclair commented on #9514
The `/needs-squash` is to prevent the PR from automatically merging after `/lgtm`. Sticky LGTM is orthogonal.

[2018-09-21 18:21] guineveresaenger commented on #9367
I completely agree. This is more a question of how we organize this configurability. Where do these templates live? In each repo, top level? Or here in prow? Should the default template live in the "welcome messages" folder as its own file? :)

[2018-09-21 18:27] guineveresaenger commented on #9367
@ shubheksha there is only `prow/plugins.yaml` and it's a short one-liner AFAIK

[2018-09-21 18:38] BenTheElder commented on #9367
I like having it in prow config because then I can trivially ensure someone like @cblecker (ok so someone _exactly_ like...) can verify these before Prow starts leaving comments with them.

[2018-09-21 18:39] BenTheElder commented on #9367
Alternatively a repo like k/org would make sense, but I think something like that for prow config is a longer (nearer?) term goal.

[2018-09-21 18:47] shubheksha commented on #9367
I think having it in the prow config makes sense from a long-term perspective, having it in a central place can get chaotic

[2018-09-21 19:01] sebastienvas opened #9519 "Prow: Add a command to trigger blunderbuss"
Use Case: For PRs that have been open for a long time or that are missing reviewers, we might want to assign news reviewers based on an updated version of the owner files, or select new owners if those currently assigned haven't commented yet on the PR.

[2018-09-21 20:48] stevekuznetsov commented on #9510
We should just upload the `ProwJobSpec` (or the entire `ProwJob`, or the `Pod`) to GCS, yeah?

[2018-09-21 21:03] fejta commented on #9519
/auto-assign?

[2018-09-21 21:04] fejta commented on #9519
This is a cool idea

[2018-09-21 21:20] spiffxp commented on #9510
For gubernator/testgrid it is really helpful to know what the refs ultimately resolve to.  Consider the case of an upgrade test, the release team really needs to know what SHA we're upgrading from and to, not just which branches.

[2018-09-21 21:49] spiffxp commented on #3331
/close
We have removed mungegithub https://github.com/kubernetes/test-infra/pull/9362

[2018-09-21 21:49] #3331 closed

[2018-09-21 21:51] spiffxp commented on #5231
/milestone v1.13

[2018-09-21 21:51] spiffxp commented on #3323
/milestone v1.13

[2018-09-21 21:52] spiffxp commented on #8743
We have http://velodrome.k8s.io/dashboard/db/bigquery-metrics?panelId=12&fullscreen&orgId=1 but it is unclear to me whether that is alerted on, and if so, to where

[2018-09-21 22:35] michelle192837 commented on #3323
That is in progress still; tracking the overall work in #3324, but if that hits a roadblock will look at separating that out for use with the existing updater.

[2018-09-21 22:36] michelle192837 commented on #3324
Not much to say, but progress has been made on this and it is still chugging along.

[2018-09-21 23:43] geojaz opened #9528 "Incorrect link in k8s-ci-robot for bot-commands"
![image](https://user-images.githubusercontent.com/9451328/45910399-7db0af80-bdbd-11e8-934f-8a6f8fbfd7b2.png)

It looks like this go.k8s.io link redirects to https://prow.k8s.io/command-help.html which 404s. I think the correct link is https://prow.k8s.io/command-help

[2018-09-21 23:44] geojaz commented on #9528
/good-first-issue

[2018-09-21 23:53] #7853 closed

[2018-09-22 00:02] geojaz commented on #9528
![image](https://user-images.githubusercontent.com/9451328/45910692-1a744c80-bdc0-11e8-87f5-de0994d19241.png)

[2018-09-22 00:07] BenTheElder commented on #9528
Ah, so prow recently switched to templated pages, we should update go.k8s.io to drop the .html from the redirect.

[2018-09-22 00:09] BenTheElder commented on #9528
/assign @spiffxp
/remove-help

We're fixing the go link now, sorry about that! This just changed this afternoon, we didn't think anywhere was still linking to .html as we'd been using extensionless links for around a year now

[2018-09-22 00:13] #9528 closed

[2018-09-22 00:33] qhuynh96 commented on #9478
`style.css` contains all the styling for every page in deck which will go huge as we are adding more features to deck. DYT we should separate/ modularize the styling sheet? @Katharine @BenTheElder

[2018-09-22 00:39] BenTheElder commented on #9478
I was just discussing this earlier today @qhuynh96, we should definitely do that :-)

[2018-09-22 00:43] BenTheElder commented on #9519
cc @cjwagner

[2018-09-22 01:01] BenTheElder commented on #9336
also missed deleting splice https://github.com/kubernetes/test-infra/pull/9520

[2018-09-22 05:43] BenTheElder opened #9530 "dind: optionally enable container registry's docker hub mirror"
we should optionally enable the GCR docker-hub mirror when using dind: https://cloud.google.com/container-registry/docs/using-dockerhub-mirroring

This may help reduce image pull flakes. It may not be suitable for all jobs though.

Additionally, we should evaluate running our own mirror for less popular images that we need: https://docs.docker.com/registry/recipes/mirror/#run-a-registry-as-a-pull-

[2018-09-22 05:53] BenTheElder opened #9531 "spyglass styling seems to be broken"
I'm going to hazard this is related to the deck template changes @Katharine

current status: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel/705/
<img width="1264" alt="screen shot 2018-09-21 at 10 52 08 pm" src="https://user-images.githubusercontent.com/917931/45913893-0dbc1c80-bdf1-11e8-8ddd-2f45db4b3799.png">

/kind bug
/area prow/deck/spyglass

[2018-09-22 06:00] Katharine commented on #9531
This is… something.

/assign

[2018-09-22 06:31] #9531 closed

[2018-09-22 07:54] nikhita commented on #5843
/remove-lifecycle stale

[2018-09-22 12:05] #3944 closed

[2018-09-22 12:05] #4402 closed

[2018-09-23 18:35] #7882 closed

[2018-09-24 08:18] BenTheElder commented on #5542
/remove-lifecycle stale

hmm @ixdy something for 1.13 maybe?

[2018-09-24 17:46] cjwagner opened #9538 "Tide dashboard `Merge Requirements` section no longer expands properly."
The "Merge Requirements" section no longer expands fully and does not scroll: https://prow.k8s.io/tide
Could this have been a regression from the templating changes? I don't see any other problems like this on other Deck pages.

/kind bug
/cc @BenTheElder @Katharine

[2018-09-24 17:54] Katharine commented on #9538
This is indeed a templating regression: apparently the tide dashboard's layout breaks if the main container has the ID `#main-container` (which all other pages expect to have). Ugh.

/assign

[2018-09-24 18:29] stevekuznetsov commented on #8427
Wrap test-command or just another sidecar?

[2018-09-24 18:30] stevekuznetsov commented on #8427
I'm for a utility that does the lease for you, 100%

[2018-09-24 18:30] krzyzacy opened #9541 "Gerrit: gerrit api does not have nanosecond on timestamp"
which can cause we incorrectly skipping updates :-\

/area prow/gerrit
/assign

[2018-09-24 18:31] krzyzacy commented on #8427
I think this is specific to k8s testing, we can build it into our runner, or a pre-kubetest layer when we bikeshed kubetest and scenarios.

[2018-09-24 18:44] BenTheElder commented on #8427
I think just a test-command wrapper makes sense.

entrypoint -> gcplease -> test commnand

[2018-09-24 19:07] #9538 closed

[2018-09-24 19:37] krzyzacy opened #9545 "Writing docs for prow/gerrit and prow/crier"
/area docs
/area prow

/assign

[2018-09-24 20:51] spiffxp commented on #9271
/unassign @BenTheElder
Trying to get to the point where a run takes less than two hours.  In the meantime I've updated with results from a manual run on my laptop.

https://storage.googleapis.com/k8s-gubernator/triage/index.html

[2018-09-24 20:55] spiffxp commented on #9271
/area triage
/remove-area kettle

[2018-09-24 20:56] BenTheElder commented on #9271
Thanks @spiffxp!

[2018-09-24 21:35] #9541 closed

[2018-09-24 21:39] krzyzacy opened #9549 "Boskos: Add retries when boskos service is not reachable"
/area boskos

So all workloads hitting boskos service is failing while we are upgrading prow nodes and when boskos server is being restarted. We probably should let it retry for couple times.

/assign

[2018-09-24 21:42] BenTheElder commented on #9549
/priority important-soon

[2018-09-24 22:55] krzyzacy opened #9553 "Boskos: error message - need to classify CRD list errors from actual no resource found"
/shrug
probably too anxious to wipe out everything

still looking into why some CRDs can be mal-formatted

but, at least https://github.com/kubernetes/test-infra/blob/master/boskos/ranch/ranch.go#L107 need to be different from https://github.com/kubernetes/test-infra/blob/master/boskos/ranch/ranch.go#L123...

/area boskos
/assign
cc @sebastienvas

[2018-09-24 22:55] BenTheElder commented on #3827
/remove-lifecycle stale

[2018-09-24 23:38] BenTheElder opened #9555 "end DNS flakes"
Tests flake on connecting to external services. We should minimize how much we depend on these, but we should also deflake DNS. First step was using FQDN for in-cluster services https://github.com/kubernetes/test-infra/pull/9547

TODO:
- [x] investigate options with @MrHohn (and also read all of the k8s dns docs :-))
- [x] use fully qualified domain names for in-cluster services in the build clust

[2018-09-24 23:44] BenTheElder commented on #9555
now that we are on 1.10 for prow we can start to leverage `dnsConfig` on some pods :-)

[2018-09-24 23:53] BenTheElder commented on #9555
https://github.com/kubernetes/kubernetes/pull/68932 :eyes:

[2018-09-25 03:38] BenTheElder opened #9558 "tide dashboard bug:"
<img width="1336" alt="screen shot 2018-09-24 at 8 38 11 pm" src="https://user-images.githubusercontent.com/917931/45991437-cc6a7d80-c039-11e8-8c48-7fd7d7f8aba8.png">

[2018-09-25 03:38] BenTheElder commented on #9558
/area prow/tide
cc @cjwagner

[2018-09-25 06:55] BenTheElder commented on #9555
DNS changes in https://github.com/kubernetes/test-infra/pull/9556 look very promising so far -- no discernible network flakes. Will roll out to critical k/k jobs tomorrow.

We may need a better mechanism to set this on all jobs, perhaps extending presets ...? @cjwagner
 @krzyzacy any ideas? Basically we will want to set [`dnsConfig`](https://kubernetes.io/docs/concepts/services-networking/dns-pod-

[2018-09-25 16:45] krzyzacy commented on #9555
add to defaults, like https://github.com/kubernetes/test-infra/blob/master/prow/config/config.go#L1134-L1169?

[2018-09-25 16:55] BenTheElder commented on #9555
@krzyzacy it's probably not preferable to hard code this for _all_ prow users.

Side note: there has been _one_ flake since.

[2018-09-25 17:03] krzyzacy commented on #9555
or once we move to podutils, we can put this to our default decoration config

[2018-09-25 17:31] stevekuznetsov commented on #9558
I swear we saw this before... what was it?

[2018-09-25 17:54] BenTheElder commented on #9558
I didn't get a chance to dig in but I suspect we still have a bug somewhere as prow.k8s.io should be rather up to date

[2018-09-25 18:29] stevekuznetsov commented on #8427
@fejta wants to kill off the wrapper entirely -- how does that fit in here?

[2018-09-25 18:33] BenTheElder commented on #8427
If we kipped of `entrypoint` the binary then project leasing tool could be invoked in `ENTRYPOINT` proper in e2e testing images.

[2018-09-25 18:43] spiffxp commented on #9271
https://storage.googleapis.com/k8s-gubernator/triage/index.html now looks truncated midway through, trying to figure out why

[2018-09-25 22:59] ixdy opened #9572 "scripts and configuration checked into git should not point to production resources by default"
To prevent accidentally pushing over production resources (such as prow configuration), we should not point to the production resources by default, or at least should require confirmation before all manual pushes.

[2018-09-25 23:01] ixdy opened #9573 "Merge script to reload prow configuration from scratch and regularly test it"
We should fix up and merge https://github.com/kubernetes/test-infra/issues/8892 and probably regularly test it so that we can easily reload all prow configuration if needed.

[2018-09-25 23:03] ixdy opened #9574 "kubectl access to main Prow cluster should be restricted to those in the on-call rotation"
To further prevent accidentally pushing test changes into production, only those in the on-call rotation should have kubectl access to the Prow cluster behind https://prow.k8s.io/.

[2018-09-25 23:03] ixdy opened #9575 "Horologium should not trigger periodic jobs when they are added to the config if there is a ProwJob record for a run that occurred recently (within the job period)"

[2018-09-25 23:14] ixdy commented on #9575
(someone with more knowledge about horologium should fill in the details here)

[2018-09-25 23:56] cjwagner commented on #9558
IIRC it happens when a PR in a batch leaves the pool. Once that happens we fail to look up the `PullRequest` for the PR number and an empty `PullRequest` is used (hence the 0).

We should filter these PRs out of the pending batch that we report and omit the pending batch altogether if all PRs are filtered out. That way if everything in a batch leaves the pool we will trigger a new batch.

[2018-09-26 00:09] BenTheElder commented on #9573
/assign @krzyzacy
/assign

[2018-09-26 00:55] BenTheElder commented on #9572
imo the most useful changes would be:
- debug which cluster is being pushed to
- require manual confirmation of mutations
- consider unsetting any magical cluster options and require specifying which cluster, but also don't use the kubeconfig default..

[2018-09-26 00:57] #6350 closed

[2018-09-26 00:58] krzyzacy commented on #9575
I believe that's not the case? Do you have an example?

[2018-09-26 01:14] spiffxp commented on #9271
It was truncated because I was download an old tarball of results.  Whoops.  One last thing, going to try and get https://k8s-testgrid.appspot.com/sig-testing-misc#triage populated

[2018-09-26 01:35] krzyzacy commented on #9575
(grab from the other thread:)

an example for a job that's not retriggered during the outage: https://prow.k8s.io/?type=periodic&job=ci-cri-containerd-e2e-gce-multizone
it's just plank wasn't scheduling anything, and suddenly re-scheduled all missed periodic jobs which looks like it retriggered everything.

[2018-09-26 01:44] BenTheElder commented on #9575
thanks for investigating :-)

/close

[2018-09-26 01:44] #9575 closed

[2018-09-26 02:17] krzyzacy commented on #9573
yeah, will get to it when I find another personal hacking session :-)

[2018-09-26 03:27] krzyzacy commented on #9574
just done :-)

now only me, @BenTheElder, @ixdy, @cjwagner, @amwat, @fejta has edit access

[2018-09-26 03:27] #9574 closed

[2018-09-26 10:56] ant31 commented on #9512
The issue continue on kubespray even with after configured context to be required.
How the bot can still merge with a required failing context ?

- https://github.com/kubernetes-incubator/kubespray/pull/3378/checks
- Kubespray CI Pipeline: Required

W

[2018-09-26 12:27] deads2k opened #9582 "`/cherrypick <branch>` doesn't work in k/k"
Can we enable the cherrypick plugin for the CI infrastructure that allows `/cherrypick <branch>` to cause the bot to cherrypick the pull on top of the chosen branch, create a new pull, and assign it.  It's a really handy one to have for maintenance.

@kargakis @stevekuznetsov what's that plugin called?

/cc @dims

[2018-09-26 12:38] dims commented on #9582
i think it's this one https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/cherrypicker

[2018-09-26 12:49] kargakis commented on #9582
There is some back n forth in https://github.com/kubernetes/test-infra/pull/7393 but hasn't led to anywhere yet

[2018-09-26 12:59] dprotaso opened #9583 "Prow issue: Unable to assign issues to people in knative/pkg"
I believe I'm in this group https://github.com/orgs/knative/teams/knative-users

But prow told me the following

https://github.com/knative/pkg/issues/97#issuecomment-424705175

[2018-09-26 13:16] nikhita commented on #9582
/cc @cblecker @guineveresaenger

[2018-09-26 14:09] enj opened #9585 "Failure cause is difficult to determine on test-integration"
(sorry if this is a dupe)

On https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/69044/pull-kubernetes-integration/28676/ the failure is reported as:

[code]

After some effort sifting through I was able to determine the actual failure:

[code]

The important part being:

[code]

It would be really helpful if the failure message told me to look at `test/cmd/generic-resources.

[2018-09-26 14:19] stevekuznetsov commented on #9582
IIRC @cblecker had some reservations

[2018-09-26 16:41] BenTheElder commented on #9512
As I said above, we cannot block on checks because they are only available to "github apps" which is not how prow is built, it uses an oauth token. The checks API is not available to us. We can only block on commit "statuses" which show up at the bottom of the PR, not in the checks pane.

These were green:
<img width="742" alt="screen shot 2018-09-26 at 9 41 20 am" src="https://user-images.githubu

[2018-09-26 16:53] BenTheElder commented on #9582
Yep, I'm open to PRs for this, but there's been so much back and forth I don't think anyone here has had bandwidth to set it up.

[2018-09-26 16:58] BenTheElder commented on #9585
That indeed would be great, but this failure message comes from the code under test, which does not live here, test-infra is just displaying the output. Please file a bug against [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes).

[2018-09-26 17:04] BenTheElder commented on #9583
it's referring to the user being assigned, not the person asking to assign someone.

the problem is actually that github will not allow us to assign, prow would be happy to assign anyone :(

if you have any suggestions for clarifying that, they'd be welcome.

[2018-09-26 17:06] dprotaso commented on #9583
Understood - thanks for the clarification. Also sorry this was meant to be opened against knative/test-infra

[2018-09-26 17:06] #9583 closed

[2018-09-26 17:06] enj commented on #9585
OK, opened https://github.com/kubernetes/kubernetes/issues/69106 instead.

[2018-09-26 17:06] #9585 closed

[2018-09-26 17:10] BenTheElder commented on #9585
Thanks! let's see if you can find someone to look at that.

FWIW, I've also been mulling a "clippy" extension to the next iteration of our log viewer to try to process the output and suggest things like this because it seems easier than fixing all the test outputs sometimes 🙃

[2018-09-26 17:49] spiffxp commented on #9271
/area kettle
https://k8s-testgrid.appspot.com/sig-testing-misc#metrics-kettle

I think kettle may be failing again

[2018-09-26 17:58] spiffxp commented on #9271
Kettle's log output is confusing me, it's streaming:
[code]

Trying a delete/rollout and seeing what happens

[2018-09-26 23:50] krzyzacy commented on #9573
(will revisit https://github.com/kubernetes/test-infra/issues/8892, but the hack version is checked in)

[2018-09-26 23:50] #9573 closed

[2018-09-26 23:52] krzyzacy commented on #6840
I'll add more docs in https://github.com/kubernetes/test-infra/issues/9545, but the baseline is done.

[2018-09-26 23:52] #6840 closed

[2018-09-26 23:53] krzyzacy commented on #7769
/assign @amwat
(who is working on scalability presubmits :-) )

[2018-09-26 23:55] krzyzacy commented on #3338
next: invert trigger :-)

[2018-09-27 01:15] stevekuznetsov commented on #9582
I think #7393 has all the work -- if you want to use a separate bot, someone needs to make it, otherwise that is all?

[2018-09-27 01:27] BenTheElder commented on #9582
Yes that was the feedback, use fejta-bot or a new token. We don't need to
pile more things on k8s-ci-robot

On Wed, Sep 26, 2018, 18:15 Steve Kuznetsov <notifications@github.com>
wrote:

[2018-09-27 01:41] spiffxp commented on #9271
It fell into the same loop, but on a different bucket.  I have kicked kettle again, and it seems to be going further this time?

I looked at logs for the past few days in stackdriver.  Normal behavior is:
- `make_db.py` gets called around 1am PDT
- Starts loading buckets with `Loading builds from gs://kubernetes-jenkins/pr-logs`, which is hardcoded as the first bucket to load
- Second to last buck

[2018-09-27 01:52] spiffxp commented on #9271
Current suspicion: while trying to decide how to enumerate builds for a given job, we hit an error when trying to read the latest-build.txt file that is silently passed and kicks us to the non-sequential path:

https://github.com/kubernetes/test-infra/blob/master/kettle/make_db.py#L137-L145

This path ends up going through a `while True` that could potentially keep looping:

https://github.com/kub

[2018-09-27 02:27] stevekuznetsov commented on #9582
Having `k8s-cherrypick-bot` may be clearer, though - we have seen confusion about @fejta-bot before. Would also ensure we don't add any undue token pressure.

[2018-09-27 02:33] stevekuznetsov commented on #9512
This sounds like a reasonable extension once it's not a tech preview API and we have access to it. Agreed with Ben here.

[2018-09-27 14:18] jdunphy commented on #2364
Even simply listing the timezone next to the stamps would be helpful for context.

[2018-09-27 16:25] spiffxp opened #9593 "some testgrid dashboards missing newer test results"
eg: https://storage.googleapis.com/k8s-gubernator/triage/index.html#6028a5ad633695a738fc
- shows bump in test results starting around 2018-09-27
- Pick the latest job failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/7727#sig-api-machinery-admissionwebhook-should-be-able-to-deny-attaching-pod
- Click the recent runs link to get to: https://k8s-

[2018-09-27 16:33] cjwagner commented on #9593
This only seems to be affecting some jobs. For example, the following has up-to-date results: https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-bazel-build

[2018-09-27 16:35] michelle192837 commented on #9593
TestGrid logs don't indicate any failures to update, or failures to contact GCS (for viewing results or uploading the state). Investigating further.

[2018-09-27 16:43] michelle192837 commented on #9593
Logs have:

Invalid version in /bigstore/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1044652869598318592/finished.json(key:job-version): {u'metadata': {u'version': u'unknown', u'infra-commit': u'1ccb6478e', u'job-version': u'unknown', u'pod': u'3479ce5d-c0e9-11e8-898a-0a580a6c0606'}, u'version': u'unknown', u'timestamp': 1537900058, u'job-version': u'unknown', u'passed': False, u'result': u'

[2018-09-27 16:48] michelle192837 commented on #9593
Hmm, though I don't know that that's actually stopping any updates; the update proceeds afterwards. Going to try debugging this locally with more logging.

[2018-09-27 17:46] krzyzacy commented on #9593
Update:

During Tuesday's outage tot was obviously down for a while, so we saw snowflake IDs, and when tot was restored, the build IDs picks up but we sort everything with descending so...

@michelle192837 is doing some clean up
and, we should kill tot :upside_down_face:

[2018-09-27 18:59] michelle192837 commented on #9593
I'm going to be removing recently-generated builds that have snowflake IDs (i.e. within the last 3 days) from kubernetes-jenkins/logs; ETA for identifying and removing all of them about an hour. Once that's done, TestGrid should go update builds it missed within the last day. If you're missing results and really need to check up on them, feel free to regenerate your dashboard by bumping up 'days_o

[2018-09-27 19:40] #9484 closed

[2018-09-27 20:31] ixdy opened #9594 "Prow's `make get-cluster-credentials` is dangerous"
`make get-cluster-credentials` is convenient if you're using `make` to deploy Prow, but it also silently changes your `kubectl` context to point to production prow, which can [cause outages](https://docs.google.com/document/d/1kwqU4sCycwxfTsV774lnrtFakCg90rMXNShmjSqyEJI/view).

We should see if there's some way to make this less dangerous, or at least make it more obvious that the context has swit

[2018-09-27 20:40] spiffxp commented on #7769
/milestone v1.13

[2018-09-27 20:40] spiffxp commented on #3338
/milestone v1.13

[2018-09-27 20:42] spiffxp commented on #9271
Now suspect this is related to `tot` being down while the rest of `prow` was down due to outage on 2019-09-25 (https://docs.google.com/document/d/1kwqU4sCycwxfTsV774lnrtFakCg90rMXNShmjSqyEJI/view)

[2018-09-27 20:57] michelle192837 commented on #9593
Alright, weird builds should be cleaned up!

[2018-09-27 20:58] krzyzacy commented on #9593
thanks @michelle192837 :-)
/woof

[2018-09-27 20:59] michelle192837 commented on #9593
And having double-checked some dashboards, looks like they're properly showing recent results from today. Think we can consider this closed, and probably work on a more long-term item to prevent snowflake vs. tot IDs from doing this again.

[2018-09-27 21:02] michelle192837 commented on #9593
/close

[2018-09-27 21:03] #9593 closed

[2018-09-27 21:45] davidz627 opened #9597 "Add Janitor method to clean up leaked gcr.io images"
Something like: https://github.com/kubernetes/test-infra/blob/master/boskos/janitor/janitor.py#L329

This is necessary because some tests (https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/114) push images to the CI's project. If the tests crash and they are unable to GC themselves the images may be leaked.

/assign

[2018-09-28 00:40] krzyzacy commented on #9545
https://github.com/kubernetes/test-infra/pull/9603 for gerrit

[2018-09-28 05:06] BenTheElder commented on #9594
I think the entire kubeconfig system is potentially risky when not monitored. one option is making tools print out which context you're using and then requiring confirmation.

https://github.com/kubernetes/test-infra/blob/9085971b90d82f911f74fa6b6eda0dec81e5b139/experiment/maintenance/recreate_prow_configmaps.py#L103

[2018-09-28 05:28] BenTheElder commented on #9597
Thanks David :-)
Image GC is a long standing issue.

[2018-09-28 05:30] BenTheElder commented on #9593
Thanks Michelle! (and everyone who helped!)

Should we file a follow-up to discuss tot vs snowflake IDs?

[2018-09-28 05:36] BenTheElder commented on #9271
Is this stable now or still giving us problems?

[2018-09-28 05:40] BenTheElder commented on #9512
Sorry today has been hectic, trying to catch up on these. I don't think we want to make an extra API call for each PR, IIRC we're able to get the status currently when we ask for the PRs, I'll defer to @cjwagner and @stevekuznetsov who've more recently touched the merge robot.

I do believe the robot is an admin on the k8s orgs, which may explain what you're seeing.

We'd certainly like this to wo

[2018-09-28 05:40] krzyzacy commented on #9593
we don't have an open issue ?!
/shrug

[2018-09-28 05:42] BenTheElder commented on #9593
I don't think we do.

[2018-09-28 05:43] krzyzacy opened #9604 "Replace tot with snowflake IDs"
ref https://github.com/kubernetes/test-infra/issues/9593#issuecomment-425325474

/area prow
cc @BenTheElder @cjwagner @spiffxp

[2018-09-28 05:45] krzyzacy commented on #9597
/area boskos
/cc

[2018-09-28 05:51] BenTheElder commented on #6545
I think the label sync tooling + the command framework will make this sort of thing easier.

Are we still looking to autogenerate the notes?

[2018-09-28 07:01] nickchase commented on #6545
We are, but for 1.13 you should talk to @marpaia

[2018-09-28 14:38] marpaia commented on #6545
Hey @BenTheElder, what's the command framework? I'm happy to discuss how we can get this kind of label integrated with the release note generation process.

[2018-09-28 15:20] michelle192837 commented on #9593
Yeah, a follow-up issue for that sounds great ^^

On Thu, Sep 27, 2018, 10:42 PM Benjamin Elder <notifications@github.com>
wrote:

[2018-09-28 16:07] stevekuznetsov opened #9607 "label_sync: org read is required even when updating only one repo"
As the implementation takes `--only` values and creates a filter, then uses that on the full list of repositories in the org, `label_sync` always requires access to the entire org. That shouldn't be the case.

/kind bug
/assign @fejta

[2018-09-28 16:57] cjwagner commented on #9512
Yeah, that would not be acceptable. I'd only want to accept this change if it doesn't significantly affect token usage and doesn't add much complexity. I don't know of any other users of Tide who are using GitHub checks (the APIs are still in preview) so this would need to avoid negatively impacting performance and token usage.

[2018-09-28 18:28] grantr opened #9609 "Approve plugin uses incorrect PR state when handling a review event"
The `handleReview` method added in #8140 incorrectly uses the review author instead of the PR author in the PR state it sends to `handle`. This causes author self-approval to fail when followed by a review from another user. We can see an example in https://github.com/knative/serving/pull/1882 when @josephburnett adds https://github.com/knative/serving/pull/1882#pullrequestreview-147833118. @mattm

[2018-09-28 19:27] spiffxp commented on #9271
I think it's stable.  I'll close after verifying and open a followup issue for extending how far back we look.  I'm tempted to punt on hardening kettle if we're going to revisit tot/snowflake id's.

[2018-09-28 20:04] spiffxp opened #9615 "Allow triage to look back further than a week"
/sig testing
/area triage
/kind cleanup
/priority important-soon
/milestone v1.13

Right now triage looks back a week by virtue of querying all of `k8s-gubernator:builds.week`

How much more would it cost us in time/compute to look N weeks back in `k8s-gubernator:builds.all`? Failing that, what about a rolling 30d `k8s-gubernator:builds.month`

[2018-09-28 20:07] spiffxp commented on #7814
/milestone v1.13
/unassign @AishSundar

I would like to setup a kubernetes-sig-testing-alerts googlegroup and pilot this as a standard for all sigs.  The main question on my mind right now is whether we want to allow anyone to post, or attempt to restrict posting to keep it high-signal.

[2018-09-28 20:20] spiffxp commented on #9604
/area gubernator
Might have some impact here?

/area kettle
We would definitely want to revisit kettle's impl

/area testgrid
I don't know if this would impact testgrid at all, maybe during transition?

[2018-09-28 20:20] spiffxp commented on #9271
/close
- ref: https://github.com/kubernetes/test-infra/issues/9615 for triage lookback
- ref: https://github.com/kubernetes/test-infra/issues/9604 for tot

[2018-09-28 20:20] #9271 closed

[2018-09-28 20:33] cjwagner commented on #6545
The `release-note` plugin may be more complicated if it used the command framework because of how it interacts with the `release-note` markdown block in PR bodies. It is one of the plugins that probably are not worth migrating.

Additionally, I'm not going to have time to work on the command framework for a while so don't wait up on it.

[2018-09-28 21:25] davidz627 opened #9620 "Pre-build hook for Kubetest"
A pre-build hook for Kubetest might be useful. Maybe allowing the user to run a script or some commands before the Kubernetes binaries are built for cluster upping.

The use case is for external repos that want to build a slightly modified version of Kubernetes to run the tests with.
For example the test run in this PR repo https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/

[2018-09-28 21:56] ant31 commented on #9512
Yes, this what we re going to do.

Yes, it could be a config:
[code]

[2018-09-28 23:12] spiffxp commented on #5333
/milestone v1.13

[2018-09-28 23:13] spiffxp commented on #5073
/milestone v1.13

[2018-09-28 23:14] spiffxp commented on #8653
/assign @cjwagner
You've done a good chunk of work here, unsure what remains to be done
/milestone v1.13

[2018-09-28 23:16] spiffxp commented on #8652
/milestone clear
I decided to punt out of the next milestone because it's unclear what specifics we're now lacking here.  I leave it to @krzyzacy @cjwagner @stevekuznetsov to change my mind if there are specifics we want to work on this release cycle

[2018-09-28 23:17] spiffxp commented on #8649
/milestone v1.13
We have rolled out peribolos-driven org membership, but have yet to move on to repo ACL's and teams

[2018-09-28 23:17] spiffxp commented on #8649
/sig contributor-experience

[2018-09-28 23:28] bobcatfish opened #9628 "Prow badge is red, should be green?"
# Expected
When using the prow badge (e.g. https://prow.knative.dev/badge.svg?jobs=pull-knative-build-pipeline-unit-tests) to display the status of a PR job, it should be green when the latest run is successful, and red if it is not successful.

# Observed
In https://github.com/knative/build-pipeline we are using badges to show the Prow CI status, unfortunately these are on PR (not continuous inte

[2018-09-28 23:32] spiffxp commented on #3151
/milestone v1.13
Plan on working to at least parse out and display the skewed version in gubernator/testgrid.  While looking at that I will see if this is still needed

[2018-09-28 23:33] spiffxp commented on #3151
/remove-help

[2018-09-28 23:33] spiffxp commented on #6380
/milestone v1.13
OK for really reals this time :P

[2018-09-28 23:33] spiffxp commented on #6380
/remove-help

[2018-09-28 23:33] spiffxp commented on #8645
/milestone clear
Punted because it's unclear to me whether this is still a priority for the v1.13 release cycle

[2018-09-28 23:35] spiffxp commented on #8861
/milestone v1.13
/priority important-soon
/sig testing
~/kind purge~
/kind cleanup

[2018-09-28 23:36] spiffxp commented on #8780
/milestone v1.13
I actually have no clue here, I'm going based off of the priority label, otherwise I would have punted from the milestone.  Any updates?

[2018-09-28 23:37] spiffxp commented on #4824
/milestone v1.13
We are now at 303 open issues

[2018-09-28 23:37] spiffxp commented on #8743
/milestone v1.13

[2018-09-28 23:39] cjwagner commented on #8653
ref #9414

[2018-09-28 23:40] spiffxp commented on #3349
/milestone 2019-goals

[2018-09-28 23:40] spiffxp commented on #3324
/milestone v1.13

[2018-09-28 23:41] spiffxp commented on #3325
/milestone 2019-goals
Taking a wild guess on timing here @michelle192837 please send to v1.13 if you think this release cycle is feasible

[2018-09-28 23:41] spiffxp commented on #3330
/milestone 2019-goals

[2018-09-28 23:42] michelle192837 commented on #3325
I am def. not going to have bandwidth for the rest of this year for this. :(

[2018-09-28 23:43] spiffxp commented on #3787
/milestone 2019-goals
We'll be coming up on a year for this issue, have we made sufficient progress?

[2018-09-28 23:44] spiffxp commented on #3362
/milestone v1.13
I don't know if we'll get rid of _all_ of them but I hope to take a crack at any jobs that are using etcd-related env vars this release cycle

[2018-09-28 23:44] spiffxp commented on #9374
/woof
/milestone v1.13

[2018-09-28 23:45] spiffxp commented on #3322
/milestone 2019-goals

[2018-09-29 00:30] ixdy commented on #4824
`/milestone v2.0` :)

[2018-09-29 00:32] krzyzacy commented on #4824
probably easier to rename the issue 😂

[2018-09-29 00:36] BenTheElder commented on #4824
`s/200 open //`

[2018-09-29 00:39] BenTheElder commented on #3787
bootstrap.py sneaks extra info into artifacts now :^)

[2018-09-29 01:03] #8743 closed

[2018-09-29 01:14] BenTheElder commented on #9628
/area prow/deck
/kind bug

[2018-09-29 01:15] BenTheElder commented on #9628
/help

the code is here: https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/badge.go

something needs fixing with that computation :^)

[2018-09-29 02:43] BenTheElder commented on #9620
/kind enhancement
/area kubetest

[2018-09-29 02:58] BenTheElder commented on #7814
I think you have to allow anyone to post in order to let testgrid in actually. cc @michelle192837

[2018-09-29 03:58] krzyzacy commented on #9620
/assign

we probably want to provide pre/post build hooks, also pre/post test hooks, will consider in kubetest v2 design.

[2018-09-29 20:57] BenTheElder opened #9636 "check-cla bug"
https://kubernetes.slack.com/archives/C09QZ4DQB/p1538253303000100

check-cla is not doing anything https://github.com/kubernetes/kubernetes/pull/69135#issuecomment-425673423, the logs show that hook:
- received my comment
- listed the PR labels
- got the PR
- listed the statuses on the right commit

I see no further logs related to the PR :confused:

/kind bug
/area prow
/assign @amwat

[2018-09-29 20:57] BenTheElder commented on #9636
cc @nikhita

[2018-09-29 21:02] BenTheElder commented on #9636
Checking the API myself I don't see any status for the cla ??
https://gist.github.com/BenTheElder/e4db613e9e06d66a4857c2966a5f7870

[2018-09-29 21:08] nikhita commented on #9636
Can't see the status for CLA for any of the PRs (not just the offending PR with no cncf-cla label). :confused:

https://gist.github.com/nikhita/401b5b7b03fcbded631ff3bb446245bc

[2018-09-29 21:51] BenTheElder commented on #9636
soo... it exists in /status but not /statuses 🤦‍♂️

[2018-09-30 06:59] ghost opened #9637 "openshift issue"
Reason: buildconfigs.build.openshift.io "tridion-deployer-pipeline" is invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update.

hi am getting above issue,what is the way to resolve this issue?

[2018-09-30 07:10] BenTheElder commented on #9637
can you provide more context? this does not sound like a prow issue, this sounds like an OpenShift issue.

/assign @stevekuznetsov

[2018-09-30 16:52] stevekuznetsov commented on #9637
@ghost hello! It looks like you've got some issues with your `BuildConfig` definition. Could you please create an issue against [`openshift/origin`](https://github.com/openshift/origin/issues/new) repository or ask on StackOverflow? Unfortunately the `kubernetes/test-infra` forum is not the right place to get help with this issue.

/close

[2018-09-30 16:52] #9637 closed

[2018-09-30 22:36] stevekuznetsov commented on #9284
Err -- we found the issue with specifying `decoration_config` on a per-job level and @krzyzacy has a PR for that. As for the other issue, you need to provide a clone URI override with `clone_uri`. Cole documented this [here](https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md#how-to-configure)

[2018-09-30 22:38] stevekuznetsov commented on #3798
@fejta +10000 -- that intent is why I called that optional org/repo segment the "legacy" approach in the pod utilities, thinking we'd move to a more sane one in the future sometime...

[2018-09-30 22:40] stevekuznetsov commented on #9415
The doc is

[code]

I was hoping it would be obvious `<root-dir>/src` is not changed and this only affects the location under that -- how to improve that?

[2018-09-30 22:41] stevekuznetsov commented on #9417
/area prow
/kind feature

Are you suggesting a plugin? Or a presubmit job?

[2018-09-30 22:42] stevekuznetsov commented on #9402
Looks like there is consensus that this is WAI.

/close

[2018-09-30 22:42] #9402 closed

[2018-09-30 22:44] stevekuznetsov commented on #6464
@BenTheElder this might be a good argument for `k8s-cherrypick-robot` :)

[2018-09-30 22:44] stevekuznetsov commented on #9440
This was fixed in the linked PR

/close

[2018-09-30 22:44] #9440 closed

[2018-09-30 22:44] stevekuznetsov commented on #9427
dupe of #7811

/close

[2018-09-30 22:44] #9427 closed

[2018-09-30 22:46] stevekuznetsov commented on #9451
What's the real issue with this? Looking at the trade-off of `tide` implementation complexity versus length of a config file ... I think I might want `tide` to be simple and stupid and the config to be hard.

[2018-09-30 22:46] stevekuznetsov commented on #9488
/shrug
This was fairly contentious AFAIR

[2018-09-30 22:47] stevekuznetsov commented on #9471
Is this specifically for a Google Cloud service account? If it's for a k8s `ServiceAccount` in the k8s cluster you can just edit the `PodSpec`, right?

[2018-09-30 22:48] stevekuznetsov commented on #9471
/area prow/pod-utilities
/kind question

[2018-09-30 22:48] stevekuznetsov commented on #5264
/remove-lifecycle stale
/cc @cjwagner

[2018-09-30 22:50] stevekuznetsov commented on #9462
Also unclear to me what the ask here is -- validation for the configuration that the field is non-nil? If you've added a `kube.Refs` with the org and repo, how is it unsafe to take those public values and use them in a template string?

[2018-09-30 22:54] #6478 closed

[2018-09-30 22:54] stevekuznetsov commented on #8468
@deads2k is it possible at all to get CRD validation like you could for resources served with an aggregated api server?

[2018-09-30 23:28] BenTheElder commented on #9415
(for anyone following along see discussion in https://github.com/kubernetes/test-infra/pull/9416, this meant to refer to the markdown docs, not the go docs)

[2018-09-30 23:32] BenTheElder commented on #6464
bot, robot ... fejta-bot even _looks_ like a robot and the bio suggests it... as do the form comments it posts... if anything using it as a robot in more high profile places might make that more obvious  /shrug

I'd rather not create new accounts right now, the k8s-infra-team discussions are still figuring out how we can create & manage new creds under the CNCF. I don't want another email + github

[2018-09-30 23:34] BenTheElder commented on #9604
testgrid should be unimpacted unless we decide to go back, going back would be problematic. gubernator otoh reads latest-build.txt and would be fine.

[2018-09-30 23:36] BenTheElder commented on #9417
I'm not sure, I'd have to check how cheap it is to do via the API. A presubmit might be a little heavyweight for just "if a *.sh is created make sure the file-mode is at least exec for the user..." and currently at least plugins are easier to add to many repos.

If not, probably just another verify script that we copy all over /shrug

[2018-09-30 23:36] BenTheElder commented on #9417
/priority backlog
/help

[2018-09-30 23:38] BenTheElder opened #9638 "prow should ship github's fingerprint not skip key checking"
follow up to https://github.com/kubernetes/test-infra/issues/9440

github has a well known SSH fingerprint. we should ship it in prow as a default, and we should at least optionally enable host key checking

/area prow
/kind bug

/priority important-soon

/cc @fejta

[2018-09-30 23:44] BenTheElder commented on #9488
we have first class support for templates in deck now. we might as well toss these in there now . /shrug

[2018-09-30 23:45] BenTheElder commented on #9471
GCP. https://github.com/kubernetes/test-infra/issues/9471#issuecomment-422582783

[2018-09-30 23:46] paulangton commented on #9488
Not sure what we want to do now, but the reason before was that we didnt want to serve viewer-specific files with Deck. Keeping them in Go files allowed them to be included in the binary, and allowed viewers to be more or less self-contained.

[2018-10-01 00:09] BenTheElder commented on #9488
That probably still makes some sense for external viewers once they exist, but with viewers baked into deck it's even more :shrug:

If nothing else we should consider aligning them better with deck's own template tooling and possibly break that out into some common tooling.

[2018-10-01 07:00] aszecowka opened #9639 "Prow hook endpoints returns HTTP 200 in case of errors"
See test-infra/prow/hook/server.go method ServeHTTP function.
[code]
ValidateWebhook is documented in the following way:

[code]

But then, in ServeHTTP we have:
[code]
So in case of return we return HTTP 200, when we should return `resp` in my opinion.

Additionally, we should consider to change a little bit endpoint for health check:

test-infra/prow/cmd/hook/main.go
[code]
I followed "Getting s

[2018-10-01 17:44] spiffxp commented on #9639
/area prow
FYI @cjwagner

[2018-10-01 18:10] tallclair opened #9643 "/uncc not working in k/community"
See https://github.com/kubernetes/community/pull/2337#issuecomment-425575947

/cc @liggitt

[2018-10-01 18:13] liggitt commented on #9643
it's the new collaborative model: you can check out any time you like, but you can never leave!

[2018-10-01 18:21] cjwagner commented on #9639
That wouldn't be correct currently? See the ingress here: https://github.com/kubernetes/test-infra/blob/1bbbbd6da26ba87f79c234c64320c6d0bb765748/prow/cluster/tls-ing_ingress.yaml#L37-L40

I would be open to changing how health checks work so that we can expose hook handling errors more clearly. I'm not sure what the best way to do that is though. Can we control which path Kubernetes uses for pod h

[2018-10-01 18:21] BenTheElder commented on #9643
I think that is WAI, I don't think you can not be a reviewer once you've reviewed (per github) and to unsubscribe you have to do it yourself, there's no API for the bot to do this. uncc only works if you've not-yet reviewed AFAIK

[2018-10-01 18:27] tallclair commented on #9643
Ack, thanks.

[2018-10-01 18:27] #9643 closed

[2018-10-01 18:41] BenTheElder commented on #9639
yes, usually you add some /healthz endpoint https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-http-request

you can alternatively do a command probe or TCP.

[2018-10-01 20:48] fejta opened #9645 "Only support the bazel path for building/pushing prow images"
As decided during the 0925 sig-testing meeting ([1]), we are going to experiment with only supporting the bazel method of building/pushing prow images for the next month.

Some reasons are because:
* test-infra is an amalgamation of multiple languages (primarily golang, python, javascript, bash and sql), which is the type of repo best suited for bazel
* many binaries already require bazel (label_s

[2018-10-01 21:31] ibzib opened #9646 "Spyglass GCS artifact fetcher hangs"
There's a potentially infinite loop in Spyglass's GCS artifact fetcher: https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/gcsartifact_fetcher.go#L110

This has been triggered for me both in tests and local runs, because it's possible in cases of malformed buckets that objIter.Next() returns a non-"Done" error indefinitely.

Fix ideas:
1. Break as soon as any error is encountered
2

[2018-10-01 22:01] liggitt commented on #7602
It's been at the top of the release notes as being deprecated and scheduled for removal in 1.13 in 1.10-1.12.

https://github.com/kubernetes/kubernetes/issues/69310 is open to remove etcd2 support and cluster-lifecycle (specifically kops) is working through switching defaults to etcd3 as well.

[2018-10-01 22:15] BenTheElder commented on #7602
yeah I've been trying to watch that, @spiffxp was talking about tackling this from the test side the other day I think :^)

[2018-10-01 22:25] spiffxp opened #9647 "label_sync allows duplicate repo blocks, last block wins"
ref: https://github.com/kubernetes/test-infra/pull/9627#issuecomment-425681165

We should update label_sync validate() to yell if it encounters duplicate repo entries

/kind bug

[2018-10-01 23:51] cjwagner commented on #5264
/help

[2018-10-02 00:41] qhuynh96 commented on #9647
I will take this issue
/assign

[2018-10-02 04:02] krzyzacy opened #9652 "Grandmatriarch sometimes could not update token"
(happened again, so open an issue. we probably can add more logs to see which step it didn't go through)

/area prow/grandmatriarch
/assign @fejta

[2018-10-02 16:39] spiffxp commented on #9208
/milestone v1.13

[2018-10-02 16:59] #9483 closed

[2018-10-02 17:16] timothysc opened #9655 "Kubespray w/kubeadm - periodic master job"
Per discussion on sig-cluster-lifecycle meeting, kubespray for 1.13 plans to set kubeadm as the default tool for deploying.  As a result, we would like to add a kubespray based deployment for gce-master to be very similar to the current deployers using kubernetes-anywhere:

Requirements:
- Use an Ubuntu 18.04 host
- Default job ~= https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-

[2018-10-02 17:20] timothysc commented on #9655
/assign @ltupin

[2018-10-02 17:44] #9645 closed

[2018-10-02 19:18] BenTheElder commented on #9652
/kind bug
/area prow

[2018-10-03 01:27] spiffxp commented on #6136
/remove-lifecycle stale
/help
This isn't quite good-first-issue material but it's relatively doable without much context.  I would be happy if this was just adding `/remove-foo` for those commands that lack it, while leaving the older commands intact.  I would be happier if we dropped the older commands with some advanced notice.

[2018-10-03 01:53] spiffxp commented on #7602
Yup, just opened a first pass, I'll see if I can give it some time tomorrow

[2018-10-03 01:54] spiffxp commented on #7602
/remove-priority important-longterm
/priority important-soon
/milestone v1.13
/sig release
/sig testing

[2018-10-03 17:27] spiffxp opened #9679 "upgrade/downgrade jobs reference kubernetes v1.8 version of etcd3"
[code]

So this is a fun comment to find in the v1.13 release cycle
/milestone v1.13
/priority important-soon
/kind cleanup
/sig release
/sig cluster-lifecycle
/sig gcp

These jobs seem to be ownerless, and it's unclear to me what the solution here is, hence why I'm opening an issue.  Options:
- change TEST_ETCD_VERSION to the last 3.1.x release
- change TEST_ETCD_VERSION to whatever version was u

[2018-10-03 19:45] msau42 commented on #8047
/remove-lifecycle rotten

[2018-10-03 21:10] krzyzacy opened #9686 "Pubsub reporter: need to take in a service account"
rather than use leaked service account from vm

cc @yutongz
/area prow
/assign

[2018-10-03 22:41] jessiezcc opened #9690 "A prow cmd to move github issues between repos"
GIT doesn't have a nice way to move issues across repos, however the need of moving an issue between repos are pretty frequent.

If Prow could provide a cmd (something like /move <targetrepo>) to do the following, it'll be a great time saver.

- create a new issue in target repo
- copy issue title
- copy issue description
- add a link in new issue pointing to current issue in source repo
- close i

[2018-10-03 23:02] cjwagner commented on #9690
Would you expect conversation to continue on the old issue or the new issue? If the new issue is to be used in place of the old issue we may also want to have the plugin post a comment to the old issue, warning about the issue's deprecation.

[2018-10-03 23:02] jessiezcc opened #9693 "A prow cmd to dup a github issue"
similar to #9690 , we need a cmd to duplicate an issue, i.e. /dup

[2018-10-03 23:05] jessiezcc commented on #9690
Once moved, the conversation should happen with the new issue. Great point, a comment to old issue would make the closure clear. Updated the description to reflect that.

[2018-10-03 23:12] cjwagner opened #9694 "Prow should abort jobs stuck in 'ImagePullBackoff' after a configurable amount of time."
Alternatively (or additionally) we could alert on this as it is likely more of an infra problem than a PR related problem.

We really just need to expose some signal that a job is stuck in ImagePullBackoff. Currently the failure is very opaque and persists indefinitely if the image never becomes available.

/cc @amwat @BenTheElder @stevekuznetsov @kargakis
/area prow
/area prow/plank
/kind bug

[2018-10-03 23:17] BenTheElder commented on #9690
There are other tools to do this already, git doesn't know about issues but Git**Hub** tools can move it. EG https://github.com/google/github-issue-mover

[2018-10-03 23:18] cjwagner commented on #9694
Currently there are three ways to work around this problem if you encounter it:
- Publish an image to the appropriate location so that the ImagePull can succeed.
- Delete the ProwJob. (note that just deleting the stuck pod is insufficient)
- Update the image reference in the prowjob to point to an image that can be pulled and delete the stuck pod. A new pod will be created with the new image ref.

[2018-10-03 23:34] BenTheElder commented on #9694
Dont' we have an existing issue for this?

I definitely think we need to handle this. It would be nice if kubernetes did, but I don't think that's likely to change anytime soon as it would be a behavioral change and this issue is going to happen a lot for prow users.

Plank or sinker should handle this by making the prowjob failed or aborted in some fashion.

no, because it can still fail when you

[2018-10-03 23:36] amwat commented on #9694
We should also extend this to "ContainerCreating".
Also, IIUC in point #3 you mean edit the prowjob in cluster i.e. simply updating the job configmap doesn't help.

[2018-10-03 23:59] krzyzacy commented on #9383
cc @cjwagner - do we ever set up other alerts from velodrome? They support email or slack, I'll probably hook it up with #testing-ops channel, and do we have a slack token stored somewhere?

[2018-10-04 00:21] krzyzacy opened #9696 "Gerrit: put gerrit-related labels under prow.k8s.io"
aka `gerrit-instance` probably should be `prow.k8s.io/gerrit-instance`

but we need to process with care now :-\ maybe we can let crier handle both version of labels for a while.

/area prow/gerrit
/assign

[2018-10-04 00:41] BenTheElder opened #9697 "1.12+ should not exclude kubectl with skip regex for Conformance tests"
https://github.com/heptio/kube-conformance/commit/c4eb36ad07a5d7d7e0a47bb6535f787d589b729a

we need to:
- update master / 1.12 jobs
- update docs in test-infra, and the community developer guide, possibly elsewhere.

probably inform sig-cloud-provider members that publish continuous signal to testgrid with kubetest. cc @spiffxp @dims @Katharine

[2018-10-04 04:15] BenTheElder opened #9699 "gopherage needs a readme and a gopher"
that is all

/assign @Katharine
/assign
/kind bug
/priority critical-urgent
/area gophers

[2018-10-04 05:15] #9494 closed

[2018-10-04 05:15] #9499 closed

[2018-10-04 06:36] stevekuznetsov commented on #9694
`InitContainer` failure will fail the `Pod`, but mount failures due to missing `Secrets` or `ConfigMaps` is valid -- but why delete the ProwJob? Would it not be better to mark it as failed so it can be reported out? Otherwise users will just see missing tests and contexts stuck in pending?

[2018-10-04 06:37] stevekuznetsov commented on #9451
SGTM

[2018-10-04 06:38] stevekuznetsov commented on #7299
This is #9374
/close

[2018-10-04 06:38] #7299 closed

[2018-10-04 06:46] BenTheElder commented on #9694
It should be marked failed, talk of deleting it is about mitigations that
are manually possible today but undesireable vs prow marking it failed for
us.

On Wed, Oct 3, 2018, 23:36 Steve Kuznetsov <notifications@github.com> wrote:

[2018-10-04 06:51] kargakis commented on #9694
ContainerCreating is a normal state and you can't really tell if it is
stuck or not. Image pull errors can be considered transient in some
environments too. I think a ttl in the prowjob or a ttl-until-running seems
appropriate.

On Thu, Oct 4, 2018, 03:20 Cole Wagner <notifications@github.com> wrote:

[2018-10-04 06:53] stevekuznetsov commented on #9694
Any TTL should be generous so as to ensure the kubelet has time to pull all the images -- every part of pod utilities, the test image, etc.

[2018-10-04 06:54] BenTheElder commented on #9694
+1. We see pull flakes often enough, it needs to be some ttl-until-running.
If a prowjob takes an three hours to start (ok realistically less than
that) we should go ahead and consider it failed / aborted.

Any opinions on plank / sinker / ...?

On Wed, Oct 3, 2018, 23:51 Michalis Kargakis <notifications@github.com>
wrote:

[2018-10-04 06:56] stevekuznetsov commented on #9694
It seems appropriate to place into `plank` to ensure we have just one controller managing `ProwJob.Status`

[2018-10-04 07:00] stevekuznetsov commented on #9693
Why? Do you mean you would like a command to copy a GitHub issue into another, identical, GitHub issue against the same repo?

[2018-10-04 07:49] matthyx commented on #3827
Now that the KEP has been merged, I will start implementing it soon... stay tuned.

[2018-10-04 07:56] stevekuznetsov commented on #7940
/remove-lifecycle rotten

[2018-10-04 14:39] stevekuznetsov commented on #8241
ping @dankohn
/remove-lifecycle rotten

[2018-10-04 14:43] stevekuznetsov commented on #9652
Looks like we need a new label :)

[2018-10-04 14:43] stevekuznetsov commented on #9652
And perhaps a grandmatriarch emoji

[2018-10-04 14:44] stevekuznetsov commented on #9284
Seems like this is all fixed,

/close

[2018-10-04 14:44] #9284 closed

[2018-10-04 14:45] stevekuznetsov commented on #9471
For something specific like that for a cloud provider, agreed with @fejta and @BenTheElder it should be outside of the pod utilities.
/close

[2018-10-04 14:45] #9471 closed

[2018-10-04 14:45] stevekuznetsov commented on #9638
This is a much better approach than what I did in that `Dockerfile`, +100000

[2018-10-04 15:15] stevekuznetsov commented on #9647
I think this is a general issue with YAML unmarshalling?

[2018-10-04 15:15] stevekuznetsov commented on #9647
I found this in `plugins.yaml["plugins"]`

[2018-10-04 15:38] spiffxp commented on #9697
/area conformance

[2018-10-04 15:42] spiffxp commented on #9697
I would much rather complete "pulling the skiplist upstream", aka stripping the Conformance tag from any tests that are skipped by this regex, such that focusing on Conformance is all that's needed

[2018-10-04 15:53] #9699 closed

[2018-10-04 16:54] spiffxp commented on #9363
/milestone v1.13
FYI @cjwagner @jberkus

[2018-10-04 16:55] spiffxp commented on #9282
ref: https://github.com/kubernetes/test-infra/issues/9363

[2018-10-04 16:55] spiffxp commented on #9283
ref: https://github.com/kubernetes/test-infra/issues/9363

[2018-10-04 17:50] krzyzacy commented on #9471
I think I'm fine with activate it within our own entrypoint for now :+1:

[2018-10-04 18:17] jessiezcc commented on #9690
Great to know, @BenTheElder! My concern with adopting additional tooling is the additional setup/configuration/learning curve coming with it.

With Prow command, at least in Knative case, it will be very inherent experience and intuitive to use.

[2018-10-04 18:20] jessiezcc commented on #9693
I meant to resolve an issue as a duplicated issue. It happens there are 2(or more) separate issues tracking the similar problems/asks.

[2018-10-04 18:36] spiffxp commented on #9378
Something to consider as we look to ensure release jobs are consistent ref: https://github.com/kubernetes/test-infra/issues/9363

[2018-10-04 18:37] spiffxp commented on #9697
/area job
/sig testing
/sig gcp
/sig architecture
/priority important-soon
/kind cleanup

[2018-10-04 20:51] ibzib opened #9704 "Source in Spyglass title is missing"
Oddly enough, the source in the Spyglass title (https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/template/spyglass.html#L1) shows up in my browser tabs, but not in the body of the page itself.

![screenshot from 2018-10-04 13-45-29](https://user-images.githubusercontent.com/16039734/46502226-7daca880-c7dc-11e8-922d-f31bb2aa83bf.png)

[2018-10-04 21:15] #9704 closed

[2018-10-04 21:23] krzyzacy opened #9706 "Migrate kube-lego to cert-manager"
kube-lego is deprecated after release-1.8

/area prow/hook

[2018-10-04 21:28] krzyzacy commented on #9706
/assign
cc @cjwagner @BenTheElder @stevekuznetsov @fejta

[2018-10-04 21:41] BenTheElder opened #9707 "cats in space have gone missing"
https://github.com/kubernetes/test-infra/pull/9625#issuecomment-427178893

/kind bug
/area prow
/priority critical-urgent
/assign @fejta

[2018-10-04 21:52] BenTheElder commented on #9707
I think the error handling may just be incorrect: https://github.com/kubernetes/test-infra/pull/9626#issuecomment-427181655

[2018-10-04 23:21] spiffxp commented on #9697
ref: https://github.com/kubernetes/kubernetes/pull/67901 to drop a `[Flaky]` test

[2018-10-04 23:31] spiffxp commented on #9697
ref: https://github.com/kubernetes/kubernetes/issues/62161 the umbrella issue in k/k for Serial / Flaky / Slow... at present I am only interested in Flaky.  Serial and Slow may be necessary evils.

[2018-10-04 23:32] spiffxp commented on #9697
ref: https://github.com/kubernetes/test-infra/pull/9104 where we introduced the skiplist in the first place, this can be considered closed once we've eliminated it

[2018-10-05 00:46] spiffxp commented on #9693
A human can do this today via
[code]
What behavior would you be looking for in this case?

[2018-10-05 00:47] spiffxp commented on #9693
/reopen
/remove-triage duplicate
THANKS PROW
TIL it'll interpret commands in ``` blocks

[2018-10-05 00:47] spiffxp commented on #9693
so yeah, uh, welcome to the live demo of what those commands would do

[2018-10-05 16:48] #9558 closed

[2018-10-05 17:07] #6353 closed

[2018-10-05 18:38] mortent opened #9713 "Skipped tests show up as failed on test grid"
On the test grid, some tests only show up as a failed test on runs where a large number of other tests also fail. An example here: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial with the test `[sig-apps] DaemonRestart [Disruptive] Controller Manager should not create/delete replicas across restart`.

Seems like this happens because tests that should be skipped fail in

[2018-10-05 18:44] BenTheElder commented on #9713
BeforeEach reporting is an unfortunate ginkgo behavior, it only reports on failure. The best answer right now is to configure testgrid to exclude beforeeach if you'd prefer to ignore it.

https://github.com/kubernetes/test-infra/tree/master/testgrid#filtering-tests

[2018-10-05 21:08] spiffxp commented on #9363
The plan is to accomplish this before 2018-10-23 aka Enhancements Freeze of v1.13 release cycle:
- get release-1.y-blocking reconciled using release-1.12-blocking as the "authoritative" source
- get sig-release-master-blocking reconciled agains release-1.12-blocking
- reconcile means: same set of jobs, same naming scheme for testgrid tabs

[2018-10-05 22:20] BenTheElder opened #9719 "kubekins-e2e jobs are not forked for 1.12"
the image exists, but no jobs are using it until https://github.com/kubernetes/test-infra/pull/9718

/kind bug
/assign @cjwagner @amwat

[2018-10-05 22:21] BenTheElder commented on #9719
/priority critical-urgent
we're bumping go in the master, we need to fork these.

[2018-10-05 23:30] spiffxp commented on #7364
ref: https://github.com/kubernetes/test-infra/issues/9510

[2018-10-05 23:33] spiffxp commented on #7152
@sipian any update on this?

[2018-10-05 23:34] spiffxp commented on #8639
/unshrug
/good-first-issue

[2018-10-05 23:36] spiffxp commented on #5385
/milestone v1.13
I'm fine if we address this by documenting, I suspect flexible range is tougher

[2018-10-05 23:48] cjwagner commented on #8639
It is unclear to me if this is a good first issue if the problem is that GitHub is not returning an error when it should be. Do we have a clear solution to provide a new contributor here?

[2018-10-05 23:52] spiffxp commented on #9121
/milestone v1.13
We should be able to do this now, follow the model used by peribolos

[2018-10-06 00:25] BenTheElder opened #9724 "fast-fail batches in tide"
currently the batch results look like:
![image](https://user-images.githubusercontent.com/917931/46565372-7d3b0d00-c8c3-11e8-8592-92b175392f75.png)
yet the tide dashboard is:
![image](https://user-images.githubusercontent.com/917931/46565377-89bf6580-c8c3-11e8-9ae4-93ec3afcca76.png)

why are we not merging 69386 now that the batch has failed a required test? are we waiting for all of the jobs in t

[2018-10-06 00:33] BenTheElder commented on #9724
i'll have to dig into the logic but AFAICT the correct behavior here should be:

1) test a batch when possible
2) when any required test fails in a batch, quit considering that batch
3) if any PR has serially passed at this point, merge one
4) start a new batch after merging any serial PRs
5) repeat 1)

[2018-10-06 01:08] cjwagner commented on #9724
Good point. This shouldn't be hard to fix.

[2018-10-06 01:47] jberkus commented on #9363
I've done some comparison of master-blocking and 1.12-blocking.  Here's where they don't match.  Note that I'm using the actual job names below instead of the label you see in testgrid, because it's hard to figure out which job it is from the label:

**Tests that are in 1.12-blocking with no equivalent in master-blocking**:

* ci-kubernetes-e2e-kubeadm-gce-1-11-on-1-12
* periodic-kubernetes-bazel-

[2018-10-06 05:57] stevekuznetsov commented on #9121
Unfortunately the test grid approach isn't useful for us and we have the same problem! Maybe we could have a Prometheus alert if we publish per-job failure metrics?

[2018-10-06 10:35] sipian commented on #7152
@spiffxp
Sorry. I got busy with some other things.
If it is alright, I'll try to finish this up in the coming few weeks.

[2018-10-06 17:55] krzyzacy commented on #7152
we already have this with podutils?

[2018-10-06 17:56] krzyzacy commented on #7152
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml#L146-L147 works after some fix.

/close

[2018-10-07 00:17] #7986 closed

[2018-10-07 09:09] stevekuznetsov commented on #5175
This would be nice, especially if we could get it automated in `verify-owners` or similar, so users get better feedback on why their OWNERS isn't working.

/remove-lifecycle rotten

[2018-10-07 09:10] stevekuznetsov commented on #9707
:gasp:

[2018-10-08 10:52] riverzhang commented on #9655
That's awesome!!!   I also want to join. @timothysc

[2018-10-08 20:43] cjwagner commented on #7152
@krzyzacy That timeout is implemented at the wrapper process level whereas the timeout suggested by this issue would occur at the ProwJob level.  A PJ level timeout could help us abort jobs that fail to schedule or start the wrapper process for whatever reason. The pod utilities' timeout would not catch these issues.

[2018-10-08 20:43] spiffxp commented on #7602
/close
There are no more jobs that use etcd2

[2018-10-08 20:43] #7602 closed

[2018-10-08 20:54] krzyzacy commented on #7152
I think the original issue was pod can be stuck forever, is the podutil timeout wraps entrypoint? Maybe we should utilize that for aborting fail to start jobs, since I feel like add another timeout will be confusing.

[2018-10-08 21:15] cjwagner commented on #7152
I thought that we had intended to have multiple levels of timeouts, but I can't find the issue where that was discussed. (Maybe @stevekuznetsov knows or remembers discussing?)
The pod utils could share a timeout with the ProwJob so long as the pod utils retain the configuration for the grace period, but if we did that we would want to move the timeout field to become a first class ProwJob field ra

[2018-10-09 00:33] #9545 closed

[2018-10-09 00:45] #9724 closed

[2018-10-09 09:36] ltupin commented on #9655
@timothysc It should be better to assign this issue to @riverzhang as he is a k8s member.
@riverzhang I wan to help on this so dont hesitate to share with me here or on slack ;-)

[2018-10-09 12:35] stevekuznetsov commented on #7152
If `plank` or `sinker` or whatever does a `DELETE` on the `Pod`, the default behavior of the kubelet is to send graceful deletion if the client doesn't ask for force delete, so in a way, it will work anyway. But I agree that we need to have one a all levels -- one for ginkgo, one for the entrypoint, one for PJ -- all orchestrated. I can't remember where we had that conversation, may have been in a

[2018-10-09 14:03] stevekuznetsov commented on #8241
Can it be rolled out to a specific repository, not an org? We frequently beta-test changes in `test-infra`

/cc @fejta

[2018-10-09 17:11] cjwagner opened #9743 "pull-test-infra-verify-govet is not catching all problems"
`pull-test-infra-verify-govet` doesn't appear to be catching all the problems it should be. Currently, the [Testgrid dashboard tab](https://k8s-testgrid.appspot.com/presubmits-test-infra#verify-govet) is green, but `verify-govet.sh` does not pass on the master branch when run locally:
[code]

@stevekuznetsov noticed [here](https://github.com/kubernetes/test-infra/pull/9644#discussion_r223574964) t

[2018-10-09 17:12] BenTheElder commented on #9743
Different go versions perhaps?

On Tue, Oct 9, 2018, 10:11 Cole Wagner <notifications@github.com> wrote:

[2018-10-09 17:19] cjwagner commented on #9743
I'm not sure how that would explain the omission of the `composite literal uses unkeyed fields` errors, but I guess that could be it?

[2018-10-09 17:22] krzyzacy commented on #7152
agree that each part will need its own timeout, maybe prow should by default populate these timeouts base off the podutil timeouts in some manner, rather let user set four different timeouts in the config?

[2018-10-09 18:38] #9743 closed

[2018-10-09 20:57] krzyzacy commented on #9652
/shrug
/assign
bit us again... looking into it

[2018-10-09 20:57] krzyzacy commented on #9652
cc @AishSundar

[2018-10-09 21:31] cjwagner commented on #8648
/remove-lifecycle stale
/help

[2018-10-09 23:28] BenTheElder opened #9749 "govet k8s.io/test-infra/testgrid"
https://github.com/kubernetes/test-infra/pull/9747#discussion_r223889561

we can't run `govet` because there's a nonexistent (generated) package imported by the code.

[2018-10-09 23:32] krzyzacy commented on #9749
/assign @fejta @michelle192837
we potentially can put a placeholder package file for go vet... but sounds unnecessary?
/shrug

[2018-10-09 23:37] BenTheElder commented on #9749
probably what we need to do is run vet over the codebase w/ generated code included. #9747 was already huge though given how old our fmt / vet go had gotten. it should not lag again in the future after the image switch

[2018-10-10 09:04] nikhita commented on #8286
I'd like to help with this!

Does new repo here mean a repo in a kubernetes-related org (eg kubernetes-sigs) or does it mean my-personal-non-kubernetes-related-org?

[2018-10-10 10:28] stevekuznetsov opened #9752 "branch protector: org-level policy fails when there are archived repos"
When an archived repo exists, no edits can happen to it's config, so no org-level policy can exist in the branch protector or the run will fail to update the archived repo config.

/area prow/branchprotector
/kind bug
/assign @fejta

[2018-10-10 13:32] matthyx opened #9754 "Implement KEP 028: New label for trusted PR identification"
Alright, I have started implementing stuff, and I am not sure where to discuss that, so here is an issue for it.

[2018-10-10 13:32] matthyx commented on #9754
/assign

[2018-10-10 13:53] matthyx commented on #3827
KEP implementation tracked in #9754

[2018-10-10 14:31] stevekuznetsov opened #9757 "prow config: where possible, all config should behave like branchprotector for overrides"
The `branchprotector` override mechanism is amazing and we should use it in every config where people can configure orgs or repos, etc, to allow for more specific overrides. More specifically, plugins like `approve` have a flat list of configs and don't have any override logic, but users expect it and commit configuration that does nothing.

/area prow
/kind bug
/cc @fejta @cjwagner @BenTheElder

[2018-10-10 16:36] cjwagner commented on #9754
KEP: https://github.com/matthyx/community/blob/master/keps/sig-testing/0028-20180625-new-label-for-trusted-pr-identification.md

[2018-10-10 16:50] cjwagner commented on #9757
A common library that provides helper functions for handling these types of configs could be a nice way to standardize how repo specific configuration is specified. A plugin could just provide a leaf config struct and the complete config struct with global, org, repo, and branch specific levels would be provided by the library.

[2018-10-10 17:00] cjwagner commented on #8286
Eventually we'll probably want both, but a general version is more important.

Just so we don't duplicate work. I have Tide documentation rooted [here](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/tide#tide) and am working on some other Prow docs in https://github.com/kubernetes/test-infra/pull/9414.

[2018-10-10 23:57] #9451 closed

[2018-10-11 07:05] stevekuznetsov commented on #8339
/shrug

[2018-10-11 07:20] stevekuznetsov opened #9764 "prow: tide: config validation error messages not useful"
I don't have enough information from this error to do anything with it

[code]

/kind bug
/area prow/tide
/assign @cjwagner

[2018-10-11 07:41] stevekuznetsov commented on #7947
/unassign
/assign @BenTheElder

[2018-10-11 09:36] stevekuznetsov commented on #1986
We done did it.

/close

[2018-10-11 09:36] #1986 closed

[2018-10-11 10:41] nikhita commented on #9707
/meow space

[2018-10-11 10:41] nikhita commented on #9707
Looks like the cats are back :)

[2018-10-11 10:43] stevekuznetsov opened #9767 "branchprotector: disabling a child is very hard"
When I want to disable everything for a repo, but I have org config, or for a branch when I have repo config, I have to manually override all parent configuration so that there is no policy configured, and I can `protect: false`. The UX here could be a lot easier.

/kind bug
/area prow/branchprotector
/assign @fejta
/cc @cjwagner

[2018-10-11 21:45] ibzib opened #9772 "Need to remove viewer-specific functions from spyglass.ts"
I shouldn't have put them in there in the first place.

/assign @ibzib
/cc @paulangton @Katharine

[2018-10-11 22:05] cjwagner commented on #9764
It is indicating that the `repos` field of the first Tide query contains a duplicate entry. Is that part clear?
We definitely should include the values that are duplicated in the error message though.

[2018-10-12 01:40] BenTheElder commented on #9707
yeah they show up but the error handling is probably still wrong because that CATegory definitely exists

[2018-10-12 06:50] stevekuznetsov commented on #9764
Yeah, the first one is clear but when that list is 100 repos long ... not super useful :)

[2018-10-12 11:37] matthyx opened #9776 "Rename trigger files"
- ic.go to issue-comment.go
- pr.go to pull-request.go
/cc @fejta
/assign

[2018-10-12 12:29] stevekuznetsov opened #9778 "branchprotector: collapse policies or use anchoring regex"
The branch protection config on GitHub's end is now regex-driven, so we might need to be using anchoring regex to ensure that you can't have a branch that's a prefix of another branch name affect both branches with one config. We could also collapse policies to apply to multiple branches if we wanted to.

/area prow/branchprotector
/assign @fejta

[2018-10-12 12:40] stevekuznetsov opened #9779 "branchprotector: doesn't seem possible to remove a policy"
When I had a policy like

[code]

This set the "include administrators" rule ...

Then, whether I use a config like

[code]

or just

[code]

The output of the update (with my fix from #9777 ) looks like:

[code]

As it seems like `"enforce_admins":null` is not `"enforce_admins":false` ... I can't get the admin enforcement to be turned off.

/area prow/branchprotector
/kind bug
/assign @fejta

[2018-10-12 12:50] stevekuznetsov commented on #9779
I see now in the UI when I make the change:

Maybe I'm just not patient enough...

[2018-10-12 18:22] krzyzacy opened #9783 "Make k-s job generator handle decorated jobs"
/shrug
cc @BenTheElder @cjwagner

[2018-10-12 18:35] BenTheElder commented on #9783
It does handle them?

[2018-10-12 18:38] krzyzacy commented on #9783
we need to change the default gcs stuff... or we can supply a different default decoration config?

[2018-10-12 18:41] BenTheElder commented on #9783
I see... That should be straightforward to handle. We should discuss this a bit out of band though, I have some other thoughts about the entire setup..

[2018-10-12 20:32] taragu commented on #9431
@BenTheElder i'd like to work on this /assign

[2018-10-12 20:40] mortent commented on #9713
Thanks. I'll look into the exclude functionality.

/close

[2018-10-12 20:40] #9713 closed

[2018-10-12 20:46] cjwagner opened #9786 "Add an option to make the `lgtm` label sticky for PRs authored by repo collaborators."
Currently the `lgtm` label is removed when a PR's commits change unless the `store_tree_hash` feature is enabled and the tree hash is unchanged. Istio has expressed that the removal and reapplication of the `lgtm` label is producing excessive spam and that they would prefer for the `lgtm` label to remain on PRs when they are updated, at least for PRs authored by repo collaborators.

This feature w

[2018-10-12 20:48] cjwagner commented on #9786
cc @hklai

[2018-10-12 21:14] cjwagner commented on #9767
Can you give an example? I don't see why you couldn't just specify `protect: false` at the leaf level to override parent config policies.

[2018-10-12 21:16] BenTheElder commented on #9786
If we create this option we really need to strongly suggest not using this with tide, and consider disallowing it in the kubernetes orgs via presubmit... Even ignoring malicious changes this would be really surprising behavior within these projects currently.

[2018-10-12 21:17] BenTheElder commented on #9786
Honestly though, if LGTM is sticky and approve is sticky and anyone in the org can apply lgtm... there's not much point in ever applying it, you might as well just only require approve ...

[2018-10-12 21:20] hklai commented on #9786
Had a follow up discussion with @cjwagner.

Perhaps we can skip LGTM removal if the PR author is already in the org. That way we won't allow any random person to sneak in code after LGTM, and we certainly trust the people who are already in the org.

[2018-10-12 23:31] cjwagner commented on #9786
Yeah, thats what I am suggesting in the issue body. However...

As Ben points out, this kind of defeats the point of the `lgtm` label since you are already using the `approve` plugin.

Kubernetes would definitely not use this feature and I would strongly discourage any Prow instance from using it given that it introduces a giant security hole that is pretty trivial to exploit. @hklai said that Ist

[2018-10-13 11:15] mjudeikis commented on #8668
/remove-lifecycle stale

[2018-10-13 23:01] #4420 closed

[2018-10-14 05:34] krzyzacy commented on #3362
ok will take a final stab here

plan to make scalability env, or other heavily shared env a preset, and inline all other env files.

[2018-10-14 23:36] krzyzacy commented on #7713
/remove-lifecycle stale
/shrug
/milestone 1.14

[2018-10-15 06:14] matthyx commented on #4584
/remove-lifecycle rotten

[2018-10-15 09:10] stevekuznetsov commented on #9767
[code]

This will fail because a policy is set -- to `enforce_admins` -- but `protect` is not set for `bar` repo.

[2018-10-15 09:13] stevekuznetsov commented on #9767
It's this error:

https://github.com/kubernetes/test-infra/blob/9a88e32c98e4897cdb7ada607d440d2323ad221a/prow/config/branch_protection.go#L294-L296

However, reading above there is the `allow_disabled_policies` setting to allow this:

https://github.com/kubernetes/test-infra/blob/9a88e32c98e4897cdb7ada607d440d2323ad221a/prow/config/branch_protection.go#L289-L293

We should document that better

[2018-10-15 09:39] stevekuznetsov commented on #8668
If we get per-job metrics for success/failure can't we get Prometheus alerts if jobs fail?

[2018-10-15 10:03] stevekuznetsov commented on #9779
Waiting didn't help

[2018-10-15 10:07] stevekuznetsov commented on #8646
/remove-lifecycle stale

[2018-10-15 10:07] stevekuznetsov commented on #7650
/remove-lifecycle stale

[2018-10-15 10:09] stevekuznetsov commented on #9786
Just give them merge rights to the repo and push the button? Or only require `approve`?

[2018-10-15 11:08] stevekuznetsov opened #9798 "prow: trigger: don't start postsubmits on branch deletion"
When a branch was deleted, we saw postsubmits start for it. Logs from `hook`:

[code]

This is weird. When I deleted a branch manually, I see the appropriate header:

[code]

Prow grabs the header here:

https://github.com/kubernetes/test-infra/blob/3b0b2395a41335d0a29e4071837267651b99977a/prow/github/webhooks.go#L44-L48

And we only issue a push event here:

https://github.com/kubernetes/test-inf

[2018-10-15 11:08] stevekuznetsov commented on #9798
/cc @cjwagner @fejta

[2018-10-15 11:16] stevekuznetsov commented on #9798
This leads to a ProwJob with weird refs:

[code]

<details><summary>full ProwJob JSON</summary>

[code]

</details>

[2018-10-15 11:30] stevekuznetsov commented on #9798
Oh, before we get the `delete` event, we get:

[code]

WTF GitHub. I imagine this is the same issue with the Slack integration on branch deletes.

[2018-10-15 12:35] stevekuznetsov commented on #9694
Looks like we're already doing this thanks to @krzyzacy in https://github.com/kubernetes/test-infra/commit/b5e0a45af555249f15279df075f67198870f6fed ...

https://github.com/kubernetes/test-infra/blob/0c8689c04169d754ff42570561cd60a0cc9cabf2/prow/plank/controller.go#L393-L405

However, by default the timeout is a full day:

https://github.com/kubernetes/test-infra/blob/0c8689c04169d754ff42570561cd60

[2018-10-15 15:41] justinsb opened #9802 "timeouts for cluster upgrade tests, even at 20 hours"
Opening an issue to track & discuss the timeouts on some of the upgrade tests, in particular:

* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-new
* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster

As far as I can tell, the tests are simply taking too long, even with a 20 hour timeout raised fro

[2018-10-15 15:53] justinsb opened #9804 "-new vs non-new jobs in k8s-upgrade-gce.yaml"
We have upgrade jobs that are very similar except for a `-new` suffix:

https://github.com/kubernetes/test-infra/blob/2f8ba7c2d2461e45734782b1b220449b8dc37784/config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gce.yaml#L4

[code]

https://github.com/kubernetes/test-infra/blob/2f8ba7c2d2461e45734782b1b220449b8dc37784/config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gce.yaml#L29

[code

[2018-10-15 15:59] justinsb opened #9805 "Ginkgo hangs"
I'm occasionally seeing what looks like a hang in ginkgo, where it seems to have finished running everything, but hangs until it is killed by kubetest:

e.g. https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kops/5922/pull-kops-e2e-kubernetes-aws/7781/build-log.txt

[code]

Note the 30 minutes "silence" from 14:58 - 15:27

Is this known?  Do we think this is likely to be ginkgo or som

[2018-10-15 17:34] krzyzacy commented on #9694
:joy: I didn't even remember that change - https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L5 we do set a pod pending timeout as 1h though, so this should be... WAI?

[2018-10-15 18:49] neolit123 commented on #9363
i can add `kubeadm-gce-stable-on-master` in `sig-release-master-blocking` to make it consistent with `-1.12-blocking`.

that was something raised as a question last week with @spiffxp and @BenTheElder .

[2018-10-15 19:45] #8070 closed

[2018-10-15 20:40] cjwagner commented on #9798
Can we use the `"deleted": true,` field to reliably filter out these events?

[2018-10-15 21:15] #9764 closed

[2018-10-15 21:19] gyuho opened #9814 "kubetest: add "EKS" provider"
https://github.com/aws/awstester implements https://github.com/kubernetes/test-infra/blob/9a88e32c98e4897cdb7ada607d440d2323ad221a/kubetest/main.go#L223-L230

We have been running internal Prow cluster to test AWS ALB Ingress Controller. Please see https://github.com/gyuho/aws-alb-ingress-controller/pull/3 for example output.

Action items:
- [x] Create a PR to add EKS plugin to "kubetest" (done v

[2018-10-15 22:05] krousey commented on #9804
IIRC
upgrade = upgrade 1.X to 1.Y then run 1.X e2es
upgrade-new = upgrade 1.X to 1.Y then run 1.Y e2es

[2018-10-15 22:13] krzyzacy commented on #9804
:joy: naming is hard

[2018-10-15 23:56] roycaihw commented on #8621
We have the similar problem in kubernetes-client/python repo. The release process in client-python requires merging master into release branch. The recently-enabled k8s-ci-bot in that repo blocks the release because it hasn't signed CLA: https://github.com/kubernetes-client/python/pull/650

I suspect other kubernetes-client repos https://github.com/kubernetes/test-infra/pull/9122 that have the bot

[2018-10-15 23:58] hklai commented on #9786
We still want to avoid manual merge.

What we want here is to simply developer workflow and reduce spam.  More often than not, PRs are updated after LGTM to address comments, fix comments, lint erros, and comments. Removing LGTM significantly increase merge latency.

As long as this option is restricted to PRs authored by collaborators, we are fine, as we have a formal on-boarding procedure, and w

[2018-10-16 01:14] roycaihw commented on #8621
Thanks for the reference @BenTheElder. I thought there were two bots (`k8s-ci-robot` that does auto-merging and `CLAbot` that checks CLA) and I was hoping our problem could be solved if the `k8s-ci-robot` can sign the CLA itself like a general contributor somehow.

I guess we have to force push like how the serverside-apply feature branch does until #8241 is rolled out.

cc @yliaog

[2018-10-16 07:36] stevekuznetsov commented on #9798
@cjwagner

Yes, that was my approach in the PR.

[2018-10-16 09:02] stevekuznetsov commented on #9786
I still don't see why requiring only `approve` is not sufficient for your workflow.

[2018-10-16 09:48] neolit123 commented on #9786
if a PR is submitted by an approver it would be approved already? so once the tests passed, without LGTM it will just auto-marge. maybe that's the issue they have with only approve.

i guess the whole point of using LGTM here is that someone else reviews and applies a second sticky label.

[2018-10-16 13:23] stevekuznetsov opened #9824 "branchprotector: users and groups that don't have write access are silently dropped on branch protection requests"
When a group or user is on the list of `restrictions` in the branch protection configuration, they are added to the branch protection request but silently dropped on the update if they don't have write access in the first place.

/kind bug
/assign @fejta
/area prow/branchprotector

Aside: `"restrictions"` is a confusing name for this field in the config :|

[2018-10-16 13:45] jberkus commented on #9802
Also, reference issue #69475

[2018-10-16 17:05] hklai commented on #9786
Indeed. Also there are more people who can lgtm than approve (only those on OWNERS).

[2018-10-16 17:35] neolit123 commented on #9786
but at the same time, while it's OK to have the sticky Approve, the sticky LGTM can cause you a PR merged, before all the desired changes are applied.

after all, the moment both labels are present the bot will try to merge unless you put a hold on that PR.

[2018-10-16 17:43] BenTheElder commented on #9786
Right, but if you're requiring approve you still need an approve from that smaller pool of people, why also require an LGTM? If you trust them then trust them with just approval..?
The person who applied approve can apply LGTM, but the person who LGTM cannot approve. Without stickness differences the LGTM label is just noise on top of the actual approval.

If you drop LGTM from the merge requireme

[2018-10-16 17:46] krzyzacy commented on #9802
just an idea: what if within the same job we can trigger two ginkgo call, one parallel and one serial

[2018-10-16 17:47] krzyzacy commented on #9802
also @crimsonfaith91 @spiffxp shall we just do this for all gke upgrade jobs?

[2018-10-16 17:57] crimsonfaith91 commented on #9802
@krzyzacy
Some upgrade jobs are still manageable, especially those with low number of tests. I suggest having a quick manual inspection to identify those jobs with long test run duration (more than 12 hours). It is preferable to have at least 2 complete test runs per day.

[2018-10-16 18:29] krzyzacy opened #9826 "Make gerrit adapter support postsubmit jobs"
cc @fejta

Looks like we can only retrieve the latest revision(commit) from a branch, but not the merge timestamp :-\ Since we are polling we can always store latest commit and trigger a run once the latest SHA changes... but it will be better if I can find the branch last updated time.

/area prow/gerrit
/assign

[2018-10-16 18:32] krzyzacy commented on #9706
With help from @munnerz I was able to kinda get cert-manager working for internal but since we have specific CAA rules which letsencrypt cannot handle so we switched to Google provided cert instead of letsencrypt.

I'll prep the change in OSS though :-)

[2018-10-16 18:38] hklai commented on #9786
@BenTheElder, if a PR is sent by an owner, she supposedly needs only an LGTM, not approval. And also more people can give her LGTM.

@neolit123, Right, LGTM should not be given if the PR requires significant changes, or simply does not look good at all. The annoyance we are trying to address is the need to re-LGTM after the author fixes linter, shellcheck, or maybe test failures. Today, also partl

[2018-10-16 18:56] BenTheElder commented on #9814
What's the intention with this job? NB we've been moving providers out of tree and we've moved away from having GKE in the blocking path generally. We're even looking at not having any providers in k/k presubmit someday ...

cc @spiffxp @fejta

[2018-10-16 19:00] gyuho commented on #9814
Good to know. Yes, we are happy to follow the new pattern.

Do we have any issue to track this? Would each provider have its own repository to trigger Prow jobs?

[2018-10-16 19:02] BenTheElder commented on #1723
cc @krzyzacy what about doing this with the new reporter tooling? less email spam sounds amazing :^)

[2018-10-16 19:07] BenTheElder commented on #9814
I'm not sure what the tracking issue is but yeah, each cloud provider has a repo and can have presubmits on that repo. We'll also need non-presubmits though to give more signal for Kubernetes releases. @dims might be a good person to talk to on that.

[2018-10-16 19:10] d-nishi commented on #9814
@BenTheElder this is not just for cloud provider code. this tool allows us to post CI signal for all the SIG AWS code that sits in k8s-sigs. Openstack decided to move all their code under cloud provider but that is not the norm for other folks.

[2018-10-16 19:12] BenTheElder commented on #9814
Right I get that the tool does this, I was specifically asking about `pull-kubernetes-e2e-aws-eks` which sounds like something we're getting away from. VS say a presubmit on the k8s-sigs repo, or continuous integration testing against k8s (postsubmit / periodic, not presubmit).

[2018-10-16 19:21] krzyzacy commented on #9814
cc @justinsb

[2018-10-16 19:34] neolit123 commented on #9786
this is also an issue in k8s - the requirement for LGTM re-apply, but it's also a protection measure.
the non-sticky LGTM ensures that a merge is only possible if another set of eyes verify the validity of the final change.

if you think Istio can handle such situations, so be it. :)
perhaps once the project membership grows you'd want to switch this off again.
...or is the idea for this to only a

[2018-10-16 19:43] hklai commented on #9786
Yes. The plan is to implement an option that applies to collaborators only. If the PR author is not a collaborator, the existing LGTM rules apply.

Istio currently maintains a fairly high bar for membership, based on contribution. We review new member applications weekly in TOC meetings.

[2018-10-16 19:49] neolit123 commented on #9786
collaborators sounds an order of magnitude better compared to members, yet collaborators are not perfect either.

looks like the related PR is receiving reviews already.

[2018-10-16 20:09] d-nishi commented on #9814
@BenTheElder `pull-kubernetes-e2e-aws-eks` is not blocking k/k.
we reused a naming convention that might be causing the confusion but this tool is only providing CI signal for k8s-sigs repos related to sig-aws subprojects until we merge this work into cluster-api framework.  @gyuho can you confirm?

[2018-10-16 20:15] gyuho commented on #9814
@BenTheElder I was proposing EKS k/k e2e test suites equivalent to [`pull-kubernetes-e2e-gke`](https://raw.githubusercontent.com/kubernetes/test-infra/master/config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml) (named `pull-kubernetes-e2e-aws-eks`), and agree that we should have provider-specific tests as a blocking presubmit job. We can start as a post-submit.

This tool will also be used for

[2018-10-16 20:21] krzyzacy commented on #9814
`pull-kubernetes-e2e-gke` only runs if `cluster/` changes because it's using underlying scripts.

I'll be able to make better suggestions after reading what your deployer is doing :-)

[2018-10-16 20:46] BenTheElder commented on #9814
SGTM, thanks!

On a related note the naming conventions are probably worth reconsidering at some point, would love suggestions :-)

Also +1 to what @krzyzacy said, adding that:

We should definitely have blocking vendor presubmits in k8s-sigs! I'd start by introducing it as non blocking there too until we work out any necessary fixes but quickly transition it to blocking there 😅

We might even wan

[2018-10-16 20:47] BenTheElder commented on #9814
BTW: have you see the prowjob pod presets support? It seems like a lot of those `AWSTESTER_EKS*` env could go in one or more of those to make it easier for people to create prowjobs using it.

[2018-10-16 20:51] gyuho commented on #9814
Have not. Great idea to package them into a preset. Will look into it. Thanks!

[2018-10-16 20:54] d-nishi commented on #9814
Fantastic!

[2018-10-16 21:16] BenTheElder commented on #8621
I don't know what the correct answer for the k8s-ci-robot is there ... @spiffxp punting this up to steering :^)

[2018-10-16 21:44] #9607 closed

[2018-10-16 21:56] dims commented on #8621
@BenTheElder - /me channeling Aaron -  "as long as you come to steering with a yay or nay proposal" :)

[2018-10-17 00:10] cjwagner commented on #9786
The `approve` plugin can be configured to require explicit self approval so that code owners do not automatically approve their own PRs: https://github.com/kubernetes/test-infra/blob/2c26f647f17a89acb9d299a83e1336034156361b/prow/plugins/plugins.go#L352-L354

[2018-10-17 01:33] cblecker commented on #8386
/remove-lifecycle rotten

[2018-10-17 02:07] xiangpengzhao opened #9834 "Command isn't recognized in comment left via email reply"
See: https://github.com/kubernetes/community/issues/923#issuecomment-430126237

bot didn't recognize command `/remove-lifecycle stale` in such comment.

[2018-10-17 05:41] BenTheElder opened #9836 "/lint should suggest changes"
how cool what that be?

/kind enhancement
/area prow
/area prow/plugins
/priority backlog
/help

if anyone wants to look at building something like this, it would make an awesome prow plugin

[2018-10-17 17:08] wbrefvem commented on #8639
Hey all, I'm interested in getting involved and wouldn't mind taking a crack at this if no one else is working on it. I've had a look at the assign code and have a rough guess at where the gremlins may be lurking.

[2018-10-17 19:38] ibzib opened #9840 "Clean up Prow log spam"
Prow logs a lot of debugging info that probably isn't necessary or desirable at this point in its development.
/cc @BenTheElder @cjwagner

[2018-10-17 20:50] taragu commented on #9431
@BenTheElder Just created a pull request #9843 . I was trying to run the lgtm_test.go but got the following errors that seemed to be unrelated to my changes:
[code]

[2018-10-17 21:14] cjwagner commented on #9840
There may be excessive debug level logs, but my main concern is with the error logs. In particular `deck` generates a lot of GCS errors, sometimes even large bursts of the same error.
We should try to handle these errors more gracefully and/or consider downgrading some of the error messages to warnings.

[2018-10-17 21:46] cjwagner commented on #9646
Using a limited number of retries and exponential backoff is usually the best solution.

[2018-10-17 21:56] ixdy opened #9847 "unable to build kubekins-e2e image due to unmet awscli dependencies"
I'm trying to bump kubekins-e2e, but it's failing while trying to install awscli:
[code]

It's curious that they seemingly promoted a new version of awscli without its necessary dependencies bumped.

Should we be pinning to a particular awscli version?

[2018-10-17 21:58] cjwagner commented on #8639
No one is working on this currently, but we don't have a clear solution given that

If this failure is actually completely hidden by the API, then there may not be a work around that is suitable for Prow and the bug should be reported to GitHub support. If there is a way to detect this error case then we can update Prow to handle it (and maybe still report this to GitHub support).

We should agree

[2018-10-17 22:00] ixdy commented on #9847
or maybe my timing is just unfortunate. `awscli` 1.16.36 was released 13 minutes ago.

[2018-10-17 22:00] BenTheElder commented on #9847
@justinsb

[2018-10-17 22:29] ixdy commented on #9847
/this-is-fine

[2018-10-17 22:51] ixdy commented on #9847
yeah, it's working now.
/shrug
/close

[2018-10-17 22:51] #9847 closed

[2018-10-17 22:52] ixdy commented on #9847
/joke

[2018-10-17 23:50] wbrefvem commented on #8639
Hmm okay, @cjwagner  I see your point. This is a sticky wicket. It seems there's a spam filter that just 404's the whole request if you try to assign an org. It doesn't seem to filter out random other junk, like invalid users, emojis, etc.

We could retry using the [List assignees](https://developer.github.com/v3/issues/assignees/#list-assignees) endpoint, then compare that list against the list o

[2018-10-18 13:00] taragu commented on #9431
ahh thanks @cjwagner !

[2018-10-18 15:59] dprotaso opened #9855 "As a contributor I'd like the instruct prow to run a test for a PR N times"
In this PR https://github.com/knative/build/pull/430 I'm trying to flush out a flakey test

I repeatedly need to invoke `/test pull-knative-build-integration-tests` in order to run the test numerous times in hopes of guaranteeing there is no flakiness

It'd be nice if I could type something along the lines of
[code]

This would run the integration test sequentially ten times and stop at any point

[2018-10-18 16:13] dprotaso commented on #9855
/label area/prow

[2018-10-18 16:17] dprotaso commented on #9855
/area prow

[2018-10-18 16:19] justinsb commented on #9802
OK with #9803 these particular tests are no longer timing out (some flakes it looks like, but those we can deal with separately e.g. in https://github.com/kubernetes/kubernetes/issues/69475#issuecomment-431070378 )

So how do we want to proceed?  Roll this approach out across all the long tests?  Build it into kubetest (as per @krzyzacy's suggestion)?  Replace ginkgo?

The disruptive/serial tests

[2018-10-18 18:20] krzyzacy commented on #9802
only one periodic can be running at the same time... so set interval to 2h simply make them always running :-)

We can split all long upgrade test (cluster upgrade) to parallel + serial for now.. Replace ginkgo? That will need a larger discussion...

[2018-10-18 18:57] cjwagner commented on #8493
@stevekuznetsov Was this fixed? Any signs of it happening in the last 3 months?

[2018-10-18 20:43] spiffxp commented on #5603
/help

[2018-10-18 20:43] spiffxp commented on #5603
Would be a great place to start

[2018-10-18 21:03] #9786 closed

[2018-10-18 21:58] spiffxp commented on #6227
/close
This is now done

[2018-10-18 21:58] #6227 closed

[2018-10-18 22:29] krzyzacy commented on #9056
fixed in https://github.com/kubernetes/test-infra/pull/9858

[2018-10-18 22:29] #9056 closed

[2018-10-18 23:59] #8105 closed

[2018-10-19 00:30] spiffxp commented on #9805
/sig testing
/kind bug
Calling this a bug until we know more.  Maybe it's a dearth of logging at the right level?

[2018-10-19 00:31] krzyzacy commented on #9805
what is aftersuite doing there?

[2018-10-19 00:32] spiffxp commented on #9502
/remove-priority critical-urgent
/priority important-soon
I'd like to try keeping the red priority for things that are breaking/blocking existing workflows

[2018-10-19 00:46] spiffxp commented on #5051
/remove-priority critical-urgent
/priority important-longterm
I'd like to try keeping the red priority for things that are breaking/blocking existing workflows

[2018-10-19 00:46] spiffxp commented on #9719
@BenTheElder have we taken care of this?

[2018-10-19 00:47] BenTheElder commented on #9719
the critical jobs where this is immediately a concern, but not all of them.

[2018-10-19 00:50] chrislovecnm commented on #6083
/lifecycle frozen
/remove-lifecycle stale

[2018-10-19 00:56] spiffxp commented on #9719
/milestone v1.13

[2018-10-19 00:56] spiffxp commented on #8621
/milestone v1.13

[2018-10-19 10:20] nikhita commented on #9834
I wonder if that's a one-off thing because I leave commands with email replies when I'm aware of the issue/PR _lots_ of times and it works. :eyes:

Examples:

https://github.com/kubernetes/kubernetes/issues/65973#issuecomment-427685620
https://github.com/kubernetes/kubernetes/issues/62326#issuecomment-427762483
https://github.com/kubernetes/code-generator/issues/24#issuecomment-425714928
https://g

[2018-10-19 19:26] krzyzacy opened #9867 "deploy all the rbac rules for prow.k8s.io"
we have them committed but not deployed, also deployers will need to get their own clusterrole first, so, clean up time :-)

cc maintainer of k8s-prow: @fejta @BenTheElder @cjwagner @amwat @ixdy

[2018-10-19 22:47] Katharine commented on #9479
For those interested, I've written this up slightly more formally [here](https://docs.google.com/document/d/1tFHodWk7rWodNxgGdnLgwrUfiNnoSuXfSA-YgGj0ftw/edit#) (needs sig-testing).

[2018-10-20 03:03] xiangpengzhao commented on #9834
@nikhita it seems so.
/cc @BenTheElder PTAL :)

[2018-10-20 03:08] BenTheElder commented on #9834
/woof

On Fri, Oct 19, 2018, 20:03 Peter (XiangPeng) Zhao <notifications@github.com>
wrote:

[2018-10-20 03:10] BenTheElder commented on #9834
I also use commands via email pretty often, I'd guess we just missed a webhook for yours.

[2018-10-21 11:04] taragu commented on #9836
@BenTheElder what are the requirements for this issue? I was trying to see an example output of /lint and found this PR: #9644 and saw that /lint did suggest changes:
<img width="700" alt="screen shot 2018-10-21 at 07 01 29" src="https://user-images.githubusercontent.com/6353048/47266057-5c97c780-d4ff-11e8-9782-758555983ef5.png">

[2018-10-21 11:11] jberkus opened #9875 "Prow: Proposal: priority labels should be exclusive and replacing"
Now that failing-test & flake are Kinds, we should have prow enforce making priorities unique, since there is no longer any legitimate reason for an issue or PR to have more that one priority.

The simplest and most helpful version of this would be to simply replace the existing priority with the new one whenever a new priority is selected.  This would eliminate the need to use /remove-priority (i

[2018-10-22 16:28] spiffxp opened #9881 "Automation misbehaving due to Github October 21 incident"
Opening this as an issue to refer to if/when you find weird behavior over the next day or two.  [GitHub is mitigating an incident](https://blog.github.com/2018-10-21-october21-incident-report/).

At a minimum, I guarantee prow isn't doing things right now because:

We may have some mitigation of our own to do, since it's unclear whether github will release/replay webhooks, or we'll need to do some

[2018-10-22 16:31] spiffxp commented on #9881
From status.github.com

[2018-10-22 16:37] spiffxp commented on #8800
For some reason @fejta-bot is spamming this issue even though it already has the stale label (at least according to the UI).  Suspect this is due to https://github.com/kubernetes/test-infra/issues/9881

[2018-10-22 16:49] spiffxp commented on #9881
[Notified kubernetes-dev@](https://groups.google.com/d/msg/kubernetes-dev/F-g5pqiuSn8/ik1FHwt5CAAJ)

[2018-10-22 18:44] BenTheElder commented on #9836
Er this would be a bit more involved, github now allows suggesting what the code should be, which the user can accept and get a new commit with the changes applied.

https://blog.github.com/2018-10-16-future-of-software/#suggested-changes-public-beta

It would be cool if we automatically suggested code fixes using this :-)

[2018-10-22 18:53] BenTheElder commented on #9875
SGTM :+1:
cc @cjwagner

[2018-10-22 18:59] cjwagner commented on #8810
/remove-lifecycle stale

[2018-10-22 20:50] amwat commented on #9881
Update: looks like we are slowly starting to receive webhooks for past events and things are starting to move.
https://status.github.com/messages

[2018-10-22 21:55] ixdy commented on #8742
Enhancement freeze starts tomorrow. Is this still likely to target 1.13?

[2018-10-22 22:36] cjwagner commented on #6095
/remove-lifecycle stale
/lifecycle frozen
This will be addressed by the label command framework, but I don't plan to work on the framework during Q4.

[2018-10-22 22:55] spiffxp commented on #9875
This can be addressed via https://github.com/kubernetes/test-infra/issues/6095 but won't happen in Q4.  I sorta want to close this as a dupe and ask you to comment over there, but I leave that decision to you.

Alternatively if you want this sooner, you could try making a "priority" version of the [stage](/prow/plugins/stage) plugin which has this behavior hardcoded for one specific set of labels

[2018-10-22 23:00] spiffxp commented on #8800
/close
I'm pretty sure this happens because tot.  See https://github.com/kubernetes/test-infra/issues/9271#issuecomment-424927290 and following comments, when it happened again.

This will need to be kept in mind if/when we switch to snowflake ID's https://github.com/kubernetes/test-infra/issues/9604

[2018-10-22 23:00] #8800 closed

[2018-10-22 23:16] amwat commented on #9881
Update: old webhooks have caught up, new webhooks are working are normally.
https://status.github.com/messages

[2018-10-22 23:18] #9609 closed

[2018-10-23 00:19] amwat commented on #9881
Everything (related to this outage at least) is looking fine.
/close

[2018-10-23 00:19] #9881 closed

[2018-10-23 02:15] spiffxp commented on #6095
/priority important-longterm
Taking a guess that we may try and get to this next release cycle

[2018-10-23 02:17] spiffxp commented on #8817
/close
I am no longer able to reproduce this.  Please /reopen if this is still an issue.

[2018-10-23 02:17] #8817 closed

[2018-10-23 02:50] spiffxp commented on #7890
@fejta @cjwagner @BenTheElder do we still want to do this?

[2018-10-23 02:51] spiffxp commented on #8735
/close
closing as "works as intended" then, if there is a desire to change this behavior, that would be the file and change to PR

[2018-10-23 02:51] #8735 closed

[2018-10-23 02:51] jberkus commented on #9360
Hey, looks like @nikhita is tackling the "invalid commit message", but NOT the "remove 'fixes'" issue.

Does anyone want to take on removing "fixes" statements?  I'm having to reopen failing test issues all over the place now ...

[2018-10-23 02:58] spiffxp commented on #8838
/kind cleanup

[2018-10-23 02:58] spiffxp commented on #8838
/area prow

[2018-10-23 02:58] spiffxp commented on #8838
/good-first-issue

[2018-10-23 03:02] spiffxp commented on #8876
/close
It's unclear to me whether there is anything left to be done here.  If so, please /reopen and clarify

[2018-10-23 03:02] #8876 closed

[2018-10-23 03:17] spiffxp commented on #8954
/hold cancel
doesn't make much sense on an issue

[2018-10-23 03:20] spiffxp commented on #7332
/close
We have since removed the cherrypick-candidate label.  But it would be nice if we could land /cherrypick

[2018-10-23 03:20] #7332 closed

[2018-10-23 03:35] spiffxp commented on #9017
/close
welp, this doesn't make much sense now that mungegithub is gone
[code]

[2018-10-23 03:48] spiffxp commented on #9044
/kind bug
This is because the ci builds don't build darwin binaries, and k/k's `cluster/get-kube-binaries.sh` doesn't allow overriding the client platform (annoyingly).  I would consider this issue closable if we filed an issue for this in k/k

[2018-10-23 03:51] spiffxp commented on #8602
/close
I was able to run unit tests with coverage, and it looks like we have 84% line coverage for pr.go now.  There are a few `if err != nil` checks that aren't covered, but I think this is good enough to close.

[2018-10-23 03:51] #8602 closed

[2018-10-23 03:51] spiffxp commented on #8602
Thanks for the help @aojea 🙇

[2018-10-23 03:53] spiffxp commented on #8839
/close
closing since linked PR has merged, please /reopen if this was incorrect

[2018-10-23 03:53] #8839 closed

[2018-10-23 03:57] spiffxp commented on #7192
/unassign
aaaand I'm not going to get to it this release cycle

I swear all we want is a working influx + grafana + prometheus setup, I'm not really sure we rely on any of the actual "velodrome" code anymore