[2020-08-01 02:04] spiffxp opened #18583 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-bazel-build"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-bazel-build

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 4 cpu, sl

[2020-08-01 02:05] spiffxp opened #18584 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-bazel-test"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-bazel-test

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 4 cpu, sli

[2020-08-01 02:06] spiffxp opened #18585 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-conformance-kind-ga-only-parallel"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-conformance-kind-ga-only-parallel

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following gues

[2020-08-01 02:09] spiffxp opened #18586 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-cross"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-cross

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 7 (or as near 8

[2020-08-01 02:11] spiffxp opened #18587 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-dependencies"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-dependencies

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 2 cpu, a

[2020-08-01 02:12] spiffxp opened #18588 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-e2e-gce"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-e2e-gce

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 4 cpu, slight

[2020-08-01 02:13] spiffxp opened #18589 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-e2e-gce-100-performance"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-e2e-gce-100-performance

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- sugge

[2020-08-01 02:14] spiffxp opened #18590 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-e2e-gce-ubuntu-containerd"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-e2e-gce-ubuntu-containerd

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- sug

[2020-08-01 02:15] spiffxp opened #18591 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-e2e-kind"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-e2e-kind

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 4 cpu, sligh

[2020-08-01 02:17] spiffxp opened #18592 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-files-remake"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-files-remake

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 1500m cp

[2020-08-01 02:17] spiffxp opened #18593 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-integration"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-integration

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 7 cpu, sl

[2020-08-01 02:18] spiffxp opened #18594 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-kubemark-e2e-gce-big"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-kubemark-e2e-gce-big

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest

[2020-08-01 02:19] spiffxp opened #18595 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-node-e2e"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-node-e2e

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 4 cpu, 3 Gi

[2020-08-01 02:19] spiffxp opened #18596 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-typecheck"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-typecheck

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 5 cpu, slig

[2020-08-01 02:20] spiffxp opened #18597 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-verify"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- pull-kubernetes-verify

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 7 cpu, 10Gi me

[2020-08-01 02:48] spiffxp commented on #18530
I hope you like issues.  Because I made some issues.

[2020-08-01 03:35] spiffxp opened #18599 "Kubernetes CI Policy: all prow.k8s.io jobs must have testgrid alerts configured"
Part of https://github.com/kubernetes/test-infra/issues/18551

**Why this is important:**
- In order to ensure effective use of community resources, we expect them to be spent on jobs that provide useful signal, and are actively maintained
- Configuring testgrid alerts requires setting an e-mail address, which gives us a point of contact to escalate to if a job is deemed an ineffective use of comm

[2020-08-01 03:53] spiffxp opened #18600 "Kubernetes CI Policy: remove egregiously perma-failing jobs"
Part of https://github.com/kubernetes/test-infra/issues/18551

**Why this is important:**
- jobs that have been failing for hundreds of days are a drain on community resources
- the fact that they've been failing this long means we've been getting by without their signal, it's probably more economical to cut our losses rather than make diving saves

http://storage.googleapis.com/k8s-metrics/failur

[2020-08-01 04:01] spiffxp opened #18601 "Kubernetes CI Policy: create and enforce policy of removing continuously unhealthy jobs"
Part of https://github.com/kubernetes/test-infra/issues/18551

Once we have:
- https://github.com/kubernetes/test-infra/issues/18599 - contact info for all jobs
- https://github.com/kubernetes/test-infra/issues/18600 - removed jobs that were obvious candidates for unhealthy

It's time to craft a policy to maintain a reasonable state of job health going forward!

A rough suggestion is: "continuousl

[2020-08-01 04:06] spiffxp commented on #18549
/sig testing
/sig release
/wg k8s-infra
/area release-eng
/area jobs

[2020-08-01 04:06] spiffxp commented on #18550
sig testing
/sig release
/wg k8s-infra
/area release-eng
/area jobs

[2020-08-01 09:35] LappleApple commented on #18530
... AND they're already in the [project board](https://github.com/orgs/kubernetes/projects/46) 🥇

[2020-08-02 14:34] hasheddan commented on #18597
/assign

[2020-08-03 08:45] #18560 closed

[2020-08-03 16:13] spiffxp commented on #18507
https://prow.k8s.io/?job=ci-kubernetes-conformance-kind-ga-only

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1290097710933741573
  - There are no nodes that your pod can schedule to - check your requests, tolerations, and node selectors (0/22 nodes are available: 19 Insufficient cpu, 3 node(s) had taints that the pod didn't tolerate.)
- https://pro

[2020-08-03 16:15] hasheddan commented on #18507
@spiffxp also seeing this same issue with https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel. It appears both of these jobs are requesting a full node (i.e. `7300m` CPU). Is this necessary?

[2020-08-03 17:04] BenTheElder commented on #18507
The full node is to avoid noisy neighbors.
We cannot schedule for disk IO
I'm looking at moving some things into memory but for now yes, the goal is an isolated node. This is comparable to the boskos resources created by a cloudy e2e

The cluster should be bigger

[2020-08-03 18:44] kbhawkey opened #18622 "incorrect link to bot commands in approval comments"
**What happened**:
Some PR templates from kubernetes/website repo have "here" link that links back to PR.
```https://github.com/kubernetes/website/pull/22932?repo=kubernetes%2Fwebsite```

**What you expected to happen**:
Instead, expect link to forward to prow commands.

**How to reproduce it (as minimally and precisely as possible)**:
View the PR message template in `kubernetes/website` and click

[2020-08-03 19:58] sftim commented on #16983
/triage support
?

[2020-08-03 21:22] spiffxp commented on #18578
/assign @ZhiFeng1993

[2020-08-03 21:42] tpepper commented on #18530
re: from the description above

[code]

config/jobs/kubernetes/generated/generated.yaml has ci-kubernetes-e2e-gce-cos-[k8sbeta|k8sstable1|k8sstable2|k8sstable3]-ingress and all of these already have requests and limits.

[2020-08-03 21:52] spiffxp commented on #18578
/reopen
Keeping open to confirm the job is still healthy

[2020-08-03 22:41] spiffxp commented on #18582
/assign @tpepper

[2020-08-03 22:41] spiffxp commented on #18582
/remove-help

[2020-08-03 22:46] ZhiFeng1993 commented on #18578
/assign

[2020-08-03 22:47] ZhiFeng1993 commented on #18578
@spiffxp  I'll keep an eye on this job.

[2020-08-03 22:47] spiffxp commented on #18578
https://testgrid.k8s.io/sig-release-master-blocking#build-master-fast&graph-metrics=test-duration-minutes&width=20
- will want to keep an eye on jobs triggered since 2020-08-03 2:23pm PDT
- looking specifically not just for "already built, just used cached copy" invocations, but the longer 20-30m invocations that do an actual build

[2020-08-03 22:49] spiffxp commented on #18578
https://prow.k8s.io/tide-history?repo=kubernetes%2Fkubernetes&branch=master - whenever a `MERGE` event next happen here, the next build should be one of the longer invocations

[2020-08-03 22:54] ZhiFeng1993 commented on #18578
Job has been passing in the past 1 hour(after the code got merged).
https://prow.k8s.io/?job=ci-kubernetes-build-fast

[2020-08-03 22:56] tpepper commented on #18582
/reopen
for "keep an eye on the jobs for the next few days"

[2020-08-03 22:56] ZhiFeng1993 commented on #18579
/assign

[2020-08-03 22:57] ZhiFeng1993 commented on #18577
/assign

[2020-08-03 23:26] ZhiFeng1993 commented on #18577
https://prow.k8s.io/?job=ci-kubernetes-build

[2020-08-03 23:27] tpepper commented on #18581
/reopen
for "keep an eye on the jobs for the next few days"

[2020-08-03 23:27] tpepper commented on #18580
/reopen
for "keep an eye on the jobs for the next few days"

[2020-08-03 23:28] tpepper commented on #18580
/assign @tpepper

[2020-08-03 23:28] tpepper commented on #18581
/assign @tpepper

[2020-08-03 23:37] ZhiFeng1993 commented on #18583
/assign

[2020-08-03 23:39] ZhiFeng1993 commented on #18583
@spiffxp  may I ask how did you make a guess for jobs running in `k8s-prow-build`? We don't have any external dashboard as `k8s-prow-build-infra`, right? Did you check on the Google cluster?

[2020-08-03 23:42] #18528 closed

[2020-08-03 23:47] spiffxp commented on #18597
/remove-help
/assign @hasheddan
/reopen
Holding open to verify the job is healthy after some soak time

[2020-08-03 23:49] spiffxp commented on #18597
So far so good

Thought I'd found some suspicious runs in https://github.com/kubernetes/test-infra/pull/18610#issuecomment-668282215 but agree with @hasheddan they're expected behavior for PRs that have been force-pushed (abort any previously running jobs, trigger new ones to pick up the new commit)

[2020-08-03 23:49] spiffxp commented on #18581
/remove-help
since @tpepper has it

[2020-08-03 23:49] spiffxp commented on #18580
/remove-help
since @tpepper has it

[2020-08-03 23:50] spiffxp commented on #18577
/remove-help
since @ZhiFeng1993  has it

[2020-08-03 23:50] spiffxp commented on #18597
/remove-help

[2020-08-03 23:51] spiffxp commented on #18579
/remove-help
since @ZhiFeng1993 has it

[2020-08-03 23:52] spiffxp commented on #18578
/remove-help
since @ZhiFeng1993  has it

[2020-08-04 00:48] ZhiFeng1993 commented on #18579
https://prow.k8s.io/?job=ci-kubernetes-e2e-device-plugin-gpu
https://prow.k8s.io/?job=ci-kubernetes-e2e-device-plugin-gpu-beta
https://prow.k8s.io/?job=ci-kubernetes-e2e-device-plugin-gpu-stable1
https://prow.k8s.io/?job=ci-kubernetes-e2e-device-plugin-gpu-stable2
https://prow.k8s.io/?job=ci-kubernetes-e2e-device-plugin-gpu-stable3

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kub

[2020-08-04 01:30] spiffxp commented on #18552
Holding open until I can see the increase in capacity for GCE project (k8s-infra).  Turns out https://github.com/kubernetes/k8s.io/pull/1088 hadn't taken effect last week.  Did some poking, should see results soon

[2020-08-04 02:34] #15095 closed

[2020-08-04 03:05] #17512 closed

[2020-08-04 03:14] deedubs commented on #18109
Couldn't prow use a mutating webhook to inject the sidecars into a pipeline run?

[2020-08-04 05:15] BenTheElder commented on #18622
https://github.com/kubernetes/website/issues/22103#issuecomment-667534009 is important

[2020-08-04 05:17] BenTheElder commented on #18622
I think this was https://github.com/kubernetes/test-infra/pull/17784#issuecomment-650772422

is this still happening on new PRs?

[2020-08-04 05:18] BenTheElder commented on #18592
NOTE: this is now an optional presubmit. We're testing this in the periodic verify job

[2020-08-04 05:21] shuuji3 commented on #18622
Actual string bot post is the following:
[code]
This becomes `https://github.com/kubernetes/website/pull/22932?repo=kubernetes%2Fwebsite`

[2020-08-04 05:23] BenTheElder commented on #18622
do you have an example of this on a recent PR? https://github.com/kubernetes/test-infra/pull/17784#issuecomment-650772422 was already fixed, but did indeed occur around the time you referenced.

[2020-08-04 05:23] BenTheElder commented on #18622
here's one https://github.com/kubernetes/website/pull/22945#issuecomment-668363691

[2020-08-04 05:44] BenTheElder commented on #11782
/remove-lifecycle stale

I think this is _mostly_ done? pretty much everything is under `config/`.

we can actually do this with much less than a KEP, SIGs can sponsor a repo without going full KEP 🙃

[2020-08-04 06:16] BenTheElder commented on #11782
I don't think there's any config lingering under prow/ now. some scripts / makefile stuff.

[2020-08-04 12:06] kbhawkey commented on #18622
Yes, seems odd. Here is another one: PR kubernetes/website#22923

[2020-08-04 12:20] bbguimaraes opened #18640 "`entrypoint` attemps a cross-mount `rename(2)`"
Our [canary job](https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_release/10655/rehearse-10655-pull-ci-openshift-release-master-config/1290580433699868672) started failing after updating the `test-infra` images to `v20200804-7b7bfd1dd9`.

The specific error is:

[code]

This most likely is due to https://github.com/kubernetes/test-infra/pull/18278, specifically:

`/logs`

[2020-08-04 13:41] alvaroaleman commented on #18622
@sbueringer will you be able to look into this?

[2020-08-04 13:48] alvaroaleman commented on #11782
Yeah, the config is pretty much moved out of the prow directory. What would be needed to move prow into its own repo is:
* The repo itself
* Exporting the code to the new repo
* Setting up all prow-related jobs onto the new repo
* Announcing this in case other projects reference prow code (kubetest2?)
* Updating all references outside of /prow to prow

The point that is presumably most of the work

[2020-08-04 14:14] RobertKielty commented on #18596
/assign

[2020-08-04 14:30] BenTheElder commented on #18640
temp file + rename is the only way to do atomic write so the second option is likely invalid.

rename has to be on the same filesystem.

[2020-08-04 14:51] ameukam commented on #18591
/assign

[2020-08-04 14:52] ameukam commented on #18587
/assign

[2020-08-04 15:36] anthonyrtong commented on #18640
Yes, this is the issue.  Changing this to use the sub-directory would probably be the best option and would hopefully still be able to avoid the concurrency issues.

[2020-08-04 15:49] sbueringer commented on #18622
@alvaroaleman Yup

This code sets the commandHelpLink if it's empty for a approve plugin config:
https://github.com/kubernetes/test-infra/blob/5ccf949c7549d13b2a3636b4a05c81adf20bf5c6/prow/plugins/config.go#L853-L857

Could be that I'm looking in the wrong place but I don't see an approve plugin *explicity* configured for the kubernetes/website repo here:
https://github.com/kubernetes/test-infra/b

[2020-08-04 16:01] spiffxp commented on #18552
/close
![Screen Shot 2020-08-04 at 9 01 10 AM](https://user-images.githubusercontent.com/49258/89316501-0d1d7f80-d631-11ea-8272-7f69a98d885e.png)

[2020-08-04 16:01] #18552 closed

[2020-08-04 16:03] hasheddan commented on #18597
Looks like a timeout on [this run](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93387/pull-kubernetes-verify/1290641275292225537). See https://github.com/kubernetes/kubernetes/pull/93387#issuecomment-668682641

[2020-08-04 16:04] alvaroaleman commented on #18622
@sbueringer Yeah I think setting it in l699 might be best, otherwise if some other component uses the config and expect it to be populated we will be in for a surprise

[2020-08-04 16:05] alvaroaleman commented on #18622
@sbueringer actually there is some additional defaulting there already, what about we move the existing one to the same place, here https://github.com/kubernetes/test-infra/blob/5ccf949c7549d13b2a3636b4a05c81adf20bf5c6/prow/plugins/config.go#L708 ?

[2020-08-04 16:11] spiffxp commented on #18507
/close

https://prow.k8s.io/?job=ci-kubernetes-conformance-kind-ga-only
https://prow.k8s.io/?job=ci-kubernetes-kind-e2e-parallel

Neither have had an error status (grey triangle) since https://github.com/kubernetes/test-infra/pull/18637 landed

[2020-08-04 16:11] #18507 closed

[2020-08-04 16:13] spiffxp commented on #18587
/remove-help
since @ameukam has it

[2020-08-04 16:13] spiffxp commented on #18591
/remove-help
since @ameukam has it

[2020-08-04 16:13] spiffxp commented on #18596
/remove-help
since @RobertKielty has it

[2020-08-04 16:59] spiffxp commented on #18583
Correct, k8s-prow-builds is google.com only.  I looked at a similar dashboard, not identical.

[2020-08-04 17:00] spiffxp commented on #18583
/remove-help
as @ZhiFeng1993 has this

[2020-08-04 17:33] spiffxp commented on #18588
/assign
/remove-help
I'll tackle this one

[2020-08-04 17:58] alejandrox1 commented on #18570
/cc @kubernetes/sig-node-test-failures
ptal

[2020-08-04 18:23] RobertKielty commented on #18596
Checked in with @spiffxp and let him know that I attempted to use phaino to check my job config changes. phaino does not work on jobs that have decorate set to true which this one does.

[2020-08-04 18:30] hasheddan opened #18647 "ci-kubernetes-gce-conformance-latest unable to dump cluster logs because remote dir does not exist"
**What happened**:

`ci-kubernetes-gce-conformance-latest` failed on `DumpClusterLogs` because of the following:

[code]

**What you expected to happen**:

Job to be able so successfully dump cluster logs.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-g

[2020-08-04 18:32] hasheddan commented on #18647
/cc @amwat

Thought you might have some insight on this.

[2020-08-04 19:05] spiffxp opened #18650 "release-blocking jobs must run in dedicated cluster: ci-kubernetes-e2e-gce-device-plugin-gpu"
Part of https://github.com/kubernetes/test-infra/issues/18549

Need to figure out what special quotas "gpu-project" projects have: https://github.com/kubernetes/k8s.io/issues/1095.  Need google.com access to compare against the existing google.com projects, so can't make this a help-wanted

Once gpu-project is setup in k8s-infra-prow-builds' cluster, this should be a straightforward "set the `clus

[2020-08-04 19:06] spiffxp opened #18651 "release-blocking jobs must run in dedicated cluster: ci-kubernetes-e2e-gci-gce-ingress"
Part of https://github.com/kubernetes/test-infra/issues/18549

Need to figure out what special quotas "ingress-project" projects have: https://github.com/kubernetes/k8s.io/issues/1093.  Need google.com access to compare against the existing google.com projects, so can't make this a help-wanted

Once ingress-project is setup in k8s-infra-prow-builds' cluster, this should be a straightforward "set t

[2020-08-04 19:17] spiffxp opened #18652 "release-blocking jobs must run in dedicated cluster: periodic-kubernetes-bazel-test"
Part of https://github.com/kubernetes/test-infra/issues/18549

k8s-infra-prow-build doesn't have RBE, so this job needs to be configured not to use RBE (I proved this works and
determined the resource limits that should be used in https://github.com/kubernetes/test-infra/pull/18607)

Per https://github.com/kubernetes/test-infra/pull/18613#issuecomment-668178288 it is important we keep some variant

[2020-08-04 19:22] spiffxp opened #18653 "create or update periodic-kubernetes-bazel-build-canary job to run in k8s-infra-prow-build without RBE"
This is related to but not explicitly part of https://github.com/kubernetes/test-infra/issues/18549
This is also related to https://github.com/kubernetes/k8s.io/issues/846

The equivalent to https://github.com/kubernetes/test-infra/pull/18607 but for bazel build instead of bazel test

Since jobs in k8s-infra-prow-build can't write to gs://kubernetes-release-dev, write to gs://k8s-release-dev inste

[2020-08-04 19:23] spiffxp commented on #18653
/sig testing
/sig release
/wg k8s-infra
/area jobs

Can't make this help-wanted until GCS bucket name / project is decided and GCS bucket is created

[2020-08-04 19:25] amwat commented on #18647
I think those failures have always been there (even when the jobs pass): e.g: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest/1290630579355652104

The only new error I see is a gcloud logging internal error: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest/1290676129757138944#1:build-log.txt%3A12703

let's monitor h

[2020-08-04 19:39] hasheddan commented on #18578
@ZhiFeng1993 noticed a timeout today: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-fast/1290720926400253952

[2020-08-04 20:17] sbueringer commented on #18622
Sounds good. Let's further discuss it here: #18654

[2020-08-04 20:21] ZhiFeng1993 commented on #18578
Thanks for the heads-up. We merged the code yesterday and the job has been running ok for 20 hours. The 2 timeouts happened an hour ago. I'm not sure whether we need to change the config for this job. Will wait for more data.

[2020-08-04 20:23] ZhiFeng1993 commented on #18583
https://prow.k8s.io/?job=pull-kubernetes-bazel-build

[2020-08-04 20:29] spiffxp commented on #18653
Seeing if we can figure out what the GCS bucket name / project names should be https://github.com/kubernetes/k8s.io/issues/846#issuecomment-668795671

[2020-08-04 20:31] alvaroaleman commented on #18640
This seems to be fixed by #18642. Thanks @anthonyrtong !
/close

[2020-08-04 20:31] #18640 closed

[2020-08-04 20:42] arturenault opened #18656 "go get failing with "multiple-value uuid.NewV1() in single-value context""
**What happened**:
Trying to install kubetest with go get fails with the following error:
[code]

**What you expected to happen**:
Successful installation of the package.

**How to reproduce it (as minimally and precisely as possible)**:
Navigate to directory outside of GOPATH (e.g. /tmp) and run `go get k8s.io/test-infra/kubetest`.

[2020-08-04 20:43] spiffxp commented on #18578
The last three runs in a row have timed out.  Looking over the rest of the testgrid history, this isn't the first time we've seen this sort of behavior.  I think 30min is too tight of a timeout.  Going to bump to 40.

[2020-08-04 20:44] hasheddan commented on #18578
Thanks @spiffxp!

[2020-08-04 20:48] spiffxp commented on #18578
Opened https://github.com/kubernetes/test-infra/pull/18657 to address

[2020-08-04 20:58] tpepper commented on #18590
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1290643918492274688

[2020-08-04 21:11] amwat commented on #18647
The latest run seems to have passed: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest/1290721680875851776

[2020-08-04 21:12] tpepper commented on #18530
Based on

 * https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest/1290676129757138944
 * https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-1-16/1290486882538360833

Seems like ci-kubernetes-gce-conformance-* may need higher limits?

[2020-08-04 21:15] #18622 closed

[2020-08-04 21:20] RobertKielty commented on #18595
/assign
/remove-help

[2020-08-04 21:25] arturenault commented on #18656
Interestingly I was able to unblock myself by navigating to repo root (since go get had already cloned it) and running `go install ./kubetest` Something must be different in the go get environment that causes this issue... Can anyone else repro?

[2020-08-04 21:41] spiffxp commented on #18653
Opened https://github.com/kubernetes/k8s.io/pull/1110 with proposal for bucket / project names

[2020-08-04 21:53] #10519 closed

[2020-08-04 22:12] BenTheElder commented on #18622
thanks!

On Tue, Aug 4, 2020 at 2:15 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-08-04 22:28] MushuEE opened #18662 "Gubernator: PY2 App-Engine apps need to be containerized and moved to PY3"
**What happened**:
Google is following the Python community by ending support for Python 2 in favor of Python 3. Although App Engine will provide extended support for Python 2.7, Google3 will be ending Python 2 support October 1, 2020.

**Process**:
The Titanoboa migration is a two-step process: first you need to containerize while using Python 2, then modernize to Python 3. We recommend owners co

[2020-08-04 22:29] MushuEE commented on #18662
/kind cleanup

[2020-08-04 22:30] spiffxp commented on #18651
/assign

[2020-08-04 22:48] spiffxp commented on #18650
[code]

[2020-08-04 22:50] spiffxp commented on #18650
Jobs that use this project type:
- ci-cri-containerd-e2e-gce-device-plugin-gpu
- ci-kubernetes-e2e-gce-device-plugin-gpu
- ci-kubernetes-e2e-gce-device-plugin-gpu-beta
- ci-kubernetes-e2e-gce-device-plugin-gpu-stable1
- ci-kubernetes-e2e-gce-device-plugin-gpu-stable2
- ci-kubernetes-e2e-gce-device-plugin-gpu-stable3
- ci-kubernetes-e2e-gce-gpu-beta-stable1-cluster-downgrade
- ci-kubernetes-e2e-gce

[2020-08-04 22:58] spiffxp commented on #18650
Working on https://github.com/kubernetes/k8s.io/issues/1095 first

[2020-08-04 23:13] dims commented on #18662
what's `Titanoboa`? :)

[2020-08-04 23:22] tpepper commented on #18593
"integration-master" in `config/jobs/kubernetes/sig-testing/integration.yaml` from sig-release-master-blocking has 6 cpu and 20Gi mem and appears to be flaking with random-ish things not running, so I wonder if 7 cpu and 15Gi mem will suffice.  But let's see.

[2020-08-04 23:27] tpepper commented on #18593
/assign

[2020-08-04 23:28] tpepper commented on #18590
/assign

[2020-08-04 23:53] spiffxp commented on #18593
/remove-help
since @tpepper has it

[2020-08-04 23:55] spiffxp commented on #18590
/remove-help
since @tpepper has it

[2020-08-05 01:28] alvaroaleman commented on #13740
/reopen

[2020-08-05 10:02] Evalle commented on #18594
Hi @spiffxp I can work on this issue if you don't mind.
/assign

[2020-08-05 10:36] RobertKielty commented on #18595
@spiffxp PR submitted just want to confirm that 3Gi is enough memory for this job?

[2020-08-05 11:27] jprzychodzen opened #18669 "[kubetest][gke] Timeout ignored in some functions"
In few places there are direct usages of `exec.Command`, instead of wrapping it in `control.FinishRunning`. Effectively timeout is ignored for those commands. We should verify if this is by design, and fix it if needed.

This can prevent releasing Boskos resources, as Boskos resource release is happening outside outside `run` function in `main`. However, if whole kubetest process will be removed,

[2020-08-05 11:59] RobertKielty commented on #18584
/assign
/remove help-wanted

[2020-08-05 12:22] RobertKielty commented on #18585
/assign
/remove help-wanted

[2020-08-05 12:30] RobertKielty commented on #18585
`grep resources:$ -A+6 `find . -name \*.yaml -exec grep -L pull-kubernetes-conformance-kind-ga-only-parallel {} \; | xargs`

[2020-08-05 13:24] cpanato commented on #18586
/assign
i will take this one
/remove-help

[2020-08-05 13:25] cpanato commented on #18589
I will take this one
/assign
/remove-help

[2020-08-05 14:26] RobertKielty commented on #18585
/remove-label help-wanted

[2020-08-05 14:30] RobertKielty commented on #18592
/remove-help
/assign

[2020-08-05 14:37] BenTheElder commented on #18656
kubetest already documents that you must do the clone and go install route.

The reason is that this repo uses `replace` in go.mod which is not respected during go get.

[2020-08-05 14:38] BenTheElder commented on #18656
kubetest2 will replace kubetest in the near future and will be go gettable.

https://github.com/kubernetes/test-infra/blob/master/kubetest/README.md

[2020-08-05 14:38] #18656 closed

[2020-08-05 14:46] BenTheElder commented on #17893
I mean sure we could implement a merge message template but it should still have the user supplied text in it, and that text triggering poor GitHub behavior is the problem here.

We should reject the PR title and inform the user.  We have a command that allows anyone in the organization to retitle the PR for them.

[2020-08-05 15:12] liggitt commented on #18586
fyi: pull-kubernetes-cross is optional as of https://github.com/kubernetes/test-infra/pull/18612

[2020-08-05 15:39] spiffxp opened #18677 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-e2e-gce-network-proxy-grpc"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
-  pull-kubernetes-e2e-gce-network-proxy-grpc

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- s

[2020-08-05 15:39] spiffxp commented on #18677
/help

[2020-08-05 15:40] spiffxp opened #18678 "Make critical jobs Guaranteed Pod QOS: pull-kubernetes-e2e-gce-network-proxy-http-connect"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
-  pull-kubernetes-e2e-gce-network-proxy-http-connect

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following gu

[2020-08-05 15:40] spiffxp commented on #18678
/help

[2020-08-05 16:05] howardjohn opened #18679 "cherrypicker: error message is empty"
**What happened**:

Cherrypicker failed, and the error message is empty: https://github.com/istio/istio/issues/26168#issue-673654271

**What you expected to happen**:

Cherrypicker succeeds, or gives an error message

**How to reproduce it (as minimally and precisely as possible)**:

Happening on all/most Istio PRs

**Please provide links to example occurrences, if any**:

https://github.com/istio

[2020-08-05 16:28] arturenault commented on #18656
Thanks, I appreciate the explanation. Will keep an eye out for kubetest2.

[2020-08-05 16:48] pontiyaraja commented on #18678
/assign

[2020-08-05 17:12] pontiyaraja commented on #18678
@spiffxp `same as pull-kubernetes-e2e-gce (which I think is 4 cpu, slightly above 13 Gi (14?) mem, please doublecheck)` - has 4 core CPU and 14Gi Memory. So its above above 13 Gi.

And will raise a pr for `pull-kubernetes-e2e-gce-network-proxy-http-connect` it has only memory limit of 6Gi
https://github.com/kubernetes/test-infra/blob/ab8cb5abfd6f5304526a982a24f63d33dde78a02/config/jobs/kubernetes/

[2020-08-05 18:26] cpanato commented on #18589
/reopen
to track the changes, will close in a few days

[2020-08-05 20:05] BenTheElder commented on #18669
cc @amwat

[2020-08-05 20:28] matthyx commented on #13413
/remove-lifecycle stale

[2020-08-05 20:29] spiffxp commented on #18678
/reopen
Need to hold this open for soak time
/remove-help
since @pontiyaraja has it

[2020-08-05 20:29] spiffxp commented on #18678
/remove-help
since @pontiyaraja has it

[2020-08-05 20:30] spiffxp commented on #18593
/reopen
Holding open for soak time

[2020-08-05 20:35] spiffxp commented on #3412
way to let the three year anniversary go by without commemorating it

/cc @MushuEE
since you've been working on kettle lately

[2020-08-05 20:36] spiffxp commented on #3412
https://github.com/kubernetes/test-infra/issues/14643 I uncovered some of the assumptions while trying to describe why flake data doesn't show up for decorated jobs

[2020-08-06 00:01] amwat commented on #18669
Do you have any link to a failure by any chance?
We use [reaper and janitor](https://github.com/kubernetes-sigs/boskos#other-components) in CI so as long as the [heartbeating](https://github.com/kubernetes/test-infra/blob/c1964ea60f1f7392aa01a0d30d4d4e65afdb1791/kubetest/main.go#L753-L759) stops when the process is killed the resources will be cleaned up.

[2020-08-06 05:03] pontiyaraja commented on #18678
I will keep an eye on the jobs for the next few days

[2020-08-06 05:21] pontiyaraja commented on #18594
@Evalle please add the resources here

https://github.com/kubernetes/test-infra/blob/232299dc1411aa8d46637eb5bd4d5a4d25dca0d8/config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml#L278

https://github.com/kubernetes/test-infra/blob/206dc7670c0cdfe99916a8e9df7452f6052df797/config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml#L1027

https://github.com/kubernetes/test

[2020-08-06 05:27] pontiyaraja commented on #18677
/assign

[2020-08-06 05:31] pontiyaraja commented on #18677
@spiffxp  `pull-kubernetes-e2e-gce-network-proxy-grpc` job is running now with 6Gi memory. I will update it to 4 CPU and 14Gi memory

[2020-08-06 05:56] Evalle commented on #18594
Hi @pontiyaraja! Thanks for the comment, will do.

[2020-08-06 06:10] jprzychodzen commented on #18669
Actually, this issue was discovered when searching for a resolution for some other, similar problem related to rescheduled pods in cluster. So it's more about increasing resilience, than having a particular error happened because of this code.

Regarding Reaper and Janitor - Yes, they kicked in, however they add extra ~30 minutes. The resource we are using is spare and we want to make a full utili

[2020-08-06 09:11] amwat commented on #18669
Yeah, makes sense. We should definitely track down such instances.
/assign

[2020-08-06 09:27] Evalle commented on #18594
Done, I'm not sure how to cc `@kubernetes/ci-signal` though, looks like `/ cc @kubernetes/ci-signal` doesn't work

[2020-08-06 10:35] pontiyaraja commented on #18594
@Evalle mention `@kubernetes/ci-signal` in your PR Summary

[2020-08-06 13:27] hasheddan opened #18701 "Publish podinfo.json for ProwJobs that fail or timeout on scheduling"
**What would you like to be added**:

If a `ProwJob` fails or is times out before it can be scheduled, the `podinfo.json` is not published as an artifact, but it would be helpful to be able to see it.

**Why is this needed**:

Prow users are given no additional insight when a job fails or experiences a scheduling timeout, which can make it hard to determine how to adjust resource limits and reques

[2020-08-06 13:37] hasheddan commented on #18701
/assign

[2020-08-06 13:46] hasheddan commented on #18701
@alvaroaleman @cjwagner does this sound like a reasonable change to y'all?

[2020-08-06 13:50] alvaroaleman commented on #18701
Conceptionally its absolutely reasonable, the question is what that entails. Right now we delete the pod when we run in this condition which means crier can not upload the `pod.json` anymore.

We could add a finalizer before we delete that gets cleared up by the crier reporter after reporting (that would be a good idea regardless of this concrete situation) however the problem is that we don't kno

[2020-08-06 14:32] vpickard opened #18702 "establish image policy for GPU"
**What should be cleaned up or changed**:
We need to figure out and understand the image policy for GPU tests. It would be great to have someone familiar with this image to help us figure that out.

**Provide any links for context**:

Reference https://github.com/kubernetes/test-infra/pull/11876.

[2020-08-06 14:33] vpickard commented on #18702
@spiffxp @SergeyKanzhelev  Thanks for the pointer. Creating this issue so we don't forget about GPU images.

[2020-08-06 15:34] #16683 closed

[2020-08-06 17:31] #18586 closed

[2020-08-06 17:38] spiffxp commented on #18701
/area prow

It's possible to run prow with only jenkins or tekton pipeline jobs, so I'm not sure making the pod reporter mandatory by default makes sense.

[2020-08-06 17:59] michaelmdresser opened #18706 "Kubekins-e2e fails to run a bazel build when wrapped by runner.sh"
**What happened**:
When running a `bazel build` command as part of a prow job spec (testing with mkpod/mkpj deploying to a GKE cluster), it fails building `python-gflags`. When the command is not wrapped by `runner.sh`, it works fine.

**What you expected to happen**:
The build should complete without incident.

**How to reproduce it (as minimally and precisely as possible)**:
Write a periodic job

[2020-08-06 18:37] #16572 closed

[2020-08-06 19:43] michaelkolber opened #18708 "post-test-infra-push-triage incorrectly reporting URL of built images"
**What happened**:

A `post-test-infra-push-triage` job reported that an image was pushed to gcr.io/k8s-prow.

**What you expected to happen**:

The job should report that the image was pushed to gcr.io/k8s-testimages, where it was actually pushed to, instead of incorrectly saying it was pushed to gcr.io/k8s-prow. This looks like it may be a larger issue with [GCB Builder](https://github.com/kuber

[2020-08-06 19:47] BenTheElder commented on #18708
/assign

[2020-08-06 22:33] #18708 closed

[2020-08-06 23:50] BenTheElder commented on #18708
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-push-triage/1291502926757367808

[2020-08-07 00:08] MushuEE commented on #3412
I wrote up a [document](https://docs.google.com/document/d/1d7ANNKDqsg_yAJUKpW53XddiTci3e1HalePEqhrbNAU/edit?usp=sharing) covering a lot of these questions but would like more input. @fejta I see that you had put several TODO, I would like to take over the cleanup if we decide that there is some action we can take here. I am not sure how to go about finding everything that consumes these `.json` f

[2020-08-07 07:08] matthyx commented on #16793
Hi @BenTheElder sorry for the delay... what's the version of blunderbuss running at the moment?
I have run the current code in master, against the repo as it was when Erik's PR was created and it resulted in:
`time="2020-08-07T09:02:54+02:00" level=info msg="Requesting reviews from users [stevekuznetsov chases2]." plugin=blunderbuss`

I suspect the running version of blunderbuss is somewhat old an

[2020-08-07 07:09] BenTheElder commented on #16793
prow.k8s.io should be updated in lockstep across components, and appears to
be at d23520775f
it is updated approximately once a day on weekdays.

On Fri, Aug 7, 2020 at 12:08 AM Matthias Bertschy <notifications@github.com>
wrote:

[2020-08-07 07:13] matthyx commented on #16793
It doesn't make any sense comparing with what I am seeing...
Do we still have the logs?

[2020-08-07 07:36] BenTheElder commented on #16793
So also skimming it now I see ...

https://github.com/kubernetes/test-infra/blob/9fb86269079f93be4fc612e5fc9855f272ee1359/prow/plugins/approve/approvers/owners.go#L187

Seed:
https://github.com/kubernetes/test-infra/blob/9fb86269079f93be4fc612e5fc9855f272ee1359/prow/plugins/approve/approve.go#L429

Those seeds are hardly using many bits / having much variety ... and PRNGs are normally used repeate

[2020-08-07 07:51] matthyx commented on #16793
Yeah, "random" is a great word...
But still, I don't understand why I get something different as reviewers. Back to the drawing board I guess!

[2020-08-07 13:03] RobertKielty commented on #18594
/remove help-wanted

[2020-08-07 13:06] RobertKielty commented on #18594
/remove help

[2020-08-07 13:07] RobertKielty commented on #18594
/remove-help

[2020-08-07 13:08] RobertKielty commented on #18677
/remove-help

[2020-08-07 14:06] RobertKielty commented on #18585
/remove-help

[2020-08-07 14:45] ameukam commented on #18584
/remove-help

[2020-08-07 16:43] spiffxp commented on #17625
Near 60min
![Screen Shot 2020-08-07 at 9 41 31 AM](https://user-images.githubusercontent.com/49258/89668150-2e30db00-d892-11ea-8f8e-fe9c39d945bc.png)

Also, a wild rewrite in go has appeared! https://testgrid.k8s.io/sig-testing-misc#triage-go, which is looking close to 30min.  Will still need time to vet the results and see what other optimizations are possible before flipping go.k8s.io/triage to

[2020-08-07 16:46] spiffxp opened #18726 "Rewrite triage summarizer in go"
ref: https://github.com/kubernetes/test-infra/issues/12508#issuecomment-499731728
ref: https://github.com/kubernetes/test-infra/issues/17625

The triage summarizer is too slow for the data we're throwing at it.  It's written in python.  Let's rewrite it in go.

There's been work going on for this for a while but I realized we didn't actually have an umbrella issue to track it.  So, now we do.

/as

[2020-08-07 16:52] spiffxp commented on #18726
Proposal presented at SIG Testing meeting 2020-06-30: https://docs.google.com/document/d/1Co9_0Oc5iCtSFiNNVvOe4QpysINPyW6hFHLB4t2xRyU/edit?usp=sharing

[2020-08-07 17:20] ZhiFeng1993 commented on #18583
so far so good.

[2020-08-07 17:21] spiffxp opened #18729 "Re-evaluate set of merge-blocking jobs for kubernetes/kubernetes"
Pulling this out of https://github.com/kubernetes/kubernetes/issues/92937#issuecomment-662178519

Related to but not explicitly part of https://github.com/kubernetes/test-infra/issues/18551

One thing that's come up in discussion over why kubernetes PR's are so hard to merge (https://github.com/kubernetes/kubernetes/issues/92937) is whether we really need so many jobs to run for each and every sin

[2020-08-07 17:22] spiffxp commented on #18729
Comment from @liggitt

[2020-08-07 17:25] spiffxp commented on #18729
https://github.com/kubernetes/test-infra/pull/18728 - to address pull-kubernetes-e2e-gce-device-plugin-gpu

[2020-08-07 19:31] michaelmdresser commented on #18706
May be related to: https://github.com/kubernetes/test-infra/pull/18604

[2020-08-07 19:52] michaelkolber commented on #18726
Files/jobs that will need to be cleaned up after switching over to Go triage:
- [ ] triage/*.py
- [ ] triage/update_summaries-go.sh -> triage/update_summaries.sh
  - [ ] Also in Dockerfile
  - [ ] Also in test-infra-periodics.yaml
- [ ] triage/Dockerfile-go -> triage/Dockerfile
  - [ ] Also in cloudbuild.yaml
- [ ] triage/cloudbuild.yaml:
  - [ ] Remove python builds
  - [ ] Remove `go-` from buil

[2020-08-07 20:17] spiffxp commented on #18651
Looks like ingress-project actually isn't needed for the release-blocking jobs? The canary ran just fine with default quotas.  So a PR to move the release-blocking jobs, using default projects: https://github.com/kubernetes/test-infra/pull/18734

[2020-08-07 21:15] spiffxp commented on #18651
Now that https://github.com/kubernetes/test-infra/pull/18734 has merged, keep an eye on the release-blocking jobs:
- https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress
- https://testgrid.k8s.io/sig-release-1.19-blocking#gce-cos-k8sbeta-ingress
- https://testgrid.k8s.io/sig-release-1.18-blocking#gce-cos-k8sstable1-ingress
- https://testgrid.k8s.io/sig-release-1.17-blocking#gce-cos-

[2020-08-07 22:06] BenTheElder commented on #18726
https://storage.googleapis.com/k8s-gubernator/triage-go/index.html <-- the rewrite
https://storage.googleapis.com/k8s-gubernator/triage/index.html

looks like the `(N today)` disagree substantially? but at least we're seeing similar clusters

[2020-08-07 22:21] alvaroaleman commented on #18701
Make it mandatory when Plank is being used? It should also be mentioned that the pod reporter is somewhat weird in that it is in crier, I believe this was mostly done to avoid implementing a new controller. We could probably instead replaces all occurences in Plank where it today deletes a pod with a `reportAndDeletePod` and remove it entirely from crier?

As a small sidenote we had weird cases wh

[2020-08-07 22:48] spiffxp commented on #18726
I took a quick side-by-side comparison

![Screen Shot 2020-08-07 at 3 18 21 PM](https://user-images.githubusercontent.com/49258/89693993-14f55200-d8c5-11ea-9472-0595a5551d4b.png)

Two things jump out:
- The top cluster is the same failure text, but somehow we're seeing way fewer failures?
- The go rewrite has a number of "Invalid Date" entries

[2020-08-07 22:50] BenTheElder commented on #18726
perhaps a date parsing bug?

On Fri, Aug 7, 2020 at 3:49 PM Aaron Crickenberger <notifications@github.com>
wrote:

[2020-08-08 00:18] spiffxp commented on #18729
https://github.com/kubernetes/test-infra/pull/18649 - proposes demoting pull-kubernetes-e2e-gce in favor of pull-kubernetes-e2e-gce-ubuntu-containerd

[2020-08-08 00:18] spiffxp commented on #18729
https://github.com/kubernetes/test-infra/pull/18612 - moved pull-kubernetes-cross to optional and manually triggered

[2020-08-08 00:40] spiffxp commented on #18650
/assign

[2020-08-08 01:02] spiffxp commented on #18653
https://github.com/kubernetes/test-infra/issues/18653 repurposes the canary job to run in k8s-infra-prow-build without RBE and to write to the gs://k8s-release-dev bucket created via https://github.com/kubernetes/k8s.io/pull/1110

[2020-08-08 01:07] spiffxp commented on #18702
/sig node
/area jobs

[2020-08-08 01:08] spiffxp commented on #18653
/assign

[2020-08-08 01:30] spiffxp commented on #18530
Alright, we've got limits set on all of the release-blocking jobs!  I'm going to flip this test to fail instead of log
[code]

[2020-08-08 01:32] spiffxp commented on #18530
The merge-blocking situation is still pretty incomplete.  I suspect we've at least missed a few release-branch jobs
[code]

[2020-08-08 01:49] #18677 closed

[2020-08-08 02:30] #18594 closed

[2020-08-08 02:38] spiffxp commented on #18592
I'm going to call this done once https://github.com/kubernetes/test-infra/pull/18752 merges, because then this job won't be merge-blocking anymore

[2020-08-08 04:16] spiffxp commented on #18592
/close

[2020-08-08 04:16] #18592 closed

[2020-08-08 20:10] spiffxp commented on #18549
Current status (not counting issues that are held open to monitor jobs)
[code]

Will need to decide how we'd like to define exceptions for the build jobs, and/or dedicate resources to them.

[2020-08-08 20:14] spiffxp commented on #18650
/close
All jobs have run successfully since being migrated over
- https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master&width=20
- https://testgrid.k8s.io/sig-release-1.19-blocking#gce-device-plugin-gpu-1.19&width=20
- https://testgrid.k8s.io/sig-release-1.18-blocking#gce-device-plugin-gpu-1.18&width=20
- https://testgrid.k8s.io/sig-release-1.17-blocking#gce-device-plugi

[2020-08-08 20:14] #18650 closed

[2020-08-08 20:22] spiffxp commented on #18652
https://github.com/kubernetes/test-infra/pull/18613 landed 2020-08-05 ~5pm PT
![Screen Shot 2020-08-08 at 1 18 02 PM](https://user-images.githubusercontent.com/49258/89719093-98707b00-d979-11ea-9f2e-5be7ed344c03.png)

It's unclear how much compute the RBE variant of the job ended up consuming, but it looks like we run slower.  This is still well within release-blocking bounds, but good to know.

I

[2020-08-08 20:28] spiffxp commented on #18579
Per https://github.com/kubernetes/test-infra/issues/18650 these now run in k8s-infra-prow-build so metrics are visible to k8s-infra-prow-viewers@kubernetes.io

[2020-08-08 20:29] spiffxp commented on #18651
/close
I've seen runs for everything but 1.16 and anticipate that will behave the same as the others

[2020-08-08 20:29] #18651 closed

[2020-08-09 12:55] sftim commented on #18388
BTW, the ideal implementation of this will also depend on cross-repository holds (eg documentation waiting on a cherry-pick to the upcoming release).

Could we add the command and the label but hold off on the automation? Simply tracking the holds manually in a consistent way has value for SIG Docs and especially for the docs release team.

[2020-08-09 12:57] sftim commented on #18388
Maybe `do-not-merge/hold-for-dependencies`? We'd only add this once per PR no matter how many dependencies are awaited.

[2020-08-09 12:58] sftim opened #18757 "Mark superseded comments as outdated"
**What would you like to be added**:

When Prow comments on a pull request with, for example, a test status, and that comment supersedes a previous comment, mark the previous comment as outdated (hiding it by default).

**Why is this needed**:
Some pull requests get a long history of GitHub comments showing failed tests, flakes, removal of LGTM, addition of LGTM, etc. It's good to keep that histor

[2020-08-09 13:05] sftim commented on #18757
Also see issue #17056

[2020-08-09 16:00] alvaroaleman commented on #18757
@sftim prow actually does edit the test status comment and possibly removes it if there are no failures anymore. If there is ever more than one test status comment, that's a bug. Could you show some examples of outdated comments?

[2020-08-09 18:06] sftim commented on #18757
Ah, OK. I hadn't noticed the deletions because they don't leave a trace. Now I know that if I see an outdated comment it's either a bug or Prow is about to tidy up.

/close

[2020-08-09 18:06] #18757 closed

[2020-08-09 20:06] ZhiFeng1993 commented on #18579
Memory usage dashboard: https://console.cloud.google.com/monitoring/metrics-explorer?project=k8s-infra-prow-build&timeDomain=6h&pageState=%7B%22xyChart%22:%7B%22dataSets%22:%5B%7B%22timeSeriesFilter%22:%7B%22filter%22:%22metric.type%3D%5C%22kubernetes.io%2Fcontainer%2Fmemory%2Fused_bytes%5C%22%20resource.type%3D%5C%22k8s_container%5C%22%20metadata.user_labels.%5C%22prow.k8s.io%2Fjob%5C%22%3Dmonito

[2020-08-10 09:26] wojtek-t commented on #18729
@mm4tt - re scalability related. We briefly talked about that offline too, and looking into past statistics there aren't many things that were discovered by kubemark-500, especially recently. So indeed it might make sense to keep it just as periodic (for faster detection comparing to 5k-node jobs).

[2020-08-10 10:18] RobertKielty commented on #18530
Looking at this test this morning (filtered on CPU not being zero so as to count the number of job file edits required to finish this out)

[code]

Will ping @spiffxp later about me doing this work.

[2020-08-10 16:18] michaelkolber commented on #18726
The small difference in overall failures is likely due to randomness in how many failures were processed before it bailed due to time shortage. The difference in "today" failures is likely due to all those `Invalid Date`s.

[2020-08-10 16:59] spiffxp commented on #18530
@RobertKielty you'll need to address comments on https://github.com/kubernetes/test-infra/pull/18668 and then that should take care of the node jobs

https://github.com/kubernetes/test-infra/pull/18691 is in flight for the kind jobs

[2020-08-10 17:30] bsdnet commented on #18570
containerd 1.2/1.3 is still in production. We need to figure out what's the policy to retire some tests, for example containerd 1.2.
For the failing tests, we need to try our best to find out whether they provide useful signals. If not, good to remove in the meeting in case people knew how to fix those tests.

[2020-08-10 19:04] chaodaiG opened #18768 "Recurring prow log errors "Failed to clean up repo""
**What happened**: istio prow generates lots of recurring errors with error:
[code]

**What you expected to happen**: no errors

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:
Check https://pantheon.corp.google.com/logs/viewer?project=istio-testing&minLogLevel=0&expandAll=false&timestamp=2020-08-10T18%3A45%3A25.475000000Z

[2020-08-10 19:33] spiffxp opened #18770 "Demoting jobs from kubernetes/kubernetes merge-blocking causes pull-test-infra-gubernator to fail on subsequent PRs"
**What happened**:
https://github.com/kubernetes/test-infra/pull/18667 had to update gubernator/config.yaml to make pull-test-infra-gubernator pass

The PR had nothing to do with gubernator

**What you expected to happen**:
The PR(s) that demoted pull-kubernetes-files-remake and pull-kubernetes-e2e-gce-device-plugin-gpu should have failed to merge until they had updated gubernator/config.yaml

**P

[2020-08-10 19:34] spiffxp commented on #18770
https://github.com/kubernetes/test-infra/issues/18386 has links to other occurrences, closing that in favor of this

[2020-08-10 19:35] spiffxp commented on #18386
/close
Closing in favor of https://github.com/kubernetes/test-infra/issues/18770

[2020-08-10 19:35] #18386 closed

[2020-08-10 19:36] spiffxp commented on #18770
https://github.com/kubernetes/test-infra/pull/18448 attempted to fix this, but didn't?

another PR that ended up breaking pull-test-infra-gubernator: https://github.com/kubernetes/test-infra/pull/18421

[2020-08-10 20:12] #18595 closed

[2020-08-10 20:21] mm4tt commented on #18729
Yep, I agree
@spiffxp, do you need help with removing the kubemark-500 presubmit? Let me know

[2020-08-11 17:41] chases2 opened #18782 "Prow appears to merge before passing tests due to a Crier and Tide race"
I think there's a race condition where Crier marks GitHub's status as Mergeable at the same time that Tide tries to merge it.
If Tide wins, then Crier won't update a merged PR and it _appears_ that a PR has merged before all the GitHub statuses are green.

Note that this does not result in Tide merging a PR that shouldn't be merged; it seems to only affect the status contexts that appear.

Example

[2020-08-11 18:03] BenTheElder commented on #18706
is this fixed after https://github.com/kubernetes/test-infra/pull/18735 ?
cc @hasheddan

[2020-08-11 18:04] hasheddan commented on #18706
@BenTheElder I believe it should be, but will leave it to @michaelmdresser to confirm

[2020-08-11 18:16] ameukam commented on #18587
#18745 got merged August 4 ~9:26 GMT+2. After days of monitoring, I don't see regression or any significant improvement:
![image](https://user-images.githubusercontent.com/2343515/89933509-71cb7200-dc0f-11ea-84ef-0526a8f9de77.png)

I think we can close it.

[2020-08-11 19:14] spiffxp opened #18785 "Kubernetes CI Policy: define metrics/reports that allow us to track whether the situation is getting better"
Part of https://github.com/kubernetes/test-infra/issues/18551

We were experiencing a lot of obvious pain as humans when https://github.com/kubernetes/kubernetes/issues/92937 was opened.

There are a number of theories as to why that pain was being experienced, and we're now acting based on some of those theories.

What we are lacking is:
- metrics that show that pain is being experienced
- metric

[2020-08-11 19:31] spiffxp commented on #18785
"We are experiencing pain" - https://github.com/kubernetes/kubernetes/issues/92937

- PR's weren't merging into kubernetes/kubernetes' main branch for too long
  - can we have an alert for this?
  - need to account for periods when there's nothing to merge (e.g. weekends, holidays)
- one way we could measure/observe PR's not merging is by looking at tide pool size for kubernetes/kubernetes master

[2020-08-11 19:32] spiffxp commented on #18785
"Theories as to why the pain is being experienced"

- we suspect we may have encountered resource contention
  - can we see what the capacity of our build cluster is?
  - can we see it go over capacity?
 - we suspect resource contention may have happened due to a higher-than-usual volume of traffic
  - were we dealing with more PR's than we have historically?
  - were we using more resources per-P

[2020-08-11 19:55] BenTheElder commented on #18785
I would really like to be able to track rates of https://prow.k8s.io/?state=error

currently we do have some metrics that basically track what you'd find on these pages, but it's the currently existing prowjob CRs, so it's influenced by the GC logic, instead of a guage.

[2020-08-11 20:28] spiffxp commented on #18785
Right, [this plank dashboard](https://monitoring.prow.k8s.io/d/e1778910572e3552a935c2035ce80369/plank-dashboard?orgId=1&from=now-60d&to=now) is close to what @BenTheElder wants, but
- it's not based on "events" but the pool of ProwJob CR's created by plank that stick around for 48h before being cleaned up by sinker
- it's for all repos, not just kubernetes/kubernetes
- you need to manually click o

[2020-08-11 20:39] BenTheElder commented on #18785
nit: AIUI it's actually 48 hours OR the most recent result (periodic etc.)

[2020-08-11 21:41] michaelmdresser commented on #18706
I'm encountering the same error using`image: gcr.io/k8s-testimages/kubekins-e2e:v20200811-4afd9ba-master`.

[2020-08-11 21:52] BenTheElder commented on #18706
but not with an older image?

On Tue, Aug 11, 2020 at 2:41 PM Michael Dresser <notifications@github.com>
wrote:

[2020-08-11 22:12] spiffxp commented on #18729
Opened https://github.com/kubernetes/test-infra/pull/18788, leaves the presubmit around but manually triggered / optional.  If you'd rather remove entirely or do something else let me know

[2020-08-11 22:15] amwat opened #18789 "Cleanup usage of kubernetes-release-pull in kubernetes presubmits"
**What should be cleaned up or changed**:
We stage builds to `gs://kubernetes-release-pull` in almost every presubmit job.
But from what I can tell nothing is actually consuming those builds since the jobs also use `extract=local` .
It's a non-trivial overhead to upload the release tars in every presubmit and we should remove all the non-required usages.

**Provide any links for context**:
https:/

[2020-08-11 22:18] michaelmdresser commented on #18706
From what I recall, doing roughly this with an older image (~1 month ago) used to work. The two images notes in the PR definitely are not working. I can try this with a further back image if you'd like to see the results.

[2020-08-11 22:27] BenTheElder commented on #18706
If we regressed on this we should fix it, I'm wondering if there's
something else going on though ...

we use runner.sh and bazel in this image in CI I thought ...

On Tue, Aug 11, 2020 at 3:18 PM Michael Dresser <notifications@github.com>
wrote:

[2020-08-11 22:29] alvaroaleman commented on #18679
/assign

[2020-08-11 22:31] dims commented on #18706
@michaelmdresser can you please share logs when run using latest image?

[2020-08-11 22:43] spiffxp commented on #18770
Proved that #18771 fixed the problem by opening a PR that changed a job's merge-blocking status without updating `gubernator/config.yaml`, which resulted in this test failure: https://github.com/kubernetes/test-infra/pull/18788#issuecomment-672331686

/close

[2020-08-11 22:43] #18770 closed

[2020-08-11 23:08] spiffxp commented on #18785
What data sources are available to us?
- (google.com only) Cloud Monitoring of k8s-prow-builds
- (google.com only) Cloud Logging of k8s-prow
- Cloud Monitoring of k8s-infra-prow-build (available to k8s-infra-prow-viewers@kubernetes.io)
  - [custom prow-build dashboard](https://console.cloud.google.com/monitoring/dashboards/custom/10925237040785467832?project=k8s-infra-prow-build&timeDomain=6h)
  -

[2020-08-11 23:13] michaelmdresser commented on #18706
My `mkpj.sh` and/or `mkpod` are running into some issues right now. As soon as I have those resolved I will post a full log of the failure with the latest image.

[2020-08-11 23:16] michaelmdresser commented on #18706
I found these logs for the latest container from before my `mkpj.sh` and/or `mkpod` started bugging out.

Container logs:
[code]

Running `describe pod`:
[code]

[2020-08-11 23:50] spiffxp commented on #18530
I mentioned earlier today during SIG Testing meeting, but I suspect any of the issues that have been held open for soak time, making sure things are still running ok, etc.  Can now probably be closed.  @RobertKielty mentioned he was going to take a look at some.  I will take a pass at some point but it may not be until Thursday at the rate I'm going

[2020-08-12 00:35] ZhiFeng1993 commented on #18583
/close

I think it's safe to close this one. cc. @RobertKielty

[2020-08-12 00:35] ZhiFeng1993 commented on #18579
/close

I think it's safe to close this one. cc. @RobertKielty

[2020-08-12 00:36] ZhiFeng1993 commented on #18578
/close

I think it's safe to close this one. cc. @RobertKielty

[2020-08-12 00:36] ZhiFeng1993 commented on #18577
/close

I think it's safe to close this one. cc. @RobertKielty

[2020-08-12 07:36] wojtek-t commented on #18729
I think changing it to optional and manually triggered is much better - thanks!

[2020-08-12 10:09] RobertKielty commented on #18596
/close

[2020-08-12 10:09] #18596 closed

[2020-08-12 10:18] RobertKielty commented on #18585
/close

[2020-08-12 10:18] #18585 closed

[2020-08-12 10:25] RobertKielty commented on #18597
/close

[2020-08-12 10:25] #18597 closed

[2020-08-12 10:28] RobertKielty commented on #18578
Thank you @ZhiFeng1993 :)
/close

[2020-08-12 10:28] #18578 closed

[2020-08-12 10:53] RobertKielty commented on #18590
Hi @spiffxp Hi @tpepper

cc @kubernetes/ci-signal

Are we happy to close this off today? relevant links here ...

https://prow.k8s.io/?job=pull-kubernetes-e2e-gce-ubuntu-containerd
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/pull-kubernetes-e2e-gce-ubuntu-containerd (broken link will fix)
https://testgrid.k8s.io/google-gce#pull-kubernetes-e2e-gce-ubuntu-containerd

[2020-08-12 11:09] RobertKielty commented on #18584
Hi @spiffxp
Hi @hasheddan

https://prow.k8s.io/?job=pull-kubernetes-bazel-test
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test

I'm looking at the duration graph on this job ...
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&graph-metrics=test-duration-minutes&width=5

It seems that we are getting more duration spikes in excess o

[2020-08-12 11:34] RobertKielty commented on #18593
@hasheddan @spiffxp @tpepper

It was difficult for me to gather a behavior change for better or worse here.

Will close for now reopen if needed

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&graph-metrics=test-duration-minutes&width=3

/close

[2020-08-12 11:34] #18593 closed

[2020-08-12 14:49] #18679 closed

[2020-08-12 15:21] spiffxp commented on #18584
So for what it's worth, this job currently uses [RBE](https://blog.bazel.build/2018/10/05/remote-build-execution.html) which means the majority of test execution is happening elsewhere.  RBE is alpha only and not currently available over in k8s infra.  We're going to have to switch away from RBE to migrate the job over there.  This is what I've done for periodic-kubernetes-bazel-test (ref: https:/

[2020-08-12 16:20] detiber commented on #17190
Issue was moved to https://github.com/kubernetes/k8s.io/issues/984
/close

[2020-08-12 16:20] #17190 closed

[2020-08-12 16:57] alvaroaleman commented on #16153
/reopen
controller-runtime learned graceful shutdown in the meantime, so this shouldn't be too hard now

[2020-08-12 17:01] alvaroaleman commented on #18782
This isn't crier, this is the tide status controller which runs independently of the tide sync controller and might not update the tide status to green before a PR gets merged, ref: https://github.com/kubernetes/test-infra/issues/16472#issuecomment-640874553

[2020-08-12 17:21] spencer-p opened #18798 "Test reported as failed despite all subtests passing"
**What happened**:

The [pull-kubernetes-verify test reported failure despite 37/37 tests passing](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93762/pull-kubernetes-verify/1293351247897694208).

**What you expected to happen**:

It looks like the test should be marked as passing.

**How to reproduce it (as minimally and precisely as possible)**:

Perhaps by re-running the test on 9

[2020-08-12 17:57] spiffxp opened #18801 "Use different field names for the slack mergewarning config"
**What should be cleaned up or changed**:
https://github.com/kubernetes/test-infra/blob/711fa0e9c594b8acd29cf730780d84beecc044f8/prow/plugins/config.go#L507-L516

- Instead of `WhiteList`, how about `ExemptUsers`
- Instead of `BranchWhiteList`, how about `ExemptBranches`

This will require code changes and config changes.  Suggest we deprecate the old fields and remove them at some later date, wit

[2020-08-12 18:01] MaxRenaud opened #18802 "Unable to clone submodules when using a cookiefile"
**What happened**:
When cloning a repository with submodules, git fails to pull from the submodule repository since the "git config http.cookiefile " directive appears to only apply to the main repo and "git submodule update --init --recursive" ignores it

**What you expected to happen**:
I expect the git submodule to use the specified cookiefile

**How to reproduce it (as minimally and precisely

[2020-08-12 19:16] spiffxp commented on #10423
It would be helpful to understand what API usage we need to look for, and see where things stand (e.g. what's supported? what's not yet supported?)

[2020-08-12 19:39] spiffxp commented on #18591
https://prow.k8s.io/?job=pull-kubernetes-e2e-kind&state=error

Seeing jobs in error state this morning.  Most timing out after ~5min (which I'm assuming means they couldn't get the resources they wanted).

Two timing out at 15-17min

[2020-08-12 22:25] spiffxp commented on #18577
Looking at testgrids

https://testgrid.k8s.io/sig-release-master-blocking#build-master&graph-metrics=test-duration-minutes&width=20 - looks mostly ok

https://testgrid.k8s.io/sig-release-1.19-blocking#build-1.19&graph-metrics=test-duration-minutes&width=20 - same

https://testgrid.k8s.io/sig-release-1.18-blocking#build-1.18&graph-metrics=test-duration-minutes&width=20 - this concerns me
![Screen S

[2020-08-12 22:28] spiffxp commented on #18577
The resource limit changes merged 2020-08-03 4:20pm PDT

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build-stable1/1289866689743163392 - is an example of a build falling prey to this problem _before_ the change was deployed.  So I don't think this is new behavior

[2020-08-12 22:50] spiffxp opened #18808 "ci-kubernetes-build jobs may upload incomplete set of artfacts"
**What happened**:
ci-kubernetes-build jobs that timeout may upload an incomplete set of artifacts, and subsequent runs against the same commit don't rebuild / push the rest of the artifacts

The two timeouts on the left are examples of this
![](https://user-images.githubusercontent.com/49258/90074249-a5f66f80-dcaf-11ea-816e-e5442f8d29e0.png)

**What you expected to happen**:
I expect if ci-kubern

[2020-08-12 22:53] spiffxp commented on #18808
FYI @kubernetes/release-engineering

[2020-08-12 22:54] spiffxp commented on #18577
I opened https://github.com/kubernetes/test-infra/issues/18808 to address the bad build job behavior

Given that it's pre-existing bad behavior, I'm willing to call this done

/close

[2020-08-12 22:55] spiffxp commented on #18577
Thanks @ZhiFeng1993 !

[2020-08-12 22:55] #18577 closed

[2020-08-12 22:55] spiffxp commented on #18530
Anecdotally, while attempting to push some last minute PR's through the door for patch releases, it sure seems like merge-blocking presubmits are still flaking pretty badly.

[2020-08-12 22:56] BenTheElder commented on #18808
so the reason we check for an existing build is also because we broke kops in the past due to hashes changing b/c the build was not fully reproducible ...  so pushing over a partial build may not be the best either, since we currently can't do it atomically

[2020-08-12 23:41] BenTheElder commented on #18530
@spiffxp can you include your anecdata?
there is still some https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=presubmit&state=error, we still ought to do #18226

[2020-08-12 23:53] spiffxp commented on #18808
Using the example above, are you saying a followup build deleting/re-writing everything in `gs://kubernetes-release-dev/ci/v1.18.7-rc.0.36+2a3a36842f8ab9` might break kops?

Yeah lack of atomicity here is annoying

[2020-08-12 23:56] BenTheElder commented on #18808
- deleting everything could break anything currently attempting to use it.
- rewriting URLs to new contents is problematic because some of them contain expected hashes of the others (which kops at least verifies), and now you're racily changing the hash files and the files being hashed
- you can't just write to a new location currently because the location is well known based on the commit

[2020-08-12 23:58] BenTheElder commented on #18808
I'm not sure how much things depend on the commit value other than ci/latest.txt (or similar files) containing it, and that being in the GCS path, so maybe we could do `${COMMIT}+${ATTEMPT}`as the latext.txt contents and partial path, in order to write to a new location?

[2020-08-13 00:38] spiffxp commented on #18530
It's not as straightforward as jobs hitting "error" state, though there are those (I'm just as willing to chalk that up to "now that we'e asking for resources, we're discovering they're not available instead of finding out the hard way")

I'll see if I can find a better way to measure/express this.  But it's the fact that humans have sat on PR's hitting "/test" or "/retest" continually.  Here’s a

[2020-08-13 00:46] spiffxp commented on #18785
How often are people spamming `/retest` or `/test` for kubernetes/kubernetes in the last 90d?
https://k8s.devstats.cncf.io/d/5/bot-commands-repository-groups?orgId=1&var-period=d7&var-repogroup_name=Kubernetes&var-commands=%22%2Fretest%22&var-commands=%22%2Ftest%22&var-commands=%22%2Ftest%20all%22&from=now-90d&to=now
![Screen Shot 2020-08-12 at 5 42 47 PM](https://user-images.githubusercontent.com

[2020-08-13 00:58] spiffxp commented on #18579
/close
Thanks @ZhiFeng1993

[2020-08-13 00:58] #18579 closed

[2020-08-13 01:00] spiffxp commented on #18580
/close
Looking at https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress&width=5&graph-metrics=test-duration-minutes performance is basically the same

[2020-08-13 01:01] #18580 closed

[2020-08-13 01:36] spiffxp commented on #18582
- https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master&width=5&graph-metrics=test-duration-minutes
  - this jumped up in duration and has gotten slightly flakier since switching away from RBE
  - since we've got a separate effort to deflake the unit tests in general I'm ok with this for now
- https://testgrid.k8s.io/sig-release-1.19-blocking#bazel-test-1.19&width=5&graph-metrics=t

[2020-08-13 01:36] spiffxp commented on #18582
/close
calling this good enough

[2020-08-13 01:36] #18582 closed

[2020-08-13 01:38] spiffxp commented on #18581
- https://testgrid.k8s.io/sig-release-master-blocking#bazel-build-master&width=5&graph-metrics=test-duration-minutes
  - if anything this looks like it's gotten less spiky since limits were set
- https://testgrid.k8s.io/sig-release-1.19-blocking#bazel-build-1.19&width=5&graph-metrics=test-duration-minutes
  - ok
- https://testgrid.k8s.io/sig-release-1.18-blocking#bazel-build-1.18&width=5&graph-met

[2020-08-13 01:38] spiffxp commented on #18581
/close
calling this good enough

[2020-08-13 01:38] #18581 closed

[2020-08-13 01:42] spiffxp commented on #18596
This appears to have gotten less noisy since we introduced limits

[2020-08-13 01:45] spiffxp commented on #18590
LGTM
/close

[2020-08-13 01:45] #18590 closed

[2020-08-13 01:49] spiffxp commented on #18678
/close
LGTM, the only reasons it's failed recently are due to build errors unrelated to resource limits

[2020-08-13 01:49] #18678 closed

[2020-08-13 01:51] spiffxp commented on #18677
/close
LGTM, the only failures have been legitimate build errors

[2020-08-13 01:54] spiffxp commented on #18589
/close
Looking at
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-100-performance&width=5&graph-metrics=test-duration-minutes
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce-100-performance

I can't tell that things have gotten substantially worse, so LGTM

[2020-08-13 01:55] #18589 closed

[2020-08-13 01:56] spiffxp commented on #18588
Based on
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce%24
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&width=5&graph-metrics=test-duration-minutes

Looks no appreciably worse, calling this good enough

/close

[2020-08-13 01:56] #18588 closed

[2020-08-13 01:56] spiffxp commented on #18587
/close
Thanks @ameukam !

[2020-08-13 01:56] #18587 closed

[2020-08-13 01:57] spiffxp commented on #18583
/close
Thanks @ZhiFeng1993 !

[2020-08-13 01:57] #18583 closed

[2020-08-13 02:16] spiffxp opened #18811 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-integration"
Part of https://github.com/kubernetes/test-infra/issues/18550

This is a trial balloon of a specific type of job (doesn't need an e2e project)

I'd like to get a sense of what sort of scaling jobs of this type are going to cause k8s-infra-prow-build.  I'd also like to see whether this interferes with existing release-blocking job load.  If so, we should consider a more boilerplate-filled approach

[2020-08-13 02:17] spiffxp opened #18812 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-e2e-kind"
Part of https://github.com/kubernetes/test-infra/issues/18550

This is a trial balloon of a specific type of job (kind)

I'd like to get a sense of what sort of scaling jobs of this type are going to cause k8s-infra-prow-build.  I'd also like to see whether this interferes with existing release-blocking job load.  If so, we should consider a more boilerplate-filled approach of setting up a separat

[2020-08-13 02:18] spiffxp commented on #18812
/kind cleanup

[2020-08-13 02:19] spiffxp opened #18813 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-e2e-gce-ubuntu-containerd"
Part of https://github.com/kubernetes/test-infra/issues/18550

This is a trial balloon of a specific type of job (uses gce-project from boskos)

I'd like to get a sense of what sort of scaling jobs of this type are going to cause k8s-infra-prow-build.  I'd also like to see whether this interferes with existing release-blocking job load.  If so, we should consider a more boilerplate-filled approach

[2020-08-13 02:30] spiffxp commented on #18811
Opened https://github.com/kubernetes/test-infra/pull/18814

[2020-08-13 02:48] spiffxp commented on #18813
Opened https://github.com/kubernetes/test-infra/pull/18815

[2020-08-13 03:05] spiffxp commented on #18811
Things to watch
- https://prow.k8s.io/?job=pull-kubernetes-integration
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&graph-metrics=test-duration-minutes
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-integration
- https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration
- [

[2020-08-13 03:40] spiffxp commented on #18813
Things to watch
- https://prow.k8s.io/?job=pull-kubernetes-e2e-gce-ubuntu-containerd
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-ubuntu-containerd&graph-metrics=test-duration-minutes
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce-ubuntu-containerd
- https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs

[2020-08-13 03:46] spiffxp commented on #18550
I'm trialing migration of three different kinds of jobs to get a feel for whether the rest can be migrated over in a similar fashion, or whether more preparation is needed:
- https://github.com/kubernetes/test-infra/issues/18811 - integration (no e2e project)
- https://github.com/kubernetes/test-infra/issues/18813 - ubuntu-containerd (e2e project)
- https://github.com/kubernetes/test-infra/issues/

[2020-08-13 03:57] BenTheElder commented on #18530
Test flake fixes aren't always back ported to older releases, and I had some concerns about some recent CPU limits being set lower on older branches ...
Flakes on the master branch would be my greatest concern.

The first one I sampled had https://github.com/kubernetes/kubernetes/pull/93929#issuecomment-672893041
that's a failure to download things in bazel WORKSPACE, which doesn't really retry su

[2020-08-13 05:00] BenTheElder commented on #18785
There are also substantial flakes that are not related to infrastructure
health.
We need to avoid conflating all test flakes with infrastructure health.

On Wed, Aug 12, 2020 at 5:46 PM Aaron Crickenberger <
notifications@github.com> wrote:

[2020-08-13 05:33] BenTheElder commented on #18801
/good-first-issue

To accomplish this:
- PR # 1 ...
  - add the new fields adjacent to the old ones.
  - Combine the contents into the new field at config loading time
  - update code reading these fields in memory to use the new fields
  - Add a note to the announcements about migrating
- PR # 2 ...
   - after prow.k8s.io has deployed your change (upgrades are roughly once a day on business days)

[2020-08-13 05:36] BenTheElder commented on #18798
This message in the logs indicates that the job actually timed out before completing, and exited due to the signal from the timeout.

Even if the test cases passed, there is cleanup etc. at the end, timing out is a failure.

[2020-08-13 05:36] #18798 closed

[2020-08-13 05:38] BenTheElder commented on #18789
we should test this in a canary just because this stuff is old and brittle and I can't remember why we were doing this anymore 🙃

[2020-08-13 10:12] #16798 closed

[2020-08-13 13:05] chris-short commented on #12296
@spiffxp @nikhita Is there anything I can do to help push this forward?

[2020-08-13 14:37] spiffxp commented on #18811
Spot check: looks good

One interesting quirk: pull-kubernetes-integration runs (the more frequent runs that start to occur further on the right) appear to use more memory than the ci variants.  Not sure if this is branch-specific at all
![Screen Shot 2020-08-13 at 7 31 10 AM](https://user-images.githubusercontent.com/49258/90147422-0977b000-dd37-11ea-8dbf-369be763393f.png)

CPU usage looks compar

[2020-08-13 15:02] spiffxp commented on #18813
Spot check looks good.  Need to see more traffic before I can really make a fair assessment.

Another thing to keep an eye on: gce-project usage
- https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1&fullscreen&panelId=4&from=now-2d&to=now

[2020-08-13 17:03] spiffxp commented on #18812
/assign

[2020-08-13 17:06] spiffxp commented on #18812
/assign @ameukam
who opened https://github.com/kubernetes/test-infra/pull/18817

[2020-08-13 17:16] MHBauer opened #18826 "testgrid tab groups for sig-node informing/blocking jobs"
`Problem we are solving: if a person is not a part of SIG node - can I ask quickly whether things are OK now or not?`

**What should be cleaned up or changed**:
Add a testgrid tab-group config consisting of existing jobs used for determining whether sig-node tests are in good condition.

We want two new top-level testgrid tab groups:
 1. one for informing (maybe pull/pr/presubmits?)
 2. one to mat

[2020-08-13 17:18] ZhiFeng1993 commented on #18550
/cc

[2020-08-13 17:22] deads2k opened #18827 "when the same test is skipped and failed in junit results, it isn't rendered into failed tests"
**What happened**:

I have a CI [job](https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/release-openshift-origin-installer-e2e-azure-4.6/1293920576947097600) with a test `[sig-network] services when using a plugin that isolates namespaces by default should allow connections from pods in the default namespace to a service in another namespace on a different node [Suite:openshift/conformance

[2020-08-13 19:09] MHBauer commented on #17853
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-benchmark
Looks to be running consistently but with either a timeout on a test or
[code]
Which I do not understand how to interpret.

[2020-08-13 19:13] BenTheElder commented on #17853
the actual failure is probably in other logs, but that log is saying that it can't find the static IP for the control plane node ("master") in GCP so the cluster must not be up

[2020-08-13 19:21] #16800 closed

[2020-08-13 20:43] BenTheElder commented on #18729
Still need to dedupe `pull-kubernetes-e2e-gce` / `pull-kubernetes-e2e-gce-ubuntu-containerd`, I dropped the ball on this one.

[2020-08-13 22:19] ameukam commented on #18591
With #18817 merged, things we can watch :
* [Memory utilization for 6H](https://console.cloud.google.com/monitoring/metrics-explorer?project=k8s-infra-prow-build&timeDomain=6h&pageState=%7B%22xyChart%22:%7B%22dataSets%22:%5B%7B%22timeSeriesFilter%22:%7B%22filter%22:%22metric.type%3D%5C%22kubernetes.io%2Fcontainer%2Fmemory%2Flimit_utilization%5C%22%20resource.type%3D%5C%22k8s_container%5C%22%20meta

[2020-08-13 22:30] ameukam commented on #18591
I'm not sure if it's accurate (or relevant) but we got a better success rate in 48h:

Taken at ~ 12:20 CEST August 14 :
![image](https://user-images.githubusercontent.com/2343515/90192904-2c9c7100-ddc4-11ea-9263-8eca4d30e031.png)

Taken at ~7:30 CEST August 12 :
![image](https://user-images.githubusercontent.com/2343515/90193390-1d69f300-ddc5-11ea-930d-a0317dfc7cfd.png)

[2020-08-14 00:13] spiffxp commented on #18812
Change merged at 2020-08-13 10:24am PT and then again at 12:17pm PT

Things to watch
- https://prow.k8s.io/?job=pull-kubernetes-e2e-kind
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&graph-metrics=test-duration-minutes
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-kind
- https://prow.k8s.io/job-history/gs/kubernet

[2020-08-14 00:19] spiffxp commented on #18812
https://prow.k8s.io/?job=pull-kubernetes-e2e-kind&state=error - so there's a bunch of jobs that errored between 10am and 12pm PT... which lines up roughly with the time between the two PR's merging

I'm guessing `cpu: 7400m` was too much to ask for on k8s-infra-prow-build nodes, and then switching to `cpu: 4` made the jobs schedulable again.

[2020-08-14 00:31] spiffxp commented on #18530
Alright, we've got limits set on all of the merge-blocking jobs! I'm going to flip this test to fail instead of log
[code]

What remains is:
- verifying a few of the merge-blocking jobs are still healthy with their limits in place
- jobs aren't declaring overly egregious resources (I have spot checked this a little bit, and am inclined to defer doing this properly until after moving merge-blocking

[2020-08-14 02:01] alejandrox1 commented on #18826
I think it would be better to organize jobs by whether they should be used to gauge the quality of kubernetes/kubelet, i.e., a blocking job would mean that the job is maintained and if a failure occurs there then something must be fixed.
For anon-blocking job, it could be that it is a "work in progress" and a job failure (or a test failure) does not reflect on the quality of kubernetes/kubelet/etc

[2020-08-14 02:02] alejandrox1 commented on #18826
/sig node
/priority important-soon

[2020-08-14 14:02] spiffxp commented on #18813
/assign

[2020-08-14 14:02] spiffxp commented on #18811
/assign

[2020-08-14 14:08] spiffxp commented on #18811
OK it's pretty clear this job is healthier since it was migrated over
![Screen Shot 2020-08-14 at 7 06 47 AM](https://user-images.githubusercontent.com/49258/90257970-ba944e00-ddfc-11ea-951c-4b7964e041e4.png)

Do we bother tuning resources now? Or wait until all jobs have moved over?

[2020-08-14 14:23] spiffxp opened #18842 "Add a prow.k8s.io/refs.base_ref label to Pods created for ProwJobs"
**What would you like to be added**:
I'd like a `prow.k8s.io/refs.base` label to be added to prow jobs that contains the base branch that a PR is merging into.

**Why is this needed**:
I'm trying to plot resource usage for prow jobs using Cloud Monitoring's metrics explorer.  The `prow.k8s.io/foo` labels that prow sets on pods are available for grouping and filtering in queries.

[e.g. CPU limit u

[2020-08-14 14:36] spiffxp commented on #18842
/area prow

[2020-08-14 14:51] spiffxp commented on #18811
Just because it seemed pretty clear in this case, I'm lowring cpu from 7 to 6 to match the CI job, which is taking basically the same amount of time to run more tests.  https://github.com/kubernetes/test-infra/pull/18844

I'll hold this open to see the results, but am otherwise ready to call this done, and think other jobs of this type can be moved over

[2020-08-14 14:59] spiffxp commented on #18813
At this point I'm ready to say all of the regular e2e project jobs can move over to k8s-infra.  Negligible impact on the k8s-infra boskos gce-project pool.  Presubmit results look basically the same in terms of pass rate.  Not going to bother tuning resource limits further.  We can reevaluate resource limits when more / all of the merge-blocking jobs are over here

[2020-08-14 14:59] spiffxp commented on #18813
/close

[2020-08-14 14:59] #18813 closed

[2020-08-14 15:27] spiffxp commented on #18812
I'm reasonably happy with this

![Screen Shot 2020-08-14 at 8 27 14 AM](https://user-images.githubusercontent.com/49258/90265835-ff71b200-de07-11ea-99a5-3a3c43b44fc7.png)

[2020-08-14 15:28] spiffxp commented on #18591
/close
Yeah I think this is looking much more stable

![](https://user-images.githubusercontent.com/49258/90265835-ff71b200-de07-11ea-99a5-3a3c43b44fc7.png)

[2020-08-14 15:28] #18591 closed

[2020-08-14 15:54] spiffxp opened #18846 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-dependencies"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-dependencies to k8s-infra-prow-build by adding a `cluster: k8s-infra-prow-build` fi

[2020-08-14 15:59] spiffxp opened #18848 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-typecheck"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-typecheck to k8s-infra-prow-build by adding a `cluster: k8s-infra-prow-build` field

[2020-08-14 16:00] spiffxp opened #18849 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-verify"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-verify to k8s-infra-prow-build by adding a `cluster: k8s-infra-prow-build` field to

[2020-08-14 16:02] spiffxp opened #18850 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-conformance-kind-ga-only-parallel"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-conformance-kind-ga-only-parallel to k8s-infra-prow-build by adding a `cluster: k8s

[2020-08-14 16:11] spiffxp opened #18851 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-node-e2e"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-node-e2e to k8s-infra-prow-build by adding a `cluster: k8s-infra-prow-build` field

[2020-08-14 16:27] spiffxp opened #18852 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-e2e-gce"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-e2e-gce to k8s-infra-prow-build by adding a `cluster: k8s-infra-prow-build` field t

[2020-08-14 16:31] spiffxp opened #18853 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-e2e-gce-network-proxy-grpc"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-e2e-gce-network-proxy-grpc to k8s-infra-prow-build by adding a `cluster: k8s-infra-

[2020-08-14 16:32] spiffxp opened #18854 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-e2e-gce-network-proxy-http-connect"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-e2e-gce-network-proxy-http-connect to k8s-infra-prow-build by adding a `cluster: k8

[2020-08-14 16:35] spiffxp commented on #18550
OK, I've broken out everything I think can be done right now, tagged as help-wanted, and added to the [CI Policy Improvements - Next Priority column](https://github.com/orgs/kubernetes/projects/46#column-10246998)

The remaining TODO's need some unblocking work

[2020-08-14 16:44] ZhiFeng1993 commented on #18846
/assign

[2020-08-14 16:45] ZhiFeng1993 commented on #18848
/assign

[2020-08-14 16:45] ZhiFeng1993 commented on #18849
/assign

[2020-08-14 16:47] ahg-g opened #18855 "kubemark benchmarks for affinity and pod spread workloads"
**What would you like to be added**:
Add kubemark benchmarks to test scheduler's affinity and pod spread performance.

We can replicate the tests we have in the integration benchmark:

- [SchedulingPreferredPodAffinity]( https://github.com/kubernetes/kubernetes/blob/3b5aedcef43fa01538518ecbc7de369b27ecd191/test/integration/scheduler_perf/config/performance-config.yaml#L128)

- [SchedulingPreferred

[2020-08-14 16:49] adtac commented on #18855
/assign

[2020-08-14 16:51] ahg-g commented on #18855
moving to perf-tests: https://github.com/kubernetes/perf-tests/issues/1414

/close

[2020-08-14 16:51] #18855 closed

[2020-08-14 17:55] sunmou99 opened #18856 "Followed prow/getting_started_deploy.md, but stuck at "ContainerCreating" step"
**What happened**:
I was following the "Manual deployment". At the step "Add the prow components to the cluster" - "starter-gcs.yaml", I got STATUS:
NAME                                    READY   STATUS              RESTARTS   AGE
crier-8698b4f547-ms5px                  0/1     ContainerCreating   0          6m57s
deck-5f455fdc85-89mmw                   0/1     ContainerCreating   0          7m3s

[2020-08-14 18:31] BenTheElder commented on #18812
follow up: disable the network policy addon in the cluster

[2020-08-14 18:49] spiffxp commented on #18849
/remove-help
since @ZhiFeng1993 has it

[2020-08-14 18:52] ZhiFeng1993 commented on #18846
/remove-help

[2020-08-14 18:53] spiffxp commented on #18848
/remove-help
since @ZhiFeng1993 has it

[2020-08-14 18:58] MHBauer commented on #18826
I think I confused the issue by mentioning periodics and pulls. I should not have done that.

I agree with the "quality" metric, but I'm not sure we can successfully define it.

https://github.com/kubernetes/test-infra/pull/18831#issuecomment-674221926 might have a more concrete proposal of the process we want to follow.

[2020-08-14 19:53] amwat commented on #18789
update:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-e2e-gce-no-stage/1294345203125063682/#1:build-log.txt%3A355

the local path
https://github.com/kubernetes/test-infra/blob/c4628a3a1c2e4c149f669348f351fe78ebd1f258/kubetest/extract_k8s.go#L450

comes from
https://github.com/kubernetes/release/blob/8d6bd15010efeec44018e4847860d464d2682d97/lib/releaselib.sh#L12

[2020-08-14 20:01] michaelmdresser opened #18865 "Test discrepancies identified with kubetest2 - cloud-provider-gcp vs k/k"
**What happened**:
There are new CI jobs that use [kubetest2](https://github.com/kubernetes-sigs/kubetest2) that are intended to serve as benchmarks to ensure parity of functionality between kubetest and kubetest2 before migrating more jobs from kubetest to kubetest2.

1. [ci-cloud-provider-gcp-latest](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/cloud-provider-gcp/c

[2020-08-14 20:08] michelle192837 opened #18866 "Plank crash loops on bad build cluster instead of continuing"
Seeing fatal errors for plank due to a bad build cluster in kubeconfig. Error message `"Error creating build cluster clients." `

Instead of failing to start/falling over, plank should log the error in creating a build cluster client and continue.

/area/prow
/area/prow/plank
/kind oncall-hotlist

[2020-08-14 20:52] michaelmdresser commented on #18865
/cc @amwat

[2020-08-14 22:03] anthonyrtong opened #18867 "Remove preset-service-account label for jobs"
**What should be cleaned up or changed**:

Right now, we use set the **preset-service-account:** "true" in order to provide credentials for the job.  It would be safer and better practice to not use the infrastructure credentials for jobs and instead use a GKE workload identity and other valid credentials for RBE authentication.

We are using this in a majority of test-infra jobs.  For example: ht

[2020-08-14 22:03] anthonyrtong commented on #18867
/area jobs

[2020-08-15 11:30] neolit123 commented on #18850
/assign
/remove-help

[2020-08-15 11:36] RobertKielty commented on #18854
/assign
/remove-help

[2020-08-15 11:43] neolit123 commented on #18850
PR: https://github.com/kubernetes/test-infra/pull/18872

[2020-08-16 03:46] LorbusChris commented on #15043
override still not works for me. (https://github.com/openshift/installer/pull/4054#issuecomment-674474673)
/remove-lifecycle stale

[2020-08-16 20:32] #14743 closed

[2020-08-17 04:22] bartsmykla commented on #18853
/assign
/remove-help

[2020-08-17 18:38] BenTheElder commented on #15043
Someone on the openshift side should look at the logs.
/uncc

[2020-08-18 00:07] amwat commented on #18865
/cc @cheftako @cici37

[2020-08-18 10:52] saschagrunert commented on #16589
/remove-lifecycle stale

[2020-08-18 23:57] fejta commented on #18802
Here is where we configure the cookiefile:

https://github.com/kubernetes/test-infra/blob/738aa93ddd5d8a03efe3d89cdde26ccaa303dece/prow/pod-utils/clone/clone.go#L183-L185

Here is where we init the submodule:

https://github.com/kubernetes/test-infra/blob/738aa93ddd5d8a03efe3d89cdde26ccaa303dece/prow/pod-utils/clone/clone.go#L281

One idea would change the cookiefile to set either `--global` or `-

[2020-08-19 00:49] michelle192837 opened #18897 "Boskos janitor is having issues cleaning up resources"
We're running out of resources in Boskos due to janitor issues (which you can see live on https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1.)

Looks like this started between 3-4 PM PDT (10-11 PM UTC), depending on which resource you look at. From investigating, this does not appear related to a Prow or Boskos update/deployment (the timing is completely off).

@ixdy is curre

[2020-08-19 00:52] michelle192837 commented on #18897
See https://github.com/kubernetes-sigs/boskos/issues/37 for more details.

[2020-08-19 02:27] michelle192837 commented on #18897
Boskos janitor fix was submitted and the Boskos deployments here are updated. Waiting to see if the janitor will catch up on cleaning resources.

[2020-08-19 03:10] hktime opened #18900 "Artifacts link supports for s3/aws"
**What would you like to be added**:
We have been using prow with s3 for a few months, everything seems nice. But the artifacts link in the deck spyglass page appears to only support for gcswebPrefix. Does this link supports for s3.

![image](https://user-images.githubusercontent.com/11371168/90587261-89a48680-e20b-11ea-9f02-01c43f410b5f.png)

**Why is this needed**:
S3 support in prow should be c

[2020-08-19 04:35] BenTheElder commented on #18867
This won't work for some e2e tests that actually consume keys.

[2020-08-19 04:52] ixdy commented on #18897
It looks like the janitor is still failing, this time due to changes introduced in https://github.com/kubernetes-sigs/boskos/pull/35 (which was supposed to make the janitor more stable...)

It seems like the Cloud API `serviceusage.googleapis.com` is not enabled on the project hosting the service accounts used in the janitor. Why this API needs to be enabled in the service account project rather t

[2020-08-19 04:57] ixdy commented on #18897
@spiffxp enabled the API and it seems like things are improving finally.

[2020-08-19 05:06] spiffxp commented on #18897
[code]

Opened https://github.com/kubernetes/k8s.io/pull/1162 to do this properly for k8s-infra-prow-build

[2020-08-19 05:07] spiffxp commented on #18897
<img width="881" alt="Screen Shot 2020-08-18 at 10 06 53 PM" src="https://user-images.githubusercontent.com/49258/90594407-2e3caf00-e19f-11ea-9760-56727b3e9415.png">

(and similar for other pools)

[2020-08-19 17:38] michelle192837 opened #18910 "Spyglass spamming logs with 'found no artifacts'"
Low-priority since links on Deck seem fine still.

There's a lot of logs (multiple every minute) from Spyglass that I thought were normal requests but might be due to a recent change instead? Example:

[code]

Has been happening regularly since 10:08 AM PDT (5:08 PM UTC) yesterday (August 18th), which lines up with yesterday's bump: https://github.com/kubernetes/test-infra/pull/18879.

https://git

[2020-08-19 17:39] michelle192837 commented on #18910
/kind oncall-hotlist
/area prow
/area prow/spyglass

[2020-08-19 17:44] anthonyrtong commented on #18910
Looking into it now!

[2020-08-19 18:19] anthonyrtong commented on #18910
Are these logs always for the same job?

[2020-08-19 19:03] michelle192837 commented on #18910
Not always the same job (there's a lot mentioned in logs), though I am seeing repeats of the same job ID + build number (e.g. for the error in the first post, that pops up repeatedly for a while)

[2020-08-19 19:06] spiffxp commented on #12863
https://github.com/kubernetes/test-infra/pull/18901 takes care of cncf/k8s-conformance (updated description)

[2020-08-19 19:45] anthonyrtong commented on #18910
https://github.com/kubernetes/test-infra/pull/18429

Extra log errors are coming from here because `ListArtifacts()` can now return an empty list.  Before we used to hardcode "build-log.txt" to always be in artifact names so it was actually not possible to ever encounter this error.  The new behavior of determining build-log names based on the actual running pod makes it so that it is now possible

[2020-08-19 20:32] spiffxp commented on #18851
/remove-help
/assign

[2020-08-19 22:38] spiffxp commented on #18852
/remove-help
/assign

[2020-08-19 22:38] spiffxp commented on #18851
Opened https://github.com/kubernetes/test-infra/pull/18915

[2020-08-19 22:46] spiffxp commented on #18852
Tangentially related, it would be nice to know if we even need to use `--stage=gs://kubernetes-release-pull` (ref https://github.com/kubernetes/test-infra/issues/18789).  I already migrated over pull-kubernetes-e2e-gce-ubuntu-containerd which uses it, so I'll do the same here.  But would then like to remove it if it's not needed, or migrate to kubernetes.io-owned `gs://k8s-release-pull` if it's ne

[2020-08-19 22:54] spiffxp commented on #18852
Opened https://github.com/kubernetes/test-infra/issues/18852

The main branch and 1.19 variants aren't merge-blocking anymore, but earlier branches are.  Moving them all over

[2020-08-20 00:05] anthonyrtong commented on #17457
Prow now supports adding multiple containers to the podspec.  You are required to enable decoration and to give each of the test containers unique names.
/close

[2020-08-20 00:05] #17457 closed

[2020-08-20 01:44] anthonyrtong commented on #18910
/close

[2020-08-20 04:33] BenTheElder opened #18918 "multiple prowjobs failed with no status text or comment"
**What happened**:

This:
<img width="820" alt="Screen Shot 2020-08-19 at 9 30 39 PM" src="https://user-images.githubusercontent.com/917931/90717026-4e35a680-e263-11ea-936c-a8b75d16d2b9.png">

- no status link or message
- no failure comment

Unclear why these failed.

I also can't tell if I get to the PR history page via another job https://prow.k8s.io/pr-history/?org=kubernetes-sigs&repo=kind&pr

[2020-08-20 04:37] BenTheElder commented on #18918
/assign @cjwagner
possibly a recent regression? I have seen plenty of scheduling timeouts etc. recently but not something like this until today.

[2020-08-20 08:15] bartsmykla commented on #18853
@spiffxp I opened the PR to test if migration succeeded and the job actually failed with the error:
[code]

[2020-08-20 13:07] alvaroaleman commented on #18918
The jobs are all in `aborted` state :thinking:

[2020-08-20 13:40] BenTheElder commented on #18918
Possibly because I just merged the PR? (We didn't need the results anyhow, it was a docs only change, and PR volume is low enough that tide isn't a big concern).

When I opened the issue none of the job pages had any useful details either.

[2020-08-20 14:56] neolit123 commented on #18850
observations:

the failure rate does not seem to have decreased. given this job is testing GA-only, during code freeze i'd assume flakes, instead of changes in features causing the job to fail.

the overall duration seems to have decreased to ~20minutes on average from ~26/30 minutes?

doesn't seem like it, possibly more runs are needed on the new cluster to say for sure.

i'd assume this kind clu

[2020-08-20 14:57] neolit123 commented on #18850
looks like i need to PR myself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 to see the rest of the links.

[2020-08-20 16:38] cjwagner commented on #18918
Merging the PR caused the remaining jobs to be aborted: https://github.com/kubernetes/test-infra/blob/2efbce017d1a6413667320cd8f979fd40b8ac7b5/prow/plugins/trigger/pull-request.go#L144-L145

It is strange that the pods did eventually run and fail even though the description is "Job triggered" which suggests plank never reached the point of creating a pod. Perhaps we failed to update the PJ after c

[2020-08-20 16:41] BenTheElder commented on #18918
wish we had a prow "audit log" for API calls.

will keep an eye out.

On Thu, Aug 20, 2020 at 9:38 AM Cole Wagner <notifications@github.com>
wrote:

[2020-08-20 17:36] alvaroaleman commented on #18900
This should work by setting `gcs_browser_prefix` for spyglass as described here: https://github.com/kubernetes/test-infra/blob/859d15fc4364265500611c3c137d6dd610dafbcf/prow/spyglass/README.md#L40

[2020-08-20 18:52] sftim commented on #6289
/remove-lifecycle rotten

[2020-08-20 19:11] EricEdens opened #18929 "spyglass: Include junit's classname in UI."
(I'm happy to help with implementation; this request is to discuss whether the feature is desirable, and if so, how it should look when it's finished.)

**Problem**:
spyglass displays the test's name (via junit), but doesn't include its class. Sometimes the same test name is used in multiple classes.

**What would you like to be added**:
The ability to differentiate between tests with the same nam

[2020-08-20 20:21] spiffxp commented on #18729
Brief update, here's one snapshot as I try to find the right way to slice this:

From 2020-07-01 to today, we've gone from 14 to 12 merge-blocking jobs running for every PR against the main branch of kubernetes/kubernetes:
- pull-kubernetes-bazel-build
- pull-kubernetes-bazel-test
- pull-kubernetes-conformance-kind-ga-only-parallel
- pull-kubernetes-dependencies
- ~pull-kubernetes-e2e-gce~ (droppe

[2020-08-20 20:32] spiffxp commented on #18729
From 2020-07-01 to today, we've gone from 18 to 12 always-run jobs running for every PR against the main branch of kubernetes/kubernetes:
- pull-kubernetes-bazel-build
- pull-kubernetes-bazel-test
- pull-kubernetes-conformance-kind-ga-only-parallel
- pull-kubernetes-dependencies
- ~pull-kubernetes-dependencies-canary~ (dropped by https://github.com/kubernetes/test-infra/pull/18421)
- ~pull-kuberne

[2020-08-20 20:52] chizhg commented on #18929
Big +1 to this.
We also have tests that have the same name but are under different packages, including the class name in the UI would definitely help to differentiate them.

/area prow/spyglass

[2020-08-20 21:01] chizhg opened #18930 "Prow jobs frequently exit with "Entrypoint received interrupt: terminated" error when it's run on the Prow service cluster"
**What happened**:
We have [peribolos](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos) running as Prow jobs for Knative, but they fail at times, and the error message is `Entrypoint received interrupt: terminated`. Besides that, there is no error message directly related to peribolos. See https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-peribolos/1296496637077

[2020-08-20 21:01] chizhg commented on #18930
/area prow/peribolos

[2020-08-20 22:23] BenTheElder commented on #18729
`pull-kubernetes-dependencies` could certainly be faster but is relatively cheap overall and has a pretty excellent pass rate.
`pull-kubernetes-typecheck` is reasonably expensive, similar to compiling though cheaper than actually cross compiling, but quick enough and very reliable.

The rest of these involve non-trivial building at least for the beginning of the job, and tend to be have higher fla

[2020-08-21 00:03] #18802 closed

[2020-08-21 00:15] spiffxp commented on #8861
/close
closing this in favor of https://github.com/kubernetes/test-infra/issues/18600

[2020-08-21 00:15] #8861 closed

[2020-08-21 07:44] hktime commented on #18900
Thanks a lot. Maybe what I said is not very clear.
I have set the gcs_browser_prefix options, so this link is visible in the spyglass page.
But I am using s3 instead of gcs, gcs browser is unavailable. Clicking this link only get a "404 not found" response.
What I'm talking about is gcsweb should support all kinds of storage, as a very useful tool.

[2020-08-21 16:37] afirth opened #18939 "Prow: Tackle breaks with default options"
**What happened**:
Tackle failed to deploy to existing (clean) GKE cluster

[code]
**What you expected to happen**:
Deploys ok or prompts for a domain name

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2020-08-22 01:55] BenTheElder opened #18943 "pull-kubernetes-e2e-windows-gce uses excessive resources"
**What happened**:

We got a report in slack about issues with this job timing out. Upon inspection it is apparent that this job is doing a full and complete cross build of Kubernetes for all platforms / architectures in presubmit.

We do a complete _typecheck_ (already decently expensive) and have not run cross in presubmit for some time.

`make release` needs something like 50GB X 8 Cores over a

[2020-08-23 20:32] sunmou99 commented on #18856
Sorry, I mean "I added node type **NodePort**, but still not working".

[2020-08-24 04:46] MushuEE commented on #13432
@spiffxp thanks, will start looking into it.
/assign

[2020-08-24 13:55] zyc-ai opened #18959 "go: error loading module requirements"
**What happened**:

[code]

**What you expected to happen**:

work

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2020-08-24 18:09] afirth commented on #10065
I really, really like the idea of a tool to sync github-teams into the OWNERS_ALIASES file in each repo it manages. That would massively simplify installation in orgs which have a lot of non-OSS stuff, which in turn might lead to more love for this tooling. I guess this tool would have to open PRs, like autobump does? Would that be appropriate inside peribolos, or a new plugin?

[2020-08-24 18:38] hasheddan opened #18965 "Add latest kubectl on stable1 cluster to release blocking dashboards"
**What would you like to be added**:

Currently we have a release blocking job testing the stable1 kubectl version on latest cluster (https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce), but we do not have the reverse skew tests (https://testgrid.k8s.io/sig-cli-master#skew-cluster-stable1-kubectl-latest-gce) on the release blocking board.

**Why is this nee

[2020-08-24 18:49] BenTheElder commented on #10065
I think we should just support github teams in the files instead of PR-ing
~200+ repos constantly.

[2020-08-24 18:49] BenTheElder commented on #10065
Kubernetes has 179 repos upstream and counting.

[2020-08-24 20:16] fejta commented on #18959
Remove the `-u`, kubernetes modules have issues auto updating.

[2020-08-24 20:16] #18959 closed

[2020-08-24 20:42] MushuEE opened #18966 "Kettle pypy source no longer supported by BitBucket"
**What happened**:
https://k8s-testgrid.appspot.com/sig-testing-images#kettle started failing with a 403 on `https://bitbucket.org/squeaky/portable-pypy/downloads/pypy3.6-7.1.1-beta-linux_x86_64-portable.tar.bz2` download

This is because BitBucket suspended support for Mercurial? < guessing based off the alert I see.

![image](https://user-images.githubusercontent.com/7189267/91094086-2a7db200-e6

[2020-08-24 21:40] #15470 closed

[2020-08-24 21:58] alvaroaleman opened #18968 "Spyglass doesn't show buildlog"
**What happened**:

Spyglass doesn't show the buildlog at all after upgrading from  43094a7133 to 64613f6ea7

/kind bug
/area prow
/area prow/deck

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2020-08-24 23:57] #18966 closed

[2020-08-25 00:42] SergeyKanzhelev opened #18972 "Investigate node-kubelet-serial-alpha tab - why test not showing up and whether we need this tab"
**What should be cleaned up or changed**:
The tab [node-kubelet-serial-alpha](https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial-alpha) is empty - doesn't run any tests.

CPUManager tests seems to be matching the definition - has `[Serial]` and `[NodeAlphaFeature:]` [tags](https://github.com/kubernetes/test-infra/blob/bd3b81b6c985971cf10665af396962f1c3136785/config/jobs/kubernetes/sig-no

[2020-08-25 00:42] SergeyKanzhelev commented on #18972
/sig node

[2020-08-25 00:44] SergeyKanzhelev opened #18973 "node-kubelet-master and node-kubelet-conformance seem like duplicates"
CC: @MHBauer

**What should be cleaned up or changed**:

node-kubelet-master and node-kubelet-conformance seem like duplicates. Need to investigate on whether we need both or some restructure is needed.

**Provide any links for context**:

Discussed that needs to be investigated during today's meting: https://docs.google.com/document/d/1fb-ugvgdSVIkkuJ388_nhp2pBTy_4HEVg5848Xy7n5U/edit#

[2020-08-25 00:45] SergeyKanzhelev commented on #18972
/assign

[2020-08-25 04:58] SergeyKanzhelev commented on #18973
/sig node

[2020-08-25 04:59] SergeyKanzhelev commented on #18972
Like @alejandrox1 said this test indeed didn't run because:

[code]

[2020-08-25 05:39] zyc-ai commented on #18959
It's now `cannot find package "gomodules.xyz/jsonpatch/v2"`

[2020-08-25 06:25] SergeyKanzhelev commented on #18972
So CPU manager tests already configured to run in dedicated tab [kubelet-serial-gce-e2e-cpu-manager](https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-cpu-manager). So this tab has no tests to run. I'd suggest to delete this tab altogether.

[2020-08-25 14:44] deedubs opened #18977 "Proposal: requires for ProwJob"
**What would you like to be added**:

I would like to be able to create a DAG of prow jobs that need to run in order, f.e.

[code]

The prior art of this in use would be in CircleCI https://circleci.com/docs/2.0/workflows/#sequential-job-execution-example

**Why is this needed**:

It would allow simple workflows without having to reach for tekton which is a much larger commitment

[2020-08-25 14:44] deedubs commented on #18977
/area prow

[2020-08-25 14:58] deedubs commented on #18856
starter-gcs.yaml doesn't create the secret `gcs-credentials` for you.  You need to do that yourself.

1. Create a service account to run prow under

[2020-08-25 15:24] stevekuznetsov commented on #18968
[code]

Culprit is https://github.com/kubernetes/test-infra/pull/18823

[2020-08-25 15:54] afirth commented on #16002
Thanks for the tip!
adding `OAUTH2_PROXY_COOKIE_SAMESITE:    none` for oauth2 proxy fixes this for chrome users.

[2020-08-25 16:07] MushuEE commented on #18966
Verified Passing

[2020-08-25 16:32] alvaroaleman commented on #18968
Fixed in #18979

[2020-08-25 16:32] #18968 closed

[2020-08-25 17:22] spiffxp commented on #18530
CSV report generated by https://github.com/kubernetes/test-infra/tree/master/experiment/prowjob-report then imported into google sheets

https://docs.google.com/spreadsheets/d/1dgSxfa0jdaYk76S6DqJeazl2TKVAvZcCg-7Yx3U0j-I/edit#gid=1043959272

[2020-08-25 17:41] RobertKielty commented on #18162
Thanks @BenTheElder. Thanks @michelle192837 apologies for not naming test-grid up top and logging this here instead of in the new repo https://github.com/GoogleCloudPlatform/testgrid

I will migrate this off of test-infra and close this.

[2020-08-25 17:41] BenTheElder opened #18983 "ci-test-infra-triage (triage clustering) is failing"
**What happened**:

https://prow.k8s.io/?job=*triage* is failing consistently

**What you expected to happen**:

triage should be succeeding

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-triage/1298307826921246720

[c

[2020-08-25 17:57] BenTheElder commented on #18983
Found it
/assign

[2020-08-25 17:58] RobertKielty commented on #18584
Just checked this again, job duration's have dropped back down to ranging from 10 to 20 mins

[2020-08-25 18:05] ameukam commented on #18812
@spiffxp Is there still something else to do? I think we can close.

@BenTheElder Out of curiosity, what's the reason behind this action :

[2020-08-25 18:15] MHBauer commented on #18826
Okay, #18831 ended by creating two new tabs
 - a [release-blocking](https://testgrid.k8s.io/sig-node-release-blocking#Summary) group to copy the existing release-blocking jobs
 - a [critical](https://testgrid.k8s.io/sig-node-critical) importance group, with some minimal config. Two jobs from other tabs as an example of how to add.

What else to add to critical?

Seems we also want a grab-bag of `W

[2020-08-25 18:26] liggitt opened #18985 "Prioritize PRs with certain labels in merge pool"
**What would you like to be added**:

Currently, of the pool of PRs that are eligible to merge, PR number is used to order merges so oldest eligible PRs merge first.

It would be useful to be able to give an ordered list of label queries that would be prioritized before falling back to PR number sort.

For example:
[code]

[2020-08-25 18:35] ameukam commented on #18652
It's unclear to me what's the correct value to set for the interval of the release-branch variants. Is it still necessary to make this change?

[2020-08-25 19:25] RobertKielty commented on #18854
@spiffxp I submitted a PR for this a few days ago but failed to add "fixes" in order to link it back to this issue.

When you get a chance can you take a look and approve the change? Many thanks.

[2020-08-25 19:57] nyetwurk commented on #16116
```.go/pkg/mod/k8s.io/client-go@v0.17.11/discovery/discovery_client.go:29:2: module github.com/googleapis/gnostic@latest found (v0.5.1), but does not contain package github.com/googleapis/gnostic/OpenAPIv2```

[code]
[code]

Also doesn't work with v0.4

[2020-08-25 20:44] #18701 closed

[2020-08-25 20:51] BenTheElder commented on #18983
It's runing but still trying to catch up I think https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-triage/1298339004017545219

[2020-08-25 21:36] chases2 opened #18990 "transfigure.sh fails if there is a misspelling in the config"
**What happened**:
Transfigure.sh tests for Testgrid and Config lint tests, but does not test for misspellings.

If a user names their dashboard something that the common misspelling tester doesn't like, it will cause transfigure.sh to fail only AFTER the PR is made

**What you expected to happen**:
Instead, testing jobs (when transfigure.sh is run in its dry-mode) should run this misspelling test

[2020-08-25 22:27] spiffxp commented on #18584
/close
Sounds good.  I'm not going to have time to dig deeper into this, I think we can call this good enough for now.

[2020-08-25 22:27] #18584 closed

[2020-08-25 22:31] spiffxp commented on #18530
/close
Discussed during SIG Testing meeting today, we're calling this done!

[2020-08-25 22:31] #18530 closed

[2020-08-25 22:47] BenTheElder commented on #18983
It's now failing because it takes too long, probably because it has too much catching up to do.

[2020-08-25 22:48] spiffxp commented on #18550
IP quota has been bumped to a reasonable level.  I'm now less concerned about trying to mitigate or undo migration of the jobs that have been migrated thus far.

[2020-08-25 23:01] BenTheElder commented on #18983
while the job timed out it managed to upload results during the 15m timeout, so the dashboard is updated at least. filed https://github.com/kubernetes/test-infra/pull/18991

[2020-08-25 23:36] spiffxp commented on #18652
Both jobs have a `fork-per-release-periodic-interval: 6h` annotation set, I think their intervals should be left as-is.

[2020-08-25 23:38] spiffxp commented on #18652
What needs to be done for the release-branch variants is removal of the `--config=remote` and `--remote_instance_name=...` flags so that their `args` look like the `args` of `periodic-kubernetes-bazel-test-master`

[2020-08-25 23:53] spiffxp commented on #18653
I checked in on https://testgrid.k8s.io/sig-testing-canaries#bazel-build and found it's been failing continuously because of a lack of `gcloud`.  Whoops.

PR to correct the image here https://github.com/kubernetes/test-infra/pull/18992

[2020-08-25 23:55] spiffxp commented on #18846
Checking in, how are things looking?

[2020-08-26 00:01] spiffxp commented on #18811
The presubmits-kubenetes-blocking testgrid doesn't go too far in history, so I can't show a lot of steady green.  This was impacted by the same IO issues that plagued the CI variant of integration when we tried switching the build cluster from n1-highmem-8's to n1-highmem-16's (https://github.com/kubernetes/k8s.io/issues/1173#issuecomment-680323791)

I think this is otherwise good to go, will poke

[2020-08-26 01:39] #18900 closed

[2020-08-26 09:47] BenTheElder commented on #18983
This has passed twice now but is still going slower than you would hope.

[2020-08-26 15:41] alvaroaleman commented on #17737
@stevekuznetsov can you please look into this? This is a super arcane and hard to debug bug

[2020-08-26 17:22] cjwagner opened #18999 "podinfo Body() called with no artifacts, which should never happen."
**What happened**:
[code]
**What you expected to happen**:
For this to never happen

/help

[2020-08-26 17:55] ZhiFeng1993 commented on #18846
does the job start failing more often?
does the job start going into error state?
No

does the job duration look worse than before? spikier than before?
No. Haven't noticed any irregular pattern.

do more failures show up than before?
No. Even fewer failures in the past 2 weeks.

is the job wildly underutilizing its CPU limit? if so, perhaps tune down (if uncertain, post evidence in this issue and

[2020-08-26 18:15] ZhiFeng1993 commented on #18848
No

No.

No.

We give CPU limit as 5 and in the past 2 weeks the CPU usages are way below that(see diagram below). Am I looking at something wrong?
/home/zhi/Pictures/Screenshot from 2020-08-26 11-09-06.png

We give memory limit as 36Gi and so far the usage is way below that. I have the same question as the previous one.
/home/zhi/Pictures/Screenshot from 2020-08-26 11-14-51.png

[2020-08-26 20:26] rmohr opened #19005 "status-reconciler gets confused when jobs for different branches have the same name"
**What happened**:

We had a job on master which was optional, non-reporting and alwaysrun. It also got forked to two release branches. Finally we made it required and reporting on master. This seemed to confuse status-reconciler. It was comparing the optional release-branch job with the job on master. Therefore it always thought that the last saved state had the job as not required, since it comp

[2020-08-26 20:29] alvaroaleman commented on #19005
No. The only thing that is enforced is that there is at most one job per org/repo/branch for a given status context

[2020-08-26 20:33] spiffxp commented on #17625
D'oh, and we're back to 2+ hour runs.  Unfortunately triage was failing due to flag parsing reasons so it's not clear precisely when or how this occurred.  Makes me wonder what happened with test results during that window.  Did we suddenly start getting a lot more?
<img width="1119" alt="Screen Shot 2020-08-26 at 1 30 20 PM" src="https://user-images.githubusercontent.com/49258/91353573-4e243200-e

[2020-08-26 20:36] spiffxp commented on #17625
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-triage/1298417743338409985 - the highest duration failure from the above graph

Has this in its log
[code]
That's an 80 minute pause... spent doing what?  GC?  Dealing with swap?  Fighting a noisy neighbor?

Glanced at 2 of the latest ~100min runs and they don't have anything like that.

[2020-08-26 20:40] rmohr commented on #19005
Ah fine, then just going with unique names and explicitly setting the contexts sounds like the way to go.

[2020-08-26 21:36] SergeyKanzhelev commented on #18826
On the meeting we discussed this question. There were a few suggestions - based on people commitment to maintain, based on stability. But in the end we agreed that the approach should be to include all the tests that are well understood and testing features meaningful for large population of users. Long term goal is to have all tests target to be in "critical" tab. But they can start with alpha ta

[2020-08-27 01:35] spiffxp commented on #18785
The screenshot I posted in https://github.com/kubernetes/test-infra/issues/18785#issuecomment-672262425 was from a prototype of https://github.com/kubernetes/test-infra/pull/19007, once that merges we'll be able to drill down and filter a little bit more in https://monitoring.prow.k8s.io/d/e1778910572e3552a935c2035ce80369/plank-dashboard?orgId=1

[2020-08-27 02:14] BenTheElder commented on #18983
Discussed disabling memoize in CI

[2020-08-27 03:41] michaelkolber commented on #18983
/assign

[2020-08-27 16:49] alvaroaleman opened #19014 "Crier gcsk8sreporter sometimes fails to remove its finalizer"
**What happened**:

Sometimes the Crier gcsk8sreporter  doesn't remove its finalizer but returns without an error, resulting in stuck pods
/kind bug
/area prow
/area prow/crier

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2020-08-27 16:51] alvaroaleman opened #19015 "Bugs in Crier gcsk8sreporter result in stuck pods"
**What happened**:

If for whatever reason the Crier gcsk8sreporter  doesn't remove its finalizer but reports success, we end up with stuck pods because nothing ever cleans up that finalizer.

While ending up in this situation in the first place is a bug, we should handle this case better by making something else (sinker?) detect this condition, log an error and clean up.

/area prow
/area prow/cr

[2020-08-27 16:52] alvaroaleman commented on #19015
/assign

[2020-08-27 18:37] #19015 closed

[2020-08-27 20:08] e-blackwelder commented on #13903
Is this still "oncall-hostlist"-worthy?

[2020-08-28 00:25] cjwagner opened #19024 "Tide should ignore archived repositories automatically."
**What would you like to be added**:
Tide query results for archived repositories should be automatically omitted.

**Why is this needed**:
From [GH docs](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-archiving-repositories):

Since Tide won't be able to set statuses or merge PRs in these repos, they should be ignored entirely. Currently Tide will try to creat

[2020-08-28 05:02] habibrosyad commented on #19024
/assign

[2020-08-28 05:59] Ark-kun opened #19028 "Job failed almost immediately for no reason, but still considered Pending by Tide and GitHub"
**What happened**:
Job failed almost immediately for no reason, but is still considered pending by Tide and GitHub
Prow bot does not restart it if instructed (/test, /retest)

**What you expected to happen**:

I expect the job failure to be recognized by the Prow bot and  Tide.

I expect that job not to fail for no reason.

**Please provide links to example occurrences, if any**:

Tide:
`kubeflow-

[2020-08-28 08:16] #18983 closed

[2020-08-28 08:16] BenTheElder commented on #18983
Still slower than ideal but that's not this issue.

[2020-08-28 08:19] BenTheElder commented on #18943
The full cross release build has been very expensive for O(years), we replaced it with typecheck ~2-3 years ago.

Building without bazel is acceptable but still does not require doing a complete cross build.

[2020-08-28 08:29] #18726 closed

[2020-08-28 08:31] BenTheElder commented on #18480
We should still do something about this issue.
I forget if we made the change to kettle... Even if we did we should probably reduce the frequency here.

cc @cjwagner @spiffxp

[2020-08-28 08:33] BenTheElder commented on #18267
cc @cjwagner

[2020-08-28 08:34] BenTheElder commented on #18159
cc @spiffxp

[2020-08-28 08:40] RobertKielty commented on #18726
@michaelkolber nice work, thank you very much!

The @kubernetes/ci-signal team will be making full use of work here and it will feature heavily during on-boarding sessions for new shadows.

Thanks also to @spiffxp @BenTheElder and the test-infra team for coordinating this work.

It's very much appreciated!

[2020-08-28 08:43] BenTheElder commented on #15649
I think this was fixed?

[2020-08-28 08:45] BenTheElder commented on #10561
There are no more GKE CI jobs in this repo.

[2020-08-28 08:45] #10561 closed

[2020-08-28 08:47] #18365 closed

[2020-08-28 08:49] BenTheElder commented on #17815
I don't think this is a test-infra bug. This sounds like a kubernetes bug (in the shell there)

[2020-08-28 08:49] BenTheElder commented on #17719
What's the current status here?

[2020-08-28 08:53] BenTheElder commented on #17625
Not swap. Maybe noisy neighbor but for that long seems implausible.

This sounds more like pathological clustering

[2020-08-28 08:55] BenTheElder commented on #16116
Hi, this is the wrong repo to discuss how Kubernetes handles dependencies.

1.14 is not supported by open source and hasn't been. In fact 1.16 just wrapped up.

This repo is not go getabble unfortunately. You need to clone the repo and build locally so the replace statements are respected.

[2020-08-28 08:55] #16116 closed

[2020-08-28 08:58] BenTheElder commented on #13332
I think this was done? Poke.

[2020-08-28 09:04] pohly commented on #13332
Yes. We are keeping that csi-release-tools issue open because we also started tracking multi-architecture image publishing which still needs to be done for some sidecars, but as far as test-infra is concerned, everything is working.

/close

[2020-08-28 09:04] #13332 closed

[2020-08-28 13:26] alvaroaleman commented on #19014
/assign

[2020-08-28 13:27] michaelkolber commented on #18480
We can do what we did with #18322 and add a condition to the SQL query, but I feel like the right way to do it would be to stop this test from reporting its failures to BigQuery? If that's possible.

[2020-08-28 13:28] detiber commented on #15649
Based on looking at the chart for boskos resource utilization, there are still 10 accounts: https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

[2020-08-28 15:19] RobertKielty opened #19034 "[prow] Job History for pull-kubernetes-e2e-gce has incorrect data"
**What happened**:
Loaded the following in Chrome
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce

**What you expected to happen**:
I expect the page to contain Job run results

but it is mainly comprised of yellow rows with the following data

Build Id : blank
Started : 0001-01-01 00:00:00 +0000 UTC
Duration : 0s
Result : blank

**How to reproduce i

[2020-08-28 15:22] alvaroaleman commented on #19014
What happens here is:
* Job gets aborted (can happen for a variety of reasons)
* This signals plank to delete the pod
* Initially, the job is not complete
* This makes the k8sgcsreporter add the finalizer rather than removing it
* When updating the k8sreporter to go into the cleanup branch instead it will error, because it doesn't want to report a job that is not complete because the pod may still

[2020-08-28 16:15] spiffxp commented on #19015
ref: https://github.com/kubernetes/test-infra/pull/18952 for the PR that introduced the finalizer

[2020-08-28 16:48] MushuEE commented on #18480
So that is Kettle's job, uploading to BQ. We could include a list of exclusions for kettle? And remove them from Triage. Adding them in triage is just pushing them down the stack.

[2020-08-28 16:58] MushuEE commented on #18480
Also... for that benchmark job. Can we expect Fail/Error? Instead of letting them fail?

[2020-08-28 17:18] MushuEE commented on #18480
Ah ok so just found https://github.com/kubernetes/test-infra/blob/1f2f32cb9e0bffdb73252025887ffd3b82e2a12a/kettle/make_db.py#L170-L171

I will put up a PR to add both coverage and banchmark

[2020-08-28 17:24] cjwagner commented on #18480
It was handy when developing, but certainly excessive now. I'll file a PR to switch it to once a day (72x less frequently 🙂 ).

[2020-08-28 17:54] cjwagner commented on #18078
This shouldn't happen any more now that we aren't using boskos images from `gcr.io/k8s-prow` (which aren't published with the rest of the prow images). We could make this more robust by having the autobumper abort if not all `gcr.io/k8s-prow` images can be bumped to the same version.

[2020-08-28 17:58] spiffxp commented on #18550
https://github.com/kubernetes/k8s.io/issues/1187 trying to improve cluster's I/O capacity, I'm wary of moving over pull-kubernetes-bazel jobs until this is addressed

[2020-08-28 18:06] ixdy commented on #17719
It appears that nothing has changed.
I ended up not deleting `gcp_janitor.py` from test-infra, so as to not break these jobs further, but at some point they should probably be updated to use the `gcp_janitor.py` from kubernetes-sigs/boskos instead, since that one is maintained.

[2020-08-28 18:24] BenTheElder commented on #17719
That seems important. Are you going to do this?

[2020-08-28 18:34] ixdy commented on #17719
I think first we'd need to convert these jobs to using podutils, as that would let us more easily clone a second git repository (kubernetes-sigs/boskos). I think there may have been other issues when I was investigating this in May, but I don't remember anymore.

This task is pretty far down my priority list right now, so I'm not sure when I'd get to it.

Given that these jobs have been pretty con

[2020-08-28 18:38] ixdy commented on #17719
Do we even need maintenance-pull-janitor anymore? shouldn't most of the PR jobs be using projects from Boskos, which are already cleaned up by the janitor?

I guess we need the pull-scale-janitor since there's still a single project that's shared for scale testing.

[2020-08-28 18:41] BenTheElder commented on #17719
There are a few PR jobs that are not using boskos still and aren't super easily moved.

People may not have visibility into "janitor failing == an issue somewhere else", so I'm not sure "no complaints" is a useful signal.

[2020-08-28 18:49] RobertKielty opened #19041 "[SPYGLASS] Test Passes absent from Test Result Lens on Spyglass; CP and Node Logs missing"
**What happened**:
Three recent runs of ci-kubernetes-conformance-kind-ga-only failed mid-run and prior to failure had completed passing tests.

**What you expected to happen**:

I expect to see the passing tests of the failed job run presented in the "Test Summary" lens
I expect to see the following expected log files in artifacts/logs dir but they are missing

kind-control-plane, kind-worker, ki

[2020-08-28 19:05] #18078 closed

[2020-08-28 19:14] cjwagner commented on #18267
Here's a PR: https://github.com/kubernetes/test-infra/pull/19042

[2020-08-28 19:17] ixdy commented on #17719
I guess the first real step would be for someone to confirm that these jobs are still needed. Can you confirm we still need these jobs? Which PR jobs still need boskos, and which projects do they use? (For example, the maintenance-pull-janitor is currently failing to clean a project that no longer exists, which suggests the project lists are out of date. I don't have context on which projects woul

[2020-08-28 19:25] BenTheElder commented on #17719
IIRC it's supposed to auto-detect the projects itself?
We have poor visibility into this.

I was going to go ahead and port this to pod-utils as that's actually
generally pretty straightforward and I have less context on boskos changes.

[2020-08-28 21:17] ZhiFeng1993 commented on #18846
Please see the above.

[2020-08-28 22:19] michelle192837 commented on #13371
/reopen

[2020-08-28 22:23] #19024 closed

[2020-08-28 22:51] e-blackwelder opened #19047 "Crier gcsk8sreporter - fails to add finalizer to pod"
I started seeing errors like this today, some time after [bump PR#19021](https://github.com/kubernetes/test-infra/pull/19021) was deployed:

[code]

... for a number of jobs:
* "ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew-stable1"
* "ci-kubernetes-e2e-gce-cos-k8sbeta-default"
* "ci-kubernetes-e2e-gci-gce-flaky-repro"
etc

Investigations indicate that the affected pods are actually running/no

[2020-08-28 22:51] e-blackwelder commented on #19047
Probably related to #19014

[2020-08-28 22:53] e-blackwelder commented on #19047
/assign alvaroaleman

[2020-08-28 23:00] alvaroaleman commented on #19047
@e-blackwelder could you upload the yaml for one of the pods in question? This might be https://github.com/kubernetes/test-infra/pull/19043

[2020-08-28 23:04] e-blackwelder commented on #19047
[code]

[2020-08-28 23:05] cjwagner commented on #19047
[code]

[2020-08-28 23:07] alvaroaleman commented on #19047
Hm those both don't have a deletion timestamp

[2020-08-28 23:13] alvaroaleman commented on #19047
So #19050 will avoid this, still curious to figure out why it happens. Unfortunately the error means that there was no finalizer and the pod got deleted so by the time one sees the log the pod is most likely gone.

Maybe this happens because:
* Plank creates pod
* Pod gets scheduled and almost instantly evicted, before the k8s gcsreporter gets to add the finalizer
* Plank sees that, deletes the po

[2020-08-28 23:18] spiffxp commented on #18652
So right after https://github.com/kubernetes/test-infra/pull/18997 merged, release-1.18 thru release-1.16 versions of this job all started failing with
[code]

The release-1.19 and main branches are fine.  Wonder if we need to cherry-pick something back?

[2020-08-28 23:21] spiffxp commented on #18846
/close
Thanks for the update, I think we can call those done!

I'm fine leaving the CPU where it's at, looking at shorter time ranges it hits ~100% utilization; the larger time windows use larger mean intervals than 1min.

[2020-08-28 23:21] #18846 closed

[2020-08-28 23:24] spiffxp commented on #18811
/close
Calling this done

[2020-08-28 23:24] #18811 closed

[2020-08-28 23:25] #19047 closed

[2020-08-28 23:33] spiffxp commented on #18848
Same story here as in https://github.com/kubernetes/test-infra/issues/18846.  The values displayed in your screenshots are means over an interval, and at larger time ranges that interval changes from 1min to 3hour (or 1hour in memory).  That really flattens peaks and is not representative of the reality these containers experience.

I zoomed out to a week, then clicked/dragged on the chart to sele

[2020-08-28 23:54] spiffxp commented on #18849
/close
Calling this done, thanks for your help!

[2020-08-28 23:54] #18849 closed

[2020-08-28 23:57] spiffxp commented on #18850
/close
Agreed, this looks good.  Thanks for your help!

[2020-08-28 23:58] #18850 closed

[2020-08-28 23:59] spiffxp commented on #18812
We are not, as far as I know, actually doing anything with it?  Maybe it would be better to get the resources back

[2020-08-29 00:01] spiffxp commented on #18812
/close
Calling this done, it continued to behave well once opened up traffic to v1.20 PRs

[2020-08-29 00:01] #18812 closed

[2020-08-29 00:09] sunmou99 commented on #18856
Thanks @deedubs . Now most workloads running except tide:
NAME                                       READY   STATUS             RESTARTS   AGE
crier-6ff8d884db-c7wmj                     1/1     Running            0          2m28s
deck-86799fbf6b-474l5                      0/1     Running            0          2m30s
deck-86799fbf6b-hvltn                      0/1     Running            0          2m

[2020-08-29 00:11] alvaroaleman commented on #19028
@Ark-kun that job failed because the command it executed returned with a non-zero rc, if you look at job pod info -> test:
[code]

[2020-08-29 01:45] spiffxp commented on #18652
In order to get the following back to passing:
- https://testgrid.k8s.io/sig-release-1.18-blocking#bazel-test-1.18
- https://testgrid.k8s.io/sig-release-1.17-blocking#bazel-test-1.17
- https://testgrid.k8s.io/sig-release-1.16-blocking#bazel-test-1.16

Opened cherrypicks for https://github.com/kubernetes/kubernetes/pull/90927
- releease-1.16: https://github.com/kubernetes/kubernetes/pull/94323
- re

[2020-08-29 08:44] Ark-kun commented on #19028
Thank you for telling me about that info page.

There are additional issues then:
* The log is small and the log page shows that the job has failed in 4s (which seems to correlate with the log length). However the `job pod info -> test` page shows status that could only have been attained after several minutes and shows messages missing from the main log.

The most important issue was still that t

[2020-08-29 08:44] #19028 closed

[2020-08-29 08:49] Ark-kun opened #19054 "Prowjob result and finished.json result differ"
**What happened**:

Prow says that PR tests have failed. Tide says they've succeeded.

https://prow.k8s.io/pr-history/?org=kubeflow&repo=pipelines&pr=4427 (The tests have only ran once - there is a single column)
![image](https://user-images.githubusercontent.com/1829149/91632931-45e31700-e999-11ea-848f-705af14584da.png)

https://prow.k8s.io/pr?query=is%3Apr+repo%3Akubeflow%2Fpipelines+author%3ABo

[2020-08-29 10:50] habibrosyad commented on #18999
/assign

[2020-08-29 16:49] alvaroaleman commented on #19054
/retitle Prowjob result and finished.json result differ
/area prow

Thanks for the report, the difference you see here happens because the ProwJob object is considered a success (and thats whats used by Tide and Crier, who does the github reporting), but the `finished.json` file states the job was a failure: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4427/kub

[2020-08-31 16:24] #19014 closed

[2020-08-31 17:11] mmerkes commented on #18973
/assign @mmerkes

[2020-08-31 19:46] spiffxp opened #19067 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-e2e-gce-100-performance"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-e2e-gce-100-performance to k8s-infra-prow-build by adding a `cluster: k8s-infra-pro

[2020-08-31 19:47] spiffxp commented on #19067
/assign

[2020-08-31 19:49] spiffxp commented on #19067
Used a canary job to prove this was possible via https://github.com/kubernetes/test-infra/pull/19049

https://github.com/kubernetes/test-infra/issues/18550 is the PR that migrated these jobs over, merged 2020-08-30 at 10pm PT

[2020-08-31 21:13] spiffxp opened #19070 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-bazel-test"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-bazel-test to k8s-infra-prow-build by adding a `cluster: k8s-infra-prow-build` fiel

[2020-08-31 21:15] #18267 closed

[2020-08-31 21:16] spiffxp commented on #19070
/assign

Starting with a canary job to explore if/how different the presubmit runs off of RBE: https://github.com/kubernetes/test-infra/pull/19069

For the release-blocking / CI variant of this job, we found the job took longer to run: https://github.com/kubernetes/test-infra/issues/18652#issuecomment-670970119

There are also a number of release-branch-specific bug fixes that need to be cherry-pi

[2020-08-31 21:26] spiffxp commented on #19070
It's also worth keeping an eye on progress on https://github.com/kubernetes/kubernetes/pull/93605

[2020-08-31 21:42] spiffxp opened #19073 "Migrate merge-blocking jobs to dedicated cluster: pull-kubernetes-bazel-build"
**What should be cleaned up or changed**:

This is part of #18550

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

Migrate pull-kubernetes-bazel-build to k8s-infra-prow-build by adding a `cluster: k8s-infra-prow-build` fie

[2020-08-31 21:44] spiffxp commented on #19073
Suggest a similar strategy to https://github.com/kubernetes/test-infra/issues/19070#issuecomment-684045140 to migrate: first try a canary job

See if a CI variant has already been migrated or canaried to see if there has been any impact

[2020-08-31 22:24] #13051 closed

[2020-08-31 22:37] knabben commented on #18973
my 2 cents, the `node-kubelet-conformance` uses the `--test-suite=conformance` flag when starting the test.

Without the flag `node-kubelet-master` the command only copy the binaries ("kubelet", "e2e_node.test", "ginkgo", "mounter") to the tar directory (the tar file is created for the e2e node, after copying it).

On the other hand, the flag --test-suite=conformance as value, builds the entire do

[2020-09-01 00:30] spiffxp opened #19078 "go.k8s.io/triage cluster data is much larger than usual"
**What happened**:
I visited go.k8s.io/triage and it said it was downloading 100's of MB of data

**What you expected to happen**:
I'm used to seeing it claim to download ~20-40MB of data (e.g. https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-08-23)

**Please provide links to example occurrences, if any**:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?d

[2020-09-01 00:31] spiffxp commented on #19078
slack thread where we noticed this: https://kubernetes.slack.com/archives/C09QZ4DQB/p1598551413082100?thread_ts=1598472722.065900&cid=C09QZ4DQB

[2020-09-01 00:53] spiffxp commented on #19034
I got there via:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1300326047228628993
- Click "Job History"

And am seeing the same thing

[2020-09-01 01:01] spiffxp commented on #18852
https://github.com/kubernetes/test-infra/pull/18916 merged 2020-08-19 16:40 PT

https://prow.k8s.io/?job=pull-kubernetes-e2e-gce - shows a reasonable amount of traffic since there is now a push to get PR's landed in time for the final cut of kubernetes v1.16.  The only failures appear to be flakes

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&graph-metrics=test-du

[2020-09-01 01:07] spiffxp commented on #19034
This job migrated to k8s-infra-prow-build by #18916 which merged 2020-08-19 16:40 PT, I would like to understand if this is related at all

A known good to compare against:
- https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-ubuntu-containerd
- migrated to k8s-infra-prow-build via https://github.com/kubernetes/test-infra/pull/18815 which merged 2020-08

[2020-09-01 01:19] spiffxp commented on #18652
https://testgrid.k8s.io/sig-release-1.16-blocking#bazel-test-1.16 - cherry-picks for this branch have merged, all tests are green; the tab is still going to appear red / "failing" in summary until enough runs have happened to age out the oom_watcher test as stale (should be 10 IIRC)

[2020-09-01 01:49] spiffxp opened #19080 "(ci|pull)-kubernetes-kind-e2e.* jobs are failing"
**What happened**:
- https://testgrid.k8s.io/sig-release-1.19-blocking#kind-1.19-parallel&width=20
  - 2020-08-31 11:56 PDT - started failing continuously
  - 2020-08-28 13:47 PDT started seeing intermitted incompletes ("still running" according to spyglass)
- https://testgrid.k8s.io/sig-release-1.19-blocking#kind-ipv6-1.19-parallel&width=20
  - 2020-08-31 11:34 PDT - started failing continuously

[2020-09-01 01:57] spiffxp commented on #19080
I think the resource limits we have in place for the presubmit variants of these jobs are what we should be using
- https://prow.k8s.io/?state=error - shows the presubmit variants of these jobs have not been having this problem
- Limit utilization graphs show the CI jobs have plenty of headroom compared to the presubmits

CPU limit utilization for pull-kubernetes-e2e-kind
![Screen Shot 2020-08-31

[2020-09-01 02:34] spiffxp commented on #19080
.... ok, https://prow.k8s.io/?job=pull-kubernetes-e2e-kind made me reconsider setting cpu to 4

I match the memory limit but set CPU to 7 instead of 4, based on the fact that integration and verify are scheduling https://github.com/kubernetes/test-infra/pull/19081

As for integration/verify scheduling... they are exhibiting weird duplicate/close testgrid entries, but I think this is actually an un

[2020-09-01 02:40] spiffxp commented on #19080
/priority critical-urgent,
since these are release-blocking jobs

[2020-09-01 02:41] spiffxp commented on #19080
/priority critical-urgent

[2020-09-01 02:54] spiffxp opened #19082 "testgrid.k8s.io periodics show two entries per run, one still running"
**What happened**:
e.g. https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5
![Screen Shot 2020-08-31 at 7 42 58 PM](https://user-images.githubusercontent.com/49258/91788865-2e3aa700-ebc2-11ea-8073-bbaaaf745af2.png)

e.g. https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master&width=5
![Screen Shot 2020-08-31 at 7 44 00 PM](https://user-images

[2020-09-01 02:56] spiffxp commented on #19082
/area testgrid
testgrid is almost certainly just displaying the symptom and not at fault here

/area prow
crier? plank? something else?

[2020-09-01 03:03] spiffxp commented on #18853
I've opened https://github.com/kubernetes/test-infra/pull/19079 to try out the fix I suggested in https://github.com/kubernetes/test-infra/issues/18853#issuecomment-678396071

[2020-09-01 05:52] MushuEE commented on #19082
Looks like all those dead jobs are stuck in Pending states
![image](https://user-images.githubusercontent.com/7189267/91799623-491a1500-ebdc-11ea-9161-f4a49e716f0b.png)

![image](https://user-images.githubusercontent.com/7189267/91799638-52a37d00-ebdc-11ea-8e1d-b4f9ea673a37.png)

I am not sure if something aborted? Maybe a merge update? @cjwagner told me something about in issue that triggers that

[2020-09-01 06:54] kushthedude commented on #10884
Hey, @alvaroaleman Is this issue addressed? If not, I would like to look into it. As from discussions I can see that we need to introduce retry logic for podutils, right?

[2020-09-01 08:05] BenTheElder commented on #19080
testgrid alerts have lit up like a christmas tree across all multiple branches 😞

[2020-09-01 11:33] petr-muller opened #19084 "prow-cm does not start if one build cluster is not available"
**What happened**:

OpenShift CI Prow instance is configured to run jobs on multiple build clusters:

https://github.com/openshift/release/blob/9c4a7e29df5db3ea689f2c8aeb03ab5536038438/clusters/app.ci/prow/03_deployment/prow-controller-manager.yaml#L54-L57

Today one of the clusters to unavailable, which caused the expected problems to happen at runtime (job pods fail to be created etc), but after

[2020-09-01 14:51] #18866 closed

[2020-09-01 14:51] #19084 closed

[2020-09-01 15:30] MushuEE commented on #19082
It also looks like one is being kicked shortly after each one that is stuck in `Pending` so I assume it is killing the other POD and not writing finished?

[2020-09-01 15:43] #15043 closed

[2020-09-01 16:12] brian-avery commented on #17056
This feature would be awesome to have.

[2020-09-01 16:38] spiffxp commented on #19080
I'm not going to have much time to dig into this today.

After https://github.com/kubernetes/test-infra/pull/19081 merged at 2020-08-31 19:35 PT, CI jobs started scheduling, but consistently failing on one of a few different tests.

If this was purely due to load, I would have expected to see some green from the CI jobs during quieter hours.  Based on what load looked like over the past 24h, I wou

[2020-09-01 16:45] spiffxp commented on #18853
Per https://github.com/kubernetes/kubernetes/pull/94127#issuecomment-684166134 I think that worked

[2020-09-01 16:45] #18999 closed

[2020-09-01 16:50] BenTheElder commented on #19080
Recent merges doesn't explain similar spike in failures on release branches going back to 1.17

Most of these jobs were changed to NOT request that much CPU?

---

FTR pull-kubernetes-e2e-gce runs on 1x n1 (control plane) and 3x n2 (workers), in addition to the prow pod running e2e for 7+ CPU, including the equivilant postsubmit jobs. It is also relying on dedicated disk and more ram.

So while bi

[2020-09-01 17:13] aojea commented on #19080
/cc

[2020-09-01 17:29] BenTheElder commented on #19080
kubelet event related tests went haywire for all currently tested releases:
https://testgrid.k8s.io/sig-release-1.17-blocking#kind-1.17-parallel
https://testgrid.k8s.io/sig-release-1.18-blocking#kind-1.18-parallel
https://testgrid.k8s.io/sig-release-1.19-blocking#kind-1.19-parallel
https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel

seemingly only within the past day or so.

[2020-09-01 17:33] alvaroaleman opened #19085 "Autobumper fails with expected a consistent version for all \"gcr.io/k8s-prow/\" images, but found multipl"
**What happened**:

Run the autobumper for openshift, it fails with

[code]

**What you expected to happen**:

It to not fail

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

I think this is because of some recent changes by @cjwagner . However its essentially an upstream error (the po

[2020-09-01 20:24] MushuEE opened #19086 "sig-testing-prow#push-prow showing consitent auth failures"
**What happened**:
The [sig-testing-prow#push-prow](https://k8s-testgrid.appspot.com/sig-testing-prow#push-prow) job has had several failures in the last week with complaints in the logs about `goauth`
[code]

The job appears to go through several retries before attempting to publish images and fails.
Jobs:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-prow/130046961996

[2020-09-01 20:38] liggitt commented on #19080
is it possible these changes made jobs that previously were serialized run in parallel:
* https://github.com/kubernetes/test-infra/pull/19053
* https://github.com/kubernetes/test-infra/pull/19048
* https://github.com/kubernetes/test-infra/pull/19045 (bumped crier to include the above two commits)

[2020-09-01 20:38] liggitt commented on #19080
@alvaroaleman ^

[2020-09-01 20:45] alvaroaleman commented on #19080
@liggitt crier just reports jobs, it doesn't do anything about their execution, that is plank. Do we have any indications that jobs that should be serialized are getting run in parallel?

[2020-09-01 20:48] liggitt commented on #19080
Not in particular, just looking at test-infra changes that merged around the timeframe things went sideways, and the locking changes stood out. I'm not familiar with how the CI components interact, so just wanted to check what the implications of those changes were, especially this comment:

Is it possible that lock in crier was unintentionally serializing some aspect of the CI queue?

Looking at

[2020-09-01 20:54] alvaroaleman commented on #19080
No, its a distinct binary. Furthermore, the locking is only done for presubmit jobs and the jobs here seem to be periodics. Looking at the examples it seems the cluster is out of capacity, all of them are podPendingTimeout  (which if too short _could_ be caused by scaleup taking too much time) or fail to schedule altogether.

[2020-09-01 21:02] liggitt commented on #19080
presubmits are also badly affected by this... if we're experiencing a scheduling issue, could something letting presubmits swamp nodes affect periodics?

[2020-09-01 21:10] MushuEE commented on #19086
/area prow

[2020-09-01 21:13] alvaroaleman commented on #19080
Sure, if they run on the same cluster (which I guess they do?). Do you have access to that cluster? Are there any graphs that show cluster load?

[2020-09-01 21:25] spiffxp commented on #19080
@aojea may have identified the culprit, he noticed lots of logs of the form
[code]

[cloud logging link](https://console.cloud.google.com/logs/viewer?project=k8s-infra-prow-build&minLogLevel=0&expandAll=false&timestamp=2020-09-01T20:47:18.559000000Z&customFacets=&limitCustomFacetWidth=true&interval=CUSTOM&resource=k8s_cluster&scrollTimestamp=2020-08-31T18:18:33.620197000Z&filters=text:us-central1-

[2020-09-01 22:37] liggitt commented on #19078
but… how will we triage the issue…

/me wanders away, lost

[2020-09-01 22:42] liggitt commented on #19080
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind showed an immediate dramatic improvement

[2020-09-01 23:47] BenTheElder commented on #19080
https://prow.k8s.io/?job=pull-kubernetes-*-kind*
![image](https://user-images.githubusercontent.com/917931/91916762-c85a2800-ec72-11ea-8cb3-0801217cbdf8.png)

[2020-09-01 23:49] spiffxp commented on #19080
I'll hold this open until I see passes on the release-branch CI jobs

[2020-09-01 23:53] BenTheElder commented on #19085
See also #19086 for the upstream push issue

[2020-09-01 23:59] alvaroaleman commented on #19085
Turns out this was because we still had the old location for boskos, causing the bumper to update from there and the latest boskos version in the prow bucket is much older than the latest prow version there.

[2020-09-01 23:59] #19085 closed

[2020-09-02 01:31] cjwagner commented on #19082
Definitely looks like the problem has stopped at least. I did some debugging and turned up the following:

As Grant noted, the pending jobs are paired with runs that start a minute later. I can see from the prowjob.json that those runs are associated with the same ProwJob which suggests that plank replaced the pod for some reason.
From the prow logs for one such ProwJob (in chronological order):
[

[2020-09-02 04:30] BenTheElder commented on #19080
I see seas of green in the recent runs

[2020-09-02 04:30] #19080 closed

[2020-09-02 07:14] Ark-kun commented on #19054
/cc @jlewi Do you happen to have access to the prow cluster/project?
TBH, I'm not fully aware where the jobs are executed.

[2020-09-02 13:44] mborsz commented on #17505
@spiffxp Thanks! This indeed unblocked me. I prepared https://github.com/kubernetes/test-infra/pull/19098

[2020-09-02 17:38] spiffxp commented on #19078
/priority critical-urgent
Well, now it's frozen at `Loading... parsing 0MB.` after climbing to somewhere above 520 MB

[2020-09-02 18:15] ZhiFeng1993 commented on #18848
Thanks @spiffxp for the explanation! I'll update the PR accordingly

[2020-09-02 20:49] e-blackwelder opened #19108 ""Tide Status > GitHub Search Link" broken near utf8=✓ query parameter"
### Reproduction Steps:
- Open Prow in a browser, navigate to [Tide Status](https://prow.k8s.io/tide)
- Expand the "Merge Requirements (click to expand)" area
- Hover over an/all of the "GitHub Search Link" hyperlinks...
- ... Notice they link to
`https://prow.k8s.io/github-link?dest=search?utf8=%E2%9C%93&q=<lots-of-params>`
- Click on any/all of the "Github Search Links"...
- ... Notice the link

[2020-09-02 20:50] e-blackwelder commented on #19108
/area prow

[2020-09-02 20:51] e-blackwelder commented on #19108
/kind bug

[2020-09-02 20:59] chaodaiG commented on #18910
/close

[2020-09-02 20:59] #18910 closed

[2020-09-02 21:05] alvaroaleman commented on #17024
/reopen
/lifecycle active

[2020-09-02 21:30] e-blackwelder commented on #19108
/area prow/deck

[2020-09-02 21:55] e-blackwelder opened #19110 "Prow UI: browser navigation doesn't work between search filters"
### Reproduction Steps:
One (of many) examples:
- Open https://prow.k8s.io/ in a new tab
- In the "all states" filter, select "error"...
- Notice the URL now says https://prow.k8s.io/?state=error (and the results are filtered)
- Press the browser "back" button...

### Expected behavior:
... Your browser navigates back to the default (no filters selected) search results.

### Actual behavior:
... Y

[2020-09-02 22:42] BenTheElder opened #19112 "approval plugin comment should not suggest assigning approvers without getting a review first"
This makes the reiviewer/approver distinction nearly useless because people `/assign` like the comment suggests as soon as they see it.

Nowhere in the large body of text about approval does it suggest that you should let someone review before assigning an approver.

/sig contributor-experience.

[2020-09-02 22:44] mrbobbytables commented on #19112
I agree =/  often reviewers are just short circuited and jump right to approvers.

/sig contributor-experience

[2020-09-02 22:52] BenTheElder commented on #19112
It even says in the message (emphasis is original, not mine)

We basically suggest that they should be doing this next with a flash bold message right near the top.

[2020-09-02 23:11] spiffxp commented on #19108
/help

[2020-09-02 23:45] spiffxp commented on #19067
job isn't failing or erroring excessively

job durration got flatter once migrated
![Screen Shot 2020-09-02 at 4 31 50 PM](https://user-images.githubusercontent.com/49258/92047382-d030cf80-ed39-11ea-9cd2-405f87646bc0.png)

TBD - I'm not sure whether to attribute this to the migration, or to higher PR traffic
![Screen Shot 2020-09-02 at 4 34 54 PM](https://user-images.githubusercontent.com/49258/92

[2020-09-03 15:57] sarthakvarshney8081 opened #19123 "Error: 'dial tcp 192.168.1.2:8443: i/o timeout"

[2020-09-03 16:15] hasheddan opened #19124 "conformance-ga-only (ci-kubernetes-conformance-kind-ga-only) scheduling timeout"
**What happened**:

`conformance-ga-only` has been regularly experiencing pod scheduling timeouts since 8/24/20.

**Please provide links to example occurrences, if any**:

https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1301526736504098817

**Anything else we need to know?**:

Error

[2020-09-04 01:37] #17067 closed

[2020-09-04 03:30] habibrosyad commented on #19108
/assign

[2020-09-04 04:06] habibrosyad commented on #19108
Turns out it's because of the encoding:
https://github.com/kubernetes/test-infra/blob/cf4e9a034b78df8020f52cd370602fdab13f8dd9/prow/cmd/deck/static/tide/tide.ts#L127

`&` in `&q` should be encoded or it will be treated as another query param.

In here: https://github.com/kubernetes/test-infra/blob/cf4e9a034b78df8020f52cd370602fdab13f8dd9/prow/cmd/deck/main.go#L1565

The only accepted query param i

[2020-09-04 05:47] MushuEE commented on #19110
https://github.com/browserstate/history.js maybe?

[2020-09-04 20:36] neolit123 commented on #14647
/remove-lifecycle rotten

usually tests are first added to k/k (suite) and then possibly enabled if focus fields on the job side in k/test-infra.
if the maintainers / contributors somehow miss the k/test-infra step, or if at some point the test-infra focus is removed the test will become unused.

i can imagine a html page that shows statistics of how many runs for a time window (W) certain tests h

[2020-09-04 20:37] neolit123 commented on #14647
/remove-kind bug
/kind feature

[2020-09-04 21:15] aojea commented on #14647
maybe adding an optional job that runs all the Feature tests can give us some idea of the status

[2020-09-05 13:12] matthyx commented on #18990
/assign
/remove-help

[2020-09-05 18:47] alvaroaleman commented on #15611
/reopen

[2020-09-05 19:07] alvaroaleman commented on #10423
I've played around with this a little, the basic workflow  of create pr/tests get triggered/comments get posed/comments get cleaned up/labels get added on command/tide merges with hook/crier/tide running as an app seems to work for both public and private repos: https://github.com/alvaro-bot-prow/test-repo/pull/17

The code for this is here, but its POC quality at best, has no unit tests and is in

[2020-09-05 19:11] alvaroaleman commented on #15611
I somehow thought this would require a github app, but it works perfectly fine with a personal access token, just tested that.

[2020-09-07 19:05] #13994 closed

[2020-09-08 18:39] MushuEE commented on #5210
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/18536/pull-test-infra-gubernator/1303399283109662724

Seen again here

[2020-09-08 19:01] e-blackwelder commented on #19110
It seems like the implementation decision was deliberate:
https://github.com/kubernetes/test-infra/search?q=replaceState&type=Code

... Specifically: using [History.replaceState()](https://developer.mozilla.org/en-US/docs/Web/API/History/replaceState) (over [History.pushState()](https://developer.mozilla.org/en-US/docs/Web/API/History/pushState)).

I don't know the reason why it was done that way.

[2020-09-08 19:45] #18990 closed

[2020-09-08 20:01] #19108 closed

[2020-09-08 20:30] #9514 closed

[2020-09-08 20:48] sftim opened #19147 "Retain LGTM through squashes"
**What would you like to be added**:
If a PR has /lgtm and is squashed, retain the _LGTM_ label.

**Why is this needed**:
Suggested:

in https://github.com/kubernetes/test-infra/issues/9514#issue-362712616

For extra credit: also detect a fast-forward followed by a squash where the fast-forward only includes commits on the main line of the PR's base branch. So if I `git rebase master && git push -

[2020-09-08 20:48] sftim commented on #19147
/area prow

[2020-09-08 20:51] jglick commented on #10423
I think what GitHub deprecated (or might deprecate) was using actual _passwords_ for authenticate. Not personal access tokens.

Besides better security, manageability, and scalability, using an App allows you to use the Checks API, which can provide a nicer experience than adding comments to a PR. A check can also include buttons wired up to arbitrary actions, as an alternative to parsing slash-co

[2020-09-09 00:18] MushuEE opened #19150 "Add "Deployment/Debug" section to Triage Docs"
**What should be cleaned up or changed**:
Triage currently doesn't have anything in the ReadMe about deployment. There is a job for push and update but beyond that there is no instructions on using the MakeFile for manual work or debugging.

**Provide any links for context**:
[ReadMe](https://github.com/kubernetes/test-infra/blob/master/triage/README.md) Looks at Kettle for inspiration.
/assign
/a

[2020-09-09 07:40] BenTheElder commented on #19123
this issue does not have anywhere near enough detail to be actionable.

[2020-09-09 07:41] BenTheElder commented on #19147
https://github.com/kubernetes/test-infra/issues/6353
this is supposed to exist IIRC but may be bugged

[2020-09-09 12:00] RobertKielty commented on #18853
Hi @bartsmykla, have you had a chance to submit the changes?
cc @spiffxp

[2020-09-09 12:22] hasheddan opened #19155 "[Flaky Test] node-kubelet-1.19 (ci-kubernetes-node-kubelet-1-19)"
**What happened**:

`node-kubelet-1.19 (ci-kubernetes-node-kubelet-1-19)` is flaking due to:

[code]

**What you expected to happen**:

The job to run successfully.

**Please provide links to example occurrences, if any**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-1-19/1303662016363237378
https://testgrid.k8s.io/sig-release-1.19-blocking#node-kubelet-1.19

**

[2020-09-09 14:15] RobertKielty commented on #18851
@spiffxp I marked this as In Progress based on #18915 having merged.

When can we call this complete?

[2020-09-09 14:19] RobertKielty commented on #18852
@spiffxp I this moved to In Progress. Will have a look at #19034 ...

[2020-09-09 14:23] RobertKielty commented on #19034
I think next step here is to track down the source data in the bucket that job_history reads and see why is parsed oddly.

I'll see if I can find the data and report back.

[2020-09-09 14:57] chaodaiG opened #19157 "Sinker stopped deleting pods after prow bump"
**What happened**:
Sinker stopped deleting pods after bumping prow https://github.com/kubernetes/test-infra/pull/19105

**What you expected to happen**:
Sinker work properly

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2020-09-09 14:58] chaodaiG commented on #19157
Reverting the bump for now: https://github.com/kubernetes/test-infra/pull/19156

[2020-09-09 15:02] neolit123 commented on #19155
could be a temporary outage since yesterday. we should probably wait for more runs.

/sig testing
/remove-kind bug
/kind flake

[2020-09-09 15:40] cpanato commented on #19157
/subscribe

[2020-09-09 16:57] chaodaiG commented on #19157
The reverted changes are: https://github.com/kubernetes/test-infra/compare/b5ff4681c3...94d8b4dfcd

[2020-09-09 17:45] cmluciano opened #19160 "SIG Network test group for blocking jobs"
**What should be cleaned up or changed**:
A colleague of mine created a public collection of sig-node test jobs that are critical to determining sig-node test condition. SIG-Net would benefit from a similar job collection for network related jobs that may be blocking a release or consistently failing. We currently have the [sig-network-test-failures](https://groups.google.com/g/kubernetes-sig-netw

[2020-09-09 17:46] cmluciano commented on #19160
cc @aojea @danwinship for any further ideas on what we should add or remove to signal overall sig-net test health

[2020-09-09 17:46] cmluciano commented on #19160
/assign

[2020-09-09 17:47] chaodaiG opened #19161 "Crier: gerrit reporter delayed by 50 minutes, and duplicate reporting"
**What happened**:
After bumping prow from https://github.com/kubernetes/test-infra/compare/967ee0e48b...b5ff4681c3, crier gerrit reporter reported on gerrit label ~50 minutes after all jobs voting for the label finished. Also, the reporter reported N times the same message when there are N jobs voting on the same label

**What you expected to happen**:
Crier gerrit reporter delay no more than a c

[2020-09-09 17:48] chaodaiG commented on #19161
cc @alvaroaleman

[2020-09-09 17:48] chaodaiG commented on #19161
cc @cjwagner

[2020-09-09 18:32] chaodaiG commented on #19157
Based on sinker logs, there was no error listing pods or deleting pods, so it seems like the problem is at listing pods, which could possibly related to https://github.com/kubernetes/test-infra/pull/19090
+ @alvaroaleman for insights

[2020-09-09 20:12] michaelkolber commented on #19078
So, as of now, jobs are taking ~11 minutes and producing ~50MB of data, which is normal.

Something happened at [midnight between 9/07 and 9/08](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-test-infra-triage?buildId=1303148165137960960), with runtimes dropping from ~40 minutes to the current ~11 and output size dropping from ~250MB to the current ~50. A similar drop happened betwe

[2020-09-09 21:04] spiffxp commented on #19067
Checking in a few days later, I'm going to chalk the increased failure rate up to PR traffic
![Screen Shot 2020-09-09 at 2 01 28 PM](https://user-images.githubusercontent.com/49258/92654631-f65bef80-f2a4-11ea-8d64-1f7a32e7c4ca.png)

I'm happy enough with this to call it closed

/close

[2020-09-09 21:04] #19067 closed

[2020-09-09 22:52] spiffxp commented on #18851
PR merged 2020-08-19, which is too far ago to be able to cleanly show before/after data using testgrid or prow.k8s.io

From a local grafana instance I have that runs queries against k8s-gubernator:build, it looks like the job runs more reliably and with a comparable failure rate under load.
<img width="877" alt="Screen Shot 2020-09-09 at 3 40 48 PM" src="https://user-images.githubusercontent.com/4

[2020-09-09 22:53] spiffxp commented on #18851
/close
I think this is good enough

Apologies for falling behind on this one, it should have been in Monitoring, and I just didn't have time to sit still and check in on it until now.

[2020-09-09 22:53] #18851 closed

[2020-09-09 22:58] spiffxp commented on #18853
This job was made non-blocking via https://github.com/kubernetes/test-infra/pull/19033 I would like to see it restored to blocking if we're confident it's been fixed

[2020-09-09 23:02] spiffxp commented on #18853
I'm keeping an eye on https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=94127 and think we should trigger a few more runs

[2020-09-09 23:36] spiffxp commented on #19078
/remove-priority critical-urgent
/priority important-soon
We should figure out what the culprit is and filter for it, but I'll drop priority since the tool is more usable now

[2020-09-10 00:10] spiffxp commented on #19078
The drops for posterity
![Screen Shot 2020-09-09 at 4 37 49 PM](https://user-images.githubusercontent.com/49258/92665206-cfa8b380-f2ba-11ea-80f5-5ef4b71a35c4.png)

[2020-09-10 00:13] spiffxp commented on #18854
https://github.com/kubernetes/test-infra/pull/19153 has a merge conflict

I'll trigger a few more runs and keep an eye on https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=94127

This job runs so infrequently that as long as its behavior looks close to the gce or ubuntu e2e jobs I'll be happy with it once the real job is replaced with the changes in the canary (minus the testgrid d

[2020-09-10 00:15] spiffxp commented on #19067
https://github.com/kubernetes/kubernetes/issues/94450 may be the spike in failures (we're not sure what the root cause is but have mitigated by removing the bad project out of the pool)

[2020-09-10 00:26] spiffxp commented on #18848
/close
Checking back in, this looks good enough to call done

[2020-09-10 00:27] #18848 closed

[2020-09-10 00:29] spiffxp commented on #19070
https://github.com/kubernetes/kubernetes/pull/93605 has merged, and we started to see 3 consecutive failures in the CI jobs which don't run in RBE.  Those flakes have since been addressed, but I think that's the cue to start moving on this again

[2020-09-10 00:38] spiffxp commented on #19070
Test durations look roughly equivalent between these two jobs that run `bazel test` without RBE, but the CI job is requesting 7 cpu while the PR job is requesting 4.  I'd like to stick with 4 for the non-canary job and see how it behaves with real PR traffic.
- https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-bazel-test-canary
- https://prow.k8s.io/job-histor

[2020-09-10 02:09] spiffxp commented on #18550
https://github.com/kubernetes/k8s.io/issues/1231 we're starting to hit the max nodepool size of 90 so I'd like to increase to 150

[2020-09-10 05:17] MushuEE commented on #18411
/close

[2020-09-10 05:18] #18411 closed

[2020-09-10 07:03] matthyx commented on #11994
@nikhita @parispittman do you still need a hand at this?
Should it be a new plugin, or rename+modify `heart`?

[2020-09-10 07:03] matthyx commented on #18175
/assign

[2020-09-10 09:12] aojea commented on #19160
I think we should start listing the "apis" we own and the components, ie..

apis:
* endpoints/endpoints slices
* ingress/service API
* services
* network policy
* dns?
* ...

components:
* kube-proxy (iptables, ipvs, ...)
* some parts of the kubelet?? (node addresses/kubelet network)
* ...

and then investigate how well we are covering those and report based on area, ideally we should be able to r

[2020-09-10 09:39] petr-muller commented on #18175
There's https://github.com/kubernetes/test-infra/pull/19029 but it does not seem like a complete fix yet.

[2020-09-10 15:00] spiffxp commented on #19070
PR merged 2020-09-09 11:30pm PT, job has started failing a lot more and duration is up near 1h

So, let's bump CPU and see if it's more of the same.  If so, I think we're encountering many more flakes with https://github.com/kubernetes/kubernetes/pull/93605 merged

[2020-09-10 15:05] liggitt commented on #19070
https://github.com/kubernetes/kubernetes/pull/93605 bumped to run each test 3x. That didn't increase runtime in the RBE config, but apparently that was because the work was being done off machine in parallel.

The post-submit that is not running in RBE takes ~3x as long (~45 minutes vs ~15 minutes), so the 3x run seems to affect local runtime linearly (which makes sense).

[2020-09-10 15:07] spiffxp commented on #19070
Duration going up linearly makes sense, it's the volume of flakes that bothers me.  Let's see if raising CPU via https://github.com/kubernetes/test-infra/pull/19179 helps with that

[2020-09-10 15:27] spiffxp commented on #18599
Some prior art to serve as starting points:
- `go run ./experiment/prowjob-report/main.go --config ./config/prow/config.yaml --job-config ./config/jobs --format csv > jobs.csv` which I periodically reimport into [this spreadsheet](https://docs.google.com/spreadsheets/d/1dgSxfa0jdaYk76S6DqJeazl2TKVAvZcCg-7Yx3U0j-I/edit#gid=1043959272)
  - the `owner_dash` column is a guess on who should own the job

[2020-09-10 18:00] fejta commented on #15662
/reopen
/remove-lifecycle rotten
/kind oncall-hotlist

[2020-09-10 18:33] spiffxp commented on #19070
I'm not actually sure whether we're being smart about which tests get run or not

https://github.com/kubernetes/test-infra/pull/19179 merged at 8:30am PT today, looks like it's making a difference
![Screen Shot 2020-09-10 at 10 59 26 AM](https://user-images.githubusercontent.com/49258/92777113-b94f3600-f354-11ea-8fe9-2d26b8f08c9c.png)

I'll tee up dropping the runs to 2 but would like to wait a bu

[2020-09-10 18:34] fejta commented on #19157
Try and use a PR next time :)

[2020-09-10 18:59] spiffxp commented on #13063
/remove-lifecycle rotten
/reopen
Maybe this quarter? Or super open to any help anyone else wants to provide?

[2020-09-10 19:16] #15758 closed

[2020-09-10 20:06] spiffxp commented on #19070
Opened https://github.com/kubernetes/kubernetes/pull/94699 for running 2 instead of 3 times

[2020-09-10 21:20] spiffxp commented on #18801
I missed #18995 and https://github.com/kubernetes/test-infra/pull/19000 ended up taking care of "PR # 2"

[2020-09-11 01:58] chizhg opened #19186 "Lots of APIs used by the github client are being deprecated"
**What should be cleaned up or changed**:
Lots of APIs used in https://github.com/kubernetes/test-infra/blob/master/prow/github/client.go are being deprecated, they should be replaced before these APIs are removed.

**Provide any links for context**:
For example, the `EditTeam` function is using the API that is marked as `Legacy`:
https://github.com/kubernetes/test-infra/blob/master/prow/github/cl

[2020-09-11 02:16] spiffxp commented on #18801
@cjwagner @alvaroaleman what sort of deadline seems reasonable for removing the old fields here? I noticed we didn't put an explicit date in ANNOUNCEMENTS.md, seems like 1-2 months is common

[2020-09-11 02:23] spiffxp commented on #19155
/remove-sig testing
/sig node
Also I think these kinds of issues should be filed in kubenetes/kubernetes and not here

[2020-09-11 02:24] spiffxp commented on #19124
/close
https://github.com/kubernetes/test-infra/pull/19183 should fix this, and in the future please file against kubernetes/kubernetes

[2020-09-11 02:24] #19124 closed

[2020-09-11 02:26] spiffxp commented on #19155
/close
based on https://testgrid.k8s.io/sig-release-1.19-blocking#node-kubelet-1.19
![Screen Shot 2020-09-10 at 7 26 09 PM](https://user-images.githubusercontent.com/49258/92845127-7d8b8f00-f39b-11ea-8be5-984d926e00d3.png)

[2020-09-11 02:26] #19155 closed

[2020-09-11 02:27] spiffxp commented on #19157
/area prow

[2020-09-11 02:27] spiffxp commented on #19157
/sig testing

[2020-09-11 02:27] spiffxp commented on #19160
/sig network

[2020-09-11 02:28] spiffxp commented on #19161
/area prow
/sig testing

[2020-09-11 02:28] spiffxp commented on #19150
/sig testing

[2020-09-11 02:28] spiffxp commented on #19123
/close
Please reopen if you have more info

[2020-09-11 02:28] #19123 closed

[2020-09-11 02:29] spiffxp commented on #19186
/sig testing
/area prow

[2020-09-11 02:30] spiffxp commented on #19147
/sig testing

[2020-09-11 02:34] spiffxp commented on #5292
/remove-lifecycle frozen
I'm taking no action on this in ~2 years as a sign that it's no longer that important

[2020-09-11 02:36] spiffxp commented on #5338
/remove-lifecycle frozen
I'm taking no action on this in ~2 years as a sign that it's no longer that important

https://monitoring.prow.k8s.io/d/d72fe8d0400b2912e319b1e95d0ab1b3/github-cache?orgId=1 breaks down by path, but still not by client

[2020-09-11 02:37] spiffxp commented on #4046
/remove-lifecycle frozen
I'm taking no action on this in ~2 years as a sign that it's no longer that important

[2020-09-11 02:38] spiffxp commented on #1795
/remove-lifecycle frozen
I'm taking no action on this in ~2 years as a sign that it's no longer that important

[2020-09-11 02:39] spiffxp commented on #6095
/remove-lifecycle frozen
I'm taking no action on this in ~2 years as a sign that it's no longer that important
/sig contributor-experience

[2020-09-11 02:43] spiffxp commented on #6144
/remove-lifecycle frozen
I'm taking no action on this in ~2 years as a sign that it's no longer that important
/remove-area gubernator
we're not doing new development for gubernator

/area prow/deck
I think this could make deck more useful.

Alternatively, maybe we could consider renaming all branch-specific presubmits something different.  Having jobs named the same makes it difficult to effectiv

[2020-09-11 02:44] spiffxp commented on #6462
/remove-lifecycle frozen
I'm taking no action on this in ~2 years as a sign that it's no longer that important

[2020-09-11 02:45] spiffxp commented on #6462
https://github.com/kubernetes/kubernetes/blob/56b9a69d3991713ef4f85dec89f99ce6d722839f/pkg/features/kube_features.go#L197-L203

It's in beta, may be GA this release?

[2020-09-11 02:50] spiffxp commented on #8652
/remove-lifecycle frozen
It's still not clear to me what specifics are lacking here

https://github.com/kubernetes/test-infra/tree/master/config/jobs#job-cookbook

[2020-09-11 02:51] spiffxp commented on #8348
/remove-lifecycle frozen
This is no longer a blocking presubmit

[2020-09-11 02:53] spiffxp commented on #4272
/remove-lifecycle frozen
I'm taking no action on this in ~2 years as a sign that it's no longer that important

[2020-09-11 02:56] spiffxp commented on #11202
/sig storage

[2020-09-11 03:01] spiffxp commented on #6380
/remove-lifecycle frozen
/cc @BenTheElder
FYI @kubernetes/ci-signal

[2020-09-11 03:02] spiffxp commented on #6380
/milestone v1.20
Maybe we can do this before the 3 year anniversary? (because adding a milestone has _totally_ made this happen in the past)

[2020-09-11 03:05] spiffxp commented on #9925
/remove-lifecycle frozen
/remove-priority important-soon
I still think this could be really cool but have no idea where it's at, and I don't think having it frozen has helped it move forward

[2020-09-11 03:06] spiffxp commented on #3325
/remove-lifecycle frozen
/close
I'm just going to close this, it's been over 3 years at this point

[2020-09-11 03:06] #3325 closed

[2020-09-11 03:10] spiffxp commented on #3787
/remove-lifecycle frozen
/close
Spyglass displays prowjob yaml if the ProwJob CR still exists in the prow cluster's api, and a gcs reporter puts pod info as a separate artifact in GCS

[2020-09-11 03:10] #3787 closed

[2020-09-11 03:13] spiffxp commented on #7971
/remove-lifecycle frozen
all the inconsistencies remain

[2020-09-11 03:16] spiffxp commented on #5085
/close
Did this in https://github.com/kubernetes/k8s.io/issues/240#issuecomment-488210434

[2020-09-11 03:16] #5085 closed

[2020-09-11 03:18] spiffxp commented on #8653
/remove-lifecycle frozen
TODO: put actual content in https://github.com/kubernetes/test-infra/blob/master/prow/playbook.md

[2020-09-11 03:20] spiffxp commented on #3392
/remove-lifecycle frozen
/assign @BenTheElder
putting this on your radar

[2020-09-11 03:21] spiffxp commented on #3392
/remove-priority important-soon

[2020-09-11 03:28] spiffxp commented on #7769
/remove-lifecycle frozen

Jobs that pin to a gcp-project
[code]
/unshrug
/sig node
A number of the jobs that still pin are sig-node jobs.  I don't know if there's something special about those projects, but I know we've successfully migrated a few node e2e projects to use the standard `gce-project` pool boskos offers up
/sig scalability
/sig network
/sig autoscaling
based on some of the other path

[2020-09-11 03:33] spiffxp commented on #13129
FYI @kubernetes/ci-signal
[code]
- [ ] alpine/README.md
- [ ] alpine-bash/README.md
- [ ] bazel/README.md
- [ ] bazel-krte/README.md
- [x] bazelbuild/README.md
- [x] bigquery/README.md
- [ ] bootstrap/README.md
- [x] builder/README.md
- [ ] cluster-api/README.md
- [ ] gcb-docker-gcloud/README.md
- [ ] gcloud/README.md
- [ ] gcloud-bazel/README.md
- [ ] git/README.md
- [x] krte/README.md
- [ ] kube

[2020-09-11 03:43] spiffxp commented on #8386
It's been over two years with no activity now, is it still worth continuing to bump this? (I know I'm implicitly bumping by posting this, but you get my point)

Github's UI hides identical comments.  Deleting comments does nothing about e-mail spam or github notification spam.

[2020-09-11 04:09] BenTheElder commented on #6462
we mitigated PID exhaustion issues so far by just being careful. anyone can still fork bomb prow trivially ...

[2020-09-11 04:10] BenTheElder commented on #6462
There was no action for some time because this was not available to us in GKE as an alpha feature ...

[2020-09-11 04:23] BenTheElder commented on #4046
/sig scalability

[2020-09-11 10:06] matthyx commented on #11994
/assign

[2020-09-11 10:06] matthyx commented on #15662
/assign

[2020-09-11 11:17] aojea commented on #19160
i.e. for api coverage

neworking api coverage https://apisnoop.cncf.io/1.20.0/stable/networking
I don't know if it is possible to get the endpoints and services from here
https://apisnoop.cncf.io/1.20.0/stable/core

for the components ones, it's a bit tricky, per example, for ingress and network policy only the API is defined and left to 3rd party component the implementation.
The only option I se

[2020-09-11 16:54] #18854 closed

[2020-09-11 17:16] spiffxp commented on #18853
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-network-proxy-grpc

It appears to be intermittently timing out

If I look back to before we started messing with this job (e.g. https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-network-proxy-grpc?buildId=1299167300326264832), I see it also intermittently ti

[2020-09-11 17:35] cjwagner commented on #8652
Prow (not ProwJob) integration points are described here: https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_develop.md#prow-integration-points

How to configure new ProwJobs: https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#how-to-configure-new-jobs

This section describes what jobs can expect from pod utilities: https://github.com/kubernetes/test-infra/blo

[2020-09-11 17:38] #16153 closed

[2020-09-11 18:00] chaodaiG commented on #19157
/reopen

This appeared after the bump today

[2020-09-11 18:27] spiffxp commented on #18599
/help

[2020-09-11 18:36] cjwagner commented on #18801
I think I usually do 3 months, but 1-2 months is probably ok too 🤷
Making the deadline shorter increases the chance of breaking someone, but this would be a pretty easy fix and the failure mode of ignoring the exemption lists is increased security, not reduced.

[2020-09-11 18:41] cmluciano commented on #19160
Yes looks like we can get the endpoint tested state from core

![image](https://user-images.githubusercontent.com/4790487/92961138-c34c6400-f43c-11ea-88da-69c6602ca354.png)

Is it necessary to have a dashboard for the coverage if it is already presented and tracked by CNCF through apisnoop?

[2020-09-11 18:47] cmluciano commented on #19160
I tried something like the implementation-specific example when we were still working on [kubernetes-anywhere](https://github.com/kubernetes-retired/kubernetes-anywhere) but it didn't go very far because we did not want to choose one implementation over another.

Testing the APIs themselves with conformance type tests are probably good enough IMO.

I agree that filtering on the SIG-Net labels in t

[2020-09-11 19:29] snowmanstark commented on #18852
@RobertKielty @spiffxp I would like to work on this issue

[2020-09-11 20:15] MushuEE commented on #13432
Span is increasing deltas, not sure if kettle is taking longer to process all the data or not https://k8s-testgrid.appspot.com/sig-testing-misc#metrics-kettle

It might be worth it to start publishing the time that steps take to run within commands. Will add logging shortly

[2020-09-11 21:05] MushuEE commented on #13432
[code]
Seeing fairly frequent failure on build.week calls. Though there is not much more context...

[2020-09-11 21:25] spiffxp commented on #18117
It looks like this isn't possible via the v3 api, would have to be done via the v4 graphql api, it's unclear to me whether different plugins could be written against different api's

[2020-09-11 22:11] aojea commented on #19160
nah, just brainstorming, we are currently blocking on testgrid jobs but, it may be interesting to block on coverage? at least per release? i.e release x+1 can' t have less coverage than release x, cc: @spiffxp

[2020-09-12 10:11] aojea commented on #19160
Related job to gate on coverage https://github.com/kubernetes/test-infra/pull/19173

[2020-09-13 14:13] hasheddan commented on #18647
/close

[2020-09-13 14:13] #18647 closed

[2020-09-13 20:27] #9867 closed

[2020-09-13 23:43] mmerkes commented on #18973
Below is a diff (without analysis) of the two different jobs. I'll update this post or follow up with a separate one with more information on the differences.

**node-kubelet-master**

*+annotations*

- `fork-per-release: 'true'`
- `fork-per-release-periodic-interval: 1h 2h 6h 24h`
- `testgrid-alert-email: kubernetes-sig-node+testgrid@googlegroups.com`
- `testgrid-dashboards:`
  - `sig-release-mas

[2020-09-14 02:05] MushuEE commented on #19186
/assign

[2020-09-14 05:20] snowmanstark commented on #18852
@spiffxp can you help me understand what does the following mean and how this affects the changes to be made for this issue

[2020-09-14 11:35] matthyx commented on #18175
/unassign
/assign @tosi3k

[2020-09-14 12:06] alvaroaleman commented on #19161
Fixed by https://github.com/kubernetes/test-infra/pull/19171
/close

[2020-09-14 12:06] #19161 closed

[2020-09-14 12:20] alvaroaleman commented on #19157
Fixed in #19194
/close

[2020-09-14 12:20] #19157 closed

[2020-09-14 12:44] alvaroaleman commented on #10423
@jglick But using the checks api does not require a github app and can be done with personal acess tokens as well, right?

[2020-09-14 13:19] jlewi commented on #19054
I think we can close this issue. asI believe this is working as intended as far as prow is concerned.

@Ark-kun you should look at your tests to figure out what is writing finished.json and why the container is exiting with non-zero exit code in the event some tests succeeded.

[2020-09-14 13:21] RobertKielty commented on #13063
Hi @spiffxp Do you have a source file for SVG file or drawing tool preference?

I quickly mocked up a replica of the out of date SVG using dia which I would be happy to share with you.

[2020-09-14 13:22] alvaroaleman commented on #19054
@jlewi `finished.json` is uploaded by the decoration utils, so it does look like a bug in Prow to me

[2020-09-14 14:08] jglick commented on #10423
No. The Checks API is accessible only via App authentication.

[2020-09-14 14:41] jlewi commented on #19054
@alvaroaleman You might be right. I think kubeflow/pipelines might be using the decoration utils. In a lot of the other Kubeflow tests we aren't using the decoration utils but writing the finished.json ourselves.

[2020-09-14 14:57] alvaroaleman commented on #19054
@jlewi oh okay. Is there a chance that the `finished.json` was uploaded by your tooling and not the `sidecar`?

[2020-09-14 16:57] cmluciano commented on #19160
Cool, for what it's worth, I do agree that we should have conformance coverage tests for the NetworkPolicy API in stable. I think NP went stable before the idea of API conformance testing and I will open an issue/add those tests.

[2020-09-14 17:19] spiffxp commented on #18852
@snowmanstark

So, the changes have already been made via https://github.com/kubernetes/test-infra/pull/18916 (see https://github.com/kubernetes/test-infra/issues/18852#issuecomment-676792471)

The reason this is still open is because https://github.com/kubernetes/test-infra/issues/19034 is unexplained, and maybe happened around the same time https://github.com/kubernetes/test-infra/pull/18916 mer

[2020-09-14 17:43] mmerkes commented on #18973
I found a little more information on the reasoning behind running conformance tests in Docker:

[PR: Node Conformance Test: Containerize the node e2e test #31093](https://github.com/kubernetes/kubernetes/pull/31093)
[Issue: Node Conformance Test Planning #30122](https://github.com/kubernetes/kubernetes/issues/30122)
[Issue: Node Conformance Test: Package Node Conformance Test #30174](https://githu

[2020-09-14 17:47] #18175 closed

[2020-09-14 18:06] snowmanstark commented on #18852
Thanks @spiffxp for that explanation. It makes total sense to me now. I'll look into #19034 too to get this closed.

[2020-09-15 07:29] bartsmykla commented on #18853
I agree and think we could call this done

[2020-09-15 08:59] LappleApple commented on #18550
Heya: +1 if we can get this updated with the checkbox marked for #18854

[2020-09-15 15:21] jlewi commented on #19054
@Ark-kun should be able to answer that question.

[2020-09-15 16:54] dchen1107 commented on #18973
Here is the doc Yuju and I proposed to SIG Node 2 years ago: https://docs.google.com/document/d/1BdNVUGtYO6NDx10x_fueRh_DLT-SVdlPC_SsXjYCHOE/edit#

The doc describes the difference between node-kubelet-master & node-kubelet-conformance tests. Basically we hope node-conformance-test should be passed for every PRs, and they are agnostic to cloud providers, OS distributions, and container runtimes. n

[2020-09-15 22:10] alvaroaleman commented on #19147
This does already exist (and to my knowledge it works) but needs to be enabled by adding a section for your repo here https://github.com/kubernetes/test-infra/blob/ea69abcaae93e9c9034378e60dfd821f22cb718a/config/prow/plugins.yaml#L130 and setting `store_tree_hash: true`

[2020-09-15 23:44] elfinhe opened #19229 "Job not triggered when using regex in branches."
**What happened**:

We are following this doc (https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md) to configure a prow job to use Regex to match multiple branches.
[code]
And expect the job would be triggered on release-1.7.1-pdn, but turned out not. Then we switch back to use non-regex:

[code]
Then the job was triggered.

**What you expected to happen**:
The job can be triggered b

[2020-09-16 00:31] cjwagner opened #19232 "Prow's PR history page doesn't properly identify commit until job completes."
**What happened**:
Job runs seem to always appear in the "Unknown" column until the job completes.
<img width="1311" alt="Screen Shot 2020-09-15 at 5 22 01 PM" src="https://user-images.githubusercontent.com/5334145/93277990-412fa880-f778-11ea-86ea-649145187a08.png">

**What you expected to happen**:
Jobs should be listed under the correct column while they are still running.

**How to reproduce it

[2020-09-16 02:26] Rustin-Liu commented on #19232
Can I working on this?

[2020-09-16 12:30] petr-muller commented on #19232
Nobody assigned it to themselves yet and it's `help wanted` so sure, go ahead!

[2020-09-16 16:42] prameshj opened #19242 "Triggering image build job on new tags."
Support for building images from k8s.io/dns was added in - https://github.com/kubernetes/test-infra/pull/17123
The build job runs everytime there is a new PR merged into master branch. The _GIT_TAG is of the form - "v20200416-1.15.12-2-g232a189"
This is the cloudbuild yaml - https://github.com/kubernetes/dns/blob/master/cloudbuild.yaml

I want to configure this so that, when there is a new tag add

[2020-09-17 00:10] alvaroaleman commented on #19110
This is super annoying and offhand I can not think of a reason why we would deliberately want that. @cjwagner @stevekuznetsov do you remember anything? If not, can we change it?

[2020-09-17 00:16] cjwagner commented on #19110
I don't know the rationale behind that decision. No blocker from me here.

[2020-09-17 05:47] MushuEE commented on #19147
Does the `tide/merge-method-squash` label also remove lgtm?

[2020-09-17 06:33] matthyx commented on #15662
@cjwagner do you remember what went wrong with the first attempt?

[2020-09-17 08:39] RiRa12621 commented on #18388
I don't have time to get this done in the near future, hence closing so it's not hanging around.
I guess if anyone needs it and has capacity to work on it, they can reopen

[2020-09-17 08:43] ameukam commented on #18652
@spiffxp Is there still something to do here?
Also Thanks for the help!