[2020-04-14 19:20] spiffxp commented on #10065
/area prow

[2020-04-14 22:00] fejta commented on #14810
/unassign @stevekuznetsov @fejta
/assign @clarketm
/close

[2020-04-14 22:00] #14810 closed

[2020-04-14 22:02] #15499 closed

[2020-04-15 16:18] chaodaiG opened #17218 "/retest command doesn't work if it's not the last line of PR comment"
**What happened**:
Multiple commands in a single PR comment, `/retest` doesn't work if it's not the last line

**What you expected to happen**:
Each line is respected as it's own command

**How to reproduce it (as minimally and precisely as possible)**:
Open a PR, comment
[code]

**Please provide links to example occurrences, if any**:
https://github.com/knative/serving/pull/7607#pullrequestreview

[2020-04-15 17:21] spiffxp opened #17219 "maintenance-ci-janitor job is continuously failing"
**What happened**:
https://testgrid.k8s.io/sig-testing-maintenance#ci-janitor is continuously failing

**What you expected to happen**:
For it to be green

**Anything else we need to know?**:
[code]

[2020-04-15 17:21] spiffxp commented on #17219
/assign
/area boskos
/sig testing

[2020-04-15 17:23] spiffxp commented on #17219
https://github.com/kubernetes/test-infra/pull/17213 should have obviated away two of them

kubernetes-ha-master may still have a problem

[2020-04-15 17:35] spiffxp commented on #17219
rerunning: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/maintenance-ci-janitor/1250477802042429440

[2020-04-15 19:11] wking commented on #15382
+1 to this.  Also, [the client-side error][1]:

[code]

does not immediately read as lease exhaustion (my initial guess was that this was a misconfigured client or failing server issue).  Would be nice if `try again later` or `currently exhausted` was part of the client error message in this case, so folks could distinguish between "your lease service is working, but has no capacity for you at the

[2020-04-15 19:12] spiffxp commented on #17219
/close
All projects cleaned.  I had to enable staging2 api for pr-kubekins

[2020-04-15 19:12] #17219 closed

[2020-04-16 00:06] fejta commented on #15806
/remove-lifecycle stale

Core prow components all using workload identity... aside from pod utils which is a WIP

Some jobs have been migrated

[2020-04-16 00:07] spiffxp commented on #16836
it needs a rewrite to at least:
- uses a more modern version of grafana
- uses a more modern version of influxdb

Preferably it should:
- not actually use any of the code in velodrome/; we've just been using it as a grafana/influxdb stack
- not publicly expose influxdb (but allow metrics prowjobs to write data to influxdb)
- not allow grafana to write data to influxdb

Potentially it could:
- just

[2020-04-16 00:27] justaugustus commented on #9925
/remove-sig pm
/sig contributor-experience

[2020-04-16 09:06] whiskerch commented on #10146
Is there any update on this?
We are using prow on our projects, but need to set up some new ones on an isolated network - we're going to host our own gitlab instance as the cost of a self hosted github instance is prohibitive

[2020-04-16 11:52] nikhita commented on #17080
@flaviamissi Thanks for catching that! :100:

The source code you link mentioned in indeed the one that should be updated. Feel free to send a PR. :)

/sig contributor-experience

[2020-04-16 11:55] nikhita commented on #16276
Done in https://github.com/kubernetes/test-infra/commit/ec0f09b3a6d26c404c6e27685e32d25aff43d276

/close

[2020-04-16 11:55] #16276 closed

[2020-04-16 14:24] stevekuznetsov commented on #17218
Another example here:
https://github.com/openshift/openshift-apiserver/pull/84#issuecomment-614679531

[2020-04-16 17:07] sudhirski commented on #10409
Can we can use TestGrid for displaying Prow Job results that are not sent to GCS ? I meant by having TestGrid query Prow's internal database of ProwJobs.

Also, I see the code in https://github.com/GoogleCloudPlatform/testgrid, wondering if it the full source code of TestGrid there and also has the JS code as well for the dashboard ?

[2020-04-16 17:39] michelle192837 commented on #10409
At the moment, nope, the results have to be uploaded to GCS to be visible to TestGrid. (This should be easy with decorated jobs, though).

The code in GoogleCloudPlatform/testgrid is still being worked on, so it's not quite the full source code yet; it's a mix of code we're migrating as well as code that lives fully-externally now. (The frontend code is also not in there)

[2020-04-16 18:49] spiffxp commented on #15638
/remove-lifecycle rotten

The pull-kubernetes-integration job has a `fork-per-release` annotation, it was used to create the v1.18 job.  I opened a PR to move the other release-branch jobs to their respective files which should close this out: https://github.com/kubernetes/test-infra/pull/17238

[2020-04-16 18:49] spiffxp commented on #15638
/assign

[2020-04-16 23:10] BenTheElder commented on #11548
/uncc

[2020-04-17 01:33] BenTheElder commented on #15143
1.15 is on the way out. kubekins-test was eliminated.

[2020-04-17 01:33] #15143 closed

[2020-04-17 01:53] #15638 closed

[2020-04-17 14:55] chaodaiG opened #17266 "Allow repo customize highlight regex in Spyglass config"
**What would you like to be added**:
Like some of the other Prow components, allow repo specify its own highlight rege, such as example below:

[code]

The example above is just for illustrative purpose, it'll also fulfil this request if any layer above is customized

Link to README of spyglass: https://github.com/kubernetes/test-infra/blob/561dc2e96d5984bce2536cbdf4ee6dea8994b403/prow/spyglass/RE

[2020-04-17 16:33] nikhita commented on #15494
Closing since this isn't a bug. Please reopen if the helm/charts configuration needs to be updated.

/close

[2020-04-17 16:34] #15494 closed

[2020-04-17 17:25] itdove opened #17273 "Prow issue: FF failed"
https://travis-ci.com/github/itdove/open-cluster-management-e2e/jobs/320535890

fatal: repository 'https://github.com/itdove/open-cluster-management-e2e.git/' not found
/home/travis/build/itdove/open-cluster-management-e2e/vbh/build-harness/../build-harness-extensions/modules/release-ff/Makefile:6: recipe for target 'release-ff' failed
make: *** [release-ff] Error 128
The command "export SEMVERSIO

[2020-04-17 20:23] #15737 closed

[2020-04-17 21:17] ixdy opened #17282 "boskos: static resources removed from the configuration may never be deleted"
I mentioned this tangentially in https://github.com/kubernetes/test-infra/issues/16047#issuecomment-579455717, but I want to pull it to a separate issue to be more easily highlight it.

Boskos doesn't delete static resources that are removed from the configuration if they are in use, to ensure that jobs don't fail, and to ensure that such resources are properly cleaned up by the janitor.

Original

[2020-04-17 21:51] adshmh commented on #17218
Yes, my tests show the same. Will submit a PR to fix it.

[2020-04-17 21:51] adshmh commented on #17218
/assign

[2020-04-17 22:31] #17273 closed

[2020-04-17 22:33] fejta commented on #15494
This is a bug in helm/charts' config -- github disallows assigning people who are not involved in the repo in some way

[2020-04-18 19:19] justaugustus commented on #10754
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2020-04-18 20:31] stevekuznetsov opened #17288 "hook: config-updater: post multiple comments when length is too large"
Right now we just barf when trying to post a massive thing. We should partition the data and post multiple:

[code]

[2020-04-18 20:31] stevekuznetsov commented on #17288
/area prow/hook
/cc @alvaroaleman @petr-muller

[2020-04-18 20:33] alvaroaleman commented on #17288
I think the proper thing to do would be to move whats in the config-updater plugin into a postsubmit job and deprecate the plugin. The only reason that plugin exists is that re-distributing plugins is easier than re-distributing jobs.

[2020-04-19 01:01] #17218 closed

[2020-04-19 07:27] prameshj opened #17291 "Error building DNS images via automatic build scripts"
**What happened**:
Support for building images from k8s.io/dns was added in - https://github.com/kubernetes/test-infra/pull/17123
The job has been failing consistently - https://k8s-testgrid.appspot.com/sig-network-dns#dns-push-images
This is the cloudbuild yaml - https://github.com/kubernetes/dns/blob/master/cloudbuild.yaml

The most recent error is in verifying sha256 checksum of dnsmasq source

[2020-04-19 07:27] prameshj commented on #17291
@listx @cjwagner

[2020-04-19 18:14] nikhita commented on #11994
/lifecycle frozen

On Sun, Apr 19, 2020 at 11:35 PM fejta-bot <notifications@github.com> wrote:

[2020-04-19 18:15] flaviamissi commented on #17080
/assign

[2020-04-19 19:01] #17080 closed

[2020-04-19 21:08] #15267 closed

[2020-04-19 21:14] alvaroaleman commented on #14236
/reopen

[2020-04-19 23:16] justaugustus commented on #12594
/remove-sig pm
/area enhancements

In progress in https://github.com/kubernetes/test-infra/pull/16298.

[2020-04-20 11:53] chetan-styra commented on #16734
@divya-mohan0209
Even I am facing the same issue.
Getting
[code]
GOPATH is correctly set
`/home/chetanbendre/go`

[2020-04-20 11:55] chetan-styra commented on #16734
@divya-mohan0209
Even I am facing the same issue.
Getting

[code]
GOPATH is correctly set
`/home/chetanbendre/go`

[2020-04-20 12:00] dims commented on #16734
create your `cloud-provider-azure` directory under `/home/chetanbendre/go/src/sigs.k8s.io` (NOT under `/home/chetanbendre/go/src/k8s.io`)

[2020-04-20 12:17] alvaroaleman opened #17298 "test-infra postsubmits are broken"
**What happened**:

The post-test-infra-push-prow fails consistently:
https://prow.k8s.io/?job=post-test-infra-push-prow

Error seems to be `Current Bazel version is 2.0.0; expected at least 2.2.0`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/cc @

[2020-04-20 17:44] spiffxp commented on #17298
/area bazel
/cc @fejta
`gcr.io/k8s-testimages/gcloud-bazel` needs to be updated to use bazel 2.2.0 (and then 2.2.0 images pushed and jobs updated) or https://github.com/kubernetes/test-infra/pull/17281 needs to be reverted

[2020-04-20 19:26] spiffxp commented on #17298
/area jobs

[2020-04-20 19:57] #17298 closed

[2020-04-20 21:05] listx commented on #17291
If I run `curl -sSLv  http://www.thekelleys.org.uk/dnsmasq/dnsmasq-2.78.tar.xz` locally I also get an error:

[code]

I tried just redirecting the output to a file, and it worked.

[code]

[2020-04-20 21:29] fejta commented on #17298
Best as I can tell all the failing jobs have been rerun: https://prow.k8s.io/?repo=kubernetes%2Ftest-infra&type=postsubmit

[2020-04-20 21:45] fejta opened #17306 "Missing status-reconciler label"
[code]

/assign
/area prow

[2020-04-21 00:29] prameshj commented on #17291
Thanks to @listx , this has been fixed - https://k8s-testgrid.appspot.com/sig-network-dns#dns-push-images
This was the fix - https://github.com/kubernetes/dns/pull/375

[2020-04-21 00:29] #17291 closed

[2020-04-21 01:36] #15244 closed

[2020-04-21 02:37] #15261 closed

[2020-04-21 20:39] RedbackThomson opened #17318 "Monitoring third-party repositories"
Our team is hoping to use Prow as a CI system of our particular components of the larger [kubeflow/pipelines](https://github.com/kubeflow/pipelines) repository. That is, we are only the owners of a small subsection of the entire repository. However, all documentation with Prow seems to suggest we need to configure a webhook for that repository, of which we are not permitted.

Is there any such way

[2020-04-21 23:11] fejta opened #17321 "Make it easier for people to rerun jobs"
Why do we so severely limit who can rerun jobs? It is not very productive anyone to have to contact oncall to rerun a job. Seems like they should just be able to click the rerun button.

On the other hand, giving just the milestone maintainers team the ability to rerun job seems somewhat odd.

Thoughts?

/assign @cblecker @cjwagner

ref https://github.com/kubernetes/test-infra/pull/17320

[2020-04-22 03:02] dims commented on #13332
almost there getting the docker buildx in cloudbuild.yaml in https://github.com/kubernetes-csi/node-driver-registrar to work. still needs https://github.com/kubernetes-csi/node-driver-registrar/pull/76 to merge

[2020-04-22 07:07] BenTheElder commented on #15799
Katharine is semi-moved on now (new team but still around ish), rrmh and ibzib seem much more moved on. PRing..

[2020-04-22 19:48] fejta commented on #17187
Alvaro how about not auto-triggering tests for draft PRs? Can still trigger with a `/test all` comment

[2020-04-22 19:50] #17318 closed

[2020-04-22 19:55] alvaroaleman commented on #17187
Doing this for draft PRs SGTM

[2020-04-22 21:01] alvaroaleman commented on #17187
@kwiesmueller the code for creating jobs from github events is in `prow/plugins/trigger` so you'd have to extend that to not create jobs on push event if the PR is a draft PR.

[2020-04-22 21:02] kwiesmueller commented on #17187
I'll look at it, thanks!

[2020-04-22 23:07] #17306 closed

[2020-04-23 00:04] cjwagner commented on #17321
I'd certainly like to make this feature more accessible. I think my concerns about jobs being rerun improperly fall into 2 classes. I'm happy with anyone in the org rerunning other things, but we should properly limit access to rerunning jobs that either of these concerns apply to.
1. Some jobs could cause correctness issues if they are run at the wrong time. In particular I'd be worried about job

[2020-04-23 00:14] spiffxp commented on #17321
Do we have a way of identifying who triggered a given re-run?

In terms of specifying more granular teams per org/repo, can we do this for periodics, or does that need to be done per-job?

[2020-04-23 00:20] cjwagner commented on #17321
We do from the logs. I don't think it is annotated on the ProwJob itself, but that would be easy to add.
https://github.com/kubernetes/test-infra/blob/d0d57e6b0929fdd8385784e650a9a14f369258e7/prow/cmd/deck/main.go#L1477 https://github.com/kubernetes/test-infra/blob/d0d57e6b0929fdd8385784e650a9a14f369258e7/prow/cmd/deck/main.go#L1490-L1491

[2020-04-23 00:23] spiffxp commented on #17321
I suspect some of the jobs for `1.` fall under the purview of the release-eng folks who I would trust to understand the implications of wrong order / wrong time.

Another reasonable use of rerun I could see would be having the ci-signal (or maybe broader release-team) folks kick off a release-blocking periodic sooner than scheduled.  I think getting by with per-job for that would be fine

mileston

[2020-04-23 18:38] #14130 closed

[2020-04-23 18:54] michelle192837 commented on #16625
Think this is mitigated in a few ways now. (Thanks again Erick!)

[2020-04-23 18:54] #16625 closed

[2020-04-23 19:04] devbharat commented on #10409
I am planning to use Prow to run an extended system test suite on our private code with ProwJobs, and the way TestGrids dashboard displays and organizes results would be almost perfect fit for our use case. The project I am working on is closed source, so I plan to run a private cluster on GKE and run the tests with ProwJobs in the cluster.

My initial idea was to host TestGrid privately as well,

[2020-04-23 19:31] BenTheElder commented on #10409
testgrid.k8s.io is only suitable for OSS projects, it reads from publicly
readable GCS buckets and has a public UI.

On Thu, Apr 23, 2020 at 12:04 PM Bharat Tak <notifications@github.com>
wrote:

[2020-04-23 19:40] devbharat commented on #10409
Yes that part seems clear to me. What I was wondering is how much exposure would happen with the public GCS bucket. For example, would it be possible only expose pass/fail status of jobs and job names, but not logs (or private link to logs). Basically, what would be the minimal amount of public exposure required.

Also, I assume ones TestGrid is fully opensourced, one could host and run it complet

[2020-04-23 19:42] #16002 closed

[2020-04-23 19:51] BenTheElder commented on #10409
I think it's possible to expose only pass / fail and entries but I don't know that we're really interested in hosting infrastructure for this purpose ... @spiffxp @fejta @michelle192837

Nominally it's public ~~ for the Kubernetes project, with some other OSS projects displaying their results as well. Currently I don't think we support any closed source projects...

Once fully open sourced I don't

[2020-04-23 19:55] michelle192837 commented on #10409
Theoretically, I think you could have something obfuscate your private results sufficiently for you to be confident in uploading them publicly. The public logs need enough information to show up in TestGrid (as outlined in https://github.com/kubernetes/test-infra/tree/master/gubernator#job-artifact-gcs-layout). But beyond that, you don't need to add logs or anything, you'll just have less useful i

[2020-04-23 20:21] devbharat commented on #10409
Thanks a lot, really appreciate it. I guess my last question would be an expected timeline for an alpha version coming out. [This link above](https://github.com/kubernetes/test-infra/issues/10409#issuecomment-515220552) seems to go part of the way there.

I note that while the TestGrid concept of hierarchically organizing test results and displaying historical trends of these results seems very ge

[2020-04-23 22:35] cblecker commented on #17321
I agree with both the sentiment that we can/should open this more broadly, but I strongly share the concerns that @cjwagner raises. milestone-maintainers is both too broad and there is zero education for those folks about the above issues.

Release managers have access to re-run certain jobs on the per-job level: https://github.com/kubernetes/test-infra/blob/5a4fed7c316e763e69d5555e858738a1c3c73a7

[2020-04-23 22:36] cblecker commented on #17321
also cc @kubernetes/release-engineering

[2020-04-24 11:57] HtcOrange opened #17368 "Using kubetest : unable to make the pods run"
**When I use kubetest to take e2e test . It occurs something wrong!**

[code]

I want to test the start up time of the pods in the local cluster. But as I see, pods are not running successfully! How  can I solve the problem?

[2020-04-24 17:54] michelle192837 commented on #10409
Heh, that link is definitely a bit out of date. We're continuing to work on open-sourcing, but we'll announce more details on the repo itself more likely (https://github.com/GoogleCloudPlatform/testgrid).

That sounds awesome, yeah! There is an updater that's being worked on in GoogleCloudPlatform/testgrid, if you want to take a look; that might give some more insight into how we parse test format

[2020-04-24 22:23] fejta opened #17382 "//experiment/autobumper/bumper unit tests fail on mac"
[code]

[2020-04-24 22:23] fejta commented on #17382
/assign

[2020-04-24 22:37] fejta commented on #17382
And config-bootstrapper fails with:

[code]

[2020-04-25 02:09] #15404 closed

[2020-04-25 10:31] eddycharly opened #17386 "Github token leaked in clone-log.txt"
When cloning a private repository, the Github token will appear in clear text in clone-log.txt file (uploaded in the logs bucket).

Here is an example of the log content (real token redacted):
[code]

It looks like the code responsible for this is here:

https://github.com/kubernetes/test-infra/blob/a5764e9eea3e155bc7084b0387479823b794baa3/prow/pod-utils/clone/clone.go#L124-L128

Is there somethin

[2020-04-25 23:30] #15434 closed

[2020-04-26 10:41] #15420 closed

[2020-04-26 18:53] adshmh commented on #12233
/remove-lifecycle stale
I have submitted #13731 and #12751 for this issue.

[2020-04-26 19:50] #13948 closed

[2020-04-27 07:02] eddycharly commented on #15421
/reopen

I don't need the feature anymore, but I reopen the issue because i think it should be nice to have.
Feel free to close it if you think it's useless.

[2020-04-27 11:11] droslean commented on #17386
Even though we censored the actual secret in the logs, we still generating the `clone-records.json` file from the actual records serialized. see https://github.com/kubernetes/test-infra/blob/master/prow/clonerefs/run.go#L107-L114

[2020-04-27 11:28] droslean commented on #17386
/assign

[2020-04-27 12:31] #17386 closed

[2020-04-27 12:37] eddycharly commented on #17386
Thanks for taking care of it !

[2020-04-27 14:08] #15440 closed

[2020-04-27 18:57] michelle192837 opened #17398 "Tide repeatedly fails to set status context on open PR"
Looks like this might be a GitHub issue?

This is happening on oss-prow, on a particular PR (https://github.com/GoogleCloudPlatform/compute-image-tools/pull/1178), and notes the errors in the logs a few times every hour or so. Example:

[code]

[2020-04-27 18:57] michelle192837 commented on #17398
/area prow

[2020-04-27 19:29] chases2 opened #17400 "Automate image-pushing of Testgrid/Configurator to Prow Images"
Testgrid Configurator was being pushed automatically to a different project, making it difficult to locate. https://github.com/knative/test-infra/issues/1970#issuecomment-619283697

Instead, Configurator should be included with other Prow tools, in the same location as Transfigure.

/assign

[2020-04-28 11:44] tosi3k opened #17412 "Premature Docker service stopping in bootstrap"
https://github.com/kubernetes/test-infra/blob/56e63b79d2aa6dc65427bb195d728fcbbf6bdc96/images/bootstrap/runner.sh#L81

**What happened**:
I ran a Prow job using bootstrap on our internal SIG Scalability Prow cluster with `DOCKER_IN_DOCKER_ENABLED` env var set to `true`. To my surprise, Docker service was down (any `docker` CLI call resulted in a failure like `Cannot connect to the Docker daemon at

[2020-04-28 11:47] mm4tt commented on #17412
/cc

[2020-04-28 11:50] tosi3k commented on #17412
Assigning current test-infra oncall.
/assign @michelle192837

[2020-04-28 16:50] cpoole commented on #16643
For what it's worth we have seen this on our internal repos as well (repos with orders of maginitude less activity than the k8s community repos).

Same symptom and resolution: github v4 api shows the PR as open even though tide has already merged it. Commenting on the PR causes github to properly update it's state

[2020-04-28 17:46] cjwagner commented on #16643
@cpoole I left this note in Slack, please ping me when you see such occurrences so I can try to get GH to take this seriously. They won't reopen the support ticket until I can link them live examples (even though I have done that repeatedly on prior support requests for the same problem).

We've been having some problems with a GitHub search indexing bug(s) on and off for over a year and GH suppor

[2020-04-28 17:48] #17382 closed

[2020-04-28 17:48] cpoole commented on #16643
Will do @cjwagner

[2020-04-28 18:15] cjwagner opened #17419 "Gerrit controller does not respect `report: false` on ProwJobs."
**What happened**:
Prow's allows for a `skip_report` field to be specified in job config and that is inverted into a `report` field on created ProwJobs. This field is respected by GitHub reporting and prevents including the job result in comments or status contexts. The gerrit controller doesn't appear to respect this field.

**What you expected to happen**:
- It should be a config error to config

[2020-04-28 18:40] michelle192837 opened #17421 "missing required flag: please set to --github-token-path=/etc/github/oauth before June 2020"
Warning appears for both tide and hook in k8s-prow.

[code]

/area prow

[2020-04-28 20:32] michelle192837 commented on #17421
/kind oncall-hotlist

[2020-04-29 12:50] alvaroaleman commented on #17412
Got fixed in https://github.com/kubernetes/test-infra/pull/17423

[2020-04-29 21:00] BenTheElder commented on #17421
/assign

[2020-04-30 02:33] LorbusChris commented on #15043
/remove-lifecycle stale

[2020-04-30 15:40] DoomGerbil commented on #16643
I've just had this occur on an internal repo in my company's org (`improbable`) with our private instance of Tide.

In our case, the PR was stuck for 6 hours, and became unstuck and got merged by Tide when I started sending search queries via the GitHub UI - nobody touched the PR in question when it was in the stuck state.

@cjwagner - If this might help, you can point the GitHub people at my exam

[2020-04-30 16:18] devbharat opened #17457 "Allowing multiple containers in ProwJob pod spec"
**What would you like to be added**:
I am porting some tests to run with ProwJob and am unable to run a pod spec with more than 1 containers. This seems like a strange restriction, could someone explain why this exists?

**Why is this needed**:
The job is a server client application that is being tested in a pod, with each running in its own container in the pod.

[2020-04-30 16:19] devbharat commented on #17457
I am not sure why it(or did it?) labeled kind/festure, its related to prow.

[2020-04-30 17:54] stevekuznetsov opened #17463 "bugzilla: clone does not set subcomponent when necessary, message is unclear"
See https://github.com/openshift/machine-api-operator/pull/579#issuecomment-621903082

The bugs are that we:

1. do not set the subcomponent when we need to
2. tell the user that the failure is for "bug 0"

/assign @AlexNPavel

[2020-04-30 17:56] stevekuznetsov opened #17464 "bugzilla: do not attempt to clone a bug when one has already been cloned"
When a PR is created via cherry-pick, we should look to see if there's a clone of the parent bug for the correct version already created and, if so, not try to create one.

/area prow/hook
/assign @AlexNPavel

[2020-04-30 18:16] stevekuznetsov commented on #17151
@michelle192837 do you think you'll be able to take a look at what's causing this?

[2020-04-30 19:17] michelle192837 commented on #17151
Thaaat's weird. The result does seem to show up in finished.json and is a status that we recognize. :/  And it's not like these jobs take an inordinate amount of time to complete, nor are they running super-frequently (I might expect this issue with presubmits for instance, where jobs run at a high frequency and don't always update older runs).

How are results for these jobs uploaded? pod-utils o

[2020-04-30 19:24] michelle192837 commented on #17151
Oh, huh. Error in logs:
`Could not read /bigstore/origin-ci-test/logs/release-openshift-origin-installer-e2e-aws-ovn-network-stress-4.4/436/finished.json`

Can find the result fine at https://storage.googleapis.com/origin-ci-test/logs/release-openshift-origin-installer-e2e-aws-ovn-network-stress-4.4/436/finished.json, so not sure what's up exactly...It's failing to get the file from storage someho

[2020-04-30 19:25] michelle192837 commented on #17151
Oh, huh. Error in logs indicate that storage is failing to find the file.

Can find the result fine at https://storage.googleapis.com/origin-ci-test/logs/release-openshift-origin-installer-e2e-aws-ovn-network-stress-4.4/436/finished.json, so not sure what's up exactly...

[2020-04-30 19:42] cjwagner commented on #16643
@DoomGerbil Thanks for sharing here. I've included a link to your comment in the email thread with GH support.

[2020-04-30 19:56] michelle192837 commented on #17151
Ah, nope, nvm, I'm pretty sure that's legit because the file wasn't uploaded at the time. :/ Back to looking.

[2020-04-30 20:32] amwat commented on #17368
Can you provide some more information regarding your environment, how you are invoking kubetest, pod logs when you hit this state etc.?

[2020-04-30 21:07] michelle192837 commented on #17151
Okay no, it's because the updater stops looking back after it finds 100 invocations with no changes, and each cell counts as a new invocation.

I don't have a good suggestion for how to resolve this, but something's weird with the results. :/

[2020-04-30 21:43] #16487 closed

[2020-04-30 21:51] krzyzacy commented on #16092
Please consider use [kubetest2](https://github.com/kubernetes/test-infra/tree/master/kubetest2) instead, kubetest is mostly dead and not maintained.

cc @amwat

[2020-04-30 21:51] #16092 closed

[2020-04-30 21:55] #17421 closed

[2020-04-30 22:45] jwendell opened #17474 "Segfault on prow/checkconfig"
**What happened**:

Segfault when running Prow's `checkconfig` :
[code]

Here's the config file:

[config.yaml.txt](https://github.com/kubernetes/test-infra/files/4561742/config.yaml.txt)

Tried with master as of today.

[2020-04-30 23:03] BenTheElder commented on #17129
this is the wrong repo, this repo hosts tools used by the project, you want https://github.com/kubernetes/kubernetes

[2020-04-30 23:03] #17129 closed

[2020-04-30 23:04] BenTheElder commented on #17412
I didn't see this bug, but it should both be cleaned up and the updated images widely rolled out

[2020-04-30 23:04] #17412 closed

[2020-04-30 23:05] BenTheElder commented on #17412
this was tracked in https://github.com/kubernetes/kubernetes/issues/90568

[2020-04-30 23:06] BenTheElder commented on #17207
I don't have time to handle this right now, and this isn't used for any official results nor for any release blocking CI.

FYI though @dims

[2020-04-30 23:08] BenTheElder commented on #17266
this sounds reasonable.
AIUI nobody works on this currently, katharine maintained this tool but has moved on.

if you want this you'll probably have to implement it 🙃

[2020-04-30 23:10] BenTheElder commented on #16567
prow does not have any relationship to the kubernetes dashboard project.

[2020-04-30 23:10] #16567 closed

[2020-04-30 23:12] BenTheElder commented on #16389
you should file a bug against kubernetes or kubespray for this, this repo hosts tools used by the project which does not include kubespray or e2e.test (that's in kubernetes/kubernetes)

generally a KUBECONFIG file is used.

[2020-04-30 23:12] #16389 closed

[2020-04-30 23:13] BenTheElder commented on #15856
@cjwagner thoughts?

[2020-04-30 23:14] BenTheElder commented on #15504
kubetest only calls the cluster creation code from standard tools (in this case probably kube-up in kubernetes repo), so any bug is going to be there.

you should check the logs on the VM

[2020-04-30 23:14] #15504 closed

[2020-04-30 23:15] BenTheElder commented on #15043
/override works for me, with capitals in my username :-)

[2020-04-30 23:17] BenTheElder commented on #15043
it looks like you haven't been in owners since december? https://github.com/openshift/machine-config-operator/commit/9de14316ce7bb55290e1ed64a82507944637e413#diff-37ffc11190043a72e49391017a305d3a

[2020-04-30 23:19] BenTheElder commented on #16734
you'll need to follow the upstream development requirements. https://github.com/kubernetes/test-infra/issues/16734#issuecomment-616506766

[2020-04-30 23:19] #16734 closed

[2020-04-30 23:22] BenTheElder commented on #3392
until the rest is agreed there's nothing to do in kubetest, this metadata can just as easily come from the (rather broken) upgrade system.

[2020-05-01 00:44] dims commented on #17207
Somewhat related to https://github.com/kubernetes/kubernetes/pull/89944 and https://github.com/onsi/ginkgo/issues/222 (leaving bread crumbs for myself)

[2020-05-01 00:46] dims commented on #17207
thanks for the heads up @BenTheElder

[2020-05-01 01:29] #13713 closed

[2020-05-01 02:00] LorbusChris commented on #15043
Note that the PRs I linked were on the `fcos` branch where I am still listed in the OWNERS file.
Other commands, e.g lgtm, work for me on that branch (but not `master` anymore obviously).

I'll try to override somewhere again shortly to verify this is still an issue.

[2020-05-01 02:02] BenTheElder commented on #15043
Appreciated, I've been using override intermittently on prow.k8s.io for some time including very recently without issue.

[2020-05-01 02:10] clarketm commented on #17174
You can delete the comment.

[2020-05-01 02:21] clarketm commented on #17174
/close

[2020-05-01 02:21] #17174 closed

[2020-05-01 11:40] alvaroaleman commented on #17474
/assign

[2020-05-01 15:22] chaodaiG commented on #17266
Will add this to my backlog and see what I can do

[2020-05-01 16:14] #17474 closed

[2020-05-01 19:03] cjwagner commented on #15856
Is the only benefit of this that we can disable periodic jobs without losing the history of when the last run was? Deleting jobs from config seems equally as difficult as declaring a blacklist.

[2020-05-01 19:21] BenTheElder commented on #15856
It's not equally difficult for sharded jobs I guess?
E.g. a broke presubmit?

On Fri, May 1, 2020, 12:04 Cole Wagner <notifications@github.com> wrote:

[2020-05-01 19:33] cjwagner commented on #15856
Thats fair, but it still seems like it would be pretty easy to just delete all the shards? I don't change job config as much or at as large a scale as you or Katharine so I haven't really run into this pain point myself.

We could add a blacklist to the Prow config and make Tide, Horologium, and the trigger plugin respect it, but I'm wondering how helpful this would actually be so we can prioritiz

[2020-05-01 20:28] BenTheElder commented on #15856
I haven't actually needed this recently, and i'm not sure how much it would have helped in the past.

let's close it for now.

[2020-05-01 20:28] #15856 closed

[2020-05-01 20:48] #15431 closed

[2020-05-04 00:39] #13232 closed

[2020-05-04 02:31] chizhg commented on #10100
/reopen
/remove-lifecycle rotten

It looks this issue hasn't been fixed.

[2020-05-04 02:41] #15205 closed

[2020-05-04 04:21] stpabhi opened #17499 "Pass OAuth token in ghclient to access GitHub Enterprise API Endpoint"
**What happened**:

`{"component":"unset","error":"error getting bot name: fetching bot name from GitHub: status code 401 not one of [200], body: {\"message\":\"Must authenticate to access this API.\",\"documentation_url\":\"https://developer.github.com/enterprise/2.19/v3\"}","file":"/Users/stpabhi/go/src/k8s.io/test-infra/prow/cmd/deck/main.go:566","func":"main.prodOnlyMain","level":"fatal","msg"

[2020-05-04 06:45] #14655 closed

[2020-05-04 12:46] tseelbach opened #17503 "Horologium error - a dry-run was requested but required flag -deck-url was unset""
**What happened**:
I installed Prow using Manual process but horologium  pod fails to start.  Logs show this error:
{"component":"horologium","error":"a dry-run was requested but required flag -deck-url was unset","file":"prow/cmd/horologium/main.go:77","func":"main.main","level":"fatal","msg":"Invalid options","time":"2020-04-29T11:48:52Z"}

**What you expected to happen**:
I expected all pods to

[2020-05-04 13:18] alvaroaleman commented on #17503
Regarding dry-run, you just need to remove the flag like here: https://github.com/kubernetes/test-infra/pull/17470

Regarding the ingress, it depends on your Ingress controller implementation if an empty host will work but it seems on Openshift it does not. As I read its docs[1] you need to find out the basedomain set up in the cluster and then use a subdomain as the host in the ingress, something

[2020-05-04 14:37] mborsz opened #17505 "Prow's /view is a slow to load GCE 5k results"
**What happened**:
I'm trying to debug failing gce 5000 nodes test, e.g.: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1256992291344617478

I noticed that it takes ~20 seconds to load a single page like that.
While the debugging failing test usually involves checking multiple test runs, this is quite inconvenient to wait for each view to load.
**What

[2020-05-04 14:38] mborsz commented on #17505
/assign @Katharine

[2020-05-04 14:38] mborsz commented on #17505
/assign

[2020-05-04 14:51] tseelbach commented on #17503
@alvaroaleman Thank you!
Horologium starts, and the commands worked to set the host.  Console is up and the echo tests pass!

Note the readme says to look for IP, but I have host as you said, which is fine: https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#get-ingress-ip-address

[2020-05-04 15:01] mborsz commented on #17505
I checked and Google Storage has no API that allows to fetch objects in given bucket that match some regexp (kind of expected).

I was thinking about migrating out from regexp in `LensFileConfig` to something that can be easier handled by GCS API (e.g. prefix + extension filter or some globs?) and then for each lens, do a separate GCS API call that fetches required_files + optional_fields for that

[2020-05-04 15:47] mborsz commented on #17505
Alternatively, we can keep regexps, but say that only "filename" part of the object path will be matched, so e.g.:
* artifacts/junit.*.xml will match all junit*.xml files in artifacts/ directory instead of potentially matching all xml files in all junit* directories
* arti.*facts/*.xml will be prohibited
* .*/*.xml will be prohibited as well

This way, we can implement an optimization for GCS buck

[2020-05-04 18:37] ZhiFeng1993 commented on #17193
@chases2  can I take this issue?

[2020-05-04 20:30] chaodaiG opened #17509 "Enhancing Prow Deck runlocal: supporting dynamic Prow jobs listing"
**What would you like to be added**:

Prow Deck runlocal supports dynamic Prow jobs listing

**Why is this needed**:

Currently Prow jobs listing for Deck runlocal mode is from a [pregenerated file](https://github.com/kubernetes/test-infra/blob/609f0d468e7e14ee1babcafa83151220cfc52668/prow/cmd/deck/runlocal#L23) via [fallback](https://github.com/kubernetes/test-infra/blob/609f0d468e7e14ee1babcafa8

[2020-05-04 21:17] #17400 closed

[2020-05-05 01:20] rokrokss opened #17512 "ghproxy: Path not handled, reporting as instructed."
[code]
I'm using GitHub Enterprise, if that's related.

[2020-05-05 02:34] tehcyx commented on #13789
I don’t think this is still an issue with the simplified path rework @stevekuznetsov ?

[2020-05-05 03:15] spiffxp commented on #13039
what (if anything) was done to finally resolve this?

[2020-05-05 13:16] bparees commented on #17151
@michelle192837 Thanks for looking into it...anything else I can do/look-at/provide from my end?

[2020-05-05 16:38] MaxymVlasov opened #17517 "Code owner should not can approve it own PRs"
**What happened**:
I am owner and I can approve my own PR.

**What you expected to happen**:
PR creator should not have ability to `/approve` the PR, regardless is it owner or not.

**How to reproduce it (as minimally and precisely as possible)**:
1. User is code owner/reviewer in repo.
2. Create PR.
3. Send `/approve`.

**Please provide links to example occurrences, if any**:
https://github.com/k

[2020-05-05 18:30] FL3SH opened #17520 "Docker registry timeout"
**What happened**:
Docker registry timeout during `./kubetest --build`
Is this docker registry related issue?

**What you expected to happen**:
Build should finish successfully.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
[code]

[2020-05-05 19:29] michelle192837 commented on #17151
Hmm, you can try and see if there's a significant difference between how logs appear for your job vs some other jobs with a lot of targets (since I'm not seeing the same issue with others; something with a similar number of rows might be a good check?). I can try and look in a bit more tomorrow too. ^^

[2020-05-05 19:30] michelle192837 commented on #17151
Also if you happen to know how logs for these jobs are uploaded (podutils? custom script/job? something else?), that would be helpful!

[2020-05-05 19:53] bparees commented on #17151
i'm going to have to defer to @stevekuznetsov on that, but it shouldn't be any different for this job than our working ones.

[2020-05-05 22:09] stevekuznetsov commented on #17151
@michelle192837 this is a normal pod-utils upload! What is the file that's missing?

[2020-05-05 23:26] FL3SH commented on #17520
After rebuild all from scratch including build vm problem with docker registry disappear.

[2020-05-05 23:26] #17520 closed

[2020-05-05 23:32] alvaroaleman commented on #17517
This can be enabled via a setting on the `approve` plugin: https://github.com/kubernetes/test-infra/blob/6e7f9252d5fae7d74fd9ffabe9175078240000ca/prow/plugins/config.go#L258

[2020-05-06 14:40] #12752 closed

[2020-05-06 20:53] michelle192837 commented on #17151
Mmk, I don't think files are missing, but I do want to ask if you expect tests to be rerun like 15 times?

Since these are counting as different invocations, we're hitting the '100 same invocations' limit quickly because of repeatedly hitting tests with the same name and status. (This is visible in Spyglass I believe if you look at failed tests and expand results to see a number of runs: https://p

[2020-05-06 21:24] pabrahamsson commented on #16643
@cjwagner in case you need another sample, [redhat-cop/containers-quickstarts#323](/redhat-cop/containers-quickstarts/pull/323). This PR was merged last week but Tide is still trying to merge it and other PRs are now waiting behind it.
Tide log:
[code]

[2020-05-06 21:36] michelle192837 commented on #17151
Bleh, looking more at how this works in TestGrid atm, this is not a trivial fix; it'd require a pretty big change to how we process test results for JUnit. :(

Reducing reruns should help (anything to avoid processing the same named tests over and over).

[2020-05-06 21:43] bparees commented on #17151
interesting, that is likely unique to this job and i do not know why it's doing that.

@knobunc or @danwinship can you explain the retry test behavior in your stress job?  it seems to be wreaking havoc on testgrid.

![image](https://user-images.githubusercontent.com/4974046/81231362-0c893480-8fc1-11ea-9254-90ec90a46ed9.png)

[2020-05-06 22:00] cjwagner commented on #16643
@pabrahamsson I'd poke the PR with a comment to try to fix the search indexing. It sounds like GH has enough examples for the time being.
This was the last response from May 4th:

[2020-05-07 11:14] mborsz commented on #17505
I discussed #17515 on chat with @Katharine and the feedback is that it's not viable option as there are some use cases when subdir regexp are needed.

The current idea is significantly simpler:
* update cloud.google.com/go/storage dependency so that it includes https://github.com/googleapis/google-cloud-go/commit/f9fc089da7b416e5cfb30c7f0bc9ce73fc68ed20
* use storage.Query.SetAttrSelection to fetc

[2020-05-07 11:33] mborsz opened #17546 "Update cloud.google.com/go"
**What should be cleaned up or changed**:
Currently, this repo uses cloud.google.com/go library in version v0.44.3:
To implement some performance improvement in deck I need to update cloud.google.com/go library to version at least v0.49.0 (see https://github.com/kubernetes/test-infra/issues/17505#issuecomment-625190906 for context)

https://github.com/kubernetes/test-infra/blob/1e9aeb3e97e9d3dae74

[2020-05-07 11:33] mborsz commented on #17546
/assign @fejta

@fejta, I see that you wrote https://github.com/kubernetes/test-infra/blob/master/docs/dep.md. Do you have any suggestion on how to proceed with this?

[2020-05-07 11:34] mborsz commented on #17546
/cc @mm4tt

[2020-05-07 12:49] LorbusChris commented on #15043
@BenTheElder it's still not working for me: https://github.com/openshift/installer/pull/3563#issuecomment-625233729

(my username is present in OWNERS on that branch: https://github.com/openshift/installer/blob/fcos/OWNERS#L7)

[2020-05-07 12:51] danwinship commented on #17151
No idea. @smarterclayton wrote that

[2020-05-07 13:08] BenTheElder commented on #15043
/area prow
cc @cjwagner @alvaroaleman

[2020-05-07 13:10] smarterclayton commented on #17151
These are all rerun tests.  The tests are deliberately rerun in order to ensure they are stable.  This is a "flake finder" job.  We could optionally skip successful jobs, but we try to capture multiple failure jobs to make sure they are the same flake.  We *could* dedupe them at run time in test/e2e, but this won't be the only time we try to have deflake jobs.

[2020-05-07 13:12] BenTheElder commented on #17505
Katharine works in wearables now 🙃
cc @cjwagner

[2020-05-07 13:14] alvaroaleman commented on #15043
hm, I wonder if we do something wrong with the casing there? @petr-muller did you look into this one?

[2020-05-07 13:31] MaxymVlasov commented on #17517
@alvaroaleman If I understood correctly, `RequireSelfApproval` setting disable by default, and if be set to `true` - PR creator must be approve it own PR, otherwise PR not be merged. It more looks like `WIP bot` / `Draft PR` Github functionality.

But I ask about another stuff:
Folks **can fully skip review process on it own PRs** if it is owners/reviewers.

[2020-05-07 14:18] petr-muller commented on #15043
@alvaroaleman never got to this :( but casing is also what I suspected.

[2020-05-07 14:35] alvaroaleman commented on #17517
No. By default code owners just autoapprove their own change. The semantic meaning of `approve` is "I approve of the idea of this change", so if you are a codeowners, you automatically approve of the idea of the change of the code you own.

No. A `/lgtm` is still required, you can never lgtm your own change

[2020-05-07 14:40] MaxymVlasov commented on #17517
Yep, I forgot about `/lgtm`, if I found that I can `/lgtm` my own PR, I will repopen this Issue.
Thank you!

[2020-05-07 14:40] #17517 closed

[2020-05-07 15:28] BenTheElder opened #17549 "mkpj should not expect github caching proxy"
**What happened**:

**What you expected to happen**:

I do not expect to be warned about using the mkpj CLI without a ghproxy instance.

**How to reproduce it (as minimally and precisely as possible)**:

`config/mkpj.sh`

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

I hope mkpj isn't going to rapidly consume API ratelimit 🙃
/area prow

[2020-05-07 15:32] BenTheElder opened #17550 "mkpj should not fail with anonymous github client"
**What happened**:

While running:
`config/mkpj.sh --job=post-kubernetes-push-image-go-runner`

The following:
[code]

**What you expected to happen**:

I expect to be able to use mkpj on public repos without granting it any authentication.

**How to reproduce it (as minimally and precisely as possible)**:

Use mkpj without `--github-token-path`

**Please provide links to example occurrences, if a

[2020-05-07 15:52] BenTheElder commented on #17550
you can mitigate by temporarily writing a token to disk and then passing `--github-token-path`

for this script you probably want to put it in the repo and then do `$(pwd)/token`.

you should delete this though, do not leave an access token to your github sitting around on your local disk.

[2020-05-07 18:14] tallclair commented on #14647
/remove-lifecycle stale

[2020-05-07 18:59] alvaroaleman commented on #15043
@LorbusChris are you able to `approve` on that branch? The override plugin is basically using the same code to get the owners as the approvers plugin, so this is somewhat surprising

[2020-05-07 19:07] LorbusChris commented on #15043
I haven't tried to approve anything explicitly lately, but `lgtm` definitely works and that has in my experience always led to the bot also applying `approve`, e.g. https://github.com/openshift/machine-config-operator/pull/1653

Should I try to explicitly do an `/approve`?

[2020-05-07 19:41] alvaroaleman commented on #17499
@stpabhi while not immediately obvious, we do set an auth header for the v3 calls as well: https://github.com/kubernetes/test-infra/blob/a551c344cc565d363e68cee05be831126847d33b/prow/github/client.go#L783

The api call you mentioned always requires a token and will never work anonymously, regadless of using Github enterprise or github.com.

What could be the cause of the issue you are seeing is th

[2020-05-07 20:13] matthyx commented on #13413
/remove-lifecycle stale

[2020-05-07 20:18] matthyx commented on #16793
Is this still open for contributors? @alvaroaleman which strategy do you recommend?

[2020-05-07 20:31] alvaroaleman commented on #16793
I think I would probably just use approvers as reviewers if there are no reviewers in blunderbuss

[2020-05-07 20:34] matthyx commented on #16793
ok
/assign

[2020-05-07 20:37] alvaroaleman commented on #17464
Fixed in https://github.com/kubernetes/test-infra/pull/17483
/close

[2020-05-07 20:38] alvaroaleman commented on #17463
Fixed in https://github.com/kubernetes/test-infra/pull/17483
/close

[2020-05-07 20:38] #17463 closed

[2020-05-08 03:43] stpabhi commented on #17499
@alvaroaleman I'm using v20200424-22d77d1c9 tag.

I have found that the problem is domain redirection. Prow was configured with GHE endpoint A and apparently A redirects (301) to B which is the base_url. Looks like the header is being dropped upon redirection.

I didn't realize the redirection and made the proposed changes and at the same time :( configured prow to use domain B (unknowingly).

Tha

[2020-05-08 12:00] alvaroaleman commented on #17499
/close

[2020-05-08 12:01] #17499 closed

[2020-05-08 17:27] alvaroaleman commented on #17550
/assign

[2020-05-08 17:28] alvaroaleman commented on #17550
This one is really annoying.

[2020-05-08 17:30] geojaz opened #17558 "Kops/GCE e2e tests need a new Google Service Account"
**What happened**:
Kops GCE e2e tests are broken and have been for quite awhile in prow. In this context, I mean the tests are unable to make it through the `--up` phase, not that they aren't all passing. There's a bunch to unpack here, but basically they don't work because we rely on RW access to storage both during the launch of a cluster and during its operation.

I raised a [PR](https://github

[2020-05-08 19:41] #17187 closed

[2020-05-08 22:21] #17550 closed

[2020-05-08 23:10] geojaz commented on #17558
/assign @listx @justinsb

[2020-05-09 06:39] BenTheElder commented on #17550
thank you!

[2020-05-09 10:56] LorbusChris commented on #15043
`/approve` works for me as well: https://github.com/openshift/installer/pull/3572#issuecomment-626148905

[2020-05-09 13:44] kwiesmueller commented on #17187
@alvaroaleman @fejta thanks for reviewing.
Do you want to announce this change in Kubernetes-dev or somewhere else?
I suppose it could be useful for more people to know about it.
How is the usual flow for changes like this.

[2020-05-10 20:20] #15568 closed

[2020-05-10 20:21] alvaroaleman commented on #15568
https://github.com/kubernetes/test-infra/pull/17183 plus https://min.io/download#/kubernetes will fix this usecase

[2020-05-10 20:29] saschagrunert commented on #15568
Ah yeah that’s a good idea to use minio. Thanks for the link!

[2020-05-11 00:24] #15588 closed

[2020-05-11 07:39] chenpfeisoo commented on #8557
`kubetest --provider=skeleton --test --test_args="--host=https://XXXX --ginkgo.focus=\[Serial\].*\[Conformance\]"  --check-version-skew=false`
I get the following error:

[2020-05-11 07:39] chenpfeisoo commented on #8557
If you are running from a binary release tarball, something is wrong.
Look at http://kubernetes.io/ for information on how to contact the
development team for help.
2020/05/11 15:36:09 process.go:155: Step './hack/e2e-internal/e2e-status.sh' finished in 34.074144ms
2020/05/11 15:36:09 main.go:312: Something went wrong: encountered 1 errors: [error during ./hack/e2e-internal/e2e-status.sh: exit sta

[2020-05-11 16:58] adshmh commented on #14325
/remove-lifecycle stale

[2020-05-11 17:03] #14325 closed

[2020-05-11 21:34] efiturri commented on #17266
/assign

[2020-05-11 21:49] stevekuznetsov commented on #17266
Realistically we would rather have specific federated spyglass lenses, right?

[2020-05-12 05:20] BenTheElder commented on #14643
@spiffxp lacking this data seems problematic. can we at least add some snippet we run in the wrapper script to dump this to e.g. metadata.json, or update the pipeline to consume the prowjob.json or ..?

[2020-05-12 05:23] BenTheElder commented on #17368
lacking sufficient info. please follow up with sufficient info and we'll reopen.

[2020-05-12 05:23] #17368 closed

[2020-05-12 13:31] kasiakepka opened #17576 "/pr page is not loading"
**What happened**:
I am trying to setup the rerun option in prow.
I'm following this guide https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/github_oauth_setup.md

Problem: <PROW_BASE_URL>/pr is not loading, I can see it is throwing 404 error.
![Screen Shot 2020-05-12 at 15 21 24](https://user-images.githubusercontent.com/48180632/81697796-945dbb80-9465-11ea-8aab-e8790878ab15.png)

[2020-05-12 20:00] petr-muller opened #17580 "Bot feedback on `/test all` confusing when `/test all` does not trigger any jobs"
**What happened**:

We have a repo where all jobs are conditionally triggered:

[code]

Recently we had a PR which made a change such that no job matched the criteria, so no job was run by default. As documented in https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#standard-triggering-and-execution-behavior-for-jobs, `/test all` means "trigger all automatically triggered jobs", whic

[2020-05-12 21:20] tseelbach opened #17582 "webhook from hook to GHE fails with error getting bot name: fetching bot name from GitHub: status code 401"
**What happened**:
webhook from hook to Github Enterprise fails with "error getting bot name: fetching bot name from GitHub: status code 401 not one of [200]

**What you expected to happen**:
webhook from hook to ghe, using oauth token, to successfully connect to GHE

**How to reproduce it (as minimally and precisely as possible)**:
- on an existing OpenShift 4,3 custer
- Following the manual proc

[2020-05-12 21:24] cjwagner opened #17583 "WIP plugin doesn't properly handle draft PRs after changes to GH API."
It looks like the GH API changed in a couple ways that break the [WIP plugin's](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/wip) handling of draft PRs (which should be automatically labelled as WIP). In particular it looks like GH now allows normal PRs to be converted to draft PRs after they have already been created and now sends a `pull_request` event with action `converted

[2020-05-12 21:24] cjwagner commented on #17583
/area prow/plugins

[2020-05-13 10:00] humblec opened #17588 "Prow issue: how to get rid of `do-not-merge/invalid-commit-message`?"
I am in process of migrating a repo and it fails on couple of commits as wrote here https://github.com/kubernetes-sigs/gluster-block-external-provisioner/pull/1#issuecomment-627873795.

[code]

The questions are:
1) Its not clear what commit message string is causing this issue. Can you please let me know ? links are not helpful.
2) How to get rid of or make the flag silent ? any tricks for that ?

[2020-05-13 10:49] petr-muller commented on #17588
About 1) Both linked commits contain the `Fixes:` string, which is a "Keyword that can automatically close issues" (https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword -- part of the page linked by `Keywords`)

[2020-05-13 11:07] humblec commented on #17588
Thanks @petr-muller ..  I see, I was looking at the commit title and not really into the message part.
I will wait for second query to be addressed and proceed accordingly.  :) :+1:

[2020-05-13 20:38] #17419 closed

[2020-05-13 21:41] adshmh commented on #17580
I will take a look and submit a PR to fix it.

[2020-05-13 21:44] adshmh commented on #17580
/assign

[2020-05-14 14:48] #17576 closed

[2020-05-14 17:30] #16650 closed

[2020-05-14 17:51] #15449 closed

[2020-05-15 11:51] kasiakepka opened #17606 "` rerun_auth_configs:` is not respocted"
**What happened**:
 I am able to rerun https://prow.k8s.io/ jobs.
`rerun_auth_configs` and `rerun_auth_config` directives are not respected and all github users  can rerun presubmit jobs.
`allow_anyone: false` is not helping.

I understand that in your case only those two groups should be able to rerun jobs:

[code]

**What you expected to happen**:
Only selected group/org members can rerun jobs.

[2020-05-15 13:28] tseelbach commented on #17582
I updated the description, added detail. Any debug hints will be appreciated.

[2020-05-15 13:28] alvaroaleman commented on #17606
/assign

[2020-05-15 13:57] #17606 closed

[2020-05-15 19:50] michaelmdresser commented on #12346
/assign

[2020-05-15 20:03] michaelmdresser commented on #12346
This appears to be addressed in https://github.com/kubernetes/test-infra/pull/17345

[2020-05-15 20:13] michaelmdresser commented on #12346
@fejta Looks like this be closed?

[2020-05-15 20:17] #15628 closed

[2020-05-15 20:35] cblecker commented on #12346
It does. Thanks for checking it out @michaelmdresser !

/close

[2020-05-15 20:35] #12346 closed

[2020-05-15 21:12] michaelmdresser commented on #14201
/assign

[2020-05-15 21:28] cjwagner opened #17612 "prow.k8s.io/build-id Pod label is always the empty string."
**What happened**:
It looks like the `prow.k8s.io/build-id` label is always set to the empty string on ProwJob pods.
[code]
**What you expected to happen**:
Pods should be properly labelled with their build IDs.

/area prow
/area prow/plank

[2020-05-15 22:12] ixdy opened #17614 "Remove boskos from kubernetes/test-infra"
**What should be cleaned up or changed**:
I've begun the effort to move boskos into its own repository (https://github.com/kubernetes-sigs/boskos).

I've started tracking this work in https://github.com/kubernetes-sigs/boskos/issues/3. This issue here is mostly an FYI for anyone watching this repo.

**Provide any links for context**:
https://github.com/kubernetes/org/issues/1783

/area boskos
/ass

[2020-05-16 00:22] #15423 closed

[2020-05-16 18:39] #9679 closed

[2020-05-17 08:13] sbueringer commented on #11260
https://github.com/kubernetes/test-infra/pull/17183 is almost merged

Some followups for the deck PR:
* [ ] rename gcsBucket & gcsArtifactHandle to something more neutral like storageBucket & storageArtifactHandle
* [ ] remove noGcsAuth flag in a few weeks
* [ ] create constants for filenames like `finished.json`
* [ ] because of the job_url_prefix format (e.g. prow.k8s.io/view/gcs) only one stora

[2020-05-17 15:49] matthyx commented on #16793
@BenTheElder if you want less reviews, just rename your account to zenTheElder...

https://github.com/kubernetes/test-infra/blob/master/prow/plugins/blunderbuss/blunderbuss.go#L228 makes a sorted list of all reviewers, leafReviewers, approvers and leafApprovers - and capitalization wins (also sad news for @alvaroaleman).

I think we need to come with a better strategy than https://github.com/kuber

[2020-05-18 02:10] #14432 closed

[2020-05-18 13:02] jlewi commented on #10423
I think this is still relevant.

[2020-05-18 14:20] petr-muller commented on #10423
/remove-lifecycle rotten

I do too

[2020-05-18 16:33] spiffxp opened #17625 "go.k8s.io/triage serving stale data, triage update job timing out at 2h"
**What happened**:
From: https://storage.googleapis.com/k8s-gubernator/triage/index.html (emphasis added)

https://k8s-testgrid.appspot.com/sig-testing-misc#triage&width=5&graph-metrics=test-duration-minutes

The job started steadily increasing in duration from ~45m to 2h in the past 2 weeks, hitting its 2h threshold around 2020-05-13

**What you expected to happen**:
This job _used_ to take 20m t

[2020-05-18 20:39] cjwagner opened #17627 "Trigger plugin doesn't trigger jobs when PR is switched from draft to normal."
**What happened**:
A PR was created as a draft, no tests were run because it was a draft. The PR was later switched from draft to normal, but tests were not triggered.

**What you expected to happen**:
Tests should trigger when the PR is switched from draft to normal in the same way that tests would run if the PR was created as a normal PR.

**Please provide links to example occurrences, if any**:

[2020-05-18 20:39] cjwagner commented on #17627
/area prow/plugins

[2020-05-18 22:11] mahboobEs opened #17628 "PR Dashboard:"

[2020-05-18 22:25] aojea commented on #17625
analyzing one occurrence for reference, however, I'm not familiar at all with these jobs so disregard it if it does not make sense:

[code]

I0513 05:23:15.999] Finished clustering 2805 unique tests (187670 failures) into 4470 clusters in 106m57s <<<< is this normal?

[2020-05-18 23:12] dims commented on #17625
@aojea the green jobs also had similar number of tests, but yes the red jobs had a lot more failures (example 2877 tests and 208690 failures in https://storage.googleapis.com/kubernetes-jenkins/logs/ci-test-infra-triage/1262429570640908288/build-log.txt)

Let's bump the timeout for now.

[2020-05-19 16:24] spiffxp commented on #17625
The quantity of tests and failures doesn't seem wildly out of tolerance.  The duration is.

I have a sneaking suspicion that integration tests are dumping a ton of output that doesn't cluster well, and are repeatedly hitting the worst case scenario of computing edit distance against every single cluster of failures.

[2020-05-19 17:50] chaodaiG opened #17636 "Prow: deck shouldn't report error message when job history symlink doesn't exist"
**What happened**:
Deck logs errors when it couldn't read job history symlink for a job

**What you expected to happen**:
Deck should differentiate the reason why it failed reading job history symlink.
- If file not exist, just log as info/debug
- If any other reason, log as error

**How to reproduce it (as minimally and precisely as possible)**:
Go to https://prow.knative.dev/job-history/knative-

[2020-05-19 19:44] cjwagner opened #17637 "pull-test-infra-gubernator is failing"
**What happened**:
`pull-test-infra-gubernator` is failing on all runs: https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-test-infra-gubernator
https://testgrid.k8s.io/presubmits-test-infra#gubernator
[code]
**Please provide links to example occurrences, if any**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/17600/pull-test-infra-gubernator/126282

[2020-05-19 20:07] matthyx commented on #16793
@BenTheElder @spiffxp @mrbobbytables I think I need you help on that, because such a bug means an unfair effort split between reviewers and approvers...
It is very important to make this right and communicate it through contribex to show how we care about the community.
@LappleApple maybe we could get some data about how alphabetical order influences review/approval requests?
Thanks all for your h

[2020-05-19 21:02] #16361 closed

[2020-05-19 22:15] alvaroaleman commented on #14236
/reopen
This is actively being worked on in https://github.com/kubernetes/test-infra/pull/17626

[2020-05-19 23:33] spiffxp commented on #17625
This should get us under timeout, but still not as fast as it used to be. ref: https://github.com/kubernetes/test-infra/pull/17643

[2020-05-20 00:31] chizhg opened #17645 "area/* and sig/* labels are not removed from PRs when they are not needed"
**What happened**:
When I worked on a PR in k8s test-infra, I made some mistake during rebase and pushed a lot of irrelevant changes, which exploded the labels on the PR. But after I corrected it and did a force push, the labels were not removed, though my PR did not contain those changes any more.

**What you expected to happen**:
The labels should be removed after the PR does not contain the rel

[2020-05-20 04:38] spiffxp commented on #16793
I have no problems with changing the `List()` to `UnsortedList()`

FWIW those lists are populated by random selection https://github.com/kubernetes/test-infra/blob/1fcf814d0181ffa94f89398ce4de06f71487d982/prow/plugins/blunderbuss/blunderbuss.go#L322

---

That said, note this isn't (directly?) related to blunderbuss's requested review selection.  This is about who the approve plugin recommends for

[2020-05-20 05:57] zyc-ai commented on #16116
/remove-lifecycle stale

[2020-05-20 08:12] Ark-kun opened #17651 "Logs UX: Purple on grey might not be readable for everyone"
![image](https://user-images.githubusercontent.com/1829149/82422192-feaec700-9a36-11ea-9603-795bbeab13f1.png)

[2020-05-20 09:28] saschagrunert commented on #16589
Ref https://github.com/kubernetes/test-infra/pull/17014

[2020-05-20 14:58] chaodaiG commented on #17637
Couldn't repro this error locally by
[code]

The difference is that my `pip` version is 20.1.1, and the one used in prow is 8.1.1. So created a test PR with `pip install --upgrade pip` and it passed.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/17653/pull-test-infra-gubernator/1263119883646799872
https://github.com/kubernetes/test-infra/pull/17653

[2020-05-20 15:02] chaodaiG commented on #17637
The image used for this job `gcr.io/k8s-testimages/gubernator:0.4` was built in 2017, I think it could be fixed by rebuilt this image

[2020-05-20 15:20] chaodaiG commented on #17637
Created #17654

[2020-05-20 18:16] #17637 closed

[2020-05-20 19:24] #17549 closed

[2020-05-20 20:52] michelle192837 commented on #17651
/area prow/spyglass

That's pretty bad, yeah. :( Do you have a link to those logs as well?

[2020-05-20 22:43] tseelbach opened #17667 "bazel run //experiment/add-hook is hanging"
As a new Prow user, I'm trying to install prow in GHE and failed as described in issue https://github.com/kubernetes/test-infra/issues/17582

To debug, i'm trying to run add-hook so that i can see how/where the repo-url is passed into github.client.  So using instructions on getting_started_deploy.md as a starting point, i figured that this command might work.  It executes but then hangs without m

[2020-05-20 22:44] spiffxp commented on #17625
In case it's useful, I looked back 800 builds when I was trying to troubleshoot what happened.  It's not that we're receiving a lot more test failures than we used to, but that what we're receiving isn't clustering well.

https://docs.google.com/spreadsheets/d/1LkzEBhUJJH_6RCV6Q3kFTMMO64iDkCC9x0t5tGNlmX4/edit
<img width="1811" alt="Screen Shot 2020-05-18 at 5 00 34 PM" src="https://user-images.git

[2020-05-20 23:17] chaodaiG commented on #17636
/area prow

[2020-05-21 04:27] jlewi opened #17671 "periobolos keep going if user not found - error code 422"
A follow on to #14321. As mentioned in that periobolos seems to error out updating the org if a GitHub id doesn't exist. I would like it to keep going.

In that issue it was mentioned this was fixed in newer images. I just tried the latest image
gcr.io/k8s-prow/peribolos@sha256:cb771295078f0a7353f375d39242ecafadcfc46650efb8a5f0adfa10b3f8c050

and it looks like I'm still hitting the issue. Here's t

[2020-05-21 10:29] #15675 closed

[2020-05-21 17:49] dims commented on #17625
Nice graphs :)

[2020-05-21 19:55] aojea commented on #17625
indeed, who can argue against that ;)

[2020-05-21 21:14] #17627 closed

[2020-05-21 21:32] #17580 closed

[2020-05-21 22:04] BenTheElder commented on #17651
prow doesn't set purple on it's own IIRC, are your logs emitting terminal color codes?

[2020-05-21 22:06] BenTheElder commented on #17588
We've banned it as a policy matter in the kubernetes orgs, it's turned on globally in our prow instance IIRC.

This has poor interaction with github. You can phrase it differently, or if you want your PR to close the issue you can put "fixes: #..." _in the PR body_ and NOT in the commit

[2020-05-21 22:06] BenTheElder commented on #17588
A PR to include a link to https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword or a doc outlining this would probably be most welcome
/area prow

[2020-05-21 22:12] BenTheElder commented on #17457
`kind/` is the label category, and the kind of issue is a feature request. this comes from the issue template.

----

AIUI prow does not intend to support this, that primary container _is_ the test, in which a special entrypoint is injected to monitor the test command output / exit code.

/area prow
/area prow/plank

cc @cjwagner @alvaroaleman

[2020-05-21 22:12] BenTheElder commented on #17207
I don't think i'm going to get to this anytime soon, this thing has relatively low usage and we're not really relying on the signal.

[2020-05-21 22:16] BenTheElder commented on #17645
it would be feasible enough to detect that a push removed the need to add these, but these labels can also be added manually or via commands, so it would be somewhat complex to get that correct (so as not to remove manually added labels) or we'd have to decide that we're OK with clobbering manually added labels.

cc @cblecker for behavior thoughts

[2020-05-21 22:17] BenTheElder commented on #17033
sounds reasonable to me, add some flags w/ defaults to the current values?
cc @stevekuznetsov @alvaroaleman

[2020-05-21 22:18] cblecker commented on #17645
Yeah, unless we can figure out some way of saying "these ones are manual, and these ones are from owners files" then I think it might do more harm than good to clobber manually added labels.

[2020-05-21 22:18] BenTheElder commented on #17056
we have jobs that comment with wholly-unprivileged secondary account(s) (@fejta-bot)

[2020-05-21 22:20] BenTheElder commented on #16836
@spiffxp is there any plan to bring this back, at this point?

[2020-05-21 22:21] BenTheElder commented on #17645
it should be possible to detect that I think, but you'd have to read in the PR events and compute what happened, I sort of doubt any of the prow maintainers are inclined to build this more complex version.

[2020-05-21 22:28] alvaroaleman commented on #17033
sure, sounds good to me

[2020-05-21 22:35] alvaroaleman commented on #17457
Yeah, this is not something that we want to add to plank.

The approach to offering this would be to use the pipeline controller in prow/cmd/pipeline and setting the `agent` on the job to `tekton-pipeline`. It natively supports this.

However, today the pipeline controller lacks some basic functionality like log publishing. All Prow deployments I know about only use `Plank` via the `kubernetes` ag

[2020-05-21 22:50] cblecker commented on #17645
That’s my feeling too. It’s annoying when a rebases goes sideways and you manually have to remove the labels, but probably not worth the effort to work around this IMO

[2020-05-22 14:06] alvaroaleman opened #17688 "Plank: Investigate if using pod start time as indication of pod being started is safe"
**What happened**:

Currently, we use the pods `StartTime` to check if it went over the `MaxPendingTimeout` in plank: https://github.com/kubernetes/test-infra/blob/7ab687ff32136b50b7c84f3cdaa68ed730358e67/prow/plank/controller.go#L388

Its not clear if the `StartTime` gets set while initContainers are running, resulting in the pod being considered pending while they run. Xref: https://github.com/k

[2020-05-24 00:20] deedubs commented on #10146
I'm interested in taking a look at adding gitea support where are we with regard to implementing @wbrefvem's suggestion of gRPC vs adding the additional services in tree

[2020-05-24 19:33] adshmh commented on #17612
/assign

[2020-05-24 22:14] cblecker commented on #14201
Fixed in #17658

[2020-05-24 22:14] #14201 closed

[2020-05-24 22:25] cblecker commented on #15779
/remove-lifecycle frozen

We haven't decided if/how we would do this, so it doesn't really qualify for frozen.

I'm not sure what the workflow would even look like for this.. we don't really do repo-scoped commands. They are all issue or PR scoped.

[2020-05-24 23:11] johngmyers opened #17696 "Prow's not running tests on draft PRs counterproductive"
**What happened**:

I created a draft WIP PR, in order to get CI signal while indicating to humans that the change was not ready for code review.

**What you expected to happen**:

Prow CI jobs to run and provide results and log artifacts.

**How to reproduce it (as minimally and precisely as possible)**:

Create a GitHub draft PR.

**Please provide links to example occurrences, if any**:

kuberne

[2020-05-25 00:54] #15693 closed

[2020-05-25 02:59] stevekuznetsov commented on #17696
Looks like we are not going to be able to please everyone with this. @cjwagner should we make this enabled on an org/repo level?

[2020-05-25 03:33] stevekuznetsov commented on #15779
If we implement branch creation as a plugin, we can just enable the plugin on a single repo.

[2020-05-25 04:18] cblecker commented on #15779
@stevekuznetsov That's not what I mean. I mean where would you issue the command to create a branch?

[2020-05-25 05:03] johngmyers commented on #17696
It looks like there are three author-no-desire-merge use cases: desire both review and CI, desire review but no CI, and desire CI but no review.

I don't think this would make a good org/repo setting.

[2020-05-25 06:38] oshoval opened #17698 "Approve label isn't cleaned when new changes are pushed to the PR."
**What happened**:
A maintainer approved the PR.
I pushed new code, and the approve label wasnt cleaned.

**What you expected to happen**:
The approve label, as lgtm label should be cleaned upon pushing of new code.

**How to reproduce it (as minimally and precisely as possible)**:
Approve a PR, push new code, see the approve reminds intact.

**Please provide links to example occurrences, if any**

[2020-05-25 12:19] #17197 closed

[2020-05-25 15:06] alvaroaleman commented on #17696
This was delibaretely introduced in https://github.com/kubernetes/test-infra/pull/17374 by @kwiesmueller because for him, the noise of the testing was undesired.

/cc @cblecker @nikhita
As this is not a technical question but a question of policy. Sorry for not pinging you prior to merging that PR, I should have anticipated that any kind of workflow change will break someones usecase. Not sure wha

[2020-05-25 15:14] alvaroaleman commented on #17698
This is deliberate. `approve` signals that the codeowner is fine with the idea and approach of the change. `lgtm`, which gets cleaned up, signals that the implementation looks good.

[2020-05-25 15:21] kwiesmueller commented on #17696
After being suggested to me the Draft PR seemed like a good way of skipping CI.

It is a draft (and not a wip) with the draft overruling wip.

What would be the reason to create a draft PR with the existing WIP mechanics right now?

I agree it should be documented and communicated to have this behavior, but in general I think the possibility to skip drafts in ci saves time, resources and makes lon

[2020-05-25 15:23] kwiesmueller commented on #17696
Oh and the initial discussion can be found here: https://github.com/kubernetes/test-infra/issues/17187

[2020-05-25 21:03] cblecker commented on #17696
@stevekuznetsov: I don't care if we make this a trigger setting, but I don't think we'll use it for @kubernetes. We want things to be pretty uniform amongst repos.

I am okay with draft == no CI, as long as bringing a PR out of draft form ([pull_request](https://developer.github.com/webhooks/event-payloads/#pull_request) `ready_for_review`) triggers tests. We just need to document this so it's not

[2020-05-26 01:21] 928234269 opened #17706 "prow when the account number is pure numbers, it will not work"
**What happened**:
my account number is pure numbers, when I use the /approve command, he does not take effect
**What you expected to happen**:
/approve takes effect
**How to reproduce it (as minimally and precisely as possible)**:
/approvers
[code]
**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2020-05-26 10:07] petr-muller commented on #17706
I think you'll need to make it a string in the OWNERS file YAML (because it is a string, just happening to consist of digits).

Ideally this should also be detected by the validate-owners plugin.,,

[2020-05-26 12:59] alvaroaleman commented on #17636
/reopen
My fixes do not seem to work

[2020-05-26 14:09] chaodaiG commented on #17636
Curious how you tested your changes

[2020-05-26 14:20] 928234269 commented on #17706
Thank you very much for your reply, already working.
[code]

[2020-05-26 14:20] #17706 closed

[2020-05-26 14:30] alvaroaleman commented on #17636
By rolling it out :)

[2020-05-26 14:33] chaodaiG commented on #17636
Could find the PR updating k8s prow, assume it was tested on another prow instance?

[2020-05-26 14:36] alvaroaleman commented on #17636
Yeah, the openshift one: https://github.com/openshift/release/pulls?q=is%3Apr+Update+prow+and+other+images+as+necessary

We usually bump it at least daily

[2020-05-26 14:38] chaodaiG commented on #17636
Glad to know. Seems like knative prow isn't the only instance suffering from this issue :)

[2020-05-26 15:36] stevekuznetsov commented on #17636
Deck log spam is a feature, not a bug!

[2020-05-26 15:46] chaodaiG commented on #17636
Agree that it's not a bug. It would be totally fine if it logs as `debug` or `info` instead of `error`, as this makes us almost have to ignore all errors from deck

[2020-05-26 15:49] alvaroaleman commented on #17636
He was trolling. It is a bug. Its not an error in decks code or configuration, jobs sometimes not getting to the point of uploading logs or failing doing so will always happen sometimes.

[2020-05-26 17:36] cjwagner commented on #17696
That might be handy so that the feature can be explicitly enabled on repos where CI testing is expensive or noisy, but I suspect in most cases we'd prefer to run presubmits a few extra times rather than have to explicitly request testing. While scoping this by org/repo will give more control I agree that that isn't really the best indicator of how the PR should be handled.

I don't like the idea o

[2020-05-26 18:24] howardjohn opened #17713 "Prow issue: "Skipping CI for Draft Pull Request" doesn't trigger tests once marked as ready"
After a recent prow update, WIP PRs now get

[code]

as a comment and do not trigger tests

However, once the PR is marked as "Ready", tests are not automatically triggered. I would expected marking the PR as ready to trigger the tests rather than requiring a manual /test

[2020-05-26 18:53] karan opened #17714 "node e2e tests - projects out of quota"
Many sig-node tests are failing consistently due to CPU exhaustion:

[code]

They are tracked in https://docs.google.com/spreadsheets/d/1mEU8B2_PmMwwgp-_xnyp7QYMBwcLoA9NNlHwDyMvO0Y/edit#gid=0.

For one of the projects, looks like it's at 100 instances already:

[code]

A good starting point will be to:

- get a list of all these projects
- inspect all tests using these projects and how many CPUs t

[2020-05-26 18:53] karan commented on #17714
/kind cleanup
/sig node
/sig testing

[2020-05-26 18:53] ZhiFeng1993 commented on #17714
/cc

[2020-05-26 18:55] karan commented on #17714
/assign karan

[2020-05-26 18:57] johngmyers commented on #17696
Opening a non-draft PR with `WIP` in the title is frequently used in kubernetes/kops for requesting both human review and CI but blocking Prow from merging until the author says otherwise.

I think an `/ok-to-test cancel` command would be a more consistent UI for the no-CI case. It would mirror the `/approve cancel` command for removing the implicit approval for approver authored PRs.

For the don

[2020-05-26 19:09] MHBauer commented on #17714
Also addresses exhaustion.

[2020-05-26 21:30] karan commented on #17714
Looking at the following:

Job | Link | Project
--- | --- | ---
containerd-node-e2e-1.2 | https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.2 | cri-containerd-node-e2e
containerd-node-e2e-1.3 | https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.3 | cri-containerd-node-e2e
containerd-node-features | https://testgrid.k8s.io/sig-node-containerd#containerd-node-features

[2020-05-26 23:52] spiffxp commented on #17714
I would confirm whether those instances are from live running tests, or whether they're detritus left over from tests that couldn't ssh to the nodes they'd created and forgot to cleanup.  I LGTM'ed the PR to try a new region, if the reason is the latter, you may hit quota again.

See https://github.com/kubernetes/kubernetes/issues/89892#issuecomment-613207624 where we tested this out by clearing o

[2020-05-27 00:26] ixdy opened #17719 "maintenance-pull-janitor and maintenance-pull-scale-janitor still using bootstrap"
**What should be cleaned up or changed**:
I'm attempting to update the various janitors that are using the `gcp_janitor.py` script inside the `boskos/` directory in preparation for removing boskos from test-infra (https://github.com/kubernetes/test-infra/issues/17614).

It looks like the `maintenance-pull-janitor` and `maintenance-pull-scale-janitor` jobs are still using bootstrap, which is appare

[2020-05-27 07:48] #15421 closed

[2020-05-27 08:31] pohly commented on #13332
Discussion continues in https://github.com/kubernetes-csi/csi-release-tools/issues/86

[2020-05-27 11:08] oshoval commented on #17698
Thanks Alvaro,
Wondering if this behaviour is the desired in all projects?
For example what happens if there is approve, but later there is a shift in the direction that the PR implemented, which isn't liked by the maintainer,
so he must go manually and unapproved it.

Maybe its should be configurable ?

[2020-05-27 14:28] alvaroaleman commented on #17698
I am not a huge fan of the idea of making it configurable, we have too many knobs already. If you don't trust the person creating the PR to stick with the approach, don't `approve` it until its completely done.

[2020-05-27 14:31] oshoval commented on #17698
Ok, thanks Alvaro,
Closing.

[2020-05-27 14:31] #17698 closed

[2020-05-27 15:28] MHBauer commented on #17714
That's a great comment to look at, thanks!

On 5/26/20 16:52:59, Aaron Crickenberger wrote:

[2020-05-27 15:38] #14236 closed

[2020-05-27 17:22] spiffxp commented on #12863
/lifecycle frozen

[2020-05-27 17:59] nikhita commented on #10501
/remove-lifecycle stale

On Wed, May 27, 2020 at 11:28 PM fejta-bot <notifications@github.com> wrote:

[2020-05-27 19:35] michelle192837 opened #17730 "Crier is using deprecated flags"
Need to replace them with the new flags.

`--kubernetes-gcs-workers is deprecated and will be removed in August 2020. Use --kubernetes-blob-storage-workers instead.`
`--gcs-workers is deprecated and will be removed in August 2020. Use --blob-storage-workers instead.`
`missing required flag: please set to --github-token-path=/etc/github/oauth before June 2020`

[2020-05-27 19:35] michelle192837 commented on #17730
/kind oncall-hotlist

[2020-05-27 21:56] #17612 closed

[2020-05-28 01:14] jherrera123 commented on #17583
/assign

[2020-05-28 02:41] alvaroaleman opened #17737 "prow/pkg/interrupts silently catches panics"
**What happened**:

Some longer time ago we did a dependency update and noticed that Deck got stuck afterwards and never became ready or log any kind of error.

Working on Plank V2, I re-encountered the issue. I investigated and found out:
* This is because bumping controller-runtime makes Deck panic
* Panics in deck get silently swallowed
* _if_ they occur after this line: https://github.com/kube

[2020-05-28 13:26] alvaroaleman commented on #17713
@howardjohn this was only very recently fixed in https://github.com/kubernetes/test-infra/pull/17663 , do you have that change already?

[2020-05-28 15:42] humblec commented on #17588
@BenTheElder sure, but the concern here is, its on the commit which is part of the history. That said, the migration of the repo brought those intermediate commit in that form. I am wondering what should get priority here ie `unchanged history` or `the commit rule` :)..

[2020-05-28 16:02] BenTheElder commented on #17588
A repo admin can bypass this by removing the label and forcibly merge, which is what I'd expect during a repo migration for preserving history.

If the history is just from your own development, please update the commit message.

[2020-05-28 16:04] humblec commented on #17588
Cool. Thanks for confirming @BenTheElder !

Unfortunately no, so let me go ahead with the first option :+1:

[2020-05-28 16:44] mrbobbytables commented on #10501
/assign
Our org should be upgraded to enterprise soon (within the next week or 2) and we will be able to disable repo collaborators from the org setting level

[2020-05-28 19:20] hopkiw opened #17747 "`assign` plugin fails to assign to org members"
**What happened**:
On our prow-managed repo, a PR assignment failed with the following message:
[code]
pjh is a member of GoogleCloudPlatform, but ningyang is not. See https://github.com/orgs/GoogleCloudPlatform/people?query=ningyang

**What you expected to happen**:
PR should be assigned to ningyang and pjh for review

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Pl

[2020-05-29 00:46] ixdy commented on #14715
Moving this issue to https://github.com/kubernetes-sigs/boskos/issues/13.
/close

[2020-05-29 00:47] #14715 closed

[2020-05-29 00:49] ixdy commented on #15054
Moving this issue to https://github.com/kubernetes-sigs/boskos/issues/14.
/close

[2020-05-29 00:49] #15054 closed

[2020-05-29 00:50] ixdy commented on #15866
Moving to https://github.com/kubernetes-sigs/boskos/issues/15.
/close

[2020-05-29 00:50] #15866 closed

[2020-05-29 00:51] ixdy commented on #15910
Moving to https://github.com/kubernetes-sigs/boskos/issues/16.
/close

[2020-05-29 00:51] #15910 closed

[2020-05-29 00:52] ixdy commented on #15925
Moving to https://github.com/kubernetes-sigs/boskos/issues/17.
/close

[2020-05-29 00:52] #15925 closed

[2020-05-29 00:54] ixdy commented on #16001
I think this is actually done, though I haven't added metrics to the janitors yet.

/close

[2020-05-29 00:54] #16001 closed

[2020-05-29 00:56] ixdy commented on #16047
Moving to https://github.com/kubernetes-sigs/boskos/issues/18.
/close

[2020-05-29 00:56] #16047 closed

[2020-05-29 00:56] ixdy commented on #16965
Moving to https://github.com/kubernetes-sigs/boskos/issues/19.
/close

[2020-05-29 00:57] #16965 closed

[2020-05-29 00:57] ixdy commented on #17282
Moving to https://github.com/kubernetes-sigs/boskos/issues/20.
/close

[2020-05-29 00:58] #17282 closed

[2020-05-29 16:29] chaodaiG opened #17755 "Proposal: updateconfig plugin explicitly supports multiple repos"
**What would you like to be added**:
Updateconfig plugin supports multiple repos explicitly

**Why is this needed**:
Currently, updateconfig plugin supports multiple implicitly. I.e.
[code]
For the above example, if I understand the code correctly, it enables configupdater for `repoA` and `repoB`, and if `path/to/some/thing` exists in both `repoA` and `repoB` then the plugin will update `thing-con

[2020-05-29 16:30] chaodaiG commented on #17755
/area prow

[2020-05-29 16:59] howardjohn commented on #17713
verified this is fixed, thanks

[2020-05-29 16:59] #17713 closed

[2020-05-30 03:33] alvaroaleman commented on #17747
Not being able to assign non-org members is part of the GitHub api and not a Prow bug. Not sure why the assigment fir pjh failed. Are you sure he was an org member at the time that assignment failed?

[2020-05-30 15:04] jherrera123 commented on #14718
@RobertKielty are you still working on this issue? I'm interested in helping out as well.

[2020-05-30 15:08] RobertKielty commented on #14718
I have some work done on be this which I could share as work in progress.

[2020-05-30 15:39] #17583 closed

[2020-05-30 21:37] matthyx commented on #16793
@spiffxp actually the cause of the bug might be similar... people seem to make assumptions about sets keeping the insertion order.
I wonder if I should implement a kind of https://godoc.org/k8s.io/apimachinery/pkg/util/sets that keeps that order?
Also I think a proper code audit would be necessary to check whether we have this issue elsewhere...

[2020-05-30 21:40] matthyx commented on #16793
Something like https://github.com/elliotchance/orderedmap:

[2020-05-31 11:24] #1723 closed

[2020-05-31 12:08] sbueringer commented on #17033
@BenTheElder @alvaroaleman added a PR to implement this issue.

[2020-05-31 13:01] sbueringer opened #17774 "Prow: Hook: hard-coded Prow URL in owners plugin"
Currently, the link to the full list of supported commands of Prow (which is posted by the owners plugin) always links to `prow.k8s.io`. Of course this is only correct for the "main" Prow instance.

Code: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/approve/approvers/owners.go#L630

I would implement it by adding a field to the `owners` plugin configuration (https://github.com

[2020-05-31 14:29] sbueringer opened #17776 "Prow: pagination does not work on Github enterprise"
**What happened**:
Hook and other Prow components do not work on Github enterprise as soon as they are used in organizations or repos with more than >100 pull requests, repos, etc.. This bug is caused by
[`readPaginatedResultsWithValues`](https://github.com/kubernetes/test-infra/blob/master/prow/github/client.go#L1350) which doesn't handle pagination correctly for Github enterprise.

**What you ex

[2020-05-31 14:32] sbueringer commented on #17776
/label area/prow

[2020-05-31 22:30] alvaroaleman commented on #17776
/area prow

[2020-06-01 09:16] sbueringer opened #17780 "Prow: hard-coded github.com occurences"
**What happened**:
There's code in Prow which uses [hard-coded values of github.com](https://github.com/sbueringer/test-infra/commit/b4c82ba4b72a53b6beaed5466794df7d06b3cf7b). To use Prow with Github enterprise these values have to be patched manually right now.

**What you expected to happen**:
All hard-coded occurrences of `github.com` should be replaced by something which is configurable. This

[2020-06-01 12:43] sbueringer commented on #17780
All done. So this can be closed :)

Thx @alvaroaleman for the quick reviews

[2020-06-01 12:43] #17780 closed

[2020-06-01 13:17] #17776 closed

[2020-06-01 17:59] BenTheElder commented on #1723
said irony fejta-bot :(

On Sun, May 31, 2020 at 4:25 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-06-01 18:42] fejta opened #17790 "Prow cluster nodes oversubscribed?"
Seeing some intermittent errors on prow components:

/area oncall-hotlist
/kind bug

[code]

[code]

[2020-06-01 18:56] #11064 closed

[2020-06-01 22:59] #15749 closed

[2020-06-02 21:04] #17730 closed

[2020-06-02 21:25] ixdy commented on #17614
Full removal of the boskos/ directory is blocked by https://github.com/kubernetes/test-infra/issues/17719, but basically all of the code is gone now.

/close

[2020-06-02 21:25] #17614 closed

[2020-06-02 22:13] karan commented on #17714
Seems like the quota issue is resolved and I'm seeing 4-6 VMs in the project right now. So doesn't seem like VMs are being orphaned.

The new issue issue is around docker not running (for which I'll cut a new issue).

[2020-06-02 22:13] #17714 closed

[2020-06-02 22:22] karan opened #17815 "sig-node e2e failures due to docker daemon not running"
Some sig-node tests are failing consistently due to docker not running:

[code]

Looking at the following tests:

Job | Link | Project
--- | --- | ---
containerd-node-e2e-1.2 | https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.2 | cri-containerd-node-e2e
containerd-node-e2e-1.3 | https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.3 | cri-containerd-node-e2e
container

[2020-06-02 22:25] karan opened #17816 "sig-node tests failing "error converting YAML to JSON""
https://testgrid.k8s.io/sig-node-containerd#node-e2e
https://testgrid.k8s.io/sig-node-containerd#node-e2e-features
https://testgrid.k8s.io/sig-node-containerd#node-e2e-flaky
https://testgrid.k8s.io/sig-node-containerd#node-e2e-serial

[code]

They are tracked in https://docs.google.com/spreadsheets/d/1mEU8B2_PmMwwgp-_xnyp7QYMBwcLoA9NNlHwDyMvO0Y/edit#gid=0.

/kind cleanup
/sig node
/sig testing
/as

[2020-06-03 11:28] RobertKielty opened #17819 "Phony readme proposed improvement"
**What should be cleaned up or changed**:

I think the Phony [README.MD](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/phony/README.md) could be improved by replacing the phony parameter description with the help output from phony itself which is more descriptive.

So, instead of the current description

Replace the above with the output of running `./phony --help`
This shows param

[2020-06-03 14:34] #17816 closed

[2020-06-03 16:11] karan commented on #17816
Thanks for fixing!

And just for tracking (although idk if that matters)
/assign @MHBauer

[2020-06-03 17:02] spiffxp commented on #14049
/remove-help
@b01901143 will be working on this, holding issue for now

[2020-06-03 17:03] spiffxp commented on #14049
/remove-lifecycle stale

[2020-06-03 17:21] fejta opened #17824 "bumping should no longer touch prow/..."
All these files should now live under config/prow/...

/kind oncall-hotlist
/assign

[2020-06-03 19:13] fejta commented on #4824
We're now legitimately below both 294 and 200 issues!

[2020-06-04 02:11] jherrera123 commented on #16971
/assign

[2020-06-04 17:14] spiffxp commented on #17625
The triage job has trended downward over the last two weeks back to ~20m, I bumped the frequency to 30m https://github.com/kubernetes/testrefinfra/pull/17833

Leaving this open to possibly root cause why triage started having issues.  If it was a "garbage in, garbage out" scenario, could we sanitize or defend against such data?  If we made triage more performant, would it just naturally handle thi

[2020-06-04 17:16] spiffxp commented on #17625
https://testgrid.k8s.io/sig-testing-misc#triage&width=5&graph-metrics=test-duration-minutes
<img width="992" alt="Screen Shot 2020-06-04 at 10 15 57 AM" src="https://user-images.githubusercontent.com/49258/83790040-6e829b80-a64c-11ea-809a-cc623c64f555.png">

[2020-06-04 17:51] fejta opened #17841 "Automatically apply the squash merge label on multiple commits"
Create a plugin (and/or extend tide) to detect that:
* The repo will not squash commits by default
* Configured a label to request squashing commits
* The author pushed multiple commits to the PR

And then automatically add the squash commits label.

You can configure tide to have a label for requesting a squashed merge:

https://github.com/kubernetes/test-infra/blob/4b5c7c99a851eb427f5c77bd0c8d11

[2020-06-04 20:11] MHBauer commented on #17714
I'm not sure this is quite finished, for https://testgrid.k8s.io/sig-node-containerd#pull-node-e2e
I see inuse addreses quota exceeded.

``
 I0604 19:06:58.636] >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
I0604 19:06:58.636] >                              START TEST                                >
I0604 19:06:58.636] >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

[2020-06-04 20:18] karan commented on #17714
`--gcp-project=k8s-c8d-pr-node-e2e`

We should cut a new issue IMO and check all projects we use and their IP quota.

If we allow up to 100 VMs in a project, we should have at least that many IPs in quota as well.

[2020-06-04 20:43] MHBauer commented on #17714
I do not have any idea of how to do this project checking.

[2020-06-04 20:52] dims commented on #17714
We should get guidance from @spiffxp and @BenTheElder

[2020-06-04 20:54] matthyx commented on #16793
@alvaroaleman can I have your opinion?

[2020-06-04 21:24] BenTheElder commented on #17714
Aaron and I don't have much to do with this project currently, when SIGs ask for GCE quota we ask them to use the boskos pools to rent a project for one test run at a time, which makes cleanup very straightforward (destroy all project contents) and capacity planning easy (monitor how full / empty the pools are).

Using a single project is a bit of an anti-pattern.

[2020-06-04 21:50] MHBauer commented on #17714
So we need to figure out why it's tied to a specific gcp project, and figure out a way to nullify that requirement. Does that sound right?

[2020-06-04 21:56] MHBauer commented on #17714
And move to using a boskos pool for (any?/all?) tests that currently have a specific project/region? Cause yea, it would make sense to me that we don't care where these things run, just that they do.

[2020-06-04 21:59] MHBauer commented on #17714
Okay, thanks for the hint:
I see https://github.com/kubernetes/test-infra/issues/7769 and I will use https://github.com/kubernetes/test-infra/pull/8165 as reference and try to follow up.

[2020-06-04 22:16] MHBauer commented on #7769
I can help, but I need some guidance.
I'm tracing through some recent PRs:
from https://github.com/kubernetes/test-infra/pull/17349 it looks we use a different arg, gcp-project to gcp-project-type
from https://github.com/kubernetes/test-infra/pull/17359 I wonder if I need to find an entry to slot tests under or if I need to make a new one some how.
from https://github.com/kubernetes/test-infra/pul

[2020-06-04 23:26] alvaroaleman commented on #16793
I think this is not because of the map but I might be wrong. I spend 30 minutes with this code but could not quickly find an explanation. Basically we:

* Try to find leaf reviewers
* If not enough, traverse up
* this doesn't yield enough results, do the same but with approvers

This doesn't really explain what Ben saw though, because there were two leaf approvers that should have been chosen befo

[2020-06-05 18:21] #17824 closed

[2020-06-05 19:00] vpickard opened #17853 "node-kubelet-benchmark fails with OOM"
I'm wary of "just increase resources" fixes, it could be that we're hiding a legitimate problem of performance/resource-usage regressions

/cc @karan
I would be curious to get some input from folks with COS expertise

_Originally posted by @spiffxp in https://github.com/kubernetes/test-infra/pull/17743#issuecomment-635557656_

[2020-06-05 19:03] vpickard commented on #17853
This PR is in progress, to reduce the number of pods to get the benchmark tests running again.

https://github.com/kubernetes/kubernetes/pull/91813

But, it would be good to get to the root cause of the increase in memory consumption. From the debug in 91813, the top suspect is containerd.

[2020-06-05 19:18] chases2 opened #17855 "GhProxy --legacy-disable-disk-cache-partitions-by-auth-header flag enabled"
[code]

The "Not using a partitioned cache"... message appeared 4 times at startup.

/assign @chases2 @cjwagner

[2020-06-05 22:17] alvaroaleman commented on #13740
I think this is somethings we still need to fix. There is no good reason to have different codepaths  to determine "trust" in different places.

Using/Not using the "trusted org" concept is completely orthogonal to this.

[2020-06-05 22:43] fejta opened #17862 "Put image builder output into the console log"
https://github.com/kubernetes/test-infra/tree/master/images/builder

Here is an example job:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-alpine/1269032025826791425

which runs the image builder, aka:
`bazel run //images/builder -- --log-dir=/logs/artifacts --scratch-bucket=gs://k8s-images-scratch --project=k8s-prow images/alpine`

However the output is missing the act

[2020-06-05 22:47] fejta commented on #17862
Code is around here:

https://github.com/kubernetes/test-infra/blob/330b5afffda67e0289fac2ce1d37eb35f3995f33/images/builder/main.go#L153-L169

[2020-06-06 02:35] #12066 closed

[2020-06-06 21:54] #14705 closed

[2020-06-06 23:56] #9485 closed

[2020-06-07 00:23] ZhiFeng1993 commented on #17862
/cc

[2020-06-07 13:01] matthyx commented on #16793
I have checked the code in `owners.go` and it seems to work correctly when playing around with the tests in `approvers_test.go`.

I don't think any more work besides `getReviewers` is needed here.

[2020-06-07 13:16] alvaroaleman commented on #16793
Sure, but please write a testcase that reproduces the issue

[2020-06-07 13:20] matthyx commented on #16793
This one?
https://github.com/kubernetes/test-infra/pull/17676/files#diff-9405520c500fc4bbd8485ac33117d546R486

Or you mean a test case in `approvers_test.go`?

[2020-06-07 21:32] ZhiFeng1993 commented on #17862
/assign

[2020-06-08 13:05] rifelpet commented on #17558
/reopen

[2020-06-08 20:40] chases2 commented on #16472
Related to this asynchronousness, sometimes PRs will merge before their tide status is updated. This leads to some PRs (like https://github.com/kubernetes/test-infra/pull/17874) that will merge even while the Tide status says the PR is "not mergeable". This has been observed to happen on multiple repositories.

/remove-lifecycle stale

[2020-06-08 21:12] adshmh commented on #17841
/assign

[2020-06-08 21:38] alvaroaleman commented on #17841
@fejta why not simply configure squash as default mergemethod on those repos?

It has the exact same semantics as such a plugin. It will squash by default and allows to override that via a `/label othermergemethod` command.

[2020-06-09 15:57] #17790 closed

[2020-06-09 18:02] sftim opened #17893 "@-mentioning a GitHub user in a PR title creates merge commit that Prow then rejects"
**What happened**:
Prow merged a PR (via GitHub). The merge commit contained a commit message that Prow later [rejected](https://github.com/kubernetes/website/pull/21604#event-3425477433) when that branch was proposed for merge.

**What you expected to happen**:
It should not be possible to command Prow to create a commit that Prow then considers unacceptable. Alternatively, it _is_ possible but y

[2020-06-09 19:15] savitharaghunathan commented on #17893
/cc

[2020-06-09 21:58] zacharysarah commented on #17893
@kubernetes/sig-testing-pr-reviews Boosting for priority. This issue affects the viability of the 1.19 release branch. The longer this issue goes unresolved, the more potential merge conflicts arise in the 1.19 release branch.

It's not obvious to SIG Docs how to fix this particular issue. The breaking PR's commit message (https://github.com/kubernetes/website/commit/53db74cd4604ac73a7d3e900231b36

[2020-06-09 23:12] BenTheElder commented on #17893
So FWIW Prow does not create commits, it does the API equivalent of "clicking merge".

The commit contents are generated by github, which include the title.

The tooling that blocks merges of invalid commit messages should probably block invalid titles?

cc @cjwagner @alvaroaleman

To get out of this temporarily we can have a repo or org admin manually merge the affected PR. cc @mrbobbytables @cbl

[2020-06-09 23:29] spiffxp commented on #17893
FWIW it's not just repo admin, people with write access to the repo (ability to add/remove labels manually) can solve this as well.

I agree with @BenTheElder that the long term fix is to have invalidcommitmsg check PR titles as well.  In the short term I think you're unblocked unless you intend to keep https://github.com/kubernetes/website/pull/21604 open as a long-running PR

[2020-06-09 23:34] zacharysarah commented on #17893
@spiffxp Because `dev-1.19` is a long running branch, I suspect we'll see the issue reappear in https://github.com/kubernetes/website/pull/20785. But--if peeling the label off works, that may solve the problem. 🤷

[2020-06-09 23:53] salsal97 commented on #16116
/remove-lifecycle stale

[2020-06-10 00:08] zacharysarah commented on #17893
The label didn't propagate downstream in #20785, so I think peeling the label off is a win in this specific situation. 👍

[2020-06-10 01:35] nasa9084 commented on #17893
I'm sorry the problem is caused by my bad PR and thank you for working to fix!

And also I'm thinking this is a chance to contribute to k/test-infra.
Can I try to fix (checking PR titles in invalidcommitmsg)?

[2020-06-10 07:30] lubinszARM commented on #16588
cc @jingzhao123

[2020-06-10 10:19] sftim commented on #17893
I think so.

Another option is to teach Prow how to merge (which is a lot more involved) and then customize its merge behavior.

[2020-06-11 02:54] nasa9084 commented on #17893
then we have two options,

* implement a feature which checks PR title, in invalidcommitmsg
* add merge_commit_template with body templating, in config/prow/config.yml

right? which one is better?
adding config seems easier way (also for contributors)?

[2020-06-11 03:25] Bobgy opened #17915 "Consistent tide squash commit message when there's only one commit"
**Current behavior**:
When tide is configured to `squash` by default.
If there are more than one commits in the PR, commits will be squashed and PR title will be used as the commit message.
However, if there's only one commit in the PR, e.g. https://github.com/kubeflow/pipelines/commit/7fbb7cae567d24e766ae851cc494b8db0f239e54 the commit will be untouched when merged.

**What would you like to be a

[2020-06-11 13:54] #16971 closed

[2020-06-11 23:45] midnightconman opened #17922 "Allow Plank To Create Pods In Another Namespace"
**What would you like to be added**:
I would like the ability to create pods in another namespace using plank. It seems fejta called this item out here (https://github.com/kubernetes/test-infra/blob/master/prow/config/config.go#L1772). It would also be nice to configure the namespace that pods are created via the kubeconfig context, so we can control the default test pod namespace via the `cluster

[2020-06-12 06:08] Bobgy commented on #17915
Hi @cjwagner, not sure if you are the right person. From similar issues, it seems you may know related context.

Would you mind taking a look? Thanks!

[2020-06-12 16:09] #15880 closed

[2020-06-12 17:53] #17862 closed

[2020-06-13 01:18] #14348 closed

[2020-06-13 18:44] bsdnet opened #17929 "containerd-e2e-gci broken recently"
**What happened**:
On May 29, https://testgrid.k8s.io/sig-node-containerd#containerd-e2e-gci started to fail when creating cluster.

First failed log:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-e2e-gci-gce/1270494318632636417/build-log.txt

Last Succeed log:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-e2e-gci-gce/1270478968641818625/build-log.txt

[2020-06-13 22:39] #15811 closed

[2020-06-15 04:25] chizhg commented on #10884
Is it possibly the same issue as https://github.com/knative/test-infra/issues/2081?

The error messages are slightly different, but they both have `oauth2: cannot fetch token: Post https://oauth2.googleapis.com/token`

[2020-06-15 12:40] alvaroaleman commented on #10884
@chizhg This issue here really is a simple "We have a lot of jobs that use podutils and sometimes things fail for random reasons so we should retry".

Crier has retrying already, so its a different story there.

[2020-06-15 20:24] #15949 closed

[2020-06-16 00:28] #11548 closed

[2020-06-16 03:04] BenTheElder commented on #17929
test-infra code doesn't control this.
looks like the bringup code in k/k is broken, I see various errors in:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-containerd-e2e-gci-gce/1272628002525548545/artifacts/bootstrap-e2e-master/

[2020-06-16 04:53] ZhiFeng1993 commented on #17193
/assign

[2020-06-16 05:57] bsdnet commented on #17929
Thanks @BenTheElder
I will take a look and see whether I can figure this out.

BTW, how do you get the above gcsweb  link from the log?

[2020-06-16 06:46] bsdnet commented on #17929
Looks one docker image can't be loaded:
Jun 15 20:36:23.131370 bootstrap-e2e-master configure.sh[822]: Start loading kube-system docker images
Jun 15 20:36:23.131911 bootstrap-e2e-master configure.sh[822]: Try to load docker image file /home/kubernetes/kube-docker-files/kube-apiserver.tar
Jun 15 20:36:24.114453 bootstrap-e2e-master configure.sh[822]: Cannot connect to the Docker daemon at unix:///

[2020-06-16 11:22] RobertKielty commented on #17929
Hi Roy,

The gcsweblink can be found by clicking on the Artifacts link at the top of the ProwJob dashboard

Step by step for passers-by
1. Visit the tab in Test grid
https://testgrid.k8s.io/sig-node-containerd#containerd-e2e-gci
2. In Testgrid click on a **red cell** to view the Prow Job
3. Click Artifacts at the top of page, then you will have access to all the things on that gcsweb link that @Be

[2020-06-16 11:25] nikhita commented on #17747
@hopkiw By any chance, did you mean to cc `ning-yang` instead of `ningyang`? I see places where the former github user has interacted on PRs in the GoogleCloudPlatform repo.

[2020-06-16 11:29] nikhita commented on #17671
This might not have been the intended behavior but I actually like having peribolos fail because it tells us if a member has updated their github username. If we don't get a signal for failure, some malicious actor could claim ownership of the old username and do bad things in our repos.

If we end up enabling this behavior, can we please gate it behind a flag and not make it enabled by default?

[2020-06-16 11:31] nikhita commented on #17588
@humblec :wave: can this issue be closed?

[2020-06-16 11:32] dims commented on #17929
/assign

[2020-06-16 13:20] humblec commented on #17588
Yeah :hand: closing .. thanks all!

[2020-06-16 13:20] #17588 closed

[2020-06-16 15:16] stone-z opened #17956 "Allow InitContainers or similar pre-Job setup logic for ProwJobs"
**What would you like to be added**:

We would like to be able to re-use setup logic between ProwJobs using `initContainers` or a similar mechanism.

**Why is this needed**:

Most of our test logic starts with the same setup and ends with the same tear-down. The tests themselves require different tools and use different programming languages, but they assume the same starting environment. We'd lik

[2020-06-16 16:49] detiber commented on #15649
/remove-lifecycle stale

[2020-06-16 17:58] #17033 closed

[2020-06-16 17:59] cjwagner commented on #17915
By default, Tide only specifies the requested merge type (merge/squash/rebase) when merging a PR and GitHub determines the commit title and body itself. This can be overridden with the `merge_commit_template` config field if you need more control over the commit text.
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/tide/config.md#general-configuration
https://godoc.org/k8s.io/test-in

[2020-06-16 17:59] hopkiw commented on #17747
yes, i think that's true. you can see ning-yang interacts lower down in the example. but the issue is still overall that pjh didn't get assigned

[2020-06-16 17:59] cjwagner commented on #17915
/close

[2020-06-16 18:00] #17915 closed

[2020-06-16 18:17] MushuEE commented on #13129
@spiffxp I can go ahead and create a foundation for the top level `README.md` with a template for the lower level READMEs + frame all the lower level ones with their respective Images. Might make this effort more distributed.

[2020-06-16 23:28] dims commented on #17815
This is a containerd test. it should not depend on docker. right? HOWEVER :)

https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/runner/remote/run_remote.go#L668-L679

[2020-06-17 00:09] dims commented on #17815
trying something in https://github.com/kubernetes/kubernetes/pull/92204

[2020-06-17 03:01] Bobgy commented on #17915
Thanks @cjwagner! That answered my question perfectly.

[2020-06-17 17:54] bsdnet commented on #17929
Thanks @RobertKielty  Figure it out.
Thanks @dims  to fix this. I did not get chance to root cause it yet. Thought I use 'docker load -i' and
found both images are good :)

[2020-06-17 18:28] BenTheElder commented on #13551
this came up again today, we're seeing an ever-expanding batch in k/k
/lifecycle frozen

[2020-06-17 18:50] e-blackwelder commented on #14743
I'll look into this.

[2020-06-18 13:02] #17929 closed

[2020-06-18 15:42] alvaroaleman commented on #13551
One failure mode where this happens is if a batch of a given set of prs failed but in the meantime, a new PR became eligible for retesting and merging. We will then start the batch with the new set rather than merging the one pr. This is something I guess we could fix.

Completely regardless of that I think we must introduce some jitter. If a batch fails, kick out any pr of it. Ppl can still retes

[2020-06-18 17:43] alvaroaleman commented on #17922
This feature already exists, you can specify a namespace on the job.

That would be a pretty breaking change and I am not sure I like the idea. Maybe as a default for the global setting if unset, but should definitely never overwrite any other namespace setting.

/area prow

[2020-06-18 18:10] chaodaiG opened #17997 "Transfigure image failed to run due to bazel version mismatch"
**What happened**:
Running transfigure with latest image failed due to:
[code]

Link: https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/GoogleCloudPlatform_oss-test-infra/395/pull-oss-test-infra-check-testgrid-config/1273664592261681152

**What you expected to happen**:
Transfigure run as expected

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links t

[2020-06-18 18:46] chizhg commented on #17841
+1

We are configuring squash as the default mergemethod for Knative projects as always and it works pretty well, so I'm a bit curious why it's not the case for kubernetes/test-infra repo..

[2020-06-18 19:34] fejta commented on #17841
Kubernetes wants to allow multiple commit PRs because this often makes the most sense for large PRs.

However we have too many PRs where people forget to squash and/or add the label. This needs to not be the default behavior.

I'd be in favor of switching to squash by default, but I suspect the community will be surprised to see when prow squashes their commits. So IMO we'd still benefit from this

[2020-06-18 19:50] alvaroaleman commented on #17841
Can you please clarify what the difference is between such a plugin and just setting the default mergemethod to `squash`?

[2020-06-18 19:52] fejta commented on #17841
This would involve changing the default mergemethod in tide.

This plugin targets ensuring people know how to configure the merge method by leaving a comment on PRs with multiple commits (telling them how to squash if the default method is not squash and/or merge if the default is squash)

[2020-06-19 02:53] midnightconman commented on #17922
When was it implemented, I am getting the error I linked to from
check-config?

On Thu, Jun 18, 2020, 10:43 Alvaro Aleman <notifications@github.com> wrote:

[2020-06-19 05:14] krzyzacy commented on #13903
/unassign

[2020-06-19 12:31] alvaroaleman commented on #17922
Which error? Not sure when this was implemented but before I was with the project.
You should be able to just set a `namespace: your-namespace` property on jobs.

[2020-06-19 16:54] midnightconman commented on #17922
The one I linked to above 😄

It says: `namespace customization requires agent: pipeline (found kubernetes)`... It also has a `TODO` item from fejta saying the we should fix this. The new line for this TODO item is (https://github.com/kubernetes/test-infra/blob/master/prow/config/config.go#L1775) and it says it would require a plank client change.

I'll take a stab at this in a PR and reference it

[2020-06-19 16:59] alvaroaleman commented on #17922
ah okay, sorry I missed that. Should be reasonably easy.

[2020-06-19 17:12] midnightconman commented on #17922
No problem and thank you... I am taking a look at plank now.

[2020-06-19 20:07] midnightconman commented on #17922
Hmm, I am wondering the best way to tackle this... I think we should switch plank's rbac from a `role` to a `clusterRole` and switch this to selecting all pods with the correct selector across all namespaces. The code change would be [here](https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L180) and [here](https://github.com/kubernetes/test-infra/blob/master/prow/plank/

[2020-06-19 20:10] midnightconman commented on #17922
If we wanted to go with a selection loop instead, we might be able to get away with a role and rolebinding per namespace? Not sure if this is a concern, or if the clusterRole would be the best option.

[2020-06-20 07:40] fejta commented on #13551
The original intent here is that:
* we always have both a batch and single retest running at the same time
* we wait until the batch completes and merge it if it passes
* otherwise we look at the single and merge that if it passes
* repeat ad nauseam

IMO any other behavior than this is a bug -- such as there being multiple approved PRs and no batch and/or not scheduling a serial run.

[2020-06-21 08:32] #15799 closed

[2020-06-21 14:59] MadhuriDev opened #18033 "kubetest command not found, even after successful installation of kubetest."
:~/go/src/k8s.io/test-infra$ go install ./kubetest
go: downloading github.com/aws/aws-sdk-go v1.31.12
go: downloading github.com/spf13/pflag v1.0.5
go: downloading github.com/docker/docker v1.4.2-0.20200203170920-46ec8731fbce
go: downloading github.com/Azure/azure-sdk-for-go v38.0.0+incompatible
go: downloading github.com/Azure/go-autorest v12.2.0+incompatible
go: downloading github.com/Azure/azur

[2020-06-21 20:44] #15996 closed

[2020-06-22 21:18] amwat commented on #18033
Doesn't look like there's a bug in building kubetest itself here.

If you want to execute `kubetest` by name, make sure that the install directory, most likely [$GOBIN](https://golang.org/cmd/go/#hdr-Compile_and_install_packages_and_dependencies), is in your [$PATH](https://en.wikipedia.org/wiki/PATH_(variable)). Alternatively, you can also invoke it by using the full absolute path.

/close

[2020-06-22 21:18] #18033 closed

[2020-06-23 00:26] rifelpet commented on #15676
/remove-lifecycle stale

[2020-06-23 04:13] BenTheElder commented on #15676
It substantially does, you can completely alter the podspec etc.

I don't care much about the script run in most cases (we do in some), I do nearly always care about the definition of the job including resource requests, mounts, k8s service account, etc., not-intentionally-malicious resource misuse and abuse is a bigger concern.

That said we do have clusters where we do NOT allow a single job in

[2020-06-23 06:58] hktime opened #18049 "updateconfig: the gitRepo should be cleaned instead of the gitClient"
**What happened**:
Currently, in the updateconfig plugin, after the handle() function, the gitClient is cleaned:
https://github.com/kubernetes/test-infra/blob/242417951278bd52309836601dd44fa7c314a037/prow/plugins/updateconfig/updateconfig.go#L327-L331

Next time the config need to be updated, it has to do another "git clone --mirror", since the local gitClient cache is cleaned, and multi-info of "

[2020-06-23 06:59] hktime commented on #18049
/area prow/plugins

[2020-06-23 15:33] stevekuznetsov commented on #14575
/remove-lifecycle rotten

[2020-06-23 18:15] midnightconman commented on #17922
/cc @stevekuznetsov @fejta @alvaroaleman

Can you guys chat about this in the bi-weekly meeting?

[2020-06-23 20:15] fejta commented on #17922
The POR is to disallow writing a prowjob to specify an arbitrary context except by choosing the kubeconfig context used to schedule the job.

AKA if the prow administrator specify the following in your .kubeconfig file you pass to plank:

[code]

then a job author can write jobs that will schedule in either the `foo` or `bar` namespace in the `whatever-cluster`

[code]

[2020-06-23 20:19] fejta commented on #17922
So specifically the plan is to delete the Namespace config option in favor of selecting this exclusively via cluster:

https://github.com/kubernetes/test-infra/blob/ae96655e47b0ade53c96dd8e3e222b1976c0528e/prow/config/jobs.go#L96-L102

[2020-06-23 20:30] alvaroaleman commented on #17922
@fejta how do we handle the per-cluster configured namespace vs the global one? We use the global one if the cluster doesn't have it defined?

[2020-06-23 20:48] fejta commented on #17922
IMO we should require namespace to be set in the kubeconfig and delete PodNamespace in config and Namespace in JobBase.

Yeah, looks like this logic was never implemented, aka we always force it to be PodNamespace:
https://github.com/kubernetes/test-infra/blob/ae96655e47b0ade53c96dd8e3e222b1976c0528e/prow/plank/controller.go#L194-L196

https://github.com/kubernetes/test-infra/blob/ae96655e47b0ade5

[2020-06-23 22:30] midnightconman commented on #17922
I am good with this... it makes the most sense if you understand kubeconfigs and how buildclusters are setup in prow. So we should update the `TODO` item to say something like `We only allow prowJob Namespace overrides for the pipeline operator. If you want to use a different `pod_namespace`, please configure your namespace through the build clusters functionality.`?

[2020-06-23 22:33] fejta commented on #17922
Yes, with the caveat that this hasn't been implemented yet

[2020-06-23 22:37] midnightconman commented on #17922
This is still a namespaced selector... do we want to require that a namespace be set in the kubeconfig for the build clusters and use that as the selector, do we want to use a cluster level selector, or do we want to do some hybrid approach (maybe use `pod_namespace` if the kubeconfig namespace is not set?

[2020-06-23 23:53] fejta commented on #17922
IMO namespace selector

[2020-06-24 00:39] midnightconman commented on #17922
So should we require a namespace be set in the kubeconfig? Or have the logic to use `pod_namespace` if the kubeconfig doesn't include one? I guess we could follow suit with kubernetes and just default to `default` if the kubeconfig doesn't include a namespace?

[2020-06-24 00:39] midnightconman commented on #17922
Sorry for all the questions, I think I have a clear direction... other than the fallback logic 😸

[2020-06-24 04:13] fejta commented on #17922
I think we should have a flag toggle the behavior of a) ignoring the context namespace and always using pod_namespace and b) always using the context namespace and ignoring the pod_namespace (and job namespace).

And start warning to migrate to (b) whenever we are in (a). Although we may want to special case the situation where there isn't a kubeconfig file.

[2020-06-24 09:26] Bobgy opened #18067 "prow tests in kubeflow/pipelines repo flaky without test log"
**What happened**:
Recently prow presubmit tests became very flaky (>50% failure rate) in kubeflow/pipelines repo.
The weird thing is that these failures all have no test log in prow. Also presubmit tests have been very stable (<5% flakiness rate) before the last 2 days.

**What you expected to happen**:
Tests shouldn't fail without log.

**How to reproduce it (as minimally and precisely as possib

[2020-06-24 09:38] Bobgy commented on #18067
A even stranger thing is that, a test showed as succeeded in prow: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4065/kubeflow-pipeline-frontend-test/1275718328614129667, but prow bot commented that it failed:

kubeflow-pipeline-frontend-test | d331527 | link | /test kubeflow-pipeline-frontend-test

[2020-06-24 18:33] BenTheElder commented on #18067
for the second case the artifact / log upload sidecar failed, even though the tests passed.
/area prow
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4065/kubeflow-pipeline-frontend-test/1275718328614129667/podinfo.json
[code]

[2020-06-24 19:46] #15971 closed

[2020-06-24 21:08] midnightconman commented on #17922
Excellent, thank you so much... I'll switch to this direction for my PR.

[2020-06-24 21:20] alvaroaleman commented on #17922
I think for b) we should also allow to not set a namespace in the kubeconfig and then use the `pod_namespace`

[2020-06-24 21:23] fejta commented on #17922
AKA if `namespace == ""` then use `pod_namespace`? That sounds good too.

[2020-06-24 22:16] midnightconman commented on #17922
So in pseudo code:

[code]

Does that seem right?

[2020-06-24 22:19] fejta commented on #17922
SGTM

Weird, apparently that is the current behavior: https://github.com/kubernetes/test-infra/blob/a3f67762b39ce6eeb221b4d475cf4a1a32ac0c54/prow/config/config.go#L1669

I'd maybe think schedule it into the same namespace as the prowjob if pod_namespace isn't specified but that seems to be how prow behaves today

[2020-06-24 22:21] midnightconman commented on #17922
That makes sense to me... I'll add a check for prowJob namespace into the function block (if we don't want it we can chat in the PR 😸 )

[2020-06-25 02:45] BenTheElder opened #18073 "reviewer auto-assignment doesn't respect busy status"
**What happened**:

I'm still getting auto-assigned more PRs despite being marked "busy" in github.

**What you expected to happen**:

blunderbuss is supposed to not assign me when my status is set to busy.

**How to reproduce it (as minimally and precisely as possible)**:
be a reviewer
set your status to busy
wait

**Please provide links to example occurrences, if any**:

https://github.com/Googl

[2020-06-25 02:48] BenTheElder commented on #18073
/close
it's not enabled by default, and it's not explicitly enabled on that instance.

[2020-06-25 02:49] #18073 closed

[2020-06-25 07:52] rmohr opened #18074 "cherrypicker pushes the branch to the wrong repo"
**What happened**:

We updated the cherrypicker plugin from `gcr.io/k8s-prow/cherrypicker:v20200204-7e8cd997a` to `gcr.io/k8s-prow/cherrypicker:v20200623-9f5410055c`. It stopped working.

We see that the cherrypicker was no longer creating the cherrypick branch in the bot repo. Instead it created the branch in the main repo and then failed to create a PR:

Normally they get created in the `kubevir

[2020-06-25 08:39] randomvariable opened #18075 "Add ssm:*Session permission to capa-account* AWS user"
**What would you like to be added**:
Add ssm:StartSession and ssm:TerminateSession to AWS permissions for Cluster API

**Why is this needed**:
Cluster API Provider AWS does not provision a SSH bastion by default, so we have switched to using AWS SSM Session Manager for host connectivity to scrape instance logs, etc...

However, the ssm:StartSession permission is missing from the allowed permission

[2020-06-25 14:17] detiber commented on #18075
@randomvariable I believe this is a dup of https://github.com/kubernetes/test-infra/issues/17190, but we definitely need to follow up on it

[2020-06-25 14:32] randomvariable commented on #18075
Ah, sorry about that. My github search foo was bad .

/close

[2020-06-25 14:32] #18075 closed

[2020-06-25 14:34] matthyx commented on #16793
@spiffxp @alvaroaleman just to be sure:
https://github.com/kubernetes/test-infra/blob/1fcf814d0181ffa94f89398ce4de06f71487d982/prow/plugins/approve/approvers/owners.go#L612
`{{range $index, $cc := .ap.GetCCs}}{{if $index}} {{end}}@{{$cc}}{{end}}` means take the first one of that list?

[2020-06-25 15:00] #18049 closed

[2020-06-25 17:22] spiffxp commented on #16793
I may be wrong, but that reads like it will output the entirety of the list returned by GetCCs, adding a space delimiter for entries after the first.  I can't recall seeing more than one person suggested, so maybe GetCCs is only ever returning a single item list?

[2020-06-25 17:52] cjwagner opened #18078 "experiment/autobumper creates bump PRs with titles that incorrectly identify the Prow version."
**What happened**:
This PR from k/t-i's experiment/autobumper is titled with an incorrect version (`Update prow to v20200526-f1438e04b0, and other images as necessary.`). AFAICT nothing was bumped to that version in this PR...
https://github.com/kubernetes/test-infra/pull/18070
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-autobump-prow/1276200006147117056

**What you expected

[2020-06-25 19:26] BenTheElder commented on #18067
cc @cjwagner
xref: https://github.com/kubernetes/test-infra/issues/14343

[2020-06-26 03:20] alvaroaleman commented on #18074
Fixed in https://github.com/kubernetes/test-infra/pull/18077
/close

[2020-06-26 03:20] #18074 closed

[2020-06-26 04:45] matthyx commented on #14226
/remove-lifecycle stale
What's up with that one?

[2020-06-26 09:04] Bobgy commented on #18067
Thanks @BenTheElder! Was this caused by https://github.com/kubeflow/pipelines/issues/1653?

[2020-06-26 11:32] #16041 closed

[2020-06-26 15:37] jlewi commented on #14343
/lifecycle frozen

[2020-06-26 15:39] jlewi commented on #18067
@Bobgy I believe the prow pods should be running in a cluster in project kubeflow-ci. So you should be able to access the logs in stackdriver to see what's going on.

[2020-06-26 15:44] BenTheElder commented on #18067
I'm pretty sure this is caused by the pod utilities flaking and failing the job in a non user visible way (see above), however I'm cross referencing the fact that kubeflow shouldn't be on the Kubernetes / CNCF prow w/ support requests.

[2020-06-28 02:29] Bobgy commented on #18067
Thanks @BenTheElder and @jlewi!

Reading through above links, I understood the history now. I'll take a look at test pods in kubeflow-ci/kubeflow-testing cluster next time if it becomes flaky.

It seems the temporary issue has stopped happen, so I'm closing the issue now.

[2020-06-28 02:29] #18067 closed

[2020-06-29 02:38] cblecker commented on #8386
/remove-lifecycle stale

[2020-06-29 11:53] mrbobbytables commented on #10501
repo collaborators have been disabled at the org level (they can still be added by org admins manually). The next step is to ping the current repo owners that have external collaborators and push them towards org membership.

[2020-06-29 14:56] #17774 closed

[2020-06-29 20:59] alvaroaleman commented on #17024
/remove-lifecycle-stale
This actually exists already at https://github.com/kubernetes/test-infra/blob/3c8c05e6db807a2edb26f354cfd069fea3e1080d/config/prow/experimental/controller_manager.yaml and currently contains the PlankV2 implementation

[2020-06-30 00:55] #8668 closed

[2020-06-30 02:11] alejandrox1 commented on #16836
/cc

[2020-06-30 07:59] zuiurs opened #18109 "Upload Tekton's logs to GCS"
**What would you like to be added**:

Feature of uploading logs to GCS when we use Tekton as ProwJob agent.

**Why is this needed**:

Now if we use Tekton as ProwJob agent, `sidecar` container is not injected, so the job's logs are not uploaded to GCS. We can see the logs using `tkn` or Tekton Dashboard, but Sinker cleans the ProwJob and the one's logs will be vanished. I don't think good that inc

[2020-06-30 17:10] sftim opened #18117 "Command to move issue to a new repository"
**What would you like to be added**:
GitHub lets you [transfer an issue to another repository](https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository). I think this requires the GraphQL API.

Approvers with the appropriate access should be able to use a command to trigger moving an issue to a different repository.

**Why is this needed**:

Someti

[2020-07-01 02:38] prasadkatti commented on #18117
Another common use case would be [k/website](https://github.com/kubernetes/website) to [k/minikube](https://github.com/kubernetes/minikube).

[2020-07-01 05:50] Mauttaram opened #18134 "Takes long time to detect Pod create changes (Informer)"
**What happened**:

Used Kubernetes-template to detect changes and which uses Informers to detect changes.
We note that the time to detect a new pod that is running is around 25-40 seconds by informer.
Several times we see this error in the logs:
reflector.go:382] pkg/mod/k8s.io/client-go@v0.18.3/tools/cache/reflector.go:125: Failed to watch *v1.Pod: unknown (get pods)
**What you expected to happe

[2020-07-01 18:29] BenTheElder commented on #18134
Sorry but you have the wrong repo, this repo hosts tools used for the project itself. The informer code is in github.com/kubernetes/kubernetes

[2020-07-01 18:29] #18134 closed

[2020-07-01 21:55] spiffxp opened #18147 "Cleanup label descriptions"
**What should be cleaned up or changed**:
Reconcile SIG and WG names in GitHub label descriptions with doc conventions:
- https://kubernetes.io/docs/contribute/style/style-guide/#kubernetes-io-word-list

e.g. instead of sig-foo, SIG Foo

**Provide any links for context**:
https://github.com/kubernetes/test-infra/pull/18063/files#r444610206

/good-first-issue
/cc @sftim @justaugustus

[2020-07-02 09:06] Aisuko opened #18150 "[Question/Needs support]: Hook pod always CrashLoopBackOff"
It works well for almost one week, but today I hit this issue suddenly.

The secret

[code]

The config

[code]

The logs of the hook pod

[code]

[code]

[2020-07-02 14:32] henri9813 opened #18152 "KubeTest does not retrieve the good clustername"
**What happened**:
[code]
**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

Setup a cluster with a custom cluster name ( ex: mycluster.fr )

Run test.

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2020-07-02 16:15] henri9813 opened #18153 "Custom SSH Port"
**What happened**:

During a test, i got this:

[code]

**What you expected to happen**:

My servers does not listen on port 22, but on a custom port.

I define the port to use in my ssh config file ( `~/.ssh/config` ) and the script should use it.

**How to reproduce it (as minimally and precisely as possible)**:

Create a cluster with non port 22 for ssh.

run the test

**Please provide links to

[2020-07-02 17:15] BenTheElder commented on #18153
What test are you referring to?
This repo doesn't host any SSH tests...

[2020-07-02 17:16] BenTheElder commented on #18152
kubetest doesn't do any cluster name lookup.

This bug should be filed against e2e.test in kubernetes
/assign @amwat

[2020-07-02 18:59] #9948 closed

[2020-07-02 18:59] #13042 closed

[2020-07-02 21:55] ZhiFeng1993 opened #18159 "Add presubmits in testgrid for repos/modules"
Below are all repos that don't have their presubmits in testgrid.
This issue is to track moving this down to just kubernetes-security/
[code]
This used to be tracked in the code. Make it an independent issue for easier tracking.
https://github.com/kubernetes/test-infra/blob/master/config/tests/testgrids/config_test.go

[2020-07-02 21:55] ZhiFeng1993 commented on #18159
/cc @spiffxp

[2020-07-02 22:03] #16104 closed

[2020-07-03 07:45] henri9813 commented on #18153
Hello

I run this:
[code]

And during the test, it make some connection to other machines on port 22 for ssh.

Best regards.

[2020-07-03 11:28] RobertKielty opened #18162 "environments-bar div sometimes occludes dashboard-summary-canvas div"
**What happened**:
On a 27in 1080p screen I docked my browser to the left edge of the screen to improve the readability of the status summary page for the sig-release-master-blocking. (The job data, Last run etc. is far too far away from the job group name on a wide screen monitor name owing to the row-layout of the summary data. A Card/Grid layout _might_ be better)

**What you expected to happen

[2020-07-03 18:46] kurokochin commented on #18147
I'll help to work on this!

[2020-07-03 18:46] kurokochin commented on #18147
/assign

[2020-07-04 03:31] #13789 closed

[2020-07-04 15:15] kurokochin commented on #17671
/assign

[2020-07-04 16:51] jlewi commented on #10423
I was looking for a go library to handle authentication as a GitHub app. I found this
https://github.com/bradleyfalzon/ghinstallation

[2020-07-05 03:55] #16124 closed

[2020-07-05 21:12] #16144 closed

[2020-07-06 08:49] rmohr opened #18175 "JUnit lense changes test-render order randomly"
**What happened**:

When I look at a job with multiple failures I see that the rendered tests are randomly changing their order on page reloads.

**What you expected to happen**:

Best for us would be if they keep the order which they have in the junit.xml. This makes it easy to log additional info for tests without having to create files with very interesting names.

**How to reproduce it (as min

[2020-07-06 15:00] BenTheElder commented on #18153
This issue should be filed against the Kubernetes repo, kubetest implements the test workflow but it does not implement the tests, which in this case are test/e2e/e2e.test from the main kubernetes repo.

You should also check if there's an existing issue

[2020-07-06 15:00] #18153 closed

[2020-07-06 17:01] fejta opened #18178 "pull-test-infra-gubernator failing"
Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/18142/pull-test-infra-gubernator/1280184099666923528

/assign

Suspect a py2 vs py3 thing

[2020-07-06 20:48] matthyx commented on #9126
/remove-lifecycle stale

[2020-07-06 20:48] matthyx commented on #9757
/remove-lifecycle stale

[2020-07-06 23:42] MushuEE commented on #14643
/assign
Going to need to build this into Flake efforts

[2020-07-07 12:45] amitkrout opened #18190 "Add reporting supports to multiple slack namespaces from a single instance of prow"
**What would you like to be added**:
Add reporting supports to multiple slack namespaces (private and public) from a single instance of prow
**Why is this needed**:
Basically we use public slack channel https://openshiftdo.slack.com to communicate our stuff among the team. I can see the prow is only available with coreOS slack https://coreos.slack.com but i can not make use of the same prow instan

[2020-07-07 14:54] #18147 closed

[2020-07-07 15:55] alvaroaleman opened #18191 "Plank doesn't seem to delete pods for jobs that fail due to pod pending timeout"
/area prow
/kind bug
/assign

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2020-07-07 17:16] #18191 closed

[2020-07-08 04:09] #17193 closed

[2020-07-08 20:26] alvaroaleman commented on #17169
/close
cross-repo closes directive doesn't seem to work?

[2020-07-08 20:26] #17169 closed

[2020-07-09 02:14] jqmichael opened #18221 "pull-kubernetes-e2e-kops-aws failed for 1.19"
**What happened**:

Hey test-infra experts,

Could anyone help me understand why the presubmit job below has been consistently failing for 1.19?

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91513/pull-kubernetes-e2e-kops-aws/1280849041231450112/

The build job output seemed to suggest kube-apiserver wasn't up running for some reason? If so, any hints where I could go find kube-api

[2020-07-09 03:51] BenTheElder commented on #18221
this is not a test-infra bug, this is a kops bug.
no other tool fails in the absence of binaries for a different platform.

I'm raising this again with kops

[2020-07-09 03:51] #18221 closed

[2020-07-09 04:17] BenTheElder opened #18226 "prow.k8s.io podutils should pre-clone kubernetes"
I couldn't find anything to support that this is already supported.
If it is, we need to be using it for Kubernetes/Kubernetes at least. If not, we could really use this.

**What would you like to be added**:

pod utils, specifically clonerefs should allow referencing a pre-existing clone when cloning the repo.
perhaps we'd pre-clone a few repos into a custom clone-refs image.

**Why is this neede

[2020-07-09 12:36] amitkrout commented on #18190
cc @petr-muller

[2020-07-09 13:31] alvaroaleman commented on #18226
Maybe a better option is to shallow clone? I am sure it will break some ppls job though so might need a knob to disable

[2020-07-09 14:52] BenTheElder commented on #18226
We can't shallow clone because we depend on git describe / tags

[2020-07-09 15:01] stevekuznetsov commented on #18226
We already have a depth knob for clones

[2020-07-09 15:01] stevekuznetsov commented on #18226
Also, if there is an existing git repo in the directory that clonerefs is targeting, it works fine -- this is part of the design

[2020-07-09 15:52] Bowenislandsong opened #18237 "Adding new test reports from CNCF projects"
**What would you like to be added**:

I am not sure what is the qualifications for a project to get added to this test grid. I would like to add some of the test results from https://github.com/operator-framework/ a new CNCF project to the test grid.

In addition, I am also curious if there is a mechanism uploading test results from github workflow to the test grid.

**Why is this needed**:
I am i

[2020-07-09 16:05] bparees commented on #18237
see https://github.com/openshift/ci-tools/tree/master/cmd/testgrid-config-generator

[2020-07-09 17:46] BenTheElder commented on #18226
I don't think we can use a depth knob either because we don't know how many commits are between tags. How is this being used in practice? Just to enable depth=1 for shallow clones?

This we should use, is anyone using this yet? Can we document this?

[2020-07-09 17:58] stevekuznetsov commented on #18226
We have used it from day 0 -- it does not look like the `clonerefs` README documents this behavior, but it's definitely there!

[2020-07-09 22:52] BenTheElder commented on #13551
It seems openshift disabled batching to work around https://github.com/openshift/release/pull/9786 (x-ref-ed this issue above)

[2020-07-09 22:56] alvaroaleman commented on #13551
@BenTheElder very briefly, it was subsequently re-activated in https://github.com/openshift/release/pull/9831

[2020-07-09 22:59] BenTheElder commented on #18175
this is probably easy to fix but nobody is really working on this right now
/area prow
/help

[2020-07-09 23:24] Bowenislandsong commented on #18237
thanks
/close

[2020-07-09 23:24] #18237 closed

[2020-07-10 03:32] BenTheElder opened #18248 "lots of pipeline controller warnings"
**What happened**: many log entries of the form:

[code]

**What you expected to happen**:

I don't expect lots of warnings. This message also doesn't mean much to me.
there were maybe 50 in a row without further context.

**How to reproduce it (as minimally and precisely as possible)**:

unclear. plenty in the prow.k8s.io logs

**Please provide links to example occurrences, if any**:

**Anything

[2020-07-10 03:57] BenTheElder opened #18249 "area/robots in OWNERS file in this repo but the label doesn't exist"
see the title.

https://github.com/kubernetes/test-infra/blob/ecf543aff552f93db46b43edf09dbdbfdd8f9074/robots/OWNERS

spotted in logs for https://github.com/kubernetes/test-infra/pull/18244

[2020-07-10 08:55] goern commented on #17180
/remove-lifecycle stale

[2020-07-10 10:50] nikhita commented on #18249
Labeling this as a good first issue!

/good-first-issue

For anyone picking this up, here's how to go about it:

Since we have lots of repos and lots of GitHub orgs in the upstream Kubernetes project, we need a way to make sure that all repos have the same minimum set of labels and that we have a way to document and define labels in a transparent way.

We manage this through (yet another) yaml fil

[2020-07-10 11:24] himani93 commented on #18249
Can I work on this?

[2020-07-10 11:26] nikhita commented on #18249
@himani93 Yes, all yours! :smile:

/assign @himani93

If you need help, please feel free to ping me on slack! (I'm `@nikhita` there as well)

[2020-07-10 14:40] inos123 opened #18264 "Mu"
# Kubernetes Community Code of Conduct

Kubernetes follows the [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct.md).

Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting
the [Kubernetes Code of Conduct Committee](./committee-code-of-conduct) via <conduct@kubernetes.io>..:)

[2020-07-10 15:50] howardjohn opened #18267 "benchmarkjunit: allow streaming output to stdout"
**What would you like to be added**:

It would be nice if benchmarkjunit can stream output to stdout. For example, something like `go run ./pkg/benchmarkjunit ./experiment/dummybenchmarks -l -` where output goes to stdout, and its not buffered.

**Why is this needed**:

This way when running we can see progress, rather than waiting for the entire test to finish.

[2020-07-10 16:39] jingxu97 commented on #15237
I had a PR with extra refs in presubmit got merged without being caught.

[2020-07-10 16:47] jingxu97 opened #18272 "invalid extra refs not caught in presubmit"
**What happened**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_gcp-compute-persistent-disk-csi-driver/549/pull-gcp-compute-persistent-disk-csi-driver-e2e-windows/1281609095220039681

failed without any status / logs visible to the user.

The issue was having invalid extra refs which is supposed to be caught earlier. See a previous issue opened https://github.com/ku

[2020-07-10 21:19] #18272 closed

[2020-07-11 17:12] sftim commented on #18117
An example of an issue I'd nominate for move: https://github.com/kubernetes/website/issues/22465#issuecomment-657097160

[2020-07-12 03:30] paulsd2020 opened #18287 "test"
**What would you like to be added**:

**Why is this needed**:

[2020-07-12 17:52] #12749 closed

[2020-07-12 19:54] #12941 closed

[2020-07-13 10:56] dims commented on #18287
/close

[2020-07-13 10:56] #18287 closed

[2020-07-13 16:20] alvaroaleman commented on #16153
/reopen
Still something we should do to better cover upgrades

[2020-07-13 16:31] mrbobbytables commented on #10501
All non-bot external collaborators have been removed. Going to go ahead and close this out 👍
/close

[2020-07-13 16:32] #10501 closed

[2020-07-13 18:18] zhouhaibing089 commented on #5962
I think `refs/tags/` is [trimmed][1]..

[1]: https://github.com/kubernetes/test-infra/blob/51d0bbcafb99de8df59fe44a3e999f7757c1c138/prow/github/types.go#L804-L809

[2020-07-13 18:43] BenTheElder commented on #12863
https://github.com/spxtr/envoy doesn't even exist anymore

[2020-07-13 18:54] BenTheElder commented on #12863
https://github.com/kubernetes/test-infra/issues/12863#issuecomment-498749626
containerd/cri is also a CNCF project, and most of our k8s CI consumes this ultimately.

filed a PR to remove spxtr/envoy.

[2020-07-13 20:26] spiffxp commented on #17069
"1816 clusters of 193285 failures (22214 in last day) out of 162624 builds from 6/28/2020, 5:00:16 PM to 7/13/2020, 12:59:07 AM."

[2020-07-13 20:29] spiffxp commented on #17069
Kettle doesn't appear to be stuck
[code]

[2020-07-13 20:46] spiffxp commented on #17546
/close
Done in https://github.com/kubernetes/test-infra/pull/18000, cloud.google.com/go is now at v0.60.0

[2020-07-13 20:46] #17546 closed

[2020-07-13 20:48] spiffxp commented on #17505
@mborsz I didn't realize you were blocked on https://github.com/kubernetes/test-infra/issues/17546 and ended up updating cloud.google.com/go for other reasons, you may be unblocked now?

[2020-07-13 21:04] BenTheElder commented on #12863
cAdvisor filed https://github.com/GoogleCloudPlatform/oss-test-infra/pull/336 but it's going a bit stale.

[2020-07-13 22:06] spiffxp commented on #17069
"1838 clusters of 205138 failures (23506 in last day) out of 168104 builds from 6/28/2020, 5:00:16 PM to 7/13/2020, 12:20:44 PM."

I changed nothing?

[2020-07-13 22:11] spiffxp commented on #17069
/close

https://testgrid.k8s.io/sig-testing-misc#metrics-kettle

This check was complaining that the build tables had fallen stale, but is happy now (not sure what caused it and why it's fixed)

https://testgrid.k8s.io/sig-testing-misc#triage

I forgot, triage runs somewhat infrequently now, so 12:20 PT is actually expected

[2020-07-13 22:12] #17069 closed

[2020-07-14 00:21] #16130 closed

[2020-07-14 11:20] hzxuzhonghu commented on #15402
I meet the similar error:

[code]

https://github.com/volcano-sh/volcano/pull/929

Any help is appreciated.

[2020-07-14 14:37] nikhita commented on #12296
/remove-lifecycle stale

On Tue, Jul 14, 2020 at 8:05 PM fejta-bot <notifications@github.com> wrote:

[2020-07-14 14:37] nikhita commented on #11402
/remove-lifecycle stale

On Tue, Jul 14, 2020 at 8:05 PM fejta-bot <notifications@github.com> wrote:

[2020-07-14 15:14] sairam546 commented on #18249
/assign

[2020-07-14 16:41] cjwagner commented on #15402
@hzxuzhonghu GitHub checks are not supported by Tide, only status contexts that appear near the merge button (not the checks tab). See the issues referenced here for more info: https://github.com/kubernetes/test-infra/issues/15402#issuecomment-558455123

[2020-07-14 17:17] #18249 closed

[2020-07-14 17:23] BenTheElder commented on #18249
thanks!

On Tue, Jul 14, 2020 at 10:17 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-07-14 18:50] jlewi commented on #14343
I believe the first part was merged:
kubernetes/test-infra#16898
Here's the doc @clarketm put together: https://docs.google.com/document/d/17sA-rRBe30bM034nL353CgrXETfy2vMe2m_g_bB_ILY/edit#

I believe per the doc Kubeflow is now using its own build cluster; i.e. the prow jobs run inside a kubeflow owned cluster.

So I believe the next part of the migration is to move from the CNCF/kubernetes prow

[2020-07-14 19:46] brian-avery opened #18309 "Add plugin to generate release notes based on files"
I am planning on doing this work, but wanted to discuss the correct approach before starting.

**What would you like to be added**:
I would like to be able to detect release notes in files. It looks like the [releasenote plugin](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/releasenote/releasenote.go) has most of the functionality that I am looking for, but is based off of dete

[2020-07-15 02:15] hzxuzhonghu commented on #15402
@cjwagner Sorry, i can not catch up, what do you mean ` GitHub checks`

[2020-07-15 09:07] petr-muller commented on #15402
@hzxuzhonghu This doc should help about the difference between statuses and checks: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-status-checks#types-of-status-checks-on-github

[2020-07-15 17:23] spiffxp commented on #17069
https://testgrid.k8s.io/sig-testing-misc#metrics-kettle&width=5

OK, so this is periodically recurring, and has been getting worse since the start of July (which is as far back as testgrid goes at this point

<img width="1626" alt="Screen Shot 2020-07-15 at 10 21 31 AM" src="https://user-images.githubusercontent.com/49258/87575587-fb296c00-c684-11ea-8c1e-9c8029e51e84.png">

This feels like https:/

[2020-07-15 17:30] #18178 closed

[2020-07-15 18:43] MushuEE opened #18322 "Updates to Coverage muddle Triage results with less-than useful info"
**What should be cleaned up or changed**:
Due to the changes the went in with #18276 and #18182 that extended how coverage junit is built, we not see those failure overwhelming [triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html). For now we should just remove these results and later determine if there is need / use in them being included.

The [TestGrid Dashboard](https://tes

[2020-07-15 18:44] MushuEE commented on #18322
/assign @michaelkolber

[2020-07-15 19:05] michaelkolber commented on #18322
Comment

[2020-07-15 19:06] MushuEE commented on #18322
/assign @michaelkolber
trying now

[2020-07-16 07:27] rmohr opened #18334 "Tide seems to wait for all batches to be finished before merging"
**What happened**:

I am not 100% sure, but it looks like tide waits for all triggered batch jobs to be finished before it merges a batch. This may make sense if a bigger batch than the already green batch is still running, but it looks like it even waits if the bigger batch is already green.

An example would be this batch merge on our Prow instance:

![batch_long_wait](https://user-images.github

[2020-07-16 13:54] alvaroaleman opened #18338 "Create a plugin that tests job changes"
**What would you like to be added**:

A way to test job changes. Openshift does this via a CLI that checks out the config repo, finds changed jobs and creates a so-called "rehearse" job": https://github.com/openshift/ci-tools/tree/master/cmd/pj-rehearse. What openshift does is highly specific because many jobs there rely on configmaps that then also need to be deployed. This shouldn't be the case

[2020-07-16 16:38] BenTheElder commented on #18338
We usually just ask that users create a manually triggered "canary" copy of
the job where risky changes are first trialed for things that depend on CI
resources.

For things that don't there's the local running options (mkpod, pj-on-kind,
phaino ...)

On Thu, Jul 16, 2020, 06:54 Alvaro Aleman <notifications@github.com> wrote:

[2020-07-16 16:43] alvaroaleman commented on #18338
Yeah in my experience jobs that do not actually run in the real cluster are just different. `mkpod` requires to set up a different decoration config or know other intimate details. Many jobs generally assume the presence of certain secrets.

I just ran into the issue with my "increase CPU requests oh damn the cluster doesn't have nodes this size" change and since I am used to getting feedback on j

[2020-07-16 17:25] #16325 closed

[2020-07-16 17:40] michelle192837 opened #18343 "Remove deprecated 'gcs/' from job url prefixes"
(This message is popping up every few minutes for multiple components, so we probably want to reduce the log spam too. :( )

Example:
[code]

As noted, need to change the flags to no longer use 'gcs/' in the path.

/kind oncall-hotlist

[2020-07-16 20:08] hongkailiu opened #18347 "[config-updater][metrics]prow_configmap_size_bytes is 0"
**What happened**:

The metric `prow_configmap_size_bytes` has `0` for some non-empty CMs.

![Screen Shot 2020-07-16 at 4 06 59 PM](https://user-images.githubusercontent.com/4013349/87717488-73278d00-c77e-11ea-8b2d-17d5c49a0d36.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anyth

[2020-07-17 00:59] alvaroaleman commented on #18334
So generally we priorize merging batches over triggering batches and merge a batch whenever it has passing tests:
https://github.com/kubernetes/test-infra/blob/5069c223d7711012639b131e84830d43b5a777f5/prow/tide/tide.go#L1251-L1267

The triggering of the batch in the middle doesn't really make sense to me.

cc @cjwagner any idea?

[2020-07-17 01:01] alvaroaleman commented on #18334
@rmohr can you provide all prowjob objects for both batches and ideally the tide logs?

[2020-07-17 19:30] michaelkolber commented on #18322
Seems to be working fine: https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-coverage-unit

/close

[2020-07-17 20:51] #16346 closed

[2020-07-17 22:53] #16352 closed

[2020-07-17 23:40] spiffxp opened #18365 "testgrid.k8s.io not sending e-mail alerts"
**What happened**:
I happened to notice https://testgrid.k8s.io/sig-testing-misc#metrics-bigquery has been failing since July 10th, yet I have received no e-mail for it.  It's configured to alert after 2 failures.  Looking around I found other jobs that should have e-mailed alerts (e.g. postsubmits failing in https://testgrid.k8s.io/sig-testing-images)

Looking at https://groups.google.com/forum/#

[2020-07-17 23:41] spiffxp commented on #18365
/assign @michelle192837
This is a known issue internally and is being investigated

[2020-07-18 01:18] michelle192837 commented on #18365
Apologies for the delay on this folks, thought a change earlier this week would fix it and it did not.

ALSO, further apologies, alert emails (which I think are correctly identifying failing tabs?) may have been sent by my local testing just now. 😬 I will fix that immediately.

[2020-07-18 01:29] michelle192837 commented on #18365
Ah, false alarm on the sent emails, did seem to be a coincidence. ^^ Looking at the logs for the actual alerter in prod, it seems like we did legitimately find and send alert emails for failing tabs.

I believe this was due to us using an old version of the Summarizer (which alerter relies on), which is now updated thanks to @fejta and @spiffxp from last and this week. Thanks y'all!

(I will follo

[2020-07-18 03:02] AaronWashington opened #18367 "Tell owner"
https://github.com/kubernetes/test-infra/blob/96f632166e02391b4a1d82b292286df73cd78fa2/prow/plugins/approve/approve.go#L74

[2020-07-20 01:18] MushuEE commented on #14107
@fejta Are we possibly still hitting [this](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-kettle/1282702600432521216)?

[2020-07-20 13:09] alvaroaleman commented on #18367
This doesn't look actionable.
/close

[2020-07-20 13:10] #18367 closed

[2020-07-20 16:04] benmoss opened #18380 "Label plugin parsing problem ("The label(s) kind/ cannot be applied")"
**What happened**:
Comments to add labels to issues seem to occasionally parse incorrectly, making the Prow bot comment

It still does apply the expected labels.

**What you expected to happen**:
No complaint about a `kind/` label.

**How to reproduce it (as minimally and precisely as possible)**:
Not sure. I checked the test cases and they seem to cover this, I think I need to see the raw GitHub

[2020-07-20 18:03] michelle192837 opened #18386 "pull-test-infra-gubernator failing"
From Job History, looks like it's been failing since the 17th (https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-test-infra-gubernator).

Example @ https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/18355/pull-test-infra-gubernator/1285260858326257665

/assign @fejta
/area gubernator

[2020-07-20 18:39] RiRa12621 opened #18388 "Add /hold-for command and functionality to prow"
**What would you like to be added**:
/hold-for command and functionality

**Why is this needed**:
This should allow to make depending pull requests, which is a functionality missing currently but also from GitHub itself.

An example implementation would roughly work the following:

* PR 1 is opened
* PR 2 is opened which is for example logically related to PR1
* Reviewer adds `/hold-for 1` to PR2

[2020-07-20 18:41] jewzaam commented on #18388
If `/hold` is also applied the hold label shouldn't be removed.  New label "do-not-merge/hold-for" ?

[2020-07-20 18:49] cblecker commented on #18388
Yeah, this would probably be a new label. It's a reasonable request, but haven't thought out the design.. would be intensive on tokens to do polling.

@stevekuznetsov @alvaroaleman @cjwagner @fejta thoughts?

[2020-07-20 19:03] RiRa12621 commented on #18388
Presumably using the [events api](https://developer.github.com/v3/activity/event_types/#pullrequestevent) periodically should make this a bit easier on the tokens than constantly polling all referenced PRs
However I do think that it's a pretty big addition and requires a proper design doc.
I will try to come up with something until EOW

[2020-07-20 21:37] fejta commented on #14107
That link is definitely that error, yes

[2020-07-20 22:01] spiffxp commented on #18365
OK, I can confirm I got all kinds of fun e-mails on Friday and have seen a few this morning

[2020-07-20 22:05] spiffxp opened #18393 "metrics-bigquery job failing since 2020-07-10"
**What happened**:
https://k8s-testgrid.appspot.com/sig-testing-misc#metrics-bigquery is red

Looks like `bq` is complaining, I think `<LAST_DATA_TIME>` isn't being replaced in the queries we're giving it

**What you expected to happen**:

For the job to be green and results to be produced

**Please provide links to example occurrences, if any**:
See latest failure: https://prow.k8s.io/view/gcs/ku

[2020-07-20 22:36] cjwagner opened #18397 "Branchprotector is failing to update repos in the kubeflow org."
**What happened**:
Branchprotector started failing between
[1278462001802121218](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-branchprotector/1278462001802121218) | 2020-07-01 22:54:51 +0000 UTC
[1278446903859613702](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-branchprotector/1278446903859613702) | 2020-07-01 21:54:52 +0000 UTC

with an error message that

[2020-07-20 22:59] spiffxp commented on #17625
It's creeping back up to the 2h (or more) range
![Screen Shot 2020-07-20 at 3 59 16 PM](https://user-images.githubusercontent.com/49258/87994515-fb20d600-caa1-11ea-84f7-68f5565f9d22.png)

[2020-07-20 23:01] MushuEE commented on #18393
Should be fixed with reverting #18394, looking into root cause.

[2020-07-21 00:06] MushuEE commented on #18393
Is there no way to force trigger a job?

[2020-07-21 00:32] spiffxp commented on #17625
I'm not entirely sure what's going on with kettle, but it appears we're lagging on updates to the build tables

https://testgrid.k8s.io/sig-testing-misc#metrics-kettle&width=5

[2020-07-21 01:10] alvaroaleman commented on #18388
This requires us to check on all merges if a PR depending on the merged PR exists. I don't think that's doable wrt token usage. If anything, the depending PR would also need a label and the info what other PR it blocks.

Plugins are currently always event driven and do conceptionally not support polling. You could probably get this functionality with a periodic that finds such PRs and checks if th

[2020-07-21 02:27] Bobgy commented on #18397
@jlewi Can you add required permissions to @k8s-ci-robot for kubeflow org? I don't think I have permissions to do so.

[2020-07-21 02:28] Bobgy commented on #18397
@cjwagner is there a need to rollback #18095 quickly?

[2020-07-21 03:01] jimangel commented on #16458
/remove-lifecycle-stale

@savitharaghunathan what do you think about this?

[2020-07-21 03:01] jimangel commented on #16458
/remove lifecycle-stale

[2020-07-21 03:02] jimangel commented on #16458
/remove-lifecycle stale

... third time's a charm

[2020-07-21 03:13] zacharysarah commented on #16458
Selfishly, I’m glad we didn’t act on it because I had to force push an amended commit today. 😱

[2020-07-21 05:09] #12356 closed

[2020-07-21 05:45] RiRa12621 commented on #18388
I think it's not necessarily the amount of PRs but rather how long they're hanging around in the hold state.
The process to get a PR merged can something take an increased amount of time and unblocking the depending PRs automatically would make sure whoever was working on them gets an update and can continue their work.

[2020-07-21 08:24] wojtek-t commented on #17097
/remove-lifecycle stale

[2020-07-21 16:44] spiffxp commented on #18386
Will be fixed by https://github.com/kubernetes/test-infra/pull/18391

[2020-07-21 16:58] MushuEE opened #18411 "Replay velodrome clean from #18394 without breaking Metrics Test"
**What should be cleaned up or changed**:
#18394 was a revert of #18362 that cause failures in https://k8s-testgrid.appspot.com/sig-testing-misc#metrics-bigquery
The is work should be repeated but the

**Provide any links for context**:

https://k8s-testgrid.appspot.com/sig-testing-misc#metrics-bigquery

https://storage.googleapis.com/kubernetes-jenkins/logs/metrics-bigquery/1285038502559354882/bu

[2020-07-21 18:41] cjwagner commented on #18397
@Bobgy The job will still succeed for other orgs and repos so this doesn't block functionality, but it does cause noise for oncall since the job is failing and this could also obscure other issues.  If the permissions can't be fixed quickly please roll back your changes and we can reapply them when the appropriate permissions have been configured.

[2020-07-21 19:26] jlewi commented on #18397
@cjwagner LGTM to rollback until we can fix this on our end and figure out a long term solution.

@Bobgy repo permissions are granted via GitOps using periobolous so you could configure an appropriate PR.
https://github.com/kubeflow/internal-acls/blob/f6e2bdb4a92b1ae6b808f2c7b81ab1077acfa69a/github-orgs/kubeflow/org.yaml#L672

Does admin permission at the org level need to be granted? Granting org

[2020-07-21 19:39] cjwagner commented on #18397
Yes org level admin permissions are required for things like organization webhook management and team management. It also provides the needed repo level permissions without having to grant the bot access to each repo individually.

[2020-07-21 19:42] #18397 closed

[2020-07-21 21:33] howardjohn opened #18418 "updateconfig: report failures to update"
**What would you like to be added**:

`updateconfig` currently comments on a PR after applying the config. If it fails, there is no indication other than hook logs.

**Why is this needed**:

When it fails (https://github.com/istio/test-infra/pull/2821 - failed due to configmap size too large) its hard to debug

[2020-07-22 10:21] saschagrunert opened #18424 "General build caching support (via pod utilities)"
_I know that there we're some similar discussions before, so I'd like to bring-up the topic again to solve the question about **how** to achieve the goal._

For example, caching go modules in a project-specific GCS Bucket would speed-up the build process if no modules have changed between two separate runs. The overall approach could be similar to the solution [CircleCI provides for caching depend

[2020-07-22 10:33] dims commented on #18424
@saschagrunert i am sure you have run into this already if not, please see some prior discussion/poc:
- https://github.com/kubernetes/kubernetes/issues/88553
- https://github.com/kubernetes/test-infra/pull/16623

[2020-07-22 17:36] michelle192837 commented on #18386
Looks like this is still failing :(

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/18414/pull-test-infra-gubernator/1285989995366060032
https://github.com/kubernetes/test-infra/pull/18414

[2020-07-22 17:46] michelle192837 commented on #18386
Oh, though there _are_ some passing runs, so it's not just failing.

[2020-07-22 17:47] michelle192837 opened #18432 "Slack reporter fails to report sometimes"
Getting a couple of errors yesterday and today that the Slack reporter failed to report.

Within the last week, happened 5 times: twice at 2020-07-21 05:05:02.000 PDT, once at 2020-07-22 09:15:02.000 PDT, once at 2020-07-22 09:33:02.000 PDT, once at 2020-07-22 09:42:02.000 PDT

Example error:
[code]
And looking at the logs for slackreporter doing things in the last 7 days, it looks like those are

[2020-07-22 17:54] alvaroaleman commented on #18432
@michelle192837 until proven otherwise, I would assume those were transient errors because sometimes using a network  goes wrong for arbitrary reason. Can you for one of those check the prowjob object in GCS and check on `.status.prev_report_states["slackreporter"]`? It will tell you the last job status that was reported successfully (if any). If that field has a value of `failure` for the job you

[2020-07-22 18:55] michelle192837 commented on #18432
If https://prow.k8s.io/prowjob?prowjob=982aec32-cc38-11ea-8f9c-6aebfd5be0c2 is the right kind of thing to check, then yup, looks like it has 'failure' there.

Ah, and looking at the slackreporter, looks like the only logs it'll print are debug or error level, so we don't expect any real logs on a success? (`crier` has logs for the failure to report, and then subsequent success reporting, so it doe

[2020-07-22 19:00] #18432 closed

[2020-07-22 23:25] mikesplain commented on #17180
@eddycharly Do you plan to pick this back up? I have a working branch of v1beta1 which includes some of your changes, I'm looking for the best way to move this forward.  Were you planning to support both initially?

[2020-07-22 23:56] spiffxp commented on #18393
/close
Passing again https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/metrics-bigquery/1285763628493967361

[2020-07-22 23:56] #18393 closed

[2020-07-23 01:55] howardjohn commented on #10100
Can this be re-opened?

Not sure if this was known by everyone here since it wasn't called out - `kubectl logs --timestamp` currently already exists, so its possible we can do it without any sort of wrapper

[2020-07-23 04:02] BenTheElder commented on #10100
The uploaded logs are not collected via kubectl. The entrypoint wrapper
binary writes subprocess output to disk which is uploaded by the sidecar.

This could probably be a podutils option in any case, but you may have to
escalate out of band or implement this yourself if you need it.

On Wed, Jul 22, 2020, 18:55 John Howard <notifications@github.com> wrote:

[2020-07-23 16:32] MushuEE opened #18443 "Gopherage junit reports top level dir coverage as 100% not average of subdir"
**What happened**:
`./gopherage junit --threshold 0.05 filtered.cov > junit_coverage.xml` will build junit xml for individual files without issue, however reporting the toplevel dir always resolves to 100%, not the average of the sub file coverage.

[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
Run `gopherage junit` against any sub

[2020-07-23 17:32] chizhg commented on #18424
Not sure if it could be another option or not - Istio recently did a bunch of work on adding caching support via Prow job configurations by mounting shared volumes, and it seemed to be pretty effective, see https://github.com/istio/test-infra/pulls?q=is%3Apr+cache

Probably it can be achieved if Prow can supports configuring volumes with some dirs/files cached by default, and then inject the volum

[2020-07-23 18:16] michelle192837 commented on #10409
/remove-lifecycle stale

[2020-07-23 18:42] spiffxp commented on #18386
https://github.com/kubernetes/test-infra/pull/18448 should fix and cause future PRs to fail this check prior to merging

[2020-07-23 20:31] BenTheElder commented on #18424
Prow could get pretty far by mounting a persistent volume of some type to $XDG_CACHE_HOME (and setting this), but the devil is in the details.

In Kubernetes there's substantial divergence between multiple actively developed branches, so you want something aware of this for example. (I.E. don't just mount a generic go cache volume to all jobs).

Uploading a cache archive to GCS in postsubmit and d

[2020-07-23 20:33] BenTheElder commented on #18424
cc @howardjohn

[2020-07-23 20:59] MushuEE opened #18450 "No method to track `/retest` usage, a helpful metric for flake indication in k8s"
**What would you like to be added**:
A way to query and track how often `retest` and maybe some other triggers are called on k8s PRs.

**Why is this needed**:
As part of the effort to extend useful metrics around flake impact and shed some light on resource use caused by `retest`, it would be nice to have some tracking.

/assign

[2020-07-23 21:16] howardjohn commented on #18424
We just implemented caching on our nodes. Basically we set up a hostpath mount for $GOPATH/pkg/mod and $GOCACHE. We only want to cache builds not tests so we add `-count 1` to all tests.

We switched all jobs over this week so I can't say it will not blow up in our face eventually, but right now it just cut our test times down massively. Some stuff was surprisingly slow - somehow compiling our tes

[2020-07-23 21:35] #18443 closed

[2020-07-23 21:59] #18152 closed

[2020-07-23 22:16] bcheung opened #18456 "netd e2e tests failing"
**What happened**:
The [sig-network-netd dashboard](https://k8s-testgrid.appspot.com/sig-network-netd) shows that the e2e tests are failing.

**Please provide links to example occurrences, if any**:
Seems like [this curl request](https://github.com/kubernetes/kubernetes/blob/8e5c02255cc62c504cb6e5ab8ded9df966ad9891/cluster/get-kube.sh#L246) fails due to a stale link shown in [these logs](https://p

[2020-07-24 06:54] saschagrunert commented on #18424
I agree that we can achieve the same solution with volumes. The complexity seems much higher than pushing the cache to a GCS Bucket, so I still prefer the GCS-way.

Implementering it completely without the help of prow seems repetitive and unhandy. If we agree that we still wanna do is we could at least start with a real-life example (maybe in k/release) and just add documentation about the best-p

[2020-07-24 08:03] BenTheElder commented on #18456
Dupe https://github.com/kubernetes/kubernetes/issues/93377

Test-infra maintainers don't own Netd testing

[2020-07-24 08:04] BenTheElder commented on #18456
Per the other issue these jobs will be removed by the owners.

[2020-07-24 08:04] #18456 closed

[2020-07-24 08:07] BenTheElder commented on #18162
I assume this is testgrid but it doesn't appear to say so anywhere.

/area testgrid

The contributors to this repo don't all work on all parts of it, and aren't handling every issue, it helps to note what component is involved explicitly 🙃

[2020-07-24 08:08] BenTheElder commented on #18162
@michelle192837

[2020-07-24 08:13] BenTheElder commented on #18159
I'm not sure why we'd want presubmits in testgrid.
Presubmits are very noisy and the heatmap in prow gives better insight (e.g. PRs that don't build are clearly distinct by runtime)

[2020-07-24 08:16] BenTheElder commented on #17997
Is this still the case?

[2020-07-24 08:18] BenTheElder commented on #17853
Any updates?

[2020-07-24 08:35] TBBle commented on #9834
Just saw (probably) this happen on https://github.com/kubernetes/kubernetes/issues/80996, which was closed because https://github.com/kubernetes/kubernetes/issues/80996#issuecomment-633327886 was apparently ignored or missed, and that went unnoticed by the issue author.

[2020-07-24 08:39] nikhita commented on #9834
I have admin access on the repo, so I looked at the raw text for the comment https://github.com/kubernetes/kubernetes/issues/80996#issuecomment-633327886. The comment has an additional space before the `/remove-lifcycle rotten` text which is why the bot didn't catch it.

In either case, I have reopened the issue for you. :+1:

[2020-07-24 08:42] TBBle commented on #9834
Should the bot have accepted that command? I realise that might open up risks of catching commands that were not intended to be caught, but given that the UI renders it 'stripped', it's not wonderful UX that the bot works off whitespace-different data than it shows the users.

[2020-07-24 13:59] chaodaiG commented on #17997
It's fixed by #17999
/close

[2020-07-24 13:59] #17997 closed

[2020-07-24 16:03] BenTheElder commented on #9834
That's been rejected in the past and I'd probably expect the maintainers to reject it again, but if you're interested in discussing it again probably a new issue will be more visible.

[2020-07-24 16:35] TBBle commented on #9834
As long as it's been discussed, at least I know what to watch out for. I don't use GitHub via email, so it's academic to me personally. Two reported occurrences in two years (_assuming_ the first report here was the same problem) isn't really "happening frequently".

[2020-07-24 17:54] michelle192837 commented on #18162
Oh, I think I see what you mean. So the issue is that we're not re-rendering/moving elements when the width of the window changes, so the top bar actually obscures the buttons, like this?

![TGDivEx](https://user-images.githubusercontent.com/652853/88420375-a29c5200-cd9b-11ea-963e-061745157fcf.png)

Yeah this is probably something with our absolute positioning/rendering. :/

(For the other part of

[2020-07-24 19:02] #17841 closed

[2020-07-24 19:52] #18322 closed

[2020-07-24 20:16] MushuEE commented on #16836
/close
Velodrome is now down premaritally (gone)

[2020-07-24 20:16] #16836 closed

[2020-07-26 22:22] #16532 closed

[2020-07-27 01:25] #16538 closed

[2020-07-27 01:49] MushuEE opened #18479 "Gubernator Overhaul and Clean"
Many elements of Gubernator such as the build Dashboard and Job results dashboard have become outdated in favor of SpyGlass. That being said, there are other elements such as the GCS browser and PR Dashboard that are still useful and still used.

**What would you like to be added**:
Gubernator is in need of both a facelift and cleanup for simplicity, speed, and usefulness.

**Why is this needed**:

[2020-07-27 04:04] BenTheElder opened #18480 "ci-test-infra-benchmark-demo spams triage dashboard"
**What happened**:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1#d2fcbd76899acda45017

**What you expected to happen**:

i expect failures in triage to be things we legitimately need to look into

**How to reproduce it (as minimally and precisely as possible)**:

discover that this job exists while looking through our CI failures in go.k8s.io/triage

**Please provide links

[2020-07-27 04:05] BenTheElder commented on #18480
FYI @liggitt @spiffxp @MushuEE @michaelkolber

[2020-07-27 04:19] BenTheElder commented on #18480
also .. does a "demo" job need to run every 20 minutes ...?
https://github.com/kubernetes/test-infra/blob/691fd981fd87549368893aa960e2d1c36af4e38e/config/jobs/kubernetes/test-infra/test-infra-canaries.yaml#L15

[2020-07-27 05:32] MushuEE commented on #18480
Yeah a 10 min and 20 min canary seems excessive, was it designed to be an early/frequent warning system? Looks like it came to be from a big migration

[2020-07-27 10:03] calvinbui opened #18482 "Bot did not add labels"
**What happened**: The k8s-ci-robot did not add the necessary `Contributions Allowed` label to my PR @ https://github.com/helm/charts/pull/23292. It also missed the `size/M` label.

**What you expected to happen**: The `Contributions Allowed` and `size/M` labels to be added after the PR is created

**How to reproduce it (as minimally and precisely as possible)**: Created a PR from my fork to the H

[2020-07-27 12:37] #14224 closed

[2020-07-28 00:14] BenTheElder commented on #18482
`Contributions Allowed` doesn't exist in this repository, I don't think our robots have anything to do with this.

[2020-07-28 00:16] BenTheElder commented on #18482
For that matter it doesn't exist in any Kubernetes repo https://cs.k8s.io/?q=Contributions%20Allowed&i=nope&files=&repos=

I think you need to file a bug with helm.

See also: https://github.com/kubernetes/test-infra/issues/12863

[2020-07-28 00:21] BenTheElder commented on #18482
checking a PR there, the @helm-bot account is responsible for this label https://github.com/helm/charts/pull/23367#event-3592087002

Helm is not part of the kubernetes project (IIRC they chose to leave to be a separate CNCF project), we don't own or maintain their robots.

[2020-07-28 00:21] #18482 closed

[2020-07-28 00:24] calvinbui commented on #18482
i followed the link in the bot's comments to come to kubernetes/test-infra.

i'll open an issue back over in helm

![image](https://user-images.githubusercontent.com/3604363/88605161-7eeb4b80-d0bc-11ea-836b-dac0c0eb2b10.png)

[2020-07-28 00:26] BenTheElder commented on #18482
Gotcha, thanks!
Yeah, eventually that bot won't operate in that repo anymore, i'm not sure when we'll get work on https://github.com/kubernetes/test-infra/issues/12863

[2020-07-28 00:27] BenTheElder commented on #12863
Without a deadline I don't think we're going to see movement on this.
I think netd is now gone for unrelated reasons https://github.com/kubernetes/test-infra/pull/18473

[2020-07-28 11:36] mattfarina commented on #18482
The _Contributions Allowed_ label is added by a bot on the Helm project. The Kubernetes automation, which we plan to use until the repo is deprecated this coming November, just happens to use that.

[2020-07-28 12:52] dims commented on #18450
/sig contributor-experience
/cc @nikhita

[2020-07-28 12:55] nikhita commented on #18450
@MushuEE Did you already have an approach in mind for this (I see that you assigned yourself). This looks like it could be a good candidate for devstats as well - https://github.com/cncf/devstats - and should be easier to handle there.

cc @LappleApple @mrbobbytables

[2020-07-28 13:14] LappleApple commented on #18450
Hi @nikhita, I've added this issue to my DevStats notes.

[2020-07-28 14:00] alvaroaleman commented on #18424
@saschagrunert created a PR that among other things contains a design, would be great if you all could voice opinions on that design: https://github.com/kubernetes/test-infra/pull/18483/files#diff-ff3d3cf0750ee38b13e2b74b02414619R1

[2020-07-28 14:01] alvaroaleman commented on #18424
/assign @cjwagner @fejta @stevekuznetsov

[2020-07-28 16:37] MushuEE commented on #18450
@LappleApple @nikhita I was looking at the `devstats` and reached out asking if we had those metrics already. I think Devstats is the best place for WebHook data. Keep me in the loop! I am working on flake reporting right now and would be happy to add whatever we need to start tracking `retest` metrics. Not sure how to do this yet however, need a little bit of time to dig deeper. @cjwagner, pointe

[2020-07-28 16:44] nikhita commented on #18450
In the past, we've created an issue in the devstats repo asking for new dashboards/metrics and the maintainer has created them for us. @LappleApple has been representing kubernetes' feature requests and concerns to devstats these days, so I think she can probably point to next steps better. :)

[2020-07-28 17:10] LappleApple commented on #18450
Thank you @nikhita . Hi @MushuEE -- I've actually got a series of sessions on DevStats set up, first one was yesterday (three more scheduled). I'll send you the info (hopefully it's time zone-compatible) and you might consider joining us. :)

[2020-07-28 18:27] MushuEE commented on #18450
@LappleApple Thank you! Speaking with @BenTheElder it seems that the behavior of `/retest` might be quite a noisy metric and there might be some better metrics such as if tests change state after `/retest` is run on the same HASH. More direct flake indication. Apparently a lot of the `/retest`s are triggered automatically

[2020-07-28 18:43] zhlhahaha commented on #16588
Hi @BenTheElder @spiffxp @mkumatag
Can we enable prow utility images for multi-arch?
Here are some reasons why we need prow utility images running on multi-arch.
1. The k8s conformance test running on ARM which you can see in https://testgrid.k8s.io/sig-node-arm64, are triggered by shell script currently. And we want to sync the test flow with kuternetes test-infra by using prow.
2. Some other pro

[2020-07-28 19:05] hasheddan opened #18507 "ci-kubernetes-conformance-kind-ga-only is experiencing pod scheduling timeout"
**What happened**:

`ci-kubernetes-conformance-kind-ga-only` is experiencing pod scheduling timeout since https://github.com/kubernetes/test-infra/pull/18471

**What you expected to happen**:

For the pod to be scheduled.

**Please provide links to example occurrences, if any**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1288101820190691330

**Anyt

[2020-07-28 19:15] cjwagner commented on #18343
Fixed by https://github.com/kubernetes/test-infra/pull/18446
/close

[2020-07-28 19:16] #18343 closed

[2020-07-29 07:26] BenTheElder commented on #16793
This also seems to apply to reviewer assignment
https://github.com/kubernetes/test-infra/pull/18519
There are reviewers in the directories above these files other than the root. I am not in any of them.

I can't explain why prow is ignoring OWNERS files and going for the root.

[2020-07-29 07:38] matthyx commented on #16793
Thanks, I will have a look!

[2020-07-29 14:16] hasheddan commented on #18507
Pod was scheduled successfully this morning: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1288464839429066754

[2020-07-29 15:50] goern commented on #17180
@harshad16 and I would be happy to test this out on OpenShift ;)

[2020-07-29 19:30] cjwagner opened #18528 ""Pod scheduling timeout." is displayed as a job failure without additional context by spyglass' metadata lens."
**What happened**:
ProwJobs that error out due to "Pod scheduling timeout." are incorrectly described by the metadata lens:
[code]
These failures are particularly opaque to users because no build log or pod info is available. The only way to determine that the job actually errored out due to a pod scheduling timeout instead of failing normally is to look at the ProwJob YAML/JSON and check the `sta

[2020-07-29 19:40] BenTheElder opened #18530 "Kubernetes CI Policy: critical jobs must be Guaranteed Pod QOS"
Part of https://github.com/kubernetes/test-infra/issues/18551

This is a policy action Item out of [Policies to improve Kubernetes CI] discussed at SIG-Testing yesterday.

- **Why it’s necessary**:
  - We believe jobs are getting starved of the resources they require, because the scheduler is not able to effectively place them on a node with sufficient resources
  - We believe that jobs that decla

[2020-07-29 19:45] BenTheElder commented on #18530
Many of these were done in https://github.com/kubernetes/test-infra/pull/18471

[2020-07-29 19:50] tpepper commented on #18530
/cc

[2020-07-29 19:53] BenTheElder commented on #18530
Additionally: This should be enforced by test-infra presubmit, to prevent regressions.

[2020-07-29 20:17] MushuEE commented on #18530
If I can find time I will try to generate a list of jobs that need updates and their paths, throw it up in a sheet with check boxes so that people can claim them to avoid duplicating efforts.

[2020-07-29 21:10] matthyx commented on #16793
I think this is another case of alphabetical sorting woe... I will take some time to run this exact code in the debugger on the actual test-infra repo and understand this particular case.

Have you seen inconsistencies on the suggested approvers comment as well (obviously not this one as Erick didn't need one).

[2020-07-29 22:21] hasheddan commented on #18528
/cc

[2020-07-29 23:17] BenTheElder commented on #16793
Even with alphabetical sorting the files were 100% covered by a deeper directory with reviewers than the root. We should be favoring leafier for both. This is especially important in a repo like kubernetes/kubernetes

[2020-07-30 02:20] hasheddan commented on #18528
/assign

[2020-07-30 11:17] rmohr commented on #16588
This can definitely work. However consider how much simpler it is to onboard different architectures for opensource projects, if you just pass a new cluster context to prow and put a label on your job.

As far as I can see, it would mostly just be necessary to cross-compile a few plain docker binaries. clonerefs may need a multiarch base image with git (building that with qemu-user should be strei

[2020-07-30 13:47] hasheddan commented on #18530
Though not yet on community owned infra, `build-master` and `build-master-fast` both experienced timeouts this morning, likely do to resource constraints.

Example from `build-master-fast`: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build/1288690796073062402

Example from `build-master`: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-fast/128881586

[2020-07-30 15:51] jhohertz commented on #11260
Hello! Ridiculously excited at the prospects of trying out prow in AWS, had my eye on this effort for a while.

Looks like everything pending has been merged, curious if it's pretty much good to go now?

[2020-07-30 15:56] alvaroaleman commented on #11260
@jhohertz yes, S3 support is finished, check out `config/prow/cluster/starter-s3.yaml`.

/retitle S3 support in Prow

@apesternikov  I will close this issue as the S3 support is finished. If you (or anyone else for that matter) is still interested in Azure support, please open a dedicated issue for that. It should be much easier now that we have more than one provider supported already.

[2020-07-30 15:56] alvaroaleman commented on #11260
/close

[2020-07-30 15:56] #11260 closed

[2020-07-30 16:37] BenTheElder commented on #18507
https://github.com/kubernetes/test-infra/issues/18530

[2020-07-30 16:42] RobertKielty commented on #18507
For ref [conformance-all#conformance-ga-only](https://testgrid.k8s.io/conformance-all#conformance-ga-only)

[2020-07-30 16:43] BenTheElder commented on #18530
I added some notes around how to identify which jobs we're talking about here to the OP.

[2020-07-30 16:45] sbueringer commented on #11260
@jhohertz Yup should be good to go. I, and I guess a few other people, are running this for months now with S3 (without any custom patches). I'm only using it with Minio but we had 1-2 PRs for AWS so I guess it also works there.

[2020-07-30 16:55] mikesplain commented on #11260
We've been using it with native aws/s3 for a few months without issue, thanks to everyone for the hard work!

[2020-07-30 17:18] jhohertz commented on #11260
Awesome! Thanks for the pointers on getting started, look forward to diving in.

[2020-07-30 18:00] ZhiFeng1993 commented on #18530
/cc

[2020-07-30 18:45] ZhiFeng1993 commented on #18530
@BenTheElder I'm a bit confused here. For this: https://github.com/kubernetes/test-infra/issues/18159 you said that we don't really want presubmit in testgrid. Could you explain more? Thanks

[2020-07-30 18:51] BenTheElder commented on #18530
@ZhiFeng1993 that's not related to this issue. Currently because they _are_ in testgrid, that's a quick way to find a lot of the jobs.
This issue is about how the jobs are configured, not about testgrid. See e.g. https://github.com/kubernetes/test-infra/pull/18471 mentioned in the original post.

Let's try to keep discussion here on-topic, lots of people are interested in this issue, it's going to

[2020-07-30 18:52] BenTheElder commented on #18530
@tpepper you can subscribe to a github issue by clicking "subscribe" on the righthand side of the web UI :upside_down_face:

[2020-07-30 19:38] spiffxp opened #18546 "Increase monitoring.prow.k8s.io retention to 1y"
It has been set to 30d, which means we don't have the ability to look at trends over a full kubernetes release cycle, let alone comparing against a prior release cycle.

Trends I'm particularly interested in
- what's the size of the tide pool like over time?
- how many pods have hit error state over time?
- what's our boskos pool usage over time?

https://github.com/kubernetes/test-infra/pull/1854

[2020-07-30 20:05] spiffxp commented on #18530
For merge-blocking list (until code written to parse this out from either testgrid or job configs): visually inspect a k/k PR's results, here's everything that has "Required":
pull-kubernetes-bazel-build
pull-kubernetes-e2e-gce
pull-kubernetes-e2e-gce-100-performance
pull-kubernetes-e2e-gce-ubuntu-containerd
pull-kubernetes-integration
pull-kubernetes-kubemark-e2e-gce-big
pull-kubernetes-node-e2e

[2020-07-30 20:55] #16571 closed

[2020-07-30 21:56] spiffxp opened #18549 "Kubernetes CI Policy: release-blocking jobs must run in dedicated cluster"
Part of https://github.com/kubernetes/test-infra/issues/18551

Why it's necessary:
- we believe declaring Guaranteed Pod QOS jobs may not be defended against Best Effort or Burstable Pods hogging all resources on the same node
- a cluster that only has Guaranteed pods is far more likely to respect resource requirements

What decisions do we need to make:
- For all of the jobs being migrated to k8s

[2020-07-30 22:04] tpepper commented on #18530
sig-release-master-blocking are:

[config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml)
 * [x] "kind-master-parallel" aka ci-kubernetes-kind-e2e-parallel
  * [x]  has limits
  * [x]  has requests
 * [x] "kind-ipv6-master-parallel" aka ci-kubernetes-kind-ipv6-e2e-parallel
  * [x

[2020-07-30 22:05] spiffxp opened #18550 "Kubernetes CI Policy: merge-blocking jobs must run in dedicated cluster"
Part of https://github.com/kubernetes/test-infra/issues/18551

**Why this is necessary:**
- we believe declaring Guaranteed Pod QOS jobs may not be defended against Best Effort or Burstable Pods hogging all resources on the same node
- a cluster that only has Guaranteed pods is far more likely to respect resource requirements

**Decisions to make:**
- For all of the jobs being migrated to k8s-infr

[2020-07-30 22:08] spiffxp opened #18551 "Kubernetes CI Policy (Umbrella issue)"
Based on [Policies to Improve Kubernetes CI proposal](https://docs.google.com/document/d/1uuP9kS28u1LFyx83Yl-Sodu7-2N_exPRrEoiwbAe0wc)

Step 1: https://github.com/kubernetes/test-infra/issues/18530 - all release-blocking and merge-blocking jobs must be Guaranteed Pod QOS
Step 2: https://github.com/kubernetes/test-infra/issues/18549 - all release-blocking jobs must run in dedicated cluster
Step 3:

[2020-07-30 22:31] tpepper commented on #18530
sig-release-1.19-blocking are:

[config/jobs/kubernetes/generated/generated.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/generated/generated.yaml)
 * [x] all have requests and limits

[config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.19

[2020-07-30 22:38] tpepper commented on #18530
sig-release-1.18-blocking are:

[config/jobs/kubernetes/generated/generated.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/generated/generated.yaml)
 * [x] all have requests and limits

[config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.18

[2020-07-30 22:43] tpepper commented on #18530
sig-release-1.17-blocking are:

[config/jobs/kubernetes/generated/generated.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/generated/generated.yaml)
 * [x] all have requests and limits

[config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.17

[2020-07-30 22:48] tpepper commented on #18530
sig-release-1.16-blocking are:

[config/jobs/kubernetes/generated/generated.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/generated/generated.yaml)
 * [x] all have requests and limits

[config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.16

[2020-07-30 23:01] ZhiFeng1993 commented on #18551
/cc

[2020-07-30 23:03] justaugustus commented on #18551
FYI @kubernetes/ci-signal @kubernetes/release-engineering

[2020-07-30 23:46] spiffxp commented on #18530
Thanks for the lists tim, I tried to consolidate in description

[2020-07-31 00:09] spiffxp opened #18552 "Migrate k8s-infra-prow-build boskos/jobs away from k8s-infra-gce-project to gce-project"
I originally had k8s-infra-prow-build use a boskos pool of type `k8s-infra-gce-project` to make it display as a distinct pool in https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

This meant migrating an e2e job over to k8s-infra-prow-build involved:
- set `cluster: k8s-infra-prow-build`
- add a `--gcp-project-type=k8s-infra-gce-project` flag in the right place in the argume

[2020-07-31 00:22] spiffxp commented on #18552
/assign

[2020-07-31 03:13] spiffxp commented on #18552
/sig testing
/sig release
/wg k8s-infra
/area prow
/area jobs

[2020-07-31 04:42] BenTheElder commented on #18546
cc @cjwagner @MushuEE

[2020-07-31 04:52] BenTheElder commented on #18549
NodePool is probably fine, though it has the downside that you have to explicitly set a matching node selector and taint toleration in every prowjob podspec if you want to actually make it dedicated. there's no abstraction for this, and they're a little verbose.

we've done this before when experimenting with ubuntu nodes for kind IPv6 before we'd standardized on that.

[2020-07-31 04:52] BenTheElder commented on #18528
@hasheddan I think you fixed this in https://github.com/kubernetes/test-infra/pull/18537 ?

[2020-07-31 05:02] MushuEE commented on #18546
I am not super familiar with PVC using VCT, does that dynamically scale? I think I have only used the VolumeClaimTemplate in the context of StatefulSets

[2020-07-31 09:25] jkaniuk opened #18560 "Use again fast builds in scalability jobs"
**What should be cleaned up or changed**:
Revert: https://github.com/kubernetes/test-infra/pull/18559 when kubernetes/kubernetes#93561 is fixed

**Provide any links for context**:
kubernetes/kubernetes#93561
kubernetes/kubernetes#93584

/cc @wojtek-t

[2020-07-31 12:07] hasheddan commented on #18528
@BenTheElder a `failure` is still reported instead of `error` even though the appropriate hint is now being displayed. I have a follow up for that and may also see if I can surface a little more info to troubleshoot why a pod scheduling failure occurred 👍

[2020-07-31 13:53] LappleApple commented on #18530
/cc

[2020-07-31 16:28] spiffxp commented on #18552
OK, looks like k8s-infra-gce-pool has dropped to zero, going to merge to gce-project

https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1
![Screen Shot 2020-07-31 at 9 27 55 AM](https://user-images.githubusercontent.com/49258/89055972-21e7d380-d310-11ea-84b0-2b0da19915a4.png)

[2020-07-31 17:30] spiffxp commented on #18530
https://github.com/kubernetes/test-infra/pull/18556 enforces the policy in test form, but only logs instead of errors

[2020-07-31 18:04] BenTheElder opened #18566 "finish moving kubetest2 to it's own repo"
see: https://github.com/kubernetes/test-infra/pull/17869 https://github.com/kubernetes-sigs/kubetest2
/assign @amwat

[2020-07-31 19:57] #18566 closed

[2020-07-31 20:11] tpepper opened #18570 "establish test plan for sig-node-containerd"
**What should be cleaned up or changed**:
https://testgrid.k8s.io/sig-node-containerd failing tests and test variations need cleanup.

Around half of the board is failing completely.  Half of the remaining half is flakey.  And many of the remainder seem to not be curated for relevance.  Eg: The so-called "containerd-node-conformance" sounds good in name, but is testing containerd 1.2 against Kuber

[2020-07-31 20:56] karan commented on #18570
/assign @SergeyKanzhelev

[2020-08-01 01:02] tpepper commented on #18530
I will start adding request/limit entries for release block based on the added guesses in the description on Monday.  Ran out of time today :\

[2020-08-01 01:58] spiffxp opened #18577 "Make critical jobs Guaranteed Pod QOS: ci-kubernetes-build"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- ci-kubernetes-build
- ci-kubernetes-build-1-19
- ci-kubernetes-build-stable1
- ci-kubernetes-build-stable2
- ci-kubernetes-build-stable3

These jo

[2020-08-01 01:59] spiffxp opened #18578 "Make critical jobs Guaranteed Pod QOS: ci-kubernetes-build-fast"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- ci-kubernetes-build-fast

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 6 cpu, 12Gi

[2020-08-01 02:00] spiffxp opened #18579 "Make critical jobs Guaranteed Pod QOS: ci-kubernetes-e2e-device-plugin-gpu"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- ci-kubernetes-e2e-device-plugin-gpu
- ci-kubernetes-e2e-device-plugin-gpu-beta
- ci-kubernetes-e2e-device-plugin-gpu-stable1
- ci-kubernetes-e2e-d

[2020-08-01 02:01] spiffxp opened #18580 "Make critical jobs Guaranteed Pod QOS: ci-kubernetes-e2e-gci-gce-ingress"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- ci-kubernetes-e2e-gci-gce-ingress

These jobs run on (google.com only) k8s-prow-build, so @spiffxp has provided the following guess:
- suggest 1 c

[2020-08-01 02:02] spiffxp opened #18581 "Make critical jobs Guaranteed Pod QOS: periodic-kubernetes-bazel-build"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- periodic-kubernetes-bazel-build-1-16
- periodic-kubernetes-bazel-build-1-17
- periodic-kubernetes-bazel-build-1-18
- periodic-kubernetes-bazel-bui

[2020-08-01 02:03] spiffxp opened #18582 "Make critical jobs Guaranteed Pod QOS: periodic-kubernetes-bazel-test"
**What should be cleaned up or changed**:

This is part of https://github.com/kubernetes/test-infra/issues/18530

The following jobs should be Guaranteed Pod QOS, meaning they should have CPU and memory resource limits, and matching resource requests:
- periodic-kubernetes-bazel-test-1-16
- periodic-kubernetes-bazel-test-1-17
- periodic-kubernetes-bazel-test-1-18
- periodic-kubernetes-bazel-test-1