[2019-10-22 23:01] cblecker commented on #14875
So as long as we're willing to accept that you need to be in k-sigs to test a PR, then we are fine?

[2019-10-23 00:44] fejta commented on #14629
I would be interested in allowing people to group together related periodics. It would be useful to hand sig-foo a URL that says "here are all your sig-foo jobs".

This will most likely span repos, so I'm not sure that requiring periodics to pin to a repo is the right solution here.

[2019-10-23 00:59] fejta commented on #14875
Right

[2019-10-23 01:22] oke-py opened #14923 "Prow issue: helm/charts#17931 pull-chart-e2e failed repetitively"
https://github.com/helm/charts/pull/17931

build log
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/helm_charts/17931/pull-charts-e2e/1184811643536674818/

@zanhsieh said as below at https://github.com/helm/charts/pull/17931#issuecomment-542475973

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/helm_charts/17935/pull-charts-e2e/1183727888063533058/

How to resolve 17931

[2019-10-23 02:08] Noremac201 commented on #14629
That could also be extended to grouping presubmits and postsubmits as well
instead of just periodics; giving you a finer grained picture of a subset
of your tests at one time.

On Tue, Oct 22, 2019, 5:44 PM Erick Fejta <notifications@github.com> wrote:

[2019-10-23 04:01] clarketm opened #14925 "Improve admissions controller to prevent Prow jobs with bad config from taking down Prow."
**What would you like to be added**:
Improve admissions controller to prevent Prow jobs with bad config from taking down Prow. Countless times, misconfigured jobs I have created have caused Prow to crash.

**Why is this needed**:
Reduce downtime and Increase reliability.

/assign

[2019-10-23 06:34] fejta commented on #13903
Basically this is the push event for a tag, not pushing commits to the branch.

https://developer.github.com/v3/activity/events/types/#webhook-event-name-36

https://github.com/kubernetes/test-infra/blob/02f11f95f77dd130965ada69ff022984efe8e851/prow/github/types.go#L733-L737

https://github.com/kubernetes/test-infra/blob/b25c3c2748570fc04d52808ec2710ac32168eae3/prow/plugins/trigger/push.go#L48-L56

[2019-10-23 13:46] alvaroaleman commented on #14910
Yeah we do use the default template. Performance went back to normal, it seems this is only an issue when hitting a freshly created Deck replica but goes back to normal afterwards. Thanks for your help Travis.

[2019-10-23 13:46] #14910 closed

[2019-10-23 15:28] stevekuznetsov commented on #13903
IMO no postsubmits on tags is fine. You push a tag when you like what you have in the repo and it's tested and you want to publish it. That happens after postsubmits run on the commits.

@cjwagner @Katharine @krzyzacy @munnerz @alvaroaleman WDYT?

[2019-10-23 15:33] stevekuznetsov commented on #14925
While this is valuable I do want to ask how this happens "countless times" -- are people posting YAML they wrote in an editor manually? Use `mkpj` and this does not happen -- may be nice for your deployment to not crash while the (more challenging) work is done to reject those ProwJobs.

[2019-10-23 15:33] stevekuznetsov commented on #14925
Also, depending on the version of k8s the validation available from the APIServer for CRDs may be better, should look into that before writing an admission controller.

[2019-10-23 15:35] stevekuznetsov commented on #14629
Depending on _what_ you are trying to convey with those links, we are making good progress. Today, labels and annotations on a ProwJob are exposed via Prometheus so it's possible with `join()` to create a query that shows you metrics on a specific subset of jobs. If we expand `deck` to allow for overview pages on jobs with labels, that could bridge the rest of the gap, maybe?

This is orthogonal f

[2019-10-23 15:38] alvaroaleman commented on #13903
Yes, we do have publishing postsubmits that rely on getting triggered on tags. Others do as well, e.G. [Jetstack](https://github.com/jetstack/testing/blob/6c422092bf5f96f5d2f8c7ba80d742f50aa733fc/config/jobs/cert-manager/cert-manager-postsubmits.yaml#L40)

[2019-10-23 15:40] alvaroaleman commented on #14629
Yeah, I think so, too. Doing something to make Deck show jobs that have no refs and len(extra_refs) > 0 when selecting the repo in extra_refs[0] would be pretty nice

[2019-10-23 16:23] stevekuznetsov commented on #14923
I would look at the `git blame` for who wrote the test, looks like @krzyzacy did ages ago in dd9ac43082479ab73c1665592b32a8c4045f7c1a

[2019-10-23 16:27] stevekuznetsov commented on #11782
/remove-lifecycle stale

[2019-10-23 16:27] stevekuznetsov commented on #13059
/remove-lifecycle stale

[2019-10-23 17:02] clarketm commented on #14925
@stevekuznetsov

I would say most, if not all, of the *countless times* I am referring to are from editor mishaps (i.e. taking an existing PJ, tweaking it slightly in editor, then applying it).

I was *aware* that an admission controller could assist with *validation*, but I have yet to explore other options. I will investigate alternative validation options.

[2019-10-23 17:36] #13541 closed

[2019-10-23 17:52] stevekuznetsov commented on #14925
Yeah whoever is editing PJ YAML by hand should have their hand slapped and told to use `mkpj` ;)

[2019-10-23 17:55] Random-Liu opened #14938 "Test got terminated randomly after upgrading to gcr.io/k8s-testimages/kubekins-e2e:v20191017-ac4b4b5-master"
Right after the upgrade https://github.com/kubernetes/test-infra/commit/71aae2c3e826d617106fb400ad8bad4f2a35ebd6#diff-bc1a19dd8cab7a55902e9a81d5f4d935

The containerd windows test starts being randomly terminated in the middle of the test.
We start seeing this right after that image update.

[2019-10-23 17:58] Random-Liu commented on #14938
An example test failure https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cri-containerd-cri-validation-windows/1184908137358954497

And from the dashboard, we can see that the first failure started since 10-17 12:04, and the change was merged at 10-17 11:08.

[2019-10-23 18:11] BenTheElder commented on #14938
do you have a specific example?

[2019-10-23 18:41] Random-Liu commented on #14938
This seems to be a bash issue, there are some previous bug reports, haven't looked into them yet:
* https://github.com/nodejs/node/issues/19838
* https://github.com/nodejs/node-v0.x-archive/issues/3027

If it is a bash issue, it could be caused by the debian update from stretch to buster.

[2019-10-23 19:38] fejta commented on #13903
How about we add `tags` and `skip_tags` to just postsubmits? (you cannot PR a tag change, so presubmits are irrelevant). Once that is in then a flag to turn off tags on branches

[2019-10-23 20:07] Katharine commented on #13903
Sounds good to me

[2019-10-23 21:32] cjwagner opened #14943 "Ineffectual Go variable assignments"
This repo has ineffectual assignments in go code: https://goreportcard.com/report/github.com/kubernetes/test-infra#ineffassign

We should resolve these errors by identifying and correcting to the intended assignment or, at minimum, removing the ineffectual assignment.
/help wanted

[2019-10-23 21:32] cjwagner commented on #14943
/help

[2019-10-23 21:55] cjwagner opened #14944 "The cert-manager version we are using is not supported by letsencrypt."
We are currently using version `v0.5.2`: https://github.com/kubernetes/test-infra/blob/7abdd3fbe9022f7adda942b987d4c9ce47bd5460/prow/cluster/cert-manager.yaml#L155

Unfortunately there are backwards incompatible changes that make upgrading cert-manager more complicated than just changing the image version: https://docs.cert-manager.io/en/latest/tasks/upgrading/

The current certificate for prow.k8

[2019-10-23 21:57] Katharine commented on #14944
I am very inclined to switch to GKE-managed certs.

[2019-10-23 22:15] Katharine commented on #14944
see #14945 for what that would ultimately look like.

[2019-10-23 22:21] Random-Liu commented on #14938
Based on https://github.com/nodejs/node/issues/14752, it seems that something set the stdout to O_NONBLOCK mode.

The windows test runs a lot of gcloud ssh and gcloud scp command, and gcloud is also updated in that window:
[code]

It seems very likely to be a bug in the new gcloud version that it sets the stdout to `O_NONBLOCK` mode.

I'll apply the fix https://github.com/uwcirg/truenth-portal/pul

[2019-10-24 00:12] Random-Liu commented on #14938
It does turn out that `O_NONBLOCK` is set by something https://github.com/containerd/cri/pull/1324:
[code]

I highly suspect that it is gcloud.

Anyway, I think it is more a gcloud issue than a test-infra issue. I'll close this one for now. And for people who hits similar issue in the future, they can reference this issue to find a workaround.

[2019-10-24 00:12] #14938 closed

[2019-10-24 01:22] michelle192837 opened #14949 "Tide should limit time spent on GitHub queries when syncing"
Recently we got a Tide sync error because the sync loop averaged > 2 min. for > 15 min. Syncing kubeflow/pipeline took ~48 min. total, delaying the overall sync.

Not urgent, since Tide recovered fine, but as @cjwagner noted Tide should have a timeout on queries to GitHub.

/area prow/tide

[2019-10-24 01:27] michelle192837 opened #14950 "Downgrade errors when attempting to parse a non-OWNERS file for owners"
We log an error when trying to parse YAML headers for per-file OWNERS, but some files are just going to error on parsing (e.g. Hugo template files). Downgrade the error to an info log since the urgency doesn't warrant it (this will sometimes happen, but at info level we can search for it if we really need to).

/assign
/kind oncall-hotlist

[2019-10-24 16:58] numerology opened #14958 "How to trigger test based on type of files changed?"
**What would you like to be added**:
It's not super clear to us how to trigger test based on the changed file types.
I'm assuming there should be a way to do that by setting `run_if_changed` field
properly, for example [here](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-testing/dependencies.yaml).
However, golang regex does not support negative look behind theref

[2019-10-24 17:37] BenTheElder commented on #12138
probably should make a decision or close this as defacto "yes"

[2019-10-24 18:16] alejandrox1 commented on #14532
/area release-team

[2019-10-24 18:45] howardjohn commented on #13624
I think this is still an issue

On Thu, Oct 24, 2019 at 11:36 AM fejta-bot <notifications@github.com> wrote:

[2019-10-24 19:01] cblecker commented on #12138
/remove-lifecycle stale

I would assert: prow should not respond to comments left by itself.

[2019-10-24 19:12] hongkailiu opened #14961 "Failed on upgrading k8s dependencies to kubernetes-1.16.2"
I do not think it is a bug but not found the proper category either.

What I did:
[code]

Did not go very far adding require section about `github.com/Azure*`
https://github.com/kubernetes/kubernetes/blob/c97fe5036ef3df2967d086711e6c0c405941e14b/go.mod#L181-L190

This is my guess:
[code]
transitive dependencies of `github.com/Azure/go-autorest` got conflicting ...
https://github.com/google/go-cont

[2019-10-24 20:16] alvaroaleman commented on #14961
Try adding `github.com/Azure/go-autorest => github.com/Azure/go-autorest v12.2.0` inside the go.mods replace block, that helped me in a different occurence of the same error

[2019-10-24 20:43] saschagrunert commented on #13266
Okay closing as not wanted. :)

[2019-10-24 20:43] #13266 closed

[2019-10-24 23:08] clarketm opened #14968 "Support both yaml and json tags in genyaml"
**What would you like to be added**:
Support for both `yaml` and `json` tags in [`genyaml`](https://github.com/kubernetes/test-infra/tree/master/pkg/genyaml). Currently, the tool only accepts `json` tags.

**Why is this needed**:
Usability and UX. Users expect a tool that does `yaml` encoding to accept Golang `yaml` tags.

kubernetes/k8s.io#417

/assign

[2019-10-25 05:00] nikhita commented on #14961
I'm confused.. what error do you get when you change the require directive for `go-autorest` to `github.com/Azure/go-autorest v12.0.0+incompatible`?

[2019-10-25 14:42] hongkailiu commented on #14961
@alvaroaleman
Your magic works. I will create a PR soon.

@nikhita
[code]

I guess it has to be under `replace` directive.

Thank you both very much.

[2019-10-25 14:50] #14961 closed

[2019-10-25 17:21] Katharine opened #14976 "The build controller is crash looping"
This was triggered by yesterday's bump (#14936). I don't know why. The complete log is this:

[code]

I'd roll back, but I'm not sure we actually care? Perhaps we should just remove the build controller entirely instead.

[2019-10-25 17:42] cjwagner commented on #14976
We should remove remaining `agent: knative-build` jobs then remove the controller.
Ref: https://github.com/kubernetes/test-infra/issues/14681

[2019-10-25 19:19] cblecker opened #14979 "prow: welcome plugin shouldn't fire for org members"
**What would you like to be added**:
If you are a TrustedUser (i.e. a member of the org), then the welcome plugin shouldn't fire it's welcome message.

A simple statement in https://github.com/kubernetes/test-infra/blob/c72e3b6bbabf6e16127c0d29e90ebaa1cc78949a/prow/plugins/welcome/welcome.go#L106 checking if the user is a TrustedUser and returning nil should suffice.

**Why is this needed**:
If it

[2019-10-25 19:20] cblecker commented on #14979
cc @nikhita @BenTheElder
/area prow

[2019-10-25 19:22] alvaroaleman commented on #14868
/assign

[2019-10-25 19:40] fejta commented on #13232
/remove-lifecycle stale
/assign
/kind oncall-hotlist

[2019-10-25 19:40] fejta commented on #13278
/remove-lifecycle stale
/assign @Katharine
/area prow
This relevant still?

[2019-10-25 19:46] fejta commented on #12138
/area prow
/area prow/hook

IMO hook should understand who it is and ignore comments from itself -- don't send them to plugins.

This shouldn't be something plugins can mess up.

[2019-10-25 20:07] BenTheElder commented on #14979
/shrug
sure

[2019-10-25 20:22] fejta commented on #14976
@alvaroaleman

Think this could be related to https://github.com/kubernetes/test-infra/pull/14939?

[2019-10-25 20:22] alvaroaleman commented on #14976
yeah it is, just saw this, I can issue a quick fix
/assign

[2019-10-25 20:24] fejta commented on #14976
awesome, thank you!

[2019-10-25 20:35] #14976 closed

[2019-10-25 21:16] fejta commented on #13903
[code]

[2019-10-25 21:59] hypnoglow commented on #14979
/assign

[2019-10-25 22:46] fejta commented on #14107
/kind oncall-hotlist

Looks like we don't have enough cloudbuild quota?

https://k8s-testgrid.appspot.com/sig-testing-images#velodrome
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-velodrome/1185703182316081152
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/post-test-infra-push-velodrome/1185703182316081152/artifacts/
https://storage.googleapis.com/kubernetes-jenkins

[2019-10-25 23:38] cblecker commented on #14979
/remove-help

[2019-10-26 01:06] #12785 closed

[2019-10-26 10:15] #11523 closed

[2019-10-26 19:25] kikisdeliveryservice commented on #14201
@cblecker yes apologies, I have a wip that I will clean up and push a PR in the next few days

[2019-10-27 16:33] oke-py commented on #14923
Thanks, and so what should be done? I'd like 17931 test to pass.
Is this a correct place to report?

[2019-10-27 16:39] krzyzacy commented on #14923
who's the owner of the repo? they should be owning the tests

[2019-10-27 16:43] oke-py commented on #14923
So, I should open an issue on [helm/charts](https://github.com/helm/charts) and the owner should resolve the problem, right?

[2019-10-27 17:43] oke-py commented on #14923
I'm not sure why, but helm/charts#17931 pull-chart-e2e passed and merged.

[2019-10-27 17:43] #14923 closed

[2019-10-27 20:22] cblecker commented on #14875
Step 1: Deprecate field, add warning.
Step 2: Remove our reliance on this option.
Step 3 (January 2020): Completely remove option/related code.

Step 1 and 2 PR: https://github.com/kubernetes/test-infra/pull/14990

[2019-10-27 20:37] #14979 closed

[2019-10-27 21:32] fejta commented on #13372
This is solved by a postsubmits on the temp branch
/close

[2019-10-27 21:32] #13372 closed

[2019-10-27 22:38] cblecker commented on #12138
I agree.

Okay, so the plan is:
- Any comment events (issue_comment, pull_request_review, pull_request_review_comment, GenericCommentEvent) where the user is the bot, should be dropped by hook before they get to the plugins
- We should *not* drop all events, because we expect the bot to open PRs/issues in certain circumstances (such as using the cherry pick plugin, or the prow image bumper)
- An e

[2019-10-28 05:24] morvencao opened #14992 "prow job inits error for private repo."
**What happened**:

I have set up a prow cluster for public repos and private repos, the public repos and private repos are in different Github Org. The result is that prow jobs for public repos are running normally, while the prow jobs for private repos can't be initialized with the follow error:
[code]

Looks like the issue is caused by insufficient permission of github token that created for pr

[2019-10-28 05:30] gyliu513 commented on #14992
area/prow/clonerefs

[2019-10-28 05:30] gyliu513 commented on #14992
/area prow/clonerefs

[2019-10-28 07:45] matthyx commented on #9514
/remove-lifecycle stale

[2019-10-28 08:11] morvencao commented on #14992
Found the root cause: I did't add `ssh-key` to the `ssh_key_secrets` field of the job decoration config, after configuring the job following the doc here: https://github.com/kubernetes/test-infra/blob/cab76bdbd3760143a7b45dc35cf0b4d8d43b6c77/prow/pod-utilities.md#how-to-configure

The prow jobs for private repos are starting running.

[2019-10-28 08:11] #14992 closed

[2019-10-28 09:15] morvencao commented on #9628
@BenTheElder Is this issue fixed? If yes, I should upgrade to the latest build.

[2019-10-28 16:04] BenTheElder commented on #9628
I'm not sure, currently I'm not using badges.

On Mon, Oct 28, 2019, 02:15 Morven Cao <notifications@github.com> wrote:

[2019-10-28 16:29] alvaroaleman commented on #14798
@stevekuznetsov Now that #14830 has merged, could you check if and how much impact that has on the cpu and memory consumption?

[2019-10-28 18:12] eddycharly commented on #13874
Is there a way to construct the `PipelineResource` differently than with the `PROW_IMPLICIT_GIT_REF` magic ?

Some kind of template in the `pipeline_run_spec` maybe ?

My goal is to pass the branch name to the pipeline, i guess prow uses the commit hash as revision argument to the `PipelineResource`. I tried to use `${inputs.resources.git.revision}` in my task and it is indeed the commit hash.

Is

[2019-10-28 18:34] #14868 closed

[2019-10-28 18:44] cjwagner commented on #13874
I'm not sure how constructing the PipelineResource differently would help you pass the branch name to the pipeline, but if your goal is to just determine the branch name from within a pipeline you can already do that using the `PULL_BASE_REF` pipeline parameter. All ProwJob environment variables are defined [here](https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#job-environment-va

[2019-10-28 18:55] cjwagner commented on #12138
It might be good to have a period of time where we check the events we would filter out for anything that looks like a slash command and emit warnings that the commands will soon be ignored.

[2019-10-28 18:57] #14686 closed

[2019-10-28 18:58] eddycharly commented on #13874
@cjwagner i just checked, prow injects the variables in the `PipelineRun` resource like this :
[code]

`PULL_BASE_REF` contains the target branch of the pull request, is there any way to have the source branch also ?

[2019-10-28 19:02] cblecker commented on #12138
Oh, so like, we have a option for hook where we use the same above logic, but emit a warning with an opt-in? And then remove the option, with the new default of drop the event?

I'm _okay_ with that, but also not convinced it's needed. Right now I don't know of any plugins that explicitly use this code path.

[2019-10-28 20:05] cjwagner commented on #13874
No, the source branch is a branch from the source repo which can be the upstream repo, but is typically a fork repo, so the source branch doesn't necessarily exist in the upstream repo that the presubmit checks out. Why do you need to know the name of the source branch given that it doesn't necessarily even exist in the repo we are checking out?

[2019-10-28 20:14] cjwagner commented on #10946
This keeps going stale so I'm not sure if this is still something that is still cared about, but if it is, it can be achieved by specifying the `decoration_config.gcs_configuration.local_output_dir` ProwJob field. This copies the files to a local directory which may waste time and (temporarily) space if you don't care about the output at all, but it will avoid uploading to GCS.
/close

[2019-10-28 20:14] #10946 closed

[2019-10-28 20:26] cjwagner commented on #12138
Thats basically what I'm suggesting except I don't see much point in adding an option unless we want to allow Prow instances to opt-out of ignoring bot comments. Just warning for a bit before actually filtering out the events seems fine to me.

We certainly don't _need_ it, but it would let us (and other Prow instances) know if anything is going to break before we break it. I haven't looked around

[2019-10-28 20:31] eddycharly commented on #13874
I see your point, I didn’t think about forks.
I wanted to setup an environment related to the pull request, I will use the pull request number instead as it is available.
Thanks.

[2019-10-28 22:13] howardjohn opened #15003 "cherrypicker failed to create a PR"
**What happened**: I added a cherrypick label on a PR, then merged it. No cherrypick created. Later, `/cherrypick` worked

**What you expected to happen**: A cherrypick PR is created

**Please provide links to example occurrences, if any**:
PR: https://github.com/istio/istio/pull/18207
Logs:
[code]

[2019-10-28 22:58] Biwwie commented on #10978
I'll take care of this. Looks like the change needs to make the

/cc consistent in documentation.

[2019-10-29 01:38] morvencao commented on #9628
I'm using the build version of `v20190918-7672de02b`, look like the issue still exists.

[2019-10-29 04:00] haoshuwei opened #15008 "add prow jobs for alibaba cloud csi driver"
**What would you like to be added**:
add prow jobs for [kubernetes-sigs/alibaba-cloud-csi-driver](https://github.com/kubernetes-sigs/alibaba-cloud-csi-driver)

[2019-10-29 12:24] eddycharly commented on #13948
@bobcatfish do you have any news about making prow + tekton with a higher version than 0.5.2 ?

[2019-10-29 15:28] vdemeester commented on #13948
@eddycharly I need to re-do https://github.com/kubernetes/test-infra/pull/14216 :angel:

[2019-10-29 15:34] kasiakepka opened #15013 "Plank hangs on errors and is not able to schedule further jobs"
**What happened**:
Plank started throwing "cannot unmarshal" ERRORs that were caused by faulty ProwJob configuration. ProwJob config was missing quotes as it was prepared manually. It of course affected Plank and basically whole Prow stropped working as Plank was stuck on erroneous job and couldn't schedule new jobs. After deleting Prowjob it all started working as expected.

**What you expected t

[2019-10-29 15:37] eddycharly commented on #13948
@vdemeester 👍
if you don't have time, maybe i can help, would be happy to contribute 😄

[2019-10-29 17:08] vdemeester commented on #13948
@eddycharly can be in separate pull requests, I even think it is better to have 2 separate PR. Removing the knative build dependency is the first step.

[2019-10-29 17:12] eddycharly commented on #13948
@vdemeester are there instructions to build the projects in the repository ?
i started changing things, trying to figure out how to build now...

[2019-10-29 18:11] eddycharly commented on #13948
`bazel build //prow/...` found the docs...

is it supposed to build on mac ?
[code]

[2019-10-29 18:25] eddycharly commented on #13948
making progress : `bazel build --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64 //prow/...` works fine !

[2019-10-29 20:12] stevekuznetsov commented on #15013
I'm not really sure what can be done here. Don't create ProwJobs that are invalid if possible -- using tools like `mkpj` makes that very difficult to do on accident.

At a high level we need to disallow those from being created and/or be more lenient on the client side. I believe newer k8s versions allow for more fully-fledged validation in the API server for CRDs, which will help. Not sure if we

[2019-10-29 20:13] stevekuznetsov commented on #15013
xref https://github.com/kubernetes/test-infra/issues/14925

[2019-10-29 21:17] chases2 commented on #13353
/help

[2019-10-29 21:23] chases2 commented on #13571
This is an uncommon-enough problem that I don't think it's going to need to be addressed in the next few months, if at all.

Please feel free to reopen if something like this occurs again.
/close

[2019-10-29 21:23] #13571 closed

[2019-10-29 22:24] alvaroaleman commented on #15013
@clarketm Have you checked if this is an issue with the generated cluentset we are currently using for Plank?

[2019-10-30 05:59] YangLu1031 commented on #14670
Thanks @fejta, we discussed offline, since our prow tests are running on Git-on-Borg, so it's fine to add `roles/iam.serviceAccountTokenCreator` to prow test users.

Also current prow test users have `roles/iam.serviceAccountActor` which is [deprecated](https://cloud.google.com/iam/docs/service-accounts#the_service_account_actor_role), recommend to replace with `roles/iam.serviceAccountUser` + `ro

[2019-10-30 09:03] oxddr commented on #13707
/remove-lifecycle stale

@mm4tt what's the Boskos migration status? It's done, isn't it?

[2019-10-30 10:25] mm4tt commented on #13707
Yes, we can close this one.
All scalability presubmits are behind boskos - https://github.com/kubernetes/perf-tests/issues/650
/assign
/close

[2019-10-30 10:25] #13707 closed

[2019-10-30 14:13] kasiakepka commented on #15013
Thanks! I see that we are the ones to blame, not `plank` .

[2019-10-30 19:06] fejta commented on #14670
There's nothing we need to do here upstream, let's use an internal issue to track the Google-specific work
/close

[2019-10-30 19:06] #14670 closed

[2019-10-30 19:47] fejta commented on #12138
Long term I would argue in favor of hook always ignoring webhooks from itself. This is the simplest design.

The bump script should just directly assign Katharine -- it obviously has the ACLs to do this or else it couldn't do so in the plugin. I suspect every example will have a similar solution.

[2019-10-30 20:06] cblecker commented on #12138
If it ignores webhooks from itself, would it even start testing when the PR is created?

[2019-10-30 20:07] hongkailiu commented on #13651
/close

[2019-10-30 20:07] #13651 closed

[2019-10-30 20:36] BenTheElder commented on #12138
perhaps it should ignore comments from itself but not PR sychronize events?
the bot doesn't need to post /test to itself, but if it pushes code we
should trigger tests :-)

On Wed, Oct 30, 2019 at 1:06 PM Christoph Blecker <notifications@github.com>
wrote:

[2019-10-30 20:37] cblecker commented on #12138
That's my original suggestion, just said a million times clearer 😆

[2019-10-30 20:43] fejta commented on #12138
Great point and 100% agree

[2019-10-30 21:58] cjwagner opened #15036 "Metric-bigquery job is failing due to ChunkedEncodingError."
**What happened**:
https://k8s-testgrid.appspot.com/sig-testing-misc#metrics-bigquery
I think this is the relevant error text:
[code]
[code]
Any ideas about what could have caused this to start happening for 1 metric?

cc @clarketm @fejta @michelle192837

[2019-10-31 13:14] mm4tt commented on #14697
/reopen

It happens again for the presubmit scalability project pool - http://velodrome.k8s.io/dashboard/db/boskos-dashboard?orgId=1&from=now-2d&to=now
![86Bbx5Cwn6f](https://user-images.githubusercontent.com/2604887/67949790-aaeaa680-fbe8-11e9-99ea-ede118398699.png)

[code]

This is affecting all k/k presubmits

[2019-10-31 14:15] LorbusChris opened #15043 "Override not allowed, even though username is listed in OWNERS"
**What happened**:
`@LorbusChris: LorbusChris unauthorized: /override is restricted to Repo administrators, approvers in top level OWNERS file.`

see https://github.com/openshift/machine-config-operator/pull/1220#issuecomment-548383786

**What you expected to happen**:
Prow let's me do the override

**How to reproduce it (as minimally and precisely as possible)**:
In MCO repo, it's reproducible fo

[2019-10-31 14:27] mm4tt commented on #14697
Looks like it's getting better but still would be good for someone from test-infra to talk a look.

[2019-10-31 16:15] cjwagner opened #15045 "1.17 jobs are using non-existent images."
**What happened**:
This PR https://github.com/kubernetes/test-infra/pull/15023 bumped the release jobs and introduced the image `gcr.io/k8s-testimages/kubekins-e2e:v20191029-4802b07-1.17` to some of the job configs. This image doesn't appear to exist so jobs using it are getting stuck in the pod pending phase and eventually failing. Example image pull backoff error:
[code]

**What you expected to

[2019-10-31 16:20] cjwagner commented on #15045
Katharine advised that merging the daily bump PR should resolve this so I'm going to do that.

[2019-10-31 16:24] justaugustus commented on #15045
+1 to a bump instead of the revert!
ref Slack chat: https://kubernetes.slack.com/archives/C2C40FMNF/p1572538684094700

[2019-10-31 16:29] cjwagner commented on #15045
Bumping now: https://github.com/kubernetes/test-infra/pull/15030

[2019-10-31 16:37] #15045 closed

[2019-10-31 16:45] cjwagner commented on #15045
I confirmed the new image tag exists.

[2019-10-31 18:35] clarketm commented on #15013
@alvaroaleman
A fatal error still occurs with the generated client, albeit a different error message.

**e.g.**
[code]

[2019-10-31 20:45] fejta commented on #13360
Dupe of https://github.com/kubernetes/test-infra/issues/13903
/close

[2019-10-31 20:45] #13360 closed

[2019-10-31 20:47] fejta commented on #15036
X uploading a new version of the file while Y is downloading it might cause this.

I suspect we should just retry here.

[2019-10-31 20:54] fejta commented on #13452
IMO phaino's behavior is a correct one for local workflows and pj-on-kind.sh can be used for a more realistic one
/close

[2019-10-31 20:54] #13452 closed

[2019-11-01 00:19] amwat opened #15054 "Boskos does not allow duplicate resource name even for different types"
[code]

results in `{"error":"duplicated resource name: foo","level":"fatal","msg":"failed to create ranch!" }`

This seems like something we should support?

/cc @krzyzacy @ixdy @sebastienvas

[2019-11-01 00:26] krzyzacy commented on #15054
no the CRDs cannot have the same name, unless we change CRDs to $name_$type

[2019-11-01 00:28] amwat commented on #15054
yeah, was imagining something similar

[2019-11-01 00:29] krzyzacy commented on #15054
easier just name them that way :-)

[2019-11-01 00:35] amwat commented on #15054
Eh, technically my job just cares about the name. I shouldn't need to split string etc. to get it.
whereas the CRD naming scheme is arbitrary.

[2019-11-01 11:27] petr-muller commented on #15043
/assign

[2019-11-01 19:01] ixdy commented on #15054
I agree that this is something we should support.

/area boskos

[2019-11-01 20:04] krzyzacy commented on #15054
feel free to decouple the internal naming scheme from config :-)

[2019-11-01 20:46] eddycharly commented on #13948
First step done https://github.com/kubernetes/test-infra/pull/15022
Now let's update tekton pipeline ;)

[2019-11-01 21:29] #14717 closed

[2019-11-01 21:33] adrcunha commented on #8668
/remove-lifecycle stale

[2019-11-01 23:07] Biwwie commented on #10978
/assign

[2019-11-02 13:59] eddycharly commented on #13948
Here we go https://github.com/kubernetes/test-infra/pull/15072

[2019-11-03 18:32] alvaroaleman commented on #14233
/assign

[2019-11-04 00:36] #9223 closed

[2019-11-04 07:14] vdemeester commented on #13948
@eddycharly Thanks :heart_eyes_cat:

[2019-11-04 07:46] sbueringer opened #15081 "New GCS bucket for ClusterAPI OpenStack conformance tests"
**What would you like to be added**:

I would like to have a new GCS bucket to store test results of conformance tests based on ClusterAPI OpenStack run in OpenLab (https://github.com/theopenlab/openlab-zuul-jobs).

**Why is this needed**:
See also: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/484

I read the instructions in [Contributing Test Results](https://github.co

[2019-11-04 07:47] sbueringer commented on #15081
/cc @adisky
/cc @dims

[2019-11-04 14:47] sbueringer opened #15085 "Install OpenLab Github app for kubernetes-sigs/cluster-api-provider-openstack"
Can you please install the "openlab-ci" github app (https://github.com/apps/theopenlab-ci) for kubernetes-sigs/cluster-api-provider-openstack (like it's currently done in kubernetes/cloud-provider-openstack).

It will be used to integrate OpenLab Zuul to test ClusterAPI OpenStack. (see also issue: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/484).

[2019-11-04 19:49] cjwagner commented on #15036
/assign @clarketm

[2019-11-04 19:59] cblecker commented on #13740
/remove-lifecycle stale

[2019-11-04 19:59] cblecker commented on #13107
/remove-lifecycle stale

[2019-11-04 20:02] cjwagner commented on #13154
This is fixed.
/close

[2019-11-04 20:02] #13154 closed

[2019-11-04 20:09] Katharine commented on #13155
I still care! This should not be hard to fix, either.

/remove-lifecycle stale

[2019-11-04 20:20] #10978 closed

[2019-11-04 21:35] michelle192837 commented on #13051
/remove-lifecycle stale

[2019-11-04 21:35] michelle192837 commented on #13051
/assign

[2019-11-04 21:56] jlewi opened #15095 "[Question/Feature] Show skipped tests in test grid?"
Is it possible to show skipped tests in test grid? I currently have some tests that are expected to fail. They are reported as skipped in spyglass but don't show up in testgrid at all (i.e. there is no corresponding row).

Screenshots and other details in kubeflow/testing#517

I'm not sure if this is user error on my part or a limitation of testgrid.
Here's a sample junit file
https://storage.goog

[2019-11-04 23:54] BenTheElder commented on #9638
/remove-lifecycle rotten

[2019-11-04 23:54] BenTheElder commented on #9638
/remove-lifecycle stale

[2019-11-04 23:55] BenTheElder commented on #9638
https://help.github.com/en/github/authenticating-to-github/githubs-ssh-key-fingerprints

the question is just how we want to plumb this through.

[2019-11-05 02:06] lilinji commented on #15054
/area boskos

[2019-11-05 02:22] zzq889 opened #15100 "Support access token for clonerefs"
**What would you like to be added**:

using github access token when clone private repo in decorated prowjobs

**Why is this needed**:

We use enterprise github version and due to some policy we disabled the SSH visit. Seems like access token is the only way to clone private repo.

[2019-11-05 02:23] zzq889 commented on #15100
/area prow/clonerefs

[2019-11-05 03:02] #12944 closed

[2019-11-05 03:20] chewong opened #15101 "Inconsistent API model for multi-zone clusters"
**What happened**:
The aks-engine API model that was used to deploy clusters for [ci-cloud-provider-azure-multiple-zones](https://testgrid.k8s.io/provider-azure-master#ci-cloud-provider-azure-multiple-zones) is inconsistent to the API model declared in the `--acsengine-template-url` flag. This is due to not accounting for `availabilityProfile` and `availabilityZones` json fields in [populateApiMod

[2019-11-05 03:26] clarketm opened #15102 "Occasional ImagePullBackOff Errors when pulling large docker images"
**What happened**:
Occasionally in jobs (e.g. [proxy-presubmit-release](https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_proxy/2477/proxy-presubmit-release/109)) a ImagePullBackOff error occurs when pulling large images (~6 GB) from GCR (e.g. `gcr.io/istio-testing/prowbazel:0.5.14`).

[code]

**What you expected to happen**:
I expect an `ImagePullBackOff` error not to occur since the i

[2019-11-05 03:28] clarketm commented on #15102
/assign
/kind oncall-hotlist

[2019-11-05 07:37] eddycharly opened #15105 "Question : why config-updater keeps using binaryData instead of data ?"
I have some yaml files in a github repository that are kept in sync with a configmap.

These yaml files are regular utf8, though the config-updater sets them in the binaryData section of the configmap instead of the data section.

Looking at the code, the only check is `utf8.ValidString(string(value))`, that should be true in  my case.

Can it be related to the way the file content is retrieved fr

[2019-11-05 08:58] alvaroaleman commented on #9638
By replacing this line https://github.com/kubernetes/test-infra/blob/16cb8d25c7a01d3ab90a8502e45ea6f26492cdba/prow/cmd/clonerefs/ssh_config#L4 ?

[2019-11-05 10:09] munnerz commented on #14875
😬 we use this as we add users to the `cert-manager` org in order to grant them permission to do things in the `jetstack/cert-manager` repository (as we cannot add people to our main org 🙈)

[2019-11-05 12:36] alvaroaleman opened #15109 "Deck: Hidden repos setting is not reloaded"
**What happened**:

A hidden repo was aded but it showed up on a Deck instace that was not supposed to show hidden repos.

**What you expected to happen**:

The repo to be hidden

**How to reproduce it (as minimally and precisely as possible)**:

Update hidden_repos config

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

https://github.com/kubernetes/

[2019-11-05 12:43] alvaroaleman commented on #15109
/assign @xmudrii

[2019-11-05 12:56] eisraeli commented on #14654
Any updates ?

[2019-11-05 12:59] stevekuznetsov commented on #15105
What version of `hook` are you running? Could you have set the [`gzip`](https://godoc.org/k8s.io/test-infra/prow/plugins#ConfigUpdater) option? Otherwise, as you note, the choice of data versus binary is driven by that switch:

https://github.com/kubernetes/test-infra/blob/5f21eec9b62c037f997ab80f98b70370a1be07c3/prow/plugins/updateconfig/updateconfig.go#L143-L149

[2019-11-05 12:59] stevekuznetsov commented on #15105
FWIW I have seen data correctly uploaded, so this is not ubiquitous.

[2019-11-05 13:07] stevekuznetsov commented on #15054
Let's not flatten structured data into strings for naming on the CRDs. Can we use other unique identifiers?

[2019-11-05 13:07] stevekuznetsov commented on #13789
/remove-lifecycle stale

[2019-11-05 13:08] stevekuznetsov commented on #9948
/remove-lifecycle stale

[2019-11-05 13:08] stevekuznetsov commented on #13084
/remove-lifecycle stale

[2019-11-05 13:09] stevekuznetsov commented on #13042
/remove-lifecycle stale

[2019-11-05 13:11] eddycharly commented on #15105
Actually i was using the gzip option, i forgot to remove it after testing various config options 😱
Now it behaves as expected, thanks !

[2019-11-05 13:11] #15105 closed

[2019-11-05 16:31] stevekuznetsov commented on #9638
@droslean @petr-muller what was the drawback to this approach?

[2019-11-05 17:11] helderjs commented on #14740
Hi!

@clarketm
I think I can help with this but I believe I need access to the cluster to create the secret (or someone needs to create it for me).

All the rest is about update https://github.com/kubernetes/test-infra/blob/6496538168bbd6a3aaa8b139a30d533a8943d2ee/prow/cluster/crier_deployment.yaml#L36 according to https://github.com/clarketm/kubernetes_test-infra/blob/b75a14a3781cc6b5b196b6d63282

[2019-11-05 17:20] clarketm commented on #14654
Employed a fix:
https://github.com/kubernetes/test-infra/pull/14015

Then subsequently reverted:
https://github.com/kubernetes/test-infra/pull/14853

I will rework an alternative solution and follow-up with an update.

[2019-11-05 17:42] droslean commented on #9638
If you remove this, you have to make sure that the default ssh dir exists and `clonerefs` have access to it. Also, you have to pass the actual value of the known_hosts to the `clonerefs` options, and you have to include all the Github IPs. I tried, but at some point it starts flaking because for some reason new IPs are coming into play.

[2019-11-05 17:46] alvaroaleman commented on #9638
Why IPs, shouldn't the hostname be enough?

[2019-11-05 17:47] clarketm commented on #14740
Hi @helderjs,

I do not have full cluster access either. Please reach out to @cjwagner (or send a message to Kubernetes [#testing-ops](https://kubernetes.slack.com/messages/C7J9RP96G) slack channel to solicit help regarding secret creation). There may already be a token in the cluster.

Regarding configuration, you are correct:
- [ ] Update [crier_deployment.yaml](https://github.com/kubernetes/tes

[2019-11-05 17:49] droslean commented on #9638
This is what we thought... But it turns out that hostname is not enough. I really don't have any idea why.

[2019-11-05 17:52] BenTheElder commented on #9638
pretty sure we just need:
[code]

[2019-11-05 17:53] BenTheElder commented on #9638
er, and a file with the fingerprints.

https://leighmcculloch.com/posts/ssh-pin-known_hosts-for-github/ :-)

[2019-11-05 17:55] cblecker commented on #14875
@munnerz Is it not possible to add them as outside collabs with Read+ access on the repo itself?

[2019-11-05 21:27] DirectXMan12 commented on #13454
/remove-lifecycle stale

this'll be more relevant with go 1.13

[2019-11-05 21:46] cjwagner commented on #10884
Yes this is still happening and should be addressed with a retry loop and/or CPU limits on the sidecar container.
/open
/remove-lifecycle rotten
/help
/good-first-issue

[2019-11-05 21:46] cjwagner commented on #10884
/reopen

[2019-11-05 21:46] cjwagner commented on #10884
/help
/good-first-issue

[2019-11-05 22:50] cjwagner opened #15128 "Updateconfig plugin's ConfigFile and PluginFile options are ignored."
**What happened**:
I noticed that these config fields don't appear to be respected anywhere anymore and should probably just be removed in favor of the more general configmap uploading mechanism that is actually respected.
https://github.com/kubernetes/test-infra/blob/b4d4c269cc70d558b4db7c0512c9d17f6ba0b304/prow/plugins/config.go#L437-L448

It looks like those fields are only referenced in one pl

[2019-11-06 04:35] cblecker commented on #10402
/remove-lifecycle stale

[2019-11-06 05:29] #15101 closed

[2019-11-06 09:32] aure-olli opened #15138 "Prow commands not working on github PR anymore, cannot /approve a PR"
**What happened**:

When I created a test cluster on GKE with github gitops, little more than a month ago, the "create PR -> /approve" process worked perfectly. But now that I have created a new cluster, it doesn't work anymore. Any command (`/approve`, `/pony`, `/honk`) seems to be ignored.

The hooks are setup, and if I manually create the "approved" label (which should be done by Prow), then th

[2019-11-06 12:45] stevekuznetsov commented on #15138
`tide` is not using webhooks but the search API to look for PRs to merge. It does seem that your webhook is not configured correctly. Did you update it to point at the new cluster? Does the GitHub UI show any errors? Could you paste your `hook` logs?

[2019-11-06 13:26] stevekuznetsov commented on #14798
@alvaroaleman it now seems like steady state is better but at startup we see a lot of load. Is that expected?

![Screenshot from 2019-11-06 05-26-04](https://user-images.githubusercontent.com/7328370/68302002-f3291f00-0055-11ea-8ea9-beeb58eede60.png)
![Screenshot from 2019-11-06 05-25-49](https://user-images.githubusercontent.com/7328370/68302003-f3291f00-0055-11ea-97b8-fa49c0c85950.png)

[2019-11-06 13:31] alvaroaleman commented on #14798
Yes, because it has to deserialize all ProwJobs and run all of them through the indexing func

[2019-11-06 13:52] stevekuznetsov commented on #14798
Sounds good.

[2019-11-06 13:52] #14798 closed

[2019-11-06 14:20] alvaroaleman commented on #15109
Fixed by https://github.com/kubernetes/test-infra/pull/15123

[2019-11-06 14:20] #15109 closed

[2019-11-06 17:02] liggitt opened #15143 "pull-kubernetes-integration master job using 1.14-level test image"
**What happened**:
We switched the test images for kubernetes master to use go1.13.4 in https://github.com/kubernetes/test-infra/pull/15113

A corresponding change was made to require go1.13.4+ in integration tests in https://github.com/kubernetes/kubernetes/pull/82809

The resulting [presubmit pull-kubernetes-integration run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82809/pull

[2019-11-06 17:05] BenTheElder commented on #15143
Ideally we would get rid of kubekins-test going forward but apparently that never landed for integration. I eliminated it for the verify job previously. we have a prototype https://slack-redir.net/link?url=https%3A%2F%2Fprow.k8s.io%2Fview%2Fgcs%2Fkubernetes-jenkins%2Fpr-logs%2Fpull%2F46662%2Fpull-kubernetes-integration-podutil%2F1191963934244999168

some background: this is invoked via https://git

[2019-11-06 17:24] clarketm commented on #15102
We reduced the container image size down to ~5.5 GB (while is still extremely large) and upgraded the GKE master and nodes to `1.13.11-gke.9` and interestingly the issue has stopped. If this resurfaces in the future then I will reopen.

[2019-11-06 17:53] BenTheElder commented on #15143
we're making some progress getting the podutils job running and eliminating kubekins-test from future versions of the integration job
/assign @liggitt

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82809/pull-kubernetes-integration-podutil/1192134279472091136

[2019-11-06 18:27] BenTheElder commented on #15143
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82809/pull-kubernetes-integration-podutil/1192134279472091136

it ran but did not pass.

the number of tests in the junit checks out versus https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84814/pull-kubernetes-integration/1192137425569189888/

[2019-11-06 19:46] mhamdisemah commented on #15128
@cjwagner can i work in this issue ?

[2019-11-06 21:26] cjwagner commented on #15128
Of course!
/assign @mhamdisemah

[2019-11-06 21:35] chases2 commented on #14446
Is this still occuring? What command produces this output?

[2019-11-06 22:05] michelle192837 commented on #15095
That's what I get for getting distracted in the middle of doing this!

There's some work to enable this in progress, I need to make a proto change then actually enable in production. After that's done, you'll just need to add a flag to your TestGrid config to opt in.

Are you okay copying this issue over to https://github.com/GoogleCloudPlatform/testgrid/issues?

[2019-11-06 22:06] michelle192837 commented on #14446
I don't _think_ this is an issue anymore, though can't remember the command to reproduce and can't verify (via running update scripts and doing 'bazel build ...'). Going to close for now since changes were made to proto import paths/build files that likely affected this, will reopen if there's a way to reproduce.

[2019-11-06 22:06] #14446 closed

[2019-11-06 23:00] BenTheElder commented on #15143
kubekins-test should be fully deprecated going forward after https://github.com/kubernetes/test-infra/pull/15144 (which is now in), we need to follow up with updating the ci periodics once the kubernetes go 1.13 PR lands and ensure that 1.17 will pick these up.

[2019-11-06 23:25] cjwagner opened #15154 "Spyglass shows completed ProwJobs as running if finished.json is missing."
**What happened**:
ProwJobs that fail to upload a `finished.json` file when they complete are incorrectly described as still running even though the ProwJob resource itself (you can view this with the `ProwJob YAML` button) indicates that the job has completed.
![Screenshot from 2019-11-06 15-15-50](https://user-images.githubusercontent.com/5334145/68346198-59d72880-00a8-11ea-9400-79a5f464e225.png

[2019-11-06 23:31] Biwwie commented on #14421
Debugging:

Examples 1: Regex does not match \\"
Examples 2 + 3 : Regex only includes "Single Quote" but not "Right Single Quotation Mark"

Regex: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/yuks/yuks.go#L35

[2019-11-06 23:33] BenTheElder commented on #15154
i wonder if maybe a prowjob finalizer in crier could ensure that finished.json exists for the case that the podutils failed to create one. that way we don't need deck changes AND it will work after the prowjob is GCed

[2019-11-06 23:37] cblecker commented on #13816
/remove-lifecycle stale

[2019-11-07 00:02] Katharine commented on #15154
Depending on the prowjob resource doesn't work once the prowjob is cleaned up, and I don't think we want to increase the amount of weird special-case pulling-from-prow that spyglass does. I would prefer to see some prow component ensure that jobs always get useful information uploaded (as Ben suggests).

[2019-11-07 02:41] BenTheElder opened #15157 "label_sync is failing"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-label-sync/1192264870515445760

https://k8s-testgrid.appspot.com/sig-testing-misc#label_sync

from some of the logs

[2019-11-07 02:41] BenTheElder commented on #15157
cc @cjwagner @fejta
this is a bit??
/are oncall-hotlist

[2019-11-07 02:41] BenTheElder commented on #14950
ping

[2019-11-07 02:42] BenTheElder commented on #14803
cc @cjwagner

[2019-11-07 02:43] BenTheElder commented on #14697
is this still occurring? do we actually have enough capacity?

[2019-11-07 02:43] BenTheElder commented on #13232
SGTM - ping

[2019-11-07 02:44] BenTheElder commented on #14944
what's the current status on this?

[2019-11-07 03:05] BenTheElder commented on #15157
the live API results do not have this

https://api.github.com/orgs/kubernetes-sigs/repos
https://api.github.com/organizations/36015203/repos?page=2
https://api.github.com/organizations/36015203/repos?page=3

[2019-11-07 03:15] aure-olli commented on #15138
Hi

Thanks for your help

I can confirm that github hook works perfectly. Hook URL is the right one (same as the one described in `kubectl get ingress`). Events got systematically a 200 "Event received. Have a nice day." reply.
- last `/approve` event: https://github.com/aure-olli/testapprove/blob/logs/logs/52962780-0074-11ea-9ec3-4f3a31b39595.log
[code]
- the `/pony` event: https://github.com/aur

[2019-11-07 04:36] nikhita commented on #15138
@aure-olli Looks like the "bot account" is set up as your account itself. Prow ignores commands from the "bot account", so any comments that you make won't have any affect.

I just commented with an `/approve` and it seems to react. :)

Also.. do you have the `pony` and `goose` plugins enabled in plugins.yaml? Since the bot didn't comment with a pony/goose image, it looks like this hasn't been con

[2019-11-07 05:14] aure-olli commented on #15138
Hi

Thanks for helping

It's hard to know what is activated in Jenkins-X deployment :thinking: But I see there are many configuration, so you must be right, `/pony` is not activated.

OK, so this is eventually due to the fact that the owner and the bot need to be 2 different accounts. However, it tickles me on 2 aspects:

- It was working little more than a month ago, and I didn't see any commit t

[2019-11-07 07:39] mm4tt commented on #14697
Good point, I think I might have misinterpreted the graphs. Looks like there are not many projects in the dirty state (which IIUC would mean that this issue is still occurring) but rather we have a lot in busy state and they often hit the total project capacity. Please confirm whether it makes sense and whether it would make sense to throw in more projects to the scalability presubmit pool

[2019-11-07 08:48] BenTheElder commented on #15157
@cblecker may know the root case. can't verify with the data I have access to naturally. API docs not surfacing anything helpful.

[2019-11-07 08:49] cblecker commented on #15157
/assign
Will look tomorrow

[2019-11-07 09:51] BenTheElder commented on #14697
I think that is the case then -- generally if the dirty state is piling up
there is some issue with the janitor, but many busy projects usually just
means high usage.

On Wed, Nov 6, 2019 at 11:39 PM Matt Matejczyk <notifications@github.com>
wrote:

[2019-11-07 14:16] sbueringer commented on #15085
Reopened here > https://github.com/kubernetes/org/issues/1400

[2019-11-07 14:16] #15085 closed

[2019-11-07 14:24] helderjs commented on #14740
/assign

[2019-11-07 14:53] oxddr opened #15165 "Prow started extra test pod, causing running test to fail"
**What happened**:
Prow has scheduled an additional test pod, against [policy](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L44). It deleted the cluster from another run, causing gce-master-scale-performance to fail.

**What you expected to happen**:
No extra pods.

**How to reproduce it (as minimally and pre

[2019-11-07 15:28] helderjs commented on #14740
@clarketm PR is done. I'm trying to get someone to create the secret in the cluster.

[2019-11-07 17:18] michelle192837 commented on #14950
I'll take a stab at this again.

[2019-11-07 18:03] fejta commented on #13502
This is fixed right Katharine?

[2019-11-07 18:05] BenTheElder commented on #14950
thanks!

On Thu, Nov 7, 2019 at 9:18 AM Michelle <notifications@github.com> wrote:

[2019-11-07 18:19] BenTheElder commented on #14740
https://github.com/kubernetes/test-infra/blob/e36eb04fdc6565d695a0086906ac5c92df7fb10b/prow/cluster/hook_deployment.yaml#L93

a token exists. need to verify that it's the correct one.

[2019-11-07 18:21] clarketm commented on #14740
@BenTheElder
You can verify the token here: https://api.slack.com/methods/chat.postMessage/test. We will need to ensure the `test-failures` channel exists first.

[2019-11-07 18:39] BenTheElder commented on #14740
yep, that token works with that API

[2019-11-07 18:46] stevekuznetsov commented on #15165
Looking into logs for this one ...

[2019-11-07 18:52] stevekuznetsov commented on #15165
![Screenshot from 2019-11-07 10-52-10](https://user-images.githubusercontent.com/7328370/68418218-b12ed480-014c-11ea-8db5-f555e965af4d.png)

I am not seeing any evidence for Prow starting multiple Pods. Could we please edit the title of this issue to reflect the actual symptoms you saw and dig into the root causes?

[2019-11-07 18:54] stevekuznetsov commented on #15165
I'll see if something else reflects these lines ...

[code]

[2019-11-07 18:57] stevekuznetsov commented on #15165
We did start pod `""` but that is for job `"ci-kubernetes-e2e-gce-scale-correctness"`:

![Screenshot from 2019-11-07 10-56-59](https://user-images.githubusercontent.com/7328370/68418577-56e24380-014d-11ea-93e9-d3472cd36c47.png)

This does not seem like a Prow bug. In what way did the jobs interact to make the first one fail? Were they contentious on resources? Is this an issue with `boskos`?

[2019-11-07 19:50] cjwagner opened #15174 "Add configurable TTLs for completed ProwJob pods."
Currently sinker exposes a `max_pod_age` field: https://github.com/kubernetes/test-infra/blob/0326e2563add4824108d877e5b2c9ce3eee594f2/prow/config/config.go#L474-L476

This field is kind of misleading and marginally useful. It is actually the maximum pod age for a completed ProwJob since we don't delete pods of running ProwJobs. This means that if `max_pod_age` is 30 mins and a job needs to run fo

[2019-11-07 20:09] dims commented on #15081
@sbueringer please see one of the recent PRs in kubernetes/k8s.io requesting a bucket. ( like https://github.com/kubernetes/k8s.io/pull/440 )

[2019-11-07 20:20] stevekuznetsov opened #15175 "tide: segfault: concurrent map writes"
[code]

/area prow/tide
/cc @cjwagner @alvaroaleman @fejta
/kind oncall-hostlist

[2019-11-07 20:21] stevekuznetsov commented on #15175
/retitle tide: segfault: concurrent map writes

[2019-11-07 20:24] stevekuznetsov commented on #15174
Do we want  a hard TTL at all? (Delete after N hours regardless of job state?)

[2019-11-07 20:44] alvaroaleman commented on #15175
Seems this is because two parallel `create` calls were made... I didn't realize we do that and I didn't know this is a problem

[2019-11-07 20:56] BenTheElder commented on #15165
ci-kubernetes-e2e-gce-scale-correctness should in fact start daily per the config.

[2019-11-07 21:37] BenTheElder commented on #15174
ideally we don't need to get pod logs from live pods, because that costs all of the disk space of the pod which is a major resource problem for us.

instead some component could record more things (eg the pod state before deletion)

[2019-11-07 21:37] stevekuznetsov commented on #15175
Creating what? I think all pools are handled in parallel.

[2019-11-07 21:44] Katharine commented on #13502
It may actually still be broken in tackle, I haven't checked.

It's fixed in production everything.

/remove-lifecycle stale

[2019-11-07 21:48] alvaroaleman commented on #15175
Prowjobs, as the panic is triggered during a Create request and another one is going on as well. But maybe a red herring, I built a simple testcase where I have two goroutines create something in parallel but that doesn't trigger the race deterctor.

[2019-11-07 22:18] chizhg opened #15178 "Automatically retrigger stuck presubmit tests?"
**What would you like to be added**:
During the down time of Prow or Github (basically Tide is down), if someone creates a PR, the presubmit jobs will be stuck in `wait for status to be reported` state, and won't be automatically triggered after everything is recovered. It would be nice if these jobs can be resumed if everything is recovered.

**Why is this needed**:
Users can type `/retest` or `g

[2019-11-07 22:22] oxddr commented on #15165
Thanks @stevekuznetsov for looking into that.

1. `ci-kubernetes-e2e-gce-scale-correctness` and `ci-kubernetes-e2e-gce-scale-performance` test run in scalability build cluster
1. Those test are started at 12:01 and 17:01 UTC as per [config](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml)
1. Pod creation from sc

[2019-11-07 22:44] cjwagner commented on #14803
/assign

[2019-11-07 22:47] BenTheElder commented on #15165
Do you have more details than those pod creation time stamps? There's not a ton to go on here.

[2019-11-07 22:52] fejta commented on #13832
Cole is this fixed?

[2019-11-07 22:52] Katharine commented on #14944
We need someone (@fejta, probably) to change over the kubernetes and kubernetes-sigs webhooks to point at prow-canary.k8s.io instead of prow.k8s.io, and then we can perform the switchover during some low-traffic time.

We have until January 6th to actually execute this plan, but sooner is better than later.

[2019-11-07 22:52] fejta commented on #13831
/close
Deleted build controller

[2019-11-07 22:52] #13831 closed

[2019-11-07 22:53] fejta commented on #13830
/remove-lifecycle stale
/assign @fejta @cjwagner

[2019-11-07 22:55] fejta commented on #14944
Switching https://prow.k8s.io/hook to https://prow-canary.k8s.io/

[2019-11-07 22:55] fejta commented on #14944
Done

[2019-11-07 22:56] Katharine commented on #14944
Do you mean https://prow-canary.k8s.io/hook?

[2019-11-07 22:57] fejta commented on #14944
Yes, and we're getting 200s

[code]

[2019-11-07 22:57] Katharine commented on #14944
/pony

[2019-11-07 22:58] fejta commented on #14697
Also may need more janitor replicas: https://github.com/kubernetes/test-infra/blob/master/prow/cluster/boskos-janitor.yaml

[2019-11-07 22:59] fejta commented on #13836
/remove-lifecycle stale
/assign

[2019-11-07 23:00] oxddr commented on #15165
What kind of details you think of?

[2019-11-07 23:01] fejta commented on #15175
/assign @alvaroaleman @cjwagner @fejta

per https://github.com/kubernetes/test-infra/commits/master/prow/tide

[2019-11-07 23:01] BenTheElder commented on #15165
do you have the pod names / IDs? or more details about what kind of cluster it deleted or what jobs would do that?

[2019-11-07 23:03] Katharine commented on #15154
/help cancel

Removing the label until we have consensus on how we want to handle this and because it's a more design-y question than I think we want to lump into the help wanted pile.

[2019-11-07 23:20] #14803 closed

[2019-11-07 23:22] cjwagner commented on #13832
No, I'll downgrade to an `info` level log.

[2019-11-07 23:29] fejta commented on #11997
This is expected -- the client creds authenticate as the client user.

[2019-11-07 23:29] fejta commented on #11997
/close

[2019-11-07 23:29] #11997 closed

[2019-11-07 23:44] #13832 closed

[2019-11-07 23:59] chases2 commented on #15095
/area testgrid

[2019-11-08 01:25] fejta commented on #10884
If you want this to be a good first issue can you please update the description to include some links to the code that should be changed and how?

Right now the description is too ambiguous

[2019-11-08 02:16] stevekuznetsov commented on #10884
@alvaroaleman can you shed any light on this?

[2019-11-08 07:26] sbueringer commented on #15081
@dims this PR seems to add a staging bucket for provider-azure. We already have a bucket like this for "capi-openstack" which we are using for our images in GCR (if I understand it correctly). But the whole `ensure-staging-storage.sh` script seems to be only for staging buckets.

[2019-11-08 07:29] alvaroaleman commented on #10884
No, I don't think I've seen this before. Adding requests and retrying sounds like a good idea.

[2019-11-08 10:54] dims commented on #15081
@sbueringer guess then we need a new script similar to ensure-staging-storage.sh for the conformance results bucket?

[2019-11-08 10:56] oxddr commented on #15165
1. On our end we observed that master VM for `ci-kubernetes-e2e-gce-scale-performance` test has been deleted (test run by pod `22283aac-00b7-11ea-af2d-5ea7e3f64282`)
1. Caller IP of the GCE API call points to the scalability build cluster.
1. We use this cluster only for two tests `ci-kubernetes-e2e-gce-scale-correctness` and `ci-kubernetes-e2e-gce-scale-performance`.
1. They share the same cluste

[2019-11-08 14:57] munnerz commented on #14875
Yep this could be done - peribolos doesn't support repo-level permissions however, which is why we resolved to use an org... until the recently github changes to allow anyone that's commented on a PR to be assigned, we _also_ added them as readonly collaborators. But those changes now mean we only need them to be org members 😄

[2019-11-08 14:58] munnerz commented on #14875
(for `/lgtm` specifically - I am still unable to `/assign @some-org-member-that-has-not-commented`)

[2019-11-08 15:59] BenTheElder commented on #15165
I'm aware of how expensive these are.

[container_cluster_name_prow__logs__2019-11-06T10-54.txt](https://github.com/kubernetes/test-infra/files/3825297/container_cluster_name_prow__logs__2019-11-06T10-54.txt)

I actually see @stevekuznetsov triggering a rerun??

[code]

[2019-11-08 16:01] BenTheElder commented on #15165
https://console.cloud.google.com/logs/viewer?project=k8s-prow&minLogLevel=0&expandAll=false&timestamp=2019-11-08T15:52:03.965000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2019-11-06T08:00:00.000Z&dateRangeEnd=2019-11-06T19:01:00.000Z&interval=CUSTOM&resource=container%2Fcluster_name%2Fprow&scrollTimestamp=2019-11-06T18:54:55.000000000Z&filters=jsonPayload.job:ci-kubernetes-e2e-gc

[2019-11-08 16:02] stevekuznetsov commented on #15165
I was asked to trigger a re-run when the tests were failed by the release CI signal lead -- on the Deck overview the jobs were all red at the time.

[2019-11-08 16:03] stevekuznetsov commented on #15165
I still don't understand, though -- these are separate jobs with separate configurations. There's no bug in Prow here. If you want jobs to not be able to collide because they share the same resources, I'd suggest using a `boskos` resource to limit concurrency across jobs.

[2019-11-08 16:13] oxddr commented on #15165
/cc @mm4tt

Thanks @stevekuznetsov, that's make sense to me now. I didn't catch correctness test has been triggered manually. Can I ask you, to consult next time with sig-scalability before triggering 5k tests manually? Our setup is quite fragile. While using boskos might help with the management, we are not there yet.

[2019-11-08 16:21] stevekuznetsov commented on #15165
Totally -- I'll admit I knew the tests were large but I didn't see any test running, so I figured it was fine. I didn't know there were inter-test dependencies. @krzyzacy could help you set up a simple dynamic resource to limit throughput.

[2019-11-08 16:25] stevekuznetsov commented on #10884
I thought we did add retries :|

[2019-11-08 16:25] #12916 closed

[2019-11-08 16:26] stevekuznetsov commented on #10884
@cjwagner do you have a plot of this over time? I'm surprised I don't see it at all on my build clusters. I'm still suspicious of the message, too, which often indicates some sort of CPU throttle

[2019-11-08 16:35] BenTheElder commented on #15165
I suspect even with resource limits we just don't want to rerun these because we already have the time slots scheduled.

Perhaps deck can be aware of certain jobs not being suitable to re-run.

[2019-11-08 17:13] BenTheElder commented on #15157
I would be happy to write a fix for this given info about what differentiates this entry.
I can't see this entry on my account, but I could just login to k8s-ci-robot and check the API from that account.

[2019-11-08 17:49] Katharine opened #15192 "Deck should warn about potentially risky reruns"
Sometimes rerunning is unsafe for reasons that might surprise someone without the relevant context. This can lead to issues like #15165. We should add the ability to add risky-rerun flags to prowjobs, which the UI can then use before letting you perform a rerun.

/assign

[2019-11-08 17:49] cjwagner commented on #10884
I do not. Even if CPU throttling is the root cause of the issues we are seeing now, I think we should still add retries since we should really be retrying anyways and that will catch more problems than just CPU throttling. Networks are unreliable and the upload could fail for a lot of reasons.

What led us to believe that CPU throttling is the problem?

[2019-11-08 17:57] alvaroaleman commented on #15175
Okay, so unless I am reading the dump wrong, the concurrent map access happens during the deserizaliation done within the `Create` call for a prowjob. Its not entirely clear what the other goroutine is.

I built [a simple testcase](https://github.com/kubernetes/test-infra/compare/master...alvaroaleman:concurrent-create-race?expand=1) that concurrently creates Prowjobs and calls the `trigger` func

[2019-11-08 18:00] fejta commented on #10884
Network operations are guaranteed to occasionally fail at scale, and we should be robust to this reality.

[2019-11-08 18:05] Katharine opened #15194 "Job OWNERS should automatically get rerun rights over their own jobs"
This would let people rerun without needing to explicitly configure every job, and is the intuitive way for this to work.

It's also tricky: we don't know where a job was originally defined, and we don't have access to OWNERS files when we need it.

Off the top of my head, one way this could work is to have the config update check the OWNERS files while it's parsing jobs, and attach an annotation

[2019-11-08 18:10] stevekuznetsov commented on #15192
Perhaps -- this still won't help if someone accidentally or inadvertently changes the schedules. Using `boskos` to limit concurrency across many jobs by actually tying them together is a much more robust approach.

[2019-11-08 18:11] BenTheElder commented on #15165
https://github.com/kubernetes/test-infra/issues/15192 to follow up @oxddr

[2019-11-08 18:11] BenTheElder commented on #15165
I think we can close this one out, but it would be good to put a list of exactly which tests shouldn't be triggered somewhere, perhaps in a comment on https://github.com/kubernetes/test-infra/issues/15192 at least

[2019-11-08 18:11] #15165 closed

[2019-11-08 18:12] liggitt commented on #11202
note that we should only enable the feature in versions in which our setup scripts actually set up the drivers

[2019-11-08 18:21] Katharine commented on #15192
The problem with that is that we don't want to limit concurrency; we want to run these jobs at exactly the specified time. Assorted assumptions exist around the jobs being run as scheduled, and interrupting that schedule is problematic. Limiting the cross-job concurrency would prevent the jobs from interfering, but would not solve the regularly scheduled job failing if an unexpected job was run be

[2019-11-08 18:53] stevekuznetsov commented on #15192
Could we opt these out of being able to be re-run?

[2019-11-08 18:53] stevekuznetsov commented on #15192
(instead of warning and letting someone override, just not allow it)

[2019-11-08 20:28] fejta commented on #15175
[code]

[2019-11-08 20:48] #15157 closed

[2019-11-08 20:54] fejta commented on #15175
https://github.com/kubernetes/test-infra/blob/7bf2a7ae54cc133daa75a5269fcb6510f8b9a694/prow/apis/prowjobs/v1/types.go#L141-L156

This should be `spec.DeepCopy()`:
https://github.com/kubernetes/test-infra/blob/8812b7000d18a3e7c8d9c63e7dfafe3507d59c37/prow/pjutil/pjutil.go#L53

[2019-11-08 21:04] clarketm opened #15200 "Plank crashes when unable to connect to a single build cluster."
**What happened**:
Plank crashes (i.e. fails to sync) when a build cluster in unavailable, inaccessible, or nonexistent - even if the build cluster does not have any jobs.
[code]

**What you expected to happen**:
Plank should log an error (and/or send an alert) regarding failure to reach the cluster and *continue* to create Pods for other *properly-configured* clusters.

**How to reproduce it (as

[2019-11-08 21:35] BenTheElder opened #15201 "throttle logspam"
**What would you like to be added**:

a logging option to disable repeatedly logging messages in short time frames in prow components

**Why is this needed**:

to de-spam our logs :-)

/assign

shouldn't be too hard to implement

[2019-11-08 22:00] fejta commented on #15175
Another interesting theory: https://github.com/kubernetes/test-infra/pull/15087

bumped json-iterator/go from 1.1.7 to 1.1.8

[code]

[2019-11-08 22:04] Biwwie commented on #14421
Option 1: Just remove the regex
Option 2: Update regex to accept the additional characters

[2019-11-08 22:07] fejta commented on #15175
PodSpec maps:

https://github.com/kubernetes/api/blob/59e77acf588f3c483e60c597b2cdbcdf0f37c240/core/v1/types.go#L2902

https://github.com/kubernetes/api/blob/59e77acf588f3c483e60c597b2cdbcdf0f37c240/core/v1/types.go#L2173
https://github.com/kubernetes/api/blob/59e77acf588f3c483e60c597b2cdbcdf0f37c240/core/v1/types.go#L4579

[2019-11-08 22:19] Biwwie opened #15205 "Prow Hook component will not run in dryrun mode out of the box"
**What happened**:
As a new developer, checking out master and running hook in dryrun mode will never work due to this change to error on client instantiation during hook startup
https://github.com/kubernetes/test-infra/pull/12024/files

**What you expected to happen**:
1) Hook dryrun mode should still run successfully
2) Any clients that are unable to run in dryrun should be mocked to behave corr

[2019-11-08 22:22] Biwwie commented on #15205
/cc petr-muller stevekuznetsov

[2019-11-08 22:26] Biwwie commented on #15205
/cc @ stevekuznetsov

[2019-11-08 22:52] #15175 closed

[2019-11-08 23:05] Katharine commented on #15192
We could, but I prefer letting a per-job explanation be shown. If we reject without explanation, a bunch of people have the ability to go do it anyway, and might do so given they don't know why the UI isn't letting them do it.

I trust everyone who has the button to do the right thing, provided they have enough information. This ensures everyone has enough information without unduly getting in the

[2019-11-08 23:56] BenTheElder opened #15211 "simplify path bug"
filing per instructions
[code]

[2019-11-09 00:18] fejta commented on #14421
Option 1 is a safeguard. Please don't remove the regex

[2019-11-09 11:43] clarketm commented on #15200
/assign

[2019-11-10 00:45] #15200 closed

[2019-11-10 03:39] clarketm commented on #14326
Until this functionality is exposes via the GitHub API, I think clicking a few buttons in the UI is sufficient.

[2019-11-10 03:39] #14326 closed

[2019-11-10 04:34] stevekuznetsov commented on #15211
:man_facepalming:

[2019-11-10 04:35] stevekuznetsov commented on #15211
Embarrassing.

[2019-11-10 09:58] sbueringer commented on #15081
@dims Not sure how all this works but here is a first try for a new script > https://github.com/kubernetes/k8s.io/pull/459

[2019-11-10 15:12] sladyn98 commented on #12346
I would like to take up this issue, any points on how to begin ?

[2019-11-10 19:51] dims commented on #15081
@sbueringer that looks good! let's wait for folks to peek. i'll assign it

[2019-11-10 22:55] cblecker commented on #12346
Take a look at the https://github.com/kubernetes/test-infra/pull/12345 PR that was referenced at the top. Now that the deprecation period has passed, we can remove the warning bits as well as the option. We should also add a note to ANNOUNCEMENTS.md saying it's now done.

[2019-11-11 02:33] dims commented on #14158
`/home/reith/projects/kubernetes`  seems wrong. `kubernetes` should be in `$GOPATH/src/k8s.io/`

/close

[2019-11-11 02:33] #14158 closed

[2019-11-11 03:17] nikhita commented on #11402
/remove-lifecycle stale

On Sun, Nov 10, 2019 at 7:40 PM fejta-bot <notifications@github.com> wrote:

[2019-11-11 08:20] Bobgy opened #15220 "PR stuck in merge pool when one test is still failing"
**What happened**:
https://github.com/kubeflow/pipelines/pull/2559 has tide status: in merge pool.
Even though one test is failing.
However, prow bot doesn't merge it, so it's stuck in this status and also blocks future PRs from being merged automatically.

**What you expected to happen**:
Prow bot should move it out of merge pool.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-11-11 10:53] helderjs commented on #14740
@clarketm @BenTheElder is the name of the secret as I defined `slack-token`?
also what about the channel? should I ask someone to create the `test-failures` channel or change the config to something else?

[2019-11-11 16:13] droslean commented on #15100
/assign

[2019-11-11 16:38] hvaara opened #15224 "Prow: Should branchcleaner be configurable not to clean certain branches?"
**What would you like to be added**:
I'd like to know if anyone thinks it's valuable to implement a configuration option in `branchcleaner` to leave certain branches. It' possible to use `branchprotector` to achieve similar behavior, so I wanted to get some feedback on this. If anyone thinks it's valuable I'd be interested in working on this.

**Why is this needed**:
`branchcleaner` might clean a

[2019-11-11 17:30] clarketm commented on #14740
@BenTheElder verified the token; `test-failures` channel, like you have configured, is fine. Reach out to Slack [#testing-ops](https://kubernetes.slack.com/messages/C7J9RP96G) regarding channel creation.

[2019-11-11 17:43] BenTheElder opened #15225 "hook git clone failures"
**What happened**:
[code]

**What you expected to happen**: cloning to work

**How to reproduce it (as minimally and precisely as possible)**: unclear. this is happening in the prow.k8s.io deployment

**Please provide links to example occurrences, if any**: visible in the cluster logs if you have access

**Anything else we need to know?**: this is happening repeatedly.

[2019-11-11 17:56] BenTheElder commented on #15225
looks like these are probably for unmerged commits. possibly just pushed

[2019-11-11 22:16] #14943 closed

[2019-11-11 23:05] hvaara commented on #14421
@Biwwie Have you already started working on this, or would you like to? If not, I'd love to have a look myself 😄
@fejta Can you please explain what the regex safeguards against?

[2019-11-11 23:23] Katharine commented on #12233
Still need this for many reasons.

[2019-11-11 23:34] fejta commented on #14421
Safeguard against arbitrary data. A joke that contains only https://github.com/kubernetes/test-infra/blob/aec361073b4ad2290e8bffd552a68012938a9775/prow/plugins/yuks/yuks.go#L35 characters is much less likely to cause problems downstream than allowing anything.

[2019-11-11 23:44] hvaara commented on #14421
Would it make sense to sample the api for some jokes and expand the regex with the character set that is seen given it is reasonable? What about introducing retry logic in case the regex match fails for whatever reason?

[2019-11-11 23:52] fejta commented on #14421
SGTM, that's essentially what we did originally. Not sure if I failed to sample enough or if the set has drifted over time.

[2019-11-12 01:39] Bobgy commented on #15220
After more commits added to the PR, it is pulled out of merge pool correctly.

[2019-11-12 02:04] fejta commented on #14421
Retry also sgtm

[2019-11-12 03:32] Bobgy commented on #15220
This seems to be caused by https://github.com/kubeflow/pipelines/issues/1653.
Solve the problem there
/close

[2019-11-12 03:32] #15220 closed

[2019-11-12 11:47] CarlJi opened #15234 "Enhance blob uri for "open stdout" hyperlink to avoid being blocked by AdBlock extension"
**What would you like to be added**:
The AdBlock or AdBlockPlus extension on Chrome will block the blob uri for ["open stdout"](https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/lenses/junit/template.html#L35) hyperlink. which is bad user experience.
**Why is this needed**:
It would be better if prow can bypass it. and seems there is a solution based on the [discussion](https://st

[2019-11-12 11:49] CarlJi commented on #15234
/area prow/spyglass

[2019-11-12 15:19] mm4tt commented on #14697
Looks like the janitor's replicas has been bumped up in https://github.com/kubernetes/test-infra/pull/15188.
We can close this one once we add more projects to our presubmit pool.

[2019-11-12 17:15] BenTheElder opened #15237 "invalid extra refs not caught in presubmit"
**What happened**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeadm/1901/pull-kubeadm-kinder-upgrade-master/1194273587414962176

failed without any status / logs visible to the user.

tracked to https://prow.k8s.io/prowjob?prowjob=d1e91a78-055f-11ea-b1b3-9af1c2bbbc45 => this log in the build cluster:

[code]

to extra refs on the job:
https://github.com/kubernetes/test-infra/bl

[2019-11-12 18:17] #14233 closed

[2019-11-12 20:09] cbf123 opened #15243 "Prow issue: question about k8s-ci-robot"
Hi,

I'm trying to understand what I need to do in order to get rid of the "GitHub didn't allow me to request PR reviews from the following users" behaviour, as visible at https://github.com/kubernetes/kubernetes/pull/85133

I got a message in my email from notifications@github.com corresponding to the "/cc @cbf123" message.

I'm not a kubernetes member at present (I didn't think I had contributed

[2019-11-12 20:53] Biwwie commented on #14421
@hvaara all yours, I just did some light debugging.

Regex: I think our regex should match Githubs comment's supported character set. Looks like the both of you have agreed on the less intrusive approach and to expand the character set in some manner. SGTM.

Retry: I don't see the value here, if you only retry once you potentially could still fail which would result in a future Issue/Regex update.

[2019-11-12 21:02] fejta commented on #14421
Retries are extremely effective. If there's a 20% of finding a joke with a bad character, five attempts will provide 99.97% probability of successfully finding a joke.

[2019-11-12 21:33] stevekuznetsov commented on #15237
This should be caught by `checkconfig`

[2019-11-12 21:36] BenTheElder commented on #15237
Is test-infra running this? I don't think this PR bypassed presubmits.

[2019-11-12 21:41] stevekuznetsov commented on #15237
Err sorry, that was not clear -- to fix this bug, the check should be added to `checkconfig`. I am surprised it does not already check for this in config loading validation.

[2019-11-12 21:44] stevekuznetsov commented on #15237
Yeah, looks like it's a runtime only check. Plumbing it through job validation looks messy but should be possible.

[2019-11-12 21:55] BenTheElder commented on #15237
ACK

On Tue, Nov 12, 2019 at 1:44 PM Steve Kuznetsov <notifications@github.com>
wrote:

[2019-11-12 22:35] hvaara commented on #14421
Thanks for the comments everyone! I'll take a look 😃
/assign
/lifecycle active

[2019-11-12 22:52] BenTheElder opened #15244 "sinker not GCing pods"
**What happened**:
in one of our prow deployments we have a pod from november 6th that was not GCed, however we seem to have had more runs since then and it should be configured to delete PJs after 48 hours

/cc @cjwagner

[2019-11-12 23:08] cjwagner commented on #15244
ref: https://github.com/kubernetes/test-infra/pull/11641
As Sen notes at the bottom of the PR, we keep the latest ProwJob for every periodic so that we know the last time it was triggered. It sounds like this was a presubmit job so that is not the problem here, but we should probably handle terminating pods for the latest run of periodic jobs. The pod should be terminated after the max_prowjob_age

[2019-11-13 01:24] justaugustus commented on #13886
I think we've solved for this in recent releases, but I'm going to freeze it so we can look into it and properly close the loop.

/lifecycle frozen
/remove-lifecycle stale

[2019-11-13 12:06] petr-muller opened #15250 "tide hits "description is too long" when updating its status"
**What happened**:

We're seeing log errors like these after today's Prow bump:

[code]

The actual call is logged like this:

[code]

Where the description is:

[code]

Which is 165 characters. Looks like https://github.com/kubernetes/test-infra/pull/15078 is causing this and Tide will need to ellipsize the description when it is too long because we have too many test (or contexts too long).

/as

[2019-11-13 14:24] nzoueidi commented on #9628
/assign

[2019-11-13 14:38] nzoueidi commented on #12749
/reopen
/assign

[2019-11-13 14:39] nzoueidi commented on #12749
/remove-lifecycle rotten

[2019-11-13 14:40] nzoueidi commented on #10821
/reopen
/remove-lifecycle rotten
/assign

[2019-11-13 15:18] stevekuznetsov commented on #15250
We already have an ellipsizing(???) Utility somewhere in tide, I think.

[2019-11-13 15:30] eddycharly opened #15253 "ProwJob Status.URL is not always set"
I'm using prow with tekton pipelines (latest version of both).

The Status.URL of prow jobs are not always set (they are rarely set in fact).

I'm trying to figure out the reason, am i right that it is plank that sets the Status.URL ?

See below, 1 job has the Status.URL filled (therefore a link appears in prow), other jobs don't have the Status.URL filled.

![image](https://user-images.githubuser

[2019-11-13 17:23] alvaroaleman commented on #15250
/assign

[2019-11-13 17:33] alvaroaleman commented on #15250
/assign cancel
@petr-muller I was thinking it would probably make sense to add a check in the github client for this case and make it cut and emit a debug-level log message?

[2019-11-13 17:59] cjwagner commented on #14949
@michelle192837 Did you mean clones from GH? AFAICT all the GitHub API requests have timeouts.

[2019-11-13 18:12] stevekuznetsov commented on #15250
@alvaroaleman we should revert the PR so that we can deploy `tide` at HEAD without errors while we figure out a fix

[2019-11-13 18:19] petr-muller commented on #15250
#15258 is intentionally quite simple to be able to merge quickly, it can be made smarter as a followup.

[2019-11-13 18:27] #15250 closed

[2019-11-13 18:53] zhouhaibing089 opened #15261 "deck: logs view to render ansi colors"
**What would you like to be added**:

Today, the default handler for `/log` in deck just pipes the container logs. That works fine in most of cases, however the output isn't really readable if there are ansi colors decorations which most of fancy tools do. `ginkgo` for example.

I would like to propose adding a new option like `?ansi=true` so it can convert the logs into html. I find that https://

[2019-11-13 20:15] #14795 closed

[2019-11-13 21:29] cblecker commented on #10409
/remove-lifecycle stale

[2019-11-13 21:32] alvaroaleman opened #15265 "Tide status controller ignores jobs that have run_if_changed"
**What happened**:

The tide status controller doesn't consider jobs that have `run_if_changed` set when reporting jobs as failed or telling what jobs need retesting.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/assign

[2019-11-13 21:41] michelle192837 commented on #14949
I think cloning the repo, yeah.

[2019-11-13 21:55] stevekuznetsov commented on #14949
Could we please paste representative logs from `tide` to help isolate what, exactly, took 48 minutes?

[2019-11-13 21:58] #14420 closed

[2019-11-13 22:33] YangLu1031 opened #15267 "Testgrid `windows-gce-serial` tests failed on cluster creation for long time"
**What happened**:
`windows-gce-serial` tests failed on cluster creation.
https://testgrid.k8s.io/google-windows#windows-gce-serial&width=20

**What you expected to happen**:
Cluster is up and run serial tests

**How to reproduce it (as minimally and precisely as possible)**:
https://testgrid.k8s.io/google-windows#windows-gce-serial&width=20

**Please provide links to example occurrences, if any**

[2019-11-13 23:02] chases2 commented on #14950
@michelle192837 Has this issue been resolved?

[2019-11-13 23:18] michelle192837 commented on #14950
Yup!

[2019-11-13 23:18] #14950 closed

[2019-11-14 00:19] BenTheElder commented on #15267
Hi, do you have any reason to suspect this is a test-infra bug?
Otherwise, this should probably be in the kubernetes repo, filed against sig-windows?

[2019-11-14 02:05] YangLu1031 commented on #15267
@BenTheElder Hi Ben, as I found `gce-windows-master` used the same k8s repo(`v1.18.0-alpha.0.670+dff236e3b29cda`) as `windows-gce-serial`, but it was up and running fine.
logs:
Started: [gce-windows-master](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/1194226648531079170)
Not started: [windows-gce-serial](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci

[2019-11-14 10:27] eddycharly commented on #15253
I think it is more in the pipeline than in plank.

I have to following logs when creating a pipeline :
[code]

[2019-11-14 10:42] eddycharly commented on #15253
Finally understood why it happens, this is because `crier` has updated the prow job before the `pipeline`. If i disable `crier`, the problem goes away.

How should we solve the issue ? Should the pipeline retry it's update ?

[2019-11-14 16:59] eddycharly opened #15282 "Sinker not working correctly with pods created by tekton pipeline"
Please look at https://github.com/kubernetes/test-infra/blame/master/prow/cmd/sinker/main.go#L381

Sinker is prowjob names with pod names to delete pods that do not belong to a prowjob.
It probably works fine with kubernetes agent but fails with tekton agent as the name of the pod is not the same as the prowjob name.

We should probably use the `prow.k8s.io/id` label.

[2019-11-14 18:13] pjh commented on #15267
Failing -serial build-log:
[code]

Successful -master build-log:
[code]

I don't know who is trying to curl, what they're trying to fetch and why it's failing.

[2019-11-14 18:32] pjh commented on #15267
I'm guessing that something is going wrong while initializing the master but I'm not sure what. I also have no idea why the master would be failing in the -serial job but not in our other jobs; I reviewed [windows-gce.yaml](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-windows/windows-gce.yaml) and I don't see any notable differences for the serial job.

Comparing

[2019-11-14 18:48] yliaog commented on #15267
the serial test never succeeded in the job history, all the way back to Aug 16.

[2019-11-14 19:19] yliaog commented on #15267
cluster master brought up, three Windows nodes brought up, two other Linux nodes failed to be brough up

=================================================
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-serial/1194899427391705089/build-log.txt
Created [https://www.googleapis.com/compute/v1/projects/kubernetes-ingress/zones/us-west1-b/instanceGroupManagers/e2e-7

[2019-11-14 19:48] yliaog commented on #15267
actually when i looked at more test runs, it turns out many test runs are good, i.e. the cluster has been created successfully, and tests are run on the cluster, and many of the tests have PASSED, e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-serial/1195020730232737792

the problem is it is not *shown* the same way as other CI test results for some reason.

[2019-11-14 22:30] stevekuznetsov commented on #13374
This is solved if you route v4 traffic through ghproxy

[2019-11-15 00:24] clarketm commented on #14244
/assign

[2019-11-15 05:28] nikhita opened #15293 "Warn if PR has kind/deprecation label but no release note"
Ref: https://github.com/kubernetes/test-infra/pull/15040#issuecomment-549438873

https://github.com/kubernetes/test-infra/pull/15040 adds the `kind/deprecation` label. We should also make sure that the bot warns if a PR has the `kind/deprecation` label but no release note. We could, perhaps, enforce this warning by removing the `kind/deprecation` label automatically with a comment if there is no r

[2019-11-15 05:50] justaugustus commented on #15293
@nikhita -- Thanks for opening this!
What about instead enforcing the release note with a `do-not-merge*` or `needs-*` label instead of dropping the `kind/deprecation` label in this instance?

[2019-11-15 06:02] nikhita commented on #15293
Lgtm.

[2019-11-15 07:39] michelle192837 opened #15294 "TestGrid is not actually ignoring skipped statuses by default"
Whee, faulty assumptions!

Recent change to TestGrid added opt-in skip statuses, except that skips weren't actually ignored by default. I added that change to default.yaml thinking it would apply, and forgot about another couple changes that would need to apply for this to actually go into effect.

Working on those, and will probably regenerate most if not all test groups to clean up TestGrid resu

[2019-11-15 07:39] michelle192837 commented on #15294
/area testgrid
/kind oncall-hotlist

[2019-11-15 15:59] #15282 closed

[2019-11-15 16:09] #14244 closed

[2019-11-15 16:47] stevekuznetsov opened #15299 "tide: status controller: 422 This SHA and context has reached the maximum number of statuses"
`tide` is erroring like so:

[code]

Looking at all the changes in the status, we see that the controller is not sorting the list of jobs it reports on:

[code]

/area prow/tide
/cc @cjwagner @alvaroaleman

[2019-11-15 17:09] #13036 closed

[2019-11-15 17:30] BenTheElder commented on #15267
https://testgrid.k8s.io/google-windows#windows-gce-serial&width=20 != https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/1194987758444089345

windows-gce-serial on testgrid goes to this prowjob https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-serial/1194899427391705089

there are no junit results being uploaded from the tests there

[2019-11-15 17:31] BenTheElder commented on #15267
files need to wind up in $ARTIFACTS to be uploaded.

[2019-11-15 17:31] BenTheElder commented on #15267
I would guess that the script in `      - --test-cmd=$GOPATH/src/k8s.io/gce-k8s-windows-testing/run-e2e.sh` does not do this.

[2019-11-15 17:44] eddycharly commented on #15253
Fixed via https://github.com/kubernetes/test-infra/pull/15295

[2019-11-15 17:44] #15253 closed

[2019-11-15 17:53] yliaog commented on #15267
Normally, here are the steps 1) finish run-e2e.sh 2) dump logs. In the serial case, the run-e2e.sh is not finished, and timed out, and forcefully shutdown. hence no logs.

below are the raw logs from a normal run:
==============================================================
2019/11/15 14:59:02 process.go:155: Step '/home/prow/go/src/k8s.io/gce-k8s-windows-testing/run-e2e.sh --ginkgo.focus=\[Conf

[2019-11-15 17:53] yliaog commented on #15267
so the fix is to increase the timeout for the serial test

[2019-11-15 17:54] BenTheElder commented on #15267
I don't think that's the fix, the junit results should be written even on timeout normally.

run-e2e.sh should be configuring the result to go to $ARTIFACTS

[2019-11-15 18:02] yliaog commented on #15267
I compared the serial job YAML and non-serial job YAML, they are both using run-e2e.sh, the diff is simply the - --ginkgo-parallel=, which is 1 for serial case, and 8 for non-serial case. the other is timeout, 4h or serial case, and 2h or non-serial case.

[2019-11-15 18:09] chases2 opened #15303 "Outage with Velodrome/boskos logs"
**What happened**:
The Velodrome boskos dashboard is returning no data with the following response (in the red ! in the top-left):
[code]

**What you expected to happen**:
Data

**How to reproduce it (as minimally and precisely as possible)**:
Currently, visit [the dashboard](http://velodrome.k8s.io/dashboard/db/boskos-dashboard?orgId=1&from=now-24h&to=now). I have confirmed the error is reproduci

[2019-11-15 18:20] BenTheElder commented on #15267
they're both probably wrong then, I'm fairly certain we don't have this
issue with timeouts in jobs that run e2e without this script

On Fri, Nov 15, 2019 at 10:02 AM Yu Liao <notifications@github.com> wrote:

[2019-11-15 18:21] chases2 commented on #15303
/assign @fejta @cjwagner

[2019-11-15 20:21] piyushkv1 commented on #14070
Getting Error
vagrant@master-1:~$ env|grep GO111MODULE
GO111MODULE=on
vagrant@master-1:~$ go get -v -u k8s.io/test-infra/kubetest
go: cannot find main module; see 'go help modules'

[2019-11-15 23:07] chases2 commented on #13232
@fejta Why is this on the oncall hotlist? This sounds like a major enhancement

[2019-11-16 03:19] #12796 closed

[2019-11-16 09:28] fejta commented on #13232
You can take it off. Sitting around waiting for jobs to complete is the primary source of pain during my shifts, so I added it to mitigate that.

Other people seem to encounter other snags

[2019-11-17 00:58] clarketm opened #15316 "checkconfig returns error for valid config"
**What happened**:
`checkconfig` returns an error for a valid config. More specifically, `checkUnknownFields(..)` returns *unknown* fields that are, in fact, *known*.

https://github.com/kubernetes/test-infra/blob/c730fab62edb4442547269b17e314b6dd861e925/prow/cmd/checkconfig/main.go#L402-L431

**What you expected to happen**:
A valid, functional configuration should be considered valid by `checkco

[2019-11-17 05:20] clarketm commented on #15316
/help

[2019-11-17 09:38] clarketm commented on #14740
/lgtm
/hold pending https://github.com/kubernetes/community/pull/4241

[2019-11-17 09:47] clarketm commented on #14654
/help

[2019-11-17 09:47] clarketm commented on #14049
/help

[2019-11-17 20:35] #15299 closed

[2019-11-17 21:23] clarketm commented on #15316
We are using [`v20191115-8d288a842`](https://github.com/istio/test-infra/blob/104369d76e8affc99f793cb6315f046ac22a2e7f/prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml#L11).

It is worth mentioning that this same error occurs while running `checkconfig` locally against HEAD of `master` (i.e. 0c33278c38b087b40703cf3b059a4e288957a2ed).

[code]
[code]

#### Links
- [Istio prow config](

[2019-11-18 00:21] stevekuznetsov commented on #15316
Copying over from that thread ...

That is totally bizarre. I think we should reconsider the bespoke reflection-based code we have in there to check for bad fields. I don't think that it is worth the effort to maintain it over strict YAML loading as allowed by the library. The only reason I remember being given for the code as-is, was that the library only told you about one unknown field at once.

[2019-11-18 22:20] zhouhaibing089 commented on #14843
/close

[2019-11-18 22:20] #14843 closed

[2019-11-19 18:05] chases2 commented on #15303
![image](https://user-images.githubusercontent.com/1386266/69173167-1622ec80-0ab4-11ea-8cf2-a72de786559f.png)

[2019-11-19 18:37] #14421 closed

[2019-11-19 18:47] #15265 closed

[2019-11-19 20:36] clarketm commented on #15102
/reopen

[2019-11-19 23:48] ixdy commented on #15054
We could possibly move the name of the resource (from the ConfigMap) to the spec and then use an autogenerated name for the actual kubernetes object (possibly based on the resource name).

The kubernetes object name [can only be up to 253 characters long, and can only contain digits, lower-case letters, `-`, and `.`](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).

[2019-11-19 23:57] ixdy commented on #15303
/area boskos

[2019-11-19 23:58] sebastienvas commented on #15054
what s wrong with using a hash from (type, name), the only issue is that any change like is backward incompatible, so might need to migrate your resources.

[2019-11-20 00:52] jberkus commented on #9363
AFAIK, this issue has not been resolved.

@Katharine @BenTheElder ?

/remove-lifecycle stale

[2019-11-20 01:12] ixdy commented on #15054
it's nicer to manually list resources if they have human-readable names (instead of hashes or UUIDs).

OTOH, not using the name at all (or obfuscating it) would allow names that don't match the strict DNS requirements. (Not an issue at the moment, but maybe it could be someday - e.g. what if you wanted to list service account names which included `@` symbols?)

[2019-11-20 13:21] nikhita commented on #13587
/remove-lifecycle stale

[2019-11-20 13:27] nikhita commented on #10754
/remove-lifecycle stale

[2019-11-20 14:13] wojtek-t commented on #14011
Closing as duplicate of kubernetes/kubernetes#79464

[2019-11-20 14:13] wojtek-t commented on #14011
/close

[2019-11-20 14:13] #14011 closed

[2019-11-20 16:07] nikhita commented on #13938
/remove-lifecycle stale

On Wed 20 Nov, 2019, 8:05 AM fejta-bot, <notifications@github.com> wrote:

[2019-11-20 23:25] clarketm commented on #15102
For **temporary** mitigation on specific nodes in a GKE cluster, I have been doing this:

[code]

Of course, this will only apply to a specific node .

[2019-11-20 23:33] #13836 closed

[2019-11-20 23:47] nikhita commented on #13587
/good-first-issue

[2019-11-21 00:03] cblecker commented on #15293
Talking to @nikhita, here's a new plan for this:
If the PR has `kind/deprecation` AND has `release-note-none`, then that is an invalid combination. We should then drop `release-note-none` and add `do-not-merge/release-note-needed`, and add a note to the PR of why we did this.

/help

[2019-11-21 00:41] cjwagner commented on #11957
/kind oncall-hotlist

The boskos images are currently running at version `v20190621-ff01381` even though there have been many changes since then: https://github.com/kubernetes/test-infra/commits/master/boskos

@michelle192837 (current oncall) Could you please publish and deploy the latest boskos images when you get the chance (or make it automatic)?

[2019-11-21 00:52] fejta commented on #11957
This is the latest image:

9abcb3ce0bea  v20190621-ff01381                                         2019-06-21T09:04:24

The prow bump already autobumps this to the latest image whenever it changes.

[2019-11-21 00:55] fejta commented on #11957
We also have a job to push images whenever they change:

https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L178-L204

[2019-11-21 01:16] AradhanaSingh commented on #13587
/assign

[2019-11-21 05:11] michelle192837 commented on #14395
This is fixed (I believe by @fejta, thanks!)

[2019-11-21 05:11] #14395 closed

[2019-11-21 16:55] cjwagner commented on #11957
I don't think this part is working right. There have been many changes to boskos since June 21, but that is the most recent image we've published: https://github.com/kubernetes/test-infra/commits/master/boskos

If you look at the post submit job statuses on those commits it does look like the `post-test-infra-push-boskos` job is running, but the images it says it is publishing are not actually bei

[2019-11-21 17:00] cjwagner commented on #11957
Ooooh, looks like we have published boskos images to both `gcr.io/k8s-testimages` and `gcr.io/k8s-prow`. Our deployments are all referencing `gcr.io/k8s-testimages` still, but we only push to `gcr.io/k8s-prow` now so autobump isn't finding the newer images.

[2019-11-21 18:31] #13044 closed

[2019-11-21 18:42] alvaroaleman commented on #14236
/assign

[2019-11-21 19:05] yliaog commented on #15267
https://testgrid.k8s.io/google-windows#windows-gce-serial shows results now

it timeouts after 4h, so still need to increase that timeout

[2019-11-21 22:08] chases2 commented on #13624
This is still a quality-of-life issue, and has become more obvious with Transfigure allowing robots to push configurator output. In the following example, many changes are simply files "moving around"

example: https://github.com/kubernetes/test-infra/pull/15148

[2019-11-21 22:08] chases2 commented on #13624
/remove-lifecycle stale

[2019-11-21 22:08] chases2 commented on #13624
/help-wanted

[2019-11-21 22:09] chases2 commented on #13624
/help

[2019-11-21 22:15] #15303 closed

[2019-11-21 22:33] cjwagner commented on #15303
Boskos metrics are now at https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

[2019-11-21 22:35] ixdy commented on #14715
Boskos is now using the Prow monitoring stack (#15344). I guess next thing is to expose cleanup timing metrics?

[2019-11-21 22:36] ixdy commented on #9383
What's left to be done now that Boskos is using the Prow monitoring stack (#15344)?

[2019-11-21 22:38] cjwagner commented on #9383
Once we have some data from the new metrics we'll be able to pick an appropriate alert threshold and add prometheus alerts like the ones defined in this dir: https://github.com/kubernetes/test-infra/tree/master/prow/cluster/monitoring/mixins/prometheus

[2019-11-22 18:55] alvaroaleman commented on #15261
@zhouhaibing089 I think this already works, look e.G. here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api/1789/pull-cluster-api-integration/1197948440802234372#1:build-log.txt%3A1489

Maybe the problem is that whatever is emitting these logs is disabling ANSI when there is no TTY?

[2019-11-22 23:08] clarketm commented on #15013
Note: the scope of this issue to now minimized to service clusters as sync issues with *build* clusters will not longer cause a fatal sync crash. #15215

[2019-11-22 23:18] clarketm commented on #15244
Can you provide me a link to the logs or instance details, so that this can be investigated?

[2019-11-23 00:36] zhouhaibing089 commented on #15261
@alvaroaleman: It looks like spyglass(`/view/prowjob` and `/view/gcs`) does it. However the `/log` handler doesn't. I'm uncertain whether we should enhance `/log` or just go with support other storage providers or maybe we should do both.

[2019-11-23 17:16] #13039 closed

[2019-11-24 01:34] alvaroaleman commented on #13528
So the way this problem got addressed is by adding the option to specify multiple decoration configs, then putting the secret jobs into a bucket the public deck instance can not access.

[2019-11-24 04:45] BenTheElder commented on #9363
I'm pretty over capacity and don't remember what we wanted here.

It's entirely reasonable imo to have different sets of jobs per release.
The config forker pretty much ensures that at each release we copy over jobs from master to that release.

[2019-11-24 04:49] justaugustus commented on #9363
/assign
I was the last to touch config-forker, so I'll try and close the loop on this.

[2019-11-24 18:41] #9582 closed

[2019-11-25 09:53] alenkacz commented on #14150
@justaugustus I think this got fixed for 1.17. Can we close this?

[2019-11-25 16:27] stevekuznetsov opened #15382 "boskos: ranch: do not log when no remaining resources exist"
Today, `boskos` logs this:

[code]

That is not a useful message since it's totally normal for this to happen in daily operations and the clients will re-try if configured to do so. This is not an error.

/area boskos

[2019-11-25 17:11] jonico commented on #14130
@alvaroaleman:  As a GitHub staff member I can confirm: A GitHub UI repository URL on GitHub Enterprise Server is always the same URL as the http(s) clone URL, no matter how GitHub Enterprise Server is configured.

[2019-11-25 17:14] stevekuznetsov opened #15385 "prow: all components think their name is "image""
As of https://github.com/kubernetes/test-infra/pull/15320 all components think their name is `"image"` as that's what every component tells `prow_image` it is called:

https://github.com/kubernetes/test-infra/blob/c5d343529cab6e28abfeed56d1bd4839e442e597/prow/def.bzl#L28

Why does this happen today? Why is every image called `"image"`? How do application binaries inside of the container get their

[2019-11-25 17:14] stevekuznetsov commented on #15385
/assign

[2019-11-25 17:53] cblecker commented on #8386
/remove-lifecycle stale

[2019-11-25 17:53] cblecker commented on #6289
/remove-lifecycle stale

[2019-11-25 17:57] spiffxp commented on #13879
/remove-lifecycle stale

Unclear whether the community is getting any value out of this. One issue I have from a maintenance perspective is the list of jobs is hardcoded in the dashboard. Would prefer to have an endpoint we could hit to get back a list of values, specicially testgrid testgroup names by dashboard_tab.

[2019-11-25 18:04] #13200 closed

[2019-11-25 18:19] mikesplain commented on #11260
Great work on this @sbueringer and all, I was taking a look at your proposal and would be more than happy to help out.  I was wondering what the state of your prototype (https://github.com/sbueringer/test-infra/tree/c445) as I get a number of errors when attempting to build with bazel?  Let me know if theres anything I can help with!

[2019-11-25 19:48] spiffxp commented on #13879
Added http://velodrome.k8s.io/dashboard/db/job-health-release-informing
Updated http://velodrome.k8s.io/dashboard/db/job-health-release-blocking

[2019-11-25 20:55] michelle192837 commented on #13830
/kind oncall-hotlist

[2019-11-25 22:16] michelle192837 commented on #13830
Seen also in #15225 and #15003.

[2019-11-25 22:25] michelle192837 commented on #13830
This is popping up in multiple places and appears a couple times an hour in K8s Prow logs. Filed an issue with GitHub.

[2019-11-26 04:07] Ark-kun commented on #7254
/reopen

I just hist that in https://github.com/kubeflow/pipelines/pull/2646
Tide's PR status says "Good to be merged" https://prow.k8s.io/pr?query=is%3Apr+repo%3Akubeflow%2Fpipelines+author%3AArk-kun+head%3ASDK---Client---Fixed-Client-on-Windows---2
GitHub's Tide status is "Pending — Not mergeable." https://github.com/kubeflow/pipelines/pull/2646
Tide status has nothing for the repo. https://prow

[2019-11-26 04:10] Ark-kun opened #15402 "Tide on GitHub=="not mergeable"; Tide's PR status=="Good to be merged""
My PR which is "Good to be merged" is not getting merged for many hours. Looks like Tide forgot about it.

Probably related to https://github.com/kubernetes/test-infra/issues/7254

Tide's PR status says "Good to be merged" https://prow.k8s.io/pr?query=is%3Apr+repo%3Akubeflow%2Fpipelines+author%3AArk-kun+head%3ASDK---Client---Fixed-Client-on-Windows---2

GitHub's Tide status is "Pending — Not merge

[2019-11-26 04:15] stevekuznetsov commented on #15402
Judging by the [`tide` history](https://prow.k8s.io/tide-history?repo=kubeflow%2Fpipelines&branch=master) something is misconfigured in your branch protection:

[code]

[2019-11-26 04:20] stevekuznetsov commented on #13830
IF this is the verify-owners plugin checking out the PR to validate the contents, and the PR author is quickly force-pushing, that sort of thing is expected. There is also a rare race where GitHub takes much longer to make a commit available via `git` than it does via the API

[2019-11-26 04:23] stevekuznetsov commented on #13879
FYI @spiffxp if you wanted to do this using Prometheus metrics coming from Prow, we now support ProwJob labels and annotations on the state transition metrics, so you can do a query for, say, the success rate for ProwJobs with a specific annotation that may also be used to generate TestGrid dashboards.

[2019-11-26 04:32] cjwagner commented on #15402
ref: https://github.com/kubeflow/pipelines/issues/930, https://github.com/kubeflow/pipelines/issues/1653
"tide" should not be a required status check. The Travis CI GitHub check issue is being actively worked on now.
For now if this happens please `/hold` the PR and reference one of the tracking issues.

[2019-11-26 04:45] AlienResidents opened #15404 "Linting the prowjob CRD w/yamllint causes validation failures for push events"
**What happened**:
I ran `yamllint` against `test-infra/prow/cluster/prowjob_customresourcedefinition.yaml`.
Then ran `kubectl apply -f <file>`.
Then my prowjobs started failing with CRD validation errors for status.state on push events.

**What you expected to happen**:
I expected the CRD validation to work with a linted CRD.

**How to reproduce it (as minimally and precisely as possible)**:
Remo

[2019-11-26 05:04] Bobgy commented on #15402
I don't quite follow. If "tide" is not required, how do we guard against people merging PRs without lgtm and approval labels.
Please correct me if I missed something, my understanding is:
[code]
[code]
These two errors are irrelevant. Current symptom is that tide status check is not synced on kubeflow/pipelines repo, therefore merges are blocked. For example: https://github.com/kubeflow/pipelines/

[2019-11-26 11:42] sbueringer commented on #11260
@mikesplain the current state is that we're running it internally with s3 since a few weeks. Not sure about the bazel errors. I'm currently on vacation, but when there's enough support to get this reviewed, I would start opening first PRs early in January (afaik I proposed a few PRs in the doc). If you want to start opening PRs be my guest 😀

[2019-11-26 13:18] RobertKielty commented on #15404
Hi @AlienResidents

FYI when I run checkconfig on the head of master on prow/cluster/prowjob_customresourcedefinition.yaml I get the following warning ..

[code]

[2019-11-26 13:27] RobertKielty commented on #15404
Can you change  prow/cluster/prowjob_customresourcedefinition.yaml

`apiVersion: apiextensions.k8s.io/v1beta1  `

to

`apiVersion: apiextensions.k8s.io/v1`

And see if that helps?

Ref:
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

[2019-11-26 13:36] RobertKielty commented on #15404
Actually, bumping the version does not resolve the checkconfig warning.

[code]

Hopefully this will be useful info for someone on test-infra if they get a chance to look at this.

Rob

[2019-11-26 15:58] jingzhang36 commented on #15402
I ran into the same issue on kubeflow/pipelines repo. https://github.com/kubeflow/pipelines/pull/2620 should

[2019-11-26 16:22] stevekuznetsov commented on #15402
In general we do not suggest that contributors have the ability to merge using the GitHub UI _unless_ it is expected that they have the background to circumvent the process. Prow has a set of functionality (like, `/milestone`) that allows users without write access to the repository to be able to use useful GitHub features and be productive. Giving a user the ability to merge on their web UI is no

[2019-11-26 16:23] stevekuznetsov commented on #15404
`checkconfig` is not meant to be run on the `CustomResourceDefinition` -- that tool is for checking the Prow configuration YAML.

[2019-11-26 18:32] Ark-kun commented on #15402
I know that this happens (sorry about that, we're already migrating), but in this case it wasn't the case. All other checks were green.

Also Travis does not prevent Tide from putting PR into the merge pool.

Please look at @jingzhang36 case - kubeflow/pipelines#2620
It's still live. All checks are green other than Tide.

[2019-11-26 18:52] cjwagner commented on #15402
Tide is ignoring that PR because of a missing status context due to a new job requirement:
[code]
New requirement: https://github.com/kubernetes/test-infra/pull/15381

The Tide status context should have updated to reflect the missing requirement after the PR was commented on after the new requirement went into effect. @stevekuznetsov @alvaroaleman  Any idea why that didn't happen?

[2019-11-26 20:49] #15237 closed

[2019-11-26 21:36] Jefftree opened #15414 "Unbound variable JOB_NAME when testing locally (phaino)"
**What happened**:

I'm trying to write a config for a new job and am following the steps described in [Phaino](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/phaino/README.md)

However, when running `bazel run //prow/cmd/phaino -- /tmp/foo` cat , I am receiving the error:

[code]
Where can the variable be defined?

This is my [WIP PR](https://github.com/kubernetes/test-infra/pull/1

[2019-11-26 23:48] RobertKielty commented on #15404
@stevekuznetsov Thanks for letting me know, much appreciated. I deleted my comments so as not to mislead passers-by.

[2019-11-26 23:52] clarketm opened #15415 "Deck: configurable rerun auth"
**What would you like to be added / Why is this needed**:

Today, the `deck` config supports only a  *single* `rerun_auth_config` - one that applies to *all* orgs and repos associated with a particular instance (including `hidden_repos` configured for any *private* deck instances). While the `rerun_auth_config` config can be *overridden* at the job-level, this is a major inconvenience to keep in-s

[2019-11-27 00:28] clarketm commented on #14810
/kind oncall-hotlist

The only thing left is on-call **process**: create a `kubeconfig` file, save it in a secret, and define it (using `--kubeconfig`) on the k8s resources that require it (e.g. `plank`, `sinker`, `deck`).

[2019-11-27 00:58] rmgogogo commented on #15402
I also run into the issue.

[2019-11-27 02:22] Bobgy commented on #15402
@stevekuznetsov thanks for the explanation! I've updated the repo to change tide to non required.

[2019-11-27 02:27] Bobgy commented on #15402
Did I understand it correctly? Root cause is:
1. I added a new test `kubeflow-pipeline-frontend-test`
2. Old PRs didn't run this test
3. So old PRs cannot be merged
4. However, tide should update the new requirement in its context.

For blocked PRs, we can just /retest or /test kubeflow-pipeline-frontend-test should make sure tide is up-to-date.

[2019-11-27 03:11] clarketm commented on #14907
On second though, giving Prow `cluster-admin` access to a cluster seems reasonable. If we ever want to limit permission scope in the future, this should be a trivial addition to [gencred](https://github.com/kubernetes/test-infra/tree/7c81655467ec2d13b914f3a837f19d1e68038df9/gencred); either by using a command-line flag or function argument.

[2019-11-27 03:11] #14907 closed

[2019-11-27 03:55] clarketm commented on #13164
All migrations are complete!

The one exception from the original list is `gcp_janitor.py`. Since this script is called explicitly from [PY2 code](https://github.com/kubernetes/test-infra/blob/26aa74fc255d6b23de720ced00f536081411a24d/scenarios/kubernetes_janitor.py#L66) and triggered via [PY2 runners](https://github.com/kubernetes/test-infra/blob/26aa74fc255d6b23de720ced00f536081411a24d/config/job

[2019-11-27 03:56] clarketm commented on #13164
/close

[2019-11-27 03:56] #13164 closed

[2019-11-27 04:00] Ark-kun opened #15417 "Test running for a long time with empty log"
Same as https://github.com/kubernetes/test-infra/issues/12636
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2645/kubeflow-pipeline-sample-test/1199518175478157314

[2019-11-27 04:00] Ark-kun commented on #12636
Another instance: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2645/kubeflow-pipeline-sample-test/1199518175478157314

/reopen

[2019-11-27 05:48] michelle192837 commented on #14274
This should be fixed, alerts won't fire for staleness unless `alert_stale_results_hours` is explicitly set.

[2019-11-27 05:48] #14274 closed

[2019-11-27 07:33] alvaroaleman commented on #15402
Well, Tide does know about the new requirement, otherwise the PR would have gotten merged. The `status-reconciler` (if its set up on prow.k8s.io) should create the new job for existing PRs after the new job was added to the configuration. Since the `status-reconciler` is edge-driven thought, that will only happen if it observed the config change.

[2019-11-27 08:11] gyliu513 opened #15420 "How to enable PROW and Travis work together"
Travis now support multi-arch build https://docs.travis-ci.com/user/multi-cpu-architectures/ , this can make sure we can build binaries for different platforms with travis.

The question here does there are any comments or best practise to enable PROW and travis work together so that I can use travis to build multi-arch docker images and also run the CI/CD on Multiple CPU Architectures, any commen

[2019-11-27 08:31] eddycharly opened #15421 "Trigger job on branch deletion and/or pr termination ?"
Is it possible to trigger a job when a branch is deleted or a pull request is terminated (closed or merged) ?

That would be useful to cleanup resources that could have been created while the pull request was live.

I think github sends the corresponding events but can we configure prow to trigger jobs when these events occur ?

/kind question

[2019-11-27 15:22] ncdc opened #15423 "maintenance-ci-aws-janitor has been failing since November 12"
**What happened**:
https://testgrid.k8s.io/sig-testing-maintenance#ci-aws-janitor has been failing since November 12.

**What you expected to happen**:
No failures.

**How to reproduce it (as minimally and precisely as possible)**:
Look at testgrid 😄

**Please provide links to example occurrences, if any**:
Current failure as of issue creation time: https://prow.k8s.io/view/gcs/kubernetes-jenkins/

[2019-11-27 15:22] ncdc commented on #15423
I'm going to look into this.

/assign
/lifecycle active

cc @detiber @dims @justinsb

[2019-11-27 15:31] ncdc commented on #15423
Here is the tail of the janitor execution output:

[code]

The job is running in image from January from commit 57d0fe238f1aeea000e5cb6e1f5c07aab6af02d6. The call to `res.MarkComplete()` returns 4 for `swept`, and the process exits with code 1 because of this:

https://github.com/kubernetes/test-infra/blob/57d0fe238f1aeea000e5cb6e1f5c07aab6af02d6/maintenance/aws-janitor/main.go#L150-L151

[2019-11-27 15:46] ncdc commented on #15423
It looks like it's failing to delete the same 4 resources every time due to dependency violations:

[code]

[2019-11-27 15:50] zzq889 commented on #15100
I upgrade prow to version `v20191126-731383c55`

and I also update `config.yaml` with `oauth_token_secret`, then I got a lot CrashLoopBackOff

[code]

check these crashed services, I got logs like this

[code]

But I didn't set any clone_uri for this prowjob

So why did this code running into `if len(u.CloneURI) != 0 {` this state?

[2019-11-27 15:50] zzq889 commented on #15100
/reopen

[2019-11-27 15:54] ncdc commented on #15423
Oddly, the ELB `fakearn:elb:us-west-2:768319786644:api-e2e-kops-aws-ha-uswes-l3e4kr` is consistently in the list of swept resources, but there's never an error logged that it couldn't be deleted.

[2019-11-27 16:13] droslean commented on #15100
@zzq889 If you want to use an oauth token you need to add a `clone_uri` to your jobs.

[2019-11-27 16:24] ncdc opened #15427 "AWS janitor failing to clean up certain route53 entries"
**What happened**:
The AWS janitor is categorizing certain route53 entries as unmanaged and not cleaning them up.

**What you expected to happen**:
The janitor should consider these entries managed and clean them up.

**How to reproduce it (as minimally and precisely as possible)**:
Look at the logs from a recent run, such as https://storage.googleapis.com/kubernetes-jenkins/logs/maintenance-ci-aw

[2019-11-27 18:07] cjwagner commented on #15415
Sounds reasonable to me. OWNERS files would be great to use as the source of truth, but that is a bit tricky to implement, and more importantly, not every Prow instance uses OWNERS files to control job config changes. So even if we do end up using OWNERS files for rerun auth we will still want a mechanism like this.
cc @Katharine for thoughts as well

[2019-11-27 18:51] johnmarkwayve opened #15431 "Probable memory leak in prow sidecar"
**What happened**:

Using prow, sidecar containers are being killed semi-consistently (c. 50% of them maybe) by the OOM killer. From the logs, this appears to happen during artifact upload (or possibly soon after, the final logs are all `"Queued for upload"`). To combat this, I gave the sidecar containers a frankly ridiculous 8GiB of memory each (limit and request). The OOM killer is still killing

[2019-11-27 19:41] stevekuznetsov commented on #15431
Interesting. Getting a handle on the size of artifacts would be nice, since the total resident set for the sidecar may contain all artifacts in pathological cases where upload is slow.

[2019-11-27 19:49] stevekuznetsov commented on #15415
Agreed with Cole here. As written your proposal sounds awesome. +1 from me

[2019-11-27 19:53] #13029 closed

[2019-11-27 21:05] fejta opened #15434 "Bootstrap and pod-utils need to set the same metadata testgrid expects"
There's all kind of nonsense right now, between `version`, `revision`, `repo-version`, `repo-commit` and `job-version` in either started.json or finished.json.

We will support two things:
1. Automatically setting this field based on the commit of the primary repo
  * Proposing to make this `repo-commit` in `started.json`
2. The job manually determining this value, which takes precedence over (1)

[2019-11-27 21:39] stevekuznetsov commented on #15420
Prow and the legacy Travis may work together, just as Prow itself can be configured to talk to Kubernetes clusters across architectures and achieve a multi-arch approach as well. Travis using the (beta) GitHub actions API is _not_ yet supported. That deficiency is documented at oauth2: cannot fetch token: Post https://oauth2.googleapis.com/token: net/http: TLS handshake timeout]

[2019-11-27 21:41] stevekuznetsov commented on #15421
Prow does not currently support this type of job triggering logic. I am unsure if it would make sense to add a generic "cleanup" type of job that's triggered like this, but some approaches you may use achieve something similar:

 - issue TTLs for your resources and remove the resources on expiry
 - require a heartbeat for resources from jobs using them and remove the resources if nothing is beatin

[2019-11-27 22:18] stevekuznetsov commented on #12636
This is _still_ a duplicate of https://github.com/kubernetes/test-infra/issues/11631

We _still_ need the report to have the data I expected before and it _still_ needs to be routed to the on-call on Slack. Please follow those instructions next time you see this so that something can actually be done.

/close

[2019-11-27 22:18] #12636 closed

[2019-11-27 22:18] stevekuznetsov commented on #15417
Dupe of https://github.com/kubernetes/test-infra/issues/11631
/close

[2019-11-27 22:18] #15417 closed

[2019-11-27 22:22] Ark-kun commented on #11631
Another instance: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2645/kubeflow-pipeline-sample-test/1199518175478157314

[2019-11-27 22:24] stevekuznetsov commented on #11631
In the same way that your last report was not an instance of this bug, this one is not, either. The job failed and was reported as failed, so the pod is not stuck. This is a symptom of a `finished.json` file not being uploaded.

[2019-11-27 22:26] stevekuznetsov commented on #15402
I would look at the `status-reconciler` logs to see what it did as a response to the config changing.

[2019-11-27 22:26] Ark-kun commented on #12636
I see. In October I asked to point me to the issue (as #11631 seemed unrelated) and got no answer: https://github.com/kubernetes/test-infra/issues/12636#issuecomment-542938316

Thank you. I'll try following that procedure (after I find it...)

[2019-11-27 23:35] clarketm commented on #15415
/help cancel
/assign

[2019-11-27 23:36] clarketm commented on #15415
/remove-help

[2019-11-28 02:04] gyliu513 commented on #15420
Thanks @stevekuznetsov for the active response! So you mean that I can set up a **mixed** Kubernetes cluster which including x86, POWER, and Z CPU Architecture platforms, and config PROW use different  architectures to build? If so, does there are any document for the configuration?

[2019-11-28 07:23] michelle192837 commented on #13371
/remove-lifecycle-stale

[2019-11-28 07:28] michelle192837 commented on #11957
I believe this is fixed now, and automatically bumps when we do the Prow bump. (Reopen if I'm wrong :P )

[2019-11-28 07:28] #11957 closed

[2019-11-28 08:17] gyliu513 commented on #15420
FYI @morvencao @clyang82

[2019-11-28 08:56] johnmarkwayve commented on #15431
Total size of artifacts is consistently <10MiB

[2019-11-28 10:20] justaugustus commented on #9363
/milestone v1.18
/area release-eng

[2019-11-28 10:30] justaugustus commented on #13886
/milestone v1.18

[2019-11-28 16:43] eddycharly commented on #15421
The use case is not really a cleanup of dangling resources.

Currently we deploy some branches to be tested by the business team so they can test the feature as it is developed.

Basically the preview environment has the same lifecycle as the branch, that's why i thought about triggering a job when the pull request is terminated (to tear down the preview environment).

For this reason the ttl is n

[2019-11-28 20:17] #13149 closed

[2019-11-28 22:19] #13211 closed

[2019-11-29 08:15] droslean commented on #15100
/close

[2019-11-29 08:15] #15100 closed

[2019-11-29 12:04] oxddr opened #15440 "Testgrid is slow to pick up finished test"
**What happened**:
Testgrid is slow to pick up finished test. Right now it shows [gce-master-scale-performance](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance) despite it has finished over 1 hour ago. Yesterday similar situation happen to [gce-master-scale-correctness](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness), which up un

[2019-11-30 07:27] klueska commented on #14134
/close

[2019-11-30 07:27] #14134 closed

[2019-12-02 01:22] cblecker commented on #12863
/remove-lifecycle stale

[2019-12-02 15:51] dims commented on #7690
/cc

[2019-12-02 16:51] detiber commented on #15423
Looks like https://github.com/kubernetes/test-infra/pull/15442 is related

[2019-12-02 18:00] rifelpet commented on #15423
This is also causing a [new E2E test I created](https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-aws-vpc-cni) to fail because aws-janitor is not sweeping some resource that has an ENI with `sg-0cd7eafb8dc32e7e8` attached. [I asked in #testing-ops](https://kubernetes.slack.com/archives/C7J9RP96G/p1574777673233000) a while back but didn't get a response. My Route53 cleanup will help but I thi

[2019-12-02 18:03] CecileRobertMichon commented on #13488
cc @chewong

[2019-12-02 18:09] chewong commented on #13488
Addressed by https://github.com/kubernetes/test-infra/pull/15064.

/close

[2019-12-02 18:09] #13488 closed

[2019-12-02 18:34] ncdc commented on #15423
@justinsb are you able to check the CloudTrail logs for why `elb:us-west-2:768319786644:api-e2e-kops-aws-ha-uswes-l3e4kr` isn't getting deleted? Also can you tell what the dependencies are that are keeping the other 3 resources from being deleted?

[2019-12-02 18:34] ncdc commented on #15423
I also wonder if it's worth updating the ci-aws-janitor job to use a newer version of the aws janitor?

[2019-12-02 19:15] detiber commented on #15423
We'll need to if we want to pick up the changes from #15442 once it merges :)

[2019-12-02 19:21] #15427 closed

[2019-12-02 19:40] cjwagner opened #15449 "kubernetes/website specifies branch protection with `protect: false`"
**What happened**:
[code]
**Anything else we need to know?**:
It looks like this was intentionally configured, but I'm not sure why or how it should be resolved. The commit history involves a lot of deprecated fields so it is unclear what the intended behavior is.  TODOs suggest that Erick might know.
/assign @fejta
/area prow/branchprotector
https://github.com/kubernetes/test-infra/blob/3ab85226c

[2019-12-02 20:37] rifelpet commented on #15423
Looking at the [available image tags](https://console.cloud.google.com/gcr/images/k8s-test-infra-aws/GLOBAL/aws-janitor?gcrImageListsize=30) it seems like the image is not build and pushed automatically, so we will need someone to build and push it now that #15442 is merged. Ideally it could happen automatically when there are new commits to `maintenance/aws-janitor` and then open a PR with the jo

[2019-12-02 20:47] detiber commented on #15423
We should be building an image on post-submit albeit with a different repo/tag based on the [bazel config](https://github.com/kubernetes/test-infra/blob/master/boskos/BUILD.bazel#L21) and the [job config](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L178-L204), based on the latest [job run](https://prow.k8s.io/view/gcs/kubernetes-je

[2019-12-02 20:56] rifelpet commented on #15423
Great! Any reasons we shouldn't update the aws-janitor job to use this new image repo/tag? If not I can open a PR momentarily.

[2019-12-02 20:59] detiber commented on #15423
@rifelpet none that I can think of, I was avoiding it up until this point only because I didn't want to inadvertently affect the kops jobs :)

[2019-12-02 21:05] rifelpet commented on #15423
I'll take ownership for any kops issues :)

Opened #15451, we'll see if that takes care of these orphaned resources.

[2019-12-02 21:47] matthyx commented on #7690
@nikhita do you have time to come back to this? Do you want me to have a look?

[2019-12-02 22:50] BenTheElder commented on #14643
This came up again today wrt `pull-kubernetes-integration` flakes but I don't really understand this pipeline and I'm pretty far over capacity.

It seems like we do bigquery quer{y,ies} and then pipe through jq? ... these are fairly gnarly.

[2019-12-02 23:15] stevekuznetsov commented on #15449
So we *should* have reduced the spam from this with #13926 but I'm still seeing it ... a lot. I honestly think we should just remove this log.

Even the "expected" behavior with `protect: false` is confusing ... https://github.com/kubernetes/test-infra/issues/14575

xref https://github.com/openshift/release/issues/6064

[2019-12-02 23:16] stevekuznetsov commented on #14643
Who's an expert on that pipeline?

[2019-12-02 23:19] BenTheElder commented on #14643
Cole is the only person I can remember touching it in the past year or so.

[2019-12-02 23:21] stevekuznetsov commented on #13717
This got fixed.

/close

[2019-12-02 23:21] #13717 closed

[2019-12-02 23:25] stevekuznetsov commented on #15449
Ah ... there is a follow-up: https://github.com/kubernetes/test-infra/pull/15441

[2019-12-02 23:28] stevekuznetsov commented on #13713
/remove-lifecycle rotten
/assign

Annotating cache misses with the paths they missed on is https://github.com/kubernetes/test-infra/pull/15266
Adding user agent labels is https://github.com/kubernetes/test-infra/pull/15320 and https://github.com/kubernetes/test-infra/pull/15260

[2019-12-03 11:35] johnmarkwayve commented on #15431
I've reverted the version of all prow-related images to `v20190702-314fa8f72` and (fingers crossed) the problem appears to have gone away. It is also possible that prow had been deployed with some mis-matched versions between sidecar and some of the other images (hook, deck, etc)

[2019-12-03 14:56] stevekuznetsov commented on #15449
Eh even with that we are seeeing THIS spam

[code]

Yes, only once every 2min but this should be once on startup, or never. Let's remove it? Does it add any value?

[2019-12-03 15:29] rifelpet commented on #15423
Now it seems like the job [isnt even running anymore](https://testgrid.k8s.io/sig-testing-maintenance#ci-aws-janitor). I'm able to pull the new image myself, so it's shouldn't be an auth issue. I asked again in #testing-ops so hopefully we find out soon.

[2019-12-03 18:26] stevekuznetsov commented on #15431
OK. What version were you on that had the leak? I can  try to see what changed between them.

[2019-12-03 19:31] spiffxp commented on #13895
/remove-lifecycle stale
/close
This was fixed by #14067

[2019-12-03 19:31] #13895 closed

[2019-12-03 20:16] rifelpet commented on #15423
It seems like the image built by bazel is specifically for the aws-janitor binary itself and doesn't have any of the log uploading support that the prow job relies on, typically with the "kubekins" image in other jobs:

https://github.com/kubernetes/test-infra/blob/abf99ad67d13e69cbc98ff55749d5f04a393e02c/config/jobs/kubernetes/test-infra/janitors.yaml#L9-L13

The new image is used by a Boskos Dep

[2019-12-03 21:01] drhender commented on #10146
I am also attempting to integrate prow with our internal deployment of Gerrit, but the limitations described in this issue prevent me from doing so.

To be clear, we use internal deployments of K8s and Gerrit-- not something deployed on a public cloud.  Without support for such an environment, Prow (and Argo and Knative and Tilt and a whole host of other "K8s native" CI/CD tooling) is of limited u

[2019-12-03 21:04] detiber commented on #15423
It looks like some of the arguments accepted by bootstrap.py (which is wrapped by both the referenced `runner.sh` and the `runner` script included in the base `gcloud-in-go` image used as a base for the `aws-janitor` image) no longer exist. It would probably be good to update the job to use the [pod utilities](https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md), especially

[2019-12-03 21:17] BenTheElder commented on #10146
@drhender it's worth noting that Prow unlike argo, knative, tilt etc. was originally written out of needs for the kubernetes upstream project to do it's own testing, rather than as a general tool, it was never expected to work in private environments and I think that's reasonable as opposed to knative, which hopefully does!

Now, Prow actually does have limited support for private Gerrit specifica

[2019-12-03 23:35] stevekuznetsov commented on #10146
@drhender so the issue here is about supporting GitHub-like `git` providers like GitLab, IMO. Right now `gerrit` workflows do have support but since `gerrit` provides a _very_ different UI and workflow than the `git`/issue/tracking/whatever solutions like GitLab or GItHub, not every part of Prow is supported on `gerrit`. What issues are you running into?

[2019-12-03 23:49] Katharine opened #15469 "Enable prow to report job failure metadata"
Prow expects jobs to be solely responsible for uploading results. We provide podutils (via `decorate: true`) to help users handle the requirement with little effort, but for podutils to act it needs to a) run in the first place, and also b) not terminate unexpectedly.

In practice, many pods either never start or terminate unexpectedly, either due to pod misconfiguration (e.g. bad secret -> can't

[2019-12-04 00:03] stevekuznetsov commented on #15469
100% Agree. This was the thought behind `artifact-uploader` (in the Prow tree today). IMO we should upload the ProwJob and Pod YAML to GCS and then everyone downstream can digest that whichever way they like :)

[2019-12-04 00:09] Biwwie opened #15470 "prow: introduce multiple hmac token support for hook service (repo specific)"
**What would you like to be added**:
https://github.com/kubernetes/test-infra/blob/master/prow/hook/server.go#L56
- should handle multiple hmac tokens gracefully based on incoming git repo webhook
- should be backwards compatible

**Why is this needed**:
On 12/02/2019 the K8s HMAC token (9ae61abf0fdffaaf8not8a8real8token8l0l3664b) was leaked resulting in a large blast radius impact. The HMAC token

[2019-12-04 00:09] Biwwie commented on #15470
/assign
/cc colew

[2019-12-04 00:10] Biwwie commented on #15470
/cc colew

[2019-12-04 11:44] justaugustus commented on #9925
What's the current status on this?
/milestone v1.18

[2019-12-04 13:31] mikesplain commented on #11260
Thanks @sbueringer!  For those wishing to give this a try, I've gotten it running and plan to start more in depth testing as well.

To fix a few bazel issues, you will likely need to run `hack/update-bazel.sh`.

To save others some time, here are some of the steps I took, I'll writeup something more detailed later (I apologize if this is repetitive or off to those who are more familiar with the te

[2019-12-04 22:16] stevekuznetsov commented on #15470
@Biwwie you wanted @cjwagner :)

[2019-12-04 22:17] jberkus commented on #9363
@BenTheElder @justaugustus

For the 1.16 release, the config-forker did *not* copy from master to the release; it copied a different, template set of tests based on the 1.13 test set.  That may have been fixed since; if it has, that's one solution to this issue.

The core problem was that the config-forker was copying a set of jobs that was based on no SIG-release determined set, but was instead h

[2019-12-04 22:53] stevekuznetsov commented on #13569
Pushgateway has been deprecated, you can now select on the job as you require.

/close

[2019-12-04 22:53] #13569 closed

[2019-12-04 22:55] stevekuznetsov commented on #11260
Excited to see a PR to merge that tree in!

[2019-12-04 23:12] fejta opened #15480 "Deck attempts to update job list before cache starts"
/kind oncall-hotlist
/area prow
/area prow/deck
/assign @alvaroaleman @Katharine @michelle192837

[code]

Can we please cleanup race?

[2019-12-04 23:16] fejta opened #15481 "Gerrit warns about resetting lastSyncFallback on startup"
/area prow
/area prow/gerrit
/assign @amwat @fejta @Katharine
/kind oncall-hotlist

[code]

Perhaps related to https://github.com/kubernetes/test-infra/pull/14815?

I don't really understand why we'd want this to be a warning:
https://github.com/kubernetes/test-infra/blob/c7a125031726b6dc75d090aad74f8ff97e363811/prow/cmd/gerrit/main.go#L114-L131

[2019-12-04 23:34] fejta commented on #15481
Wondering if this is actually a problem with the prow.gflocks.com deployment

[2019-12-04 23:40] amwat commented on #15481
Don't think so. That log should be fine at INFO level.

[2019-12-05 00:03] fejta commented on #15481
Sorry wrong one

[2019-12-05 00:03] fejta commented on #15480
Wondering if this is actually a problem with the prow.gflocks.com deployment

[2019-12-05 00:07] fejta commented on #15480
https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/cluster/cluster.yaml#L522

[2019-12-05 00:07] fejta commented on #15480
/assign @clarketm

[2019-12-05 00:09] fejta commented on #15480
Actually there are new jobs on prow.glocks.com and no subsequent errors after the one at 23:09Z

[2019-12-05 00:09] fejta commented on #15480
So this seems more like a race

[2019-12-05 00:27] clarketm commented on #15480
Yes, I think this is a race between controller-runtime [manager](https://github.com/kubernetes/test-infra/blob/52c2b213500fbc137231c17dd18eb639fcd46f98/prow/cmd/deck/main.go#L534-L538) initialization and the Prow job agent [`update`](https://github.com/kubernetes/test-infra/blob/52c2b213500fbc137231c17dd18eb639fcd46f98/prow/deck/jobs/jobs.go#L202) loop being first triggered.

The error occurs as a

[2019-12-05 06:54] Katharine commented on #15481
I think this should be a warning? I would expect to see this warning once, ever, per deployment. That one time for gflocks should've been weeks ago. If we're seeing it more often, that opens a window to be dropping commands.

(It was originally fatal, which caused outages due to the lack of a proper migration. There's still no proper migration, but throwing it out once was deemed good enough.)

[2019-12-05 07:57] amwat commented on #15481
Yes the int -> map transition should have been resolved after deploying/discarding once.
But now it's just "warning" every time it  successfully initializes from a last sync state.

[2019-12-05 08:00] Katharine commented on #15481
Oh, I misread. Whoops!

Yeah, that should be info. Or debug.

[2019-12-05 17:28] #15480 closed

[2019-12-05 18:15] stevekuznetsov commented on #12799
I'll close this as it has no engagement and the tide merge method label solves the issue mostly.

/close

[2019-12-05 18:15] #12799 closed

[2019-12-05 18:23] fejta opened #15491 "Deck's view handler does not provide sufficient logging to debug"
What is this trying to resolve?
/area prow
/area prow/deck
/kind oncall-hotlist
/assign @Katharine @michelle192837

[code]

[2019-12-05 18:25] fejta opened #15492 "Deck and tide error hourly communicating with each other"
Any idea why this would happen so frequently?

deck:
[code]

tide

[code]

/area prow
/area prow/tide
/area prow/deck
/assign @fejta @Katharine @cjwagner
/kind oncall-hotlist

[2019-12-05 18:29] fejta opened #15493 "tide complains every minute that kubernetes/website has protection turned off"
[code]

[code]

etc
etc
etc
etc

/kind oncall-hotlist
/area prow
/area prow/tide
/assign @adshmh @fejta @cjwagner

Caused by this work: https://github.com/kubernetes/test-infra/pull/15441 (maybe not this specific PR but one of them)

I'd like to make this far less noisy.

[2019-12-05 18:30] fejta commented on #14810
Would be great to make some progress on here, happy to help out during my oncall shift.

[2019-12-05 18:46] fejta opened #15494 "verify-owners allowed adding a non-repo collaborator to helm/charts"
https://github.com/hakman/charts/commits/4bf26601862700c2da25a82a2ee5aa6f7a2c0edf/stable/sematext-agent/OWNERS

/area prow
/area prow/hook
/kind oncall-hotlist

See https://github.com/helm/charts/issues/19410 for more info

Looks like we added this plugin to helm/charts on Oct 2018: https://github.com/kubernetes/test-infra/commit/5c2d099897271a73cfae6d9fd4654adbf76dbcef

This OWNERS file was creat

[2019-12-05 20:33] #15481 closed

[2019-12-05 20:33] stevekuznetsov commented on #13816
This happened again and I was able to get the goroutine dump and blocking profiles

[pprof.app.binary.contentions.delay.001.pb.gz](https://github.com/kubernetes/test-infra/files/3928974/pprof.app.binary.contentions.delay.001.pb.gz)
[pprof.app.binary.goroutine.001.pb.gz](https://github.com/kubernetes/test-infra/files/3928975/pprof.app.binary.goroutine.001.pb.gz)

[2019-12-05 20:35] stevekuznetsov commented on #13816
<details>
<summary>Full goroutine dump</summary>

[code]

</details>

[2019-12-05 20:40] stevekuznetsov commented on #13816
Same as before

[code]

[2019-12-05 20:54] Biwwie commented on #15470
/cc @cjwagner

[2019-12-05 20:54] Biwwie commented on #15470
@stevekuznetsov thanks :)

[2019-12-05 20:54] fejta opened #15499 "ReadJobConfig failing to find an odd ..data_tmp file in tide"
/area prow
/area prow/tide
/assign @fejta @alvaroaleman @cjwagner
/kind oncall-hotlist

[code]

[2019-12-05 20:59] fejta commented on #13816
Cheap fix here will be to use a context with a 5m timeout, rather than just background

https://github.com/kubernetes/test-infra/blob/eb64dfdaf1fb86024ad153b6e4caef7135cd3fdf/prow/tide/history/history.go#L85-L102

[2019-12-05 21:05] stevekuznetsov commented on #13816
https://github.com/kubernetes/test-infra/pull/15500

[2019-12-05 21:07] fejta commented on #13816
Woo!

[2019-12-05 21:07] stevekuznetsov commented on #15499
This smells like a k8s ConfigMap implementation detail ...

[2019-12-05 21:09] stevekuznetsov commented on #15492
Do you run the descheduler or autoscaler on your worker node pool? Could these Pods be bouncing around Nodes?

[2019-12-05 21:14] cjwagner commented on #15499
I've seen similar behavior with mounted k8s secrets. We worked around it successfully (but hackily) with this: https://github.com/kubernetes/test-infra/blob/eb64dfdaf1fb86024ad153b6e4caef7135cd3fdf/prow/clonerefs/run.go#L173-L179

[2019-12-05 21:16] fejta commented on #15492
No

Possible. I checked the pod and didn't see any restarts, but didn't check the deployment.

[2019-12-05 21:19] cjwagner commented on #15492
Duplicate of this issue: https://github.com/kubernetes/test-infra/issues/14520
Alvaro suggested that this might be fixed by k8s version 1.15+ https://github.com/kubernetes/test-infra/issues/14520#issuecomment-536759681

[2019-12-05 21:21] fejta commented on #14520
/kind oncall-hotlist

[2019-12-05 21:21] fejta commented on #15492
/close

[2019-12-05 21:21] #15492 closed

[2019-12-05 21:32] stevekuznetsov commented on #15493
Dupe of https://github.com/kubernetes/test-infra/issues/15449

/close

[2019-12-05 21:32] #15493 closed

[2019-12-05 21:33] stevekuznetsov commented on #15449
@fejta so there is an order of magnitude less spam but still way too much. We should either 1) remove the warning or 2) use something like `sync.Once` to _literally_ warn once per process starton this

[2019-12-05 21:47] fejta commented on #15449
Problem is that the error message changed slightly which means it started showing up in our stackdriver logs again :)

[2019-12-05 21:48] fejta commented on #15449
I updated our link to exclude these messages

[2019-12-05 22:00] fejta opened #15502 "Every component prints out a plank.allow_cancellations deprecation message every 10 minutes"
We're deprecating this option. Therefore we should only display a warning if they define a policy.

We should not force them to start setting it to true.

ref https://github.com/kubernetes/test-infra/pull/15150

/assign @fejta @alvaroaleman
/kind oncall-hotlist

[2019-12-05 22:00] fejta commented on #15502
![allow_cancel](https://user-images.githubusercontent.com/940341/70277634-9bbac380-1767-11ea-9cc4-f00a5d6cbd5f.png)

[2019-12-05 22:12] fejta commented on #14718
Any progress here?

[2019-12-05 22:12] fejta commented on #14107
Katharine I assume this has been fixed?

[2019-12-05 22:14] fejta commented on #14944
/assign @fejta @Katharine @clarketm

Want to try and flip this over this week?

[2019-12-05 22:14] fejta commented on #15294
/close
Resolved, thanks Michelle

[2019-12-05 22:14] #15294 closed

[2019-12-05 22:14] fejta commented on #13232
/remove-kind oncall-hotlist

[2019-12-05 22:18] fejta commented on #15102
Have we seen this lately? Why can't we keep this closed?

[2019-12-05 22:18] fejta commented on #15102
/close

[2019-12-05 22:18] #15102 closed

[2019-12-05 22:26] nan-yu opened #15504 "kubetest: Unable to connect to the server due to connection timeout after some amount of time"
**What happened**:

I used `kubetest` to setup a cluster on GCE and run e2e test against the cluster. It was running okay initially. I can use `kubectl` to list all resources. After about 20 minutes or so, I was not able to connect to the server.
[code]
The apiserver log on the master looks okay to me.

**What you expected to happen**:

I should be able to connect to the server again using `kubect

[2019-12-05 22:57] fejta commented on #13903
Have some work on this, but I got stuck trying to choose the best way to scope down the change

[2019-12-05 23:01] fejta commented on #15402
/area prow
/area prow/tide
/assign @stevekuznetsov @cjwagner

Do we need this on the oncall-hotlist? It looks like this is largely a configuration/user error, right? Not a prow outage/regression.

[2019-12-05 23:01] fejta commented on #13830
Might be related to the commit referring to the tag and not the head.

[2019-12-06 01:10] cjwagner commented on #15205
Similarly `config-bootstrapper`'s dry-run mode is broken. The config-boostrapper has no use for a deck-url so it should not be a flag, yet alone a required one. This probably applies to most of our components.
[code]

[2019-12-06 01:23] cjwagner commented on #15402
The immediate problem has been worked around, but we haven't debugged why Tide's status controller or the status-reconciler didn't work as expected which could be a regression.

[2019-12-06 01:35] Ark-kun commented on #15402
@cjwagner @fejta
I have another instance of PR with similar symptoms (but this time, this has nothing to with added presubmit tests).

GitHub: https://github.com/kubeflow/pipelines/pull/2688
Some checks haven’t completed yet
3 expected, 1 pending, and 3 successful checks
* kubeflow-pipeline-e2e-test Expected — Waiting for status to be reported
* kubeflow-pipeline-frontend-test Expected — Waiting f

[2019-12-06 03:31] clarketm commented on #15102
Yes, ~30% Istio/proxy jobs fail in this way until I updated the kubelet configuration in VMs manually as described above (or until the node was able to cache the image). While this is still a problem it is not a "k8s/test-infra" (or on-call) problem anymore.

[2019-12-06 05:33] fejta commented on #15402
The kubeflow jobs are migrating to prow.gflocks.com. Has that finished? Any chance it's related?

[2019-12-06 09:06] alvaroaleman opened #15509 "Deck PR history: NPD when using inrepoconfig"
**What happened**:

[code]

**What you expected to happen**:

No panics :)

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/area prow
/kind bug

[2019-12-06 14:59] liggitt commented on #7690
we also would use this to assign targeted reviewers/approvers for CHANGELOG*.md files in the repo root

[2019-12-06 16:18] alvaroaleman commented on #15502
We don't, but changing the default is a backward-incompatible change and I do not want to do that without a grace period. During that grace period the warning is shown if the setting is not explicitly set to `true`.

[2019-12-06 17:19] fejta commented on #15502
Showing thousands of warnings about a default changing is bad behavior

[2019-12-06 18:33] tpepper opened #15514 "sig-release-1.14-blocking#bazel-test-1.14 failing"
**What happened**:
https://testgrid.k8s.io/sig-release-1.14-blocking#bazel-test-1.14 started failing consistently with no k/k release-1.14 branch changes, but test-infra has changed: 7e847bca3..22a361b01.

**What you expected to happen**:
Passing k/k branch release blocking tests should continue passing for the duration of the branch's community support.  We have one final 1.14 branch release to m

[2019-12-06 18:33] tpepper commented on #15514
/priority critical-urgent
as we'd like testgrid green for next week's final 1.14 release.

[2019-12-06 18:33] tpepper commented on #15514
/assign @fejta
as current on-call

[2019-12-06 18:34] tpepper commented on #15514
/area release-eng

[2019-12-06 18:45] justaugustus commented on #15514
@kubernetes/patch-release-team for visibility.

[2019-12-06 19:09] stevekuznetsov commented on #15402
@Ark-kun that looks like you have jobs still configured in the branch protection for the branch but they are not configured in Prow and have not been triggered.

[2019-12-06 19:21] stevekuznetsov commented on #13706
So are we expecting `sinker` to only handle ProwJob CRs after this

[2019-12-06 19:33] fejta commented on #15514
Here are the test-infra diffs:
https://github.com/kubernetes/test-infra/compare/7e847bca3...22a361b01

This included updating some images:
https://github.com/kubernetes/test-infra/pull/15482#issuecomment-562312755

[2019-12-06 19:48] fejta commented on #15514
Does not repro outside a container on my workstation:
[code]

[2019-12-06 19:51] fejta commented on #15514
Let's try phaino

[2019-12-06 20:25] #12508 closed

[2019-12-06 20:25] #11555 closed

[2019-12-06 20:25] #10369 closed

[2019-12-06 20:27] fejta commented on #15514
The following docker command repoduces this failure:

[code]

[2019-12-06 20:34] spiffxp commented on #10369
I put together the following dashboards for some of the tests the community uses for kubernetes/kubernetes (ref: https://github.com/kubernetes/test-infra/issues/13879)
- http://velodrome.k8s.io/dashboard/db/job-health-merge-blocking?orgId=1
- http://velodrome.k8s.io/dashboard/db/job-health-release-blocking?orgId=1
- http://velodrome.k8s.io/dashboard/db/job-health-release-informing?orgId=1

It does

[2019-12-06 21:26] #8536 closed

[2019-12-06 22:01] fejta commented on #15514
The image doesn't seem configured right in order to pass this test:

[code]

Given that root can create files even when chmod is zero for the dir, this test should fail:

https://github.com/kubernetes/kubernetes/blob/aaf4133401bbef502d251e9edbb2a0ff3498f7a6/third_party/forked/etcd221/pkg/fileutil/fileutil_test.go#L37-39

https://github.com/kubernetes/kubernetes/blob/release-1.14/third_party/forked

[2019-12-06 22:30] fejta opened #15517 "Migrate to slack_reporter_configs from slack_reporter"
/assign
/kind oncall-hotlist
/area prow
/area prow/crier

[code]

[2019-12-06 22:50] dims opened #15518 "Better highlight PRs that need root owners approval - new label?"
Currently there is no way for someone in root OWNERS to search for / find things that need their attention. In [owners.go](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/approve/approvers/owners.go) when we list various OWNERS files that someone has to get approval from, can we throw in a new label (say `needs-root-attention` or `needs-root-approval` or something) so these are e

[2019-12-06 22:51] dims commented on #15518
/sig contributor-experience

[2019-12-07 00:07] #15517 closed

[2019-12-07 01:53] #15518 closed

[2019-12-07 21:34] alvaroaleman commented on #15502
Fixed by https://github.com/kubernetes/test-infra/pull/15522
/close

[2019-12-07 21:34] #15502 closed

[2019-12-07 21:35] alvaroaleman commented on #13706
Yes

[2019-12-07 23:08] alvaroaleman commented on #14626
This was done in https://github.com/kubernetes/test-infra/pull/15022
/close

[2019-12-07 23:08] #14626 closed

[2019-12-08 04:33] Colstuwjx opened #15527 "Shall we add permission limit for subproject"
Hi team,

We have some [subprojects](https://github.com/kubernetes/community/blob/master/governance.md#subprojects) from our community, and sometimes the PR approver and reviewer for the subprojects is distinct with the main project, for example, our website docs owner is inside [OWNERS.md](https://github.com/kubernetes/website/blob/master/OWNERS) of the website root, and content/en has its own [O

[2019-12-08 12:41] alvaroaleman commented on #12752
/reopen
/remove-lifecycle-rotten

[2019-12-08 12:42] alvaroaleman commented on #12752
/remove-lifecycle rotten

[2019-12-08 12:46] alvaroaleman commented on #15527
I believe this can be achieved already by setting `no_parent_owners: true` in the subprojects OWNERS file, ref: https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md

[2019-12-08 13:54] Colstuwjx commented on #15527
Awesome！

[2019-12-08 13:54] #15527 closed

[2019-12-08 21:13] #13341 closed

[2019-12-09 01:21] justaugustus commented on #13827
/remove-lifecycle rotten
/lifecycle frozen
@kubernetes/sig-testing

[2019-12-09 01:52] justaugustus commented on #9679
Looks like this is still true:
- https://github.com/kubernetes/test-infra/blob/dc70aede1650507b99c05146163343b1d4914d93/config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-upgrade-downgrade.yaml#L198
- https://github.com/kubernetes/test-infra/blob/dc70aede1650507b99c05146163343b1d4914d93/config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-upgrade-downgrade.yaml#L229
- https://github.co

[2019-12-09 01:53] justaugustus commented on #9679
/remove-priority important-soon
/priority critical-urgent

[2019-12-09 01:55] justaugustus commented on #9378
/remove-lifecycle rotten
/milestone v1.18

[2019-12-09 02:52] justaugustus commented on #15514
Ummmm... it's working again?
Did anything change?

[2019-12-09 02:58] justaugustus commented on #11977
Hopping on this since I've done recent-ish work to spruce these boards up:
- Create `sig-release-job-config-errors` dashboard: https://github.com/kubernetes/test-infra/pull/15023
- Signal potentially misconfigured jobs and delete sig-release-x.y-all dashboards: https://github.com/kubernetes/test-infra/pull/15039
- sig-release: Rearrange dash configs and prune some jobs from sig-release-job-config-

[2019-12-09 03:27] justaugustus commented on #13883
Did away with the `-all` boards here: https://github.com/kubernetes/test-infra/pull/15039
/remove-lifecycle stale
/close

[2019-12-09 03:27] #13883 closed

[2019-12-09 03:28] justaugustus commented on #13883
/assign

[2019-12-09 06:54] johngmyers opened #15530 "Confusing deprecation message on Prow job viewer"
**What happened**:

Followed "Details" link from a Github check to the Prow job viewer. Read message at top of page "The old job viewer has been deprecated. If you need it, please contact #sig-testing on Slack." Took the implication that the page currently being viewed was deprecated and filed issue to update the Github check's link target.

**What you expected to happen**:

Page to not have misle

[2019-12-09 08:07] maciaszczykm commented on #14242
/remove-lifecycle stale

[2019-12-09 09:14] oxddr commented on #12940
/remove-lifecycle stale

[2019-12-09 09:15] oxddr commented on #13764
/close

[2019-12-09 09:15] #13764 closed

[2019-12-09 11:29] nikhita commented on #13994
/remove-lifecycle stale
xref https://github.com/kubernetes/test-infra/issues/7690

[2019-12-09 19:37] fejta opened #15532 "Prometheus crashlooping"
[code]

/kind oncall-hotlist

[2019-12-09 19:40] fejta commented on #15532
/assign @cjwagner @stevekuznetsov

[code]

[2019-12-09 19:43] fejta commented on #15532
There's quite a lot of magic here

[2019-12-09 19:44] cjwagner commented on #15532
@fejta Was this deployed? https://github.com/kubernetes/test-infra/pull/15503#discussion_r354575952

[2019-12-09 19:45] fejta commented on #15532
No, I wasn't involved with merging that PR

[2019-12-09 21:58] fejta commented on #15532
https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1 loads again

Some amount of something or another did it. Maybe it was merging #15537 and then waiting sufficiently long for the operator to do its thing?

[2019-12-09 22:48] stevekuznetsov commented on #15532
I think it was waiting, yes

[2019-12-09 22:53] michelle192837 commented on #14388
This might just be when a base_link isn't populated for whatever reason? Can't reproduce atm and it doesn't seem to happen often, so closing for now.

[2019-12-09 22:53] #14388 closed

[2019-12-09 23:08] cjwagner commented on #15532
/close

[2019-12-09 23:08] #15532 closed

[2019-12-09 23:55] #15509 closed

[2019-12-10 00:45] fejta commented on #15491
Still see this

[2019-12-10 00:46] fejta commented on #14810
/assign @fejta @clarketm

Do we have a tool to create the kubeconfig file? (convert the existing one?)

[2019-12-10 00:48] fejta commented on #15499
Can we drop this to info? Or warning?

https://github.com/kubernetes/test-infra/blob/72f6a6d49dbbee611fd4d564743fb98b5b65bcba/prow/config/config.go#L698-L702

[2019-12-10 00:48] michelle192837 commented on #15491
Oh interesting. I can take a look at this.

[2019-12-10 00:48] fejta commented on #14944
Bueller?

[2019-12-10 01:08] clarketm commented on #14810
Yes, that is [`gencred`](https://github.com/kubernetes/test-infra/tree/master/gencred). Its usage has been added to the Prow getting started guide https://github.com/kubernetes/test-infra/pull/15285.

[2019-12-10 01:40] #11249 closed

[2019-12-10 01:48] fejta commented on #14810
/unassign @clarketm
I'll give it a go then, thanks!

[2019-12-10 13:57] alvaroaleman commented on #12216
Note for future passersby or probably just myself: With an index on successful+pending batches by refs plus a check prior to creation if we have something in there for the given refs, this should be not too hard to implement.

[2019-12-10 15:56] mdhamale opened #15552 "Prow issue:dns. Nameserver limits were exceeded, some nameservers have been omitted, the applied nameserver line is: 8.8.8.8 8.8.4.4"
dns.go:135] Nameserver limits were exceeded, some nameservers have been omitted, the applied nameserver line is: 8.8.8.8 8.8.4.4

[2019-12-10 21:23] stevekuznetsov opened #15557 "boskos: ranch: /acquire /update /reset and /release median response time is ~90 seconds"
![boskos-server-dashboard](https://user-images.githubusercontent.com/7328370/70570028-f5e4cb80-1b4f-11ea-9e5a-45fe3082a026.png)

/area boskos
/cc @krzyzacy @sebastienvas

[2019-12-10 21:35] stevekuznetsov commented on #15557
[code]

I am having trouble finding logs that correspond with this behavior, makes me think it's something more pathological.

[2019-12-10 21:39] stevekuznetsov commented on #15557
No, looks like a bona fide slowness:

[code]

[2019-12-10 21:40] stevekuznetsov commented on #15557
That means this has to be a slowdown in `ranch.Acquire()` or `json.Marshal()` as those are the only calls between those logs. I'd imagine it's the former.

[2019-12-10 21:53] rifelpet commented on #15423
I'm hoping we can get #15475 merged soon to get these resources cleaned up and to avoid reoccurring git conflicts from the image updating PRs.

[2019-12-10 22:00] #7814 closed

[2019-12-10 22:00] #9208 closed

[2019-12-10 22:28] sebastienvas commented on #15557
How many resources do you have ? are you using the latest version of boskos ?
@ixdy

[2019-12-10 22:34] BenTheElder commented on #13827
This directory is for experiments. There has been no guiding light to this other than acknowleding that code in this directory need not meet the full requirements that the rest of the repo might with regards to what code we host and the code review """standards""".

Feel free to propose guidelines for this, but imo we just need a file that says something like
[code]

If I had to guess, this came a

[2019-12-10 22:36] sebastienvas commented on #15557
I am asking because a while back there was an issue when updating resources. We were updating all the resources every 10 minutes. Now we just add or delete when there is a config change. Because we lock all resources in Acquire, you might still notice this if you have a lot of resources, and a lot of users.As you know the locking mechanism does not scale, and might need some rework.

[2019-12-10 22:49] stevekuznetsov commented on #15557
We are running `v20191209-15bc10984` and have ~4000 resources:

[code]

[2019-12-10 22:56] stevekuznetsov commented on #15557
![Screenshot from 2019-12-10 14-55-03](https://user-images.githubusercontent.com/7328370/70576167-110a0800-1b5d-11ea-9cc6-69d5f371aaa9.png)

Average APIServer request latency for a boskos resource is ~0.05s. So if we're seeing 90+ seconds on a boskos client call, that would be ~2000 calls from `ranch` to the API per call from a lease client to `ranch`? That seems wild. We definitely don't have 200

[2019-12-10 22:58] sebastienvas commented on #15557
Maybe tweak your janitors and other boskos components to retry at bigger intervals ?

[2019-12-10 22:59] stevekuznetsov commented on #15557
The `boskos` request throughput is capped at one request every ~2.5 minutes ... is there some internal rate limiting going on?

[2019-12-10 23:00] stevekuznetsov commented on #15557
![Screenshot from 2019-12-10 14-58-48](https://user-images.githubusercontent.com/7328370/70576435-bd4bee80-1b5d-11ea-802b-06959afd265e.png)

[2019-12-10 23:00] stevekuznetsov commented on #15557
That's about one request every 20s

[2019-12-10 23:01] spiffxp commented on #13827
The original ask that motivated this is now answered in https://github.com/kubernetes/test-infra/tree/master/config/jobs#generated-jobs

I opened https://github.com/kubernetes/test-infra/pull/15560 with something based off of @BenTheElder's comment

[2019-12-10 23:35] spiffxp commented on #13827
/close

[2019-12-10 23:35] #13827 closed

[2019-12-11 13:16] neolit123 commented on #13032
/close
moving kubeadm out instead.

[2019-12-11 13:16] #13032 closed

[2019-12-11 14:36] saschagrunert opened #15568 "Store artifacts in Persistent Volume (Claim) via plank"
**What would you like to be added**:

It would be good to use the build artifact collector without a GCS bucket to have a better experience on bare-metal clusters. I could imagine that a simple PVC could be used as artifact storage as well, WDYT?

**Why is this needed**:

I don't have a GCS bucket right now and I'm not sure if there is a way around this.

[2019-12-11 14:41] saschagrunert opened #15569 "New GCS bucket for CRI-O tests"
**What would you like to be added**:

I'd like to request a GCS bucket for running CRI-O (https://github.com/cri-o/cri-o) tests. We would run them in the first place inside the community cluster (packet.com) based on our self-deployed infrastructure. Afterwards we consider bringing them into Kubernetes, when stable over a certain amount of time.

**Why is this needed**:

It looks like that we have

[2019-12-11 14:55] dims commented on #15569
request goes to kubernetes/k8s.io please see recent PRs that created buckets for pushing test results

[2019-12-11 15:45] hongkailiu opened #15570 "[bootstrapper]Missing files in configmap"
The config is
https://github.com/openshift/release/blob/5f828a8cc83715e19249f248f2be16b2f9dca5d3/core-services/prow/02_config/_plugins.yaml

When we have multi-file patterns for a configMap, `bootstrapper` did not pull all files into the configmap.

Example: `ci-operator-misc-configs`

This could be caused by
https://github.com/kubernetes/test-infra/pull/15507

[2019-12-11 16:33] petr-muller commented on #15570
This is the reproducing part of the config:

https://github.com/openshift/release/blob/5f828a8cc83715e19249f248f2be16b2f9dca5d3/core-services/prow/02_config/_plugins.yaml#L310-L320

To trip this bug, the config-updater must be configured to update a single CM with multiple patterns, one of which has `""` as a namespace, and another has an explicit namespace that is at the same time the default Pro

[2019-12-11 17:55] stevekuznetsov commented on #15568
This is related to https://github.com/kubernetes/test-infra/issues/11260

I think supporting a PV as a specific backend of many would be a good approach! That might be more challenging on the read side of things when `deck` needs to get the data back out, as you'd need to run a file server to let the other downstream components read it.

[2019-12-11 18:21] saschagrunert commented on #15568
Okay, what about shipping a `ReadWriteMany` PVC, which can be used by deck and plank?

After that, we could also ship another artifact serving component, like a simple web server thingy giving access to the artifacts.

[2019-12-11 19:07] BenTheElder opened #15572 "feature request: do not assign to WIP / DO-NOT-MERGE / draft PRs"
**What would you like to be added**: For blunderbuss to only auto-assign to PRs once they are marked as mergeable.

**Why is this needed**: So PRs can be opened as WIP to allow showing what the PR would look like without actually bothering the eventual reviewers while the PR is being iteratively developed / tested.

It is a frequent pattern in kubernetes/kubernetes to open a WIP / do-not-merge PR

[2019-12-11 19:41] jayaddison commented on #11202
@liggitt @davidz627 Hopefully this is a rare case, and apologies if I'm not reporting this in the ideal place - I wanted to note that another user and myself hit issues after upgrading to `1.17` in https://github.com/kubernetes/kubernetes/issues/86094 which relate to `CSINode` resources and the `CSIMigration` feature gate.

My concern is that other people might experience the same issue, and that

[2019-12-11 20:03] liggitt commented on #11202
@jayaddison looking at that issue, it appears that the root cause was a 1.17 kubelet trying to run against a 1.16 API server. Is that correct?

[2019-12-11 20:05] liggitt commented on #11202
The majority of our CI jobs do not disable that gate, and run successfully.

[2019-12-11 20:34] coryrc commented on #15572
If those keywords are detected, the WIP label could be applied automatically: https://github.com/kubernetes/test-infra/tree/master/prow/plugins/wip

And when the robot sees that label, choose not to add reviewers if there aren't any. When the label is removed, it could add reviewers IFF there aren't any reviewers already.

[2019-12-11 20:45] jayaddison commented on #11202
@liggitt Excellent - yep; I left a note in that issue too, but just for transparency here, it does seem like it was a case where the API server hadn't been upgraded and was still on `1.16` vs a `1.17` kubelet.  Thanks for clarifying re: the partial disable of the flag in `infra-test` too.

[2019-12-11 23:32] stevekuznetsov commented on #15572
@coryrc that is a good idea! One downside is that the `blunderbuss` plugin will get an event on the creation of all PRs, and we handle every event asynchronously for every plugin, so we cannot assume that the WIP label would already have been added by the time that `blunderbuss` was running. I think we would need to factor our code so that `blunderbusss` could also do the checks for draft/WIP itse

[2019-12-11 23:36] #12902 closed

[2019-12-12 00:01] stevekuznetsov commented on #15568
I'm not sure I would personally go for a shared PVC since that would require (I think) all of the `plank` and `deck` replicas to exist on one node, which somewhat nullifies gains from horizontal scaling across zones/fleets. I think a good start would be to write a PVC-backed implementation of the remote write/read functionality as described by @fejta in the other thread.

[2019-12-12 00:54] coryrc commented on #15572
@stevekuznetsov Good approach. I will try coding this unless someone else plans to.
/assign @coryrc

[2019-12-12 05:04] nikhita commented on #15494
This isn't a bug, `helm/charts` explicitly opts into skipping the collaborator check:

https://github.com/kubernetes/test-infra/blob/d6d702584f4cf72e7addbdb442640d054c78cdc3/config/prow/plugins.yaml#L33-L35

https://github.com/kubernetes/test-infra/blob/d6d702584f4cf72e7addbdb442640d054c78cdc3/prow/plugins/verify-owners/verify-owners.go#L124-L129

/remove-kind bug

[2019-12-12 05:07] nikhita commented on #15494
This was added in https://github.com/kubernetes/test-infra/pull/10164. @mattfarina is this something that is still desired for the helm/charts repo?

[2019-12-12 10:49] pierewoj opened #15580 "GCE 1.14-1.16 tests fail to download latest k8s version"
**What happened**:
Multiple 1.14-1.16 tests failing. Scalability ones:
* https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-1.16-scalability-100
* https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-1.15-scalability-100
* https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-1.14-scalability-100

But also other, like:
* https://k8s-testgrid.appspot.com/sig-release-1.15-bl

[2019-12-12 10:50] pierewoj commented on #15580
/priority critical-urgent
/area release-eng

[2019-12-12 11:10] alvaroaleman commented on #15568
Changing all of Prow do support a volume as an object storage implementation is IMHO not a great idea and will only work with rwx volumes anyways which is to my knowledge mostly implemented via nfs and that tends to add challenges on its own.

IMHO this use-case should be satisfied by adding s3 support and then using minio with a pvc as backing store, which would make this a duplicate of #11260. @

[2019-12-12 11:16] alvaroaleman commented on #15568
Also, we need to access object storage from the jobs themselves to upload the artifacts, so the only way to make this work would be to implement our own object storage and that doesn't make sense, since there are existing object storage implementations.

[2019-12-12 16:57] msau42 commented on #13332
/cc
/lifecycle frozen

[2019-12-12 18:07] chewong opened #15584 "Azure: Major cleanup for deployer and testgrid"
**What should be cleaned up or changed**:

Work items:
- [x] Remove duplicated `cloudprovider-azure-cred` labels. Every Azure-related job should use [preset-azure-cred](https://github.com/kubernetes/test-infra/blob/master/config/prow/config.yaml#L585-L609) instead
- [x] Stop using `--aksengine-hyperkube` and use `--aksengine-deploy-custom-k8s` instead (related PR: https://github.com/kubernetes/tes

[2019-12-12 18:13] stevekuznetsov commented on #15568
Yeah, that's what I meant by

If we can use off-the-shelf libraries and front them with the s3 API then I agree this is a dupe.

[2019-12-12 19:04] ixdy commented on #15557
@stevekuznetsov do you have any updated info based on the debugging logs you added?

[2019-12-12 19:11] stevekuznetsov commented on #15557
I needed to [log at `debug`](https://github.com/openshift/release/pull/6357) but I'm not seeing debug-level logs ...

[2019-12-12 22:44] stevekuznetsov commented on #15557
OK, so I gathered logs from 242 acquires given the logging that I added and I can comfortably say that we are not spending time there:

[code]

This was analyzed with the following script:

[code]

[2019-12-12 22:51] cjwagner opened #15588 "Spyglass fails to get prow job from src."
**What happened**:
[code]
If I understand the error message correctly this is a failure to parse the job name from a spyglass 'src' path. The error message doesn't indicate what the requirements are for a valid source path so it is unclear why this was rejected or what is expected. If it is expected for spyglass to receive invalid src paths we should remove this warning.

/assign @Katharine

[2019-12-12 22:54] stevekuznetsov commented on #15557
FWIW the dataset I just analyzed goes from `2019-12-12T20:07:55Z` to `2019-12-12T22:07:33Z` -- here is the corresponding response time histogram

![boskos-server-dashboard2](https://user-images.githubusercontent.com/7328370/70755671-51998b00-1cef-11ea-8fc6-8cd3d10c411c.png)

[2019-12-12 22:55] stevekuznetsov commented on #15557
So this, plus the data that shows our QPS is basically flat-lined the whole day and shows no difference during times of peak use, brings me back to some rogue concurrency limiting code. Does that exist somewhere @sebastienvas @krzyzacy ?

[2019-12-12 23:04] spiffxp commented on #13432
/remove-lifecycle rotten
It's still hiccuping, but alerts are no longer firing as often
![Screen Shot 2019-12-12 at 3 03 38 PM](https://user-images.githubusercontent.com/49258/70756140-996ce200-1cf0-11ea-8e11-30e2aad6cb67.png)

[2019-12-12 23:08] stevekuznetsov commented on #15557
Ah, there is a global lock that serializes every single call. And `boskos` lists all possible resources from the server on every call, without an informer/lister or a cache. That would do it. Why don't we lock more granularly? We could shard locks by resource type and state.

[2019-12-12 23:15] stevekuznetsov commented on #15557
Alternatively we could probably come up with a design that lets `etcd` lock for us

[2019-12-13 12:18] neolit123 commented on #15580
/sig scalability

[2019-12-13 12:19] neolit123 commented on #15580
/remove-kind bug
/kind failing-test

[2019-12-13 12:40] pierewoj commented on #15580
this is not scalaiblity issue, other tests are also faling due to this issue:
https://k8s-testgrid.appspot.com/sig-release-1.15-blocking#Conformance%20-%20GCE%20-%201.15
https://k8s-testgrid.appspot.com/sig-release-1.15-blocking#gce-device-plugin-gpu-1.15
https://k8s-testgrid.appspot.com/sig-release-1.15-blocking#gce-cos-k8sstable2-ingress

/remove-sig scalability
/sig release

[2019-12-13 14:06] alejandrox1 commented on #15580
For added context.. the interesting bit is in here
[code]
took the above from https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/1205457621247594502#1:build-log.txt%3A187

Looking at the current release markers
[code]

[2019-12-13 14:11] alejandrox1 commented on #15580
The commit range in k/k for when tests began to fail doesnt show anything interesting but the test-infra one is here https://github.com/kubernetes/test-infra/compare/cf6fb4d2b...d6d702584

[2019-12-13 14:54] adelina-t opened #15597 "Windows aks-engine based jobs fail."
All Windows aks-engine based jobs are failing. Cluster deployment doesn't get past cse-master extension.

Aks-engine bug here: https://github.com/Azure/aks-engine/issues/2455

Sig-azure jobs are probably affected by same issue.

[2019-12-13 14:55] adelina-t commented on #15597
/kind failing-test

[2019-12-13 14:55] adelina-t commented on #15597
/cc @PatrickLang @ritazh @chewong

[2019-12-13 16:54] stevekuznetsov commented on #15557
In case we needed the data ...

[code]

[2019-12-13 17:29] #13084 closed

[2019-12-13 17:33] spiffxp commented on #15580
https://github.com/kubernetes/kubernetes/issues/86182#issuecomment-565204941

Something changed / went wrong when the latest point releases were cut

/assign @tpepper @justaugustus
Who said they were looking into it

[2019-12-13 19:26] michelle192837 opened #15600 "Transient ghproxy "context deadline exceeded" logged as error"
Seeing errors like:

jsonPayload: {
  cache-key: "https://api.github.com/repos/kubernetes/kubernetes/pulls/86222"
  component: "ghproxy"
  error: "context deadline exceeded"
  file: "ghproxy/ghcache/coalesce.go:125"
  func: "k8s.io/test-infra/ghproxy/ghcache.(*requestCoalescer).RoundTrip.func1"
  level: "error"
  msg: "Error from cache transport layer."
 }

jsonPayload: {
  cache-key: "https://api

[2019-12-13 20:04] justaugustus commented on #15580
Closing to consolidate the conversation on https://github.com/kubernetes/kubernetes/issues/86182.
/close

[2019-12-13 20:04] #15580 closed

[2019-12-13 21:54] michelle192837 commented on #15600
Error from here: https://github.com/kubernetes/test-infra/blob/b0e9f8ba4522c3ce4bb6b102e427a9b1cfafb8ed/ghproxy/ghcache/ghcache.go#L167

Discussed offline with Cole, looks like we want to:
- Downgrade the error log to warning
- And _also_ record metrics for these types of timeouts (which it looks like is not happening atm)

/cc @cjwagner @stevekuznetsov @hongkailiu

[2019-12-14 01:28] michelle192837 commented on #15491
More context for my own sake:

https://github.com/kubernetes/test-infra/blob/29a8ab2e31ed8ac9f27fa627c13228abfe396720/prow/cmd/deck/main.go#L915

So it's erroring when trying to resolve a symlink, specifically a GCS-type key in this case (because it expects 2 parts, i.e. <bucket>/<path>, and gets 0-1).
https://github.com/kubernetes/test-infra/blob/29a8ab2e31ed8ac9f27fa627c13228abfe396720/prow/cmd/

[2019-12-14 01:31] ixdy commented on #15557
ok, so we know that acquiring the resource lock is taking a long time. do we know what's holding it for so long? or is it just too much contention for the lock?

[2019-12-14 01:48] ixdy commented on #15557
maybe we should see if we can replicate this outside of production and try [profiling the locks](https://stackimpact.com/blog/detecting-lock-contention-in-go/).

[2019-12-15 19:54] #12266 closed

[2019-12-16 07:28] morvencao opened #15611 "[prow] GitHub Check Runs API support"
**What happened**:

We're using **prow** and **travis-ci.com** combination in our repo, to make **tide** manage PR auto-merging, we add the following `branch-protection` configuration to `config.yam` to make sure travis jobs success before auto-merging.
[code]

However, the PR is always pending for the reason of `Not mergeable. Job Travis CI - Pull Request has not succeed...`:
![image](https://use

[2019-12-16 07:30] vdemeester commented on #14217
#15022 is merged, this can be closed
/close

[2019-12-16 07:30] #14217 closed

[2019-12-16 07:33] morvencao commented on #15611
@BenTheElder Any insight for this?

[2019-12-16 07:34] morvencao commented on #15611
/assign
/area prow

[2019-12-16 08:31] alvaroaleman commented on #15611
hey @morvencao , thanks for raising the issue. It is a problem we are aware of and I thought we already had an issue for it, but I cant find it :thinking:

I am not sure what the current plan is, as the checkruns api is in developer preview and may `change without advance notice`.

Also, to my knowledge Ben is not currently involved with Prow development anymore so wont know much here. @stevekuzne

[2019-12-16 08:50] morvencao commented on #15611
@alculquicondor Thanks for quick response.  I found a similar issue about the new [DCO](https://github.com/heptiolabs/sign-off-checker) which also moved to `Github check run API`, see: https://github.com/kubernetes/test-infra/issues/9187
Looks like that we need to implement the internal plugin to make this work.

[2019-12-16 09:22] adelina-t commented on #15597
Fixed. Check aks-engine issue for details. Closing this.

/close

[2019-12-16 09:22] #15597 closed

[2019-12-16 13:43] tnozicka commented on #13297
/remove-lifecycle stale

[2019-12-16 15:01] alculquicondor commented on #15611
Unsubscribing as it seems that I was summoned by mistake.

[2019-12-16 15:34] adshmh commented on #15449
Would it be a good solution if tide only generated configuration warnings on startup and on any configuration changes?

Alternatively, would it make sense to move all configuration warnings to some new command and remove all (most?) such warnings from other components?

[2019-12-16 17:19] #14242 closed

[2019-12-16 17:57] spiffxp opened #15618 "metrics-bigquery job failing on job-flakes-config.yaml query"
**What happened**:
https://testgrid.k8s.io/sig-testing-misc#metrics-bigquery started failing 2019-12-12
- First failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/metrics-bigquery/1205303354364792832
- Most recent failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/metrics-bigquery/1206391063112060930

[It appears to be failing on a specific config](https://prow.k8s.io/view/gc

[2019-12-16 17:57] spiffxp commented on #15618
/area metrics
/sig testing

[2019-12-16 17:59] spiffxp commented on #15618
[code]

[2019-12-16 18:05] spiffxp commented on #15618
[code]
culprit data example:
[code]

[2019-12-16 18:28] spiffxp commented on #15618
Possible workaround https://github.com/kubernetes/test-infra/pull/15619

Going to see if I can get rid of bad data first

[2019-12-16 18:49] spiffxp commented on #15618
/assign

bad data will age out, removed hold from pr

[2019-12-17 00:18] feiskyer commented on #15584
/area provider/azure

[2019-12-17 00:33] #15618 closed

[2019-12-17 01:55] justaugustus commented on #15514
Opened this to discuss some more: https://github.com/kubernetes/test-infra/pull/15612

[2019-12-17 01:55] justaugustus commented on #15514
...and:
/assign

[2019-12-17 16:10] #15570 closed

[2019-12-17 16:16] hongkailiu commented on #15570
/close

fixed by https://github.com/kubernetes/test-infra/pull/15575

[2019-12-17 18:10] adrcunha opened #15628 "/label plugin behavior differs slightly from help"
When trying to add  `proposal/x.yy` labels to Knative Prow (https://github.com/knative/test-infra/pull/1594) I noticed a few inconsistencies between the plugin help and its behavior.

1. Additional labels can't be generic

Labels must be added verbatim to `plugins.yaml`, otherwise they won't be recognized. The plugin help text says

Also, when you add a new label (say, `xyz`) the plugin help will

[2019-12-17 18:31] #15491 closed

[2019-12-17 22:38] rifelpet commented on #15423
The job is now passing but the logs show that some resources are still failing to be deleted:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/maintenance-ci-aws-janitor/1207058854198644747

I think the job should fail if any resource deletions fail. I'll try to investigate more, but it would help immensely if we knew what was still using the subnet and security group.

[2019-12-18 04:34] justaugustus opened #15638 "pull-kubernetes-integration jobs should have fork annotations configured"
**What should be cleaned up or changed**:
I noticed on https://github.com/kubernetes/test-infra/pull/15637 that we're manually configuring the `pull-kubernetes-integration` and they look like good candidates to utilize the config-forker annotations instead.

**Provide any links for context**:
https://github.com/kubernetes/test-infra/pull/15637, https://github.com/kubernetes/test-infra/pull/15113,

[2019-12-18 15:26] spiffxp opened #15644 "Some velodrome dashboards are timing out, make velodrome look non-functional"
**What happened**:
Some velodrome dashboards appear to be not working, to the point that the list of dashboards is no longer populated

**What you expected to happen**:
Dashboards to work. If they didn't work, for the list of dashboards to be populated at least.

**How to reproduce it (as minimally and precisely as possible)**:
Dashboards that don't work:
- http://velodrome.k8s.io/dashboard/db/baz

[2019-12-18 15:26] spiffxp commented on #15644
/cc @alejandrox1

[2019-12-18 15:31] spiffxp commented on #15644
bazel -> ???
github-cache -> https://monitoring.prow.k8s.io/d/d72fe8d0400b2912e319b1e95d0ab1b3/github-cache?orgId=1
monitoring -> https://monitoring.prow.k8s.io/d/d69a91f76d8110d3e72885ee5ce8038e/tide-dashboard?orgId=1
boskos -> https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

[2019-12-18 16:21] spiffxp commented on #15644
The dashboards in question are having problems with the prometheus datasource, which is hooked up to velodrome's instance of prometheus

[code]
... which appears to be out of disk space

[2019-12-18 17:01] spiffxp commented on #15644
Restarted prometheus pod, which I doubt will solve this, but has stopped timeouts long enough for me to do something from the admin console in grafana

I've updated the default dashboard for velodrome.k8s.io to be http://velodrome.k8s.io/dashboard/db/job-health-merge-blocking?orgId=1

[2019-12-18 17:19] spiffxp commented on #15644
http://velodrome.k8s.io/dashboard/db/bazel-cache?refresh=1m&orgId=1&from=now-90d&to=now - looks like we stopped gathering data around 2019-11-15

For the other dashboards, I've replaced them with text panels pointing to monitoring.prow.k8s.io

[2019-12-18 17:33] spiffxp commented on #15644
That's as far as I'm taking this for now.  It's likely going to timeout on the bazel dashboard again but the setup doesn't look amenable to volume resizing, and I'm not inclined to try doing potentially-destructive work today unless there's an urgent need for it

[2019-12-18 21:27] chases2 opened #15649 "Boskos is running out of AWS Projects"
**What happened**:
Boskos project usage for AWS projects has been climbing for the past couple of hours, and has run out. See https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

Tests reliant on this resource will be blocked or throttled by waiting on these projects to free up.

**What you expected to happen**:
Using every resource isn't necessarily bad, but should be monitor

[2019-12-18 21:33] detiber commented on #15649
In this specific case, we've been testing changes to the tests and triggering quite a few manual jobs alongside the periodic and post-submit jobs, which has led to account exhaustion.

This is definitely not a "normal" situation, but we do generally run at ~50% utilization of the current AWS accounts that we have allocated currently. It might not hurt to have additional accounts created to add a b

[2019-12-18 22:28] chases2 commented on #15600
/help-wanted

[2019-12-18 22:28] chases2 commented on #15600
/help

[2019-12-18 22:45] ixdy commented on #15557
@stevekuznetsov I'm not exactly sure what your workloads look like, but it seems like `/reset` is very slow, even without any contention. Running in a kind cluster, it took about 38s to reset 100 resources (after acquiring the lock), so that's one place to continue investigation.

[2019-12-18 23:29] michelle192837 commented on #13826
/remove-lifecycle-stale

This is still a good request (though we probably want to move it to the new repo (https://github.com/GoogleCloudPlatform/testgrid)

[2019-12-19 00:06] stevekuznetsov commented on #15557
We've not bumped `boskos` in four days. More data:

[code]

Blocking profile from pprof:

[pprof.app.binary.contentions.delay.002.pb.gz](https://github.com/kubernetes/test-infra/files/3981071/pprof.app.binary.contentions.delay.002.pb.gz)

[2019-12-19 00:14] stevekuznetsov commented on #15557
... And of course there is nothing in that profile since we don't have it on. Turning it on: https://github.com/kubernetes/test-infra/pull/15653

IMO we shouldn't need to lock in `boskos`. The API server will serialize changes to the CRs and we could get away with intelligent retries.

[2019-12-19 00:17] stevekuznetsov commented on #15557
@ixdy here's our `/reset` histogram over the last week --
![boskos-server-dashboard-reset](https://user-images.githubusercontent.com/7328370/71134112-e26ddc00-21b1-11ea-8635-25fa63aa0115.png)

The call does hold the lock, so I'm not sure what you mean by contention, but it's definitely slow.

[2019-12-19 00:19] stevekuznetsov commented on #15557
Given that there's a really clear cyclic pattern based on working hours I'm not really sure we will find anything more interesting than serialization of many requests being slow due to the global lock. I'll try to deploy the new pprof samplers and get a blocking profile, though.

[2019-12-19 00:28] ixdy commented on #15557
By "no contention" I mean nothing else was holding the lock in my simple local deployment; it simply takes a long time to reset each resource one-by-one. I guess this was also mentioned upthread.

If you have a bunch of resources that are getting periodically reaped, I could see that causing some of the delay. Deploying several reapers and janitors locally also killed performance for me (now reque

[2019-12-19 02:43] alejandrox1 commented on #14017
/remove-lifecycle stale
/priority important-soon
/milestone v1.18

this is a quick fix. we should be able to get this fixed soon(ish)

[2019-12-19 02:44] alejandrox1 commented on #14017
/area release-team

[2019-12-19 08:02] alvaroaleman commented on #13370
@howardjohn and everyone else who might be interested: this is now implemented for Presubmits, check out the [docs](https://github.com/kubernetes/test-infra/blob/master/prow/inrepoconfig.md), try it out and let me know if you have any feedback :)

[2019-12-19 08:05] eddycharly commented on #13370
@alvaroaleman is there a plan to support Postsubmits also ?

[2019-12-19 08:14] alvaroaleman opened #15656 "Inrepoconfig: Support postsubmits"
**What would you like to be added**:

The inrepoconfig feature can be used to configure jobs alongside the code in a `.prow.yaml` file and have Prow load them on-demand. Right now this is only implemented for presubmits, it would be nice if we also had it for postsubmits.

**Why is this needed**:

* To avoid drift by versioning the jobs in the same repository as the code
* To have an easely discov

[2019-12-19 08:16] alvaroaleman commented on #13370
I have created a ticket for this: https://github.com/kubernetes/test-infra/issues/15656

I haven't looked much into this but I _think_ it there is no reason why this can't be done. Its a bit of work as all code that uses Postsubmits needs to be touched, but should be easier than presubmits.

[2019-12-19 19:02] stevekuznetsov commented on #15557
![Screenshot from 2019-12-19 11-01-13](https://user-images.githubusercontent.com/7328370/71201500-04696c00-224f-11ea-839e-d87f040a7acb.png)

[pprof.app.binary.contentions.delay.004.pb.gz](https://github.com/kubernetes/test-infra/files/3985211/pprof.app.binary.contentions.delay.004.pb.gz)

[2019-12-19 19:03] stevekuznetsov commented on #15557
![Screenshot from 2019-12-19 11-03-22](https://user-images.githubusercontent.com/7328370/71201584-3aa6eb80-224f-11ea-86d4-46befdc495c0.png)

[2019-12-19 19:05] stevekuznetsov commented on #15557
Nothing super surprising here ... this just reflects our request volumes
![Screenshot from 2019-12-19 11-05-03](https://user-images.githubusercontent.com/7328370/71201708-73df5b80-224f-11ea-8145-92646aca732b.png)

[2019-12-19 19:57] stevekuznetsov commented on #15644
We might also hit issues on monitoring -- we should deploy the proxy cache between grafana and prometheus so that our queries are simple.

[2019-12-19 21:47] chases2 opened #15662 "config-updater needs to use clusters instead of namespaces"
**What happened**:
The logs for `hook`, `deck`, and `status-reconciler` are all very loud about a deprecated format:
[code]

It looks like there was an attempt to move to a new format, but there were issues with it. See https://github.com/kubernetes/test-infra/pull/15632

**What you expected to happen**:
These warnings are crowding out most other warnings. I don't expect this many warnings about t

[2019-12-20 00:33] yt3liu commented on #14432
/remove-lifecycle stale

[2019-12-20 06:04] idealhack commented on #13587
fixed by https://github.com/kubernetes/test-infra/pull/15399

/close

[2019-12-20 06:04] #13587 closed

[2019-12-20 07:53] eddycharly commented on #15656
@alvaroaleman i would love to see this feature added to prow.
Is it ok if i work on implementing it ?

[2019-12-20 08:23] alvaroaleman commented on #15656
Absolutely!

/assign @eddycharly

To give a rough sketch on what has to be done:

* The current `Postsubmits` property in `prow/config/Config` needs to be renamed, e.G. to `PostsubmitsStatic` to indicate that it may not contain all `Postsubmits`
* A new function `GetPostsubmits` analogous to the existing `GetPresubmits` needs to be added
* All code that accesses Postsubmits needs to be changed to

[2019-12-20 08:25] cjwagner commented on #15013
Dup of https://github.com/kubernetes/test-infra/issues/14925
/close

[2019-12-20 08:26] #15013 closed

[2019-12-20 12:25] eddycharly commented on #15656
I'm not in the Kubernetes slack yet, i will join asap.

It doesn't sound too difficult to implement as all the code is already there, you made all the hard work for presubmits.

I am looking at prow config right now, i don't think we want to enable inrepoconfig differently for presubmits and postsubmits so nothing to change in the `InRepoConfig` struct.

The `GetPostsubmits` function should be sim

[2019-12-20 19:58] spiffxp commented on #12510
/close

[2019-12-20 19:58] #12510 closed

[2019-12-20 20:02] spiffxp commented on #14009
/remove-lifecycle rotten
it's still failing on the same jobs, I can't tell at a glance what it is about their junit*.xml files that's invalid

[2019-12-21 00:56] #5231 closed

[2019-12-21 01:57] #12284 closed

[2019-12-21 06:01] #9458 closed

[2019-12-23 08:50] duchuanLX opened #15675 "how check test result"
**What would you like to be added**:
i want know ,when i "make test",how check test res

**Why is this needed**:
Contribute code

[2019-12-23 10:40] alvaroaleman opened #15676 "Allow using inrepoconfig on the prow.k8s.io instance"
**What would you like to be added**:

Make it possible to use the [inrepoconfig](https://github.com/kubernetes/test-infra/blob/master/prow/inrepoconfig.md) feature with the prow.k8s.io instance

**Why is this needed**:

Today, writing presubmit jobs has to major hurdles:
* It is completely not intuitive how to do that
* There is no feedback on job additions/changes if that change just broke it

[2019-12-23 10:54] BenTheElder commented on #15676
- How do we handle regenerating config?
- How do we handle the change in permissions?

Today as an oncall member I can trivially:
- Audit all prowjobs by inspecting the source of truth in test-infra
- File PRs (with approval) to change or remove any prowjob for any sort of misbehavior (due to the OWNERS heirarchy)
- Regenerate the config maps easily when they are broken (with the boostrapper)
- En

[2019-12-23 11:37] alvaroaleman commented on #15676
One option could be to upload the job definition to GCS which would also allow us to easely answer the question "What config was this job run with?" after the prowjob CR is cleaned up.

Maybe make the `approval` plugin approve all PRs that touch `.prow.yaml` from ppl that are approvers in test-infra?

This problem does not exist, as the jobs from `inrepoconfig` are never persisted to a configmap,

[2019-12-23 18:43] spiffxp commented on #11819
/reopen
/remove-lifecycle rotten
We can do this once v1.14 jobs age out

[2019-12-23 19:20] spiffxp opened #15680 "triage data is stale"
**What happened**:
Triage data is out of date, last entry from 2019-12-19

https://testgrid.k8s.io/sig-testing-misc#triage&width=5

First failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-triage/1207773932782882818

Most recent failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-triage/1209177190164336642

**What you expected to happen**:
Triage da

[2019-12-23 19:22] spiffxp commented on #15680
/priority critical-urgent
This hampers finding flakes

[2019-12-23 19:29] spiffxp commented on #15680
The errant `-n0` flag has been there since 2018

Build logs and artifacts don't tell me anything about the version of gcloud or the image used

Last good at 2019-12-19 20:44:24 +0000 UTC
First bad at 2019-12-19 21:25:20 +0000 UTC

[2019-12-23 20:02] #13591 closed

[2019-12-23 20:02] #13565 closed

[2019-12-23 20:02] #13263 closed

[2019-12-23 20:10] spiffxp commented on #15680
New image built 2019-12-23 19:44:11 +0000 UTC (not that an image build would have an effect here, but good timestamp to watch for next triage build)

[2019-12-23 20:54] spiffxp commented on #15680
Latest run passed https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-triage/1209208262096850949

go.k8s.io/triage is up to date again

[2019-12-23 20:55] spiffxp commented on #15680
/close

[2019-12-23 20:55] #15680 closed

[2019-12-23 21:04] #13242 closed

[2019-12-23 21:04] #13018 closed

[2019-12-23 21:04] #12137 closed

[2019-12-23 21:26] cblecker commented on #13816
Did your PR fix this one, Steve?

[2019-12-23 22:53] alvaroaleman commented on #13816
Yeah, #15500 fixed this.

/close

[2019-12-23 22:53] #13816 closed

[2019-12-24 02:09] #13528 closed

[2019-12-25 02:54] TisonKun opened #15688 "Document how to use repoowner tool?"
https://github.com/kubernetes/test-infra/blob/master/prow/repoowners/repoowners.go

I'd like to find a tool that easily lists owners of a repo/directory/file and come to this utils. However, I have no idea how to use it since there is neither document nor usage information.

[2019-12-26 22:50] coryrc opened #15693 "Prow LABEL plugin: bad output with multiple labels which can't be applied"
**What happened**:

https://github.com/knative/test-infra/issues/1601

Tried to apply multiple "/area" commands

[code]

**What you expected to happen**:

A simple list without "area/" repeated a bunch.

**How to reproduce it (as minimally and precisely as possible)**:

Multiple invalid "/area" commands:

[code]

**Please provide links to example occurrences, if any**:

https://github.com/knative/

[2019-12-27 05:22] #12431 closed

[2019-12-27 05:22] #12426 closed

[2019-12-27 19:29] ahahn15 commented on #14144
/assign @ahahn15

[2019-12-27 22:39] #11631 closed

[2019-12-28 17:04] scottilee commented on #12573
It looks like the code has already been updated to use the v1 API. Can someone close this?

[2019-12-28 22:02] #13353 closed

[2019-12-29 08:16] matthyx commented on #9757
/remove-lifecycle stale
Ok fejta-bot, I will finish that one!

[2019-12-29 08:16] matthyx commented on #9126
/remove-lifecycle stale