[2017-09-06 20:25] luxas commented on #4420
Aha, good to know.
Would it make sense to branch cross-build anyway...?
Otherwise one can't get binaries from the cross-build like normal (the images aren't pushed either)

I think it's easiest to have both. The cross-build is "special" and it would be even more confusing to try to convert some of those things to the "normal" ci of the release branch. WDYT?

[2017-09-06 20:30] BenTheElder commented on #4416
This is clearly a P0 @krzyzacy :-)

[2017-09-06 20:44] bgrant0607 commented on #3271
Exposing emails would violate Github's terms of service.

[2017-09-06 20:51] bgrant0607 commented on #3271
Maybe related: https://github.com/kubernetes/community/pull/967

[2017-09-06 20:53] kargakis commented on #3271
@bgrant0607 can you link to the part of the terms that would be violated? I couldn't find it in https://help.github.com/articles/github-terms-of-service/ but really all I did was search through all the "email" instances.

[2017-09-06 21:11] spxtr opened #4425 "Make it easy to kill or abort a running job."
It's a pain to do this now, since pod and prowjob names are UUIDs. We just need to provide a kubectl command that deletes the appropriate pod. This will be restarted. We can provide another command that marks the prowjob as aborted, which will lead to it not restarting.

cc @rmmh @sebastienvas
/area prow

[2017-09-06 21:12] dims commented on #4080
@sttts `"k8s.io/apiextensions-apiserver/pkg/features"` is missing from https://github.com/kubernetes/apiextensions-apiserver/tree/master/pkg Looks like it was added in [1] as part of #47263 on the same day the repo was published i think.

[1] https://github.com/kubernetes/kubernetes/commit/6ba1523a8e36c3121a9e08bfac7b4f342bb8ccb3

[2017-09-06 21:33] spxtr commented on #2546
#4268 made it better.

[2017-09-06 21:39] spxtr commented on #3866
If we need to do that then we can add a config option. That's also necessary if the repo is using travis or something. We will definitely ignore jobs that are set to skip reporting.

[2017-09-06 21:58] mml commented on #3866
Can we make sure that this piece of configuration is global?  That is, you set it in one place, but the dashboard, tide, etc. all look at the same place?

[2017-09-06 22:08] spxtr commented on #3866
Yes, it will all live in prow/config.yaml.

[2017-09-06 22:09] #2817 closed

[2017-09-06 22:12] spxtr commented on #4359
It doesn't poll anymore, it only munges changed events.

[2017-09-06 22:14] mindprince commented on #4407
There seems to be some inversion of priority here in terms of how many times a PR gets tested before getting ejected from the queue.

I am assuming the first PR in the batch is the one with highest priority (queue/critical-fix etc.).

So, now if both the single PR run and the batch failed because some flaking test, this hightest priority PR would get ejected from the queue. On the other hand, the

[2017-09-06 22:21] spxtr commented on #4340
Try [`is:pr is:merged commenter:lavalamp -author:lavalamp assignee:lavalamp`](https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Amerged%20commenter%3Alavalamp%20-author%3Alavalamp%20assignee%3Alavalamp). That filters only those PRs that you commented on. Removing the `commenter:lavalamp` yields 988 PRs, about 250 more. Evidently you comment on many PRs.

[2017-09-06 22:26] lavalamp commented on #4340
Thanks for the query!

...I still think this is a reasonable feature request.

On Wed, Sep 6, 2017 at 3:21 PM, Joe Finney <notifications@github.com> wrote:

[2017-09-06 22:33] spxtr commented on #4340
Yeah, makes sense.

[2017-09-06 23:07] #4403 closed

[2017-09-07 00:39] bgrant0607 commented on #3271
@kargakis

Their policy includes everything under http://help.github.com/categories/site-policy

Previous message from github:

Users generally include public contact information in their GitHub profiles so that other individuals in the open source community can contact them. Both GitHub's Terms of Service and our Privacy Statement require GitHub users to respect other GitHub users' privacy choice

[2017-09-07 00:58] eparis opened #4431 "Continuous bot spam when cherry-pick parent PR does not have valid release note label"
https://github.com/kubernetes/kubernetes/pull/52056

Was getting spammed multiple times per minute with the same message.
[code]
Both the parent PR and the reference PR had `release-note-none` set. So the process WAS being followed.

The bot was nice enough to delete the old comment every time it posted a new comment. which is why all of the spam can't be seen in the PR anymore.

[2017-09-07 07:23] xiangpengzhao commented on #4359
@spxtr I may miss something here. Can you explain a bit about what events? From my perspective, if no new comment to trigger it, no label and comment will be added, then how can the author get notified?

[2017-09-07 10:38] sttts commented on #4080
@dims the manual sync snapshot was from Wednesday last week, before #47263 merged. https://github.com/sttts/apiextensions-apiserver is from yesterday and includes it. So this is expected.

[2017-09-07 11:35] kargakis commented on #4408
More related issues:

https://github.com/kubernetes/kubernetes/issues/49424
https://github.com/kubernetes/kubernetes/issues/51046

Seems like using labels in the short-term is the only solution for filtering.

[2017-09-07 13:25] dims commented on #4354
/open

[2017-09-07 13:25] dims commented on #4354
/reopen

[2017-09-07 13:27] dims commented on #4354
@cblecker @kargakis - Looks like this is not yet fixed

example the cross build did not trigger on https://github.com/kubernetes/kubernetes/pull/51728 So @derekwaynecarr had to file another PR https://github.com/kubernetes/kubernetes/issues/52074 to fix the build

[2017-09-07 14:11] kargakis commented on #4354
Opened https://github.com/kubernetes/test-infra/pull/4436

[2017-09-07 16:41] ixdy commented on #4354
I think cross build didn't trigger on kubernetes/kubernetes#51728 because it ran tests before #4357 had merged, and it never ran tests again - https://k8s-gubernator.appspot.com/pr/51728.

[2017-09-07 16:45] ixdy commented on #4354
https://github.com/kubernetes/kubernetes/pull/51766 touches `hack/lib` and also triggered crossbuild.

[2017-09-07 17:35] spxtr opened #4437 "Use a tool to add webhook information."
/area prow

The [getting started guide](https://github.com/kubernetes/test-infra/blob/f8e99feb208e388271d4b7f63a6933f161a03364/prow/getting_started.md#add-the-webhook-to-github) has a section on adding the webhook to GitHub. It's currently done manually, but it can be done with a tool. I think @jfelten started working on one, maybe we can use that?

[2017-09-07 19:11] krzyzacy commented on #4406
cc @jdumars Talked with @yguo0905, we won't need cvm jobs anymore, I'll put up gci jobs only for release-1.8.

[2017-09-07 19:14] jdumars commented on #4406
Great, thank you for chasing that down.

[2017-09-07 19:44] shyamjvs opened #4445 "Make 'pull-kubernetes-kubemark-e2e-gce-big' part of pre-merge batch-testing"
@timothysc I think you were suggesting this during the sig-scale meeting today. Let me know if you meant something else.

@krzyzacy - Could you help with this? To clarify - we don't want to run this as required test on PRs (due to resource constraints) but want it to run during the batch-testing stage right before merging.
This should help catch regressions without having to run it against each PR

[2017-09-07 20:14] krzyzacy commented on #4445
/assign @rmmh
batch master Ryan, any thoughts?

[2017-09-07 20:19] rmmh commented on #4445
Batches currently take ~46m to run. This would slow that down a fair amount.

Do you want the failure of this to block PRs? Or do you just want more data on its health?

[2017-09-07 20:47] shyamjvs commented on #4445
We're already having a CI test that's running continuously for health data. It'd be preferable to block them on the test, at least for the period before the release when we want to stabilize the code, especially with scale-tests being part of release-blocking suite. To clarify - we should only block the faulty PRs, not the SQ.

Comments anyone?

[2017-09-07 20:48] shyamjvs commented on #4445
Also given the low influx of PRs now, the extra time shouldn't hurt us much.

[2017-09-07 20:51] krzyzacy commented on #4445
(I'm not sure how to configure so that it will only block batch?)

[2017-09-07 21:07] rmmh commented on #4445
Even if the batch fails, the one-at-a-time testing could succeed.

If you want to block PRs that cause performance regressions, you need something more precise.

[2017-09-07 21:21] shyamjvs commented on #4445
I think that should be a rare occurrence. And even if it does happen we have a situation sth like:
- pr A doesn't cause a regression by itself
- pr B doesn't cause a regression by itself
- but pr A + pr B causes a regression

In this case batch-merging A & B together shouldn't be allowed and that's the right behavior we want.
And if later we retry both of them but in different batches, the first o

[2017-09-07 21:24] shyamjvs commented on #4445
The only problem I see here is if we keep retrying the same batch over and over again. But it doesn't seem hard to prevent SQ from doing that.

[2017-09-07 21:45] BenTheElder opened #4451 "Jobs should not use deprecated bootstrap flags"
Before https://github.com/kubernetes/test-infra/pull/4430 we should migrate all jobs using `--pull` and `--bare` to use `--repo` properly.

[2017-09-07 21:45] BenTheElder commented on #4451
/assign
/area prow
/cc @krzyzacy @fejta

[2017-09-07 21:55] shyamjvs commented on #4445
Not sure I understand - could you clarify? FWIU:
- if they're in one batch, both of them wouldn't be merged because they fail the test
- Otherwise the latter batch would be stopped from merging (because the former is already merged and the latter one on top of that fails)

[2017-09-07 21:57] rmmh commented on #4445
Batches are an optimization that runs in parallel to normal testing of the head of the queue. Blocking (or stopping) batch testing does not prevent merges from happening.

[2017-09-07 22:07] shyamjvs commented on #4445
I see. Seems then we can include the job as part of the normal testing against the queue head. The main concern was to avoid running against all open PRs (as we can't afford the resources). Running against just the head should be fine as we'd have utmost 1 instance of the job running at a given moment.

[2017-09-07 22:14] rmmh commented on #4445
Having the queue run more tests than standard presubmits for resource consumption reasons sounds fine, but it will take some work to rearrange everything to make it work.

[2017-09-07 22:16] shyamjvs commented on #4445
Cool, thanks. A rough idea of how much time this would take? Earlier from the release, the better.

[2017-09-08 00:02] kargakis commented on #3741
Today, the approval message ([example](https://github.com/kubernetes/kubernetes/pull/52127#issuecomment-327956514)) is essentially that; a blob of text that spams my PRs and falls out of date as far as prow commands go or it happens to be up to date because someone made the effort to update commands.md. Yet, commands.md doesn't let me know which commands I can actually use. Once we move approvals

[2017-09-08 00:08] kargakis opened #4460 "Do not comment that my PR is approved"
Similar to not commenting that my PR is lgtm'd. I probably don't understand what an approval means and as long as my PR is set to merge I don't really care.

@kubernetes/sig-contributor-experience-proposals

[2017-09-08 08:44] kargakis opened #4463 "sinker could start deleting pods if they exceed a configurable threshold"
/area prow

[2017-09-08 14:47] justinsb opened #4469 "kops CI jobs unable to write to bucket"
@krzyzacy I think you observed this before, but I didn't find an issue.  `211744435552-compute@developer.gserviceaccount.com does not have storage.objects.create access to bucket kops-ci.` which I think means that the account that the prow job is running on doesn't have access to that bucket.

cc @zmerlynn in case you're the owner of the bucket!

e.g. https://k8s-gubernator.appspot.com/build/kuber

[2017-09-08 15:41] ericchiang commented on #4323
Now that https://github.com/kubernetes/kubernetes/pull/52056 is cherry picked what's the next steps?

[2017-09-08 16:54] krzyzacy commented on #4469
/assign

[2017-09-08 17:08] kargakis commented on #3934
It seems that there are fake k8s clients for every controller, this issue is about unifying them.

[2017-09-08 17:16] spxtr commented on #3934
What I would like the most is an actual fake API server, not just a fake interface. That way our tests can use a real `*kube.Client` and just talk to the fake server. This is nontrivial to do well, but would be really helpful.

[2017-09-08 17:24] kargakis commented on #3934
A fake client really gets us most of what we need.

[2017-09-08 17:42] MrHohn opened #4472 "Create manual network instead of automatic network for PR jobs."
Ref quota issues on k/k:
https://github.com/kubernetes/kubernetes/issues/46713
https://github.com/kubernetes/kubernetes/issues/47362
https://github.com/kubernetes/kubernetes/issues/48688
https://github.com/kubernetes/kubernetes/issues/51646
https://github.com/kubernetes/kubernetes/issues/52140

Lately we've been hitting subnetwork quota issue periodically when GCP expands regions, as each PR job c

[2017-09-08 17:44] krzyzacy commented on #4472
I'm happy to help this issue! (if I know what to do ❀◟(ó ̯ ò, ))

[2017-09-08 17:54] cblecker commented on #4472
Wholeheartedly support this. :)

[2017-09-08 18:03] yujuhong commented on #4472
Thanks!

[2017-09-08 18:15] nicksardo commented on #4472
If everything uses a manual network, should we create a new suite of networking tests that continue to run on an automatic network (and limit the # of jobs in that project to something low)?

[2017-09-08 18:33] grodrigues3 commented on #4460
Can you explain the proposed workflow in more depth?

I assume PR authors do care when their PR is not approved and they want to know what needs to be done in order to get the PR merged (hence the NOT approved comment and link to OWNERS files).

But if we create a comment indicating the PR is not approved, we have to at the very least delete it when the PR is approved.  Are you suggesting that we

[2017-09-08 18:42] yujuhong commented on #4472
If this is only a problem for pre-submit jobs, maybe we can keep the post-submit jobs on auto networks? Ignore me if that's not the case.

[2017-09-08 18:44] MrHohn commented on #4472
Thanks, I was about to say the same thing, we could keep post-submit jobs on auto networks :)

[2017-09-08 18:49] spxtr commented on #4460
Yes, it's unnecessary noise. Ideally, once your PR is ready to go there is no bot comment remaining.

[2017-09-08 18:50] kargakis commented on #4460
@grodrigues3 we have to create a comment when the PR is not approved. But when the PR is approved, similar to when it is lgtm'd, the bot should just add the label and call it a day.

[2017-09-08 19:35] BenTheElder opened #4475 "Prow: `always_run: true` should imply `/test all` trigger and handle `run_after_success`"
Right now `/retest` and `/ok-to-test` are handled in the `trigger` plugin, which is aware of Prow's config / job structure, however `/test all` is manually placed in jobs's `trigger:` regex. A quick scan of the config suggests that every `/test all` job is also `always_run: true` (which makes sense). Since they are triggered by this regex in a comment this means `/test all` naively triggers `run_a

[2017-09-08 19:39] BenTheElder commented on #4475
/area prow
/assign
/cc @spxtr @stevekuznetsov @kargakis @krzyzacy

[2017-09-08 19:52] spxtr commented on #4475
I don't think so, we only run the top level of presubmits in [this function](https://github.com/kubernetes/test-infra/blob/9a3d8c62e0c15242aa490af3959d105b153d6d9c/prow/config/jobs.go#L149). `run_after_success` is pretty confusing, since `always_run` doesn't make sense for those jobs.

[2017-09-08 20:03] BenTheElder commented on #4475
Ah that makes sense. Perhaps we can provide a doc describing the behavior
of the job configs to go with your getting started guide? I can't seem to
find anything covering this other than the implementations.

On Sep 8, 2017 12:52, "Joe Finney" <notifications@github.com> wrote:

[2017-09-08 20:10] BenTheElder commented on #4475
A better issue might be: We should clarify the interactions of these fields somewhere and probably make a note about how updating the config persists settings when re-running jobs.

[2017-09-08 20:10] #4475 closed

[2017-09-08 20:16] BenTheElder commented on #4451
Once things seem to be working fine the next step is making sure these flags are not used by future jobs.
@krzyzacy since you own config.yaml I'm counting on you too :-)

[2017-09-08 20:17] krzyzacy commented on #4451
just kill the flag :-)

[2017-09-08 20:19] BenTheElder commented on #4451
Are we sure other projects aren't fetching bootstrap.py though? If so that's definitely my preferred route but I don't want to break anyone else. I'm pretty sure istio at least uses a fork..

[2017-09-08 20:22] krzyzacy commented on #4451
Then we should ask them to fix their flag - isn't it their fork was not super up-to-date? (still has bash scripts)

[2017-09-08 20:24] BenTheElder commented on #4451
Yes, I want to port them to the new bootstrap when it is ready. I'll kill
the flag and help fix any breakage if there's any. I'm pretty certain there
won't be now.

On Sep 8, 2017 13:22, "Sen Lu" <notifications@github.com> wrote:

Then we should ask them to fix their flag - isn't it their fork was not
super up-to-date? (still has bash scripts)

—
You are receiving this because you were assigned.
R

[2017-09-08 21:02] rmmh commented on #4381
Fixed by #4426

[2017-09-08 21:02] #4381 closed

[2017-09-08 21:03] rmmh commented on #2941
Probably fixed by #4225

[2017-09-08 21:03] #2941 closed

[2017-09-08 21:55] spxtr commented on #2869
Can you go into a little more detail about how this will impact regular workflows? Someone opens an issue: what happens next?

[2017-09-08 22:09] #4469 closed

[2017-09-08 23:01] spxtr commented on #4460
/sig testing

[2017-09-08 23:15] krzyzacy opened #4483 "Clean up kubeadm w/ shared build logic in e2e scenario"
Basically remove global env and update unit-test

tracking https://github.com/kubernetes/test-infra/pull/4480#discussion_r137906106

/assign @luxas

[2017-09-08 23:53] grodrigues3 commented on #4460
/sig contributor-experience

[2017-09-09 01:33] jdumars commented on #2869
@spxtr once an issue is added to the milestone, it becomes release-blocking until resolved or removed from the milestone.  The approved-for-milestone label is added as an acknowledgement by the SIG that it is indeed valid and release-blocking.

1. Create issue
2. Add normal labels (kind, priority, SIG, area, etc.)
3. Add to the 1.8 milestone
4. Add approved-for-milestone so the bot doesn't kick it

[2017-09-09 07:11] xiangpengzhao opened #4492 "PR has both "cherrypick-approved" and "do-not-merge/cherry-pick-not-approved""
See in: https://github.com/kubernetes/kubernetes/pull/52199. This is strange.

cc @sebastienvas

[2017-09-10 10:22] kargakis commented on #4408
Oh, well. I thought this issue was about prowjobs and not pods. Field selectors are irrelevant in this case.

[2017-09-10 10:24] kargakis commented on #4099
FWIW, this was fixed by https://github.com/kubernetes/test-infra/pull/4459

[2017-09-10 13:19] kargakis commented on #4110
We need to update comments and remove stale jobs so it seems that prow/config has more use cases inside prow/report.

[2017-09-10 13:19] #4110 closed

[2017-09-11 06:20] xiangpengzhao opened #4494 "k8s-ci-robot adds and removes "cncf-cla" labels for several times"
See in: https://github.com/kubernetes/kubernetes/pull/51931#issuecomment-328424955. There are three comments asking the author to sign CLA. It had some actions as below:

[code]

Maybe the author was changing his CLA configuration at that time. cc @tengqm

[2017-09-11 06:26] xiangpengzhao commented on #4494
Also see a PR has both `cncf-cla: no` and `cncf-cla: yes` at the same time. https://github.com/kubernetes/kubernetes/pull/52262

[2017-09-11 06:26] tengqm commented on #4494
No. I didn't. The CI is doing some sports I suspect, :)

[2017-09-11 06:27] xiangpengzhao commented on #4494
That's interesting :smile_cat:

[2017-09-11 06:30] xiangpengzhao commented on #4494
Hmm... the bot is still playing... https://github.com/kubernetes/kubernetes/pull/51931#issuecomment-328428744

/assign @foxish

[2017-09-11 15:48] foxish commented on #4494
Both issues happened around the same time.
Could be a transient github API issue. Will look into it if it recurs at a different time.

[2017-09-11 16:20] xiangpengzhao commented on #4494
@foxish thanks!

[2017-09-11 16:52] kargakis opened #4497 "TestHandleLog race detected"
Getting this with go1.9
<details>

[code]
</details>

@rmmh @spxtr

/area prow

[2017-09-11 17:13] sttts opened #4499 "Manual push(es) of github pubisher bot results"
This is basically a repetition of https://github.com/kubernetes/kubernetes/issues/51643, the same situation 2 weeks ago.

**Status Quo:** The github publisher bot https://github.com/kubernetes/test-infra/tree/master/mungegithub/publisher is **not** pushing the repos right now because it cannot cope with a number of commits (merges) and branch structures (fast-forward master merges) and falls over.

[2017-09-11 17:20] lavalamp commented on #4499
@rmmh @fejta FYI

[2017-09-11 17:44] #4483 closed

[2017-09-11 17:54] #4408 closed

[2017-09-11 17:57] enisoc opened #4501 "testgrid shows PASSING for tests that don't run"
The testgrid summary seems to mark a test as PASSING if it can't find any results at all. This makes it hard to notice when a job stops working entirely, because it looks like everything is fine at a glance.

For example:

https://k8s-testgrid.appspot.com/release-1.6-all#Summary

[code]

[2017-09-11 17:57] spxtr commented on #4497
Good chance this is fixed by #4485. I really want to turn on race detection for this repo, but mungegithub stands in the way...

[2017-09-11 18:17] pipejakob commented on #4501
Just to cross-reference, the reason that the 1.6 kubeadm tests aren't running any more:
https://github.com/kubernetes/kubernetes/issues/51571

[2017-09-11 18:26] krzyzacy commented on #4501
/assign @michelle192837

[2017-09-11 18:26] krzyzacy commented on #4501
(Also I think the pending state does not really work externally (?) )

[2017-09-11 18:31] michelle192837 commented on #4501
Noted, will look at another status (I don't think FAILING or FLAKY works here either, but should have something for no results).

And will look into pending state, since that ought to be enabled.

[2017-09-11 18:50] luxas opened #4504 "run_after_success presubmit jobs aren't working properly"
See: http://prow.k8s.io/?job=pull-kubernetes-e2e-kubeadm-gce
Basically, less than 10% of the jobs even start.
@krzyzacy said that the GCE canary job that is also hooked up after the bazel presubmit suffers from the same bug(s).

Basically, if a presubmit is hooked up after an other, the "child" job should always be executed if `run_if_changed` passes. Right now those child jobs don't seem to be sp

[2017-09-11 18:51] krzyzacy commented on #4504
cc @spxtr @kargakis

[2017-09-11 19:19] spxtr opened #4505 "Release note munger -> prow plugin"
Right now we can say `/release-note-none`, but prow doesn't look at the PR body to determine what label should be applied. We should augment the `releasenote` plugin to handle pull request events and update the label. Then we can delete the release note munger.

[2017-09-11 19:30] BenTheElder commented on #4451
This should be fixed now :-)

[2017-09-11 19:32] BenTheElder commented on #4497
@spxtr perhaps we could turn it on and exclude mungegithub since it's now marked as deprecated anyhow?

[2017-09-11 20:08] kargakis commented on #4504
[max_concurrency](https://github.com/kubernetes/test-infra/blob/917f59061fd5787db77f10cdfd2d6d71104273b1/prow/config.yaml#L140) is currently broken for kubernetes jobs and it seems that this job is using it. Someone with access to plank logs should be able to confirm it.

[2017-09-11 20:11] spxtr commented on #4497
Yes, that sounds like a good idea. We just need to add `--features=race` to the bazel test for everything except for mungegithub.

[2017-09-11 20:47] fejta commented on #4499
/unassign @rmmh
/assign @fejta

Agree with option (2), however we (GKE EngProd, sig-testing, test-infra) do not have write access to those repos. Looks like all these repos are apimachinery repos, so filing an issue there. The leads for that sig should be able to give you this write access.

[2017-09-11 20:47] #4499 closed

[2017-09-11 22:10] krzyzacy commented on #4406
kubectl/upgrade jobs will be covered in https://github.com/kubernetes/test-infra/pull/4510

[2017-09-11 22:11] pipejakob commented on #4504
If the presubmit job is using Boskos, do we really need to set max_concurrency? Is this just a best practice for prow, or can we remove it since we shouldn't be hitting quota issues?

[2017-09-11 22:15] krzyzacy commented on #4504
@pipejakob we probably don't want 100 copy of the job running at the same time, which will drain the project pool. (It should not really happen, but just in case,  I would still keep some protection around.)

[2017-09-11 22:17] BenTheElder commented on #4492
This is indeed strange :thinking:
Mungegithub so:
/shrug
/cc @cjwagner

[2017-09-11 22:18] kargakis commented on #4504
I would suggest removing max_concurrency for now to allow the job to run. I can push forward wrapping up https://github.com/kubernetes/test-infra/pull/4468 and once it merges, we can re-enable the option? @krzyzacy sgty?

[2017-09-11 22:19] grodrigues3 commented on #4343
I fixed the compiler error, but I still don't understand how to get the -repo-labels.yaml file which I need in order to test locally.  Please update the readme with instructions for how to do this

[2017-09-11 22:19] krzyzacy commented on #4504
@kargakis is it going to open the floodgate and trigger all those 100 pending instance at the same time?

[2017-09-11 22:36] kargakis commented on #4504
No, those prowjobs will stay pending forever because their MaxConcurrency is set and the in-memory pendingJobs cache in plank won't allow them to run. Even when you redeploy plank, this will not be a problem.

[2017-09-11 22:38] spxtr commented on #4497
Fixed.

[2017-09-11 22:38] #4497 closed

[2017-09-11 22:57] kargakis opened #4512 "approval with issue didn't work"
https://github.com/kubernetes/kubernetes/pull/52178#issuecomment-328680323

/area mungegithub
/assign @apelisse @cjwagner

[2017-09-11 23:40] cjwagner commented on #4512
The issue should be specified in the body, see [here](https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/approval-handler.go#L87) for how the issue is found.

[2017-09-11 23:40] #4512 closed

[2017-09-11 23:57] spxtr commented on #920
Now it does.

[2017-09-11 23:57] #920 closed

[2017-09-12 00:15] lavalamp commented on #4499
@fejta and I came up with the compromise solution of putting @caesarxuchao in the "bots" team to do this push manually until test-infra feels like they are ready to "carry the pager" for the repo pusher. Any objections?

[2017-09-12 00:23] fejta commented on #4499
@kubernetes/sig-testing-feature-requests @rmmh

At first blush this seems like a reasonable resolution to me. I asked Daniel to attend tomorrow's sig-testing meeting so we can run the idea by everyone else (we added the item to our agenda). Two questions I have are:
1) Is this something we want test-infra oncall to support? Given that we maintain all the other bots this seems reasonable to me.
2)

[2017-09-12 04:33] lukaszgryglicki commented on #4343
You don't need that file.
Somebody requested to remove those test files from the task.
So they were removed.
Finally, [repos.yaml](https://github.com/kubernetes/test-infra/blob/master/label_sync/repos.yaml) was added again to allow running on a smaller number of repositories.
File `repo_labels.yaml` just contained a list of labels that exist in given repositories (to save GitHub token usage).
So t

[2017-09-12 07:16] sttts commented on #4499
My expectation is that 90% of issues with the bot (next to github hickups) will need either bot fixes or manual intervention in broken repos. That's the experience. It's hardly about restarting the bot or updating some access tokens.

I don't care much who wears the pager, but I have a strong opinion that this kind of infrastructure must be openly visible and debuggable, also for non-Google people

[2017-09-12 08:28] kargakis commented on #4499
@sttts there is an issue for discussing what you are asking: https://github.com/kubernetes/test-infra/issues/3349

[2017-09-12 09:15] kargakis commented on #4512
What does the "body" mean? Is it the body of the initial comment? Is this documented somewhere? I was surprised that /approve #NO wasn't working.

[2017-09-12 10:09] xiangpengzhao commented on #4492
Hope #4517 can fix this.

[2017-09-12 11:49] xiangpengzhao commented on #4492
I think the cause of https://github.com/kubernetes/kubernetes/pull/52199 is that bot added `do-not-merge/cherry-pick-not-approved` first and then someone added `cherrypick-approved` manually. In this case, the bot couldn't detect and remove the stale label.

[2017-09-12 12:02] xiangpengzhao opened #4519 "[DATA RACE] pull-test-infra-bazel flake(?)"
See in: #4517 #4491 #4518

[code]

and more.

cc @fejta

[2017-09-12 12:06] xiangpengzhao commented on #4519
Seems caused by #4177.

/assign @shashidharatd

[2017-09-12 16:11] #4519 closed

[2017-09-12 17:42] ericchiang commented on #4323
Any updates on this? We're still having a lot of issues debugging any of the upgrade test failures.

cc @kubernetes/kubernetes-release-managers

[2017-09-12 18:25] krzyzacy commented on #4323
looks like only gke upgrade tests are missing logs?

@zmerlynn can it be related to now that we are using [gkeLogDumpTemplate](https://github.com/kubernetes/test-infra/blob/1d8efcbc588c5448ee30a1a250e062626006d54d/kubetest/gke.go#L308-L322), or gcloud might mess up with --filter flag again?

[2017-09-12 18:27] shyamjvs commented on #4323
@ericchiang Sorry I've been busy with some scalability-related issues of the release. I'll try taking a look into this today.
@zmerlynn Might have context here.

[2017-09-12 18:30] shyamjvs commented on #4323
@krzyzacy This doesn't seem to be an issue only with upgrade tests.. I'm not seeing logs even for the regular gke job - http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke/14390/artifacts/

[2017-09-12 18:33] krzyzacy commented on #4323
@shyamjvs yeah, figured. I saw
[code]
Maybe the `--filter` flag changed behavior again in gcloud, I'll take a look

[2017-09-12 18:33] shyamjvs commented on #4323
Btw - I'm seeing the following logs from log-dump.sh script:

[code]

[2017-09-12 18:34] shyamjvs commented on #4323
Yup... Seems like an issue with the filter flag. We're still using gcloud 163.0.0 right?

[2017-09-12 18:35] krzyzacy commented on #4323
for gke, most of them uses `"--gcp-cloud-sdk=gs://cloud-sdk-testing/ci/staging",` (which is known bad), maybe we can pin gke jobs to 163.0.0 as well, but we still want to fix the actual issue..

[2017-09-12 18:36] BenTheElder opened #4523 "Release Note Munger is Spamming"
Seen here: https://github.com/kubernetes/kubernetes/pull/52293#issuecomment-328942157

This comment looks to be getting posted on a loop:

[2017-09-12 18:36] krzyzacy commented on #4323
Guess I'll switch the gcloud version for gke-canary job see if that will be fixed to start with.

[2017-09-12 18:36] BenTheElder commented on #4523
/cc @cjwagner for mungegithub :-)
/shrug

[2017-09-12 18:40] luxas commented on #4504
Interestingly enough, all batch jobs are passing: http://prow.k8s.io/?type=batch&job=pull-kubernetes-e2e-kubeadm-gce

@kargakis Yeah, I know `max_concurrency` isn't ready for the prime time. Please ping me when it is and we can make the job start reporting.

@krzyzacy Do you know if `run_if_changed` is respected for `run_after_success` jobs?

[2017-09-12 18:41] BenTheElder commented on #4523
As noted in slack, it seems to be posting pairs of comments each munge loop which is *quite* fishy :fish:

[2017-09-12 18:46] cjwagner commented on #4523
On this PR is posted comments in groups of 4 https://github.com/kubernetes/kubernetes/pull/52294

[2017-09-12 18:52] spxtr commented on #4523
#4505

[2017-09-12 18:53] shyamjvs commented on #4323
Canary sounds fine.. But we should be careful about pinning gcloud to an older one as I think some of our jobs depend on new gcloud api (for e.g regional - @wojtek-t would be able confirm).

[2017-09-12 18:53] BenTheElder commented on #4523
I think the munger just needs to apply the appropriate label when it makes the comment

[2017-09-12 18:54] BenTheElder commented on #4523
Specifically this bit looks fishy:
https://github.com/kubernetes/test-infra/blob/1318ca6fa4384c996cc4f48a16b6f896eba24260/mungegithub/mungers/release-note-label.go#L112-#L113

[2017-09-12 18:55] BenTheElder commented on #4523
@spxtr I agree, but we should probably "stop the bleeding" before we port it to a prow plugin.

[2017-09-12 18:58] krzyzacy commented on #4323
https://github.com/kubernetes/kubernetes/issues/49673 is closed recently, we might be able to unpin the gcloud version.

I'm not sure why all gke jobs uses gcloud from ci/staging bucket, @zmerlynn or @roberthbailey  might know more?

I'll also try to make a fix to the --filter flag.

[2017-09-12 19:00] grodrigues3 commented on #4523
@stevekuznetsov PTAL.  Looks like you might have made he most recent changes.

[2017-09-12 19:03] #2869 closed

[2017-09-12 19:05] cjwagner commented on #4512
The main PR description body. This is documented [here](https://github.com/kubernetes/community/blob/62cc2179fbb8536c69b2dfcb42122411732c79cb/contributors/devel/owners.md#quirks-of-the-process).

[2017-09-12 19:33] shyamjvs commented on #4323
We should be unpinning to use the latest one instead of trying to put up with an ancient gcloud. It's getting increasingly hard to maintain this.
@ixdy Is the migration to newer flags done? Or something's still blocking from unpinning?

[2017-09-12 19:51] krzyzacy commented on #4323
I'll unpin it and see if it breaks anything.

[2017-09-12 20:02] krzyzacy opened #4527 "Display gcloud version in metadata"
as it causes more and more trouble, make gcloud version explicit will help debugging to some extent.

/assign

[2017-09-12 20:03] abgworrall commented on #4323
Github needs a `For Science !` emoji thing :)

[2017-09-12 20:08] shyamjvs commented on #4323
Ok, I just checked locally by running the command (against gcloud 169.0.0 which is pretty new) and it seems to work though the warning is printed:

[code]

The problem is likely somewhere inside log-dump.sh. WIll add some debugging statements there.

[2017-09-12 20:12] ixdy commented on #4323
Let's take the filter warning to kubernetes/kubernetes#49673.

[2017-09-12 20:13] krzyzacy commented on #4323
yeah - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-canary/2214?log#log gets rid of the warning but still not feel like to dump anything :-(

[2017-09-12 20:23] stevekuznetsov commented on #4523
Took a look, not sure my changes impacted this -- the behavior has been this way for a while. `release-note-none` seems like an invalid state for the PR.

[2017-09-12 20:27] BenTheElder commented on #4523
This definitely seems to be a state that simply wasn't designed for. It seems we normally wanted one of the PR or the cherry-pick PR to have a note, but in this case it doesn't make sense and the bot is handling it poorly.

We should:
- decide if this state is valid
- prevent this bot (and possibly all mungers?) from spamming like this
- consider a prow plugin instead? :-)

[2017-09-12 20:36] stevekuznetsov commented on #4523
Unclear if we really can do this broadly without re-engineering how the mungers interact ... ( by using Prow instead )

[2017-09-12 20:53] shyamjvs commented on #4323
I've got a working fix for this that I tested locally - I'll send out a PR for it.

[2017-09-12 21:42] rmmh commented on #4445
Roughly:
- make mungegithub/submit-queue and splice trigger/config an additional immediately-before-submit job
- make mungegithub expect that job to pass before final merge decision

[2017-09-12 21:42] zmerlynn commented on #4323
Isn't this actually broken because of the change back to names and not IPs? This was working for me with IPs and I accepted the other change, but I'm not sure it's right.

[2017-09-12 21:51] #4492 closed

[2017-09-12 21:53] zmerlynn commented on #4323
(I think the issue here, if you wind back to the state I had the GKE deployer at 3 weeks ago, is that the `LOG_DUMP_SSH_KEY` isn't getting set correctly, but they need to be IPs to contemplate ssh working at all.)

[2017-09-12 22:00] shyamjvs commented on #4323
There were 2 issues with using IPs:
- It makes it really hard to look for a particular node (as all you see is a bunch of IPs)
- This doesn't work with logexporter which matches the names of the instances against the names of kubernetes node objects

[2017-09-12 22:00] zmerlynn commented on #4323
Yes, but ... it was working. :)

[2017-09-12 22:02] shyamjvs commented on #4323
It wasn't working with logexporter. And IMO IPs just looks weird - we should try to be consistent with GCE (where we're using the actual node names).

[2017-09-12 22:03] zmerlynn commented on #4323
The state that #52360 leaves log-dump for GKE in makes it completely indecipherable, unfortunately. It was only barely decipherable before.

[2017-09-12 22:25] #4523 closed

[2017-09-12 22:32] spxtr commented on #4445
That seems like it will halve the number of PRs we can merge, no?

[2017-09-12 23:35] rmmh commented on #4445
Ideally this job will run in 45 minutes-- is there anything that can be cut out to make that happen?

[2017-09-13 00:31] MrHohn commented on #4472
Did a bit investigation, two high level tasks in my mind:
- Change gce kube-up scripts to support creating custom network.
- Change PR jobs to use that feature.

Sent https://github.com/kubernetes/kubernetes/pull/52377  for the first part.

cc @bowei

[2017-09-13 00:59] MrHohn opened #4540 "git links on Gubernator CI results are broken"
From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/14106.

Clicked on `v1.9.0-alpha.0.558+108ee220966677` on top and it linked to https://github.com/None/commit/108ee220966677.

[2017-09-13 02:19] shashidharatd commented on #3858
Found out recently that `kubernetes-anywhere` deploys k8s cluster without `cloud-provider` enabled. federation jobs needs k8s clusters deployed with `cloud-provider` for persistent volume and load-balancer. We should probably add support to enable cloud-provider for gce in k8s-anywhere.

[2017-09-13 04:45] #4323 closed

[2017-09-13 05:29] luxas commented on #3858
Does federation rely on gcePDs as well?

[2017-09-13 06:41] shashidharatd commented on #3858
There is no direct reliance of federation on gcePD, but the federation setup uses gcePD for federation etcd.

[2017-09-13 07:00] luxas commented on #3858
Can we use something else than gcePD? If so, it will be very easy to do with the cloud-controller-manager, and that would be a huge win.

[2017-09-13 07:34] shashidharatd commented on #3858
Actually kubefed uses PVC for etcd and PVC is bound by dynamically provisioned PV from the cloud-provider (In our case its gce, so gcePD). Is there anything against using gcePD?

Instead of dynamic PV's we could create a static PV, but the disk has to be cleaned/reclaimed every time by the CI job. But this would still use gcePD.

[2017-09-13 13:26] kargakis commented on #4366
Another thing I just figured out is that putting a proxy in front of Jenkins is not actually handling all requests from the jenkins-operator. When a build is [requested](https://github.com/kubernetes/test-infra/blob/b74ecde8723ee8a9daae91bd7cdfb3028b95c02c/prow/jenkins/jenkins.go#L111), assuming baseURL is pointing to the proxy, the [queue location](https://github.com/kubernetes/test-infra/blob/b7

[2017-09-13 15:36] luxas commented on #3858
I'll check it up if gcePDs can be used with the cloud-controller-manager
cc @wlan0

[2017-09-13 16:54] wlan0 commented on #3858
@luxas with @cheftako's PR, it can be used with CCM - https://github.com/kubernetes/kubernetes/pull/52371

[2017-09-13 19:05] spxtr commented on #4366
We are running a single Jenkins instance. Our proxy is a simple VM with nginx doing a `proxy_pass`. Now that you point out this issue, I'm surprised that we don't run into it.

Yes, that makes sense.

[2017-09-13 20:31] spxtr commented on #4445
This sounds like a step backward to me. We've worked pretty hard to get to a world where if a PR passes presubmits then it's okay to merge, and this neatly undoes that. I'm guessing @fejta has an opinion here.

More concretely, lets say a PR finds its way onto the queue, but the scalability pre-merge test fails. The author of the PR now has no way to rerun the test and decide if it was a flake. Th

[2017-09-13 20:38] kargakis commented on #4445
https://github.com/kubernetes/test-infra/issues/3740 sounds related.

[2017-09-13 21:14] #4109 closed

[2017-09-13 21:26] BenTheElder commented on #4504
Note that `max_concurrency` is hopefully generally fixed now. Thanks @kargakis!

[2017-09-13 21:38] kargakis commented on #4099
I've got a branch working on this

/assign

[2017-09-13 21:54] kargakis commented on #2620
@cblecker how often new contributors tag their PRs as WIP? I can't remember seeing any from the reviews I've been doing for sig-apps related stuff the past year.

[2017-09-13 21:58] kargakis commented on #2620
That being said, I agree with @cjwagner. I think I would rather we not do this.

[2017-09-13 22:00] kargakis commented on #2555
Prow now supports a slack plugin, we could possibly enhance it to send notifications on job failures.

[2017-09-13 22:01] #2620 closed

[2017-09-13 22:01] kargakis commented on #2699
https://github.com/kubernetes/test-infra/pull/4280 is a good start.

[2017-09-13 22:07] kargakis commented on #3337
Dupe of https://github.com/kubernetes/test-infra/issues/2699

[2017-09-13 22:07] #3337 closed

[2017-09-13 22:22] spxtr opened #4550 "Job names don't make great labels"
`errors syncing: [error starting pod: error creating pod: response has status "422 Unprocessable Entity" and body "{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Pod \"61026203-98a5-11e7-8981-0a580a6c0104\" is invalid: metadata.labels: Invalid value: \"ci-kubernetes-e2e-gke-gci-stable2-gci-stable1-upgrade-cluster-new\": must be no more than 63 characters","reason":"

[2017-09-13 22:22] spxtr commented on #4550
(Along with fixing this, we should maybe mark the prowjob as in an error state when we get 422 back from the API server)

[2017-09-13 22:24] kargakis commented on #3044
/assign

[2017-09-13 22:27] kargakis commented on #3795
/assign nlandolfi

[2017-09-13 22:28] kargakis commented on #3791
Closing as a dupe of https://github.com/kubernetes/test-infra/issues/3340

[2017-09-13 22:28] #3791 closed

[2017-09-13 22:30] kargakis commented on #4425
It would be really cool to see these commands + mkpj + https://github.com/kubernetes/test-infra/issues/4437 as part of a `prow`, `prowc`, or `prowctl` command that can also work as a kubectl plugin.

[2017-09-13 22:32] kargakis commented on #3368
I guess such a file will have only presubmit/postsubmits for the repo. We still need a central config for periodics + all the infra configuration.

[2017-09-13 22:34] kargakis commented on #3407
/assign

[2017-09-13 22:39] kargakis commented on #4550
Oh, yeah ... It could still be an annotation if we want it.

[2017-09-13 22:40] kargakis commented on #4550
/assign

[2017-09-13 22:45] spxtr commented on #2555
That sounds like it will be very annoying.

[2017-09-13 22:49] kargakis commented on #3700
Cardinality becomes unreasonably high if we include individual users as an axis in these metrics.

This issue is possibly a dupe of https://github.com/kubernetes/test-infra/issues/2699.

[2017-09-13 22:53] kargakis commented on #3789
Printing all the config at start-up is probably untenable. Printing the diff of the previous config and the current config on a reload of the agent is still a good idea.

[2017-09-13 23:00] kargakis commented on #4319
Also related: https://github.com/kubernetes/test-infra/issues/3738

[2017-09-13 23:04] kargakis commented on #3738
@spxtr I am ambivalent about depending on bazel for functionality that needs to be in prow. There are cases where we don't want to run tests that bazel is unlike to cover (eg. #4319).

[2017-09-13 23:10] kargakis commented on #2555
Yeah, it would be. Still, it would be nice to notify on certain occasions like when a job hasn't passed for some time.

[2017-09-14 02:16] sebastienvas opened #4564 "Prow Issue: Links for certain prow jobs are missing the build number while job is running."
One Example is https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51768/pull-kubernetes-e2e-gce-bazel//

We experience the same issue in istio  since we updated to the last version, ie plank 0.44

[2017-09-14 08:50] luxas commented on #2555
I think a Slack integration there would be very helpful. SIGs may opt-in?

[2017-09-14 16:04] sebastienvas commented on #3798
It does not seem to be a template issue. The url is not right when the job is pending not when the job is complete.

[2017-09-14 16:10] sebastienvas commented on #3798
Nevermind - does not seem to be the same issue.

[2017-09-14 16:57] stevekuznetsov commented on #4564
/area gubernator

[2017-09-14 16:57] stevekuznetsov commented on #4564
/kind bug

[2017-09-14 16:59] stevekuznetsov commented on #4564
@sebastienvas just to be clear -- you are seeing links on the k8s Gubernator page missing a build number while it's running? On what pages? Can you send a screenshot of the link you are clicking?

[2017-09-14 16:59] sebastienvas commented on #4564
I think it is more a Prow bug. It seems that kubernetes fixed it since yesterday night, I am not sure what they did. (I am from istio).

[2017-09-14 17:00] stevekuznetsov commented on #4564
I can take a look -- you are clicking on build info from a PR overview page for a build that's running?

[2017-09-14 17:08] sebastienvas commented on #4564
So the issues goes away when the job is complete so its hard to just provide a link. But basically go to https://prow.istio.io and look for pending job and click on the gubernator link

[2017-09-14 17:10] luxas commented on #4504
The presubmit is still not running properly on normal PRs and `run_if_changed` is not respected.
@krzyzacy can you look into the `run_if_changed` thing?
@kargakis LMK if something needs to be done on my side to make `max_concurrency` work...

[2017-09-14 17:21] sebastienvas commented on #4564
Yes the link from the PR page is the same one that does not have the build number

[2017-09-14 17:46] kargakis commented on #4504
Can you open a PR and move the job as a top-level job in the config? run_if_changed and always_runs never worked for run_after_success jobs. cc: @krzyzacy

[2017-09-14 17:55] luxas commented on #4504
@kargakis can't do that, as out job actually depends on the bazel one.
cc @pipejakob

Let's instead fix the issues with `run_after_success`

[2017-09-14 17:58] krzyzacy opened #4568 "Jenkins is broken due to maintenance job failure on bootstrap"
/assign

[2017-09-14 18:11] krzyzacy commented on #4504
I don't have bandwidth now -  can you send a PR? Or flip always_run for now?

[2017-09-14 18:14] luxas commented on #4504
`always_run` doesn't work either... :(
tbh, I don't understand exactly where the current issue is

[2017-09-14 18:17] kargakis commented on #4504
@luxas bad timing. plank:0.43 needs to run for one day before redeploying 0.44 that contains the max_concurrency fix. Not sure how are we going to deploy a possible fix for `run_after_success` jobs. Maybe fix it on a separate branch that doesn't contain the max_concurrency changes, and apply it also on top of the max_concurrency fix? cc: @spxtr

[2017-09-14 18:17] fejta commented on #4568
We need to:

- [ ] Clean up the jenkins nodes
- [ ] Fix bootstrap
- [ ] Fix maintenance jobs
- [ ] Identify and retest effected PRs

[2017-09-14 18:21] stevekuznetsov commented on #4564
Oh, this is a link _to_ Gubernator from your Prow instance.

/area prow
/remove-area gubernator

[2017-09-14 18:27] ixdy commented on #4568
^ I believe all but #4 have been done.

[2017-09-14 18:29] fejta commented on #4568
Cleaning up nodes is in progress

[2017-09-14 19:19] sebastienvas commented on #4564
I think this is related to https://github.com/kubernetes/test-infra/pull/4565#issuecomment-329577235.
I have a suspicion that https://github.com/kubernetes/test-infra/pull/4468 introduced this issue. FYI I'll be going back to 0.41 on prow.istio.io

[2017-09-14 19:29] kargakis commented on #4564
@sebastienvas you need to follow what's outlined in https://github.com/kubernetes/test-infra/pull/4565#issuecomment-329575012 for deploying 0.43 since there is a breaking change in prow (see https://github.com/kubernetes/test-infra/tree/master/prow#announcements). After you deploy 0.43, update the prow config to GC pods older than 1h in order to fast forward pod GC, and after 1h you should be good

[2017-09-14 20:09] krzyzacy opened #4571 "Boskos server fail to claim pv after restart/reschedule from the node"
/area boskos
/assign

[code]

redeploy fixes it, but still want to fix the actual issue.

[2017-09-14 20:13] kargakis commented on #4571
The events is cryptic. @kubernetes/sig-storage-misc how can we debug this kind of issues?

[2017-09-14 20:13] sebastienvas commented on #4564
I can also delete all my pods and prowjobs right ?
I don't see how this will fix the missing buildId in the link do you know ?

[2017-09-14 20:19] kargakis commented on #4564
I am not sure what's the exact issue you are seeing, I can't find any pending job currently. What version of deck are you running?

[2017-09-14 20:19] msau42 commented on #4571
You need to look for the volume in kubelet.log

[2017-09-14 20:20] kargakis commented on #4564
Regarding the migration step, if you don't have any running jobs, you don't need to do it.

[2017-09-14 21:14] krzyzacy commented on #4571
(hummm seems it just happened again cc @jingxu97  (was investigating offline try to find some clue))

[2017-09-14 21:37] #4406 closed

[2017-09-14 22:03] kargakis commented on #4564
Sorry, actually, you need the labeling step so that the pods will be eventually GC'd by the new version of sinker.

[2017-09-14 23:06] fejta opened #4577 "Plank ought to handle evicted pods"
/cc @spxtr @kargakis

Pods that reach a state of Failed/Evicted should be recreated by plank.

We want to distinguish between a pod that fails because the container exited non-zero (aka test failed, which is expected final result) and a pod that failed because of the death of a node and/or eviction (test has not completed, so we want to reschedule it)

Talked to Dawn and Michael from sig-node abou

[2017-09-14 23:07] fejta commented on #4577
/area prow

[2017-09-14 23:15] crimsonfaith91 opened #4578 "kubetest README file needs to be revamped"
I am new to kubetest. I wrote an upgrade test similar to [this](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/upgrades/apps/deployments.go), and wish to run the test using kubetest.

I am able to get kubetest installed and built, but when running `kubetest -up`, there is an error message running: `Something went wrong: starting e2e cluster: error during ./hack/e2e-internal/e2e-up.s

[2017-09-14 23:16] fejta commented on #4577
Related:  https://github.com/kubernetes/test-infra/pull/4459 and
 https://github.com/kubernetes/test-infra/pull/4413

[2017-09-14 23:19] krzyzacy commented on #4578
what's your kubetest args? can you paste your full command?

[2017-09-14 23:20] fejta commented on #4577
IMO #4459 (which was written as a result of #4413 code review) is correct -- we don't want plank to delete pods as soon as they finish.

However we do want to delete failed pods that fail for system reasons (node loss, evicted by kubelet, etc) that are not related to the container.

[2017-09-14 23:22] crimsonfaith91 commented on #4578
Just `kubetest -up` initially.
Afterwards, i tried with `kubetest -up -upgrade-args=ginkgo-focus="ReplicaSet" -gcpproject="upgrade"`.
Upgrade GCP project is a cluster that i created using GCP console.

[2017-09-14 23:26] crimsonfaith91 commented on #4578
I can observe that the error happens when running hack script `e2e-up.sh` for flag `-up`. It is before running any script involved for flag `-upgrade-args`.

[2017-09-14 23:26] fejta commented on #4577
related: https://github.com/kubernetes/test-infra/issues/4463

[2017-09-14 23:28] krzyzacy commented on #4578
oh - it cannot find `./hack/e2e-internal/e2e-up.sh`, you probably want to run it from your kubernetes repo root

[2017-09-14 23:31] kargakis commented on #4577
/assign

[2017-09-14 23:31] crimsonfaith91 commented on #4578
I did ran it from my kubernetes repo root with command: `../test-infra/kubetest/kubetest -up -upgrade_args=ginkgo-focus="ReplicaSet" -gcp-project="upgrade"`

The reason i didn't indicate `../test-infra/kubetest/kubetest` in previous comment as i can do a symlink to kubetest binary.

[2017-09-14 23:55] crimsonfaith91 commented on #4578
I will update the README file accordingly.
/assign

[2017-09-15 01:07] #4568 closed

[2017-09-15 02:55] BenTheElder opened #4581 "Prow logs should support multiple containers"
The new toy dind based job has two containers, so clicking [the deck link for logs](http://prow.k8s.io/log?job=pull-kubernetes-dind-build&id=1) gives:

`
Log not found: response has status "400 Bad Request" and body "{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"a container name must be specified for pod 2f81a0bf-99c0-11e7-89f9-0a580a6c0315, choose one of: [2f81a0b

[2017-09-15 02:55] BenTheElder commented on #4581
/area prow

[2017-09-15 04:15] sebastienvas commented on #4564
I am running a custom version as I needed a fix until my PR is reviewed (not related to this issue), but once you update to the latest version of plank. you ll see it in kubernetes like I saw it yesterday night before you guys rolled back.

[2017-09-15 04:57] #4577 closed

[2017-09-15 06:26] #2789 closed

[2017-09-15 06:28] fejta commented on #2555
/area testgrid

I'm inclined to make solve this with testgrid and not prow. IMO is out of scope for prow. Thoughts?

[2017-09-15 06:29] fejta opened #4584 "CD (daily release?) for prow"
/area prow

We are having problems releasing prow. We should deploy first two a non-prod instance and make sure it works there before updating the real thing.

/cc @spxtr @cjwagner @krzyzacy

[2017-09-15 06:48] krzyzacy commented on #4584
yeah, have a prow-canary cluster, similar to testgrid, and maybe run a few canary jobs there, will be helpful. We can staging boskos there at the same time.

[2017-09-15 07:14] spxtr commented on #4584
It's a good idea, although it's pretty tricky to do well. How do we plan to make sure it works? Do we have it run tests against a fake PR in a test repo on GitHub? It seems like that's the only way to do it properly.

[2017-09-15 08:22] #3315 closed

[2017-09-15 08:22] #3317 closed

[2017-09-15 08:22] #3318 closed

[2017-09-15 08:22] #3319 closed

[2017-09-15 09:19] kargakis commented on #4584
FWIW, the problem is related to plank specifically. The rest of the components are easier to roll out. We don't need anything Github-related to test plank. Stand up a cluster, run `mkpj` in a loop to create load, monitor plank? I don't know exactly what "monitor" means in this case, ie. when do we fail the test? Prometheus metrics are likely to help but we would need to run prometheus too.

[2017-09-15 09:50] kargakis commented on #4463
I started working on this issue today but now I feel that simply lowering maxPodAge should be enough, eg. https://github.com/kubernetes/test-infra/pull/4576

With this option we get into arguments like: should it respect maxPodAge? Should maxPodAge respect this option? Assuming pods push artifacts out to something (GCS bucket, ...), we don't need them to be long-lived. Probably not all of them do

[2017-09-15 09:57] kargakis commented on #4463
Btw, there is a controller in Kubernetes that is garbage-collecting pods after they exceed a threshold:
https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/podgc

and is controlled via a flag in the controllre manager:
[code]

[2017-09-15 11:07] luxas commented on #2555
@fejta I think I just read somewhere that prow now supports notifying about test failures to Slack...
Did I misunderstand that or...?

[2017-09-15 12:46] kargakis commented on #4504
Opened https://github.com/kubernetes/test-infra/pull/4586

[2017-09-15 13:08] luxas commented on #4504
Thanks @kargakis!

[2017-09-15 15:15] krzyzacy commented on #4571
@msau42 I think it's something else - this time it took 6h and still not get ready - let's get the statefulset conversion asap

[2017-09-15 15:36] krzyzacy commented on #4584
Flaky tests are fine, that's part of kubetest staging.

[2017-09-15 18:30] jingxu97 commented on #4571
From the the log, I see the following issue

1. Replica_set created a new pod boskos-3859550540-j5cgh
[code]
2. Volume is attached to node gke-prow-default-pool-42819f20-pbpz
[code]

3. Some time later, another pod for the replica_set is created, but the previous is never gets deleted.
[code]

4. Attach volume failed because it was still attached by the first pod
[code]

Between the first pod and

[2017-09-15 20:23] krzyzacy commented on #4571
@foxish ^^ more findings from @jingxu97 , any thoughts, can it be a potential replicaset problem? Or that's expected when node is under disk pressure?

- For this issue now we are living in the wonderful world of statefulset already, thanks @msau42 !

[2017-09-15 20:46] foxish commented on #4571
Hmm, my guess is - we changed the node controller behavior to not automatically cleanup pods on unhealthy nodes in 1.5. The cleanup will happen only when the nodes are deleted from the API.
So, when the node goes unready/fails, the pods go into an "unknown" state and stay stuck with the mounted volume. The controller knows to create replacements but they cannot mount the volume. The fix would be -

[2017-09-15 20:56] saad-ali commented on #4571
@foxish that makes sense, the detach code does not kick in unless the pod is in failed or succeeded states or deleted. So if it goes into unknown state the volume will remain attached (the safe behavior).

Why didn't that happen in @krzyzacy's case?

[2017-09-15 20:56] jingxu97 commented on #4571
For replica_set controller, it will not delete the unknown state pod before creating a new pod? How the controller counts the number of pods in the replica_set, it does not count the unknown status pod?

[2017-09-15 20:58] krzyzacy commented on #4571
we have gke node-auto-repair on, and that should auto fixing any unhealthy nodes?

[2017-09-15 21:09] foxish commented on #4571
Yeah, the pod will get the `deletionTimeStamp` set and all the workload controllers know to ignore "to-be-deleted" pods when accounting for running pods.
Does the attach-detach controller react to that?

[2017-09-15 21:32] jingxu97 commented on #4571
We don't detach volume from "to-be-deleted" pod. Only after pod is deleted from API server, controller will detach.

[2017-09-15 21:36] jingxu97 commented on #4571
@saad-ali Based on @foxish description, I think there is a mismatch between replication_set controller and attach_detach controller.

If a pod is in "unknown" state, replication_set controller will not count this as running pod and start a new one. But attach_detach_controller will not detach until the "unkown" pod is deleted from api server. If no garbage collection happen for this "unknown" pod

[2017-09-15 21:58] saad-ali commented on #4571
Attach/detach controller does react to pod deletion events: if the pod's `deletionTimeStamp` is set and containers are terminated (see https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/volumehelper/volumehelper.go#L103) the attach/detach controller will trigger the detach operation.

However it does not trigger detach if the pod state is "Unknown" because we don't want to detach

[2017-09-15 22:15] coffeepac opened #4591 "Prow issue: please disable the github triggered slack-pinging robot"
this is an impressive amount of noise.  whenever it fires it clears the current window of conversation in slack.

[2017-09-15 22:18] BenTheElder commented on #4591
/cc @cjwagner
I'm pretty sure this bot should only be posting manual merges in #kubernetes-dev now (?)

[2017-09-15 22:23] coffeepac commented on #4591
ahh, that would be great.

[2017-09-15 22:25] BenTheElder commented on #4591
The functionality still exists, but for now I think we will only test it on #sig-testing (https://github.com/kubernetes/test-infra/pull/4573)

[2017-09-15 22:28] coffeepac commented on #4591
I didn't see any of these messages until this morning/late last night after I was done (I'm PDT).  Most recent message I've seen was in sig-storage 37 minutes ago.  was there a config/deployment change since then?

[2017-09-15 22:31] jingxu97 commented on #4571
I checked the log again. I think there are a number of cases that the node is not marked as not ready. No record of the pod status. But somehow replica_set controller starts a new pod because the count of running pod is no longer 1. But the new pod cannot attach the volume because it is still attached to different node. Eventually the old pod is deleted, but that's because @krzyzacy manually delet

[2017-09-15 22:39] kargakis commented on #4571
Yeah, PVs and ReplicaSets/Deployments don't play well. @krzyzacy can we close this issue now that boskos moved to a StatefulSet?

[2017-09-15 22:40] kargakis commented on #4591
Fixed by https://github.com/kubernetes/test-infra/pull/4573

[2017-09-15 22:40] #4591 closed

[2017-09-15 22:40] krzyzacy commented on #4571
yeah I'll close the issue, but we can keep the discussion going :-)

[2017-09-15 22:40] #4571 closed

[2017-09-15 22:41] coffeepac commented on #4591
Thanks @kargakis and @BenTheElder !

[2017-09-15 22:45] jingxu97 commented on #4571
@kargakis But it seems like for some reason replica_set controller tries to create a second pod even the node status does not change to "NotReady". I am not sure the pod status. Might need to check the kubelet log.

[2017-09-15 22:47] kargakis commented on #4571
The ReplicaSet controller will create a replacement as soon as the previous pod is marked for deletion. RC/RS/D are optimized for availability.

[2017-09-15 23:40] jingxu97 commented on #4571
I got the more information from kubelet log.

The events happened as follows
1. Replica_set create pod1, attach volume to node 1
2. Node 1 is under pressure, eviction manager evict pod1, but there is not event for pod delete from API server. So attach_detach_controller does not know the pod is evicted.
3. Replica_set create a second pod2, but attach volume failed

the following log from kukbelet d

[2017-09-16 03:54] dashpole commented on #4571
It should not be deleted from the api server when it is evicted.  This allows introspection of the pod after it is evicted.

I believe the correct behavior here is for the attack_detach_controller to identify that the Pod.Status.Phase == Failed or Succeeded.  The only part I am not sure of is if there is a requirement for the volume to be unmounted before it is detached.  In that case it may be tr

[2017-09-17 01:25] liggitt opened #4597 "Failed to append to gs://kubernetes-jenkins/pr-logs/.../pull-kubernetes-unit/jobResultsCache.json#0"
Seeing PR unit failures with "out of space" messages like "Failed to append to gs://kubernetes-jenkins/pr-logs/pull/52603/pull-kubernetes-unit/jobResultsCache.json#0"

https://github.com/kubernetes/kubernetes/pull/52602
https://github.com/kubernetes/kubernetes/pull/52603

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52603/pull-kubernetes-unit/53802/
https://k8s-gubernat

[2017-09-17 04:41] stevekuznetsov commented on #4597
/area bootstrap
/kind bug
/cc @fejta

[2017-09-17 04:41] stevekuznetsov commented on #4597
/cc @BenTheElder

[2017-09-17 04:53] BenTheElder commented on #4597
I don't think this is a bootstrap bug, `pull-kubernetes-unit` is a Jenkins job, I'm guessing the worker ran out of disk?
/cc @krzyzacy

[2017-09-17 20:26] kargakis opened #4599 "golint breaks when files are removed in a PR"
[code]
https://github.com/openshift/origin/pull/14910

@spxtr
/area prow
/kind bug

[2017-09-17 21:48] kargakis commented on #3396
Interesting discussion in the following links:
https://github.com/kubernetes/kubernetes/issues/43576
https://github.com/kubernetes/ingress/issues/322
https://github.com/kubernetes/kubernetes/issues/20473
https://github.com/kubernetes/community/pull/483

[2017-09-17 22:05] #4463 closed

[2017-09-18 01:15] liggitt commented on #4597
seeing similar issues in other jobs

https://k8s-gubernator.appspot.com/pr/52604
https://prow.k8s.io/log?job=pull-kubernetes-e2e-gce-etcd3&id=54727

[code]

[2017-09-18 05:49] spxtr commented on #4599
Ooh, that's right. We can either change [`modifiedGoFiles`](https://github.com/kubernetes/test-infra/blob/4bc31c844807754a861218b550999278b100a2dc/prow/plugins/golint/golint.go#L61-L86) to handle the status of the [`PullRequestChange`](https://github.com/kubernetes/test-infra/blob/4bc31c844807754a861218b550999278b100a2dc/prow/github/types.go#L125-L134) object (btw I think that json tag is wrong),

[2017-09-18 05:51] spxtr commented on #4581
Currently prow [names your container for you](https://github.com/kubernetes/test-infra/blob/4bc31c844807754a861218b550999278b100a2dc/prow/pjutil/pjutil.go#L135). Why does the dind job need two containers?

[2017-09-18 06:12] BenTheElder commented on #4581
The second container hosts the docker daemon in docker using the official
docker dind image. We could probably replicate this as part of the other
images but that didn't seem ideal for experimentation.

On Sep 17, 2017 22:51, "Joe Finney" <notifications@github.com> wrote:

[2017-09-18 13:30] stevekuznetsov opened #4602 "k8s-ci-robot result comment grid has stale results while new jobs are running"
When someone issues a `/retest` the result matrix has a link to failed results from the past even when a new build of that job is running.

/area prow
/kind bug
/cc @kargakis

[2017-09-18 15:58] xiangpengzhao commented on #4602
Sometimes the stale results are useful to me. Say I may want to check some more details for the failed jobs when the new jobs are running. It's hard to find the link if there is no result comment.

[2017-09-18 16:15] stevekuznetsov commented on #4602
You should always be able to see historical results in the Gubernator link. Right now we have a lot of new users being very confused by issuing `/retest` and seeing immediately failures when the new jobs are still running.

[2017-09-18 16:17] xiangpengzhao commented on #4602
Hmm...I'm on the fence... :smile:

[2017-09-18 16:21] stevekuznetsov commented on #4602
I don't know. The comment, as a statement of "this is the current state of testing for your PR," is incorrect today. New users are constantly being confused by this. We already have a mechanism to show historical data. At the very least we need to be clear that the test failed but we still are re-running it. Developers are not getting the right feedback for their `/retest` action today.

[2017-09-18 16:33] xiangpengzhao commented on #4602
Agree that it's confused for some new contributors to see the failure existing when a re-test is running. But it's not easy to find historical data for the tests if there isn't a link shown somewhere. Most people can't remember the link. Fortunately, most people don't care about the historical failures, either:)

[2017-09-18 16:34] stevekuznetsov commented on #4602
The link to Gubernator should be in the same comment, just a couple lines lower.

[2017-09-18 16:34] jingxu97 commented on #4571
attach_detach_controller on master and volume manager on kubelet will make sure to not detach while it is still mounted. So when pod is evicted, I think volume manager should unmount the volume and then attach_detach_controller will detach the volume from the node. File an issue for this

[2017-09-18 16:42] xiangpengzhao commented on #4602
If all failed tests are re-running, as is expected in this issue, the comment will be removed, right? So I still can't find the link at that very time.

[2017-09-18 16:50] spxtr commented on #4602
I'm on the fence about this. The current state is shown in the status lines at the bottom of the PR.

You can if you know how to go from the details link.

[2017-09-18 17:02] xiangpengzhao commented on #4602
So I can't if I don't know :) and maybe this is one of the reasons why we want that comment :smile:

[2017-09-18 17:03] stevekuznetsov commented on #4602
I guess I should re-frame this. Right now the dual messaging is:
 - confusing new users (and the fact that old users are used to it and not confused is not a good thing either)
 - not giving developers the feedback they need when they push `/retest`

We should find a way to address that.

[2017-09-18 17:19] xiangpengzhao commented on #4602
Maybe we can modify the comment to tell contributors which results are stale and which are fresh.

[2017-09-18 17:20] stevekuznetsov commented on #4602
I was thinking about that, but we already have a place to put stale results, and that's the historical grid in Gubernator.  I don't see a compelling reason to invent a new place for it but we could add a column I guess.

[2017-09-18 17:26] xiangpengzhao commented on #4602
SGTM :)

[2017-09-18 17:34] #4099 closed

[2017-09-18 17:35] spiffxp opened #4603 "jenkins isn't running presubmits?"
Submit queue is timing out waiting on presubmits

https://submit-queue.k8s.io/#/history
eg:

Prow isn't showing any results for presubmit jobs that run on jenkins:
http://prow.k8s.io/?type=presubmit&repo=kubernetes%2Fkubernetes

This is usually a sign that jenkins (or its agents) is down

[2017-09-18 18:44] kargakis commented on #4599
/assign xiangpengzhao

[2017-09-18 20:07] Cynerva commented on #4245
I've hit this a few times. Here are some examples where `/approve no-issue` didn't work for me, in case it helps:

https://github.com/kubernetes/kubernetes/pull/52663#issuecomment-330296135
https://github.com/kubernetes/kubernetes/pull/52445#issuecomment-329293933
https://github.com/kubernetes/kubernetes/pull/50633#issuecomment-322287799

It seems like I was able to do this as recently as Jul 27,

[2017-09-18 21:37] spiffxp opened #4613 "prow/size: +5 -3 PR currently has size/XXL label applied"
https://github.com/kubernetes/kubernetes/pull/52589

It may have initially been a much larger PR?

https://github.com/kubernetes/kubernetes/pull/52589#issuecomment-330347315

Maybe retargeting triggered an event the size plugin ignores?

[2017-09-18 21:41] spxtr commented on #4613
Interesting! Looks like [this list](https://github.com/kubernetes/test-infra/blob/b82b634d8fa4af8451f70051158478c659c6efe1/prow/plugins/size/size.go#L53-L58) isn't complete, since PR edit events can also change the diff. @nlandolfi might be busy these days with school, so if anyone else wants to jump on and fix then I'd appreciate it. It's an easy fix.

[2017-09-19 00:24] ixdy commented on #3151
/sig testing

[2017-09-19 00:25] ixdy commented on #3151
@kubernetes/sig-testing-feature-requests

[2017-09-19 01:13] kargakis commented on #4550
Handling the error type should be fine for now. Will submit a PR tomorrow.

[2017-09-19 01:56] xiangpengzhao commented on #4613
/assign

[2017-09-19 02:02] xiangpengzhao commented on #4613
PR #4627 sent :)

[2017-09-19 09:37] gmarek opened #4628 "Don't use bash colors in output if not in interactive session"
I may be mistaken, but I think garbage that's present in our log files are color codes. E.g.
[code]
They make the log file even harder to read. Can we please stop printing them if test is not run from the interactive session?

@kubernetes/sig-testing-bugs @kubernetes/test-infra-maintainers @shyamjvs @wojtek-t

[2017-09-19 09:41] #4613 closed

[2017-09-19 10:17] #4599 closed

[2017-09-19 10:21] shyamjvs commented on #4628
+1

[2017-09-19 11:20] xiangpengzhao opened #4629 "Bot's strange behavior in PR"
See in : https://github.com/kubernetes/kubernetes/pull/52706

* The PR has `needs-ok-to-test` label and no one commented `/ok-to-test` or `/lgtm`, but the tests are triggered.
* One of the tests failed, the bot didn't comment to tell what test failed.

[2017-09-19 11:54] xiangpengzhao commented on #4629
Also see `Error starting Jenkins job.` in https://github.com/kubernetes/kubernetes/pull/52702

Clicking the details will be redirected to https://github.com/kubernetes/test-infra/issues.

![image](https://user-images.githubusercontent.com/15881573/30591139-3654a692-9d74-11e7-9f7f-77d1303e8ee9.png)

[2017-09-19 14:55] mrIncompetent commented on #4629
Also happened in https://github.com/kubernetes/kubernetes/pull/52645

[2017-09-19 15:12] xiangpengzhao commented on #4629
See also in https://github.com/kubernetes/kubernetes/pull/52719

[2017-09-19 15:57] spxtr commented on #4628
cc @rmmh

[2017-09-19 16:32] mtaufen commented on #4628
According to the [Ginkgo](https://onsi.github.io/ginkgo/) docs, `--noColor` is the appropriate flag.

[2017-09-19 17:05] #4628 closed

[2017-09-19 17:24] kargakis commented on #4629
Yeah, this seems a Jenkins-related issue aka infra issue thats' why you are redirected to test-infra. There is already https://github.com/kubernetes/test-infra/issues/4603

[2017-09-19 17:33] fejta commented on #4628
Use gubernator and/or prow to view these logs, which handles them correctly.

[2017-09-19 17:52] ixdy commented on #4628
I agree with @fejta. We shouldn't disable colors in CI.

[2017-09-19 18:12] fejta commented on #4451
Update?

[2017-09-19 18:12] fejta commented on #4578
We should change the default value of `-v` to true

[2017-09-19 18:16] crimsonfaith91 commented on #4578
I also found out that some flags used in CI test environment can't be used for `kubetest`. I think they are deprecated. I am still experimenting with various `kubetest` flags - should be able to have a PR out by end of this week / beginning of next week.

[2017-09-19 18:24] BenTheElder commented on #4451
I think we can close this @krzyzacy.
They were removed in https://github.com/kubernetes/test-infra/pull/4507 which was fixed by https://github.com/kubernetes/test-infra/pull/4569 and https://github.com/kubernetes/test-infra/pull/4570.

[2017-09-19 18:26] fejta commented on #4629
Please reactivate if you find another example of a PR that is triggering tests when it shouldn't.

[2017-09-19 18:26] #4629 closed

[2017-09-19 18:31] fejta opened #4635 "Only run required PRs on jenkins"
Jenkins is unstable and falls over if too many tests are requested to run on it.

We run as few jobs on jenkins as possible. Ergo, we should stop running non-blocking presubmits on jenkins.

ref https://github.com/kubernetes/test-infra/issues/4603

[2017-09-19 18:31] fejta commented on #4635
/area jenkins

[2017-09-19 18:34] fejta opened #4636 "Add timeouts to maintenance-*-all jobs"
The maintenance-*-all jobs do not define a timeout (compare L35 and L39)
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/bootstrap-maintenance.yaml

This means that if one of the maintenance-* jobs fails to run on one of the agents, we stop running the maintenance job on all the other agents, which quickly causes the system to fall over.

ref: https://github.com/kubernetes

[2017-09-19 18:57] BenTheElder opened #4637 "PR jobs using jenkins should only be always_run if they are blocking"
We need to reduce pressure on jenkins right now in particular during the code freeze. There are a few `pull-kubernetes-*` jobs that are non-blocking but also `agent: jenkins` and `always_run: true`. We should flip these jobs to `always_run: false`.

This was discussed with the community in "sig-testing test-infra oncall standup" today.

/area jenkins
/assign

[2017-09-19 19:06] kargakis commented on #4637
https://github.com/kubernetes/test-infra/pull/4630 should help

[2017-09-19 19:09] BenTheElder opened #4638 "Manual trigger for pausing testing"
@rmmh mentioned in the community "sig-testing test-infra oncall standup" meeting today that it might be helpful to have a manual switch we can use to temporarily shed testing load while we are EG fixing Jenkins.

My thoughts are:
- Open a test-infra issue with a special label that will disable triggering in Prow
- Have the trigger plugin reply to trigger attempts with a comment linking to the test

[2017-09-19 19:34] spxtr commented on #4638
It's an interesting idea, and certainly possible. However, I'm not sure it's worth the effort to automate all of this.

Instead, it might be worth adding a label called something like `kind/incident` and then linking to [a search for that label](https://github.com/kubernetes/test-infra/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Akind%2Fincident) instead of just all test-infra issues.

[2017-09-19 19:38] BenTheElder commented on #4638
My intention that the commment should link to the test-infra issue which currently has the label (`kind/incident` then) causing the trigger to be ignored. Linking to a search might be simpler but I think it might be more useful to see the specific incident associated with the comment. I definitely think that it should be done via a label on an issue tracking the incident.

I'm not sure it would ta

[2017-09-19 19:46] #4637 closed

[2017-09-19 19:47] fejta commented on #4636
/assign @krzyzacy @fejta

[2017-09-19 19:47] fejta commented on #4635
/assign @BenTheElder @ixdy

[2017-09-19 19:47] BenTheElder commented on #4637
@kargakis thanks, I will look at #4630 soon :smile:

[2017-09-19 19:48] BenTheElder commented on #4635
https://github.com/kubernetes/test-infra/issues/4637 :-)

[2017-09-19 19:48] #4635 closed

[2017-09-19 20:56] spiffxp commented on #3331
discussed during sig-testing today; some mungers can be moved out, some can't (or we'd like to obviate, eg: submit-queue for tide)

will update this issue with a full list

[2017-09-19 20:56] mindprince opened #4642 "Make pull-kubernetes-e2e-gce-gpu blocking"
The `pull-kubernetes-e2e-gce-gpu` job has been running for a while on every PR and has been reasonably non-flaky: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-gpu

We recently stopped running all non-blocking tests on every PR in #4640.

I would like to make the `pull-kubernetes-e2e-gce-gpu` blocking if there are no objections.

[2017-09-19 20:57] mindprince commented on #4642
/assign @krzyzacy @BenTheElder @fejta

[2017-09-19 20:57] mindprince commented on #4642
/cc @vishh

[2017-09-19 21:00] BenTheElder commented on #4603
This has already been highlighted elsewhere, but /cc @krzyzacy for folllow up (maybe this can be closed now with a note about what happened?)

[2017-09-19 21:07] krzyzacy commented on #4642
cc @spiffxp

[2017-09-19 21:08] stevekuznetsov commented on #3331
We've got a migration of `docs-only-retest-not-required` incoming

[2017-09-19 21:09] krzyzacy commented on #4603
Sorry, and update: @fejta rebooted failed VMs, and https://github.com/kubernetes/test-infra/pull/4641 will add the timeout for maintenance jobs.

Currently Jenkins is running fine, will still need to keep an eye on it.

[2017-09-19 21:12] krzyzacy commented on #4642
Let's make the gpu job working on prow instead of Jenkins and we can make it always run and blocking. @BenTheElder is working towards it.

[2017-09-19 21:36] BenTheElder commented on #4642
ref https://github.com/kubernetes/test-infra/pull/4639 for the most recent PR, I've had a job pass now and once that config is updated I expect this should work. we can probably officially migrate to prow soon but I want to see it pass more :-)

[2017-09-19 21:37] fejta commented on #4603
Things to keep an eye on:
* Have we merged something recently? https://submit-queue.k8s.io/#/history
* Do batch results look sane? http://prow.k8s.io/?type=batch
* Have the daily and hourly tabs ran recently? https://k8s-testgrid.appspot.com/sig-testing

[2017-09-19 21:39] krzyzacy commented on #4603
ohhh I was misleaded by https://submit-queue.k8s.io/#/history, we probably want to highlight *Merged* there

[2017-09-19 21:43] fejta commented on #4603
This kind of message in `#history` is a strong signal that jenkins is sad:
`Timed out waiting for PR 52561 to finish testing`

These are signals everything is happy:
`MERGED!` or `MERGED! (batch)`

This is a signal that prow and jenkins are happy, but tests may or may not (depending on the PR) be healthy:
`Second github e2e run failed.`

[2017-09-19 21:55] krousey opened #4646 "Search for test infra changes"
Often when debugging issues on testgrid, I drag between two build and then click search for changes. That does me the convenience of finding all the changes between the 2 commits in the repo so I can see what changed. Occasionally, the issue I'm looking for is actually in the test infra structure. And I noticed that the second row of commits if for test infra.

It would be nice to have a context m

[2017-09-19 21:57] krzyzacy commented on #4646
cc @michelle192837

[2017-09-19 21:57] #4636 closed

[2017-09-19 22:38] kargakis commented on #4504
/area prow
/assign

[2017-09-19 22:57] BenTheElder commented on #4642
Following up, I've gotten one run in since #4639, and it was succesful.
Runs [here]( http://prow.k8s.io/?type=presubmit&repo=kubernetes%2Fkubernetes&pull=46662&job=pull-kubernetes-e2e-gce-gpu-prow), `Sep 19 22:17:49` is the start time of the first one after that PR.
Also [here](https://k8s-gubernator.appspot.com/pr/46662) under `pull-kubernetes-e2e-gce-gpu-prow`.

I will run more and keep an eye o

[2017-09-19 23:07] spiffxp commented on #3366
I no longer have any context for what this is/was, but if the aforelinked issue/PR don't cover it, https://github.com/kubernetes/test-infra/pull/4169 probably does.  Please re-open if I'm misunderstanding

[2017-09-19 23:07] #3366 closed

[2017-09-19 23:10] spiffxp commented on #1790
/close
Closing due to inactivity.  If we find any more quirks we can reopen this.

[2017-09-19 23:10] #1790 closed

[2017-09-19 23:11] dims commented on #4628
Looks like this is a `wont-fix`hence the revert of #4631

[2017-09-20 00:33] spiffxp commented on #2418
I can't tell whether this is done or still needs to be open, hoping @zmerlynn can fill in context.  It looks like the temporary workaround may have gotten removed in https://github.com/kubernetes/test-infra/pull/3818.  Looking at ci-kubernetes-e2e-gke-* logs it doesn't look like gcloud's kubectl component is installed.

[2017-09-20 00:51] krzyzacy commented on #4603
Jenkins looks fine as of right now, I'll close for now.

[2017-09-20 00:51] #4603 closed

[2017-09-20 00:59] fejta commented on #4646
/area testgrid

[2017-09-20 01:00] fejta commented on #4603
Woo!

[2017-09-20 01:05] krzyzacy commented on #4603
maintenance-all-daily has been running (It fails on some nodes, probably need a separate issue?)

[2017-09-20 01:06] BenTheElder commented on #4642
This also [works on release-1.7](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52755/pull-kubernetes-e2e-gce-gpu-prow/14/) and has [4 succesful runs](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-gpu-prow) since #4639.
I think we can probably switch the GPU job to run on Prow any time @mindprince.

[2017-09-20 01:07] fejta commented on #4603
thanks for the diligent work Sen 🥂

[2017-09-20 01:09] krzyzacy commented on #4642
I think we can flip it to prow now to give @mindprince more signals :-)

[2017-09-20 01:24] mindprince commented on #4642
Awesome. Thanks guys!

[2017-09-20 03:29] krzyzacy commented on #4642
We'll watch the job for a few days (until code freeze maybe), and @mindprince you will want to propose to release team to make the job blocking (maybe join our burndown meeting next Monday?) :-)

[2017-09-20 08:20] gmarek commented on #4628
Ekhm - I'm using gubernator to look at those logs, but I always do "Raw build logs", as scalability test logs are, well, large and gubernator historically had problems dealing with them. I'm fine with stripping them from raw build logs view.

[2017-09-20 10:16] kargakis commented on #4584
Another idea I have been contemplating lately is the ability to shard the workload  so we can run new and old controllers (plank, jenkins-operator) side by side. A controller may be configured to handle tests for specific repositories as opposed to all of them. For example, say `plank:latest-1` is stable, we could configure it to handle all but test-infra tests, and run a new deployment with `plan

[2017-09-20 16:33] xiangpengzhao opened #4658 "Retest approved and lgtm'd PRs which have milestone for a future release?"
Do we want fejta-bot to retest approved and lgtm'd PRs which have milestone for a future release? Even though it passes all the tests, it can't be merged in this milestone. So we may not want to waste the test resource for such case.
See example: kubernetes/kubernetes#52235

xref: https://github.com/kubernetes/test-infra/pull/4656

cc @kargakis @fejta

[2017-09-20 17:45] krzyzacy commented on #4368
[code]

that instance group is busted (I cannot even manually delete it), asking help from gcloud team and the job should be green afterwards.

[2017-09-20 20:37] BenTheElder opened #4662 "status updates for run_after_success jobs seem to be bugged"
Observed in the wild here:
https://github.com/kubernetes/kubernetes/pull/51064#issuecomment-330968747

[The kubeadm job failed](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51064/pull-kubernetes-e2e-kubeadm-gce/7151/) but was still marked as `"Parent Job Status Changed: Job triggered."`

/cc @luxas @kargakis

[2017-09-20 20:40] BenTheElder commented on #4662
/cc @dims

[2017-09-20 20:52] kargakis commented on #4662
The kubeadm job was never meant to trigger for the linked PR (see `run_if_changed` below; fixed by https://github.com/kubernetes/test-infra/pull/4586)
https://github.com/kubernetes/test-infra/blob/b4a4bd5a8c4f15c9cd4d40a371edf8242663e140/prow/config.yaml#L93-L98
Also, it was never meant to report (`skip_report: true`). Maybe https://github.com/kubernetes/test-infra/pull/4563 was deployed in the me

[2017-09-20 20:54] krzyzacy commented on #4662
hummm, @kargakis we are still running 0.46

[2017-09-20 20:58] kargakis commented on #4662
Anything interesting in the plank log?

[2017-09-20 21:08] krzyzacy commented on #4662
nothing from plank
hook has bunch of
`
{"context":"pull-kubernetes-e2e-kubeadm-gce","id":1563938134,"level":"info","msg":"Status description Parent Job Status Changed: Job triggered..","org":"kubernetes","repo":"kubernetes","sha":"e0f11befdf1a5180678ba3853dc90c4a7de99164","state":"pending","time":"2017-09-20T19:27:22Z"}
`

[2017-09-20 21:29] grodrigues3 opened #4664 "Kubelet Tests Not Listed in 1.8 Release Blocking"
For [1.7](https://k8s-testgrid.appspot.com/release-1.7-blocking) we had the node tests listed but for [1.8](https://k8s-testgrid.appspot.com/release-1.8-blocking) we are missing them.

Can we update the dashboard?

@kubernetes/sig-release-feature-requests

[2017-09-20 21:29] grodrigues3 commented on #4664
cc @jdumars

[2017-09-20 21:32] jdumars commented on #4664
cc @ericchiang

[2017-09-20 21:38] krzyzacy commented on #4664
whoops - that's in https://k8s-testgrid.appspot.com/sig-node#kubelet-1.8, forgot to toss into release dashboard

[2017-09-20 21:46] #4664 closed

[2017-09-20 21:48] krzyzacy commented on #4642
@jdumars FYI

[2017-09-21 01:40] cjwagner commented on #4505
/assign

[2017-09-21 01:55] cjwagner commented on #4431
/assign
This issue is a duplicate of #4523
This was fixed in #4530

[2017-09-21 01:55] #4431 closed

[2017-09-21 02:44] spxtr commented on #4584
That's pretty much doable today, but I think @fejta was against the idea of using test-infra as our canary. Maybe he can say more? I'm not sure of a better way.

[2017-09-21 09:24] xiangpengzhao commented on #4603
Found `pull-kubernetes-e2e-gce-gpu — Error checking queue status.` in https://github.com/kubernetes/kubernetes/pull/52478

Does the error has something to do with this issue?

[2017-09-21 10:12] #4504 closed

[2017-09-21 10:34] kargakis commented on #4373
Things we need to validate:
- [ ] status.type and status.state is a known value
- [ ] avoid validating the agent so we can support out of tree agent controllers
- [ ] completion time is set on a pj with status.state == {success, failure, error, aborted}
- [ ] children jobs have the same pull+sha as parents for presubmits

I will keep this list updated as more things pop up.

[2017-09-21 11:38] kargakis commented on #2699
I am interested in seeing the following metrics:
- number of total prowjobs
- number of prowjobs in every state
- number of call outs to jenkins per sync
- number of call outs to github per sync

All of the above metrics need to be exposed by plank and/or jenkins-operator.

@Q-Lee

[2017-09-21 11:43] kargakis commented on #2699
More precisely

Number of succeeded and failed calls per sync

[2017-09-21 16:30] luxas commented on #4504
@kargakis @krzyzacy et al, can we reopen this to make the jobs respect `run_if_changed`?

[2017-09-21 17:38] krzyzacy commented on #4603
@xiangpengzhao that is already a prow job now. @BenTheElder  ^^

[2017-09-21 18:21] spiffxp commented on #1966
Calling this done with the linked PR

[2017-09-21 18:21] #1966 closed

[2017-09-21 18:24] spiffxp commented on #2259
clearing out the v1.7 milestone, if this is going to be worked it can be added to another milestone

[2017-09-21 18:29] spiffxp commented on #3344
metrics/velodrome
implemented https://github.com/kubernetes/test-infra/pull/4411
deployed https://github.com/kubernetes/test-infra/pull/4513
available at http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

we also have testgrid showing FLAKY on the summary page, and percentage of tests and jobs that have failed in the dashboard's time period

[2017-09-21 18:29] #3344 closed

[2017-09-21 18:30] spiffxp commented on #3356
aka kill jenkins, moving to v1.9

[2017-09-21 18:33] krzyzacy commented on #3356
/assign @BenTheElder
definitely making progress here

[2017-09-21 19:05] mindprince opened #4678 "Create a pool of gcp projects with gpu quota"
Currently, for each GPU test suite, we specify a particular gcp project that has gpu quota. Other (non-gpu) tests use projects from a pool. Let's create a pool of projects with gpu quota and make gpu test suites use that pool, so that we don't have to create new projects for new gpu test suites.

Here's a list of GCP projects that have gpu quota:
[code]

The first three are setup for GCE. The last

[2017-09-21 19:05] mindprince commented on #4678
/assign @krzyzacy
/cc @vishh @jiayingz

[2017-09-21 19:41] #4372 closed

[2017-09-21 19:54] BenTheElder commented on #3356
gce-gpu has been moved, federation just needs hyperkube / push-build sorted I think. there are definitely others.

[2017-09-21 20:03] krzyzacy commented on #4678
cc @BenTheElder

[2017-09-21 20:04] jessicaochen opened #4680 "Investigate configuring kuberentes anywhere commit used for e2e testing"
That way a new image does not need to be built every time we need to bump k8s anywhere.

[2017-09-21 20:05] jessicaochen commented on #4680
/assign @jessicaochen @pipejakob

[2017-09-21 20:36] pipejakob commented on #4680
For context, here is the comment that triggered this issue:

https://github.com/kubernetes/test-infra/pull/4679#issuecomment-331261103

[2017-09-21 20:51] mindprince commented on #4678
Okay the following projects:
[code]
have quota for 8 NVIDIA K80 GPUs in us-west1 now.

[2017-09-21 21:02] pipejakob commented on #4680
I'll admit that the initial implementation of this (doing a `git checkout` of a specific commit in the image runner) was just the quickest solution to get at the [desired behavior](https://github.com/kubernetes/kubeadm/issues/191), but now that I've thought about it, here is my defense of having the version in the runner.

I want our solution here to have two properties:

1) Upstream changes to ku

[2017-09-21 21:07] krzyzacy commented on #4680
I would suggest this SHA can be a env var in prow config -

ref https://github.com/kubernetes/test-infra/tree/master/prow#how-to-run-a-given-job-on-prow, you can mkpj to get your podspec, and simply sub out the SHA and pipe into `kubectl apply` if you want to test local changes. And I would suggest you have a canary job to test kubeadm head as well.

[2017-09-21 21:08] krzyzacy commented on #4680
Ultimately I think kuberneres-anywhere should have its own presubmit job :-)

[2017-09-21 21:30] pipejakob commented on #4680
I'm still not sure I understand the objection to bumping the image. Are we trying to save on storage? Is it a philosophical objection, or technical? We bump the image every time we change kubetest, for instance.

[2017-09-21 21:32] stevekuznetsov opened #4683 "jenkins-operator: prowjob for job in jenkins with no builds crashes the operator"
When we set up a new job in Jenkins with no builds and someone triggered it using `/test <name>` we saw the ProwJob get created, then the system ground to a halt as the `jenkins-operator` logs showed this:

[code]

Until we manually triggered a build.

Corollary: the thundering herd of builds to schedule once this got resolved is probably going to crash our master.

/area prow
/kind bug
/cc @karga

[2017-09-21 21:37] spiffxp commented on #3311
punting to 1.9

[2017-09-21 21:38] stevekuznetsov commented on #4683
In a perfect world Jenkins would not collapse under the weight of a couple hundred or a thousand queued jobs, but this is not the case. Maybe we should internally buffer a queue and spoon-feed Jenkins?

[2017-09-21 21:48] spiffxp commented on #3348
I think I heard @rmmh say this was being worked on during one of the on-call standups recently?

[2017-09-21 21:54] spiffxp commented on #3357
This shows as finished in the v1.9 planning doc, I believe due to https://github.com/kubernetes/test-infra/pull/4105. Pinging @BenTheElder in case there's any more context I'm lacking here.

[2017-09-21 21:54] #3357 closed

[2017-09-21 22:52] BenTheElder commented on #3357
Yes, this is pretty much done, we could do more to set up the repo with it though.

[2017-09-21 22:55] krzyzacy commented on #4680
@pipejakob I just feel that it's not flexible - for example if I want to test against kubeadm head, I cannot use  the current kubeadm image anymore? And plus @luxas don't have permission for pushing the image, but if it is configurable he can change the config easier.

[2017-09-21 23:42] spiffxp commented on #1632
/close
closing due to inactivity, and the fact that mungegithub is deprecated (https://github.com/kubernetes/test-infra/pull/4503)

please /reopen if you plan on working on this

[2017-09-21 23:42] #1632 closed

[2017-09-21 23:48] spiffxp commented on #1451
/close
I think we've had this working for a while, though no actions based on comment vs. approval vs. request-changes.  eg: /lgtm works in reviews as of https://github.com/kubernetes/test-infra/pull/2970

[2017-09-21 23:48] #1451 closed

[2017-09-21 23:51] #4678 closed

[2017-09-21 23:52] spiffxp commented on #2103
/close
We now have http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1 per #3344

[2017-09-21 23:52] #2103 closed

[2017-09-22 01:16] kargakis commented on #4683
This seems like an issue with our proxy. I will look into it tomorrow.

[2017-09-22 01:16] #4683 closed

[2017-09-22 01:50] kargakis commented on #4683
We can add slow starts in the controller similar to what was done recently for all workload controllers in https://github.com/kubernetes/kubernetes/pull/49142

[2017-09-22 01:54] kargakis commented on #4683
Or have a max_concurrency field that applies to all prowjobs globally.

[2017-09-22 01:57] kargakis opened #4691 "Avoid hammering agent api (k8s/jenkins) on herd of triggered prowjobs"
We could either implement slow starts (similar to https://github.com/kubernetes/kubernetes/pull/49142), or a global max_concurrency option that applies to all running jobs in the system.

@stevekuznetsov @spxtr
/area prow

[2017-09-22 01:58] kargakis commented on #4683
Opened https://github.com/kubernetes/test-infra/issues/4691

[2017-09-22 03:35] stevekuznetsov commented on #4691
Do we have the adequate feedback mechanism with Jenkins to know when to back off as we increase batch size? Agree that approach makes sense for Pods.

[2017-09-22 03:36] stevekuznetsov commented on #4691
Global maximum concurrency is probably easier though, and should be easy to set for Jenkins agents -- total number of executor slots + N.

[2017-09-22 05:14] BenTheElder commented on #4662
Hmm this still seems to be a problem: https://kubernetes.slack.com/archives/C09R23FHP/p1506049583000002

[The kubemark job also seems to be consistently failing](http://prow.k8s.io/?job=pull-kubernetes-e2e-kubeadm-gce). 😕

[2017-09-22 05:41] BenTheElder commented on #4662
/assign

[2017-09-22 06:21] BenTheElder opened #4693 "e2e jobs on Prow with Bazel are acting up"
Specifically the gke-gpu job. Something is screwy with the cache even though the extremely similar gce-gpu job is acting fine.

see: https://github.com/kubernetes/kubernetes/pull/46662#issuecomment-331321429
discussion here: https://kubernetes.slack.com/archives/C5NV3MT97/p1506038144000171

I've been debugging this myself and I've already asked @ixdy and @krzyzacy to take a look and we've noticed

[2017-09-22 06:22] BenTheElder commented on #4693
Hmm this should really be something like `area/bazel`. Maybe we need a label @ixdy :-)

[2017-09-22 06:32] BenTheElder commented on #4693
Ref: https://github.com/kubernetes/test-infra/pull/4689#issuecomment-331344498
The same problem (?) spotted on @krzyzacy's kops port-to-prow :confused:
Example of dirty tree results: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-e2e-kops-aws-prow/2/

[2017-09-22 06:36] BenTheElder commented on #4693
So the dirty workspace issue at least seems to consistently happen with `pull-kubernetes-e2e-kops-aws-prow` and `pull-kubernetes-e2e-gke-gpu` currently but not `pull-kubernetes-e2e-gce-gpu` (all of which should be doing `scenarios/kubernetes_e2e` with `--build=bazel` on Prow with very similar job configs...)

[2017-09-22 06:39] ixdy commented on #4693
`pull-kubernetes-e2e-kops-aws-prow` prow is a different issue.

We're downloading the `kops` binary into the kubernetes tree before running the build:
[code]

so it's correct that the build is dirty.

[2017-09-22 06:53] ixdy commented on #4693
I updated my test PR to list the `/go/src/k8s.io/kubernetes` directory.

Looking at the logs in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-e2e-gke-gpu/11/, `vendor/` looks fine, but `staging/` is missing.

I'm beginning to think we may want to resurrect #2906 or #2910.

[2017-09-22 07:28] ixdy commented on #4693
So the aws and gke-gpu failure are indeed related, though the exact details are a bit confusing.

On Jenkins, `$WORKSPACE` is a unique directory on the host for that job (but not for the build), and `HOME` is by default set to `/var/lib/jenkins`, which is not unique at all. As a result, in bootstrap we currently set `HOME` to `$WORKSPACE` so that anything mucking in `$HOME` goes somewhere unique-i

[2017-09-22 11:31] kargakis commented on #4683
@spxtr you are not using any boolean parameters inside your Jenkins jobs, is that correct?

[2017-09-22 11:33] kargakis commented on #4691
Yeah, I think a global option is easier to reason about. @spxtr thoughts? I will open a PR later today if I manage to get at it.

/assign

[2017-09-22 12:20] #4550 closed

[2017-09-22 13:33] kargakis commented on #4683
For clarity, here is the downstream issue: https://github.com/openshift/release/issues/169

[2017-09-22 16:05] luxas commented on #4680
What @krzyzacy said :-)

[2017-09-22 16:21] spxtr commented on #4691
I'm okay with a global max concurrency but we probably won't use it on our prow instance.

[2017-09-22 16:26] stevekuznetsov commented on #4691
You guys saw your Jenkins fall over for the same reason last week so perhaps per-agent it's useful?

[2017-09-22 16:28] stevekuznetsov commented on #4691
/cc @fejta

[2017-09-22 16:29] kargakis commented on #4691
Yeah, this will only apply per-agent but I don't think we need separate fields.

[2017-09-22 16:40] spxtr commented on #4691
Our solution is to move the jobs that still run on Jenkins into k8s pods :)

Per-agent would be important since we're running all of our CI jobs on prow as k8s pods already, which is a couple hundred at a time at least. Jenkins will fall over with a couple hundred jobs in the queue.

[code]
Evidently the west coast hasn't woken up yet.

[2017-09-22 16:50] kargakis commented on #4691
Hrm, yeah. Today jenkins-operator is using the [plank config](https://github.com/kubernetes/test-infra/blob/ffe9f34e952b1b6d388068b82f2a0fcb3ba4f799/prow/config.yaml#L1-L3). We should split it into a separate stanza so we can have per-agent fields (we should be able to extend config.Config inside prow/jenkins).

[2017-09-22 17:40] krzyzacy opened #4698 "Boskos Janitor can go into crashloop"
/assign

[code]

[2017-09-22 18:13] BenTheElder commented on #4662
see also: https://github.com/kubernetes/test-infra/issues/4564

[2017-09-22 18:14] #4451 closed

[2017-09-22 22:00] stevekuznetsov commented on #4602
/cc @bparees

[2017-09-25 09:02] abitrolly opened #4711 "k8sio-netlify-preview-bot info"
@k8sio-netlify-preview-bot is not linked to any issue tracker to help people track related issues, such as https://github.com/kubernetes/kubernetes.github.io/issues/4657

Does it belong here?

[2017-09-25 16:08] kargakis commented on #4373
- [ ] validate that max_concurrency is non-negative

[2017-09-25 16:12] spxtr commented on #4373
In the meantime, we can add a check for this when we load a config file.

[2017-09-25 16:15] kargakis commented on #4373
Yeah, I meant to do it today but need to leave. Will open a PR tomorrow if nobody gets at it.

[2017-09-25 16:17] luxas commented on #4693
Probably related: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-upgrade-1-6-1-7/31
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-upgrade-1-7-1-8/33

[2017-09-25 17:07] shyamjvs commented on #4245
cc @MaciekPytel @aleksandra-malinowska are seeing this too

[2017-09-25 18:03] BenTheElder commented on #4693
Whoops that shouldn't close this just yet :-)

[2017-09-25 18:05] MaciekPytel commented on #4245
@cjwagner It seems to just never work for me for the last month or so. It works for other people in sig-autoscaling.

Looking at history of this ticket it seems to impact people with uppercase letters in github id. With just 3 examples it may be an accident, but it seems rather suspicious...

[2017-09-25 18:20] enisoc opened #4716 "kubeadm tests not running on release-1.6 branch"
According to https://github.com/kubernetes/kubernetes/issues/51571, the kubeadm tests stopped running when the bazel build broke on the 1.6 branch. However, the kubeadm tests are still not running on the 1.6 branch, even after the bazel build was fixed.

https://k8s-testgrid.appspot.com/release-1.6-all#kubeadm-gce-1.6&width=20
https://k8s-testgrid.appspot.com/release-1.6-all#periodic-kubeadm-gce-1

[2017-09-25 18:23] BenTheElder commented on #4716
/cc @luxas
/assign

[2017-09-25 18:26] krzyzacy commented on #4716
http://prow.k8s.io/?job=periodic-kubernetes-bazel-test-1-6 is all busted

[2017-09-25 18:30] enisoc commented on #4716
@krzyzacy Are you saying that fixing periodic-bazel-test-1-6 should cause the kubeadm tests to start running again? Or is that just incidental?

[2017-09-25 18:33] BenTheElder commented on #4716
In release-1-6 and release-1-7 these kubeadm jobs are chained after bazel-build -> bazel-test -> kubeadm for some reason, so it looks like the test job is also borked.

[2017-09-25 18:38] BenTheElder commented on #4716
`//pkg/kubelet/config:go_default_test` has been failing for the bazel-test jobs

[2017-09-25 18:39] cjwagner commented on #4341
/assign

[2017-09-25 18:41] luxas commented on #4716
Thanks @BenTheElder!
Just noting that these ran fine before bazel was broken on the v1.6 branch.
Meanwhile it seems like stuff has changed in test-infra, which I think https://github.com/kubernetes/test-infra/pull/4717 now addresses. Let's see what happens after that PR is merged :100:

[2017-09-25 18:59] enisoc commented on #4716
I filed https://github.com/kubernetes/kubernetes/issues/53016 for the kubelet/config test failure.

[2017-09-25 19:54] abgworrall commented on #4693
FWIW, I'm seeing the bazel job failing on individual PRs pretty frequently, too (e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/53003/pull-kubernetes-e2e-gce-bazel/31755/)

[2017-09-25 21:07] krzyzacy opened #4724 "Some jobs are missing artifacts"
for example, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-1-8/1246

probably https://github.com/kubernetes/test-infra/pull/4703

/assign @ixdy

cc @BenTheElder @luxas

[2017-09-25 21:08] BenTheElder commented on #4724
also https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-test-infra-bazel/59488

[2017-09-25 21:14] BenTheElder commented on #4716
This should be fixed in #4717 to not depend on bazel-test, I'll come back and close once we see some results :-)

[2017-09-25 21:15] krzyzacy commented on #4724
(maybe https://github.com/kubernetes/test-infra/blob/master/scenarios/kubernetes_e2e.py#L578 ?)

[2017-09-25 21:28] BenTheElder commented on #4724
There's a mix of `/workspace.*` literals and `$WORKSPACE` usage throughout the various scripts (bootstrap, scenarios, etc) we should probably standardize on $WORKSPACE everywhere for now so this doesn't break next time.
¯\\\_(ツ)\_/¯

[2017-09-25 21:29] ixdy commented on #4724
I think bootstrap expects `_artifacts` to live in `$(cwd)/_artifacts`, but in kubetest we use `$WORKSPACE/_artifacts`. these are no longer the same place in all environments.

[2017-09-25 21:32] BenTheElder commented on #4724
Yeah, line 943:

[code]
Some of `scenarios/kubernetes_e2e.py` is similarly bugged with respect to assumptions about where workspace is, that just happens to work since `$WORKSPACE` *is* `/workspace` currently.

[2017-09-25 21:32] ixdy commented on #4724
bootstrap has basically no knowledge of `$WORKSPACE` (possibly by design), which makes this trickier.

[2017-09-25 21:33] BenTheElder commented on #4724
bootstrap should be able to know about `$WORKSPACE` after `setup_magic_environment` has been called :laughing:

[2017-09-25 21:37] BenTheElder commented on #4724
/unassign ixdy
/assign @krzyzacy
/assign

[2017-09-25 21:59] cjwagner commented on #4245
@Cynerva Thanks for the examples. I was finally able to reproduce the error locally (still not sure why I couldn't reproduce it before) and, as @MaciekPytel guessed, it appears to be a case sensitivity problem. I'll make a PR with a fix.

[2017-09-25 22:00] ixdy commented on #4724
hm:
https://github.com/kubernetes/test-infra/blob/6244c9b8649d19c1016e572982cc2949e5a31ede/kubetest/e2e.go#L529

hmm:
https://github.com/kubernetes/test-infra/blob/6244c9b8649d19c1016e572982cc2949e5a31ede/kubetest/main.go#L43

hmmm:
https://github.com/kubernetes/test-infra/blob/6244c9b8649d19c1016e572982cc2949e5a31ede/images/pull_kubernetes_bazel/coalesce.py#L81

[2017-09-25 22:02] BenTheElder commented on #4724
I'm about to roll out a PR to fixup `kubernetes_e2e`, I guess those are next. ¯\\\_(ツ)\_/¯

[2017-09-25 22:30] krzyzacy commented on #4724
more: http://k8s-testgrid.appspot.com/sig-node#kubelet
cc @Random-Liu

[2017-09-25 22:33] ixdy commented on #4724
@krzyzacy yeah I think that one is due to https://github.com/kubernetes/test-infra/blob/6244c9b8649d19c1016e572982cc2949e5a31ede/kubetest/e2e.go#L529

[2017-09-25 22:34] krzyzacy commented on #4724
@ixdy I think that's used for node canary job only - the actual node job still runs from some k/k script

[2017-09-25 22:35] krzyzacy commented on #4724
(probably easier to finish https://github.com/kubernetes/test-infra/pull/4338)

[2017-09-25 22:53] krzyzacy commented on #4724
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/jenkins/e2e-node-jenkins.sh#L39

the node job is actually using the right artifacts dir, but kubetest is not :-(

[2017-09-25 23:09] ixdy commented on #4724
It looks like the last node e2e job ran before #4725 was merged, so hopefully it's fixed, yeah.

[2017-09-26 00:09] cjwagner opened #4736 "Data race in Prow's jenkins controller"
[code]

[2017-09-26 00:11] BenTheElder commented on #4736
I should have opened this, we've seen this show up in "flakes" so it's not always getting caught, ref: https://github.com/kubernetes/test-infra/pull/4725#issuecomment-332023038

[2017-09-26 06:25] luxas commented on #4716
Now it started running at least...

[2017-09-26 09:39] kargakis opened #4740 "gubernator: filter PRs based on repo"
It would be nice if I could filter PRs based on the repository so I can look only at kubernetes/kubernetes or kubernetes/test-infra PRs at a time. In my case, PRs that I land or review in the main repo have nothing to do with test-infra related work and there is a lot of context switching involved when I skim through the PR dashboard.

/area gubernator
@rmmh @stevekuznetsov

[2017-09-26 15:30] kargakis opened #4744 "Common interface for prow agent controllers"
Once https://github.com/kubernetes/test-infra/pull/4630 merges, reconciling jobs in the jenkins-operator will be almost identical to what plank is doing. Ideally, we can collapse all of the remaining common parts into a `prow/controller` library or something and provide an interface for abstracting agent-specific mutations.

More things to think about:
* how do we want to structure agent config in

[2017-09-26 15:42] stevekuznetsov commented on #3740
Also necessary if a test gets selected by touching changed paths

[2017-09-26 19:11] krzyzacy commented on #4724
I think this is resolved, gonna close the issue for now.

[2017-09-26 19:11] #4724 closed

[2017-09-26 19:12] BenTheElder commented on #4693
@abgworrall I don't think that's related. It also looks to be mostly green currently:
https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-gce-bazel
https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-gce-gpu

[2017-09-26 19:20] #4693 closed

[2017-09-26 19:23] #4736 closed

[2017-09-26 20:30] ixdy commented on #4420
cc @kad

I guess this is still an issue for folks, and I'm not sure how to resolve it.

Originally all build jobs were cross-builds, and they pushed binary artifacts to `gs://kubernetes-release-dev/ci`. At some point, we switched the master-branch build job to be a quick-release (amd64 only), and created a new master-branch cross-build job, which pushes its binary artifacts to `gs://kubernetes-rel

[2017-09-26 20:49] cjwagner opened #4752 "Tide should skip merging PRs that are have the `mergeable` field set to `false`"
The current behavior works, but unnecessarily tries to merge PRs that need a rebase instead of ignoring them.

/assign @spxtr

[2017-09-26 20:49] kad commented on #4420
I would propose to do following:
- ci/* should be place where full builds are published, regardless of the branch.
- ci/latest*.txt updated only if builds are successfully finished for all branches.
- quick-release (amd64 only) which is used for e2e to be pushed into separate directory. e.g. ci-e2e/ ?

This way we will get ci/* be always consistent for all branches and all architectures and would

[2017-09-26 20:51] ixdy commented on #4420
sounds like a reasonable proposal. currently I believe the build job aborts if it sees preexisting artifacts with the same build version.

[2017-09-26 20:51] cjwagner opened #4753 "Plank sets state to pending when pod creation fails."
If plank fails to start a pod for a new prowjob starting in the 'triggered' state, it sets the job state to 'ErrorState' here: https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L340
However the job's state will then be set to pending here: https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L359
The next sync loop the job will be considered pen

[2017-09-26 20:53] ixdy commented on #4420
I unfortunately don't have bandwidth for this right now.

anyone able to help @kad? @krzyzacy @BenTheElder or others from the community?

[2017-09-26 21:03] BenTheElder commented on #4711
I don't think so, I haven't seen anything related to it in this repo and it looks like this is something from netlify, not us. I would suggest that those issues probably _are_ best tracked at [kubernetes/kubernetes.github.io/](https://github.com/kubernetes/kubernetes.github.io/issues) or somewhere with Netlify per https://github.com/kubernetes/kubernetes.github.io/issues/4657#issuecomment-32080374

[2017-09-26 21:03] #4711 closed

[2017-09-26 21:07] BenTheElder commented on #4642
This job has been pretty well behaved, perhaps we can make it blocking after the release is done? I think we will need to propose it somewhere (the sig-testing meeting maybe?)

[2017-09-26 21:37] #4245 closed

[2017-09-26 22:35] krzyzacy opened #4754 "Branch kubekins-e2e to support multiple go/bazel versions"
We need different go/bazel version for build node/kubernetes across different branches, especially if we want to migrate presubmits to use bazel build.

Probably do something similar as https://github.com/kubernetes/test-infra/tree/master/jenkins/test-image, and we can kill the kubekins-node image and bazelbuild image.

Do this after https://github.com/kubernetes/test-infra/pull/4226.

/assign
cc

[2017-09-26 22:43] BenTheElder commented on #4662
I think it may actually be possible that these are PRs that triggered `pull-kubernetes-e2e-kubeadm-gce` before it was changed to be `run_if_changed`. I'm testing this theory in https://github.com/kubernetes/kubernetes/pull/52755

[2017-09-26 22:45] BenTheElder commented on #4564
Is this still a problem? I'm not finding any examples currently. /cc @ixdy

[2017-09-26 22:54] BenTheElder commented on #4581
I don't think we need this currently, I'm avoiding the dind route anyhow :smile:

[2017-09-26 22:54] #4581 closed

[2017-09-26 22:55] BenTheElder commented on #4494
Is this still an issue?

[2017-09-26 22:57] foxish commented on #4494
I don't think it happened again.

[2017-09-26 22:57] #4494 closed

[2017-09-26 22:57] BenTheElder commented on #3356
There should be more progress on making this default after the release is complete tomorrow hopefully :crossed_fingers:

[2017-09-26 23:00] kargakis commented on #4662
Can you test with the latest version of plank? We are running it w/o a problem but we don't use run_after_success jobs yet. I can test it tomorrow.

[2017-09-26 23:02] krzyzacy commented on #4662
cc @cjwagner -
I think we can update plank tomorrow after 1.8 gets out

[2017-09-26 23:02] BenTheElder commented on #4662
@kargakis Unfortunately the bazel build is now failing on that dummy PR so it's not getting tested with anything yet while I look into that :disappointed:

[2017-09-26 23:16] spxtr commented on #4752
Do you mean `false`?

[2017-09-26 23:28] cjwagner commented on #4752
@spxtr 😝  Fixed.

[2017-09-26 23:43] crunk1 opened #4761 "Autoreload Prow secrets."
While debugging, I autogenerated a new oauth token for my Prow cluster. This invalidated the previous token (which was working). I added the new token to the Prow cluster secrets, but hook jobs were getting Bad Credentials errors when trying to run presubmit on PRs.

Bouncing the Hook and Plank jobs fixed the issue.

[2017-09-26 23:43] BenTheElder commented on #4662
Oh hmm @luxas kubeadm is set to `skip_report: true` now. Should that still be the case?

[2017-09-26 23:51] BenTheElder commented on #4716
These are definitely running now. They're still failing for unrelated issues though, which should probably be tracked somewhere else (k/k?)

[2017-09-26 23:51] #4716 closed

[2017-09-27 00:10] sebastienvas commented on #4564
This seems resolved on prow.k8s.io. I ll reopen if I see this after updating istio's.

[2017-09-27 00:10] #4564 closed

[2017-09-27 00:17] kargakis commented on #4753
We have a test case for 422 errors (when we move triggered jobs to error). Is the test broken? We should probably add a test case for errors other than 422 (we will retry in the next sync and the job stays triggered).
https://github.com/kubernetes/test-infra/blob/1d31c9b0defded29c5444210c98a755f18222725/prow/plank/controller_test.go#L345-L360

[2017-09-27 01:12] cjwagner commented on #4753
I was wrong, this isn't a problem. In my example the state isn't set to 'pending' because the conditional won't be entered. Thanks @kargakis , I'll add a test case for another error type.

[2017-09-27 01:12] #4753 closed

[2017-09-27 01:30] BenTheElder commented on #4662
It doesn't seem to be reporting on PRs where it shouldn't anymore so I think we can close this now. I think this was just another issue with job configurations being in flight while PRs were open. @kargakis if you do test this and find a problem re-open, but I think we can close this now. I can't find this in the wild anymore.

@luxas now that it only runs on build changes, should we flip `skip_re

[2017-09-27 10:10] luxas commented on #4662
Great, now it doesn't report on unrelated PRs, thanks!
(example: https://k8s-gubernator.appspot.com/pr/53119)
But it now does on https://k8s-gubernator.appspot.com/pr/53114, which touched `cmd/kubeadm`.

Whohoo, I can now flip `skip_report: false` :tada: :tada:

[2017-09-27 10:10] luxas commented on #4716
We'll look into that, probably some test infra knob that we have to update that has changed since these were created. Thanks!

[2017-09-27 10:14] luxas commented on #4420
Why not just run the cross build on release branches as well? That will populate `ci-cross` and push images as well (and never push images for `ci/`)
I'd prefer to touch the minimum amount of moving parts here
@ixdy sounds reasonable?

[2017-09-27 11:50] kad commented on #4420
@luxas from explanation that @ixdy wrote, my understanding that release branches are always cross-builds and populates everything, but into ci/* directories.
It was only master branch which is special (quick-build in ci/*, cross in ci-cross/*) and we were "lucky" to step on it with our planning for support CI builds in kubeadm.

So, amount of moving parts in options:
- ci/* to be all cross:
  - mo

[2017-09-27 15:29] mfojtik opened #4765 "The /sig foo should also tag @org/sig-foo"
It would be nice if using `/sig foo` in addition to add the GitHub label also tag the `@org/sig-foo` team (if such team exists).

cc @kargakis

[2017-09-27 15:32] kargakis commented on #4765
/area prow

cc @cjwagner @grodrigues3 @spxtr

[2017-09-27 15:35] luxas commented on #4420
I think I lean towards option two:

With the exception that we run the dedicated crossbuild job for release branches as well; even though ci on release branches do `make release`.
Would that make sense? That's the most obvious solution IMO

[2017-09-27 17:24] cblecker commented on #4765
two thoughts.. sometimes people want to add a sig label without pinging the team (they could just ping the team themselves if they wanted to). also, if a sig has multiple teams (-bugs, -pr-reviews, -misc, etc) which one would you tag if you just did /sig?

[2017-09-27 17:26] spxtr commented on #4761
It's certainly possible. We can make the GitHub client regularly watch the secret file like the config agent. This might also tidy up some repeated secret reading code.

[2017-09-27 17:28] spxtr commented on #4752
[Pull requests](https://developer.github.com/v4/reference/object/pullrequest/) have a [mergeable](https://developer.github.com/v4/reference/enum/mergeablestate/) attribute that we can look at. Our GitHub client already exposes [the type](https://godoc.org/github.com/shurcooL/githubql#MergeableState). Should be a simple change :)

[2017-09-27 18:18] enisoc commented on #4501
Related issue: We got the job to start running again, but it is now failing. However, the testgrid summary is showing this as FLAKY, rather than FAILING.

[code]

[2017-09-27 18:27] michelle192837 commented on #4501
That one seems correct. There's only one run, and num_failures_to_alert is default 3. FLAKY is when there's failures, but no consistent ones that would constitute an alert. If one of the rows fails 3 or more times in a row, the status should switch to FAILING.

For the 'no results shows passing' bug, I have a fix that should be in this week.

[2017-09-27 18:29] enisoc commented on #4501
Ah, thanks for the explanation. Would it make sense to redefine FLAKY to mean "no consistent failures, AND at least one success"? It seems misleading to label a test with zero successes as flaky.

[2017-09-27 18:35] michelle192837 commented on #4501
I believe that is the case here, since this tab has no consistent failures and has at least one success (though I may have a different perspective on what those terms mean here).

[2017-09-27 18:35] xiangpengzhao opened #4768 "Can't reopen a PR in kubernetes/kubernetes.github.io"
See:

https://github.com/kubernetes/kubernetes.github.io/pull/3711#issuecomment-332614890

https://github.com/kubernetes/kubernetes.github.io/pull/3711#issuecomment-332615123

[2017-09-27 18:41] enisoc commented on #4501
Are you referring to this tab?

https://k8s-testgrid.appspot.com/release-1.6-all#kubeadm-gce-1.6&width=20

Currently I see only a single column there, and the Overall is red. I would expect that in order to qualify as flaky, there should be at least one column on the grid where Overall is green.

[2017-09-27 18:50] michelle192837 commented on #4501
Ah. That's somewhat fair, but I don't think marking those kinds of tabs as 'FAILING' is as helpful as leaving them 'FLAKY'; a tab can have no consistent failures and also no green columns, and I think differentiating that from 'has consistent failures' is important.

That said, can revisit this later if this is confusing a lot of people.

[2017-09-27 19:21] spxtr opened #4770 "Prow dropping a webhook every hour or so"
In the last four hours we have dropped webhooks at 08:33:24, 08:40:47, 08:40:49, 10:25:11, and 11:45:27. Not sure what's causing it yet, but lets do some digging.

@cjwagner
/area prow
/assign

[2017-09-27 20:00] kad commented on #4420
I'm ok with both variants. the more important thing that it will be consistent. one way or another.

[2017-09-27 20:01] enisoc commented on #4501
That's a good point; differentiating them makes sense. I would then request that we differentiate even further by using a new category like "INCONCLUSIVE" rather than "FLAKY".

As a patch release manager, I unfortunately have to treat FLAKY as "everything is fine" because everything is flaky all the time, and we don't have the resources to fix flakes on master, much less on all the release branche

[2017-09-27 20:09] michelle192837 commented on #4501
Ignoring FLAKY is fine. I think something like this is somewhat of an edge case, since a tab should rarely have only 1-2 runs.

On another note, the summary should have the last passing build on the right; for kubeadm-gce-1.6, it does have 'No passing build found'.

[2017-09-27 20:47] cjwagner commented on #4770
Here is what I could gather from the stack driver logs:
The load balancer appears to have received all the hook events except for the one at 08:33:24 (@spxtr did you mean 08:33:34?).
The events are all status events.
The CLA plugin is the only consumer of status events, but it seems to have responded correctly to these events.

[2017-09-27 21:46] mattmoor commented on #4768
/assign @fejta
demo

[2017-09-27 21:46] mattmoor commented on #4768
/unassign @fejta

[2017-09-27 21:46] mattmoor commented on #4768
/area prow

[2017-09-27 21:46] mattmoor commented on #4768
/joke

[2017-09-27 21:47] mattmoor commented on #4768
/remove-area prow

[2017-09-28 01:25] BenTheElder commented on #4768
I found the bug, it's very small :-) fixing...

[2017-09-28 01:28] BenTheElder commented on #4768
/assign

[2017-09-28 01:40] BenTheElder commented on #4768
heh: https://github.com/kubernetes/kubernetes.github.io/pull/3711#issuecomment-332702465

[2017-09-28 01:40] #4768 closed

[2017-09-28 16:53] BenTheElder opened #4786 "Prow plugins: handle deleted branches / un-re-open-able PRs"
At the very least the reopen plugin should gracefully handle attempts to reopen a PR with a deleted branches with an error reply so us foolish humans notice :-)
ref: https://github.com/kubernetes/kubernetes.github.io/pull/3711#issuecomment-332741407
/cc @xiangpengzhao

[2017-09-28 18:25] stevekuznetsov opened #4788 "prow: admin console user stories"
As a Prow administrator, I need to:

- determine if an event got picked up by `hook`
- determine what action `hook` plugins took on that event
- determine the events in  the lifetime of a specific prowjob
- connect a prowjob or prowjobs to a trigger comment
- see when a controller (_e.g._ `jenkins-operator`) is having anomolous behavior

/cc @kargakis

[2017-09-28 18:25] stevekuznetsov commented on #4788
Since we've got structured logs, maybe we can get ELK down and use that to make this easier?

[2017-09-28 19:20] spxtr commented on #4788
I've been using stackdriver logging for this. It lets you do queries based on the JSON logs, such as `jsonPayload.pr=12345` to filter for all events related to PR 12345.

[2017-09-28 19:44] spiffxp opened #4791 "k8s upgrade tests don't provide version info for the target upgrade version"
AFAICT at least, not by way of looking at testgrid, and gubernator, and finshed.json.

There is version info about the k8s version we're upgrading _from_, but not the version we're upgrading _to_.

So if I'm a release team member trying to see if we've got N passes against the same build of a release about to go out the door, I have to dig through logs.

[2017-09-28 20:07] BenTheElder commented on #4786
/assign
/cc @cjwagner

[2017-09-28 20:13] BenTheElder opened #4792 "Planter should support cross compilation once bazel supports it"
ref: http://kubernetes.slackarchive.io/kubernetes-dev
we should have the cc toolchains for cross compilation (but not go, which should be handled by bazel)

[2017-09-28 20:13] BenTheElder commented on #4792
/area planter
/assign

[2017-09-28 20:18] stevekuznetsov commented on #4788
That's available if you're on GKE only, right?

[2017-09-28 20:24] krzyzacy opened #4794 "Migrate all `*.json` config files to `*.yaml`"
/assign
/assign @BenTheElder

[2017-09-28 20:25] BenTheElder commented on #4794
Also delete `*json.yaml` files :smiling_imp:

[2017-09-28 21:19] BenTheElder commented on #4794
Cross ref: https://github.com/kubernetes/test-infra/pull/4430

[2017-09-28 21:29] BenTheElder opened #4796 "Support Bazel 0.6.0 in test-infra"
While working on some planter improvements I discovered that we of course hit an incompatible change in bazel 0.6.0 with the `set` constructor and `despset` :confused: We should fix this so test-infra can use the latest and greatest :smile:
/assign
/area bazel

[2017-09-28 23:25] spiffxp commented on #2920
/close
I believe this has been addressed, please reopen if not

That said, FYI @justinsb the [kops-aws-weave](https://k8s-testgrid.appspot.com/google-aws#kops-aws-weave) job has been failing for the last ~month

[2017-09-28 23:25] #2920 closed

[2017-09-28 23:32] krzyzacy commented on #4584
/assign

[2017-09-28 23:34] spiffxp commented on #2364
is this still locked to pacific time? I'm in pacific so I can't tell...

[2017-09-28 23:36] michelle192837 commented on #2364
I believe it is, yes.

[2017-09-28 23:36] spiffxp commented on #2704
What remains to be done here?

[2017-09-28 23:37] spxtr commented on #4788
I'm not sure TBH. I was assuming other cloud providers have their own logging systems that can do queries such as the one above. I don't think we should implement our own in prow.

[2017-09-28 23:38] krzyzacy commented on #2704
I think we haven't adopt bazel build for all the ci jobs yet

[2017-09-28 23:44] krzyzacy commented on #3779
@spiffxp I would vote for deleting those soak jobs... I believe we never looked at the 1.8 soak jobs...

[2017-09-28 23:46] krzyzacy commented on #3536
/assign

[2017-09-28 23:47] krzyzacy commented on #3412
Ah missed the issue here - `repo_commit` is basically we run a `git rev-parse HEAD` at cwd, if we checks out k8s.

[2017-09-28 23:56] BenTheElder commented on #4788
StackDriver itself is supposed to be usable even with AWS, but I'm not sure
about integrating it with k8s/prow. It looks like there are docs for this
at
https://kubernetes.io/docs/tasks/debug-application-cluster/logging-stackdriver/

On Thu, Sep 28, 2017 at 4:37 PM, Joe Finney <notifications@github.com>
wrote:

[2017-09-28 23:59] BenTheElder commented on #4788
+1, Prow should use native logging in Kubernetes.

[2017-09-29 00:32] BenTheElder commented on #4796
`TAG=0.6.0-2 ./planter/planter.sh bazel test //... --test_output=errors` and
`TAG=0.6.0-2 ./planter/planter.sh bazel build //...` work great (planter test image from #4797).
/close

[2017-09-29 00:32] #4796 closed

[2017-09-29 00:32] BenTheElder commented on #4796
@spiffxp finishing 1.9 milestone(s) before 1.8 is done :D

[2017-09-29 00:54] BenTheElder opened #4804 "Assign Plugin says it cannot assign a user because they are not a member, then assigns them"
Spotted in the wild:
https://github.com/kubernetes/test-infra/pull/4673#issuecomment-333000197
https://github.com/kubernetes/test-infra/pull/4673#event-1270840440

I suspect this is another case-sensitivity issue, all github login comparisons and lookups should be made to force lowercase I think.
/cc @cjwagner

[2017-09-29 00:59] krzyzacy commented on #4804
https://github.com/kubernetes/test-infra/blame/b4fe4eda5931ddb3c43ebfa67932b4303d7e532f/prow/github/client.go#L620

[2017-09-29 01:00] BenTheElder commented on #4804
yeah, I think more generally though we need to make sure comparisons etc are done lowercase, EG: https://github.com/kubernetes/test-infra/blob/master/prow/github/types.go#L220

[2017-09-29 01:49] stevekuznetsov commented on #4788
We shouldn't implement something ourselves, which is why I suggested ELK, but in general we should not also say "Prow is great! Stand it up! Oh, you want an interface that makes it easy to administer the cluster? Hahahaha"

[2017-09-29 01:52] stevekuznetsov commented on #3412
Looking back at these, I really feel like we should have:

 - values of all env vars Prow injected
 - started/finished timestamps
 - job result
 - MAYBE an unstructured metadata key-value pairing that could be used for non-crtiical information

The first three items fully identify a job, it's configuration and run-time data. Anything else should be optional.

[2017-09-29 02:06] spxtr commented on #4788
Perhaps some doc that describes basic maintenance and debugging patterns?

[2017-09-29 05:17] BenTheElder commented on #2713
Yep, this has still been pretty annoying.
/assign
I want to see this fixed at some point. I look forward to `bazel test //...` passing 100% locally.

[2017-09-29 05:20] BenTheElder opened #4807 "Lint Ineffective Assignments and misspelling in golint"
See: https://goreportcard.com/report/github.com/kubernetes/test-infra#ineffassign
We seem to have one in the label syncer, this should be fixed.

We should consider having something like this tool in our CI with the linter when it becomes default. Possibly `misspell` too.

 xref: https://github.com/kubernetes/test-infra/pull/4803

[2017-09-29 05:21] BenTheElder commented on #2878
/assign
Not sure when/if I will get this fixed, but I think now it's just some of the python dependencies currently.
xref: https://github.com/kubernetes/test-infra/issues/2713

[2017-09-29 13:03] abitrolly commented on #4711
`test-infra` is an official [bots home](https://github.com/kubernetes/test-infra/tree/master/prow#bots-home), so it's somewhat related.

[2017-09-29 17:25] BenTheElder commented on #4711
Yes, but it is *actually* the home for those bots -- as far as I can tell that bot is Netflify's and we don't have any source code, configuration, or docs for it. It only appears to run against [kubernetes/kubernetes.github.io](https://github.com/kubernetes/kubernetes.github.io/) so  issues should have better visibility on the kubernetes.github.io tracker where EG @chenopis might notice and can es

[2017-09-29 18:10] kargakis opened #4811 "prow: speed up initial cloning of git repositories"
This is mostly aspirational, a brain dump of mine, something to consider in the future. Approvals (and other things such as golint) require cloning a git repository locally and that can take some time depending on various factors. Thus, the deployment of the `approval-handler` munger (or `hook` in the future, once we migrate approvals to prow) ends up being really slow compared to the rest of the

[2017-09-29 18:20] spiffxp commented on #4642
Just bumped into a quota issue

https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-gce-gpu
[code]

[2017-09-29 18:21] krzyzacy commented on #4472
any updates :-)

[2017-09-29 18:23] MrHohn commented on #4472
https://github.com/kubernetes/kubernetes/pull/52377 is still pending for review, sending a ping.

[2017-09-29 19:04] spxtr commented on #4811
I did some experiments and found that cloning from a VM in the same GCP project over HTTP and SSH, cloning from an HTTP server running on localhost, cloning from a git daemon on localhost, and cloning from GitHub were all roughly the same speed. For k/k they all took about a minute +/- 10 seconds. I went with the simplest option: always clone from GitHub. Feel free to attempt to replicate my bench

[2017-09-29 19:09] BenTheElder commented on #4642
xref: https://github.com/kubernetes/test-infra/issues/4472 for probably the best solution, though generally we should be fine via `max_concurrency` and the janitor.

[2017-09-29 21:18] BenTheElder opened #4814 "prow/mungegithub makefiles: get-cluster-credentials & non-gcloud"
See discussion here: https://github.com/kubernetes/test-infra/pull/4538#pullrequestreview-66093979

Prow and Mungegithub both have a number of rules that depend on `get-cluster-credentials`, we can probably either:
- Make it easier for this rule to be a no-op when used to deploy elsehwere
- Remove depending on this rule and rely on those working on kubernetes' infra running them manually prior to

[2017-09-29 21:21] spiffxp opened #4815 "unified timeout for serial jobs"
ref: #4633

[2017-09-29 21:37] krzyzacy commented on #4815
My argument on this is each release might need a different timeout depend on the tests they are running - but I'll try to think out of a better system.

[2017-09-29 21:43] spiffxp commented on #4815
FWIW I agree with this as well...

One idea might be an upper bound on timeout.  If we're hitting that, it's time to consider which tests should be removed or redone.  Otherwise continually adding tests means monotonically increasing job times.

[2017-09-29 21:45] krzyzacy commented on #4815
(it's always going to be the latter case)

[2017-09-29 22:23] #4356 closed

[2017-09-29 22:31] BenTheElder commented on #4807
Hmm it seems `ineffassign` doesn't export any methods and is only intended to be used as a binary :confused:

[2017-09-29 22:35] dashpole opened #4818 "[Feature Request] WIP PRs do not auto assign reviewers/approvers."
First off, I am a big fan of the new WIP labeling.
One thing I think would be useful is if reviewers/approvers are not assigned until the WIP title is removed.
That way, I can avoid spamming whatever poor person gets assigned each time I push something and a test fails.
This also makes assigning someone an implicit request for review, and avoids needing the "PR is ready PTAL" dialogue.
If I am not

[2017-09-29 22:37] #4341 closed

[2017-09-29 22:37] #4505 closed

[2017-09-29 22:54] BenTheElder commented on #3331
@spiffxp I think we can mark off the release note munger (?) :D

[2017-09-29 23:31] cjwagner commented on #3331
@BenTheElder Just deployed the changes :smile: I'll mark it.

[2017-09-29 23:43] fejta commented on #2868
We now enforce this. Lots of people do not like it.

[2017-09-29 23:43] #2868 closed

[2017-09-29 23:44] fejta commented on #1576
Add metrics for this?

[2017-09-29 23:44] #1787 closed

[2017-09-29 23:45] fejta commented on #1723
Requires modifying https://github.com/kubernetes/test-infra/blob/547f449510b61b012485c4d58070aafab00a86ce/prow/report/report.go#L82

[2017-09-29 23:46] fejta commented on #2512
I think it needs to be approved to drop it off this list.

[2017-09-29 23:46] #2512 closed

[2017-09-29 23:47] fejta commented on #2802
Seems less useful post boskos

[2017-09-29 23:47] #2802 closed

[2017-09-29 23:48] fejta commented on #1828
Should cherrypicked PRs should get approval from the owner of the release?

[2017-09-29 23:53] fejta commented on #2225
/area gubernator
/assign @kargakis @rmmh

Fixed this regex a bit

[2017-09-29 23:53] #2225 closed

[2017-09-29 23:53] #2919 closed

[2017-09-29 23:54] fejta commented on #2925
/area metrics

[2017-09-29 23:54] fejta commented on #2606
Is this alive? Is this part of kubernetes/repo-infra?

[2017-09-29 23:55] fejta commented on #2753
Is this issue alive?

[2017-09-29 23:55] fejta commented on #2824
@kubernetes/sig-release-feature-requests
Do we still need this?

[2017-09-29 23:56] fejta commented on #2696
There's work planned to move all jobs to shared jobs by sig

[2017-09-29 23:56] fejta commented on #845
No progress here

[2017-09-29 23:56] BenTheElder commented on #2713
Grrrr https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4821/pull-test-infra-bazel/8171/

[2017-09-29 23:57] fejta commented on #2894
Close?

[2017-09-29 23:57] fejta commented on #2581
Maybe we want to add support for a stats column?

[2017-09-29 23:58] fejta commented on #2987
Anyone want to work on this?

[2017-09-29 23:58] fejta commented on #3010
kubetest does this now

[2017-09-29 23:58] #3010 closed

[2017-09-29 23:58] fejta commented on #3010
/area kubetest
/area gubernator

[2017-09-29 23:59] fejta commented on #2041
/assign @jfelten

[2017-09-29 23:59] #2041 closed

[2017-09-29 23:59] fejta commented on #3049
/assign @rmmh
I believe we do this now?

[2017-09-30 00:00] fejta commented on #3241
Fixed, and we're migrating approval to a prow plugin
/cc @kargakis @cjwagner

[2017-09-30 00:00] #3241 closed

[2017-09-30 00:01] cjwagner commented on #4814
I think the first option is preferable. These targets are a nice safety net to prevent deploying to the wrong clusters.

[2017-09-30 00:02] fejta commented on #776
Solved on prow

[2017-09-30 00:02] #776 closed

[2017-09-30 00:03] enisoc commented on #2824
Yes, as long as we still intend to support hotfix releases, by which I mean those that exclude changes that already went into the release branch since the latest patch release.

[2017-09-30 00:03] fejta commented on #1630
We no longer support blocking jobs

[2017-09-30 00:03] #1630 closed

[2017-09-30 00:04] yguo0905 commented on #2894
Implemented. See https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml.

[2017-09-30 00:04] #2894 closed

[2017-09-30 00:04] fejta commented on #3141
I would expect to checkout prow at an old commit to rollback a bad push.

[2017-09-30 00:04] BenTheElder commented on #4814
Maybe we can just build up a command string then and set it at the top level so that you can do override it with something like:
`make -C <foo> <target> GET_CLUSTER_CREDENTIALS_CMD="true"`
It's not the most ergonomic, but it's probably preferable to some unrelated gcloud calls..

[2017-09-30 00:04] yguo0905 commented on #2072
Implemented in https://github.com/kubernetes/test-infra/issues/2894.

[2017-09-30 00:04] yguo0905 commented on #2072
/close

[2017-09-30 00:04] #2072 closed

[2017-09-30 00:05] fejta commented on #2496
/area prow
/assign @spxtr

Solving this with tide

[2017-09-30 00:06] rmmh commented on #3049
We don't enforce it yet, but most tests correctly note owners in their names.

[2017-09-30 00:06] BenTheElder commented on #2713
/unshrug

[2017-09-30 00:06] #3274 closed

[2017-09-30 00:08] fejta commented on #3126
Michelle do you still intend to color the dashboards like in https://k8s-testgrid.appspot.com/q/summary/sig-node?

[2017-09-30 00:09] fejta commented on #1399
Anyone interested in creating a job for this?

[2017-09-30 00:10] fejta commented on #3220
Also I'd prefer we check whether a user has write access to the repo in question, rather than just org membership

[2017-09-30 00:11] fejta commented on #1636
/cc @cjwagner

[2017-09-30 00:11] fejta commented on #3083
How do we know if it is their first PR? Might make for an interesting `welcome` plugin (maintain a list of seen users?)

[2017-09-30 00:12] fejta commented on #1965
Moving to a prow plugin

[2017-09-30 00:12] #1965 closed

[2017-09-30 00:13] fejta commented on #1780
I think we should handle this by defining a way for trusted users to request arbitrary testing on prow...
/unassign @spxtr @rmmh

Needs design

[2017-09-30 00:13] fejta commented on #3316
/assign @michelle192837

[2017-09-30 00:13] fejta commented on #3322
/unasssign @krzyzacy
/assign @michelle192837

[2017-09-30 00:13] fejta commented on #3324
/assign @rmmh
/unassign @michelle192837

[2017-09-30 00:14] fejta commented on #3325
Heh

[2017-09-30 00:14] fejta commented on #3323
/unassign @krzyzacy

[2017-09-30 00:14] fejta commented on #3339
/assign @spxtr
/unassign @cjwagner

Joe does not want this to happen

[2017-09-30 00:15] fejta commented on #3346
/close

[2017-09-30 00:15] #3346 closed

[2017-09-30 00:16] fejta commented on #3359
This done? Probably not quite, although --mode=local is not the default at least

[2017-09-30 00:16] fejta commented on #3360
Do we still want to do this?

[2017-09-30 00:17] fejta commented on #3362
We should just eliminate .env files

[2017-09-30 00:17] fejta commented on #3362
/close

[2017-09-30 00:17] fejta commented on #3207
I think this is done?

[2017-09-30 00:17] fejta commented on #3369
/assign @BenTheElder

[2017-09-30 00:19] fejta commented on #1351
/unassign @spxtr

Anyone want to work on this? Involves improving https://github.com/kubernetes/test-infra/tree/master/prow/plugins/trigger

[2017-09-30 00:20] michelle192837 commented on #3126
Yup, just need to work myself up to puttering around with more CSS.

[2017-09-30 00:21] fejta commented on #3340
/unassign @spiffxp @spxtr

Would definitely like to do this!

[2017-09-30 00:21] fejta commented on #3361
/unassign @krzyzacy
/assign @rmmh

Each sig now has a dashboard... Now need to refactor the jobs to only run the sig-specific jobs

[2017-09-30 00:22] BenTheElder commented on #3083
I think the most workable solution right now is to make sure the default PR text points you to the contributor guide (which I think it already does now?)

AFAIK you can scrape GitHub for contributor data but there isn't a great way to check per user.
So we'd have to maintain a contributors database ourselves, which would probably be pretty clunky. Example of finding contributors [here](https://git

[2017-09-30 00:23] fejta commented on #3436
/close
All jobs now have testgrid descriptions

[2017-09-30 00:23] #3436 closed

[2017-09-30 00:24] michelle192837 commented on #3325
Also adding Ryan who is prob. relevant to this.

[2017-09-30 00:25] bgrant0607 commented on #3083
Independently of detecting new contributors it may be useful to detect PRs to the wrong branch, PRs with excessive numbers of commits to the master branch, and other obvious mistakes.

[2017-09-30 00:27] fejta commented on #3345
/unassign @cjwagner

Should still do something about this...

[2017-09-30 00:27] fejta commented on #3675
Pretty sure this is done?

[2017-09-30 00:28] fejta opened #4824 "Reduce test-infra to 294 open issues"
/assign @spiffxp @fejta @timothysc

[2017-09-30 00:28] fejta commented on #3083
PR Linter? I like it

[2017-09-30 00:31] BenTheElder commented on #3609
Not sure what we want to do about this or close, at least we have CODEOWNERS/OWNERS now

[2017-09-30 00:48] krzyzacy commented on #2072
some point is still valid - with boskos and not require `*.env` it's less painful now - still need to finish migrate with stable-x aliases.

[2017-09-30 00:49] kargakis commented on #4811
A clone from the [cache](https://github.com/kubernetes/test-infra/blob/6b02206ea351262811d992ee6af6e781b0450f96/prow/git/git.go#L137) takes >10s. Since the pods will run on the same node, they can possibly share a local volume and then we don't even need to change `hook`? Unclear but worth investigating.

[2017-09-30 00:50] kargakis commented on #4811
Thanks a lot for your input @spxtr, appreciated!

[2017-09-30 00:50] #3675 closed

[2017-09-30 00:51] krzyzacy commented on #3359
not yet - this basically means we killed Jenkins :-)

[2017-09-30 00:52] krzyzacy commented on #3360
How useful is this? I think we can redesign when we overhaul prow configs. cc @BenTheElder (for job configs in the world of 2018 maybe)

[2017-09-30 00:56] krzyzacy commented on #3361
IMO that might not worth the resource - current schema with each sig use regex to filter out their own tests works out pretty well, do we really want to explode out num of jobs to be 10x?

[2017-09-30 00:57] krzyzacy commented on #3361
/assign

[2017-09-30 00:59] krzyzacy commented on #4698
(I have never see that again, close for now)

[2017-09-30 01:00] krzyzacy commented on #3359
dup #3356

[2017-09-30 01:00] #3359 closed

[2017-09-30 01:00] krzyzacy commented on #2740
/assign @rmmh

[2017-09-30 01:10] kargakis commented on #1351
We definitely want this. @stevekuznetsov maybe something Daniel can take a stab at?

[2017-09-30 01:14] cjwagner opened #4825 "Kettle test flake."
Here is an example:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4805/pull-test-infra-bazel/8177/
/cc @rmmh

[2017-09-30 01:14] cjwagner commented on #4825
/assign @rmmh

[2017-09-30 01:16] #4804 closed

[2017-09-30 01:29] #4691 closed

[2017-09-30 01:35] stevekuznetsov commented on #1351
Unclear. Slated to begin helping with Caesar's work next sprint. I can try to take a look too if ten million things don't catch fire next week.

[2017-09-30 01:36] krzyzacy commented on #190
cc @dashpole cadvisor also still have a Jenkins VM, while we are going to kill Jenkins soon

[2017-09-30 01:43] kargakis commented on #1351
you asked for it

/assign @stevekuznetsov

[2017-09-30 02:18] kargakis commented on #3340
I want to push this forward and shoot for delivering something in the 1.9 timeframe.

/assign

[2017-09-30 02:30] xiangpengzhao commented on #3083
Great idea!

[2017-09-30 03:30] stevekuznetsov commented on #1351
lol

[2017-09-30 03:33] xiangpengzhao commented on #4818
cc @stevekuznetsov

[2017-09-30 03:39] stevekuznetsov commented on #4818
@spxtr @fejta what do y'all think about this?

[2017-09-30 03:41] stevekuznetsov commented on #4818
I think in general I'd have to ask -- why create a WIP pull request if not for reviews? If nobody's looking at it, might as well just have it locally, or on your fork on GitHub, but not as a PR, right?

[2017-09-30 03:42] spxtr commented on #4818
I think we should have WIP PRs assigned to the author. When they remove WIP it unassigns them and picks reviewers.

To run presubmits.

[2017-09-30 03:44] spxtr commented on #3339
To be clear, I'm interested in a world where we can dynamically load plugins in a different sense: by making a service to implement the plugin. I don't like the idea of using go plugins though.

[2017-09-30 04:09] xiangpengzhao commented on #4818
Discussion here: https://github.com/kubernetes/test-infra/issues/2620

[2017-09-30 06:44] fejta commented on #4818
I think we should change blunderbuss to just tell people the /assign command to use, but not actually do any assigning.

This would both support the scenario requested here, train people about the /assign command and signal that our community expects Independence and initiative (while showing them how to direct their initiative)

[2017-09-30 07:16] abitrolly commented on #4711
The key issue is mapping of transformation from target documents to source. I guess that capability is out of Netlify domain, because it doesn't know anything about the documents transformation process. The only solution I see is catch the Netlify message, calculate and inject this info by separate handler.

[2017-09-30 16:35] stevekuznetsov commented on #4818
I think I'm with @fejta here -- letting people know "hey, you  _can_ /assign people" would also make it annoying to be a top-level OWNER, having to /unassign myself and/or ignore PRs that someone else is handling.

In general I don't particularly like the practice of pushing WIP code up to trigger the full suite of presubmits -- not only is it much less efficient than just iterating on a select fe

[2017-09-30 19:12] madhusudancs commented on #2581
That will be useful too.

[2017-10-01 16:34] jamiehannaford commented on #2753
@fejta Yes, we can close as soon as #2771 is merged (hoping to get to it this week).

[2017-10-01 22:20] luxas commented on #1399
@ixdy any bazel magic we could use here?

[2017-10-02 15:17] chenopis commented on #4711
The @k8sio-netlify-preview-bot is only meant to run on https://github.com/kubernetes/kubernetes.github.io/ to add a comment to PRs w/ the Netlify preview link. I did setup the account for that bot so that their [pull request comments mechanism](https://www.netlify.com/docs/webhooks/#github-pull-request-comments) could use a GitHub token other than my own.

We do have support from them, and I did a

[2017-10-02 16:15] luxas opened #4829 "Mungegithub makes the master branch pushable by maintainers, not admins only"
Manually merging PRs should be restricted to admins only (a very small set of people), not all maintainers (much larger set of people).

Mungegithub "unprotects" this branch in some sense occasionally. I've notified @bgrant0607 when I've seen this, and he has manually flipped things back to normal.

See: https://groups.google.com/forum/#!topic/kubernetes-maintainers/FvV7yYp4sTU

I've seen this hap

[2017-10-02 16:18] stevekuznetsov commented on #4829
Previously we attempted to address this with https://github.com/kubernetes/test-infra/pull/4542

We should confirm that the `k/k` `misc-mungers` deployment is running up-to-date code

[2017-10-02 16:40] bgrant0607 commented on #4829
@luxas I don't see evidence that this should be possible in current settings, nor in the audit log.

[2017-10-02 16:51] kargakis commented on #4811
/close

[2017-10-02 16:51] #4811 closed

[2017-10-02 16:53] kargakis commented on #3939
Not a high priority

/close

[2017-10-02 16:53] #3939 closed

[2017-10-02 17:13] luxas commented on #4829
Oh, now I see why. I didn't look closely enough this time; the PR was one of the first to be targeted at a feature branch!

https://github.com/kubernetes/kubernetes/pull/53223

Which made me think it had came back again (like the earlier two times) to master.

I'm very glad this was fixed properly then with the first time :smile:

I guess the state with maintainers being able to merge PRs to featu

[2017-10-02 17:28] fejta commented on #4829
Can we just make the entire repo only mergeable by admins, rather than just particular branches?

[2017-10-02 18:30] BenTheElder commented on #4807
AFAICT this would require a rewrite of `ineffassign` to work well since it is CLI only.
Not a Priority
/close

[2017-10-02 18:30] #4807 closed

[2017-10-02 18:44] #4366 closed

[2017-10-02 18:53] tallclair opened #4831 "PR auto-assigned to user not in any OWNERS files"
https://github.com/kubernetes/kubernetes/pull/53185 was auto-assigned to @timstclair , but that alias isn't in any OWNERS files. I switched from @timstclair to @tallclair a while ago. Is there another mechanism for auto-assigning outside of OWNERS files?

[2017-10-02 19:28] BenTheElder commented on #4831
I see a manual `/assign @liggitt @timstclair` in the PR's body text under "Special notes for your reviewer:".

[2017-10-02 19:40] tallclair commented on #4831
Oh, sorry, I missed that. WAI.

[2017-10-02 19:40] #4831 closed

[2017-10-02 22:08] ixdy commented on #3207
we're not using kubetest, but I'm not sure we want to. things are at least a bit more maintainable now.

[2017-10-02 22:08] #3207 closed

[2017-10-02 22:21] ixdy commented on #2704
yeah, CI jobs aren't using bazel-built binaries - only PR jobs.

[2017-10-03 18:33] BenTheElder opened #4849 "Python deps are somewhat broken"
From a clean machine clone test-infra and install bazel then run `bazel test //...`, pretty much everything python related will fail. Additionally in CI these deps seem to be managed defacto by gubernator's deps + possibly installing packages like pyyaml as part of the image build step.

We should probably either track the deps in something like a new `/requirements.txt` where users can install th

[2017-10-03 18:33] BenTheElder commented on #2713
closing in favor of up to date issue https://github.com/kubernetes/test-infra/issues/4849

[2017-10-03 18:33] #2713 closed

[2017-10-03 18:59] BenTheElder opened #4850 "JQ dependency assumes Linux"
https://github.com/kubernetes/test-infra/blob/26a9aed53ae1c36f60eaebeb4d5eea94e27619b0/WORKSPACE#L123-L129

I think we can select over mac/linux as needed, this causes some tests to fail on macOS.
/assign

[2017-10-03 20:07] BenTheElder commented on #4849
/assign

[2017-10-03 20:17] BenTheElder commented on #2878
These specific complaints were fixed but the title is still an issue, it should now just be python deps which I have over at https://github.com/kubernetes/test-infra/issues/4849.

[2017-10-03 20:17] #2878 closed

[2017-10-03 20:59] ixdy commented on #3338
Limitations of the prow and bootstrap configuration are making it difficult to bazelify all of our jobs, since different branches (release-{1.6, 1.7, 1.8}, master) require different versions of bazel, and right now there's no way to use a different version of an image without copying all of the configs 3x (or 7x, if you include kubernetes-security).

This issue only discusses the prow configs, but

[2017-10-03 21:03] ixdy commented on #3338
(and also testgrid)

[2017-10-03 21:57] rmmh opened #4857 "Hook should warn or error with empty plugins."
As a sanity check, it makes no sense for plugins.yaml to be empty (with empty Plugins). We should loudly warn (in log messages) when this is the case.

[2017-10-03 23:05] #4857 closed

[2017-10-03 23:06] BenTheElder commented on #4849
Noting that the addition of the `dateutil` package in 1932f7a2431d8cc78a6a64dcdc22ea4f3dfac44a caused `//verify:verify-pylint` to start failing again locally/in planter per Jeff's bisect yesterday.
I'm not sure which route we want to go but we should probably fix this.

[2017-10-03 23:06] spiffxp commented on #2418
Workaround added back per https://github.com/kubernetes/test-infra/pull/4751

So I'm guessing this hasn't been addressed then

[2017-10-03 23:12] spiffxp commented on #2418
Booleans are fun.  Actual workaround added back via #4755

[2017-10-03 23:15] spiffxp commented on #2418
Added to all 1.5 jobs via #4757

[2017-10-03 23:19] BenTheElder commented on #4850
fixed in #4856

[2017-10-03 23:19] #4850 closed

[2017-10-03 23:22] spiffxp opened #4862 "Deprecate and remove release-1.5 jobs and testgrid dashboard"
Now that we've released kubernetes v1.8.0, I believe [we only support 1.6-1.8](https://github.com/kubernetes/community/blob/58b1c30d95719749068497ba35dfe4c64b21aa72/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew)?

The 1.5 jobs just had some attention paid to them in the past week though, so I'm not sure if there is disagreement in that regard, or if we'd

[2017-10-03 23:25] krzyzacy commented on #4862
@mwielgus assume there will be no future 1.5 releases scheduled?

[2017-10-04 00:11] BenTheElder commented on #4792
This is blocked on cross-compilation working in Bazel. See linked issues in https://github.com/kubernetes/test-infra/pull/4864

[2017-10-04 00:12] BenTheElder commented on #4792
I suspect this will slip to a future bazel version.

[2017-10-04 00:13] BenTheElder commented on #4862
/assign @krzyzacy
/assign

[2017-10-04 00:14] BenTheElder commented on #4770
Has there been any progress on this? I feel like we can close unless we see more.

[2017-10-04 00:16] krzyzacy opened #4865 "Don't care about kubernetes-security presubmit match, until we really cares about them"
Presubmit runs on prow does not work with k-s repo anyway, and everytime we touch a presubmit job we complains about it.

IMO we maybe don't care it until we actually needs it, rather than pretend they matches each other.

@kubernetes/test-infra-maintainers thoughts?

[2017-10-04 00:28] krzyzacy commented on #4862
(wanna make sure from @mwielgus )

[2017-10-04 01:23] spxtr commented on #4770
I just looked back a couple hours and didn't see any dropped hooks. I really wish GitHub provided some way to see webhook deliveries, but they've told me that it won't happen any time soon.

[2017-10-04 07:57] kargakis commented on #4770
We can already see info about webhook requests in the webhook page. Is this something different?

[2017-10-04 15:23] kargakis opened #4867 "github.com/aws/aws-sdk-go/aws is missing from the repo dependencies"
[code]

I can't find anything in Godeps.json or the vendor directory.

cc @zmerlynn

[2017-10-04 15:23] kargakis opened #4868 "godep does not work with latest version of go?"
I tried to `godep save` the repo in order to add a new dependency and it seems to require go1.7...
[code]
Getting the same error with latest (`godep v79 (linux/amd64/go1.6)`) and what I had (`godep v62 (linux/amd64/go1.7rc2)`). Should we switch to use `dep`?

cc @ixdy

[2017-10-04 17:04] bgrant0607 commented on #4829
@fejta Github may eventually make that possible, but it doesn't appear to be yet.

[2017-10-04 17:44] krzyzacy commented on #4754
https://docs.docker.com/engine/reference/builder/#understand-how-arg-and-from-interact woo, that's helpful!

[2017-10-04 18:31] BenTheElder opened #4871 "Bootstrap Revamp Tracking Issue"
Moving this over from https://github.com/kubernetes/test-infra/pull/4430 and breaking it into smaller PRs for review sanity.
This should also cover issues #3370 and #3371.

In general the first part of this list is just porting portions of the python script to drop-in-compatible go code with unit tests which I've kept small to improve review-ability. The end of the checklist involves actually reva

[2017-10-04 18:32] BenTheElder commented on #4871
/area bootstrap
/assign
/cc @krzyzacy

[2017-10-04 18:48] BenTheElder commented on #4871
First PR with the initial binary and CLI / Repos parsing is at: https://github.com/kubernetes/test-infra/pull/4872

[2017-10-04 19:05] #3788 closed

[2017-10-04 19:57] BenTheElder commented on #4868
Hmm I definitely have manually edited `Godeps/Godeps.json` to update a dep before :man_shrugging:.
It looks like we have godep explicitly set to `go1.7`
https://github.com/kubernetes/test-infra/blob/8d1c5cf461bb0d71395b7b101c5db0794b32145d/Godeps/Godeps.json#L3
Maybe we can just update this to `go1.9`?

[2017-10-04 21:43] spiffxp commented on #3346
see http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

[2017-10-04 21:44] BenTheElder commented on #4794
see: https://github.com/kubernetes/test-infra/issues/4871 instead of #4430

[2017-10-04 21:44] spiffxp commented on #3362
reopening to clarify: is this done? or have we eliminated .env files?

[2017-10-04 21:45] krzyzacy commented on #3362
renamed for clarity

[2017-10-04 21:47] spiffxp commented on #2072
I agree this was an awesome write up and things have also seriously improved / changed since then.  Do we have or want a guide for the state of things now?

[2017-10-04 21:51] BenTheElder commented on #2072
See #4794 for no more YAML *and* JSON (not yet, but I'm tackling this one slowly).
I think most of this is still more or less just as frustrating. I know @krzyzacy really want to see this improved but since it works now this is somewhat lower priority. Shedding Jenkins + Mungegithub would help.

[2017-10-04 21:52] spiffxp commented on #3412
I feel like this and the GCS layout documented in https://github.com/kubernetes/test-infra/pull/4767 belong together and would very close to specifying the data produced/consumed by the test-infra stack.  There is more than gubernator involved, eg: testgrid, kettle

[2017-10-04 22:00] spiffxp commented on #2072
Right, IMO the set of people that need to make or add jobs is small enough that tribal knowledge transfer is probably fine, given the fixed bandwidth that we have.  I'll open an issue for the stable-X stuff if there isn't one by the time I get there

[2017-10-04 22:02] krzyzacy commented on #2072
yeah I haven't got the chance to do the rest of stable-X stuff yet :-( definitely shoot me an issue

[2017-10-04 23:26] krzyzacy opened #4879 "Prow not redirects properly?"
http://prow.k8s.io/?type=periodic takes you to http://prow.k8s.io/ now

/assign @cjwagner

[2017-10-04 23:41] cjwagner commented on #4879
cc @rmmh

[2017-10-04 23:51] MrHohn opened #4883 "PR jobs still run with debian nodes"
Ref:
- pull-gce-etcd3:https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52028/pull-kubernetes-e2e-gce-etcd3/57501/
- pull-gce-bazel: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52028/pull-kubernetes-e2e-gce-bazel/33208/

Both have:
[code]

Is this as expected? Should we switch to COS as well regarding https://github.com/kubernetes/kubernetes/pull

[2017-10-04 23:54] krzyzacy commented on #4883
yeah, I'm doing some cleaning up

[2017-10-05 00:07] BenTheElder commented on #4879
fixed in https://github.com/kubernetes/test-infra/pull/4882/files ?

[2017-10-05 00:08] BenTheElder commented on #4862
er ignore that. apologies

[2017-10-05 03:06] BenTheElder commented on #4879
Looks like this still needs to get deployed.

[2017-10-05 04:16] spxtr commented on #4770
I meant "I really wish GitHub provided some **API** to see webhook deliveries."

[2017-10-05 04:33] spxtr commented on #4814
I would caution against anything that looks like `make -C <foo> <target> GET_CLUSTER_CREDENTIALS_CMD="true"`. Other users of prow have just made their own Makefiles as needed, since they also need to copy and modify `cluster/*.yaml`. Instead, we can add a section to the getting started guide that explains how to copy the Makefile and `cluster/*.yaml`. We can also add a comment over the `get-cluste

[2017-10-05 04:34] spxtr commented on #3141
I think the solution to this that we settled on was to limit the number of people with access to the prow cluster to a very small number. Those people have the power to do whatever they want.

[2017-10-05 04:34] #3141 closed

[2017-10-05 04:59] BenTheElder commented on #4814
That's probably not the exact way to handle it, but having a makefile that only functions for one private instance checked in *is* kinda gross and we could probably figure out a reasonable way to also allow it to be used more generically. Most of the rest isn't very specific to our instance.

I'm not really a big fan of most of the targets depending on a target that overwrites your kubecfg either,

[2017-10-05 06:41] spxtr commented on #4814
Our `cluster/*.yaml` only function for one private instance, though. This is a recurring issue, that the makefile, the cluster config, and the unit tests for the config are all specific to our instance. I somewhat improved this for the cluster config by adding `cluster/starter.yaml`, but the problem persists for the others. I can open an issue to go into this in more depth, since it's been botheri

[2017-10-05 08:28] kargakis commented on #4770
Oh yeah

[2017-10-05 09:55] kargakis commented on #3412
What I would like to see is how each component depends on other components, if any. There are subtle dependencies today, eg. we require the gubernator and prow configs to be synchronized, testgrid is doing some sort of validation on the prow config IIUC, etc.

[2017-10-05 10:22] kargakis commented on #4879
Seems fixed now.

[2017-10-05 10:23] #4879 closed

[2017-10-05 11:27] kargakis commented on #4788
@spxtr yeah, such a doc would be nice. prow should be giving us the necessary logs (eg.  https://github.com/kubernetes/test-infra/pull/4885), a logging stack is orthogonal to the system.

[2017-10-05 11:32] kargakis commented on #4788
Also, we need to start exposing metrics from the controllers if we want to be detecting anomalous behavior as we should. For example, we should expose a metric that records failed API calls to the underlying agent. Then, we could setup a prometheus alert that triggers if the percentage of failed API calls exceeds a percentage of the total calls over a period of time. If the jenkins-operator starts

[2017-10-05 14:13] mattmoor commented on #4814
@BenTheElder @spxtr One of the reasons I broke up `starter.yaml` in my demo and re-aggregate them with `k8s_objects` was that it enables you to recycle pieces.

As a strawman, you could have:
[code]

... you could also create directories that share common graduation paths, and directories for instances could just assemble pieces "off the shelf" (likely plus config).

The rules also work with `rule

[2017-10-05 14:37] stevekuznetsov commented on #3412
Hardening the API will only make it easier for things other than Gubernator to touch it. Right now this API -- and I think we should consider the GCS layout as a public API -- is very ad-hoc and frustrating to deal with.

[2017-10-05 14:55] kargakis commented on #4814
I can't wait for the new declarative [API](https://github.com/kubernetes/kubectl/blob/master/pkg/apis/manifest/v1alpha1/types.go) that is build as part of the [Declarative Application proposal](https://docs.google.com/document/d/1cLPGweVEYrVqQvBLJg6sxV-TrE5Rm2MNOBA_cxZP2WU/edit#) to get ready for prime time.

[2017-10-05 18:01] krzyzacy commented on #4862
I would say it's easier to keep 1.5 as stable-4, so when we are in 1.9 cycle, we can still have signal for 1.6 branch?

[2017-10-05 19:17] BenTheElder opened #4891 "prow should have better introspection"
@rmmh brought up some ideas for improving prow introspection today, writing down what I remember here:

- deck should serve config.yaml and plugins.yaml
  - possibly deck should also be able to serve selected subsets of these since they're huge and growing (seperate discussions about orthogonaly improving this)
- deck should serve recent events (trigger events etc?)
- it should be easier to view a

[2017-10-05 19:17] krzyzacy opened #4892 "Boskos janitor can never recover when node has problems"
All of a sudden the janitor pod gets
`read tcp 10.60.38.125:33586-\u003e10.63.250.132:80: read: connection timed out`
`dial tcp: lookup boskos on 10.63.240.10:53: dial udp 10.63.240.10:53: connect: network is unreachable`

/area boskos
/assign

cc @MrHohn any idea from network experts?

[2017-10-05 19:19] krzyzacy commented on #4892
[code]

[2017-10-05 19:25] BenTheElder commented on #4849
Slightly improved in #4887, but we're still not really tracking these well, eg `mungegithub/issue_labeler` has it's own arbitrary `requirements.txt` so we just disable a bunch of pylint errors, previously we didn't even bother `pylint`-ing it.

[2017-10-05 19:26] BenTheElder commented on #4792
/close
will re-open when we have a better idea about cross-builds, this seems to be a bit too optimistic for the moment :disappointed:

[2017-10-05 19:26] #4792 closed

[2017-10-05 19:30] BenTheElder commented on #4179
I would like to see this happen but it's a bit outside of what I'm working on ATM and might need more discussion. It should (?) be fairly easy to do if anyone wants to go for it.

[2017-10-05 19:33] BenTheElder commented on #4871
Hmm @krzyzacy we will need to migrate this appropriately https://github.com/kubernetes/test-infra/issues/2696 (job owners in the jobs config), this and the scenario can probably just be some new flags/args?

[2017-10-05 19:34] BenTheElder commented on #4752
Any progress on this?

[2017-10-05 19:40] spxtr commented on #4891
That could be useful, and it's pretty easy to do.

They'll shrink eventually(TM).

Not sure how useful that is. They're in the logs if you need to see them. Not only that but we wouldn't be able to provide any guarantees about this.

That's not a bad idea, related sorta to the first one.

[2017-10-05 19:45] spxtr commented on #4752
No, it's a very minor thing. P3 :)

[2017-10-05 20:01] krzyzacy commented on #4871
owner probably can be part of prow jobs definition

[2017-10-05 21:34] krzyzacy commented on #4892
Looked offline, seems the pod network is screwed - will try to leave the pod next time it happens, in the meantime we might want to restart the pod if boskos service cannot be reached

[2017-10-05 22:26] krzyzacy opened #4902 "pull-test-infra-bazel does not produce artifacts anymore?"
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/4898/pull-test-infra-bazel/8385/

[2017-10-05 22:27] krzyzacy commented on #4902
ci-test-infra-bazel still output junit_bazel.xml : http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-test-infra-bazel/59861/artifacts/

[2017-10-05 22:29] BenTheElder commented on #4902
/area bazel
/assign

[2017-10-05 22:38] kargakis opened #4903 "Jenkins queue api returns different things between versions"
We likely need an option to disable handling enqueued builds altogether.
/area prow
/assign

[2017-10-05 22:53] kargakis commented on #4903
/unassign
/assing @csrwng
/cc @stevekuznetsov

[2017-10-05 23:08] BenTheElder commented on #4902
/cc @ixdy

[2017-10-05 23:18] krzyzacy commented on #4902
I hit the similar error in https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-prow-canary/19133/build-log.txt, where I worked around by explicitly install `file`

[2017-10-05 23:20] BenTheElder commented on #4902
[code]
yeah. hmm, we need to fix that. we should probably also bump to bazel 0.6.1

[2017-10-05 23:29] kargakis commented on #4903
older version:
<details>

[code]
</details>

newer version:
<details>

[code]
</details>

`task.name` is not returned in the newer version but I verified that queued builds are included under the job api.

[2017-10-05 23:32] BenTheElder commented on #4902
PR up shortly.

[2017-10-06 00:16] spiffxp commented on #4044
/close
believe this is fixed by #4449, please reopen if not

[2017-10-06 00:16] #4044 closed

[2017-10-06 00:25] spiffxp commented on #3371
/close
closing this in favor of #4871

[2017-10-06 00:25] #3371 closed

[2017-10-06 00:36] BenTheElder commented on #4902
need to wait and make sure it's all good

[2017-10-06 00:38] spiffxp commented on #4247
We're presently using githubql in prow/tide, at what point would we be satisfied enough with it to migrate the rest of prow over?  Is that something we want to accomplish this year?

[2017-10-06 00:44] spiffxp commented on #4416
/close
fixed by #4622, thanks for the P0 fix @cjwagner

[2017-10-06 00:44] #4416 closed

[2017-10-06 00:47] BenTheElder commented on #4902
Testing at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4905/pull-test-infra-bazel/8401/

[2017-10-06 00:55] BenTheElder commented on #4902
/close

[2017-10-06 00:55] #4902 closed

[2017-10-06 01:26] stevekuznetsov commented on #4179
The alternate proposal from @fejta was that `blunderbuss` (or the spiritual successor in `prow`) should tell you how to assign people but not do it itself. I like that approach, too.

[2017-10-06 09:51] kargakis commented on #4247
Unlike. The graphql api still lacks basic mutations like adding labels in issues/prs.

[2017-10-06 09:53] kargakis commented on #4247
https://platform.github.community/t/add-remove-labels-from-a-pull-request/3253

[2017-10-06 09:56] kargakis commented on #4179
What's the value of the reviewers section in OWNERS files if we require from users to request reviews then?

[2017-10-06 10:23] kargakis commented on #4903
Because of this, this issue is not really an issue but it's surprising. Job cancellation also works uniformly across all builds in the newer versions so that's good. I should at least document the working Jenkins versions.

/kind documentation

[2017-10-06 14:40] stevekuznetsov commented on #4179
Helps to make it clear to users it's on them to drive the review and approval process for their PR and gives them a starting point for who to ping about the issue -- same as what we currently do to suggest approvers.

[2017-10-06 15:41] kargakis commented on #4179
Imagine that as a new contributor I make a change that spans multiple directories. Now I need to determine who is the most appropriate reviewer out of all the directories' OWNERS files or potentially ping people who have no interest in reviewing my changes just because they are not the real owners of the parts I am changing.

[2017-10-06 15:44] kargakis commented on #4179
Or the directories I am changing have no OWNERS file so assuming I figure out how OWNERS work, I need to chase files in parent directories. Ouch.

[2017-10-06 16:36] stevekuznetsov commented on #4179
Not sure I follow -- same as today for approvals, the comment will contain "when you are ready for review. `/assign XXXX`"

[2017-10-06 16:51] kargakis commented on #4179
OK, makes sense now. SGTM

[2017-10-06 17:46] spxtr commented on #4247
Right, it's still a new API. For now I don't see much harm in keeping things the way they are.

[2017-10-06 18:13] BenTheElder commented on #4662
This is still possibly an issue, I think it's actually because of stale PRs, re-opening while I look around. If it's just stale PRs I'll migrate to a new issue about that.

[2017-10-06 18:18] BenTheElder opened #4912 "github status labels show for jobs that do not run against a PR"
Ignoring even all of the cases where we change the jobs configuration, if PR foo modifies some file and then later updates to no longer modify this file it seems we will leave up a GitHub context/status for jobs against the initial PR.

I *think* this is actually rooted in the fact that we persist the job spec for a PR when re-running it so stale PRs can get into a weird state. I'm not sure what w

[2017-10-06 18:18] BenTheElder commented on #4662
/close
this is a broader issue, see #4912

[2017-10-06 18:18] #4662 closed

[2017-10-06 18:19] BenTheElder commented on #4912
/cc @cjwagner @kargakis @spxtr @luxas

[2017-10-06 18:21] BenTheElder commented on #4912
In particular `pull-kubernetes-e2e-kubeadm-gce — Parent Job Status Changed: Job triggered.` was left on a lot of PRs in k/k and has been a recurring source of confusion as to PRs being green, so one option we might take is to just improve the documentation around jobs being required or not.

[2017-10-06 18:28] jcbsmpsn commented on #4912
Improving the documentation doesn't help a lot unless there is a link to the documentation from the yellow check. Otherwise the documentation is too far away from the PR.

[2017-10-06 18:57] spxtr opened #4913 "Tide should use a smarter config"
This came up in the doc but it's important now. Right now tide's config looks like so:

[code]

This works well for test-infra, but it will pose problems moving forward.

1. It's hard to test without writing a parser for it. There are a few requirements about these queries. One such requirement is that no one PR should be returned by two queries. This isn't a problem now, since we're only looking

[2017-10-06 19:08] BenTheElder commented on #4912
@jcbsmpsn we use the detail link to point to the job results on gubernator, so I don't think linking to the documentation from the yellow check instead would be an improvement.

Reviewers in particular though should be aware of jobs being in the required-context or not. There are more not-required jobs than required because we don't want to block PRs but we do want them to be run and some of them

[2017-10-06 19:20] spiffxp commented on #4912
https://developer.github.com/v3/repos/statuses/#statuses

We can't remove status contexts, best we would be able to do is overwrite them for a given commit if they're known to be stale.

Status contexts that are required for merge have a little "Required" label next to them in the PR (though this information doesn't persist after merge, eg: https://github.com/kubernetes/kubernetes/pull/52823#event

[2017-10-06 20:30] kargakis commented on #4913
We should be able to easily validate this. We can also suggest using separate queries for each repository. Actually, in Openshift we will most likely use separate queries because different repositories require different labels to be or not be present for a PR to merge.

We definitely want this. I have fought a lot downstream to make people use the SQ Merge Requirements section and have realized th

[2017-10-06 21:28] luxas commented on #4829
I guess we can close this issue then as the main code protecting master seems to be working.
Protecting feature branches is an other thing...

[2017-10-06 21:28] #4829 closed

[2017-10-07 09:07] verb opened #4921 "Prow issue: k8s-ci-robot and k8s-merge-robot disagree on kind/ labels"
Example: https://github.com/kubernetes/kubernetes/issues/53189

k8s-merge-robot says:

[code]

So I try `/remove-kind bug`, and k8s-ci-robot says:

[code]

[2017-10-07 22:13] kargakis commented on #3989
This is likely fixed by https://github.com/kubernetes/test-infra/pull/4853 - will reopen if I see it again.

[2017-10-07 22:13] #3989 closed

[2017-10-09 03:44] xiangpengzhao commented on #4921
So I try `/remove-kind bug`

[2017-10-09 03:44] xiangpengzhao commented on #4921
`/remove-kind bug`

[2017-10-09 03:47] xiangpengzhao commented on #4921
Another issue here, seems like k8s-ci-robot recognized a quoted `/remove-kind bug` in your issue body, but I didn't reproduced it in comments... Should it recognized a quoted command?

[2017-10-09 03:51] xiangpengzhao opened #4922 "Expired days are too short for issues in the new 1.9 milestone"
See example: https://github.com/kubernetes/kubernetes/issues/53189

[code]

[code]

It's only 10 days. Seems like it's too short.

cc @dchen1107 @fejta

[2017-10-09 03:51] xiangpengzhao commented on #4921
[code]

[2017-10-09 10:08] mfojtik commented on #4402
👍

[2017-10-09 13:27] ScorpioCPH opened #4927 "Should check GOPATH in kubetest/util.go"
If there is no `GOPATH` env configed, `k8s` func will return `src/k8s.io/...`,
so `Build` func will construct cmd such as:

[code]

and `kubetest` will throw error `make[1]: *** src/k8s.io/kubernetes: No such file or directory.  Stop.`

[2017-10-09 15:33] kargakis commented on #4913
Another thing with github contexts that is missing from tide is marking blocking contexts as `Required`. The SQ is doing this when branch protection is enabled. We are not using branch protection and have seen a lot confusion about failed tests that are not blocking.

[2017-10-09 17:55] spxtr commented on #4913
I originally intended that there should be no tests with `skip_report=false` and `always_run=true` that are not blocking, for this exact reason.

[2017-10-09 18:29] BenTheElder commented on #4913
I agree with this, but since we've made it possible to do this sometimes people want their tests to be highly visible in preparation for becoming blocking. `Required` seems at first like the appropriate way to mark this on GitHub but it has led to plenty of confusion EG https://github.com/kubernetes/test-infra/issues/4912. Perhaps we should disallow `skip_report=false` on non-blocking jobs.

[2017-10-09 18:32] #2753 closed

[2017-10-09 19:14] BenTheElder opened #4931 "run_after_success jobs should display a clearer message when invalidated"
`Parent Job Status Changed: Job triggered.` is not clear if you aren't aware of a job having a parent (which is a somewhat orthogonal issue), we should use a clearer message. mml suggested actually using the parent job's name in the message for starters.

/area prow

[2017-10-09 19:17] BenTheElder opened #4932 "consider disallowing `skip_report: false` for non-blocking jobs"
I think at least currently these jobs have largely been a source of confusion rather than a useful signal. Jobs can always still be checked via gubernator / deck / test-grid without having their status on GitHub. We should consider updating the config presubmits to disallow non-blocking jobs being set to report to GitHub.

Previously brought up here: https://github.com/kubernetes/test-infra/issues

[2017-10-09 19:19] ixdy opened #4933 "slack notifier should omit contents of <details> tags"
We put lots of helpful boilerplate info in `<details>`, but that doesn't mean we should include it in slack notifications.

[2017-10-09 20:16] spxtr commented on #4921
/kind bug

[2017-10-09 20:16] spxtr commented on #4921
/remove-kind bug

[2017-10-09 20:16] spxtr commented on #4921
Well that's a bug :)

[2017-10-09 20:59] kargakis commented on #4913
Should we enforce it? I am fine with it.

[2017-10-09 21:02] kargakis commented on #4932
cc @stevekuznetsov

[2017-10-09 21:11] BenTheElder commented on #4913
@kargakis I opened an issue in https://github.com/kubernetes/test-infra/issues/4932, we probably should.

[2017-10-09 21:28] enisoc opened #4938 "Bazel build failing: no targets found"
Example:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/53544/pull-kubernetes-bazel-build/8500/

[2017-10-09 21:30] BenTheElder commented on #4938
release-1.6 does not build properly with bazel /cc @krzyzacy @ixdy

[2017-10-09 21:31] krzyzacy commented on #4938
yeah ignore that job for now (that's not required and was disabled, I enabled it to see if it will work with an older bazel version, but no luck :-( )

[2017-10-09 21:33] enisoc commented on #4938
It seems to be a required test though:

https://github.com/kubernetes/kubernetes/pull/53544

[code]

Can we remove it from the required list so I don't have to bypass the submit queue?

[2017-10-09 21:34] BenTheElder commented on #4938
It *should* be required on master, etc. We need to get it back to skipping 1.6 for now.

[2017-10-09 21:36] krzyzacy commented on #4938
arh right that's the bazel-build job, I meant gce-bazel. I'll try to toss in some workaround for now.

[2017-10-09 21:48] ixdy commented on #4938
Yeah, I think I broke this workflow last week when I added the bazel-build job for 1.6. I didn't realize at the time that we needed to also branch the scenario configuration for the jobs, which is a bit harder.

[2017-10-09 23:39] michelle192837 commented on #3374
Should be issue #3126.

[2017-10-10 04:26] xiangpengzhao opened #4945 "Test #4921"
/kind bug

[2017-10-10 04:27] xiangpengzhao commented on #4945
/remove-kind bug

[2017-10-10 04:27] xiangpengzhao commented on #4945
/sig testing

[2017-10-10 04:43] xiangpengzhao commented on #4945
/area prow

[2017-10-10 04:43] xiangpengzhao commented on #4945
/remove-area prow

[2017-10-10 06:07] xiangpengzhao commented on #4945
/remove-foo bar

[2017-10-10 06:10] xiangpengzhao commented on #4945
/remove-kind bug
/remove-area prow

[2017-10-10 06:31] xiangpengzhao commented on #4945
/kind bug

[2017-10-10 06:43] xiangpengzhao commented on #4921
PR #4946 sent.

[2017-10-10 06:45] xiangpengzhao commented on #4945
bot doesn't recognize all the existing labels for an issue. Fixed in #4946.

[2017-10-10 06:48] xiangpengzhao commented on #4921
/remove-kind bug

[2017-10-10 06:52] xiangpengzhao commented on #4921
https://github.com/kubernetes/test-infra/pull/1#event-1285412609
https://github.com/kubernetes/test-infra/issues/4921#event-1285413081
When I add `kind/bug` for issue #1 and then `/remove-kind bug` here, the label can be removed. That means, all the add/remove label actions will check if #1 has the label.
/shrug

[2017-10-10 10:07] shashidharatd opened #4947 "federation push hyperkube image does not work using bazel build"
We are trying to migrate federation pre-submit jobs from jenkins to prow. So we have below query:
- Can we still continue to use the default build mechanism using `make quick-release`?
- Should we use `make bazel-release` instead for future-proofing?

**Issue with federation using bazel build:**
kubetest `--build=bazel` option seems to be not working for federation. We could change our [existing m

[2017-10-10 10:08] shashidharatd commented on #4947
/assign @ixdy

[2017-10-10 14:22] stevekuznetsov commented on #4932
Generally I think the comment should be re-structured ... see https://github.com/kubernetes/test-infra/issues/4602

If we create a comment that has _clear_ messaging on "these are the tests that are currently valid for your PR, tested against your latest HEAD, please look at Gubernator for historical data" I believe you are correct @BenTheElder that only blocking tests should publish statuses

[2017-10-10 17:05] jianhuiz commented on #1986
Could we at least use Kubernetes types so that the full pod capability can be utilized?
Currently a lot of pod spec fields not defined in `prow/kube/types.go` which are ignore silently when plank creating pods from the config file.

[2017-10-10 17:15] kargakis commented on #1986
We can live with this for now. If the need for a missing field arises, we can simply extend our type but I don't know of anything needed that's missing. Do you? On the flip side, I think we should be fine with importing `k8s.io/api` but the state of dep management in test-infra is not great these days.

[2017-10-10 17:21] kargakis commented on #1986
CRD controller example: https://github.com/kubernetes/kubernetes/pull/52753

Switching our controllers to use informers is going to be a bigger win than using the k8s api types (unless the latter is a prerequisite for the former) but I don't want to do that before having integration tests in place for our controllers (https://github.com/kubernetes/test-infra/issues/3340).

[2017-10-10 17:28] jianhuiz commented on #1986
I recently tried to use `env[].valueFrom.secretKeyRef` and `volumeMounts[].subPath` in my job config, which took me some time to realize that prow defines its own Kubernetes types which is a subset. I can work around this but I guess there were others surprised about it. Given that go 1.9 introduced type aliases, I suppose this should not need many changes, no?

[2017-10-10 17:43] kargakis commented on #1986
Yeah, the refactoring should be simple using type aliases. One catch is making godep work and then I don't know whether we have moved away from building prow with older go versions. I think we still use a 1.8 image in Openshift but we could easily update. I can't speak about other consumers of prow though.

[2017-10-10 18:30] BenTheElder commented on #4947
- `make bazel-release` works great on Prow so far, `make quick-release` does not (since it needs to spawn docker containers). We might have an option to get [`make release-in-a-container`]() in the future but that involves not using docker in the build.

- `kubetest --build=bazel` internally calls `make bazel-release`

- Bazel should be able to customize docker image registry and tag in [rules_doc

[2017-10-10 19:00] #4921 closed

[2017-10-10 19:00] #4945 closed

[2017-10-10 19:18] BenTheElder commented on #4932
I think besides the bot messages, I've been seeing developers concerned with getting a full set of "green checks" for their PRs and that showing jobs they don't need one for has only caused confusion and frustration.
We can easily fix that by simply not reporting them to GitHub and enforcing that with a presubmit, but I'm not sure if maybe there might be some valid reasons behind our currently all

[2017-10-10 19:28] stevekuznetsov commented on #4932
Yeah, GitHub has this first-class concept of status for commits which is a natural place for tests to report but it is 100% conflated with "what needs to happen for merge". The status for the submit-queue (or tide, or whatever) is a LOT more complex (have these labels, don't have those, have this milestone, etc) so I agree that using the "green checkmarks" to message to developers things that they

[2017-10-10 21:18] stevekuznetsov opened #4957 "jenkins-operator: global limit logging is spammy"
When we hit the global limit for jobs for `jenkins-operator`, we see the following for every sync:

[code]

/area prow
/cc @kargakis
/assign @kargakis
/kind bug

[2017-10-10 21:24] krzyzacy commented on #4698
[code]

[2017-10-10 21:35] BenTheElder opened #4958 "Migrate builds off of Jenkins"
Once we have https://github.com/kubernetes/kubernetes/pull/52883 we can migrate the cross jobs off of jenkins and only run `make release` (using docker) in CI periodically while the new `make quick-release-in-a-container` can generally be used on Prow instead.

We can additionally migrate some of the jobs for older releases that don't build with bazel if we can cherrypick it back.

[2017-10-10 21:44] BenTheElder commented on #4958
/cc @ixdy @krzyzacy

[2017-10-10 21:45] BenTheElder commented on #4958
Related to https://github.com/kubernetes/test-infra/issues/3356 but this requires making removing the docker dependencies first.

[2017-10-10 22:44] krzyzacy opened #4961 "Have some other solution for sharing cache instead of use containerPort"
ref https://github.com/kubernetes/test-infra/pull/4960#discussion_r143871843

[2017-10-10 22:48] BenTheElder commented on #4961
I'm pretty sure @spxtr mentioned that the git cache should be fine, it's the build cache that needs to have unique access (I *think*).

[2017-10-10 23:30] spxtr commented on #1986
Yes, we can just copy `types.go` from k/k into here. That's what the go team does for their CI, actually.

[2017-10-11 00:24] BenTheElder commented on #4938
bazel-build is fixed for 1.6 (https://github.com/kubernetes/kubernetes/pull/53017) but bazel-test [may be broken](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/53017/pull-kubernetes-bazel-test/9373/), I'm trying to figure out if it's just a flake or not.

[2017-10-11 01:40] BenTheElder commented on #4938
I can't tell if this is a legitimate failure or not but it *is* consistent.

[2017-10-11 01:58] ixdy commented on #4938
yeah, this is https://github.com/kubernetes/kubernetes/issues/53016. I can't get it to reproduce locally, but it consistently fails on prow.

[2017-10-11 02:46] cblecker commented on #4868
Yes, it can safely be updated to go1.9 without issue. k/k uses godep v79, so I'd recommend that (although @kargakis, I'm interested in where you are getting a godep v79 that's compiled with go1.6).

[2017-10-11 08:03] kargakis commented on #4868
@cblecker https://github.com/tools/godep/releases/tag/v79

[2017-10-11 15:58] kargakis commented on #4437
https://developer.github.com/v3/repos/hooks/#create-a-hook

[2017-10-11 17:11] cblecker commented on #4868
Ohh.. I didn't realize they distributed binaries too. Their [installation instructions](https://github.com/tools/godep/tree/v79#install) just call for a `go get`.

[2017-10-11 18:28] BenTheElder commented on #4938
closing in favor of https://github.com/kubernetes/kubernetes/issues/53016

[2017-10-11 18:28] #4938 closed

[2017-10-11 18:28] #4957 closed

[2017-10-11 18:35] #3906 closed

[2017-10-12 06:02] krzyzacy opened #4976 "gubernator link for non-k8s presubmit is wrong"
https://github.com/kubernetes-incubator/cri-containerd/pull/338

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubernetes-incubator_cri-containerd/338/pull-cri-containerd-build/2/

bootstrap indicates the url should be https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/cri-containerd/338/pull-cri-containerd-build/2

/assign @rmmh

[2017-10-12 06:02] krzyzacy commented on #4976
cc @Random-Liu

[2017-10-12 12:00] nikox94 opened #4980 "Support running e2e tests using Docker builds"
Currently when `go run hack/e2e.go -- -v --build` is run on a freshly cloned Kubernetes repository, two things happen:

1. The test requires that kubetest is either under `$GOPATH/bin/kubetest` or on the `$PATH`
2. It tries to build `make -C /home/nikola/go/src/k8s.io/kubernetes quick-release`

This means that e2e tests are not elegantly run for a docker build setup.
Looking at https://github.com/

[2017-10-12 12:01] nikox94 commented on #4980
Perhaps the above are two different issues and need to be broken up into two separate tickets - one for amending the hack/e2e.go script and another for adding customization parameters to kubetest

What do you think?

[2017-10-12 14:34] kargakis commented on #3339
Sounds interesting. I've started working on a cherry-pick plugin that goes all the way until opening a PR and since it's really intrusive, I have opted on standing up a separate service for it but I am not sure how to integrate that with hook (likely will be its own thing initially).

[2017-10-12 14:34] kargakis commented on #3339
cc @stevekuznetsov

[2017-10-12 18:37] michelle192837 commented on #3126
Have a change for this, should be pushed out next week.

[2017-10-12 18:40] michelle192837 commented on #4501
Update for the STALE status: TestGrid should support STALE as a new status, if 1) there are no results at all (i.e. no column headers), or 2) there's a 'stale' warning on the tab.

It looks like a lot of dashboards are still going to dodge STALE status because they have column headers but no actual results; I'll see about changing that, but what would probably be more useful for everyone is to set

[2017-10-12 18:51] krzyzacy commented on #4976
hummm it fixed itself?

[2017-10-12 19:13] stevekuznetsov commented on #3339
Do we expect `hook` to just look like a mux for GitHub webhook payloads at that point?

[2017-10-12 19:44] kargakis commented on #3339
I wouldn't expect every plugin to be its own service but allowing `hook` to act like a mux for cases where it makes sense, cases we don't want to bake stuff into `hook`, this sounds good to me.

[2017-10-12 22:57] MrHohn commented on #4472
Finally kubernetes/kubernetes#52377  is merged. I'd like to work on the second part (see https://github.com/kubernetes/test-infra/issues/4472#issuecomment-329022742) and start making PR jobs create custom network.

For rolling out, what about four phases:
1. One non-blocking PR job.
2. All non-blocking PR jobs.
3. One blocking PR job.
4. All blocking PR jobs.

For phase one, I think [`pull-kuberne

[2017-10-12 23:05] krzyzacy commented on #4472
maybe `pull-kubernetes-e2e-gke-gpu` to start with, since that's manual triggered and can causes less damage if breaks.

[2017-10-12 23:19] MrHohn commented on #4472
Ack, sent #4988.

[2017-10-12 23:43] BenTheElder commented on #3370
superceded by https://github.com/kubernetes/test-infra/issues/4871 which is tracking the rewrite and eventual switch :crossed_fingers:
/close

[2017-10-12 23:43] #3370 closed

[2017-10-13 00:29] krzyzacy opened #4989 "pull-test-infra-bazel flakes upon installing gubernator requirements.txt"
sample: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4986/pull-test-infra-bazel/8659/

[code]

[2017-10-13 00:31] BenTheElder commented on #4989
`setuptools` isn't being installed, which is causing WebTest to fail, because our python deps are broken: https://github.com/kubernetes/test-infra/issues/4849

[2017-10-13 01:20] krzyzacy commented on #4976
nope... compare https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-cri-containerd-node-e2e and https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull-cri-containerd-node-e2e/

something's screwed?

[2017-10-13 02:29] rmmh commented on #4976
Something's messed up with that job. It's not putting logs where it should.
[code]

[2017-10-13 04:59] Random-Liu commented on #4976
@rmmh How could we fix it?

[2017-10-13 07:03] xiangpengzhao commented on #4989
also see in https://github.com/kubernetes/test-infra/pull/4991

[2017-10-13 07:10] xiangpengzhao commented on #4922
/cc @enisoc @jdumars

[2017-10-13 09:34] kargakis commented on #3339
Can we brainstorm how this can be potentially achieved? Maybe, `hook` exposes a `/register` endpoint where plugin services send some kind of payload to to register themselves and once the registration is successful, `hook` starts [tee](https://en.wikipedia.org/wiki/Tee_(command))ing events?

[2017-10-13 12:53] stevekuznetsov commented on #4871
I would really, really, really like us to revisit and reconsider the `started.json` and `finished.json` files when we do this port. There is quite a lot of cruft in there right now and if we are going to be declaring nice Go structs (with Godoc!!!) for the data we serialize into these files, we should take the time to format it nicely, explain what other dependent services use which fields, etc.

[2017-10-13 14:04] jdumars commented on #4922
@marun for visibility

@xiangpengzhao this time frame is in some ways too short for regular coding periods, but also on the verge of too long for burndown.  This duration was to find a balance between the two.  What would you suggest to balance the two needs instead?  Ideally, we should not be constantly adjusting the frequency by hand.

[2017-10-13 15:08] ihmccreery opened #4994 "`kubetest` requires application default credentials for gce"
For anyone with similar trouble, hopefully they'll find this:

I wasn't logged in with `gcloud auth application-default` so I was getting errors:

[code]

Fixed with `gcloud auth application-default login`.

[2017-10-13 16:51] krzyzacy commented on #4989
/assign @rmmh

[2017-10-13 16:59] enisoc commented on #4922
@xiangpengzhao Did you file a bug for the bot refusing to remove `kind/bug`? That seems to have been the real blocker in this case. I went ahead and fixed it manually for now.

[2017-10-13 17:05] BenTheElder commented on #4989
We probably need to move setuptools to requirements.txt or to being installed in the image now instead of in here https://github.com/kubernetes/test-infra/blob/master/gubernator/test_requirements.txt

[2017-10-13 17:38] xiangpengzhao commented on #4922
@jdumars What I expect is that the time frame shouldn't be absolute but relative. I mean we make the issue be moved out of a milestone if the required changes are not made until some days (e.g., 7 days) before the date when that release will be published.

@enisoc there is an issue https://github.com/kubernetes/test-infra/issues/4921 filed by @verb and I sent a patch to fix it. But I don't think i

[2017-10-13 17:44] enisoc commented on #4922
@xiangpengzhao It looked to me like the labels would have been ok, except that it had multiple `kind/*` labels. If it had let you remove the extra `kind/*` label, I think it would have been satisfied with the labels, and it would have moved on to `milestone/needs-approval`.