[2019-04-25 12:14] rverma-nikiai commented on #10821
@fejta @stevekuznetsov Is it possible to use token-based authentication for prow client. I find that documentation only lists authentication by X509 certificates. If yes can you please give more details.

[2019-04-25 15:19] fejta commented on #12218
Check out the tekton-pipeline agent that @ccojocar recently created. It allows a job to start pods after the first pod completes. Still need documentation

[2019-04-25 19:31] cblecker commented on #11413
@nickvanw Any update on this? This would a potentially big improvement to our workflow.

[2019-04-25 20:22] rofuentes opened #12354 "Status Reconciler breaks initial Prow deployment"
**What happened**:
Initial prow deployment fails after addition of statusreconciler. Cluster is managed by GKE.

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:11:31Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.

[2019-04-25 20:30] yujuhong commented on #12340
Ping! Is there a fixed release schedule for the new kubetest image?
/cc @krzyzacy

[2019-04-25 20:32] krzyzacy commented on #12340
I think this is automated now? cc @Katharine

[2019-04-25 21:17] BenTheElder opened #12356 "/uncc does not work for teams"
**What happened**:  teams assigned to review by prow cannot be unassigned. `/uncc <team>` does not produce any visible results.

**What you expected to happen**: the team should be removed

**How to reproduce it (as minimally and precisely as possible)**: cc a team and then attempt to uncc the team

**Please provide links to example occurrences, if any**: see https://github.com/kubernetes/kubernet

[2019-04-26 00:13] BenTheElder opened #12362 "boskos should heartbeat while cleaning"
**What happened**: run boskos reaper with a low TTL (1 minute) to re-acquire resources. observe that reaper will reset from cleaning to dirty repeatedly for projects.

**What you expected to happen**: the janitor should heartbeat while holding resources so reaper does not TTL them.

**How to reproduce it (as minimally and precisely as possible)**: see above

**Please provide links to example occur

[2019-04-26 00:14] BenTheElder commented on #12362
/cc @amwat

[2019-04-26 05:38] cblecker commented on #12356
Ugh. Okay, so this might actually be a bug on GitHub's side.

There looks to be a difference in handling of API objects against the `requested_reviewers` endpoints, depending on if you `POST` or `DELETE` against them.

There are two different cases where providing the same input to the POST endpoint and the DELETE endpoint offer different results.

### Lowercase login:
- Input file: https://gist.g

[2019-04-26 15:28] arturo-c commented on #12354
Fixed in https://github.com/kubernetes/test-infra/issues/12354

[2019-04-26 15:37] stevekuznetsov commented on #12354
FWIW the `apps/v1` works for me on a k8s `kubernetes v1.11.0+d4cacc0` cluster

[2019-04-26 15:46] #12354 closed

[2019-04-26 16:19] nickvanw commented on #12356
Thanks @cblecker! Based on your description, this does sound like some problems with case sensitivity in the API. Your support ticket opened an issue internally, and I'll make sure we find the right team to take a look at this!

If anything else related comes up, feel free to comment in this issue!

[2019-04-26 16:57] nickvanw commented on #11413
Thanks for the ping @cblecker!

I don't have an easy update right now - I've engaged the team that's responsible for this feature on GitHub, but I don't know what their priority is on adding this to the REST API. I'll ping them again today.

Beyond that, I think the easiest thing may be to involve the GraphQL API here to get the information immediately. I know it can be irritating to have to split

[2019-04-26 17:42] #10787 closed

[2019-04-26 20:02] #12136 closed

[2019-04-26 22:26] fejta commented on #11260
Thanks!

The `k8s.io/test-infra/pkg/io` package already provides methods to read/write to a path, transparently choosing GCS or the local filesystem as appropriate.

I would like to see this design evolve in that direction, and extend this package to support cloud storage systems beyond GCS

[2019-04-27 01:48] Katharine commented on #12340
They are pushed automatically, but the config references are not updated (I wrote a tool to update the references, but currently it is only run manually).

You can use image-bumper to update the references and submit a PR with the result. It doesn't require any Googler involvement.

[2019-04-27 16:09] stevekuznetsov commented on #5278
/remove-lifecycle rotten

We need this but at this point it should be a simple kubebuilder controller over prowjobs and whatever target resources

[2019-04-27 16:11] stevekuznetsov commented on #12218
@mukesh-panigrahi I will close this issue as it seems like you have gotten an answer to your question -- if you have more questions please feel free to re-open it and ask!

/close

[2019-04-27 16:11] #12218 closed

[2019-04-28 15:04] nikhita commented on #5264
Fixed in https://github.com/kubernetes/test-infra/pull/12042

/close

[2019-04-28 15:04] #5264 closed

[2019-04-28 18:16] vishleshpatel commented on #10388
Hi @stevekuznetsov

so i now have changes put together. How to test the changes? Also, What tests needs to be run?

Thanks!

[2019-04-28 19:23] #9647 closed

[2019-04-28 23:32] #10888 closed

[2019-04-29 03:22] mkumatag commented on #10871
this one fixed.
/close

[2019-04-29 03:22] #10871 closed

[2019-04-29 07:22] matthyx commented on #9514
/remove-lifecycle stale

[2019-04-29 11:07] alvaroaleman opened #12393 "Add SlackReporter to crier"
**What would you like to be added**:

A slackreporter that can report failed jobs into Slack

**Why is this needed**:

In order to gain visibility into whats going on, it was awesome if Prow could report into Slack, especially for PostSubmits and Periodics.

/assign

[2019-04-29 16:24] michelle192837 commented on #4646
/reopen
/remove-lifecycle rotten

Keeping this around; test-infra isn't the only place this would be useful, and still want to keep it on the radar.

[2019-04-29 16:50] nikhita commented on #10904
PR has merged.

/close

[2019-04-29 16:50] #10904 closed

[2019-04-29 16:57] yujuhong commented on #12340
PR: #12398

[2019-04-29 19:51] #12393 closed

[2019-04-29 20:13] Katharine commented on #10967
/remove-lifecycle stale

[2019-04-29 20:51] michelle192837 commented on #10414
Prow has and is using a new logo now ^^

[2019-04-29 20:51] #10414 closed

[2019-04-29 22:39] stevekuznetsov opened #12407 "verify-owners: plugin should honor blacklists, exclude vendored directories by default"
xref: https://github.com/kubernetes/test-infra/pull/12402#issuecomment-487722467

The feature added to check organization membership for users listed in OWNERS files is extremely valuable but suffers from two small bugs that make it difficult to use for projects that vendor other projects using OWNERS:

1. the `verify-owners` code does not traverse using the directory blacklist given to other plug

[2019-04-29 23:10] cblecker commented on #12407
One other thing that should probably be fixed in the next iteration.. we shouldn't @ mention folks who aren't in the org. If it's a typo or the person is unaffiliated, we don't want to drag them into mentions.

[2019-04-30 02:26] nikhita commented on #12407
I can work on fixing it...but I probably won't have time today.

[2019-04-30 02:39] spiffxp commented on #8536
/remove-lifecycle stale
/assign
/milestone v1.15

[2019-04-30 02:44] spiffxp commented on #8536
I've got a proof of concept laying around.  There are some ordering issues that need to get sorted out to ensure things generate the same way all the time.

The main catch is even if we split files out into, say, each sig's dir... there are still generated files at repo root that would hit the root owners file.  So this wouldn't gain us much in terms of avoiding bandwidth-constrained reviewers/app

[2019-04-30 04:36] #11009 closed

[2019-04-30 05:47] michelle192837 commented on #10997
/remove-lifecycle-stale

[2019-04-30 14:15] imkin commented on #9679
/remove-lifecycle stale

[2019-04-30 15:42] stevekuznetsov commented on #10946
/remove-lifecycle stale

[2019-04-30 15:59] stevekuznetsov commented on #11011
/remove-lifecycle stale

[2019-04-30 21:06] stevekuznetsov commented on #10680
This got implemented
/close

[2019-04-30 21:06] #10680 closed

[2019-04-30 21:22] krzyzacy commented on #11162
/close

thanks @amwat !

[2019-04-30 21:22] #11162 closed

[2019-04-30 22:08] akutz opened #12426 "Owners should be able to manually trigger periodic/post jobs"
**What would you like to be added**:
Per this [Slack conversation](https://kubernetes.slack.com/archives/C09QZ4DQB/p1553307341750800?thread_ts=1553298938.731900&cid=C09QZ4DQB) between myself and @stevekuznetsov, it would be useful for Owners to manually trigger periodic/post jobs. One suggested solution is a self-service web portal that could be used to kick off the jobs.

**Why is this needed**:

[2019-04-30 22:52] stevekuznetsov commented on #12426
/area prow
This relates to the self-service epic, as well

[2019-04-30 23:00] dims commented on #12426
@stevekuznetsov how do we prevent people from kicking off the 5k job? :)

[2019-04-30 23:34] stevekuznetsov commented on #12426
My strawman implementation of this would be a self service web page with GitHub OAuth to log in -- so, if they can post `/test foo` to trigger a presubmit they can trigger the presubmit using the page. Kicking off postsubmit jobs would naturally fall to users who have at least write access to the repo. Periodics, I guess it would be admin, or we can check write access for the first `extra_refs`. B

[2019-05-01 00:01] stevekuznetsov opened #12431 "deck: job overview infographic has timing wrong"
The longest failure was 16min but the failure block is above 20min.

![Screenshot from 2019-04-30 17-00-56](https://user-images.githubusercontent.com/7328370/57000701-a37b0f80-6b69-11e9-9900-23636df578c4.png)

/cc @Katharine @smarterclayton
/area prow/deck

[2019-05-01 01:06] smarterclayton commented on #12431
I think I capped vertical y axis increments at 5 or 10m, but it may be normalizing wrong.

/assign @smarterclayton

[2019-05-02 00:07] alejandrox1 opened #12449 "Testgrid shows tests as still running after weeks of having ended"
**What happened**:
Some of the https://testgrid.k8s.io/sig-release-master-upgrade jobs , ref https://github.com/kubernetes/kubernetes/issues/77232 , show runs from as far back as two weeks ago as still running.
However, after further inspection, these runs have all finished but their results are not properly being populated by testgrid.

**What you expected to happen**:
Testgrid should be able to

[2019-05-02 11:18] #8468 closed

[2019-05-02 13:14] nikhita commented on #3083
Thought so too....but turns out it is :P

https://github.com/kubernetes/test-infra/blob/b23cfa09f0a7e71cebd9b92f85a6eae157f040b4/prow/plugins.yaml#L287-L294

[2019-05-02 13:14] nikhita commented on #3083
/close

[2019-05-02 13:14] #3083 closed

[2019-05-02 15:21] spiffxp commented on #9925
/assign @hh @brahmaroutu
/remove-lifecycle stale
this came up during the k8s-conformance meeting, there was discussion of a "project manager" plugin

[2019-05-02 15:36] nikhita commented on #12407
/assign
/sig contributor-experience

[2019-05-02 17:57] stevekuznetsov commented on #11080
This should be fixed with the new triggering section https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#standard-triggering-and-execution-behavior-for-jobs

[2019-05-02 17:57] stevekuznetsov commented on #11080
/close

[2019-05-02 17:57] #11080 closed

[2019-05-02 19:23] nikhita commented on #10553
/reopen

This was reverted in https://github.com/kubernetes/test-infra/pull/12402.

Created https://github.com/kubernetes/test-infra/pull/12460 to fix it and add the feature again.

[2019-05-02 19:24] nikhita commented on #12407
Created https://github.com/kubernetes/test-infra/pull/12460

[2019-05-02 19:58] diversario opened #12461 "deck: plugin and command help may show unavailable commands by default"
**What would you like to be added**:
When loading `/command-help` or `/plugins`, by default **all** known plugins are listed, regardless of whether or not they're enabled somewhere in this Prow deployment. Selecting any repository shows the correct filtering of plugins.

Perhaps, a default should be the sum of all enabled plugins known to Prow.

It looks like the per-repo/org information is alread

[2019-05-02 23:00] #9905 closed

[2019-05-03 00:44] krzyzacy commented on #11631
/shrug

[2019-05-03 00:44] krzyzacy commented on #11631
really

[2019-05-03 00:45] yujuhong commented on #11631
We have another pod stuck in the same situation for over 4 days:
 - Test job: ci-kubernetes-e2e-windows-gce-alpha-features
 - Pod name `4dfcacbf-6a02-11e9-9dd9-0a580a6c084f`

All containers in that pod have terminated with exit code 0, except for the sidecar, which is running and have no errors.
[code]

[2019-05-03 00:59] yujuhong commented on #11631
deja vu..

I can keep the pod around if anyone wants to debug...or I can get it deleted. Let me know. Thanks!

[2019-05-03 02:03] #10289 closed

[2019-05-03 02:03] #4425 closed

[2019-05-03 04:57] krzyzacy commented on #4425
Delete a prowjob will also kill the pod now ^^

[2019-05-03 10:11] #3536 closed

[2019-05-03 14:59] stevekuznetsov commented on #9910
Where's the data for this?

[2019-05-03 14:59] stevekuznetsov commented on #9910
/remove-lifecycle rotten

[2019-05-03 15:00] stevekuznetsov commented on #5333
/shrug

[2019-05-03 15:00] nikhita commented on #9910
@parispittman probably knows more.

[2019-05-03 18:47] rlenferink commented on #7690
What is the status of this? We’d like to use this for k/website as well :)

[2019-05-03 19:02] nikhita commented on #7690
I looked into the plugin and realized that it needs a lot of work (like @cjwagner mentioned), just haven't had the time to implement it yet.

[2019-05-03 22:51] michelle192837 commented on #12449
Surprised we haven't encountered this before, honestly!

TestGrid has a field that isn't exposed atm for how long to look back for tests. I'll add support for it and add it to config.proto.

[2019-05-04 08:14] fejta commented on #12303
Not clear why a simple workaround is insufficient for a feature branch (don't you already disable branch protection?):

1) Click the merge button
2) Disable branch protection, rebase the feature branch and force push
3) Add yourself as an OWNER of that file in your feature branch
4) Get approval from Brian/Clayton

Not clear that the already over-complicated approval plugin should bear the additio

[2019-05-04 10:35] #10329 closed

[2019-05-04 14:21] geekodour opened #12478 "npm packages not found by planter"
Tried building prow with planter after doing `npm install`

**How to reproduce it (as minimally and precisely as possible)**:
`λ  test-infra (master) × TAG=0.23.0 ./planter/planter.sh bazel build //prow/...`

**Please provide links to example occurrences, if any**:
[code]

[2019-05-05 10:59] #10364 closed

[2019-05-05 23:11] #9020 closed

[2019-05-06 00:12] #7760 closed

[2019-05-06 02:03] taragu opened #12481 "Project plugin incorrectly handles command with column name"
**What happened**: Project plugin is not responding to commands with project name and column name as arguments. Example: https://github.com/kubeflow/community/issues/250

**What you expected to happen**: Project plugin should successfully add issue to project and column

/assign @taragu
/sig testing

[2019-05-06 16:53] lavalamp commented on #12303
Keeping them hard to use will ensure that it stays that way :)

The issue is that the changes have *already been approved by the right people*, we are just merging them into another branch. It isn't a good use of those people's scarce time to approve them again. I could definitely add a bunch of people to a bunch of OWNERS files on the branch, but that makes it harder to merge back into master.

I

[2019-05-06 18:22] fejta opened #12487 "patch job is failing"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-autoupdate-patch/1125416539466502145

/assign

[2019-05-06 18:31] yujuhong commented on #12340
PR merged. Closing.

[2019-05-06 18:31] #12340 closed

[2019-05-06 18:32] yujuhong commented on #11631
Pod deleted to fix the tests.

[2019-05-06 19:43] lavalamp opened #12488 "Prow issue: repeated bot updates"
I got I think 200+ github notification emails (split into 3 gmail threads) containing prow updates for https://github.com/kubernetes/kubernetes/pull/77341, all at Sat, May 4, 12:43 AM. I'm not sure if it's a github problem or a prow problem. I didn't see this on any other PRs.

[2019-05-06 19:51] ixdy commented on #11212
@stevekuznetsov what stanza were you talking about?

[2019-05-06 19:51] stevekuznetsov commented on #12488
What sort of updates were they?

[2019-05-06 19:53] stevekuznetsov commented on #12488
It looks like the PR was updated ~25 times with force-pushes at the time, which would have kicked off new rounds of testing each time and may have resulted in job results being posted back for those. If we can narrow down which actions the bot was taking at the time we might be able to see if there was some errant behavior on top of that.

[2019-05-06 19:59] lavalamp commented on #12488
They were all seemingly the same, reporting all the tests had failed.

e.g.

[code]

I do notice now that the hash is different on some of them. If we sent ~8 updates per force push, then 25 pushes could turn into 200+ emails. Maybe this is WAI?

It would be nice if I had a way to automatically filter these notification messages, e.g. some unique string appeared that I could write a filter for.

[2019-05-06 20:41] parispittman commented on #9910
about the data -> https://github.com/kubernetes/community/blob/master/sig-contributor-experience/contribex-survey-2018.md
some charts -> https://docs.google.com/presentation/d/1Mdbx8OthahFzA7zg4L6vQ2WjdW8a-aUxE0ZXTugB1aA/edit?usp=sharing

this is my [fork](https://docs.google.com/spreadsheets/d/1TlvG5MhAYPGhWsmIhloHhe6qKmDIG9PzIa41qNIDLYI/edit?usp=sharing) of the data that has some of the qualitat

[2019-05-06 20:43] #11694 closed

[2019-05-06 20:48] dims opened #12489 "prow: need a new plugin for editing Issue titles"
Context:
https://groups.google.com/d/msg/kubernetes-sig-architecture/LYphMQLhu4w/oD-ErQjlBAAJ

Use Case: we need to allow all org members the ability to triage/review issues better. One aspect of triaging is fixing the Title of an Issue is to ensure that it is easy for folks to find the issue easily when browsing a list of issues so that the issue gets sufficient attention.

[2019-05-06 20:48] dims commented on #12489
/help

[2019-05-06 20:49] dims commented on #12489
cc @hemani19

[2019-05-06 21:44] stevekuznetsov commented on #11212
This one:

https://github.com/kubernetes/test-infra/blob/563bcb31644e30832fe6a5019d6107d3ec49f07f/prow/config.yaml#L6-L19

[2019-05-06 21:45] stevekuznetsov commented on #12488
Yeah I think this is all of the jobs failing as they try to clone commits that no longer exist as they were force-pushed over, and this is a symptom of Prow trying to be very clear about test results happening.

I think it's yet another question about notification sending.

/cc @cjwagner @fejta @Katharine @BenTheElder

[2019-05-06 21:54] BenTheElder commented on #12488
this is a brilliant idea.

if we put specific fixed strings within different classes of prowbot comments then  users could filter them out client side.

xref: https://github.com/kubernetes/community/issues/3621

[2019-05-06 22:36] spiffxp commented on #11977
/assign @spiffxp @mariantalla
I would like to help push this with maria (whom I've assigned because she's started pushing this in #12441)

/assign @alejandrox1
CI Signal for v1.15

FYI @claurence as 1.15 release lead

FYI @Katharine given you are trying to help simply forking of the jobs that end up on these dashboards (ref: https://github.com/kubernetes/test-infra/pull/12443)

[2019-05-06 22:37] spiffxp commented on #11977
/milestone v1.15

[2019-05-07 03:00] nikhita commented on #12489
/sig contributor-experience

[2019-05-07 03:12] nikhita commented on #12489
I think we should restrict editing titles to only repo collaborators (or to be precise, users considered trusted by the `trigger` plugin`) to avoid abuse of this command.

[2019-05-07 03:17] nikhita commented on #12489
cc @cblecker

[2019-05-07 07:40] cjwagner commented on #10646
This is done.
/close

[2019-05-07 07:40] #10646 closed

[2019-05-07 14:01] krishnadurai opened #12504 "Prow: statusreconciler pod entering Backoff status after failing"
I'm trying out prow for running some end to end tests for my project. I've followed the instructions mentioned [here](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md), with the tackle based setup. While I have followed the bazel setup instructions and I get a clean exit from tackle setup, though statusreconciler pod fails to deploy.

**What happened**: statusrec

[2019-05-07 15:09] spiffxp opened #12508 "triage: avg job duration has grown from 20m to 35m in the past 2 weeks"
https://testgrid.k8s.io/sig-testing-misc#triage&graph-metrics=test-duration-minutes&width=5

It's scheduled to run every 20m: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/test-infra/test-infra-periodics.yaml#L44

/area triage
/sig testing

[2019-05-07 15:09] spiffxp commented on #12508
/priority important-soon

[2019-05-07 15:17] spiffxp commented on #12508
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-test-infra-triage/1120703225054367744/build-log.txt
[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-test-infra-triage/1125766601568686084/build-log.txt
[code]

It's not immediately clear to me where the increased volume is coming from, and whether we should be telling someone to stop

[2019-05-07 15:20] spiffxp commented on #12508
/milestone v1.15

[2019-05-07 15:21] spiffxp commented on #12508
I noticed this while saying I was going to keep an eye on whether https://github.com/kubernetes/test-infra/pull/12446 would change anything

[2019-05-07 16:13] spiffxp opened #12510 "Support GitHub rate limiting experiments"
ref: https://gist.github.com/rlinehan/9ace6c2558fce34b206feaf09c4cff32
ref: [kubernetes-sig-testing@ thread](https://groups.google.com/forum/#!topic/kubernetes-sig-testing/rkBNGv58ypc)

/assign @guineveresaenger
cc @rlinehan @xuorig
as folks on the GitHub side

/assign @cjwagner @fejta
as folks on the Kubernetes side

We want to move forward with this so I'm opening this to track that it was done

[2019-05-07 16:15] spiffxp commented on #12510
/milestone v1.15

[2019-05-07 16:17] spiffxp commented on #11037
/milestone clear

[2019-05-07 16:18] spiffxp commented on #6380
/milestone v1.15

[2019-05-07 16:18] spiffxp commented on #9679
/milestone clear

[2019-05-07 16:20] spiffxp commented on #7814
/milestone v1.15
I am creating kubernetes-sig-testing-alerts@ and will be configuring testgrid to send alerts there for release-blocking jobs that we own.

[2019-05-07 16:20] spiffxp commented on #7814
/priority important-soon

[2019-05-07 16:26] spiffxp commented on #8861
/milestone v1.15

[2019-05-07 16:28] spiffxp commented on #5183
/milestone v1.15
FYI @fejta @cjwagner I feel like I ran across another contributor being confused by this recently, however this keeps falling stale. Are we going to address this?

[2019-05-07 16:29] spiffxp commented on #11402
/milestone v1.15
/assign @cjwagner
We have talked about this a few times offline. I'm unable to push it forward directly myself.  Do we want to take care of this?  Should we include this in rate limit experiments mentioned in https://github.com/kubernetes/test-infra/issues/12510 ?

[2019-05-07 16:31] spiffxp commented on #11977
/assign @Katharine
Now that I'm reading a little more closely, this is what https://github.com/kubernetes/test-infra/pull/12443 is for, so assigning to make sure we agree this is done

[2019-05-07 18:19] spiffxp commented on #12508
/help
Would someone like to dig into test results and help us understand where the increased volume is coming from?

[2019-05-07 18:27] ixdy commented on #11212
The issue I was actually running into is that we have the job configurations in a separate YAML (similar to the way it's done in k/t-i) and forgot to provide both `--config-path` and `--job-config-path` to `mkpj`.

[2019-05-07 18:33] spiffxp commented on #7814
Looking at https://groups.google.com/forum/#!forum/kubernetes-github-managment-alerts as a model, where I'd like to allow testgrid to post, but everything else to hit moderation

- Created https://groups.google.com/forum/#!forum/kubernetes-sig-testing-alerts
- Added kuberentes-sig-testing-leads@ members as Owners

[2019-05-07 20:10] tedyu commented on #12508
[code]
Test failures more than doubled.

[2019-05-07 20:32] cjwagner commented on #11402
Yes, lets include `k8s-github-robot` in the rate limit experiments.
The main thing we need to do to set this up is configure a new ghproxy instance for use with this token. This shouldn't be too much work, but I'm trying to prioritize some other tasks and this is low priority so I'll probably return to this after Kubecon.

[2019-05-07 20:59] spiffxp commented on #12510
We would also like the @k8s-github-robot account to be flagged for this experiment

[2019-05-07 21:08] imkin commented on #10106
/close this was taken care of https://github.com/kubernetes/test-infra/pull/12516 and https://github.com/kubernetes/test-infra/pull/12516

[2019-05-07 21:08] #10106 closed

[2019-05-07 21:55] fejta opened #12521 "knative-build jobs do not appear to log correctly"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-kubernetes-bazel-build/1125878905245274112

[2019-05-07 21:55] fejta commented on #12521
/area prow/knative-build
/assign
/area prow

[2019-05-07 21:56] #8981 closed

[2019-05-07 21:58] michelle192837 commented on #5073
/close

[2019-05-07 21:58] #5073 closed

[2019-05-07 21:59] fejta commented on #12521
Looks like this primarily has to do with when the image's entrypoint is not found.

[2019-05-07 21:59] fejta commented on #12521
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-kubernetes-bazel-build/1125881888439799809

[2019-05-07 23:39] imkin commented on #9679
I was wondering if the right strategy for upgrade/downgrade tests to pick the lower versions supported etcd version. This strategy would be more accurate and manageable then pinning the version in config file.

@wenjiaswe @spiffxp

[2019-05-08 01:11] wenjiaswe commented on #9679
Just talked to @imkin offline, I agree [this](https://github.com/kubernetes/test-infra/issues/9679#issuecomment-490292701) would be a better approach, if the upgrade/downgrade test could fetch the etcd version of the lower k8s version of the upgrade/downgrade pair, and use that in the test. Otherwise, there is no guarantee that the pinned old etcd version would work with all supported k8s version,

[2019-05-08 06:22] justinsb opened #12527 "CAPA is deleting non-CAPA AWS resources"
From CloudTrail, I can see that the capa-user-02 is deleting resources from running kops tests.

I believe that the capa users were all set up in the same account, but I think boskos is assuming that they are in isolated accounts.  As far as I can tell, they are merely different logins to the same account.

cc @idvoretskyi I believe you set up these capa users?  Did you set them up in separate AWS

[2019-05-08 14:20] yashbhutwala commented on #12504
Hey @krishnadurai, the `/etc/job-config` is an arg to a bunch of components.  You can either remove it in your deployment by removing `- --job-config-path=/etc/job-config` from the starter yaml.  Or if you have jobs defined in a separate `job-config`, you can specify its location in that parameter.

[2019-05-08 15:42] spiffxp commented on #7814
Sample alert: https://groups.google.com/forum/#!topic/kubernetes-sig-testing-alerts/ts-oo7uTBug

[2019-05-08 15:44] krishnadurai commented on #12504
Thanks @yashbhutwala for suggesting this change.
Looks like we still have to make this change in the bazel tackle version of Prow's deployment.

I'll comment here once I verify if statusreconciler works with this change.

[2019-05-08 16:14] detiber commented on #12527
/cc @chuckha

[2019-05-08 16:22] idvoretskyi commented on #12527
@justaugustus this, as this was requested initially.

[2019-05-08 17:42] spiffxp commented on #12508
https://github.com/kubernetes/test-infra/pull/12446 broke things, https://github.com/kubernetes/test-infra/pull/12535 got us back up and running

Now triage is taking ~40m, so it seems like the indirection added by `six` isn't really helping

IMO the question is whether this is a reasonable amount of data, or if we should be optimizing triage to handle this new volume of data

[2019-05-08 18:15] justinsb commented on #12527
Cool - thanks for confirming @idvoretskyi ... the terminology is really difficult as I discovered trying to summarize this.  I've started calling them logins and accounts, and we're going to want logins on 10 different accounts (one login per account).  I sent you an email with the request!

[2019-05-08 19:20] IamPrvn opened #12548 "I am not able to view test results in testgrid"
I am populating this bucket with conformance test results:
https://console.cloud.google.com/storage/browser/k8s-conformance-oracle-cloud/cloud-provider-oci-oke/e2e-conformance-stable-1.12/

I believe they should appear here :
https://testgrid.k8s.io/conformance-oracle-cloud-infrastructure#OKE,%20v1.12%20(release)&width=90

First time I pushed/uploaded the results appeared but for the subsequent pu

[2019-05-08 19:22] justaugustus commented on #12527
@idvoretskyi -- I'm pretty sure that ping was for @justinsb, but just wanted to confirm.
(I don't have anything to do w.r.t. managing any of the capa infra at the moment.)

[2019-05-08 19:25] detiber commented on #12527
Now that I'm not trying to multi-task with meetings and I've had lunch, I think that "IAM user/credentials" might be the proper terminology.

[2019-05-08 19:35] cjwagner commented on #10297
This is done.
/close

[2019-05-08 19:35] #10297 closed

[2019-05-08 19:46] idvoretskyi commented on #12527
@justaugustus lol, sorry, GitHub autocompletion ¯\_(ツ)_/¯

[2019-05-08 21:17] cjwagner commented on #5183
I think this would make a good first issue (in particular for our summer intern starting at the end of this month).
/help
If that doesn't end up happening I'll make a PR myself next month.

[2019-05-08 22:14] chases2 commented on #12137
@yashbhutwala @fejta "Crier" is the only P0 command that hasn't been addressed left, correct?

[2019-05-09 00:44] #11413 closed

[2019-05-09 01:19] spiffxp commented on #10659
/remove-lifecycle rotten
/area triage
/milestone v1.15

[2019-05-09 01:20] spiffxp commented on #10659
/remove-kind feature
/kind documentation

[2019-05-09 01:22] spiffxp commented on #5183
/remove-lifecycle rotten
ok, let's freshen this up one more time then

[2019-05-09 02:27] cblecker commented on #10402
/remove-lifecycle stale

Would still love to see a comment at some point.

[2019-05-09 04:46] krzyzacy commented on #10402
/unassign
/help

not actively working on this, posting a comment is trivial but we probably also want to handle retrigger a postsubmit job.

[2019-05-09 16:10] spiffxp commented on #12282
/milestone v1.15

[2019-05-09 16:10] spiffxp commented on #12282
/area greenhouse
(the thing we're migrating away from)

maybe we need a bazel label

[2019-05-09 16:16] stevekuznetsov commented on #5183
Related to https://github.com/kubernetes/test-infra/issues/10402

[2019-05-09 17:15] spiffxp commented on #12548
/area testgrid
/assign @michelle192837

[2019-05-09 17:20] stevekuznetsov commented on #12510
Fine to flag @openshift-ci-robot and @openshift-merge-robot if you'd like

[2019-05-09 17:39] michelle192837 commented on #12548
Trying to see the results in Prow ('About' -> 'See these results in Prow') results in an error (https://prow.k8s.io/job-history/k8s-conformance-oracle-cloud/cloud-provider-oci-oke/e2e-conformance-stable-1.12). Can you double-check the format of your uploaded results?

[2019-05-09 17:42] michelle192837 commented on #12548
Ah, nvm; these are manually uploaded so they're not from Prow, right?

[2019-05-09 17:46] krzyzacy commented on #12548
https://prow.k8s.io/view/gcs/k8s-conformance-oracle-cloud/cloud-provider-oci-oke/e2e-conformance-stable-1.12 works ^^

[2019-05-09 17:48] michelle192837 commented on #12548
Thanks Sen!

I think the issue is that these were started May 5th, 11:53 PM PDT, but uploaded May 7th, 3:03 AM, which is more than 24 hours later (and therefore ignored by result processing). Easiest way to fix this is to bump `days_of_results` in your test_group by 1 to force TestGrid to collect things from scratch (feel free to bump it down later).

[2019-05-09 19:56] IamPrvn commented on #12548
Thanks @michelle192837 .

[2019-05-09 20:40] cjwagner commented on #9840
Deck is still spamming the logs. In addition to the messages listed above I now also see a bunch of warnings like:
[code]

[2019-05-09 21:29] fejta opened #12573 "Update cat plugin to use the v1 thecatapi"
https://docs.thecatapi.com/ has new functionality and a real json api that allows better searching by breed and category.

Here's our current usage: https://github.com/kubernetes/test-infra/tree/master/prow/plugins/cat

Goal would be to update it to use v1 rather than https://api.thecatapi.com/api/images/get

/help
/good-first-issue

[2019-05-09 23:52] stevekuznetsov commented on #9840
Yep, noted [here](https://kubernetes.slack.com/archives/CDECRSC5U/p1557350652375300) and [here](https://kubernetes.slack.com/archives/CDECRSC5U/p1557350675375600). The two errors we see a load of are:

[code]

[2019-05-10 09:14] yastij commented on #10146
/remove-lifecycle stale
/lifecycle frozen

[2019-05-10 10:47] IamPrvn commented on #12548
@michelle192837 But the default test group has a value of 14 for days_of _results..https://github.com/kubernetes/test-infra/blob/master/testgrid/config.yaml#L14.
Isn't this default configuration supposed to be used for my test group config (for fields that I have not overwritten) ?

[2019-05-10 15:55] spiffxp commented on #9363
/remove-lifecycle rotten
/milestone v1.15
ref: https://github.com/kubernetes/test-infra/issues/11977

[2019-05-10 15:56] spiffxp commented on #11555
/milestone v1.15
ref: https://github.com/kubernetes/test-infra/issues/11977

[2019-05-10 15:57] spiffxp commented on #10978
/milestone clear

[2019-05-10 15:59] spiffxp commented on #10693
/milestone clear
/assign @detiber @justinsb
I think some of this work has been completed but it's unclear to me how much.  https://github.com/kubernetes/test-infra/pull/12538 makes me think there is more to do, can we get some help describing where we are and where we need to go?

[2019-05-10 15:59] spiffxp commented on #9378
/milestone v1.15
ref: https://github.com/kubernetes/test-infra/issues/11977

[2019-05-10 16:27] spiffxp commented on #10771
/milestone clear

[2019-05-10 16:35] detiber commented on #10693
@spiffxp That is correct, the AWS users which were provided were all provisioned from the same account instead of separate accounts. I know @justinsb was working to follow up with @idvoretskyi to resolve it.

[2019-05-10 16:43] spiffxp commented on #9978
/milestone clear

[2019-05-10 16:45] spiffxp commented on #7769
/milestone v1.15
How far along are we on this?

[2019-05-10 16:48] spiffxp commented on #9697
/milestone v1.15
/assign
I'm pretty sure this is either done, or can be done, I need to verify list of tests

I would like to ensure conformance tests are prevented from using these tags ever again

[2019-05-10 16:49] spiffxp commented on #3412
/milestone v1.15
/priority important-soon

[2019-05-10 16:52] spiffxp commented on #7364
/close
Based on https://github.com/kubernetes/test-infra/issues/3412#issuecomment-465879038 I feel like we've agreed we're uploading enough.  Let's open specific issues if there are specific things missing

[2019-05-10 16:52] #7364 closed

[2019-05-10 16:53] spiffxp commented on #10369
/milestone v1.15
I would like to try and get to this in the v1.15 timeframe, but will be thrilled if someone beats me to it

[2019-05-10 16:55] spiffxp commented on #10794
/milestone clear
/close
@cblecker please reopen if you feel there is more to be done here

[2019-05-10 16:55] #10794 closed

[2019-05-10 16:58] spiffxp commented on #10470
/assign @cjwagner
/milestone clear
where do we stand on this?

[2019-05-10 16:59] spiffxp commented on #10920
/close
closing because spyglass works

[2019-05-10 16:59] #10920 closed

[2019-05-10 16:59] spiffxp commented on #11594
/milestone v1.15
Is this still a concern for us?

[2019-05-10 17:01] spiffxp commented on #9910
/milestone v1.15
Same criteria, see if there pain points we have issues to address, make some if they don't exist, bump them in priority if they do, if this falls stale again let's just close

[2019-05-10 17:02] spiffxp commented on #11548
/milestone v1.15
ref: https://github.com/kubernetes/test-infra/issues/11977

[2019-05-10 17:05] BenTheElder commented on #9697
this bit me submitting the kind 1.14 results (they were accepted though! I amended the next day ❗️), we've removed the skip from kind everywhere (except the parallel / non-serial runs), there might still be something out there using them incorrectly, but those were the last ones I know about.

[2019-05-10 17:22] krzyzacy commented on #11594
The root issue is still there, I suspect we'll be hitting this again when testing volume increases..

[2019-05-10 17:23] krzyzacy commented on #7769
eh, never got to this one, will poke next week

[2019-05-10 18:46] cjwagner commented on #10470
All done. https://github.com/kubernetes/test-infra/pull/12100

The `timeout` and `graceperiod` fields can be specified in either format now (integer number of nanoseconds or a duration string like "2h15m")
/close

[2019-05-10 18:46] #10470 closed

[2019-05-10 18:55] spiffxp commented on #11977
I am, FWIW, trying to link anything related to "clean up release dashboards" or "clean up release jobs" or "make these things more consistent" etc, because this seems like the most relevant umbrella

[2019-05-10 21:01] stevekuznetsov commented on #11594
You can limit the maximum concurrency through plank to 1000, right?

[2019-05-11 01:08] spiffxp commented on #11594
/remove-priority critical-urgent
This isn't at drop-everything priority, but we may hit this again this quarter

[2019-05-11 16:26] #6136 closed

[2019-05-12 07:22] nikhita commented on #12489
@hemani19 are you working on this?

[2019-05-12 17:12] vllry opened #12594 "Add SIG-specific triage labels to Prow"
**What would you like to be added**:
Add SIG-specific labels to assist in sorting and finding triaged/untriaged issues. EG `needs-triage/<sig>`.

When SIG labels are added/removed, Prow should add/remove the corresponding triage labels.

Members can remove the triage label with a Prow command, to indicate triage has been done on behalf of that SIG.

**Why is this needed**:
In SIG-network, we've be

[2019-05-12 17:12] vllry commented on #12594
/sig pm

[2019-05-12 19:45] saschagrunert opened #12595 "Add rebase command to prow"
**What would you like to be added**:

The idea is to be able to rebase the current PR with prow before doing the actual merge. Maybe a “rebase” setting on tide and an additional command like `/rebase` could be a good fit.

**Why is this needed**:

Merges with prow can currently make the master CI pipeline fail if two succeeding PRs are incompatible from a functional perspective.

[2019-05-12 19:46] saschagrunert commented on #12595
/area prow

[2019-05-13 01:56] sunyuan3 opened #12597 "How to add a matching testgrid testgroup?"
I created a pull request. But 2 test cases are failed. How to add a matching testgrid testgroup?

log:
[code]

pr: https://github.com/kubernetes/test-infra/pull/12580

[2019-05-13 16:04] stevekuznetsov commented on #11594
@cjwagner can we set the plank concurrency and make sure you don't hit this again?

[2019-05-13 16:04] stevekuznetsov commented on #11594
That's global and not per cluster so it's a bit overkill but would at least stop you from getting evicted

[2019-05-13 16:11] stevekuznetsov commented on #12595
Could you go into a little bit more detail here?

Right now, `tide` can be configured to rebase PRs when merging them:

https://github.com/kubernetes/test-infra/blob/f5670a4ab1b73a14f15d58f378bfdfdd57c81123/prow/config/tide.go#L90-L92

When testing, the default behavior for `decorate: true` jobs is to create a branch that merges the commit of the PR branch and the target branch. Are you suggesting

[2019-05-13 16:15] stevekuznetsov commented on #12597
We recently changed this with https://github.com/kubernetes/test-infra/pull/12569

/cc @Katharine

[2019-05-13 16:20] saschagrunert commented on #12595
Yes exactly, to the PRs merge base.

We had it recently that two PRs were tested fine but the first one made the second fail (only on the master branch, not in the PR). I would avoid this in the future somehow and I think prow could solve it by internally doing a rebase to the merge-base and reporting that the branch needs to be updated from a test perspective. Prow should somehow report that an r

[2019-05-13 16:27] stevekuznetsov commented on #12595
Let me do a quick example timeline:

1. PR 1 proposes commits to `master` at `sha-before`
2. PR 1 tests green against `master` at `sha-before`
3. PR 2 proposes commits to `master` at `sha-before`
4. PR 2 tests green against `master` at `sha-before`
5. PR 1 is approved and merges
5. `master` is now at `sha-after`
6. PR 2 is approved, tests against `master` at `sha-after`, fails
7. failing test resu

[2019-05-13 17:25] dims opened #12603 "conformance-image-test fails as kind build process has changed"
Please see:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/77820/pull-kubernetes-conformance-image-test/1127976550080188416/build-log.txt

[code]

[2019-05-13 17:36] krzyzacy commented on #11594
@stevekuznetsov what happens when plank hits the pod limit? Stop creating new pods?

[2019-05-13 18:31] stevekuznetsov commented on #11594
Yep, the controller will just not trigger new jobs and they will stay in Pending until there is room.

[2019-05-13 19:11] stevekuznetsov commented on #11631
Eek sorry @krzyzacy  I didn't see this, will dig in today

[2019-05-13 19:37] krzyzacy commented on #11594
I can smell snowballing :-p

[2019-05-13 20:28] stevekuznetsov commented on #10827
/remove-lifecycle stale
@bobcatfish sorry, this got lost in my notifications.

I'm not sure there is ever a case where the PR branch cannot be automatically rebased but _can_ be merged? Wouldn't you get conflicts in both cases?

[2019-05-13 20:46] cjwagner commented on #11594
I'm fine with enabling it if others are. This would prevent us from hitting the concurrency limit, but its not the perfect tool for the job.
It could cause snowballing if our actual concurrency level is significantly higher due to executing on multiple build clusters and we'd need to set it to 1000 (not something higher) if we want to guarantee that no individual build cluster exceeds 1000 pods.

[2019-05-13 20:53] stevekuznetsov commented on #11594
We should just implement a per-cluster throttle then instead of a global one. Of course you'd get snowballing but you can't really help that. At least the snowball failure mode is very soft and you'd just run the jobs later

[2019-05-13 20:58] stevekuznetsov commented on #11631
@yujuhong did you dump the YAML for the Pod by any chance?

[2019-05-13 20:58] stevekuznetsov commented on #11631
What are the timeouts configured for the Pod in your Prow deployment?

[2019-05-13 21:06] krzyzacy commented on #11631
@stevekuznetsov

The job config is in https://github.com/kubernetes/test-infra/blob/95c7cbee2ecdfd1fed327ab616f2d014becc5ac6/config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml#L129-L162

The timeout should be the default 2h, I can grab you a yaml from a running instance

[2019-05-13 21:36] spiffxp commented on #11977
/area config
/area testgrid

[2019-05-13 21:36] spiffxp commented on #11977
https://github.com/kubernetes/test-infra/issues/11977 is adding -informing dashboards for all branches

[2019-05-13 23:08] spiffxp opened #12610 "bazel-build-1.11,1.12 jobs should live in sig-release dashboards"
**What should be cleaned up or changed**:

bazel-build-1.14 is in sig-release-1.14-blocking, sig-release-1.14-all, google-unit

I think the same pattern should be followed for bazel-build-1.11, and bazel-build-1.12 (if they are green and meet all of the other release-blocking requirements)

**Provide any links for context**:

Followup based on: https://github.com/kubernetes/test-infra/pull/12608#d

[2019-05-14 00:19] spiffxp opened #12613 "sig-release testgrid summaries having problems updating"
**What happened**:
Went to look at release-related dashbaords after https://github.com/kubernetes/test-infra/pull/12608 merged

Summary pages look incomplete

**What you expected to happen**:

Summary pages to look the same as they did before (with a few jobs added)

**How to reproduce it (as minimally and precisely as possible)**:

Visit https://testgrid.k8s.io

**Please provide links to example

[2019-05-14 00:20] spiffxp commented on #12613
/sig release
/priority important-soon
/area testgrid
/milestone v1.15

[2019-05-14 00:21] michelle192837 commented on #12613
This may be complicated by/the fault of an update issue TestGrid's having right now. Still looking into that.

[2019-05-14 06:02] Katharine commented on #12613
sig-release-master-blocking and sig-release-1.14-informing are now populated and have correct sets of tabs.

sig-release-master-informing is still stale.

[2019-05-14 07:40] saschagrunert commented on #12595
Thanks for your detailed explanations, I think I got it wrong. :pray: So the PR will be rebased to the target branch if `decorate: true`, right? Then this was the option I was looking for.

Closing this for now.

[2019-05-14 08:39] IamPrvn commented on #12548
@michelle192837 @spiffxp As suggested I tried to run the tests and push the results within 24 hours ( though I still feel that's not the root cause as the default `days_of_results` value should be honoured if not overwritten). I am still facing the same issue.
The below tests  were run/uploaded on 14th May '19.
https://console.cloud.google.com/storage/browser/k8s-conformance-oracle-cloud/cloud-pro

[2019-05-14 10:06] IamPrvn commented on #12548
nvm, It took some time to start reflecting the results in testgrid. Closing the issue.

[2019-05-14 10:06] #12548 closed

[2019-05-14 16:02] spiffxp commented on #12613
All three look good this morning
- https://testgrid.k8s.io/sig-release-master-blocking
- https://testgrid.k8s.io/sig-release-master-informing
- https://testgrid.k8s.io/sig-release-1.14-informing

Near as we can tell it's nothing on our end, sooo, magic.  Got it.

/close

[2019-05-14 16:02] #12613 closed

[2019-05-14 16:39] Katharine opened #12626 "./hack/update-bazel.sh behaves differently when creating a new file vs updating an existing one"
**What happened**:

I created a new Go package and ran `./hack/update-bazel.sh`. The resulting file failed presubmits because lines were in the wrong order. I ran `./hack/update-bazel` again and it [switched the offending lines](https://github.com/kubernetes/test-infra/pull/12618/commits/3db4ced4531c69062135bf07c051ab51d1d07983), making the file valid.

**What you expected to happen**:

Running `u

[2019-05-14 17:17] #12610 closed

[2019-05-14 17:40] michelle192837 commented on #12613
TestGrid update slowness seems to have resolved itself as of 2-4 AM PDT, so...yeah, magic. -shrug-

[2019-05-14 19:29] #12155 closed

[2019-05-14 20:49] michelle192837 commented on #12449
Hi, thanks for your patience! https://github.com/kubernetes/test-infra/tree/master/testgrid#long-running-tests has instructions on the field to add to get results better for long-running tests. (It should apply going forward; if you need to regenerate state completely, bump `days_of_results` in your test_group config by 1 (you can bump it back down later)).

[2019-05-14 22:04] Ark-kun opened #12636 "Prow Build log is completely empty and the test is not getting terminated"
Prow Build log is completely empty and the test duration shown is above termination thresholds.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1331/kubeflow-pipeline-sample-test/1128399059598446599

[code]

[2019-05-14 22:54] stevekuznetsov commented on #12636
So I think this is working as implemented. I would like to see what the timeout value is set to for this test, and if possible the Pod YAML and ProwJob YAML associated with it.

[2019-05-14 22:56] stevekuznetsov commented on #12636
See also https://github.com/kubernetes/test-infra/issues/11631

[2019-05-14 22:57] stevekuznetsov commented on #12636
Timeout is set to 2h:

https://github.com/kubernetes/test-infra/blob/21f2d9dca8dd8bbeb7fc1f4df997294aa9d839a2/prow/config.yaml#L7

So this job should be terminated soon.

[2019-05-14 22:58] stevekuznetsov commented on #11631
Sweet. I think I need to see a Pod YAML for an instance of this happening to debug.

[2019-05-14 22:58] stevekuznetsov commented on #12636
This is a dupe of the above linked issue, so I will close this and do more debugging there.

/close

[2019-05-14 22:59] krzyzacy commented on #12636
(I don't think this is a decorated job :-) )

[2019-05-14 23:07] yujuhong commented on #11631
@stevekuznetsov sorry I thought I saved them, but they probably got deleted by accident.
Will definitely let you know next time if/when it happens

[2019-05-14 23:09] krzyzacy commented on #12636
@Ark-kun so kubeflow already send us org-level webhooks, looks like kubeflow/pipelines is also sending repo-level webhooks? Please delete the repo-level webhook :-)

[2019-05-14 23:15] stevekuznetsov commented on #12636
This was a decorated job, so

/close
:grimacing:

[2019-05-14 23:18] stevekuznetsov commented on #11165
/shrug

[2019-05-14 23:29] spiffxp commented on #12603
/close
I believe this is now fixed, jobs are passing again:
- https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-conformance-image-test
- https://testgrid.k8s.io/conformance-kind#kind-image,%20master%20(dev)
- https://testgrid.k8s.io/conformance-kind#kind-image,%201.14%20(dev)

[2019-05-14 23:29] #12603 closed

[2019-05-14 23:29] spiffxp commented on #12603
/milestone v1.15

[2019-05-14 23:42] spiffxp commented on #11977
We are now in an intermediary state I would like to get out of:
- release-x.y-blocking
- release-x.y-informing
- release-x.y-all

I want us to get rid of -all

[2019-05-15 00:41] fejta commented on #12487
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-autoupdate-patch/1127953020676476929

[2019-05-15 02:46] #8639 closed

[2019-05-15 05:02] cjwagner commented on #12636
https://github.com/kubeflow/pipelines/issues/1304

[2019-05-15 05:50] nikhita commented on #12594
Going to take a look at this issue, https://github.com/kubernetes/community/issues/3456 and https://github.com/kubernetes/community/issues/3455 after KubeCon. E_TOOMANYTHINGS before that. :grimacing:

[2019-05-15 05:52] nikhita commented on #10845
/good-first-issue

[2019-05-15 05:52] nikhita commented on #12573
Somewhat related: https://github.com/kubernetes/test-infra/issues/10845, in case anyone wants to take it up.

[2019-05-15 07:07] #12487 closed

[2019-05-15 11:31] Multiply commented on #11592
@midnightconman Any progress on this?

We're kind of in the same boat, where we'd like to always have a `clone_uri` of `git@github.com:` rather than `https://github.com/`, to make private repos work without having to define `clone_uri` for all jobs.

Alternatively if we could define `clone_uri` with template variables like `clone_uri: git@github.com:{{ .Refs.Org }}/{{ .Refs.Repo }}.git`

[2019-05-15 14:39] adshmh commented on #12265
Perhaps this can be closed now that the PR has been merged.

[2019-05-15 15:17] nikopen commented on #12594
@vllry have a look at the above two tickets and also this: https://github.com/kubernetes/test-infra/pull/11818

it would be great to move them forward :)

/cc

[2019-05-15 16:49] stevekuznetsov commented on #12265
Yep! Thanks

/close

[2019-05-15 16:49] #12265 closed

[2019-05-15 16:53] roycaihw opened #12661 "e2e testing against local cluster failed to create clientset"
**What happened**:

e2e framework failed to create client against local cluster
[code]
**What you expected to happen**:

e2e testing used to load kubeconfig and talk to local cluster successfully

**How to reproduce it (as minimally and precisely as possible)**:

follow https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#local-clusters:

[code]
in anothe

[2019-05-15 17:04] vllry commented on #12594
Thanks, I'll look more into those proposals!

[2019-05-15 17:56] verult opened #12662 "Spyglass buildlog lens - configurable regex for error matching"
**What would you like to be added**: Make the regex for error matching in the Spyglass buildlog lens configurable, presumably through deck config.

**Why is this needed**: Today the regex is hardcoded into the lens code and is tailored to k8s and Golang errors. For other projects using different languages, often times the most useful errors stay hidden unless the user expands the viewer.

/area pr

[2019-05-15 17:56] verult commented on #12662
/cc @Katharine

[2019-05-15 19:01] Katharine commented on #12662
/assign

[2019-05-15 22:02] midnightconman opened #12667 "The Ability To Specify Repositories Whitelist (only) in Yaml For label-sync"
**What would you like to be added**:
I would like the ability to specify repositories whitelist (--only cli option) via yaml for label-sync. Preferably we would be able to specify this in the same yaml file we specify labels.

**Why is this needed**:
It's difficult to programatically manage a large comma separated list of repositories, it's easier to manage a yaml array. It's also easier to read,

[2019-05-15 23:40] krzyzacy commented on #10884
/remove-lifecycle stale

[2019-05-16 01:55] davidz627 commented on #11202
/remove-lifecycle stale
/lifecycle frozen
revisit in k8s 1.17

[2019-05-16 03:04] #12597 closed

[2019-05-16 03:15] sunyuan3 opened #12678 "Don't see any log for my pull request in prow."
**What happened**:

[pull-cloud-provider-alibaba-cloud-check #1128850999822258177 log](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/cloud-provider-alibaba-cloud/53/pull-cloud-provider-alibaba-cloud-check/1128850999822258177) is empty.

I configured prow for [kubernetes/cloud-provider-alibaba-cloud](https://github.com/kubernetes/cloud-provider-alibaba-cloud).

file:
[cloud-provider-

[2019-05-16 05:53] nikhita commented on #12667
/area label_sync

[2019-05-16 06:15] #12678 closed

[2019-05-16 10:24] mm4tt commented on #11594
Folks, looks like this is still happening and heavily affecting our scalability CI tests

![Sb6zUoUSksr](https://user-images.githubusercontent.com/2604887/57846619-ea593e00-77d4-11e9-9afa-d0113908a0c3.png)

Currently we're facing a few major regressions (e.g. https://github.com/kubernetes/kubernetes/issues/75833, https://github.com/kubernetes/kubernetes/issues/76579) and not having working CI test

[2019-05-16 14:57] stevekuznetsov commented on #10884
`net/http: TLS handshake timeout` makes me think that you are running out of CPU on the container trying to do the upload, it can't calculate fast enough for the handshake. I would suggest using Prometheus to gather average cpu use for the initcontainer and add that as a request.

[2019-05-16 15:02] stevekuznetsov commented on #10766
This seems like this has been resolved?

/close

[2019-05-16 15:03] #10766 closed

[2019-05-16 15:30] BenTheElder commented on #12478
That looks like a general bazel issue with the Prow / deck build and not planter specifically. Possibly it requires a newer bazel version.
Cc @Katharine @fejta
/area prow/deck

[2019-05-16 15:31] BenTheElder commented on #12488
FWIW this is one of my Gmail filters now:
[code]

[2019-05-16 15:49] nikopen commented on #12594
closing in favor of a single label as in https://github.com/kubernetes/test-infra/pull/11818

/close

[2019-05-16 15:49] #12594 closed

[2019-05-16 17:24] #8242 closed

[2019-05-16 17:36] krzyzacy commented on #10352
(Looks like scalability team gonna set up their own Prow instance and run jobs there, I'm gonna punt this one)

[2019-05-16 17:36] #10352 closed

[2019-05-16 17:40] krzyzacy commented on #7769
Looks like even the small presubmit jobs are not running on boskos yet (https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml#L29)

cc @amwat
do we have enough resource to move all presubmit scalability jobs there?

[2019-05-16 17:42] krzyzacy commented on #11594
We can run all scalability jobs on a separate build cluster as a bandaid for now, WDYT @cjwagner ?

[2019-05-16 18:13] krzyzacy commented on #11594
@mm4tt @wojtek-t thoughts?

[2019-05-16 18:48] cjwagner commented on #11594
I think that's all we can do for now. Switching plank to use the informer framework might let it win the race with the pod GC sometimes, but it may not help at all and even if it did there would still be a race.

Adding another build cluster and migrating the necessary secrets is probably the fastest work around.

[2019-05-16 18:53] wojtek-t commented on #11594
@krzyzacy @cjwagner - by "separate build cluster", you mean "separate, dedicated, prow instance"?
If so, that sounds reasonable to me, if you could help us a bit with setting that up.

[2019-05-16 18:54] amwat commented on #7769
We only moved the small periodic jobs, is it safe to move the presubmits? I anticipate we'll run out of free projects pretty easily.
How do we run multiple presubmits in a fixed project right now?

[2019-05-16 18:57] krzyzacy commented on #11594
@wojtek-t by "separate build cluster" we mean a cluster that we schedule all scalaibility job pods there. They will still share the same prow controllers, but you will have control over your secrets/pods/nodes.

(aka k8s prow can schedule pods onto your cluster)

[2019-05-16 18:57] lzaldivarkt opened #12693 "require_self_approval: true does not work as expected."
**What happened**:
Using `require_self_approval: true`, my PRs are getting merged without an explicit self /approve.

**What you expected to happen**:
PRs shouldn't be merged unless the author `/approve`s their PR.

**How to reproduce it (as minimally and precisely as possible)**:
I have this configuration:
[code]
And after creating a PR and one approval (not from the author),  the PR gets merged.

[2019-05-16 18:58] cjwagner commented on #11594
Details: https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#run-test-pods-in-different-clusters

[2019-05-16 18:58] krzyzacy commented on #7769
@amwat I think that's by different cluster names etc and resource leak check was disabled :man_shrugging:

[2019-05-16 22:11] bobcatfish commented on #10827
Hey @stevekuznetsov !

I'm pretty sure you can end up in this state: each commit is the application of a diff to a parent. So let's say your branch has commits:

- A (parent SOME_PREVIOUS_HEAD)
- B (parent A)
- C (parent B)

If you use the merge strategy, a new commit is made that has 2 parents, one of which is master's HEAD, the other is the branch's head:

![image](https://user-images.githubuser

[2019-05-16 23:20] stevekuznetsov commented on #10827
Not sure that makes sense. In the diagram above, you'd really have:

[code]

Since `D` and `E` are children of `C` in the first place, there's no way that you'd be able to merge but not rebase as they already diff on top of the commit you'd be rebasing on in the first place. My `git` fu isn't the best but that is my best understanding.

Unpacking your earlier comment:

So if we have a case where `

[2019-05-16 23:26] stevekuznetsov commented on #12693
Eeek -- sorry, I think this is a misunderstanding of how the function works. What is meant is that the author has to _explicitly_ `/approve` their own PR to add the `Approved` label, as opposed to the PR being _implicitly_ approved when an author has approver rights. It does not mean that we require that the author themselves approve the PR. Sorry for the confusion. Could you share what you're try

[2019-05-16 23:47] kalbasit commented on #12693
@stevekuznetsov we want to give PR authors control over when their code is merged in as opposed to having the PRs merged as soon as they get approved by other team members with approval rights. We were hoping for the following workflow:

- Author file a pull request.
- Coworker 2 reviews the PR and `/approve` it.
- Author posts `/approve`.
- PR merged.

[2019-05-16 23:53] lzaldivarkt commented on #12693
Additional to what @kalbasit said, we are implementing it this way to achieve the path of least resistance, as most github users are used to decide when they merge by clicking the merge button. In our case a surprise merge

[2019-05-17 00:27] cjwagner commented on #12693
We achieve this with the `hold` plugin. If an author (or any org member) wants to temporarily prevent merging they comment with `/hold` to add a merge blocking label. The hold can be removed by any org member with `/hold cancel` when the PR is ready to be merged.
This gives control to more than just the PR author, but since org members are trusted individuals this isn't abused or misused and it al

[2019-05-17 00:32] kalbasit commented on #12693
That's what we're currently doing @cjwagner. We're applying the hold label automatically through the OWNERS files. This works well, but it does feel hacky in a way.

[2019-05-17 00:34] bobcatfish commented on #10827
I think your diagram is a good representation of the merge strategy:

[code]

But afaik, the rebase strategy is more like this:

[code]

`D` and `E` are no longer children of `C`, they are rebased such that `D` becomes a child of `M` (master's former HEAD) - which is why we can end up with conflicts that have not been resolved.

Here is how you can reproduce it (probably not _exactly_ what github

[2019-05-17 04:09] nikhita commented on #12407
Another thing to fix with the next iteration: https://github.com/kubernetes/test-infra/pull/12460#issuecomment-493312129

[2019-05-17 06:00] wojtek-t commented on #11594
So I think I'm not following why this is supposed to help. If we would be sharing the same prow controllers, then the limits that we are affected by won't change, right [we're being hit by the concurrency limit at the prow level, right?]

[2019-05-17 06:04] krzyzacy commented on #11594
@wojtek-t nope - the podgc kicks in in the build cluster where all the workloads are running, not in the service cluster.

[2019-05-17 06:09] wojtek-t commented on #11594
Wait - I'm lost then. You're talking about Kubernetes podgc? This should *never* remove pods in state Running, which is happening in this case.

[2019-05-17 13:46] OlegLoewen commented on #8557
Hi @leeivan
if I try the tag you proposed:
`go run hack/e2e.go -- --provider=skeleton --test --check_version_skew=false --test_args="--ginkgo.dryRun=true --ginkgo.flakeAttempts=1"`
I get the following error:

Do you have an idea, what I'm missing?

[2019-05-17 14:01] OlegLoewen commented on #8557
Okay, with check-version-skew it's now working.

[2019-05-17 17:14] krzyzacy commented on #11594
@wojtek-t Prow has a logic that watches completed pod, and update prowjob status as passed/failed/etc. Right when a pod is finished, it's got deleted by K8s podgc, and plank does not using informer cache yet so it will miss the event, saw pod associated with the prowjob is missing, and restart the pod.

[2019-05-17 17:41] wojtek-t commented on #11594
@krzyzacy - I'm not entirely sure it's our problem then, because unless I'm not missing anything we've seen cases where the test was restarted in the middle of the run, not after it was finished...

But anyway - I'm fine with using a separate cluster, because it will mitigate at least some of the issues...

[2019-05-17 17:44] krzyzacy commented on #11594
@wojtek-t I think it shows up as 'R' in testgrid because the log failed to be uploaded, as testgrid is basically reading gcs. I can also take a closer look.

[2019-05-17 17:49] wojtek-t commented on #11594
This I know (and yes that happens). But we've seen cases that it is restarted in the meantime (though it's hard to tell why it was restarted and what happened in that first round) and the restarted attempt finishes on time and is reported correctly. Though I don't know if it was happening recently too..

[2019-05-17 18:57] krzyzacy commented on #11594
@wojtek-t Or we might be hitting disk pressure again, I think we never solved that with the logexporter. Use dedicated nodes to run scalability jobs and give them more resources should help in general.

I know you want to own your cluster, maybe hand us a cluster credential and we can help with carrying over the existing secrets?

[2019-05-19 04:40] saiyan86 opened #12709 "Update acs-engine to aks-engine"
**What should be cleaned up or changed**:
For Azure related deployments, we should update acs-engine related parts to aks-engine.
**Provide any links for context**:
Like below line, we should update acs to aks.
https://github.com/kubernetes/test-infra/blob/95ef25d878a3b772d05236584c7cb16b845d5f8d/kubetest/azure.go#L48

[2019-05-19 04:41] saiyan86 commented on #12709
/assign ritazh

[2019-05-19 04:41] saiyan86 commented on #12709
I can do the cleanup if @ritazh thinks it's OK to proceed.

[2019-05-19 16:05] wojtek-t commented on #11594
Sounds reasonable. Though it my be after kubecon, unless @krzysied or @mborsz would like to help with that.

[2019-05-20 10:36] ritazh commented on #12709
Go for it @saiyan86! FYI @adelina-t

[2019-05-20 18:32] krzyzacy commented on #8300
cc @michelle192837

:joy: @amwat bring your awesome bash to the bright side?

[2019-05-21 00:05] stevekuznetsov commented on #8300
"awesome bash"
:fearful:

[2019-05-21 00:13] stevekuznetsov commented on #12693
I see how it seems "hacky" but at the same time it's just open-ended, which is nice as there are many possible workflows and with `/hold` it is not required that every novel workflow be supported in code, explicitly.

Depending on how you have your `tide` instance configured, you can require LGTM and approval, which will ensure that one single approval from someone else does not immediately mean a

[2019-05-21 00:17] lzaldivarkt commented on #12693
At the moment our workaround works for us. But the question still persists, right? If require_self_approval is set to true or false doesn't seem to have any effect. The pr will be labeled as approved without the author explicit approval.

[2019-05-21 08:34] Mikulas commented on #11254
To be honest I'm not quite certain what the initial issue was.

/close

[2019-05-21 08:34] #11254 closed

[2019-05-21 09:44] adelina-t commented on #12709
SGTM :)

[2019-05-21 10:23] rafis commented on #8333
Any solution?

[2019-05-21 10:23] rafis commented on #8334
Any solution?

[2019-05-21 13:52] nzoueidi commented on #10845
I am working on this. I will push a PR soon.

[2019-05-21 14:08] matthyx opened #12725 "Alternative to GCR hosted images for building/testing k8s"
**What would you like to be added**:
An alternative way of getting docker images required by building and testing k/k and other repos (k/test-infra I think too).

**Why is this needed**:
Some companies we work in (for example mine!) do not allow accessing GCR registries through the corporate firewall In order to develop and test I need use my phone as a hotspot to download needed images locally...

[2019-05-21 14:09] matthyx commented on #12725
As discussed at KubeCon Europe...
/cc @BenTheElder
/cc @cjwagner

[2019-05-21 15:21] stevekuznetsov commented on #12693
I think the original question is a product of bad documentation -- the field changes the implicit behavior:

 - `require_self_approval: true` means that if an author MAY approve their own work, they MUST do it explicitly (by commenting `/approve`)
 - `require_self_approval: false` means that if an author MAY approve their own work, the PR will always be approved from the get-go by Prow

[2019-05-21 16:25] adshmh commented on #12233
I have started working on a PR for this. So far, adding the changed files to the `ProwJobSpec` seems like a "clean" solution to me, but it will involve changes in a few places as generated prow job specs need to be updated. This avoid introducing new dependencies in the `downwardapi` layer, as it simply copies the `Refs` struct from `ProwJobSpec`, perhaps with one or more new environment variables

[2019-05-21 17:36] stevekuznetsov commented on #12233
Surfacing it at the `Pull` level through the `downwardapi` sounds like a good approach to me!

[2019-05-21 20:11] alvaroaleman opened #12729 "Spyglass swallows leading spaces in logs"
**What happened**:

Deck swallows leading spaces in logs. Sample directly copied from the file in GCS:

[code]

The same in Spyglass:
![spyglass_missing_leading_spaces](https://user-images.githubusercontent.com/6496100/58128161-45e15c80-7c17-11e9-878d-c6f6b3b9b3bd.png)

**What you expected to happen**:

Spyglass keeping leading spaces

**How to reproduce it (as minimally and precisely as possible)

[2019-05-21 20:24] alvaroaleman opened #12731 "Spyglass cuts off parts of long lines"
**What happened**:

Spyglass cuts off lines if they are too long, making it impossible to see the cut off part. Sample directly copied from the file in GCS:

[code]

In Spyglass it looks like this:
![spyglass-long-lines](https://user-images.githubusercontent.com/6496100/58128008-fb5fe000-7c16-11e9-859a-895b03252edd.png)

It seems like the word gets cut at the end of the line, but the next word (th

[2019-05-21 20:28] stevekuznetsov commented on #12731
Wait wasnt' there some weird `null` character thing doing this before? @alvaroaleman what version of `deck` are you on?

[2019-05-21 20:29] stevekuznetsov commented on #12729
/area prow/deck/splyglass

[2019-05-21 20:33] alvaroaleman commented on #12731
We are currently on `gcr.io/k8s-prow/deck:v20190513-95c7cbee2`

[2019-05-21 22:47] michaelneale commented on #10423
/remove-lifecycle stale

[2019-05-21 22:53] Ark-kun commented on #12636
```still running after 170h13m1s```

[2019-05-22 06:38] idealhack commented on #12729
/area prow/spyglass

[2019-05-22 06:38] idealhack commented on #12731
/area prow/spyglass

[2019-05-22 14:04] chuckha commented on #12527
It looks like the resolution to this is to get the aws users in their own accounts, is that right?

Sounds like something @idvoretskyi might be able to do?

cc @liztio

[2019-05-22 14:29] liztio commented on #12527
/assign @idvoretskyi

[2019-05-22 14:33] idvoretskyi commented on #12527
@liztio @chuckha If this is not urgent, I'm happy to help after KubeCon.

Also, we have already started the discussion with @justinsb about handling this in an efficient way.

[2019-05-22 15:14] liggitt opened #12740 "/skip command is not working as expected"
**What happened**:

I ran an optional CI job on a PR, verified the particular tests in that job I was fixing passed, then wanted to merge my PR (despite there being other unrelated failures in the optional job).

I tried specifying `/skip` (and then `/skip [job name]`) to remove the failed CI status so my PR could merge, but nothing happened.

The job:
https://github.com/kubernetes/test-infra/blob

[2019-05-22 15:14] stevekuznetsov commented on #12740
We would like to see `hook` logs for the comment `494659033` to debug what happened here.

[2019-05-22 16:16] liztio commented on #12527
Yeah, I think we can wait. I'm interested to hear what @justinsb's alternate solution is, too!

[2019-05-22 16:31] michelle192837 commented on #12740
Interesting? Message on that was:

 jsonPayload: {
  author:  "liggitt"
  component:  "hook"
  event-GUID:  "86987920-7c53-11e9-964c-41b5b7ae1396"
  event-type:  "issue_comment"
  level:  "debug"
  msg:  "Comment doesn't match any triggering regex, skipping."
  org:  "kubernetes"
  plugin:  "trigger"
  pr:  78190
  repo:  "kubernetes"
  url:  "https://github.com/kubernetes/kubernetes/pull/78190#is

[2019-05-22 16:46] stevekuznetsov commented on #12740
That's ok, it doesn't -- it's a skip command, not a trigger

[2019-05-22 16:49] stevekuznetsov commented on #12740
Actually, reading the code -- I was right the first time I tried to remember how this worked:

https://github.com/kubernetes/test-infra/blob/fb0685e8283ddf659079bb92c609c56c1089293b/prow/plugins/skip/skip.go#L130-L133

@cjwagner is this surprising?

[2019-05-22 16:50] michelle192837 commented on #12740
Other log for that comment:

jsonPayload: {
  author:  "liggitt"
  component:  "hook"
  event-GUID:  "86987920-7c53-11e9-964c-41b5b7ae1396"
  event-type:  "issue_comment"
  level:  "debug"
  msg:  "Filtered 86 jobs, found 0 to trigger and 0 to skip."
  org:  "kubernetes"
  plugin:  "skip"
  pr:  78190
  repo:  "kubernetes"
  to-skip:  null
  to-trigger:  null
  url:  "https://github.com/kubernetes

[2019-05-22 16:56] stevekuznetsov commented on #12740
Yeah so that confirms it, the status existed, was failed and was not handled by `trigger` otherwise, so `skip` ignored it because it was a required status (required-if-present)

[2019-05-22 17:16] liggitt commented on #12740
how is that determined? is that an attribute of the job? I didn't see anything in the job spec that looked like it was required

[2019-05-22 20:57] lzaldivarkt commented on #12693
I see. Then I think it's intended behavior. I'll close this issue. Thanks for your help.

[2019-05-22 20:57] #12693 closed

[2019-05-22 21:03] IamPrvn opened #12741 "error during ./cluster/log-dump/log-dump.sh exit status 1"
I get the following error while running conformance tests using kubetest.

error during ./cluster/log-dump/log-dump.sh /builds/atd/oci_k8s_conformance_tests/conformance/k8s_release_stable-1.13/generated/_artifacts: exit status 1

The test suite passed but the log collection step failed, quick look into code does suggest that `skeleton` types are not a part of `node_ssh_supported_providers`, so ide

[2019-05-22 21:55] stevekuznetsov commented on #12740
Yes, all statuses are required until they are not -- `optional: true` can be set on the job level. Please see the doc:

https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#requiring-job-statuses

[2019-05-23 01:21] jeffqwb2017 commented on #11484
With my latest PR removing all column header settings. This problem remain active. Can anyone help to explain why this happen and how to fix that?

[2019-05-23 03:38] Random-Liu commented on #11484
It seems that prow does know how many test runs and how many are passing https://prow.k8s.io/view/gcs/k8s-conformance-docker/ci-kube-node-e2e-docker/ce18.09-ubuntu16.04-k8s1.13.x/1558028834

But the testgrid doesn't show test rows. @krzyzacy @BenTheElder Do you know why this happens?

[2019-05-23 04:21] krzyzacy commented on #11484
(Also replied in email)

Looks like your junit file is named as `junit__01.xml` which has two underscores, testgrid regex expects exactly one underscore.

Prow will swallow all *.xml files which is why it shows all results.

[2019-05-23 15:37] stevekuznetsov commented on #11989
Not doing this currently makes branch protection effectively impossible to update on an as-needed basis. One tiny change has to run the entire 3+h job every time.

[2019-05-23 15:38] stevekuznetsov commented on #11989
/help

[2019-05-23 15:46] nzoueidi opened #12749 "Move several internal methods to one internal package"
Ref: https://github.com/kubernetes/test-infra/pull/9387/files#r271334780

Identify and move many of the internal methods that we use in `prow/plugins/` to a single `prow/plugins/internal`  package.

[2019-05-23 16:22] jeffqwb2017 commented on #11484
Really appreciated your insights. This file name thing can be easily fixed
on my side before upload.

Jqi

On Wed, May 22, 2019 at 9:21 PM Sen Lu <notifications@github.com> wrote:

[2019-05-23 17:05] wking opened #12752 "cherrypick: Bot ignores /cherrypick requests in initial PR comment"
**What happened**:

I had `/cherrypick release-4.1` in [a PR topic post][1], but the bot did not backport the PR after it landed.

**What you expected to happen**:

Cherry-pick bot to backport the PR after it landed.

[1]: https://github.com/openshift/origin/pull/22893#issue-281592199

[2019-05-23 17:17] stevekuznetsov commented on #12752
/assign

[2019-05-23 17:39] chases2 commented on #10701
I'm currently working on a solution for this feature. It consists of three parts described briefly in the readme, but the idea is as follows:

Part 1: "GitHub Issue Scraper": get data from GitHub API to a gostruct:
[code]

Part 2: "Target Identifier": get data from that struct to this struct/proto: [issue_state.pb.go](https://github.com/kubernetes/test-infra/blob/master/testgrid/issue_state/issue_

[2019-05-23 22:24] chaodaiG opened #12759 "Prow shouldn't crash when there is unrecognized job config"
**What would you like to be added**:
Instead of crashing Prow, sending warnings if there is "bad" job config found

**Why is this needed**:
While testing jobs with `mkpj`, there is a chance that a "bad" job config is applied on Prow cluster, and this may cause `deck` and `horologium` stop working with error: `error listing prow jobs`.
Example: https://github.com/knative/test-infra/issues/801
In ab

[2019-05-23 23:14] chases2 opened #12760 "Add Readme for prow/github"
**What should be cleaned up or changed**:
test-infra/prow/github/ appears to be a useful library for reading & modifying GitHub programmatically using the v4 API. It would be great to use wherever we're doing GitHub Things, but it's got some very large files.

A README.md in this directory would help a lot.

**Provide any links for context**:
https://github.com/kubernetes/test-infra/tree/master/pr

[2019-05-24 00:13] stevekuznetsov commented on #12759
Perhaps, but if you cannot list anything you cannot do any work so there is little difference. The real issue was using a newer `mkpj` than the cluster version and the choice to make the duration string migration in a way that it was possible to crash. We've learned from that and we will not make that type of migration again. Versioned config nullifies the issue.

/cc @cjwagner

[2019-05-24 00:13] stevekuznetsov commented on #12759
More specifically, using `mkpj` under normal circumstances will never create a bad ProwJob

[2019-05-24 00:15] stevekuznetsov commented on #12760
@chases2 are you hoping to use it inside of prow our in other projects? The directory vendors a v4 (graphql) client and implements a v3 (REST) client, but exposes them in opinionated ways that make sense for Prow but maybe not other projects. Fields Prow does not use, for instance, are elided.

[2019-05-24 01:14] #11484 closed

[2019-05-24 12:24] #9572 closed

[2019-05-24 15:11] chaodaiG commented on #12759
Agree with using `mkpj` under normal circumstances would never create a bad ProwJob, giving the statement above that this kind of migration will never happen again.
The idea here is for making Prow more resilient, as there might be some other things happen, i.e. `kubectl apply` wrong file, or accidentally edited `mkpj` generated job config while inspecting it. Is it possible for `prowJobClient.Lis

[2019-05-24 15:41] stevekuznetsov commented on #12759
I don't think the generated CRD clients work like that, no.

[2019-05-24 15:45] chaodaiG commented on #12759
so it's the limitation here, right?
https://github.com/kubernetes/test-infra/blob/58b85f6993675120a07980a50201fa37c892b16f/prow/client/clientset/versioned/typed/prowjobs/v1/prowjob.go#L80

[2019-05-24 15:49] stevekuznetsov opened #12765 "spyglass: allow users to select and copy-paste logs"
Right now in Spyglass we can select and copy but we get a bunch of newlines and we also get the line numbers. Would be rad to just copy the test of the log itself.

/area prow/deck/spyglass
/cc @Katharine

[2019-05-24 15:50] stevekuznetsov opened #12766 "spyglass: let me link to a log line"
It would be super awesome to link to a line in a log.

/area prow/deck/spyglass
/cc @Katharine

[2019-05-24 18:38] IamPrvn commented on #12741
After triaging it further I got to following conclusions ;
When you run kubetest with skeleton provider `kubetest --provider skeleton --dump=<some_path>`, KUBERNETES_PROVIDER is not set, and when `DumpClusterLogs` test case is run (because dump flag is passed)  this unset variable causes the difference.
The code `[[ "${master_ssh_supported_providers}" =~ "${KUBERNETES_PROVIDER}" ]]` returns false

[2019-05-24 18:59] chases2 commented on #12760
I was looking at using it for a TestGrid feature (see Issue #10701 and PR #12753), because it might be duplicating the functionality I've written in that PR.

The thing is, it's tough to tell whether or not it meets those needs, or exactly what it's doing with GitHub's API. I've been parsing through it, but it's thousands of lines. It would be real neat if the next new person didn't have to.

In a

[2019-05-24 23:02] nzoueidi opened #12770 "Formatting issue in phaino's README file"
For the records, this issue has been created to be referenced in this PR #12763 and for fixing a formatting issue in phaino's README file.

Here is the file: https://github.com/kubernetes/test-infra/tree/master/prow/cmd/phaino#usage-examples

/good-first-issue

[2019-05-26 14:26] matthyx commented on #12661
+1

[2019-05-27 03:25] #12770 closed

[2019-05-27 05:27] #6545 closed

[2019-05-27 14:49] idvoretskyi commented on #12527
@liztio can you please email me (ihor at cncf.io) your detailed request of what specifically do you need (preferably using the AWS glossary - https://docs.aws.amazon.com/general/latest/gr/glos-chap.html, so we could avoid any terminology misunderstanding). I'm happy to discuss this via the email.

[2019-05-28 01:04] krzyzacy commented on #11530
/remove-lifecycle stale
very close to be done

[2019-05-28 01:32] vllry opened #12778 "pull-kubernetes-kubemark-e2e-gce-big is failing across PRs"
pull-kubernetes-kubemark-e2e-gce-big has been failing for around 12 hours.

ClusterLoaderV2 fails.

```error during /go/src/k8s.io/perf-tests/run-e2e.sh cluster-loader2 --nodes=500 --provider=kubemark --report-dir=/workspace/_artifacts --testconfig=testing/density/config.yaml --testconfig=testing/load/config.yaml --testoverrides=./testing/load/kubemark/500_nodes/override.yaml: exit status 1```

EG

[2019-05-28 01:35] liggitt commented on #12778
Potential fix in https://github.com/kubernetes/perf-tests/pull/541

[2019-05-28 03:16] hainesc commented on #12778
I encounter the same problem
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78009/pull-kubernetes-kubemark-e2e-gce-big/1133104206702448641/

[2019-05-28 09:34] townsendb commented on #10146
Hi. Is this proposal on the radar? I'm using GitLab and trying to use the next gen serverless features of Jenkins-x but blocked by this issue in prow.
Many thanks.

[2019-05-28 10:45] IamPrvn commented on #12741
migrated the issue to kubernetes repo https://github.com/kubernetes/kubernetes/issues/78432

[2019-05-28 15:32] stevekuznetsov commented on #9458
/remove-lifecycle stale

With the standalone stack coming soon this will be fixed.

[2019-05-28 15:32] stevekuznetsov commented on #9458
/assign

[2019-05-28 15:45] stevekuznetsov commented on #11523
/remove-lifecycle stale

[2019-05-28 15:54] stevekuznetsov commented on #12760
Inside of this repo it's definitely suitable for re-use since it will be compile-time enforced that refactors won't break you. Right now the biggest risks with using it are:
 - if Prow needs it to change, it will change
 - when Prow does not need fields on objects that GitHub sends, it does not deserialize them and they are therefore ignored

If you're in the repo, the first issue is nullified sin

[2019-05-28 15:55] stevekuznetsov commented on #12759
Right, that's the lowest level of the generated typed clients.

[2019-05-28 16:53] cblecker commented on #12667
I'm not sure I'm sold on this. I can understand why that would be easier, but it doesn't align with how we've designed things (we don't have any other meta configuration in the yaml file, and it obfuscates the target into a config file, as opposed to flags).

[2019-05-28 17:04] BenTheElder commented on #12741
btw are you setting the KUBERNETES_CONFORMANCE_TEST="y" ?

[2019-05-28 17:04] BenTheElder commented on #12741
ah moved to kubernetes

[2019-05-28 17:04] #12741 closed

[2019-05-28 17:12] fejta commented on #12667
What is the motivation for needing this vs using the --only flag? The expectation is that --only fields will be temporary.

[2019-05-28 18:05] #10547 closed

[2019-05-28 18:18] BenTheElder commented on #12725
I think this would need to be a kubernetes/kubernetes change, i'm also not sure but it _might_ support this already :sweat_smile:

[2019-05-28 20:15] listx commented on #11394
Doh, forgot to close this with #11414 being merged.

/close

[2019-05-28 20:15] #11394 closed

[2019-05-28 20:19] chaodaiG opened #12784 "Prow: readable log when List job failed parsing json"
**What happened**:
The current log contains `unexpected character: �` when List job failed

**What you expected to happen**:
Log clearly specified which character is unexpected

**How to reproduce it (as minimally and precisely as possible)**:
Create a Prow job config that contains unparsable character (In the case above it was `s`)

**Please provide links to example occurrences, if any**:

**Anyt

[2019-05-28 20:30] chaodaiG commented on #12784
@krzyzacy , not really :)

It was something we discovered here: https://github.com/knative/test-infra/issues/801. tl;dr is a prowjob created with latest mkpj was not parsed by not that up-to-date Prow instance. The issue itself was fixed by updating Prow, but the debugging experience was not that smooth due to this unrecognized character

[2019-05-28 20:36] krzyzacy commented on #12784
@chaodaiG - the error message comes from https://github.com/kubernetes/client-go/blob/79226fe1949a01066ee9e3a3f4c53546d72e1194/tools/cache/reflector.go#L201 which is not part of prow controllers, so here's nothing really we can do (feel free to open another issue in that repo)

also we now publish official mkpj images together with prow controller images, you should probably run mkpj from that ver

[2019-05-28 20:42] chaodaiG commented on #12784
@krzyzacy , looks like different Prow components list jobs differently, for example, as one of the other components also failed, plank is not using the code path you linked above, instead it uses this: https://github.com/kubernetes/test-infra/blob/506a6dc713f5fb1598ba07307c214784519d56f2/prow/kube/client.go#L484

Thanks for the info regarding versioned mkpj, that's definitely what we need, will ex

[2019-05-28 20:47] krzyzacy commented on #12784
right - what I'm trying to say is the underlying error is generated from apiserver, not made up by Prow :-)

[2019-05-28 20:58] stevekuznetsov commented on #12784
Plank will migrate to use the clients soon, too.

[2019-05-28 21:15] stevekuznetsov commented on #12784
Since this is a message coming out of the APIServer we can't really do anything here -- I will note it looks like whatever log viewer you're using is rendering the bad character, as well. In light of this, I will close out this issue.

/close

[2019-05-28 21:15] #12784 closed

[2019-05-28 21:20] vllry opened #12785 "k8s-ci-robot behaves inconsistently with approved/needs-ok-to-test labels"
**What happened**:
When the `needs-ok-to-test` label is present, k8s-ci-robot will run tests if a PR is approved, but will not allow users to manually run tests.

**What you expected to happen**:
Either tests should not yet run, or `ok-to-test` should be added automatically.

**How to reproduce it (as minimally and precisely as possible)**:
* Create a PR that has `needs-ok-to-test` label
* Approve

[2019-05-28 21:27] stevekuznetsov commented on #12785
Technically, adding `/lgtm` will allow tests to run _once_ and only once. So, this is working as implemented, but definitely not obvious what is going on behind the scenes.

/cc @cjwagner @fejta @spiffxp @cblecker

[2019-05-28 21:48] cblecker commented on #12785
Yeah, it's not the approve that's doing anything, it's the lgtm.

I wonder if we even need the "run only once" functionality at all.

[2019-05-28 22:58] cjwagner commented on #12785
I think it is nice since PR reviewers may not remember to include a `/test all` on non-member PRs after they have reviewed, especially if they mainly review member PRs. I don't think there is a case where a reviewer would use `/lgtm`, but not want to let the tests run so inferring `/test all` from `/lgtm` on a non-member PR seems like a convenient behavior that wouldn't cause problems.

That being

[2019-05-28 23:06] midnightconman commented on #12667
I am trying to create a self-service onboarding experience for internal customers, where they would go to a portal (with github-oauth) and using their credentials automation would create a pull request to add their repository and organization to a shared config file that contains yaml describing the orgs and repos that are onboarded to label-sync.

At the moment, to do this, I would have to create

[2019-05-28 23:20] vllry commented on #12785
My 2 cents would be to auto-add `ok-to-test` on lgtm/approve, since lgtm/approve implies that the PR is not spam or malicious.

[2019-05-28 23:35] cjwagner commented on #12785
That could be a nice option to have for some repos to opt into, but I don't think that we can do that globally due to security concerns.

The reason we have the distinction between `lgtm`/`approved` and `ok-to-test` is because `ok-to-test` is sticky to the PR when changes are made while `lgtm` is removed whenever the PR changes. If we made `lgtm` auto-add `ok-to-test` then someone could change the

[2019-05-29 14:48] mborsz opened #12796 "Add better support for proto files"
**What would you like to be added**:
The current, hack/update-protos.sh based approach seems to miss few features:
* a possibility to include other file (from this repo) from proto
* a way to include "Well Known Types" such as google.protobuf.Timestamp
* protoc grpc plugin support

**Why is this needed**:
In #12517 we are adding protos that uses all of the features above and we are not able as ver

[2019-05-29 15:19] stevekuznetsov commented on #10924
/remove-lifecycle rotten
/assign

[2019-05-29 16:15] pmorie opened #12799 "Feature request: allow squashing on case-by-case basis"
**What would you like to be added**:

This request is to add the ability to be able to request squashing and resulting commit message on a case by case basis when a repo is not configured to automatically squash commits.

Example:

[code]
Later, once the PR is satisfied, the commits are squashed and given the requested commit message.

**Why is this needed**:

In repos where the contributors do no

[2019-05-29 21:19] mirandachrist commented on #10845
@nzoueidi are you still working on this? If not, I'd like to.

[2019-05-29 22:12] howardjohn opened #12804 "test-grid sort by failures doesn't always work"
Example: https://testgrid.k8s.io/istio-postsubmits-master#integration-k8s-tests&sort-by-failures=

There are some failures at the top, then a bunch of green, then more failures at the bottom. This is especially bad because we expect failures at the top and assume all tests pass otherwise, so failures are missed.

I tried on chrome and firefox so I think it isn't a local issue

[2019-05-29 22:27] nzoueidi commented on #10845
yes @mirandachrist but if you would like you can take it, I will share with you my findings :)

[2019-05-29 22:46] mirandachrist commented on #10845
thanks @nzoueidi it'll be great for me to do as a first issue! If you have any tips or photo suggestions please let me know :)

[2019-05-29 23:26] cjwagner commented on #11566
oof we should fix this

[2019-05-30 08:48] cjwagner commented on #11566
/remove-lifecycle stale

[2019-05-30 17:17] michelle192837 commented on #10997
/remove-lifecycle-rotten

@Katharine has been doing great work in this area with Prow annotations for TestGrid dashboards and generated config ^^

[2019-05-30 17:18] michelle192837 commented on #10997
/remove-lifecycle rotten

[2019-05-30 17:30] bobcatfish commented on #12799
To add a little bit more context, auto squashed commit messages can often end up looking something like this:

[code]

We'd like to be able to:

1. use prow
2. make it easy for contributors to squash commits
3. maintain high commit message standards (https://github.com/tektoncd/community/blob/master/standards.md#commit-messages)

And on the subject of good commit message standards, I'd like to req

[2019-05-30 19:55] michelle192837 commented on #7960
/remove-lifecycle rotten
/lifecycle frozen

[2019-05-31 04:08] BenTheElder commented on #8427
we haven't needed it. we can always reopen someday if we need it. xref #4824

[2019-05-31 04:08] #8427 closed

[2019-05-31 12:27] alvaroaleman opened #12818 "Crier doesn't pick up changes in the slack config without a restart"
**What happened**:

Crier doesn't pick up changes in the the slack config without a restart

**What you expected to happen**:

Crier picking up changes in the slack config without a restart

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2019-05-31 16:53] midnightconman commented on #12667
@cblecker @fejta

What's the verdict, does this make sense? Do you guys have a better suggestion?

[2019-05-31 17:33] krzyzacy commented on #12818
is the slack config passed in as a flag or a config field?

[2019-05-31 17:52] alvaroaleman commented on #12818
Its part of the config: https://github.com/kubernetes/test-infra/blob/36fcb352330cee91aeb166ea46aa8a4d110c0d3b/prow/config/config.go#L83

So in theory shouldn't be a problem, I guess I did something stupid like passing in the config directly instead of a Getter when adding Slack support to crier

[2019-05-31 17:54] krzyzacy commented on #12818
yeah - https://github.com/kubernetes/test-infra/blob/c1df55548381e49ffde468860dcfc1f1f22555e8/prow/cmd/crier/main.go#L183

[2019-05-31 18:00] alvaroaleman commented on #12818
/assign

[2019-05-31 18:37] cblecker opened #12825 "strInSlice cleanup"
**What should be cleaned up or changed**:
There's a number of places we have a little `strInSlice` helper function to give a true/false if a particular string is in a slice.

We should look at cleaning that up. Either we put that helper function in a single place, or wr just swap it out for the `sets` package as @stevekuznetsov suggests here: https://github.com/kubernetes/test-infra/pull/12817#dis

[2019-05-31 18:46] #12818 closed

[2019-05-31 19:06] #11566 closed

[2019-05-31 23:36] Katharine opened #12829 "Set up alerting for prow metrics being out of bounds or entirely absent"
We should have alerting for this, so we know when the world is :fire:

[2019-06-01 13:44] matthyx commented on #9836
@taragu is this still being worked on? Should we close that?

[2019-06-01 14:10] matthyx commented on #12725
Yes, it seems we don't use any... 🎆
If only we had the same everywhere !
But the change in k/k should come from sig-testing, no?

[2019-06-01 14:26] taragu commented on #9836
@matthyx no this is not being worked on. If there's no objection we can close this issue

[2019-06-01 14:31] matthyx commented on #9836
I had the impression this was the umbrella issue for all your great changes regarding lint.
Thanks a lot :)
I will let @BenTheElder reopen it, if needed.
/close

[2019-06-01 14:31] #9836 closed

[2019-06-01 15:23] matthyx commented on #9757
/assign
/remove-help

[2019-06-01 15:26] matthyx commented on #9126
As Cole wrote, that one is related to #9757
/remove-lifecycle stale
/remove-help
/assign

[2019-06-01 15:30] matthyx commented on #2364
@tony-yang so this issue can be closed?

[2019-06-01 15:34] matthyx commented on #7690
Since @nikhita owns it...
/remove-help

[2019-06-01 15:40] matthyx commented on #9638
I have poked @fejta on slack regarding this issue.

[2019-06-01 15:43] matthyx commented on #11247
@krzyzacy can you elaborate a bit? Otherwise we should remove `help-wanted`...

[2019-06-01 15:46] matthyx commented on #9247
/help

[2019-06-01 19:31] krzyzacy commented on #11247
@matthyx try the test without internet, it would fail

[2019-06-01 19:32] krzyzacy commented on #11247
/remove-lifecycle stale

[2019-06-02 04:22] Katharine commented on #11064
/remove-lifecycle rotten

[2019-06-02 09:33] phoenixsbk opened #12833 "Prow with pipeline integration report wrong resource binding"
I'm having my own cluster with prow installed.
My job config:
[code]

This will create a prowjob when an event (I'm configured as postsubmit) occurred:
[code]
So you can see that the trigger start and build a prowjob with extra resources created as a pipeline resource in tekton pipeline:

[code]

Which is odd that the url is missing. But the most weird thing is that I can't reference this pipeline

[2019-06-02 16:41] pswica commented on #12825
I gave this a shot in my PR above. Please let me know if there's anything else I should improve on (I'm still new to open source and this is my first contribution to test-infra)

[2019-06-02 20:35] matthyx commented on #5333
😭 @spiffxp, reopen?

[2019-06-03 01:01] idealhack commented on #5333
/reopen

[2019-06-03 02:09] #10605 closed

[2019-06-03 11:55] oxddr commented on #11594
This has hit us again. I've set up us a dedicated cluster in which we'd like to run scalability jobs.

@krzyzacy I'll follow up with you to pass the credentials.

[2019-06-03 14:27] matthyx commented on #9628
/remove-help

[2019-06-03 17:37] mirandachrist commented on #10845
/meow no

[2019-06-03 17:40] tony-yang commented on #2364
@matthyx Yes, this issue can be closed. Unfortunately I don't have the permission to do so. I'll check with Michelle, or anyone with the right permission, please feel free to close this issue. Thanks.

[2019-06-03 17:48] michelle192837 commented on #2364
/close

Thanks Tony! :D

[2019-06-03 17:48] #2364 closed

[2019-06-03 18:49] BenTheElder commented on #9238
/shrug

[2019-06-03 18:49] #9238 closed

[2019-06-03 20:26] #7673 closed

[2019-06-03 20:36] BenTheElder commented on #12725
no, that would be sig-release

[2019-06-03 20:41] krzyzacy opened #12845 "Make Janitor able to generate a per-project junit result report"
Instead of pure pass/fail, we can have per-project entries and record which resources has been cleaned.

cc @sebastienvas @amwat
/area janitor
/assign

[2019-06-03 20:44] matthyx commented on #12725
ok, I will create the issue in k/k and reach sig-release
thanks Ben!

[2019-06-03 20:44] #12725 closed

[2019-06-03 21:11] stevekuznetsov commented on #11581
I'll close this as it seems like we have helped the situation.

/close

[2019-06-03 21:11] stevekuznetsov commented on #10015
/remove-lifecycle rotten

[2019-06-03 21:13] stevekuznetsov commented on #11599
This got fixed
/close

[2019-06-03 21:14] #11581 closed

[2019-06-03 21:15] #11599 closed

[2019-06-03 21:19] spiffxp opened #12848 "Update config-forker to not add jobs to release-x.y-all if already in -blocking or -informing"
**What should be cleaned up or changed**:  Need to update config-forker to not add jobs to release-x.y-all if they're already in -blocking or -informing

**Provide any links for context**:

followup comment ref: https://github.com/kubernetes/test-infra/pull/12781#issuecomment-497402298
umbrella issue ref: https://github.com/kubernetes/test-infra/issues/11977

eg:
[code]

Will undo most of the chag

[2019-06-03 22:13] spiffxp commented on #3349
/lifecycle stale

[2019-06-03 22:13] spiffxp commented on #3349
/lifecycle active

[2019-06-03 22:13] spiffxp commented on #3349
/lifecycle frozen

[2019-06-03 22:35] spiffxp commented on #3349
(that was all me confirming that lifecycle labels get swapped out rather than stacked)

[2019-06-03 22:37] spiffxp commented on #10701
/remove-help

[2019-06-03 22:46] cjwagner opened #12852 "The PR status page is not loading."
https://prow.k8s.io/pr does not load.
[code]

[2019-06-03 22:46] cjwagner commented on #12852
/area prow/deck

[2019-06-03 22:58] hongkailiu opened #12854 "Deploy monitoring-stack for prow"
**What would you like to be added**:
Add [monitoring-stack](https://github.com/coreos/prometheus-operator) including prometheus/alertmanager/grafana for [prow.k8s.io](https://prow.k8s.io/).

**Why is this needed**:
* Scrape prow components with [prometheus](https://prometheus.io/) to collect data provided by the endpoints which are already available.
* Oversee with [grafana](https://grafana.com/)

[2019-06-03 22:59] stevekuznetsov commented on #12854
/cc @cjwagner @fejta @krzyzacy

[2019-06-03 23:21] michelle192837 commented on #12449
/close

This should be fixed on TestGrid side, but please ping if you're still having issues with this. ^^

[2019-06-03 23:21] #12449 closed

[2019-06-03 23:22] michelle192837 commented on #5385
/remove-lifecycle rotten

[2019-06-03 23:30] cjwagner commented on #12852
This also appears to affect https://prow.k8s.io/plugins and https://prow.k8s.io/command-help, but not quite as fatally.

[2019-06-03 23:57] cjwagner commented on #12852
It is looking pretty likely that https://github.com/kubernetes/test-infra/pull/12806 is the culprit. I'll rollback the last bump (https://github.com/kubernetes/test-infra/pull/12813) and that change.

[2019-06-04 00:58] vllry commented on #12778
/close

[2019-06-04 00:58] #12778 closed

[2019-06-04 01:33] #9802 closed

[2019-06-04 02:14] cblecker opened #12863 "Migrate non-Kubernetes repos off of prow.k8s.io"
Currently, the Kubernetes community prow instance (prow.k8s.io) is supporting a number of non-Kubernetes project repositories. We need to migrate these off the Kubernetes community infrastructure ahead of moving our instance onto project owned infrastructure.

We should also stop adding any new repos/orgs to the prow.k8s.io instance that aren't directly involved with the Kubernetes project.

Curre

[2019-06-04 02:17] cblecker commented on #12863
cc @nikhita for client-go/unofficial-docs

[2019-06-04 02:17] cblecker commented on #12863
cc @Random-Liu for containerd/cri

[2019-06-04 02:20] nikhita commented on #12863
This is not active and can be removed. :+1:

[2019-06-04 02:36] hongkailiu commented on #12854
tony-yang [7:04 PM]
1.13.5-gke.10

[2019-06-04 03:05] krzyzacy commented on #12863
For google owned projects' owners: feel free to migrate to https://github.com/GoogleCloudPlatform/oss-test-infra instead

[2019-06-04 04:38] cblecker commented on #12863
@krzyzacy Do we have owners/contacts for the google owned projects?

[2019-06-04 05:51] krzyzacy commented on #12863
@cblecker you can check 😂 I think it can fall back to us, or maybe @spiffxp can also help coordinate?

[2019-06-04 06:11] matthyx commented on #12725
https://github.com/kubernetes/kubernetes/issues/78679

[2019-06-04 09:01] oxddr opened #12867 "Migrate scalability test to use dedicated build cluster"
**What should be cleaned up or changed**:
Migrate existing scalability tests to use dedicated build cluster on prow.

**Provide any links for context**:
As a workaround to https://github.com/kubernetes/test-infra/issues/11594 we've setup a dedicated build cluster for scalability tests.

/assign oxddr

[2019-06-04 09:02] oxddr commented on #12867
As of now this is blocked by https://github.com/kubernetes/perf-tests/issues/553

[2019-06-04 16:39] cblecker commented on #12863
Looking at the configs, we probably don't need to worry about cncf/apisnoop (CNCF project and only using meow/bark).

We also may want to keep helm/charts around as it is also a CNCF project and may provide valuable signal.

[2019-06-04 17:19] fejta opened #12876 "Update rules_nodejs"
We need to update our rules_nodejs to a newer version

[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-test-infra-bazel-canary/1135908581057499136

/assign @Katharine

[2019-06-04 17:55] spiffxp commented on #9697
Verified the list of tests for v1.15 and v1.14 by using the kind and kind-image jobs, eg:
- https://testgrid.k8s.io/conformance-all#kind-image,%201.14%20(dev)&sort-by-name=
- https://testgrid.k8s.io/conformance-all#kind,%20v1.14%20(dev)&sort-by-name=

[2019-06-04 21:18] mirandachrist commented on #10845
/close

[2019-06-04 22:00] krzyzacy commented on #11530
thanks @chases2 !

/close

[2019-06-04 22:01] krzyzacy commented on #11530
(oops, haven't merged yet)
/unassign
/assign @chases2

[2019-06-04 22:02] krzyzacy commented on #9378
/unassign
/sig release

[2019-06-04 22:02] krzyzacy commented on #9363
/unassign
/sig release

[2019-06-04 22:04] spiffxp commented on #9697
I opened https://github.com/kubernetes/kubernetes/pull/78710 to enforce the regex as a gate to promotion to conformance

[2019-06-04 22:07] krzyzacy commented on #10958
done by @Katharine (thanks!)

[2019-06-04 22:07] #10958 closed

[2019-06-04 22:09] krzyzacy commented on #7769
/shrug
/unassign
/lifecycle frozen

let's see how sig-scalability wanna do this after move the jobs to their own build cluster

[2019-06-04 22:37] spiffxp commented on #9697
Opened https://github.com/kubernetes/test-infra/pull/12887 to strip the regex from as many cargo cults as I could find

[2019-06-04 22:45] #11989 closed

[2019-06-05 00:36] cblecker commented on #10845
Closed in #12841. Thanks @mirandachrist!

/close

[2019-06-05 00:36] #10845 closed

[2019-06-05 17:27] alvaroaleman opened #12901 "verify-codegen.sh fails with a open /tmp/somefile: read-only file system error"
**What happened**:

When executing the `hack/verify-codegen.sh` script locally, it consistently fails with an error like this:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/assign @fejta

[2019-06-05 17:32] alvaroaleman commented on #12901
Not sure if of relevante, but my `/tmp` is a ramdisk, as its the case on most never linux distributions:

[code]

[2019-06-05 17:34] fejta opened #12902 "pr-status failure: failed to get the combined status: return code not 2XX: 404 Not Found"
/assign @Katharine @cjwagner

[code]

[2019-06-05 18:25] cjwagner commented on #12902
[code]
It looks like the `PullRequest`s returned by the query here might be empty: https://github.com/kubernetes/test-infra/blob/d69838ba0303c41c9a5b92682e3c82b8ad02827b/prow/prstatus/prstatus.go#L254

[2019-06-05 18:48] listx opened #12903 "ci-k8sio-cip job does not get run"
**What happened**:

Looking at https://prow.k8s.io/?job=ci-k8sio-cip, the job is no longer running. Looks like Prow tries to start it for 1 hour roughly before killing it. No logs are available...

**What you expected to happen**:

These jobs have been running daily for a while now, up until May 31. https://k8s-testgrid.appspot.com/sig-release-misc#ci-k8sio-cip

**How to reproduce it (as minimally

[2019-06-05 18:56] krzyzacy commented on #12903
maybe poke oncall while the job stays in pending state, and we can investigate why the pod cannot start

[2019-06-05 20:45] listx commented on #12903
/cc @fejta

poke

[2019-06-05 22:07] Ark-kun commented on #10288
/reopen

[2019-06-05 22:09] Ark-kun commented on #12636
We've fixed that couple of weeks ago. Thanks

I have another case: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1445/kubeflow-pipeline-e2e-test/1136105751991816192

This one has build log, but it's still running after 19 hours.

/reopen

[2019-06-05 22:21] stevekuznetsov commented on #12636
@Ark-kun so I still would like this closed since we see the other issue is still open to track it ... and please contact the on-call in testing ops slack channel to get the Pod YAML for this, so we can debug, otherwise no further progress can be made. I've contacted on-call myself this time.

/close

[2019-06-06 01:34] DirectXMan12 commented on #11889
having an integrated "this is the test a thing failed on" without having to leave the GH API would be another nice feature, especially if a repo had nice linter integration.

[2019-06-06 01:36] DirectXMan12 opened #12916 "API to Request a test run/fetch results"
**What would you like to be added**:

Some sort of API (e.g. a REST API) to trigger jobs runs and view results.

**Why is this needed**:

I'd like to experiment around with GitHub actions for parts of our test automation for KubeBuilder -- particularly, they give an easy way to submit stuff against the checks API, since all GitHub actions get a GitHub Apps token.  However, actually running CI in a

[2019-06-06 05:58] mohammedzee1000 commented on #12481
I can confirm that this is a problem. It appears the plugin works only with project names without spaces, hyphens(`-`) etc.
https://github.com/openshift/odo/issues/1663

[2019-06-06 06:03] mohammedzee1000 commented on #12481
@taragu

[2019-06-06 06:11] mohammedzee1000 commented on #12481
/cc @stevekuznetsov

[2019-06-06 06:50] mohammedzee1000 commented on #12481
https://github.com/kubernetes/test-infra/blob/master/prow/plugins/project/project.go#L39 that is regex that separates the comment out. While this should obviously fail if spaces are used in board name The strange thing this correctly extracts hyphens so wonder why hyphens don't get recognized:

https://regex101.com (golang matcher selected):
### Match 1
Full match	0-18	/project ramu zora
Group 1.

[2019-06-06 08:29] mohammedzee1000 commented on #12481
I think something like this could work for columns will multiple spaces.

Regex `(?m)^/project\s+('.*?'|".*?"|\S+)(?:\s+(.+?)\s*)?$`

### Matching examples:

[code]

[code]

[code]

### Drawbacks
1. Project command will have to be the last line in a comment. Anything following it could possibly mess it up (further testing needed).
1. Following the above issue, a curious case If quotes are used but

[2019-06-06 08:57] oxddr commented on #11594
After switching to a dedicated build cluster scalability tests still suffers from the same problem (or we see the same symptoms).
![download](https://user-images.githubusercontent.com/30298753/59020175-c031f380-8849-11e9-8cbd-77eea13d4f6b.png)

[2019-06-06 09:40] oxddr commented on #11594
FYI: I've changed machines in the dedicated clusters to 16 cores, as I've seen there was ~100% CPU usage. We need to wait yet another day to check whether it helped.

[2019-06-06 14:20] taragu commented on #12481
@mohammedzee1000 How about something like `/project project="ramu dsd" column="forza zora"`? this seems to be the safest but verbose

[2019-06-06 15:15] mohammedzee1000 commented on #12481
I guess that could work, but then how would you clear?

[2019-06-06 15:58] stevekuznetsov commented on #12481
@cblecker @nikhita PTAL

[2019-06-06 16:10] taragu commented on #12481
@mohammedzee1000 for project clear, we can do `/project clear project="ramu dsd"`

[2019-06-06 17:08] taragu commented on #12481
FYI @brahmaroutu

[2019-06-06 17:14] fejta commented on #12901
Okay have a repo, will see if I can resolve today...

[2019-06-06 17:48] krzyzacy commented on #11594
this smells like a different pattern, the job suppose to run daily?

[2019-06-06 18:04] stevekuznetsov commented on #11594
Since you guys have your own cluster now please use your credentials to investigate the test pods and pod events to see what is happening.

[2019-06-06 18:08] krzyzacy commented on #11594
this smells the pod was evicted
[code]

let me poke kubelet logs

[2019-06-06 18:21] BenTheElder commented on #11594
@oxddr 223620144Ki -> 229 GB, you're using more storage than the node can fit on disk ... sounds like we're pulling down logs to the job again, instead of up to GCS. That's just not going to work well. You could work around it by making nodes with very large disks and adding proper resource specs to the pods

[2019-06-06 18:41] #12901 closed

[2019-06-06 18:51] rlinehan commented on #12510
Thank you all for your willingness to help us out! As an update, we've just enabled this experiment for @k8s-ci-robot, @k8s-github-robot, @openshift-ci-robot, and @openshift-merge-robot. As mentioned before, we don't expect you to see anything different as a result of this experiment, but please reach out if you do see anything you're concerned about!

[2019-06-06 19:37] oxddr commented on #11594
Thank you all for help and tips. Hopefully next time, I'll be able to debug it myself.

I've increase disk size with the 16 core nodes added earlier today, but I am going to bump it even further to make sure our tests passes. I'll have a look tomorrow into why we are using so much disk space.

[2019-06-06 20:05] chases2 commented on #12137
@fejta Can we update the checkboxes to clarify which components still need tests?

[2019-06-06 22:06] shyamjvs commented on #9223
/reopen
/remove-lifecycle rotten

This is still pending I think.

[2019-06-06 22:35] amwat commented on #9223
I think we can mark this one as resolved.
1. https://github.com/kubernetes/test-infra/issues/9223#issuecomment-417777088 these tasks are done.
2. Small 100 node periodics have been moved in https://github.com/kubernetes/test-infra/pull/9567#issuecomment-425525626.
3. For presubmits sig-scalability is running their own prow instance now (@krzyzacy ?) and is tracked in https://github.com/kubernetes/

[2019-06-06 22:39] shyamjvs commented on #9223
Thanks for the leads. Could you mark off the ones done on the checklist? I think there are still some things left (like perfdash dns change, GKE/GCE tests billing seperation)

[2019-06-06 22:43] krzyzacy commented on #9223
(this issue is giving :unicorn:)

I think people are start moving jobs running on k8s-scale project onto a separated build cluster. Jobs like kubemark will stay in k8s-prow-build until there's a new boskos pool in that new build cluster.

[2019-06-07 00:42] #8327 closed

[2019-06-07 02:00] spiffxp commented on #12508
Aaaand it's on its way up to 60 minutes

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-test-infra-triage/1136770371005976577/build-log.txt
[code]

The total number of failures is slightly down from before, but the processing time is climbing.

I have two suggestions if anyone is willing:
- reduce the amount of text we're clustering, and see if we get comparable results in less time
- r

[2019-06-07 07:24] alvaroaleman opened #12935 "Crier slack controller: Allow defining channel on job"
**What would you like to be added**:

Currently, the slack reporter in crier always reports to the same slack channel. This is not very practical, as in reality, different jobs are owned by different teams and different teams have different slack channel. So ideally, it would be possible to define on the job which Slack channel it should report to.

Possible approaches for this I can think of:

*

[2019-06-07 07:47] mm4tt commented on #11594
It's strange that we've started using more storage, given that the only change to our job config was adding
[code]

Maybe it's some kind of a permission issue, where due to misconfigured/missing secrets we cannot write to GCS and fallback to dumping the logs locally?

[2019-06-07 08:30] alvaroaleman opened #12936 "Allow configuring secrecy on Jobs themselves"
**What would you like to be added**:

Currently if a job is secret is determined based on the Refs it has and if it has any ref on a repository that is marked as secret. This doesn't always work well, because some jobs, especially periodics, may not have any ref at all but could still be secret.

Hence it would be nice if Jobs themselve would have a `isSecret` field or something which if set to tr

[2019-06-07 08:50] #8241 closed

[2019-06-07 10:52] #9256 closed

[2019-06-07 11:22] oxddr opened #12940 "gce-scale-performance uses too much disk space"
**What happened**:
After switching to a dedicated build cluster, test gce-scale-performance started to fail due do excessive disk usage (please see https://github.com/kubernetes/test-infra/issues/11594#issuecomment-499605601).

**What you expected to happen**:
We need to find root cause of excessing disk usage and fix it.

**How to reproduce it (as minimally and precisely as possible)**:
Since we

[2019-06-07 11:22] oxddr commented on #11594
This is clearly a separate issue. I've opened https://github.com/kubernetes/test-infra/issues/12940, so this can be tracked there.

[2019-06-07 11:34] oxddr commented on #12867
/priority important-soon

[2019-06-07 12:06] alvaroaleman opened #12941 "Plugin that blocks merge when PR contains binary files"
**What would you like to be added**:

A plugin that detects when a PR contains binary files and adds a label and a message if thats the case to bock the merge of the PR.

**Why is this needed**:
To avoid accidentally checking in binary which pollutes the git history

/assign

[2019-06-07 16:04] midnightconman opened #12944 "Git Client Endpoint Override Flag"
**What would you like to be added**:
I would like to be able to override the default git endpoint with a flag or config parameter. The current default value is hard coded via constant.

**Why is this needed**:
Without this we are only able to use prow with github.com repositories, we are unable to use prow with GitHub Enterprise repositories.

[2019-06-07 17:17] stevekuznetsov opened #12946 "prow.k8s.io metrics endpoint broken"
Currently it is serving:

[code]

/cc @cjwagner @Katharine @fejta
/assign
/area metrics

[2019-06-07 17:20] stevekuznetsov commented on #12946
Logs from the pushgateway seem fine:

[code]

[2019-06-07 17:23] stevekuznetsov commented on #12946
Seems like the client may be pushing the histogram without quantiles?

https://github.com/prometheus/pushgateway/blob/f793b4630e2b30abad798738a866cf594627211c/vendor/github.com/prometheus/common/expfmt/text_create.go#L189-L193

[2019-06-07 17:35] stevekuznetsov commented on #12946
Not super sure how to check the actual metrics that got persisted to the pushgateway, but our `deck` instance (at version ) is pushing this:

<details>
<summary>metrics.txt</summary>

[code]

</details>

[2019-06-07 17:56] cjwagner commented on #12946
The `method` label looks wrong in the example you posted.

[2019-06-07 17:58] stevekuznetsov commented on #12946
The `label:<name:"method" value:"DKEMDIF&0"` from the error on your pushgateway? Yeah, it definitely does. Not really sure how that happened.

[2019-06-07 18:03] stevekuznetsov commented on #12946
After restarting the `pushgateway` I was able to get these metrics querying it very quickly:

[code]

However, after another moment `GET /metrics` returns to failing:

[code]

[2019-06-07 18:23] stevekuznetsov commented on #12941
/cc @cblecker @nikhita

[2019-06-07 19:29] stevekuznetsov commented on #12946
Restarting the services which pushed the bad metric has fixed the issue

/close

[2019-06-07 20:11] stevekuznetsov opened #12950 "branchprotector: invalid requests, totally broken"
[code]

/cc @cjwagner @fejta
/area prow/branchprotector

[2019-06-07 20:12] stevekuznetsov commented on #12950
I think this is the `omitempty` change?

[2019-06-07 20:16] cblecker commented on #12941
I can see this being good, but also there are plenty of "binary" things you make want to commit (images), so it would need to be overridable.

Also may just be easier to do this through gitignore *shrug*

[2019-06-07 20:23] alvaroaleman commented on #12941
Makes sense.

It is possible to configure gitignore to ignore binaries? Or what do you mean?

[2019-06-07 20:29] #12950 closed

[2019-06-07 20:50] chases2 commented on #12944
I know that some of the components will accept --github-endpoint=<your_enterprise_endpoint> as a flag already; it's inherited from prow's GitHub API library.

Can you clarify which commands don't seem to honor that flag?

[2019-06-07 21:01] stevekuznetsov opened #12952 "branchprotector: team restrictions broken"
[code]

/cc @cjwagner @fejta
/area prow/branchprotector

[2019-06-07 21:04] cblecker commented on #12941
Well if you know the names of the binaries that get generated you can just add those file paths to gitignore to ensure that you don't accidentally add them to the tree.

[2019-06-07 21:50] cjwagner commented on #12946
/reopen
The issue is back https://prow.k8s.io/metrics
[code]

Slack thread here: https://kubernetes.slack.com/archives/C7J9RP96G/p1559926831027600

[2019-06-07 22:27] cblecker opened #12954 "exempt branches with a regex from branch protection"
**What would you like to be added**:
Allow for the exemption of certain branches from branch protection, based on matching a regex.

**Why is this needed**:
This would allow for easy deletion of branch accidentally created via GitHub's edit UI, as well as branches created by bots (such as GitHub's dependabot)

[2019-06-07 22:35] cjwagner commented on #12952
https://github.com/kubernetes/test-infra/commit/1dc44041455d21f3922291b4576ad5c254bc2387#r33857815

[2019-06-07 22:51] #12952 closed

[2019-06-07 23:25] #12946 closed

[2019-06-07 23:33] chases2 commented on #11530
#12691 merged; closing issue

[2019-06-07 23:34] chases2 commented on #11530
#12691 merged; closing issue
/assign

[2019-06-07 23:36] chases2 commented on #11530
/close

[2019-06-07 23:36] #11530 closed

[2019-06-07 23:37] chases2 commented on #10701
/assign

[2019-06-07 23:37] chases2 commented on #12760
/assign

[2019-06-08 01:21] midnightconman commented on #12944
Here is the line for the constant in `prow/git/git.go`: https://github.com/kubernetes/test-infra/blob/master/prow/git/git.go#L36

[code]

This and some other items in the `git` client would need to be changed to allow prow to clone repos using the prow git client.

Some apps/plugins that use this client specifically are:
- mergecommitblocker
- verify-owners
- size
- tide
- cherrypicker
- buildifie

[2019-06-08 01:22] midnightconman commented on #12944
Ohh, just to call it out... this is for the `prow/git` client, not the `prow/github` client. :smile:

[2019-06-08 01:23] stevekuznetsov commented on #12944
Potentially required as a first step: #11248

[2019-06-08 16:19] stevekuznetsov commented on #12936
By what mechanism do you suggest doing this? Just a label on the job?

[2019-06-08 16:20] stevekuznetsov commented on #12936
/area prow/deck
/cc @cjwagner @Katharine

[2019-06-08 20:54] alvaroaleman commented on #12936
Intuitively I was assuming a new boolean property on the job, but I guess a label would work as well

[2019-06-09 11:39] nikhita commented on #12489
PR is here: https://github.com/kubernetes/test-infra/pull/12945

[2019-06-10 07:38] nikhita commented on #12954
If `enforce_admins: true` is not used, I think this can be done today as well i.e. we won't need to disable branch protection to delete a branch.

For example, I see the option to delete all branches here - https://github.com/kubernetes/publishing-bot/settings/branches

[2019-06-10 11:09] oxddr commented on #12940
/cc @mborsz

[2019-06-10 14:43] stevekuznetsov commented on #11703
/close

[2019-06-10 14:43] #11703 closed

[2019-06-10 17:11] rdrgmnzs commented on #10409
Sorry to pester but do we have any new info on what the status of this is?

[2019-06-10 17:24] michelle192837 commented on #10409
Np! At the moment, quietly chugging along; I'll probably have a better
update around late June/early July. I and others are doing some way-paving
at the moment (internal and external), but still no real specifics at the
moment.

On Mon, Jun 10, 2019, 10:11 AM Rodrigo Menezes <notifications@github.com>
wrote:

[2019-06-10 18:42] amwat commented on #11730
/close
most of the test-infra tasks have been automated (https://github.com/kubernetes/sig-release/issues/631) . Thanks @Katharine!

[2019-06-10 18:42] #11730 closed

[2019-06-10 20:57] chases2 commented on #12760
Fix has been merged; closing
/close

[2019-06-10 20:57] #12760 closed

[2019-06-10 22:04] stevekuznetsov commented on #12854
Thought: a `bazel` target to do the port-forwarding/proxy for alertmanager and prometheus to make them simpler

[2019-06-10 22:05] stevekuznetsov commented on #12854
As well: link in the `bazel` targets to apply all the monitoring objects with the normal Prow release target for postsubmit

[2019-06-10 23:26] liggitt commented on #11611
I constantly have to reverse-engineer what milestone a historical PR merged into... I think I'd like having the current milestone auto-added on merge

[2019-06-11 00:02] spiffxp commented on #12848
/close
This has been addressed by #12894

[2019-06-11 00:02] #12848 closed

[2019-06-11 00:14] spiffxp commented on #11611
/milestone v1.16

[2019-06-11 02:03] nikhita commented on #11611
/sig contributor-experience
/sig release

[2019-06-11 05:36] nikhita commented on #11611
Take two as a prow plugin: https://github.com/kubernetes/test-infra/pull/12968

/remove-help

[2019-06-11 11:46] nikhita commented on #12489
/remove-help

[2019-06-11 18:05] cblecker commented on #12954
@nikhita Those delete buttons are just to delete the branch protection rules themselves. The actual branch list is here: https://github.com/kubernetes/publishing-bot/branches. All the branches have the little lock symbol, and the trash can is greyed out.

[2019-06-11 20:18] amwat opened #12976 "Deprecated experimental_remote_spawn_cache"
Greenhouse uses deprecated (in bazel 0.24.0 https://github.com/bazelbuild/bazel/pull/7813 ) `--experimental_remote_spawn_cache`

https://github.com/kubernetes/test-infra/blob/master/images/bootstrap/create_bazel_cache_rcs.sh#L79

/cc @BenTheElder

[2019-06-11 20:31] BenTheElder commented on #12976
we can just remove the flag

[2019-06-11 22:05] cjwagner opened #12981 "Some jobs are using an incompatible bazel version (<0.26.0)."
Affected jobs:
- https://prow.k8s.io/?job=ci-test-infra-autobump-prow
- https://prow.k8s.io/?job=maintenance-ci-testgrid-config-upload

Example error:
[code]

Likely caused by this PR: https://github.com/kubernetes/test-infra/pull/12855

[2019-06-11 22:07] cjwagner commented on #12981
/assign @cjwagner @fejta
/cc @Katharine @stevekuznetsov
Updating/adding image variants for bazel 0.26.0: https://github.com/kubernetes/test-infra/pull/12855

[2019-06-11 22:34] cjwagner commented on #12981
I retriggered the autobump job.
If it runs successfully we will have fixed one of the broken jobs and when we merge the PR it creates that should fix the testgrid config upload job too.

[2019-06-11 23:00] #12981 closed

[2019-06-12 00:40] cjwagner opened #12989 "Support insecure 🍪s for testing Deck's GitHub oauth without SSL."
### What would you like to be added:
A new boolean `deck` flag called `--insecure-cookies` that disables secure cookies so that Deck's GitHub oauth functionality will work without SSL.

### Why is this needed:
I don't think this would be a safe option to enable for production instances, but it would be useful for testing without SSL.

[2019-06-12 00:41] cjwagner commented on #12989
cc @mirandachrist @Katharine @stevekuznetsov
/good-first-issue

[2019-06-12 00:42] cjwagner commented on #12989
/area prow/deck

[2019-06-12 00:46] amwat opened #12990 "Gopherage html broken"
**What happened**:
`Couldn't read JavaScript: open gopherage/cmd/html/static/browser_bundle.es6.js: no such file or directory`
**What you expected to happen**:
generate code coverage html  output
**How to reproduce it (as minimally and precisely as possible)**:
`bazel run //gopherage -- html foo`
**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/cc @fe

[2019-06-12 03:53] nikhita commented on #12954
Ah, right! :woman_facepalming:

[2019-06-12 17:48] hongkailiu opened #13000 "[feature request] bazel rule: `k8s_secret`"
**What would you like to be added**:
bazel rule: `k8s_secret` like for configMap:

https://github.com/kubernetes/test-infra/blob/3b7178f54964d45426ef34d97ab725e5cd1d0ca3/def/configmap.bzl#L75

**Why is this needed**:
to achieve:
[code]

slack conversation: [here](https://kubernetes.slack.com/archives/CDECRSC5U/p1560274627064100)

[2019-06-12 18:18] Katharine commented on #12903
This was caused by the secret being called `k8s-artifacts-prod-service-account-creds`, but the job expecting it to be `k8s-artifacts-prod-service-account`. I've renamed the secret, and it works now.

[2019-06-12 18:18] #12903 closed

[2019-06-12 18:47] BenTheElder commented on #12976
should be fixed by https://github.com/kubernetes/test-infra/pull/12977

[2019-06-12 18:47] #12976 closed

[2019-06-12 18:50] BenTheElder opened #13001 "label_sync not fully syncing"
**What happened**: @timothysc reported that https://github.com/kubernetes-sigs/cluster-api has ~1/2 of the labels not synced

**What you expected to happen**: the labels should be synced

**How to reproduce it (as minimally and precisely as possible)**: ...

**Please provide links to example occurrences, if any**: :man_shrugging:

**Anything else we need to know?**: The job is here https://prow.k8

[2019-06-12 18:50] stevekuznetsov opened #13002 "prow: doc: explicitly define terms for groups of people, stick to using strict terms"
**What should be cleaned up or changed**:

When we talk about "who can use" a command, we must choose a set of technical names for user groups and define them explicitly, perhaps with some means by which a user can check if they fall into the group. We need to be clear and direct in our use of these terms in comments to GitHub as well as on the commands/plugins overview pages from Deck.

Strawman

[2019-06-12 18:51] BenTheElder commented on #13001
per https://github.com/kubernetes/test-infra/blob/3b7178f54964d45426ef34d97ab725e5cd1d0ca3/label_sync/OWNERS#L5-L8

/assign @cblecker @spiffxp @fejta

[2019-06-12 18:52] timothysc commented on #13001
cc @timothysc

[2019-06-12 19:18] amwat commented on #12990
/close
Fixed by https://github.com/kubernetes/test-infra/pull/12991

[2019-06-12 19:18] #12990 closed

[2019-06-12 19:36] dims commented on #12903
Thanks @Katharine !!! 😍

[2019-06-12 22:47] spiffxp commented on #13001
@timothysc what's an example of a label you're expecting to see synced that isn't?

[2019-06-12 22:49] McShauno commented on #10146
Ok, fine ... I'll write it.  Give me a couple of weeks.

 ¯\_(ツ)_/¯

[2019-06-12 22:53] BenTheElder commented on #10146
@townsendb Hi, Sorry I missed this comment in all my github notifications somehow... I don't really work on prow currently ([kind](https://github.com/kubernetes-sigs/kind) mainly) though I'd love to see this happen. I'm not sure where this is at.

@cjwagner & @stevekuznetsov are good current points of contact for prow.

[2019-06-12 22:54] BenTheElder commented on #10146
I think there was a more specific proposal related to this for the proposed "scalleywag" component but I'm not sure where that's at.

[2019-06-12 23:59] cblecker commented on #13001
Yeah, I'm not sure I see any that aren't synced

Label list: https://github.com/kubernetes-sigs/cluster-api/labels

[2019-06-13 08:19] matthyx commented on #10541
/close

[2019-06-13 08:19] #10541 closed

[2019-06-13 10:13] #10734 closed

[2019-06-13 13:43] StevenACoffman commented on #11782
/remove-lifecycle stale

[2019-06-13 15:49] stevekuznetsov opened #13013 "post-test-infra-push-prow: wrong bazel version"
**What happened**:

Bazel version was not upgraded in `post-test-infra-push-prow`.

**Please provide links to example occurrences, if any**:

https://prow.k8s.io/job-history/kubernetes-jenkins/logs/post-test-infra-push-prow

[2019-06-13 15:50] stevekuznetsov commented on #13013
/cc @fejta @cjwagner

[2019-06-13 16:16] stevekuznetsov commented on #13013
I can't fix this one myself :(

[code]

[2019-06-13 16:30] timothysc commented on #13001
folks manually added some of the labels, but if you look at the color coding it's all messed up.

[2019-06-13 16:31] Katharine commented on #13013
Fixed by #13015 - it was using the wrong image.

[2019-06-13 16:31] #13013 closed

[2019-06-13 16:37] stevekuznetsov commented on #13001
Which labels? Looking at the repo now no labels seem wrong. The job linked by Ben actually took no action to sync since everything seemed up-to-date as it was.

[2019-06-13 16:38] timothysc commented on #13001
all the area/* labels are green on capi, b/c someone manually added them.

[2019-06-13 16:42] spiffxp commented on #13001
I see, the request is for everything to be the same shade of blue.  The labels are specified to be a different color in labels.yaml, so the tool is WAI.  I opened https://github.com/kubernetes/test-infra/pull/13017 to fix the colors.

We don't really have anything in place to enforce label style conventions (or DRY up the config to reduce opportunities for entropy)

[2019-06-13 16:44] timothysc commented on #13001
Well the syncing wasn't working, so folks created labels, now the labels are all "special"

[2019-06-13 16:48] spiffxp commented on #13001
The labels are present in labels.yaml right now https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md#labels-that-apply-to-kubernetes-sigscluster-api-for-both-issues-and-prs

When the were added to labels.yaml (https://github.com/kubernetes/test-infra/pull/12949) they were added with custom colors.  The next run after merge mentions syncing those labels (https://storage.googlea

[2019-06-13 17:05] spiffxp opened #13018 "Enforce GitHub label style conventions"
**What should be cleaned up or changed**:

There are some labels that (mostly?) follow common color conventions across all repos/orgs, eg:
- all area/foo labels are the same color
- all sig/foo, wg/foo labels are the same color
- etc.

We don't define or enforce these conventions other than through copy-paste in our [labels.yaml](https://github.com/kubernetes/test-infra/blob/master/label_sync/labe

[2019-06-13 17:05] spiffxp commented on #13001
Opened https://github.com/kubernetes/test-infra/issues/13018 for style enforcement

[2019-06-13 17:06] #13001 closed

[2019-06-13 21:16] Katharine commented on #10274
We still haven't actually dropped the backwards compatibility.

[2019-06-13 23:15] chaodaiG opened #13029 "kubetest work without needing to build or download kubernetes"
**What would you like to be added**:

Make kubetest work when `--extract` and `--build` are not provided. Currently it would fail at this line:
https://github.com/kubernetes/test-infra/blob/befcf27357a9c85cbe97a93fdcd1bdf29da89028/kubetest/main.go#L211

**Why is this needed**:

In Prow instance set up in orgs other than kubernetes, kubernetes builds might not be necessarily needed, so it would be

[2019-06-13 23:45] #12876 closed

[2019-06-14 00:43] neolit123 opened #13032 "skip gce* tests when only k/cmd/kubeadm is touched"
so i had the idea for a while, to make the following jobs skip if a PR is only touching `cmd/kubeadm` in `kubernetes/kubernetes`.

[code]

my rationale is that these jobs run kube-up tests  on kubeadm deployer changes, which doesn't make sense. i think ideally we should skip them if the PR is **only** touching `cmd/kubeadm` and run `kind` presubmit instead.

this can be in place until kubeadm move

[2019-06-14 03:17] BenTheElder commented on #13032
It's possible to accomplish this with a clever run_if_changed regex without lookahead :-)

I will say it has generally been a footgun to run tests based on file path regexes because they're generally not precise enough but this sounds simple enough.

[2019-06-14 03:18] neolit123 commented on #13032
i know, but from what i tested it ain't going to be pretty. :)

[2019-06-14 03:20] BenTheElder commented on #13032
from last time this came up:
https://play.golang.org/p/cmPlf-Ro_y9
[code]

it's really not so bad, you just need a sliding window from the start over banning a single of the characters in it's position from the blacklisted prefix, and then the entire prefix.

[2019-06-14 03:30] #10621 closed

[2019-06-14 03:37] neolit123 commented on #13032
heh, starts to resemble [this](https://en.wikipedia.org/wiki/Brainfuck#Hello_World!)

[2019-06-14 07:33] rverma-nikiai commented on #2041
/reopen

[2019-06-14 07:55] rverma-nikiai commented on #2041
@fejta can we reopen this, currently, we don't have any community prow chart. There is one actively maintained by Cloudbees https://github.com/jenkins-x-charts/prow, along with their custom images as well as that had some dependency on their project exposecontroller.

[2019-06-14 15:24] stevekuznetsov opened #13036 "spyglass: junit: UX for viewing output sometimes poor"
On [this job page](https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/23171/pull-ci-openshift-origin-master-unit/7794), there is a failed jUnit test:

![Screenshot from 2019-06-14 08-21-47](https://user-images.githubusercontent.com/7328370/59519862-a9a91f00-8e7d-11e9-82ef-2530b1e799d2.png)

However, that shows very little information and shows a link to see more. Clicking that,

[2019-06-14 15:59] stevekuznetsov commented on #11165
This happened due to the "symlink" file in GCS being newline-terminated and we have since fixed this in #12821  #12798

[2019-06-14 15:59] stevekuznetsov commented on #11165
/close

[2019-06-14 15:59] #11165 closed

[2019-06-14 17:09] polothy commented on #10146
Just for those not aware, scallywag is here https://github.com/kubernetes/test-infra/pull/12241 and part of it was merged here https://github.com/kubernetes/test-infra/pull/12700

[2019-06-14 17:12] stevekuznetsov opened #13039 "prow.k8s.io: build cluster failing to start jobs"
Example job [link](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/13038/pull-test-infra-bazel/1139570293107331073).

Failing to start the pod with:

[code]

---
Debug info
---

<details>
<summary><code>kubectl get prowjob</code></summary>

[code]

</details>

<details>
<summary><code>kubectl get pod</code></summary>

[code]

</details>

<details>
<summary><code>kubectl des

[2019-06-14 17:19] stevekuznetsov commented on #13039
There might be something messy with the CNI? Seeing a couple unique types of errors:

- `failed to allocate for range 0: no IP addresses available in range set: 10.60.28.1-10.60.28.254                                                     `
 - `netplugin failed but error parsing its diagnostic message "": unexpected end of JSON input                                                         `
 - `fork

[2019-06-14 17:50] BenTheElder commented on #13039
That sounds an awful lot like we're hitting I/O issues again, should check the I/O vs the new quotas.

[2019-06-14 18:26] stevekuznetsov opened #13042 "deck: spyglass: job history page should render when no jobs exist"
A job history page like https://prow.svc.ci.openshift.org/job-history/origin-ci-test/logs/branch-ci-openshift-crd-schema-gen-master-images errors out when no builds have yet been created. I see a blank HTML 1.0 page with the error:

[code]

The logs show:

[code]

We should at the very least render the page as usual and have a message that says there are no builds to show. I am also not clear why

[2019-06-14 18:47] michelle192837 commented on #13039
Does look like disk is being slammed with read/write IOPS and throughput at some points, though only for certain nodes and very spikily. Graphs for gke-prow-containerd-pool-bigger-170c3937-0s3l:

![Disk IO](https://user-images.githubusercontent.com/652853/59531175-1f22e880-8e9a-11e9-9a0f-0a6ad093f463.png)

[2019-06-14 18:54] michelle192837 commented on #13039
(Thanks @cjwagner, @Katharine for debugging and info)

If there are more occurrences, link them here (and encourage others to); will continue looking in

[2019-06-14 18:59] cjwagner commented on #13039
Do we have any way to mitigate this besides increasing the boot disk capacity even further? Perhaps some way to throttle bazel's disk I/O? (I assume bazel is to blame.)

How frequently are we seeing this kind of failure? It is unclear to me how significant of a problem this is right now.

[2019-06-14 19:08] michelle192837 commented on #13039
https://cloud.google.com/compute/docs/disks/performance#size_price_performance has a table explaining the scaling performance of I/O based on disk size. We have 500GB disks and should have limits of:

[code]

Spikes are, for instance:
- Read throughput (MB): 99.49
- Write throughput (MB): 12.56
- Read ops: 885
- Write ops: 752

[2019-06-14 21:14] michelle192837 commented on #13039
This doesn't seem to be high impact at the moment, and we're unsure on how to address or fix it, so for the moment will keep an eye out for more reports of this happening. (I think we can drop the urgent label)

It shouldn't be a problem to bump Prow either, so going to bump and monitor Prow.

[2019-06-14 21:32] hongkailiu commented on #12854
Also need to find a convenient way to test queries:
* ingress for prometheus
* edit access (to a restricted set of people) to grafana (This might be preferable given the circumstance ^_^)

[2019-06-14 22:26] vorburger opened #13044 "Planter NOK with Podman instead of Docker on Fedora"
**What happened**:
Build Failures when running e.g. `../test-infra/planter/planter.sh bazel build //cmd/kubectl` [as suggested here](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/bazel.md#planter) on a Fedora 30 with `podman` instead of `docker`.

**What you expected to happen**:
 I guess i expected build/run.sh as advertised in the README? smile

**How to repr

[2019-06-14 22:40] vorburger commented on #13044
seems to be related to https://github.com/containers/skopeo/issues/567, and #13045 fixes that for me.

probably related to https://github.com/containers/libpod/issues/3340

[2019-06-15 01:44] cjwagner commented on #13039
/remove-priority critical-urgent
/priority important-soon

[2019-06-15 01:52] #8567 closed

[2019-06-16 23:39] #3151 closed

[2019-06-17 01:42] #9478 closed

[2019-06-17 15:18] stevekuznetsov opened #13049 "deck: /config serves as JSON but is YAML"
[code]

/cc @Katharine

[2019-06-17 15:18] stevekuznetsov commented on #13049
/area prow/deck

[2019-06-17 16:16] #12729 closed

[2019-06-17 17:21] stevekuznetsov commented on #9824
/remove-lifecycle rotten

[2019-06-17 17:51] michelle192837 opened #13051 "Auto-post in Slack when Prow bump PR merges"
Currently, some just manually posts a :bump: message in Slack whenever a Prow bump PR is going to merge (or has merged), like: ":bump: https://github.com/kubernetes/test-infra/pull/13048"

We should instead automatically post this in #testing-ops when the PR merges, to more accurately reflect when Prow gets bumped.

[2019-06-17 17:51] michelle192837 commented on #13051
/area prow

[2019-06-17 20:01] #5446 closed

[2019-06-17 20:17] #12935 closed

[2019-06-17 20:21] BenTheElder commented on #13044
?
---

Note that this is definitely not tested with podman and is mostly in maintenance mode, I no longer use this and ixdy no longer works on Kubernetes actively. We haven't seen terribly many active users of this tool.
I would seriously consider https://github.com/bazelbuild/bazelisk moving forward if you're using linux. :sweat:

[2019-06-17 22:28] spiffxp opened #13057 "Use testgrid annotations instead of updating config.yaml"
**What should be cleaned up or changed**:
The testgrid configurator can now read prowjob annotations to create test groups (ref: https://github.com/kubernetes/test-infra/pull/12576), which was used to simplify the creation of configs for release jobs and dashboards (https://github.com/kubernetes/test-infra/pull/12608)

We should ensure this is documented.  Then we should encourage more people to u

[2019-06-17 22:34] spiffxp commented on #12508
And now, for Reasons™, it appears as though it's trended back down to ~25m
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-test-infra-triage/1140739152367587328/build-log.txt
[code]

It's certainly correlated to the amount of failures that are being clustered.  It would be nice to know where the additional volume was coming from and where it's gone.  I currently have low confidence that

[2019-06-17 22:46] #10274 closed

[2019-06-17 22:53] stevekuznetsov opened #13059 "prow: hook: poor ux with invalid /test and /retest commands"
As a developer interacting with Prow,
I want to get feedback when I've issued a command that could not be parsed
So that I can fix my command and get the service to do what I intended

Examples of comment commands that should generate an error message in a comment response:

 - `/test` with no target
 - `/retest` with trailing words
 - `/test` with a target that is not recognized

/area prow/hook

[2019-06-17 22:56] cblecker commented on #13059
Is this something the generic command framework would do? Is it worth waiting, or is this simple to do in trigger as it is?

[2019-06-17 23:02] mirandachrist opened #13061 "deck: null TideQueries causes null pointer exception"
**What happened**: If running prow in a test instance, there is sometimes a null pointer exception in [pr.ts](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/static/pr/pr.ts), if TideQueries is null. This happens because of a weirdness between Go and Typescript.

**What you expected to happen**: Fix this specific occurrence. Also find other places where this issue occurs, if the

[2019-06-17 23:39] spiffxp opened #13063 "The test-infra architecture diagram is out of date"
/kind documentation
/kind bug

I visited https://github.com/spiffxp/test-infra/blob/write-some-docs/docs/architecture.svg and saw an architecture that is wildly out of date, eg:
- has mungegithub
- has tot
- missing boskos
- missing spyglass

I count this as a bug since this diagram is one of the first links in our repo, and it's definitely misleading.

[2019-06-18 00:05] #10001 closed

[2019-06-18 00:17] stevekuznetsov commented on #13059
I think it would be better implemented with per-plugin logic anyway, I want to see something like:

Or

etc.

The framework would have to expose hooks for intelligent responses, so the amount of work taken should be similar in both cases. Changing `trigger` to do this today should not be too hard.

[2019-06-18 00:18] stevekuznetsov commented on #13063
:yikes:

[2019-06-18 00:41] jimangel opened #13065 "Help Requested: git guru for sig-docs v1.15 release."
Hey all 👋

We're having some issues merging master into our dev branch. @zacharysarah, @zparnold, and I can't figure out why @makoscafee's PR to resolve conflicts (https://github.com/kubernetes/website/pull/14950) doesn't actually resolve conflicts (https://github.com/kubernetes/website/pull/14176).

I outlined what I thought was the process: https://gist.github.com/jimangel/288a1a442ba52566ff825b

[2019-06-18 01:21] gochist commented on #13065
Is there someone who has a clone of makoscafee:resolve-conflicts-dev1.15 or dev-1.15 before squashed?

[2019-06-18 01:22] stevekuznetsov commented on #13065
GitHub seems to think that [this commit](https://github.com/kubernetes/website/commit/d38df79767f698487935444a24c3f2499fe493a7) merged that PR to resolve conflicts, but when I clone the repo I can't see it:

[code]

[2019-06-18 01:22] stevekuznetsov commented on #13065
Has the branch `dev-1.15` been force-pushed since then?

[2019-06-18 01:24] stevekuznetsov commented on #13065
It is possible that one of these force-pushes overwrote that history:

![Screenshot from 2019-06-17 18-23-43](https://user-images.githubusercontent.com/7328370/59646737-14cc4d00-912d-11e9-9eea-5e9faf101407.png)

[2019-06-18 01:25] stevekuznetsov commented on #13065
While the GitHub UI allows us to look at the commit that got orphaned from the graph, it does not allow it to be fetched:

[code]

If someone has a local copy of the work (the PR author?) we could resolve this.

[2019-06-18 01:28] stevekuznetsov commented on #13065
I was also able to pull down the commit object from the GitHub API, so we could apply that manually, too:

<details>
<summary><code>commit.json</code></summary>

[code]

</details>

[2019-06-18 01:40] stevekuznetsov commented on #13065
The diff is smaller than the patch -- you should be able to `git apply` this

[commit.diff.gz](https://github.com/kubernetes/test-infra/files/3299450/commit.diff.gz)

[2019-06-18 01:41] jimangel commented on #13065
@stevekuznetsov thanks for looking into this!

I think you're spot on about the force push (/cc @zacharysarah).

Do we need @makoscafee's local copy to resolve this?

How could we have avoided getting into this situation in the first place?

[2019-06-18 02:23] stevekuznetsov commented on #13065
I don't think you need the local copy, no. You just need a version of the repository with `9cf4dcaa62bfb529a30227e52b9479a0f7ec1b00` still around. That's the version of the `dev-1.15` branch that existed before @makoscafee  landed his PR. What I suggest is:

[code]

That will reset the `dev-1.15` branch to the version it was in when that pull request from @makoscafee landed.

If you require that d

[2019-06-18 02:24] stevekuznetsov commented on #13065
In general when using Prow, if jobs are turned on for the branch and branch protection is used, branches that have presubmit jobs will not allow for direct pushes without passing tests and will not allow history overwrites, period.

[2019-06-18 02:24] stevekuznetsov commented on #13065
Oops, didn't mean to close this!

[2019-06-18 04:40] #12662 closed

[2019-06-18 05:49] Katharine commented on #13036
The dropdown you get is from the JUnit `<failure>` element; the link gives you the output from the JUnit `<system-out>` element. Ideally, your `<failure>` would contain a concise summary of the error. We don't show all of `<system-out>` directly because it is frequently very long and mostly irrelevant.

As for what causes your files to be generated that way, I cannot say.

[2019-06-18 05:57] makoscafee commented on #13065
The funny thing is if I merge that branch to my own fork branch `dev-1.15` which is the exact copy of upstream `dev1.15` conflicts are resolved. 🤷‍♂

[2019-06-18 06:30] Katharine commented on #9978
/remove-lifecycle rotten

[2019-06-18 13:19] hongkailiu commented on #12854
monitoring.prow.k8s.io is not `https` yet.

[2019-06-18 14:12] jimangel commented on #13065
Would this be done based off of k/website clone or a local fork?

Also, if this gets us back to square one, I don't understand how this will allow us to resolve conflicts. Before the force push that Zach did, we saw similar behavior (Barnie's PR from a local fork merged in does not resolve conflicts).

Does the conflict resolution have to be done out of k/website? Or, another way to ask, can a for

[2019-06-18 14:24] stevekuznetsov commented on #13065
`k/website` as it is right now does not contain pullable refs for the commits that got overwritten so you'd need a local fork with that work still around.

I'd have to see the commits in question to comment. In theory you should be able to propose a commit that does not cause merge conflicts but the devil is in the details.

[2019-06-18 15:07] stevekuznetsov commented on #13036
@Katharine thanks! As you note, our XML looks like:

[code]

[2019-06-18 18:14] stevekuznetsov opened #13073 "prow: cherrypicker: either allow chery-pick or reply with a comment that we don't"
x-ref #13059

When someone uses `/cherry-pick` we should either:

1. allow it
2. respond saying we don't, and that they should use `/cherrypick`

I like the former option since it's `git cherry-pick`

/cc @cblecker @nikhita
/area prow

[2019-06-18 18:15] stevekuznetsov opened #13074 "prow: cherrypicker: expose when a cherry-pick PR already exists"
When a cherry-pick PR is created and the same PR is requested again, the bot complains that it can't push to the branch it created for the first PR. This is opaque and confusing. We should instead respond by linking to the existing PR.

/area prow
/cc @cblecker @nikhita

[2019-06-18 21:03] stevekuznetsov commented on #11854
/remove-lifecycle stale

@Katharine is this still happening? I haven't seen sig-scalability complaining lately (lol)

[2019-06-18 21:26] chases2 commented on #13057
I'm going to do some research into this and am looking to deliver two things:
1) 1+ PRs that move configuration out of config.yaml when it's not needed
2) A modification to Prow Job documentation that makes it clear what these annotations are, and why they are good

/assign

[2019-06-18 21:34] krzyzacy opened #13076 "Prow Sub: Allow execute prowjob defined from payload"
For trusted users, I want to allow us just craft a job config definition via pubsub payload, and run that job. Running existing periodics from existing config is pretty limited.

This will be guarded under a config flag.

cc @sebastienvas @fejta @cjwagner @stevekuznetsov in case you have concerns.
/assign

[2019-06-18 21:49] stevekuznetsov commented on #13076
Confused as to what the ask here is -- if we are trying to trigger new instances of a job to run, we should reuse the work that @mirandachrist is doing in `deck`.

If we want to run arbitrary ProwJobs, why not `mkpj`?

[2019-06-18 21:53] krzyzacy commented on #13076
^^ because I need to run it from somewhere that mkpj is not available :joy: And I also need wait for the result to come back

[2019-06-18 21:57] stevekuznetsov commented on #13076
So what are you actually suggesting? A new controller that subscribes to pub/sub and creates ProwJob as they come in? Could you use the `deck` API if it is built?

[2019-06-18 21:59] krzyzacy commented on #13076
I'm thinking of expanding https://github.com/kubernetes/test-infra/blob/master/prow/pubsub/subscriber/subscriber.go#L143 to take in a new event

[2019-06-18 21:59] Katharine commented on #13076
I am not excited about exposing the ability to create arbitrary jobs to the internet with any sort of security written by us in front of it, so I would oppose building a deck API that is capable of supporting the general version of this use-case.

[2019-06-18 22:17] stevekuznetsov commented on #13076
Aside from "create this arbitrary ProwJob YAML" -- supporting "re-run this job" or "run this job" via some authenticated endpoint is necessary for @mirandachrist work, are you opposed to that as well?

@krzyzacy I would rather not see this exposed via an API for `deck` as well as one over pub/sub

[2019-06-18 22:40] krzyzacy commented on #13076
Well... how about I step back, by just allowing pubsub to patch existing job configs via env vars

[2019-06-18 23:38] stevekuznetsov commented on #13076
What are you actually tying to achieve? Triggering new runs of periodics?

[2019-06-18 23:46] michelle192837 commented on #13039
Getting more of these, but without a spike in Disk IOPS or throughput. :/ (Thanks @cjwagner!)

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/13078/pull-test-infra-verify-file-perms/1141118142936780802

kubectl describe pod -n test-pods 90713123-921c-11e9-ac17-16331ef92eac:

[code]
This should have had impact since around 4 PM Pacific Time, but the graphs appear flat.

![i

[2019-06-18 23:54] cjwagner commented on #12854
SSL is working now, but is still optional. We need to force SSL redirection for HTTP requests to make it safe to use basic auth, but unfortunately this isn't possible to configure with ingress-gce: https://github.com/kubernetes/ingress-gce/issues/51

I think we'll need to add an nginx proxy solely for this purpose like we used to have to do for Prow before we added SSL redirection to `deck`. Grafa

[2019-06-19 00:17] krzyzacy commented on #13076
from @sebastienvas that's already supported, I'm gonna just try it out.

@stevekuznetsov basically I need to trigger a periodic with generated args from other systems that cannot be hard-coded into the config

[2019-06-19 00:30] michelle192837 commented on #13039
This appears to be the only affected node atm; couldn't find these errors happening for any other pods.

[2019-06-19 00:59] Katharine commented on #13076
Tangential to this issue, but no, the risk is lower without the freedom of creating arbitrary jobs (but I do want to review every PR related to it - there are [important details] (https://github.com/kubernetes/test-infra/pull/12827#issuecomment-502850414))

[2019-06-19 01:30] #9510 closed

[2019-06-19 01:56] gochist commented on #13065
I guess the conflict was not resolve because @makoscafee's PR(kubernetes/website#14950) was merged to the `dev-1.15` in the 'squash' merge mode which is the current [Tide](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/tide) configuration for k/website.

[2019-06-19 02:38] gochist commented on #13065
I found the location of [configuration](https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L442). Adding a label `tide/merge-method-merge` on the PR resolving conflicts will work.

[2019-06-19 03:34] stevekuznetsov commented on #13076
So two comments:

1. If we want to support jobs that have trigger-time  parameters, we need to do that in its entirety and intentionally, with a design that would help the ecosystem adopt the new approach.
2. Due to the complexity of the details for the first point, when OpenShift needed these types of jobs we implemented our own code that creates ProwJobs using the appropriate credentials in the

[2019-06-19 04:17] hongkailiu commented on #12854
Would `kubernetes.io/ingress.allow-http: "false"` help as described [51#issuecomment-335960782](https://github.com/kubernetes/ingress-gce/issues/51#issuecomment-335960782)?

[2019-06-19 14:46] hongkailiu commented on #12854
@cjwagner
I would like to give another try of selling the idea of [mixins](https://grafana.com/blog/2018/09/13/everything-you-need-to-know-about-monitoring-mixins/) (or [jsonnet](https://jsonnet.org/)) for monitoring stack.

* reusable grafana dashboards: kind of more important when `deploy/grafana` has more than one replica (for HA). [Provisioning of dashborads via json files](https://grafana.com

[2019-06-19 15:50] stevekuznetsov opened #13084 "prow: statusreconciler: dump last state to disk to allow for reconciliation across restarts"
The largest feature gap in the `statusreconciler` right now is that it is (by necessity) edge-driven. If we dump the last observed config state to disk (a la how `tide` dumps queries) we should be able to create an "edge" on startup and handle changes that may have happened that we did not observe.

/cc @fejta @cjwagner
/area prow/statusreconciler

[2019-06-19 15:54] stevekuznetsov commented on #13084
`tide` exposes this feature with this flag:

https://github.com/kubernetes/test-infra/blob/25afbb545366877469f8f633805d4934dce4e69b/prow/cmd/tide/main.go#L99

https://github.com/kubernetes/test-infra/blob/25afbb545366877469f8f633805d4934dce4e69b/prow/cmd/tide/main.go#L59-L64

A PR with prior art for this sort of file interaction is here: https://github.com/kubernetes/test-infra/commit/59027e3ca204

[2019-06-19 18:50] cjwagner commented on #12854
Unfortunately I think that would prevent cert-manager from completing the ACME challenge to refresh the SSL cert from letsencrypt. https://github.com/jetstack/cert-manager/issues/1366#issuecomment-463242495
Maybe if we don't use `certmanager.k8s.io/acme-http01-edit-in-place: "true"` cert-manager will still be able to compelete the ACME challenge using a temporary ingress, but I think that ingress

[2019-06-19 19:31] hongkailiu commented on #12854
@cjwagner Thanks. I will do a PR including the mixins and using jsonnet to generate json files.

This is how we organized mixins in our production:
https://github.com/openshift/release/tree/master/cluster/ci/monitoring/mixins

We keep both jsonnet and json files in the repo ... so if we want to review the json file directly, we can still do it.

We have also a presubmit job to generate the json fi

[2019-06-19 21:04] #13049 closed

[2019-06-20 02:44] hongkailiu commented on #12854
https://kubernetes.slack.com/archives/C7J9RP96G/p1560993568155100

One grafana pod as a workaournd for admin login.

[2019-06-20 08:14] Ark-kun commented on #12636
Adding another instance... https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1483/kubeflow-pipeline-sample-test/1140974150098096128

[2019-06-20 08:14] Ark-kun commented on #11631
Another instance... https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1483/kubeflow-pipeline-sample-test/1140974150098096128

[2019-06-20 16:20] stevekuznetsov commented on #11631
Sorry, we need to get the ProwJob and Pod YAML from when this happens, we cannot debug post-hoc :|

[2019-06-20 17:31] chaodaiG commented on #10100
We have been waiting for this feature to migrate to podutil https://github.com/knative/test-infra/issues/265, and now are at a point where we have to migrate. The timestamp would be very helpful to us, and for @krzyzacy 's concern about double timestamp, may be there can be a boolean somewhere to make this optional?
/remove-lifecycle stale

[2019-06-20 18:17] stevekuznetsov commented on #10100
The idea is solid, the implementation should not be too hard. Do you think you could try a pull request to add it?

[2019-06-20 20:01] nnordrum opened #13107 "Support for the "same" team across different orgs"
**What would you like to be added**:
In GitHub (at least GitHub Enterprise), `Teams` cannot be cross-org. I would like to support cross-org "Teams".

**Why is this needed**:
To "get around" the problem, we just replicate the same teams across different orgs. It would be nice to _reference_ a `Team`, with like `teamRef` or something, that is specified at the `Orgs` level so they can be reused.

[2019-06-20 21:48] BenTheElder commented on #13044
is this still an issue? also not sure what the `build/run.sh` reference is.

[2019-06-20 21:50] stevekuznetsov commented on #13107
Is this with `peribolos`?

[2019-06-20 21:52] BenTheElder commented on #13039
we definitely have spikes surpassing this that are sustained long enough to probably be considered sustained usage:
![image](https://user-images.githubusercontent.com/917931/59883762-feabd000-936a-11e9-862e-a28ab151f800.png)

/cc @Katharine

[2019-06-20 22:04] cblecker opened #13110 "prow/owners-label: owners-label should respect OwnersDirBlacklist"
**What happened**:
Similar to https://github.com/kubernetes/test-infra/pull/12460, `owners-label` should respect the OwnersDirBlacklist.

**What you expected to happen**:
Don't label a PR based on a vendor update.

**How to reproduce it (as minimally and precisely as possible)**:
vendor an owners file with a label statement

**Please provide links to example occurrences, if any**:
https://github.c

[2019-06-20 22:04] cblecker commented on #13110
/cc @cjwagner @stevekuznetsov @nikhita

[2019-06-20 22:16] cjwagner commented on #13110
If we make the `repoowners` package handle this when loading the OWNERS files then we won't have to update every consumer of OWNERS files.

[2019-06-20 22:42] mirandachrist commented on #13061
/close

[2019-06-20 22:42] #13061 closed

[2019-06-21 13:08] nnordrum commented on #13107
yeah

[2019-06-21 14:31] chaodaiG commented on #10100
Sounds good, I'll try to put up a pull request

[2019-06-21 14:53] stevekuznetsov commented on #13107
/cc @fejta @cblecker @nikhita

[2019-06-21 14:55] stevekuznetsov commented on #7741
@krzyzacy what was the status here? fully done?

[2019-06-21 14:55] stevekuznetsov commented on #7741
/remove-lifecycle rotten

[2019-06-21 17:08] spiffxp opened #13118 "pull-community-verify job uses bootstrap when it doesn't need to"
**What happened**:

I tried to point to pull-community-verify as a relatively straightforward job that calls `make verify`, and we realized it's still using a lot of bootstrap.py things that it probably doesn't need to

ref: https://github.com/kubernetes/test-infra/pull/13097#discussion_r296082529

**What you expected to happen**:

For pull-community-verify to be a good clean canonical job example

[2019-06-21 17:10] spiffxp commented on #13118
It's also using `gcloud-in-go` which means it's using go1.11, and maybe it doesn't need to use that since it has no `gcloud` usage

[2019-06-21 17:55] krzyzacy commented on #7741
all our other prows are on crier, except for prow.k8s.io

oh this is still assigned to me - let me make a PR

[2019-06-21 20:52] #12954 closed

[2019-06-21 23:44] spiffxp opened #13129 "Our images need READMEs"
/kind documentation

**What happened**:

I tried to figure out what the images are in `test/images` and why they exist.  None of them had READMEs to explain this.  I tried spelunking through `config/jobs` to reverse engineer what they are by how they are used.  But it appears there is a fair amount of cargo culting happening here, where it's not entirely clear that they are used on purpose for con

[2019-06-21 23:57] spiffxp commented on #13129
/priority important-longterm
/milestone v1.16

[2019-06-24 07:13] szepeviktor commented on #12946
Hello!

One of my clients webserver (running WordPress, no Kubernetes) received this HTTP request

[code]

`DKEMDIF&0` being the HTTP method. Could you help me understand it?

[2019-06-24 13:21] vorburger commented on #13044
OK, learning here.. I just blindly followed where First Contact README doc was taking me.

interesting, didn't know. If I understand correctly, that just saves you the initial `dnf copr enable vbatts/bazel; sudo dnf install bazel`, am I getting this right, or is there more to it than that?  (The problems I ran into here were when initially trying to build K8s (itself, from source) inside a contain

[2019-06-24 16:31] BenTheElder commented on #13044
More than that, it's a launcher for various versions. You'll need to switch if you go to an older Kubernetes release for example. One of the main motivations for planter was trivially being able to use different versions.

Sure, please keep it open until it is fixed. It looked like it might have been complete and there were no further comments :-)

[2019-06-24 21:23] cjwagner commented on #12946
We didn't ever figure out where that method value came from. It looks like nonsense though and we haven't seen it since so we've ignored it as a garbage request.

[2019-06-24 21:31] szepeviktor commented on #12946
Thank you for your answer.

I suspect an attack, `&0` reminds me a 0x00 byte.

[2019-06-24 22:09] fejta opened #13140 "build errors on bazel 0.27.0"
[code]

[2019-06-24 23:44] fejta opened #13146 "missing type info in gopherage"
ref https://github.com/kubernetes/test-infra/issues/13140

[code]

[2019-06-25 00:23] rp-happiestbaby commented on #12946
Im having same problem,
Im running nginx as ingress controller to rout traffic to my micro-services
Very randomly I receive request from k8s nodes
I have load balancer on top of my nginx, so i will have http_x_forwarded_for if they are coming from LB
But its empty as traffic is coming direct to POD from k8s nodes
Not sure what is it and how request_method can be empty

See log sample bellow

```{"

[2019-06-25 00:45] spiffxp commented on #13063
While this bug is still open, I recommend checking out the SIG Testing Intro presented a KubeCon NA 2018, find video and slides at https://github.com/kubernetes/community/tree/master/sig-testing#presentations.  The final diagram is a bit dense so I tried to walk through how we got to the rube goldberg thing we have going on now.

[2019-06-25 08:13] BenTheElder opened #13149 "green batch does not merge with tide"
**What happened**: https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=batch has the following batch: `#75223, #78922, #79309, #79316, #79317` with all green tests.
For some reason it doesn't appear any of these merged. https://prow.k8s.io/tide-history?repo=kubernetes%2Fkubernetes

![image](https://user-images.githubusercontent.com/917931/60081065-f5fa2780-96e5-11e9-81be-a730e074a7dc.png)

![im

[2019-06-25 08:14] BenTheElder commented on #13149
It would be helpful if the tide history page recorded why it transitioned away. Nearly all entries are a green "succeeded" check but most of them seem to be succeeding at triggering only...

I can't find any details on any of the pages to explain why this batch wasn't merged.

[2019-06-25 11:40] nikhita commented on #10391
Fixed in https://github.com/kubernetes/test-infra/pull/10554

/close

[2019-06-25 11:40] #10391 closed

[2019-06-25 11:47] nikhita commented on #13065
:wave: looks like this was solved already and can be closed? :)

[2019-06-25 11:48] nikhita commented on #13059
For anyone interested to take this up, the trigger plugin is here: https://github.com/kubernetes/test-infra/tree/master/prow/plugins/trigger

[2019-06-25 12:02] jimangel commented on #13065
Sorry @nikhita, I've been meaning to summarize our resolution and close. I'll close now and fill in a comment when time permits today.

[2019-06-25 12:02] #13065 closed

[2019-06-25 12:05] nikhita commented on #12740
Should this be closed as WAI?

[2019-06-25 12:07] nikhita commented on #13065
@jimangel No problem at all! Just came across this while looking through the list of open issues...

[2019-06-25 15:50] detiber commented on #11471
I believe this has already been resolved
/close

[2019-06-25 15:50] #11471 closed

[2019-06-25 16:04] #13118 closed

[2019-06-25 17:01] Katharine commented on #11957
/remove-lifecycle stale

it automatically pushes and bumps, but still does not automatically deploy.

[2019-06-25 17:45] stevekuznetsov opened #13154 "checkconfig: unknown fields check panics"
[code]

/area prow/checkconfig

[2019-06-25 17:47] stevekuznetsov commented on #13154
/assign @yb172
/cc @fejta @cjwagner

[2019-06-25 17:56] stevekuznetsov commented on #13154
Looks like this is a failure to consider that a `*[]string{}` is technically `[]interface{}`?

[2019-06-25 18:04] Katharine opened #13155 "The tide "not mergeable" status should use a colon, not a full stop"
Tide statuses read like "Not mergeable. Some explanation."

Aside from being poor grammar, it's also confusing - it suggests that it's not mergeable (e.g. due to a merge conflict) _and also_ "some explanation".

It should instead read "Not mergeable: some explanation." This makes it clear that the explanation is about why it's not mergeable. It also reads better.

[2019-06-25 18:19] michelle192837 commented on #12740
Think that's fine. ^^

/close

[2019-06-25 18:19] #12740 closed

[2019-06-25 18:43] #12765 closed

[2019-06-25 18:46] stevekuznetsov commented on #13155
Currently that's to support the case where there is no reason, to allow the full reason to be `"Not mergeable."` Agreed that's suboptimal

[2019-06-25 19:03] #13073 closed

[2019-06-25 19:34] Katharine commented on #13039
Update:

It looks like this is the most common error pairing:

1. `FailedCreateSandBox`: `Failed create pod sandbox: rpc error: code = Unknown desc = failed to create a sandbox for pod [...]": operation timeout: context deadline exceeded`
2. `FailedCreateSandBox`: `Failed create pod sandbox: rpc error: code = Unknown desc = failed to create a sandbox for pod "[...]": Error response from daemon: Co

[2019-06-25 21:00] cjwagner commented on #13149
Good catch Ben, this is definitely a weird scenario that isn't easy to understand from the `deck` pages. The batch succeeded, but the PRs didn't merge immediately after it finished and another batch was triggered while the first was still running.  Here is what happened:
1) The batch was triggered normally.
2) Next sync loop Tide triggeds a serial retest of 75223.
3) The serial retest of 75223 fai

[2019-06-25 21:04] BenTheElder commented on #13149
Thanks for the super detailed writeup.

Do we know why 2) happened?

Does 3) actually make sense from a logical standpoint?
If the PR passes as a batch then perhaps the batch includes fixes that make the tests pass that otherwise fail serially?

[2019-06-25 21:15] spiffxp commented on #9469
/reopen
Bumped into this again.  This isn't really intuitive or documented behavior.  [The comment adjacent to the GOPATH setting](https://github.com/kubernetes/test-infra/blob/895df89b7e4238125063157842c191dac6f7e58f/prow/pod-utils/decorate/podspec.go#L474) mentions maybe not doing this when we can assume go modules.

[2019-06-25 21:22] spiffxp commented on #9469
I'm not super clear why it's necessary for decoration to set GOPATH to `/home/prow/go` in the first place.  I notice there a lot of jobs that set it back to `/go` via:
[code]

[2019-06-25 21:25] krzyzacy commented on #9469
@spiffxp fwiw most jobs here use kubetest, which has https://github.com/kubernetes/test-infra/blob/master/images/kubekins-e2e/Dockerfile#L23-L28 already

[2019-06-25 21:31] BenTheElder commented on #9469
`/home/prow/go` makes sense as a default `$GOPATH` if we're going to set one because `go env GOPATH` without one set is going to be `$HOME/go` and our $USER is usually `prow`.

It plays well with various tooling that expects a `$HOME` if nothing else. Otherwise $HOME would have to be `/` which is _fun_.

`GOPATH` is mostly going away with go modules, but `go get`ing a binary outside of a module st

[2019-06-25 21:32] cjwagner commented on #13149
Yeah this is expected. Tide serially tests a PR whenever it is running a batch so that if the batch fails and the serial test succeeds it can still merge something. Additionally, the serial PR is chosen in the same way we choose batch members so that we almost always pick one from the batch (we should probably fix this to just pick directly from the batch) so that if the batch fails we can remove

[2019-06-25 21:34] BenTheElder commented on #9469
It is not obvious that we should manipulate PATH in the pod-utilities though, since we'd need to append it to whatever PATH the container image already has configured this would probably have to be done in the entrypoint-hijack binary, and that is supposed to be invisible...

[2019-06-25 21:35] BenTheElder commented on #13149
SGTM for 2, regarding 3 though...

was that the case here though? or was it just a test failure? if it's just a test failure I don't think it should be removed.

[2019-06-25 21:53] cjwagner commented on #13149
It was just a test failure, but having either a test failure or a forbidden label prevents a PR from being in the pool which is the reason the batches are invalidated. PRs that are failing tests can't be in the pool or we would wrongly consider them for serial retesting or batch membership.
Since we manually filter out PRs with failing tests from the PRs returned by the Tide queries when construct

[2019-06-25 22:08] BenTheElder commented on #13149
I see.

If the PR passed tests in a batch why wouldn't it be valid for being in another batch? Or serially retested? If it fails serially but passes in batch we have one of two things:
- a flake
- interdependent PRs (intentionally or otherwise, including EG one of them being a fix for the tests, which happens semi-frequently)

I don't quite understand this part, _it was already in a running batch_

[2019-06-25 22:09] stevekuznetsov commented on #13149
It's been brought up to add metrics to `tide` that show per-PR time spent in the pool (waiting and active), number of transitions, etc -- this would require committing pool state at each sync to a store and using  that data to calculate the above metrics. If we do that, then we can also use that information to show pool states and transitions, which would help very much to understand what's happen

[2019-06-25 22:20] fejta opened #13162 "Use pip to import ruamel_yaml"
/help

Try out https://github.com/bazelbuild/rules_python/pull/159

Add ruamel to requirements.txt and replace the `@ruamel_yaml//ruamel/yaml:ruamel.yaml` import

AKA:
* Update to a rules_python commit that has the above PR:
  - https://github.com/bazelbuild/rules_python
  - https://github.com/kubernetes/test-infra/blob/4a79c95955a670b16d2c96d397860bf511645153/WORKSPACE#L179-L186
* add `ruamel.yam

[2019-06-25 22:25] fejta commented on #13162
/good-first-issue

If you like bazel and python

[2019-06-25 22:29] fejta opened #13163 "Update pylint to latest python2 version (1.9.4)"
/help
/good-first-issue

1) Change
  -  https://github.com/kubernetes/test-infra/blob/4a79c95955a670b16d2c96d397860bf511645153/requirements.txt#L16
  - to https://pypi.org/project/pylint/1.9.4/ or a later version that works with
2) `bazel test //hack:verify-pylint` and fix resulting lint errors

[2019-06-25 22:29] fejta opened #13164 "Update py files to py3 (or remove)"
Let's update to python3 and/or replace python libraries we still need with their golang equivalents.

EDIT(spiffxp): took a guess at the list of things to convert by looking for `/usr/bin/env python$`

- [ ] boskos/janitor/gcp_janitor.py
- [x] experiment/bilge.py (#13777)
- [x] experiment/find_developers.py (#13778)
- [x] experiment/fix_testgrid_config.py (#13787)
- [x] experiment/flakedetector.py

[2019-06-25 22:36] spiffxp commented on #9469
/remove-lifecycle stale

[2019-06-25 22:46] Katharine commented on #13155
Should have logic to figure out the correct punctuation!

I filed this issue after someone was actually confused by it.

[2019-06-25 22:48] Katharine commented on #13155
Alternatively, always use a colon and default to "Not mergeable: ????", which is probably what the users are thinking anyway.

[2019-06-25 23:32] cblecker commented on #1723
/remove-lifecycle rotten

[2019-06-26 15:25] stevekuznetsov commented on #13155
/cc @cjwagner

[2019-06-26 15:27] stevekuznetsov commented on #13039
@kubernetes/sig-node-bugs  could we please get some guidance as to how to root-cause this issue and find a remedy?

[2019-06-26 16:24] Katharine commented on #13164
Since bazel largely punts on python toolchains: what version of python 3?

[2019-06-26 16:42] jimangel commented on #13065
For this issue there were 2 solutions:

- Short term (1.15)
  - Give the release lead elevated privileges to write directly to branch
  - (by default) Authors already allowed edits on PRs, a requirement to resolve conflicts remotely
  - PR was created directly against k/website vs local fork
- Long term (1.16+)
  - @gochist's suggestion of adding the label `tide/merge-method-merge` should also wor

[2019-06-26 18:44] cjwagner commented on #13149
Good point. If it has passed tests in the batch we know it is one of the cases you described so we could optimize that case if the PRs all still meet the other merge requirements.

Currently Tide ignores batches that are not composed of entirely pooled PRs so that if a PR leaves the pool for any reason (failing context, `do-not-merge` label, cancelled required review, etc.) we don't accidentally m

[2019-06-26 18:51] cjwagner commented on #13155
I wonder if status context description text will display emojis. Emojis don't need punctuation.

[2019-06-26 20:31] #13146 closed

[2019-06-26 20:53] cjwagner opened #13187 "Use Bazelisk instead of bazel images in CI?"
**What would you like to be added**:
If we used [Bazelisk](https://github.com/bazelbuild/bazelisk) in CI instead of using bazel images with a specific version of bazel we could more easily switch versions of bazel because our CI jobs would use the version defined in [`.bazelversion`](https://github.com/kubernetes/test-infra/blob/master/.bazelversion) without requiring an image bump.  If we cache t

[2019-06-27 01:15] #13140 closed

[2019-06-27 13:28] sanadHaj commented on #2815
@k8s-ci-robot tell me a joke

[2019-06-27 13:37] sftim opened #13200 "Customize comment when Prow approves an empty pull request"
**What would you like to be added**:
When Prow automatically approves a blank pull request, customize the comment that Prow adds. Explain that empty PRs are always approved.

**Why is this needed**:

When a pull request makes no changes, Prow adds a comment similar to:

and approves it. The PR becomes approved even without checks such as contributor license agreement. This is logical when you thin

[2019-06-27 16:02] stevekuznetsov opened #13202 "bazel 0.27.0 no workey"
Current versions:

[code]

[code]

Output:

[code]

/cc @fejta @Katharine @cjwagner

[2019-06-27 16:59] stevekuznetsov commented on #11998
/remove-lifecycle stale

[2019-06-27 17:00] stevekuznetsov commented on #9582
/remove-lifecycle stale

[2019-06-27 17:00] stevekuznetsov commented on #13200
/cc @Katharine @BenTheElder @fejta @cjwagner

[2019-06-27 17:18] Katharine commented on #13200
It's worth noting that they do actually still need to sign the CLA - approval only means that the code (of which there is none) has been approved by the relevant humans. The CLA check is completely independent of code approval.

[2019-06-27 17:33] #13202 closed

[2019-06-27 17:51] stevekuznetsov commented on #11223
Implemented in

#12839 #12958 #12624 #12786

/close

[2019-06-27 17:51] #11223 closed

[2019-06-27 18:26] fejta commented on #13202
Did you do the `bazel clean --expunge && rm -rf ./node_modules?`

[2019-06-27 18:54] #5843 closed

[2019-06-27 20:07] srinivashegde86 opened #13211 "Crier pubsub reporter adds gubernator link in GCS path"
**What happened**:
GCS path in crier pubsub report has a gubernator link. Eg. "gcs_path":"gs://https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-eventing-go-coverage/1140786425130651648/

**What you expected to happen**:
gubernator should not be present in the link. It should be:
"gcs_path":"gs://knative-prow/logs/ci-knative-eventing-go-coverage/1140786425130651648/

**How to repro

[2019-06-27 20:08] srinivashegde86 commented on #13211
/cc @krzyzacy

[2019-06-27 23:39] chases2 commented on #13057
Item 2 has been delivered. Item 1 is in progress.
In addition, I'd like to 3) write a test that will detect future tabs that could be annotated.

We also need to take into account the recent [expansion](https://github.com/kubernetes/test-infra/commit/6246b079652edcc8530c16c7ae34e469be155da0#diff-5feab98ac486cd3f18bbce6e5c0d28a5) to what's annotatable.

/remove-help

[2019-06-27 23:42] fejta opened #13228 "Make it easier to run bazel in a container"
For people who do not have or want access to an RBE cluster, bazel allows spawning into a docker container. This should produce more consistent results across machines as well as on/off rbe:

Most likely out of date docs here: https://docs.bazel.build/versions/master/remote-execution-sandbox.html

/help

[2019-06-27 23:59] #10351 closed

[2019-06-28 00:46] fejta opened #13232 "Setup RBE for trusted jobs"
The caching we get with this is worth it. Also more secure as we run less stuff inside the containers

[2019-06-28 03:05] fejta opened #13239 "bazel 0.27.0 breaks rules_docker"
Tracking issue, see https://github.com/bazelbuild/rules_docker/issues/842 and https://github.com/bazelbuild/bazel/issues/7899

Can fix by adding `build --host_force_python=PY2` to `.bazelrc`

[2019-06-28 03:25] fejta commented on #13140
More work done here: https://github.com/kubernetes/test-infra/pull/13204#issuecomment-506585743

[2019-06-28 04:52] fejta opened #13242 "Deploy tekton pipeline CRD to prow"
/assign @cjwagner

[code]

[2019-06-28 04:53] fejta opened #13243 "Drop bugzilla warning to info"
/assign @stevekuznetsov

I'd vote for this not appearing in my "oncall needs to debug" list of warnings

[code]

[2019-06-28 04:55] fejta opened #13244 "Deck should stop warning about tide restarts"
/assign @cjwagner

Given that this happens every time we bump, we should make this message go away since it is expected behavior

AKA need >3 or more before we warn instead of info. Or just always just info if we get to "before success" OR make tide HA

[code]

[2019-06-28 05:07] fejta opened #13247 "prow.k8s.io/view not showing jobs logs"
Just shows a spinning k8s wheel

Most likely related to prow bump

/assign

[2019-06-28 05:35] fejta commented on #13247
Solved and deployed fix w/ @Katharine
/close

[2019-06-28 05:35] #13247 closed

[2019-06-28 06:36] samsonahk opened #13250 "'brew install kubectl' on Linux Lite but failed"
I got problem in installing kubectl in Linux Lite v4.4

I added the user 'linuxbrew' first. Then I installed docker by root. The error messages are as follows:

hack/generate-docs.sh
Last 15 lines from /home/linuxbrew/.cache/Homebrew/Logs/kubernetes-cli/03.generate-docs.sh:
!!! [0628 13:31:23] 1: /tmp/kubernetes-cli-20190628-11831-1he0qrj/src/k8s.io/kubernetes/hack/lib/golang.sh:715 kube::golang::

[2019-06-28 07:45] BenTheElder commented on #10065
Aliases have been something of a UX pain point. It's difficult to discover the set of owners given an OWNERS file with an alias because:
- aliases have the same form as user names
- you need to read the lengthy OWNERS files docs and locate the OWNERS_ALIAS file and cross reference alias entries with the OWNERS_ALIAS file

Regarding API call cost: @cjwagner we cache github API calls now anyhow righ

[2019-06-28 07:48] BenTheElder commented on #10065
This is now solved by way of peribolos + github.com/kubernetes/org. There's an audit log (the git history / PRs) and publicly readable files containing team membership.

---

Even if we don't do this feature, I think we should consider at least making aliases visually distinct from usernames in some way. Perhaps at minimum we could allow and encourage `@username` in OWNERS files and start using th

[2019-06-28 15:47] sftim commented on #13200
If anyone is wondering about editing the PR description / title to better match their understanding of the issue, I'm fine with that happening.

[2019-06-28 16:14] #10943 closed

[2019-06-28 17:44] cjwagner commented on #10065
Yeah ghproxy will make this pretty much free in terms of rate limit, but it could be very expensive without. I think thats fine as long as we mention that in the OWNERS file documentation.

Allowing the use of `@` as a hint that an entry is a username SGTM. If we do that we may want to supply a simple script to add `@` to all entries that aren't found in OWNERS_ALIASES.

[2019-06-28 17:48] BenTheElder commented on #10065
we should also maybe make the feature opt-in still to be safe :thinking:

sgtm!

[2019-06-28 18:08] stevekuznetsov opened #13263 "prow: deck: don't warn about terminated containers when getting logs"
/area prow/deck

Deck currently emits a warning here:

[code]

That's a totally valid system state and we should handle it without errors or warnings.

/cc @Katharine @fejta @cjwagner
/good-first-issue
/help

[2019-06-28 19:44] krzyzacy commented on #7741
didn't hear complaint so far, closing this.

Once (when?) everyone else moved to crier we should clean up plank code.

[2019-06-28 19:44] #7741 closed

[2019-06-28 20:36] BenTheElder commented on #13250
hi, I'm not sure who maintains this homebrew pacakge but this is more of a kubernetes issue than a test-infra issue and you appear to have an identical issue open there so I'm going to de-dupe these.

https://github.com/kubernetes/kubernetes/issues/79503

[2019-06-28 20:36] #13250 closed

[2019-06-28 20:38] BenTheElder commented on #13149
All good points... on comment :-)

I would expect the github reporter in crier could (possibly optionally) report this, plank / now crier still own reporting. But tide could integrate with expecting this.

[2019-06-28 20:52] srinivashegde86 commented on #13211
This can also be prow.knative.dev, if one is using spyglass instead of gubernator

"gcs_path":"gs://https://prow.knative.dev/build/knative-prow/logs/ci-knative-eventing-go-coverage/1140786425130651648/

[2019-06-28 20:57] krzyzacy commented on #13211
/assign

[2019-06-28 21:05] krzyzacy commented on #13211
@srinivashegde86 looks like https://github.com/kubernetes/test-infra/pull/11398 changed the behavior, I think you need to change that config field accordingly, in your repo.

[2019-06-28 21:05] krzyzacy commented on #13211
/unassign
cc alvaroaleman
/assign srinivashegde86

[2019-06-28 21:09] srinivashegde86 commented on #13211
/cc @alvaroaleman

[2019-06-28 21:14] srinivashegde86 commented on #13211
We dont use job_url_config in our prow instance - https://github.com/knative/test-infra/blob/305effb104f097b12ccecabd0f5dfccfcbd2bf84/ci/prow/config.yaml#L21

[2019-06-28 21:20] krzyzacy commented on #13211
@srinivashegde86 which probably means it never worked? You can add `job_url_prefix_config` to your config and I bet it would fix your problem.

[2019-06-28 22:20] #6852 closed

[2019-06-28 23:21] #10865 closed

[2019-06-29 02:24] #11004 closed

[2019-06-29 10:35] saschagrunert opened #13266 "Flakyness specification for prow"
**What would you like to be added**:

It would be awesome if jobs gets automatically retriggered if considered as flaky. So we could do an automatic retest with some spec addition like:
[code]

WDYT?

**Why is this needed**:

Huge tests scenarios are sometimes flaky because of network issues, which can be hard to tackle. To avoid multiple `/retest`s on PRs, we could simply do that automatically. 😇

[2019-06-29 18:39] #9982 closed

[2019-06-29 19:40] #11029 closed

[2019-06-30 22:39] cblecker commented on #10501
/remove-lifecycle stale

[2019-07-01 04:26] howardjohn opened #13270 "Plank README only documents deprecated config option job_url_prefix"
[code]

Seems README.md only documents `job_url_prefix` which has been deprecated in favor of `job_url_prefix_config`. It would be great if the readme was using the new `job_url_prefix_config`

[2019-07-01 07:15] #9783 closed

[2019-07-01 14:39] howardjohn opened #13274 "Documentation missing for agent: tekton-pipline"
I am interested in using the (new?) tekton-pipeline agent, but can't find any docs. It would be great to have this documented.

I am trying to work it out through the code so if I figure it out I can potentionally contribute them

[2019-07-01 15:50] stevekuznetsov commented on #13274
/assign @fejta @ccojocar

[2019-07-01 15:54] stevekuznetsov commented on #13270
/assign @alvaroaleman

[2019-07-01 15:54] stevekuznetsov commented on #12012
This got implemented by @wking

[2019-07-01 15:54] stevekuznetsov commented on #12012
/close

[2019-07-01 15:54] #12012 closed

[2019-07-01 15:55] stevekuznetsov commented on #11939
/remove-lifecycle stale
/help
/good-first-issue

[2019-07-01 16:09] stevekuznetsov opened #13276 "prow: hook: label plugin has bad UX when unsupported labels requested, no help text"
The `/label` command is not exposed in the command help page. The list of examples should be updated here:

https://github.com/kubernetes/test-infra/blob/eb4a109306acfe76aa14676d91507fe313e7178e/prow/plugins/label/label.go#L69

When used with a label that is not supported by the explicit list, `/label` plugin does nothing -- it should instead comment back with an error and a list of possible label

[2019-07-01 16:16] stevekuznetsov commented on #13243
Sorry!

[2019-07-01 16:17] stevekuznetsov commented on #13243
https://github.com/kubernetes/test-infra/pull/13277

[2019-07-01 17:26] stevekuznetsov opened #13278 "prow: deck: spyglass: job history page renders each history line ten times"
[This page](https://prow.svc.ci.openshift.org/job-history/origin-ci-test/pr-logs/directory/pull-ci-openshift-installer-master-e2e) loads totally weirdly:

![Screenshot from 2019-07-01 10-22-53](https://user-images.githubusercontent.com/7328370/60455013-324bed00-9bea-11e9-8360-be76de180f20.png)

The job artifacts are uploaded by pod-utils. The directory looks like:

[code]

The `latest-build.txt` w

[2019-07-01 17:27] stevekuznetsov commented on #13278
The page also says:

[code]

There have only been 28 runs ...

[2019-07-01 17:30] stevekuznetsov commented on #13278
.... oh

[code]

[2019-07-01 17:58] BenTheElder commented on #9638
/reopen
/remove-lifecycle rotten

as far as I know we still skip key checking

[2019-07-01 18:26] #10018 closed

[2019-07-01 19:15] krzyzacy commented on #13211
cc @cjwagner

[2019-07-01 19:36] howardjohn opened #13280 "mkpj panics when more than one job has the same name"
**What happened**:
[code]

**What you expected to happen**:
`mkpj` doesn't panic or fails graceful and indicates what I need to do. Is github token path required? Am I missing some other flag?

I installed with `go get -u k8s.io/test-infra/prow/cmd/mkpj`
The code crashing is the first line of this:

[code]

[2019-07-01 19:38] howardjohn commented on #13280
Passing ` --github-token-path secrets/.oauth-token` still gets the same crash

[2019-07-01 20:08] fejta opened #13281 "pull-test-infra-bazel failing verify-deps"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/13279/pull-test-infra-bazel/1145773339738902529

github.com/jinzhu/now v0.0.0-20181116074157-8ec929ed50c3 // indirect

/cc @chases2 @cjwagner

[2019-07-01 20:10] fejta commented on #13281
Possibly fixed by https://github.com/kubernetes/test-infra/pull/13269

[2019-07-01 20:12] spiffxp commented on #13164
/priority important-longterm
Doesn't _have_ to get solved this quarter, but Python 2 goes EOL Jan 2020 https://pythonclock.org/

[2019-07-01 20:13] spiffxp commented on #13164
/help

[2019-07-01 20:20] chases2 commented on #13281
Fix #13269 seems to work locally; I'm pushing the merge to a previously-failing PR to see if it works there

[2019-07-01 20:23] fejta commented on #13281
/assign @justaugustus
/close
Thanks!

[2019-07-01 20:23] #13281 closed

[2019-07-01 20:24] cjwagner commented on #13211
I think the issue is that this line is wrong, in particular if the job URL is generated from the report template instead of using a job url prefix: https://github.com/kubernetes/test-infra/blob/a38158ced61c30b36b77309babbeebd0dd438aac/prow/pubsub/reporter/reporter.go#L139
https://github.com/kubernetes/test-infra/blob/a38158ced61c30b36b77309babbeebd0dd438aac/prow/pjutil/pjutil.go#L265-L285

[2019-07-01 20:28] chases2 commented on #13281
Note:
#13214 [was failing](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/13214/pull-test-infra-bazel/1145784157922660353) due to this issue, but is no longer failing after pushing the change commit

[2019-07-01 20:34] bbguimaraes commented on #13280
My guess is you have more than one job with that name, at least one of them being a pre-submit and one of another type.

https://github.com/kubernetes/test-infra/blob/a38158ced61c30b36b77309babbeebd0dd438aac/prow/cmd/mkpj/main.go#L195-L251

If the pre-submit is found first, `needsPR` will be set. When the other job with the same name is found, `pjs` will become a spec with no `Refs.Pulls` and caus

[2019-07-01 20:37] matthyx commented on #9247
/reopen
/shrug

[2019-07-01 20:40] krzyzacy commented on #13211
emmm, but we haven't migrate away from report template yet

[2019-07-01 20:43] howardjohn commented on #13280
You are right, I do have it in postsubmit and presubmit

[2019-07-01 22:59] stevekuznetsov commented on #13280
Yeah you should not have more than one job with the same name

[2019-07-01 23:00] stevekuznetsov commented on #13280
/cc @cjwagner we should just enforce unique names on config load -.-

[2019-07-01 23:11] cjwagner commented on #13280
https://github.com/kubernetes/test-infra/issues/9948

[2019-07-01 23:52] clarketm commented on #13162
/assign @clarketm

[2019-07-02 00:32] #11093 closed

[2019-07-02 05:20] ahmetb opened #13291 "k8s-ci-robot requested review from non-OWNERS"
**What happened**: On a PR made to https://github.com/kubernetes-sigs/krew repository, @k8s-ci-robot has requested review from irrelevant
https://github.com/kubernetes-sigs/krew/pull/235#event-2452859941

Neither of these are in the OWNERS for this repo:
- https://github.com/kubernetes-sigs/krew/blob/82a267d/OWNERS
- https://github.com/kubernetes-sigs/krew/blob/82a267d/OWNERS_ALIASES

**What you e

[2019-07-02 06:26] nikhita commented on #13291
My very raw guess is that it's requesting reviews from `krousey` and `thockin` because it touches this OWNERS file: https://github.com/kubernetes-sigs/krew/pull/235/files?file-filters%5B%5D=No+extension#diff-4a6df383843b81c52f1fb38439b8754b

i.e. we are removing files that are touching this OWNERS file.

https://github.com/kubernetes/test-infra/pull/12460 should help (I'll address the review comme

[2019-07-02 06:29] nikhita commented on #13291
/sig contributor-experience

[2019-07-02 07:22] ahmetb commented on #13291
Yeah that totally explains it, thanks.

[2019-07-02 11:56] alvaroaleman commented on #12752
Where you able to make any porgress here steve? Its pretty annoying :( But IIRC fixing this requires refactoring most of the plugin or did you come up with a better approach?

[2019-07-02 14:58] tnozicka opened #13297 "Let admin /override tests in progress"
**What would you like to be added**:
I'd like `/override` command to work on running tests as well, currently it requires failed context.

**Why is this needed**:

Use cases:
 - avoid having to wait hour(s) for e2e test on unrelated changes e.g. docs
 - when a bot retest a failed context which you wanted to override you need wait another hour for it to fail again and then race again with the bot

[2019-07-02 17:47] davidz627 commented on #9597
/reopen
still needed, still no time

[2019-07-02 18:45] chases2 opened #13305 "Enhance Command Arguments & Output To File in Entomologist"
**What would you like to be added**:
[Entomologist](https://github.com/kubernetes/test-infra/tree/master/testgrid/cmd/entomologist) is a program in TestGrid that identifies particular GitHub comments and serializes that data and _sends it to GCS_ for consumption by TestGrid. It is designed to run either as a one-shot, or _once an hour_ until terminated.

There are two enhancements:
- [x] Modify th

[2019-07-02 18:49] clarketm commented on #13164
/assign @clarketm

[2019-07-02 18:49] #13162 closed

[2019-07-02 18:59] fejta opened #13306 "Crier races when trying to report prowjobs on a same PR concurrently"
/assign @krzyzacy
/area prow
/area prow/crier

[code]

[code]

[2019-07-02 19:08] #13280 closed

[2019-07-02 22:49] stevekuznetsov commented on #12752
I didn't end up working on this -- I think it should be easy to just accept more types of events like we do for other plugins?

[2019-07-02 22:51] stevekuznetsov commented on #12047
@cjwagner let's do this?

/remove-lifecycle stale

[2019-07-03 01:57] #5333 closed

[2019-07-03 05:31] krzyzacy commented on #13306
the error comes from the existing reportlib though (haven't touched that code for a while)

looks like just a one-off error from github?

[2019-07-03 16:30] nikhita commented on #12489
Done in https://github.com/kubernetes/test-infra/pull/13088

[2019-07-03 16:30] #12489 closed

[2019-07-03 20:28] #11621 closed

[2019-07-03 22:39] mirandachrist opened #13321 "Allow direct triggering of reruns"
We want to modify the rerun button so that in addition to displaying the current popup, it also allows authorized users to directly trigger job reruns. See [design doc](https://docs.google.com/document/d/1ykgWeEnh4SwX9AuQz28sicFCpqjuEaYclLVTlStNggg/edit#) for more details.

#12827 makes the rerun button directly trigger a rerun when the `--rerun-creates-job` is set to `true` in Deck

#13008 sets u

[2019-07-04 07:24] alvaroaleman commented on #12752
It already has handling of both pull requests and issues, but when I looked at it I didn't see a way of fixing that without refactoring most of both handling parts.

[2019-07-05 01:44] #11100 closed

[2019-07-05 12:47] hongkailiu commented on #13000
Manual creation for secrets for now.

[2019-07-05 12:47] #13000 closed

[2019-07-05 13:40] pohly opened #13332 "enable Kubernetes-CSI image publishing"
**What would you like to be added**:

As part of https://github.com/kubernetes/k8s.io/issues/158, `gcr.io/k8s-staging-csi` was created (https://github.com/kubernetes/k8s.io/issues/158#issuecomment-462047593). What we need now are credentials in a secret that the Kubernetes-CSI Prow jobs (https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-csi) can use to actually push image