[2020-09-17 12:03] matthyx commented on #11994
@parispittman could you give an example... I think this should go to `config/prow/plugins.yaml`

@cjwagner do you think it's wise to reuse `heart.go` or should I put this in a different plugin?
I think it really depends if we wanna do something generic or specific to k/k

[2020-09-17 13:29] RobertKielty commented on #18599
@spiffxp mysel @ScrapCodes and @raydeeam will do work together on the test. Coordinating with them both now.

[2020-09-17 17:46] cjwagner commented on #11994
It seems like this should be easy to make configurable and generic for use outside k/k. I think this would be a reasonable extension to the `heart` plugin if you'd like to integrate there, but as Nikhita mentioned the logic for detecting additions to OWNERS is currently pretty simple and should probably be updated (e.g. distinguish adding users from adding labels).

[2020-09-17 18:26] cjwagner commented on #15662
This slack thread has the details: https://kubernetes.slack.com/archives/C7J9RP96G/p1576614298013700

`hook` doesn't mount the kubeconfig so it doesn't know about the `test-infra-trusted` cluster even though this is a self loop back to the cluster `hook` is running in. Currently things are working because the `default` cluster is used which is the in-cluster context since the kubeconfig is omitted

[2020-09-17 19:00] BenTheElder commented on #19147
no, but that's not really comparable, because you get a naive squash commit
as opposed to local squash where you can actually do a fixup / edit the
commit message to make sense and drop any noise like "commit 2 == fix the
thing"

On Wed, Sep 16, 2020 at 10:47 PM Grant McCloskey <notifications@github.com>
wrote:

[2020-09-17 19:06] spiffxp opened #19264 "Use alternate names for blacklist/whitelist in prow"
**What should be cleaned up or changed**:
There are sundry files within prow that can probably use more specific terms, or the generic terms "allowlist/denylist"

[code]

EDIT: pulling up from https://github.com/kubernetes/test-infra/issues/19264#issuecomment-767913564

All instances of `whitelist` have been removed from prow (thanks @chases2!).  `blacklist` appears in two config fields that would

[2020-09-18 06:54] hi-rustin opened #19270 "Can not merge PR when use github actions"
**What happened**:

Can not merge PR when I add a branch-protection for my PR.

**What you expected to happen**:

It can be merged.

**How to reproduce it (as minimally and precisely as possible)**:
 My config look like:
[code]

The status look like:
<img width="873" alt="image" src="https://user-images.githubusercontent.com/29879298/93565913-b5f42400-f9be-11ea-9646-ecaf1d9712a0.png">

**Please pr

[2020-09-18 07:01] Rustin-Liu commented on #19270
When I only require  Semantic Pull Request, it works.

[2020-09-18 08:13] Rustin-Liu commented on #19232
/assign

[2020-09-18 15:23] stevekuznetsov opened #19274 "Prow Control Plane Wedges on Unknown Pods"
A node in a build farm cluster was lost and the Pod that `plank` had created was in this state:

[code]

Normally, you'd do this to unwedge it:
[code]

However, the Pod now has a finalizer, so the admin has to know how to clean that up as well:
[code]

The job itself has `max_concurrency: 1` so all further runs of this job get stuck on the "pending" job, even after it hits the Pod timeouts:
![Scre

[2020-09-18 15:52] bradmwilliams commented on #19274
It should be noted that the impacted pod was on a node that went `NotReady` prior to going into the `Unknown` state.

[2020-09-18 16:57] BenTheElder commented on #19270
https://github.com/kubernetes/test-infra/issues/15611

[2020-09-18 18:37] spiffxp commented on #19274
I ran into this as well when upgrading a build cluster from v1.14 to v1.15, though it manifested as Pods stuck in `Terminating`: https://github.com/kubernetes/k8s.io/issues/1120#issuecomment-691392917

Workaround was to delete the finalizer

[2020-09-18 18:49] cjwagner commented on #19274
Treating this the same as `Error` sounds reasonable to me, but I am a bit worried that pods could become temporarily `Unknown` if there are temporary network issues and we wouldn't want to replace those pods prematurely. Does that sound like a legitimate concern?

[2020-09-18 18:54] stevekuznetsov commented on #19274
I have not personally seen a Pod recover from `Unknown` - have you?

[2020-09-18 18:56] stevekuznetsov commented on #19274
@spiffxp in the case that we transition to Terminating when something deletes the Pod - I was under the impression that this should already be covered. Might be worth it to make another issue. Would want to get an opinion from @alvaroaleman  on that.

[2020-09-18 20:48] cjwagner commented on #19274
I don't recall ever seeing a pod in the `Unknown` state. Based on the [docs](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase) it sounds like it would be possible for a pod to transiently become `Unknown` if there were issues communicating with the node.

[2020-09-18 21:03] BenTheElder commented on #19080
https://github.com/kubernetes-sigs/kind/issues/1860 to track mitigating in the future

[2020-09-19 01:53] Rustin-Liu commented on #15611
Hi @alvaroaleman, is there any way or plan to solve this problem?

[2020-09-19 06:56] snowmanstark commented on #18852
@spiffxp I looked into #19034 and nothings seems to be off there.

[2020-09-19 11:08] RobertKielty commented on #18599
So @rayandas @scrapcodes and myself met up to do exploratory work on this and as result we learned a little bazel!

To invoke the test above we need to invoke bazel as follows :
[code]

[2020-09-20 08:47] RobertKielty commented on #18599
/assign
/remove help-wanted

[2020-09-20 08:59] RobertKielty commented on #18599
To run the specific test use

`bazel test //config/tests/testgrids:go_default_test \`
`--test_output=all \`
`--test_filter=TestReleaseBlockingJobsMustHaveTestgridDescriptions`

[2020-09-20 21:54] cblecker commented on #13740
/remove-lifecycle rotten
/reopen

[2020-09-20 21:55] cblecker commented on #12138
/reopen
/remove-lifecycle rotten

[2020-09-20 21:55] cblecker commented on #10402
/reopen
/remove-lifecycle rotten

[2020-09-20 21:56] cblecker commented on #14875
/reopen
/remove-lifecycle rotten

[2020-09-21 10:12] RobertKielty commented on #18599
/remove help

[2020-09-21 10:12] RobertKielty commented on #18599
/remove help-wanted

[2020-09-21 12:55] alvaroaleman commented on #19274
@spiffxp there were some bugs around this but supposively they are all fixed now. If you see this with a current Prow, could you open an issue for that?

@stevekuznetsov we already have [explicit handling for `evicted` pods](https://github.com/kubernetes/test-infra/blob/a74aedde2f081d253e26eb4f679e9a2de30b52e7/prow/plank/reconciler.go#L321), however the `UNKNOWN` you see in the output is nowhere t

[2020-09-21 14:43] matthyx commented on #11994
@cjwagner I wonder if it wouldn't be easier to react inside `verify-owners` as we already load the files and parse the added owners...
I also wonder whether we should not remove heart completely, even though it makes a simple example of a prow plugin.

[2020-09-21 15:04] alvaroaleman commented on #19274
/assign

[2020-09-21 17:28] alvaroaleman commented on #15611
@Rustin-Liu I believe this could be fixed by making Tide List and check the gitbub check runs in addition to the normal statuses

[2020-09-21 17:48] spiffxp commented on #19034
/help
It might be worth looking at the output of `gsutil ls gs://kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e/` and comparing some of the later entries against what is visible in prow's job history view.

Is this bad data? Is this a bug in prow / spyglass?

[2020-09-22 09:22] matthyx commented on #11994
@parispittman and @nikhita, couple of questions:
- should we comment inside the PR adding the new reviewer/approver, or we contact them differently (mail, slack, …)?
- should we check whether the individual is a trusted user (i.e. member of the org)?
- should we add a specific label to the PR to identify the PRs later?
- what happens if the individual is moved from reviewer -> approver?
- what hap

[2020-09-22 11:42] sftim commented on #19147
https://github.com/kubernetes/test-infra/issues/19147#issuecomment-693006340 implies there's nothing to do.

/close

Thanks @alvaroaleman

[2020-09-22 11:42] #19147 closed

[2020-09-22 17:32] cjwagner commented on #11994
Sharing code with `verify-owners` would be fine, but I don't think we should add recognition/reward logic to the validation plugin, those a pretty different roles and it would be nice to enable/configure them separately

Unless it's too expensive, which I don't think is the case, I'd like to keep the `heart` plugin. It is simple and fun. I don't think deprecating and removing it would be a product

[2020-09-22 21:12] #19274 closed

[2020-09-22 22:26] peterfeifanchen opened #19315 "Presubmit check on Prow Jobs do not check for invalid metadata.annotation keys"
**What happened**:
When an annotation key is provided that is not compatible with alphanumeric, ., - characters, presubmit check still passes

**What you expected to happen**:
Presubmit fails

**How to reproduce it (as minimally and precisely as possible)**:
Create a prow job with annotation key that is "a/b/c"

/cc @cjwagner

[2020-09-23 02:50] MushuEE opened #19320 "Unhealthy Job AutoJailer Bot"
**What would you like to be added**:
In response to #18600 I would like to take on building an AutoJailing Bot for failing jobs.

This Bot would periodically query for jobs that have been constantly failing for X amount of time. It would add them to a global "Jail" issue. This issue will be used to track jobs in queue for removal so that there is ample time to remove them from queue if there is re

[2020-09-23 02:51] MushuEE commented on #19320
/sig testing

[2020-09-23 02:52] MushuEE commented on #19320
@hasheddan I saw you assigned yourself to the parent issue, let me know if you started anything!

[2020-09-23 06:32] midnightconman commented on #17922
/remove-lifecycle stale

On Tue, Sep 22, 2020, 15:59 fejta-bot <notifications@github.com> wrote:

[2020-09-23 14:41] spiffxp opened #19324 "Setup postsubmit job to auto deploy triage's frontend"
**What should be cleaned up or changed**:
The actual html page that lives at `go.k8s.io/triage` is manually updated by humans running `make push-static`.  We should have prow do this for us in a postsubmit.  It should run in the test-infra-trusted cluster with an appropriate service account

**Provide any links for context**:
Noticed we auto deploy the image, but not the page while reviewing: http

[2020-09-23 14:57] spiffxp opened #19325 "Resize prow.k8s.io prometheus volumes"
ref: https://github.com/kubernetes/test-infra/pull/19276#discussion_r493659400

To expand prometheus' retention beyond 180d, we will need to expand the underlying PVs.  If we decide we can live with 180d, and volume usage looks OK, this can be closed as a no0op.  Otherwise we should look into expanding the underlying PV's.

/area prow
/sig testing

[2020-09-23 16:05] BenTheElder commented on #19324
This is already setup? I worked on this.

[2020-09-23 17:48] chases2 opened #19326 "k8s-infra-gcr-vuln-dashboard service account not found"
[code]

[2020-09-23 18:46] PatrickXYS commented on #19054
I think [sidecar](https://github.com/kubernetes/test-infra/tree/4ff12a92583cb3aae6c819f3af17935730ad3bb9/prow/sidecar) should provide two paths:

1. By-default it reports the output (including `finished.json`) to disk.
2. Provide option to disable sidecar when users have their customized uploading output logic, such as we did in [kubeflow/testing ](https://github.com/kubeflow/testing/blob/b5e19628

[2020-09-23 21:30] #15662 closed

[2020-09-24 08:21] justaugustus commented on #19242
I think adding a SemVer regex in the `branches` list of your jobs should work.

ref: https://github.com/kubernetes/test-infra/blob/f316ca27125ebdcfe93ef92cc9cd119269f09fad/config/jobs/image-pushing/k8s-staging-cluster-api.yaml#L14

[2020-09-24 15:13] habibrosyad commented on #19147
Just curious, why `store_tree_hash` isn't enabled by default (or to be specific in k/k), and it seems the only repo using it here is k/website?

My case is at some point there is a PR, already has lgtm and approved labels, but due to code freeze cannot be merged. After the freeze lifted up, there was a conflict because of other PRs which merged first, therefore needs rebase. Force pushed and then

[2020-09-24 16:17] spiffxp commented on #19324
/close
That you did! Done in https://github.com/kubernetes/test-infra/pull/18733

[2020-09-24 16:17] #19324 closed

[2020-09-24 16:22] spiffxp commented on #15611
/remove-lifecycle rotten
/lifecycle frozen
to keep this around as a known issue

[2020-09-24 20:44] #17398 closed

[2020-09-24 21:05] MushuEE opened #19358 "Kettle google.cloud requirements are far out of date"
**What should be cleaned up or changed**:
Kettle [DockerFile](https://github.com/kubernetes/test-infra/blob/master/kettle/Dockerfile) pins versions of:
`google-cloud-pubsub==0.25.0 google-cloud-bigquery==0.27.0` These are long out of date (~3 years) and should be brought back up to date with newer API calls.

**Provide any links for context**:
https://github.com/googleapis/google-cloud-python

/ar

[2020-09-24 21:11] MushuEE commented on #19358
#19356 is small step

[2020-09-25 03:42] MushuEE opened #19359 "Malformed Junit in Prow job breaking Kettle Parsing"
**What happened**:
Kettle command:
`make_json.py  --days 7 | pv | gzip > build_week.json.gz` fails with
[code]

due to malformed JSON at https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-network-proxy-grpc/1307184419391410176/artifacts/junit_01.xml

![image](https://user-images.githubusercontent.com/7189267/94224025-4098bf80-fea6-11ea-8c7e-b53e12ed8002.png)
[JOB](htt

[2020-09-25 03:42] MushuEE commented on #19359
/area kettle

[2020-09-25 13:05] aojea opened #19360 "Jobs timing out must fail"
**What happened**:

A job that timed, but it was still trying to run the tests. At that moment, none of the test had failed,  ginkgo output indicates PASS and the job is GREEN

**What you expected to happen**:

The job can not be GREEN :smile:

**How to reproduce it (as minimally and precisely as possible)**:

See link below

**Please provide links to example occurrences, if any**:

https://prow.k

[2020-09-25 19:14] e-blackwelder opened #19366 "~Jan 2021: enable storage-bucket validation by default"
Storage bucket validation was introduced in #18001. It is currently opt-in only (via deck configuration).

Validation should be enabled by default -- but no sooner than ~Jan 2021. (This grace period allows Prow instance maintainers time to inspect logs and configure additional allowed storage buckets.)

[2020-09-25 23:18] #19359 closed

[2020-09-25 23:23] MushuEE opened #19367 "Investigate 'unknown build path' failures in Kettle"
**What happened**:
Kettle make_json is dumping many
[code]
Errors while trying to populate builds. This might be expected but should most likely not trace back this much or dump all failed buckets once at the end.

/area kettle
/assign
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Run `pypy3 make_json.py` from kettle

**Please provide links to

[2020-09-25 23:30] MushuEE opened #19368 "Kettle BQ load failure"
**What happened**:
[code]
Hit on invocation of `pypy3 make_json.py  --days 7 | pv | gzip > build_week.json.gz`

I do see `/bigquery?project=k8s-gubernator&redirect_from_classic=true`
So possibly there is a real issue. This does not happen for Day table (I believe)
**What you expected to happen**:
No issue loading data to build.week
**How to reproduce it (as minimally and precisely as possible)**:

[2020-09-25 23:31] MushuEE commented on #19368
https://stackoverflow.com/questions/59815620/gcloud-upload-httplib2-redirectmissinglocation-redirected-but-the-response-is-m might be on to the solution. Possibly something changed with gcloud packages recently?

[2020-09-26 00:26] MushuEE commented on #19368
Fixed in container with
[code]

[2020-09-27 08:42] #17321 closed

[2020-09-27 08:42] #16983 closed

[2020-09-27 08:42] #17288 closed

[2020-09-27 09:43] #12233 closed

[2020-09-27 15:56] matthyx commented on #14049
@b01901143 what's the status?

[2020-09-27 17:21] ArangoGutierrez commented on #16145
/remove-lifecycle rotten
/unassign gavinfish

[2020-09-28 01:09] MushuEE opened #19376 "gs://cel-conformance/test-logs unable to be parsed correctly and are Artifact-less"
**What happened**:
Kettle is unable to parse xml for all of these jobs:

gs://cel-conformance:
  contact: "JimLarson"
  prefix: "cel:"
[code]
**What you expected to happen**:
If the xml exists it should be properly formed. Though I can't find the xml that is in the process of attempting to be parsed yet.
[job link](https://prow.k8s.io/view/gcs/cel-conformance/test-logs/20191030050108)
/cc @JimLars

[2020-09-28 15:28] spiffxp commented on #14049
/remove-lifecycle stale
We created https://github.com/kubernetes-sigs/k8s-gsm-tools but I personally have stalled out on deploying this live to k8s-infra build clusters.  I've got a proof of concept running on my personal prow cluster https://github.com/bashfire/prow-config/blob/master/config/prow/cluster/k8sgsmtools-config.yaml

[2020-09-28 17:36] michelle192837 opened #19382 "Sinker error in oss-prow: `Failed to remove kubernetesreporter finalizer`"
Seeing some sinker issues in oss-prow (for https://github.com/GoogleCloudPlatform/oss-test-infra).

[code]

[code]

CC'ing Alvaro and Cole who I think have some context on these failures previously.

/cc @alvaroaleman @cjwagner
/area prow
/area prow/sinker

[2020-09-28 17:40] alvaroaleman commented on #19382
What prow version is this? There were some issue in this in older prow versions but (to my knowlege) they are all fixed in a current version.

The second error just means that sinker does not have `PATCH` permissions for pods but needs them

[2020-09-28 17:51] michelle192837 commented on #19382
sinker (and other components I believe) are running on the `v20200921-becd8c9356` image?

[2020-09-28 18:01] bsdnet opened #19384 "Rename gci to cos"
**What should be cleaned up or changed**:

There are a lot of places, in both code and dashboard, naming COS as GCI, which confuses community since most people is aware of Google Container Optimized OS, but not its early name GCI.

It will be nice to rename gci to cos slowly from UI to code.

**Provide any links for context**:

$ git grep gci |wc -l
802

The strategy can be that to change kubetest

[2020-09-28 18:21] alvaroaleman commented on #19382
okay, that version should not have any bugs anymore there, hm.

[2020-09-28 18:55] cjwagner commented on #19382
We just need to update this list: https://github.com/GoogleCloudPlatform/oss-test-infra/blob/f53df41a49966a29d728430e33eabbe6a3114ea2/prow/oss/cluster/sinker.yaml#L67-L68
to match this list: https://github.com/kubernetes/test-infra/blob/7f22698becb0092f6f41e92725e3c73962d16cf9/config/prow/cluster/sinker_rbac.yaml#L50-L54
(I'm dealing with some issues with my dev environment at the moment, otherwis

[2020-09-28 19:03] michelle192837 commented on #19382
Thanks all! I can make that PR in a bit then. ^^

[2020-09-28 19:07] JimLarson commented on #19376
Our conformance dashboard update pipeline has been down for a while as we debug a configuration change. Since it might be affecting you, I'll roll back that change and see if that gets you working again.

[2020-09-28 20:03] eddiezane opened #19386 "Extract test step periodically failing"
**What happened**:

The `Extract` test step is periodically failing across pipelines since 2020-09-11.

The extract step downloads binaries from https://storage.googleapis.com/kubernetes-release-dev/ci/fast/v1.xxxxxx using curl with a retry of 3. The download makes progress and then fails 3 times with:

[code]

![image](https://user-images.githubusercontent.com/959573/94475307-df6e3600-019c-11eb-8

[2020-09-28 20:16] thejoycekung commented on #19386
This list of flakes is just from the release-master-blocking board for the last two weeks - I haven't had the time to reference others yet. But it's a good idea of how much the job has been flaking.

gci-gce-alpha-features (6 flakes in the past 2 weeks):
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1310522738569383936
* https://prow.k8s.io/view/gc

[2020-09-28 20:44] BenTheElder commented on #19360
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-basic-sctp/1309438967824781312 is marked failed?

[2020-09-28 20:46] BenTheElder commented on #19315
/help

[2020-09-28 20:49] aojea commented on #19360
ahh, then it is testgrid not reporting correctly?
https://testgrid.k8s.io/sig-network-gce#ubuntu-gce-basic-sctp

[2020-09-28 20:50] BenTheElder commented on #19360
testgrid only reads the junit produced by the job, currently prow does not
produce any at the job level, only ARTIFACTS created by the job command

On Mon, Sep 28, 2020 at 1:49 PM Antonio Ojea <notifications@github.com>
wrote:

[2020-09-28 21:14] JimLarson commented on #19376
Reverted. Let me know if that fixes your issue.

[2020-09-28 21:49] BenTheElder commented on #19360
Correction: testgrid DOES read the metadata, and produces a synthetic "Overall" row, but this dashboard filters out the "Overall" status with the regex.

this is WAI.

[2020-09-28 21:49] #19360 closed

[2020-09-28 23:10] thejoycekung commented on #19386
kubernetes/kubernetes#93561 seems to be the same issue, and was marked as closed by #18572

[2020-09-28 23:28] MushuEE commented on #19376
@JimLarson thank you, I will give it a try later and see if it is. The fix should probably be in the service though. It should not be getting to the point that is parses non-existent xml

[2020-09-28 23:34] MushuEE commented on #19376
@JimLarson do you still have need to track these jobs in BQ? Because kettle goes back in time it still fails for all the existing jobs in this state. I still need a fix on kettle end but would be nice to remove the bucket searching if they are not needed in tracking any longer

[2020-09-28 23:45] bigmyx opened #19389 "Documentation: No explanation for your-domain.com"
The Prow getting started guide refers to your-domain.com

No explanation as to where can this information can be set/acquired is given in the [README](https://github.com/kubernetes/test-infra/blob/master/prow/README.md) for Prow setup.

Please advise.

[2020-09-29 05:57] aojea commented on #19360
duh, thanks for finding it

[2020-09-29 06:34] BenTheElder commented on #19360
I didn't 🙃, reached out to some of the prow/testgrid team and they
explained.

On Mon, Sep 28, 2020 at 10:57 PM Antonio Ojea <notifications@github.com>
wrote:

[2020-09-29 14:41] hasheddan commented on #19386
@eddiezane @thejoycekung thanks for the detailed investigation here! I noticed a number of successful runs also hit this issue, then retry and do not. An important thing to note here is that I don't think `curl` is retrying these `ECONNRESET` errors, so we are not getting the 3 retries specified by the flag in `get-kube.sh`. As an alternative to setting [--retry-all-errors](https://curl.haxx.se/do

[2020-09-29 16:06] mmerkes commented on #18973
As @dchen1107 summarizes above and described in [this doc](https://docs.google.com/document/d/1BdNVUGtYO6NDx10x_fueRh_DLT-SVdlPC_SsXjYCHOE/edit#), the expected state of `NodeConformance` tests is:

* Runs tests sig-node e2e tests agnostic of cloud providers, OS distributions and container runtimes
* Expected to pass for every PR

**Current State**

* The [pull-kubernetes-node-e2e test group, which

[2020-09-29 17:43] chaodaiG commented on #17266
/remove-lifecycle rotten

[2020-09-29 18:36] chaodaiG commented on #17266
@cjwagner and me took a stab at it today, trying to do it the "correct" way in our opinions:
[code]

It turned out that the related changes required spyglass lenses API changes, which will break all remote lenses. We could make it work by versioning spyglass lenses API and duplicate lots of code to not break remote lenses, but figured it's probably not worthy the effort in thinking about the retur

[2020-09-29 19:26] bigmyx commented on #19389
Tried to use automated blaze base install. Keep getting the following error:

[code]

Even though I have replaced `<< your-domain.com >>` variable in yaml files.

[2020-09-29 19:47] bigmyx commented on #19389
Figured by trial/error :)

[2020-09-29 19:47] #19389 closed

[2020-09-29 22:19] #19315 closed

[2020-09-29 22:19] #19368 closed

[2020-09-29 22:20] MushuEE commented on #19367
Along with this failure:
[code]

and

[code]

[2020-09-29 23:53] knabben commented on #19384
@bsdnet @BenTheElder there are some tabs like *containerd-e2e-gci-1.3* in the *sig-node-containerd* for example,

One of the difference is the GCP image == gci, are these jobs running in an old image as well? In these cases, only renaming is enough?

* --gcp-node-image=gci *

[2020-09-30 01:31] knabben opened #19401 "sig-node-cos dashboard proposal"
**What should be cleaned up or changed**:

In order to clean up gci in favor of cos:

There's a bunch of containerd-e2e-gci* tabs in the *sig-node-containerd* dashboard, they are running an old CI image (kubetest-e2e), the goal strategy is to divide and conquer, so we will probably have a clear view of what needs to go in a separated board.

Here is a list of the jobs could be in the separated das

[2020-09-30 01:31] knabben commented on #19401
/assign @SergeyKanzhelev

[2020-09-30 04:38] BenTheElder commented on #19384
cos is a symlink to gci, actually
https://github.com/kubernetes/kubernetes/tree/master/cluster/gce

On Tue, Sep 29, 2020 at 4:53 PM Amim Knabben <notifications@github.com>
wrote:

[2020-09-30 12:44] knabben commented on #19384
Now the last statement of the issue description makes sense.

[2020-09-30 12:46] thejoycekung commented on #19386
#19394 was merged as infra commit 82b41a145 yesterday, but it looks like Extract is still having problems last night/today. Interestingly, even though we bumped up the number of retries in `extract_k8s.go` it still looks like we are only retrying 3 times (searching for the error message `curl: (56) OpenSSL SSL_read: SSL_ERROR_SYSCALL, errno 104` returns only 3 results).

Prow links for reference:

[2020-09-30 13:21] alvaroaleman opened #19407 "GCSweb manifest for prow.k8s.io not in git"
**What happened**:

It seems there is no gcsweb manifest for prow.k8s.io in the test-infra repo, even though its clearly setup at https://gcsweb.k8s.io/gcs/kubernetes-jenkins/

**What you expected to happen**:

To find a gcsweb manifest in this repo

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need

[2020-09-30 14:47] #19112 closed

[2020-09-30 14:53] benmoss commented on #18380
https://github.com/kubernetes-sigs/cluster-api/issues/3720#issuecomment-701442225 another one 😸

[2020-09-30 14:57] nikhita commented on #18380
This was fixed in https://github.com/kubernetes/test-infra/pull/19391 yesterday. The changes should get pulled in once https://github.com/kubernetes/test-infra/pull/19396 merged. :)

[2020-09-30 15:03] hasheddan commented on #19386
@thejoycekung the retry bump will go into effect when the image autobumper PR is merged today: https://github.com/kubernetes/test-infra/pull/19396 :)

[2020-09-30 15:50] nikhita commented on #18380
Going to close this since https://github.com/kubernetes/test-infra/pull/19391 fixed it. Please reopen if needed!

[2020-09-30 15:50] #18380 closed

[2020-09-30 17:00] jprzychodzen opened #19411 "Adding a presubmit breaks open PRs"
**What happened**:
Recently I've enabled presubmit to kubernetes/perf-tests repository for master branch (#19404). `pull-perf-tests-verify-test` started to work for PRs to master branch. However, pods executing tests are deleted and/or doubled.

**What you expected to happen**:
Changing a presubmit will be picked up and will not break open PRs

**How to reproduce it (as minimally and precisely as

[2020-09-30 17:04] jprzychodzen commented on #19411
Changed topic to excluded long running, this is more an impression that a solid data point.

[2020-09-30 17:39] cjwagner commented on #17266
I thought about this some more and realized we don't need to change the lens interface at all if we pass the appropriate map entry rather than the entire `configs` map. This avoids breaking changes to the lens API and generalizes the logic for determining which entry to use.

To determine which map entry applies to the request we'll need to fetch the associated ProwJob somewhere around here: https

[2020-09-30 21:32] spiffxp commented on #19407
It's over here https://github.com/kubernetes/k8s.io/tree/master/gcsweb.k8s.io

[2020-09-30 21:37] alvaroaleman commented on #19407
ah okay, out of curiosity, why is it in a different repo and not part of the autobumping?

[2020-09-30 21:46] spiffxp commented on #19386
FWIW 2020-09-11 is when the nodepool was upgraded from v1.14 to v1.15 (ref: https://github.com/kubernetes/k8s.io/issues/1120#issuecomment-691193351) so I wouldn't be surprised if that's the triggering event.

What specifically changed and why it's causing flakiness I don't expect I have time to figure out.

Expect at least the control plane to be migrated to v1.16 in the next couple of weeks (http

[2020-09-30 23:58] MushuEE opened #19414 "Kettle google-cloud-sdk should not need force pinning."
**What should be cleaned up or changed**:
#19369 was added to deal with #19365
[code]

The pinning of the version should be a short term fix.

**Provide any links for context**:

[2020-09-30 23:58] MushuEE commented on #19414
/assign
/area kettle

[2020-09-30 23:59] MushuEE commented on #19414
Revert #19415 on close

[2020-10-01 00:13] MushuEE opened #19416 "Flake: ERROR: An error occurred during the fetch of repository 'bazel-base'"
**What happened**:
[Failure:](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/19415/pull-test-infra-bazel/1311455481528586240)
[code]
Seen in #17643 and #17534
**What you expected to happen**:
No failure on pull
**How to reproduce it (as minimally and precisely as possible)**:
Unknown
**Please provide links to example occurrences, if any**:
Above
**Anything else we need to k

[2020-10-01 09:04] jprzychodzen commented on #19411
Presubmit passed after few restarts. However, is was much slower than expected.

[2020-10-01 11:51] sftim opened #19420 "Hacktoberfest triage"
**What would you like to be added**:
Add a new triage label for drive-by, poor quality pull requests masquerading as contributions. Potentially, add automation to act on that label (eg: post explanatory comment, add `invalid` label, close issue).

**Why is this needed**:
Digital Ocean offer T-shirts to anyone making a high quality contribution to open source projects during October. Unfortunately,

[2020-10-01 11:52] sftim commented on #19420
Some context, a selection of PRs against [k/website](https://github.com/kubernetes/website/):
https://github.com/kubernetes/website/pulls?q=is%3Apr+Hacktoberfest

[2020-10-01 14:45] nikhita commented on #19420
We've reached out to DO about this and we are waiting for their response. Depending on their response, we can look at adding an `invalid` label just for October (i.e. we remove the label after October).

cc @mrbobbytables

/sig contributor-experience

[2020-10-01 14:47] markyjackson-taulia commented on #19420
Thank you for this!

[2020-10-01 15:26] thejoycekung commented on #19386
So these jobs all use the new image `gcr.io/k8s-testimages/kubekins-e2e:v20200929-82b41a1-master` and looking through their build logs, it still looks like the `curl` is only retried 3 times. (Am I still missing something?)

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1311467328172462080
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kube

[2020-10-01 15:31] annajung commented on #17893
Hi all, just wanted to raise this issue again since it's happening in the 1.20 release as well.
In addition to `@`, it looks like we also need to look for `#` in the PR title as well.

Example:
- https://github.com/kubernetes/website/pull/24290#issuecomment-701713998
- https://github.com/kubernetes/website/pull/24062

cc @jimangel @savitharaghunathan

[2020-10-01 16:38] michelle192837 commented on #19382
Ah sorry, forgot to update. I think oss-prow is fine now, I have not seen the error reoccur in recent logs. I'll close this particular issue since it's not causing a problem for us anymore.

Also fine with the log level for that message being downgraded!

[2020-10-01 16:38] #19382 closed

[2020-10-01 17:08] brian-avery commented on #17056
/remove-lifecycle rotten

[2020-10-01 17:28] chaodaiG opened #19426 "plank: Reconciler error not finding pod"
**What happened**:

Plank reconciler error with message:
[code]

While at the same time plank deleted and created the same pod:
![Screen Shot 2020-10-01 at 10 23 43 AM](https://user-images.githubusercontent.com/45011425/94842672-8555b680-03d0-11eb-9976-c38c14ce1bf3.png)

**What you expected to happen**:
Not quite sure about the order. Is plank reconciler error the result of planking deleting the p

[2020-10-01 17:28] chaodaiG commented on #19426
/kind oncall-hotlist

[2020-10-01 17:29] chaodaiG commented on #19426
cc @alvaroaleman in case you know more

[2020-10-01 17:43] alvaroaleman commented on #19426
@chaodaiG thats an internal link I can't access, what was the reason the pod got deleted?

[2020-10-01 20:06] alvaroaleman commented on #19426
The pod here got evicted from the node, in which case we silently replace it by first deleting it and then re-creating it in the next iteration: https://github.com/kubernetes/test-infra/blob/f2a89bbd48432579922ae1c8edc8ace85d5fc825/prow/plank/reconciler.go#L329-L354 The only bug here is that we do not properly cope with 404 when deleting. We apparently got two events, deleted the pod on the first

[2020-10-01 20:27] #19426 closed

[2020-10-01 23:17] MushuEE commented on #19420
They should make it only about planting trees and not the T-Shirt.

[2020-10-02 15:27] spiffxp opened #19436 "Build logs for image-builder GCB jobs remain stuck in GCB"
**What happened**:
People with (no-variants?) image-builder jobs have (occasionally?) been unable to access build logs for their job via spyglass.  Instead, contributors have to use their membership in a @kubernetes.io group and view the logs directly in GCB, or bug someone with access to GCB to do so.

**What you expected to happen**:
The intended path, AFAIK, is for image-builder to download log

[2020-10-04 00:18] #16643 closed

[2020-10-04 07:53] bsdnet commented on #19384
No, they are running on latest COS image. There is some tricks like what @BenTheElder  mentioned, some directories are symlinked.

[2020-10-05 06:18] matthyx commented on #9757
/remove-lifecycle stale

[2020-10-05 06:19] matthyx commented on #9126
/remove-lifecycle stale

[2020-10-05 10:18] RobertKielty commented on #19386
@thejoycekung I'm not sure about the 3 vs 5 retries but chasing down the error reported by curl

`curl: (56) OpenSSL SSL_read: SSL_ERROR_SYSCALL, errno 104`

I found this issue reported on curl https://github.com/curl/curl/issues/4409 which led to this mitigation fix https://github.com/curl/curl/issues/4624

I believe upgrading CURL to the 7.72 release https://curl.haxx.se/changes.html#7_72_0 whic

[2020-10-05 11:34] matthyx commented on #9079
/assign

[2020-10-05 11:36] matthyx commented on #11994
@cjwagner I have started with something here: https://github.com/kubernetes/test-infra/pull/19449

[2020-10-05 12:03] matthyx commented on #9079
- [ ] blockade
- [ ] blunderbuss
- [ ] bugzilla
- [ ] cat
- [ ] cherrypickunapproved
- [ ] dco
- [ ] golint
- [ ] goose
- [ ] heart
- [ ] label
- [ ] lgtm
- [ ] milestoneapplier
- [ ] override
- [ ] project
- [ ] projectmanager
- [ ] require-matching-label
- [ ] requiresig
- [ ] retitle
- [ ] slack
- [ ] sigmention
- [ ] size
- [ ] trigger
- [ ] welcome

[2020-10-05 13:29] hasheddan commented on #19386
@thejoycekung good catch! I had missed a check in `extract_k8s.go`, should be updated in #19451. Apologies for the miss there!

@RobertKielty that might be related to what we are seeing, but I think we always get the [latest stable versions](https://github.com/kubernetes/test-infra/blob/7dae3ca7165798ecbc8b232da520092087668618/images/bootstrap/Dockerfile#L33) of dependencies like curl. As mentione

[2020-10-05 13:47] nikhita commented on #19420
Hacktoberfest is now opt-in and we are not going participating - https://groups.google.com/g/kubernetes-dev/c/jDp34QS38iw/m/kgoVNz7sCgAJ

Closing this issue :)

[2020-10-05 13:47] #19420 closed

[2020-10-05 14:19] thejoycekung commented on #19386
@RobertKielty I think the issue is relevant - we're still seeing lots of flakes with it. Bumping it up to 5 retries is a patch, but we haven't seen it properly in action yet (so it might not even work).

@hasheddan Thank you for fixing that - we should've caught it while reviewing 😅 How much work is involved with moving to `gsutil`?

k8s.io#1284 mentions that the bump to v1.16 happen `sometime aft

[2020-10-05 17:17] RobertKielty commented on #19386
/cc @droslean @alejandrox1

[2020-10-05 17:30] bsdnet commented on #19401
@knabben  gci is the early name of COS. The test is not old image, and just the naming.
I suggest that we can move them into a separate dashboard

[2020-10-05 18:49] raghurps opened #19456 "Provide command args for prow jobs' chatOps command"
**What would you like to be added**:
Functionality to provide args to prowjobs as part of chatOps command.
e.g. `/test myJob --run-suite=e2e --debug`
Translate these args to job spec by appending these args.

**Why is this needed**:
Consider a scenario where I have 100 test suites.

If I want to trigger each suite separately, I may have to add 100 preSubmit jobs in config.yaml or my repo's `.prow.

[2020-10-06 01:21] cjwagner opened #19459 "The prowjob_state_transitions metric is imprecise and unavailable for non-kubernetes agent ProwJobs."
**What happened**:
Plank/Prow-controller-manager's `prowjob_state_transitions` metric doesn't seem to be properly reporting the state transitions per loop (or per 30 seconds in the case of the controller manager). See this graph that shows the results for the following query:
[code]
![Screenshot from 2020-10-05 17-58-13](https://user-images.githubusercontent.com/5334145/95147232-01376200-0735-11eb

[2020-10-06 11:04] knabben commented on #19401
The proposal of the issue is to move in a new dashboard under sig-node, do you have any other in mind for these gci jobs?

[2020-10-06 20:30] cjwagner commented on #19459
It looks like the large starting values are not usually detected because the prometheus `rate()` function handles breaks in monotonicity as a single increment and the initial surge of increments happens very quickly, making it unlikely that the prometheus server scrapes during the initial surge (which would cause it to actually count the remaining increments in the surge as opposed to considering

[2020-10-07 14:16] spiffxp opened #19477 "Mitigate dockerhub changes rolling out Nov 1st"
Creating this as a placeholder based on discussion in Slack and yesterday's SIG Testing meeting.  I'll sketch in what I remember but to defer to @BenTheElder for a plan

Dockerhub is going to rate-limit pulls starting Nov 1st.  See https://www.docker.com/pricing/resource-consumption-updates

Pull limit is:
- anonymous (rate limited per IP) - 100 per 6h (~16/h)
- authenticated - 200 per 6h (~33/h)

[2020-10-07 14:20] spiffxp commented on #19477
/assign @BenTheElder
/sig testing
/priority important-soon
We should survey soon and evaluate priority based on that.

[2020-10-07 14:21] spiffxp commented on #19477
/area images
/area jobs
for changing jobs
/area prow
for the idea of a pull-through cache

[2020-10-07 14:33] aojea commented on #19477
If all the images used are here

https://github.com/kubernetes/kubernetes/blob/00b6d7ccee30b435509e1547916ab1b42738ff21/test/utils/image/manifest.go#L204-L244

There are only 8 images, it seems easy to move them to gcr.io

[code]

[2020-10-07 15:27] spiffxp commented on #19477
@aojea yeah we should probably start there, and mirror these images used as part of e2e tests into k8s.gcr.io (FYI @dims @thockin).  I would probably put them in the same repo we're putting other e2e test images

I took a swag at images pulled by kublets during a run of https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default.  It's shell, and I haven't verified whether the speci

[2020-10-07 17:01] spiffxp commented on #19477
Looking across the k8s-infra-prow-build cluster
[code]

[2020-10-07 20:58] spiffxp commented on #19070
/close
Calling this done

[2020-10-07 20:58] #19070 closed

[2020-10-07 21:10] spiffxp opened #19483 "release-blocking jobs must run in dedicated cluster: ci-kubernetes-build"
**What should be cleaned up or changed**:

This is part of #18549

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

NOTE: I am not tagging this as "help wanted" because it is blocked on https://github.com/kubernetes/k8s.io/

[2020-10-07 21:12] spiffxp opened #19484 "release-blocking jobs must run in dedicated cluster: ci-kubernetes-build-fast"
**What should be cleaned up or changed**:

This is part of #18549

To properly monitor the outcome of this, you should be a member of k8s-infra-prow-viewers@kubernetes.io.  PR yourself into https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L603-L628 if you're not a member.

NOTE: I am not tagging this as "help wanted" because it is blocked on https://github.com/kubernetes/k8s.io/

[2020-10-07 21:22] spiffxp commented on #18652
/close
Yeah this is done

[2020-10-07 21:22] #18652 closed

[2020-10-07 21:28] spiffxp commented on #19483
/sig release
FYI @kubernetes/release-engineering

[2020-10-07 21:28] spiffxp commented on #19484
/sig release
FYI @kubernetes/release-engineering

[2020-10-08 12:23] nikhita commented on #17893
Created https://github.com/kubernetes/test-infra/pull/19491 to fix this

/assign

[2020-10-08 12:30] sftim opened #19492 "Mentioning an issue or PR id in the title of a different PR creates merge problems"
**What happened**:
@annajung [mentioned](https://github.com/kubernetes/test-infra/issues/17893#issuecomment-702216428) that issue and PR numbers in PR titles cause problems for SIG Docs' release team.

**What you expected to happen**:
It should not be possible to command Prow to create a commit that Prow then considers unacceptable. Alternatively, it _is_ possible but you have to explicitly opt-in

[2020-10-08 12:30] sftim commented on #19492
PR #19491 covers similar ground

[2020-10-08 12:32] nikhita commented on #19492
I'll cover this in https://github.com/kubernetes/test-infra/pull/19491 :smile:

/assign

[2020-10-08 12:51] nikhita commented on #19492
/sig contributor-experience

[2020-10-08 14:34] #17893 closed

[2020-10-08 14:34] #19492 closed

[2020-10-08 17:27] mmerkes commented on #18973
Per the SIG-node CI subgroup meeting, we discussed sending an email to sig-architecture and sig-node to discuss the expectations and desired state for the `NodeConformance` tests. Here's a draft:

Greeting all,

In the SIG-Node CI subgroup, we've been discussing an initiative from 2018 to create node conformance tests "as part of the effort to establish process and policy for testing CRI implement

[2020-10-08 19:32] bgilbert opened #19499 "Prow job pages don't load properly when opened in the background"
**What happened**:

When I open multiple Prow job pages in background tabs, and then switch to them later, the job info has not loaded.

![image](https://user-images.githubusercontent.com/361374/95504284-8fe8f080-097a-11eb-8f40-3668fac349ec.png)

**What you expected to happen**:

Job details load properly.

**How to reproduce it (as minimally and precisely as possible)**:

Control-click [this link

[2020-10-08 22:10] cjwagner opened #19501 "Hook git fetch errors: "transfer closed with outstanding read data remaining""
**What happened**:
I'm seeing many errors (~50 so far today) like the following in the k8s-prow logs:
[code]

**What you expected to happen**:
These network errors should be far less common.

Does anyone know of any recent changes that could have caused this or what this symptom suggests? I don't see any occurrences before Oct 5th at 10:20am so Monday's bump may be responsible. This seems to be a

[2020-10-09 05:29] chaodaiG commented on #19501
These warnings were printed in the first iteration of a retry loop, and if it failed again there should be an adjacent warning, also if it exhausted all retries there should be error logs reported by hook. Since I didn't find any of them in the logs, this probably was due to network flakiness. Created https://github.com/kubernetes/test-infra/pull/19505 to silent these warnings

[2020-10-09 08:08] RobertKielty commented on #19034
@snowmanstark , who is new to the project and keen to contribute, pinged me about working on this.

Building on the signposting offered by @spiffxp (many thanks, much appreicated) we formulated the following plan

1. The problem is either with the Prow job artifact data that we were looking at with gsutil
OR it it is a bug in SpyGlass which presents the data to us as this HTML

2. The row count of

[2020-10-09 10:29] #19501 closed

[2020-10-09 14:52] stevekuznetsov commented on #19499
I swear we had this reported before, too -- it's only on Fedora IIRC and nobody had any clue as to why this happened. cc @alvaroaleman @Katharine

[2020-10-09 15:26] alvaroaleman commented on #19499
This only happens in firefox and not in chrome.

[2020-10-09 17:39] cjwagner commented on #19326
/assign yodahekinsew
This error appears to be caused by the job added in this PR: https://github.com/kubernetes/test-infra/pull/19003

[2020-10-09 17:45] cjwagner opened #19511 ""Unprocessable pod" errors should be exposed to users."
**What would you like to be added**:
We should have a way to expose unprocessable pod errors to users somehow.

**Why is this needed**:
Currently if users provide an unprocessable podspec plank simply sets the job state to error and the only explanation is in plank's logs. This is not actionable to job authors and adds toil for oncall.

example: https://github.com/kubernetes/test-infra/issues/1932

[2020-10-09 18:54] cjwagner commented on #17855
There are a large number of `Not using a partitioned cache because legacyDisablePartitioningByAuthHeader is true` messages that each mention two different directories (`cache-base-path` and `cache-temp-path`) and each of the messages has different pairs of directories. After digging through the code a bit I'm pretty confident that this is asking us to copy this directory https://github.com/kuberne

[2020-10-10 18:59] alvaroaleman commented on #15611
/assign

[2020-10-12 08:07] LappleApple commented on #18550
In the write-up, under

This item is now closed:
_kubernetes/k8s.io#851 - scalability-project_

Is that TODO now complete?

Also wondering if the other items in the TODO section:

Need an update.

[2020-10-12 13:36] alvaroaleman commented on #19459
That would still be fine because then `rate()` would just handle two breaks of monotonicity instad of one? The bug here is IMHO that we consider "not seen" an increase but it happens to not be a problem.

re 1: Not sure I understand, jobs get created with `.status.state` set to `triggered` already, why would we count they multiple times?

re 2.: I think this was a design decision. The jenkins cont

[2020-10-12 14:41] nikhita commented on #11402
/lifecycle frozen

On Mon, Oct 12, 2020 at 8:10 PM fejta-bot <notifications@github.com> wrote:

[2020-10-12 18:46] cjwagner commented on #19459
There is only one break in monotonicity (larger value to smaller value), the second scrape would see a significant change in the value, but it would be monotonic (smaller value to larger value) so the rate() function would count the full size of the value increase, not just a count of 1.

I don't think we consider "not seen" an increase? If we don't see any transitions after a new plank pod is cre

[2020-10-12 21:44] cjwagner opened #19534 "Plank errors listing pods cause plank to try to recreate pods for all running ProwJobs."
**What happened**:
Plank failed to list pods and proceeded to try to create a pod for every running ProwJob that it failed to list pods for. This resulted in many `pod <pod-name> already exists` errors.

**What you expected to happen**:
If Plank fails to list pods for a build cluster, ProwJobs from that build cluster should be ignored for that sync loop.

/help

[2020-10-12 22:27] Ark-kun commented on #17651
My bad. It's now pretty obvious Prow has nothing to do with that.

[2020-10-12 22:27] #17651 closed

[2020-10-12 22:29] Ark-kun commented on #19054
To the extent of my knowledge, our test code does not generate `finished.json` files.

[2020-10-12 23:13] PatrickXYS commented on #19054
To clarify, our code generate `finished.json`,

https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/prow_artifacts.py#L264

And since we enabled `decorate: true`, sidecar re-write the `finished.json` file

[2020-10-13 17:54] spiffxp commented on #19477
Looks like we could stand to mirror golang, node, python and alpine too.
[code]

My concern is we probably don't want to end up paying to serve these much more commonly used images to non-kubernetes projects.

[2020-10-13 17:55] spiffxp commented on #19477
These might be available on mirror.gcr.io https://cloud.google.com/container-registry/docs/pulling-cached-images

[2020-10-13 18:22] #19511 closed

[2020-10-13 18:28] alvaroaleman opened #19553 "Tide status controller query frequently gets a 502"
**What happened**:
The tide status controller query frequently gets a 502 from github which in turn renders it unable to post the tide status which confuses uses. Error looks something like this:

[code]

Github support advised us to shard the query so that is what we should do.

/kind bug
/area prow
/area prow/tide

**What you expected to happen**:

**How to reproduce it (as minimally and precise

[2020-10-13 18:52] cjwagner commented on #14520
/reopen
/remove-lifecycle rotten

[2020-10-13 18:56] cjwagner commented on #19326
This is still an issue.
/assign @justaugustus @listx

[2020-10-13 19:54] chizhg opened #19555 "Spyglass page keeps spinning when it loads an extra large buildlog file"
**What happened**:
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/9790/pull-knative-serving-istio-stable-no-mesh/1315859761295527938 keeps spinning when it tries loading the buildlog file. From the debug window, the request is returning a 502 error:
![image](https://user-images.githubusercontent.com/19399934/95909009-aadcab80-0d52-11eb-8718-9c81220fdcad.png)

**What you

[2020-10-14 19:39] leeyspaul opened #19568 "Include a comment response for /check-cla failure"
**What would you like to be added**:

Upon running /check-cla, if the check is not successful, append a comment to a PR to notify the user of the issue.

**Why is this needed**:

It would be useful in notifying users that /check-cla failed with a comment and some output from the bot to know that it indeed ran, instead of a silent run.

For example, in this PR: https://github.com/kubernetes/website

[2020-10-14 19:52] BenTheElder commented on #19407
It doesn't run as part of the google.com infrastructure, unlike prow.k8s.io's primary clusters and the targets being bumped.

github.com/kubernetes/k8s.io hosts manifests for the things running on CNCF infrastructure, including also CNCF build cluster + boskos + the literal k8s.io + k8s.gcr.io + ...

[2020-10-14 20:44] BenTheElder commented on #19568
Note that /check-cla is meant to force re-synchronizing the state between the label (applied by prow / the bots in this repo) and the CLA status check (at the bottom of the page with other CI results) which is the source of truth from the CNCF's robot (which we don't control and isn't open source).

Most of the history on https://github.com/kubernetes/website/pull/24556 `/check-cla` comments are a

[2020-10-14 20:48] BenTheElder commented on #19477
Note that the most popular images are in mirror.gcr.io which our CI nodes and our clusters should be generally using*

\* not kind, and possibly not docker in docker. the latter is easy to move to this if it's not already.

Something like glusterdynamic-provisioner is most likely not in it.

[2020-10-14 20:49] leeyspaul commented on #19568
Awesome, thank you for the context!

[2020-10-14 22:18] amwat commented on #18706
FYI this is still reproducible

[code]
doesn't work

[code]

does

[2020-10-14 22:46] ameukam commented on #19477
@spiffxp @claudiubelu Turns out `busybox` and `golang` are in mirror.gcr.io:

[code]
[code]

[2020-10-14 22:50] zshihang opened #19575 "TODOs for sig-auth-serviceaccount-admission-controller-migration upgrade test"
**What should be cleaned up or changed**:

- use sig auth mailing list as `testgrid-alert-email`
- use release/stable-x.y as extracts
- lower frequency to 1/day

**Provide any links for context**:

[2020-10-14 22:51] zshihang commented on #19575
/cc @liggitt

[2020-10-14 23:21] leeyspaul commented on #13063
Nothing helpful to comment on but simply adding that I would love to see this as someone who would like to learn how it all works.

[2020-10-15 00:08] bsdnet commented on #19401
The first step should be consolidated them into a dashboard like sig-node-cos.
sig-node-cos
* containerd-e2e-cos-1.2
*  containerd-e2e-cos-1.3
*  e2e-cos-alpha-features
* e2e-cos-device-plugin-gpu
* e2e-cos-flaky
* e2e-cos-ingress
 * e2e-cos-ip-alias
 * e2e-cos-multizone
 * e2e-cos-proto
 * e2e-cos-reboot
 * e2e-cos-serial
 * e2e-cos-slow
 * soak-cos-gce

Then we can start from there.  At least, t

[2020-10-15 07:05] matthyx commented on #14049
I think this goes beyond my current understanding of the whole infra...

[2020-10-15 11:19] matthyx commented on #19534
/assign

[2020-10-15 14:56] slinkydeveloper opened #19583 "Remove the dependency on knative.dev/pkg"
**What should be cleaned up or changed**:

This module has a dependency on knative.dev/pkg, generating a circular dependency in knative dependency tree:

We should look at removing it, since this is causing issues with our go mod resolution

**Provide any links for context**:

* Usage: https://github.com/kubernetes/test-infra/search?q=knative.dev%2Fpkg
* test-infra issue: https://github.com/knativ

[2020-10-15 15:09] howardjohn commented on #19583
I vaguely recall looking into this and while the usage seems minimal there are also major indirect dependencies on it. I could be remembering wrong though.

[2020-10-15 15:10] slinkydeveloper commented on #19583
Yeah it seems minimal. I'm gonna try to remove it, let's see what comes out of it

[2020-10-15 15:11] howardjohn commented on #19583
What I mean is even if you remove it from the go.mod, the go.mod imports tekton which imports knative so it will still be imported

[2020-10-15 15:13] slinkydeveloper commented on #19583
Ah I didn't get it, so we have this cycle too?

[2020-10-15 16:21] jayunit100 opened #19585 "e2e local still doesn't pass"
**What happened**:
e2e local still doesn't pass in PROW because there are some `Serial` 2 node tests on it

**What you expected to happen**:

local-up tests should pass for one node clusters

**How to reproduce it (as minimally and precisely as possible)**:

create a PR that updates local-up-cluster

**Please provide links to example occurrences, if any**:

https://prow.k8s.io/view/gcs/kubernetes-

[2020-10-15 18:38] spiffxp commented on #11402
/assign @ameukam
who has worked on setting up ghproxy for k8s-infra-prow-build-trusted ref: https://github.com/kubernetes/k8s.io/issues/843

We should deploy this token over there, create a canary job and verify that the proxy is being used instead of direct github access.  I would recoemmend a peribolos job in dry-run mode (run without a `--confirm` flag).

We can then migrate all github-related

[2020-10-15 18:39] bvwells opened #19588 "Enable golangci-lint for static analysis"
**What should be cleaned up or changed**:

This is a follow up to PR #19444. [golangci-lint](https://github.com/golangci/golangci-lint) can be used to identify various static analysis issues such as dead code, poor formatting, inefficient assignment and use of deprecated APIs and ultimately bugs.

I think that this tool would be useful in identifying issues in the code base.

**Provide any links f

[2020-10-15 18:40] spiffxp commented on #11402
I don't have access to secrets in the prow.k8s.io cluster, I will need to see if I can login as k8s-github-robot.

[2020-10-15 18:40] bvwells commented on #19588
As promised @alvaroaleman, here is the suggestion to add golangci-lint. I'm happy to have a go at enabling it.

[2020-10-15 19:05] alvaroaleman commented on #19588
That would be great :) It requires adding a job in config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml

[2020-10-15 19:29] bvwells commented on #19588
@alvaroaleman something like this?

[code]

[2020-10-15 19:36] alvaroaleman commented on #19588
Yes, except for the `run_if_changed`. You also need to add a config for it so this actually passes

[2020-10-15 19:37] claudiubelu commented on #19477
Interesting. But we actually have a new type of issue I didn't think about at the meeting: support for multiple architecture types. And it seems like I'm right:

    docker run --rm mplatform/mquery mirror.gcr.io/library/busybox:1.29
    Unable to find image 'mplatform/mquery:latest' locally
    latest: Pulling from mplatform/mquery
    db6020507de3: Pull complete
    f11a2bcbeb86: Pull complete

[2020-10-15 19:38] bvwells commented on #19588
Sounds good. I haven't used Bazel much, but was trying to workout how to add golangci-lint to the build chain. Does this need to be done as well?

[2020-10-15 19:39] alvaroaleman commented on #19588
@fejta is the one who would have the last word on that, I personally think its fine without and just adding a new job

[2020-10-15 20:40] fejta commented on #19588
Does `bazelisk run @io_k8s_repo_infra//hack:verify-golangci-lint` already work? https://github.com/kubernetes/repo-infra/blob/master/hack/BUILD.bazel#L139

[2020-10-15 20:44] bvwells commented on #19588
I'll have a play and double check.

[2020-10-15 21:08] bvwells commented on #19588
I might be doing something wrong, but I get:

[code]

[2020-10-15 21:13] fejta commented on #19588
Hmm... What version of repo-infra are we using? What version of golangci-lint does that use? What version are you trying to use in this repo?

[2020-10-15 21:15] MushuEE opened #19592 "Build Kettle Staging Workflow"
# Project Plan: Kettle Staging Env

## 1. Introduction
Currently [Kettle](https://github.com/kubernetes/test-infra/tree/master/kettle) is a service that runs in GCP, scrapes a collection of GCS buckets for Job info/status. It takes the job results, stores them in a local SQL db and then passes the data to [BQ tables](https://bigquery.cloud.google.com/dataset/k8s-gubernator:build). This process is

[2020-10-15 21:27] bvwells commented on #19588
Looks like test-infra v0.0.6

https://github.com/kubernetes/test-infra/blob/53bda1faf44783c1799b4b28edba254aba702509/load.bzl#L25

Golangci-lint v1.25.0
https://github.com/kubernetes/repo-infra/blob/ff5f05a1f1dd8d0488e132c7d185d6323b29dcd0/repos.bzl#L329

[2020-10-15 21:29] alvaroaleman commented on #19588
@fejta will the golangci-lint version be configurable? I would prefer not to be forced onto the same version a dependency uses

[2020-10-15 21:32] bvwells commented on #19588
Looks like this repo uses v1.27.0

https://github.com/kubernetes/test-infra/blob/53bda1faf44783c1799b4b28edba254aba702509/repos.bzl#L4266

Not sure how the whole build chain hangs together. I'm imagining that this is a conflict...

[2020-10-15 21:39] fejta commented on #19588
Has to do with conflicting versions getting declared in these two places:

https://github.com/kubernetes/test-infra/blob/53bda1faf44783c1799b4b28edba254aba702509/WORKSPACE#L26-L32

Can you try repeating L26-28 after the `_repo_infra_go_repos()`?

[2020-10-15 22:02] aojea commented on #19477
naive questions, do you think that those CIs in anothers architectures can hit dockerhub limits?

[2020-10-16 13:12] jayunit100 commented on #19585
Ok this is fixed now ! Closing !!!!

[2020-10-16 14:26] claudiubelu commented on #19477
Good question, actually.

Doing a grep in test-infra/config/jobs, I can see:

- arm64: 3 periodic jobs with an 8h interval: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/kops/kops-periodics-misc.yaml
- arm, arm64, ppc64le, s390x presubmits: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/service-catalog/service-catalog-presubmits.yaml

[2020-10-16 18:27] spiffxp commented on #19326
I would recommend moving this job over to k8s-infra-prow-build-trusted (which has this account, ref: https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/build-serviceaccounts.yaml#L50-L56)

The job would need to live here https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/wg-k8s-infra/truste

[2020-10-16 18:27] spiffxp commented on #19326
Also ref: https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/266#issuecomment-710162069

[2020-10-16 18:38] cjwagner opened #19607 "Verify-owners plugin does not remove the do-not-merge label if PR is updated to remove all OWNERS files."
**What happened**:
1. A PR included the creation of some invalid OWNERS files (approvers who were not members).
1. The [verify-owners](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/verify-owners) plugin added the `do-not-merge/invalid-OWNERS-file`
1. The PR was updated to remove all the OWNERS files.
1. The verify-owners plugin did not remove the do-not-merge label because ther

[2020-10-16 19:28] matthyx commented on #9079
all done, thanks @cjwagner
/close

[2020-10-16 19:28] #9079 closed

[2020-10-16 21:55] cjwagner commented on #19534
That sounds sensible to me.

[2020-10-16 22:39] hh opened #19613 "Support patching default ADVANCED_AUDIT_POLICY"
**What would you like to be added**:

Support patching the default audit policy rather than needing to track when changes are made and manually reapplying a full policy with patch included.

**Why is this needed**:

Ideally if we had a small change we wanted to make, we would have an opportunity to patch or create a small change. Like we needed for https://github.com/kubernetes/test-infra/pull/195

[2020-10-17 00:18] #19386 closed

[2020-10-17 04:21] Rustin-Liu commented on #13804
/reopen

[2020-10-18 00:11] justaugustus commented on #19326
Carlos, please work on this as part of https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/269.

/assign @cpanato
/unassign

[2020-10-18 00:46] #17667 closed

[2020-10-18 06:24] joostas commented on #19607
/assign

[2020-10-19 00:09] #16886 closed

[2020-10-19 00:09] #17207 closed

[2020-10-19 00:09] #17503 closed

[2020-10-19 01:10] #17645 closed

[2020-10-19 07:12] hh commented on #19613
Since #19502 merged we had some trouble with the yaml being valid.

https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%20master

<img width="1383" alt="image" src="https://user-images.githubusercontent.com/31331/96412712-058c7080-1247-11eb-811f-75a81a4cec14.png">

Understandable as it is yaml, embedded as an ENV var, as a PodSpec, within a prow job.

[code]

I ran the job locally, m

[2020-10-19 07:14] hh commented on #19613
I try to apply this policy to a cluster locally and see if I get the same error, but welcome more eyes on this.

[2020-10-19 16:25] #17688 closed

[2020-10-19 16:32] spiffxp commented on #19484
https://github.com/kubernetes/test-infra/pull/19487 created a canary job

Next steps to take are spelled out in https://github.com/kubernetes/k8s.io/issues/846#issuecomment-705722852

Is the job working?  If so, it's time to switch other jobs to use the new path

[2020-10-19 16:39] spiffxp commented on #19484
https://testgrid.k8s.io/sig-release-master-informing#build-master-fast-canary&graph-metrics=test-duration-minutes&width=5 is green, and its durations are comparable to https://testgrid.k8s.io/sig-release-master-blocking#build-master-fast&graph-metrics=test-duration-minutes&width=5

[2020-10-19 16:53] matthyx commented on #19607
Oh wow, never thought about that one...
@joostas let me know if you need a hand at this one!

[2020-10-19 16:55] matthyx commented on #16145
/assign

[2020-10-19 17:17] matthyx commented on #11994
@parispittman any update on the text+links to include to the comment?

[2020-10-19 17:57] #19585 closed

[2020-10-19 19:57] spiffxp commented on #19477
These all end up invoking GCB builds which is where the image pulls would happen.  I am less concerned about these, mostly because I doubt they run at a volume that would cause any rate limiting even if they all theoretically ran on the same instance.

I am more concerned about the long tail of jobs on prow's build cluster causing a specific node to get rate-limited.

[2020-10-19 23:35] MushuEE opened #19625 "Big Query Staging table issue in field type"
**What happened**:
Big Query [staging](https://console.cloud.google.com/bigquery?utm_source=bqui&utm_medium=link&utm_campaign=classic&project=k8s-gubernator) has malformed field

gubernator:build.staging. Field number has changed type from STRING to INTEGER

**What you expected to happen**:
Successful upload to tables
**How to reproduce it (as minimally and precisely as possible)**:
Run a `bq_load

[2020-10-19 23:35] MushuEE commented on #19625
/area kettle

[2020-10-19 23:59] MushuEE commented on #19625
This required [deleting](https://cloud.google.com/bigquery/docs/manually-changing-schemas#changing_a_columns_data_type) and rebuilding the table from scratch

[2020-10-19 23:59] #19625 closed

[2020-10-20 11:45] sftim opened #19627 "Allow setting draft status via Prow"
**What would you like to be added**:
I'd like approvers (maybe reviewers too?) to be able to ask Prow to convert a PR to draft

**Why is this needed**:
In [k/website](https://github.com/kubernetes/website), SIG Docs sees a pattern each release cycle where people open placeholder PRs that are marked as placeholders in the PR title and description, but that's not copied to metadata (GitHub API, and

[2020-10-20 14:48] hi-rustin opened #19629 "Add configuration for prow plugin's respond"
**What would you like to be added**:
Could we add some configurations to the https://github.com/kubernetes/test-infra/blob/6ad9eb5f38fc7ca9867b2700f1eced5a2e5454ff/prow/plugins/respond.go#L30

and

https://github.com/kubernetes/test-infra/blob/6ad9eb5f38fc7ca9867b2700f1eced5a2e5454ff/prow/plugins/respond.go#L27

**Why is this needed**:

Because I want to use these plugins in my project or communit

[2020-10-20 14:57] claudiubelu commented on #19477
That makes sense, that should be less concerning for us then. Although, GCB could have the same issues since we're not the only ones building images through GCB.

I've read the dockerhub FAQ, and I saw this:

[code]

This should apply to us too, right? If so, have we applied yet?

[2020-10-20 17:50] kkeshavamurthy opened #19630 "Boskos AWS resource creation for image-builder CI"
**What would you like to be added**:
Atleast 2 AWS boskos resources of type `image-builder-aws` [here](https://github.com/kubernetes/test-infra/blob/master/config/prow/cluster/boskos-resources.yaml)

**Why is this needed**:
[image-builder](https://github.com/kubernetes-sigs/image-builder) is looking to have CI for building AMIs and would like to utilize boskos to manage the AWS resources.

CC: @de

[2020-10-20 18:39] detiber commented on #19630
I would likely recommend starting with more than 2 resources, otherwise it will be very easy to exhaust the pool. I would likely suggest 5 as a bare minimum, but likely 10 as a more reasonable starting point.

@kkeshavamurthy you should be able to create the PR to add the resources to that file. Will need to coordinate with @justinsb on the subaccount creation and with `test-infra-oncall` to popul

[2020-10-20 18:46] kkeshavamurthy commented on #19630
Thanks a lot for all the pointers @detiber . I'll start looking into them.

[2020-10-20 18:48] detiber commented on #19630
As an aside, there are a couple of outstanding PRs by @justinsb for automation of accounts for AWS
https://github.com/kubernetes/k8s.io/pull/660
https://github.com/kubernetes/k8s.io/pull/1016

[2020-10-20 19:33] hh commented on #19613
It might be easier to create a new job based on kind conformance.

[2020-10-20 20:21] spiffxp commented on #19484
https://github.com/kubernetes/test-infra/pull/19620 updated kubetest to add a `--extract-ci-bucket` flag

https://github.com/kubernetes/test-infra/pull/19632 updates a job to use the new kubetest without the flag to verify nothing breaks

Next PR will add `--extract-ci-bucket k8s-release-dev` to migrate a job to use the results of the canary job added in https://github.com/kubernetes/test-infra/pu

[2020-10-20 21:27] #19376 closed

[2020-10-20 22:55] #17582 closed

[2020-10-21 09:17] petr-muller opened #19642 "status-reconciler triggers new jobs that would not be triggered because of `run_if_changed`"
**What happened**:

We had a user reporting that a job does not trigger on a PR while being triggered before. We discovered the [job has a restrictive regex in run_if_changed](https://github.com/openshift/release/blob/db2a0b6a118789e94004cdbd348cd8b933f693e0/ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-master-presubmits.yaml#L856) `^(openshift-hack/images/hyperkube)$` which rules out

[2020-10-21 15:06] spiffxp commented on #19484
Now that https://github.com/kubernetes/test-infra/pull/19634 has confirmed the new bucket works, we should migrate any jobs that use `--extract=ci/latest-fast` using the same approach.

Then confirm migrated jobs still work.

Then delete the original job and rename the canary.

Then this is done

[2020-10-21 15:12] cpanato commented on #19484
@spiffxp I will update the ci-kubernetes-build-fast job

[2020-10-21 15:14] cpanato commented on #19484
@spiffxp I will update the ci-kubernetes-build-fast job

[2020-10-21 21:17] vicsufer commented on #19232
Hi @Rustin-Liu are you still working on it? I'd like to give it a try if not.

[2020-10-22 00:50] zachmandeville opened #19658 "metadata and output of ci-audit-kind-conformance job should match structure of existing e2e test run jobs"
**What happened**:
A new test run job has been created here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-audit-kind-conformance
It's intended to be mostly similar to the job [ci-kubernetes-e2e-gci-gce](https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce), but running kind and with adjustments to its audit policy to include endpoints skipped in this latter

[2020-10-22 07:08] BenTheElder commented on #19658
This is the difference between the deprecated jenkins/bootstrap.py and the prow/ pod-utilities (`decorate: true`). Relying on jobResultsCache and the additional data in finished.json is not supported.

[2020-10-22 08:45] stone-z commented on #17956
For those finding this issue, we wound up using [Tekton](https://tekton.dev/) to provide the setup and teardown logic we need.

We use Prow primarily as the trigger, and the resulting ProwJob runs a Tekton pipeline.
We provide standard Tekton Tasks which our teams can re-use, and the teams can provide any additional functionality as their own Tekton Tasks.

You can find all this in our [test-infra

[2020-10-22 09:58] Aisuko commented on #18150
/remove-lifecycle stale

[2020-10-22 13:06] alvaroaleman opened #19662 "pull-test-infra-bazel broken"
Related: https://github.com/bazelbuild/continuous-integration/issues/1055

**What happened**:

pull-test-infra-bazel permanently fails with:
[code]

Samples:
* https://github.com/kubernetes/test-infra/pull/19647
* https://github.com/kubernetes/test-infra/pull/19655
* https://github.com/kubernetes/test-infra/pull/19659

**What you expected to happen**:

**How to reproduce it (as minimally and preci

[2020-10-22 13:16] rifelpet commented on #19662
[My PR](https://prow.k8s.io/pr-history/?org=kubernetes&repo=test-infra&pr=19652) was failing with this same issue about 15 hours ago. Retrying it now and it appears to be [stuck](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/19652/pull-test-infra-bazel/1319254306397884416).

There are other PRs with [jobs in the same state](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr

[2020-10-22 13:45] alvaroaleman commented on #10884
@kushthedude sorry, I completely missed your comment. This issue hasn't been addressed and yes, this is about adding retry logic in the podutils

[2020-10-22 15:27] thejoycekung commented on #19662
Similar issues happening for the `periodic-kubernetes-bazel-build-master` job - kubernetes#95795

[2020-10-22 16:43] cblecker commented on #18388
Another use case for something like this: the docs team has PRs in k/website that they'd like to hold until the main code PR in k/k merges

[2020-10-22 18:11] hopkiw commented on #17747
/remove-lifecycle stale

[2020-10-22 18:25] MushuEE commented on #19592
/cc @spiffxp @BenTheElder @amwat

[2020-10-22 18:25] #19592 closed

[2020-10-22 18:58] spiffxp commented on #19477
We should not be referencing mirror.gcr.io directly but configuring docker and containerd to do so https://cloud.google.com/container-registry/docs/pulling-cached-images#configure

k8s-infra-prow-build nodes have containerd setup to use it:
[code]

as does k8s-prow-builds (aka the 'default' build cluster)
[code]

[2020-10-22 19:05] spiffxp commented on #19477
Clusters stood up using kube-up.sh also have this enabled by default: https://github.com/kubernetes/kubernetes/blob/ededd08ba131b727e60f663bd7217fffaaccd448/cluster/gce/config-default.sh#L163-L164

and while under test:
https://github.com/kubernetes/kubernetes/blob/ededd08ba131b727e60f663bd7217fffaaccd448/cluster/gce/config-test.sh#L175-L176

which causes mirror.gcr.io to be set as a registry mirr

[2020-10-22 19:30] fejta commented on #19662
This looks related to RBE. One option is to reduce paralleism. A second is to turn off RBE. Going to try out both approaches.

[2020-10-22 19:35] spiffxp commented on #19662
FWIW

**pull-test-infra-bazel** uses RBE (but perhaps without a remote cache)
- first failing job started 2020-10-21 20:39 UTC (https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/19651/pull-test-infra-bazel/1319015417548640256)
- pull-test-infra-bazel runs in the default build cluster (there is no `cluster:` field)
- the --config=ci flag here... https://github.com/kubernetes/te

[2020-10-22 19:49] fejta commented on #19662
Here is the RBE issue to follow: https://github.com/bazelbuild/continuous-integration/issues/1055

[2020-10-22 21:04] MushuEE opened #19666 "Pod-Util BQ job supported flake query"
**What would you like to be added**:
Current [flake queries](https://github.com/kubernetes/test-infra/blob/master/metrics/configs/flakes-config.yaml) exclude pod-utils job recently added to BQ by kettle. The query needs to be updated to support fetching of not only past jobs but new `bootstrap` jobs and new `decorated` jobs.

**Why is this needed**:
As a follow up to #19592. Without adding this fe

[2020-10-22 21:40] BenTheElder opened #19667 "building broken due to bad dependency"
**What happened**:

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/test-infra/19586/pull-test-infra-bazel/1319387076549939200/build-log.txt

https://proxy.golang.org/github.com/containerd/containerd/@v/v1.4.0-0.mod

**What you expected to happen**:

builds should succeed

**How to reproduce it (as minimally and precisely as possible)**:

run pull-test-infra-bazel

**Please

[2020-10-22 21:41] BenTheElder commented on #19662
still broken, but seems to be a different issue https://github.com/kubernetes/test-infra/issues/19667

[2020-10-22 21:42] BenTheElder commented on #19667
containerd v1.4.0 exists, not 1.4.0-0.

we'll need to use a replace or bump to a newer (untagged) buildkit version (they've bumped to an untagged containerd version)

[2020-10-22 21:43] dims commented on #19477
`we are pausing enforcement of the changes to image retention until mid 2021`
https://www.docker.com/blog/docker-hub-image-retention-policy-delayed-and-subscription-updates/

[2020-10-22 21:55] spiffxp commented on #19477
Image retention isn't the concern here, but good to know.  They're still planning to move forward with pull rate-limits

[2020-10-22 22:00] BenTheElder commented on #19667
/assign

[2020-10-22 22:04] spiffxp commented on #14643
https://github.com/kubernetes/test-infra/issues/19666 covers updating queries

[2020-10-22 22:05] spiffxp commented on #19666
ref: https://github.com/kubernetes/test-infra/issues/14643 for umbrella / parent issue

[2020-10-22 23:15] #19326 closed

[2020-10-22 23:50] MushuEE commented on #19666
Example Pod-Util Flake: [ci-test-infra-bazel](https://github.com/kubernetes/test-infra/blob/f27a4061f856cde48a7f1f6e51af66c87fe569a3/config/jobs/kubernetes/test-infra/test-infra-periodics.yaml#L2)
[Prow](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-test-infra-bazel)

Example Bootstrap Flake: [ci-kubernetes-e2e-gci-gce-alpha-enabled-default](https://github.com/kubernetes/test-infra

[2020-10-23 01:16] BenTheElder commented on #19667
builds are succeeding despite the log noise @dims https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/19561/pull-test-infra-bazel/1319424679034753024

[2020-10-23 01:16] #19667 closed

[2020-10-23 07:10] cpanato commented on #19326
PR is merged, bit the job is failing for another reason now

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-k8sio-vuln-dashboard-update/1319508946259546112

will take a look

[2020-10-23 15:33] vicsufer commented on #19232
/assign

[2020-10-23 15:33] Rustin-Liu commented on #19232
/unassign

[2020-10-23 18:45] #19662 closed

[2020-10-23 20:35] #19666 closed

[2020-10-24 03:10] Rustin-Liu commented on #8648
@BenTheElder  I want to working on this. Could you please reopen this issue?

[2020-10-25 15:03] vicsufer commented on #19555
May I give this a try even if this is not a good-first-issue? @BenTheElder @chizhg

[2020-10-25 16:46] #17737 closed

[2020-10-25 18:12] irvifa commented on #18388
[code]
For now I think we still require adjustment in prow if we want to this since we're introducing new label and logic.
I have one concern here if let's say one PR B is known to be merged after PR A and then there's turned out that PR be is should be merged after PR C, then how we will handle this since the label `do-not-merge/hold-for-dependencies` only applied once?

[2020-10-26 03:51] MushuEE commented on #18479
/remove-lifecycle stale

[2020-10-26 04:18] MushuEE opened #19682 "Kettle new xml parse traceback on 'testsuite" tag"
**What happened**:
Prod Kettle 10/25:
[code]
**What you expected to happen**:
No traceback on this form of xml. When I try to access this data I get:
[code]

Seems that job no longer exists. This causes kettle to hang.
**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:
/area kettle
/assign

[2020-10-26 06:45] ddebroy commented on #19477
@claudiubelu mentioned this issue in the weekly SIG-Windows meeting last week. I work closely with the Docker Hub team and wanted to call out a few things here:
1. As @spiffxp correctly mentions above, the note mentioned [above](https://github.com/kubernetes/test-infra/issues/19477#issuecomment-714779340) applies only to image retention. There are no change in plans with enforcement of pull rate-l

[2020-10-26 14:40] aojea commented on #10409
/remove-lifecycle stale
/cc

[2020-10-26 17:08] chizhg commented on #19555
Sure, pleas feel free to pick it up. Thanks @vicsufer !

cc @e-blackwelder for awareness here.

[2020-10-26 17:14] vicsufer commented on #19555
/assign

[2020-10-26 18:11] #17755 closed

[2020-10-26 19:18] spiffxp commented on #19682
Maybe related: I see nothing in testgrid for this job? https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-rbe

[2020-10-26 19:51] vicsufer commented on #19555
Hi @chizhg @e-blackwelder, I opened the link from prow.knative.dev and indeed the build-log.txt isn't showed in the spyglass. However I'm not being able to reproduce this behavior using prow as it is setup in this repository.

First I've used prow.k8s.io as a passthrough to the mentioned  build-log.txt and, the log doen't show but neither does the spinner, so the log surpassing the maxSize is corr

[2020-10-26 21:15] MushuEE commented on #19682
Seems like I can't even find that job in prow anymore.

[2020-10-26 21:30] MushuEE commented on #19682
Maybe after https://github.com/kubernetes/test-infra/pull/18027, they stopped running and the results have timed out? @BenTheElder

[2020-10-26 21:43] spiffxp opened #19696 "Certain kubernetes presubmit jobs are missing testgrid results"
**What happened**:

The following tabs in https://testgrid.k8s.io/presubmits-kubernetes-blocking have no results:
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-100-performance
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e
- https://testgrid.k8s.io/

[2020-10-26 21:44] spiffxp commented on #19682
I think the testgrid issue is related but orthogonal, turns out there are more jobs affected, so I opened https://github.com/kubernetes/test-infra/issues/19696

[2020-10-26 21:45] spiffxp commented on #19696
e.g. https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/91592/pull-kubernetes-node-e2e/1320790491167461376/artifacts/junit_runner.xml this testsuite doesn't have a `name` attribute

[2020-10-27 00:20] justaugustus commented on #18808
/assign @hasheddan @saschagrunert

[2020-10-27 04:35] BenTheElder commented on #8648
@Rustin-Liu I will reopen it but it doesn't have to be open to send a PR
/reopen

[2020-10-27 06:46] Ark-kun opened #19703 "Pod Utilities should collect and upload pod logs as artifacts"
**What would you like to be added**:

Pod utilities automatically dump all pod specs to artifacts/pods_info. (BTW, I was unable to find the code that does that)
It would be great to have logs for those pods as well.

**Why is this needed**:

This would be really useful for debugging.

[2020-10-27 08:02] saschagrunert commented on #18808
I think we can start working on this issue after the replacement of `push-build.sh` with `krel push`.

Ref #19488

[2020-10-27 10:27] #17151 closed

[2020-10-27 12:55] hi-rustin commented on #8648
@BenTheElder
It seems that the previous pr was closed because of a broken change to config. Do you have any suggestions for implementing this?

[2020-10-27 16:26] alvaroaleman commented on #19703
They do? Where?

Pod utilities are used to wrap one pod and will upload loads for that one pod

[2020-10-27 18:26] BenTheElder commented on #8648
I don't have context on this anymore. I think a lot has changed in two years.

@cjwager or @alvaroaleman would know the current state.

[2020-10-27 19:40] #19682 closed

[2020-10-27 19:43] MushuEE commented on #19696
Job history here looking scary....
![image](https://user-images.githubusercontent.com/7189267/97354021-08442280-1852-11eb-9d53-41370e693129.png)

[2020-10-27 20:16] alvaroaleman commented on #10423
So I went through all endpoints we currently support in our GH client: https://gist.github.com/alvaroaleman/71867bda4e06a8b90cace8da96d26dbb

There are only two that are not supported by GH apps:

* `/user': Returns the user ID. We can use the [`/app`](https://docs.github.com/en/free-pro-team@latest/rest/reference/apps#get-the-authenticated-app) endpoint instead. It doesn't provide an e-mail (as a

[2020-10-27 21:07] BenTheElder commented on #19477
Note that the GCE e2e clusters (created during testing) are generally using ephemeral IPs so we have no guarantee that a previous user wasn't performing many pulls.

I looked and I _think_ the build clusters at least aren't NATed and the VMs are relatively long-lived.

There's also places other than our CI to consider, e.g. third party CI. We may not want to continue using images from dockerhub wh

[2020-10-27 22:38] MushuEE opened #19721 "Prow "Job History" Spammed with 0s pending runs"
**What happened**:
Deck `Job History` is flooded with jobs that look like

for [pull-kubernetes-e2e-gce](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce)

![image](https://user-images.githubusercontent.com/7189267/97369241-c32bea80-1869-11eb-83fb-26206b936be4.png)

**What you expected to happen**:
Only true runs show in job history.

**How to reprodu

[2020-10-27 22:39] MushuEE commented on #19696
#19721

[2020-10-28 02:47] hh commented on #19658
Is there a way to port this feature from `jenkins/bootstrap.py` or is it an architectural change?

[2020-10-28 02:52] hh commented on #19658
The main use case for us currently is being able to detect the latest successful job run.
Is there another way to retrieve this info?

[2020-10-28 08:09] jkaniuk opened #19727 "preset-e2e-scalability-periodics-master preset could be erroneously pulled into CI jobs for new minor release"
`preset-e2e-scalability-periodics-master` preset was introduced here:
https://github.com/kubernetes/test-infra/pull/19710/commits/2bc42f63dbbc80c6e20bc5652becdefae66a04b3

When set of jobs for future k8s minor will be created by forking current master jobs, that preset could be pulled in as well which will break assumptions.

Forking during release is done by: https://github.com/kubernetes/test-in

[2020-10-28 09:50] tosi3k commented on #19727
We'd need to change the forker as well to handle this. Function handling periodics forking currently performs substitutions only for the args of containers included in the job as well as the tags (see https://github.com/kubernetes/test-infra/blob/e77594eb706652194e5aa1c34cdace2ef4ad4cc0/releng/config-forker/main.go#L106,L161)

I see two possible approaches here:
1. modify the logic of `generatePer

[2020-10-28 14:43] #19150 closed

[2020-10-28 14:54] MushuEE opened #19732 "Kettle Prod failing to decode data"
**What happened**:
Some file paths seem to have corrupt data with the database:
[code]
[Thread about issue](https://stackoverflow.com/questions/21231264/python-sqlite-interfaceerror-error-binding-parameter-0-probably-unsupported)

**What you expected to happen**:
Kettle cleanly parses and exports the database results.
**How to reproduce it (as minimally and precisely as possible)**:
Run prod kettl

[2020-10-28 15:07] MushuEE commented on #19732
I was unable to duplicate this manually... Unsure what the difference might be

[2020-10-28 18:33] mmerkes commented on #18973
Email sent. Not sure if it went to SIG-Architecture as well. Looks like I may need to be in the Google group to email it.

[2020-10-28 19:39] #19232 closed

[2020-10-28 22:12] Ark-kun commented on #19703
I'm sorry. I got confused - it was a feature on our side.

[2020-10-28 22:12] #19703 closed

[2020-10-29 06:11] vicsufer commented on #19721
/assign

[2020-10-29 07:48] matthyx commented on #16793
@BenTheElder how is it now, do you still have strange assignments with the layeredsets?

[2020-10-29 07:55] matthyx commented on #19627
@BenTheElder do you see it with a `/draft` comment?

[2020-10-29 15:11] alvaroaleman commented on #19553
In https://github.com/kubernetes/test-infra/pull/19743 we reduced the number of results per page for the tide queries from 100 to 37 which should reduce githubs backend load to a bit more than a third of what we have. Lets defer doing anything here until we saw the 502s again after that change got rolled out

[2020-10-29 16:57] alvaroaleman opened #19754 "History page times out for certain jobs"
**What happened**:

Opening the job history for certain jobs results in a timeout: https://prow.ci.openshift.org/job-history/gs/origin-ci-test/logs/release-openshift-origin-installer-e2e-aws-upgrade

While it works for others: https://prow.ci.openshift.org/job-history/gs/origin-ci-test/logs/release-openshift-ocp-installer-e2e-aws-ovn-4.7

It appears that we might not properly limit the amount of d

[2020-10-29 17:15] chases2 commented on #19086
Is this issue still occurring? I feel like I would have run into it while bumping prow this morning.

[2020-10-29 17:19] MushuEE commented on #19732
[code]
Old Row to mapping... maybe linked?

[2020-10-29 17:19] chases2 commented on #19086
The push-prow job had this failure, but then succeeded.
TestGrid: https://k8s-testgrid.appspot.com/sig-testing-prow#push-prow
Failing Job: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-prow/1321547288694231040
Succeeding Job (right after): https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-prow/1321611482189795328

[2020-10-29 18:15] spiffxp commented on #13063
@RobertKielty No drawing tool preferences as long as it can be updated by community members

https://docs.google.com/presentation/d/1HOQ2df_AT-vIuz-JNaJol2oiGq84m50h9T49_5WgEaI/edit#slide=id.g4a3c5dc660_0_539 are the slides I walked through back in dec 2018

[2020-10-29 18:41] spiffxp commented on #13063
This doc is now also missing concepts such as:
- whether the infrastructure runs in the google.com GCP org or in the kubernetes.io GCP org
- prow build clusters vs. service clusters
- velodrome no longer exists
- the use of GCB / GCR by image-pushing jobs

[2020-10-30 15:42] #14718 closed

[2020-10-30 16:08] chaodaiG opened #19778 "Prow plugin local test instruction doesn't work"
**What happened**:

Followed instruction of testing a plugin locally at https://github.com/kubernetes/test-infra/tree/master/prow/cmd/phony#running-a-github-event-manager. But the following command:

[code]

failed with error:

[code]

**What you expected to happen**:

The command runs without problem

**How to reproduce it (as minimally and precisely as possible)**:

Run the `go run` command ment

[2020-10-30 16:09] chaodaiG commented on #19778
CC @chizhg

[2020-10-30 16:09] chaodaiG commented on #19778
/area prow

[2020-10-30 19:08] snowmanstark commented on #19034
@RobertKielty I did dig through the Prow job data with gsutil and found that there are 302 builds as of 10/30/2020 which had no `build-log.txt`.
Couldn't find a connection on the varying row counts of the spurious job entries.

In the meantime I will be taking a look at how Spyglass shows the Job History and also other reason why the varying row counts of the spurious job entries.

[2020-10-30 19:37] spiffxp commented on #10402
Reporting status contexts to merge commits is a good start, but I would still rather see comments on the PR(s) in question for success or failure.  Specific use cases in mind:
- tell me when the PR that merged caused something to deploy
- tell me when the PR that merged caused something to get pushed

This would require at least some changes to crier's github reporter, which currently:
- always ad

[2020-10-31 14:51] ajaygm commented on #10884
@alvaroaleman - One more clarification needed...
The last commit on this topic was https://github.com/kubernetes/test-infra/issues/10884#ref-commit-b79bc0a (https://github.com/jluhrsen/test-infra/commit/b79bc0aa7cd10221d3bc609cf16bf111a62d7371)
Can you please have a look at that and see if that was sufficient, cause I didn't find any pull request with comments on that change.
If that looks suffici

[2020-11-02 12:27] hi-rustin opened #19795 "Can we add branch configuration to hook?"
**What would you like to be added**:

I hope that `hook` only work on some branches, not all branches by default.

**Why is this needed**:

Maybe a configuration for hook.

[2020-11-02 12:44] hi-rustin commented on #19795
/area prow

[2020-11-02 12:44] hi-rustin commented on #19795
/area config

[2020-11-02 14:10] alvaroaleman commented on #10884
Hi @ajaygm .

That commit looks good, the spontaneous three comments I'd have are:
* It adds a `lock` that serializes all uploads, we don't want that (We already added something to limit parallelization after that PR was created, but in order to limit memory usage)
* The `Info("Retrying upload")` log in the end will be shown even when it won't retry anymore when all retries failed
* Before we retr

[2020-11-02 14:30] vicsufer commented on #19721
**Quick update**
It seems to me that some logs are not properly storaged, when Deck try to retrieve data of some logs it gets an error (Which is caugth but not handled), the builds that raises this error are those showing with 0s and in pending state in Job History.  Notice the **failed to resolve sym link** part,
`
{"component":"unset","error":"failed to resolve sym link: failed to read pr-logs/d

[2020-11-02 16:24] #15611 closed

[2020-11-02 16:24] #19270 closed

[2020-11-02 18:00] alvaroaleman commented on #19607
Fixed in https://github.com/kubernetes/test-infra/pull/19691
/close

[2020-11-02 18:01] #19607 closed

[2020-11-02 18:08] spiffxp opened #19805 "Replace merge-blocking needs-foo labels with do-not-merge/needs-foo"
**What should be cleaned up or changed**:

There are two benign-looking grey labels that prevent PR's to kubernetes/kubernetes from merging: `needs-kind` and `needs-sig`.  They aren't prefixed with `do-not-merge/` nor are they colored the same red color as other merge-blocking labels.

This can cause contributors to miss the fact that there are yet more labels that need to be added to satisfy merg

[2020-11-02 18:08] spiffxp commented on #19805
/sig testing
/sig contributor-experience
/priority important-longterm

[2020-11-02 19:15] spiffxp commented on #19805
/sig release
since I think release team is the reason these labels are merge-blocking to begin with

[2020-11-02 20:01] spiffxp commented on #19477
Changes are progressively rolling out, and we are in wait-and-see mode at this point.  To answer @ddebroy's questions / recap:
- we believe our exposure to be low:
  - prow's build cluster nodes and the kube-up.sh clusters used by kubernetes/kubernetes e2e tests use public IP's and pull from dockerhub anonymously
  - they are automatically configured to try pulling from mirror.gcr.io first
  - the

[2020-11-02 20:09] MushuEE commented on #19721
Should we not be pushing [empty build data](https://github.com/kubernetes/test-infra/blob/5b7a6590f0e359ac9acad2adb63da530b9c49b7e/prow/cmd/deck/job_history.go#L474)? I presume that is what is rendering the skips

[2020-11-02 20:20] tpepper commented on #19805
Sounds good to me.  More consistent, more visually noticeable.  Still have the problem of people not always being clear on who owns next action fixing toward merge-ability, but that is described by the bot.

[2020-11-02 23:23] aledbf commented on #19477
Per https://www.docker.com/blog/expanded-support-for-open-source-software-projects/

[2020-11-02 23:55] howardjohn commented on #19477
The OSS projects agreement has some strings attached:

source: I applied (a non-kubernetes project) and got an email

[2020-11-03 00:49] BenTheElder commented on #19477
Huh... thanks @howardjohn

Sounds reasonable?

I think in our case that might require steering's input ...

Seems reasonable.

... versus podman, cri-o, containerd etc.? 😕

Seems unclear. 🤔

[2020-11-03 00:52] dims commented on #19477
/me wearing my own cap (not steering)

LOL. nice try docker!

[2020-11-03 07:18] BenTheElder commented on #18706
- `SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct || true); export SOURCE_DATE_EPOCH` happens in `runner.sh`
- if you're not in a repo in particular then it's going to be `''`

in the error we see:
[code]

I think we need SOURCE_DATE_EPOCH to not propagate to this part of the bazel build and / or we need to ensure that it's valid or unset.

[2020-11-03 08:59] Bobgy commented on #14343
/assign @Bobgy
I'll try to push this forward moving to GCP/oss-test-infra, so that maintainers can be added as approvers.

[2020-11-03 10:46] RobertKielty commented on #19034
So the empty records on the Job History page seems to have gotten worse

gsutil ls gs://kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e/
CommandException: One or more URLs matched no objects.

Given the absence of the pull-kubernetes-e2e dir in the bucket
I think we can call this a new SpyGlass defect as it's failing to report the absence of the path in the bucket?

will reach out  @spiff

[2020-11-03 10:49] RobertKielty commented on #18852
Hi @spiffxp Aaron can this issue be closed now?
I've updated #19034
We need to review #19034 for sure but I'm confused as to how both these issues are related

[2020-11-03 18:33] spiffxp commented on #18599
@RobertKielty the command is `/remove help` (not intuitive IMO)... but speaking of, are you still working on this?

[2020-11-03 18:42] spiffxp commented on #19477
@howardjohn Yeah I am waiting on an answer of whether the benefit we get for this cost is unlimited pulls of _other_ images by our CI.  We don't publish to dockerhub, and my read of the benefits was unlimited pulls of _our_ images for other users.

@aledbf if every image we happen to pull from dockerhub has applied and been exempted from rate limiting, that may lessen the impact

[2020-11-03 19:03] spiffxp commented on #18599
Reviewed https://github.com/kubernetes/test-infra/pull/19286#pullrequestreview-522789040

[2020-11-04 07:23] whiskerch opened #19835 "Cloning a private repo using ssh and inrepoconfig"
**What happened**:

Previously I had been using the inrepoconfig feature to allow private repos in our organisation to define presubmit jobs. This used the `decoration_config` and `clone_uri` parameters to set the ssh details so the `clonerefs` pod could clone the repo prior to the main job running.

I have just updated to the latest version of the utililties (it's previous versions we were runnin

[2020-11-04 09:36] hi-rustin opened #19836 "The getting_started_deploy.md confused beginners"
**What would you like to be added**:
Update getting_started_deploy.md to help beginners get started quickly.

**Why is this needed**:
It seems that our starter deploys prow into the `prow` namespace. But `getting_started_deploy.md` still uses the default namespace.

[2020-11-04 09:36] hi-rustin commented on #19836
/remove-kind feature

[2020-11-04 10:14] RagniGarg97 opened #19837 "runtime error: invalid memory address or nil pointer dereference while creating the controller for tekton pipeline"
**What happened**:
prow-pipeline pod is crashing with this error
[code]
**What you expected to happen**:

Pod should be started successfully without errors mentioned above.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**additional information**:
prow(v20201029-199c794545) + tekton(v0.13.1)

[2020-11-04 10:22] RagniGarg97 commented on #19837
The following yaml is used to create the deployment in the prow namespace where the prow setup is running
[code]

The pods are in the running state once the deployment is configured

[code]
 But the "prow-pipeline" pod  immediately dies when a prowjob is created with the error :
[code]

[2020-11-04 10:33] mborsz opened #19838 "ci-kubernetes-e2e-gce-scale-performance is continuously testing the same, stale k8s version since 10-29"
**What happened**:
Starting from
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1321859659652403200

all ci-kubernetes-e2e-gce-scale-performance runs are using stale k8s version v1.20.0-beta.0.54+2729b8e3751434.

Moreover, the commit number on https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance seems to be changing and it

[2020-11-04 10:38] RagniGarg97 commented on #19837
prowjob:
[code]

pipeline:

[code]

task:

[code]

[2020-11-04 10:57] mborsz commented on #19838
Yes, this is https://github.com/kubernetes/test-infra/pull/19660 for sure which migrates the test builds to k8s-release-dev. The question is if we should switch our jobs to k8s-release-dev or rollback that change? I don't think I have enough context to make that decision so I asked this question in #19660.

[2020-11-04 11:36] mborsz opened #19839 "Testgrid should show version of binary fetched by --extract flag"
**What would you like to be added**:
I would like to see a new column header in testgrid showing actual kubernetes version that is being tested when --extract= option is used in the test.

The testgrid config has a columnheader field that can be used for this purpose (https://godoc.org/github.com/GoogleCloudPlatform/testgrid/pb/config#TestGroup), but it's not possible to use it our prowjobs as the

[2020-11-04 11:36] mborsz commented on #19838
https://github.com/kubernetes/test-infra/issues/19839 for showing right version on testgrid

[2020-11-04 11:54] mm4tt commented on #19838
Thanks, Maciek. Great finding!

We discovered only by a sheer luck. If Maciek wasn't debugging some other issue today, we might have missed that change for weeks and it would render our scale tests useless.
@justaugustus, can we do something to make sure it doesn't happen again? For example, could you let us know ever time you're making this kind of change to the build pipeline?

[2020-11-04 13:03] wojtek-t commented on #19838
/assign @justaugustus

Stephen - as you mentioned on slack - I'm assigning it to you]
However, my suspicion would be that it's not only about scalability tests - it's probably touching many more tests.

[2020-11-04 13:37] justaugustus commented on #19838
PR opened to revert the change: https://github.com/kubernetes/test-infra/pull/19841
Slack discussion here: https://kubernetes.slack.com/archives/C2C40FMNF/p1604488277091500

[2020-11-04 13:38] justaugustus commented on #19838
FYI @kubernetes/ci-signal

[2020-11-04 14:23] justaugustus commented on #19484
/reopen

Reopening this to keep an eye on it, given https://github.com/kubernetes/test-infra/pull/19841.
/assign @justaugustus @cpanato

[2020-11-04 14:24] justaugustus commented on #18549
Assigning Dan to TL completion of this.
/assign @hasheddan

[2020-11-04 14:26] justaugustus commented on #19483
Arnaud has PRs in flight for this.
/assign @ameukam

and Carlos has been working on the build-fast stuff.
/assign @cpanato

[2020-11-04 18:30] justaugustus commented on #19264
Needs a rec proposed for replacement.
cc: @kubernetes/wg-naming

[2020-11-04 18:30] justaugustus commented on #19264
/help

[2020-11-04 19:54] mkvitnitsky commented on #19477
Docker has removed the bottom 2 bullets on @howardjohn's post from all public communications, and replaced it with -
- Include information about using Docker, wherever it is appropriate on your  website and in your documentation.

I think that this is a better description of the kind of support that we are looking for...

@spiffxp , I have your response on my to do list, and will try to get back t

[2020-11-04 20:06] hh commented on #19836
## Usage of `oauth` when referring to `gitlab-token` causes confusion

I think it's beyond the docs and also in the command line args and mount-points for the `github-token` in the example manifests.

### `github-oauth` is used for Prow and PR status

https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#set-up-github-oauth

### `oauth` is confusingly also used in the

[2020-11-04 20:09] hh commented on #19836
Just wanting to make sure I'm not missing something with regards to referring to the token as an oauth secret of some sort.

[2020-11-04 20:55] spiffxp commented on #19805
Once https://github.com/kubernetes/test-infra/pull/19827 merges:
- verify new labels have been added (next run of https://testgrid.k8s.io/sig-testing-misc#label_sync)
- remove needs-kind label from PR's to kubernetes
- verify new do-not-merge/needs-kind label is added
- remove needs-sig label from PR's to kubernetes
- verify new do-not-merge/needs-sig label is added
- followup PR: drop needs-kind

[2020-11-04 22:29] hh commented on #19836
Seems the internal name within the prowjob k8s api type also refers to an `OauthTokenSecret`:
https://github.com/kubernetes/test-infra/blob/master/prow/apis/prowjobs/v1/types.go#L364-L366

I'm suspecting this is where the nomenclature for overlap may be stemming from.

[2020-11-04 22:31] spiffxp commented on #19805
labels have been applied
- https://github.com/kubernetes/kubernetes/pull/96237 - example PR that has red do-not-merge/needs-kind applied from the start
- https://prow.k8s.io/pr?query=is%3Apr+repo%3Akubernetes%2Fkubernetes+author%3Ajingxu97+head%3Anov%2Fkonnect - shows do-not-merge/needs kind as blocking (not red though, I think this won't pick up until a new version of prow is deployed)

[2020-11-04 22:44] hh commented on #19836
Opening this (just for doc updates regarding oauth api tokens vs webui tokens):
- https://github.com/kubernetes/test-infra/pull/19847

Mainly because I found it very confusing, since we generate, use, and configure both kinds.

[2020-11-04 23:05] spiffxp commented on #19805
I have manually removed `needs-sig` from a few PR's in kubernetes/kubernetes but it's not clear to be that `do-not-merge/needs-sig` is being appropriately re-applied

[2020-11-04 23:18] justaugustus commented on #19805
Does the label re-check trigger on comment?

[2020-11-04 23:35] spiffxp commented on #19805
Not on comment.  It should be retriggering on label add or remove
https://github.com/kubernetes/test-infra/blob/8d585302d29aa62eb0c5d46ace32447d7563942a/prow/plugins/require-matching-label/require-matching-label.go#L38-L43

But for example I removed needs-sig on https://github.com/kubernetes/kubernetes/pull/95266 30min and the new label hasn't been added.

I can see the new labels are getting adde

[2020-11-05 00:17] spiffxp commented on #19805
`needs-sig`
- [kubernetes/kubernetes open PRs with `needs-sig` that should have `do-not-merge/needs-sig` instead](https://github.com/kubernetes/kubernetes/pulls?q=label%3Aneeds-sig+-label%3Ado-not-merge%2Fneeds-sig+is%3Aopen+sort%3Aupdated-desc+-label%3Acommittee%2Fcode-of-conduct+-label%3Acommittee%2Fsteering+-label%3Acommittee%2Fproduct-security+-label%3Asig%2Fapi-machinery+-label%3Asig%2Fapps+-

[2020-11-05 00:21] spiffxp commented on #19805
`needs-kind`
- [kubernetes/kubernetes open PRs with `needs-kind` that should have `do-not-merge/needs-kind` instead](https://github.com/kubernetes/kubernetes/pulls?q=label%3Aneeds-kind+-label%3Ado-not-merge%2Fneeds-kind+is%3Apr+is%3Aopen+sort%3Aupdated-desc+-label%3Akind%2Fapi-change+-label%3Akind%2Fbug+-label%3Akind%2Fcleanup+-label%3Akind%2Fdeprecation+-label%3Akind%2Fdesign+-label%3Akind%2Fdocu

[2020-11-05 00:40] spiffxp commented on #19805
Opened https://github.com/kubernetes/test-infra/pull/19848, which will close this issue when merged

[2020-11-05 00:48] spiffxp commented on #19483
Current obstacle is deciding how to allow the ci-kubernetes-build-canary job to push to gcr.io/k8s-staging-ci-images.

Currently:
- `ci-kubernetes-build` runs on `default` build cluster aka google.com-owned `k8s-prow-builds`
- all jobs in this cluster use the default `pr-kubekins@kubernetes-jenkins` gcp service account
- `pr-kubekins` has role `roles/editor` on the `kubernetes-ci-images` project
-

[2020-11-05 01:17] ameukam commented on #19483
+1 for doing this for each staging project.
Does this involve a k8s service account for each staging project?

[2020-11-05 01:27] spiffxp commented on #18549
Updated description to enumerate all release-blocking jobs and the umbrella issues tracking their progress or the PRs that migrated them

[2020-11-05 01:41] spiffxp commented on #19034
ref: https://github.com/kubernetes/test-infra/issues/19721

Typo in your bucket name? The bucket we care about is pull-kubernetes-e2e-gce
[code]

[2020-11-05 01:47] spiffxp commented on #19034
This is going to get harder to troubleshoot soon.  The `kubernetes-jenkins` bucket has a lifecycle of 90d.

https://github.com/kubernetes/test-infra/issues/19034#issuecomment-684130355 says this job was migrated 2020-08-19, and the known good to compare it against was migrated 2020-08-12.  Currently the earliest job result in the bucket is from 2020-08-05 (see below), giving us a week before we st

[2020-11-05 01:54] spiffxp commented on #19034
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce?buildId=1291086874634358784 - or maybe we've already lost known goods, this is as far back as I can go
![Screen Shot 2020-11-04 at 8 54 30 PM](https://user-images.githubusercontent.com/49258/98187888-f01e7400-1edf-11eb-9c58-f61223206cb2.png)

[2020-11-05 01:55] spiffxp commented on #19034
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-ubuntu-containerd?buildId=1291086874634358784 - known good job at the same time
![Screen Shot 2020-11-04 at 8 55 30 PM](https://user-images.githubusercontent.com/49258/98187949-147a5080-1ee0-11eb-872c-32ca8839231a.png)

[2020-11-05 01:57] spiffxp commented on #18852
Per https://github.com/kubernetes/test-infra/issues/18852#issuecomment-692196542 the reason I held this open is because I'm still not certain that migration of this job did not cause https://github.com/kubernetes/test-infra/issues/19034.  But we've lived with it unresolved for about 90d now, so I guess we can live with it unexplained for longer.

/close

[2020-11-05 01:58] #18852 closed

[2020-11-05 01:59] spiffxp commented on #18853
/close

[2020-11-05 01:59] #18853 closed

[2020-11-05 02:02] spiffxp commented on #18550
@LappleApple https://github.com/kubernetes/test-infra/issues/19073 is the last remaining issue

[2020-11-05 02:15] spiffxp commented on #19696
Unfortunately #19787 hasn't fixed it.  It may be that bad data needs to age out of the 14 day window, but I'd rather we make our code resilient to bad data if that's the case.

Known good: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind - expect non-empty, get non-empty
![Screen Shot 2020-11-04 at 9 06 34 PM](https://user-images.githubusercontent.com/49258/98188764-

[2020-11-05 10:37] cpanato commented on #19073
/assign

[2020-11-05 11:10] rayandas commented on #19073
/assign

[2020-11-05 11:28] ameukam commented on #19073
/assign

[2020-11-05 12:24] cpanato commented on #19073
/unassign

[2020-11-05 12:56] rayandas commented on #19073
/unassign

[2020-11-05 14:53] wojtek-t commented on #19838
It's fixed at least for scalability tests - closing. Thanks for fixing Stephen!

/close

[2020-11-05 14:53] #19838 closed

[2020-11-05 15:01] #17558 closed

[2020-11-05 15:27] justaugustus commented on #19838
Thanks for reporting back on your side, @wojtek-t!

For completeness, dropping a snippet of the PR description in from https://github.com/kubernetes/test-infra/pull/19841:

I'll plan to send a note out to the broader community early next week (by then, the remaining changes should have died down).

/sig release testing scalability
/area release-eng

[2020-11-05 17:32] #19805 closed

[2020-11-05 19:50] spiffxp commented on #19696
Test results do show up in https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e&grid=old

Test results are missing from https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e&grid=beta

[2020-11-05 19:51] spiffxp commented on #19696
Looks like this is a problem with the new updater https://github.com/GoogleCloudPlatform/testgrid/issues/211

[2020-11-05 22:59] BenTheElder commented on #19795
[area/config is for config/, i.e. our configuration, this is just area/prow]

[2020-11-05 23:00] BenTheElder commented on #19795
Large amounts of what hook does are not specific to branches at all, I don't think this really makes sense. Specific things e.g. test jobs can be disabled by branch.

[2020-11-05 23:03] BenTheElder commented on #19627
@matthyx I have no opinion on this and I haven't really worked on prow much for for some time (@cjwagner's team owns prow on the google side). Labeling this issue as area/prow actually allows me to more narrowly review issues I might be more likely to work on 🙃

[2020-11-05 23:54] michelle192837 commented on #19696
From quick investigation, I'm not seeing any obvious errors in logs; it appears that the state is being processed and written to GCS, it's just got nothing. :/

If Erick doesn't get to this first, I'll try to run this locally with some more debugging to figure out what's going on.

(For the Summary, I'm pretty sure that the Summarizer summarizes based on the old state at the moment, especially sin

[2020-11-06 01:12] #19358 closed

[2020-11-06 01:31] MushuEE commented on #19839
Would it be better to migrate this issue to https://github.com/GoogleCloudPlatform/testgrid?

[2020-11-06 02:23] hi-rustin commented on #19795
Got it. Thanks~

[2020-11-06 02:23] #19795 closed

[2020-11-06 05:33] MushuEE commented on #19839
Does https://github.com/GoogleCloudPlatform/testgrid/blob/master/config.md#column-headers enable you to do what you are looking for?

Within the finished.json I see:
[code]
Do any of those work?

[2020-11-06 05:41] MushuEE commented on #19754
/label priority/important-longterm

[2020-11-06 06:17] MushuEE commented on #19627
Actually doesn't look like even the v4 GraphQL has the option yet to support updating PR to draft:  You can only [create](https://docs.github.com/en/free-pro-team@latest/graphql/reference/input-objects#createpullrequestinput) one as draft via API

[Update](https://docs.github.com/en/free-pro-team@latest/graphql/reference/input-objects#updatepullrequestinput)

[2020-11-06 07:55] mborsz commented on #19839
Yes, columnheader with `job-version` works just fine, but there is no option to use testgrid's columnheader feature using annotation config we have in this repo. As mentioned in the first comment, this is a feature request to add support for annotation-based columnheader converter:

Correct me, if I'm wrong, but it looks like the prowjobs's annotation -> testgrid config converter is specific to th

[2020-11-06 14:47] ameukam commented on #19483
`ci-kubernetes-build-canary` still fails even after the service account is added to k8s-infra-staging-ci-images@kubernetes.io : https://testgrid.k8s.io/sig-testing-canaries#build-master-canary

`prow-build` service account inherits of the permissions of the role `roles/cloudbuild.builds.editor` as member of k8s-infra-staging-ci-images@kubernetes.io :

https://github.com/kubernetes/k8s.io/blob/74bf

[2020-11-06 16:55] MushuEE commented on #19839
@mborsz I see, I misunderstood. Thanks

[2020-11-06 17:58] spiffxp commented on #19484
Opened https://github.com/kubernetes/test-infra/pull/19871 to enforce jobs should be using the k8s-release-dev bucket if they're using `ci/latest-fast`; caught one outlier

I'm ready to call this done unless there are any remaining concerns

[2020-11-06 18:06] spiffxp commented on #19483
My read of GCS permissions is that members of the group have write and admin privileges to the bucket
[code]

[2020-11-06 18:27] chaodaiG commented on #19778
Should we just drop the requirement of `dryrun` must resolve kube client? Or somehow improve the workflow to create a kind cluster instead?

+ @alvaroaleman  for thoughts

[2020-11-06 18:55] alvaroaleman commented on #19778
Not sure, today its just broken. The controller-runtime client has a dry run wrapper, we could replace the current typed clients with it, then this would work again: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/dryrun.go

Just not giving any client will result in panics. We could probably return a fake client as well I guess.

[2020-11-06 18:56] mpherman2 opened #19875 "Add monitoring for autobump"
**What would you like to be added**:
We should add some monitoring for autobump (for k8s prow and other tools that get autobumped in the future)

**Why is this needed**:
It failed silently for a week. We would like to notice this sooner.

/area prow

[2020-11-06 19:34] MushuEE commented on #19875
Mind linking to failures?

[2020-11-06 19:41] spiffxp commented on #19483
Per https://cloud.google.com/iam/docs/understanding-roles

roles/storage.legacyBucketOwner
[code]

roles/storage.legacyBucketWriter
[code]
roles/storage.objectAdmin
[code]
roles/storage.admin
[code]

[2020-11-06 19:42] spiffxp commented on #19483
Perhaps the service account isn't getting picked up as a group member
[code]

[2020-11-06 19:55] mpherman2 commented on #19875
@chaodaiG can you link the failures you saw this week?

[2020-11-06 19:59] chaodaiG commented on #19875
https://testgrid.k8s.io/googleoss-test-infra#autobump-prow
See the streak of failures from 10/28 to 11/02

Example job: https://prow.k8s.io/view/gcs/oss-prow/logs/ci-oss-test-infra-autobump-prow/1323325406178185216

[2020-11-06 20:23] spiffxp commented on #19483
Opened https://github.com/kubernetes/k8s.io/pull/1401 to do what I did manually

[code]
Which I verified as working via a push which had failed before:
[code]

[2020-11-07 02:11] michelle192837 commented on #19839
Yup, translating Prow jobs to TestGrid config is specific to this repo, though it's also fine to file the issue in https://github.com/GoogleCloudPlatform/testgrid (a lot of the config marshalling code is over there).

With respect to this ask, we can think about it, but at some point configuration starts getting away from fields that are easy to add in Configurator. Column headers, for instance, a

[2020-11-07 04:38] alvaroaleman commented on #19835
Hey @whiskerch, thanks for the detailed report!

The problem seems to be that we do not correctly default the S3 credential secret, https://github.com/kubernetes/test-infra/pull/19881 will fix that.

The only thing that confuses me: This definitely never worked in the past. The corresponding logic is executed in `hook` btw, not the `deocration_utils`. Did you maybe also change your config when you

[2020-11-07 09:02] cpanato commented on #10409
+1 to opensource

Some use case I would like is to have an option to open a dashboard (like https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default) and save that as a png/jpg image, maybe passing a URL param, eg https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default?image=png

thanks!

[2020-11-08 13:44] whiskerch commented on #19835
Hi @alvaroaleman
Now that is confusing.

I did update hook at the same time - The container hook is running is: `gcr.io/k8s-prow/hook@sha256:f0320f6d1bcb03836d3095be5ce03f2713bbb2fb7c75c93d39937c4d36c8d54c`

I'm afraid I don't have the details of the previous version I was running. Only that when I came to pull from the test-infra repository the local version I had previously deployed was about 32

[2020-11-08 14:21] jayunit100 opened #19883 "Decide how to integrate results from CNI providers into testgrid"
**What would you like to be added**:

@aojea @alejandrox1 @eth0XFEED  should probably connect around how we can make it easy to contribute CNI test results .

- Antonio is prototyping this for ovn-kubernetes
- I think me (@jayunit100) and @abhiraut can make sure antrea/calico are both part of the test matrix since we use those regularly
- @aanm might want to help on the cilliim end (I can help wit

[2020-11-08 16:13] vicsufer commented on #19721
Actually that empty data is meant to be there so the template can render something if there's a failure.
Template variable [tmpl.Builds](https://github.com/kubernetes/test-infra/blob/5b7a6590f0e359ac9acad2adb63da530b9c49b7e/prow/cmd/deck/job_history.go#L460) is created using [shownID](https://github.com/kubernetes/test-infra/blob/5b7a6590f0e359ac9acad2adb63da530b9c49b7e/prow/cmd/deck/job_history.g

[2020-11-09 06:34] BenTheElder commented on #19883
ahem, kubenet? :-)

This is not generally something we do, we expect tests upstream to test _the Kubernetes API and components_ and if one of the vendor implementations of some extension point is failing the tests _that's their problem_.

Anyone is free to provide results to testgrid following the existing guides, in this form nothing should be special here.

[2020-11-09 06:59] aojea commented on #19883
The idea I have is to contribute the results of the different CIs , at least is what I m going to do for ovn-kube

https://github.com/kubernetes/test-infra/blob/master/docs/contributing-test-results.md

[2020-11-09 10:30] shaowenchen opened #19885 "tide deployed in prow namespaces , cannot list resource "prowjobs" in default namespace"
**What happened**:

tide CrashLoopBackOff

**What you expected to happen**:

don't CrashLoopBackOff

**How to reproduce it (as minimally and precisely as possible)**:

my images version is

[code]

**Please provide links to example occurrences, if any**:

[code]

[code]

**Anything else we need to know?**:

[2020-11-09 12:31] RagniGarg97 commented on #19837
^^ @eddycharly can you please take a look on this issue

[2020-11-09 13:51] jayunit100 commented on #19883
Yup just centralizing the dialogue for how we advise folks to do this, I think all on the same page.
Antonio has a GCE job I think in progress for calico

[2020-11-09 13:53] jayunit100 commented on #19883
https://github.com/kubernetes/test-infra/pull/19817 xref, using GCE with the calico network policy provider

[2020-11-09 15:55] alvaroaleman commented on #19835
@whiskerch can you update your hook version once again and confirm that #19881 fixed the issue?

[2020-11-09 18:55] justaugustus commented on #19264
For ADR:
/assign @celestehorgan

For advice on impl:
/assign @justaugustus

[2020-11-09 23:00] alvaroaleman commented on #19885
/area prow
@shaowenchen you need to configure the namespace if you do not want it to be `default`: https://github.com/kubernetes/test-infra/blob/6f0e27831a49cd9ae44e920fe4548b9af5e30c1c/prow/config/prow-config-documented.yaml#L637

[2020-11-09 23:05] lingxiankong opened #19896 "approved label is automatically added"
**What happened**:
Github keeps adding approved label recently for cloud-provider-openstack repo (https://github.com/kubernetes/cloud-provider-openstack), if the PR is submitted by a person who has approve permission.

I proposed a PR https://github.com/kubernetes/test-infra/pull/19824 trying to fix but it's not working, e.g. this PR https://github.com/kubernetes/cloud-provider-openstack/pull/1310

[2020-11-10 00:00] shaowenchen commented on #19885
thanks

[2020-11-10 00:00] #19885 closed

[2020-11-10 00:51] chaunceyt commented on #19034
I noticed that if you put a `/` at the end of the URI it seems to displays the data as expected.

[https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/)
[https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/?buildId

[2020-11-10 02:42] alvaroaleman commented on #19896
@lingxiankong the `approved` label gets automatically added whenever the PR author is approver for the relevant area, unless you set `require_self_approval: true`. See https://prow.k8s.io/plugins for details

[2020-11-10 11:52] cynepco3hahue opened #19902 "Provide [VM] image with the CONFIG_NUMA_EMU enabled"
**What would you like to be added**:
The image with the kernel that compiled with the  `CONFIG_NUMA_EMU=y`.

**Why is this needed**:
Under the sig-node, we have components(CPU manager, device manager, topology manager, and memory manager in the future) that should be tested on the multi NUMA machines. Currently, the GCE does not support creating instances with the custom CPU topology, so the only

[2020-11-10 11:52] cynepco3hahue commented on #19902
/assign @bsdnet

[2020-11-10 17:54] alvaroaleman commented on #10884
Fixed in #19884
/close

[2020-11-10 17:54] #10884 closed

[2020-11-10 18:51] spiffxp commented on #19436
/cc @claudiubelu

[2020-11-10 19:00] chases2 commented on #18159
I got tripped up on this as well. Why do we want to display these tests on TestGrid? They run at variable frequencies against code that may not actually merge or work.

[2020-11-10 19:10] whiskerch commented on #19835
@alvaroaleman  - Yes, the latest version of hook does seem to correct the issue. Thanks!

[2020-11-10 19:10] #19835 closed

[2020-11-10 19:18] #19896 closed

[2020-11-10 20:15] michelle192837 opened #19908 "Hook errors on invalid revision ranges"
Seeing a number of errors since this morning from hook, about trying to search invalid revision ranges. For example:

[code]

[code]

The error format is always the same but the errors themselves are not consistent on the revision range searched (though it looks like some revisions pop up multiple times?)

/area prow
/area prow/hook

/assign @fejta

[2020-11-10 20:15] michelle192837 commented on #19908
/kind oncall-hotlist

[2020-11-10 20:17] michelle192837 commented on #19908
This started happening, so far as I can tell, sporadically since 04:08:33.000 PST this morning.

[2020-11-10 20:36] michelle192837 commented on #19908
This seems to be happening in kubernetes/kubernetes only (I think because it has the `mergecommitblocker` plugin enabled), but it doesn't appear to be consistent on a particular PR. I'm also not finding anything suspicious when checking some of the revisions mentioned in the error.

This timing isn't correlated with a Prow release, so far as I can tell, so I think I will consider this non-release-

[2020-11-10 20:39] spiffxp opened #19910 "Unable to fetch/merge certain pull requests"
**What happened**:
Some presubmits are failing because they either:
- can't fetch a given PR's ref
[code]
- can fetch a ref, but it doesn't match what GitHub's API is saying
[code]

These errors are reproducible locally

**What you expected to happen**:

To be able to fetch a pull request from github, and have its HEAD SHA agree with github's API

**How to reproduce it (as minimally and precisely

[2020-11-10 20:41] spiffxp commented on #19908
Maybe related, or another symptom of the underlying issue: https://github.com/kubernetes/test-infra/issues/19910

[2020-11-10 20:41] spiffxp commented on #19910
Maybe related, or another symptom of the underlying issue: #19908

[2020-11-10 20:42] alvaroaleman commented on #19910
That's not an option. The tests (AKA prowjob custom resources) contain the exact SHAs that get tested and we need that information to be accurate in order to determine what revisions got tested.

[2020-11-10 21:02] spiffxp commented on #19910
Filed a support ticket with GitHub and cc'ed kubernetes github admin team, as I'm going to be unavailable the rest of the week

[2020-11-10 21:26] spiffxp commented on #18159
It's about ensuring that testgrid can be a consistent gateway to all jobs executed by prow.k8s.io, instead of sometimes having to go view prow's deck, or spyglass' job-history page.

Presubmits aren't guaranteed to pass reliably, but testgrid can still provide a useful visual signal if one set of tests starts failing consistently across presubmits

[2020-11-10 21:27] michelle192837 commented on #19908
/assign

[2020-11-11 11:55] afrittoli opened #19916 "[Peribolos] Cannot add a team to a repo with 'read' permission"
**What happened**:

I tried to add a team to a repo with `read` permission:
[code]

And I get a 422 back from the github API:
[code]

According to the GitHub API, 422 is returned if the team does not belong to the org that the repo belongs to.
This is not the issue in this case, since I can add the team to the repo with no issue via the UI.
The scopes of the token are also ok.

**What you expected

[2020-11-11 12:45] afrittoli commented on #19916
This works fine in the latest version of peribolos.

[2020-11-11 12:45] #19916 closed

[2020-11-11 18:01] petr-muller commented on #19916
Perfect, I was wondering if I missed something in https://github.com/kubernetes/test-infra/pull/19338 :D

[2020-11-11 18:02] petr-muller commented on #19916
Perfect, I was wondering if I missed something in https://github.com/kubernetes/test-infra/pull/19338 :D

[2020-11-11 18:07] hasheddan opened #19922 "Enforce / monitor / document version marker usage"
**What would you like to be added**:

sig-release maintains [`build`](https://testgrid.k8s.io/sig-release-master-blocking#build-master) and [`fast-build`](https://testgrid.k8s.io/sig-release-master-blocking#build-master-fast) jobs to periodically build and publish kubernetes artifacts. These jobs also update their respective [version markers](https://github.com/kubernetes/community/blob/master/con

[2020-11-11 18:21] justaugustus commented on #19922
This also has some heavy overlap/interaction with [assessing the version markers in release branch job configs](https://github.com/kubernetes/sig-release/issues/850), so assigning myself as well.

/assign
/remove-kind feature
/kind cleanup
/sig release
/area release-eng

[2020-11-11 18:22] justaugustus commented on #19922
Also of note: migrating release-blocking jobs to K8s Infra (ref: #19484, #18549).

[2020-11-11 18:37] afrittoli commented on #19916
Thanks for fixing the issue before I even reported it :D

[2020-11-11 19:37] bsdnet commented on #19902
We will take a look at next COS release on cos-dev channel

[2020-11-11 19:53] robscott commented on #19910
Some of the PRs that have referenced this issue above have since been merged or at least have passing tests now. It's difficult for me to tell if there actually is a workaround for this issue that I'm missing, or if those were not actually experiencing the same issues my PR is. [My PR](https://github.com/kubernetes/kubernetes/pull/96440) had all tests passing last night. I made a couple updates th

[2020-11-11 19:56] nikhita commented on #19910
cc @kubernetes/owners

The GitHub admin team has escalated the issue with GitHub. Haven't heard any potential solutions/workarounds from them yet.

[2020-11-11 20:00] justaugustus commented on #19910
This appears to be blocking non-PR fetches for the releases underway right now.

ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1605122968337200?thread_ts=1605122968.337200&cid=CJH2GBF7Y
cc: @kubernetes/release-engineering

[2020-11-11 20:00] neolit123 commented on #19910
@robscott

that way i solved it my PR was:
[code]

[2020-11-11 20:05] robscott commented on #19910
@neolit123 thanks for the tip! Unfortunately I've tried that multiple times and it is not working for me.

[2020-11-11 20:27] cici37 commented on #19910
I am with @robscott . Tried rebase/push multiple time and all tests still fail immediately.

[2020-11-11 20:41] mrbobbytables commented on #19910
If you see this issue with other PRs or areas, please cross-link here. We're using this as the tracking issue.

[2020-11-12 01:01] robscott commented on #19910
I've tried a few more variations of rebasing and even tried squashing my commits into one just to see if that would help. Still no luck. There are a lot of PRs referencing this issue, but from what I can tell, only 5 of them are experiencing the same merging issue I am (some variation of `merge: d4b82643c9ecdb0aa25d9852f763e348d5fd72a4 - not something we can merge`):

- https://github.com/kubernet

[2020-11-12 01:25] alvaroaleman commented on #19910
Okay so I played a bit around with this (using claytons pr https://github.com/kubernetes/kubernetes/pull/94866) and it seems the virtual reference is messed up somehow, but the commit is still available:
[code]

So I guess we could workaround this by explicitly fetching the commit. Does that have any drawbacks?
Interestingly, this issue only appears on the k/k repo.

[2020-11-12 01:38] mrbobbytables commented on #19910
Just to update from Github's side - they are still investigating. They are aware of this thread and are following it.

[2020-11-12 02:25] ajaygm commented on #16145
@stevekuznetsov Is this still a "good first issue"?
Is yes, can you please provide some guidance on how to go about this one?

[2020-11-12 02:30] robscott commented on #19910
I don't understand what has changed, but the PR I've been working on has started passing tests again (https://github.com/kubernetes/kubernetes/pull/96440). This was after pushing a change to a commit. This does not seem like it should be fundamentally different than the various things I've tried earlier so maybe something was fixed on the Github side?

[2020-11-12 03:00] ajaygm commented on #18801
Can someone please validate my understanding...
- Now's a good time to do PR # 3 mentioned at https://github.com/kubernetes/test-infra/issues/18801#issuecomment-673269771
- Need to remove all references / validations on old fields in PR #18946
- No changes from PR #19000
- Still a "good first issue"

[2020-11-12 03:01] mrbobbytables commented on #19910
Here is the response from GitHub

[2020-11-12 03:18] cici37 commented on #19910
Thank you! Post another commit works for me🎉

[2020-11-12 03:24] alvaroaleman commented on #19910
So we can and probably should update our clone code to cope with this but:
* This only happens with the post-receive hook that updates the refs, if the api one would fail we would never get to know about this sha in the first place
* This only happens in the k/k repo, not in others
* This also breaks githubs official tooling, for example [`gh pr checkout 95921`](https://github.com/kubernetes/kuber

[2020-11-12 06:07] matthyx commented on #16145
hi @ajaygm I was willing to work on that, but please help yourself...
it seems the call is duplicated, so I thought to maybe check how to provide idempotency

[2020-11-12 06:07] matthyx commented on #16145
/assign @ajaygm

[2020-11-12 06:13] cynepco3hahue commented on #19902
A lot of thanks!

[2020-11-12 06:38] ajaygm commented on #16145
I'm sorry @matthyx / @stevekuznetsov but I'm very new to this. Could you please help me with the areas of code where I should try to address this issue?

[2020-11-12 07:24] justaugustus commented on #19910
Email sent to k-dev: https://groups.google.com/g/kubernetes-dev/c/FEH9suc_UGo

[2020-11-12 16:25] stevekuznetsov commented on #19910
@mrbobbytables if it's at all possible I think it might be useful to gently push back on the idea that this is "not recommended" - it's an API they provide explicitly for this purpose and their official tooling uses it. Hopefully such a "not recommended" stance is not GitHub Engineering saying that this won't be fixed...

[2020-11-12 17:04] chaodaiG opened #19931 "Ghproxy running out of github tokens in a hour"
**What happened**:

Prometheus alertmanager alerted on Slack that ghproxy had ran out of github tokens in an hour: https://kubernetes.slack.com/archives/C7J9RP96G/p1605176151126600

**What you expected to happen**:

Ghproxy doesn't use that much github tokens

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

https://monito

[2020-11-12 17:05] chaodaiG commented on #19931
/kind prow

[2020-11-12 17:05] chaodaiG commented on #19931
/kind prow/ghproxy

[2020-11-12 17:05] chaodaiG commented on #19931
/area prow
/area prow/ghproxy

[2020-11-12 17:06] chaodaiG commented on #19931
Probably related: https://kubernetes.slack.com/archives/CDECRSC5U/p1605194754195400

This was 4 hours after tide merging queue for k8s/kubernetes spiking https://monitoring.prow.k8s.io/d/d69a91f76d8110d3e72885ee5ce8038e/tide-dashboard?orgId=1

[2020-11-12 17:15] chaodaiG commented on #19931
/kind oncall-hotlist

[2020-11-12 17:17] chaodaiG commented on #19931
This could also be possibly related to https://github.com/kubernetes/test-infra/issues/19910 and https://github.com/kubernetes/test-infra/issues/19908, the first one was mitigated by https://github.com/kubernetes/test-infra/pull/19928. So bumping prow might help here

[2020-11-12 17:53] stevekuznetsov commented on #19931
You should be able to use the Grafana dashboard to dig into exactly which API calls the specific OAuth token and Prow component is making.

[2020-11-12 17:59] chaodaiG commented on #19931
Good point, `/repos/:owner/:repo/pulls/:pullId` is on the top
![Uploading Screen Shot 2020-11-12 at 9.59.09 AM.png…]()

[2020-11-12 21:42] alvaroaleman commented on #19908
Yeah, its the same issue, we use `CheckoutPullRequest` and if it was the first push and githubs post-receive hook to create the virtual ref failed, the virtual ref won't exist. We should probably make that func also take a sha instead of a PR number and then fetch & checkout that sha

[2020-11-12 22:45] MushuEE commented on #19086
@chases2 Looks like we saw it again 11/10: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-prow/1326295001029677056

[2020-11-13 10:18] hi-rustin commented on #19629
@BenTheElder  @fejta @stevekuznetsov  Do you have any suggestions?

[2020-11-13 10:44] RobertKielty commented on #18599
Reviewing this now.

[2020-11-13 11:01] hi-rustin opened #19938 "Got an error when starting the external plugin"
**What happened**:
None error.

**What you expected to happen**:
Got an error.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Start external plugin.

**Please provide links to example occurrences, if any**:
None

**Anything else we need to know?**:

May be affected by https://github.com/kubernetes/test-infra/pull/19736 (I'm not sure, I will checkout tonight.)

[2020-11-13 12:31] ajaygm commented on #16145
Why do we see duplicate "[APPROVALNOTIFIER]" comments in all these places.
* PR1: [comment 1](https://github.com/openshift/cluster-samples-operator/pull/247#issuecomment-601162691)  & [comment 2](https://github.com/openshift/cluster-samples-operator/pull/247#issuecomment-601162692)
* PR2: [comment 1](https://github.com/cri-o/cri-o/pull/3201#issuecomment-582288937) & [comment 2](https://github.com/

[2020-11-13 15:18] alvaroaleman commented on #18801
@ajaygm before we can remove anything, we need to set a deprecation timeline in prow/announcements.md

[2020-11-13 17:23] #19938 closed

[2020-11-13 17:23] MushuEE commented on #19086
again: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-prow/1327277149471641600
@fejta, do we have a prow TL with Cole gone for a bit?

[2020-11-13 19:12] alvaroaleman commented on #19754
/assign

[2020-11-13 22:59] BenTheElder commented on #19629
Some similar messages have been made configurable before but the decision is up to the prow owners https://github.com/kubernetes/test-infra/blob/master/prow/OWNERS

[2020-11-15 14:01] matthyx commented on #19629
@hi-rustin this is not quite as easy as it sounds...
These 2 are consts defined for the whole prow plugins, so if you want to make them configurable they need to be parameterized in `test-infra/prow/plugins/config.go` with a default value reflecting the current links.
As @BenTheElder said, some plugins have this link configurable (like `approve`) and therefore you will have to migrate by supportin

[2020-11-15 14:10] matthyx commented on #17819
/assign

[2020-11-15 14:27] matthyx commented on #19229
/assign

[2020-11-15 15:43] matthyx commented on #19229
@elfinhe this is strange as I cannot reproduce it here (ie test works as expected):
https://github.com/kubernetes/test-infra/compare/master...matthyx:19229

Could you give a more accurate version of your config?

[2020-11-15 15:52] matthyx commented on #18768
/assign

[2020-11-15 16:22] matthyx commented on #18347
@hongkailiu are you still experiencing this behavior? Can you provide some links to prow configmaps?

[2020-11-15 20:23] #17819 closed

[2020-11-16 10:54] BenTheElder commented on #13551
Apparently present again in https://github.com/kubernetes/node-problem-detector/issues/495, use of PULL_NUMBER breaks batch runs, nothing has merged but there are 7 PRs stuck in endless batch testing.

[2020-11-16 12:39] #19727 closed

[2020-11-16 14:11] alvaroaleman commented on #13551
The problem there is that the batch tests fail very quickly. We always start either a batch (if available and none running yet) or a serial retest. Since the batch always fails until Tides next sync we never get to the point of starting a serial retest there. You can see that nicely on https://prow.k8s.io/tide-history?repo=kubernetes%2Fnode-problem-detector where a batch test is started every two

[2020-11-16 16:38] RafalMaleska commented on #10146
What is the status of this issue?

I was trying to use Lighthouse for Prow integration into Gitlab - it seams that it provides only basic prow functionality and requires JenkinsX installation.

Is there a RoadMap to develop Prow further?

[2020-11-16 16:43] RafalMaleska commented on #8435
What is the status of this issue?

I was trying to use Lighthouse for Prow integration into Gitlab - it seams that it provides only basic prow functionality and requires JenkinsX installation.

Is there a RoadMap to develop Prow further to allow usage of Gitlab?

[2020-11-16 16:53] alvaroaleman commented on #10146
If someone is interested in working on there will be progress.

No, prow is mostly developed by the ppl that use it according to their needs

[2020-11-16 17:20] MushuEE opened #19961 "Kettle entering CrashLoopBackOff with "Bad GCS path""
**What happened**:
11/16 Checked on state of Kettle, Looks like starting 11/11 errors started occurring in `make_db.py`
![image](https://user-images.githubusercontent.com/7189267/99285546-8447df80-27ec-11eb-818c-fbc1f2c14ac8.png)
[code]
[code]

Unsure if this is a CPU limit/memory issue or if it is another failure.

**What you expected to happen**:
make_db to pass successfully

**How to reproduce

[2020-11-16 17:29] MushuEE commented on #19961
Kettle restarts cycles at 1am, it looks like after a restart cycle something changed that started triggering crashes. This will also impact
/area triage
/area kettle
results

[2020-11-16 20:05] BenTheElder commented on #13551
This doesn't seem like a super unlikely failure mode though, we've seen stuff like this before. I think tide should run a serial test in the background to prevent infinitely spamming broken batches with no progress.

Even if it wasn't done concurrently ordinarily, since we do record history, we could detect repeated batches and opt to start a serial job.

[2020-11-17 04:53] MushuEE commented on #19961
Bad path it is looking for is `kubeflow-pipeline-backend-test/*` it is for some reason not prepended with the `gs://` parts.
I do not know what caused this.
Workers are attempting to run: `WORKER_CLIENT.get_started_finished(job, build)`
Which should make the build_dir `self.get('%s/directory/%s/%s.txt' % (self.jobs_dir, job, build)).strip()` this implies that there is no `gs://` in jobs_dir

here

[2020-11-17 06:26] MushuEE commented on #19961
Now seeing `Bad path: /started.json, should start with 'gs://'`
This proves that `build_dir` is none.
calling `get` with `gs://kubernetes-jenkins/pr-logs/directory/kubeflow-pipeline-backend-test/1326401600935170048.txt`
`bucket, path = ['kubernetes-jenkins', 'pr-logs/directory/kubeflow-pipeline-backend-test/1326401600935170048.txt']`

[code]

[2020-11-17 06:35] MushuEE commented on #19961
Looks like the issue might be in decoding the json from the path:
[code]

Seems like this is an artifact of `params={'alt': 'media'}` << what is this??

[2020-11-17 07:39] popooja-8 opened #19964 "Prow issue:/sig kubernetes"
I am installing 3 node k8s cluster, calico will be stable for 1 or 2 days, again after that it goes down. After describing POD it says BGP not established, but Internal IPs are pinging.(after rebooting calico will come up, but again it goes down, rebooting as rework is not possible since some of the suites are running in background).

[2020-11-17 12:29] mrbobbytables commented on #19910
Here is the latest update from GitHub:

Hi Bob,

As it has been a little while since our last response I wanted to let you know what our engineering team have done to reduce the rate of failures you have raised in this support request.

Our infrastructure replicates repository data across several hosts in various geographically disperse data centres. The higher than normal repository traffic in th

[2020-11-17 15:57] alvaroaleman commented on #10423
I've written a proposal for adding github app authentication to prow (but not to remove the existing PAT auth, because the benefit of doing that is unclear to me): https://docs.google.com/document/d/1q9NagH0xB2vcuK-TC_X6V_LHc0syBrNrLqiuAQ8zGWY/edit#

Would love to hear everyones feedback!

[2020-11-17 17:02] MushuEE commented on #19961
Here is the <buildID.>txt
[code]
You can look at the media link to see it is empty. We use this to get the build dir. Which happens to also be accessible by `["x-goog-meta-link"]` which I hope will work in all cases

[2020-11-17 17:19] MushuEE commented on #19961
It is actually unclear to me why pr builds would ever have a [different path](https://github.com/kubernetes/test-infra/blob/2ae2b484ec8e6ee42d399b842a0d18d19fb8441a/kettle/make_db.py#L160-L163) to the artifacts. I might just be able to remove that option for the build dir being build from the <buildid>.txt

[2020-11-17 18:04] MushuEE opened #19968 "[Kettle] Add monitoring to alert on failures"
**What would you like to be added**:
Monitoring around Kettle to alert if the service dies or there is a massively increased level of errors

**Why is this needed**:
Kettle was failing for 6 days before it was discovered that is was not reporting data.

/area Kettle

[2020-11-17 18:07] MushuEE commented on #19968
Enabled for `k8s-gubernator` project

[2020-11-17 18:07] #19968 closed

[2020-11-17 22:32] amwat commented on #19961
I don't think that run was a legitimate run and from the [job history page](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/kubeflow-pipeline-backend-test?buildId=1326401600935170048) looks like it doesn't any of the corresponding info. the full link is just `https://prow.k8s.io/view/gs/kubernetes-jenkins`

I think we should just ignore such builds in kettle.

[2020-11-17 22:54] MushuEE commented on #19961
@amwat I think you are correct. Looks like there is a decent bit of cleanup I might be able to do. Trying to figure out what is most worth it in the short term. I don't want to silence legitimate builds but also don't want to cause catastrophic failure on single build pulls.

[2020-11-17 23:08] amwat commented on #19961
To be clear, there was an associated legitimate build https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4751/kubeflow-pipeline-backend-test/1326401600935170048

but whatever uploaded it to the directory seems to have weirded out (and worth investigating)

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/directory/kubeflow-pipeline-backend-test

https://storage.goog

[2020-11-17 23:09] MushuEE commented on #19961
It is currently back up with a fix, will put up one when I am more confident I didn't break something. Lots of moving parts

[2020-11-18 17:14] MushuEE opened #19979 "[ci-test-infra-autoupdate-patch] job stuck in pending or failing"
**What happened**:
[ci-test-infra-autoupdate-patch](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-test-infra-autoupdate-patch)
![image](https://user-images.githubusercontent.com/7189267/99563657-55fa0980-297e-11eb-93e8-9772d3647563.png)
Job is continuously failing or producing no results. This causes paring errors in Kettle (how it was found).

**What you expected to happen**:
Job

[2020-11-18 17:36] #19754 closed

[2020-11-18 19:55] chases2 opened #19981 "Tide error: broken pipe"
[code]

[2020-11-18 20:13] chases2 commented on #19981
Occurred twice in a row (1 minute apart), but then seemed to stop.

[2020-11-18 20:15] e-blackwelder commented on #19981
It looks like the browser's side of the HTTP/TCP connection is closing "unexpectedly": users could be canceling the page load, navigate away, refresh the page, etc.

Per:
https://github.com/kubernetes/test-infra/blob/master/prow/tide/history/history.go#L182

... This is not a bug. However, we should lower the "severity" of the logs so we don't panic about this again. :)

[2020-11-18 21:27] #19961 closed

[2020-11-19 01:09] MushuEE commented on #19732
[code]
Still occurring. Maybe dig deeper into the DB to discover issues

[2020-11-19 15:52] stevekuznetsov opened #19986 "Allow Repositories to Enable Select OWNERS Files Only"
As a maintainer of a forked repository or one that contains vendored code,
I want to ensure that only an appropriate set of users is allowed to `/approve` PRs to my repository
So that I can develop my fork or derivative project correctly

---

When a repository uses Prow and forks another repository that uses Prow, or uses vendoring and has dependencies that use Prow, a large number of OWNERS file

[2020-11-19 15:55] alvaroaleman commented on #19986
They shouldn't have approval rights unless they are also a member of the org that contains the fork

[2020-11-19 15:57] stevekuznetsov commented on #19986
Yes, and in many cases users expect to be able to disallow approval rights _even for members of the org who have approval rights in the upstream_. It's their repository, so they want full control.

[2020-11-19 17:42] kolyshkin opened #19987 "PR Dashboard does not show GitHub Actions based jobs/checks/tests"
We have started using github-actions based jobs in https://github.com/cri-o/cri-o, which were introduced by https://github.com/cri-o/cri-o/pull/4373, and can be seen in the list of checks on any recent PR, e.g. https://github.com/cri-o/cri-o/pull/4383 (look for e.g. `verify / lint (pull_request)`.

The issue is, these new github-actions based tests are not shown in PR dashboard https://prow.ci.ope

[2020-11-19 18:09] MushuEE commented on #19732
Was able to repro manually:
[code]

[2020-11-19 18:44] MushuEE commented on #19732
[code]

[2020-11-19 20:06] kolyshkin commented on #19987
Might be related: https://github.com/kubernetes/test-infra/pull/19724

[2020-11-20 04:35] adohe opened #19997 "cannot approve sig-cli PR"
Hi guys, I am a member of sig-cli-maintainers，but seems I cannot approve PR with sig/cli label, for more info can refer: https://github.com/kubernetes/kubernetes/pull/96702

[2020-11-20 06:05] adohe commented on #19997
/assign @michelle192837

[2020-11-20 09:41] hi-rustin opened #19999 "Fake github client cannot add permissions to collaborators"
**What would you like to be added**:

Fake github client support add permissions to collaborators.

**Why is this needed**:
 Such as API ListCollaborators it return user with permissions.

[2020-11-20 09:59] hi-rustin commented on #19999
Maybe we should impl it by self.

[2020-11-20 09:59] #19999 closed

[2020-11-20 10:48] RobertKielty commented on #18599
I want to talk about to @spiffxp about this when he gets back.

[2020-11-20 19:11] spiffxp commented on #19910
/close

To recap:
- Nov 10 - issue reported, escalated to github
- Nov 11 - updated prow's clone_refs init container to fetch by sha if available https://github.com/kubernetes/test-infra/pull/19928
- Nov 12-13 - sporadic reoccurrences of issue
- Nov 16 - github reports removing a high latency replica from infra resoonsible for hosting kubernetes/kubernetes (sometime since Nov 12)

We've received n

[2020-11-20 19:11] #19910 closed

[2020-11-20 19:28] spiffxp commented on #19484
/close
There have been no concerns raised

[2020-11-20 19:28] #19484 closed

[2020-11-20 20:20] spiffxp commented on #19483
It looks like https://testgrid.k8s.io/sig-testing-canaries#build-master-canary has been green for some time (same for release variants).

So now that we're writing ci artifacts to new locations, we need to migrate jobs to read from the new locations.

Copy-pasting from https://github.com/kubernetes/k8s.io/issues/846#issuecomment-705722852:

What remains to be done:
  - identify jobs that depend on

[2020-11-20 20:24] MushuEE opened #20001 "[Kettle] Logs not reporting proper table name"
**What happened**:
[code]
Kettle is loading build info but without table information from
https://github.com/kubernetes/test-infra/blob/698f0c76109045f6fb2690bb5d309b1ac4555990/kettle/stream.py#L126

**What you expected to happen**:
Display correct table name
**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else

[2020-11-20 20:25] spiffxp commented on #19483
For "migrate all jobs that use (non-image) output of ci-kubernetes-build to pull from gs://k8s-release-dev instead of gs://kubernetes-release-dev", instead of copying around an `--extract-ci-bucket=k8s-release-dev` setting everywhere, I suggest we:
- migrate enough jobs using that flag that we're confident the new ci artifacts work
- give a heads up
- switch the default bucket used by kubetest
- b

[2020-11-20 22:15] hasheddan opened #20006 "Move pull-kubernetes-e2e-gce-device-plugin-gpu to k8s infra"
**What should be cleaned up or changed**:

Currently [pull-kubernetes-e2e-gce-device-plugin-gpu](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml) does not run on community infra, making it difficult to troubleshoot and leads to divergence in behavior from the release-blocking presubmit. It should follow the migration of

[2020-11-21 12:42] ajaygm commented on #16145
Based on [comment](https://github.com/kubernetes/test-infra/pull/19954#discussion_r524299481) by @alvaroaleman ...
/remove-good-first-issue

[2020-11-22 08:56] ajaygm commented on #16145
@alvaroaleman I had noticed earlier, [ref comment](https://github.com/kubernetes/test-infra/issues/16145#issuecomment-726739255), that there were 2 "[APPROVALNOTIFIER]" comments in the 2 issues that were reported with this problem.

I have a feeling that there might be a possibility that the notification from github on the hook endpoint were received more than once. To rule out that possibility we

[2020-11-23 03:53] hasheddan opened #20010 "Testgrid not reporting any job status since 11-18-2020"
**What happened**:

No jobs are reporting status of runs on testgrid, though I can see they are running successfully in Prow.

**Please provide links to example occurrences, if any**:

All jobs on `sig-release-master-blocking`: https://testgrid.k8s.io/sig-release-master-blocking

/cc @kubernetes/ci-signal

[2020-11-23 05:14] ajaygm commented on #19997
Hi @adohe
No offenses, but are you sure you are a member of the team `sig-cli-maintainers`. When I look at [your profile page](https://github.com/adohe?tab=overview&from=2020-10-01&to=2020-10-31) it doesn't show you as a member of any organisation and shows...

I'm not sure, but you might be able to check this by going to the URL: https://github.com/orgs/kubernetes/teams/sig-cli-maintainers

Check

[2020-11-23 06:09] adohe commented on #19997
Hi @ajaygm
Thanks for confirming this. I checked this URL: https://github.com/orgs/kubernetes/teams/sig-cli-maintainers/members, and I am sure I am a member of team `sig-cli-maintainers`, TonyAdo is me :). Also when I visit https://github.com/orgs/kubernetes/teams/ I can see I am still a member of sig-cli related teams. I think there might be some mistakes, as I lost my github id for some reason a

[2020-11-23 06:23] MushuEE commented on #20010
See https://github.com/GoogleCloudPlatform/testgrid/issues/211
Adding &grid=old shows results 👍
[Updated runs](https://testgrid.k8s.io/sig-release-master-blocking#build-master&grid=old)

[2020-11-23 06:28] MushuEE opened #20013 "Several Metrics need updates for PodUtil Support"
**What would you like to be added**:
After migration from bootstrap.py, to PodUtils, Kettle was not populating jobs with information needed in queries. This was fix over the last few months and the weekly flake query has been updated see #19669.

There are other queries that still exclude PodUtil jobs that will need to be updated

/assign
/area metrics

**Why is this needed**:
We are not tracking

[2020-11-23 06:38] MushuEE commented on #19732
Still seeing several
[code]

[2020-11-23 10:52] ajaygm commented on #19997
If I understood correctly you are saying: https://github.com/adohe is the same as https://github.com/tonyado
In that case do you think your new id `adohe` should be added to the team now? Or should the approve plugin be able to handle this type of configuration?

BTW: Even that id `tonyado` doesn't show as member of Kubernetes :confused:

[2020-11-23 11:01] wojtek-t commented on #20010
/cc

[2020-11-23 11:21] dudicoco opened #20014 "Prow jenkins-operator cannot find jobs"
**What happened**:
The jenkins-operator is able to trigger jobs in Jenkins, but afterwards it reports status "Error finding Jenkins job".

The logs are not informative:
[code]

[2020-11-23 12:23] dudicoco commented on #20014
@kargakis

[2020-11-23 14:41] hasheddan opened #20016 "Cluster API jobs should not be on release master boards"
**What should be cleaned up or changed**:

Currently two CAPI jobs run on `master-informing`:
- `capa-conformance-v1alpha3-k8s-master`
- `capg-conformance-v1alpha3-k8s-master`

However, these jobs are currently running against the `release-1.19` branch. It does not make sense to have jobs running against older stable versions on the current `master` board.

**Provide any links for context**:

Dash

[2020-11-23 16:10] matthyx commented on #18768
I have left this issue open, let's see if the git gc was the culprit!

[2020-11-23 16:21] CecileRobertMichon commented on #20016
Looks like `capa-conformance-v1alpha3-k8s-master` is running against k8s master https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml#L235-L238

[2020-11-23 16:24] hasheddan commented on #20016
@CecileRobertMichon ah good catch! I was looking at the wrong periodic

[2020-11-23 18:40] MushuEE opened #20024 "[Kettle] Process hangs when generating json.gz for 'all' table"
**What would you like to be added**:
Add more compute to Kettle instances. Or figure out if CPU is impacting speed/lockup.

**Why is this needed**:
[code]
It seems that Kettle Prod is hitting cpu limits when trying to build json. It takes extremely long to complete an update cycle and now seems to freeze at point, not updating at all and "catching" on specific builds *logs seem to end there*
[code

[2020-11-23 18:52] spiffxp commented on #19073
https://github.com/kubernetes/test-infra/pull/19855 has merged

Holding open to verify jobs continue to pass / haven't changed behavior negatively

[2020-11-23 19:39] michelle192837 commented on #20010
The cause is known (Updater is unable to run), but unsure how to fix atm. Will continue working on this today, apologies for the trouble folks!

[2020-11-23 20:43] michelle192837 commented on #20010
Related to https://github.com/GoogleCloudPlatform/testgrid/issues/211 (though this is not code issues, this is an issue with actually running the updater).

Until the issue is resolved, I am going to make grid=old results the default results on testgrid.k8s.io.

[2020-11-23 21:03] dudicoco commented on #7690
What is the status of this issue?

[2020-11-23 22:33] spiffxp commented on #19073
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-build&grid=old&graph-metrics=test-duration-minutes

Bump in duration from ~10min to ~43min is not too surprising, we saw a similar sized jump when migrating pull-kubernetes-bazel-test (ref: https://github.com/kubernetes/test-infra/issues/19070#issuecomment-690606082)

Not enough traffic yet to understand if flakiness has

[2020-11-23 23:28] cjwagner commented on #19986
We already have [OwnersDirBlacklist](https://godoc.org/k8s.io/test-infra/prow/config#OwnersDirBlacklist) which is similar to what you are describing, but applies to all plugins, not just `approve`. Does that satisfy your use case?

An alternative solution would be to add support for another OWNERS file field that indicates child OWNERS files should be ignored (kind of like the `no_parent_owners` f

[2020-11-24 02:39] adohe commented on #19997
Actually TonyAdo is just a user name not github id, if u check this URL: https://github.com/orgs/kubernetes/teams/sig-cli-maintainers/members, u can see there is a member named TonyAdo with github id: `adohe`, that's me :) I don't know how the approve plugin work, seems it has some input problem with the plugin.

BTW: I am emeritus lead of sig-cli, I am not sure whether this has effect.

[2020-11-24 05:47] matthyx commented on #7690
@dudicoco looks like nobody's currently working on it...
If you need that fix, I can take a look, or if you want to work on it that's possible too!

[2020-11-24 07:49] nikhita commented on #7690
@ykakarap and I are working on it. We have a POC that works already!

We are writing up more tests and will create a KEP soon. :smile:

[2020-11-24 07:58] matthyx commented on #7690
Awesome!

[2020-11-24 09:34] sttts commented on #7690
🎉 thanks!

[2020-11-24 11:10] RobertKielty opened #20034 "Triage is serving stale data - feed stopped on Nov 21st"
**What happened**:

On Triage, aggregated test error results are not up to-date.

https://storage.googleapis.com/k8s-gubernator/triage/index.html

**What you expected to happen**:

See aggregated test results from today, Nov 24th.
There are no results since Nov 21st.

**How to reproduce it (as minimally and precisely as possible)**:

- Visit https://storage.googleapis.com/k8s-gubernator/triage/ind

[2020-11-24 13:41] ajaygm commented on #19997
Hi @adohe
I finally found the answer to your query. Your id has been moved into emeritus section of the file...
https://github.com/kubernetes/kubernetes/blob/ad2bf99f9b8f27113cd3b0c9e0ad72e568947e43/OWNERS_ALIASES#L207-L208

The description of [Emeritus approver](https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#emeritus) says that these users can't approve requests.

[2020-11-24 15:51] #20014 closed

[2020-11-24 16:09] #19987 closed

[2020-11-24 18:26] michelle192837 commented on #20010
Tabs should be showing more recent results now! However, the summary tab will still show old summaries for now. (I'll look at a mitigation if we can't get things running properly today).

[2020-11-24 18:27] hasheddan commented on #20010
Thanks @michelle192837!

[2020-11-24 22:02] spiffxp commented on #19483
Based on https://cs.k8s.io/?q=kubernetes-ci-images&i=nope&files=&repos=

- jobs that use kubeadm that don't explicitly set `ClusterConfiguration.ImageRepository` will default to using `gcr.io/kubernetes-ci-images` if `ClusterConfiguration.KubernetesVersion` starts with `ci/` or `ci-cross/`
  - could impact kubeadm-kinder jobs
  - could impact cluster-api jobs
  - other jobs that use kubeadm?

It i

[2020-11-24 22:47] spiffxp commented on #19483
https://cs.k8s.io/?q=kubernetes-release-dev&i=nope&files=&repos=

There are a lot of references to `kubernetes-release-dev` out there
- kops jobs reference the version there
- some sig-testing coverage jobs stage something there (do they need to?)
- `kubernetes_bazel` and `kubernetes_build` scenarios reference it
- https://dl.k8s.io redirects to it
- parts of kubernetes/release reference it
- kube

[2020-11-25 02:51] adohe commented on #19997
Really appreciate your help @ajaygm and thanks very much 👍

[2020-11-25 02:51] #19997 closed

[2020-11-25 05:48] matthyx commented on #19534
No longer an issue with the `prow-controller-manager`.
/close

[2020-11-25 05:49] #19534 closed

[2020-11-25 06:02] RenaudWasTaken commented on #20006
Adding @kewu1992 to this thread, here is what he found:

[2020-11-25 13:51] ric79 opened #20042 "kube-config as string not as file"
**What would you like to be added**:
For security reasons, I cannot use a plain file with credentials as --kube-config parameter.
Is there an example where at the beginning of my tests I can set kube-config using for example a string

**Why is this needed**:

[2020-11-25 13:55] #20042 closed

[2020-11-25 19:24] michelle192837 commented on #20010
Summary issue is mitigated, so recent summaries should also be showing up! (I'll keep this issue open since the underlying cause isn't _fixed_, but users broadly shouldn't have issues with stale summaries or tabs anymore.)

[2020-11-25 19:34] petr-muller commented on #16145
I cannot look right now because our logs are in CloudWatch which is :-1: right now. I don't recall seeing this recently.

[2020-11-25 21:03] ameukam commented on #18785
/remove-lifecycle stale

[2020-11-26 05:04] #8386 closed

[2020-11-26 12:47] wojtek-t commented on #17097
/remove-lifecycle stale

[2020-11-26 13:49] srajmane opened #20053 "Failed to load Starlark extension '@npm_bazel_typescript//:index.bzl'"
**What happened**:
I am trying to update `rules_nodejs` version to v2.3.1 with the below-mentioned changes.

[code]
To update **yarn.lock** file I am running the command: **bazel run @nodejs//:bin/yarn -- upgrade**

I am facing @npm_bazel_typescript issue:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example

[2020-11-26 17:46] soltysh commented on #18965
/remove-lifecycle stale

[2020-11-26 19:18] #8648 closed

[2020-11-27 15:10] matthyx commented on #16793
Let's be optimistic and close that one then
/close

[2020-11-30 00:23] MushuEE commented on #20024
The logs also seem to freeze here which makes me worry something is getting pinned or hitting an infinite loop

[2020-11-30 00:26] MushuEE commented on #18450
Going to close this in favor of a future metrics effort

[2020-11-30 00:26] #18450 closed

[2020-11-30 00:27] MushuEE commented on #18480
Can this be closed now?

[2020-11-30 00:30] MushuEE commented on #20034
/assign
Kettle is having a number of issue that are being slowly mitigated. I am not sure if there are a number of bad jobs that are causing failures or the sheer number of jobs are causing it to lock up. I can manually stream results to BQ form kettle to update data. I have been working on the few issue I still see. But has been a war of attrition.

[2020-11-30 10:54] srajmane commented on #20053
/area prow

[2020-11-30 14:10] hasheddan opened #20063 "[Flake] pull-kubernetes-node-e2e (pod could not be scheduled)"
**What happened**:

Failed presubmit with `There are no nodes that your pod can schedule to - check your requests, tolerations, and node selectors (0/50 nodes are available: 1 Insufficient memory, 3 node(s) had taints that the pod didn't tolerate, 47 Insufficient cpu.)`

**What you expected to happen**:

Presubmit to run successfully.

**How to reproduce it (as minimally and precisely as possible)

[2020-11-30 15:25] sedefsavas commented on #20016
Kubernetes version we are running in the conformance workload cluster is defined by e2e_conf.yaml IIRC: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/f9b3593c998fd9896c7a79ab41d9542fd98ea6b8/test/e2e/data/e2e_conf.yaml#L110

So does this mean we are not actually running conformance against master?

[2020-11-30 16:37] neolit123 commented on #19483
kinder downloads image tarbals from e.g.:
[code]

and then mutates them to be `k8s.gcr.io/....`

so i don't think kinder (or kubeadm CI) will be affected by the gcr.io/kubernetes-ci-images ->  gcr.io/k8-staging-ci-images change.
however reading https://github.com/kubernetes/k8s.io/issues/846 my understanding is that kinder needs to migrate away from downloading from gs://kubernetes-release-dev to

[2020-11-30 17:39] CecileRobertMichon commented on #20016
@sedefsavas for conformance the k8s version is being overridden here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/f9b3593c998fd9896c7a79ab41d9542fd98ea6b8/test/e2e/suites/conformance/conformance_test.go#L62

[2020-11-30 17:57] detiber commented on #15649
/remove-lifecycle stale

[2020-11-30 17:58] alvaroaleman commented on #14226
I don't think there are any blockers for this. Essentially, the spyglass page should show a re-run button just like the deck front page if we still have the prowjob resource in cluster. The security concerns were about using the prowjob from GCS where I agree that this might be problematic

[2020-11-30 22:18] MushuEE opened #20067 "Metrics Query Visualizations"
**What would you like to be added**:
We currently have a number of [Queries](https://github.com/kubernetes/test-infra/tree/master/metrics) that pull data from Kettle's BigQuery database. These metrics are helpful but not often looked at as it is hard to dig into as a human.

This feature would leverage [Data Studio](https://datastudio.google.com/c/u/0/navigation/reporting) which has native BQ inte

[2020-11-30 22:19] MushuEE commented on #20067
/assign

[2020-12-01 00:14] BenTheElder commented on #18600
/remove-lifecycle rotten

[2020-12-01 00:39] belgradio-rs opened #20071 "Prow issue:"
....

[2020-12-01 00:46] mrbobbytables commented on #20071
This is an en empty issue, going to close. Please create a new one if you have an issue to report.

/close

[2020-12-01 00:46] #20071 closed

[2020-12-01 08:11] matthyx commented on #18768
@chaodaiG do you see any improvement?

[2020-12-01 12:02] saschagrunert commented on #9925
/cc

[2020-12-01 14:48] #19005 closed

[2020-12-01 16:12] chaodaiG commented on #18768
It had disappeared from istio prow log since last week, I think it's fixed. Thank you @matthyx

/close

[2020-12-01 16:13] #18768 closed

[2020-12-01 16:58] MushuEE commented on #20024
/cc @spiffxp

I am 90% sure this is a symptom of the main failure we are seeing. Previously I had thought that Kettle was failing due to tracebacks of paths. But I now know that the failures is being caused by the run of: `pypy3 make_json.py | pv | gzip > build_all.json.gz`

[code]
While there is an issue on some paths, it pins CPU and hangs indefinitely. This causes Kettle to simply freeze.
I ran

[2020-12-01 17:13] MushuEE commented on #20034
This is being caused by #20024

I think I have a partial fix that will at least keep data fresh for ~3 month periods. Though there is a LOT of data now stored in kettle's DB and it is having a lot of trouble keeping up.

[2020-12-01 18:10] BenTheElder commented on #17505
https://github.com/kubernetes/test-infra/pull/19098 is in?

[2020-12-01 18:20] aojea commented on #20067
/cc

[2020-12-01 19:12] chases2 commented on #18159
We discussed this during today's sig-testing meeting. We didn't come to a consensus, but I do want to note what I heard:

For adding all presubmits to TestGrid:
- Nicer contributor experience: we can say that "all Prow Jobs are (or should be) on TestGrid"
- Makes a history of presubmits easier to discover for more users (ex. if a presubmit gets much flakier)

Against requiring presubmits in TestGr

[2020-12-01 20:21] ameukam commented on #11402
@spiffxp Any update about this ?

[2020-12-01 22:42] MushuEE commented on #20067
Notes:
- Flake Drill Down Options
    - This is possible but needs more reading into https://support.google.com/datastudio/answer/9319405?hl=en
- Time Filtering Options
    - This is possible but may require query edits to include dates for filtering as I do not think all queries by default include time info

[2020-12-02 03:14] #19981 closed

[2020-12-02 10:01] srajmane commented on #20053
/cc @alvaroaleman @fejta

[2020-12-02 15:03] StevenACoffman commented on #11782
/remove-lifecycle rotten

[2020-12-02 16:52] alvaroaleman commented on #20053
@srajmane sorry, I know pretty much nothing about Bazel and won't be able to help you :upside_down_face:

[2020-12-02 17:51] MushuEE opened #20095 "[Kettle] Build Emitted Tables based on Day and not Table"
**What would you like to be added**:
Currently creates `build_emitted` tables based on the `--days` passed to `make_json` OR `"build_emitted"` if days is none. This causes the following issues for tables that are not cycled:

Scenario
- Upload data from the last 3 days to tabled called `Example`
    - This creates an incremental table called `build_emitted_3`
    - Uploads data to BQ `build.Exampl

[2020-12-02 19:54] fejta commented on #20053
Need to look at the difference in the change logs between v0.36 and v2.3.1 in how the yarn_install and/or rules_nodejs rules/repos work.

[2020-12-02 20:36] michelle192837 commented on #20010
Alright, underlying issue appears to be fixed, so I'm going to remove the mitigations and go back to the official way of running stuff. (That should be live tomorrow morning, around 9-11 AM PT?)

[2020-12-02 22:27] spiffxp opened #20101 "verify whether v1.20 bazel image acts as bazelisk"
**What should be cleaned up or changed**:
- Decide whether or not we're going to proceed with per-kubernetes-release-branch variants of `gcr.io/k8s-testimages/launcher.gcr.io/google/bazel` going forward
- If yes, update https://github.com/kubernetes/test-infra/blob/master/images/bazel/variants.yaml to build new images
- Update 1.20 job configs to use the `kubernetes-1.20` tag instead of the `kuber

[2020-12-03 01:13] knabben opened #20105 "Kubelet Node E2E Lock Contention job"
**What would you like to be added**:
Kubelet Node E2E lock contention test

**Why is this needed**:
In order to graduate the --exit-on-lock-contention and --lock-file Kubelet flags, a suite running E2E tests for them needs to be created.

Ref https://github.com/kubernetes/kubernetes/pull/96775

[2020-12-03 12:14] ArangoGutierrez opened #20112 "Label cla/linuxfoundation is failing to be created"
**What happened**:
On PR https://github.com/kubernetes-sigs/node-feature-discovery/pull/409
![image](https://user-images.githubusercontent.com/15933089/101016533-ec116080-3536-11eb-8757-b489921bd74f.png)

the user @marquiz who has CLA, created a PR, the check says is ok, but the PR is not getting labeled `cla/linuxfoundation` so `tide` is blocked waiting on the label

**What you expected to happen

[2020-12-03 17:12] cblecker commented on #20112
`/check-cla` exists for this use case. It was already run on that PR, and that PR is now merged :)

/close

[2020-12-03 17:12] #20112 closed

[2020-12-03 17:19] spiffxp commented on #19477
We've gotten reports from downstream users who don't use mirroring in their CI that kubernetes e2e tests are occasionally hitting rate limits.  Opened https://github.com/kubernetes/kubernetes/issues/97027 to cover moving those images/tests to a community-owned registry

[2020-12-03 22:33] spiffxp commented on #20101
In discussing with @amwat we believe that the version of `bazel` used in the `kubernetes-master` image is effectively `bazelisk`, meaning it will automatically download and use whatever version of bazel is specified in `.bazelversion` for the repo under build/test.

This means that we may not actually need the added complexity of branch-specific builds of this bazel image.  We could continue to ma

[2020-12-04 09:19] hi-rustin opened #20128 "label_sync supports dumping the current labels"
**What would you like to be added**:
supports dumping the current labels
**Why is this needed**:
It is very complicated for some old repos to manually organize and fetch the old labels and modify them.

[2020-12-04 09:19] hi-rustin commented on #20128
/area label_sync

[2020-12-04 09:19] hi-rustin commented on #20128
cc: @fejta

[2020-12-04 17:23] cheftako commented on #18865
/cc @jpbetz

[2020-12-04 17:23] cheftako commented on #18865
/remove-lifecycle stale

[2020-12-04 17:24] cheftako commented on #18865
/lifecycle frozen

[2020-12-07 05:23] #18248 closed

[2020-12-07 11:46] matthyx commented on #13413
@spiffxp do we still want to go further? I need to come back to it and integrate some checks on the yamls.

[2020-12-07 15:48] thejoycekung commented on #20010
@michelle192837 Looks like the summaries are updating correctly:
![image](https://user-images.githubusercontent.com/13409103/101371967-5f89d980-3879-11eb-8980-3df97ff442d3.png)

But the tabs are still showing old data:
![image](https://user-images.githubusercontent.com/13409103/101372046-76303080-3879-11eb-98a0-db74965ec6a7.png)

The `&grid=old` workaround will still show the new data though.

[2020-12-07 18:16] michelle192837 commented on #20010
The updater _is_ running this time, so that's good. It appears to log that it's updated states (and I've confirmed that the states in storage _are_ recently updated, so the timestamps on the summary check out), but all the dashboards I've checked don't have recent results, so something seems suspicious here.

[2020-12-07 19:55] wojtek-t commented on #20010
We have the same problem for *some* of our jobs, e.g.:
https://testgrid.k8s.io/sig-scalability-gce#gce-cos-master-scalability-100

But surprisingly, this one looks fine as an example:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-performance

[2020-12-07 22:07] michelle192837 commented on #20010
Ah, thanks for pointing this out!

Pinging @fejta in case you have ideas!

Yeah, correlating some of the update messages with their tabs more closely, it does look like some of these are perfectly fine and have updated pretty recently, but not a high percentage of groups.

From the logs, it looks like we're making progress such that logs report up to 25% of groups updated...but then they stop? (Ma

[2020-12-07 23:29] fejta commented on #20010
Two issues are 1) concurrency/node size is too high, resulting in evictions and 2) always update in the same order

I have a solution for (2) and trying to mitigate (1) without just using a bigger node

[2020-12-08 04:14] Bobgy commented on #14343
I have coordinated with gcp oss prow team and will start the migration this week.
/cc @chaodaiG @jlewi @chensun

I'll put progress log here.

[2020-12-08 04:52] Bobgy commented on #12863
FYI, I'm working on https://github.com/kubernetes/test-infra/issues/14343 this week

[2020-12-08 06:55] Bobgy commented on #14343
Add @google-oss-robot as kubeflow org admin: https://github.com/kubeflow/internal-acls/pull/418

[2020-12-08 20:47] ncdc commented on #15649
/unassign

[2020-12-08 22:22] MushuEE opened #20170 "[Prow] Jobs can hang pass Timeout if pod doesn't start"
**What happened**:
I built a Prow job that attempted to mount a missing secret via a preset label. The secret did not exist and seemed to cause
![image](https://user-images.githubusercontent.com/7189267/101548268-6c352d00-3960-11eb-813b-ee1463b5063c.png)

The hanging job stayed stagnate and needed to be manually killed before a followup job triggered. This job was configured to timeout after 120m

[2020-12-09 10:39] srajmane opened #20178 "Prow build is failing on master"
**What happened**:
I am trying to build prow using `bazel build //prow/...` command, build is failing on intel with below error
[code]

Observed that after [Bump go to 1.15](https://github.com/kubernetes/test-infra/commit/a003673528bf2902ed70d596be7d0957b1cc80ae) commit build is failing.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please

[2020-12-09 10:58] srajmane commented on #20178
/area prow

[2020-12-09 17:18] jingxu97 opened #20183 "cloudbuild job failed to access k8s-artifacts-csi"
I have a clouldbuild job https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-csi-proxy-push-images/1305641389169577989 failed due to permission.

ResumableUploadAbortException: 403 272675062337@cloudbuild.gserviceaccount.com does not have storage.objects.create access to k8s-artifacts-csi/csi-proxy/dev/csi-proxy-master.exe.
CommandException: 1 file/object could not be transferred.
ERROR
ERRO

[2020-12-09 17:19] jingxu97 commented on #20183
assign @bartsmykla
cc @spiffxp

[2020-12-09 18:13] clarkmcc opened #20184 "StatusReconciler Panic: index out of range [1] with length 1"
**What happened**:
Panic out of bounds error

**What you expected to happen**:
No panic

**How to reproduce it (as minimally and precisely as possible)**:
No idea. All other services/deployments appear to be running fine. I'm happy to provide any other information that would be helpful.

**Please provide links to example occurrences, if any**:
[code]

**Anything else we need to know?**:
I've been

[2020-12-09 19:13] michelle192837 commented on #20010
Looks like Erick's fixes have resolved this issue, and everything is updating consistently. Thanks Erick! 🎉

/assign @fejta

[2020-12-09 19:13] #20010 closed

[2020-12-09 19:38] clarkmcc commented on #20184
After further investigation, it looks like the error is coming from

https://github.com/kubernetes/test-infra/blob/3846aa0d7dba8b2ce27c58e9751a9f4047ec9b89/prow/statusreconciler/controller.go#L281-L285

I only have one presubmit in_repo_config that looks like this

[code]

The only other job I have is in the prow config

[code]

[2020-12-09 21:22] alvaroaleman commented on #20184
This means you had a presubmit that wasn't properly keyed to an `org/repo`, something like:
[code]

[2020-12-09 21:26] alvaroaleman commented on #20178
@srajmane it works in the postsubmit, most of the time: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/post-test-infra-bazel :upside_down_face:

[2020-12-09 21:45] #20184 closed

[2020-12-09 23:32] BenTheElder commented on #20183
aside: this bug should probably be against github.com/kubernetes/k8s.io in the future, the accounts etc. are managed there.

[2020-12-09 23:36] BenTheElder commented on #20178
CI seems to be flaking on the network / downloading docker images, I don't see it failing in this fashion at all.
Additional details on how to reproduce might help someone look at this.

[2020-12-10 00:33] papuneftali opened #20189 "Report"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

- [x] **Anything else we need to know?**: thanks

[2020-12-10 02:00] mrbobbytables commented on #20189
empty issue
/close

[2020-12-10 02:00] #20189 closed

[2020-12-10 13:18] srajmane commented on #20178
@BenTheElder
I am using **Bazel Version 3.1.0** ,
[code]

All tests are passing, but build is failing with above error.

[2020-12-10 13:35] dims commented on #20178
@srajmane fails consistently on your end? (100% of the time?)

[2020-12-10 14:08] srajmane commented on #20178
@dims Yes, I tried many times with different bazel version also.
 Platform- UB 18.04 intel.

[2020-12-10 14:42] hickeyma opened #20194 "Fix post submit jobs that are not running"
**What happened**:

Post submit jobs for cri-tools do not seem to be running:
https://testgrid.k8s.io/sig-node-cri-tools
https://prow.k8s.io/?job=post-cri-tools-push-image-user-multi-arch

**What you expected to happen**:

The jobs to run when there was a change to https://github.com/kubernetes-sigs/cri-tools/tree/master/images/image-user as per PR kubernetes-sigs/cri-tools#698

**How to reproduce

[2020-12-10 14:44] dims commented on #20178
@srajmane can you try cleaning up the bazel left overs and try again? i typically run `git clean -xdff` in the `test-infra` directory and also `rm -rf $HOME/.cache/bazel` to clean things up.

[2020-12-10 15:50] wojtek-t commented on #4046
/remove-lifecycle stale

I think it is important. It just means that we don't have enough capacity to push all important things...

[2020-12-10 15:50] wojtek-t commented on #8348
We no longer run it on presubmit. At the same time, we're working on speeding up tests and these are tracked elsewhere.
Closing

/close

[2020-12-10 15:50] #8348 closed

[2020-12-10 15:57] srajmane commented on #20178
@dims Tried above commands to clean bazel cache, still it is giving the same issue.

[2020-12-10 17:08] chaodaiG commented on #20194
So the job says run_if_changed: '^\/images\/image-user\/' at https://github.com/kubernetes/test-infra/pull/20092/files#diff-95554f967ae5f74d1a2e6feaff604d62d18736b332f7b3cb8d88fb3298cdc17eR100, which means it’ll only be triggered if changes include files under /images/image-user . Since https://github.com/kubernetes-sigs/cri-tools/pull/698/files only modifies `images/image-user/cloudbuild-manifest

[2020-12-10 17:12] hickeyma commented on #20194
@chaodaiG Thanks for the feedback. So, does this mean that it only triggers if files are added/removed from the directory? If so, is there a way to trigger it if an existing file is modified?

[2020-12-10 17:25] chaodaiG commented on #20194
Other than added/removed, any file change that matches the given regex would trigger this job, so if any file under this directory is modified it'll also trigger this job. I believe as long as the changeset contains file with such a path`/images/image-user/*` it will work.

[2020-12-10 20:34] #20194 closed

[2020-12-10 21:02] hickeyma commented on #20194
Thanks for the help @BenTheElder @chaodaiG

[2020-12-13 18:57] #18338 closed

[2020-12-14 06:21] MushuEE commented on #13432
/remove-lifecycle stale

[2020-12-14 10:08] srajmane commented on #20178
@BenTheElder @dims
Any update on the issue? Are you able to reproduce the issue?

[2020-12-14 11:38] dims commented on #20178
@srajmane nope. tried a couple of boxes, no luck.

[2020-12-14 12:20] dims commented on #20178
@srajmane tried another experiment, looks like i get prompted to downgrade to `3.0.0` (see screen shot). did you already try that version?

Also google is down at the moment, so there are other failures :( when i try that.

![image](https://user-images.githubusercontent.com/23304/102080596-b5600380-3ddc-11eb-9e42-c8b3e692b492.png)

[2020-12-14 13:19] srajmane commented on #20178
@dims
I just tried with Bazel 3.0.0 version, downoaded bazel from : [Bazel 3.0.0]( https://github.com/bazelbuild/bazel/releases/download/3.0.0/bazel-3.0.0-linux-x86_64), still I am getting the same issue.
[code]

[2020-12-14 13:50] mborsz commented on #17505
#19098 doesn't help that much unfortunately. The 5k result still takes O(tens seconds) to load.

[2020-12-14 14:33] alvaroaleman commented on #20178
yeah we use [`bazelisk`](https://github.com/bazelbuild/bazelisk) which will automaticallyn select and use (if google isn't down) the right bazel version based off of that  `.bazelrc` file.

FTR, I can reproduce the issue after clearing both my bazel and my npm cache, but the output doesn't seem to be very helpful:
<details> <summary>Output of <code>bazel build //prow/cmd/deck --sandbox_debug</code

[2020-12-14 14:52] srajmane commented on #20178
@alvaroaleman I am following https://github.com/kubernetes/test-infra/blob/master/prow/build_test_update.md#how-to-build-and-test-prow steps to build prow.
So I am running `bazel build //prow/...` this command, which gives the same issue as mentioned above.
Also I have observed that before https://github.com/kubernetes/test-infra/commit/a003673528bf2902ed70d596be7d0957b1cc80ae this commit, the bui

[2020-12-14 15:13] alvaroaleman commented on #20178
@srajmane sure but what is your goal with that? Both building the container image (the only artifact that this is supposed to produce) and running the tests works fine.

To my knowledge, at most the people at google who have a dedicated remote build farm at their hands actually ever run bazel like this. The remaining ones of us just invoke `go` directly or occasionally use bazel to build a contain

[2020-12-14 18:55] justaugustus commented on #19264
ADR up for review: https://github.com/kubernetes/community/pull/5341

[2020-12-14 18:57] justaugustus commented on #18801
@alvaroaleman -- What are next steps now that the announcement has merged?

[2020-12-14 19:01] alvaroaleman commented on #18801
Remove the old config options in January, as mentioned in the announcement

[2020-12-14 20:45] dims commented on #20178
@alvaroaleman digging into the problem with @srajmane a bit earlier, ended up with some insights that she shared.

The following recreates the problem, not sure if anyone has run this recently:
[code]
It happens after https://github.com/kubernetes/test-infra/commit/a003673528bf2902ed70d596be7d0957b1cc80ae merged.

The failure looks like
[code]

basically one of the updates in the SHA above, pulled

[2020-12-14 21:03] fejta commented on #20178
What platform are you building on?

[2020-12-14 21:03] alvaroaleman commented on #20178
@dims thanks for taking the time to look into this. The Deck image which also includes spyglass got built successfully since that change (this also works locally via `bazel run //prow/cmd/deck:image`) (and we have rolled out changes that got made after the bump). I don't know what the purpose of that bazel target is or what to make out of that error. I would recommend everyone to just use `go` to

[2020-12-14 22:10] RobertKielty commented on #18162
I  haven't encountered this issue in while and if I do a window resize, page refresh or ctrl +/- usually fixes it.

/close

[2020-12-14 22:10] #18162 closed

[2020-12-14 22:13] RobertKielty commented on #20034
Checked triage today and it is still only serving data up to Dec 1st
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&sig=instrumentation

[2020-12-14 22:23] MushuEE commented on #20034
@RobertKielty Waiting on #20091

Kettle is locking up (not 100% sure why, but seems related to size of data) that PR should limit it to only look for new build in the last 30 days and I was successful in running this manually. Just need lgtm

[2020-12-14 22:37] MushuEE commented on #20001
[code]
Testing
[code]

[2020-12-14 22:55] BenTheElder commented on #20178
@srajmane sorry - I usually let CI build test-infra for me these days, it can check more things quickly and most of my recent changes in this repo are the CI configuration which I can mostly edit correctly without tools 😅

---

Apparently the go binary locations were never expected to be stable in the output either and you must query the action graph, we ran into this in kind when kubernetes upgra

[2020-12-14 22:59] MushuEE opened #20236 "[Kettle] Streaming build data sometimes results in JSON error"
**What happened**:
During the data stream process,
[code]
**What you expected to happen**:
Build that fail to decode Json are logged and skipped

**How to reproduce it (as minimally and precisely as possible)**:
Attempt to pull from above path `kubernetes-jenkins/o/pr-logs%2Fpull%2Fkubeflow_pipelines%2F4885%2Fkubeflow-pipeline-backend-test%2F1336900731344523264%2Ffinished.json`

**Please provide l

[2020-12-14 23:09] MushuEE commented on #20236
It looks like the request if getting nothing:
[code]
While `curl https://www.googleapis.com/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2Fkubeflow_pipelines%2F4885%2Fkubeflow-pipeline-backend-test%2F1336900731344523264%2Ffinished.json` works fine

[2020-12-15 00:39] MushuEE commented on #20236
[code]
This does work if the url is not quoted and use the base path `https://storage.googleapis.com/kubernetes-jenkins/`

[2020-12-15 04:50] srajmane commented on #20178
I am building on amd64.

[2020-12-15 05:58] ajaygm commented on #18801
Stuff mentioned in https://github.com/kubernetes/test-infra/issues/18801#issuecomment-725797614 is what needs to be done and committed in Jan 2021.
@alvaroaleman can you confirm if that comment defines the work to be done correctly?

[2020-12-15 14:11] alvaroaleman commented on #18801
What needs to be done in Jan is to remove the deprecated options and everything that references it

[2020-12-15 23:01] #20001 closed

[2020-12-16 00:23] MushuEE commented on #20236
There seem to be two cases for data, some paths that have object data only and some that have metadata. If a path has metadata and `alt`:`media` is not used, we get object metadata. However if we get a path without, it will return nothing.

[2020-12-16 00:39] MushuEE commented on #20236
Turns out this seems to be an issue with the exact end point:
[code]
uri2 works where uri3 does not.

[2020-12-16 00:39] MushuEE commented on #20236
This change will be good because it will also update the end point

[2020-12-16 01:15] MushuEE commented on #20236
I was mistaken: the object is actually empty
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4885/kubeflow-pipeline-backend-test/1336900731344523264/finished.json

[2020-12-16 17:56] chaodaiG commented on #19086
This happened on 12/10 again, twice in a row
https://kubernetes.slack.com/archives/CDECRSC5U/p1607624425279000

[2020-12-16 17:58] chaodaiG commented on #19908
This was fixed by https://github.com/kubernetes/test-infra/pull/19928

/close

[2020-12-16 17:58] #19908 closed

[2020-12-16 18:24] chases2 opened #20259 "ci-test-infra-triage is failing with an "index out of bounds" issue"
Example Log: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-triage/1338998617725210624

Current TG: https://testgrid.k8s.io/sig-testing-misc#triage

It looks like it's been failing regularly for the past day and a half; I think that this is going to result in some staleness issues with the triage dashboard

[2020-12-16 18:26] chases2 commented on #20034
It looks like the Triage upload job has been failing for the past day and a half. I can't tell for certain that these two issues are related, only that the timeline kind of matches up.
https://github.com/kubernetes/test-infra/issues/20034

[2020-12-16 18:57] spiffxp commented on #20259
I think this is because kettle hasn't updated anything since ~December 1st.  https://github.com/kubernetes/test-infra/pull/20091 may unblock

However, we should still make the triage code robust to zero results

[2020-12-17 11:16] Bobgy commented on #14343
UPDATE: there's a permission issue on gcp oss prow side.
We are currently blocked by resolving that first.

[2020-12-17 14:37] mborsz opened #20275 "Move logs in scalability logs to a separate bucket"
Partially discussed in https://github.com/kubernetes/test-infra/pull/17215#issuecomment-621084436

The goal here is to modify scalability tests to dump logs to a separate bucket to:
a) unblock pod-utils migration (see https://github.com/kubernetes/test-infra/pull/17215 for explanation why it's needed)
b) by moving most of the files out of artifacts directory, making prow faster (see https://github

[2020-12-17 18:21] MushuEE opened #20279 "[Kettle] Staging ENV most likely consuming PubSub from Prod"
**What happened**:
Both Kettle Staging and Prod consume PubSub events from the same *kettle* subscription. They ACK the messages from the PubSub events independently. After a message is consumed it is not resent.

These events are being triggered by GCS and I have a strong suspicion that though the event is probably sent out simultaneously, if staging is consuming that event prior to Prod, Prod wi

[2020-12-17 18:21] MushuEE commented on #20279
/assign

[2020-12-17 18:27] MushuEE commented on #20034
100% kettle on the Triage failures. "Fix" merged yesterday and updated kettle last night. I do see data in Triage again. Will keep this open for a while to make sure data is consistent.

[2020-12-17 21:17] thejoycekung opened #20285 "ci-kubernetes-e2e-windows-gce jobs not setting up Windows nodes"
**What happened**:
The `ci-kubernetes-e2e-windows-gce-1909` and `ci-kubernetes-e2e-windows-gce-2019` jobs on SIG Release/master-informing board are currently failing because its cluster isn't setting up the Windows nodes.

From [this run last week](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1909/1337549648977465344):
[code]

**What you expected to happen**:

[2020-12-18 01:55] Aisuko commented on #18150
Close because there may no deep detailed information.

[2020-12-18 01:55] #18150 closed

[2020-12-18 13:18] sftim commented on #18117
I'd like to see this implemented, but it wouldn't be used very often.

[2020-12-20 20:05] sftim commented on #6289
/remove-lifecycle rotten

For the final merge once Tide is ready to doit, I wonder if Tide could implement merging by:
- turning on [automerge](https://twitter.com/github/status/1336360682221133827) for that PR
   - I'm assuming you can enable it per PR
- marking the Tide merge blocking status as passed

[2020-12-20 23:44] alvaroaleman commented on #6289
This here is blocked by https://github.com/kubernetes/test-infra/issues/16472

The tide status context is only eventual consistent, so relying just on it is unsafe. Furthermore, there are situations when merging was technically ok because a PR does have passing tests against the lastest base branch revision, but would slow down overall merge rate as it would invalidate the results of a currently r

[2020-12-21 09:55] #17696 closed

[2020-12-21 11:56] Rajalakshmi-Girish commented on #20010
Test-grid is not reporting job status for "ppc64le unit tests" since 11-12-2020
https://k8s-testgrid.appspot.com/sig-node-ppc64le#unit-tests is showing results only till 11th December (11-12-2020)
As per the workaround mentioned in https://github.com/kubernetes/test-infra/issues/20010, I am able to view all the latest results via https://k8s-testgrid.appspot.com/sig-node-ppc64le#unit-tests&grid=ol

[2020-12-21 11:59] Rajalakshmi-Girish commented on #20010
![69015e80-43ae-11eb-8a6d-dd91393aa1fa](https://user-images.githubusercontent.com/63038004/102774987-06aa5d00-43b2-11eb-8d3b-6b19cce45bef.png)

[2020-12-21 17:52] MushuEE opened #20307 "[Kettle] Streaming BQ results issuing "illegal requests""
**What happened**:
Kettle was updated to surpass the production lockup it was hitting due to Database growth and it has been some time since it was successful in executing a stream PubSub process. It appears this process is now failing due to `Your client has issued a malformed or illegal request.  <ins>That\u2019s all we know.</ins>`

[code]

**What you expected to happen**:
BQ client uploads sho

[2020-12-21 18:17] SergeyKanzhelev commented on #18973
@mmerkes is extending the e-mail to the form of a google doc for review and setting up the long term goal

[2020-12-21 18:17] SergeyKanzhelev commented on #18826
/remove-lifecycle stale

[2020-12-21 18:21] SergeyKanzhelev commented on #19401
/assign @knabben

[2020-12-21 18:24] SergeyKanzhelev commented on #19902
/sig node

[2020-12-21 19:58] fejta commented on #6289
I am in favor of closing this PR as working as intended.

[2020-12-21 23:17] MushuEE commented on #20307
Seeing new failure:
[code]

[2020-12-22 00:55] fejta commented on #20010
https://github.com/GoogleCloudPlatform/testgrid/pull/303 should have mitigate this @Rajalakshmi-Girish and is now in production

This is also caused by the 27k stale tests, which I can look into

[2020-12-22 10:58] amwat commented on #20307
I thought we reduced the amount of build emitted by limiting it to past 30 days?

[2020-12-22 17:49] jayunit100 opened #20321 "No SNAT tests on calico GCE don't pass"
**What happened**:

Looks like the "No SNAT" semantic on GCE with calico as the policy provider doesn't pass.
Curious about
- is this because GCE doesn't support the No SNAT mode ?
- is it somehow related to running calico on top of GCE ?

Likely the former.

To investigate, I ran calico on kind 5 times in a row with this test:

[code]

And it ALWAYS passed.  So I suspect its GCE related.

**What

[2020-12-22 17:54] MushuEE commented on #20307
^ We did, because the stream emitted table was not using the 30 day table it was trying to add in more builds than it should have which was causing this failure.