[2019-07-05 13:56] detiber commented on #13332
/cc
watching since we'd like to do something similar for cluster-api

[2019-07-05 18:00] #11124 closed

[2019-07-06 07:13] #11138 closed

[2019-07-06 17:22] #11037 closed

[2019-07-07 00:29] #11157 closed

[2019-07-07 06:50] moshloop opened #13341 "Nested Virtualization Support for prow.k8s.io"
A number of different projects would benefit from nested virtualization (NV) support:

* https://github.com/kubernetes-sigs/image-builder
* https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm
* https://github.com/kubernetes-sigs/kubespray - Currently using KubeVirt on packet
* https://github.com/kubernetes-sigs/node-feature-discovery ?

GCP does support [nested virtualization

[2019-07-08 07:57] gentitope opened #13345 "Run Prow for project integration and unit testing (e.g yarn test)"
I need an idea on to integrate my project with prow for integration and unit testing.

**What would you like to be added**:

**Why is this needed**:

[2019-07-08 09:28] xiaoxubeii commented on #10409
+1, there is little tools in e2e test results visualization, and i think testgrid is definitely helpful.

[2019-07-08 14:54] timothysc commented on #13341
@spiffxp @BenTheElder ?

[2019-07-08 16:47] cjwagner commented on #11640
@stevekuznetsov This is fixed now right?

[2019-07-08 16:58] BenTheElder commented on #13341
I don't run the clusters currently so I can't speak to that with any authority, but previously the response was only to use GKE because of time saved to the team running Prow.

This is in part why we have [kind](https://sigs.k8s.io/kind). @munnerz also used to run a Prow with nested virtualization for Jetstack and switched off of this because it had a lot of problems (eg you can leak resources eas

[2019-07-08 17:00] BenTheElder commented on #13341
When a job really does need a VM so far test-infra has recommended spinning up a GCE or AWS VM from the ProwJob as the project has separate ~reliable infrastructure to lease projects and nuke everything in them after the job is done. (see boskos/).

[2019-07-08 19:57] chases2 opened #13353 "generate_tests.py has no verification test"
**What would you like to be added**:
A test, similar to [verify-config](https://github.com/kubernetes/test-infra/tree/master/hack), that ensures that the jobs generated by [generate_tests.py](https://github.com/kubernetes/test-infra/blob/master/experiment/generate_tests.py) match the script's output.

**Why is this needed**:
It is possible to modify either the [tests](https://github.com/kubernetes

[2019-07-08 20:09] krzyzacy commented on #13353
I think @Katharine migrated release-related jobs, and we've also migrated all image validation jobs to internal, maybe we can delete all associated code here? @yguo0905

[2019-07-08 20:22] Katharine commented on #13353
@krzyzacy We still use this, and the tests it generates.

[2019-07-08 20:25] krzyzacy commented on #13353
assume it still consumes https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml today, at least we can clean up the cos tests here :-) punt to @yguo0905

[2019-07-08 20:29] yguo0905 commented on #13353
Yes, we can remove the cos jobs. The ubuntu ones need to remain there unless we have a way to give Canonical read access to the internal test results.

I'm not sure about the release jobs. For example, can https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml#L1041 be removed?

[2019-07-08 20:32] krzyzacy commented on #13353
probably not, as @Katharine mentioned above

[2019-07-08 20:49] cjwagner opened #13355 "Plank tries to update a ProwJob multiple times in the same sync loop."
prow.k8s.io is seeing errors like this:
[code]

I think this suggests that we are trying to update a ProwJob multiple times during the same sync loop which we shouldn't be doing.

cc @stevekuznetsov @fejta

[2019-07-08 21:29] dims opened #13359 "/uncc does not seem to work"
i tried `/uncc` in the following PR(s) and it does not seem to help clear me from the list of reviewers.

- https://github.com/kubernetes/kubernetes/pull/76798#issuecomment-509397574
- https://github.com/kubernetes/kubernetes/pull/74691#issuecomment-509396737
- https://github.com/kubernetes/klog/pull/74#issuecomment-509397679
- https://github.com/kubernetes/kubernetes/pull/76838#issuecomment-50926

[2019-07-08 21:29] dims commented on #13359
/cc @cblecker

[2019-07-08 21:48] cjwagner opened #13360 "Crier fails trying to report postsubmit job status due to invalid commit SHAs."
**What happened**:
prow.k8s.io saw errors like the following after `crier` was restarted by a version bump:
[code]
[code]
**What you expected to happen**:
The commits should exist.

**Anything else we need to know?**:
@krzyzacy found that the jobs specified `Base Ref:   v1.12.10`. `v1.12.10` is a valid git tag in `k/k`, but not a branch and our automation didn't warn about a branch being created o

[2019-07-08 21:54] fejta opened #13362 "blunderbuss calculates leaf nodes incorrectly"
https://github.com/kubernetes/kubernetes/pull/79874 has a `k8s-ci-robot requested review from fejta and smarterclayton 18 hours ago` message.

This is deeply unfortunate as there are only changes to test/e2e/lifecycle/* and there is a test/e2e/lifecycle/OWNERS file. Why didn't we use it?

[2019-07-08 21:54] fejta commented on #13362
/help

[2019-07-08 21:55] fejta commented on #13362
/good-first-issue

Ensure that if we only change files in kubernetes/kubernetes test/e2e/lifecycle/foo that we only use people in test/e2e/lifecycle/OWNERS to auto-assign reviewers and suggest approvers.

[2019-07-08 21:57] fejta commented on #13362
Sounds like this is because the `sig-cluster-lifecycle` alias doesn't exist.

[2019-07-08 21:58] cblecker commented on #13359
That's because you've already left a review, so you *are* a reviewer.

[2019-07-08 21:59] cheftako commented on #12127
/remove-lifecycle stale

[2019-07-08 23:40] krzyzacy commented on #13360
full prowjob yaml, if interested:
[code]

[2019-07-09 00:47] dims commented on #13359
gotcha :)

/close

[2019-07-09 00:47] #13359 closed

[2019-07-09 14:57] stevekuznetsov commented on #13360
Another:

[code]

[2019-07-09 14:59] stevekuznetsov commented on #13360
I wonder if we somehow are dereferencing the refspec into a SHA incorrectly? We call [this endpoint](https://developer.github.com/v3/git/refs/#get-a-reference).

[2019-07-09 15:00] stevekuznetsov commented on #13360
No, I think the tags just don't exist?

[code]

[2019-07-09 15:06] stevekuznetsov commented on #13360
So it's not clear to me how we were able to run the jobs in the first place since GitHub seems to use a [separate API](https://developer.github.com/v3/git/tags/) for tags ...

I can't even list references, though ... no idea what's going on here

[code]

[2019-07-09 15:17] stevekuznetsov commented on #13360
Ah, nevermind -- we just use the data from the push payload:

https://github.com/kubernetes/test-infra/blob/0dd9ee96d9373427473b65a05381242a28555c1c/prow/plugins/trigger/push.go#L53

I think the SHA we get, however, for annotated tags is the hash of the tag object itself. Only for a referential tag do we get the SHA for the commit it's pointing at. So we need to use the tags API to get the commit

[2019-07-09 16:20] krzyzacy commented on #13360
hummm.. should we do this at trigger level or reportlib level? If both SHA works for cloneref I'd prefer fix it in trigger.

[2019-07-09 17:34] #10771 closed

[2019-07-09 18:22] stevekuznetsov commented on #13360
Agreed -- we need the SHA of a commit to report on. We should do this in `push.go` for trigger plugin.

[2019-07-09 18:27] stevekuznetsov commented on #13355
You just switched over to use `crier`, right? So potentially this is `crier` updating the status of the ProwJob between the point at which `plank` reads the job into its in-memory cache and when it does an update?

[2019-07-09 18:27] stevekuznetsov commented on #13355
/cc @krzyzacy

[2019-07-09 18:29] stevekuznetsov commented on #13341
Running nested virt using credentials to set it up in separate cloud computing infrastructure from the service/build clusters that Prow schedules to is possible today. Not sure this requires any changes to prow, even if the request is for nested virt on the build cluster itself.

[2019-07-09 18:32] stevekuznetsov commented on #11640
I think this got lost in the larger `git` client work, so no. An example implementation of this is:

[code]

If we integrate that with the secret loader we should be set

/remove-lifecycle rotten
/help
/good-first-issue

[2019-07-09 18:33] stevekuznetsov commented on #12752
Right, that's what I had in mind.

[2019-07-09 18:35] stevekuznetsov commented on #9948
/remove-lifecycle rotten

Are we ready to do this? Branch-sharded variants with different names should be simple.

[2019-07-09 18:36] stevekuznetsov commented on #13306
404 on deleting a comment should not be an error -- or even logged above info, if at all

[2019-07-09 18:36] stevekuznetsov commented on #11997
@fejta ping
/remove-lifecycle stale

[2019-07-09 18:46] spiffxp commented on #12854
/milestone v1.16
checklist above is still incomplete, I'm assuming we have more to do here

[2019-07-09 18:48] spiffxp commented on #3412
/milestone v1.16
/assign @fejta
Based on the TODO in https://github.com/kubernetes/test-infra/blob/master/testgrid/metadata/job.go#L19-L73

That said I'm happy to write docs for this if nobody else wants to

[2019-07-09 18:50] spiffxp commented on #9697
/close
No complaints since #12887 merged, meant to close this a few weeks ago but forgot

[2019-07-09 18:50] #9697 closed

[2019-07-09 18:51] cjwagner commented on #13355
@stevekuznetsov That sounds likely.
Here is another occurrence:
[code]

[2019-07-09 18:51] spiffxp commented on #12508
/milestone v1.16

[2019-07-09 18:54] spiffxp commented on #9363
/milestone v1.16

[2019-07-09 18:54] spiffxp commented on #11555
/milestone v1.16

[2019-07-09 18:54] spiffxp commented on #9378
/milestone v1.16

[2019-07-09 18:55] spiffxp commented on #7769
/milestone v1.16
What remains to be done here?

[2019-07-09 18:57] spiffxp commented on #10369
/milestone clear

[2019-07-09 18:59] spiffxp commented on #10659
/milestone v1.16
Worth addressing if someone wants to rewrite triage (ref: https://github.com/kubernetes/test-infra/issues/12508)

[2019-07-09 19:00] spiffxp commented on #8536
/milestone clear

[2019-07-09 19:00] spiffxp commented on #5231
/milestone v1.16

[2019-07-09 19:01] cjwagner commented on #9948
I think the first step would be to log a warning message during config load for any job name collisions.

[2019-07-09 19:01] spiffxp commented on #11977
/milestone v1.16

[2019-07-09 19:02] spiffxp commented on #11402
/milestone v1.16
/priority important-longterm

[2019-07-09 19:02] spiffxp commented on #11402
/remove-priority important-soon

[2019-07-09 19:49] spiffxp opened #13370 "Allow job configuration inside the tested repo"
/assign @alvaroaleman
I'm creating a tracking issue for this, but am not working on it.  Assigning it to the person who suggested this and has been doing all of the work.

**What would you like to be added**:
In order to make job configuration atomic and easily discoverable, it should be possible to version it inside the tested repo. This is a feature already available on almost any other CI/CD pl

[2019-07-09 19:49] spiffxp commented on #13370
/milestone v1.16

[2019-07-09 19:52] Katharine opened #13371 "Explicitly invite users to join the org after several merged PRs"
**What would you like to be added**:
It would be nice to have trigger include a bold, explicit invitation to join the org in its ok-to-test message after you've made a few PRs (three? five?), perhaps something vaguely like this, totally off the top of my head:

(It would also be nice if we had a document to link to that wasn't all about reasons you can't be a member...)

We can do a query like `ty

[2019-07-09 19:53] spiffxp commented on #3412
/sig testing

[2019-07-09 19:53] spiffxp commented on #12854
/sig testing

[2019-07-09 19:54] spiffxp commented on #13129
/sig testing
/help
This is not a good first issue, but if someone is willing to try opening a PR with docs, I and others with more context than myself can help iterate.

[2019-07-09 19:55] spiffxp commented on #13370
/sig testing

[2019-07-09 19:55] spiffxp commented on #10659
/sig testing

[2019-07-09 20:01] krzyzacy commented on #13306
I think those existing errors start to surface because we retry failed report when we restart crier 🙈

[2019-07-09 20:03] cblecker commented on #13371
It's not about number of PRs though. It's about the *contributions* you bring to the project.

50 spelling fix PRs isn't the same as 2-3 quality contributions.. or zero code contributions but regularly attending meetings, providing feedback, or taking on non-code tasks.

I recognize that imposter syndrome is a problem, but I don't believe it's one that bots can solve. I personally think it's more

[2019-07-09 20:06] spiffxp commented on #11782
Need to see what PR's modify config.yaml and plugin.yaml and decide if we want those to go through rebase fun

[2019-07-09 20:07] liztio commented on #13371
I don't think we're going to solve imposter syndrome entirely, but I don't think there's a lot of downsides to implementing this. If we end up getting completely flooded with unqualified people trying to join the org that's one thing, but I really doubt that's going to happen.

And relying on people to "notice" others' contributions is unlikely to be a good solution. How would we go about publishi

[2019-07-09 20:09] spiffxp commented on #11782
/milestone v1.16
/assign

[2019-07-09 20:09] spiffxp commented on #11782
/assign @cjwagner

[2019-07-09 20:15] Katharine commented on #13371
@cblecker: that applies just as much to our "regular contributors should join" message that we already give on every PR that a non-member makes. This just makes the existing suggestion more positive and less ambiguous. It doesn't auto-approve membership, it just suggests that you should consider applying. It's not attempting to solve all angles of the problem, just be more encouraging to some subs

[2019-07-09 20:21] nnordrum opened #13372 "Post-Merge Hook/Action"
**What would you like to be added**:
I would like some way of configuring an action _after_ an individual merge happens (I guess after the whole merge process is done would be nice too).

e.g.
1. Branch Master to temp branch
1. Merge target Branch to temp branch
1. proposed hook
1. Merge target Branch 2 to temp branch
1. proposed hook
1. Merge target Branch 3 to temp branch
1. proposed hook
1. Mer

[2019-07-09 20:25] markyjackson-taulia commented on #13371
I love this idea

[2019-07-09 20:32] coderanger commented on #13371
This is delightful, even if we have to bikeshed about thresholds :)

[2019-07-09 20:55] cjwagner opened #13374 "Generate metric for GitHub v4 API (graphql) token usage."
Lets generate a prometheus metric for this like we do for v3 and create some graphs to display it. We should probably use the same mechanism for v3 and v4, but lets not have it live in Velodrome, I think this should be part of the new Prow metrics stack.

cc @stevekuznetsov @hongkailiu @Katharine

[2019-07-09 21:43] hongkailiu commented on #13374
I will take a look tomorrow.

[2019-07-09 21:45] stevekuznetsov commented on #13374
See also https://github.com/kubernetes/test-infra/pull/13182

[2019-07-09 22:20] spiffxp commented on #13371
/sig contributor-experience

My only nit is this doesn't recognize those folks who do great work that doesn't involve contributing code.  However, measuring that is... more involved.  Agree this is a step in the right direction.

Linking to the issue I've used as umbrella for all things OWNERS which I consider proxy for measuring/enforcing things related to contributor ladder https://github.com/ku

[2019-07-09 23:42] BenTheElder commented on #10065
I started to implement @ support but...

https://yaml.org/spec/1.2/spec.html#id2774157

`@` as the leading character in an unquoted string is unused but reserved in yaml :/

[2019-07-09 23:53] spiffxp opened #13379 "unrecognized annotations are allowed in prowjob annotations"
**What happened**:
We checked in a bunch of prowjobs with an incorrect annotation "test-tab-name" instead of the intended "testgrid-tab-name"

**What you expected to happen**:
Have a presubmit fail on us because this was an unrecognized annotation

**How to reproduce it (as minimally and precisely as possible)**:
Add an unrecognized annotation to a prowjob and PR it in

**Please provide links to e

[2019-07-10 00:04] spiffxp commented on #13379
The annotations we currently use
[code]

[2019-07-10 00:12] spiffxp commented on #13353
/remove-kind feature
/kind bug
I consider the fact that we don't have safeguards that prevent us from making mistakes on config changes to be a bug

/milestone v1.16
Adding safeguards would make config changes and self-service easier

[2019-07-10 00:13] spiffxp commented on #13379
/milestone v1.16
/sig testing

[2019-07-10 00:26] cblecker commented on #13371
Making language more friendly (in general): 👍
This applies to both the bot message on the PR, as well as language improvements to the community-membership.md doc.

Still not convinced tough that tying it to number of PRs is a pattern we want to use. We previously had PR numbers in the community membership document, and it just became a "goal" to hit. Not entirely closed to it, but I don't want to

[2019-07-10 00:28] spiffxp commented on #13371
Some prior discussions when this has come up in the past
- https://github.com/kubernetes/org/issues/10
- https://github.com/kubernetes/community/issues/874

[2019-07-10 00:34] spiffxp commented on #13107
/sig contributor-experience
A pattern we have used in the past is to make the configs used directly by the tool verbose and low level, and then use something else to generate those configs.  Baking directly into the tool may make it too clever.

Somewhat implied by this would be the idea that org membership should be cross-org as well.  Unclear whether it would be better to have a "global" overlay

[2019-07-10 10:32] leprecaun405 commented on #13362
https://github.com/kubernetes/test-infra/issues/13362#issuecomment-509406668

[2019-07-10 13:07] jdanekrh commented on #8246
/meow

[2019-07-10 15:00] stevekuznetsov commented on #13379
@spiffxp let it be known I find the length you went to not to use `jq` amusing ;)

[2019-07-10 15:02] nikhita commented on #13371
Some ideas here, very much open to dissenting opinions.

I think the root cause is that our membership requirements are ambiguous and the "bar" is not defined. If I'm applying for membership, I am not sure if I'm good enough, because I don't know what "bar" I'm supposed to be looking at. This has also led to the bar being inconsistently followed in different membership requests, which would make m

[2019-07-10 15:14] markyjackson-taulia commented on #13371
I agree with you @nikhita but 1 question I have is around this: `If you have made at least 10 significant PRs`: What is the criteria for `significant PRs`?
I feel that getting users to contribute in any fashion is a step in the right direction and even a doc fix is significant. Perhaps there can be levels or membership or mentorship to becoming an member. I have found that making people feel they

[2019-07-10 15:14] hongkailiu commented on #13374
@cjwagner @stevekuznetsov

I have some silly questions:
* Are we using the API both v3 and v4?
* how can we tell if v3/v4 of github api is being used? by url of the requests?

[2019-07-10 15:24] nikhita commented on #13371
I feel that getting users to contribute in any fashion is a step in the right direction and even a doc fix is significant.

Significant = anything that reviewers/approvers go "I think the requester has made some non-trivial contributions and are an active contributor. Having them be a part of the org would be helpful because that'll allow them to be assigned to issues and lgtm PRs, eventually movi

[2019-07-10 15:24] stevekuznetsov commented on #13372
Today, we support reacting to [push event webhooks](https://developer.github.com/v3/activity/events/types/#pushevent). Would that be appropriate to this request?

/cc @cjwagner @fejta

[2019-07-10 15:25] stevekuznetsov commented on #3412
... two year anniversary?

[2019-07-10 15:30] markyjackson-taulia commented on #13371
Thank you for the response @nikhita it is truly appreciated.

[2019-07-10 16:15] Katharine commented on #13371
We already have a message that says half of this. Rewording it is an option, but I don't think it is likely to help because nobody will read it in all the piles of bot noise that shows up on every PR. Especially since, by definition, we're trying to catch people who have seen this message many times and will not read it at all unless something is very obviously different.

As mentioned in the orig

[2019-07-10 16:21] stevekuznetsov commented on #13374
Yep!

You can see from the doc for [v3](https://developer.github.com/v3/#schema) and [v4](https://developer.github.com/v4/guides/forming-calls/#the-graphql-endpoint) that the API URL roots are different. We also use separate client structures in this repository for v3 and v4:

https://github.com/kubernetes/test-infra/blob/ceab943bb9a9149109bd0866479536302539c21d/prow/github/client.go#L198-L209

ht

[2019-07-10 18:29] nnordrum commented on #13372
maybe? I think you still have the sync problem though, but I could be thinking about it too narrowly.

my gut says it doesn't because the sync points are different for each multi-branch build...

Specifically, we rename a sql file so flyway can process it, but (branches attempted to merge) * (time to build) > 24 hours, if there's no issues. We "regularly" select a greedy strategy that merges 20+ b

[2019-07-10 18:40] nnordrum commented on #13107
the Xzibit strategy? 😄 (I put a tool around your tool to make a new tool)

I agree with the "make the tool too clever" thing--the though part is where to draw the line... We already assume GitHub, so it seems like we should have the same limitations/constraints as GitHub, acknowledging that they will change (we have already been "bitten" by their change to protected branches that match a given reg

[2019-07-10 19:24] krzyzacy commented on #13306
slack discussion: https://kubernetes.slack.com/archives/C09QZ4DQB/p1562715320215300

[2019-07-10 21:13] spiffxp commented on #12854
Currently available at https://monitoring.prow.k8s.io/

[2019-07-10 22:06] stevekuznetsov commented on #12854
All we have left is the AlertManager deployment, then we're done!

[2019-07-10 22:07] stevekuznetsov commented on #12854
I have a series of PRs to show how to add:

 - a new metric: #13376
 - a dashboard from it: #13386
 - an alert: TODO

[2019-07-10 23:39] krzyzacy commented on #13355
ummmmm, we probably should also do patch from plank, instead of replace, and retry on failures?

[2019-07-10 23:42] krzyzacy commented on #13355
/assign

[2019-07-11 02:57] Aisuko opened #13396 "Prow issue: People in OWNERS files could not add LGTM"
There is a PR in helm/charts. In my opinion, If my partner `jpoon ` add `/lgtm` label,  the PR would be merged. I'm sure that he was in the OWENERS file under approvers and reviewers. Is there has anything we should do?
https://github.com/helm/charts/pull/15354#issuecomment-510305070

[2019-07-11 04:26] clarketm commented on #13396
@Aisuko - It appears that your **OWNERS** file in the [`mysqlha`](https://github.com/helm/charts/blob/master/incubator/mysqlha/OWENERS) directory is misspelled **OWENERS** (note that there is an extra `E` in the filename). Try renaming that file

[2019-07-11 15:51] stevekuznetsov commented on #11739
@Katharine your lens refactor will allow configurable regex, right?

[2019-07-11 15:51] stevekuznetsov commented on #11739
/remove-lifecycle rotten
/assign @Katharine

[2019-07-11 15:53] Katharine commented on #11739
Already did, in fact

[2019-07-11 15:57] stevekuznetsov commented on #13372
I'm not sure I understand what you mean by the sync problem, but you can configure a job today via Prow to run every time any merge happens to any branch on a repo.

[2019-07-11 15:57] stevekuznetsov commented on #13372
I'm not sure I understand what you mean by the sync problem, but you can configure a job today via Prow to run every time any merge happens to any branch on a repo.

[2019-07-11 15:59] stevekuznetsov commented on #11739
:man_facepalming:
/close
You rock

[2019-07-11 15:59] #11739 closed

[2019-07-11 17:39] krzyzacy opened #13404 "Pipeline - Fail to reconcile prowjobs"
[code]

also the log probably should have a component field?

/cc @cjwagner

[2019-07-11 17:43] cjwagner commented on #13404
There are a number of issues with the current state of the pipeline controller that make it unusable. I think I've addressed the critically blocking ones here except for PipelineResource garbage collection which I'll do in a follow up: https://github.com/kubernetes/test-infra/pull/13114

I'd like to get that in before debugging more since it makes a lot of fixes.

[2019-07-11 17:46] krzyzacy commented on #13404
Thanks for the info Cole - I just saw these errors after the bump, might as well let you know here.

[2019-07-11 18:00] moshloop commented on #13341
So this request would be for a *new* build cluster with nested virtualization - I think spinning up new VM's for each job kind of defeats the purpose of nested virtualization in the first place.
Could we not create new boskos resource for this ?

[2019-07-11 18:05] BenTheElder commented on #13341
You'll need to get the prow.k8s.io oncall team to agree to this, or provide your own. I would bring this up in #testing-ops on the kubernetes slack.

it of course depends on the use case. it might for yours, but it would still _work_ with what is available today.

You'd need to come up with a pattern to manage this. boskos has a "janitor" for GCP projects / AWS regions /... today that knows to sim

[2019-07-11 18:53] moshloop commented on #13341
This doesn't need the same level of support as core prow jobs, I would be able to provide oncall with   a 1 - 2 business day response time.

One Nested Virtualization Host (VM) per job and one host per GCP project would be fine as it would meet the primary goals:

a) Reduce the amount of boiler-plate / bootstrapping required to run a job required NV
b) Make running NV jobs fast by keeping a pool o

[2019-07-11 22:20] spiffxp opened #13413 "Some prowjob annotations are formatted confusingly"
**What should be cleaned up or changed**:
Prowjobs that had annotations added to them have them positioned in a place that makes little sense to a human: https://github.com/kubernetes/test-infra/pull/13205#issuecomment-509814928

**Provide any links for context**:
Ideally I would want annotations right after the job name, this is what I listed in examples: https://github.com/kubernetes/test-infra/

[2019-07-11 22:29] spiffxp commented on #13379
Thank you @stevekuznetsov and @Katharine, I have been schooled.

The Correct™ way was apparently
[code]

[2019-07-11 22:58] clarketm opened #13414 "Update tackle to prompt user for a `zone` if a default is not set."
**What would you like to be added**:
A compute **zone** selection prompt in`tackle` (*defaulting* to the `compute/zone` config value).

**Why is this needed**:
When using `tackle` to setup a personal prow cluster for the first time, if a default `zone` is not specified then the tool will throw a fatal error terminating the interactive session.

[code]

It would be intuitive (and useful) to prompt

[2019-07-11 23:00] clarketm commented on #13414
/assign

[2019-07-12 00:17] fejta opened #13418 "prow's rerun behaving poorly"
/area prow
/area prow/deck

The rerun page seems to behave poorly right now? On prow.k8s.io it now appears to download the yaml file rather than display it to me in the browser. On prow.istio.io it appears to 404

1: https://prow.k8s.io/rerun?prowjob=fc1eda3a-a439-11e9-8217-96c43017ab5b
2: https://prow.istio.io/rerun?prowjob=c911ef9e-a439-11e9-a27f-0af0c5fa9bc9

/assign @mirandachrist @Katharine

[2019-07-12 00:31] fejta commented on #13418
/assign @cjwagner
/close

[2019-07-12 00:31] #13418 closed

[2019-07-12 04:14] nikhita commented on #13396
Closing since the rename should fix this issue. :)

[2019-07-12 04:14] #13396 closed

[2019-07-12 06:31] Aisuko commented on #13396
@clarketm Thanks for your quick reply I'm waiting for my PR merged which to fix the misspelled. 😄

[2019-07-12 15:27] ZP-AlwaysWin opened #13428 "Found pkg/util/labels/.readonly, but files changed compared to "master" branch.Prow issue:"
Found pkg/util/labels/.readonly, but files changed compared to "master" branch.

pull-kubernetes-verify test failure ，but I check the pkg/util/labels/.readonly file is blank ，I want to know how to solve the problem。

[2019-07-12 16:20] nnordrum commented on #13372
Look at my example: when you submit a branch, it could get included at different points in the branch merge list of branches that are being merged in order to test it as one branch.

In that case, your branch could be number 3 in one consolidating the branches, 7 in another, and 15 in yet another. You wouldn't, at push time, be able to anticipate what number(s) the branch would be. You _have_ to d

[2019-07-12 20:19] spiffxp opened #13432 "Test result ingestion into BigQuery via Kettle is hiccuping increasingly frequently"
**What happened**:
http://velodrome.k8s.io/dashboard/db/bigquery-metrics?panelId=12&fullscreen&orgId=1&from=now-6M&to=now

Lots of alerts happening.  We've only had one or two weeks in Q2 where an alert hasn't fired.

**What you expected to happen**:

No alerts to fire.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**A

[2019-07-12 20:28] spiffxp commented on #13432
/sig testing

[2019-07-12 23:13] chases2 opened #13438 "Modify invalidcommitmsg plugin to disallow issue refs"
**What should be cleaned up or changed**:
It's possible to include an issue number to an issue you're referencing or addressing. In other workflows that's a best practice, but with the number of rebases and force-pushes that occur in refining our code, it's easy to make an issue look like this:

![image](https://user-images.githubusercontent.com/1386266/61162896-91014880-a4bf-11e9-8b07-889367b92fa

[2019-07-12 23:22] dims commented on #11249
/reopen
/remove-lifecycle rotten

[2019-07-13 00:31] spiffxp commented on #13438
/help

[2019-07-13 00:33] spiffxp commented on #13438
/good-first-issue

This would involve changing code in https://github.com/kubernetes/test-infra/tree/master/prow/plugins/invalidcommitmsg

[2019-07-13 01:22] spiffxp commented on #13438
One caveat: before rolling this out, we would want to ensure an announcement is sent out to kuberentes-dev@

[2019-07-13 19:09] #8667 closed

[2019-07-13 19:36] spiffxp opened #13442 "CONTRIBUTING.md needs an update"
**What should be cleaned up or changed**:
Our CONTRIBUTING.md needs some love, it's way out of date, and doesn't describe any of the conventions I have found us having to explain in the past, eg:
- don't trying landing a size/XXL PR out of the gate
- we like to use /hold liberally
- come talk to us on #sig-testing or get PRs on gubernator.k8s.io/pr vs. trying to `@` us in comments

**Provide any l

[2019-07-13 19:36] spiffxp commented on #13442
/assign

[2019-07-13 19:40] spiffxp commented on #10754
linking to the issue I'm using as an umbrella for all things OWNERS/contributor-ladder related https://github.com/kubernetes/community/issues/1808

[2019-07-13 20:13] afirth opened #13443 "deleted"

[2019-07-14 15:28] fediazgon commented on #13305
I would like to work on this one. Thank you very much for the detailed explanation.

/assign @fediazgon

[2019-07-15 13:38] nikhita commented on #13438
/sig contributor-experience

I sometimes find it useful to reference issue numbers in commit messages for context. It might also prove helpful while doing a `git bisect` or just going through commit history.

Are there lots of cases where we see this spam? I'm not entirely sure that the spam outweighs the benefits around additional context...

cc @cblecker @tpepper

[2019-07-15 13:41] nikhita commented on #13428
@ZP-AlwaysWin Do you mean in this PR https://github.com/kubernetes/kubernetes/pull/80095? Looks like tests are all green now. Do you think this issue can be closed? :)

[2019-07-15 13:43] ZP-AlwaysWin commented on #13428
Yes，you are right。I have solved the problem ，Thank you very much ,I will closed the issue.

[2019-07-15 13:49] nikhita commented on #13428
Thanks @ZP-AlwaysWin!

[2019-07-15 13:49] #13428 closed

[2019-07-15 15:16] chaodaiG commented on #12207
/close

[2019-07-15 15:16] #12207 closed

[2019-07-15 16:48] tpepper commented on #13438
IMO philosophically a change control system's history is best when its commit messages include sufficient detail to understand what is being done and why, without additional context beyond that present in the repo.

Multiple sources of truth generally complicates life.

But that said, we do actually have multiple sources today with a heavy bias to information being only available in GitHub.  With

[2019-07-15 17:28] amy commented on #13332
See slack convo here: https://kubernetes.slack.com/archives/CCK68P2Q2/p1563199619408300?thread_ts=1562332672.163800&cid=CCK68P2Q2

Summary: wg-k8s-infra is onboarding cluster-api as a guinea pig for the promotion process and waiting to see how their adoption goes.

[2019-07-15 20:43] roycaihw commented on #4994
thanks @ihmccreery! I ran into this issue today. `gcloud auth login` didn't work and `gcloud auth application-default login` solved the problem. Would like to see this getting documented in https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md or https://github.com/kubernetes/test-infra/blob/master/kubetest/README.md

[2019-07-15 22:28] cjwagner opened #13452 "Phaino should respect Refs and ExtraRefs properly."
Currently `phaino` just looks for a already checked out repo that matches each git ref specified by the job. Once it finds a matching repo is uses it as is without checking out the correct git refs.

Phaino should be updated to either check out the correct refs in these repos or (ideally) reuse the clonerefs container (or just its logic) to check out the repos at the correct refs just as we would

[2019-07-15 22:34] cjwagner commented on #13452
Good thing our tools have sensible names so I never confuse them :upside_down_face:

[2019-07-15 23:13] clarketm commented on #13414
#13417

[2019-07-15 23:13] #13414 closed

[2019-07-15 23:52] DirectXMan12 opened #13454 "kubetest doesn't work with modules"
**What happened**:

[code]

i.e. kubetest was flummuxed by my use of Go modules, despite k/k seeming to support them fine (AFAICT -- other basic tasks seem to work)

**What you expected to happen**:

[code]

i.e. kubetest to run `go mod edit -json` to see if we're currently in a module, and if that module is kubernetes.

**How to reproduce it (as minimally and precisely as possible)**:

see "What

[2019-07-15 23:55] howardjohn opened #13455 "Support testgrid annotations in other repos"
**What would you like to be added**:
I would like to be able to use testgrid annotation in job config that is outside of k/test-infra. See https://github.com/istio/test-infra/pull/1475

**Why is this needed**:
Keeping the testgrid in sync manually is virtually impossible. In order to get testgrid working for us, we will need a process that will automatically open PRs against this repo and keep the

[2019-07-16 00:42] tony-yang opened #13456 "Add webhook using the add-hook utility failed for personal account"
**What happened**:
When setting up a personal dev Prow instance on GKE following the getting_started_deploy guide, the add-hook utility failed to add hook to the repo where the bot is a collaborator. The utility returned 404 not found.

**What you expected to happen**:
Since the guide says it is possible to handle specific repos in an org without org membership, I'm expecting a new webhook to be c

[2019-07-16 16:53] #12766 closed

[2019-07-16 18:02] krzyzacy opened #13466 "Build controller is crashlooping"
[code]
/assign @fejta
Is there a knative API change? cc @adrcunha

[2019-07-16 18:04] krzyzacy commented on #13466
/unassign @fejta
/assign @alvaroaleman

probably https://github.com/kubernetes/test-infra/pull/12895

[2019-07-16 18:05] krzyzacy commented on #13466
let me know if you want to patch it up or roll back :-)

[2019-07-16 18:06] krzyzacy commented on #13466
cc @stevekuznetsov

[2019-07-16 18:08] Katharine commented on #11973
This finally happened in #13419.

/remove-lifecycle stale

[2019-07-16 18:08] #11973 closed

[2019-07-16 18:09] stevekuznetsov commented on #13466
Should try a roll-back to see if that was the PR that broke it

[2019-07-16 18:39] clarketm commented on #13414
closes #10687

[2019-07-16 18:40] clarketm commented on #10687
/close

[2019-07-16 18:54] clarketm commented on #9079
/assign

[2019-07-16 19:38] mucahitkurt opened #13470 "Add Periodic Job Definitions for the Sig Storage Performance Tests"
**What should be cleaned up or changed**:
Add periodic job definitions to sig-scalability periodic job definitions for the sig-storage ephemeral volumes experimental  performance/scalability test cases.

**Provide any links for context**:
Related sig-scalability test cases PR is https://github.com/kubernetes/perf-tests/pull/601

/sig storage
/sig scalability
/assign

[2019-07-16 21:09] krzyzacy commented on #13466
didn't fix it
[code]

[2019-07-16 21:16] stevekuznetsov commented on #10754
What data would we look at? Commits? That can be done with some `git log` commands. Do we need GitHUB data?

[2019-07-16 21:21] stevekuznetsov commented on #12216
This is fixed by proxy by correctly aborting older batches but is still an issue when aborting them and the associated cleanup/grace period takes a while.

[2019-07-16 21:22] #11332 closed

[2019-07-16 21:59] cjwagner opened #13475 "Better local testing of decorated ProwJobs using Phaino."
**What would you like to be added**:
Phaino currently constructs Docker commands to run a job locally based on the ProwJob spec instead of the decorated pod spec. This distinction results in decorated jobs behaving differently with Phaino than they do in CI. In particular:
- Git refs are not properly checked out
- $ARTIFACTS and $GOPATH are not provided.
- logs/metadata/artifacts are not exported.

[2019-07-16 22:16] chases2 commented on #13057
With the addition of the manual migration PR and the Prow-Job-Detecting test, I think the issue is very close to resolved.

I'd like to get the Prow-Job-Detecting test in so that it can, eventually, be upgraded into a check that requires annotations where possible. Other than this one nice-to-have, the issue is as resolved as I can get it.

[2019-07-17 03:44] tao12345666333 commented on #12778
Maybe the same problem
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80134/pull-kubernetes-kubemark-e2e-gce-big/1150912885606584320/

[2019-07-17 07:46] alvaroaleman commented on #13466
Seems it got fixed by https://github.com/kubernetes/test-infra/pull/13474
/close

[2019-07-17 07:46] #13466 closed

[2019-07-17 08:44] alvaroaleman commented on #13370
We discussed some details of the [sketch pr](#13342) in the sig-testing weekly on July 16, 2019, namely:

* Currently, there is a helper func in the `PluginAgent` that fetches a PRs baseSHA and posts a comment to github if anything failed with accessing the `Presubmits` config
    * This is a weird place to have a helper func
    * All helpers should be in the `config` package
    * Instead of pos

[2019-07-17 14:11] adelina-t opened #13488 "acs-engine deployer in kubetest should tag deployed resources"
**What would you like to be added**:

Ability to set tags on resource groups deployed using the acs-engine deployer in kubetest.

**Why is this needed**:

The Azure subscription used for sig-windows testing is also being used by sig-azure for their deployments. Tags would help in identifying which resource group belongs to which test. Also tags would facilitate cleanup of any resource group that m

[2019-07-17 14:11] adelina-t commented on #13488
/assign @adelina-t

[2019-07-17 14:13] adelina-t commented on #13488
@ritazh  @andyzhangx

[2019-07-17 16:29] ritazh commented on #13488
I'm not aware of any tagging capability at the resource group level, but there is a way to add tags to the VMs via aks-engine using `customVMTags`. If we do plan to add tags to the resource group, we should add it to aks-engine.

cc @CecileRobertMichon in case we already have something I'm not aware of.

[2019-07-17 17:39] jeremyje opened #13492 "Tackle Does Not Wait For a Healthy Cluster When Getting Ingresses"
**What happened**:
While using tackle I tried to create a Prow cluster in my GCP project. There's a lot of pit falls but this one is a blocker. Basically a Prow cluster appears to be unable to startup without a Github bot token. After providing one the cluster pods eventually get to a healthy state but tackle advances too quickly and tries to get "ingresses" within a few seconds after submitting t

[2019-07-17 18:02] clarketm commented on #9079
@stevekuznetsov / @cjwagner / @idealhack  - regarding implementation (more specifically UX/UI) is the goal here to simply provide a href out to a static *example* yaml configuration for each plugin (either in Github repo or hosted via deck), or should we take this an additional step and add a snippet of `yaml` to the UI component for each plugin?

![image](https://user-images.githubusercontent.com

[2019-07-17 18:20] ChristinaLyu0710 commented on #13059
/assign @christinalyu0710

[2019-07-17 18:31] jeremyje opened #13495 "Tackle does not build in Bazel."
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2019-07-17 19:03] hongkailiu commented on #12854
Created https://github.com/kubernetes/community/issues/3902, requesting slack incoming webhook URL.

[2019-07-17 20:46] cjwagner commented on #9079
Are you asking if we should embed the YAML in the UI instead of just providing a link to it? Embedding in the UI would certainly be preferable.

[2019-07-17 20:52] clarketm commented on #9079
@cjwagner - Yes. At the minimum, I was planning on linking to the hosted file, but I wanted to ensure that additionally adding a formatted `yaml` snippet to the UI was the desired intent as that is how I envision this being the most useful.

[2019-07-18 01:06] nikhita commented on #12296
/assign

Assigning it to myself to try to move this along in contribex

[2019-07-18 07:31] Chendiguang opened #13502 "start deck failed"
{"component":"deck","file":"prow/kube/config.go:143","func":"k8s.io/test-infra/prow/kube.LoadClusterConfigs","level":"info","msg":"Loading cluster contexts...","time":"2019-07-18T15:26:42Z"}
{"component":"deck","error":"open /etc/cookie/secret: no such file or directory","file":"prow/cmd/deck/main.go:316","func":"main.main","level":"fatal","msg":"Could not read cookie secret file","time":"2019-07-

[2019-07-18 17:48] #10553 closed

[2019-07-18 17:48] #12407 closed

[2019-07-18 17:58] stevekuznetsov commented on #12266
/remove-lifecycle stale

Alternatively, fix the base-case for plugins not to use tokens ;)

[2019-07-18 17:59] hongkailiu commented on #12854
The testing alerts ... https://kubernetes.slack.com/archives/C7J9RP96G/p1563469948355200

Some discussion on icon/username: https://kubernetes.slack.com/archives/C7J9RP96G/p1563471649359200

[2019-07-18 18:01] #12854 closed

[2019-07-18 18:04] krzyzacy commented on #12854
/meowvie sunglass

[2019-07-18 21:56] stevekuznetsov commented on #12296
Any reason not to use one of the existing robots?

[2019-07-18 21:56] stevekuznetsov commented on #10840
/remove-lifecycle stale

[2019-07-18 21:57] stevekuznetsov commented on #5216
/remove-lifecycle rotten

[2019-07-19 06:18] #10189 closed

[2019-07-19 19:31] #11365 closed

[2019-07-20 01:30] jlewi opened #13525 "Turn on recursvie mode for gubernator so test results can be stored in subdirectories"
**What would you like to be added**:

We (Kubeflow) would like the shared prow instance to turn on recursive mode for ~~gubernator~~ spyglass

I believe these are the relevant config locations
  -- https://github.com/kubernetes/test-infra/blob/master/gubernator/view_build.py#L150
  -- https://github.com/kubernetes/test-infra/blob/master/gubernator/config.yaml#L42

**Why is this needed**:

Details

[2019-07-20 05:18] Huang-Wei opened #13526 "prow: label "kind/api-change" isn't removed properly"
**What happened**:

I came across an issue that the label `kind/api-change` wasn't auto removed when the api changes are removed from that PR.

**What you expected to happen**:

`kind/api-change` is properly tagged/untagged.

**How to reproduce it (as minimally and precisely as possible)**:

(not sure it's a minimal precise one, but should be able to produce)

1. Create two PRs - PR1 contains api

[2019-07-20 12:44] alvaroaleman opened #13528 "Most of decks handlers ignore `hidden_repos` setting"
**What happened**:

Deck has the `hidden_repos` setting which is supposed to hide jobs on any repo listed there. However the only handlers that respect this are those that work directly on `ProwJob` crs. The setting is completely ignored on the handlers for:
* PR history
* Job history
* Spyglass GCS log viewing

This happens to not be an issue for prow.k8s.io, as there a different bucket is used t

[2019-07-21 07:01] nikhita commented on #13291
Fixed by https://github.com/kubernetes/test-infra/pull/12460. Tested in https://github.com/kubernetes/kubernetes/pull/80396.

/close

[2019-07-21 07:01] #13291 closed

[2019-07-21 07:10] nikhita commented on #13110
Fixed in https://github.com/kubernetes/test-infra/pull/12460. Tested in https://github.com/kubernetes/kubernetes/pull/80396.

/close

[2019-07-21 07:10] #13110 closed

[2019-07-21 08:06] #9620 closed

[2019-07-21 19:17] #4824 closed

[2019-07-21 20:18] #11422 closed

[2019-07-22 06:02] #13470 closed

[2019-07-22 17:03] spiffxp opened #13536 "metrics aren't updating since 2019-07-10"
**What happened**:
https://testgrid.k8s.io/sig-testing-misc#metrics-bigquery - went red as of 2019-07-10
http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1 - lines stop or panels are blank

**What you expected to happen**:
metrics to be up to date

**Anything else we need to know?**:
Pretty sure this was caused by https://github.com/kubernetes/test-infra/pull/13368
[code]

/assign @clar

[2019-07-22 17:21] clarketm commented on #13536
/assign

[2019-07-22 17:30] clarketm commented on #13536
@spiffxp - where is this code running and do you know how it is deployed?

[2019-07-22 17:32] spiffxp commented on #13536
This prowjob: https://github.com/kubernetes/test-infra/blob/24fcf19820b19d5903a8adda535b03c211d5f09c/config/jobs/kubernetes/test-infra/test-infra-periodics.yaml#L69-L99

And the image I assume is built from https://github.com/kubernetes/test-infra/tree/master/images/bigquery

[2019-07-22 17:38] spiffxp commented on #13536
/assign @cjwagner
I think backfill should automatically be handled, but if there any questions

[2019-07-22 17:57] clarketm commented on #13536
@spiffxp - As an immediate fix I can revert the change then redeploy the image. What is the *project_id* in GCP to see the logs that you attached?

[2019-07-22 18:18] clarketm commented on #13536
@spiffxp - I likely just need to install python3 in the image, but best to revert ( #13540 ) the change until I can verify the build and deployment dependencies.

[2019-07-22 18:46] spiffxp commented on #13057
/milestone v1.16

[2019-07-22 18:50] spiffxp opened #13541 "shard testgrid config"
**What should be cleaned up or changed**:
Similar to how we have sharded up job configs by owning SIG to enable better self-service, let's shard up testgrid configs by owning SIG.

**Provide any links for context**:
Work has already started on this, linking relevant PR's:
- https://github.com/kubernetes/test-infra/pull/13472 (initial impl)
- https://github.com/kubernetes/test-infra/pull/13530 (rev

[2019-07-22 18:50] spiffxp commented on #13541
/assign @michelle192837

[2019-07-22 18:56] spiffxp commented on #10687
/close
Closed by #13417

[2019-07-22 18:56] #10687 closed

[2019-07-22 20:14] #13536 closed

[2019-07-22 21:43] #7890 closed

[2019-07-22 22:10] spiffxp commented on #13526
The owners-label plugin currently doesn't subtract any labels, because it doesn't keep track of which labels have been added to the issue by:
- the owners-label plugin
- humans via prow commands
- humans via manual label adds
- other prow plugins

So it's not immediately obvious which labels should be removed vs. left alone when a new commit is pushed

https://github.com/kubernetes/test-infra/blob

[2019-07-22 22:27] Huang-Wei commented on #13526
Thanks for the explanation @spiffxp. So should I close it, or can it be an enhancement candidate?

[2019-07-23 07:10] BenTheElder opened #13551 "tide: serial merges should occur when batches fail"
**What happened**: Tide spent many hours retesting a failing batch of github.com/kubernetes/enhancements PRs 1111, 1134, 1151, 1153, 1155. One PR caused a test to fail, and no PRs merged during that time.

https://prow.k8s.io/tide-history?repo=kubernetes%2Fenhancements
https://prow.k8s.io/?repo=kubernetes%2Fenhancements&type=batch

**What you expected to happen**: Tide should merge one of the pass

[2019-07-23 07:14] BenTheElder commented on #13551
After kicking out the PR causing the batch failure with an `/lgtm cancel` the other PRs merged, so this particular instance is mitigated for the moment.

[2019-07-23 15:15] nikhita commented on #13526
Some prior discussion on this: https://github.com/kubernetes/test-infra/issues/9934#issuecomment-434085682

From the previous thread:

`kind/api-change` is now used to signal PRs for API review:

https://github.com/kubernetes/test-infra/blob/91f4311b9a8195fd40fa519b4a3077f49ff3a8a4/config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml#L21-L29

Though I'm not entirely convinced this warrants a

[2019-07-23 15:29] liggitt commented on #13526
api-change doesn't block anything, it's informative only. It's auto-added based on path, I believe. Auto-removing those labels could be tricky.

[2019-07-23 15:34] nikhita commented on #13526
:+1: let's close this for now, and reopen if we come across a case where auto-removal is functionally needed.

/close

[2019-07-23 15:34] #13526 closed

[2019-07-23 16:06] cjwagner commented on #13551
Thanks for the issue Ben.
Tide triggers a serial test whenever it sees a batch running and no up-to-date pending or passing serial test. Based on the timestamps it looks like Tide was continually triggering a new batch because the existing one was failing before the next Tide sync and we prioritize triggering batches over trigger serial tests so we never got the chance to trigger serial tests.

I

[2019-07-23 18:07] jlewi commented on #13525
I think I meant spyglass not gubernator

[2019-07-23 18:27] stevekuznetsov commented on #12276
/shrug

This was likely some internal issue on the GitHub side and seems to have abated

/close

[2019-07-23 18:27] #12276 closed

[2019-07-23 18:31] chases2 commented on #13455
@fejta
/assign

Our proposed strategy to deal with this is the following:
- Create a tool that allows prow annotations to be converted to a YAML file that could be placed in a Testgrid Config folder (#13541) via a "bump" script. In this way, external instances of Prow can control and output their testgrid configurations.
- Eventually, once Testgrids can be deployed OS in parallel to an existing pr

[2019-07-23 18:31] chases2 commented on #13455
/area testgrid

[2019-07-23 18:34] stevekuznetsov commented on #13502
/cc @Katharine

[2019-07-23 18:44] Katharine commented on #13502
This should've been fixed by #13521.

[2019-07-23 19:45] spiffxp commented on #13164
/milestone v1.16

[2019-07-23 19:48] spiffxp commented on #13305
/milestone v1.16

[2019-07-23 19:57] spiffxp commented on #12766
/milestone v1.16

[2019-07-23 21:05] chases2 commented on #13305
Edit: #13512 partially resolves this issue; thanks!

[2019-07-23 21:26] stevekuznetsov commented on #13551
We should probably trigger both.

[2019-07-23 22:53] spiffxp commented on #5231
/kind feature
/priority important-soon
/sig testing

[2019-07-23 22:53] spiffxp commented on #5231
/unassign @mithrav

[2019-07-23 23:08] spiffxp commented on #13321
/milestone v1.16

[2019-07-23 23:09] spiffxp commented on #11611
/assign @nikhita

[2019-07-23 23:09] spiffxp commented on #11611
/assign

[2019-07-23 23:10] spiffxp commented on #12309
/remove-lifecycle stale
/milestone v1.16

[2019-07-23 23:15] spiffxp commented on #5175
ref: https://github.com/kubernetes/community/issues/1808 since this is about auditing OWNERS files, and that's the umbrella issue I keep linking to as I find related issues

[2019-07-23 23:27] midnightconman opened #13565 "Deck Doesn't Display `prowjob_namespace` In Re-Run Popup"
**What happened**:
I clicked a job's re-run link and the re-run command doesn't include the `prowjob_namespace` from `config.yaml`
**What you expected to happen**:
I expected to click a job's re-run link and the re-run command to include the `prowjob_namespace` from `config.yaml`

**How to reproduce it (as minimally and precisely as possible)**:
Bring up an instance of prow with a different `prowj

[2019-07-23 23:31] spiffxp commented on #12240
/remove-lifecycle stale
/assign @nikhita
/close
I believe @nikhita fixed this by adding the `invalidcommitmsg` plugin via https://github.com/kubernetes/test-infra/pull/9387

[2019-07-23 23:31] #12240 closed

[2019-07-23 23:32] spiffxp commented on #13541
/milestone v1.16

[2019-07-23 23:37] stevekuznetsov commented on #13565
/assign @mirandachrist
/area prow/deck

[2019-07-23 23:44] jlewi commented on #13525
Chatted with some folks from the engprod team.

This should be supported in spyglass today.
https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L37

The current config should match regexes.

So under the current configuration, I'm pretty sure artifacts/junit/anything/anything.xml would also match
as would artifacts/junit_anything/anything.xml

We will try that and see if it works

[2019-07-23 23:44] #13525 closed

[2019-07-23 23:45] cjwagner opened #13566 "hack/verify-bazel is broken."
**What happened**:
`bazel test //hack:verify-bazel` passes even though `bazel run //hack:update-bazel` produces the following changes:
wrote "prow/cluster/monitoring/BUILD.bazel"
wrote "prow/cluster/monitoring/mixins/prometheus/BUILD.bazel"

**What you expected to happen**:
The verify-bazel test should actually validate that update-bazel would have no effect.

**How to reproduce it (as minimally a

[2019-07-23 23:51] fejta commented on #13566
Why is this an issue rather than a PR?

[2019-07-23 23:53] fejta commented on #13566
There are mildly interesting bazely reasons for this

[2019-07-23 23:57] spiffxp commented on #10226
This is why there are many OWNERS files with the same people in `reviewers` and `approvers`, however this is no longer the case.

https://github.com/kubernetes/test-infra/blob/c045041c286768845a7deac3d9a301946d04547f/prow/plugins/config.go#L114-L118

Functionally, things used to behave as if this was set to `true`.  However, for the reasons @fejta described, prow.k8s.io is setup with the default o

[2019-07-23 23:57] #10226 closed

[2019-07-24 00:01] midnightconman opened #13569 "Jenkins Operator to Expose `label-selector` To Pushgateway"
**What would you like to be added**:
I would like to be able to tell the difference between one `jenkins-operator` and another via a label... maybe `label-selector`.

So a push-gateway job would have a `instance` and `label-selector` labels.

**Why is this needed**:
At the moment the only way to tell the difference between jenkins-operator is by parsing the instance label (this is not ideal and pr

[2019-07-24 00:05] spiffxp commented on #11879
/close
Not sure when it was fixed, but as of today checkconfig will warn about unknown fields.
[code]

[2019-07-24 00:05] #11879 closed

[2019-07-24 00:05] spiffxp commented on #11879
/remove-lifecycle rotten

[2019-07-24 00:07] spiffxp commented on #9805
/close
It's not clear this is still happening.  If it does, I agree with @krzyzacy that an issue in kubernetes/kubernetes would be more appropriate to start with, until it's clear whether the issue is isolated just to tests running in prow.

[2019-07-24 00:07] #9805 closed

[2019-07-24 00:12] spiffxp commented on #10519
/remove-lifecycle stale
/help
I'm personally still not sold on the learning curve of `bazel`, but I agree with @fejta that the pattern used in `kubernetes/org` is pretty straightforward and has worked well there.  So I think this is clear enough for a new contributor to follow, but not marking as `good first issue` because of bazel.

Another option would be to bake that merging logic into the tool

[2019-07-24 00:15] spiffxp commented on #12284
/remove-lifecycle stale
/assign @cjwagner @fejta
how should we address this?

[2019-07-24 00:16] spiffxp commented on #10840
/assign @stevekuznetsov
you've removed the label and done nothing twice now, what's the plan here?

[2019-07-24 00:19] spiffxp commented on #12296
We need prow to react to the comments posted by these jobs, so it can't be @k8s-ci-robot.  We could maybe use @k8s-github-robot, but I would prefer using a bot that has no privileges.

[2019-07-24 00:28] chases2 opened #13571 "hack/verify-bazel can't determine if a file isn't included in all-srcs"
**What happened**:
A new BUILD.bazel file was created as part of creating a new code directory. The BUILD.bazel file was populated correctly, but the BUILD.bazel file above it in the directory structure didn't include the new file in all-srcs. As a result, the verify-bazel test passes without issue, even when the update-bazel command would change things.

**What you expected to happen**:
A presubm

[2019-07-24 00:28] spiffxp commented on #12296
You'll want to rename more than the account:
- https://testgrid.k8s.io/sig-testing-fejtabot
- https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml

Things @fejta-bot does:
- /lifecycle stale | /lifecycle rotten | /close
- /retest
- /check-cla
- comment that API review may be needed
- create github issues

Naming is hard, WDYT of either of

[2019-07-24 00:30] #13566 closed

[2019-07-24 00:32] spiffxp commented on #12296
/milestone v1.16
/assign

[2019-07-24 00:35] chases2 commented on #13571
@cjwagner @fejta @hongkailiu @stevekuznetsov
(from previous PR)

[2019-07-24 00:40] spiffxp commented on #5216
/assign @stevekuznetsov
Removing the labels but doing nothing repeatedly is perhaps a sign that this issue isn't going to get done.  Is this still relevant?  What's your plan?

[2019-07-24 00:44] spiffxp commented on #9079
/milestone v1.16

[2019-07-24 00:44] spiffxp commented on #13495
/assign @fejta
please assign to someone else if you don't have time to look at this

[2019-07-24 00:46] spiffxp commented on #9867
/remove-lifecycle stale
/milestone v1.16
/assign @cjwagner
where do we stand with this?

[2019-07-24 00:46] spiffxp commented on #9867
/area prow

[2019-07-24 00:47] chris-short commented on #12296
k8s-cuddle-bot
k8s-repo-sanity-bot
k8s-triage-bot

[2019-07-24 00:50] spiffxp commented on #13492
/assign @fejta @clarketm
/area prow
Is this still an issue? It seems like if nothing else tackle is doing too broad a check to verify whether prow is "done"

[2019-07-24 00:50] spiffxp commented on #13059
/milestone v1.16

[2019-07-24 00:51] justaugustus commented on #12296
+1 to k8s-triage-[ro]bot!
Can probably dovetail with some of the stuff mentioned here: https://github.com/kubernetes/community/issues/3456

[2019-07-24 00:57] spiffxp commented on #11819
/remove-lifecycle rotten
https://cs.k8s.io/?q=Unreleased&i=nope&files=&repos= - `[Unreleased]` no longer exists in k/k

[2019-07-24 01:00] spiffxp commented on #11819
The tag still exists in v1.14.0, so can only remove it from the master jobs.  Generated jobs will need to wait for the tag to age out, or get cherry-picked away (which I am not inclined to do)

[2019-07-24 01:05] spiffxp commented on #10754
IMO, yes.  People who commit code all day long while ignoring pull requests are not the people I want owning things.

[2019-07-24 01:07] spiffxp commented on #10647
/area triage

[2019-07-24 01:08] spiffxp commented on #13454
/area kubetest

[2019-07-24 01:08] dims commented on #12296
+1 to k8s-triage-bot

[2019-07-24 01:10] spiffxp commented on #11994
/remove-lifecycle stale
linking to the issue I'm using as an umbrella for all things OWNERS/contributor-ladder related kubernetes/community#1808

[2019-07-24 01:12] spiffxp commented on #13475
This would be awesome

/area prow
/area config
since it would make testing of job/config updates way easier

/milestone v1.16
if we end up not working on this we'll kick it out but I think you mentioned you had a sketch

[2019-07-24 01:15] dims commented on #10754
@spiffxp Totally agree with you

[2019-07-24 01:25] InAnimaTe commented on #12296
fajita-bot

[2019-07-24 01:31] spiffxp commented on #13438
If the commit message contains `foo/bar#123` github will link it.  If the commit message contains `https://github.com/foo/bar/issues/123` github will not link it.

I'm fine walking away from this if I'm the only who has feelings about it.  I couldn't find a quick way to survey how often rebase-spam happens.  Across the org people definitely use the short refs more often.

eg:
[code]

[2019-07-24 01:33] cjwagner commented on #9867
It looks like we can enable legacy authorization without recreating a new cluster. If that's the case we just need to deploy all the RBAC rules and flip the switch.
It is possible that our RBAC rules will be missing some necessary permissions though since we haven't required RBAC thus far so we'll want to be ready to add any permissions we missed quickly after flipping the switch.

[2019-07-24 01:37] cjwagner commented on #13475
I've actually got a PR out now: https://github.com/kubernetes/test-infra/pull/13561
I still need to add tests and polish, but it is working already.

[2019-07-24 01:49] stevekuznetsov commented on #9867
If just do a review to make sure the rules are in sync with what OpenShift runs you should hit no issues

[2019-07-24 02:46] nikhita commented on #12296
+1 to k8s-triage-robot. Since we have `-robot` suffixes for our other bot accounts, using `-robot` feels consistent.

To be clear, this would be creating a new account instead of renaming the original one, right? I'm assuming @fejta would like to keep @fejta-bot around for testing, etc... @fejta can you confirm? :)

[2019-07-24 03:47] spiffxp commented on #3349
/wg k8s-infra
/milestone v1.16

Regardless of where prow.k8s.io lives, we need to be able to create and staff an on-call schedule in a way that can handle community members.  At present we use a google-internal tool to generate a rota based on fairness and people's calendars.

@rmmh attempted to rewrite the tool a while back, we could try picking that back up https://github.com/kubernetes/test-inf

[2019-07-24 03:49] spiffxp commented on #9458
/milestone v1.16
I feel like we should either call this done, or do what it takes with the monitoring stack to finish this off

[2019-07-24 03:49] spiffxp commented on #9458
Monitoring token usage of velodrome seems similar to https://github.com/kubernetes/test-infra/issues/5338 to me

[2019-07-24 03:50] spiffxp commented on #12867
Where do we stand with this?

[2019-07-24 04:21] cblecker commented on #12346
/lifecycle stale
/help

This is now actionable!

[2019-07-24 04:22] cblecker commented on #12346
I mean
/remove-lifecycle stale

[2019-07-24 06:38] charlesakalugwu commented on #8668
/remove-lifecycle stale

[2019-07-24 08:57] oxddr commented on #12867
Both tests (performance and correctness) for 5k nodes clusters has been migrated.

There was an open discussion about what to do with other, smaller scalability tests. I'll discuss this with other scalability folks and come back to you tomorrow.

[2019-07-24 12:31] oxddr commented on #12867
/close

As discussed offline with @wojtek-t and @mm4tt we are not migrating any other scalability test to a dedicated build cluster. The effort (e.g. setting up Boskos) is not worth gain (not sure if there is any).

[2019-07-24 12:31] #12867 closed

[2019-07-24 16:30] stevekuznetsov commented on #8668
Would be cool to get failure notifications via Slack for jobs that we know should have 100% success rate (like branch protector, etc)

[2019-07-24 17:11] clarketm commented on #13492
Regarding the two underlying issues here:

1. **Ingress resource retrieval failure**: that specific error correlates to a 404 on the ingress list. The logic handling this is already in a loop with a timeout but is aborting with a [`Fatal`](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/tackle/main.go#L632) error. Changing this to a warning and adding retry logic might be beneficial

[2019-07-24 18:12] spiffxp commented on #10501
/area github-management

[2019-07-24 18:28] michelle192837 commented on #5385
/assign @maryyliu

This should be fixed now. Thanks Mary! ^^

[2019-07-24 18:28] michelle192837 commented on #5385
/close

[2019-07-24 18:28] #5385 closed

[2019-07-24 19:32] spiffxp opened #13587 "Should the "needs-sig" message stop mentioning github teams?"
**What should be cleaned up or changed**:

The `needs-sig` label gets applied with the following comment on issues in kubernetes/kubernetes:

I think we should stop mentioning the teams, and only suggest the `/sig` etc. commands.

The many-prefixed-teams are effectively deprecated https://github.com/kubernetes/community/issues/2324

**Provide any links for context**:

/sig contributor-experience

[2019-07-24 20:04] clarketm commented on #13492
Upon further investigation it appears that the api call to [list the ingress](`https://github.com/kubernetes/test-infra/blob/master/prow/cmd/tackle/main.go#L630`) is failing even when the ingress is *ready*, while the older version The older version of the api to retrieve ingresses does not (e.g. `ing, err := kc.ExtensionsV1beta1().Ingresses(ns).List(metav1.ListOptions{})`).

[2019-07-24 21:34] hantaowang opened #13589 "Support running kubetest on an existing GKE cluster"
**What would you like to be added**:
Is it possible to have kubetest execute our gingko e2e tests on a preexisting GKe cluster without having to specify details about the cluster other than the kubeconfig? Our abstraction is that cluster up, down, and setup is handled independent of kubetest.

**Why is this needed**:
We recently switched some tests from running via gingko to invoking gingko throug

[2019-07-24 21:37] davidz627 commented on #13589
/cc @msau42

[2019-07-24 21:39] krzyzacy commented on #13589
See https://github.com/kubernetes/test-infra/blob/3fcdcc18e0b10352f5c75bdd49ef35ee03bf5e25/config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml#L417-L444

You can always load a cluster from kubeconfig from a gcs bucket, like `--save=gs://kubernetes-e2e-soak-configs/ci-kubernetes-soak-gke-gci`

[2019-07-24 22:34] qfel opened #13591 "Support multi-line regexes"
**What would you like to be added**:
Support multi-line regexes on Prow for error highlighting.

**Why is this needed**:
Currently error highlighting is line-based, so one has to do with heuristics catching keywords that sometimes end up highlighting successful test output. An example would be https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15501/istio-racetest-master/1804 - the

[2019-07-24 22:44] hantaowang commented on #13589
I'm not quite understanding how extending a soak cluster, using a kubeconfig from a bucket, or customizing the create command will help in my case. I already have the gke cluster created before the invocation of kubetest with the kubeconfig created and saved at the default location. kubetest won't start for gke unless I pass in a bunch of flags regarding the project, which is difficult for me to d

[2019-07-24 22:48] krzyzacy commented on #13589
Assume you want to do this in CI, then I think the steps can be:

1. Create a cluster locally
2. Upload the kubeconfig to somewhere in gcs, grant prow SA access
3. Point kubetest to that kubeconfig location, and with --up=false and --down=false, with rest of the necessary flags

[2019-07-25 00:32] #11152 closed

[2019-07-25 03:41] spiffxp commented on #12138
/assign @fejta @cjwagner @stevekuznetsov
Yes IMO prow should be ignoring comments and events generated by itself across the board, ideally before events even flow from `hook` to plugins.  I didn't realize this was implemented on a case-by-case basis?

[2019-07-25 03:45] spiffxp commented on #10997
Welp.  I _thought_ this issue already existed, but I couldn't find it at the time.  We're working on this now, but over in https://github.com/kubernetes/test-infra/issues/13541

/close
closing this in favor of that

[2019-07-25 03:45] #10997 closed

[2019-07-25 03:47] spiffxp commented on #10701
/milestone v1.16
I believe this is intended for Q3 yes @michelle192837 ?

[2019-07-25 16:00] spiffxp commented on #3324
/milestone v1.16
/unassign @rmmh
/assign @michelle192837
to move to whichever milestone is most appropriate

[2019-07-25 16:05] spiffxp commented on #11782
Rescoping based on what we thought was feasible for this quarter, moving to its own repo can be done as a followup

[2019-07-25 16:19] michelle192837 commented on #10701
Correct! Sean's done a lot of the work to do this, need a few more adjustments to actually have it run and used.

[2019-07-25 16:21] michelle192837 commented on #3324
Slating this for early next year.

/milestone v1.18
/milestone 2020-goals

[2019-07-25 16:22] spiffxp commented on #3324
/milestone 2020-goals

[2019-07-25 16:22] michelle192837 commented on #3323
Let's have this in the v1.17 milestone?

[2019-07-25 16:26] spiffxp commented on #3324
/milestone 2020-goals
can only be in one milestone at a time, I made both of the ones you tried, but am using the less specific one for now

also I think we should use a different team for /milestone in this repo, or get you added to milestone-maintainers

[2019-07-25 16:43] cjwagner commented on #12138
The fact that this is case by case is the main problem IMO. I'd be ok with prow ignoring its own comments or respecting them as long as we're consistent.
I just noticed the `/cc` in the autobump PR isn't respected because the bot creates the PR: https://github.com/kubernetes/test-infra/pull/13586#issue-300856456

[2019-07-25 16:51] cblecker commented on #13438
Yeah, I'm a -1 on this. We disallow closes in commit messages because of the bad UX of having unintentional closing over and over again. It's "loud", but I think it would be overly restrictive. And it doesn't prevent non-kubernetes repos from doing the same thing.

[2019-07-25 17:09] chases2 commented on #13541
Our current system is now configured to take a directory tree at /config/testgrids, allowing us to split these files into any number of arbitrary, smaller files.

For the sake of example, I plan to split "sig-testing" stuff out into its own directory, but there isn't a great metric for if this file is "sharded" enough to be easy or good yet.

Unless there's objection, after I shard out at least on

[2019-07-25 17:31] clarketm commented on #13495
@jeremyje - was this `bazel` build/run issue continual or did you only get this error on the first invocation?

Also, what is your machine hardware (e.g. Mac or Linux)?

[2019-07-25 18:00] davidz627 commented on #13589
@krzyzacy the kubeconfig can't be specified locally? It would be on the same machine that `kubetest` is run from.

[2019-07-25 18:40] michelle192837 opened #13612 "Crier/Plank erroring"
Seeing errors in crier and plank.

[code]

[code]

/assign @krzyzacy

[2019-07-25 18:41] michelle192837 commented on #13612
/area prow

[2019-07-25 20:56] krzyzacy commented on #13589
@davidz627 you want to do this locally or from CI?

From locally you can simply follow https://kubernetes.io/blog/2019/03/22/kubernetes-end-to-end-testing-for-everyone/, you don't even need kubetest right?

[code]

[2019-07-25 21:14] krzyzacy commented on #13306
well, switched to single thread for now

/close

[2019-07-25 21:14] #13306 closed

[2019-07-25 21:14] krzyzacy commented on #13612
dup https://github.com/kubernetes/test-infra/issues/13355

[2019-07-25 21:14] #13612 closed

[2019-07-25 21:26] michelle192837 commented on #10409
Hey everyone, and thanks for your patience! :D Here's our rough timeline for open-sourcing. This covers the next couple quarters (there will be more work to do next year, I'll update when we're further along). Plans subject to change, but feel free to poke if it looks like we're lagging on this. ^^

# Q3 (July - September 2019):
- Move TestGrid project + code into its own repo
- Add all post-updat

[2019-07-25 22:54] #11483 closed

[2019-07-25 22:54] #11446 closed

[2019-07-25 22:57] chases2 commented on #13057
As mentioned in #13312, there are currently only 60 prow jobs that don't use annotations, and that's primarily due to special configurations.

Between these improvements and sharding the Testgrid Configurations (#13541), I don't anticipate this becoming an issue again in the near future. If it does, many of these tools can be reused to handle it.

/close

[2019-07-25 22:57] #13057 closed

[2019-07-25 23:18] chases2 commented on #13541
What goes where is going to vary by SIG, so we'll need to get them involved in the process.

/help-wanted

Sharding for a SIG can be done similarly to #13609:
1. Remove the appropriate Dashboard Groups and Dashboards from the central file
2. Put them in any file in the /config/testgrids directory tree. Subdirectories are fine, and encouraged in moderation, since OWNERS files can be nested in this

[2019-07-25 23:20] chases2 commented on #13541
What goes where is going to vary by SIG, so we'll need to get them involved in the process.

Sharding for a SIG can be done similarly to #13609:
1. Remove the appropriate Dashboard Groups and Dashboards from the central file
2. Put them in any file in the /config/testgrids directory tree. Subdirectories are fine, and encouraged in moderation, since OWNERS files can be nested in this way.

/help

[2019-07-26 08:56] hantaowang commented on #13589
We have a test framework that needs to rub locally and on orow. It builds our driver, brings up a gke or gce cluster, installs the driver and any special RBACs if necessary, and then invokes kubetest to run the e2e tests.

Ideally we want every stage of that to be as independent of the provider as possible, and previously we used gingko instead of kubetest which allowed that. But kubetest gives so

[2019-07-26 12:11] krzysied opened #13622 "Kubernetes scalbility tests use wrong branches"
The kubernetes scalability tests of older releases are using master branch:
- 1.12
- 1.13
- 1.14

[2019-07-26 12:12] krzysied commented on #13622
/assign
/cc @wojtek-t

[2019-07-26 12:18] wojtek-t commented on #13622
Do we have only stable1/2/3?
We should also have beta.

[2019-07-26 12:21] krzysied commented on #13622
Beta is working correctly: https://github.com/kubernetes/test-infra/blob/31231ad83b8264e7404183fa9b3e311193352580/config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml#L175

[2019-07-26 12:25] wojtek-t commented on #13622
Scalability seem to be only part of the issue - it seems to me that a bunch of other jobs are misconfigured too.
@kubernetes/sig-release @justaugustus

[2019-07-26 13:02] #13622 closed

[2019-07-26 15:22] krzyzacy commented on #13589
This sounds reasonable if you can have a way to guarantee the cluster exists, feel free to make kubetest work the way you want it to be :-)

also cc @RonWeber if kubetest2 can work with this scenario already

[2019-07-26 15:36] msau42 commented on #13589
Does using --provider=skeleton help?

[2019-07-26 15:41] krzyzacy commented on #13589
(also cc @freehan who was trying to do the same thing a while back)

[2019-07-26 16:02] justinsb commented on #12527
I have now created these accounts, I think I need somebody to register them in boskos

[2019-07-26 16:12] howardjohn opened #13624 "configurator output order is non deterministic"
**What happened**:
From this PR: https://github.com/istio/test-infra/pull/1542/files

I ran `make testgrid`, running `configurator --prow-config prow/config.yaml --prow-job-config prow/cluster/jobs --output-yaml --yaml testgrid/default.yaml --oneshot --output testgrid/istio-generated.yaml`. Each time I run it the order is different

**What you expected to happen**:
Output is the same every time I

[2019-07-26 16:37] spiffxp commented on #13438
/close
Sounds good, I will learn to deal with it

[2019-07-26 16:37] #13438 closed

[2019-07-26 16:37] spiffxp commented on #12138
/priority important-longterm

[2019-07-26 16:58] petr-muller commented on #11640
/assign

[2019-07-26 17:31] chases2 opened #13628 "Testgrid Defaults can override each other"
**What should be cleaned up or changed**:
Default settings placed in a testgrid folder, such as `config/testgrids`, can still override each other. Every prow annotation uses the "last" default read, but which one is "last" is unclear unless there's only one.

Configurator should be modified to throw a warning, and eventually error, when a default is set over another default.

**Provide any links f

[2019-07-26 17:32] chases2 commented on #13628
/area testgrid

[2019-07-26 17:41] freehan commented on #13589
FYI, my commandline is something like this:

[code]

[2019-07-26 17:49] hantaowang commented on #13589
I have a problem specifically with the gcp-project and gke-env flags. Although we can certainly work around passing that in, I just want to make sure there are really no ways to use gke without setting those two.

[2019-07-26 18:05] spiffxp commented on #13362
/remove-good-first-issue
/remove-help
/close
seems like this was a case of bad data, not bad algorithm

[2019-07-26 18:05] #13362 closed

[2019-07-26 18:06] spiffxp commented on #13591
/area prow/spyglass
/sig testing

[2019-07-26 18:07] spiffxp commented on #13624
/area testgrid
/sig testing

[2019-07-26 18:07] spiffxp commented on #13571
/sig testing

[2019-07-26 18:08] spiffxp commented on #13589
/area kubetest

[2019-07-26 18:08] spiffxp commented on #13551
/sig testing

[2019-07-26 18:09] spiffxp commented on #13565
/sig testing

[2019-07-26 18:09] chases2 commented on #13624
Note: specifically, the order of testgroups in the array are nondeterministic; keyed items are serialized deterministically: alphabetically by key

[2019-07-26 18:10] spiffxp commented on #13628
/sig testing

[2019-07-26 18:11] spiffxp commented on #13452
/sig testing

[2019-07-26 18:11] spiffxp commented on #13413
/sig testing

[2019-07-26 18:12] spiffxp commented on #13270
/remove-kind cleanup
/kind documentation
/kind bug
/good-first-issue

[2019-07-26 18:13] spiffxp commented on #13270
/sig testing

[2019-07-26 18:15] spiffxp commented on #13374
/sig testing
/area prow
is this also relevant to ghproxy?

[2019-07-26 18:22] spiffxp commented on #13372
Prow has postsubmit jobs today (ref: https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#how-to-configure-new-jobs), it seems like for your case you'd want to setup a postsubmit job that's pointed at your temp branch.  If you're looking to add a feature that sets up the temp branch and creates the job automagically, that's probably more complexity than we're willing to introduce with

[2019-07-26 18:23] spiffxp commented on #13276
/sig testing
/sig contributor-experience

[2019-07-26 18:23] spiffxp commented on #13263
/sig testing

[2019-07-26 18:24] spiffxp commented on #13278
/sig testing
is this still an issue or was this a config problem?

[2019-07-26 18:24] detiber commented on #12527
@liztio @rdodev do either of you remember who did this originally?

[2019-07-26 18:28] spiffxp commented on #13266
I would rather not encourage this pattern.  We should motivate people to fix or triage flakes away from the critical path, not just wait longer.

ref: https://github.com/kubernetes/kubernetes/issues/68091

[2019-07-26 18:29] spiffxp commented on #13266
/sig testing

[2019-07-26 18:29] spiffxp commented on #13244
/area prow/deck
/sig testing

[2019-07-26 18:29] spiffxp commented on #13243
/close
closed by above PR

[2019-07-26 18:29] #13243 closed

[2019-07-26 18:30] spiffxp commented on #13243
/sig testing
/area prow
/milestone v1.16

[2019-07-26 18:30] spiffxp commented on #13232
/sig testing
/area jobs

[2019-07-26 18:33] spiffxp commented on #13228
/remove-help
It's unclear to me what you're asking for specifically here

We have https://github.com/kubernetes/test-infra/tree/master/planter, would this be about updating planter or doing something completely different?

[2019-07-26 18:33] spiffxp commented on #13495
/sig testing

[2019-07-26 18:34] spiffxp commented on #13492
/sig testing

[2019-07-26 18:35] spiffxp commented on #13242
Is this still an issue?

[2019-07-26 18:35] spiffxp commented on #13528
/area prow/deck
/sig testing

[2019-07-26 18:37] detiber commented on #12527
Had a [discussion in #sig-testing regarding this](https://kubernetes.slack.com/archives/C09QZ4DQB/p1564165911066400) and `test-infra-oncall` will be able to assist today after lunch.

[2019-07-26 18:39] spiffxp commented on #13163
/sig testing

[2019-07-26 18:39] spiffxp commented on #13018
/sig contributor-experience

[2019-07-26 18:40] spiffxp commented on #12137
/sig testing

[2019-07-26 18:40] spiffxp commented on #11640
/sig testing

[2019-07-26 18:41] spiffxp commented on #11640
/milestone v1.16

[2019-07-26 18:41] spiffxp commented on #11247
/sig testing

[2019-07-26 18:41] spiffxp commented on #12989
/sig testing

[2019-07-26 18:42] spiffxp commented on #12573
/sig testing

[2019-07-26 18:42] spiffxp commented on #10845
/meow no

[2019-07-26 18:44] spiffxp commented on #11939
/close
It seems like this has been addressed per https://github.com/kubernetes/test-infra/pull/12129#issuecomment-483409510

[2019-07-26 18:44] #11939 closed

[2019-07-26 18:45] matthyx commented on #11247
I'll look into it, poor doggo...

[2019-07-26 18:54] msau42 commented on #13589
@hantaowang our test framework should know the project from boskos.  And the gke-env is something we'll may want too so we can test against staging vs prod

[2019-07-26 19:11] hantaowang commented on #13589
The project is a little tricky because then for non prow runs you need to either specify or discover the default project, which can be done. Env is something we can do as well by seeing if the `CLOUDSDK_API_ENDPOINT_OVERRIDES_CONTAINER` env var is set. So it is possible, but just wanted to see if it was the best solution.

@freehan, what nodes gcp-node-image=0 mean? I have been setting it to COS.

[2019-07-26 19:17] krzyzacy commented on #13355
we really need to rewrite plank to use the generated client first :-(

[2019-07-26 22:20] spiffxp commented on #11247
/assign @matthyx
Thanks Matt!

[2019-07-27 00:12] chases2 opened #13638 "Testgrid/Configurator needs unit tests"
**What should be cleaned up or changed**:
While the yaml2proto library that Configurator uses has tests, neither the prow portion nor the main file itself have unit or integration tests.

Testing would be a worthwhile investment into this component, which is becoming more complex and also more important for TestGrid's health.

**Provide any links for context**:
[Configurator](https://github.com/ku

[2019-07-27 02:24] cjwagner commented on #9867
Lets follow this suggestion too: https://github.com/kubernetes/test-infra/pull/8288#discussion_r197955337

[2019-07-27 19:38] #11550 closed

[2019-07-28 04:16] cblecker opened #13645 "RFC: go module proxy"
We're using go modules in a number of different repos, including k/k. I'm wondering if it's time we explore either using or deploying our own go module proxy.

Benefits:
- Faster download times when doing online verification in CI
- Repos wouldn't require direct in-tree vendoring, while still maintaining speed and reducing network flakes.

Downsides:
- Overhead of running/maintaining a caching pro

[2019-07-28 04:46] cblecker commented on #12356
/remove-lifecycle stale

@nickvanw Any update on this? :)

[2019-07-28 05:06] BenTheElder commented on #13645
kind has had great success with using proxy.golang.org by default.

IMHO whatever we use needs to be overridable (eg regional availability concerns) but that's easily accomplished with `GOPROXY=${GOPROXY:-proxy.golang.org}`

As I understand we are slated to essentially get this built in to golang 1.13 soon (defaulting to the golang.org proxy).

[2019-07-28 05:15] BenTheElder commented on #13645
See: https://proxy.golang.org/ in your browser which discusses go 1.13 and defaults.

[2019-07-28 07:00] cblecker commented on #13645
Well I'm also wondering if our CI should run a local proxy, and populate the environment variable right into the job spec. I think it could reduce network flakes, as well as speed up jobs if we don't have to re-download stuff each time.

[2019-07-28 17:18] BenTheElder commented on #13645
I think that might make sense for a non GCP Prow but significantly less sense given Prow is also in Google data centers.

proxy.golang.org is already local to Google data centers (as is CI) -- I don't think it will get significantly more local or have better uptime. If anything I'd expect our Prow local cache to be more likely to have downtime and no SLA / SRE ...

You still have to download, even

[2019-07-28 17:25] akutz commented on #13645
I like vendor.

[2019-07-28 20:30] cblecker commented on #13645
@akutz vendor still makes sense for k/k's project dependencies, but I'm thinking that for repos that either have simple dependencies or only are vendoring tools (like misspell), being able to remove the vendor is a positive thing.

[2019-07-28 20:41] akutz commented on #13645
Maybe. Then again, regardless of whether a dependency is small, large, or tooling — if it’s Golang-based and is or generates a compile-time requirement, then it’s beneficial to have that dependency  vendored as well.

Post-build tooling, such as linters, then sure, shove them into an external location all day.

[2019-07-28 21:10] cblecker commented on #13645
Example PR ditching vendor in favour of the proxy: https://github.com/kubernetes/community/pull/3934
`+10 −45,044`

[2019-07-28 21:57] BenTheElder commented on #13645
I used to think this but ... `.git` is 922M currently on my [github.com/kubernetes/kubernetes](https://github.com/kubernetes/kubernetes) clone (!) With the current source this makes the whole checkout 1.1GB (!)

Checking in `vendor/` has a very real price. Cloning from GitHub is slow and this problem only increases with time.

Modules + `GOPROXY` allows you to only track the versions and hashes in

[2019-07-28 22:06] akutz commented on #13645
Hi @BenTheElder,

I was the same way and came back around. I started coding in C and moved to C#, in a land where MS didn't provide any artifact management. Going to Java and Maven seemed like a godsend. So much so that I created [nvn](https://sourceforge.net/projects/nvn/) -- Maven for .NET -- nearly 10 years ago.

When I first started working with Golang I immediately adopted [the same behavior]

[2019-07-28 22:16] BenTheElder commented on #13645
Looking back and re-evaluating is how we improve things, right? 🙃

The first clone is the one we do ~10,000 times a day in CI, and for any new contributors. It's also true for modules, but strictly smaller (quite a _lot_ so for Kubernetes).

That's not true at all. Nothing can completely get rid of them, we have flakes today cloning repos. Cloning from source control is more bandwidth and more end

[2019-07-28 22:23] akutz commented on #13645
Hi @BenTheElder,

Touche. But I think you know I meant that I haven't seen a good enough reason to change.

I thought there was some level of caching in the Prow clusters to reduce the overhead of this?

Again, fair. Please allow me to restate that it reduces the number of things that are able to flake.

For binary artifacts I'm all for having dedicated artifact management. For source dependencies

[2019-07-28 22:26] akutz commented on #13645
Hi @BenTheElder / @cblecker,

By the way, I don't think `vendor` or proxy.golang.org must be mutually exclusive either. I just wanted to state that explicitly in case my arguments made it appear as if I'm in blanket opposition to the latter.

[2019-07-28 22:32] cblecker commented on #13645
Agreed. For something like k/k where I don't think we're ready to get rid of vendor, using the proxy still helps for those vendor verification steps.

That said, in go 1.13, we would have to manually force the use of vendor as it will be ignored by default. /shrug

[2019-07-28 22:34] akutz commented on #13645
And this makes me incredibly sad. It's **such** a useful feature. And if it's being switched to "opt-in," then it's only a matter of time before it is deprecated and removed entirely.

*sigh*

[2019-07-28 22:42] BenTheElder commented on #13645
None. There's bazel build output caching, and GitHub API call caching (for prow itself) but those are orthogonal.

It only reduces by one versus the module proxy, and the module proxy so far has been more reliable than github .. it has a different workload.

Many of our dependencies contain large binary artifacts (EG compiled proto, gobindata) packed into source code, so it's not really either-or.

[2019-07-28 22:48] akutz commented on #13645
Hi @BenTheElder / @cblecker,

So perhaps this issue should be framed as "when" versus "if". I do think they're two different discussions, but if the sun is setting on `vendor`, then that changes things. The conversation is no longer "Should we use a Go module proxy" but rather:

* What is required to migrate to the proxy?
* What challenges, if any, are expected?
* What is the timeline? Does it mat

[2019-07-28 22:55] cblecker commented on #13645
If we opt to not roll our own proxy (based on the fact that the official proxy is already google hosted, I agree that we don't need to roll our own for prow.k8s.io), then it could be as easy as injecting the variable:
`GOPROXY=https://proxy.golang.org`

Then any go module operation will consume that.

[2019-07-28 23:00] akutz commented on #13645
Hi @cblecker,

Agreed. I'm saying though that perhaps this conversation should be about the work required to figure out the work required to move to the use of a `GOPROXY`. As you and @BenTheElder have stated, once k/k projects are using `GOPROXY`, changing to where that points is the more trivial piece of work in the process.

[2019-07-28 23:05] BenTheElder commented on #13645
`GOPROXY` is always used when you use go modules, however before go 1.13 it is `direct` instead of an actual proxy. When we upgrade to go 1.13 an official proxy will be enabled by default (along with modules IIUC).

So.. shouldn't require any work except:
- start using go modules for projects (we already have, and this is going to be default on in go 1.13?)
- upgrade to go 1.13 (which we'll do eve

[2019-07-28 23:06] akutz commented on #13645
Hi @cblecker,

What did you just read? Because I just read @BenTheElder volunteering to lead the `GOPROXY` effort for k/k :)

[2019-07-29 00:17] cblecker commented on #13645
https://github.com/kubernetes/test-infra/pull/13648
/shrug

[2019-07-29 04:51] tehcyx opened #13651 "Grafana "API Token saved: Last hour" breaks if range is > 24 hours"
**What happened**:
Going to the GitHub Cache dashboard: https://monitoring.prow.k8s.io/d/d72fe8d0400b2912e319b1e95d0ab1b3/github-cache?orgId=1&from=now-3h&to=now&refresh=1m

Right now it shows for me 2417 tokens saved. If I change the range to "Last 24 hours" it will still show this, but if I change it to "Today" it breaks. Same with everything greater than 24 hours.

**What you expected to happen

[2019-07-29 06:02] matthyx commented on #9514
/remove-lifecycle stale
@cjwagner any chance you'll finish the command framework?

[2019-07-29 07:03] #11611 closed

[2019-07-29 10:57] matthyx commented on #11247
We have the same "issue" with cats, I will apply the same strategy if it's fine...
/meow

[2019-07-29 12:44] kasiakepka commented on #10138
/remove-lifecycle stale
Hi @ms4720, is there a chance that you will work on it in nearest future? :)

[2019-07-29 14:01] hongkailiu commented on #13651
@tehcyx thanks for report.
after some simple testing, i feel it could be related to `instant=true`

https://github.com/kubernetes/test-infra/blob/b8a4d156128df3747e25e1590f47ec010e5ef9a5/prow/cluster/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet#L138

But i cannot explain why the last one (API Tokens Saved: last 7 days) works more often (which also have `instant=true`.

I will test more.

[2019-07-29 14:49] tehcyx commented on #13651
It seems weird to me, that the numbers in the "last 7 days" column are so different in your samples. Maybe that's a starting point?

[2019-07-29 14:52] hongkailiu commented on #13651
just for my own record (still not able to answer your Qs ^_^), piling up some googling results:

https://stackoverflow.com/questions/51728031/what-does-the-instant-checkbox-in-grafana-graphs-based-on-prometheus-do/51729483#51729483

https://github.com/grafana/grafana/pull/9186/files

[2019-07-29 16:20] stevekuznetsov commented on #10946
/remove-lifecycle stale
/assign  @cjwagner
xref #13561

[2019-07-29 16:51] stevekuznetsov commented on #10388
This got implemented in #12499

/close

[2019-07-29 16:51] #10388 closed

[2019-07-29 16:53] #11247 closed

[2019-07-29 17:04] mirandachrist commented on #12989
Done in #13323 /close

[2019-07-29 17:23] cjwagner commented on #10946
Hmm, the lifecycle label was applied, but I wasn't assigned 🤔
/assign

[2019-07-29 17:26] cjwagner commented on #12989
Commands must appear at the beginning of a line.
/close

[2019-07-29 17:26] #12989 closed

[2019-07-29 18:23] justaugustus commented on #3392
/reopen
/priority important-soon
/area release-eng

@kubernetes/release-engineering -- Anyone interested in working on this?

[2019-07-29 18:23] justaugustus commented on #3392
/remove-lifecycle rotten
/lifecycle frozen

[2019-07-29 18:26] cpanato commented on #3392
@justaugustus i can try this one if i get some initial guide, like where to start :)

[2019-07-29 18:27] nnordrum commented on #13372
@spiffxp: yeah, I talked to @stevekuznetsov on Slack about it and the post submit seems like it the way to go. We were doing everything "offline" (not using the GH API, just doing it though the CLI), so I was thinking a post submit wouldn't work, but provided we do a post submit and do the merging via API, it should work.

I still think it would be nice to have it, but I can use post submit and ha

[2019-07-29 18:28] justaugustus commented on #3392
Thanks Carlos! I personally just found this issue.

@spiffxp @fejta -- Can you provide some details on current state of affairs and what Carlos would need to work on this?

/assign @cpanato

[2019-07-29 20:06] cblecker opened #13665 "prow: document default preset behaviour"
**What should be cleaned up or changed**:
prow's preset functionality has the ability to have one or more "default" presets if you omit the `labels` field on a specific preset in the config.

example:
[code]

This sets this env var for all jobs.

We need the following documentation locations updated:
- https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#presets - ensure an example of

[2019-07-29 20:06] cblecker commented on #13665
/assign @spiffxp

[2019-07-29 20:25] spiffxp commented on #13665
/milestone v1.16
/area jobs
/area prow
/remove-kind cleanup
/kind documentation

[2019-07-29 21:42] #13305 closed

[2019-07-29 22:06] #13645 closed

[2019-07-29 22:21] spiffxp commented on #11247
/milestone v1.16

[2019-07-29 22:21] spiffxp commented on #12989
/milestone v1.16

[2019-07-29 22:28] BenTheElder commented on #13645
we already switched k/k to modules and aren't opting out of this, but we'll need to updated a few places to make sure it propagates to the build containers etc. should be straightforward :-)

[2019-07-29 22:40] spiffxp commented on #3392
This was primarily in reference to all of the jobs that now live here: https://testgrid.k8s.io/sig-release-orphaned

They are run via kubetest: https://github.com/kubernetes/test-infra/tree/master/kubetest#upgrade-skew-kubemark

Testgrid columns are defined in testgrid config.yaml like so: https://github.com/kubernetes/test-infra/blob/master/testgrid/config.md#column-headers

So the questions I ca

[2019-07-29 22:52] cblecker commented on #3349
The PST uses [Opsgenie](https://www.opsgenie.com/) via the CNCF for their rotation (another option).

We still also need the initial questions answered (what is on call responsible for, etc) and documented.

[2019-07-30 00:10] cjwagner commented on #9514
Probably not :disappointed:
I think it was a fun idea, but ultimately not something we really need. There have consistently been more useful things for me to work on.

[2019-07-30 00:31] spiffxp commented on #13645
/unshrug
/sig testing
/milestone v1.16
/area jobs

[2019-07-30 00:32] cjwagner commented on #13452
This [PR](https://github.com/kubernetes/test-infra/pull/13561) may make this issue obsolete if we switch to recommending mkpod+kind instead of phaino+docker.

[2019-07-30 00:37] spiffxp commented on #13452
/milestone v1.16

[2019-07-30 02:28] hongkailiu commented on #13651
Let me show my understanding of the query API (instance or not) and the time range by the following table (data from our own monitoring stack where it is easier for me to debug).

|            | last hour (in.=t) | last 7 days (in.=t) | last hour (in.=f) | last 7 days (in.=f) |
|------------|-------------------|---------------------|-------------------|---------------------|
| today      | N/A

[2019-07-30 02:49] hongkailiu commented on #13651
[code]

Yes, they should. My guess is when I did the tests manually i was not fast enough. `now` is different when I execute the queries.

[2019-07-30 03:20] stevekuznetsov commented on #12431
/remove-lifecycle stale
ping @smarterclayton

[2019-07-30 03:31] stevekuznetsov commented on #12426
/remove-lifecycle stale

This will be done with the work from @mirandachrist  in #13321

/assign @mirandachrist
/milestone v1.16

[2019-07-30 03:56] justaugustus commented on #9378
/area release-eng
/priority important-soon
/help
/kind feature

[2019-07-30 05:57] matthyx commented on #9514
Do you need help on it? I could have a look after done with the configtree...

[2019-07-30 08:27] hantaowang commented on #13589
Resolved. Thanks all.
/close

[2019-07-30 08:27] #13589 closed

[2019-07-30 09:40] #11352 closed

[2019-07-30 10:21] petr-muller opened #13681 "verify-owners: no way to remove `dnm/invalid-owners` label"
**What happened**:

The verify-owners plugin flagged https://github.com/openshift/release/pull/4417 as having invalid owners file because one of the IDs there was not a member of an org. That person joined afterwards, but there was no way how to force the bot to recheck the condition without either adding new commits or closing/reopening a PR.

ATM, the plugin only checks OWNERS file on open/reope

[2019-07-30 14:40] nikhita commented on #13587
:+1:

[2019-07-30 15:12] #11640 closed

[2019-07-30 16:14] spiffxp commented on #13681
/area prow
/area github-management

[2019-07-30 16:14] spiffxp commented on #13681
/milestone v1.16

[2019-07-30 16:16] spiffxp commented on #12296
/area github-management

I spoke offline with fejta last week and am confirming by proxy, as he's out this week

[2019-07-30 16:19] spiffxp commented on #12296
I've squatted on http://github.com/k8s-triage-robot, what needs to happen now is:
- an avatar
- making a token
- getting test-infra oncall to add the new secret to the cluster
- swapping the jobs to use the new token
- renaming the jobs / dashboards referenced above

note that fejta-bot is not a member of the org, doesn't have any privileges, doesn't need to have 2fa enabled; if we want that to ch

[2019-07-30 16:32] nikhita commented on #12296
renaming the jobs / dashboards referenced above

Created https://github.com/kubernetes/test-infra/pull/13683 to get the ball rolling

Do we know who created the avatar for @k8s-github-robot? It's pretty dope!

[2019-07-30 17:34] chases2 commented on #13571
Verified the bug, determining that the BUILD file doesn't need to be valid, but the go program does. Added specific shell commands to recreate the issue.
/unassign

[2019-07-30 17:50] #13475 closed

[2019-07-30 18:42] clarketm opened #13688 "Tackle deck ingress does not work with NGINX ingress controller"
**What happened**:
The [starter.yaml](https://github.com/kubernetes/test-infra/blob/master/prow/cluster/starter.yam) file used by tackle contains an [`Ingress`](https://github.com/kubernetes/test-infra/blob/master/prow/cluster/starter.yaml#L436-L452) resource specification that is specific to the [GCE ingress controller](https://github.com/kubernetes/ingress-gce) resulting in 404 when routing to t

[2019-07-30 18:42] clarketm commented on #13688
/assign

[2019-07-30 20:02] chases2 commented on #13628
Resolved by requiring a default at invocation, and not allowing mid-processing switches.

[2019-07-30 20:02] #13628 closed

[2019-07-30 20:07] chases2 opened #13690 "Testgrid Configuration Tests should be in config/tests"
**What should be cleaned up or changed**:
Currently there are tests in /testgrid/cmd/configurator that ensure that cluster-specific requirements are met, such as not creating a new Prow Job without putting it on TestGrid.

To make it clear what is cluster-specific and what is not, I think these tests should go in /config/tests instead.

**Provide any links for context**:
[Config Tests](https://git

[2019-07-30 20:07] chases2 commented on #13690
/area testgrid
/sig testing

[2019-07-30 21:36] BenTheElder opened #13693 "experiment/bump_e2e_images.sh doesn't work"
on macOS with bazel 0.28.1 gives a ton of output and fails, this is what was left in my buffer:

<details>
bs/kubernetes/org/kubernetes-org-jobs.yaml ./config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml ./config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml ./config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml ./config

[2019-07-30 21:36] BenTheElder commented on #13693
the last bit is probably the relevant part:
[code]

I suspect we're not forcing the right python version

[2019-07-30 21:50] BenTheElder commented on #13693
this also fails on my linux workstation

[2019-07-30 21:56] BenTheElder commented on #13693
symlinking bazel to bazelisk results in the same issue.

[2019-07-31 00:44] spiffxp commented on #12296
👋 😄

[2019-07-31 01:10] #13688 closed

[2019-07-31 01:18] spiffxp commented on #13638
/milestone v1.16
/priority important-soon

[2019-07-31 01:18] spiffxp commented on #13690
/milestone v1.16

[2019-07-31 01:21] spiffxp commented on #13628
/milestone v1.16

[2019-07-31 01:27] spiffxp commented on #13587
I will admit, I don't have great data on who uses /sig vs. who uses teams.  I have seen some people use them, and they will notify members, but not everyone has them, and it's not clear to me how actively maintained they are.

[2019-07-31 03:04] clarketm commented on #13693
@BenTheElder

It appears that since bazel [0.25.0](https://github.com/bazelbuild/bazel/blob/master/CHANGELOG.md#release-0250-2019-05-01) the default python version for `py_binary` is python3.

So, while this file was written for python3 (inferred from the fact that `hashlib` accepts a `str` in python2 and `bytes` in python3) it is running under python3.

I am actively working on python2 -> python3

[2019-07-31 07:33] alvaroaleman opened #13706 "Move pod-related logic from sinker into Plank"
**What should be cleaned up or changed**:

Currently, Sinker does have some cleanup logic for Pods. This logic is specific to ProwJobs with the Kubernetes Agent. The result is that the behavior of Prow as a whole with regard to ProwJobs with the Kubernetes Agent is a combination of what Plank and Sinker do, which makes tests not reflective of it. Thus, we should move all logic related to Pods and

[2019-07-31 07:42] alvaroaleman opened #13707 "Scalability presubmits: Properly cope with termination"
**What happened**:

According to @BenTheElder , the sig-scalability presubmits can not cope with getting terminated. This forces us to keep [an option in Prow that prevents Presubmit jobs that are superseded by a newer push on the pull from getting terminated.](https://github.com/kubernetes/test-infra/blob/7390662904a6df2d576e37b1ed50e0297bbd2950/prow/config/config.go#L238)

This is an option we d

[2019-07-31 08:12] alvaroaleman commented on #12216
I've also noticed that tide seems to trigger retest for _all_ presubmits if one or more of them needs retesting, even for the ones that have up-to-date results. Is that related or a different issue? I'll probably look into this, this is really, really annoying.

[2019-07-31 08:16] wojtek-t commented on #13707
What is the exact problem with "not being able to cope with termination"?
How does it manifest?

I think I don't fully understand the problem, which makes it hard to answer how to solve it :)

@kubernetes/sig-scalability-bugs @shyamjvs @mm4tt

[2019-07-31 08:23] alvaroaleman commented on #13707
According to Ben by `scalability jobs need to do cleanup and don't have a proper grace period etc.`

If that is not accurate and we can send a `DELETE` to the pods that contain sig-scalability presubmits without causing problems, this issue can be closed :)

[2019-07-31 12:53] mm4tt commented on #13707
Our presubmits use common infra (kubekins image / kubetest binary) to set-up clusters and run tests. They shouldn't be any different than any other e2e tests.
If other e2e test can handle DELETE pod properly (e.g. by terminating the test and calling kube-down) then our presubmits should be doing it as well.

If that's not the case, then could you please explain what is so special about our jobs th

[2019-07-31 14:42] BenTheElder commented on #13707
Hi, there's quite a lot of context missing with those partial quotes ... 😕

NONE of the presubmits on prow.k8s.io do anything special to deal with termination.
However, most of them use boskos projects (and therefore retain resources in borrowed projects with a hearbeat) or don't have external resources that need cleanup.

As I remember, the last time we started terminating jobs early when a new c

[2019-07-31 15:01] BenTheElder commented on #13707
I just saw a thread in slack the other day about terminating early and remembered the problems we had with leaked scale clusters last time: https://github.com/kubernetes/test-infra/issues/7673

One possible solution is to ensure the test script / tool handles sig TERM and starts cleaning up, and set a grace period on the job long enough for tear down.

Another is to use boskos for everything

To b

[2019-07-31 15:57] cjwagner commented on #12216
Are you talking about when PRs have tests run against different base branch commits? We could optimize for that edge case more by trying to make Tide's triggering aware of existing jobs. This would complicate things, but is certainly doable.
Can you link to some occurrences? Roughly how frequently does this happen?

[2019-07-31 16:35] alvaroaleman commented on #12216
I don't have a public example because most of our code is not public, but the example I have basically boils down to:

* Some did a PR
* One test failed
* A couple of days later it succeeded after a `/retest`
* All except this one test need retesting
* Tide restarts _all_ tests
* We now have to successfull Prowjobs with the same base and head sha that were both successful:
[code]

[2019-07-31 17:18] stevekuznetsov opened #13713 "ghproxy: metrics: ideas for improvement"
In GHProxy metrics on calls by path we should also expose the resulting cache state, and ideally we'd send an identifying header for clients to GHProxy and expose that as a label as well so we could answer the question "which component is using the most API quota and on which API calls?"

/cc @techyx

[2019-07-31 17:19] stevekuznetsov commented on #13707
Every job should _always_ expect to be pre-empted without any notice and handle `SIGTERM` appropriately.

[2019-07-31 17:20] stevekuznetsov commented on #13707
As a Prow admin that wants to provide a good experience to job executors, you want to have Pods for aborted ProwJobs deleted, anyway -- Prow has determined that those jobs will never see the light of day and it is not useful to continue having them use up quota or shared resources. Deleting those Pods when the job gets aborted improves your useful throughput.

[2019-07-31 17:27] spiffxp commented on #10065
tagging the issue I use for anything related to maintenance or use of OWNERS ref: https://github.com/kubernetes/community/issues/1808

[2019-07-31 17:45] BenTheElder commented on #13707
This is true, but we can't really expect authors / users to have already handled this, it has not been documented.

In practice this does not really occur much at the moment, and those jobs specifically have previously been modified with mitigations against being terminated early (large resource requests, and possibly their own build cluster now?)

That makes sense, and I agree... Scale testing st

[2019-07-31 18:00] enj opened #13716 "retitle command does not work on merged pull requests"
**What happened**:

Using retitle on a merged PR does not update the title.

**What you expected to happen**:

The title is updated.

**How to reproduce it (as minimally and precisely as possible)**:

See above.

**Please provide links to example occurrences, if any**:

https://github.com/openshift/library-go/pull/472

**Anything else we need to know?**:

N/A

[2019-07-31 18:08] enj opened #13717 "Bugzilla plugin does not link external tracker when pull request is merged"
**What happened**:

Linked a PR to a bug after the PR had already merged.

**What you expected to happen**:

The bugzilla bug should be updated with the external tracker.

**How to reproduce it (as minimally and precisely as possible)**:

See above.

**Please provide links to example occurrences, if any**:

https://github.com/openshift/library-go/pull/472

**Anything else we need to know?**:

N/A

[2019-07-31 18:24] spiffxp commented on #13541
I've attempted to model what sharding to sig-owned dirs would look like, using the sig-testing and sig-contribex testgrids: https://github.com/kubernetes/test-infra/pull/13720

[2019-07-31 19:44] shyamjvs commented on #13707
@alvaroaleman If we can gracefully handle cleanup for scalability jobs, that'll be great. IIRC back then there were couple concerns. That new commit push abruptly kills previous pod and also we cannot start new pod until the previous one cleaned up because otherwise we can have capacity issues.

Can you elaborate a bit on how this new mechanism you're proposing will work?

[2019-07-31 19:48] spiffxp commented on #10501
/area github-management
(now that the label is actually present)

[2019-07-31 19:49] spiffxp commented on #10065
/area github-management

[2019-07-31 19:59] spiffxp commented on #13681
/priority important-longterm

[2019-07-31 20:00] spiffxp commented on #10501
/priority important-longterm

[2019-07-31 20:00] spiffxp commented on #12296
/priority important-soon

[2019-07-31 20:00] spiffxp commented on #10065
/priority important-longterm

[2019-07-31 23:08] #13693 closed

[2019-08-01 00:00] BenTheElder commented on #13693
thank you!

On Wed, Jul 31, 2019 at 4:08 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-08-01 02:29] nikhita commented on #13716
This would definitely be useful!

/assign
Created https://github.com/kubernetes/test-infra/pull/13722

[2019-08-01 02:31] nikhita commented on #13717
/cc @stevekuznetsov @petr-muller

[2019-08-01 02:31] nikhita commented on #13681
/assign

[2019-08-01 07:32] alvaroaleman commented on #13707
One of:
* Use Boskos and make it take care of the account/project lifecycle management
* Make sure the tests start cleaning up once they got a sig term and set a high enough `gracePeriodSecond` for the cleanup to complete before the pod gets killed

[2019-08-01 07:53] wojtek-t commented on #13707
Using Boskos is the way we would like to go.
@mm4tt actually started setting up necessary projects, but he just dispappeared for vacation for 1 month.

So the plan is to use boskos for all our presubmits, though it wouldn't happen this month (but we already started working towards that direction).

[2019-08-01 07:57] BenTheElder commented on #4824
Good bot :-)

[2019-08-01 09:45] oxddr commented on #13495
I was about to write that I was affected by this issues yesterday too, but now it seems to be working fine.

I think the bug was caused by an older version of bazel on my mac. I've reinstalled it yesterday from brew using official bazel tap, but the bazel-server was running an older version up until this morning, when the bazel server restarted and picked a new version.

[2019-08-01 15:01] detiber commented on #12527
After discussing with @justinsb and hearing back from `test-infra-oncall`, I believe this has now been resolved.

Thank you to all involved in helping get this sorted out!
/close

[2019-08-01 15:01] #12527 closed

[2019-08-01 16:42] dankohn commented on #12296
Some avatar ideas from @alexcontini

![image](https://user-images.githubusercontent.com/3083270/62311394-b8618a80-b459-11e9-8b9e-2511824cd5e0.png)

[2019-08-01 17:38] krzyzacy commented on #4824
/woof

given now we only have 288 open issues, good bot :-)

[2019-08-01 18:34] #9597 closed

[2019-08-01 18:45] spiffxp opened #13730 "triage is bailing out on some failure clusters"
**What happened**:
Not seeing as much of `TestVolumeProvision` listed in go.k8s.io/triage as we would expect

A look at logs from [a recent triage run](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-test-infra-triage/1156947678471393281/build-log.txt) reveals:
[code]

During the next phase
[code]

**What you expected to happen**:
To see `TestVolumeProvision` listed in go.k8s.io/triage

[2019-08-01 18:46] spiffxp commented on #13730
FYI @liggitt @BenTheElder
since this came up in #sig-testing (ref: https://kubernetes.slack.com/archives/C09QZ4DQB/p1564674490149000)

[2019-08-01 19:14] hongkailiu commented on #13651
Closing.

@tehcyx
Please reopen if you still have concerns.

[2019-08-01 19:35] BenTheElder commented on #13730
took a quick poke, noting that python3 is being used for these files under bazel, but the image is pypy2 and probably old. will look at updating that while we're at it...

[2019-08-01 20:57] spiffxp commented on #13379
/area config

[2019-08-01 21:05] spiffxp commented on #13442
/close

[2019-08-01 21:05] #13442 closed

[2019-08-01 21:16] clarketm commented on #13495
@oxddr - What was the *old* version # of bazel that you were using?

[2019-08-01 21:23] spiffxp commented on #11970
/close
Agree with @BenTheElder this is an environment problem building kubernetes/kubernetes, not specifically due to kubetest.  If you're still having problems, please open an issue against https://github.com/kubernetes/kubernetes

[2019-08-01 21:23] #11970 closed

[2019-08-01 21:36] BenTheElder commented on #13730
semi-related: https://github.com/kubernetes/test-infra/pull/13732

[2019-08-01 21:45] spiffxp commented on #13370
/area prow

[2019-08-01 21:46] spiffxp commented on #12309
/area images

[2019-08-01 21:46] spiffxp commented on #13129
/area images

[2019-08-01 21:47] spiffxp commented on #11402
/area github-management
I think we should change the peribolos jobs to use this token

[2019-08-01 21:58] spiffxp commented on #13063
/sig testing
/priority important-longterm

[2019-08-01 21:59] spiffxp commented on #13706
/area prow
/area prow/sinker
/area prow/plank

[2019-08-01 21:59] spiffxp commented on #13706
/sig testing

[2019-08-01 21:59] spiffxp commented on #13713
/area ghproxy
/sig testing

[2019-08-01 22:00] spiffxp commented on #13716
/area prow
/sig contributor-experience
/priority important-soon

[2019-08-01 22:02] spiffxp commented on #13716
/milestone v1.16

[2019-08-01 22:02] spiffxp commented on #13717
/sig testing
/area prow

[2019-08-01 22:03] spiffxp commented on #13502
/area prow
(may want to consider a tackle label)

[2019-08-01 22:04] spiffxp commented on #13495
/area prow
(may need a tackle label)

I'm inclined to suggest we call this closed unless it's still a problem, but knowing the bazel version would be a useful datapoint

[2019-08-01 22:06] spiffxp commented on #13456
/area prow

[2019-08-01 22:06] spiffxp commented on #13488
/area kubetest

[2019-08-01 22:08] spiffxp commented on #13587
/area config
this doesn't _live_ in the config dir (yet), but it's basically in reference to config for prow.k8.io rather than the functioning of the prow welcome plugin, so no prow label

[2019-08-01 22:08] spiffxp commented on #13455
/sig testing

[2019-08-01 22:08] spiffxp commented on #13454
sig/testing

[2019-08-01 22:09] spiffxp commented on #13454
/sig testing

[2019-08-01 22:09] spiffxp commented on #13360
/sig testing

[2019-08-01 22:09] spiffxp commented on #13355
/area prow/plank
/sig testing

[2019-08-01 22:17] spiffxp commented on #13404
/area prow
/sig testing

[2019-08-01 22:30] CecileRobertMichon commented on #13488
Rita is correct. The `customVMTags` apimodel property lets you tag the VMs deployed by aks-engine. To tag the resource group itself I suggest creating the RG before calling aks-engine and adding tags then (for example, with az cli `az group create --tags ...`). aks-engine does not create the resource group as part of the ARM template it generates, the group creation as part of the `deploy` command

[2019-08-01 22:38] #7152 closed

[2019-08-01 22:52] spiffxp commented on #13164
2019-06-01
[code]

2019-07-01
[code]

2018-08-01
[code]

[2019-08-01 23:45] #13492 closed

[2019-08-02 08:40] oxddr commented on #13495
The new one was 0.28.1 definitely. According to [brew formula](https://formulae.brew.sh/formula/bazel) the *old* version was also 0.28.1, but I can't confirm it now. For some reason an [official documentation](https://docs.bazel.build/versions/master/install-os-x.html#step-2-install-the-bazel-homebrew-package) suggest to not use the package from brew core. It could be something related to they way

[2019-08-02 13:35] nikhita opened #13740 "lgtm plugin should use trigger.TrustedUser"
The lgtm plugin currently does a `IsCollaborator()` check to determine if a user can lgtm a PR or not. Which means that even if `only_org_members: true` is defined in the `trigger` config, outside collaborators are able to lgtm PRs.

To fix this, we should use `trigger.TrustedUser()` to determine whether a user is trusted or not.

Additionally, if `skip_collaborators: true` is configured, we can t

[2019-08-02 13:38] nikhita commented on #13740
This is mainly concerning because doing a `/lgtm` can trigger tests.

[2019-08-02 13:39] nikhita commented on #13740
related: https://github.com/kubernetes/test-infra/issues/12785

[2019-08-02 15:44] alexbrand commented on #9378
I'd like to help out with this.

Is the ask here to update the test descriptions to use `ci/latest`, `ci/k8s-beta`, `ci/k8s-stable${N}` version strings instead of hard-coded versions?

[2019-08-02 16:45] BenTheElder commented on #11847
Please re-open or file a new issue if you have further details.

[2019-08-02 16:45] #11847 closed

[2019-08-02 17:09] BenTheElder commented on #13730
triage is now broken entirely with https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-triage/1157331701362331652
[code]

[2019-08-02 17:33] clarketm commented on #13163
`pylint` was upgraded to version `1.9.4` at commit 8b44ac45f32ed7efda0e6a9bb0aefb8b670db4ed

/close

[2019-08-02 17:33] #13163 closed

[2019-08-02 18:15] clarketm commented on #13495
/shrug

If the versions are the same, then it may in fact be how `bazel` is compiled or configured. I am not convinced that this is specific to tackle in anyway but rather a general build issue with an external rule, how WORKSPACE is used, or system-independent compilation.

I suggest we close this if it cannot be reproduced and the problem is no longer being experienced.

[2019-08-02 18:41] cblecker commented on #13740
I just.. I really dislike the whole "trusted org" logic set. That the "trust" is somehow tied to not the org the actual repo is in. If that logic wasn't there, I wouldn't even have a second thought on this.

[2019-08-02 18:41] cblecker commented on #13740
ref: https://github.com/kubernetes/test-infra/blob/50224637179f0ba9d6bf257c28d21da5d319fa89/prow/plugins/trigger/trigger.go#L153-L185

[2019-08-02 18:47] alvaroaleman commented on #13740
Thats a fair point but IMHO an orthogonal issue. The issue we have here is that we have code to determine if a user is trusted and the LGTM plugin does something that requires trust (starting tests) without calling into that code but instead using a different check.

Independently of what `TrustedUser` actually does and if that always makes sense, IMHO everything that starts tests on a PullRequest

[2019-08-02 19:02] BenTheElder opened #13744 "triage is failing"
the triage periodic is now failing continuously with errors https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-triage/1157331701362331652
[code]

https://prow.k8s.io/?job=ci-test-infra-triage
xref: https://github.com/kubernetes/test-infra/issues/13730

[2019-08-02 19:28] alvaroaleman opened #13746 "needs-rebase plugin: Use *git.Client to determine mergeability"
**What would you like to be added**:

Currently, the needs-rebase plugin uses the Github API to determine if a PR is mergeable. This has the downside that it costs one token per check. It would be better if we used the `git` client in `prow/git` to check that instead. That way the only request we have to do is a `GetRef` to get an up-to-date baseRef, but that request is done by other plugins as we

[2019-08-02 21:00] #11620 closed

[2019-08-02 21:02] spiffxp commented on #13744
https://testgrid.k8s.io/sig-testing-misc#triage&width=5&graph-metrics=test-duration-minutes

this seems like a "bad data in" situation, what has been growing to trip us over this threshold?

[2019-08-02 21:04] spiffxp commented on #13744
/area triage
/sig testing
/priority critical-urgent
go.k8s.io/triage is going to be stale until this is fixed

[2019-08-02 21:41] clarketm commented on #13744
As the error suggests, bigquery doesn't allow extraction from a table to a *single* file if the table is **1GB+** and this table is just over that threshold.

We can extract to multiple files, but just need to ensure we aggregate before feeding to `summarizer.py` since it expects a single file.

[code]

![image](https://user-images.githubusercontent.com/9957358/62400080-dc44cf00-b532-11e9-81e8-9a3

[2019-08-02 23:25] cjwagner commented on #13744
I don't think this is true? https://github.com/kubernetes/test-infra/blob/6a85e1e9718d1d43aaa4b756826b36e8d22eff71/triage/summarize.py#L563

[2019-08-03 02:05] #11549 closed

[2019-08-04 12:00] cpanato commented on #3392
@spiffxp Thanks Aaron, since I'm quite new to the codebase I will ping you at slack to talk more, of course, if you agree on that :)

[2019-08-05 04:54] #10383 closed

[2019-08-05 07:00] matthyx commented on #9247
/reopen
/remove-lifecycle rotten

[2019-08-05 07:01] matthyx commented on #9247
/remove-lifecycle rotten

[2019-08-05 08:48] alvaroaleman opened #13760 "Add a readme for the needs-rebase plugin"
**What would you like to be added**:

A distinct readme for the needs-rebase plugin in https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/needs-rebase

**Why is this needed**:

To document the plugin in general, and to mention the drawbacks when enabling forwarding of `issue_comment` events to it (currently only described in prow/plugins/README.md)

[2019-08-05 13:59] oxddr opened #13764 "Cleaning-up snapshots created in test on regular basis"
Context: in scalability tests we ran Prometheus, which monitors cluster under the test. We've recently added an option to snapshot Prometheus disk, so we can use it afterwards for debugging. We haven't enable in smaller test (100 nodes), running more frequently because we're worried, that we eat up whole snapshot quota. Manual cleaning is not considered an option.
For the record those tests use Bo

[2019-08-05 14:01] oxddr commented on #13764
/kind feature

[2019-08-05 18:11] #13638 closed

[2019-08-05 18:19] #13744 closed

[2019-08-05 18:40] chases2 commented on #13455
Now that there is [documentation](https://github.com/kubernetes/test-infra/blob/master/testgrid/cmd/configurator/README.md) showing this use case for Configurator, and Istio has used it for this purpose (#13699), I'm closing this issue for now.

Further development will come as one of the general use cases for open-sourcing Testgrid (#10409), and should be tracked there or in a separate issue.

/c

[2019-08-05 18:40] #13455 closed

[2019-08-05 19:53] cjwagner commented on #13744
Green run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-triage/1158455335996887042

[2019-08-05 20:03] BenTheElder commented on #13744
🎉

On Mon, Aug 5, 2019 at 12:54 PM Cole Wagner <notifications@github.com>
wrote:

[2019-08-05 20:21] #13681 closed

[2019-08-05 23:13] cjwagner opened #13776 "ghproxy path metric log spam"
[code]

**What happened**:
Prow logs are heavily spammed by warnings from ghproxy's path metric collection:
[code]
**What you expected to happen**:
No logs or log at debug level unless this is actually concerning in which case the error message should be adjusted to indicate what failing to handle the path does and how it should be addressed.

**How to reproduce it (as minimally and precisely as p

[2019-08-06 01:13] stevekuznetsov commented on #13776
This is expected to be at warning. We want to get all of them caught. Please fix as we see them.
#13788

[2019-08-06 01:15] stevekuznetsov opened #13789 "ghproxy: metrics: some variables may contain slashes"
For variables like branch names or labels that contain slashes, the path is not simple:

[code]

We need a type of variable that allows slashes, I think. Crazy that GitHub API does this, their parsing code must be so complex.

/assign @techyx
/cc @cjwagner

[2019-08-06 01:52] cjwagner commented on #13776
Aren't warnings things that need to be addressed by Prow admins? This seems like something that only Prow developers would care about. Do we want to be spamming the logs of knative, istio, jetstack, etc?

If we do actually want admins of other Prow instances to address these in some way (perhaps opening an issue in `k/t-i`) then we should indicate so in the warning message. As is, the message is n

[2019-08-06 02:22] tehcyx commented on #13789
Oh wow, this is unexpected. I'll look at what I can hack tomorrow for this.

[2019-08-06 02:23] tehcyx commented on #13789
/assign tehcyx

[2019-08-06 13:46] AWKIF commented on #11224
/remove-lifecycle stale
Any news on this ?

[2019-08-06 16:51] krishnadurai commented on #12504
/close

[2019-08-06 16:52] #12504 closed

[2019-08-06 18:57] spiffxp commented on #13730
triage failing entirely was fixed by https://github.com/kubernetes/test-infra/pull/13753

bailing out still happening
eg: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-test-infra-triage/1158788723303780358/build-log.txt
[code]

[2019-08-06 19:00] spiffxp commented on #13760
/remove-kind feature
/kind documentation
/sig testing
/area prow

[2019-08-06 19:00] spiffxp commented on #13776
/sig testing

[2019-08-06 19:00] spiffxp commented on #13789
/sig testing
/area ghproxy

[2019-08-06 19:01] spiffxp commented on #13740
/area prow

[2019-08-06 19:39] spiffxp commented on #13569
/sig testing
/area prow

[2019-08-06 19:40] spiffxp commented on #13665
/sig testing

[2019-08-06 19:40] spiffxp commented on #13495
/close
closing per above

[2019-08-06 19:40] #13495 closed

[2019-08-06 19:46] spiffxp commented on #13239
/assign @fejta
is this still an issue?

[2019-08-06 19:46] spiffxp commented on #13746
/sig testing

[2019-08-06 19:47] spiffxp commented on #13154
/sig testing
/area prow

[2019-08-06 19:47] spiffxp commented on #13155
/sig testing

[2019-08-06 19:48] spiffxp commented on #13107
/area github-management

[2019-08-06 19:49] spiffxp commented on #6380
/milestone v1.16
/sig testing
/sig release

[2019-08-06 19:51] spiffxp commented on #13051
/sig testing

[2019-08-06 19:51] spiffxp commented on #13042
/sig testing

[2019-08-06 19:52] spiffxp commented on #13084
/sig testing

[2019-08-06 19:53] spiffxp commented on #12852
/close
per above

[2019-08-06 19:53] #12852 closed

[2019-08-06 19:54] spiffxp commented on #12804
/area testgrid
/sig testing
/assign @michelle192837
I believe this was an internal failure mode of testgrid, and think this is now addressed, but assigning to @michelle192837 to confirm

[2019-08-06 19:56] spiffxp commented on #12825
/sig testing
/area prow
/close
Addressed by #12834 thanks @pswica!

[2019-08-06 19:56] #12825 closed

[2019-08-06 19:58] spiffxp commented on #9655
/sig cluster-lifecycle

[2019-08-06 19:59] spiffxp commented on #9638
/sig testing

[2019-08-06 20:00] spiffxp commented on #9948
/area config/jobs
/sig testing
/kind feature

[2019-08-06 20:45] michelle192837 commented on #12804
This is known but not addressed yet (I could not find out why on earth it's doing this :/). I think it's actually only on external because the frontend logic handling this is slightly different, but no idea on what the cause of the bug actually is.

[2019-08-06 20:54] mirandachrist opened #13804 "deck: unnecessary oauth-url arg"
**What happened**: The `oauth-url` arg to Deck is described as the "path to deck user dashboard endpoint." We only check if it has been specified to decide whether to enable oauth, and do nothing with the path, since `/github-login` is hardcoded as the actual oauth URL.

**What you expected to happen**: There's no reason the user needs to specify the oauth URL, so this can be changed to a boolean,

[2019-08-06 21:41] stevekuznetsov commented on #13804
/area prow/deck

[2019-08-06 21:49] stevekuznetsov commented on #13776
Message got updated in #13788

[2019-08-06 21:55] stevekuznetsov commented on #13789
Eek, sorry on the name typo :|

[2019-08-07 16:49] cblecker commented on #10402
/remove-lifecycle stale

[2019-08-07 19:52] chases2 opened #13813 "Testgrid Tab Name Variables"
**What would you like to be added**:
A recently-deleted script, [`fix_testgrid_config`](https://github.com/kubernetes/test-infra/pull/13787), used to find certain common variables in tab names and make them more human-readable.

ex:
[code]

The script was removed due to not being used, but a similar feature somewhere in our configuration process may be a good idea.

**Why is this needed**:
- Sligh

[2019-08-07 19:54] chases2 commented on #13813
/area testgrid
/area config
/sig testing

[2019-08-07 19:57] chases2 commented on #13813
/priority backlog

[2019-08-07 20:11] jennybuckley opened #13814 "There is no testgrid dashboard for all alpha features"
**What would you like to be added**:
It would be useful to see a test grid dashboard which showed the state of all alpha tests running in  ci-kubernetes-e2e-gci-gce-alpha-features. Currently this job runs all alpha tests, but is only exposed in dashboards that filter it to a specific feature. (`include-filter-by-regex=\[sig-network\]` and `include-filter-by-regex=Volume%7Cstorage`)

Adding a new d

[2019-08-07 20:13] #13814 closed

[2019-08-07 20:13] jennybuckley commented on #13814
Actually never mind, this exists https://k8s-testgrid.appspot.com/google-gce#gce-cos-master-alpha-features

[2019-08-07 21:05] ncdc opened #13816 "Tide can deadlock on writing data to GCS"
**What happened**:
Pull requests that are lgtm + approved are not getting processed in at least kubernetes-sigs/cluster-api and kubernetes-sigs/cluster-api-provider-aws

**What you expected to happen**:
Tide should be working

**How to reproduce it (as minimally and precisely as possible)**:
Look at e.g.:
- https://github.com/kubernetes-sigs/cluster-api/pull/1235 (no tide status check)
- https://g

[2019-08-07 21:06] ncdc commented on #13816
cc @cjwagner (re 13802)

[2019-08-07 21:06] ncdc commented on #13816
/assign @cjwagner @spiffxp @cblecker

[2019-08-07 21:48] ncdc commented on #13816
Worked with @stevekuznetsov and @cjwagner. The main Tide `Sync()` function was stuck at https://github.com/kubernetes/test-infra/blob/3387e526eb7d72fd378eba847baa15787b08be94/prow/tide/tide.go#L373, having spent 150 minutes with:

[code]

Deleting & recreated the pod fixed this issue.

/close

[2019-08-07 22:27] stevekuznetsov commented on #13816
/reopen

[2019-08-07 22:28] stevekuznetsov commented on #13816
let's keep this one open to track the underlying issue in `tide`

/cc @fejta

[2019-08-08 00:08] cjwagner commented on #6590
Duplicate of https://github.com/kubernetes/test-infra/issues/13475
Resolved by #13561

[2019-08-08 00:08] cjwagner commented on #6590
/close

[2019-08-08 00:08] #6590 closed

[2019-08-08 02:32] stevekuznetsov commented on #10402
We only need the comment on a failure, right?

[2019-08-08 03:26] krzyzacy commented on #10402
I think @fejta also wanted a trigger, or else we can just let it make the same comment as presubmit

[2019-08-08 05:25] clarketm opened #13820 "tackle and/or mkbuild-cluster should issue client certificate for cluster authorization."
**What happened**:
Unable to create `cluster.yaml` using `mkbuild-cluster` for mounting `build-cluster` secret and authorizing a multi-cluster prow instance.

**What you expected to happen**:
Successful `cluster.yaml` creation using `mkbuild-cluster` for mounting `build-cluster` secret and authorizing a multi-cluster prow instance.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-08-08 05:25] clarketm commented on #13820
/assign

[2019-08-08 05:29] clarketm commented on #13820
/area/prow/mkbuild-cluster

[2019-08-08 05:30] clarketm commented on #13820
/area prow/mkbuild-cluster

[2019-08-08 15:13] stevekuznetsov opened #13822 "ghproxy: memory and CPU footprint much larger than before"
![Screenshot from 2019-08-08 08-12-08](https://user-images.githubusercontent.com/7328370/62714954-5c948580-b9b4-11e9-9381-b2ab4806582a.png)

This is likely the metrics work. We need to figure out why. @tehcyx
/area ghproxy

[2019-08-08 15:18] stevekuznetsov commented on #13822
![Screenshot from 2019-08-08 08-18-11](https://user-images.githubusercontent.com/7328370/62715300-13910100-b9b5-11e9-822f-06adf1f9231f.png)

[2019-08-08 15:20] stevekuznetsov commented on #13822
There were a [number of bumps](https://github.com/openshift/release/commits/master/cluster/ci/config/prow/openshift/ghproxy.yaml) in that time frame, but the first one went from `v20190731-3cbee4172` to `v20190805-540aae9df`, which coincides with the metrics being added.

[2019-08-08 15:22] chaodaiG opened #13823 "Move knative/test-infra/tools/prow-auto-bumper over"
**What would you like to be added**:
https://github.com/knative/test-infra/tree/master/tools/prow-auto-bumper

**Why is this needed**:
This prow auto bumper library can potentially be consumed by other prow instances that want auto bumping to stable Prow versions. Refactor this tool and push it to kubernetes/test-infra so that it can be easily consumed by others

[2019-08-08 15:22] stevekuznetsov commented on #13822
We're not serving `pprof` yet from `ghproxy`, let me fix that ..

[2019-08-08 15:35] stevekuznetsov commented on #13822
Added `pprof` in #13824

[2019-08-08 16:53] hpandeycodeit commented on #13706
/assign

[2019-08-08 17:19] detiber commented on #10693
I believe we can call this issue complete now.
/close

[2019-08-08 17:19] #10693 closed

[2019-08-08 18:16] spiffxp commented on #13816
/remove-priority critical-urgent
/priority important-longterm
/area prow/tide
Since the immediate pain point has been addressed, I'd like for us to bump this down until we understand more about how often this can occur

[2019-08-08 18:17] spiffxp commented on #13820
/sig testing

[2019-08-08 18:17] spiffxp commented on #13822
/sig testing

[2019-08-08 18:17] spiffxp commented on #13823
/sig testing
/area prow
FYI @cjwagner

[2019-08-08 18:25] tpepper opened #13826 "ability to subscribe to test grid board summary's failures"
**What would you like to be added**:
As a community member doing triage I regularly look at testgrid summary boards and visually scan for new failures.  I would like an email regarding state changes.

**Why is this needed**:
1) notifications are good
2) It is possible to get notifications for board tabs and for individual tests and this is commonly done.  But for example as a member of the patch r

[2019-08-08 18:33] chases2 commented on #13826
/area testgrid
/sig testing

[2019-08-08 18:48] tpepper opened #13827 "add README.md for experiment/"
**What should be cleaned up or changed**:
There is a lot in the experiment/ subdirectory and no README.md.  What's in this directory?  How/when do I propose/test potential changes on this code?

**Provide any links for context**:
If I understand https://github.com/kubernetes/test-infra/issues/2894#issuecomment-333265659 correctly experiment/test_config.yaml is where I'd attempt to modify config/jo

[2019-08-08 18:53] stevekuznetsov commented on #13822
![Screenshot from 2019-08-08 11-52-10](https://user-images.githubusercontent.com/7328370/62729579-126ecc80-b9d3-11e9-8b5a-f85e8a044a01.png)

This looks to have been fixed by #13825
/close

[2019-08-08 18:53] #13822 closed

[2019-08-08 19:01] tpepper commented on #13827
/area experiment

[2019-08-08 19:38] stevekuznetsov opened #13828 "hook: single event demuxed to a plugin twice?"
We got an incoming payload:

[code]

Then, the `buzgilla` plugin started handling it. Twice.

[code]

[code]

However, the first was handled by Pod `hook-7b6fd6d954-szjlk`, the second, by `hook-7b6fd6d954-g64n9`. The webhook seems to have been delivered twice, to two different `hook` Pods?

![Screenshot from 2019-08-08 12-38-06](https://user-images.githubusercontent.com/7328370/62732530-6a103680-b

[2019-08-08 20:44] spiffxp commented on #8861
/milestone v1.16
Many of the `cos` jobs that come from generate_tests may be able to be removed, although there is some question from @tpepper over whether those are legitimate failures

https://github.com/kubernetes/test-infra/issues/13353#issuecomment-509379536

[2019-08-08 21:13] fejta commented on #13776
Still happening

[code]

[2019-08-08 21:14] fejta commented on #13776
Can we kill these annoying messages?

[2019-08-08 21:17] fejta opened #13830 "hook spamming log with non-fatal not our ref messages"
a) if this is a fatal error it probably shouldn't be -- we should retry
b) If it isn't a fatal error, we should downgrade this to info until the retry fails so we aren't spamming logs

/area prow/hook

[code]

[2019-08-08 21:17] fejta commented on #12066
/remove-lifecycle rotten

Can we fix this? This is the normal state of affairs and therefore should not be considered a warning:

[code]

[2019-08-08 21:18] fejta commented on #12066
/area prow/deck

[2019-08-08 21:20] fejta commented on #13502
/assign @Katharine @mirandachrist

Can we start setting this value explicitly so we stop having this error?

[code]

[2019-08-08 21:21] fejta opened #13831 "build crd errors on startup"
[code]

Looks like we need to deploy the build crd
/assign

[2019-08-08 21:21] fejta commented on #13831
/area prow/build

[2019-08-08 21:21] fejta commented on #13831
/area prow/knative-build

[2019-08-08 21:22] fejta opened #13832 "pipeline crd errors on startup"
[code]

/assign @cjwagner

Suspect the pipeline CRD is not deployed somewhere

[2019-08-08 21:23] fejta opened #13833 "Crier should log non-final errors as info"
[code]

/assign @krzyzacy
/area prow/crier

Since this is going to retry, can we make it an info instead of error?

[2019-08-08 21:25] tpepper commented on #8861
Following up, if these can be green, they provide useful signal.  Looking at the testgrid `cos` set of k8sbeta aka 1.15 things in particular in the hope that we might make things more green ahead of merging https://github.com/kubernetes/kubernetes/pull/80134 I see:

- cos-cos1-k8sbeta  (this is 1.15)
  - gce-cos1-k8sbeta-default
    - storage issue likely fixed by cherry pick of https://github.com

[2019-08-08 21:33] krzyzacy commented on #13833
ack

[2019-08-08 22:03] fejta opened #13836 "branchprotector should only warn about unprotected branches once"
It does this for every repo, should only do once (maybe listing every repo effected)

[code]

[2019-08-08 22:09] #13833 closed

[2019-08-08 22:33] stevekuznetsov commented on #13836
Totally. You also see this _every_ time that `tide` reaches out to the config to load the protection settings -.-

[2019-08-09 02:25] #11729 closed

[2019-08-09 09:18] oxddr commented on #13764
@krzyzacy do you have an idea whom to route this question to?

[2019-08-09 17:21] krzyzacy commented on #13764
boskos uses https://github.com/kubernetes/test-infra/blob/master/boskos/janitor/gcp_janitor.py to clean up gcp resources - maybe you can see if you can add your clean up logic into the script?

[2019-08-09 18:57] spiffxp commented on #13827
/remove-kind cleanup
/kind documentation
FWIW for the generated jobs it may be more appropriate to add some comments here https://github.com/kubernetes/test-infra/tree/master/config/jobs#generated-jobs

[2019-08-09 18:58] spiffxp commented on #13827
/sig release
since what motivated this ask is code related to job generation that lands on release dashboards
/sig testing

[2019-08-09 18:59] spiffxp commented on #13828
/sig testing

[2019-08-09 18:59] spiffxp commented on #13830
/sig testing

[2019-08-09 18:59] spiffxp commented on #13831
/sig testing

[2019-08-09 18:59] spiffxp commented on #13832
/sig testing

[2019-08-09 18:59] spiffxp commented on #13836
/sig testing

[2019-08-09 19:16] hongkailiu commented on #13374
@spiffxp Yes, it is as far as i know.
The V4 of github API is used in ghproxy.

We are working on this. Hopefully, get something to review next week.

[2019-08-09 20:13] maria-ignacio opened #13848 "Gerrit reporter: provide way for custom gerrit message"
Here's the function that generates the comment text:
https://github.com/kubernetes/test-infra/blob/master/prow/gerrit/reporter/reporter.go#L258

It would be helpful if you could generate a custom message that can enable you to provide more information other than just the success state and report url.

For example, I want to show users generated coverage test results which would be in the `artifact

[2019-08-09 20:22] krzyzacy commented on #13848
cc @amwat @bjh83

move discussion here - I think we can implement a coverage reporter, and maybe other projects can also be benefit from this.

cc @stevekuznetsov @cjwagner if this sounds reasonable to you

[2019-08-09 21:44] #11731 closed

[2019-08-10 04:51] #11746 closed

[2019-08-10 21:07] #11737 closed

[2019-08-11 00:10] #11753 closed

[2019-08-12 00:34] #11679 closed

[2019-08-12 05:31] #13716 closed

[2019-08-12 05:33] stevekuznetsov commented on #13374
It should have already been done, the logic to do it if in ghmetrics.go - but I wonder if we're routing v4 traffic through ghproxy.

[2019-08-12 05:34] stevekuznetsov commented on #13828
I'm going to close this as it was likely a double delivery

/close

[2019-08-12 05:34] #13828 closed

[2019-08-12 10:53] nikhita commented on #11402
Happy to take this up, once https://github.com/kubernetes/test-infra/pull/13683 is merged since it does the same for @k8s-triage-robot.

/assign

[2019-08-12 13:58] stevekuznetsov commented on #11402
We're using one ghproxy for two robots, no issue

[2019-08-12 14:41] raghuP9 opened #13856 "Prow jobs should not run unconditionally if the PR is labelled as WIP"
**What would you like to be added**:
1. Unconditional prowjobs should not be triggered if the PR is labelled as `do-not-merge/work-in-progress`. But allow `/test test_name` command to trigger it.
2. As soon as `do-not-merge/work-in-progress` label is removed, trigger unconditional prowjobs on the latest untested commit.

This feature can be optional
[code]

**Why is this needed**:
1. This will sig

[2019-08-12 17:40] stevekuznetsov commented on #13856
What happens if the label is present, a job is triggered once with `/test <name>` and a new commit is pushed? What should we do when someone posts `/retest`?

/cc @Katharine @cjwagner @fejta @alvaroaleman

[2019-08-13 03:00] #9555 closed

[2019-08-13 04:01] #7899 closed

[2019-08-13 04:01] #5708 closed

[2019-08-13 05:22] clarketm commented on #5216
@stevekuznetsov
If this is still relevant and no one else is actively working on it then I can pick it up. It would appear that a large chunk of the implementation is already complete or in PR.

[2019-08-13 05:36] clarketm commented on #10100
@chaodaiG - have you begun with the implementation? If not I can pick this up.

[2019-08-13 05:36] clarketm commented on #10100
/assign

[2019-08-13 05:37] clarketm commented on #5216
/assign

[2019-08-13 05:37] chaodaiG commented on #10100
@clarketm , it's not a top priority for us anymore, feel free pick it up

[2019-08-13 07:52] raghuP9 commented on #13856
Any command typed by user should be treated as it is treated generally. However, job triggering on push events needs to be validated against the labels as mentioned above in the description.

[2019-08-13 08:57] alvaroaleman commented on #13856
I like the idea althought IMHO it should definitely be opt-in as it violates the expectations from what existing Prow users saw happening so far.

My initial assumption would have been that when this ia activated:
* No automatic tests at all on push
* `/test $foo` triggers the respective test
* `/retest` re-creates all failed mandatory jobs that already have a run on the current HEAD commit

[2019-08-13 17:02] hpandeycodeit opened #13873 "ERROR: infinite symlink expansion detected"
**What happened**:
Steps to reproduce:

Run `./hack/update-gofmt.sh`

Above scripts create following symlinks:

[code]

and then run `./hack/verify-gofmt.sh` you will see the error `infinite symlink expansion detected`.
If I run `bazel build //prow/cmd/plank`  after the above command, it will fail as well with the same error:

[code]

**What you expected to happen**:

It should not throw this erro

[2019-08-13 17:35] stevekuznetsov commented on #13873
Are you getting this on a clean clone of `master`?

/cc @fejta @BenTheElder @Katharine

[2019-08-13 17:40] yfei1 opened #13874 "Documentations for using tekton with Prow"
I'm working on migrating a CI pipeline from Google Cloud Build to Prow, yet couldn't figure out a way to let the Prow native Kubernetes agent runs sequentially. It seems like Tekton agent provides the pipeline feature but I couldn't find related documentations for setting up Tekton with Prow.

Issue in Tekton: https://github.com/tektoncd/pipeline/issues/1187

[2019-08-13 17:48] hpandeycodeit commented on #13873
yes

[2019-08-13 17:50] BenTheElder commented on #13873
Bazel Version?

[2019-08-13 18:05] hpandeycodeit commented on #13873
`bazel 0.28.1`

[2019-08-13 18:37] stevekuznetsov commented on #13874
/cc @ccojocar @JoelSpeed @cjwagner

[2019-08-13 19:09] BenTheElder commented on #13873
I cannot reproduce this on a clean clone on bazel 0.28.1. I've run both `./hack/verify-gofmt.sh` and `bazel build //prow/cmd/plank` alternately a few times.

[2019-08-13 22:45] spiffxp opened #13879 "Implement kubernetes job health dashboard"
Implement a dashboard that displays job health metrics related to release-blocking job criteria (ref: https://github.com/kubernetes/sig-release/issues/347) such that release-blocking status can be measured and enforced by humans

To quote https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md#release-blocking-criteria

/assign
/area velodrome
/area metrics
/milestone v1.16

[2019-08-13 22:57] Ark-kun commented on #10288
/reopen
@stevekuznetsov Was this issue fixed?

[2019-08-13 23:18] spiffxp commented on #13879
Initial stab in https://github.com/kubernetes/test-infra/pull/13880

http://velodrome.k8s.io/dashboard/db/job-health-release-blocking?orgId=1
- ✅  _"It finishes a run in 120 minutes or less"_ - threshold on daily 99th percentile job duration is set to 120 min
- ✅  _"It runs at least every 3 hours"_ - threshold on avg interval between job starts is set to 3 hours
- 🔶 _"Is capable of passing 3 times

[2019-08-13 23:41] stevekuznetsov commented on #13879
So I think we should wait on an implementation here unless we want to commit that hard-coded thing. We should also not put it into velodrome of all places ...

The appropriate approach here would be to expose the labels and annotations on a ProwJob via a synthetic metric. Please see `kube_pod_labels` for an example. This allows for joins and other more intricate selectors in PromQL and will automa

[2019-08-13 23:41] stevekuznetsov commented on #13879
Oh, yikes. It's SQL querying BigQuery?

[2019-08-14 00:41] justaugustus opened #13883 "Several gke/gce/gci jobs are misconfigured for sig-release-x.y-all dashboards"
**What should be cleaned up or changed**:
While going through the motions of [creating dashboards/generating release jobs for the `release-1.16`](https://github.com/kubernetes/test-infra/pull/13882), we encountered multiple failures/discrepancies in the way the `config/jobs/kubernetes/sig-cloud-provider/gcp/*` jobs are configured. Specifically, the ones that target [release pointers](https://githu

[2019-08-14 00:41] justaugustus commented on #13883
/help

[2019-08-14 01:08] spiffxp commented on #13879
@stevekuznetsov I think you're looking for something that is native to prow and works across all prow instances.  I'm focused solely on kubernetes' CI signal, and leveraging the infra we have in place.  I think it would be great for us to iterate toward something that works for all prows and doesn't rely on N external data sources, but I think it's useful to land this iteration first.

[2019-08-14 03:59] nikhita opened #13886 "pull-kubernetes-{dependencies,verify} shouldn't be manually forked"
Ref: https://github.com/kubernetes/test-infra/pull/13723#issuecomment-517158167

See https://github.com/kubernetes/test-infra/pull/13672 and https://github.com/kubernetes/test-infra/pull/13885 where the jobs are being added manually per-release. Instead, this should be automatically handled by config-forker and shouldn't need manual update.

/cc @Katharine

[2019-08-14 04:06] justaugustus commented on #13886
/area release-eng
/help
/priority important-longterm
/milestone v1.16

[2019-08-14 04:27] cblecker commented on #13886
Why didn't `fork-per-release: "true"` work?

[2019-08-14 04:29] cblecker commented on #13886
/remove-help
/assign @Katharine

Would you be able to help us shed light on why the config forker didn't work? I thought I added the right annotation in #13672

[2019-08-14 04:37] justaugustus commented on #13886
Copying this over from https://github.com/kubernetes/test-infra/pull/13885#pullrequestreview-274663325:

- Do we need these jobs for all active release branches i.e., do we need to add release-{1.14,1.13} versions?
- Should the job names be different per branch e.g., pull-kubernetes-dependencies-[release-{1.16,1.15,1.14,1.13|beta,stable{1,2,3}]?
- What dashboards do/should these jobs appear on?

[2019-08-14 04:53] nikhita commented on #13886
We need it for all active releases, and we have them for 1.14 and 1.13 today:

https://github.com/kubernetes/test-infra/blob/89e6e9743b74a646ca883c21a127773e8eb35e7d/config/jobs/kubernetes/sig-testing/dependencies.yaml#L88

and

https://github.com/kubernetes/test-infra/blob/89e6e9743b74a646ca883c21a127773e8eb35e7d/config/jobs/kubernetes/sig-testing/verify.yaml#L77-L81 and for 1.13, etc below that

[2019-08-14 06:20] Multiply commented on #11592
/remove-lifecycle stale

[2019-08-14 08:24] justaugustus commented on #13886
Okay, so it sounds like:
- We need to make sure the SIG Testing release branch presubmits target all active release branches e.g., https://github.com/kubernetes/test-infra/blob/89e6e9743b74a646ca883c21a127773e8eb35e7d/config/jobs/kubernetes/sig-testing/dependencies.yaml#L88-L96 targets some stale/dead release branches
- Crucial release branch presubmits are captured on a SIG Release dashboard (may

[2019-08-14 08:26] justaugustus commented on #13886
/assign
(to keep track of the SIG Release bits)

cc: @kubernetes/release-engineering

[2019-08-14 13:04] JoelSpeed commented on #13874
Our experience is that there isn't really documentation at the moment, that said we did manage to get a working pipeline.

You'll need to:
- [Deploy a Pipeline controller](https://github.com/pusher/testing/blob/master/prow/pipeline/deployment.yaml)
- Define and deploy your [Pipelines and Tasks](https://github.com/pusher/testing/tree/master/tekton/pipelines/testing)
- Define a Pre/Postsubmit that u

[2019-08-14 14:47] stevekuznetsov commented on #5216
Yes, it's still relevant. There's no great reason to use the intermediate representation for the front-end, it can just operate on the actual ProwJobs.

[2019-08-14 14:47] stevekuznetsov commented on #5216
(Coalescing the two reduces mental overhead for devs and reviewers)

[2019-08-14 16:45] hpandeycodeit commented on #13873
I just figured out the exact steps that are causing this. Edited the Issue as well but here is the case.

1. Run `./hack/update-gofmt.sh`
Above scripts create following symlinks:

[code]

and then run `./hack/verify-gofmt.sh` you will see the error `infinite symlink expansion detected`.

[2019-08-14 17:31] spiffxp opened #13895 "metrics: use less cryptic flags for bq"
**What should be cleaned up or changed**:

In metrics/bigquery.py, instead of `bq ... -n1234` use `bq ... --max_rows 1234`

**Provide any links for context**:

ref: https://github.com/kubernetes/test-infra/pull/13880#discussion_r313662479

/good-first-issue
/help
/sig testing
/area metrics
/milestone v1.16
/priority important-soon

[2019-08-14 19:55] fejta opened #13902 "Plank sync errors - operation failed because object was modified"
/area plank

We seem to get a few of these per hour. Can we either ensure it doesn't happen (maybe this is because crier is doing the reporting and updating status?) or if it is expected make it log at a lower level?

/assign @cjwagner @stevekuznetsov

[code]

[2019-08-14 19:59] fejta opened #13903 "crier failed to report job after pod pending timeout, no commit found"
/area prow/crier
/area prow
/assign @krzyzacy

There are a bunch of these messages on crier startup. Is this an expected state of affairs and if so can we make the message less noisy?

[code]

[2019-08-14 19:59] fejta opened #13904 "Deck needs to set the cookie-file-secret"
/assign @mirandachrist @Katharine

[code]

[2019-08-14 20:00] krzyzacy commented on #13903
/assign @cjwagner

I remember we've talked about this - is it a github thing?

[2019-08-14 20:06] spiffxp commented on #13432
/priority important-soon
I am concerned this is going to tip over at some point

<img width="921" alt="Screen Shot 2019-08-14 at 1 05 16 PM" src="https://user-images.githubusercontent.com/49258/63052449-35e2bd00-be94-11e9-976b-f98dd3f8930e.png">

[2019-08-14 20:30] stevekuznetsov commented on #13902
Yeah this is directly due to `sinker`. The record should be re-read before doing an update (or you should use a JSON patch) and`ProwJob` cache in `plank` needs to be updated. @krzyzacy I thought you implemented the JSON patch at some point?

[2019-08-14 20:30] stevekuznetsov commented on #13902
/assign @krzyzacy

[2019-08-14 20:32] krzyzacy commented on #13902
@stevekuznetsov https://github.com/kubernetes/test-infra/pull/13633 🙃we need to get rid of our k8s client

[2019-08-14 20:33] krzyzacy commented on #13902
/help

I probably won't have cycles to rewrite plank

[2019-08-14 20:36] krzyzacy commented on #13902
I'd say, dup https://github.com/kubernetes/test-infra/issues/13355

[2019-08-14 20:36] #13902 closed

[2019-08-14 20:46] krzyzacy commented on #13355
https://kubernetes.slack.com/archives/C7J9RP96G/p1564165880082100

I think we maybe can patch up our kube client in short term

[2019-08-14 22:01] cblecker commented on #13886
pull-kubernetes-godeps and pull-kubernetes-dependencies provide equivalent coverage, but one is for godep based branches, and the other is for go mod based branches. Every active branch should be covered by one or the other.

[2019-08-14 22:18] spiffxp commented on #13904
/milestone v1.16

[2019-08-14 22:19] spiffxp commented on #13903
/milestone v1.16

[2019-08-14 22:23] #12845 closed

[2019-08-14 22:23] spiffxp commented on #13886
/sig release

[2019-08-14 22:50] spiffxp commented on #13129
Most especially kubekins, since that is used by many of our jobs, and I'm having to reverse engineer what should be in there and why, eg: https://github.com/kubernetes/test-infra/pull/13870#discussion_r313601983

[2019-08-14 23:01] BenTheElder commented on #13873
Thanks, this replicates on my machine.

[2019-08-14 23:07] BenTheElder commented on #13873
`rm bazel-test-infra` after `update-gofmt.sh` removes the infinite symlink, but i'm not sure why this is populated in the first place.

running very-gofmt repeatedly works fine after this. running update-gofmt again adds this symlink and breaks everything.

[2019-08-14 23:27] BenTheElder commented on #13873
https://github.com/kubernetes/test-infra/pull/13910 should fix it.

[2019-08-14 23:27] Katharine commented on #13886
Excellent question - I don't see why it wouldn't. I actually tried running it locally, and it _does_ fork that job.

Are we sure the job configuration used in forking was up to date?

[2019-08-14 23:32] spiffxp commented on #13879
trying to understand the discrepancy between the failure rate showing the alpha job as 100% failing, and the continuous failures showing it as not failing (which testgrid agrees with)
![Screen Shot 2019-08-14 at 4 30 45 PM](https://user-images.githubusercontent.com/49258/63063313-faa2b700-beb0-11e9-9592-856fe6b32d54.png)

[2019-08-14 23:40] justaugustus commented on #13886
@Katharine -- when I initially ran it, it did create the job, but they seemed to conflict with other jobs, so I stripped them.

If you run locally and then run the configurator test, it should error out.

[2019-08-14 23:45] Katharine commented on #13886
Ahh, interesting. I'm not sure why it does that, either. Hmmmmm...

[2019-08-14 23:55] Katharine commented on #13886
Got it - the config forker is working fine.

The testgrid configurator has a behaviour in which it complains if it tries to create a duplicate testgroup based on a prowjob annotation that explicitly requests a prowjob be created.

 Because all our presubmit branch jobs have the same names and so end up in the same place in GCS (despite being different jobs testing different things), they count as

[2019-08-15 00:12] Katharine commented on #13886
I've made the above change in #13911, which I think should cause the existing fork annotation to function as expected.

We may also want to go back and drop testgrid annotations in presubmits on existing forked jobs, since they are definitely doing nothing useful and may be doing something surprising.

[2019-08-15 01:26] spiffxp commented on #8861
I confirmed the cosN jobs aren't really relevant to the community, and there are equivalents running inside of google, so think we should remove them https://github.com/kubernetes/test-infra/pull/13913

[2019-08-15 01:46] #11322 closed

[2019-08-15 01:51] spiffxp commented on #13879
the discrepancy is now gone since I triggered a re-run of the metrics job, but there still seems to be some latency in the data that I don't fully grok right now, between:
- only rolling up jobs that have an end date
- jobs being in UTC time
- the date that's being stored in influx
- the way grafana is choosing to render that date

[2019-08-15 04:48] BenTheElder commented on #13873
Can you try now that we've merged #13910? You may need to `rm bazel-test-infra` first.

[2019-08-15 07:45] ccojocar commented on #13874
I wanted to write some docs for installation since quite a while but I haven't had much time. Thanks @JoelSpeed for providing some details above. The install process is a bit tedious at the moment.

[2019-08-15 07:46] ccojocar commented on #13274
dup of https://github.com/kubernetes/test-infra/issues/13874

[2019-08-15 07:47] ccojocar commented on #13274
/close

[2019-08-15 07:47] #13274 closed

[2019-08-15 10:46] danwinship opened #13919 "prow: bugzilla dependency reporting is confusing"
I linked a PR to a bug, and then prow complained (1) that the bug was in a state that it wasn't actually in, and (2) that it should have been in a state that it clearly shouldn't have been:

Eventually I realized that the two "Bugzilla bug" links referred to different bugs, and that when it said "dependent Bugzilla bug", it meant "the bugzilla bug that the other previously-mentioned bugzilla bug d

[2019-08-15 14:26] spiffxp commented on #13903
/sig testing

[2019-08-15 14:26] spiffxp commented on #13904
/sig testing

[2019-08-15 14:32] bobcatfish commented on #10827
@stevekuznetsov did my explanation make sense? I think this is a legit issue folks can run into, tho not terribly urgent.

[2019-08-15 17:30] aegershman opened #13922 "Prow deployment experience feedback"
**What would you like to be added**:

- Deployment strategy that isn't `gcloud` specific
- Deployment strategy that doesn't use `bazel` or `tackle`
- Bazel/tackle should prompt interactively about the things it's going to do (creating rolebindings, etc.)
- Consider a different deployment/customization strategy altogether such that `prow` can be more easily consumed by lowly github enterprise peasa

[2019-08-15 18:26] stevekuznetsov commented on #13919
@danwinship will update. You can appreciate how "bug", "dependent bug" and "external bug" are not the clearest ... :man_facepalming:

[2019-08-15 19:35] bobcatfish commented on #13874
Issue in the tekton backlog possibly relevant to your interests @JoelSpeed : https://github.com/tektoncd/pipeline/issues/1155 ( + @sbwsg )

[2019-08-15 20:50] spiffxp commented on #7960
FWIW, we're moving on open sourcing. It'll take a bit before we're in a position to accept contributions and see those land in testgrid.k8s.io, but we're getting there https://github.com/kubernetes/test-infra/issues/10409#issuecomment-515220552

[2019-08-15 20:51] spiffxp commented on #7960
/remove-help
I'm going to remove help since this is blocked at the moment, we should add back when it's feasible for a new contributor to accomplish

[2019-08-15 21:45] fejta opened #13927 "Excessively long cookie"
[code]

/area prow
/area prow/deck

/assign @mirandachrist @Katharine

Is this something we can/want to fix?

[2019-08-15 22:04] krzyzacy commented on #13355
[code]

plank should be happy now

[2019-08-15 22:05] krzyzacy commented on #13076
needs better design & overall thoughts, retreat now

[2019-08-15 22:05] #13076 closed

[2019-08-15 22:07] krzyzacy commented on #3338
/unassign

I'd say this not going to happen in the near future

[2019-08-15 22:23] mirandachrist commented on #13321
Desired features I won't have time to implement if anyone wants to pick them up:
- Add a rerun button on Spyglass
- Add an option to re-resolve refs when rerunning a job

[2019-08-16 00:49] aegershman commented on #13922
I've been struggling with this, so can someone just answer me straightforward:

Can I or can I not use prow, specifically tide, on github enterprise? Is it even possible? Or am I wasting my time trying to figure out what I've misconfigured?

Thanks 👍

[2019-08-16 03:55] cofyc opened #13937 "Able to run non-amd64 docker image (for cross-build) in prow environment"
**What would you like to be added**:

- do not cleanup bimft_misc
- or dedicated nodes for these jobs?

**Why is this needed**:

`image/bootstrap/runner.sh` will cleanup `binfmt_misc` at the end, so running jobs [which run non-amd64 docker image will fail](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_sig-storage-local-static-provisioner/135/pull-sig-storage-local-st

[2019-08-16 08:58] alvaroaleman opened #13938 "Pony plugin: Cope with multiple requests in one comment"
**What would you like to be added**:

Currently the pony plugin will only search for the first pony request it got in a comment, i.E. the comment:

[code]

Will result in a "Couldn't find a pony for that query" and no `boo` pony which is disappointing. Instead, the pony plugin should look for both a `template` and a `boo` pony and post both of them or an error for each.

**Why is this needed**:

[2019-08-16 16:33] stevekuznetsov commented on #13903
It's possible we will try to report to a commit that's no longer present due to a force-push or rebase. We should detect that case and stop trying to report, it shouldn't be an error.

[2019-08-16 19:29] hongkailiu commented on #13374
New panels are alive now.
https://monitoring.prow.k8s.io/d/d72fe8d0400b2912e319b1e95d0ab1b3/github-cache?orgId=1&refresh=1m

In order to see v4 samples in the dashboard, We need to route the v4 traffic to ghproxy.

[2019-08-16 21:51] fejta commented on #13938
/help
/good-first-issue

[2019-08-16 21:52] fejta commented on #13938
This requires updating https://github.com/kubernetes/test-infra/blob/4c871f02efffa9a6cd424644c0b0d1e8abe29907/prow/plugins/pony/pony.go#L128 and surrounding code to match N ponies instead of just 1. Probably should involve a ceiling on N.

Talk to @Katharine for any help

[2019-08-16 21:53] bobcatfish commented on #13874
Thanks for writing this up @JoelSpeed !! I was able to get Prow + Pipeline working thanks to this write up :D

Quick note: it looks like the `crier` component is also required now when the `agent` type is something other than `kubernetes` ( thanks @krzyzacy + @BenTheElder !! ❤️ )

[2019-08-16 22:03] bobcatfish opened #13948 "How do we want to handle Tekton versioning?"
**What would you like to be added**:

I'd like to figure out a process around keeping versions of Prow + Tekton Pipelines in sync. Some ideas:

- Update Prow's version of Tekton Pipelines with each release (happy to help with that!)
- Change Prow's usage of Tekton Pipelines so it is less tied to the version (e.g. Prow could use just raw json data so it doesn't need to know about the structure of t

[2019-08-16 22:09] fejta commented on #13922
Possible? Certainly. And for the most part it should work.

But most likely not out of the box. I believe there are some outstanding issues around pod-utilities needing help to check out repositories. I'm not sure the status on this work.

None of the primary maintainers of prow depend on GHE. We would like it to work, but this is not something any of us need.

If you figure it out please consider

[2019-08-16 22:40] BenTheElder commented on #13873
please re-open if you see this again

[2019-08-16 22:40] #13873 closed

[2019-08-16 23:22] mirandachrist opened #13951 "Deck plugin config validation fails"
In order to reuse /test logic for presubmit reruns from the frontend (see #13321), deck needs access to the plugin config. Currently, it throws a fatal error on validation because we don't import all the plugins. We either need to avoid doing this specific validation in deck, import the plugins, or find some other solution.

[2019-08-16 23:22] mirandachrist commented on #13951
/assign @fejta

[2019-08-17 00:37] chases2 commented on #13690
After proofreading affected documentation, I plan to close this issue

[2019-08-17 01:54] #13665 closed

[2019-08-18 11:41] alvaroaleman commented on #12936
This got fixed by https://github.com/kubernetes/test-infra/pull/13444.

Please keep in mind thought that only jobs read from the kubeapi get hidde, the whole setting is completely ignored when reading data from GCS: https://github.com/kubernetes/test-infra/issues/13528

[2019-08-18 11:41] #12936 closed

[2019-08-19 08:42] vdemeester commented on #13948
@bobcatfish see https://github.com/kubernetes/test-infra/pull/13719 (should bump to 0.6.0 :pray: )

[2019-08-19 13:07] liggitt opened #13967 "agnhost 2.5 build/push needed"
**What would you like to be added**:

A build/push of version 2.5 of the agnhost image (https://github.com/kubernetes/kubernetes/tree/master/test/images/agnhost#agnhost) is needed to include the changes from https://github.com/kubernetes/kubernetes/pull/81271 and https://github.com/kubernetes/kubernetes/pull/81314

**Why is this needed**:

e2e tests cannot use the new capabilities added to the agn

[2019-08-19 13:10] liggitt opened #13968 "agnhost build/release process documentation needed"
**What should be cleaned up or changed**:

It is unclear how to make/test/deploy changes to the agnhost image, which is used for all e2e/conformance testing.

Can we add a section to the [readme](https://github.com/kubernetes/kubernetes/tree/master/test/images/agnhost#agnhost) telling devs:
1) how to make changes to the image
2) how to bump the version
3) host to test their changes to the image
4)

[2019-08-19 14:21] danwinship commented on #13919
fixed by #13923

[2019-08-19 14:21] #13919 closed

[2019-08-19 16:21] #13922 closed

[2019-08-19 17:21] #13690 closed

[2019-08-19 17:31] jpbetz commented on #13967
cc @bclau @spiffxp

[2019-08-19 17:49] stevekuznetsov commented on #13951
Yeah in general I think we need to snip dependencies so that importing the config loading or types packages for our (plugin or otherwise) config does not pull in the entire world.

[2019-08-19 17:54] clarketm opened #13972 "Redesign Prow auth strategy"
**What would you like to be added**:
I would like an audit of the current [x509 client certificate](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#x509-client-certs)  authentication strategy used to authenticate/authorize Prow deployments. Additionally, I would like to encourage a proposal for improvements/alternatives to maximize the security of multi-cluster Prow instanc

[2019-08-19 17:54] clarketm commented on #13972
/area prow

[2019-08-19 17:55] stevekuznetsov commented on #13972
/cc @fej

[2019-08-19 17:56] stevekuznetsov commented on #13972
As soon as we clean up our messy kubernetes client situation and all clients know how to read a `kubeconfig` we should 100% always use scoped service account tokens for multi-cluster deployments.

[2019-08-19 18:15] BenTheElder commented on #13968
technical process:
`make -C test/images push WHAT=agnhost`

https://github.com/kubernetes/kubernetes/blob/master/test/images/Makefile

human process:
lol. this is another thing where there is none. A googler with access (= on GKE team) needs to be prodded. that should include you and @jpbetz

This should be moved to https://github.com/kubernetes-sigs/k8s-container-image-promoter via wg-k8s-infra.

[2019-08-19 18:15] BenTheElder commented on #13967
https://github.com/kubernetes/test-infra/issues/13968#issuecomment-522694182

[2019-08-19 18:17] clarketm commented on #13972
/cc @alvaroaleman @cjwagner @fejta @stevekuznetsov
If service account tokens is the recommended approach, it would be great to devise a checklist of what is needed to get there.

[2019-08-19 18:19] liggitt commented on #13968
does that do all the cross-build stuff necessary?

[2019-08-19 18:22] BenTheElder commented on #13968
yes, it should pick up
https://github.com/kubernetes/kubernetes/blob/master/test/images/agnhost/BASEIMAGE
https://github.com/kubernetes/kubernetes/blob/master/test/images/image-util.sh#L41-L44

On Mon, Aug 19, 2019 at 11:20 AM Jordan Liggitt <notifications@github.com>
wrote:

[2019-08-19 18:23] liggitt commented on #13968
ah, the [`ARCH ?= amd64`](https://github.com/kubernetes/kubernetes/blob/master/test/images/agnhost/Makefile#L16) line in the makefile threw me off

[2019-08-19 18:48] BenTheElder commented on #13968
that tooling is pretty confusing, as per usual...

IMHO test/images is what needs the README, since currently this is setup to
apply to all test images.

On Mon, Aug 19, 2019 at 11:23 AM Jordan Liggitt <notifications@github.com>
wrote:

[2019-08-19 18:48] BenTheElder commented on #13968
/assign

[2019-08-19 18:50] BenTheElder commented on #13967
/assign

[2019-08-19 18:57] BenTheElder commented on #13967
done
/close

In the future I'm pretty sure anyone on the GKE team can do this, the project is `kubernetes-e2e-test-images` (= the GCR...) if you want to double check IAM.

[2019-08-19 18:57] #13967 closed

[2019-08-19 18:57] BenTheElder commented on #13967
I'm adding some limited docs in #13968

[2019-08-19 19:10] bclau commented on #13968
I've written a ``README`` which covers the general building process for any image, including windows images, workarounds, etc. See here: https://github.com/kubernetes/kubernetes/pull/76838/files#diff-514135d132383981abd050d3e7dfc5ffR1

Regarding the version bump, I've added a short note here: https://github.com/kubernetes/kubernetes/pull/81008/files#diff-1c8a2ba0c34b8fc28df06b45859ebb6fR19

IMO, w

[2019-08-19 19:13] BenTheElder commented on #13968
/assign @bclau
/unassign

[2019-08-19 19:37] jpbetz commented on #13967
Huge thanks for the image push

[2019-08-19 20:09] chases2 commented on #10701
pin: maintenance-ci-testgrid-config-upload

[2019-08-19 21:16] stevekuznetsov commented on #13972
The only component still using the legacy client is `plank`. The original migration to the upstream clients was in these two PRs: https://github.com/kubernetes/test-infra/pull/11068 https://github.com/kubernetes/test-infra/pull/10987

Those were reverted for unrelated reasons in https://github.com/kubernetes/test-infra/pull/11436

The sum total of work involved as I understand it is:

1. re-revert

[2019-08-19 21:21] cjwagner commented on #13972
How do we do this in a cluster provider agnostic way? (e.g. without using something like a `gcloud config config-helper --format=json` command)

[2019-08-19 21:26] alvaroaleman commented on #13972
Via $anything that can read a Kubernetes secret on the one side and by just using a standard kubeconfig with a token in it on the other side

[2019-08-19 21:38] cjwagner commented on #13972
I don't follow the example. Why would the service account secret for a service account in cluster A be  respected by cluster B? How does cluster B know anything about the service account in A? (Side question: is the service account secret really a temporary access token?)

[2019-08-19 21:44] stevekuznetsov commented on #13972
My comment for 2 is more a reflection of the ... tenuous nature ... of the code that handles "default cluster" "service cluster" in Prow, not a comment about service accounts or loading kubeconfig in general. We must ensure that the code we have written and the flags we have chosen to expose are reasonable and working as expected.

If `prow.k8s.io` wants to tie Prow deployment credentials to Googl

[2019-08-19 21:46] stevekuznetsov commented on #13972
To the extent that the token can be revoked and re-minted at any point, it is not permanent. However, it is not temporary in that a service account token does not have a built-in TTL. Please see the documentation for more information: https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#token-controller

[2019-08-19 22:08] jpbetz commented on #13967
Looks like we're missing something:

e2e tests now fail on: https://github.com/kubernetes/kubernetes/blob/f4521bf5a21865738f49a1c73e6aa75200a99240/test/e2e/apps/rc.go#L52-L58

[code]

Example failure:

 https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/81497/pull-kubernetes-e2e-gce/1163559597798068226/

[code]

Anyone know how to push the image to `k8s-authenticated-test` ?

[2019-08-19 22:09] jpbetz commented on #13968
We also need to include the step of pushing the image to `k8s-authenticated-test` which is required by e2e, see https://github.com/kubernetes/test-infra/issues/13967#issuecomment-522773030

[2019-08-19 22:15] BenTheElder commented on #13967
that image is not even in the manifests??
https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go

The registry is, but none of the images are listed there... is this documented anywhere?

[2019-08-19 22:30] jpbetz commented on #13967
With @BenTheElder's help, I've pushed images to `k8s-authenticated-test`:

[code]

Retesting now. Will follow up on process simplication on https://github.com/kubernetes/test-infra/issues/13968

[2019-08-19 22:59] fejta opened #13975 "Teach prow to trigger testing when someone adds the ok-to-test label"
See for example https://github.com/istio/api/pull/1037

If a non-org member sends a PR, prow waits until the PR has an `ok-to-test` label. This label tells prow that someone has determined that the PR is safe to run presubmits (aka is a real PR, not abuse).

Normally people do this with an `ok-to-test` comment, which will add the label and trigger tests. However people can also just add the `ok-to

[2019-08-19 23:41] saiyan86 commented on #12709
/close

[2019-08-19 23:41] #12709 closed

[2019-08-20 03:22] mkumatag commented on #13968
@bclau currently I see that https://github.com/kubernetes/kubernetes/pull/76838 is taking a lot of time, can we push README in a separate PR for improving the documentation?

[2019-08-20 07:41] alvaroaleman commented on #13972
Just to comment that before anyone starts working on this, IMHO it would be best if we omitted using the generated clientset for Plank and instead directly use the [controller-runtime client](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#Client). It has the huge advantage that there is a lister-backed implementation of it, which allows us to make Plank use listers instead of "list th

[2019-08-20 13:50] #13443 closed

[2019-08-20 14:15] bclau commented on #13968
Done: https://github.com/kubernetes/kubernetes/pull/81662

[2019-08-20 16:39] clarketm commented on #13972
@alvaroaleman - I did just put up the PR from @stevekuznetsov original PR(s) for using the k8s client in `plank` #13980. From a performance and latency standpoint I like the added benefit of using the [controller-runtime client](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#Client).

[2019-08-21 00:02] michelle192837 opened #13994 "Request approval for specific concepts"
It might be nice to, in some cases, have approval for specific concepts like languages ("is my X code readable") or docs ("approve .md files but not code"). Prow's approval plugin could be extended to do this, via something like:

- Have a top-level directory with OWNERS files for concepts
  - (e.g. `k/t-i/languages/[go|py|ts]/OWNERS`)
- When PRs are sent for approval, or on request (via a slash c

[2019-08-21 00:28] spiffxp opened #13998 "kettle not happy with metrics python3 image"
**What happened**:
bigquery image rebuild for python3 (https://github.com/kubernetes/test-infra/pull/13912) broke kettle, so we're reverting it (https://github.com/kubernetes/test-infra/pull/13992)

**What you expected to happen**:
for the image rebuild to not break kettle

**Please provide links to example occurrences, if any**:
https://storage.googleapis.com/kubernetes-jenkins/logs/metrics-kettl

[2019-08-21 00:29] spiffxp commented on #13998
/area metrics

[2019-08-21 00:42] spiffxp commented on #5183
Ran into this again.  I was trying to figure out which PR out of N batches was causing the `pull-kuberentes-verify` job to fail

[2019-08-21 03:42] spiffxp commented on #13998
Should at least be partially addressed by https://github.com/kubernetes/test-infra/pull/13999

[2019-08-21 10:11] vamossagar12 commented on #13895
/assign

[2019-08-21 10:15] vamossagar12 commented on #13895
hi. I have assigned this issue to myself, but is it something which has been already fixed?

[2019-08-21 17:08] #13998 closed

[2019-08-21 18:33] spiffxp commented on #11977
ref: https://github.com/kubernetes/test-infra/issues/13883

[2019-08-21 18:33] spiffxp commented on #9363
umbrella issue related to getting sig-release boards in shape: https://github.com/kubernetes/test-infra/issues/11977

[2019-08-21 18:34] spiffxp commented on #13883
umbrella issue related to getting sig-release boards in shape: #11977

[2019-08-21 18:36] spiffxp commented on #9363
/cc @jberkus
Apparently "the gce reboot job" is informing in master, and blocking on all other branches:
- https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-reboot
- https://testgrid.k8s.io/sig-release-1.16-blocking#gce-cos-k8sbeta-reboot
- https://testgrid.k8s.io/sig-release-1.15-blocking#gce-cos-k8sstable1-reboot
- https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-k8sst

[2019-08-21 18:49] spiffxp opened #14009 "resultstore-upload job is continually failing"
**What happened**:
https://testgrid.k8s.io/sig-testing-prow#resultstore-upload is continually failing

**What you expected to happen**:
for it not to fail

**Please provide links to example occurrences, if any**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-resultstore-upload/1164243772695908355

**Anything else we need to know?**:
It's not clear to me whether we rely on this

[2019-08-21 18:52] spiffxp commented on #14009
Opened https://github.com/kubernetes/test-infra/pull/14010 to slow the job down

[2019-08-21 18:55] spiffxp opened #14011 "ci-benchmark-microbenchmarks job is continually failing"
**What happened**:
https://testgrid.k8s.io/sig-scalability-benchmarks#microbenchmarks is continually failing

**What you expected to happen**:
for it not to fail

**Please provide links to example occurrences, if any**:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-microbenchmarks/1164240752918663169/build-log.txt

**Anything else we need to know?**:
There are lots of test re

[2019-08-21 19:22] spiffxp commented on #13895
@vamossagar12 sorry, it lopoks like @Patil2099 is handling it over in https://github.com/kubernetes/test-infra/pull/13901

@Patil2099 can you assign yourself here?

[2019-08-21 19:29] Patil2099 commented on #13895
/assign patil2099

[2019-08-21 19:30] Patil2099 commented on #13895
It is already fixed

[2019-08-21 19:30] Patil2099 commented on #13895
My pr will get merged once I squash my commits

[2019-08-21 19:31] Patil2099 commented on #13895
/assign patil2099

[2019-08-21 20:26] fejta commented on #14009
From the logs:

[code]

A better thing to do here would be to delete the `ci-kubernetes-e2e-gce-scale-correctness` job and its invalid xml output.

[2019-08-21 21:49] cjwagner commented on #14011
As the log indicates, the benchmark junit tools is successfully generating the junit results, but the benchmarks themselves are failing (exiting with status code 2).
The raw benchmark output points to build errors: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-microbenchmarks/1164277747950817282/artifacts/benchmark-log.txt

[2019-08-21 23:04] jberkus opened #14017 "Reboot jobs should be consistent between SIG-Release dashboards"
**What should be cleaned up or changed**:

Currently, ci-kubernetes-e2e-gce-cos-*-reboot is present in different dashboards depending on the Kubernetes release version:

* It's present as gce-cos-master-reboot in sig-release-master-informing
* It's present as gce-cos-k8sbeta-reboot in sig-release-1.16-blocking
* It's present as gce-cos-k8stable1-reboot in sig-release-1.15-blocking
* It's present a

[2019-08-21 23:05] jberkus commented on #14017
attn: @spiffxp @alejandrox1 @lachie83 @Katharine

umbrella issue:
#11977

additional refs:
https://github.com/kubernetes/test-infra/issues/9363#issuecomment-523594819

[2019-08-21 23:50] jberkus opened #14018 "Need help finding job definitions/details under new schema"
**What should be cleaned up or changed**:

The new schema is a leap forward for both operations and avoding merge conflicts.  However, it can be a little hard to figure out exactly where the details of a particular job live, starting from testgrid.k8s.io.  It would be nice to have some breadcrumbs or other clues as to how to find the configs, which can be in any of multiple locations.

As an examp

[2019-08-22 00:00] tpepper commented on #14017
I can understand a rationale for having meta naming such that big patches aren't needed so switch all the 1.12's to 1.13's as the "N-2" release moved from 1.12 to 1.13, and instead just patch the pointer.  But...

This has proved problematic and confusing.

I favor being explicit and naming like gce-cos-${VERSION}-reboot.  I believe the patches to handle the switching of the number will be very ea

[2019-08-22 00:03] michelle192837 commented on #14018
From me from Slack:
I'll note that this is going to be non-trivial from the TestGrid side, since TestGrid doesn't know about Prow jobs or .yaml files, just the resulting config.proto

i.e. if it shows up in TestGrid, it'll probably need to be via some config-defined link or something
(Though that COULD be added in the description or about dashboard link)

[2019-08-22 00:16] Katharine commented on #14018
We have a policy that says that release-blocking jobs need an owner and email associated with them. However, the owner gets lost when a job is forked because we discard the description (I don't remember why I did this - because they'd tend to be misleading, I think?). So no branched job has this information attached to it.

Additionally, there is not necessarily an easy way to reverse from a branc

[2019-08-22 05:12] vamossagar12 commented on #13895
oh ok. that's what I had suspected. Thanks all :)

[2019-08-22 06:27] wojtek-t commented on #14011
This is duplicate of: https://github.com/kubernetes/kubernetes/issues/79464

[2019-08-22 07:52] BenTheElder opened #14028 "rerun button loses page the first time"
**What happened**: clicking rerun the first time took me to deck without my query parameters (`/`), I was told to "try again now that you are logged in" but the job I was trying to rerun was now not on the page...

**What you expected to happen**: I expected to remain on the same page with the same job filtering options

**How to reproduce it (as minimally and precisely as possible)**: wipe cookie

[2019-08-22 07:53] BenTheElder commented on #13994
/priority backlog

[2019-08-22 07:58] BenTheElder commented on #13937
we should really avoid using binfmt_misc on prow to begin with...

AFAICT it's not namespaced / kernel global, so if two jobs register entries on the same node simulataneously there will be issues...

cc @cblecker

[2019-08-22 08:05] vamossagar12 commented on #13975
/assign

[2019-08-22 08:11] BenTheElder commented on #13937
can we avoid doing that part on prow? pre-publish the image with the packages, and then just do `FROM $image` ... `COPY binary` ... and build binaries with `GOARCH=foo go build ...` ?

[2019-08-22 08:30] cofyc commented on #13937
I need to run `apt-get install` to install extra packages. emm... start a VM (e.g. gce instance) in prow job to build images will work...

[2019-08-22 08:31] cofyc commented on #13937
Closing this in favor of alternatives.

[2019-08-22 08:31] #13937 closed

[2019-08-22 09:40] nikhita commented on #13587
Since this sort of relates to github-related management, adding it to the project board so it is properly tracked.

/area github-management

[2019-08-22 09:46] nikhita commented on #12510
Looks like this issue can be closed?

[2019-08-22 09:49] nikhita commented on #10978
/remove-lifecycle stale
/good-first-issue

Would require an update here:

https://github.com/kubernetes/test-infra/blob/e0dcd68dc8650cf7137d3fc7386c1c5b0d551a23/prow/plugins/assign/assign.go#L53

We can probably do the same for `/cc` as well.

[2019-08-22 09:51] nikhita commented on #10754
/sig contributor-experience

[2019-08-22 09:53] nikhita commented on #10978
/remove-lifecycle stale

[2019-08-22 09:55] nikhita commented on #10754
/sig contributor-experience

[2019-08-22 09:58] nikhita commented on #5175
/remove-lifecycle stale

[2019-08-22 10:01] nikhita commented on #10434
Closing in favour of https://github.com/kubernetes/test-infra/issues/5175
/close

[2019-08-22 10:04] #10434 closed

[2019-08-22 10:16] nikhita commented on #8386
/remove-lifecycle rotten

[2019-08-22 10:17] nikhita commented on #8386
/sig contributor-experience

[2019-08-22 10:20] nikhita commented on #4272
/sig contributor-experience

[2019-08-22 12:41] nikhita commented on #10501
Coming back to this, wanted to discuss a few things before moving on to the code.

At our current state, we have a team to repo mapping i.e. something like:

[code]

This makes it harder to define outside collaborators per repo. An idea from https://github.com/kubernetes/test-infra/pull/10517 was to:

[code]

But having the latter config now would cause a breaking change since we can't have the te

[2019-08-22 14:39] neolit123 commented on #14018
potentially this page can include a URL called "Find job":
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-15-master/1164516821852753920

which can link to:
https://github.com/kubernetes/test-infra/search?q=ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-15-master+language:yaml

the search query is in the form of:
[code]

[2019-08-22 15:42] praveensastry commented on #13938
/assign

[2019-08-22 16:38] BenTheElder commented on #13937
Right, but how often do they change? If they aren't changing often it's more efficient anyhow to create an image like debian base with your extra packages via a seperate step, and then leverage that.

[2019-08-22 16:57] fejta commented on #10501
This makes sense to me, the latter looks more straight forward. I believe we did it the other way because it was more expedient based on the github api.

[2019-08-22 18:19] BenTheElder commented on #9628
I hit this recently, it doesn't look like the results are ordered at all ...?

[2019-08-22 21:02] #10536 closed

[2019-08-22 23:25] nicoaragon commented on #13276
/assign

[2019-08-23 04:14] nicoaragon commented on #13276
Filed [test-infra/pull/14038](https://github.com/kubernetes/test-infra/pull/14038).

[2019-08-23 10:22] cofyc commented on #13937
thanks, that's a choice too.

[2019-08-23 18:50] kikisdeliveryservice opened #14046 "stop active ci runs when PR is closed"
**What would you like to be added**:
I would like CI runs to be automatically aborted when a PR with active runs is closed.

**Why is this needed**:
This will free up testing resources by stopping unneeded tests immediately

cc: @stevekuznetsov

[2019-08-23 19:13] stevekuznetsov commented on #14046
/area prow/hook
/assign

[2019-08-23 19:13] stevekuznetsov commented on #14046
/cc @cjwagner @fejta

[2019-08-23 19:23] #11953 closed

[2019-08-23 20:25] #11956 closed

[2019-08-23 21:23] fejta opened #14049 "Tool to declaratively, securely manage secrets"
We need to create a tool that allows us to, uh, securely store secret values (https://cloud.google.com/kms/ or equivalent) and then declare where we should inject these secrets into kubernetes clusters.

[2019-08-24 04:32] #11728 closed

[2019-08-24 04:48] BenTheElder commented on #12362
this is still a major limitation but I don't think anyone is up for working on this at the moment

[2019-08-24 04:48] #12362 closed

[2019-08-24 04:53] cblecker commented on #10501
+1. I like the latter config design as well, but have a few questions.

- How do you differentiate between a user and a team? Should we prefix teams with the org/ slug like the GitHub UI does?
- There are 5 access levels now, I'm not sure how GitHub's API treats them though.. Admin, Maintain, Write, Triage, Read. We should ensure we choose terminology that will be consistent and accurate.
- Outsid

[2019-08-24 04:55] cblecker commented on #6289
/remove-lifecycle rotten

[2019-08-24 16:44] #9374 closed

[2019-08-24 19:43] stevekuznetsov commented on #11957
/remove-lifecycle rotten
/reopen

We're deploying it automatically on the OpenShift side, so this is definitely possible.

[2019-08-25 05:02] nilo19 opened #14065 "Lacking in location config when creating cluster during e2e tests."
**What happened**:

When creating a cluster during an e2e test, there's an error report showing the `location` of the resource group is missing.

**What you expected to happen**:

The cluster should be created successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Enable any azure e2e test.

**Please provide links to example occurrences, if any**:

**Anything else we nee

[2019-08-25 05:02] nilo19 commented on #14065
/assign

[2019-08-26 05:24] #14065 closed

[2019-08-26 08:39] schrodit opened #14070 "kubetest compile error"
**What happened**:
When trying to install kubetest via `go get -u k8s.io/test-infra/kubetest` the following error occurs in the client-go package:
[code]

**What you expected to happen**:
Kubetest installs without errors.

**How to reproduce it (as minimally and precisely as possible)**:
Run `go get -u k8s.io/test-infra/kubetest` in a clean environment.

[code]

**Please provide links to example o

[2019-08-26 08:42] atoato88 commented on #14070
I face  a same  error.

[2019-08-26 08:52] adelina-t commented on #14070
Yes, we've experienced same problems in our own CI.

[2019-08-26 08:54] schrodit commented on #14070
@fejta could this be related to your changes in this commit https://github.com/kubernetes/test-infra/commit/d6394f164a8d40f9bbf97b043719db5cb5da9783.
We are facing this issue since Friday 24.08.2019 ca. 20:00 CET.

[2019-08-26 10:44] krzysied commented on #14070
I reverted https://github.com/kubernetes/test-infra/pull/14036 locally and it helped.

[2019-08-27 09:05] bweston92 commented on #11523
Was there any progress on this? I know my PR was a fail. #11543

[2019-08-27 13:40] bparees opened #14083 "link to stdout from failed jobs does not open"
**What happened**:
Looking at this job: https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/release-openshift-origin-installer-e2e-aws-upgrade/6205

I clicked the "open stdout" link for one of the failed tests and i briefly saw a tab opened and then closed in firefox.  I see nothing happen at all in chrome.

In neither browser do i get a warning about popups being blocked, so it's not a

[2019-08-27 13:44] droslean commented on #14083
[code]

The link looks suspicious. Is it supposed to be only `#`?

[2019-08-27 17:47] fejta opened #14090 "Plank log noisiness"
This seems like a fairly ephemeral error. Are we sure we want this to log an error?

/cc @cjwagner @stevekuznetsov

[code]

[2019-08-27 17:49] Sh4d1 opened #14091 "Qemu static registers to binfmt_misc which is still kernel globalkernel"
**What happened**: When building multi arch containers, kernel fails to execute non amd64 binaries.

**What you expected to happen**: To work seemlessly

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

Use qemu static and register to binfmt_misc

**Anything else we need to know?**:
Context: https://kubernetes.slack.com/ar

[2019-08-27 19:32] berbiera commented on #10146
Hi there, Is there a chance to get this proposal accomplished ?

[2019-08-27 22:09] clarketm opened #14099 "Serve the plugins.yaml file from Deck @ /plugins"
**What would you like to be added**:
Serve the `plugins.yaml` file from `deck` front-end @ **https://{host}/`plugins`**

**Why is this needed**:
Informational and debugging purposes.

Deck currently serves the Prow `config.yaml` @ **https://{host}/`config`** (e.g. https://prow.k8s.io/config) and it would be helpful to do the same for plugins.

/help
/good-first-issue

[2019-08-27 22:18] clarketm opened #14100 "[WIP] Remove old k8s client"
**What should be cleaned up or changed**:
Refactor to remove all usage of old kube client [`./prow/kube/*`](https://github.com/kubernetes/test-infra/tree/master/prow/kube)

**Provide any links for context**:
https://github.com/kubernetes/test-infra/tree/master/prow/kube

[2019-08-28 02:12] atoato88 commented on #14070
(maybe) related: kubernetes/klog/pull/91

[2019-08-28 02:14] cjwagner opened #14106 "metrics-bigquery job is failing"
**What happened**:
Received a TestGrid alert that the job has failed twice. It appears to be a problem with the `bq query` command:
[code]
[code]

**Please provide links to example occurrences, if any**:
https://k8s-testgrid.appspot.com/sig-testing-misc#metrics-bigquery
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/metrics-bigquery/1166499151081377792

/assign @fejta @michelle192837
cc @cla

[2019-08-28 02:22] cjwagner opened #14107 "Image publishing jobs fail with cloud build quota errors"
**What happened**:
TestGrid alerts for some of the image publishing jobs.
[code]

**Please provide links to example occurrences, if any**:

https://k8s-testgrid.appspot.com/sig-testing-images#kettle
https://k8s-testgrid.appspot.com/sig-testing-images#bootstrap
https://k8s-testgrid.appspot.com/sig-testing-images#velodrome
https://k8s-testgrid.appspot.com/sig-testing-images#image-builder

The errors

[2019-08-28 04:55] ms4720 commented on #10138
yes there is, not nearest but near is possible.  Sorry life got in the way

[2019-08-28 05:57] schrodit commented on #14070
@fejta dropping the `-u` does not resolve the problem for me
[code]

[2019-08-28 09:26] magicsong opened #14111 "can i add my organization to `prow user`"
my organization [kubesphere](https://github.com/kubesphere/kubesphere) is fully open-sourced and want to add a link to <https://github.com/kubernetes/test-infra/tree/master/prow#prow-in-the-wild>, is it ok to do that?

[2019-08-28 13:06] adelina-t commented on #14070
Yeah, works for me.

[2019-08-28 16:22] magicsong commented on #14111
@stevekuznetsov glad to do that

[2019-08-28 23:32] clarketm opened #14121 "Add verbose logging for plank CRUD operations"
**What should be cleaned up or changed**:
Now that `plank` is using the new k8s client (#13980) logging is no longer being performed on the various *prowjob* and *pod* CRUD operations (e.g. GetProwJob, ReplaceProwJob, etc.). Logging should be added when these operations are performed (e.g. https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L378).

**Provide any links for

[2019-08-29 01:02] Ark-kun opened #14125 "Prow runs postsubmit tests as presubmit sometimes"
We have presubmit and postsubmit tests (https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubeflow/kubeflow-postsubmits.yaml)

Usually presubmit tests run for PR branch commits and postsubmit tests run for master merges.

Sometimes though, the postsubmit test is executed for the PR and blocks attempts to merge the PR since the postsubmit test is only supposed to be run for master co