[2019-01-08 23:08] fejta opened #10666 "Update entrypoint/sidecar to handle build steps"
Each Knative-build step becomes an init container. These run in sequence. As soon as one fails, pod execution halts. There is no way to define a build that includes the prow sidecar as a sidecar -- it becomes the last step. Therefore I need to ensure that:
* Once a step fails, all subsequent steps do nothing, but
* Regardless, the build runs every step so we get to the sidecar step at the end whic

[2019-01-08 23:30] fejta commented on #8468
This is mostly:
* Move https://github.com/kubernetes/test-infra/blob/master/prow/cmd/build/admission.go into its own package
* Add https://github.com/kubernetes/test-infra/blob/636984e3718736b55dd9feea716d0aa32e1520dc/prow/cmd/build/dev.yaml#L98-L119 into prow/cluster/
* Improve the experience of creating `caBundle`, `--tls-cert-file` and `tls-private-key`

[2019-01-08 23:44] krzyzacy opened #10667 "Add git source to Prowjob refs"
We are having all kinds of issue try to decouple links for other git platforms (namely gerrit, and soon will have pubsub)... Currently there are not-so-elegant checks against labels/annotations like https://github.com/kubernetes/test-infra/blob/master/prow/gerrit/reporter/reporter.go#L69-L75, also like https://github.com/kubernetes/test-infra/pull/10644 - and I need something for github soon as we

[2019-01-08 23:48] ibzib commented on #10667
That's a +1 from me. Re implementation I was envisioning a couple fields in `Refs`, maybe one for the platform type (e.g. `"github"`, `"gerrit"`, ....) and another for the URL (which would default to `"github.com"` to avoid breaking anything)

[2019-01-08 23:55] ibzib commented on #10667
Had to add some fields to new `common` functions
/cc @cjwagner

[2019-01-09 01:39] BenTheElder commented on #8468
:-1:
your CRD is bad and you should feel bad if I can't create it by hand :(

What actually happens usually is people hand edit the re-run link to try something

[2019-01-09 02:54] cjwagner commented on #10629
This is likely a result of GitHub failing to deliver the webhook for the PR `open` event to Prow.
We see this every once in a while. If you are an admin of the `helm/charts` repo you can inspect the webhook delivery log and confirm that the webhook delivery failed.

We've tried to design Prow's plugins to have work-arounds for dropped webhooks in case they occur. Closing and reopening the PR shoul

[2019-01-09 13:04] #10594 closed

[2019-01-09 18:47] stevekuznetsov commented on #8468
I mean sure, but seems like a waste of time to me IMHO. Who writes YAML by hand? That's nuts. If someone feels this is more pressing than the other work we have, of course pick it up ...

[2019-01-09 18:48] stevekuznetsov commented on #10667
Why is this necessary? Having a set of annotations that inform `crier` shards on how to report and where, then checking them before reporting seems perfectly fine to me. What added benefit would these new fields have over that?

[2019-01-09 19:03] stevekuznetsov commented on #10666
This seems reasonable enough to me. For multiple containers, though there are wierd concurrency issues that come up -- your design evades those by chaining `init` containers

[2019-01-09 19:22] fejta commented on #10666
**Ideally** I wouldn't have to be chaining init containers :grin:

[2019-01-09 19:54] krzyzacy commented on #10667
@stevekuznetsov annotations can work, but we'll have to duplicate the same check for deck for different ways of configuring links though... Currently we are assuming everything is github and doing hacks to try to generate the gerrit links, so maybe it's better if we can generate the links to ref/authors when creating the prowjob. (Annotations is per prowjob but not per ref, that's the limitation I

[2019-01-09 21:16] #9283 closed

[2019-01-09 21:34] stevekuznetsov commented on #10666
Why not? If you have a set of serial steps, that's the best-practice approach in k8s right now for it

[2019-01-09 22:10] fejta opened #10680 "Remove run_after_success support from prowjob"
We will remove `run_after_success` in a future version of prow. These do not work correctly in a wide variety of edge cases, and we do not want/intent to ever support them.

In the future prow will support scheduling a single prowjob and waiting for it to complete, and this will result in scheduling a single pod/build/pipeline and waiting for it to complete.

People who need to schedule a tree of

[2019-01-09 22:15] stevekuznetsov commented on #10680
/unassign @fejta
/assign

[2019-01-09 22:15] stevekuznetsov commented on #10680
;)

[2019-01-09 22:16] stevekuznetsov commented on #10680
I deserve the privilege after the last three weeks :D

[2019-01-09 23:09] stevekuznetsov commented on #10667
If we just have one "source" or whatever, how are you going to do something like this?

https://github.com/kubernetes/test-infra/blob/c81fbc2b6f487c790f58b9e95d3906545506c454/prow/gerrit/reporter/reporter.go#L77-L81

It seems totally reasonable to have each crier shard do a watch, determine if it owns the object it is processing and proceed from there. Isn't there enough data in the ProwJob to det

[2019-01-10 00:04] krzyzacy commented on #10667
@stevekuznetsov problem I have currently (if you can advise how to work around with existing label/annotations):

1. I don't know if something is a github job. (I probably don't want to assume not gerrit + not pubsub = is github)
2. We need similar ways to tell if a ref is from github or gerrit in deck (#10644), we probably can write some util function but I think it's better to pre-populate some

[2019-01-10 00:32] ibzib commented on #10667
@cjwagner and Sen have both suggested it's better to generate links when a job is created rather than somewhere further downstream. I agree with that approach because it will keep platform-specific logic confined to inherently platform-specific code, where it belongs. That would entail adding links to `Refs`, but wouldn't require the platform field Sen is proposing here.

As for crier, I feel it's

[2019-01-10 04:18] BenTheElder commented on #8468
this issue isn't labeled priority/critical-urgent, we open issues for things we aspire to eventually fix as well :^)

[2019-01-10 05:00] cjwagner opened #10687 "Tackle fails to create cluster: "One of [--zone, --region] must be supplied""
**What happened**:
I ran Tackle to create a new cluster and deploy prow and got a cluster creation error after choosing a cluster name.
[code]
**How to reproduce it (as minimally and precisely as possible)**:
`bazel run //prow/cmd/tackle`

**Anything else we need to know?**:
I think this is because my project does not specify a default region or zone. https://cloud.google.com/compute/docs/regions-

[2019-01-10 15:16] liztio opened #10693 "Account Lifecycle Management for AWS"
**What would you like to be added**:

gcloud-like lifecycle management for AWS accounts.

Proposed flow:
1. Job checks out clean AWS account from Boskos
2. Job does something with AWS account
3. Job checks account back in
5. (Optional) AWS account credentials reset to prevent long-running jobs from interfering with each othe
4. Boskos runs [awsweeper](https://github.com/cloudetc/awsweeper#supporte

[2019-01-10 15:16] liztio commented on #10693
/assign

[2019-01-10 15:24] timothysc commented on #10693
@liztio - Any idea on the possible scaling limits here?

1. How many (sub)accounts can be created in time (T)?
2. How long does it take to clean up in time(T)?
3. How long does it take to garbage collect failed deployments in time (T)
...

[2019-01-10 15:48] detiber commented on #10693
It *should* be possible to have subaccounts created if they have configured an Organization in the account, which would streamline the initial account creation: https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html

That said, I don't see a streamlined way of deleting accounts through an Organization, only closing which would leave a *ton* of closed accounts l

[2019-01-10 17:38] BenTheElder commented on #10693
cc @krzyzacy
also FYI to @justinsb

[2019-01-10 19:12] krzyzacy commented on #10667
@stevekuznetsov My argument is label/annotation belongs to per prowjob, not per ref.. We can probably respect the main ref, but technically we do have job checks out from both gerrit and github... (I don't mind if we have both :-) )

[2019-01-10 21:46] ibzib opened #10699 "Unify (or remove?) started|finished|metadata.json data structures"
**What would you like to be ~added~ removed**:
Currently, the struct used to read/write `started|finished|metadata.json` is re-defined in _many_ places:
- https://github.com/ibzib/test-infra/blob/6c004fe3dd3e36612bbeb860193bd980440518cc/prow/sidecar/run.go#L176-L188
- https://github.com/ibzib/test-infra/blob/5b57a7ea791e09620380eae53cd51870390ecf2f/prow/initupload/run.go#L93-L102
- https://github.

[2019-01-10 21:55] ibzib commented on #10699
cf #3412

[2019-01-10 21:59] krzyzacy commented on #10699
following up https://github.com/kubernetes/test-infra/pull/10683#issuecomment-453260639:

I think derive everything from the podspec can be a good long term solution, just need to kill bootstrap first :-) Until that happens I think we still need to support backwards compatibility for all existing started/finished.json, and figure out who else is depending on these data. (It's more than our tools,

[2019-01-10 22:31] wonderfly commented on #10699
If we are talking about unifying the go (re)definitions of these structs then I have no problem. As long as the json schema doesn't change in a backward incompatible way my code should be fine.

[2019-01-11 00:16] tareks commented on #10629
Awesome, thanks for the tip. Closing and re-opening the PR seems to have brought the bot back to life.

Cheers!

[2019-01-11 00:16] #10629 closed

[2019-01-11 00:29] michelle192837 opened #10701 "Write a GitHub Issue Gatherer to link issues to tests in TestGrid"
With issue_state.proto out, it's now possible to write a tool that crawls GitHub issues for issues that mention a failing test, and write the info about that issue such that TestGrid can read it! (Or rather, it's ALMOST possible; this requires a small change internally as well to pick up the issue_state proto itself when updating dashboards).

Tagging this 'help-wanted' as it's a feature that 1) I

[2019-01-11 05:05] BenTheElder commented on #9305
/shrug
this is debate-able, I believe cluster lifecycle is also suggesting specific docker releases still.
Happy to unpin if we think this is wise, but i'm not so sure now.
cc @neolit123 @dims

[2019-01-11 09:53] neolit123 commented on #9305
current pined version seems to be 18.06 for the image.
what are the improvements that we need and which version is sufficient to bump to?
would 18.09 suffice?

AFAIK, 18.09 should be fine at this point, but i don't think i've seen reports for anything newer.
@kubernetes/sig-cluster-lifecycle

[2019-01-11 09:57] BenTheElder commented on #9305
Originally the issue was to simply not pin to a version so whenever we
build the image we get the latest stable, like most of the tools.

For this... It seems maybe that's not really worth it.

On Fri, Jan 11, 2019, 01:53 Lubomir I. Ivanov <notifications@github.com
wrote:

[2019-01-11 14:31] dims commented on #9305
@neolit123 @BenTheElder i've filed a bump in https://github.com/kubernetes/kubernetes/pull/72823

[2019-01-11 16:36] liztio commented on #10693
Some updates on tools. My initial thought was to use [awsweeper](https://github.com/kubernetes/test-infra/tree/master/maintenance/aws-janitor). It's pretty fit for purpose, but unfortunately vendoring at adds almost a million lines of code(!) because it pulls in all of Terraform. That's obviously not ideal.

I also considered [grafiti](https://github.com/coreos/grafiti). But That's a lot of comple

[2019-01-11 20:50] ffledgling commented on #10409
Hello, adding my use-case here. I have a bunch of clusters that running internally and am starting to run the kubernetes e2e conformance tests against them periodically. There are also internal tests added into the same framework to test for custom stuff. I'd like very much to use testgrid as the overview dashboard for these periodic tests and as an indicator of overall cluster health and complian

[2019-01-11 21:38] taragu commented on #10649
/assign

[2019-01-11 21:42] liztio commented on #10693
Work today:

Broke up monolithic AWS janitor into modules, so I can use it with boskos (#10707). That allows me to do a rough sketch of how the cleaner will work (#10713)

[2019-01-11 21:44] cjwagner opened #10714 "Some plugin configuration is not displayed in plugin help information."
**What happened**:
Multiple plugins are not exposing information about their current configuration via the PluginHelp structs as they should be.
**What you expected to happen**:
These plugins should expose config using the `PluginHelp.Config` field: https://github.com/kubernetes/test-infra/blob/fa2d9efca4e638ddc1e0499464b7ed116034806d/prow/pluginhelp/pluginhelp.go#L44-L47
- `lgtm`
- `updateconfig`

[2019-01-12 00:41] IronPan opened #10721 "k8s-ci-robot automatically approve PRs"
**What happened**:
The https://github.com/k8s-ci-robot starting to automatically approve PRs as soon as they are created

**What you expected to happen**:
Not approve untill add /approve comment

**How to reproduce it (as minimally and precisely as possible)**:
Create a PR in https://github.com/kubeflow/pipelines

**Please provide links to example occurrences, if any**:
https://github.com/kubeflow

[2019-01-12 00:45] krzyzacy commented on #10721
is there a recent change? @fejta @cjwagner

https://github.com/kubeflow/pipelines/blob/master/frontend/OWNERS#L2 @rileyjbauer is an owner for all the file in the PR so the PR will be approved by default, you can turn off implicit self approval if you don't want that?

[2019-01-12 00:49] IronPan commented on #10721
Is this a recent change that owner's change will granted with /approve by default? I don't think that's what was happening before.

[2019-01-12 00:50] IronPan commented on #10721
could you forward me instruction how to turn implicit self approval off? thanks!

[2019-01-12 00:56] jlewi commented on #10721
I think this might be an improvement.

IIUC it used to be the case that if someone in the OWNERs file sends out a PR for approval; if that PR is LGTM'd by someone not in the approvers file. Then the PR author would have to do "/approve".

So with the new behavior it seems like if PR author is also an approver they might nolonger need to explicitly add "/approve"; the LGTM is sufficient

If a PR au

[2019-01-12 01:05] cjwagner commented on #10721
Yes, the default behavior was recently changed: https://github.com/kubernetes/test-infra/pull/10435 @fejta

[2019-01-12 01:17] krzyzacy commented on #10359
cc @BenTheElder

[2019-01-12 01:21] krzyzacy commented on #10359
We need to solve this as we are starting to migrate verify/integration job onto podutils - technically we don't care extra_refs for presubmits (the short term goal is to show the commit number to testgrid), we can just let horologium to solve it for now.

[2019-01-12 04:38] Ark-kun commented on #10721
Now it's automatically LGTMing PRs: https://github.com/kubeflow/pipelines/pull/662#event-2069939092

/reopen

[2019-01-12 04:41] Ark-kun opened #10728 "k8s-ci-robot automatically LGTMs PR"
**What happened**:
The https://github.com/k8s-ci-robot automatically added the LGTM label to a PR for unknown reason PRs

**What you expected to happen**:
I expect the robot not to add LGTM all of a sudden.

**Please provide links to example occurrences, if any**:

https://github.com/kubeflow/pipelines/pull/662#event-2069939092

[2019-01-12 04:44] #10728 closed

[2019-01-12 05:01] Ark-kun commented on #10728
Sorry, I got confused because GitHub only updated the main discussion thread, but not the comment thread, so there wasn't any LGTM comment when I searched.
The robot started auto-approving PRs today (see kubernetes/test-infra#10721) so I thought it was the case here.

[2019-01-12 05:01] Ark-kun commented on #10721
Sorry, I got confused because GitHub only updated the main discussion thread, but not the comment thread, so there wasn't any LGTM comment when I searched.
The robot started auto-approving PRs today so I thought it was the case here.

/close

[2019-01-12 07:43] wking commented on #10621
[GitHub's API][1] doesn't support this directly, but you could perform a local [octopus merge][2] and then push that octopus commit to the target branch (GitHub would automatically close the PRs as their tips appeared in the target branch history).  The downsides to this approach are:

* You'd need a whole bunch of code to support the local merge.  I don't think we have anything in this line at th

[2019-01-12 16:52] BenTheElder commented on #10621
I don't think tide should push to the target branch at risk of a bug wiping history.

Ephemeral branches are messy but if we name them predictably they can be easily tracked and removed (EG "tide-...").

Is this a problem we've seen "in the wild"? Wondering what the actual failure mode with merging was here, I can see where two PRs would only pass together test-wise.

[2019-01-12 17:55] ibrasho commented on #10714
We don't have a way to set `updateconfig` configs per repo currently, do we?

[2019-01-12 23:30] alvaroaleman commented on #9798
Fixed in #10293

/close

[2019-01-12 23:30] #9798 closed

[2019-01-12 23:50] MNF opened #10734 "Clarify instructions in fejta-bot comments"
I’ve received a [message from fejta-bot ](https://github.com/kubernetes/website/issues/10170#issuecomment-446553043) on 12 Dec 2018,
and [replied](https://github.com/kubernetes/website/issues/10170#issuecomment-446561494)

It seems that it didn’t work as in 30 days the new comment “rotten” was generated.

Now I found from examples in https://github.com/kubernetes/test-infra/issues/6083  
that inst

[2019-01-14 03:06] #9078 closed

[2019-01-14 03:12] idealhack commented on #10687
I was unable to create a new cluster using Tackle and went with the manual way... but I don't remember the error message because I'm not sure which side it's on, Tackle or gcloud.

[2019-01-14 03:52] idealhack commented on #10734
Thanks for your feedback!

We can link to https://git.k8s.io/community/sig-testing refer to sig-testing.

You are welcome to create a PR to modify those comments in https://github.com/kubernetes/test-infra/blob/4da53f46e256ccb3c2b06406cf8df9923907de02/config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml :)

[2019-01-14 08:04] fejta commented on #10734
Yes, fejta refers to me.

Searching the web for "kubernetes sig-testing" provides a good link that provides a brief explanation as well as contact links.

Should probably link to https://prow.k8s.io/command-help, although that also does not mention that commands need to be on their own line. Change https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/template/command-help.html if you

[2019-01-14 08:07] fejta commented on #7899
/remove-lifecycle stale

[2019-01-14 08:08] fejta commented on #7899
/remove-lifecycle rotten
Still want this to exist

[2019-01-14 08:10] fejta commented on #7899
IMO `/tbr` should only work when the PR author's PR only changes files that the PR author can approve. So in this situation (/tbr-ing an approved comment with no lgtm) I think the plugin should do nothing.

[2019-01-14 16:12] nikhita commented on #10553
I couldn't get this working on a private repo, but wanted to test here just to make sure I'm not imagining this category for `/pony`...

/pony lgtm

[2019-01-14 17:42] spiffxp commented on #10553
/pony approve

[2019-01-14 17:43] spiffxp commented on #10553
/pony sad

[2019-01-14 17:43] nikhita commented on #10553
Just for the record - this was fixed in https://github.com/kubernetes/test-infra/pull/10741. :)

[2019-01-14 18:11] BenTheElder commented on #7899
Oh interesting, that's tighter than the current partial implementation, that one more or less allows LGTM-ing + adding a tbr label IFF:
- the author would have been allowed to LGTM the PR, except it's their own PR
- the repo has TBR enabled

It does not affect approval.
I think /tbr only if you can self approve might make more sense, but uhh we probably need to refactor the approvers code first cc

[2019-01-14 18:12] Katharine commented on #10553
@spiffxp If you can explain the difference between an lgtm pony and an approval pony, I will make `/pony approve` work. ;)

[2019-01-14 18:24] BenTheElder opened #10742 "1.10 verify job is using wrong go version"
/kind bug
/assign

CC @amwat

we should fix this for https://github.com/kubernetes/kubernetes/pull/72860, we potentially have a small cherry pick that should bend the rules on patching old releases, this job needs fixing for that.

[2019-01-14 18:56] krzyzacy opened #10745 "Support brancher for gerrit"
something we've missed and seems there's needs now

cc @ibzib @ixdy
/area prow/gerrit

[2019-01-14 19:17] #10699 closed

[2019-01-14 19:41] cjwagner commented on #10742
So the current status is that this is temporarily fixed until we re-bump the verify image, but we will wait to do that until we have deleted all the 1.10 jobs, correct?

[2019-01-14 19:43] krzyzacy commented on #10742
I think 1.10 is technically already out of support...

[2019-01-14 19:55] amwat commented on #10742
The 1.10 jobs are scheduled to be removed by 02/12 https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14

[2019-01-14 19:56] fejta commented on #7899
(that is more similar to how it works inside Google btw)

[2019-01-14 19:57] BenTheElder commented on #10742
correct @cjwagner
correct @krzyzacy, the release is out of support but we're looking at possibly allowing a final patch for this given the circumstances. will be discussed at SIG-release tomorrow
@amwat that should be plenty of time, and I'm going to bring up that timeline as an option for overall support as well. (probably not, but worth mentioning)

[2019-01-14 19:57] BenTheElder commented on #10742
this appears to be WAI now.

[2019-01-14 19:57] #10742 closed

[2019-01-14 19:58] BenTheElder commented on #7899
"that" being https://github.com/kubernetes/test-infra/issues/7899#issuecomment-453925781 ? 👍

[2019-01-14 21:32] fejta opened #10747 "Reduce top-level approvers to oncall and leads"
I would like to propose shrinking https://github.com/kubernetes/test-infra/blob/master/OWNERS down to people who are go.k8s.io/oncall and/or https://github.com/kubernetes/community/tree/master/sig-testing chairs.

Ideally I would like to limit who can approve PRs that update prow to the people who are oncall for prow.

This would result in moving @michelle192837 @mithrav @shyamjvs approvals to var

[2019-01-14 22:42] spiffxp commented on #10747
/milestone v1.14

I'm in favor of this, though I suspect there are some more subdirs we may want coverage on

Would recommend documenting this policy somewhere (comment in the OWNERS file? something in docs? something in k/community/sig-testing?)

[2019-01-14 23:19] michelle192837 commented on #10747
Sounds good! Just testgrid/ level approval seems fine for me

[2019-01-14 23:23] shyamjvs commented on #10747
Sgtm too. I'd ask for:

- logexporter/ (maintainer)
- kubernetes/sig-scalability and kubernetes/sig-aws jobs (changing/reviewing frequently)
- testgrid/ (changing/reviewing for above jobs frequently)
- kubetest/ (changing/reviewing gce/gke/kubemark/eks deployers)

[2019-01-14 23:36] BenTheElder opened #10754 "auto suggest subdir owners"
**What would you like to be added**: A tool to inspect github data and propose filling out directory OWNERS entries for reviewers by looking at who _has_ been reviewing.

**Why is this needed**: I think a lot of the kubernetes project lacks much in the way of granular owners. granular owners can help with review assignment. We could probably somewhat automate auditing for directories without owner

[2019-01-14 23:37] BenTheElder commented on #10754
this is more of a wishlist entry than anything. I'm not suggesting anyone should go do this now, but this might eventually be something we could do to help avoid large all-top-level-owned projects.

[2019-01-14 23:50] mithrav commented on #10747
/docs for me mainly

On Mon, Jan 14, 2019 at 3:28 PM Benjamin Elder <notifications@github.com>
wrote:

--
Engineering Productivity
Google Cloud Platform
Sunnyvale

[2019-01-15 00:09] #10747 closed

[2019-01-15 00:56] cjwagner commented on #8567
Annnnnnnd now it is biting us.
Velodrome is failing to render graphs with "Request Failed" errors now (almost certainly timeouts). e.g. http://velodrome.k8s.io/dashboard/db/monitoring?orgId=1

[2019-01-15 01:06] cjwagner commented on #10714
No, currently the plugin assumes that it is only enabled on a single repository.

[2019-01-15 01:22] cjwagner commented on #10621
@BenTheElder See the "Why is this needed" section in the issue body.
This is a low priority issue in my opinion. Basically our merge automation isn't technically correct in this case because we are ending up in an untested state, but in practice it is probably better to partially merge a batch than not merge any of it because merging batches is Tide's highest priority and the chances of two PRs on

[2019-01-15 04:55] cblecker commented on #8386
/remove-lifecycle stale

[2019-01-15 04:58] BenTheElder commented on #8386
cc @mtaufen

On Mon, Jan 14, 2019 at 8:56 PM Christoph Blecker <notifications@github.com>
wrote:

[2019-01-15 13:19] aleksandra-malinowska opened #10766 "k8s-ci-robot applying incorrect labels"
See https://github.com/kubernetes/kubernetes/pull/72882.

1) Both `cncf-cla: yes` and `cncf-cla: no` labels applied at the same time.
2) Not applying `do-not-merge/cherry-pick-not-approved` even though it was a PR to a release branch. As a result, it merged without PRM's approval.

Not sure what caused it to malfunction in this case, but regarding (2), is there any reason merging relies on the lac

[2019-01-15 16:24] stevekuznetsov commented on #10766
/cc @cjwagner
The CNCF CLA labels come from a separate system, but this is definitely odd.

[2019-01-15 17:16] BenTheElder commented on #10766
historically there was also an alternative human-applied CLA confirmation for when the system was broken IIRC, but I don't think that's been used in a long time. positive label makes more sense to me, but in either case there's some inherent raciness with the merge robot and the PR state.

[2019-01-15 17:31] Katharine opened #10771 "spyglass shouldn't invent a build-log.txt artifact when it cannot back it"
Spyglass currently [blindly creates](https://github.com/kubernetes/test-infra/blob/816b0b48174e3855cc91ba59f59a741dfc379279/prow/spyglass/artifacts.go#L55) a `build-log.txt` artifact if it can't find one in GCS, assuming that it'll be able to source one from somewhere else.

Lenses that attempt to consume `build-log.txt` then discover that it isn't a real thing and error out trying to render it. T

[2019-01-15 17:32] Katharine commented on #10771
/remove-kind bug
/kind cleanup

[2019-01-15 17:33] aleksandra-malinowska commented on #10766
I think it actually uses only positive label for CLA, since the check passed. But not for cherry-pick approval, so if bot stops applying negative label for any reason, things just start to merge to release branches the same way as to master.

As for race conditions, it seems like in this case the bot didn't add the negative cherry-pick label at all (or post a standard cherry-pick message, "this pr

[2019-01-15 17:57] BenTheElder commented on #10766
the status drives the label (CNCF robot creates / updates the status, the event driver part of prow writes a label to match), and then the merge robot reads the positive label (had to check: https://github.com/kubernetes/test-infra/blob/da192baabd4c52e4a68b5c71bd39c5738928e110/prow/config.yaml#L399)

The event can be missed for the cherry pick. As for race conditions I was referring to the fact th

[2019-01-15 19:00] ixdy commented on #10745
Is there any estimate on how much effort this will require?

[2019-01-15 19:05] Katharine commented on #10771
/area prow/deck/spyglass

[2019-01-15 19:07] spiffxp commented on #4824
/milestone 2019-goals
Not even going to try this quarter lol

[2019-01-15 19:09] BenTheElder commented on #4824
isn't this more like
`/milestone someday` ? :wink:

[2019-01-15 21:06] spiffxp commented on #9814
/area kubetest

[2019-01-15 21:07] spiffxp commented on #9978
/area gopherage

[2019-01-15 21:07] spiffxp commented on #9679
/area jobs

[2019-01-15 21:30] oomichi commented on #5231
@spiffxp
Can https://github.com/kubernetes/kubernetes/pull/72935 help for improving unit test coverage?
Or do we have already this kind of tool?

[2019-01-15 21:40] BenTheElder commented on #10544
discussed a possible path forward on this today: we can put the resolved refs after checkout into the clone-records.json, thread here: https://kubernetes.slack.com/archives/CDECRSC5U/p1547584185236700

@cjwagner, thoughts on this? @stevekuznetsov seems OK with it, and I spoke to @krzyzacy about it.

[2019-01-15 21:54] krzyzacy commented on #10745
PRing :-)

[2019-01-15 21:54] krzyzacy commented on #10745
/assign

[2019-01-15 22:00] benmoss opened #10778 "Tests fail after 55 minutes, but weren't hung"
**What happened**:
`pull-kubernetes-e2e-kops-aws` tests failed against [a PR](https://github.com/kubernetes/kubernetes/pull/72918) because the 55m timeout was reached. It appears that none of the tests had failed or hung, but just actually took this long to reach this point.

**What you expected to happen**:
The tests pass, the PR didn't change anything that should have caused them to fail

**How

[2019-01-15 22:02] benmoss commented on #10778
I saw https://github.com/kubernetes/test-infra/issues/9805, but unlike that one this test run doesn't seem to have a long hang anywhere in the test run.

[2019-01-15 22:05] BenTheElder commented on #10778
timeouts are intentional, we aren't going to run tests indefinitely.

On Tue, Jan 15, 2019 at 2:02 PM Ben Moss <notifications@github.com> wrote:

[2019-01-15 22:17] benmoss commented on #10778
Yeah, I was uncertain what the thinking was there. If we don't want to budge on 55 minutes, then we have to figure out where the slowdowns are to stop this. Is there any work being tracked in that area? Seems like a big problem to tackle.

[2019-01-15 22:35] BenTheElder commented on #10778
following up on this, I think the kops testing itself is broken, bringing up some discussion in #sig-testing slack https://prow.k8s.io/?job=pull-kubernetes-e2e-kops-aws

I don't think its a test slowdown, this looks like a quota / provisioning issue, which we have with this presubmit frequently >.>

[2019-01-15 22:39] BenTheElder commented on #10778
to the other point: we do not want to make the presubmits any slower, but also I don't think that would fix this, it looks very much to be a bringup issue: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/72862/pull-kubernetes-e2e-kops-aws/119421/

[2019-01-15 22:42] benmoss commented on #10778
Closing, since we think it's a kops-aws flakiness problem

[2019-01-15 22:42] #10778 closed

[2019-01-16 02:44] cjwagner commented on #10544
👍
Would we then have `initupload` include the resolved refs from clone-records.json in started.json? Otherwise consumers will need to read clone-records.json in addition to started.json and finished.json.

[2019-01-16 04:59] cblecker commented on #10766
The base branch was also changed *after* the PR was opened. I don't know if prow will react properly in that condition

[2019-01-16 05:02] cblecker commented on #10766
Also, there were a number of times labels were manually added, rather than using bot commands. There are race conditions in GitHub's UI. It is preferable to use the bot slash commands to modify labels, rather than the GitHub UI selector.

[2019-01-16 05:34] BenTheElder commented on #10766
:100: -- essentially the github web frontend seems to do a "Set" operation on the label list rather than just adding the labels, when you add or remove labels via the web-ui the robot may have changed labels since they were loaded into your browser and your change can undo them. Unfortunately the only good solution we know is to stick to the slash commands which operate via the API instead.

[2019-01-16 11:26] idealhack opened #10787 "To run test pods in a different namespace or not"
We have instruction on [Run test pods in a different namespace](https://github.com/kubernetes/test-infra/blob/a04ec99281a655f1b66e43ce4479beb0cd76d3fa/prow/getting_started_deploy.md#run-test-pods-in-a-different-namespace). I also saw there're [configs](https://github.com/kubernetes/test-infra/search?q=test-pods) to set this to `test-pods` namespace.

But the instruction and configs are not complet

[2019-01-16 11:44] grahamwhaley commented on #10687
I'm having a similar issue. I want to deploy and try out `prow` in my local cluster, and don't have `gcloud` installed, so instantly run into:

[code]

Nothing I type at the `Choose context` prompt gets me around that.

The [docs hint I can run this on any k8s cluster](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#deploying-prow), and don't say I need `gcloud`

[2019-01-16 11:49] grahamwhaley commented on #10687
Adding to the above - when I do choose context '0', I get:

[code]

Maybe I have a local setup issue, but I'll dig into the code a bit, as the mention of `gcloud` in the error still feels wrong.

[2019-01-16 11:55] grahamwhaley commented on #10687
OK, looks like `tackle` is pretty hard wired to `gcloud` - I'll go with the [manual deployment](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#manual-deployment) like @idealhack did. Sorry for the noise ;-)

[2019-01-16 14:06] idealhack commented on #10687
@grahamwhaley It's OK. Thanks for trying out and feedbacks! We still have some hiccups here with tackle and gcloud 😅

[2019-01-16 18:58] spiffxp opened #10794 "Oops we accidentally rolled out implicit self approve to all repos"
Issue for a retro based off of the [agenda item I rambled on at sig-contribex](https://docs.google.com/document/d/1qf-02B7EOrItQgwXFxgqZ5qjW0mtfu5qkYIF1Hl4ZLI/edit#)

Timeline:
- Dec 10: notify k-dev@ of k/community change https://groups.google.com/forum/#!msg/kubernetes-dev/oWbV6uiQMIM/0ku8cvSZBgAJ
- Dec 10: not sure if this is the root cause PR? https://github.com/kubernetes/test-infra/pull/1043

[2019-01-16 18:58] spiffxp commented on #10794
/milestone v1.14

[2019-01-16 19:13] BenTheElder commented on #10787
/area prow

Perhaps not the most useful answer but: running test pods in a namespace ~ gives standard k8s benefits for name-spacing workloads. It would be fine not to but it makes them easier to identify, apply policies, etc.

I believe all role bindings are in [the configs](https://github.com/kubernetes/test-infra/tree/master/prow/cluster)?

[2019-01-16 19:14] Katharine commented on #10794
That was #10435 — it didn't merge until January 10th, and was then deployed on January 11th, which is the point at which the defualt changed.

[2019-01-17 03:44] idealhack commented on #10787
Thank you, Ben, the answer is good enough :)

I have to add the following configs to make deck and plank work, but I wondered if there need more so I asked. I'm willing to make a PR of this.

I'd also like to make this a default option by adding them to `starter.yaml` and `pod_namespace: test-pods` to the instruction of writing `config.yaml`.

<details>

[code]

</details>

[2019-01-17 04:39] BenTheElder commented on #10787
👍 for starting guide will defer to @cjwagner :-)

[2019-01-17 16:39] idealhack commented on #10470
I don't think I can actively work on this in 1.14 cycle, so someone else feel free to take it.

/unassign

[2019-01-17 18:30] spiffxp commented on #10065
Really interested in using this going forward.  I think it would help simplify the fact that we have too many OWNERS files in too many places that end up going stale.

My evil plan is something like:
- add support github teams to approvers plugin, dereference/expand the team when it comes to choosing who to assign (aka do not consider teams valid assignees or reviewers, only their members)
- manag

[2019-01-17 18:33] spiffxp commented on #10065
This is only viewable to admins of a given GitHub org, we prefer public transparency.  Further, there is no way to know the reasons people are added or removed based off of the audit log.  PRs help with that.

[2019-01-17 18:35] #10602 closed

[2019-01-17 18:51] jchauncey commented on #9805
Im actually getting the same thing when running the tests (from master branch). There are no pods or namespaces stuck in terminating and nothing suspicious happening on the cluster.

[2019-01-17 19:33] krzyzacy commented on #9867
/remove-lifecycle stale

we have rbac for newly-added controllers at least..

[2019-01-17 21:15] BenTheElder commented on #10065
FWIW, you do not need github teams or the github API to do this, instead you can let the approvers package be aware of this central teams config ...

[2019-01-17 23:36] #8659 closed

[2019-01-17 23:37] Katharine commented on #9478
/remove-lifecycle stale

[2019-01-17 23:54] BenTheElder commented on #9805
/remove-lifecycle stale

[2019-01-18 03:54] #10649 closed

[2019-01-18 06:25] fejta opened #10821 "Create utility for using kubeconfig for creds instead of build-cluster"
The build controller supports using the standard kubeconfig file that the official client uses.

However, since prow.k8s.io uses a legacy build-cluster file it also supports adapting this into something the official client can understand:

https://github.com/kubernetes/test-infra/blob/accc8109e9529acaa064ae7df74cfe12d6cd0970/prow/cmd/build/main.go#L126-L194

It would be replace all the build-clust

[2019-01-18 06:43] fejta commented on #10687
/help

Fix would be to add a check for `gcloud config get-value compute/zone` and if it is empty either ask the user and/or tell them to run `gcloud config set compute/zone whatever`

https://github.com/kubernetes/test-infra/blob/accc8109e9529acaa064ae7df74cfe12d6cd0970/prow/cmd/tackle/main.go#L77-L79

[2019-01-18 06:44] #10666 closed

[2019-01-18 16:53] bobcatfish opened #10827 "Tide stuck for build-pipeline repo (trouble merging?)"
**What happened**:

In the build-pipeline repo, Tide doesn't seem to be merging https://github.com/knative/build-pipeline/pull/362

The status of the checks are all green:

![image](https://user-images.githubusercontent.com/432502/51400682-fbd85500-1b16-11e9-9b74-60563444beed.png)

And tide itself seems to be happy enough:

![image](https://user-images.githubusercontent.com/432502/51400699-085cad8

[2019-01-18 17:04] bobcatfish commented on #10827
More deets:

The repo had both "squash and merge" and "rebase" as available merge options, but we only use "rebase" (via tide) and never squash, so i turned off the squash option and now github is showing what i guess is the same error tide is having:

![image](https://user-images.githubusercontent.com/432502/51401541-098eda00-1b19-11e9-8cbe-07f933b261f2.png)

However tide is still green and tryin

[2019-01-18 17:09] adrcunha commented on #10827
From Tide logs:

[code]

Cluster is running gcr.io/k8s-prow/tide:v20190109-716fe27

gcr.io/k8s-prow/tide:v20190109-716fe27
--

gcr.io/k8s-prow/tide:v20190109-716fe27
--

gcr.io/k8s-prow/tide:v20190109-716fe27
--

[2019-01-18 17:18] bgrant0607 commented on #5446
/remove-lifecycle rotten

I think we'd need to figure out what the main purpose(s) of such a test would be. Possibilities:
* apiserver behaviors, which are still evolving (e.g., server-side apply)
* enablement and authorization of required APIs
* lack of access to APIs that could be inaccessible for security reasons
etc.

[2019-01-18 17:52] stevekuznetsov commented on #9840
I always run on `debug` level FWIW -- it's very useful after the fact. Whenever I see spammy warnings or errors, I squash them. Would love someone else to jump on that bandwagon as well :)

[2019-01-18 17:58] stevekuznetsov commented on #10827
Does `tide` end up merging other possible PRs or does it crash-loop on this one forever?

[2019-01-18 17:58] stevekuznetsov commented on #10827
/cc @cjwagner
/kind bug
/area prow/tide

[2019-01-18 18:11] adrcunha commented on #10827
Crash-looping forever. Still stuck as you can see in https://prow.knative.dev/tide (at least until the offending PR gets rebased and the merge succeeds).

[2019-01-18 18:11] cjwagner commented on #10827
Yeah Tide can get stuck on PRs if there is a PR that it thinks should be mergeable, but isn't for some reason. I think this is the first time we've hit this specific case because most repos don't use the rebase merge strategy.

We have an issue open for making Tide eventually give up on a PR that can't be merged for some reason: https://github.com/kubernetes/test-infra/issues/10001

In the meantim

[2019-01-18 18:12] cjwagner commented on #10827
You don't mean this literally, right? Tide shouldn't be crashing from this.

[2019-01-18 18:13] dims commented on #5446
long-term-issue (note to self)

[2019-01-18 18:14] stevekuznetsov commented on #10827
Yeah, sorry -- it will just fail to do the merge and try again forever

[2019-01-18 18:14] stevekuznetsov commented on #10827
I wonder if in these cases `tide` itself should add the `hold` label and a comment explaining what went wrong

[2019-01-18 18:15] stevekuznetsov commented on #10001
One option -- have `tide` comment on the PR with an explanation of the error and `/hold` to pull the PR out of the queue

[2019-01-18 18:55] #9112 closed

[2019-01-18 19:14] cjwagner commented on #10001
That seems reasonable and is a lot simpler than adding state to `tide` to track failed merges, but there is the down side of not retrying the merge before giving up meaning that transient failures could kick PRs out of the merge pool.
In particular if a repo requires the `tide` status context (which isn't recommended but does have use case) we typically fail to merge the PR on the first attempt be

[2019-01-18 19:45] cjwagner commented on #9840
I'm on the bandwagon with you. We have logs set at the debug level and I monitor periodically at the warning level.
https://github.com/kubernetes/test-infra/blob/645ca4a6589104328a70dd242025beb76f060044/prow/config.yaml#L42

[2019-01-18 20:57] #9113 closed

[2019-01-18 21:28] fejta opened #10833 "Sidecar fails with no process log error"
time="2019-01-18T20:57:38Z" level=fatal msg="Invalid options: no log file specified with --process-log"

ref https://github.com/kubernetes/test-infra/pull/10830 https://github.com/kubernetes/test-infra/pull/10825

[2019-01-18 21:34] spiffxp opened #10834 "Propose enabling owners-label prow plugin for all kubernetes orgs"
**What would you like to be added**: Instead of enabling owners-label per-repo, let's enable it for all kubernetes orgs that we manage

**Why is this needed**: Auto-labeling PR's with the appropriate sig, wg, or area label can be really helpful for triage.  The other OWNERS-driven features are enabled by default everywhere, why not this?

This issue intended more to spark discussion about whether

[2019-01-18 21:42] spiffxp commented on #10834
ref: https://github.com/kubernetes/test-infra/pull/9011#pullrequestreview-145402210

Curious if this is still the case today.  Are we token constrained?

[2019-01-18 21:43] spiffxp commented on #10834
/assign @cjwagner @cblecker
for comment

[2019-01-18 21:49] spiffxp commented on #10834
Did we have ghproxy back then? Would ghproxy alleviate these concerns?

[2019-01-18 21:50] spiffxp commented on #8536
/sig contributor-experience

[2019-01-18 22:05] cjwagner commented on #10834
Token usage might be ok with ghproxy (especially with request coalescing). I think I can also make owners-label save some tokens in some more cases.
We should really switch some of the expensive maintenance jobs like branchprotector, label_sync, and peribolos to their own bot token (e.g. k8s-merge-robot). That would make token usage less of a concern overall.

Let me try to optimize owners-label a

[2019-01-18 22:23] stevekuznetsov commented on #10001
`checkconfig` will error if you require the `tide` context and it's considered harmful to do so, so why should we support users that do it?

Good point that this requires the `hold` plugin, I guess we could add a `tide`-specific label that it won't merge into or choose one at random from the list of invalid labels in the query ;)

[2019-01-18 22:37] cjwagner opened #10840 "Prow should not require build clusters to use legacy authorization."
**What would you like to be added**:
 Prow should support build clusters that don't have legacy authorization enabled. Specifically this means specifying RBAC rules in the build cluster and probably also switching all Prow components that talk to build clusters to use kubeconfigs.
I don't completely understand how the cluster external clients (in our case Prow's service components) identify themse

[2019-01-18 22:43] stevekuznetsov commented on #10840
Yeah, how _are_ you authenticating to the external clusters?

[2019-01-18 23:46] cblecker commented on #10834
I'd suggest maybe we set up a new, better username for those jobs.. like k8s-admin-robot or something. I'd like to deprecate and strip back the old munger account. It's not in all the orgs either.

[2019-01-18 23:47] cblecker commented on #10834
But to not get sidetracked, If the token question is good, then I'd be good with a 72h working day notice on this. It shouldn't have negative impact, but people should just be aware. We have verify-owners on for all repos, right?

[2019-01-18 23:54] #10833 closed

[2019-01-19 01:11] cblecker opened #10845 "prow/cat: 'no' keyword should always show grumpy cat"
**What would you like to be added**:
Using the `/meow no` command should always display a picture of grumpy cat. Is there really a better way to say no to someone?

**Why is this needed**:
This is a silly question.

[2019-01-19 01:14] cblecker commented on #10845
/cc @BenTheElder @fejta

[2019-01-19 01:41] fejta commented on #10845
/pony no

[2019-01-19 01:55] spiffxp opened #10846 "Use excludedRepos for kubernetes org tide query"
AKA switch to using `org: kubernetes -repo:kubernetes/kubernetes` with the `excludedRepos` field
per @cjwagner's suggestion in https://github.com/kubernetes/test-infra/pull/10569#pullrequestreview-189579487

/assign @cjwagner
because you suggested it... or maybe this is for whomever is test-infra on call?

/assign @amwat
you'll want to double check whether this means any updates to the test-infra

[2019-01-19 01:55] spiffxp commented on #10846
/milestone v1.14

[2019-01-19 19:09] taragu commented on #10514
@jlewi do we allow adding an issue or PR to a project of another org or repo? For example, adding an issue from Kubernetes org to kubeflow

[2019-01-19 21:51] BenTheElder opened #10850 "kubectl in kubekins-e2e should be versioned per-release with other tools"
**What happened**: the e2e image "kubekins-e2e" includes a default kubectl install as a fallback for some limited tests that provision a cluster without building (EG the charts repo), while the image itself generally has tools versioned per kubernetes release-branch, this tool is not versioned and is simply the default from gcloud.

**What you expected to happen**: We should do something like this

[2019-01-19 22:00] BenTheElder commented on #9367
poke 🙃

[2019-01-19 22:00] BenTheElder commented on #3083
poke! this plugin seems to be working pretty well where it is deployed, we just need to do https://github.com/kubernetes/test-infra/issues/9367#issuecomment-455818805 and then roll it out more widely

[2019-01-19 22:47] #7520 closed

[2019-01-20 03:15] krzyzacy commented on #10850
Technically each deployer should use `./cluster/kubectl.sh` from k8s tarball for testing purposes instead of depending on kubectl version from gcloud - we are always trying to keep up with the latest gcloud releases, thus I don't think branching (like use an old version of gcloud for older releases?) is a good idea..

[2019-01-20 04:18] BenTheElder commented on #10850
`./cluster/kubectl.sh` actually should go away ... but your point about using kubectl from the tarball is of course correct for the situation where we are testing a k8s CI build.

however...
a) we should still try to behave when we fallback. shipping a weirdly old kubectl is not helpful. we should not ship it.
b) we should not even install kubectl via gcloud. we can obtain one of our own stable bu

[2019-01-20 16:42] taragu commented on #10351
/assign

[2019-01-20 23:33] taragu commented on #10351
@ixdy "only failing to show the components it couldn't reach" --> is there currently a dashboard for deck?

[2019-01-21 06:39] BenTheElder commented on #9390
@ibzib mind updating? 🙃

[2019-01-21 06:42] BenTheElder commented on #8954
/priority backlog
/lifecycle frozen
this is clearly an "important" issue for
/milestone someday

[2019-01-21 07:48] sttts commented on #5843
/remove-lifecycle rotten

[2019-01-21 08:57] alvaroaleman commented on #10402
@krzyzacy Are you currently working on this?

[2019-01-21 19:11] fejta commented on #9902
Fixed
/close

[2019-01-21 19:11] #9902 closed

[2019-01-21 20:17] krzyzacy commented on #10402
yes, I'm trying to migrate reporter to crier first. https://github.com/kubernetes/test-infra/pull/10675 and https://github.com/kubernetes/test-infra/pull/10818 are moving towards that. Once that's done technically we only need to enable Postsubmit to https://github.com/kubernetes/test-infra/blob/master/prow/github/reporter/reporter.go#L55 - will make a follow up PR in the week. (Friday afternoon?

[2019-01-21 21:08] #8250 closed

[2019-01-21 21:22] dims opened #10865 "kubetest does not dump logs when timing out"
The nodes.yaml shows 4 nodes, but the there no logs from any of them in http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-min-node-permissions/495/artifacts/. Also bootstrap-e2e-master is empty expect for the serial log

[code]

from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-min-node-permissions/495/build-log.txt

[2019-01-21 23:46] ibzib commented on #9390
Current status on this is it behaves a bit better -- both the `view/gcs` and `view/prowjob` endpoints try to fetch logs from both pods and GCS, and errors are more helpful -- but we still want a more sophisticated way of dealing with `build-log.txt`. See https://github.com/kubernetes/test-infra/pull/10772
/close

[2019-01-21 23:46] #9390 closed

[2019-01-22 00:35] spiffxp commented on #9679
/assign @krousey @jpbetz
to get your attention, ref: https://github.com/kubernetes/test-infra/pull/10225#issuecomment-441935814

[2019-01-22 08:05] sudeeshjohn opened #10871 "sig-node-ppc64le unit-tests result is not showing up in testgrid dashboard"
**What happened**:
sig-node-ppc64le unit-tests results are not showing up in testgrid dashboard.

**Please provide links to example occurrences, if any**:

https://k8s-testgrid.appspot.com/sig-node-ppc64le#unit-tests

**Anything else we need to know?**:

The results are pushed after each run . and able to fetch back from the storage.

[2019-01-22 08:21] BenTheElder commented on #10871
The metadata for failures invalid, they say `"result": "FAILED"` in finished.json, but the value is `SUCCESS` or `FAILURE`. [see docs here](https://github.com/kubernetes/test-infra/blob/da192baabd4c52e4a68b5c71bd39c5738928e110/gubernator/README.md)

There has not been a successful run since `2019-01-07`, so TestGrid has no results https://gubernator.k8s.io/builds/ppc64le-kubernetes/logs/ci-unit-ku

[2019-01-22 08:52] mkumatag commented on #10871
Thanks for the information @BenTheElder, now I know what to fix!

[2019-01-22 16:57] jlewi commented on #10514
@taragu I don't think we have an immediate need for adding issues belonging to one organization to another organization.

* Our projects though are at the org level whereas issues are per repo; does that answer your first question?

* Yes we have issues that belong to multiple projects

[2019-01-22 17:50] Katharine commented on #10351
Looking into this some more, it looks to me like we don't generally serve 502s when tide isn't available.

What I think is actually happening here is that on startup we [make two blocking requests to tide in sequence](https://github.com/kubernetes/test-infra/blob/7f5424ec0d9088ed42b317b5564991de65db0df6/prow/cmd/deck/tide.go#L60-L67), which can each retry for up to several minutes (it was actually

[2019-01-22 18:13] sudeeshjohn commented on #10871
corrected the metadata and pushed a new set of results. Looks like its still not updating the dashboard.
New data : https://gubernator.k8s.io/build/ppc64le-kubernetes/logs/ci-unit-kubernetes/502/

[2019-01-22 20:14] taragu commented on #10514
@jlewi I see. That answers my question. Adding an issue belongs to a repo in org A to a project in org B is not in the scope of this issue.
For issues that belong to multiple projects, does that mean doing `/project clear` will remove the issue from all projects? Or do we need to specify the specific project like `/project clear 0.4.0`

[2019-01-22 21:33] cblecker commented on #10414
This is in progress :)

[2019-01-22 22:15] fejta opened #10884 "Pod-utils frequently flake"
https://github.com/kubernetes/test-infra/pull/10882

[code]
EDIT(cjwagner):
Failing to upload to GCS may be caused by CPU limitations, but it is worsened by a lack of retries which we should really have anyways so adding retries to the upload logic seems like the first step to addressing this.
This is the upload logic that should be retried: https://github.com/kubernetes/test-infra/blob/69cc5b2962

[2019-01-22 22:17] fejta commented on #10884
/area pod-utils
/area prow
/assign
/cc @stevekuznetsov

[2019-01-22 22:40] fejta commented on #10884
Officially a flake:

forever pending: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/test-infra/10879/pull-test-infra-bazel/23533

pass: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/test-infra/10879/pull-test-infra-bazel/23539

[2019-01-22 22:40] michelle192837 commented on #10871
Hmm, there's an ASCII encode problem when TestGrid's translating the results. Taking a look.

[2019-01-23 00:07] cjwagner commented on #10846
23 of the 67 Kubernetes repos are not using Tide today:
[code]
Special note: We already have Tide configured for `kubernetes/komposer`, but that appears to be a typo and should be `kubernetes/kompose`.

We have a couple ways to move forward with this.
1. We can switch the Tide config to specify `org: kubernetes` and explicitly exclude the above repos from the query using `excludedRepos`. This woul

[2019-01-23 00:08] cjwagner commented on #10846
/sig contributor-experience

[2019-01-23 00:19] spiffxp commented on #10846
With the exception of kubernetes/kompose, all of the repos listed are staging repos (https://github.com/kubernetes/kubernetes/tree/master/staging)

They don't want any PR's to land there, instead redirecting to encourage PR's to k/k/staging

[2019-01-23 00:24] fejta opened #10888 "Prow knative-build jobs do not post a status URL"
/area prow
/area pod-utils
/area

/assign

[2019-01-23 00:31] krzyzacy commented on #10888
yeah you want something like https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L420

[2019-01-23 00:35] spiffxp commented on #10846
/assign @nikhita @sttts
There is concern that enabling tide on these staging repos could one day result in a PR being merged to those repos if someone ignored the PR template and opened a PR anyway, and someone else approved it.  So, we could keep maintaining a list of staging repos and exclude them from tide's query.

But, I feel like we have sufficient safeguards in place today:
- ensure all sta

[2019-01-23 00:37] krzyzacy commented on #9553
/remove-lifecycle rotten
/shrug
/priority backlog

[2019-01-23 00:38] spiffxp commented on #10846
/assign @caesarxuchao
same question

[2019-01-23 00:48] cblecker commented on #10846
Hmm.. would a blockade configuration for those repos be a good idea? Just blockade on any PR?

[2019-01-23 00:52] spiffxp commented on #10846
I guess I was hoping to avoid ongoing maintenance but fair, blockade would be my recommendation if we need another safeguard.

[2019-01-23 00:58] caesarxuchao commented on #10846
It would be ideal if we can instruct Tide to block PRs by setting up some special files in the staging repos. Does Tide support that?

[2019-01-23 01:49] nikhita commented on #10846
I think if someone is listed as an approver for a staging repo, they know not to approve PRs directly to the published repo....but +1 about having safeguards in place.

If we don't want to use `excludedRepos`, then blockade seems good to me.

[2019-01-23 02:56] cjwagner commented on #10846
If we don't want Tide to merge PRs to a repo we should just use `excludedRepos` to make Tide ignore the repos entirely. I don't see any downside to using `excludedRepos` in this case. The motivation for enabling Tide across the org is twofold:
1. Provide a consistent PR experience across the org.
1. Automatically enable Tide on newly created repos in the org.

I think we only really care about min

[2019-01-23 04:11] cjwagner commented on #10787
This sounds like a good idea to me. It should let us simplify the getting started guide a bit and it will communicate a good practice.

Do we need to mention this in [`ANNOUNCEMENTS.md`](https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md) for anyone consuming `starter.yaml`?

Side note: At some point we should switch to both a `starter.yaml` and a `demo.yaml` so that we can

[2019-01-23 04:33] BenTheElder commented on #10871
[followed up on this with testgrid internally] - Michelle already filed a patch 👍

[2019-01-23 06:45] matthyx commented on #9514
/remove-lifecycle rotten
might work on it once we have the command framework

[2019-01-23 09:22] fejta commented on #9514
How about if we block multiple commits by default, until an org member whitelists the multi PR for a multi commit merge?

[2019-01-23 14:39] matthyx commented on #9754
@cjwagner do you think we can/should now remove the code that parses comments for PR trust?
(prow/plugins/trigger/pr.go)

[2019-01-23 16:22] spiffxp opened #10904 "hook is down, the community sees this as a prow.k8s.io outage"
Opening issue for timeline / retro / explanation of what happened and what the fix is

Looks like this is due to a bad prow config

/assign @BenTheElder
since I see him taking it on in #testing-ops (not the on-call! thanks ben!)

[2019-01-23 19:48] stevekuznetsov commented on #9514
@tallclair repos can be configured to merge by squashing, and `tide` already supports squashing using the `tide/squash` [label](https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml#L641).

[2019-01-24 00:35] cjwagner commented on #9754
(prow/plugins/trigger/pr.go)

Sounds reasonable to me. In the worst case, PRs that haven't been touched since we added this feature may need another `/ok-to-test`, right?

[2019-01-24 02:23] nghialv opened #10920 "Gubernator returns no matching index error"
**What happened**:
I have just deployed Gubernator on my GCP project but got the below internal error when access the test result.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2019-01-24 04:35] BenTheElder commented on #10920
@Katharine (sorry! This is what happens when you're too helpful 😅)

On Wed, Jan 23, 2019, 18:23 Le Van Nghia <notifications@github.com wrote:

[2019-01-24 04:47] Katharine commented on #10920
This is interesting.

My _guess_ is that this error is occurring because you have no `GHIssueDigest` entities stored. As such, Cloud Datastore's automatic simple index on properties doesn't exist, and consequently it chokes when trying to perform the lookup.

Do you have any GHIssueDigest entities? You can check at https://console.cloud.google.com/datastore/entities;kind=GHIssueDigest when the cor

[2019-01-24 05:00] nghialv commented on #10920
Hi, @Katharine
Thank for your quick reply.

Yes, I don't have any `GHIssueDigest` entity.

I just want to use Gubernator to show the test results stored in GCS.
I don't need Gubernator's PR Dashboard at this time, so I didn't configure the GitHub webhook.
Can I have another way to make Gubernator work without intergration with GitHub webhook?
(As I remember the previous version worked without GitH

[2019-01-24 05:07] BenTheElder commented on #10904
Leaving this open until we merge https://github.com/kubernetes/test-infra/pull/10911

[2019-01-24 06:14] Katharine commented on #10920
This lookup isn't actually for the PR dashboard, but instead for a feature that lists references to a given Gubernator page on a github issue… [as long as you're Kubernetes](https://github.com/kubernetes/test-infra/blob/9905a951df2f7bf45aa90bcb80c431d41b778f52/gubernator/github/classifier.py#L24). It won't work anywhere else.

Gubernator is in maintenance mode (in favour of ultimate replacement by

[2019-01-24 06:44] matthyx commented on #9754
Yes.

[2019-01-24 08:05] maciaszczykm opened #10921 "Tide not merging PRs at k/dashboard repo"
**What happened**: Tide is not merging PRs at k/dashboard repo after changes done in https://github.com/kubernetes/test-infra/pull/10149.

**What you expected to happen**: PRs to be merged when Travis CI (only required check) will pass.

**How to reproduce it (as minimally and precisely as possible)**: Open https://github.com/kubernetes/dashboard/pull/3529. All checks are green and there is a mess

[2019-01-24 08:21] BenTheElder commented on #10921
filed https://github.com/kubernetes/test-infra/pull/10922

[2019-01-24 08:32] maciaszczykm commented on #10921
@BenTheElder Thank you :)

[2019-01-24 08:41] #10921 closed

[2019-01-24 09:07] maciaszczykm commented on #10921
It works 🎉

[2019-01-24 12:12] munnerz opened #10924 "peribolos: support managing repo collaborators"
**What would you like to be added**:

I'd like to be able to manage individual repository collaborators using peribolos

**Why is this needed**:

Although individual repo permissions in kubernetes/* is discouraged, we at Jetstack want to be able to allow users outside of the `jetstack` org to be assigned issues/PRs. This also allows those users to add 'lgtm' to PRs and so on.

In order to manage t

[2019-01-24 12:13] munnerz commented on #10924
/area prow/peribolos

[2019-01-24 18:54] krzyzacy commented on #9923
/remove-lifecycle stale

made some progress on gerrit (thanks @ibzib), and @sebastienvas has sub controller mostly working now

[2019-01-24 20:49] BenTheElder commented on #10924
@fejta @cblecker

[2019-01-24 21:00] Katharine commented on #10375
I did some work on the UI to prettify it in #10929 / #10932, which hopefully at least mostly resolves the broadest design complaints (@spiffxp):

![image](https://user-images.githubusercontent.com/110792/51708108-e14f2180-1fd7-11e9-80e0-cfefeeb39a04.png)

[2019-01-25 00:34] fejta opened #10943 "Replace configAgent interfaces with a Getter function"
Rather than having `foo.configAgent.Config()` everywhere, let's just replace this with `foo.config()` and use a function type rather than interface

[2019-01-25 04:02] nghialv commented on #10920
Thanks for your sharing.

I have just tried to use `Spyglass` and I have to say that I love it. Written in golang, easy to deploy, GKE instead of App Engine.
I will not close this issue because you added it to `v1.14`.

Thank you so much.

[2019-01-25 06:12] mskonovalov opened #10945 "Having different jobs for branch protection and presubmit"
**What would you like to be added**:
It's more question firstly whether it is possible or not:
I want to have 2 different jobs configured - 1st long and heavy so it should be `always_run: false` and be started only manually. And the 2nd fast that should be run by tide when all the prerequisites are met.

Now I have the following config:
[code]
 (in this particular case 1st-job contexts is external

[2019-01-25 06:12] mskonovalov commented on #10945
/area tide

[2019-01-25 06:15] mskonovalov opened #10946 "Use clonerefs without initupload or sidecar"
**What would you like to be added**:
We want to use PodUtils but without GCS part but it seems to be not possible as all pod utils are tightly connected and if I don't provide the GCS auth data init-uploadds fails.

**Why is this needed**:
We use test-infra outside of GCS

[2019-01-25 06:15] mskonovalov commented on #10946
/area pod-utils
/area prow

[2019-01-25 06:31] mskonovalov opened #10947 "Undefined required context treated by Tide differently"
**What happened**:
I have the following config:

[code]
So the `1st-job` is external and goes from the buildkite not from prow.
1) Tide shows only that label is required and not showing anything about job

<img width="697" alt="image" src="https://user-images.githubusercontent.com/4463812/51728832-b642fb80-20c5-11e9-9f2d-109ae65ea47c.png">

2) When the label is added it started to show that job is

[2019-01-25 06:31] mskonovalov commented on #10947
/area prow

[2019-01-25 06:46] mskonovalov commented on #10947
/area prow/tide

[2019-01-25 07:12] justaugustus commented on #9925
/assign
/sig pm architecture testing

[2019-01-25 07:37] stevekuznetsov commented on #10947
Can you run `tide` with debug logging and post the output for the PR in question?

[2019-01-25 07:38] stevekuznetsov commented on #10947
Also, are you saying that `tide` merges it but the status context does not get updated? This may have been a race between the two controllers

[2019-01-25 07:38] stevekuznetsov commented on #10947
/cc @cjwagner

[2019-01-25 07:39] stevekuznetsov commented on #10946
What are you expecting to happen without GCS? Do you just want the cloning?

[2019-01-25 07:39] stevekuznetsov commented on #10946
/assign

[2019-01-25 07:42] stevekuznetsov commented on #10945
I *think* that `always_run: false`, without `run_if_changed` set to anything, is right now erroneously not considered required. That should be fixed with #10373

[2019-01-25 07:42] stevekuznetsov commented on #10945
/cc @cjwagner

[2019-01-25 10:18] #9003 closed

[2019-01-25 15:39] neolit123 commented on #2364
/lifecycle frozen

[2019-01-25 16:38] justaugustus commented on #9925
Very interested in this!
@wwwil -- when you have a design proposal in mind, can you also share it with kubernetes-pm@googlegroups.com?

[2019-01-25 19:57] neolit123 opened #10958 "automate the build and push of the kubekins-e2e image"
**What would you like to be added**:
- automation of the build and push of the kubekins-e2e image when changes under certain paths happen. e.g. `/kubetest`.
- automatic retagging of jobs that use the image.

**Why is this needed**:
without such automation, after changes in kubekins contents the image has to be re-built and pushed on demand by a human.

/kind feature
/area images
/priority importan

[2019-01-25 19:59] BenTheElder commented on #10958
/cc @krzyzacy

then we can simplify the bump script ant let anyone file a bump :-)
the other images do not need to change very often

[2019-01-25 20:01] krzyzacy commented on #10958
:100: !!!

[2019-01-25 20:03] krzyzacy commented on #10958
Also note that kubekins image is built on top of bootstrap, so we need to be aware of bumping that as well..

Technically we can mimic the prow bump today now :-)

[2019-01-25 20:36] liztio commented on #10693
# Status Update

- [x] Generalize existing aws-janitor codebase to support cleaning arbitrary objects (#10707)
- [x] Add methods to list all objects in an account (#10908)
- [ ] Add client to poll Boskos for dirty accounts [based on existing GCE Janitor code](https://github.com/kubernetes/test-infra/blob/master/boskos/janitor/janitor.go#L100-L131)
- [ ] [Dockerfile for new cleaner](https://github.

[2019-01-25 20:52] justinsb commented on #10693
The janitor issue should have been fixed in https://github.com/kubernetes/test-infra/pull/10619

I think using multiple accounts is a nice idea.  We should make sure that new accounts have enough quota - sometimes they can only launch a handful of t2 instances IIRC.

Note that kops doesn't have a detailed log of what is created.  Well, we can figure it out, but janitor doesn't use it - by design -

[2019-01-25 22:55] ibzib opened #10967 "Spyglass design nit: extremely long Junit test names stretch table"
**What happened**:
Junit tests with overly verbose names without spaces (like `TestDaemonSetWithNodeSelectorLaunchesPods/ScheduleDaemonSetPods_(false)/TestDaemonSetWithNodeSelectorLaunchesPods/ScheduleDaemonSetPods_(false)_(&DaemonSetUpdateStrategy{Type:RollingUpdate,RollingUpdate:&RollingUpdateDaemonSet{MaxUnavailable:1,},})` 🤢 make the whole Spyglass Junit viewer stretch out horizontally way bey

[2019-01-25 22:57] fejta opened #10968 "Crier needs to truncate context messages to <= 140 chars"
Seeing a lot of the following:

[code]

[2019-01-25 22:58] fejta commented on #10968
/area prow
/area prow/crier
/assign

[2019-01-25 23:35] krzyzacy commented on #10968
Didn't see this issue :-) https://github.com/kubernetes/test-infra/blob/master/prow/report/report.go#L81 needs to be truncated.

[2019-01-26 01:03] krzyzacy commented on #7741
So ref https://github.com/kubernetes/test-infra/pull/10973:

When switching from plank to crier, crier doesn't know the reporting state for existing prowjobs so it was trying to re-report each job which causes prow to use up all its github tokens. Plank need to set `pj.Status.PrevReportStates` in order for a seamless transition.

Will send a few follow-up PRs & docs.

[2019-01-26 05:07] #10968 closed

[2019-01-26 07:37] cjwagner commented on #10945
Tide will **rerun** jobs as necessary, but it will not trigger jobs that have never run before. It doesn't consider the PR to be mergeable at all because PRs must first be passing all required tests (not necessarily against the latest base branch commit).  Tide just reruns tests that have already passed to make sure they are up to date.

In this case I think you just want to set `always_run: true`

[2019-01-26 08:00] BenTheElder opened #10978 "/assign does not document that multiple users may be assigned"
**What happened**: https://github.com/kubernetes/steering/pull/90#issuecomment-455354214 <-- lots of individual `/assign` comments @pwittrock 🙃

**What you expected to happen**: https://prow.k8s.io/command-help#assign should make usage clear, it does not. Only assigning a single user is documented, and the `@` not being strictly necessary is not documented. We should document the multi-user `/assi

[2019-01-26 08:40] matthyx opened #10979 "Tree-hash recovery from comment randomly works"
Sometimes it works: #10808
Sometimes not: #10655, #10915, #10432, #10273, #10141, #10019, #9964, #9890, #9823

I will look at it.

[2019-01-26 08:40] matthyx commented on #10979
/assign

[2019-01-26 08:43] fejta commented on #10978
Technically all of this is documented on the left-most column: `/[un]assign [[@]...]`

[2019-01-26 16:36] BenTheElder commented on #10978
Fair, but it will be much more obvious if one of the examples and the detail text highlight this. Currently the command pattern column is the only thing that documents this.

[2019-01-27 16:36] stevekuznetsov opened #10984 "plank: fails to patch previous report state"
After upgrading from `v20190109-716fe27` to `v20190126-000ebb4` I now see:

[code]

[2019-01-27 16:36] stevekuznetsov commented on #10984
/area prow/plank
/assign @krzyzacy

[2019-01-27 16:40] stevekuznetsov commented on #10984
I assume it was caused by this 211817826fc3c4f3315a02e46f3d6aa35573d22f

[2019-01-27 16:45] taragu commented on #9836
/assign

[2019-01-27 17:55] taragu commented on #9836
The last use case left is package comments. For these, the line number of `lint.Problem` is different than the actual line number of the problem location. An example problem would be "package comment should not have leading space"
[code]
The line number `p.Problem.Line` and the line text `p.LineText` points to `/*`. So this doesn't really fit in with the existing implementation of [`golint_suggest

[2019-01-27 19:55] neolit123 commented on #10414
:tada: :+1:

[2019-01-27 20:07] neolit123 commented on #10865
a test running for 8.5 hours. :grimacing:

[2019-01-27 22:46] stevekuznetsov commented on #6852
/reopen
/remove-lifecycle rotten

[2019-01-27 22:46] stevekuznetsov commented on #10979
/area prow/hook

[2019-01-27 22:56] stevekuznetsov commented on #9836
If we're just pasting string suggestions and not using GItHub's beta review suggestion tool I think just pasting it to the line that the linter picks up is fine

[2019-01-28 01:04] krzyzacy commented on #10984
ack

[2019-01-28 01:40] #10984 closed

[2019-01-28 03:31] krzyzacy commented on #10984
lol - I was planning to try it out myself Monday morning, you beat me to this :-)

[2019-01-28 03:46] PatrickLang opened #10989 "Rename SIG-Windows conformance to release on TestGrid"
Can we rename the "[Conformance acs-engine on Azure](https://testgrid.k8s.io/sig-windows#Conformance%20acs-engine%20on%20Azure)" dashboard to "SIG-Windows Release (Azure)"?

There's a few reasons for this:
- Testing is no longer just focused on the conformance tests - that's a separate task from graduating Windows support to stable.
- We need to make sure it's easy to find the right release dashbo

[2019-01-28 06:13] krzyzacy commented on #10865
kubetest leaves 15min for log-dumping after build timeout and the log dumping step itself timed out in 15min... I suspect the artifacts are GIANT for some reason?

(see
[code]
)

[2019-01-28 06:37] #7032 closed

[2019-01-28 07:34] matthyx commented on #9754
Last step here: #10991

[2019-01-28 17:53] cjwagner commented on #10978
/unassign
/help

[2019-01-28 18:21] michelle192837 opened #10997 "Break up the TestGrid config.yaml"
The TestGrid config.yaml (https://github.com/kubernetes/test-infra/blob/master/testgrid/config.yaml) is currently one monolithic file that can be hard to parse through (and takes a long time to load/scroll through). Instead, allow users to define separate config.yaml files (similar to Prow jobs) that are scoped to dashboards/dashboard groups, and make sure config translation from YAML to proto can

[2019-01-28 18:23] krzyzacy commented on #10402
Current status:

I added the report field for postsubmit jobs (not reporting by default), and found out the report lib need to be updated in order to update status on a BaseSHA instead of PullSHA.

Once it works I'll post the announcement and we have plan to switch on report for all postsubmit jobs and unify the report field in config with presubmit jobs.

[2019-01-28 18:36] krzyzacy commented on #10997
I think for a job, the annotation just need to indicate which dashboard it need to be on if they don't need to customize more fields? (We cover most of the goodies in our defaults)

[2019-01-28 18:45] michelle192837 commented on #10997
Description is the other one I can think of that most users should customize. (Possibly alerting too but I don't think it's that common). Possibly dashboard group as well (coverable by 'which sig owns this'?).

Does an annotation in Prow also mean the config is a TestGrid config, or that the config may be sometimes in Prow config, sometimes in TestGrid?

[2019-01-28 18:49] krzyzacy commented on #10997
Description can be a useful thing to share between Prow and Testgrid.

Annotation is just a generic key:value pair - maybe in the future it's also useful to link from Prow to Testgrid? xD (Also how we did that with gubernator?)

[2019-01-28 18:53] spiffxp commented on #10369
Prior art that exists today that you can use or build on:
- we have a [public bigquery dataset](https://bigquery.cloud.google.com/dataset/k8s-gubernator:build) that is populated by [kettle](https://github.com/kubernetes/test-infra/tree/master/kettle)
- one example of running against that dataset is the [triage dashboard](http://go.k8s.io/triage)'s [update script](https://github.com/kubernetes/test

[2019-01-28 18:55] spiffxp commented on #10369
Not exactly related to flakiness, but another example of trying to tie these things together: Use testgrid + a metric output to generate a list of all test failures with links to all of the relevant testgrid dashboards https://gist.github.com/spiffxp/1e3ff608a92e8bfc0091a0b2918a11c6

It's bash and jq, so I was too ashamed to share or push it further in the test-infra repo, but hey, maybe it can be

[2019-01-28 18:55] spiffxp commented on #10369
/help

[2019-01-28 18:59] michelle192837 commented on #10997
👍

Yeah, that does seem super-useful. I have no idea how Gubernator did it XD

[2019-01-28 19:01] spiffxp commented on #10369
We have a job that [periodically auto-files issues](https://github.com/kubernetes/test-infra/blob/2ace1fe514302320e47b617f1799a7cd6ffdd57a/config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml#L153-L179) if there are flakes or failures.  I think it's limited to kubernetes/kubernetes and I'm not exactly sure how far back it looks.

[is:issue org:kubernetes author:fejta-bot sort:created-desc](h

[2019-01-28 19:22] ixdy commented on #10997
Yes, you can use multiple YAMLs:
https://github.com/kubernetes/test-infra/blob/6cda085221f72c6f4b519de471e93f2bac610277/testgrid/cmd/configurator/main.go#L63

They're processed in the order provided, so if one provides defaults, later files will use those same defaults unless overridden.

[2019-01-28 19:26] spiffxp opened #11001 "boskos resource exhaustion: us-central1-f"
**What happened**:
[code]

**What you expected to happen**:
boskos should be able to get a project

**Anything else we need to know?**:
This is impacting multiple jobs

[2019-01-28 19:31] spiffxp commented on #11001
ref: https://github.com/kubernetes/test-infra/pull/9161 this happened before

[2019-01-28 19:32] spiffxp commented on #11001
https://storage.googleapis.com/k8s-gubernator/triage/index.html#ea6679417165f10786e6
I'm going to guess this is hitting a lot of our jobs
![screen shot 2019-01-28 at 11 32 35 am](https://user-images.githubusercontent.com/49258/51861187-6e53ec80-22f0-11e9-9d07-e791ec3dc1b1.png)

[2019-01-28 19:36] davidz627 commented on #9620
/remove-lifecycle rotten

[2019-01-28 19:36] davidz627 commented on #9597
/remove-lifecycle rotten

[2019-01-28 19:39] krzyzacy commented on #11001
This has nothing to do with boskos though :-) us-central1-f was out of quota

Wonder if we can find a way to list zonal quota and load-balancing clusters to other zones...

[2019-01-28 19:41] spiffxp commented on #11001
I'm trying to use this as continued evidence that it'd be nice to have boskos pool across zones if there's an issue fo rthat

[2019-01-28 19:43] krzyzacy commented on #11001
Each project technically has same quota for all available zones so we don't need to make zonal pools. We need to somehow be able to detect stock outs though..

[2019-01-28 19:49] spiffxp commented on #11001
Given that we're hitting stockouts should we shift everything elsewhere, or sit tight and wait? If the latter we should let kubernetes-dev@ know.

I'd rather move to unblock, but I don't know if that means we'll bump into quota issues elsehwere

[2019-01-28 19:51] fejta commented on #11001
We should not have all resources in one zone. This is going to result in these types of outages. Instead can we:
* Use regional clusters (aka --zone=us-central1)
* Start getting quota in multiple regions

[2019-01-28 19:53] spiffxp commented on #11001
I agree with that stance in the long term. Is there an issue for this?

Short term, I feel like we should prioritize unblocking:
- anything that runs in sig-release-master-blocking
- anything that runs as a blocking presubmit to kubernetes/kubernetes

[2019-01-28 19:57] cblecker commented on #11001
regional clusters are fine for GKE, but this is GCE nodes isn't it?

Yes, we should move zones. I'm okay with moving to a completely different single zone short term, but longer term we should figure out how to be in multiple zones.

[2019-01-28 19:57] spiffxp commented on #11001
[I notified kubernetes-dev@](https://groups.google.com/forum/#!topic/kubernetes-dev/Kf8Eurvh3Is)

[2019-01-28 20:03] cblecker commented on #11001
It would be great if there was a google api for "is the cloud full" 🤔

[2019-01-28 20:24] neolit123 commented on #11001
i think a great fix in the longterm for the pre-submits is not have the CP dependency on blocking jobs.
/hides

[2019-01-28 20:36] pondohva commented on #11001
Another temporary fix is switch to pd-ssd StorageClass.

[2019-01-28 20:42] rdodev commented on #10693
I'll be looking at tasks which can be do in parallel here. Will probably start with creation of AWS accounts.

[2019-01-28 21:12] spiffxp commented on #11001
@pondohva

neither have I, but https://storage.googleapis.com/k8s-gubernator/triage/index.html#ea6679417165f10786e6 is telling me this is not a blip, and every occurrence I've spot checked has had this same problem

@amwat discussed with @fejta @BenTheElder @krzyzacy and myself offline, we're going to try doing the "stupid" thing first, let's just switch everything out of us-central1-f

[2019-01-28 22:08] BenTheElder commented on #10989
sure, renaming is just a PR away, please do keep names accurate.
/assign @adelina-t @PatrickLang

https://github.com/kubernetes/test-infra/tree/master/testgrid#configuration
/area jobs

FYI @spiffxp
Please also consider:
- if this gets in a healthy state you should probably look to get it into one of the actual release team monitored dashboards
- for such monitoring, it will then need to include o

[2019-01-28 22:36] spiffxp opened #11004 "Update the cla plugin to allow overriding the CLA check"
**What would you like to be added**:

I think I'm asking for a `cncf-cla: yes` label to be applied via a bot command that is restricted to repo admins, in a way that wouldn't cause the check-cla plugin to race with with the linuxfoundation/cla status context

Alternatively, I'm asking for us to allow tide to look for a `cncf-cla: human-approved` label instead of `cncf-cla: yes`.  I think this woul

[2019-01-28 22:38] spiffxp commented on #11004
Example: https://github.com/kubernetes/enhancements/pull/725 - k8s-merge-robot hasn't signed the CLA

[2019-01-28 22:39] spiffxp commented on #11004
Example: https://github.com/kubernetes/community/pull/3001 - github user no longer has the e-mail address that was originally used to make the commit (this e-mail address was valid and had signed the CLA)

[2019-01-28 22:40] spiffxp commented on #11004
kubernetes/utils PRs merged manually because of the CLA:
- https://github.com/kubernetes/utils/pull/66
- https://github.com/kubernetes/utils/pull/65

[2019-01-28 22:41] spiffxp commented on #11004
/sig testing
/priority important-longterm

[2019-01-28 22:41] BenTheElder commented on #11004
Might be too ugly in tide, but this is clearer than overriding imho, and we had this with the submit queue

[2019-01-28 22:42] spiffxp commented on #11004
Example: https://github.com/kubernetes/kubernetes/pull/73042#issuecomment-455724404 - anago hasn't signed the CLA

[2019-01-28 22:46] spiffxp commented on #10997
I have been playing around with this in the background FWIW, somehow I didn't notice the multiple YAML files thing 🤦‍♂️

[2019-01-28 22:52] ixdy commented on #10997
well, it was [added back in 2017](https://github.com/kubernetes/test-infra/pull/2060), so ... :)

[2019-01-28 23:58] fejta opened #11009 "Integrate prow with resultstore"
ResultStore is in EAP (early access preview), and we can get our projects whitelisted.

Create a utility which:
* takes a gcs://prefix/$job/$build as input,
* reads the metadata from started.json, finished.json and artifacts/**/junit*.xml
* creates a ResultStore invocation, targets, configurations, configuredtargets, actions with this data
* upload it into result store

Protos and service definiti

[2019-01-29 00:06] fejta commented on #11009
/area prow

[2019-01-29 00:41] fejta commented on #11009
Click the source.cloud.google.com link. It is a place to store job results and view the logs later. Think a hosted version of gubernator.

[2019-01-29 00:55] stevekuznetsov opened #11011 "mkbuild-cluster: use SAR to verify that credentials can be used to run Prow"
/assign @fejta
Current check to list pods is not sufficient

[2019-01-29 01:40] spiffxp commented on #11001
Checking back in to see if #11002 has helped out.  It merged around 3:30pm PT so only jobs scheduled after then will benefit.

Presubmits will show us sooner than the slower jobs:
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&width=5 is looking happier
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e&width=5 is a clear yes

Lookin

[2019-01-29 01:44] spiffxp commented on #11001
/kind failing-test
In my haste to fail, this really show have been a failing-test issue, since it was about jobs/tests continually failing

[2019-01-29 01:56] #5453 closed

[2019-01-29 02:02] midnightconman opened #11014 "Hook Approve Plugin Doesn't Support Different Github URL"
**What would you like to be added**:
I would like the hook approve plugin to use the same `github-endpoint` provided to hook (via `--github-endpoint`)
**Why is this needed**:
I am unable to use the hook approve plugin on Github Enterprise without this functionality.

[2019-01-29 02:49] midnightconman commented on #11014
Here is a redacted example:

[code]

[2019-01-29 02:51] midnightconman commented on #11014
I am running hook version `gcr.io/k8s-prow/hook:v20190123-36919f3`

[2019-01-29 02:51] stevekuznetsov commented on #11014
Ah this is the `git` client -- This is being fixed in https://github.com/kubernetes/test-infra/pull/10129

[2019-01-29 02:54] midnightconman commented on #11014
Excellent, thank you... Can we close this issue?

[2019-01-29 04:58] stevekuznetsov commented on #11009
How does this overlap with spyglass?

[2019-01-29 05:35] fejta commented on #11009
IMO the primary spyglass use case is for viewing in progress and/or recently completed job logs.

ResultStore is more like a GCS replacement, a hosted service option for archiving (and indexing) your job logs and associated metadata.

I can imagine a future where we allow spyglass to query ResultStore for results, rather than listing objects in GCS.

[2019-01-29 12:25] adelina-t commented on #10989
PR for this opened: https://github.com/kubernetes/test-infra/pull/11022

[2019-01-29 12:37] adelina-t commented on #10989
@PatrickLang For adding sig-windows tests we have PR: https://github.com/kubernetes/test-infra/pull/11023

( I forgot to add node-os-distro when I changed the job def to include sig-windows )

[2019-01-29 14:04] wwwil commented on #9925
@justaugustus I've updated the PR body to reflect the current design. How should I go about sharing it, I've not really used Google groups much.

[2019-01-29 20:11] liztio commented on #10693
currently blocked on AWS credits for the CI accounts (https://kubernetes.slack.com/archives/C09QZ4DQB/p1547153577371900?thread_ts=1547148543.350200&cid=C09QZ4DQB)

[2019-01-29 22:23] osela opened #11029 "build controller fails to sync builds running in the same cluster"
**What happened**:
I'm trying to create a knative-build presubmit job. All my prow components run in the default namespace and my prow config sets `pod_namespace: test-pods`. Once the github hook is received, the prow job is created but the build and the pods knative tries to create to run it start to get deleted and recreated multiple times. The prow job never succeeds nor fails, and stays in "tr

[2019-01-30 00:36] mskonovalov commented on #10947
I don't think it is a race as I do everything step-by step with waiting for previous step change the state.
I think the issue is that my required context is not defined in the config.yaml

[2019-01-30 00:36] mskonovalov commented on #10946
Yep, we need only cloning and merging

[2019-01-30 00:41] mskonovalov commented on #10945
In this case this job will be executed for each commit which is not what we'd like to

[2019-01-30 01:05] cjwagner commented on #10945
I don't think we have good support for that pattern, unfortunately.
You could probably get the behavior you want by changing the `trigger` regexp for the second job to also match `/lgtm` so that the job is triggered once the PR passes code review.  (I feel gross suggesting that, but I think it would work.)

[2019-01-30 02:09] stevekuznetsov commented on #10947
Can you please provide us with more details? What you have provided is not sufficient for us to help get to the root of this issue. We would be really grateful to see:

 - are you saying that `tide` merges the PR in the end?
 - can you please post `debug` level logs from `tide` for a PR in question?

[2019-01-30 02:11] stevekuznetsov commented on #10945
Yeah this is a little bit out of scope for `tide`. We expect users of `prow` to run presubmits on the PR while it's in progress, not just at the end. If you branch-protect your context, though, and it never runs, you should be able to get `tide` to hang and wait for it until you manually trigger it (or do what @cjwagner suggested)

[2019-01-30 03:32] mskonovalov commented on #10947
Yes, so it looks like some cosmetic issue. I'd guess the events from contexts are not being sent to deck?

sure, will do

[2019-01-30 03:34] mskonovalov commented on #10945
Yeah, will try this though it looks hacky. Thanx for the suggestions.
I know our case isn't really standard.

[2019-01-30 03:52] midnightconman commented on #7960
Can we have an update on this @michelle192837?

[2019-01-30 05:02] spiffxp opened #11037 "Remove milestonestatus prow plugin"
**What should be cleaned up or changed**:

The milestonestatus plugin should go away.

**Provide any links for context**:

Don't have the issue(s) handy right now, but we stopped using `status/foo` labels (they've been removed from label_sync) so `/status` doesn't mean anything to us, and the `milestone` plugin does what we need for `/milestone`

There are repos that "use" it in that they have it

[2019-01-30 05:05] spiffxp commented on #11037
/milestone v1.14
/good-first-issue
FWIW I'm pretty sure this is a straightforward fix if someone wants to give it a shot.  First contribution as net-negative lines FTW!

[2019-01-30 06:59] mskonovalov commented on #10947
Hm, I reproduced it again in here https://github.com/test-devf-merge/merge-bot-experiment/pull/56
Here is the log
[logs-from-tide-in-tide-5794bb65cb-d5zjx.txt](https://github.com/kubernetes/test-infra/files/2811264/logs-from-tide-in-tide-5794bb65cb-d5zjx.txt)

[2019-01-30 07:03] mskonovalov commented on #10945
This trick works fine :) TA

[2019-01-30 09:00] munnerz commented on #11037
We've recently enabled this plugin along with a few other milestone related ones.

We've not collectively as a team made much use of it yet, but this issue does raise a larger question for me around what Prow intends to be wrt versions and stability.

I understand that changes like removing 'run_after_success' are required in order to facilitate other new features, but this reads more like it's be

[2019-01-30 11:38] OlegLoewen opened #11038 "[Question]How to execute kubetest"
I'm confused which parameters need to be used for kubetest.

Currently, I'm testing multiple providers (azure, openstack, gce, aws, alicloud) as follows:

I turn up the cluster of desired provider by myself.
Then I run kubetest always in this manner (but different ginkgo focus):
[code]

This execution runs fine as long as I only run conformance tests. However, currently I'm trying to investigate t

[2019-01-30 12:49] OlegLoewen commented on #11038
/area kubetest

[2019-01-30 13:12] matthyx commented on #9754
Everything is merged, I can close this, and will update the KEP.

[2019-01-30 13:12] #9754 closed

[2019-01-30 13:52] neolit123 commented on #9305
seems like only kubeadm (which sort of implies k/k nowadays) is at 18.09 ATM.
release and test-infra are still at 18.06.

[2019-01-30 16:06] stevekuznetsov commented on #10945
Cheers
/close

[2019-01-30 16:07] stevekuznetsov commented on #9982
/remove-lifecycle stale
@ibzib should be nice low-hanging fruit?

[2019-01-30 16:07] stevekuznetsov commented on #11029
/assign

[2019-01-30 16:07] stevekuznetsov commented on #11029
/cc @fejta

[2019-01-30 16:08] stevekuznetsov commented on #11029
I have a fix for this exact issue in my client refactors

[2019-01-30 16:11] stevekuznetsov commented on #11037
We can also just keep it around? It doesn't cost us any maintenance burden AFAICT

[2019-01-30 16:14] stevekuznetsov commented on #10947
What do you have your `sync_period` and `status_update_period` set to in your Prow config?

[2019-01-30 17:34] BenTheElder commented on #11038
you should consider `--provider=skeleton` instead, the local provider is actually a reference to hack/local-up-cluster.sh in kubernetes

/assign @krzyzacy

[2019-01-30 17:42] BenTheElder commented on #11037
this came up because I wasn't aware we didn't want to use it anymore and
approved a PR enabling it for one of the k8s repos along with other config
changes. perhaps if we just don't want it for k8s repos we can add a
test-infra specific config check for it.

On Wed, Jan 30, 2019 at 8:11 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2019-01-30 18:00] fejta commented on #11029
Can we make both "" and "default" have this config? Should cover both scenarios while we finish the transition to kubeconfig auth

[2019-01-30 18:44] cjwagner commented on #10945
/close
@stevekuznetsov Another dropped webhook.

[2019-01-30 18:44] #10945 closed

[2019-01-30 18:48] jberkus commented on #10369
FYI, I've been working on BigQuery code for this.  The definition of "what is a flake" is complex in query terms.  What I have as an algorithm so far is:

Flaky Jobs

1. The job fails, then passes, then fails, then passes (blocks of failures would be assumed to be actual failures).  This would be expressed as (( #status_changes / runs ) - threshold ).  Initial threshold will be 3 or 4, I'm checkin

[2019-01-30 18:49] michelle192837 commented on #7960
Yup, though not a clear one. This is still blocked on open sourcing, and I don't have a good ETA at the moment for it. :( You probably want to track #10409, #3323, and/or #3324 for when I've got better updates on this.

[2019-01-30 19:35] krzyzacy commented on #11038
haven't tried local deployer myself... so...
/assign @dims

[2019-01-30 20:07] krzyzacy commented on #10680
We still need to handle un-migrated jobs as they will just suddenly stop working

[2019-01-30 20:18] mariantalla commented on #10369
Yep, it's tricky to identify... (in my head) the only way something is a flake with certainty is if it passes & fails for the same commit/combination of commits; don't know if that gives you anything different from what you already have.

[2019-01-31 00:11] mskonovalov commented on #10947
We have default values, we don't specify anything explicitly

[2019-01-31 03:47] BenTheElder commented on #10369
this is what the current (limited) tooling relies on. we have a fair bit of data to this effect. I'm not sure if you can do anything other than this without sacrificing accuracy.

[2019-01-31 04:46] cblecker opened #11054 "fejta-bot issue lifecycle management should be enabled on our other active orgs"
Right now it's only enabled on @kubernetes, but we should do the same for @kubernetes-sigs, @kubernetes-incubator, @kubernetes-csi, and @kubernetes-client.

cc: @fejta @Atoms
/sig contributor-experience

[2019-01-31 04:48] cblecker commented on #11054
also cc @spiffxp

[2019-01-31 04:58] fejta commented on #11054
Lol

[2019-01-31 07:06] BenTheElder commented on #11038
see EG this discussion: https://github.com/kubernetes/kubernetes/pull/73402#discussion_r251499949

_all_ of the tooling is long aware of "local" and makes assumptions that this means `hack/local-up-cluster.sh`. `skeleton` should not have any special assumptions anywhere AFAIK.

[2019-01-31 07:20] BenTheElder commented on #11038
(I cannot remember what all of the assumptions are, but I know there are at least some around log dumping, which kubetest does, along with e2e.test)

[2019-01-31 15:33] BenTheElder commented on #8090
I added this in k/k now
/remove-lifecycle rotten

[2019-01-31 15:52] JoelSpeed commented on #6590
Is this the kind of project that would benefit from a KEP?

[2019-01-31 18:05] Katharine opened #11064 "Deck should be (optionally?) dark themed"
**What would you like to be added**:

Deck should have a dark mode!

Actually doing this sanely requires a bunch of CSS/HTML refactoring.

**Why is this needed**:

Spyglass is dark themed and consensus is that this is awesome. The clicking from the light-themed job list to the dark themed spyglass is, however, jarring.

/assign

[2019-01-31 18:47] krzyzacy commented on #6590
(Renamed the issue)

cc @munnerz @fejta

[2019-01-31 19:45] imkin commented on #10106
/cc @munnerz @taragu

[2019-01-31 20:49] #10979 closed

[2019-01-31 21:01] stevekuznetsov commented on #11064
/area prow/deck

[2019-01-31 21:02] #8246 closed

[2019-01-31 22:07] stevekuznetsov commented on #9686
/remove-lifecycle rotten

[2019-01-31 22:18] krzyzacy commented on #9686
/unassign
/assign @sebastienvas

[2019-01-31 22:21] krzyzacy commented on #9783
/remove-lifecycle stale
still biting us
/pony shrug

[2019-01-31 22:22] krzyzacy commented on #9383
/remove-lifecycle stale
will get to that some day....

[2019-01-31 22:57] jberkus commented on #10369
The problem with "same commit" for periodic tests is that most of them don't run frequently enough to run on the same commit.  We could implement that, but it would result in only noticing something like 10% of flakes, and would never notice flakes for some of the tests at all.

There's also the whole "retry" thing, that I haven't even touched on ...

[2019-01-31 23:46] spiffxp commented on #10369
The release branches can be useful for this, at least for identifying flakes that persist across versions

[2019-02-01 04:31] mskonovalov opened #11080 "Documetation about jobs is poor"
**What happened**:
Some fields are not documented at all:
e.g. `optional` here https://github.com/kubernetes/test-infra/blob/7681225dc7f0a14b1001b36597a42a8ed24b7b71/config/jobs/kubernetes/sig-aws/kops/kops-presubmits.yaml#L12 is not even mentioned in the docs https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md

Also it is not quite clear how are all these fields `always_run`, `optio

[2019-02-01 04:31] mskonovalov commented on #11080
/area jobs

[2019-02-01 04:45] krzyzacy commented on #11080
cc @stevekuznetsov @cjwagner

[2019-02-01 05:17] BenTheElder commented on #9783
it _does_ handle them, the new problem is jobs that have partial decorated config, for those we don't strip the fields that are default. we could do this, but _effort_. jobs that have fully default decorated config drop the whole field.

[2019-02-01 05:20] BenTheElder commented on #11064
1000% yes <3

[2019-02-01 05:59] mskonovalov commented on #10947
@stevekuznetsov anything I can do with this?
I was able to reproduce this several times but it is not consistent

[2019-02-01 16:44] stevekuznetsov commented on #10015
/remove-lifecycle stale
This should be really simple, right?

[2019-02-01 18:11] sebastienvas commented on #9686
I believe only crier and sub are using the reporter, is it just a matter of creating a new service account / kubernetes secret and adding  GOOGLE_APPLICATION_CREDENTIALS to the crier deployment ?

[2019-02-01 18:13] krzyzacy commented on #9686
There's already a secret in the cluster, just mount it and add a flag or parse the env?

[2019-02-01 18:58] krzyzacy commented on #3338
/unassign @spxtr
/assign @cjwagner @stevekuznetsov @fejta

[2019-02-01 21:26] #8622 closed, assigned to nobody

[2019-02-01 22:00] stevekuznetsov opened #11093 "controllers: use UpdateStatus()"
It's best practice to use the `UpdateStatus()` endpoint for controllers that are posting status updates instead of the full `Update()` call. We will need to publish the subresource in our `CustomResourceDefintion` as documented [here](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#subresources) and simply use the `UpdateStatus()` call on our cl

[2019-02-01 22:05] sebastienvas commented on #9686
I guess we can close this, this is already supported by the google api client.

[2019-02-01 22:08] #9686 closed

[2019-02-02 00:11] krzyzacy opened #11095 "Cannot build kubekins-e2e anymore?!"
[code]

hummmmmm - is https://github.com/kubernetes/test-infra/pull/10849 related?

/assign
/assign @BenTheElder
cc @ixdy @idealhack

[2019-02-02 00:19] krzyzacy commented on #11095
not related with #10849, maybe the package is just gone?
/this-is-fine

[2019-02-02 00:31] krzyzacy commented on #11095
ohhh hummmm that PR changed bootstrap as well
/pony suspicious

[2019-02-02 00:36] stevekuznetsov opened #11096 "spyglass: running jobs show invalid start time"
As in here:

![screenshot from 2019-02-01 16-35-09](https://user-images.githubusercontent.com/7328370/52156826-7210a780-263f-11e9-80a8-f5c72b73c352.png)

/area deck/spyglass
/cc @Katharine

[2019-02-02 00:36] stevekuznetsov commented on #11096
We're seeing this on _all_ currently running jobs

[2019-02-02 00:37] ixdy commented on #11095
oh, yeah, #10849 destroyed the apt cache. We probably need to add an `apt-get update &&` to
https://github.com/kubernetes/test-infra/blob/67ac1a7bd9ac5f88172bd7854e6f33992f892e2b/images/kubekins-e2e/Dockerfile#L39

[2019-02-02 00:44] stevekuznetsov opened #11097 "branchprotector and label_sync are unsuably slow"
Even if we put them behind `ghproxy`, the internal GitHub client doesn't take into account when tokens are actually used when it throttles requests, so for instance for our [branch protection](https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/periodic-branch-protector/) job we are at 2h40m and our [label sync](https://openshift-gce-devel.appspot.com/builds/origin-ci-test/logs/peri

[2019-02-02 01:33] krzyzacy commented on #11095
bumping [********..........]

[2019-02-02 04:56] fejta opened #11100 "Pod-utils, bootstrap and testgrid should work with the same set of fields"
/area testgrid
/area prow
/area prow/pod-utilities

prow/pod-utils/gcs makes a large pile of dubious claims about deprecation. We need to update this library (as well as initupload and sidecar) to output the same fields as bootstrap.py

https://github.com/kubernetes/test-infra/blob/191f27fef4ef1dd388f9a8e1c08c0fce84de7b0b/prow/pod-utils/gcs/metadata.go#L19-L54

Basically all of this is wrong, and

[2019-02-02 05:10] krzyzacy commented on #11100
I was hoping we can simply upload prowjob.yaml and get rid of *ALL* of the metadata from started/finished.json.

[2019-02-02 05:33] stevekuznetsov commented on #11100
Can we instead, please update tools to expect a full-featured:

 - ProwJob CRD YAML
 - Pod YAML

in the artifacts folder? I can work next on making `artifact-uploader` push those up

[2019-02-02 05:34] stevekuznetsov commented on #11100
/assign

[2019-02-02 05:46] BenTheElder commented on #11100
https://github.com/kubernetes/test-infra/issues/10544#issuecomment-454562161 would also be nice either way ... 99% of the time when triaging a job the only thing I really need besides the actual job artifacts is the commit(s) and maybe the start / end time.

Right now we lack the commits, and the YAMLs are going to show EG "master" as the ref for periodics etc.

We use an ugly bandaid for a few jo

[2019-02-02 05:59] fejta commented on #11100
No one uses artifact-uploader. We run 20,000 builds a day, most of them still use bootstrap, and we have a year and a long history of this data. We should continue uploading the fields that bootstrap.py does that make sense, rather than arbitrarily changing them for no good reason (to revision, for example).

And while it is certainly the most verbose solution, I am unconvinced that uploading the

[2019-02-02 06:18] krzyzacy commented on #11100
We should resolve https://github.com/kubernetes/test-infra/issues/10544 1000000% - when whoever has some spare cycles.

We will migrate them to podutils :-)

Yep - that's also the problem when we making podutils isn't it? 😏

IMHO `version` and `job-version` are bad names, and bootstrap fields are not very well documented to begin with. (Yes we might not fully understand the meaning of each field,

[2019-02-02 06:43] fejta commented on #11100
We should do better than this. The code that outputs these fields is open source, in this repo, and created by the same people who work on prow.

It is fine to migrate fields, but we should be more intentional about the reasons why we should do this, rather just because we failed to read the python file or ask someone how to generate the fields correctly.

These are different things that we intent

[2019-02-02 06:52] BenTheElder commented on #11100
Semi-related note: for TestGrid at least other tools produce some of this metadata too including kubetest and [the conformance uploader](https://github.com/kubernetes/test-infra/tree/master/testgrid/conformance) used to federate results. For the latter, uploading a prowjob spec would be ... odd.

I also don't see the specs covering things like finish time....?

[2019-02-02 06:54] fejta commented on #11100
Also note that public testgrid has its own variant of these fields:

https://github.com/kubernetes/test-infra/blob/ed6a7c4f28a2f87de404f8844a14a512e4c8f3d6/testgrid/cmd/updater/main.go#L116-L133

[2019-02-02 07:07] krzyzacy commented on #11100
afaik the OSS updater is not being used?

I don't think that uses these fields from started.json either?

I'd still want to keep the existing started.json and finished.json - but I also want to have the additional prowjob.yaml to have more debug information.

Fields like: `Node` - which computes from https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap.py#L577-L593, has been not

[2019-02-02 07:16] fejta commented on #11100
sidecar and initupload (or artifact-uploader) should absolutely read these fields from the pod and prowjob to populate them, but pod and prowjob is the wrong abstraction for a build result.

This does not mean that we should require testgrid, resultstore, gubernator, etc to understand the internals of prow and kubernetes in order to do their work. There should be a (Result) layer of abstraction be

[2019-02-02 07:40] fejta commented on #11100
Repos is where we put info about all the repos we checked out. Pull specifies which PR it is testing:
https://github.com/kubernetes/test-infra/blob/ed6a7c4f28a2f87de404f8844a14a512e4c8f3d6/jenkins/bootstrap.py#L327-L328

We went through the jenkins -> containerized jenkins -> bootstrap containerized jenkins -> bootstrap prow while maintaining backwards compatibility.

We should do the same for the

[2019-02-02 17:36] BenTheElder commented on #11100
See also:
https://github.com/istio/istio/blob/master/bin/ci2gubernator.sh
https://github.com/istio/test-infra/tree/master/toolbox/ci2gubernator

Which appear to be used to populate gubernator + testgrid from circleCI, alongside Prow based results.

I think Kubeflow is also populating GCS:
https://github.com/kubeflow/kubeflow/blob/76107ff3aa7f9fde6fd7f15f2ec0a69a35874efa/testing/run.sh

[2019-02-02 18:18] krzyzacy commented on #11100
kubeflow has a homebrew'd bash which ends up clone test-infra and run bootstrap.py, and I believe it's the same case for istio... (aka they are not hand-crafting started/finished.json)

[2019-02-02 18:34] BenTheElder commented on #11100
See above: istio is not using bootstrap to do this on CircleCI, they have their own go program to write our metadata format.

[2019-02-02 20:44] krzyzacy commented on #11100
ok I'll agree with the issue as long as all the fields are well documented and we know what each fields mean, and they will be maintained in the future.

[2019-02-02 21:19] #11095 closed

[2019-02-03 00:49] jlewi commented on #10423
I think an advantage of GitHub apps over using PAT is that GitHub apps are owned by the organization. I think this will make them much easier to administer than bot accounts which requires sharing access to a GitHub account.

I dug into this an it looks to me like the way it works is that GitHub apps use private certs to generate JWTs which are then used to authenticate to the GitHub APIs: e.g. se

[2019-02-03 04:41] fejta commented on #10015
Clone test-infra at head and read it from there rather than a configmap

[2019-02-03 10:02] #9095 closed

[2019-02-03 10:32] nikhita commented on #9367
/assign

I'll try to shepherd this in the next couple of weeks.

[2019-02-03 10:39] nikhita commented on #5431
/remove-lifecycle rotten

[2019-02-03 13:09] nikhita commented on #9367
@guineveresaenger Yeah, the first thing I was going to do was ping you and @carolynvs about this. :)

Will follow up next week. :+1:

[2019-02-04 03:30] mskonovalov commented on #10947
Yep, it's just a status update issue, not real blocker, user facing though

[2019-02-04 15:51] stevekuznetsov commented on #10947
I don't think there's anything we can do here, it's just how the system is designed. Not sure why you're seeing it so often. Try making your status controller sync period smaller.

/close

[2019-02-04 15:51] #10947 closed

[2019-02-04 15:58] stevekuznetsov commented on #11100
Why shouldn't tools just read the ProwJob or Pod? I guess for computed fields like duration of you don't want to do `ProwJob.Status.FinishedTimestamp - ProwJob.Status.StartedTimestamp` on every client, maybe, but Refs should be presented identically IMO - no "job version" or otherwise.

[2019-02-04 16:07] stevekuznetsov commented on #11100
The actual k8s objects are stable and well documented, they've got helpers and serialization targets that you can import in go, it's clear what fields may or may not be set...

[2019-02-04 16:21] BenTheElder commented on #11100
Should everything uploading to testgrid be coupled to prow jobs..? We have
EG OpenStack's CI uploading CI signal for their cloud provider integration
against Kubernetes.

Right now it's easy to target the minimal metadata fields without even
depending on test-infra.

On Mon, Feb 4, 2019, 08:07 Steve Kuznetsov <notifications@github.com wrote:

[2019-02-04 16:32] stevekuznetsov commented on #11100
Hmm okay that's valid, didn't know we had non prow uploads. Let's create a reference implementation of the metadata digestion from ProwJobs and Pods and use that to keep us documented etc

[2019-02-04 17:19] #5431 closed

[2019-02-04 19:34] spiffxp commented on #5085
/wg k8s-infra
because yes, yes it would definitely be super helpful for this wg

[2019-02-04 20:04] nikhita commented on #11037
Going to remove good-first-issue from here because the direction isn't completely clear.

/remove-good-first-issue

[2019-02-04 21:23] fejta commented on #11100
The reason we split version into job-version and repo-version is so that we can do exactly this for repo-version and repos, which is owned by the checkout tool, not something the job has the right to control.

On the other hand job-version is owned by the job and can set it to whatever it wants. Our k/k jobs have some complicated shenanigans that involve bash, reading extracted files and/or git ta

[2019-02-04 23:45] stevekuznetsov commented on #11100
Sure, but `repo-version` should be the Refs struct and _only_ the Refs struct as derived from the ProwJobSpec, yeah?

[2019-02-05 01:37] jluhrsen commented on #10884
/assign @jluhrsen

[2019-02-05 01:53] stevekuznetsov commented on #10884
@fejta and I also thought about this and it's most likely the uploader running out of CPU, so if we set CPU requests for the sidecar we can probably work around this

[2019-02-05 15:48] adelina-t opened #11124 "acsengine deployer doesn't respect location from deployment template."
The acsengine deployer doesn't respect the location sent via template when trying to create the Azure resource group for the cluster.

[2019-02-05 15:48] adelina-t commented on #11124
/assign adelina-t

[2019-02-05 22:37] jluhrsen commented on #10884
@stevekuznetsov I submitted a PR to do the retries, although I did see your comment about the uploader
running out of CPU. I can try to address that as well (or instead of the PR just submitted), if you can
point me where that might be tweaked?

[2019-02-05 22:38] #8008 closed

[2019-02-05 23:09] midnightconman opened #11137 "Hook Buildifier Plugin Help Not Working"
**What happened**:
In deck plugin help, buildifier plugin is not displayed. It shows the following error:
[code]

**What you expected to happen**:
I expected to see plugin help for buildifier plugin.

**How to reproduce it (as minimally and precisely as possible)**:
Enable buildifier plugin, access plugin help in deck.

**Anything else we need to know?**:

[2019-02-05 23:11] krzyzacy opened #11138 "Reviewer suggestion is problematic when making sweep config changes"
So currently whenever I bump kubekins image, blunderbuss would request review from @shyamjvs and @gyuho which might not be the correct behavior :-)

see https://github.com/kubernetes/test-infra/pull/11136
and https://github.com/kubernetes/test-infra/pull/11099
and many more :-)

It should probably request review from owners of config/, or top level owners?

cc @BenTheElder @fejta @cjwagner @stevek

[2019-02-06 04:49] BenTheElder commented on #11137
/area prow
/priority important-soon

[2019-02-06 04:57] stevekuznetsov opened #11146 "Interval-based Periodic Jobs Triggered Constantly"
We are seeing interval-based periodic jobs triggered at around 5 jobs per second. This is confusing as `horologium` syncs once per ~15 seconds now that we have ~25k ProwJobs on the cluster:

[code]

However, for one job, here are the creation timestamps on the ProwJobs:

[code]

We need better logging in the component to actually determine what is going on. One thought is that if it's not listing

[2019-02-06 04:58] stevekuznetsov commented on #11146
/cc @smarterclayton

[2019-02-06 05:36] BenTheElder commented on #11138
this behavior does seems strangely specific, it seems to extremely reliably request those specific reviewers 🤷‍♂️

[2019-02-06 06:50] stevekuznetsov commented on #11146
This may have been an issue with our API server and how we had the ProwJob CRD configured on it, and not a bug in `horologium`

[2019-02-06 06:58] BenTheElder commented on #10083
jobs/ is emptier now but not gone
jenkins/ will never go away 😛
scenarios/ is not moving

I think probably the best option is to just close this and favor moving some stuff out of test-infra over time... like perhaps prow next.

[2019-02-06 12:20] matthyx commented on #9417
@anwaradil have you already worked on that issue? do you need help? should I do it?

[2019-02-06 14:58] rajatjindal opened #11152 "build integration with prow and slack for good first issues"
**What would you like to be added**:

a webhook to listen for issues event and send message to a new slack channel #goodfirstissue (for issues labeled 'good-first-issue') in Kubernetes org.

**Why is this needed**:

All Kubernetes projects encourage first time contributors to come join the journey, and a lot of issues are labeled as "good-first-issue" for the same reason. It will be really nice if

[2019-02-06 15:01] rajatjindal commented on #11152
it will be really great to have both the integrations enabled. If needed, I can open a different ticket for the 2nd integration.

many thanks for considering.

Thanks
Rajat Jindal

[2019-02-06 15:06] matthyx commented on #9118
@stevekuznetsov it looks like this particular problem.Confidence is 0.9 which is the same or higher as the following test cases:
- Check names with underscore (0.9)
- Check names with all caps (0.8)
- Check stutter in function names (0.8)
- Check stutter in type names (0.8)
- Check variable declaration: should drop type (0.8)
- Check variable declaration: should drop value (int) (0.9)
- Check vari

[2019-02-06 15:39] matthyx commented on #8193
@A-Hilaly did you give up on that one?

[2019-02-06 15:41] matthyx commented on #10714
/assign
/remove-help

[2019-02-06 15:42] matthyx commented on #9118
/assign
/remove-help

[2019-02-06 16:06] munnerz commented on #11152
Interesting - there is already a `slackevents` plugin which has some prior art in this area: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/slackevents/slackevents.go

I think watching for either the comment event, or the label added (only when "good first issue" is added) event and posting to Slack should be do-able 😄 and should prevent us posting more than once in Slack.

Woul

[2019-02-06 16:15] rajatjindal commented on #11152
the slack integration will be part of prow itself (slack token secret involved here)

the twitter integration will be to install a github app from here: https://github.com/apps/goodfirstissue (needs read-only permissions to issues/meta)

The source code of the twitter integration is opensourced and hosted here: https://github.com/rajatjindal/goodfirstissue

[2019-02-06 16:20] munnerz commented on #11152
External plugins can still use sensitive credentials and be hosted in-cluster 😄

I can't comment for whether the Kubernetes org would be looking to install the twitter app - I know this has been a little bit contentious in the past.

cc @nikhita

[2019-02-06 18:29] anwaradil commented on #9417
@matthyx I have not started working on this. Please feel free to grab it. I appreciate your help.

[2019-02-06 18:30] krzyzacy opened #11157 "Have an e2e test for Prow?"
Today we can at least do:
- Kubetest up a cluster
- Deploy starter.yaml
- Wait for a few minutes?
- Make sure echo-test can finish, things are in right namespace, and nothing is crashing, more checks you can name, etc
- Dump logs from all controller pods

We also can add more complex deployment there, have pre-generated github secrets in the cluster and point to a non-important repo, make some fak

[2019-02-06 18:35] krzyzacy commented on #10667
The original problem is solved by https://github.com/kubernetes/test-infra/pull/10891

[2019-02-06 18:35] #10667 closed

[2019-02-06 19:15] BenTheElder commented on #11157
ER - to elaborate on "spamming" ...

We could do a ["subreddit simulator"](https://knowyourmeme.com/memes/sites/subreddit-simulator) but for github - an org simulator (hello @fejta and @fejtaverse)!

Only half serious, but it could be interesting to run a canary prow against a bot controlled github environment :^)

[2019-02-06 21:40] stevekuznetsov commented on #11157
I think I would like to see a more in-depth design proposal, the largest question for me in this process would be how we appropriately balance cost of implementation with benefits to the ecosystem. I would worry that it's hard to test the complexity of our deployments and config. As an example, both the OpenShift and CNCF Prow deployments have complex configurations and it's interesting to see how

[2019-02-06 21:47] BenTheElder commented on #11157
Right, so actually running a prow somewhere that does _something_ and verifying that it works is a pretty easy smoke test though
- create prow deployment
- configure no-op job
- verify that the job runs

As for the github simulation, it's basically just some scheduled commentor robots for most of it. The expensive part is implementing validation of prow's behavior.

I have no intention of any vari

[2019-02-06 21:50] stevekuznetsov commented on #10884
To tweak the CPU issues, you'd need a Prow cluster to inspect and look at average use -- I have that data and this week I aim to fix that. Retry might not be reasonable for the CPU starvation case but would be useful in other cases, so let's do it regardless.

[2019-02-06 22:04] krzyzacy commented on #11157
Similar to k8s, we can have different e2e scenarios / different test cases for different deployments hopefully? If something happens that we didn't catch, we then can improve our e2e coverage to prevent similar thing from happening again?

Just want a brief brainstorm first before dive too deep :-) Maybe one day we also want to consider version prow releases and have a status dashboard?

[2019-02-06 22:08] krzyzacy opened #11162 "Support trigger | retest in gerrit"
I think multiple people is asking about this -

I was kinda waiting for unify the interface between github/gerrit but that seems never gonna happen, maybe we should just implement a in-house version of comment handling for gerrit.

(Only for triggering, afaik. We don't need things like lgtm and label management yet)

cc @amwat @AishSundar @cjwagner @crimsonfaith91

[2019-02-06 22:18] crimsonfaith91 commented on #11162
@krzyzacy For my use case, yes - only triggering for retest is required.
cc @mortent too.

[2019-02-06 22:30] krzyzacy commented on #9652
so we worked around by let grandmatriarch run more often which ... worked so far ...
/pony fine
/close

[2019-02-06 22:30] #9652 closed

[2019-02-06 22:35] stevekuznetsov commented on #11162
Didn't we just have a breakout session about a generic interface between social git hosting sites and Prow? Why do you think this won't happen?

[2019-02-06 22:37] stevekuznetsov commented on #11157
Right, and it would not catch a lot of issues, so low development cost --> low reward IMO. Seems like a good idea, for what it's worth.

Right, this is the sliding scale of effort to reward I was talking about.

[2019-02-06 22:37] krzyzacy commented on #11162
@stevekuznetsov obviously I missed that session - is there a meeting note?

[2019-02-06 22:37] stevekuznetsov commented on #11137
I see this intermittently as well

[2019-02-06 22:38] stevekuznetsov commented on #11162
In our breakouts dir of GDrive: https://drive.google.com/open?id=1CSBLpp9EC-6F04bO_VcHwLM6sPYX9sWFrATQPWnrDUg

[2019-02-06 22:50] AishSundar commented on #11162
yes plz !!! for our need both but in that order :)
(i) comment handling (/retest and /e2e-presubmit)
(ii) label management

(i) itself will be a huge improvement

[2019-02-06 23:08] krzyzacy commented on #11162
Our gerrit doesn't support webhooks which makes me :thinking: how it fits into Scallywag

[2019-02-06 23:32] BenTheElder commented on #11137
/assign

[2019-02-06 23:43] #11137 closed

[2019-02-06 23:49] stevekuznetsov opened #11165 "Spyglass Created a Build ID with a newline in it"
[code]

/area prow/deck
/area prow/spylgass
/kind bug
/assign @Katharine
/cc @BenTheElder

[2019-02-06 23:50] stevekuznetsov commented on #11165
There is no newline: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-federated-results/pr-logs/pull/kubernetes-sigs_cri-o/2018/test_pull_request_crio_critest_fedora/

[2019-02-07 00:36] midnightconman opened #11166 "Re-Implement Git and Github Clients to Pass URLs Not Strings"
**What would you like to be added**:
As we are parsing url.URL for endpoint flags, it would be nice to just pass URLs around instead of strings.

**Why is this needed**:
There are a couple of places we transform between URL and string, we could make this more efficient and cleaner just transforming once.

[2019-02-07 07:23] matthyx commented on #9417
/assign
/remove-help

[2019-02-07 17:31] stevekuznetsov commented on #11162
Scallywag wanted to both handle generic events coming in as well as generic api calls going out

[2019-02-07 18:43] krzyzacy commented on #11162
sg - I think depend on timeline we can decide if we want to implement a quick workaround first or not.

[2019-02-07 20:49] #8331 closed

[2019-02-07 21:25] krzyzacy opened #11177 "Auto-bump kubetest"
like what we do for prow - bump after each kubetest change

cc @BenTheElder @neolit123 @Katharine

[2019-02-07 21:28] BenTheElder commented on #11177
don't we already have an issue for this?

[2019-02-07 21:33] neolit123 commented on #11177
i've added this:
https://github.com/kubernetes/test-infra/issues/10958

[2019-02-07 21:44] #11177 closed

[2019-02-07 21:44] krzyzacy commented on #10958
/assign

[2019-02-07 21:45] krzyzacy commented on #11177
lol yeah - didn't find that

[2019-02-08 00:13] ibzib commented on #11096
/assign

[2019-02-08 00:19] spiffxp commented on #9707
/remove-lifecycle stale
/meow space
/close

[2019-02-08 00:19] #9707 closed

[2019-02-08 00:25] ibzib opened #11182 "Deck: some Github links are broken"
**What happened**:

In #10891 I broke the following Github links on Deck:
- Repository for postsubmit jobs
- Repository for batch jobs
- Commits for batch jobs

All of the above are missing the org name. For example, test-infra is spuriously linked to https://github.com/test-infra rather than https://github.com/kubernetes/test-infra.

All other links AFAICT appear to be working fine.

**Please pro

[2019-02-08 00:31] justaugustus commented on #9707
I want to play too!
/meow space
/pony party

[2019-02-08 00:34] ixdy commented on #9707
/meow space
/pony space
/woof space

[2019-02-08 00:34] ixdy commented on #9707
/joke space

[2019-02-08 00:47] mauilion commented on #9707
/meow space

[2019-02-08 00:49] justaugustus commented on #9707
@ixdy -- no one can hear you in space, which is probably why `/joke space` didn't work ;)

[2019-02-08 00:55] neolit123 commented on #9707
/meow space

[2019-02-08 00:59] ixdy commented on #9707
/joke

[2019-02-08 01:26] #11182 closed

[2019-02-08 01:58] krzyzacy commented on #10402
After https://github.com/kubernetes/test-infra/pull/11168, we will have postsubmit setting status context by default for all postsubmit jobs.

Currently the knative-postsubmit worked for test-infra repo.
![screenshot from 2019-02-06 14-38-46](https://user-images.githubusercontent.com/1108148/52454738-c1544d80-2b01-11e9-980c-bdda49afb92a.png)

Will implement comment on a commit & respond to trigger

[2019-02-08 08:20] matthyx commented on #10714
These are the identified plugins:
- [ ] cat (critical one!)
- [ ] golint
- [ ] label
- [ ] lgtm
- [ ] size
- [ ] skip
- [ ] verify-owners
- [ ] wip-label

[2019-02-08 09:55] randomvariable commented on #9707
srs testing:
/meow space

[2019-02-08 12:31] matthyx commented on #9118
@stevekuznetsov can I have your advice on threshold?
Personally I don't see how we can solve this, unless maybe we regex and ignore that particular golint error in the plugin...

[2019-02-08 17:37] stevekuznetsov commented on #9118
Wait. given your link isn't it at `0.2`?

[2019-02-08 18:06] Random-Liu opened #11196 "Containerd node e2e test is failing."
It fails after https://github.com/kubernetes/test-infra/pull/11045.

It seems that GOPATH is not set. https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/containerd_cri/1043/pull-cri-containerd-node-e2e/1132/build-log.txt

[2019-02-08 18:27] IronPan opened #11197 "Inconsistent behavior after removing run_after_success"
**What happened**:
Here are some recent changes
https://github.com/kubernetes/test-infra/pull/10694#issuecomment-458411768
and https://github.com/kubernetes/test-infra/pull/11046

The behavior is now different from what in the past.
- tests are run in sequence in stead of in parallel. We are experiencing long waiting time.
- In our case, we would like PRs to be blocked on build-image and e2e-test

[2019-02-08 18:27] IronPan commented on #11197
/assign @krzyzacy @fejta

[2019-02-08 18:31] krzyzacy commented on #11197
@fejta do we support parallel steps somehow?

@IronPan or we can make each e2e test do a image build and split them up again?

[2019-02-08 18:34] fejta commented on #11197
Knative-build steps run in sequence. If you want things to be parallel you need two jobs and/or a build-pipeline.

The two options here are
a) make sample test always exit 0, regardless of whether or not it produced test failures
b) Make sample tests its own top-level job (repeating the build step, if necessary)

[2019-02-08 18:36] krzyzacy commented on #11196
/assign @fejta

hummmmm I guess.. the $GOPATH from entrypoint is not in the steps?

[2019-02-08 18:46] stevekuznetsov opened #11198 "Deck doesn't show org names in repo dropdown anymore"
/kind bug
/area prow/deck
/cc @BenTheElder @Katharine @ibzib

[2019-02-08 18:50] IronPan commented on #11197
Thanks in that case we might just split test suit and build images individually.

related: https://github.com/knative/build-pipeline/issues/168

[2019-02-08 19:00] ibzib commented on #11198
Argh looks like another bug related to confusing org-qualified and unqualified repo naming.
/assign

[2019-02-08 19:26] #11197 closed

[2019-02-08 21:05] davidz627 opened #11202 "Enable CSIMigration Feature Gate on AllAlpha clusters when migrated drivers installed by default"
**What should be cleaned up or changed**:
Remove all instances of `CSIMigration=false` when `AllAlpha=true` specified in test jobs when we are installing CSI Drivers by default.

**Provide any links for context**:
Migration feature is tracked here: https://github.com/kubernetes/enhancements/issues/625
Driver installation feature is being designed.

[2019-02-08 21:09] #10068 closed

[2019-02-08 21:37] fejta commented on #10423
Here is how we can update tackle to help make this easier: https://developer.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest/

Note that this change would have some downsides. We could not, for example, react to a comment/issue

[2019-02-09 00:32] krzyzacy opened #11204 "Prow schedules pods into service cluster"
one thing I found out is there are hundreds of un-schedulable pods in the service cluster, trying to add more nodes, still investigating...

cc @spiffxp @Katharine @BenTheElder

/assign

[2019-02-09 00:44] krzyzacy opened #11206 "I cannot manually bump Prow?"
[code]

/assign @fejta

[2019-02-09 00:44] krzyzacy commented on #11204
We have workloads got scheduled to our service cluster which should not

[2019-02-09 01:13] BenTheElder commented on #11204
[triage ongoing in #testing-ops and offline between me, @krzyzacy @Katharine]

[2019-02-09 01:16] fejta commented on #11206
Please add yourself to a clusterrolebinding that binds to cluster-admin

[2019-02-09 01:52] krzyzacy commented on #11206
:+1:

[2019-02-09 01:52] #11206 closed

[2019-02-09 02:19] krzyzacy commented on #11196
I still feel we should not remove run_after_success that quickly before we properly migrated our users..
:man_shrugging:

trying with https://github.com/kubernetes/test-infra/pull/11210

[2019-02-09 02:39] midnightconman commented on #10146
This PR https://github.com/kubernetes/test-infra/pull/11075 was just merged, it gets us closer to this goal.

[2019-02-09 09:04] listx commented on #8108
This same problem bit me (and the same solution of using `--from-file=service-account.json=...` worked!) when trying to set up a minimal plank configuration in my `config.yaml` (which, by the way, is not mentioned in https://github.com/kubernetes/test-infra/blob/a04ec99281a655f1b66e43ce4479beb0cd76d3fa/prow/getting_started_deploy.md#add-more-jobs-by-modifying-configyaml).

[2019-02-09 09:13] listx opened #11212 "prow: getting_started_deploy.md: changing config.yaml doesn't work"
**What happened**:

Tried to edit `config.yaml` as described here: https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#add-more-jobs-by-modifying-configyaml

but then the config couldn't pass muster for checkconfig.

**What you expected to happen**:

Running
[code]

should be OK, but I get:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
J

[2019-02-09 21:45] matthyx commented on #9118
Yeah, this is what I thought, but then playing around with the debugger on golint plugin and a test case, I found out it was in fact 0.8 - if you want I can make more investigations next week...

[2019-02-09 22:45] BenTheElder commented on #8108
@listx mind sending a patch to the docs? 😅

[2019-02-09 23:12] BenTheElder commented on #11204
AFAIK this is fixed now by rolling back, a notice was sent to Kubernetes-Dev last night.

[2019-02-10 03:10] listx commented on #8108
@BenTheElder I don't mind, but I think how I reword the docs depends on #11212. The behavior seems to be that setting `decorate: true` results in checkconfig telling me to set up a minimal `plank` config, which then leads me to this present rabbit hole about setting up a `gcs_credentials_secret` properly. But setting up a plank config can be avoided altogether if we set `decorate: false`, or at le

[2019-02-10 15:51] apesternikov opened #11219 "Initial clone is not working"
**What happened**:
When hook is handled for first time, initial cloning is failing with the following log:
{"client":"git","component":"hook","level":"warning","msg":"Running /usr/bin/git [clone --mirror /user/repo /tmp/git101276779/user/repo.git] returned error exit status 128 with output fatal: repository '/user/repo' does not exist\n.","time":"2019-02-08T22:52:16Z"}

Please note the git command

[2019-02-10 15:58] stevekuznetsov commented on #11212
@BenTheElder do we just want to suggest adding the stanza that is in your config? We'd want the bump scripts to update the image tags though

[2019-02-10 15:59] stevekuznetsov commented on #8108
We also had a request for pod-utils without GCS interaction recently, could make that an option

[2019-02-10 16:00] stevekuznetsov commented on #9118
We should submit that as a fix to their doc, very misleading. Agreed if it's 0.8 we cannot do anything here

[2019-02-10 16:08] stevekuznetsov commented on #11204
Fixed by #11209

[2019-02-10 18:05] matthyx commented on #9118
Sorry, you're right, the confidence is indeed 0.2 as verified in this branch:
https://github.com/kubernetes/test-infra/compare/master...matthyx:9118

Probably during my tests I wrote a wrong test case that triggered this [line](https://github.com/golang/lint/blob/master/lint.go#L411) instead.

This issue is indeed solved when confidence is > 0.2

[2019-02-10 20:18] #11166 closed

[2019-02-10 20:22] #11014 closed

[2019-02-10 21:08] midnightconman opened #11223 "Prometheus Metrics for Deck"
**What would you like to be added**:
I would like deck to expose prometheus metrics via promhttp and prometheus push. These metrics should include go metrics and application specific metrics, status codes of responses, duration, etc.

**Why is this needed**:
At the moment there are no prometheus metrics available for deck, so we are blind to interactions occuring at that layer.

[2019-02-10 21:10] midnightconman opened #11224 "Ability to Override prstatus Github API Endpoint"
**What would you like to be added**:
I would like the ability to override the static github api value in prstatus, so I can use prstatus with other github endpoints.

**Why is this needed**:
This is required if people would like to use prstatus with other github endpoints (like Github Enterprise).

[2019-02-10 21:15] midnightconman opened #11226 "Ability to Override approver Plugin Github Link URL"
**What would you like to be added**:
I would like the ability to override the github html link url that the approver `APPROVALNOTIFIER` plugin uses to create comments on github.

**Why is this needed**:
If people are using `approve` plugin with Github Enterprise, the OWNERS links it creates in comments are pointing to `github.com` endpoints.

[2019-02-11 02:22] stevekuznetsov commented on #11226
/area prow/hook

Adding this as a configuration option to the plugin SGTM

/cc @cjwagner

[2019-02-11 02:22] stevekuznetsov commented on #11226
@midnightconman do you think you can take this one on?

[2019-02-11 02:23] stevekuznetsov commented on #11224
/area prow/deck

Adding this as a configuration option to deck SGTM

/cc @cjwagner @Katharine

@midnightconman do you think you can take this one on?

[2019-02-11 02:35] stevekuznetsov commented on #11223
The next focus for my team will be fleshing these out, but do not expect pushgateway support.

/assign
/area prow/deck

[2019-02-11 02:43] stevekuznetsov commented on #10423
It was noted that this approach will not give us the same access to the API as we have with PAT -- some APIs are PAT-only. Not sure if any of those are ones we use, though, or what the set is, even.

[2019-02-11 02:59] midnightconman commented on #11223
Excellent, please let me know if I can help out.

[2019-02-11 03:01] midnightconman commented on #11224
I would love to, do you think we can add this to `config.yaml` and possibly as a root object? I was thinking something like this would be nice:

config.yaml
[code]

Thoughts?

[2019-02-11 03:04] midnightconman commented on #11226
I can take this one too... I think it would be nice to be able to share the same setting for this and `prstatus`, how does that sound to you guys?

I was thinking about making this a root `config.yaml` object, something like:

config.yaml
[code]

Thoughts?

[2019-02-11 03:08] stevekuznetsov commented on #11223
Specific metrics you'd like to see would be helpful, in case we don't think of everything you wanted! For a first pass I wanted to do user facing things like page loads, timing and errors.

[2019-02-11 03:11] stevekuznetsov commented on #11224
Hmm. No strong feelings on it, but if we go that way we should remove the flags and use the config as one source of truth. Not sure how this would pay with the upcoming work to make social hosting sites generic.

[2019-02-11 03:42] michaelneale commented on #10423
I have heard that github want to replace PAT at some point so any gaps in api coverage are likely temporary anyway.

[2019-02-11 04:24] stevekuznetsov commented on #10423
Sure, but:

 - PAT is not going away in the near future
 - we cannot migrate until we have all of our API usage supported

Not a blocker, just more things to think about when this work is undertaken. Agreed that the official stance from GitHub is that we should in a perfect world move away from PAT.

[2019-02-11 07:08] midnightconman commented on #11224
Sounds good to me... I'll add it as a root object to config and we can chat about how we wan't to deprecate flags in the PR. Sound good?

[2019-02-11 14:22] matthyx commented on #9118
@stevekuznetsov I cannot close this issue... can you do it?

[2019-02-11 17:41] stevekuznetsov commented on #11224
Would like @cjwagner to weigh in before you write code in case we aren't all in agreement on the direction

[2019-02-11 17:50] #11198 closed

[2019-02-11 18:06] idealhack commented on #9118
@matthyx thanks for your investigation here. you can close the issue by telling the bot:
/close

[2019-02-11 18:06] #9118 closed

[2019-02-11 22:31] bobcatfish commented on #10827
Just a quick bump, running into this again with https://github.com/knative/build-pipeline/pull/430 , git says "This branch cannot be rebased due to conflicts" but tide appears to be trying to merge it ("MERGE: #430") and it's blocking anything else from merging.

For now I'll try putting a `/hold` on that PR and hopefully that'll unblock the flow

![image](https://user-images.githubusercontent.com

[2019-02-11 22:48] stevekuznetsov commented on #10827
So to be clear here GitHub is telling us the PR is merge-able but in reality it's not due to the configured merge strategy?

[2019-02-11 22:49] stevekuznetsov commented on #11219
[code]

This is a critical failure in Prow.

[2019-02-12 05:37] krzyzacy opened #11247 "dog test is hitting gcs"
Try to run [the dog test](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/dog/dog_test.go), it's trying to query gcs for this-is-fine images

[2019-02-12 06:08] BenTheElder commented on #11212
Yeah I'm wondering if we should just put this in starter.yaml and make it get bumped along with prow.

[2019-02-12 07:09] fejta opened #11249 "Stream logs to GCS"
Normally GCS objects are only visible for other people to download after the upload is complete. Thus right now you have to wait for the job to finish before viewing the job log in GCS (gubernator and spyglass work around this by downloading the `kubectl logs` output while the job is running)

However we can achieve the same effect by using [composite GCS uploads](https://cloud.google.com/storage/

[2019-02-12 09:36] Random-Liu commented on #11196
@krzyzacy The test can run now, but the artifacts is not properly generated.
For example http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/containerd_cri/1043/pull-cri-containerd-node-e2e/1144/artifacts/

[2019-02-12 14:59] Mikulas opened #11254 "Running kubetest with precompiled kubectl"
Currently `kubetest` fails with

even when kubectl is in `client/bin/kubectl` (and in $PATH, but that is secondary issue).

This can be fixed user-side by putting the precompiled binary into `_output/bin` or other paths defined by https://github.com/kubernetes/kubernetes/blob/d0439d417b0563d44c65b6e400e2070964dea7d1/cluster/clientbin.sh#L86

Is there a reason kube-test requires a locally compiled

[2019-02-12 15:07] stevekuznetsov commented on #8646
This was solved with the status reconciler.

[2019-02-12 15:08] stevekuznetsov commented on #8646
/close

[2019-02-12 15:08] #8646 closed

[2019-02-12 18:20] cjwagner commented on #11224
Switching from flags to config sounds fine to me. The API URL field will need to be a slice though to allow fallback endpoints to be specified as with the `--github-endpoint` flag.

[2019-02-12 18:48] midnightconman commented on #11224
Sweet :smile: I get started on this.

These particular options were meant for visual links, the specific example I am starting with is the `OWNERS` links that are commented back to github. Since these will be `final` links for user consumption, I thought it would be best to have a separate parameter. This separate parameter allows people to use whatever route url they like and still specify a sane

[2019-02-12 19:00] bobcatfish commented on #10827
A bit of confusion @stevekuznetsov :

Assuming Prow is configured to do a rebase to merge:
- If the only merge strategy allowed in the repo is "rebase", github will tell us it can't merge, but tide will try to anyway
- If the repo allows both "rebase" and "merge", github will _not_ tell us it can't merge (since the merge strategy would work, though "rebase" wouldnt) and tide will still try to anyw

[2019-02-12 20:11] apesternikov opened #11260 "S3 support in Prow"
Currently GCS is the only option to use for logs in prow.
**What would you like to be added**:
It would be very useful to be able to use AWS/Azure blob services in addition to GCS.
**Why is this needed**:
Some companies are using non-GCS blob storage extensively. It would be convenient if they can extend its use to prow. Also, certain corporate IT policies/restrictions may prevent corporate users

[2019-02-12 20:12] apesternikov commented on #11260
We are ready to start working on the implementation.

[2019-02-12 21:06] julianvmodesto commented on #11249
/assign

[2019-02-12 21:06] julianvmodesto commented on #11249
/lifecycle active

[2019-02-12 21:30] apesternikov commented on #11260
It feels reasonable to try blob implementation from https://github.com/google/go-cloud as abstraction layer.
To configure the storage, we can deprecate GCSConfiguration (while keeping compatibility of course) and replace with gs://my-bucket notation as used in go-cloud. Alternatively, we can keep GCSConfiguration and add something like S3Configuration and AzureConfiguration alongside with similar

[2019-02-12 22:02] cjwagner commented on #11219
This was fixed by reverting the problematic PR.
ref: https://github.com/kubernetes/test-infra/pull/11262

[2019-02-12 22:02] #11219 closed

[2019-02-13 00:48] cjwagner commented on #11097
I thinking making `ghproxy` add a response header to requests that are served for free would be an easy way to handle this. When the client sees the header it can refund the throttling token used for the request.

[2019-02-13 01:23] krzyzacy commented on #11204
this is fixed in HEAD and reverted in k8s prow deployment, closing the issue.

[2019-02-13 01:23] #11204 closed

[2019-02-13 01:28] krzyzacy commented on #11260
I would prefer to see a design doc and maybe propose in the weekly sig-testing meeting - this sounds like gonna be a big change.

cc @kubernetes/test-infra-maintainers

[2019-02-13 03:48] BenTheElder commented on #11254
Cc @krzyzacy

kubectl requirements depend on the --deployment used FWIW, the newer ones behave differently.

[2019-02-13 04:12] krzyzacy commented on #11254
fwiw https://github.com/kubernetes/test-infra/blob/09eff5a3dc0f8bdf234ff32445056863ed6c49cf/kubetest/kind/kind.go#L364-L375 already handles using kubectl from $PATH

can you paste your logs for your use-case?

[2019-02-13 08:59] OlegLoewen opened #11279 "Where do I download kubernetes-test for linux/amd64?"
Where do I download kubernetes-test for a specific operating system like linux/amd64?
I figured there is a kubernetes-test.tar.gz tar which contains all binaries (darwin/amd64, windows/amd64, linux/amd64, linux/arm64, ...): https://storage.googleapis.com/kubernetes-release/release/v1.13.3/kubernetes-test.tar.gz

Unfortunately this file is **too large (1.23 GB)** to be downloaded periodically on ne

[2019-02-13 14:46] neolit123 commented on #11279
there is ongoing effort to break the test tarball into smaller elements:
https://github.com/kubernetes/enhancements/issues/714
https://github.com/kubernetes/enhancements/pull/701

cc @ixdy

AFAIK downloads such as this are WIP:
https://storage.googleapis.com/kubernetes-release/release/v1.13.3/kubernetes-test-linux-amd64.tar.gz

you can technically download once, extract relevant platform binaries

[2019-02-13 14:46] neolit123 commented on #11279
/triage support

[2019-02-13 14:53] Mikulas commented on #11254
Sure, the full log is this:
[code]

This is from latest kubetest from `go get -u k8s.io/test-infra/kubetest` and somewhat recent kubernetes 1.13.2.

Since creating the issue I've found that the kubectl is not the only required binary and the others are mostly not packaged with official releases. Even so, I believe the error message is misleading as I surely do have a kubectl binary (as shown by th

[2019-02-13 16:29] stevekuznetsov commented on #9824
/remove-lifecycle rotten
/cc @fejta

[2019-02-13 16:31] stevekuznetsov commented on #11097
Wouldn't that make the throttler `ghproxy`-aware? Why would we prefer that over just refunding the throttle if we don't use a GitHub rate limit resource?

[2019-02-13 16:40] stevekuznetsov commented on #8667
/remove-lifecycle rotten
/reopen
This is a huge pain in the neck for devs trying to figure out what is going on.

[2019-02-13 16:40] stevekuznetsov commented on #11146
This was a bug with how we had the CRD set up and nothing with Prow

/close

[2019-02-13 16:40] #11146 closed

[2019-02-13 16:41] stevekuznetsov commented on #10297
/cc @fejta @cjwagner
This would still be perfect

[2019-02-13 16:48] fejta commented on #11260
I would like to see us move towards more natural structures like gs://bucket/prefix URIs, with or without adding support for other clouds.

I would also like us standardize on using prefix/org/repo rather than the current convoluted strategy (depending on if it's the main repo or in the main org, often not including the org)

More detailed proposal we can review and comment on will be great.

[2019-02-13 17:46] stevekuznetsov commented on #11165
[code]

[2019-02-13 18:34] ixdy commented on #11279
yep, we're planning to have platform-specific test tarballs starting with k8s 1.14 (though this is not yet implemented).

[2019-02-13 18:35] ixdy commented on #11279
going to close this as a dupe of kubernetes/enhancements#714; please follow that issue for updates.
/close

[2019-02-13 18:35] #11279 closed

[2019-02-13 19:28] krzyzacy commented on #9553
will be fixed by https://github.com/kubernetes/test-infra/pull/11027 :-)

[2019-02-13 23:26] #9553 closed

[2019-02-13 23:28] krzyzacy commented on #11196
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/containerd_cri/1048/pull-cri-containerd-node-e2e/1156 looks fine, recent runs of https://prow.k8s.io/?job=pull-cri-containerd-node-e2e looks like legit failures.

[2019-02-13 23:28] #11196 closed

[2019-02-13 23:30] krzyzacy commented on #11001
closing this as the issue has been mitigated by https://github.com/kubernetes/test-infra/pull/11002, we might need a better overall solution though

/close

[2019-02-13 23:30] #11001 closed

[2019-02-13 23:45] krzyzacy commented on #10544
/assign
/assign @fejta

[2019-02-14 00:45] BenTheElder commented on #1723
/remove-lifecycle stale

[2019-02-14 00:45] krzyzacy commented on #1723
cc @neolit123 who just asked today
/pony spam

[2019-02-14 00:45] krzyzacy commented on #1723
/help
/unassign @spxtr

[2019-02-14 01:26] neolit123 commented on #1723
i can take a look at this.

/assign
/remove-help
/priority important-longterm

[2019-02-14 01:34] krzyzacy commented on #1723
My $0.02 here:

Currently we call into reportlib from places like: plank, jenkins-operator, external-plugins/refresh/server.go and crier, I'm working on move it out of plank to crier, unclear if I want to handle other ones in the same time yet.

I've implemented the aggregate report behavior for gerrit in https://github.com/kubernetes/test-infra/blob/master/prow/gerrit/reporter/reporter.go#L100 bu

[2019-02-14 02:08] neolit123 commented on #1723
gathering bits from some old comments in this threads and from our discussion today.

i think this is the culprit of the problem:
https://github.com/kubernetes/test-infra/issues/1723#issuecomment-292085934

from my limited understanding of the infrastructure i can think of a solution how to handle this with a generic GitHub bot client - here is what i think can be done:
- when there is an initial

[2019-02-14 06:36] fejta commented on #11097
Yes, and I don't see an alternative. We don't know ahead of time whether get calls will get charged.

The call is only free if both a) the object is cached and b) the object has not been modified since it was cached. Aka the first get call after a put is charged the same as a put.

[2019-02-14 06:39] fejta commented on #10297
/help

Any go_image target needs to be wrapped with a container_image target that sets stamp=True. See how prow images are created for this.

This requires working with bazel rules, aka python

[2019-02-14 06:43] fejta commented on #1723
One issue with the current table is that when I push a new commit, it will still show me failures from the old commit while those jobs are still running.

Ideally when we detect a new commit we clear the table and only show failures for that commit.

[2019-02-14 18:03] nzoueidi commented on #11202
I suppose while the PR #11201 got merged, this issue need to be closed.

[2019-02-14 19:02] davidz627 commented on #11202
@nzoueidi unfortunately no, that PR was *disabling* the feature gate. This issue is to *enable* the feature gate when we have "CSI Driver Installation."

[2019-02-14 20:59] fejta commented on #11247
/help

[2019-02-14 22:33] krzyzacy commented on #10544
I'll backfill more data for now, and resolve https://github.com/kubernetes/test-infra/issues/10359 separately.

[2019-02-14 23:08] cjwagner commented on #11097
There is also the case where the call is free because we coalesced the request with simultaneous requests for the same resource, but the reasoning is totally correct. The downstream client doesn't know how its request was fulfilled unless the proxy provides some additional signal.

[2019-02-14 23:12] akutz commented on #10693
Hi @liztio,

I'm trying to come up to speed on the proposed design and workflow. I have a few questions:

## q1

Are these shared, repurposed accounts? What does _clean_ mean? That an account, perhaps used in a previous CI run, has been placed back into the pool, scrubbed of resources, and ready for re-use? Based on what you've discussed above, this seems to be correct. It looks like you found the

[2019-02-14 23:33] stevekuznetsov commented on #11097
Our requests are not serial ... duh.

[2019-02-14 23:33] stevekuznetsov commented on #11097
:man_facepalming:

[2019-02-15 01:11] krzyzacy commented on #10359
So now we are moving towards backfill the data into started/finished.json now, @stevekuznetsov wonder if the downstream spec is mutable when we are cloning? Or otherwise I'm thinking of we can make initupload understand clone-records.json?

[2019-02-15 01:51] cjwagner commented on #10359
I don't think we should mutate the downstream spec from the job, even during the initial cloning step. If the downstream spec needs additional data I think it should be populated before the pod is scheduled.

[2019-02-15 02:08] BenTheElder commented on #10359
Unless we want to resolve master -> some sha within prow, that's unlikely. It can be resolved during cloning though.

[2019-02-15 02:15] cjwagner commented on #10359
Yeah, I'm saying if we need the downstream spec to include the SHA then all Prow components that trigger jobs should resolve the SHA when creating the job. That sounds like a potentially annoying constraint to add to PJ creation though.
It is unclear to me why the downstream spec needs to be updated at all though. Having initupload determine the SHA itself or from the clone-records.json seems pref

[2019-02-15 02:17] krzyzacy commented on #10359
yeah I can add some logic to make inituploader to understand fields from clone-records.json

[2019-02-15 03:49] BenTheElder commented on #10359
It is unclear to me why the downstream spec needs to be updated at all though. Having initupload determine the SHA itself or from the clone-records.json seems preferable if we don't need the downstream spec to include the SHA for some other reason.

💯
which object it is in isn't important, putting it in the pj spec is probably not a good avenue though, and prow probably shouldn't be trying to reso

[2019-02-15 07:56] matthyx commented on #10062
/close

[2019-02-15 07:56] #10062 closed

[2019-02-15 14:57] liztio commented on #10693
Your assumption is correct. Provisioning a new AWS account is a manual process, not an automated one. And cleaning up an AWS account takes on order of _months_ before the resources are released. It simply wasn't feasible. We will clean with the Janitor as best we can, and assume after that that the resources are "clean."

Now this is where things get extra confusing :) Boskos is deployed in the sa

[2019-02-15 15:14] akutz commented on #10693
Hi @liztio,

Thank you for your answers. They are most helpful! I think the largest misconception that I had was that you were deploying a cluster with Kind and then Boskos to it (as well as the CAPA bits being tested). I did not realize that Boskos was one of the components running on the singular Prow instance. I of course realized it was owned by test-infra, but I thought it was something some

[2019-02-15 15:24] akutz commented on #10693
Hi @liztio,

I think there is an opportunity to update the test-infra docs to reflect that Boskos is an available components. I did a quick search on the repo, and Boskos is only mentioned twice in documentation outside of the `/boskos` sub directory:

1. [`kubetest` and dynamic project selection](https://github.com/kubernetes/test-infra/blob/master/kubetest/README.md#dynamic-project-selection)
2.

[2019-02-15 18:27] AishSundar commented on #11162
we would really appreciate a quick workaround first to unblock multiple usecases on our end. Due to lack of trigger support in Gerrit we are doing some wonky workarounds to trigger presubmits which makes developer workflow difficult.

[2019-02-15 19:15] taragu commented on #10514
@jlewi for the use case of column name not provided in the command (`/project 0.5.0`), originally I was thinking having a list of default columns so that the issue/PR could be added to any one of those (depends on which one is available in the project). And if none of those pre-defined columns is available, the issue/PR will be added to a random column.

This can be a surprising behavior from a us

[2019-02-15 19:33] fejta opened #11322 "Allow spyglass to link to resultstore and other systems as necessary"
Add the ability for spyglass to find and display external links in metadata.

For example, started.json might have the following (yaml-encoded cause I'm lazy):
[code]

I plan to teach https://github.com/kubernetes/test-infra/blob/3dfe410ec157e0654b3f16e6ea0138fdcee24050/experiment/resultstore/main.go#L77 to set this field in started.json (so it is available for still running jobs)

And hopefully w

[2019-02-16 07:55] matthyx commented on #10714
Alright, so now I have a couple of plugins to fix regarding the validation of `enabledRepos`:
- [ ] approve
- [ ] blockade
- [ ] slackevents
- [ ] trigger
- [ ] welcome

[2019-02-16 07:58] #5078 closed

[2019-02-16 19:05] fejta opened #11332 "Make spyglass agnostic to the presence/absence of a trailing slash in URLs"
The prowjob version does not tolerate a trailing slash on the URL:

Happy: https://prow.k8s.io/view/prowjob/ci-containerd-node-e2e-1-1/6165
Sad: https://prow.k8s.io/view/prowjob/ci-containerd-node-e2e-1-1/6165/

However the gcs version (as well as gubernator) does:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-bazel/76414
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/c

[2019-02-16 19:25] stevekuznetsov commented on #11332
/area prow/deck/spyglass

[2019-02-16 19:25] stevekuznetsov commented on #11332
/area prow/spyglass

[2019-02-16 19:50] #9482 closed

[2019-02-18 00:31] nikopen opened #11340 "Utilize Gubernator view_pr for issue tracking [Release Team - bugs, CI, governance, etc.]"
As part of our investigation on automating issue tracking for the release team's various purposes (https://github.com/kubernetes/sig-release/issues/432), we are considering utilizing the existing test infrastructure (Gubernator / Spyglass) so it can be tightly integrated with existing scripts and queries.

The idea came to me after this [Gubernator PR Dashboard](https://k8s-gubernator.appspot.com/

[2019-02-18 00:33] nikopen commented on #11340
/assign @Katharine @nikopen @spiffxp

[2019-02-18 02:27] BenTheElder commented on #5882
/remove-lifecycle stale
/shrug
test-infra is bazel based now mostly, probably should do this.

[2019-02-18 09:54] caiwei-ebay commented on #3805
https://github.com/kubernetes/test-infra/blob/master/prow/git/git.go#L85

This file is still referencing "github.com" as default base.

[2019-02-18 15:48] lioramilbaum opened #11352 "Unclear documentation on how to get prow tackle command"
The documentation states one needs the command to start.
Nothing is specified as regards to how to get it.

[2019-02-18 19:31] spiffxp commented on #10693
One nit: almost all prow jobs run as pods in a separate build cluster.  This provides an extra security boundary to prevent unintended access to certain secrets.

The arch diagram is woefully out of date.  I tried walking through an update of how things are wired together at [SIG Testing Intro KubeCon Seattle 2018](https://www.youtube.com/watch?v=7-_O41W3FRU).  I never got as far as refining and c

[2019-02-18 20:29] matthyx commented on #10714
Thanks @fejta !
/close

[2019-02-18 20:29] #10714 closed

[2019-02-18 22:25] matthyx commented on #9417
@BenTheElder how about using the [trees](https://developer.github.com/v3/git/trees/) API?
example: https://api.github.com/repos/kubernetes/test-infra/git/trees/83ada8bbc0f8a3cbd860037b6f5dc7e67a37afd6

If I can find the top dir sha, I could create a prow job that loads all files recursively and verify that all that are named like `*.sh` and `*.py` have a mode of `100755`?

[2019-02-19 01:01] BenTheElder commented on #9417
Probably we could just skip to always creating a prow presubmit then? Not sure what the trees API is solving? 🤔

[2019-02-19 03:55] stevekuznetsov commented on #11352
/cc @cjwagner

@lioramilbaum Hi! Could you explain which part of the documentation led you to needing `tackle` and what you were trying to do? It's not an often-used command.

We need to update the docs to just instruct you to `bazel run //prow/cmd/tackle -- --opts`

[2019-02-19 04:16] stevekuznetsov commented on #10189
/remove-lifecycle stale

[2019-02-19 04:19] stevekuznetsov commented on #11340
/area prow/deck
So we have a pretty similar page here: https://prow.k8s.io/pr

Only issue I can think if is we would need to make a stateful app to allow for comments and other constant content from users, etc. We're not super well positioned to support that right now/

[2019-02-19 05:55] lioramilbaum commented on #11352
I would like to deploy Prow in a TEST environment. I am starting from scratch. The documentation leads me to using tackle.
If this is not the default deploy method and using bazel is the preferred one, than one should start with installing bazel. Right?

[2019-02-19 07:07] matthyx commented on #9417
It allows to see all files from the repo, along with their mode:
[code]

[2019-02-19 07:10] BenTheElder commented on #9417
Ah I see.
A ProwJob can also just checkout the repo and list the files though? A re-usable prowjob config might be simpler and avoid extra API token usage.

With the podutils the config for this could probably be just a few lines if we published the linter in an image.

[2019-02-19 07:10] matthyx commented on #9417
I can create a new hook, pretty much like I did with `verify-owners` but do we want one just for file permissions?

[2019-02-19 07:12] matthyx commented on #9417
Alright, lemme investigate your page (https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md#writing-a-prowjob-that-uses-pod-utilities)

[2019-02-19 07:19] matthyx commented on #9417
I can use the alpine image and simply find those files with a `find` shell-fu like that:
[code]

[2019-02-19 07:23] matthyx commented on #9417
How do you report errors with prowjobs? Is it just a matter of returning a non-0 code?

[2019-02-19 07:27] BenTheElder commented on #9417
Non-zero return code and ideally some output in the log identifying what is
wrong.

Depending on the complexity it might be worth packaging a small program
into a tiny image so the prowjob can just be setting the image and command.

On Mon, Feb 18, 2019, 23:23 Matthias Bertschy <notifications@github.com
wrote:

[2019-02-19 07:29] matthyx commented on #9417
Ok, ideally it would reside in `config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml` ?

[2019-02-19 13:38] nikopen commented on #11340
@stevekuznetsov while it does have a GH query input, it's hardly a similar page - layout should be row-like as in the gubernator dashboard for visibility, also 'issues' are not supported at all. Its purpose seems to be a bit different from what we want.

Overall there are various partial implementations of what we would ideally have, with some desirable features scattered through them, i.e. GH que

[2019-02-19 14:42] mskonovalov opened #11365 "PR Dashboard doesn't work on private repo"
**What happened**:
PR Dashboard shows 0 PRs

**What you expected to happen**:
pr dashboard should show some PRs

**How to reproduce it (as minimally and precisely as possible)**:
Repository is private,
org name starts with capital letter,
query from logs works on GH web UI

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:
no errors in logs

[code]

[2019-02-19 14:42] mskonovalov commented on #11365
/area prow
/area prow/deck

[2019-02-19 14:43] mskonovalov commented on #11365
cc @stevekuznetsov

[2019-02-19 16:26] stevekuznetsov commented on #11340
Sorry, I didn't mean that the page should support your needs, just that it offers similar behavior -- displaying output from a GitHub query.

Storing a small amount of state is no easier in a system that is entirely stateless today, unfortunately. Do we want a(nother) web service that's reaching out to S3 to render pages? Seems like we'd be bending over backwards to avoid a database deployment...

[2019-02-19 16:26] stevekuznetsov commented on #11340
Why did you remove the deck label? That was added on purpose ...

[2019-02-19 16:26] stevekuznetsov commented on #11340
/area prow/deck

(Spyglass is a part of Deck)

[2019-02-19 16:31] stevekuznetsov commented on #11340
/cc @cjw

[2019-02-19 16:31] stevekuznetsov commented on #11340
/cc @cjwagner

[2019-02-19 16:33] nikopen commented on #11340
Ah, sorry on the label!

An extra dependency might be unavoidable, the alternative is using external tooling like Airtable which will be extra hassle to manage and maintain etc as I see it.. as the state needed is small with short retention, there could be various hacks to utilize for that - it's a minor feature but somehow 'important' for some teams.

[2019-02-19 17:33] stevekuznetsov commented on #11365
Looks like we might mishandle casing in our queries and/or config

/cc @cjwagner @Katharine

[2019-02-19 17:35] stevekuznetsov commented on #11352
How much of a test environment are you trying to create? I don't know if we really support a test prow well right now. Bazel is not a deployment method, I thought you were trying to run `tackle` locally.

[2019-02-19 17:41] Katharine commented on #11340
So I chatted with @nikopen about this some offline, and to summarise my thoughts on this:

I don't think Prow/Spyglass is the right place to put this functionality. Aside from the statefulness requirement, it's also pretty orthogonal to the job running/viewing goals of Prow, and skews into project management. Gubernator does have some similar functionality, but we explicitly did not want to move t

[2019-02-19 17:51] spiffxp commented on #7713
/unshrug

[2019-02-19 17:52] spiffxp commented on #5431
/unshrug

[2019-02-19 17:54] spiffxp commented on #9719
/unshrug

[2019-02-19 17:54] spiffxp commented on #9378
/kind documentation
/help wanted
/unshrug

[2019-02-19 17:55] spiffxp commented on #7769
/unshrug
/kind cleanup
/sig testing

[2019-02-19 18:34] BenTheElder commented on #7713
[kubetest2](https://docs.google.com/document/d/1Dc7xg9lq4cxdDuz20YZjunuL5eju2WIXwO32praC5hs/) proposes a solution for this. I intend to start writing actual prototype code this week.

[2019-02-19 19:06] jlewi commented on #10514
Can we replicate the GitHub UI behavior? If just tag an issue into a project I think it will be added to a column based on the project automation setup. Is there a way to replicate this?

I think that is the desired behavior because

* users don't need to know card names
* if project automation is configured issue will go into a triage column as desired.

[2019-02-19 19:32] BenTheElder commented on #9417
yes :+1:, thanks!

[2019-02-19 20:34] akutz commented on #9549
/assign

[2019-02-19 21:50] #9417 closed

[2019-02-19 21:50] matthyx commented on #8193
ok, I'll take that one next
/assign

[2019-02-19 23:26] cjwagner commented on #9126
/help
More general version of this issue applying to all repo scoped Prow config: https://github.com/kubernetes/test-infra/issues/9757

[2019-02-19 23:30] cjwagner commented on #9757
This might be an interesting medium sized feature for a new contributor to work on. It has a bit more complexity than other "help wanted" issues, but it doesn't require much familiarity with Prow.
/help

[2019-02-19 23:30] cjwagner commented on #9757
/remove-lifecycle rotten

[2019-02-20 00:37] taragu commented on #10514
@jlewi cool! Does that mean adding an issue/PR to a project is simply adding a label? What do you mean by tagging an issue?

[2019-02-20 01:03] #9549 closed

[2019-02-20 02:07] nikopen commented on #10047
/close

gubernator already does this for each user, and there's this too https://prow.k8s.io/pr?query=is%3Apr%20state%3Aopen%20label%3Algtm%20-label%3Aapproved%20milestone%3Av1.14

[2019-02-20 02:07] #10047 closed

[2019-02-20 02:13] #9960 closed

[2019-02-20 02:13] #9462 closed

[2019-02-20 04:19] jlewi commented on #10514
Currently the way I add an issue to a project is via the GitHub UI. Specifically if you go to an issue, below labels there is an option to select projects.

From there I can select project. The UI doesn't let me select which card to add the issue to.

For one of our cards in the project we set it up so all newly added isssues & PRs are automatically added to that card.

I would like the same behav

[2019-02-20 08:32] BenTheElder opened #11388 "pull-kubernetes-kubemark-e2e-gce-big is running ginkgo but skipping all tests"
Example: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/73866/pull-kubernetes-kubemark-e2e-gce-big/38451/?log#log

I0220 07:49:54.066] SUCCESS! -- 0 Passed | 0 Failed | 0 Pending | 3004 Skipped PASS

This doesn't seem right. Seems like either we're skipping tests we should run, or we're firing up the e2e suite without actually using it...

/kind bug
/area jobs
/assign @wojtek-t

[2019-02-20 08:36] wojtek-t commented on #11388
This is working as intended.
We recently switch scalability to the new framework (ClusterLoader). Scalability tests are no longer e2e-ginkgo tests. You can look into logs and you see things like this:
[code]

If it would be possible to skip firing up e2e suite, then it would be great - it's currently not possible.

[2019-02-20 10:11] matthyx commented on #8193
Alright, I need some clarification on how we want to proceed here:

1. If I move to using pointers to structs in Blunderbuss for example, I will have to handle a nil config with a function (pretty much like in size.go) rendering the code in plugins.setDefaults() obsolete. Is that what we want?
1. I also wonder how we will roll-out the migrated plugins, as the config will break in all orgs when the

[2019-02-20 14:01] lioramilbaum commented on #11352
I am trying to figure out how Prow works. Deploying it in a TEST environment is how I plan to investigate it.

[2019-02-20 15:05] dims opened #11391 "`/skip` plugin does not clear statuses of deleted (non-blocking) jobs (and tide blocks on it too!)"
We removed a job yesterday. it was a non-blocking job [1]. however we are unable to clear the status(es) in existing PRs using `/skip`.

Also tide seems to be treating it as a required thing - `**tide ** Pending — Not mergeable. Job pull-kubernetes-local-e2e-containerized has not succeeded.`

[1] https://github.com/kubernetes/test-infra/pull/11338

[2019-02-20 15:05] dims commented on #11391
/assign @stevekuznetsov @kargakis

[2019-02-20 16:11] stevekuznetsov commented on #11391
This is WAI -- those jobs do not exist in the config and we have no knowledge of them. We should use `migratestatus` to fix this instance and deploy the `status-reconciler` to not have to deal with this in the future.

[2019-02-20 16:11] stevekuznetsov commented on #11391
/close

[2019-02-20 16:11] #11391 closed

[2019-02-20 16:13] stevekuznetsov commented on #11352
I am not certain that this will be very fruitful for you, you could try actually setting up webhooks but running in dry-run mode. @cjwagner WDYT is the best way forward here?

[2019-02-20 16:36] BenTheElder commented on #11388
Huh? This is 100% possible, don't set `--test` if you aren't using ginkgo?
https://github.com/kubernetes/test-infra/blob/a6f65f395440df754f2ce8c7bd62e4f1a9c5485c/scenarios/kubernetes_e2e.py#L546

[2019-02-20 16:44] idvoretskyi commented on #10043
It's solved now, please open a new issue if this will happen again.

/close

[2019-02-20 16:44] #10043 closed

[2019-02-20 17:00] listx opened #11394 "Add prow job configs for container image promotion process"
The [OSS promoter](github.com/GoogleCloudPlatform/k8s-container-image-promoter) is ready to be used as part of a Prow job to handle Docker container image promotions for the community. Add prow configs that can handle presubmits/postsubmits from a repository that host promoter manifest files.

See https://docs.google.com/document/d/16VBfsFMynA7tObzuZGPpw-sKDKfFc_T5W_E4IeEIaOQ/edit# (Feb 20 2019 me

[2019-02-20 17:01] listx commented on #11394
/assign listx

[2019-02-20 17:24] mariantalla commented on #10369
(👋 picking this up again)

@jberkus -- it sounded you had something in the works. Is it at a place you'd be up for sharing?

An alternative I was thinking of is to create a test dashboard with the purpose of estimating flakiness per test/job. An example implementation could be: check out a commit, run e2e tests `x` times, calculate flakiness based on the results (e.g. 0 fails or`x` fails => not fl

[2019-02-20 18:07] tpepper commented on #9374
Is there any perf measurement today of general spyglass page / data load times relative to equivalent in gubernator?

[2019-02-20 18:25] krzyzacy commented on #11388
[code]

that looks about right, except for `--test_args=--ginkgo.focus=xxxx`?

[2019-02-20 18:26] cjwagner commented on #9840
I'm checking the logs before updating Prow and seeing a lot of error level log spam from Deck:
[code]
[code]
[code]

I'm pretty confident that these shouldn't be error level at all, but in either case these messages do not provide enough context to be actionable.
/assign @Katharine
Are these really unexpected errors?

[2019-02-20 18:40] BenTheElder commented on #11388
@krzyzacy test-cmd should be totally orthogonal to ginkgo, this is almost definitely a bug.

we shouldn't be publishing ginkgo results when we don't run it, or paying the time to build / run it. :man_shrugging:

[2019-02-20 18:53] cjwagner commented on #11352
Typically if you want to deploy a Prow instance for demo/testing/educational purposes you just deploy Prow and configure it to operate on a dummy personal repo.
See the instructions here for using `tackle`: https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#tackle-deployment

[code]
`tackle` is just a go program that helps deploy Prow. Bazel is a build system that

[2019-02-20 18:55] BenTheElder commented on #11388
if ginkgo runs `--test_args=--ginkgo.focus=xxxx` has to be set :confused: -- we should really disentangle this going forward with kubetest2... I don't yet understand why this needs to run ginkgo but I'm fairly certain that it should not.

[2019-02-20 19:03] krzyzacy commented on #11388
@wojtek-t I suggest we retire the --kubemark logic and move these into clusterloader, or we can safely remove the ginkgo call in https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L639-L649 now afaik?

[2019-02-20 19:07] #10989 closed

[2019-02-20 19:10] BenTheElder commented on #9374
@tpepper there isn't, it would be a little apples to oranges though because the functionality is not 1:1 nor is the amount of resources available to them (and we could increase it for either).

Gubernator also relies on some things we pretty much consider legacy like incremental build IDs.

We also know for a fact it can be made faster with a more efficient / less featureful GCS library but punted

[2019-02-20 19:33] hh commented on #11394
@thockin and @listx have you scheduled this?

If you schedule it starting after 5AM and ending before 7AM PST (my Saturday), I'd like to be part of that session.

[2019-02-20 19:39] Katharine commented on #9840
I think they are! By the time it decides it wants to fetch these, it must have previously had cause to believe they exist (generally as a result of a directory listing). I'm not aware of any legitimate context in which it would try to request these without being confident they actually exist.

[2019-02-20 19:40] Katharine commented on #9840
It would certainly be nice if the errors were more specific about what exactly it was trying to look up.

[2019-02-20 20:29] stevekuznetsov commented on #9840
I have been reporting those for a while...

[2019-02-20 21:43] dims commented on #11394
/area wg-k8s-infra

[2019-02-20 22:05] spiffxp commented on #10423
We would also get way, way more tokens if we interacted as an app against high-volume orgs like kubernetes.

[2019-02-20 22:12] spiffxp opened #11402 "Repurpose k8s-merge-robot as k8s-github-robot"
**What should be cleaned up or changed**:
Since we've turned down the submit queue, k8s-merge-robot has sat around basically unused.  It has a github token with the same privileges as k8s-ci-robot.  Let's use it for automation that manages github configuration, and leave the k8s-ci-robot token for prow's interactions with github related to CI.  This will give us some breathing room while we figure

[2019-02-20 22:13] spiffxp commented on #11402
I've successfully renamed k8s-merge-robot, we now have https://github.com/k8s-github-robot

[2019-02-20 22:21] spiffxp commented on #11402
/sig testing
/sig contributor-experience
/milestone v1.14
/priority important-soon

[2019-02-20 22:42] BenTheElder opened #11404 "kubeflow is using non-existent 1.10 images"
/area jobs

https://github.com/kubernetes/test-infra/blob/66076b42b9dd576afcbb90d6c262b43bcd500034/config/jobs/kubeflow/kubeflow-presubmits.yaml#L211

Kubernetes 1.10 is out of support for some time now, please choose a newer version or the master tools and upgrade, or select a different image

/assign @IronPan

[2019-02-20 23:15] #11404 closed

[2019-02-20 23:40] stevekuznetsov commented on #11402
Let's call out `status-reconciler` specifically?

[2019-02-20 23:41] stevekuznetsov commented on #11402
All this SGTM

[2019-02-21 01:08] cblecker commented on #9098
/remove-lifecycle stale

[2019-02-21 01:27] cblecker opened #11413 "prow/blunderbuss: possibly use UserStatus?"
**What would you like to be added**:
GitHub has a v4 API endpoint for `UserStatus`.. we could use this endpoint to see if `indicatesLimitedAvailability`, and use this as a weight when deciding who to assign new PRs to for review.

**Why is this needed**:
This allows folks to temporarily opt out of having new PRs assigned to them for review, hopefully increasing reviewer responsiveness by pushing r

[2019-02-21 03:16] listx commented on #11394
@hh Hi Hippie, I don't know how these sessions usually go down but I'm assuming it'll be like some sort of hackathon? And will we be using a zoom meeting...? FWIW I'll be online and available during your requested time zone on Friday.

[2019-02-21 03:23] taragu commented on #10514
@jlewi Ah I see. Thanks for the clarification!

I was looking at [Github's API around project](https://developer.github.com/v3/projects/columns/) and I wasn't able to find a way to add an issue/PR to a project without specifying a column. I also wasn't able to tell which column is the default column for newly added issues/PRs from the list project columns API.

I'm not sure what a good workaround

[2019-02-21 05:42] krzyzacy commented on #10359
🤞
Our metadata should be good to go now - just need to have testgrid/spyglass/gubernator treat them properly

[2019-02-21 05:42] #10359 closed

[2019-02-21 05:43] krzyzacy commented on #9923
the only thing we'd still want to have is https://github.com/kubernetes/test-infra/issues/11162, punt to that instead :-)

[2019-02-21 05:43] #9923 closed

[2019-02-21 05:44] krzyzacy commented on #10352
/assign @amwat
🤦‍♂️ didn't have cycle, let's see if we can sneak this in before code freeze

[2019-02-21 05:46] krzyzacy commented on #10470
@stevekuznetsov thoughts beside https://github.com/kubernetes/test-infra/pull/10597? I think this is still a pain point...

[2019-02-21 05:47] krzyzacy commented on #10100
it's probably fine, nobody complaint yet

[2019-02-21 05:50] BenTheElder commented on #10100
check things like _this_ first maybe :^) https://unix.stackexchange.com/a/26797

[2019-02-21 05:52] krzyzacy commented on #10544
Most of the metadata here is now backfilled in started.json, we still need to make downstream consume these. Maybe worth a separate issue.

/close

[2019-02-21 05:52] #10544 closed

[2019-02-21 05:53] krzyzacy commented on #10230
/this-is-fine

[2019-02-21 05:55] krzyzacy commented on #10100
Also for k8s, ginkgo has a wrapper so now we actually have double timestamps which looks a bit odd...

[2019-02-21 05:59] BenTheElder commented on #10230
my actual plan is to make a cleaner pod-utils only image for kubetest2 jobs and let kubekins eventually die

[2019-02-21 06:02] krzyzacy commented on #9620
@davidz627 we are moving towards kubetest2, see design doc https://docs.google.com/document/d/1Dc7xg9lq4cxdDuz20YZjunuL5eju2WIXwO32praC5hs/edit, and you can have your freedom of your deployer.

/priority important-longterm
/unassign
/help

[2019-02-21 06:03] krzyzacy commented on #2364
/unassign
cc @tony-yang who might be interested

[2019-02-21 06:04] krzyzacy commented on #3330
/assign @BenTheElder

moving towards kubetest2 :-)

[2019-02-21 06:04] fejta commented on #2364
GST

[2019-02-21 06:06] krzyzacy commented on #5708
I don't have bandwidth to cherrypick everything properly, but at least master works without this scenario now. (We can no-op and drop this after three releases 😂 )

[2019-02-21 06:08] krzyzacy commented on #7741
Will try again O(next week) :-)

[2019-02-21 06:14] krzyzacy commented on #11038
/unassign

[2019-02-21 06:16] krzyzacy commented on #2547
/pony shrug
/remove-lifecycle stale
/lifecycle frozen

[2019-02-21 06:17] krzyzacy commented on #2547
/oldest-test-infra-issue-so-far

[2019-02-21 06:27] krzyzacy commented on #4824
/milestone ${CurrentMilestone}+1

[2019-02-21 06:28] krzyzacy commented on #4584
I'll call this done?

/close

[2019-02-21 06:28] #4584 closed

[2019-02-21 06:31] krzyzacy commented on #3412
so, we've agreed on https://github.com/kubernetes/test-infra/blob/master/testgrid/metadata/job.go#L19-L73 being the source of truth going forward - though they can still be improved, like make metadata fields more detail.

@stevekuznetsov shall we close this?

[2019-02-21 07:37] ixdy commented on #5708
I don't remember which changes are needed, but I think I cherry-picked at least some of them.

[2019-02-21 07:38] ixdy commented on #5708
https://github.com/kubernetes/kubernetes/pull/72668
https://github.com/kubernetes/kubernetes/pull/72669
https://github.com/kubernetes/kubernetes/pull/72670

[2019-02-21 08:47] lioramilbaum commented on #11352
@cjwagner the page you referred to is the one which is unclear.
The first commented line points out what is the ideal approach with no clear instructions.
The second commented line didn't work for me till I figure it out. The GOPATH was not set.
Would you prefer I edit the page and add detailed instructions according to my experience?

[2019-02-21 09:40] #5542 closed

[2019-02-21 12:35] dims commented on #11394
/wg k8s-infra

[2019-02-21 16:41] spiffxp commented on #11402
I accepted all of the org invites, so at this point k8s-github-robot's token should be good for things.  Now to see if it's even in the prow cluster to begin with

[2019-02-21 17:18] spiffxp commented on #11402
Checking in on label-sync first led me to https://github.com/kubernetes/test-infra/pull/11421

Take two...

[2019-02-21 18:10] cjwagner commented on #11352
That would be great! I'm not quite sure what is unclear about the first line, but if you can improve it I'm all for it. I don't think embedding the installation instructions for bazel in our docs is appropriate though if that is what you are suggesting.
Similarly a properly configured GOPATH is required for using most (all?) features of go so I don't think we should be including details about that

[2019-02-21 18:44] fejta opened #11422 "Set ConfiguredTarget status"
In the test page, I noticed that the target status bar is grey, indicating an unknown status.
If you set the target status on the configured target, the status bar should reflect that.

ref #11009

[2019-02-21 19:01] lioramilbaum commented on #11352
Agree

[2019-02-21 19:13] stevekuznetsov commented on #3412
External documentation would be the last bit to close this one, I think

[2019-02-21 22:37] spiffxp opened #11430 "prow.k8s.io is slow"
Ever since we rolled out the latest version of prow, we've encountered some... problems.  Prow feels slow, takes a good bit to respond to random events, etc.

Let's talk about it!

Things I've heard of:
- pods were randomly unable to talk to each other at times
- ... because the push_gateway component was eating ~400% CPU
- now it still seems to be slow, it seems to be all components
- we are susp

[2019-02-21 22:38] spiffxp commented on #11430
/priority critical-urgent
/milestone v1.14

[2019-02-21 22:39] spiffxp commented on #11430
/assign @Katharine
also looking at reverting deck, apparently

[2019-02-21 22:39] spiffxp commented on #11430
/area prow
because why not

[2019-02-21 22:40] fejta commented on #11430
We rolled back to January -

Merged: https://github.com/kubernetes/test-infra/pull/11429
Deployed: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/post-test-infra-deploy-prow/1019/?log#log

[2019-02-21 22:41] spiffxp commented on #11430
relevant slack threads:
- #prow https://kubernetes.slack.com/archives/CDECRSC5U/p1550787869016400
- #testing-ops https://kubernetes.slack.com/archives/C7J9RP96G/p1550778390048700

[2019-02-21 22:43] spiffxp commented on #11430
http://velodrome.k8s.io/dashboard/db/monitoring?panelId=9&fullscreen&orgId=1&from=now-2d&to=now - shows tide processing times went wild

![screen shot 2019-02-21 at 2 43 27 pm](https://user-images.githubusercontent.com/49258/53206912-122a7280-35e7-11e9-9834-67e1e33b3210.png)

[2019-02-21 22:45] BenTheElder commented on #11430
prow workloads are on nodes with 2x the number of cores now

[2019-02-21 22:47] #6083 closed

[2019-02-22 00:19] BenTheElder commented on #11430
resource usage appears to be nominal again, presubmit triggering for helm/charts is fixed.

[2019-02-22 01:02] tpepper commented on #11430
tide processing time in velodrome looks like it went back in line with historical trend

[2019-02-22 01:58] fejta commented on #11430
We're now running deck at HEAD of master without issue after:
* reverting the client refactor in deck
* doubling the cpu available to the cluster
* upgrading the version of GKE

[2019-02-22 03:26] neolit123 opened #11441 "kubetest/kind: odd bug caused by enabling `--loglevel=debug` for kind"
i'm seeing something very odd in the kind deployer for kubetest.

this PR:
https://github.com/kubernetes/test-infra/pull/11379/files

is causing:

2019/02/20 16:00:32 kind.go:457: kind.go:KubectlCommand()
2019/02/20 16:00:32 process.go:153: Running: kubectl get nodes --no-headers
The connection to the server localhost:8080 was refused - did you specify the right host or port?
2019/02/20 16:00:32 p

[2019-02-22 03:43] BenTheElder commented on #11441
was the kubeconfig path set? this control flow is so convoluted, in kubetest2 i think we will just let the deployer decide if it wants to cleanup previous deployments in `Up()` itself.

[2019-02-22 03:55] neolit123 commented on #11441
yes.

i've added this call to double check:
[code]

but i'm seeing this, which looks like a mix between kind and kubetest output.

/home/lubo-it/.kube/kind-config-kind-kubetest

[2019-02-22 03:55] stevekuznetsov commented on #11430
Why?

[2019-02-22 03:56] stevekuznetsov commented on #11430
There is a known LOGICAL bug in `hook` for triggering. We do not currently have any known issues with `plank`. The `tide` issues for all we can tell are not related to the clients. It is not a good use of time to do that.

[2019-02-22 03:59] BenTheElder commented on #11441
we call clusterExists in both down and TestSetup, should be from Down()?

I wonder if we should have the KubectlCommand() method ensure the kubectl command has the kubeconfig set. (either by flag or by env on the command)

[2019-02-22 04:01] neolit123 commented on #11441
this seems to work fine.

i have a suspicion that we are somehow convolution the `d.control.Output` calls with the logs from kind with `--v=6` and `--loglevel=debug`. o_O

setting `--loglevel=info` fixes the problem.

[2019-02-22 04:03] neolit123 commented on #11441
i remembered this now:
https://github.com/kubernetes-sigs/kind/issues/55#issuecomment-461583253

[2019-02-22 04:05] BenTheElder commented on #11441
whoah, uhhh. what?

how is kind#55 related?

[2019-02-22 04:09] neolit123 commented on #11441
this is the weird part. the problem was introduced with PR https://github.com/kubernetes/test-infra/pull/11379/files

i reproduce this locally.

the user mentioned that toggling log level fixes a cluster creation bug.

sounds like a race / memory corruption / something else.
i will not build custom kind binary and try to feed it a custom kubetest to check something.

[2019-02-22 04:16] BenTheElder commented on #11441
oh, I'm pretty certain 55 had a race just in if the api-server survives startup or not, disk eviction on a noisy host / workstation caused all kinds of fun.

[2019-02-22 04:22] neolit123 commented on #11441
the fact that a kind debug level toggle, modifies the app behavior i think means a race in kind?

[2019-02-22 04:40] BenTheElder commented on #11441
it may have just been a coincidence, there shouldn't be any races in kind currently, the bringup is all serial.

[2019-02-22 04:43] neolit123 commented on #11441
[code]

this patch fixes the bug that i'm seeing with `--loglevel=debug`.

[2019-02-22 05:24] neolit123 commented on #11441
this issue is in the path after all:
[code]

debug adds extra output and pollutes the config path.

[2019-02-22 05:27] BenTheElder commented on #11441
oh LOL that makes sense. imo that's a bug in the kubetest/kind package but we should really think more about logging in kind

[2019-02-22 05:33] neolit123 commented on #11441
fixed by https://github.com/kubernetes/test-infra/pull/11444

[2019-02-22 05:33] #11441 closed

[2019-02-22 05:34] BenTheElder commented on #11441
yeah, tryUntil also needs us to fix commands possibly hanging indefinitely. (another thing I want to change at the exec package level). thanks for hunting this down and patching it 🙏

[2019-02-22 08:06] rmohr opened #11446 "Allow scraping github_token_count via prometheus"
**What would you like to be added**:

It would be great if it is possible to scrape `github_token_count` via prometheus from the `token-counter`.

**Why is this needed**:

Right now `github_token_count` seems to be the only metric which,for basic monitoring, is only served via influxdb to grafana. If that metric can be collected for prometheus, then influxdb would only be needed for long-time stor

[2019-02-22 16:10] spiffxp opened #11453 "pull-kubernetes-cross should be in presubmits-kubernetes-blocking"
pull-kubernetes-cross is in https://testgrid.k8s.io/presubmits-kubernetes-nonblocking but it is a blocking job, it should be in https://testgrid.k8s.io/presubmits-kubernetes-blocking

Noticed in https://github.com/kubernetes/test-infra/pull/11445/files#r259241604

/priority important-soon
/sig testing
FYI @BenTheElder

[2019-02-22 16:56] BenTheElder commented on #11453
/assign

[2019-02-22 17:53] fejta commented on #11430
Primary goal for the day is:
a) Get all prow components at a Feb 22nd commit instead of Jan 25th
b) Get all prow component at the same commit
c) revert as much as possible to accomplish the above (and as little)

Once we've found a good Feb 22nd deployment, then start reintroducing things we had to revert.

[2019-02-22 18:10] spiffxp commented on #11430
[I gave kubernetes-dev@ a heads up](https://groups.google.com/forum/#!topic/kubernetes-dev/gjT5fpFlZx0), when we reach an all-clear state we should let them know

[2019-02-22 18:29] neolit123 commented on #11430
cc

[2019-02-22 18:33] neolit123 opened #11457 "should we add timestamps in the job failure report table for PRs?"
this merged:
https://github.com/kubernetes/test-infra/pull/11341

TL;DR when a test job fails in a PR the bot now deletes/creates old comments only for failures on new commits, otherwise edits existing comments to add new failed jobs.

@spiffxp on slack mentioned:
[code]

- what do others think about the timestamp idea?
- if "yes" what timestamp format should be used?

@kubernetes/sig-testing

/ar

[2019-02-22 19:37] #11453 closed

[2019-02-22 19:39] fejta commented on #11430
Yesterday the known problematic pieces were:
* Hook
* Tide
* Deck
* Our cluster

Current state is that cluster, deck and [now possibly tide](http://velodrome.k8s.io/dashboard/db/monitoring?panelId=9&fullscreen&orgId=1&from=now-2d&to=now) appear to be healthy at head.

[2019-02-22 20:09] spiffxp commented on #7890
/remove-lifecycle rotten
this would still be really useful

[2019-02-22 20:09] spiffxp commented on #7890
since we just reverted / rolled out some things but not all things?

[2019-02-22 22:27] BenTheElder commented on #11430
tide still looks good:
![image](https://user-images.githubusercontent.com/917931/53274929-f3db7a00-36ad-11e9-96a5-81f77a4da23b.png)

[2019-02-22 22:43] cjwagner commented on #11430
Update: We are now monitoring the effect of deploying this: https://github.com/kubernetes/test-infra/pull/11461
Once we've determined things are stable (lets give it 20 mins or so and keep an eye on CPU) we'll try to update hook to HEAD.

[2019-02-22 23:02] spiffxp opened #11465 "Prune test-infra GitHub teams and collaborators"
**What should be cleaned up or changed**:
I would like to drop all use of collaborators in test-infra, and only use teams

I would like to prune team access to the following:
- `test-infra-admins` - admin access to the repo
- `test-infra-maintainers` - write access to the repo

I would like to drop the following teams in favor of `sig-testing-pr-reviews`
- `test-infra-reviewers`

I would like to p

[2019-02-22 23:20] taragu commented on #10514
@jlewi I have not found a way to get the default column for project automation. My current implementation will require users to edit [the plugins.yaml file](https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml) for the default set of columns for each org or repo (repo configs override org configs):
[code]
The column name is not required (i.e. the command is `/project 0.5.0`) if a

[2019-02-22 23:26] spiffxp commented on #11465
Survey of direct collaborators:

Either join as org members, or they won't be able to /lgtm, be /assign'ed, will need /ok-to-test, etc:

- @gaughen
- @lukaszgryglicki
- @nlandolfi
- @ostromart
- @yutongz

Either move to `test-infra-maintainers` or they'll lose direct write access.  I would default to the latter.

- @AishSundar
- @mithrav
- @paulangton
- @sebastienvas

No-op, they're already org me

[2019-02-22 23:31] spiffxp commented on #11465
/sig testing
/priority important-longterm
/milestone v1.14

[2019-02-22 23:39] cblecker commented on #10514
@nickvanw It doesn't seem that the v3 API provides a way to add a card to a board in a "pending" state.. you need to add a card directly to a column. The v4 API notes that a card can be in a pending state, but again, it requires you specify a column manually.

If we were able to add in a pending state to a board (as the web UI does) then the automation would take over and put it in the right colum

[2019-02-22 23:48] cjwagner commented on #11430
#11461 Seems to have deployed fine with the exception of a couple transient errors that don't appear to be related.

We're holding off on updating `hook` for the moment to address https://github.com/kubernetes/test-infra/pull/11460#issuecomment-466586230 and will instead update `horologium` to HEAD and monitor that.

[2019-02-22 23:59] cblecker commented on #11465
Explicit +1

[2019-02-23 01:06] krzyzacy commented on #11465
/lgtm
/hold
/pony clean up

[2019-02-23 01:28] akutz opened #11471 "boskos: AWS janitor not cleaning up all of the resources"
/area boskos

**What happened**:
`aws-janitor` seems to omit several resources that should be cleaned up.

**What you expected to happen**:
All of the AWS resources related to the Cluster API Provider for AWS (CAPA) to be cleaned up.

[code]

The resources with `cluster-api-provider-aws.sigs.k8s.io` in the name in the above output from `was-janitor` are related to CAPA and should be removed.

| Ty

[2019-02-23 01:42] cjwagner commented on #11430
`horologium`, `crier`, and `sinker` are all up to date now and seem to be healthy.

[2019-02-23 02:07] neolit123 commented on #11457
https://github.com/kubernetes/test-infra/pull/11341 is being reverted.
seems to me the timestamp idea was a possible solution for the `/retest -> where are my results?` confusion.

[2019-02-23 02:07] #11457 closed

[2019-02-23 03:46] cjwagner commented on #11430
`hook` has been updated now and also seems to be healthy. ref: https://github.com/kubernetes/test-infra/pull/11464

Lets close this issue on Monday if things are still looking good. I'd like to validate everything under peak load to ensure we're in a healthy state.

[2019-02-23 03:59] BenTheElder commented on #11430
for future reference, this is a typical snapshot across the cluster:
[code]

<img width="1566" alt="screen shot 2019-02-22 at 7 57 18 pm" src="https://user-images.githubusercontent.com/917931/53281376-1f755900-36dc-11e9-87b2-01b2c3a10745.png">

logs look pretty fine.
we can't prove that helm/charts is fine after the hook update but we also have no proof that it's not 😛

[2019-02-23 05:15] BenTheElder commented on #11430
@cjwagner spotted a triggered presubmit in helm/charts 🎉

[2019-02-23 05:48] listx commented on #11394
The PR for this is #11414

[2019-02-23 07:53] fejta opened #11478 "prstatus should use the same github client as the rest of prow"
https://github.com/kubernetes/test-infra/blob/d5df4edf4235efa99f57c6114cec8abaa58a12c7/prow/prstatus/prstatus.go#L28

should consider using the same client as the rest of prow: https://github.com/kubernetes/test-infra/blob/d5df4edf4235efa99f57c6114cec8abaa58a12c7/prow/github/client.go#L223

although I suspect it doesn't because it makes requests on behalf of another user.

/help

[2019-02-23 09:36] tosss opened #11479 "PR Dashboard:"

[2019-02-23 09:38] tosss opened #11480 "PR Dashboard:"
Renamed. PLEASE JOIN kubernetes-users INSTEAD

[2019-02-23 23:24] midnightconman opened #11483 "Deck Github Endpoint Flag"
**What would you like to be added**:
Most applications in prow allow overriding `github-endpoint` via flag provided in `flagutils`, like hook, plank, tide, branchprotector, etc.

I would like to be able to use this flag in deck.

**Why is this needed**:
Without this, we can't use ghproxy or a different github api endpoint in deck.

[2019-02-24 01:12] jeffqwb2017 opened #11484 "Docker node conformance dashboard pages are missing detailed test rows and result data"
**What happened**:  After docker PR  #11270 was merged by testgrid
We found two major issues on final  dashboard page
**Actual Issue 1**. Look into the link below, the far left column only displays "overall" and missing the rest of the test rows
 https://testgrid.k8s.io/sig-node-docker#ee17.06-node.e2e-ubuntu-k8s1.12
![overall column](https://user-images.githubusercontent.com/30056067/53293679-185

[2019-02-24 01:36] ixdy commented on #11279
@OlegLoewen just FYI, the CI jobs on the master branch of kubernetes are now producing arch-specific `kubernetes-test` tarballs. The next v1.14 beta release should also have these arch-specific tarballs available.

[2019-02-24 08:01] yb172 commented on #11352
Hello.
I've faced the same issue. I was reading about prow and wanted to try to deploy and try it. I created GKE cluster and found [Deploying prow](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md) page.

tl;dr:
 * Having "working `bazel`" in "prerequisites" would have helped me (link to bazel installation would be also nice)
 * Specifying that commands should be

[2019-02-24 18:04] nikhita commented on #11152
Yeah, we are very cautious about installing apps github-wise so I'd probably defer towards a no. :grimacing:

Personally, external plugin sgtm.

If we decide to do this though -- I can see the usecases beyond just good-first-issue. We could also subscribe to a feed of issues for each SIG (something like #sig-api-machinery-issues). Should help with triaging and improving response time. :)

cc @cble