[2019-12-29 13:19] ozbillwang opened #15700 "can't install kubetest"
**What happened**:

[code]

**Anything else we need to know?**:

[code]

[2019-12-29 13:54] ozbillwang commented on #15700
I also try with golang container, get same issue

[code]

[2019-12-29 22:26] #13379 closed

[2019-12-29 23:27] #12309 closed

[2019-12-30 00:28] #13404 closed

[2019-12-30 00:28] #13456 closed

[2019-12-30 09:03] feiskyer opened #15703 "Azure jobs failure on v1.17 branch"
**What happened**:

PR #15701 tried upgrading Azure jobs to v1.17, however, all the jobs would fail because of aks-engine validation:

[code]

This is because kubetest is using image version in [format ](https://github.com/kubernetes/test-infra/blob/master/kubetest/azure.go#L107)of `fmt.Sprintf("azure-e2e-%s", buildID)`, however aks-engine [expected a semver >= 1.17.0](https://github.com/Azure/aks

[2019-12-30 13:11] matthyx opened #15704 "cachetools requires Python '~= 3.5' but the running Python is 2.7.17"
**What happened**:
Using latest master:
`bazel build //prow/...`

fails with error:
[code]

**Anything else we need to know?**:
Ubuntu 18.04 LTS x86_64
[code]

[2019-12-30 13:12] matthyx commented on #15704
Also isn't python 2 deprecated the day after tomorrow?
/assign @fejta

[2019-12-30 13:32] matthyx commented on #15704
For the moment I have removed the following 2 lines from `requirements.txt`:
[code]

[2019-12-30 15:20] chewong commented on #15703
This validation was triggered because aks-engine no longer uses hyperkube for k8s >= 1.17. In short, #15701 would work if the following changes are added:
- `--aksengine-hyperkube=True` is replaced by `--aksengine-deploy-custom-k8s=True` (Added in https://github.com/kubernetes/test-infra/pull/15388)
- Change `--build=bazel` to `--build=quick`. This will allow us to build custom images of k8s compo

[2019-12-30 15:21] chewong commented on #15703
/assign

[2019-12-31 01:40] feiskyer commented on #15703
@chewong thanks, let me update according to https://github.com/kubernetes/test-infra/issues/15703#issuecomment-569707912
/assign

[2019-12-31 05:47] #15703 closed

[2019-12-31 14:35] chewong commented on #15703
Thanks for the PR. But it looks like cloud-provider-azure's periodic jobs are failing because it is missing the following env var - https://github.com/kubernetes/test-infra/blob/master/config/prow/config.yaml#L596-L597. I will open another PR to switch the preset label from `preset-cloudprovider-azure-cred` to `preset-azure-cred`.

[2020-01-01 19:26] spiffxp commented on #13063
/reopen
/remove-lifecycle rotten
/help-wanted

[2020-01-01 19:27] spiffxp commented on #13371
/remove-lifecycle rotten

[2020-01-02 08:48] #9247 closed

[2020-01-02 09:10] nikhita commented on #1723
/remove-lifecycle rotten

[2020-01-02 16:21] stevekuznetsov commented on #14604
The related PR closed and no more questions came in,

/close

[2020-01-02 16:21] #14604 closed

[2020-01-02 18:58] Katharine commented on #14944
Fixed by #15726, #15727 and #15728.

[2020-01-02 18:58] #14944 closed

[2020-01-02 21:25] ahahn15 commented on #14144
/close

[2020-01-02 21:33] cjwagner commented on #14144
/close

[2020-01-02 21:33] #14144 closed

[2020-01-02 21:33] cjwagner commented on #14144
ref: https://github.com/kubernetes/test-infra/pull/15725

[2020-01-02 23:30] Katharine commented on #15530
It's been long enough at this point that we should probably just kill the announcement entirely.

/assign

[2020-01-03 00:54] chases2 opened #15737 "Docs-no-retest plugin should be deprecated"
**What should be cleaned up or changed**:
The [`docs-no-retest`](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/docs-no-retest) plugin depends on [mungegithub](https://github.com/kubernetes/test-infra/pull/15709), which no longer exists in this repository.

It's also no longer needed as a plugin; Prow Jobs can be configured to only trigger when some subset of files changes.

It

[2020-01-03 00:54] chases2 commented on #15737
/assign

[2020-01-03 00:55] pjh opened #15738 "Windows GCE tests are all failing to start clusters"
Looking at https://testgrid.k8s.io/sig-windows#gce-windows-1.15&width=20, all test runs have been failing to start the cluster since 2019-12-18. Last passing run [here](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-stable2/1207469775299547138). Other Windows-GCE test jobs are also affected.

We did some refactoring in https://github.com/kubernetes/test-infra/bl

[2020-01-03 01:07] #15530 closed

[2020-01-03 01:10] pjh commented on #15738
It looks like the environment variables set in [`preset-common-gce-windows`](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-windows/windows-gce.yaml#L3) are not being applied in the test job, but I have no idea why.

[2020-01-03 01:16] pjh commented on #15738
Ah, Yang pointed out that the master job is still working but the other jobs are failing. Looks like the [1.14](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml#L348), [1.15](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml#L357), etc. test jobs are configured b

[2020-01-03 01:16] pjh commented on #15738
/assign YangLu1031

[2020-01-03 13:29] matthyx commented on #15704
I think it's a duplicate of #14654 sorry for the noise...

[2020-01-03 13:29] #15704 closed

[2020-01-03 13:54] matthyx commented on #14654
@clarketm I would like to help solving this issue... could you please update me on what was wrong with your previous attempt, and what you had in mind to fix it?
/assign

[2020-01-03 15:41] cblecker commented on #15737
Thank you 🙏

[2020-01-03 16:19] #11224 closed

[2020-01-03 16:29] Katharine commented on #11064
/remove-lifecycle rotten

[2020-01-03 18:55] BenTheElder opened #15749 "double presubmit triggering"
**What happened**:

Prow ran presubmits twice simultaneously for a PR and merged it when one set passed then commented that the tests also failed...

**What you expected to happen**: We should not trigger presubmits doubly.

**How to reproduce it (as minimally and precisely as possible)**:

I _think_:
[code]
In one comment 🤷‍♂

**Please provide links to example occurrences, if any**:

https://gith

[2020-01-03 19:11] stevekuznetsov commented on #15749
@BenTheElder can you paste `hook` logs for `trigger` plugin and the event GUID for that comment?

[2020-01-03 19:31] BenTheElder commented on #15749
there are event GUIDs in the prowjob links I think

trigger logs
[container_cluster_name_prow__logs__2020-01-03T09-42.json.txt](https://github.com/kubernetes/test-infra/files/4020582/container_cluster_name_prow__logs__2020-01-03T09-42.json.txt)

[2020-01-03 21:24] #13730 closed

[2020-01-03 21:24] #13760 closed

[2020-01-03 21:41] chases2 commented on #14224
/remove-lifecycle stale

[2020-01-03 22:07] Katharine opened #15758 "Git cache can become corrupt and hence irrevocably unusable"
It is possible for the git cache maintained by `prow/git.Client` to become corrupt. If this happens, it never recovers - all further operations for that repo that land on that pod will fail. This lead to `updateconfig` consistently failing due to a corrupt test-infra repo (it contained an empty file `FETCH_HEAD` and nothing else).

The git client should recover from corruption.

[2020-01-03 22:30] Katharine commented on #12233
/repo
/remove-lifecycle rotten

sigh.

[2020-01-04 21:48] #13813 closed

[2020-01-05 10:07] matthyx commented on #14654
/remove-help

[2020-01-05 10:09] matthyx commented on #12573
indeed
/close

[2020-01-05 10:09] #12573 closed

[2020-01-06 05:16] sladyn98 commented on #12346
So effectively we need to rid of the check, since its now invalid ?
[code]

[2020-01-06 08:05] tnozicka commented on #13297
/remove-lifecycle stale
/lifecycle frozen

[2020-01-06 09:50] danielvaughan commented on #15700
I am experiencing a similar issue.
`
Linux version 4.15.0-72-generic (buildd@lcy01-amd64-026) (gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)) #81-Ubuntu SMP Tue Nov 26 12:20:02 UTC 2019
`
`kubectl get nodes
NAME   STATUS   ROLES    AGE   VERSION
pib    Ready    <none>   15d   v1.16.3-k3s.2
vm1    Ready    master   15d   v1.16.3-k3s.2
vm3    Ready    <none>   14d   v1.16.3-k3s.2
vm4    Ready

[2020-01-06 10:53] petr-muller commented on #14575
/remove-lifecycle stale

[2020-01-06 12:03] mattjmcnaughton commented on #15700
+1 I'm also unfortunately having the same issue when trying to use `go get -u`.

If its helpful, I worked around it by cloning the `test-infra` repo and then running `go install k8s.io/test-infra/kubetest`.

[2020-01-06 12:16] ozbillwang commented on #15700
Thanks, I can install now.

[2020-01-06 12:16] #15700 closed

[2020-01-06 14:07] danielvaughan commented on #15700
I still have the problem. It looks like there was a rewrite of the  aws-k8s-tester in the last couple weeks that removed and renamed ekstester. See this commit: https://github.com/aws/aws-k8s-tester/commit/2e28fc402e559d4deccd08c072e5a97931e80929

[2020-01-06 14:59] danielvaughan commented on #15700
My bad - it looks like I was trying to build using go 1.10 without module support. Updated to 1.13 and now ok.

[2020-01-06 17:37] Katharine commented on #15662
I filtered this out of the go links. We should still actually fix this.

/remove-kind oncall-hotlist

[2020-01-06 21:10] clarketm commented on #14654
@matthyx

Thanks. #14015 was reverted because it was non-hermetic and dependent on a system version of `python3` to be installed (https://github.com/kubernetes/test-infra/pull/14015#issue-309706806).

The good news is now that https://github.com/bazelbuild/rules_python/issues/220 has been merged, **rules_python** now natively supports specifying the python interpreter using either `python_interpre

[2020-01-06 21:46] zacharysarah opened #15779 "Add a Prow command to create branches"
## What to add

Consider adding a Prow command to create new branches.

## Why it matters

SIG Docs handles localizations for Kubernetes docs.

When SIG Docs adds a new localization, we add the team's leaders to a [repo team with write permissions](https://github.com/kubernetes/org/blob/master/config/kubernetes/sig-docs/teams.yaml#L260-L293) so that leaders can create long-running branches for tea

[2020-01-06 21:49] zacharysarah commented on #15779
/sig docs

[2020-01-06 22:17] clarketm commented on #14654
/reopen

[2020-01-06 22:36] #13706 closed

[2020-01-07 19:07] justaugustus commented on #15779
@zacharysarah -- This is timely! Releng is discussing possibilities here: https://github.com/kubernetes/release/issues/857

cc: @kubernetes/release-engineering

[2020-01-07 19:15] justaugustus opened #15799 "Gubernator seems... slow(?) in refreshing PR statuses"
**What happened**:
I'm not sure exactly what the refresh rate for Gubernator is, but lately it seems slower than usual
![Screenshot from 2020-01-07 14-10-46](https://user-images.githubusercontent.com/567897/71921823-9e8a4900-3157-11ea-9b5b-b2c7652183ac.png)

From a [merged PR](https://github.com/kubernetes/sig-release/pull/935) that has since left my queue.

There's also a PR that has been stuck i

[2020-01-07 21:04] #15174 closed

[2020-01-07 23:18] spiffxp commented on #15738
https://testgrid.k8s.io/sig-windows#gce-windows-1.14&width=20
https://testgrid.k8s.io/sig-windows#gce-windows-1.15&width=20
https://testgrid.k8s.io/sig-windows#gce-windows-1.16&width=20
https://testgrid.k8s.io/sig-windows#gce-windows-1.17&width=20

have all started creating clusters and running tests again, calling this closed

/close

[2020-01-07 23:18] #15738 closed

[2020-01-07 23:22] fejta opened #15806 "Prow components should support using workload identity"
We should stop sending prow secret.json files when running on GKE. Instead we should use

https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#enable_workload_identity_on_an_existing_cluster

[2020-01-08 00:50] Katharine commented on #12066
/remove-lifecycle stale

This will be effectively resolved by #15785 or similar.

[2020-01-08 14:04] petr-muller opened #15811 "Bad `/assign` causes "Error handling GenericCommentEvent" instead of user feedback"
We saw someones `/assign <someone> please take a look` command to log an error instead of replying to the user that "please, take, a, look" could not be assigned. It used to do this in the past.

Log:
[code]

See: https://github.com/openshift/console/pull/3765#issuecomment-571508312

xref: https://github.com/openshift/release/issues/6581

[2020-01-08 16:17] LorbusChris commented on #13341
I'm still interested in this.
/reopen

[2020-01-08 16:26] BenTheElder commented on #13341
We're not going to do this on the default build nodes (it's not possible in
GKE AND we don't want to deal with leaked VMs), but you could spin up a GCE
vm with nested virt from a boskos project in your prowjobs and do whatever
you want there.

On Wed, Jan 8, 2020, 08:17 Kubernetes Prow Robot <notifications@github.com>
wrote:

[2020-01-08 17:38] spiffxp commented on #15243
/close
as this isn't a test-infra issue

You'll need to become a kubernetes org member to be assignable https://github.com/kubernetes/community/blob/master/community-membership.md#member

[2020-01-08 17:38] #15243 closed

[2020-01-08 17:39] spiffxp commented on #15143
Is this still an issue?

[2020-01-08 17:40] spiffxp commented on #15138
/close
Please /reopen if further help is needed here

[2020-01-08 17:40] #15138 closed

[2020-01-08 17:42] liggitt commented on #15143
master was fixed in https://github.com/kubernetes/test-infra/pull/15144
1.17 was fixed in https://github.com/kubernetes/test-infra/pull/15156
1.16 was fixed in https://github.com/kubernetes/test-infra/pull/15637

This still applies for 1.15, afaik

[2020-01-08 17:52] spiffxp commented on #14643
/assign
I'll take a look

Work that may overlap https://github.com/kubernetes/test-infra/issues/15469

[2020-01-08 19:31] stevekuznetsov commented on #14705
/remove-lifecycle stale

[2020-01-08 19:37] #15600 closed

[2020-01-08 19:44] spiffxp commented on #15469
Updated PR https://github.com/kubernetes/test-infra/pull/15785

[2020-01-08 21:36] davidz627 commented on #9485
/remove-lifecycle stale

[2020-01-08 23:01] stevekuznetsov commented on #15811
cc @cjwagner this used to report an error when trying to assign `"take a look"` -- now it errors silently and assigns nobody, regression?

[2020-01-09 03:29] #15293 closed

[2020-01-09 09:26] Divya063 commented on #15128
@mhamdisemah Are you still working on this?

[2020-01-09 19:51] fejta opened #15842 "gcloud-in-go has an ancient version of kubectl (v1.10.7)"
gcr.io/k8s-testimages/gcloud-in-go:v20190125-cc5d6ecff3

/assign @fejta @michelle192837
/kind oncall-hotlist

Preventing some bumps from working: https://prow.gflocks.com/view/gcs/oss-prow/logs/post-oss-test-infra-deploy-prow/1215357769482244096

[2020-01-09 20:55] #15842 closed

[2020-01-10 00:47] spiffxp commented on #14643
looking at fields in the builds table for pr:pull-kubernetes-e2e-kind vs. pr:pull-kubernetes-e2e-gce,
kind has a null `version` and an empty `metadata` field, while gce's are populated

`metadata` comes from either finished.json or started.json
https://github.com/kubernetes/test-infra/blob/cdeb7eb64c641a48182c509b1a902a17292e4eec/kettle/make_json.py#L158-L163

`version` comes from finished.json
ht

[2020-01-10 00:52] spiffxp commented on #14643
example kind job: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/85282/pull-kubernetes-e2e-kind/1215213961905967104

finished.json has no `version` field and no `metadata` field
[code]

started.json has `repos` in it, but no `metadata` field
[code]

example gce job: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86450/pull-kubernetes-e2e-gce/1215395413390004227

finishe

[2020-01-10 06:21] scottilee commented on #14343
/remove-lifecycle stale

[2020-01-10 18:41] Katharine opened #15856 "Add a prow job blacklist"
Sometimes I would like to be able to disable a bunch of prowjobs for infrastructure reasons (e.g. #15854). However, while finding the jobs may be relatively easy, actually disabling the jobs is difficult, because it requires editing large numbers of jobs, which may then fail tests because they're auto-generated, etc. Undoing the change may then also be a pain.

It would be easier to be able to jus

[2020-01-10 19:44] michelle192837 opened #15860 "Boskos is running out of GKE Projects"
/cc @Katharine who did most of the investigation/mitigation, thanks!

Boskos graphs: https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

Yesterday, we noted from alerts that Boskos resources were starting to run out, with increasingly more resources in the 'dirty' state. Increasing Boskos janitors seemed to increase the rate at which resources were cleaned up, solving the pro

[2020-01-10 19:45] michelle192837 commented on #15860
/kind oncall-hotlist

Also of note, this does not appear to be related to changes in Boskos (given dates of last changes to code) or Prow rollouts.

[2020-01-10 20:36] ixdy commented on #15860
/area boskos

[2020-01-10 21:27] ixdy opened #15866 "boskos/janitor: track when cleanup fails repeatedly for the same resource"
Due to programming errors, the janitor may continuously fail to clean up a resource. Two examples I just discovered:

possibly an order-of-deletion issue:
[code]

likely incorrect flags (gcloud changed but we didn't?):
[code]

It'd be good to have some way of detecting when we're repeatedly failing to clean up a resource.
Not sure yet what the best way would be to track that.

[2020-01-10 21:27] ixdy commented on #15866
/area boskos

[2020-01-10 21:31] michelle192837 commented on #15860
Does look like the janitor is in fact encountering issues when deleting resources. Investigation continues.

[2020-01-11 00:08] dims commented on #15866
@ixdy would also help if we can publish the logs from boskos somewhere public.

[2020-01-11 01:33] ixdy commented on #15866
@dims I'm not sure where we'd publish them, and I'm also not sure we've done a great job of sanitizing the logs yet (to ensure that they're not leaking any sensitive information). The logs are visible to anyone maintaining the prow cluster, though are in some cases lacking useful information.

Regarding tracking cleanup failures, I have a few potential ideas:

1. If cleanup fails, set metadata on

[2020-01-11 01:36] ixdy commented on #15866
Option 2 is closely aligned with #14715.

[2020-01-11 01:37] ixdy commented on #14715
@BenTheElder if you remember, is the intent here to track how long resources are in a given state (e.g. how long something remains as dirty before transitioning to free)? Or how long the actual cleanup itself takes? (Maybe both?)

[2020-01-11 08:19] #11592 closed

[2020-01-12 16:51] #13904 closed

[2020-01-12 23:13] justaugustus commented on #15514
Kubernetes 1.14 is out of support and we should remove the 1.14 jobs.
I've opened https://github.com/kubernetes/test-infra/pull/15875 for this.

ref: https://github.com/kubernetes/kubernetes/issues/87111

[2020-01-13 00:59] #13321 closed

[2020-01-13 07:41] #14654 closed

[2020-01-13 13:23] afirth commented on #13760
/reopen please? Trying to set this up now

[2020-01-13 13:54] CarlJi commented on #9469
Prow is a great CI system and now we have used it for some private repos. to match the real business scenario, we want to set the specific GOPATH environment variable in the presubmit job like this:
[code]
but currently plank will always overwrite it(https://github.com/kubernetes/test-infra/blob/master/prow/pod-utils/decorate/podspec.go#L552), which seems not be elegant since the original Kubernet

[2020-01-13 16:25] danwinship opened #15880 "bugzilla plugin should add github links even to "invalid" bugzilla bugs"
Often I'll try to link a github PR to a bugzilla bug, and the bot will complain something like

  * expected the bug to target the "4.3.0" release, but it targets "4.3.z" instead

(translation: "We aren't merging 4.3.z bugs yet so this has to wait")

or

  * expected dependent Bugzilla bug 1234 to be in one of the following states: VERIFIED, RELEASE_PENDING, CLOSED (ERRATA), but it is ON_QE instea

[2020-01-13 16:41] agarg2008 commented on #13938
I don't think this has been finished yet and would like to work on it.

[2020-01-13 16:41] agarg2008 commented on #13938
/assign

[2020-01-13 16:50] oxddr commented on #14218
/close

[2020-01-13 16:50] #14218 closed

[2020-01-13 17:36] michelle192837 commented on #15860
The errors the janitor was encountering on cleanup have been resolved, and it looks like the janitors cleaned up GKE projects well over the weekend! Will look into re-enabling the GKE tests (or, alternatively, deleting if they're not actually needed).

Leaving on the oncall hotlist until the jobs have been resolved, but on the Boskos side this is fixed now.

[2020-01-13 19:16] michelle192837 commented on #15860
GKE jobs are being re-enabled (#15882 and #15883).

[2020-01-13 19:26] michelle192837 commented on #15860
Jobs are re-enabled and Boskos appears to be handling them alright. Will continue monitoring, but for now I think this can be closed.

[2020-01-13 19:26] #15860 closed

[2020-01-13 19:34] agarg2008 commented on #13938
/pony

[2020-01-13 19:44] fejta commented on #13938
/pony
/pony
/pony

[2020-01-13 21:18] #14678 closed

[2020-01-13 21:18] #14681 closed

[2020-01-13 21:43] matthyx opened #15886 "k8s-testimages/bazelbuild is missing pip3"
https://github.com/kubernetes/test-infra/pull/15885

In order to get this PR working on the current test infrastructure, we need `pip3` or at least `python3-distutils` installed in that image.

/assign
/cc @fejta
/cc @michelle192837

[2020-01-13 22:40] agarg2008 commented on #13938
/remove praveensastry

[2020-01-13 23:21] #13374 closed

[2020-01-14 00:01] BenTheElder commented on #14715
IIRC how long the cleanup takes, which we sometimes have issues with, but
both would be useful

On Fri, Jan 10, 2020 at 5:37 PM Jeff Grafton <notifications@github.com>
wrote:

[2020-01-14 21:02] stevekuznetsov commented on #14719
/close

[2020-01-14 21:02] #14719 closed

[2020-01-14 22:25] chemikadze opened #15906 "Scaledown and dynamic resource lifetime is not enforced"
**What happened**:

Change #13990 have broken support for dynamic resource lifetime and scaledown.

Previously, config was polled, resulting in periodic checks of dynamic resource lifetimes, playing enforcement role for them https://github.com/kubernetes/test-infra/blob/d319b3f3b92d51b0fcea77b199f39be68401b19a/boskos/ranch/storage.go#L291

After mentioned PR was merged, lifetime is enforced only w

[2020-01-14 22:25] chemikadze commented on #15906
/cc @ixdy

[2020-01-14 22:28] ixdy commented on #15906
/area boskos

[2020-01-14 23:02] Katharine commented on #14348
/remove-lifecycle rotten

[2020-01-14 23:04] chemikadze opened #15910 "Boskos client ReleaseOne is not usable if process is restarted"
**What happened**:

ReleaseOne performs local check for whether resource was allocated by same client previously, and fails if it was not. After release, it makes client forget such association.
Release is not doing checks and is not making sure that association is removed.

At the same time, all Allocate methods are adding associations. This means, there is no consistent way to release resource i

[2020-01-14 23:04] chemikadze commented on #15910
/cc @ixdy

[2020-01-15 00:30] ixdy commented on #15910
/area boskos

[2020-01-15 06:43] matthyx commented on #15886
Testgrid looks fine...
/close

[2020-01-15 06:43] #15886 closed

[2020-01-15 13:18] eddycharly opened #15913 "Allow Branches and SkipBranches for jobs in repo"
Currently, jobs defined in repo are not allowed to declare branches and skip branches patterns.

https://github.com/kubernetes/test-infra/blob/master/prow/config/inrepoconfig.go#L123-L140

This makes it difficult to version jobs that run only on specific branches.

I don't see any technical reason to forbid branches and skip branches for jobs in repo, allowing them would be useful to let the jobs

[2020-01-15 14:21] afirth commented on #15316
warns about `org:` too (peribolos)
[code]

[2020-01-15 18:09] stevekuznetsov commented on #15316
On Slack consensus was reached to remove the reflection-based validation and just to use the strict YAML loading -- @afirth do you want to take a stab at that?

[2020-01-15 18:10] stevekuznetsov commented on #15913
Not sure I follow -- the branch the job is configured in is the branch on which it runs. The file in `master` applies to `master` and `master` only.

/assign @alvaroaleman

[2020-01-15 18:15] eddycharly commented on #15913
Let’s put it simply, imagine you have a job that must run only on master.

When you create a branch from master, you’re not going to delete the job before pushing to the new branch right ?

It makes sense that the job exists in multiple branches even if it applies to only one.

[2020-01-15 20:46] adshmh commented on #15811
After running a few tests, it seems GitHub API will ignore requests for assignment if the user cannot be assigned the issue. The plugin uses the API's response which lists the assigned users to figure out the list of ignored users and adds a comment accordingly.

However, if any of the specified users do not exist (or, interestingly, are an organisation account), GitHub API will return 404, which

[2020-01-15 21:13] matthyx commented on #15316
/cc

[2020-01-15 21:36] #13938 closed

[2020-01-16 00:57] ixdy opened #15925 "boskos/janitor fails to clean up some resources in a timely manner if dirty rates are unequal"
Creating a one-sentence summary of this issue is hard, but the basic bug is fairly easy to understand.

Assume a Boskos instance has three resource types, A, B, and C. A has 5 resources, B has 10, and C has 100. A Boskos janitor has been configured to clean all three types.

Currently, the janitor [loops through all resource types](https://github.com/kubernetes/test-infra/blob/70a5174aa78d16cd7482

[2020-01-16 01:02] ixdy commented on #15054
passing thought: `/acquirebystate` currently assumes that all resources have unique names. We'd have to modify this API (in some backwards-compatible way?) to allow specifying types as well.

[2020-01-16 06:01] BenTheElder commented on #13187
I think we're not going to do this for now...
/close

[2020-01-16 06:01] #13187 closed

[2020-01-16 19:21] fejta opened #15930 "tide merge error setting up context register"
/kind oncall-hotlist

[code]

Does this error make sense? Is this code supposed to merge:

https://github.com/kubernetes/test-infra/blob/7e66809cff25787cb4f7550dc3a7f729de85f8e7/prow/tide/status.go#L341-L344

/assign @cjwagner
/area prow
/area prow/tide

[2020-01-16 19:22] fejta commented on #15930
/assign @alvaroaleman

[2020-01-16 19:28] stevekuznetsov commented on #15930
Is this a merge conflict when getting the list of presubmits from inrepoconfig? Is inrepoconfig enabled for this deployment?

[2020-01-16 19:34] cjwagner commented on #15930
Looks like that fails if the PR has a merge conflict which is the wrong behavior since it is pretty common for PRs to have merge conflicts and we don't want to fail to update the Tide status on such PRs. Instead we should expose a status indicating that the PR has a merge conflict and Tide will ignore it until it is resolved: https://github.com/kubernetes/test-infra/blob/364d5ee72729aada0862130115

[2020-01-16 19:36] cjwagner commented on #15930
Yes and yes.
https://github.com/istio/test-infra/blob/0bb4348d50f49df63afce9aff266512ea2ef53c9/prow/config.yaml#L290-L292

[2020-01-16 22:34] justaugustus commented on #11548
/remove-lifecycle stale

[2020-01-16 22:46] fejta commented on #14520
Would be nice to have a plan to make tide HA

[2020-01-16 22:46] fejta commented on #14718
Suspect this could still use some help!

[2020-01-16 22:47] #14107 closed

[2020-01-16 22:47] fejta commented on #13903
Still an issue, haven't found time to work on it

[2020-01-16 22:48] #15402 closed

[2020-01-16 22:48] fejta commented on #13830
dup of https://github.com/kubernetes/test-infra/issues/13903

[2020-01-16 22:48] #13830 closed

[2020-01-16 22:49] fejta commented on #15499
Anything we want to do here?

[2020-01-16 22:59] fejta commented on #15806
Enabling workload-identity on the prow service cluster

[2020-01-17 00:56] cjwagner commented on #14520
I don't think HA Tide would address this problem? My understanding is that we are getting these errors because Tide or Deck is being restarted while serving/making a request for the Tide history in which case this is more about graceful termination than it is about availability, right?

[2020-01-17 00:59] agarg2008 commented on #13938
/pony
/pony

[2020-01-17 13:37] petr-muller commented on #10423
/remove-lifecycle rotten

We'll eventually need to tackle this...

[2020-01-17 15:46] #13968 closed

[2020-01-17 17:41] fejta opened #15949 "Deck should stop warning about not found prowjobs"
Are logs are basically a gigantic and obnoxious pile of people probing for vulnerabilities:

[code]

/area prow
/area prow/deck

Can we downgrade these to info?

/assign @Katharine @michelle192837

[2020-01-17 17:55] fejta commented on #15949
NOT jsonPayload.msg = "ProwJob not found."
NOT jsonPayload.msg = "error rendering spyglass page"
NOT jsonPayload.msg = "Error Creating new OAuth session."
NOT jsonPayload.msg = "Error Validate state."

[2020-01-17 21:42] tallclair commented on #14647
/remove-lifecycle stale

This problem still exists without a general solution.

[2020-01-17 22:02] eddycharly commented on #15913
@stevekuznetsov is it more clear ? Shall I go ahead and open a pr ?

This makes the feature pretty hard to use, especially with postsubmit jobs when not using forks.

[2020-01-18 16:04] afirth commented on #15316
Sure. Do we need a flag to leave the old unstrict behaviour? Looks pretty straightforward to rip out all the unknown field stuff, just not sure how others are using this

[2020-01-18 16:10] afirth commented on #15316
Sure. Do we need a flag to leave the old unstrict behaviour? Looks pretty straightforward to rip out all the unknown field stuff, just not sure how others are using this

[2020-01-18 16:11] afirth commented on #15316
/assign @afirth

[2020-01-18 19:15] johngmyers opened #15954 "needs-rebase plugin's daily scan not labeling conflicted PRs"
**What happened**:

Conflicted PR in scope of the needs-rebase plugin is not labeled with `needs-rebase`.

**What you expected to happen**:

PR should be labeled with `needs-rebase` within a day or two.

**How to reproduce it (as minimally and precisely as possible)**:

* Create PR in the kubernetes/kops repo.
* Merge a conflicting PR into the destination branch.
* Wait a day without having any ac

[2020-01-19 12:29] #5175 closed

[2020-01-19 20:37] #10659 closed

[2020-01-20 17:39] parispittman commented on #11994
/remove-lifecycle stale

[2020-01-21 03:14] justaugustus commented on #15799
Another example:
![Screenshot from 2020-01-20 22-12-09](https://user-images.githubusercontent.com/567897/72772477-00c06080-3bd2-11ea-961e-3b5b538c5677.png)

^^ an issue that was recently updated

![Screenshot from 2020-01-20 22-11-44](https://user-images.githubusercontent.com/567897/72772544-2b121e00-3bd2-11ea-9832-2371a77e2eac.png)

^^ my Gubernator listing of the issue around the same time (note

[2020-01-21 03:15] justaugustus commented on #15799
+ Gubernator OWNERS:
/assign @ibzib @Katharine @rmmh @stevekuznetsov

[2020-01-21 09:00] wyyxd2017 opened #15971 "There are too many broken links under the /docs"
/kind bug
description： There are many folders or documents under the /docs, and there are many invalid links in these documents. I won't enumerate them here. I hope someone to actively repair them.

Observed result
Needs manual repair to provide user experience

[2020-01-21 18:32] fejta opened #15976 "config-updater plugin needs to use clusters instead of namespaces"
/kind oncall-hotlist

[code]

[2020-01-21 18:39] BenTheElder commented on #11782
/remove-lifecycle stale

sounds relatively easy, maybe we should do that. @cjwagner @fejta thoughts?

you actually just have to file an issue in k/org after getting consensus from the SIG on wanting it, no KEP necessary. the process is pretty lightweight. moving code is a little more involved to do cleanly.

[2020-01-21 21:31] fejta commented on #14810
Still pending

[2020-01-21 21:41] matthyx commented on #15316
/remove-help

[2020-01-21 21:48] fejta commented on #11782
Moving prow/cluster files into config/prow or somewhat like that sgtm

[2020-01-21 22:06] justaugustus commented on #14224
@chases2 -- @matthyx [mentioned](https://github.com/kubernetes/test-infra/pull/15578#issuecomment-576897520) that this might be done now that https://github.com/kubernetes/test-infra/pull/15578 has merged?

Will leave you to close it out if that's the case.

[2020-01-21 22:14] zcain117 commented on #10409
Has the open-sourcing progressed far enough that we can create a Testgrid tab or dashboard? We're running our tests as Kubernetes workloads that are kicked off by cronjob. We want to visualize the pass/fail history for each test. Alerting and issue creation would be nice to have but not necessary.

[2020-01-21 22:38] michelle192837 commented on #10409
Still working on it! But if you just want to add your results to testgrid.k8s.io, you should be okay to do that. https://github.com/kubernetes/test-infra/blob/master/testgrid/config.md should have more info.

[2020-01-21 23:31] ixdy commented on #15906
/assign

[2020-01-22 20:05] ixdy opened #15985 "boskos leased the same resource to two owners"
**What happened**: Openshift reported that Boskos leased the same resource to two different jobs: https://github.com/openshift/release/issues/6795

We have a gratuitous amount of locking, so in theory this shouldn't happen, but I think I may have figured out what may have happened:

1. `/aquire` is called by two different jobs at the same time. We have a [global lock](https://github.com/kubernetes

[2020-01-23 00:19] BenTheElder commented on #12356
/shrug
oh well
I think we should reconsider assigning teams as opposed to individuals. assigning lots of people makes it nobody's problem :-)

[2020-01-23 06:05] justaugustus commented on #15799
I also noticed a PR assigned to me today that did not get picked up for review in Gubernator. :/

[2020-01-23 06:10] BenTheElder commented on #15799
I think @ibzib works on apache beam now, and @rmmh on mako.dev ... we should probably update owners 🙃

[2020-01-23 06:45] BenTheElder commented on #8861
this probably should still be open?

[2020-01-23 17:35] spiffxp commented on #8861
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-01-23 18:57] Katharine opened #15996 "issue-creator should be pushed to k8s-testimages, not k8s-prow"
issue-creator is not a prow component. In #13853 it was arranged to have it auto-pushed alongside prow, but this results in it being pushed to the wrong place. Since nothing looks there, this didn't achieve anything, but it's also semantically wrong.

Fix the rules/jobs so that issue-creator is pushed to the right place (and probably not as a part of prow)

[2020-01-23 19:02] ixdy commented on #15906
I started to look into this, and thought we could add back a periodic goroutine which would just look at dynamic resources and delete those that had expired, but I think this won't be a sufficient solution: if a config update removes a dynamic resource type, but there are currently dynamic resources that are leased, then we won't remove the DRLC when the config is processed. We would need to fully

[2020-01-23 19:14] chemikadze commented on #15906
Taking into account it's not very frequently used feature (I did not find real config with lifetimes being set in this repo, istio/test-infra or knative/test-infa), having periodic config updates disabled by default with ability to enable it would be a reasonable compromise.

[2020-01-23 19:18] ixdy commented on #15906
another option might be to add a way to mark DRLCs in lame-duck mode; we'd use them to continue to delete any existing dynamic resources, but not attempt to recreate any resources. Once all associated dynamic resources are deleted, they could be completely removed.

[2020-01-23 20:36] ixdy opened #16001 "boskos: merge Prometheus resource metrics into boskos core"
**What should be cleaned up or changed**:
On k8s prow, the Boskos service runs inside the Prow builds cluster.
Back in 2017, we wanted to collect metrics on Boskos resources to show in Velodrome, so it was necessary to expose these metrics on an external IP, since the Velodrome collectors did not run inside the builds cluster.

To accomplish this, https://github.com/kubernetes/test-infra/pull/3971

[2020-01-23 21:37] clarketm opened #16002 "Spyglass returns 403 for `static` files on private instance"
**What happened**:
Spyglass is returning a **403** when fetching `static` files on a private Deck instance that is behind an oauth proxy for some ~non-Google~ users.

**What you expected to happen**:
I expect Spyglass to return a **200** when fetching `static` files, similar to the retrieval of other resources.

**How to reproduce it (as minimally and precisely as possible)**:
1. Configure an oaut

[2020-01-23 21:55] clarketm commented on #14925
/remove-lifecycle stale

I have not prioritized this but will get to it when I have time.

[2020-01-24 02:16] #12107 closed

[2020-01-24 03:19] Katharine commented on #16002
static files are not retrieved from GCS (or in any way related to GCS); they're served by deck and requested by simply including them with `<script>` tags, etc. It would not be meaningful to use GCS credentials here.

I imagine this is related to the (intentional) sandboxing of spyglass lenses.

[2020-01-24 03:56] clarketm commented on #16002
Thanks for the clarification. After looking at the code and seeing how the static files are served, I realize GCS auth is not to blame. I further edited the answer to make this more clear.

I am not sure what you mean by sandboxing here or why this specific issue is only affecting static files and only for non-Googlers on a particular Prow instance. Can you clarify a bit?

[2020-01-24 04:23] Katharine commented on #16002
Spyglass lenses are [sandboxed](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/template/spyglass.html#L42) to prevent them from breaking out of their sandbox (which ensures they only use the expected APIs and, once we have remote lenses, they cannot do anything too questionable).

A key part of this sandboxing is that they have a different origin (more specifically, it is `null

[2020-01-24 04:27] Katharine commented on #16002
The link goes to https://chromestatus.com/feature/5088147346030592, which says how cookies behave by default is switching in Chrome 80. The current release version is 79, so if they are using a canary version they would see new behaviour.

Perhaps you could try adjusting your proxy to specify `SameSite=None` on your cookies.

[2020-01-24 08:04] clarketm commented on #16002
I think you are correct about the **403** being caused by the Oauth proxy. Indeed, setting `SameSite=None` sounds like a good idea as well. Also, upon further investigation, being a non-Googler appears to be a mere coincidence. I was able to reproduce this *exact* issue by *enabling* **Block third-party cookies** in Chrome on my machine.

![image](https://user-images.githubusercontent.com/9957358/

[2020-01-24 10:27] gerrywastaken commented on #15700
@ozbillwang this isn't wasn't fixed this is only a work around. I suggest reopening this.
[code]

@danielvaughan I think you must have done something else to fix the issue as it still doesn't work on 1.13.6 (latest release right now).

[2020-01-24 10:59] ozbillwang commented on #15700
@gerrywastaken

Did you see the Dockerfile i provide? follow it up, you shoukd be fine to install it

[2020-01-24 16:48] #15316 closed

[2020-01-24 18:05] stevekuznetsov commented on #16002
cc @petr-muller @droslean  -- they are using `spyglass` behind a Proxy

[2020-01-24 19:58] ixdy commented on #15906
I found a somewhat elegant way to do what I described in https://github.com/kubernetes/test-infra/issues/15906#issuecomment-577832602: when a DRLC is deleted, we can set its MinCount and MaxCount to 0. This will gracefully delete any associated dynamic resources, and once they're all gone, we can then deleted the DLRC, too.

[2020-01-25 01:04] cjwagner commented on #15470
/unassign @Biwwie
/assign @agarg2008

[2020-01-25 01:24] justaugustus commented on #14018
/remove-lifecycle rotten
/lifecycle frozen
/reopen

This is definitely still valid.
@kubernetes/ci-signal -- Let's keep this in mind for the cycle.

/assign @droslean

[2020-01-25 06:44] #10138 closed

[2020-01-25 17:55] #14111 closed

[2020-01-25 20:25] aojea opened #16025 "peridoc kind ipv6 master jobs are not running since Jan 7th"
**What happened**:

The periodic ipv6 kind jobs are not running

https://testgrid.k8s.io/sig-testing-kind

It seems that his is happening since Jab 7th

https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-ipv6

This is a PR related at that time, but the other jobs that were modified are working 🤷‍♂

https://github.com/kubernetes/test-infra/pull/15798

[2020-01-26 00:21] jayr713 opened #16026 "Prow issue:"

[2020-01-26 00:26] #16026 closed

[2020-01-26 14:48] alvaroaleman commented on #15656
This was implemeted in #15667

[2020-01-26 14:48] #15656 closed

[2020-01-26 14:50] alvaroaleman commented on #15913
Yeah, so while we initially assumed this doesn't make sense, Loodse also run into a need for this pretty quickly, as there the usecase of having a rolling release branch that gets forwarded from a different branch exists and the two do not have an identical job config.

IMHO we should loosen the validation and allow this, but make the `branches` property default to the current branch if unset. @st

[2020-01-26 14:58] alvaroaleman commented on #14629
/remove-lifecycle stale

[2020-01-26 21:50] matthyx commented on #14430
Hi @clarketm do you still have some work to be done in this task? Do you need help?

[2020-01-26 21:52] matthyx commented on #13413
@spiffxp do you still need some help on this issue?

[2020-01-26 21:53] matthyx commented on #14226
@cjwagner do you still need help on this issue?

[2020-01-27 16:41] #12829 closed

[2020-01-27 16:58] Katharine opened #16034 "Jobs with unschedulable pods are never cleaned up"
If a pod is entirely unschedulable, its start time is not set. Plank [requires that a start time be set](https://github.com/kubernetes/test-infra/blob/d70cb1c880d5800f8884d4f3bbe85e7f62bc3326/prow/plank/controller.go#L433) in order to consider a pod for cleaning, and sinker [requires either a start time or that the associated prowjob has completed](https://github.com/kubernetes/test-infra/blob/02b

[2020-01-27 17:12] Katharine commented on #16025
I've cleaned up all the `*kind*` jobs I could find that have been running since around then.

The root cause is a combination of @BenTheElder removing the dedicated nodepool they used to run in, and #16034, which prevents these stuck jobs from ever being cleaned up so they can be run again.

[2020-01-27 17:12] #16025 closed

[2020-01-27 18:04] aojea commented on #16025
Thanks :smile:

[2020-01-27 18:04] BenTheElder commented on #16025
Thans!

On Mon, Jan 27, 2020 at 10:04 AM Antonio Ojea <notifications@github.com>
wrote:

[2020-01-27 20:08] cjwagner commented on #14226
Sure, that would be great. We also now upload the ProwJob JSON so we can use that to rerun even after the ProwJob CRD has been GCed.

[2020-01-27 20:26] ixdy commented on #16001
regarding metric "aggregation" - maybe [federation](https://prometheus.io/docs/prometheus/latest/federation/) is relevant?

[2020-01-27 20:30] Katharine commented on #14226
We should not use the prowjobs stored in GCS for this, for security reasons.

In particular, I would have the following two concerns:

- Spyglass does restrict itself to any given sets of buckets or otherwise in GCS. You could trivially point it to a different location and ask it to rerun that job, giving you effectively the ability to run any arbitrary prowjob you like
- Jobs have the freedom to

[2020-01-27 22:32] stevekuznetsov commented on #16001
You could do that, yes, or configure for Prometheus in the build cluster to scrape everything there and `remote_write` to push out to something public./

[2020-01-27 22:41] #16034 closed

[2020-01-27 23:20] stevekuznetsov commented on #15003
This looks like GitHub hiccuped and did not recognize that SHA. That is rare but happens with some regular frequency. In the comments of that PR you try again and get the cherry-pick created correctly on the next attempt, so I'm not sure there is anything else we can do here.

/close

[2020-01-27 23:20] #15003 closed

[2020-01-28 00:16] ixdy commented on #15925
Another example of how we can get into a bad state (which we're hitting today on one of our deployments): if a janitor is configured to clean many resource types, and one resource type is constantly failing to clean, all janitor replicas may eventually get stuck trying to clean up that resource type, to the exclusion of all others.

[2020-01-28 00:40] stevekuznetsov commented on #15925
Couldn't we also change the janitor to run a watch on resources and use a workqueue/pool to handle resources?

[2020-01-28 00:42] ixdy commented on #15925
Probably. Currently the janitor interfaces through the Boskos HTTP API, but if we switch to just relying on the CRDs as the source of truth, we can probably make things scale more effectively.

[2020-01-28 01:00] spiffxp commented on #13413
@matthyx yes AFAIK formatting is still inconsistent and confusing

[2020-01-28 09:27] glekner opened #16041 "Multiple Bugzillas in a PR title"
**What would you like to be added**:
Adding Multiple Bugzillas fixed for a single PR

So besides `Bug XXXX:` we can write `Bugs [XXXX,YYYY,ZZZZ]:`

**Why is this needed**:
Having a Single pull request fix multiple bugs.

[2020-01-28 18:09] agarg2008 commented on #15470
/assign @agarg2008

[2020-01-28 19:37] ixdy opened #16047 "boskos: changing type of a static resource in config doesn't update storage"
**What happened**:
We renamed the type of some of our static resources to work around a bug in the janitor.
(That bug: we had a group of projects that didn't end in `-project`, and thus the janitor was passing the wrong flag: https://github.com/kubernetes/test-infra/blob/761c11f53ddb7dde3fcc4073a7e3b9015554fe7f/boskos/janitor/janitor.go#L92-L99
)

After applying the config, the old type still rema

[2020-01-28 19:50] ixdy commented on #15906
This issue is mostly concerned with dynamic resources, but there's an issue with static resources as well - if a static resource is removed from the config, but it's currently in use, it won't be deleted. But since we don't ever periodically resync the config, we may never delete that resource.

[2020-01-28 21:06] ixdy commented on #16047
This doesn't entirely work. If you just apply a config with the resources deleted, Boskos won't delete any that are in-use. To remove them, you'd need to explicitly delete them using kubectl.

[2020-01-28 21:53] matthyx commented on #13413
/remove-lifecycle rotten
/assign

[2020-01-28 23:45] stevekuznetsov commented on #16047
There are quite a lot of config renames/edits that do not get appropriately reflected in cluster state. Notably reducing the size of a dynamic resource used to not remove the CRDs? I think we might need to revisit how that code works.

[2020-01-28 23:55] ixdy commented on #16047
I think the issues with dynamic resources are described in #15906 (and hopefully fixed by #16021), but none of that touches static resources.

[2020-01-29 19:34] ixdy commented on #14318
/remove-lifecycle rotten

[2020-01-29 19:49] ixdy commented on #14318
@alvaroaleman I'm having trouble understanding the issue here.

`regions.Default` does default to `us-east-1`, but it isn't used when cleaning up; it's only used to get the account:
https://github.com/kubernetes/test-infra/blob/ef445ba16d8066ef91dfe69ea2561afba9221372/boskos/aws-janitor/resources/clean.go#L35

`CleanAll` instead takes a parameter indicating what region to clean:
https://github.com

[2020-01-29 22:44] clarketm commented on #14430
Hi @matthyx,

Sorry for the latent response. The effort to create a tool to bootstrap a GCP prow build cluster is partially complete (i.e. started) with this simple bash script: #14377 and the introduction of terraform: #14550.

Albeit, @cblecker mentioned a while back (https://github.com/kubernetes/test-infra/pull/14550#issuecomment-537264553) that the K8s community is driving an effort to standa

[2020-01-29 22:44] #14430 closed

[2020-01-29 23:14] chases2 commented on #15976
This seems related to #15662

[2020-01-30 06:12] Katharine commented on #15469
I did this!

[2020-01-30 06:12] #15469 closed

[2020-01-30 11:26] eddycharly commented on #15913
@alvaroaleman i took a little time to work on this.

Can you elaborate on this ? Defaulting to the current branch or leaving it unset should not change anything as the job is coming from the current branch anyway, am i right ?

[2020-01-31 00:58] clarketm opened #16077 "Branchprotector: allow force push"
**What would you like to be added**:
A configuration option for [**branchprotector**](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/branchprotector) to grant all users with push access the ability to force-push to a protected branch by enabling `Allow force pushes`.

https://github.blog/changelog/2019-12-04-expanded-branch-protection-rules/

**Why is this needed**:
It offers flexib

[2020-01-31 01:22] LorbusChris commented on #15043
This is still an issue.

/remove-lifecycle stale

[2020-01-31 10:03] HerrmannHinz commented on #3805
any update? GHE would be super nice.

[2020-01-31 11:11] sovereignoshan opened #16081 "Prow issue:"
kubectl top nodes
Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)

[2020-01-31 13:34] alvaroaleman commented on #15913
The reason is that the validation verifies that there is only one job with a given name per org/repo/branch. But thinking about this, we do not have this info available anyways, so I guess making inrepoconfig jobs on any branch conflict with a job of the same name in the static config in any other branch is okay,

[2020-01-31 13:35] alvaroaleman commented on #14318
Hm you are right, seems I misread the code when I looked into this.

Thank you for investigating!

[2020-01-31 13:35] #14318 closed

[2020-01-31 14:48] eddycharly commented on #15913
Thanks for your explanations.
Don't hesitate to comment on the PR https://github.com/kubernetes/test-infra/pull/16068
I simply removed the constraints on branches and skip branches.

[2020-01-31 17:33] chases2 opened #16086 "gcsk8sreporter regularly can't find BuildID"
**What happened**:
Frequent logs like this in Prow production:

[code]

[2020-01-31 19:08] stevekuznetsov commented on #16086
BuildID is given to the job after it is created, when it starts to execute, are we racing with that?

[2020-01-31 19:23] eddycharly commented on #15913
Closed by https://github.com/kubernetes/test-infra/pull/16068

[2020-01-31 19:23] #15913 closed

[2020-01-31 19:35] Katharine commented on #16086
gcsk8sreporter only reports on terminated jobs, so this would require a job to reach termination and still not have a build ID.

Aborted jobs maybe?

[2020-01-31 19:36] Katharine commented on #16086
[that job](https://prow.k8s.io/prowjob?prowjob=dd9368b3-4447-11ea-b7c6-361372b49446) is indeed a) aborted, and b) lacking a build ID

[2020-01-31 21:31] cofyc opened #16092 "cannot run job with gke provider"
**What happened**:

cannot run e2e job with gke provider.

**What you expected to happen**:

e2e job should succeed.

**How to reproduce it (as minimally and precisely as possible)**:

start a kubetest job with following parameters:

[code]

**Please provide links to example occurrences, if any**:

see recent `ci-kubernetes-e2e-gke-canary` jobs: https://prow.k8s.io/?job=ci-kubernetes-e2e-gke-canar

[2020-01-31 21:32] cofyc commented on #16092
/assign @krzyzacy

[2020-01-31 22:42] chizhg commented on #8668
/remove-lifecycle stale

[2020-02-02 02:48] #12081 closed

[2020-02-02 16:01] #11212 closed

[2020-02-03 13:22] #11889 closed

[2020-02-03 16:40] stevekuznetsov commented on #13042
/remove-lifecycle stale

[2020-02-03 16:40] stevekuznetsov commented on #13789
/remove-lifecycle stale

[2020-02-03 17:13] stevekuznetsov commented on #9948
/remove-lifecycle stale

[2020-02-03 17:45] zyc-ai opened #16104 "FATA[0216] Failed to apply cluster role binding to prow error="apply: exit status 1""
I have previously configured AKS on the machine. And when I switch to GKE and tried to deploy prow on GKE using bazel run //prow/cmd/tackle, it still tries to connect to AKS even though the kubectl is correctly finding the nodes of GKE.

**What happened**:
Applying admin role bindings (to create RBAC rules)...
Unable to connect to the server: dial tcp: lookup prow-dns-xxxxxxxx.hcp.westus2.azmk8s.i

[2020-02-03 18:28] scottilee commented on #13051
/remove lifecycle/stale

[2020-02-03 18:29] alvaroaleman commented on #9638
/remove-lifecycle stale

[2020-02-03 18:58] BenTheElder commented on #9638
forgot about this, too many things going on :-/
I am pretty sure https://github.com/kubernetes/test-infra/issues/9638#issuecomment-549938258 will work though, if someone wants to try this out. I probably won't have time to switch gears to this for a while.

[2020-02-03 20:44] sergioescalanteIBM commented on #16077
I'd like to work on this

[2020-02-03 21:17] #15906 closed

[2020-02-03 21:25] clarketm commented on #16077
Thanks @sergioescalanteIBM!

/assign @sergioescalanteIBM
/remove-help

[2020-02-03 21:39] matthyx commented on #9638
@alvaroaleman do you want, or shall I?

[2020-02-03 22:03] clarketm commented on #14925
/assign @cjwagner

He is working on a formal design document for this.

[2020-02-03 22:45] alvaroaleman commented on #9638
Go ahead, I'll do the review :)

[2020-02-04 00:01] clarketm opened #16110 "Configurator: non-deterministic output"
**What happened**:
Sometime after commit d5d7ce3eb0ffe35c899fe9358586cdffb6525899, when the `configurator` is run multiple times with the same input it produces non-deterministic `yaml` results. The output appears to be *semantically*-equivalent but not *byte*-equivalent, meaning the ordering is non-deterministic.

**What you expected to happen**:
Idempotence (i.e. byte equivalence); multiple `con

[2020-02-04 09:12] ChakshuGupta13 commented on #15128
Hi @cjwagner
I was just going through the issue and files related to it.

How is the following code is generating incorrect help information?
https://github.com/kubernetes/test-infra/blob/b4d4c269cc70d558b4db7c0512c9d17f6ba0b304/prow/plugins/updateconfig/updateconfig.go#L50-L59
If I removed the config fields, then how should I modify 'helpProvider'? Can elaborate a little bit more about your requi

[2020-02-04 10:24] zyc-ai opened #16116 "package github.com/googleapis/gnostic/OpenAPIv2: cannot find package"
**What happened**:

package github.com/googleapis/gnostic/OpenAPIv2: cannot find package "github.com/googleapis/gnostic/OpenAPIv2" in any of:
        /usr/local/go/src/github.com/googleapis/gnostic/OpenAPIv2 (from $GOROOT)
        /home/zc/go/src/github.com/googleapis/gnostic/OpenAPIv2 (from $GOPATH)

**What you expected to happen**:

install

**How to reproduce it (as minimally and precisely as p

[2020-02-04 13:09] ruzickap opened #16120 "Pipeline (Tekton) extension for Prow is not working - pipeline pod is dying"
**What happened**:

Image specified in the k8s manifest `gcr.io/k8s-testimages/pipeline:latest` for pipeline doesn't exists: https://github.com/kubernetes/test-infra/blob/master/prow/cmd/pipeline/dev.yaml#L18

If I change it the image to `gcr.io/k8s-prow/pipeline` like:

[code]

then the pod is dying with this error:

[code]

**What you expected to happen**:

Pod should be started successfully wit

[2020-02-04 13:19] eddycharly commented on #16120
I think these docs are pretty outdated, tekton pipeline changed a lot during the last months and i am not sure the docs were kept up to date on either prow or tekton side.

There is an open PR to use the latest tekton version in prow (https://github.com/kubernetes/test-infra/pull/16099).

Might be a good time to refresh the docs. I'll try to take time to do it, in the meantime you can ask question

[2020-02-04 13:39] ruzickap commented on #16120
Thank you for the quick update...
I'll wait for the #16099 to be merged and then I'll try to make it running again.
Updated docs are always welcome :-)

[2020-02-04 17:48] thockin opened #16124 "Allow PR approvers to demand a squash-merge"
**What would you like to be added**:

It would be nice to be able to review PRs as a series of commits, and decide "this should be squashed".  When I say `/approve` I could also say `/squash-on-merge` or something, which the merger process would respect and call the right GitHub API.

https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button

**Why is this needed**:

I review a lot

[2020-02-04 17:55] cheftako commented on #12127
/remove-lifecycle rotten

[2020-02-04 17:55] cheftako commented on #12127
/lifecycle frozen

[2020-02-04 19:06] stevekuznetsov commented on #16124
This is currently possible by adding the `tide/merge-method-squash` label to the PR. Are you specifically looking for a comment-command to do this?

/cc @cjwagner

[2020-02-04 19:21] #16086 closed

[2020-02-04 19:24] cjwagner commented on #16124
We could achieve this today with a `/label tide/merge-method-squash` command via the `label` plugin.

[2020-02-04 19:25] chases2 commented on #16110
This is a known issue; see #13624

It's still affecting us, and affecting users of Transfigure (such as Istio) the most. I think a way to sort is probably the best way to resolve this, and I'm pretty sure that nothing else relies on the order of deserialization.

[2020-02-04 19:51] clarketm commented on #13624
/assign

[2020-02-04 19:51] clarketm commented on #16110
/close
Duplicate of #13624

[2020-02-04 19:51] #16110 closed

[2020-02-04 21:08] cjwagner commented on #15128
The help text it emits is not necessarily true. Those config fields are not used anywhere else so they could be set to anything and not have any effect on behavior. The actual source of truth appears to be the `ConfigUpdater.Maps` field.

You need to modify the `helpProvider` to properly describe the current configuration. So remove the misleading text about the config and plugin files and replace

[2020-02-05 00:00] clarketm opened #16130 "Resolve occasional "not our ref" errors in Prow on git clone/fetch operations"
### History

#### Problem:
Prow occasionally fails to `git clone` or `git fetch` with the following  error:
[code]

#### Related Issues:
* https://github.com/istio/test-infra/issues/2309
* https://github.com/istio/istio.io/issues/6332
* https://github.com/openshift/release/issues/6110
* https://github.com/kubernetes/test-infra/issues/15225

#### Explanation from GitHub

### Solutions

- [ ] Use th

[2020-02-05 00:03] clarketm commented on #16130
/assign

[2020-02-05 01:13] chewong opened #16132 "Azure: upgrade job configurations to PodUtils"
**What should be cleaned up or changed**:

- As bootstrap.py is depracted, we should switch all Azure-related job configs to [PodUtils](https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md) ([Motivation of switching](https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md#why-use-pod-utilities)):
  - [x] [cloud-provider-azure-config.yaml](https://github.com

[2020-02-05 01:13] chewong commented on #16132
/area provider/azure

[2020-02-05 01:15] chewong commented on #15584
/close

[2020-02-05 01:15] #15584 closed

[2020-02-05 04:08] clarketm commented on #16130
/unassign

[2020-02-05 10:42] ChakshuGupta13 commented on #15128
Thanks @cjwagner
For the explanation.
I have made some changes according to my understanding and sent a PR #16137

[2020-02-05 11:59] #15128 closed

[2020-02-05 16:01] matthyx commented on #9638
/assign
/unhelp

[2020-02-05 16:02] matthyx commented on #9638
/remove-help

[2020-02-05 16:04] oxddr opened #16144 "[Testgrid] Display k/perf-tests commit hash in scalability tests."
**What would you like to be added**:
Display k/perf-tests commit hash in scalability tests, similarly to k/k and k/test-infra commit hashes
![T8stDG9WpvE](https://user-images.githubusercontent.com/30298753/73858926-7f0b3c80-4839-11ea-916a-b1f19d9bdd02.png)

**Why is this needed**:
The same reason, why we display k/k and k/test-infra commit hash. It allows to quickly determine, which commit has bee

[2020-02-05 16:10] stevekuznetsov opened #16145 "hook: blunderbuss: do not attempt to assign someone who's already assigned"
[code]

[2020-02-05 16:10] stevekuznetsov commented on #16145
I guess this is `lgtm` but I assume it will share logic with `blunderbuss` for this one anyway.

/area prow/hook

[2020-02-05 16:12] stevekuznetsov commented on #16145
This is the block of code making the incorrect call:

https://github.com/kubernetes/test-infra/blob/04264cb945f05851d9d2710741c3cc73b76a9c10/prow/plugins/lgtm/lgtm.go#L289-L295

We should either detect this specific error from GitHub and ignore it, since it means that the work has already been done, or if we know the assignee on the issue we can only make the call when we need to.

[2020-02-05 16:12] stevekuznetsov commented on #16145
/good-first-issue

[2020-02-05 18:08] clarketm commented on #16130
I would appreciate opinions from Prow and @kubernetes/sig-testing folks regarding the best long-term solution here.

[2020-02-05 18:19] petr-muller commented on #16130
I like the git v2 protocol option, but I don't have enough information about how stable it currently is, and how stable it is in git client versions people are likely to use. Otherwise I think the retry is a fine way how to tackle this. Configuring SSH is a mess. The third option sounds like it would only reduce occurrences but not get rid of all of them?

[2020-02-05 20:48] alvaroaleman opened #16153 "Tide: Add leader election"
**What would you like to be added**:

Leader electiion to tide

**Why is this needed**:

Tide is not built to be running with more than one replica. In order to avoid problems during upgrades, node rotations or if someone accidentally increases the replica count, we should add leader election to get a stronger assurance that only one replica will be active at a time.

/area prow

[2020-02-05 21:11] alvaroaleman commented on #15552
The error you posted above is from the Kubelet and gets emitted when your hosts resolv.conf contains more than two nameservers: https://www.reddit.com/r/kubernetes/comments/7ruq0f/kubelet_nameserver_limits_were_exceeded/dszx5h5/

Closing this issue as I do not see a Prow bug here, feel free to re-open if I missed something.
/close

[2020-02-05 21:11] #15552 closed

[2020-02-05 22:07] cjwagner commented on #16130
I like the 3rd and 4th options.

I think this would actually get rid of occurrences since PR branches are really the only place where "a branch is rewound or deleted" which GH's response suggest is the cause of the error. It sounds like `git clone --mirror` simply doesn't behave well with repos with lots of active PRs. Even if there are lots of feature or release branches those shouldn't cause pro

[2020-02-05 22:15] #9638 closed

[2020-02-05 23:29] thockin commented on #16124
This is awesome!  I am going to save it as a canned response.

On Tue, Feb 4, 2020 at 11:24 AM Cole Wagner <notifications@github.com>
wrote:

[2020-02-05 23:32] thockin commented on #16124
Woops!

https://github.com/kubernetes/kubernetes/pull/87535

@thockin: The label(s) /label tide/merge-method-squash cannot be applied. These labels are supported: api-review, community/discussion, community/maintenance, community/question, cuj/build-train-deploy, cuj/multi-user, platform/aws, platform/azure, platform/gcp, platform/minikube, platform/other

[2020-02-06 02:06] cjwagner opened #16159 "Make Tide check available merge methods on a repo before attempting to merge."
**What would you like to be added**:
Tide should use [this API](https://developer.github.com/v3/repos/#get) before attempting a merge to check if the requested merge method (merge, squash, or rebase) is allowed by the repo. If it is not, the Tide status should report failure and Tide should ignore the PR until the requested merge method is changed to something valid.

**Why is this needed**:
Curre

[2020-02-06 02:13] cjwagner commented on #16124
@thockin Looks like the label command isn't configured to support that label. I made a PR to add it to the config (https://github.com/kubernetes/test-infra/pull/16160), but it may cause problems if misused on repos that don't support the requested merge method so we should probably address that first. (ref: https://github.com/kubernetes/test-infra/issues/16159)

It looks like people have been usin

[2020-02-06 11:00] matthyx commented on #13413
@spiffxp the issue is kinda hairy, so as I see it we have this chain of calls:
configurator.doOneshot -> "github.com/GoogleCloudPlatform/testgrid/config/yamlcfg".MarshalYAML
"github.com/GoogleCloudPlatform/testgrid/config/yamlcfg".MarshalYAML -> "sigs.k8s.io/yaml".Marshal
"sigs.k8s.io/yaml".Marshal -> "gopkg.in/yaml.v2".JSONToYAML

However "gopkg.in/yaml.v2".JSONToYAML calls Unmarshal and then Mar

[2020-02-06 18:40] alvaroaleman commented on #10884
/remove-lifecycle stale

[2020-02-06 19:39] chases2 commented on #16144
I believe the configuration you're looking to change is the `ColumnHeader`, which is part of your tests' test group.

Depending on your current test's settings, you may need to add or manually configure your grid in [`config/testgrids`](https://github.com/kubernetes/test-infra/tree/master/config/testgrids). With more info on exactly which tests you want to modify, I can advise more, but this is wh

[2020-02-06 19:41] chases2 commented on #16144
Detailed information on configurations and how TestGrid reacts to them can be found at that repo's [README](https://github.com/GoogleCloudPlatform/testgrid).

[2020-02-06 22:59] #15201 closed

[2020-02-07 00:50] tehcyx opened #16177 "Branchprotector exits when unable to protect a branch"
**What happened**:
branchprotector exits, when a branch has a special character due to the query returning a 404, the code will actually just do a log.Fatalf and exit the process:
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/branchprotector/protect.go#L135

Furthermore in our case, we also had a leftover config skeleton of a repository that got recently deleted, that also ended up

[2020-02-07 05:46] #5216 closed

[2020-02-07 06:21] poothia commented on #16116
it's breaking due to the change made in https://github.com/googleapis/gnostic/pull/155 . until this is fixed in client pin your go client to "k8s.io/client-go v0.17.0" in your go-mod.

[2020-02-07 11:28] petr-muller commented on #16177
Maybe I'm missing something, but can you elaborate how failing to set up branch protection causes postsubmits to not run?

[2020-02-07 13:29] matthyx commented on #13413
Wait... now I realize I might have not understood the issue...

@spiffxp apparently you only want to correct the 184 files and move `annotations` just after the `name` they belong to?
Like here: https://github.com/kubernetes/test-infra/compare/master...matthyx:annotations?expand=1

[2020-02-07 16:01] tehcyx commented on #16177
As far as I understand, if branchprotector fails to update/setup branch protection, in our case the missing repo was in the list before another repo, the post-submit job is not registered and thus not run.

[2020-02-07 17:06] petr-muller commented on #16177
This should be unrelated. The branchprotector only commits the desired (describe in config file YAML) Branch Protection (the GH concept preventing force pushes and requiring checks to pass before merges ) rules to GitHub, it should not affect at all which jobs are executed.

[2020-02-08 16:09] gavinfish commented on #16145
/assign

[2020-02-08 18:22] #13002 closed

[2020-02-08 22:47] tehcyx commented on #16177
Assume we can close this. I was under the impression it worked differently.

[2020-02-08 22:47] #16177 closed

[2020-02-09 13:14] RobertKielty commented on #14485
Do not have enough time right now to do this. Closing

[2020-02-09 13:14] #14485 closed

[2020-02-09 23:47] dims opened #16202 "boskos failed to acquire project: resources not found"
logs from: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1226645856254431232/build-log.txt
[code]

Looks like boskos is not cleaning up properly!

[2020-02-09 23:48] Katharine commented on #16202
/kind oncall-hotlist

[2020-02-10 01:42] dims commented on #16202
Screen shot from https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

![image](https://user-images.githubusercontent.com/23304/74115323-b6048980-4b7c-11ea-939f-f84aa02298ac.png)

[2020-02-10 01:47] dims commented on #16202
Looks like the "cleaning" and "busy" went down ... but the "dirty" exploded starting around 4:00 PM.

All the other graphs on that page was also the same pattern. So it looks like a **GCP-wide change** that stuck us at around 4:00 PM.

[2020-02-10 02:01] dims commented on #16202
cc @ixdy

[2020-02-10 02:47] dims commented on #16202
PSA from @Katharine on slack - https://kubernetes.slack.com/archives/C09QZ4DQB/p1581287042152200

[2020-02-10 04:55] droslean commented on #16202
/cc @kubernetes/ci-signal Many jobs are affected because of this.

[2020-02-10 12:55] alvaroaleman opened #16207 "Boskos: Get rid of internal types"
**What would you like to be added**:

Boskos to stop using its own types and instead directly working via the kube api types

**Why is this needed**:

Currently, boskos uses its own internal representation of its types. This forces us to write an abstraction on top of a normal kube client that converts to/from those internal types, complicating the code and losing some information along the way wh

[2020-02-10 13:21] liggitt commented on #16202
cleanup resolved itself at 7AM ET

see https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1&from=1581276897770&to=1581339223923

[2020-02-10 13:58] alvaroaleman commented on #16081
This sounds more like its an error in your cluster rather than a prow issue, check `kubectl get apiservice` to find out whats up with your metrics service.

Closing this for now, feel free to open another issue if you find problems in Prow itself :)

/close

[2020-02-10 13:58] #16081 closed

[2020-02-10 14:00] alvaroaleman commented on #15971
Please feel free to create a PR and improve the situation :)

[2020-02-11 00:13] cblecker commented on #14325
/remove-lifecycle rotten

[2020-02-11 00:13] cblecker commented on #12296
/remove-lifecycle rotten

[2020-02-11 02:17] #13856 closed

[2020-02-11 02:55] gavinfish commented on #16145
@stevekuznetsov I am trying to reproduce the bug. Unfortunately no luck. And the related issue cri-o/cri-o#3201 handled the lgtm successfully. Any ideas about when this kind of bug will occur?

[2020-02-11 09:43] matthyx opened #16223 "Use `Repo` struct instead of `org/repo` string"
**What should be cleaned up or changed**:
Use `Repo` struct instead of `org/repo` string between test-infra components.

**Provide any links for context**:
https://github.com/kubernetes/test-infra/pull/16184#pullrequestreview-356477033

[2020-02-11 09:43] matthyx commented on #16223
/assign

[2020-02-11 09:43] matthyx commented on #16223
/area prow

[2020-02-11 15:18] matthyx commented on #9628
@nzoueidi ping?

[2020-02-11 18:04] #15930 closed

[2020-02-11 20:01] stevekuznetsov commented on #14743
/remove-lifecycle rotten

[2020-02-11 20:04] stevekuznetsov commented on #16145
.... wow. I didn't even notice that. I wonder how we tried to assign twice. Sorry, this might be good to ignore until we have more data, that is bizarre.

[2020-02-12 07:47] alvaroaleman commented on #16207
/assign

[2020-02-12 07:52] alvaroaleman opened #16245 "test-infra-push-boskos job is broken"
**What happened**:

The postsubmit fails to build boskos: https://prow.k8s.io/?job=post-test-infra-push-boskos
The error seems to be `Current Bazel version is 0.29.1, expected at least 1.2.0`
**What you expected to happen**:

Boskos to get build

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to k

[2020-02-12 08:42] StarCoral commented on #16116
I have same problem ,
and I tried the way from   @boyan-soubachov  [ googleapis/gnostic#155](https://github.com/googleapis/gnostic/pull/155)
use the command `go get github.com/googleapis/gnostic@v0.4.0` , and it can be solved.

Thank you!~

[2020-02-12 08:48] boyan-soubachov commented on #16116
Not a problem. I think the initial reason is that (mistakenly) running a ‘go get -u’ on your module that includes it forces an upgrade which moves gnostic to the incompatible version. IMO it would be good to update our dependency as a nice to have but that’s up to the kubernetes team to decide whether it’s worth it. 🙂

[2020-02-12 09:43] ruzickap commented on #16120
Hi @eddycharly - thank you for your #16099 - it was merged so I tried to install fresh k8s cluster with latest prow and latest (0.10.1) Tekton.

Unfortunately the `prow-pipeline` is still crushing.

If I trigger the test action from GitHub PR chat (using `/run test`), the prow hook pod will create the prow job (`0f883c49-4d78-11ea-8c2d-36c7d32758f7`) properly:

[code]

The newly created prowjob lo

[2020-02-12 15:10] hongkailiu commented on #16145
@gavinfish
Saw this again today.
https://github.com/openshift/release/issues/7138

[2020-02-12 15:40] stevekuznetsov commented on #16145
@hongkailiu could you paste logs from `hook` to see if we have a record of calling that endpoint more than once?

[2020-02-12 16:00] stevekuznetsov commented on #16245
/assign @cjwagner @ixdy @fejta

[2020-02-12 18:11] fejta commented on #16245
/kind oncall-hotlist

[2020-02-13 00:54] chases2 opened #16268 "testgrid-config-upload job is failing"
**What happened**:
[testgrid-config-upload](https://k8s-testgrid.appspot.com/sig-testing-maintenance#testgrid-config-upload) began failing again shortly after it was fixed.

[First Failure's Log](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-upload-testgrid-config/1227749503323344896)

**What you expected to happen**:
Passing jobs, uploaded configs

**Anything else we need t

[2020-02-13 08:11] #14213 closed

[2020-02-13 08:23] alvaroaleman commented on #16245
This got fixed and the job is green again: https://prow.k8s.io/job-history/kubernetes-jenkins/logs/post-test-infra-push-boskos

[2020-02-13 08:23] #16245 closed

[2020-02-13 09:26] alvaroaleman commented on #12941
/reopen
/unassign

This would be really nice to have, right now I do unfortunately not have the time for it

[2020-02-13 10:00] matthyx opened #16276 "`sig/onprem` label expired since 2019-12-17"
**What should be cleaned up or changed**:
Should we remove `sig/onprem` label from label_sync?

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md#sig/onprem

[2020-02-13 10:00] matthyx commented on #16276
/assign @cblecker

[2020-02-13 16:20] nzoueidi commented on #12749
/remove-lifecycle stale

[2020-02-13 17:08] fejta commented on #16268
Looks like a flake

[2020-02-13 17:08] #16268 closed

[2020-02-13 17:52] cblecker commented on #12941
/remove-lifecycle rotten

[2020-02-13 18:40] ixdy opened #16281 "boskos: remove apiextensions/customresourcedefinitions rule from boskos ClusterRole"
**What should be cleaned up or changed**:
Once Boskos no longer attempts to create the Boskos CRDs itself (i.e. #16266 has rolled out), we should remove that permission from its ClusterRole:
https://github.com/kubernetes/test-infra/blob/49ecce6586df439db2f4bdce4c4d6a3956e87d79/prow/cluster/boskos.yaml#L56-L58

The CRDs are now saved as YAMLs in the cluster deployment directory (#16267), which make

[2020-02-13 18:41] ixdy commented on #16281
/area boskos

[2020-02-14 03:02] clarketm commented on #14100
/reopen
/lifecycle frozen

[2020-02-14 03:28] #14256 closed

[2020-02-14 03:28] #14315 closed

[2020-02-14 03:28] #13823 closed

[2020-02-14 03:28] #13228 closed

[2020-02-14 03:28] #13746 closed

[2020-02-14 04:29] #13804 closed

[2020-02-14 04:58] johngmyers commented on #15954
/reopen

[2020-02-14 06:31] #4602 closed

[2020-02-14 07:43] matthyx opened #16296 "hack/verify-deps.sh fails on master"
**What happened**:
[code]

**What you expected to happen**:
PASS

**How to reproduce it (as minimally and precisely as possible)**:
- checkout master
- pull latest
- run `hack/verify-deps.sh`

/assign @fejta

[2020-02-14 11:22] matthyx commented on #16223
@alvaroaleman I see `tide` relies a lot on "org/repo" strings... not sure we want to touch all that?
Also I will check if some parts of `hook` can be simplified with that struct.

[2020-02-14 13:22] alvaroaleman commented on #16223
Also I will check if some parts of hook can be simplified with that struct.

So without having looked at the tide code, the intuitive answer would be "Depends on if we ever split these". If we just always use `org/repo` strings everywhere and never split or join them, then its probably not worth the effort.

[2020-02-14 13:26] alvaroaleman commented on #16153
/area prow/tide

[2020-02-14 17:17] alvaroaleman opened #16303 "Test-Infra-Push-Prow job broken"
**What happened**:

https://prow.k8s.io/?job=post-test-infra-push-prow is pretty red

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/kind oncall-hotlist

[2020-02-14 18:41] stevekuznetsov commented on #16303
[code]

[2020-02-14 18:42] stevekuznetsov commented on #16303
[code]

[2020-02-14 18:42] stevekuznetsov commented on #16303
https://github.com/kubernetes/test-infra/pull/16265/files ?

[2020-02-14 18:43] #14179 closed

[2020-02-14 22:30] clarketm commented on #16130
sgtm.

I will implement the **4th** option (i.e. v2 protocol) and fallback to the **3rd** option (i.e. fetch what is needed w/out mirror clone) if the former is not portable.

In the meantime, can we  increase # of timeouts to mitigate (https://github.com/kubernetes/test-infra/pull/16107)? This error is only really a problem for larger repos (e.g. **istio/istio**) with more source/refs, so a few e

[2020-02-14 22:30] clarketm commented on #16130
/approve

[2020-02-14 22:31] clarketm commented on #16130
/assign

[2020-02-14 23:06] fejta commented on #16303
Suspect this job is DOSing the metadata server

[2020-02-14 23:22] fejta commented on #16303
We already have retries (and we are retrying):

https://github.com/kubernetes/test-infra/blob/c71503f9a7646488b0bef5ac2d5ad485fb25e6ab/prow/push.sh#L69-L78

I'll file an internal bug around workload identity, but we should probably just make that job start using the secret file again until its resolved.

[2020-02-15 09:08] tmcgahern commented on #11260
Any progress on creating a PR for this issue? We would are trying to deploy Prow on an AWS cluster and we would like the ability to push our logs to S3.

[2020-02-15 12:50] sbueringer commented on #15081
/remove-lifecycle stale

[2020-02-15 12:51] sbueringer commented on #15081
@thockin Is the script from here: https://github.com/kubernetes/k8s.io/pull/459 already actuated?

I assume I should be able to see the project & bucket in Google Cloud?

[2020-02-15 15:12] sbueringer commented on #11260
Unfortunately, I didn't had much time the last few weeks. Goal is to refactor step-by-step. The first PR "only" refactors the pkg/io package and enables tide and status-reconciler to use s3: https://github.com/kubernetes/test-infra/pull/16317

I created a PR in my fork to show the differences to the full-s3-support version I'm using in our environment: https://github.com/sbueringer/test-infra/pull

[2020-02-15 19:13] #14740 closed

[2020-02-15 20:22] danwinship opened #16319 "prow retitle appends "\r" to the bug title"
When you use `/retitle` to retitle a PR, the PR will end up with a carriage return at the end of the title. This is not visible on the HTML page, but it shows up in the source, and in email related to the bug.

eg, https://github.com/openshift/sdn/pull/108 had the command [`/retitle Bug 1803149: Rebase SDN to kubernetes 1.17.2`](https://github.com/openshift/sdn/pull/108#issuecomment-586326644) run

[2020-02-15 23:11] #14390 closed

[2020-02-16 01:13] #14320 closed

[2020-02-16 03:58] dims commented on #15081
@sbueringer looks like all set ... i re-ran the script to confirm.

[code]

[2020-02-16 04:00] dims commented on #15081
i can see the bucket using https://console.cloud.google.com/storage/browser/k8s-conform-capi-openstack

thanks for making the changes needed @sbueringer

/close

[2020-02-16 04:00] #15081 closed

[2020-02-16 06:01] sbueringer commented on #15081
@dims Looks like they are accessing GCS in the cloud provider openstack acceptance test via a `key_json`. I guess they are doing it via a service account. Do you by any chance now how they created the service account or are there best practices?

[2020-02-17 00:36] #14165 closed

[2020-02-17 00:36] #13826 closed

[2020-02-17 07:54] eddycharly commented on #16120
@ruzickap I'll have a look at the docs today. Sorry for the late reply I was on vacation.

[2020-02-17 09:11] riking commented on #16281
Dependent PR is merged and seems rolled out.

[2020-02-17 11:04] eddycharly commented on #16120
From what i see, the issue you have is related to the the prow config not being set on the command line.
You could try to adapt your manifest to look like this :
[code]

[2020-02-17 13:08] tmcgahern opened #16325 "Owners GetMessage function does not use the Github host set in config"
When Hook returns a message to the PR with a Link to the owners file it sets the URL of the link to `github.com/<ORG>/<REPO>`. We are using a GHE host which we are setting as an arg to the hook deployment under the github-host flag.

It looks like within the approve.go file it is using the `githubConfig.LinkURL` [approve.go#L447](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/ap

[2020-02-17 13:10] tmcgahern commented on #16325
If this is the correct approach to resolve this issue I'd be happy to work on a fix

[2020-02-17 13:41] wangao1236 opened #16326 "Install kubelet on macOs"
Hello, I'm a kubernetes beginer and I'm trying to deploy a kubernetes cluster on macOs in binary mode.
Now, I am in the stage of installing kubelet, and I have installed docker on my macbook pro.
But, kubelet failed to start, and the print log is as follows:
[code]
Please do me a favor, what should I do? Thanks.

[2020-02-17 13:42] #16326 closed

[2020-02-17 14:51] ruzickap commented on #16120
Thanks a lot @eddycharly.
You are right - this was missing from my `prow-pipeline` deployment definition.

It would be nice if the pod will tell me something like "missing config" instead of crashing.
Anyway - after adding the "config lines" - it stopped crashing.

Thanks again...

[2020-02-17 14:52] eddycharly commented on #16120
You're welcome, we are currently discussing it here https://github.com/kubernetes/test-infra/pull/16323

[2020-02-17 14:53] ruzickap commented on #16120
Awesome :-)

Good luck...

[2020-02-17 14:53] #16120 closed

[2020-02-17 15:02] tmcgahern commented on #16325
/area prow

[2020-02-17 17:53] #14416 closed

[2020-02-17 18:36] olegch opened #16328 "hook: re-evaluate cherry-pick labels when a base branch changes for a PR"
**What happened**:

A PR was first created on a release branch `release-1.16` and then rebased to `master`.
Base branch on the PR was also changed to `master`, but k8s-robot still thinks that it is a cherry-pick into a release branch.

**What you expected to happen**:

k8s-robot to take into account the new value of PR's base branch.

**How to reproduce it (as minimally and precisely as possible)*

[2020-02-17 18:43] stevekuznetsov commented on #16328
@olegch what specific symptoms are causing you to think that the robots still consider this a cherry-pick to a release branch?

[2020-02-17 18:53] olegch commented on #16328
I the robot continues to set "do-not-merge/cherry-pick-not-approved" label, although I am not that familiar with how the robot works to be absolutely sure.

[2020-02-17 19:22] alvaroaleman commented on #16303
Seems to be fixed
/close

[2020-02-17 19:22] #16303 closed

[2020-02-17 19:46] stevekuznetsov commented on #16328
Ah, I see!

[2020-02-17 19:47] stevekuznetsov commented on #16328
/retitle hook: re-evaluate cherry-pick labels when a base branch changes for a PR

[2020-02-17 19:47] stevekuznetsov commented on #16328
/area prow/hook

[2020-02-17 19:49] stevekuznetsov commented on #16328
The `cherrypickunapproved` plugin needs to be edited to handle the case where a pull request is edited. The `trigger` plugin already handles such a case and causes new jobs to run, the code that does it is here:

https://github.com/kubernetes/test-infra/blob/8ab6e0b2c0ff4014b8261034a2024f54b2802bae/prow/plugins/trigger/pull-request.go#L95-L116

This is the logic in the `cherrypickunapproved` plugi

[2020-02-17 22:58] #14428 closed

[2020-02-17 23:41] cblecker commented on #14201
/remove-lifecycle stale

[2020-02-17 23:51] cblecker opened #16330 "verify-owners: checks out PR branch, instead of merging PR branch with base branch"
**What happened**:
verify-owners checks out the PR branch when verifying the owners files and tests that, rather than merging the PR branch with the base branch, and then testing.

**What you expected to happen**:
verify-owners would merge the PR with the base branch, and check on the result. This is prevalent in the case that OWNERS_ALIASES are being used, and are modified between when the PR bra

[2020-02-18 00:25] ardakuyumcu commented on #16328
Is the expected behavior to simply remove the `do-not-merge/cherry-pick-not-approved` label from the PR in this case? I'm interested in helping here.

[2020-02-18 07:06] #14435 closed

[2020-02-18 07:52] mm4tt commented on #14697
Lost track of this one, we added more projects to the presubmit pool long time ago. Both our pools seem healthy as of now.
![rNJH5V1siew](https://user-images.githubusercontent.com/2604887/74715031-ff637180-522b-11ea-8b4e-844853a7d4b0.png)

/close

[2020-02-18 08:13] alvaroaleman commented on #16319
@danwinship while I can see the issue as you described in the PR you linked I can not see it on others that were retitled, i.E.:
[code]

Do you have more examples of retitled PRs where this happened? I can not really see anything in the retitle plugins code (which is fairly simple) that would explain this.

[2020-02-18 08:38] RainbowMango opened #16333 "Docs about 'Contributing Test Results' should be improved"
**What would you like to be added**:
We need to update [Contributing Test Results](https://github.com/kubernetes/test-infra/blob/92e4176fa4877ba1823eabfc576fe1665f8f3762/docs/contributing-test-results.md#contributing-test-results) process.

I think we should describe the following more details:
- How to request a new GCS bucket?
- How to run conformance tests with [kubetest](https://github.com/kub

[2020-02-18 14:26] jprzychodzen opened #16338 "[Prow] Empty runs for pull-perf-tests-clusterloader2"
**What happened**:
I've created a PR kubernetes/perf-tests#1060 that triggered an an expected behavior from Prow. A number of 'empty' jobs were triggered , as seen on [testgrid](https://testgrid.k8s.io/presubmits-kubernetes-scalability#pull-perf-tests-clusterloader2) for 02-18.

This PR merges to non-master branch, release-1.17. Maybe this is related.

**What you expected to happen**:

Single job

[2020-02-18 14:43] jprzychodzen commented on #16338
Update:
kubernetes/perf-tests#1062 has triggered two presubmit runs:
 *  https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-perf-tests-clusterloader2/1229769652859572224
 *  https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-perf-tests-clusterloader2/1229767138370129920

These runs use different `- --extract=` flag and annotations

[2020-02-18 18:29] danwinship commented on #16319
You know, I originally had "(sometimes?)" in the summary and then removed it...

searching my trash folder for "=0D", I also find:

https://github.com/openshift/cluster-network-operator/pull/466
https://github.com/openshift/sdn/pull/102
https://github.com/openshift/cluster-openshift-apiserver-operator/pull/296
https://github.com/openshift/cluster-network-operator/pull/401

and I see that in all of

[2020-02-18 18:45] fejta opened #16344 "template.html: can't evaluate field SecretKeyRef"
[code]

/kind prow
/kind prow/deck
/kind oncall-hotlist
/assign @Katharine
any thoughts about this one?

[2020-02-18 18:46] fejta commented on #16344
[code]

[2020-02-18 19:26] fejta opened #16346 "No status reconciler label"
[code]

/assign @stevekuznetsov
/area prow

[2020-02-18 19:30] #16344 closed

[2020-02-18 19:46] BenTheElder commented on #14697
https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

![image](https://user-images.githubusercontent.com/917931/74772128-43fb0700-5244-11ea-90c0-037bc305d8ef.png)

this does not look healtthy to me

[2020-02-18 19:53] BenTheElder commented on #16333
Running conformance tests is not kubetest specific and there is an official upstream guide for this.

Also the appropriate document for this context is here:
https://github.com/kubernetes/test-infra/tree/92e4176fa4877ba1823eabfc576fe1665f8f3762/testgrid/conformance#display-conformance-tests-with-testgrid

which is linked from [the relevant KEP](https://github.com/kubernetes/enhancements/blob/maste

[2020-02-18 19:54] BenTheElder commented on #16333
contributing test results is NOT for conformance tests, it's for people wishing to provide arbitrary testgrid results, for which they may need to provide their own bucket and may not be using kubetest at all (could be e.g. unit tests on another platform...)

I don't think that doc needs much updating, but it might also need a wg-k8s-infra / k8s.io pointer, and a pointer to this kep / the conforman

[2020-02-18 19:58] cjwagner commented on #16330
Yes. When evaluating PR contents we rarely care about the unmerged PR branch, testing the merged state is almost always what we want. The function would need more than just the PR input though, it would also need the base branch commit SHA.

[2020-02-18 21:15] fejta commented on #14718
/remove-kind oncall-hotlist

[2020-02-18 21:16] fejta commented on #13903
Same

[2020-02-18 21:16] fejta commented on #15499
/remove-kind oncall-hotlist

[2020-02-18 21:17] #16202 closed

[2020-02-18 21:18] cjwagner opened #16352 "Document GCS crier reporters and podinfo lens"
It would be nice to have some docs advertising these and describing how to use them. I found documentation for other crier reporters here: https://github.com/kubernetes/test-infra/tree/master/prow/crier#usage--how-to-enable-existing-available-reporters
I didn't find any docs about what lenses are available and what they require, but that would also be helpful.

/assign @Katharine
/help

[2020-02-18 21:29] fejta commented on #14697
Some potential commits

commit d27cc139960d61f0f8f0549387f828baba5f4d40
Merge: 2c6e37d9d 7c0ac7837
Author: Kubernetes Prow Robot <k8s-ci-robot@users.noreply.github.com>
Date:   Tue Feb 18 03:03:29 2020 -0800

    Merge pull request #16335 from mm4tt/gce-100-containerd

    Add experimental gce-100-perf job with containerd enabled

commit 7c0ac78372e53c08664849d009a747cb6204f948
Author: Matt Matejc

[2020-02-18 23:39] howardjohn opened #16354 "Support showing timestamps in logs"
**What would you like to be added**:

Some way to see timestamps associate with test logs. This could be equivalent to `kubectl logs --timestamps`.

**Why is this needed**:

This will help analyze how much time is spent on different portions of test runs. Right now our jobs have a lot of `time foo` commands, which help, but its not ideal and requires foresight to put the `time` there.

This isn't

[2020-02-18 23:50] #16319 closed

[2020-02-18 23:59] justaugustus commented on #15514
With the cut of the `release-1.18` branch, the 1.14 jobs have been removed, so this is no longer relevant.
ref: https://github.com/kubernetes/test-infra/pull/16351

/close

[2020-02-18 23:59] #15514 closed

[2020-02-19 00:25] BenTheElder commented on #14890
this seems relatively infeasible at the moment and not staffed.
I'm going to go ahead and close this for now, unless someone has staffing and an actionable plan.

[2020-02-19 00:25] #14890 closed

[2020-02-19 00:41] cjwagner commented on #10840
Closing this since we can both avoid legacy authorization and use RBAC. There are some additional improvements we could make as @clarketm pointed out, but this issue has been resolved.

[2020-02-19 00:41] #10840 closed

[2020-02-19 02:14] RainbowMango commented on #16333
Sure. I'd love to.

Does this mean if a project owned by [kubernetes org](https://github.com/kubernetes/) could request a free GCS bucket from the wg-k8s-infra process, and other projectes people need to provide create bucket by themselves?

I think this should be clarified.

[2020-02-19 03:05] BenTheElder commented on #16333
We've specifically been open to hosting conformance test results, but some
people are using testgrid with things that simply aren't kubernetes at all,
in which case we're probably not going to sponsor...

These docs are not really the place to get into that.

On Tue, Feb 18, 2020, 18:14 Hongcai Ren <notifications@github.com> wrote:

[2020-02-19 08:06] mm4tt commented on #14697
We have two pools, one for continuous jobs and another for presubmits.

![SOojCcuzuHL](https://user-images.githubusercontent.com/2604887/74814129-f2f81b00-52f6-11ea-8030-144bdc276a6f.png)

The continuous one seems pretty healthy, but the presubmit looks even worse now.
Only one commit you listed touched presubmit jobs. I'll take a look.

In the meantime, @jprzychodzen will add more projects to the

[2020-02-19 08:21] mm4tt commented on #14697
Something seems off, we have 40 projects in the pool, as of now almost 100% seems to be busy.
But when I tried counting all running presubmit jobs I couldn't find more than 15:

![CoOR3dJF887](https://user-images.githubusercontent.com/2604887/74815189-145a0680-52f9-11ea-8a71-e545a0ba7d4d.png)
![fS4TmoGAZb6](https://user-images.githubusercontent.com/2604887/74815202-16bc6080-52f9-11ea-9a98-ed6e44a6

[2020-02-19 08:30] mm4tt commented on #14697
/cc @mborsz - scalability oncall
@fejta (test-infra) oncall is already assigned

[2020-02-19 08:53] mborsz commented on #16338
I checked kube-apiserver's logs for 0b457c44-5258-11ea-bee6-7ae328210567 pod (from https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/perf-tests/1062/pull-perf-tests-clusterloader2/1230047836310081537) run and it seems to be continuously created and then deleted by 'app.binary' user-agent.

Looks like a prow issue to me.

[2020-02-19 08:54] mborsz commented on #14697
This can be caused by https://github.com/kubernetes/test-infra/issues/16338

[2020-02-19 09:11] jprzychodzen commented on #16338
Update:
Now there is a number of grey tests in testgrid, probably related to this presubmit.

Possible reproduction behavior:
Create a PR to non-master branch that will trigger pull-perf-tests-clusterloader2, wait for first presubmit to succeed.

[2020-02-19 09:39] mm4tt commented on #14697
The perf-test branch release presubmits have been added two days ago in https://github.com/kubernetes/test-infra/pull/16248
I don't see anything wrong with them but it looks like they are causing the problems, so maybe we should consider reverting that PR to potentially stop the bleeding

[2020-02-19 10:09] mm4tt commented on #16338
FTR, grey tests that Kuba mentioned:

![eJaCbFazMKt](https://user-images.githubusercontent.com/2604887/74824159-298a6180-5308-11ea-9487-72f0d8f0b2fb.png)

[2020-02-19 10:13] jprzychodzen commented on #14697
Adding new projects in #16358

[2020-02-19 10:20] mm4tt commented on #14697
To summarize the findings from https://github.com/kubernetes/test-infra/issues/16338.  Our understanding is that we have presubmit jobs for which prow is spawning pods continuously and they in turn eat up all the projects in the presubmit boskos pool. We'll try disabling these presubmits as a mitigation to unblock the k/k presubmits (currently all k/k PR are blocked by this).

[2020-02-19 12:42] bweston92 opened #16361 "Invalid link in deprecated Grafana dashboard to new dashboard"
README links to http://velodrome.k8s.io/dashboard/db/monitoring?orgId=1

https://github.com/kubernetes/test-infra/blame/master/README.md#L79

**What happened**:

Went to Grafana dashboard which says

[code]

However the actual link for `monitoring.prow.k8s.io` goes to `monitoring.k8s.prow.io`

[2020-02-19 16:01] ardakuyumcu commented on #16328
I can take a stab at this.

/assign

[2020-02-19 16:50] TheodorAtBud opened #16370 "After the initial run /retest triggers do not work"
For some reason none of the /run all, /retest trigger new jobs. There are no logs in the prow-pipeline service.
The hook does process the comments.

[code]

The /woof comments gets process normally.

Anyone able to help here?

[2020-02-19 17:22] TheodorAtBud commented on #16370
Closing as I found a better channel to discuss this kind of issues; slack.

[2020-02-19 17:22] #16370 closed

[2020-02-19 18:41] #14389 closed

[2020-02-19 19:08] BenTheElder commented on #16338
/assign

[2020-02-19 19:18] BenTheElder commented on #16338
So for https://github.com/kubernetes/perf-tests/pull/1062 there is a prow bug it seems causing the GC component (sinker) and the prowjob / pod runner (plank) to alternately clean up and then recreate the test pod.

the double triggering is probably a config issue though

cc @Katharine @fejta

[2020-02-19 19:40] fejta commented on #16338
I am going to manually delete these prowjobs so we stop recreating them

[2020-02-19 19:41] fejta commented on #16338
[code]

[2020-02-19 22:54] divoxx commented on #16116
We are also having this issue when building `k8s.io/apimachinery/` pinned to the `kubernetes-1.14.9` tag, since that's the kubernetes version we are working with (AWS EKS).

Since this is a breaking change with very wide surface, is it safe to assume the fix will be back ported to those `kubernetes-*` branches?

[2020-02-19 23:48] cjwagner opened #16381 "Provide a tool for converting legacy Prow buildcluster secrets into kubeconfig secrets."
**What would you like to be added**:
A new tool or gencred feature for converting Prow's [legacy buildcluster format](https://github.com/kubernetes/test-infra/blob/3dfcf002104da4184963639b1c929cb322500438/prow/kube/client.go#L336) into kubeconfig secrets.
Each buildcluster entry should include all the content needed to construct a kubeconfig context and each buildcluster key can be used as a conte

[2020-02-19 23:59] #16338 closed

[2020-02-20 00:27] johngmyers commented on #15954
Needs-rebase appears to be behaving now.

[2020-02-20 00:27] #15954 closed

[2020-02-20 04:16] ardakuyumcu commented on #16328
I proposed https://github.com/kubernetes/test-infra/pull/16382 before addressing this issue to see if we can leverage the label information included in the pull request event payload.

[2020-02-20 06:15] BenTheElder commented on #9383
isn't this done @cjwagner ?

[2020-02-20 08:25] mm4tt commented on #14697
Looks like our presubmit pool has recovered:

![HhmdNgCOkGS](https://user-images.githubusercontent.com/2604887/74914456-c1e51c80-53c2-11ea-8dca-9d0910daa85f.png)

One more thing before we close this bug. We added 5 new projects to the pool in https://github.com/kubernetes/test-infra/pull/16358 but most likely some boskos push or reload needs to happen before they get actually added.

@fejta, is th

[2020-02-20 13:12] matthyx commented on #16223
I think we're done for now. Thanks for your help Alvaro!

[2020-02-20 13:12] matthyx commented on #16223
/close

[2020-02-20 13:12] #16223 closed

[2020-02-20 14:00] karim-manaouil opened #16389 "[Question] How to build and run E2E performance tests on an existing Kubespray cluster ?"
**What happened**:

I built the ginkgo, e2e.test and kubectl with:

[code]
When I run the performance tests with, I get the following error:

[code]

**What you expected to happen**
Run the E2E performance tests and gather the results

**How to reproduce it (as minimally and precisely as possible)**:
Apply the previous instructions on a v1.17.0 git branch on a v1.17.0 running cluster built with Ku

[2020-02-20 14:39] mborsz opened #16391 "Extract step fails"
**What happened**:
None of our tests is able to fetch kubernetes, e.g.: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

It fails with
[code]

Given the early stage of test and fact that we (scalability) haven't changed configs when this started failing, I think this is infrastructure issue
**What you expected to happen**:
That extract step will succeed

**How t

[2020-02-20 17:46] ixdy commented on #14697
@mm4tt there's [a job](https://prow.k8s.io/job-history/kubernetes-jenkins/logs/post-test-infra-upload-boskos-config) that automatically updates the boskos configmap, but it looks like it's misconfigured:
https://github.com/kubernetes/test-infra/blob/47050c4743c0381165543bcc587a3094c2c5c179/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L617

Another change in `boskos/` just merged, so t

[2020-02-20 17:58] ixdy commented on #14697
fix for the config updater job: https://github.com/kubernetes/test-infra/pull/16395

[2020-02-20 18:08] ixdy commented on #9383
Yeah, I think we can call this done:
https://github.com/kubernetes/test-infra/blob/47050c4743c0381165543bcc587a3094c2c5c179/prow/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet#L4-L28
We even had [an alert](https://kubernetes.slack.com/archives/C7J9RP96G/p1581614640143300) last week for a resource type we'd deleted but which was still being tracked by Boskos.

/close

[2020-02-20 18:08] #9383 closed

[2020-02-20 18:09] ixdy commented on #9383
also x-ref #15412

[2020-02-20 22:55] cblecker commented on #13059
/remove-lifecycle rotten

[2020-02-20 23:33] fejta commented on #9867
ref https://github.com/kubernetes/test-infra/issues/15806

[2020-02-20 23:33] fejta commented on #9867
/remove-lifecycle rotten
/assign

[2020-02-21 02:00] RainbowMango commented on #16333
@BenTheElder

What to do next after [add a group](https://github.com/kubernetes/k8s.io/pull/580)?
I thought there may be a CI running somewhere that would help to create the bucket after that.
But two days passed...

[2020-02-21 02:08] BenTheElder commented on #16333
I don't know with the new process, I've not had time to catch up on this yet.

[2020-02-21 02:13] RainbowMango commented on #16333
OK. Maybe @dims and @bartsmykla know. I'll ask at slack channel (wg-k8s-infra) as well.

[2020-02-21 06:15] #14450 closed

[2020-02-21 06:18] BenTheElder commented on #14450
pretty sure this was fixed

[2020-02-21 07:50] mm4tt commented on #16391
/priority critical-urgent

[2020-02-21 07:50] mm4tt commented on #16391
/assign michelle192837

Assigning to current test-infra oncall

[2020-02-21 08:00] mm4tt commented on #16391
Example error we see in the logs:

[code]

[2020-02-21 08:01] mm4tt commented on #16391
It affects older releases as well:

[code]

[2020-02-21 08:13] mm4tt commented on #14697
Thanks @ixdy for taking a look and fixing the updater job.
I can see that our presubmit pool has been updated with the 5 extra project.
We can close this one.

/close

[2020-02-21 08:13] #14697 closed

[2020-02-21 08:24] mm4tt commented on #16391
Fix pending in https://github.com/kubernetes/kubernetes/pull/88383

[2020-02-21 09:41] alvaroaleman opened #16418 "Boskos: Remove Ítem and Object interfaces"
**What should be cleaned up or changed**:

Boskos defines the `Item` interface interface in `boskos/common/common.go` as
[code]

This creates a lot of confusion, because it means its implemented by metav1.Objects, which in turn means its implemented by both the api types in boskos/common and its crd, so if functions take or return an `Item` its unclear if that should be the CRD or one of the types

[2020-02-21 10:41] mm4tt commented on #16391
This should be fixed, let me verify before closing

[2020-02-21 11:37] mm4tt commented on #16391
Looks like presubmits are passing now (or at least not failing on the extract step anymore).

/close

[2020-02-21 11:37] #16391 closed

[2020-02-21 18:29] ardakuyumcu commented on #16328
Do we care to handle the opposite case where the base of a PR changes from a non-release branch (e.g. `master`) to a release branch? I imagine the behavior in that case would be the same as the behavior of the plugin when a new release PR is opened.

[2020-02-21 18:44] stevekuznetsov commented on #16328
Yes, handling that as well would be perfect!

[2020-02-21 21:41] BenTheElder commented on #13879
over what time window is the failure rate percentage computed? it does not match prow.k8s.io

[2020-02-22 02:50] cblecker commented on #12356
/remove-lifecycle rotten

[2020-02-22 05:17] TAOXUY commented on #10884
+1

[2020-02-22 15:47] #14465 closed

[2020-02-22 19:51] #11998 closed

[2020-02-23 02:58] #13848 closed

[2020-02-23 17:12] #14481 closed

[2020-02-24 09:25] mborsz commented on #16391
1.18 and master branches are passing now, but 1.17- branches started failing when the PR got merged: e.g. https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-1.17-scalability-100

[2020-02-24 09:43] mm4tt commented on #16391
Yeah, there is a discussion going on in https://github.com/kubernetes/kubernetes/issues/88367
Closing this one as a duplicate
/close

[2020-02-24 10:04] nilo19 opened #16448 "How do I see uploaded artifacts of my prow job in test grid?"
I've made [a prow job](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml#L705) with my custom test image and I set the env variable `ARTIFACTS`. I want it to be exposed in test grid (the link is here: https://testgrid.k8s.io/provider-azure-scalability#ci-kubernetes-kubemark-100-azure-test).  There's only build-log

[2020-02-24 11:42] petr-muller commented on #14575
This is even nastier: some configuration also makes `protect: false` to behave totally inconsistently. Consider the following configuration:

[code]

The intention here was to make the BP plugin to not act at all on kubevirt/kubevirt repo. The repo has [Prow jobs configured](https://github.com/openshift/release/blob/4dbd1e1a0cf9912cbaae2bac7e0e7e503f06c302/ci-operator/jobs/kubevirt/kubevirt/kubevi

[2020-02-24 11:44] #16448 closed

[2020-02-24 16:35] #14486 closed

[2020-02-24 22:01] Jefftree commented on #15414
/close

[2020-02-24 22:01] #15414 closed

[2020-02-24 22:29] #16381 closed

[2020-02-24 22:40] zacharysarah opened #16458 "Protect more branches in k/website"
### What's the problem?

Branch protection for [k/website](https://github.com/kubernetes/website/branches/all?utf8=%E2%9C%93&query=release) is out of date. All release branches should be protected from force pushes, and the `dev-<x>` branch for the current release should be protected as well.

### What's the fix?

Update [branch protection for k/website](https://github.com/kubernetes/test-infra/bl

[2020-02-25 00:22] fejta opened #16464 "Delete unused secrets in service cluster default namespace"
ref #15806

/assign

- [x] `ci-service-account`, `kubekins@kubernetes-jenkins.iam.gserviceaccount.com`, `2152c16d13db` (super old)
- [x] `tide-history-service-account`, `tide-history@k8s-prow.iam.gserviceaccount.com` (migrating to workload identity) #16465
- [x] `service-account`, `pr-kubekins@kubernetes-jenkins-pull.iam.gserviceaccount.com` (migrating to workload identity) #16466 #16475
- [ ] `tr

[2020-02-25 14:22] saschagrunert commented on #15081
Do you find any solution to this? I'm basically facing the same problem right now :thinking:

[2020-02-25 14:50] tanjunchen opened #16470 "help:cannot load github.com/Azure/go-autorest/autorest: ambiguous import: found github.com/Azure/go-autorest/autorest in multiple modules:"
see https://github.com/kubernetes/test-infra/tree/master/kubetest#installation
after running go install k8s.io/test-infra/kubetest

[code]

[2020-02-25 16:04] matthyx commented on #9514
/remove-lifecycle rotten

[2020-02-25 16:13] chaodaiG opened #16472 "Allow protecting the tide github status context"
**What would you like to be added**:
When reporting Prow jobs status for PRs in Github UI, also note whether it's required or optional as defined by Prow job itself

<img width="723" alt="Screen Shot 2020-02-25 at 8 08 33 AM" src="https://user-images.githubusercontent.com/45011425/75265812-47434500-57a6-11ea-974a-b0ce27513923.png">

**Why is this needed**:
This can help remove the ambiguity introd

[2020-02-25 16:14] sbueringer commented on #15081
@saschagrunert Nope, not yet :)

@dims *push* :)

[2020-02-25 16:51] stevekuznetsov commented on #16472
Looks like you have branch protection configured and it's clearly marking the job as required on the right of your screenshot -- is what you're asking for a separate feature?

[2020-02-25 17:01] chaodaiG commented on #16472
The example was from a PR in the current repo. The goal of this feature request is to make us being able to only add tide on branch protection instead of adding each individual job

[2020-02-25 17:01] chaodaiG commented on #16472
The example was from a PR in the current repo. The goal of this feature request is to make us being able to only add tide on branch protection instead of adding each individual job

[2020-02-25 17:09] chaodaiG commented on #16472
To be more clear, this is just a UI change request. As functionally we can already only add `tide` to branch protection, since `tide` already implicitly requires all jobs that are not marked `optional` to pass. So the ask is just labeling each job more explicitly in Github UI.

IMHO this is achievable if the status updater already knows about `optional`, otherwise it may not worth the effort to wi

[2020-02-25 18:42] fejta commented on #16464
[code]

[2020-02-25 18:54] fejta commented on #16464
[code]

[2020-02-25 21:55] PatrickLang opened #16482 "Job pull-kubernetes-e2e-aks-engine-azure-windows is failing to find release tarball"
**What happened**:

the job `pull-kubernetes-e2e-aks-engine-azure-windows` is failing before it deploys the cluster

[code]

**What you expected to happen**:

No failures deploying the cluster, test case results should be visible in gubernator

**How to reproduce it (as minimally and precisely as possible)**:

Add `/test pull-kubernetes-e2e-aks-engine-azure-windows` in a comment on a PR

**Please

[2020-02-25 22:39] clarketm opened #16487 "Cherrypicker: create GH issue on failed cherrypick"
**What would you like to be added**:

Due to merge conflicts, it is inevitable that a cherrypick will fail.

**e.g.**: https://github.com/istio/istio/pull/20949
![image](https://user-images.githubusercontent.com/9957358/75293844-eafb1800-57db-11ea-8480-5157952c4687.png)

While the above GitHub comment reporting on the PR it helpful, it would be beneficial to _additionally_ create a GitHub issue (a

[2020-02-25 23:30] michelle192837 opened #16488 "TestGrid stopped updating for 13+ hours"
testgrid.k8s.io is working again, about as mysteriously as it stopped working. :) Recording this in case it happens again so I can track it.

The gist is that on 2/24, around noon PST, testgrid.k8s.io stopped updating, for no discernable reason (the update master suddenly stopped distributing updates with no error logs, didn't appear to be any other issues, performance or otherwise). Someone repor

[2020-02-25 23:39] chewong commented on #16482
Looks like the problem disappeared. Closing this issue for now.
/close

[2020-02-25 23:39] #16482 closed

[2020-02-26 00:33] fejta opened #16489 "Deck should not require a secret json file to sign URLs"
We should be able to use built-in service accounts to sign URLs.
We can also use cookie auth to show private logs.

/assign @fejta @Katharine
/area prow
/area prow/deck
/area prow/spyglass

ref #15806

Some background:

ref https://github.com/googleapis/google-cloud-python/issues/922
ref https://github.com/googleapis/google-cloud-go/issues/1130#issuecomment-558857124

Problematic area of code:

ht

[2020-02-26 02:38] clarketm commented on #15415
/remove-lifecycle stale

I will continue working on this soon.

[2020-02-26 19:23] ixdy opened #16504 "boskos fails to update dynamicresourcelifecycles"
**What happened**: after updating to the latest version of boskos, we're now seeing the following error message:

[code]

I suspect this is related to https://github.com/kubernetes/test-infra/pull/16367.
In particular, I think this questionable bit of code no longer works:
https://github.com/kubernetes/test-infra/blob/de5dfb3349d7688b933e87cf0ac4aa56973224f7/boskos/ranch/storage.go#L416-L420

We u

[2020-02-26 19:48] alvaroaleman commented on #16504
/assign

[2020-02-26 21:07] PatrickLang commented on #14150
/close
if it doesn't work for 1.18, will open new issue with specific failures

[2020-02-26 21:07] #14150 closed

[2020-02-26 21:47] michelle192837 opened #16509 "Plank continuously re-syncs a pod that can't be created"
Plank was unable to schedule a pod for a job that was trying to access a service account it couldn't access (`deployer`). The job was changed to no longer access the service account, but Plank is still failing to create the same pod with the same error on every sync loop.

Error:
[code]

Discussed offline with Cole, it looks like Plank retries this error when it shouldn't (since the error isn't tr

[2020-02-26 22:11] cjwagner commented on #16509
This check is insufficient: https://github.com/kubernetes/test-infra/blob/50c1fdc2a988c9c19cdfb1537c4c3dfa9d46518e/prow/plank/controller.go#L517

We need to retry all non-4xx errors, not all non-422 errors. Request errors are unlikely to be transient and should cause the job to complete with the errored state.

[2020-02-26 22:37] #16504 closed

[2020-02-26 23:01] cjwagner commented on #16509
`prowjob.prow.k8s.io "2d39b17d-57ac-11ea-a023-761c4a43a0d4" deleted`

[2020-02-26 23:37] #16509 closed

[2020-02-27 00:06] fejta commented on #15421
Is this still needed/wanted?

So you want to trigger when a pull request is closed -- regardless of whether it merged?

[2020-02-27 06:44] matthyx commented on #14226
/reopen

[2020-02-27 08:48] alvaroaleman commented on #16472
/retitle Allow protecting the tide github status context

This can be done today _but_ will result in an elevated error rate from tide, because the part that updates the status is async from the part that merges, which means that the merging may fail because the github status context wasn't updated yet.

Generally this is a huge +1 from me, as its conceptionally much saner than protecting each ind

[2020-02-27 09:10] YangLu1031 opened #16522 "All test runs under google-windows dashboard are failing since 02/19/2020"
**What happened**:
All the test runs under `google-windows` [dashboard](https://testgrid.k8s.io/google-windows#Summary&show-stale-tests=) are failing since 02-19-2020 during setup.
[code]
**What you expected to happen**:
Tests are running fine.

**How to reproduce it (as minimally and precisely as possible)**:
Go to https://testgrid.k8s.io/google-windows#Summary&show-stale-tests=

**Please provide

[2020-02-27 09:16] YangLu1031 commented on #16522
/assign @yliaog @fejta @Katharine Could you help to take a look?

[2020-02-27 17:13] nikhita commented on #10501
/remove-lifecycle stale

[2020-02-27 17:19] clarketm commented on #14049
/remove-lifecycle stale

[2020-02-27 17:44] fejta commented on #16522
The job provides explicit credentials:

`GOOGLE_APPLICATION_CREDENTIALS=/etc/service-account/service-account.json`

Therefore it needs to use those credentials, not grab credentials from the GCE VM, which it appears to be doing:

[code]

[2020-02-27 17:46] fejta commented on #16522
An interesting bit here is that [despite](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1-17/1232945841803628546#1:build-log.txt%3A75) passing kubetest gcp credentials:

[code]

It doesn't appear to be using them, and/or [they appear to be failing](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1-17/1232945841803628546#1:buil

[2020-02-27 18:20] fejta commented on #16522
(I'm trying to dig into why kubetest isn't passing the credentials to gcloud correctly and/or why gcloud isn't using them, best as I can tell the job is doing the right thing here)

/area kubetest

[2020-02-27 18:43] fejta commented on #16522
Not sure why gcloud is failing to use `GOOGLE_APPLICATION_CREDENTIALS=/etc/service-account/service-account.json`

but kubetest should activate the service account before making `gcloud` calls:

https://github.com/kubernetes/test-infra/blob/da16e1b1780da64f9802c3538ccec06332e259e2/kubetest/main.go#L766-L779

bootstrap activates the service account (first line in the file) but that may not be releva

[2020-02-27 20:00] fejta opened #16532 "At least one sick boskos project"
[code]

[2020-02-27 23:07] BenTheElder opened #16538 "presubmit janitor projects should not be hardcoded"
we can detect from prow config which are presubmits and handle those with lower ttl than CI projects

the CI janitor should not be responsible for presubmit projects

cc @ixdy @dims

xref: #16536

[2020-02-28 01:34] #16418 closed

[2020-02-28 02:19] YangLu1031 commented on #16522
/close Thanks @fejta, the tests are working now.

[2020-02-28 11:13] matthyx commented on #14224
ping @chases2

[2020-02-28 11:18] matthyx commented on #9514
@tallclair @stevekuznetsov @fejta  I have some time to work on this... so what should be the implementation?
- /needs-squash
- tide performing the squash
- prevent multi-commit PRs from merging

[2020-02-28 11:19] matthyx commented on #9514
/assign

[2020-02-28 12:14] #16328 closed

[2020-02-28 19:42] Jimmol-Singh opened #16553 "Prow issue:How do I change the default api-server ip address?"
I want to change the default Kube API server IP address from 10.96.0.1 to something else. How and where would I do this?

Thanks!

[2020-02-29 00:11] tallclair commented on #9514
I'm not sure how much more is needed here. We already have `tide/squash` for auto-squash. We could require approval or at least explicit ACK from the owner before merging something with multiple commits.

[2020-02-29 02:06] #16333 closed

[2020-02-29 10:26] #14557 closed

[2020-02-29 19:35] #14565 closed

[2020-02-29 19:35] #10015 closed

[2020-03-01 00:40] #14579 closed

[2020-03-01 07:15] nikhita commented on #12863
/remove-lifecycle stale

On Sun, Mar 1, 2020 at 7:11 AM fejta-bot <notifications@github.com> wrote:

[2020-03-02 06:09] #14612 closed

[2020-03-02 09:07] alvaroaleman commented on #16553
Hi,

The default kube apiserver address is inferred from the `KUBERNETES_SERVICE_HOST` environment variable, which gets set to the ClusterIP of the `kubernetes` service in the `default` namespace. Per convention, this is the first IP in the service CIDR range. [The CIDR range in turn is `10.96.0.0/12` by default in Kubeadm](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/), w

[2020-03-02 09:07] #16553 closed

[2020-03-02 10:13] ukreddy-erwin opened #16567 "Prow issue:"
Kubernetes dashboard not accessible

I have changed Dashboard service from CLusterIP to NodePort. Because of the thsis, I am able to access Dashboard using url: <masternode_IP>:<Node_Port_assigned>

But this is working only in the master node.

When I try to access outside from a machine in the same LAN, I am getting "Page not found"

This is not the case with other services like databases, web ap

[2020-03-02 13:30] alvaroaleman opened #16568 "Crier can not cope with multiple decoration configs that have different gcs credentials"
**What happened**:

We have different GCS credentials for different buckets, but crier can at most use one via the `--gcs-credentials-file=` flag.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/assign

[2020-03-02 18:10] michelle192837 commented on #16488
We have additional logs added for this, and some basic alerting that should catch this happening again, so I'm going to close this for now. If someone notices a complete stall of external updates again, feel free to reopen this issue and bring it up to the oncall.

(Still no root cause for this, but hopefully the logging will make it easier to narrow down what happened if this occurs again. ^^)

[2020-03-02 18:10] #16488 closed

[2020-03-02 19:18] cjwagner opened #16571 "Spyglass `/view` handler doesn't distinguish malformed source paths."
**What happened**:
Spyglass emitted lots of errors over a few second time window that appear to be caused by using invalid `/view` source paths. Examples:
[code]
[code]
[code]

**What you expected to happen**:
Spyglass shouldn't emit error level logs for requests with malformed source paths. Instead it should check if source paths are the expected format and emit and an info or warning level log i

[2020-03-02 19:34] telphan opened #16572 "Allow for organisation level jobs"
**What would you like to be added**:

It would be great if one could define presubmit or/and postsubmit jobs at the organisation level.

[code]

**Why is this needed**:

This will significantly reduce the amount of duplication needed when defining common jobs across organisations.

[2020-03-02 19:58] alvaroaleman commented on #16572
Two main options come to mind, in no particular order:

a) During [config load](https://github.com/kubernetes/test-infra/blob/ca9526d747fd5d2866ba6a13956c82e7a6bd3c8a/prow/config/config.go#L721), do an API call to github, figure out all repos for all orgs that have org-wide jobs configured and populate the [`job config`](https://github.com/kubernetes/test-infra/blob/bd87a79d5e565ec12597baffc82d2a8

[2020-03-02 21:06] fejta commented on #16572
I am not a huge fan of (a) -- repos may get created after we make the list, the bot may just have access to specific repos, the trigger plugin may just be enabled on specific repos.

[2020-03-02 22:41] Katharine commented on #16568
This feels like an anti-pattern - could you not have it use a single service account that has all the access it uses?

[2020-03-02 23:26] #14621 closed

[2020-03-02 23:53] stevekuznetsov commented on #16568
We considered that, @Katharine -- however, in almost all cases the separation of GCS credentials and buckets is in order to have a more highly privileged bucket (a la k8s/security) and I think creating a large blast radius via credentials kind of defeats the point there.

[2020-03-03 00:01] Katharine commented on #16568
I'm not sure it's any more defeated than having a bunch of credentials in the same place that sum to the same access.

[2020-03-03 00:07] stevekuznetsov commented on #16568
I guess if you mean a specific GCS credential which *only* `cier` uses, sure. However, that is still irritating if you have users self-managing their GCS buckets as some super-admin needs to aggregate credentials and users end up having to declare their GCS intent in two places (decoration config and `crier` deployment).

[2020-03-03 00:27] #12481 closed

[2020-03-03 02:53] gavinfish opened #16579 "Delete label comments may produce extra bot comments"
**What happened**:

If I add a comment like `/sig abc` which does not exist. The bot will reply something like `The label(s) sig/abc cannot be applied, because the repository doesn't have them`. Then if I delete the wrong comment, the bot will reply the same message again.

**What you expected to happen**:

When I delete the wrong comment, nothing should happen.

**How to reproduce it (as minimall

[2020-03-03 02:54] gavinfish commented on #16579
/sig abc

[2020-03-03 02:54] gavinfish commented on #16579
/assign

[2020-03-03 07:54] alvaroaleman commented on #16568
IMHO thats normal, different roles need different permissions. And yeah, I tend to agree that at the point where we give crier multiple credentials, its not more secure than just giving it one credential that has the aggregated perms of the other creds. At most it would probably help with bugs in our code that result in uploads to multiple buckets, but that seems unlikely to me and probably doesn'

[2020-03-03 09:01] alvaroaleman commented on #15985
This shouldn't be possible to happen anymore now that https://github.com/kubernetes/test-infra/pull/16367 is in. Ranch now uses the CRD types internally and update requests with outdated RV will fail.

/close

[2020-03-03 09:01] #15985 closed

[2020-03-03 09:05] alvaroaleman commented on #16207
We can not fully get rid of the internal types because they are also used as wire format which we can not change without breaking skewed clients. Internally, we started using the CRD types in #16367, so I consider this fixed.

/close

[2020-03-03 09:05] #16207 closed

[2020-03-03 09:22] #15569 closed

[2020-03-03 09:24] lubinszARM opened #16588 "Multi arch for test-infra/images"
This issue is for pushing multi-architecture images for test-infra/images, so that the specific jobs can be scheduled by Prow into Arm64 nodes.
 * [ ]  kubekins-test
 * [ ]  builder, google/cloud-sdk

If a typical k8s-e2e-kind-test prow job was scheduled into an Arm64 k8s cluster, a POD contains at least the following images, so we should make them to support Arm64:
 * [ ]  kubekins-e2e
 * [ ]  bo

[2020-03-03 09:26] lubinszARM commented on #16588
cc @BenTheElder @zhlhahaha

[2020-03-03 09:51] BenTheElder commented on #16588
This seems quite a bit ahead of ourselves without any plan for Prow on such nodes.

cc @dims @mkumatag

[2020-03-03 09:57] mkumatag commented on #16588
Interesting, I was thinking about this for quite some time. Can we have individual architecture's cluster running anywhere in the word and prow scheduling respective arch's job into those clusters and get things done?

[2020-03-03 10:03] saschagrunert opened #16589 "[Tracker] Add CRI-O based e2e tests"
This is the tracking issue for adding CRI-O based Kubernetes end-to-end tests into test-infra.

As far as I can see, we need the following:

- [ ] A custom image based on a regular distribution, like Fedora
    See: https://github.com/kubernetes/test-infra/tree/master/jobs/e2e_node/containerd
- [ ] Job definitions, like the containerd ones
    See: https://github.com/kubernetes/test-infra/blob/mas

[2020-03-03 15:43] #15557 closed

[2020-03-03 19:45] chewong commented on #16132
For windows jobs:
/cc @adelina-t

[2020-03-03 21:14] clarketm commented on #15036
Appears resolved: https://testgrid.k8s.io/sig-testing-misc#metrics-bigquery

/close

[2020-03-03 21:14] #15036 closed

[2020-03-03 23:50] oomichi commented on #14712
The above @cofyc's advice seems useful for many people who face this issue.
Then I've added the link of the advice on the corresponding doc as https://github.com/kubernetes/community/pull/4560
So I feel we can close this issue.

[2020-03-03 23:51] oomichi commented on #14712
/cc @oomichi

[2020-03-03 23:58] jberkus commented on #9363
/remove-lifecycle stale

Where are we on this?  @Katharine ?

[2020-03-04 00:55] Katharine commented on #9363
This should've been resolved long ago, and the last set of inconsistent jobs expired out.

As for this comment:

This is (or should be, to my knowledge) impossible, unless some awful misconfiguration happened. Why do you think that happened?

[2020-03-04 03:25] #16579 closed

[2020-03-04 04:25] BenTheElder commented on #16588
I don't see why we would go to all that trouble over having jobs ssh etc.
To run test clusters on whatever arch.

We barely have people helping maintain the existing infra with relatively
self managing GKE clusters. I can't see us wanting to maintain long running
bespoke clusters on various infra on top of porting and cross building all
of these equally barely maintained CI images ...

On Tue, Mar

[2020-03-04 04:33] lubinszARM commented on #16588
This issue is used to track it.
We will test it in our local hybrid CI cluster firstly.
Finally we will update this issue and then decide whether to do this.
Thanks.

[2020-03-04 18:03] cjwagner opened #16605 "Storeship failing to transfer due to invalid UIDs."
**What happened**:
Lots of errors like the following starting around 2:20pm yesterday:
[code]

/assign @fejta

[2020-03-04 18:43] #16605 closed

[2020-03-04 22:33] chizhg opened #16618 "PR author becomes the bot when it's merged"
**What happened**:
For Knative projects, started from around 10AM PST. on Mar. 4th 2020, all PR authors became the `knative-prow-robot`, as shown in https://github.com/knative/serving/commits/master.

The PR author for Istio also changed to the bot, see https://github.com/istio/istio.io/commits/master.

**What you expected to happen**:
The PR author should still be the one who created the PR.

**A

[2020-03-05 01:19] michelle192837 opened #16625 "TestGrid outage due to bad config.proto upload"
*tl;dr*: Grids on testgrid.k8s.io could not be viewed from ~11AM PST to ~4PM PST today, due to a bad config.proto upload that caused the frontend to panic on trying to load any grids.

*Details*:
* Around 11:30 AM PST, some users noticed that trying to view tabs in testgrid.k8s.io was producing an "Internal Error" and no results.
* The frontend logs indicating that it was panicking on trying to de

[2020-03-05 06:44] clarketm commented on #16618
The problem is apparently GitHub platform-wide and specific to squash merging.

**e.g.**
- https://github.com/chdsbd/kodiak/issues/300
- https://github.com/isaacs/github/issues/1750

[2020-03-05 10:31] RobertKielty commented on #14718
Hi @fejta I'll a look at this today and reach out slack if I need help

/assign

[2020-03-05 10:34] aojea commented on #16589
/cc

[2020-03-05 14:52] alvaroaleman commented on #16618
This behavior doesn't make any sense and is IMHO a github bug. Merging something doesn't make the merging account the author of the change.

[2020-03-05 16:02] pohly commented on #13332
Some more documentation has been added on how to do this:
- https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io
- https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/README.md

The question also came up whether "docker buildx" for multiple target architectures can be done there, which is a new requirement (https://github.com/kubernetes-csi/node-driver-registrar/p

[2020-03-05 16:25] howardjohn commented on #16618
This is really annoying. I think its a github bug.. look at https://github.com/envoyproxy/envoy/commits/master, thats not even a robot its just someone pressing "merge" on github and its accredited to him. I sent a ticket to github, not sure if it will change anything

[2020-03-05 19:38] dims commented on #16618
yep. https://twitter.com/andyhayden1/status/1235593402709716992?s=19

[2020-03-05 20:05] clarketm commented on #16618
Until GitHub fixes this bug, orgs/repos can follow this pattern in Tide as mitigation. https://github.com/istio/test-infra/pull/2464

[2020-03-05 23:24] BenTheElder opened #16643 "tide should not fail to sync subpool with unmergable pr that is already merged"
**What happened**:

[code]

and yet https://github.com/kubernetes/test-infra/pull/16641#event-3103161369 is already merged ??

**What you expected to happen**:

tide should continue merging and not fail to sync the subpool

**How to reproduce it (as minimally and precisely as possible)**:

no idea!

**Please provide links to example occurrences, if any**:

see above link and the log snippet

**Any

[2020-03-06 00:06] Katharine commented on #16643
It was not, which was a little surprising to me.

[2020-03-06 00:50] fejta opened #16645 "ResultStore assumes file basenames are unique"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-test-infra-resultstore-upload/1235723993714003968

[code]

Looks like some results have multiple versions of similarly named junit files:
[code]

/assign

[2020-03-06 01:39] #14519 closed

[2020-03-06 06:01] fejta opened #16650 "Jobs should default to decorated"
/area prow

We should either always decorate jobs or at least provide an option to control whether jobs default to decorated or undecorated.

[2020-03-06 06:27] fejta commented on #16645
ref https://github.com/kubernetes/test-infra/issues/14009

/close

[2020-03-06 06:27] #16645 closed

[2020-03-06 06:27] fejta commented on #14009
https://github.com/kubernetes/test-infra/issues/16645 is one thing

another thing looks to be

[code]

[2020-03-06 07:10] fejta commented on #14009
I believe this is because these jobs have hundreds of thousands of artifact files.

[2020-03-06 07:22] fejta commented on #14009
This miserly service appears to only let me attach ~40,000-50,000 files per test result

[2020-03-06 08:46] clarketm commented on #16618
GH reverted the change. https://github.community/t5/How-to-use-Git-and-GitHub/Authorship-of-merge-commits-made-by-Github-Apps-changed/td-p/48797/page/2

/close

[2020-03-06 08:46] #16618 closed

[2020-03-06 17:30] pjh commented on #16522
The tests were fixed, but they're not broken again as of 03-05 4:15PST. I'll use this issue to investigate.

/assign pjh

[2020-03-06 17:32] pjh commented on #16522
Probably the same as https://github.com/kubernetes/kubernetes/issues/88913.

[2020-03-06 17:44] adelina-t commented on #16522
@pjh It most definately is the same. We have it on flannel CI too.

[2020-03-06 22:36] pjh commented on #16522
/close

I'll check our test results again after https://github.com/kubernetes/kubernetes/pull/88917 goes in (thanks Adelina!).

[2020-03-06 22:36] #16522 closed

[2020-03-07 00:27] jberkus commented on #9363
Because the set of jobs when 1.16 branch was created was different from the set of jobs in master, that's why.  And when I asked about it, that's what test-infra folks said was why it happened.

Particularly, the slow performance tests had been moved from blocking to informing before the branch, but where back in blocking in the 1.16 set.

[2020-03-07 00:29] jberkus commented on #9363
If it's copying from master now, then that's all good.  I just wanted to check that it was.

[2020-03-07 01:03] michelle192837 commented on #15095
/remove-lifecycle rotten

Last time I checked, this change will work when introduced, just need the time to do it and validate it works again.

[2020-03-07 06:16] gavinfish opened #16666 "Hold action should only be used in a PR"
**What happened**:

When add comment like `/hold` in an issue, it will also add a `do-not-merge/hold` label for the issue which does not make sense.

**What you expected to happen**:

Hold related comments have no effect on issues.

**How to reproduce it (as minimally and precisely as possible)**:

1. add comment like `/hold` in an issue

**Please provide links to example occurrences, if any**:

O

[2020-03-07 06:23] gavinfish commented on #16666
/assign

[2020-03-07 09:35] #16666 closed

[2020-03-07 14:35] RobertKielty commented on #14718
I'm working on writing a failing test for this scenario.

[2020-03-07 20:25] cblecker commented on #14875
/remove-lifecycle rotten

[2020-03-07 20:27] cblecker commented on #10402
/remove-lifecycle rotten

[2020-03-07 20:29] cblecker commented on #10519
/remove-lifecycle rotten

[2020-03-07 20:29] cblecker commented on #12138
/remove-lifecycle rotten

[2020-03-07 20:29] cblecker commented on #13107
/remove-lifecycle rotten

[2020-03-07 20:31] cblecker commented on #13740
/remove-lifecycle rotten

[2020-03-07 20:56] clarketm commented on #16077
/assign

[2020-03-08 18:42] #14702 closed

[2020-03-08 19:43] #14704 closed

[2020-03-09 08:54] telphan commented on #16572
@fejta what do you think of proposed option b?

[2020-03-09 10:19] oxddr commented on #12940
I think we can close this issue. Disk space is cheap and we haven't seen problems with failing tests due to limited disk space.

Log dumping via SSH is not supported (due to short timeout) in 5k tests so it won't work anyway and we need to have logexporter working.

/close

[2020-03-09 10:19] #12940 closed

[2020-03-09 11:27] alvaroaleman opened #16683 "Crier reporting on wrong pull request"
**What happened**:

In https://github.com/openshift/cluster-authentication-operator/pull/257, crier reported this job as failed  https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_cluster-authentication-operator/256/pull-ci-openshift-cluster-authentication-operator-master-verify-deps/17 even though it was for https://github.com/openshift/cluster-authentication-operato

[2020-03-09 13:38] alvaroaleman commented on #16683
The corresponding prowjob looks correct: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_cluster-authentication-operator/256/pull-ci-openshift-cluster-authentication-operator-master-verify-deps/17/prowjob.json

[2020-03-09 16:25] #16077 closed

[2020-03-09 16:37] fejta commented on #16572
Yes, (b) seems like the way to go here.

[2020-03-09 18:46] spiffxp commented on #9378
/close
AFAICT these dashboard tabs no longer exist

[2020-03-09 18:46] #9378 closed

[2020-03-09 22:04] ixdy commented on #16281
/assign

[2020-03-09 22:32] spiffxp opened #16700 "kind is missing release-1.18 jobs"
**What should be cleaned up or changed**:
- [x] the kind release-blocking job for master currently runs conformance tests only and relies on the kubekins image, it should be brought in line with the merge-blocking presubmit job which runs more tests and uses krte (#16704)
- [x] a variant of krte should be built for release-1.18 (#16701)
- [x] ensure a k/k presubmit for release-1.18 and ci jobs for

[2020-03-09 22:37] #16281 closed

[2020-03-10 01:20] spiffxp commented on #16700
/area jobs
/sig testing
/sig release

[2020-03-10 10:39] alvaroaleman opened #16711 "crier v20200309-111b23480 panicing with concurrent map write"
**What happened**:

Crier crashing with concurrent map write

https://gist.github.com/alvaroaleman/8d0e506d49b1ac2587b94b95309a695f

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/area prow/crier

[2020-03-10 14:36] alvaroaleman commented on #16568
we ended up using one GCP account that has permissions on all buckets.
/close

[2020-03-10 14:36] #16568 closed

[2020-03-10 19:23] sbueringer commented on #11260
So first PR is merged and tide, gerrit & status-reconciler can now be used with S3.
The second PR for gcsupload, initupload and sidecar can be found here: https://github.com/kubernetes/test-infra/pull/16722

[2020-03-10 20:12] fejta commented on #11260
Great work! Looking forward to getting the rest of this upstream too :D

[2020-03-10 20:55] #16711 closed

[2020-03-11 11:25] ekamdz opened #16734 "Kubetest command gives invalid working directory error."
Kubetest installation gives following errors

**What happened**:
This is my error report

[code]
**What you expected to happen**:
kubetest command to run properly

**Steps I followed to install kubetest:**

- [ ] Cloned test-infra repo in home directory as $home//work/k8s.io/test-infra

- [ ] Run command  `GO111MODULE=on go install ./kubetest` from inside test-infra

- [ ] It did some processing l

[2020-03-11 20:35] spiffxp commented on #9363
I scanned through the release-blocking dashboards:
- kind jobs were missing from 1.18 (https://github.com/kubernetes/test-infra/issues/16700)
- reboot job is missing from master (https://github.com/kubernetes/test-infra/pull/16742)
- gcs-cos-...-default job was missing from 1.18 (https://github.com/kubernetes/test-infra/pull/16662) - this can't be present in all boards because it was demoted a whi

[2020-03-12 01:30] spiffxp commented on #16700
/close

[2020-03-12 01:30] #16700 closed

[2020-03-12 01:31] spiffxp commented on #9363
/close
Please re-open if you think there's anything left to do here

[2020-03-12 01:31] #9363 closed

[2020-03-12 01:34] spiffxp commented on #13432
/remove-lifecycle stale
/close

[2020-03-12 10:17] divya-mohan0209 commented on #16734
/assign

[2020-03-12 10:27] divya-mohan0209 commented on #16734
@ekamdz :  It seems that you haven't set your GOPATH variable correctly. Could you please set it properly and then retry?

[2020-03-13 00:22] #14770 closed

[2020-03-13 01:18] cjwagner opened #16765 "Prow command to list all possible tests to run on a PR"
Crossposting this issue from https://github.com/knative/test-infra/issues/1805

- @dprotaso
cc @chizhg

Sounds like a really useful feature to have. 💯

[2020-03-13 01:23] cjwagner commented on #16765
/area prow/plugins

[2020-03-13 14:03] stevekuznetsov commented on #16765
Possible dupe of https://github.com/kubernetes/test-infra/issues/13059

+100

[2020-03-13 15:37] #9469 closed

[2020-03-14 14:59] #14757 closed

[2020-03-14 20:04] #9910 closed

[2020-03-15 00:08] #11854 closed

[2020-03-15 00:08] #14683 closed

[2020-03-15 18:26] #14832 closed

[2020-03-15 20:05] BenTheElder opened #16793 "prow should recommend relevant approvers"
**What happened**: Prow suggested a root approver for review when the PR had a single file covered by leaf approvers that did not include the root approver.

The PR only touches this file `config/testgrids/conformance/conformance-all.yaml `

With `config/testgrids/conformance/OWNERS` existing with the following contents:
[code]

The raw comment posted by Prow is:
[code]

https://github.com/kuberne

[2020-03-16 01:33] #12833 closed

[2020-03-16 08:26] morvencao opened #16798 "Support dependency for prow jobs"
**What would you like to be added**:

Add dependency support for prow job.
For example, if `bar-job` depends on some artifacts produced by `foo-job` and `xxx-job`, we can add `dependency` field for `bar-job` to specify the `bar-job` will run after `foo-job` and `xxx-job` are finished:
[code]

**Why is this needed**:

Currently each prow job is an independent test unit, but sometimes a prow job has

[2020-03-16 15:22] petr-muller opened #16799 "config-bootstrapper does not fail after spewing "no k8s client is found for build cluster""
**What happened**:

Our config caused config-bootstrapper to emit a ton of messages like:

[code]

But the error does not propagate to the exit code, so it is easy to miss.

**What you expected to happen**:

config-bootstraper to fail

**Please provide links to example occurrences, if any**:

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/logs/openshift-release-master-config-bootstrappe

[2020-03-16 17:01] cjwagner opened #16800 "Make Tide avoid using stale data about allowed merge methods."
**What would you like to be added**:
Follow up to https://github.com/kubernetes/test-infra/pull/16726#discussion_r392922555

Instead of refreshing the cache of allowed merge methods once an hour, Tide should use fresh data every sync loop. Once the May 1st warning period introduced by [this pr](https://github.com/kubernetes/test-infra/pull/16763) passes we can assume ghProxy is enabled and rely on

[2020-03-16 17:16] #16159 closed

[2020-03-16 22:54] #14858 closed

[2020-03-17 07:15] HtcOrange commented on #16470
Have you solved the problem? It seems that I meet the same problem. Look forward to your reply!

[2020-03-17 10:22] tanjunchen commented on #16470
@HtcOrange  Hello
see https://github.com/kubernetes/test-infra/tree/master/kubetest#installation

![image](https://user-images.githubusercontent.com/19339970/76846837-1b365380-687c-11ea-95b4-48a731ea8193.png)

clone test-infra repo, cd kubetest , hope it is useful for you.

[2020-03-17 10:23] #16470 closed

[2020-03-18 02:21] #14874 closed

[2020-03-18 11:50] alvaroaleman commented on #13370
This is implemented for both Pre- and Postsubmits, see https://github.com/kubernetes/test-infra/blob/68cca07c3b5202fb9cfb1656e5ca23b615bddc0c/prow/inrepoconfig.md, hence I consider this done.
/close

[2020-03-18 11:50] #13370 closed

[2020-03-18 12:18] alvaroaleman commented on #15385
This was fixed in https://github.com/kubernetes/test-infra/pull/16776
/close

[2020-03-18 12:18] #15385 closed

[2020-03-18 14:01] detiber commented on #15649
/remove-lifecycle stale

[2020-03-18 14:04] detiber commented on #15649
The current number of AWS accounts is sufficient for it's current normal use, but we quickly get into a situation where we easily deplete the number of available accounts if we are testing fixes for the tests that consume AWS accounts (within kubernetes-sigs/cluster-api-provider-aws).

Ideally it would also be nice to extend the use of the boskos managed accounts to the kops testing (and other tes

[2020-03-18 14:36] justinsb commented on #15649
Well good news ... I sent a PR with my terrible scripts to create accounts.  I created a handful of kops AWS accounts in the new approach, but we can certainly do more of them - they aren't terribly hard now.  I'm not sure if we should share accounts between the various consumers (kops,capa etc); on the one hand it means we average out to a smaller size, on the other hand it means that we could le

[2020-03-18 14:44] detiber commented on #15649
It should be fine as long as we call them different things (similar to how the GPU project, Ingress project and Scalability project are separate from the GCE project pools).

I think doubling it to 20 should be sufficient, we generally only peak at 6 during normal usage, which only allows for 4 PR triggered jobs, which can easily be exhausted taking into account account cleaning time.

[2020-03-18 17:55] spiffxp opened #16836 "velodrome.k8s.io is down"
**What happened**:
We've received a few security vulnerability reports related to velodrome.k8s.io.  After some investigation there appears to be no quick way to workaround this, so we've taken it down for the time being.  It is unclear whether we have the bandwidth and demand to prioritize reimplementing velodrome.

[2020-03-19 01:12] alvaroaleman commented on #3368
Prow now supports this: https://github.com/kubernetes/test-infra/blob/f421e19a48dc0578eaa937c7ce34927737caa40e/prow/inrepoconfig.md

[2020-03-19 12:22] alvaroaleman commented on #16799
/assign

[2020-03-19 12:59] #16799 closed

[2020-03-19 13:32] petr-muller commented on #16145
Saw several occurrences of this today.

@stevekuznetsov @hongkailiu The endpoint is indeed called two times for a single event:

[code]
![assignX2](https://user-images.githubusercontent.com/712614/77072370-ddf1d300-69ed-11ea-9646-70f45e79e3bf.png)

<details>

[code]
</details>

[2020-03-19 16:51] chases2 opened #16855 "Log Cleanup: Deck's "failed to get job history" should be warning, not error"
**What should be cleaned up or changed**:
I'm seeing many of the following error and similar:
[code]

They appear to all be caused by an external probe or pentest (another payload is `%3C%25-+899645499%2B824355315+%25%3E`). If this error is triggered by rejecting untrusted input, then consider downgrading this from ERROR to WARNING.

[2020-03-19 17:18] RobertKielty commented on #14718
I have a first pass implementation done on this but I have yet to stub out the Error for test coverage.

[2020-03-19 18:55] BenTheElder commented on #16793
another instance of this at https://github.com/kubernetes/kubernetes/pull/87080, we have a specific sig-network-approvers alias for these tests, but it's suggesting me as a root approver of `test/` even though that's unnecessary.

<img width="760" alt="Screen Shot 2020-03-19 at 11 55 06 AM" src="https://user-images.githubusercontent.com/917931/77103997-8137ed80-69d8-11ea-8bfb-8291a4e104fe.png">

[2020-03-19 18:56] #16855 closed

[2020-03-19 19:34] #15415 closed

[2020-03-20 00:06] #10100 closed

[2020-03-20 04:41] zhlhahaha commented on #16588
Hi, @BenTheElder @mkumatag @dims , here is some update, issues and plans about prow test on ARM. Please feel free to tell me if there is anything not clear. Looking forward your suggestion.

**Update:**
- We deployed a prow cluster on x86 and a kubernetes cluster on ARM.
- enabling test pods on ARM k8s cluster
- Set a presubmit jobs, "pull-kubernetes-conformance-image-test", on ARM k8s cluster, it

[2020-03-20 12:18] #14908 closed

[2020-03-20 19:36] clarketm commented on #14226
/remove-lifecycle rotten

[2020-03-21 01:29] clarketm commented on #14810
This should only be a [single command followed by a PR to update object config yaml](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/cm2kc/README.md#examples). Can someone with **k8s-prow** cluster access give this a try before **May 2020**?

---

**Note:** The `build-cluster` format is planned for removal in **May 2020** ([ref](https://github.com/kubernetes/test-infra/blob/master/pr

[2020-03-21 12:20] sfxworks opened #16886 "Can't go get add-hook"
**What happened**:

Trying to run `go get -u k8s.io/test-infra/experiment/add-hook`

[code]

**What you expected to happen**:
Builds/adds to path just fine

**How to reproduce it (as minimally and precisely as possible)**:
Try with `go version go1.14.1 windows/amd64` or `go version go1.14.1 linux/amd64` or `go version go1.13.4 windows/amd64`

[2020-03-21 19:17] scottilee commented on #14343
PR open in https://github.com/GoogleCloudPlatform/oss-test-infra/pull/177

[2020-03-22 19:11] #14958 closed

[2020-03-22 20:12] #14532 closed

[2020-03-23 16:44] chases2 commented on #16643
This (or a similar issue) is occurring again:

[code]

The PR in question merged about 7 hours ago.

[2020-03-23 16:45] chases2 commented on #16643
Queries for the repositories' open issues did not surface 2949. I only found it after looking for a closed PR.

[2020-03-23 16:55] chases2 opened #16899 "rerun_auth_config will be deprecated in July 2020"
Deprecation warnings are coming from hook, sinker, horologium, plank, tide, hook (again), and deck.
[code]

They all seem to be the same line reference in `prow/config/config.go:1197`
xref #15415

[2020-03-23 18:09] rhpereda opened #16903 "Prow issue: container ports in https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/"
I'm new in kubernetes and i'm trying to learn by doing the tutorials posted on the official documentation. In the module: https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/ we created a deployment and successfuly complete all the tasks. In the next module (https://kubernetes.io/docs/tutorials/kubernetes-basics/explore/explore-interactive/ ) apparently takes the previou

[2020-03-23 18:49] spiffxp commented on #16903
/close
This doesn't seem related to prow at all.  The tutorial you're following lives over in https://github.com/kubernetes/website have you tried filing an issue there?

[2020-03-23 18:49] #16903 closed

[2020-03-23 18:53] chases2 commented on #15976
Closing as duplicate

[2020-03-23 18:53] #15976 closed

[2020-03-23 18:56] chases2 commented on #14520
Have we seen this error recur in the past few months?

[2020-03-23 19:05] rhpereda commented on #16903
Thanks for the reply, i will open an issue in the pointed address...

Cheers

On Mon, Mar 23, 2020 at 1:49 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-03-23 20:30] #16132 closed

[2020-03-23 20:43] BenTheElder commented on #16588
I still don't think we need a prow on ARM at all, we can let a prow job on the normal build cluster SSH / whatever to ARM infra the same as we do when we bring up cluster on AWS / GCP.

[2020-03-23 21:37] #13278 closed

[2020-03-24 07:18] lubinsz commented on #16588
Hi @BenTheElder
I agree with you.
According to our reserach, prow cluster is still on x86, and we can create a arm64 build cluster, and let some typical test prow jobs running on Arm64, such as pull-kubernetes-conformance-image-test.
The following figure is Prow's microservice architecture for the test job of 'pull-kubernetes-conformance-image-test' on Arm64.

![image](https://user-images.githubus

[2020-03-24 09:59] jprzychodzen opened #16924 "Add short description of each rotation"
**What would you like to be added**:
Each rotation available under [go.k8s.io/oncall](http://go.k8s.io/oncall) should have a short description, covering responsibilities and interest area and example issue.

**Why is this needed**:
There is few rotations already, and providing a guideline how and when to escalate can remove friction of communication from community to on call engineer.

[2020-03-24 18:20] cblecker commented on #15676
/remove-lifecycle stale

[2020-03-24 19:11] Katharine commented on #15676
I am strongly opposed to adopting in-repo config for prow.k8s.io:

- It makes it much harder for us to centrally manage test jobs. It is frequently valuable to make observe and make sweeping, automated changes to all jobs. This would become much harder without all the jobs being in one place for observation. Losing the ability to make bulk updates, disable/enable batches of poorly-behaved jobs on

[2020-03-24 23:32] alvaroaleman commented on #15676
It's not just being able to test jobs, its also:
* Giving ppl the chance to find job configuration without requiring them to know about an arcane third repo
* Implicitly forking jobs on new branches
* Being sure the config used matches what's in git, rather than having a gap (xref https://github.com/kubernetes/test-infra/issues/14389)

If you are a trusted user, yes. Most jobs are already based on

[2020-03-25 01:15] #15688 closed

[2020-03-25 09:41] jianzhangbjz opened #16941 "Pods crashed due to "error reading /etc/github/oauth:""
**What happened**:
I get the below errors when deplying the Prow by following [getting_started_deploy.md](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#manual-deployment)
[code]
I checked the logs and found the same errors: `open /etc/github/oauth: no such file or directory"`
I used the master branch, am I missing something?
[code]
**What you expected to happe

[2020-03-25 19:18] alvaroaleman commented on #14046
/reopen
/assign

[2020-03-26 00:10] spiffxp commented on #9208
https://github.com/kubernetes/test-infra/pull/16038 added https://testgrid.k8s.io/google-gce#gce-cos-master-flaky-repro

[2020-03-26 00:12] alvaroaleman commented on #16941
It seems you missed the step of
[code]

This creates a key named `oauth` in the `oauth-token` secret, that is mounted at `/etc/github`: https://github.com/kubernetes/test-infra/blob/05cf8768e5a60c9cae7207371692f7983ee33473/prow/cluster/starter.yaml#L158

If the key does not exist in the secret, you get the error you observed.

[2020-03-26 01:27] jianzhangbjz commented on #16941
@alvaroaleman I'm afraid not, it did there.
[code]

[2020-03-26 01:29] jianzhangbjz commented on #16941
But, my token path is `/Users/jianzhang/prow/oauth/secret`, do you mean I must use this path: `/path/to/oauth/secret`?

[2020-03-26 01:39] alvaroaleman commented on #16941
You need to execute `kubectl create secret generic oauth-token --from-file=oauth=/Users/jianzhang/prow/oauth/secret` to set the secret up correctly

[2020-03-26 05:36] jianzhangbjz commented on #16941
@alvaroaleman Yes, I did. As you can see in https://github.com/kubernetes/test-infra/issues/16941#issuecomment-604175598

[2020-03-26 11:39] jianzhangbjz commented on #16941
@alvaroaleman Thanks! The root cause is that I used the **relative path**: `./prow/oauth/secret` before. I replace it with the **absolute path**, and then, it works well.
[code]
[code]

[2020-03-26 11:40] #16941 closed

[2020-03-26 15:29] munnerz commented on #16643
We've also seen this: https://github.com/jetstack/cert-manager-nginx-plus-lab/pull/21

[2020-03-26 15:30] munnerz commented on #16643
Appears that this one probably _is_ caused by GitHub returning incorrect results:
<img width="792" alt="Screenshot 2020-03-26 at 15 30 01" src="https://user-images.githubusercontent.com/203583/77664853-b7e0ab80-6f76-11ea-8cf0-12fccfa35aff.png">

[2020-03-26 16:15] oxddr opened #16965 "gcp_janitor deletes instances first causing some recreates"
**What happened**:
gcp_janitor deleted all instances first. Some of them belonged to managed instance groups, so they were recreated and deleted few seconds later when IGM has been deleted.

**What you expected to happen**:
Only non-managed `instances` should be deleted first or `managed instance groups` should be deleted before `instances`.

**How to reproduce it (as minimally and precisely as po

[2020-03-26 18:50] clarketm commented on #16899
fixed by: https://github.com/kubernetes/test-infra/pull/16957
/close

[2020-03-26 18:50] #16899 closed

[2020-03-26 19:14] BenTheElder commented on #16643
getting stuck due to this without much visibility is sub-optimal.
we could probably query the unmergable PR to discover if this is the case
and blacklist it.
alternatively, we could recommend alerting on stuck tide I guess.

so far this seems to lock up until someone realizes their PRs are taking
suspiciously long to test & merge, which is difficult given how slow and
flaky our tests are >.>
even

[2020-03-26 19:41] cjwagner commented on #16643
We're actually already checking that information so the issue is likely that GH is returning incorrect info.

This should already be happening if a repo is stuck for more than 15 mins (besides kubeflow repos which have been broken forever): https://github.com/kubernetes/test-infra/blob/cf4eb1c6d2060675dbf72d04afdc13276ea9f070/prow/cluster/monitoring/mixins/prometheus/tide_alerts.libsonnet#L33-L45

[2020-03-26 19:50] BenTheElder opened #16971 "repeated commenting on release-note-needed when cherry pick is filed"
**What happened**:

<img width="793" alt="Screen Shot 2020-03-24 at 4 34 01 PM" src="https://user-images.githubusercontent.com/917931/77486868-0e6eae00-6dee-11ea-8b1c-3fc0412b1229.png">

I received emails for each of these

**What you expected to happen**:

We should make this comment once. Besides unnecessary notifications this must be costing us API tokesn

**How to reproduce it (as minimally an

[2020-03-26 19:53] BenTheElder commented on #16643
via what API? the search results are clearly wrong, but when I loaded the page it was merged, so one of the APIs must know.

[2020-03-26 20:26] BenTheElder commented on #16793
https://github.com/kubernetes/test-infra/pull/16972 should at least mitigate this in test-infra

[2020-03-26 20:27] BenTheElder commented on #16793
https://github.com/kubernetes/test-infra/pull/16961 is another example of having granular owners fully covering the PR but auto assigning a root approver for review.

[2020-03-26 20:37] cjwagner commented on #16643
Via the v4 search API (We avoid the v3 API since it is far more expensive in terms of rate limit when handling lots of PRs. That is one of the major distinctions between Tide and mungegithub). Unfortunately we've seen that the fact that something works on GitHub's front end doesn't imply a corresponding API exists or works properly. The `mergable` status of PRs is unique in that it is lazily compu

[2020-03-26 20:46] justaugustus commented on #16793
Huge +1!

[2020-03-26 20:48] justaugustus commented on #16793
/help

[2020-03-26 21:20] spiffxp opened #16974 "Migrate non-kubernetes orgs and repos off of prow.k8s.io"
**What should be cleaned up or changed**:
We should stop accepting k8s-adjacent projects, and make prow.k8s.io an instance of prow responsible solely for the kubernetes project.

Migrate non-kubernetes orgs and repos off of prow.k8s.io

Specifically:
- [ ] https://github.com/bazelbuild
- [ ] https://github.com/google/cadvisor
- [ ] https://github.com/kubeflow
- [ ] https://github.com/helm/charts
-

[2020-03-26 21:24] Katharine commented on #16643
To risk asking a really dumb question: if a PR is unmergeable, why not just move on to the next PR and try merging that? We have seen many times that it is unwise to assume that PRs that we think are mergeable actually always are.

We see lots of single PR failures in interesting ways. It's not clear to me that this should hold up the rest of the repo.

[2020-03-26 21:30] alvaroaleman commented on #16354
Dupe of https://github.com/kubernetes/test-infra/issues/10100, closing so we keep the conversation around this in one place.
/close

[2020-03-26 21:30] #16354 closed

[2020-03-26 21:56] BenTheElder commented on #16643
It has to be costing us API tokens to continue to do useless things instead
of actually merging.

I bet the information that a PR is "merged" is not lazy versus the
"mergeable" data and the search API. I'll try to check next time I see this.

Continuing to rely solely on the search API seems to be a mistake, we know
that this involves running a complex indexing job and frequently has
incorrect inf

[2020-03-26 22:01] clarketm commented on #16974
For each project, if we choose to migrate a proposal to minimize risk of downtime is:
* Phase 1: migrating project to a dedicated build cluster (e.g. [Kubeflow Prow Migration](https://docs.google.com/document/d/17sA-rRBe30bM034nL353CgrXETfy2vMe2m_g_bB_ILY/edit#heading=h.fxpk50cps4zs))
* [Phase 2](https://docs.google.com/document/d/127tZg2T3_oVHCnCkAqC_zTNOgChV7EN_e1fj4bet3V4/edit) setup bot, webho

[2020-03-26 22:04] spiffxp commented on #16974
/close closing in favor of https://github.com/kubernetes/test-infra/issues/12863

[2020-03-26 22:05] spiffxp commented on #12863
@clarketm posted the following over in https://github.com/kubernetes/test-infra/issues/16974#issuecomment-604709583

For each project we choose to migrate: a proposal to minimize risk of downtime is:
* Phase 1: migrating project to a dedicated build cluster (e.g. [Kubeflow Prow Migration](https://docs.google.com/document/d/17sA-rRBe30bM034nL353CgrXETfy2vMe2m_g_bB_ILY/edit#heading=h.fxpk50cps4zs))

[2020-03-26 22:05] spiffxp commented on #16974
/close
closing in favor of https://github.com/kubernetes/test-infra/issues/12863

[2020-03-26 22:06] #16974 closed

[2020-03-26 22:47] #13874 closed

[2020-03-26 23:19] dims commented on #12863
/priority important-soon

[2020-03-26 23:50] spiffxp commented on #14226
/remove-help
/assign @clarketm
Please /unassign if I'm incorrect that you're planning on tackling

[2020-03-27 00:03] alvaroaleman commented on #16793
yeah so ironically we changed a tool of ours that automatically creates owners files for jobs based on the owners file in the target repo to copy over the approvers to the reviewers if the latter is empty for this exact same reason.

Maybe we should just do the copy-approvers-to-reviewers-if-empty(or < min reviewers? or always append approvers to reviewers?) in blunderbuss instead?

[2020-03-27 00:11] clarketm commented on #14226
Sure, I can work on this. How do we want to handle the security concerns @Katharine mentioned (https://github.com/kubernetes/test-infra/issues/14226#issuecomment-578938142) be addressed

[2020-03-27 03:50] scottilee commented on #14343
Both https://github.com/kubernetes/test-infra/pull/16898 and are https://github.com/kubernetes/test-infra/pull/16906 merged. Can we close this issue?

[2020-03-27 05:54] #15008 closed

[2020-03-27 14:05] dudicoco opened #16983 "Prow vs GitHub Actions"
Hi,

We are considering migrating from Jenkins to either Prow or GitHubs Actions.
I'm interested to hear about the pros and cons of each.

The main things that I can think of are:
1. Prow requires management and maintenance while GitHub Actions is a managed service.
2. GitHub Actions requires access to your environment (for example AWS and K8S cluster) which is less than ideal to give such powerfu

[2020-03-27 14:38] jlewi commented on #14343
#16898 moved the prow jobs onto the kubeflow testing cluster but we are still using the kubernetes instance of prow. So I think this issue should remain open.

[2020-03-27 16:35] ixdy commented on #16965
/area boskos

[2020-03-27 16:52] #14046 closed

[2020-03-27 17:06] spiffxp opened #16987 "prow.k8s.io boskos instance ran out of free resources"
**What happened**:
Boskos resources started to get stuck in cleaning around 5:30am PT; by 6:24am boskos ran out of free resources

https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

This prevents all CI jobs that rely on boskos to fail

[2020-03-27 17:07] spiffxp commented on #16987
Workaround: https://github.com/kubernetes/test-infra/pull/16984
Update boskos: https://github.com/kubernetes/test-infra/pull/16985

[2020-03-27 17:10] spiffxp commented on #16987
/assign @ixdy @michelle192837

[2020-03-27 17:22] ixdy commented on #16987
We appear to be recovering: https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1

[2020-03-27 17:27] spiffxp opened #16988 "Fix invalid OWNERS entries"
**What should be cleaned up or changed**:
Fix invalid OWNERS entries from https://github.com/kubernetes/test-infra/pull/16972#issuecomment-604837870

- kunmingg
  - config/jobs/kubeflow/OWNERS
- cluster-api-admins
  - config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/OWNERS
- ms705
  - config/jobs/kubernetes-sigs/poseidon/OWNERS
- sig-release-leads
  - config/jobs/kubernetes-sigs/release-no

[2020-03-27 17:44] spiffxp commented on #16987
Looks good.  Waiting for GCE project usage graph to return to normal before closing this

[2020-03-27 19:07] fejta commented on #3323
https://github.com/GoogleCloudPlatform/testgrid
/close

[2020-03-27 19:08] #3323 closed

[2020-03-27 19:08] fejta commented on #3338
/unassign
IMO we ought to close this for now. There isn't a clear direction we want to go yet so this isn't doing anything useful

[2020-03-27 19:41] spiffxp commented on #16987
/close
<img width="1425" alt="Screen Shot 2020-03-27 at 12 40 36 PM" src="https://user-images.githubusercontent.com/49258/77793908-3184a200-7028-11ea-8607-6e782ba7ab64.png">

[2020-03-27 19:41] #16987 closed

[2020-03-27 19:44] spiffxp commented on #16988
/close
Ended up amending https://github.com/kubernetes/test-infra/pull/16972 with the fix for this

[2020-03-27 19:45] #16988 closed

[2020-03-27 20:01] chizhg commented on #15470
/assign

[2020-03-27 20:33] #16296 closed

[2020-03-27 21:24] clarketm commented on #16886
This is because `kubernetes/test-infra` uses replace directives in the `go.mod`. (ref: https://github.com/kubernetes/test-infra/issues/14712#issuecomment-541560441)

You can install `add-hook` using the following command:

[code]

[2020-03-27 23:34] droslean commented on #16987
There are a lot of jobs that are still failing because of a lack of resources.
[code]

@spiffxp Can you check?
https://testgrid.k8s.io/sig-release-master-blocking
https://testgrid.k8s.io/sig-release-master-informing
https://testgrid.k8s.io/sig-release-1.18-blocking
https://testgrid.k8s.io/sig-release-1.18-informing

[2020-03-28 05:23] sfxworks commented on #16886
Ok, in this case, I got the command to run from this documentation here https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#add-the-webhook-to-github .  Unless I overlooked something, I can make a PR to update it and some of the others.

[2020-03-28 05:39] clarketm commented on #16886
A PR would be much appreciated, so the docs don't mislead others, thanks!

[2020-03-28 16:27] spiffxp commented on #16987
Looks like it resolved overnight

[2020-03-29 01:32] softwood777 opened #17005 "softwood777"
**What should be cleaned up or changed**:

**Provide any links for context**:

[2020-03-29 09:05] ukreddy-erwin opened #17009 "Prow issue:"
Other apps are working fine with NodePort, whether Tomcat/nginx/databases.

But here, it is failing with container creation.

C:\Users\uday\Desktop>kubectl.exe get pods -n kubernetes-dashboard
NAME                                         READY   STATUS             RESTARTS   AGE
dashboard-metrics-scraper-779f5454cb-pqfrj   1/1     Running            1          20h
kubernetes-dashboard-64686c4bf9-g

[2020-03-29 23:46] torenware commented on #15700
@ozbillwang How would I use this image to do a conformance test for my k8s cluster? Your image builds fine; I just don't see how to kick off a test run.

[2020-03-30 04:44] matthyx commented on #9126
/remove-lifecycle stale

[2020-03-30 04:45] matthyx commented on #9757
/remove-lifecycle stale

[2020-03-30 08:07] #14968 closed

[2020-03-30 10:48] mm4tt opened #17012 "Prow deck stopped working for large jobs"
Issue originally reported on Slack: https://kubernetes.slack.com/archives/C7J9RP96G/p1584958305001400

** How to reproduce **
Open any job from https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness, e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1244233337581604864
The job page won't load, instead you'll see the followi

[2020-03-30 10:48] mm4tt commented on #17012
/priority critical-urgent

[2020-03-30 16:46] michelle192837 commented on #17012
/kind oncall-hotlist

[2020-03-30 20:32] cblecker commented on #6289
/remove-lifecycle rotten

[2020-03-30 20:32] cblecker commented on #8386
/remove-lifecycle rotten

[2020-03-30 21:00] alvaroaleman opened #17024 "Add a prow controller manager binary"
**What would you like to be added**:

A prow controller manager binary that contains:
* Sinker
* Plank
* Crier
* Jenkins opreator

Probably more in the future

**Why is this needed**:

The current design of "one binary per controller" has a set of drawbacks:
* It makes prow hard to debug for ppl that are not intimatedly familiar with its architecture
* It makes prow hard to setup, because a total

[2020-03-31 04:29] spiffxp commented on #17009
/close
This is unrelated to prow, please try opening an issue against kubernetes/kubernetes or asking your question in kubernetes.slack.com #kubernetes-users

[2020-03-31 04:29] #17009 closed

[2020-03-31 04:29] spiffxp commented on #17005
/close

[2020-03-31 04:29] #17005 closed

[2020-03-31 10:53] sbueringer opened #17033 "prow: make pprof and metrics port configurable"
**What would you like to be added**:
I would like to be able to configure the metrics and pprof port

**Why is this needed**:
It's not possible to run multiple prow components locally for development purposes because they are using the same metrics and pprof port. Adding a flag to these components to make it configurable should solve the problem.

[2020-03-31 11:21] oxddr commented on #17012
@michelle192837 any chance you can have a look at this issue today? This affects our ability to debug scalability tests - we can't access logs via Prow.

[2020-03-31 17:54] tehcyx commented on #17024
Wouldn't it be better if that was handled similar to how hook plugins are handled right now, so that the proposed components would be plugins of a prow-controller-manager.

Thinking of that approach since not everyone is using e.g. crier, jenkins operator. Plank and sinker could be enabled by default and if someone wants more, enable more?

[2020-03-31 18:02] alvaroaleman commented on #17024
Generally, adding flags to enable/disable certain controllers could make sense. IMHO all of the mentioned controllers should be enabled, they will not do anything if you don't use them.

[2020-03-31 20:02] michelle192837 commented on #13371
/remove-lifecycle stale

I still think this would be a good, inclusive improvement.

[2020-03-31 20:24] fejta commented on #17024
Hook and deck have different availability requirements and therefore should remain separate. Merging the other stuff -- how about horologium? -- makes sense.

[2020-03-31 20:51] alvaroaleman opened #17043 "GCSweb is not automatically built"
**What happened**:

GCS web does not seem to be automatically built and pushed. There are also no manifests for it in this repo.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

/kind bug

[2020-03-31 23:42] michelle192837 commented on #17012
Thanks for your patience! I updated the load balancer timeout manually, will see if that sticks and helps out.

[2020-04-01 00:18] spiffxp commented on #13063
/remove-lifecycle stale
/help

[2020-04-01 01:24] michelle192837 commented on #17012
Looks like this is (slowly) working now, I got https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1244957997189304325 to load eventually. Let us know if it stops working again!

[2020-04-01 01:24] #17012 closed

[2020-04-01 08:45] mm4tt commented on #17012
Thanks a ton!

[2020-04-01 10:53] Arhell opened #17050 "PR author becomes the bot when it's merged"
**What happened**:
Today
The PR author for Istio also changed to the bot, see https://github.com/kubernetes/website/commits/master

**What you expected to happen**:
The PR author should still be the one who created the PR.

old issue #16618

[2020-04-01 15:40] howardjohn opened #17056 "Support reporting information from jobs to GitHub comments and annotations"
**What would you like to be added**:

I would like a job to be able to trigger comments to the associated PR. I would imagine this would be similar to the lenses, where we would output some `github-comments.md` file and it would trigger the comments when the job completes.

**Why is this needed**:

The main case is warning/information messages about a job. For example, we currently have an optiona

[2020-04-01 16:53] spiffxp commented on #17050
I think this is WAI. https://github.com/kubernetes/test-infra/pull/16892 switched the merge method from squash to merge for kubernetes/website.  The bot is the author of the merge commit; the commits in the PR are untouched.

Do you have an example for istio?

[2020-04-01 17:12] spiffxp commented on #17050
/assign @Arhell

[2020-04-01 17:32] clarketm commented on #17056
@Katharine

Could you provide an estimate of how much effort this would take?

[2020-04-01 17:33] howardjohn commented on #17056
Forgot to mention, an alternative would be to have the job itself add the comment, but then the job becomes fairly complicated and requires priviledges

[2020-04-01 18:05] Arhell commented on #17050
@spiffxp
The problem is solved, everything works out fine.
Commit is visible on its creation day.

That is, he was on March 8, and stayed there and not as before on a current day

/close

[2020-04-01 18:06] #17050 closed

[2020-04-01 23:22] clarketm commented on #16886
Alternatively, you could install use [`gobin`](https://github.com/myitcv/gobin) which is a module-aware version of `go`.

**e.g.**

[code]

[2020-04-02 07:29] sober-wang opened #17064 "How to get my Kubernetes Cluster CNI types?"
**What would you like to be added**:
Because I have some kubernetes cluster. They was use different CNI plugin. I want use k8s api-server get CNI plugin types.
**Why is this needed**:
Because I have some kubernetes cluster. They was use different CNI plugin. I want use k8s api-server get CNI plugin types.

Because I not get help in stackoverflow topic kubernetes ,so I come back this
How should I g

[2020-04-02 11:11] cynepco3hahue opened #17065 "kubetest --build --deployment=kind fails"
**What happened**:

I am trying to build and run k8s cluster that deployed via kind and got the error that it fails to build the node image for the KIND.

[code]

**What you expected to happen**:

The build for the node images should succeed.

**How to reproduce it (as minimally and precisely as possible)**:

Run `kubetest --build --up --deployment=kind --kind-cluster-name=bad-version`

**Please p

[2020-04-02 12:36] oxddr opened #17067 "Prow failed to execute properly gce-master-scale-performance on 04/01"
**What happened**:
Prow failed to execute properly `gce-master-scale-performance` on 04/01. Test ended up in a weird state:
1. started at Wednesday, April 1, 2020 5:02:14 PM and finished at Thursday, April 2, 2020 2:55:33 AM according to [started.json and finished.json](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1245396009266188301/). That's almost 3

[2020-04-02 12:36] oxddr commented on #17067
Assigning to test-infra oncall
/assign @BenTheElder

[2020-04-02 14:26] mrbobbytables commented on #17064
The Stackoverflow post is correct. There isn't a single way to determine this from Kubernetes directly. It's meant to be an abstraction where Kubernetes "doesn't know" about it.
You can look at the [cni spec](https://github.com/containernetworking/cni/blob/master/SPEC.md#network-configuration) to get some information via the host or mounting the config.

Please keep those sorts of questions on sta

[2020-04-02 14:26] #17064 closed

[2020-04-02 17:33] spiffxp commented on #17043
/remove-kind bug
/kind cleanup

[2020-04-02 17:35] spiffxp opened #17069 "go.k8s.io/triage is serving stale data"
**What happened**:
https://go.k8s.io/triage is showing
"2216 clusters of 92485 failures (6433 in last day) out of 149213 builds from 3/18/2020, 5:00:24 PM to 3/30/2020, 10:54:32 PM."

**What you expected to happen**:
The end date should be today (04/02/2020)

**Please provide links to example occurrences, if any**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1

/area triage

[2020-04-02 17:36] spiffxp commented on #17069
https://testgrid.k8s.io/sig-testing-misc#triage is all green, so I'm guessing kettle has stopped feeding data to the bigquery dataset we're using

[2020-04-02 17:36] spiffxp commented on #17069
/area kettle

[2020-04-02 17:44] spiffxp commented on #17069
Last log entries... seems like it just got stuck?
[code]

Not out of disk space
[code]

Deleting the pod to get it to restart

[2020-04-02 17:59] spiffxp commented on #17069
It's running, but I suspect it'll be a few hours before it's ingesting data again.  Currently at:
[code]

[2020-04-02 19:08] spiffxp commented on #17069
Now at:
[code]

[2020-04-02 21:49] spiffxp commented on #17069
Now at:
[code]

[2020-04-02 22:30] #13155 closed

[2020-04-02 23:21] spiffxp commented on #17069
Now at:
[code]

[2020-04-03 00:32] #14712 closed

[2020-04-03 00:44] spiffxp commented on #17069
Now seeing a variety of fun errors in the log related to parsing JUnit files

[code]

[code]

[code]

[code]
[code]

[2020-04-03 01:15] spiffxp commented on #17069
Now seeing
[code]

[2020-04-03 03:24] cblecker commented on #15737
/remove-lifecycle stale

[2020-04-03 03:44] spiffxp commented on #17069
/close
"2187 clusters of 103890 failures (8197 in last day) out of 172861 builds from 3/19/2020, 5:00:04 PM to 4/2/2020, 7:52:43 PM."

[2020-04-03 13:26] flaviamissi opened #17080 "Prow issue: broken link on issue message from "k8s-ci-robot""
**What happened**:

Clicked a link to "the contributor guide" posted in an issue message by the k8s-ci-robot and the link lead me to an anchor that no longer exists: https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github.

**What you expected to happen**:

The link should redirect me to the correct document containing the anchor, which afaik is
https://git.k8s.io/community/con

[2020-04-03 16:23] sttts opened #17083 "JS error on https://prow.svc.ci.openshift.org/pr"
**What happened**:

https://prow.svc.ci.openshift.org/pr?query=is%3Apr+repo%3Aopenshift%2Forigin+author%3Amarun+head%3Aorigin-4.5-kubernetes-1.18.0-rc.1 never loads, but shows the following the browser JS console:

[code]

**What you expected to happen**:

showing tide status for that PR

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrenc

[2020-04-03 16:23] sttts commented on #17083
cc @stevekuznetsov

[2020-04-03 16:23] stevekuznetsov commented on #17083
/area prow/deck
/cc @Katharine @cjwagner

[2020-04-03 16:24] stevekuznetsov commented on #17083
@Katharine I'm lost here since I have no background -- could you help me figure out how to get from the error in the minified JS that comes up in the console into the actual JS that we ship?

[2020-04-03 16:24] alvaroaleman commented on #17083
cc @clarketm

[2020-04-03 20:09] michelle192837 commented on #13051
/reopen

[2020-04-03 20:10] michelle192837 commented on #13051
/remove-lifecycle rotten

[2020-04-03 22:54] #13454 closed

[2020-04-04 09:19] wojtek-t opened #17097 "Fix config forker annotations in scalability jobs"
Our templates were incorrectly using perf-tests branches.See https://github.com/kubernetes/test-infra/pull/17089 for more context

We need to double check our templates to confirm that this won't happen in the future again.

/assign @jkaniuk

/cc @mm4tt @kubernetes/sig-scalability-bugs

[2020-04-04 16:09] hasheddan commented on #13063
@spiffxp I'd like to help out here both in creating a new diagram and documenting other parts of the repo. For instance, I was recently looking at the `kubekins-e2e` image because it is so prevalent across jobs and there is pretty minimal documentation on it and other Docker images used. I wonder what would be a good format for a sort of "Intro to test-infra" guide. This may be outside the scope o

[2020-04-04 18:55] #16330 closed

[2020-04-04 19:04] cpoole opened #17099 "Allow owners files to reference groups of individuals defined within repo"
I understand why GitHub groups are not supported - the lack of audit trail is a legitimate and correct concern. However, groups or pattern matching is a sorely needed feature.

**What would you like to be added**:
I would like to propose the creation of an OWNER_GROUPS file at the root of the repo that defines owners aliases that represent a list of GitHub users.

Then within the OWNERS file I cou

[2020-04-05 01:58] alvaroaleman commented on #17099
Unless I misunderstand this, this is already possible today by defining a group of ppl in an [`OWNERS_ALIASES` file](https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#owners_aliases) and then referencing the name of the group in the `OWNERS` file

[2020-04-05 17:29] cpoole commented on #17099
:man_facepalming: you're totally right. Nevermind me.

Thanks!

[2020-04-05 17:29] #17099 closed

[2020-04-05 23:42] #13502 closed

[2020-04-06 00:43] #15154 closed

[2020-04-06 00:43] #15178 closed

[2020-04-06 01:08] cblecker commented on #12346
Not quite. `FileWeightCount` should be removed completely.

/remove-lifecycle stale

[2020-04-06 20:02] #15194 closed

[2020-04-06 21:32] zacharysarah commented on #15779
This is still important.

/remove-lifecycle stale
/lifecycle frozen
/priority important-longterm

[2020-04-06 23:21] BenTheElder commented on #17067
Prow fails to record these entries alll the time. This is a systemic issue, not something new.

It should at least record the pod info more reliably with some work @Katharine did. (click the "yaml" button on the prow.k8s.io page)

In this case it appears the pod never readied.

raw https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1245396009266188301/po

[2020-04-07 01:07] #15192 closed

[2020-04-07 08:06] jkaniuk commented on #17097
We've decided to not automatically use perf-tests branches in presubmits, as creation of new perf-tests branch is a manual process and happens later than roll of kubernetes versions.

So presubmit flow right now is:
- k/k master jobs points to perf-tests/master

after forking:
- presubmit k/k/release-1.18 still point to perf-tests/master
- periodic on k/k/release-1.18 point to perf-tests/release-1

[2020-04-07 08:18] jkaniuk commented on #17097
That last step is easy to forget unfortunately.
We have an internal issue (b/146629137) with reminder to update perf-tests branches.
Any idea how to do that better?

[2020-04-07 14:57] wojtek-t commented on #17097
Thanks for looking into it.

For now, I was simply manually cutting branches in github UI.
But maybe what we should do is to create a script that will:
- create branch
- file an issue (and assign it to whoever is running that script) to switch stuff in test-infra

It would make it much harder to forget about the second step.

[2020-04-07 15:21] degilq opened #17129 "AuditSink not work with service-name, work only with CLUSTER-IP with Falco 0.19 and k8s 1.17.4"
AuditSink not work with service name, work only with CLUSTER-IP

I try with

apiVersion: auditregistration.k8s.io/v1alpha1
kind: AuditSink
metadata:
  name: falco-audit-sink
spec:
  policy:
    level: RequestResponse
    stages:
      - ResponseComplete
      - ResponseStarted
  webhook:
    throttle:
      qps: 10
      burst: 15
    clientConfig:
       service:
       namespace: falco
       na

[2020-04-07 22:43] #17065 closed

[2020-04-08 06:36] #15211 closed

[2020-04-08 13:51] #17043 closed

[2020-04-08 15:43] bparees opened #17151 "'Overall' row reports Running for completed jobs in testgrid"
**What happened**:

For some of our job templates, the vast majority of the jobs show an Overall status of running, despite having completed:

**What you expected to happen**:
Expected the overall status to be success or failure for the job.

**How to reproduce it (as minimally and precisely as possible)**:
Seems to recur consistently for those jobs, but our other jobs all report their Overall sta

[2020-04-08 15:55] #16765 closed

[2020-04-08 23:07] alvaroaleman commented on #13059
Fixed in https://github.com/kubernetes/test-infra/pull/16926
/close

[2020-04-08 23:07] #13059 closed

[2020-04-09 09:51] nikhita commented on #11402
/remove-lifecycle rotten

[2020-04-09 18:12] #15224 closed

[2020-04-09 18:57] cjwagner opened #17169 "Prow fails to abort jobs for closed pull requests"
Istio's Prow instance is seeing errors like the following:
[code]
This smells like a Prow bug not an issue specific to Istio's instance so I'm tracking in this repo. The error message is kind of cryptic, I don't understand what it is saying the problem is.
cc @alvaroaleman @clarketm

[2020-04-09 19:25] sbueringer commented on #11260
Next PR is merged. s3 is now also supported by initupload and sidecar. Next PR is focused on deck/spyglass. This makes it possible to use all core-components (I guess core depends on point of view ;)) with S3.

[2020-04-09 19:27] alvaroaleman commented on #17169
@cjwagner this is because that change required a change in the CRD validationt to allow setting `status.state` to `aborted` without setting a `.status.completionTime`, see https://github.com/kubernetes/test-infra/pull/17023

[2020-04-09 19:30] alvaroaleman commented on #11260
yeah, Deck/Spyglass and crier seem to be the remaining ones:
[code]

[2020-04-09 20:14] #15225 closed

[2020-04-09 20:16] andrewballantyne opened #17174 "Prow issue: Cancel Cherry-Pick"
Would like to request the ability to undo an accidental cherry-pick.

`/cherry-pick my-branch` creates the cherry-pick request for branch "my-branch"

`/cherry-pick cancel` creates another cherry-pick request for branch "cancel"

I looked around and I couldn't find any documentation for how to cancel a cherry-pick from the
OpenShift Cherrypick Robot.

[2020-04-10 02:44] spiffxp commented on #13129
/remove-lifecycle rotten
/reopen
Still relevant and a good place for someone to help out from a docs perspective

[2020-04-10 03:12] spiffxp commented on #3338
/close
agreed

[2020-04-10 03:13] #3338 closed

[2020-04-10 03:13] spiffxp commented on #2547
/close
It's unlikely we're going to ever get to this

[2020-04-10 03:13] #2547 closed

[2020-04-10 03:13] spiffxp commented on #2547
/remove-lifecycle frozen
/lifecycle rotten

[2020-04-10 03:19] spiffxp commented on #11819
opened https://github.com/kubernetes/test-infra/pull/17178 to address

[2020-04-10 03:21] spiffxp commented on #15644
/close
velodrome is down ref: https://github.com/kubernetes/test-infra/issues/16836

[2020-04-10 03:21] #15644 closed

[2020-04-10 03:24] spiffxp commented on #14017
/close
Fixed by https://github.com/kubernetes/test-infra/pull/16742
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-reboot

[2020-04-10 03:25] #14017 closed

[2020-04-10 03:29] spiffxp commented on #14009
So we're now down to whatever is going on with e2e-kops-aws-cni-amazon-vpc/
[code]

[2020-04-10 03:33] spiffxp commented on #8861
Well, I managed to remove an N=923 job https://github.com/kubernetes/test-infra/pull/17156

[2020-04-10 03:39] spiffxp commented on #11977
/close
I can't think of anything off the top of my head so I think we should close. If there's something specific that comes up, use followup issues.

[2020-04-10 03:39] #11977 closed

[2020-04-10 03:53] spiffxp commented on #13886
https://github.com/kubernetes/test-infra/pull/17179 should close this out

[2020-04-10 03:54] spiffxp commented on #11782
/area prow

[2020-04-10 03:58] spiffxp commented on #7769
Just guessing based on the project names there are probably still a few remaining
[code]

[2020-04-10 04:00] spiffxp commented on #12127
/sig cloud-provider
/assign @amwat @BenTheElder

[2020-04-10 04:04] spiffxp commented on #9079
/help
This has been done for the approve plugin, if someone wanted to help they could put in similar snippets for other plugins by following @clarketm's example https://github.com/kubernetes/test-infra/pull/13507/files#diff-fafcffa198880e235687b288b620bcb8

[2020-04-10 04:38] spiffxp commented on #13879
/close
velodrome is down: https://github.com/kubernetes/test-infra/issues/16836
I've heard no complaints about this board's absence, so I can only presume it wasn't useful

[2020-04-10 04:39] #13879 closed

[2020-04-10 07:57] eddycharly opened #17180 "Update tekton pipelines to enable working with v1beta1"
Tekton pipelines have recently moved from `v1aplha1` to `v1beta1`.

Prow currently assumes pipeline specs in prow job are `v1alpha1` and using a `v1beta1` spec is not possible.

This issue should track tasks to be done in order to allow using Prow with different Tekton pipelines versions.

Implementation should take care of existing Prow jobs and provide a smooth transition path.

From the top of

[2020-04-10 07:57] eddycharly commented on #17180
/assign

[2020-04-10 10:13] BenTheElder commented on #8861
👏👏

On Thu, Apr 9, 2020 at 8:33 PM Aaron Crickenberger <notifications@github.com>
wrote:

[2020-04-10 13:31] #15234 closed

[2020-04-10 16:53] spiffxp commented on #13994
/remove-lifecycle rotten
Just got pinged for another variant of this, product readiness approval ref: https://github.com/kubernetes/enhancements/pull/1620#discussion_r404981719

[2020-04-10 17:07] spiffxp commented on #13994
Another example: ensure someone from sig-instrumentation gets assigned to PRs that change metrics-related code https://github.com/kubernetes/kubernetes/issues/89788

[2020-04-10 17:09] spiffxp commented on #13994
We can't currently use solutions that regex against paths or file types because the approvers plugin doesn't cooperate with filters (ref: https://github.com/kubernetes/test-infra/issues/7690)

[2020-04-10 20:01] #16489 closed

[2020-04-10 22:10] ixdy commented on #15866
/remove-lifecycle stale

still want to do this.

[2020-04-10 22:47] #11819 closed

[2020-04-10 23:44] #14009 closed

[2020-04-10 23:44] fejta commented on #14009
https://testgrid.k8s.io/sig-testing-prow#resultstore-upload&width=20

[2020-04-10 23:57] #16464 closed

[2020-04-11 10:09] kwiesmueller opened #17187 "Allow disabling CI for WIP PRs"
**What would you like to be added**:

A way to disable CI for WIP PRs.

**Why is this needed**:

I've noticed in several WIP PRs (including my own) that there is a lot of tests being run without any use to it. Not only do they spam notifications but they also waste resources.

Additionally it would make reviewing and discussing a lot easier as one doesn't have to scroll over a huge amount of CI co

[2020-04-11 10:10] kwiesmueller commented on #17187
Related to https://github.com/kubernetes/test-infra/issues/15572

[2020-04-11 16:58] #9628 closed

[2020-04-11 16:58] #10821 closed

[2020-04-11 17:10] alvaroaleman commented on #17187
IMHO if there is no use to it is debatable. WIP doesn't necessarily mean "is broken right now" it could also just mean "its not done but the part that is done does work".

[2020-04-11 18:10] sftim commented on #6289
I'd like to be able to single out PRs that were merged using administrative overrides or similar. To help with that filtering, it would be really handy if Tide marked PRs as passing as soon as they are ready to merge. At that point the same Tide  _or another one_ could merge the PR. So long as Git / GitHub don't allow the same PR to merge twice, I don't see how there's a data race problem there.

[2020-04-11 18:12] sftim commented on #6289
_Also_ as someone who now has the ability to override Prow / Tide, I'd like this privilege to be protected by the usual GitHub safety features. With the website repo, there are usually no tests failing so I'm fewer clicks away from merging something PR manually when I didn't mean to.

[2020-04-11 18:19] sftim commented on #9514
:thought_balloon: Maybe reviewers would like to be able to comment on a PR
[code]
It's different to the original suggestion @tallclair; does it work as an approach do you think?

As an approver for the website, where people often contribute entirely within the GitHub web UI, I'd be happy to add:
[code]
to website PRs that were labelled `lgtm/if-squashed`.

I can make this its own issue if people l

[2020-04-11 18:23] kwiesmueller commented on #17187
I don't claim there is never a use for testing WIP PRs. Just that the possibility to disable CI would be helpful for some PRs.

As an example, a current PR of mine is pinning a dependency to a fork of mine until the respective PR there merges.
The CI fails with every push and sends a load of comments that are of no use.
The PR is in a state where the implementation itself is in progress and being

[2020-04-12 00:05] #14949 closed

[2020-04-12 15:20] sladyn98 commented on #14201
@stevekuznetsov Do we need to change the error message here or just add the reason as to why we arent trusted like not an org admin

[2020-04-13 10:15] ramirezag commented on #11260
Hi @sbueringer,

First of all amazing job on implementing https://github.com/kubernetes/test-infra/pull/16722. If you don't mind, would you please support [default credential provider chain](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html#specifying-credentials) (see diff below)? Static credential is not possible in our case since we only have federated account with

[2020-04-13 10:58] sbueringer commented on #11260
@ramirezag I assume you're using Prow in AWS. Did you try to use it without specifying a `s3-credentials-file`. I couldn't try it but it should auto-discover everything (should be the default in gocloud: https://github.com/kubernetes/test-infra/blob/master/prow/io/providers/providers.go#L71).

Of course this assumes that you don't need anything else from the configuration file

[2020-04-13 11:10] ramirezag commented on #11260
@sbueringer yes we're using prow in AWS. Ok I will test without specifying `s3-credentials-file`.

[2020-04-13 12:33] ramirezag commented on #11260
@sbueringer I tried to use [pod-utilities](https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md) but it's asking for [GCS or S3 credentials](https://github.com/kubernetes/test-infra/blob/master/prow/apis/prowjobs/v1/types.go#L469).

[2020-04-13 12:39] sbueringer commented on #11260
@ramirezag I think that check should be removed. Can you test against a version without this check?

[2020-04-13 12:50] ramirezag commented on #11260
@sbueringer I honestly haven't figured out how to build or generate prow docker image - I'm still awaiting for a reply in #prow channel. So I cannot test what you suggested.

[2020-04-13 15:13] danwinship commented on #15880
/cc @stevekuznetsov

[2020-04-13 16:48] detiber opened #17190 "Need IAM permissions for Session Manager added to Boskos-managed AWS accounts"
**What would you like to be added**:

Recently we removed creation of a Bastion host by default from cluster-api-provider-aws and would prefer to avoid creating one for the purposes of testing and would rather use ssh proxied over AWS Session Manager to connect to remote instances for retrieving logs during testing instead.

Will need one of the below done against each AWS subaccount users that is

[2020-04-13 16:49] stevekuznetsov commented on #15758
/remove-lifecycle stale

@Katharine this seems important -- did we have a link to logs anywhere that detail how it got to this state?

[2020-04-13 16:49] stevekuznetsov commented on #15758
/cc @cjwagner @fejta

[2020-04-13 18:06] ixdy commented on #14715
/remove-lifecycle stale

[2020-04-13 18:14] chases2 opened #17193 "Configurator Test is unclear when adding tests to legacy-exempted groups"
**What should be cleaned up or changed**:
The error message that results when adding TestGrid presubmits or references to legacy items is confusing, making completing [this TODO](https://github.com/kubernetes/test-infra/blob/9beef71a5dacf41b15fa1957b545922876ceb6a5/config/tests/testgrids/config_test.go#L346-L348) harder.

[code]

A clearer message pointing to the TODO may help continuous migration

[2020-04-13 18:25] #12127 closed

[2020-04-13 19:33] #13886 closed

[2020-04-13 20:52] amwat commented on #12127
https://testgrid.k8s.io/provider-gcp-presubmits#cloud-provider-gcp-tests

[2020-04-13 21:20] ramirezag commented on #11260
Removed `if o.GcsCredentialsFile == "" && o.S3CredentialsFile == ""` in `prow/gcsupload/options.go` and `prow/apis/prowjobs/v1/types.go` and now I got

[code]

This is my config:
[code]

[2020-04-13 21:40] alvaroaleman commented on #11260
@ramirezag can you please open a dedicated issue for S3  default credential provider chain and keep this to "Add S3/Azure support to Prow where we currently support GCS only"?

[2020-04-13 22:16] ramirezag opened #17197 "Support for S3 default credential provider chain"
This is a fork issue from #11260  due to errors encountered when using the fallback gocloud default discovery if no s3-credentials-file is specified. See https://github.com/kubernetes/test-infra/issues/11260#issuecomment-613103711
https://github.com/kubernetes/test-infra/issues/11260#issuecomment-612880075.

**What would you like to be added**:
Support for S3 default credential provider chain

**W

[2020-04-14 00:01] spiffxp commented on #14643
/remove-lifecycle stale
There is lots of organic data munging in the existing pipeline, and assumptions on the use of bootstrap and/or scripts in k/k's hack directory.

I got as far as writing [a google-doc proposal](https://docs.google.com/document/d/139R-4VJjt9_RF2tcNNnH_fi35qQPdCot8CIhaG91HOU/edit#heading=h.x9snb54sjlu9) which proposed adding `repo` and `repo_commit` fields, which would more cl

[2020-04-14 14:04] #12216 closed

[2020-04-14 16:56] jimangel commented on #16458
/reopen

We should make sure this is in the docs handbook too

/cc @savitharaghunathan
/milestone 1.19

[2020-04-14 16:57] jimangel commented on #16458
/assign

[2020-04-14 18:28] BenTheElder opened #17207 "testgrid conformance uploader doesn't handle partial results"
**What happened**:

https://prow.k8s.io/view/gcs/ppc64le-kubernetes/logs/ci-conformance-kubernetes/90 is detected as passing despite being interrupted before completing tests

**What you expected to happen**:

this should be detected as failing

**How to reproduce it (as minimally and precisely as possible)**:

terminate ginkgo early and use that log

**Please provide links to example occurrences,