[2018-01-02 15:50] porridge commented on #5893
/reopen
Still happening: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/88 launched at a strange time (and, FTR, caused failure of https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/35 as colateral damage).

[2018-01-02 16:00] cblecker commented on #3886
Still relevant.
/remove-lifecycle stale

[2018-01-02 18:31] spiffxp commented on #3724
/close
I guess we can close this.  I'm guessing we'll want some way of telling a user how to acquire the needed labels, in the same way that submit-queue occasionally updates its status with specific next steps.  But that's orthogonal

[2018-01-02 18:31] #3724 closed

[2018-01-02 19:13] BenTheElder commented on #2528
Heh, @fejta I think maybe we don't want the stale job issue to go stale :-)

[2018-01-02 19:14] BenTheElder commented on #2528
/remove-lifecycle stale

[2018-01-02 19:20] BenTheElder commented on #5645
IIRC testgrid only sends alerts about new failures by design (it's edge triggered).

[2018-01-02 19:21] BenTheElder commented on #5645
@michelle192837 maybe we could make this configurable?

[2018-01-02 20:01] spiffxp commented on #3584
I still think we should address this.  We could symlink, we could point at a different file that's not at root.  I have also wondered about syncing from or using a global OWNERS_ALIAS file, the same way we are doing for github labels via labels.yaml.  ie: consistent set of sig aliases across repos

[2018-01-02 20:01] spiffxp commented on #3584
/remove-lifecycle stale

[2018-01-02 21:08] BenTheElder commented on #6111
I'm in favor of this but we need to clear it with @enisoc

[2018-01-02 21:21] spiffxp commented on #3311
/close
Addressed by #5685

[2018-01-02 21:21] #3311 closed

[2018-01-02 21:23] spiffxp commented on #3326
/close
there is no buildcop, only ~zuul~ a shared responsibility by all sigs to keep their tests passing, which they can do by looking at per-sig dashboards, and looking at sig names embedded in tests

[2018-01-02 21:23] #3326 closed

[2018-01-02 21:25] spiffxp commented on #3336
are we still interested in doing this?

[2018-01-02 21:26] BenTheElder commented on #3336
`/retest` / `/test foo` should cover most, but not all use cases..

[2018-01-02 21:29] spiffxp commented on #3349
/lifecycle frozen
The intent is to migrate from a google.com-owned GCP org to one that is owned by the CNCF.  At that point we are capable of adding people to support our infra, and we can iterate on what exactly "support" means and what requirements there are.

I've documented as best I can what test-infra we're running where on internal clusters.  Next step is to figure out a migration plan. htt

[2018-01-02 21:33] spiffxp commented on #3316
/close
I'm going to say this is done.  Please /reopen if I've misunderstood

[2018-01-02 21:33] #3316 closed

[2018-01-02 21:44] BenTheElder commented on #5603
new one: creating a revert PR using the GitHub button creates a warning.

[2018-01-02 22:01] spiffxp commented on #4040
yeah totally didn't have time for this, I'm going to kick out of milestones entirely unless I or someone can sign up to do this

[2018-01-02 22:26] spiffxp commented on #5316
Is this the sort of thing we can actually clean up or are we just going to age out the release jobs? I notice we have no `release-1-9` jobs

[2018-01-02 22:34] spiffxp commented on #6075
Per the rules_go issue linking here, we need to deal with this within the next week or so.  Fixing the hackish script was pretty straightforward, but the version of gazelle that k/k depends upon isn't available in the new repo.  So we'd need to vendor it there, or fix k/k to work with the newer version of gazelle.  We could also try taking the same tack as repos such as kops, which use bazel inste

[2018-01-02 22:42] #5907 closed

[2018-01-02 22:49] #3851 closed

[2018-01-02 22:59] ixdy commented on #6075
The master branch of k/k should be compatible with the newer gazelle. The release branches are more problematic, and we probably need to backport the hackish fix or vendor it.

[2018-01-02 23:09] jayconrod commented on #6075
Not sure if anyone is looking at this, but you might want to fix [hack/go_install_from_commit.sh](https://github.com/kubernetes/test-infra/blob/master/hack/go_install_from_commit.sh) in any case. That errored out because the go/tools/gazelle/gazelle subdirectory was missing from master, not from the specified commit. Fixing that script may be simpler than vendoring Gazelle into old release branche

[2018-01-02 23:34] #6015 closed

[2018-01-02 23:34] cjwagner commented on #5282
fixed in #6122
/close

[2018-01-02 23:34] #5282 closed

[2018-01-03 00:54] spiffxp commented on #6075
I did an ugly thing in k/k if it helps: https://github.com/kubernetes/kubernetes/pull/57564

[2018-01-03 01:07] BenTheElder commented on #6105
fixed in https://github.com/kubernetes/test-infra/pull/6106

we might want to do some follow-ups though

[2018-01-03 01:18] BenTheElder commented on #5893
Unfortunately the stackdriver logs only go back to ci-kubernetes-e2e-gce-scale-performance/89 and I did not catch this over the holiday.

[2018-01-03 03:13] BenTheElder commented on #6105
This works (https://github.com/kubernetes/test-infra/pull/6106#issuecomment-354929158), but it's not *complete*. We should also sometimes clean up older images, eg some 10 day old kubemark stuff falls through now because it's older than the threshold.

We could randomly delete all images with a low probability 🤔

[2018-01-03 07:53] porridge commented on #5645
@BenTheElder perhaps the subject was misleading. What I meant is that this issue happened many times (for jobs I care about, possibly many more for others), I did **not** mean "not sent for multiple failures in a row".

[2018-01-03 08:02] porridge commented on #5893
Perhaps consider exporting logs to BigQuery? Works really well and you can
set a TTL if you're concerned about cost.

[2018-01-03 16:25] stevekuznetsov commented on #5603
@BenTheElder that may be from the fact that the revert PR button creates a new branch on the repo?

[2018-01-03 18:06] spiffxp commented on #1755
/remove-lifecycle stale
Lots of wishes for something like this when I raised the idea of revoking direct write access to k/k https://github.com/kubernetes/kubernetes/issues/57667

[2018-01-03 18:09] spiffxp commented on #1003
/close
Fixed by #5685

[2018-01-03 18:09] #1003 closed

[2018-01-03 18:10] spiffxp commented on #1755
/unassign @brendandburns

[2018-01-03 18:14] spiffxp commented on #2143
/area kubetest

[2018-01-04 00:13] spiffxp opened #6136 "Standardize on /remove-foo for /foo commands that need an undo variant"
Pulling a nit out of #6003

@cjwagner

@fejta

---

FTR it looks like we currently have:
- cancel
  - `/approve [cancel]`
  - `/hold [cancel]`
  - `/lgtm [cancel]`
- remove
  - `/[remove-]help`
  - `/[remove-](area|committee|kind|priority|sig) <target>`
  - `/[remove-]lifecycle <frozen|stale|putrid|rotten>`
- un
  - `/[un]assign [[@]<username>...]`
  - `/[un]cc [[@]<username>...]`

I'm also in fav

[2018-01-04 00:13] spiffxp commented on #6136
/area prow

[2018-01-04 02:10] #6097 closed

[2018-01-04 03:04] #6022 closed

[2018-01-04 04:14] stevekuznetsov commented on #6136
`/remove-approve` sounds silly though as does `/remove-assign` so would we change those verbs to nouns? `/remove-approval`?

[2018-01-04 04:23] stevekuznetsov commented on #3336
We also have the [`manual-trigger`](https://github.com/kubernetes/test-infra/tree/master/experiment/manual-trigger) tool which entirely bypasses `prow`.

[2018-01-04 04:28] stevekuznetsov commented on #3884
This would be really nice!

[2018-01-04 04:30] stevekuznetsov commented on #6109
See also https://github.com/kubernetes/test-infra/issues/3699

[2018-01-04 04:30] stevekuznetsov commented on #3699
This was fixed by ordering the mungers correctly but is an issue again with Prow /cc @kargakis @cjwagner
/close

[2018-01-04 04:30] #3699 closed

[2018-01-04 09:33] xiangpengzhao commented on #2864
/close

[2018-01-04 09:33] #2864 closed

[2018-01-04 13:14] kargakis opened #6144 "Add branch filtering in deck/gubernator/testgrid"
@mfojtik wanted to know whether a job fails across a release branch but couldn't figure it out. We should probably have an extra filter for branches in deck.

cc: @cjwagner @stevekuznetsov @rmmh @BenTheElder

/area prow

[2018-01-04 15:34] dims commented on #3178
/remove-lifecycle stale
/lifecycle frozen

[2018-01-04 15:35] stevekuznetsov opened #6145 "tide: status is opaque"
Previously, the merge queue would leave a comment like "missing text context" or "missing LGTM label" whereas now we have "Not in tide pool." That is hard to understand and users are having issues taking the appropriate actions just from that message.

/kind bug
/area prow
/cc @kargakis @cjwagner

[2018-01-04 15:35] stevekuznetsov commented on #6145
/cc @spxtr

[2018-01-04 16:03] stevekuznetsov commented on #3142
Fixed in #3182

/close

[2018-01-04 16:03] #3142 closed

[2018-01-04 16:19] spiffxp commented on #6145
ref: https://github.com/kubernetes/test-infra/pull/6010#discussion_r157597197

[2018-01-04 16:54] stevekuznetsov commented on #6145
Also FWIW `tide` as a context name itself is pretty opaque -- we had `Submit Queue` before which at least helped users understand what they were looking at. We should maybe use something more user friendly or at the very least prefix with the common `continuous-integration/(prow/)?`.

[2018-01-04 16:57] chrislovecnm commented on #4361
/remind-lifecycle stale

Keep this open with the new account. And with the new PR that I hacecwe may be able to increase number of runs using more regions

[2018-01-04 16:57] chrislovecnm commented on #4361
/remove-lifecycle stale

Let me try that again

[2018-01-04 17:30] dankohn commented on #5344
@marun I am available to work on this starting Monday, 1/8. Could you please let me know if you have resolved it or have some partial work I could start from.

[2018-01-04 17:31] stevekuznetsov commented on #6092
@cjwagner @rmmh @fejta @kargakis

Any thoughts?

[2018-01-04 18:06] yastij commented on #4361
@chrislovecnm - do we still have quota issues ?

[2018-01-04 18:27] krzyzacy commented on #5316
I'd hope this will be more clear when we retire 1.6 stuff from Jenkins. I'll see how much extra bikeshed we need to put in then, and probably add a few scripts to help this.

[2018-01-04 18:43] dankohn commented on #5344
/assign

[2018-01-04 19:00] krzyzacy opened #6147 "Add test coverage for gke-1.9 vs etcd 3.0.17"
/assign
cc @lookuptable @janetkuo @droot

[2018-01-04 19:21] stevekuznetsov commented on #3200
Not sure this is relevant in any way now as the `mungegithub` code is on its way to a graveyard.

/close

[2018-01-04 19:21] #3200 closed

[2018-01-04 19:44] spxtr commented on #6145
Yep, this is totally something I plan on doing next.
/assign

[2018-01-04 20:04] #4409 closed

[2018-01-04 20:05] krzyzacy commented on #5893
@porridge the run 88 is not the same cause though

[2018-01-04 20:20] foxish commented on #6011
Documenting here as a todo item for this issue, we should remove the check for working directory in https://github.com/kubernetes/test-infra/blob/40e8b22e3c37457c973c118b2aefa097b1d063ed/kubetest/main.go#L386-L388.
This assumes that we're always downloading and running from within the kubernetes directory which may not be true for other application level tests.

cc @krzyzacy

[2018-01-04 20:30] krzyzacy commented on #2632
/close
this is done

[2018-01-04 20:32] krzyzacy commented on #4361
yes, we still need to configure quota for the new cncf-aws account

[2018-01-04 21:01] stevekuznetsov commented on #6011
This seems like a candidate for work that would land in the shared test framework repo. Registering shell script paths inside of code in `kubetest` to run against a cluster that got stood up instead of cleanly passing a `admin.kubeconfig` (or similar) from `kubetest` to the test code seems unmanageable for scale. Why not have one binary (`kubetest`) in charge of managing cluster lifecycle and comm

[2018-01-04 21:13] yastij commented on #4361
@krzyzacy - any PR open ?

[2018-01-04 21:40] krzyzacy commented on #4361
@yastij there's email thread with aws going on
https://github.com/kubernetes/test-infra/pull/5880 is the PR switches over blocking jobs to the new account

[2018-01-04 22:09] #6090 closed

[2018-01-04 23:06] cjwagner opened #6153 "Tide is failing to set statuses"
Tide is running into some problems setting statuses:
<ol>
<li>
Some GraphQL PullRequest objects are missing HeadRefs, while the V3 API has them. So some of the `OID` fields in the `PullRequest` structs are empty for specific PRs.
The GraphQL query:
<pre>
{
 repository(owner:"kubernetes", name:"charts"){
   pullRequest(number:3219) {
     headRef { target { oid } }
   }
 }
}
</pre>
Returns "pullReq

[2018-01-04 23:08] cjwagner commented on #6153
I reverted our Tide deployment to version 0.16 and used the `migratestatus` tool to set the `tide` contexts that were created to "success" since Tide:0.16 does not ignore its own status context.

[2018-01-04 23:20] spxtr commented on #6153
Does 1) happen every time? I'm pretty sure I didn't run into that when I did some manual testing.

[2018-01-04 23:30] cjwagner commented on #6153
It happens every time on 2 specific PRs:
kubernetes/contrib#2701
kubernetes/charts#3219

It makes sense that you didn't run into this while testing since it only affects 2 of the 425 PRs that Tide looked at so it is likely a rare occurrence.

[2018-01-04 23:40] kargakis commented on #6145
+1

[2018-01-05 01:03] mml commented on #4387
Is this a dup of #3866 @spxtr @spiffxp

On Thu, Jan 4, 2018 at 6:48 AM, fejta-bot <notifications@github.com> wrote:

[2018-01-05 04:18] spiffxp commented on #5175
any update on this?

[2018-01-05 05:38] porridge commented on #5893
@krzyzacy all I know is that testgrid says it started at 6:19pm, rather than 00:01 like it should have,  so it matches this bug subject.

[2018-01-05 06:26] fejta opened #6157 "Use BUILD.bazel instead of BUILD"
MacOS does not handle `./BUILD` and `./build/` existing in the same dir, such as:

[code]

[2018-01-05 11:11] kargakis commented on #6092
If there are cases where malformed metadata* blow up the Gubernator view when we could serve artifacts / test logs, we should fix it. 👍

* or really anything that would not block us from serving whatever we have from tests.

[2018-01-05 15:25] stevekuznetsov commented on #4343
I've used the program and it has since been changed substantially. This issue is no longer relevant.

/close

[2018-01-05 15:25] #4343 closed

[2018-01-05 17:34] stevekuznetsov commented on #3700
We've got this in Velodrome now, right, @spiffxp ?

[2018-01-05 17:34] stevekuznetsov commented on #3789
Still would be nice

/remove-lifecycle stale

[2018-01-05 17:34] stevekuznetsov commented on #4319
Still relevant

/remove-lifecycle stale

[2018-01-06 07:12] chrislovecnm opened #6173 "aws go library is broken"
https://github.com/kubernetes/test-infra/commit/1906d620bde1d4096fef17baf82bd4ed9b98fbec
as part of https://github.com/kubernetes/test-infra/pull/6141

Removed parts of the aws-go library.  This library was just added for https://github.com/kubernetes/test-infra/pull/6113.

I am going to see if I can add it back, but I am not holding my breath.  I had a ton of problems adding the library myself, a

[2018-01-06 07:31] chrislovecnm commented on #6173
Nope, I tried to use dep to add the library and I am jammed again.  Sorry to bug you guys, but what options do I have?

[2018-01-06 21:23] mindprince commented on #1723
/remove-lifecycle stale
/lifecycle frozen

[2018-01-07 02:35] BenTheElder commented on #5645
Hmm not sure then, @michelle192837 can you take a look?

[2018-01-07 02:38] BenTheElder commented on #5603
@stevekuznetsov perhaps, but it's not what the bot is intended to alert about IMHO and seems to fall under this.

/kind bug

[2018-01-07 02:48] BenTheElder commented on #6144
Deck isn't really the right place to look for this for the kubernetes deployment at least, considering how often sinker runs, the best places are testgrid and gubernator. Deck is really best at recently run jobs.

More filtering options could be handy though.

[2018-01-07 02:55] BenTheElder commented on #6111
ping @enisoc are we ready to do this?

[2018-01-07 03:10] BenTheElder commented on #6173
https://github.com/kubernetes/test-infra/pull/6101#issuecomment-355795491 for how I previously added it.

[2018-01-07 03:17] BenTheElder commented on #1399
@luxas rules_go has some logic for selecting the toolchain and registering it so we could make this job start by patching WORKSPACE to use a toolchain from head.

https://github.com/bazelbuild/rules_go/blob/master/go/toolchains.rst

[2018-01-07 03:17] BenTheElder commented on #1399
/remove-lifecycle stale

[2018-01-07 03:28] BenTheElder commented on #4425
/lifecycle-remove stale

This is still a bit frustrating to do, but I've done this manually by deleting the CRD in the services cluster first and then deleting the pod, which we could make less manual
/kind feature

[2018-01-07 08:35] BenTheElder commented on #3342
/remove-lifecycle stale
/assign
/assign @cjwagner

[2018-01-07 09:35] kargakis commented on #6144
Gubernator was the first place that @mfojtik was looking at so I am fine with it too.

[2018-01-07 09:37] kargakis commented on #6144
I've made this a catch-all issue and need others to weigh in about what's the best place to do it.

cc: @stevekuznetsov @rmmh @michelle192837

[2018-01-07 15:58] chrislovecnm commented on #6173
@BenTheElder maybe it is because my mac os is so old, but that is not working.  I am going to steal your SHA and apply it

[2018-01-07 17:23] cblecker commented on #6095
+1 to this
cc: @fejta

[2018-01-08 01:13] spxtr commented on #4770
Should open a new issue if we see any dropped webhooks.

[2018-01-08 01:13] #4770 closed

[2018-01-08 01:23] chrislovecnm commented on #6173
/area bazel

[2018-01-08 07:51] nikhita commented on #4373
/remove-lifecycle stale

[2018-01-08 09:20] kargakis opened #6177 "cherrypicker needs to filter out comments on pull_request events"
Moving this [TODO](https://github.com/kubernetes/test-infra/blob/ac5560481186f408fb9e97ffeae421a248a74e54/experiment/cherrypicker/server.go#L235-L236) in a GH issue for more visibility.

/assign

[2018-01-08 10:30] kargakis commented on #4761
/lifecycle frozen

[2018-01-08 10:32] kargakis commented on #2606
cc: @stevekuznetsov

[2018-01-08 10:33] #3934 closed

[2018-01-08 10:33] kargakis commented on #2496
I think we can close this now - tide has no prioritization logic.

/close

[2018-01-08 10:33] #2496 closed

[2018-01-08 10:35] kargakis commented on #3396
/lifecycle frozen

[2018-01-08 10:36] kargakis commented on #3737
/lifecycle frozen
/kind bug

[2018-01-08 10:39] kargakis commented on #3944
/lifecycle frozen

[2018-01-08 10:42] kargakis commented on #4359
We do both polling and events now - should be fixed by https://github.com/kubernetes/test-infra/pull/6121

[2018-01-08 10:42] #4359 closed

[2018-01-08 10:42] kargakis commented on #4402
/lifecycle frozen

[2018-01-08 10:43] kargakis commented on #4425
/lifecycle frozen

[2018-01-08 10:44] kargakis commented on #4744
/lifecycle frozen

[2018-01-08 11:26] kargakis commented on #4752
/lifecycle frozen

[2018-01-08 13:30] kargakis opened #6179 "needs-rebase plugin graphql error"
[code]
@cjwagner
/area prow
/kind bug

[2018-01-08 16:10] mfojtik commented on #6144
Yeah, i'm fine with whatever tool I can use. It is very useful to see the runs of the same job per-branch, so I can see if the job is broken just for me or for other PR's into that branch.

[2018-01-08 17:47] spiffxp commented on #3412
/kind documentation
/remove-lifecycle stale

[2018-01-08 17:48] spiffxp commented on #2418
do we still need this?

[2018-01-08 18:36] mithrav commented on #5033
Fixed in PR https://github.com/kubernetes/test-infra/pull/6127

[2018-01-08 18:36] #5033 closed

[2018-01-08 18:53] stevekuznetsov commented on #6144
We're recording the Prow job configuration but I don't think k8s jobs are, so Gubernator would need more data to make that decision. One of the natural places for this is where the data is declared, and that's from Deck. We could probably add best-effort filtering in Gubernator as well.

[2018-01-08 19:02] stevekuznetsov commented on #6095
We explicitly did not support priority for the `tide` pools... maybe we should just retire those labels anyway?

[2018-01-08 19:03] cjwagner commented on #4765
The `/sig` command intentionally avoids pinging the team and only adds the label. This is useful for categorizing issues without pinging teams unnecessarily.
If you want to notify a team *and* add a `sig/*` label, just directly ping the team with an @-mention. The bot will identify the `sig/*` label associated with the mentioned team and apply it. Additionally, if you don't have permission to trig

[2018-01-08 19:03] #4765 closed

[2018-01-08 19:05] stevekuznetsov commented on #4788
A lot of these are being addressed by the tracer, some are exposed by metrics, we should mostly be OK here I think.

/close

[2018-01-08 19:05] #4788 closed

[2018-01-08 19:12] spiffxp commented on #6095
Priority labels are useful for triaging issues, they're not going away anytime soon.  The `queue/*` labels? Those can probably go away at some point, but that's orthogonal.

[2018-01-08 19:14] oomichi opened #6181 "apicoverage: slash(/) is not considered at the end of URL"
If containing slash(/) at the end of URL at Swagger spec, current apicoverage doesn't consider the corresponding APIs not-tested. For example, "GET /api/v1" API is tested actually, but apicoverage doesn't show the API as tested because of "GET /api/v1/" on Swagger spec.
This should be fixed.

[2018-01-08 19:14] oomichi commented on #6181
/assign

[2018-01-08 19:45] fejta opened #6182 "Figure out how/whether branch-protection integrates with required_pull_request_reviews"
From https://github.com/kubernetes/test-infra/pull/6077#pullrequestreview-86990776
/cc @cblecker

[2018-01-08 19:48] BenTheElder commented on #6144
With ditching Jenkins I'd actually love to record these somewhere Gubernator could read them, it would be great to look back on a job and be able to completely recreate it.

[2018-01-08 19:49] mithrav commented on #3328
/remove-lifecycle stale

[2018-01-08 19:51] #6179 closed

[2018-01-08 19:54] mithrav commented on #3536
/remove-lifecycle stale

[2018-01-08 22:28] BenTheElder opened #6187 "pull-kubernetes-cross is on an outdated image"
xref: https://github.com/kubernetes/test-infra/pull/6148, https://github.com/kubernetes/kubernetes/issues/57822

We need to sort this out so we can continue to maintain the bootstrap image and the new docker in docker cleanup system.

/kind bug
/area images
/assign

[2018-01-08 22:30] BenTheElder commented on #2696
This happened I believe, all jobs should have a sig owner now.
/close

[2018-01-08 22:30] #2696 closed

[2018-01-08 23:05] rmmh commented on #6144
Could this be a periodic BigQuery job? That's the best source of all the test results.

[2018-01-08 23:23] ixdy commented on #3151
This one is still kinda important and probably wants an owner.

/sig testing
/sig release

[2018-01-08 23:23] ixdy commented on #3151
/remove-lifecycle stale

[2018-01-08 23:44] ixdy commented on #6157
This should be as easy as moving all existing `BUILD` files to `BUILD.bazel` and updating `hack/{update,verify}-bazel.sh` to tell gazelle to use `BUILD.bazel` instead of `BUILD`.

[2018-01-08 23:52] stevekuznetsov commented on #6144
Would be nice to not need to bring in more (heavyweight) machinery to expose something in the views we currently use to look at job status and history (outside of TestGrid)

[2018-01-09 07:16] BenTheElder commented on #6187
The most suspicious difference that leaps out is:
`-docker-ce             17.09.1~ce-0~debian, 94.7M                                          17.12.0~ce-0~debian,`

Full [container-diff](https://github.com/GoogleCloudPlatform/container-diff) results: https://gist.github.com/BenTheElder/5b0ccedf5c90d3da28f7a458d583c5c9

There are other changes though, I'll have to investigate further.

[2018-01-09 09:47] kargakis commented on #4373
/assign nikhita

[2018-01-09 10:11] shyamjvs commented on #4046
/remove-lifecycle stale
/lifecycle frozen

@krzyzacy Does something stop us from making logexporter the default for all jobs now? I can think of none. Previously we didn't have logexporter support in older k8s releases, but now those jobs are against newer releases.

[2018-01-09 11:58] kargakis opened #6197 "needs-rebase plugin comments anywhere it wants"
I fired up the plugin w/o adding anything in the prow config, including the recent graphql fix. The bot ended up commenting everywhere on Github :)

[code]
/kind bug
/area prow
/assign @cjwagner

[2018-01-09 14:49] kargakis opened #6198 "How can I add a new package in an existing dependency?"
I am trying to add `k8s.io/apimachinery/pkg/apis/meta/v1` in order to make `test-infra`able to use generated informers but I am stumbling across various issues when trying to add the new package with `dep`.

Initially, `dep` complains that I cannot add the package because it already exists.
[code]
At this point, it's unclear what's the right step. Remove the dependency from `Gopkg.toml`, retry `de

[2018-01-09 15:15] kargakis commented on #6198
Now I see that there are removed during `hack/update-bazel.sh`.

[2018-01-09 17:35] stevekuznetsov commented on #6198
/cc @sttts @deads2k

One of y'all has probably done this already in a different repo?

[2018-01-09 18:22] cblecker commented on #4868
We are using dep now.
/close

[2018-01-09 18:22] #4868 closed

[2018-01-09 19:03] krzyzacy commented on #4046
@shyamjvs not really for logexporter, but I'd like to see the logic in log-dump.sh can go into kubetest

[2018-01-09 19:34] BenTheElder commented on #6198
see: https://github.com/kubernetes/test-infra/issues/5488 for the tests, we're waiting on `dep` to fix this, but in the meantime `hack/update-bazel.sh` handles this since it was already in the workflow after updating deps.

[2018-01-09 19:38] cjwagner commented on #6197
Oops.

[2018-01-09 19:45] #6197 closed

[2018-01-09 20:36] cjwagner commented on #6153
I'm making a PR to fix (1) by fetching the OID as part of the `Commit` instead of the `HeadRef` which may have been deleted. (Ref https://platform.github.community/t/some-prs-are-missing-head-refs/4586)
I will look into reproducing and fixing (2) once that is fixed.

[2018-01-10 00:11] rmmh commented on #1576
This should be fixed by #5721. I need to clean up the old stale PRs, though!

[2018-01-10 00:11] #1576 closed

[2018-01-10 00:17] rmmh commented on #5158
Redeployed with 4.28 included. This should no longer happen.

[2018-01-10 00:17] #5158 closed

[2018-01-10 01:07] ahmetb opened #6208 "/release-note-none ignored if specified on PR description"
`/release-note-none` works only if it's specified on a comment, not the initial PR description.

Example: https://github.com/kubernetes/kubernetes/pull/58030

I submitted this PR with /release-note-none label, but it got ignored and k8s-ci-robot labeled the PR with `do-not-merge/release-note-label-needed`.

Once I left a comment with /release-note-none, things worked as expected.

[2018-01-10 01:43] BenTheElder commented on #6208
FWIW if you use the PR template when authoring a PR body you have a section at the end that prompts for:

**Release note:**

[code]

Which works as-intended AFAIK.

/assign @cjwagner

[2018-01-10 01:47] #6039 closed

[2018-01-10 02:07] #3884 closed

[2018-01-10 05:30] cblecker commented on #6208
Using the PR template is preferred for sure if you are the PR author.

[2018-01-10 05:44] fejta commented on #3884
@rmmh please try and avoid referencing issues in commit messages

[2018-01-10 15:36] stevekuznetsov commented on #4933
/remove-lifecycle stale

[2018-01-10 16:32] porridge opened #6221 "k8s-ci-robot suggests PR author as the additional approver"
See https://github.com/kubernetes/contrib/pull/2825#issuecomment-356655365
There are other OWNERs than myself.

[2018-01-10 17:12] deads2k commented on #6198
We use glide downstream.  @sttts has been experimenting with glide, but as I recall there used to be some pretty severe issues using it to vendor k8s libraries.

[2018-01-10 17:23] stevekuznetsov commented on #6221
/area prow
/kind bug

[2018-01-10 17:24] stevekuznetsov commented on #6221
/cc @kargakis @cjwagner

[2018-01-10 19:07] spiffxp commented on #3866
Discussed during sig-testing yesterday, we're working on making the tide status less opaque, and would like to demo tide to the community before turning on for k/k.  In the meantime, I've been rolling tide out to more kubernetes repos.

[2018-01-10 19:28] spiffxp opened #6227 "Setup merge automation for all kubernetes repos"
/assign
/area prow
/sig contributor-experience
I've been doing this organically, here's an umbrella issue to keep track

The general process I've been following lately is:
- File an issue with these steps
- Create/update an OWNERS_ALIAS file that names the existing teams that have write/admin access to the repo
- Create/update an OWNERS file with approvers based on the write/admin access teams
- C

[2018-01-10 19:37] krzyzacy commented on #5086
fyi this is going on for a while, we'll switch account for the rest of the jobs O(Friday), if the presubmit gets flaky upon cluster start we'll move it to non-blocking for a while until people cares :-)

[2018-01-10 19:56] rmmh commented on #3884
Because it trashes history like this? Yeah, that makes sense.

Autoclosing through PR bodies is still ok, right?

[2018-01-10 21:32] #5474 closed

[2018-01-10 22:20] cjwagner commented on #6221
@porridge
This is actually WAI even though it looks strange. In the contrib repo, implicit self-approval is disabled (by default): https://github.com/kubernetes/test-infra/blob/f7f8aec6acd0f005053f0185379ccce6f72710bd/prow/plugins.yaml#L17-L34

You hadn't actually approved the PR yourself yet and your approval would have helped approve the PR so you were suggested. In repos where the self-approval

[2018-01-11 00:15] mattfarina commented on #6227
Why should all the repos have or use merge automation? What's the benefit for those that aren't using it today?

[2018-01-11 00:46] BenTheElder commented on #6187
this was fixed in https://github.com/kubernetes/test-infra/pull/6226
/close

[2018-01-11 00:46] #6187 closed

[2018-01-11 00:55] mattfarina opened #6240 "Configurable stale timeframes"
This is a feature request.

Stale issue handing automation is quite useful. Especially with the number of stale issues there really are on some repos.

But, the timeframes aren't always optimal. For example, the charts repo has long had a stale policy with a different timefame. We were looking into different automation to handle our own stale issues.

What we would really like is the ability to se

[2018-01-11 01:16] #5584 closed

[2018-01-11 05:34] BenTheElder commented on #3342
/assign @stevekuznetsov
This is happening 🎉 https://github.com/kubernetes/test-infra/pull/6228

[2018-01-11 05:56] fejta commented on #6157
https://github.com/bazelbuild/bazel-gazelle/blob/master/cmd/gazelle/fix-update.go#L188

[2018-01-11 06:27] ixdy commented on #6157
yeah, just switch the order of the values in the flag here:
https://github.com/kubernetes/test-infra/blob/c9d58f244800f47c5dd97ae21d3f281151317cda/hack/update-bazel.sh#L49

and here:
https://github.com/kubernetes/test-infra/blob/c9d58f244800f47c5dd97ae21d3f281151317cda/hack/verify-bazel.sh#L36

[2018-01-11 06:27] ixdy commented on #6157
(or even just remove those flags, since the default does what we want)

[2018-01-11 08:06] ixdy commented on #6157
/assign

[2018-01-11 08:52] porridge commented on #6221
Do you know the history of implicit_self_approve and why is it not on for
this particular repo?

[2018-01-11 09:36] kargakis opened #6251 "sigmention plugin checks membership against repo org"
We should change this and make the org configurable because this plugin will not work eg. in non-kubernetes repos for the k8s deployment.

/area prow
/kind bug

[2018-01-11 10:13] kargakis commented on #6251
We can bring back `owning_org` that was added in https://github.com/kubernetes/test-infra/pull/6178 but removed in https://github.com/kubernetes/test-infra/pull/6217 and potentially remove the regexp in favor of a boolean that allows the use of specialized teams vs a global sig-team.

[2018-01-11 10:15] kargakis commented on #6240
cc @fejta

[2018-01-11 16:36] stevekuznetsov commented on #6240
We'd need to re-architect the plugin config structure to have per-repo configurations

[2018-01-11 17:47] stevekuznetsov commented on #6227
@mattfarina this was a conclusion that the steering committee reached when trying to define what constituted Kubernetes repos. Not sure if that doc got sent to the dev list, but here is a link: https://docs.google.com/document/d/1yauW9zMtWgXN8xh4q6144B2xBTPuIOLGc0L6aQPMj1I/edit?usp=sharing

[2018-01-11 17:57] fejta commented on #6227
Benefit is a consistent experience between repos, which makes it easier to move around between them efficiently.

[2018-01-11 18:54] colemickens opened #6254 "prow issue/pr assignment failure error is slightly inaccurate"
See example: https://github.com/kubernetes-incubator/bootkube/issues/824#issuecomment-357009344

[code]

This message is not fully accurate. `kubernetes-incubator` members *and* repo collaborators are able to be assigned.

There is a desire to remove people from the `kubernetes-incubator` org, so this error message may have undesirable side effects. I was all geared up to join the org until it was

[2018-01-11 18:59] BenTheElder commented on #6254
/kind bug
/area prow
/assign
/assign @cjwagner

[2018-01-11 19:00] cjwagner commented on #6221
I kept the same settings when migrating the repo from using the `approval-handler` munger to the `approve` Prow plugin.
I'm happy to make kubernetes/contrib more consistent with other k8s repos though. I think that it almost always makes sense to have `implicit_self_approve` enabled.
@kubernetes/contrib-maintainers

[2018-01-11 19:12] jberkus commented on #6227
The other benefit is that it means that all repos can be included in the general release process where required.  Realistically, the release team cannot manage or even monitor repos which use a completely different workflow and labels from everything else.  Now, some sub-projects will never have this concern, but a lot will.

[2018-01-11 21:08] stevekuznetsov commented on #6221
The impetus for being able to toggle implicit self-approval mostly came before `/hold` but in general follows this logic:

 - as a top-level OWNER, I create a PR and want it to pass tests that may or may not be part of the default presubmits
 - I want to have reviews from N people
 - someone unrelated comes by and `/lgtm` my PR, and it merges before it's ready because I implicitly self-approved it

[2018-01-11 21:23] cjwagner commented on #6221
Something else to note is that if implicit self-approval is enabled, a PR author can still remove their own approval with `/approve cancel` and add it back if later if they want to.

[2018-01-11 21:37] mattfarina commented on #6227
@jberkus why would everything use the general release process? For example, there is talk of moving kubectl out of k8s and having an independent release process and timing from k8s. It would decouple them. What benefit would kubectl have to use the general release process meant for something different?

@fejta Three things come up for consistency.

1. We have issues with contributor experience. If

[2018-01-11 22:08] #6254 closed

[2018-01-11 23:57] #6153 closed

[2018-01-12 00:07] cjwagner commented on #6153
Tide statuses seems to be working now! :tada:
No sign of problem (2).

[2018-01-12 00:15] jberkus commented on #6227
@mattfarina if the release process is completely decoupled *and* the subproject isn't interested in using the same release tools, then of course that doesn't apply.  However, right now we have the opposite: several repos who *do* participate in the general release process but not with the same labelling or automation.  That's why I'm saying that those two things need to be tied together.

[2018-01-12 00:58] dashpole opened #6267 "Issues should not go stale if they have been referenced."
A common pattern is for issues to be created describing a problem, and then for many PRs to be created to solve them.
If possible, the bot should count an issue being referenced as "activity" for the purpose of measuring how long they have been inactive.

An example PR is here: https://github.com/kubernetes/kubernetes/issues/53902#issuecomment-357108623
The PR was created a long time ago, but sinc

[2018-01-12 01:27] krzyzacy commented on #3338
/shrug

[2018-01-12 02:11] stevekuznetsov commented on #6267
/kind bug
/area prow
/cc @fejta

[2018-01-12 02:16] fejta commented on #6267
The expectation is that issues receive an update once a quarter.

When you add a comment in issue A that links to issue B, github only considers issue A to have a new last modified time.

Please do something on issue B at least once a release -- such as summarizing the activity on the linked issues as it relates to this issue.

[2018-01-12 02:17] dashpole commented on #6267
Ahh, I didn't realize the "last modified time" came from github.  In that case, no need to make any changes!

[2018-01-12 02:17] #6267 closed

[2018-01-12 06:52] porridge commented on #6221
FWIW, an explicit /approve cancel or /hold sound much better to me than the
current (somewhat surprising) default.

[2018-01-12 11:20] kargakis commented on #2621
/lifecycle frozen

[2018-01-12 11:25] kargakis commented on #3449
Closing as a dupe of https://github.com/kubernetes/test-infra/issues/6144 (this is an older issue but there is more discussion in the other thread)

[2018-01-12 11:25] #3449 closed

[2018-01-12 11:25] kargakis commented on #6144
Older request: https://github.com/kubernetes/test-infra/issues/3449

[2018-01-12 16:24] bacongobbler commented on #6240
Or in another similar case (helm), we have design proposals in issues so we don't want a stale policy at all... Or at least a *much* longer time frame than 3 months.

It would've been better if this had been rolled out as an opt-in feature, tbh. :(

[2018-01-12 19:22] BenTheElder commented on #6144
/cc @qhuynh96
who is currently looking at replacing some of the existing dropdowns with fuzzy-search / dropdown upgrades

[2018-01-12 20:06] krzyzacy opened #6277 "kubernetes-cross is not running in batch"
for example, https://github.com/kubernetes/kubernetes/pull/58113 is not merged after a day
cross build is required now but not triggered in batch mode
cc @bowei

/assign @BenTheElder

[2018-01-12 20:46] BenTheElder commented on #6277
We've been debating how to handle this offline. Still reaching consensus.

[2018-01-12 23:11] #6277 closed

[2018-01-12 23:52] BenTheElder commented on #6277
Looks like the most recent batch (#58089, #58113, #58187, #46245, #56509) kicked off pull-kubernetes-cross https://prow.k8s.io/?type=batch

This should be fine now.

[2018-01-13 01:23] #6147 closed

[2018-01-13 01:32] MrHohn opened #6284 "Create ingress project pool for ingress jobs"
From https://github.com/kubernetes/test-infra/pull/6282, we will be adding many more test cases for ingress, which requires project to have lots more quota on backend service and others. As suggested in https://github.com/kubernetes/test-infra/pull/6282#issuecomment-357398050, we can create an ingress project pool specifically for ingress jobs instead of adding hardcoded project name.

/assign
cc

[2018-01-14 01:02] #6198 closed

[2018-01-14 23:17] cblecker opened #6289 "If tide is enabled on a repo, the tide status context should be required by branch protection"
/area prow
cc: @fejta @spxtr

[2018-01-15 15:31] porridge commented on #5645
Any updates here? The notifications seem to have ceased completely.

[2018-01-15 20:43] xiangpengzhao commented on #4922
/close

[2018-01-15 20:43] #4922 closed

[2018-01-16 16:52] ihmccreery commented on #4994
`gcloud auth login` doesn't install application default credentials anymore.

The e2e's are so hard to run as it is ... I'd love to see this documented somewhere.

[2018-01-16 16:53] stevekuznetsov commented on #2740
/remove-lifecycle stale

[2018-01-16 18:03] kargakis opened #6295 "blunderbuss requests reviews by too many folks"
[code]
Happened in https://github.com/openshift/origin/pull/18130

We haven't configured any specific # of people in the plugin config and IIRC the default is 2.

/area prow
/kind bug

@cjwagner

[2018-01-16 18:27] krzyzacy commented on #4994
@ihmccreery we have some kubetest documentation at https://github.com/kubernetes/test-infra/blob/master/kubetest/README.md

so what command did you run, what's your `gcloud auth list`? I'd like to reproduce this locally.

[2018-01-16 19:09] spiffxp opened #6296 "label_sync isn't setting labels on kubernetes/kubernetes-template-project"
https://github.com/kubernetes/kubernetes-template-project/labels

I'm looking specifically for the `committee/steering` label

I'm guessing this is the cron job responsible for running label_sync: https://github.com/kubernetes/test-infra/blob/master/label_sync/cluster/label_sync_cron_job.yaml

Which leads me to believe it should be settings labels on all repos in the kubernetes org, and that this

[2018-01-16 19:09] spiffxp commented on #6296
/assign @fejta

[2018-01-16 19:38] cjwagner commented on #6295
I think this is WAI.
Blunderbuss was recently changed to try to select a unique reviewer from the leaf OWNERS file for each changed file and only request additional reviewers if the minimum reviewer count (2) has not been met yet. This selection process is better because it favors leaf reviewers over root reviewers and allows more reviewers to be requested if a PR is affected by a large number of

[2018-01-16 19:42] cjwagner commented on #6295
ref https://github.com/kubernetes/test-infra/pull/5960

[2018-01-16 20:32] BenTheElder commented on #5645
PING @michelle192837

[2018-01-16 20:45] porridge commented on #5645
I guess something must have happened, because I just received a handful of
failure notifications a few minutes ago.

[2018-01-16 20:49] #4373 closed

[2018-01-16 21:46] krzyzacy commented on #190
/assign
/assign @BenTheElder @dashpole

[2018-01-16 22:26] krzyzacy commented on #5086
/close
will monitor presubmit job for a while and see if we need to move it to unblocking until the quota change resolves. cc @kubernetes/sig-aws-misc @chrislovecnm @justinsb

[2018-01-16 22:26] #5086 closed

[2018-01-17 00:03] krzyzacy commented on #2544
I think :this-is-fine: now, our presubmit should catch all invalid prow configs

[2018-01-17 00:03] #2544 closed

[2018-01-17 01:28] font opened #6304 "Update bazelbuild image to include GOPATH"
The current [`bazelbuild` image](https://github.com/kubernetes/test-infra/blob/4850d1235187a4dfc312d766625dc1f1fb0cc175/images/bazelbuild/Dockerfile#L1) does not set up a `GOPATH` environment. Normally when using `bazel` commands inside the `bazelbuild` image there isn't any problems. But in the event you want to run an `execute` scenario to run a verify job that uses the `Go` toolchain such as `g

[2018-01-17 01:53] #6221 closed

[2018-01-17 02:29] BenTheElder commented on #1342
Done in #6305 :tada:

[2018-01-17 02:29] #1342 closed

[2018-01-17 03:35] justinsb opened #6308 "Some boskos projects have legacy networks"
The kops GCE job is basically passing now (yay!): https://k8s-testgrid.appspot.com/google-kops-gce#kops-gce

But there are a few failures, and they seem to be because some projects have networks in legacy mode, which aren't supported by kops.  I'm also not sure I should be getting these at all, as they look like specialized boskos projects (e.g. presumably k8s-e2e-gce-scalability has higher limits

[2018-01-17 05:44] krzyzacy commented on #6308
the project picking is fine, the actual scalability job has their own designated projects.

I'm not sure about the legacy network though, maybe it's configurable? cc @MrHohn let be grab a network specialist here

[2018-01-17 05:48] krzyzacy opened #6310 "Move kops presubmit to prow"
ref https://github.com/kubernetes/test-infra/pull/6309#issuecomment-358203809
/assign

[2018-01-17 05:48] krzyzacy opened #6311 "Fix pull-test-infra-testgrid"
(in case I forgot)
ref https://github.com/kubernetes/test-infra/pull/6305#discussion_r161951809
/assign

[2018-01-17 16:37] ihmccreery commented on #4994
To reproduce:

[code]

You'll see stuff like:

[code]

Notice that when you run `gcloud auth login`, you'll see:

[code]

[2018-01-17 17:47] ixdy commented on #6304
Does the bazelbuild image even include the go toolchain?

[2018-01-17 18:34] MrHohn commented on #6308
Projects those were created earlier on might have legacy network, quick thoughts for non-specialized projects:
- Replace them with other new projects.
- Or delete the legacy network and create a new "default" network.

[2018-01-18 00:32] krzyzacy commented on #6311
https://github.com/kubernetes/test-infra/pull/6317 will move it into a go test

[2018-01-18 00:32] #6311 closed

[2018-01-18 01:55] font commented on #6304
@BenTheElder @ixdy It does not. That's why I was wondering if this is even the right image we should be using to test an `execute` scenario requiring the go toolchain when we're not requiring any `bazel` commands.

[2018-01-18 02:27] cjwagner opened #6332 "Approve plugin should default to implicit_self_approve = true."
I think the approve plugin should default to enabling implicit_self_approval instead of defaulting to requiring users to explicitly `/approve` their own PRs.
We currently have implicit_self_approve enabled on all repos using the `approve` plugin and whenever we enable the `approve` plugin on a new repo we have to add it to the `approve` config which is growing larger and more repetitive. Defaultin

[2018-01-18 03:40] font commented on #6304
I've switched our one particular pull job to use the `kubekins-e2e` image per @BenTheElder . I'll leave our other pull jobs to continue using the `bazelbuild` image and if/when we get the go toolchain added to it, I'll revert back to `bazelbuild`.

[2018-01-18 03:54] BenTheElder commented on #6304
I think the go toolchain + bazel is really the kubekins image at the
moment. The bazebuild image is a bit more focused. I don't know that we
should be adding a go toolchain to it.

We probably should (will?) Move towards things always being in a valid
gopath for prow checkouts though. The bootstrap argument `--root=/go/src`
solves this for now with kubekins.

On Wed, Jan 17, 2018, 19:40 Ivan Font

[2018-01-18 09:18] #5854 closed

[2018-01-18 09:25] #6109 closed

[2018-01-18 15:41] stevekuznetsov commented on #3258
There was extra complexity with the interaction between Prow and the SQ on this so more documentation would have been nice. Now that it's just `tide` handling things this is no longer really appropriate.

/close

[2018-01-18 15:41] #3258 closed

[2018-01-18 18:29] krzyzacy commented on #5078
/assign @michelle192837
/area documentation
maybe we can add some doc on how to operate testgrid?

[2018-01-18 23:02] spiffxp commented on #3362
/remove-lifecycle stale
pretty sure we're still working on this, yeah? @krzyzacy @fejta

[2018-01-18 23:06] spiffxp commented on #3392
/remove-lifecycle stale
this remains a pain point for consumers of testgrid during release

[2018-01-18 23:17] spiffxp commented on #5078
/remove-lifecycle stale

[2018-01-19 00:33] ixdy opened #6343 "tide stuck because it's supplying the wrong head sha to merge"
Tide seems to be stuck right now trying to merge #6205:
[code]

Looking at that PR, there are two commits:
[code]

Chronologically, c08a5adde90424a8dd52f5a04dcf206ed1e4399b is the latest commit, but f2759a5ca480cc54a5debe474aeaa7944f9cb8a1 is the tip of @fejta's branch.

For whatever reason, prow is supplying the wrong sha, so the merge is failing, and it just keeps retrying this PR, rather than m

[2018-01-19 00:34] ixdy commented on #6343
https://api.github.com/repos/kubernetes/test-infra/pulls/6205 shows the correct sha; @cjwagner suspects it might be related to using graphql somehow.

[2018-01-19 01:45] cjwagner opened #6346 "Improve /test all logic."
`/test all` needs a rework. AlwaysRun jobs shouldn't need to make sure their Trigger regexp matches `/test all`, it is repetitive and prevents us from distinguishing `/test all` from `/test foo` easily.  Instead `/test all` should be recognized as a command and trigger tests in the same way that an `/ok-to-test` command would. We can then simplify the configured job regexps to only match triggers

[2018-01-19 02:10] tallclair opened #6350 "[PR Dashboard] Remove `do-not-merge/hold` issues from attention set"
Items with the label `do-not-merge/hold` should be hidden from the the "Needs Attention" section. Also maybe the `do-not-merge/work-in-progress` label.

[2018-01-19 02:23] #6343 closed

[2018-01-19 02:57] BenTheElder commented on #6346
+1 I had a thread with Joe about this at some point. I think he had some
arguments against it but I don't remember them FWIW 🤷‍♂️

On Thu, Jan 18, 2018, 17:45 Cole Wagner <notifications@github.com> wrote:

[2018-01-19 02:58] BenTheElder commented on #6346
Ping @spxtr 😁

[2018-01-19 04:04] krzyzacy commented on #6310
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kops/4285/pull-kops-e2e-kubernetes-aws/4/ is green
need to fix tot, open to remind me

[2018-01-19 05:56] BenTheElder commented on #4932
we cleaned this up a bit but we're still not forcing it, this won't make as much sense with tide anyhow.

/close

[2018-01-19 05:56] #4932 closed

[2018-01-19 08:11] spxtr commented on #6346
I don't remember my argument. Are you thinking of my dislike of `/test all` vs `/test-all` (how do we know there's no job named "all"?!)?

[2018-01-19 13:38] kargakis commented on #1986
I've started working on this as part of https://github.com/kubernetes/test-infra/pull/6199

/assign

[2018-01-19 18:28] kargakis commented on #6295
What's the use of [request_count](https://github.com/kubernetes/test-infra/blob/850b013acec11b8ae0826ee3914990105195333d/prow/plugins/plugins.go#L188) then if the algorithm does not respect it?

[2018-01-19 18:32] kargakis commented on #6295
Hrm, now I reread

We should probably document this. Also, I would like to explore an option that actually gates the number of review requests. We have been getting a lot of them downstream but they are mostly spamming people (I doubt we have a PR where all requested reviewers actually did a review).

[2018-01-19 19:03] cjwagner commented on #6346
I would prefer `/test-all` too, but I think we will still need to support `/test all` too given that users are already used to that. We could add a presubmit test that ensures there are no presubmit jobs named `all`.

[2018-01-19 19:07] krzyzacy commented on #6310
(done with the tot fun)

[2018-01-19 19:07] #6310 closed

[2018-01-19 19:59] cjwagner commented on #6295
SGTM. The blunderbuss reviewer selection logic definitely needs to be more configurable, many of the repos we have enabled it on have requested customized behavior.

[2018-01-19 20:15] thockin opened #6353 "Idea: log the tree-hash of the repo on each push"
Sometimes I review a PR and ask for a partial or total squash before committing.  When that happens, the LGTM gets removed or I simply have to re-review because that is the sane thing to do.  Git knows that a squash is a net no-op on the final code state.  If I knew that, I could skip the PR review or it could even not remove the LGTM.

What if, on every push, we ran `git log -n1 --format=%T` and

[2018-01-19 21:30] stevekuznetsov commented on #6353
/kind feature
/area prow
/cc @cjwagner @kargakis @spxtr

[2018-01-19 21:58] mattfarina commented on #6145
Note, the tide status also makes it difficult to know the state of the PR on the PR listing pages. For example,
![screen shot 2018-01-19 at 4 48 37 pm](https://user-images.githubusercontent.com/62991/35173227-af033aee-fd38-11e7-9b10-786227e77026.png)

Because tide isn't reporting status the PR listing page shows that PRs are still waiting on report. Even if all the other CI runs have passed. At a

[2018-01-19 22:02] BenTheElder commented on #6145
@mattfarina I don't think this part is different from the submit-queue behavior FWIW. Tide will report green once a PR is eligible for merge.
@spxtr thoughts on the tide status just always being green? :man_shrugging:

[2018-01-19 23:06] cjwagner commented on #6346
Unintentional close. I was trying to use a word besides `fix` or `close` but apparently `resolve` is also a keyword.
/shrug

[2018-01-20 03:48] spxtr commented on #6353
#3795

[2018-01-20 14:55] justinsb commented on #1368
I think it remains a possible foot-gun, I believe kops & kube-up GCE have got it right, but not sure about other installers, nor about whether an issue is the right way to track a "checklist" that should be applied to each task.

[2018-01-20 15:01] errordeveloper commented on #1368
/lifecycle frozen
/remove-lifecycle stale

[2018-01-21 20:12] krzyzacy commented on #2547
I don't think we are going to this route..

ref https://github.com/kubernetes/test-infra/issues/3338

[2018-01-21 23:01] shyamjvs commented on #5051
/remove-lifecycle stale
/lifecycle frozen

On Sun, Jan 21, 2018, 11:36 PM fejta-bot <notifications@github.com> wrote:

[2018-01-22 09:14] kargakis opened #6368 "Make it easier to rename status contexts"
When a status context is renamed in the prow config, everyone has to `/retest` in order to pick up the new context. Also, the old context is not cleaned up unless there is a new push in the PR. In terms of tide, all PRs are removed from the pool. We could potentially provide an option to link new to deprecated contexts and also enhance `/skip` to cleanup deprecated contexts.

/area prow

@spxtr @c

[2018-01-22 09:14] kargakis commented on #6368
cc @smarterclayton

[2018-01-22 09:25] BenTheElder commented on #1368
FWIW we no longer have Jenkins agents, I'm not sure how cleanly this will
map to Prow and I'm not sure how much of a problem this actually is.

On Sat, Jan 20, 2018, 07:01 Ilya Dmitrichenko <notifications@github.com>
wrote:

[2018-01-22 13:54] errordeveloper commented on #1368
/lifecycle stale

If someone know this area well, please make a call on whether this issues should stay open.

[2018-01-22 14:23] mattfarina commented on #6145
@BenTheElder That could be. Guess there isn't a way to have a dashboard of all the things passing CI for someone to go review.

[2018-01-22 15:50] mattfarina commented on #6145
This is more of a UX issue so maybe it's worth discussing in contribx. I just ran across this...

![screen shot 2018-01-22 at 10 47 17 am](https://user-images.githubusercontent.com/62991/35229717-18451aa6-ff62-11e7-858f-21cb2c387d6b.png)

[2018-01-22 16:28] stevekuznetsov commented on #6145
@mattfarina I think the point of this issue is to address exactly the issues you're reporting -- the intent here is that the status will be reporting _why_ the PR is not in the `tide` pool yet. As far as "dashboard of all the things passing CI", why is the status listing at the bottom of the PR an appropriate place for a user to look for CI statuses?

[2018-01-22 17:27] kargakis opened #6371 "special characters break cherrypicking"
See https://github.com/openshift/origin/pull/15847#issuecomment-359410337 or https://github.com/openshift/openshift-ansible/pull/6806#issuecomment-359500198 for more context.

/assign

[2018-01-22 18:57] cjwagner commented on #6368
We use this tool to migrate status contexts when needed: https://github.com/kubernetes/test-infra/tree/master/maintenance/migratestatus

[2018-01-22 19:18] mattfarina commented on #6145
@stevekuznetsov the CI status at the bottom of a PR isn't the place to get the overview. But, the aggregate of that status is what populates PR listings like the one at https://github.com/kubernetes/test-infra/pulls. It's about how it affects the aggregate displayed elsewhere.

[2018-01-22 19:33] spiffxp commented on #3508
Docs still don't really explicitly mention that `/assign @foo please take a look` anti-pattern, and I've seen people stumble over it.  If we only interpreted `@foo` as assignable targets we could support this pattern.  Then again, I don't think any other plugins really support "comments" on the same line.

I'd sure be curious to see how often people are issuing `/assign @foo` vs. `/assign foo`

[2018-01-22 19:35] spiffxp commented on #3582
/close
The `sig/foo` labels have since been propagated.  Please /reopen if this is still an issue

[2018-01-22 19:35] #3582 closed

[2018-01-22 22:33] spxtr commented on #6145
I think that's misleading. Green tide status -> all is good. Yellow -> some action needs to be taken.

I'd be fine with that, although the more we put there the less we can put in the description.

[2018-01-22 22:35] ixdy commented on #6075
I think all of the relevant kubernetes repos except kubernetes/federation are fixed now.

[2018-01-22 22:38] fejta commented on #6296
Probably haven't pushed labels.yaml to the cluster since https://github.com/kubernetes/test-infra/commit/93344a5b1c51b836d6aa9a76fda853a4cfebd26a#diff-7f06d832469dae8ca707e5cbd52807f6 was merged

[2018-01-22 23:25] kargakis opened #6375 "Use selector tooling from its canonical location"
`prow/kube/labels` is a fork of different apimachinery packages. Once https://github.com/kubernetes/test-infra/pull/6199 merges we should be able to remove our own labels package and use selector tooling from apimachinery.

/area prow
/kind cleanup
/assign

[2018-01-23 00:13] krzyzacy opened #6380 "Document criteria for queue-blocking presubmit"
i.e. when shall we add/remove a presubmit job from queue blocking

cc @spiffxp I remember you have mentioned similar topic, not sure if it's documented anywhere

[2018-01-23 00:13] rramkumar1 opened #6381 "Add kubetest flag to specify location of ingress-gce image"
This flag will allow someone to run the e2e tests + upgrade/downgrade tests with a locally built ingress-gce image.

[2018-01-23 00:14] rramkumar1 commented on #6381
/assign
/sig network

[2018-01-23 00:29] justinsb opened #6383 "kops tests should test with merged channel"
To be sure that we test with the channels file that will result after a PR has merged, kops should test with the local channels file after merging the PR in.

Thanks to @mikedanese for figuring out what was going wrong here and for the suggestion

[2018-01-23 00:29] justinsb commented on #6383
/assign

[2018-01-23 00:30] jayconrod commented on #6075
@ixdy Will removing the old Gazelle tree break previous Kubernetes releases? I'm not sure if Gazelle is ever run on old branches or tags, but I imagine it could cause problems.

[2018-01-23 00:51] spiffxp commented on #6296
What's the process to get an updated labels.yaml pushed, should I be bugging a member of test-infra with access to the cluster anytime a relevant PR is merged?

[2018-01-23 08:27] porridge commented on #5073
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 08:39] fejta commented on #5073
/remove-lifecycle frozen

[2018-01-23 09:27] kargakis commented on #6368
Thanks, migratestatus is what I was looking for

[2018-01-23 09:27] #6368 closed

[2018-01-23 15:42] stevekuznetsov commented on #6145
Agreed. We should just use a string that's long enough so nobody is immediately asking "wait, what on earth is `tide`?"

[2018-01-23 16:57] stevekuznetsov commented on #3369
We can probably close this as we have the PRs and DD for migration to track this effort.

/close

[2018-01-23 16:57] #3369 closed

[2018-01-23 17:12] #6371 closed

[2018-01-23 18:18] stevekuznetsov commented on #6350
/kind feature
/area gubernator
/cc @rmmh

[2018-01-23 18:19] stevekuznetsov commented on #6350
Not entirely certain this always makes sense -- often someone will `/lgtm` and expressly add `/hold` to block merging until someone else looks -- in that case, everyone else _should_ see a PR with `do-not-merge/hold` in their `"Needs Attention"` block. Similarly, kind of the point of opening a WIP pull is to get feedback.

[2018-01-23 18:20] stevekuznetsov commented on #4646
/remove-lifecycle stale

[2018-01-23 18:22] stevekuznetsov commented on #5163
/remove-lifecycle stale

[2018-01-23 18:22] stevekuznetsov commented on #5156
Should we just use `.gitignore`?

[2018-01-23 19:07] hklai commented on #5934
Is this rolled out?Still hangs for me.
https://github.com/istio/istio/issues/1885

[2018-01-23 19:09] BenTheElder commented on #5934
It's not. I'm not sure who has access to publish that at the moment. I'll
look into it.

On Tue, Jan 23, 2018, 11:07 Andy Lai <notifications@github.com> wrote:

[2018-01-23 19:26] cjwagner commented on #5156
I don't think that `.gitignore` is sufficient. There may be checked in code that shouldn't be considered when looking for OWNERS files. (Maybe `vendor/`?)

[2018-01-23 19:27] BenTheElder commented on #4445
This is temporarily possible with `splice` (we do it with `pull-kubernetes-cross`) but I'm not sure how we should handle this in tide. cc @cjwagner @kargakis @spxtr, thoughts?

[2018-01-23 19:38] BenTheElder commented on #5934
@ixdy is publishing an updated build

On Tue, Jan 23, 2018 at 11:09 AM, Benjamin Elder <bentheelder@google.com>
wrote:

[2018-01-23 19:48] cjwagner commented on #4445
I agree with @spxtr, I don't know if we should support this.

 If individual PRs don't need to pass this job to be serially merged then it isn't a true merge requirement. This sounds like it should either be a blocking presubmit or a postsubmit to me.

[2018-01-23 19:54] shyamjvs opened #6392 "Scheduler benchmark job missing some lines of stdout while printing results"
I recently added a scheduler-benchmark [job](https://k8s-testgrid.appspot.com/sig-scalability-benchmarks#scheduler) which basically runs `make test-integration ...` inside a dockerized environment. The job runs [this script](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/benchmark-dockerized.sh) using the `kubernetes_verify` scenario. That script is quite similar to the [test-do

[2018-01-23 20:00] BenTheElder commented on #6392
cc @krzyzacy
also FWIW test-dockerized.sh is a legacy hack :(

[2018-01-23 20:03] krzyzacy commented on #6392
I'll suspect something goes wonky during our fancy d-in-d-in-d transition? :joy:
cc @ixdy if Jeff has seen something like this before

[2018-01-23 20:05] shyamjvs commented on #4445
@cjwagner We can't afford to run it automatically against every single PR that's opened as this is a scalability job and hence resource-intensive (i.e we cannot have multiple parallel runs of it due to resource limitations and also running it for each opened PR automatically would be costly). That said, this job is available as part of the presubmit job (just not triggered automatically and needs

[2018-01-23 20:06] BenTheElder commented on #6392
from your log output this is mucking with godep and other things for no reason at the beginning I suspect, this should almost definitely just be a normal test job running on kubekins e2e image without dind.

[2018-01-23 20:10] shyamjvs commented on #6392
The question is what is so special with these benchmark lines that it happens only for them - when there are other lines (for e.g `Waiting for etcd to come up.`) that are also printed to stdout, but they do appear in the logs.

I'm not sure if kubekins e2e would be the right image, as this job doesn't run any e2e test.. It just runs some integration tests, like for e.g `pull-kubernetes-verify` (wh

[2018-01-23 20:16] shyamjvs commented on #6392
Even otherwise, I don't think `kubernetes_e2e` is the right scenario to be used as it calls the kubekins binary which is meant for the e2e setup (i.e bring up cluster, run e2e tests, etc..). Functionally, this job is quite different. Here we're just running integration tests (i.e everything running locally within the container as some binary - nothing really to interact with externally).

[2018-01-23 20:16] BenTheElder commented on #6392
The kubekins-e2e image is the catch-all image for tests that need versioned go, bazel, kubetest, gcloud etc.

`pull-kubernetes-verify` is the worst presubmit we have currently (very slow, buggy, complex to maintain) and only runs the way it does because this job is blocking and still needs to work identically post-Jenkins. We have a TODO somewhere to delete the current `kubernetes_verify.py` after

[2018-01-23 20:18] BenTheElder commented on #6392
Integration tests probably just need the execute scenario, images and scenarios aren't actually very related. kubekins-e2e is a bad name, it is just an image that has all the dependencies for e2es and building. The image doesn't run e2e's itself, that's handled by bootstrap / the scenario.

[2018-01-23 20:19] shyamjvs commented on #6392
I see. Then my question reduces to the following - how do I pass a `--script` parameter like [this](https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L7) to kubernetes_e2e?

[2018-01-23 20:24] BenTheElder commented on #6392
Use `execute.py` instead and then use an image like gcloud-in-go or kubekins-e2e.

[2018-01-23 20:25] BenTheElder commented on #6392
That is, unless somehow this is actually using docker. I suspect we just need to add versioned etcd @krzyzacy

We're discussing how to solve this today, we've been putting off solving the verify/unit jobs but I don't want those work arounds to become permanent.

[2018-01-23 20:28] BenTheElder commented on #4445
On another note with `tide` we optimize to merge PRs that have already been tested against HEAD without retest IIRC. This would break that.

[2018-01-23 20:30] BenTheElder commented on #4445
Also with tide we aren't planning to guarantee any particular batch size, just whatever is working for throughput, so this job would not just be triggered on batches of 5 or similar, and even today we merge PRs serially sometimes when batches are conflicting.

[2018-01-23 21:38] cjwagner commented on #4445
@shyamjvs My concern is more that this introduces inconsistent merge requirements depending on how your PR is tested. From a PR author's perspective it would be confusing to have different merge requirements depending on how your PR is tested which is based on whether there are other PRs in the pool. This would effectively make the merge requirements for a PR dependent on the state of other PRs.

[2018-01-23 21:47] BenTheElder commented on #4445
Another option is to make this only run after a successful
pull-kubernetes-bazel-build so that it doesn't run on every commit. xref:
https://github.com/kubernetes/test-infra/issues/5922#issuecomment-353684407
We'd like to make jobs only run after a successful build and make all e2es
share this build again after that issue is fixed anyhow.

On Tue, Jan 23, 2018 at 1:38 PM, Cole Wagner <notification

[2018-01-23 21:50] krzyzacy commented on #6392
I can try to rewrite this and see if it will work better

[2018-01-23 21:58] shyamjvs commented on #6392
Ok.. let's try that.

[2018-01-23 22:20] krzyzacy commented on #6392
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/72

hummmmm @shyamjvs can you tell where's the failure? I saw
`ok  	k8s.io/kubernetes/test/integration/scheduler_perf	187.646s` though

[2018-01-23 22:24] #6177 closed

[2018-01-23 22:25] stevekuznetsov commented on #5156
Good point -- I swear we had turned off `OWNERS` in `vendor` at some point, or we had to add a check that the owner was actually someone in the repo under test so the assign wouldn't fail.

[2018-01-23 23:04] krzyzacy opened #6398 "test flake : //experiment/cherrypicker:go_default_test"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/6288/pull-test-infra-bazel/12173/

/kind flake
/assign @kargakis

[2018-01-23 23:22] fejta opened #6399 "Leave a note to impacted sigs when prow closes issues"
/cc @bgrant0607
/area prow

https://groups.google.com/d/msg/kubernetes-dev/-gUezFgrKCs/QKpKUF8vAwAJ

[2018-01-23 23:41] cjwagner commented on #5156
When I adapted the OWNERS file support in mungegithub for Prow I made sure that we filter out users who aren't collaborators since mungegithub had problems with that.
https://github.com/kubernetes/test-infra/blob/dbee4115d7033719bd336b6fad7c8d4b63285da6/prow/repoowners/repoowners.go#L169-L179
It would still be best to skip large directories that we don't care about. The `approve` plugin is very sl

[2018-01-24 00:02] cjwagner opened #6404 "Improve 'repoowners' package and 'approve' plugin performance."
The `repoowners` package and specifically the `approve` plugin seem slow right now compared to other plugins. It can take nearly 20 seconds for the `approve` plugin to react to an event. Given that most of the time it takes about 7 seconds for the plugin to respond, the longer delays are likely from the `repoowners` package reloading the OWNERS data for the repo after a cache miss.

- The `repoown

[2018-01-24 00:05] ixdy commented on #6075
Good call; the verify jobs would likely fail, if nothing else. I've opened cherry-pick PRs for release-1.9 and release-1.8. (Earlier branches did not use gazelle.)

[2018-01-24 00:25] stevekuznetsov commented on #6404
One argument I remember hearing -- and why I think ultimately we added a check for org membership and didn't ignore vendor -- was that if someone is active in a repo as well as in a downstream repo that vendors the first, someone changes vendored code, that person is the most appropriate person to vet changes at that point. Skipping owners in `vendor/` effectively gets us back to the "ask Clayton

[2018-01-24 00:30] ixdy commented on #5934
deployed for real now.

[2018-01-24 00:36] hklai commented on #5934
Still connection problem in chrome, but works in safari.

[2018-01-24 00:39] ixdy commented on #5934
Anything suspicious in the network tab of developer tools? Do you have an extension which might be blocking it?

[2018-01-24 00:40] #6398 closed

[2018-01-24 00:41] ixdy commented on #5934
Oh, http://gcsweb.istio.io/ is a different deployment.

Not sure who's maintaining that, but you'll need to update to `k8s.gcr.io/gcsweb-amd64:v1.0.6` like in https://github.com/kubernetes/k8s.io/pull/102.

[2018-01-24 00:44] ixdy commented on #5934
https://github.com/istio/admin-sites/blob/1998be2ad5b2d6d4eae8d072e8585bbdc47857ef/gcsweb.istio.io/deployment.yaml#L23 needs to be updated/deployed.

[2018-01-24 01:01] BenTheElder opened #6407 "Possible shared builds Improve shared builds location improvement"
- We can potentially run `bazel build //:save_git_version` to get `bazel-genfiles/version` *before* the rest of the build executes, and upload the shared-builds pointer file *before* the build finishes. This should make sure the storage.googleapis.com link is hot by the time the next job runs, but has the downside of pointing to a build that isn't uploaded yet 🤷‍♂️

I have a feeling this is worth

[2018-01-24 01:03] BenTheElder commented on #6407
For context the bazel build is essentially uploaded at `<prefix>/$(cat bazel-genfiles/version)` where `prefix` comes from the `--gcs=` scenario flag.

[2018-01-24 01:04] BenTheElder commented on #6407
cc @cjwagner xref #5922

[2018-01-24 01:29] dims commented on #6407
@BenTheElder sounds better then me running "/test all" and crossing my fingers :)

[2018-01-24 01:33] BenTheElder commented on #6407
@dims likely you'd see the same results without #5922, we seem to mostly not be hitting the retry logic unless we're running a test against a commit that the parent job hasn't run for.

[2018-01-24 02:24] cjwagner commented on #6407
We can work around that limitation. SGTM.

[2018-01-24 02:32] #5895 closed

[2018-01-24 02:37] cjwagner commented on #5848
This was implemented in #6053

[2018-01-24 02:37] #5848 closed

[2018-01-24 03:48] BenTheElder commented on #6296
@spiffxp looks like it's `make -C label_sync update-config` to push the updated config map which depends on the credentials so.. yes? I'll push the config.

[2018-01-24 03:49] BenTheElder commented on #6296
pushed the configmap from `ce7f426c8020d5ac2b686493037a394de8a05e81`

[2018-01-24 13:10] shyamjvs commented on #6392
I believe it's this:

[code]

which is coming from this line of code in the script: https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/benchmark-dockerized.sh#L54
This didn't happen before and it's quite surprising why it just didn't create that file to write the output.

[2018-01-24 13:32] shyamjvs commented on #6392
I've sent out the above PR to fix the non-existing file issue. Hope it helps.

[2018-01-24 18:29] #6375 closed

[2018-01-24 18:33] krzyzacy commented on #6392
[code]

hummm maybe '/workspace/artifacts` did not exist yet?

[2018-01-24 19:11] shyamjvs commented on #6392
Yup.. that seems to be the issue. Will send out a fix asap.

[2018-01-24 20:40] spiffxp commented on #5183
/remove-lifecycle stale
this is still a usability bug, removing stale to see if this is a thing we need to revisit when tide rolls through

[2018-01-24 21:32] rmmh opened #6426 "PR dashboard usernames should be case-insensitive"
It's pretty confusing otherwise!

https://k8s-gubernator.appspot.com/pr/bentheelder
https://k8s-gubernator.appspot.com/pr/BenTheElder

[2018-01-24 22:40] BenTheElder commented on #6426
ha. Yeah I didn't think to patch this in gubernator, I patched prow everywhere now I think :stuck_out_tongue:

[2018-01-25 01:38] cjwagner commented on #6145
I want to make some progress on this before enabling Tide on k/k.
I think for now, changing the statuses to be one of `tide - In merge pool.` or `tide - Not in merge pool.` is sufficient to clarify that Tide is a merge queue like the `Submit Queue` status context that it is replacing.
When we migrate the SQ status context to the tide context using the [migratestatus tool](https://github.com/kubern

[2018-01-25 07:09] fejta commented on #4445
/remove-lifecycle frozen

[2018-01-25 07:09] fejta commented on #5051
/remove-lifecycle frozen

[2018-01-25 07:10] fejta commented on #4761
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:10] fejta commented on #4752
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:11] fejta commented on #4744
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:11] fejta commented on #4425
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:11] fejta commented on #4402
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:12] fejta commented on #4046
/remove-lifecycle frozen

[2018-01-25 07:12] fejta commented on #3944
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:12] fejta commented on #3737
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:12] fejta commented on #3396
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:12] fejta commented on #3178
/remove-lifecycle frozen

[2018-01-25 07:12] fejta commented on #2621
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:12] fejta commented on #1723
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:13] fejta commented on #1368
/remove-lifecycle frozen
/remove-lifecycle stale

[2018-01-25 07:22] BenTheElder commented on #5212
@cjwagner do we still want this?
/shrug

[2018-01-25 12:06] kargakis opened #6437 "Search jobs based on any part of the name"
It would be nice to return search results in deck based on any part of the name. Our jobs are prefixed with long prefixes like `test_pull_request_openshift_origin_JOB_ID` and I would really like to have to type only `JOB_ID` in order to get results for the job I am looking for.

@BenTheElder @qhuynh96
/area prow
/kind enhancement

[2018-01-25 12:30] kargakis commented on #1986
Meta types updated in https://github.com/kubernetes/test-infra/pull/6199
Rest of the prowjob api updated in https://github.com/kubernetes/test-infra/pull/6421

Once the API is updated:
* the directory structure of the place we hold api types in prow will likely need to change
* we need to vendor [client-go](https://github.com/kubernetes/client-go) and [code-generator](https://github.com/kubernetes

[2018-01-25 16:29] shyamjvs commented on #6392
Ok, the above PR fixed those failures. However, the original issue (i.e missing lines of benchmark output to stdout) still remains.
And in fact those are the lines most useful from the job.

@krzyzacy @BenTheElder - Any leads? Maybe sth going wrong with the stdout stream in the container?

[2018-01-25 17:07] qhuynh96 commented on #6437
With the new fuzzy search box, this should be achieve. The code was checked in yesterday but the deck seems not bumped yet.

[2018-01-25 17:11] qhuynh96 commented on #6437
/assign @qhuynh96

[2018-01-25 18:46] kargakis commented on #6437
I have picked #6288 into our fork (https://github.com/openshift/test-infra/commit/d5c4d3977e451fac6208db51970572f65360d701) and deployed it yesterday.

https://deck-ci.svc.ci.openshift.org/

Doesn't work as I would expect though (:/) hence this issue.

[2018-01-25 19:02] cjwagner commented on #5051
@qhuynh96's work to add Github oauth and a job triggering page to Deck could make this possible.

[2018-01-25 19:03] qhuynh96 commented on #6437
![kbfonnqwfxo](https://user-images.githubusercontent.com/24363693/35406980-3d9173f4-01bf-11e8-9677-2c41d1b5a5c0.png)

Is this what you meant or something else?

[2018-01-25 19:06] cjwagner commented on #5212
Yes, thats a bug.
/assign

[2018-01-25 19:09] kargakis commented on #6437
Yeah, what you did does not work for me (I am on Firefox 57). Just tried Chrom and it seems to work fine there.

[2018-01-25 19:12] qhuynh96 commented on #6437
can you hard reset your browser/ clear cache? We did test it on firefox but will re-test it again.

[2018-01-25 19:15] krzyzacy commented on #6392
@shyamjvs can you point us where are those lines get printed during the integration test?

[2018-01-25 19:18] kargakis commented on #6437
No luck :( Wondering whether this breaks because of my prefs.js configuration 🤔

[2018-01-25 19:20] shyamjvs commented on #6392
They are printed by go when it runs the test.. i.e. as part of `go test` which is called inside the target `make test-integration ...` in the benchmark script.

[2018-01-25 19:21] shyamjvs commented on #6392
Maybe there's a way to reproduce this locally? Any leads on how to run the job in the kubekins_e2e container locally?

[2018-01-25 19:24] qhuynh96 commented on #6437
I found a bug.

https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/static/script.js#L259

Missing event parameter. Cant believe it did not break in Chrome. I fix the bug now.

[2018-01-25 19:25] krzyzacy commented on #6392
the container looks like
[code]
you'll need to mount a service account

[2018-01-25 19:35] fejta opened #6446 "panics during config load should not down prow"
https://blog.golang.org/defer-panic-and-recover

/cc @BenTheElder @rmmh
/area prow

[2018-01-25 20:19] fejta commented on #6446
/assign

[2018-01-25 21:18] stevekuznetsov commented on #6437
Can confirm, broken in FF works in Chrome as well

[code]

[2018-01-25 21:21] #6437 closed

[2018-01-25 21:37] kargakis commented on #6446
+1

Current behavior when the config cannot be loaded because of an error other than a panic simply hoses config loading and does not blow up the process which continues to work with the last known good config.

[2018-01-25 21:41] kargakis opened #6449 "invalid character '(' after object key:value pair"
Saw this in deck logs:
[code]

Around that time, tide merged a PR:
[code]
Unclear yet how did this issue cash out in the tide frontend.

@cjwagner
/area prow

[2018-01-25 23:25] heckj commented on #6145
SIG-DOCS has been hitting a little of this learning - as a suggestion, enabling some UX so that "how it works" is more easily found. Right now the link from "not in the tide pool" takes you to a fairly inscrutable page, and if there was a "HOW THIS WORKS" kind of link within there to
https://github.com/kubernetes/community/blob/master/contributors/devel/owners.md there would be a path to getting t

[2018-01-25 23:56] stevekuznetsov commented on #6145
@cjwagner is it not going to be possible to thread through the specific items that are keeping a PR from being in the tide pool?

[2018-01-26 00:07] cjwagner commented on #6145
@stevekuznetsov That is what we will ultimately do. I'm trying to make a simpler fix before deploying to k/k though. Updating tide to explain why a PR isn't in the pool via the status context will take more work (what if a repo is listed in multiple queries? which query should we try to satisfy?).

@heckj The `Merge Requirements` section on that page expands to show the merge requirements for each

[2018-01-26 00:34] kargakis commented on #6145
We can validate this during config load.

[2018-01-26 01:08] justinsb opened #6457 "kubetest publishes the publish-on-success file twice"
https://github.com/kubernetes/test-infra/blob/master/kubetest/main.go#L417

https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L306

That's just immodest.

[2018-01-26 02:18] BenTheElder commented on #6145
Tags not yet set for merge approval doesn't cover failing / missing tests?

@qhuynh96 is starting on a user dashboard with github login to allow users to see their PR status on prow.k8s.io someday, we can only pack so much detail into the status context on the PR, the strings are very quickly truncated.

[2018-01-26 02:32] BenTheElder opened #6462 "Use PID limits"
the prow build cluster(s) should use https://github.com/kubernetes/kubernetes/pull/57973 once it is available to us

/area prow
/assign

[2018-01-26 02:35] #5473 closed

[2018-01-26 04:32] justinsb commented on #6457
/meow

[2018-01-26 06:11] BenTheElder commented on #5488
/assign @ixdy

[2018-01-26 06:40] chrislovecnm opened #6464 "Make fejta-bot admit that it is a bot"
I would be good to make @feta-bot a bit more user-friendly.  It could admit that it is an automated computer program, and is a bot.  To newer users not familiar with Google bots, it may not be evident what a @feta-bot is.

See https://github.com/kubernetes/kops/issues/3566#issuecomment-359313231 for the reason that I am mentioning this.

[2018-01-26 10:15] fejta commented on #6457
/area kubetest

[2018-01-26 12:21] justinsb commented on #6457
(I'm also happy to fix, just not sure which one we want.  I suspect figuring that out is harder than the fix :-) )

[2018-01-26 14:35] mattfarina commented on #6145
@BenTheElder GitHub has a dashboard where I can view my PRs for a repo. I can see the CI status and the tags on the PR. At a glance I can see if CI is passing and any status passed in labels. If our use of CI status just reflected CI this could tell people if all the tests are passing and if it's been approved/reviewed (via the labels). Is there some other status a dashboard needs to convey?

[2018-01-26 16:12] stevekuznetsov commented on #6145
@cjwagner I'm not sure deploying to `k/k` and exposing _that_ many devs to the (poor) UX of the current status (or even the proposed `"Not in merge pool"`) when it's a clear regression from the Submit Queue behavior is a good idea.

[2018-01-26 16:14] stevekuznetsov commented on #6464
Oh no :(

[2018-01-26 16:14] stevekuznetsov commented on #6464
/kind enhancement
/assign @fejta

[2018-01-26 17:23] BenTheElder commented on #6145
Mergeability also depends on having or not having labels and or native
github review depending on the repo's configuration. The intention is to
provide a similar dashboard that understands our merge process. GitHub
can't really do that in their dashboard. Passing tests != ready to merge.

On Fri, Jan 26, 2018, 06:35 Matt Farina <notifications@github.com> wrote:

[2018-01-26 17:27] BenTheElder commented on #6145
The submit-queue also sets a yellow context until mergeability is met.

On Fri, Jan 26, 2018, 06:35 Matt Farina <notifications@github.com> wrote:

[2018-01-26 18:17] chrislovecnm commented on #4361
I also reduced the image volume size in another PR to help with this issue.  I think we can close this now as we have moved to the new account.  Thoughts?

[2018-01-26 18:35] yastij commented on #4361
I agree,  this is holding #6362

[2018-01-26 21:24] #6426 closed

[2018-01-26 21:59] kargakis commented on #6145
Until the dashboard solution is proven, we need to ensure the context does
not regress as most of our users depend on it today.

On Fri, Jan 26, 2018 at 6:27 PM, Benjamin Elder <notifications@github.com>
wrote:

[2018-01-26 22:12] guineveresaenger opened #6469 "Improve k8s-ci-bot language to be more clear"
In k/test-infra's [contributing](https://github.com/kubernetes/test-infra/blob/master/CONTRIBUTING.md) instructions, the administrative requirements for having your pull request approved and lgtm'd is described fairly clearly.

The actual bot prompts should outline these requirements and remaining steps to take more clearly, with the contributor's level of authorization in mind.

Currently, if a n

[2018-01-26 22:13] guineveresaenger commented on #6469
/area prow

[2018-01-26 22:33] guineveresaenger commented on #6469
According to [this document](https://github.com/kubernetes/community/blob/master/contributors/devel/owners.md#the-code-review-process) the author of a pull request should also assign reviewers.

I have never done this. Nor has the bot prompted me to do this.

I have so far just poked people via slack or other channels that I knew would be interested. That is a barrier for new folks who are not con

[2018-01-26 23:01] cjwagner commented on #6469
The bot should prompt you to `/assign` users in the approval notification (although this might not be the right place to mention this):

In some repos we have the [blunderbuss plugin](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/blunderbuss) enabled. This plugin automatically requests reviews based on the `reviewers` section of OWNERS files.

[2018-01-26 23:03] BenTheElder opened #6475 "Woof should filter out image types github doesn't support"
https://github.com/kubernetes/test-infra/pull/6470#issuecomment-360928810
`.mp4` won't work

/kind bug
/area prow
/priority critical-urgent

[2018-01-26 23:07] kargakis opened #6476 "More sophisticated prow GC"
Everything in prow is GCed today based on a configured duration. We may want to add two more options and keep the last N succeeded and failed prowjobs around.

/area prow
/kind enhancement

[2018-01-26 23:26] krzyzacy commented on #6284
done

[2018-01-26 23:26] #6284 closed

[2018-01-26 23:29] #5171 closed

[2018-01-26 23:33] guineveresaenger commented on #6469
Ah. Okay, the doc I linked is I think a bit wordy and we're taking it (and at least one similar doc) under review for the contributor guide.

[2018-01-26 23:40] stevekuznetsov opened #6478 "prow: deck: plugin help for LGTM/approve is unclear"
Right now I see

| Example | Description | Who Can Use | Plugin |
| - | - | - | - |
| `/approve` `/lgtm` | Approves a pull request | Users listed as 'approvers' in appropriate OWNERS files. | APPROVE |

Does this mean that:
 - `/lgtm` approves a PR?
 - I need to be listed as an `'approver'` in an `OWNER` file to `/lgtm`?

/cc @BenTheElder @cjwagner
/area prow
/kind bug

[2018-01-26 23:51] BenTheElder commented on #6478
We should really improve the help text in general and probably put back the usage column as well.

[2018-01-27 00:00] #6475 closed

[2018-01-27 00:05] BenTheElder commented on #6475
/woof

[2018-01-27 00:06] BenTheElder commented on #6475
/woof

[2018-01-27 00:07] BenTheElder commented on #6475
/woof

[2018-01-27 00:08] BenTheElder commented on #6475
/woof

[2018-01-27 00:08] BenTheElder commented on #6475
/woof

[2018-01-27 00:12] cjwagner commented on #6478
Yeah, we definitely need to add the `Usage` column back, the examples don't show all the ways the command can be used so the `Usage` info is important. @qhuynh96

As for `/lgtm` sometimes indicating approval, it shouldn't in my opinion. We should just require that users type
[code]
if they really want to LGTM and approve the PR. @spiffxp
Users currently using `/lgtm` to indicate both LGTM and appr

[2018-01-27 00:14] guineveresaenger commented on #6469
/assign

[2018-01-27 00:15] BenTheElder commented on #6475
/woof

[2018-01-27 00:16] BenTheElder commented on #6475
/woof

[2018-01-27 00:16] stevekuznetsov commented on #6478
Unclear that we need the usage column, what we need is to communicate to the user how to use the commands. `/[un]assign [[@]username...]` is simply not useful at telling me as a user _what_ I can do and _how_ to do it unless I go into a PR an put all the permutations in there.

[2018-01-27 00:17] BenTheElder commented on #6475
/woof

[2018-01-27 00:19] stevekuznetsov commented on #6475
ruh roh

[2018-01-27 00:19] stevekuznetsov commented on #6475
/woof

[2018-01-27 00:19] stevekuznetsov commented on #6475
/meow

[2018-01-27 00:19] stevekuznetsov commented on #6475
/bark

[2018-01-27 00:19] BenTheElder commented on #6475
/woof

[2018-01-27 00:20] cblecker commented on #6475
/bark
/bark
/bark
/bark
(there's a squirrel outside)

[2018-01-27 00:20] BenTheElder commented on #6475
/woof

[2018-01-27 00:20] BenTheElder commented on #6475
/woof

[2018-01-27 00:44] BenTheElder opened #6483 "prow bump.sh doesn't bump cluster/ scripts"
This only works for the Makefile.

/kind bug
/area prow
/assign
/assign @fejta @cjwagner

[2018-01-27 01:06] BenTheElder opened #6485 "rename plugin help to commands help and make commands linkable"
- "plugin help" is now organized by commands, we should rename this and add a redirect page that points users to command-help or commands-help or similar.

- command entries (rows in the table) should have a fragment identifier on a link button so we can link to them. I've discussed this offline with @qhuynh96 and the initial thought is a link icon in the top right.

/ kind enhancement
/area prow

[2018-01-27 01:06] BenTheElder commented on #6485
/cc @cjwagner @stevekuznetsov

[2018-01-27 01:06] BenTheElder commented on #6485
/cc @kargakis

[2018-01-27 16:42] cblecker commented on #5915
This was fixed. Thanks all!

[2018-01-27 16:42] #5915 closed

[2018-01-27 20:48] chrislovecnm opened #6497 "leaking EBS volumes - aws testing"
I am seeing multiple EBS volumes in us-west-2 CNCF account.  Is the janitor suppose to clean these up?

[2018-01-27 23:31] chrislovecnm opened #6498 "kubetest kops fails on Debian stretch"
pip is failing to install aws cli, because it is missing setup tools.  I am wondering if we want to remove the dependency or just  set pip to install setuptools and aws cli.

[2018-01-28 03:10] fejta commented on #6483
/assign

[2018-01-28 03:58] fejta commented on #6464
Accurately explaining a `fejta-bot` requires a dataset of other entity explanations for reference. Have we determined what a `chrislovecnm` is? An explanation of `stevekuznetsov` would be equally helpful here.

Current analysis estimates below a 0.0295% probability that `fejta-bot` is automated greek cheese.

[2018-01-28 05:16] yguo0905 commented on #3320
@krzyzacy

1. I see we have `--gcp-node-image` and `--gcp-master-image` defined in
https://github.com/kubernetes/test-infra/blob/177b5e1767bd079ced46ead81a8433a9a515cb6a/kubetest/main.go#L72 and https://github.com/kubernetes/test-infra/blob/177b5e1767bd079ced46ead81a8433a9a515cb6a/kubetest/main.go#L72
They set the `KUBE_NODE_OS_DISTRIBUTION` and `KUBE_MASTER_OS_DISTRIBUTION` env vars, which specif

[2018-01-28 05:49] fejta commented on #3886
Not perfect but mitigated... Let's see if the new wording helps at all.

/close

[2018-01-28 05:49] #3886 closed

[2018-01-28 06:03] fejta opened #6501 "Auto-filed issues need to include a sig"
https://github.com/kubernetes/kubernetes/issues/58429 seems to know it is a sig-network issue but doesn't tag a team nor add a /sig network comment.

/cc @cjwagner

[2018-01-28 06:43] fejta commented on #6350
My 2c:
* WIP should always require the author's attention
* hold should follow the normal attention flow

[2018-01-28 06:55] fejta commented on #2699
Where do we graph prow metrics? Velodrome?

[2018-01-28 07:22] fejta commented on #2421
@kubernetes/sig-aws-misc

Looks like this job is broken now with
`W0128 06:27:34.033] F0128 06:27:34.032656     212 main.go:880] --path "s3://janitor-jenkins/objs.json" isn't a valid S3 path: AccessDenied: Access Denied`

/remove-lifecycle stale

[2018-01-28 07:22] fejta commented on #6497
Dup of https://github.com/kubernetes/test-infra/issues/2421?

[2018-01-28 07:23] fejta commented on #1755
/remove-area mungegithub

[2018-01-28 07:24] fejta commented on #1755
How about if you own all the files you're modifying we don't remove the LGTM label?

[2018-01-28 07:42] fejta opened #6502 "Make bazel import requirements.txt"
Consider using https://github.com/bazelbuild/rules_python for gubernator to make bazel testing work

/assign @rmmh
/area gubernator

[2018-01-28 22:18] krzyzacy commented on #3320
sure, or we should migrate those envs to e2e context flags?

[2018-01-28 22:28] kargakis commented on #6476
Not clear about presubmits, but I think this makes sense for postsubmits/periodics.

[2018-01-28 22:32] krzyzacy commented on #6476
we keep the last succeeded | failed pod around these days right? we can extended it to prowjobs as well I guess..

cc @cjwagner

[2018-01-28 22:37] kargakis commented on #6476
No, I think pods are getting cleaned up on a even tighter interval than prowjobs. Since artifacts are persisted in GCS, I don't think we need to persist pods (assuming we redirect prowjob log to use gubernator for complete prowjobs) but it probably makes sense for prowjobs from a UX pov when somebody browses deck.

[2018-01-28 22:41] krzyzacy commented on #6476
ah, I was referring to something similar to https://github.com/kubernetes/test-infra/pull/4587

[2018-01-28 22:52] kargakis commented on #6476
Thanks for linking that PR, reminds me that we already do some sort of what I am asking here for making periodics work. Though, I am not sure whether we want to remove the interval-based approach in favor of cron. If we do that, we don't need the changes introduced by #4587, right?

[2018-01-29 00:15] ixdy commented on #6392
@shyamjvs what is printing out the `BenchmarkScheduling/` lines? are they being printed to stderr instead of stdout?

[2018-01-29 00:17] shyamjvs commented on #6392
No, they're being printed to stdout (checked it by redirecting stderr >
/dev/null).

On Mon, Jan 29, 2018, 1:15 AM Jeff Grafton <notifications@github.com> wrote:

[2018-01-29 00:19] ixdy commented on #6392
do you know what code is printing them out? maybe there's some verbosity setting somewhere that's being set to something different?

[2018-01-29 00:27] ixdy commented on #6075
I believe all of the various kubernetes repos and branches should be fixed now.

[2018-01-29 00:27] #6075 closed

[2018-01-29 01:13] yguo0905 commented on #3320
What are the e2e context flags?

[2018-01-29 11:15] shyamjvs commented on #4445
@BenTheElder @cjwagner I generally understand and agree with most of your concerns on how this can potentially affect batch merging. However, I'd like to understand a bit more about your concern here. Few points:

- Wrt 'inconsistent merge requirements' and 'confusing from PR author perspective': IMO it is not very unreasonable that a PR author is hidden from this detail (that their PR is being sc

[2018-01-29 16:48] mattfarina commented on #6145
@BenTheElder please forgive me if this has already been discussed but there's an impact to contributor experience.

The status API on GitHub is almost always used to report testing or CLA status. I went looking around and could not find a non-k8s repo that used it for cases other than this. For those not working with Kubernetes they see the status as tests passed, failed, or are pending. This impa

[2018-01-29 17:51] BenTheElder commented on #6145
I don't think it has. But what tide is doing is continuing the submit-queue
behavior for the moment, the only difference is in the textual description
/ status name.

Outside of kubernetes this doesn't seem common because merge automation
doesn't seem particularly common (in open source at least). So those who
aren't used to this extra status may not be used to what it is there for to
begin with.

[2018-01-29 18:08] krzyzacy commented on #3320
(wrong account :-( ) nvm - they are not part of e2e and used in cluster config

`migrateGcpEnvAndOptions` is a temporary function for people are still using legacy global envs, feel free to refactor `KUBE_NODE_OS_DISTRIBUTION ` and `KUBE_MASTER_OS_DISTRIBUTION` to become better

[2018-01-29 18:26] stevekuznetsov commented on #2699
Right now we are using a Graphana deployment on our cluster, not sure these have been published on a dashboard on Velodrome yet but I'd image the config is the same? @karataliu

[2018-01-29 18:27] stevekuznetsov commented on #2699
@kargakis

[2018-01-29 18:29] kargakis commented on #2699
We don't use Grafana yet, reminds me that I need to put down a card about
creating a prow dashboard that aggregates all the metrics I recently added.

On Mon, Jan 29, 2018 at 7:27 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2018-01-29 19:32] cjwagner commented on #6501
/assign

[2018-01-29 19:37] #6483 closed

[2018-01-29 19:49] krzyzacy commented on #4249
looks like this is fixed

[2018-01-29 19:49] #4249 closed

[2018-01-29 20:04] cjwagner commented on #4445
Thats not quite what I was trying to convey. I'm mainly concerned that this pattern could stop all batches from merging.
Not all PRs will be tested as part of a batch. A PR is only tested in a batch if there happen to be other PRs to be tested, so if there are no other PRs, the PR may merge without batch testing. If we only run this job against batches that means that code that fails the job can s

[2018-01-29 20:48] BenTheElder commented on #4445
How does the author of this PR know it hasn't passed and how to fix this? Right now all tests required for merge show up as statuses on the PR...
Since we aren't running this against all PRs now I don't see how we can be so confident about the failure rate as well.

The batch size is dependent on conditions of the pools with Tide. The size will depend on what we manage to pack together and test. E

[2018-01-29 20:50] BenTheElder commented on #6498
we're installing awscli on the kubekins-e2e image now FWIW (once we bump the images again)

[2018-01-29 20:54] BenTheElder commented on #5279
@qhuynh96 interested in this?

I don't think anyone is working on this just yet but we seem to be headed in this direction with EG the plugin help. Serving a versioned copy of Prow docs in deck seems like a good enhancement.
/remove-lifecycle stale

[2018-01-29 20:57] BenTheElder commented on #6476
Keeping **pods** around is expensive-ish, keeping ProwJobs around is cheap and handy.
We should also consider persisting these to GCS as an option (perhaps just in addition to tweaking job GC). I think @stevekuznetsov mentioned this recently.

[2018-01-29 21:06] krzyzacy commented on #4578
@crimsonfaith91 has already updated the doc, let's close this for now

[2018-01-29 21:06] #4578 closed

[2018-01-29 21:10] BenTheElder commented on #4388
This is strange since most of github other than display is lowercase / case insensitive..
/assign @bentheelder

[2018-01-29 21:10] BenTheElder commented on #4388
/assign bentheelder

[2018-01-29 21:11] BenTheElder commented on #4388
/assign @directxman12

[2018-01-29 21:12] BenTheElder commented on #4388
This seems to be working correctly now, if I go to edit the comment above it shows `/assign @directxman12`.
I beleive I incidentally patched this at some point when I made Prow handle users case-insenstively in more places. It's possible that instead GitHub changed something, but either way it seems to be WAI now.
/close

[2018-01-29 21:12] #4388 closed

[2018-01-29 21:18] stevekuznetsov commented on #3694
@cjwagner

[2018-01-29 21:19] stevekuznetsov commented on #5152
@kargakis did we finish this?
/remove-lifecycle stale

[2018-01-29 21:52] #4407 closed

[2018-01-29 21:55] cjwagner commented on #3694
Currently, we filter OWNERS files to only include repo collaborators. This means that only users who are repo collaborators will be considered in `vendor/` OWNERS files, if a user listed in such a file is not a kubernetes org member or a repo collaborator the user will be ignored.

[2018-01-29 22:00] guineveresaenger commented on #2621
/assign

[2018-01-29 22:10] kargakis commented on #5152
Needs triaging

/assign

[2018-01-29 22:12] qhuynh96 commented on #5279
Do we have existing docs to be served?

[2018-01-29 22:16] BenTheElder commented on #5279
There's always https://github.com/kubernetes/test-infra/blob/master/prow/README.md, we could serve this from deck.

[2018-01-29 22:21] qhuynh96 commented on #5279
Sweet! I will pull it to deck.

/assign

[2018-01-29 22:24] cjwagner commented on #2621
Automatically applying the `lgtm` label in this case makes sense, but the `approved` label cannot be applied until the PR is fully approved by enough OWNERS file `approvers`.
Using reviews to indicate approval from a user would also require the `trigger` plugin to list all reviews on a PR in addition to looking for `/approve` comments which would increase token usage substantially. A similar issue

[2018-01-29 22:25] cjwagner commented on #6501
/woof

[2018-01-29 22:25] cjwagner commented on #6501
/meow clothes

[2018-01-29 22:26] cjwagner commented on #6501
/meow caturday

[2018-01-29 23:49] BenTheElder commented on #6446
/priority important-soon
/kind bug

[2018-01-30 01:31] chrislovecnm commented on #6498
Kubetest uses pip install and it is missing setuptools on the install call. This is probably because stretch is using python3 ... not certain. The call is called regardless of it is installed or not.

We really should get rid of having the cli. I will dig into where it is used once my ha or is in.

[2018-01-30 01:33] chrislovecnm commented on #5194
/remove-lifecycle stale

[2018-01-30 01:40] BenTheElder commented on #6502
xref: https://github.com/kubernetes/test-infra/issues/4849
/assign

[2018-01-30 02:24] BenTheElder commented on #6502
I took a stab at this, but only got so far as some of the code relies on appengine libraries internally. The pip rules are quite easy to work with though, might be worth converting our other python stuff at least.

[2018-01-30 15:58] stevekuznetsov commented on #5194
I'm not sure there is any future for a `/wip` command. There's not really any functional difference between it and `/hold` and as per my last comment this conversation has happened a couple times already.

/close

[2018-01-30 15:58] #5194 closed

[2018-01-30 15:59] stevekuznetsov commented on #3694
@cjwagner right, that was my patch that added that filtering as per above -- I kept this open since it only answered this question obliquely :)

[2018-01-30 17:11] php-coder opened #6532 "Add kind/cleanup labels based on the PRs titles"
Prow can add `kind/cleanup` to the PRs that has ["typo"](https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+in%3Atitle+typo) or ["remove unused"](https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+in%3Atitle+%22remove+unused%22) in their titles.

/area prow

[2018-01-30 18:00] Random-Liu opened #6533 "test-grid tab stays red forever."
https://k8s-testgrid.appspot.com/sig-node-containerd#node-e2e-benchmark

After we fix a test. New test rows are created, but old test rows are still red...
And the test tab stays red, too.

It's hard to monitor test result because of this.

@kubernetes/sig-testing-bugs

[2018-01-30 19:20] #5488 closed

[2018-01-30 19:32] BenTheElder commented on #6533
/assign @michelle192837

FWIW I think this is WAI, those tests *are* still red. Eventually they won't be in the tab depending on the number of days kept.

[2018-01-30 19:33] krzyzacy commented on #6533
it looks not red to me

[2018-01-30 19:41] rmmh commented on #6533
It takes more than one passing test run for things to not be considered red.

[2018-01-30 19:53] michelle192837 commented on #6533
@rmmh Not by default; num_passes_to_disable_alert = 1 unless someone has specifically changed that in their config.

However, these did not have passing test runs, they stopped running and had no results after. So this is working as intended, since the failures didn't have a passing run proving they passed, and the failure was in recent runs. If you would like failures to stop earlier, you can adj

[2018-01-30 20:57] Random-Liu commented on #6533
Ha, it become green. Thanks!

[2018-01-30 20:57] #6533 closed

[2018-01-30 21:32] cjwagner commented on #3694
I meant to indicate that Prow is doing this now as well, but I was unclear :stuck_out_tongue_closed_eyes:
I agree that we should keep this open, skipping `vendor/` entirely might still be preferable.

[2018-01-30 22:25] #6485 closed

[2018-01-30 22:26] stevekuznetsov commented on #6532
/cc @kargakis @cjwagner

[2018-01-30 23:26] nickchase opened #6545 "Need "non-user-facing" label for PRs"
We're using a new autogeneration process for release notes, and to make things more manageable, we'd like people to be able to specify that a change is non-user-facing so that we can omit it from the release-notes process.

Ideally we'd require either "user-facing" or "non-user-facing" but if that's not possible than just the one works.

[2018-01-30 23:59] BenTheElder commented on #6545
/cc @fejta @spiffxp

[2018-01-31 00:57] krzyzacy commented on #6111
done by #6538

[2018-01-31 00:57] #6111 closed

[2018-01-31 01:00] krzyzacy commented on #5316
okay, I've spent ~1h to bikeshed testgrid config for https://github.com/kubernetes/test-infra/pull/6538 - there are still a few jobs, like unit, verify, build, federation... not using the same pattern which makes advance those release dashboards super painful. Will give it another stab during 1.10 cycle.

[2018-01-31 01:07] krzyzacy commented on #5893
It looks stable since the 01/05 entry. It will probably still facing the same issue whenever k8s decide to kill the running pod, but with ample amount of resource request, things like OOM really should not happen.

Also something I can think of is maybe while we upgrading k8s versions, but it seems fine when we updating from 1.8.5 to 1.8.6 last week.

I'll close it for now, feel free to reopen whe

[2018-01-31 01:07] #5893 closed

[2018-01-31 01:08] krzyzacy commented on #5449
shall we close this as well?

[2018-01-31 01:22] BenTheElder commented on #5449
/close

[2018-01-31 01:22] #5449 closed

[2018-01-31 01:47] krzyzacy commented on #6114
/assign @chrislovecnm
this is probably should be in kops repo?

[2018-01-31 01:47] #5781 closed

[2018-01-31 02:26] BenTheElder opened #6550 "hack/update-config.sh sometimes appends garbage"
I think something goes wrong with the temp file and config_sort running after fixconfig (?)

Need to investigate and fix this. In the meantime if you see random changes at the end of the file just delete them and re-run it.

/kind bug
/assign

[2018-01-31 06:05] chrislovecnm commented on #6114
This is part of kubetest actually, etcd2 is default since h upgrade is a little complex still. We are working on that, but will send in a pr to enable etcd 3

[2018-01-31 06:07] chrislovecnm opened #6554 "Create area tag for aws"

[2018-01-31 06:07] chrislovecnm commented on #6554
Can I get an aws are tag? Easier to filter PRs and issues.

[2018-01-31 09:45] kargakis opened #6555 "Tests require me to sign commits"
Every time I open a new terminal and run `make test` in `prow`, I have to sign the test commits because of my global git config. We should be able to avoid it by tweaking the test repo git config to not require signing.
[code]
@spxtr

/area prow

[2018-01-31 10:41] kargakis commented on #6555
Unfortunately non-test code needs to be fixed: https://github.com/kubernetes/test-infra/pull/6556

[2018-01-31 13:28] shyamjvs commented on #6392
I've spent some time yesterday trying to reproduce this issue locally (within a container) and finally managed to do it by:

[code]

Before running the above you need to ensure that you have the kubekins GCP service-account stored locally on your machine at `/etc/service-account/service-account.json`.

[2018-01-31 13:30] shyamjvs commented on #6392
It turns out that those benchmark lines are not printed as part of the `docker run` command's output, but if I exec into the running container and run the `make test-integration ...` command on bash, those lines get printed.

[2018-01-31 13:36] shyamjvs commented on #6392
While we were digging it up, @porridge identified the reason why this was happening. The stdout of the `go test` command which was being called under the hoods by the make command, was being [filtered based on a regexp](https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/test.sh#L182). This regexp was turned on due to setting the `KUBE_JUNIT_REPORT_DIR` var inside our script.

I'l

[2018-01-31 13:56] shyamjvs commented on #6392
I also managed to verify that the fix works by running it against my PR using:

[code]

and the output had:

[code]

[2018-01-31 14:51] shyamjvs commented on #6392
@krzyzacy @BenTheElder While the above would fix the issue with those missing lines, there's one more piece that we need here.
The pretty-printed results for the benchmark are written to `WORKSPACE/artifacts/`, but the dir is not being uploaded to GCS (for e.g - http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/249/).

Could you fix the execute script (or maybe bootstr

[2018-01-31 16:03] mithrav commented on #5781
Woohoo!

On Tue, Jan 30, 2018 at 5:48 PM Sen Lu <notifications@github.com> wrote:

--
Google MTV
Phone: 917-727-8814

[2018-01-31 17:23] kargakis opened #6561 "gcloud: command not found"
[code]
/shrug
@fejta

[2018-01-31 17:24] kargakis commented on #6561
I've missed discussion, why do we need to pull?

[2018-01-31 17:29] ixdy commented on #6392
it might work if you rename the artifacts directory to `_artifacts`. I think only the unit/verify scenarios use `artifacts`, and only inside the test container (it's mapped to `_artifacts` outside).

[2018-01-31 17:36] shyamjvs commented on #6392
I included that change in my above PR. Will see if that works, thanks.

[2018-01-31 17:38] #6555 closed

[2018-01-31 18:36] krzyzacy commented on #6392
@ixdy good catch :joy: one day we will maybe want to unify everything :man_shrugging:

[2018-01-31 18:37] krzyzacy commented on #5314
I would say this is WAI to prioritize failure entries, closing

[2018-01-31 18:40] michelle192837 commented on #5314
It's possible to change the sorting on a per-dashboard basis. You want to add:

base_options: 'sort-by-name='

[2018-01-31 18:40] michelle192837 commented on #5314
That said, otherwise this is working as intended, yes.

[2018-01-31 18:40] #5314 closed

[2018-01-31 18:48] #6033 closed

[2018-01-31 20:23] BenTheElder commented on #6561
@fejta's new bump process works like:

- check out the commit you'd like to bump from (HEAD?)
- push an image for each component you want to bump (automatic date + sha
tag)
- bump them at once (which verifies that the images are pushed for the
current date+sha)
- push the bump commit

Which means only those with access to image pushing can bump..

On Wed, Jan 31, 2018 at 9:24 AM, Michalis Kargakis

[2018-01-31 21:05] krzyzacy commented on #6497
aws janitor should be up and running again

[2018-01-31 21:05] #6497 closed

[2018-01-31 22:16] chrislovecnm commented on #2421
Do we have logs when it fails, how do we diagnose this problem?

[2018-01-31 22:17] krzyzacy opened #6567 "add unit-test for service-account | ssh key presets"
/assign
/assign @BenTheElder

[2018-01-31 22:20] BenTheElder commented on #6567
/shrug
/meow space

How do we know which jobs need what in the unit test? many jobs are snowflakes in this regard.

[2018-01-31 23:27] krzyzacy commented on #2421
a sample red: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/maintenance-ci-aws-janitor/10006, but I cannot tell what's the error, maybe it simply returns non-zero when cleaned up something

[2018-01-31 23:29] zmerlynn commented on #2421
Yes, it "fails" anytime it has to clean something up, as a heads up that
something is leaking.

On Wed, Jan 31, 2018 at 3:27 PM, Sen Lu <notifications@github.com> wrote:

[2018-01-31 23:31] krzyzacy commented on #2421
thanks @zmerlynn, then this is WAI, I'll close the issue

[2018-01-31 23:31] #2421 closed

[2018-01-31 23:32] zmerlynn commented on #2421
Is it back to intermittent? If so, there may be a separate kops bug.

On Wed, Jan 31, 2018 at 3:31 PM, Sen Lu <notifications@github.com> wrote:

[2018-01-31 23:37] krzyzacy commented on #2421
it fails like once/twice a day - might be related to some busted kops jobs

[2018-02-01 00:51] chrislovecnm opened #6573 "IGW on default vpc is being deleted"
Not certain what is deleting the IGW for the default VPC, but something is.  Maybe the janitor?

[2018-02-01 01:01] chrislovecnm commented on #6573
/sig aws

[2018-02-01 01:11] stevekuznetsov opened #6575 "prow: use options struct pattern for entrypoints"
We should use a pattern like:

[code]

For all of our Prow entrypoints so we can simply unit-test the options validation logic we have in them.

/area prow
/kind enhancement
/assign
/cc @fejta @BenTheElder

[2018-02-01 03:46] heckj opened #6579 "Tide “jamming” on unmergable PRs in repo with no prow presubmits."
Recent large changes to kubernetes/website made a few PR’s click over to have conflicts on their merge, so PRs that were otherwise approved were unable to merge cleanly. One of these was https://github.com/kubernetes/website/pull/7128, another https://github.com/kubernetes/website/pull/6955 If the examples help.

I manually added a `/hold` since prow appeared to be hung for any other merges on the

[2018-02-01 03:54] BenTheElder commented on #6579
AFAIK Normally merge-ability is confirmed by the tests jobs which merge code into master at the beginning of the job -- the PR can definitely still be approved while failing tests by design, sometimes tests are just flaking etc.

No *other* PRs merging while one of these approved is a bug though, tide should fall back to trying to merge single PRs instead of batches of PRs when this happens and wi

[2018-02-01 04:41] cjwagner commented on #6145
I've discussed this issue and related issues with others offline in detail and thought I should share what I'm thinking and try to summarize the design discussions we've had about these topics.
cc @BenTheElder @rmmh @stevekuznetsov @kargakis @mattfarina
Commence wall of text:
### Tide needs some presence on Github PR pages.
Users need to know if their PR is currently meeting merge requirements wit

[2018-02-01 05:42] cjwagner commented on #6579
I don't see any problems with the `approve` plugin. That is just responsible for the "[APPROVALNOTIFIER]" comment and controlling the `approved` label.

There definitely is a bug with Tide here though. Tide doesn't actually check if a PR is mergeable. It instead assumes that if all tests are passing against the latest master branch commit then the PR must be mergeable. However, none of the status

[2018-02-01 05:43] cjwagner commented on #4752
/assign

[2018-02-01 06:56] BenTheElder commented on #6145
Do they? I think maybe they just need a *convenient* way to check. So far we've used a status on the page and ported this over, but if we're not going to behave the same as the submit-queue style then *one* click away to more helpful results is probably acceptable.

We could create an initial comment with a link to a status page for the PR or something similar. We can provider richer feedback outs

[2018-02-01 07:24] cjwagner commented on #6145
I definitely think linking to the user dashboard will provide a much more complete resource for assessing merge requirements for a PR, but I think that getting actionable information directly on the PR page is pretty valuable, especially because users are already used to this with the Submit Queue.

An HTTP caching proxy layer in front of Prow's components would alleviate these problems and is som

[2018-02-01 13:53] #6392 closed

[2018-02-01 15:43] kargakis commented on #6561
I have a PR where I am supposed to bump everything (https://github.com/kubernetes/test-infra/pull/6562). What should I do?

[2018-02-01 16:01] stevekuznetsov commented on #6145
All of the experience I have personally with systems that post and maintain comments on pull requests is negative. Consistently if the comment is edited and not re-created it drifts to the top of the event stream in the PR and is ignored by contributors. We used to have an edited comment that would let users know what their tests were doing and we got pinged _so_ _many_ _times_ asking what the sta

[2018-02-01 16:09] stevekuznetsov commented on #6561
Would love for us to divorce Prow development from Google Prow deployment configuration management once and for all.... y'all should be able to very simply determine the diff from the last time a bump happened to current HEAD and bump as necessary. I wrote a script that did this before.

[2018-02-01 16:10] stevekuznetsov commented on #6561
The question someone that is managing the Prow deployment for k8s should be answering is:

 - since the last deployed version, what commits went into each component?
 - which of those commits do we want in the new deployment?

In the abstract sense it may not even be appropriate for an external contributor to do the bump as it is not necessarily true that if they make a change to a component that

[2018-02-01 16:18] kargakis commented on #6561
Agreed about splitting prow to its own repo that furthermore does not affect the Google deployment. As someone who is doing rebases of test-infra on top of our fork in order to pick changes, trying to figure out what exactly should I review is a PITA today.

[2018-02-01 16:44] kargakis commented on #6145
True. As a Kubernetes developer, I was always annoyed by the fact that I get tons of emails from the bots. Hearing the same complain in Origin today. Related https://github.com/kubernetes/test-infra/issues/1723 https://github.com/kubernetes/test-infra/issues/4460

My thoughts and experience as well. Trying to convince folks to adopt new flows is hard. Really. People are comfortable enough (most of

[2018-02-01 18:35] mikedanese opened #6584 "GKE pull tests are broken because release is in an unexpected gcs path"
[code]

[2018-02-01 19:25] BenTheElder commented on #6145
I'm not suggesting we place the click down in the status details though,
instead in an opened-PR-bot-comment with better visbility.

GitHub statuses generally have poor UX for anything beyond "test foo
failed" or "test foo passed". They're aggressively truncated and don't even
show up to users that aren't logged in.

On Thu, Feb 1, 2018 at 8:44 AM, Michalis Kargakis <notifications@github.com>
wrot

[2018-02-01 19:27] krzyzacy commented on #6584
how easy/hard it is to change where to look for the gcs location? We'd like to unify all PR builds staging to the same location

[2018-02-01 19:33] mikedanese commented on #6584
@zmerlynn @jlowdermilk  might want to weigh in

[2018-02-01 19:34] BenTheElder commented on #6561
I guess just have one of us bump it? I'm of the opinion that we should remove bumping altogether and always deploy all components from the same commit ...

[2018-02-01 19:38] rmmh commented on #6145
+1 for a status like "submit-queue/tide: tests not passing, missing lgtm and approved labels [details]" with an extra click for more details.

Do we care about users not logged into github?

[2018-02-01 20:11] BenTheElder commented on #6145
probably not, they're still not particularly great UX but per discussion at sig-testing standup today I think we all agree it's best to try to mimic the submit-queue here since so many users already know this. We probably should link to a more detailed dashboard though since only telling users part of what is wrong stinks.

Thoughs from this morning with @stevekuznetsov @cjwagner @rmmh @krzyzacy:

[2018-02-01 20:23] cjwagner commented on #6145
Technically, Tide is already doing this now in order to set statuses on PRs not in the pool. It isn't yet an API usage problem, but could become one once it is enabled on k/k (+1000 open PRs). I think it is reasonable for us to require 2 bot accounts to handle GH automation given the scale of the kubernetes org.

[2018-02-01 20:32] krzyzacy commented on #6584
@mikedanese we'll revert to the original path for now

[2018-02-01 20:35] spiffxp opened #6589 "Allow /lgtm to not also mean /approve"
I would like to see an option for the approve plugin that allows `/lgtm` to only mean `/lgtm`, instead of `/lgtm+/approve`.  Something like `lgtmActsAsApprove` with a default of `false`

It's more explicit and less magical to a newcomer.  It would make accurate reporting on approvers less complicated.  There are times where I want to act just as a reviewer instead of an approver, and I can't, beca

[2018-02-01 20:46] BenTheElder opened #6590 "Run a prowjob with podutils locally"
Once we break out git checkout etc from the job container to being integrated with prow we can map kubernetes prow jobs to a wrapper around docker that translates the pod spec and mounts through the local git checkout and skips the log upload.

From a discussion with @dashpole and @krzyzacy

[2018-02-01 20:48] BenTheElder commented on #6590
cc @cjwagner @tevekuznetsov

[2018-02-01 20:48] Bradamant3 commented on #6589
This would help the maintainers of k8s/website a lot. We've just adopted the merge bot, and having approvers up the chain able to merge without realizing it makes both tech review and doc review harder. For sig-docs, we're clear about the distinction. But we can't expect everyone to remember what happens in downchain repos ...

[2018-02-01 20:57] cblecker commented on #6589
I support this. Most approvers know the command, and do /lgtm + /approve anyways.

[2018-02-01 21:02] mattfarina commented on #6589
I would ask that this be configurable. There are some places, such as charts, that would want them the same.

When I looked at devstats developers summary, that Aaron showed off in community today, I noticed that multiple people in the top 10 for review comments are on projects that use /lgtm to also mean /approve.

I support the configurable option.

[2018-02-01 21:04] cblecker commented on #6589
To clarify: When I said "most approvers" I mean "most approvers that I personally see, anecdotally". :)

I also support a configurable option.

[2018-02-01 21:06] liggitt commented on #6589
I'm curious under what circumstances someone would have reviewed and LGTMed and would not approve of the change. LGTM is supposed to represent a more detailed review, right?

[2018-02-01 21:21] fejta commented on #6589
I don't think this should be the default, as who lgtms without approving?

I would be a lot happier with an /lgtm-only command that people can use.

I don't think this should be a flag, as it will be confusing to have /lgtm do different things in differ repos.

So ideally I would like three commands: one for only lgtm, one for only approve and one for both.

If someone wants to /lgtm without causi

[2018-02-01 21:22] Bradamant3 commented on #6589
@liggitt take a look at https://github.com/kubernetes/website/pull/7164. Michelle meant simply to say that she signed off on the review. But bc she's an approver up the chain, the PR was merged. PLUS for docs, we thought to keep the distinction between the old Tech Review LGTM and Docs Review LGTM labels, with /lgtm signifying tech review done and /approve signifying docs review done. I don't thin

[2018-02-01 22:21] stevekuznetsov commented on #6589
The intent behind the two today is:

 - `/lgtm` means "this code has been implemented well"
 - `/approve` means "this code is making a useful change and is in line with the goals of the project"

I think the crux behind the `kubernetes/website` issue is that the repo uses an entirely different approach for their reviews and, while it's possible to map `Tech LGTM` and `Docs LGTM` to the two concept

[2018-02-01 22:27] Bradamant3 commented on #6589
@stevekuznetsov The definitions of intent are super helpful. If we're really going to align contributors' expectations across repos,  I suspect we have even more work to do. I'm taking this issue to sig-docs for more discussion, too.

But a definition of intent is also something a bit different from bot behavior. It's the understanding of sig-docs that the behavior once a label is applied depends

[2018-02-01 22:29] cblecker commented on #6589
The other key piece from Aaron's initial comment:

If we make intent clear, we can better report in it.

[2018-02-02 00:47] liggitt commented on #6589
I'm not sure its scope is that narrow. A situation where a lgtm by an owner doesn't mean they approve is really confusing

[2018-02-02 01:15] fejta commented on #6589
I do not see a use case for lgtm without approve, except as a synonym for "I like this change but don't want it to merge yet for whatever reason." People should use `/hold` and `/hold cancel` for this, not depending on approve/lgtm specifics.

Expectations should be that `/lgtm` and `/approve` generally happen at the same time: people reviewing code should also be the owners of that code. Exceptio

[2018-02-02 01:35] #6584 closed

[2018-02-02 01:41] liggitt commented on #6589
+1

[2018-02-02 08:35] porridge commented on #2580
I don't know if it's the same root cause, since the memory message does not appear, but for example https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/68 consistently returns a 500.

[2018-02-02 11:12] shyamjvs commented on #6392
Just checked that my fix works, and it indeed seems so - http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/297/
Thanks guys!

[2018-02-02 16:39] stevekuznetsov commented on #2580
Similar to #6092

[2018-02-02 18:32] BenTheElder commented on #2580
Soft memory limits are controlled by appengine. The only particularly
feasible way to not throw a trace here is to change appengine settings.
@rmmh any reason we can't increase the limit here?

On Fri, Feb 2, 2018, 09:34 Steve Kuznetsov <notifications@github.com> wrote:

[2018-02-02 18:53] #4752 closed

[2018-02-02 18:53] #6579 closed

[2018-02-02 23:12] BenTheElder commented on #4976
This seems like a bootstrap bug, not gubernator or prow..
/assign
/assign @krzyzacy

[2018-02-02 23:54] fejta commented on #6575
Should we make this an interface?

[2018-02-03 00:00] #4976 closed

[2018-02-03 00:21] nikhiljindal opened #6624 "Accessing kubemci in k/k e2e tests"
Context: Am adding an e2e test for kubemci as part of the existing ingress test suite: https://github.com/kubernetes/kubernetes/pull/59234. The test job needs to be able to run the kubemci binary.

How can I ensure that the job has access to kubemci binary?

@BenTheElder suggested that we can add a flag to kubetest to fetch the binary and make it available to the job.
Filing this issue to make tha

[2018-02-03 00:22] BenTheElder commented on #6624
/area kubetest
/kind feature
/assign
/assign @krzyzacy

Want to get @krzyzacy  to sign off on kubetest changes, but this seems reasonable and probably better than everyone maintining their own scripts to do this.

[2018-02-03 00:27] spxtr commented on #6145
As @cjwagner said, we already list all open PRs. It's 100 PRs per page, although the graphql api has different rate-limiting logic than the rest api.

1000 open PRs means that we will consume a little over 1000 v3 tokens (one per PR) when we initially turn on the more complicated status contexts, as well as any time we change the context format. Rather than using two bots, I would prefer to improv

[2018-02-03 00:37] G-Harmon commented on #6624
Do we really want a flag for every binary added? That doesn't seem like it would scale well.
Or are you saying the value of the flag is the data to fetch?

[2018-02-03 00:42] BenTheElder commented on #6624
Or are you saying the value of the flag is the data to fetch?

I would suggest we support obtaining a binary and placing it in the path based on the flag(s).

[2018-02-03 00:54] kargakis commented on #6575
Worth cross-checking where kubectl has ended up today since I remember we came up with a similar set of common functions that is used across all commands.

[2018-02-03 00:56] nikhiljindal commented on #6624
Yes good point @G-Harmon
A generic flag should be enough here

[2018-02-03 00:57] kargakis commented on #6575
IIRC, there is a `Complete()` func that populates `options`, then a `Validate`, and a `Run` that contains most of the business logic. I remember wanting to put it behind an interface.

[2018-02-03 00:57] stevekuznetsov commented on #6575
Happy to incrementally improve on this as the changes are rolled out for the other entrypoints. Admittedly it's been a while but the `kubectl` pattern was what this was inspired by.

[2018-02-03 00:58] cjwagner commented on #6145
Agreed. We can throttle the number of tokens we use setting status contexts without affecting the main sync loop in a number of ways.

Another thing I just though of is that the search for all open PRs (needed to check and update status contexts) could query only for PRs that have changed since the last sync loop using the `updated:` search field: https://help.github.com/articles/searching-issues-

[2018-02-03 00:59] BenTheElder commented on #6105
/close

Will open a new issue if we have problems, the current behavior is pretty great for now.

[2018-02-03 00:59] #6105 closed

[2018-02-03 01:59] krzyzacy commented on #6624
I'll question if that logic should live inside kubetest? The test probably should manage it's dependencies?

[2018-02-03 02:01] BenTheElder commented on #6624
@krzyzacy the test is e2e using ginkgo. kinda ugly to fetch binaries in the test and shove them in the path.

@nikhiljindal says they already publish binaries to GCS for consumption, so we can support fetching the latest binary from some flag

[2018-02-03 02:28] nikhiljindal commented on #6624
Created `https://storage.googleapis.com/kubemci-release/release/latest/bin/linux/amd64/kubemci` and pushed the binary there as well. Thats the URL we can use in our test to fetch the latest binary.

[2018-02-03 02:34] krzyzacy commented on #6624
ok, sounds reasonable

[2018-02-03 02:52] fejta commented on #2621
The approve comment is a native github feature. If we have to choose one we should favor the github feature over an `/approve` comment. I suspect we could do both.

I do not agree with you claim about excessive comment usage. It is rare that people add a `/lgtm` `/approve` `APPROVE` comment therefore the impact would be minimal.

[2018-02-03 02:53] fejta commented on #3827
I'm not entirely convinced that `/lgtm` should serve as an `/ok-to-test`. Historically `/lgtm` meant "I will test this commit but do not trust your next one, which will also not have an LGTM label"

We may want to keep this behavior

[2018-02-03 02:53] fejta commented on #3827
/remove-lifecycle stale

[2018-02-03 03:48] cjwagner commented on #2621
Sorry, you are right, my second claim is totally not true. The `trigger` plugin has nothing to do with the approval process. I was confusing `/approve` with `/ok-to-test` somehow.
The approve plugin actually already lists reviews to look for `/approve` or `/lgtm` comments in them so it won't take any more tokens to make an `APPROVE` review indicate `/approve` from the review author.

The `lgtm` pl

[2018-02-03 03:57] fejta commented on #2621
Yes, I would think `/approve cancel` `/lgtm cancel`

[2018-02-03 09:41] kargakis commented on #3827
I was thinking about this recently and I agree. Once external contributors have `ok-to-test`, they can push whatever they want and it will get tested. I think we should at least provide an option to enable this behavior, so every new commit will need to be reviewed before tests run.

[2018-02-04 13:17] katerinapat opened #6638 "Table is not displaying full width"
The table in https://prow.k8s.io/command-help.html is not displayed in full width.

See screenshots below:

![screenshot from 2018-02-04 14-03-17](https://user-images.githubusercontent.com/3369346/35777875-b6f82a96-09b5-11e8-86c1-826e3d09d612.png)

![screenshot from 2018-02-04 14-02-42](https://user-images.githubusercontent.com/3369346/35777881-be447232-09b5-11e8-9918-ef8ff11bbdce.png)

[link](htt

[2018-02-04 19:09] kargakis commented on #6638
/area prow

cc: @qhuynh96 @BenTheElder

[2018-02-04 19:11] kargakis commented on #6638
I think @katerinapat is already working on a fix

[2018-02-04 20:06] #6561 closed

[2018-02-04 23:59] qhuynh96 commented on #6638
It's probably because of setting width to auto:
 https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/static/style.css#L203

I would change it to `width: calc(100% - 16px)` . @BenTheElder  WDYT?

@katerinapat are you on it? if not I can be

[2018-02-05 01:48] kargakis commented on #5278
/remove-lifecycle stale
/lifecycle frozen

[2018-02-05 01:49] kargakis commented on #5264
/remove-lifecycle stale
/lifecycle frozen

[2018-02-05 01:52] kargakis commented on #5332
Fixed by https://github.com/kubernetes/test-infra/pull/6521

[2018-02-05 01:52] #5332 closed

[2018-02-05 09:30] #6638 closed

[2018-02-05 12:05] kargakis opened #6643 "jenkins operator panic"
[code]
Because the URL templates are not set correctly during config loading. Regressed in https://github.com/kubernetes/test-infra/pull/6531.

/area prow
/kind bug
/assign

[2018-02-05 20:13] #6643 closed

[2018-02-05 22:57] krzyzacy commented on #6624
discussed offline:
- we can have another image similar to https://github.com/kubernetes/test-infra/blob/master/images/kubeadm/Dockerfile, which pulls latest kubemci image on top of latest kubekins-e2e
- Set up a periodic job , similar to ci-ingress-gce-image-push, to 1) build/push latest kubemci binary to gcs bucket 2) push a new kubemci image, base off latest kubetest, with latest kubemci binary

[2018-02-05 23:00] krzyzacy opened #6655 "agent: kubernetes should be default for prow jobs?"
aka, we don't have and won't have any `agent: jenkins` anymore

cc @cjwagner @BenTheElder

[2018-02-05 23:12] rramkumar1 commented on #6381
Fixed by #59374

[2018-02-05 23:27] BenTheElder commented on #6655
this is 635 lines of config currently (and growing), OTOH our config is 13k lines still at the moment...

maybe we can make a config option for which agent is default? :man_shrugging:

[2018-02-06 04:51] cjwagner opened #6663 "Reduce Tide API token usage updating status contexts."
Improvements that can be made.
- [x] Only consider PRs that have changed since the last sync loop. #6630
- [x] Use a separate goroutine so that the main tide loop isn't blocked if lots of statuses need to be set.
- [x] Use a separate github client with a different token usage throttling configuration.
- [ ] Get all open PRs with one search query instead of using once for each query.
- [x] Maybe ev

[2018-02-06 06:46] qhuynh96 opened #6665 "Mocking framework for unit testing"
I would like to know if we are currently adopting to any mocking framework for unit tests in Go. I am writing unit tests for Deck and need to mock several methods that return key/token from Github OAuth API

[2018-02-06 08:18] BenTheElder commented on #6665
In go you can just use an interface with fake and real implementations for
pretty much all unit testing needs.

On Mon, Feb 5, 2018, 22:46 Quang Huynh <notifications@github.com> wrote:

[2018-02-06 08:43] katerinapat commented on #6638
@qhuynh96, I reported and I was thinking another solution.  I see you use `calc(100% - 16px)`  and the table looks great!!

[2018-02-06 18:14] #6181 closed

[2018-02-06 18:16] cblecker opened #6670 "Support requesting team reviews in the assign plugin"
The assign plugin currently supports requesting reviews from users using the `/cc` command. We should also look into the ability to request a review from a github team with `/cc`.

Github Developer Blog Post: https://developer.github.com/changes/2017-07-26-team-review-request-thor-preview/
API Documentation: https://developer.github.com/v3/pulls/review_requests/
User Documentation: https://help.gi

[2018-02-06 18:53] heckj commented on #6589
I would prefer to have the two concepts separate - it's surprisingly unclear to have `lgtm` represent dual meanings based on who you are. The SIG-DOCS group explicitly wants to leverage `lgtm` and `approve` separately to make sure we have both an editorial and technical review for the content going into kubernetes/website.

Right now getting this functionality implies a mandatory "opt out" that on

[2018-02-06 19:06] liggitt commented on #6589
I think the majority of uses fall the other way... it's rare for someone with approve rights to do a detailed review, say it looks good to them, and not want it to be approved

[2018-02-06 19:07] liggitt commented on #6589
I actually think it's confusing for other people to have a PR with LGTM by an owner that isn't merging without some `/hold` comment explaining why

[2018-02-06 19:54] cjwagner commented on #6670
This functionality would be nice. Unfortunately the Github API requires that the caller specifies if the request target is a user or a team. This means that the `/cc` command would have to determine if it's arguments are users or teams before requesting a review. I'm not sure what the best way to implement this would be.

[2018-02-06 19:57] steveperry-53 commented on #6589
To those of you who have been saying that you don't see a use case for lgtm without approve: The use case is in kubernetes/website. We need to distinguish between tech review and writing review. We want the writing reviewer to have final approval, but we also want an lgtm from a tech reviewer. I'd be fine with with having `true` as the default value of `lgtmActsAsApprove`. But for kubernetes/websi

[2018-02-06 20:01] cblecker commented on #6670
@cjwagner Teams are only applicable to repos within the same org, and all team mentions would be prefixed with `@<org>/`. You should be able filter any mentions that start with `@kubernetes/` and identify them as teams, vs users.

[2018-02-06 20:03] fejta commented on #6589
I still argue that has nothing to do with lgtm vs approve. You are trying to convert approval into something else that meets the desires of your repo, which would be more correctly expressed as something like writer-lgtm + tech-lgtm and writer-approve + tech-approve.

Approval is about assigning owners to each file and ensuring that every change to a file is approved by an owner of that file. It i

[2018-02-06 20:09] cjwagner commented on #6670
Ah, good point. I forgot that teams are prefixed by org. In that case this should be an easy change to make.

[2018-02-06 20:14] Bradamant3 commented on #6589
It's not just the desires of a single repo. The issue came up because someone NOT a k8s/website maintainer issued an /lgtm she did NOT expect to trigger a merge. But bc she's in the OWNERS file as an approver for k8s/k8s, her /lgtm did trigger a merge.

[2018-02-06 21:05] liggitt commented on #6589
OWNERS files are per folder, per repo.

[2018-02-06 22:16] qhuynh96 commented on #6665
Got it! Thanks
/close

[2018-02-06 22:16] #6665 closed

[2018-02-06 22:34] #6469 closed

[2018-02-06 23:35] fejta opened #6677 "jenkins-operator is giving us warnings"
{"level":"warning","msg":"jenkins_operator is deprecated, please switch to the jenkins_operators option!","time":"2018-02-06T23:33:38Z"}

/cc @cjwagner @kargakis

[2018-02-06 23:35] fejta commented on #6677
/area prow

[2018-02-06 23:37] cjwagner commented on #6677
We shouldn't need the jenkins-operator in the very near future (we might not need it now?). @BenTheElder

[2018-02-06 23:42] krzyzacy commented on #6677
jenkins is officially dead after https://github.com/kubernetes/test-infra/pull/6662, we should take it down :-)

[2018-02-07 01:40] BenTheElder opened #6683 "eliminate spurious build failures in CI due to refs already existing"
https://k8s-testgrid.appspot.com/sig-release-master-blocking#build
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/8098
[code]
/kind bug
/assign
/assign @krzyzacy

[2018-02-07 03:43] BenTheElder commented on #6655
/area prow
/kind feature
Probably also worth mentioning to @munnerz @sebastienvas

[2018-02-07 09:11] kargakis commented on #6655
This is fine.

[2018-02-07 09:37] kargakis commented on #6677
This is just a config warning, nothing serious to worry about.

Based on https://github.com/kubernetes/test-infra/pull/6679 you wont need it soon so

/close

[2018-02-07 09:37] #6677 closed

[2018-02-07 09:51] fejta commented on #6655
Yes please! Great change!

[2018-02-07 15:38] mattfarina commented on #6589
Reading this thread a few things come to mind:

* We can't make all the people happy all of the time.
* We have different tailored processes on some different repos. This is ok (even good) because it solves the nuances of the problems we have. Not too much process but just enough for the situation at hand.
* Many people may not know how `/lgtm`, `/approve`, and the automation work. I've run into t

[2018-02-07 15:44] kargakis opened #6692 "External plugin help is missing from the frontend?"
The needs-rebase plugin has its own help but does not show up under Command Help

https://deck-ci.svc.ci.openshift.org/plugin-help.js
https://deck-ci.svc.ci.openshift.org/command-help.html

/area prow
@BenTheElder @qhuynh96

[2018-02-07 15:45] kargakis opened #6693 "Favicon needs to be configurable for non-html pages"
https://deck-ci.svc.ci.openshift.org/plugin-help.js
https://deck-ci.svc.ci.openshift.org/command-help.html

/shrug
/area prow

[2018-02-07 15:54] mattfarina commented on #6145
It appears this thread is making a bunch of assumptions about tide users and their needs. Are these detailed and verified anywhere?

Some things to consider:

* tide is used on the websites/docs, charts, community, and numerous repos in addition to k8s/k8s (when it gets there). This is wider use than 6 months ago when the functionality was primarily used for k8s/k8s and community (in a limited sen

[2018-02-07 16:00] spiffxp commented on #5344
@dankohn any update on this?

[2018-02-07 16:03] spiffxp commented on #5344
/help

[2018-02-07 16:04] kargakis opened #6694 "tide frontend does not respect hidden_repos"
It probably should.

@BenTheElder @qhuynh96 @cjwagner @stevekuznetsov

/area prow

[2018-02-07 17:12] qhuynh96 commented on #6692
/assign

[2018-02-07 17:33] cblecker commented on #5376
/remove-lifecycle stale

[2018-02-07 18:01] cblecker opened #6696 "Add CI for hack/local-cluster-up"
It would be great to have a presubmit coverage for changes that touch hack/local-cluster-up.sh (using default settings). If there is a change somewhere in the code base that conflicts with the default settings, this impacts contributors as they need to diagnose what is going on and which settings they need to fix.

Is this a good candidate for DinD? (cc: @BenTheElder)

ref: https://github.com/kube

[2018-02-07 18:14] BenTheElder commented on #6694
Yes. Thankfully we don't have it pointed at any currently but this is
definitely a bug...

On Wed, Feb 7, 2018, 08:04 Michalis Kargakis <notifications@github.com>
wrote:

[2018-02-07 18:17] qhuynh96 commented on #6692
@kargakis From what I can see from the plugin-help.js, there is no commands registered for the plugin. The command page only shows plugins that have commands. To add the commands to plugins:
https://github.com/qhuynh96/test-infra/blob/master/prow/plugins/approve/approve.go#L111

[2018-02-07 18:21] cjwagner commented on #6694
Yeah we should change that so we can use Tide on hidden repos.
Plugin help could also contain config info related to hidden repos, but given that all that info is publicly available in `config.yaml` I don't think we need to hide it.

[2018-02-07 18:39] ixdy commented on #5354
/close

The pure go binaries all cross compile now using the `--platforms` flag, assuming bazel 0.10+.

[2018-02-07 18:39] #5354 closed

[2018-02-07 18:54] kargakis commented on #6694
Yeah, plugin help is fine as is. I can take a look at fixing this tomorrow

/assign

[2018-02-07 19:12] cjwagner commented on #6655
/assign

[2018-02-07 19:27] BenTheElder commented on #6696
Possibly? I'm not sure what coverage we should do exactly, e2es?

[2018-02-07 19:29] cblecker commented on #6696
I don't even think we need that much.. just like.. run the script through, verify a cluster comes up, and then tear it down.

[2018-02-07 19:42] BenTheElder commented on #6696
I'm fairly confident this would work fine with the bootstrap image / docker in docker. We could add a run_if_changed job.

[2018-02-07 19:51] BenTheElder opened #6698 "Support downloading API endpoints with deck's --runlocal natively"
We can move this out of the runlocal script and into deck.

https://github.com/kubernetes/test-infra/pull/6616#discussion_r166556798

/area prow
/kind feature

[2018-02-07 20:01] verult opened #6699 "Updating e2e test binary and k8s components without rebuilding and restarting the entire e2e cluster."
/kind feature

While modifying and iterating over e2e tests, I'd like to be able to quickly build and run it on my existing e2e clusters. Ideally I can do this by only rebuilding the test binary and dropping it in the cluster. Today, I have to do `make quick-release` in parallel with `kubetest --down`, and then `kubetest --up --test --test_args...`. When a test fails due to a bug in the code, I'd

[2018-02-07 20:43] caseydavenport opened #6700 "testgrid showing inconsistent status relative to results"
It seems to me that testgrid is showing some test groups as FLAKY when the group itself is entirely green.

Here is an example: https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ip-alias

The tests are all green, [but in the summary page](https://k8s-testgrid.appspot.com/sig-network-gce) that set of tests is listed as FLAKY.

----------------------------------------------------------

[As d

[2018-02-07 20:48] fejta commented on #6696
What does hack/local-up-cluster.sh do? Does someone who uses this regularly want to make a CI job out of it?

[2018-02-07 21:12] #5805 closed

[2018-02-07 21:12] #6567 closed

[2018-02-07 21:14] dims commented on #6696
yes @fejta `hack/local-cluster-up.sh` is very handy to test cloud providers. i essentially spin it up in a vm started by openstack and test the functionality. would like to use this in future CI jobs outside of kubernetes CI as well (under https://github.com/theopenlab)

[2018-02-07 21:15] dims commented on #6696
it essentially runs `hyperkube apiserver` `hyperkube controller-manager` `hyperkube kubelet` etc...

[2018-02-07 21:43] BenTheElder commented on #6700
/assign @michelle192837
/area testgrid

[2018-02-07 21:54] fejta commented on #6696
would love to see someone provide us with a `kubetest --foo=foo --bar=bar` command that starts up a local cluster. Once we have that I'm sure we can get it into CI

[2018-02-07 21:54] fejta commented on #6696
/help

[2018-02-07 22:22] chenopis commented on #6589
We're talking about two different use cases here, so let's not get lost in generalities. In docs, we need both docs and tech reviews, so for us, we need `/lgtm` to be separate from `/approve` so that the PR is not merged before both reviews are given.

If this behavior can be configured per repo, I think we'll all be happy. I don't want to dictate the behavior for other repos if they have differen

[2018-02-07 22:24] fejta commented on #6589
The first half of this sentence does not imply the second

[2018-02-07 22:27] chenopis commented on #6589
@fejta For `kubernetes/website`, we operate differently in that we (sig-docs-maintainers) give the final say so on if/when a PR should be merged, regardless of who "owns" the files. i.e. We are the approvers.

[2018-02-07 22:28] BenTheElder commented on #6589
Do you not effectively own the files then? This sounds exactly like what
approver is supposed to do.

On Wed, Feb 7, 2018 at 2:27 PM, Andrew Chen <notifications@github.com>
wrote:

[2018-02-07 22:32] chenopis commented on #6589
@fejta If you want "repos [to] all provide the same, consistent experience" you should not have implicit behaviors.

[2018-02-07 22:35] BenTheElder opened #6702 "migrate bazel jobs to unified image"
We have both the bazelbuild image and the kubekins-e2e image support versioned bazel build environments, bazelbuild is based on ubuntu while the rest of our test images are generally built on debian.

To allow better caching we should convert to supplying the same tool versions for all jobs in the same release branch. We can probably just migrate all jobs to kubekins which has go, bazel etc. versi

[2018-02-07 22:36] BenTheElder commented on #6702
Discussed out of band with @ixdy and @krzyzacy (the other maintainers) this morning. I will start on this today.

[2018-02-07 22:43] BenTheElder opened #6703 "mount git cache read only"
Right now ever job using git caching mounts a hostPath with a local checkout RW and uses a hostPort to restrict to one job per node. We can instead mount git caching read only and copy the cached clone to the workspace.

We can then use a daemonset to periodically check out kubernetes to each machine's cache and stop using the hostPort for git cache. Combined with bazel remote caching this will br

[2018-02-07 22:43] BenTheElder commented on #6703
discussed with @krzyzacy and @Q-Lee
cc @stevekuznetsov @cjwagner

[2018-02-07 22:43] BenTheElder commented on #6702
/kind enhancement

[2018-02-07 22:45] ixdy commented on #6702
somewhat related (unmerged) PR: #2836

[2018-02-07 22:51] chenopis commented on #6589
I'm not sure I understand why there's pushback on this? Can't we just have a configurable option, as @spiffxp is suggesting, and call it a day? The code contribution and docs contribution workflows are different, so I see no reason to force one on the other.

[2018-02-07 22:56] BenTheElder commented on #6702
Ha! That actually happened at some point, I think @krzyzacy did this.

[2018-02-07 23:02] #4958 closed

[2018-02-07 23:04] BenTheElder commented on #4958
🎉

[2018-02-07 23:04] krzyzacy commented on #190
kubernetes-jenkins is wiped and I'll close this

[2018-02-07 23:04] #190 closed

[2018-02-07 23:05] BenTheElder commented on #190
Cadvisor at least definitely has their resources in their own project now
as well (@dashpole owns this)

On Wed, Feb 7, 2018 at 3:04 PM, Sen Lu <notifications@github.com> wrote:

[2018-02-07 23:06] stevekuznetsov commented on #5382
One (hilarious, but functional) approach to this taken by our pre-Prow solution was to do the list with a probability (1/100, 1/10, whatever) so that you _usually_ do the cleanup but don't blast tokens.

[2018-02-07 23:08] krzyzacy commented on #4195
seems there's already retry logic added to get-kube.sh, and get-kube.sh need to die
/shrug

[2018-02-07 23:08] #4195 closed

[2018-02-07 23:10] krzyzacy commented on #1368
no more Jenkins and I don't think we want to work on this

[2018-02-07 23:10] #1368 closed

[2018-02-07 23:12] krzyzacy commented on #3323
/assign @fejta
/remove-lifecycle stale

[2018-02-07 23:16] krzyzacy commented on #2704
CI jobs will be move forward with https://github.com/kubernetes/test-infra/issues/5905, I'll close this as from the issue description the target was for presubmit jobs.

[2018-02-07 23:16] #2704 closed

[2018-02-07 23:37] #6683 closed

[2018-02-07 23:46] fejta commented on #6589
We should not provide a configurable option because we want `/lgtm` and `/approve` to operate the same way in any repo in the org.

Then stop giving devs [approval rights](https://github.com/kubernetes/website/blob/ceda4025445246e6d0f1d52b0eebdbd82d609787/docs/admin/OWNERS) in OWNERS files?

If you do not care who owns the files then this has nothing to do with the behavior of the `/approve` comma

[2018-02-07 23:51] parispittman commented on #6589
@fejta - can you bring this to the community meeting tomorrow? possibly the announcements section? I'm hearing from lots of folks that they are confused and I don't think folks are on the same page.

[2018-02-08 00:35] krzyzacy commented on #5923
I think this is solved by @fejta's work

[2018-02-08 00:35] #5923 closed

[2018-02-08 01:23] jaredbhatti commented on #6589
I have to miss the Contrib-x meeting due to a meeting conflict, but I agree with Andrew. I'd prefer a configurable process. The SIG-Docs team uses two different triggers for content review on the site, one for technical review, one for content review. We specifically pulled these two steps apart to prevent content from going live before the code was live, and to prevent poorly formatted content fr

[2018-02-08 01:37] fejta commented on #6589
@jaredbhatti @chenopis let's move the sig-docs concerns over to https://github.com/kubernetes/website/issues/7289

what you say you want and what you configured are pretty far apart.

[2018-02-08 01:51] BenTheElder commented on #6703
This or some kind of local mirror. We reallly should stop using the nodePort / hostPort nonsense, we're unable to effectively use all of the resources in the build cluster

[2018-02-08 05:41] xiangpengzhao opened #6710 "bot comments bad OWNERS file paths in kubernetes/website repo"
The bot shows bad OWNERS file path in its comment:

https://github.com/kubernetes/website/pull/7224#issuecomment-362875101

Please notice the below lines. The OWNERS files path are incorrect.

[code]

xref: https://github.com/kubernetes/website/issues/7289#issuecomment-363978843

/assign @fejta @cjwagner

[2018-02-08 06:57] chenopis commented on #6589
The configuration is still in flux. For some historical reference: our files used to contain `assignees`, which was deprecated. Consequently, @spiffxp helped us to convert them to use `approvers`, see https://github.com/kubernetes/website/pull/4607. So let's just stipulate that the repo may not be in its desired final state.

Can we first just agree on what behavior we want and then configure it a

[2018-02-08 13:22] kargakis opened #6720 "Monitor prow token usage"
We need to expose prometheus metrics for token usage in hook and tide (assuming hook and plank are using the same token, and tide uses a separate token).

The SQ token usage monitor may be ugly but it is at least helpful in a sense that it shows whether a problem persists or is fixed. In the following example, our queues were getting ratelimited because of a tight resync interval that was fixed in

[2018-02-08 13:38] kargakis opened #6721 "Upstream prow alerts"
I have setup some Prometheus alerts, primarily for monitoring the Jenkins operator. I think it's worth keeping them in this repo (at least as an example of setting up alerts for prow+Jenkins).

[alerts](https://github.com/openshift/release/blob/c2b15758461ad7e287677a8f796fbce4ac3924ea/projects/prometheus/prometheus.rules.yaml)

/area metrics
/area prow
/assign

[2018-02-08 14:28] kargakis commented on #6692
Cool, I will verify this once https://github.com/kubernetes/test-infra/pull/6691 merges.

[2018-02-08 14:28] #6692 closed

[2018-02-08 18:25] cjwagner commented on #6710
I know what is going on here. This is related to handling certain `*.md` file headers as OWNERS files. Support for this can now be provided with OWNERS file regexp filtering so we may want to deprecate the special handling of markdown files eventually.
I can make a quick fix to resolve this bug though.

[2018-02-08 18:33] cjwagner commented on #6720
@Q-Lee has some work related to using prometheus to gather Prow metrics.

[2018-02-08 18:48] rmmh opened #6725 "triage graph is wider than it should be"
Since there's only a week of data, this graph should only be a week wide. Why does it think it started at 1/24? Was some build running for a very long time?

<img width="1100" alt="screen shot 2018-02-08 at 10 47 16 am" src="https://user-images.githubusercontent.com/211868/35991907-8a7d9f4a-0cbd-11e8-90f5-4956534efb18.png">

[2018-02-08 18:51] rmmh commented on #6725
[code]
gs://kubernetes-jenkins/pr-logs/pull/charts/3379/pull-charts-e2e/4883 | 2018-01-25 17:46:14.000 UTC | 2018-02-06 19:54:39.000 UTC |  
gs://kubernetes-jenkins/pr-logs/pull/charts/3386/pull-charts-e2e/4870 | 2018-01-25 03:57:07.000 UTC | 2018-02-06 17:20:30.000 UTC
[code]

[2018-02-08 18:56] qhuynh96 opened #6726 "New home for Plugin Help on Deck"
After introducing Command Help page, which is a replacement for Plugin Help, we filtered out plugins that do not have commands. However, many of them still have help info and configuration info which should not be hidden from users. This issue is opened to keep track the progress of implementing new page for Plugin Help that helps to expose plugins to users.

@cjwagner @kargakis  @BenTheElder

[2018-02-08 18:56] qhuynh96 commented on #6726
/assign

[2018-02-08 20:01] fejta commented on #4301
/remove-lifecycle rotten

[2018-02-08 20:11] mml commented on #4272
/remove-lifecycle rotten

On Thu, Feb 8, 2018 at 11:59 AM, fejta-bot <notifications@github.com> wrote:

[2018-02-08 20:11] mml commented on #4272
@kubernetes/sig-testing-bugs is this perhaps already fixed?

[2018-02-08 20:21] cjwagner commented on #4272
It could be. This process is no longer managed by mungegithub, it is now handled by Prow and I made a bunch of fixes while migrating, so this might not be an issue anymore. Please reopen if this is still an issue.

[2018-02-08 21:05] kargakis commented on #4272
This is not fixed in prow. @tnozicka came across this in https://github.com/openshift/origin/pull/18513#issuecomment-363937250 and I would like to track it somewhere so we can potentially fix it.

[2018-02-08 21:07] mml commented on #2694
/remove-lifecycle rotten

[2018-02-08 21:08] mml commented on #2781
/close

[2018-02-08 21:08] #2781 closed

[2018-02-08 21:09] mml commented on #1731
Ping.  This is still true.

/remove-lifecycle rotten

[2018-02-08 21:10] mml commented on #1731
This is both a usability and an accesibility issue.  It deserves more attention.

@kubernetes/sig-testing-bugs

[2018-02-08 21:11] BenTheElder commented on #1731
/assign @rmmh

[2018-02-08 21:11] BenTheElder commented on #1731
Pretty sure these are the state of the PR's tests, (Red -> failed, Yellow -> incomplete, Green -> passing). Agree that this should be improved.

[2018-02-08 21:18] krzyzacy commented on #4527
/remove-lifecycle stale
still wanna do this

[2018-02-08 21:23] #2791 closed

[2018-02-08 21:23] krzyzacy commented on #2791
everything is in prow now

[2018-02-08 22:26] stevekuznetsov commented on #6145
@mattfarina the point of this issue is to ensure there _is_ no change from the UX that was present with the Submit Queue.

[2018-02-08 22:28] stevekuznetsov commented on #5334
/remove-lifecycle stale

[2018-02-09 00:13] oomichi opened #6737 "RFC: Visualize API test coverage on e2e"
We can measure e2e test coverage with experiment/coverage/apicoverage.go tool, but we need to spend much time for doing it on local environments.
It would be great to show the coverage on the gubernator dashboard at upstream gate tests to share it within the community.

This issue is a part of #5231

[2018-02-09 02:49] cblecker commented on #5401
/remove-lifecycle stale

[2018-02-09 12:05] dims commented on #6696
/assign @dims

[2018-02-09 15:40] cblecker commented on #6696
/remove-help
Thanks @dims !

[2018-02-09 18:28] krzyzacy commented on #3798
@BenTheElder does your bootstrap hack also helped this one?

[2018-02-09 18:45] MrHohn commented on #5896
+1, looking forward to this!

[2018-02-09 18:57] BenTheElder commented on #3798
I think it may have, not sure.

On Fri, Feb 9, 2018 at 10:28 AM, Sen Lu <notifications@github.com> wrote:

[2018-02-09 18:58] BenTheElder commented on #5896
I would mark this help wanted but it's still internal for now. Might investigate this later when I clear a few other things.

[2018-02-09 20:24] dims commented on #3328
@spiffxp once #6759 merges we can run a conformance test using

[code]

[2018-02-09 20:27] dims commented on #6696
@cblecker two birds in one stone with #6759 we can be sure that local-up-cluster works! and we can use it to run conformance suite too

[2018-02-09 21:15] BenTheElder opened #6766 "Deck should not go off screen on mobile"
This could use some work.
![screenshot_20180209-095318](https://user-images.githubusercontent.com/917931/36050414-522cd1f4-0d9b-11e8-923a-bea01d4b4d74.png)

[2018-02-09 21:30] BenTheElder commented on #6766
/area prow
/kind bug
/assign @qhuynh96

[2018-02-09 22:00] ixdy commented on #3827
I think this is illustrating a workflow that's currently missing in prow and tide.

With the munger, we remove lgtm if any commits are changed, so it's possible to approve a change to be merged but automatically require reapproval if anything changes.

AFAIK, this isn't possible with prow or tide.
I can `/lgtm` something, but that won't actually allow it to be merged unless I also `/ok-to-test` it

[2018-02-09 22:00] #6554 closed

[2018-02-09 22:42] cblecker commented on #3795
Where are we at with this one? This is a critical piece to retiring the mungers. Right now if a repo doesn't have mungegithub on it, then a PR can be changed from the time of LGTM and tide will still merge.

From what I can tell:
- @nlandolfi had a WIP PR, but isn't able to carry it forward
- @MorrisLaw said he would work on it, but I don't see a linked PR

cc: @cjwagner @BenTheElder @spxtr @fejta

[2018-02-09 22:54] #6157 closed

[2018-02-10 00:18] #6766 closed

[2018-02-10 00:33] #6663 closed

[2018-02-11 05:09] kargakis opened #6776 "issue closer does not seem to label kubernetes/kubernetes PRs"
See discussion in https://github.com/kubernetes/kubernetes/pull/31136#issuecomment-364686292

@fejta @cblecker

[2018-02-11 05:13] fejta commented on #6776
Do you have an example of a PR which GitHub says is unmodified for 90d?

[2018-02-11 05:16] fejta commented on #6776
(aka if you look at prow/config.yaml for the stale bot you'll see there's nothing to handle either PRs or k/k repo differently from everything else)

I suspect it is just that all the bots make it so that all the issues in k/k have been updated within the last 90d

[2018-02-11 05:25] kargakis commented on #6776
Yeah, seems like this is the case.

[2018-02-11 05:25] #6776 closed

[2018-02-11 05:37] cblecker commented on #6776
But wouldn't that still be a problem? We don't want k/k PRs to stay open forever. Either we would need to change the bot logic that's refreshing the k/k PRs, or change the closer logic. Using last updated from the github API is very different logic then the previous stale close munger.

[2018-02-11 06:17] xiangpengzhao opened #6777 "fejta-bot can't trigger retest now"
See https://github.com/kubernetes/kubernetes/pull/58960#issuecomment-364722397
[code]

I don't find fejta-bot in https://github.com/orgs/kubernetes/people. Seems like it's removed from the org.

/cc @fejta

[2018-02-11 06:17] xiangpengzhao commented on #6777
/assign @fejta

[2018-02-11 09:53] fejta commented on #6777
This is intentional, `fejta-bot` should have no rights to anything
/close

[2018-02-11 09:53] #6777 closed

[2018-02-11 09:55] fejta commented on #6777
The issue is that Timothy manually removed the needs-ok-to-test label

[2018-02-11 10:10] fejta commented on #6776
The stale job will mark as stale any PR that is unmodified for 90d and does not have a `lifecycle/frozen` label.

If you ask github to [sort issues by least recently modified](https://github.com/search?o=asc&q=repo%3Akubernetes%2Fkubernetes+is%3Apr+is%3Aopen+-label%3Alifecycle%2Ffrozen&s=updated&type=Issues&utf8=%E2%9C%93) (aka something sane), you will instantly discover that github considers htt

[2018-02-12 01:34] xiangpengzhao commented on #6777
@fejta thanks!

[2018-02-12 10:22] JulienBalestra opened #6781 "Unable to load build details"
On the Kubernetes PR [#57106](https://github.com/kubernetes/kubernetes/pull/57106) I cannot get the detail of a failed build.

I currently have the test **pull-kubernetes-unit** in failure but the detail link give me the following ouput:
[code]

I need to go to the [summary](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/57106/pull-kubernetes-unit/) to reach the logs of

[2018-02-12 15:26] rramkumar1 commented on #6381
/close

[2018-02-12 15:26] #6381 closed

[2018-02-12 17:42] BenTheElder commented on #6781
The history for your PR: https://k8s-gubernator.appspot.com/pr/57106
shows what looks like a flake for pull-kubernetes-unit. I've triggered another test.

It's possible the test pod was evicted. We run on kubernetes and have an existing issue that jobs which are evicted by the kubelet can lose results. Generally triggering the test again should work.

[2018-02-12 18:38] cjwagner commented on #3827
@ixdy Good point. The way Tide is configured now that workflow isn't possible.

The Submit Queue just handles this by ignoring `needs-ok-to-test` when triggering tests. With the SQ if a PR is untrusted, but LGTMed, it will be tested once at the time of `/lgtm` and then the SQ will comment with `/test all` to trigger retesting. The munge bot is an org member so the `/test all` triggers testing even

[2018-02-12 19:01] JulienBalestra commented on #6781
@BenTheElder thank you for the link and the explanation !

The new test is now ok for **pull-kubernetes-unit** but **pull-kubernetes-e2e-kops-aws** is failing now.
 I've triggered another test too.

[2018-02-12 20:46] BenTheElder commented on #4794
/remove-lifecycle stale

[2018-02-12 21:34] BenTheElder opened #6789 "hack/update-deps.sh reverts BUILD.bazel to BUILD"
`hack/update-deps.sh -update github.com/some/dep` will introduce a lot of churn in vendor from BUILD to build.bazel I think I've found one bug in prune-libraries.sh with `BUILD` instead of `BUILD.bazel` but this was not enough to fix it...

/kind bug
/area bazel
/cc @ixdy

[2018-02-12 21:34] BenTheElder commented on #6789
https://github.com/kubernetes/test-infra/blob/ace3a6444d0ba84c7f40cc95f5496826965e7e0f/hack/prune-libraries.sh#L85-L90
should probably be:
[code]

[2018-02-12 21:35] BenTheElder commented on #6789
/assign @ixdy
/assign

[2018-02-12 21:44] ixdy commented on #6789
oops, I think `hack/prune-libraries.sh` was added after I'd originally created #6250. Will fix.

[2018-02-12 22:00] #6789 closed

[2018-02-12 22:05] krzyzacy commented on #4794
boskos config will be migrated to yaml in https://github.com/kubernetes/test-infra/pull/6676

[2018-02-12 23:06] BenTheElder commented on #5486
/shrug
This will be more relevant after we fix the caching paralellism / start using bigger nodes. @qhuynh96 any thoughts on this one?

[2018-02-12 23:52] verult commented on #6699
Turns out there are instructions at the top of [this section](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#building-kubernetes-and-running-the-tests) of the e2e test guide with building only the test binaries using `make WHAT=test/e2e/e2e.test`.

The other half of the request still applies: it would be great if there is some guidance on quickly updating a bin

[2018-02-13 01:14] oomichi commented on #6079
The commands which lives in test-infra have hyphen options without CamelCase options. So I have changed to --minimum-coverage for the consistency.

[2018-02-13 01:37] BenTheElder commented on #5995
FWIW we actually have one from january 30th right now for some periodic job. I deleted the pod but we should probably have sinker scan for these. If a job pod is $N days old we should just delete it.

[2018-02-13 05:53] chrislovecnm commented on #6498
Closing this, as I am working on removing the requirement for the aws cli

[2018-02-13 05:54] #6498 closed

[2018-02-13 15:00] Capstan opened #6804 "Prow issue: k8s-ci-robot refers to old PR documentation"
`k8s-ci-robot` has a link:

That link reports being moved to https://git.k8s.io/community/contributors/guide/owners.md as of https://github.com/kubernetes/community/commit/02a00faf534fea46af7629da1085bc01ae2aae04#diff-593739ef69af9f3d11686e9b0dd32de5

https://github.com/kubernetes/test-infra/search?utf8=%E2%9C%93&q=%22The+pull+request+process%22&type= shows remaining references which appear to hav

[2018-02-13 17:41] cblecker commented on #6804
The new link should be: https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process
/help
@kubernetes/sig-contributor-experience-bugs

[2018-02-13 17:47] cjwagner commented on #6145
@spxtr What is the status of this? I'm happy to help with this or take over if you are busy. It would be nice to get this working soon.

[2018-02-13 18:08] oomichi commented on #6079
/assign me

[2018-02-13 18:08] oomichi commented on #6079
/assign oomichi

[2018-02-13 18:24] guineveresaenger commented on #6804
/assign

[2018-02-13 18:27] cblecker commented on #6804
/remove-help
Thanks @guineveresaenger!

[2018-02-13 18:54] chrislovecnm commented on #1741
/close

[2018-02-13 18:54] #1741 closed

[2018-02-13 19:11] #6804 closed

[2018-02-13 19:41] #6079 closed

[2018-02-13 21:12] sebastienvas commented on #4794
I have one issue left there. I did not update the python script that looks for existing projects and recreate the resources.yaml.

[2018-02-13 21:25] BenTheElder opened #6808 "Implement Bazel Remote Caching [Tracking Issue]"
Bazel `0.10.0` is now in use in test-infra and kubernetes (release-1.10/master). This release contains some nice improvements to [the HTTP remote caching](https://docs.bazel.build/versions/master/remote-caching.html) system, we should leverage this instead of our existing "use persistent storage for the local cache".

Why?
- using a remote cache means the cache is *global* so all jobs can share it

[2018-02-13 21:29] BenTheElder commented on #6808
Some more notes:
- The invalid cache sharing work around seems to work well with the canary jobs at least
- Experimental Jobs using the cache can be *much* faster:
  - `pull-kubernetes-bazel-test` takes 25-30m currently, once the cache is hot `pull-kubernetes-bazel-test-canary` takes ~5min typically. There is a lot of variation for both though mostly due to the load on the node the job runs on
  -

[2018-02-13 22:27] spiffxp commented on #2364
/remove-lifecycle stale
@fejta @michelle192837 is this something a contributor outside of google can accomplish? otherwise I'm not sure the `help wanted` label belongs here

[2018-02-13 22:29] michelle192837 commented on #2364
Not at the moment, unless someone wants to implement it as a Chrome extension that changes all the time-related column headers (which I'm going to guess, is a no).

[2018-02-13 23:02] krzyzacy commented on #2418
@jlowdermilk feel free to reopen if you still need this I guess

[2018-02-13 23:02] #2418 closed

[2018-02-13 23:50] stevekuznetsov commented on #4540
/remove-lifecycle stale
/assign @rmmh

[2018-02-13 23:59] ixdy commented on #5998
/close

[2018-02-13 23:59] #5998 closed

[2018-02-14 00:00] ixdy commented on #5607
Planter no longer mounts `$HOME` (#6006).

[2018-02-14 01:14] MorrisLaw commented on #3795
Hey @cblecker , I took a break for awhile but I'm going to start working on this again. Feel free to make the PR if you have it. But my goal is to get a PR in, within the next few days. Unless of course someone else makes the PR.

[2018-02-14 01:24] leifmadsen commented on #5607
I'd suggest closing this out then! :)

[2018-02-14 01:24] #5607 closed

[2018-02-14 01:45] #6710 closed

[2018-02-14 05:07] BenTheElder commented on #3414
Oh, thanks @fejta-bot, this was implemented by @qhuynh96. http://prow.k8s.io/

/remove-lifecycle stale
/close

[2018-02-14 05:07] #3414 closed

[2018-02-14 05:44] cblecker commented on #3795
@MorrisLaw Thanks for checking in! Yeah, please go for it if you have the cycles (I won't in the next couple days). If you run into issues or need help, please let us know!

[2018-02-14 17:49] BenTheElder opened #6819 "Good doggos can fail to display due to file size"
See https://github.com/kubernetes/test-infra/pull/6814#issuecomment-365651499

Internet Cats in the `cat` plugin probably also have this issue.

/kind bug
/P 0

[2018-02-14 18:43] stevekuznetsov commented on #6819
/woof
 :(

[2018-02-14 21:32] yutongz opened #6826 "gubernator can't handle build logs bigger than 256MB ?"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3459/istio-pilot-e2e/3012/
The full log can be accessed by directly going into the GCS bucket.

Not sure if that's designed to be, or because we are using some old prow version. We probably shouldn't dump out such a big log, but just curious if we know that limitation.

[2018-02-14 21:34] BenTheElder commented on #6826
1) gubernator's deployed to appengine, the instance is probably only 256mb, but it could be deployed to a larger isntance
2) why are your logs more than 256MB?

[2018-02-14 21:34] BenTheElder commented on #6826
/area gubernator
/cc @rmmh

[2018-02-14 21:38] stevekuznetsov commented on #6826
See also https://github.com/kubernetes/test-infra/issues/6092

[2018-02-14 21:44] BenTheElder commented on #6826
some options:
- port gubernator to something else (PRs welcome?)
- use ginormous gubernator deployments
- don't have crazy enourmous logs (which, we also parse these for highlighting etc, so maybe just don't have crazy huge logs?)
- *maybe* gubernator can just refuse to display large logs and link to GCS. not sure if the APIs are there to check size before accessing. (probably?)

As an aside I'm a

[2018-02-14 21:45] ldemailly commented on #6826
2. is being addressed as https://github.com/istio/istio/issues/3499

[2018-02-14 21:47] ldemailly commented on #6826
as a side notes, circleci does print the first (or last I forgot) 40k lines and then puts a download link

the issue here is the log is stored compressed (26Mbytes) and you need to decompress it to find out it's so big (doing 2 passes just to get the size seems too much)

maybe a heuristic is to just refuse to handle any file > 10Mbytes compressed and tell the users (nicely) to fix their damn buil

[2018-02-14 21:48] stevekuznetsov commented on #6826
Porting Gubernator away from Python and onto a k8s deployment is a nice far-out goal, for sure. In the meanwhile I think we just need to break off all of the (really) rough edges when Gubernator encounters a non-normal situation. Have it show a nice page and link to the GCS log. Maybe even put some CSS on the page :)

[2018-02-14 21:50] mattdelco commented on #6826
The different test attempt triggers the stack backtrace variation of the issue:

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3459/istio-pilot-e2e/3011/

[2018-02-14 21:52] BenTheElder commented on #6826
yeah, I'd love to see it ported off and deployed with the rest of prow to k8s but nobody is working on this right now.
CSS is being addressed by @qhuynh96

Detecting the size and handling it gracefully SGTM, I don't think I have bandwith for this currently though and Ryan is out, I'll ask him when he's back or happily review PRs with such a heuristic.

[2018-02-14 21:58] BenTheElder commented on #6826
/assign @qhuynh96 @rmmh

[2018-02-14 21:59] BenTheElder commented on #6826
/kind bug

[2018-02-14 22:53] mml opened #6829 "k8s-ci-robot is too fast complaining about "no sig labels""
In https://github.com/kubernetes/kubernetes/issues/59893 I created an issue and asked for `/sig node` in the initial description.  Even so, I got this in email...

[code]

Can we please wait until after apply `/` commands before nagging?  Thanks!

[2018-02-14 23:07] BenTheElder commented on #6829
/kind bug
/area prow
/assign @cjwagner

[2018-02-15 01:13] BenTheElder opened #6836 "prow build log links are broken"
the fancy new material design buttons are just buttons :-)

/kind bug
/priority critical-urgent
/assign @qhuynh96

[2018-02-15 02:13] krzyzacy opened #6840 "Make prow support gerrit"
Not all gerrit instance has hook enabled, so I'll scratch up a gerrit fetcher to start with.
Open an issue to tracking progress here:

TODO:
- Support comment back to gerrit
- Define a communication protocol (gRPC?) between plank and gerrit controller

/assign
/area prow

[2018-02-15 04:00] BenTheElder opened #6841 "Deck Prow Status is now unusable on mobile"
It now looks like:
![screenshot_20180214-195749](https://user-images.githubusercontent.com/917931/36239816-80477380-11c1-11e8-9da5-92a5ba1caf64.png)
Everything that runs off the page is impossible to see. Previously the experience was not *great* but it was possible to use.

/kind bug
/area prow
/assign @qhuynh96

[2018-02-15 04:02] BenTheElder commented on #6841
I suspect MDL isn't handling mobile and setting those meta tags to device width made this apparent. We should revert setting the viewport.

[2018-02-15 04:16] qhuynh96 commented on #6841
Actually the Prow Job's table is not applied MDL. Only Command Help's table apply MDL. I just see this and will investigate what cause the problem.

[2018-02-15 04:25] qhuynh96 commented on #6841
Pretty sure the meta view port scales up the table which does not fit the mobile screen anymore.

[2018-02-15 04:26] qhuynh96 commented on #6841
Probably because of the view port setting. Until we figure out how to render on mobile, we should not use the viewport tag maybe?

[2018-02-15 05:37] BenTheElder commented on #6841
Yes, see previous comment.

On Wed, Feb 14, 2018, 20:26 Quang Huynh <notifications@github.com> wrote:

[2018-02-15 17:05] shyamjvs opened #6847 "Testgrid showing a tab red, even if the latest run of the job is green"
E.g https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness

This seems to be misleading for someone looking at the job (and thinking that the job is failing). Moreover, it continues to be red even after 4 green runs (probably just because there are still some red runs in the visible past).

IMO we should change this - WDYT?

cc  @rmmh @krzyzacy

[2018-02-15 17:23] michelle192837 commented on #6847
This is working as intended though; red status means there's an alert, and alerts are still active if there are failures without a more recent pass within num_recent_columns. I agree it's a bit misleading for a while in this case, but there are also plenty of cases where something is failing like this and it means there is still a consistent failure active.

To have this go away sooner, you can dr

[2018-02-15 18:34] #6841 closed

[2018-02-15 19:06] bgrant0607 commented on #6589
I think explicit /approve makes sense.

[2018-02-15 19:41] steveperry-53 commented on #6589
In the docs repo (kubernetes/website) we have solved most of the problem by
editing our OWNERS files. In the OWNERs files, we moved most people out of
the approvers list and into the reviewers list. A PR will not get
automatically merged unless someone in the approvers list gives the
/approve command. So with a smaller list of approvers, we are getting fewer
accidental merges.

For an automatic me

[2018-02-15 21:24] #5518 closed

[2018-02-15 21:51] stevekuznetsov opened #6852 "prow: core: one CRD Spec field fulfilled by many controllers makes Status muddy"
Right now we have been kind of shoving k8s Pod concepts into the Jenkins operator and it's showing in the `ProwJob.Status` fields. The `ProwJob.Satus.PodName` is just a nonsense field for ProwJobs fulfilled by Jenkins job builds; the `ProwJob.Status.BuildID` for pods is prescriptive from Prow (through `tot`) whereas the same field for Jenkins builds is observational (from Jenkins). We could use so

[2018-02-15 21:57] BenTheElder commented on #6852
xref: https://github.com/kubernetes/test-infra/pull/6853 ?

[2018-02-15 21:57] stevekuznetsov commented on #6852
Yeah that PR just made it worse :|

[2018-02-16 00:08] spiffxp commented on #6589
I'm still of the opinion it would be better for newcomers if we made things more explicit, ie:
- no implicit self-approval (but allow explicit self-approval)
- explicitly require /approve in order to signify approval (aka modify /lgtm to mean "only apply the lgtm" label)

I followed up on kubernetes-dev@ to try and reach a wider audience, as thus far we've only heard from sig-docs, sig-contribex,

[2018-02-16 00:29] ahmetb opened #6857 "k8s-ci-robot: Stop adding authors of the PRs to approved list"
This has been bugging me for a while: When someone sends a PR, they're listed like they've just `/approve`d their own PR.

Here's an example:

Is this by design? It does not make a whole lot of sense to me. I think even the approvers themselves should explicitly `/approve` their own PRs when it's ready to go.

[2018-02-16 00:31] mml commented on #5543
/remove-lifecycle stale

@kubernetes/sig-testing-feature-requests

[2018-02-16 00:37] spiffxp commented on #3866
The submit queue has been turned down everywhere except for kubernetes/kubernetes, #6417 tracks that effort

[2018-02-16 00:48] mml opened #6858 "fejta-bot: should an issue be "inactive" if it was mentioned somewhere else?"
https://github.com/kubernetes/kubernetes/issues/55621

Mentioned in an umbrella bug on Jan 10.
About 30d later, fejta-bot complains about "inactivity".

[2018-02-16 00:48] mml commented on #6858
@kubernetes/sig-testing-bugs @fejta

[2018-02-16 00:55] BenTheElder commented on #6858
see: https://github.com/kubernetes/test-infra/issues/6267

[2018-02-16 00:57] mml commented on #6858
I see.  Can we ask for an API?  This sort of thing is a waste of time and I don't just want to filter all messages from fejta-bot.

[2018-02-16 01:00] BenTheElder commented on #6858
We've had limited success before asking on https://platform.github.community, specifically https://platform.github.community/t/some-prs-are-missing-head-refs/4586

[2018-02-16 01:18] BenTheElder commented on #6836
this was fixed in 6838

[2018-02-16 01:18] #6836 closed

[2018-02-16 05:38] duglin commented on #6589
I wonder if the word 'approve' isn't part of the confusion here. To a newbie the word "approve" and "LGTM" probably imply the same thing. In other projects I've seen them avoid this by using "SGTM" (sounds good to me). Even w/o having read any formal docs on what that means, most people seem to instinctively understand that it doesn't mean that someone reviewed and approved the specific code chang

[2018-02-16 12:40] shyamjvs commented on #6847
I see - thanks @michelle192837. In short you're saying that if we care less about old runs, we should reduce num_recent_columns for the tab?

[2018-02-16 16:32] michelle192837 commented on #6847
Yup! `num_columns_recent` should be limited to a number that you'd consider recent, both for 'is this failure still relevant' and 'if this test hasn't run in the last X runs, should we show it'.

[2018-02-16 16:37] shyamjvs commented on #6847
Sounds good.. thanks. I'll change it for our jobs.

/assign

On Fri, Feb 16, 2018, 5:32 PM Michelle <notifications@github.com> wrote:

[2018-02-16 18:46] BenTheElder opened #6865 "Presubmits Should be much Faster [Tracking Issue]"
I'm working on a number of things in this area, so I'm just going to consolidate them here with the unified goal of speeding up our tests.

- [x] Leverage [Bazel remote caching](https://docs.bazel.build/versions/master/remote-caching.html) for global shared build / unit test cache (WIP, see more in depth issue here: https://github.com/kubernetes/test-infra/issues/6808)
- [ ] Leverage Bazel's build

[2018-02-16 18:47] BenTheElder commented on #6865
@cjwagner @stevekuznetsov I'm going to set up a git pre-cloned container + shared volume today on a test job, in the future we should customize the git checkout container for the kubernetes prow deployment to contain this data and periodically update it.

[2018-02-16 18:51] BenTheElder commented on #6865
cc @spiffxp, this covers a lot of the work I want to get in ~ this quarter for test-infra other than testgrid + confromance results and helping with bootstrap + prow integration.

I think we [can already slash `pull-kubernetes-bazel-test` to ~5-8 minutes](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-bazel-test-canary/) instead of [25-30](https://k8

[2018-02-16 19:12] BenTheElder commented on #6703
I have better ides, see https://github.com/kubernetes/test-infra/issues/6865
/close

[2018-02-16 19:12] #6703 closed

[2018-02-16 19:14] BenTheElder commented on #5879
/cc @qhuynh96
Not sure if we actually want this or not, if not perhaps just close this :-)

[2018-02-16 19:15] BenTheElder commented on #5886
This is not a testgrid bug, though perhaps this should be tracked / fixed in k/k
/close

[2018-02-16 19:15] #5886 closed

[2018-02-16 19:16] BenTheElder commented on #5542
This will hopefully happen after https://github.com/kubernetes/test-infra/issues/6808

[2018-02-16 19:17] BenTheElder commented on #4814
Mungegithub is headed for the graveyard at this point.
/close

[2018-02-16 19:17] #4814 closed

[2018-02-16 19:22] #3328 closed

[2018-02-16 20:11] cblecker commented on #4179
@fejta @spiffxp @cjwagner Was consensus on this reached in some other forum than this issue? It was noted in https://github.com/kubernetes/test-infra/pull/5547#issuecomment-346165547 that this behaviour shouldn't have been deployed without consensus/communication, but it looks like https://github.com/kubernetes/test-infra/pull/6321 rolled this out.

[2018-02-16 21:10] cjwagner commented on #4179
@cblecker Sorry, thats my mistake. I meant to address this first, but two months had gone by and I completely forgot that there were reservations about process change.

If it is necessary, I can recreate the mungegithub instances and revert to using the munger again (:nauseated_face:) or change the Prow plugin to assign instead of requesting reviews. However, given that there have been no complain

[2018-02-16 21:28] cblecker commented on #4179
@cjwagner We need to get communication out to people as they may not even have realized that their workflow has been impacted. The other thing that made me think and come back to this is the discussion around the meaning of /lgtm, and that lgtm still assigns people. And when we are looking for an approver, we also suggest to assign people.

The other datapoint we need to look at, is since this wor

[2018-02-16 21:33] #5294 closed

[2018-02-16 21:33] #5293 closed

[2018-02-16 21:33] #4382 closed

[2018-02-16 21:33] #4380 closed

[2018-02-16 22:33] stevekuznetsov commented on #6145
@spxtr did we have a WIP PR or branch pushed up with the work you mentioned above?

[2018-02-17 01:04] BenTheElder commented on #5995
Reference on how many we had:
[code]
cleanup workaround for now:
[code]

[2018-02-17 01:05] BenTheElder commented on #5995
/assign
most of these were *more than two weeks old* :/

[2018-02-17 01:07] BenTheElder commented on #5995
/cc @krzyzacy

[2018-02-17 01:09] krzyzacy commented on #5995
let's make sinker kill stale pods?

[2018-02-17 01:10] BenTheElder commented on #5995
Yeah, this has been on the backlog but maybe we should fix this, that's a
lot of stuck jobs :/

On Fri, Feb 16, 2018 at 5:09 PM, Sen Lu <notifications@github.com> wrote:

[2018-02-17 01:20] mtaufen commented on #3414
w00t!

[2018-02-17 01:29] mtaufen opened #6880 "Prow Feature Request: Make search fuzzy, rather than just matching substrings."
Prow now has a really great feature that lets you search for jobs. Thanks @qhuynh96!
It would also be cool if it could do stuff like my editor's fuzzy matcher (substrings don't have to be contiguous):
![screenshot from 2018-02-16 17 23 49](https://user-images.githubusercontent.com/903617/36336670-b65e0f8c-133e-11e8-8350-ef90a5a220ad.png)

I saw a blog post investigating how to implement this kind

[2018-02-17 01:31] BenTheElder commented on #6880
/kind enhancement
yes please
/assign @qhuynh96
/assign

[2018-02-17 01:39] qhuynh96 commented on #6880
@mtaufen @BenTheElder  Acknowledge. I will be on it soon.

[2018-02-17 01:47] BenTheElder commented on #6808
FYI @perotinus we can probably look at using this with the cluster-registry soon, test-infra is using it now 😄

[2018-02-17 03:26] spxtr commented on #6145
Sorry for the long delay, things have gotten interesting over here. I mostly likely won't be able to drive this one to completion, especially since you'll want to pay close attention as you deploy it.

https://github.com/spxtr/test-infra/commit/c2620fc8dcfb4412ae7493cdccf6d307fd0fc6e5

This works for labels and missing labels. It's so simple (and untested)! A manual dry run shows it wants to set s

[2018-02-17 04:46] BenTheElder commented on #6145
Thanks Joe! 😄

On Fri, Feb 16, 2018 at 7:26 PM, Joe Finney <notifications@github.com>
wrote:

[2018-02-19 10:59] aleksandra-malinowska opened #6893 "Tests run against stale version of k8s"
Looks like for the past 3 days, all tests run against [v1.11.0-alpha.0.92+ada9400915e282](https://github.com/kubernetes/kubernetes/commit/ada9400915e282), even though a lot of changes has been merged to master since.

In particular, autoscaling tests are still failing despite the fact that PR causing the issue was reverted 2 days ago:
https://k8s-testgrid.appspot.com/sig-autoscaling#gci-gce-autosc

[2018-02-19 15:51] stevekuznetsov commented on #5550
Hopefully the recent jUnit work from @cblecker and friends has helped here.
/close

[2018-02-19 15:51] #5550 closed

[2018-02-19 21:37] stevekuznetsov commented on #5216
/remove-lifecycle stale

[2018-02-20 03:50] #6847 closed

[2018-02-20 10:16] aleksandra-malinowska commented on #6893
cc @krzyzacy @BenTheElder

[2018-02-20 13:16] bbbmj opened #6900 "How can I generate release note with `releasenote` plugin?"
**What happened**:

- I haven't found any code to generate release note in test-infra, maybe there is none?

**What you expected to happen**:

- Sincerely look forward to a reply

[2018-02-20 14:19] supereagle commented on #6900
It is in another repo: [kubernetes/release](https://github.com/kubernetes/release).

[2018-02-20 17:05] bacongobbler opened #6903 "opting out of fetja-bot?"
Hey, over at kubernetes/helm we'd like to opt out of fetja-bot from marking issues as stale. Any way we can disable this bot for the project? Thanks!

[2018-02-20 17:26] oomichi opened #6904 "apicoverage: Add log parser for apiserver side log"
As discussing on [1], apiserver itself receives requests from not only clients(e2e test in this case) but also from kubernetes components. So even if a client sent a single request, apiserver can receive multiple requests in its sequence.
Now apicoverage tool investigates e2e test log only, and it is good to have another parser for apiserver side log also from the above viewpoint.

[1]: https://do

[2018-02-20 17:36] stevekuznetsov commented on #6903
/cc @fejta @cjwagner @BenTheElder @spiffxp

@bacongobbler there has been a lot of conversation around this recently, specifically also with the Helm repo. As a super quick refresher of how I think much of that has gone:

 - the steering committee has put emphasis on making sure that the state of automation is consistent between all k8s repos
 - in general there is a large backlog of stale issues t

[2018-02-20 17:38] stevekuznetsov commented on #6904
/cc @timothysc

Perhaps a couple of coverage metrics are useful to users in the end, too?

[2018-02-20 17:47] stevekuznetsov commented on #6900
`releasenote` plugin just ensures that the data is present on your pull request. As mentioned, the tool lives in `kubernetes/release`. Please re-open if you have more questions!

/close

[2018-02-20 17:47] #6900 closed

[2018-02-20 18:04] krzyzacy commented on #6893
cc @calebamiles @david-mcmahon @ixdy
so now ci/latest somehow becomes 1.11.0-alpha? shouldn't that stay 1.10-beta?

[2018-02-20 19:22] ixdy commented on #6893
ci/latest points to whatever is on master, which is now v1.11-alpha since the release-1.10 branch has been created.

[2018-02-20 20:16] bacongobbler commented on #6903
With all due respect - for Helm in particular - I strongly disagree that these stale issues serve no purpose. A [large amount of our older issues](https://github.com/kubernetes/helm/issues?q=is%3Aissue+is%3Aopen+sort%3Acreated-asc) are either proposals or feature requests, all of which are fantastic features for Helm. It's usually the case that nobody's had the time to implement them, or we're wai

[2018-02-20 21:29] stevekuznetsov commented on #6903
@bacongobbler thanks for sharing your thoughts. It definitely seems like the current implementation (and that bug) are making this a frustrating feature for your repo contributors. In addition to this issue, I would suggest anyone interested in this to jump into the `sig-contributor-experience` weekly meeting Tomorrow, Wednesday the 21st at 9:30AM PST. More information [here](https://docs.google.c

[2018-02-20 21:48] leblancd opened #6906 "Please bump kubernetes-anywhere version to unblock kubeadm CI jobs"
We have several Kubeadm-related CI test jobs that have been failing for weeks
(see [Kubernetes Issue #59762](https://github.com/kubernetes/kubernetes/issues/59762)).
As explained in the discussion for k8s issue #59762, it appears that the root cause could be a quirk in the way that bazel builds tar packages for kubernetes-cni (see [Bazel Issue #4651](https://github.com/bazelbuild/bazel/issues/4651

[2018-02-20 21:57] oomichi commented on #6904
@stevekuznetsov

Yeah, some metrics could be useful.
What kind of metrics do you want to check?
I'd like to get ideas for going forward.

[2018-02-20 22:24] stevekuznetsov opened #6908 "prow: cherrypicker: add a milestone to cherry-pick PRs"
A thought @derekwaynecarr had a thought that the `/cherrypick` robot could (if it has the rights to) add the appropriate milestone to the PR it creates.

/cc @cjwagner @marun @kargakis
/kind feature
/area prow

[2018-02-20 22:51] BenTheElder commented on #6903
I just want to add that I've read through this and I'm holding for the discussion tomorrow but happy to PR bringing things in line with whatever consensus is reached.

[2018-02-20 22:57] BenTheElder commented on #5541
This does happen from time to time, but I think we're replacing the git checkout logic entirely, we should consider having some minimal amount of retry in this @stevekuznetsov. Letting the job fail does let it be rescheduled however, and when I see this it's generally after a force push leaving us with incorrect refs. In this case letting the job be rescheduled works correctly, so we probably don'

[2018-02-20 22:58] stevekuznetsov commented on #6904
The obvious choices are API coverage segmented by client, so e2e client, each controller, the kubelet, etc. Unclear exactly how useful this may or may not be for this effort, though.

[2018-02-20 22:59] stevekuznetsov commented on #6903
It has been brought to my attention that the Helm summit is starting tomorrow morning and therefore many of the core contributors on that repo specifically will not be able to attend the meeting. I've suggested sending thoughts via e-mail to the contributor experience mailing list or this thread so as to be able to share them anyway. Shame about the timing of things.

[2018-02-20 23:00] BenTheElder commented on #6893
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/10651
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/10655/
Somehow these are triggering with 1.11 and 1.10 ??

[2018-02-20 23:01] stevekuznetsov commented on #5541
Retry would only help in the case that the GitHub API gave us a PR `HEAD` that a `git fetch` could not resolve from their `git` servers, right? And that retry would just extend the time to failure for every job that triggers this condition by being started in the middle of a number of rebases. I feel like the case where someone does a rebase quickly in succession is much more common than the case

[2018-02-20 23:03] BenTheElder commented on #5541
It *might* be reasonable to immediately retry once or twice or after a rather short delay? I agree that my immediate thinking is that jobs should generally fail and be re-run since usually we seem to just get bad refs / genuinely un-mergable code (not rebased yet), but we should perhaps take a look at options now that the old checkout scripts are hopefully on the way out.

[2018-02-20 23:07] stevekuznetsov opened #6909 "prow: gcsupload: failed to fetch OAuth2 token"
Seeing this error on some uploads:

[code]

/area prow
/kind bug
/assign

[2018-02-20 23:07] stevekuznetsov commented on #6909
@rmmh @michelle192837 have you guys seen this at all with the code interacting with GCS using the `golang` clients? Do you just retry on interaction?

[2018-02-20 23:22] ixdy commented on #6893
I think the `v1.10.0-beta.0` tag was deleted from upstream, but probably some of the prow build nodes have `v1.11-alpha.0` in their git cache, and are thus using that tag instead. (Both `v1.10.0-beta.0` and `v1.11-alpha.0` pointed at the same commit, but the latter was probably made last, and thus takes precedence if both exist?)

See also https://github.com/kubernetes/sig-release/issues/85

[2018-02-20 23:46] BenTheElder commented on #5660
somewhat orthogonal but https://github.com/kubernetes/kubernetes/pull/59289 should be *much* better

[2018-02-20 23:54] smarterclayton commented on #6909
This may be a networking thing on the box - possibly caused by the actual test being run.

[2018-02-21 00:04] spiffxp commented on #3866
As I'm going through our labels it occurs to me that tide's not going to support the `retest-not-required` or `retest-not-required-docs-only` workflow that some contributors are used to https://github.com/kubernetes/test-infra/issues/5334

[2018-02-21 00:42] BenTheElder commented on #6808
Tested eviction a bit more with: https://github.com/BenTheElder/test-infra/blob/20d7d58ac34d59e241eddfb107e3b735398cd8d7/experiment/fill_cache.sh
Will PR some logging changes but so far WAI

[2018-02-21 01:27] rmmh commented on #6909
The library should retry for us, but I think that's buried deep in the vendored storage/grpc/oauth libraries.

[2018-02-21 03:42] ixdy commented on #3866
@spiffxp OTOH, tide only triggers retests when the branch is out-of-date, whereas the submit queue always triggered retests.

[2018-02-21 05:57] stevekuznetsov commented on #6909
Yeah I was under the impression it would retry too. Hmm.

[2018-02-21 05:57] stevekuznetsov commented on #6909
Agreed Clayton, this looks like a real low level whoopsie

[2018-02-21 10:42] aleksandra-malinowska commented on #6893
Looks like this is resolved - tests are running against the lastest version now.

[2018-02-21 10:42] #6893 closed

[2018-02-21 15:29] spiffxp commented on #6903
I'm at helm summit and will be happy to discuss in person.  I agree that this was rolled out without consensus from all those it would affect.  In general I would prefer to see us follow a model of proposals floated through sig-testing, and sig-contributor-experience prior to implementation, and kubernetes-dev at least prior to rollout.

The commenter jobs can be configured to support more granula

[2018-02-21 17:00] david-mcmahon commented on #6893
We need to get https://github.com/kubernetes/kubernetes/pull/59960 in so we can tag that branch-only change on the branch.

[2018-02-21 22:40] nikhiljindal commented on #6624
This is now done.
We have a ci job that is pushing new images every time there is a commit: https://k8s-testgrid.appspot.com/sig-multicluster-kubemci#kubemci-image-push

https://k8s-testgrid.appspot.com/sig-multicluster-kubemci#kubemci-ingress-conformance is an example ci job that is running and using that pushed latest image in every run.