[2022-04-13 13:56] alvaroaleman commented on #25939
Can you post the yaml of such a pod, please?

[2022-04-14 10:53] sdif commented on #25939
Hi @alvaroaleman ,
Here is the link yo the pod yaml (pw is: HS2022) : https://privatebin.net/?a68885cceb4e8009#3cAA25Bp7NaTi5mDQFuwFqXxkgh2NZuQE17iQJQ9NZ21

FYI we tried to:
- Force delete the pod without any success, command hangs and pod is still terminating:
[code]

- Delete `LimitRanger` annotation (suggested by GCP Support with [this](https://github.com/kubernetes/kubernetes/issues/65569) sou

[2022-04-14 12:24] JohnNiang commented on #25088
I encountered this issue recently, please see logs in tide container:

[code]

And I found the possible related code below:

Please see

https://github.com/kubernetes/test-infra/blob/0e1f55da5401d8ebd359fb8c5df3f7924e041f36/prow/tide/tide.go#L1096

https://github.com/kubernetes/test-infra/blob/e38ba360f2e51917cea9bc95ef54a7e7a8f026fe/prow/git/git.go#L377-L387

[2022-04-14 12:32] alvaroaleman commented on #25939
@sdif that is very odd, and with sinker it works? It also just does a delete: https://github.com/kubernetes/test-infra/blob/5ed7f971e5e68db90d749f9acd2f40e012792932/prow/cmd/sinker/main.go#L484

[2022-04-14 14:09] chaodaiG commented on #25938
Yep bazel rules are not relevant anymore, and it's on my backlog to remove all build files.

Now that this repo has been built and tested without bazel for quite a while, I think we are ready for this clean up. I will do it once I'm back in office next week

[2022-04-15 08:01] wojtek-t opened #25966 "Add support for measuring unit test coverage difference in presubmits"
It would be great if could have a presubmit that will ensure that test coverage of packages/files touched by a given PR is not decreasing (or is at least X%).

A bit of context:

We already have postsubmits that show us the test coverage, e.g.:
https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-unit
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-te

[2022-04-15 12:06] sdif commented on #25939
It seems so as there is no pod older than 48h which is the configuration we have for sinker, and it seems it is working fine:
[code]

[2022-04-15 14:04] wojtek-t opened #25967 "k8s-triage-robot should not be closing important bugs"
We were just chatting with @liggitt about reliability bar and one of the AIs from the discussions was to ensure that important bugs actually aren't closed.

Basically, any issue that is marked with:
kind/bug
priority/{important-soon,important-longterm,critical-urgent}

should not be touched by k8s-triage-robot for marking as state/rotten/closed

Couple different jobs in this file have to be update

[2022-04-15 14:04] wojtek-t commented on #25967
/sig contributor-experience

[2022-04-15 14:06] liggitt commented on #25967
xref https://github.com/kubernetes/kubernetes/issues/103151

I agree with this scoped starting point. A confirmed bug that is marked important/critical should not be autoclosed.

[2022-04-15 14:07] liggitt commented on #25967
I could actually see the stale/rotten labels being useful/interesting to indicate inactivity/neglect, but not auto-closing

[2022-04-15 14:10] wojtek-t commented on #25967
+1 - didn't think about it but it makes perfect sense

Also thanks for cross-referencing.
Adding some folks here explicitly then:
@dims @BenTheElder @sftim @ehashman @spiffxp

[2022-04-15 14:13] liggitt commented on #25967
for reference, here's a query of the closed `lifecycle/rotten` bugs with important or critical priority: https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+is%3Aclosed+label%3Alifecycle%2Frotten+label%3Akind%2Fbug+label%3Apriority%2Fimportant-longterm%2Cpriority%2Fimportant-soon%2Cpriority%2Fcritical-urgent+

[2022-04-15 14:18] wojtek-t commented on #25967
Should we just go ahead and reopen them?
[Not now, but after changing the bot]

[2022-04-15 14:47] BenTheElder commented on #25967
The bot does search queries so changing them is trivial, but up to contributor experience to approve.

I think the problem is "confirmed" bug.

E.g. you could just apply `/lifecycle frozen` to accepted bugs but anyone can do this. It's also true for `/kind bug` and `/priority critival-urgent` though.

[2022-04-15 17:26] listx commented on #24025
/reopen

Keeping this issue open for oncall to not panic in case it surfaces again in Prow logs.

[2022-04-15 19:43] #24074 closed

[2022-04-15 20:09] BenTheElder commented on #25966
Given that we always merge into the target branch locally before testing, and we have continuous unit testing ... strawman:

- persist the most recent coverage results for [merged code in] a given branch to a known location (GCS?)
- download current results in presubmit after unit testing
- compare across all files (no need to filter by file, since we're testing the "if we merged this PR" git stat

[2022-04-16 10:23] sftim commented on #25967
I'd be happy to see accepted issues never closing, or rotting with a _much_ longer interval (eg 12 months). We can still explicitly freeze key issues.

[2022-04-16 17:58] #24391 closed

[2022-04-16 22:28] aojea commented on #25966
+1
/cc

[2022-04-17 00:02] cheuklau opened #25975 "Prow issue: Allow org-only specification for pre and post-submit jobs"
Feature request to allow only specifying org for pre and post-submit jobs.

Currently we must specify org/repo which is not feasible when we want to apply the same ProwJob across all repos within an Org.

[2022-04-18 13:40] mrbobbytables commented on #25966
/cc

[2022-04-18 14:23] chaodaiG commented on #20745
/reopen
/remove-lifecycle rotten

[2022-04-18 14:24] chaodaiG commented on #20745
/close
this was actually fixed by https://github.com/kubernetes/test-infra/pull/25834

[2022-04-18 14:24] #20745 closed

[2022-04-18 14:28] chaodaiG commented on #24390
/reopen
/remove-lifecycle rotten

[2022-04-18 15:18] chaodaiG commented on #25966
this is a great idea! I'm in supporting.

According to https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#job-environment-variables, `PULL_BASE_SHA` is the SHA of base branch, so in prow job you can use `git diff $PULL_BASE_SHA --name-only`  to get the changed list of files.

I have a couple of questions:
- do we have active owners of gopherage who can do code review, bug fixes etc.

[2022-04-18 15:29] chaodaiG commented on #25896
SGTM!

[2022-04-18 15:41] mrbobbytables commented on #25967
I agree that keeping their lifecycle state is useful knowledge, and I believe bugs labeled with `triage/accepted` not closing is an acceptable middle-ground. Only org members can use the command, so I think there is sufficient gating to prevent abuse.

IMO - It's probably worth sending to the contribex/k-dev mailing lists+community meeting this week for more broader discussion.

[2022-04-18 16:23] SergeyKanzhelev commented on #25095
closed via #25977

[2022-04-18 16:23] #25095 closed

[2022-04-18 17:25] BenTheElder commented on #25966
I don't think we need a list of changed files because either way we need a baseline to compare to and changing one file can change the coverage in an untouched file.

Consider the trivial case of modifying a unit test file only.

[2022-04-18 18:37] dims commented on #18600
xref: https://github.com/kubernetes/kubernetes/issues/109521

[2022-04-18 18:53] stevekuznetsov commented on #25966
Would e.g. removing a file or splitting it into separate files be something we expect the automation to pick up on and handle gracefully or would it be hard enough to automate / rare enough to require /override?

[2022-04-18 19:06] dims commented on #18601
/assign

[2022-04-18 19:06] dims commented on #18600
/assign

[2022-04-18 20:14] EricEdens opened #25993 "Update to gencreds #25873 causes prow builder onboarding to have authentication issues"
We recently onboarded a build cluster using the [OSS prow guide](https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/oss/onboarding.md); that guide uses the script create-build-cluster.sh from this repo.

The k8s deployment is 1.21.6-gke.1503.

We observed that the credentials that are stored in secret manager expired after a couple of days, causing the OSS prow cluster to be un

[2022-04-18 20:57] chaodaiG commented on #25993
also CC @alvaroaleman and @petr-muller , not sure how openshift onboards new build cluster, if using gencred then you might also ben affected

[2022-04-18 20:57] chaodaiG commented on #25993
/sig testing

[2022-04-18 23:13] #24373 closed

[2022-04-18 23:16] jberkus commented on #25967
.... or even adding it to the Community Meeting agenda.

[2022-04-19 00:13] #23425 closed

[2022-04-19 02:17] BenTheElder commented on #13063
test-infra runs on GCP (due to https://www.cncf.io/announcements/2020/12/17/cloud-native-computing-foundation-receives-renewed-3-million-cloud-credit-grant-from-google-cloud/), FWIW.

When it isn't reasonable to DIY infra all the way down, we use off the shelf offerings sometimes. Sometimes not often enough 🙃

spiffxp is out for a while right now, I think mostly it would be good to have a rendered

[2022-04-19 02:19] BenTheElder commented on #19264
/lifecycle frozen
/good-first-issue
https://github.com/kubernetes/test-infra/issues/19264#issuecomment-937352372 should be pretty straightforward, this ought to be a decent starter issue.

You will need to remove the deprecated fields and there associated code, and perhaps double check if we've missed any documentation references. There also needs to be a note in the announcements that they are no

[2022-04-19 02:21] BenTheElder commented on #19264
wg/naming was dissolved.
Clearing assignees so it's clear that no-one is working on this.

If anyone is interested, please feel free to reach out to me or @chaodaiG, we can help answer any questions.

[2022-04-19 02:22] BenTheElder commented on #11402
@ameukam where are we at on this?

[2022-04-19 02:23] BenTheElder commented on #3349
Amongst other things, this is currently blocked by having enough headway on our GCP run rate to migrate the remaining infrastructure. I'm actively working in SIG K8s Infra on the cost reduction measure(s).

[2022-04-19 02:24] BenTheElder commented on #18729
let's revisit this someday. FYI @dims @liggitt @wojtek-t

[2022-04-19 02:24] #18729 closed

[2022-04-19 02:26] BenTheElder commented on #20667
@cjwagner @stevekuznetsov @chaodaiG WDYT https://github.com/kubernetes/test-infra/issues/20667#issuecomment-863556005 ?

I think we could do this pretty easily by just detecting `HEAD` => pick a different value for the branch name but otherwise use HEAD in most places untouched. Last time I tried this the branch name seemed to be the only stumbling block. I'm not sure what we should call it.

[2022-04-19 02:27] BenTheElder commented on #21430
@dims punt to 1.25?

[2022-04-19 02:27] BenTheElder commented on #21430
cc also @ehashman @SergeyKanzhelev

[2022-04-19 02:29] BenTheElder commented on #20652
This seems like a valid "we really ought to fix this someday" but backlog/low-priority and no movement. Punting to someday milestone.

[2022-04-19 02:31] BenTheElder commented on #20672
I bias towards energy on bootstrap -> podutils instead, I'm not sure we should reduce friction on bootstrap.py, it's really too bad we're still using this thing.

[2022-04-19 02:33] BenTheElder commented on #6380
This is really something we should do, but there are so many of those.

Currently I'm a bit busy "keeping the lights on" so to speak, and working on cost mitigation in SIG K8s infra. Aaron is out.

SIG Testing and the project at large should really handle this someday. Maybe X-Ref reliability work.
cc @wojtek-t @liggitt @dims

[2022-04-19 02:35] BenTheElder commented on #25950
yeah, you'll need to do `go build` from a clone. it's not clear that this repo will be in a `go get`-able state again anytime soon if ever.

[2022-04-19 02:35] BenTheElder commented on #25938
/assign @chaodaiG
cc

[2022-04-19 02:37] ameukam commented on #11402
@BenTheElder we need to migrate the jobs listed in https://github.com/kubernetes/test-infra/issues/11402#issuecomment-709517484 to `k8s-infra-prow-build-trusted`.

/milestone v1.25

[2022-04-19 02:37] BenTheElder commented on #25914
@mborsz @ameukam I seem to recall a slack discussion about this?

[2022-04-19 02:37] dims commented on #21430
@BenTheElder yep let's do this as soon as 1.25 opens up!

[2022-04-19 02:47] vinayakshnd commented on #19264
/assign

[2022-04-19 02:58] ameukam commented on #25914
Root cause has been identified in https://github.com/kubernetes/k8s.io/issues/3600. The job is flaky but it's not related to the containerd issue

[2022-04-19 04:00] BenTheElder commented on #25914
I think we can close this and track the remaining infra issue in k8s.io#3600, thanks @ameukam

[2022-04-19 04:00] #25914 closed

[2022-04-19 04:49] chizhg commented on #25966
Is there any specific reason for not using [codecov](https://about.codecov.io/)? It's free for public GitHub repos and is very easy to setup. The [Knative](https://github.com/knative) projects have been using it for a while and it worked pretty well. See the below links as an example:
- Dashboard: https://app.codecov.io/gh/knative/serving
- Coverage change on PRs: https://github.com/knative/servin

[2022-04-19 07:07] wojtek-t commented on #25966
https://github.com/kubernetes/test-infra/issues/25966#issuecomment-1100364788

I like that - it seems simpler to do - so hopefully also faster to act on.

To do that, IIUC we only need to:
- persist the info to GCS from the postsubmit jobs [sure there are races possible, but it's a good enough start]
- add a small comparison tool

@BenTheElder - Do you have any pointers maybe? Would it be possible

[2022-04-19 09:38] oliver-goetz opened #25998 "Upgrading from v20220416 to v20220418 breaks Spyglass"
/area prow/deck
/area prow/spyglass

**What happened**:
Upgrading from [v20220416 to v20220418](https://github.com/gardener/ci-infra/pull/198) breaks Spyglass. All sections (build log, metadata) are loading forever. Thus, we reverted the update in our prow instance.
The same issue occurs on prow.k8s.io on any prowjob (like [here](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8s-infra-bui

[2022-04-19 09:39] oliver-goetz commented on #25998
/sig testing

[2022-04-19 17:36] BenTheElder commented on #25998
https://github.com/kubernetes/test-infra/compare/2d9ce8514f...9a5c901fc3 per linked PR, most of which are just config changes that wouldn't affect a second prow instance.

[2022-04-19 17:46] chizhg commented on #25966
It's all about interpreting the results.

I think my question/concern is whether it's worth the effort to reinvent the wheel, since `codecov` should have supported all the features you need.

To add a bit more context, Knative previously had an in-house `coverage` tool that was able to post unit test coverage diff on PRs, but we recently deprecated it in favor of `codecov` - https://github.com/kna

[2022-04-19 18:02] alvaroaleman commented on #25998
Let me manually check if #25969 is the issue. It seems unlikely but who knows

[2022-04-19 18:03] fejta commented on #25998
Agree, but downgrading seems to have worked? But maybe that's because I power cycled the pods...

[2022-04-19 18:05] fejta commented on #25998
Suspect the bump is a red herring, I'm seeing some auth errors in deck, going to revert

[2022-04-19 18:25] chizhg commented on #25966
And it looks **some** Kubernetes projects are already using it - https://app.codecov.io/gh/kubernetes

[2022-04-19 18:27] fejta commented on #25998
Going back to v20220418-9a5c901fc3 caused spyglass to hang again, going to 0416 and things are working again. Reverting the deck sorting PR

[2022-04-19 21:40] hh opened #26019 "`/link org/repo#NNN` to *link-a-pull-request-to-an-issue*"
**What would you like to be added**:

Prow plugin to respond to `/link org/repo#NNN` to link a PR to a pull request without closing it.

**Why is this needed**:

We don't want issues prematurely closed via keywords, and more and more often we have Issues that are linked to multiple PRs.
https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#github-keywords

**Start

[2022-04-19 21:49] hh commented on #26019
No Public API at initial glance: https://docs.github.com/en/rest/reference

[2022-04-19 22:20] ameukam commented on #24247
We can use GCS as a bazel cache https://docs.bazel.build/versions/main/remote-caching.html#google-cloud-storage

[2022-04-19 22:43] BenTheElder commented on #24247
We don't want to do that because garbage collection is ??
Greenhouse basically exists so we can do LRU of bounded size.

[2022-04-20 07:05] oliver-goetz commented on #25998
Deck and Spyglass are working again with the new `v20220419-feb40d908d` builds.
Thanks for helping 😄

/close

[2022-04-20 07:05] #25998 closed

[2022-04-20 07:40] wojtek-t commented on #25966
I'm not owning our test-infra so I will let others to chime in, but while I generally agree with non reinventing the wheel, there seem to be advantages of having unifying the tooling (and we're using prow-based tooling for everything).

[2022-04-20 09:10] claudiubelu opened #26029 "sig-windows: GCE Windows jobs for containerd are not using containerd"
**What happened**:

Looking at the GCE Windows containerd jobs, it seems that they are **not** using containerd. For example, looking at a containerd job [1] and one of its failures, we see that the nodes are listed. In there we can see the following:

[code]

We see that the Windows nodes are using docker instead of containerd. This causes some tests to fail since they require containerd (they ar

[2022-04-20 09:44] claudiubelu commented on #26029
/sig windows

[2022-04-20 11:00] claudiubelu opened #26030 "sig-windows: windows-gcepd tests failing"
**What happened**:

The tests ``[sig-storage] In-tree Volumes [Driver: windows-gcepd]`` are failing in GCE for master and Kubernetes 1.23. However, they pass for Kubernetes 1.22.

These tests are permanently failing. The tests are creating PVs, but they fail to be created:

[code]

The test environments might not be set up properly. Comparing the the 1.23 job [4] and the 1.22 [5] job doesn't revea

[2022-04-20 11:01] claudiubelu commented on #26030
/sig-windows

[2022-04-20 11:03] claudiubelu commented on #26030
/sig sig-windows

[2022-04-20 12:54] claudiubelu commented on #26030
x-ref: https://github.com/kubernetes/kubernetes/issues/109521

[2022-04-20 12:54] claudiubelu commented on #26029
x-ref: https://github.com/kubernetes/kubernetes/issues/109521

[2022-04-20 16:40] alvaroaleman commented on #25993
It doesn't use `gencred`

[2022-04-20 20:49] chaodaiG opened #26041 "Branch protector is failing with "update kubernetes-sigs: update metrics-server: update gh-pages""
**What happened**:

Branch protector job is failing consistently:

[code]

link: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-branchprotector/1516867945198784512
see more: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-test-infra-branchprotector

**What you expected to happen**:

it should pass

/sig testing

[2022-04-20 23:06] upodroid opened #26045 "Modify Prow Services to insert `app.kubernetes.io` labels to objects it creates in Kubernetes"
**What would you like to be added**:
I'm rebuilding the [knative prow cluster](https://github.com/knative/test-infra/pull/3271) from scratch and having a hard time figuring out it which objects are created by prow which ones were created by humans.

There are standard labels widely used with Kubernetes to supply more information about k8s objects.

https://kubernetes.io/docs/reference/labels-annot

[2022-04-20 23:07] upodroid commented on #26045
/sig testing
/area prow

[2022-04-20 23:33] fejta commented on #25907
/help

[2022-04-21 04:16] Babapool commented on #25907
Hi,I would love to help on this issue (I could click things😃). Thanks

[2022-04-21 12:28] #26029 closed

[2022-04-21 13:36] alvaroaleman commented on #23870
@smg247 did you have a chance to test this?

[2022-04-21 13:39] smg247 commented on #23870
Sort of...we actually can't purely use this with the OpenShift CI as the gh app multiple callback URLs don't function correctly, and we don't want to create a seperate app for each deck instance. However, we can use it in a hybrid model where you utilize a gh app, and a separate OAuth app for the authentication. That part has been tested and functions as expected.

[2022-04-21 13:42] alvaroaleman commented on #23870
Okay hm. The original NPD bug this issue was created for is fixed so I guess it is fine to close this out and open up follow-ups if we end up finding that there are more issues with it.

Thanks for your work!
/close

[2022-04-21 13:42] #23870 closed

[2022-04-21 13:43] smg247 commented on #23870
yeah it ended up being a lot more involved and nuanced than it initially appeared, although the resulting code change was rather simplistic.

[2022-04-21 13:45] alvaroaleman commented on #26045
Not sure if it is realistic to have this everywhere. You can use `managedFields` through something like [kubectl blame](https://github.com/knight42/kubectl-blame) or maybe even just check if the `kubectl.kubernetes.io/last-applied-configuration` is present if you just want to know "Was this created by kubectl or something else".

[2022-04-21 15:03] chaodaiG commented on #25938
Bazel rules are cleaned up from this repo via #26039, this issue is irrelevant any more.
/close

[2022-04-21 15:03] #25938 closed

[2022-04-21 18:29] wojtek-t commented on #25967
We just discussed that during the community meeting.

The outcome was that:
1. we want to proceed with not closing issues that are what's originally proposed + triage/accepted
2. we want to ensure that SIGs are actually triaging issues
3. we want to ensure that issues that don't have SIG assigned are also triaged
4. we want to additionally provide some customization for timelines (e.g. enhancement

[2022-04-21 18:39] cblecker commented on #25967
The configuration of the bot is here: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml

[2022-04-21 18:40] cblecker commented on #25967
The process of recording consensus and notifying folks is here: https://github.com/kubernetes/community/blob/master/sig-contributor-experience/charter.md#cross-cutting-and-externally-facing-processes

[2022-04-22 10:10] wojtek-t commented on #25967
@cblecker - thanks; the announcement have been sent in:
https://groups.google.com/a/kubernetes.io/g/leads/c/PYjDxRh8ghQ

[2022-04-22 14:00] #25066 closed

[2022-04-22 16:46] BenTheElder commented on #25966
I actually don't have it handy, I could dig it up but it's just some very naive bash capturing the overall coverage value and comparing IIRC, not really worth re-using, especially with so many lines of code.

The concept of using continuously uploaded post-merge results to compare is good though (and presumably how e.g. codecov works?).

I haven't looked at codecov in some time, our own existing c

[2022-04-22 17:38] #21996 closed

[2022-04-23 10:47] #24123 closed

[2022-04-23 23:54] #22417 closed

[2022-04-24 12:04] ChihiroKitada opened #26073 "Prow issue:"
The following sample code may not be indented enough?

  - path: /v2
    pathType: Prefix
    backend:
      service:
        name: web2
        port:
          number: 8080

[2022-04-25 06:06] timebertt commented on #23870
Thank you folks!
@oliver-goetz we can have another shot in our instance and then report back :)
ref https://github.com/gardener/ci-infra/issues/132

[2022-04-25 15:04] #24475 closed

[2022-04-25 17:22] oliver-goetz commented on #23870
I tested it in our prow instance and can confirm that PR status page is working 👍
thanks @smg247

[2022-04-25 18:40] BenTheElder commented on #25966
It looks like it is possible to upload coverage files with codecov and that's the expected implementation https://about.codecov.io/blog/getting-started-with-code-coverage-for-golang/

So probably someone could update the unit test prowjobs to upload the final maniulated coverage files.

.. ButiIt doesn't appear that the uploader will set an exit code based on coverage dropping, so while it might g

[2022-04-25 18:44] BenTheElder commented on #26019
the lack of a public API seems likely to mean this issue is not resolvable.

[2022-04-25 18:45] BenTheElder commented on #26030
/sig windows

[2022-04-26 08:59] Summer-Field opened #26087 "Prow Issue: Tide didn't merge PR with configuration we set"
**What happened**:
We use tide to merge our PR with `merge-type = squash`. However, it still uses `merge-type = merge` to merge our PR from time to time. [Here](https://github.com/kitex-contrib/test-infra/commits/main) is the commit history. We cloud see that PR-51 merge with `merge-type = merge`, however, PR-45 merge with `merge-type = squash`.
**What you expected to happen**:
Tide merges our PR

[2022-04-26 09:00] Summer-Field commented on #26087
/sig testing

[2022-04-26 09:01] Summer-Field commented on #26087
/cc @Jeffwan

[2022-04-26 09:03] Summer-Field commented on #26087
/area prow

[2022-04-26 11:55] RiRa12621 commented on #25950
@alvaroaleman i'm gonna try to come up with something. just running through a full attempt to capture all possible problems in one go

[2022-04-26 11:57] RiRa12621 commented on #25950
/retitle tackle documentation outdated

[2022-04-26 19:36] chizhg commented on #17671
/remove-lifecycle stale

[2022-04-27 00:30] #25950 closed

[2022-04-27 03:23] umairidris opened #26106 "Make base_sha optional in Prow pubsub trigger"
**What would you like to be added**:

Removing the need for `base_sha` to be set in [pubsub triggers](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/sub#postsubmit-prow-jobs) for pre/post submit jobs.

**Why is this needed**:

We would like to trigger postsubmit jobs against the latest commit of the repo. With the current implementation, we will need to constantly update the base_sh

[2022-04-27 03:26] umairidris commented on #26106
/area prow

[2022-04-27 03:26] umairidris commented on #26106
/sig testing

[2022-04-27 16:20] BenTheElder opened #26113 "fuzz job failing continuously"
https://testgrid.k8s.io/sig-testing-misc#test-infra-fuzz

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/test-infra-fuzz/1519343880913293312

[code]

/kind failing-test

cc @mpherman2

[2022-04-27 16:22] BenTheElder opened #26114 "branch protector is failing continuously"
https://testgrid.k8s.io/sig-testing-misc#branchprotector

/area prow

[2022-04-27 16:24] BenTheElder opened #26115 "push gencred is failing continuously"
https://testgrid.k8s.io/sig-testing-images#gencred

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-push-gencred/1518726974250422272

[code]

cc @chaodaiG

[2022-04-27 16:30] BenTheElder commented on #26114
/triage duplicate
https://github.com/kubernetes/test-infra/issues/26041
FYI @dims

[2022-04-27 16:30] #26114 closed

[2022-04-27 16:31] BenTheElder commented on #26041
this error message is a bit inscrutiable, does anyone know what actually happened here?
/area prow
cc @cjwagner @stevekuznetsov

[2022-04-27 16:33] BenTheElder commented on #26073
what sample code?

[2022-04-27 16:35] BenTheElder commented on #26113
see also:
https://testgrid.k8s.io/sig-testing-misc#test-infra-cfl-coverage-report

[2022-04-27 16:36] BenTheElder opened #26116 "HMAC reconciler continuously failing"
https://testgrid.k8s.io/sig-testing-prow#reconcile-hmacs

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-reconcile-hmacs/1519097214905880576

/sig testing
/area prow

[2022-04-27 16:50] BenTheElder opened #26118 "image builder and triage builds failing"
https://testgrid.k8s.io/sig-k8s-infra-gcb#image-builder

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/post-test-infra-push-image-builder

goes from passing in 1m to timing out in 2h15m repeatedly ...

/sig testing

[2022-04-27 16:51] BenTheElder commented on #26118
same behavior in https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/post-test-infra-push-triage

cc @chaodaiG since recent build changes.

image builder green march 8th, failing march 14th (nothing inbetween). triage failed 14th on, nothing before

[2022-04-27 18:50] chaodaiG commented on #26115
/assign
I'll take a look

[2022-04-27 20:37] #26115 closed

[2022-04-27 21:04] BenTheElder commented on #26115
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-push-gencred/1519415495839715328

Confirmed green

[2022-04-27 23:22] SergeyKanzhelev opened #26127 "SIG Node Alpha job needs clean up"
/sig node
/priority backlog

**What should be cleaned up or changed**:

The job https://github.com/kubernetes/test-infra/blob/98f0043ed20bccc89d7a3edc432495c06aa58c1e/config/jobs/kubernetes/sig-node/containerd.yaml#L454-L482 uses combination of features that might not be alpha features any longer. Need to clean up

Also related: https://github.com/kubernetes/test-infra/issues/11202

[2022-04-28 01:25] harishbab opened #26130 "Prow issue:"
Openshift custom ingress operator with AWS NLB doesnt allow settings for static IP addresses for listeners. Can we know if its possible or not? If yes, How?
Also would love customisation for the below config parameters for the AWS NLB:
subnet specification
Name
custom tags
Attributes.

[2022-04-28 01:26] #26130 closed

[2022-04-28 16:25] #26118 closed

[2022-04-28 18:14] BenTheElder commented on #26118
these are green, thanks @chaodaiG :-)

[2022-04-28 18:51] cjwagner commented on #26041
It sounds like this configuration is invalid:
https://github.com/kubernetes/test-infra/blob/a0fe9c20dde81906fba476ce537890fbc2ae44e7/config/prow/config.yaml#L562-L565

The gh-pages branch disables branch protection, but since required ProwJobs are configured for the branch that is not allowed. I'm not sure why this isn't validated earlier, seems like we should be able to do this validation in chec

[2022-04-28 19:32] stevehipwell commented on #26041
@raffo it looks like the documentation PR that was merged has broken this. We might need it rolled back until the implications have been considered.

[2022-04-28 19:35] stevehipwell commented on #26041
@cjwagner additional automation has been added to the repo since branch protection was disabled. The branch protection needs to stay off for the Helm chart publishing, so the new workflow needs reviewing with this information.

[2022-04-28 19:53] hongkailiu opened #26141 "deck: Path not handled"
There are many of those (different paths) in deck's log.

{
	"component": "deck",
	"file": "k8s.io/test-infra/prow/simplifypath/simplify.go:48",
	"func": "k8s.io/test-infra/prow/simplifypath.(*simplifier).Simplify",
	"level": "debug",
	"msg": "Path not handled. This is a bug, please open an issue against the kubernetes/test-infra repository with this error message.",
	"path": "/view/gs/origin-ci-t

[2022-04-28 19:55] hongkailiu commented on #26141
/sig testing

[2022-04-28 21:44] alvaroaleman commented on #26141
It means that the path simplifier that we use to remove variable content from paths used in metrics to avoid cardinality explosion doesn't have all paths and needs to be extended: https://github.com/kubernetes/test-infra/blob/59676552d477eec8cb5cc530c57e195833e3dd72/prow/cmd/deck/main.go#L224

[2022-04-29 07:32] #24498 closed

[2022-04-29 07:52] Raffo commented on #26041
Revert PR: https://github.com/kubernetes-sigs/external-dns/pull/2727

[2022-04-29 08:07] Raffo commented on #26041
The revert PR has been merged, I hope this fixes the problem for now.

@stevehipwell let's chat for what's needed to reintroduce it safely.

[2022-04-29 13:57] rritsoft opened #26147 "Prow issue: kubeadm dashboard created but error will be appeared , how to fix error"
apiVersion	"v1"
metadata	{}
status	"Failure"
message	"no endpoints available for service \"kubernetes-dashboard\""
reason	"ServiceUnavailable"
code	503

[2022-04-29 14:00] rritsoft commented on #26147
Hi

[2022-04-29 15:41] alvaroaleman opened #26148 "Tide batch testing need to start over if last test fails"
**What would you like to be added**:

**Why is this needed**:

Following scenario:
1. A batch retest is running
2. The last test is failing
3. -> Tide merges a serially passing job, if possible

It would be more efficient if we instead restarted the batch job that failed in order to not throw away the result of all other batch jobs for the same run that passed

/area prow
/area prow/tide

[2022-04-29 18:50] BenTheElder commented on #26041
Still failing. Need to revert to test-infra config next?

[2022-04-29 20:20] vteratipally commented on #25592
/close

[2022-04-29 20:21] #25592 closed

[2022-05-01 13:46] alvaroaleman commented on #26147
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2022-05-01 13:46] #26147 closed

[2022-05-01 13:47] alvaroaleman commented on #26148
On second thought this would have the disadvantage that in the face of a permafailing batch test we will never make any progress.

[2022-05-01 13:47] #26148 closed

[2022-05-01 14:12] mkumatag commented on #23449
/remove-lifecycle rotten

[2022-05-01 17:29] BenTheElder commented on #23449
The build has been completely replaced? Is this still an issue? Has anyone verified this?

[2022-05-02 01:16] mkumatag commented on #23449
@Rajalakshmi-Girish can you check if this issue still exist?

[2022-05-02 13:41] alvaroaleman commented on #26141
Fixed by #26151
/close

[2022-05-02 13:41] #26141 closed

[2022-05-02 22:11] cjwagner commented on #26116
I've replaced the invalid credentials and the HMAC reconciler is now working again: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-reconcile-hmacs/1521250316111056896
/assign
/close

[2022-05-02 22:11] #26116 closed

[2022-05-02 22:19] BenTheElder commented on #25870
unfortunately you cannot `go get` this repo because `go get` does not respect `replace` statements.
you will need to clone the repo and then you can use `go build` or `go install`.

https://github.com/kubernetes/test-infra/pull/26092 updated the docs, https://github.com/kubernetes/test-infra/issues/25950 was a dupe of this issue.

[2022-05-02 22:19] #25870 closed

[2022-05-02 22:22] BenTheElder commented on #25831
xref: https://github.com/kubernetes/test-infra/pull/24726#issuecomment-1084405644

I'm not sure if anyone is actively working on / using this functionality.

[2022-05-03 14:02] stevehipwell commented on #26041
@cjwagner sorry I've been away for a long weekend. Did you figure out if the issue was the ExternalDNS config or the Metrics Server config? I'm not aware of any recent changes to Metrics Server CI which would have this suddenly failing if it was validated when I opened the PR, but maybe it didn't validate fully? ExternalDNS did have a CI change but I don't see any enforced prow jobs so I'm not sur

[2022-05-03 14:09] Raffo commented on #26041
@stevehipwell yeah I only reverted to make sure we can make progress on this, happy to reopen the PR again to external-dns once you tell me we're good to go.

[2022-05-03 14:34] stevehipwell commented on #26041
@Raffo I think it'd be OK to open it back up again but I think @cjwagner is in a better position to confirm if its safe to do so or not.

[2022-05-03 23:59] cjwagner commented on #26041
The config fix to remove the required jobs from `kubernetes-sigs/metrics-server:gh-pages` (https://github.com/kubernetes/test-infra/pull/26173) seems to have been sufficient. The branchprotector is passing reliably again: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-test-infra-branchprotector
I don't see any indication that the `external-dns` repo was involved at all here. Unless

[2022-05-03 23:59] cjwagner commented on #26041
fixed by https://github.com/kubernetes/test-infra/pull/26173
/close

[2022-05-04 00:00] #26041 closed

[2022-05-04 07:12] nikhita commented on #25806
@BenTheElder Maybe we can combine both of your suggestions? :)

@cblecker @mrbobbytables thoughts?

[2022-05-04 21:47] BenTheElder commented on #25806
SGTM

[2022-05-04 22:28] jberkus commented on #25806
+1

[2022-05-05 02:44] cblecker commented on #25806
Seems like a very reasonable improvement to me. Should we keep the specific command syntax though for assigning folks?

[2022-05-05 07:55] jasonbraganza commented on #13129
@spiffxp, I have added README documents for the following test-infra images (listed in the issue description):
- [X] https://github.com/kubernetes/test-infra/tree/master/images/alpine by #26204
- [X] https://github.com/kubernetes/test-infra/tree/master/images/gcloud-terraform by #26205
- [X] https://github.com/kubernetes/test-infra/tree/master/images/git by #26206
- [X] https://github.com/kubernet

[2022-05-05 09:19] danilo-gemoli commented on #25799
I can pick this one up. I would like to proceed step by step by:
- changing the way we parse the configuration by allowing two possible formats in order to accommodate the new feature but being backward compatible at the same time

Standard repo-wide configuration
[code]
Extended per-branch configuration
[code]
this should be a safe change since it introduces no behavioral changes in `Tide`

- cha

[2022-05-06 02:54] Rajalakshmi-Girish commented on #23449
Yes, the agent images are working fine now.
https://prow.ppc64le-cloud.org/view/s3/prow-logs/logs/periodic-golang-master-build-ppc64le/1522393698980073472 is the successful job on our internal prow with ppc64le build cluster.

[2022-05-06 02:54] #23449 closed

[2022-05-07 14:21] #22577 closed

[2022-05-09 01:35] #19642 closed

[2022-05-09 13:51] dprotaso opened #26234 "peribolos regression"
**What happened**:

Knative uses peribolos - I tried to add a team and it failed.

**What you expected to happen**:

The new team should be added

**Please provide links to example occurrences, if any**:

See: https://github.com/knative/community/pull/1034

Raw logs from peribolos run
https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_community/1034/pull-knative-peribolos/15216552956

[2022-05-09 13:56] dprotaso commented on #26234
whoops maybe
/sig k8s-infra

[2022-05-09 13:57] dprotaso commented on #26234
/remove-sig testing

[2022-05-09 16:51] BenTheElder commented on #26073
This repo doesn't contain the substring `name: web2` https://cs.k8s.io/?q=name%3A%20web2&i=nope&files=&excludeFiles=&repos=

I think you've filed an issue with the wrong repo.

[2022-05-09 16:51] #26073 closed

[2022-05-09 17:17] chaodaiG commented on #25993
/reopen

This is not fixed yet. The token generated with v1 API cannot be longer than 2 days. We will need something better, for example an automated solution for rotating the secrets

[2022-05-09 18:25] cjwagner commented on #26234
It sounds like the regression was introduced in this PR https://github.com/kubernetes/test-infra/pull/25498?
It has been months since that change was added so before we resort to reverting it I think we should give @smg247 a chance to do a forward fix. Is that something you could take care of Stephen?
/assign @smg247

[2022-05-09 19:19] smg247 commented on #26234
I am not convinced that this is a true regression rather than peribolos being used in an undocumented way, but I can research this and see if I can find any simple way to allow the config file to include team names rather than slugs. Worst case we can just revert the change since github decided to keep the legacy "byId" endpoints around for a little longer, but eventually the slugs will need to be

[2022-05-09 19:53] smg247 commented on #26234
@dprotaso could you provide me with the response (at least for the `Serving WG Leads` team) when calling github's [list teams](https://docs.github.com/en/rest/teams/teams#list-teams) endpoint for your org?

[2022-05-09 20:04] dprotaso commented on #26234
`Serving WG Leads` is a team that doesn't exist - so it's not part of list teams response

[code]

[2022-05-09 20:13] smg247 commented on #26234
hmm so it creates the team, and then tries to edit it and that is where the error occurs. That is useful to know...

[2022-05-09 20:57] jmguzik commented on #24024
In our prow installation, this problem was solved to some extent by applying an additional throttling mechanism in ghproxy. We can't afford to have timing values provided by GitHub API documentation (1-sec time spacing), but even values in this commit: https://github.com/openshift/release/pull/27470/commits/02f92a7370a8a3db7394266538ae775fc2d46fdb were able to reduce secondary API hits in our syst

[2022-05-09 21:01] jmguzik commented on #24024
As for `needs-rebase`, an additional cache with a retention period can be added, which should decrease the number of API hits (frequency). Please consult this commit to see how to apply: https://github.com/openshift/release/pull/26657/commits/7fa0682704aab2b7c33cf294f1f0dc85cb56725b

[2022-05-10 19:31] smg247 commented on #26234
@dprotaso can you tell me the version of `peribolos` you are using? I have tried to replicate this with test org and config, but I can't reproduce the failure.

[2022-05-10 19:35] kvmware commented on #26234
@smg247 we are using https://github.com/knative/test-infra/blob/main/prow/jobs/custom/peribolos.yaml#L31

[2022-05-10 19:38] smg247 commented on #26234
Thanks, thats definitely recent enough. I noticed that your new team is being added as a child team, so that may be pertinent here. I am going to continue trying to reproduce the problem.

[2022-05-10 19:46] smg247 commented on #26234
I am attempting to reproduce this with the following config:
[code]
It succeeds with the following output:
[code]

[2022-05-10 20:59] BenTheElder opened #26262 "kind repo needs a 1.24 branch presubmit"
/assign

[2022-05-10 20:59] BenTheElder commented on #26262
fyi @aojea

[2022-05-10 21:02] BenTheElder commented on #26262
/sig testing

[2022-05-10 21:51] #26262 closed

[2022-05-10 23:01] dprotaso commented on #26234
Using this file - https://github.com/knative/community/blob/e4dc78f5e923e4359a6c234948d3f176e7cd130c/peribolos/knative.yaml

Run the following command

[code]

[2022-05-11 02:02] smg247 commented on #26234
I believe the issue is running `confirm=false` with a new child team. The new team must be created and then edited to add the parent. However, the slug is generated by GitHub and returned upon creation. This doesn't happen when doing a dry run. When the subsequent edit is called there is no slug and an error is thrown. I am going to do a bit more digging and confirm that this would have not worked

[2022-05-11 02:08] smg247 commented on #26234
@dprotaso I wont be able to run that command though as I am not a member of your org and don't have a token.

[2022-05-11 12:44] adhishmeena commented on #19264
Hi , @chaodaiG Please share the update regarding this issue. I would like to work on this issue

[2022-05-11 13:29] JohnTitor commented on #26019
Hmm, I don't get the point here. Linking a PR to issues will close them once it's merged. What difference between using GitHub keywords on OP are you looking for?

[2022-05-11 17:43] BenTheElder commented on #19264
Hi all, please feel free to work on this. You don't need to ask us for permission, but you might want to coordinate to avoid overlapping work.

I think this is almost done, but not fully removed yet https://cs.k8s.io/?q=blacklist&i=nope&files=&excludeFiles=&repos=kubernetes/test-infra

[2022-05-11 18:28] hh commented on #26019
Some groups use project boards to organize the work, with umbrella issues
that show multiple linked PRs (and their status) in the UI.
This even supports a table mode view. For project management this is very
useful.

- A single PR may be linked / or address several issues.
- GitHub default of closing an issue automatically is something we want to
avoid, hence k8s has a policy (and bot enforcement)

[2022-05-11 18:33] BenTheElder commented on #26019
We have a policy and bot enforcement against *commits* that link issues, because github will close the issue on every merge of the commit, even into forks (!)

PRs with "fixes #issue_number" are common, fine, and not against policy.

This remains an untenable feature request if no API exists, regardless.

[2022-05-11 19:50] harshitasao commented on #19264
@adhishmeena If that's okay with you, I'll go ahead and work on this.

[2022-05-11 21:59] #23150 closed

[2022-05-11 23:43] jcnars commented on #23904
/remove-lifecycle rotten

On Tue, 10 May 2022 at 18:48, Kubernetes Triage Robot <
***@***.***> wrote:

[2022-05-11 23:51] JohnTitor commented on #26019
This makes sense as a bad actor can close any issues if a PR author/reviewer doesn't notice.
So is this for members who don't have the write access but org members (e.g. only have triage access)? I asked because I couldn't come up with a usecase.

Yeah, looking at some PRs on the org, this seems correct.
Anyway, yes, I also checked GraphQL API but it seems an API we want doesn't exist unfortunatel

[2022-05-12 11:11] JohnTitor commented on #8220
Hey @justinsb, is this still broken? The TODO says "remove me once #7408 has been merged" but you said "it's still broken" on 1 Nov 2018, while it was merged on 7 Jun 2018, so I'm confused with the current status.

[2022-05-12 17:15] BenTheElder commented on #12863
updated the checklist

[2022-05-12 17:27] BenTheElder commented on #12863
Filed issues with most of these, https://github.com/containerd/containerd is the one I'm least sure about how to proceed.

For Google projects we have other, more appropriate Prow instances now.

For CNCF there is an instance for the k8s-conformance repo, which apisnoop can probably move to.

I suppose containerd could maybe move to the CNCF instance, I think it's generally not in Kubernetes's int

[2022-05-12 17:45] endocrimes commented on #12863
I think containerd should probably stay as part of Kubernetes' prow instance for the short-medium term. We get a lot of value out of that infra/testing being shared, and complicating the updating of either is going to likely hurt us. Especially with how few people we have to work on it.

[2022-05-12 18:05] dims commented on #12863
subscribe @dims

[2022-05-13 04:29] ChandraReddy97 opened #26313 "Prow issue:"
I'm new to this and I just wanted to install kubectl on my Mac. I tried at first with brew, which installed (or tried to) version 1.24.0 on my system. Looked OK on first glimpse, but when I enter: kubectl version

I receive the following error message: error: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1"

So I tried to install with curl, using the following commandline:

[2022-05-13 06:41] BenTheElder commented on #26313
this is the wrong repo for kubectl issues / your issue description doesn't seem to have anything to do with prow

it looks to me like kubectl is installed fine?

[2022-05-13 06:52] #26313 closed

[2022-05-13 06:52] BenTheElder commented on #26313
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2022-05-13 12:31] perdasilva opened #26317 "Prow issue: Bugzilla automation not working for bz due to group"
Bug: https://bugzilla.redhat.com/show_bug.cgi?id=2020484 is in groups redhat and nec
PR: https://github.com/openshift/operator-framework-olm/pull/306
Error: [link](https://github.com/openshift/operator-framework-olm/pull/306#issuecomment-1126004552)

[2022-05-13 13:50] mikebrow commented on #12863
subscribe @mikebrow

[2022-05-13 17:32] chases2 opened #26321 "ListTeamMembers method is deprecated, please use ListTeamMembersBySlug"
Prow generates the following warning:

[code]
https://github.com/kubernetes/test-infra/blob/b1d2443b5af9405c54246ccd7c8fe58b3f21ecae/prow/github/client.go#L3846-L3855 just points to the method, not where the method is used. The message is emitted by the `hook` controller.

[2022-05-13 20:39] dprotaso commented on #26234
Ran this again in the following PR https://github.com/knative/community/pull/1067

Still unable to add a new team

/reopen

[code]

[2022-05-14 04:16] #24680 closed

[2022-05-15 02:54] harshitasao commented on #19264
Hey @BenTheElder, I have made changes to all the required files. However,
1. I'm not sure if I should remove the code or modify it [here](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/status-reconciler/main.go#:~:text=%7D-,if%20len(o.addedPresubmitBlacklist.Strings())%20%3E%200,%7D,-return%20nil).

![fq1](https://user-images.githubusercontent.com/84518563/168454777-1c5540ef-53c5-45

[2022-05-15 08:02] BenTheElder commented on #19264
1) should be removed when the blacklist field is removed since there's no longer another flag to be exclusive with

2) should remove the second line of the method appending.

[2022-05-15 08:12] harshitasao commented on #19264
Thank you so much.

[2022-05-15 12:05] harshitasao commented on #19264
@BenTheElder, can you please suggest where I should put the note in the [ANNOUNCEMENTS.md](https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md)
Thank you.

[2022-05-15 17:52] BenTheElder commented on #19264
Under "Breaking Changes" since it is still a breaking change to remove them.
The entries are chronological with the current entry at the top. The prow versions are date + commit hash.

[2022-05-15 18:23] #24025 closed

[2022-05-16 09:53] perdasilva commented on #26317
/sig testing

[2022-05-16 11:31] smg247 commented on #26234
@dprotaso it is trying to list team members of the `Serving WG Leads` which is newly added. Since you are running this without `confirm` it doesn't actually create the team, and can't list members. This doesn't have to do with my changes to slugs, and I am not convinced that this scenario would have ever worked properly. afaik the reason it is listing team members is due to the team having a paren

[2022-05-16 11:31] smg247 commented on #26234
/unassign

[2022-05-16 13:42] dprotaso commented on #26234
I'll make a new issue then

[2022-05-16 13:42] #26234 closed

[2022-05-16 13:44] dprotaso opened #26331 "[peribolos] Adding sub team to a parent team fails during dry-run"
@dprotaso it is trying to list team members of the `Serving WG Leads` which is newly added. Since you are running this without `confirm` it doesn't actually create the team, and can't list members. This doesn't have to do with my changes to slugs, and I am not convinced that this scenario would have ever worked properly. afaik the reason it is listing team members is due to the team having a paren

[2022-05-16 13:45] dprotaso commented on #26331
/sig k8s-infra

[2022-05-16 13:46] dprotaso commented on #26331
Logs

[code]

[2022-05-16 15:53] chaodaiG commented on #25993
This issue is fixed by:
1. gencred stores generated kubeconfig in GSM.
2. KES syncs kubeconfig secret from GSM to prow cluster.
3. Build cluster onboarding adds an entry in gencred config.

/close

[2022-05-16 21:09] fejta commented on #26331
Are you offering to fix this edge case?

[2022-05-16 21:47] dprotaso commented on #26331
I'd probably make things worse ;)

[2022-05-16 22:08] fejta commented on #26331
I'm mostly inclined to just resolve this without fixing anything.

You have declared a non-existent team for weeks. Why is this an important scenario? Just create the group (which peribolos will do for you if you use the --confirm flag, right?).

[2022-05-16 22:19] dprotaso commented on #26331
My mental model for using this tool is

1. Run dry-run to ensure config etc is valid
2. Apply the changes when 1 succeeds

We do 1 in PR presubmits and 2 in post submits.

My impression is this tool is meant to declaratively manage GitHub orgs - using the GitHub UI as a work around feels at odds with that.

[2022-05-16 22:25] dprotaso commented on #26331
Likewise using the confirm flag prior to the dry run seems like a workaround rather than desired

[2022-05-16 23:43] fejta commented on #26331
A dry run when you're declaring and using a team that doesn't exist isn't going to work though.

You could break it up into multiple PRs:
1) a PR where you declare the new team but don't use it anywhere
2) After merging (1) then you start using the team as expected.

This should work properly with dry runs

[2022-05-16 23:44] fejta commented on #26331
Alternatively you can disable the functionality that is not of interest: https://github.com/kubernetes/test-infra/blob/fb4c8c9bd8603ec9306bf3a59119274feb961f7f/prow/cmd/peribolos/main.go#L83-L102

[2022-05-17 11:46] smg247 commented on #26321
Could be from one of the usages in this old PR: https://github.com/kubernetes/test-infra/pull/25585

[2022-05-17 12:03] droslean opened #26344 "[BUG] Spyglass doesn't load anything"
Spyglass doesn't load anything.

How to replicate?

Just open a spyglass page from any of the jobs in https://prow.k8s.io/

[2022-05-17 12:04] droslean commented on #26344
/sig testing

[2022-05-17 12:37] smg247 commented on #26344
Note: we reverted our most recent bump including https://github.com/kubernetes/test-infra/compare/69ff551a87...bc723c0e51 and it is working again on OpenShift. None of those changes jump out as being a potential cause, but something seems to be...

[2022-05-17 13:16] pohly commented on #17056
/reopen

[2022-05-17 13:26] dprotaso commented on #26331
I guess multiple PRs is a decent enough workaround. I'll leave this issue open in case someone else is looking to pick up the work.

[2022-05-17 13:36] alvaroaleman commented on #26317
/cc @droslean @AlexNPavel

[2022-05-17 14:39] oliver-goetz commented on #26344
Same at our prow installation for Gardener

[2022-05-17 14:59] chaodaiG commented on #26344
This is very much likely due to a flake in image building process. I have kicked off the prow images building job on the exactly same commit and deck works fine on prow.k8s.io with the newly built image.

For any affected party bumping forward should also fix.

I'll create a separate issue tracking the investigation of the image build flakiness.

[2022-05-17 15:10] chaodaiG opened #26345 "Deck image build flakiness: sometimes spyglass doesn't load, rebuild image works"
**What happened**:

It had happened twice, that after prow bump, spyglass pages didn't load, and it worked after rebuilding deck image with the same revision.

Image didn't work: gcr.io/k8s-prow/deck:v20220516-bc723c0e51
Rebuilt: gcr.io/k8s-prow/deck:v20220517-bc723c0e51

**What you expected to happen**:

Deck image build is deterministic.

**How to reproduce it (as minimally and precisely as poss

[2022-05-17 15:14] chaodaiG commented on #26345
Quickly inspected the spyglass page when the error was happening, found out that there was nothing loaded in iframe:

<img width="952" alt="Screen Shot 2022-05-17 at 7 48 01 AM" src="https://user-images.githubusercontent.com/45011425/168846227-71ba5dd8-e8a5-48af-885d-f6b7f6ba3fca.png">

And after the image rebuilt, iframes were loaded:

<img width="952" alt="Screen Shot 2022-05-17 at 7 52 31 AM" s

[2022-05-17 15:26] #26344 closed

[2022-05-17 15:52] chaodaiG commented on #26345
Downloaded both images gcr.io/k8s-prow/deck:v20220516-bc723c0e51 and gcr.io/k8s-prow/deck:v20220517-bc723c0e51 locally, extracted them and comparing the differences. The first noticeable difference is `spyglass_bundle.min.js` which is compiled as part of image build process.

The size of the file is very different:
- 0516: 4581b
- 0517: 64273b

This is very likely related as the symptom is directl

[2022-05-17 20:19] chaodaiG commented on #26345
This appears mystery to me, starring at the source code of the typescript compilation and didn't see anything obviously wrong. This is probably not that easily reproducible which makes the debugging more difficult.

One way to solve this problem, is that we could source control all of these bundled js files, and use verify-codegen to guard against them in presubmit. The problem with this approach,

[2022-05-18 00:28] BenTheElder commented on #26345
Worth noting that we're using *really* outdated typescript / node tooling. We should probably switch to something up to date, if there is a bug in any downstream tools we're _way_ behind on any patches.

[2022-05-19 09:48] perdasilva commented on #26317
Anyone? This PR is blocked waiting for the valid-bug label

[2022-05-19 11:11] oliver-goetz commented on #26345
https://github.com/kubernetes/test-infra/issues/25998 might be related to this.
If flakiness was the cause here too, revert "Deck: Sort consistently" (https://github.com/kubernetes/test-infra/pull/26013) would have been not needed here.

[2022-05-19 12:01] droslean commented on #26317
@perdasilva The plugin is working as expected. It seems that your bug is missing the `qe_staff` group.

[2022-05-19 12:10] droslean commented on #26317
/close

[2022-05-19 12:10] #26317 closed

[2022-05-19 14:03] chaodaiG commented on #26345
that's correct, #25998 was exactly the last time we saw this, and reverting #26013 had been proven not necessary from last time as well

[2022-05-19 14:06] oliver-goetz commented on #26345
ahh there is already a "Revert: Revert..." Didn't see that 😅

[2022-05-19 16:10] BenTheElder commented on #23374
worth re-checking: we're on go1.18 now

[2022-05-19 18:47] cjwagner opened #26368 "Unknown field checks are not enabled for ProwJob configuration."
**What should be cleaned up or changed**:
Prow's [`checkconfig`](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`. We [currently do not have this check enabled](https://github.com/kube

[2022-05-19 18:48] cjwagner commented on #26368
/sig testing

[2022-05-20 09:00] JohnTitor opened #26380 "Close stale issues as `not-planned` (stale) via Prow Robot"
GitHub has added a new option to close issues, we can now choose the `not-planned` state reason for stale issues: https://github.blog/changelog/2022-05-19-the-new-github-issues-may-19th-update/
And they said:

So it should be possible to add this option when closing issues via Prow Robot in the near future.

Maybe it'd also be a good option like `/close not-planned` for duplicate/wont-fix issues.

[2022-05-20 09:04] JohnTitor commented on #26380
/sig contributor-experience
/sig k8s-infra

[2022-05-21 11:47] sftim commented on #26045
I like the idea of documenting this as good practice, even if we never 100% achieve that desired state.

[2022-05-21 17:15] BenTheElder commented on #26380
We'll need consensus from contributor experience for workflow changes, before anyone moves to shipping this.

[2022-05-23 07:53] jprzychodzen commented on #25350
/remove-lifecycle stale

@spiffxp Could you take a look? I'm not sure what are the exact knobs to remove cluster from the Prow.

[2022-05-23 14:02] Abhinand-Gokul opened #26388 "Prow - Allow passing of Personal Access Tokens for http based git clone"
**What would you like to be added**:
We have a private Github Enterprise which has ssh disabled for cloning in our organisation. It would be great if we can add a mechanism for allow clonrefs pod-utilities to have a mechanism to use personal access tokens to do https git clone.

**Why is this needed**:
We currently have a workaround where we are hardcoding the PAT as part of the URI in clone_uri d

[2022-05-23 14:03] Abhinand-Gokul commented on #26388
/sig testing

[2022-05-23 15:37] chaodaiG commented on #26113
/cc @mpherman2

[2022-05-23 15:50] chaodaiG commented on #25854
@alvaroaleman , are you planning to work on this? if not I might get someone to work on it

[2022-05-23 16:51] chaodaiG commented on #25570
One of the prior arts was https://github.com/kubernetes/test-infra/pull/20656

[2022-05-23 19:07] chaodaiG commented on #25570
cc @carolinar7

[2022-05-24 15:03] alvaroaleman commented on #25854
@chaodaiG not at the moment, feel free to assign it to someone

[2022-05-25 19:17] upodroid opened #26416 "Rerunning the updated jobs via Deck doesn't rerun it with the latest configuration."
**What would you like to be added**:
Rerunning a periodic job via Prow should run it with the latest configuration.

Example:

https://prow.knative.dev/view/gs/knative-prow/logs/release_eventing-kafka-broker_release-1.2_periodic/1529208661409271808 Ran at 2022-05-24T21:12:10Z
https://github.com/knative/test-infra/pull/3337 Merged at 2022-05-25T09:33 UTC
https://prow.knative.dev/view/gs/knative-pro

[2022-05-25 19:37] rajibmitra commented on #26368
I just checked with crane - the latest checkconfig image tag as of now - v20220525-90e1ebee08
cmd used - crane ls gcr.io/k8s-prow/checkconfig

[2022-05-25 20:24] pierDipi commented on #26416
/assign

[2022-05-26 23:10] Riaankl commented on #12863
This prow job is a release informing job that is not requiered at the moment. We can remove it.

[2022-05-26 23:35] hh commented on #12863
The two cncf/apisnoop prow.k8s.io jobs are not part of the cncf/k8s-conformance Certification program, they are part of the Kubernetes #sig-arch Conformance Subproject to ensure #sig-release has CI-Signal to GA API promotions that are not covered by Conformance tests.

See https://github.com/kubernetes/community/tree/master/sig-architecture#conformance-definition-1

This underlying data is also us

[2022-05-26 23:40] BenTheElder commented on #12863
The apisnoop _repo_ however runs on @k8s-ci-robot / prow.k8s.io, independent of jobs producing apisnoop data.

https://github.com/cncf/apisnoop/issues/548#issuecomment-1139145808

[2022-05-26 23:41] BenTheElder commented on #12863
It is probably advisable to not have k8s-ci-robot remain an org owner of CNCF, IMHO, it already has the keys to a _lot_.

[2022-05-26 23:43] hh commented on #12863
@BenTheElder removing all bot interactions other than trigger to support the K8s focus prow jobs here : https://github.com/kubernetes/test-infra/pull/26418/files#r883159775

[2022-05-26 23:48] hh commented on #12863
Currently @k8s-ci-robot only admin perms on the `cncf/apisnoop` repo specifically not the **cncf** org.

We could reduce the perms lower than admin as we now only need a trigger for the jobs, not the bot interactions.

![image](https://user-images.githubusercontent.com/31331/170601276-fb25dfb5-dd32-4043-9be0-de37209d6ee8.png)

[2022-05-26 23:51] BenTheElder commented on #12863
Why do we need trigger from the repo?
I don't see what these jobs are.

I found some image pushing jobs, but that also means that more generally this repo is dependent on SIG k8s infra infrastructure for GCB + image hosting.

Seems like you're saying this project is really a subproject of SIG architecture, is there a reason it's not in kubernetes-sigs?

[2022-05-27 22:06] chaodaiG commented on #25570
/assign @carolinar7

[2022-05-27 22:06] chaodaiG commented on #25570
@carolinar7, could you comment on this issue?

[2022-05-27 22:13] carolinar7 commented on #25570
/assign

[2022-05-31 14:20] chaodaiG commented on #26416
As discussed in @pierDipi 's Pull Request https://github.com/kubernetes/test-infra/pull/26417, that it's also desired to keep the existing behavior, as pointed out in one of the earlier design back in 2019 https://docs.google.com/document/d/1ykgWeEnh4SwX9AuQz28sicFCpqjuEaYclLVTlStNggg/edit#bookmark=id.cdpu5jkp12mg.

Potentially this could be a joint effort by @pierDipi and @carolinar7, so also
/as

[2022-05-31 14:37] carolinar7 commented on #26416
/assign

[2022-05-31 18:24] stbenjam opened #26453 "Prow censor can mangle junit time attribute in rare circumstances"
**What happened**:

The prow censor found a sequence of integers it wanted to censor embedded in a junit testcase's time attribute, rendering it like this:

[code]

The XML is now unmarshallable:

[code]

**What you expected to happen**:

Leave it alone or at least leave it as a valid float.

**How to reproduce it (as minimally and precisely as possible)**:

First time I've seen this happen, it's

[2022-05-31 18:26] stbenjam commented on #26453
/sig testing

[2022-05-31 22:47] kaalams commented on #25854
/assign

[2022-06-01 05:35] MadhavJivrajani commented on #25048
/remove-lifecycle rotten

[2022-06-01 17:31] #23231 closed

[2022-06-02 16:56] vharsh commented on #26368
/assign

[2022-06-02 21:14] karlkfi commented on #21729
/remove-lifecycle stale

[2022-06-03 03:44] BenTheElder commented on #26113
https://github.com/kubernetes/test-infra/pull/26398

[2022-06-03 03:44] #26113 closed

[2022-06-03 09:30] mandre opened #26478 "Have a way to spread out periodic jobs defined with interval"
**What would you like to be added**: I'd like a way to spread out the initial start of periodic jobs defined with `interval`.

**Why is this needed**: The periodic jobs defined with the `interval` config do not currently allow seed the start time of jobs, causing all jobs to start at the same time if you mass modify the jobs or if prow restarts (to be confirmed). This can generate a lot of concurr

[2022-06-03 09:33] mandre commented on #26478
/sig sig-testing

[2022-06-03 09:34] mandre commented on #26478
/sig testing

[2022-06-03 19:56] qaifshaikh opened #26482 "Status Reconciler triggers a presubmit prowjob for all pull requests in a repo"
**What happened**:
Status Reconciler triggers a presubmit prowjob for all pull requests in a repo whenever we add a new presubmit prowjob or change its regex

**What you expected to happen**:
A presubmit prowjob should only trigger for relevant pull requests whenever we add a new presubmit prowjob or change its regex

**How to reproduce it (as minimally and precisely as possible)**:

**Please prov

[2022-06-03 19:58] qaifshaikh commented on #26482
/sig prow

[2022-06-03 20:00] qaifshaikh commented on #26482
/sig testing

[2022-06-05 19:56] #24796 closed

[2022-06-05 20:57] #24795 closed

[2022-06-06 08:30] photra opened #26490 "Update AWS jobs to use new Ginkgo variables in Makefile"
**What should be cleaned up or changed**:
`cluster-api-provider-aws` will be transitioning to new Ginkgo variable usages in their Makefile to improve consistency with other providers, and make it easier to test.

In this repository, the following jobs should be updated to use new Ginkgo variable usage:

1. `cluster-api-provider-aws-presubmits.yaml`
2. `cluster-api-provider-aws-periodics-release-0-

[2022-06-06 08:32] photra commented on #26490
/sig testing

[2022-06-06 09:16] rexagod commented on #24141
Hello @alvaroaleman. I'm getting this on all PRs open on `mcg-ms-console` (tracking PR: https://github.com/red-hat-storage/mcg-ms-console/pull/33). I've set admin rights for all OpenShift bots (Openshift CI, Openshift CI robot and Openshift Merge robot), but the error still persists.

Any clues?

[2022-06-06 09:19] rexagod commented on #24141
Also, can you provide a screenshot of the "Contents" section where this change needs to be made? I can't seem to find that.

[2022-06-06 10:33] mrueg commented on #22164
/remove-lifecycle rotten

[2022-06-06 12:00] sbueringer commented on #24921
/remove-lifecycle rotten

[2022-06-06 14:45] chaodaiG commented on #24869
https://kubernetes.slack.com/archives/C09QZ4DQB/p1654433983124889 is one of the reasons why this should be prioritized. TLDR: syncing build clusters tokens into prow is now a crucial piece in prow working with build cluster, KES flakiness would break this and cause prow stop working with the build cluster

/remove-lifecycle stale

[2022-06-08 14:42] timebertt commented on #24530
/remove-lifecycle stale
PR is still open for review

[2022-06-08 17:42] qaifshaikh opened #26535 "Can we update the tektoncd-pipeline version to use a more recent version?"
**What would you like to be added**:
Update the tektoncd-pipeline version to use a more recent version?

**Why is this needed**:
Currently only support v0.10.1
While the recent version is v.0.36.x

[2022-06-08 17:42] qaifshaikh commented on #26535
/sig testing

[2022-06-08 21:20] #24024 closed

[2022-06-09 13:29] dprotaso opened #26542 "[peribolos] Adding new empty team fails during dry-run"
Adding a new team to a peribolos config should work when you perform a dry-run.

This PR adds an empty team to the peribolos config - we have presubmits where we run peribolos with a dry-run (`--confirm=false`

https://github.com/knative/community/pull/1091/files

But the dry-run fails:
[code]

Related: https://github.com/kubernetes/test-infra/issues/26331

[2022-06-09 13:31] dprotaso commented on #26331
Splitting things up into a separate PRs didn't work. It seems like `--confirm=false` is broken? I created a new issue: https://github.com/kubernetes/test-infra/issues/26542

[2022-06-09 13:31] dprotaso commented on #26542
cc @fejta

[2022-06-09 13:31] dprotaso commented on #26542
/kind bug

[2022-06-09 18:25] qaifshaikh commented on #26535
Looking at the code, there aren't many places where `v1alpha1` is used, only 10. The first thing I wanted to try is to replace the client with `v1beta1` and see what breaks.
https://github.com/kubernetes/test-infra/search?q=TektonV1alpha1Client

[2022-06-09 18:26] eddycharly commented on #26535
IIRC it was not that simple, I remember I tried to move to v1beta1 and a few things introduced a breaking change. Don’t remember what though.

[2022-06-09 22:38] chaodaiG commented on #26345
this happened again today :(

[2022-06-09 23:56] fejta commented on #26542
You cannot create a team and fix the team in the cycle

[2022-06-11 03:39] #24619 closed

[2022-06-12 16:54] #24004 closed

[2022-06-12 17:55] #24476 closed

[2022-06-13 01:19] #24957 closed

[2022-06-13 19:44] nareddyt opened #26561 "[log exporter] detect-node-names: command not found"
**What happened**: When running our OSS Prow jobs based on the `kubekins-e2e` image, our jobs fail with the following error:

[code]

This failure happens during kubekins cluster cleanup. The actual script we provide finishes successfully, just cleanup defined by kubekins fails.

**What you expected to happen**:

Cleanup is successful. Either logs are exported or (as a workaround) log exporter is

[2022-06-13 19:46] nareddyt commented on #26561
/sig testing

[2022-06-13 21:06] #23692 closed

[2022-06-14 00:08] #24515 closed

[2022-06-14 00:08] #24556 closed

[2022-06-14 00:08] #24747 closed

[2022-06-14 16:17] pohly commented on #17056
@rajaskakodkar : did you have a chance to look into implementing this?

To recap the discussion that you, @aojea and I had at KubeCon: the best approach seems to be to let Prow jobs produce artifact files with a certain naming scheme. Then the code that reports back to GitHub needs to check the gcp bucket of a finished job for such files, load them, and publish comments and annotations.

[2022-06-15 04:20] rajaskakodkar commented on #17056
@pohly I haven't gotten time to implement this but this is on my todo list and I should be able to get to this by next week. I'll post my updates here or raise a PR.

[2022-06-15 22:46] MaxRenaud opened #26589 "Support for secondary"
**What would you like to be added**: Split presubmits into primary and secondary execution. An arbitrary ordinal order would also be acceptable.

**Why is this needed**:
When there's a variety of presubmits, it's likely that some tests will be cheap and quick to run while others might use a considerable amount of resources and time. For example, linting code vs e2e testing.

The current behavior i

[2022-06-15 22:54] theaugy opened #26590 "Support `--filter=blob:none` for repo checkouts"
**What would you like to be added**: A way to specify `--filter=blob:none`, similar to the way we can currently specify `--depth` with `clone_depth`.

Mentioned in [this comment](https://github.com/kubernetes/test-infra/issues/18226#issuecomment-881669171):

**Why is this needed**: Provides a way to reduce repo clone size that does not introduce the pitfalls of shallow cloning (like missing common

[2022-06-15 23:04] chaodaiG commented on #26590
/sig testing

[2022-06-15 23:36] MaxRenaud commented on #26589
/sig testing

[2022-06-16 16:50] BenTheElder commented on #26589
prow had this, and removed it, it was called `run_after_success` https://github.com/kubernetes/test-infra/issues?q=is%3Aissue+run_after_success+is%3Aclosed

[2022-06-16 17:25] PushkarJ opened #26599 "Change Container Registry URL for Prow Image Scans"
**What should be cleaned up or changed**:

This line needs to updated to new URL for container registries: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml#L69 as follows:

### Current

[code]

### Proposed update

[code]

**Provide any links for context**:

This is making the prow job fail at the moment: https://testgrid.k

[2022-06-16 18:03] MaxRenaud commented on #26589
Thanks for the quick reply. I'll ping you 1:1 regarding a Google-specific problem.

[2022-06-16 18:31] chetak123 commented on #26599
/assign @chetak123

[2022-06-16 18:40] BenTheElder commented on #26380
#sig-contribex slack is the best way to get in touch usually, dropped a note.

[2022-06-16 20:22] mrbobbytables commented on #26380
I like the idea :)

[2022-06-16 21:28] endocrimes commented on #26380
This would potentially be super useful 👍

[2022-06-17 13:51] upodroid opened #26609 "Ensure `gke-gcloud-auth-plugin` is installed on all images in this repo that ship gcloud SDK"
https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke

If you have been using kubectl for GKE clusters recently, you might have seen this:

[code]

The deprecations in [KEP 541](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/541-external-credential-providers) will take effect in the next release so lets get ahead of it. It will take a while

[2022-06-17 15:17] hongkailiu opened #26611 "Pod got stuck with "Terminating" because the finalizer "prow.x-k8s.io/gcsk8sreporter" is there"
**What happened**:
Pod got stuck with "Terminating" because the finalizer "prow.x-k8s.io/gcsk8sreporter" is there.
After removing it manually, the pod is deleted successfully as expected.

**What you expected to happen**:
The finalizer is removed by Prow automatically.

**How to reproduce it (as minimally and precisely as possible)**:
No idea.

**Please provide links to example occurrences, if any

[2022-06-17 15:17] hongkailiu commented on #26611
/sig test

[2022-06-17 15:18] hongkailiu commented on #26611
/sig testing

[2022-06-17 15:48] hongkailiu opened #26612 "[bugzilla plugin] issued an unexpected comment"
**What happened**:

The plugin [commented](https://github.com/openshift/assisted-service/pull/3572#issuecomment-1157528470):

[code]

**What you expected to happen**:
No comment if it is already in the MODIFIED state.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:
The status has been

[2022-06-17 15:49] hongkailiu commented on #26612
/sig testing

[2022-06-17 17:44] chaodaiG opened #26614 "Allow each team control their PodPendingTimeout, PodRunningTimeout, and PodUnscheduledTimeout"
**What would you like to be added**:

PodPendingTimeout, PodRunningTimeout, and PodUnscheduledTimeout to be configured differently based on org/repo/cluster.

**Why is this needed**:

These values are configured globally, and might not be most optimal for all teams, adjusting the values of these fields often need to get approvals from lots of stakeholders when the prow instance has many tenants.

[2022-06-17 17:46] chaodaiG commented on #26614
/sig testing

[2022-06-17 17:47] chaodaiG commented on #26614
/help
/label good-first-issue

[2022-06-17 18:10] chases2 commented on #26321
This warning is still occurring for some of our instances of Prow. Is there a decommissioning plan for this method?

[2022-06-17 18:23] manugupt1 commented on #24245
/remove-lifecycle rotten

[2022-06-17 22:32] upodroid opened #26617 "Docker Images should be built in PRs but not pushed to GCR."
Docker image changes aren't tested in PRs today so the first time we find out about errors is after they are merged and a `post-test-infra-push-*` job fails.

We need to run a duplicate of those jobs where the images are built but not pushed to GCR/AR as a presubmit job.

/sig testing
/kind feature
/assign

[2022-06-18 16:55] #23374 closed

[2022-06-18 19:04] chetak123 opened #26620 "Request to add PR template"
**What would you like to be added**:

I would like to add a proper PR template for this repository for better contribution experience.

**Why is this needed**:

I saw this repo has more than a thousand contributors and filled with issues - PRs but currently lacks a template for pull request.

[2022-06-19 08:33] Luckyazimie391 opened #26622 "Linux pyhton"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2022-06-19 15:56] hakman commented on #26380
I like the idea too. Would be nice to go ahead with it as soon as possible to avoid confusion.

[2022-06-20 03:07] #24609 closed

[2022-06-20 03:55] Luckyazimie391 opened #26625 ">website media runkit"
Action active reques

_Originally posted by @Luckyazimie391 in https://github.com/semver/semver.org/issues/356#issuecomment-1159938833_

[2022-06-20 06:31] timebertt commented on #25177
This is fixed by https://github.com/kubernetes/test-infra/pull/25702
/close

[2022-06-20 06:31] #25177 closed

[2022-06-20 19:10] BenTheElder commented on #26620
I think this needs more detail to be actionable.

What would you suggest adding to the PR template for this repo?
How would you expect it to help?

NOTE: first time contributors receive an automated welcome message with helpful details from the `welcome` prow plugin, we also have docs etc. For existing contributors, I'm not aware of anything we'd want to notify when filing PRs or anything that nee

[2022-06-20 19:12] BenTheElder commented on #26617
Some of these images are really expensive and slow to build, but rarely touched. They should probably only run on `run_if_changed` like the postsubmits.

[2022-06-21 04:44] ArkaSaha30 commented on #26614
/assign

[2022-06-21 14:46] chaodaiG opened #26640 "Update the table of Prometheus metrics collected by Prow"
**What would you like to be added**:

https://github.com/kubernetes/test-infra/tree/master/prow/metrics#prometheus-metrics contains the list of Prometheus metrics collected by Prow, which has something but there are many more not listed there.

**Why is this needed**:

Would be nice to provide a full list of metrics that we support so that it's easier to understanding monitoring.

The metrics sent

[2022-06-21 14:47] chaodaiG commented on #26640
/sig testing

[2022-06-21 15:42] chaodaiG commented on #26614
@ArkaSaha30 , thank you for the interest, I have updated the issue description with my personal suggestion

[2022-06-21 15:43] chaodaiG commented on #26614
/good-first-issue

[2022-06-21 17:12] BenTheElder commented on #26620
It should have been posted on your first PR, but you may have done so before the bot was enabled.

I'll defer to others, but I don't think we've had a problem with lack of PR descriptions, and we don't have any other form fields we need for managing PRs in this repo versus say kubernetes/kubernetes which requires sig labels, release notes, etc.

We post a lot of helpful info here, which can be edi

[2022-06-21 17:13] BenTheElder commented on #26620
example: https://github.com/kubernetes/test-infra/pull/26630#issuecomment-1160488588

[2022-06-21 18:01] chetak123 commented on #26620
Okay then I'll close this issue.

[2022-06-21 18:01] #26620 closed

[2022-06-21 18:19] kaalams opened #26646 "ProwJob Admission Webhook"
**What would you like to be added**:
I would like a Validation Admission Webhook for ProwJobs to be added.
**Why is this needed**:
This Validation Admission Webhook would ensure the validity and correctness of the YAML before object creation and persistence thus allowing users to create ProwJobs simply with the **kubectl** command.

[2022-06-22 05:33] ameukam commented on #25350
@chaodaiG possible for you to help ?

/sig testing
/area prow

[2022-06-22 13:10] Ankit152 commented on #26640
Hey @chaodaiG! 🙂
I am new to this repository and very excited to make my first contribution. Would you mind assigning this issue to me?

[2022-06-22 14:10] chaodaiG commented on #26640
/assign ankit152

[2022-06-23 10:44] timebertt commented on #26345
This happened again with the bump from `v20220621-6ff60de3c2` to `v20220623-3ef0bc3b81`.
It might be worth holding or skipping https://github.com/kubernetes/test-infra/pull/26653 before it affects prow.k8s.io as well.

[2022-06-23 13:23] stevekuznetsov opened #26655 "Spyglass fails to load any content for a job"
Seen [here](https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1236/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1539792486212308992), everything gets stuck on the loading pinwheel:

[code]
​

[2022-06-23 13:34] alvaroaleman commented on #26655
This is https://github.com/kubernetes/test-infra/issues/26344 happening again, it seems we swallow some kind of transient build error and once in a while produce broken builds

[2022-06-23 17:56] BenTheElder commented on #26345
xref: https://github.com/kubernetes/test-infra/issues/26655 looks like the latest instance

[2022-06-23 17:57] BenTheElder commented on #26655
https://github.com/kubernetes/test-infra/issues/26345 is tracking the build flakiness

[2022-06-23 18:03] michelle192837 commented on #26655
/assign

[2022-06-24 05:39] ArkaSaha30 commented on #26614
@chaodaiG Thanks a lot for updating the issue with the details. I am a little confused on the [fuzz test](https://github.com/kubernetes/test-infra/blob/959d4500863c43efa5cb45b49ba6d14c62441103/prow/apis/prowjobs/v1/types_test.go#L325) update part. The mentioned fuzz test is specific to the [DecorationConfig](https://github.com/kubernetes/test-infra/blob/959d4500863c43efa5cb45b49ba6d14c62441103/pro

[2022-06-24 08:49] stevehipwell commented on #25210
I'm interested in this functionality. For repos with Helm charts in them there are often first time contributor PRs which require the manual intervention of a repo owner to enable the GH actions to run.

As a MVP solution could both the `/ok-to-test` and `/retest` commands have repo based opt in behaviour to call the approval endpoint so the GH actions can run? This could, if desired, then be exte

[2022-06-24 10:32] pacoxu commented on #25372
[kubelet-gce-e2e-lock-contention](https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-gce-e2e-lock-contention) is green now.
[node-kubelet-containerd-performance-test](https://k8s-testgrid.appspot.com/sig-node-containerd#node-kubelet-containerd-performance-test) failed but not for cni not ready

[2022-06-24 10:34] pacoxu commented on #25372
/remove-lifecycle stale

[2022-06-24 14:45] Ankit152 commented on #26640
Hey @chaodaiG 😄
I see there are promethues metrics present in the files under `prow/bugzilla`, `prow/cier`, `prow/cmd/exporter`, `prow/cmd/sinker`, `prow/gerrit/adapter`, `prow/gerrit/client`, `prow/github`, `prow/githubserver`, `prow/jenkins`, `prow/jira`, `prow/kube`, `prow/plugins`, `prow/pubsub/subscriber`, `prow/version`.
Should I also add them as well? Just clarifying my doubt before I proce

[2022-06-24 16:05] kvmware commented on #26542
@fejta Could you provide a little more guidance here please. We see that others https://github.com/cloudfoundry/community/blob/main/.github/workflows/org-management-check-prs.yml are using the same way to check PRs to validate the configuration. If using `-fix-*` with a `confirm=false` is not supported, then why is it allowed or what is the recommended way to do this?

[2022-06-24 18:36] carolinar7 commented on #24390
/assign

[2022-06-24 19:02] carolinar7 commented on #26416
Related design document:
[Rerun Button Improvements](https://docs.google.com/document/d/1zARYe3xK4kprEdySiWP6We3Y9BLT1gdSxIrw63moR9g/edit?usp=sharing)

[2022-06-25 18:15] #22851 closed

[2022-06-26 17:23] fejta commented on #26542
You can't fix something that doesn't exist

[2022-06-27 11:37] #25008 closed

[2022-06-27 16:35] chaodaiG commented on #25350
This is right now a manual process, I'll take care of it and update here.

[2022-06-27 16:47] chaodaiG commented on #25350
done, things look good so far. The `scalability` cluster is not associated with prow any more

[2022-06-27 17:00] chaodaiG commented on #26614
Sorry I might have skipped one more step, Prow allows setting `DecorationConfig` on both prowjob yaml and prow config yaml, and the values of these two are merged at runtime by [ApplyDefault](https://github.com/kubernetes/test-infra/blob/959d4500863c43efa5cb45b49ba6d14c62441103/prow/apis/prowjobs/v1/types.go#L615) function, so please make sure update this function as well. For the fuzz testing I m

[2022-06-27 17:02] chaodaiG commented on #26640
yeah I think it would be good to include them all

[2022-06-28 18:47] Ankit152 commented on #26640
Added all of them! 🙂

[2022-06-29 05:41] upodroid commented on #26599
/close

Please use these [keywords](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) in your future PRs to autoclose linked issues.

[2022-06-29 05:41] #26599 closed

[2022-06-29 09:12] pallasite99 commented on #25248
/close

[2022-06-29 09:12] #25248 closed

[2022-06-29 17:11] endocrimes opened #26712 "sig-node-cri-o#crio-e2e-fedora: Logs are innacessible"
https://testgrid.k8s.io/sig-node-cri-o#crio-e2e-fedora

Looks like test results link to https://gcsweb-ci.svc.ci.openshift.org - we should fix this so that they're publicly accessible or remove from testgrid.

/sig node
/cc @haircommander

[2022-06-29 20:53] howardjohn commented on #20421
Can this be re-opened?

[2022-06-30 01:17] dims commented on #20421
/reopen

[2022-06-30 05:38] Amulyam24 opened #26717 "Add IBM Cloud resources to Boskos"
**What would you like to be added**:
We would like to add a few IBM Cloud resources to the Boskos resource pool

**Why is this needed**:
The resources would be used by projects in Kubernetes-sigs(cluster-api-provider-ibmcloud)

More context:
We are looking for help in understanding these two areas:

- Secret Manager(KES or ESO)
- Any ideas or recommended ways to update user data of the new boskos

[2022-06-30 05:39] Amulyam24 commented on #26717
/cc @eddiezane

[2022-06-30 05:40] Amulyam24 commented on #26717
/sig testing

[2022-07-01 19:37] #25069 closed

[2022-07-05 16:54] BenTheElder commented on #25806
Upon revisiting I actually think we shouldn't, I think we should stick with @nikhita's last suggestion: it will reduce copy-paste of commands that stand out without reading and the syntax is detailed in the linked review process document.

[2022-07-07 17:01] erichorwath commented on #26388
I'm wondering if it is possible that the prow-controller-manager can use it's Github App access tokens to inject it into the cloneref container?

[2022-07-07 17:59] chaodaiG opened #26765 "Browser halt when clicking on "Show all hidden lines" with large build log"
**What happened**:

Browser halt when clicking on "Show all hidden lines" with large build log

**What you expected to happen**:

Not halt

**How to reproduce it (as minimally and precisely as possible)**:

Create a prow job that produces large build log, in our experience a build log with size of 6.8Mb.

**Anything else we need to know?**:

The reason why this happened, was most likely due to spy

[2022-07-08 20:34] #17719 closed

[2022-07-08 20:34] #24986 closed

[2022-07-08 23:05] #25892 closed

[2022-07-11 04:22] carolinar7 commented on #26765
/assign

[2022-07-11 09:19] ArkaSaha30 commented on #25806
/assign

[2022-07-11 22:11] #26535 closed

[2022-07-15 09:53] Amulyam24 commented on #26717
We are planning to manage the secret used by the IBM Cloud janitor via the GCP Secret manager depicted in the overall flow below.
![Boskosflow-2](https://user-images.githubusercontent.com/30797554/179198673-248081cd-3b7b-45f9-b8f0-eadd5f098f8f.png)

We might need access to the Secret manager service in one of the projects being used for IBM Cloud related K8s upstream work.
Looking for suggestions

[2022-07-15 13:07] smg247 commented on #25570
@carolinar7 we are facing this issue also, and utilizing the new cluster based auth will not allow us to configure this the way we would like to. Is there a reason that

wasn't implemented?

I would like to try this, but I don't want to waste my time with something that won't work.

[2022-07-15 14:58] chaodaiG commented on #25570
@smg247 , sorry that this was already fixed by https://github.com/kubernetes/test-infra/pull/26465 and we forgot to close this issue.

https://github.com/kubernetes/test-infra/blob/331b067ff256217feef740d6b71a17c5b28cdabe/prow/config/prow-config-documented.yaml#L309 is the updated doc, which is based on option 2

/close

[2022-07-15 15:14] smg247 commented on #25570
@chaodaiG, I noticed that, but the `cluster` based configuration option doesn't work for our setup...
Can we not use the `extraRefs` to make the `repo` based configuration work for `periodics` too?

[2022-07-15 15:33] chaodaiG commented on #25570
@smg247 , I see your point now, and it's reasonable to use the first ref from `extraRefs` as the org/repo, which is been used in other places such as deck already. Please feel free working on this.

/reopen

[2022-07-15 15:33] chaodaiG commented on #25570
/assign @smg247

[2022-07-17 15:05] pnpatel opened #26836 "Prow issue: triage/accepted"
Hello K8s Team,

I have noticed some indentation for network policy is incorrect in kubernetes io documentation.

https://kubernetes.io/docs/concepts/services-networking/network-policies/

section : The NetworkPolicy resource

(https://raw.githubusercontent.com/kubernetes/website/main/content/en/examples/service/networking/networkpolicy.yaml)

indentation from ingress plicy specially starting @ -f

[2022-07-18 17:21] #25337 closed

[2022-07-18 20:28] #26836 closed

[2022-07-19 18:47] smg247 commented on #26321
We could get the aforementioned PR merged. There just appears to be no interest.

[2022-07-20 07:09] Noamrok opened #26863 "Enable regex string matching in Label plugin"
**What would you like to be added**:

Hi,

In our org, we want to add dynamic labeling to pull requests using Prow's Label plugin.

Example:
[code]

and Prow will put a different label according to some tag logic, aka "automerge/v0.1.0"
So we would like to add regex labeling instead of strict ones only.

**Why is this needed**:

To improve the agility of Prow and make it more dynamic. Furthermore,

[2022-07-20 07:22] Noamrok commented on #26863
/sig Usability

[2022-07-20 15:57] howardjohn opened #26868 "Recent changes broke loading of deck"
Some commit in 1211ccbc68..c85a2ec6dc broke deck for all Istio (prow.istio.io) pages.

We see the page load, but the logs/junit section is stuck spinning. Console:

![2022-07-20_08-52-31](https://user-images.githubusercontent.com/623453/180027928-d3519835-6abc-4a96-bd87-006e04b79178.png)

Deck logs show things like:
[code]

although similar logs seem to appear after rollback as well.

[2022-07-20 16:26] MadhavJivrajani commented on #26380
/assign

[2022-07-20 17:42] jberkus commented on #26380
+1 from me

[2022-07-21 10:56] wojtek-t commented on #25967
/remove-lifecycle stale

There are still things to do described in:
https://github.com/kubernetes/test-infra/issues/25967#issuecomment-1105612832

[2022-07-21 17:28] jberkus commented on #25967
Can you render that as a checklist in the original issue comment so that everyone knows what still needs to be done?  Thanks!

[2022-07-21 17:59] #14575 closed

[2022-07-21 18:13] daniyalsuri6 opened #26881 "Using Ephemeral Volume Snapshot with Prow Job"
**What would you like to be added**:
Seems like a presubmit prow job is not able to create a volume by using "volume claim template" described in the presubmit job yaml. I am trying to use the volume claim template to create a PV from volume snapshot "data source" in the yaml. The mount paths come up empty. The setup works fine when tested with a POD but not with prowjob yaml.

Eg:
[code]

**Why i

[2022-07-21 18:15] daniyalsuri6 opened #26882 "Prow presubmit job not able to create PV using PVC"
**What happened**:
Seems like a presubmit prow job is not able to create a volume by using "volume claim template" described in the presubmit job yaml. I am trying to use the volume claim template to create a PV from volume snapshot "data source" in the yaml. The mount paths come up empty. The setup works fine when tested with a POD but not with prowjob yaml.

Eg:
        volumes:
          - name

[2022-07-21 18:20] daniyalsuri6 commented on #26882
/sigs

[2022-07-21 18:22] daniyalsuri6 commented on #26882
/sig usability

[2022-07-21 18:22] daniyalsuri6 commented on #26881
/sig usability

[2022-07-21 21:46] daniyalsuri6 commented on #26881
[code]

[2022-07-21 22:59] #24089 closed

[2022-07-21 22:59] #25327 closed

[2022-07-22 05:52] wojtek-t commented on #25967
Done

[2022-07-22 06:34] wuhuizuo opened #26893 "how to sync branch protect rules, the rules."
**What would you like to be added**:

Github branch protect rule sync tool

**Why is this needed**:
Github using protect rule to protect branches, branch protect tool can not sync rules as expected:
[code]
The branch name using a pattern.

[2022-07-22 06:35] wuhuizuo commented on #26893
/sig prow

[2022-07-22 14:45] Skarlso opened #26900 "🐛 pip3.7 location for kubekins-e2e moved from `/usr/bin/pip3.7` to `/usr/local/bin/pip3.7` breaking tests"
**What happened**:

Location of `pip3.7` moved to cause breaking changes on how other k8s-sig projects are using the test image.

From this point onward, pip is no longer under `/usr/bin/pip3.7` but under `/usr/local/bin/pip3.7`. Here is a corresponding issue on a the CAPA project for which tests are breaking: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3613

I couldn't find a

[2022-07-22 16:56] tobiasgiese commented on #26900
Our periodic CAPO conformance and e2e tests are failing because of this issue

* [periodic-cluster-api-provider-openstack-conformance-test-main-with-k8s-ci-artifacts](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-openstack-conformance-test-main-with-k8s-ci-artifacts/1550494014325657600)
* [periodic-cluster-api-provider-openstack-e2e-test-main](https://prow.k8s.i

[2022-07-22 18:09] #25370 closed

[2022-07-22 22:03] chaodaiG commented on #26345
This happened again after the landing of https://github.com/kubernetes/test-infra/pull/26902, and there were more logs available now.

Image building jobs:
- Bad one: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-push-prow/1549398192859123712
- Good one: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-push-prow/1549507684703670272

Suspicious line of logs:

[2022-07-22 23:02] #26345 closed

[2022-07-23 12:18] #25362 closed

[2022-07-24 09:29] tobiasgiese commented on #26900
Fixed with https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1307
(See https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-openstack#periodic-conformance-test-main)

[2022-07-25 02:36] #24147 closed

[2022-07-25 06:27] wojtek-t commented on #25966
/remove-lifecycle stale

[2022-07-25 17:13] evankanderson commented on #26542
Would `dry-run` treating missing teams as "empty" be acceptable?

[2022-07-25 19:41] #25437 closed

[2022-07-26 02:45] BenTheElder commented on #26900
We only guarantee that this image provides the tools needed to test kubernetes, not any particular binary paths or anything like that.

Is there a reason to depend on the particular location as opposed to just invoking it from PATH?

[2022-07-26 02:46] BenTheElder commented on #26868
IIRC this was fixed? There was a race in the JS build, cc @chaodaiG

[2022-07-26 03:16] chaodaiG commented on #26868
yes it was fixed by https://github.com/kubernetes/test-infra/pull/26902

tracking issue: #26345

/close

[2022-07-26 03:16] #26868 closed

[2022-07-26 05:18] nikhita commented on #17671
/remove-lifecycle stale

/unassign @kurokochin
please reassign yourself if you'd like to work on this

/help

[2022-07-26 05:23] Skarlso commented on #26900
The PATH changed. And we aren't invoking it. We literally just call `python3 -m pip install requests` which fails.

We don't care where pip is, but at the very least, python should work. ;) I think that's a guarantee that is desired.

[2022-07-26 05:41] MadhavJivrajani commented on #25806
Closing since https://github.com/kubernetes/test-infra/pull/26796 has merged!
/close

[2022-07-26 05:41] #25806 closed

[2022-07-26 06:05] MadhavJivrajani commented on #26380
I've created #26915 to add support for this. Once that is merged, I'll open up a PR to update the command to use `not-planned`, that the bot uses to close `rotten` issues:

https://github.com/kubernetes/test-infra/blob/4f44d233e10e624b912742793cf6548bfee8e10e/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml#L173

[2022-07-26 08:20] BenTheElder commented on #26900
Python is only still in this image to install the google cloud sdk, because the project used that to spin up GCE clusters etc. Otherwise it is an artifact of bazel which we no longer use. When running python we use a python image.

Pip is installed using the Debian python3-pip package, if it moved, Debian moved it.

The python system module path is not PATH and pip3 should still be in PATH

[2022-07-26 08:38] Skarlso commented on #26900
Hm, fair point. We'll make sure it's there ourselves. Thanks!

[2022-07-26 08:38] #26900 closed

[2022-07-26 12:13] hiteshgakhreja1234 opened #26917 "skipping nameprefix of some resource kinds"
Hi All

is it possible to have kustomization file avoid adding prefixes to few resources

service
configmap
storageclass

I tried using this link but this is not working
https://stackoverflow.com/questions/69882949/kustomize-namesuffix-skip-on-some-resources

I tried creating a configuration file in kustomize and try skip: true but still its not behaving as expected
hgakhrej@C02G104NMD6M configura

[2022-07-26 16:55] BenTheElder commented on #26917
This issue is out of scope for this repo, I think you may want https://github.com/kubernetes-sigs/kustomize/issues

[2022-07-26 16:55] #26917 closed

[2022-07-26 18:24] BenTheElder commented on #25811
sorry I've been ~unavailable, please do, you don't need permission to contribute 😅

[2022-07-26 18:25] BenTheElder commented on #26655
cc @chaodaiG

[2022-07-26 18:27] chaodaiG commented on #26655
this instance was an intermittent failure resulted from https://github.com/kubernetes/test-infra/issues/26345, which was fixed this week

/close

[2022-07-26 18:27] #26655 closed

[2022-07-26 18:32] BenTheElder commented on #24247
I think we're ready to do this?
/remove-lifecycle stale

[2022-07-27 00:29] dims commented on #21430
Dang, i keep forgetting to do this!

[2022-07-27 11:05] boranx commented on #25896
/assign

Hey team :wave: I was looking for a good-first-issue, and came across this. I think I can offer a PR

[2022-07-27 11:44] Atharva-Shinde commented on #19264
if there's still some work remaining, I would like to work on this

[2022-07-27 17:17] kvmware commented on #26542
This is a bug in peribolos or at leas poor documentation for dry-run. The dry-run is not smart enough to realize that a team is being created and tries to ask github for the list of members which causes this failure. As @evankanderson pointed out the proper way would be to not ask for a member list (ie assume empty) when a new team is created in dry-run mode. That our update the documentation abou

[2022-07-27 17:22] kvmware opened #26937 "[peribolos] Add config validation option"
**What would you like to be added**:
Peribolos dry-run flag is borked #26542 and most people use it to verify that applying there new config would apply cleanly. Either that should be fixed or a new validate config flag should be made to validate the config against a schema. It is a bit confusing why the dry-run flag even exists if it does not report bad configs or report the changes that would be

[2022-07-27 17:24] kvmware commented on #26937
/sig k8s-infra

[2022-07-27 18:14] #24390 closed

[2022-07-28 09:10] aojea opened #26953 "Kind jobs should not immediately kill the cluster on termination before dumping logs"
that is itself a bug, and shouldn't be happening. we should get and handle a TERM from prow well before we get killed and the TERM handler should be capturing logs.

_Originally posted by @BenTheElder in https://github.com/kubernetes/kubernetes/issues/111086#issuecomment-1195791252_

[2022-07-28 09:10] aojea commented on #26953
/cc @BenTheElder

[2022-07-28 13:35] munnerz commented on #20421
I think I've got a very simple solution for this...

/assign

[2022-07-28 13:41] munnerz commented on #20421
Opened #26956

[2022-07-28 15:48] kvmware opened #26958 "[tide] `skip-unknown-contexts` does not seem to do anything"
**What happened**:
- Set `skip-unknown-contexts=false`
- Open a PR with github actions
- github actions fail
- none of them are set to be required
**What you expected to happen**:
- github actions that fail block merge

**How to reproduce it (as minimally and precisely as possible)**:
see above

**Please provide links to example occurrences, if any**:
https://github.com/knative/test-infra/pull/345

[2022-07-28 15:48] kvmware commented on #26958
/sig testing

[2022-07-28 15:48] kvmware commented on #26937
/sig testing

[2022-07-28 17:18] boranx opened #26959 "fix the issues reported eslint"
**What should be cleaned up or changed**:
It's a follow-up issue after https://github.com/kubernetes/test-infra/pull/26934 was proposed.
A refactor for js files that need to be done on `prow/` that was reported by eslint[1].
There are some that can be fixed by `--fix` flag eg:

[code]

However, applying those suggested changes to `prow/cmd/deck/static/command-help/command-help.ts` and `prow/cmd/de

[2022-07-28 17:19] BenTheElder commented on #26953
Need to track down an example run where this happened.

[2022-07-28 17:24] chaodaiG commented on #26959
note that this is a blocker for https://github.com/kubernetes/test-infra/issues/25896, more specifically https://github.com/kubernetes/test-infra/pull/26934#issuecomment-1198375814, quote from the comment:

------------------------------------
yeah so there's only linting job left as failing, that's because there are issues reported by linter:

✖ 1667 problems (1544 errors, 123 warnings)
  1200 er

[2022-07-28 17:24] chaodaiG commented on #25896
blocked by https://github.com/kubernetes/test-infra/issues/26959

[2022-07-28 17:26] BenTheElder commented on #26953
I think there's a race with the cleanup handlers ... fun ... the dind wrapper.sh in the CI image will start cleaning up docker in docker on TERM, but at the same time we are passing it through to the child process and the child process is the e2e script is then doing the capture logs etc.

The problem is we only have one signal before we are forcibly killed, and we don't have synchronization betwe

[2022-07-28 17:28] BenTheElder commented on #26953
Sorry, nevermind, that example has this issue, all pod logs are missing. Normally we'd have those, like this: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/111334/pull-kubernetes-e2e-kind-ipv6/1550310688029675520/artifacts/kind-control-plane/

[2022-07-28 23:12] msau42 commented on #26953
You can try my pr: https://github.com/kubernetes/kubernetes/pull/111334

[2022-07-28 23:52] BenTheElder commented on #26953
we should just wait for the child process after we signal it, probably more ideal would be to do that with a time limit but this is probably good enough for now https://github.com/kubernetes/test-infra/pull/26963

[2022-07-29 07:30] chendave commented on #16588
/remove-lifecycle stale
/lifecycle frozen

[2022-07-29 18:12] BenTheElder commented on #26953
should verify the fix before closing

[2022-07-29 18:41] BenTheElder commented on #26953
will test after https://github.com/kubernetes/test-infra/pull/26971

[2022-07-29 19:47] #20421 closed

[2022-07-30 01:22] BenTheElder commented on #26953
Fixed, confirmed with a test PR that just hangs the tests indefinitely with `for { time.Sleep() }` https://github.com/kubernetes/kubernetes/pull/111552

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111552/pull-kubernetes-e2e-kind/1553117127823593472

[code]

TODO: should get around to improving how we run dind ... that's a different issue though.

[2022-07-30 01:22] #26953 closed

[2022-07-30 10:29] #23619 closed

[2022-07-30 20:34] #25474 closed

[2022-08-01 10:12] antonylucisano commented on #10065
bamp

[2022-08-01 15:09] janisz opened #26987 "Support for stacked PRs"
**What would you like to be added**:
Ability to build against target branch or main branch for repository for any PR.

**Why is this needed**:
Allow [using stacked PRs](https://matt-rickard.com/stacked-pull-requests).

Currently prow allows only to build PRs made with certain branches as a target. This prevent from using stacked PRs (PRs created against another PR). It will be great if we can conf

[2022-08-01 15:10] janisz commented on #26987
/sig testing

[2022-08-01 17:07] BenTheElder opened #26989 "don't use generics yet"
Using generics in this repo forces all dependent projects to switch to go 1.18 + generics.

Notably, boskos depends on prow utility packages, and then projects like kubetest2 use boskos's client library ... https://github.com/kubernetes-sigs/kubetest2/pull/207

This is not particularly tenable when we have to run in environments with Kubernetes release branches that use older go and won't be upgra

[2022-08-01 17:09] palnabarun commented on #26989
/sig testing

[2022-08-02 00:33] BenTheElder commented on #10065
@antonylucisano this issue will not autoclose (it has `lifecycle/frozen`) but commenting "bamp" ("bump"?) will not lead to an implementation either.

Most of the people that have previously commented on this issue work on other things now.

Someone needs to flesh out a proposal and bring it to SIG Testing for discussion.

[2022-08-02 10:24] antonylucisano commented on #10065
@BenTheElder thanks for the info, we're looking at writing a proposal ourselves. Will hopefully have something to bring to you. Or have changes to PR

[2022-08-02 12:01] janisz commented on #26987
I looks like it's possible with [feature branches](https://docs.ci.openshift.org/docs/how-tos/contributing-openshift-release/#feature-branches). Just need to follow the naming convention.

[2022-08-02 12:01] #26987 closed

[2022-08-02 14:01] alvaroaleman commented on #26989
So far the assumption has been that this repo is fairly self-contained and that if we want to upgrade e.G. the go version, we can just do that. I wasn't aware that this changed.

This might be visible right now with generics, but the same could happen for any new feature or stdlib addition we use from a newer go version. If there is any expectation on how fast we can or can not update go or any ot

[2022-08-02 14:34] aojea opened #26996 "Move tooling to consume ginkgo json output instead of junit"

[2022-08-02 14:35] aojea commented on #26996
@chendave @pohly @BenTheElder @onsi

I think that the principal consumers of the junit output are in this repo, but I'm not very familiar with them

[2022-08-02 15:06] pohly commented on #26996
We need a "why do want to do this", i.e. some specific use case that can be done with the JSON output and not with JUnit.

[2022-08-02 15:11] aojea commented on #26996
now that you mention it,  and after checking the kubernetes repo, the problem that we have is that junit is the standard output for all the test suites, not only e2e/ginkgo, integration and unit are being processed to junit ... if the json output is not standard , we can't unify all the tests suites :/

Maybe the json is great if we want to build new tools to help on debugging the e2e, but it seem

[2022-08-02 15:11] #26996 closed

[2022-08-02 21:19] BenTheElder commented on #26989
yeah, unfortunately this is also hard to manage in go, while the go.mod `go` statement gates language features like generics, there's nothing like this for the stdlib.

you would think, but actually that's the issue here, having generic code in test-infra is one thing, but boskos client depends on the prow secret agent, so that breaks compilation https://github.com/kubernetes-sigs/boskos/blob/3559

[2022-08-02 21:20] BenTheElder commented on #26989
It hasn't been since boskos was broken out, in particular.
Actually until last week we had a dependency cycle between the repos 🔥
https://github.com/kubernetes/test-infra/pull/26956

[2022-08-02 23:20] chaodaiG opened #27001 "Tide should be more explicit when a PR has multiple tide/ labels"
**What happened**:

- PR had both `tide/merge-method-squash` and `tide/merge-method-merge` label
- The PR had both approved and lgtm labels
- Tide refused to merge it, the GH status is "need approved, lgtm label"

**What you expected to happen**:

GH status should be more explicit on why it refused to fail, for example "multiple labels instructing merging methods"

**How to reproduce it (as minima

[2022-08-02 23:31] #25896 closed

[2022-08-03 00:02] chaodaiG commented on #27001
/sig testing

[2022-08-03 11:02] Ressetkk commented on #25799
/remove-lifecycle stale

[2022-08-04 02:56] BenTheElder commented on #26989
So also, even if we broke the boskos client out into it's own package, it's actually the boskos client causing issues already (AFAIK go only tries to compile packages that are actually imported into a binary ...), due to use of the secret agent

Otherwise i'd just fork the boskos client into kubetest2 for now like we merged with kubetest in test-infra and punt on the rest.

[2022-08-04 03:34] alvaroaleman commented on #26989
If this is just about kubetest, what keeps us from just upgrading its go version?

[2022-08-04 04:27] BenTheElder commented on #26989
It’s “go install”ed by developers and CI, and when on older currently supported releases of kubernetes the toolchains required lack it.

switching everyone to prebuilt binaries or something is impractical and this hasn’t been an issue for O(years), probably because of the previous poor state of toolchains in test-infra …

[2022-08-04 04:33] BenTheElder commented on #26989
We really should be deciding: is test-infra supported as a library? If so, we should still consider back pedaling forcing generics yet IMO, the with parser api could be reworked to take be Unmarshal style. If not we should undo boskos heavily importing test-infra packages, which we previously rejected.

[2022-08-04 09:21] ArkaSaha30 commented on #26646
/assign

[2022-08-04 10:47] boranx commented on #26959
State update:

As mitigation of firing alerts, some of them were transformed into warnings and some of them were fixed (in https://github.com/kubernetes/test-infra/issues/25896's context).

[code]

However, there are still alerts that should be fixed that are being reported as warning

[code]

[2022-08-04 11:34] Ressetkk opened #27029 "checkconfig: allow more advanced configuration with config file"
**What would you like to be added**:
As a follow-up to the discussion in https://github.com/kubernetes/test-infra/pull/26656 I would like to add the ability for more advanced configuration of the static checks that run using checkconfig. My suggestion is to allow using a YAML file that defines the severity of the checks, and their per-check configuration.

Teams that use Prow would be able to have

[2022-08-04 16:18] stevekuznetsov commented on #27029
We might want to decide whether or not new features are enabled by default - what's the current situation with flags? Perhaps the config could list disabled checks and those that are demoted to informational only, and you get new ones for free?

/cc @cjwagner @alvaroaleman

[2022-08-04 17:26] kaalams commented on #26646
hey, this project has already had some work done on it.
https://github.com/kubernetes/test-infra/pull/26658
https://github.com/kubernetes/test-infra/pull/26886
https://github.com/kubernetes/test-infra/pull/27020

[2022-08-04 18:47] smg247 opened #27036 "Multiple Tide Queries Result in Confusing PR Status"
**What happened**:
A repo with multiple tide queries configured resulted in user confusion when viewing the PR status page. Every item is listed in an ambiguous manner that makes you believe that every condition needs to be met in order to merge. If we could define a way to separate the conditions by query it would be more clear.

Tide config:
[code]

PR Status:
![Screen Shot 2022-08-04 at 2 03 31

[2022-08-04 18:47] smg247 commented on #27036
/sig testing

[2022-08-05 11:19] timebertt opened #27046 "Tide panics with `invalid memory address or nil pointer dereference`"
**What happened**:

After an upgrade from `gcr.io/k8s-prow/tide:v20220803-65793402b8` to `gcr.io/k8s-prow/tide:v20220805-b020793770` (https://github.com/gardener/ci-infra/pull/336), `tide` is in `CrashLoopBackOff` and panicking with:
[code]

**What you expected to happen**:

`tide` not to panic.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example o

[2022-08-05 11:50] smg247 commented on #27046
We saw this in OpenShift too. Potentially caused by: https://github.com/kubernetes/test-infra/pull/26597?

[2022-08-05 14:17] #26478 closed

[2022-08-05 16:55] alvaroaleman commented on #27046
/assign @chaodaiG

[2022-08-05 17:03] chaodaiG commented on #27046
ack, reverting

[2022-08-05 17:17] #27046 closed

[2022-08-05 17:56] mrueg commented on #22164
/reopen

[2022-08-05 22:13] cjwagner commented on #27029
That sounds good for generally applicable checks. I think we may still want some new checks to be opt-in so that we can include checks for optional policies that may not apply to all instances. Hopefully most new checks can be enabled by default though.

[2022-08-05 22:36] Ressetkk commented on #27029
From what I see in the code, there is a list of default checks which is normally enabled only if no `--warnings` flag is provided, or when `--include-default-warnings` is there along with `--warnings`. I would want to keep the current functionality - we define list of checks that are generally enabled in the code, and they would always run. We can opt-in for having additional checks via file, or d

[2022-08-08 09:12] pohly commented on #17056
/reopen

[2022-08-08 13:33] rajaskakodkar commented on #17056
/assign

[2022-08-08 15:07] smg247 opened #27072 "`Crier`: comments "all tests passed!" on new push when tests were running"
**What happened**:
An `All tests passed!` comment is posted by crier to PRs that have running tests when a new commit is pushed (or force pushed) to the branch.

**What you expected to happen**:
No comment would be posted referencing either failing or passing tests in this instance as all tests did not complete.

**How to reproduce it (as minimally and precisely as possible)**:

1. Configure a rep

[2022-08-08 15:09] smg247 commented on #27072
/sig testing

[2022-08-08 17:44] #25457 closed

[2022-08-08 17:44] #25603 closed

[2022-08-08 18:14] BenTheElder commented on #17056
Folks: before writing any code here please bring a design to SIG Testing for discussion, It's not clear to me that any prow owners have approved implementing this or weighed in how it might be done acceptably. (you can see who that is in `prow/OWNERS`)

[2022-08-08 19:48] smg247 commented on #27072
/assign

[2022-08-08 22:10] alvaroaleman commented on #26989
I believe our statement to `is test-infra supported as a library` is no. Openshift has a [repo that heavily depends on test-infra](https://github.com/openshift/ci-tools) so we informally agreed on asking before removing functionality. Other than that though I think we always assumed that it is self-contained and has no external consumers. We at some point had an issue open to clarify the boundarie

[2022-08-08 23:00] eddiezane commented on #26717
/cc @BenTheElder

[2022-08-08 23:22] BenTheElder commented on #26717
I'm not involve with running prow on the google side [or any of the other test-infra anymore](https://twitter.com/BenTheElder/status/1551670320423059456?s=20&t=QoVdcIl14kJ_PA1_AmsdMA), but there's some docs for managing prow secrets with secret manager in this repo:

https://github.com/kubernetes/test-infra/blob/d16a6c88145bc62fafc1fa4bf6d571c46d64bc27/prow/prow_secrets.md

I have no idea what pro

[2022-08-09 05:26] Amulyam24 commented on #26717
/cc @mkumatag

[2022-08-09 06:24] pohly commented on #17056
There were several discussions around this on Slack and at KubeCon EU, but I agree, presenting to SIG Testing would be good to get everyone on the same page.

[2022-08-09 16:11] pohly commented on #17056
/retitle Support reporting information from jobs to GitHub comments and annotations

[2022-08-09 17:02] jayunit100 opened #27089 "windows operational readiness initial runs"
per @marosset today in Sig-windows, https://docs.google.com/document/d/1Tjxzjjuy4SQsFSUVXZbvqVb64hjNAG5CQX8bK7Yda9w/edit#

**What would you like to be added**:

Lets start implementing the windows operational readiness suites in here

**Why is this needed**:

To complete https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows/2578-windows-conformance

Ultimately, lets make sure we

[2022-08-09 17:23] BenTheElder commented on #17056
ACK, usually a change of this scope results in an ask for a lightweight design doc (~google doc, not a full KEP) and some discussion around that before proceeding, typically posted back to the issue.

I just didn't want to see anyone put in a lot of work and then get blocked 😅

[2022-08-09 20:46] cjwagner commented on #26989
In my opinion, we should not act like a library in our current state. We don't identify or control what is exposed so it isn't practical for contributors to anticipate arbitrary external consumption. Continually avoiding changing any previously created public function would make refactoring difficult and grow our tech debt.

[2022-08-09 21:17] BenTheElder commented on #26989
ACK, I think we should probably note this somewhere, and boskos probably needs to move off of a number of prow util packages.

https://github.com/kubernetes-sigs/boskos/search?q=k8s.io%2Ftest-infra shows at least:

[code]

What's an acceptable path forward for that? Fork them into boskos? Create an actual library repo?

In the short term, I think we can unblock upgrading boskos client users just b

[2022-08-10 02:10] puerco opened #27098 "Job names have wrong suffix in new branch"
**What happened**:

When generating the new 1.25 branch jobs, the names of the jobs were wrongly generated, causing a whole bunch of presubmits to fail when verifying the config files.

The job names had the release version appended (`-1.25`)

**What you expected to happen**:

Job names should not have had the suffixes added

**How to reproduce it (as minimally and precisely as possible)**:

Ran `

[2022-08-10 02:11] puerco commented on #27098
/cc @Verolop @jeremyrickard @jrsapi
/sig testing
/sig release

[2022-08-10 12:28] palnabarun commented on #26989
I think creating an actual library repo is a better solution in the long run. For now, we can start with forking `secret.Agent` which doesn't use Generics to `boskos`. This will let consumers of boskos to use the latest boskos version.

With time, all the util like packages can move to a library repo like `prow-utils` or `test-infra-utils`.

[2022-08-10 22:51] #27098 closed

[2022-08-11 17:43] BenTheElder commented on #26989
probably? but it requires buy-in from the folks actually developing this code.

Yeah, I think this is the most reasonable step, boskos users should mostly be either using binaries or the client library, and the client library only imports `prow/config/secret` so we can cut the test-infra dependency for the client library at least and mitigate most of the issue.

However, if test-infra is not inten

[2022-08-12 07:13] BenTheElder commented on #26958
skip-unknown-contexts=true should do something.
skip-unknown-contexts=false is the default.

https://github.com/kubernetes/test-infra/blob/d24f409b8fa140e327afc12c08f039379221e516/prow/config/tide.go#L725

this PR isn't merged and is not selected for possible merge due to missing LGTM

That's not what this config is for, branch protection is not enabled by tide that is handled by `prow/cmd/branchp

[2022-08-12 07:17] BenTheElder commented on #26893
I don't think `branches` supports a pattern, you'll have to list the branches.

[2022-08-12 11:57] Amulyam24 commented on #26717
Hi @BenTheElder, thank you for the insights. Yes, we would like to know more on this, in terms of what is the process involved in donating resources to CNCF and on how they will be managed.

[2022-08-12 17:20] BenTheElder commented on #26717
For the donation process you'll have to talk to the CNCF, for how they'll be managed as Kubernetes project resources that's between you, the CNCF, and SIG k8s Infra, but boskos is one example of tooling we use for this. Most of the other infra management is in https://github.com/kubernetes/k8s.io cc @ameukam @dims (chairs)

[2022-08-12 17:26] ameukam commented on #26717
@Amulyam24 For resources donation, please take a look at https://cncf.io/credits.

[2022-08-12 17:27] ameukam commented on #26717
cc @jeefy @hh please, can you provide guidance for resources donation to @Amulyam24 ? Thanks!

[2022-08-14 18:41] #25654 closed

[2022-08-15 11:41] dhiller commented on #25768
/remove-lifecycle rotten

[2022-08-15 15:02] kvmware commented on #26958
According to https://github.com/kubernetes/test-infra/blob/master/prow/config/prow-config-documented.yaml#L1199 setting `skip-unknown-contexts` to false (the default) should make all unknown contexts required. The example given here https://github.com/knative/test-infra/pull/3457 shows that it needs a LGTM, but that should not be the case because there are couple of unknown contexts that have not

[2022-08-15 15:09] BenTheElder commented on #26958
Those contexts are unknown but are not marked Required.

the skip unknown contexts field is only for tide. Not the branch protection settings with the branch protector tool

[2022-08-15 15:10] BenTheElder commented on #26958
I mean `required` on the GitHub side of things, which the branch protector can do or it can be done manually by a repo admin.

[2022-08-15 15:15] kvmware commented on #26958
Don't know if I am missing something here.
There are a few things in play here.
1. Prow jobs which can be marked to be required or not in the jobs themselves
2. Branch protection rules that can be applied manually or via branch protector (which makes those things required)
3. Github actions which to my understanding from https://github.com/kubernetes/test-infra/blob/master/prow/config/prow-config-

[2022-08-15 15:24] BenTheElder commented on #26958
1. Yes, the branch protector is aware of prowjobs
2. Yes
3. No, false is the default for skip-unknown-contexts. Setting it to true makes it skip them. Leaving it false only makes it not do this. Setting them to required without setting this to true makes them fully required for merge and must be done in branch protector or manually. It’s not feasible to have a blanket required field for these. Wit

[2022-08-15 15:27] kvmware commented on #26958
So then it is not doing what you are saying. When left to `false` tide will refuse to merge because of failing GHAs which are not added as branch protection rules.

[2022-08-15 15:47] BenTheElder commented on #26958
So far there’s only been evidence that:
- tide will not merge without lgtm (previous state of PR)
- tide will not merge when prow tests are failing (current state of linked PR)

In the issue body:

But this field lets you opt-in to bypassing unknown statuses, not opt-out to requiring them. Required setting / merge config for a particular status requires them.

[2022-08-16 23:23] BobyMCbobs opened #27150 "Run `hook` as a GitHub action"
**What would you like to be added**:
support for Hook to be run as a GitHub action

**Why is this needed**:
CNCF projects need Prow features without the complexity of Prow

ii is doing some POC'ing over here
- https://github.com/cncf-infra/prow-github-action
- https://github.com/cncf-infra/mock-project-repo

/cc @hh @Riaankl @RobertKielty
/assign @BobyMCbobs @hh @Riaankl @RobertKielty

[2022-08-16 23:23] BobyMCbobs commented on #27150
/sig k8s-infra

[2022-08-16 23:27] BobyMCbobs commented on #27150
/unsig k8s-infra

[2022-08-16 23:29] BobyMCbobs commented on #27150
/sig nil

[2022-08-17 00:18] BobyMCbobs commented on #27150
Plan of action:
- build out a implementation of hook/server.go
- given _/github/workflow/event.json_ and sufficient auth, create a http server using httptest and call the endpoint

Thoughts @hh?

[2022-08-17 00:18] hh commented on #27150
I like this

[2022-08-17 01:08] hh commented on #27150
`httptest` would get the plumbing up the quickest I think.

Not sure if it would reduce startup time, but we could replace `prow/cmd/hook`  w/ a new `prow/cmd/pga` as a rewrite of *demuxEvent()* that reads the payload from *GITHUB_EVENT_PATH* and directly switches on *GITUB_EVENT_NAME*

Lift the case statement from *demuxEvent()* : https://github.com/kubernetes/test-infra/blob/master/prow/hook/ser

[2022-08-17 01:18] hh commented on #27150
### GITHUB_TOKEN permissions in pull requests
- From https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target

### Startup Time
Can we streamline to quickly and directly call the event handlers rather than starting up a web server?
### API Limits
- From https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#usage-

[2022-08-17 04:52] palnabarun commented on #27150
/sig testing

[2022-08-17 15:31] dims opened #27157 "error during gcloud auth activate-service-account --key-file=/etc/service-account/service-account.json: exit status 1"
SOLUTION: See https://github.com/kubernetes/test-infra/issues/27157#issuecomment-1318950082 - thanks @chaodaiG !

notes from @liggitt on Nov 17:
- This just started happening again on 2022-11-16 - https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=error%20during%20gcloud%20auth%20activate-service-account
- Looks like it is failing ~20% of https://testgrid.k8s.io/google-gce#gce-containe

[2022-08-17 15:31] dims commented on #27157
cc @hakman @tobiasgiese @bobbypage @chaodaiG

[2022-08-17 15:33] dims commented on #27157
Looks like when this happened way back https://github.com/kubernetes/test-infra/issues/9373 @fejta had to `Replaced the service account`

[2022-08-17 17:00] chaodaiG commented on #27157
[code]
bootstrap.py was not equipped to work with workload identity, was long deprecated, should have been migrated to use pod utilities + workload identity, instructions to follow:
- https://github.com/kubernetes/test-infra/tree/master/workload-identity#migrate-prow-job-to-use-workload-identity
- https://gist.github.com/dims/c1296f8ed42238baea0a5fcae45f4cf4 from @dims

[2022-08-17 17:41] dims commented on #27157
@chaodaiG it happens in non-bootstrap.py jobs too, example:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/containerd_containerd/7304/pull-containerd-build/1559903840889737216/build-log.txt

[2022-08-17 17:49] chaodaiG commented on #27157
[code]
remove the `preset-service-account` label from the job should fix

[2022-08-17 17:55] dims commented on #27157
@chaodaiG looks like there are tons of these jobs with that preset - https://cs.k8s.io/?q=preset-service-account&i=nope&files=&excludeFiles=&repos=kubernetes/test-infra

Let me start with just the ones in `k8s-cri-containerd` project used by containerd.

[2022-08-17 18:06] chaodaiG commented on #27157
this is not surprising. Having someone to remember to manually rotate this every 80 days doesn't seem like a sustainable solution, so at this point I'm very curious to understand whether there is any job that has no choice but use this physical service account key file.

The second goal, is to figure out whether all these jobs are maintained or not

[2022-08-17 18:22] dims commented on #27157
@chaodaiG #27161 didn't help :( made the problem worse - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/containerd_containerd/7304/pull-containerd-build/1559968071509086208/build-log.txt

reverting now

[2022-08-17 18:23] BenTheElder commented on #27157
I don't think I have access to this infra anymore (different team now / different internal groups membership), or fejta (different company).

bootstrap => decorated should really happen but it's a pretty large lift, it might be automate-able but i'm not sure anyone here has bandwidth.

Thanks @chaodaiG @dims.

[2022-08-17 18:29] dims commented on #27157
/reopen

[2022-08-17 19:12] chaodaiG commented on #27157
@dims , I think the bash bug is fixed above, could you try re-apply the prowjob PR again?

[2022-08-17 19:22] chaodaiG commented on #27157
Cross-posting here:
![Screen Shot 2022-08-17 at 12 21 50 PM](https://user-images.githubusercontent.com/45011425/185225039-fbf93273-6c55-48bf-b874-c3cd48ad353c.png)

link: https://kubernetes.slack.com/archives/C7J9RP96G/p1660763919844109?thread_ts=1660758182.628529&cid=C7J9RP96G

[2022-08-17 19:50] chaodaiG commented on #27157
Documenting the GCP service account key info:
- The key belongs to pr-kubekins@kubernetes-jenkins-pull.iam.gserviceaccount.com, and private key id starts with "529d" and ends with "8a47".
- So far the key is known to be stored in 'k8s-prow' and 'k8s-prow-builds' cluster, as a secret named `service-account`, the data is `service-account.json: <BASE64-ENCODED-KEY>` under `test-pods` namespace.

I'll

[2022-08-17 20:30] willie-yao commented on #27157
We are also experiencing this issue with the `apidiff` test on Cluster API Provider Azure as of yesterday. The test marks itself as passed when experiencing this error. Here is the [build log](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/2567/pull-cluster-api-provider-azure-apidiff/1559975734661877760) for reference.

[2022-08-17 20:39] RobertKielty commented on #27150
Sounds good to me I will take a look.

[2022-08-17 21:01] chaodaiG commented on #27157
manually rotated the secret:
1. Created a new key for pr-kubekins@kubernetes-jenkins-pull.iam.gserviceaccount.com in UI
2. Run `k --context=k8s-prow-builds -ntest-pods create secret generic service-account --from-file=service-account.json=<DOWNLOADED_JSON_PATH> -oyaml --dry-run=client | k --context=k8s-prow-builds -ntest-pods apply -f -`
3. Run `k --context=k8s-prow -ntest-pods create secret gener

[2022-08-17 21:17] dims commented on #27157
thanks @chaodaiG, please see https://github.com/kubernetes/test-infra/pull/27169 for the reverts

[2022-08-17 21:27] chaodaiG commented on #27157
thank you @dims for playing with me all day long :)

[2022-08-17 21:27] dims commented on #27157
shadowing what you were doing was good experience @chaodaiG !! appreciate it.

[2022-08-19 01:55] chases2 opened #27191 "Run some Test-Infra Jobs using Workload Identity"
These jobs are reporting as flaky (or not forming the finished.json) frequently due to not using Workload Identity. Their signal is important, so it would be good to fix this issue.

- [x] [post-test-infra-upload-testgrid-config](https://testgrid.k8s.io/sig-testing-maintenance#testgrid-config-upload)
- [x] [ci-test-infra-autobump-prow-for-auto-deploy](https://testgrid.k8s.io/sig-testing-prow#autob

[2022-08-19 01:57] chases2 commented on #27191
/sig testing

[2022-08-19 04:09] chaodaiG opened #27193 "Sidecar retry upload results in empty started.json and finished.json"
**What happened**:

Prow jobs finished but spyglass doesn't think so, the reason was the both `started.json` and `finished.json` were empty

**What you expected to happen**:

no empty `started.json` and `finished.json`

**Please provide links to example occurrences, if any**:

Example: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/post-test-infra-push-prow/1560393653917061120/

**Anything else

[2022-08-19 04:09] chaodaiG commented on #27193
/sig testing
the io.Reader interface has only a single method of Read, so there is no way to reset the bytes offset back to 0 before next retry. In another word, I don't have a good idea of fixing this bug unfortunately.

[2022-08-19 09:55] jsafrane commented on #27193
I have a case where `started.json` is correct, but `finished.json` is empty. Is it the same bug?
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-csi-1-22-on-kubernetes-1-23/1559492392854228992

[2022-08-19 14:41] chaodaiG commented on #27150
Had an offline chat with @hh, and posting what we had discussed here for visibility:

Overall I think this is an interesting idea, I’m not seeing any obvious blocker yet other than a few thoughts:
- Prowjobs related plugins will not be supported and I guess that’s expected right?

[hh] No prowjobs at this time. Long term, we might look into creating something that suggests PRs to create GHA in .gi

[2022-08-19 14:48] chaodaiG commented on #27193
yes it is.

A little more context: this job uses a GCP service account key file to auth with GCS for uploading both json files, and when the service account key is expired, the symptom is flaky instead of failing right away. So it's unpredictable when the GCS operations would success or fail. In this job it very likely:
- write `started.json` -> success
- write `finished.json` -> failed with 403
-

[2022-08-19 18:32] spiffxp commented on #27157
@chaodaiG

https://cs.k8s.io/?q=E2E_GOOGLE_APPLICATION_CREDENTIALS&i=nope&files=&excludeFiles=&repos=

IIRC there are some number of e2e jobs that need to provide a service account key to a gce pd driver deployed to the cluster under test.  The clusters these jobs stand up aren't guaranteed to be GKE clusters, so I'm not sure changing the gce pd driver deployment to use workload identity is an opt

[2022-08-19 19:01] listx commented on #27191
Thanks for tracking this.

/assign @listx

[2022-08-19 22:53] listx commented on #27191
I'll be adding a PR shortly.

[2022-08-19 23:10] chaodaiG commented on #27157
@spiffxp , that's good to know, thanks! My feeling is that we'll probably need to rotate the key for a while until csi driver team figured out a way of using something like workload identity.

Created https://github.com/kubernetes/test-infra/pull/27202 as a first step for easier key rotation. Once it is merged then secret rotating will become:
- Create a new key
- Upload to GCS secret manager

[2022-08-20 00:12] listx commented on #27193
I was thinking about this too yesterday and it was unclear to me why (from an authentication standpoint) the 2nd upload succeeds at all. That is, it would appear that GCS sometimes allows (and sometimes rejects) attempts to use an expired service account key, which seems really really wrong and broken. But maybe I'm misunderstanding something here...

[2022-08-20 14:30] hh commented on #27150
I'm excited that a project should only need to add a single *~/.github/workflows/prow-hook-handler.yaml* file to each repo and no other configuration to use most of the prow plugins.

- https://github.com/kubernetes/test-infra/tree/master/prow/plugins

Particularly the one with repo and GitHub-only interactions (only needing GITHUB_TOKEN) and not prow-jobs or external services (other secrets).

We

[2022-08-20 15:42] hh commented on #27150
Create intro to the desire of prow beyond Kubernetes: https://youtu.be/Ei2Q5q1DPPA?t=1070

[2022-08-20 17:30] dims commented on #27193
@listx worth bringing up with GCS folks i think!

[2022-08-20 18:27] listx commented on #27193
FWIW there is another documented case of where GCS permissions have been flaky: https://github.com/kubeflow/pipelines/issues/403.

[2022-08-21 07:01] #25450 closed

[2022-08-21 13:04] #25755 closed

[2022-08-22 12:35] #24530 closed

[2022-08-22 16:33] listx commented on #27191
So this is still broken for [ci-test-infra-autobump-prow](https://testgrid.k8s.io/sig-testing-prow#autobump-prow). Reason is that it's missing a WI annotation. BUT we want to create a separate GCP IAM SA (aka GSA) to reduce the perms for this job that runs on the trusted cluster, instead of just reusing the typical `prowjob-default-sa@k8s-prow-builds.iam.gserviceaccount.com` that all of the untrus

[2022-08-22 16:41] listx commented on #27191
/reopen

[2022-08-22 17:19] listx commented on #27191
Job appears to be [passing](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-test-infra-autobump-prow/1561763899097747456) (I manually applied the config at #27213). There should be no reason why this should start to fail (at least for the same reasons as before).

Closing this for now.

/close

[2022-08-22 17:20] #27191 closed

[2022-08-22 18:19] msau42 commented on #27157
cc @mattcary

[2022-08-22 20:10] chaodaiG commented on #7915
/reopen
/remove-lifecycle rotten

[2022-08-22 20:10] chaodaiG commented on #7915
this is not fully implemented, and I think it's still relevant today.
/sig testing

[2022-08-22 20:19] chaodaiG opened #27219 "Move `latest-build.txt` handling from prowjob sidecar to crier"
**What would you like to be added**:

Per title

**Why is this needed**:

Prow job pods are responsible for uploading jobs metadata, logs, and artifacts into storage, these require `storage.create` permission, which is relatively safe even if a prowjob accidentally gains the permission and writes something to the storage location where all Prowjobs logs and results are located. The only place wher

[2022-08-22 20:20] chaodaiG commented on #27219
cc @cjwagner @alvaroaleman @michelle192837 @chases2 , WDYT?

[2022-08-22 20:21] chaodaiG commented on #27219
also kudos to @spiffxp for pointing this out on a separate thread. This is a great idea!

[2022-08-22 21:50] listx commented on #26321
I've reopened the PR.

[2022-08-22 22:23] alvaroaleman commented on #27219
Doesn't storage.create mean you can "delete" content by writing a new empty file to an existing location?

[2022-08-22 22:28] chaodaiG commented on #27219
not actually in GCS, see https://cloud.google.com/storage/docs/access-control/iam-roles#standard-roles
![Screen Shot 2022-08-22 at 3 28 16 PM](https://user-images.githubusercontent.com/45011425/186029900-51c4bad1-8e00-4681-86ed-3ef5694cfbef.png)

[2022-08-22 22:30] chaodaiG commented on #27193
Quoted from @alvaroaleman

The issue here is the reason why for example [hashicorps retyrable http](https://github.com/hashicorp/go-retryablehttp) doesn't pass around io.Readers but what they call a reader func, which is a constructor for an io.Reader: https://github.com/hashicorp/go-retryablehttp/blob/493aa4cf372e47ec00228558d9d91a9517b045a5/client.go#L104

Maybe we can do something similiar? Sho

[2022-08-22 23:44] chaodaiG commented on #27193
Agree with the approach mentioned above, anyone who is interested in working on this please feel free to grab it from me
/help

[2022-08-24 05:48] kaovilai commented on #12595
@stevekuznetsov

I have witness this behavior before where end to end tests can fail at least in my org repo that uses prow.

The logs of tests for the following

still showed a test entry that had been removed in sha-after. https://github.com/openshift/oadp-operator/pull/727#issuecomment-1146353611

[2022-08-24 05:52] kaovilai commented on #12595
https://prow.ci.openshift.org/pr-history/?org=openshift&repo=oadp-operator&pr=727 shows that `e2e-<cloud-provider>` tests only pass after a [rebase](https://github.com/openshift/oadp-operator/pull/727#commits-pushed-0a3d874)

[2022-08-24 05:53] kaovilai commented on #12595
So ideally at least for my repos.. we would want ability to have prow rebase PRs automatically even if there are no conflicts.

[2022-08-24 05:53] kaovilai commented on #12595
/reopen

[2022-08-24 05:55] kaovilai commented on #12595
We want ability to rebase prior to merging in order to clear some presubmit test scenarios.

[2022-08-24 11:25] sshnaidm opened #27246 "Time scheduling for jobs doesn't work"
We have a cron-like time scheduling for periodic jobs here:

https://github.com/openshift/release/blob/416a1185b01b31f86fad5fdcb96aad02b59a0bb7/ci-operator/config/openshift/release/openshift-release-master__nightly-4.11.yaml#L611-L615
[code]

**What happened**:

Although the job runs in very different times, and none of them is `9:21` in any timezone:  https://prow.ci.openshift.org/job-history/gs/

[2022-08-24 11:28] droslean commented on #27246
/sig testing

[2022-08-24 14:33] saschagrunert commented on #12595
/reopen

Is it really not rebased before tested? This sounds like a bug to me.

[2022-08-24 16:50] kaovilai commented on #12595
This is not regarding merging cleanly. This is about updating the base that the test case in prow was running off of. The test triggered after sha-after in master did contain sha-before contents and caused presubmit test failure.

[2022-08-24 17:05] stevekuznetsov commented on #12595
That should simply be a race between the push of sha-after and the triggering of the job. A Prowjob will be started with a specific commit to test from the branch being merged into as well as the branch being merged. Can you please link to a job in question? We can investigate a) the refs being passed to run the job and b) the git commands used to create the code under test

[2022-08-24 18:46] kaovilai commented on #12595
This might be more of a openshift-ci-tools not working with /retest which I'm just guessing here.. the prowjob is reused without updating base ref if sha-after had been commited to master branch.

https://github.com/openshift/ci-tools/blob/a5ba2e7245eee5632e16076d88365af9d77307aa/cmd/ci-operator/main.go#L1841

PR linked here. https://github.com/kubernetes/test-infra/issues/12595#issuecomment-12252

[2022-08-24 19:51] stevekuznetsov commented on #12595
No, that code is consuming the refs that Prow created when a user issued `/retest`, so it is downstream/derivative of what we're talking about in this issue. I'm going to need a specific pair of ProwJobs that you noticed this in, to determine if the one without a rebase really was running against the new HEAD or not.

[2022-08-24 20:23] kaovilai commented on #12595
based on deeper dive.. prowjob is correct at every point.. and every step ran a correct version from the prowjob. Time of failure of the jobs had distorted my view thinking this came from prow.

So we didn't have to rebase it seems.. but simply issue a new /retest.

So disregard the noise I made earlier. Feel free to re-close

[2022-08-25 07:00] #12595 closed

[2022-08-25 09:41] sshnaidm commented on #27246
Closing for now, seems like it's working for periodic.

[2022-08-25 09:41] #27246 closed

[2022-08-25 18:52] marquiz opened #27260 "prow: badge.svg does not seem to work reliably"
**What happened**:

badge.svg is green/passing even if job is failing.

**What you expected to happen**:

badge.svg is red/failure if job is failing

**How to reproduce it (as minimally and precisely as possible)**:

At present, all jobs in of sig-node-cos are failing accoriding to the testgrid (https://testgrid.k8s.io/sig-node-cos). Take any one of them and the badge is still green/passing, e.g.:

[2022-08-26 10:28] boranx commented on #26959
should https://github.com/kubernetes/test-infra/blob/master/tslint.json be removed as well as part of the cleanup to eslint?

[2022-08-26 14:16] chaodaiG commented on #26959
I don't see why not

[2022-08-26 18:22] chaodaiG opened #27275 "Crier uses common Storage client"
**What should be cleaned up or changed**:

Crier uses https://github.com/kubernetes/test-infra/blob/master/prow/crier/reporters/gcs/util/util.go for uploading to GCS, the latter should be deleted.

**Provide any links for context**:

Common Storage: https://github.com/kubernetes/test-infra/blob/master/prow/flagutil/storage.go

[2022-08-26 18:22] chaodaiG commented on #27275
/sig testing
@cjwagner @alvaroaleman , do you see any blockers?

[2022-08-26 20:15] puchongcnxx29 opened #27278 "Title"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2022-08-26 20:15] #27278 closed

[2022-08-27 02:57] #24798 closed

[2022-08-29 12:00] dhiller commented on #22084
@adievkadyrbek seems we are facing the same issue. Could you update this issue on what you did for this to work?

FYI @brianmcarey

[2022-08-30 02:31] alvaroaleman commented on #25854
Fixed in https://github.com/kubernetes/test-infra/pull/26476

[2022-08-30 02:31] #25854 closed

[2022-08-30 23:32] #24769 closed

[2022-08-30 23:32] #25501 closed

[2022-08-30 23:48] mattcary commented on #27157
Sorry, I'm not following the suggested solution. These keys are for running tests in k8s-on-gce, so there is no workload identity.

Since this is testing, a workaround is to give all nodes in the cluster cloud-platform scope and running them as a service account with the rbac @spiffxp mentioned above. We use this internally as we've locked down key downloads for google devs.

Would that be reasona

[2022-08-31 13:23] chaodaiG commented on #22084
Update with my explanation. The periodic job config is:
[code]

Note that periodic job might clone 0, 1, or more repos, and there is no default cloneref. As a result, top level `clone_uri` is not respected for periodic jobs. it should work this way:
[code]

[2022-08-31 14:42] alvaroaleman commented on #22084
@chaodaiG maybe we should add a validation that rejects top-level `clone_uri` for periodics with this explanation?

[2022-08-31 23:58] dscofaws opened #27333 "Prow will use it's configured AWS IAM credentials to return arbitrary file contents from S3 paths ending in '.txt'"
**What happened**:

Prow as implemented in the current test-infra repo master branch contains a [route](https://github.com/kubernetes/test-infra/blob/a57f8abeb442eab70a13d2b1c25285a7beb7ed84/prow/cmd/deck/main.go#L692) for the path `/view/s3/path/to/file`.  The [request handler](https://github.com/kubernetes/test-infra/blob/a57f8abeb442eab70a13d2b1c25285a7beb7ed84/prow/cmd/deck/main.go#L931) makes

[2022-09-01 00:07] dscofaws commented on #27333
/sig security

[2022-09-01 20:30] CypherpunkSamurai commented on #19264
Hello Everyone, Is this issue still active?

I'm new to open-source and would like to contribute to this issue :)

[2022-09-02 12:39] danilo-gemoli commented on #27193
@chaodaiG I tried #27355

[2022-09-02 16:54] #27275 closed

[2022-09-02 17:09] cardil opened #27358 "Support for Stderr for Prow"
**What would you like to be added**:

Prow doesn't support the `Stderr` steam of executed command correctly. By using the same file descriptor for `Stdout` and `Stderr` the execution environment isn't a regular POSIX one.

https://github.com/kubernetes/test-infra/blob/b3ca08076329ff5d5d38f78c2ea936b3d1081408/prow/entrypoint/run.go#L143-L144

Prow should save output of `Stdout` and `Stderr` in sepa

[2022-09-02 17:11] cardil commented on #27358
/sig k8s-infra

[2022-09-02 17:40] cardil commented on #27358
Hmm, I'm not sure the problem lays in the Prow entrypoint as I stated in the issue description.

I've hacked quickly this patch, expecting to reproduce the issue, but the tests are passing:

[code]

[2022-09-03 02:40] listx commented on #11782
We have https://github.com/kubernetes-sigs/prow which could host the codebase. Currently it just holds Prow docs but most of the code there sits under a /site folder so it should be straightforward to move code in there (I expect us to basically do `mv prow/* <new-repo>` and commit that).

I think at least for the jobs that publish new Prow images, they can be set up to use the code from the new r

[2022-09-03 21:50] chaodaiG commented on #24130
/reopen
/remove-lifecycle rotten

[2022-09-04 15:50] chaodaiG commented on #24869
/remove-lifecycle stale

[2022-09-04 20:05] mrueg commented on #22164
/reopen

[2022-09-04 22:23] #25430 closed

[2022-09-05 21:11] asim-reza commented on #26368
/assign

[2022-09-06 14:54] chaodaiG commented on #24921
/remove-lifecycle stale

[2022-09-06 15:14] chaodaiG commented on #24921
Took a quick look at the two occurrences, saw GitHub statuses of both "failed" and "skipped"   for the e2e-test GH action:

- https://github.com/openshift-psap/special-resource-operator/pull/233
![Screen Shot 2022-09-06 at 8 08 16 AM](https://user-images.githubusercontent.com/45011425/188670953-022efac7-f244-4d5b-aaf9-433eb8bcbced.png)

- https://github.com/openshift-psap/special-resource-operator

[2022-09-06 15:19] sbueringer commented on #24921
Not sure if that's the case here, but one thing I observed is that when you have a matrix job strategy and one of the jobs fail the other ones are skipped: https://github.com/kubernetes-sigs/cluster-api/blob/2fb25ef8e337acd7c7efe866c041a7d8b40c2932/.github/workflows/golangci-lint.yml#L16-L19

(not 100% sure if the state is published like that in that case)

[2022-09-06 15:24] chaodaiG commented on #24921
this feels like to me like the root cause of this bug(tide lists prowjob for the PR, and picks the best results from them), not sure whether this logic also applies to other checks, I can take a further look at the corresponding tide logic later today to confirm.

[2022-09-06 15:25] ybettan commented on #24921
@chaodaiG Thanks for taking a look. I don't really know why those were skipped.

I think indeed when one of the jobs in the matrix fails, the the others are skipped.

[2022-09-06 15:26] sbueringer commented on #24921
Here is an example run: https://github.com/kubernetes-sigs/cluster-api/runs/8156194564?check_suite_focus=true

Logs say it is canceled. So really not sure if it's the same.

[2022-09-06 16:54] alvaroaleman commented on #27333
/cc @chaodaiG
Maybe it would be best to plug `validateStoragePath` into the `io.Opener` as that is the common code that is used for all object storage access?

[2022-09-06 17:05] chaodaiG commented on #27333
this generally sounds good to me. My only concern is that I'm expecting pod-utils to also use `io.Opener` in the future, and I'm afraid that dealing with custom storage path in `inrepoconfig` will be a headache

[2022-09-07 12:37] smg247 opened #27401 "`PR History` lists succeeded pjs in 'unknown' column"
**What happened**:
The PR History page is showing succeeded pjs in an 'unknown' column. When the pj is still pending it is listed under the SHA for the commit, but as soon as it succeeds it gets moved to the 'unknown' column.

**What you expected to happen**:
The succeeded pjs would remain in the column with the SHA they are from.

**How to reproduce it (as minimally and precisely as possible)**:

[2022-09-07 12:38] smg247 commented on #27401
/sig testing

[2022-09-07 14:24] dprotaso commented on #26331
/lifecycle frozen

[2022-09-08 06:03] mohitsharma-in opened #27420 "Unable to see logs from /log endpoint when pod is cleaned up"
**What would you like to be added**:
This will help in providing better user experience from deck in order to check logs

**Why is this needed**:
When the pods are being cleaned up after completion, logs are not visible rather is shows
`Log not found: pods "fe5f2481-2f30-11ed-a59e-fe72ba29f753" not found`
Example: https://prow.k8s.io/log?job=ci-test-infra-prow-checkconfig&id=1567735727028965376

L

[2022-09-08 06:03] mohitsharma-in commented on #27420
/sig testing

[2022-09-08 18:53] asim-reza opened #27426 "error unmarshaling config/jobs/kubernetes/sig-cloud-provider/gcp/registry/default.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"buildImageRegistry\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 19:43] asim-reza opened #27430 "error unmarshaling config/jobs/kubernetes/generated/generated.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 20:01] asim-reza opened #27431 "error unmarshaling config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 20:11] asim-reza opened #27432 "error unmarshaling config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 20:14] asim-reza commented on #27426
/sig sig-testing

[2022-09-08 20:15] asim-reza commented on #27426
sig/ testing

[2022-09-08 20:16] asim-reza commented on #27426
/sig testing

[2022-09-08 20:17] asim-reza commented on #27431
/sig testing

[2022-09-08 20:17] asim-reza commented on #27432
/sig testing

[2022-09-08 20:18] asim-reza commented on #27430
/sig testing

[2022-09-08 20:37] asim-reza opened #27434 "error unmarshaling config/jobs/kubernetes/sig-testing/conformance-e2e.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"skip_branches\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 20:37] asim-reza commented on #27434
/sig testing

[2022-09-08 20:46] pohly commented on #17056
/reopen

[2022-09-08 20:46] pohly commented on #17056
/lifecycle frozen

[2022-09-08 20:55] asim-reza opened #27435 "error unmarshaling config/jobs/kubernetes/sig-testing/make-test.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"allowPrivilegeEscalation\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 21:10] asim-reza opened #27437 "error unmarshaling config/jobs/kubernetes/test-infra/test-infra-trusted.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 21:37] asim-reza opened #27438 "error unmarshaling config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 21:50] asim-reza opened #27439 "error unmarshaling config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 22:01] asim-reza opened #27440 "error unmarshaling config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 22:33] asim-reza opened #27441 "error unmarshaling config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 22:47] asim-reza opened #27442 "error unmarshaling config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 22:52] asim-reza opened #27443 "error unmarshaling config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 23:25] asim-reza opened #27444 "error unmarshaling config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 23:37] asim-reza opened #27445 "error unmarshaling config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 23:45] asim-reza opened #27446 "error unmarshaling config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-08 23:50] asim-reza opened #27447 "error unmarshaling config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"resources\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 00:23] asim-reza opened #27448 "error unmarshaling config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-*.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"volumes\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 00:33] asim-reza opened #27449 "error unmarshaling config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"volumes\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 00:38] asim-reza opened #27450 "error unmarshaling config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-main.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"env\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 01:32] asim-reza opened #27451 "error unmarshaling config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"requests\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 01:41] asim-reza opened #27452 "error unmarshaling config/jobs/kubernetes-sigs/wg-multi-tenancy/mtb-presubmit.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"privileged\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 01:47] asim-reza opened #27453 "error unmarshaling config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"optional\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 02:18] asim-reza opened #27454 "error unmarshaling config/jobs/kubernetes-sigs/kind/kind.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"always_run\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 02:25] asim-reza opened #27455 "error unmarshaling config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"always_run\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 02:29] asim-reza opened #27456 "error unmarshaling config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-e2e.yaml: error unmarshaling JSON: while decoding JSON: json: unknown field \"always_run\""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 02:37] asim-reza opened #27457 "deprecated field: maintainers_id is configured for repo_milestone, maintainers_team should be used instead""
### What happened:
***

Prow's [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) tool is responsible for presubmit validation of ProwJob configuration. It has an optional check for unknown fields in ProwJob config that can be enabled with `--warnings=unknown-fields-all`.

As a result it is possible to add configuration that is not recognized by Prow, causing

[2022-09-09 03:14] asim-reza commented on #27426
@andrewsykim
@cheftako

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:16] asim-reza commented on #27430
@justaugustus
@Katharine
@krzyzacy
@yguo0905

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:24] asim-reza commented on #27431
@BenTheElder

Hey! do you mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:25] asim-reza commented on #27432
@yujuhong
@Random-Liu
@dchen1107
@derekwaynecarr
@sjenning
@mrunalp
@klueska
@ehashman
@SergeyKanzhelev
@endocrimes

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:27] asim-reza commented on #27434
@BenTheElder
@spiffxp
@stevekuznetsov

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:28] asim-reza commented on #27435
@BenTheElder
@spiffxp
@stevekuznetsov

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:30] asim-reza commented on #27437
@BenTheElder
@spiffxp
@stevekuznetsov

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:31] asim-reza commented on #27438
@msau42
@saad-ali
@xing-yang
@jsafrane
@pohly

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:32] asim-reza commented on #27439
@msau42
@saad-ali
@xing-yang
@jsafrane
@pohly

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:33] asim-reza commented on #27440
@msau42
@saad-ali
@xing-yang
@jsafrane
@pohly

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:33] asim-reza commented on #27441
@msau42
@saad-ali
@xing-yang
@jsafrane
@pohly

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:34] asim-reza commented on #27442
@msau42
@saad-ali
@xing-yang
@jsafrane
@pohly

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:35] asim-reza commented on #27443
@msau42
@saad-ali
@xing-yang
@jsafrane
@pohly

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:36] asim-reza commented on #27444
@msau42
@saad-ali
@xing-yang
@jsafrane
@pohly

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:40] asim-reza commented on #27445
@davidz627
@mattcary
@msau42
@saad-ali
@saikat-royc

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:40] asim-reza commented on #27446
@davidz627
@mattcary
@msau42
@saad-ali
@saikat-royc

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:43] asim-reza commented on #27451
@davidz627
@mattcary
@msau42
@saad-ali
@saikat-royc

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:44] asim-reza commented on #27447
@davidz627
@mattcary
@msau42
@saad-ali
@saikat-royc

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:45] asim-reza commented on #27448
@CecileRobertMichon
@davidewatson
@detiber
@fabriziopandini
@justinsb
@sbueringer
@timothysc
@vincepri

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:47] asim-reza commented on #27449
@adrianchiris
@zvonkok
@mrunalp
@qbarrand
@yevgeny-shnaidman

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:48] asim-reza commented on #27450
@JoelSpeed
@alexander-demichev

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:49] asim-reza commented on #27452
@rjbez17
@srampal
@tashimi

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:50] asim-reza commented on #27453
@aramase
@ritazh
@tam7t

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:51] asim-reza commented on #27454
@bentheelder
@munnerz
@neolit123
@aojea

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:52] asim-reza commented on #27455
@jsturtevant
@ddebroy
@marosset
@jayunit100

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:53] asim-reza commented on #27456
@rjbez17
@srampal
@tashimi

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 03:54] asim-reza commented on #27457
@alvaroaleman
@cblecker
@cjwagner
@fejta
@petr-muller
@stevekuznetsov

Hey! do you guys mind checking if the proposed solution is okay to push? Ill create a PR if so ✌🏼

[2022-09-09 05:51] sbueringer commented on #27448
Sounds good. Please only assign me on the pr. I'll approve

[2022-09-09 06:16] BenTheElder commented on #27454
yes, thank you!

[2022-09-09 06:28] pohly commented on #27438
Yes, please prepare a PR. Just beware that most of these YAML files are generated by https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-csi/gen-jobs.sh. You need to fix it in that script, then run it and submit all modified files.

A few files are maintained manually.

[2022-09-09 06:43] asim-reza commented on #27438
Got it... Ill create a PR to fix the script and reference this... Ill generate the files in another PR... Thanks!

[2022-09-09 06:48] qbarrand commented on #27449
Hi @asim-reza. Thank you for the detailed explanation and sorry for breaking test-infra.
https://github.com/kubernetes/test-infra/pull/27409 should fix this problem. I just approved, so it should merge ASAP.

[2022-09-09 06:49] qbarrand commented on #27449
@ybettan FYI.

[2022-09-09 07:31] asim-reza commented on #27449
Perfect... Verified that the error was resolved with https://github.com/kubernetes/test-infra/pull/27409

[2022-09-09 07:31] #27449 closed

[2022-09-09 08:50] JoelSpeed commented on #27450
Hey @asim-reza great catch, yes if you can raise a PR to that effect I'll label it up as best I can

[2022-09-09 09:31] asim-reza commented on #27438
/assign

[2022-09-09 09:35] asim-reza commented on #27454
Fix Merged! 🎉

[2022-09-09 09:35] #27454 closed

[2022-09-09 13:10] alvaroaleman commented on #27457
No we can not just delete the maintainers_id. They would need to get migrated to the team name. Why does an unknown field check complain about a deprecated, but known field?

[2022-09-09 13:16] asim-reza commented on #27457
Do you mind walking me through the process of the migration? The tool spits out a warning and has a strict check so wouldn't pass unless fixed

[2022-09-09 13:18] asim-reza commented on #27457
Or just point me to the documentation if that's there

[2022-09-09 14:51] #27448 closed

[2022-09-09 16:02] mattcary commented on #27447
This LGTM---thanks for finding it! I bet we weren't actually applying those resources due to that indentation problem?

You can assign the PR to me. I'm not quite sure if I have test-infra approver power,  but I'll figure out who does.

[2022-09-09 16:04] mattcary commented on #27445
@saikat-royc or @leiyiz can look at this one; or you can assign it to me & I'll rattle their cage.

[2022-09-09 16:27] aramase commented on #27453
The proposed change looks good! Please tag me when the PR is ready and I can review it.

[2022-09-09 16:29] asim-reza commented on #27447
yup if the resources aren't in place they dont get applied... but at some place container templates get resource limits/allocations so those would...
Im working on fixing the script that auto-generates these till then we can patch these manually... Creating a PR

[2022-09-09 17:15] #27453 closed

[2022-09-09 17:43] #27447 closed

[2022-09-09 17:56] #27445 closed

[2022-09-10 07:24] feroenmmek opened #27473 "Prow issue:"

[2022-09-10 13:55] asim-reza commented on #27457
@alvaroaleman the error says use "member_team" instead as that is already there wouldnt it work just to remove the members_id?

[2022-09-10 14:17] asim-reza commented on #27473
What is the issue?

[2022-09-10 14:18] dims commented on #27473
/close

probably a 🐈

/meow

[2022-09-10 14:19] #27473 closed

[2022-09-10 23:52] #27456 closed

[2022-09-10 23:53] #27455 closed

[2022-09-11 14:28] asim-reza commented on #27438
@pohly created the PR with the fix and assigned it to you :v:

[2022-09-11 21:45] cblecker commented on #27457
I [double checked](https://github.com/kubernetes/test-infra/blob/a926ce5587648cdcfff628d718791ea5c451037a/prow/plugins/milestone/milestone.go#L169-L174), and yes, if `maintainers_team` is set, we effectively ignore `maintainers_id`. We should be safe to remove `maintainers_id` from any `repo_milestone` team where `maintainers_team` is already set.

[2022-09-13 15:44] asim-reza commented on #27438
Fix merged! 🎉

[2022-09-13 15:44] #27438 closed

[2022-09-13 15:48] asim-reza commented on #27439
Fix merged with [PR](https://github.com/kubernetes/test-infra/pull/27487)

[2022-09-13 15:48] #27439 closed

[2022-09-13 15:49] asim-reza commented on #27440
Fix merged with [PR](https://github.com/kubernetes/test-infra/pull/27487)

[2022-09-13 15:50] asim-reza commented on #27441
Fix merged with [PR](https://github.com/kubernetes/test-infra/pull/27487)

[2022-09-13 15:50] #27441 closed

[2022-09-13 15:51] asim-reza commented on #27442
Fix merged with [PR](https://github.com/kubernetes/test-infra/pull/27487)

[2022-09-13 15:51] #27442 closed

[2022-09-13 15:52] asim-reza commented on #27443
Fix merged with [PR](https://github.com/kubernetes/test-infra/pull/27487)

[2022-09-13 15:52] #27443 closed

[2022-09-13 15:53] asim-reza commented on #27444
Fix merged with [PR](https://github.com/kubernetes/test-infra/pull/27487)

[2022-09-13 15:53] #27444 closed

[2022-09-13 22:24] cjwagner opened #27497 "Deck's build log lens should fail gracefully on large build-log.txt files."
**What happened**:
A large (e.g. >26MB) `build-log.txt` cannot be rendered by Spyglass' build log lens due to the file size. The lens shows the spinning loading symbol forever.

**What you expected to happen**:
I don't expect the lens to be able to highlight and render such a large file, but it should fail more gracefully. We should display an error if the file is large enough to have no chance of

[2022-09-13 22:24] cjwagner commented on #27497
/help

[2022-09-13 22:25] cjwagner commented on #27497
/sig testing
/area prow prow/deck

[2022-09-14 01:21] #27457 closed

[2022-09-15 06:10] itshabis1 opened #27517 "kubeadm config images pull failed on Ubuntu 20.04"
Dear
When I try to pull the image with command "sudo kubeadm config images pull"
I got following error. Can anybody help me in it. Also I am new in Kubernetes. So guide me step by step :)

I0915 10:09:10.441007 70082 version.go:182] fetching Kubernetes version from URL: https://dl.k8s.io/release/stable-1.20.txt
exit status 1
output: E0915 10:09:11.295012 70114 remote_image.go:238] "PullImage from

[2022-09-15 08:29] neolit123 commented on #27517
please see

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-09-15 08:29] #27517 closed

[2022-09-15 14:49] piotrnosek commented on #27452
Hey @asim-reza, is there any ETA to get the fix merged? This is causing `pull-test-infra-prow-checkconfig-beta` presubmit to fail and therefore blocking mr PR from submitting.

[2022-09-15 14:50] asim-reza commented on #27452
It's done... There are 2 open PRs that need to be merged and we'll be good

[2022-09-15 14:51] asim-reza commented on #27452
But `pull-test-infra-prow-checkconfig-beta` is optional tho even if it fails you should still be able to merge

[2022-09-15 19:21] listx commented on #26321
The PR has been merged.

[2022-09-15 19:21] #26321 closed, assigned to nobody

[2022-09-15 20:44] Ark-kun opened #27535 "Prow does not remove GitHub checks when changing target merge branch"
**What happened**:

I made a PR then changed the the target/base branch.

**What you expected to happen**:

I expected that the check that were only enabled for the first target branch, but not the second target branch would disappear.

**How to reproduce it (as minimally and precisely as possible)**:

Create repo with two branches - A and B.
Set up different prow checks for them.
Make PR to branc

[2022-09-15 20:57] emirot opened #27536 "[Question] Prow releases, changelog"
**What would you like to be added**:
- Clearer releases information

It's hard to find release versions for prow and the features contained in them or maybe I don't know where to look.
It's not in this repo and on https://pkg.go.dev/k8s.io/test-infra/prow?tab=versions only a few are shown.

For example I have a system running an old version of prow (v20200824-984c253809 ):
-I don't know for instan

[2022-09-15 20:58] emirot commented on #27536
/sig doc

[2022-09-15 20:58] emirot commented on #27536
/committee doc

[2022-09-15 20:58] emirot commented on #27536
/wg doc

[2022-09-15 20:59] emirot commented on #27536
/sig docs

[2022-09-15 21:00] emirot commented on #27536
/sig release

[2022-09-16 04:33] #25939 closed

[2022-09-16 08:25] Prajwal3234 opened #27543 "Unable to install kubetest using go on windows"
I tired installing kubetest after cloning this repo from cmd but it said, "unknown field 'Setpgid' in struct literal of type syscall.SysProcAttr"

[2022-09-16 14:39] knabben commented on #27089
job is running in the repo.

/close

[2022-09-16 14:39] #27089 closed

[2022-09-16 16:29] BenTheElder commented on #27543
per the readme, kubetest is deprecated. I don't think it ever supported windows
kubetest2 might.

[2022-09-16 19:15] #27452 closed

[2022-09-16 19:16] asim-reza commented on #27452
Fix merged

[2022-09-16 19:16] asim-reza commented on #27451
Fix merged

[2022-09-16 19:16] #27451 closed

[2022-09-16 19:16] asim-reza commented on #27450
Fix merged

[2022-09-16 19:16] #27450 closed

[2022-09-16 19:16] asim-reza commented on #27446
Fix merged

[2022-09-16 19:16] #27446 closed

[2022-09-16 19:17] asim-reza commented on #27437
Fix merged

[2022-09-16 19:17] #27437 closed

[2022-09-16 19:17] asim-reza commented on #27435
Fix merged

[2022-09-16 19:17] #27435 closed

[2022-09-16 19:17] asim-reza commented on #27434
Fix merged

[2022-09-16 19:17] #27434 closed

[2022-09-16 19:17] asim-reza commented on #27432
Fix merged

[2022-09-16 19:17] #27432 closed

[2022-09-16 19:18] asim-reza commented on #27431
Fix merged

[2022-09-16 19:18] #27431 closed

[2022-09-16 19:18] asim-reza commented on #27430
Fix merged

[2022-09-16 19:18] #27430 closed

[2022-09-16 19:18] asim-reza commented on #27426
Fix merged

[2022-09-16 19:18] #27426 closed

[2022-09-16 22:35] codysmithd opened #27557 "Go package docs very out of date"
**What should be cleaned up or changed**:
Currently, the [docs linked in the README](https://pkg.go.dev/github.com/kubernetes/test-infra) are very out of date (last updated in 2018).

**Provide any links for context**:
https://pkg.go.dev/github.com/kubernetes/test-infra

[2022-09-16 22:36] codysmithd commented on #27557
/sig testing

[2022-09-17 04:44] asim-reza commented on #26368
fix merged... 🎉

[2022-09-18 07:59] #25907 closed

[2022-09-18 14:39] haowells opened #27564 "[Question] Does prow job support extra user annotations ?"
I want to add extra annotations to prow k8s pod, it looks like k8s pod annotation inherit from ProwJob annotations.
[code]
Job have 2 default annotations

[code]

Is prow support to config and add extra user annotations ?  like Presets can add common reused values

[2022-09-19 20:58] #27557 closed

[2022-09-21 06:59] #26380 closed

[2022-09-21 07:51] Priyankasaggu11929 commented on #27497
/assign

I will try to take a look at this.

[2022-09-21 09:56] pacoxu opened #27587 "A new Pull Request based test for ci-crio-cgroupv1-node-e2e-conformance"
**What would you like to be added**:
I need a test grid to run `ci-crio-cgroupv1-node-e2e-conformance` with my PR to confirm a bugfix.

My pr https://github.com/kubernetes/kubernetes/pull/112625

**Why is this needed**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-conformance/1563396196611919872
The test failed when I enable LocalStorageCapacityIsolationFSQuotaMon

[2022-09-21 09:58] pacoxu commented on #27587
/sig node
/cc @SergeyKanzhelev

[2022-09-21 13:51] kiruh commented on #21729
It would be really useful.

[2022-09-21 13:52] alculquicondor commented on #26380
Was this implemented too?

[2022-09-21 13:58] pacoxu commented on #27587
`pull-kubernetes-node-crio-cgrpv2-e2e` works for me.
/close

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/112625/pull-kubernetes-node-crio-cgrpv2-e2e/1572529867889577984/

[2022-09-21 13:58] #27587 closed

[2022-09-21 14:21] MadhavJivrajani commented on #26380
@alculquicondor, not yet.
Happy to bring it up in a future ContribEx meeting and get the ball rolling!

[2022-09-21 14:42] alculquicondor commented on #26380
That would be great, thanks :)

[2022-09-21 16:37] SergeyKanzhelev commented on #24641
/reopen

I will work on this

[2022-09-21 17:13] swatisehgal commented on #24641
/cc

[2022-09-21 17:15] mmiranda96 commented on #24641
/cc

[2022-09-21 17:19] SergeyKanzhelev commented on #26127
/close

I believe the whole job was removed

[2022-09-21 17:19] #26127 closed

[2022-09-22 10:36] sbueringer commented on #25210
Just want to add, we also have this issue frequently in ClusterAPI and it would be nice to see it implemented. But of course - as usual - someone has to have the time to actual implement it .. :)

[2022-09-22 20:13] #26030 closed

[2022-09-24 17:34] #26087 closed

[2022-09-25 21:52] chaodaiG commented on #25350
/close

[2022-09-25 21:52] #25350 closed

[2022-09-25 21:52] chaodaiG commented on #26614
/remove-lifecycle stale

[2022-09-25 23:03] chaodaiG commented on #26106
/reopen

[2022-09-25 23:03] chaodaiG commented on #26106
/remove-lifecycle rotten

[2022-09-28 23:04] rifelpet opened #27648 "failures-latest.json is no longer being populated"
**What happened**:

This URL returns `null`:

https://storage.googleapis.com/k8s-metrics/failures-latest.json

**What you expected to happen**:

The URL used to contain a list of jobs that have been consistently failing. I can't find references in the github org to anything that would update this file, so I'm not sure what is wrong exactly.

[2022-09-28 23:05] rifelpet commented on #27648
/sig testing

[2022-09-29 23:25] #25975 closed

[2022-10-01 02:22] asim-reza commented on #26368
/close

[2022-10-01 02:22] #26368 closed

[2022-10-03 22:32] BenTheElder opened #27676 "pj-on-kind.sh installs very old kind version"
https://github.com/kubernetes/test-infra/blob/3d45e3f5456af6495dc66c7ec0a0bc53fe8b15b3/prow/pj-on-kind.sh#L82

we should update that

[2022-10-03 22:33] BenTheElder commented on #27648
https://testgrid.k8s.io/sig-testing-misc#metrics-kettle

[2022-10-03 22:33] BenTheElder commented on #27648
it's failing because the big query table is too old again cc @spiffxp @MushuEE

[2022-10-03 23:01] BenTheElder commented on #27676
/sig testing
/area prow

[2022-10-04 00:55] BenTheElder commented on #27648
kettle is probably stuck again #25658

[2022-10-04 00:59] BenTheElder commented on #27648
Since [leaving EngProd](https://twitter.com/BenTheElder/status/1551670320423059456) I no longer have access to k8s-gubernator, I think someone with access just needs to kill the pod and let it restart.

We could probably automate periodically restarting it and get pretty far on that 😂

[2022-10-04 04:44] #27676 closed

[2022-10-04 18:13] michelle192837 commented on #27648
I've got access to k8s-gubernator, the issue is credentials apparently. Rotating them now since they're past expiration.

[2022-10-04 18:14] chaodaiG commented on #27564
/sig testing

Answer: yes I believe so

[2022-10-04 18:15] chaodaiG commented on #27543
/sig testing

[2022-10-04 18:16] chaodaiG commented on #27536
/sig testing

New features and breaking changes are announced at https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md

[2022-10-04 18:21] chaodaiG commented on #27535
/sig testing

Note that this is on one of Google Prow instances https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/oss/cluster, not on prow.k8s.io.

I think this problem is already supported by status-reconciler, which should be deployed on that Prow instance, will create an issue over there instead.

/close

[2022-10-04 18:37] RobertKielty opened #27684 "Allow the Github client to be launched from a Github Action"
A GitHub Action invocation creates an ephemeral auth token and assigns it to the env var `GITHUB_TOKEN`

https://docs.github.com/en/actions/security-guides/automatic-token-authentication

This token **does not** have permissions to access the `/user `endpoint on the Github API

The client code at the moment has some interaction with this end point.

Write code to allow a _NewGithubClient_ so that

[2022-10-04 18:42] chaodaiG commented on #24245
/remove-lifecycle stale

[2022-10-04 18:48] chaodaiG commented on #24245
This should only be applied to presubmit jobs as:
- Merged PRs should not have merge conflict, so not applicable to postsubmit jobs

The GitHub PullRequest webhook event already contains `Mergeable` field https://github.com/kubernetes/test-infra/blob/d8035cceb460e2f65888a6c2c7afa0c77af09796/prow/github/types.go#L273 that can be used for checking whether the PR is mergeable or not. According to the

[2022-10-04 18:49] chaodaiG commented on #24245
/good-first-issue

[2022-10-04 18:55] chaodaiG opened #27685 "Replace `ListTeamMembers` with `ListTeamMembersBySlug`"
**What should be cleaned up or changed**:

`ListTeamMembers` should be replaced with `ListTeamMembersBySlug` everywhere

**Provide any links for context**:

- `ListTeamMembers` is deprecated according to https://github.blog/changelog/2022-02-22-sunset-notice-deprecated-teams-api-endpoints/

**Extra info**:

Search the codebase and look for usage of `ListTeamMembersBySlug` as examples

/help
/good-

[2022-10-04 18:56] chaodaiG commented on #27685
/sig testing

[2022-10-04 19:20] michelle192837 commented on #27648
Cluster credentials rotated, but looks like kettle is having other issues after that:

[code]

[2022-10-04 20:27] hrittikhere commented on #27685
/assign

[2022-10-04 20:31] hrittikhere commented on #27685
@chaodaiG do we have tests to make sure all the things have been done correctly? Or is it manual

[2022-10-04 20:37] chaodaiG commented on #27685
There is no e2e test against real GitHub if that's what you ask for. There should be unit tests covering to certain extent

[2022-10-04 20:54] hrittikhere commented on #27685
Hey one more question: There are 2 test failures before I started changes so not sure do we need to address that or not.

[code]

[2022-10-04 20:57] chaodaiG commented on #27685
feels to be like development environment difference, this is agnostic to this bug. Feel free to file a separate bug and fix it if it bothers you

[2022-10-04 21:54] mrueg commented on #22164
/reopen

[2022-10-05 14:24] RobertKielty commented on #27684
/sig  testing

[2022-10-05 17:25] michelle192837 commented on #27648
Okay cool, looks like it's fine after some time of doing nothing (or someone else doing a mysterious fix 🤔 ). Think this is good for now.

[2022-10-05 18:29] spiffxp commented on #27648
/reopen
I'd like for us to hold this open until https://storage.googleapis.com/k8s-metrics/failures-latest.json is populated

[2022-10-05 19:08] BenTheElder commented on #27648
yeah, the job is still failing, i'm surprised kettle hasn't caught up by now if it's back on its feet

[2022-10-05 19:10] BenTheElder commented on #27536
until prow is moved out of the test-infra mono repo to https://github.com/kubernetes-sigs/prow (a large lift... there's another issue about this) we won't likely be tagging the package / repo with versions.

there are date-based docs in the announcements doc chao mentioned and the published builds are date-sha tagged, it's not ideal but it's what we have without those larger changes.

Prow is a co

[2022-10-05 19:24] michelle192837 commented on #27648
Thanks, that's a good point 😅

Kettle logs have some errors with failing to parse particular files, but it seems to be doing work. Sampling of the errors (these all happen repeatedly in the last few hours):

[code]

[2022-10-05 23:46] spiffxp commented on #27648
Not going to try and troubleshoot it right now but worth noting kettle is getting continually evicted as well.
[code]

Without looking deeper at all (no time today) I'm going to assume it's making progress on populating builds each time, but not getting to the "up and running, streaming from GCS pubsub" stage.

If it's still like this tomorrow and apparent that it's not making any progress, I can

[2022-10-06 00:03] michelle192837 commented on #27648
Oh thanks for catching that Aaron! (I'm going to be out a lot of tomorrow but I'm happy to pair on taking a look if you want).

Think it's worth turning on vertical autoscaling for this pod? Now that you point it out, whatever limits it has by default seem wrong.

[2022-10-06 07:07] RobertKielty commented on #27684
/assign @RobertKielty

[2022-10-06 08:14] RobertKielty commented on #27684
submitted #27700

[2022-10-06 08:42] Abhinand-Gokul commented on #26388
/remove-lifecycle stale

[2022-10-06 19:52] michelle192837 commented on #27648
Trying some adjustments to the pod/node pool, hopefully this'll get evicted less.

[2022-10-06 21:28] michelle192837 commented on #27648
Cool, looks like https://storage.googleapis.com/k8s-metrics/failures-latest.json populates now!

[2022-10-06 23:32] spiffxp commented on #27648
Using https://storage.googleapis.com/k8s-triage/index.html as a check, it does indeed show failures as recently as today, so I _think_ we are current

That said, logs looking this make me question if we're up and running, or just caught up
[code]

Let's hold this open until tomorrow and see if data remains up to date

[2022-10-06 23:32] spiffxp commented on #27648
/assign
(since I'm keeping an eye on it, but ❤️ @michelle192837 for doing the actual work)

[2022-10-07 00:14] dims commented on #27648
thanks @michelle192837 and @spiffxp

[2022-10-07 03:58] raji-bot opened #27707 "prow: GCS reporter fails with S3"
**What happened**:
The `crier` component of prow fails with the below error after PR https://github.com/kubernetes/test-infra/pull/27301

**What you expected to happen**:
The crier should successfully push contents to S3 storage.

**How to reproduce it (as minimally and precisely as possible)**:

- Setup prow using the latest `crier` component.
- Configure the gcs_configuration to use S3 buckets.

[2022-10-07 17:50] spiffxp commented on #27648
/close
Still seeing current data this morning, calling this done. Thanks @michelle192837 !

[2022-10-07 17:50] #27648 closed

[2022-10-07 18:50] spiffxp commented on #27564
/close

Yes, annotations in a prowjob config are added to pods scheduled for the prowjob.

e.g. the annotations on this job config: https://github.com/kubernetes/test-infra/blob/a79c2f6cc6135f98b7185b77e15e301b9fa2c6ad/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-groups.yaml#L11-L15

end up on the pod scheduled for the prowjob: https://storage.googleapis.com/kubernetes-jenkins/logs/c

[2022-10-07 18:50] #27564 closed

[2022-10-07 19:20] spiffxp commented on #27536
/close

[2022-10-07 19:20] #27536 closed

[2022-10-07 20:47] spiffxp commented on #25602
/reopen
/remove-lifecycle rotten

[2022-10-07 22:47] #25602 closed

[2022-10-08 04:55] BenTheElder commented on #27648
thank you!!

[2022-10-08 12:41] Akshit42-hue commented on #24245
/assign

[2022-10-09 00:58] #23904 closed

[2022-10-09 01:31] hvaara commented on #15224
Kudos for picking up where I left off in #23732 and #23735, @Colstuwjx!

[2022-10-09 16:44] BenTheElder commented on #27707
/area prow
/area prow/crier
https://github.com/kubernetes/test-infra/pull/27704#issuecomment-1271085273
/close

[2022-10-09 16:45] #27707 closed

[2022-10-09 16:45] BenTheElder commented on #27707
/sig testing

[2022-10-09 16:45] #27543 closed

[2022-10-10 22:36] laxmikantbpandhare opened #27723 "Prow issue: /override go-apidiff is not working Kubebuilder repo."
This PR is approved: https://github.com/kubernetes-sigs/kubebuilder/pull/2998

And `go-apidiff` jobs are failing which is expected behavior. Repo admin trying to skip this job but it is not possible.

It throws a message like this - https://github.com/kubernetes-sigs/kubebuilder/pull/2998#issuecomment-1273874940

Could you please help to merge this PR?

https://github.com/kubernetes/test-infra/iss

[2022-10-10 22:37] #27723 closed

[2022-10-10 22:38] laxmikantbpandhare commented on #27723
This PR got merged so closed this.

[2022-10-10 23:53] spiffxp commented on #20652
/remove-priority important-soon
/priority backlog

[2022-10-11 09:54] fly3366 commented on #27684
/moew

[2022-10-13 21:40] BenTheElder opened #27744 "yamllint image is 4 years old and has only ever had a single tag published"
we should use something else
https://quay.io/repository/kubermatic/yamllint?tab=tags&tag=latest

[2022-10-13 22:07] #27744 closed

[2022-10-14 20:10] ShivamTyagi12345 commented on #27685
hey @hrittikhere  Are  you working with this yet! I was interested to pick a gfi . Thanks

[2022-10-14 20:10] ShivamTyagi12345 commented on #27685
hey @hrittikhere  Are  you working with this yet! I was interested to pick a gfi . Thanks

[2022-10-14 20:10] ShivamTyagi12345 commented on #27685
hey @hrittikhere  Are  you working with this yet! I was interested to pick a gfi . Thanks