[2016-12-29 08:05] krzyzacy commented on #1225
Is it documented how to set up service account credential properly off a fresh checkout?

`git clone http://github.com/kubernetes/test-infra`
`jenkins/bootstrap.py --job=JOB --repo=k8s.io/kubernetes --pull=12345`

would give

`IOError: [Errno Cannot find service account credentials] /Users/senlu/service-account.json: 'Create service account and then create key at https://console.developers.google.

[2016-12-29 08:19] krzyzacy commented on #1225
And do we have kubectl ready on jenkins agents? Or we should bind it to kubekins image?

[2016-12-29 12:19] krzyzacy commented on #1230
Just saw this.

I would assume `--owner=O` O being the username,
And `[job].yaml` point to a matching `[job].env` from somewhere like `test-infra/jobenv` automatically.

[2016-12-29 12:24] krzyzacy commented on #535
From 1.4 we are creating version specific tabs, probably will add some search functionality later. I'll create a SQ blocking dashboard.

[2016-12-29 12:24] #535 closed

[2016-12-30 01:18] philips opened #1465 "bazel failures without results"
Example https://github.com/kubernetes/kubernetes/pull/38167#issuecomment-268915896

![screen shot 2016-12-29 at 5 16 17 pm](https://cloud.githubusercontent.com/assets/33544/21558188/c066228e-cdea-11e6-8026-a04d655693b9.png)

cc @mikedanese

[2016-12-30 01:20] fejta commented on #1465
Related to https://github.com/kubernetes/test-infra/pull/1464 or https://github.com/kubernetes/test-infra/pull/1464 https://github.com/kubernetes/test-infra/pull/1462?

[2016-12-30 01:21] philips commented on #1465
@fejta I dunno, re-running the test now.

[2016-12-30 01:21] spxtr commented on #1465
No, it was https://github.com/kubernetes/test-infra/pull/1433

[2016-12-30 01:23] #1465 closed

[2017-01-03 03:02] smarterclayton opened #1468 "Start pulling stdout from junit in gubernator"
https://github.com/onsi/ginkgo/pull/318 was merged in order to allow having to look at logs to be irrelevant for most ginkgo e2e tests.  We should take advantage of it (I'll do a PR to kube to update ginkgo).

[2017-01-03 07:58] spxtr commented on #1468
IIUC we shouldn't need to do any changes to gubernator, but @rmmh will know for sure.

[2017-01-03 18:10] luxas commented on #1400
ping @ixdy Could we push the images generated by the _crossbuild_ CI to `gcr.io/kubernetes-release-dev` and have a CI job that removes all images older than one or two releases (for instance, if latest.txt is v1.8.0-alpha.0+aaa, there would be v1.7.x CI images but not v1.6.x images)

WDYT? I could probably implement it, I think it's quite straightforward code-wise.

[2017-01-03 18:32] lavalamp commented on #1456
Yes, we don't enable it in post-submit jobs because there's a separate flake mechanism already running there (comparing between runs). I don't think we should turn it on there, but maybe if we have an emergency flake problem we could think about it.

[2017-01-03 18:36] zmerlynn commented on #1456
Comparing between runs on the same job, or across jobs? I'm having a nasty issue where the AWS tests seem more flaky than the GCE tests, and I'm sure 90% of it is timing differences (I've corrected a couple of tests now that didn't bother waiting for pods to become ready, for instance, to counteract discrepancies in pull times), but as long as its monitoring a given test within the same job, I cou

[2017-01-03 19:30] zmerlynn opened #1473 "Testgrid output not showing test failures?"
This morning, I checked a pretty stock URL: https://k8s-testgrid.appspot.com/google-aws#kops-aws .. and all I'm seeing now is the results for `Overall`, nothing else:

![screenshot from 2017-01-03 11 29 44](https://cloud.githubusercontent.com/assets/4942464/21620188/ff38fcc8-d1a7-11e6-9bee-e33ebf57d9d7.png)

[2017-01-03 19:32] spxtr commented on #1473
https://k8s-testgrid.appspot.com/google-aws#kops-aws&show-stale-tests=

[2017-01-03 19:35] zmerlynn commented on #1473
Those tests are "stale" even though they were reported as short ago as midnight last night?

[2017-01-03 19:37] fejta commented on #1473
Stale is based on the number of columns, not time.

[2017-01-03 19:37] rmmh commented on #1473
d83882fae855231cb4bc21f4020bb1c27e0bd4e1 broke the test, since this tries to execute "blah"

    VAR=\
      blah

[2017-01-03 19:39] rmmh commented on #1473
Apparently the space is the problem?

    $ VAR= blah
    No command 'blah' found, did you mean:

[2017-01-03 19:39] zmerlynn commented on #1473
@rmmh: That change was irrelevant to the testgrid output.
@fejta: That's kind of a bad UI.

[2017-01-03 19:44] zmerlynn commented on #1473
(@rmmh: Thanks for the heads up. What actually broke the job at midnight was something else entirely, but the point of this bug is that there's plenty of data in here which was by no means "stale", and I wasn't expecting to need that filter so didn't even try.)

[2017-01-03 20:57] #1227 closed

[2017-01-03 21:23] ixdy commented on #1400
Sounds good to me. I don't have time to work on this right now, but I can review PRs.

[2017-01-03 21:33] luxas commented on #1400
@ixdy I'm not sure I can write the cleanup part, but it's not a high-priority because it would start doing things first in v1.8 anyway... or it could be a Job instead.

Anyway, I can make so it the cross-build pushes the images, sure :)

[2017-01-03 22:24] lavalamp commented on #1456
It compares to previous runs within the test job.

On Tue, Jan 3, 2017 at 10:36 AM, Zach Loafman <notifications@github.com>
wrote:

[2017-01-03 22:44] fejta opened #1475 "Move e2e-runner.sh logic into hack/e2e.go"
Looks like e2e-runner.sh does the following things, all of which we can migrate into e2e.go:

1) ensure project is set
2) download sh2ju.sh
3) Create artifacts dir
4) Some some default env args
5) Determine if it is running in docker (barf)
6) maybe download gcloud
7) activate the service account
8) maybe setup gci vars
9) print env variables
10) maybe call get kube
11) maybe config-ssh
12) maybe

[2017-01-03 22:51] zmerlynn commented on #1475
Added in #1442 because `e2e-runner.sh` overrides the PATH to the cloud SDK path, and I wanted to ensure we picked up the right kubectl regardless. It can easily be removed if `kops-e2e-runner.sh` is also folded in, but when I created *that* file, you were against adding a lot of this to e2e.go (e.g. I originally coded things so that e2e.go owuld download the `kops` binaries, etc.).

Have you chang

[2017-01-04 02:11] justinsb opened #1478 "kops now prefers KOPS_BASE_URL to KOPS_URL"
So I stole @zmerlynn 's idea of KOPS_URL, but I renamed it KOPS_BASE_URL for clarity.

We do recognize KOPS_URL still, so this isn't urgent, but it would be great to switch this to KOPS_BASE_URL.

cf https://github.com/kubernetes/kops/pull/1318#discussion_r94518376

Thanks @zmerlynn :-)

[2017-01-04 09:23] krzyzacy commented on #1348
I do still get an error
`unable to create gce instance with running docker daemon for image gci-dev-56-8977-0-0.  instance tmp-node-e2e-12ad5564-gci-dev-56-8977-0-0 not running docker daemon - Command failed: Permission denied (publickey).`

but only on certain nodes.. And all the node tests are in the same project which we added the credential.

@ixdy any idea?

[2017-01-04 09:30] krzyzacy commented on #1348
@krousey sorry for the delay, though it's still not fully done yet, your PR should be good to go now.

[2017-01-04 12:51] peay opened #1480 "Builds do not always correspond to headings in PR view"
See for instance: https://k8s-gubernator.appspot.com/pr/39204

Here, `bazel` has extra empty `<td>` elements. In addition, the remaining builds are not in the correct order corresponding to the builds, which can be very confusing. For instance, the 2nd and 3rd builds in this row should actually be the first two of the row.

Looking at https://github.com/kubernetes/test-infra/blob/master/gubernator

[2017-01-04 17:57] #1456 closed

[2017-01-04 17:59] zmerlynn opened #1484 "Disable GINKGO_TOLERATE_FLAKES on kops-aws"
I'm turning this option on, for this job, until I can deflake this more. It's valuable to keep it SQ blocking, but the SQ flake detection doesn't seem to be catching enough.

[2017-01-05 00:23] zmerlynn opened #1499 "ci-kubernetes-build jobs re-run on the same git hash causes hash mismatches"
It's not clear to me why we re-ran this build, but this is not a good idea:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/553/
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/554/

In anything diligently checking hashes, it will cause e2e failures. See e.g.: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kub

[2017-01-05 00:26] zmerlynn commented on #1499
Can we just switch the upload to `gsutil cp -n` (no clobber), vs whatever is done today? We really shouldn't need to override an existing build, and if we have to, we can either manually delete it or pass a flag.

[2017-01-05 00:29] ixdy commented on #1499
Jenkins is broken, film at 11.

From job/ci-kubernetes-build/553/pollingLog/:
[code]

From job/ci-kubernetes-build/554/pollingLog/
[code]

It built 6b702115680cac in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/552/; I have no idea why 554 didn't notice 553's build.

[2017-01-05 00:32] zmerlynn commented on #1499
My suspicion is that this is causing some large portion of the remaining `kops-aws{,-updown}` flakes.

[2017-01-05 21:30] ixdy opened #1512 "bootstrap should upload a log on merge failures"
Quite frequently we can end up with merge failures in PR testing, either because new commits were pushed, or because GitHub was slow (?):

For example, from http://prow.k8s.io/log?pod=3033469002319752204:
[code]

We should catch this error and still upload a log.

Or put another way, bootstrap should *always* upload a log unless it can't write to GCS.

[2017-01-06 00:28] spxtr opened #1521 "The world is on fire: Error waiting for build"

[2017-01-06 00:35] k82cn opened #1522 "k8s-bot should skip the issues started with "WIP""
According to the PR at https://github.com/kubernetes/community/pull/208 , the issues started with "WIP" are not ready for review or test; so for `k8s-bot`, it should skip those issues.

[2017-01-06 03:32] NickrenREN opened #1524 "can not ask k8s-bot to test although be added to whitelist"

[2017-01-06 05:20] spxtr commented on #1522
Related to #500

[2017-01-06 05:43] k82cn commented on #500
@spxtr , maybe the issues started with `WIP` is better :). It's also hands up to reviewers that the issue is not ready to review.

[2017-01-06 15:29] stevekuznetsov opened #1527 "Prow issue: CLA Signature Confirmation How-to is Very Vague"
If the bot is looking for a comment that has text "I signed it!" and literally that text, nothing else, please be clear that this is necessary. I had a comment with that text and some other text, and it was not valid.

See: https://github.com/kubernetes/kubernetes/pull/39496

[2017-01-06 17:04] ixdy commented on #1524
@NickrenREN can you please link to the PR where it's not working?

[2017-01-06 17:56] spxtr commented on #1527
@foxish

[2017-01-06 18:18] foxish commented on #1527
The bot is actually not looking for any text. It just needs a new comment to be posted, which is literally anything, in order to refresh status. The reason it didn't work at first may be that at the CNCF, the signing of the CLA had not yet propagated completely. I'll have them investigate this.

[2017-01-06 19:25] stevekuznetsov commented on #1527
I see.

[2017-01-06 22:31] #1228 closed

[2017-01-06 22:31] #1229 closed

[2017-01-06 22:32] fejta commented on #1475
Here's a more detailed explanation of my intention: https://docs.google.com/document/d/1FAMHizlHuntPQHFoNDfa1SeBycFLBhSns1xtSq03RDA/edit

[2017-01-06 22:33] fejta opened #1531 "Decouple jobs and projects"
Allow jobs to checkout a project from a pool and then move it to a hospital and/or recycle it when completed.

[2017-01-06 22:34] fejta commented on #1044
This still happening @rmmh?

[2017-01-06 22:39] fejta commented on #1382
We need a breadcrumb of sorts to note when results are filtered out.

[2017-01-07 00:13] NickrenREN commented on #1524
@ixdy  thanks for reply
I can not ask k8s-bot to test
https://github.com/kubernetes/kubernetes/pull/39463
and my PR is not auto-tested either
https://github.com/kubernetes/kubernetes/pull/39514

[2017-01-07 01:13] ixdy commented on #1524
I don't think that a separate whitelist exists anymore; you just have to be a member of the org. @spxtr to confirm.

[2017-01-08 01:33] NickrenREN opened #1538 "Jenkins Verification build failed"
Verification build failed, and errors info as below:

I0107 14:16:02.801] Makefile:119: recipe for target 'verify' failed
W0107 14:16:02.901] make: *** [verify] Error 1
W0107 14:16:05.565] Traceback (most recent call last):
W0107 14:16:05.565]   File "/var/lib/jenkins/workspace/pull-kubernetes-verify/./test-infra/jenkins/../scenarios/kubernetes_verify.py", line 101, in <module>
W0107 14:16:05.566]

[2017-01-09 10:08] #1538 closed

[2017-01-09 10:09] #1524 closed

[2017-01-09 17:14] ixdy commented on #1538
@NickrenREN yeah, there is a lot of junk in that stacktrace, most of which is irrelevant to developers.

The actual error should've been printed before this stacktrace in the log.

[2017-01-09 22:09] spxtr commented on #1522
I'm actually not sure that it's a good idea to automatically skip testing for issues with "WIP" in the title. Often I put WIP in the title while I'm trying to get tests to pass!

[2017-01-09 22:40] spxtr commented on #1521
For some reason PR Jenkins CPU usage went from a fraction of a core to all 32 cores. Restarting the machine fixed the problem, but that's not a great solution long-term. I'm going to close this for now.

[2017-01-09 22:40] #1521 closed

[2017-01-09 23:53] k82cn commented on #1522
is there anyway for contributor to setup CI based on their own repo? So they can work on their forked repo, and create a PR when all test passed in their CI. that will also reduce email from k8s-bot :).

[2017-01-10 00:03] krzyzacy commented on #1522
setup CI sounds like a waste of resource, it might be easier that contributor run `bootstrap.py` locally with target test jobs and arguments and let it pass first?

[2017-01-10 03:54] #1348 closed

[2017-01-11 00:50] bgrant0607 opened #1541 "All bot notifications should mention someone"
Or they are shouting into the void.

For example, if tests on a PR fail, the PR author should be notified in the message.

[2017-01-11 18:33] spxtr commented on #1246
This is done. You can now add jobs to postsubmit.yaml.

[2017-01-11 18:33] #1246 closed

[2017-01-11 18:37] spxtr commented on #1351
@luxas to make it run on all presubmits, set `always_run` to true in https://github.com/kubernetes/test-infra/blob/master/prow/presubmit.yaml, and also make its trigger regex work for @k8s-bot test this.

[2017-01-11 18:59] luxas commented on #1351
Can we make it per-PR now?
I see the cross-build as absolutely critical now when we have Windows Containers in the v1.5 release branch, it nearly broke the release today: https://github.com/kubernetes/kubernetes/pull/39731

Without it, one could break windows (or arm or osx or anything else) on the release branch without noticing until we actually do a release. The same goes for the master branch,

[2017-01-11 21:02] rmmh commented on #1376
Fixed in #1453.

Kind of silly, since these jobs only take a couple minutes right now.

[2017-01-11 21:02] #1376 closed

[2017-01-11 22:34] spxtr commented on #977
Done for bazel builds.

[2017-01-11 22:34] #787 closed

[2017-01-12 01:42] resouer commented on #1351
I think it's reasonable to have a cross-build CI check item. Windows & Mac users are all important factors of the community.

[2017-01-12 01:49] rmmh commented on #1351
Yes, they're important, but is running another long job to cross build every pr worth slowing down everything by 10%? Almost all that utility is still given with a conditional check on the small number of PRs likely to break things

[2017-01-12 02:06] resouer commented on #1351
What about enable it for specific files and directories modification? For example, container runtime specific PRs which change code in `pkg/kubelet/{dockershim, dockertools}`?

[2017-01-12 02:53] pires commented on #1351
Since Windows Containers are supported since 1.5, at least, for now, we need to make sure kube-proxy and kubelet build on Windows.

[2017-01-12 04:18] vishh commented on #1351
Do we have data on how long cross builds would take? We could optimize
those builds if required to have them run as part of pre-submit.

On Wed, Jan 11, 2017 at 6:53 PM, Paulo Pires <notifications@github.com>
wrote:

[2017-01-13 21:54] spxtr commented on #1541
Done.

[2017-01-13 21:54] #1541 closed

[2017-01-13 22:09] fejta opened #1561 "node jobs are failing"

[2017-01-13 22:10] fejta commented on #1561
This is related to https://github.com/kubernetes/test-infra/pull/1535 going to spend a few to see if I can fix before reverting. Looks like there's some dumb flag decisions

[2017-01-13 22:18] #1561 closed

[2017-01-13 22:36] fejta commented on #1561
Okay most recent (pending) run looks like it no longer has this problem. I retriggered the node tests on all effected PRs

[2017-01-13 22:37] fejta commented on #1561
Apologies for breaking everyone!

[2017-01-13 22:42] #1512 closed

[2017-01-14 00:18] fejta opened #1568 "Velodrome does not capture merge data"
The merge rate fell to zero at the end of November: http://velodrome.k8s.io/dashboard/db/kubernetes-developer-velocity

[2017-01-14 00:19] apelisse commented on #1568
Yeah, I know, I removed it =)

[2017-01-14 00:23] apelisse commented on #1568
It's made on purpose and has been changed by #1094

The data should be in the "prstats" series, with the value name "merged". Note that the difference with the former series is that this is the total count, while the other was a count of 1 when it happened.

[2017-01-14 00:24] apelisse commented on #1568
You should be able to get the same graph with that, but let me know if you want this to be reverted partially.

[2017-01-14 00:25] rmmh commented on #897
This is happening now!

[2017-01-14 00:25] #897 closed

[2017-01-14 00:49] fejta commented on #1568
I mostly just think that graph is useless right now. Given that you changed how the data is stored, will you fix the graph to match it?

[2017-01-14 01:58] #1480 closed

[2017-01-14 02:06] #1449 closed

[2017-01-14 08:37] fejta opened #1573 "janitor fails"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/maintenance-pull-janitor/629

[2017-01-17 19:04] krzyzacy opened #1575 "Node-e2e jobs does not upload artifacts anymore"
Maybe affected by the scenario change?

[2017-01-17 19:25] grodrigues3 opened #1576 "Gubernator occasionally drops webhooks"
This PR is merged:

https://github.com/kubernetes/contrib/pull/2264

But it still shows up in my gubernator dashboard in the needs attention and outgoing sections.

![approvers_pr_gubernator](https://cloud.githubusercontent.com/assets/4854198/22036215/9779cbb6-dca7-11e6-93fe-b5d4f1fbe732.png)

[2017-01-17 19:32] chrislovecnm commented on #939
@zmerlynn how do we go to the next step? When we have a /LGTM and everything is green, for instance Travis, the bots can pick up the PR and merge it automatically?

[2017-01-17 19:33] chrislovecnm commented on #939
@zmerlynn also can the bots auto-assign the PRs?

[2017-01-18 00:15] zmerlynn commented on #939
We can add the auto-assign munger pretty easily, IIRC. With a somewhat slow volume, again, it's debatable how useful it is - in the k8s repo the bot assignments are pretty haphazard and there's some amount of hot-potato after initial assignment.

As for auto-merge, it is possible to multi-instance the submit queue, but someone has to do the work. It's an additional deployment in the SQ deployments

[2017-01-19 01:15] justinsb opened #1589 "Failed kops runs due to hash mismatch / changing assets"
We had two kops runs fail (in a row!) where the cloud-init-output.log indicated that the kubelet SHA was not matching:

2587 https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/2587/
2588 https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/2588/

This does happen when the builder changes the files while kops is running

[2017-01-19 01:21] fejta commented on #1589
What makes the kops jobs fail when ci-kubernetes-build completes?

[2017-01-19 01:30] rmmh commented on #1130
This isn't happening anymore.

[2017-01-19 01:30] #1130 closed

[2017-01-19 01:31] rmmh commented on #1576
We could stuff the received message in a message queue, and then process updates separately. Retrying should handle the occasional out of memory conditions that break things currently.

[2017-01-19 01:32] rmmh commented on #1468
Do you have an example failure?

[2017-01-19 01:52] fejta commented on #1589
AKA ideally I would like/expect the kops deployment to be robust to build jobs running and completing concurrent with AWS jobs.

That seems like the simplest/best solution here.

[2017-01-19 02:30] krzyzacy commented on #1573
green now.

[2017-01-19 02:30] #1573 closed

[2017-01-19 03:50] k82cn opened #1592 "Only sent email to PR owner instead of append mesage."
Is it possible to only send email to PR owner, such as re-base? So the reviewers and stakeholder will not get so many emails :).

[2017-01-19 03:52] justinsb commented on #1589
So my belief is that we are pushing different versions of e.g. kubelet to the same bucket.

`https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-build/719/build-log.txt`

`https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-build/720/build-log.txt`

Both upload to `gs://kubernetes-release-dev/ci/v1.6.0-alpha.0.3506+9dd96e31204ea8/bin/linux/amd64/kubelet`

When kop

[2017-01-19 08:11] ixdy commented on #1589
Yes, Jenkins has been occasionally re-triggering builds at the same git commit recently, for reasons I don't understand. Because the build times are different, and because we embed build times in the binaries, the hashes of the binaries won't match.

[2017-01-19 08:12] ixdy commented on #1589
this is a dupe of #1499, I think

[2017-01-19 14:22] justinsb commented on #1589
Ah - it is a dup of #1499.  Thank you @ixdy

I do agree that kops should probably tolerate this @fejta (e.g. SHA hashes are certainly much more valuable if we pull the file over HTTP), but OTOH I don't just want to sweep it under the rug!

[2017-01-19 14:22] #1589 closed

[2017-01-19 15:12] justinsb commented on #1499
Another instance of this in #1589

719 vs 720

http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-build/719
`I0118 14:42:14.996] Start 719 at v1.6.0-alpha.0.3506+9dd96e31204ea8...`

(finished at 14:55:29, then 20 minutes later - maybe exactly 20 minutes later?)

http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-build/720
`I0118 15:16:48.186] Start 720 at v1.6.0-alpha.0.350

[2017-01-19 18:07] spxtr commented on #1499
Looks like it might be a bug in the git plugin on Jenkins. The last built revision didn't update and so it thought there were changes.

For 718
[code]
719
[code]
720
[code]

[2017-01-19 18:09] ixdy commented on #1499
@spxtr how close is CI prow to working? Can we get it to trigger Jenkins builds on git changes instead of relying on the Jenkins git plugin?

[2017-01-19 18:10] spxtr commented on #1499
Oh, I see. 719 has https://github.com/kubernetes/kubernetes/commit/9dd96e31204ea8d3eb9a999ba1b08c5c0bf40688 in its changes but it has the head pointing to one commit before it, so then 720 thought that it was new even though it had already tested it. That's definitely a bug in the git plugin.

[2017-01-19 18:11] spxtr commented on #1499
I can trigger Jenkins builds on git changes, but I don't have any way of retriggering them if a build flakes or something.

[2017-01-19 19:36] rmmh opened #1597 "Prow shouldn't trigger jobs that need rebases"
Having 8 failure comments because a PR doesn't merge cleanly is silly. It would be better to do the needs-rebase logic -- maybe pull it out of mungegithub?

[2017-01-19 19:43] spxtr commented on #1597
It's tricky to pull it entirely out of mungegithub because if master changes then we don't get an event for a PR that becomes unmergeable.

[2017-01-19 21:02] spxtr opened #1598 ""Error in queue""
Jenkins decides to use 32 cores serving queue requests sometimes.

[2017-01-19 21:37] #1575 closed

[2017-01-19 22:36] spxtr commented on #1598
#1603

[2017-01-20 01:22] spxtr commented on #1598
This should be fixed now.

[2017-01-20 01:22] #1598 closed

[2017-01-20 19:26] chrislovecnm opened #1607 "Include slow tests for aws"
Talking with @zmerlynn - we need to assess using the slow tests on aws

[2017-01-20 19:36] spxtr opened #1608 "jobResultsCache.jso"
[code]

I see this often, and wat.

[2017-01-20 19:36] spxtr commented on #1608
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/40231/pull-kubernetes-bazel/1629/?log#log

[2017-01-20 19:59] fejta commented on #1608
I'm pretty sure the line trimming logic is messed

[2017-01-21 00:04] lavalamp opened #1612 "PR dashboard: Change sort order?"
I'd like to sort by "has been waiting for my attention longest" so that I give everyone equally bad service instead of randomly giving some people fast reviews and ignoring some people.

[2017-01-21 00:08] lavalamp opened #1613 "PR dashboard: detect more forms of activity"
I'm an assignee on a PR; I added a reviewer. The pr dashboard still lists me as needing to do something. I guess for now I'll just switch assignees completely.

[2017-01-21 00:09] lavalamp commented on #1613
(I was thinking that assignee maps to approver and reviewer maps to reviewer, but maybe that's not right)

[2017-01-21 00:11] fejta commented on #1613
We've been hesitant to integrate with the reviewer api because it is unstable. So we ignore it and only consider assignees.

[2017-01-21 00:13] lavalamp opened #1615 "PR dashboard: ability to assign other states to PRs?"
E.g., https://github.com/kubernetes/kubernetes/pull/32579--I'd like to mark this as "needing an approved design" or some such. (the ball is still in my court to review a design, but I'm not going to look at this PR until that has happened.)

[2017-01-21 00:16] lavalamp opened #1616 "PR dashboard: PR shown in wrong state"
https://github.com/kubernetes/kubernetes/pull/38950 shows as needing a review when it actually needs a rebase and shouldn't show at all for me.

[2017-01-21 00:32] spxtr commented on #1616
Possible doop of #1576

[2017-01-21 00:59] lavalamp commented on #1484
This means stuff will have to fail 4 times in a row to block the queue...

[2017-01-21 01:14] foxish opened #1621 "[mungegithub] rebuild-request bot should accept a URL not just #number"
_From @eparis on February 3, 2016 11:56_

URLs are easier to copy/past anyway.

_Copied from original issue: kubernetes/contrib#453_

[2017-01-21 01:15] foxish opened #1622 "Batch results should use https."
_From @spxtr on December 6, 2016 21:44_

From https://github.com/kubernetes/contrib/blob/master/mungegithub/submit-queue/deployment/kubernetes/configmap.yaml#L176
[code]

This should be https. Something strange happened last time we tried this.

_Copied from original issue: kubernetes/contrib#2131_

[2017-01-21 01:15] foxish commented on #1622
_From @rmmh on December 9, 2016 0:0_

It was unhappy with the letsencrypt provided cert:

    E1129 01:48:50.015240 1 submit-queue-batch.go:245] Error reading batch jobs from Prow URL https://prow.k8s.io/data.js
    x509: certificate signed by unknown authority

[2017-01-21 01:15] foxish commented on #1622
_From @spxtr on December 9, 2016 1:21_

It might work now that I'm using the full chain. I think previously I was just providing the cert. Not sure how to find out other than just trying it out.

[2017-01-21 01:15] foxish opened #1623 "Mungegithub loop takes too long"
_From @foxish on November 1, 2016 20:7_

As we go over each issue in the bot's main loop, we go over issues like https://github.com/kubernetes/kubernetes/issues/33388 which has some 2500 comments, it spends some 20 seconds or so (and lots of API calls) to fetch comments.
Do we really need to look at these issues completely?

cc @eparis

_Copied from original issue: kubernetes/contrib#1967_

[2017-01-21 01:15] foxish commented on #1623
_From @apelisse on November 1, 2016 20:13_

I'll see if I have something smart to say in the next 24h :-)

[2017-01-21 01:15] foxish commented on #1623
_From @apelisse on November 2, 2016 16:22_

Yes, this is because of the flake nagger. It reads comments on issues. Not sure how to fix that right now.

[2017-01-21 01:16] foxish opened #1624 "Errors when creating some issues from mungegithub"
_From @foxish on October 19, 2016 18:12_

This from the kubectl logs.

[code]

_Copied from original issue: kubernetes/contrib#1893_

[2017-01-21 01:16] foxish commented on #1624
/cc @apelisse @lavalamp @grodrigues3

[2017-01-21 01:16] foxish commented on #1624
/cc @kubernetes/contributor-experience

[2017-01-21 01:16] foxish commented on #1624
_From @eparis on October 19, 2016 18:21_

Last time I saw anything like this it was because we were trying to post a message >64k....

[2017-01-21 01:16] foxish commented on #1624
_From @eparis on October 19, 2016 18:22_

`Resource:Issue Field:assignee Code:invalid Message:`

Although this might be trying to assign something to a person not in the organization....

[2017-01-21 01:16] foxish commented on #1624
@eparis Shouldn't we back off immediately? It seems to be trying to create the issue over and over again, which may trigger github's abuse detection mechanism.

[2017-01-21 01:16] foxish commented on #1624
_From @eparis on October 19, 2016 18:45_

I can't find a loop anywhere in the code....

[2017-01-21 01:16] foxish commented on #1624
_From @grodrigues3 on October 19, 2016 19:44_

Is the problem somewhere in issue-sync.go ...the Sync function?  In flake mananger, syncFlake calls the Sync function, and EachLoop (which calls syncFlake) has the following for loop:

[code]

Maybe that's the problem?

[2017-01-21 01:16] foxish commented on #1624
_From @rmmh on November 2, 2016 17:51_

There might be a test owner that doesn't exist on github.

[2017-01-21 01:17] foxish opened #1625 "Optimize github rate-limit quota usage of bot"
_From @bgrant0607 on July 20, 2016 17:54_

Forked from #1390

Github says we should be using webhooks instead of polling.

cc @lavalamp @kubernetes/contributor-experience

_Copied from original issue: kubernetes/contrib#1406_

[2017-01-21 01:17] foxish commented on #1625
_From @bgrant0607 on July 28, 2016 1:59_

@rmmh @spxtr This is the issue I mentioned earlier today. Please explain what are you working on.

[2017-01-21 01:17] foxish commented on #1625
_From @rmmh on July 28, 2016 2:15_

Right now each loop takes ~10 minutes to apply every munger to every open issue, so improving this will help responsiveness for everything. (Issue assignment, flake handling, etc)

The general idea is to change the core loop from `config.ForEachIssueDo(mungers.MungeIssue)` to `config.ForEachChangedIssueDo(mungers.MungeIssue)`.

Changed issues could be determined

[2017-01-21 01:17] foxish commented on #1625
_From @bgrant0607 on July 28, 2016 2:39_

Some info:

According to http://submit-queue.k8s.io/#/info, the bot is making 10 API calls per second.

Rate limit is 5k per hour, which is 1 per second:
https://developer.github.com/v3/#rate-limiting

So we use quota until we run out and then stall?

[2017-01-21 01:17] foxish commented on #1625
_From @rmmh on July 28, 2016 2:43_

We cheat by using ETag headers, which doesn't consume our quota, but it
takes just as much time.

On Wed, Jul 27, 2016 at 7:39 PM, Brian Grant notifications@github.com
wrote:

[2017-01-21 01:17] foxish commented on #1625
_From @eparis on July 28, 2016 7:15_

github support suggested we use the `since` argument to https://developer.github.com/v3/issues/#list-issues-for-a-repository instead of checking every issue every time. That might be a couple of lines of code changed and be a big win.

web-sockets would get us a much better place, but last I looked, there wasn't a good library for web sockets and I didn't feel

[2017-01-21 01:17] foxish commented on #1625
_From @apelisse on July 28, 2016 16:40_

Yes, using `since` seems like the easy fix right now. It's not going to work for anything "time-based" like close-stale-pr though. Not something we can't work-around ...

[2017-01-21 01:17] foxish commented on #1625
_From @rmmh on July 28, 2016 17:25_

Since also doesn't won't work for statuses, since they don't modify the updated_at timestamp. :(

We can categorize mungers based on whether they might have work whether or not updated_at has changed-- ones that look at statuses will always need to run.

Close-stale-pr could be run once a day-- when the munger first starts, and if 24 hours have elapsed since it

[2017-01-21 01:17] foxish commented on #1625
_From @lavalamp on July 28, 2016 17:45_

I think there is actually a decent go library for websockets? If that's the
only thing stopping us I'll try to find some time to go find it...

On Thu, Jul 28, 2016 at 10:25 AM, Ryan Hitchman notifications@github.com
wrote:

[2017-01-21 01:17] foxish commented on #1625
_From @rmmh on July 28, 2016 17:47_

I think eparis meant webhooks (HTTP event pushes), not websockets.

[2017-01-21 01:17] foxish commented on #1625
_From @lavalamp on July 28, 2016 17:48_

The github library we're using doesn't support that?

On Thu, Jul 28, 2016 at 10:47 AM, Ryan Hitchman notifications@github.com
wrote:

[2017-01-21 01:17] foxish commented on #1625
_From @rmmh on July 28, 2016 17:54_

No, I don't think it has the appropriate types to unmarshal the JSON events that github POSTs to webhooks.

Changing the code to be push-based instead of pull based is significantly more work than just not running all the mungers on unchanged issues each loop.

[2017-01-21 01:17] foxish commented on #1625
_From @lavalamp on July 28, 2016 18:10_

I'm not sure if it's really that bad. We'd switch to running the BeforeEach
functions periodically, we'd register for webhooks and dump the results in
a queue, then drain the queue for 10 minutes until it's time to run
BeforeEach again. My pkg/util/workqueue might be useful for this. We could
add some code to enforce that each issue/PR is munged only once p

[2017-01-21 01:17] foxish commented on #1625
_From @spxtr on July 28, 2016 18:14_

`go-github` has some support for webhooks, but it's not great. It gives you HMAC testing and most of the structs have the webhook fields, but you have to do all the listening and unmarshaling yourself. I do this [here](https://github.com/kubernetes/test-infra/blob/master/ciongke/cmd/hook/main.go)

[2017-01-21 01:17] foxish commented on #1625
_From @eparis on July 28, 2016 18:48_

hooks. sockets. brain. vacation. off.

[2017-01-21 01:17] foxish commented on #1625
From the bot statistics, it appears that `GetPR(...)` is the one API call that we're unable to cache well. Why is that? Is there something we could do in specific for it? This was at 1am PDT, so, I'm guessing it is on the higher side compared with the number of PRs that would've changed perhaps.

![screenshot from 2016-08-05 00 39 55](https://cloud.githubusercontent.com/assets/906471/17430001/be76

[2017-01-21 01:17] foxish commented on #1625
_From @eparis on August 5, 2016 12:53_

This was a message I got from github support long long ago talking about tokens.:

---

Also, I'm going to guess that you're using ETags for caching and If-None-Match for conditional requests, correct? If so, then I think you're seeing ETags change frequently for pull requests because of the way they're computed (taking nested resources into account). So, I'

[2017-01-21 01:17] foxish commented on #1625
_From @apelisse on August 5, 2016 14:35_

By the way, regarding that last line. I've removed 98% of the calls to get
commit, removing 1400~ call per loop ...

On Fri, Aug 5, 2016, 5:54 AM Eric Paris notifications@github.com wrote:

[2017-01-21 01:17] foxish commented on #1625
@apelisse That's awesome. I remembered seeing a different Get<> API call being on top of our stats earlier, and was wondering about it :). Maybe we could do the same for GetPR because it's performing so many uncached calls per loop. The approach github suggested to @eparis doesn't seem too hard to do. I can take a stab at it later today as well.

[2017-01-21 01:17] foxish commented on #1625
_From @apelisse on August 5, 2016 15:50_

I think I have a better suggestion.

Today we do (if I read code correctly):
- For each loop
  - Fetch all open issues (within the specified range, but whatever in
    this scenario)
  - Munge each issue (most of the time, will follow with:)
    - Fetch the PR (this is the problem)

We would improve significantly reduce the number of call by doing:
- For e

[2017-01-21 01:17] foxish commented on #1625
That would definitely be a quicker fix, but there are 400+ open PRs on the main repository. Maybe we should run a quick test to see how many uncached API calls we use when we just run a single munger which fetches each PR exactly once. If the issue is that we are unable to cache PRs effectively between loops, that won't change if we keep fetching that many PRs in every loop. Right now, I saw that

[2017-01-21 01:17] foxish commented on #1625
_From @eparis on August 5, 2016 16:43_

this is a GREAT idea.  Since using the 'list all PRs' we can get 100 in one call...  So we'd turn the 400 PRs into 4 API calls.

The new flow would be:
get all issues and create all new MungeObjects
get all PRs and attach those to the MungeObjects
Run all mungers...

It'll boost memory consuption having to keep all issues and all PRs in ram instead of < page

[2017-01-21 01:17] foxish commented on #1625
_From @apelisse on August 5, 2016 16:46_

Cheaper than github tokens ;-)

On Fri, Aug 5, 2016 at 9:43 AM Eric Paris notifications@github.com wrote:

[2017-01-21 01:17] foxish commented on #1625
+1! @apelisse. We went over the data returned from the API for a list of PRs v/s a single one. There are minor differences, but the good news is that it shouldn't affect us, and it would be pretty a substantial saving in terms of the rate limit count. Definitely enough to deploy several more bots :)

[2017-01-21 01:17] foxish commented on #1625
Just tried to whip up a quick version of the bot using 'list all PRs' instead of getPR(), and from what I see, it breaks the submit-queue (which is trying to get the attributes  `mergeable` and `merged`) and the size munger, because it relies on additions and deletions extracted from the PR data. Looks like we need to brainstorm further about how we could work around these.

The PR, in case anyone

[2017-01-21 01:17] foxish commented on #1625
_From @apelisse on August 5, 2016 18:34_

Size would be simplified by not looking at this value so it makes us a
favor...
We can check merge date for merged and we could look for the merge ref in
the repo to know if it's mergeable

On Fri, Aug 5, 2016, 11:31 AM Anirudh Ramanathan notifications@github.com
wrote:

[2017-01-21 01:17] foxish commented on #1625
_From @apelisse on October 1, 2016 19:57_

I've set-up monitoring on the token so we can have a better idea of what's going on:
http://velodrome.kubernetes.io/dashboard/db/monitoring

[2017-01-21 01:19] foxish opened #1626 "[mungegithub] Autoclose Issues Without Routing Labels"
_From @grodrigues3 on December 22, 2016 0:4_

A Two Part Issue
Allow people to suggest area/labels or sig/labels when creating issues using issue template.  Something like
`area-label: area/kubelet` or `sig-label:sig-cli` in the template could allow us to auto-detect routing labels

If issue opened, by member of org without routing label, auto-close and explain why.

_Copied from original issue: k

[2017-01-21 01:19] foxish opened #1627 "milestones should rank higher in the submit queue"
_From @dims on November 28, 2016 19:59_

For example if we have 2 PR(s) with ["P3","v1.5"] or ["P2","v1.6"]

Currently we are prioritizing the 1.6 above the 1.5... Can we please do the opposite?

_Copied from original issue: kubernetes/contrib#2083_

[2017-01-21 01:19] foxish commented on #1627
_From @dims on November 28, 2016 19:59_

cc @saad-ali @rmmh

[2017-01-21 01:19] foxish commented on #1627
_From @dims on November 28, 2016 19:59_

Note from @rmmh
@dims: can you refile that against contrib? https://github.com/kubernetes/contrib/blob/master/mungegithub/mungers/submit-queue.go#L1082  is the badness

[2017-01-21 01:20] foxish opened #1628 "mungegithub misbehaves when github returns 502s"
_From @eparis on April 29, 2016 12:31_

Likely a problem because the 'branch name' helper does not return an error, so the munger worked with "" instead of realizing there was an error. The helper was originally intended to check the positive, but was used to check the negative, in which case the distinction of 'error' is important. There are probably other helpers that really should return an err

[2017-01-21 01:20] foxish commented on #1628
_From @eparis on April 29, 2016 12:40_

Once you cut out the cruft above this was the misbehavior

[code]

[2017-01-21 01:20] foxish commented on #1628
_From @eparis on April 29, 2016 12:42_

Looks like just these got messed up:
https://github.com/kubernetes/kubernetes/pull/24164
https://github.com/kubernetes/kubernetes/pull/24549
https://github.com/kubernetes/kubernetes/pull/24554
https://github.com/kubernetes/kubernetes/pull/24710
https://github.com/kubernetes/kubernetes/pull/24718
https://github.com/kubernetes/kubernetes/pull/24835
https://git

[2017-01-21 01:35] foxish opened #1629 "Assign fixes unable to assign to non-collaborators"
_From @eparis on June 8, 2016 17:31_

If a person is not a kubernetes collaborator they are not able to be assigned. So the submit-queue prints lots of errors every 10 minutes like:

[code]

_Copied from original issue: kubernetes/contrib#1161_

[2017-01-21 01:35] foxish commented on #1629
_From @eparis on June 8, 2016 17:32_

@asalkeld (much like I can't assign you to this issue)

[2017-01-21 01:35] foxish commented on #1629
_From @asalkeld on June 9, 2016 0:7_

Groan, that is disappointing :disappointed:
Do you want me to remove the bot, or is it still useful for collaborators?

[2017-01-21 01:35] foxish commented on #1629
_From @eparis on June 9, 2016 13:28_

The UsersWithAccess() github function might be useful here? Actually, we no longer have a need to distinguish read/write, so maybe get rid of that helper and just expose fetchAllCollaborators() and use that?

I'd like it if we posted a comment in an issue stating why we assigned it to the person in question.

If a user cannot be assigned, post a comment in the

[2017-01-21 01:35] foxish commented on #1629
_From @asalkeld on June 9, 2016 23:57_

@eparis one of the main use-cases I was trying to solve was "I want to be able to search for bugs that no one is working on". I can't find a way to search for issues that don't have PR that reference them, so maybe I could change the bot to simply add a label "state/pr-posted". This would make it easy to do this search like this:

[code]

The second part is

[2017-01-21 01:35] foxish commented on #1629
_From @asalkeld on June 24, 2016 0:22_

So on the ML there was a suggestion of "pr-pending" and using a dummy assignee. Is there a bot user that we can use for this purpose?

[2017-01-21 01:35] foxish commented on #1629
_From @asalkeld on June 28, 2016 11:2_

I have added the ability to assign issues to a proxy contributor (called "k8s-almost-a-contributor") and removed the labelling. Next is to bikeshed on a better user name, then we need to create this user and add it as a contributor...

[2017-01-21 01:35] foxish opened #1630 "Mungegithub doesn't handle identical blocking and non-blocking jobs"
_From @apelisse on November 8, 2016 16:48_

If a job is both in the non-blocking queue and the blocking queue, everything starts acting funny (can someone say what's actually broken?).

We should probably:
- [ ] Validate/test that the configuration is sane as early as possible
- [ ] Act properly even if the configuration is slightly misleading: consider jobs in both lists to be blocking.

_Copied

[2017-01-21 01:37] foxish opened #1631 "[mungegithub] ping inactive reviewers and reassign"
_From @foxish on July 22, 2016 21:0_

Formerly part of issue #869
- Ping the PR due to lack of inactivity, notifying either the PR author or the assignee, depending on who last touched the PR (keep track of whose court it's in).
- Create a way to postpone the next ping for a fixed amount of time (day, week, month, next release cycle).
- Reassign PRs whose assignees never responded.

Additionally:

[2017-01-21 01:37] foxish commented on #1631
_From @grodrigues3 on August 5, 2016 22:4_

This is related to #1402.  I think that one already pings due to inactivity and also notifies the "involved Users".   We might be able to add additional granularity to the notifications by checking for keywords like PTAL or paying attention to the last action (e.g new commit)

[2017-01-21 01:37] foxish commented on #1631
@grodrigues3 Good point. It does seem related and we could repurpose parts of that munger. As part of this issue, it seems like we could tackle https://github.com/kubernetes/kubernetes/issues/30034 as well. We could do the labeling and the pings. The close-stale-pr munger has the duration between pings set to a very large number I think (30 days?). It would make sense to parameterize that and deci

[2017-01-21 01:40] foxish opened #1632 "Clean up github mockserver used in testing"
_From @foxish on August 29, 2016 21:34_

https://github.com/kubernetes/contrib/blob/master/mungegithub/github/testing/github.go#L325
`InitServer` takes far too many arguments. We should put that into a struct and clean up.

_Copied from original issue: kubernetes/contrib#1654_

[2017-01-21 01:40] foxish opened #1633 "[mungegithub] Modify mungegithub to use config files instead of command-line arguments."
_From @foxish on July 21, 2016 3:7_

The number of command-line arguments is getting large and unwieldy. We should switch to reading config files instead.
It would also let us group these command-line options into logical sub-units which is currently not possible.

_Copied from original issue: kubernetes/contrib#1415_

[2017-01-21 01:40] foxish commented on #1633
_From @eparis on July 21, 2016 22:54_

I've not looked at it, but I know http://github.com/spf13/viper is supposed to help add config files on top of cobra/pflag...

[2017-01-21 01:40] foxish commented on #1633
@eparis I will take a look at that. Thanks!

[2017-01-21 01:41] foxish opened #1634 "Makefile has MUNGERS and mungegithub/submit-queue/deployment.yaml duplicates the list"
_From @apelisse on July 18, 2016 22:39_

In `mungegithub/Makefile` there is a list of all mungers in `MUNGERS`.
The same list is duplicated in `mungegithub/submique-queue/deployment.yaml` making things kind of confusing.

We should probably find a way to DRY.

_Copied from original issue: kubernetes/contrib#1388_

[2017-01-21 01:41] foxish commented on #1634
We should just remove the one in the makefile, since we never use the value except in [local_dryrun](https://github.com/kubernetes/contrib/blob/87fc847f310e7b21ea866155c80e83819f1b0664/mungegithub/Makefile#L74), and I don't think we even need that target anymore.

[2017-01-21 01:41] foxish opened #1635 "[mungegithub] Cherrypick application logging several errors"
_From @foxish on July 24, 2016 3:51_

When inspecting stdout/err for cherrypick, one sees several messages of the kind:

[code]

_Copied from original issue: kubernetes/contrib#1430_

[2017-01-21 01:42] foxish opened #1636 "Show details per user on master and branch PR state via dashboard"
_From @david-mcmahon on July 15, 2016 16:45_

Open/closed in both locations and relevant labels cherrypick-*.
cc @matchstick @lavalamp @eparis @bgrant0607

Moved from https://github.com/kubernetes/kubernetes/issues/27403

_Copied from original issue: kubernetes/contrib#1372_

[2017-01-21 01:42] foxish commented on #1636
_From @bgrant0607 on July 25, 2016 20:23_

To clarify:

This is discussing:

http://cherrypick.k8s.io/#/queue

https://github.com/kubernetes/contrib/tree/master/mungegithub/cherrypick

[2017-01-21 01:42] foxish opened #1637 "[mungegithub] Bot mis-labels PRs when Github fails"
_From @apelisse on July 28, 2016 16:9_

Looks like Github had a hiccup yesterday. We should deal with that properly.

Trying to find the full list of where it happened:
https://github.com/kubernetes/kubernetes/pull/29618
https://github.com/kubernetes/kubernetes/pull/29619
https://github.com/kubernetes/kubernetes/pull/29622
https://github.com/kubernetes/kubernetes/pull/29623
https://github.com/kube

[2017-01-21 01:42] foxish commented on #1637
_From @apelisse on July 30, 2016 3:25_

https://github.com/kubernetes/contrib/pull/1446 tentatively fixes that.
It's being blocked because a big refactoring would be better, but I'm not sure if we shouldn't fix the  issue before the problem happens again.

[2017-01-21 01:42] foxish commented on #1637
_From @apelisse on August 20, 2016 19:6_

Recovery script and log:

[code]

[2017-01-21 01:43] foxish opened #1638 "Fix http-cache"
_From @grodrigues3 on January 12, 2017 0:19_

For the `ListComments()` function at least, the cache seems to return an incorrect list of IssueComments or no comments at all.  This can result in the k8s-merge-robot spamming an issue since it cannot see that it has already written to the issue.

_Copied from original issue: kubernetes/contrib#2288_

[2017-01-21 01:44] foxish opened #1639 "Deterministically Choose Approvers"
_From @grodrigues3 on January 13, 2017 23:52_

Right now, choosing an approver is done by picking someone from the set of approvers in a non-deterministic manner.  When we cc people, let's try and do it in a way such the same people are always displayed

Particularly annoying if the bot edits old comments and changes the people that are cc'd and history is lost

_Copied from original issue: kubern

[2017-01-21 01:44] foxish opened #1640 "Have the bot apply sig label on sig mentions."
_From @timothysc on January 13, 2017 21:49_

I know folks are working on new submission template but it would likely save a bunch of time if the bot just applied the sig label on the sig mention.  For those that can't label it allows them to reach the right audience most of the time.

@kubernetes/sig-contributor-experience-misc

_Copied from original issue: kubernetes/contrib#2302_

[2017-01-21 01:44] foxish commented on #1640
_From @spxtr on January 13, 2017 21:57_

This could be done pretty easily as a prow plugin.

[2017-01-21 01:44] foxish commented on #1640
_From @apelisse on January 13, 2017 22:1_

Yeah, just be careful because the github api will create the label that you apply if it doesn't exist. Meaning if you match @sig-.* and blindy add that label, then it will create stupid labels every time someone types @sig-$something_stupid.

[2017-01-21 01:44] foxish commented on #1640
_From @sig- on January 14, 2017 9:30_

Yeah, I don't know exactly what you're doing, but since it's apparently connected to GitHub you might want to double check that it doesn't give me a mention notification every time someone types @sig-$something_or_other 😜

[2017-01-21 01:44] foxish opened #1641 "[mungebot] Autoclose PRs Without Release Note Label Set"
_From @grodrigues3 on December 22, 2016 0:4_

If PR opened without release note label set and PR author is member of org, auto close PR and explain how label can be set with PR template

_Copied from original issue: kubernetes/contrib#2200_

[2017-01-21 01:45] foxish opened #1642 "SQ: add presubmit test for configmap.yaml"
_From @krzyzacy on December 3, 2016 0:48_

make sure all test entries are valid, no extra spaces, etc.

_Copied from original issue: kubernetes/contrib#2116_

[2017-01-21 01:45] foxish opened #1643 "SQ should indicate which commit statuses are preventing merge"
_From @ixdy on November 30, 2016 21:33_

It's not always obvious why SQ says "Github CI tests are not green." - e.g., it might be because a required status is missing, it might be because SQ is behind on its sync loop, or it might be a bug in SQ.

If we added the list of failing status(es), it would make it easier to understand how to fix a PR.

_Copied from original issue: kubernetes/contrib#2102

[2017-01-21 01:45] foxish commented on #1643
_From @fejta on November 30, 2016 21:39_

@ixdy @foxish @eparis it sounds like at least some subset of you are aware of and/or working on this per https://github.com/kubernetes/kubernetes/pull/37413#issuecomment-264000592

Can we get a new SQ build with this change? @rmmh can then redeploy the SQ with it.

[2017-01-21 01:45] foxish commented on #1643
_From @eparis on November 30, 2016 21:48_

That comment in 37413 was something different, but this is a good idea too....

[2017-01-21 02:22] rmmh commented on #1643
This is done-- the SQ says which non-green status is preventing a merge.

[2017-01-21 02:22] #1643 closed

[2017-01-21 02:23] rmmh commented on #1641
Seems overly intrusive to me. Leaving a comment explaining that it needs a label is easier.

[2017-01-21 02:25] rmmh commented on #1638
I believe @grodrigues3 fixed the cache. It was using one cache entry for all comments AND for partial comments-- giving empty results sometimes when it asked for all of them.

[2017-01-21 02:25] #1638 closed

[2017-01-21 20:48] fejta opened #1649 "update-bazel.sh fails"
Any suggestions? The git clone fails, as do the instructions at https://github.com/mikedanese/gazel

Instead I just did `go get -u github.com/mikedanese/gazel/gazel` Also should this move to v13?

[code]

[2017-01-21 20:55] mikedanese commented on #1649
https://github.com/kubernetes/kubernetes/issues/39583 has a workaround documeted

[2017-01-21 21:14] eparis commented on #1627
We shouldn't be using priorities any more, although we should start using the `queue/*` labels.

[2017-01-23 20:13] #1649 closed

[2017-01-23 20:13] fejta commented on #1649
Dup

[2017-01-23 20:16] fejta opened #1654 "Ensure merge-bot, prow and testgrid data match"
merge-bot has a list of blocking jobs
prow has a list of jobs it always runs
testgrid has a blocking job dashboard

We need a unit tests that fails if these lists do not match

[2017-01-23 20:50] zmerlynn commented on #1499
Honestly, a quick fix to this is to change the upload to no-overwrite instead. That's what I did in the kops repo because of this bug.

A more complicated fix is to change it to check before upload, and upload to a slightly different version (slap a counter on the semver extras) if it's already there.

[2017-01-23 21:14] krzyzacy commented on #1654
Prow job is checked [here](https://github.com/kubernetes/test-infra/blob/master/testgrid/jenkins_verify/jenkins_validate.go#L69-L73), I'll update the sq one to use config from PR.

[2017-01-23 21:15] krzyzacy commented on #1642
I'll handle it in https://github.com/kubernetes/test-infra/issues/1654

[2017-01-23 21:15] #1642 closed

[2017-01-23 21:17] ixdy commented on #1622
Is this still an issue?

[2017-01-23 21:18] ixdy commented on #1622
https://prow.k8s.io/data.js works in Chrome. Maybe the environment that SQ is running in doesn't recognize the CA certs?

[2017-01-23 21:30] lavalamp opened #1655 "PR dashboard: display multiple needed things"
I'd like to be able to tell at a glance if it "needs action" because of a rebase or because of something else. Also would be nice to know if it's waiting for permission to test.

[2017-01-23 21:31] lavalamp commented on #1612
I'd also like to sort by size sometimes. (XS gets same-day service, etc)

[2017-01-23 21:52] lavalamp commented on #1655
Like, if it "needs review" because there was a rebase, I want to ignore that until the tests are also green.

[2017-01-24 03:08] foxish opened #1666 "Run mungegithub unit tests in presubmit"
We don't seem to be running the unit tests in the presubmit
https://travis-ci.org/kubernetes/test-infra/builds/194694480

cc @apelisse @grodrigues3 @spxtr

[2017-01-24 03:21] spxtr commented on #1666
We are. See https://k8s-testgrid.appspot.com/test-infra :)

[2017-01-24 03:24] foxish commented on #1666
Awesome. I guess I was just thrown off by the fact that it was running so fast. Might be because

[2017-01-24 03:24] #1666 closed

[2017-01-24 03:25] spxtr commented on #1666
It's cached for presubmits, but for postsubmits it always runs.
[code]

[2017-01-24 03:43] spxtr opened #1667 "//jenkins/test_history:gen_json_test broken"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-test-infra-bazel/77

https://k8s-testgrid.appspot.com/test-infra

Also, diff doesn't work for this repo, presumably because the version is stored differently.

[2017-01-24 17:01] zmerlynn commented on #1499
Are either one of these solutions more palatable? This needs to be fixed, as demonstrated by
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/2875/artifacts/ec2-174-129-133-66.compute-1.amazonaws.com/cloud-init-output.log and https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/2875/artifacts/ec2-174-129-133-66.compute-1.amazonaws.com/c

[2017-01-24 17:01] zmerlynn commented on #1499
cc @krousey

[2017-01-24 17:33] zmerlynn opened #1670 "b.gcr.io/cloudsql-docker/gce-proxy needs to change"
In `velodrom/mysql/sqlproxy.yaml`, we're referencing `b.gcr.io/cloudsql-docker/gce-proxy:1.05`. `gcr.io` is deprecating the `b.` access method, so this needs to come from somewhere else. Opening an upstream bug as well.

[2017-01-24 17:35] zmerlynn commented on #1670
https://cloud.google.com/container-registry/docs/support/deprecation-notices

c.f. https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/59

[2017-01-24 17:37] wonderfly opened #1671 "bazel test flake: AssertionError: 'gs://kubernetes-jenkins/logs/kubernetes-build-1.2/latest-build.txt' not found in []"
Bazel test continues to fail for #1662 , but the test failure doesn't see how it's related to the PR, which just adds a few new jobs.

Please advise if it's indeed related.

cc/ @SaiedKazemi

[2017-01-24 17:38] wonderfly commented on #1671
cc/ @krzyzacy Have you seen this before?

[2017-01-24 17:44] apelisse commented on #1670
Thanks for opening the bug!

[2017-01-24 18:01] spxtr commented on #1671
#1667

[2017-01-24 18:03] apelisse opened #1672 "Mungebot: Only one command is parsed from comment"
As people may want to approve and lgtm at the same time, it would be easier for them to do so if they can type multiple commands in the same comment. They currently can't do that.

[2017-01-24 18:04] apelisse commented on #1672
cc @grodrigues3

[2017-01-24 18:05] apelisse opened #1673 "Mungebot: Allow commands anywhere in the comment"
Currently, mungegithub will only parse commands that start a comment. You can't do the following:

As the `/approve` needs to begin the first line.

This is related to #1672

[2017-01-24 18:11] apelisse opened #1676 "Mungebot: It takes two cycles to get approved label detected"
One cycle is used to see that the approval label should be added, and then it takes another cycle for the submit-queue to see the approved label. I know this problem already existed for lgtm, so we should just do the same.

[2017-01-24 18:14] apelisse opened #1677 "Mungebot: Alias in approvers doesn't work well"
See https://github.com/kubernetes/kubernetes/pull/40057#issuecomment-274665664 for example.

And also the suggestion gives the name of a team (and it's not even a github team) so the cc is going nowhere. We should break the alias into a group of people earlier in the process.

[2017-01-24 18:15] #1667 closed

[2017-01-24 18:15] spxtr commented on #1671
Fixed.

[2017-01-24 18:15] #1671 closed

[2017-01-24 18:16] apelisse opened #1678 "[Umbrella] Approval-process roll-out"
We've noticed a bunch of bugs and/or requirement as we've been rolling out the approval-process. Let's use this issue as an umbrella to open all related issues and keep track of progress (and make sure we fix bugs only once):

List of issues:
- [x] #1639 Deterministically Choose Approvers
- [x] #1672 Mungebot: Only one command is parsed from comment
- [x] #1676 Mungebot: It takes two cycles to get

[2017-01-24 18:18] spxtr commented on #1673
For prow I've been using regexs like `(?mi)^\/lgtm\r?$`. That is, multi-line case-insensitive `/lgtm` on its own line.

[2017-01-24 18:19] apelisse commented on #1673
Thanks for the pointer @spxtr. We had initially decided that it would be confusing to do so. It's time to change our mind ;-)

[2017-01-24 18:22] chrislovecnm opened #1679 "AWS specific ginko tags"
We have some testing scenarios where we need to only run tests against AWS.  @zmerlynn do we have a tag for this?

[2017-01-24 18:32] grodrigues3 commented on #1678
/approve from a invalid approver results in the notification being updated.

[2017-01-24 18:36] apelisse commented on #1678
What is the consequence of that?

[2017-01-24 18:40] apelisse opened #1680 "Mungebot: Update to APPROVALNOTIFIER comments are hard to notice"
When someone types `/approve`, the comment (usually before that) is updated. It can be confusing as you may not notice the comment has been updated, and wonder if your command has done anything at all.

[2017-01-24 18:41] apelisse commented on #1680
@grodrigues3 sayd:

[2017-01-24 19:17] spxtr opened #1682 "TestOldUnitTestMunge has a 30 second time.Sleep"
This makes developing mungegithub much more annoying.

`mungegithub/mungers/stale-green-ci_test.go` ends up calling `mungegithub/github/github.go`'s `doWaitStatus` method which has a `time.Sleep(30*time.Second)`.

[2017-01-24 20:00] #1231 closed

[2017-01-24 20:24] zmerlynn commented on #1679
There's a couple options. In general, if the test is in a specific area (storage, networking, etc), I think it would be preferable to just add the test guarded by `framework.SkipUnlessProviderIs`. Tagging these with `[AWS]` is not unreasonable, either, because then we could just focus on AWS.

There's no real procedure for creating a tag, just do it.

[2017-01-24 20:24] #1679 closed

[2017-01-24 21:02] grodrigues3 opened #1685 "WaitForPending only on successful test trigger"
stale-ci-tests calls waitforpending without checking the result of WriteComment, so if writecomment fails, it will just wait until the maxTimeOut which is 2 hours.

[code]

[2017-01-24 21:18] grodrigues3 commented on #1680
Sure, but if someone not in the OWNERS file as an approver writes "/approve" I still shouldn't update the comment

[2017-01-24 21:20] apelisse commented on #1680
I disagree, it will just do nothing? That's one way that we don't care about their opinion (which doesn't promote the idea that we appreciate people approving code, even if it's only informative)

[2017-01-24 21:45] krousey commented on #1499
This is blocking the queue for the second time today. What is the plan moving forward and what is the eta on that plan?

[2017-01-24 21:46] grodrigues3 opened #1687 "Approvers: make the approvers assignees for the PR and better blunderbuss integration"
Do not implement until suggested approvers becomes deterministic (we currently choose a random subset of people that can approver every file in the PR).  See #1639

- This may be confusing as the suggested approvers are NOT the only people that can approve the files (all approvers in OWNERs files up the tree can)
- May be confusing depending on whether we unassign approvers after they approve (it

[2017-01-24 21:49] grodrigues3 opened #1688 "Approvers: Optimize So Reviewers and Approvers are same person"
if the suggested reviewers and approvers can be the same people, make them the same people.

Goes with #1639

[2017-01-24 21:51] rmmh commented on #1499
`gsutil cp -n` sounds like a good fix to me.

[2017-01-24 21:52] zmerlynn commented on #1499
I'm actively working on fixing `push-build.sh` to skip overwrite, but the dev push case (private bucket, iterating) is kind of obnoxious for that case. I'll get something out soon.

[2017-01-24 21:58] zmerlynn commented on #1499
I'm inclined to just error out if the destination exists, but it will push the flake into the `kubernetes-build` job (where it belongs).

[2017-01-24 22:14] ixdy commented on #1499
I was going to suggest trying to upgrade some of the git/scm plugins on Jenkins, to see if that would fix the root cause, but given [this blog post](https://jenkins.io/blog/2017/01/17/scm-api-2/) I'm not very confident that Jenkins would still work after upgrading.

[2017-01-24 22:32] fejta commented on #1531
Thanks Sen!

Most important initial result of this is to ensure that we do not need to continue creating new GCP projects for each release

cc @saad-ali

[2017-01-24 22:49] mml opened #1692 "PR Dashboard: please add a "file a bug" link to the UI"
Then I will not have to ask @ixdy where to file bugs against the dashboard.

[2017-01-24 22:53] mml opened #1693 "PR Dashboard: auto-refresh"
It would be awesome if the PR dashboard could auto-refresh.  Maybe it can get push notifications from github?  `CTRL-R` is a bummer.

[2017-01-24 23:03] mml opened #1694 "PR Dashboard: Needs attention when it's LGTM"
In the list below, 31783 is LGTM.  Why is it marked "Needs Attention"?

![image](https://cloud.githubusercontent.com/assets/3115/22270767/ff995af6-e245-11e6-8dd3-6d6f345cd4fe.png)

[2017-01-24 23:04] mml opened #1695 "PR Dashboard: Needs review when a review has already begun"
This is a really old PR, so maybe it's unrealistic for the dashboard to get it right, but there was a review begun long ago, and the PR has needed a rebase for some time.  It's number 35113.

![image](https://cloud.githubusercontent.com/assets/3115/22270842/62197bf2-e246-11e6-82d6-9ff36a67c906.png)

[2017-01-24 23:16] #1672 closed

[2017-01-24 23:16] #1673 closed

[2017-01-24 23:17] #1639 closed

[2017-01-24 23:21] zmerlynn commented on #1499
https://github.com/kubernetes/release/pull/251

[2017-01-24 23:30] rmmh commented on #1655
The orange circle indicates that there are pending tests. That should be enough to not look at PRs with trivial failures.

Do you want to just hide other people's PRs that aren't passing tests from your incoming queue?

[2017-01-24 23:30] rmmh commented on #1676
Can we reorder the mungers to make this happen in one cycle?

[2017-01-24 23:43] lavalamp commented on #1655
Hm, it's complicated. The first time around I might want to look at it even if the tests aren't passing yet. After the first review round, though, I probably want to ignore until either the tests are passing or it's blocked on me answering a question about one of my comments.

[2017-01-24 23:45] lavalamp commented on #1655
Speaking of, if you could make it display how many rounds of review a PR has been through, that'd be really useful information. As the 2nd review is probably shorter.

And it'd also be great if it displayed whether I've started a review on github. I had one PR where I started and forgot to submit a review for a long time...

[2017-01-24 23:58] apelisse commented on #1676
That's what I had in mind tbh. I wanted to look at it ... Doing it now ...

Yeah, I think it should work. Let's just do that.

[2017-01-25 01:30] #1685 closed

[2017-01-25 01:49] #1692 closed

[2017-01-25 04:55] liggitt opened #1700 "PR Dashboard: merged PR appearing in "needs attention" list"
https://k8s-gubernator.appspot.com/pr for my user (liggitt) shows merged PRs as "Needing attention" (specifically https://github.com/kubernetes/kubernetes/pull/40034)

[2017-01-25 06:26] philips opened #1701 "Confusion between OWNER_ALIAS + APPROVERNOTIFIER"
It is really really difficult with OWNER_ALIAS to know how to get people's attention for an approval because the OWNER_ALIAS doesn't match a real github group:

![screen shot 2017-01-24 at 10 22 46 pm](https://cloud.githubusercontent.com/assets/33544/22280118/aa938cb4-e283-11e6-8db4-05789dd30f47.png)

I know where to read the code in the mungebot and commit history and resolve the OWNER_ALIAS and

[2017-01-25 06:28] philips commented on #1701
Link to issue: https://github.com/kubernetes/kubernetes/pull/39112#issuecomment-274686535

[2017-01-25 06:31] fejta commented on #1092
Woo! Close?

[2017-01-25 06:44] liggitt commented on #1701
Possibly a dupe of https://github.com/kubernetes/test-infra/issues/1677?

[2017-01-25 17:16] philips commented on #1701
@liggitt Yes, a dupe of #1677 but I think this illustrates the problem.

cc @calebamiles

[2017-01-25 17:18] apelisse commented on #1701
Closing #1677 in favor of this issue, which better illustrates the problem indeed.

Thanks @philips

[2017-01-25 17:18] #1677 closed

[2017-01-25 17:18] apelisse commented on #1677
Replaced by #1701

[2017-01-25 17:21] #1499 closed

[2017-01-25 17:58] calebamiles commented on #1701
@philips, @grodrigues3 is thinking about this issue. Would a comment that linked to
https://github.com/kubernetes/kubernetes/blob/master/OWNERS_ALIASES

along with having the bot suggest pinging a properly created github group solve your immediate concerns? (option 1)

[2017-01-25 18:00] apelisse commented on #1701
I vote for option 3. We can have the bot resolve the alias before doing anything else. That is, replace the list name by the actual list and then pick someone from this list.

[2017-01-25 19:19] philips commented on #1701
@apelisse That is a workable solution to me. I can't actually find the code that handles OWNERS_ALIAS resolution, I might be dense but can you link to it?

My other concern about OWNERS_ALIAS is that it makes it hard for users to interpret the OWNERS files directly and I don't understand how it interacts with the tools to add reviewers which seems based on peoples experience in certain packages. W

[2017-01-25 19:55] spxtr commented on #393
We have a presubmit now. I don't think a postsubmit blocking job is a good idea.

[2017-01-25 19:55] #393 closed

[2017-01-25 20:00] ixdy commented on #393
We have a presubmit, but I don't think SQ verifies that it's passing before attempting to merge, does it?

[2017-01-25 20:06] spxtr commented on #393
No, since it only runs on PRs that are likely to break it. The submit queue needs to be extended to support optional jobs: merge if the status is not present or if it is passing. That should be a separate issue, though.

[2017-01-25 20:53] krzyzacy opened #1706 "Make janitor handle CI jobs"
Currently it only handles a list of [pull projects](https://github.com/kubernetes/test-infra/blob/master/jobs/maintenance-pull-janitor.sh#L21-L32), open it to track this for ci projects support.

cc @ixdy if you know there's a list of ci projects we've created..

If not I'll try to iterate all the job script.

[2017-01-25 20:55] fejta commented on #1706
Read jobs/config.json to figure this out?

[2017-01-25 20:56] krzyzacy commented on #1706
PROJECT are within FOO.sh, or we want to put them out to config.json?

[2017-01-25 21:07] apelisse commented on #1701
The code lives here: https://github.com/kubernetes/test-infra/blob/master/mungegithub/features/aliases.go

I think @grodrigues3 will work on it soon, and I will if he doesn't.

[2017-01-25 22:57] ixdy commented on #1706
The last time we tried to get the full list of projects, we just [searched for PROJECT= in the job yaml](https://github.com/kubernetes/test-infra/blob/master/jenkins/check_projects.py#L119).

[2017-01-25 23:02] krzyzacy commented on #1706
That looks super out-dated, hope nobody is using it...

A side question, I remember @spxtr once told me I should not delete old soak resource,  reason behind? I'm not very familiar with what soak job does.

[2017-01-25 23:03] fejta commented on #1706
Sen, you're deleting all the FOO.sh

[2017-01-25 23:04] krzyzacy commented on #1706
@fejta That's definitely true! I mean FOO.env!

[2017-01-25 23:07] fejta commented on #1706
True, good point. Is PROJECT=blah in foo.env the desired end state or an intermediate state?

I'd just request that you write this code (which is ideally more robust than a regex/grep) to work for where you want the future code to look like rather than where it is today.

Also stay aware of https://github.com/kubernetes/test-infra/issues/1531

[2017-01-25 23:09] krzyzacy commented on #1706
That's also a good point...

I wish there's some gcloud api can list all those for me (regex search k8s-jkns-e2e?), rather than do a file parsing.

[2017-01-26 00:52] spxtr commented on #969
OK, you'll still get email spam, but now it'll aggregate failures into one comment.

[2017-01-26 00:53] spxtr commented on #1144
Whoops, sorry, this totally slipped under my radar. Are you still interested in this issue? We recently moved mungegithub into this repo, so all bot stuff happens here now.

[2017-01-26 00:54] #1166 closed

[2017-01-26 00:56] #1092 closed

[2017-01-26 00:59] spxtr commented on #848
Bazel runs nicely on kubernetes, and we build kubernetes on kubernetes with it.

[2017-01-26 01:00] #969 closed

[2017-01-26 01:28] rmmh commented on #1700
dupe of #1576

You can fix this by commenting or otherwise triggering an event on the stale PR.

[2017-01-26 01:28] #1700 closed

[2017-01-26 01:43] fejta commented on #969
ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run
ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run
ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run
ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run
ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run
ci-kubernetes-e2e-gke-1.5-1.4-gci-kubectl-skew: broken test run

[2017-01-26 01:57] #1682 closed

[2017-01-26 02:25] #1701 closed

[2017-01-26 05:15] colemickens opened #1718 "prow: `marque` (and the kube client) are unreliable/buggy"
1. `marque` only works if there is already a matching secret in the cluster.

2. Even if you bootstrap it with a dummy cert secret, you will get errors when it tries to update the cert -
 complains about modifying the immutable `type` field.

3. The logic needs to delete-if-existing and then create the secret anew.

Note: I have fixes for this, but they're intertwined with a bunch of other changes

[2017-01-26 05:30] spxtr commented on #1718
Sounds good. I think we should cache certbot's saves on a PD so that it doesn't try to get a new cert from scratch whenever the pod restarts.

As for running prow on not-GKE, I'd love for it to happen. As you've probably discovered, there are several places where I assume GKE behavior, but I don't think there's anything that can't be fairly simply ported. Also, some things are hard-coded that are

[2017-01-26 05:46] colemickens commented on #1718
Yes, and I've made at least some progress. I think I have jobs kicking off from `hook`/`trigger` with @acs-bot (or else I got `splicer` configured correctly finally and it kicked a job for my PR - not fully sure which yet).

Big picture, I'm still missing a few details... I can file a more generic issue and ask them, and/or I'm in `#sig-testing` as well.

I'm less interested in using it to run the

[2017-01-26 06:24] spxtr commented on #1718
[This file](https://github.com/colemickens/test-infra/blob/d3945b18fd44f4e3127169b9d91257bf649ac85d/prow/postsubmit.yaml) makes me extremely happy!

I suggest filing a more generic tracking issue.

[2017-01-26 06:26] colemickens commented on #1718
Ha, it doesn't work yet - it's still starting a `line` Pod with `bootstrap.py` cmd+args. (that's what I'm trying to fix now!)

I'll file a more generic issue in the next day or two!

[2017-01-26 06:33] spxtr commented on #1718
Awesome, I look forward to it.

[2017-01-26 18:29] grodrigues3 opened #1721 "[approvers] Links to Wrong OWNERs File"
If an owners file doesn't have an approvers section, the mechanism correctly moves up the tree looking for an owners file with an approvers section but the link in the notification still shows the leaf approvers file.

See https://github.com/kubernetes/kubernetes/pull/40261#issuecomment-275463608

This line assumes all OWNERS files have an approvers section.
https://github.com/kubernetes/test-infr

[2017-01-26 19:26] apelisse commented on #1680
Fixed

[2017-01-26 19:26] #1680 closed

[2017-01-26 19:47] eparis opened #1723 "Less e-mail spam from e2e test failures"
At the moment if a PR doesn't build or has some other major problem it will fail all of the e2e tests. The bot will create a new comment for every single failure. That new comment will have the summarization of all test failures for the commit, but it still creates a new comment and deletes the old. This means I get ~8 emails. Even though the github history looks good.

Personally I'd rather get 1

[2017-01-26 19:47] eparis commented on #1723
@spxtr

[2017-01-26 20:01] spxtr commented on #1723
I think it was @thockin who likes the email spam. Maybe he can weigh in?

[2017-01-26 20:53] rmmh opened #1725 "Approvers: Sticky Assignments"
PRs should signal the same approvers when they're updated. Here, spxtr approved the first time, I pushed a change, and it asked for a different approver: kubernetes/kubernetes#40249

[2017-01-26 20:58] rmmh opened #1727 "Approvers: Machine-Readable Assignments"
To integrate approvers into Gubernator, I need to parse the comments that the bot leaves. The format might not be stable, so  it should leave machine-readable (JSON?) comments, like so:

[code]

Just having the unapproved files and suggested approvers should be sufficient for the dashboard.

[2017-01-26 21:32] apelisse commented on #1725
This has been implemented only recently. It should work now (since yesterday maybe)

[2017-01-26 21:32] #1725 closed

[2017-01-26 21:38] apelisse commented on #1727
Should "approvers" contains the list of suggested people (that doesn't include people who have already approved)?

[2017-01-26 21:41] rmmh commented on #1727
Yes. You can probably leave off files as well for now-- it might be useful in the future, but not currently.

[2017-01-26 21:44] ixdy opened #1728 "collect data on which files conflict causing rebases"
Anecdotally we know that rebases on generated code is painful, but we don't have data on what files are the worst offenders, or how frequently it really occurs.

GitHub exposes this data in the web UI, but it isn't accessible from the API.

Maybe the munger can screen-scrape the UI when it reports that a PR needs rebase? Or maybe it can calculate the conflict itself?

Not sure where we'd save the

[2017-01-26 21:51] spxtr commented on #1728
:rage:

We've ran into strange behavior where GitHub claims a merge conflict but then git merges just fine. We can calculate the list of changed files in the PR and the list of changed files in the target branch and just save their overlap. It's not perfect, but it should give us an idea.

[2017-01-26 22:15] grodrigues3 commented on #1727
cool cool.  I'll work on this

[2017-01-26 22:25] lavalamp commented on #1616
Is it possible the bot comments mess this up? I had a PR that was in state "address comments" when there were only bot comments.

[2017-01-26 22:49] mml commented on #1692
Thanks, @rmmh.

[2017-01-26 23:24] mml opened #1731 "PR Dashboard: Explain what icons mean"
My dashboard currently shows some red Xs and a yellow dot.  I think they encode something about PR state, but hovering over them shows nothing, and there's no legend.

Hover would be fine.

[2017-01-27 01:49] thockin commented on #1723
I can live with that.  Maybe include "this comment may be updated if other tests fail" ?

[2017-01-27 13:38] deads2k opened #1734 "failed builds not showing up in test-grid"
I was trying to investigate the SQ block for this job https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/ (1625-1628 failing), but the test grid results stopped at 1624, https://k8s-testgrid.appspot.com/sq-blocking#node-kubelet .

It used to be the case that test-grid showed the failures so that you could see the commits being used and track the problem ba

[2017-01-27 13:38] deads2k commented on #1734
@liggitt so we don't double open.

[2017-01-27 17:47] #1676 closed

[2017-01-27 17:56] ixdy commented on #1734
looks fine now? sometimes the testgrid updater gets stalled for some reason. @krzyzacy

[2017-01-27 18:27] krzyzacy commented on #1734
It's about ~30min-1h late since it's trying to round-robin to catch up all the tests and these days there are more tests running, we are looking into speed the update process up. Seems it's caught up now, and each one has sort a different flake?

[2017-01-27 21:57] fejta opened #1736 "Add a positive reaction to expanding OWNERS"
Check out [test-infra/prow/plugins/heart/heart.go](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/heart/heart.go), which smiles at automatic merges.

I would love to see prow smile at all PRs which expand the OWNERS file, this will help nudge people to be more liberal about doing this activity.

Anyone interested in this quick task to help us empower the community?

cc @apelisse

[2017-01-27 23:13] grodrigues3 commented on #1687
Fixed by #1729

[2017-01-27 23:49] foxish opened #1740 "Add StatefulSet tests to non-blocking and file flakes"
It seems like one of the tests here https://k8s-testgrid.appspot.com/google-gce#gci-gce-statefulset is completely broken and we never noticed.
We should add all the StatefulSet tests to non-blocking considering @kow3ns is doing a large refactor.

[2017-01-27 23:58] krzyzacy commented on #1740
I think there's now a way to set up notifications from testgrid, maybe @michelle192837 can set up some tests and we can add more?

[2017-01-27 23:59] krzyzacy commented on #1740
(Orthogonal though, still if those need to be added to sq please add them)

[2017-01-28 00:00] fejta opened #1741 "Create a label to expedite PR reviews"
See https://groups.google.com/d/msg/kubernetes-wg-contribex/Q9aXr15Wpf0/KTjoXGdlBwAJ

TLDR;

Seal Team Six for PRs

We can call it whatever the heck we want, but the Seals, and other Special Forces organizations, know how to get stuff done.  We have a Dam that needs to be drained, without harming our community or our product.  I am not saying that we will drain the Dam, but we can be strategic, sh

[2017-01-28 00:31] apelisse opened #1743 "mungegithub: Make approval label sticky"
I'm proposing that we make the approval sticky, as in it stays if the code is modified/new code is pushed.

I think we have much more to win by trusting people than we have to lose by having to re-approve everything every time. Plus the approval is not "code" related, so I think this is pretty safe.

[2017-01-28 00:32] apelisse commented on #1743
cc @kubernetes/sig-contributor-experience-proposals @bgrant0607 @philips @grodrigues3

[2017-01-28 00:40] apelisse opened #1744 "mungegithub: Proposal: /lgtm also approves"
This is a proposal to improve and simplify the current process. I think it also empowers people:

- `/lgtm` adds LGTM label and approval. *This should be the default and most often used command*
- `/approve` adds approval only. *This is only done if the PR is already lgtm'd and/or approver has no time to review*

The idea is that:
- `/approve` means "I have not read the code but I approve the idea

[2017-01-28 00:50] fejta commented on #1744
I like this a lot,

If I made a change it would be to make both `/lgtm` and `/approve` be synomyms for `/lgtm-approve` and create special `/approve-only` and `/lgtm-only` for these actions.

it is not clear to me whether this community will consider `/approve` "I approve the idea but have not read the code" or else "I have read the code and not only do I lgtm it, I approve it." Personally I feel l

[2017-01-28 00:52] apelisse commented on #1744
IOW, your suggestion would be to have:

- `/approve` does LGTM+Approve
- `/approve-only` only approves
- `/lgtm` doesn't exist (I don't think it's needed in this use-case, you shouldn't lgtm if you don't approve)

[2017-01-28 00:56] fejta commented on #1744
I have seen that when people are at loggerheads they will frequently do something along the lines of "I do not fully agree with this PR but do not want to block progress on it any further. Please make sure FOO approves"

I was thinking something more like:
* `/lgtm` does whatever we think the best default should be (lgtm+approve)
* `/approve` does whatever we think the best default should be (lgtm

[2017-01-28 01:02] fejta commented on #1744
Specifically I'd love commands to be able to specify each of those three conditions (lgtm only, approve only, lgtm+approve), as well as give people shortcuts (/approve and /lgtm) that allow us to tune what we consider to be good defaults for the community.

[2017-01-28 02:15] liggitt commented on #1744
I really appreciate the intent to streamline for combination reviewers/approvers, but `/lgtm` and `/lgtm-only` both existing would be very confusing, in my opinion

[2017-01-28 02:17] liggitt commented on #1744
it's probably too late to get off the lgtm train, but `/reviewed` and `/approved` might be easier to understand if we're trying to distinguish an approval that didn't review the change closely

[2017-01-28 02:19] liggitt commented on #1723
+1 for new comment on aggregate state change, updating comment otherwise

[2017-01-28 02:22] liggitt commented on #1688
If a long term goal is to grow the reviewers pool, but approvers remain one of many possible reviewers in the pool, this will negate the larger reviewer pool and keep targeting the approver for reviews, right?

[2017-01-28 04:13] apelisse commented on #1744
Yeah, I think my proposed change is reasonable because it creates "the least astonishement". We keep approval exactly as it is, we just overload the meaning of lgtm to also approve. I strongly believe that "lgtm only" doesn't make much sense anyway (or maybe 5% of the time, for which I'm sure we can find a workaround). Yet, I think giving a strong meaning to `/lgtm` is good because that's what peo

[2017-01-28 04:29] liggitt commented on #1744
`/lgtm` implying approval from an approver makes perfect sense to me.

In the "approved by" comment the bot leaves, linking to the approving comment might close the loop and make it easier to see why the bot considered the PR approved by a particular approver

[2017-01-28 05:09] apelisse opened #1750 "mungegithub: Link approver to approval comment in notification"
Change the notification, especially the list of "approvers" to look like:

So that it's easier to find where the approval comes from.

[2017-01-28 05:10] apelisse commented on #1750
Related to #1744

[2017-01-28 05:17] fejta commented on #1744
SGTM, if I can /LGTM everything that'll work great. Thanks!

[2017-01-28 05:59] bgrant0607 commented on #1744
I agree that lgtm should imply approval if performed by an approver.

[2017-01-29 04:54] chrislovecnm commented on #939
I think it will work fine for kops, we need to start spreading the PR load around, as I have been handling most of it ... 🙊

Let me know if I need to do anything @zmerlynn

[2017-01-29 14:22] liggitt opened #1751 "mungegithub: proposal: PRs from approvers automatically self-approve their packages"
A PR from someone with approve rights on an affected package probably shouldn't need a second approval for those packages. Can the bot treat the PR as implicitly approved by the author for their packages?

cc @justinsb @brendandburns

[2017-01-30 02:26] alindeman commented on #1736
I'll take a stab at this.

[2017-01-30 06:17] fejta commented on #1736
Awesome! Thank you very much :-)

[2017-01-30 07:04] fejta opened #1754 "Add data from PRs to 24 hr test history"
Right now we only aggregate results from the ci-* jobs. Would love to include information from the pull-* jobs as well.

* The dashboard is [here](http://storage.googleapis.com/kubernetes-test-history/static/index.html)
* Code that generates these pages is [here](https://github.com/kubernetes/test-infra/tree/master/jenkins/test_history).
* The CI configuration for this job is [here](https://github

[2017-01-30 07:26] fejta commented on #1754
I suspect this work is

a) Adding gs://kubernetes-jenkins/pr-logs/pull to [buckets.yaml](https://github.com/kubernetes/test-infra/blob/master/buckets.yaml)
b) speeding up the whole process so it doesn't take a million years to complete
c) most likely by
  - actually adding gs://kubernetes-jenkins/pr-logs/directory to buckets.yaml
  - making the [GCSClient in gen_json.py](https://github.com/kuberne

[2017-01-30 07:49] fejta opened #1755 "Do not remove the LGTM label for trusted authors"
.2) revert the anti-lgtm bot for a set of "trusted" authors (likely OWNERS)

And, regardless of which of the two we choose, we will implement a "btw, this was merged with changes" note.  We'll try to get the diff, but I'm not positive how easy it is to get the diff from github if the commit has changed.

Per https://groups.google.com/d/msg/kubernetes-dev/SxcnadJQcr0/0GDnkC90BwAJ

[2017-01-30 08:26] fejta commented on #1061
Is this fixed?

[2017-01-30 08:27] #935 closed

[2017-01-30 17:30] zmerlynn commented on #939
The munger that assigns PRs should be doable pretty easily. I can take a look later this week.

[2017-01-30 18:01] spxtr commented on #1755
This might be tricky. The problem is that when people force-push or do a rebase, the original git commit drops out and gets garbage collected at some unspecified point. There might be some way around this or some guarantee on how long the old commit sticks around, but there might not.

[2017-01-30 18:26] krzyzacy commented on #1061
Did not check yet.. It should according to the logic, but need to find a timed-out build to verify.

[2017-01-30 18:50] grodrigues3 commented on #1744
Sounds Good to Me.

[2017-01-30 19:36] apelisse commented on #1743
@liggitt @calebamiles any opinion?

[2017-01-30 19:42] fejta commented on #1743
This sounds great to me. I assume we can add an /approve cancel type command?

[2017-01-30 19:45] apelisse commented on #1743
Yes

[2017-01-30 20:03] ixdy commented on #1751
I think this is already done. @grodrigues3 @apelisse to confirm.

[2017-01-30 20:13] grodrigues3 commented on #1751
yup done already.  not sure if it's deployed with this currently, but the code's written

[2017-01-30 20:13] #1751 closed

[2017-01-30 20:14] grodrigues3 commented on #1751
https://github.com/kubernetes/test-infra/pull/1730

[2017-01-30 20:48] spiffxp commented on #1755
at least in the web ui, force-pushes show up as new events, could we maybe use the API to just grab commits since the last LGTM label?  if it's a whole new patchset vs incremental diff, so be it?

[2017-01-30 21:26] #1736 closed

[2017-01-30 21:28] fejta commented on #1736
Woo!!

[2017-01-30 22:58] nikhiljindal opened #1759 "Include test-cmd output in testgrid"
Forked from https://github.com/kubernetes/kubernetes/issues/40521#issuecomment-275498724

Based on @ixdy's comment there, we need to produce machine parseable junit output in test-cmd to make this feasible.

cc @k8s-sig-testing-misc @fejta

[2017-01-31 00:52] colemickens opened #1761 "prow: hook/trigger: failed to trigger a build and then gave up on everything"
1. I forced push to a PR.
2. Something (`crier`?) removed the build statuses for the old commit sha.
3. Wait
4. Observe that no new status has been reported, and that no builds are showing in `deck`.

It seems that there was a transient failure in kicking off one of the jobs and I'm guessing it just gave up:

Here's the logs:

`{"head":"98ace1c981bf5b7a6938d5c25b1ed49dc19df6ef","level":"info","msg

[2017-01-31 04:21] apelisse commented on #1687
Looks that this could use more thought and a better implementation. We also probably need better testing for this code.

[2017-01-31 17:36] nathanjosiah commented on #1670
This will stop working on [February 15](https://cloud.google.com/container-registry/docs/support/deprecation-notices), is there an ETA on this so that projects that are depending on this have time to migrate?

[2017-01-31 18:27] zmerlynn commented on #1670
Ah, I didn't notice https://github.com/GoogleCloudPlatform/cloudsql-proxy/releases - there's already a new image.

[2017-01-31 18:28] apelisse commented on #1670
Cool, thanks @zmerlynn, I'll update

[2017-01-31 18:59] apelisse opened #1767 "mungebot/Approval: Improve code design and add quality unit-tests"
We can't deploy approval with confidence that it does what we want. We need unit-tests.

[2017-01-31 19:00] apelisse commented on #1767
FYI @grodrigues3

[2017-01-31 19:19] apelisse opened #1769 "mungebot/Approval: if existing assignees can fully approve PR, don't reassign"

[2017-01-31 19:19] apelisse opened #1770 "mungebot/Approval: get rid of random seed shuffle; use round robin instead in findApprovers"

[2017-01-31 19:20] apelisse commented on #1769
related to #1687

[2017-01-31 19:21] apelisse commented on #1770
Related to #1639

[2017-01-31 19:23] apelisse commented on #1750
We can also use `<div title="Cool text"></div>` to explain why/how the person approved.

[2017-01-31 21:43] krzyzacy opened #1772 "Create a flaky-serial suite"
per discussion, @saad-ali @fejta

[2017-01-31 22:08] saad-ali commented on #1772
+@jeffvance

[2017-02-01 01:50] jeffvance commented on #1772
According to [e2e doc](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#kinds-of-tests) [Flaky] supercedes [Serial]. I don't know if this means tests that must be run serially are run serially if the test is both `[Flaky]` and `[Serial]`. It seems reasonable to me that a test tagged as `[Serial]` should never be run in parallel ragardless of its other tags. It al

[2017-02-01 15:15] foxish opened #1775 "A single set of owners for /test/e2e"
We should have more granular ownership for the various tests in https://github.com/kubernetes/kubernetes/tree/master/test/e2e
Else, approvals are going to often get gated by the list of folks here: https://github.com/kubernetes/kubernetes/blob/master/test/OWNERS
Perhaps we should have directories for individual sets of tests and OWNERS files with people that maintain the feature being tested

cc @

[2017-02-01 17:59] fejta commented on #1775
Expand the set of OWNERS? Feel free to add yourself and/or anyone else you feel will be appropriate!

[2017-02-01 18:29] spxtr commented on #1775
At some point we were discussing moving e2e tests into their own packages. So the volume tests would be under `test/e2e/volume` and so on. This was why we moved the framework into its own package iirc, but maybe that idea is abandoned.

Doing this would easily let us add OWNERS for each package, but it's probably not feasible in the short-term.

[2017-02-01 19:40] mtaufen commented on #1755
@pkaminski I'm sure you're busy but hoping you can provide some insight :-). How does Reviewable produce a diff across PR revisions (including force-pushes)? Could the same technique be applicable here?

[2017-02-02 03:37] pkaminski commented on #1755
To summarize a bunch of fiddly code, Reviewable:

1. Remembers the commit SHAs for every revision captured by the review.
1. Creates a git ref (like a branch, but in a separate namespace) for every commit that was captured as a revision, ensuring that it doesn't get garbage collected by GitHub.
1. Uses the commit SHAs to fetch the corresponding git trees, figure out the relevant file SHAs, fetch t

[2017-02-02 18:32] mtaufen opened #1780 "Fall back to PR hash when merging fails? (pr-builder tests)"
One thing I've been seeing a lot lately is all tests failing because I need to rebase. I would like the PR-builder tests to run against the hash at the tip of my PR if the merge cannot complete automatically, so that I can still see whether they pass without having to rebase first. This is particularly annoying in frequently-edited files.

[2017-02-02 18:36] fejta commented on #1780
Great idea! What if we made it trivial to run PR tests before you create a PR and/or push your changes to github?

[2017-02-02 18:48] spxtr commented on #1608
This is fixed.

[2017-02-02 18:48] #1608 closed

[2017-02-02 21:14] ixdy commented on #1608
yep, #1726 fixed thi

[2017-02-02 21:19] ixdy opened #1782 "add flexibility to OWNERS rules"
Two separate feature requests:
1. Allow non-recursive OWNERS, e.g. we should support expanding the list of owners for the root Makefile or BUILD.bazel files without giving them OWNERS approval over the entire repo. Or maybe instead of non-recursive, allow specifying individual files?
2. Allow certain files to be ownerless, e.g. everyone should have approval to change anything under `hack/verify-fl

[2017-02-03 04:52] #1743 closed

[2017-02-03 15:29] timothysc opened #1786 "gubernator reporting incorrectly"
Gubernator is incorrectly reporting information (https://k8s-gubernator.appspot.com/pr) user `timothysc` This is true for other folks as well.

e.g. - it says https://github.com/kubernetes/kubernetes/pull/40735 "Needs Attention"

When is was merged a while ago.

/cc @jayunit100

[2017-02-03 18:15] spxtr commented on #1786
Probably dropped the webhook. @rmmh

[2017-02-03 18:45] jeffvance opened #1787 "[Disruptive] should imply test is run serially"
e2e tests tagged `[Disruptive]` should not be run in parallel to other tests. We are seeing cases where a disruptive test causes other tests to fail. Eg. a disruptive test that consumes all of a node's disk space to trigger pod eviction causes a persistent volume test to fail because its nfs-server pod is evicted.

Also, if I understand correctly, tests tagged [Serial] may still be run in parallel

[2017-02-03 19:21] saad-ali commented on #1787
Sounds like `[Disruptive]` tests should 1) have a separate test suite where they are run alone in serial, and 2) not run as part of other test suites (including standard serial suite)?

CC @kubernetes/test-infra-maintainers

[2017-02-03 19:24] krzyzacy commented on #1787
Spawn a new job group for only `[Disruptive]` tests?

[2017-02-03 20:21] jeffvance commented on #1787
@krzyzacy That seems reasonable to me...

[2017-02-03 20:35] spxtr commented on #1787
Serial tests should never be run in parallel. Where do you think they are? We should fix that.

[2017-02-03 20:51] liggitt opened #1790 "approved label is out of sync with approval comment/status"
Seen in https://github.com/kubernetes/kubernetes/pull/40760

Capturing current state in case it changes:

[code]

[code]

[code]

[2017-02-03 21:28] spxtr commented on #842
I think we're doing it from prow these days, plus the mungebot has gotten a lot faster.

[2017-02-03 21:28] #842 closed

[2017-02-03 21:34] spxtr commented on #1761
That's curious. What version of kubernetes?

[2017-02-03 21:36] spxtr opened #1792 "Make prow easy to deploy and run in a variety of environments."
Currently prow makes a few assumptions:

* ~~`k8s-ci-robot` and the like are hardcoded in several places.~~ Done in #1804.
* ~~GKE local SSDs are assumed to exist, GCE PDs are used in a few places.~~ #2192
* ~~The Makefile's create cluster target is woefully outdated and GKE-specific.~~ Done in #2135.
* Deploying prow from scratch requires touching a whole bunch of deployment yaml files and unders

[2017-02-03 21:44] saad-ali commented on #1787
@spxtr in the flaky tests suite. That issue is tracked by https://github.com/kubernetes/test-infra/issues/1772. This issue is to isolate `[Disruptive]` tests further from serial suite by having their own suite.

[2017-02-03 21:48] colemickens commented on #1761
`v1.5.1`

[2017-02-03 22:28] apelisse opened #1795 "Improve cherry-pick process to better track them"
Cherry-picks are hard to track. We don't know if they've been merged or not and where.

In order to improve this process, we want to add two new features to `prow`:
- Create a new command, maybe `/cherry-pick $release`, to automatically create a new issue (or PR) for that specific release. The goal is to have something we can track so that we don't forget it.
- Automatically write a comment descri

[2017-02-03 22:33] grodrigues3 commented on #1795
cc @mwielgus

[2017-02-03 22:59] rmmh commented on #1786
dupe of #1576

[2017-02-03 22:59] #1786 closed

[2017-02-04 00:01] mwielgus commented on #1795
cc: @saad-ali

[2017-02-06 15:30] mtaufen commented on #1780
That could help. I'd definitely want to be able to launch the tests against a specific hash and then continue working on the branch locally. It would also be useful to have all the additional artifact collection that remote tests do, so maybe a way to easily launch remote tests against a branch from my fork? We would probably need to give everyone a quota for max concurrently-tested branches so it

[2017-02-06 20:39] thockin commented on #1723
So what I am seeing now is that a PR is updated with over TWENTY new
comments just from teh test bot.  Can we go back to just editing the
comment? :)

On Fri, Jan 27, 2017 at 6:19 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-02-06 20:54] spxtr commented on #1723
Yep, I can do that. The reason you're seeing extra emails is because it removes the entry when the test passes.

[2017-02-06 21:03] spxtr commented on #1723
Another idea, I can also make it only send an email if a new failure shows up, and edit the comment to remove passing tests.

[2017-02-06 23:23] mtaufen commented on #1787
For now the workaround I've been using is to just tag `[Disruptive]` tests `[Serial]` as well. But yes, this should be an implicit property of `[Disruptive]`. `[Disruptive]` == "please isolate me"

[2017-02-06 23:51] krzyzacy commented on #1260
assume it's done?

[2017-02-06 23:52] krzyzacy commented on #1226
done?

[2017-02-07 04:19] shashidharatd commented on #1260
This issue was to remind us to change the frequency of soak test job and it is still not done. soak tests are not green yet for federation. request to please reopen this issue.

[2017-02-07 17:30] eparis commented on #1723
I admit, I'm still big on one e-mail per push...

[2017-02-07 18:10] spxtr commented on #1723
OK, right now it does one email per failure, the same behavior as before. I did it that way just because it was an easy improvement, but we can still make it approximate one email per push.

[2017-02-07 18:52] thockin commented on #1723
If the emails restarted on a new push, I would be OK .  As it is, a WIP PR
has something like 75 bot comments.

On Feb 7, 2017 10:10 AM, "Joe Finney" <notifications@github.com> wrote:

[2017-02-07 19:09] apelisse opened #1818 "mungebot: Flake-manager is not running on kubernetes/kubernetes"
I redeployed the submit-queue this morning, and it wouldn't start because of an error while initializing the flake-manager munger. Note that it is NOT because of a change in the repository (I tried to redeploy the previous version and it failed the same way).

Error (can't find it anymore) was along the line:

[2017-02-07 19:10] apelisse commented on #1818
cc @grodrigues3 @eparis @rmmh @spxtr

[2017-02-07 19:15] ixdy commented on #1818
bad test owners line?

[2017-02-07 19:24] apelisse commented on #1818
Might be yeah

[2017-02-07 19:32] apelisse commented on #1818
is that line ok?

https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv#L917

[2017-02-07 19:35] ixdy commented on #1818
No, it's missing a comma. Also, how did that get there?

[2017-02-07 19:37] apelisse commented on #1818
Do you mean? How did it pass the script that checks the syntax is correct?

[2017-02-07 19:39] rmmh commented on #1818
kubernetes/kubernetes#35950 is bad and needs to be reverted.

[2017-02-07 19:39] ixdy commented on #1818
That PR needs to be reverted, but it wasn't his fault. update_owners.py did the wrong thing.

[2017-02-07 19:40] apelisse commented on #1818
Also we need a script to check the syntax there ...

[2017-02-07 19:42] rmmh commented on #1818
hack/update_owners.py is fine. It was a bad merge. We need to make the verify check validate syntax.

[2017-02-07 19:49] ixdy commented on #1818
oh, I was looking at only one of the commits in that PR. yeah, the verify check needs to check syntax, though we'd also need to start running the check again in CI.

[2017-02-07 22:04] #1770 closed

[2017-02-07 22:16] grodrigues3 commented on #1727
Fixed by https://github.com/kubernetes/test-infra/pull/1823

[2017-02-07 22:16] #1727 closed

[2017-02-07 22:57] #1744 closed

[2017-02-07 23:00] grodrigues3 opened #1826 "Refactor Approvers"
approval-handler.go has gotten a little out of hand. The functions are complex and the control flow is confusing.  Let's refactor the code into more manageable, modular pieces.

[2017-02-07 23:01] apelisse commented on #1826
Related/duplicate of #1767 ?

[2017-02-07 23:02] #1826 closed

[2017-02-07 23:19] mtaufen opened #1827 "Testgrid not showing tests that ran and have unit files"
See https://k8s-testgrid.appspot.com/google-node#kubelet-serial-gce-e2e for example.
Search for "DynamicKubelet". Nothing.
But go e.g. here https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/83/artifacts/junit_containervm01.xml and search for "DynamicKubelet" and you get:
[code]
which shows that the test ran.

This may or may not relate to having a `[Feature:.

[2017-02-07 23:20] krzyzacy commented on #1827
cc @michelle192837

[2017-02-07 23:26] grodrigues3 opened #1828 "Cherrypick PRs Shouldn't Require Approval"
Cherrypicks that have already been merged into master should not require approval

[2017-02-07 23:33] krzyzacy commented on #1827
ok..
[code]

and in which I bet <node-name> is screwed with junit parsing and results in a `k8s.io - node-name` entry in testgrid.

[2017-02-08 00:06] fejta commented on #1827
Is that valid xml?

[2017-02-08 00:07] Random-Liu commented on #1827
Totally make sense to me. Will send a fix.

[2017-02-08 00:08] krzyzacy commented on #1827
@fejta I would wish stuff within quotes will be a string... but obviously not the case here :-(

[2017-02-08 00:11] fejta commented on #1827
@Random-Liu if you can change the test name that will definitely be the fastest option.

However I would still like to understand the core issue here -- we should be able to have a <> in the test case name. Are we doing a bad job serializing the xml file or parsing it? @rmmh @spxtr And is this our code or vendored code?

[2017-02-08 00:15] ixdy commented on #1827
Seems like the test name isn't being properly escaped in the junit. This is either a bug in Ginkgo or in the Go xml encoding library.

[2017-02-08 00:16] fejta commented on #1827
There's still the possibility that different systems disagree on what is/is not valid xml

[2017-02-08 00:17] ixdy commented on #1827
W3C makes it pretty clear that < shouldn't be in an attribute: https://www.w3.org/TR/xml/#syntax

[2017-02-08 00:20] rmmh commented on #1827
That's your browser interpreting the name. If you look at it raw, it's properly escaped:

          <testcase name="[k8s.io] DynamicKubeletConfiguration [Feature:DynamicKubeletConfig] [Serial] [Disruptive] When a configmap called `kubelet-&lt;node-name&gt;` is added to the `kube-system` namespace The Kubelet on that node should restart to take up the new config" classname="E2eNode Suite" time="70.

[2017-02-08 19:58] krzyzacy commented on #1827
It shows up fine now, and we filed a bug against testgrid, close this here.

[2017-02-08 19:58] #1827 closed

[2017-02-08 21:24] madhusudancs opened #1840 "e2e-down.sh is called 3 times in every e2 run"
While it is wasteful to run e2e-down.sh even twice in a single e2e run - once in the beginning before e2e-up.sh and once at the end after the tests, it is understandable why we are doing that. But e2e-down.sh is being called thrice in a single e2e run now - once in the beginning and twice at the end. This is causing a lot of pain for federation tests where we setup 3 clusters. This must be fixed.

[2017-02-08 21:27] krzyzacy commented on #1840
I think twice in beginning & twice in the end, when I last noticed. @ixdy quick ideas?

[2017-02-08 21:30] ixdy commented on #1840
Fix [this TODO](https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L177-L179). Maybe detect if the normal teardown was run, and cancel the deferred teardown if so?

[2017-02-09 15:47] php-coder opened #1853 "Prow issue: broken link to a page with kubernetes members"
In the @k8s-ci-robot  message [you can't request testing unless you are a kubernetes member](https://github.com/kubernetes/kubernetes/pull/41190#issuecomment-278677087) a link to the page with list of kubernetes members is broken -- https://github.com/kubernetes/people

[2017-02-09 16:57] spxtr commented on #1853
Thanks, it should be https://github.com/orgs/kubernetes/people

[2017-02-10 00:25] ixdy commented on #1451
I'm still sad that GitHub's review approve doesn't do anything.

[2017-02-10 17:41] apelisse commented on #1625
We can probably close that now:

[Token usage](http://velodrome.kubernetes.io/dashboard/db/monitoring?panelId=1&fullscreen) has been improved significantly. And we run the loop about [30x more often](http://velodrome.kubernetes.io/dashboard/db/monitoring?panelId=4&fullscreen).

[2017-02-10 17:41] #1625 closed

[2017-02-10 19:03] dmmcquay opened #1872 "PR Dashboard: Merged PR still shows up"
This PR (https://github.com/kubernetes/kubernetes/pull/40045) got merged and still shows up in my PR Dashboard.  Can't seem to make it go away.

[2017-02-10 19:06] spxtr commented on #1872
Likely dupe of #1576.

[2017-02-10 19:37] kow3ns commented on #1740
I think we should remove the CockroachDB test. The CockroachDB software is [beta and released frequently](https://www.cockroachlabs.com/docs). If we don't have a maintainer that shows a lot of love for this test, and has the expertise in Cockroach to do it, we should remove the test and manifest imo.

[2017-02-10 20:26] foxish commented on #1740
@a-robinson is the maintainer I think

[2017-02-10 21:40] a-robinson commented on #1740
I'm sorry, guys! I didn't even know a CockroachDB test existed. It looks like it got added in the StatefulSet changes leading up to 1.5.0 (https://github.com/kubernetes/kubernetes/pull/36793).

I have to run now, but I'll take a look at what's going on by Monday. Assuming it doesn't need any major changes, I should be able to show the test some love.

[2017-02-11 00:10] #1853 closed

[2017-02-11 00:24] spxtr opened #1878 "24-hour dashboard timing out"
https://k8s-testgrid.appspot.com/test-infra#test-history

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-test-infra-test-history/1833

[2017-02-11 03:43] #1592 closed

[2017-02-11 09:15] caesarxuchao opened #1880 "Publishing robot failure"
The robot failed repeatedly with
[code]

I disabled the bot.

cc @lavalamp @deads2k @sttts

[2017-02-11 09:54] sttts commented on #1880
What's the actual issue?

[2017-02-12 20:41] a-robinson commented on #1740
My test infra knowledge is a little out of date, so I have a couple quick questions.

1. I love that the kubectl logs are available for failed runs. Are the logs for other containers running in the cluster available anywhere?

1. How far back do test histories go in testgrid? I'm trying to see when it started failing and can't figure out how to look any [further back than  a couple weeks ago](http

[2017-02-12 21:40] spxtr commented on #1740
Logs are generated by [cluster/log-dump.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump.sh). I think we only get logs for system components and not for the test containers themselves. You can look through what's on [gcsweb](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-statefulset/2189) for one of the failed runs.

Testgrid only looks back two

[2017-02-13 19:14] foxish opened #1887 "e2e testing for the charts repo"
### Problem

Charts can break because of changes to their spec, or due to changes to upstream k8s.
Example issues in the past:
- alpha vs. beta annotations for PVCs: https://github.com/kubernetes/charts/issues/116
- Set imagePullPolicy in init-containers in charts: https://github.com/kubernetes/charts/issues/307

### Proposed Solution

* System tests for each chart's correctness (to be written by

[2017-02-13 23:16] a-robinson commented on #1740
Thanks Joe, I understand the problem now. It's something that may be of interest to the design of StatefulSets, but that we can also work around in the short term.

Effectively, the issue is that CockroachDB is a CP system (rather than AP). That means that a node isn't able to do anything unless it's part of a majority. Some time ago, CockroachDB's health checks were "improved" to make a node not

[2017-02-14 18:55] kow3ns commented on #1740
Generally, for the category of distributed systems that use quorum based consensus protocols (e.g. Raft, Zab, Mutli-Paxos) to replicate a state machine to achieve linearizable operations the following semantics are what is implemented (e.g. ZooKeeper, etcd, Consul).

liveness probe - Is the distributed systems local process running in the Pod
readiness probe - Can the process in the Pod participat

[2017-02-15 21:33] a-robinson commented on #1740
Thanks, it seems as though the Burst Semantics would work.

Although I think I'm a little confused about what you mean by "Can the process in the Pod participate in forming a quorum". You're saying that it isn't dependent on whether the pod is aware of an existing quorum, just on whether it hypothetically could form a quorum?

[2017-02-15 21:39] apelisse commented on #1795
cc @spxtr

[2017-02-15 21:47] spxtr commented on #1795
Sounds good to me. Both should be fairly straightforward prow commands, and I'd love to review the PRs.

The second will be easiest to start with.

[2017-02-15 23:17] kow3ns commented on #1740
@a-robinson If a process is not ready, its DNS entry will not be added to the domain controlled by its headless service. Its peers will not be able to resolve its address. If the process is in a state where it can not process requests from its peers (e.g. replicate log entries, update your current state with a snapshot, participate in leader election), it is not ready, and its readiness check shou

[2017-02-16 00:17] spxtr commented on #1887
It sounds like you need a job that is running continuously that uses bootstrap to checkout the charts repo, and then

1. uses [kubetest](https://github.com/kubernetes/test-infra/tree/master/kubetest) (formerly hack/e2e.go) to turn up a k8s cluster at the latest version,
1. runs the tests from the charts repo,
1. tears down the cluster,
1. places JUnit artifacts in a place that bootstrap picks up.

[2017-02-16 00:26] saad-ali commented on #1795
This would make cherry picks even easier! And if there is a conflict `/cherry-pick $release` should post a comment on the original PR saying the author will have to manually create a cherry pick (using `hack/cherry...`) because of conflict.

[2017-02-16 00:53] ixdy opened #1906 "kubetest mishandles SIGINT"
I start to run e2e tests:
[code]

I then `^C` to cancel running tests.
`kubetest` exits and returns me to the console, but `hack/ginkgo-e2e.sh` and subprocesses (like `ginkgo`) continue to run.

The same issue exists if I interrupt `kubetest --up`.

[2017-02-16 05:21] a-robinson commented on #1740
Ok, so the other systems base readiness on whether they're ready to interact with other replicas, not whether they actually are interacting. Got it.

Load balancing only to functional replicas is certainly a nice benefit of proper liveness checks for CockroachDB. However, the odds of a partition where a client is capable of hitting nodes on both sides of the partition (and the client node's kube-p

[2017-02-16 21:33] spxtr opened #1916 "/lgtm should assign me if I'm not assigned"
The reason I didn't implement this in the first place was because then just anyone could say `/lgtm` from an alt account and merge their own terrible code. Now that approvers are in place, if I type `/lgtm` and I'm not an assignee, should k8s-ci-robot assign me and apply lgtm?

I'd be happy to write the code, just want to make this issue for discussion.

@apelisse @kubernetes/sig-contributor-exper

[2017-02-16 21:37] apelisse commented on #1916
cc @grodrigues3

I still don't think it's a good idea. We want to grow the list of reviewers, we don't want it to be infinite.
If I'm an approver of the code in my PR, I can still get it merged by `/lgtm`-ing from my alt-account, and completely pass through review.

[2017-02-16 21:37] krzyzacy commented on #1916
If I have the permission to assign myself, then assign myself? Is it possible to check that?

[2017-02-16 21:48] ixdy commented on #1916
@apelisse I'm not sure whether that's actually an issue. If you're listed as an approver for some code, we already assume you're a good actor and won't abuse those privileges.

[2017-02-16 21:50] foxish commented on #1887
@spxtr It sounds like this will work well for us. I can take care of transforming the TAP output/error codes into JUnit output.
Can you elaborate a bit more on "adding charts-testing-capability to kubetest"? Will we need to introduce a new component there?

[2017-02-16 21:56] spxtr commented on #1887
In kubetest we have a [deployer](https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L391) interface that lets us deploy using kops or kubernetes anywhere. Possibly we should add a `tester` interface or something like that that specify how to test.

[2017-02-16 21:59] apelisse commented on #1916
Agreed, but I still believe we should expect lgtm from someone with experience with the code.

[2017-02-16 22:07] grodrigues3 commented on #1916
I'm okay with this contingent on:

1. Authors cannot `lgtm` their own code
1. `/lgtm` can only be written by people listed as "reviewers" in an ancestral owners file (i.e. you can only be assigned and lgtm if you are in an owners file as a reviewer)

This requires more logic and prow having some understanding of owners files.

[2017-02-16 22:27] apelisse commented on #1916
Absolutely, the next step forward here would be to have OWNERS logic in prow.

[2017-02-16 22:47] spxtr commented on #1916
That sounds great to me. After I've finished my current project I'd like to add a git clone to the plugin client that has the PR fetched when they're called.

[2017-02-16 22:49] apelisse commented on #1916
Yeah, I think we could do tons of sweet things with a copy of the repo.

[2017-02-17 23:31] rmmh opened #1927 "gcsweb needs to ban robots"
It's being crawled by Google (and likely others)-- which makes the whole thing respond slower.

/robots.txt should return this:
[code]

[2017-02-18 00:07] #1927 closed

[2017-02-20 00:24] k82cn commented on #500
@spxtr , how about the command `@k8s-bot skip this`? I think that's helpful :).

[2017-02-20 14:13] gajju26 opened #1943 "Extending CI support to s390x"
I had opened an issue https://github.com/kubernetes/kubernetes/issues/39229 for extending CI support to s390x. From that issue I came to know that using kubeadm I will join s390x node to Kubernetes cluster of CI and the attached node will be used for CI.  From the same thread I also came to know that this process is not completed yet and migration of jobs to use kubernetes pods is in progress. I w

[2017-02-21 09:46] gmarek opened #1946 "Create a new test suite for testing taint-based evictions"
It should run `[Feature:TaintEviction]` test added in kubernetes/kubernetes#41133.

cc @davidopp @ixdy @fejta

[2017-02-21 19:37] #1706 closed

[2017-02-21 22:20] spxtr commented on #1916
@k8s-bot tell me a joke

[2017-02-21 23:51] foxish commented on #1887
I just tried using the --repo flag with bootstrap. It appears that bootstrap checks the repository out to my local file system, and then launches a docker container "kubekins-e2e" that actually runs the kubetest binary. Do I need to do something special to make the locally checked out copy of the repo accessible within the docker container running kubetest? It is not very evident to me how I can u

[2017-02-21 23:52] spxtr commented on #1887
cc @fejta @krzyzacy

[2017-02-22 05:59] resouer opened #1962 "Only notify final test failure to PR author, not every participant"
Now we have k8s-ci-robot which can generate a nice `test(s) failed` matrix, this is great.

But another issue I can see here is when tests fail, all participants of this PR will continually receive notification email per test failure until all tests passed.

**The problem:**

This makes:
1. Reviewers feel annoyed.
2. PR authors have to manually ping reviewers back since all their previous discussi

[2017-02-22 14:23] gajju26 commented on #1943
@fejta for Kubernetes CI do you have any idea the commands "bazel build //..." and "bazel test //..."  should pass ?

[2017-02-22 15:32] apelisse opened #1965 "Mungebot: Approval notif refreshes constantly if commit date is in the future"
In https://github.com/kubernetes/kubernetes/pull/41775, the approval notification kept being removed and added. According to logs, it is removed because the code is more recent than the notification it just posted. It's probably because the clock of the committer is improperly set.

Let's find a way to prevent that from happening again.

[2017-02-22 15:33] apelisse commented on #1965
cc @grodrigues3

[2017-02-22 16:08] grodrigues3 commented on #1965
Since we decided approval should be independent of commit time (i.e. if you ever approve, your approval sticks until canceled), I think this problem should be fixed in the refactored implementation

[2017-02-22 17:11] apelisse commented on #1965
It's close to sticky approval, but it's unrelated.

That's not exactly true. if you approve all the files, let's say `a` and `b`, and then new code is pushed for  `c` for which you're not an approver, the approval will be removed. And at this time, we probably need to show the approval notification to explain why that is.

[2017-02-22 18:04] grodrigues3 opened #1966 "Document Approvers/Owners Process"
Need some longterm explanation of how to add approvers and reviewers and who can approve.

(A lot can be reused from the design document)

[2017-02-22 18:09] grodrigues3 opened #1967 "[mungegithub/approvers] Misleading Approvers"
If there is an OWNERS file with no approvers, the mechanism still works correctly and the bot moves up the tree, but the notification still shows the leaf OWNERS files which can be confusing

For example, in this https://github.com/kubernetes/kubernetes/pull/41876

![image](https://cloud.githubusercontent.com/assets/4854198/23225483/e7f3596c-f8e6-11e6-8947-1eca2dbcc51c.png)

the bot shows two OWNE

[2017-02-22 18:29] ixdy commented on #1943
@gajju26 in kubernetes, bazel doesn't really work for anything besides linux/amd64 right now.

[2017-02-22 18:39] spxtr commented on #1723
See issue #1962 by @resouer.

[2017-02-22 18:40] spxtr commented on #1962
Lets continue discussing in #1723.

[2017-02-22 18:40] #1962 closed

[2017-02-22 19:39] yujuhong opened #1972 "Assess what cmv/gci tests are required for presubmit"
We have tests for combinations of (gke, gce) and (gci, cvm) in the presubmit suites. Since we have CI coverage for all of them, and rarely a PR would break only cvm or gci, we should consider removing some of them to conserve resources.

/cc @mtaufen @dchen1107 @spxtr

[2017-02-22 20:49] spxtr commented on #1972
Note that it doesn't just conserve resources, although that's important too. There's also just a baseline flake rate for all e2e suites, and adding new duplicates multiplies the chance of hitting a flake.

[2017-02-22 22:38] grodrigues3 commented on #1721
Duplicate of #1967

[2017-02-22 22:38] #1721 closed

[2017-02-22 23:26] grodrigues3 opened #1974 "Release Note Matcher Update"
Looks like there's one additional case for the release note matcher.
If you click github's button for inserting code, you get:
`NONE`

which looks exactly like

```NONE``` which comes in our issue template, but there are three sets of backticks in our template and only one in the one allowed by github.

Can we update the regex to also match github's single backtick?

Example of it not working.

ht

[2017-02-22 23:36] ixdy commented on #1974
I think the issue template uses
[code]
which is subtly different.

The [`relnotes` script](https://github.com/kubernetes/release/blob/master/relnotes) only supports ` ```release-note`, and given that it uses a terrifying few lines of `sed`, would not be easy to fix...

[2017-02-22 23:40] rmmh commented on #1974
The relnotes script is out of date currently. `release-note-label.go` is what does the labeling, using this regex:

[code]

I'm willing to punt on this if it's the *only* instance where this occurred.

[2017-02-23 01:47] ixdy commented on #1906
maybe related to #39041

[2017-02-23 07:48] resouer commented on #1723
Yes, my two cents is maybe we can just send test failure emails to the PR author, not every participant. :)

[2017-02-23 12:05] kargakis opened #1986 "Use client-go and core API types"
prow hardcodes the API types in [1] and constructs its client in [2]. I guess the intention is to use the APIs from the Kubernetes repo (or maybe another location when all the refactorings settle down) and client-go but I couldn't find an issue about it.

@spxtr

[1] https://github.com/kubernetes/test-infra/blob/master/prow/kube/types.go
[2] https://github.com/kubernetes/test-infra/blob/master/pro

[2017-02-23 16:46] mtaufen opened #1988 "PR Dashboard: Show usernames associated with most recent comments"
Show usernames associated with comments since my most recent reply would be slightly more informative than "Address Comments" and would make it easier to batch attention on PRs (especially ones with longer-running discussions).

It would also be useful to see a timestamp of the least-recent unaddressed comment, so I don't batch at too great a time interval.

I don't want to clutter the dashboard,

[2017-02-23 17:43] dashpole opened #1989 "Ordering Git PR Failures"
Just an Idea, I don't even know if this is possible.
I was helping a newer member of the team debug their PR, and had the opportunity to watch their thought process, and compare it with how I would debug their PR.

They saw this, which had a number of failures.
![screenshot from 2017-02-23 09 26 35](https://cloud.githubusercontent.com/assets/3262098/23270907/4f8acc90-f9aa-11e6-8172-03ffc9b7dfaf.pn

[2017-02-23 18:13] spxtr commented on #1986
cc @apelisse who has an opinion on the matter.

I'm still not convinced it's a good idea. Kubernetes' REST API is well-defined and stable, and I only hit 12 endpoints. The client-go repo adds hundreds of thousands of lines of code and grows all binaries that link into it by over 20MB. It's fine if you're only running a few such binaries in your cluster, but prow is running hundreds at a time.

If

[2017-02-23 18:33] apelisse commented on #1986
How did you get that number?

[2017-02-23 19:41] spxtr commented on #1986
I imported `_ k8s.io/client-go/pkg/api/v1` into `cmd/hook` and looked at the binary size afterward.

[2017-02-23 21:04] spxtr commented on #1989
I don't think we have control over the order of the check marks, but we do have control over the order in the comment. When every PR fails it's usually because a change doesn't build, or the PR needs a rebase. We should handle both of these cases in a less-spammy way.

[2017-02-23 21:07] foxish commented on #1887
Part of this item is complete. The job is ci-kubernetes-charts-gce and it can be found at: https://k8s-testgrid.appspot.com/kubernetes-apps

[2017-02-23 22:22] mml opened #1998 "Improve "Jenkins overloaded" error message."
The current message says "try again later", but according to @foxish I don't actually need to "try again".  The robot should try again for me.

Can we clarify the error message so contributors don't think they need to do anything?

[2017-02-23 22:26] rmmh commented on #1989
Handling the "Everything failed because it needs a rebase" case cleanly would help a lot.

[2017-02-23 22:28] rmmh commented on #1998
Not sure what @foxish meant, you *do* actually need to take some action to trigger a new build in the future.

[2017-02-23 22:31] foxish commented on #1998
I meant to say that ideally, we shouldn't have to retrigger those tests manually, not that there is no need for that today. :)

[2017-02-23 22:34] mml commented on #1998
Oh, OK.  Then my request is to plug in one of those beautiful tables that includes a crib sheet with the correct bot command to request each test.

[2017-02-23 22:39] smarterclayton commented on #1998
Yes - that's incredibly painful to guess (I have a cheat sheet i reference)...

[2017-02-24 01:55] ethernetdan commented on #1818
Update: csv issue has been resolved, @apelisse is planning on reactivating tomorrow

[2017-02-24 11:47] mikebryant opened #2007 "Prow issue: Allow re-test for flakes for approved/lgtm'd PR"
This PR was approved & LGTM'd: https://github.com/kubernetes/kubernetes/pull/41501#issuecomment-282272108

Testing failed due to a flake (presumably, since it was a pure docs change)

Would it make sense to allow retesting of these by the PR author, if the PR's been approved and(/or?) lgtm'd. If the code's acceptable for merging it's presumably acceptable for re-testing

[2017-02-24 15:11] fejta opened #2011 "gci-gke jobs do not like the --extract flag"
Workaround: https://github.com/kubernetes/test-infra/pull/2010 (caused by https://github.com/kubernetes/test-infra/pull/2009)
Investigating..

[2017-02-24 15:11] fejta commented on #2011
Workaround should unblock these failures:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/5151
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-slow/3377

[2017-02-24 15:35] fejta opened #2012 "kubemark uses the --check_version_skew"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/2805?log#log

https://github.com/kubernetes/test-infra/pull/2009

[2017-02-24 15:46] fejta commented on #2012
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/2806

[2017-02-24 16:34] fejta commented on #2011
#2014 should resolve this. I'm going to wait for the non-critical jobs to pass with this behavior and then unpin the job version for these jobs.

[2017-02-24 16:34] fejta commented on #2012
#2014 should resolve this. I'm going to wait for the non-critical kubemark jobs to pass on this image and then unpin the critical job.

[2017-02-24 17:16] fejta commented on #2012
Looks like kubetest makes assumptions about PWD that are not correct for kubemark jobs, fixing in #2015, testing in canary now

[2017-02-24 17:33] fejta opened #2017 "Migrate kubetest flags from e2e-runner.sh to kubernetes_e2e.py"
e2e-runner.sh processes environment variables and converts them into kubetest flags. We can move this logic out of e2e-runner.sh and into scenarios/kubernetes_e2e.py and delete e2e-runner.sh

Follow on to https://github.com/kubernetes/test-infra/issues/1475

[2017-02-24 17:33] fejta commented on #1475
Will continue this work in https://github.com/kubernetes/test-infra/issues/2017

[2017-02-24 17:33] #1475 closed

[2017-02-24 17:39] fejta commented on #2012
Example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/2810

[2017-02-24 18:28] fejta commented on #2012
Woo! https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/2811

[2017-02-24 18:28] spxtr commented on #2007
I think once the PR has "ok to test" then the author can request a retest. @rmmh added that functionality in 392471a987761e2517d997889b8e5b70a9444635. Is it broken?

[2017-02-24 18:29] spxtr commented on #2007
Oh, it looks like LGTM should count as "ok to test" here.

[2017-02-24 18:38] mikebryant commented on #2007
I guess I wasn't trying `ok to test`, I was trying the one I was directed to by this comment: https://github.com/kubernetes/kubernetes/pull/41501#issuecomment-282169996

-- but I guess I would expect any testing command to work

[2017-02-24 18:48] krzyzacy commented on #2012
:+1:

[2017-02-24 19:34] wonderfly opened #2020 "gci-qa-* jobs broken due to newline in image name"
All gci-qa-* jobs started to fail with an error that seems to suggest there's a newline char at the end of image name.

[code]

Could be related to #1657. @fejta Does it ring a bell to you?

Log for the last run: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-qa-master/5446/build-log.txt

[2017-02-24 19:34] wonderfly commented on #2020
cc/ @kubernetes/goog-image

[2017-02-24 19:47] grodrigues3 commented on #1641
Clarifications

1. This is for people in the org that open issues
1. The issue template should allow people to set labels and prow should probably allow people to set labels with sig or area prefix

I understand that it seems intrusive, but it's way to ensure longterm, sustainable issue triage.  Everyone in the org should be routing labels.  With 50 new issues per day coming in and 5000+ in the ba

[2017-02-24 21:04] #2012 closed

[2017-02-24 21:57] fejta opened #2021 "Restoring soak credentials is broken"
cc @madhusudancs

The kubetest binary does not restore credentials

[2017-02-24 22:40] spxtr commented on #2007
They'll work now that someone said "ok to test" on the PR. It's a bug on our side that LGTM triggers tests once but doesn't allow you to request testing.

[2017-02-24 22:43] spxtr commented on #1641
Leave a comment explaining how to set the appropriate labels, and only close the PR after a few days without.

It's way too annoying to have a PR closed immediately.

[2017-02-24 22:45] grodrigues3 commented on #1641
I'm good with that.  Let's just make sure labels can be set both through prow commands as well as through the issue templates.

And a timer before closing is fine with me.

[2017-02-25 00:01] ethernetdan opened #2029 "1.6 Release Testing Infrastructure"
The [1.6 branch](https://github.com/kubernetes/kubernetes/tree/release-1.6) has been cut and we're off! Let's get the release infra going so we can be confident in the quality of the release.

I'm going to send an email to SIG leads to find out what additional tests we should be running and will update this when I hear back.

The following tests should be setup to be run on the 1.6 release branch:

[2017-02-25 00:02] ethernetdan commented on #2029
Creating this issue to track ongoing work - @ixdy mind updating this as progress is made?

[2017-02-25 00:03] ixdy commented on #2029
We're going to need upgrade/skew jobs too - are we tracking that in a separate issue?

[2017-02-25 00:07] ethernetdan commented on #2029
@ixdy about to create it now 😊

[2017-02-25 02:26] ethernetdan opened #2034 "1.6 Upgrade Testing Infrastructure"
In an addendum to #2029, setting up upgrade infra.

The following upgrade tests should run on the 1.6 release branch:
### kubectl Skew - Upwards
- [x] `kubernetes-e2e-gce-1.5-1.6-cvm-kubectl-skew`(GCE)
- [x] `kubernetes-e2e-gce-1.5-1.6-gci-kubectl-skew` (GCI-GCE)
- [x] `kubernetes-e2e-gke-1.5-1.6-cvm-kubectl-skew` (GKE)
- [x] `kubernetes-e2e-gke-1.5-1.6-gci-kubectl-skew` (GCI-GKE)

### kubectl Ske

[2017-02-25 02:28] ethernetdan commented on #2034
@saad-ali do we need downgrade testing for 1.6?

[2017-02-25 02:39] ethernetdan commented on #2029
@dchen1107 are there additional Node suites that should be included for 1.6?

[2017-02-25 06:42] davidopp opened #2035 "Submit queue should sort by when LGTM *and* Approved were both present"
Currently the submit queue sorts by "First time at which the LGTM label was applied." This is a holdover from when the "can be merged" signal was the LGTM label. Now the "can be merged" signal is presence of both the LGTM *and* Approved labels. As a result, the sort order should be "First time at which the LGTM and Approved labels were both present."

(Personally, I think it should be *most recent

[2017-02-25 19:57] fejta commented on #2011
/cc @krzyzacy @liggitt GKE jobs remain unhappy... looks like the new image stops setting `CLUSTER_API_VERSION`

[2017-02-25 21:12] davidopp commented on #2035
@kubernetes/test-infra-maintainers

[2017-02-26 01:51] #1226 closed

[2017-02-26 10:50] wojtek-t commented on #2035
I don't agree. Basically this would mean that whenver you need to rebase the PR, it gets to the end of the queue again (because rebase + push of new version removes lgtm label and you need the PR to be lgtm-ed again). That means that if you are unlucky you can potentially never have your PR merged (especially if this is really big and touches a lot of different place in the code).
So I'm really re

[2017-02-26 10:52] wojtek-t commented on #2035
Now, when I'm thinking about it, I would formulate it as:
1. If PR was lgtm'ed affter approval, then you the time of "lgtm"
2. otherwise, use the time  of "last LGTM before the approval"

[2017-02-26 21:07] davidopp commented on #2035
Very good point about rebases -- I hadn't thought of that.

I think what I want is something like "sorted by first time PR became eligible to merge and had no subsequent changes other than rebases." In other words, if you have any change other than a rebase, you go to the back of the line.

I guess I'd also be OK with "LGTM applied" instead of "became eligible to merge" (i.e. had LGTM and Appoved)

[2017-02-27 06:11] colemickens opened #2041 "prow: add a Helm chart"
Even if it's just local to the test-infra repo, it might be nice to have a Helm chart for the prow components.

If there's interest, I can add this. I've written a Chart before with the parameterization that I think I'd want for Prow (things like needing to interpolate the DOMAIN name into the Ingress objects for places that are not using gce ingress controller, etc).

[2017-02-27 06:40] liggitt commented on #1627
I do think milestones should be in the sort order, though... the submit queue seems to be ignoring them. I'd expect 1.6 PRs to come before PRs with no milestone associated

[2017-02-27 17:05] smarterclayton opened #2043 "Link test failures from Gubernator to issue search"
Most times when I am checking to see whether something is a flake, I end up having to go back to the Kubernetes Git repo, search for the name of the test, and see whether a flake issue already so I can comment on it.  It would be a usability win to have a link from every test failure that punts the user to kubernetes/kubernetes issue search with the search input pre-filled with the test name (sinc

[2017-02-27 18:52] #1967 closed

[2017-02-27 18:57] wonderfly commented on #2020
Ping. This line, and may others, does include a newline at the end.

`b, err := combinedOutput(exec.Command("gcloud", "compute", "images", "describe-from-family", family, fmt.Sprintf("--project=%v", p), "--format=value(name)"))`

And because env vars were all quoted in e2e.sh, the newline char was preserved. I'd say the same for this line https://github.com/kubernetes/test-infra/pull/1657/files?di

[2017-02-27 18:57] wonderfly commented on #2020
cc/ @krzyzacy

[2017-02-27 19:02] fejta commented on #2020
Thanks, just noticed this as well! Fixing in https://github.com/kubernetes/test-infra/pull/2040

[2017-02-27 19:20] mml opened #2045 "PR Dashboard: Merged PR shows up in "Incoming" list"
kubernetes/kubernetes#41065

![iyiutgo223w](https://cloud.githubusercontent.com/assets/3115/23375856/bdd5c470-fcde-11e6-8628-e070c979ed8d.png)

[2017-02-27 19:52] #2020 closed

[2017-02-27 19:52] #2021 closed

[2017-02-27 19:52] spxtr commented on #2041
I'm not very familiar with Helm, but it sounds like a great idea.

[2017-02-27 20:00] csbell opened #2046 "gce e2e federation tests broken"
Issued k8s-bot federation gce e2e test this and build wants to execute build-federation.sh which doesn't exist in the test-infra repo.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41942/pull-kubernetes-federation-e2e-gce/44/

cc: @nikhiljindal

[2017-02-27 20:29] shyamjvs commented on #2035
IIUC, a rebase is seen as a new commit, and it is possible to have new code
changes (as part of the rebase) other than just fixing rebase conflicts and
there's no trivial way to figure out if such changes have been made. So, we
might still have to remove the PR from the SQ and wait for it to get
re-lgtm'd for the changes as it's as good as a new commit. Am I missing
something here?

[2017-02-27 20:41] davidopp commented on #2035
There's what is the ideal policy, and what is possible to implement.

We could just say that any commit added immediately after a "needs rebase" message from the bot, is assumed to just be a rebase and not new code. Of course we would still require a re-LGTM from reviewers; this is just from the perspective of sorting the queue.

[2017-02-27 20:51] dashpole opened #2050 "PR Dashboard: Merged PR still shows up"
After successfully merging, #40952 still shows up on [my PR dashboard](https://k8s-gubernator.appspot.com/pr/dashpole)

[2017-02-27 20:52] spxtr commented on #2050
#1576

[2017-02-27 20:52] spxtr commented on #2045
#1576

[2017-02-27 20:57] dashpole commented on #2050
closed since this issue is already triaged.

[2017-02-27 20:57] #2050 closed

[2017-02-27 21:29] mml commented on #2045
Closing dup

[2017-02-27 21:29] #2045 closed

[2017-02-27 21:37] shyamjvs commented on #2035
Thanks for pointing this out. However, even with respect to the SQ, it might give me the unfair advantage of being at the top, even though I've added new code just because I did it along with a rebase. This might not be a big deal usually when the SQ is not so long. But close to the code freeze, I might just add some extra code (which ideally should've been in a separate commit) while rebasing, ju

[2017-02-27 21:43] ixdy commented on #2029
Starting to create jobs.
http://k8s-testgrid.appspot.com/release-1.6-all and http://k8s-testgrid.appspot.com/release-1.6-blocking will get updated with jobs as I add them.

[2017-02-27 21:44] wojtek-t commented on #2035
I don't think it happens often that you add new changes during rebase (at least, I'm pretty much never doing this).
That said, in such situation I think we can add an explicit comment for a bot like:
/move_to_back
(probably with better name) and use it together with LGTM.
But I guess it's so rare issue that we may want to ignore it.

[ @shyamjvs - if you are adding new code to already lgtm-ed PRs

[2017-02-27 21:46] grodrigues3 opened #2053 "Update auto-prioritization to use new labels"
The flake manager in mungegithub seems to still use the old convention (e.g. `priority/p0` instead of `priority/critical-urgent`.

Might be as simple as just changing

https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/sync/issue-sync.go#L52

@calebamiles @ethernetdan @idvoretskyi

[2017-02-27 22:06] spxtr opened #2054 "Prow issue: redesign cmd/line, cmd/tot, cmd/deck, ..., oh dear."
**Overview:**

We will replace `cmd/line` with a custom controller that stores state in k8s ThirdPartyResources (TPRs).

**Currently:**

1. Something decides we to run a test. This can be `cmd/hook` if a PR was just updated, `cmd/splice` if it's time to start a new batch, `cmd/horologium` if a periodic job is due, and in the future we might support user triggering. All of these sources call a func

[2017-02-27 22:08] fejta commented on #2035
I would really like to keep us focused on minimizing the depth of the queue.

The queue should stay below 10 items. At this size, the location of any PR should matter little. When we start debating where a PR should be on the queue, that is a strong signal that the queue is simply too long.

So I would like us to optimize things such we maximize merge throughput.

[2017-02-28 00:44] smarterclayton commented on #1468
PR #1981

[2017-02-28 00:49] smarterclayton opened #2059 "Match bot retest labels and Jenkins status values to be identical"
When a job fails, it would be convenient if the retest command was something I could cut and paste from the GitHub PR status.

For instance, instead of the GitHub status saying `Jenkins GCE Node e2e`, maybe it should say `k8s-bot node e2e`, with the kick instruction being `@k8s-bot node e2e test this`.  That would remove the need to have to look up the name in the prow config file, as well as the

[2017-02-28 19:13] #1946 closed

[2017-02-28 19:18] ixdy commented on #2029
Looking at [the release infra](https://github.com/kubernetes/release/blob/master/lib/releaselib.sh#L100-L117), it looks like the jobs we need running to cut a release are
* Main Job
  * ci-kubernetes-e2e-gce-release-1.6
* Secondary Jobs
  * ci-kubernetes-e2e-gce-serial-release-1.6
  * ci-kubernetes-kubemark-5-gce-release-1.6
  * ci-kubernetes-e2e-gce-reboot-release-1.6
  * ci-kubernetes-e2e-gce-sc

[2017-02-28 19:35] ixdy opened #2067 "divide up job scripts into subdirectories"
There are too many files in the [jobs/](https://github.com/kubernetes/test-infra/tree/master/jobs) directory. It's hard to find the configurations I care about.

[2017-02-28 21:20] bgrant0607 commented on #2053
All automatically filed issues should use priority/failing-test. If we can distinguish whether it's a flake or not, it should also be labeled kind/flake.

[2017-02-28 23:08] apelisse opened #2071 "Approval: Bot reads `/lgtm cancel` as an approval"
When the pull-request is modified, the bot automatically writes `/lgtm cancel`. And it's then read as a `/lgtm` command and adds approval from itself ...

[2017-02-28 23:09] ixdy opened #2072 "creating test jobs is painful and a drain on productivity"
My goal was to create several new e2e jobs for the release-1.6 branch. I compiled the basic list from
https://github.com/kubernetes/test-infra/issues/2029, the [release infra scripts](https://github.com/kubernetes/release/blob/master/lib/releaselib.sh#L100-L117), and my general intuition about which jobs would be easiest to start running.

I've gathered here a rough overview of my process, along w

[2017-02-28 23:11] ixdy commented on #2072
Creating release jobs is probably uniquely painful compared to just creating one or two additional feature jobs, but it shouldn't be this bad.

[2017-02-28 23:24] fejta opened #2074 "federation pull job is broken"
/cc @madhusudancs

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41942/pull-kubernetes-federation-e2e-gce/47/

[code]

Looks like `pull-kubernetes-federation-e2e-gce.sh` does not stage binaries, which the kubekins-e2e job expects to have happened when `JENKINS_USE_LOCAL_BINARIES=y`

[2017-02-28 23:26] krzyzacy commented on #2072
I'm up for moving everything into one single config file, and all systems can understand.

Maybe we can let prow and testgrid learn about config.json (which can turn into a yaml file, if we hates json)?

[2017-02-28 23:29] ixdy opened #2076 "mungebot/approval: cc only applicable approvers"
In https://github.com/kubernetes/kubernetes/pull/39678#issuecomment-282847125, the bot cc'd me as a suggested approver, but the only relevant directory I could approve (`hack/`) was already approved. `pkg/` still needed approval, but I'm not an approver there.

[2017-02-28 23:30] ixdy commented on #2076
cc @apelisse @grodrigues3

[2017-02-28 23:32] ixdy commented on #2072
One config file doesn't help significantly if you still need to copy/paste/edit repeatedly within that file.

[2017-02-28 23:34] fejta commented on #2074
The core problem here actually seems to be that we have a new [`kubernetes/hack/jenkins/build-federation.sh`](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/build-federation.sh) which does not call [`release/push-build.sh`](https://github.com/kubernetes/release/blob/master/push-build.sh) like [build.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/build.sh#L

[2017-02-28 23:35] krzyzacy commented on #2072
I'm going to make prow periodic job understand which branch to run, so that'll reduce some future bleeding. But I feel like adding a new feature suite is still need to go through the process.

[2017-02-28 23:39] ixdy commented on #2072
I think the core issue is that implementation details of the CI system should be minimally visible to users (i.e. folks trying to add/edit jobs, like me in this issue).

If I just want to setup a job to run  some e2e tests, I should be able to specify a branch and which tests I want to run, and the tooling should figure out the rest, without me being a human code generator.

[2017-02-28 23:41] krzyzacy commented on #2072
Yeah that makes sense.

[2017-02-28 23:54] apelisse commented on #2076
I think this will be fixed by #1846

[2017-02-28 23:58] apelisse commented on #2076
will it @grodrigues3 ?

[2017-03-01 02:10] fejta commented on #2074
@rmmh @spxtr FYI this is going to require making bootstrap support multiple repos. I intend to make `--repo` `--branch` `--pull` allow specifying multiple instances of them. So the following will allow me to cline both kubernetes and release:

[code]

[2017-03-01 18:06] spxtr opened #2086 "bootstrap doesn't activate the service account on merge conflict"
Previous issue: #1512, PR that almost fixed it: #1542

Hit this in #2023. When a merge conflict was hit, bootstrap correctly attempted to upload artifacts at the end, but failed because the call to `setup_credentials` happens after the call to `setup_root`. We see a whole lot of `ResumableUploadAbortException: 403 Insufficient Permission`.

[2017-03-01 18:39] fejta opened #2087 "Cannot change from --deployment=bash"
Because we reference and return the "deployment" flag before flag.Parse(), so its value is just the default
(in defineFlags)
As a really quick fix, moving the flag.Parse() call into defineFlags() before the return statement fixes things.

[2017-03-01 19:52] #2087 closed

[2017-03-01 21:58] ixdy commented on #2067
A proposal: create `ci`, `pull`, and `maintenance` subdirectories of `jobs/`.

Under `ci` and `pull`, create repo subdirectories (like `kubernetes`, `test-infra`, etc).

Move job scripts into the respective subdirectories, removing the `{ci,pull,maintenance}-{repo}-prefix`.

For example, `jobs/ci-kubernetes-e2e-gce.env` becomes `jobs/ci/kubernetes/jobs/e2e-gce.env`, `jobs/pull-test-infra-bazel.sh`

[2017-03-01 22:01] fejta commented on #2067
Sounds fine to me

[2017-03-01 22:10] ixdy opened #2092 "create release-1.6 AWS test job"
As part of #2029 I need to set up a test job for AWS clusters. @justinsb says that we should be using kops now instead of kube-up, which is great, but there isn't a pre-existing template for setting up an AWS release-branch job that I can copy, so I'm kind of lost.

Can y'all please assist? :)

[2017-03-02 00:39] #2071 closed

[2017-03-02 02:22] spiffxp commented on #1966
For reference, where's the design doc?  Most I could find from a cursory google was https://github.com/kubernetes/community/blob/master/contributors/devel/owners.md

[2017-03-02 05:29] brendandburns opened #2103 "Checklist for implementing the e2e flakiness SLA"
I have proposed an SLA for flakiness here:
https://github.com/kubernetes/community/pull/422

This issue tracks what is needed to implement it.

- [x] Document the flakiness SLA for the community
- [x] Implement a collector that scraps github and finds PRs with flakes
- [x] Store those metrics into a logging system somewhere
- [ ] Create an SLA dashboard on mungegithub

[2017-03-02 15:32] grodrigues3 commented on #1966
Shared with kubernetes-dev.

https://docs.google.com/document/d/1xmAa6ZyRiHiubWdJumO2wKRiz0zyMxHkgT65Qf0njts/edit#

[2017-03-02 15:34] grodrigues3 commented on #1687
Should help with PRs like

https://github.com/kubernetes/kubernetes/pull/42415

which make a one line change but ping both thockin and brendanburns

It will still bother one of them

[2017-03-02 16:46] Sevii commented on #2053
I have opened a PR to address the labeling change from P0/2/3 => priority/critical-urgent/... in flake-manager.go and issue-sync.go. #2107

[2017-03-02 19:14] ixdy commented on #2076
related: if a PR is already approved, don't CC any additional suggested approvers.

[2017-03-02 21:02] spxtr commented on #2103
cc @apelisse for the collector and metric storage.

[2017-03-02 21:12] mml opened #2112 "For upgrade tests, retain logs prior to upgrade"
[etcd.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-latest-rollback-etcd/51/artifacts/bootstrap-e2e-master/etcd.log) is the etcd log from an etcd rollback test.  Since we blow away the master, it's only the portion of log lines from after the upgrade.  But lines from the first master can sometimes help debugging, too.  Can we retain these?  I guess it might

[2017-03-02 23:22] ixdy commented on #2029
GKE jobs are all created, but they are currently failing due to a configuration error. I think this has been fixed, and hopefully they should start passing by EOD.

[2017-03-03 02:54] smarterclayton commented on #2072
Awesome write up, helped me understand better how to read them

[2017-03-03 22:13] ixdy commented on #2029
Open questions:
* Do we need a kubemark job?
* Do we need non-cri jobs?

[2017-03-03 22:35] pipejakob opened #2120 "Regression in e2e-runner.sh"
After refreshing my inherited image (ci-kubernetes-e2e-kubeadm), I started getting `e2e-runner.sh` errors:

    W0303 22:30:00.903] /workspace/e2e-runner.sh: line 119: syntax error near unexpected token `fi'

It looks like this was introduced in https://github.com/kubernetes/test-infra/commit/4f0029329e4892236bfdfa15714333711d158c56, by inserting an extra `fi`.

[2017-03-03 22:37] fejta commented on #2120
Among other things I fix this in https://github.com/kubernetes/test-infra/pull/2110

[2017-03-03 22:39] pipejakob commented on #2120
Ah, good deal. Thanks.

[2017-03-04 00:45] krzyzacy commented on #1478
looks like it's using it?

[2017-03-04 00:46] krzyzacy commented on #858
@fejta done?

[2017-03-04 00:48] fejta commented on #858
I believe this is fixed...

[2017-03-04 00:48] #858 closed

[2017-03-04 00:50] #2120 closed

[2017-03-04 00:50] fejta commented on #2120
Fixed

[2017-03-04 00:52] crassirostris opened #2123 "Make OWNERS files case-insensitive"
Right now the algorithms which checks OWNERS files for approval is matching names taking case into account. It seems to be safe to not care about the case, because GitHub doesn't allow two usernames differ only by case.

[2017-03-04 00:52] ixdy commented on #858
Builds too? Are they using bootstrap yet?

[2017-03-04 00:54] ixdy commented on #858
ah, looks like it. nice.

[2017-03-04 20:18] #2011 closed

[2017-03-05 22:17] jbeda opened #2130 "Extra newlines in jobResultsCache.json"
I'm seeing stuff like this:
[code]
in `gs://kubernetes-jenkins/logs/ci-kubernetes-e2e-gce/jobResultsCache.json`

[2017-03-06 00:11] ixdy commented on #2130
already fixed by https://github.com/kubernetes/test-infra/pull/2079.

[2017-03-06 00:11] #2130 closed

[2017-03-06 16:40] timothysc opened #2132 "Auto-close flakes/issues that haven't been seen for > 1 release cycle reopen on re-occurances"
Right now I'm simply closing down a bunch of old flakes that haven't been seen in months, or are a set of false positives triggered by some massive infra-flake.

Ideally this should be a bots job to close down flakes that haven't been seen for x-months.

This is a massive waste of community time that should be automated.

As an escape hatch, maintainers could have a flag that would allow a bot to

[2017-03-06 17:37] fejta commented on #2132
@apelisse wrote a munger to do this for old PRs -- https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/close-stale-pr.go an interested person can adapt this to include issues.

FWIW this does not need to waste a lot of anyone's time: the sort button on the issues search includes a "least recently modified" [example](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%9

[2017-03-06 17:46] zmerlynn commented on #1478
Yup!

[2017-03-06 17:46] #1478 closed

[2017-03-06 17:48] liggitt commented on #2132
I tried doing that, but last updated gets bumped on any change (like the 1.6 milestone being added, for example), not mentions from actual flake occurrances

[2017-03-06 17:48] timothysc commented on #2132
+ there have been some wide-spread infra-flakes e.g. kops that posted false positives to a number of flakes.

[2017-03-06 18:17] fejta commented on #2132
Good point about corrupting GH's last updated time, which is something the munger handles by ignoring comments from specific users and/or types of updates.

And yes LOTS of useless issues are created

[2017-03-06 18:22] fejta opened #2133 "testing"
1 2 3 4

[2017-03-06 18:22] fejta commented on #2133
/assign

[2017-03-06 18:24] fejta commented on #2133
/assign

[2017-03-06 18:25] spxtr commented on #2133
/assign @fejta

[2017-03-06 18:25] spxtr commented on #2133
/assign

[2017-03-06 18:25] spxtr commented on #2133
/unassign

[2017-03-06 18:25] fejta commented on #2133
/unassign
/assign @grodrigues3 @spxtr
Look ma no hands!

[2017-03-06 18:26] fejta commented on #2133
/assign @grodrigues3 @spxtr
Doh

[2017-03-06 18:26] fejta commented on #2133
/assign @spxtr

[2017-03-06 18:26] fejta commented on #2133
/assign @spxtr

[2017-03-06 18:27] fejta commented on #2133
/unassign @fejta @spxtr

[2017-03-06 18:41] krzyzacy commented on #2133
/assign

[2017-03-06 18:41] krzyzacy commented on #2133
/unassign

[2017-03-06 18:42] krzyzacy commented on #2133
/assign @Fake

[2017-03-06 19:36] #1607 closed

[2017-03-06 19:40] mbohlool opened #2138 "PR Dashboard: Include kubernetes-incubator repos"
Would be nice if we can include incubator projects in PR dashboard too.

[2017-03-06 20:20] ixdy commented on #2130
and https://github.com/kubernetes/release/pull/267 should partially work around the issue.

[2017-03-06 20:34] ixdy commented on #2029
All projects on this list are created, I think. I'd appreciate assistance in making sure things appear to be working. @marun

[2017-03-06 21:08] zmerlynn opened #2143 "Per-Provider Post-Up Setup"
In the `kops` testing, we're currently disabling NodePort testing, c.f. https://github.com/kubernetes/kops/issues/775 . I just added the `-slow` tests as well, and there's more of these issue. Essentially, all of the providers do some tiny amount of post-deployment setup to "ready" the cluster for e2e testing, but because `kops` is outside the normal `kube-up` framework, all `kops` deployments are

[2017-03-06 21:08] zmerlynn commented on #2143
cc @justinsb

[2017-03-06 21:23] jbeda commented on #2130
See also the fix in https://github.com/kubernetes/release/pull/271.

[2017-03-06 21:35] grodrigues3 commented on #2133
/assign

[2017-03-06 21:39] grodrigues3 commented on #2133
/unassign

[2017-03-06 21:39] grodrigues3 commented on #2133
/assign @krzyzacy

[2017-03-06 21:40] fejta commented on #2133
@grodrigues3 there's trailing whitespace on your attempt to assign this to sen :frowning_face: which I'm addressing right now... If you delete it then it will work

[2017-03-06 21:41] krzyzacy commented on #2133
/assign @k8s-bot

That space is the gift from github :-)

[2017-03-06 22:54] dchen1107 opened #2148 "The failure caused by the newly added tests might be skipped"
While looking into https://github.com/kubernetes/kubernetes/issues/42597, I found surprisely while the test failed, but testgrid still reports it passed:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/5097

Looks like it might be the regression caused by https://github.com/kubernetes/test-infra/pull/2142

[2017-03-06 23:08] spiffxp commented on #2143
In the abstract, post-up seems like a valid hook.  But I question why this wouldn't just be a modification to the existing deployer's "up"

I am firm believer that `e2e.go -test` should "just work" without any additional configuration save for credentials, at least for conformance tests, so as to support the testing of clusters deployed with tools other than `kube-up/kops/kube-anywhere`

[2017-03-06 23:09] zmerlynn commented on #2143
@spiffxp: Then you're seemingly opting for (2) above, which is to say "tests should work on the default setup"?

[2017-03-06 23:12] zmerlynn commented on #2143
To be fair, this is my general desire as well - and I believe everything tagged with `[Conformance]` actually obeys this. I'd almost rather flip this on its head and first implement (3) with a `[SpecialSetup]` tag, then rewrite the tests if possible (i.e. (3) then (2)).

[2017-03-06 23:16] ixdy commented on #2148
I think that might be intentional - we re-run tests if they fail, and only fail the run if they fail every time, rather than flaking once.

[2017-03-06 23:17] ixdy commented on #2148
https://github.com/kubernetes/kubernetes/blob/aa454ec740ed8985df2a07d2966c69e8adcc023b/hack/ginkgo-e2e.sh#L33-L34

Some jobs (e.g. `ci-kubernetes-e2e-kops-aws` set `GINKGO_TOLERATE_FLAKES=y`).

[2017-03-06 23:32] spiffxp commented on #2143
Yeah, I guess I'm opting for 2.  Or asking that we find a better way than `[TestTags:ParsedViaRegex]` to classify these things.

Varying levels of fidelity here:
- allow tests to introspect cluster for its capabilities, and test appropriately?
- allow tests to compare the cluster's cloud provider against a hardcoded list of capabilities? (this seems roughly where we're at re: tests that require ss

[2017-03-06 23:47] zmerlynn commented on #2143
Heh, c.f. https://github.com/kubernetes/kubernetes/issues/2953 .. which we haven't implemented.

[2017-03-07 01:23] calebamiles opened #2154 "How difficult would it be to use patch release milestones"
I think it would be nice to begin to depreciate the [`next-candidate`](https://github.com/kubernetes/kubernetes/milestone/17) milestone which seems to also serve as a graveyard for forgotten issues. Given that the current tooling for creating patch releases is still keyed off of the minor release branch and uses cherry pick labels to move PRs into patch releases I am wondering how much work would

[2017-03-07 01:32] ixdy commented on #2034
kubectl skew jobs are running: http://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#Summary

[2017-03-07 01:58] ixdy commented on #2029
Need someone to triage http://k8s-testgrid.appspot.com/release-1.6-blocking#Summary but I think my work here is done.

[2017-03-07 01:58] #2029 closed

[2017-03-07 02:11] ixdy commented on #2034
Did we intentionally exclude 1.4 - 1.6 GCE upgrade jobs from this list? @pwittrock

[2017-03-07 02:11] ixdy commented on #2034
cc @skriss

[2017-03-07 02:18] skriss commented on #2034
The 1.3 - 1.5 GCE jobs were excluded last time around per https://groups.google.com/forum/#!topic/kubernetes-release/g_aUkjw_E38

So I don't think they're critical, but nice-to-have

[2017-03-07 02:47] ixdy commented on #2133
UNSUBSCRIBE

[2017-03-07 02:48] fejta commented on #2133
/assign @ixdy

[2017-03-07 02:49] ixdy commented on #2133
/unassign

[2017-03-07 02:59] fejta commented on #2133
IT WORKS!!!11!!one!!1

[2017-03-07 18:25] fejta commented on #2133
/assign @spxtr @grodrigues3

[2017-03-07 18:26] fejta commented on #2133
/unassign @spxtr

[2017-03-07 18:26] fejta commented on #2133
/assign @spxtr

[2017-03-07 18:27] fejta commented on #2133
/assign @fejta

[2017-03-07 18:38] fejta opened #2164 "test 2"
This is sad?
/assign @spxtr
/assign @fejta
/assign @grodrigues3 @ixdy

[2017-03-07 18:44] spxtr commented on #2164
/close

[2017-03-07 18:44] #2164 closed

[2017-03-07 18:45] fejta commented on #2133
/assign @fejta

[2017-03-07 18:45] fejta commented on #2133
/close

[2017-03-07 18:45] #2133 closed

[2017-03-07 18:46] fejta commented on #2164
/assign @krzyzacy

[2017-03-07 18:46] krzyzacy commented on #2164
/assign @k8s-ci-robot

[2017-03-07 18:48] fejta commented on #2164
/unassign

[2017-03-07 18:50] krzyzacy commented on #2164
/assign @k8s-bot
/unassign @k8s-bot

[2017-03-07 19:29] yujuhong opened #2166 "Don't suggest approvers if the PR has already been approved"
Example:
https://github.com/kubernetes/kubernetes/pull/42264#issuecomment-284827752

[code]

The PR was approved, but the bot suggested (and cc'd) one more person, causing them to be notified.

[2017-03-07 19:30] fejta commented on #2166
/assign @grodrigues3 @apelisse

[2017-03-07 19:34] apelisse commented on #2166
This issue is already tracked by #2076

[2017-03-07 19:34] #2166 closed

[2017-03-07 19:46] ixdy commented on #2164
/unsubscribe

[2017-03-07 19:47] krzyzacy commented on #2164
/unsubscribe

does it work?

[2017-03-07 19:48] fejta commented on #2164
Could add it: https://developer.github.com/v3/activity/notifications/

[2017-03-07 19:50] ixdy commented on #2164
I don't think it'd work unless you did
/unsubscribe `<GITHUB_TOKEN>`

which seems like possibly a bad idea.

[2017-03-07 19:55] foxish opened #2169 "Test failures aggregated across different suites"
I find http://storage.googleapis.com/kubernetes-test-history/static/index.html very useful.
However, it would be nice to also be able to search/list by test names, and have the test failures show up.

For example:

[code]

While we're at it, a short URL for http://storage.googleapis.com/kubernetes-test-history/static/index.html would be awesome too :)

cc @fejta @spxtr @rmmh

[2017-03-07 19:58] krzyzacy commented on #2169
in the [triage dashboard](https://storage.googleapis.com/k8s-gubernator/triage/index.html) it will show a test failure across different jobs:

For instance
[code]

is this the same thing you are asking for?

[2017-03-07 20:02] foxish commented on #2169
Yes, that is very close to what I was looking for. Thanks. We should have short links and better discoverability for these. I don't think a lot of people know of its existence.

[2017-03-07 20:03] krzyzacy commented on #2169
This is fairly new, we will advertise the new goodies :-)

[2017-03-07 20:04] ixdy commented on #2169
Short links exist: https://go.k8s.io/test-history and https://go.k8s.io/triage

But agree that they need better visibility.

[2017-03-07 21:10] fejta commented on #2164
Gubernator can collect github tokens for people, we could make prow send gubernator a webhook @rmmh

[2017-03-07 22:20] apelisse commented on #2123
Technical note: I would like that we keep suggesting people by using the case of their choice

[2017-03-07 22:47] zmerlynn commented on #1795
How is it broken? http://cherrypick.k8s.io is easy enough to use.

[2017-03-07 23:07] fejta commented on #2074
Scenario-driven PR test is running: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/37868/pull-kubernetes-e2e-gce-canary/3/

[2017-03-07 23:09] fejta opened #2174 "Copy-pasteable command to rerun all failing tests"
/assign @spxtr

When I see something like the following:

@fejta: The following test(s) **failed**:

Test name | Commit | Details | Rerun command
--- | --- | --- | ---
Jenkins unit/integration | a904aa7824b5462147574469788953d45744f9dc | [link](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/37868/pull-kubernetes-unit/21247/) | `@k8s-bot unit test this`
pull-kubernetes-e2e

[2017-03-07 23:11] krzyzacy commented on #2174
@k8s-bot retest this

[2017-03-07 23:12] fejta commented on #2174
That is an equally good if not better solution

[2017-03-08 00:45] ixdy commented on #2112
seems somewhat related to https://github.com/kubernetes/kubernetes/issues/18432.

In https://github.com/kubernetes/kubernetes/pull/20102 we added a `framework.CoreDump` call before/after resizing nodes. Maybe we can do something similar here?

[2017-03-08 00:49] ixdy commented on #2112
cc @kubernetes/sig-testing-misc

[2017-03-08 00:52] mml commented on #2112
Yeah.  This is a specific case of kubernetes/kubernetes#18432.

[2017-03-08 01:29] fejta commented on #2074
Federation PR job is running: https://github.com/kubernetes/kubernetes/pull/37868#issuecomment-284917168

[2017-03-08 04:20] foxish commented on #2169
Closing. Thanks @fejta for making the announcement!

[2017-03-08 04:20] #2169 closed

[2017-03-08 18:20] spxtr commented on #1792
cc @kargakis

[2017-03-08 18:36] colemickens commented on #1792
Since I just saw #2185 and I've been dragging my feet on getting all of my notes posted... here's a few other quick ones I've noticed:

* lots of assumptions that GCE ServiceAccount is present. `line` adds secrets/configmaps to every job because every GCE job uses them, but they're meaningless for my uses.
* at least as of a month ago, there was a hostPort added to every job so that jobs would get

[2017-03-08 18:37] krousey opened #2188 "Clean up load balancers in janitor"
I've noticed that some projects have hit quota limits due to load balancers not being cleaned.

[2017-03-08 18:37] krousey commented on #2188
cc @spxtr

[2017-03-08 18:38] krzyzacy commented on #2188
@krousey can you give me a sample so I can verify

[2017-03-08 18:41] krzyzacy commented on #2188
Ok, I think the reason is I cannot find any api for load-balancer, from https://cloud.google.com/sdk/gcloud/reference/compute/ ?

[2017-03-08 19:00] krousey commented on #2188
Looking into it, it seems to be a combination of

  - Static IPs
  - Target Pools
  - Forwarding Rules
  - HTTP Health checks

Looking over this, it seems the janitor has these. I just have projects that are accumulating them quicker than janitor mops them up.

[2017-03-08 19:00] #2188 closed

[2017-03-08 19:55] krzyzacy commented on #2188
hummm one thing might be, http-proxy is cleaned up but not https-proxy, and it drags all the dependent resources, I'll make the change.

Maybe give me the name of the project, and I can double-check the log.

[2017-03-08 20:11] #2034 closed

[2017-03-08 20:11] ixdy commented on #2092
This is done now.

[2017-03-08 20:11] #2092 closed

[2017-03-08 21:07] #2076 closed

[2017-03-08 21:43] #2123 closed

[2017-03-08 21:44] apelisse commented on #1767
I think we can call this done. Thanks @grodrigues3 !

[2017-03-08 21:44] #1767 closed

[2017-03-08 21:47] spxtr commented on #1792
Just fixed that. Will need to come up with some way to cut back on boilerplate in config.yaml without hard-coding it.

[2017-03-08 21:50] crassirostris commented on #2123
Thanks!

[2017-03-08 21:53] ixdy opened #2196 "need way to remove `do-not-merge` label."
On https://github.com/kubernetes/kubernetes/pull/41581#issuecomment-285175154 I LG'd a PR that didn't yet have a release-note label. The bot yelled at me and then added `do-not-merge`.

If I don't have write access to the repo, I can fix the release note label (with /release-note-none), but then I'm stuck, since I can't remove `do-not-merge`.
I'm guessing the bot doesn't auto-remove it because it

[2017-03-08 22:02] spxtr commented on #2196
You are correct about why I didn't make it remove `do-not-merge`. The munger shouldn't add `do-not-merge`, it just shouldn't merge if it hasn't got a release note label.

[2017-03-08 22:31] spxtr commented on #1792
Might be worth looking at [kube-lego](https://github.com/jetstack/kube-lego) now that it's a bit more mature.

[2017-03-08 22:39] colemickens commented on #1792
* `marque`: really simple, no magic, a bit inflexible, something to maintain that might not be essential to maintain. Requires user to orchestrate proper Ingress rules.
* `kube-lego`: magical, a good number of things to deploy. Auto-creates Ingress objects to wire up the http challenge. (Bonus, already has a Helm chart)
* `kube-cert-manager` (PSGLuna's, not Kelsey's...): lots of different LE chall

[2017-03-08 23:12] MrHohn commented on #2196
I also wish this could be fixed sooner, have a similar stuck PR here kubernetes/kubernetes#42757 :(

[2017-03-08 23:15] ixdy commented on #2196
@MrHohn yeah, workaround for now is "find someone with repo write access".

[2017-03-08 23:51] ixdy opened #2200 "I should be able to /assign and /lgtm in the same comment"
In lieu of fixing #1916, I'd at least expect a comment like
[code]
to work, but it [apparently does not](https://github.com/kubernetes/kubernetes/pull/42231#issuecomment-285207670).

[2017-03-08 23:52] ixdy commented on #2200
/unassign

argh

[2017-03-09 00:37] fejta commented on #2200
Sounds like you want https://github.com/kubernetes/test-infra/pull/2118

[2017-03-09 01:00] ixdy commented on #2200
yes, I do! I thought that was blocked on prow understanding OWNERS.

[2017-03-09 01:08] spxtr commented on #1792
Yes. It looks pretty straightforward but I've never used it before.

[2017-03-09 02:00] fejta commented on #2074
/assign @madhusudancs

Any ideas?

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/37868/pull-kubernetes-federation-e2e-gce/53/?log#log
[code]

[2017-03-09 02:13] madhusudancs commented on #2074
I am debugging this. I still don't know the root cause, but it looks like the kubeconfig load isn't working. How do I try this with changes in my local test-infra repo?

[2017-03-09 03:20] fejta commented on #2074
/assign @krzyzacy
Any chance you can help out @madhusudancs with this tomorrow?

[2017-03-09 03:53] fejta commented on #429
We now ensure the SQ blocking list is correct

[2017-03-09 03:53] #429 closed

[2017-03-09 03:56] fejta commented on #190
/assign @timstclair @vishh @ixdy

Will the three of be able to resolve this during the 1.7 timeframe?

Otherwise I woud like to delete these VMs and jobs in July.

[2017-03-09 03:56] fejta commented on #79
I'm pretty sure kubetest handles this correctly now.

[2017-03-09 03:56] #79 closed

[2017-03-09 03:56] fejta commented on #119
How about now :grin:

[2017-03-09 03:57] fejta commented on #61
Unfortunately I don't see this happening any time soon.

[2017-03-09 03:57] #61 closed

[2017-03-09 04:00] fejta commented on #544
/assign @michelle192837

[2017-03-09 04:01] fejta commented on #612
Any progress here?

[2017-03-09 04:01] Random-Liu commented on #544
@fejta Thanks a lot! This will be super helpful to us!

[2017-03-09 04:01] fejta commented on #628
Dup of https://github.com/kubernetes/test-infra/issues/544

[2017-03-09 04:01] #628 closed

[2017-03-09 04:02] #697 closed

[2017-03-09 04:04] fejta commented on #951
I assume we don't need to do this

[2017-03-09 04:04] #951 closed

[2017-03-09 04:04] #987 closed

[2017-03-09 04:05] fejta commented on #1138
/assign
/close

We now create junit results in this scenario

[2017-03-09 04:05] #1138 closed

[2017-03-09 04:06] krzyzacy commented on #612
nope... muck with Jenkins is not a good idea, prow now label pods with `presubmit`, `postsubmit`, and `periodic`, maybe somehow we can use that information

[2017-03-09 04:06] #1382 closed

[2017-03-09 04:09] krzyzacy commented on #2074
sure, you should be able to trigger it locally by running

`bootstrap.py --job=pull-kubernetes-federation-e2e-gce -more -flags`

I'll need to try it out

[2017-03-09 04:11] fejta commented on #1400
Does this happen today?

https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L49
https://github.com/kubernetes/test-infra/blob/master/scenarios/kubernetes_build.py#L71
https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/build.sh

[2017-03-09 04:13] fejta commented on #1451
@rmmh tells me that github now sends webhooks for review comments. We can make gubernator, prow and/or mungegithub understand them, right?

[2017-03-09 04:14] #1448 closed

[2017-03-09 04:16] fejta commented on #1392
Not clear if there is anything to do here... I don't understand when update_owners.py would upload to gcs.

[2017-03-09 04:16] #1392 closed

[2017-03-09 04:17] fejta commented on #1531
Dup of https://github.com/kubernetes/test-infra/issues/1412

[2017-03-09 04:17] #1531 closed

[2017-03-09 04:18] fejta commented on #1634
/assign @apelisse @grodrigues3

[2017-03-09 04:19] fejta commented on #1633
/assign @foxish

[2017-03-09 04:20] #1734 closed

[2017-03-09 04:21] foxish commented on #1633
I don't thing the current setup needs change and we don't gain much from config files. We can close this probably. WDYT @apelisse?

[2017-03-09 04:21] bgrant0607 commented on #2143
FWIW, I made some comments about feature flags in the layers doc:
https://docs.google.com/document/d/1XkjVm4bOeiVkj-Xt1LgoGiqWsBfNozJ51dyI-ljzt1o/edit#

[2017-03-09 04:22] krzyzacy commented on #1998
this message is gone

[2017-03-09 04:22] #1998 closed

[2017-03-09 04:22] fejta commented on #1723
I like the #1962 format

[2017-03-09 04:23] apelisse commented on #1633
I wondered the same when I read the title of the issue. I find config files more painful to maintain that command-line arguments. Everything is already in a config anyway, so we have the best of both worlds. Let's keep it like this.

[2017-03-09 04:23] #1633 closed

[2017-03-09 04:27] apelisse commented on #1634
Now that I know more about this process, I'll actually add a comment to explain why it is this way ...

[2017-03-09 04:28] krzyzacy commented on #1878
pretty green?

[2017-03-09 04:28] #1878 closed

[2017-03-09 06:59] ixdy commented on #1400
not yet, but we'd like to start doing this.

[2017-03-09 08:23] madhusudancs commented on #2074
@krzyzacy thanks! This seems to be working so far.

[2017-03-09 19:33] rmmh commented on #119
Closed by #2156

[2017-03-09 19:33] #119 closed

[2017-03-09 20:51] bgrant0607 commented on #1916
I commented on this in the PR:

https://github.com/kubernetes/test-infra/pull/2118#issuecomment-285467089

[2017-03-09 23:56] krzyzacy commented on #544
seems it's still me :-) I'll take it.

[2017-03-10 00:00] krzyzacy commented on #1230
only pr jobs left

[2017-03-10 00:04] spxtr opened #2215 "Don't make a comment if the PR is already approved."
I make a PR that touches files that I own. The approval munger should add the `approved` label and not say anything. I don't want a giant comment saying "this PR is approved!" See [this comment](https://github.com/kubernetes/kubernetes/pull/42855#issuecomment-285525176) for an example, although it may get deleted at some point.

Also, once the last person says `/approve`, it should remove the old

[2017-03-10 00:04] krzyzacy commented on #1225
The structure is done, #1230 will track rest of the jobs.

[2017-03-10 00:04] #1225 closed

[2017-03-10 00:05] krzyzacy commented on #1061
Not on Jenkins timeout :-(

[2017-03-10 00:07] krzyzacy commented on #1654
we will need to match periodic jobs and testgrid along the way of migration.

[2017-03-10 00:07] ixdy commented on #2215
/approve

[2017-03-10 00:08] apelisse commented on #2215
IXDY Has APPROVED!!!!

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra non erat id consectetur. Suspendisse gravida tincidunt aliquam. Duis sit amet arcu et risus fermentum eleifend. Cras congue fringilla nibh, nec venenatis odio molestie ut. Proin facilisis dolor id odio egestas vestibulum. Pellentesque euismod eros eget magna pharetra, vel congue massa venenatis. Vestibu

[2017-03-10 00:12] apelisse commented on #2215
Would it make sense to just hide the biggest part of the message under \<detail\>?

[2017-03-10 02:05] krzyzacy commented on #2046
dup https://github.com/kubernetes/test-infra/issues/2074

[2017-03-10 02:05] #2046 closed

[2017-03-10 02:07] krzyzacy commented on #2059
there's instruction you can copy/paste from the k8s-bot comment?

[2017-03-10 02:09] fejta commented on #2059
/assign

FYI we are slowly making this change.

[2017-03-10 02:17] krzyzacy commented on #937
jenkins-timeout now gives 100min overhead, this seems historical, kill it.

[2017-03-10 02:17] #937 closed

[2017-03-10 02:18] #848 closed

[2017-03-10 15:29] wanghaoran1988 opened #2217 "Can we support ginkgo flag -untilItFails ?"
I want to run a e2e test until it fails, but found that the current e2e framework does not support the -untilItFails flag of ginkgo.
error:
Mar 10 23:27:56.452: INFO: Overriding default scale value of zero to 1
Mar 10 23:27:56.452: INFO: Overriding default milliseconds value of zero to 5000
flag provided but not defined: -ginkgo.untilItFails

[2017-03-10 20:29] ixdy commented on #2217
What command did you use to run tests?

[2017-03-10 21:59] kow3ns commented on #1740
/close

[2017-03-10 21:59] #1740 closed

[2017-03-11 05:13] wanghaoran1988 commented on #2217
@ixdy go run hack/e2e.go -- -v --test --test_args="--ginkgo.focus=.*Pod.*should.*avoid.*to.*annotation.*  --ginkgo.untilItFails=true"

[2017-03-11 06:11] Sevii commented on #2053
I made another PR which should produce the desired behavior. It ignores the auto-prioritization code in flake-manager.go.
@grodrigues3
https://github.com/kubernetes/test-infra/pull/2222

[2017-03-13 16:30] erictune opened #2224 "Objectively measure per-cloud-provider test setup quality"
It seems like many flakes that create issues in http:///github.com/kubernetes/kubernetes are in fact test setup failures.

We should measure test setup quality reliability in a way that is independent of the actual test code.
One possible implementation would be to have a test job that does cluster setup and tear down, but no test cases.

Exactly how many of these to have is something that needs t

[2017-03-13 17:05] #1750 closed

[2017-03-13 17:35] spxtr commented on #2224
I looked over a handful of flakes in the pull-kubernetes-e2e-gce-etcd3 suite, which is one of our flakiest. Only one would have been caught by a simple cluster setup and teardown.

* `Up` failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42988/pull-kubernetes-e2e-gce-etcd3/22043/
* `Test` failed, whatever that means: https://k8s-gubernator.appspot.com/build/kubernete

[2017-03-13 17:35] grodrigues3 opened #2225 "Fix Build Log Regex"
As I'm going through test flakes and trying to triage, I'm reviewing some of the build logs.  It's annoying to see things [like](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/789/?log#log):

`I0309 02:26:31.381] Mar  9 02:26:31.380: INFO: The status of Pod heapster-v1.3.0-beta.1-2135351031-t5hng is Running (Ready = false), waiting for it to be ei

[2017-03-13 18:59] mtaufen opened #2226 "Feature request: Track the order that tests ran in on a given node"
This would be useful for determining which tests interfere with other tests.

For example, some of the reboot tests do especially ugly things to take down a node (crash via intentional kernel panic, hard reboot, etc), and these can cause corruption that affects subsequent tests.

It would be *especially* useful to see failure rates for given orderings on go.k8s.io/triage.

[2017-03-13 22:14] spxtr opened #2229 "Occasional 404s when issues are created due to GitHub inconsistency."
When GitHub sends us a PR opened webhook, we sometimes need to query the API to learn more about the PR. Unfortunately, the fact that the PR is opened has sometimes not propagated to other parts of GitHub's API, so we get back a 404. This happens in both the heart plugin and more importantly in the trigger plugin when we do `GetPullRequestChanges`.

Maybe we should add a single retry on 404s? It w

[2017-03-14 14:58] justinsb opened #2236 "install_gcloud failing on kops/aws builds"
Creating an issue to track this long standing problem.

Based on the command line, AFAICT, kops builds are using a different image - they do not have https://github.com/kubernetes/test-infra/pull/1657  So this may be fixed if we switch images.

Install gcloud fails with:

[code]

One possibility is that kubernetes_kops_aws.py has a different default tag:

kubernetes_kops_aws.py
[code]

kubernetes.

[2017-03-14 15:38] grodrigues3 opened #2237 "/open to re-open issues"
Directly from a contributor:

@fejta

[2017-03-14 16:10] wanghaoran1988 commented on #2217
close this, let's track here: https://github.com/kubernetes/kubernetes/issues/43026

[2017-03-14 16:10] #2217 closed

[2017-03-14 17:36] #1769 closed

[2017-03-14 17:51] zmerlynn commented on #2236
As predicted, someone bumped one of the tags without bumping the other. cc @krzyzacy - we need to figure out a way to get common constants at least between scenarios.

[2017-03-14 17:54] krzyzacy commented on #2236
that's that... hummm how to write the test for this

[2017-03-14 17:54] fejta commented on #2236
IMO shouldn't this be by design?

[2017-03-14 17:56] fejta commented on #2236
AKA if they are different scenarios we want the ability to update one image without impacting a different scenario we didn't test.

[2017-03-14 17:56] krzyzacy commented on #2236
@fejta we want to include the fix for gcloud update here though

[2017-03-14 17:57] zmerlynn commented on #2236
@fejta: We either need separate images entirely, in which case we should be using something other than the very difficult manual process we have, or we should be keeping things in lockstep. Until there's an automated build here and we can build images for different derivative easily (so e.g. we can have a base container and then spawn builds for all the remaining and bump tags), I don't think this

[2017-03-14 17:59] bsalamat commented on #2217
Sorry, I didn't see this issue earlier. Otherwise, I wouldn't have created a duplicate.

[2017-03-14 18:00] krzyzacy commented on #2236
aka kops image does not have https://github.com/kubernetes/test-infra/pull/1902 - I think the default tag should be the same, and we can allow overwrite tags, like https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L1582

[2017-03-14 18:00] fejta commented on #2236
Disagree the default should be the same until we have a way of testing it before updating the image.

[2017-03-14 18:01] fejta commented on #2236
IMO these should not be the same image, and these should not use the same version.

[2017-03-14 18:02] zmerlynn commented on #2236
Then we need automated build/test.

[2017-03-14 18:02] zmerlynn commented on #2236
I disagree with keeping them separate until that's done. :)

[2017-03-14 18:03] fejta commented on #2236
It isn't hard to build/test -- just create a canary job like we do for the main image.

Perhaps a good goal for 1.7 is to put all this into a single image and scenario?

[2017-03-14 18:04] fejta commented on #2236
Aka moving all the logic into kubetest

[2017-03-14 18:04] zmerlynn commented on #2236
Has the method for e2e image testing changed?

[2017-03-14 18:05] fejta commented on #2236
For the main image: commit code whenever you want, then when you're ready to release and image you make -C jenkins/e2e-image push && start the kubernetes-e2e-gce-canary job and wait for it to finish. If that works then you update the scenario label

[2017-03-14 18:06] fejta commented on #2236
This canary job does not cover the kops logic so this should not include updating the kops default label

[2017-03-14 18:06] zmerlynn commented on #2236
That's. ... not a good test. You're only testing GCE.

[2017-03-14 18:06] zmerlynn commented on #2236
The old PR builder test was much more coverage.

[2017-03-14 18:07] zmerlynn commented on #2236
There's way more than kops using the e2e-image with non-GCE logic.

[2017-03-14 18:07] fejta commented on #2236
Not really, the only difference between GKE and GCE is the environment variable you set.

[2017-03-14 18:07] fejta commented on #2236
The cluster it starts is dramatically difference but the kubekins delta is trivial

[2017-03-14 18:09] fejta commented on #2236
Basically 380 of our 400 e2e jobs just send slightly different env varibles to ginkgo and cluster up. We don't need to test all that nonsense before updating the image.

I'm not sure about the kops changes and what testing of that needs to happen to update the image.

[2017-03-14 18:09] zmerlynn commented on #2236
So why should the kops image not derive from a common base image? I feel like that forces everyone that comes along to build a new infrastructure from the ground up. And if you have a common base image, you need a better test.

[2017-03-14 18:10] fejta commented on #2236
It can, it just shouldn't update with the other images

[2017-03-14 18:10] fejta commented on #2236
(since the default test doesn't validate kops still works)

[2017-03-14 18:11] fejta commented on #2236
(also, note that we have some other jobs pinned to a specific image tag until after code freeze)

[2017-03-14 18:11] krzyzacy commented on #2236
It's possible to make a new kops-e2e image with https://github.com/kubernetes/test-infra/blob/master/jenkins/e2e-image/Dockerfile#L62, and move it out of kubekins-e2e

[2017-03-14 18:12] zmerlynn commented on #2236
@fejta: If you can't alter the base image and have the others pick up improvements, you have to file separate bugs / PRs like this one and everyone is solving the same problems multiple times.

[2017-03-14 19:10] ethernetdan opened #2244 "Increase timeout on 1.6 master upgrade jobs"
Talking to @skriss it appears several of the the master upgrade jobs are timing out before completion.

I would recommend changing the timeout to 700+ minutes.

An example of this can be seen here: https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-gci-1.5-container_vm-1.6-upgrade-master

[2017-03-14 19:11] ethernetdan commented on #2244
@ixdy could you change this?

[2017-03-14 20:30] ixdy commented on #2244
#2247 sent, I just need someone to LG it

[2017-03-14 21:39] #2244 closed

[2017-03-14 21:52] apelisse commented on #2215
Does [this](https://github.com/kubernetes/kubernetes/pull/43096#issuecomment-286564463) look better? We still have to somehow update the message in case the file list has changed.

[2017-03-14 21:57] apelisse commented on #2215
@ixdy @spxtr

[2017-03-14 21:59] ixdy commented on #2215
Does it need to comment if it's approved? IMO the only time it should comment is if there's some action a human needs to make. (We don't make a comment when all tests pass, for comparison.)

[2017-03-14 22:02] apelisse commented on #2215
Yeah I think it's nice to be able to check who has approved what. Should we add a new comment when it's not approved, and edit the last comment when it's finally approved?

[2017-03-14 22:03] spxtr commented on #2215
Nice, the `<details>` bit makes it a lot better.

I still agree with Jeff that if there is no action for a human to take then it should make no comment/delete the old comment.

[2017-03-14 22:05] grodrigues3 commented on #2215
It's hard to notice a comment that was edited vs deleting the old one and creating a new one.  I think the new comment style is much less noisy and I'm fine with it as is

[2017-03-14 22:22] rmmh commented on #2054
What happens if a node goes offline while running jobs?

[2017-03-14 22:51] spxtr commented on #2054
Which node? If it's the node with the controller on it then k8s will start a new pod on a new node, and since it stores all memory in TPRs on etcd, we won't even notice.

If it's a node running a build pod then the controller may want to restart it. Currently, `cmd/line` does not restart in this case, and it's never happened before.

[2017-03-14 23:07] #2215 closed

[2017-03-15 00:48] krzyzacy commented on #2236
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/5403

looks fine now

[2017-03-15 00:48] #2236 closed

[2017-03-15 00:51] spxtr opened #2254 "Don't hard-code kubernetes-security stuff"
e1f836f75a990eafa0c582e942be2aec82bc23e4 and aa423245239c5d9847b48936e2d06b3a6b291542 fool prow into thinking that `kubernetes-security/kubernetes` is the same as `kubernetes/kubernetes`. This should be put in the config. Maybe we should say in `config.yaml`:

[code]

This makes some of the other code more complicated, but it's not too bad.

cc @jessfraz

[2017-03-15 03:40] justinsb commented on #2236
Thank you all for fixing :-)

[2017-03-15 05:01] madhusudancs opened #2258 "Federation PR e2e tests should be able to run on multiple PRs in parallel"
Federation PR e2e tests stopped recycling clusters every run. Federation control plane by default gets created in `federation-system`. This inhibits the ability to run these PR tests on multiple PRs in parallel. This needs to be fixed.

cc @csbell @kubernetes/sig-federation-bugs

[2017-03-15 05:05] madhusudancs opened #2259 "Federation PR e2e tests shouldn't fail when the clusters are being recycled."
Federated clusters required for federation PR e2e tests are recycled only once a day and it happens in the background. Any PR test that runs when the clusters are being recycled will fail. We need a locking mechanism to avoid these failures.

cc @csbell @kubernetes/sig-federation-bugs

[2017-03-15 05:51] fejta commented on #2074
/unassign
Should we /close?

[2017-03-15 07:21] madhusudancs commented on #2074
Yeah, let's close this. It is fixed. Thanks for making this happen!

[2017-03-15 07:21] #2074 closed

[2017-03-15 17:59] grodrigues3 commented on #1790
@liggitt that's confusing.  I've seen  the out of sync when a person manually adds the label, but in this case it looks like it's has an irrelevant owners file listed

None of the 5 files modified in the PR seem relevant to that PR.  I expect if I delete the comment it will update correctly.  Did the commit get updated at someone point with changes to files in the plugin dir getting removed?

cc @

[2017-03-15 18:09] apelisse commented on #1790
Yeah, that's because we refresh the comment on two conditions (AFAICR):
- Somebody has typed `/approve` or `/lgtm` (with or without cancel).
- there is a new push to the PR.

Not when:
- The approved label is added/removed

Though approve label change is usually caused by "Somebody has approved/removed approval", it's not always true (OWNERS file change for example), so there are situations where

[2017-03-15 18:50] spxtr commented on #2229
Should be fixed.

[2017-03-15 18:50] #2229 closed

[2017-03-15 22:53] #1916 closed

[2017-03-15 23:27] #1640 closed

[2017-03-15 23:29] grodrigues3 commented on #2225
/priority p3

[2017-03-15 23:34] grodrigues3 commented on #2225
/priority p3

[2017-03-15 23:51] grodrigues3 commented on #2225
/priority p3

[2017-03-15 23:51] grodrigues3 commented on #2225
/priority P3

[2017-03-15 23:51] grodrigues3 commented on #2225
/priority p2

[2017-03-15 23:55] spxtr opened #2268 "label plugin next steps"
- [x] Add it to k/k :)
- [x] Make it case-insenstive: `/priority p3` doesn't work, but it should probably add the `priority/P3` label.
- [x] [Make it work](https://github.com/kubernetes/test-infra/issues/2445) in issue and PR bodies when they open. Currently only works for issue comments. See the [assign](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/assign/assign.go) plugin fo

[2017-03-15 23:55] ixdy opened #2269 "panic in kubetest"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.5-gci-1.6-upgrade-master/34?log#log
[code]

(also, go1.6.2? is that right?)

[2017-03-15 23:55] spxtr commented on #2268
/kind velocity-improvement

[2017-03-15 23:58] fejta commented on #2269
/assign

[2017-03-16 00:15] krzyzacy commented on #2269
/usr/local/google/home/fejta/golang/1.6.2

wait, did @fejta trigger it locally?

[2017-03-16 00:16] idvoretskyi commented on #1641
Subscribed (as we need the similar for the features repo as well).

[2017-03-16 00:26] krzyzacy commented on #2200
/lgtm

[2017-03-16 00:27] krzyzacy commented on #2200
https://github.com/kubernetes/test-infra/pull/250#issuecomment-286905508

[2017-03-16 00:27] #2200 closed

[2017-03-16 10:13] wanghaoran1988 commented on #2217
@bsalamat It really doesn't matter, cause in the different repo.

[2017-03-16 19:05] ixdy commented on #2269
@krzyzacy kubetest is prebuilt, so it's showing whatever @fejta has installed on his machine

[2017-03-16 19:09] krzyzacy commented on #2269
ah whoever built the image will have the prestige :-)

[2017-03-18 15:45] roberthbailey opened #2291 "check_projects.py runs too fast"
When I run check_projects.py after a while I start to see a bunch of these errors:

[code]

It looks like we are hitting the rate limits of making IAM calls. We should add a rate limiter to the python script to slow it down a bit and keep ourselves under the limit.

/cc @fejta

[2017-03-18 17:46] fejta commented on #2291
Just rerun the script a few times.

Imo not worth the investment making a script love this more robust given that we only run it one a year.

[2017-03-18 17:57] roberthbailey commented on #2291
Well, given how much drift we are seeing, we should be running it a lot more often. We should chat with @Kashomon to discuss how we can build some automation to manage these project permissions rather than re-running this script all the time.

[2017-03-19 18:34] justinsb opened #2300 "etcd versions"
AIUI the version of etcd that will be installed by default in k8s 1.6 is `3.0.17`, but we will continue to support `2.2.1`.

* Some of the jobs still specify `3.0.14` (e.g. ci-kubernetes-e2e-gce-etcd3-release-1.5.env, but maybe this is because it is 1.5?, but ci-kubernetes-e2e-non-cri-gce-etcd3 is more suspicious).

* Some of the jobs still specify `2.2.1`, despite not being designated `etcd2` (pu

[2017-03-20 18:59] ixdy commented on #2300
cc @wojtek-t @kubernetes/release-team

[2017-03-20 23:13] #1880 closed

[2017-03-20 23:23] ixdy commented on #2291
It looks like the main problem is that the script we use to create jenkins projects doesn't set the correct defaults.

[2017-03-21 08:46] wojtek-t commented on #2300
Fixed in https://github.com/kubernetes/test-infra/pull/2309

Those are kind of designated to etcd v2.

To clarify - the "ci-kubernetes-e2e-gce.env" is pretty much a copy of "ci-kubernetes-e2e-gce-etcd3.env" - the only difference is that one is using etcd v3 and the other etcd v2.
The same for the corresponding pull jobs.
Regarding canary - i think this is something experimental of test-infra team.

[2017-03-21 22:54] jfelten opened #2315 "cannot build prow"
WORKSPACE_DIR=workspace
mkdir -p $WORKSPACE_DIR
cd $WORKSPACE_DIR
git clone https://github.com/kubernetes/test-infra.git
cd test-infra
bazel build //prow/...

gives:

bazel build //prow/...
INFO: Found 116 targets...
ERROR: <REDACTED>/workspace/test-infra/vendor/BUILD:65:1: null failed: Process exited with status 1 [sandboxed].
k8s.io/test-infra/vendor/github.com/Sirupsen/logrus/terminal_linux.go:

[2017-03-21 22:57] jfelten commented on #2315
$bazel version
Build label: 0.4.5-homebrew
Build target: bazel-out/local-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Mar 16 13:39:33 2017 (1489671573)
Build timestamp: 1489671573
Build timestamp as int: 1489671573

$ go version
go version go1.7.3 darwin/amd64

[2017-03-21 22:59] fejta commented on #2315
What platform are you on? Also will you try cloning the repo to $GOPATH/src/k8s.io/test-infra?

[2017-03-21 23:00] fejta commented on #2315
/assign

[2017-03-21 23:06] ixdy commented on #2315
Looks like @jfelten is using darwin (i.e. MacOS), and we're trying to link against linux-specific code. This is https://github.com/bazelbuild/rules_go/issues/70 basically.

[2017-03-21 23:17] fejta commented on #2269
What happened to these 12 hours?

[code]

https://github.com/kubernetes/test-infra/blob/bb0669b017507eb4a55e33cf73fa304f5211b6ce/kubetest/util.go

Shows L191 blew up here: `syscall.Kill(-cmd.Process.Pid, syscall.SIGKILL)`

I'm not going to wait until we have more instances of this to deal with it.

[2017-03-21 23:22] fejta commented on #2315
Thanks

/assign @spxtr

It looks like we need something to deal with this: https://github.com/kubernetes/test-infra/blob/master/vendor/BUILD#L77

[2017-03-21 23:23] fejta commented on #2315
@jfelten I suspect as a workaround if you replace `terminal_linux.go` with `terminatel_bsd.go` in the above build rule it will unblock you.

Will let Joe figure out a more long term solution.

/unassign

[2017-03-21 23:26] ixdy commented on #2269
It's not hard to find other instances of this panic - using the triage tool https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Terminate%20testing%20after%2015m%20 yields a bunch like https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1.4/1063?log#log from yesterday.