[2017-10-13 17:45] enisoc commented on #4922
That may be another area for improvement. Maybe `/kind ...` should remove other labels that the bot considers mutually exclusive?

[2017-10-13 17:48] krzyzacy commented on #4927
huh? how do you use go without `$GOPATH` set?

[2017-10-13 18:10] xiangpengzhao commented on #4922
/kind bug
/kind feature
/kind cleanup
[test kind label]

[2017-10-13 18:13] xiangpengzhao commented on #4922
makes sense :+1:

[2017-10-13 18:25] BenTheElder commented on #4871
@stevekuznetsov that's definitely in my head on the list of cleanup things to do, I'd like to start by being completely compatible with bootstrap though so that we have less possible sources of breakage when transitioning and then come back and clean things up some more.

[2017-10-13 19:04] BenTheElder commented on #4994
/cc @krzyzacy do we want to doc this somewhere?

[2017-10-13 19:16] BenTheElder commented on #4989
this looks to be fine now. fixed in #4997 and #4998
/close

[2017-10-13 19:16] #4989 closed

[2017-10-13 19:16] krzyzacy commented on #4994
@ihmccreery what kubetest command are you running? I'm using `gcloud auth login` most of the time and seems that worked fine?

[2017-10-13 19:58] Random-Liu commented on #4976
`pull-cri-containerd-build` does work, but `pull-cri-containerd-node-e2e` is not. Is it related to `run_after_success`?

[2017-10-13 21:08] BenTheElder opened #5002 "flake in //robots/issue-creator/testowner:go_default_test"
[code]
spotted here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4974/pull-test-infra-bazel/8722/

[2017-10-13 21:25] BenTheElder commented on #5002
It seems to me all this test found in this flake is that PRNGs do not necessarily have an even distribution for some sampling. Not sure what we should do here.
/cc @cjwagner for context on this code

[2017-10-13 21:36] stevekuznetsov commented on #4871
SGTM

[2017-10-13 21:38] stevekuznetsov commented on #4871
I'm working on a controller (based on the k8s generated CRD informer+workqueue that will land soon) that I hope to use to watch `ProwJobs` and push data into GCS with based on state changes there. So much of the `{started,finished}.json` information is simply job configuration and start/stop time that Prow itself (or something watching the CRSs) can handle the upload of this data. This allows us t

[2017-10-13 21:50] BenTheElder commented on #4871
I think that falls under https://github.com/kubernetes/test-infra/issues/3342, I'm not sure what the plans are there. I think this is something we'd like (?) but nobody is actively looking into it currently AFAIK.

[2017-10-13 22:05] BenTheElder opened #5004 "kubetest / kubernetes_e2e: support running other kinds of tests against clusters"
We've had multiple requests to have a way to test against a live cluster without using ginkgo tests from k/k (eg for incubator projects), right now we have some special cases for `node-tests`, `perf-tests`, `charts`, ...

We should probably have something like `--test-cmd=./foo_test.sh` instead so that we don't need a new arg per project that uses kubetest.

/area kubetest
/assign

[2017-10-13 22:06] BenTheElder commented on #5004
/assign @krzyzacy

[2017-10-13 22:17] BenTheElder commented on #5004
/cc @seans3

[2017-10-13 22:32] cjwagner commented on #5002
I copied the testowners stuff from mungegithub when I split out the issue-creator.
I don't like the idea of non-deterministic tests, but this one might be appropriate? We could get rid of it entirely or minimize the chance of a flake to a low level by lowering the threshold of 200 down to something like 20.

[2017-10-14 00:35] BenTheElder commented on #4958
/assign
will be working on this next

[2017-10-14 01:06] BenTheElder commented on #5002
I'd be fine with removing the test entirely. I don't think unit testing the usage of a PRNG makes much sense and if we lower the threshold to 20 it isn't accomplishing much.

[2017-10-14 02:40] #3407 closed

[2017-10-14 03:27] #5002 closed

[2017-10-16 02:14] ScorpioCPH commented on #4927
@krzyzacy Hi, thanks for your reply!

I think `GOPATH` is not necessary, at least, for my local env, it works well without `GOPATH`.

I think it just depends on how you organize the sourcecode of your project int your workspace.

[2017-10-16 09:58] kargakis commented on #3339
In a model where plugins need to register to `hook`, we will need a way to reregister them in case hook gets redeployed. Likely, a model where hook tries to figure out what plugin services exist is a better one.

[2017-10-16 10:26] kargakis opened #5011 "Rename /verify directory to /hack or something"
There are a couple of scripts in the /verify directory that update stuff like bazel files or gofmt. It would be more intuitive to have a different name than `verify`.

cc: @cjwagner @spxtr

[2017-10-16 14:55] stevekuznetsov commented on #3339
Are we going to constrain it to services it can reach in-cluster, or will we want to support any URL in general? We could just copy the configuration that GitHub itself uses to deliver webhooks -- inside of `hook`, configure a list of URLs+tokens to push to.

[2017-10-16 14:58] kargakis commented on #3339
I am sold. I will try to prototype this either today or tomorrow.

[2017-10-16 17:46] krzyzacy commented on #4927
@ScorpioCPH hummm how do you get/build/run kubetest without `GOPATH` then?

[2017-10-16 18:18] abitrolly commented on #4711
@chenopis if Netlify integrates with GitHub as [GitHub App](https://developer.github.com/apps/building-integrations/setting-up-a-new-integration/about-integrations/) then it should only ask permission for commenting on PRs and not use your token.

Can you clarify the workflow a little bit more? With a diagram perhaps. Is there a prow endpoint that Netlify webhook sends data to?

[2017-10-16 18:45] chenopis commented on #4711
@abitrolly Ok, thanks for the suggestion. It doesn't look like it's a GitHub App right now, but I'm asking Netlify if they can do that.

Here is their documentation on their GitHub Notifications: https://www.netlify.com/docs/webhooks/#outgoing-webhooks-and-notifications

Here are screenshots of the workflow in their interface:
<img width="941" alt="screen shot 2017-10-16 at 11 40 51 am" src="https

[2017-10-16 20:03] dims commented on #4080
Looks like things are flowing again - https://github.com/kubernetes/kubernetes/issues/53808

[2017-10-16 20:03] #4080 closed

[2017-10-16 20:48] krzyzacy opened #5019 "pr-gpu-gce job is leaking custom sub-network"
open the issue for tracking

/assign @MrHohn
cc @mindprince @rmmh

@MrHohn thinks https://github.com/kubernetes/kubernetes/pull/53751 might break the deletion of subnetwork

We might want to flip back to auto-network until the issue is resolved?

[2017-10-16 20:50] mindprince commented on #5019
Yeah, let's remove `CREATE_CUSTOM_NETWORK` till we fix this.

[2017-10-16 21:38] spiffxp opened #5023 "follow kubernetes/kubernetes.github.io rename to kubernetes/website"
https://groups.google.com/forum/#!topic/kubernetes-dev/ciDH1BwVZSA

In theory we shouldn't need to care about this since the API redirects, but for consistency once the repo is renamed on oct 17th, it would be nice to adjust the related mungegithub deployments as well:
- https://github.com/kubernetes/test-infra/blob/master/charts/mungegithub/chart/values.kubernetes.docs.yaml
- https://github.com/k

[2017-10-16 21:48] #3844 closed

[2017-10-16 21:54] #4883 closed

[2017-10-16 22:16] BenTheElder commented on #4958
following up on this, `pull-kubernetes-cross` does a `make release` which we don't quite have the equivalent to yet, we do have something like `make cross` we could run on Prow/kubernetes which is close but we still need to be able to build docker images + tarballs

[2017-10-16 22:29] spxtr commented on #3339
We can store the remote plugins in a list in the config, and each plugin can have a service with the same name. Then, hook can just demux the webhook to each plugin service.

[2017-10-17 00:37] BenTheElder opened #5027 "bizzare govet flake (prow bug?)"
on https://github.com/kubernetes/test-infra/pull/5026, this happened:
![image](https://user-images.githubusercontent.com/917931/31641316-9b4c2f46-b298-11e7-814b-1d418cc3af74.png)
with this dead link:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/5026/pull-test-infra-verify-govet/4143/

#5026 only touches one python script, which makes this even weirder

[2017-10-17 00:41] BenTheElder commented on #5027
I think this happened because I force pushed a rewrite, you can only see one test result (green) here:
https://k8s-gubernator.appspot.com/pr/test-infra/5026

/cc @cjwagner @kargakis @spxtr

[2017-10-17 01:43] ScorpioCPH commented on #4927
@krzyzacy Hi, as i commented above, `kubetest` throw an error, but i don't know it is because `GOPATH` not set.

I must check the source code to figure out how to fix this error.

So i think maybe we can show more details about this error in error message.

[2017-10-17 03:44] xiangpengzhao opened #5029 "boskos does not have a free gce-project at the moment"
See in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/53926/pull-kubernetes-e2e-gce-bazel/35474/

Is this an potential bug or just a resource quota issue? @krzyzacy

[code]

[2017-10-17 04:19] krzyzacy commented on #4892
this time I got:
[code]

and
[code]

😕 maybe janitor also need to be a statefulset

[2017-10-17 04:21] krzyzacy commented on #4927
@ScorpioCPH so you manage to get a kubetest binary without `GOPATH` set? Try to understand your dev environment :-)

[2017-10-17 04:22] krzyzacy commented on #5029
/assign
ref https://github.com/kubernetes/test-infra/issues/4892#issuecomment-337113390

redeployed... gonna rewrite janitor tomorrow :-\

[2017-10-17 04:59] xiangpengzhao commented on #5029
@krzyzacy thanks!

[2017-10-17 04:59] marun commented on #4922
The issue with `kind/bug` is an interaction between the prow mention plugin, which automatically adds the tag if a *-bugs team is mentioned.  This means that removing the `kind/bug` label requires scrubbing an issue of all mentions of such teams or the plugin will keep adding it back.  The milestone munger should probably be targeting a team other than *-bugs, and the mention plugin should be igno

[2017-10-17 05:00] krzyzacy commented on #5029
things are back online now - Seems a gcloud crash destroyed the node (?), I'll close this and yield to #4892

[2017-10-17 05:00] #5029 closed

[2017-10-17 07:52] loburm opened #5032 "k8s-ci-robot closes PR in different repo without right to reopen it"
This has happened in https://github.com/kubernetes/heapster/pull/1844. Author has referenced in one of his comments PR from the test-infra. Once PR in test-infra was merged original PR was closed by the k8s-ci-robot, and looks like no one has a permission to reopen it.

[2017-10-17 11:05] ScorpioCPH commented on #4927
@krzyzacy I can build `kubetest` bianry without `GOPATH` set, as show below:

[code]

After updating `kubetest` binary, it begin to `make quick-release`, but it failed because `GOPATH` not set (no error message showed).

[2017-10-17 12:00] porridge opened #5033 "PR Dashboard: instructions refer to an non-existent button"
There is no such button on https://k8s-gubernator.appspot.com/pr/porridge

[2017-10-17 12:39] fejta commented on #5033
Use https://k8s-gubernator.appspot.com/pr/ and authorize GitHub.

@rmmh should we help people find this page?

[2017-10-17 12:43] porridge commented on #5033
That works, thanks. Adding such link on that page would help.

[2017-10-17 14:11] stevekuznetsov commented on #4892
Looks like you were scheduling to a bad node?

[2017-10-17 14:55] jdumars commented on #4922
@marun that would be ideal.  I would say during code slush/freeze keep 3 days for labels, but lower sig approval to 4 days, so it handles holiday weekends.

[2017-10-17 16:57] justinsb opened #5037 "How to test jobs locally without boskos?"
Splitting off from #5036 - the "create a new job" instructions https://github.com/kubernetes/test-infra#create-a-new-job suggest to run `$GOPATH/src/k8s.io/test-infra/jenkins/bootstrap.py`, but that now tries to talk to boskos.  Is it possible to test locally without boskos?

[2017-10-17 16:59] krzyzacy commented on #4892
@stevekuznetsov hummmmm how could I avoid that

[2017-10-17 17:04] krzyzacy commented on #5037
@justinsb set `--gcp-project=your-own-project` locally

[2017-10-17 17:04] #5037 closed

[2017-10-17 17:50] krzyzacy commented on #4698
Move to #4892

[2017-10-17 17:50] #4698 closed

[2017-10-17 17:52] krzyzacy commented on #4754
done

[2017-10-17 17:52] #4754 closed

[2017-10-17 17:52] #4368 closed

[2017-10-17 17:53] krzyzacy commented on #4420
eh, I did not noticed this is reopened - anything we still need?

[2017-10-17 18:07] luxas commented on #4420
@krzyzacy IMO, we should run the crossbuild as a CI job on the release branches **as well**. That's the easiest solution in order to get `dl.k8s.io/ci-cross/latest-1.X.txt` properly updated.
And then make the normal CI build do a crossbuild, but not push images

[2017-10-17 18:13] stevekuznetsov commented on #4892
Contact your system administrator? I'm not entirely sure what went wrong on that node but it doesn't seem like you (and your app) should be worried about the failure domains where the kubelet schedules you to a node with a broken container runtime

[2017-10-17 18:30] krzyzacy commented on #4892
😂 yeah I'll probably bug node or workload folks

[2017-10-17 21:23] spiffxp commented on #2699
fyi @stevekuznetsov since you mentioned an interest in prow healthchecks during today's sig-testing meeting

[2017-10-17 21:27] spiffxp commented on #3331
https://github.com/kubernetes/test-infra/pull/5010 may end up being a suitable replacement for the existing cherry-pick mungers

[2017-10-17 21:29] stevekuznetsov commented on #2699
Yep, we're tracking here and in some of the linked issues

[2017-10-17 22:08] BenTheElder commented on #4932
Discussed today at sig-testing meeting, we intend to make this reality. I've had to fix a few other things on the way but I'll have a PR to make this happen shortly and then we should notify the broader community.

Also @stevekuznetsov brought up some more good points about improving the test result bot comments which we should follow up with at some point.

[2017-10-17 22:19] cjwagner commented on #3331
The cherry-pick bot doesn't really replace the cherry-pick mungers because the mungers don't handle the creation of cherry-pick PRs.
However, the cherry-pick bot does replace the [hack/cherry_pick_pull.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh) script and will be much easier to use.

[2017-10-17 22:25] michelle192837 commented on #3126
This should be live!

[2017-10-17 22:25] #3126 closed

[2017-10-17 22:40] krzyzacy commented on #2699
Add to the thread: I'm working on some plugin stats in https://github.com/kubernetes/test-infra/pull/5028

[2017-10-17 23:35] BenTheElder commented on #4931
xref: https://github.com/kubernetes/test-infra/issues/4912

[2017-10-17 23:57] BenTheElder commented on #5032
/cc @cjwagner

[2017-10-17 23:58] BenTheElder commented on #3356
migrated etcd3 in https://github.com/kubernetes/test-infra/pull/5047

[2017-10-17 23:59] krzyzacy commented on #5032
is the original comment text something like `fixes kubernetes/heapster#1844`? This is a github thing afaik

[2017-10-18 00:05] BenTheElder commented on #5032
regardless of why it was closed, they cannot reopen the PR, which is itself a bug

[2017-10-18 00:07] BenTheElder commented on #4912
This is still a problem, I'm not sure what causes this but the kubeadm job shows up as "Yellow" on PRs in k/k very commonly (xref: https://github.com/kubernetes/test-infra/issues/4931)
/cc @luxas

We can "fix" this when #4932 is fixed but there is still a bug related to this somewhere and it will resurface if this job ever becomes blocking...

[2017-10-18 00:26] cjwagner commented on #5032
I just checked the logs and it doesn't look like Prow closed the PR, I think its because the issue was linked in the PR body.
As to why the `/reopen` command isn't working:
[code]
The relevant bit:
[code]

[2017-10-18 00:42] shyamjvs opened #5051 "Allow creating presubmit job with restricted access to trigger it"
We plan on adding kubemark-5000 and kubemark-2000 as optional presubmit jobs. But since they're resource-intensive and costly, we cannot afford to have them run for many PRs and they shouldn't be triggerable by everyone due to those concerns. Though we still need them for easy evaluation of performance effect of some PRs. So we need a mechanism by which the job can be triggered but only by few whi

[2017-10-18 00:51] BenTheElder commented on #5051
this would have to be done in the prow trigger plugin, I don't think it would be too hard to do
/area prow

[2017-10-18 01:08] marun commented on #4355
Isn't it required to create shadow issues in k/k for subprojects to ensure the release team can find all issues in one place?  If that's changed, then yes, automating milestone issue triage would be useful.

Likely rolling it out to other repos will need to wait until it is converted from a munger to a prow plugin.

[2017-10-18 02:34] #5019 closed

[2017-10-18 07:24] porridge opened #5052 "Result=SUCCESS despite `Tests 2 failed / 338 succeeded`"
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54062/pull-kubernetes-e2e-gce/72/

If these tests are not meant to affect the outcome, then they should be skipped. Current behaviour is confusing.

Pasting in case the logs go away:

[code]

[code]

[2017-10-18 07:40] fejta commented on #5052
This is intended and expected. Presubmits rerun failing tests in case they are not failing but just flaky.

Please follow up by filing issues with sig-apps and sig-storage noting that those two tests are flaky. Refer to http://velodrome.k8s.io/dashboard/db/bigquery-metrics for more comprehensive flake info (or kubernetes/test-infra/metrics)

[2017-10-18 07:40] #5052 closed

[2017-10-18 08:17] porridge commented on #2580
If you need more data points, I'm getting the "Exceeded soft private memory limit" error consistently on https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/19

[2017-10-18 08:28] porridge commented on #5052
If they were flaky, then perhaps they should be marked as such, rather than "failed"?
How about:

Result | SUCCESS
-- | --
Tests | 2 flaky / 336 succeeded

[2017-10-18 11:42] shyamjvs opened #5053 "Failing to find godep in 'ci-perf-tests-kubemark-100-benchmark' job"
The make target is continuously failing due to not finding 'godep' (ref: https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100-benchmark):

[code]

while running the make target locally works for me. Note that we're using the 'execute' scenario for the job.

/cc @krzyzacy Could you PTAL or redirect as apt?

[2017-10-18 17:20] chrislovecnm commented on #5032
This nailed us as well ... :(

It is reading all of the linked issues and closing them

[2017-10-18 17:46] krzyzacy commented on #5053
hummmm seems we lost `godep` in the image? I'll add that back

[2017-10-18 17:54] krzyzacy commented on #5053
nope it's running `go get -u github.com/tools/godep` though

[2017-10-18 18:41] spxtr commented on #5032
This is just an annoying GitHub feature. If a PR body or commit message says "fixes someorg/somerepo#12345" then when that PR is merged GitHub will close the thing. This is particularly annoying in commit messages, because sometimes when I sync my k/k fork I'll close random issues in other repos.

[2017-10-18 20:24] BenTheElder commented on #5053
should be fixed by #5056

[2017-10-18 20:25] BenTheElder commented on #5032
@cjwagner ah, I think I have an open issue about catching that error and reporting it to the user.

[2017-10-18 20:26] BenTheElder commented on #5032
https://github.com/kubernetes/test-infra/issues/4786

[2017-10-18 20:27] shyamjvs commented on #5053
That was fast! Thanks @krzyzacy :)

[2017-10-18 20:45] #5004 closed

[2017-10-18 21:23] krzyzacy commented on #4865
(seems we are going with the copy-paste for now, meh)

[2017-10-18 21:23] #4865 closed

[2017-10-18 21:27] chrislovecnm commented on #5032
Yah this may be different.  The issue was just mentioned, and the merge bot closed the issue NOT GitHub.

[2017-10-18 22:06] enisoc opened #5062 "[release-1.6] failed to acquire k8s binaries"
I'm seeing pull tests fail on the `release-1.6` branch due to:

[code]

Could this be related to the recent rename of some jobs? I tried `/retest` but it's persistent.

https://github.com/kubernetes/kubernetes/pull/54051

[2017-10-18 22:19] krzyzacy commented on #5062
cc @BenTheElder

[2017-10-18 22:19] BenTheElder commented on #5062
Agh, apparently push-build doesn't work for 1-6, will fork this job back to jenkins just on release-1.6 branch.

[2017-10-18 22:37] BenTheElder commented on #5062
Additionally the plan going forward is that release-1.6 will just use jenkins / dockerized builds unfortunately and that we will tie dropping jenkins back to dropping 1.6. I'm fixing this right now.

[2017-10-18 23:23] BenTheElder commented on #5062
this should be fixed in https://github.com/kubernetes/test-infra/pull/5063

[2017-10-18 23:23] #5062 closed

[2017-10-19 00:20] BenTheElder opened #5069 ""skipped" status is acting up"
I've observed today:

- PRs that should have `pull-kubernetes-cross` labeled as skipped (anything that doesn't touch build / the run_if_changed specifier) are sometimes showing "waiting on status"
- In https://github.com/kubernetes/kubernetes/pull/54051 I observed that upon `/test pull-kubernetes-bazel-test`, `pull-kubernetes-bazel-test` jumped down to green with "skipped" for ~30s (ish?) before i

[2017-10-19 00:21] BenTheElder commented on #5069
/cc @cjwagner @kargakis @spxtr

This forced https://github.com/kubernetes/test-infra/pull/5058 because we couldn't make `pull-kubernetes-cross` blocking with PRs not getting labeled properly.

[2017-10-19 00:32] krzyzacy commented on #3779
(nvm, I'll make soak behavior work within kubetest)
/area kubetest

[2017-10-19 06:34] porridge opened #5073 "Testgrid column headers' meanings are undocumented"
Some are pretty mysterious to a newcomer.
![0cebxbbzjqu](https://user-images.githubusercontent.com/489420/31757192-25645936-b4a8-11e7-8d37-24c00d58344e.png)

Also https://github.com/kubernetes/test-infra/issues/2364 is related.

[2017-10-19 07:10] BenTheElder commented on #5073
[code]
I believe improving this is already on the radar but you can also pretty easily match these fields up if you click through to Gubernator.
/area testgrid
/cc @michelle192837

[2017-10-19 07:27] #3339 closed

[2017-10-19 07:29] loburm commented on #5032
I'm ok with closing issues by PR, but why PR A is closed when PR B is merged, considering that PR B was just mentioned in PR A. By mentioned I mean no one used keyword as fixes, closes, etc.

[2017-10-19 07:34] BenTheElder commented on #5032
This is a GitHub feature. "k8s-ci-robot closed this in..." is misleading.
The robot merged the PR which caused *GitHub* to close the mentioned PR in
response because to GitHub PRs are also issues. We cannot change this
behavior unfortunately since it is internal to GitHub.

On Oct 19, 2017 00:29, "Marian Lobur" <notifications@github.com> wrote:

[2017-10-19 07:36] BenTheElder commented on #5032
If the robot had just closed it on its own you would see something like "closed by k8s-ci-robot" whereas "@user closed this in <PR link>" means merging the linked PR caused GitHub to close it.

[2017-10-19 07:44] loburm commented on #5032
Wow, that's really terrible feature. I'm surprised that I can't actually mention other PR's from the comments of different PR.

@BenTheElder Thanks for the explanation, I think that we can close it now.

[2017-10-19 08:02] kargakis opened #5074 "Controllers need to start handling termination signals"
We are observing jobs succeeding but github statuses staying stale. This suspiciously happened at the same time we redeployed the jenkins operator. I think we need to start handling termination signals in these controller loops.
[code]
/area prow
@cjwagner @spxtr

[2017-10-19 10:43] porridge commented on #5073
I think that should read:

[code]

For example for https://k8s-testgrid.appspot.com/sig-scalability-gce-scale#gce-scale-correctness&width=80 the *former* row contains e.g. c4d3c57f8 which is a valid kubernetes/kubernetes ID, and the *latter* row contains 923c0b0f4 9bee77673 74452465f 8f529fcab which are valid kubernetes/test-infra IDs:

[code]

[2017-10-19 10:45] porridge commented on #5073
And that brings me to another question: what is the meaning of the empty boxes in the `Tested commit` row? For example for job IDs 10 through 15 in the attached screenshot. Unknown commit? Should I report this as a separate issue?

[2017-10-19 14:10] shyamjvs commented on #5053
Seems like the issue still persists - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100-benchmark

[2017-10-19 17:38] krzyzacy commented on #5032
@loburm I think the problem is mention `fix|fixes #some-pr`, mention PR only is definitely fine. That original PR comment from https://github.com/kubernetes/test-infra/pull/5009#issue-265649379 might contain fix before author edited it?

[2017-10-19 17:38] castrojo opened #5078 "Testgrid should have a header explaining what it does"
Assuming I'm a new user and I run into: https://k8s-testgrid.appspot.com/

It'd be nice to have things like "What is this testing." "Why this is important to you", "How to file a bug on this service", "get your stuff on here" and so on. Right now it's just a grid with a bunch of stuff and I feel like I have to ask someone to walk me through it.

[2017-10-19 17:41] krzyzacy commented on #5053
@shyamjvs seems the go program crashed, can you give me more context?

[2017-10-19 17:45] shyamjvs commented on #5053
/assign

I'll take a look into it. It's some issue with the benchmark job configuration.

[2017-10-19 18:12] BenTheElder commented on #5032
@krzyzacy @loburm I'm pretty sure if you mention a PR in a comment it will be fine if you don't say fix|fixes, but I think you *also* might need to not link to it in the PR's opening comment.

[2017-10-19 20:04] #5074 closed

[2017-10-19 21:43] al-shmlan opened #5082 "bngooo PR Dashboard:"

[2017-10-19 21:51] fejta commented on #5032
We should disallow commit messages with fixes #foo

[2017-10-19 21:58] pipejakob commented on #2555
@fejta You're right. The jobs that I care about are run via prow, but so long as this support is added at some level that I can take advantage of, the specifics don't matter. I'll update the issue name/description to reflect that.

[2017-10-19 22:02] fejta commented on #2555
https://github.com/kubernetes/test-infra/tree/master/testgrid/config#email-alerts

[2017-10-19 22:02] #2555 closed

[2017-10-19 22:51] spxtr commented on #5032
Heh, I wish.

[2017-10-19 23:03] spiffxp commented on #3316
https://github.com/kubernetes/test-infra/tree/master/testgrid/config#email-alerts

Is this done?

[2017-10-19 23:07] cjwagner commented on #5032
We could block PRs with commits that contain messages like that. It could just manage a new `do-not-merge/` label.

[2017-10-19 23:15] spiffxp commented on #3258
Assuming we document how tide does its batch merges, I think this can be considered obviated by #3866

[2017-10-19 23:16] spiffxp commented on #3118
/close
I'm not sure if this is relevant anymore.  Please re-open if appropriate.

[2017-10-19 23:16] #3118 closed

[2017-10-19 23:18] spiffxp commented on #3117
/close
I think this was addressed by https://github.com/kubernetes/test-infra/pull/4454

[2017-10-19 23:18] #3117 closed

[2017-10-19 23:21] spiffxp commented on #3449
/close
I believe you can use release-specific dashboards for this?  eg: https://k8s-testgrid.appspot.com/sig-release-1.7-all for the release-1.7 jobs

Please reopen and clarify if I've misunderstood

[2017-10-19 23:22] spiffxp commented on #3330
/assign @krzyzacy
per v1.9 roadmap

[2017-10-19 23:25] spiffxp commented on #3331
/assign @marun
per sig-testing v1.9 roadmap

[2017-10-19 23:43] spiffxp opened #5085 "document our clusters"
There is interest in spinning up a cluster in a CNCF-funded non-google.com GCP org, such that we could put test-infra on there, and begin to open up support of this infra to non-google members of sig-testing.

What are the clusters we have today?  What runs where?  What would we want to migrate to a CNCF-owned cluster?

Initial sketch from asking in #sig-testing

Clusters
- prow
  - prow/cmd/*
- p

[2017-10-19 23:47] spiffxp opened #5086 "Use AWS-credited account for AWS jobs"
I've asked @idvoretskyi to provide credentials to test-infra

/assign @fejta
please assign to the appropriate person

[2017-10-19 23:49] spiffxp commented on #3348
/assign @rmmh
since you've got a PR out to address this

[2017-10-20 00:38] krzyzacy commented on #5086
/assign
/assign @zmerlynn
/unassign @fejta

I set up the current aws creds in prow, if you provide a new one I can swap them out :-)

[2017-10-20 00:52] fejta commented on #5086
Thanks Sen!

[2017-10-20 01:17] BenTheElder commented on #5069
/cc @cjwagner @kargakis @spxtr I'm seeing again that jobs jump to a green status briefly when triggering, is this a known behavior? When I put `/retest` on https://github.com/kubernetes/kubernetes/pull/46662 and observe first all of the retested jobs become green for a while and _then_ they become yellow...

[2017-10-20 01:21] BenTheElder opened #5089 "gubernator exceeding soft memory limit"
`Exceeded soft private memory limit of 256 MB with 344 MB after servicing 0 requests total`
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/19

I'm guessing the logs are too large? /cc @rmmh

[2017-10-20 01:24] BenTheElder commented on #5073
Yes. Infra-Commit is a newish feature, mostly people use the tested commit to bisect errors which you can do by dragging across the tests.

I'm not sure, looks like unknown commit, those jobs don't seem to have all of the metadata in `started.json` or `finished.json`

/cc @krzyzacy  @michelle192837

[2017-10-20 01:26] cjwagner commented on #5069
I have not noticed that behavior before.

[2017-10-20 01:32] #4786 closed

[2017-10-20 02:46] krzyzacy commented on #5073
Date (MM-DD)
Time
Job ID

Those three are always present, the others by default: https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config.yaml#L17-L19

and you can also customize that as https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config.yaml#L660-L666

@michelle192837 seems it is indeed not documented

[2017-10-20 04:15] idvoretskyi commented on #5086
@spiffxp new AWS accounts created, details DM'ed.

cc @krzyzacy @fejta

[2017-10-20 10:52] crassirostris commented on #3449
Sorry I wasn't clear

I was talking about PR jobs that have some milestone assigned to them or PR is based on some release branch

[2017-10-20 17:13] spiffxp commented on #5082
/close
not sure what this is about

[2017-10-20 17:13] #5082 closed

[2017-10-20 17:18] spiffxp commented on #5073
/assign @michelle192837
yeah fixing this is on the v1.9 sig-testing roadmap

for now, the lo-fi way of reverse engineering it as a human is to check out the testgrid config, or infer from metadata fields that are display in gubernator

[2017-10-20 17:22] michelle192837 commented on #5073
Yup, will be adding column header description/hints.

Didn't realize there's no documentation on it either; I'll see about adding it.

[2017-10-20 17:28] spiffxp commented on #840
/close

we have e-mail based alerting https://github.com/kubernetes/test-infra/tree/master/testgrid/config#email-alerts

we're using it for presubmits at the moment

build-cop role is being retired https://groups.google.com/forum/#!topic/kubernetes-dev/7ItITLWsfNM

[2017-10-20 17:28] #840 closed

[2017-10-20 17:43] spxtr commented on #5085
prow can presumably run in the same project or cluster as the others. prow-builds needs to be in its own project to isolate untrusted code from the secrets.

[2017-10-20 17:45] spiffxp commented on #3323
/unassign @Q-Lee
/assign @michelle192837
per sig-testing v1.9 roadmap

[2017-10-20 17:51] spiffxp commented on #5033
/kind documentation

[2017-10-20 17:56] spiffxp commented on #5078
/area testgrid

[2017-10-20 17:58] spiffxp commented on #4646
/assign @krzyzacy
per sig-testing v1.9 roadmap

[2017-10-20 18:13] #5023 closed

[2017-10-20 19:01] spiffxp commented on #3374
The aformentioned issue has been deployed and closed.  We now have https://k8s-testgrid.appspot.com/sig-node-cos-image which is grouped under sig-node on https://k8s-testgrid.appspot.com/

@yguo0905 does this meet your needs, or are you thinking you'd like to keep this open until you've created a different dashboard scheme to take advantage of this?

[2017-10-20 19:07] spiffxp commented on #3392
/area kubetest
per the above comment

[2017-10-20 19:07] spiffxp commented on #4791
/close
closing as dupe of #3392

[2017-10-20 19:07] #4791 closed

[2017-10-20 19:10] spiffxp commented on #3392
@fejta which method, `writeMetadata()`?

[2017-10-20 20:59] spiffxp commented on #3341
/close
we've got https://github.com/kubernetes/test-infra/blob/master/prow/getting_started.md courtesy of @spxtr

[2017-10-20 20:59] #3341 closed

[2017-10-20 21:05] spiffxp commented on #3345
@kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort  Is this something maybe better suited to being measured through http://devstats.k8s.io ?

[2017-10-20 21:08] spiffxp commented on #3360
/close
Given that we're taking a stab at removing .env files entirely via https://github.com/kubernetes/test-infra/issues/3362 I doubt this is useful.  We can always re-open if we change our minds.

[2017-10-20 21:08] #3360 closed

[2017-10-20 21:14] spiffxp commented on #3361
Agree regexes seem to work alright.

SIG's need to see test cases failing that they don't own, for jobs they do own.  eg: sig-scalability needs to know if large clusters fail test cases owned by other sigs, sig-network needs to know if cluster configured with a feature they own fail the usual set of test cases, etc.

There are probably other issues open for this, but would rather see the gap close

[2017-10-20 21:16] grodrigues3 commented on #3345
Yes devstats sounds like the right place for that.  And I think it makes an attempt and getting review load distribution.

Can you add your suggestion for review round latency to https://github.com/cncf/devstats as an issue?

I'll let you close this after you've moved the issue there.

[2017-10-20 21:19] spiffxp commented on #3338
every discussion I see of this talks about maintaining a consistent status quo to make it easier for us to one day do the refactor, that's why I bumped to 2018-goals... is there something we need to do in 1.9 timeframe to ease the bazel pain?

[2017-10-20 21:21] spiffxp commented on #4040
/assign
/kind documentation
I'm arbitrarily adding to v1.9 milestone because I can probably help document the status quo, but if @michelle192837 has some more in depth in mind we can punt to 2018-goals

[2017-10-20 21:24] spiffxp commented on #3787
I didn't see anything concrete in v1.9 sig-testing roadmap about this, so took a best guess and added to 2018-goals

[2017-10-20 21:28] BenTheElder commented on #3338
@spiffxp we just forged ahead and forked the jobs with copy + paste and then I'm working to deprecate config.json as we move off of jenkins, the bazel jobs specify branch specific args in the podspec now. (https://github.com/kubernetes/test-infra/pull/4942 for the bootstrap tweak). This has worked OK so far.

[2017-10-20 21:52] spiffxp commented on #5032
The "annoying feature" https://help.github.com/articles/closing-issues-using-keywords/

[2017-10-22 01:46] justinsb opened #5120 "GCS bucket for kops jobs?"
kops prefers to store cluster state (the k8s API objects for the cluster, along with the cluster level secrets like the CA keypair etc) in a GCS / S3 bucket.  We have an S3 bucket (`s3://k8s-kops-jenkins/`) that the test-infra AWS account can access.  For GCE clusters, it is much easier if this is a GCS bucket that the GCE service account has access to.  I know we set up a DNS name already, but I

[2017-10-22 06:02] krzyzacy commented on #5120
somewhere within gs://kubernetes-jenkins should be fine

[2017-10-22 21:26] justinsb commented on #5120
This does have the kubeconfig (or enough information to generate one), so it might be safer not to have it be in a world-readable bucket.  That said I believe we lock down API access by IP, so it wouldn't be catastrophic, but it would be one mistake away, instead of two mistakes away...

[2017-10-23 01:25] krzyzacy commented on #5120
@justinsb to clarify, so you want me to create a `k8s-kops-gce-jenkins` bucket with some restricted access (only by the gce service account)?

[2017-10-23 03:30] justinsb commented on #5120
Yes - that would be wonderful - thank you @krzyzacy .

I feel like we might already have one but if so I don't know what it is, and creating a new one is probably easiest.  The name doesn't really matter, so if you prefer a different name (e.g. getting rid of the word "jenkins" - that is fine with me :-) )

[2017-10-23 05:44] krzyzacy commented on #5120
ack, I'll to that Monday

/assign

[2017-10-23 13:38] xiangpengzhao opened #5124 "Stale release note isn't deleted"
Example: https://github.com/kubernetes/kubernetes/pull/54379#issuecomment-338543846

Stale comment isn't deleted after release-note* label being added.

[2017-10-23 15:58] shashidharatd opened #5126 "Jobs for federation in k8s.io/federation repo"
This issue is to track all the tasks involved in moving federation out-of-core kubernetes.
federation code will be hosted in `https://github.com/kubernetes/federation` repo.

So we need to move development to this new repo and all the CI jobs too.
Here is a document which explains briefly the needed CI jobs for federation. https://docs.google.com/document/d/1wkqf-3EZY2xlQNqzWdaA8izibdR8ycR14Nl0tID

[2017-10-23 16:38] spiffxp commented on #3514
/close
not enough info to repro or diagnose here, please open another issue if you see OWNERS-related misbehavior

[2017-10-23 16:38] #3514 closed

[2017-10-23 16:44] spiffxp commented on #3476
Assigning to milestone v1.9 since it seems like something we can get done while we're in the midst of migrating mungers away from mungegithub to prow.

What's the right compromise for now vs. too much scope that it'll get kicked to "next time"
- manually maintained table in prow/plugins/README.md
- prow/plugins/foo/README.md for all plugins
- help encoded in way that we could extract it from plugi

[2017-10-23 16:51] #5053 closed

[2017-10-23 16:54] spiffxp commented on #3533
This would be a nice thing to fix, but I think we're working on migrating to prow

@cjwagner are we holding off on any further fixes to the approval-handler munger until migration to prow

[2017-10-23 16:56] spiffxp commented on #3508
Assigning to the v1.9 milestone to make docs more clear (if they aren't already)

[2017-10-23 17:15] spiffxp commented on #3582
/assign @grodrigues3
The work you're doing to propagate labels includes sig labels, which should resolve this.  I'm mentioning #4343 as a label sync umbrella issue.  Adding to v1.9 milestone as I expect this be done prior to kubecon.

[2017-10-23 17:18] spiffxp commented on #3580
fyi @cjwagner something else to consider around approval-handler

I think today it's still possible to manually add the `approved` label and circumvent the approval process entirely.

[2017-10-23 17:35] grodrigues3 opened #5128 "[prow] size plugin: add a comment when adding size label"
It seems likely moving the size munger to a prow plugin affected some people's workflow.  The bot used to leave a comment indicating the size label it was adding, which some used for email filtering.  Can we add a comment back in for this?

/assign @cblecker

/cc @thockin

[2017-10-23 17:41] spiffxp commented on #3450
Repro'd with the newly linked PR, steps I took are in the PR description.

/assign @cjwagner
since I think you're working on migrating approval-handler to prow, or maybe for now could gather logs related to the above PR to figure out what's going on?

[2017-10-23 17:43] spiffxp commented on #3662
/remove-area mungegithub
triage-filer has been migrated to robots/issue-creator

[2017-10-23 18:16] spiffxp commented on #3662
[186 issues total](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Akind%2Fflake%20author%3Ak8s-merge-robot%20%22Failure%20cluster%22)
[150 issues closed](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Akind%2Fflake%20author%3Ak8s-merge-robot%20%22Failure%20cluster%22%20is%3Aclosed)
[58 issues closed by the bot after 90 day

[2017-10-23 18:16] #3662 closed

[2017-10-23 19:00] chrislovecnm commented on #5032
The coresponding issue? This is not corresponding. This smells like a github bug

[2017-10-23 19:04] spxtr commented on #5128
We can consider adding and then immediately removing the comment.

[2017-10-23 19:23] BenTheElder commented on #5128
How does this workflow handle PRs that change size? Can we point people to EG https://k8s-gubernator.appspot.com/pr ?

Just discussed this at standup, this was the previous behavior with mungegithub right?

/area prow
/cc @cjwagner @kargakis

[2017-10-23 19:25] cblecker commented on #5128
Yeah, previous functionality was to comment and then clean it up. Does prow handle cleaning up stale comments?

[2017-10-23 19:33] #4472 closed

[2017-10-23 20:05] shyamjvs commented on #5051
Ping @BenTheElder - we need this asap to allow scalability testing on PRs. It's blocking adding those presubmit jobs.

cc @porridge

[2017-10-23 20:06] shyamjvs commented on #5051
Could you (or someone else from sig-testing) look into this? I'd also be happy to take it up if you could give me some pointers on how to do it.

[2017-10-23 20:49] BenTheElder commented on #5051
cc @cjwagner @kargakis

This would need to be some kind of extension to [the trigger plugin](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/trigger) which is straight-forward enough but I'm not sure how we want to configure this.

Another option that might work in the meantime if you just want to have it only run on some PRs is to use a `run_if_changed` regex to only trigger for

[2017-10-23 20:53] BenTheElder commented on #4642
Adding a note: the networking quota issue has been solved for this job and the fix is being rolled out to other jobs (thanks @MrHohn !)

[2017-10-23 20:54] krzyzacy commented on #5120
@justinsb I created `k8s-kops-gce`, can you just make sure yourself does not have access to the bucket?

[2017-10-23 20:55] cjwagner commented on #5128
@BenTheElder  Yes that was the previous behavior.
@cblecker Prow does offer stale comment deletion now, but I don't think that is exactly what is being suggested. Creating and then immediately deleting the comment wouldn't require any stale comment identification logic and more importantly wouldn't require listing the comments on the issue.

[2017-10-23 21:02] cjwagner commented on #3580
Yes manually adding the `approved` label will work, but the notification message will be wrong in that case.
I'll fix this in the approve plugin.
/assign

[2017-10-23 21:03] cjwagner commented on #3533
I'll fix this in the approve plugin.
/assign

[2017-10-23 21:20] cjwagner commented on #3450
To determine if a previous notification is stale, the munger just checks that there is not a `/lgtm` or `/approve` comment made after the previous notification was posted. In other words, the update logic for the notification message (not the label itself) does not consider updates that result from pull request synchronizations.
I'll fix this in the approve plugin.
/assign

[2017-10-23 22:12] cjwagner commented on #5051
Configuration is definitely the real question. The actual check would just ensure that the trigger comment was made by a member of the allowed user set.
To configure the set of allowed users by job I see 2 options, both of which involve adding a new field to each job type [here](https://github.com/kubernetes/test-infra/blob/master/prow/config/jobs.go#L27).
1. Add an `authorizedTeam` field to each

[2017-10-24 01:34] justinsb commented on #5120
@krzyzacy - thanks - I have no access to that bucket :-)  Will switch the other PR to use it!

[2017-10-24 01:34] #5120 closed

[2017-10-24 03:06] justinsb opened #5142 "`bazel run //scenarios:kubernetes_e2e_test` failing locally"
Seeing this error:

[code]

And indeed:
[code]

[2017-10-24 17:23] kargakis commented on #5128
FWIW I don't want the email about the size of my PR. Can't find any use to
it. If the bot starts commenting about every label it adds, our email
backlog ends up being a nightmare. And I really don't want to block the bot
because it also adds useful comments every now and then (eg. test failures).

On Mon, Oct 23, 2017 at 10:55 PM, Cole Wagner <notifications@github.com>
wrote:

[2017-10-24 20:05] fejta commented on #3476
@cjwagner aren't you working on this? /assign it if so?

[2017-10-24 20:06] fejta commented on #3369
Design doc: https://docs.google.com/document/d/1-ApXgeMOv6m79c3R1cLi3_t_xN5XANE_7vwtB0yFHmM/edit

Sounds like @stevekuznetsov has already done some of this work?

[2017-10-24 20:10] stevekuznetsov opened #5152 "Common set of tags for Prow logging"
As an administrator of a Prow cluster, I need the default logging level of all of the components to give me enough detail to follow:

 - a PR
 - a GitHub event
 - a ProwJob

From inception to completion. I would like to see annotations/JSON fields that let me use a tool like EFK to query across all components and see, for instance:

 - the initial webhook delivery into `hook`
 - which plugins act

[2017-10-24 20:11] stevekuznetsov commented on #5152
This, in tandem with #2699 should make administration much easier. @spiffxp can we add this to the current milestone?

[2017-10-24 20:19] cjwagner commented on #3476
/assign

[2017-10-24 20:58] spiffxp commented on #3866
Want to make sure we support https://github.com/kubernetes/sig-release/issues/26

Other blocks that came up during sig-testing meeting:
- ~A front end for tide that shows merge requirements and history~ (that's the web ui checklist item above, natch)
- We need to either stop reporting non-required contexts to github or make tide aware of which contexts are required.

[2017-10-24 20:59] spiffxp commented on #3476
Discussed during sig-testing, sounds like plan of record is to add a uri to prow that will display help for all currently configured plugins.  Possibly on a per-repo basis.

Maybe still room for a README that shows all potential plugins? I'll look to see if it appears worth the effort vs. just another thing that stagnates

[2017-10-24 21:08] kargakis commented on #3866
ref: https://github.com/kubernetes/test-infra/issues/4932

[2017-10-24 21:13] kargakis commented on #3866
The issue with tide not being aware of which contexts are required is when leftover contexts that are not required are broken or when a new blocking job is added and its context is missing from all PRs. I think fixing #4932 and making sure tide knows what jobs are required will get us what we want.

[2017-10-24 21:27] spxtr commented on #5128
Tim (and probably a few others) use the size comment to color their email threads so that they can prioritize small PRs.

[2017-10-24 21:43] spxtr commented on #3866
I would like to live in a world where all green checkmarks on a PR means it will merge, and any red X means it will not. #4932 moves us there :)

One question is whether we want to build in a separate list of required contexts, or simply use always-run non-skip-reporting jobs from the config only.

[2017-10-24 21:47] cjwagner commented on #3866
I like the idea of just using the config, but we have some contexts that are not controlled by Prow, but should still be required. Notably the CLA context.

[2017-10-24 21:49] cjwagner opened #5156 "Make OwnersClient directory blacklist configurable."
This blacklist specifies any directories that should not be considered when looking for OWNERS files.
It is currently [hard coded](https://github.com/kubernetes/test-infra/blob/master/prow/owners/owners.go#L43) as `[".git", "_output"]`.

Requested in #5017 cc @kargakis

[2017-10-24 22:06] BenTheElder commented on #3866
At some point I think we ought to block on run_if_changed + non-skip_report
as well (IE cross)

On Oct 24, 2017 14:43, "Joe Finney" <notifications@github.com> wrote:

We need to either stop reporting non-required contexts to github or make
tide aware of which contexts are required.

I would like to live in a world where all green checkmarks on a PR means it
will merge, and any red X means it will

[2017-10-24 22:57] krzyzacy opened #5158 "Triage job hangs forever if file transfer fails"
[code]

maybe add a timeout?

/assign @rmmh

[2017-10-24 22:58] krzyzacy commented on #5158
/area triage
cc @spiffxp

[2017-10-24 22:58] krzyzacy commented on #5158
/area kettle

[2017-10-24 23:57] BenTheElder commented on #4871
https://github.com/kubernetes/test-infra/issues/3369#issuecomment-339114891 should probably be the focus instead going forward as we won't need to support jenkins

[2017-10-25 00:19] rmmh commented on #5158
As soon as gsutil 4.28 rolls out we should stop seeing the hang here. GoogleCloudPlatform/gsutil#446

[2017-10-25 00:24] rmmh commented on #5158
Also, the job *has* a timeout, but it's apparently not strong enough!

[2017-10-25 08:34] kargakis commented on #3866
Should be enough but needs to be documented.

[2017-10-25 08:41] shyamjvs commented on #4445
@spxtr This is not the case. We already have a kubemark-500 presubmit, but it doesn't run automatically on all PRs. It can be triggered by running `/test pull-kubernetes-kubemark-e2e-gce-big` (which is what someone for whom the pre-merge run failed will do on his PR after making fixes).

[2017-10-25 08:45] kargakis commented on #5128
The same argument could be made about SIG labels. For example, I want to prioritize sig-apps API-changing PRs over sig-testing PRs over other sig-apps/sig-clusterlifecyle PRs. I don't want to tell people how to do their reviews but Github search using labels works like a charm.

https://help.github.com/articles/searching-code/

[2017-10-25 08:47] kargakis commented on #5128
Anyway I don't really mind about adding the comment if it breaks peoples' already existing work flows.

[2017-10-25 14:35] porridge opened #5163 "Expose existence of references in build list and/or testgrid"
We just noticed that [some job run pages in gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/49/)) show a "References" section with links to GitHub issues and PRs.

**This is a very valuable help in triaging test failures. Thank you for this.**

Can I ask that the presence of such references be exposed in the "[list of builds](htt

[2017-10-25 15:27] shyamjvs commented on #5163
+1. That would be very useful to have.

cc @krzyzacy @cjwagner @BenTheElder

[2017-10-25 15:31] stevekuznetsov commented on #3369
Yes, what we have today in Origin is a small Go tool (`release-ci`) that we integrate with a test `Pod` by using `init` containers and a side-car. The overview is as such:

 - The first `init` container deposits the `release-ci` tool in a shared volume in the `Pod`
 - The second `init` container uses a sub-command `save-config` to push Prow configuration variables (as documented [here](https://git

[2017-10-25 16:11] stevekuznetsov commented on #3369
To be more concrete -- here is our `Pod` definition. Some of it is templatized but it should be legible:

[code]

[2017-10-25 16:11] stevekuznetsov commented on #4824
Shouldn't we close this one to help?

🤔 🤔

[2017-10-25 16:16] stevekuznetsov commented on #3369
However -- one major architectural thing we would really like to do is to split out some of the functionality of the tool. We think that uploading the configuration, `started.json` and `finished.json` should be the task of a controller that watches `ProwJobs` and just pushes that data into GCS. One thing that is _immensely_ frustrating while iterating on these sorts of tasks is not seeing anything

[2017-10-25 17:23] BenTheElder commented on #5163
This is definitely a very useful feature, cc @rmmh for Gubernator.
@michelle192837 I don't think testgrid has any GitHub hooks at the moment?

[2017-10-25 17:47] cjwagner commented on #3866
@kargakis What about contexts like the CLA context? It should still be required, but isn't in the config.

[2017-10-25 18:25] BenTheElder opened #5166 "prow/OWNERS + prow/owners/... breaks on case insensitive FS (mac)"
reported by @dims and @cblecker: https://github.com/kubernetes/test-infra/pull/5017 broke test-infra on macs a bit. we should probably rename / move something @cjwagner

/area prow

[2017-10-25 19:12] #5142 closed

[2017-10-25 19:40] kargakis commented on #3866
Why does tide need to care about the cla context? I thought that it was checking for the cla label.

[2017-10-25 20:04] cjwagner commented on #4825
another example:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/5147/pull-test-infra-bazel/9201/

[2017-10-25 20:06] BenTheElder commented on #3866
The CLA bot bugs and people manually mark the CLA ok? If tide only pays attention to specific contexts this isn't a problem, if it expects all contexts to be green this becomes more annoying.
I'd prefer all contexts to be green, but things like this might be worth considering.

[2017-10-25 20:10] krzyzacy commented on #3779
the only thing left are the federation ones, which will be gone once federation can be built with bazel

[2017-10-25 20:23] cjwagner opened #5171 "Tide fails to merge batch"
Tide failed to merge a batch because the base branch was modified.
Here are the logs for the sync loop of interest and the loops preceeding and following that loop:
[code]

cc @spxtr
/assign

[2017-10-25 20:27] #5166 closed

[2017-10-25 20:35] krzyzacy commented on #4249
/unassign
@justinsb is picking this up - https://github.com/kubernetes/test-infra/pull/5036

[2017-10-25 20:38] krzyzacy commented on #4642
/unassign @jdumars
/assign @mindprince @BenTheElder
I guess feel free to send or update the PR to make it blocking before 1.9

[2017-10-25 20:42] krzyzacy commented on #5086
from @zmerlynn : It should mostly be a matter of flipping out the secrets, but there's a little setup on the AWS side as well (you need to configure Route53 for DNS)

I guess I'll add a new secret and try out

[2017-10-25 21:19] cjwagner commented on #5171
The batch was running [5169, 5147, 5010].
After merging the first PR successfully (5169), tide failed to merge the remaining two.
5010 was started as the next serial PR and passed tests without the author updating the PR which suggests that there was no conflict between 5169 and 5010.

It looks like this error has show up before: https://github.com/kubernetes/contrib/issues/140

Its strange that g

[2017-10-25 21:49] mattfarina opened #5175 "Question: Is there an OWNERS vs collaborators audit tool"
Prow looks at both a repos collaborators and those in the OWNERS file to determine ownership. Is there any tool that would let one audit a repo and diff who is in the OWNERS files vs who is a collaborator to look for any gaps? For example, to find someone listed in an OWNERS file who is not a collaborator.

[2017-10-25 23:58] BenTheElder commented on #4642
@krzyzacy I did: https://github.com/kubernetes/test-infra/issues/5134

[2017-10-26 01:27] spiffxp opened #5183 "batch merges should link to their batch run results"
This may be obviated by tide, but I'm documenting how I just ran into it with mungegithub

This PR: https://github.com/kubernetes/kubernetes/pull/53760
- passed all presubmits
- submit queue tested it individually (/test all [submit-queue is verifying that this PR is safe to merge])
- it failed pull-kubernetes-bazel-test
- k8s-ci-robot (prow) commented as such, and linked me to https://k8s-guberna

[2017-10-26 13:39] sjenning opened #5189 "fix keyword should not close other PRs, only Issues"
This happened here https://github.com/kubernetes/kubernetes/pull/54593

Where the syntax "fix #54593" was used in another PR description and it closed the PR.

IMO, auto-closing should only happen if the target is an Issue.

@joelsmith @dashpole

[2017-10-26 16:15] cblecker commented on #5189
@sjenning This is a github feature, not related to kubernetes bots: https://help.github.com/articles/closing-issues-using-keywords/

If a PR author adds a keyword like that, and the account that does the merge has the ability to close the issue/PR (the bots have access to all k/ repos), then it will look as though the bot closed the issue/PR.

[2017-10-26 16:19] sjenning commented on #5189
@cblecker ah ok.  My thinking was that close was attributed to the bot, hence the confusion.
[code]

[2017-10-26 16:19] #5189 closed

[2017-10-26 16:24] BenTheElder commented on #5189
Maybe we should raise an issue with GitHub about how they display this?  The wording is very misleading. *GitHub* closes the issue in response to the merge but they attribute it to the account that merged :confused:

[2017-10-26 18:04] kargakis opened #5192 "/cherrypick does not work for open PRs"
`ListPullRequestComments` runs but nothing else happens.

/assign
/kind bug

[2017-10-26 18:13] krzyzacy commented on #3779
https://github.com/kubernetes/test-infra/pull/5187 wiped the federation soak job, gonna close this.

[2017-10-26 18:13] #3779 closed

[2017-10-26 19:04] BenTheElder commented on #5175
I'm not aware of one. It probably shouldn't be very difficult to do using the GitHub APIs though. You might want to bring this up with sig-contribex.

[2017-10-26 19:22] #3034 closed

[2017-10-26 20:11] chrislovecnm opened #5194 "wip command for bot - add label"
How about a /wip command that marks the PR with the do-not-merge/work-in-progress label?  Does the merge bot respect that label and not merge code?

[2017-10-26 20:12] dims commented on #5194
Chris, there's a `/hold` https://github.com/kubernetes/test-infra/blob/master/commands.md

[2017-10-26 20:12] kargakis opened #5195 "Enable workload sharding in prow"
It should be possible to shard the workload in prow between multiple controllers for the same agent. The granularity level needs to be at the job level but we should also support sharding per repositories.

Use-cases:
* canarying prow changes in repositories other than the core ones
* we run two Jenkins masters and a custom proxy in between Jenkins and prow and need to get rid of the proxy because

[2017-10-26 20:25] chrislovecnm commented on #5194
hrm.  `/hold` does not quite match the workflow we have been using in kops repo.  Let me ponder.

[2017-10-26 20:27] kargakis commented on #5194
Add `WIP` as a prefix in your PR title and the label should be added automatically.

[2017-10-26 20:27] BenTheElder commented on #5194
if you put `WIP` in the PR title it will add that label (which blocks), I don't think we have an equivalent command currently besides /hold.

[2017-10-26 20:37] shashidharatd commented on #5126
some refactoring as suggested in #5144, need to be carried out in the follow-up PR's
- https://github.com/kubernetes/test-infra/pull/5144#issuecomment-339788553
- https://github.com/kubernetes/test-infra/pull/5144#pullrequestreview-72299799

[2017-10-26 20:50] mml opened #5197 "Allow OWNERS files to exclude parent OWNERS"
We have a need to lock down some directories/files tighter than the global OWNERS list.  We'll probably have more in the future.  It would be nice to be able to do this with OWNERS.  Inside Google, OWNERS files allow this with `set noparent` syntax.  Possible YAML syntax might be

[code]

FWIW, the use case here is only allowing a couple of people from sig-architecture to approve changes in to the

[2017-10-26 20:54] spxtr commented on #5195
Maybe pass a label (list?) as an argument to the controller and have it list only those prowjobs and pods?

[2017-10-26 20:57] kargakis commented on #5195
Yes, that's what I was thinking. We will need to either include or exclude labels in controllers.

[2017-10-26 20:58] cjwagner commented on #5197
/assign cjwagner bentheelder
Changes should be made to Prow's equivalent of Mungegithub's repo-updates feature: https://github.com/kubernetes/test-infra/blob/master/prow/repoowners/repoowners.go

[2017-10-26 21:33] BenTheElder commented on #5011
I'm in favor of renaming this to `hack/` to match k/k.
cc @ixdy, we just discussed this offline in relation to  https://github.com/kubernetes/community/pull/1278, it would be nice to be consistent here.

[2017-10-26 21:33] BenTheElder commented on #5011
/assign
/shrug

[2017-10-26 21:44] kargakis commented on #5175
Sounds like a useful tool to have. I think OWNERS are required to be collaborators but as people move between jobs/companies/projects, OWNERS can get stale.

[2017-10-26 21:52] spiffxp commented on #5197
/area prow

[2017-10-26 22:24] chrislovecnm commented on #5194
@BenTheElder the bot may not be keying on that correctly :( https://github.com/kubernetes/kops/pull/3705

[2017-10-26 22:26] chrislovecnm commented on #5194
@BenTheElder you mind re-opening this ... SGTM

[2017-10-26 22:36] BenTheElder commented on #5194
Er what's not keying correctly?

[2017-10-26 22:38] krzyzacy opened #5200 "Bootstrap only extract commit-sha for main repo even if there are multiple repos"
Probably gonna make that a list in metadata, like

[code]

/area bootstrap
/assign

cc @Random-Liu

[2017-10-26 22:45] chrislovecnm commented on #5194
Added WIP to the name of that PR, and the bot did not add the label, again please re-open this issue.  Another bot command we need :P

[2017-10-26 23:00] BenTheElder commented on #5194
The title does not contain WIP currently?

[2017-10-26 23:01] chrislovecnm commented on #5194
https://github.com/kubernetes/kops/pull/3705 <- that does

[2017-10-26 23:01] BenTheElder commented on #5194
OH I see now, it only looks for WIP as a prefix, you put it as a suffix.
hmm @cjwagner @xiangpengzhao @stevekuznetsov thoughts on WIP as suffix?

[2017-10-26 23:02] BenTheElder commented on #5194
https://github.com/kubernetes/test-infra/blob/ad19d04798049201a82c70639900bba593e740d6/prow/plugins/wip/wip-label.go#L40

[2017-10-26 23:05] chrislovecnm commented on #5194
Let me test prefix ...

[2017-10-26 23:07] chrislovecnm commented on #5194
Also, ALOT of people including @bgrant0607 do not like the WIP in the title.  Changing the title messes with notification via email.  At least it did with threading emails in the past.  The original request still stands.  I would like a bot command to add the WIP label.

[2017-10-26 23:08] BenTheElder commented on #5194
Ok, there was previous discussion in favor of the title though

[2017-10-26 23:27] cjwagner commented on #5194
I think it makes sense to change the regexp to accept "WIP" anywhere in the title. This regexp seems to work properly:
[code]

If we are going to use commands to manage the `do-not-merge/work-in-progess` label we may need to disable the current functionality that allows using "WIP" in the PR title. Otherwise PRs can get into confusing states like when the title contains WIP but the PR does not hav

[2017-10-26 23:34] chrislovecnm commented on #5194
@cjwagner having "hold" and WIP is kinda confusing admittedly.  I literally saw a 2nd-time committer use /wip on a PR.  This is what started me thinking about this.   This is a topic that contribx should probably weigh in on.

[2017-10-27 00:23] kargakis commented on #5194
It's the first time I am seeing WIP used as a suffix. Do we document how this works somewhere? I prefer using the prefix over the command, usually I am paying more attention into how I name my PR before I open it rather than the set of labels that it will have. In my experience most people don't pay attention to bot commands when they open PRs, too.

[2017-10-27 01:24] spxtr commented on #5189
I've asked GitHub about this feature since it's pretty confusing. Didn't get much of a response. It's particularly annoying that it closes issues in other repos when you sync your fork.

![closed1](https://user-images.githubusercontent.com/7368979/32083882-d1c2c15e-ba7a-11e7-9fde-9a1ff5917a33.png)

[2017-10-27 01:25] spxtr commented on #5011
We went with `verify` because `hack` is an awful name. I'm fine with renaming for consistency though.

[2017-10-27 01:36] BenTheElder commented on #5011
Yeah, it's not the best name, but `verify/update*.sh` also feels kinda weird and it will be nice to be able to tell people to `hack/update-gofmt.sh`, `hack/update-bazel.sh` etc. for both repos.

[2017-10-27 02:40] xiangpengzhao commented on #5194
IMO, any workable way to pend a PR is ok, what is a bit more important is to make contributors know how to. We have documented how to [mark unfinished PR](https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#marking-unfinished-pull-requests). But I doubt if contributors can find the doc when they create PR. I just send a commit https://github.com/kubernetes/kuber

[2017-10-27 05:27] BenTheElder opened #5208 "Prow GitHub Client test flakes"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/5137/pull-test-infra-bazel-canary/24/#prowgithubgo_default_test

[code]

/shrug
/kind bug
/area prow

[2017-10-27 05:54] shashidharatd commented on #5126
/assign

[2017-10-27 05:58] krzyzacy commented on #5208
😂 it probably should not be doing real sleep in the test

[2017-10-27 05:58] shashidharatd commented on #4947
This is a non-issue for federation now, since image is not pushed to registry after build and instead will be pushed by federation-up.sh script during federation control plane bring-up.

[2017-10-27 05:58] #4947 closed

[2017-10-27 06:12] BenTheElder commented on #5208
That was my first thought, I was all ready to write a bug about how sleep is not deterministic enough for this, but actually it swaps out a reference to time.Sleep stored in a private package var (`timeSleep`), this is actually flaking because some time.Duration math flaked slightly below 1000ms and the test is for `time.Second < slept`

[2017-10-27 06:18] BenTheElder commented on #4825
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/4993/pull-test-infra-bazel/9332/
🤷‍♂️

[2017-10-27 06:21] BenTheElder opened #5210 "Probable Gubernator Test Flake"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/5209/pull-test-infra-gubernator/564/

Lots of errors similar to: `ERROR:root:unable to fetch 'http://testbed.example.com/_ah/gcs/foo/quux': status code 4`

/area gubernator
/kind bug
/cc @rmmh

[2017-10-27 06:21] #4927 closed

[2017-10-27 06:27] BenTheElder commented on #4825
Noting that it flakes when then "finished" or "started" keys contain a unix timestamp with "456" in them. 🙃

[2017-10-27 06:53] BenTheElder opened #5212 "prow updateconfig: only update on merge to default branch"
Suggested by @fejta, we probably should fix the updateconfig plugin to only consider merges to master.
It looks like we should be able to check if the branch is the `default_branch` for the repo before updating the config.

/area prow

[2017-10-27 06:57] xiangpengzhao opened #5213 ""bazel build //..." fails due to `key "@io_bazel_rules_go//go:toolchain" not found in dictionary.`"
Failure info:
[code]

Maybe I miss something in config (if any) ?

[2017-10-27 07:03] BenTheElder commented on #5213
Hmm, can you provide some more information like what `bazel version`, OS, test-infra commit?
/area bazel

[2017-10-27 07:06] BenTheElder commented on #5213
I'm actually running into another error:

[code]

cc @ixdy
I will definitely investigate these further tomorrow (it's late here :smile: ), but in the meantime maybe try a `bazel clean --expunge`?

[2017-10-27 07:38] xiangpengzhao commented on #5213
Thanks @BenTheElder !

bazel version

[code]

 uname -a

[code]

git log

[code]

[2017-10-27 07:39] xiangpengzhao commented on #5213
I tried bazel clean but then the bazel build still failed.

[2017-10-27 07:42] ixdy commented on #5213
@xiangpengzhao ah, I think your version of bazel is too old for the version of `rules_go` we're using - can you update to 0.6.1 or 0.7.0?

@BenTheElder your issue looks like a cross-platform issue - note this error message: `.../external/org_dropbox_rules_node/node/tools/npm/install.runfiles/nodejs/bin/node: cannot execute binary file`

[2017-10-27 08:49] xiangpengzhao commented on #5213
@ixdy bazel 0.7.0 works. Thanks!

[2017-10-27 09:57] kargakis opened #5216 "Use ProwJobs in deck"
deck is using its own format for exposing jobs that predates ProwJobs. We should get rid of the old format in favor of using ProwJobs.

TODO:
- [x] Expose ProwJobs in deck at `/prowjobs.js` or something. (https://github.com/kubernetes/test-infra/pull/5631)
- [ ] Switch the JS to look at those. (https://github.com/kubernetes/test-infra/pull/7301)
- [ ] Switch the flake detector stuff to look at tho

[2017-10-27 10:46] #5124 closed

[2017-10-27 10:50] kargakis opened #5217 "error adding label to PR in some repos: http: read on closed response body"
Seeing this in the hook logs for some of our repos.
[code]

/area prow

[2017-10-27 11:47] x13n opened #5218 "Regional tests failing due to old gcloud"
Clusters are not being created: https://k8s-testgrid.appspot.com/google-gke#gke-regional

/cc @wojtek-t

[2017-10-27 11:48] wojtek-t commented on #5218
Please revert the config file change then (temporarily)

[2017-10-27 14:02] xiangpengzhao opened #5221 "Delete stale comment after "/ok-to-test" is triggered."
Example: https://github.com/kubernetes/kubernetes/pull/54682#issuecomment-339901927

When `needs-ok-to-test` is removed, the comment can be deleted.

[2017-10-27 14:32] stevekuznetsov commented on #5194
WIP is meant to be an entry-point to the k8s bots. It's supposed to support something that some developers do anyway and as soon as they have more complex questions -- that is where `/hold` comes in. We want developers to use bot commands in their comments and this was a way to give a learning curve to that. I'm not sure we should re-hash this discussion again, but we can see the older issues for

[2017-10-27 16:24] BenTheElder commented on #5213
Yes @ixdy but that was ssh'd to my workstation :/

[2017-10-27 16:25] BenTheElder commented on #5213
I think maybe on 0.7 the node rules don't install properly. I'll investigate.

[2017-10-27 16:28] BenTheElder commented on #5197
@mml prow now supports:
[code]

[2017-10-27 16:45] mattfarina commented on #5175
The tools filter the OWNERS against the collaborators for, I believe, security purposes. Being able to do an audit would be useful for catching problems.

[2017-10-27 17:23] spiffxp commented on #5197
Opened https://github.com/kubernetes/community/issues/1286 for us to doc this

[2017-10-27 18:03] spxtr commented on #5208
Oh whoops, that can flake. [This line](https://github.com/kubernetes/test-infra/blob/cb858afc6993fb22a167f0353d17715c9a8910d9/prow/github/client_test.go#L51) in the test and [this line](https://github.com/kubernetes/test-infra/blob/cc46a1e505ab724e568dcc01d4cdba4b0fc3eb35/prow/github/client.go#L193) in the code.

[2017-10-27 18:57] krzyzacy commented on #3774
/assign

@shyamjvs I think I'll probably just implement cron support in prow

[2017-10-27 19:05] BenTheElder commented on #3774
(discussed at standup today, cron in horologium/prow looks reasonable enough) 👍

[2017-10-27 21:29] BenTheElder commented on #5213
Well I can't reproduce now, but maybe we should document the bazel version used by test-infra somehwere @ixdy? I think the current minimum supported for k/t-i at least is `0.6.0`

[2017-10-27 22:04] krzyzacy commented on #5218
/assign
xref https://github.com/kubernetes/test-infra/pull/5226

[2017-10-27 22:18] ixdy commented on #5213
We're using https://github.com/kubernetes/repo-infra/blob/ae4e9a3906ace4ba657b7a09242610c6266e832c/defs/bazel_version.bzl#L19 on k/k; maybe we should use it on k/t-i, too.

[2017-10-27 22:22] BenTheElder commented on #5213
SGTM, I like when our error b̶a̶r̶f̶ logs actually have a line telling you what's wrong and how to fix it :-)

[2017-10-27 22:47] fejta opened #5231 "Measure and increase kubernetes test coverage"
We need tools that allow us measure unit, api, etc coverage.
The results from these tools need to be something that contributors can easily replicate on their workstation.

We need to define systems for measuring this data on a continuous basis, publishing it somewhere externally accessible.

We need a process that results in driving this data in a better direction over time.

/cc @oomichi

Unit c

[2017-10-27 23:08] mml commented on #5197
Well that was fast.  Is this live?

[2017-10-27 23:11] BenTheElder commented on #5197
Unfortunately not, I jumped the gun on that :-(
The support is there but the plugin using it is pending in https://github.com/kubernetes/test-infra/pull/5115 which should be done soonish

[2017-10-28 00:06] spiffxp opened #5233 "links testgrid test or job failures to triage clusters"
An idea I dropped in slack, sounded like we didn't have an issue for it.

As a human, I look at a testgrid summary tab.  When I see there is a failing job, I see what the failing tests are for it.  I then plug that failing test into our triage report to see what other jobs that test is failing for.  From there, I use the triage cluster uid's to search github for existing issues, or create new issu

[2017-10-28 00:08] krzyzacy commented on #5218
/unassign
/assign @x13n
@x13n I've bump the image, can you verify and close if it works?

[2017-10-28 07:08] xiangpengzhao opened #5239 "PR becomes inactive again after new comments are deleted."
See in: https://github.com/kubernetes/kubernetes/pull/45465#issuecomment-340150637

This PR hasn't been active in some days and I comment something like `/hold`. The PR becomes active. But when I delete my new comment, the PR becomes inactive again (k8s-merge-robot tells me by the referenced comment above).

I'm not sure if this behavior is correct.

/cc @BenTheElder @cblecker @cjwagner @kargakis

[2017-10-28 07:38] justinsb opened #5240 "Latest kubekins-e2e doesn't correspond to repo?"
I'm trying to track down why https://k8s-testgrid.appspot.com/google-aws#kops-aws-newrunner isn't running the new log dumping code.  The latest-image doesn't seem to match anything I would expect:

https://console.cloud.google.com/gcr/images/k8s-testimages/GLOBAL/kubekins-e2e

I see latest-master as also being tagged `v20171027-cedaacb4-master`, but I can't find the git revision `cedaacb4`.  I can

[2017-10-28 17:26] cblecker commented on #5239
I think this is intended functionality based on https://github.com/kubernetes/test-infra/blob/44cad37f826e990ef9651e8cdaa9d362d08385c0/mungegithub/mungers/close-stale.go#L114-L190

- Look for last human comment
- Look for "interesting events".. which at the moment looks to be creating or reopening a PR
- Find the latest of the two, and use that to calculate last modification time

Because the mung

[2017-10-28 17:46] xiangpengzhao commented on #5239
Is there any way for the munger tracking the state of a PR (last time it was touched, the touch can be manually adding a label; a human comment, even it is deleted then; a rebase, etc)?

[2017-10-28 17:51] cblecker commented on #5239
Why would that be desireable? If a comment gets deleted, why would we care?

[2017-10-28 18:17] xiangpengzhao commented on #5239
In this issue context, that might prevent the PR to be marked as stale. I'm not strongly on it though.

[2017-10-28 18:22] cblecker commented on #5239
If the comment gets deleted, then I think it's fair for the bot to not consider something that doesn't exist anymore when calculating activity. Trying to track objects and actions that no longer exist also makes it really hard to track/diagnose problems with bots, as they now have an internal state that is different than what exists on github.

[2017-10-28 18:33] xiangpengzhao commented on #5239
Makes sense to me. @cblecker Thanks for clarification! :+1:
/close

[2017-10-28 18:33] #5239 closed

[2017-10-30 07:47] wojtek-t commented on #5218
@x13n - please bump the tests to use gcloud beta again and check.

[2017-10-30 08:40] x13n commented on #5218
Opened https://github.com/kubernetes/test-infra/pull/5247 to move to beta again, will close this issue if it works.

[2017-10-30 10:18] kargakis commented on #5195
/assign

[2017-10-30 10:19] x13n commented on #5218
Tests passed with beta in the flag, closing.

[2017-10-30 10:19] #5218 closed

[2017-10-30 12:19] xiangpengzhao opened #5248 "Cache bot name on hook startup."
@kargakis wrote in https://github.com/kubernetes/test-infra/pull/5115#discussion_r147669428:

`botName, err := ghc.BotName()`

[2017-10-30 13:49] kargakis commented on #5248
Seems to be already what I wanted. Sorry for the noise

/close

[2017-10-30 13:49] #5248 closed

[2017-10-30 16:46] kargakis opened #5250 "Restart jenkins builds if old builds are missing"
We have experienced data loss in Jenkins and similarly to how plank recreates a pod for a pending job that has no pod, the jenkins operator could start a new build for a pending job that has no build.

/area prow
/assign

cc: @stevekuznetsov

[2017-10-30 17:03] justinsb opened #5251 "PR Dashboard: Merged PR stuck in my "Outgoing" section"
This PR merged: https://github.com/kubernetes/kops/pull/3621

But it is still showing in my "outgoing" section: https://k8s-gubernator.appspot.com/pr/justinsb

I can't figure out how to request a refresh of that PR...

[2017-10-30 17:14] krzyzacy opened #5253 "Soak jobs does not save kubeconfig properly"
Open to track some regression from https://github.com/kubernetes/test-infra/pull/5162

Part of it is because I renamed the job so it cannot find kubeconfig from the right cluster, second issue is the new jobs seem not uploading the new kubeconfig to gcs and I'm still investigating.

/assign

cc @wojtek-t

[2017-10-30 18:12] porridge opened #5256 "Clearly display retried flaky tests as flaky rather than failing"
Currently gubernator shows the following in the header, which is a bit confusing (why is the job successful if there are failed tests) - see [example job](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54062/pull-kubernetes-e2e-gce/72/):

PR | blah blah
-- | --
Result | **SUCCESS**
Tests | **2 failed** / 338 succeeded

Suggested:

PR | blah blah
-- | --
Result | **SUCCESS

[2017-10-30 18:21] BenTheElder commented on #5251
cc @rmmh
/area gubernator
/kind bug

[2017-10-30 18:22] BenTheElder commented on #5256
/area gubernator
/cc @rmmh

[2017-10-30 18:24] BenTheElder commented on #5240
/cc @krzyzacy
I believe those are supposed to be git SHAs. not sure about that one.
/area images

[2017-10-30 18:32] krzyzacy commented on #5240
@justinsb I probably was experimenting something with my own kubetest. (I always sync to head btw). If you care about the image SHA you probably should pin it to a stable tag :-)

[2017-10-30 18:33] #5240 closed

[2017-10-30 18:43] BenTheElder commented on #5240
Yeah but `git cat-file -t cedaacb4` vs `git cat-file -t 529d2fdac`, seems that commit doesn't exist? @krzyzacy

[2017-10-30 18:49] krzyzacy commented on #5240
[code]

It's from https://github.com/kubernetes/test-infra/pull/5232

[2017-10-30 20:16] #4862 closed

[2017-10-30 20:36] rmmh commented on #5251
The easiest way to fix this is to edit one of your comments on the PR.

[2017-10-30 20:56] justinsb commented on #5251
Will do, thanks.  As you can probably see, it doesn't add that much noise to my dashboard, if you'd rather I didn't touch it (if you wanted to use it to diagnose something)?  But not a big deal, just though I would report it...

[2017-10-30 21:03] rmmh commented on #5251
Dupe of #1576. I don't have logic to retry when hook processing fails for some reason, but it generally resolves itself on the next event.

[2017-10-30 21:03] #5251 closed

[2017-10-30 22:27] cjwagner commented on #3533
I decided not to fix this yet as it may no longer be applicable if we decide to go through with #4460.
If we think that users only care about approval requirements they have not met then it isn't necessary to display the associated issue once it is identified since at that point the requirement has been met.

[2017-10-30 23:38] xiangpengzhao commented on #3533
Agreed. The authors themselves also know which repo's issue they are associating.

[2017-10-30 23:38] xiangpengzhao commented on #3533
/close

[2017-10-30 23:38] #3533 closed

[2017-10-31 00:25] krzyzacy commented on #3774
I have a rough draft, but things I still need:
- cancel a cron entry if the job is deleted
- abort a cron trigger if the previous job is still running

And it's super easy to migrate from duration string to cron string, as cron string supports format like `every 2h30min45s`

[2017-10-31 08:23] kargakis opened #5264 "/approve associatedIssueRegex hardcodes the kubernetes org"
Needs to be configurable

/area prow

[2017-10-31 12:54] kargakis opened #5267 "/rerun in deck can use its cache instead of doing a live query"
/rerun is reaching out to the [k8s api server](https://github.com/kubernetes/test-infra/blob/262f37c350c828fc6b74ef7d82ae63ec4affe913/prow/cmd/deck/main.go#L216) in order to return a command for rerunning a prowjob. Instead of doing the live call, it can use its [cache](https://github.com/kubernetes/test-infra/blob/262f37c350c828fc6b74ef7d82ae63ec4affe913/prow/cmd/deck/main.go#L98) (all prowjobs a

[2017-10-31 13:00] kargakis commented on #4460
/area prow

[2017-10-31 13:01] kargakis commented on #3074
Fixed by https://github.com/kubernetes/test-infra/pull/5201

[2017-10-31 13:01] #3074 closed

[2017-10-31 15:40] spiffxp commented on #4460
I'm not sure I'm in favor of this.  The comment provides a useful audit of whose approval counted and why.  I wouldn't be able to figure that out just by looking at random people's /lgtm and /approve comments.

[2017-10-31 15:49] kargakis commented on #4460
@spiffxp will https://github.com/kubernetes/test-infra/issues/4340 be helpful in that regard?

[2017-10-31 16:00] spiffxp opened #5270 "commands.md incorrect for /status command"
commands.md says anyone can use the /status command

I just tried `/status approved-for-milestone` on
https://github.com/kubernetes/kubernetes/issues/54637 and got back a

comment in response

/area prow
/kind documentation
/cc @marun @kubernetes/sig-release-bugs
I'm pretty sure this is a docs problem? I'm cc'ing those with relevant context to confirm

[2017-10-31 16:09] spiffxp commented on #4460
It might provide an approximation but it's going to be fuzzy, and leaves out the "why" part

I get that it's noise on single-approver or self-approvable PR's, but the comment to me still represents the best point-in-time snapshot of the decision that "this is approved, because it's linked to this issue, and because these people, associated with these files, said yes."

[2017-10-31 16:39] bgrant0607 opened #5271 "milestonestatus plugin spams github team in informational message"
https://github.com/kubernetes/test-infra/blob/master/prow/plugins/milestonestatus/milestonestatus.go#L34

posts:

Which spams me. Not cool.

[2017-10-31 16:53] fejta commented on #5231
/assign @oomichi

[2017-10-31 17:00] oomichi commented on #5231
Thanks, fejta. That works fine :)

[2017-10-31 17:15] grodrigues3 commented on #5271
@kubernetes/sig-contributor-experience-bugs

[2017-10-31 19:03] cjwagner opened #5276 "Milestonestatus Prow plugin should not hard code kubernetes-milestone-maintainers team."
This should be configurable:
https://github.com/kubernetes/test-infra/blob/1582cf827ee8ba291ff0d5dbd68c6fd9da82f58f/prow/plugins/milestonestatus/milestonestatus.go#L34
/assign @marun @cjwagner

[2017-10-31 19:16] #5213 closed

[2017-10-31 19:26] kargakis opened #5278 "Document how prow can be extended"
We need documentation for:
* how prow can support a new CI system (write a new controller, configure prow to use the new controller) - this includes exposing logs and making deck consume those logs
* how hook can be extended (write a new plugin, configure prow to use the new plugin)
* sharding

/area prow
/kind documentation
/assign

[2017-10-31 19:32] kargakis opened #5279 "Serve documentation in deck"
We should consider exposing prow docs in deck.

/area prow
/kind feature
/kind documentation

[2017-10-31 19:42] kargakis commented on #1795
There is an external prow plugin that can be used to automate cherrypicks between `master` and release branches today: https://github.com/kubernetes/test-infra/tree/master/experiment/cherrypicker

[2017-10-31 19:45] oomichi commented on #5231
As the first step, I have written some design doc for measuring e2e test API coverage:

https://docs.google.com/document/d/1Upo8lTeR7gy4olD6hASTCdn8Vy7WuDwkO_o9Y5nrxhs/edit?usp=sharing

Happy to see feedback.

[2017-10-31 19:45] kargakis commented on #3083
/area prow

[2017-10-31 19:50] kargakis commented on #2812
It is using the Github API to determine whether the commenter is a member of the org from where the notification comes from.

https://developer.github.com/v3/orgs/members/#check-membership

[2017-10-31 19:50] #2812 closed

[2017-10-31 20:01] kargakis commented on #3740
Dupe of https://github.com/kubernetes/test-infra/issues/1351

[2017-10-31 20:01] #3740 closed

[2017-10-31 20:02] kargakis commented on #3827
@cjwagner is this fixed now?

[2017-10-31 20:08] kargakis commented on #4376
There is no way to remove github contexts today

https://developer.github.com/v3/repos/statuses/

[2017-10-31 20:08] #4376 closed

[2017-10-31 20:11] spiffxp commented on #5152
done, sorry for the delay

[2017-10-31 20:17] cjwagner commented on #3827
No this hasn't been fixed.
The Trigger plugin has to list all comments to see if an `/ok-to-test` command exists every time it wants to check that a non-member PR is trusted. Checking reviews and review comments for this command would require at least 2 additional API tokens every time. Is that worth it?

[2017-10-31 20:21] enisoc opened #5280 "[release-1.6] pull-e2e-gce is broken"
For pulls on the 1.6 branch, the apiserver never comes up, failing with this error:

[code]

I think this is caused by https://github.com/kubernetes/test-infra/pull/5077

cc @krzyzacy @caesarxuchao

[2017-10-31 20:27] krzyzacy commented on #5280
ouch
/assign

[2017-10-31 20:27] kargakis commented on #3827
Can't we start handling `review_comment`s?

[2017-10-31 20:37] BenTheElder commented on #5280
/assign
Also going to add comments to the config to explain how to do this correctly next time.

[2017-10-31 20:52] cjwagner commented on #3827
We could, but that doesn't allow us to skip listing the reviews and review comments. We could check `review_comment` events and remove the `do-not-merge/needs-ok-to-test` label if the comment contains `/ok-to-test`, but we would still need to list all reviews and review comments when checking if a non-member PR is trusted to prevent race conditions with other events. See the discussion in the comm

[2017-10-31 21:10] cjwagner opened #5282 "Prow should redirect HTTP to HTTPS"
Currently http://prow.k8s.io/ does not redirect to HTTPS.
Mungegithub does this with an nginx proxy.  I'm not sure what the best option is for Prow or how important this really is.

/area prow

[2017-10-31 21:21] BenTheElder opened #5283 "standardize porw job naming"
It's very frustrating to forget that some jobs have duplicate `ci-*` entries where some are periodic while others have `periodic-*` and `ci-*`. We should probably standardize on the latter.

I'd also like if we could branch the presubmits similar to ci so that we have eg `pull-kubernetes-e2e-gce-1-6` which would help with debugging breakage eg https://github.com/kubernetes/test-infra/issues/5280 a

[2017-10-31 21:56] BenTheElder commented on #5197
Support exists, but it's only going to be run against test-infra initially (https://github.com/kubernetes/test-infra/pull/5115#issuecomment-340917718)

@cjwagner we should probably close this after it's deployed to `cncf/k8s-conformance` ?

[2017-10-31 21:56] mml commented on #5197
Actually the directory we want to restrict is in kubernetes/kubernetes.

[2017-10-31 22:02] cjwagner commented on #3580
/close
This is fixed in the approve plugin now. The plugin will be run on test-infra first and then be expanded to other repos that use the approval process.

[2017-10-31 22:02] #3580 closed

[2017-10-31 22:04] cjwagner commented on #3450
/close
This is fixed now in the approve plugin. The plugin will be run on test-infra first, then other repos.

[2017-10-31 22:04] #3450 closed

[2017-10-31 22:05] BenTheElder commented on #5280
this should have been fixed in #5281

[2017-10-31 23:49] cjwagner commented on #4825
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/5289/pull-test-infra-bazel/9500/

[2017-10-31 23:52] #5192 closed

[2017-11-01 00:14] spiffxp commented on #3851
Opened PR's to get rid of this in all of the other kubernetes repos, and picked up a few that popped back up in kubernetes/website

[2017-11-01 00:18] BenTheElder commented on #5280
The job appears to have passed in #46450

[2017-11-01 00:18] #5280 closed

[2017-11-01 00:20] BenTheElder commented on #3778
[All Test on Prow Design Doc](https://docs.google.com/document/d/1ih0Pogkdyo8QwmJUkJd4pgqmXnPb6vZnUEyb8vhMjJg/edit#heading=h.x9snb54sjlu9).
/assign
cc @krzyzacy

[2017-11-01 00:21] BenTheElder commented on #1342
I intend to migrate us off of Travis by the end of the quarter. See [All Test on Prow Design Doc](https://docs.google.com/document/d/1ih0Pogkdyo8QwmJUkJd4pgqmXnPb6vZnUEyb8vhMjJg/edit#heading=h.x9snb54sjlu9) for the plan to move these docker-dependent jobs to Prow.

Also noting that Travis caused some annoying delays yesterday since Tide blocks on green status and Travis got stuck on yellow for man

[2017-11-01 00:56] spiffxp commented on #3851
And that's all the kubernetes-incubator repos I could find that used assignees.

Let's see how long it takes for all these to merge

[2017-11-01 02:10] #5270 closed

[2017-11-01 08:35] #5271 closed

[2017-11-01 10:33] kargakis opened #5292 "startTime in prowjobs should be set when a controller switches the pj to pending"
prowjobs already have a creationTimestamp set by the api server. Tests though may not start immediately after a prowjob is created.

/area prow

[2017-11-01 11:53] dims opened #5293 "Enforcing sig labels on PR(s)"
As an effort to increase sig ownership of things.

- Can we please start marking PR(s) with the same sig(s) that the issues they fix are marked with?
- Add needs-sig label if they don’t have any associated issue?

This will help SIG(s) know what they have to review easily and for release team to find the right owner when things need to get merged/rebased before release milestones.

Do we want to g

[2017-11-01 11:58] dims opened #5294 "Idea : Gubernator for SIG(s)"
https://k8s-gubernator.appspot.com/pr/ is AWESOME. Can we do a similar view/report for all things SIG?

folks can select/mark which SIG(s) they are interested in and we can show similar information as we do for the single user.

Hoping such a tool will increase SIG owner(s) and participant(s) to quickly identify things that need attention instead of relying on github notifications overload.

[2017-11-01 13:22] mfojtik opened #5296 "UIX: Gubernator should provide "copy to clipboard" link next to failed test"
Currently the test failures are presented like this:

![screen shot 2017-11-01 at 14 20 35](https://user-images.githubusercontent.com/44136/32276579-dc3fa5ea-bf0f-11e7-89c6-1e6e6d32dfb5.png)

Usually the first thing that I do is to copy & paste this into Github search to check if there are any known flakes opened for this test. Which is sometimes tricky as the I have to select the link (which incl

[2017-11-01 13:22] mfojtik commented on #5296
@kargakis FYI

[2017-11-01 13:29] kargakis commented on #5296
cc @stevekuznetsov @rmmh

/area gubernator

[2017-11-01 15:35] spiffxp commented on #5293
Traversing issue links isn't something github's API supports.  It's gonna get messy if we start doing this.  But I agree it might help drive PR's down.

Other thought, this might be a good devstats dashboard request.  [prs-age](https://devstats.k8s.io/dashboard/db/prs-age?orgId=1) doesn't filter by sig, but it could ([issues-age](https://devstats.k8s.io/dashboard/db/issues-age?orgId=1) can)

@kube

[2017-11-01 17:56] crimsonfaith91 opened #5298 "PR Dashboard: did not remove PR #52067 after it was merged almost a month ago"
The PR was not removed from PR dashboard although it was merged almost a month ago.
https://github.com/kubernetes/kubernetes/pull/52067

[2017-11-01 18:03] #5221 closed

[2017-11-01 18:27] BenTheElder commented on #5294
Agree that the PR dashboard is awesome :-)
A quick lofi solution would be to create dummy `@kubernetes-sig-foo` accounts and assign them to issues which should be viewable like https://k8s-gubernator.appspot.com/pr/dims (but not ACK-able).

cc @rmmh
/area gubernator
/kind feature

[2017-11-01 18:45] BenTheElder commented on #5293
Yeah, I really don't think the GitHub API helps us out too much here but it might still be possible :thinking:

Yes! :+1:

[2017-11-01 18:51] BenTheElder commented on #5298
/area gubernator
/kind bug
/cc @rmmh @stevekuznetsov

[2017-11-01 20:47] spiffxp opened #5303 "release-foo-blocking jobs should have sigOwners"
Some of them just have UNKNOWN

Ignoring upgrade jobs at first, it should hopefully be pretty easy to start with master, and copy through the other jobs
- [release-master-blocking](https://k8s-testgrid.appspot.com/sig-release-master-blocking)
- [release-1.8-blocking](https://k8s-testgrid.appspot.com/sig-release-1.8-blocking)
- [release-1.7-blocking](https://k8s-testgrid.appspot.com/sig-release-1.7

[2017-11-01 20:47] BenTheElder commented on #5303
All jobs should have owners! :-)

[2017-11-01 20:49] krzyzacy opened #5304 "vendor tests are running in test-infra (?)"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/5284/pull-test-infra-bazel/9538/

[2017-11-01 20:49] BenTheElder commented on #5304
/area bazel
/kind bug
/assign

[2017-11-01 20:52] spiffxp commented on #5303
I totally agree, just taking it in chunks for now

... comment button is too close button

[2017-11-01 20:55] krzyzacy commented on #5303
sig-release owns all of them?

[2017-11-01 21:03] spiffxp commented on #5303
sig-release owns the dashboard, but we're not responsible for keeping the jobs passing... it's about having a PoC to go bug if the job starts failing... who do I contact first, that can route me to the appropriate person who is or should be fixing the problem, if the entire job is failing, or is failing a test case that other jobs aren't failing?

[2017-11-01 21:35] spxtr commented on #5304
Err, godep is supposed to drop all `_test.go` files.

[2017-11-01 21:40] krzyzacy commented on #5304
ah - @spxtr I think you are right - since these days we are adding dependencies manually in test-infra

[2017-11-01 21:45] spxtr commented on #5292
Agreed. There are a couple times to track:

1. Time between trigger and pod (or Jenkins job) creation, and
1. Time between pod creation and completion.

The API server gives us prowjob creation time, so I'm fine with switching startTime to pod/job start time.

[2017-11-01 21:46] dims commented on #5304
hehe, i thought it was by design i saw it a few days ago.

[2017-11-01 21:47] spxtr commented on #1342
The submit queue actually has some logic to close and reopen PRs if travis is stuck. I don't plan on adding that to tide now, but it's interesting.

[2017-11-01 21:49] spxtr commented on #5282
We should add an nginx proxy as well.

[2017-11-01 22:04] krzyzacy commented on #5253
http://k8s-testgrid.appspot.com/sig-release-1.7-all#soak-gce-1-7 looks fine now

[2017-11-01 22:04] #5253 closed

[2017-11-01 22:04] cjwagner commented on #5282
/assign

[2017-11-01 22:19] shyamjvs commented on #3774
Great - thanks for working on it.

[2017-11-01 22:24] BenTheElder commented on #5304
We shouldn't be running them anyhow. k/k explicitly excludes vendor in bazel test/build for this reason.

[2017-11-01 22:26] spxtr commented on #5304
k/k excludes them because of the staging stuff I think. Could be wrong. We can exclude them as in this PR but we should also remove them at the same time.

[2017-11-02 00:22] BenTheElder commented on #5304
fixed in https://github.com/kubernetes/test-infra/pull/5308
we should still fix the vendor dir, see https://github.com/kubernetes/test-infra/pull/5301

[2017-11-02 00:22] #5304 closed

[2017-11-02 08:08] Random-Liu opened #5314 "testgrid for node e2e test is messed up."
See https://k8s-testgrid.appspot.com/sig-node-containerd#node-e2e
and https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet.

Test cases move around arbitrarily.

[2017-11-02 09:21] kargakis commented on #1342
Closing+reopening PRs results in rerunning all tests. We wouldn't want to do that just for restarting travis. If tide knows what contexts are required, travis shouldn't be a problem.

[2017-11-02 16:01] spiffxp opened #5316 "Document stable1, stable2, stable3 convention used on release-branch jobs"
/area jobs
/assign @krzyzacy

I mentioned this during a standup? sig-testing meeting? at one point.  It sounds like there is a desire to migrate from hardcoding release numbers in job names to suffixes that correspond to "latest release - N"

Can we document this convention, and track where we're at in its migration? It's a little confusing at the moment when attempting to jump from testgrid to tr

[2017-11-02 16:50] kargakis opened #5318 "needs-ok-to-test is not removed on reopening of a PR"
https://github.com/openshift/origin/pull/17148

The cherrypick robot wasn't a member of openshift at the time the PR was opened. Once it joined and the PR was reopened, tests started running but the label was not removed.

/kind bug
/area prow

cc @stevekuznetsov

[2017-11-02 16:51] stevekuznetsov opened #5319 "prow: org membership is not re-evaluated ever"
When someone authors a PR and is not a member of the org, the `needs-ok-to-test` label gets added. If the user is added to the org, pushing updates and/or closing and re-opening the PR will not get Prow to re-evaluate their status and remove the label.

/kind bug
/area prow
/cc @kargakis

[2017-11-02 16:52] stevekuznetsov commented on #5319
dupe of https://github.com/kubernetes/test-infra/issues/5318

[2017-11-02 16:52] stevekuznetsov commented on #5319
/close

[2017-11-02 16:52] #5319 closed

[2017-11-02 16:58] krzyzacy commented on #5314
we added sort by failures by default, but seems there are cases that dont want this behavior?
/assign @fejta

[2017-11-02 17:02] krzyzacy commented on #5316
yeah I still haven't finish the migration for release1.6 and 1.7 yet, will surely do this week or next before 1.9

/assign

[2017-11-02 17:29] spiffxp commented on #5314
/area testgrid

[2017-11-02 18:36] spiffxp commented on #4976
FWIW I bumped into this in the linked PR above

[2017-11-02 18:57] #5011 closed

[2017-11-03 08:31] xiangpengzhao commented on #5318
I send PR #5330.
Idea:
- remove "needs-ok-to-test" label if existing when a PR is opened and found trusted
- if a member's PR is labeled "needs-ok-to-test" accidentally (e.g., a maintainer adds it manually by mistake), just remove it.

[2017-11-03 08:56] xiangpengzhao opened #5331 "bazel build failes locally"
Checkout the HEAD code of test-infra, bazel build fails. It works on my former branch.

[code]

[2017-11-03 08:59] kargakis opened #5332 "Canonical way for labeling PRs based on code changes"
It seems that we have two different ways to add labels on PRs based on the code paths they touch.

This is supported:

1) in OWNERS files, though I can't find it documented anywhere, it seems to be used in the community repo via the [`owners-label`](https://github.com/kubernetes/test-infra/blob/31a2e95173bd87d91e011d0edfd844b869fa89e7/mungegithub/mungers/owner-label.go) munger - see [here](https:/

[2017-11-03 09:02] kargakis opened #5333 "Update OWNERS documentation to reflect its new home (prow)"
The [appovers README](https://github.com/kubernetes/test-infra/blob/31a2e95173bd87d91e011d0edfd844b869fa89e7/prow/plugins/approve/approvers/README.md) has a bunch of mungegithub-related points that need to be converted to prow-related once the related mungers referred inside the doc are moved into prow plugins.

/assign @cjwagner
/area prow
/kind documentation

[2017-11-03 09:36] kargakis opened #5334 "Suggestions around merging PRs w/o running tests"
We have a process in place today that ensures our web console ([separate project](https://github.com/openshift/origin-web-console) from the [main repo](https://github.com/openshift/origin)) is vendored back to the main repo. The main issue with the state of the world is that this process creates a bump commit with all changes since last time we vendored and pushes that commit directly to master. T

[2017-11-03 09:43] kargakis commented on #5298
Dupe of https://github.com/kubernetes/test-infra/issues/4298

[2017-11-03 09:43] #5298 closed

[2017-11-03 14:18] stevekuznetsov commented on #5334
The similar situation upstream in `k/k` is the `docs-only-retest-not-required` -- I know I've helped to babysit a PR from a new contributor that found something wrong in a README and needed to have it explained why we were running tests on their PR for two days before it merged. We could think about approaching this as human approval + matching a set of file regex constraints to not require status

[2017-11-03 16:46] kargakis opened #5338 "Monitor token usage in prow"
We need to expose prometheus metrics for token usage in hook and tide (assuming hook and plank are using the same token, and tide uses a separate token).

/area prow

[2017-11-03 17:52] DirectXMan12 opened #5339 "We should have the ability to run test suites not part of the pr-* set on PRs before merge"
While it's generally sufficient to run the `pr-` suites on PRs, sometimes we have bugs in the non-PR e2e tests (e.g. those marked `[slow]` or `[serial]`).  When we go to fix those bugs, it'd be useful to be able to request a run of the offending tests.

First, this helps ensure that the bug fix will fix the issue in the environment the tests run in.  It helps catch mistakes on the part of the PR a

[2017-11-03 17:53] #4903 closed

[2017-11-03 17:53] DirectXMan12 commented on #5339
cc @krzyzacy

[2017-11-03 17:57] spiffxp commented on #5332
I think I'd rather see us move to OWNERS rather than path-label

[2017-11-03 18:08] spxtr commented on #5338
Currently I'm looking on [velodrome](http://velodrome.k8s.io/dashboard/db/monitoring?orgId=1).

[2017-11-03 18:15] kargakis commented on #5338
That metric is related to the munger and not any of the prow tokens (and we could potentially have 4 different tokens). Also, velodrome looks great but we are not using it today.

[2017-11-03 18:16] cblecker commented on #5332
I agree that we should consolidate, and my preference would be owners-label. Path-label is config that resides at the moment with the munger itself, but owners-label distributes the config into the managed repo itself.

[2017-11-03 18:22] cjwagner commented on #5334
Why does this break the merge queue? It will restart testing on PRs because there will be a new master HEAD, but the merge queue should continue to merge properly? Pushing directly to master seems like the right way to merge a change that needs to be merged quickly and doesn't require testing.

I'd prefer to avoid adding special logic to make Tide ignore status contexts on some PRs if that is poss

[2017-11-03 18:23] kargakis commented on #5332
We have use cases for labeling code that touches paths that are independent of OWNERS files. For example, we label all PRs touching `/vendor` because we want to exclude them from merging every time we need to rebase on top of latest Kubernetes. Or we label all PRs touching API-related code because they need special attention for review. This kind of labeling cannot be expressed via OWNERS.

[2017-11-03 18:24] kargakis commented on #5332
Or it could but it would be ugly, especially in the case we want to track api changes.

[2017-11-03 18:32] kargakis commented on #5334
It breaks any batch/single PR that runs at that point.

FWIW, nobody proposed that (yet). I was thinking of a way to mark all contexts as green inside plank/jenkins-operator. We want to avoid testing in other cases too like documentation fixes. I don't think that it's viable to merge directly to master every time such a PR comes up.

[2017-11-03 18:37] kargakis commented on #5334
Seems like @stevekuznetsov did. Nice.

[2017-11-03 19:02] stevekuznetsov commented on #5334
@cjwagner "breaking" a batch here just means the mungers will refuse to merge it since `master` `HEAD` changed. Not sure if that was clear before.

[2017-11-03 19:12] BenTheElder commented on #5331
hmm I think you need `bazel build //... -//vendor...` now [after the switch to `dep`](https://github.com/kubernetes/test-infra/pull/5301) which includes these tests. (that's what the presubmits are doing). I'm not sure what the best option for making this easier is at the moment.

/cc @ixdy

[2017-11-03 19:22] kargakis commented on #5216
For clarity and why I think this is important, here is the description I created in a Trello card that unfortunately is private.

[2017-11-03 19:31] krzyzacy opened #5342 "Upgrade tests seems not to be finishing on prow?"
i.e. http://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-cluster

and we lost logs for older runs.

I suspect it might be related to our 1.8 upgrade? Anyone has any thoughts?

cc @cjwagner @spiffxp @kubernetes/test-infra-maintainers
cc @vishh @foxish

[2017-11-03 20:30] cjwagner commented on #5332
I planned to consolidate these mungers while migrating mungers to Prow. Specifically I was going to migrate just the `owners-label` munger.

@kargakis Labeling PRs that touch `/vendor` can be achieved by adding a `/vendor/OWNERS` file. Labeling the API-related code changes would be a lot uglier as you mentioned because the regular expressions used to match those changes currently only apply to som

[2017-11-03 20:44] cjwagner commented on #5334
How often is a vendor bump done? If this is infrequent it doesn't seem like a big deal if 2 presubmit jobs have to restart.

[2017-11-03 20:46] cjwagner commented on #5342
I didn't update the prow-builds cluster so I don't think this could be related to Prow updating to 1.8.

[2017-11-03 20:48] spiffxp commented on #5339
Yeah I was trying to prompt this discussion in #sig-testing before an issue showed up :)

https://kubernetes.slack.com/archives/C09QZ4DQB/p1509572518000508

My takeaway is that you can maybe run the tests locally in such a way that we can still see the results of them in gubernator.  It still feels manual to me, and in the example case you linked, I'm OK taking your word for it.  But I agree it se

[2017-11-03 20:50] stevekuznetsov commented on #5334
We would love to do them every time the other repo gets a commit, which used to mean ten, fifteen times a day. We're doing it now once a day in the night, but it will still mean the queue wastes a lot of time on it and when flakes are otherwise making it inefficient, it feels bad to see a batch job that could have merged five PRs fail due to this.

[2017-11-03 20:53] BenTheElder commented on #5339
Hmm, I think one of the problems here is preventing abuse. Many of the CI jobs are CI jobs because they are much more expensive than the presubmits and should only run against code that is merged. Only allowing manual triggering of presubmits from GitHub was an intentional choice because of this  AFAIK.

Maybe we can have a user whitelist (https://github.com/kubernetes/test-infra/issues/5051) ?

/

[2017-11-03 20:58] spiffxp commented on #5332
@cjwagner maybe this is out of scope for this issue, but WDYT about the idea of (optionally?) using OWNERS at repo root to auto-label issues against the repo?

[2017-11-03 21:00] #5195 closed

[2017-11-03 21:33] spiffxp opened #5344 "Want to use prow to add/remove a milestone to issues or PRs"
I'm the CI Signal Lead for release-1.9, and I'm a member of [kubernetes-milestone-maintainers](https://github.com/orgs/kubernetes/teams/kubernetes-milestone-maintainers/members) but not [kubernetes-maintainers](https://github.com/orgs/kubernetes/teams/kubernetes-maintainers/members).  This means I can `/status approved-for-milestone` but I can't actually add the milestone in the first place.  Is t

[2017-11-03 21:47] cjwagner commented on #5332
@spiffxp I think we should keep the list of auto-labels for PRs separate from those for issues so that they can differ. That change would also break the scope of OWNERS files; they are supposed to only apply to changes that modify their directory or subdirectories. Issues don't make any changes at all.
If we want to automatically label issues based on the repo they are in that could be achieved wi

[2017-11-03 21:53] cjwagner commented on #5344
How about giving `kubernetes-milestone-maintainers` permission to add/remove milestones? That seems reasonable to me based on the name of the team :smile:
Maybe permissions are not granular enough?

[2017-11-03 21:57] spiffxp commented on #5344
AFAIK your choices are: read, write, admin.  For the entire repo.

<insert rant about GitHub ACL granularity>

[2017-11-03 21:59] krzyzacy commented on #5342
@cjwagner the pod was rescheduled onto another node before finish running, and started another run from  the beginning (why :-( )

probably cc @kubernetes/sig-node-bugs

[2017-11-03 22:04] cjwagner commented on #5344
/shrug
Sound like an addition to the milestonestatus plugin then like you suggested. A new `/milestone x.x` command that is usable by the same team that `/status` is usable by.

[2017-11-03 22:05] cjwagner commented on #5342
/shrug

[2017-11-03 22:06] yujuhong commented on #5342
@krzyzacy could you post status of the pod?

[2017-11-03 22:09] krzyzacy commented on #5342
[code]

[2017-11-03 22:12] krzyzacy commented on #5342
I think last time we've been hitting this is because disk pressure from the node, but all nodes are ready, and I don't see any evicted pods, so I'm not sure what can be wrong this time.

[2017-11-03 22:13] yujuhong commented on #5342
I meant the previous pod -- the one that was terminated prematurely :)

[2017-11-03 22:20] krzyzacy commented on #5342
@yujuhong I think we keep the same pod name when recreate the pod? How would I get the previous pod :joy:

[2017-11-03 22:24] yujuhong commented on #5342
Who recreated the pod?

You can of course check the kubelet log to see what happened to it..or if the events were exported, you could check that too.

[2017-11-03 22:26] krzyzacy commented on #5342
o-oh :-(

[code]

[2017-11-03 22:29] krzyzacy commented on #5342
@cjwagner I'll try to expand prow a bit to mitigate this.. we can probably tear down a few Jenkins agents now as well.

[2017-11-03 22:31] BenTheElder commented on #1986
You can't though since the upstream `types.go` has imports as well?
https://github.com/kubernetes/kubernetes/blob/2ecb36802666b9088495d34da7ab486cd3347e65/pkg/api/types.go#L20
https://github.com/kubernetes/kubernetes/blob/2ecb36802666b9088495d34da7ab486cd3347e65/pkg/api/types.go#L677

I get that bloating the binary feels bad, but is 20mb really an issue? Also 20mb added to what initial size?

[2017-11-03 22:46] krzyzacy commented on #5342
@yujuhong
[code]

Do we gather any disk allocation data from a node? I'd like to know what's piling up there :jack_o_lantern:

[2017-11-03 23:23] yujuhong commented on #5342
kubelet exposes [some filesystem stats[(https://github.com/kubernetes/kubernetes/blob/v1.9.0-alpha.2/pkg/kubelet/apis/stats/v1alpha1/types.go#L209-L234) per container and per node. You can probably see the stats in stackdriver. Not sure if that'd be of any help though.

[2017-11-04 00:05] spiffxp opened #5350 "All jobs should have sigOwners"
/area jobs
Followup from https://github.com/kubernetes/test-infra/issues/5303

Assuming the PR's to close that out get merge, we are left with...
[code]

[2017-11-04 00:06] spiffxp commented on #5303
@BenTheElder

Opened https://github.com/kubernetes/test-infra/issues/5350

[2017-11-04 00:07] BenTheElder commented on #5350
fyi @mtaufen this is finally happening! :smile:

[2017-11-04 00:13] BenTheElder commented on #5350
In addition, we should add a presubmit enforcing this going forward. I've been mulling tagging `prow/config.yaml` entries with these as we move towards everything being on Prow.

[2017-11-04 00:24] krzyzacy commented on #5342
@yujuhong thanks!

[2017-11-04 01:29] msau42 opened #5352 "pull tests either skipped or failed to check job status"
In kubernetes/kubernetes#55039, all the pull tests were either skipped or failed to check job status.

See attached.
![screenshot from 2017-11-03 18 25 06](https://user-images.githubusercontent.com/24448061/32401005-df4923fe-c0c4-11e7-8eb5-b1b451e71af4.png)
![screenshot from 2017-11-03 18 25 15](https://user-images.githubusercontent.com/24448061/32401006-df633a96-c0c4-11e7-9c29-838e22bd7d89.png)

[2017-11-04 01:36] BenTheElder commented on #5352
We just ran into some issues upgrading some of the CI components, I've rolled them back. Some of those jobs appeared to have legimitately failed but the job status checks were due to the outage.

I'm still monitoring everything to make sure it's fixed but it should be fine now.

[2017-11-04 01:45] BenTheElder opened #5353 "prow bugs"
After deploying Prow to the latest components I had to roll back each of them due to some tcp dial errors with jenkins-operator and http://tide/

Prow component deloyments are now at:
[code]
(I "only" rolled back deck, hook, horologium, jenkins-operator, and plank, but for completeness this is the current state of the Prow cluster)

Unfortunately I don't have a more detailed bug report on this ATM

[2017-11-04 01:46] BenTheElder commented on #5353
/area prow
/kind bug
/cc @cjwagner @kargakis
/assign

[2017-11-04 01:47] BenTheElder commented on #5352
oops, correct link is:
https://github.com/kubernetes/test-infra/issues/5353

[2017-11-04 02:01] BenTheElder commented on #5352
Additionally, apologies for the breakage :disappointed:. It looks like all the tests have run against your PR now.

[2017-11-04 02:04] msau42 commented on #5352
No problem, just want to make sure it's not a widespread issue

[2017-11-04 02:47] smarterclayton opened #5354 "Bazel rules for static binaries don't compile on OSX"
The default rules for most of our binaries include static flags:

[code]

which fail to compile on OSX because it's impossible to do static compilation with the OS GCC.  It might be friendlier to make those conditional, or when Bazel adds static features to make the static determination globally.

[code]

[2017-11-04 04:19] BenTheElder commented on #5354
/cc @ixdy
/assign

[2017-11-04 04:51] BenTheElder commented on #5354
I think we should be able to fix this particular problem with a `select()` over the target cpu and only enable static on `"k8"` (Linux/amd64).

[2017-11-04 06:25] xiangpengzhao commented on #5331
@BenTheElder it throws another error:
[code]

[2017-11-04 06:27] BenTheElder commented on #5331
@xiangpengzhao my bad, the correct way is `bazel build -- //... -//vendor...`, bazel allows you to place args after the build target list so you have to put `--` do disambiguate between flags and negative targets. :confused:

[2017-11-04 07:29] xiangpengzhao commented on #5331
[code]

But I see the vendor package in code root dir. Sorry I'm not familiar with bazel rules...

[2017-11-04 08:09] BenTheElder commented on #5331
facepalm x2, don't bazel late at night :joy:: `bazel build -- //... -//vendor/...`
vendor... != vendor/...

[2017-11-04 10:46] kargakis commented on #5353
It would be helpful to post logs.

[2017-11-04 10:51] kargakis commented on #1986
I don't think 20mb more is a problem.

[2017-11-04 11:15] kargakis commented on #5353
FWIW, I just updated our prow cluster to https://github.com/openshift/test-infra/commit/a2b953e19f017b96a9f96484b9002d8d0a9250bb w/o any issue.

[2017-11-04 16:17] kargakis commented on #5353
You also need a service for the jenkins-operator because it exposes logs that get consumed by deck now.

https://github.com/kubernetes/test-infra/blob/master/prow/cluster/jenkins_service.yaml

[2017-11-04 18:43] ixdy commented on #5354
I think what we actually want to do is bump `rules_go` to 0.7.0 and use the new [pure](https://github.com/bazelbuild/rules_go/blob/0.7.0/go/modes.rst#pure) compilation mode, which properly matches what we do in the non-bazel build. (Right now in the bazel rules we are statically linking cgo deps, which is different.)

[2017-11-06 09:26] xiangpengzhao commented on #5331
@BenTheElder No worries :)

The new command works! Awesome! Thanks!

BTW, should I run the new command every time when I want to build? The command is a bit hard to remember...

[2017-11-06 10:26] kargakis commented on #5332
Agreed. There is already a [`labels.yaml`](https://github.com/kubernetes/kubernetes/blob/master/labels.yaml) that holds all labels inside the repo and their color. Is it a more appropriate place to set the paths they should be applied to?

[2017-11-06 10:31] kargakis commented on #5332
Another thing is that we have a bunch of projects that do not use OWNERS files today (actually all projects apart from our core repo). This means that we will need to add OWNERS files in all of those repos in order to automate PR labeling. Checking in a single `labels.yaml` at the root of the repo sounds more intuitive and doesn't require inventing machinery for updating all OWNERS file in case of

[2017-11-06 10:36] kargakis commented on #5332
@kubernetes/sig-contributor-experience-proposals

[2017-11-06 10:44] porridge opened #5357 "Testgrid sometimes missing k/k commit ID."
Filing as a separate bug, as this was [mentioned earlier](https://github.com/kubernetes/test-infra/issues/5073#issuecomment-337870814) but received little attention.

For some jobs, most of the commit IDs are missing:

![xa1gjlvypaj](https://user-images.githubusercontent.com/489420/32437370-65c92996-c2e7-11e7-96d6-a3c119df0b10.png)

@BenTheElder [said that `started/finished.json` seem to be missin

[2017-11-06 10:47] shyamjvs commented on #5357
cc @krzyzacy @BenTheElder Could one of you PTAL into this? This is making it quite difficult to extract commit for such runs.

[2017-11-06 10:49] shyamjvs commented on #5357
Bumping priority as the release is coming closer - and this is quite important for debugging CI jobs.

[2017-11-06 10:50] shyamjvs commented on #5357
@BenTheElder assigning this to you - feel free to redirect as apt :)

[2017-11-06 12:56] kargakis opened #5360 "k8s.io/test-infra/prow/config unit test is slow"
Takes about half a minute to complete.
[code]
Haven't looked closely but we may be able to squeeze some time out of it.

/area prow

[2017-11-06 14:34] kargakis commented on #4437
@jfelten are you working on this or can I pick it up?

[2017-11-06 17:05] spxtr commented on #4437
@jfelten made [this](https://github.com/jfelten/hook_manager) as a part of his helm chart.

[2017-11-06 17:07] krzyzacy commented on #5357
Note that if the cluster is teared down, we will be missing commit sha. Is scalability test tearing down cluster somewhat differently?

[2017-11-06 17:09] mtaufen commented on #5350
There's already a unit test in bootstrap_test.py (part of test_valid_job_envs) that requires the owners key to be set. The next step would be to prevent new jobs from setting UNKNOWN, or to actually get ownership on all jobs and then delete UNKNOWN from validOwners.json.

[2017-11-06 17:12] shyamjvs commented on #5357
Nope... Nothing that I know of. Also the commit is present sometimes.

On Mon, Nov 6, 2017, 6:07 PM Sen Lu <notifications@github.com> wrote:

[2017-11-06 17:26] krzyzacy commented on #5357
@shyamjvs seems your log-exporter does not takes in the generated metadata.json? The write call from https://github.com/kubernetes/test-infra/blob/bcf1a6a2bb42de99ada6a80626a0e01e36d9ceb1/kubetest/main.go#L328-L331 seems not take into effect anymore.

[2017-11-06 17:35] shyamjvs commented on #5357
Are you sure? Because we do have the commit for some runs. Also the metadata.json file I assume is written to some local directory in the job container which is then uploaded to GCS in bootstrap.py. This is independent of logexporter which separately makes node logs upload directly to GCS. It shouldn't affect these files.

[2017-11-06 17:37] shyamjvs commented on #5357
OTOH I do see a correlation b/w jobs with logexporter enabled and missing commit IDs.

[2017-11-06 17:38] krzyzacy commented on #5342
Seems it still happens for https://k8s-testgrid.appspot.com/sig-release-1.8-all#gke-gci-1.7-gci-1.8-upgrade-master, and even the problematic nodes does not have any events now... What's the best bet here? Reset all the nodes?

[code]

[2017-11-06 17:40] krzyzacy commented on #5357
https://k8s-testgrid.appspot.com/sig-testing-canaries#scalability-canary is a simpler example, which uses logexporter, has metadata.json in artifacts, but does not show commit sha in testgrid. Looking into it now.

[2017-11-06 17:50] krzyzacy commented on #5357
I suspect https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap.py#L419-L427 might not be able to find the metadata.json, I'll add some logs to verify.

[2017-11-06 17:57] krzyzacy commented on #5357
/assign

[2017-11-06 18:45] BenTheElder commented on #5357
Thanks @krzyzacy. At the bazel conference today / tomorrow so I don't think I can get to this until Wednesday.

[2017-11-06 18:47] BenTheElder commented on #5353
Yeah I think it's just a config issue. Apologies for not getting useful logs up here, I was focused on getting jobs scheduled again once I realized they weren't. I want to take another look at upgrading soon.

[2017-11-06 18:47] krzyzacy commented on #5357
@BenTheElder 😂 I found day1 talks is 😒 so I'm hiding in the corner and 👨‍🚒

[2017-11-06 18:57] krzyzacy commented on #5357
@porridge @shyamjvs  in the meantime you can still manually get the k8s commit version from metadata.json, in case you need it for regress.

[2017-11-06 19:10] shyamjvs commented on #5357
Yup.. Been doing that.

[2017-11-06 20:01] cjwagner commented on #5332
@kargakis I think `labels.yaml` is no longer being used in favor of a label-sync tool that runs on all repos in the org so that labels are standardized across the entire org.
I agree that we shouldn't have to have OWNERS files in a bunch of directories to specify labels for paths that can be identified with a regex. I think it might be confusing to require a new `labels.yaml` file that is separate

[2017-11-06 20:22] spiffxp commented on #5344
Discussed at sig-testing standup, I'm going to get by with kubernetes-pm github team membership for now

[2017-11-06 21:13] spxtr opened #5368 "Jenkins live logs aren't working."
[code]
cc @BenTheElder @rmmh @kargakis
/area prow
/kind bug

[2017-11-06 21:38] rmmh commented on #5368
The service was missing for some reason. I redeployed it (kubectl apply -f cluster/jenkins_service.yaml), but now it won't connect.

[2017-11-06 21:41] rmmh commented on #5368
We're running an old jenkins-operator (0.40) instead of the latest after the latest deployment was broken.

[2017-11-06 22:31] BenTheElder commented on #5331
@xiangpengzhao just for now, we should make it so that `bazel build //...` just works.

[2017-11-06 23:27] spxtr commented on #5360
Yes, it's loading and parsing config.yaml many times. It's easy to speed up, just add a testmain that loads it once.

[2017-11-07 00:14] xiangpengzhao commented on #5331
@BenTheElder thanks!

[2017-11-07 02:56] krzyzacy commented on #5357
https://k8s-testgrid.appspot.com/sig-testing-canaries#scalability-canary the latest run shows k8s commit sha, the following runs should all have k8s sha now, I'll close this.

[2017-11-07 02:56] #5357 closed

[2017-11-07 04:01] cblecker opened #5376 "Proposal: prevent merge commits via prow plugin"
There's been a number of discussions around merge commits, and why they are bad. One of the more recent ones on kubernetes-dev@ is [here](https://groups.google.com/d/msg/kubernetes-dev/KmeNarMIyRU/5Z00p2WWCQAJ).

Right now it's up to the reviewers and approvers to notice that there are merge commits, and withhold lgtm/approve until the author squashes or rebases them away.

https://github.com/kube

[2017-11-07 06:44] shyamjvs commented on #5357
Thanks a lot for fixing. Will check if it's fine now.

On Tue, Nov 7, 2017, 3:56 AM Sen Lu <notifications@github.com> wrote:

[2017-11-07 08:02] sttts commented on #5376
Prow is the right place to do this IMO 👍

As side note: we don't fall over merges anymore while publishing, but we loose the commit history before the last merge on a feature branches.

[2017-11-07 08:53] xiangpengzhao commented on #2938
I haven't seen this again since the PR was created. Close for now.

[2017-11-07 08:53] #2938 closed

[2017-11-07 09:02] kargakis commented on #5332
It seems that the `label-sync` tool is using that file.

[2017-11-07 18:44] cjwagner opened #5382 "Reduce 'trigger' plugin token usage."
Prow's trigger plugin uses more tokens than necessary to validate that a PR is trusted if the PR is a authored by an org member (the common case).
The plugin should be refactored to avoid listing issue comments in this case even though it means we may skip cleaning up a stale comment if an author **becomes** an org member while the PR is open. (That is a rare case and failing to remove a stale com

[2017-11-07 18:50] cjwagner commented on #5332
That tool uses [this](https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml) `labels.yaml`, not the `labels.yaml` that is stored at the repo root of many k8s repositories. The later was used by the `check-labels` munger.
The label-sync tool avoids using repo specific `labels.yaml` files in order to standardize labels across repos.

[2017-11-07 19:13] spiffxp commented on #5303
[code]

- sig-release-master-blocking:
  - ci-kubernetes-build: sig-release
  - ci-kubernetes-test-go: sig-testing
  - ci-kubernetes-verify-master: sig-testing
  - ci-kubernetes-node-kubelet: sig-node
  - ci-kubernetes-e2e-gci-gce: sig-gcp
  - ci-kubernetes-e2e-gci-gke: sig-gcp
  - ci-kubernetes-e2e-kops-aws: sig-aws
  - ci-kubernetes-e2e-gce-gpu: sig-scheduling
  - ci-kubernetes-e2e-gce-device-pl

[2017-11-07 19:25] spiffxp opened #5385 "testgrid summary "in the past week" is hardcoded, dashboard duration is not"
All of the Summary tabs for all dashboards talk about tests/jobs "in the past week", but the dashboard itself may have more or less than a week's worth of results.

This stands out most on https://k8s-testgrid.appspot.com/presubmits-kubernetes, where we use `days_of_results: 1`, but we've also got the `default_test_group.days_of_results: 14`

Is the summary text incorrect, or am I just being misle

[2017-11-07 22:22] krzyzacy commented on #5385
/assign @michelle192837

[2017-11-07 22:54] yguo0905 commented on #3374
It seems that multiple-level of groups is not supported, but I can make the sig-node-cos-image as a top level one and create subgroups under it, just like https://k8s-testgrid.appspot.com/canonical. Thanks!

[2017-11-07 22:54] #3374 closed

[2017-11-07 23:17] spxtr opened #5391 "prow log link can give pod errors"
@BenTheElder wrote a podspec with a typo that caused his test pod to not start. Clicking the job logs on the triggered job gives a useless
[code]
message. He had to "kubectl describe pod" to see the event. We can do better by showing the actual pod events in this case.

/area prow

[2017-11-08 01:32] spiffxp commented on #5350
/assign

Yeah I'd like to remove UNKNOWN from validOwners.json once we're done with this exercise.  Because it wouldn't be a valid owner anymore 😈

[2017-11-08 11:14] porridge commented on #5089
Duplicate of #2580 ?

[2017-11-08 11:15] porridge commented on #2580
Can we bump the limit a little? This is quite annoying... ([Another example](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/46/))

[2017-11-08 13:24] kargakis commented on #5353
Seems like both the jenkins-operator and tide are updated - is there anything else you have stumbled upon?

[2017-11-08 13:24] kargakis commented on #5368
They do work now

[2017-11-08 13:25] #5368 closed

[2017-11-08 14:37] xiangpengzhao opened #5400 "prow stops syncing"
Seems like all the PRs cannot be triggered to build now...

/cc @cjwagner @krzyzacy

[2017-11-08 14:39] xiangpengzhao commented on #5400
Take https://github.com/kubernetes/kubernetes/pull/55318 for example:

[code]

[2017-11-08 14:49] munnerz commented on #5400
Glad I'm not the only one - looks like no builds are running at all at the moment based on the Prow dashboard. I've had this PR waiting for a few hours: https://github.com/kubernetes/kubernetes/pull/54660

I guess this is a pretty urgent issue?

[2017-11-08 14:52] munnerz commented on #1986
I'd be happy to try and tackle this. I've had a fair bit of experience writing controllers as is, and we've started to use Prow internally at Jetstack.

Before I do - what limitations are there on circular dependencies? I guess I am okay to import `k8s.io/api`, `k8s.io/apimachinery`, `k8s.io/client-go` and `k8s.io/code-generator`?

I notice that vendoring was fixed a few days ago and switched to d

[2017-11-08 14:56] munnerz commented on #5195
Regarding doing this after #1986, I think we can make use of the new filtering made possible with https://github.com/kubernetes/kubernetes/pull/54660 when constructing a SharedInformerFactory. This should let us limit the results to only those that match a label selector.

[2017-11-08 14:56] xiangpengzhao commented on #5400
Yeah I guess so. I want give this issue the below labels:
/priority critical-urgent
/priority failing-test

[2017-11-08 15:05] kargakis commented on #5195
@munnerz we already fixed sharding. If we ever switch to use informers, we should do it in a way that wouldn't break sharding.

[2017-11-08 15:12] kargakis commented on #1986
@munnerz not sure there are any limitations. Most people are worried about the size of the dependencies that will need to be pulled. Can we prove that the additional size will not be that much? If so, there are a lot of gains when we switch.

[2017-11-08 15:28] kargakis opened #5401 "External prow plugin that informs about conflicting PRs"
This is an idea a colleague of mine had. In his own words

We would have to cache all PRs, otherwise token usage would skyrocket

@kubernetes/sig-contributor-experience-feature-requests
/area prow

[2017-11-08 15:29] kargakis commented on #5400
@BenTheElder

[2017-11-08 15:36] kargakis commented on #5391
What was the event about? Was the pod crashlooping?

[2017-11-08 15:47] jdumars commented on #5400
CC: @enisoc FYI as 1.9 release manager

[2017-11-08 16:32] spiffxp commented on #5400
/assign @fejta
listed as testinfra oncall at go.k8s.io/oncall

[2017-11-08 17:22] cjwagner commented on #5400
A bunch of pods froze at the same time around 12:50AM last night. I just restarted them so things should be working again for now. Ill look into a more permanent workaround/fix for this problem today.

[2017-11-08 18:06] BenTheElder commented on #5089
Closing in favor of #2580

[2017-11-08 18:06] #5089 closed

[2017-11-08 18:09] BenTheElder commented on #5353
We've been discussing some issues in #testing-ops on slack, pretty much the
whole prow cluster should be up to date now and it looks like the sync
loops have hung all within the same minute more than once. There isn't much
to see in the logs, they're syncing regularly and then they aren't without
error.
It can be "fixed" by killing the hung pos  and letting them e redeployed.
Still looking into th

[2017-11-08 18:22] BenTheElder commented on #5400
xref https://github.com/kubernetes/test-infra/issues/5353#issuecomment-342904695

[2017-11-08 18:23] BenTheElder commented on #5400
xref https://github.com/kubernetes/test-infra/issues/5353#issuecomment-342904695

[2017-11-08 18:23] jianhuiz commented on #1986
@munnerz I had the PR https://github.com/kubernetes/test-infra/pull/4952 which uses k8s api types. It include very few changes by using type alias in go 1.9 which you may copy those code as a start if you like.
The problem I had was the deps about bazel. I however don't have time recently to have them fixed, besides it seems many people PREFER to have those types redefined.

[2017-11-08 18:23] jianhuiz commented on #1986
@munnerz I had the PR https://github.com/kubernetes/test-infra/pull/4952 which uses k8s api types. It include very few changes by using type alias in go 1.9 which you may copy those code as a start if you like.
The problem I had was the deps about bazel. I however don't have time recently to have them fixed, besides it seems many people PREFER to have those types redefined.

[2017-11-08 18:23] jianhuiz commented on #1986
@munnerz I had the PR https://github.com/kubernetes/test-infra/pull/4952 which uses k8s api types. It include very few changes by using type alias in go 1.9 which you may copy those code as a start if you like.
The problem I had was the deps about bazel. I however don't have time recently to have them fixed, besides it seems many people PREFER to have those types redefined.

[2017-11-08 18:23] jianhuiz commented on #1986
@munnerz I had the PR https://github.com/kubernetes/test-infra/pull/4952 which uses k8s api types. It include very few changes by using type alias in go 1.9 which you may copy those code as a start if you like.
The problem I had was the deps about bazel. I however don't have time recently to have them fixed, besides it seems many people PREFER to have those types redefined.

[2017-11-08 18:24] BenTheElder commented on #5353
closing in favor of https://github.com/kubernetes/test-infra/issues/5400 for current issues. this one also includes just missing deploying the new services (aka our makefile doesn't have an accurate dependency graph...)

[2017-11-08 18:24] #5353 closed

[2017-11-08 18:24] BenTheElder commented on #5353
closing in favor of https://github.com/kubernetes/test-infra/issues/5400 for current issues. this one also includes just missing deploying the new services (aka our makefile doesn't have an accurate dependency graph...)

[2017-11-08 18:24] BenTheElder commented on #5353
closing in favor of https://github.com/kubernetes/test-infra/issues/5400 for current issues. this one also includes just missing deploying the new services (aka our makefile doesn't have an accurate dependency graph...)

[2017-11-08 18:25] BenTheElder commented on #5353
/close

[2017-11-08 18:29] BenTheElder commented on #5391
The pod wasn't able to start because one of the volumes was typo-ed.

[2017-11-08 20:19] kargakis commented on #5400
Any info about why the pods froze?

[2017-11-08 20:35] shyamjvs opened #5407 "Kubemark presubmit times out with no logs on GCS and leaked resources"
I've been noticing this happening quite frequently of late for kubemark-500 presubmit.
The e2e test is timing out, but what is undesirable is the run is shown as 'Running' forever and the GCS logs also don't exist.
Further the cluster is leaked and I need to clean up the project manually each time (as it's a PR job which runs with a different cluster name each time).

E.g - https://k8s-gubernator.

[2017-11-08 20:40] krzyzacy commented on #5407
/shrug
please bump https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/bootstrap-pull-json.yaml#L44

[2017-11-08 20:42] krzyzacy commented on #5407
meh... we don't have a `jenkins-timeout` for pr jenkins...
I'll just bump the timeout

[2017-11-08 20:46] shyamjvs commented on #5407
Not sure I understand how that's going to help. Is it sth like the job timeout (which I think is 140m) is greater than the pull-jenkins timeout (which seems 130m) - so basically there's no time left to grab the logs and cleanup the cluster?

[2017-11-08 20:49] krzyzacy commented on #5407
@shyamjvs what happens ideally:
kubetest timed out at 140m
after that:
kubetest has 15m buffer time to finish xml generation, tear down cluster, and other things that are not terminated immediately
bootstrap has 20m buffer time to upload logs/artifacts
Jenkins has (till 200m) to abort any unresponding process

In current case Jenkins bailed out running processes at 130m, where no further action ca

[2017-11-08 20:51] krzyzacy commented on #5407
plus this job is opted out from janitor, so we cannot automatically wipe the project

[2017-11-08 20:51] #5407 closed

[2017-11-08 20:56] shyamjvs commented on #5407
Actually, we don't need that high timeout for our kubemark-500 jobs as it is currently. Sent out the above PR to reduce it.

[2017-11-08 21:01] #5318 closed

[2017-11-08 22:39] cblecker commented on #5401
love this idea in concept, although I have no clue how this would effectively work in k/k with ~900 open PRs, or in PRs that touch common things like BUILD files.

[2017-11-08 23:37] shyamjvs commented on #5339
Earlier issues I filed for:
- allowing job to run only against PR before merging and not for every PR opened (https://github.com/kubernetes/test-infra/issues/4445)
- allowing only a restricted group of users to run some presubmit job (https://github.com/kubernetes/test-infra/issues/5051)

[2017-11-09 00:22] #5400 closed

[2017-11-09 00:22] spiffxp commented on #5085
Here's what I understand to be running on clusters currently managed or accessible by google members of sig-testing.  First two clusters are based on a dump of pods/services/etc; the source is a total guess.

utilicluster:
- gcsweb (https://github.com/kubernetes/k8s.io/tree/master/gcsweb.k8s.io)
- k8s-io (https://github.com/kubernetes/k8s.io/tree/master/k8s.io)
- node-perf-dash (https://github.com

[2017-11-09 00:47] spxtr commented on #5401
That's an interesting idea, but I'm not sure how useful it'd actually be. Say I get some message on my PR saying "PR #bla conflicts with this in somepkg/zz_generated.welp.go". That doesn't really help me, since we just need to wait until one merges and then regenerate. There's nothing I can do when I first get the message.

[2017-11-09 00:58] kargakis commented on #5401
@php-coder if you want to make a case

[2017-11-09 01:00] enisoc opened #5416 "[release-1.6] flag provided but not defined: -cluster-ip-range"
Pull tests on the `release-1.6` branch have started to fail with this error:

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55343/pull-kubernetes-e2e-gce/20/

[2017-11-09 01:01] spxtr commented on #5401
Actually if it is possible to do this with gubernator then that would be really neat. I would like it if my PR dashboard showed that my PR conflicts with some other PR. I think that would be rather hard to accomplish, though. cc @rmmh

[2017-11-09 01:05] kargakis opened #5417 "RFC: validate commit messages to avoid automatic closing of issues via Github"
Forked from https://github.com/kubernetes/features/issues/427#issuecomment-343012256

cc @spxtr

[2017-11-09 01:14] krzyzacy commented on #5416
/shrug
/assign @shyamjvs
and in 1.7 as well

I'll see if I can cherrypick back

[2017-11-09 01:18] krzyzacy commented on #5416
/assign
creating cherrypicks for https://github.com/kubernetes/kubernetes/pull/48271

[2017-11-09 01:20] BenTheElder commented on #5417
Mentioning fixes `#xyz` in a PR body / follow up comment is useful within a repo though :-(
The broken behavior is forks :/

[2017-11-09 01:49] spiffxp commented on #3345
@fejta @grodrigues3 can you two help me understand what "review round latency" is defined as in terms of github events?

[2017-11-09 02:42] cblecker commented on #5401
I can see this being useful not just for rebases, but for:
- Two PRs that are fixing the same issue/bug, in the same way (prevent duplication of effort)
- Two PRs that are fixing the same issue/bug, in different ways (and spur discussion)

[2017-11-09 03:37] BenTheElder commented on #5085
a) tentatively that looks right, but one of the 3 I just assigned should check too  :-)
b) I think here since the deployment config is mostly in-tree here
c) sounds right, though I would think we would want to migrate gcsweb / k8s.io etc too?

[2017-11-09 13:04] porridge opened #5426 "Kubetest crashes when prompting for downloading binaries"
[code]

It does not give a chance to answer to the prompt. Running without `-v` is also a bit too shrouded in mystery. Perhaps `-v` should be the default?

[code]

[2017-11-09 14:25] xiangpengzhao commented on #5401
Totally agree with @cblecker on the use cases. For these cases, what I exactly want to see is sth like the git blame page shows, from where I can see which PR(s) touch the same code block with my PR. I can also jump to the PR to check for more details.

[2017-11-09 14:29] php-coder commented on #5401
@spxtr this case could be easily solved by ignoring auto-generated files.

[2017-11-09 17:57] BenTheElder commented on #5426
/area kubetest
/assign @krzyzacy

[2017-11-09 17:59] grodrigues3 commented on #3345
Strawman:

Time between commits and (first) non-author comment on a PR.

Does that work?

[2017-11-09 18:11] BenTheElder opened #5428 "Add planter to CI"
We should run a CI periodic job with `planter` against k/k master at least to ensure everything still works. This should be feasible to do on Prow now that docker-in-docker works fine, as soon as I migrate the bootstrap image to provide docker-in-docker support I want to do this.

area/jobs
FYI @ixdy @krzyzacy

[2017-11-09 18:14] BenTheElder opened #5429 "rpmbuild is not supported in bazel images"
It appears `make bazel-build` works fine on my linux workstation against k/k master, but inside planter it does not now. It looks like something changed with packaging for the images.

[code]

[2017-11-09 18:16] BenTheElder commented on #5429
/area planter
/kind bug
/cc @ixdy
FYI @leifmadsen
I think this is a relatively recent regression, I've been periodically running a full build with planter against test-infra and kubernetes with the now default `0.7.0-1` image.

[2017-11-09 18:20] krzyzacy commented on #5426
@porridge kubetest shells out to `./hack/e2e-internal/e2e-down.sh` though.. seems you don't have kubectl (?)

[2017-11-09 18:54] leifmadsen commented on #5429
@BenTheElder ah ok great, thanks so much for trying and filing this. I wasn't sure if I was doing something wrong, or not running some pre-install stuff. That looks similar to the error I'm getting. If I clone `kubernetes` and `test-infra`, and do the `make bazel-build` I get this:

[code]

...and when I run the test in `test-infra`...

[code]

[2017-11-09 18:54] cjwagner commented on #5085
It might be better to isolate velodrome from running prow jobs for security and to manage scaling the clusters separately. I'm not sure if either of those are real concerns though.

[2017-11-09 19:09] BenTheElder commented on #5429
For the second error test-infra currently needs `bazel test -- //...
-//vendor/...` (there is an open issue to get back to `bazel test //...`).
`//` is not a valid target pattern.

Generally you build/test with //... but both k/k and test-infra have bad go
test code in vendor/ so they exclude vendor with: `//... -//vendor/...`
which must come after `--` to disambiguate the flags from the negative

[2017-11-09 20:09] BenTheElder opened #5431 "some of the image maintainers are stale"
https://github.com/kubernetes/test-infra/blob/a436c8a85e660c95b384904ceac5ce8d1fdc9395/images/bazelbuild/Dockerfile#L17

FYI @spxtr

Probably should be ixdy or myself now (or a different email addr)

/cc @ixdy
/area images

[2017-11-09 20:14] ixdy commented on #5431
we should just remove it. [`MAINTAINER` is deprecated](https://docs.docker.com/engine/reference/builder/#maintainer-deprecated).

[2017-11-09 20:15] ixdy commented on #5431
oh, we're not using `MAINTAINER`.

I still feel like this field is pretty useless, since it can get out of date easily. maybe it points to sig-testing or this repo or something instead of a specific person?

[2017-11-09 20:20] BenTheElder commented on #5429
It seems the `MakeRpm` shells out to `rpmbuild`, https://github.com/bazelbuild/bazel/blob/9135b7bfc4245e16bd6599e22dce0ba077e0d10a/tools/build_defs/pkg/make_rpm.py#L170-L184

`pull-kubernetes-bazel-build` doesn't appear to build building `build/rpms/...`, though it *is* on bazel 0.6.1 (`TAG=0.6.1-1` planter.sh ...` equivalent) and it actually does a query for build targets itself which avoids thes

[2017-11-09 20:26] BenTheElder commented on #5431
Yeah, there is also a broader issue that some of our images still use `MAINTAINER` instead of the label.

I think it's still idiomatic to have _some_ maintainer in the dockerfiles, maybe it could be `kubernetes-sig-testing@googlegroups.com` :stuck_out_tongue:

Right now it's been useful as "this is the person who is most familiar with the image, cc them when something is broken" though, which woul

[2017-11-09 20:35] BenTheElder commented on #5429
Next steps imho are:

- `MakeRpm` might need to to be made more hermetic (?)
- `make bazel-build` ought to match the presubmit (why on earth is this not failing in CI?)
- follow up with Planter to make it match what happens in CI more closely pending the two points above

[2017-11-09 20:44] BenTheElder commented on #5429
@leifmadsen in the meantime:
 `$GOPATH/src/k8s.io/test-infra/planter/planter.sh bazel build -- //... -//vendor/... -//build/rpms/...`
should work for building kubernetes with bazel/planter until we get this sorted out.

[2017-11-09 22:20] BenTheElder opened #5434 "clean up test images"
/cc @krzyzacy
Let's document / plan our image layering a bit so we can move bootstrap into the image and sort out our test image layering a bit as we move off of Jenkins.

Tentatively we want to have:
- `bootstrap`: contains bootstrap & very common dependencies, docker-in-docker, as well as the runner
- go, bazel: add dependencies that tend to change per release / are independently upgraded
- kube

[2017-11-10 01:14] BenTheElder opened #5436 "improve caching on prow"
Right now jobs building with bazel use a cache path on an SSD on the node, which is restricted to one job at a time by reserving a fixed port on the node. We can improve the concurrency of this with:

- jobs using the bazel cache should use one port
- docker-in-docker jobs using the docker graph cache should use another
- jobs in different repos should use different cache dirs for the two above
-

[2017-11-10 01:16] BenTheElder commented on #5436
This should improve job throughput, and is becoming more of a problem now that we have many more jobs on Prow and are adding more repos.

[2017-11-10 01:18] BenTheElder commented on #5085
This might not belong here, but just throwing out that our jobs are designed pretty heavily around a cache SSD mounted on the nodes in the build cluster, we will need to plan around that when we migrate. We also run a few associated services for things like the push gateway and `kube-lego` for https...

[2017-11-10 02:03] spxtr commented on #5436
It looks like pod antiaffinity is beta now, we should use that.

[2017-11-10 02:32] cjwagner commented on #4179
I'm starting work on a Prow version of blunderbuss. I'm planning to make it request reviews instead of assigning users.
Should I have it suggest reviewers with a comment instead of actually requesting the review? I could handle `pull_request` events with action `review_requested` or `assigned` and delete the comment in either case.

[2017-11-10 06:48] stevekuznetsov commented on #4179
Seems reasonable -- suggest people who the PR author could `/cc` and `/assign` but don't tag them directly, and clean up the comment as the PR actually gets reviews requested (or reviews submitted) and assignees added.

[2017-11-10 07:01] porridge commented on #5426
@krzyzacy It's possible that I didn't have the kubectl binary built at that moment, although I had one on my $PATH, installed from a release.

However I'm not sure I understand what kubectl has to do with this...  Are you saying that the fact that `./hack/e2e-internal/e2e-down.sh` prints `Required binaries appear to be missing. Do you wish to download them? [Y/n]` and then *does not wait* for inpu

[2017-11-10 08:05] BenTheElder commented on #5426
That error and prompts are from [k8s.io/kubernetes/cluster/common.sh](https://github.com/kubernetes/kubernetes/blob/7a28aaffa706e87c5a15b56c0f33b08982e4b552/cluster/common.sh#L1342) which is part of calling the e2e-down script.

You're not meant to be interacting with this script in this case, kubetest is, and this script requires kubectl.

It's not waiting because it doesn't have any input pipe t

[2017-11-10 08:12] BenTheElder commented on #5426
I think we should consider outputting more verbose failures by default when a script gives a bad exit code, but `-v` as a whole should be a seperate, more generally verbose option.

I also think we probably shouldn't do much special when kubectl isn't detectable by the standard kubernetes scripts. I think kubetest is really just meant to add some light automation around managing a test cluster and

[2017-11-10 09:43] porridge opened #5440 "Missing build logs for failed tests on a PR"
Links to pull-kubernetes-e2e-gce and pull-kubernetes-bazel-test in
https://github.com/kubernetes/kubernetes/pull/55243#issuecomment-343418302
lead to pages which say:
Unable to load build details from gs://kubernetes-jenkins/pr-logs/pull/55243/pull-kubernetes-e2e-gce/5189
Unable to load build details from gs://kubernetes-jenkins/pr-logs/pull/55243/pull-kubernetes-bazel-test/15866

[2017-11-10 14:58] leifmadsen commented on #5429
@BenTheElder instead of calling `rpmbuild` directly, would it actually make more sense to leverage `mock` so that we could build the RPMs in a chroot environment? I always use `mock` when building RPMs so that you don't need to have the host machine worry about all the dependencies. That would probably solve your desire to make it hermetic (I had to look up that word; good one :))

[2017-11-10 15:25] spiffxp commented on #4179
Big +1 to requesting reviews instead of assigning

I like auto-assigning or auto-requesting, because we can use the # of pr's assigned or number of reviews requested as a proxy for how large someone's review workload is.

The amount of manual human intervention required to herd a k/k PR is really off-putting to newcomers to the community.  I feel like a lot of this is because we're working around

[2017-11-10 17:54] krzyzacy commented on #5426
we probably should flip `-v` on to default true..

[2017-11-10 18:15] BenTheElder commented on #5429
Possibly? We're not actually calling it directly per se (one of the stock rules "pkg_rpm" is doing this internally), and bazel does actually [sandbox](https://bazel.build/designs/2016/06/02/sandboxing.html) the call quite a bit. Unfortunately though unlike say, the go compiler toolchain, it is depending on `rpmbuild` already being available on your system instead of managing it's own copy.

For no

[2017-11-10 18:24] jagosan opened #5446 "Improve Conformance test coverage via data-driven e2e test"
Conformance test coverage is currently insufficient to provide a strong guarantee that a Kubernetes cluster exposes endpoints an end user would reasonably expect.  @erictune described an approach from another effort (auth) which seems reasonable to apply.

Goal: Ensure that conforming Kubernetes implementations have all the expected Endpoints.  Cheaply increase coverage of the Conformance test wit

[2017-11-10 18:24] jagosan commented on #5446
/assign @roycaihw

[2017-11-10 18:25] jagosan commented on #5446
/cc @fejta @spiffxp @erictune FYI and thoughts?

[2017-11-10 18:31] roycaihw commented on #5446
/cc roycaihw

[2017-11-10 18:32] erictune commented on #5446
Sounds about right.

Just to restate the goal: the goal here is not to test the correct behavior of the controllers behind the resources resources.  It is just to ensure that  conformant Kubernetes implementations at least support all expected CRUD operations on all expected resources.

[2017-11-10 18:54] mml commented on #5197
Is this live against k/k yet?

[2017-11-10 18:59] cjwagner commented on #4179
Wouldn't this number be more accurate if we did not auto-assign or auto-request reviews and instead only suggested reviews? I think requested reviewers are more likely to actually review a PR if the author has explicitly requested a review from them instead of being auto-requested.

Making PR authors request reviews themselves is certainly an extra step compared to auto-requesting if the auto-requ

[2017-11-10 19:05] kargakis commented on #3741
@cjwagner has been fixing this

/assign cjwagner

[2017-11-10 19:05] cjwagner commented on #5197
Not yet. Its ready to be rolled out to more repos though. I'd like to try the new plugin in a couple more repos before turning it on in k/k, but I'll start doing that today so that we can enable this in k/k next week.

[2017-11-10 19:09] mml commented on #5197
Awesome, thanks @cjwagner

[2017-11-10 19:11] kargakis commented on #5401
This seems like it would be useful in cases like https://github.com/kubernetes/test-infra/pull/5445 where two PRs are changing the same lines but once one of them merges, the second is still mergeable because the conflicting diffs were the same.

[2017-11-10 19:19] kargakis commented on #2699
Merged a basic set of metrics for the jenkins operator in https://github.com/kubernetes/test-infra/pull/5424 - exposing in https://github.com/kubernetes/test-infra/pull/5337

[2017-11-10 19:31] krzyzacy opened #5449 "Pods are OOMKilling itself"
[code]

We probably want to set memory limit for each job, like regular e2e jobs use ~1Gi, however bazel job can eat up ~7Gi

`"sacrifice child!", said by the node`

/area prow
/area jobs

[2017-11-10 19:33] krzyzacy commented on #5449
/assign
/assign @BenTheElder @cjwagner

[2017-11-10 20:31] spiffxp commented on #4179
Fair.  I get feedback from people who aren't used to having to shepherd PR's through other projects, but I'm open to seeing us try it out, and changing if the data shows this is hurting vs. helping.

It'd be nice to express this in terms of something we can measure.  I guess we would see time from open to LGTM conceivably go down here https://devstats.k8s.io/dashboard/db/time-metrics

[2017-11-10 20:34] #5350 closed

[2017-11-10 20:45] kargakis commented on #4179
We should track command usage from a couple of different groups: first-time contributors, members outside the trusted org, and org members.

[2017-11-10 20:52] krzyzacy opened #5453 "Switch kubetest to use logrus"
xref #5452

/area kubetest

[2017-11-10 21:43] BenTheElder commented on #5436
we definitely need to look into https://github.com/kubernetes/test-infra/issues/5449 first

[2017-11-10 21:56] BenTheElder commented on #5449
https://kubernetes.io/docs/tasks/administer-cluster/memory-default-namespace/

we should probably add some configuration for this, as well as look at configuring some of the more intensive jobs (jobs with builds) to request more

[2017-11-10 22:31] BenTheElder commented on #5429
https://github.com/kubernetes/test-infra/pull/5456 has a fix for planter, changes to CI will follow after doing a little bit more local testing.

[2017-11-10 22:58] krzyzacy commented on #5449
FYI, current status:
[code]

[2017-11-10 23:25] krzyzacy commented on #5449
you can get pod-level stats by doing something like `gcloud compute ssh gke-prow-default-pool-42819f20-zs96 --project=k8s-prow-builds -- curl localhost:10255/stats/summary`, I'll try to have a script to collect some data.

[2017-11-10 23:33] krzyzacy commented on #5342
https://github.com/kubernetes/test-infra/issues/5449 is the actual issue, I'll close this surface issue as it's a broader issue than upgrade jobs.

[2017-11-10 23:33] #5342 closed

[2017-11-10 23:35] krzyzacy commented on #4961
/shrug
we complaint every so often
move discussion to https://github.com/kubernetes/test-infra/issues/5436

[2017-11-10 23:35] #4961 closed

[2017-11-10 23:37] krzyzacy commented on #4249
Updated the issue to track the kops-gce job

[code]

[2017-11-11 00:50] munnerz commented on #3866
I think support additional contexts required to merge is a useful feature. I've used it in the past to require a travis context to pass for example, and it's a super convenient integration point for external tools to have a say in the merge process.

Could we automatically require all that have `skip_report: false`, as well as support an `additional_required_contexts` field or something?

[2017-11-11 00:59] BenTheElder commented on #3866
I'm not sure I understand why this is needed or what this would do exactly? Right now tide blocks on *all* contexts on GitHub being green regardless of source, in the future we might want to have a white or blacklist that can be configured in Tide for which contexts exactly should be green. Even then though the prow jobs shouldn't need to set anything themselves and there can be more than one prow

[2017-11-11 01:01] munnerz commented on #3866
Ah - that makes sense. I thought tide simply checks the prow config for jobs that have `skip_report: false` and merged when all of those were green. Checking the GitHub API and expecting all to be green makes a lot more sense!

[2017-11-11 01:06] BenTheElder commented on #3866
Yeah, you can see where it does that here with a TODO to look at the jobs, which we still seem to be coming to consensus on how to handle :-)
https://github.com/kubernetes/test-infra/blob/70f5bea97c31be846b999a58a9828dc4fda9568b/prow/tide/tide.go#L170-L188

[2017-11-11 07:13] krzyzacy commented on #5416
cherrypicks are in
/close

[2017-11-11 07:13] #5416 closed

[2017-11-11 18:31] krzyzacy opened #5468 "cron job did not get triggered"
/area prow
/assign

[2017-11-13 09:39] kargakis commented on #4179
We will need a way to figure out whether a requested reviewer actually did the review.

[2017-11-13 17:40] kargakis commented on #5332
Another thing is we need a way to avoid readding labels in certain cases like when the label is removed. For example, in the case where we label all api changes with a [`needs-api-review`](https://github.com/openshift/release/blob/7f803f9c126e2a55250d3c8b417e1435a7248722/cluster/ci/config/submit-queue/submit_queue.yaml#L298) label, we have been asked for a way to remove the label once the review i

[2017-11-13 17:48] cjwagner commented on #5449
This seems to still be a problem. #5457 was deployed before the weekend, right?
[code]

[2017-11-13 18:00] thockin opened #5473 "PR Dashboard should not show closed or merged PRs"
My dashboard is littered with the corpses of PRs that were once assigned to me but have since been closed or merged.  Thy significantly impact the S/N ratio to the point that I am not sure I can use it.

It's one thing in the first section (ACKable) but all subsequent sections I can't even ACK..

[2017-11-13 18:02] thockin opened #5474 "Sort Gubernator dashboard"
I need to be able to sort by PR number, and by PR size

[2017-11-13 18:16] krzyzacy commented on #5449
@cjwagner that adds a lower bound for default memory requesting, we still need to add a higher bound for build jobs

[2017-11-13 18:24] krzyzacy commented on #5449
seems we already have the resources fields in type.go, I'll add them for jobs using bazel build

[2017-11-13 20:29] spiffxp commented on #4179
@kargakis devstats attempts to do something like that https://devstats.k8s.io/dashboard/db/suggested-approvers?orgId=1

it's difficult to parse out because /lgtm can mean something different depending on whether you're in OWNERS as an approver or reviewer (this is why I wish we added the extra friction to require an explicit /approve for approval)

[2017-11-13 20:35] yliaog opened #5479 "Support triggering specific e2e tests on PR merge that touches files in a particular directory"
The particular problem I'd like to solve is:

when a PR touches a file in kubernetes/cluster/gce/, trigger e2e tests for gci-gke before the PR is allowed to merge. Put it another way, gci-gke e2e tests will not run or  block PR merge if the PR does not touch any file under the directory.

this could be a generally useful feature, IMHO.

[2017-11-13 20:38] michelle192837 commented on #5385
You're correct, the summary text is super-hardcoded for one week, both text-wise and calculation-wise (in that we'll look back seven days and take as much data as we have for that). No configuration value affects this number.

[2017-11-13 20:40] fejta commented on #5479
See pull-kubernetes-cross and the run_if_changed config option: https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L943

[2017-11-13 20:54] BenTheElder commented on #5479
Though this can't actually merge the PR currently /cc @cjwagner
`run_if_changed` will get it running but previously when I tried to make `pull-kubernetes-cross` blocking we hit some kind of bug that caused it to block PRs that shouldn't run the test (and weren't)
xref: https://github.com/kubernetes/test-infra/issues/5069

[2017-11-13 21:15] yujuhong opened #5480 "*-gke-* and *-gci-gke* jobs both test COS images"
I assume non-gci jobs should test CVM, but gubernator shows that the node OS image is COS.
E.g.,
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1-6/1854
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1-6/1867

In addition, none of the 1.6 gke jobs above have node logs properly archived (artifacts do

[2017-11-13 21:21] yguo0905 commented on #5480
Looks like this was set incorrectly in https://github.com/kubernetes/test-infra/commit/cf7a139562f180235f2db683a52342e9b94f488d#diff-5539d275f091e62154f51653bbe4fba0R7111.

@krzyzacy, do we want to instead auto-generate those jobs so that this kind of error won't happen anymore?

[2017-11-13 21:21] krzyzacy commented on #5480
I remember @zmerlynn switched all of them to gci?

[2017-11-13 21:21] yguo0905 commented on #5480
It should be `--gcp-node-image=container_vm` for this job.

[2017-11-13 21:29] krzyzacy commented on #5480
@yguo0905 the current plan is to retire config.json and move job definition to prow/config.yaml, I'm not 100% sure about auto generate.

I'll patch up the configs for now

[2017-11-13 21:30] cjwagner commented on #5479
`pull-test-infra-gubernator` is another blocking job that uses `run_if_changed`.
`pull-kubernetes-cross` is a k/k job that also uses it, is blocking, and runs on jenkins not kubernetes.
Have we ever seen this behavior on either of these jobs?

[2017-11-13 21:31] yguo0905 commented on #5480
I feel like no matter the job definitions live, they should be auto-generated.

[2017-11-13 21:32] BenTheElder commented on #5479
`pull-kubernetes-cross` is not actually blocking AFAIK, test-infra runs on tide so all jobs that run are blocking right?

[2017-11-13 21:38] yujuhong commented on #5480
Any idea about why the logs are missing in the artifacts? :-)

[2017-11-13 21:57] cjwagner commented on #5479
Yes, you're right it is not blocking, I read the wrong context.

I'm not sure that whether or not the job is blocking is related to the bug. AFAICT Prow never checks if a job is blocking.

Also, I don't think this is related to the submit-queue/mungegithub because MG never sets any status context besides the `Submit Queue` context.

[2017-11-13 22:00] krzyzacy commented on #5480
probably some PR need to be cherry-picked back

[2017-11-13 22:04] krzyzacy commented on #5480
https://github.com/kubernetes/kubernetes/pull/52361 is already merged to 1.6, so maybe something else
/shrug

[2017-11-13 22:26] BenTheElder commented on #5479
Wherever the bug actually is last time we made a `run_if_changed` job blocking we quickly reverted that because it was ultimately blocking lots of PRs that it shouldn't have.

[2017-11-13 22:40] yujuhong commented on #5480
The 1.6 "GCE" jobs are fine... http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1-6/1520/
@krzyzacy should this also be cherry-picked to 1.6?: https://github.com/kubernetes/kubernetes/pull/52668

[2017-11-13 22:58] yujuhong commented on #5480
FYI, I submitted a PR: https://github.com/kubernetes/kubernetes/pull/55640

[2017-11-13 23:30] G-Harmon commented on #4794
I guess one reason for this is that you can add comments?

[2017-11-13 23:35] BenTheElder commented on #4794
Yes, which is super useful for explaining exceptional configurations. :+1:

[2017-11-13 23:46] lavalamp opened #5483 "issue checker is confused by PRs referencing other PRs"
See https://github.com/kubernetes/kubernetes/pull/55533.

Note the "approved" comment has decided that the associated issue is 55127, which is not even an issue but a PR this one is rebased on top of. (note, I just edited to add the "Ref:" link, it wasn't there when the bot made that comment.)

Seems like whatever does that should at least check that the thing is an issue and not a PR.

This likel

[2017-11-14 00:08] BenTheElder commented on #5483
As far as GitHub is concerned PRs are still issues which is likely the cause of this bug.

/cc @cjwagner

[2017-11-14 00:27] krzyzacy opened #5485 "Bazel test job eats up ~12Gi memory"
They are keep OOMKilling themselves

/area bazel

[2017-11-14 00:27] krzyzacy opened #5486 "Expose pod CPU/Memory usage in deck"
/area prow

[2017-11-14 00:28] krzyzacy opened #5487 "Have monitoring for prow job pod status"
/area prow

[2017-11-14 00:30] spxtr commented on #5486
It's possible, although we should probably avoid just cramming more info into the main UI.

[2017-11-14 00:30] BenTheElder commented on #5486
FYI @kargakis @cjwagner
I've been discussing with @krzyzacy how it would be useful to basically expose `kubectl top pod` next to the running jobs so we can get a better idea how much resources they should allocate.
We also probably should add a graph somewhere and another for monitoring the pod states.

[2017-11-14 00:33] BenTheElder commented on #5486
We can just put two new columns like:
[code]
And show the units on hover or something. That shouldn't really cram things much

[2017-11-14 00:36] BenTheElder opened #5488 "When dep supports excluding vendored tests, remove checking for them"
IE revert https://github.com/kubernetes/test-infra/pull/5411 once https://github.com/golang/dep/issues/944 is closed.
/assign

[2017-11-14 00:40] Bradamant3 commented on #5483
So many questions, here's just a start (I'm heading up the release note effort for 1.9, so bear with me):
- the example (#55533) looks as though it's a test? We don't and shouldn't provide release notes for tests, including e2e tests. If the script for generating the release notes is iterating over PRs for tests, then we should fix the script.
- we should also not be generating release notes at al

[2017-11-14 00:41] krzyzacy commented on #5487
/assign

[2017-11-14 00:47] lavalamp commented on #5483
Yeah, I'm sure that is the cause of the bug.

The test is part of a bigger feature which has a release note. The PR either needs to be associated with that issue, or say `NONE` for its release note to make the bot happy.

[2017-11-14 00:50] spxtr commented on #5486
Right, but then we might want to add number of restarts, node name, and so on. Plus, what we really want for memory and CPU usage is a graph, much like the k8s dashboard exposes.

...

On that note, can we just expose the k8s dashboard to the public? Is there a way to turn off edit power as well as secret viewing?

[2017-11-14 00:51] BenTheElder commented on #5483
The reviewer should make sure PRs that shouldn't have release notes don't and that PRs that should, do. The GitHub bot just makes sure you've actually set these values as far as I know.

`/release-note none` / putting `NONE` in the PR body should cover this (?), I don't think we are generating release note for PRs without release note content. If we are that definitely seems like a bug.

[2017-11-14 00:58] BenTheElder commented on #5486
Maybe, or maybe we can do that in velodrome because. But some indication that the job is actually running is _actually_ running is useful, and we particularly need to know what their usage looks like and easily associate it _with the job name_ whereas the k8s dashboard does all of this with some UUID pod name...

I don't think so. This dashboard is also not terribly helpful for prow jobs since it

[2017-11-14 01:03] cjwagner commented on #5483
/assign

[2017-11-14 01:21] BenTheElder commented on #5449
see also: https://github.com/kubernetes/test-infra/issues/5485

[2017-11-14 01:25] BenTheElder commented on #5486
Also if that's the route we decide to go, I definitely don't want to clutter the deck UI, but I think deck probably makes sense as the right component to collect and expose information like this. We just might need to only show it via a different URL / Interface. Deck pretty much *is* the Prow dashboard, and is actually aware of your job, to the standard k8s tooling our jobs are just gibberish one

[2017-11-14 01:25] justinsb opened #5490 "AWS tests "leaking" volumes of size 1GB"
The janitor is cleaning them up, but we are regularly leaking volumes of size 1GB e.g.: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/maintenance-ci-aws-janitor/8147/.

1GB suggests that this is from an e2e test, as kops tends to create volumes that are at least 20GB, and I think now we default to 32GB.

Volumes created through the dynamic volume provisioner should be tagged wit

[2017-11-14 01:27] BenTheElder commented on #5490
cc @krzyzacy

[2017-11-14 01:45] #5331 closed

[2017-11-14 01:49] BenTheElder commented on #5331
I can verify that `bazel build //...` and `bazel test //...` should work fine now without excluding vendor.

[2017-11-14 01:52] BenTheElder commented on #5436
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity-beta-feature
Discussed this with @krzyzacy today, we think pod anti-affinity labels + per-repo cache paths on the host   should be a good start.

[2017-11-14 03:06] xiangpengzhao opened #5493 "pull-kubernetes-e2e-gce-device-plugin-gpu cannot be triggered."
Comment `/test pull-kubernetes-e2e-gce-device-plugin-gpu`:
https://github.com/kubernetes/kubernetes/pull/55574#issuecomment-344130935

But the test isn't triggered.

[2017-11-14 03:37] xiangpengzhao commented on #5493
Finally it was triggered.
/close

[2017-11-14 03:37] #5493 closed

[2017-11-14 03:42] krzyzacy commented on #5493
it's https://github.com/kubernetes/test-infra/issues/5449 + https://github.com/kubernetes/test-infra/issues/5436, pod scheduling are backlogged for ~30min now

[2017-11-14 03:51] xiangpengzhao commented on #5493
Thanks @krzyzacy for clarifying :+1:

[2017-11-14 05:03] mtaufen commented on #5350
YAAAAAAAAAAY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

On Fri, Nov 10, 2017 at 12:34 PM, k8s-ci-robot <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2017-11-14 05:48] BenTheElder commented on #5449
I've been ad-hoc monitoring this in the background with a small script around kubectl I had lying around from when we had previous issues and we're still looking at:
`2017-11-13 21:46:58.313663: {'Completed': 225, 'ContainerCreating': 1, 'Error': 124, 'Evicted': 2, 'OOMKilled': 70, 'Pending': 53, 'Running': 355`

[2017-11-14 06:07] krzyzacy commented on #5449
trying to turn on some `n1-highmem-4` instances. on the other side seems prow-build cluster only allows me to choose 1.7.8-gke0 rather than 1.8.x?

[2017-11-14 06:33] BenTheElder opened #5494 "jobs can fail without debugging the node they ran on"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55243/pull-kubernetes-bazel-build/15752/

finished.json and build-log.txt uploaded, but neither of these can tell me anything about which node it ran on. I can probably find this through deck by the job ID if I look quickly, but this is not a great failure mode in bootstrap.

/kind bug
/area bootstrap

[2017-11-14 06:34] BenTheElder commented on #5494
Additionally this looks like it could be a full disk 😕 /cc @krzyzacy

[2017-11-14 06:37] BenTheElder commented on #5494
got the pod from deck and then the node from kuebctl: `gke-prow-pool-1-bb1620ee-mpm4`, investigating.

[2017-11-14 06:40] BenTheElder commented on #5494
Ah it's one of the new `n1-highmem-4` @krzyzacy added, and it's missing the SSD. That's why this job failed, but the bootstrap failure mode is still not great.

[2017-11-14 06:41] msau42 opened #5495 "PR git init failing"
All the jobs on kubernetes/kubernetes#55039 are failing at git init:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55039/pull-kubernetes-bazel-test/16694/

[code]

[2017-11-14 06:45] BenTheElder commented on #5494
xref: https://github.com/kubernetes/test-infra/issues/5449#issuecomment-344156093

[2017-11-14 06:47] BenTheElder commented on #5495
https://github.com/kubernetes/test-infra/issues/5494#issuecomment-344161123
/assign @krzyzacy

We had some bad nodes which looked attractive to the scheduler so all the jobs are trying to run on them, this *should* be fixed now? (@krzyzacy ?)

[2017-11-14 06:49] krzyzacy commented on #5495
/close
yeah created a pool without local ssd accidentally, should be fixed now

[2017-11-14 06:49] #5495 closed

[2017-11-14 08:29] spxtr commented on #5494
We can use a podpreset to expose a downward api volume with node information to all of our jobs. That sounds kinda neat.

[2017-11-14 08:46] kargakis commented on #5486
It sounds like you want to expose these as metrics rather than have them in deck. Also, I would try to avoid adding that info in public view.

I am not sure about the dashboard but it should be possible to restrict access in the cluster with RBAC.

[2017-11-14 09:18] BenTheElder commented on #5486
Why not have it in public view?

Also discussed this more with @spxtr offline tonight, a deck endpoint serving this data would be a suitable start, the UI can come later and potentially be seperate.

[2017-11-14 09:27] kargakis commented on #5486
Info that gives away cluster information like how much CPU/memory is utilized at a given point in time are usually put behind authenticated endpoints.

[2017-11-14 09:29] BenTheElder commented on #5486
So are pod logs. Neither seem particularly private for something like Prow
though...

On Nov 14, 2017 01:27, "Michalis Kargakis" <notifications@github.com> wrote:

[2017-11-14 10:26] kargakis commented on #5486
A separate endpoint sounds fine.

[2017-11-14 16:53] kargakis commented on #5217
Seems to be an issue in forks

cc @stevekuznetsov

[2017-11-14 16:54] kargakis commented on #5217
/kind bug

[2017-11-14 16:54] kargakis commented on #5217
And not only forks, but I could reproduce in two of our forks

[2017-11-14 17:07] stevekuznetsov commented on #5217
This is on the `GET`?

[2017-11-14 17:31] enisoc commented on #5483
I haven't verified this, but my impression has always been that the "Associated issue" is not used for anything except deciding whether to require `/approve no-issue`.

I'm not aware of any automation that follows "associated issue" links at this time. For release notes in particular, we don't look at non-PR issues at all. We list PRs with the `release-note` label, and get the text directly from t

[2017-11-14 18:03] yliaog commented on #5479
is there any conclusion? is it worth a try? it is kind of urgent as i'm investigating e2e test failures, and found 5 bugs one after another so far. Some bug was introduced before the other bugs uncovered were fixed. I think adding the presubmit check is probably the quickest way to get e2e tests green.

[2017-11-14 18:18] BenTheElder commented on #5479
`run_if_changed` works quite well, and we can report it on github, but adding it to the list of blocking jobs might not work out well immediately.
We punted on that for now since the cross job being blocking wasn't _that_ important and we're focusing on switching over to `tide` instead of the submit-queue (https://github.com/kubernetes/test-infra/issues/3866)

[2017-11-14 18:54] kargakis commented on #5217
We are seeing it lately when the bot tries to assign a user in a fork.
[code]

[2017-11-14 19:03] krzyzacy commented on #5449
status update: with 25 highmem nodes seems there's no more backlogged pods (for now), but in the meantime we might still want other solutions, i.e. https://stackoverflow.com/questions/37312581/can-i-release-some-memory-of-a-running-docker-container-on-the-fly/37312820#37312820?

[2017-11-14 19:07] xiangpengzhao commented on #5483
If we are going to adopt the new release note tool (https://github.com/kubernetes/release/pull/434, https://github.com/kubernetes/release/pull/435), there might be a corner case here. PR title may also be used as release note. See: https://github.com/kubernetes/release/pull/434#discussion_r145884721

As for the `associated issue`, the [Hierarchical release note feature functions](https://github.co

[2017-11-14 19:10] BenTheElder commented on #5449
Going to add this to kubetest today, I tested that out last night on some
GPU jobs with kubectl exec and it seems to work fine.

On Nov 14, 2017 11:03, "Sen Lu" <notifications@github.com> wrote:

[2017-11-14 19:12] xiangpengzhao commented on #5483
BTW, are we going to adopt the new release note tool(s) for 1.9, or still use the script one?
Seems like v1.9.0-alpha.2 changelog was updated by @dashpole (https://github.com/kubernetes/kubernetes/commit/e0cac2a2f0359f8908076ad92fcd33fb3bdfcb13), @dashpole which release tool were you using?

[2017-11-14 19:13] cjwagner commented on #5479
The job you are interested in is `ci-kubernetes-e2e-gci-gke`, right? If so the first step would be to make a presubmit version of this job and set the `run_if_changed` field appropriately.
We can work to make the job blocking and deal with any problems after that.

[2017-11-14 19:13] dashpole commented on #5483
I just used anago.

[2017-11-14 19:15] xiangpengzhao commented on #5483
@enisoc the original discussion is here: [Each PR should have an associated issue ](https://github.com/kubernetes/test-infra/issues/2868)

[2017-11-14 19:18] xiangpengzhao commented on #5483
@dashpole then it will invoke the script version release notes tool: https://github.com/kubernetes/release/blob/master/anago#L425

[2017-11-14 19:39] enisoc commented on #5483
Thanks for the info @xiangpengzhao. So to summarize, our current tooling should not be impaired by this problem, but the new hierarchical release note function might get confused by it?

[2017-11-14 19:43] yliaog commented on #5479
Yes, ci-kubernetes-e2e-gci-gke is the one. I'll make changes as suggested.

[2017-11-14 19:49] BenTheElder commented on #5449
`2017-11-14 19:49:13.335810: {'Completed': 353, 'ContainerCreating': 1, 'Error': 161, 'Evicted': 2, 'OOMKilled': 2, 'Running': 302}`

Much better, but not perfect.

[2017-11-14 19:56] xiangpengzhao commented on #5483
I guess so. cc @roycaihw

[2017-11-14 20:00] spiffxp commented on #4794
Does this include `jobs/config.json`? Could use an `area/jobs` label if so

[2017-11-14 20:09] BenTheElder commented on #4794
Very much so, job configs don't really need to be two files if we are all-in on Prow in our shiny future.

[2017-11-14 20:14] roycaihw commented on #5483
@xiangpengzhao @enisoc The new hierarchical release note function assumes PR authors following the [PR template](https://github.com/kubernetes/kubernetes/blob/95b4312899b109a9f1c666687827541fac756910/.github/PULL_REQUEST_TEMPLATE.md) and looks for specific ["fixes #\<issue number\>"](https://github.com/kubernetes/release/pull/435/files#diff-49d09fcbe05bad1f7da45fb5828f1c84R92) in PR body.

The too

[2017-11-14 20:31] cjwagner commented on #5483
That tool will have the same problem the approval-handler has now if I say `fixes #5` and 5 is a PR.

[2017-11-14 20:39] cblecker commented on #4460
+1. It's helpful to have that point in time, explicit audit trail especially considering that comments generated by a user can be removed by that user. Anyone can leave a comment "/approve", but you don't necessarily know which files without tracking it down.

[2017-11-14 20:42] spiffxp opened #5507 "migrate stale issue closer to prow"
proposal: https://docs.google.com/document/d/19c0eGkq8VzQhllbIcncLa42wWucPxn5Ra51M0BYZYqw/edit#

/area mungegithub
since this is where it's coming from
/area prow
since this is where it's going

[2017-11-14 20:59] yujuhong opened #5509 "Tests failed due to project quota issues"
Some tests occasionally failed because of quota issues.
E.g.,
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cosbeta-k8sstable3-stackdriver/12

[code]
/cc @yguo0905

[2017-11-14 21:02] krzyzacy commented on #5509
oh this is a general gke cluster up issue

[2017-11-14 21:04] krzyzacy commented on #5509
https://github.com/kubernetes/kubernetes/issues/55189

and much more
https://github.com/kubernetes/kubernetes/issues/55192
https://github.com/kubernetes/kubernetes/issues/55193
https://github.com/kubernetes/kubernetes/issues/55195

[2017-11-14 21:24] roycaihw commented on #5483
@cjwagner Ah I see. Yes you're right. I will add a check to that tool to make sure the "issue" is not a PR.

[2017-11-14 21:26] lavalamp commented on #5483
Just looking for "fixes" is not enough. It should also look for "ref" or
"references"; sometimes it takes many PRs to "fix" an issue, in fact that
is the only case where it is useful to have an associated issue: when you
want to be able to group multiple PRs.

On Tue, Nov 14, 2017 at 1:24 PM, Haowei Cai (Roy) <notifications@github.com>
wrote:

[2017-11-14 21:58] krzyzacy commented on #5509
(I'll close this and we can track the k/k issue)

[2017-11-14 21:58] #5509 closed

[2017-11-14 22:27] roycaihw commented on #5483
@lavalamp Totally agree. One concern is that I see many PR referring other PRs. We can filter out the associated PRs and keep only the issues, but maybe we should provide some guideline in [PR template](https://raw.githubusercontent.com/kubernetes/kubernetes/95b4312899b109a9f1c666687827541fac756910/.github/PULL_REQUEST_TEMPLATE.md) about how to use "ref"?

[2017-11-14 22:43] cjwagner opened #5513 "The ClientError type is not unmarshalled correctly."
The ClientError type added in #5059 is not unmarshalled correctly for label removal errors. Here are the logs:

[code]

[code]

/cc @BenTheElder

[2017-11-14 22:47] cjwagner commented on #5513
I think this line just needs to have an `&`.
https://github.com/kubernetes/test-infra/blob/1ff53bd440641480c383c8c8edac0bfe022db6db/prow/github/client.go#L154

[2017-11-14 22:51] BenTheElder commented on #5513
That's in https://github.com/kubernetes/test-infra/pull/5512 as of 2 minutes before this issue :joy:

[2017-11-14 23:07] krzyzacy commented on #5468
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-prow-canary/750/

seems working now, fixed by https://github.com/kubernetes/test-infra/pull/5510

[2017-11-14 23:07] #5468 closed

[2017-11-15 01:38] cjwagner opened #5518 "Excessive failed batches"
Deck is showing lots of recent consecutive batch job failures. It looks like the last batch and the current batch are healthier now, but deck currently shows 15 (nearly) consecutive batch failures.
/cc @ixdy
http://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=batch

This error text is common between the failures that I checked:
[code]

[2017-11-15 03:04] yguo0905 opened #5520 "Allow node e2e test to use scripts in test-infra"
The node e2e tests can use the cloud-init configurations in the main repo, like

https://github.com/kubernetes/test-infra/blob/57b57514ae85e59f23429a5910027e387f161145/jobs/e2e_node/benchmark-config.yaml#L7

It would be better to have the node e2e test to use configurations and scripts in test-infra, so that cherry picks like https://github.com/kubernetes/kubernetes/pull/55755 https://github.com/k

[2017-11-15 03:48] krzyzacy commented on #5520
@yguo0905 I think you can use abs path in metadata to work around this

[2017-11-15 04:53] BenTheElder commented on #5518
https://github.com/kubernetes/kubernetes/pull/53787/files changes config.Burst

[2017-11-15 04:54] BenTheElder commented on #5518
it also appears to be in all the failed batches

[2017-11-15 05:02] BenTheElder commented on #5518
[code]
That change is definitely in #53787. Not sure why it passed in single PR mode though.

[2017-11-15 05:12] xiangpengzhao commented on #5518
That's because https://github.com/kubernetes/kubernetes/pull/53850 changed the type and was merged just a day ago.

[code]
https://github.com/kubernetes/kubernetes/commit/7950609b31df2354f31199dba6706d62959b48b4#diff-96a1b32fdd44ac3b9ab11bfaa36df4cdR40

Then https://github.com/kubernetes/kubernetes/pull/53787 will not be needed any longer. I will close it.

[2017-11-15 05:41] BenTheElder commented on #5518
We should figure out a way to prevent this sort of batch blocking in the future. This would have been avoided by EG triggering another serial run, or by backing off from including this PR in the batch after so many failed batches including it ... 🤔
@cjwagner @kargakis @spxtr

[2017-11-15 06:01] fisherxu opened #5524 "How to judge the e2e test Success in case of some test failed by chance"
In my environment when I run e2e test, it will has some test-cases failed because of time out by chance. I config that as long as any one test-case failed, the CI failed.
But I find that  e2e-test in kubernetes/kubernetes alse has time out failed, and still SUCCESS, I want to know how to judge it, by some label?

![image](https://user-images.githubusercontent.com/28776356/32821366-ecac9aba-ca0d-11

[2017-11-15 06:17] krzyzacy commented on #5518
maybe it's two combination PRs have caused the failure? That has happened before.

[2017-11-15 06:20] BenTheElder commented on #5518
@krzyzacy, yeah as @xiangpengzhao said another PR went in between the single PR run and the batch testing which changed the type, but the submit-queue was happy to keep trying to merge the now broken PR in nearly every batch all day. We ought to be able to avoid that.

[2017-11-15 06:24] krzyzacy commented on #5524
some jobs have `GINKGO_TOLERATE_FLAKES=y` configured, like https://github.com/kubernetes/test-infra/blob/master/jobs/env/pull-kubernetes-e2e.env#L2, if that what you are asking.

[2017-11-15 06:24] xiangpengzhao commented on #5518
The two PRs didn't have non-logic conflict so needs-rebase wasn't detected. It'd be good to have a way to find which PR is the criminal of the batch testing failure and exclude it out of the batch or even the submit-queue.

[2017-11-15 07:03] porridge commented on #4540
I fact, ALL git links are broken. E.g. in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/28
The links to code within assertion failure messages lead to URLs such as https://github.com/None/blob/95b4312899b109/test/e2e/autoscaling/horizontal_pod_autoscaling.go#L70

It feels like a configuration issue, and fixing this would improve productivi

[2017-11-15 07:20] BenTheElder commented on #4540
cc @rmmh
As long as the refs are right it should be possible to copy the refs and still find the revision(s) in the meantime.

[2017-11-15 07:25] porridge commented on #4540
@BenTheElder I don't understand what you mean... Copy to where?

[2017-11-15 07:39] BenTheElder commented on #4540
All of these just appear to have `None` in place of the repo because the repo metadata is missing. We know the repo is `kubernetes/kubernetes` so `s/None/$REPO/`.

What I meant by copying them though is that they're git refs you can use standard git commands and GitHub URLs to inspect them. EG the one in the original post is for the ref `108ee220966677` which can is on GitHub at [`https://github.c

[2017-11-15 09:26] fisherxu commented on #5524
If set GINKGO_TOLERATE_FLAKES=y, the failed case will rerun, if any of the attempts succeed, the suite will not be failed. But any failures will still be recorded. It means that the case failed in above  finally success with rerun, but still record  as failed in the result?

[2017-11-15 09:30] fisherxu commented on #5524
GINKGO_TOLERATE_FLAKES works with FLAKE_ATTEMPTS?

FLAKE_ATTEMPTS=1
if [[ "${GINKGO_TOLERATE_FLAKES}" == "y" ]]; then
  FLAKE_ATTEMPTS=2
fi
.......
"${ginkgo}" "${ginkgo_args[@]:+${ginkgo_args[@]}}" "${e2e_test}" -- \
  "${auth_config[@]:+${auth_config[@]}}" \
  --ginkgo.flakeAttempts="${FLAKE_ATTEMPTS}" \

[2017-11-15 15:11] spiffxp commented on #3866
We discussed during sig-testing yesterday, and are planning to wait until after the 1.9 release to roll out tide for kubernetes/kubernetes.  We will continue to canary it elsewhere, as it's been going fine in kubernetes/test-infra.  There was some question over whether we've done adequate load testing, which openshift might be willing to help us with.

[2017-11-15 15:27] spiffxp commented on #2364
Using my current east coast superpowers I can confirm that yes, it's still locked to pacific time

[2017-11-15 15:30] shyamjvs opened #5530 "Kubemark jobs failing due to jenkins unresponsiveness"
Many of our kubemark jobs are failing frequently due to jenkins:
- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100
- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-500
- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000

E.gs from each:
- https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/5386/build

[2017-11-15 15:37] spiffxp commented on #5509
I think the general GKE errors have stopped.  But I'm still seeing this happen on https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-ingress (https://github.com/kubernetes/kubernetes/issues/55195)

[2017-11-15 16:14] spiffxp commented on #5530
Left hand meet right hand https://github.com/kubernetes/kubernetes/issues/55770

[2017-11-15 18:06] krzyzacy commented on #5524
well, seems `GINKGO_TOLERATE_FLAKES` hard-coded `FLAKE_ATTEMPTS` to 2, set `FLAKE_ATTEMPTS` locally would not have any effect from the snippet

[2017-11-15 18:26] krzyzacy commented on #5530
😂
/shrug

[2017-11-15 18:37] krzyzacy commented on #5530
(I really have no clue, kubekins looks fine-ish?)
/assign @ixdy
toss a hot potato at our Jenkins master 😂 Jeff might know more

[2017-11-15 19:03] cjwagner commented on #5518
Given that the single PR run passed I think the submit-queue was acting reasonably. It makes sense to kick other PRs out of the batch since the actually broken PR had passed on its own.

[2017-11-15 19:38] ixdy commented on #5530
I'm pretty sure this isn't a jenkins issue. The ssh username is jenkins because the tests are running as the jenkins user, but the tests are trying to connect to the kubetest master, not jenkins master.

Note how the IP address is different in each of the instances you linked:
`error creating session to jenkins@35.193.52.163:22`
`error creating session to jenkins@35.196.102.218:22`
`error getting

[2017-11-15 19:58] BenTheElder commented on #5530
Side note: Xref #3778

[2017-11-15 21:46] shyamjvs commented on #5530
Closing this.. as the issue seems unrelated to test-infra. Filed the bug in k/k instead.
/close

[2017-11-15 21:46] #5530 closed

[2017-11-16 00:22] thockin opened #5536 "Code analysis -> approvals needed"
I wonder what the right place to put this would be.

I want to do some amount of static analysis of code as it comes through, and do something.  For example, any PR that adds or changes an `init()` function under vendor/, I want to flag for extra review.

What piece of the pipeline would be the right place for that?

@grodrigues3

[2017-11-16 01:42] spxtr commented on #5536
It's not too much trouble to write a prow plugin that does this sort of thing.
/area prow

[2017-11-16 01:58] BenTheElder commented on #5536
Prow is definitely the right place.

Right now Prow actually supports specifying `run_if_changed: '^vendor/*\.go'` as a job trigger*, though it sounds like that might not be enough.

/kind feature
/cc @cjwagner @kargakis

\* actual usage: `pull-kubernetes-cross` sets: `run_if_changed: '^(build\/|hack\/lib\/)|(Makefile)|(.*_(windows|linux|osx|unsupported)(_test)?\.go)$'` and only runs against PRs t

[2017-11-16 03:46] cjwagner commented on #5536
If this is to be implemented as a Prow plugin, the `blockade` plugin might be a good starting place.

[2017-11-16 04:49] fejta commented on #3414
What are you doing with prow that isn't met with testgrid?

[2017-11-16 05:00] mtaufen commented on #3414
It's mostly when I want to see if a PR job has had a streak of failures recently across many PRs.

[2017-11-16 07:15] spxtr commented on #5216
This is actually pretty important, because it lets me dry run a copy of tide or plank or something without needing access to the k8s api server.

[2017-11-16 09:20] porridge opened #5541 "PR tests triggered by a push occasionally fail with "not something we can merge""
This is on kubernetes/kubernetes#55794
For example https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55794/pull-kubernetes-bazel-build/16450/ fails with:

[code]

When I do this on my side it works fine:
[code]

I suspect this earlier step is not fetching the correct commit?
[code]

[2017-11-16 10:36] porridge commented on #5541
FWIW, a /retest later got over this.

[2017-11-16 17:12] stevekuznetsov commented on #5541
Yeah this looks to be a GitHub issue on serving us stale `git` data -- unless this is pervasive I'm not sure there can be any action taken.

/cc @BenTheElder
/area bootstrap

[2017-11-16 17:24] porridge commented on #5541
Retries? I think there's a high probability that retrying for a minute or
so will just work.

[2017-11-16 17:44] fejta commented on #5541
This is by design.

[2017-11-16 19:34] BenTheElder commented on #5429
RPM tooling is in the planter image, I'll get these building in CI soonish

[2017-11-16 19:34] #5429 closed

[2017-11-16 19:34] BenTheElder opened #5542 "Make sure bazel build in CI matches local build"
xref: https://github.com/kubernetes/test-infra/issues/5429
RPMs aren't depended on by anything and get excluded from the query but are built locally.

/area bazel
/area jobs
/assign

[2017-11-16 20:01] spxtr commented on #5518
@rmmh

[2017-11-16 20:54] mml opened #5543 "Please suggest users who are allowed to add status/approved-for-milestone"
https://github.com/kubernetes/kubernetes/pull/52863#issuecomment-345027791 shows the bot asking me to get a "SIG maintainer" to add `status/approved-for-milestone`.  Unlike when I'm asked for an approver, it offers me no hints about who or how to find that person.  Can we add that?

[2017-11-16 22:28] krzyzacy commented on #5086
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-cncf-canary/59 is the first run actually runs tests, however follow up runs are all busted - need more investigation

[2017-11-16 22:49] mml opened #5550 "When hack/verify-foo fails draw the user's attention to the fix"
I'm not sure if this belongs in the logs we keep in GCS or in the github UI, but see https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52863/pull-kubernetes-verify/62997/ where verify-bazel is failing with a useless bunch of extra output.  What the user, especially a noob, really needs to know is that they didn't run update-bazel and they need to.

[2017-11-16 23:21] mml opened #5553 "merge-bot accepts a merged PR as an "associated issue""
E.g. https://github.com/kubernetes/kubernetes/pull/55871#issuecomment-344895500

Also, any reason we can't make that a hyperlink?

[2017-11-16 23:25] yliaog commented on #5479
#5523 merged. when can it be made blocking? the reason to ask is the gke e2e tests were broken again, likely due to changes under cluster/gce

[2017-11-17 00:05] krzyzacy commented on #5485
(the memory for bazel build is probably fine and now we have pod request memories + we have highmem agents)

[2017-11-17 00:05] #5485 closed

[2017-11-17 01:21] rmmh commented on #5518
Identifying which PR in a batch has issues is hard to do automatically.

If you identify this happening because of a single PR, you can usually run `/test all` on it to get it out of the queue.

[2017-11-17 03:52] BenTheElder opened #5558 "setup release 1.9 branch"
The branch was cut tonight, I'm working on getting all the right configs updated and figured it would be useful to collect all the PRs involved against this issue for next time.

/area jobs
/area testgrid

[2017-11-17 04:59] BenTheElder commented on #5558
Derailed for the moment by looking into https://github.com/kubernetes/kubernetes/issues/55917, I suspect that one will not have a great simple fix, it looks like multiple PRs changing the versioning logic went in recently.

[2017-11-17 06:48] porridge commented on #5541
/reopen
Sorry, what's by design? The fact that a test triggered by a pushed event is expected to fail, and you are expected to go and manually say `/test` to re-trigger it?

[2017-11-17 06:55] BenTheElder commented on #5541
[code]

That's fetching the repo master branch and your PR's branch, these are definitely correct...

---

It's by design that bootstrap attempts to merge against master.
There's no reason for every test run to hope that if it continues to try to fetch & merge master this will work... We get a large number of tests with genuinely un-merge-able code, I don't think we want to have all our builders f

[2017-11-17 06:55] stevekuznetsov commented on #5541
No, to be clear the behavior you saw was most likely GitHub API and GitHub git servers being inconsistent. The design is - the infrastructure determines the exact revision that is to be tested and failure to locate it is a failure to test it.

[2017-11-17 06:56] BenTheElder commented on #5541
There's not much we should do about GitHub API flakes, this is GitHub informing our services of an update to your PR before GitHub is prepared to serve the updated data. This only sometimes occurs.

[2017-11-17 07:02] stevekuznetsov commented on #5541
Also, the far more common case is that tests were triggered but a force push has removed the commits. It's impossible to tell which situation the clone fails from and retries in the common case are not going to be useful.

[2017-11-17 07:07] BenTheElder commented on #5316
xref: https://github.com/kubernetes/test-infra/pull/5560 :K

[2017-11-17 07:09] enisoc commented on #5558
ref https://github.com/kubernetes/sig-release/issues/30

[2017-11-17 09:49] fisherxu commented on #5524
Thanks @krzyzacy , now I set FLAKE_ATTEMPTS to 2 and the by chance failed test-cases wil rerun and finnally result SUCCESS :)

[2017-11-17 17:28] kargakis commented on #5518
Or remove /lgtm since the breaking changes will most likely not be merged, thus `/test all` ends up green and the PR is added back to a batch.

[2017-11-17 17:29] kargakis commented on #5518
Or `/lgtm cancel` since the breaking changes will most likely not be merged at the point you start the tests, thus `/test all` ends up green and the PR is added back to a batch.