[2021-10-20 21:15] alvaroaleman commented on #24074
/sig testing

[2021-10-21 00:56] #23915 closed

[2021-10-21 10:29] Summer-Field opened #24085 "Pulling image failed when deploy my own prow on clusters."
**What happened**:
When following the instruction of https://github.com/kubernetes/test- infra/blob/master/prow/getting_started_deploy.md, when I run `kubectl apply -f starter-s3.yaml; kubectl get pods -n prow`. All the pods' status were either ImagePullBackOff or Pending.
**What you expected to happen**:
All the image pull succesfully.
**How to reproduce it (as minimally and precisely as possible

[2021-10-21 10:32] Summer-Field commented on #24085
/wg Testing

[2021-10-21 10:37] Summer-Field commented on #24085
/dog

[2021-10-21 17:08] petr-muller opened #24089 "Tide queries handle PRs on unexpected branches because GH search is not exact match"
**What happened**:

We want to have a setup where certain branches have stricter merge criteria and "all others" have looser ones, and we have a config like this:

[code]

This mostly works, but it looks like the excluded branches get translated into `-base:main` terms in the GH search query, and it also looks like GH search does not do exact match, so when our users try to have a branch like `mai

[2021-10-22 06:05] Colstuwjx opened #24096 "[ prow ] need to squash commits for test-infra repo itself by default"
**What would you like to be added**:
Enable `merge_method: squash` config for test-infra itself.

**Why is this needed**:
e.g. PR #23735, we forgot to squash commits and merge, I think it'd better to be a default option.

[2021-10-23 11:39] fisherxu opened #24104 "Pprof can also be accessed from port 8888 in tide/hook"
Now we support to config the pprof port, and the default value is '6060', and 8888 is the main loop port. But I found in my env(all use the default value), I can access the pprof data from both `8888` and `6060`:

[code]

In my env we need to disable the pprof in `8888` port which will be exposed to internet(github repo).

[2021-10-23 14:44] #24104 closed, assigned to nobody

[2021-10-25 07:21] sbueringer opened #24108 "[cherry-pick-bot] fails to create cherry-pick PRs for cluster-api release-1.0 branch"
**What happened**:

When we’re trying to cherry-pick a PR in kubernetes-sigs/cluster-api to the release-1.0 branch, we get an error that the Github token of the bot doesn’t have the `workflow` scope. This prevents the bot from creating the cherry-pick PR: https://github.com/kubernetes-sigs/cluster-api/pull/5406#issuecomment-948292902
It stills works for other branches like release-0.4.

**What you

[2021-10-26 03:58] #24096 closed, assigned to nobody

[2021-10-26 12:22] justinsb opened #24123 "/skip command is not working as expected"
Similar to #12740, it's not clear what the skip command is for.

Context is https://github.com/kubernetes/kops/pull/12382#issuecomment-951873683.  We have a test that doesn't run automatically.  We do `/test foo` to trigger it.  It fails, but we then agree we're going to address the failure separately, so we want to `/skip foo`.  However, `/skip foo` doesn't undo `/test foo`.

Apparently, per #127

[2021-10-26 18:56] chaodaiG opened #24130 "Deck PR history link works for gerrit based prow"
**What would you like to be added**:

Deck PR history link works for gerrit based prow

**Why is this needed**:

Currently clicking on `PR history` link on a spyglass page returns nothing on a gerrit based prow

[2021-10-27 05:51] Jeffwan opened #24141 "Merge type "merge" disallowed by repo settings"
![image](https://user-images.githubusercontent.com/4739316/139007300-837bcd2d-6f99-494c-8898-51421fad9ce6.png)

**What happened**:
tide can not merge the PR because `Merge type "merge" disallowed by repo settings`. The weird thing is we does allow all merge option in the repo setting.

[code]

![image](https://user-images.githubusercontent.com/4739316/139007234-580cae69-bc05-4d7d-863d-6142f186d9e0

[2021-10-27 11:25] Jeffwan opened #24143 "Label Sync doesn't support github app id and cert?"
**What would you like to be added**:
I've migrate my Prow to latest Github App authentication. It uses github app id and github app cert to build the client.
Recently, I plan to use label sync to manage labels across our repos. I notice it still required oauth token which is probably the old way.

https://github.com/kubernetes/test-infra/blob/ed15194a460c3f9f8b384d2c0189af9e043d5462/label_sync/mai

[2021-10-27 18:18] SergeyKanzhelev opened #24147 "Find out a better way to use latest images"
This is a follow up from https://github.com/kubernetes/kubernetes/issues/105381

**What would you like to be added**:

Consider using pinned image versions and the update mechanism for SIG node tests instead of `image_family`.

**Why is this needed**:

Explicit PRs with the image update will allow to narrow the test failures to the image update faster, and simplify the pinning in case of a "bad" i

[2021-10-28 14:33] qaifshaikh opened #24161 "Separate merge batches for some paths in the repository"
**What would you like to be added**:
Would be nice to have a way to separate merge batches for some PRs that will have jobs that take over an hour, so that they don't slow down the smaller PRs with quicker jobs.

**Why is this needed**:
To speed up the batch merges and unblock small PRs with minor changes.
Sometimes a few jobs that take too long to complete, end up slowing down the whole pipeline

[2021-10-29 10:12] snehalgawade23 opened #24174 "Prow issue: No presubmit jobs available for deliveryhero/dh-fintech-gordon-pocs@master"
Hello,

I have added configuration for presubmit prow job but getting "No presubmit jobs available for deliveryhero/dh-fintech-gordon-pocs@master" message on PR https://github.com/deliveryhero/dh-fintech-gordon-pocs/pull/9
Could you please check and let me know if something is wrong

[2021-10-29 18:11] thockin commented on #19147
re: rebase - it's hard to prove a rebase was successful without running tests again.  I think the best case is when I can prove that NOTHING CHANGED except commit structure.  In that case you can bypass CI and retain LGTM.

For example: `find . -not \( -type d -name .git -prune \) -type f | xargs cat | md5sum` takes < 3 seconds to run

[2021-10-29 18:19] alvaroaleman commented on #19147
That is in my understanding what the tree hash that is used to potentially retain the LGTM does

[2021-10-29 21:23] MeNsaaH commented on #13063
@spiffxp have we considered https://github.com/mingrammer/diagrams? Looks great.

[2021-10-29 23:57] mmiranda96 commented on #23642
That's right @jnbhavya. I would recommend searching under [test/e2e_node](https://github.com/kubernetes/kubernetes/tree/master/test/e2e_node) which tags should be included.

[2021-10-30 11:42] snehalgawade23 commented on #24174
Hello, Issue is resolved, kindly close it

[2021-10-30 16:03] #24174 closed

[2021-10-31 16:57] mrbobbytables commented on #24025
It was previously `committee/conduct` but it was changed to  `committee/code-of-conduct` 2 years ago. The OWNERS file needs updating.

ref:
https://github.com/kubernetes/test-infra/blob/2242e3ec6b91c4629f36635330143c8d558875c2/label_sync/labels.yaml#L132-L139

[2021-10-31 20:08] #22063 closed

[2021-11-01 08:00] RinkiyaKeDad commented on #24141
+1 - we've been facing the same issue. Here's the [slack thread](https://kubernetes.slack.com/archives/CDECRSC5U/p1635260608036300) where we were discussing this.

[2021-11-01 09:13] mykaul commented on #10409
Can the readme update to reflect the latest status of the open sourcing initiative? It still points to this PR.

[2021-11-01 09:33] RinkiyaKeDad commented on #23619
Hey @chaodaiG I'd like to work on this. I was looking at the pubsub code, can you please confirm if this is where we want to retry?

https://github.com/kubernetes/test-infra/blob/c274ca4d6fac20dce9383f332b0a22c566a7ad09/prow/crier/reporters/pubsub/reporter.go#L121-L130

/assign

[2021-11-01 15:12] chaodaiG commented on #23619
The place where a prowjob is created in sub is at https://github.com/kubernetes/test-infra/blob/c274ca4d6fac20dce9383f332b0a22c566a7ad09/prow/pubsub/subscriber/subscriber.go#L435, we could technically retry here. However, retrying here is not quite preferrable, ideally requeue the pubsub message is more preferrable.

The problem here is that sub always acks pubsub messages https://github.com/kuber

[2021-11-01 16:00] spiffxp commented on #24108
I've updated the token used by the bot, please close when you've confirmed it works as expected

![Screen Shot 2021-11-01 at 8 52 46 AM](https://user-images.githubusercontent.com/49258/139701934-d3b459ef-bd78-4c1a-9f37-56a47992df49.png)

[2021-11-01 16:25] rayandas commented on #23822
Hello @ameukam Now I got the requirements here. I just updated the PR for `k8s-jkns-pr-node-e2e` and will start working on migrating `cri-containerd-node-e2e` (https://cs.k8s.io/?q=--gcp-project%3Dcri-containerd-node-e2e&i=nope&files=&excludeFiles=&repos=) and raise a different PR (I will also include the community own infrastructure).

Though I need some clarification on this part, like how shoul

[2021-11-01 17:08] spiffxp commented on #24108
/assign @sbueringer

[2021-11-01 18:16] Rajalakshmi-Girish opened #24190 "k8s-testgrid is not displaying logs for ppc64le jobs"
**What happened**:
https://k8s-testgrid.appspot.com/sig-node-ppc64le#conformance and
https://k8s-testgrid.appspot.com/sig-node-ppc64le#unit-tests are not displaying logs of prow job from gs bucket.
When tried to click on the `Job History` below error is seen:

[code]

**What you expected to happen**:
The logs should get loaded from gs bucket and there should not be any error on viewing `Job Histor

[2021-11-01 18:18] Rajalakshmi-Girish commented on #24190
/sig Testing

[2021-11-01 23:29] chaodaiG opened #24200 "TestDiskCachePruning is flaky"
Found it in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/24199/pull-test-infra-unit-test/1455313585742811136

local reproed by `go test -count=10 ./ghproxy -run=TestDiskCachePruning`

[2021-11-01 23:29] chaodaiG commented on #24200
/sig testing

[2021-11-02 05:01] Jeffwan commented on #24141
Thanks for pointing to the discussion. Seems it's due to some recent change. Let me debug using same way as they suggest and report status back. I will also try earlier version to see what happens.

[2021-11-02 07:50] sbueringer commented on #24108
Thx, works again! :)

/close

[2021-11-02 07:50] #24108 closed

[2021-11-02 18:57] pohly opened #24209 "prow.k8s.io: show skip reason"
**What would you like to be added**:

When an e2e test gets skipped with `e2eskipper.Skipf`, the reason passed to that function is visible in the JUnit file.  It would be nice to show that on prow.k8s.io.

**Why is this needed**:

It's not always obvious why certain tests didn't run in a job.

[2021-11-02 22:51] BenTheElder commented on #23831
Worth pointing out: `sh_test` and `sh_binary` don't actually build anything, but they can be run in order to run a script, those rules pretty much just let you add shell into bazel's DAG, it doesn't do any linting or anything.

So really e.g.:
[code]

just needs to be part of #23830, the rest is covered by other issues like https://github.com/kubernetes/test-infra/issues/23897

I think we should b

[2021-11-02 22:53] BenTheElder commented on #23831
What doesn't seem to be covered by other issues I guess is verifying codegen.

[2021-11-03 00:28] BenTheElder commented on #23846
yaml anchors work in prow's parser last I checked. ;-)

this seems like an extremely abusable feature, though perhaps the allow list is enough.

what about e.g. `/retest`?

I think you should bite the bullet and write 3 jobs, one of the kubernetes ecosystem yaml management tools can help (e.g. customize?) or something custom, we have some jobs that are auto-generated for this sort of problem.

[2021-11-03 00:28] BenTheElder commented on #23846
(the other reason to actually have distinct jobs is that they should report with distinct names, it is confusing to the PR author to have the test results all have the same name even though they're not running the same thing, I'm not aware of any other CI doing this)

[2021-11-03 22:09] spiffxp commented on #23796
/priority important-soon

[2021-11-03 22:10] spiffxp commented on #23741
/close
Workaround has been disabled but is available to re-enable via config change if needed

[2021-11-03 22:10] #23741 closed

[2021-11-04 19:36] manugupt1 opened #24245 "Do not run CI tests when a PR needs rebase"
**What would you like to be added**:
I pushed a commit that needed a rebase as it had a merge conflict.
https://github.com/kubernetes/kubernetes/pull/104049
The PR started the test because ok-to-test was applied.

**Why is this needed**:
1. If a PR does have merge conflicts, not saving the CI would save resources for other PRs that do not have merge conflicts.
2. It reduces the number of comments

[2021-11-04 19:37] manugupt1 commented on #24245
/sig testing

[2021-11-04 20:04] shinigambit commented on #21581
Is this expected to change the behavior of the trigger plugin or is it a new plugin specialized in triggering Github actions?

[2021-11-04 20:23] BenTheElder opened #24247 "turn down greenhouse"
Part of https://github.com/kubernetes/enhancements/issues/2420

test-infra has used RBE instead for some time now, greenhouse was used for Kubernetes builds but no supported branches are anymore. Greenhouse is a pretty large deployment for test-infra (dedicated 32 core VM, 3TB pd-ssd per build cluster), which is rather unjustified without Kubernetes using it anymore.

Additionally, it doesn't appe

[2021-11-04 20:28] BenTheElder commented on #24247
For k8s-prow-builds (the google.com build cluster) I can't find any current mechanism auto-managing anything other than the greenhouse application image so to test turning down the instance I'm going to manually delete the service object such that the instance is soft-turned-down. If all is well we can fully turn it down later.

[code]

For k8s.io the configs live here: https://github.com/kubernet

[2021-11-04 20:41] BenTheElder commented on #22417
we should probably vet that the fix takes effect :-)

[2021-11-05 11:26] jainbhavya65 commented on #23642
/assign

[2021-11-05 11:33] jainbhavya65 commented on #23642
Sure @mmiranda96. I will raise a PR for now after add alpha features in pull-kubernetes-e2e-gce-alpha-features job.
Please look into it if any changes required let me know thanks.

[2021-11-05 21:31] sanposhiho opened #24268 "failed to pull submodule in post-kube-scheduler-simulator-push-images"
Hello team :)

**What happened**:

We use submodule in [kubernetes-sigs/kube-scheduler-simulator](https://github.com/kubernetes-sigs/kube-scheduler-simulator) and it seems to fail to pull submodule in post-kube-scheduler-simulator-push-images.
Are there any changes needed on the repository?

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kube-scheduler-simulator-push-images/1456617270737

[2021-11-05 21:32] sanposhiho commented on #24268
/kind support

[2021-11-07 17:26] #18570 closed

[2021-11-08 00:02] mrueg commented on #22164
/remove-lifecycle stale

[2021-11-08 02:01] chendave commented on #16588
/remove-lifecycle stale

[2021-11-08 07:26] MadhavJivrajani commented on #23831
Hey - sorry, I'm not able to find the bandwidth to work on this.
Unassigning myself for now, will try and take a look again at a later point if this isn't already picked up.
/unassign

[2021-11-08 07:46] mborsz commented on #21996
/remove-lifecycle stale

I would still like to do this eventually.

[2021-11-08 09:49] mdbooth commented on #22731
/remove-lifecycle stale

Our use case for this is still very much alive. We would like to enable automatic testing of PRs opened by our bot.

[2021-11-08 11:21] PI-Victor commented on #22095
/remove-lifecycle stale

[2021-11-08 14:35] petr-muller commented on #22690
/remove-lifecycle stale

[2021-11-08 14:38] petr-muller commented on #22891
/remove-lifecycle stale

[2021-11-08 15:24] chaodaiG commented on #23157
fixed in https://github.com/kubernetes/test-infra/pull/23159

[2021-11-08 15:25] chaodaiG commented on #23157
/close

[2021-11-08 15:25] #23157 closed

[2021-11-08 15:25] chaodaiG commented on #22720
this is still relevant
/remove-lifecycle stale

[2021-11-08 15:26] chaodaiG commented on #22286
/remove-lifecycle stale

[2021-11-08 15:32] chaodaiG commented on #22888
As mentioned in https://github.com/kubernetes-sigs/yaml/issues/56, this is WAI. Closing since https://github.com/kubernetes/test-infra/pull/22918 fixed this

/close

[2021-11-08 15:33] #22888 closed

[2021-11-08 15:33] chaodaiG commented on #21720
/remove-lifecycle stale
/help

[2021-11-08 15:34] chaodaiG commented on #22653
/remove-lifecycle stale

[2021-11-08 15:51] #22755 closed

[2021-11-08 15:52] BenTheElder commented on #22755
Feel free to reopen with more information or file a new issue. Closing due to lack of response.

[2021-11-08 18:01] BenTheElder commented on #18600
/remove-lifecycle stale
/lifecycle frozen
These jobs aren't going anywhere and this has to be dealt with someday

[2021-11-08 18:26] chaodaiG commented on #23897
As far as I can tell all linting targets are defined in https://github.com/kubernetes/test-infra/blob/master/hack/BUILD.bazel, went through the targets and migrated following targets to make rules:

- verify-codegen
- verify-spelling
- verify-labels
- verify-gofmt
- verify-golangci-lint

Remaining:

- verify-pylint. Better to be after https://github.com/kubernetes/test-infra/issues/23830
- verify-

[2021-11-08 18:54] petr-muller commented on #20774
/reopen
/remove-lifecycle rotten

We will still eventually need this :(

[2021-11-08 19:02] #24190 closed

[2021-11-08 20:13] bgilbert commented on #19499
This seems to be fixed for me in Firefox 94 on Fedora 35.

[2021-11-08 21:35] petr-muller commented on #20774
I am very vaguely aware of that effort, thanks a lot for the pointer to the docs! Let's close this issue then, I *think* the `tenant-id` may actually be sufficient for what we need.

/close

[2021-11-08 21:36] #20774 closed

[2021-11-08 22:11] petr-muller commented on #19499
Wow. YES! This really looks fixed!

[2021-11-08 22:23] petr-muller commented on #21426
/remove-lifecycle stale

We still suffer from this :(

[2021-11-08 23:30] LorbusChris commented on #19499
Can confirm as well! :tada:

[2021-11-09 00:03] michelle192837 opened #24290 "testgrid.k8s.io is down"
testgrid.k8s.io is not accessible right now, likely due to a permissions change. We're working on a rollback/fix at the moment. No workarounds for this, unfortunately. :(

/area testgrid
/kind oncall-hotlist

[2021-11-09 00:25] michelle192837 commented on #24290
/sig testing

[2021-11-09 00:53] michelle192837 commented on #24290
Fix has been submitted (thanks @chases2 !), we're monitoring to ensure stuff is coming back up. In the meantime, testgrid.k8s.io is back up and should be accessible! (If it's not, try a hard refresh, e.g. `ctrl + shift + r`).

[2021-11-09 01:12] michelle192837 commented on #24290
Pretty confident that things are working, based on logs, so closing this! (But if you notice anything wrong, like updates that aren't happening, please let us know!)

[2021-11-09 01:12] #24290 closed

[2021-11-09 03:42] bgilbert commented on #19499
Awesome!  I'll close this out.

[2021-11-09 03:42] #19499 closed

[2021-11-09 10:11] jainbhavya65 commented on #23642
@mmiranda96 Hey can you please look into it?

[2021-11-09 16:34] chaodaiG commented on #20745
/remove-lifecycle stale

It's not feasible to accomplish this. We'll need to set up alert with GCP monitoring stack, @cjwagner for awareness.

[2021-11-09 16:36] chaodaiG commented on #14629
/remove-lifecycle stale
/help

[2021-11-09 16:39] chaodaiG commented on #14629
Actually it seems that we already have this, for example https://prow.k8s.io/?repo=kubernetes%2Ftest-infra&type=periodic shows periodic jobs associated with k8s/test-infra repo:
![Screen Shot 2021-11-09 at 8 39 39 AM](https://user-images.githubusercontent.com/45011425/140966362-e53fd6d2-de33-4248-83a4-1916e08f7d9c.png)

[2021-11-09 16:47] alvaroaleman commented on #14629
Yeah I added this in https://github.com/kubernetes/test-infra/pull/20507

[2021-11-09 16:52] chaodaiG commented on #14629
/close

[2021-11-09 18:01] mmiranda96 commented on #23642
Apologies, I missed it last week. I've replied in the PR, please take a look.

[2021-11-09 18:52] jainbhavya65 commented on #23642
@mmiranda96 can you please give lgtm again

[2021-11-09 21:47] spiffxp commented on #14629
/reopen
From the screenshot the repo isn't listed in the UI.  Seems like deck should be updated to parse the same field that's being used on the backend?

[2021-11-09 21:52] chaodaiG commented on #23832
rules_docker achieves images building and pushing by a mixture of bazel rules and Go packages, for example https://github.com/bazelbuild/rules_docker/blob/master/container/go/cmd/join_layers/join_layers.go for creating image tarballs. It's not going to be an easy task using the same stack that rules_docker uses.

Alternatively, this can be achieved by Dockerfile + Makefile. Production prow images

[2021-11-09 21:55] chaodaiG commented on #14629
my bad, I had scrolled down a little bit when I took screenshot to make it shorter. Retaken:

![Screen Shot 2021-11-09 at 1 55 04 PM](https://user-images.githubusercontent.com/45011425/141011173-367f7b5b-7419-471c-97f9-bfc912043665.png)

[2021-11-09 21:57] alvaroaleman commented on #14629
I think what @spiffxp means is that the "Repository" field in the job list does not have a value even though the filtering works. Not sure if that is strictly part of this issue or not but I suppose we could use the same logic we use for the filtering there?

[2021-11-09 21:57] chaodaiG commented on #23832
I'll start playing with images that are pure Golang

[2021-11-09 21:58] chaodaiG commented on #14629
ah. I see.

[2021-11-09 22:00] chaodaiG commented on #23832
/assign

[2021-11-10 00:30] BenTheElder commented on #23829
I started on this, there is an official docker image we can use.

One issue is that our node stuff is generally pretty out of date, e.g. we can get tslint working but it turns out it's actually deprecated ... 🙃

I am starting with tslint, when we get the mechanics in place for that we should have a path to expand it to the other rules, and it aligns with the progress migrating the other linters ht

[2021-11-10 00:33] BenTheElder commented on #23829
Also today we rely on the default version of npm, yarn etc. in bazel so it took a bit to track those down, and we don't specify them anywhere. We will probably need an analogue of .go-version but for the node docker image.

[2021-11-10 01:46] SergeyKanzhelev commented on #23291
/remove-kind bug
/kind failing-tests

(removing from sig nod bugs dashboard)

[2021-11-10 05:42] rayandas commented on #23822
It's partially done.
/reopen

[2021-11-10 05:45] rayandas commented on #23822
@ehashman Please reopen this issue. It's partially done. There will be two more PRs for this issue.
cc: @SergeyKanzhelev

[2021-11-10 05:46] SergeyKanzhelev commented on #23822
/reopen

[2021-11-10 09:46] jainbhavya65 commented on #23642
@mmiranda96 is that PR merge after testing

[2021-11-10 15:29] chaodaiG opened #24309 "Upgrade cron library to v3"
**What would you like to be added**:

Upgrade cron library to v3

**Why is this needed**:

Cron v3 https://pkg.go.dev/github.com/robfig/cron/v3 supports timezone, which will eliminate the need of adjusting cron strings based on daylight saving events.

Related: https://github.com/kubernetes/test-infra/pull/24295#discussion_r746125516

Note: [the doc](https://github.com/robfig/cron#upgrading-to-v3-

[2021-11-10 15:29] chaodaiG commented on #24309
/sig testing

[2021-11-10 17:12] mmiranda96 commented on #23642
@jainbhavya65 I've added the suggested approver, as I'm only a member and cannot grant approve to PRs. Also, please let's keep the conversation on the PR.

[2021-11-10 17:45] chaodaiG commented on #21729
/remove-lifecycle stale

[2021-11-10 19:16] BenTheElder opened #24313 "the testgrid conformance dashboard misrepresents results that are *not* conformant"
See e.g. https://testgrid.k8s.io/conformance-hack-local-up-cluster#local-up-cluster,%20master%20(dev)&width=5

This job is *not* running all conformance tests yet it is in https://testgrid.k8s.io/conformance and has description `Runs conformance tests using kubetest with hack/local-up-cluster.sh` which is visible on the tab.

We probably need:
1. to clarify this particular job
2. a dashboard that

[2021-11-10 19:17] BenTheElder commented on #24313
see also:
- https://github.com/kubernetes/kubernetes/issues/106303
- https://github.com/kubernetes/kubernetes/issues/106264

[2021-11-10 20:04] dims commented on #24313
/assign

[2021-11-11 12:18] fgimenez commented on #22417
makes sense :) is it already deployed?

[2021-11-11 17:13] YuviGold commented on #23025
Hey guys,
I started to work on having an integration test to verify `tide`, but unfortunately got stuck when queries from tide got to the `fakeghserver` returned empty. (although debug prints could show data from `fakeghserver` is sent back as expected)
The big issues here is the first time the GitHub v4 API (GraphQL) is being tested as part of the integration tests. if someone wanna give a hand o

[2021-11-11 17:16] YuviGold commented on #23025
I opened a related ticket on the GitHub v4 API lib https://github.com/shurcooL/githubv4/pull/90

[2021-11-11 17:24] chaodaiG commented on #23025
I think it's a good idea to merge the portion that can be used, please make sure leave good comments on this part and link here

[2021-11-11 19:27] BenTheElder commented on #22417
it should be by now? but it looks like the issue persists https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-coverage-unit/1458864415947362304

[2021-11-11 22:20] listx commented on #17855
I've looked into k8s-prow [logs](https://pantheon.corp.google.com/logs/query;query=jsonPayload.component%3D%22ghproxy%22%0AlegacyDisablePartitioningByAuthHeader;timeRange=P7D;cursorTimestamp=2021-11-11T11:15:31Z?orgonly=true&project=k8s-prow&supportedpurview=organizationId&query=%0A) and this is still happening. But, I'm not sure what the severity of this bug is. Is there an actual problem other t

[2021-11-11 23:13] listx commented on #24024
What are the next steps for this bug (to prevent it from happening again in the future)?

[2021-11-11 23:17] listx commented on #24025
@chaodaiG What are the next steps here?

[2021-11-11 23:21] chaodaiG commented on #24025
There is not much action we can take here. This will continue to surface in prow logs, due to the reason I mentioned above. We'll probably want to keep this issue open so that when later oncall see this error message in prow logs they won't panic :)

[2021-11-12 14:53] chaodaiG commented on #23025
/remove-lifecycle stale

[2021-11-12 18:22] cjwagner commented on #17855
My comment here has some more context: https://github.com/kubernetes/test-infra/issues/17855#issuecomment-706349394

We are using the deprecated unpartitioned cache and never migrated to the partitioned cache. The partitioned cache prevents requests with different authorization headers from clobbering each other's cache entries. It improves cache efficiency.

I think we have enough info to determi

[2021-11-12 18:23] chaodaiG commented on #23832
@deepsm007 , in https://github.com/kubernetes/test-infra/pull/23414, multi-arch images were built and tagged separately for each arch. What's the advantage of this approach vs. single image supporting multi-arch? like passing `--platform=linux/amd64,linux/arm64/v8,linux/ppc64le,linux/s390x` flag?

[2021-11-12 19:03] deepsm007 commented on #23832
When trying to build it locally we were facing a lot of challenges for s390x, so went ahead and started for ppc64le since those images were required for ibm cloud work. And after a lot of issues we were finally able to build it on local. No particular advantage here, its the urgency.

[2021-11-12 19:34] chaodaiG commented on #23832
Thank you! I'll give the single image approach a shot

[2021-11-12 20:15] listx commented on #24024
FWIW this is still happening... for the `needs-rebase` component.

[code]

[2021-11-13 08:18] sandipanpanda commented on #9925
/reopen

[2021-11-13 08:20] sandipanpanda commented on #9925
/remove-lifecycle rotten

[2021-11-15 05:58] MikeSpreitzer opened #24349 "pull-kubernetes-kubemark-e2e-gce-scale fails when it should not and gathers too little info"
**What happened**:
I submitted a PR (https://github.com/kubernetes/kubernetes/pull/106325) that changes only a unit test and asked for the pull-kubernetes-kubemark-e2e-gce-scale job to be run on that PR.  This job timed out after 20 hours and gathered much less information than expected.  #24303 helped, but there is still stuff missing (such as apiserver logs).  For an example, look at https://pro

[2021-11-15 05:59] MikeSpreitzer commented on #24349
@kubernetes/sig-scalability

[2021-11-15 06:00] MikeSpreitzer commented on #24349
/sig scalability

[2021-11-15 08:16] aojea commented on #24349
Analyzing the linked job run, it starts at:

however, during the test it suddenly looses the connection against the environment:

the rest of the logs is just timeouts,
@wojtek-t @spiffxp is it possible that something  is cleaning up those environments or breaking the communications?

[2021-11-15 08:56] wojtek-t commented on #24349
The project is shared across couple optional presubmits.

It's possible that someone triggerred one of those presubmits at that time, which brings down the previous test...

[2021-11-15 08:56] wojtek-t commented on #24349
@marseel @mborsz - FYI

[2021-11-15 10:54] marseel commented on #24349
I found logs that confirm master was deleted around time when connection timed out errors started:
[code]
I will migrate this jobs today to new infrastructure and we will have boskos pool so it shouldn't happen again.

/assign @marseel

[2021-11-15 11:08] wojtek-t commented on #24349
Thanks @marseel !

[2021-11-15 13:52] #24349 closed

[2021-11-15 15:02] #18939 closed

[2021-11-15 15:03] MikeSpreitzer commented on #24349
Was everybody collectively responsible for having only one pull-kubernetes-kubemark-e2e-gce-scale job running at one time?  If so then it was a well-kept secret.  Are there any other secrets like that?

[2021-11-15 22:57] chaodaiG commented on #23832
Attempted building pod utilities images using docker buildx with `platform=` flag, this is probably the easiest way of building multi-arch images. However I have also ran into trouble with s390x, probably the same reason as @deepsm007 had mentioned above. Document what I have seen so far:
- [Official docker image](https://hub.docker.com/_/docker) doesn't support buildx(ref: https://github.com/dock

[2021-11-16 16:17] MikeSpreitzer opened #24373 "Internal error in testgrid: Your table may be too big"
**What happened**:
I tried to load https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-generate-make-test-count10 and it persistently showed me an error message.
<img width="1106" alt="Screen Shot 2021-11-16 at 11 10 15 AM" src="https://user-images.githubusercontent.com/14296719/142023276-0cc3416b-5599-48fd-b7c9-765c8e492111.png">

**What you expected to happen**:
No error message from the

[2021-11-16 16:17] MikeSpreitzer commented on #24373
/cc @aojea

[2021-11-16 16:17] MikeSpreitzer commented on #24373
/sig testing

[2021-11-17 14:41] 2nd-half opened #24390 "Allow user to cancel and rerun a job"
**What would you like to be added**:

We would like to see a cancel and rerun button next the job.

**Why is this needed**:

We run into a situation recently. One of the postsubmit job gets evicted and Prow keeps reschedule it. It only stops after long time (12 or 24 hours later). We run concurrency at one to avoid racing condition. So we don't have any easy way to clear the queue. A cancel would

[2021-11-17 16:27] chaodaiG opened #24391 "Prow images: transition to GCP artifact registry from GCP container registry"
**What would you like to be added**:

The container registry for storing prow images is transitioned to artifact registry

**Why is this needed**:

Prow images are stored on GCP container registry, which according to GCP documentation https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr, is superseded by artifact registry, new features will only be available in artifact r

[2021-11-17 16:27] chaodaiG commented on #24391
/sig testing

[2021-11-17 19:44] smg247 opened #24394 "Auto Assigning reviewers when a specific label is added via the label plugin"
**What would you like to be added**:

The optional ability for the label plugin to request reviews from a subset of the members of `approvers` when a specific label is added.

**Why is this needed**:

For our specific usecase: We need to be able to notify users (via email) that the PR is ready for *their* review when a specific label is added. By assigning them the regular github notifications wil

[2021-11-17 19:49] smg247 commented on #24394
/sig Testing

[2021-11-18 08:48] ludydoo opened #24406 "Tide says: BUG apps auth requested but empty org, please report this to the test-infra repo"
**What happened**:

Installed Prow, Tide is complaining. Tide says "please report this to the test-infra repo."

**What you expected to happen**:

Tide not complaining. Tide making queries with the Org.

Note:  I am using a Github App, not OAuth App.

[code]

Tide Config

[code]
Deployment
[code]

I noticed this in the `tide` `cmd`

[code]
In this case, `--github-token-path` is empty, but `--githu

[2021-11-18 08:50] ludydoo commented on #24406
/sig testing

[2021-11-18 19:46] chaodaiG commented on #24390
/sig testing
/help

[2021-11-19 16:25] smg247 commented on #24394
@alvaroaleman can you take a look here and let me know what you think?

[2021-11-19 17:08] alvaroaleman commented on #24394
I don't understand the indirection over labels. If you have $something that adds the label (some plugin? A human?) $something can instead just assign the respective ppl?

[2021-11-19 17:44] petr-muller commented on #24394
I think the original purpose was lost in various conversations ;) The original ask was to notify people who can provide certain label (= logins+teams) in "restricted_labels" on a certain action - when something happens on a PR, notify the "labellers" that they can label. Via assignment or review request.

[code]

This uses the fact that the label configuration knows who is allowed to set the restr

[2021-11-19 17:55] alvaroaleman commented on #24394
Ah ok, the example above makes sense (maybe extend it with allowing multiple labels that are ANDed or ORed)

[2021-11-19 19:18] smg247 commented on #24394
@petr-muller its very possible I am misunderstanding the initial request, but note the part from (DPTP-2612)[https://issues.redhat.com/browse/DPTP-2612] that states

It was my understanding that we needed to assign reviewers after the label was added so that they could receive the notifications?

[2021-11-19 21:49] BenTheElder commented on #24373
this is a variant of https://github.com/kubernetes/test-infra/issues/23425, https://github.com/kubernetes/test-infra/issues/22744

[2021-11-19 22:13] MikeSpreitzer commented on #23425
https://github.com/kubernetes/test-infra/#test-result-dashboards still points people at testgrid.

[2021-11-19 22:50] BenTheElder commented on #23425
TestGrid is great for historical results over time for periodic / post-submit testing. It is not particularly useful for presubmits.

[2021-11-19 22:53] BenTheElder commented on #23425
PRs welcome to adjust the table size for these dashboards, or to attempt to make the Kubernetes unit test junit results have a collapsed set of entries.

AIUI Testgrid will not be expanding memory allocation to handle these amusingly large tables.

[2021-11-21 13:59] ludydoo commented on #24406
Problem was that the github app did not have the required Pull request permissions (read write)

[2021-11-21 13:59] #24406 closed

[2021-11-21 17:46] #21534 closed

[2021-11-22 13:07] petr-muller commented on #24394
@smg247 yep, I don't think you misunderstand. They already have a configuration that says:

[code]

Which means "only `qe-person-1` and `qe-person-2` can add a `cherry-pick-approved` label. They want to be assigned after the PR gets a `backport-risk-assessed` label. So we do:

[code]

IMO that makes sense because that config already has the set of logins/teams to assign, so we just add the *when*

[2021-11-22 13:14] smg247 commented on #24394
@petr-muller that makes sense. This configuration will be simpler and definitely achieve our use case.

[2021-11-22 14:18] ludydoo commented on #24141
I am facing the same issue using a github app.
If i GET a repo from github API using a personal access token, i get the allows_merge, allows_squash, etc.
If i GET a repo from github API usign a github installation token, i do not get the fields.
There's a difference between the two APIs ...

[2021-11-23 00:39] justaugustus commented on #9925
/lifecycle frozen
/unassign

[2021-11-23 06:22] Rajalakshmi-Girish commented on #23231
Can someone please suggest the right place to have the `unit-tests` tab which is currently under `sig-node-ppc64le`? https://k8s-testgrid.appspot.com/sig-node-ppc64le#unit-tests

This test grid seems essential to track k8s unit test failures on ppc64le.
cc @ehashman @SergeyKanzhelev @matthyx

[2021-11-23 06:34] Rajalakshmi-Girish commented on #23231
@spiffxp @mkumatag

[2021-11-23 06:41] mkumatag commented on #23231
not sure either, wondering if we can add to some of the periodic jobs run(don't really know where are they??), worst case - lets create a new group called `ibm` like other groups we have in the testgrid.

[2021-11-23 17:57] ameukam commented on #24247
/cc

[2021-11-23 23:51] jmguzik commented on #22690
/assign

[2021-11-24 00:39] ehashman opened #24451 "Create kubelet serial job for CRI-O"
**What should be cleaned up or changed**:

We currently have docker and containerd serial jobs. We need to also add one for CRI-O.

**Provide any links for context**:

Node CI subproject meeting, Nov. 17: https://docs.google.com/document/d/1fb-ugvgdSVIkkuJ388_nhp2pBTy_4HEVg5848Xy7n5U/edit#bookmark=id.iyic9b4i8c57

Containerd config, for reference: https://github.com/kubernetes/test-infra/blob/8486

[2021-11-24 00:52] spiffxp commented on #22721
/milestone v1.24

[2021-11-24 01:00] spiffxp commented on #18729
/milestone v1.24

[2021-11-24 01:01] spiffxp commented on #6380
/milestone v1.24

[2021-11-24 01:02] spiffxp commented on #21430
/milestone v1.24

[2021-11-24 01:03] spiffxp commented on #20667
[code]
The number of jobs affected has grown considerably from the 435 that existed at the beginning of this year

[2021-11-24 01:04] spiffxp commented on #20667
/milestone v1.24

[2021-11-24 01:04] spiffxp commented on #20672
/milestone v1.24

[2021-11-24 01:13] spiffxp commented on #20652
/milestone v1.24

[2021-11-24 01:14] spiffxp commented on #21430
/priority important-longterm

[2021-11-24 01:14] spiffxp commented on #20667
/priority important-longterm

[2021-11-24 01:14] spiffxp commented on #20672
/priority important-longterm

[2021-11-24 08:43] jmguzik commented on #23205
/assign

[2021-11-24 08:53] jmguzik commented on #24123
@justinsb I am not an expert here, but the skip plugin is described this way: The skip plugin allows users to clean up GitHub stale commit statuses for non-blocking jobs on a PR.
I would see an /override use-case here, after failing with the /test.

[2021-11-24 18:45] spiffxp commented on #22721
The issue we're using to collect feedback on EasyCLA now that it's been enabled non-blocking: https://github.com/kubernetes/org/issues/3068

[2021-11-24 19:52] ehashman commented on #23822
/milestone v1.24

didn't quite finish this and now we're deep in freeze

[2021-11-24 19:53] ehashman commented on #23291
given https://github.com/kubernetes/test-infra/issues/23291#issuecomment-929486402

since we're not done and we probably don't want to be changing jobs this late in the release,
/milestone v1.24

[2021-11-24 20:15] ehashman commented on #24451
/milestone v1.24

[2021-11-26 13:13] sftim opened #24475 "Work out if a repo has its own contribution guidelines"
**What would you like to be added**:
Update the @k8s-ci-robot welcome message so that instead of saying:

the bot checks itself if those guidelines exist and uses an appropriate message.

**Why is this needed**:
It's a small nice way to help new contributors if we do this work for them, rather than (in effect) adding a small extra task to the list of things they might need to do.

[2021-11-26 13:15] sftim opened #24476 "Link to contributor cheatsheet from welcome message"
**What would you like to be added**:
Create a short link to https://www.kubernetes.dev/docs/contributor-cheatsheet/, eg https://k8s.dev/contributor-cheatsheet, with a promise to keep that short link current.

Update the @k8s-ci-robot welcome message to link to that short link.

**Why is this needed**:
This will send more web traffic to https://k8s.dev/ _and_ help visitors find those docs, especial

[2021-11-26 13:16] sftim commented on #24476
/sig contributor-experience

[2021-11-27 19:51] Neilblaze commented on #24476
@sftim is this up for grab? If yes, can you please let me know the process of shortening the given URL using `https://k8s.dev/<alias>`?

[2021-11-28 12:35] sftim commented on #24476
@Neilblaze you're welcome to work on this and I might find time to offer you help with that, but I couldn't make a promise to do so.

[2021-11-28 19:06] Neilblaze commented on #24476
Thanks a ton! @sftim 😃

[2021-11-29 06:40] chizhg opened #24485 "updateconfig plugin supports updating all Prow config files"
**What would you like to be added**:

`updateconfig` plugin supports an option to update all Prow config files

**Why is this needed**:

Sometimes the `updateconfig` plugin does not work after PR is merged, https://github.com/istio/test-infra/pull/3664 is one example. It could be possibly due to lost webhook events, but the root cause was unknown.

Since `updateconfig` plugin is doing incremental

[2021-11-29 06:42] chizhg commented on #24485
/sig testing

[2021-11-29 19:17] fejta opened #24489 "prow.k8s.io is down"
[code]

Certificate has expired: https://cloud.google.com/kubernetes-engine/docs/how-to/credential-rotation

[2021-11-29 19:32] fejta commented on #24489
[code]

[code]

[2021-11-29 19:38] fejta commented on #24489
Starting to upgrade node pools...

[code]

[2021-11-29 21:12] fejta commented on #24489
Completing rotation...

[code]

[code]

[2021-11-29 21:24] fejta commented on #24489
Things appear to be coming back up, I just loaded https://prow.k8s.io/

[2021-11-29 21:25] fejta commented on #24489
All services running:

[code]

[2021-11-29 21:25] #24489 closed

[2021-11-30 05:19] zhangyangyu opened #24498 "Allow more functionality in prow tide config template"
**Why is this needed**:
Currently in prow tide config there are several configs using template, like `merge_commit_template`, handled by golang `text/template`. But this places limitations on the template since only several builtin functions can be used(I know simplicity might be a design goal). For example in `merge_commit_template`, we could only directly using PR title or body but cannot transf

[2021-11-30 05:22] zhangyangyu commented on #24498
/area prow

[2021-11-30 05:23] zhangyangyu commented on #24498
/sig testing

[2021-11-30 09:31] palnabarun commented on #10409
Is there a plan to open-source the Testgrid frontend? I think that would be useful for other projects as well.

[2021-11-30 13:40] petr-muller commented on #24485
Check out https://github.com/kubernetes/test-infra/tree/master/prow/cmd/config-bootstrapper , I think it does what you need. We are running it in periodic and it works fine.

[2021-11-30 21:37] afirth opened #24508 "Draft PR converted to RfR, but stuck with do-not-merge/work-in-progress label"
**What happened**:
After converting https://github.com/kubernetes/ingress-nginx/pull/8000 from draft to ready, prow [removed the do-not-merge/work-in-progress label and then immediately re-added it](https://github.com/kubernetes/ingress-nginx/pull/8000#event-5694833013)

**What you expected to happen**:
The label should be removed

**How to reproduce it (as minimally and precisely as possible)**:

[2021-11-30 21:53] afirth commented on #24508
/area prow
/sig contributor-experience

[2021-12-01 00:29] #22690 closed

[2021-12-01 11:01] sftim opened #24515 "Detect when maintainers review code that they last changed"
**What would you like to be added**:
Send alerts (eg into Slack) for the case when a maintainer makes a change to a PR and then adds their own LGTM and approval for that change.

**Why is this needed**:
As a maintainer I can review someone else's PR, amend it (eg using the suggestions API + accepting the change), LGTM it, approve it and trigger a merge.
Sometimes this is reasonable - it makes sens

[2021-12-01 11:01] sftim commented on #24515
/sig testing
/sig security

(IMO)

[2021-12-01 14:32] alvaroaleman commented on #24515
If someone has write permissions on a repo it is implicit that they can make changes that are not peer-reviewed. If that isn't wanted, they shouldn't have those permissions.

[2021-12-01 17:43] agradouski opened #24518 "PR check stuck with "needs lgtm label" while label is present"
**What happened**:
PR in question: https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/pull/15

Note, that PR has been merged but _tide_ is still pending and claims that _lgtm_ label is missing.

**What you expected to happen**:
I expect _tide_ to rerun and confirm that PR has all required labels and is ready to merge.

**How to reproduce it (as minimally and precisely as possible)**:

[2021-12-01 20:15] #23205 closed

[2021-12-01 21:23] agradouski commented on #24518
/sig testing

[2021-12-01 21:58] sftim commented on #24515
What I'm looking for here is a detective control, not a preventative control (we already have one for direct pushes to _main_).

[2021-12-01 22:50] alvaroaleman commented on #24515
Someone who has write perms can simply label prs manually, I don't think this is useful.

[2021-12-01 22:59] sftim commented on #24515
Hmm. I guess the way to enforce “you can't LGTM your own changes” would be a third detective control to highlight when someone has set LGTM manually.

It's good to trust repo owners. I think it's also good to highlight when repo owners use their special access, because it _should_ be unusual and it _should_ be justifiable.

[2021-12-02 19:09] Neilblaze commented on #24476
@sftim would you mind sharing/pasting the URL endpoint where I can generate shortened URL's using `https://k8s.dev/` ?

For example,

This link `https://www.kubernetes.dev/docs/contributor-cheatsheet/` has been shortened to `https://k8s.dev/contributor-cheatsheet`. But when I explored `https://k8s.dev/`, it redirects me to `https://www.kubernetes.dev/`

[2021-12-02 21:34] alvaroaleman commented on #24518
I don't see a "need lgtm label" in the linked PR and the tide status is green. The GitHub UI has some awful caching, maybe that is the issue?

[2021-12-02 21:46] alvaroaleman opened #24526 "Tide doesn't always start a batch when it should"
**What happened**:

I noticed on a repo that multiple PRs got merge ready and just missed retesting (i.E. had all required labels and had passing, but outdated tests). Tide didn't start a batch, instead it seemed to have started serial retests for all of them. The PRs didn't get merge ready at the exact same time.

**What you expected to happen**:

Tide to start a batch

**How to reproduce it (as

[2021-12-02 21:47] alvaroaleman commented on #24526
/sig testing

[2021-12-02 22:12] alvaroaleman commented on #24526
I always get a headache when I try to reason about what Tide does, so I'd appreciate it if you could factcheck the following @cjwagner :

1. subpool PJs is all prowjobs for a given subpool with a current baseSHA
2. In `accumulate()` we find "pending" PRs by finding PRs that have pending or success jobs for all required jobs
3. This means that we correctly start at most one serial retest at a time,

[2021-12-03 00:46] agradouski commented on #24518
thanks for looking @alvaroaleman -- must have been a caching issue.
closing this issue.

[2021-12-03 00:46] #24518 closed

[2021-12-03 07:23] timebertt opened #24530 "Support GitHub Apps in branchprotector"
**What would you like to be added**:

`branchprotector` should support configuring GitHub Apps access restrictions, e.g.
[code]

Also see: https://docs.github.com/en/rest/reference/repos#set-app-access-restrictions

**Why is this needed**:

If users are running GitHub Apps that need to push to branches or merge PRs (e.g. tide), they might want to exclude them from their branch protection restricti

[2021-12-03 07:24] timebertt commented on #24530
/sig testing

[2021-12-03 20:06] cjwagner opened #24537 "Allowances for non-Prow YAML in the ProwJob config directory tree."
**Why is this needed**:

The newly added checkconfig validation of unknown fields in ProwJob config has helped us fix a number of problems, but we are unable to enable it everywhere we'd like due to conflicts with non-Prow YAML that exists in the ProwJob config directory tree. In particular this seems to come in two forms:
1. Non-Prow YAML files collocated with their related ProwJob config files.

[2021-12-03 20:28] cjwagner commented on #24537
/sig testing

[2021-12-03 20:59] listx commented on #24537
Another idea is to create a `.prowignore` file in the style of `.gitignore` or `.rgignore`. Takes more work but from the user perspective I think it would feel cleaner.

At first glance I am hesitant to try to cater to this practice. Isn't this what YAML comments are for? Why aren't users simply commenting out the whole field/block?

[2021-12-03 21:10] chaodaiG commented on #24537
yaml anchor will not work in comment, so this is not feasible. Same with .prowignore

[2021-12-03 21:15] cjwagner commented on #24537
I agree that we don't need to cater to this and comments can certainly be used to disable, but comments don't solve the case of configuration meant for other tools or for fields used for YAML anchor definitions.

`.prowignore` is an interesting idea. Though I wonder if `.prowignore`  would be more confusing or non-obvious since it could be defined in another directory. Given that there are only a

[2021-12-03 21:17] stevekuznetsov commented on #24537
You can put a `.gitignore` at any spot under the tree, so I don't see why a `.prowignore` would be different. I'm not very well versed in YAML anchors, but I'm surprised that they don't get .... consumed ? by the templating process and continue to exist in the final document. Is that really the intended behavior?

[2021-12-03 21:47] listx commented on #24537
Yes.

I assume this depends on the templating system used. Maybe there are some out there that prefer minimalism and do not expand all anchors/references.

[2021-12-03 21:53] alvaroaleman commented on #24537
Its part of yaml itself so unless we are writing a yaml parser I would think that those are never visible to us and get expanded during parsing?

[2021-12-03 21:53] cjwagner commented on #24537
Yeah this has always been my experience with YAML anchors. Some more details: https://stackoverflow.com/questions/60992314/can-i-assign-a-yaml-anchor-without-assigning-it-to-a-key

The only option currently is to change the first use of the anchor to the explicit anchor definition rather than defining the anchor separately first.

[2021-12-03 21:54] cjwagner commented on #24537
I found a seemingly suitable library for working with `.gitignore` files. This entrypoint in particular looks like what we'd want for `.prowignore` files: https://github.com/denormal/go-gitignore/blob/ae8ad1d07817b3d3b49cabb21559a3f493a357a3/repository.go#L39

[2021-12-04 15:57] sftim commented on #24476
I wouldn't really call it an API @Neilblaze - it's a Git repository. https://github.com/kubernetes/contributor-site

Specifically, you can create a file in https://github.com/kubernetes/contributor-site/tree/master/static named `_redirects`. See https://docs.netlify.com/routing/redirects/

Part of this work needs to happen there, and part of it needs happen in the Prow side of things.

BTW, use a

[2021-12-05 23:52] rikatz commented on #24515
+1
We must give some transparency. I get myself from time to time adding lgtm label on some self small stuff in ingress-nginx. Although it's fine when doing some firefighting, giving the chance to other contribs to know we did this and that "no manual action will be done without auditing" and also gives the chance for a maintainer to justify why they did that.

IMO this should be opt-in (as not al

[2021-12-06 17:44] tinyc-z opened #24556 "how can i get trigger command args"
i have a trigger job, i want to get a param for my jobshell,
for example yaml:
...
rerun_command: "/tag <tag_name>"
trigger: "(?mi)^/tag <tag_name>"
...
`tag_name` is a variable
so how can i use the `tag_name` in my jobshell, like ${JOB_NAME} or ${REPO_OWNER}

[2021-12-06 17:45] tinyc-z commented on #24556
/sig k8s-infra

[2021-12-06 18:16] ehashman opened #24557 "Skip DevicePluginProbe tests in node serial presubmits"
**What should be cleaned up or changed**:

https://github.com/kubernetes/test-infra/blob/67785195e5406520bc01ad86590163bc9be2e9e4/config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml#L459

Make the skip line match the periodics

**Provide any links for context**:

https://github.com/kubernetes/test-infra/pull/24464

/cc @wgahnagl
/sig node

[2021-12-06 18:20] ehashman opened #24558 "Node needs jobs to test swap serial tests"
**What would you like to be added**:

New presubmit and serial jobs, similar to the existing swap jobs, that test the serial suite with swap enabled.

**Why is this needed**:

This is needed to test functionality that requires serial e2es for swap support, as well as ensuring test stability with swap enabled for the serial suite.

See also https://github.com/kubernetes/kubernetes/pull/105271

/sig

[2021-12-07 01:14] cjwagner commented on #24526
1. Correct.
2. Yes, this can now also be inferred from the status context if the ProwJob was GCed.
3. Yes, Tide will only start a serial retest if there are no others. Humans can trigger serial retests directly though and they will be respected by Tide.
4. No, that PR wouldn't have been considered by `accumulateBatch` at all because `accumulateBatch` only considers batch ProwJobs and we haven't cr

[2021-12-07 06:25] sanposhiho commented on #24268
Hello. We resolved this error with this PR. (just change submodule from ssh to https)
https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/40

/close

[2021-12-07 06:25] #24268 closed

[2021-12-07 10:29] petr-muller commented on #24556
This looks like a duplicate of #19456

[2021-12-07 22:59] BenTheElder commented on #24200
another https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/24491/pull-test-infra-unit-test/1468352617385037824

[2021-12-08 12:56] jmguzik commented on #24024
I just wanted to let all the interested in solving this issue now, I am currently tracing some of the problems related to this.
Some API violations are obvious, the component/plugin is getting or sending too much data in the loop without any sleep or throttle in a spawn of 1-2 seconds. According to the https://docs.github.com/en/rest/guides/best-practices-for-integrators#dealing-with-abuse-rate-li

[2021-12-08 13:42] pravarag commented on #22577
/remove-lifecycle rotten

[2021-12-08 19:55] #24394 closed

[2021-12-08 20:59] jsturtevant opened #24588 "Error from server (NotFound): services "sinker" not found"
**What happened**:

updating job configuration in https://github.com/kubernetes/test-infra/pull/24584#issuecomment-989179418 and https://github.com/kubernetes/test-infra/pull/24584 and integration tests are failing:

[code]

**What you expected to happen**:

integration tests to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences,

[2021-12-08 21:21] jsturtevant commented on #24588
/sig testing

[2021-12-08 22:41] ehashman opened #24592 "Fix failing node CI jobs"
**What happened**:

After the dockershim removal, many SIG Node jobs are failing to run.

**What you expected to happen**:

Jobs should run!

**How to reproduce it (as minimally and precisely as possible)**:

See https://testgrid.k8s.io/sig-node-kubelet

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

I will fix this by submitting migrations to CRI/re

[2021-12-08 23:08] ehashman opened #24597 "test-infra pull-test-infra-integration required job is failing"
**What happened**:

Job is failing on all runs afaict.

**What you expected to happen**:

Job should pass.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

See https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-test-infra-integration?buildId=1468663750969004032

https://testgrid.k8s.io/presubmits

[2021-12-08 23:11] ehashman commented on #24597
Might be fixed with https://github.com/kubernetes/test-infra/pull/24593

[2021-12-08 23:12] justaugustus commented on #24597
Thanks for opening this, @ehashman!
Slack investigation here: https://kubernetes.slack.com/archives/C09QZ4DQB/p1638987371146700

/assign @alvaroaleman @chaodaiG @michelle192837
cc: @kubernetes/test-infra-maintainers

[2021-12-08 23:21] ehashman commented on #24597
/close

appears fixed!

[2021-12-08 23:22] #24597 closed

[2021-12-08 23:26] jsturtevant commented on #24588
fixed

/close

[2021-12-08 23:26] #24588 closed

[2021-12-09 00:44] ehashman commented on #24592
/kind failing-test

[2021-12-09 15:59] soltysh opened #24609 "A push after tag should cancel or skip the tag"
**What happened**:
We are using prow also in openshift, and in this particular PR: https://github.com/openshift/library-go/pull/1259
the situation was that I tagged the PR for merge, but the time between my tag and bot reaction was pretty long.
Roughly 20mins, due to rate limits (as I learned) and in between we got test results which failed and Mike updated
the PR and re-pushed it. So the timeline

[2021-12-09 16:18] SergeyKanzhelev commented on #24557
/assign @wgahnagl

[2021-12-09 16:44] ehashman commented on #24592
/remove-kind bug

[2021-12-09 19:21] ehashman opened #24616 "Move docker-based CPU manager serial tests to CRI"
**What should be cleaned up or changed**:

There are 3 jobs using the `image-config-serial-cpu-manager.yaml` with Docker:

https://github.com/kubernetes/test-infra/blob/659ec3e9040b028115bf1e4269a383a1200e79e0/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L508-L568
https://github.com/kubernetes/test-infra/blob/659ec3e9040b028115bf1e4269a383a1200e79e0/config/jobs/kubernetes/sig-node/node-kubele

[2021-12-09 19:23] ehashman opened #24617 "Move docker-based hugepages test to CRI"
**What should be cleaned up or changed**:

Uses Docker and `image-config-serial-hugepages.yaml`:

https://github.com/kubernetes/test-infra/blob/659ec3e9040b028115bf1e4269a383a1200e79e0/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L570-L599

Let's move this to containerd/cri-o.

/sig node
/assign @cynepco3hahue @bart0sh

[2021-12-09 19:24] ehashman opened #24618 "Move Docker-based Ubuntu swap test to containerd"
**What should be cleaned up or changed**:

This test is running on Docker, it should be migrated to containerd:

https://github.com/kubernetes/test-infra/blob/659ec3e9040b028115bf1e4269a383a1200e79e0/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L663-L696

Fedora test is already running on CRI-O so no need to migrate.

/sig node
/cc @mmiranda96

[2021-12-09 19:25] ehashman opened #24619 "Move Docker-based SIG Node performance tests to CRI"
**What should be cleaned up or changed**:

ci-kubernetes-node-kubelet-performance-test runs on Docker:

https://github.com/kubernetes/test-infra/blob/659ec3e9040b028115bf1e4269a383a1200e79e0/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L734-L762

/sig node
/assign @SergeyKanzhelev

[2021-12-09 19:27] ehashman commented on #24618
/assign @mmiranda96

Can you find a new owner for this test on the google side?

[2021-12-09 19:30] ehashman opened #24620 "Move docker-based node presubmits to CRI"
**What should be cleaned up or changed**:

SIG Node has a number of presubmit jobs that need to be migrated off Docker.

I suggest we declare bankruptcy, remove all Docker-based jobs, and add jobs back under the CRI as needed.

/sig node

[2021-12-09 22:32] ameukam commented on #24592
There are is a good chance https://github.com/kubernetes/test-infra/issues/23822 is part of it.
Also, is it possible to stop usage of ` gs://cri-containerd-testing` ?

[2021-12-09 23:40] petr-muller commented on #19642
/remove-lifecycle rotten

[2021-12-09 23:59] mmiranda96 commented on #24618
Taking a look, thanks!

[2021-12-10 14:36] Ankitasw opened #24631 "Resource quota limit issues in AWS"
**What happened**: The E2E tests in CAPA repo are failing because of insufficient EC2 instances, has anything changed recently wrt the resource quota limit in test-infra accounts?

**What you expected to happen**: The tests should pass

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:
https://testgrid.k8s.io/sig-cluster-lif

[2021-12-10 14:36] Ankitasw commented on #24631
/sig testing

[2021-12-10 14:38] Ankitasw commented on #24631
/priority urgent-critical

[2021-12-10 14:42] dims commented on #24631
@Ankitasw is this what you were pointing to?

[code]

[2021-12-10 14:51] dims commented on #24631
@eddiezane @justinsb are probably folks who know about the AWS accounts in boskos and how they are configured. looking at urls like https://portal.nutanix.com/page/documents/kbs/details?targetId=kA00e000000buFnCAI#:~:text=You%20have%20requested%20more%20vCPU,a%20vCPU%20limit%20of%2032. it feels like the account limits need to be bumped

[2021-12-10 14:54] Ankitasw commented on #24631
yes @dims, it is weird that we are facing this issue suddenly, coz these tests have been running in the pipe like forever, so wanted to know if something has been changed.
@eddiezane @justinsb can you please point out if any changes has been done recently, and how to overcome this issue from test-infra side?

[2021-12-10 15:30] dims commented on #24631
@Ankitasw there's another issue i dug up, please see https://github.com/kubernetes/k8s.io/issues/1921

[2021-12-10 18:40] chaodaiG commented on #24200
I'll give it a stab
/assign

[2021-12-10 20:38] eddiezane commented on #24631
Taking a look

/assign

[2021-12-10 21:09] geoffcline commented on #24631
Hi,

@bwagner5 does EC2 capacity stuff for AWS. I've asked him to look into this.

[2021-12-10 21:37] chaodaiG commented on #24200
I think I have figured out what happened.

This line https://github.com/kubernetes/test-infra/blob/c2a2c9389e885065507750ebf16eaeebb53472a1/prow/github/app_auth_roundtripper.go#L84 was invoked twice, which generates a random string based on current timestamp, the value is rounded to second, so if the test happens around half of a second then it'll generated a different token, thus fail the test

[2021-12-10 22:32] ehashman opened #24641 "Rename SIG Node periodic job names for consistency"
**What should be cleaned up or changed**:

Let's choose a standardized naming scheme for our jobs, preferably ones that don't reference OS or container runtime.

**Provide any links for context**:

https://github.com/kubernetes/test-infra/issues/21430
https://github.com/kubernetes/test-infra/pull/24595#discussion_r767018782

/sig node

[2021-12-10 22:39] #24592 closed

[2021-12-11 13:29] #22880 closed

[2021-12-12 17:42] #15572 closed

[2021-12-13 10:40] Ankitasw commented on #24631
Thanks @geoffcline.
Hi @bwagner5, we are seeing that somehow the quota is getting reduced to [32](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e/1464065565801844736/artifacts/initial-resource-quotas.yaml) vCPUs for EC2 instances, and in few places we see it as [512](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-aw

[2021-12-13 14:14] sanposhiho opened #24660 "Prow bot merged PR with `/lgtm` from a non-reviewer"
Hi team.

**What happened**:

Prow merged the PR with `/lgtm` from a non-reviewer (but he is a member). Is it expected behavior?

https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/51

FYI: The PR was created by an approver.

**What you expected to happen**:

The PR is not merged until any reviewer or approver `/lgtm` it.

https://kubernetes.io/docs/contribute/review/for-approvers/

[2021-12-13 14:15] sanposhiho commented on #24660
/area prow

[2021-12-13 14:35] sanposhiho commented on #24660
Okay. Got it. So, is this doc wrong?

https://kubernetes.io/docs/contribute/review/for-approvers/

[2021-12-13 14:48] sanposhiho commented on #24660
Okay, thanks for telling.
I raised the PR for k/website. Please take a look if you can.

https://github.com/kubernetes/website/pull/30905

[2021-12-13 16:03] eddiezane commented on #24631
Talking with @Ankitasw tomorrow to narrow this down to the right sub accounts.

[2021-12-13 17:29] chaodaiG commented on #23833
This was done
/close

[2021-12-13 17:29] #23833 closed

[2021-12-13 18:26] sanposhiho commented on #24660
I close this issue because the PR was merged.
Thanks @alvaroaleman.

[2021-12-13 18:26] sanposhiho commented on #24660
/close

[2021-12-13 18:27] #24660 closed

[2021-12-13 23:20] chaodaiG commented on #23830
/assign

[2021-12-14 05:22] verdinjoshua1982 opened #24670 "Github"
**What would you like to be added**:

**Why is this needed**:

[2021-12-14 17:24] mmiranda96 commented on #24618
To make the job run with CRI-O instead of Dockershim, we need to include [containerd/containerd/test/e2e_node/init.yaml](https://github.com/containerd/containerd/blob/main/test/e2e_node/init.yaml) as part of the `user-data` metadata. Looking into a way of merging configs.

[2021-12-14 19:03] eddiezane commented on #24631
I have submitted requests to raise all AWS capa accounts to an on demand general instance vcpu limit of (at least) 128 as well as on demand gpu instance limit of 8.

[2021-12-14 19:15] Ankitasw commented on #24631
Thankyou for the support @eddiezane, let's wait for this week to close this issue as service requests might take time to be fulfilled. Post that I will monitor the pipeline to see if everything is ok and will close this issue.

[2021-12-14 22:52] #24617 closed

[2021-12-15 03:13] Colstuwjx opened #24680 "[ prow ] tide should support different merge method based on target branch"
**What would you like to be added**:
For now, we just define the merge method at org/repo level, how about support configure merge method based on target branch.

**Why is this needed**:
Sometimes, we have different git branch strategy across different teams. Let's say we have release and master such branch, once user pr to master branch, we'd like to squash the source branch commits, and if user

[2021-12-15 11:18] jesse1478 opened #24684 "Bug report"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2021-12-15 11:19] jesse1478 opened #24685 "Blank"

[2021-12-15 14:34] xmudrii opened #24687 "pull-test-infra-gubernator presubmit is consistently failing for all PRs"
**What happened**:

The `pull-test-infra-gubernator` job/presubmit is consistently failing for all PRs, therefore blocking them. It appears that there's some problem with Python dependencies. An example run can be found here: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/24683/pull-test-infra-gubernator/1471123708318846976

Here's a part of the log:

[code]

**What you exp

[2021-12-15 18:11] SergeyKanzhelev commented on #24619
/unassign

[2021-12-15 18:13] SergeyKanzhelev commented on #24620
I agree with the proposal. Let's close the issue and only add jobs to presubmits as needed

/close

[2021-12-15 20:28] michelle192837 commented on #24687
Looks like this started failing between these two runs:

[code]

e.g. on Dec. 14 between 8:16 and 10:17 am PST

I don't think this lines up with recent Prow/image bumps:
- https://github.com/kubernetes/test-infra/pull/24667
- https://github.com/kubernetes/test-infra/pull/24677
- https://github.com/kubernetes/test-infra/pull/24674

Looks like this might be from fetching a new version of a package;

[2021-12-15 20:29] michelle192837 commented on #24687
Oh ha, this might be relevant, unsure if we're using 2.7 or not.

https://pypi.org/project/lazy-object-proxy/

[code]

[2021-12-15 21:06] mpherman2 commented on #24687
Seems like the problem comes from our use of an older version of pylint
https://github.com/kubernetes/test-infra/blob/master/gubernator/test_requirements.txt
Not sure what is holding us to this specific version though

[2021-12-15 21:07] michelle192837 commented on #24687
We really should update the pylint version :/ But in the meanwhile I think pinning to 1.6.0 will work.

[2021-12-15 21:15] #24687 closed

[2021-12-16 09:28] cynepco3hahue commented on #24616
/close

[2021-12-16 09:28] #24616 closed

[2021-12-16 13:39] petr-muller opened #24698 "crier: invalid memory address or nil pointer dereference on posting a GitHub comment in summary mode"
**What happened**:

[code]

**What you expected to happen**:
No crash

**How to reproduce it (as minimally and precisely as possible)**:

The null dereference is the following line which means the `Refs` are nil, nothing else is a pointer there. So this likely means a periodic entered this code somehow.

[code]

**Anything else we need to know?**:
I'm reporting this for completeness, I'm also subm

[2021-12-16 13:40] petr-muller commented on #24698
/sig testing

[2021-12-16 13:50] AvineshTripathi commented on #24684
Hey @jesse1478 is this an intentional blank bug report?

[2021-12-16 15:32] eddiezane commented on #24631
These quotas requests should all be live now.

[2021-12-16 18:54] BenTheElder commented on #24631
FWIW: This repo only handles renting out of accounts for test purposes, the actual accounts are from https://github.com/kubernetes/k8s.io / SIG k8s infra.

[2021-12-16 18:56] BenTheElder commented on #23897
typescript progress https://github.com/kubernetes/test-infra/pull/24491

[2021-12-16 19:06] BenTheElder commented on #23829
We wound up just putting a fixed node image version in a run-in-node-container.sh script in https://github.com/kubernetes/test-infra/pull/24491, which seems to be fine.

[2021-12-17 00:22] #24698 closed

[2021-12-17 14:24] alvaroaleman commented on #24685
/close

[2021-12-17 14:25] #24685 closed

[2021-12-17 14:26] alvaroaleman commented on #24670
/close

[2021-12-17 14:26] #24670 closed

[2021-12-20 09:50] adisky opened #24715 "Migrate "pull-kubernetes-local-e2e" job to use containerd"
**What should be cleaned up or changed**:
Currently "pull-kubernetes-local-e2e" uses [Kubekins image](https://github.com/kubernetes/test-infra/tree/master/images/kubekins-e2e) which has docker installed to run kubetest. There can be two ways this job can be migrated to use containerd

1. Migrate this job to use a new image which has containerd+docker already installed
2. Use the same Kubekins imag

[2021-12-20 09:51] adisky commented on #24715
/cc @dims @aojea @BenTheElder @SergeyKanzhelev @ehashman
/sig node testing

[2021-12-20 18:43] alvaroaleman commented on #24684
/close

[2021-12-20 18:44] #24684 closed

[2021-12-21 08:41] aojea commented on #24715
there are also more jobs with the same issue

https://storage.googleapis.com/k8s-triage/index.html?text=error%20during%20.%2Fhack%2Fe2e-internal%2Fe2e-up.sh

kubelet fails to start with
[code]

and the job fails with
[code]

[2021-12-22 06:42] NikhilSharmaWe commented on #24641
@ehashman I would like to work on changing the SIG Node periodic job names for consistency according to appropriate pattern. I read the comments you mentioned but I am unable to understand fully about the issue. Could you please explain and elaborate on the issue.

[2021-12-22 15:14] marseel commented on #17097
Looks like my fix worked and version of perf-tests for https://github.com/kubernetes/test-infra/blob/aa59567d4dd30d97d5cee5c8b8c11a83cbe04714/config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml#L389
is correct.

/close

[2021-12-22 15:15] #17097 closed

[2021-12-22 18:11] SergeyKanzhelev commented on #24715
/assign

[2021-12-23 19:10] #24557 closed

[2021-12-23 22:28] ehashman commented on #24620
@SergeyKanzhelev do we want to leave this open in order to track the removal? That hasn't been done yet.

/reopen

[2021-12-25 05:11] NikhilSharmaWe commented on #24209
@pohly I would like to collaborate to add this feature in prow.k8s.io. Could you please elaborate on how should we proceed for the purpose.

[2021-12-25 16:02] pohly commented on #24209
I can't provide guidance on this because I don't know how the code behind prow.k8s.io works. I think it can be found here: https://github.com/kubernetes/test-infra/tree/master/prow/spyglass

[2021-12-27 04:23] Mini256 commented on #23701
/close

[2021-12-27 04:24] #23701 closed

[2021-12-27 04:26] Mini256 commented on #23519
/close

[2021-12-27 04:26] #23519 closed

[2021-12-28 16:01] justinsb opened #24747 "Request: GCE projects where we can bind serviceaccounts to project roles"
**What would you like to be added**:

GCE test projects where we can add iam bindings to projects, supporting custom serviceaccounts.

**Why is this needed**:

kOps recently added support for minimal serviceaccounts & roles on GCE.  However, this broke our e2e testing, because we do not have permission to add IAM bindings to the GCE test projects (I believe).

An example error message from https:/

[2021-12-29 13:05] shivanshu1333 opened #24753 "Increase interval of JSON periodic job"
As discussed in https://github.com/kubernetes/test-infra/pull/24610#issuecomment-991302964 it makes sense to increase the current time interval from 6h to 12h.
/sig instrumentation
/sig testing

[2021-12-31 01:35] mkumatag commented on #23449
/remove-lifecycle stale

[2022-01-03 07:53] adisky commented on #24715
@aojea I think that is a different issue, local provider is only being used in 1 CI job
local provider being used https://cs.k8s.io/?q=--provider%3Dlocal&i=nope&files=&excludeFiles=&repos=kubernetes/test-infra
The other jobs are using gcp provider and for gcp images are available with containerd installed, so those jobs can be migrated

[2022-01-04 03:23] #20886 closed

[2022-01-04 16:36] mmiranda96 commented on #24618
https://github.com/kubernetes/test-infra/pull/24757 fixes this issue.
/close

[2022-01-04 17:17] sbueringer opened #24769 "prow.k8s.io: build cluster failing to start jobs"
Error looks like this:

Example job [link](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-test-main/1478410097527885824)
For more, see: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api#capi-test-main

I also saw this in some other jobs, but capi-test-main is by far the worst.
Some other examples:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kuber

[2022-01-04 17:19] sbueringer commented on #24769
/sig testing

[2022-01-05 05:00] Rajalakshmi-Girish opened #24779 "k8s TestGrid is not displaying complete results for ibm-unit-test-ppc64le tab"
**What happened**:
The test grid at https://k8s-testgrid.appspot.com/ibm-unit-tests-ppc64le#Periodic%20unit%20test%20suite%20on%20ppc64le is displaying results of only the last four days though it is supposed to display results of 15 days.

**What you expected to happen**:
The Dashboard is supposed to display the results of all 15 days.

**How to reproduce it (as minimally and precisely as possibl

[2022-01-05 05:01] Rajalakshmi-Girish commented on #24779
/area testgrid
/sig testing

[2022-01-05 05:02] Rajalakshmi-Girish commented on #24779
@mkumatag ^^

[2022-01-05 08:28] Rajalakshmi-Girish opened #24780 "Doc: Prow ANNOUNCEMENTS.md has typo and needs change in a hyperlink for prowjob-crd"
**What happened**:
The Announcement on  September 16th, 2021 at https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md#breaking-changes has typo with spelling `schemelass manifest` and also the hyperlink for this needs to be changed after https://github.com/kubernetes/test-infra/commit/cc71cc3b9d3cd5ce7a603ab5edaf113d8d7db2ba

**What you expected to happen**:
Must change the wo

[2022-01-05 08:35] Rajalakshmi-Girish commented on #24780
/area prow
/sig testing

[2022-01-05 10:46] sbueringer commented on #24769
I checked a bunch of failed Jobs and also some of the successful runs of `periodic-cluster-api-test-mai` and it comes down to that the Jobs fail when they are running on node `prow-e2-default-pool-bdc23de7-sflz` and are successful otherwise.

[2022-01-05 15:40] #24780 closed

[2022-01-05 18:20] SergeyKanzhelev commented on #24620
/assign

I will create a checkboxes for all tests and we can get owners for each of them.

[2022-01-05 18:22] dprotaso commented on #21581
@shinigambit should this issue be closed now that the PR has merged?

[2022-01-05 18:24] matthyx commented on #24620
@ehashman just to understand the process here... if I understand correctly:

1. delete all jobs with docker
2. wait for people to scream
3. add one-by-one upon request

So there is no communication to write to kubernetes-dev, which is the part I'm afraid to do?

[2022-01-05 18:25] shinigambit commented on #21581
@dprotaso I think in the general case yes, but it still needs to be enabled via plugin configuration, I can do just that for Knative

[2022-01-05 18:26] matthyx commented on #24620
If that's "only" that, I can take care of it.

[2022-01-05 18:38] matthyx commented on #24620
as agreed...
/assign

[2022-01-05 19:05] SergeyKanzhelev commented on #24620
Check for serial presubmit (see [thread](https://kubernetes.slack.com/archives/C0BP8PW9G/p1641402411481500))

[2022-01-05 19:15] srm09 opened #24788 "Update value in cluster-api-provider-vsphere secret"
**What would you like to be added**:
I would like to update the value for a existing key/value pair in the `clusterapi-provider-vsphere-ci-prow` secret. It is the vCenter URL that needs to be used in tests.

**Why is this needed**:
The path to the vCenter API has been replaced by a private IP address instead of the already existing public DNS route. This needs to be updated in the CI secret used b

[2022-01-05 19:17] srm09 commented on #24788
/sig testing
/sig cluster-lifecycle

[2022-01-05 19:27] cjwagner commented on #24788
Secret management in the Prow service cluster and default build cluster is now self service! Please check out the docs here: https://github.com/kubernetes/test-infra/blob/d16a6c88145bc62fafc1fa4bf6d571c46d64bc27/prow/prow_secrets.md#usage-prow-clients

[2022-01-05 20:08] dprotaso commented on #21581
sweet - I'll make a downstream issue
/close

[2022-01-05 20:08] #21581 closed

[2022-01-06 16:04] dhiller opened #24795 "statusreconciler not triggering a required job that was changed"
**What happened**:
Situation was that we had two jobs named `pull-kubevirt-e2e-kind-1.22-sriov` and `pull-kubevirt-e2e-kind-1.19-sriov`.

We [updated those jobs](https://github.com/kubevirt/project-infra/pull/1823), where `pull-kubevirt-e2e-kind-1.19-sriov` was removed, while `pull-kubevirt-e2e-kind-1.22-sriov` was changed to being `always_run: true`. (Effectively, the change is not that easy to s

[2022-01-06 16:04] dhiller commented on #24795
/sig testing

[2022-01-06 16:07] dhiller commented on #24795
FYI @EdDev

[2022-01-06 17:49] BenTheElder commented on #24779
there's almost certainly too many rows. you can find other issues in this repo related to the kubernetes unit tests and testgrid

[2022-01-06 17:51] BenTheElder commented on #24715
defer to dims on local-up-cluster.sh changes, but generally not thrilled to add _even more_ things installed in the kubekins image, that image is a mess and I would like to see projects supply their own, saner images whenever possible 🙃

kind has a somewhat more streamlined version (images/krte) if folks need a starting point to fork.

[2022-01-06 18:09] dims commented on #24715
+1 to start from `krte`

[2022-01-06 18:37] ehashman opened #24796 "Improve runtime of node serial jobs"
**What would you like to be added**:

Currently the node serial tests take much too long to run as standard presubmit tests. From a developer experience POV, waiting 1-2h for feedback on integration tests is suboptimal.

Is it possible to split the serial tests across 2-4 nodes in order to speed up execution time? They could still run serially on each node, but maybe we could parallelize the seria

[2022-01-06 18:43] Rajalakshmi-Girish commented on #24779
Have seen https://github.com/kubernetes/test-infra/issues/23425#issuecomment-974524375

Our job is a periodic one running at 3h intervals. At the moment, looks like it is not possible to view all the results of 15 days (8 runs each day)
It is currently displaying close to ~19 columns ( results of 2 and 1/2 days)

[2022-01-06 18:55] ehashman opened #24798 "Issue with SSH key on k8s-infra-prow-build cluster for CRI-O nodes"
**What happened**:

Every time we try to run CRI-O tests on the k8s-infra-prow-build cluster, SSH fails. Most recently:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/107361/pull-kubernetes-node-kubelet-serial-crio-cgroupv1/1479158719756374016/#1:build-log.txt%3A327

[code]

**What you expected to happen**:

Tests should successfully be able to ssh.

**How to reproduce it (as minimal

[2022-01-06 22:07] #22759 closed

[2022-01-06 22:41] BenTheElder commented on #24779
As far as I know this stands and is going to apply to most any tab with kubernetes unit tests. It can only handle a few columns because there are _so_ many rows in the current implementation.

Either the number of rows needs to be reduced, or we have to accept less columns.

Rows could be reduced by changing the kubernetes test output, or by patching testgrid.

AIUI one possible avenue is updating

[2022-01-06 22:45] #24631 closed

[2022-01-06 23:07] #22208 closed

[2022-01-06 23:07] #22223 closed

[2022-01-06 23:07] #6289 closed

[2022-01-06 23:07] #22793 closed

[2022-01-06 23:07] #22829 closed

[2022-01-06 23:07] #23096 closed

[2022-01-06 23:07] #23092 closed

[2022-01-07 00:07] #22587 closed

[2022-01-07 00:07] #22598 closed

[2022-01-07 00:07] #22737 closed

[2022-01-07 00:07] #22571 closed

[2022-01-07 00:07] #22572 closed

[2022-01-07 01:07] #22552 closed

[2022-01-07 01:07] #22144 closed

[2022-01-07 01:07] #22231 closed

[2022-01-07 01:07] #22077 closed

[2022-01-07 01:07] #22318 closed

[2022-01-07 01:07] #22251 closed

[2022-01-07 02:08] #19629 closed

[2022-01-07 02:08] #19456 closed

[2022-01-07 02:08] #20713 closed

[2022-01-07 02:08] #21053 closed

[2022-01-07 03:08] #21079 closed

[2022-01-07 03:08] #21303 closed

[2022-01-07 03:08] #21509 closed

[2022-01-07 03:08] #21681 closed

[2022-01-07 04:55] rayandas commented on #23822
The last part is left now.

/cc: @ameukam

[2022-01-07 18:16] #18159 closed

[2022-01-07 18:28] stevekuznetsov commented on #20421
/reopen
/remove-lifecycle rotten

[2022-01-07 18:48] BenTheElder commented on #24798
SIG k8s-infra are most active in https://github.com/kubernetes/k8s.io where most of the infra is managed.

The ssh key itself shouldn't matter much, with correct setup the key should be added as trusted to the nodes when doing `gcloud compute ssh` as long as the GCP user has permission.

The same key should be used for other GCP ssh jobs, so I would imagine more likely this is an issue with the cr

[2022-01-08 00:54] listx opened #24821 "Documentation Revamp"
**What should be cleaned up or changed**:

Migrate existing *.md files into a centralized location. It would also help greatly if we can do what the [KIND team has done](https://kind.sigs.k8s.io/docs/user/quick-start/) and go with static site generation to make the docs more user-friendly (and not default to the default GitHub markdown file view).

As for the type of docs, this effort will focus o

[2022-01-08 00:55] listx commented on #24821
/sig docs

[2022-01-08 00:56] listx commented on #24821
/cc @cjwagner @mpherman2 @chaodaiG

[2022-01-08 16:25] #21197 closed

[2022-01-08 16:25] #20455 closed

[2022-01-08 17:26] #21304 closed

[2022-01-08 17:26] #20659 closed

[2022-01-08 17:26] #18190 closed

[2022-01-09 15:32] #20324 closed

[2022-01-09 21:32] #23232 closed

[2022-01-10 00:49] disraelig444 opened #24823 "41547099c4a76d558bdbf07507ec192913590007"
**What would you like to be added**:

**Why is this needed**:

[2022-01-10 04:18] coderanger commented on #24823
/close

[2022-01-10 04:18] #24823 closed

[2022-01-10 20:00] chaodaiG commented on #21581
@shinigambit , thank you for the contribution! Now that it's live, would you mind also update https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md to reflect this new feature?

[2022-01-10 20:15] Namanl2001 commented on #24619
can I take this up?

[2022-01-11 00:36] jcnars commented on #23904
/remove-lifecycle stale

[2022-01-11 11:39] jmguzik opened #24832 "Filtering meaningful handler executions from metrics in prow plugins"
**What would you like to be added:**
I would like to have the possibility to optionally eliminate from prow hook plugins metrics (eg for hook  LGTM) the obvious return cases that do not provide much valuable information about the transition made (eg to the GH API).

**Example:**
If the execution lands in the below lines and returns `nil`, success will be reported but no actual job was done by the

[2022-01-11 11:41] jmguzik commented on #24832
/area prow
/area prow/plugins
/sig testing

[2022-01-11 12:29] petr-muller commented on #24832
Adding a motivating example of the problem that we want to address. Let's say we are interested in `lgtm` plugin metrics. The plugin registers for comment events so our metrics suffer from the following:

1. 1000 comments across all PRs, issues etc
2. Only two of them say /lgtm or /lgtm cancel
3. 998 comments get "handled" by just running a  regex against the comment and deciding it is not an inte

[2022-01-11 22:22] petr-muller commented on #23870
/cc @smg247

I think this is the issue you were hitting when setting up the PoC deck instance with GH apps

[2022-01-12 01:24] SergeyKanzhelev commented on #24619
Absolutely, this job is commented now and needs to be migrated: https://github.com/kubernetes/test-infra/blob/423db756f9dffceb1a90fa4814964533517774d7/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L117-L146

[2022-01-12 01:25] SergeyKanzhelev commented on #24619
/assign @Namanl2001

[2022-01-12 05:09] MadhavJivrajani commented on #22721
/unassign @anusha94
/assign

[2022-01-12 14:52] chaodaiG commented on #24769
@sbueringer , thank you for the detailed analysis, it looks pretty obvious that there is a bad node in the build cluster.

Checked one of the jobs `pull-cluster-api-verify-main` at https://github.com/kubernetes/test-infra/blob/24bae60a3b244c2179afa9e619a55a974bff9802/config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml#L66, it doesn't define any build cluster, so it's running o

[2022-01-12 14:57] sbueringer commented on #24769
I agree. Thank you very much!

I'll close the issue, if it occurs again I'll reopen.

/close

[2022-01-12 18:43] matthyx opened #24851 "sig-storage-gce presubmits should migrate to containerd"
sig-storage-gce presubmits should migrate to containerd after dockershim removal.

/sig storage

**What should be cleaned up or changed**:
Look for `--env=KUBE_CONTAINER_RUNTIME=docker` in the config file.

**Provide any links for context**:
https://github.com/kubernetes/test-infra/blob/882c0569d9f7dce4ba6bf58618e564649733319f/config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml

[2022-01-12 18:48] matthyx commented on #24620
/reopen
Will make sure I'm not missing any with `KUBE_CONTAINER_RUNTIME!=remote`.
Other strategy would be to open a PR and run all presubmits.

[2022-01-12 18:53] SergeyKanzhelev commented on #24798
/assign @haircommander

[2022-01-12 21:11] matthyx commented on #24620
https://github.com/kubernetes/kubernetes/pull/107506

[2022-01-12 22:00] #22911 closed

[2022-01-13 00:43] #24200 closed

[2022-01-13 15:30] kvmware commented on #24004
/remove-lifecycle stale

[2022-01-13 17:10] AvineshTripathi commented on #24476
Hey @Neilblaze what is the current status of this issue, incase you need any help I'd be delighted to work with you

[2022-01-13 17:53] dashpole commented on #24753
/close
This was accomplished in https://github.com/kubernetes/test-infra/pull/24754

[2022-01-13 17:54] #24753 closed

[2022-01-13 18:29] chaodaiG opened #24869 "Migrate from Kubernetes External Secrets to ~External Secrets Operator~ CSI Driver"
**What would you like to be added**:

- Switch Kubernetes External Secrets defined under https://github.com/kubernetes/test-infra/tree/master/config/prow/cluster to External Secrets Operator, by following https://github.com/external-secrets/kubernetes-external-secrets/issues/864
- Update instruction at https://github.com/kubernetes/test-infra/blob/master/prow/prow_secrets.md
- Announce at https://

[2022-01-13 18:29] chaodaiG commented on #24869
/sig testing

[2022-01-14 09:10] matthyx commented on #24620
@ehashman after investigating my dummy PR, here are the propositions:

The following jobs are using dockershim and should be deleted:
- pull-kubernetes-e2e-gce-ubuntu
- pull-kubernetes-node-kubelet-eviction
- pull-kubernetes-node-kubelet-eviction-kubetest2
- pull-kubernetes-node-e2e-kubetest2
- pull-kubernetes-node-kubelet-serial-kubetest2
- pull-kubernetes-node-kubelet-serial
- pull-kubernetes-no

[2022-01-14 19:21] chaodaiG commented on #23692
/remove-lifecycle stale

[2022-01-14 21:55] SergeyKanzhelev commented on #23291
this looks to be ok now:

![image](https://user-images.githubusercontent.com/9950081/149590392-f11d2b77-ec07-47e3-ae90-2b1411fba1fc.png)

/close

please re-open if still needed

[2022-01-14 22:21] BenTheElder commented on #24747
this issue should probably be filed in github.com/kubernetes/k8s.io to have the projects created under SIG-k8s-infra?

[2022-01-14 22:24] BenTheElder commented on #24609
To clarify: "tag" here is a github label (like `lgtm`, `approved`)?

I believe it is a known issue that tide is racy WRT once a PR has been considered for merge and is being retesting vs when it is merged, but I can't seem to quickly turn up previous discussion

/area prow
/area prow/tide

[2022-01-14 22:25] BenTheElder commented on #24556
/remove-sig k8s-infra
/sig testing
/remove-kind bug
/kind feature
/area prow

This is not a feature that exists.

https://github.com/kubernetes/test-infra/issues/19456 and https://github.com/kubernetes/test-infra/issues/23846

[2022-01-14 22:28] BenTheElder commented on #24515
I think sticky approval in the face of editing owners files is honestly more concerning than this but we've previously opted not to worry about this https://github.com/kubernetes/test-infra/issues/9238

You pretty much need to trust folks with permission to approve PRs, and trust that they're keeping an eye on PR content carefully.

[2022-01-15 00:29] SergeyKanzhelev commented on #24851
/remove-kind cleanup
/kind failing-tests
/priority important-soon

[2022-01-15 00:30] SergeyKanzhelev commented on #24851
/kind failing-test

[2022-01-16 07:44] Feeflyons opened #24896 "Feeflyons"

[2022-01-17 09:05] jmguzik commented on #24832
@alvaroaleman would it be OK for you to add a special error type, or you would like to see a different implementation?

[2022-01-17 15:33] alvaroaleman commented on #24832
The filtering idea makes sense to me but abusing the error return for this does not sound like a good idea to me. An error should indicate that something went wrong, not having had any work to do is not an error.

[2022-01-17 22:34] petr-muller commented on #24832
I agree that using the error return value is a hack, but has a nice advantage of not needing to change the contract between hook and its plugins. How important is the stability of this interface? Do we need a second set of `RegisterXHandler` methods that would register handlers with different signatures, or is it acceptable to change the signatures of the existing handlers?

I guess the most strai

[2022-01-18 10:02] jmguzik commented on #24832
If the error type is out of scope, I would propose a struct as well, as it could be easily extended in the future.

[2022-01-18 13:57] petr-muller commented on #24896
Is this a testing issue of some sort? I assume yes so closing. Feel free to reopen but please provide a summary and description.

/close

[2022-01-18 13:58] #24896 closed

[2022-01-18 14:06] petr-muller commented on #24609
@BenTheElder yes, this talks about labels. In this case it is not related to Tide. The race here occurs because there is a window between someone doing a `/lgtm` and when the label is eventually applied. We have periods of time when Prow components are rate-limited, which can delay the actual label setting by minutes, and when the rate-limit is eventually lifted, the accumulated handlers that got

[2022-01-18 17:39] chaodaiG commented on #23831
Verifying codegen was done by https://github.com/kubernetes/test-infra/pull/24252, so this issue can be closed once #23830 and #23897 are both done

[2022-01-18 21:51] ehashman commented on #24558
/priority important-soon
/milestone v1.24

[2022-01-19 02:10] #24851 closed

[2022-01-19 03:22] Jeffwan commented on #24141
I think I figure out the problem.
When we enable github app, auth header is never set in the HTTP request. Based on the docs here, https://docs.github.com/en/rest/reference/repos#get-a-repository, we know that anonymous request won't give us fields like `allow_merge_commit`,`delete_branch_on_merge` etc. I think this is the major problem

1. tide needs to call `m.ghc.GetRepo` to render `repoMethods

[2022-01-19 08:10] kerthcet commented on #23374
/remove-lifecycle stale

[2022-01-19 10:36] ybettan opened #24921 "Tide isn't enforcing GH actions set in the BP config."
**What happened**:
1. BP config are set to require some GH workflows
2. GH workflow were failing on a PR
3. `lgtm` label was applied
4. `tide` merged the PR regardless of the failing GH workflows

**What you expected to happen**:
PR shouldn't be merged until the jobs are green

**How to reproduce it (as minimally and precisely as possible)**:
1. set a PR to a repo that runs both, Prow jobs and GH

[2022-01-19 10:41] ybettan commented on #24921
/sig ?

[2022-01-19 10:45] ybettan commented on #24921
/sig testing

[2022-01-19 11:15] fabriziopandini opened #24922 "Failing E2E tests for 0.4"
The following E2E tests for 0.4 seems to be constantly failing:
-  https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-0.4#capi-e2e-release-0-4-1-22-1-23
-  https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-0.4#capi-e2e-release-0-4-1-23-latest

[2022-01-19 11:15] fabriziopandini commented on #24922
/close
wrong repo 😅

[2022-01-19 11:16] #24922 closed

[2022-01-19 15:31] alvaroaleman commented on #24141
@Jeffwan In the apps auth case, the `Authorization` token gets set in a http transport which is a layer below the Client: https://github.com/kubernetes/test-infra/blob/0b0e54bbe47590cd19958b5d223bac62a4c9d8c1/prow/github/app_auth_roundtripper.go#L135

[2022-01-19 16:11] #24141 closed

[2022-01-19 18:15] SergeyKanzhelev commented on #24798
cc: @ameukam

[2022-01-19 18:19] ehashman commented on #23822
Quick inventory:

- https://github.com/kubernetes/test-infra/blob/ce6d91ae98fdbf730f3f1808466d7d81003f3616/config/jobs/kubernetes/sig-node/containerd.yaml#L902
- Four presubmits: https://github.com/kubernetes/test-infra/blob/ce6d91ae98fdbf730f3f1808466d7d81003f3616/config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
- Unclear what needs to be done for "K8s-cri-containerd: house of bucket gs://

[2022-01-19 18:26] SergeyKanzhelev commented on #24798
/kind failing-test
/remove-kind bug

[2022-01-19 22:22] parispittman commented on #11994
@matthyx I think we are finally ready!! LOL I cleaned up the content in the comment above. thank you so much for your patience and sticking with me :)

[2022-01-20 09:58] matthyx commented on #11994
Let me rebase the PR and we can move on.

[2022-01-20 12:30] matthyx commented on #11994
I had to open another PR... Let's do it now!

[2022-01-20 22:11] BenTheElder opened #24946 "kettle is down again"
**What happened**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/metrics-kettle/1479915842807271424

**What you expected to happen**:

kettle should run without error and process current results

**How to reproduce it (as minimally and precisely as possible)**:

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/metrics-kettle ?

**Please provide links to example occurrences, if any

[2022-01-20 22:33] BenTheElder commented on #24946
This appears to be the most recent log for the kettle pod in google.com k8s-gubernator project g8r cluster:

So it wedged inserting istio results again?

We should probably stop collecting results for external projects, this is what we hit last time as well https://github.com/kubernetes/test-infra/issues/23135#issuecomment-893015099

[2022-01-20 22:40] BenTheElder commented on #24946
there is also a patch here that never merged because it fails tests https://github.com/kubernetes/test-infra/pull/23460

[2022-01-20 22:42] BenTheElder commented on #24946
on the off chance this wedging is a fluke, I went ahead and deleted the pod to restart it (it's a deployment).

[2022-01-20 23:06] BenTheElder commented on #24946
It has been inserting builds happily, but it will be a long time before it is back up to date, even if nothing goes wrong. I intended to work on this problem, but other things came up, and I can't spare much time for this.

I *suspect* this is unnecessarily serial.

[2022-01-20 23:28] BenTheElder commented on #12863
/milestone clear
this didn't happen, and i'm not sure that anyone is working on this currently

[2022-01-21 00:11] BenTheElder commented on #24946
... seems building kettle images is also broken https://github.com/kubernetes/test-infra/pull/24948#issuecomment-1018035026

[2022-01-21 00:51] BenTheElder commented on #24609
That's extra exciting :-)

I don't think there's a good answer for this without substantially redesigning prow, since github-labels-as-a-state-store is inherently creating race conditions in this context

[2022-01-21 05:48] BenTheElder commented on #24946
We're removing this random out-of-project buckets from kettle (seems to be a legacy thing)  in https://github.com/kubernetes/test-infra/pull/24948, so we can try again once we can deploy that, currently pending #24954 merging tentatively.

[2022-01-21 06:18] BenTheElder commented on #24921
https://github.com/openshift/release/blob/47e70aee6f4bdf227194a64478c4c4a8c3e9471b/core-services/prow/02_config/openshift-psap/special-resource-operator/_prowconfig.yaml#L11-L12

is missing `from-branch-protection: true` under tide config

/remove-kind bug
/kind support
/area prow
/area prow/tide

https://github.com/kubernetes/test-infra/blob/master/prow/cmd/tide/config.md

[2022-01-21 07:34] lzhecheng opened #24957 "Migrating clusters for cloud provider azure e2e tests from aks-engine to capz"
**What would you like to be added**:
Currently cloud provider azure e2e tests are running on clusters created by [aks-engine](https://github.com/azure/aks-engine). [capz](https://github.com/kubernetes-sigs/cluster-api-provider-azure) should be used instead.

**Why is this needed**:
Aks-engine is going to receive less support but capz will continue to grow.

[2022-01-21 07:34] lzhecheng commented on #24957
/assign

[2022-01-21 07:36] lzhecheng commented on #24957
/sig cloud-provider

[2022-01-21 10:33] petr-muller commented on #24921
@BenTheElder we have that as a top-level setting in https://github.com/openshift/release/blob/47e70aee6f4bdf227194a64478c4c4a8c3e9471b/core-services/prow/02_config/_config.yaml#L270

[2022-01-21 17:43] stevekuznetsov commented on #24821
See also the OpenShift CI [docs website](https://docs.ci.openshift.org/docs/) which a) has a lot of pertinent information and b) seems to have followed most of the same decisions you came to in the design doc. Well done! The OpenShift site tries to link to the markdown wherever possible, and _isn't_ trying to document generic Prow things as much as it can, but of note pages like [this](https://doc

[2022-01-21 18:04] chaodaiG commented on #23897
/assign

[2022-01-21 19:30] BenTheElder commented on #24946
updated image is pushed with the new buckets.yaml, I am deploying to staging.

[2022-01-21 19:36] BenTheElder commented on #23897
updated checklist, tslint was https://github.com/kubernetes/test-infra/pull/24491 and boilerplate was https://github.com/kubernetes/test-infra/pull/24891.

[2022-01-21 19:41] BenTheElder commented on #24946
Deploying didn't work because of different git short tag, also it requires the commit being deployed to be checked out even though we have automated image pushes, which is a bit clunky. I opted instead to override it with:

`make -C kettle update-staging TAG=v20220121-d744e91`

but we should probably switch to automated deployment and recording the desired tag in git instead.

[2022-01-21 19:45] BenTheElder opened #24970 "kubekins-e2e push postsubmit is broken"
**What happened**:

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/post-test-infra-push-kubekins-e2e

1484549352604045312 |   | 07:32:35Jan 21 2022, 07:32:35 UTC-0800 | 10m14s | FAILURE
1484329400395632640 |   | Jan 20 16:58:48Jan 20 2022, 16:58:48 UTC-0800 | 10m2s | FAILURE
1484216057945133056 |   | Jan 20 09:28:11Jan 20 2022, 09:28:11 UTC-0800 | 8m40s | FAILURE
1483747084703109120 |

[2022-01-21 19:47] BenTheElder commented on #24970
looks like it's the 1.20 variant that won't build, because we now have client-go that requires newer go. probably the kubetest build is failing? I am already working on #24946 at the moment.

[2022-01-21 20:43] BenTheElder commented on #24946
staging looks fine, updating prod `make -C kettle update TAG=v20220121-d744e91`

[2022-01-21 20:45] #24970 closed

[2022-01-21 20:59] BenTheElder commented on #24970
successful build https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-test-infra-push-kubekins-e2e/1484628149063913472

[2022-01-21 21:49] BenTheElder commented on #24946
So far it looks like we've inserted `gs://kubernetes/pr-logs/*` successfully without issue and moved on to `gs://kubernetes/logs/*`. I think we'll complete a LOT faster without all the misc non-kubernetes-project buckets after https://github.com/kubernetes/test-infra/pull/24948 and getting the new image deployed with this change.

[2022-01-21 21:52] BenTheElder commented on #24921
/remove-kind support
/kind bug
🙃

cc @alvaroaleman

[2022-01-21 21:56] alvaroaleman commented on #24921
Yeah I saw this in Slack but I doubt I will have time to look into this in the near future. Some of the screenshots @ybettan showed in Slack also showed that branchprotection was there, but if that was indeed the case, Tide can not merge, github will just refuse the merge request. So at minimum, this would need a clear repro.

[2022-01-21 22:12] BenTheElder commented on #24946
should be good again, even the manual poke yesterday got us temporarily unblocked on the rest of the pipeline (though kettle deployment got stuck again), but I think now it should be actually unstuck. it looks like we finished inserting `gs://kubernetes-jenkins/logs/*`.

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/metrics-kettle

[2022-01-21 22:13] #24946 closed

[2022-01-22 15:43] rayandas commented on #23822
I will raise a PR to remove which are left.

[2022-01-22 16:08] rayandas commented on #23822
cri-containerd-node-e2e: https://github.com/kubernetes/test-infra/pull/24979
k8s-jkns-pr-node-e2e: https://github.com/kubernetes/test-infra/pull/24980

[2022-01-22 16:09] rayandas commented on #23822
@ameukam Could you please shed some light on the third task here whenever you get time?

[2022-01-22 16:46] #23315 closed

[2022-01-23 07:17] BenTheElder commented on #24946
There are kettle logs as recent as `2022-01-22 23:12:53.628 PST`, we are still inserting builds happily and I see no errors / warnings.

We are a bit tight on disk space (843GB / 1TB) and should probably consider pruning the contents (remove logs from the removed buckets by prefix?), but it's working again and KETTLE is low priority at the moment ... We could always just increase the PD size yet a

[2022-01-23 11:10] ybettan commented on #24921
The easiest way to reproduce that I can think of is to:
1. create a PR to [special-resource-operator](https://github.com/openshift-psap/special-resource-operator) which breaks the GH workflow but don't break the prow tests (I can help with that)
2. wait for all the Prow jobs to be green and keep on the GH workflows in red.
3. `lgtm` the PR
4. see how it gets merge
@alvaroaleman

[2022-01-24 02:13] Jeffwan commented on #24141
@alvaroaleman Thanks for the update. I can confirm updating permission address the issue. :D

[2022-01-24 14:46] hawkingrei opened #24986 "[help] raise ```Error: Missing or insufficient permissions. ``` when using gubernator"
**What happened**:

I succeed to deploy gubernator on the app engine. but when I visit it, it raises the error messenger.

[code]

I have changed the access to the app engine default account. now it is the owner. but it still raises the error messanger.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences

[2022-01-24 19:20] ameukam commented on #23822
@rayandas  Looking at https://cs.k8s.io/?q=gs%3A%2F%2Fcri-containerd-testing&i=nope&files=&excludeFiles=&repos=, I think jobs stopped use `k8s-cri-containerd` project. we can skip this task for the moment.

[2022-01-25 04:17] #21434 closed

[2022-01-25 18:33] sftim commented on #24921
#6289 is a related issue because (I think) if Tide were to set its own status and wait for that to pass before a merge was attempted, then you could set up Prow / Tide without an exemption from branch protections.

[2022-01-25 18:34] sftim commented on #24921
(that's not to disagree with the need for a clearly reproducible issue report)

[2022-01-25 23:22] noahkawasakigoogle opened #25008 "Support glob syntax for run_if_changed and skip_if_only_changed as an alternative to regex"
**What would you like to be added**:

Ability to use comma separated (or something) glob syntax file paths for the `run_if_changed` and `skip_if_only_changed` selective prow job options.

**Why is this needed**:

Glob syntax is way easier to come up with then regex, and this would be easier to do more complicated file based triggering with subdirectories and stuff. Using regex for more complicated

[2022-01-26 14:20] #22731 closed

[2022-01-26 15:38] kaovilai commented on #22851
/reopen

[2022-01-26 16:15] noahkawasakigoogle commented on #25008
/sig testing

[2022-01-26 16:57] chaodaiG commented on #22851
/reopen

[2022-01-26 16:58] chaodaiG commented on #22851
/remove-lifecycle rotten

[2022-01-26 18:25] chizhg commented on #17671
/reopen

[2022-01-26 18:25] chizhg commented on #17671
/remove-lifecycle rotten

[2022-01-27 00:23] BenTheElder commented on #23830
IMHO we should make this _just_ py_test / py_lint, we don't need PAR or anything like that -- we will package things in docker images or not at all.

I think we already have py_test movement?

[2022-01-27 13:14] matthyx commented on #24620
@ehashman should I contact sig-cloud-provider for their dockershim presubmits?

[2022-01-27 15:24] chaodaiG commented on #23830
yeah we already have all of the py_test and py_lint working. it should be fine to mark this as done

[2022-01-27 21:46] listx commented on #24821
Hi Steve, sorry I took so long to circle back to your comments. Thank you for reading the design doc and leaving feedback (I've left responses to each one, please take another look).

The OpenShift CI docs website looks almost identical to the https://kubernetes.io/docs/home/ site, which is what I kept in mind (apart from KIND's docs site). I will try to lean on these existing examples as much as

[2022-01-27 22:03] BenTheElder commented on #18789
/lifecycle frozen
this is a requirement for smooth migration
/help

[2022-01-28 06:25] MadhavJivrajani opened #25048 "[RFC] Better Handling Support Requests In k/k"
_Please note that this discussion is intended **only** for issues coming into k/k_

### What Is The Intent/Goal Here?

Setting the context for the "why"
The TL;DR of the intent of doing something like this is: better the experience of when an issue is autoclosed, more info and details below!

### Handling `kind/support` Issues In k/k

#### Current State

There are a non-trivial number of [support

[2022-01-28 09:47] BenTheElder commented on #24986
FWIW: gubernator is essentially deprecated. I'm sorry but I don't think anyone has bandwidth to support this.

In current usage, we use https://prow.k8s.io which is the `deck` subcommand of `prow/` in this repo.

[2022-01-28 11:50] dims commented on #25048
I'd support this change. If we can find a way to "move" this somewhere else, it would be great! (also may be we should look more at GH discussions?)

[2022-01-28 12:41] srm09 commented on #24788
/close

[2022-01-28 12:41] #24788 closed

[2022-01-29 00:14] jberkus commented on #25048
+1 from me

[2022-01-29 21:05] ahmethlv opened #25060 "Prow issue:"
- 👋 Hi, I’m @ahmethlv
- 👀 I’m interested in ...
- 🌱 I’m currently learning ...
- 💞️ I’m looking to collaborate on ...
- 📫 How to reach me ...

[2022-01-31 03:24] mgutierrez98 commented on #19264
/remove-lifecycle stale

[2022-01-31 15:39] oliver-goetz opened #25066 "FindIssues() method of Github client does not work when app_auth is enabled"
**What happened**:
Calling [FindIssues()](https://github.com/kubernetes/test-infra/blob/1a76bd66eda42678652dee90563e7fc02539e8a3/prow/github/client.go#L3463) method from an external-plugin which is using app auth results in an exception.

[code]

**What you expected to happen**:
Finding issues

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occ

[2022-01-31 15:47] oliver-goetz commented on #25066
/sig testing

[2022-01-31 21:38] BenTheElder commented on #25060
This issue doesn't seem to have anything actionable, please feel free to file another one and please use the provided issue templates. Thanks.

[2022-01-31 21:38] #25060 closed

[2022-01-31 21:39] BenTheElder commented on #25048
Might also be worth considering how to best handle redirecting confused users filing what are essentially really requests for support of various commercial offerings.

[2022-01-31 22:47] mpherman2 opened #25069 "Allow Git v2 clientFactory to set host on clone rather than clientFactory creation"
**What would you like to be added**:
Currently when creating a clientFactory the host is provided to supply the RemoteResolverFactories with the correct host. That way when the repo is cloned it only needs the org and repo. I would like to add a way to have the Host also be provided dynamically instead of assuming all repos will have the same host
**Why is this needed**:
This is needed because we

[2022-01-31 23:01] mpherman2 commented on #25069
/sig testing

[2022-02-01 17:39] aartij17 opened #25075 "Add API type conversion check to CAPV pre-submit jobs"
Currently, CAPV doesn't run a check to verify the presence of all the API type conversions.
This issue is to add a pre-submit job to run these tests.

/assign

[2022-02-01 17:40] aartij17 commented on #25075
/area jobs /sig testing

[2022-02-01 17:41] aartij17 commented on #25075
/sig testing

[2022-02-01 18:19] mpherman2 commented on #25069
After discussing offline we figured out a workaround for the time being. The plan is to use a map of host -> client factory so we can take advantage of the InRepoConfig cache.

Ideally GitClientFactory would support multiple hosts, but this should no longer block InRepoConfig for Gerrit.

[2022-02-01 19:36] petr-muller commented on #24143
I think https://github.com/kubernetes/test-infra/pull/24927 resolved this

/close

[2022-02-01 19:37] #24143 closed

[2022-02-01 19:40] sbueringer commented on #25075
@aartij17 It might be a good idea to run all verify targets in a single verify job

(cc @scdubey)

[2022-02-02 14:54] petr-muller opened #25088 "Tide does not surface merge failures when rebase is requested but not possible"
**What happened**:

We had a repository that configured Tide to use `rebase` merge method:

[code]

Tide got stuck merging a PR that GH would allow to merge via a merge commit, but not with rebase:

![rebase](https://user-images.githubusercontent.com/712614/152177496-1b4033a2-5f28-4ebd-a74c-28c15d3fdd8b.png)

(when I selected "merge" in the dropdown above, I would be allowed to merge the PR)

The

[2022-02-02 14:54] petr-muller commented on #25088
/sig testing

[2022-02-02 22:36] SergeyKanzhelev opened #25095 "Containerd 1.4 ending it's support window, we may need to clean up jobs for it"
containerd 1.4 [end of life is Feb 3rd](https://github.com/containerd/containerd/blob/main/RELEASES.md#:~:text=February%203%2C%202022%20(Extended))

We will need to clean up jobs testing it as we only test supported versions in upstream.

Jobs:

- https://testgrid.k8s.io/sig-node-containerd#containerd-build-1.4
- https://testgrid.k8s.io/sig-node-containerd#containerd-node-e2e-1.4
- https://testgri

[2022-02-02 23:11] dims commented on #25095
yes please!

[2022-02-03 09:41] alexander-demichev commented on #25088
Looking at code https://github.com/kubernetes/test-infra/blob/master/prow/tide/tide.go#L1253, I can see that this particular error is silenced intentionally. UX is a bit confusing here for someone who is not familiar with tide configurations.

[2022-02-04 00:11] Jont828 opened #25116 "Image name is missing in image push logs for CAPZ"
**What happened**: I was looking at the [build logs](https://storage.googleapis.com/kubernetes-jenkins/logs/post-cluster-api-provider-azure-push-images/1488999194713657344/build-log.txt) for a CAPZ image push job to debug an issue with the versions and found that the image name is not listed, i.e. in the 2ne line below.

[code]

After digging into the code, the image name is generated using [this

[2022-02-04 00:14] Jont828 commented on #25116
/sig cluster-lifecycle

[2022-02-04 05:03] BenTheElder commented on #25116
The GCB build log for that run is here, and contains the image name:

https://storage.googleapis.com/kubernetes-jenkins/logs/post-cluster-api-provider-azure-push-images/1488999194713657344/artifacts/build.log

/remove-kind bug
/kind support

for any given prowjob, please check "artifacts" link for additional outputs, in this case:

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/post-cluster-api

[2022-02-04 06:59] ameukam commented on #18601
/remove-lifecycle rotten
/lifecycle frozen

[2022-02-04 14:13] ybettan commented on #24921
Just happened again https://github.com/openshift-psap/special-resource-operator/pull/252.

I don't know how to describe a simpler repo than I already did at https://github.com/kubernetes/test-infra/issues/24921#issuecomment-1019461688.

[2022-02-04 20:34] rakarakhi opened #25130 "Prow issue: Can not set hostNetwork for static Pod to false. This results all static pods get same IP Address, which is misleading"
Can not set hostNetwork for static Pod to false. This results all static pods get same IP Address, which is misleading. I have created multiple clusters using kubeadm - all the clusters have same issue.

- As a try, I created backup of /etc/kubernetes/manifests/ folder and then changed all yaml file hostNetwork: false. The entire cluster broke.
- Even restoring the original manifest folder did not

[2022-02-04 20:51] rakarakhi commented on #25130
- /sig cluster-lifecycle

**Note: Ideally there should be a group for cluster provisioning tools - KubeAdm, Kops etc..**

[2022-02-04 23:11] BenTheElder commented on #25130
That's what sig cluster-lifecycle is, the list of groups is linked in the comment above:

---

This repo is for the testing tools used by the project. Static pods are out of scope and prow does not manage static pods.

I think you should file an issue with https://github.com/kubernetes/kubeadm instead.

[2022-02-04 23:11] #25130 closed

[2022-02-05 18:14] #22099 closed

[2022-02-06 07:33] mrueg commented on #22164
/remove-lifecycle stale

[2022-02-06 10:07] ybettan commented on #24921
Another wired thing that is happening is that even if the GHA passed and then I `lgtm` then the GHA (that were green a second a go) are marked as `skipped`.

[2022-02-07 15:01] mrbobbytables commented on #22721
We have migrated over 👍
- https://github.com/kubernetes/test-infra/pull/24844
- https://github.com/kubernetes/test-infra/pull/25136
- https://github.com/kubernetes/test-infra/pull/25138

Going to go ahead and close this out

[2022-02-07 15:02] #22721 closed

[2022-02-07 20:12] Jont828 commented on #25116
Gotcha thanks for letting me know! Just to clarify, do we want to worry about handling errors returned by `getImageName(o options, tag string, config string) (string, error)`? I'm not sure why the image name showed up in `build.log` in the link you sent vs. why it's absent in `build-log.txt`.
[code]

[2022-02-07 20:27] BenTheElder commented on #25116
This tool can be used without actually publishing images -- It is also sometimes used for e.g. binaries, because it's approved for use in the trusted cluster to kick off GCB runs, and we restrict what code runs in that cluster (which is where the credentials to GCB are).

I don't think it should be a hard failure to fail to discover an image name, and the source of truth for the cloudbuild should

[2022-02-07 21:25] #23554 closed

[2022-02-07 22:29] Jont828 commented on #25116
I think that makes sense. Do you think I could open a PR to add log line to output the error? It's a small thing but that way it could be clear to the user that it's trying to discover and print the image name here?

[2022-02-08 18:38] chaodaiG commented on #21729
/remove-lifecycle stale
we still need this

[2022-02-08 18:44] ixdy commented on #17719
/reopen

[2022-02-08 18:44] ixdy commented on #17719
/remove-lifecycle rotten

[2022-02-08 18:45] ixdy commented on #17719
This issue depends on #20760.

[2022-02-08 18:46] ixdy commented on #17719
/sig testing

[2022-02-08 18:59] BenTheElder opened #25162 "kettle out of disk for sqlite3 db"
**What happened**:

Received email alert with:

`New error in k8s-gubernator gke_instances`:
[code]

**What you expected to happen**:

not out of disk

**How to reproduce it (as minimally and precisely as possible)**:

run kettle for years

**Please provide links to example occurrences, if any**:

??

**Anything else we need to know?**:

thread in testing-ops:
https://kubernetes.slack.com/archives

[2022-02-08 19:37] BenTheElder commented on #25162
I think this is only in the staging instance, bumping disks anyhow as we are not that far from the limits.

[2022-02-09 02:34] #11994 closed

[2022-02-09 06:04] matthyx commented on #11994
Woot woot @parispittman it's merged!

[2022-02-09 08:07] #25162 closed

[2022-02-09 11:20] timebertt opened #25177 "`github_token_usage` is not specific to rate limit scope"
/kind bug
/area metrics
/sig testing

**What happened**:

In our prow installation, we don't have as many github API calls. When our `triage-robot` jobs run (similar to [ci-k8s-triage-robot-close](https://github.com/kubernetes/test-infra/blob/baf109d9cfa315f1c5a20d669857e7719b0efa43/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml#L93-L145)), they consume a few rate

[2022-02-09 11:20] timebertt commented on #25177
cc @oliver-goetz

[2022-02-09 22:03] aartij17 commented on #25075
Resolved with PR - https://github.com/kubernetes/test-infra/pull/25149

[2022-02-09 22:03] #25075 closed

[2022-02-09 23:22] BenTheElder commented on #22417
the coverage viewer appears to still be broken 🤔  https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-coverage-unit/1491532856533454848

[2022-02-10 18:34] petr-muller commented on #24245
/lifecycle-remove stale

I still want this

[2022-02-10 21:45] leetcope opened #25210 "Allow `ok-to-test` label to approve GitHub workflow runs for new contributors"
**What would you like to be added**:
The ability for Prow to approve GitHub workflow runs after the `ok-to-test` label has been added to a PR via GitHub's API https://docs.github.com/en/rest/reference/actions#approve-a-workflow-run-for-a-fork-pull-request

**Why is this needed**:
New contributors are blocked from running GitHub workflows even after a maintainer adds the `ok-to-test` label to a PR

[2022-02-11 17:57] #22535 closed

[2022-02-11 23:56] chizhg commented on #25210
@stevekuznetsov this is more of a follow-up on https://github.com/kubernetes/test-infra/issues/21581 to add more features to Prow to integrate with GitHub Actions. Since you helped review that PR, your thoughts/suggestions would be valuable here.

[2022-02-14 19:48] pallasite99 opened #25248 "Tide being stuck in pending/yellow state"
**What happened**:
We use prow/tide for all of our internal repos. Lately, I've been noticing that the tide status keeps being stuck in the pending/yellow state even after all the required checks for a PR have passed. In the logs, it just shows that the "build failed" without any possible context as to why it happened. This is causing a unnecessary and long code release cycle even for simple backp

[2022-02-14 19:50] pallasite99 commented on #25248
/sig testing
/sig usability

[2022-02-14 21:35] haircommander commented on #24798
from what I can tell this was fixed by https://github.com/kubernetes/test-infra/pull/25080. Can this be closed @ehashman

[2022-02-14 23:15] ehashman commented on #24798
are we sure? the latest run failed: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-node-kubelet-serial-crio-cgroupv1/1491479336685932544/

[2022-02-15 14:42] haircommander commented on #24798
oops, I was looking in the wrong place :upside_down_face:

[2022-02-15 16:00] #24209 closed

[2022-02-15 21:22] chizhg commented on #25210
/area prow

[2022-02-16 10:55] meghanajangi opened #25292 "Add apidiff to CAPA pre-submit jobs"
Currently, CAPA doesn't have apidiff to compare API compatibility.
This issue is to add a pre-submit job to CAPA similar to [this one](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml#L21-L39).

[Parent issue in CAPA repo](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3169).

/assign

[2022-02-16 10:56] meghanajangi commented on #25292
/sig testing

[2022-02-16 11:42] meghanajangi commented on #25292
/sig cluster-lifecycle

[2022-02-17 01:27] chaodaiG commented on #23830
/close

[2022-02-17 01:27] #23830 closed

[2022-02-17 01:28] chaodaiG commented on #23829
This was done, bazel not fully deprecated here as it's still building prow images as part of it. Will close this once prow images are not built from bazel

[2022-02-17 02:36] pacoxu opened #25311 "pull-kubernetes-integration exceeding two hour timeout"
**What happened**:

The pull-kubernetes-integration failed for cleanup? “Process did not exit before 15m0s grace”.
[code]

**What you expected to happen**:
pull-kubernetes-integration don't fail for cleanup.

**How to reproduce it (as minimally and precisely as possible)**:
NA

**Please provide links to example occurrences, if any**:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/1077

[2022-02-17 03:01] BenTheElder commented on #25311
This part is noise and happens in many jobs, it's fine and not the reason the job is failing, this happens _after_ the job times out, during a separate time limit for jobs to respond to SIGTERM upon reaching the main timeout.

The real problem is further up in the logs:

The integration tests took > 2h timeout.

Two hours is meant to be a beyond-reasonable limit for presubmits, 2 hours is absolute

[2022-02-17 03:09] pacoxu commented on #25311
Just find it may be dupped with https://github.com/kubernetes/kubernetes/issues/107857

[2022-02-17 03:38] BenTheElder commented on #25311
let's track in https://github.com/kubernetes/kubernetes/issues/107857 👍 , there's more info and analysis there.

[2022-02-17 03:38] #25311 closed

[2022-02-17 09:05] ameukam commented on #13063
GCP released a new diagramming tool : https://cloud.google.com/blog/topics/developers-practitioners/introducing-google-cloud-architecture-diagramming-tool

[2022-02-17 10:55] MeNsaaH commented on #13063
This is heavily bundled with GCP. What of AWS workloads?

[2022-02-17 11:13] #22380 closed

[2022-02-17 19:16] alvaroaleman commented on #25066
The challenge here is that each requests needs to be attributed to a GH organization, which does two things:
* Use that organizations token budget
* Use the permissions this app has in that organization

And in the case of a search request, it isn't obvious how to derive the right organization from the request. The best I can think of is to try to find one in the query and just use the first or a

[2022-02-17 21:19] hongkailiu opened #25327 "[branchprotector]cannot allow force-push on a branch where branch protection is enabled"
**What happened**:
https://github.com/openshift/release/blob/ba2503ee8a4485a38ffab01a6728b64dedc7abc5/core-services/prow/02_config/openshift/oadp-operator/_prowconfig.yaml#L1-L9

[code]

**What you expected to happen**:
With the above config, we expect that the branchprotector enables the protection and allows force-push on the branch.
However, "allows force-push" is not checked in the repo's sett

[2022-02-17 23:14] chaodaiG commented on #25210
@cjwagner @alvaroaleman , wdyt?

[2022-02-18 15:44] chaodaiG opened #25337 "Prow doesn't respect pod_unscheduled_timeout when build cluster is unreachable"
**What happened**:

Prow job stuck at pending state when build cluster is unreachable until being GC'ed by sinker, which is set to 48 hours for k8s prow

**What you expected to happen**:

it should respect pod_unscheduled_timeout, which is set to 5 minutes

**Please provide links to example occurrences, if any**:

https://kubernetes.slack.com/archives/CDECRSC5U/p1645059429195949

**Anything else w

[2022-02-18 15:44] chaodaiG commented on #25337
/sig testing

[2022-02-18 23:30] SergeyKanzhelev commented on #23202
/remove-lifecycle rotten

still failing

[2022-02-21 10:01] jprzychodzen opened #25350 "Remove reference to 'scalability' cluster from Prow cluster."
**What should be cleaned up or changed**:
Cluster 'scalability' should be removed from Prow instance, as no ProwJobs are scheduled to run on this cluster.

Cluster had problems running simple ProwJobs (golang test) as it seems that there was some kind of key rotation as is now in broken state. This last job was migrated from 'scalability' cluster and it can be safely removed from pool of clusters

[2022-02-21 10:02] jprzychodzen commented on #25350
CC'ing /sig scalability

[2022-02-21 10:02] Rajalakshmi-Girish commented on #18900
@hktime were you able to handle artifacts from your s3 storage?
@alvaroaleman Ideally, a proper browser prefix to s3, assigned to `gcs_browser_prefix` should work. Can you please confirm?

[2022-02-21 10:02] jprzychodzen commented on #25350
/sig scalability

[2022-02-21 10:47] adisky commented on #24715
Creating the new image is not required now, added support to install cni in the script itself`local-up-cluster.sh`
https://github.com/kubernetes/kubernetes/pull/108160

[2022-02-21 13:29] petr-muller commented on #14575
/reopen

[2022-02-21 15:51] petr-muller commented on #14575
/remove-lifecycle rotten

[2022-02-21 19:57] howardjohn opened #25362 "Update Grafana version"
**What should be cleaned up or changed**:
monitoring.prow.k8s.io uses a very old version of Grafana with known CVEs, etc. It may be good to update

**Provide any links for context**:

[2022-02-21 21:20] petr-muller commented on #24089
/remove-lifecycle rotten

[2022-02-21 21:24] petr-muller commented on #25327
/area prow/branchprotector

[2022-02-22 02:50] cjwagner commented on #24537
This has been resolved via the linked PRs.

[2022-02-22 02:50] #24537 closed

[2022-02-22 04:45] howardjohn commented on #24869
Any thoughts on SealedSecret as an alternative? Seems more gitops friendly

[2022-02-22 07:56] BenTheElder commented on #21430
/remove-lifecycle stale

[2022-02-22 15:23] chaodaiG commented on #24869
I can see that https://github.com/bitnami-labs/sealed-secrets is similar to KES(Kubernetes external secret) in terms of generating kubernetes secrets from a more secure custom resources, which is not the only purpose of KES.

The original purpose of KES was introduced to solve the problem:

- Kubernetes secrets were manually applied to the cluster by `kubectl apply` from dev machine(s)
- The secre

[2022-02-22 15:25] howardjohn commented on #24869
My think was that external secret is really only marginally different than
a developer doing `kubectl apply`. Now they are just doing `gcloud secret
create` - same opaqueness as apply it seems? With sealed secret the entire
state lives in git

On Tue, Feb 22, 2022, 7:23 AM Chao Dai ***@***.***> wrote:

[2022-02-22 15:37] chaodaiG commented on #24869
Agree with you that both need a manual operation of either `kubectl apply` and `gcloud secret create`, the gitops side is pretty similar though, one is `SealedSecret` CR and the other is `ExternalSecret` CR, they both can live in git. However SealedSecret can not solve the problem of a user accidentally modifying the secret from the source(previous applied configuration from k8s somewhat helps in

[2022-02-22 16:11] howardjohn commented on #24869
I feel like you could say the same about SealedSecret though...

* if someone accidentally changed the value in ~GCP~K8s the secrets values can still be recovered (from git)
* if the cluster was accidentally deleted, secrets can still be recovered by applying git source controlled ~KES~SealedSecret CR

Except for "cluster deleted" I guess you would need to keep the sealed secret keys (to decrypt i

[2022-02-22 16:35] chaodaiG commented on #24869
Thank you @howardjohn , this is really great discussion!

I think I have misunderstood SealSecret to certain extent, now that with your explanation it's a bit more clear now. So SealedSecret:

- Stores secrets as "plain text" in `SealedSecret` CR
- The private key for decrypting the secrets is only available in k8s cluster
- A secret can only be created by a user running `kubeseal`, which would us

[2022-02-22 16:37] howardjohn commented on #24869
@chaodaiG I think you can fetch the pubkey once and store in git. Then a dev experience to add a secret or update would be `kubeseal mysecret --key pubkey.crt > mysealedsecret.json`. Then postsubmit job `kubectl apply`s to cluster; dev never needs access to the cluster.

But one concern would be that it said the key expires are 30d... so that may not work. I do not have much practical experience w

[2022-02-22 17:29] marosset opened #25370 "Windows logs for test passes on https://testgrid.k8s.io/sig-windows-signal are no longer collected"
**What happened**:
The test passes reported on https://testgrid.k8s.io/sig-windows-signal previously captured kubelet/containerd/pod logs from windows nodes at the end of the test pass but these no longer happen

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

Ex: https://storage.googleap

[2022-02-22 17:29] marosset commented on #25370
/sig windows

[2022-02-22 19:35] ipochi opened #25372 "Containerd E2E test fails with failed to load cni during init"
**What happened**:

Two unrelated docker based e2e tests were moved to containerd in separate PRs (https://github.com/kubernetes/test-infra/pull/25254, https://github.com/kubernetes/test-infra/pull/23243).

Job links :

https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-gce-e2e-lock-contention
https://k8s-testgrid.appspot.com/sig-node-containerd#node-kubelet-containerd-performance-test

Bot

[2022-02-22 19:36] SergeyKanzhelev commented on #25372
/sig node
/triage accepted

[2022-02-22 19:37] SergeyKanzhelev commented on #25372
what's the diff in test definition with one of the working jobs?

[2022-02-22 19:52] ipochi commented on #25372
What do you mean by test definition ?

[2022-02-22 20:02] ipochi commented on #25372
one of the tests mentioned here doesn't have
[code]

but the other one does yet it fails and it matches the one of the successful tests.

Same is with the name of test: one doesn't contain the prefix `-containerd-`, but other does.

[2022-02-23 10:43] NikhilSharmaWe commented on #25362
@howardjohn Could you please provide the link where the update is needed in the repo.

[2022-02-24 00:01] cjwagner commented on #25210
I'm not sure if I agree with the decision [here](https://github.com/kubernetes/test-infra/issues/21581#issuecomment-811143968), but it seems like we've already made the decision and this PR is a continuation so it is probably fine.

I am primarily concerned about the UX consistency and about surprising behavior for users (both already mentioned).

[2022-02-24 06:18] pacoxu commented on #24798
Any update on this.

[2022-02-24 07:27] ameukam commented on #24798
Still in investigation. we see different modes of failure between cgroupv1 and cgroupv2.

[2022-02-24 17:43] petr-muller commented on #25210
Hehe I would not call https://github.com/kubernetes/test-infra/issues/21581#issuecomment-811143968 a "decision" - at that time I was just offering the opinion. The code change landed in https://github.com/kubernetes/test-infra/pull/24726.

At this moment (and with some experience with how actions and Prow integrate) I'm not too fond of continuing the integration, too. Our experience is that action

[2022-02-24 18:00] dprotaso commented on #25210
What have you seen?

[2022-02-24 18:42] alvaroaleman commented on #25210
Conceptionally I am fine with this but not sure how easy it is to implement. The approval seems straight forward but before we can approve anything, we have to find out the run_id. This also entail additional api calls, so we might want to featuregate it.

The name shown in the UI for checkruns is a combination of the suite and the check or something like that, not sure if we will be able to imple

[2022-02-24 19:28] #23545 closed

[2022-02-25 01:21] SergeyKanzhelev commented on #24147
/remove-lifecycle rotten

@kubernetes/sig-testing where can I find information on how the prow robot that sends PRs like this (https://github.com/kubernetes/test-infra/pull/25426) is configured? I think it would be handy to update images versions the same way instead of using `image_family`.

[2022-02-25 01:24] chaodaiG commented on #23832
Decided to build prow images with ko, the work was done:
- https://github.com/kubernetes/test-infra/pull/25119
- https://github.com/kubernetes/test-infra/pull/25157
- https://github.com/kubernetes/test-infra/pull/25269
- https://github.com/kubernetes/test-infra/pull/25271
- https://github.com/kubernetes/test-infra/pull/25281
- https://github.com/kubernetes/test-infra/pull/25310

[2022-02-25 01:24] chaodaiG commented on #23832
/close

[2022-02-25 01:25] #23832 closed

[2022-02-25 01:42] cjwagner commented on #24147
Check out the [`generic-autobumper` tool](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/generic-autobumper#autobumper).

[2022-02-25 01:53] #23834 closed

[2022-02-25 06:30] matthyx commented on #24620
/close

[2022-02-25 06:30] #24620 closed

[2022-02-25 06:47] adisky opened #25430 "node-kubelet-containerd-performance-test failing on cos 89"
/sig node

**What happened**:
node-kubelet-containerd-performance-test failing on cos 89
![image](https://user-images.githubusercontent.com/7712693/155667876-31725932-c385-4c56-b3f3-056a8c3ba5c7.png)

**What you expected to happen**:
Test should pass

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:
https://testgrid.k8s.io/

[2022-02-25 07:03] adisky commented on #25372
@ipochi the CNI init error is resolved now, but tests are still failing and now both the tests have different errors
tracking node performance test here https://github.com/kubernetes/test-infra/issues/25430
tracking lock contention tests here https://github.com/kubernetes/kubernetes/issues/108348

[2022-02-25 07:04] ipochi commented on #25372
Hi @adisky

Looking into it.

[2022-02-25 14:39] petr-muller commented on #25210
https://github.com/kubernetes/test-infra/issues/24921 was one thing. Confusion about how exactly the GH action (and their sub-entities) "identifiers" work when they are shown by GH UI and how do they relate to identifiers you can use in the GH API was another. I remember there was some case where GH presents you an indetifier than can be present in multiple workflows/actions (I'm not good in actio

[2022-02-25 18:03] chases2 commented on #17855
/remove-lifecycle stale

[2022-02-25 18:11] chases2 opened #25437 "TimeSeries "kubernetes.io/internal/addons/fluentbit/input_records_total" could not be written"
At around 22:40 PST yesterday (Feb 24) there was a spike of these kinds of errors in k8s-prow:

[code]

From this behavior I'm not sure if there's a misconfigured metric that we can fix ("One or more TimeSeries could not be written: Metric kind for metric kubernetes.io/internal/addons/fluentbit/input_records_total must be CUMULATIVE, but is GAUGE") or if, since this happened in a burst and hasn't

[2022-02-25 18:12] chases2 commented on #25437
/sig testing

[2022-02-25 20:09] shinigambit commented on #25210
@petr-muller  I'm not sure if the issue you are referring to is the lack of filtering GitHub runs by PR which was the main issue to solve for https://github.com/kubernetes/test-infra/pull/24726 fortunately the headsha field in the runs list data can be used to filter the runs list as in this initial approach done purely in GitHub actions https://github.com/shinigambit/serving/blob/main/.github/wor

[2022-02-25 21:47] harshad16 opened #25440 "Peribolos latest image missing peribolos binary"
**What happened**:
Peribolos latest images seem to be broken.
`gcr.io/k8s-prow/peribolos:latest`
tag: [f4aaa30e61b4](https://console.cloud.google.com/gcr/images/k8s-prow/global/peribolos@sha256:f4aaa30e61b4bfe7691792a57cab5e493ddd16a6a33e72efd2506683e9a3ecd7/details)

The image is erroring out by stating `/peribolos: not found`

[code]

**What you expected to happen**:

Peribolos binary to be avai

[2022-02-25 22:58] alvaroaleman commented on #25440
@harshad16 the location of the binaries changed, see https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md?plain=1#L195

[2022-02-26 21:54] #23255 closed

[2022-02-26 22:55] #20006 closed

[2022-02-27 00:55] #23836 closed

[2022-02-28 06:17] pacoxu commented on #25430
/kind failing-test
/remove-kind bug

[2022-02-28 07:00] harshad16 commented on #25440
Thank you @alvaroaleman
Next time , i will make sure read the announcements before opening an issue :sweat_smile:

[2022-02-28 07:00] #25440 closed

[2022-02-28 20:22] smg247 opened #25450 "Tide doesn't handle missing status checks properly"
**What happened**:
When a repository uses 'required_status_checks' in their prowconfig such as:
[code]
Tide currently reports that the PR is in the merge pool even if these checks aren't present. It never merges the PR, but it leaves the user confused as to why it is not merging.

Tide does log "filtering out PR as unsuccessful context is not pending", but that is never surfaced anywhere.

**What

[2022-02-28 20:26] smg247 commented on #25450
/sig testing

[2022-02-28 21:15] #19979 closed

[2022-02-28 21:15] #23410 closed

[2022-02-28 21:15] #21268 closed

[2022-02-28 21:36] ameukam commented on #18785
/reopen
/lifecycle frozen

[2022-02-28 21:36] ameukam commented on #18599
/reopen
/lifecycle frozen

[2022-02-28 21:37] ameukam commented on #18599
/milestone clear

[2022-02-28 21:45] chaodaiG commented on #23829
After #25373 prow images are built without bazel
/close

[2022-02-28 21:45] #23829 closed

[2022-02-28 21:46] chaodaiG commented on #23897
After #25373 prow images are built without bazel
/close

[2022-02-28 21:46] chaodaiG commented on #23831
/close

[2022-02-28 21:46] #23897 closed

[2022-02-28 21:46] #23831 closed

[2022-02-28 21:55] chaodaiG commented on #23796
Since #25373  from 6 days ago, prow images were built using ko instead bazel. No major regression yet, a few minor issues were discovered:
- `user-agent` and Version not set, fixed in https://github.com/kubernetes/test-infra/pull/25401
- Downstream tool depends on absolute paths of static files in deck changed to be under `/var/run/ko`

Breaking changes were mentioned in https://github.com/kuberne

[2022-03-01 07:12] afirth commented on #24508
thank you @shuheiktgw for attempting to reproduce. I guess from the lack of activity that this was a freaky flake and will
/close

[2022-03-01 07:12] #24508 closed

[2022-03-01 15:37] chaodaiG commented on #23619
/remove-lifecycle rotten

[2022-03-01 16:41] Mini256 opened #25457 "The deprecated list-team-members API will be removed by GitHub recently."
**What happened**:

The deprecated list-team-members API will be removed recently.

https://github.blog/changelog/2022-02-22-sunset-notice-deprecated-teams-api-endpoints/

**What you expected to happen**:

We need to update the list-team-members API:

https://github.com/kubernetes/test-infra/blob/master/prow/github/client.go#L3713

Affect plugins:

- [ ] [milestonestatus](https://github.com/kubern

[2022-03-01 16:42] Mini256 commented on #25457
/sig testing
/area prow

[2022-03-01 18:47] petr-muller commented on #25457
Looking at our code, we'll need to adapt to the new interface, the existing signatures won't fly. Most of our client methods take (team) `id int`  and `org string` as parameters which does not have a direct analogy in the replacement API, so I think we should

1) Add the new set of methods that accept `teamSlug string` instead of `id`, using the `/orgs/:org/teams/:team_slug` API ( `RemoveTeamSlugR

[2022-03-01 18:57] smg247 commented on #25457
I'm going to take a swing at this one

[2022-03-01 23:22] ericvn commented on #25457
When trying to rerun a job from the Istio prow dashboard: https://prow.istio.io/?repo=istio%2Frelease-builder I end up seeing a message like:
[code]
I assume that is expected during the brownout and should be fixed with this issue.

[2022-03-02 08:27] RinkiyaKeDad commented on #23619
Hey @chaodaiG! I'm sorry, but I don't have the bandwidth to take this up right now - unassigning myself so others can pick it up!

/unassign

[2022-03-02 14:34] petr-muller commented on #25457
@ericvn yes, getting 404s is consistent with what we saw

[2022-03-02 15:46] ericvn commented on #25457
Things are back today post their brownout. Hoping things will be fixed before their next one: March 8th.

[2022-03-02 16:29] alculquicondor commented on #24769
/reopen

This is happening quite often for our new sigs.k8s.io/kueue project

- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kueue/81/pull-kueue-test-unit-main/1499045211047727104
- https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/kueue/kueue-presubmits.yaml

Could it be the same problem?

[2022-03-02 17:23] chaodaiG commented on #24769
Two other instances:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kueue/75/pull-kueue-test-unit-main/1499026982501879808
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kueue/75/pull-kueue-test-unit-main/1498776330072756224

Clicking on `Pod` under `Job Pod Info` section, these jobs didn't run on the same node, so probably different re

[2022-03-02 17:27] sbueringer commented on #24769
We also have a few failed ProwJobs like this across a few CAPI repos.
I don't think the root cause is the same.

xref: https://kubernetes.slack.com/archives/CD6U2V71N/p1646162568073629

[2022-03-02 18:10] SergeyKanzhelev commented on #25430
/triage accepted

[2022-03-02 18:11] SergeyKanzhelev commented on #25430
/assign @mmiranda96

[2022-03-02 18:34] smg247 opened #25474 "Changes to `config/jobs/image-pushing` do not trigger `pull-test-infra-unit-test`"
**What should be cleaned up or changed**:
The `pull-test-infra-unit-test` presubmit has a `skip_if_only_changed` configured as '^config/jobs/'. This results in PRs that add (or change) an image-pushing job not running the unit tests.
However, the `TestImagePushingJobs` unit test fails any jobs that don't have `sig-k8s-infra-gcb` in their `testgrid-dashboards`. Since this test never runs, the PR is

[2022-03-02 18:35] smg247 commented on #25474
/sig testing

[2022-03-03 00:07] listx commented on #24821
https://docs.prow.k8s.io is now live!

All that remains is to (1) migrate existing docs over to this site and (2) add prow jobs for checking for broken links, freshness, etc (as discussed in the design doc linked in the first comment). I will create new issues for these efforts in the new repo and cross-reference this issue. When those issues are created (and tracked) there, we can close this.

[2022-03-03 00:14] listx commented on #24821
The issues have been created in the new repo. Closing this one.

[2022-03-03 00:14] #24821 closed

[2022-03-03 08:39] adisky commented on #24715
Its done, the jobs is running now
/close

[2022-03-03 08:40] #24715 closed

[2022-03-03 11:50] #25292 closed

[2022-03-03 14:26] droslean opened #25492 "Ghproxy cache causes attach/detach volume timeouts"
When `ghproxy` is using a local storage cache, it can potentially generate a large number of different files/folders. This is triggering the problem described in  https://github.com/kubernetes/enhancements/issues/1710

Currently, there is a workaround to use the Redis cache instead but this doesn't support partitioning and the calls from different tokens can conflict with each other.

We should ei

[2022-03-03 14:30] droslean commented on #25492
/sig sig-testing

[2022-03-03 14:31] droslean commented on #25492
/sig testing

[2022-03-03 14:32] droslean commented on #25492
/kind feature

[2022-03-03 15:32] smg247 commented on #25457
This shouldn't have been closed yet. That was just the initial part, there are still other methods that need to be updated.

[2022-03-03 15:44] Mini256 commented on #25457
/reopen

[2022-03-03 16:58] haircommander commented on #24798
Maybe we need to setup `prow` user on these VMs so fcos behaves more like cos?

[2022-03-03 19:00] ericvn commented on #25457
Not sure this is directly related as it's failing after the brownout:
[code]

[2022-03-03 19:03] smg247 commented on #25457
@ericvn it could be related to my change from yesterday, can you link me to the log that you see that in?

[2022-03-03 19:10] ericvn commented on #25457
@smg247 Actually, I'm now thinking it might be that we are using a really old test-infra commit in the build-tools container we have. I'm going to see about using a more recent version.  But, logs are here: https://storage.googleapis.com/istio-prow/logs/sync-org_community_postsubmit/1499457709760581632/build-log.txt

[2022-03-03 19:15] smg247 commented on #25457
Okay, a tell tale sign that it _might_ be something with my recent change would be seeing:
`{"client":"github","component":"unset","file":"/home/prow/go/src/github.com/kubernetes/org/_output/tmp/test-infra/prow/github/client.go:3717","func":"k8s.io/test-infra/prow/github.(*client).ListTeamMembers","level":"warning","methodName":"ListTeamMembers","msg":"method is deprecated, and will result in mult

[2022-03-03 20:10] ehashman commented on #24451
this was done in https://github.com/kubernetes/test-infra/pull/24509

/close

[2022-03-03 20:12] #24451 closed

[2022-03-03 20:24] ehashman commented on #23231
I have a couple more small PRs and then I think this is done.

#25497 #25496

[2022-03-03 20:24] ehashman commented on #23231
/remove-lifecycle stale

[2022-03-03 21:00] chaodaiG commented on #24769
Prow jobs listed under https://prow.k8s.io/?state=error are pretty much all failed with the same reason, there were 1141 jobs at the moment, which means 1141 jobs out of 20797 jobs in the past 48 hours were affected by this

[2022-03-03 21:01] chaodaiG commented on #24769
/assign
taking a quick look to check whether there is something suspicious

[2022-03-03 21:21] chaodaiG commented on #24769
Pick a job failed more recently https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/e2e-kops-grid-amzn2-k23-ko23-docker/1499486599044403200, relevant error logs (query https://cloudlogging.app.goo.gl/34dxJcGwGighXR9F7) are:

12:47:19.327 PST
[code]

12:51:19.000 PST
[code]

12:51:34.000 PST (repeat every 15 seconds until time out)
[code]

[2022-03-03 21:34] chaodaiG commented on #24769
Skimmed through a few failed jobs, noticed node names showing up repeatedly, so drilled a bit deeper into metrics https://cloudlogging.app.goo.gl/cpAwnhjjm93qpfh17, and found out that this did happen on a handful number of nodes:

![Screen Shot 2022-03-03 at 1 34 03 PM](https://user-images.githubusercontent.com/45011425/156656399-97d911fb-4a53-4745-ad88-b13e03bf5adb.png)

I'm deleting these nodes

[2022-03-03 21:40] chaodaiG commented on #24769
Done marking these nodes from removal.
(Fun fact: there were several pods pending timing out on these nodes by the time I got to them)

[2022-03-03 22:07] alculquicondor commented on #24769
Any idea what could lead nodes to start failing?

[2022-03-03 22:11] chaodaiG commented on #24769
no idea, we don't have a good enough way of querying from all prow jobs yet

[2022-03-03 22:30] howardjohn opened #25501 "Job reported to slack when configured not to"
Job config explicit has report=false: https://github.com/istio/test-infra/blob/f72913475b62e3cff6a718a6beafa54d1b750bdd/prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml#L1131

But it is reported:
![2022-03-03_14-29-55](https://user-images.githubusercontent.com/623453/156663673-ac1a11ab-72ad-4fac-8282-510f262c267b.png)

Link to job: https://prow.istio.io/view/gs/istio-prow/logs/integ-secur

[2022-03-04 09:34] ipochi commented on #25372
https://github.com/kubernetes/kubernetes/issues/108348#issuecomment-1058933790

[2022-03-04 10:45] ipochi commented on #25372
https://github.com/kubernetes/test-infra/pull/25509

[2022-03-05 01:05] ehashman commented on #24798
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-node-kubelet-serial-crio-cgroupv1/1499826327681765376/

Still failing :\

[2022-03-07 05:55] SergeyKanzhelev commented on #23202
After installing GCC using `apk add build-base`, there is still an error:

[code]

Now, it is unclear how to install the systemd headers on Alpine. We  only have instruction for Ubuntu: https://github.com/kubernetes/node-problem-detector#build-image

I didn't find quickly any alternatives among https://github.com/kubernetes/test-infra/tree/0f9c540d1ea3c4d2baddebbf48b7d0789b721054/images buildbazel

[2022-03-07 17:42] chaodaiG commented on #23796
Stop gating with bazel test https://github.com/kubernetes/test-infra/pull/25519

[2022-03-07 20:06] SergeyKanzhelev commented on #23202
@Random-Liu what is the current NPD release pipeline? Do you know the history of this job and why we need it?

[2022-03-08 08:48] Summer-Field commented on #24085
yes its my network's problem.

[2022-03-08 08:48] #24085 closed

[2022-03-08 17:30] fejta opened #25548 "kettle metrics are failing to upload because they are too old"
Since around Feb 26/27: https://testgrid.k8s.io/sig-testing-misc#metrics-kettle&width=5

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/metrics-kettle/1501245940172853248#

/assign @BenTheElder

[2022-03-08 17:32] fejta opened #25549 "test-infra-fuzz is always failing"
Seemingly for various reasons:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/test-infra-fuzz/1501245940206407680#

https://testgrid.k8s.io/sig-testing-misc#test-infra-fuzz

/assign @mpherman2

[2022-03-08 17:55] mpherman2 commented on #25549
Yea this job is running as an example of fuzz testing in action. It is failing because it is catching an example bug :)

[2022-03-08 17:55] #25549 closed

[2022-03-08 23:33] BenTheElder commented on #25548
not sure if related we noticed that prow history seems to be stale:
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce

^shows feb 9th as most recent, but we are still running continuously, e.g. a result from today via testgrid:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1501283451163119616

testgrid: https://testgrid.k8s.io/sig-

[2022-03-08 23:47] BenTheElder commented on #25548
Checked https://console.cloud.google.com/kubernetes/deployment/us-west1-b/g8r/default/kettle/logs?project=k8s-gubernator:

Pod logs for gubernator deployment show it stopped logging `2022-02-6 18:01:50.014 PST`, pod is ready but the process seems to be stuck.

[2022-03-08 23:53] BenTheElder commented on #25548
Prior to hanging logs include numerous entries of more or less the same error:

And then two different entries:

[ no further entries ]

[2022-03-10 01:14] chizhg opened #25570 "Rerun auth config does not work well for periodic Prow jobs"
**What happened**:

Currently `RerunAuthConfigs` in Prow config supports a map, with `org/repo`, `org` or `*` being the key, and a `RerunAuthConfig` struct as value, see https://github.com/kubernetes/test-infra/blob/9e913caefb4f2d04ee0e5d71b69dcb7fa17b9ed5/prow/config/config.go#L1220

When it checks the rerun auth for a Prow job, it gets the `org` from `pj.Refs`, and returns the corresponding `Rer

[2022-03-10 09:41] timebertt commented on #24530
/remove-lifecycle stale

[2022-03-10 19:08] alvaroaleman commented on #25457
SIdenote, they paused the sunset: https://github.blog/changelog/2022-02-22-sunset-notice-deprecated-teams-api-endpoints/

[2022-03-10 21:19] vteratipally opened #25592 "pull-npd-e2e-kubernetes-gce-ubuntu-custom-flags test are failing"
The following tests are failing continuously when ginkgo version is update in the base test-infra image

pull-npd-e2e-kubernetes-gce-ubuntu-custom-flags
pull-npd-e2e-kubernetes-gce-ubuntu
pull-npd-e2e-kubernetes-gce-gci-custom-flags
pull-npd-e2e-kubernetes-gce-gci

This is because the https://github.com/vteratipally/kubernetes/blob/master/hack/ginkgo-e2e.sh#L169 is not updated to use the latest bi

[2022-03-11 04:52] mkumatag opened #25600 "Rerun is not working properly"
**What happened**:

Rerun is not working properly, tried on multiple jobs and see same error:

<img width="1264" alt="image" src="https://user-images.githubusercontent.com/12646029/157804299-dc2ca4b0-fb00-430f-93a3-53da335c5950.png">

**What you expected to happen**:

Rerun should be successful

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example oc

[2022-03-11 04:52] mkumatag commented on #25600
/sig testing

[2022-03-11 04:56] mkumatag commented on #25600
I see this team number is coming all the way from here https://github.com/kubernetes/test-infra/blob/b87f0491d802c84568aa4890a0e2ef961b949970/config/prow/config.yaml#L150 and team name says: test-infra-admins

[2022-03-11 05:08] mkumatag commented on #25600
and I see team also exist here: https://github.com/orgs/kubernetes/teams/test-infra-admins, not sure how this prow is trying to fetch the members!

cc @BenTheElder anyone can help here to understand what is going wrong!

cc @chaodaiG @chizhg

[2022-03-11 10:45] Wojciech-Chilinski opened #25602 "Tide can't handle OR operator for labels."
**What happened**:
According to documentation (https://github.com/kubernetes/test-infra/blob/master/prow/cmd/tide/config.md#queries) Tide queries should be an exact mapping of GitHub queries. While I'm able to create a GitHub query `label:teamA,teamB` (result is to present PR with label `TeamA` OR `TeamB`), the same tide label definition `- teamA,teamB` results in blocked PR. tide info: `Not merge

[2022-03-11 10:47] Wojciech-Chilinski commented on #25602
/sig testing

[2022-03-11 15:45] smg247 commented on #25457
Once https://github.com/kubernetes/test-infra/pull/25585 is merged everything will be done here except for the `project` plugin. This will be a more involved update as it will require a configuration update to include the slug. I am going to file an issue for that specifically as it is not something that I will be tackling.

[2022-03-11 15:49] smg247 opened #25603 "Project plugin should be updated to use gh client bySlug methods"
**What should be cleaned up or changed**:
https://github.com/kubernetes/test-infra/issues/25457 adds new bySlug methods in the github client's `TeamClient`. The `project` plugin should be updated to utilize them.

Currently, a call to `getOrg` is required each time one of the old `TeamClient` methods is used. This results in 2 api calls needed to achieve the same result.
**Provide any links for co

[2022-03-11 15:49] smg247 commented on #25603
/sig testing

[2022-03-11 15:52] smg247 commented on #25603
/kind cleanup

[2022-03-11 17:38] alvaroaleman commented on #25602
GitHub apis supports OR by using a comma-seperated list? This is new to me, do you have a reference?

[2022-03-11 20:20] alvaroaleman commented on #25600
@smg247 could this be related to your changes in the github client?

[2022-03-11 20:32] smg247 commented on #25600
It is possible. Rerun (the way it is configured) is still be using the old `TeamHasMember` method though:
https://github.com/kubernetes/test-infra/blob/master/prow/apis/prowjobs/v1/types.go#L251-L259

and that uses `ListTeamMembers` which was working for `peribolos` up until I changed `peribolos` to no longer use that, so I believe that method is functioning properly.

[2022-03-11 20:45] smg247 commented on #25600
@mkumatag is the 2009231 # test-infra-admins team part of the `kubernetes-sigs` org?

[2022-03-11 23:22] alvaroaleman commented on #25600
@smg247 nope, it is part of the Kubernetes org :(  We can not really assume that the org from the Prowjob is the org of the team for a global team config. I guess we will have to introduce a team_org setting or allows specifying the team as `orgname/teamname`?

This is a really subtile one. The `org` arg for `ListTeamMembers` was introduced by me for usage in GH apps auth, but the Openshift Prow d

[2022-03-13 04:54] Wojciech-Chilinski commented on #25602
https://docs.github.com/en/search-github/searching-on-github/searching-issues-and-pull-requests#search-by-label
Last example

[2022-03-14 00:42] #23727 closed

[2022-03-14 00:42] #23975 closed

[2022-03-14 04:57] cpsrujana opened #25610 "Prow issue: Kube-proxy did not come upon K8s Installation on Debian10"
We have installed Kubernetes using kubespray. we have observed that kube-proxy didnot come up. kubeadm-config.yaml has the required kubeproxy configuration.

In the api server logs, there is an error to connect etcd.
And etcd container seems to be recreated during that time.

Can somebody help me in understanding the root cause of this issue. We are trying on a fresh machine.

Below is the content

[2022-03-14 07:06] lzhecheng commented on #24957
We need a Windows test on capz as well.
`ci-kubernetes-kubemark-100-azure-test` may be removed because 1) capz not supported 2) will be tested manually.

[2022-03-14 07:17] lzhecheng opened #25611 "ci-kubernetes-kubemark-100-azure-test can be deprecated"
**What happened**:
`ci-kubernetes-kubemark-100-azure-test`: https://testgrid.k8s.io/provider-azure-cloud-provider-azure#ci-kubernetes-kubemark-100-azure-test

This test has been failing for a long time because it uses custom extension but aks-engine cannot support. Even migrating it to cluster-api-provider-azure will not help either.
https://github.com/Azure/aks-engine/issues/3383

The decision no

[2022-03-14 07:18] lzhecheng commented on #25611
/sig cloud-provider
/assign
/cc @jackfrancis

[2022-03-14 11:18] smg247 commented on #25600
@alvaroaleman yes, I can take `ListTeamMembers` back to just calling `/teams/{team_id}/members` for now since the sunset was postponed. PR forthcoming.

Updating the config to: `orgname/teamname` sounds like a good long term solution to me.

[2022-03-15 14:14] xtuchyna opened #25631 "Prow issue: remove priority label if another priority label is added"
If e.g. priority `important-soon` is present in Issue, then adding other priority label (e.g. priority `important-longterm`) the old one should be removed, so that the Issue does not have two priority labels simultaneously

### Example
See https://github.com/thoth-station/thoth-application/issues/1839#issuecomment-1068024066

[2022-03-15 14:17] xtuchyna commented on #25631
/sig contributor-experience

[2022-03-15 18:54] alvaroaleman commented on #25610
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2022-03-15 18:54] #25610 closed

[2022-03-15 23:30] evankanderson commented on #7690
@nikhita and @ykakarap -- are you still working on this, or does this need another search for an owner? (ha!)

[2022-03-16 00:11] BenTheElder commented on #25548
Never managed to get useful debug info out of it, but I could see that all processes were in sleep state.

A SIGTERM to the main make_db process has it running again with new builds.

[2022-03-16 12:55] Argh4k opened #25647 "Align scalability presubmit and periodic configurations"
**What happened**:
There is a difference in configuration between `pull-kubernetes-e2e-gce-100-performance` and `ci-kubernetes-e2e-gci-gce-scalability` jobs. This can cause issues in periodic job that won't fail a presubmit.

**What you expected to happen**:
Scalability periodics and presubmit should have the same configuration.

**How to reproduce it (as minimally and precisely as possible)**:
ht

[2022-03-16 13:57] Argh4k commented on #25647
/sig scalability

[2022-03-16 15:56] sumitchauhanJan opened #25654 "Ability to read parameters with job name ,to utilise the job for testing with parameters"
**What would you like to be added**:

We have api tests that are triggered once user comments /test smoke on PR request,but we want to make this job parametrised which will help run these test with some parameter .

E.g /test smoke skip

Here we can utilise skip keyword in our job and take action accordingly.

**Why is this needed**:

This would enable jobs to run on some user based run time condi

[2022-03-16 17:11] sumitchauhanJan commented on #25654
/sig API Machinery
/sig API Expression

[2022-03-16 17:13] sumitchauhanJan commented on #25654
/sig api-machinery
/sig api-expression

[2022-03-16 17:18] sumitchauhanJan commented on #25654
/sig testing

[2022-03-16 17:19] sumitchauhanJan commented on #25654
./sig api-machinery

[2022-03-16 17:20] sumitchauhanJan commented on #25654
/sig api-machinery
/wg api-expression

[2022-03-16 17:37] SergeyKanzhelev commented on #25372
/triage accepted
/priority important-soon

[2022-03-16 18:57] BenTheElder commented on #25548
https://testgrid.k8s.io/sig-testing-misc#metrics-kettle&width=5 is green again

will open an issue to track long term mitigation.

[2022-03-16 18:57] #25548 closed

[2022-03-16 18:59] BenTheElder opened #25658 "KETTLE sometimes halts indefinitely"
See: https://github.com/kubernetes/test-infra/issues/25548

It's unclear what exactly is locking up, but we've observed this symptom before where kettle stops logging anything new and ceases to upload new results.

It is typically "fixed" by manually restarting the deployment.

We should avoid this manual labor at minimum, and ideally the freezing should be root caused and fixed, but KETTLE is som

[2022-03-16 19:09] BenTheElder commented on #23975
we no longer use bazel #23830

[2022-03-16 19:09] alvaroaleman commented on #24074
This doesn't seem to happen often but still occures sometimes, e.G. here: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/test-infra/25656/pull-test-infra-unit-test/1504167885168185344

[2022-03-16 20:17] jackfrancis commented on #25611
/assign

[2022-03-17 04:28] nikhita commented on #25631
+1 to do this.

We already have an open issue for it though, so I'll close this one - https://github.com/kubernetes/test-infra/issues/6095

/close

[2022-03-17 04:28] #25631 closed

[2022-03-17 05:57] RaghavRoy145 commented on #6095
/assign

[2022-03-17 05:58] lzhecheng commented on #25611
Jack's PR resolved this issue. https://github.com/kubernetes/test-infra/pull/25661

[2022-03-17 05:58] #25611 closed

[2022-03-17 07:55] vanthony022 opened #25667 "Prow issue:"
/sig @k8s-ci-robot
I'm using EKS version : 1.18,

Steps:
1.I created my database service with Loadbalancer type
2.I gave the security group rule permission to my company ip xx.xx.xx.xx/32
3.I find the that security group changed to worldwide 0.0.0.0/0 again and again.
4.From cloud trail, it showed clusterRole is changed the securitygroup to 0.0.0.0/0 it automatically.

pls let me know the solution

[2022-03-17 11:04] vanthony022 opened #25670 "Security group of my db Loadbalancer automatically changed to 0.0.0.0/0(worldwide) by clusterRole(i.e eks ClusterRole)"
I'm using EKS version : 1.18,

Steps:
1.I created my database service with Loadbalancer type
2.I gave the security group rule permission to my company ip xx.xx.xx.xx/32
3.I find the that security group changed to worldwide 0.0.0.0/0 again and again.
4.From cloud trail, it showed clusterRole is changed the securitygroup to 0.0.0.0/0 it automatically.

pls let me know the solution
this is critical

[2022-03-17 16:38] jwmatthews opened #25694 "Missing a repository label related to working groups: wg/batch and wg/data-protection"
### Describe the issue

I ran into a missing label for 'wg/data-protection' when filing issue kubernetes/community#6546 and trying to assign the wg.

Looking at: https://github.com/kubernetes/community/blob/master/sig-list.md#working-groups I see the below labels for working groups are missing in this repository:

- wg/batch
- wg/data-protection

[2022-03-17 16:56] jupblb commented on #21996
/remove-lifecycle rotten

I'd like to add this feature if we reach a consensus on how it should be implemented.

[2022-03-17 17:16] petr-muller commented on #25654
Probably a dup of https://github.com/kubernetes/test-infra/issues/23846

[2022-03-18 01:24] #24046 closed

[2022-03-18 13:11] alvaroaleman commented on #25670
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2022-03-18 13:11] #25670 closed

[2022-03-18 13:11] alvaroaleman commented on #25667
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2022-03-18 13:11] #25667 closed

[2022-03-18 17:02] petr-muller commented on #25088
We just discovered in https://github.com/openshift/jenkins-sync-plugin/pull/417 that this can actually block merges when this happens, which makes this worse than just UX problem. Tide gets stuck trying to merge the one PR that it cannot, and the other PRs eligible for merges wait.

[2022-03-21 02:01] lzhecheng opened #25698 "Build gcb-docker-gcloud image failed with "ld-linux-x86-64.so.2: No such file or directory""
**What happened**:
I updated the golang version for gcb-docker-gcloud from 1.16.2 to 1.17.8 recently but I didn't realize that it would make the image build fail. I tried to debug it but cannot figure out. So I hope some expert can help. Thank you!
https://github.com/kubernetes/test-infra/pull/25680

The failure log is like this:
https://storage.googleapis.com/kubernetes-jenkins/logs/post-test-inf

[2022-03-21 02:03] lzhecheng commented on #25698
@chaodaiG

[2022-03-21 02:17] lzhecheng commented on #25698
@BenTheElder @detiber could you please take a look?

[2022-03-21 02:34] lzhecheng commented on #25698
I think the change won't affect other images and old images can still be used. The only problem is that this bug needs to be solved before new image is created. So I haven't reverted the commit.

[2022-03-21 17:17] cjwagner commented on #25177
Thanks for finding the root cause of this, Tim!

[2022-03-21 21:13] BenTheElder commented on #25698
sounds like glibc vs muslc. this change sounds broken. I don't particularly have time to investigate this at the moment, but please don't leave images in a broken state.

[2022-03-22 15:23] RedShift1 commented on #25698
I experienced the same issue, it is due to an update in the Google Cloud SDK. Last version that works for me is 374, you can download it here: https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-374.0.0-linux-x86_64.tar.gz

[2022-03-22 18:51] BenTheElder commented on #25698
https://github.com/GoogleCloudPlatform/cloud-sdk-docker is probably a good starting point to see what is wrong with alpine google-coud-sdk as they have official alpine + sdk images

[2022-03-22 18:54] smg247 commented on #23870
heads up: I tried switching our deployment to use apps auth today, and ran into some issues with `pr-status`. I am looking into what the cause could be and will be fixing that.

[2022-03-22 22:33] ehashman commented on #24798
Still doesn't appear to be working https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-node-kubelet-serial-crio-cgroupv2/1506314449798041600/

[2022-03-23 00:08] vteratipally commented on #23202
Fix for this issue is there https://github.com/kubernetes/node-problem-detector/pull/639

[2022-03-23 07:19] saschagrunert commented on #24798
@ameukam looking at those logs:
- Are `GCE_SSH_PUBLIC_KEY_FILE` (/etc/ssh-key-secret/ssh-public) and `JENKINS_GCE_SSH_PUBLIC_KEY_FILE` (/workspace/.ssh/google_compute_engine.pub) the same?
- Is `/etc/ssh-key-secret/ssh-public` automatically mounted into the GCE machine? Because we copy them in an startup systemd unit: https://github.com/kubernetes/test-infra/blob/657921483a72e4bab9b7478df455201937

[2022-03-23 08:42] saschagrunert commented on #24798
Something like this may work: https://github.com/kubernetes/kubernetes/pull/108909

[2022-03-23 09:22] ameukam commented on #24798
@saschagrunert can confirm both are identical.

[2022-03-23 18:08] #25694 closed

[2022-03-23 18:39] detiber commented on #25698
It's been a while since I've done anything with this image, it was used by some of the cluster-api jobs when we originally put it together to facilitate the cluster-api image build jobs in gcb. Not sure if it's still in use. Maybe @dims @cpanato or @fabriziopandini would know?

I could probably dig back into it a bit next week if it's still an issue, though.

[2022-03-23 19:52] BenTheElder commented on #24247
/remove-lifecyle rotten
/assign @ameukam

[2022-03-23 20:52] ameukam commented on #24247
I see it's still used by some jobs.

[code]

It's possible it's stale cache. I'll manually clear the cache and see what's happening.

[2022-03-23 21:23] BenTheElder commented on #24247
Greenhouse is an LRU cache so it will always be ~full unless it has zero usage since setup.

With a full cache we could check how recently entries were accessed.

[2022-03-23 21:49] ameukam commented on #24247
Good idea!

[code]

[2022-03-23 23:09] shanproofpoint commented on #25698
I also ran into this issue
Error loading shared library ld-linux-x86-64.so.2

[2022-03-24 01:13] lzhecheng commented on #25698
@shanproofpoint when did you test? It works now...

Everyone, this bug seems resolved yesterday.
https://github.com/GoogleCloudPlatform/cloud-sdk-docker/issues/267

[2022-03-24 04:59] vatsalparekh commented on #25450
/assign

[2022-03-24 04:59] vatsalparekh commented on #25248
/assign

[2022-03-24 11:18] codificat opened #25755 "project plugin fails if there are repos with projects disabled"
**What happened**:

The `project` plugin does not work if there are repos in the org that have projects disabled.

**What you expected to happen**:

I was expecting the `project` plugin to work without requiring all repos in the org to have the GitHub Projects functionality enabled.

**How to reproduce it (as minimally and precisely as possible)**:

1. Have a GitHub org configured with org-level p

[2022-03-24 11:23] codificat commented on #25755
/sig testing

[2022-03-24 13:50] smg247 commented on #23870
I think we should reopen this. it is actually more in-depth than I previously thought. `Rerun` also uses the oauth, and a change will need to be devised for that as well.

[2022-03-24 13:55] alvaroaleman commented on #23870
/reopen

[2022-03-24 16:39] #19778 closed

[2022-03-24 22:27] fejta commented on #22417
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#attr-sandbox

[code]

[2022-03-24 22:45] BenTheElder commented on #22417
The coverage viewer loads now, can't say why.

Seems like we should revert https://github.com/kubernetes/test-infra/pull/22921#issuecomment-1078440770

[2022-03-24 23:08] fejta commented on #22417
Do we run any untrusted lenses? I am thinking a quick mitigation might be to make this configurable per lens, and off by default.

[2022-03-24 23:29] BenTheElder commented on #22417
As far as I know we don't, only lenses built into upstream prow. I'm not sure about other deployments.

[2022-03-25 07:54] #25698 closed

[2022-03-25 11:30] danilo-gemoli commented on #25088
@petr-muller unfortunately it seems that Tide considers only a PR to be mergeable in general (that means: at least one merge method is allowed) to set a success status. That causes the PR to be processed over and over again, in an infinite loop. Even looking at the "jenkin rebase problem" it is not clear to me how that could block other PRs that are in the same pool. Can you give me a little bit m

[2022-03-25 13:10] dhiller opened #25768 "pushgateway reports wrong numbers of prowjobs after rollout of prow-controller-manager"
**What happened**:
We are using prow for CI of KubeVirt.

We had just updated our prow instance to latest version today. After the rollout we saw a sudden increase on number of prowjobs on our dashboard (see first annotation): https://grafana.ci.kubevirt.io/d/acSjBD17z/prow-job-load?orgId=1&from=1648200287861&to=1648212142472

This alarmed us and we investigated. After a while we noticed that the

[2022-03-25 13:14] dhiller commented on #25768
/sig testing

[2022-03-26 15:58] #22723 closed

[2022-03-27 04:09] kerthcet opened #25778 "unexpected failure report while all integration tests passed"
### Which jobs are failing?

Refer to this integration report https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108884/pull-kubernetes-integration/1507912814944063488

Although all the tests passed, but job is failed, I have met this for several times.

### Which tests are failing?

Integration tests.

### Since when has it been failing?

I have no idea.

### Testgrid link

_No response_

[2022-03-27 14:46] alvaroaleman commented on #24526
/assign

[2022-03-27 16:07] #24161 closed

[2022-03-28 02:33] kerthcet commented on #25778
Thanks @dims .

[2022-03-28 10:33] qoobic opened #25781 "Allow use of environment variables in kind configuration"
**What would you like to be added**:

It would be great if it was possible to reference environment variables in the configuration when setting up a kind cluster - eg - see the reference to `PATH_TO_LOCAL_VOLUME` below:

[code]

**Why is this needed**:

I am using `kind` for development and testing in my CI pipeline (TeamCity). For development the default path `/tmp/local-volume-for-dev` works fin

[2022-03-28 11:02] qoobic commented on #25781
/sig testing

[2022-03-28 17:57] ehashman commented on #23822
@ameukam can this be closed? I think everything here we need to do is done?

[2022-03-28 17:58] ehashman commented on #24558
We added presubmits in https://github.com/kubernetes/test-infra/pull/24919 but we also need postsubmits.

[2022-03-28 18:08] ameukam commented on #23822
Some jobs still run on Google infrastructure : [https://cs.k8s.io/?q=gcp-project%3Dcri-c8d-pr-node-e2e&i=nope&files=&excludeFiles=&repos=](https://cs.k8s.io/?q=gcp-project%3Dcri-c8d-pr-node-e2e&i=nope&files=&excludeFiles=&repos=) but there are related to Containerd. We can close it.

[2022-03-28 19:11] #24526 closed

[2022-03-28 20:27] dims commented on #25778
@kerthcet : https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108884/pull-kubernetes-integration/1507912814944063488 should now show the correct number of failures

thanks!

/close

[2022-03-28 20:28] #25778 closed

[2022-03-28 20:28] dims commented on #25778
fixed in https://github.com/kubernetes/test-infra/pull/25786

[2022-03-28 21:30] alvaroaleman commented on #25781
Hey @qoobic , kind isn't developed here but in https://github.com/kubernetes-sigs/kind, please open your feature request over there.

/close

[2022-03-28 21:31] #25781 closed

[2022-03-29 14:48] Ressetkk opened #25799 "Tide: default merge method for specific branch in the repository"
**What would you like to be added**:
For what I know tide only allows to set default merge method for given repo using `merge_method` field which is an OrgRepo map.
[code]
It's useful, but for some repositories using only default merge method is quite tedious task to remember to manually change the merge method using `/label` flag. What I would like to suggest is to change the `merge_method` field

[2022-03-29 16:13] vatsalparekh commented on #25248
@pallasite99 do you still face this issue? If yes, can you please share info about your prow environment

[2022-03-29 18:12] petr-muller commented on #25088
I saw Tide trying to merge one of the PRs that got into this state, and it apparently prevented Tide from getting to other eligible PRs (that did not have this conflict). I did not investigate it further, but when we closed the problematic PR, the other ones got merged immediately. So maybe the problematic was just the first in some list and Tide never got over it or something like that.

[2022-03-29 21:30] BenTheElder opened #25806 "approval bot comment frequently results in approvers being assigned before any review occurs"
IMHO, the formatting of this message highlights the wrong things and the text doesn't make it clear enough that review should happen first.

sample message:

To complete the [pull request process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process), please assign **ameukam** after the PR has been reviewed.
You can assign the PR to them by writing `/assign @ameukam` i

[2022-03-29 21:32] BenTheElder commented on #25806
Or alternatively: drop the statement entirely that assigning approvers will "complete the pull request process" since that's not really true. E.G. you still need to pass required tests, have the CLA, etc.

[2022-03-29 21:33] BenTheElder commented on #25806
To complete the [pull request process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process), please assign ameukam after the PR has been reviewed.

⇨

[2022-03-29 22:35] ehashman commented on #24798
This might get closed by the k/k PR, but we need to still update the cri-o jobs to set the env var.

[2022-03-30 03:38] chaodaiG commented on #23796
Now that it's landed
/close

[2022-03-30 03:39] #23796 closed

[2022-03-30 06:13] BenTheElder opened #25811 "node version is _ancient_"
as a result we're also using a linter that doesn't really exist anymore, we should overhaul this

cc @chaodaiG

previously we opted not to update due to landing https://github.com/kubernetes/test-infra/issues/23796 first with identical node

[2022-03-30 07:00] sftim commented on #25806
Could we use a [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) to make part of the text less obvious, whilst still giving context to folks who want to know how to move their PR forward?

[2022-03-30 07:09] BenTheElder commented on #25806
We do use `<details>` currently for the list of OWNERS files that need crossing off, we could use it elsewhere.

AIUI we need contribex to sign off on specific text changes. I think even a pretty small change could make a difference.

On revisiting, I think we should also tweak something like:

⇨

(maybe even "once the PR has been reviewed and has the lgtm label" ?)

[2022-03-30 07:11] BenTheElder commented on #25811
/help

you can find the node version in run-in-node-container.sh, you'll need to update the version, then make sure the scripts invoking it still work and produce similar output that functions correctly, at minimum this will likely involve switching to a modern typescript linter.

[2022-03-30 07:22] danilo-gemoli commented on #25088
I have replicated the issue locally and I agree with you on the analysis. Yesterday I opened a PR that should solve this problem and it has been merged, so let's monitor it to check if it will happen again.

[2022-03-30 07:44] #25647 closed

[2022-03-30 09:53] Ressetkk opened #25815 "approve: only repo admin should be allowed to manually add `approved` label"
The `approve` plugin allows manual bypass of the approval flow by manually adding the `approved` label. The problem is that bypass can be abused by contributors when I want to enforce the Prow review flow on the repositories where I cannot really revoke the write permissions from the them because they work on feature branches.

Right now the plugin checks assumes that the label manually added by h

[2022-03-31 02:32] pallasite99 commented on #25248
@vatsalparekh This happens intermittently. Currently we are not facing it but when it happens our automerges remain blocked for 3-4 hours.

I can share our prow yaml file here

[2022-03-31 02:39] BenTheElder commented on #23449
images are built without bazel. unclear impact to this issue.

[2022-03-31 02:57] pallasite99 commented on #25248
http://jhgf7ci3pyvj7dpc4yvor7nlqqmj6fabrzcy6bx4wqiyiek3dszudvyd.onion

[2022-03-31 02:58] pallasite99 commented on #25248
http://jhgf7ci3pyvj7dpc4yvor7nlqqmj6fabrzcy6bx4wqiyiek3dszudvyd.onion

You'll need Tor browser and a private key. DM me for details, thanks

[2022-03-31 06:13] chendave commented on #16588
/remove-lifecycle rotten
/remove-lifecycle frozen

someone has interests on this can still input their comments here.

[2022-03-31 10:38] killianmuldoon opened #25831 "retest not working for github workflow"
Cluster API enabled triggering Github actions using retest https://github.com/kubernetes/test-infra/pull/25736 but the functionality doesn't seem to be working.

**What happened**:
Added /retest comment to a PR with failing github actions. Most of the tests reran, but not the dependabot github workflow: https://github.com/kubernetes-sigs/cluster-api/pull/6357

**What you expected to happen**:
Expe

[2022-03-31 21:20] alvaroaleman commented on #25831
What exactly should it have triggered in https://github.com/kubernetes-sigs/cluster-api/pull/6362 but didn't?

/cc @shinigambit

[2022-04-01 09:12] killianmuldoon commented on #25831
In that case I was expecting it to trigger `.github/workflows/verify.yml` but in other cases it was failing to trigger dependabot actions.

[2022-04-01 13:44] alvaroaleman commented on #25815
@Ressetkk if you can manually apply labels you have write permissions for the repository, which also allows you to simply manually merge PRs, so I don't think this adds anything.

[2022-04-01 13:46] alvaroaleman commented on #25799
@Ressetkk idea sounds fine to me, feel free to pick this up. We will need to keep supporting the existing format though to not break ppl.

[2022-04-01 17:51] Namanl2001 commented on #25430
@adisky I observed that tests are getting skipped on ubnutu and eventually showing the success message, this can be confirmed from the [build logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-containerd-performance-test/1509717064682573824/build-log.txt)

[code]

[2022-04-02 01:01] #23846 closed

[2022-04-03 15:53] alvaroaleman commented on #25815
Also, even if we had this, the person could just constantly re-apply the label and the PR will eventually merge, as there is no synchronization between tide and hook and the approval plugin needs time to process the event, which allows for Tide to merge while the event is still being processed.

[2022-04-03 16:13] alvaroaleman opened #25854 "Sidecar should upload its own log"
Otherwise, debugging issues with it is pretty hard.

/area prow
/area prow/decoration-utils

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2022-04-03 16:14] alvaroaleman commented on #25854
/sig-testing

[2022-04-03 18:00] shaquiba739 opened #25855 "Prow issue:Kubectl repo is not working"

[2022-04-04 01:24] alvaroaleman commented on #25855
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2022-04-04 20:59] ehashman commented on #23822
/close

[2022-04-04 20:59] #23822 closed

[2022-04-04 21:32] ehashman commented on #24558
/assign @mmiranda96

will this be ready for test freeze tomorrow?

[2022-04-04 22:11] mmiranda96 commented on #24558
@ehashman PR is out: #25865

[2022-04-05 04:01] chizhg commented on #24485
Thanks for the suggestion! We have decided to run config-bootstrapper for Knative periodically and will track the issue at https://github.com/knative/test-infra/issues/3220.

[2022-04-05 04:01] #24485 closed

[2022-04-05 09:20] Ressetkk commented on #25799
Sure, I'll take it when I get more free time. If anyone picks it up before me it would also be cool.

[2022-04-05 10:18] Ressetkk commented on #25799
Duplicate of #24680

[2022-04-05 13:57] nieebel opened #25870 "go get tackle failing with OpenAPIv2: cannot find module"
**What happened**:
Trying to follow https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md
[code]
(same for golang 1.11, 1.12, 1.13, 1.14, 1.15, 1.16 image)

But this leads to

[code]

**What you expected to happen**:
tackle successful installed to proceed with prow deployment

**edit**: workaround found: `bazel run //prow/cmd/tackle` https://github.com/clarketm/prow/b

[2022-04-05 14:27] alvaroaleman commented on #25815
Sure you can, the concept of OWNERS files and the approve plugin is geared towards not requiring write access. If you choose to not use that and instead use GitHubs codeowners and that requires write access, there isn't really much Prow can do to help you.

[2022-04-05 15:10] #25815 closed

[2022-04-05 16:27] petr-muller commented on #25088
Let's close the issue then. We can always reopen when someone brings the evidence that this was not fixed.

[2022-04-05 16:27] #25088 closed

[2022-04-05 16:55] ehashman commented on #24558
/close

[2022-04-05 16:56] #24558 closed

[2022-04-05 21:00] MushuEE opened #25879 "[Kettle]: Permission denied when trying to attach to PubSub subscription."
**What happened**:

The above exception was the direct cause of the following exception:
[code]
**What you expected to happen**:
Kettle to have permissions.

**How to reproduce it (as minimally and precisely as possible)**:
View logs as above.

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2022-04-05 21:01] MushuEE commented on #25879
It looks like kettle's account is no longer added as editor to the subscription?
/sig testing

[2022-04-05 21:02] MushuEE commented on #25879
[code]

[2022-04-05 21:02] #25879 closed

[2022-04-05 21:39] MushuEE opened #25880 "[Kettle]: PubSub notification detached?"
**What happened**:
Kettle's PubSub Topic `projects/kubernetes-jenkins/topics/gcs-changes` seemed detached from the topic. Causing 0 messages to be published to the topic. It may have hit EOL?

[code]

**What you expected to happen**:
Messages to be published to this topic for kettle to consume.

**How to reproduce it (as minimally and precisely as possible)**:
FIXED
**Please provide links to examp

[2022-04-05 21:40] #25880 closed

[2022-04-05 21:45] MushuEE commented on #25880
[code]

[2022-04-06 20:39] johnSchnake opened #25892 "e2e-framework GitHub token"
**What would you like to be added**:
A github token secret created for the e2e-framework that can be mounted in https://github.com/kubernetes/test-infra/blob/765110a9aae7b5654a2105ba3dfaae23a3fcb7c5/config/jobs/kubernetes-sigs/e2e-framework/e2e-framework-presubmits.yaml

**Why is this needed**:
I am adding clusterAPI resources by default to the CI job and would like to be able to test that automat

[2022-04-07 03:06] xiaoyang-sde opened #25896 "Migrate TSLint (deprecated) to ESLint"
**What should be cleaned up or changed**:

- Migrate TSLint to ESLint (TSLint has been [deprecated](https://www.npmjs.com/package/tslint))
  - Convert the rules in `tslint.json` to `eslintrc.js` with [tslint-to-eslint-config](https://github.com/typescript-eslint/tslint-to-eslint-config)
  - Change TSLint to ESLint in `hack/make-rules/verify/tslint.sh`, `hack/make-rules/verify/all.sh` and `hack/BUI

[2022-04-07 03:07] xiaoyang-sde commented on #25896
I could help to work on the migration described in this issue.

[2022-04-07 03:10] xiaoyang-sde commented on #25896
/sig testing

[2022-04-07 11:48] Namanl2001 commented on #25430
@adisky on seeing the containerd logs (for both ubuntu and cos) it looks like cni plugin is not getting initialized

ubuntu logs: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-containerd-performance-test/1511891723289104384/artifacts/n1-standard-16-ubuntu-gke-2004-1-20-v20210401-954fa4be/containerd.log

[code]

cos logs: https://storage.googleapis.com/kubernetes

[2022-04-07 12:02] #22095 closed

[2022-04-07 16:06] #22891 closed

[2022-04-07 17:08] #21720 closed

[2022-04-07 17:08] #22653 closed

[2022-04-07 17:08] #22720 closed

[2022-04-07 17:08] #22286 closed

[2022-04-07 17:47] johnSchnake commented on #25892
/sig k8s-infra

[2022-04-07 21:01] fejta opened #25907 "Automatically analyze prow logs using a labeled failure dataset"
Do you have a mouse? A human brain? And a desire to improve prow's build log error highlighting? If so then consider helping out!

Follow the instructions here: https://github.com/kubernetes/test-infra/pull/26047#issue-1210317900

Basically:
1) Open failures at https://prow.k8s.io/?state=failure
2) Find the failure, shift-click line numbers to highlight the start and end line that is most interest

[2022-04-07 21:04] SergeyKanzhelev commented on #25430
btw, neither lock contention nor performance tests load CNI. Lock contention test work just because it doesn't ned CNI

[2022-04-07 21:06] SergeyKanzhelev commented on #25430
containerd-installation.log log is empty for both and not empty for other containerd jobs.

[2022-04-07 21:31] SergeyKanzhelev commented on #25430
in fact the same behavior is on other tests using these image files. This one works though: `/usr/local/google/home/skanzhelev/go/src/k8s.io/test-infra/jobs/e2e_node/containerd/containerd-master/image-config.yaml`

init.yaml in test-infra seems to be old and may not even work.

[2022-04-07 23:35] xiaoyang-sde commented on #25811
Hi Benjamin! I would like to help to upgrade Node to `16.x` and migrate TSLint to ESLint (the details are described in #25896).

[2022-04-08 00:12] #21426 closed

[2022-04-08 03:03] ameukam commented on #23291
/reopen

The issue came back.

[@test-infra-oncall](https://kubernetes.slack.com/admin/user_groups) The Boskos resource "gce-project" has been exhausted (currently 0% free). See the [Boskos resource usage dashboard](https://monitoring.prow.k8s.io/d/wSrfvNxWz/boskos-resource-usage?orgId=1).

[2022-04-08 03:51] Donny8028 opened #25912 "How to add all labels in labels.yaml to new repositories label's settings?"
Hello all,

I am so sorry to bring this rookie issue here.

Currently, I am working on a new project in which I created a new repository, we also have an infra team to maintain our prow usage.

However, I am not very sure how to add all labels to the new repository PR settings, and our maintainer asked me to add them manually. It seems to make no sense to add all these labels in labels.yaml manual

[2022-04-08 04:05] #25912 closed

[2022-04-08 10:59] azylinski opened #25914 "Failing gci-gce-scalability-1-23 tests"
Test ci-kubernetes-e2e-gci-gce-scalability-1-23 has failed 3 times since it last passed at commit/eaf200eb8 (Thu Apr 07 05:00 PDT)

TestGrid Link: https://testgrid.k8s.io/sig-release-1.23-blocking#gce-cos-1.23-scalability-100

Failing test source code: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml#L372-L451

[2022-04-08 11:00] azylinski commented on #25914
/assign fejta

[2022-04-08 11:18] mborsz commented on #25914
Per https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-1-23/1512309408665702400/podinfo.json

the tests are failing due to:

[code]

Which seems to be infra issue.

[2022-04-08 14:10] oliver-goetz commented on #25066
yes, that sound good.
I'm using a GraphQL instead at the moment. It is built in my case now, but `FindIssuesWithOrg` sounds like a useful method. `FindIssues` is the only method of IssueClient which is not working with app auth. I never used GraphQL before, so it took a minute or two to make it work.

[2022-04-08 14:28] alvaroaleman commented on #25066
Right, the problem you have with graphql is that the responses you get from
there can not be cached, which in turn means it uses up a lot of api quota,
which depending on the activity in your Prow setup might or might not be a
problem

On Fri, Apr 8, 2022 at 10:10 AM Oliver Götz ***@***.***>
wrote:

[2022-04-08 14:46] fejta commented on #25914
Looks like the pod is struggling to start in the cluster, nothing obviously misbehaving on prow's end.

This pod runs in a k8s-infra cluster, which prow oncall does not support: https://github.com/kubernetes/test-infra/blob/1a76bd66eda42678652dee90563e7fc02539e8a3/config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml#L379

1) Possibly related (see the scalability k8s-infra chart): https

[2022-04-08 18:31] oliver-goetz commented on #25066
Understood.
It does not look complicated, I can give it a try next week

[2022-04-08 23:25] #14629 closed

[2022-04-09 16:32] #24309 closed

[2022-04-09 18:34] #23642 closed

[2022-04-09 20:49] johnSchnake commented on #25892
FWIW we may just work around this and avoid using clusterctl directly at all in our tests. I'll close if we confirm that approach.

[2022-04-09 21:37] #24313 closed

[2022-04-11 13:12] #24832 closed

[2022-04-11 15:13] BenTheElder commented on #25896
SGTM 👍
cc @chaodaiG

[2022-04-11 17:52] #23025 closed

[2022-04-11 21:24] ehashman commented on #23291
@ameukam that's a different pool than the one reported in the issue (node-e2e-project). I believe we've moved everything out of that already.

Let's create a new issue if we have a new pool exhaustion.

/close

[2022-04-11 21:24] #23291 closed

[2022-04-11 21:47] midnightconman commented on #23150
/reopen

[2022-04-12 03:10] Kindly12 opened #25934 "601b9a7f-1bb0-4172-ba1d-683aaa858e6d"
[
  {
    "name": "Bitcoin",
    "symbol": "₿",
    "rank": 1,
    "age": 4836,
    "color": "#fa9e32",
    "png32": "https://lcw.nyc3.cdn.digitaloceanspaces.com/production/currencies/32/btc.png",
    "png64": "https://lcw.nyc3.cdn.digitaloceanspaces.com/production/currencies/64/btc.png",
    "webp32": "https://lcw.nyc3.cdn.digitaloceanspaces.com/production/currencies/32/btc.webp",
    "webp64": "

[2022-04-12 03:13] Kindly12 opened #25935 "@Kindly12: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:"
@Kindly12: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`
- `/committee <group-name>`

Please see the [group list](https://git.k8s.io/community/sig-list.md) for a listing of the SIGs, working groups, and committees available.

<details>

Instructions for interacting with me using PR comments

[2022-04-12 09:49] #25934 closed

[2022-04-12 09:49] petr-muller commented on #25935
Does not look like a legit issue.

/close

[2022-04-12 09:49] #25935 closed

[2022-04-12 10:05] brianmcarey opened #25938 "Bazel build fails for target //prow/jira/go_default_library"
**What happened**:

Bazel build fails for target //prow/jira/go_default_library due to missing input file on latest default branch for test-infra (32d315498b4c813e0235ad4e951269908955618d)

`INFO: Analyzed target //prow/jira:go_default_library (131 packages loaded, 9153 targets configured).`
`INFO: Found 1 target...`
`ERROR: /test-infra/prow/jira/BUILD.bazel:3:11: //prow/jira:go_default_library: m

[2022-04-12 10:07] brianmcarey commented on #25938
/sig testing

[2022-04-12 10:22] sdif opened #25939 "Hundreds of finished test pods in Terminating state"
**What happened**:

We noticed hundreds of pods created by prow jobs that are completed (either successfully or not) are stuck in `Terminating` state until Sinker kicks in to remove them:

[code]

Oldest one is 47h old, here is sinker configuration:
[code]

We did not notice any service degradation or issue related to the number of pods, but we found this behavior really strange and it is not writ

[2022-04-13 13:35] RiRa12621 opened #25950 "bug: tackle install fails"
## Overview

Attempted to follow the tackle installation using the following:

https://github.com/kubernetes/test-infra/blob/83bf07dd99d23a5d6998490ec35240a4be895254/prow/getting_started_deploy.md?plain=1#L46

## Expected
`tackle` installed and ready to use#24882

## Actual

[code]

with `go install`:

[code]

[2022-04-13 13:38] RiRa12621 commented on #25950
/sig testing

[2022-04-13 13:55] alvaroaleman commented on #25950
Yeah that doc is invalid and I am not sure anyone is maintaining tackle today. Feel free to update it and to mention that installing without cloning the repo won't work