[2018-02-21 22:40] #6624 closed

[2018-02-21 23:05] rmmh commented on #6909
File upstream with https://github.com/GoogleCloudPlatform/google-cloud-go ?

[2018-02-21 23:14] thockin commented on #5128
ping on this?

[2018-02-22 00:05] cjwagner commented on #5128
I'm not sure that bringing back the comment is a good idea.
Creating and immediately deleting GH comments for the purpose of generating an email that is solely used for email filtering seems like a bad pattern. The emails are just spam for anyone who isn't using them to auto-label email threads which I would assume is the majority of developers.
As @kargakis mentioned, we don't follow this pattern

[2018-02-22 06:16] BenTheElder commented on #6808
Testing [a new test-infra PR](https://github.com/kubernetes/test-infra/pull/6932) appears to have 3468 action cache hits, 7 action cache misses, and 1920 CAS hits (!)

[2018-02-22 17:43] BenTheElder opened #6939 "Prow needs a way to force CLA rechecking"
If Prow misses the CNCF CLA status update we can only manually approve PRs. Instead we should have some `/check-cla` to force checking the statuses for the CLA.

/area Prow
/kind bug

[2018-02-22 17:43] BenTheElder commented on #6939
/assign
See:https://github.com/kubernetes/kubernetes/pull/60131

[2018-02-22 17:46] BenTheElder commented on #6939
cc @cjwagner @kargakis

[2018-02-22 18:59] BenTheElder commented on #5334
FWIW I'm not a fan of anything merging into kubernetes at least without presubmits, how do we guarantee the change doesn't break the repo? I think we can *partially* solve this by making batching better in tide.

Manual merging without the submit queue can be done by ...manually merging...?

[2018-02-22 19:12] stevekuznetsov commented on #5334
Yeah there's some disconnect with the "stigma" of pushing the button and anecdotally people use the `retest-not-required` label to get away from that. Agreed that efficient batching would effectively solve this as well as the real pain point is the time taken to merge.

[2018-02-22 20:00] ixdy opened #6944 "migrate from kube-lego to cert-manager"
kube-lego is now in maintenance mode, and it might stop working at some point in the future (per [this notice](https://github.com/jetstack/kube-lego)).

We should move to cert-manager. There's a [migration guide](https://github.com/jetstack/cert-manager/blob/master/docs/user-guides/migrating-from-kube-lego.md) available.

Fixing the SQ is probably not worth our time, but prow definitely needs to s

[2018-02-22 20:01] ixdy commented on #2529
and now kube-lego is deprecated. :(
https://github.com/kubernetes/test-infra/issues/6944

[2018-02-22 20:04] BenTheElder commented on #6944
FWIW kube-lego *works* just fine for now, and is easier to work with :(
- debug via pod logs (which are also stored in stackdriver...) not the event api
- easily deployable without helm etc, can trivially check in our exact deployment
- automatic ingress certs via one annotation on the ingress + auto generated secrets, not CRDs, shims, etc.
...

[2018-02-22 20:47] BenTheElder opened #6949 "deck should have a scrolltop button or floating filtering"
Personally I'd perfer a scroll-to-top button as something like https://material.io/icons/#ic_arrow_upward on a circle floating in the bottom right or similar, but we should consider having *some* way to get back to the job filtering options that is more convenient than scrolling by hand :upside_down_face:

/area prow
/kind feature

[2018-02-22 20:47] BenTheElder commented on #6949
/cc @qhuynh96 @stevekuznetsov @kargakis

[2018-02-22 21:29] colemickens commented on #2529
Looks like `kube-lego` [is already being used](https://github.com/kubernetes/test-infra/pull/2535). The switch to `cert-manager` is pretty straightforward. I'm getting `prow` setup again for my personal cluster/projects, I'll see how hard it would be to switch instructions/code to use `cert-manager` instead of `kube-lego`.

[2018-02-22 21:30] ixdy commented on #6944
@colemickens is going to check out cert-manager, per https://github.com/kubernetes/test-infra/issues/2529#issuecomment-367828232

[2018-02-22 21:36] BenTheElder commented on #2529
Yes we're using kube-lego pretty much everywhere, I'm in particular
concerned though that this seems to require helm to deploy which requires
you put tiller in your cluster *which itself* is by default insecure unless
you get TLS certs.... [1]

[1] https://docs.helm.sh/using_helm/#initialize-helm-and-install-tiller

On Thu, Feb 22, 2018 at 1:29 PM, Cole Mickens <notifications@github.com>
wrote:

[2018-02-22 21:37] BenTheElder commented on #2529
@munnerz what is the correct secure bootstrapping workflow here?

[2018-02-23 00:14] stevekuznetsov opened #6958 "prow: user-dashboard: don't show PRs to repos with unknown merge requirements"
For any of us with PRs to orgs and repos that either do not use Prow or do not use the Prow instance that is serving the user dashboard, the majority of the dashboard ends up being PRs with no data that do nothing. We should just hide these.

/area prow
/kind enhancement
/assign @qhuynh96

[2018-02-23 00:16] BenTheElder commented on #6958
we should allow scoping to orgs or something, maybe black listing repos, but I don't think we should not show *all* PRs without data.

[2018-02-23 00:17] BenTheElder commented on #6958
test data could be loaded from querying github statuses in a future improvement

[2018-02-23 00:38] qhuynh96 commented on #6958
we can have a config file that listing repos that we care about, the server should read that and query those repos only. How does it sound?

[2018-02-23 00:39] BenTheElder commented on #6958
this should probably be derived from prow's config

[2018-02-23 00:44] stevekuznetsov commented on #6958
What's the use of showing PRs for which `tide` isn't running? Are we going to be able to show any meaningful information when we have no reference to calculate missing & required labels and no record of the presubmits that matter?

[2018-02-23 00:47] BenTheElder commented on #6958
repos can have prow without tide, we have this right now.

we can't show the tide part, but we can still show the rest of the state of the PR consistently (presubmits? labels?), and for our use case (repos in kubernetes/) if they aren't using tide we should probably nudge them that way. It's also possible that we failed to load the data properly.

That way we have an alternate to github.com/pulls

[2018-02-23 00:49] BenTheElder commented on #6958
I think it's reasonable to restrict it to repos for which prow is configured but these are a superset of tide enabled repos. We can derive the set of repos from prow config and serve this from deck.

[2018-02-23 00:51] cjwagner commented on #5156
/remove-lifecycle rotten
/help

[2018-02-23 10:57] kargakis commented on #6852
You would have to sync with @kubernetes/sig-api-machinery-misc on whether this is a sane thing to do. In the meantime, I would prefer to see us extending status via annotations (status updates that include annotations updates are acceptable; see https://github.com/kubernetes/kubernetes/issues/20978).

[2018-02-23 15:13] kargakis commented on #6908
How can it infer the right milestone?

[2018-02-23 15:56] stevekuznetsov commented on #6908
We could make it best-effort for things like `release-1.x`?

[2018-02-23 15:58] stevekuznetsov commented on #6852
I talked with David, his thoughts were, as I remember them:

 - don't have one CRD for many controllers
 - embed the `Spec` field into many CRDs for many controllers
 - `RawExtension` is less preferrable to just having top-level fields that are empty
 - data in annotations is not type-safe and should be an absolute last resort

If we have to parse out data/json from annotations we're in a worse sp

[2018-02-23 16:03] stevekuznetsov commented on #6958
ACK to repos that are configured -- no `tide` but with presbumits that seems OK. For PRs to repos with neither the boxes are ... a little on the useless side of things :)

[2018-02-23 16:47] stevekuznetsov commented on #6737
Could be nice as a dashboard in Velodrome too

[2018-02-23 16:48] kargakis commented on #6852
I don't think we will need to put JSON in an annotation. This definitely depends on the target agent API but at least in the case of Jenkins, all we need is an extra string. Do we expect something different in the case of CircleCI? If we can get away with a couple of annotations, it is going to be much simpler than requiring separate CRDs per agent or doing raw extensions.

Also, on the separate C

[2018-02-23 17:18] BenTheElder commented on #6906
Closed in #6907
/close

[2018-02-23 17:18] #6906 closed

[2018-02-23 17:22] BenTheElder commented on #6958
Yeah. I think we should look at pulling the presubmit status from GitHub, prow doesn't keep jobs forever so I'm also seeing "no tests found" for kubernetes/kubernetes PRs (old dummy / testing PRs...) that definitely have loads of presubmits..

[2018-02-23 17:27] stevekuznetsov commented on #6852
Agreed -- the simplest solution by far is still to have one `Status` object with disjoint sets of fields and clients that know which fields to look at. Still messy and seems to break some of the core assumptions about `Spec/Status` and controller ownership in core k8s and behind k8s-style APIs.

[2018-02-23 18:45] grodrigues3 commented on #5344
/unassign @dankohn

[2018-02-23 20:35] harsh-px opened #6977 "pull-kubernetes-e2e-kops-aws is consistently failing for issues not related to the PR"
My PR https://github.com/kubernetes/kubernetes/pull/59703 is blocked as the `pull-kubernetes-e2e-kops-aws` test is consistently failing. The same test passed on the same code previously.

Looking at the errors (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/59703/pull-kubernetes-e2e-kops-aws/76417/) this is an automation issue.

[2018-02-23 20:46] leblancd opened #6978 "ci-kubernetes-e2e-kubeadm-gce is pulling ci/latest not prior job build results"
The ci-kubernetes-e2e-kubeadm-gce test jobs are consistently failing. If you look at test results and logs for a given failing test job, and then compare it to the corresponding prior (prerequisite) bazel build job, you can see that the build job is pushing the build artifacts in the proper gs://kubernetes-release/bazel/... storage bucket, but the test job is extracting (or attempting to extract)

[2018-02-23 20:56] BenTheElder commented on #6978
/assign
The solution to this is not particularly generic, bazel push-build doesn't push the same way as release builds currently, however since this job is chained IIRC we can get it to use the special "shared build" logic which looks up the build location.
cc @ixdy

[2018-02-23 21:12] leblancd commented on #6978
@BenTheElder - I proposed a simple change to what's there now... which doesn't use the "shared build". Is this worth trying, or do we need the shared build approach?

[2018-02-23 21:25] leblancd commented on #6978
@BenTheElder - On the other hand, it looks like I'll have to add a gratuitous extract of latest/ci. My PR diffs are showing this error for pull-test-infra-bazel ("--extract" or "--use-shared-build" is required):
[code]

[2018-02-23 21:31] BenTheElder commented on #6978
I'll take a closer look soon. The presubmit here assumes these are the only
ways to get a build. --shared-build is the flag implemented for presubmits
(and isn't actually used much at the moment). I don't remember the exact
behavior off the top of my head.

On Fri, Feb 23, 2018, 13:25 Dane LeBlanc <notifications@github.com> wrote:

[2018-02-23 22:36] BenTheElder commented on #6978
OK so this job is `run_after_success` on `ci-kubernetes-bazel-build` which should publish a pointer consumable by `--shared-build` on the e2e job, we probably *do* want to use that.

[2018-02-23 22:36] BenTheElder commented on #6978
Apologies, juggling perhaps a bit many things today :-)

[2018-02-23 22:46] #6826 closed

[2018-02-23 23:37] grodrigues3 commented on #5344
/assign

[2018-02-23 23:43] leblancd commented on #6978
@BenTheElder - The good news with what you're suggesting, I think, is that if we switch the **ci**-kubernetes-e2e-kubeadm-gce to use --shared-build, it will then run almost identically to the way that **pull**-kubernetes-e2e-kubeadm-gce. So this may eliminate some conditionals in scenarios/kubernetes_e2e.py, and maybe there's a good chance the changes to the "ci" tests might work, since we have a

[2018-02-23 23:46] BenTheElder commented on #6978
pointed out elsewhere but, https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce seems to be green now?

FWIW shared builds in the PR job is not a great model right now, since often the build job finishes but the refs have changed since then so the build is now stale by the time the e2e triggers. We're probably moving away from it towards #6808 for presubmits.

[2018-02-23 23:58] leblancd commented on #6978
@BenTheElder - The tests are still failing intermittently, and if you look at some of the most recent failures, e.g.:
 https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/9620/
you can see that the "Version" listed is different than the "job-version". And in the build log for that failing test case, there are still mismatching versions:
[code]
So maybe, i

[2018-02-24 04:13] krzyzacy opened #6986 "gubernator does not use right credential when doing urlfetch"
urlfetch does not take in activated credentials?! I'll look more into it
/assign
/assign @rmmh

[code]
while
[code]

[2018-02-24 04:53] krzyzacy commented on #6986
https://cloud.google.com/storage/docs/authentication#libauth

we probably should use storage client library instead?

[2018-02-24 17:29] heckj opened #6988 "PR Dashboard: duplicate entries for website & kubernetes.github.io"
I presume its from when we renamed the repository a few month back - kubernetes.github.io was the original name, website the current repo. Not everything is duplicated, just some

[2018-02-24 18:56] leblancd commented on #6978
Hi @BenTheElder : Looks like the shared build approach won't work in this case.

The ci-kubernetes-bazel-build test job that is run before ci-kubernetes-e2e-kubeadm-gce is configured as a periodic test:
[code]
Because it's run as a periodic, Prow will not set the $PULL_REFS environment variable see [Job Environmental Variables doc](https://github.com/kubernetes/test-infra/tree/master/prow#job-envi

[2018-02-24 19:39] BenTheElder commented on #6978
Hi @leblancd, I added a `TODO` to stop running these as `run_after_success` so we can de-couple the scheduling yesterday. I'm going to look into options including just having kubeadm perform a build itself or better yet fixing https://github.com/kubernetes/test-infra/issues/5905. I think the latter will work well, we use this pattern with other e2es consuming the non-bazel build.

[2018-02-24 19:46] BenTheElder commented on #6808
I've now turned this on for the kubernetes CI [bazel-build](https://k8s-testgrid.appspot.com/sig-release-master-blocking#bazel-build&graph-metrics=test-duration-minutes&width=5) and [bazel-test](https://k8s-testgrid.appspot.com/sig-release-master-blocking#bazel-test&graph-metrics=test-duration-minutes&width=5) jobs with great results*
<img width="1790" alt="screen shot 2018-02-24 at 11 30 28 am" s

[2018-02-24 20:29] #6829 closed

[2018-02-24 21:38] leblancd commented on #6978
@BenTheElder - Yeah, the #5905 approach makes sense for overall efficiency, and it would eliminate the confusion between last build vs. ci/latest versions.

[2018-02-25 13:16] shyamjvs commented on #5677
/remove-lifecycle stale

On Sun, Feb 25, 2018, 1:30 PM fejta-bot <notifications@github.com> wrote:

[2018-02-25 15:24] leblancd commented on #6978
@BenTheElder - Is there an approximate timeline for #5905? If that looks like it will happen soon, maybe we can hold off on this proposal and close this issue when #5905 is implemented?

[2018-02-26 03:26] verult opened #6992 "kubetest -v flag is not recognized correctly"
Setting `-v` no longer produces test logs. My e2e tests simply run to completion with no messages, or fail with just an error status and no other information.

Related to PR https://github.com/kubernetes/test-infra/pull/6966, `verbose` is not set correctly here:
https://github.com/kubernetes/test-infra/blob/a531c206da9247a6fa805bf5f238cd8617f1e8b6/kubetest/process/process.go#L50-L60

/area kubetes

[2018-02-26 03:27] verult commented on #6992
After this is fixed, is there a way for me to force a kubetest update through hack/e2e.go?

[2018-02-26 06:16] krzyzacy commented on #6992
@verult e2e.go always picks up latest kubetest - you can even make a local fix temporarily. we'll patch it up tomorrow.

[2018-02-26 10:49] kargakis commented on #6852
That's why I prefer annotations over disjoint fields. It's a cleaner solution and it promotes a pattern for building controllers out of tree, even though I think it's nice to keep all implementations in test-infra for discoverability. We rarely break fields and I am not worried about compatibility with annotations. That being said, I am not crazy about it, the current approach works.

[2018-02-26 12:18] kargakis opened #6996 "Cleanup fallback to BUILD_ID"
Regressed in https://github.com/kubernetes/test-infra/pull/6853

Basically, before https://github.com/kubernetes/test-infra/pull/6853 the controller used to set the name of the prowjob as the BUILD_ID parameter in every build and then it could use this relationship to do [map lookups](https://github.com/kubernetes/test-infra/blob/f260c9529346f0600f6ec4125710ec67c55a0776/prow/jenkins/controller.go#

[2018-02-26 12:27] kargakis commented on #6996
I think for discovery the best option is that we still use the prowjob name since it's stable (aka already in etcd) and known at the time we request a build in Jenkins whereas whatever we get from snowflake/tot is only known but not stable (we need to persist it on the prowjob first).

[2018-02-26 12:35] kargakis commented on #6996
Hrm, this may also be an issue with our jobs lacking `PROW_JOB_ID`.

[2018-02-26 13:30] kargakis commented on #6996
Yeap, it was `PROW_JOB_ID` missing from our jobs. There is still some cleanup that needs to happen here.

/assign

[2018-02-26 13:45] hoegaarden commented on #5156
/assign @nodo @hoegaarden

[2018-02-26 16:24] stevekuznetsov commented on #6852
Yeah, just feels bad to stringly type by indexing into an annotations map.

[2018-02-26 16:27] stevekuznetsov commented on #6996
What is left here? The fallback should have just been the more specific `PROW_JOB_ID`

[2018-02-26 18:19] stevekuznetsov commented on #6996
That is _only_ true if we assume that `$PROW_JOB_ID` not being present is from something other an an older version of the `jenkins-operator`. If we infer that `$PROW_JOB_ID` being missing is due to an older `jenkins-operator`, using `$BUILD_ID` as the fallback is correct as that is the var that held the info in the past.

[2018-02-26 19:17] BenTheElder commented on #6978
O(soon), I want to see this fixed [I use kubeadm myself on the weekends so :-)] and I hope it's actually not too much work to go that route...

[2018-02-26 19:53] BenTheElder opened #7001 "rename pull-kubernetes-unit to pull-kubernetes-integration"
This is an endless source of confusion. We haven't been running unit tests in this job for a long time and isntead run very flaky "integration" tests. [Note that this is controlled by scripts in kubernetes/kubernetes, not test-infra though]. Unit tests run in `pull-kubernetes-bazel-test`.

/assign

[2018-02-26 22:04] ixdy commented on #5681
is this still happening?

[2018-02-26 23:30] #6573 closed

[2018-02-27 00:45] #6992 closed

[2018-02-27 00:50] oomichi commented on #6904
@stevekuznetsov
Thanks for your comment, I got it.
I think we will want to measure API coverage from different viewpoints more, so these metrics will be helpful for us.

[2018-02-27 00:53] oomichi opened #7012 "apicoverage: Add outputting feature which APIs are covered"
As the sig-testing discussion [1], it is important to know which APIs are covered on tests.
So it is good to have some option to output covered APIs on apicoverage tool.

[1]: https://groups.google.com/forum/#!topic/kubernetes-sig-testing/BplLMsNwyhU

[2018-02-27 01:23] BenTheElder commented on #6808
https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&graph-metrics=test-duration-minutes

As expected instead of ~25+ minutes we're seeing ~5-6 minutes for `pull-kubernetes-bazel-test` after switching this on today.

[2018-02-27 01:46] #7012 closed

[2018-02-27 01:52] ixdy opened #7016 "prow: deck should localize times"
I don't enjoy converting UTC to PST in my head. Prow should do that for me.

(Gubernator does this with some javascript, added in #238.)

/area prow
/assign @qhuynh96

[2018-02-27 01:52] ixdy commented on #7016
/kind feature

[2018-02-27 01:54] BenTheElder commented on #7016
as mentioned offline: please please include timezeone somewhere on the page for clarity
/cc

[2018-02-27 04:14] krzyzacy commented on #5708
/remove-lifecycle stale

[2018-02-27 06:50] BenTheElder opened #7023 "create_bazel_cache_rcs.sh get_workspace is useless for periodics"
[code]

Er well that's not very helpful.
[code]
Prow doesn't set `$REPO_NAME` / `$REPO_OWNER` for periodics, there's no built in way to detect the repo and it's not possible to know this until we've finished the checkout etc. we can either:
- set REPO_NAME and REPO_OWNER on the repos ourselves (and make sure anyone else using the cache does this ...
- add some hooks to bootstrap to run pre-job scr

[2018-02-27 09:37] kargakis commented on #6996
Yeah, it makes sense for running jobs during the upgrade. I guess we can keep it until we migrate.

[2018-02-27 16:31] shyamjvs commented on #4445
@cjwagner @BenTheElder Your above concerns sound quite reasonable to me. So to begin with, I'm fine with adding the job in the regular way (i.e run twice on PRs before merge). I checked that most of our [blocking presubmit e2e jobs](https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kops-aws) (i.e node-e2e, kubemark-e2e, kops-aws-e2e) are running with a max_concurr

[2018-02-27 16:48] mithrav commented on #5231
/remove-lifecycle stale

[2018-02-27 16:50] mithrav commented on #6737
+1 for Velodrome, it will be great if we can publish coverage #s by Sig/API.

[2018-02-27 17:07] justaugustus commented on #1828
/lifecycle frozen

[2018-02-27 17:09] justaugustus commented on #1828
/remove-lifecycle rotten

[2018-02-27 17:12] stevekuznetsov commented on #1828
Realistically if `kubernetes` org can move to using the cherry-picker robot it's easier to implement this by looking at the author of the PRs

[2018-02-27 17:25] #6880 closed

[2018-02-27 17:31] #6996 closed

[2018-02-27 18:54] krzyzacy commented on #6986
still need to do client side for expanding logs, etc

[2018-02-27 19:11] spiffxp commented on #6903
What I got out of discussing in person with @bacongobbler was:
- we're fine leaving things as they are
- but please please please have a process that includes consent for rolling things out in the future
- especially in cases where automation acts preemptively rather than in response to user action

What do folks think about the general policy?
- proposals floated through sig-testing and sig-contr

[2018-02-27 19:22] BenTheElder commented on #4445
Yes, though I want to add that there's now in theory some process around making jobs blocking so we should start non-blocking and try to push it down under an hour as much as possible. cc @spiffxp

FWIW I'm currently #6865 working on making presubmits faster so I'll probably be unrestricting the concurrency of those jobs a bit someday soon.
I think we can keep build under 10min, unit test under 6-

[2018-02-27 19:27] colemickens commented on #6944
Not a lot to report. `cert-manager` can be deployed with `ingress-shim` that causes it to act like `kube-lego`, in terms of automatic LE setup for Ingress objects.

How was the `marque` -> `kube-lego` transition? Was it done to reduce the code you were maintaining? More resilient?

As someone who originally wanted to switch from `marque` to `kube-lego`, I am of the opinion that there is a place fo

[2018-02-27 19:28] bacongobbler commented on #6903
I fully agree with the summary. :) However,

Yes for consent, but I want to express that I'm not asking for *explicit* sign-off from every org member. Just a contributor experience's roadshow would be more than enough. A "Hey! We're interested in rolling X out across the org. Here's why" with a short question period before the rollout would be +:100:. :)

[2018-02-27 19:30] shyamjvs commented on #4445
Thanks.. I'll begin by making it non-optional, but non-blocking. Let's take further steps (reducing time, dealing with concurrency) as needed.

Btw the rationale why it is very important to run the job (backed with some past data) is explained here - https://github.com/kubernetes/community/blob/master/sig-scalability/processes/formal-scalability-processes.md#implementation--pre-submit-phase

[2018-02-27 19:38] #7016 closed

[2018-02-27 20:27] cjwagner opened #7032 "GCS upload path inconsistencies."
The GCS paths linked to by Prow are not consistent with the actual upload paths used by bootstrap for postsubmit jobs in repos other than k/k. Specifically, it seems that Prow includes the repo name in the path while bootstrap does not. For example:

actual upload path:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-test-infra-bazel/64888/build-log.txt
expected gubernator link:
https://

[2018-02-27 20:34] BenTheElder commented on #7032
/assign
/area prow
/area bootstrap
/kind bug

[2018-02-27 20:47] stevekuznetsov commented on #7032
IIRC the rules are set up this way for `kubernetes` repository:

 - If the job is for `kubernetes/kubernetes`, use `build/<job_name>/<job_number>`
 - If the job is for some other repo under the `kubernetes` org, use `build/<repo_name>/<job_name>/<job_number>`
 - If the job is not under the `kubernetes` org, use `build/<org_name>_<repo_name>/<job_name>/<job_number>`

So the provided link in Prow is

[2018-02-27 20:49] justaugustus commented on #1612
this would be really cool to see!
/remove-lifecycle rotten

[2018-02-27 20:55] BenTheElder commented on #1612
Gubernator can sort by any of the columns now if you click the column headers

[2018-02-27 20:58] justaugustus commented on #3083
/remove-lifecycle stale

[2018-02-27 20:59] stevekuznetsov commented on #7032
Also if I may .... there are a large number of other places where it is assumed that jobs will have globally unique names, so it's also totally unclear to me why we even have this structure as it adds basically useless namespacing.

[2018-02-27 21:02] justaugustus commented on #1795
/remove-lifecycle stale

[2018-02-27 21:06] justaugustus commented on #1612
@BenTheElder cool beans!
In that case, can you or @lavalamp hit this with a `/close`?

[2018-02-27 21:08] stevekuznetsov opened #7035 "prow: user dashboard: when no PRs are open, message is not very pretty"
![no-prs](https://user-images.githubusercontent.com/7328370/36754889-32de1254-1bbf-11e8-9a36-b5c1f44b926e.png)

The rest of the dashboard is really pretty, this part is not :)

/kind bug
/area prow
/p0
/cc @BenTheElder
/assign @qhuynh96

[2018-02-27 21:19] stevekuznetsov commented on #1612
/close

[2018-02-27 21:19] #1612 closed

[2018-02-27 21:19] stevekuznetsov commented on #1795
Should be much much easier with the cherry-picker robot

[2018-02-27 21:35] oomichi commented on #6737
According to the page[1], """Velodrome is the dashboard, monitoring and metrics for Kubernetes Developer Productivity""
That seems perfect to fit this feature, thanks for your advice!

[1]: https://github.com/kubernetes/test-infra/tree/master/velodrome

[2018-02-27 21:43] qhuynh96 commented on #7035
:rotating_light:

[2018-02-27 21:47] BenTheElder commented on #7032
We have this structure because we have this structure :grimacing: /s

Postsubmits should upload to a path with the repo name it it for now to be consistent, I'm not sure why they aren't right now.

[2018-02-27 21:55] rmmh commented on #7032
We have this structure because (at the time, and still?) jobs didn't embed their repo names in started or finished.json, so we couldn't link to PRs or commits properly.

[2018-02-27 22:00] BenTheElder commented on #7035
that is not ideal. let's do something larger and centered with a little padding.
/priority important-soon

[2018-02-27 22:10] stevekuznetsov commented on #7032
Yeah at this point we should move to publishing `$JOB_SPEC` JSON to the GCS bucket so we have the information we need.

[2018-02-27 22:25] stevekuznetsov opened #7036 "prow: clonerefs: error when a repo is passed as a flag and also in $JOB_SPEC"
It's not appropriate to sync a repo using the configuration in `$JOB_SPEC` from Prow and `--repo` from a user.

/assign
/area prow
/kind bug

[2018-02-27 23:23] spiffxp commented on #5316
ping on where we're at with this, since it came up during today's sig-testing meeting

[2018-02-27 23:31] krzyzacy commented on #5316
release-branch jobs are mostly following the convention now, plan to finalize it after https://github.com/kubernetes/test-infra/pull/6834 gets in

[2018-02-27 23:33] #7035 closed

[2018-02-28 01:30] rmmh opened #7046 "Gubernator PR Dashboard sync should be easier"
Devs should have an easier time downloading the production databases' GHIssueDigest for local development. The current pipeline is confusing and error prone.

[2018-02-28 04:28] BenTheElder commented on #7023
Temporary workaround should be in effect for CI jobs by just setting those env, longer term involves finally writing a new more minimal bazel scenario (already mostly ready, using it for test-infra)

[2018-02-28 04:51] BenTheElder opened #7049 "prow config presubmit should validate volumes/mounts"
somehow *someone's* (ok mine) PR got through with an invalid prow config (it has a `volumeMount` referencing a volume that isn't there), our config tests should catch this.

As a result `pull-test-infra-bazel` cannot run right now. I'm putting out a patch to catch this sort of thing and to fix the test
/kind bug
/priority critical-urgent
/assign

[2018-02-28 05:26] BenTheElder commented on #7049
not surprisingly we haven't been catching these and there are some other broken jobs :/

[2018-02-28 06:09] #7049 closed

[2018-02-28 12:33] hoegaarden commented on #6670
/assign

[2018-02-28 17:35] kargakis opened #7056 "RFE: tot fallbacks to directories specific to the prowjob type"
IIUC and based on the [GCS layout](https://github.com/kubernetes/test-infra/tree/master/gubernator#gcs-bucket-layout), tot uses a bucket for [postsubmits](https://github.com/kubernetes/test-infra/blob/80fd41d2feee8a8554db9a6d012e22f9cf5ac04a/prow/cmd/tot/main.go#L53) to fallback for every job. Things re `latest-build.txt` get more confusing because I find it in various places eg. [inside a PR buck

[2018-02-28 17:46] stevekuznetsov commented on #7056
Is there any other use for `latest-build.txt`? If not, I'm not entirely convinced we need it. Uploading it is inherently racy, and when `tot` determines that it needs to do a fallback it can just query GCS for the job directories that already exist to determine what the latest pushed build was, no?

[2018-02-28 17:48] stevekuznetsov commented on #7056
Alternatively, before we move forward on this ... since the GCS layout of all things in the system seems to be the most ad hoc / "it is because it is" ... we should sit down, determine what our needs are for a storage solution and make a design document that cleanly and concisely exposes that. GCS right now is a huge headache.

[2018-02-28 17:56] kargakis commented on #7056
Yeah, sounds more robust. I would expect it to be something that the GCS api provides but I need to look.

[2018-02-28 18:47] BenTheElder commented on #7056
gubernator uses latest-build IIRC

[2018-02-28 19:26] rmmh commented on #7056
The simplest _direct_ thing here would be to add another flag for where to fallback for presubmit jobs, identified by some prefix (`pull-`):

- If a job number request comes in and tot doesn't know about the job, fetch the last build:
    - If the job name starts with "pull-": https://storage.googleapis.com/kubernetes-jenkins/pr-logs/directory/$JOB/latest-build.txt
    - Otherwise: https://storage

[2018-02-28 20:08] kargakis commented on #7056
The prefix would need to be configurable and at that point I think it's better to just use the prow config in order to figure out whether the requested job is a presubmit or not.

[2018-02-28 20:11] kargakis commented on #7056
initupload already creates paths based on the prowjob type and I expect tot to use the same logic so while I agree with you, let's tackle this in a separate issue/discussion as it sounds non-blocking for fixing tot.

[2018-02-28 20:14] kargakis commented on #7056
Also, prow doesn't invalidate presubmits that start with different prefixes today so it's technically an ok thing to do.

[2018-02-28 21:26] grodrigues3 commented on #3271
Do we have something actionable for this?  Since we can't include email address's, I think slack/gh handle is the only solution we have.  Closing for now.

/close

reopen if there is a clear path forward in addressing this.

[2018-02-28 21:39] #6958 closed

[2018-02-28 23:00] BenTheElder commented on #7001
done in https://github.com/kubernetes/test-infra/pull/7057
/close

[2018-02-28 23:00] #7001 closed

[2018-02-28 23:01] BenTheElder commented on #6702
this is *mostly* done [master/1.10 branches], I think maybe we can just leave older branches as is since they also won't have the caching and retire this image once those branches are done.

[2018-02-28 23:44] #3795 closed

[2018-02-28 23:51] BenTheElder commented on #6865
`pull-test-infra-bazel` and `pull-kubernetes-bazel-test` should be much faster now (due to remote caching), I'm also starting to soak @rmmh's awesome typechecker https://github.com/kubernetes/test-infra/pull/7059 which should let us slash the "fail fast when code won't build" time.

[2018-03-01 00:35] mithrav commented on #6903
Agree with the points both of you are making. Let's make it a policy to float suggestions to the Sig before making changes and use lazy consensus with a week's delay unless otherwise specified.
Should we document a how this Sig works document for posterity?

[2018-03-01 01:33] krzyzacy opened #7063 "gubernator client cannot expand private logs"
@BenTheElder mentioned this probably should not be done on the client side

idea would be have an endpoint in gubernator and js will proxy through that endpoint to get file from private gcs buckets.

and also public gubernator should not need this, so probably guard it behind a flag

/area gubernator
/assign
/assign @rmmh

[2018-03-01 11:31] kargakis commented on #7056
/assign

[2018-03-01 15:07] #3415 closed

[2018-03-01 17:30] kargakis commented on #5666
/remove-lifecycle stale

[2018-03-01 17:33] kargakis commented on #5152
This is fine for the most part. Only thing missing is injecting fields on Github API calls but this requires re-architecturing the plugin client to make it generate github clients per plugin which has been made even more difficult after ratelimiting was introduced in the github client.

/close

[2018-03-01 17:33] #5152 closed

[2018-03-01 17:45] #5156 closed

[2018-03-01 17:46] stevekuznetsov commented on #6903
I believe that something really similar to that flow is codified in the Contributor Experience charter -- maybe @parispittman can shed some light on that

[2018-03-01 21:09] BenTheElder commented on #5296
/cc @qhuynh96

[2018-03-01 21:10] #5344 closed

[2018-03-01 21:16] kargakis commented on #5296
/remove-lifecycle rotten

[2018-03-01 21:18] arunkumar9050 opened #7077 "couldnt deploy the cassandra-operator"
[https://github.com/arunkumar9050/cassandra-operator]

[2018-03-01 21:19] BenTheElder commented on #7077
Can you be a bit more specific?

[2018-03-01 21:24] arunkumar9050 commented on #7077
I am trying to deploy etcd in kubernetes and adapt cassandra to the operator pattern and deploy it. i have deployed etcd operator using [https://github.com/coreos/etcd-operator/blob/master/doc/user/install_guide.md]. while i start deploying the cassandra operator([https://github.com/arunkumar9050/cassandra-operator]) i am getting error.
$kubectl create -f example/example-cassandra-cluster.yaml
err

[2018-03-01 21:25] BenTheElder commented on #7077
How exactly does this relate to Prow?

[2018-03-01 22:00] BenTheElder commented on #7077
I think this should be an issue against https://github.com/benbromhead/cassandra-operator instead of this repo

[2018-03-01 22:00] jberkus opened #7080 "milestone-munger appears to be ignoring all issues during Freeze"
Per prior discussion on slack (sig-release):

The milestone munger appears to be ignoring 100% of open issues during 1.10 code freeze.  It has not removed any issues from 1.10 per rules, nor has it nagged to fix labels etc. on any issues.

For example, both of these issues were incomplete and essetially abandoned at the beginning of code freeze, and should have been removed:

* https://github.com/

[2018-03-01 22:01] jberkus commented on #7080
Note that I also saw no munger activity during code slush, but I'm not that clear on what the munger is supposed to do during code slush.

[2018-03-01 22:04] BenTheElder commented on #7080
/cc @BenTheElder @marun @cjwagner
/area mungegithub

[2018-03-01 22:25] BenTheElder commented on #5905
this is done
/close

[2018-03-01 22:25] #5905 closed

[2018-03-01 22:25] BenTheElder commented on #6978
I've fixed #5905, working on switching over the kubeadm jobs to consume this.

[2018-03-02 00:23] leblancd commented on #6978
@BenTheElder Outstanding! Do you have ideas on what's causing the race condition that @jessicaochen described in [k/k issue # 59766](https://github.com/kubernetes/kubernetes/issues/59766) (problem "[1]") whereby test jobs looking for the kubeadm binary in a GS bucket, but it hasn't been populated yet?

[2018-03-02 00:25] BenTheElder commented on #6978
not sure, I haven't flipped them over yet, I need to refactor that PR but first we needed to roll out a prow upgrade... which hit a bug :(

I'm going to flip `ci-kubeadm-gce-e2e` over to running independently to pick up builds from the ci/latest-bazel tag first and then switch the rest once that's ironed out.

[2018-03-02 00:46] BenTheElder opened #7087 "tide status page lags behind reality"
... we should update the default sync period to be like, 1s. since only deck is hitting the tide endpoint it shouldn't be very expensive to hit this at a higher rate than once every 10s, and will make things appear snappier.

/area prow
/kind bikeshed
/kind velocity-improvement

[2018-03-02 00:46] BenTheElder commented on #7087
/cc @cjwagner

[2018-03-02 01:36] #7087 closed

[2018-03-02 02:30] cjwagner opened #7091 "Tide is serving bad JSON data to Deck."
ref: https://github.com/kubeflow/community/issues/20

Tide is improperly serializing its pool data. Here is a sample:
[code]
Even though this is not valid JSON, `json.Marshal` does not throw an error when emitting this text (?!!) so tide serves it, thinking that it is valid.
https://github.com/kubernetes/test-infra/blob/ef5978825db04c5c161574ad7395831850ab92df/prow/tide/tide.go#L381-L386

I've bee

[2018-03-02 02:30] cjwagner commented on #7091
/assign

[2018-03-02 02:43] BenTheElder commented on #7091
we could also escape these strings or use another format. protos anyone? we can finally gRPC the prow components :-)

[2018-03-02 02:47] BenTheElder commented on #7023
this is workable for now
/close

[2018-03-02 02:47] #7023 closed

[2018-03-02 04:37] #7080 closed

[2018-03-02 06:54] m1093782566 opened #7096 "Milestone maintainer is unable to set milestone via milestone command"
Per #6982, Milestone maintainers should be able to set a milestone. However, I tested it and found it does not work.

I tested both `/milestone v1.10` and `/milestone v1.11` it in PR: https://github.com/kubernetes/kubernetes/pull/59720 and didn't get a response.

I am a milestone maintainer(xref: https://github.com/orgs/kubernetes/teams/kubernetes-milestone-maintainers/members?utf8=%E2%9C%93&query

[2018-03-02 06:54] m1093782566 commented on #7096
/assign @grodrigues3

[2018-03-02 06:59] BenTheElder commented on #7096
Hmm I don't see your `/milestone` comments, just the `/status approved-for-milestone`

[2018-03-02 07:16] m1093782566 commented on #7096
I deleted the command. Let me try it again.

[2018-03-02 07:19] m1093782566 commented on #7096
Please check: https://github.com/kubernetes/kubernetes/pull/59720#issuecomment-369842454

[2018-03-02 07:40] m1093782566 commented on #7096
I can find my github ID in kubernetes-milestone-maintainers team.

[code]

[2018-03-02 07:49] m1093782566 commented on #7096
@kargakis @cjwagner @stevekuznetsov

[2018-03-02 08:34] kargakis commented on #7096
@m1093782566 the code for the command merged yesterday but the command is yet to be enabled in the prow config.

[2018-03-02 08:40] m1093782566 commented on #7096
@kargakis Thanks for your prompt reply.

So, should we update the command list in https://prow.k8s.io/command-help? I am unable to find the `/milestone` command. I am curious to learn when it would be fixed?

[2018-03-02 08:44] kargakis commented on #7096
This list is updated automatically based on what's enabled in the [plugin config](https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml). @cjwagner or somebody else with access to prow.k8s.io needs to update `hook` with the new code, then enable the plugin in the config.

[2018-03-02 08:47] m1093782566 commented on #7096
Got it, thanks!

/assign @cjwagner :)

[2018-03-02 08:47] m1093782566 commented on #7096
/assign @cjwagner

[2018-03-02 08:48] m1093782566 commented on #7096
Also cc @dims for information

[2018-03-02 08:50] m1093782566 commented on #5344
@spiffxp

Milestone maintainer is still unable to set milestone via `/milestone` command, please check: #7096

Can we re-open this issue for tracking?

[2018-03-02 10:26] #3378 closed

[2018-03-02 15:47] stevekuznetsov opened #7098 "prow: deck: time hover is backwards"
Right now you get the full timestamp in the UI and the "N minutes ago" on hover -- seems like that should be reversed. Show the nice human-focused time and hover to get the nitty gritty timestamp.

/kind bug
/area prow
/assign @qhuynh96
/cc @BenTheElder

[2018-03-02 15:52] stevekuznetsov commented on #7091
Or define custom marshalling functions for the `PullRequest` struct?

[2018-03-02 16:18] buchgr commented on #6808
Absolutely *amazing* work @BenTheElder. Congratulations!

[2018-03-02 16:28] BenTheElder commented on #7098
You can't hover on mobile or copy the timestamp and "x minutes ago" goes
stale. 🤷‍♂️

On Fri, Mar 2, 2018, 07:47 Steve Kuznetsov <notifications@github.com> wrote:

[2018-03-02 16:57] BenTheElder commented on #7096
fix is in https://github.com/kubernetes/test-infra/pull/7099

[2018-03-02 17:13] BenTheElder commented on #6808
Thanks Jakob :-)

On Fri, Mar 2, 2018 at 8:18 AM Jakob Buchgraber <notifications@github.com>
wrote:

[2018-03-02 17:17] cjwagner commented on #7091
That sounds like the best option to me.

It seems like there might be a bug in the `encoding/json` package? Even if there is a custom marshalling function in `githubql` that is misbehaving, it shouldn't be possible for `json.Marshal` to emit invalid JSON without throwing an error...

[2018-03-02 17:38] qhuynh96 commented on #7098
We reversed this after a discussion about people may want to interact with the time directly (copy/paste) also you cant see full time on mobile. WDYT

[2018-03-02 17:46] BenTheElder commented on #7098
What about making the timestamp format more concise and show a more detailed one / timezone etc on hover?

OTOH I could be OK with "x minutes ago" if we EG had some worker updating that every so often so it was accurate or something... As it stood "x minutes ago" didn't seem that helpful and it was difficult to make out the timestamp from hover even on fancy giant monitors 🤷‍♂️

[2018-03-02 18:02] stevekuznetsov commented on #7098
Hmmm. I guess in the majority of cases displays will have the "x minutes ago" and hover to get the real time, that was just most common in what I saw elsewhere and what I expected from that background. If it's a static thing that doesn't get refreshed that isn't the end of the world but agreed if it ticks up that would be better.

[2018-03-02 18:02] stevekuznetsov commented on #7098
Also agreed that the formatting could help -- right now I just want to know roughly when a job ran. Neither the old format (wrong timezone) nor the current one (huge block of text) is helping me there -- a concise version might help a lot there.

[2018-03-02 18:06] BenTheElder commented on #7098
right now we have `'MMM DD YYYY, HH:MM:SS [GMT]ZZ'`, perhaps use that one for hover and something like `'HH:MM:SS'` for display which is more concise even than "two minutes ago". We could also try to fix hover / mobile and make the hover larger instead.

[2018-03-02 18:07] qhuynh96 commented on #7098
The time is already updated every 1 min so you dont need to refresh. I dont use this much so I could not tell which way is better, defer to you, @BenTheElder, @ixdy

[2018-03-02 18:11] stevekuznetsov commented on #7091
Right, that may need to be an upstream issue :|

[2018-03-02 18:14] #7096 closed

[2018-03-02 18:46] spxtr commented on #7091
If you're confident that it's a bug in githubql then feel free to open an issue either there or in shurcooL/graphql. shurcooL has been quick to fix bugs in the past. My guess whenever there is an error involving percent signs in strings is that someone is passing them to a `printf`-like function somewhere.

[2018-03-02 18:56] ixdy commented on #7098
I agree that it seems a bit backwards right now, at least compared to most sites which show relative times. To solve the mobile issue, can we also add a tap target or something which reveals the real time?

Side note, every job is showing the exact same started time right now (Mar 02 2018, 10:03:00 GMT-0800), which seems like a bug.

[2018-03-02 18:57] ixdy commented on #7098
(bikeshed/soapbox: I personally do not like the "N minutes ago" timestamps, and much prefer absolute times always.)

[2018-03-02 19:32] qhuynh96 commented on #7098
@ixdy @BenTheElder  the bug 10:03 is due to wrong time format, should be `HH:mm:ss` not `HH:MM:SS`
`MM` is month

[2018-03-02 19:51] BenTheElder commented on #7091
+1, definitely looks like bad usage of fmt
Also: Hi Joe, don't you have lab work to do? 😄

On Fri, Mar 2, 2018 at 10:46 AM Joe Finney <notifications@github.com> wrote:

[2018-03-02 20:07] cjwagner commented on #7091
Yeah I suspected a misused `printf` as well, but didn't see anything obvious in the `githubql` or `graphql` repos. I'm not confident that there is a bug in `graphql`. I'm more confident that there is some sort of bug in `json.Marshal` given that it shouldn't ever emit invalid JSON without an error.

[2018-03-02 20:37] BenTheElder commented on #7091
I scanned github.com/shurcooL in our vendor/ for `fmt` usage, looks like only `fmt.Errorf`

[2018-03-02 21:31] #7098 closed

[2018-03-02 23:17] cjwagner commented on #7091
Well I feel very stupid right now.
See the `fmt.Fprintf(w, string(b)) ` in the code snippet in the issue body...
/shrug
/cole-is-bad-at-reading

[2018-03-02 23:18] BenTheElder commented on #7091
LOL we all missed that :joy:

[2018-03-02 23:19] cjwagner commented on #7091
1 character fix incoming.

[2018-03-02 23:40] #7091 closed

[2018-03-03 00:58] BenTheElder commented on #6808
[kops](https://github.com/kubernetes/kops) is now using the remote cache, 8+ minutes to test -> ~2 minutes

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/kops/4565/pull-kops-bazel-test/

[2018-03-03 02:47] m1093782566 commented on #7096
/open

[2018-03-03 02:48] m1093782566 commented on #7096
I still can not set a milestone via command, xref: https://github.com/kubernetes/kubernetes/pull/59720

[2018-03-03 03:56] spxtr commented on #7091
Hah! That was probably my bad.

[2018-03-03 04:15] m1093782566 opened #7121 "milestone command does not work properly"
I still can not set a milestone via command, xref: kubernetes/kubernetes#59720, though `/milestone` command is available in prow docs, see https://prow.k8s.io/command-help#milestone.

I create this issue for tracking.

/area prow
/kind bug

[2018-03-03 04:15] m1093782566 commented on #7121
/area prow

[2018-03-03 04:16] m1093782566 commented on #7121
@BenTheElder @spiffxp @kargakis @cjwagner

[2018-03-03 04:17] m1093782566 commented on #7121
/kind bug

[2018-03-03 13:43] kargakis opened #7123 "Figure out restricted access to the log tracer"
We need to restrict access to the log tracer so only prow admins can access it. There are two different endpoints: `/` gets to the dashboard and `/trace` implements the backend. Both endpoints need to be public and restricted. The most convenient flow is to use the dashboard so the first request (to the dashboard) can be easily put behind oauth with an oauth proxy, the challenge is to do oauth bet

[2018-03-03 13:46] kargakis opened #7125 "log tracer: make branding configurable"
Follow up issue from https://github.com/kubernetes/test-infra/pull/6241 + https://github.com/kubernetes/test-infra/pull/7124

[2018-03-03 23:30] cjwagner commented on #7121
It appears that an old version of hook without the fix to the `/milestone` command was redeployed yesterday afternoon. I've redeployed the correct version.

[2018-03-04 02:48] m1093782566 commented on #7121
Thanks，I tested it and it works properly.

[2018-03-04 02:48] #7121 closed

[2018-03-04 11:37] hoegaarden opened #7128 "Make OwnersClient react on configuration changes"
Since #5156 the blacklisted directories for [`repoowners`][ro] are configurable. The configuration is however only read once on startup.

We should see to make that dynamic, and have the [`repoowners`][ro] use the updated version of [the config from the `configAgent`][ca_conf], without the need to restart every time the config changes.

See also https://github.com/kubernetes/test-infra/pull/7025/f

[2018-03-05 00:52] BenTheElder commented on #7123
any reason to not just use kubectl proxy if this is admins only?

[2018-03-05 00:58] BenTheElder commented on #7128
/area prow
/kind bug
/assign @hoegaarden

[2018-03-05 04:41] krzyzacy opened #7130 "Milestone plugin comment is improperly formatted."
https://github.com/kubernetes/kubernetes/issues/60765#issuecomment-370307962

/area mungegithub
/assign @cjwagner

[2018-03-05 08:10] kargakis commented on #7123
Yeah, we could use `kubectl proxy` but it's more convenient to click a bookmark and let the cluster authorize you based on RBAC.

[2018-03-05 14:55] sosiouxme commented on #4602
I for one would still like this to be fixed. Very confusing.
/remove-lifecycle stale

[2018-03-05 14:58] bparees commented on #4602
+1, i think we can do better.  I'd also love to see a direct link to the historical test runs included in the comment.  Right now I always struggle to navigate there.

[2018-03-05 15:13] kargakis commented on #4602
We already include the history of the PR into the comment linked as `Full PR test history`. Are you thinking of something else?

[2018-03-05 15:19] bparees commented on #4602
whoops, sorry, no that's exactly what i was looking for.

[2018-03-05 16:33] stevekuznetsov commented on #4602
Seems like the messaging could be made clearer, though!

[2018-03-05 18:17] cjwagner commented on #7130
/remove-area mungegithub
/area prow

[2018-03-05 19:16] parispittman commented on #6903
I just added the change communication flow piece to the contribex charter  -

In cases of impacts across a large number of areas and/or project wide, we will:
*  Lazy consensus with a time box of at least 72 hours to the following mailing lists with the GitHub issue link including the subject [NOTICE]: foobar to the following mailing lists:
     * kubernetes-dev@
     * sig-leads@
     * kubernete

[2018-03-05 19:23] bacongobbler commented on #6903
Thanks Paris. For those who need a link, the contribex charter is here: https://github.com/kubernetes/community/blob/master/sig-contributor-experience/charter.md

I think we can consider this closed. Thanks everyone!

[2018-03-05 19:23] #6903 closed

[2018-03-05 22:25] jlewi opened #7140 "tide plugin should ignore Reviewable and possibly other status checks"
I think it would be useful if it was possible to configure tide to ignore certain status checks when deciding whether to merge or not.

I use reviewable for large PRs. With reviewable its easy for reviewers to forget to acknowledge/close all comments so that the status check for reviewable will pass.

My expectation is that if someone /lgtm and /approve this should override the reviewable status c

[2018-03-05 22:48] BenTheElder commented on #7140
@spxtr will fight you on this one. the idea is that all checks should be green before merging otherwise they aren't checks.

We don't want to override just any check though, many repos also use other CI

If it's useful to see the status, isn't it also useful for that status to eventually be green?

That said I've expected that tide would eventually grow this feature.
/cc @cjwagner @kargakis @steve

[2018-03-05 22:53] dims commented on #7140
reviewable is gone as of this morning ( cc @thockin ) per traffic on #sig-contribex channel there were just too many notifications getting generated.

[2018-03-05 22:59] spxtr commented on #7140
Heh, @BenTheElder knows me too well.

Fortunately it's a pretty simple feature to add. We already enumerate statuses on all PRs just to update the tide status.

[2018-03-05 23:05] BenTheElder commented on #7140
@dims reviewable is gone from kubernetes, but not kubeflow.

[2018-03-05 23:55] dims commented on #7140
ah thanks @BenTheElder !

[2018-03-06 03:54] krzyzacy commented on #5794
is e2e test refers to an individual test, or a specific e2e job?

[2018-03-06 06:56] k82cn opened #7149 "Enable NoDaemonSetScheduler alpha features in separate CI"
In https://github.com/kubernetes/kubernetes/issues/59194 (Schedule DaemonSet Pods by default scheduler), we'd like to schedule DaemonSet's pod by default scheduler instead of daemonset controller. There's no behavior changed, so I'd like to re-run the DaemonSet e2e test with this alpha feature enabled.

BTW, this's a 1.10 alpha feature; that'll be great if we can enable it in 1.10 :)

/cc @BenTheE

[2018-03-06 06:58] BenTheElder commented on #7149
/assign
/assign @krzyzacy
/area jobs

[2018-03-06 14:03] jlewi commented on #7140
That said I've expected that tide would eventually grow this feature.

As far as I can tell, reviewable requires reviewer to mark a comment thread as satisfied or non-blocking in order for the status check to be green.

In practice, reviewers often just do "/lgtm" without marking each individual comment thread closed.

[2018-03-06 14:11] jlewi commented on #7140
Another example of a status check that caused problems for us was coveralls.io failing because of coverage decreases.

I think it would be useful to be able to override failed status checks either as the result of /approve or with a specific command like /override. I thought "/skip" might do this but it didn't seem to.

[2018-03-06 17:38] stevekuznetsov commented on #5841
/remove-lifecycle stale

[2018-03-06 17:38] #7056 closed

[2018-03-06 17:56] krzyzacy commented on #7149
you can enable the feature in https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#gce-alpha-features-1.10

[2018-03-06 18:06] stevekuznetsov commented on #5823
/remove-lifecycle stale

[2018-03-06 18:07] BenTheElder commented on #7140
/skip clears the statuses to "skipped" / green. We cannot skip statuses we
didn't create.

On Tue, Mar 6, 2018, 06:11 Jeremy Lewi <notifications@github.com> wrote:

[2018-03-06 18:17] kargakis commented on #7140
Yeah, skip only cleans up optional statuses created by prow

On Tue, Mar 6, 2018 at 7:07 PM, Benjamin Elder <notifications@github.com>
wrote:

[2018-03-06 18:58] krzyzacy opened #7152 "Prowjob should have first class timeout"
pod can be stuck in running state, we never know, sinker does not clean running prowjobs, so it might be necessary to give prowjob a timeout field/annotation/label?

/area prow

[2018-03-06 18:58] krzyzacy commented on #7152
cc @cjwagner @BenTheElder @kargakis @stevekuznetsov @dims

[2018-03-06 19:17] G-Harmon opened #7153 "ok-to-test needed even though I'm a member of GoogleCloudPlatform"
In https://github.com/GoogleCloudPlatform/k8s-multicluster-ingress/pull/140 , the tests did not automatically run. The bot said:
"I'm waiting for a kubernetes or GoogleCloudPlatform member to verify that this patch is reasonable to test."
But I *am* a member of GoogleCloudPlatform. Is the bot really configured to check membership of GCP? Can it be? Or should the text be changed?
cc @nikhiljindal

[2018-03-06 19:30] stevekuznetsov commented on #7153
Your membership in that organization is not public, so I don't think the bots can determine that you are actually in there.

[2018-03-06 19:41] stevekuznetsov commented on #7152
Thought was that we could add this to the `entrypoint` wrapper.

[2018-03-06 19:41] stevekuznetsov commented on #7152
/assign

[2018-03-06 20:09] #7036 closed

[2018-03-06 21:48] MrHohn opened #7156 "[GCE] Update metadata for zonal DNS to new scheme"
From https://cloud.google.com/compute/docs/internal-dns#setting-zonal-dns, the scheme for zonal DNS configuration had been updated to `VmDnsSetting=ZonalOnly`(there are other options). https://github.com/kubernetes/test-infra/blob/master/jenkins/check_projects.py uses the old scheme and we need to update it (assuming it is still in-used).

We also wanted to start enabling zonal DNS on GCP projects

[2018-03-06 22:24] G-Harmon commented on #7153
okay, I changed the visibility. Next PR, I'll see if it automatically tests.

[2018-03-06 22:24] #7153 closed

[2018-03-06 22:25] BenTheElder commented on #7153
I think technically it's possible for this to work with non-public membership but the bot needs elevated permissions IIRC.

[2018-03-06 22:31] cjwagner opened #7157 "updateconfig plugin needs a better message"
The comment could use better formatting and more detail. Currently it leaves this comment when Prow's `config.yaml` is updated:
[code]

ref #7111
/area prow
/help

[2018-03-06 23:03] oomichi commented on #6737
I had some conversation about this with @spiffxp on OSLS2018.
If we want to enable this feature on upstream CI, it is important to recognize how this feature impact to e2e test performance and log size.
e2e test will need to output API operation logs to measure the coverage, the log will be huge.
So I will measure how this feature impact them by trying it on my local environment and report it on t

[2018-03-06 23:15] BenTheElder opened #7159 "prow should comment when removing LGTM"
From an offline discussion with @krzyzacy: right now the lgtm after commit support just removes LGTM without commenting, which can confuse some users. action needs to be taken after this so we probably ought to notify users.

/area prow
/kind feature

[2018-03-06 23:16] BenTheElder commented on #7159
/cc @cjwagner

[2018-03-06 23:35] krzyzacy commented on #7159
@Q-Lee also got confused yesterday :-)

[2018-03-06 23:57] cjwagner commented on #7159
This is low hanging fruit.
/help

[2018-03-07 00:43] BenTheElder opened #7161 "prow/deck fuzzy search should not ignore what I typed on enter"
1) visit some job page like https://prow.k8s.io/?job=ci-kubernetes-e2e-kubeadm-gce-1-7-on-1-8
2) type in another job name (ci-kubernetes-e2e-kubeadm-gce)
3) hit enter without touching the list

The fuzzy search box will select the first result even if exactly what you typed is a valid job name. It should go to whatever you typed if you haven't selected one of the results by down arrow or mouse ove

[2018-03-07 01:33] k82cn commented on #7149
@krzyzacy , any example (e.g. PR or configuration file) on how to enable it?

[2018-03-07 01:36] BenTheElder commented on #7149
@k82cn jobs/config.json and prow/config.yaml

Flipping the question though, what switches need to get enabled here? and What ginkgo focus?

[2018-03-07 01:43] krzyzacy commented on #7149
you can change https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml#L756

and regenerate config using the command linked in https://github.com/kubernetes/test-infra#release-branch-jobs--image-validation-jobs

[2018-03-07 03:34] k82cn commented on #7149
great, let me try it :)

[2018-03-07 08:31] kargakis commented on #7152
Sounds reasonable. Is this obsoleting pod_pending_timeout in plank?

[2018-03-07 08:43] cjwagner commented on #7152
No, we will still want both config options. `pod_pending_timeout` limits the time pods spend in the `pending` state which is distinct from the actual duration of the entire job which is what the proposed field would limit.

[2018-03-07 16:55] BenTheElder commented on #7152
We'd also like to set this per-pod. Some jobs actually do take 12+ hours but most should terminate after say, 2.

[2018-03-07 18:50] #7130 closed

[2018-03-07 19:07] BenTheElder commented on #7152
/open

this isn't exactly fixed yet

[2018-03-07 20:35] cjwagner opened #7173 "Improve golint plugin review message"
The `golint` plugin's review body text can be a bit confusing if a previous lint review has already been posted.
ref: https://github.com/kubernetes/test-infra/pull/7073#pullrequestreview-101393297
/area prow
/help

[2018-03-07 23:09] chrislovecnm commented on #6173
/close

This is fixed

[2018-03-07 23:09] #6173 closed

[2018-03-08 06:38] BenTheElder opened #7180 "generated tests are out of sync"
https://github.com/kubernetes/test-infra/pull/7070
https://github.com/kubernetes/test-infra/pull/7179/files/2feaf66dce68a5555a3dee93b2e8aa0e18d1c2fe#r173068161

/kind bug
/area jobs
/assign
/assign @krzyzacy

[2018-03-08 06:42] krzyzacy commented on #7180
oh.... #7070 did not rerun generated tests :-\ this is WAI

[2018-03-08 06:42] #7180 closed

[2018-03-08 06:49] BenTheElder commented on #7180
/shrug

[2018-03-08 08:00] qhuynh96 commented on #7159
I will pick this up.
/assign

[2018-03-08 09:22] qhuynh96 commented on #6949
/assign

[2018-03-08 15:53] cjschaef opened #7183 "Bad json-iterator release on 1.8"
When attempting to fetch `test-infra` and install its dependencies, an error is encountered due to a bug in the `json-iterator` release:
[code]
This looks to be due to the release of `json-iterator`:
[code]
Which is patched in a commit post `json-iterator` v.1.1.2:
https://github.com/json-iterator/go/commit/d51e841de09d234a64d0dfadd2305596979559da

This doesn't look like it affects go 1.9 however:

[2018-03-08 15:58] dhilipkumars opened #7184 "Incubating a new project at kubernetes-sigs"
Hi All,

We have incubated a [new project](https://github.com/kubernetes-sigs/scheduling_poseidon) into `kubernetes-sigs` sponsored by scheduler-sig.  We have a couple of questions.

1. Are k8s bots already configured to look at other organizations? If no what is the procedure to do that?
2. Do we have an example project that has configured Bots , CI & CD pipe-line for projects outside k/*?

cc: @

[2018-03-08 16:11] BenTheElder commented on #7184
1) yes, we have repos in a couple orgs, but if we add a new org we have to
configure it (EG sending webhooks to an app must be configured on each org
*or* repo) where is this project exactly?

2) yes, see EG https://github.com/kubernetes-sig-testing/frameworks

On Thu, Mar 8, 2018, 07:58 Dhilip <notifications@github.com> wrote:

[2018-03-08 16:13] BenTheElder commented on #7183
sync.Map was added in go 1.9, test-infra builds with go 1.9.3 currently in
conjunction with kubernetes.

On Thu, Mar 8, 2018, 07:53 cjschaef <notifications@github.com> wrote:

[2018-03-08 16:14] dhilipkumars commented on #7184
The project is here: https://github.com/kubernetes-sigs/scheduling_poseidon

[2018-03-08 16:22] stevekuznetsov commented on #7184
Do we want that under `kubernetes-sig-scheduling` ?

[2018-03-08 16:22] stevekuznetsov commented on #7184
/assign @spiffxp

[2018-03-08 16:24] BenTheElder commented on #7184
We need to get @spiffxp or someone else with the appropriate GitHub permissions to set up the webhook for Prow, then we can enable [plugins](https://prow.k8s.io/plugins), test jobs, and the merge automation as desired.

[2018-03-08 16:59] cjschaef commented on #7183
Does this mean that a patch isn't expected, since go 1.9 is the default?

[2018-03-08 17:00] dhilipkumars commented on #7184
@timothysc Is there a scheduler sig specific org just like the one for testing?

[2018-03-08 17:04] stevekuznetsov commented on #7184
@dhilipkumars yes: https://github.com/kubernetes-sig-scheduling

[2018-03-08 17:10] dhilipkumars commented on #7184
@stevekuznetsov that organization looks more appropriate for this project,  but i will defer it to Tim and Bobby on why they chose this organization instead.
cc: @timothysc @bsalamat

[2018-03-08 17:31] BenTheElder commented on #7183
I think probably not immediately. IIRC json-iterator is an indirect
dependency we should probably update with it's parent deps.

We build most of this repo with bazel and pin our go version, I don't think
we intend to support go much older than kubernetes's master version. We
should actually upgrade to go 1.10 soon once kubernetes release 1.10 is
done.

On Thu, Mar 8, 2018, 08:59 cjschaef <notific

[2018-03-08 17:39] cjschaef commented on #7183
That's too bad, but I guess that's what happens when you work with kube 1.8 (and go 1.8) still. Thanks for the info @BenTheElder.

It would still be nice to see this patched in the future though, if/when `json-iterator` sees a new release b/c of 1.8

[2018-03-08 17:44] BenTheElder commented on #7183
FWIW If you follow https://github.com/kubernetes/test-infra#building-and-testing-the-test-infra things will just work regardless of the system-wide go version, because of:
https://github.com/kubernetes/test-infra/blob/c3e640a330599cabfbe506e491c1001f4dfec139/WORKSPACE#L21-L23

[2018-03-08 18:05] BenTheElder opened #7187 "config sort is unhelpful for prow config diffs"
we should stop sorting job entries in prow/config.yaml

Compare the original diff: https://github.com/kubernetes/test-infra/pull/7186/commits/a0b9066ee570b6c2e10710960e49e283e10e6a70

To the one after sorting: https://github.com/kubernetes/test-infra/pull/7186/commits/adc7a18cd73447cd3616d4011208845188fde5ef

since it's not version aware we also wind up with 1-10, 1-7, 1-8, 1-9 which is not a grea

[2018-03-08 18:10] krzyzacy commented on #7183
you can consider `bazel run //kubetest` which will pick up the right go version from WORKSPACE

[2018-03-08 18:11] BenTheElder commented on #5542
There's been some progress on this, I have a new scenario that doesn't involve our own querying magic which his now used in a few places.

[2018-03-08 18:12] BenTheElder commented on #5434
We've done some work on the images, mostly migrating towards bootstrap, kubekins-e2e layered on top. Things needing just our runner and optionally DIND use bootstrap, things needing build tools like bazel, go, etc. use kubekins-e2e.

[2018-03-08 18:30] BenTheElder commented on #6819
/priority backlog

[2018-03-08 18:30] BenTheElder commented on #6819
/help wanted

[2018-03-08 18:33] BenTheElder commented on #6550
I haven't seen this since, have you @krzyzacy?

[2018-03-08 18:33] BenTheElder commented on #5919
/priority important-soon

[2018-03-08 18:35] BenTheElder commented on #5882
I intend to do this still, but possibly after the mason rejiggering since we have a lot moving there.., this will let us validate the boskos image build in presubmit

cc @sebastienvas

[2018-03-08 18:35] BenTheElder commented on #5660
We're going to switch to a *narrower* regex soon and use typecheck instead.
/close

[2018-03-08 18:35] #5660 closed

[2018-03-08 18:36] BenTheElder commented on #5494
looking into this again soon.

[2018-03-08 18:43] BenTheElder commented on #6865
- we've rolled out the bazel remote caching to more places
- typecheck will be blocking soon instead of cross for ~4-5min instead of ~1 hour
- only 92 hits for hostport left in prow/config.yaml, I'm working to eliminate more of these so we can switch over to less-but-larger machines in our cluster with (larger) guaranteed resources for build jobs instead of burstable QoS over many machines

[2018-03-08 18:53] krzyzacy commented on #6550
not anymore

[2018-03-08 19:18] cjschaef commented on #7183
Okay, something to look into for additional possibilities in the mean time. Think I may be a bit limited to options, but something I'll have to investigate further. Thanks!

[2018-03-08 21:05] BenTheElder commented on #6550
I think we can close this now.
/close

[2018-03-08 21:05] #6550 closed

[2018-03-08 21:20] BenTheElder commented on #6702
closing, we'll leave old branches alone for now. new branches are pretty well migrated everywhere.

[2018-03-08 21:20] #6702 closed

[2018-03-08 21:43] BenTheElder commented on #5283
@krzyzacy and I are trending towards periodics are named `ci-*` and mostly eliminating post-submits that aren't config uploads. we will probably call the remainder of those `postubmit-*` where possible

[2018-03-08 21:44] BenTheElder commented on #4912
I think we've done what we can here.

[2018-03-08 21:44] #4912 closed

[2018-03-08 21:45] BenTheElder commented on #5212
/remove-lifecycle rotten
/priority backlog

[2018-03-08 21:47] BenTheElder commented on #5879
ping @qhuynh96

[2018-03-08 23:15] stevekuznetsov commented on #5879
Do we want to drive this using Prometheus and Graphana?

[2018-03-08 23:16] stevekuznetsov commented on #5212
/jelp

[2018-03-08 23:20] BenTheElder commented on #5879
?? I'm just proposing to show the number of jobs matching the filtering on https://prow.k8s.io/ so when I select say http://prow.k8s.io/?type=batch the frontend tells me how many entries exist instead of counting them myself.

[2018-03-08 23:23] #6949 closed

[2018-03-08 23:36] bsalamat commented on #7184
I am fine with hosting the Poseidon project in SIG scheduling repo, but these SIG repos are very new and I am not aware of the details of their locations, etc. @timothysc has set up this repo. He should be able to help.

[2018-03-08 23:46] resouer commented on #7184
What's the relationship of:

https://github.com/kubernetes-sig-scheduling
and
https://github.com/kubernetes-sigs

An will https://github.com/kubernetes-incubator be deprecated?

Will be appreciate if anyone can provide more context and background ...

[2018-03-09 00:09] BenTheElder opened #7192 "velodrome deployment pattern is undocumented and not maintained"
https://github.com/kubernetes/test-infra/pull/7191#issuecomment-371668428

[I eventually figured out how to deploy this](https://github.com/kubernetes/test-infra/pull/6929#issuecomment-367542955) when I needed to make a change to the config once, but we don't have this documented other than that comment and the existing python | kubectl pattern is pretty gnarly.

- we need to update the docs to re

[2018-03-09 00:09] BenTheElder commented on #7192
/help

[2018-03-09 00:58] qhuynh96 commented on #5879
oops, forgot this. I will be on this tmr

[2018-03-09 01:37] chrislovecnm opened #7195 "retest-not-required-docs-only label"
So a few questions:

1. Does prow add this automatically?  I thought it did in k/k, it is not in k/kops
2. Can we get a prow bot command for adding the label?  `/docs-no-retest` something like that.
3. I assume that tide / build queue still uses this label?  Basically do not want to re-run expensive e2e for a markdown file 😆

[2018-03-09 01:42] BenTheElder commented on #7195
1) is done via docs-no-retest https://prow.k8s.io/plugins
2) there's no command for this IIRC, it's automatic on the PR diff
3) tide doesn't AFAIK... @cjwagner

[2018-03-09 02:20] cjwagner commented on #7195
Tide doesn't respect that label, but this is functionality that we are considering in this issue: https://github.com/kubernetes/test-infra/issues/5334

[2018-03-09 03:57] chrislovecnm commented on #5334
/cc

[2018-03-09 08:08] #3796 closed

[2018-03-09 08:48] kargakis commented on #5879
We already have prometheus metrics for prowjobs exposed by the controllers (plank, jenkins-operator).

[2018-03-09 15:15] #3910 closed

[2018-03-09 15:29] kargakis commented on #3910
This is really bad when we do rebases where we bring in a ton of commits. Unclear how to fix it though. @stevekuznetsov @cjwagner

[2018-03-09 15:38] bgrant0607 commented on #5446
/remove-lifecycle stale

[2018-03-09 16:16] BenTheElder commented on #5879
Yes, and we have dashboards for total builds. I'm not asking to graph it
overtime or anything like that, but I'd like to know how many entries are
in Deck specifically when I filter them, which is related to how many
prowjobs we have not yet cleaned up with sinker.

It's pretty common to show how many results match a filter, eg in email
clients. It's minor but I don't think this will be very intru

[2018-03-09 18:01] #7161 closed

[2018-03-09 18:35] stevekuznetsov commented on #5879
Ah, sorry -- totally misunderstood what you were looking for here.

[2018-03-09 18:39] stevekuznetsov commented on #5292
@krzyzacy this bit you, right?

[2018-03-09 18:42] stevekuznetsov commented on #5338
Talking about this Slack right now...
/cc @cjwagner @spxtr @BenTheElder

/remove-lifecycle rotten

[2018-03-09 18:42] stevekuznetsov commented on #5333
/remove-lifecycle rotten

[2018-03-09 18:46] stevekuznetsov commented on #5446
/cc @oomichi

[2018-03-09 19:19] #3632 closed

[2018-03-09 20:20] #2226 closed

[2018-03-09 21:59] droot opened #7203 "Onboard kinflate on the test-infra"
Kinflate (https://github.com/kubernetes/kubectl/tree/master/cmd/kinflate) is CLI to manage YAML manifests for Kubernetes application. We want to leverage prow (test-infra) for integration testing of kinflate.

Key requirements:

- Be able to pull code from two separate repos (kinflate and kinflate-examples)
- Launch kubernetes cluster with provided version (say 1.9 as default for now)
- compile ki

[2018-03-09 21:59] droot commented on #7203
/assign @BenTheElder

[2018-03-09 21:59] droot commented on #7203
/cc @ixdy

[2018-03-09 22:03] BenTheElder commented on #7203
We should be able to do this starting with a job based on kubetest.

Can you provide a script in kinflate to do this part:
- compile kinflate and run it against kinflate-examples to generate manifests
- run kubectl apply to deploy the manifests generated by kinflate in previous step
- verify the deployed app.

We have code / images / automation we can enable to do:
- [x] periodically run a job
- [

[2018-03-09 23:40] BenTheElder opened #7206 "make pull-kubernetes-typecheck blocking"
`pull-kubernetes-typecheck` is uses some awesome work by @rmmh to allow typechecking kubernetes's go code without actually building. we can typecheck for all (`GOOS`, `GOARCH`) we build for in ~4-5 minutes.
This is in contrast to a real cross build taking > 1 hour on a reasonably large VM.

Specifically we should:
- make `pull-kubernetes-typecheck blocking`
- make `pull-kubernetes-cross` only run

[2018-03-09 23:41] BenTheElder commented on #7206
/area jobs
see:
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-typecheck

This job has been plenty "green" for a while now, and this idea has been discussed within #sig-release
https://kubernetes.slack.com/archives/C2C40FMNF/p1520283169000156

[2018-03-10 00:13] BenTheElder commented on #7203
We met and discussed this offline, job setup will come ~ Monday once the kinflate script(s) are ready.

[2018-03-10 00:24] BenTheElder commented on #6808
I think once https://github.com/kubernetes/test-infra/pull/7205 is in we can close this, I've significantly upped the cache storage and we're flipping it on for pretty much all other presubmits that should leverage caching.

[2018-03-10 00:31] BenTheElder commented on #3787
/remove-lifecycle stale
Logging the prowjob yaml is something I intend to do with the logging sidecar, which does exist now though not in k8s prow yet (and doesn't log this yet).

[2018-03-10 01:31] cjwagner commented on #5338
/assign @Q-Lee

[2018-03-10 01:31] cblecker commented on #7206
+1. I explicitly support this change.

[2018-03-10 02:26] #2043 closed

[2018-03-10 02:26] #2224 closed

[2018-03-10 03:27] #769 closed

[2018-03-10 03:27] #1693 closed

[2018-03-10 04:28] #4072 closed

[2018-03-10 04:28] #1728 closed

[2018-03-10 05:29] #4085 closed

[2018-03-10 08:32] #4015 closed

[2018-03-10 11:54] kargakis commented on #6720
Closing as a dupe of https://github.com/kubernetes/test-infra/issues/5338

[2018-03-10 11:54] #6720 closed

[2018-03-10 11:54] kargakis commented on #5338
xref: https://github.com/kubernetes/test-infra/issues/6720

[2018-03-10 11:57] kargakis commented on #5292
/remove-lifecycle rotten

[2018-03-10 13:28] dims commented on #6696
Done! we have both CI and PR jobs. Both running conformance tests.

https://k8s-testgrid.appspot.com/sig-testing-misc#ci-kubernetes-local-e2e
https://k8s-testgrid.appspot.com/sig-testing-misc#pull-kubernetes-local-e2e

I have 2 PR(s) for the remaining failures:
https://github.com/kubernetes/kubernetes/pull/61000
https://github.com/kubernetes/kubernetes/pull/60811

We can get those in when v1.11 op

[2018-03-10 17:11] stevekuznetsov opened #7213 "prow: trigger: why do we run postsubmits on merge children?"
Consider the case where `master` has at it's `HEAD` commit `A`, there exists a branch with `merge-base` `B` where the `HEAD` is `C`. A merge happens and creates commit `D`. We have this:

[code]

Currently in this case we get a `PushEvent` for both `C` and `D` landing in `master`. However, `C` is _not_ ever a valid state of the `master` branch and therefore I do not think a postsubmit job configur

[2018-03-10 17:30] kargakis commented on #7213
See https://github.com/kubernetes/test-infra/issues/3910, @spxtr's worry is that folks may push directly in master, in which case there is no merge commit.

[2018-03-10 17:37] stevekuznetsov commented on #7213
I'm not saying we should run only for merge commits. Just that we should _not_ run for merge children.

[2018-03-10 19:20] kargakis commented on #6449
Should be fixed by https://github.com/kubernetes/test-infra/pull/7112

[2018-03-10 19:20] #6449 closed

[2018-03-10 20:25] spxtr commented on #7213
Is it possible to tell from the push event for `C` that it is a child? If so, it makes sense to skip testing it.

[2018-03-10 20:33] chrislovecnm commented on #5334
Having this testing functionality is a big need.  When, for instance, spelling errors are being tested in non-go files, we should not be running e2e.

Is anyone working on this?

[2018-03-10 20:44] #4016 closed

[2018-03-10 21:30] stevekuznetsov commented on #7213
We have the full GitHub and `git` clients and it's possible to tell that `C` is the child of a merge commit in the branch, yes. I'll write something up today.

[2018-03-10 21:45] #3023 closed

[2018-03-10 21:45] #3162 closed

[2018-03-10 22:29] stevekuznetsov commented on #7213
@kargakis @smarterclayton so this is embarrassing ... I can't reproduce this behavior. None of the recent merges to any of our repos have sent a `push` webhook for anything other than the merge commit and I don't see postsubmits being triggered for anything other than the commit at `HEAD`. Do we have specific examples of where we saw this?

[2018-03-10 23:47] #4287 closed

[2018-03-11 01:49] #4340 closed

[2018-03-11 04:29] BenTheElder commented on #5334
That exists with `run_if_changed`, you can set something like `run_if_changed: *.go` to regex only go files on individual jobs.

[2018-03-11 04:31] BenTheElder commented on #4016
see: #7192

[2018-03-11 04:38] BenTheElder commented on #5665
there's been a bit more work on runlocal, but we're not quite this good yet.

[2018-03-11 05:53] #4387 closed

[2018-03-11 07:08] BenTheElder commented on #5428
/remove-lifecycle stale
PRing this week.

[2018-03-11 07:09] BenTheElder commented on #3633
/remove-lifecycle stale

[2018-03-11 07:10] BenTheElder commented on #5431
/remove-lifecycle stale

[2018-03-11 14:01] #3738 closed

[2018-03-11 15:02] #3700 closed

[2018-03-11 18:33] kargakis commented on #7192
/kind documentation

[2018-03-11 18:47] kargakis commented on #5334
Setting all jobs to run as run_if_changed does not sound ideal but it can work. It would be nice to offer a per repo run_if_changed option (and potentially a run_if_not_changed option too since golang regexps do not support negative lookaheads).

[2018-03-11 19:07] ixdy commented on #4824
/remove-lifecycle stale

we have 279 open issues currently.

[2018-03-11 21:08] #2259 closed

[2018-03-11 21:08] #3314 closed

[2018-03-11 21:08] #3375 closed

[2018-03-11 22:09] #4680 closed

[2018-03-12 02:13] #4740 closed

[2018-03-12 04:18] krzyzacy commented on #7192
cc @apelisse

[2018-03-12 07:18] #2824 closed

[2018-03-12 07:18] #2925 closed

[2018-03-12 07:18] #845 closed

[2018-03-12 07:18] #1636 closed

[2018-03-12 07:18] #3049 closed

[2018-03-12 07:18] #1780 closed

[2018-03-12 07:18] #2581 closed

[2018-03-12 09:25] nikhita commented on #5843
/remove-lifecycle stale

If we were to get this in, what should be the next step? Talk to sig-release and sig-contribex?

[2018-03-12 11:22] #4083 closed

[2018-03-12 15:26] #4247 closed

[2018-03-12 17:06] spiffxp commented on #3798
/reopen
/remove-lifecycle rotten
/help
this is still an issue and seems like it would be an easy fix for a new contributor

clicking through random jobs on http://prow.k8s.io/?type=postsubmit the problem doesn't happen for kubernetes/kubernetes nor kubeflow/*, but does happen for kuberentes/test-infra

[2018-03-12 17:15] spiffxp commented on #7184
ref: https://github.com/kubernetes/community/blob/master/kubernetes-repositories.md

Please use kubernetes-sigs.  An org level webhook is already setup, and most plugins are enabled (ref #6623).  At this point if you have additional plugins you want to setup for your repo (ie: approval, trigger), you can PR them in via changes to prow/plugins.yaml and prow/config.yaml same as we allow for kubernet

[2018-03-12 17:18] stevekuznetsov opened #7222 "prow: gcsupload: all artifacts missing after successful push"
Logs look like:

[code]

However the bucket is empty: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7486/test_pull_request_openshift_ansible_extended_conformance_install/6258

/kind bug
/area prow

[2018-03-12 17:20] stevekuznetsov opened #7223 "prow: gcsupload: alias "symlink" uploaded twice"
/kind bug
/area prow
/assign

[2018-03-12 17:20] stevekuznetsov commented on #7223
/kind bug
/area prow
/assign

[2018-03-12 17:20] stevekuznetsov commented on #7222
/assign

[2018-03-12 17:50] stevekuznetsov commented on #7222
@BenTheElder do we have any contacts with the devs for the client libraries that could give us some tips here?

[2018-03-12 17:51] stevekuznetsov commented on #7223
Wait, no, one log line was it starting and one was it finishing.

/close

[2018-03-12 17:51] #7223 closed

[2018-03-12 17:52] stevekuznetsov commented on #7222
Biggest questions here are that a) these are in parallel so I am very surprised that they can _all_ fail and that they seem to be interdependent and b) that the client library returned no errors.

[2018-03-12 17:56] BenTheElder commented on #7222
Er I don't have any immediate contacts for this library but this is concerning.

[2018-03-12 18:00] #7159 closed

[2018-03-12 18:06] #5879 closed

[2018-03-12 18:29] #2606 closed

[2018-03-12 18:42] stevekuznetsov commented on #7222
Potentially addressed by https://github.com/kubernetes/test-infra/pull/7224

[2018-03-12 18:51] BenTheElder commented on #5843
An aside: I think now something like this would be a good target for [an external plugin](https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins).

[2018-03-12 19:36] BenTheElder commented on #6808
/close
We've rolled this out to many more jobs, `pull-kubernetes-bazel-build` in particular is now trending towards 5-8 minutes instead of 13+
![image](https://user-images.githubusercontent.com/917931/37305532-f7bcb3e6-25f1-11e8-9b91-e0100ef43c6a.png)

[2018-03-12 19:36] #6808 closed

[2018-03-12 19:50] kargakis commented on #7123
It seems we just need to plumb the service account token into the frontend so that it can use that token to make requests.

https://github.com/openshift/oauth-proxy/issues/65

[2018-03-12 20:34] BenTheElder commented on #6939
/cc @amwat

[2018-03-12 20:35] BenTheElder commented on #5436
we've kicked a lot of jobs out of using the hostport junk, and when we have the checkout container we can just put k8s in that. for build / test caching we use bazel remote caching now instead of caching on the nodes.

superseded by other issues
/close

[2018-03-12 20:35] #5436 closed

[2018-03-12 20:36] BenTheElder commented on #4825
/remove-lifecycle stale
/priority important-someday /s
/priority backlog

[2018-03-12 20:36] BenTheElder commented on #4825
/help wanted

[2018-03-12 20:36] BenTheElder commented on #4825
/help

[2018-03-12 20:46] BenTheElder commented on #3778
Heh, missed closing this. There are no more Jenkins jobs. There are no more Jenkins clusters. Everything runs on Kubernetes :-)

[2018-03-12 20:46] #3778 closed

[2018-03-12 20:47] BenTheElder commented on #3342
This is still ongoing. 1.10 is looking unlikely though.

[2018-03-12 20:48] BenTheElder commented on #6978
This should be fixed now.

[2018-03-12 20:48] #6978 closed

[2018-03-12 21:09] ixdy opened #7227 "bazel remote caching: stop caching stamped go binaries, or set SOURCE_DATE_EPOCH"
Many of the kubernetes go binaries are stamped with git and build metadata (ref https://github.com/kubernetes/kubernetes/blob/1e0b552f2f27f76ad8dd6f1e67f802a63114f339/hack/print-workspace-status.sh#L35-L48).

One of the attributes we set is the build date, which is going to be different every time we build, which will ruin cacheability of those binaries.

There are (at least) two ways to improve t

[2018-03-12 21:10] ixdy commented on #7227
GitHub's PR merge branch lies about the date and author in its merge commit. We might want to look into doing something similar. (I can't remember if I actually commented in an issue with this, or if I just investigated it once.)

[2018-03-12 21:32] ixdy commented on #7227
re: repeatable merge commits, I just ran the following:
[code]

I can't find any obvious rhyme or reason for the date; PR 7221 uses `Mon Mar 12 14:31:27 2018` instead. The author email will also likely be tricky to track down.

[2018-03-12 21:33] #5764 closed

[2018-03-12 21:36] lluunn opened #7229 "Kubeflow jobs cannot write to bucket kubernetes-jenkins/pr-logs"
Kubeflow is switching to a new testing project, kubeflow-ci, https://github.com/kubeflow/testing/issues/18.

kubeflow-testing@kubeflow-ci.iam.gserviceaccount.com does not have storage.objects.create access to kubernetes-jenkins/pr-logs/directory/kubeflow-presubmit/591.txt.

Can we grant that service account kubeflow-testing@kubeflow-ci.iam.gserviceaccount.com access to kubernetes-jenkins?

[2018-03-12 21:48] timothysc commented on #7184
done.

We should nuke the other orgs too.

[2018-03-12 22:30] katerinapat commented on #5216
I'm working on  the sub task  _Switch the JS to look at those._

[2018-03-12 23:21] BenTheElder opened #7233 "PR status github oauth token needs to be marked secure and http"
Even though this is only capable of doing public queries, it should only be sent over HTTPs and shouldn't be accessible to JS. The username token should also be set to "secure" but not HTTP only.

[2018-03-12 23:26] BenTheElder opened #7234 "PR status page doesn't display username in the first-load query"
/kind bug
/area prow

The first time you load the PR page (delete all cookies first), sign in, and then go back to the PR page you will see `is:pr state:open author:`. The query results are still `author:you` but we don't redirect to this URL correctly.

[2018-03-12 23:26] BenTheElder commented on #7234
/assign @qhuynh96

[2018-03-12 23:36] BenTheElder opened #7235 "pr status should query github contexts"
We should probably prefer prow job data (which we use now) but tide can also be blocked by non-prow github statuses, so if we want to help users see "why is my PR not merging" we should *also* get all of the github status contexts on PRs and show those when there is no prowjob data.

This will also solve older PRs that don't have recent job results.

/area prow

[2018-03-12 23:36] BenTheElder commented on #7235
/kind feature
/assign @qhuynh96

[2018-03-12 23:46] cjwagner opened #7236 "Improve Prow Status page filter count."
The count of the number of jobs in each state that are currently filtered only counts jobs that are visible on the page.
Its a little strange that switching from all job types to a specific job type can cause the count of jobs in a specific state to increase. It looks like this is because we only show 500 jobs. I think it would be preferable to include all jobs in the count even if they aren't sho

[2018-03-12 23:50] BenTheElder commented on #7236
/assign @qhuynh96

[2018-03-13 01:38] BenTheElder opened #7238 "gubernator config has stale CI jobs listing"
the gubernator homepage lists jobs from this config:
https://github.com/kubernetes/test-infra/blob/1bfe201e5bd924f88148be64ef9f98f2138fc687/gubernator/config.yaml#L20-L32
some of which no longer run. We should update this listing to something more helpful

/area gubernator
/assign

[2018-03-13 02:18] ixdy commented on #4420
/remove-lifecycle stale

[2018-03-13 04:30] qhuynh96 commented on #7233
From today's afternoon discussion, I remembered there is a problem with HTTP also right? Is it the same issue with this one or a different issue.

[2018-03-13 07:56] buchgr commented on #6808
woohooo!!! 🍾 🎆 🎉

cc @ulfjack

[2018-03-13 08:42] kargakis commented on #5764
How was this issue resolved? It would be nice to fix this:

[2018-03-13 09:22] dhilipkumars commented on #7184
@spiffxp and @timothysc Thanks, both of you for the clarification, I was thinking this is `kubernetes-sigs` was an older org and our project needs to move.

[2018-03-13 09:22] #7184 closed

[2018-03-13 14:52] #6145 closed

[2018-03-13 15:04] shyamjvs opened #7242 "Strange things happening with steps shown on testgrid"
Starting from ~1 day ago, I'm seeing weird steps (i.e they're repeated twice) on testgrid:

- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-1.9
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-1.8
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-1.7

This seems to be happening on our release-branch jobs, and not on the [master one](https://k8s-testgrid.appspot.com/si

[2018-03-13 15:16] shyamjvs commented on #7242
Correction: I'm seeing it also on some jobs running against master. E.g:

- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100
- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100-high-density

[2018-03-13 15:40] stevekuznetsov commented on #3342
Added a checklist to this one to track progress.

[2018-03-13 16:53] #7233 closed

[2018-03-13 16:53] #7234 closed

[2018-03-13 16:59] cjwagner commented on #5764
Yes, it doesn't seem to be a problem any more. We're not sure why the name collision fix didn't work for us the first time. I'll open an issue for the config change.

[2018-03-13 17:03] cjwagner opened #7244 "PushGateway config changes shouldn't require pod restarts."
Updating the push interval or endpoint in the config shouldn't require a restart of controllers that push metrics to the pushgateway. Instead, the endpoint and interval should be read from the config every push.

/assign @Q-Lee
/area prow
/kind bug
ref #5764

[2018-03-13 17:04] BenTheElder commented on #7242
This is a known bug with the collector that was rolled back, a notice from
Michelle went out in #sig-testing and #testing-ops but not more widely.
Sorry about that.

On Tue, Mar 13, 2018, 08:16 Shyam JVS <notifications@github.com> wrote:

[2018-03-13 17:05] BenTheElder commented on #7242
You'll still see these for a while since testgrid has caching.

On Tue, Mar 13, 2018, 10:04 Benjamin Elder <bentheelder@google.com> wrote:

[2018-03-13 17:13] BenTheElder commented on #6145
BTW the PR status page is also almost ready for wider use and allows custom
queries so it should be possible to find passing PRs on there soon. We may
need to extend its feature set a little first.

On Tue, Mar 13, 2018, 07:52 k8s-ci-robot <notifications@github.com> wrote:

[2018-03-13 17:14] stevekuznetsov opened #7245 "prow: deck: pr: hitting enter in the search query box should run it, not add a new line"
When I type in my query and hit enter I was hoping it would run the query, not add a newline to the text in the entry box.

/kind bug
/area prow
/cc @BenTheElder
/assign @qhuynh96

[2018-03-13 17:16] BenTheElder commented on #7245
SGTM 👍

On Tue, Mar 13, 2018, 10:15 Steve Kuznetsov <notifications@github.com>
wrote:

[2018-03-13 17:20] cjwagner commented on #7242
/assign @michelle192837

[2018-03-13 17:20] BenTheElder commented on #7242
cc @amwat

[2018-03-13 17:36] BenTheElder commented on #4420
Reading back through this the desired end-state is still unclear, but this is clearly a pain point for kubeadm in particular that we should fix.

[2018-03-13 17:44] stevekuznetsov commented on #6145
:clinking_glasses: :tada:

[2018-03-13 17:50] BenTheElder commented on #7235
We'll need to mask the tide context though...

[2018-03-13 19:15] BenTheElder opened #7251 "new close labels need command support"
https://github.com/kubernetes/test-infra/pull/7200

FWIW, I'm not sure the proliferation of more labels is super helpful though vs descriptive text in this case (unless we're trying to track some stats on issue closing?). Kubernetes has tons of labels cc @spiffxp

A *lot* of issues are also going to be closed due to staleness which will not have any particular reason.

[2018-03-13 19:23] #7245 closed

[2018-03-13 19:54] kargakis commented on #3396
Similar fix to https://github.com/kubernetes/test-infra/pull/6751

/help

[2018-03-13 20:10] timothysc commented on #4420
/cc @kubernetes/sig-release-bugs @dims @jdumars - The weird mechanizations around kubeadm-1.9 -1.10 upgrade job failures are rooted here.  I'm not certain who owns and what the path forwards is...

[2018-03-13 20:11] kargakis opened #7254 "tide context is left to "Not mergeable" state"
Even though the PR is mergeable (and eventually merges)

eg. https://github.com/kargakis/acs-engine/pull/17

@cjwagner

/area prow

[2018-03-13 20:13] jdumars commented on #4420
Could this be a topic for the test standup?  @fejta ?

[2018-03-13 20:20] kargakis opened #7255 "gcsupload completes successfully but artifacts are missing"
Moved from https://github.com/openshift/aos-cd-jobs/issues/1173 + https://github.com/openshift/test-infra/issues/130 for greater visibility

@stevekuznetsov @smarterclayton

[2018-03-13 20:23] BenTheElder commented on #4420
@jdumars This came up at sig-testing weekly today.

[2018-03-13 20:45] BenTheElder opened #7256 "prow/bump.sh does not include needs-rebase"
this breaks bumping prow

/kind bug
/area prow
/assign

[2018-03-13 21:06] #7256 closed

[2018-03-13 21:32] BenTheElder commented on #7229
Normally we have the test jobs use a service account we own/control for upload. In the future this service account won't even be passed through to the tests once we switch to steve's pod utils. why aren't these jobs using the standard service account?

[2018-03-13 21:34] krzyzacy commented on #7229
I guess alternatively, your job can write to your own bucket, and grant access to gubernator/testgrid to pull from your bucket. Depend on which way you want to go.

[2018-03-13 21:36] mml commented on #5927
/remove-lifecycle stale

[2018-03-13 21:37] mml commented on #5927
@kubernetes/sig-testing-bugs

[2018-03-13 21:38] BenTheElder commented on #5927
/priority backlog
/help

[2018-03-13 21:41] lluunn commented on #7229
I see, sorry I didn't understand the process.

[2018-03-13 21:41] #7229 closed

[2018-03-13 21:44] krzyzacy commented on #7229
I'll grant your service account permission to kubernetes-jenkins bucket for now, as we are still using bootstrap. In the future we can revamp the upload behaviors.

[2018-03-13 21:49] krzyzacy commented on #7229
(commented in the other issue https://github.com/kubeflow/testing/issues/18#issuecomment-372830265)

[2018-03-13 21:51] lluunn commented on #7229
thanks!

[2018-03-13 21:55] #4980 closed

[2018-03-13 22:00] mml commented on #5928
/remove-lifecycle stale

On Tue, Mar 13, 2018 at 2:56 PM fejta-bot <notifications@github.com> wrote:

[2018-03-13 22:33] BenTheElder opened #7262 "external plugins should subscribe to config"
for plugins to be *truly* external they should be able to subscribe to "prow config changed" and "plugin config changed" event(s) and be able to request the current config from well known endpoint(s) in deck.

Then we can decouple our configmap updating from "external" plugins entirely, and run external plugins externally from Prow completely, not just externally from hook.

/kind feature
/area pr

[2018-03-13 22:34] BenTheElder commented on #7262
/cc @cjwagner @stevekuznetsov @kargakis

As discussed with  @rmmh we should do this by actually diffing the loaded config in memory. Hook can then pass along synthetic events to external plugins.

[2018-03-13 22:37] BenTheElder commented on #7262
see also: https://github.com/kubernetes/test-infra/pull/7261, https://github.com/kubernetes/test-infra/pull/7058#discussion_r171439854

[2018-03-13 23:03] #7236 closed

[2018-03-13 23:46] rmmh commented on #5216
data.js is 11MB (indented json, 820KB compressed). prowjobs.js is 33MB (unindented json, 1.93MB compressed).

You shouldn't have to load that much data to view jobs. If you drop pod_spec and metadata from prowjobs.json, it's only 730KB compressed.

[2018-03-14 04:15] adohe opened #7269 "Prow issue: cannot assign issue to me even I am Kubernetes member and SIG lead"
FYI. I tried to assign an issue to me in `kubernetes/kubectl` repo, but the ci-robot said I am not allowed to do this, I am just confused since I am already kubernetes member and kubectl maintainer.

[2018-03-14 04:16] adohe commented on #7269
the related issue: https://github.com/kubernetes/kubectl/issues/346

[2018-03-14 04:47] BenTheElder commented on #7269
You swapped the `d` and `o` in your username :-)
I've assigned you to the issue.

/close

[2018-03-14 04:47] #7269 closed

[2018-03-14 05:08] #7238 closed

[2018-03-14 05:09] BenTheElder opened #7272 "we should verify that gubernator config contains current jobs"
we already validate the presubmits in gubernator's config.yaml, we should also verify that the CI job entries match up to a job that exists currently.

/area gubernator

[2018-03-14 05:09] BenTheElder commented on #7272
related to https://github.com/kubernetes/test-infra/issues/7238

[2018-03-14 05:09] BenTheElder commented on #7272
/assign

[2018-03-14 09:29] kargakis commented on #7254
That's what happened - once I `lgtm`ed the PR, the status changed from the expected "Not mergeable. Missing lgtm" message to "Not mergeable" and stayed liked that for ever. Unclear whether we were ratelimited, we really need metrics for this.

[2018-03-14 11:33] K7king opened #7273 "Pointing Tests to a Kubernetes Cluster deployed on AWS"
I have a Kubernetes cluster deployed on AWS. My  kubectl is pointing to this cluster. I want to run this testing tools. To my understanding all these test scenarios are performed on local cluster it seems  Can someone help me on how to point to my  Kubernetes cluster  which is already running in AWS and perform these tasks

[2018-03-14 16:05] stevekuznetsov commented on #5944
@MHBauer are you planning on addressing your tech debt here?

/remove-lifecycle stale

[2018-03-14 16:16] BenTheElder commented on #7273
Which tests exactly? We have a lot of tests :-)
Having a suitable KUBECONFIG should generally already point them at your
cluster.

On Wed, Mar 14, 2018, 04:34 K7king <notifications@github.com> wrote:

[2018-03-14 16:23] K7king commented on #7273
I want to run E2E testing module

[2018-03-14 16:32] stevekuznetsov commented on #7273
/kind question

[2018-03-14 16:33] stevekuznetsov commented on #7273
As Ben mentioned, the accepted way to point a client at a server is through the `$KUBECONFIG` environment variable

[2018-03-14 16:43] K7king commented on #7273
I already set KUBECONFIG .
Can you please assist on a reference to follow to run the tests

[2018-03-14 17:35] BenTheElder commented on #7273
Documentation in our primary README links to here: https://github.com/kubernetes/test-infra/tree/master/kubetest which covers our e2e testing tool and its usage. There is also a large doc here: https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md

You can simply omit the `--up` and `--down` flags.

There generally isn't a single set of e2e tests, and it's not particu

[2018-03-14 17:44] ixdy commented on #4420
One additional note: the cross-building jobs also push images to `gcr.io/kubernetes-ci-images` (master and release branches). The master branch fastbuild job does not push any images.

This is why the master-branch kubeadm job reads from `ci-cross/`, rather than `ci/`.

The master branch fastbuild job is the real anomaly here.

[2018-03-14 17:46] BenTheElder commented on #4420
Perhaps we should normalize the master branch CI job to not be a fastbuild then and to push to the same location?

We already have a significantly faster CI `quick release` alternative with the bazel build+caching now that other jobs can consume.

[2018-03-14 17:52] kad commented on #4420
@ixdy but it looks that gcr.io/kubernetes-ci-images has some images from latest 1.10 builds from ci/ bucket.

[2018-03-14 18:20] ixdy commented on #4420
@kad right, I believe the `ci-kubernetes-build-beta` release-1.10 branch job is producing those.
https://k8s-testgrid.appspot.com/sig-release-1.10-all#build-1.10

[2018-03-14 19:25] BenTheElder commented on #7206
Done in #7276

[2018-03-14 19:25] #7206 closed

[2018-03-14 20:20] BenTheElder commented on #5949
I've been semi-quietly deprecating most use of the local SSDs. We can do git caching in the checkout container soon now that the pod utils are done, and this will no longer be an issue.

[2018-03-14 22:07] cjwagner opened #7279 "Change how Tide handles jobs with failing tests."
Tide doesn't really handle PRs with failing tests very well:
- PRs can appear in Tide's "Passing" column if they have failing status contexts that are not controlled by Tide (e.g. code coverage statuses or reviewable statuses).
- PRs that meet all label requirements, but have failing tests are considered to be in the tide pool, but won't become mergeable because Tide won't automatically retest PRs

[2018-03-14 22:08] cjwagner commented on #7279
cc @rmmh

[2018-03-14 22:36] BenTheElder commented on #7279
:+1:, I've been discussing with Quang that the user PR status page needs to reconcile with these third party statuses as well. xref https://github.com/kubernetes/test-infra/issues/7235

[2018-03-14 23:25] BenTheElder commented on #5486
/shrug
maybe we will revisit this someday, this could still be useful. I think not in the main job view though..

[2018-03-14 23:29] BenTheElder commented on #5486
/close

[2018-03-14 23:29] #5486 closed

[2018-03-14 23:33] kargakis commented on #6721
Not worth tracking

[2018-03-14 23:33] #6721 closed

[2018-03-15 00:53] #7128 closed

[2018-03-15 03:06] krzyzacy commented on #3330
/remove-lifecycle rotten
we definitely still need this :-\

[2018-03-15 10:42] kargakis opened #7294 "Prow dashboard does not allow me to filter errored jobs"
But shows to me that they exist (just one in this case but the point still stands).
![error](https://user-images.githubusercontent.com/3900799/37458501-7daf2efc-2845-11e8-9f15-3550de96bee9.png)
I couldn't printscreen with the state filter open so you have to trust me on this :)

@BenTheElder @qhuynh96

[2018-03-15 13:47] crassirostris opened #7295 "E2e tests are failing because of not-cleaned SD Logging sinks"
Example: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61134/pull-kubernetes-e2e-gce/26029/
Example project: k8s-jkns-pr-gce-etcd3

I don't have rights to see if these sinks are valid (i.e. created recently and will be cleaned up) or there was some error/panic and these sinks should be clean up manually

[2018-03-15 16:18] qhuynh96 commented on #7294
I trust you 👍 I investigated this and found that the state filter only take pre-submit jobs's state into account

https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/static/script.js#L35

I don't know what is the intention behind this. Maybe @cjwagner or @BenTheElder can confirm.

[2018-03-15 16:23] kargakis commented on #5279
I would love this to be as much generic as possible and not include Google-specific instructions like `gcloud`/`bazel` call-outs. Ideally, when I search through prow docs I want to learn how to configure jobs, where should I submit my changes, what each job type means, and potentially what each config knob means. For config documentation, we could potentially generate an openapi spec that uses god

[2018-03-15 16:26] kargakis commented on #7294
I can confirm that this was a postsubmit job.

[2018-03-15 16:31] qhuynh96 commented on #7294
Did you mean the error job was a post submit job?

[2018-03-15 16:34] qhuynh96 commented on #7294
Yup, so that explained why there is no error job in the filter. I can have a quick fix for this if there is no special reason by the state filter should be pre-submit only.

[2018-03-15 16:36] qhuynh96 commented on #7294
/assign

[2018-03-15 17:21] krzyzacy commented on #7295
is that a gcloud resource? if so you can add an entry in https://github.com/kubernetes/test-infra/blob/master/boskos/janitor/janitor.py#L30-L51

/assign

[2018-03-15 17:24] stevekuznetsov opened #7299 "prow: deck: show overview page for a ProwJob"
Right now we can see the full list of jobs that ran, but it would be great to be able to open up a single job and see at the very least the job specification that was used to run it -- the refs involved, etc.

/kind enhancement
/area prow
/cc @BenTheElder @qhuynh96

[2018-03-15 17:26] qhuynh96 commented on #7299
/assign

[2018-03-15 17:36] stevekuznetsov commented on #7299
FWIW `pjutil.JobSpec` describes the job's variables, so exposing that would be a great start.

https://github.com/kubernetes/test-infra/blob/37cdb7ce6625dffb1cf57ac31c1c15502a83be8b/prow/pjutil/jobspec.go#L35-L52

[2018-03-15 17:38] #5666 closed

[2018-03-15 17:40] #4460 closed

[2018-03-15 17:42] BenTheElder commented on #5962
/remove-lifecycle stale

[2018-03-15 17:47] BenTheElder commented on #7295
@krzyzacy https://cloud.google.com/logging/docs/reference/v2/rest/v2/projects.sinks ..?

[2018-03-15 17:54] BenTheElder commented on #7294
@rmmh also suggested that the displayed states below the filtering options ought to be clickable -> should go to that state being filtered.

[2018-03-15 17:55] BenTheElder commented on #7294
There shouldn't be any special reason for that code being only presubmit @qhuynh96

[2018-03-15 18:04] krzyzacy commented on #7295
https://cloud.google.com/sdk/gcloud/reference/beta/logging/sinks/delete

only in beta?

[2018-03-15 18:05] crassirostris commented on #7295
@krzyzacy Also in GA AFAICS: https://cloud.google.com/sdk/gcloud/reference/logging/sinks/delete

[2018-03-15 18:06] krzyzacy commented on #7295
yeah there's a lot:
[code]

I'll patch janitor, but why they leak in the first place?

[2018-03-15 18:08] crassirostris commented on #7295
I cleared them in the project to unblock the e2e tests

@krzyzacy

I don't know, here's the code: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/instrumentation/logging/stackdrvier/utils.go#L142

[2018-03-15 18:09] crassirostris commented on #7295
@krzyzacy What about job timeouts? Do they kill the process immediately?

[2018-03-15 18:10] krzyzacy commented on #7295
@crassirostris it should kill the ginkgo process, while give additional time for things like cluster cleanup

[2018-03-15 18:12] crassirostris commented on #7295
@krzyzacy In this case, ginkgo performs the cleanup, logging sinks are not related to the cluster objects.

[2018-03-15 19:06] stevekuznetsov commented on #7255
Dupe of #7222

/close

[2018-03-15 19:06] #7255 closed

[2018-03-15 21:35] qhuynh96 commented on #7299
Probably doing when I come back Australia :laughing:

[2018-03-16 00:02] krzyzacy commented on #7295
ref https://github.com/kubernetes/test-infra/pull/7311#issuecomment-373560401, janitor is pinned to gcloud 163.0.0 thus does not have ability to clean up logging sinks yet :-\ I'll... try to decouple that...

[2018-03-16 00:50] ixdy commented on #7295
we may also need to update `cluster/gce/list-resources.sh` to catch these leaks.

[2018-03-16 01:09] krzyzacy commented on #7295
[code]

logging sink doesn't have a creatimeTimeStamp?!

[2018-03-16 09:18] wojtek-t opened #7316 "kubemark tests are failing in 1.7 and 1.8 branches"
They are all failing due to:
[code]

Example run: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/61122/pull-kubernetes-kubemark-e2e-gce/81652/build-log.txt

This seems to be because:
- 1.7 and 1.8 branches are using older version of Golang
- sync.Map was introduced in Go 1.9

I'm not sure how to solve this problem thought...

[2018-03-16 09:19] wojtek-t commented on #7316
@kubernetes/test-infra-maintainers @krzyzacy

[2018-03-16 09:26] crassirostris commented on #7295
@summit FYI

[2018-03-16 12:29] liggitt commented on #7316
Kubemark rebuilds kubetest after 24 hours if stale. The go version in 1.7. and 1.8 won't build kubetest from master

[2018-03-16 12:31] liggitt commented on #7316
@krzyzacy build a new version of kubetest previously to buy us 24 hours, and added a `touch` call to make kubetest appear newer to prevent rebuild during the run, which looks like it didn't work

[2018-03-16 14:50] stevekuznetsov commented on #7299
Yeah! Or I can take a stab at it, too!

[2018-03-16 16:41] #7294 closed

[2018-03-16 16:48] krzyzacy commented on #7316
@liggitt I did not merge https://github.com/kubernetes/test-infra/pull/7290 yet due to the cluster up issue in gce

[2018-03-16 16:48] krzyzacy commented on #7316
http://k8s-testgrid.appspot.com/sig-testing-canaries#gce-canary went back to green, I'll kick that in

[2018-03-16 19:29] chrislovecnm opened #7322 "kops GCE e2e is broken"
I set the default image for aws testing and broke the default image for gce.

Need to set the default image for gce to 'n1-standard-1'

[2018-03-16 20:25] krzyzacy commented on #7316
I retested on linked PRs and they were passing, closing this

[2018-03-16 20:25] #7316 closed

[2018-03-16 23:25] ixdy commented on #7295
opened https://github.com/kubernetes/kubernetes/pull/61306 to get this resource included in `cluster/gce/list-resources.sh`.

[2018-03-16 23:58] oomichi commented on #6737
Here is the investigation results of this feature impact on my local environments.
By enabling the detail log of API operation, conformance tests are changed like
* Operating time: 1h17m41s -> 1h28m04s
* Log size: 807KB -> 30MB
The impact of the log size seems bigger than I expected TBH.
Maybe we need to choose a right CI job for enabling this feature to avoid the impact on most CI jobs.

[2018-03-17 02:07] k82cn commented on #7149
Alpha features are enabled and no behavior change to DaemonSet when `ScheduleDaemonSetPods` enabled, so we don-t need to highlight it; dependent DaemonSet's e2e test is enough.

[2018-03-17 02:07] #7149 closed

[2018-03-17 02:10] #4355 closed

[2018-03-18 17:49] #4994 closed

[2018-03-19 17:11] BenTheElder commented on #5536
@mtaufen has mentioned similar functionality for changes to flags before, I'm not working on this at the moment but I want to keep this open.

/remove-lifecycle rotten

[2018-03-19 19:14] #3329 closed

[2018-03-19 19:51] ixdy commented on #1906
any progress on this?

[2018-03-19 20:26] stevekuznetsov commented on #3342
Updated the checklist, highly encourage all to aid in the bike-shedding.

[2018-03-19 20:32] jennybuckley opened #7332 "Members should be able to add cherrypick-candidate label to PRs"
My understanding is that there is no command which allows any org member to add this label to their PR (at least according to [the list](https://prow.k8s.io/command-help)), despite [the guide](https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md) suggesting that the second step of cherry picking is putting that label on the PR.

Could be solved by the ```/cherrypi

[2018-03-19 20:34] jennybuckley commented on #7332
/area prow
/kind feature

[2018-03-19 22:05] BenTheElder commented on #7332
cc @kargakis who has an experimental external plugin for this IIRC
right now cherry picking functionality is not yet moved over to Prow, we should do this. 👍

[2018-03-19 22:17] #3368 closed

[2018-03-19 22:18] kargakis commented on #7332
We have been using the cherrypick bot for some months now in openshift as an external prow plugin and it has been working great.

[2018-03-19 22:19] kargakis commented on #7332
https://github.com/kubernetes/test-infra/tree/master/experiment/cherrypicker

Should be moved under https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/

[2018-03-19 23:41] #4825 closed

[2018-03-20 00:51] krzyzacy commented on #6840
self-reminder: the authentication is still not correct

[2018-03-20 09:08] cpanato commented on #1906
@ixdy I did not have time and it gets lost in my items. However, I can come back to this. I have some questions regarding kubetest, who is the best contact to clarify?

i apologize for this taking too much time

[2018-03-20 09:08] cpanato commented on #1906
/remove-lifecycle stale

[2018-03-20 17:18] BenTheElder commented on #4584
@krzyzacy any more news on this? probably still worth looking at.

[2018-03-20 17:20] krzyzacy commented on #4584
/lifecycle stale
yeah probably - we probably want a release pipeline for prow someday

[2018-03-20 21:14] BenTheElder commented on #7192
I'm going to meet with @apelisse soonish to discuss velodrome, then I'll take a look at refreshing the docs and handling redeployment for #7350.

[2018-03-20 22:48] spiffxp commented on #7251
I'm still not super sold on these labels TBH.  Personally I would have opted to hold out on adding the labels until we had the bot command for them to better flesh out the use cases.

Right now `/close` is limited to org members or authors, whereas I gather the intent of these labels is to allow anyone to identify candidates for closure.  Having different invocations of the same command limited to

[2018-03-21 16:14] #7077 closed

[2018-03-21 19:08] stevekuznetsov opened #7364 "prow: sidecar: upload more metadata about the job in finished.json"
While we figure out a long-term plan for job metadata in GCS, we need to shim the `sidecar` to upload more data into `finished.json` for backwards compatibility.

/kind bug
/area prow
/assign @rmmh

@rmmh as you're much more familiar with the fields and what they represent, can you either make the changes required or provide a JSON schema/struct definition for the data you'd like to see in `finish

[2018-03-22 00:07] sebastienvas commented on #7140
For istio, users tend to approve and wait for the test pass, so I am not sure that I want /approve to overwrite anything. I think in those case, it is OK for admin to manually merge a PR as this should be an exception. However the required check is something istio uses a lot. When we add new jobs, we like to have them stable for quite sometime before making them required, and we also want people t

[2018-03-22 00:10] BenTheElder commented on #7140
- /approve doesn't overwrite anything, `/skip` overrides *the github
statuses owned by prow that are not required to run against that PR*, the
job result / data is still in GCS etc.

- you can make sure a job is stable without displaying it on github with
`skip_report: true`, we do this all the time... you can check the stability
of the job on: deck, gubernator, testgrid

On Wed, Mar 21, 2018 at 5

[2018-03-22 00:12] sebastienvas commented on #7140
Yes but I want the job to report while it is stabilizing. Also we don't only use Prow.

[2018-03-22 10:37] K7king commented on #7273
It worked out. Thanks

[2018-03-22 13:15] dims opened #7371 "Install OpenLab Github app for kubernetes/cloud-provider-openstack"
For just the kubernetes/cloud-provider-openstack repository, can you please install the the "openlab-ci" github app: https://github.com/apps/theopenlab-ci.

A few of us from OpenStack community are building test infra for running Kubernetes on several OpenStack providers including several versions of OpenStack and would like to
- Report back on new PR(s) when unit/functional tests that need a real

[2018-03-22 13:15] dims commented on #7371
/assign @calebamiles

Caleb, Please redirect as appropriate

[2018-03-22 14:23] stevekuznetsov commented on #7140
I'm not sure we generally want to suggest this practice -- with large organizations, broadcasting to N developers working on PRs that job Z is a canary and should be ignored is very confusing. The point of reporting to GitHub is to give a developer feedback on their changes -- if the job is not stable, it's not giving any dev useful signal on their code.

That being said, it seems like we have laz

[2018-03-22 16:09] sebastienvas commented on #7140
The fact that github has the required check options suggests this is a valid use case, and a use case that people want to use. If all required checks are passing, github will show it is safe to merge, otherwise merge will be block. if we don't support required check, we have inconsistent messaging.

[2018-03-22 17:20] stevekuznetsov commented on #7140
I think we're talking about two entirely separate issues -- I meant to say that exposing a job that is not stable to developers through a status on their PR is a bad idea for your organization.

From a correctness for `tide` point of view -- the question posed by this original issue -- it does seem like we have agreement on optional status contexts. Should we only require those that are marked as

[2018-03-22 17:33] BenTheElder commented on #7371
/cc @spiffxp @fejta

[2018-03-23 04:11] kiwik commented on #7371
https://github.com/theopenlab/cicd-howto#connect-to-openlab

[2018-03-23 04:11] kiwik commented on #7371
This is a reference about how to access OpenLab.

[2018-03-23 14:16] hoegaarden opened #7389 "gubernator: broken links for repos with underscore in name"
gubernator seems to replace the `/` which separates org/user and the repo name in a repo's full name (`github.com/some_org`**/**`some_repo`) with a `_`. When gubernator then renders links which should point back to the github repo it replaces the `_` again with `/`.

This is incorrect for repos with a name which already contains a `_`.
For example for the repo `github.com/kubernets-sigs/testing_fr

[2018-03-23 14:45] #3858 closed

[2018-03-23 17:00] sebastienvas commented on #7140
I agree. Istio is far from being perfect and does not have the maturity that k8s has. We don't even have a 1.0 yet. It is possible that we will not use this feature in 6 months. As you know behavioral changes take time and patience.

I am working on a prototype code to get the required test working and the possibility to add all the other features, but I'll let those be implemented by people that

[2018-03-23 17:27] stevekuznetsov commented on #7123
/close

[2018-03-23 17:27] #7123 closed

[2018-03-23 17:29] kargakis commented on #7123
Fixed in https://github.com/kubernetes/test-infra/pull/7391

[2018-03-23 18:23] rmmh commented on #7389
We can resolve this specific issue in favor of `org/name_repo`, but we need to start including (and preferring) base repo information in started.json and finished.json.

[2018-03-23 19:13] BenTheElder commented on #7140
GitHub having anti-features is not the best argument :^) GitHub *also* lets you close issues & PRs  across repos with no way to block this (https://github.com/kubernetes/test-infra/issues/5032).

`REQUIRED` is mostly useful for controlling the merge button, devs still want all green checks.

That said, I do think we need a way to make checks optional. I don't think `REQUIRED` is the way to do it..

[2018-03-23 20:50] #3508 closed

[2018-03-24 00:12] chrislovecnm commented on #3330
Just put in the same functionality for GCE - https://github.com/kubernetes/kubernetes/pull/61619

This allows for other installers that do not mimic kube-up and do not have to set env variables that kube-up.sh expects.

[2018-03-24 02:06] chrislovecnm commented on #7322
/reopen

Still busted

[2018-03-24 02:10] chrislovecnm opened #7400 "One gcp vpc has a legacy vpc"
I will track down the region, but one of the gcp vpcs where e2e testing runs, has a legacy vpc. It probably should be deleted an recreated. This causes kops to not be happy since kops does not support legacy vpcs.

[2018-03-25 01:18] #4642 closed

[2018-03-25 07:24] #2143 closed

[2018-03-25 16:13] chrislovecnm opened #7404 "ginkgo erring with "Found no test suites""
I am trying to test kubetest and k/k changes with kops on gce.  I am getting this error from ginkgo:

[code]

That is the command that is being run after all the setup by `kubetest` and `hack/ginkgo-e2e.sh`.  Ginkgo is failing with "Found no test suites".  The command I think is running from the root Kubernetes directory, but I have not idea how Ginkgo finds the test suites.  Looked through the Gi

[2018-03-25 16:51] chrislovecnm opened #7405 "instructions with gofmt"
This is super picky, but wondering how we should handle this across the project.  We ran into issues with gofmt 1.9 vs 1.10 in kops.

[code]

So we need to have gofmt installed.  Should we be vendoring gofmt??  I would really like to get where I do not need to install go at all and use the go that is installed by bazel as much as possible.  Maybe I am dreaming.

At the least, how about we check fo

[2018-03-25 16:51] chrislovecnm commented on #7405
BTW ... goimports falls into this category as well ...

[2018-03-25 16:52] chrislovecnm commented on #7405
Actually I hit this because go was not installed at all, because I do not need it with bazel ....

[2018-03-25 23:40] #5200 closed

[2018-03-26 04:28] K7king opened #7410 "Kubemark Test-How to point to Master cluster"
/kind flake
/area test
/sig scheduling
/sig testing
/kind question
Is this a BUG REPORT or FEATURE REQUEST?:

/kind question

What happened:
I deployed a cluster on AWS. I want to run Kubemark test . By pre-existing they state to give configurations like this
CLOUD_PROVIDER="pre-existing"
KUBEMARK_IMAGE_MAKE_TARGET="push"
CONTAINER_REGISTRY=docker.io
PROJECT="rthallisey"
MASTER_IP="192.168.121.29:

[2018-03-26 07:48] #5126 closed

[2018-03-26 11:08] aleksandra-malinowska opened #7415 "Ubuntu e2e tests are failing with "Cannot operate on cluster using node os distro: custom""
DumpClusterLogs step is failing across test suites, e.g.:
- https://k8s-testgrid.appspot.com/sig-autoscaling-cluster-autoscaler#gke-ubuntu1-k8sbeta-autoscaling
- https://k8s-testgrid.appspot.com/sig-network-gke#gke-ubuntu1-k8sstable3-ingress

with `W0326 10:51:41.165] Cannot operate on cluster using node os distro: custom`

[2018-03-26 14:24] stevekuznetsov opened #7416 "tools: hack/update-bazel requires a network connection"
This was pretty frustrating on a 6h flight I expected to be productive on! We should not require a network connection for the most basic dev iteration flows.

/kind bug
/cc @BenTheElder @ixdy

[2018-03-26 14:33] #7389 closed

[2018-03-26 16:58] krzyzacy commented on #7415
/assign @yguo0905

[2018-03-26 17:00] yguo0905 commented on #7415
Waiting https://github.com/kubernetes/kubernetes/pull/61429 to be merged into 1.8.
I will create a cherry pick for 1.10 as well.

[2018-03-26 17:11] ixdy commented on #7416
ack, sorry. we need to resolve the three-way dependency on bazelbuild/buildtools (test-infra uses an incompatible version with gazelle), but other than that this should be easy to vendor.

/assign

[2018-03-26 17:15] cpanato commented on #1906
almost there. fighting to spin the cluster in my local machine

[2018-03-26 17:21] ixdy commented on #7405
This isn't quite doable in bazel yet, but bazel 0.12 is adding a `--direct_run` flag to `bazel run` which should allow running `gofmt` through bazel (though there might need to be a wrapper rule).

https://github.com/bazelbuild/rules_go/issues/511 is kinda a related issue, though not exactly the same.

[2018-03-26 17:59] BenTheElder commented on #7416
/area bazel
/priority important-soon
definitely agree, we need to get these vendored in a few places

[2018-03-26 18:32] krzyzacy commented on #7400
cc @MrHohn do we still use these?

@chrislovecnm which project it is, can you attach a build log?

[2018-03-26 18:36] MrHohn commented on #7400
Not that I know of. And if a specific job requires legacy VPC, it should use explicit project (pool) I think.

[2018-03-26 19:28] BenTheElder opened #7419 "dind e2e job does not use PR ref"
title. we should fix this, opening an issue so I don't forget while debugging something else with @krzyzacy

[2018-03-26 19:48] BenTheElder commented on #7419
/kind bug
/area jobs
/assign

[2018-03-26 19:54] ixdy commented on #7416
first part of untangling dependency versions in https://github.com/kubernetes/repo-infra/pull/65

[2018-03-26 21:29] BenTheElder commented on #7419
fixed in #7420

[2018-03-26 21:29] #7419 closed

[2018-03-26 23:27] krzyzacy opened #7426 "Gerrit has a different pull_ref than github"
for github, it looks like `+refs/pull/${PR}/head:refs/pr/${PR}`

for gerrit, it'll be `refs/changes/00/${PR}/${Revision}`

fyi @stevekuznetsov I can hack bootstrap, but maybe podutil should make this flexible?

[2018-03-26 23:27] krzyzacy commented on #7426
/area prow

[2018-03-27 00:27] BenTheElder commented on #6939
looks like possibly close/reopen worked? https://github.com/kubernetes/sig-release/pull/97

[2018-03-27 00:49] #7416 closed

[2018-03-27 02:06] #5233 closed

[2018-03-27 05:30] michelle192837 commented on #5233
/reopen

Actually missed this. I think this is a thing that is not necessarily happening this quarter, but is worth discussing integration for (maybe for Q3 unless someone wants to tackle it sooner).

[2018-03-27 14:24] stevekuznetsov commented on #6939
Alternatively, understanding how the CLA bot works would help.

[2018-03-27 14:36] kargakis commented on #6939
+1

On Tue, Mar 27, 2018 at 4:24 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2018-03-27 18:01] stevekuznetsov opened #7437 "tools: a number of targets are not cached and make bazel test //... slow"
The majority of targets are cached without issue, but a couple (notably `pylint`) make `bazel test //...` really slow and annoying. Here's a run with one `BAZEL.build` file changed between this run and the last one:

[code]

We should figure out how to make `pylint` and `spelling` and `boilerplate` incremental or faster.

/cc @ixdy @BenTheElder @rmmh

[2018-03-27 18:10] BenTheElder commented on #7437
they python targets are not really cacheable because they take in the whole repo and aren't properly hermetic, we've got lints in a separate job while we decide what to do with them.

not sure about the velodrome / boskos tests.

[2018-03-27 18:10] stevekuznetsov commented on #7437
Looks like `pylint` and `spelling` already parallelize, but `boilerplate` does not -- no super simple throughput wins that I can see. Maybe there is some `bazel` magic that can make `pylint` not run when no Python files have changed?

The `velodrome` and `boskos` got cached correctly, just didn't elide them from the output.

[2018-03-27 18:21] BenTheElder commented on #6939
The CLABot seems to react to github events and then check the commit emails against a database, we  can prod the bot by commenting but we can't similarly prod prow if it misses the cla status event.

[2018-03-27 18:28] BenTheElder commented on #7437
https://github.com/kubernetes/test-infra/pull/7041 took care of all of that
short of making them manual. you can run bazel test ... with --config=unit
or --config=lint

On Tue, Mar 27, 2018 at 11:23 AM Jeff Grafton <notifications@github.com>
wrote:

[2018-03-27 19:34] stevekuznetsov commented on #7437
Yeah I guess I was hoping for one button that would do Go unit + Go lint + boilerplate + bazel verify, basically everything that I would generally hit if I were iterating on Prow, but not other targets. Maybe I'm just imagining a world where `prow` is in it's own repo :)

[2018-03-27 19:36] stevekuznetsov commented on #6939
Can we ask the maintainers of the bot to give us their SLA or API or whatever so we're not guessing? Who can see that code? (Also why is the CNCF bot code closed?)

[2018-03-27 19:39] stevekuznetsov opened #7438 "prow: clonerefs: bound the number of parallel clones"
We should expose as a config option and a flag the maximum number of parallel clones that we want to happen.

/cc @fejta
/assign

[2018-03-27 19:39] stevekuznetsov commented on #7438
/kind enhancement
/area prow

[2018-03-27 19:39] stevekuznetsov commented on #7438
/kind feature
???

[2018-03-27 20:27] rmmh commented on #7437
It's possible to do incremental/cached pylint results too, but probably not inside of bazel.

[2018-03-27 21:18] fejta commented on #7404
How are you invoking gingko? Ideally you do this through kubetest

[2018-03-27 21:32] Q-Lee commented on #5542
dind definitely depends on debs, so that should be touched in CI soon (albeit sub-optimally).

[2018-03-27 22:53] dims commented on #7404
the `--test_args` looks bad @chrislovecnm here's what i usually use, can you try that? if that works then you can fiddle with the test_args to what you need

[code]

[2018-03-28 04:24] K7king commented on #7410
Thanks @BenTheElder

[2018-03-28 04:24] #7410 closed

[2018-03-28 05:03] jlewi commented on #7140
Would it be possible to have an explicit command to tell tide to ignore failed status checks and merge the PR?

Since filing this request I've encountered this issue with a number of different status checks reviewable, coveralls, Google CLA status check (and potentially many others).

For some of these, like the Google CLA check its easy to get a status check which will never pass and not due to a

[2018-03-28 05:27] fejta commented on #7140
How about a command trusted people can use to override a failing context?

[2018-03-28 08:09] cpanato commented on #1906
PR: https://github.com/kubernetes/test-infra/pull/7447

[2018-03-28 11:00] kargakis opened #7449 "tide status does not inform about pending jobs"
When a PR has all the labels set but waits on one or more pending jobs, tide just reports that the PR is in the merge pool. It should pick a pending job and state that it's waiting for it to finish.

/area prow
/kind bug

@cjwagner @stevekuznetsov

[2018-03-28 11:07] kargakis opened #7450 "tide: allow exclusion of branches from merge pool"
We want to shutdown merges to master when a Kubernetes rebase lands but continue merging to release branches. It should be easy to update tide's config to support this.

@cjwagner @stevekuznetsov @mfojtik @deads2k

/area prow
/kind enhancement

[2018-03-28 12:41] kargakis commented on #7450
Yeah, I just gave a concrete use case for which  "selective branch merging" is needed :)

Btw the SQ is off for ever. Now, merges in Origin are handled by a different service with better prow integration.

[2018-03-28 14:52] stevekuznetsov commented on #7140
We will need to require `/override` for every stuck context -- so if you override one, the author pushes new code and a new status is added that is stuck (Coveralls re-triggered for instance), someone will need to `/override` it again. As long as we message that correctly, seems like a reasonable feature but also distinct from the original ask here.

[2018-03-28 15:42] cjwagner commented on #6035
This is complete.
ref #6205
/close

[2018-03-28 15:42] #6035 closed

[2018-03-28 16:09] stevekuznetsov commented on #7449
/assign

[2018-03-28 16:09] stevekuznetsov commented on #7450
/assign

[2018-03-28 16:09] stevekuznetsov commented on #7140
/assign

[2018-03-28 16:18] stevekuznetsov commented on #7450
The query syntax doesn't allow for branches to be specified... do we want to do milestones instead? How is the k8s code freeze process going to integrate with `tide`?

/cc @cjwagner

[2018-03-28 16:48] cjwagner commented on #7450
@stevekuznetsov Branches **can** be specified in with the query syntax: https://help.github.com/articles/searching-issues-and-pull-requests/#search-based-on-branch-names

The query syntax isn't great for milestones. If you specify multiple milestones Github seems to return results for any milestone, not just the ones listed. So in order to consider PRs for multiple milestones we would need to use

[2018-03-28 17:00] stevekuznetsov commented on #7450
Looks like I am totally blind :O

[2018-03-28 18:42] chrislovecnm commented on #7404
@fejta

I am executing kubetest and at the end of the day it runs ginkgo, and that is failing.

@dims the nutty thing is that I am copying the arguments from a test that runs.  We do not have a focus setting on the e2e test, we just pass in the skips.  I will try the focus, and also try not doing a local build.  My need is to test changes that I am working on for ginkgo-e2e.sh script in the main r

[2018-03-28 18:44] jlewi commented on #7140
@stevekuznetsov seems perfectly reasonable to me.

[2018-03-28 18:44] dims commented on #7404
@chrislovecnm show me the url for the job's logs please?

[2018-03-28 19:41] chrislovecnm commented on #7404
Here is one - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-gce/6891

[code]

That was how ginkgo-e2e.sh was executed by kubetest.

[2018-03-28 19:44] chrislovecnm commented on #7404
Another example for aws test - https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-canary/8012/build-log.txt

here is the way it is being run
[code]

All of this is being started by running kubetest.

[2018-03-28 20:00] kargakis opened #7458 "Link batch in tide frontend back to the batch in the main deck page (Prow Status)"
Something convenient that the SQ had and is missing from tide.

/area prow

@BenTheElder @stevekuznetsov @cjwagner

[2018-03-28 20:30] BenTheElder commented on #7458
/kind enhancement
/help

[2018-03-28 20:35] krzyzacy opened #7459 "Dropping CI support for 1.7"
since 1.10 is out.
/assign

cc @wojtek-t I think I'm gonna wait until the last 1.7 release cut, sounds good to you?

[2018-03-28 20:36] BenTheElder commented on #7459
/cc
:+1:

[2018-03-28 22:51] krzyzacy commented on #3361
I don't think we want to do this anymore.

[2018-03-28 22:51] #3361 closed

[2018-03-28 22:52] krzyzacy commented on #3322
/unassign
/assign @fejta

[2018-03-28 23:08] dims commented on #7371
Counter proposal (after a chat with @fejta) - Is it possible to write a prow plugin similar to what we had with jenkins before? to interact with Zuul/OpenLab CI. code for jenkins plugin is https://github.com/kubernetes/test-infra/tree/master/prow.

[code]

[2018-03-29 02:55] kiwik commented on #7371
OpenLab CI/CD system based on OpenStack Zuul, currently Zuul can connect to Github project by using Github APP or Webhook [1], both of that should be set in project side, Github APP is more easy way, so we create OpenLab APP [2] that require minimum privilege to report the test result in RP comments, you can see details in APP install page. Currently Zuul don't support prow yet, so if we want to t

[2018-03-29 06:49] wojtek-t commented on #7459
Yeah - let's wait couple more days - I would like to cut one more last 1.7 release and then we should drop the CI support.

[2018-03-29 08:35] kargakis opened #7466 "tide status controller fails continuously with 502"
[code]
@stevekuznetsov @bbguimaraes @cjwagner

[2018-03-29 11:34] dims commented on #7371
@fejta had a discussion with the zuul team. http://eavesdrop.openstack.org/irclogs/%23zuul/%23zuul.2018-03-29.log.html#t2018-03-29T02:36:51

So far it seems like the Webhook or App is what would work as Zuul needs better support for triggers. I can drop by sig-testing meeting and we can talk a bit more.

thanks,
Dims

[2018-03-29 19:06] dims opened #7475 "New prow plugin for invoking github-style webhooks"
based on discussion in https://github.com/kubernetes/test-infra/issues/7371

Since Zuul supports github webhooks, if we can write a prow plugin that could end up making similar calls to the zuul github webhook endpoint, it would make the integration very simple. The current approaches of the Github App and plain webhook both change the user experience for those specific jobs. Specifically, we shou

[2018-03-29 19:12] dims commented on #7475
/assign @dims

[2018-03-29 19:36] fejta commented on #7475
In order to support `/test` and `/retest`, we need:

* to be able to write prow jobs with an `agent: openlab` or `agent: zuul`
* have a zuul/openlab controller running in the prow cluster, which sends a `POST` or whatever command to zuul/open label when new ProwJobs arrive with the `agent: openlab/zuul`, this is how jenkins integration works. Something like [what tristanC posted](http://eavesdrop.

[2018-03-29 19:40] fejta commented on #7371
Officially the rules for [core repositories](https://github.com/kubernetes/community/blob/master/kubernetes-repositories.md#rules-2) ask to adopt kubernetes automation, so that we have a consistent experience across the org.

The best way to do this is to integrate prow with openlab/zuul, just like it does with kubernetes and jenkins.

That way we ensure that we can define and configure when/wheth

[2018-03-29 21:09] yujuhong opened #7477 "[Feature request] Boskos can suggest gcp region/zones"
Boskos already suggests what (GCP) project to use for a test job if it's not specified in the job configuration. If Boskos can be extended to suggest what GCP region/zone to use when it's not set, we can further trim down the flags in the configuration.

/cc @krzyzacy

[2018-03-29 23:01] ixdy commented on #7227
/assign

I'm working on a few changes to bootstrap which will set `SOURCE_DATE_EPOCH` for more reproducible builds, as well as lying about merge commit times when testing PRs.

[2018-03-30 00:15] #5256 closed

[2018-03-30 12:46] bskiba opened #7486 "Diffresources fails on gce due to resources from test running in parallel."
In our autoscaling e2e test suits we have some dedicated projects that we run tests in. There can be two tests running in the same project simultaneously.

The tests themselves are fine and they don't interfere with each other, but there are fails in diffresources (see for example: https://k8s-testgrid.appspot.com/sig-autoscaling-cluster-autoscaler#gci-gce-autoscaling). The problem is that diffres

[2018-03-30 16:51] rmmh commented on #6986
We can make Gubernator proxy the logs-- the simplest method would be to make the javascript retry 403s from storage on some proxy endpoint on Gubernator.

[2018-03-30 17:17] rmmh commented on #5927
This was fixed in #6209.

The links here now work: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-default-latest-upgrade-cluster-new/307/

[2018-03-30 17:17] #5927 closed

[2018-03-30 17:18] rmmh commented on #5927
Mostly-- there's still a few broken links because upgrade tests run code that isn't always the same as the version that's in the build metadata. ¯\_(ツ)_/¯

[2018-03-30 18:02] #7272 closed

[2018-03-30 19:01] rmmh commented on #4540
This was fixed in #6209.

[2018-03-30 19:01] #4540 closed

[2018-03-30 19:02] rmmh commented on #6502
xref: #4301

[2018-03-30 19:03] rmmh commented on #4298
Fixed in #6230.

[2018-03-30 19:03] #4298 closed

[2018-03-30 19:03] rmmh commented on #2987
Fixed in #7144.

[2018-03-30 19:03] #2987 closed

[2018-03-30 19:04] #5163 closed

[2018-03-30 19:26] rmmh commented on #6986
Let's handle the client-side in #7063.

[2018-03-30 19:26] #6986 closed

[2018-03-30 19:34] #3320 closed

[2018-03-30 19:57] #7063 closed

[2018-03-30 20:37] BenTheElder commented on #3083
I don't think there's API access to this yet but they're definitely tracking first time contributors in the GitHub web interface now.

[2018-03-30 21:15] calebamiles commented on #7475
App installed for `cloud-provider-openstack` repository

[2018-03-30 22:17] dims commented on #7475
Thanks @calebamiles !

[2018-03-30 22:25] BenTheElder commented on #7486
`ci-kubernetes-e2e-gci-gce-autoscaling` sets the following flag in its `jobs/config.json` entry:

I suspect this flag is not meant to be safe with multiple jobs running in the same project. @krzyzacy

[2018-03-30 22:37] #1731 closed

[2018-03-30 22:37] #4352 closed

[2018-03-30 22:37] #4501 closed

[2018-03-30 23:34] chrislovecnm commented on #6084
/lifecycle frozen
/remove-lifecycle stale

[2018-03-31 07:17] chrislovecnm commented on #5916
This is up and running working on gce now

[2018-03-31 07:17] #5916 closed

[2018-03-31 18:37] kargakis opened #7501 "tide search cannot get back PRs for private repos"
How to reproduce:
* build https://github.com/kubernetes/test-infra/pull/7500
* reuse the tide token
* ensure that a PR satisfies a tide query for a private repo
* run https://github.com/kubernetes/test-infra/pull/7500

No PRs are returned for private repos.

@stevekuznetsov seeing this with online-registration

[2018-03-31 19:07] kargakis commented on #7371
Agreed with @fejta

Ideally you should build a client to talk to the zuul api and a controller that handles prowjobs of `agent: zuul` type (see the [jenkins operator](https://github.com/kubernetes/test-infra/tree/master/prow/jenkins) as an example). The controller should be responsible for starting jobs in zuul based on prowjobs and report status back to github.

Then you can reuse all of the exis

[2018-03-31 19:30] kargakis commented on #7475
I don't think you need to involve github webhooks from the zuul side if you want prow integration.

Github webhooks ---> prow hook endpoint ---[CREATE prowjobs]---> **prowjob controller** ----> github status

You only need to write a prowjob controller that knows how to poll the zuul api. At least, that's what we do today with Jenkins.

[2018-03-31 23:01] #3694 closed

[2018-04-02 02:18] dims opened #7505 "Expired key - "Google Cloud Packages Automatic Signing Key""
http://pgp.mit.edu/pks/lookup?op=vindex&search=0x3746C208A7317B0F

Reported by ttys0 on #kubernetes-users

looks like a lot of people use
[code]

and then use that to install kubeadm, kubectl etc.

[2018-04-02 02:19] dims commented on #7505
/assign @ixdy
/assign @fejta

[2018-04-02 05:47] krzyzacy commented on #7486
yeah, @bskiba feel free to disable the flag for your job

[2018-04-02 12:51] calebamiles commented on #7505
/assign

[2018-04-02 18:07] stevekuznetsov opened #7506 "prow: entrypoint: send SIGTERM, give pause, then send SIGKILL on timeout"
Should be more consistent with this pattern in `entrypoint`. See https://github.com/kubernetes/test-infra/pull/7470#discussion_r178185857

/kind bug
/area prow
/assign

[2018-04-02 18:09] stevekuznetsov opened #7507 "prow: entrypoint: log exit code of process"
See https://github.com/kubernetes/test-infra/pull/7470#discussion_r178186212

/kind bug
/area prow
/assign

[2018-04-02 18:10] stevekuznetsov opened #7508 "prow: entrypoint: determine how to best test the core flow"
Lots of logic in the flow:
 - error on fail to create process log
 - error and 127 in marker file on fail to start command (is an empty marker file allowed?)
 - error if fail to write marker file
 - timeout kills process and returns error
 - writes the return code to marker file if command complete
 - returns error if writing the marker file on completed command fails
 - returns nil on success

Se

[2018-04-02 18:51] cjwagner commented on #5276
/help

[2018-04-02 18:55] cjwagner commented on #7501
Is the bot a member of the private organization/repo? Our Tide instance works properly on private repos.

[2018-04-02 18:57] BenTheElder commented on #5276
it would be great if this were per-repo configurable, so we could use it for modifying the milestones in non-core repos with different groups as well...

[2018-04-02 18:58] BenTheElder commented on #5276
/remove-lifecycle rotten
/cc @amwat

[2018-04-02 19:07] #7450 closed

[2018-04-02 20:08] kargakis commented on #5334
@stevekuznetsov has a proposal that would satisfy this if implemented

/assign stevekuznetsov

[2018-04-02 20:19] krzyzacy commented on #6104
/remove-lifecycle stale

[2018-04-02 20:32] #1906 closed

[2018-04-02 20:43] fejta commented on #7505
/unassign

[2018-04-02 20:53] calebamiles commented on #7505
/assign @mikedanese

[2018-04-02 21:00] cjwagner commented on #7501
If you log in as the bot can you view/search for the PRs?

[2018-04-02 21:00] mikedanese commented on #7505
New keys were pushed:
[code]
You can either rerun your command:
[code]
Or run something like:
[code]

[2018-04-02 21:02] janetkuo opened #7510 "k8s-ci-robot adds lgtm to PRs without reviewer's lgtm"
Does @k8s-ci-robot add `lgtm` to some PRs (such as cherrypicks) automatically?

For example, in https://github.com/kubernetes/kubernetes/pull/61797 (a cherrypick), the bot adds `lgtm` even though no reviewers have commented "lgtm".

IMO, the bot shouldn't do so although the original PR has been lgtm'd. Sometimes a cherrypick isn't exactly the same as the original fix, because the code was changed

[2018-04-02 21:14] rmmh commented on #7510
No, it doesn't do that. @bowei made a comment "/lgtm /approve", and then deleted it 30 seconds later. `/lgtm cancel` should have been used to remove the lgtm-- the bot doesn't remove labels on when comments are deleted.

[2018-04-02 21:15] ttyS0 commented on #7505
Yay!

`apt update` is happy again.

Thanks!

[2018-04-02 21:16] rmmh commented on #7438
Why?

[2018-04-02 21:18] rmmh commented on #7299
Do you want a linkable page on prow to show a job's details? If you click the rerun button and follow the link, you can see the pod spec.

[2018-04-02 21:19] #7505 closed

[2018-04-02 21:36] janetkuo commented on #7510
Thanks @rmmh. Closing as the bot is doing the right thing.

[2018-04-02 21:36] #7510 closed

[2018-04-02 22:12] stevekuznetsov commented on #7501
/area prow
/kind bug
/assign @cjwagner

[2018-04-02 22:16] stevekuznetsov commented on #7501
This was a dumb permissions error.
/close

[2018-04-02 22:16] #7501 closed

[2018-04-02 22:39] BenTheElder opened #7513 "upgrade to go 1.10.1"
xref: https://github.com/kubernetes/kubernetes/pull/60597

/area images
/assign

[2018-04-02 23:02] BenTheElder commented on #3324
AFAIK this is still ongoing
/remove-lifecycle stale

[2018-04-02 23:14] amwat commented on #5276
Hasn't this been fixed when we [migrated from using milestonestatus to milestone instead](https://github.com/kubernetes/test-infra/commit/77ba0bb8e2b99754f4b8159a7efcdb293dbad947) as described [here](https://github.com/kubernetes/test-infra/blob/1027cba002af307fbbfef8da0e8a136fb084b2c0/prow/plugins/milestone/milestone.go#L57)? or is it not per repo yet.

[2018-04-02 23:19] cblecker commented on #7513
Note that https://github.com/kubernetes/kubernetes/pull/60599 will need to be merged shortly after CI is upgraded.

[2018-04-02 23:29] cjwagner commented on #5276
@amwat Those plugins are distinct, there was no plugin migration, they just share some configuration. This is still a problem:
https://github.com/kubernetes/test-infra/blob/1027cba002af307fbbfef8da0e8a136fb084b2c0/prow/plugins/milestonestatus/milestonestatus.go#L37

[2018-04-02 23:35] rmmh commented on #2580
Those 500s are from listing taking too long.

[2018-04-02 23:36] BenTheElder commented on #7513
This PR will update the e2e images, though for kubernetes we're generally not actually using the go installed with them [using it from the build images via dind, or from bazel] (other repos that stay in sync with kube do though). https://github.com/kubernetes/test-infra/pull/7515

Making another PR to upgrade the image used by verify, which will need to be in sync with your k/k PR @cblecker

[2018-04-03 00:03] BenTheElder commented on #7513
https://github.com/kubernetes/test-infra/pull/7517

[2018-04-03 00:59] BenTheElder opened #7520 "clean up after package installs in test images"
https://github.com/kubernetes/test-infra/pull/7519#discussion_r178689026

/area images
/assign
/assign @krzyzacy

[2018-04-03 03:19] BenTheElder commented on #6050
/remove-lifecycle stale

[2018-04-03 04:36] fejta opened #7524 "Enable protect-by-default on all kubernetes org repos"
Will your repo not work with the [branch protector](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/branchprotector)? Note why here

/area prow

[2018-04-03 04:39] fejta opened #7525 "Allow branch protector to require reviews"
https://developer.github.com/v3/repos/branches/#update-branch-protection

Add support for the following:
* `required_approving_review_count`
* `require_code_owner_reviews`
* `required_pull_request_reviews`

/area prow

ref https://github.com/kubernetes/test-infra/issues/7524

[2018-04-03 04:39] fejta commented on #7525
Needed by `kubernetes/dashboard`

[2018-04-03 04:50] fejta commented on #6502
Have you looked at https://github.com/bazelbuild/rules_appengine#py_appengine_binary and py_appengine_test?

[2018-04-03 04:51] fejta commented on #4824
250!

[2018-04-03 06:14] bgrant0607 commented on #4179
Why does this PR have a ridiculous number of reviewers?
https://github.com/kubernetes/kubernetes/pull/60771

[2018-04-03 08:26] kargakis commented on #4179
The algorithm that requests reviews has changed recently; see https://github.com/kubernetes/test-infra/pull/5960

This was an issue in Openshift for folks so we reverted back to the old algorithm (https://github.com/kubernetes/test-infra/pull/6647 + https://github.com/openshift/release/pull/579) but I haven't seen any formal discussion about this in Kube.

[2018-04-03 08:47] cpanato commented on #1351
/remove-lifecycle stale

[2018-04-03 08:48] cpanato commented on #1351
will work on this now

[2018-04-03 14:24] kargakis commented on #6295
Seems like an issue in the new algo

/reopen
/assign cjwagner

[2018-04-03 16:38] sebastienvas commented on #6104
istio is almost done. the last part if getting approval on https://github.com/kubernetes/test-infra/pull/7457

[2018-04-03 16:46] stevekuznetsov commented on #7299
Yes, a nice table with good formatting showing me what the job was that ran -- a step up in UX from the `PodSpec`.

[2018-04-03 16:46] stevekuznetsov commented on #7299
/asign

[2018-04-03 16:46] stevekuznetsov commented on #7299
/assign

[2018-04-03 16:46] stevekuznetsov commented on #7438
@fejta requested it

[2018-04-03 16:54] cblecker commented on #4179
As for this particular issue, @cjwagner sent a message to k-dev, and we haven't received any negative feedback. I'm fine with leaving this as-is for the time being.

/remove-help
/close

[2018-04-03 16:54] #4179 closed

[2018-04-03 17:43] spiffxp commented on #1795
I think the open question is what labels if any should be used in conjunction with the cherrypicker bot to make a release branch manager's life easier

[2018-04-03 17:45] spiffxp commented on #6908
I think this is something we'd want to do to make kubernetes release branch managers' lives easier.  The release team pays close attention to number of PR's in milestone during burndown.  Unclear to me how useful this is for patch release managers, but I'm assuming it is

[2018-04-03 17:50] spiffxp commented on #5085
/remove-lifecycle stale
/lifecycle frozen

[2018-04-03 17:55] BenTheElder commented on #6502
I don't think I had, actually... That looks useful :man_shrugging:

[2018-04-03 17:55] spiffxp commented on #1795
Other cherry pick improvement links:
- https://github.com/kubernetes/test-infra/issues/7332 - members should be able to add cherrypick-candidate label to PR's (I think the cherrypick bot obviates this?)
- https://github.com/kubernetes/test-infra/pull/7345 - move cherrypicker experiment to prow external plugin
- https://github.com/kubernetes/test-infra/pull/7393 - deploy cherrypicker external plugi

[2018-04-03 18:53] stevekuznetsov opened #7532 "prow: gcsupload: write integration tests for filesystem interactions"
We need to write an integration test that verifies that the combination of configuration and filesystem state generates the correct set of upload targets.

/cc @fejta
/area prow
/kind feature
/assign

[2018-04-03 19:30] kargakis commented on #6908
Needs to be implemented behind a flag.

[2018-04-03 21:14] BenTheElder commented on #7235
/assign

[2018-04-03 21:28] fejta commented on #7524
kubernetes/dashboard needs the ability to configured the number of require reviewers - https://github.com/kubernetes/test-infra/issues/7525

[2018-04-03 22:52] cblecker opened #7540 "prow: approve: suggest author if able"
If implicit self-approve is off, and the author is able to approve for any files in the PR, suggest the author as an approver for their PR.

---
/kind feature
/area prow
/cc @cjwagner

[2018-04-03 23:56] mithrav commented on #4824
/assign @AishSundar

[2018-04-03 23:56] mithrav commented on #4824
Also adding Aish =)

[2018-04-04 00:02] AishSundar commented on #4824
/assign

[2018-04-04 00:02] BenTheElder commented on #5085
/assign @Q-Lee @amwat @bentheelder

[2018-04-04 00:04] AishSundar commented on #4824
@krzyzacy Thanks :)

[2018-04-04 00:06] krzyzacy commented on #4824
/assign @AishSundar

[2018-04-04 17:25] tpepper opened #7549 "add ToC to label_sync/labels.md"
The fancy new https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md is awesome, but it's also a veeery long page.  A table of contents or something for a header reference to hint up front to the reader that there are multiple interesting sections further down the page would be useful.

[2018-04-04 17:25] tpepper commented on #7549
/assign @spiffxp

[2018-04-04 18:06] bskiba commented on #7486
Thanks! Closing

[2018-04-04 18:06] #7486 closed

[2018-04-04 18:12] spiffxp commented on #7251
Based on discussion during today's contribex meeting and comments at https://github.com/kubernetes/community/pull/1970 it seems like consensus is to move ahead with this suggestion.  Please correct me if I'm wrong @spzala @cblecker

/sig contributor-experience

[2018-04-04 19:06] spzala commented on #7251
Thanks @spiffxp I will be creating a PR to rename these labels. There is one more thing that was discussed outside the contribX meeting under https://github.com/kubernetes/community/pull/1970 was that, can we rename "kind/support" to "triage/support-request" (as @cblecker suggested or something related) to keep all labels related to triage under "triage/*", considering kind/support is targeted for

[2018-04-04 19:11] #7227 closed

[2018-04-04 19:17] cblecker commented on #7251
Whipped up a quick PR to add support for the triage class of labels to the label plugin.

This would allow the `/triage need-information` command to add the `triage/need-information` label.

[2018-04-04 22:14] shyamjvs commented on #5677
This feature request has now been implemented with the above PRs merged.

[2018-04-04 22:14] #5677 closed

[2018-04-04 22:47] #7251 closed

[2018-04-04 23:30] BenTheElder commented on #7513
/close

[2018-04-04 23:30] #7513 closed

[2018-04-05 01:31] rmmh opened #7561 "tide batches newest PRs instead of oldest"
This means the same pool can be repeatedly tested and fail while the oldest PRs are tested and merged serially. Batches and serial tests should operate on the same queue, not different ends!

![image](https://user-images.githubusercontent.com/211868/38342987-4e55c9e4-3836-11e8-8ccf-d10942a9a644.png)

[2018-04-05 01:32] BenTheElder commented on #7561
/kind bug
/cc @cjwagner @kargakis @stevekuznetsov

[2018-04-05 02:56] cjwagner commented on #7561
This problem was introduced when we switched from unbounded batches to bounded batches. I think that all we need to do is sort the PRs by increasing number before looping through them in `pickBatch()`.

[2018-04-05 14:45] stevekuznetsov commented on #7561
Why did we bound batches? Why not do log(N) batches of size 1,2,4,...log(N) ?

[2018-04-05 14:47] stevekuznetsov opened #7566 "prow: gcsupload: allow for an optional prefix to GCS structure after bucket"
The paths will then be `gs://<bucket>/<prefix>/<<structure>>/<subdir>/<<content>>`

See also https://github.com/kubernetes/test-infra/pull/7528#discussion_r178901514

/kind bug
/area prow
/assign

[2018-04-05 17:57] mithrav commented on #6737
@BenTheElder is it possible to leverage the coverage measurement script you built to publish results to testgrid or is that orthogonal?

[2018-04-05 18:32] cjwagner opened #7571 "Prow's repoowners package should allow for a configurable label blacklist"
This blacklist would ban certain labels from the `labels:` section of OWNERS files in order to prevent those labels from being automatically added to PRs.

The primary use case would be to ban labels like `lgtm` and `approved` to make it harder to circumvent these processes by exploiting the owners-label plugin.
As @cblecker noted in slack:

/area prow
/help

[2018-04-05 18:34] BenTheElder commented on #7561
I would also like to know why we are bounding batches. This sounds more reasonable to me.

[2018-04-05 18:55] mithrav commented on #5231
/assign @mithrav
Assigning myself as I look through this more.

[2018-04-05 20:02] cjwagner commented on #7561
I agree that we shouldn't be bounding batches, their size should be dynamic. Either way the batch size won't be the entire pool though, so we will still need to sort the PRs.

Multiple batches sounds good to me, but will require a bit of a rework of Tide. Currently it is designed to work with one pending batch per subpool.

[2018-04-05 22:20] BenTheElder commented on #6737
I think this is orthogonal.
Testgrid also may not be best for publishing coverage results unless maybe we bucketed coverage somehow and considered each bucket to be "passing" or "failing" above some percentage. We might need something like [the perf dashboard](http://perf-dash.k8s.io/) instead.

[2018-04-06 03:00] #7507 closed

[2018-04-06 03:02] stevekuznetsov opened #7585 "prow: hook: time-based test flakes"
Seen: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/7582/pull-test-infra-bazel/15198/#prowhookgo_default_test

[code]

/area prow
/kind bug
/cc @cjwagner @BenTheElder

[2018-04-06 03:05] stevekuznetsov commented on #7299
I'm actively working on this.

[2018-04-06 03:06] stevekuznetsov commented on #7222
Haven't seen it since.
/close

[2018-04-06 03:06] #7222 closed

[2018-04-06 03:06] stevekuznetsov commented on #6909
Haven't seen it since
/close

[2018-04-06 03:06] #6909 closed

[2018-04-06 03:09] qhuynh96 commented on #7299
Thanks Steve

[2018-04-06 03:24] stevekuznetsov commented on #7561
We did it here: https://github.com/kubernetes/test-infra/pull/5953

Maybe we can just revert that?

[2018-04-06 03:33] qhuynh96 commented on #7299
I just have a quick look at the prototype. Is Job Status going to display all jobs as Prow Status does?

[2018-04-06 05:05] fejta commented on #7438
Heh no longer remember why I suggested this, but thanks for fixing! 😁

[2018-04-06 05:06] #7438 closed

[2018-04-06 14:29] stevekuznetsov commented on #7299
Intent is for it to be searchable, right now supports by job/id or org/repo/author, etc.

[2018-04-06 14:46] stevekuznetsov opened #7587 "prow: cherrypicker: allow picks across forks"
I would like to be able to cherry-pick commit `A` from repo `a` into a fork of repo `a`, not just into other branches of `a`.

/kind feature
/area prow
/cc @kargakis @deads2k

[2018-04-06 15:17] deads2k commented on #7587
@mfojtik @derekwaynecarr @liggitt @soltysh @bparees I think we've all had this on our wishlist for a while now.

[2018-04-06 16:08] stevekuznetsov commented on #7561
/cc @kargakis

[2018-04-06 17:48] shyamjvs opened #7592 "Resource name conflicts when different presubmit jobs' runs have same BUILD_NUMBER"
For presubmit jobs, we're constructing names for instance-group, network and other resources based on the build number. So for e.g, if presubmit A's 234th run and presubmit B's 234th run both happen to run at the same time in the same project, there will be a conflict b/w those - causing failures. Since both of them will name resources like network, instance-prefix, etc as `e2e-234`.

I'm actually

[2018-04-06 17:52] krzyzacy commented on #7592
/shrug

[2018-04-06 17:55] shyamjvs commented on #7592
I'm not sure how frequently this is causing flakes in our other presubmits.

[2018-04-06 17:57] krzyzacy commented on #7592
wait, are those two presubmit shares the same project?

[2018-04-06 18:28] shyamjvs commented on #7592
That sounds a bit hacky and can give wrong info about how long the job has been around :).
How about my solution in #7596 ?

[2018-04-06 19:13] BenTheElder commented on #7592
Prefer #7596 but we are actively considering switching to snowflake numbers instead of incremental ids from tot @shyamjvs

I think the main concern holding back any switch is the increased cost of scanning GCS for jobs, @rmmh probably has the best idea of how feasible this is.

Like you mentioned tot vended ids do give a nice insight into how long the job has been around so there are probably some

[2018-04-06 19:14] BenTheElder commented on #7585
Grrrrr. test-infra seems to have a lot of these :(

[2018-04-06 20:00] kargakis commented on #7561
Unbounded batches is a separate issue although it caused this one. I am fine with reverting but we need to keep in mind that the bigger a batch is the higher chance of a test failure. Maybe a separate issue for enhancing the batch logic to trigger different sizes of batches?

This issue is fixed.

[2018-04-06 20:00] #7561 closed

[2018-04-06 20:28] spzala opened #7598 "Lable kind/support should be renamed to triage/*"
We now have a series of triage labels towards identifying and closing issues that do not need an actual fix. These labels also provides a way to measure such issues. https://github.com/kubernetes/test-infra/pull/7554
Since kind/support is for issue triage it should be renamed with prefix triage and have it as part of triage series of labels e.g. rename it to triage/support-request. We had some dis

[2018-04-06 20:51] #7592 closed

[2018-04-06 21:45] BenTheElder opened #7602 "master blocking jobs should probably be on etcd3"
[code]

I'm not sure who decides this or exactly all which jobs should be running what, but other jobs appear to consume this env and my understanding is that kubernetes should be solidly on etcd3 now...

[2018-04-06 21:47] BenTheElder commented on #7602
/assign @krzyzacy
please punt to whoever is appropriate to triage which version we should use

[2018-04-06 21:47] krzyzacy commented on #7602
/sig storage
/assign @saad-ali @msau42

[2018-04-06 21:49] ixdy commented on #7602
https://github.com/kubernetes/kubernetes/issues/41422

cc @mml @wojtek-t @jpbetz

[2018-04-06 21:50] krzyzacy commented on #7602
given all other jobs are on default etcd I think we'd just remove this

[2018-04-06 21:58] BenTheElder commented on #7602
discussed some offline, this should probably be
/sig api-machinery

[2018-04-07 18:16] spzala commented on #7598
/sig contributor-experience

[2018-04-07 18:30] spzala commented on #7598
Opened https://github.com/kubernetes/community/issues/2014

[2018-04-08 02:37] fejta commented on #7561
Which PR fixed the sorting issue?

[2018-04-08 06:14] karataliu commented on #7475
We have a similar requirement for setting up e2e CI for 'kubernetes/cloud-provider-azure'.

Basically we could setup a standard Jenkins server for running e2e test jobs, and it works well now with github hooks directly. Thus one way to integrate it is to have prow to 'forward' the github webhook call to a user provided webhook endpoint.

@kargakis @fejta  Could you please help on following questio

[2018-04-08 18:51] fejta commented on #4437
/remove-lifecycle rotten

[2018-04-08 20:07] #5339 closed

[2018-04-08 20:07] #5391 closed

[2018-04-08 20:54] kargakis commented on #7475
@karataliu

1. #6679 removed the jenkins-operator deployment that was backing k8s CI. jenkins-operator ([the code / prow integration](https://github.com/kubernetes/test-infra/tree/master/prow/jenkins)) is not going to be removed. We still use it in OpenShift CI and even if we didn't, in the spirit of calling prow extensible, keeping a reference implementation around is a must IMO.

2. jenkins-oper

[2018-04-08 21:03] kargakis commented on #7475
Btw, hook (the prow entrypoint service that listens to github webhooks) already supports forwarding webhooks to so called "external plugins". If you wish to go that route you could potentially write a plugin that decrypts the content of the webhook (unclear whether you can send webhooks to hook w/o using the hmac secret) and forwards to Jenkins but in that scenario you are completely bypassing pro

[2018-04-08 21:08] #5417 closed

[2018-04-08 21:10] kargakis commented on #7475
Now I realized that you are asking this for a kubernetes project. Are you going to run your e2e job as part of the k8s prow deployment or are you thinking of setting up your own prow deployment that will back `kubernetes/cloud-provider-azure`? Why is Jenkins a requirement?

[2018-04-08 22:15] justaugustus commented on #6095
/remove-lifecycle stale

[2018-04-08 22:37] cblecker commented on #6182
/remove-lifecycle stale

[2018-04-09 06:15] karataliu commented on #7475
@kargakis Thanks for the detailed information.

Yes, in previous thread, I'm not referring to running a new prow instance, it's about the current prow instance backing `kubernetes/*` projects.

Our goal is to add an E2E validation check job for `kubernetes/cloud-provider-azure`, the job involves calling some script to build image, setting up a cluster on azure, and then running E2E suite against i

[2018-04-09 06:34] wojtek-t commented on #7602
Personally, I'm fine with removing those jobs.

But at least in theory, we still support etcd v2 (though we are in deprecation period).
So from that point of view we may be forced to still have these tests - so let's wait for @lavalamp and @jpbetz thoughts.

[2018-04-09 08:49] kargakis opened #7608 "prow: tide: support branch whitelisting in tide queries"
I can blacklist a branch from a query with `excludedBranches` but I cannot create a query for a single branch. For example, we also want to have the option to block PRs that update /vendor (we label those with `vendor-update`) in `master` before a k8s rebase lands.

/area prow

@stevekuznetsov @cjwagner @BenTheElder

[2018-04-09 14:45] stevekuznetsov commented on #7608
/kind bug
/assign

[2018-04-09 14:50] stevekuznetsov commented on #3412
/remove-lifecycle stale

See also #7364

[2018-04-09 14:51] stevekuznetsov commented on #7364
@rmmh

[2018-04-09 14:57] stevekuznetsov commented on #7475
@BenTheElder @cjwagner are admins of the k8s Prow installation and can answer your questions better.

Generally, @karataliu you will be asked to run your job in a container. If you can build the images beforehand that would be perfect. I do not think there is any chance that the k8s Jenkins deployments are going to come back, it was a very long process to remove them. I know other jobs build artif

[2018-04-09 17:06] krzyzacy opened #7612 "Janitor can be stuck"
http://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-kubemark-e2e-gce

and it's not respecting bootstrap timeout ?!

/assign

[2018-04-09 17:10] krzyzacy commented on #7612
restarted the stuck pod - wonder why bootstrap did not terminate the subprocesses

[2018-04-09 17:14] krzyzacy commented on #3536
/remove-lifecycle stale
/shrug

[2018-04-09 17:34] ixdy commented on #3151
/remove-lifecycle stale
/lifecycle frozen

[2018-04-09 17:42] stevekuznetsov opened #7614 "test flake: timeout building external/io_bazel_rules_go/go/tools/builders/linux_amd64_stripped/pack"
Seen [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/7610/pull-test-infra-lint/1284/):

[code]

/kind bug
/cc @ixdy @BenTheElder

[2018-04-09 17:43] krzyzacy commented on #7612
cc @shyamjvs it's stuck on `k8s-presubmit-scale` again, still looking into why

also cc @BenTheElder as oncall

[2018-04-09 17:46] ixdy commented on #7614
cache miss -> waiting forever?

this definitely seems odd.

[2018-04-09 17:48] ixdy commented on #7614
it doesn't seem to be correlated with a cache eviction event.

[2018-04-09 17:52] AishSundar commented on #3151
/kind feature

[2018-04-09 18:02] krzyzacy commented on #7612
local run works fine, wonder what's the cause there, I suspect gcloud?

we'd need https://github.com/kubernetes/test-infra/issues/7152

[2018-04-09 18:11] cjwagner commented on #5382
/reopen
/remove-lifecycle rotten

[2018-04-09 18:39] BenTheElder commented on #1399
/remove-lifecycle stale

[2018-04-09 19:05] BenTheElder commented on #7475
Yes, there is one prow instance for `kubernetes/*` and then some, which also tests eg kops-aws testing.

We support both docker-in-docker and daemonless builds (EG bazel with the image rules) for creating images on Prow, the former will let you `docker build` etc.

So far the pattern for that is creating jobs in the shared prow instance to run the tests etc and for creating external clusters we in

[2018-04-09 19:12] #7608 closed

[2018-04-09 20:13] stevekuznetsov commented on #7614
Also seen [here](v)

[2018-04-09 20:50] BenTheElder commented on #7602
I've discussed this some more in other venues and it sounds like we need to have some etcd2 testing until 1.12, but I think our primary CI and presubmit jobs blocking on otherwise-defaults GCE e2e should actually be completely-defaults with maybe some other dedicated etcd2 testing jobs.

[2018-04-09 21:35] BenTheElder commented on #7614
probably just an overloaded node, we don't set cpu limits currently and jobs can schedule to the same node based just on requests.. bazel is likely a red-herring here.

[2018-04-09 21:36] BenTheElder commented on #7614
cc @krzyzacy we should start setting resource limits soon...

[2018-04-09 22:37] krzyzacy commented on #7459
@wojtek-t great :-) I'll prepare the PR

[2018-04-09 23:49] #7458 closed

[2018-04-09 23:55] krzyzacy commented on #5316
also, given bazel configs are just different across each branches, I'd still name them after each branch, to reduce confusions cc @BenTheElder

[2018-04-10 06:56] kargakis commented on #7449
Still an issue.

[2018-04-10 07:10] kargakis opened #7623 "Update tide UI with branch requirements"
@stevekuznetsov @BenTheElder

/area prow

[2018-04-10 08:01] x13n commented on #7295
Looks like this is happening again.
@krzyzacy I see your janitor fix was merged, what else needs to be done here?

[2018-04-10 09:52] x13n commented on #7295
Fortunately, @wojtek-t had these permissions. Tests should start passing again soon.

[2018-04-10 14:13] adelina-t opened #7624 "Add Azure support in kubetest"
Feature: As part of the effort to run e2e tests against clusters with Windows Nodes, we need to support Azure as a deployer in Kubetest.

[2018-04-10 16:13] stevekuznetsov commented on #7623
/assign
/kind feature

I was working on this but dev iteration was a bit frustrating so I sidelined it. We also need to rethink the flow for the page since it assumes that the only diffs that can exist are labels.

[2018-04-10 16:13] stevekuznetsov commented on #7623
/cc @qhuynh96

[2018-04-10 16:15] stevekuznetsov commented on #7449
Link? Where? How?

[2018-04-10 16:39] kargakis commented on #7449
I haven't seen it work anywhere.

Example: https://github.com/openshift/origin/pull/19288

[2018-04-10 16:40] kargakis commented on #7449
Hrm, the jobs are failed and not pending. Maybe a separate issue?

[2018-04-10 17:39] stevekuznetsov commented on #7449
Hmm, @cjwagner in that linked case, we were on old `tide` and upgraded to new `tide`. We should have updated the statuses since the wanted state (`pending`) doesn't match the actual state (`successful`). So the bug is in update, not this bug specifically.

[2018-04-10 17:43] stevekuznetsov commented on #7449
@kargakis see

[code]

[2018-04-10 17:50] stevekuznetsov commented on #7449
The issue is that we would only tell you about jobs if you are LGTM+Approved and in that case you're in the pool. Issue is https://github.com/kubernetes/test-infra/issues/7279

[2018-04-10 17:51] stevekuznetsov commented on #7449
/close

[2018-04-10 17:51] #7449 closed

[2018-04-10 17:58] kargakis commented on #7449
Btw, do we know what's the size limit for the status description?

On Tue, Apr 10, 2018 at 7:43 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2018-04-10 18:38] stevekuznetsov commented on #6092
/remove-lifecycle stale

[2018-04-10 19:33] BenTheElder opened #7633 "builds fail to stage in CI"
/priority failing-test

https://github.com/kubernetes/release/pull/515/files#r180541584

(edited)

also, only caught this alert to my own email, we should send these to engprod or maybe even sig-testing...

[2018-04-10 19:33] BenTheElder commented on #7633
/cc @krzyzacy @david-mcmahon

[2018-04-10 19:36] ixdy commented on #7633
We need to update to gcloud 196.0.0 (2018-04-04) or newer.

[2018-04-10 20:40] krzyzacy commented on #7295
@x13n - nope, looks like the log sink does not have a `createTimeStamp` field, is it easy to add one for the log sink resource?

[2018-04-10 20:41] david-mcmahon commented on #7633
ref https://github.com/kubernetes/release/pull/546

[2018-04-10 20:44] BenTheElder commented on #7633
working on new images at the moment, should have latest gcloud

[2018-04-10 20:56] BenTheElder commented on #7633
[code]

[2018-04-10 21:42] BenTheElder commented on #7295
We need a proper longterm fix for this. manually deleting all of the sinks every few weeks is not an acceptable solution :/

[2018-04-10 22:01] lavalamp opened #7636 "Feature branches should behave like master for testing purposes?"
Example PR failing due to bad test-infra assumption:

https://github.com/kubernetes/kubernetes/pull/62359

[2018-04-10 22:06] ixdy commented on #7636
/assign @BenTheElder

We identified at least two issues:
1. The `kubernetes_verify` scenario (used by the `pull-kubernetes-integration` and `pull-kubernetes-verify` jobs) requires the branch to either be named `master` or `release-X.Y` to determine which version of the test image to use. @BenTheElder is going to fix this to assume anything not matching `release-X.Y` should use the master-branch ve

[2018-04-10 22:09] ixdy commented on #7636
OK, the faulty logic in mungegithub is pretty clear:
https://github.com/kubernetes/test-infra/blob/008760d57cf7c77a60ea1560060cc4be3bd941bc/mungegithub/mungers/cherrypick-label-unapproved.go#L76

[2018-04-10 22:11] ixdy commented on #7636
https://github.com/kubernetes/test-infra/blob/008760d57cf7c77a60ea1560060cc4be3bd941bc/mungegithub/mungers/cherrypick-auto-approve.go#L108
might also be problematic.

[2018-04-10 22:14] BenTheElder commented on #7636
see: https://github.com/kubernetes/test-infra/pull/7637 for verify.

verify is... terrible. there are other open issues about this. the fix for this is trivial and out though.

[2018-04-10 22:28] BenTheElder commented on #7636
Generally speaking things *should* treat non-release branches the same as master, verify / integration are full of legacy hacks... I don't know much about the cherrypick munger. Those two should be fixed now though (just triggered retest to verify)

[2018-04-10 22:30] BenTheElder commented on #7624
/area kubetest
/kind feature
cc @krzyzacy

[2018-04-10 22:43] lavalamp commented on #7636
Thank you!

On Tue, Apr 10, 2018 at 3:28 PM Benjamin Elder <notifications@github.com>
wrote:

[2018-04-10 22:57] ixdy commented on #7636
We also seem to be missing automatic branch protection on feature branches currently, I think because kubernetes/kubernetes is still using the mungegithub implementation, which only targets master.

cc @fejta

[2018-04-10 23:00] ixdy commented on #7636
Also, the cla label seems to be missing.

[2018-04-10 23:05] BenTheElder commented on #7636
We've been discussing the branch protection issue offline, not sure what the best answer will be there, probably getting @fejta's next

xref: https://github.com/kubernetes/test-infra/pull/7493

[2018-04-10 23:22] cjwagner opened #7641 "Job URL template is no longer valid."
[code]

/kind bug
/area prow

This error is likely occurring as a result of making `ProwJob.Spec.Refs` into a `*kube.Refs` instead of just `kube.Refs`.  @rmmh thinks that we get this error when `ProwJob.Spec.Refs` is nil as it is for periodic jobs.
We need to update the template to handle this case appropriately.

I made a quick fix to allow PJs to continue transitioning state even if the URL temp

[2018-04-10 23:45] BenTheElder commented on #7475
I think so, generally the cost of running the job from the Prow end is pretty minimal and the wiring is already there, kubetest version maintenance etc. Hopefully in the nearish future this Prow deployment will be explicitly under the CNCF as well.

That said you definitely could hook up some other service someone else runs (Jenkins?), and we can try to figure out how to hook everything together.

[2018-04-11 00:37] dankohn commented on #7475
CNCF is basically looking for a request to come in from SIG-testing, ContribX, etc. for us to hold account credits or similar. With a reasonably well-formed request, CNCF is happy to cooperate (and @idvoretskyi will probably be the implementer).

[2018-04-11 00:40] BenTheElder commented on #7633
so this is passing after a revert to the release repo earlier, but we will likely revert the revert now that the image bump is in, and we still need to improve the alerting for these jobs so I am not closing this yet to track those.

[2018-04-11 05:27] #7641 closed

[2018-04-11 07:10] x13n commented on #7295
Great question, I was hoping this will be a part of the answer to

:)

Yes, we need a long term solution. I'll try to find out if we can have the timestamp in sink resource as this seems to be the easiest way to clean them up later.

[2018-04-11 08:12] shyamjvs opened #7646 "1.9 and older GCE jobs broken due to gcloud update"
E.g:
- https://k8s-testgrid.appspot.com/google-gce#gci-gce-scalability-1.7
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-1.8
- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-small-last-release

The reason is due to gcloud version update done in kubetest that was later updated for all jobs (in https://github.com/kubernetes/test-infra/pull/7635). The newer gcloud ver

[2018-04-11 08:58] x13n commented on #7295
This would require modifying Logging API, as there is no creation timestamp in the response: https://cloud.google.com/logging/docs/reference/v2/rest/v2/billingAccounts.sinks#LogSink

[2018-04-11 09:01] x13n commented on #7295
Alternatively, we can embed timestamp in sink name.

[2018-04-11 13:56] shyamjvs commented on #7612
I'm seeing that there are a bunch of undeleted networks (that were leaked from old runs) in the k8s-presubmit-scale project.
And some of them are really old (i.e greater than a day) and I'd expect janitor to have cleaned them up long ago - but it didn't.
E.g:
- Network `e2e-981-c664bc` from run-981 of [kubemark-500 presubmit](https://k8s-testgrid.appspot.com/presubmits-kubernetes-scalability#pull-

[2018-04-11 16:58] krzyzacy commented on #7295
@x13n or even better: don't leak it :-)

[2018-04-11 17:02] krzyzacy commented on #7612
@shyamjvs my question will be why there are so many leaked networks?

[2018-04-11 17:08] krzyzacy commented on #7612
I'll request more CPU/Memory for the janitor pod see if it can help with the issue

[2018-04-11 17:09] stevekuznetsov opened #7650 "all tests: we should get jUnit output for non-test tests (linters, boilerplate/other diffs)"
Every time I need to expand a log to see a bad diff from `gofmt` or the boilerplate check I cry inside. Is there a way to wrap that in jUnit XMl easily from `bazel` or do we need to do it in the shell scripts?

/cc @BenTheElder @cjwagner @ixdy
/area prow
/kind bug

[2018-04-11 17:35] krzyzacy opened #7652 "fixconfig fail to build?"
[code]

/area bazel
cc @BenTheElder

[2018-04-11 17:39] krzyzacy commented on #7652
cc @ixdy

[2018-04-11 17:52] ixdy commented on #7652
we can work around this by using `--workspace_status_command="bash ./print-workspace-status.sh"` instead of just `--workspace_status_command=./print-workspace-status.sh`.

I'm not sure if this was an intentional regression; I'm going to open an issue against bazel.

[2018-04-11 17:54] BenTheElder commented on #7652
our current usage seems to match the docs :|
https://docs.bazel.build/versions/master/user-manual.html#workspace_status

Excerpt:

---------------------
Example program on Linux using Git:
[code]
Pass this program's path with --workspace_status_command, and the stable status file will include the
STABLE lines and the volatile status file will include the rest of the lines.

[2018-04-11 17:57] ixdy commented on #7652
https://github.com/bazelbuild/bazel/issues/5002

[2018-04-11 17:59] ixdy commented on #7652
but kubernetes/kubernetes isn't broken? this is... bizarre.

[2018-04-11 18:02] ixdy commented on #7652
oh, it gets better. if we move `print-workspace-status.sh` into `hack/` and then update `--workspace_status_command=./hack/print-workspace-status.sh` then it works again.

[2018-04-11 18:25] stevekuznetsov commented on #7508
Testing the happy case by wrapping some `linux` utility with easy-to-trigger success and failure modes seems fine -- testing the unhappy cases (can't write to the log file) seems harder -- also, testing `SIGTERM` + grace period seems really hard. @fejta

[2018-04-11 18:26] BenTheElder commented on #7646
We should cherrypick back the fixes, end users will use newer gcloud as well. We actually just built new images, we don't *try* to pin to old gcloud.

[2018-04-11 18:52] #7652 closed

[2018-04-11 21:13] ixdy commented on #7650
The boilerplate check is already implemented as a bazel test in kubernetes/test-infra, so it should have its failures encoded in junit.

We removed the bazel `gofmt` test a while ago because rules_go didn't have a good way for us to access it. It might be possible to depend on it again, though I haven't checked.

[2018-04-11 21:14] ixdy commented on #7650
Running linters under bazel is kinda gross, though, since they generally require the `//:all-srcs` rule, which destroys any cacheability.

[2018-04-11 22:10] #6939 closed

[2018-04-12 15:18] stevekuznetsov commented on #7650
I can literally

[code]

And shove output from the linter into there. Any objection? :)

Dumb but it gets the job done simply

[2018-04-12 18:03] krzyzacy opened #7673 "Prow terminates e2e pods while test is still running which can cause resource leaks"
So, prow kills presubmit pods upon a new commit push, which can cause runs like https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/62467/pull-kubernetes-kubemark-e2e-gce-big/1392?log#log

Since we simply abort the ginkgo run, the entire cluster is going to be leaked. And currently janitor is having issue doing bulk clean up, while bootstrap does not handle timeout properly.

[2018-04-12 18:05] BenTheElder commented on #7650
i'm open to all options, I've intentionally seperated out all of the lints from unit testing / build because they're "special" and have their own caching (= ~none) and failure modes.

[2018-04-12 18:09] shyamjvs commented on #7673
Ref https://github.com/kubernetes/kubernetes/issues/62267

cc @krzysied @wojtek-t - This is one of the main problems causing failures in our presubmits.

[2018-04-12 18:12] wojtek-t commented on #7673
I would say that this is more important than improving janitor.

[2018-04-12 18:15] BenTheElder commented on #7673
This one may not be reasonable as cluster cleanup can take a long time, not sure how long a reasonable grace period is and also we'd have to plumb through the grace period. The default appears to be 30s which is likely not enough to do any useful cluster cleanup.

[2018-04-12 18:16] BenTheElder commented on #7673
/cc @stevekuznetsov
is openshift doing anything interesting with pod termination and the grace period?

[2018-04-12 18:17] krzyzacy commented on #7673
@shyamjvs can you use a pool of projects for your presubmit? Is default quota enough for your presubmits? If so we can just switch to boskos pool and janitor can do cleanups after per run.

[2018-04-12 18:17] wojtek-t commented on #7673
It's fine to set grace period to 5 or 10 minutes for example.
And in majority of cases we will cleanly shut down cluster.

In that case, cleaning up cluster will be needed less often, and then current mechanisms for that should be enough.

[2018-04-12 18:18] wojtek-t commented on #7673
@krzyzacy - by far not. We need a looot of quota for it.

[2018-04-12 18:21] BenTheElder commented on #7673
It may not be fine to set this for *all* jobs, leaving around extra pods longer while starting more eats into disk on the nodes which will trigger more pods being evicted. cluster defaults are not great around this... (no soft eviction AFAICT).

We're otherwise pretty aggressive about GCing pods (using our own controller) because of our workload to avoid this.

[2018-04-12 18:25] krzyzacy commented on #7673
does a pod automatically send signals to all running processes upon termination, or that part need to be implemented?

[2018-04-12 18:28] BenTheElder commented on #7673
But we *are* scheduling another job while terminating the previous one, and tests are *very often* terminated early by a new commit. I think our existing pod creation logic / rate limiting may not play well with this change as-is.

To be clear: I suggested that this is probably the right route offline before @krzyzacy created this issue, but I also want to make sure we've handled this everywhere (

[2018-04-12 18:29] shyamjvs commented on #7673
I'm not sure if having a pool of projects will help here. It will just split this problem of resource leaks across different projects. The problem here is we have a quota of X (doesn't matter how many projects) and when there are greater than Y leaked runs (which we should ensure to NOT be the case), we can't run enough no. of presubmits in parallel anymore.

Like Wojtek said, this is far from def

[2018-04-12 18:33] krzyzacy commented on #7673
It will be in a better situation - with a pool, right after each e2e run, we cleans up the project and return it back to pool for the next e2e job, so that every e2e job will have a clean project.

Currently janitor is naively running every 3 hours and cleans up resources older than 3h in the project, and within that 3h resources can be piling up.

[2018-04-12 18:54] shyamjvs commented on #7673
Not sure if I understand this. Maybe let me clarify my earlier point:
- let's say we have 12 projects each with a quota of 100 nodes instead of a single project with quota of 1200
- if everything goes fine, we should be able to continuously have 12 runs in parallel (in both cases)
- however if some run got evicted and leaked 100 nodes - in either cases, we need to wait for janitor to reclaim those

[2018-04-12 18:57] krzyzacy commented on #7673
@shyamjvs boskos has a janitor controller, it will be triggered as soon as kubetest finishes, and, say, spend 5min to clean up the project, and project will be reuseable after 5min.

Currently if all 12 runs are busted, it need to wait at least 3h, or worst case, 6h, for a CI janitor run to clean the resources up.

[2018-04-12 18:58] BenTheElder commented on #7673
Per @cjwagner we may not be actually deleting pods as allow cancellations is not on for our deployment... https://github.com/kubernetes/test-infra/blob/9fc2342b69a911052845f42a81f6409ef4553d4a/prow/plank/controller.go#L264

[2018-04-12 19:01] krzyzacy commented on #7673
maybe sinker is deleting the pod then, since prowjob is completed

[2018-04-12 19:10] unguiculus commented on #6240
/remove-lifecycle stale

[2018-04-12 19:13] cjwagner commented on #7673
As noted during standup, Prow doesn't cancel old pods by default (see https://github.com/kubernetes/test-infra/blob/master/prow/plank/controller.go#L264), but it does cancel the old ProwJob.
Sinker should probably be waiting for the pod to complete in addition to waiting for the ProwJob to complete and the pod to reach the max age: https://github.com/kubernetes/test-infra/blob/master/prow/cmd/sink

[2018-04-12 19:16] BenTheElder commented on #7673
If we do this without signaling the pods for deletion we will have a big pileup of pods because the jobs will simply keep running for the full length of the job.

[2018-04-12 19:18] cjwagner commented on #7673
Isn't that the desired behavior when `AllowCancellations` is false? If we want to terminate pods when the ProwJob is terminated we should enable `AllowCancellations`.

[2018-04-12 19:29] BenTheElder commented on #7673
This behavior is *somewhat* orthogonal to Sinker, but yes that sounds right to me. My point is just that if we do fix sinker in this way we will immediately have issues as we're currently relying on this aggressive GC...

We might be able to rebuild the prow cluster with nodes with more boot disk first to help alleviate this. The cluster needs some reshaping as-is.

[2018-04-12 21:13] chrislovecnm commented on #5032
/lifecycle frozen
/remove-lifecycle rotten

[2018-04-12 21:14] chrislovecnm commented on #6083
/lifecycle frozen
/remove-lifecycle stale

[2018-04-12 21:16] #7566 closed

[2018-04-12 21:18] krzyzacy commented on #7673
sounds like easiest thing is that we can introduce a different gc interval for running pods w/ finished prowjobs?

[2018-04-13 02:17] #5487 closed

[2018-04-13 13:09] shyamjvs commented on #7673
I'm not a fan of that approach for at least the following reasons:
- it'll mean that we need to maintain multiple projects and record-keeping / changing project properties (for e.g quotas) will be much tedious
- we don't want to keep creating new projects as we increase the parallelism of those jobs
- this behavior you mention in https://github.com/kubernetes/test-infra/issues/7673#issuecomment-38

[2018-04-13 13:26] shyamjvs commented on #7673
Actually after thinking a bit more, I have an idea to solve this problem easily (without needing either grace-period or prow changes).
Given that we see this problem only for PR jobs (where we are killing the run bluntly when new commit pushed) and the assumption that "a PR should only have single instance of a particular presubmit" holds, we can name the cluster we create for a presubmit job as:

[2018-04-13 14:24] shyamjvs commented on #7646
This is fixed with cherrypicks to 1.9 and 1.8 (oldest supported release) merged.
/close

[2018-04-13 14:24] #7646 closed

[2018-04-13 16:12] shyamjvs commented on #7673
One more case that I missed earlier is that of presubmit running on batch of PRs. In such case, we might either use the first PR's number in the batch or append all the numbers and take a hash. Both these schemes are sensitive to ordering of the PRs, but I'm not sure if we should care enough about it.

[2018-04-13 16:43] shyamjvs commented on #7673
I've sent https://github.com/kubernetes/test-infra/pull/7682 implementing my idea above - let me know what you think of it.

[2018-04-13 17:16] BenTheElder commented on #7646
Thanks! :+1:

[2018-04-13 17:55] ixdy opened #7686 "add smoke test for OWNERS files"
I unintentionally broke the kubernetes top-level `OWNERS` file yesterday in kubernetes/kubernetes#62484, due to a parse error:
[code]

It'd be great if we had some sort of testing/validation for `OWNERS` files that prevented merging bad ones.

[2018-04-13 20:06] stevekuznetsov commented on #7673
To solve the original problem, can't we just ask for graceful deletion of the `Pod` in `sinker`? @cjwagner @BenTheElder

[2018-04-13 20:45] BenTheElder commented on #7673
@stevekuznetsov we can do that but we also need the pod to actual use graceful deletion and this doesn't help in cases where pods are non-gracefully removed out of our hands (eg unstable node) which, while we should avoid, I prefer not depending on state within short-lived job pods...

The *best* solution is to manage all e2e resources with boskos...

[2018-04-13 21:29] #7426 closed

[2018-04-13 22:35] krzyzacy commented on #7459
done from https://github.com/kubernetes/test-infra/pull/7620

[2018-04-13 22:35] #7459 closed

[2018-04-13 23:02] krzyzacy commented on #6840
ok so after https://github.com/kubernetes/test-infra/pull/7569, presubmit runs successfully now

next step is to define a communication interface between plank and gerrit

[2018-04-13 23:04] krzyzacy commented on #7295
/assign @x13n
short term solution might just be wiping out log sinks regularly

[2018-04-13 23:10] krzyzacy commented on #4646
/unassign
/help

[2018-04-13 23:12] krzyzacy commented on #4794
config.json will be gone after we split up prow/config.yaml, and we can embed kubetest/scenario args there

[2018-04-13 23:14] krzyzacy commented on #3338
next step: split up prow/config.yaml

[2018-04-13 23:29] cjwagner opened #7690 "`approve` plugin makes assumptions about OWNERS file implementation"
The `approve` plugin is not working with regex filtering because it makes a bunch of undocumented assumptions about the implementation of the `repoowners` package which aren't necessarily true for regex filtered OWNERS files (thats what I get for copying code from mungegithub...)
Some invalid assumptions that are not provided by the interface:
- Approvers in OWNERS files are able to approve any fi

[2018-04-13 23:56] BenTheElder commented on #4646
/remove-help
This is not something external contributors can help with yet...

[2018-04-14 01:58] rsdcastro opened #7691 "'blunderbuss' plugin doesn't work if reviewers are missing in OWNERS"
After investigating why 'blunderbuss' plugin wasn't working for the kube-deploy repo, we realized that the issue is that the OWNERS file had "approvers" but no "reviewers" section. After adding "reviewers", the issue got fixed.

This issue is to suggest that, in absence of "reviewers", "approvers" are used instead rather than failing to request reviews.

cc @spiffxp @kubernetes/kube-deploy-maintai

[2018-04-14 05:43] #5520 closed

[2018-04-15 20:14] kargakis commented on #7673
DELETE on a pod that is not force and its grace period is not 0 (DELETEs by sinker today) is a graceful termination. kubetest needs to handle SIGTERM.

How often does this happen? Agreed that a catch-all solution is also needed to handle edge cases but if you usually end up with broken nodes, you may want to tweak the load on the node. kubetest *should* be terminating gracefully.

[2018-04-15 23:01] cblecker commented on #6289
/remove-lifecycle stale

[2018-04-16 00:11] krzyzacy commented on #7673
afaik kubetest handles SIGTERM, it's just default grace period is not enough to tear down the cluster.

[2018-04-16 13:59] cpanato commented on #1351
@luxas @fejta hello, I need some help to explain to me what needs to be done here.

[2018-04-16 15:36] stevekuznetsov commented on #7673
So we just need to set `pod.spec.terminationGracePeriodSeconds` correctly in `plank`?

[2018-04-16 15:43] kargakis commented on #7673
You can't increase it once it's set so you need to set it correctly inside
the prow config file.

On Mon, Apr 16, 2018 at 5:37 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2018-04-16 16:04] stevekuznetsov commented on #7673
Sure, set a default when creating the pod if none is explicitly provided in the `PodSpec` at config-time.

[2018-04-16 16:31] stevekuznetsov commented on #7691
/kind feature
/area prow
/cc @cjwagner @fejta

[2018-04-16 18:22] krzyzacy opened #7713 "Clean up kubetest flags"
- we have way too many kubetest flags
- many of those are doing things like, set a global env
- and many of those have (--provider=foo only), we don't really validate that

we can probably do it like prow style?
cc @shyamjvs @BenTheElder

/area kubetest
/assign

[2018-04-16 18:42] BenTheElder opened #7714 "slackevents merge warnings whitelist should be locked by branch"
we should be able to check the ref of the pushevent to match on the branch pushed to, and then update the config to restrict branch managers to their respective branches when whitelisting them.

cc @cjwagner

[2018-04-16 18:47] BenTheElder commented on #2740
we at least have some testgrid alerts now, we really ought to have a test-infra paging group too though and reconfigure things to go that way.

[2018-04-16 18:50] krzyzacy commented on #7612
it looks fine now after https://github.com/kubernetes/test-infra/pull/7677 and https://github.com/kubernetes/test-infra/pull/7678

[2018-04-16 18:50] #7612 closed

[2018-04-16 18:51] shyamjvs commented on #7612
Thanks for working on this!

[2018-04-16 19:50] BenTheElder commented on #7673
I'm not aware of this happening recently, but I still prefer to actually treat jobs as completely disposable. There are many things we don't handle well otherwise (EG logs).

There are lots of other jobs that *should* be terminated without a significant grace period. (builds)
I think for most things our preference would be "we're deleting this, actually delete it". Most naively written jobs have n

[2018-04-16 19:58] cblecker commented on #7714
/area prow

[2018-04-16 21:05] cjwagner commented on #7714
/help

[2018-04-16 21:08] cblecker commented on #7714
Relevant bits of code for someone looking at this:
https://github.com/kubernetes/test-infra/blob/master/prow/plugins/slackevents/slackevents.go
https://github.com/kubernetes/test-infra/blob/8d7d1e4ec835080bc2dbfd3ee3bd4f1a6342c6d4/prow/plugins/plugins.go#L374-L384
https://github.com/kubernetes/test-infra/blob/8d7d1e4ec835080bc2dbfd3ee3bd4f1a6342c6d4/prow/plugins.yaml#L104-L129

[2018-04-16 21:39] cjwagner commented on #7691
@grantr Is working on this. It sounds like the plan is to either allow blunderbuss to be configured to use the approvers list as the reviewers list, or automatically detect that a file has no reviewers and assign approvers instead.

[2018-04-16 23:09] cjwagner commented on #7650
We discussed a plugable artifact viewer framework today. This would be another good use case for it.

[2018-04-17 08:21] kargakis opened #7722 "prow: tide: fatal error: concurrent map writes"
When deploying tide from https://github.com/kubernetes/test-infra/commit/1b1442b540e0f61ca724fa6ec970574f95a0105c
[code]
/kind bug
/area prow
@cjwagner @stevekuznetsov

[2018-04-17 14:12] shyamjvs opened #7729 "Confusion with naming of release-jobs"
The [README](https://github.com/kubernetes/test-infra/blob/master/README.md#release-branch-jobs--image-validation-jobs) is saying:

[code]

However, [this job](https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L4792) that's running against ci/k8s-beta seems to be running on 1.10-beta (which is violating the above convention). Here's an e.g run proving that it's running on 1.10-