[2018-04-17 14:13] shyamjvs commented on #7729
fyi - @wojtek-t

[2018-04-17 16:31] #7722 closed

[2018-04-17 16:59] krzyzacy opened #7733 "Plank should not always require github oauth token"
If plank is not interfacing with github, i.e. it can be gerrit, plank should still be able to start

/area prow
cc @amwat @cjwagner
/assign

[2018-04-17 17:15] krzyzacy commented on #7729
whoops sorry, it should run against 1.10 since there's no 1.11 branches yet at this point, I'll update the readme

basically this job does not provide any signals, I'll probably just give it an invalid cron till we have a 1.11 branch

[2018-04-17 17:44] krzyzacy commented on #7729
@shyamjvs we always only support scalability test for past two releases + active release branches - I can set up a new job for 1.8, is there still quota in the project?

[2018-04-17 17:55] shyamjvs commented on #7729
Is that so? I thought it was current release (which is 1.10) + 2 releases
behind it (i.e 1.9, 1.8). Regarding new job, I don't think you should need
to do that. We're already having 4 jobs (master, 1.10, 1.9, 1.8), we should
just fix the configs IIUC.

On Tue, Apr 17, 2018, 7:44 PM Sen Lu <notifications@github.com> wrote:

[2018-04-17 18:01] krzyzacy commented on #7729
@shyamjvs the scalability channel has three branched suites: `-beta`, `-stable1`, `-stable2`, while all other release jobs has four branches: `-beta`, `-stable1`, `-stable2`, `-stable3`

If we muck with the config, when 1.11 is cut, the config will be wrong again (that's the whole point why I added the `-stable-foo` conventions) I think we should just add `-stable3` to scalability suites, I'm just

[2018-04-17 18:13] cjwagner commented on #7733
I think separating the report package into its own deployment is the way to go here. Plank should **never** need a github token. It should just be responsible for prowjob lifecycle. The reporting mechanism should be a separate component so that we can provide either a github reporter or a gerrit reporter (or maybe allow both).

[2018-04-17 18:14] stevekuznetsov commented on #7733
+10000000

[2018-04-17 18:15] krzyzacy commented on #7733
yeah, I guess I'll make the token optional for now (or else we won't have a working plank without github), and I'll get to a better design

[2018-04-17 19:32] krzyzacy opened #7736 "aws: IAM/roles are leaking"
manually deleted ~100, should be good for a few days, but we need to fix the leak?

assign to a few aws experts

/assign @zmerlynn @justinsb @chrislovecnm

[2018-04-17 20:19] justinsb commented on #7736
So I think this happens when a PR is revised quickly:

https://k8s-gubernator.appspot.com/pr/62308
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/62308/pull-kubernetes-e2e-kops-aws/83531/

https://k8s-gubernator.appspot.com/pr/62496
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/62496/pull-kubernetes-e2e-kops-aws/83735/

Not sure exactly what is

[2018-04-17 20:32] stevekuznetsov commented on #7673
Sure, have a strict default and allow a lenient override per-job. Not sure we need anything more complicated than the k8s grace period and each test runner handling SIGTERM correctly

[2018-04-17 20:34] stevekuznetsov opened #7738 "prow: entrypoint: handle SIGINT by triggering the graceful shutdown of wrapped process"
Related to https://github.com/kubernetes/test-infra/issues/7673 -- we need `entrypoint` to watch for `SIGINT` and forward it to the wrapped process when we get it, then begin waiting on the configured grace period to send `SIGKILL`.

/cc @cjwagner @krzyzacy @BenTheElder @fejta
/kind bug
/area prow
/assign

[2018-04-17 21:13] krzyzacy opened #7741 "Decouple reporter from plank"
follow up https://github.com/kubernetes/test-infra/issues/7733

/area prow
/assign

[2018-04-17 22:46] krzyzacy commented on #7741
/assign @cjwagner

[2018-04-18 00:37] cjwagner commented on #5051
This issue is about allowing certain users to trigger special jobs that other users are not allowed to trigger. `run_if_changed` is a mechanism for automatically triggering a job for PRs that change files that match a pattern.
If this specific use case can be satisfied by triggering the job when certain files are changed then `run_if_changed` can be used, but `run_if_changed` does not solve this p

[2018-04-18 00:42] mithrav commented on #5051
SGTM, I think trigger plugin is the way to go. @amwat any chance you can take this up as part of the Scalability testing effort?

[2018-04-18 07:04] shivramsrivastava opened #7747 "Job 'pull-poseidon-bazel' is not getting triggered"
This is with reference to the PR #7697, which added a job to build and test Poseidon.
But this Job is currently not getting triggered.
We tried ```/retest``` and ```/test pull-poseidon-bazel```

Here are the links to the PR which have this issue.
[PR-33](https://github.com/kubernetes-sigs/poseidon/pull/33),[PR-26](https://github.com/kubernetes-sigs/poseidon/pull/26),[PR-39](https://github.com/kube

[2018-04-18 07:05] shivramsrivastava commented on #7747
/assign @BenTheElder

Can you please take and look into this issue?

[2018-04-18 08:00] kargakis commented on #7733
Note that this used to be the case with `crier` but then its functionality was moved into `plank` presumably to reduce the moving components. cc @spxtr

[2018-04-18 08:13] kargakis commented on #7741
How difficult is making the reporter library generic/pluggable so it can support different platforms? I see the value in a separate service but we have to resist the urge until it's the only thing we can do.

[2018-04-18 08:27] kargakis commented on #7673
+1

On Tue, Apr 17, 2018 at 10:32 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2018-04-18 14:44] #7532 closed

[2018-04-18 15:31] #7173 closed

[2018-04-18 15:38] #7157 closed

[2018-04-18 16:29] ixdy opened #7760 "port GIT_COMMITTER_DATE and SOURCE_DATE_EPOCH changes to prow/{entrypoint,pod-utils}"
https://github.com/kubernetes/test-infra/pull/7480 was an experiment with bootstrap to see if we could improve the cacheability of bazel builds, and it's been working fairly well. We should port this functionality to the prow equivalents (pod-utils, entrypoint, and anything else I'm missing) to get similar improvements for jobs not using bootstrap.

cc @stevekuznetsov @BenTheElder

[2018-04-18 16:34] stevekuznetsov commented on #7760
Only changes would need to land here: https://github.com/kubernetes/test-infra/blob/master/prow/pod-utils/clone/clone.go#L82

[2018-04-18 16:49] ixdy commented on #7760
There are two pieces.

I agree that faking author/commit dates for git merges would go into `clone.go`.

Where would I put setting the `SOURCE_DATE_EPOCH` environment variable, based on the git commit date, before calling bazel (or other build/test commands)?

[2018-04-18 16:59] AishSundar commented on #7736
This one of our top flakes for last week : http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

[2018-04-18 16:59] stevekuznetsov commented on #7760
Oh, that is set for `bazel` calls, I see -- that would go here: https://github.com/kubernetes/test-infra/blob/master/prow/entrypoint/run.go#L59

[2018-04-18 17:03] AishSundar commented on #7736
/priority failing-test
/priority important-soon
/kind flake
/sig cli

[2018-04-18 17:07] krzyzacy commented on #7741
@kargakis yeah that's what I thought, my intention here is to define some sort of proto (gRPC?) that different reporter client can understand and react to it, but feel free to give inputs here if you have better ideas.

[2018-04-18 17:08] krzyzacy commented on #7733
Probably because we want to run cross or kubeadm after bazel build?

[2018-04-18 17:11] amwat commented on #5051
Yeah, I'll look into it.
/assign

[2018-04-18 17:55] krzyzacy commented on #7612
locally it's stuck at
[code]

/shrug
trying with lower #resources per call

[2018-04-18 18:29] BenTheElder commented on #7733
everything old is new again :-)

[2018-04-18 19:06] krzyzacy commented on #7612
hummmmmm, passed with `--ratelimit=5`

feel like more of a gcloud issue

[2018-04-18 19:40] liggitt commented on #7736
/sig testing
/sig aws

[2018-04-18 19:41] liggitt commented on #7736
Curious why sig-cli got tagged for this

[2018-04-18 19:54] mengqiy commented on #7736
This doesn't seems to be a sig cli issue.
/remove sig cli

[2018-04-18 19:54] BenTheElder commented on #7760
SOURCE_DATE_EPOCH is a standard that bazel rules are following, but we
should use it more generally
https://reproducible-builds.org/specs/source-date-epoch/

On Wed, Apr 18, 2018 at 9:59 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-04-18 19:55] mengqiy commented on #7736
/remove-sig cli

[2018-04-18 20:10] krzyzacy commented on #7736
should be fixed with https://github.com/kubernetes/test-infra/pull/7740

[2018-04-18 20:10] #7736 closed

[2018-04-18 20:18] #5212 closed

[2018-04-18 20:54] shyamjvs commented on #7612
This is surprising. Is it possible to delete an instance-group first (if possible), instead of deleting individual instances?

[2018-04-18 20:54] shyamjvs commented on #7612
That should reduce no. of gcloud calls by orders of magnitude :)

[2018-04-18 20:58] krzyzacy opened #7769 "Migrate all presubmit jobs to use boskos"
We are seeing janitor/quota issues again for newly added scalability suites, also we have the log sink issue for gce presubmit. These are all solvable by using boskos projects, and we should do so to unify our presubmit/CI environment.

/area boskos
/assign

cc @shyamjvs @BenTheElder

[2018-04-18 21:09] krzyzacy opened #7771 "Show all boskos pools statistics on velodrome"
/assign

[2018-04-18 21:16] BenTheElder commented on #7769
We should do this for *all* presubmits :-)

[2018-04-18 21:18] ixdy commented on #7760
the non-bazel kubernetes build system also recognizes `SOURCE_DATE_EPOCH`.

[2018-04-18 21:50] BenTheElder commented on #7747
it looks like the `trigger` plugin is no longer enabled for this repo, which means no tests can be triggered...
I will PR this.

[2018-04-18 22:53] #7747 closed

[2018-04-18 22:53] BenTheElder opened #7779 "some planter images are broken"
/area planter
/kind bug

reported by @ixdy:
[code]
/assign

[2018-04-18 23:00] #7506 closed

[2018-04-18 23:28] BenTheElder commented on #7779
I've pushed corrected images for `0.11.0`, `0.12.0`, will do the 0.13 rcs and then come back to 0.11 and 0.12 rcs

[2018-04-18 23:28] spiffxp commented on #6478
/assign @cblecker re: https://github.com/kubernetes/test-infra/pull/7504#discussion_r178626055

also dropping a link to https://github.com/kubernetes/test-infra/issues/6589 because there was lots of discussion on this there too

[2018-04-18 23:30] spiffxp commented on #2621
ref: https://github.com/kubernetes/test-infra/pull/7504#issuecomment-378030770

[2018-04-18 23:39] krzyzacy commented on #3362
/remove-lifecycle stale
/lifecycle frozen

[2018-04-18 23:41] krzyzacy commented on #5078
/remove-lifecycle stale
/lifecycle frozen

[2018-04-18 23:41] krzyzacy commented on #3392
/remove-lifecycle stale
/lifecycle frozen

[2018-04-18 23:42] spiffxp commented on #3827
/help
I still see people using /ok-to-test in PR reviews (as comments, aka no approval or change requested) and nothing happening

[2018-04-18 23:55] BenTheElder commented on #7779
pushed new images for `0.11.0`, `0.11.0rc1`, `0.11.0rc2`, `0.11.0rc3`, `0.11.0rc4`, `0.12.0`, `0.12.0rc1`, `0.12.0rc2`, `0.12.0rc3`, `0.13.0rc1`

[2018-04-18 23:57] BenTheElder commented on #3827
This includes me. Intuitively I should at least skim a PR's contents before `/ok-to-test` so it makes sense to leave this as a comment from the "files changed" UI, which makes a review comment instead of a normal comment :|

[2018-04-19 00:00] BenTheElder commented on #3362
job definitions should be in prow/config.yaml, we can introspect this part of past jobs and modify it much more conveniently. ideally in the future our test images should not check out test-infra...

something to do along with killing off config.json #4794

[2018-04-19 00:08] BenTheElder commented on #7779
/close

[2018-04-19 00:08] #7779 closed

[2018-04-19 00:11] BenTheElder opened #7782 "gubernator internal error displaying pr page"
https://k8s-gubernator.appspot.com/pr/test-infra/5137 ->

# Internal Server Error

The server has either erred or is incapable of performing the requested operation.

[code]

/area gubernator
/kind bug
/assign @rmmh

[2018-04-19 00:26] BenTheElder opened #7784 "some kubekins-e2e image users probably shouldn't be on -experimental"
The `.*-experimental` tagged images contain the latest tool versions (go, bazel, etc..) currently used by test-infra that will someday be used by kubernetes. This tag has no strong guarantees about upgrade cycle.
The other tags `.*-master`, `.*-release-1.X` all match the tools used by the [kubernetes](https://github.com/kubernetes/kubernetes) core repo to build / test. Most other repos want to syn

[2018-04-19 00:26] BenTheElder commented on #7784
/area jobs
/area images

[2018-04-19 00:26] BenTheElder commented on #7784
My question to kops is what track do you want to be on? I suspect kops is only on -experimental to get on the caching train early, but master or 1.10 work for that as well now.

[2018-04-19 00:45] cjwagner commented on #3827
Switching from the `needs-ok-to-test` label to a positive, `ok-to-test` label would allow the trigger plugin to check if a PR is ok to test by listing labels instead of listing issue comments, reviews, and review comments which would save API tokens.
Using a positive label instead of a negative one avoids all the race conditions that force us to list comments and check for `/ok-to-test` instead of

[2018-04-19 01:41] BenTheElder commented on #3827
We should just save all [PR | Issue] state in GitHub labels always :-)
Who needs etcd / CRDs when you have GitHub? /s

On Wed, Apr 18, 2018 at 5:45 PM Cole Wagner <notifications@github.com>
wrote:

[2018-04-19 01:41] justinsb commented on #7784
I suspect you're right - we don't need to be on experimental.  @chrislovecnm I believe you set these jobs up?

[2018-04-19 01:46] BenTheElder commented on #7784
I set them up in discussion with @chrislovecnm, happy to make the changes, just want to verify with you all first.
"experimental" really just means "we upgrade bazel / go a little faster than k/k" but those changes *can* be breaking.
OTOH when k/k upgrades those can be too, but they tend to be *long* after developers have upgraded their machines so usually the bugs are fixed incrementally prior to

[2018-04-19 11:47] #3345 closed

[2018-04-19 14:32] #7738 closed

[2018-04-19 16:09] stevekuznetsov commented on #7782
See also #6092

[2018-04-19 17:25] cblecker commented on #3827
I understand the idea, but also, ugghhhhh.. label overload. Having a label just to say testing is okay.. bleh. Ugly. (No, I don't have a better suggestion)

[2018-04-19 17:45] #7508 closed

[2018-04-19 17:49] mithrav commented on #6737
SGTM. cc @AishSundar

[2018-04-19 18:02] AishSundar commented on #6737
@oomichi - Can you let us know what is the current baseline API coverage we have? Also is it possible to point to the coverage results from your local run for us to take a look at the data?

@BenTheElder should try plugging the coverage data in only for Conformance runs against GCE as a pilot? Also is there some documentation and/or point of contact for perf dashboard to help us onboard and give i

[2018-04-19 20:57] mithrav commented on #4584
/remove-lifecycle rotten
 /remove-lifecycle stale
We still need this

[2018-04-19 21:12] dims opened #7797 "Re-enable pull-kubernetes-local-e2e-containerized job"
reminder to re-enable the job disabled in https://github.com/kubernetes/test-infra/pull/7791

[2018-04-19 23:50] BenTheElder opened #7799 "update 1.8 conformance images once subnet cherrypick is in"
https://github.com/kubernetes/kubernetes/pull/62854

until then we need older gcloud
/area jobs

[2018-04-19 23:50] BenTheElder commented on #7799
/assign

[2018-04-20 02:01] #5479 closed

[2018-04-20 02:56] xiangpengzhao opened #7801 ""/ok-to-test" is not respected when it's inline review comment."
See: https://github.com/kubernetes/kubernetes/pull/62850#discussion_r182933346

CI tests aren't triggered.

cc @BenTheElder @cjwagner

[2018-04-20 03:08] BenTheElder commented on #7801
Yeah, I consider this a bug as well. See the discussion here for more on options for handling this (not decided yet) https://github.com/kubernetes/test-infra/issues/3827

Closing as a dupe of #3827
/close

[2018-04-20 03:08] #7801 closed

[2018-04-20 03:11] BenTheElder commented on #3827
/kind bug
xref #7801 was a dupe reporting this by @xiangpengzhao

[2018-04-20 04:00] xiangpengzhao commented on #7801
Thanks @BenTheElder ! I forgot that thread when creating this :)

[2018-04-20 07:05] kargakis commented on #4584
/remove-lifecycle rotten

[2018-04-20 10:38] kargakis opened #7803 "Support/document how to do multitenancy in prow"
This has come up in two different discussions I have had during this week. We need to be able to allow users to bring in their own bots/tokens and facilitate all of them under a single prow deployment.

Strawman implementation:
* use hook as an external plugin and have it have its own oauth secret and config files (config, plugin) (possible today, needs to be documented)
* split reporting into its

[2018-04-20 13:14] kargakis opened #7804 "tide: a PR with no configured ProwJobs should be able to enter the merge pool"
tide matches PRs with prowjobs and filters PRs with successful prowjobs which are considered mergeable. It then goes and checks HEAD's contexts. It would be desirable to avoid the prowjob checks altogether for repositories where prow does not run tests but we still want to automate merges.

@stevekuznetsov @cjwagner

/area prow
/kind enhancement

[2018-04-20 14:29] stevekuznetsov commented on #7803
Where would the other deployments live? In a separate cluster? Then you're incurring maintenance cost anyway, why not just deploy a full `prow`?

[2018-04-20 14:58] kargakis commented on #7803
Same cluster I would expect but at the point you need to redeploy half of the components then a separate deployment may make sense. There are cases though where a full prow deployment is not needed, for example, we need to reuse prow commands apart from running tests (`trigger` plugin is off) in a repository we don't control.

[2018-04-20 14:59] kargakis commented on #7803
I guess even in this case you can argue that you don't need to run hook as an external plugin...

[2018-04-20 15:06] stevekuznetsov commented on #7803
Ah I see you are not asking for secrecy on the tokens but just sharing them. We should just do a client pool and index into it by `org/repo` to allow multiple tokens for reporting.

[2018-04-20 15:09] stevekuznetsov commented on #7804
A PR with no ProwJobs should be classified as mergeable.

[2018-04-20 16:31] stevekuznetsov opened #7806 "prow: add default DecorationConfig fields, allow per-job overrides"
Follow-up to https://github.com/kubernetes/test-infra/pull/7594

We need to allow for a global set of defaults for the DecorationConfig for jobs and merge that with a job-specific set on config loading.

/area prow
/kind enhancement
/assign

[2018-04-20 16:33] stevekuznetsov opened #7807 "prow: ask for test container logs in multi-container jobs"
Follow-up to https://github.com/kubernetes/test-infra/pull/7594

In the case that a job has configured multiple containers and/or initcontainers we will need to ask for logs of the test container only on the logs endpoint that `deck` exposes.

/kind enhancement
/area prow
/assign

[2018-04-20 16:34] stevekuznetsov opened #7808 "prow: pass digested information to tools, not entire job spec"
Follow-up to https://github.com/kubernetes/test-infra/pull/7594

We should pass in the specific bits of information that are needed for each utility instead of exposing the entire `$JOB_SPEC` to the containers in the test pod.

/kind enhancement
/area prow
/assign

[2018-04-20 16:36] stevekuznetsov opened #7809 "prow: stage artifacts and logs on an intermediary server before pushing to GCS"
Follow-up to https://github.com/kubernetes/test-infra/pull/7594

Instead of pushing to GCS from the test pod, we should implement a controller watching test pods that can report the majority of the data to GCS without input from the test pod. The test pod can furthermore push artifacts to this server as an intermediary between the test and GCS. This intermediary can handle uploading metadata and c

[2018-04-20 16:37] stevekuznetsov opened #7810 "prow: investifgate not exposing any job configuration to the test container"
Follow-up to https://github.com/kubernetes/test-infra/pull/7594

We should try to understand the current set of uses that jobs have for the Prow environment variables like `$JOB_SPEC` and determine if all of those use cases are solved by the pod utilities. If they are not, we should write more utilities to handle those cases. Test jobs should not really need infra level config exposed them.

/area

[2018-04-20 16:38] stevekuznetsov opened #7811 "prow: pod-utils: allow JSON config to be passed as a flag, not an environment variable"
Follow-up to https://github.com/kubernetes/test-infra/pull/7594

Instead of passing a JSON blob through an environment variable, we should use a flag.

/area prow
/kind enhancement
/assign
/cc @cjwagner

[2018-04-20 17:42] spxtr commented on #7733
The reason I split out the reporting logic into `crier` was because I needed to prevent individual `line` jobs from racing when writing the test results table.

[2018-04-20 17:44] BenTheElder commented on #6353
/remove-lifecycle stale
/lifecycle frozen
/help

[2018-04-20 17:54] BenTheElder commented on #5479
I think there was a very explicit change in the past to not block on GKE tests, if you want a test to be blocking you should ideally float it through sig-testing and possibly sig-release. I'll defer to the leads on that here..

[2018-04-20 18:01] BenTheElder commented on #7810
Our jobs definitely consume:
- `PULL_REFS`
- `BUILD_NUMBER` (they shouldn't but I guarantee something still does...)
- `BUILD_ID`

Other than `JOB_SPEC` specifically, the prow env seem like useful things to expose. One use case for example is integrating with coveralls.io.
For `JOB_SPEC` OTOH we're not consuming this at the moment, and I'd rather see the PJ logged to cold storage.

[2018-04-20 18:24] stevekuznetsov commented on #7810
Right but _why_ are they?

 - `$PULL_REFS` should be consumed by `clonerefs` and not be important to  jobs. Jobs should not muck with `git` state themselves if they're using the pod utilities.
 - `$BUILD_NUMBER` should be consumed by the GCS upload utilities, why would the job care?
 - `$BUILD_ID` same?

[2018-04-20 18:27] stevekuznetsov commented on #7733
I noted on the DD in GDrive that we could have the entire reporting stack in one controller -- all it needs to do is watch events on ProwJobs and update GitHub status every time the ProwJob transitions states

[2018-04-20 18:32] BenTheElder commented on #7810
PULL_REFS is read by other tools to produce metadata about the job run, which avoids them using `git` in any fashion... coveralls wants to know the refs for example.
BUILD_ID / BUILD_NUMBER are used as unique IDs, see for example: https://github.com/kubernetes/test-infra/pull/7682

[2018-04-20 18:34] BenTheElder commented on #7810
I don't think the podutils should handle these cases. And by exposing these we prevent jobs trying to produce them on their own.
I also consume the ORG / REPO related env for bazel caching to key it, see: https://github.com/kubernetes/test-infra/blob/master/images/bootstrap/create_bazel_cache_rcs.sh

[2018-04-20 18:37] stevekuznetsov commented on #7810
Those are perfect use-cases, thanks :) The point of this is just to investigate how we are using them and if there is room for another util or not.

[2018-04-20 21:44] BenTheElder opened #7814 "improve sig-testing testgrid alert configuration"
we own a lot of jobs that don't really have good alerting but very much could.
we should set up a sig-testing alerts alias and configure our testgrid entries to send email alerts there with reasonable num_failures etc.

/area testgrid
/sig testing
/cc @spiffxp

[2018-04-20 21:46] BenTheElder commented on #7814
similarly @AishSundar and I will work on GCP alerts, at least for conformance tests to ping GKE EngProd, and we should more broadly encourage subscribing to test failure alerts, especially for say, 10 tests in a row failing..
sig-owners really ought to have someone responding to these, or we should remove the tests

[2018-04-20 21:47] BenTheElder commented on #7814
/assign
/asssign @spiffxp
/assign @AishSundar

[2018-04-20 22:59] cjwagner commented on #7803
Why would a repo want to supply their own bot? Just to control the name and avatar?

[2018-04-20 23:04] BenTheElder commented on #3609
/cc @amwat

[2018-04-20 23:04] BenTheElder commented on #3609
/assign @amwat

[2018-04-21 14:37] kargakis commented on #7803
Yes, it may sound naive but it's important when you have totally unrelated projects under the same deployment. You also control the lifetime of the token and assuming prow supports [secret reload](https://github.com/kubernetes/test-infra/issues/4761), and the platform you use provides you the ability to update the token, you can rotate your secrets w/o asking somebody else to do it for you.

Again

[2018-04-21 23:46] #5541 closed

[2018-04-22 13:30] kargakis commented on #7803
@spxtr

[2018-04-22 13:31] kargakis commented on #7804
/assign stevekuznetsov

[2018-04-22 21:00] dims commented on #7797
Need https://github.com/kubernetes/kubernetes/pull/62951 to merge

[2018-04-22 21:11] dims commented on #7797
Need https://github.com/google/cadvisor/pull/1937 to merge

[2018-04-22 21:11] dims commented on #7797
Making progress, please follow along in https://github.com/kubernetes/kubernetes/pull/62508

[2018-04-22 22:01] spxtr commented on #7733
See #3017. There's no hard reason, but it's an extra binary, an extra deployment, extra network calls, and so on. It was roughly -500 lines to remove `crier`.

[2018-04-22 23:54] Jobsnguyenad opened #7822 "Prow issue:"

[2018-04-23 02:12] #5128 closed

[2018-04-23 21:48] oomichi commented on #6904
Related to client metrics, we will be able to know like:

[code]
So do we want to know the version part also? Or is it fine to merge them into single metric without version info?

[2018-04-23 22:09] dims commented on #7371
/close

i have a following up issue in https://github.com/kubernetes/test-infra/issues/7475

[2018-04-23 22:09] #7371 closed

[2018-04-24 03:14] karataliu commented on #2829
`e2e-runner.sh` shall also be removed?

[2018-04-24 09:53] shyamjvs opened #7841 "Prow created another run while current one under progress"
This happened for our scalability job - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance
See runs 143 (which is the right one to be created as per cron) and 144 (created at wrong time while 143 was happening).
Maybe something bad happened with the earlier run's pod.

@krzyzacy @BenTheElder - Could you PTAL or triage?

[2018-04-24 13:30] shyamjvs commented on #7673
FYI - With my fix https://github.com/kubernetes/test-infra/pull/7682 in, we're hardly seeing any more resource leakage for our scalability presubmits and they're now waaay greener:

- https://k8s-testgrid.appspot.com/presubmits-kubernetes-scalability#pull-kubernetes-e2e-gce-100-performance
- https://k8s-testgrid.appspot.com/presubmits-kubernetes-scalability#pull-kubernetes-kubemark-e2e-gce-big

Ma

[2018-04-24 13:33] dims opened #7844 "Remove systemd from kubekins/bootstrap image"
Running systemd related binaries in the bootstrap image for kubekins clearly fails.

[code]

We are clearly not using systemd and we are using upstart
[code]

So we should remove the systemd package from the image

[2018-04-24 13:34] dims commented on #7844
Found this when trying to run CI job for containerized kubelet (see https://github.com/kubernetes/kubernetes/pull/62508)

[2018-04-24 17:17] BenTheElder commented on #7841
assigning oncall, will be in meetings mostly until this afternoon.
/assign @Q-Lee

[2018-04-24 17:32] krzyzacy commented on #7841
evicted?!

[2018-04-24 17:43] krzyzacy commented on #7841
[code]

[2018-04-24 17:51] krzyzacy commented on #7841
![image](https://user-images.githubusercontent.com/1108148/39204616-1cef3d82-47ad-11e8-8ade-c0685d1d4172.png)

It's deleted by the garbage collector and recreated.. although I cannot find anything from the kubelet log.. cc @dashpole if you know what can be happening here.. prow is at 1.8.7 now

[2018-04-24 19:10] stevekuznetsov opened #7849 "prow: plank: decorated pods should link to gubernator for logs, not the container log in deck"
When we write a comment on a PR to show failed tests and the link to their logs, we should link to Gubernator for jobs where we decorated the PodSpec, not to deck.

/kind bug
/area prow
/assign

[2018-04-24 19:11] krzyzacy commented on #7841
Further info: the node `gke-prow-pool-n1-highmem-8-81ce4395-p87n` was gc'd and rebooted, still looking into why

[2018-04-24 19:37] BenTheElder commented on #7841
discussed a bit offline with @mtaufen @krzyzacy, _tentatively_ this is related to nodefs pressure and we should create a cronjob with the soft disk eviction hack :/

[2018-04-24 20:17] bgrant0607 commented on #6399
It's a little late for this. Thousands of issues have been closed already.

[2018-04-24 20:17] #6399 closed

[2018-04-24 21:52] justinsb opened #7853 "kops aws tests - remove logic that hard-codes c4.large"
The kops aws tests have logic that hard codes a c4.large instance for the master type.  This bypasses kops logic for e.g. eu-west-3, which doesn't have c4 instances.

We should remove the logic, and let kops auto-select from the supported instance types.  Note this won't address instance types where this is insufficient capacity - there does not appear to be a method to find out in advance which i

[2018-04-24 22:35] spiffxp commented on #5183
/remove-lifecycle stale
/lifecycle frozen
This is going to be a problem as long as we leave the submit queue untouched, and it's unclear to me whether tide solves this (I couldn't find a recent example of a tide-based batch merge.)

[2018-04-24 22:49] krzyzacy commented on #7841
looked offline with @dashpole , seems the scalability pod was doing excessive disk I/Os towards the end of the run, which triggered image gc and borked the kubelet

@shyamjvs I attached a section of the log, can you let me know what was happening? I saw the job had `--use-logexporter` enabled and it should not be pulling logs to the node?

[code]

[2018-04-24 22:51] spiffxp commented on #6296
/close
oh yeah this is definitely done, the `label-config` configmap is now auto-updated as of #6634

[2018-04-24 22:51] #6296 closed

[2018-04-24 22:59] krzyzacy commented on #7841
@shyamjvs dig further - from the succeeded run 139, I found

[code]

I think it's because logexporter is not functional and everything falls back to scp logdump which fills up the local disk.

[2018-04-24 23:41] spiffxp commented on #5073
/remove-lifecycle stale
@fejta @michelle192837 This is still an issue, is there anything we community members can do to help fix this? I cringe everytime I demo this and have to explain what all of these columns are by clicking through to gubernator and doing guesswork

[2018-04-24 23:55] michelle192837 commented on #5073
Not at the moment from the community, sorry, besides poking us to fix it. (Or rather, by the time it's fixable by the community I'd hope it's fixed). That said, I'll put this on my radar for the next two weeks; please feel free to ping me if I haven't updated by then.

[2018-04-25 10:11] kargakis commented on #3944
/help

[2018-04-25 14:14] #7849 closed

[2018-04-25 14:54] brilee opened #7864 "jenkins/bootstrap.py fails when --upload is not passed"
https://github.com/kubernetes/test-infra/blob/14afd74a5a3e88d5f2b96bc04b7aec802d9d6607/jenkins/bootstrap.py#L1038

If this `if` branch is not taken, then the local variable `paths` is never defined; all subsequent uses of the `paths` variable should be guarded by an `if upload` clause. Otherwise I get

[code]

[2018-04-25 14:57] stevekuznetsov commented on #5183
@krzyzacy the reporter should handle this better

[2018-04-25 15:42] krzyzacy commented on #7864
how did you hit this? in a CI job?

[2018-04-25 15:50] brilee commented on #7864
I'd been running some local testing of the CI setup process as detailed in https://github.com/tensorflow/minigo/tree/master/testing . (The instructions were set up by @Kashomon who's a googler.).

[2018-04-25 15:53] krzyzacy commented on #7864
/assign

[2018-04-25 18:09] #7864 closed

[2018-04-25 18:52] krzyzacy opened #7867 "Kubetest does not handle timeout properly anymore?"
start to spot runs like https://prow.k8s.io/log?job=ci-kubernetes-e2e-gce-new-master-upgrade-cluster&id=2092

also https://prow.k8s.io/log?job=ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new&id=1403

/area kubetest
cc @fejta any ideas?

cc @krousey @BenTheElder

[2018-04-25 20:26] stevekuznetsov commented on #6904
Yes, tests may expect to get 40x responses from the server when checking negative conditions.

Interesting to see `kubectl/v1.9.3` in there. Can we allow a flag so that a user of the tool can choose whether to coalesce versions? @timstclair do you have opinions here?

[2018-04-25 20:47] stevekuznetsov commented on #3342
Some quality-of-life fixes are still necessary but the main impl has landed and we can start moving over jobs.

[2018-04-25 20:57] #7804 closed

[2018-04-25 22:02] oomichi commented on #6904
Hi @stevekuznetsov

Thanks for your comment.

That is a nice idea. OK, I will try doing that after current apiserver log parser is merged into master.

[2018-04-25 22:49] BenTheElder opened #7874 "dind should support --dump"
Specifically at the moment for good testgrid entries we need to support the gingko e2e junit -> artifacts dir part, but ideally we'd support dumping all of the same logs

/assign @Q-Lee
/area kubetest
/area dind

[2018-04-25 23:59] BenTheElder opened #7875 "dind should scrub /etc/resolv.conf or allow internet access"
right now the dind cluster intentionally does not support internet access, but the host's DNS settings partially proprogate to the pods. we can prevent this by scrubbing /etc/resolv.conf when setting up the nodes, but we should not do this when we allow internet access (which probably should be optional)

as @Q-Lee pointed out not having internet access id desirable for some tests (can't have flak

[2018-04-26 06:55] BenTheElder commented on #6462
/remove-lifecycle stale
still planning to fix this once the APIs are available to us in the prow clusters

[2018-04-26 16:25] kargakis opened #7881 "OWNERS files are always read from master"
Even if the target branch is not master. I would expect that OWNERS files in the target branch would be used instead of master.

/area prow

@stevekuznetsov @cjwagner

[2018-04-26 16:31] stevekuznetsov opened #7882 "hack: prune-libraries leaks queries on SIGINT"
If I send `SIGINT` to `hack/prune-libraries.sh` using `Ctrl+C` I get a load of leftover Bazel queries that die.

/kind bug
/assign @fejta

[2018-04-26 16:38] stevekuznetsov opened #7883 "hack: update-deps is trying to import kubernetes core?"
With this change to `Gopkg.toml`:

[code]

I see this output:

[code]

What is pulling in Kubernetes core?

/cc @cblecker @fejta @ixdy @mattfarina

[2018-04-26 16:39] stevekuznetsov commented on #7883
Nevermind, this was GoLand helpfully writing the wrong import statement...

/close

[2018-04-26 16:39] #7883 closed

[2018-04-26 16:42] stevekuznetsov commented on #7881
/kind bug

[2018-04-26 19:09] BenTheElder commented on #6087
bazel build //... should just work now, I don't think there's any part of test-infra that doesn't work on mac. Across all platforms you may need to install the python libs in requirements.txt files throughout the repo if you want to work on those.

[2018-04-26 19:54] Q-Lee commented on #7875
DIND _nodes_ all have internet access. The pods themselves do not.

With most network providers, it's as simply as adding routes + NATs for the pod subnets in the top level container. But I'm worried it might not be the same for all network providers.

[2018-04-27 01:27] oomichi commented on #6737
@AishSundar
OK, I sent a mail which shows the latest coverage result from my local env as https://groups.google.com/forum/#!topic/kubernetes-sig-testing/WeAAWNCFl58

[2018-04-27 01:54] rmmh opened #7890 "prow/deck should show component versions"
the images themselves are probably insufficient, since bazel does sha256-tagging/pushing:

    gcr.io/k8s-prow/tide@sha256:2f3d179a5bfe38b6695b9c262bb248d7d116c534218da9b0ef11719dd0331cf4

maybe deck should poll each deployment's endpoint for version information?

[2018-04-27 02:02] AishSundar commented on #6737
@oomichi thanks a lot.

[2018-04-27 06:30] #6295 closed

[2018-04-27 20:06] BenTheElder commented on #6737
@AishSundar sorry I missed your previous comment:

That sounds fine, but I don't think there's much point if we don't have any plans for making use of the data yet since we can bump up the log verbosity whenever we're ready.

The scalability team owns this, I have no idea beyond that. cc @shyamjvs

[2018-04-27 20:09] fejta opened #7899 "Add a /tbr command to prow"
/area prow

It is sometimes necessary to merge first, review later.

Assuming I own all the files I am modifying, we should have an option to allow a `/tbr` to label the issue as needing review but still add lgtm and merge.

/cc @rmmh

[2018-04-27 20:10] fejta commented on #7899
Gubernator should be aware of this, and show these merged PRs as needing attention until someone /lgtm and causes the label to go away

[2018-04-27 21:17] BenTheElder opened #7901 "prevent tests from running kubectl against the build/test cluster"
most tests should run against an external cluster, not the cluster in which the prowjob's pod is created.

we can decorate pods with `AutomountServiceAccountToken: false`, but we may want to allow some kind of opt-out.

We *could* just paste this onto every job, but that doesn't sound super great, and probably most prow users will want this behavior by default. This will help catch misconfigured t

[2018-04-27 21:29] cjwagner commented on #7901
We can configure it in both the service account and the pod. The pod's configuration takes precedence.

Are we using the default service account to access boskos projects? If so we'll need to change that. We want to limit access to the build cluster without limiting access to boskos test projects.

[2018-04-27 21:42] BenTheElder commented on #7901
Boskos projects use entirely different credentials. We should probably at
least add a note to the prow guide(s) covering this as well once we fix
things on our end.

On Fri, Apr 27, 2018, 2:29 PM Cole Wagner <notifications@github.com> wrote:

[2018-04-27 22:06] cjwagner commented on #7901
I believe RBAC is also an option here.

[2018-04-27 22:11] BenTheElder commented on #7901
not without recreating the cluster though, but probably good enough for everyone else? having *any* sort of credential can provide suprising behavior though.

We've also previously seen that the kubectl context is in default namespace `test-pods` when running in a prow pod which can cause problems even when using a boskos cluster (objects that don't specify namespace are implicitly created here in

[2018-04-27 23:07] #5681 closed

[2018-04-28 08:15] kargakis commented on #7901
rbac is your friend

[2018-04-28 10:11] kargakis commented on #7803
Alternative:

Client pools; secrets reloaded/reread from a directory. No need to restart services, just add a new key in the secret.

Main question:
- How can we keep a dynamic map of tokens -> repos?

[2018-04-28 21:45] stevekuznetsov commented on #7901
RBAC seems like the appropriate solution here. Not sure I want to not mount a service account into test pods from `plank` as that may limit how tests can works -- for instance we are working on tests right now that we _do_ want to touch the build cluster, and it would be great to use in-cluster config for those.

[2018-04-28 23:37] stevekuznetsov commented on #7899
What does TBR stand for?

[2018-04-28 23:38] stevekuznetsov commented on #6350
/remove-lifecycle stale
@rmmh you want to weigh in?

[2018-04-29 23:49] stevekuznetsov commented on #6476
/remove-lifecycle stale

[2018-04-29 23:49] stevekuznetsov commented on #6476
Working on a controller to push ProwJobs and Pod logs for infra to GCS

[2018-04-29 23:50] stevekuznetsov commented on #2699
/remove-lifecycle stale

[2018-04-30 00:56] #5713 closed

[2018-04-30 01:27] BenTheElder commented on #7901
Even with RBAC this will not fix the bizzare kubectl context. Tests pods
really don't need to automount the cluster creds.

On Sat, Apr 28, 2018, 2:45 PM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-04-30 01:28] BenTheElder commented on #7899
To Be Reviewed (?)

On Sat, Apr 28, 2018, 4:37 PM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-04-30 01:34] BenTheElder commented on #6446
/remove-lifecycle stale

On Sun, Apr 29, 2018, 4:55 PM fejta-bot <notifications@github.com> wrote:

[2018-04-30 10:46] #7797 closed

[2018-04-30 16:47] BenTheElder commented on #7901
Override it for just those tests? (to enable it)
For *most* tests it's suprising to have the default namespace be `test-pods` and in some situations it seems they're creating and never cleaning up resources in the test cluster which is a problem.

We could default decorate pods to not automount credentials but not decorate if they explicitly specify credential mounting.

[2018-04-30 17:47] dims opened #7908 "ci-kubernetes-local-e2e is stuck"
Looks like this got stuck on 04-28 and has not run since.

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-local-e2e/
https://k8s-testgrid.appspot.com/conformance-all#local-up-cluster,%20master%20(dev)

[2018-04-30 17:49] dims opened #7909 "ci-kubernetes-local-e2e-containerized is not displayed in test grid"
The URL for the CI job has an error ( https://k8s-testgrid.appspot.com/conformance-all#local-up-cluster-containerized,%20master%20(dev) )
[code]

The runs themselves are green:
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-local-e2e-containerized/

[2018-04-30 17:59] BenTheElder commented on #7909
Freshly created jobs are known to have this until the update has completed.
The UI surfaces them before actual data has been prepared IIRC

/assign @michelle192837

On Mon, Apr 30, 2018, 10:49 AM Davanum Srinivas <notifications@github.com>
wrote:

[2018-04-30 18:39] krzyzacy commented on #7908
https://prow.k8s.io/log?job=ci-kubernetes-local-e2e&id=1075 - looks busted at cleanup

[2018-04-30 18:41] krzyzacy commented on #7908
cc @BenTheElder

[2018-04-30 18:43] BenTheElder commented on #7908
if you scroll up further it looks like it hung on some test creating a pod for a long time, then testing timed out  and we started trying to clean up the docker containers.

Ideally we should run cluster down after the test times out.

[2018-05-01 06:27] chrislovecnm commented on #6114
We having this already. Already fixed

[2018-05-01 06:27] #6114 closed

[2018-05-01 06:38] BenTheElder commented on #7602
xref: https://github.com/kubernetes/test-infra/issues/6114#issuecomment-385608767

[2018-05-01 07:41] sebastienvas commented on #7901
You can delete the default service account for the test-pod NS and create
one that does not cred Access. I think we had the same issue and that
resolved it.

On Mon, Apr 30, 2018, 6:47 PM Benjamin Elder <notifications@github.com>
wrote:

[2018-05-01 17:26] stevekuznetsov opened #7915 "prow: refactor GCS interaction to live outside of jobs"
After conversations with @cjwagner and @BenTheElder we realized that the most robust approach to GCS uploading will be a standalone server that knows how to:

 - watch for `ProwJob`s being created and transitioning states and ensure that the following files are therefore created in GCS:
   - build index file ("the PR symlink")
   - `latest-build.txt`
   - `started.json`
   - `finished.json`
   - t

[2018-05-01 17:27] stevekuznetsov commented on #7915
To implement the controller that watches `Pod`s and uploads container logs, I have pulls open:

 - [ ] https://github.com/kubernetes/test-infra/pull/7914

[2018-05-02 21:48] stevekuznetsov commented on #5919
Controllers for `tide` are written in [`tide/tide.go`](https://github.com/kubernetes/test-infra/blob/master/prow/tide/tide.go). Config for `tide` is declared [`config/tide.go`](https://github.com/kubernetes/test-infra/blob/master/prow/config/tide.go) and an example is at [`config.yaml`](https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L96-L192).

[2018-05-02 23:07] michelle192837 commented on #3325
/remove-lifecycle rotten

Not getting to this until later this year, but it's still a relevant feature.

[2018-05-02 23:07] BenTheElder commented on #4871
we've gone different route
/close

[2018-05-02 23:07] #4871 closed

[2018-05-02 23:24] nikhiljindal opened #7925 "failing to fetch a project from boskos"
https://k8s-testgrid.appspot.com/sig-multicluster-kubemci#kubemci-ingress-conformance is failing right now.
From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubemci-ingress-conformance/1683/build-log.txt (example log):
[code]

cc @BenTheElder @krzyzacy @G-Harmon

[2018-05-02 23:28] BenTheElder commented on #7925
FWIW this jobs is failing as far back as testgrid will display with failures not related to boskos.

[2018-05-02 23:31] BenTheElder commented on #7925
/assign @krzyzacy
/area boskos

[2018-05-02 23:43] nikhiljindal commented on #7925
Thanks for pointing that out @BenTheElder

I see the following in logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubemci-ingress-conformance/1355?log#log
[code]

Looks like an image pull error.
cc @MrHohn did you see the same error in ingress-gce tests?

[2018-05-02 23:55] MrHohn commented on #7925
Sorry, seems like we switched from `gcr.io/k8s-ingress-image-push/ingress-gce-e2e-glbc-amd64:latest` to `gcr.io/k8s-ingress-image-push/ingress-gce-e2e-glbc-amd64:master` some days ago. The old image may not exist anymore.

Sent #7926.

[2018-05-03 05:27] krzyzacy commented on #7925
looks green now, if you run out of ingress-projects, feel free to add more to the pool.

[2018-05-03 05:27] #7925 closed

[2018-05-03 09:07] kargakis commented on #7881
Github does not seem to return info about branches in PR issue_comments :(

[2018-05-03 09:12] kargakis commented on #7803
Assuming each repo has its own .prow.yml config, it should be easier to do this.

[2018-05-03 15:00] kargakis opened #7929 "Extend label plugin with customizable labels"
I should be able to configure hook with extra labels I allow users to add on top of "kind/*", "area/*", and "priority/*".

/kind feature
/area prow

[2018-05-03 15:01] kargakis commented on #7929
Ideally this is part of hook and not a separate plugin so first-time users can experiment w/o the need to configure and run an external plugin.

[2018-05-03 20:18] cblecker commented on #6478
My comments on this: https://github.com/kubernetes/test-infra/pull/7504#issuecomment-380896258

I don't think this is worth doing, unless we redesign the help page completely. The approve help has been changed to only display the `/approve` command.

[2018-05-03 20:30] chancez opened #7932 "Prow issue: Broken link to PR contributing docs"
Ex: https://github.com/kubernetes/charts/pull/4675#issuecomment-381138432 the link "here" goes to  https://git.k8s.io/community/contributors/devel/pull-requests.md which was removed in https://github.com/kubernetes/community/pull/2080/

The link should go to https://git.k8s.io/community/contributors/guide/pull-requests.md or https://github.com/kubernetes/community/blob/master/contributors/guide/pu

[2018-05-03 21:04] BenTheElder commented on #7932
/cc @cblecker
@kubernetes/sig-contributor-experience-bugs

Can we get some confirmation on what contribex would prefer here? happy to PR corrections.
/area prow
/kind bug

[2018-05-03 21:08] BenTheElder commented on #6478
FWIW this sort of thing might be worth adding in the plugin details [which have a button on the command help page as well], which are normally used to surface configuration specific details per org/repo. (which also might need more emphasis...)

[2018-05-03 22:26] cblecker commented on #7932
https://git.k8s.io/community/contributors/guide/pull-requests.md would be great. Thanks @BenTheElder !

[2018-05-03 22:27] BenTheElder commented on #7932
/assign

[2018-05-03 22:33] BenTheElder commented on #5708
Discussed offline with @ixdy, we've since had some other repos try vendoring golint which works pretty well and has some nice properties:
- anyone can simply update it with a PR to the target repo
- easy to run locally with the same version
- can fix any breaking changes in the PR that updates it

@ixdy suggested we could leverage some bazel features to pin it in the workspace and run from there.

[2018-05-04 11:30] ingvagabund commented on #5919
Cooking some README atm. Noticing the `tide` controller also consumes the `presubmits` part. Feels like it should be in the README as well. I will push additional changes once I get through the code and then sweep it one to n-times to polish it. Any feedback at any point is welcome.

[2018-05-04 11:35] kargakis opened #7940 "Run migratestatus automatically after a PR updates status contexts in prow config"
/area prow
/kind feature

@stevekuznetsov @cjwagner @BenTheElder @krzyzacy

[2018-05-04 11:36] kargakis commented on #7940
Eventually we could also automate running migratestatus.

[2018-05-04 11:42] kargakis commented on #5919
A tide README is added in https://github.com/kubernetes/test-infra/pull/7457 - @ingvagabund please sync with the PR author to avoid duplicating any work.

[2018-05-04 11:50] ingvagabund commented on #5919
Thanks, it will take some time before I will be able to sync. Getting `This page is taking way too long to load.` error when opening #7457.

[2018-05-04 11:53] kargakis commented on #5919
Seeing this as well unfortunately but I remember a README was added last time I was able to access it :)

[2018-05-04 12:10] ingvagabund commented on #5919
https://api.github.com/repos/kubernetes/test-infra/pulls/7457 says the PR is based on https://github.com/sebastienvas/k8s-test-infra/commits/required-tests.

Found https://github.com/sebastienvas/k8s-test-infra/blob/required-tests/prow/cmd/tide/README.md

[2018-05-04 16:51] stevekuznetsov commented on #6575
I think we did them all?

/close

[2018-05-04 16:51] #6575 closed

[2018-05-04 17:11] #7932 closed

[2018-05-04 19:13] BenTheElder commented on #7940
I would prefer we automated migratestatus, fwiw. it seems prow should be able to do this for us pretty easily, though we might want to gate it behind some human approval just because of the token cost?

[2018-05-04 21:38] steuhs opened #7944 "hook in starter.yaml is not working"
I am following instructions on https://github.com/kubernetes/test-infra/blob/master/prow/getting_started.md. Everything is as expected until I reach the "Add the webhook to GitHub" section.

I cannot create the webhook, the error message on github is:

The server encountered a temporary error and could not complete your request.<p>Please try again in 30 seconds.

[2018-05-04 21:43] BenTheElder commented on #7944
GitHub's APIs just fail sometimes, I'm not sure if there's anything we can do here...?

[2018-05-04 21:46] BenTheElder commented on #7944
Er from some offline discussion: this error is coming from `http://ingress.ip.number.blah/hook`, not GitHub.

[2018-05-04 22:29] BenTheElder opened #7945 "starter.yaml is invalid"
reported by @steuhs

 `error: error validating "cluster/starter.yaml": error validating data: unknown object type "nil" in ConfigMap.data.plugins; if you choose to ignore these errors, turn validation off with --validate=false`

/area prow
/kind bug

[2018-05-04 22:32] BenTheElder commented on #7945
xref: https://github.com/kubernetes/test-infra/issues/7945 (related, but not the same issue)

[2018-05-04 22:35] G-Harmon commented on #7925
Thanks for the fix. I'm not sure why, but "Test" and "Up" are still red, even though I don't see any associated failed runs...

[2018-05-04 22:38] BenTheElder commented on #7925
if you scroll back there are red entries, you may need to configure the `num_recent` on testgrid.

[2018-05-04 22:39] BenTheElder commented on #7944
the error seems to be:
[code]
still getting to the root.

[2018-05-04 22:43] G-Harmon commented on #7925
Okay, where would we set that?

[2018-05-04 23:56] BenTheElder commented on #7925
https://github.com/kubernetes/test-infra/tree/master/testgrid#what-counts-as-recent

On Fri, May 4, 2018 at 3:43 PM G-Harmon <notifications@github.com> wrote:

[2018-05-05 04:58] #5794 closed

[2018-05-05 12:49] philhug opened #7947 "prow/podspec: Hardcoded-path to commands"
Currently the following commands are hard-coded in podspec.go.
This is problematic as go_image puts the image into a different place:
e.g. /app/prow/cmd/initupload/initupload

So, we need to either change go_image to make them go to root or drop the Command entirely.
Unfortunately for the entrypoint container, cp is invoked and the locaion of entrypoint needs to be known.
Ideas?

clonerefs:
[code]

[2018-05-05 12:49] philhug commented on #7947
/area prow

[2018-05-05 12:49] philhug commented on #7947
/assign stevekuznetsov

[2018-05-06 09:46] philhug opened #7950 "prow: error listing prow jobs / add RBAC rules"
When launching prow on a fresh minikube with v1.10.0, plank fails to list ProwJobs due to default RBAC settings.

[code]

To improve initial experience we could add the necessary RBAC config to starter.yaml.
e.g. something like this:

[code]
/area prow

[2018-05-07 12:27] kargakis commented on #7950
We already use prow with RBAC, here are the rules if somebody wants to add them in this repo:
https://github.com/openshift/release/blob/master/cluster/ci/config/prow/openshift/artifact-uploader_rbac.yaml
https://github.com/openshift/release/blob/master/cluster/ci/config/prow/openshift/deck_rbac.yaml
https://github.com/openshift/release/blob/master/cluster/ci/config/prow/openshift/hook_rbac.yaml
ht

[2018-05-07 12:30] kargakis commented on #7945
We should probably have a job that validates these files.

[2018-05-07 12:31] kargakis opened #7951 "Support run_after_failure jobs"
Brought up during kubecon

@krzyzacy @cjwagner

/area prow
/kind feature

[2018-05-07 12:45] ingvagabund opened #7952 "[RFE] Make node e2e tests over containerized kubelet release blocking"
We have had the node e2e tests over containerized kubelet [1] running for a while. Anything against making the tests release blocking? Targeting v1.11.

The tests have been running successfully since December up to some failed runs that were recently caused by bumping the minimal required version of Go to 1.10.1, followed by bump to 1.10.2.

At the same time the tests run in Red Hat infrastructure

[2018-05-07 12:45] ingvagabund commented on #7952
@derekwaynecarr @sjenning @kubernetes/test-infra-maintainers

[2018-05-07 12:46] ingvagabund commented on #7952
Is there any documentation describing what are the minimal requirements to make a job release blocking?

[2018-05-07 13:15] dims commented on #7952
cc @kubernetes/sig-release-members @jberkus

[2018-05-07 15:06] stevekuznetsov commented on #7915
![](https://github.trello.services/images/mini-trello-icon.png) [[CI][k8sCI] Drive simple container-based tests to maturity upstream](https://trello.com/c/cZNgebzm/612-cik8sci-drive-simple-container-based-tests-to-maturity-upstream)

[2018-05-07 15:07] stevekuznetsov commented on #7807
![](https://github.trello.services/images/mini-trello-icon.png) [[CI][k8sCI] Drive simple container-based tests to maturity upstream](https://trello.com/c/cZNgebzm/612-cik8sci-drive-simple-container-based-tests-to-maturity-upstream)

[2018-05-07 15:08] stevekuznetsov commented on #7806
![](https://github.trello.services/images/mini-trello-icon.png) [[CI][k8sCI] Drive simple container-based tests to maturity upstream](https://trello.com/c/cZNgebzm/612-cik8sci-drive-simple-container-based-tests-to-maturity-upstream)

[2018-05-07 15:08] stevekuznetsov commented on #7810
As explained by Ben, we should keep exposing this info to tests.

/close

[2018-05-07 15:08] #7810 closed

[2018-05-07 16:34] stevekuznetsov commented on #7947
What is `go_image` and why is it not honoring the Dockerfile that is being used to build these images?

[2018-05-07 16:44] sebastienvas commented on #5919
Yes the PR is still alive, but right I will create another PR with the documentation.

[2018-05-07 16:51] stevekuznetsov commented on #6092
Seen [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63450/pull-kubernetes-verify/89530/):

[code]

[2018-05-07 17:03] philhug commented on #7947
@stevekuznetsov bazel is not using Dockerfile to build the docker images.
Instead it uses the bazel docker rules: See [here](https://github.com/bazelbuild/rules_docker#go_image)

The result of this bazel build is what ends up on [gcr.io/k8s-prow](gcr.io/k8s-prow)

[2018-05-07 17:16] philhug commented on #7947
see also #7912
to test, simply run `bazel run //prow:release` and you'll have the docker images loaded in your local docker daemon.

[2018-05-07 17:37] philhug commented on #7944
@steuhs can you do a `kubectl get secrets/hmac-token -o yaml` and make sure your secrets looks like this: (check if hmac is really there)
[code]

[2018-05-07 17:44] philhug commented on #7944
/assign steuhs

[2018-05-07 19:05] shyamjvs opened #7957 "Is something wrong with the latest kubetest?"
I'm trying to run some tests locally using:

[code]

But I get this in the output:

[code]

Is something broken with the latest kubetest? Thanks!

cc @kubernetes/test-infra-maintainers @krzyzacy @BenTheElder

[2018-05-07 19:45] kargakis opened #7958 "Command Help includes unconfigured plugins"
Should probably include only enabled plugins.

/area prow

[2018-05-07 19:46] kargakis commented on #7958
Well, works fine if you choose the correct repository, it seems that w/o a repo it just lists everything.

/shrug
/close

[2018-05-07 19:46] #7958 closed

[2018-05-07 21:26] BenTheElder commented on #7944
thanks @philhug, I went out of town over the weekend and missed a reply from steuhs about this (out of band), I suspect the secret is not created correctly as well.

[2018-05-07 21:26] #7945 closed

[2018-05-07 22:15] philhug commented on #7944
@BenTheElder maybe we should change the README to use a file called hmac instead of secret. I guess this would reduce misconfiguration as it's easy to oversee  hmac=filename...

[2018-05-07 22:30] BenTheElder commented on #7944
cc @cjwagner I agree

[2018-05-07 22:36] BenTheElder commented on #5621
FWIW we are moving in a better direction for handling this, but if anyone has an urgent issue in the meantime we can check through stackdriver to help debug.

[2018-05-07 22:38] BenTheElder commented on #7952
cc @spiffxp
@spiffxp has worked on some info for making tests *presubmit* blocking, release blocking is somewhat up to the release-team, but from the test-infra side it basically just needs to be in the release-blocking dashboard(s).

[2018-05-07 22:57] BenTheElder commented on #7957
the git pull output / error is from `go` (`go get` shelling out to git specifically), not kubetest, and the reason a go-get is happening is hack/e2e.go will pull kubetest if the binary is old (which is debateable...)

[2018-05-07 23:00] BenTheElder commented on #7957
you'll have to fix your `$GOPATH`, you can re-clone `$GOPATH/src/github.com/golang/protobuf`

[2018-05-07 23:07] BenTheElder commented on #7947
as an aside: dumping binaries into `/` is not the greatest imho. you wouldn't do that on a "real" linux system either.

That said we can configure `go_image` to use any directory (including `/` which the container image rules default to, the language ones add the binary to `/app` by default) with `data_path` and `directory` fields.

https://github.com/bazelbuild/rules_docker#container_layer

[2018-05-07 23:09] BenTheElder commented on #7947
just need to set `directory = "/"` on any image we have these hardcoded paths for, but really callilng something like `$(which foo)` or similar would be better so the images can be more flexible, imho...

[2018-05-08 00:45] dims opened #7960 "testgrid should support non-GCS stores for test results"
Can we please add support for things other than GCS buckets?
- plain old browsable web directories (http/https)
- S3 style object stores
etc..

[2018-05-08 00:45] dims commented on #7960
cc @thockin @BenTheElder

[2018-05-08 00:51] BenTheElder commented on #7960
cc @michelle192837 @rmmh
I believe the plan is to open source testgrid including the update which @fejta has also worked on but I'm not sure where these efforts are at currently.

[2018-05-08 01:02] cjwagner commented on #7940
I like the idea of watching for actionable config updates from merge commits.
We should keep in mind that we will likely have to either:
- rate limit the process so much that it has to run for hours
    or
- use a separate bot token

[2018-05-08 01:09] BenTheElder commented on #7940
One thought I had was that we could have the boot comment on the PR with an
intent to update requesting that a member of some admin team reply with an
approval / some command to trigger the actual migration. (Possibly combined
with some rate limit).
Another token could help too though...

On Mon, May 7, 2018, 6:02 PM Cole Wagner <notifications@github.com> wrote:

[2018-05-08 12:49] shyamjvs commented on #7957
Thanks Ben. Managed to fix it by restoring that pkg (sth bad happened to it somehow).

[2018-05-08 12:49] #7957 closed

[2018-05-08 17:57] fejta commented on #7960
/area testgrid
/help

This sounds like a great task for someone outside of Google to take on!

[2018-05-08 18:33] fejta commented on #5376
/remove-lifecycle stale

IMO it would be good to either a) allow merge commits or b) make prow enforce their absence.

[2018-05-08 19:02] kargakis opened #7963 "Prow job status icons are not showing up correctly in Firefox for Android on Marshmallow"
Firefox version: 59.0.2
Android version: 6.0.1
![screenshot_20180508-132244](https://user-images.githubusercontent.com/3900799/39777015-ab733fd0-5302-11e8-9b5d-567f0914f966.png)

/area prow
/kind bug

@kubernetes/sig-testing-bugs

[2018-05-08 19:12] BenTheElder commented on #7963
![screenshot_20180508-121203](https://user-images.githubusercontent.com/917931/39777696-1459e70a-52b9-11e8-82f6-8ff7c177dfac.png)

[2018-05-08 19:14] BenTheElder commented on #7963
I can't replicate on Firefox 59.0.2 / Android 8.1.0, perhaps Firefox for Android bugs on older SDKs?

[2018-05-08 20:12] stevekuznetsov commented on #7806
Fixed in #7865

[2018-05-08 20:12] #7806 closed

[2018-05-08 22:48] michelle192837 commented on #6700
/remove-lifecycle stale

Nope, still an issue.

[2018-05-08 23:11] lavalamp commented on #5376
A very compelling reason to allow merge commits is for feature branches. E.g. https://github.com/kubernetes/kubernetes/pull/63558

[2018-05-09 00:05] krzyzacy commented on #6655
/remove-lifecycle stale

[2018-05-09 04:37] sakarikl opened #7969 "Prow issue: dead link in email template"
in following sentence here is a link which leads to 404.
"Instructions for interacting with me using PR comments are available here."

https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md

Mail was about "There are no sig labels on this issue. Please add a sig label."

[2018-05-09 08:41] serathius commented on #7295
It happened again.
@piosz suggested simple workaround.
Before running test, if number of sinks has reached limit, delete all sinks.

[2018-05-09 11:08] kargakis opened #7971 "Prow config is mixing camelCase, _underscores _, and -hyphens-"
* camelCase, eg. `missingLabels` in the tide config
* underscores, mostly used eg. `push_gateway`
* hyphens, eg. `branch-protection`

We should probably converge to a single format and stick with it.

@fejta @stevekuznetsov @cjwagner @BenTheElder @krzyzacy

/area prow

[2018-05-09 11:08] kargakis commented on #7971
/shrug

[2018-05-09 12:12] #5919 closed

[2018-05-09 14:48] stevekuznetsov commented on #7971
+1 to `snake_case` IMO

[2018-05-09 14:50] stevekuznetsov commented on #7969
/area prow
/kind bug
/cc @spiffxp @cblecker

[2018-05-09 14:50] stevekuznetsov commented on #7969
@kubernetes/sig-contributor-experience-bugs

[2018-05-09 15:19] stevekuznetsov commented on #7940
The rate limiting code would be useful too for e.g. the `label_sync` and branch protection jobs.

[2018-05-09 15:38] lavalamp commented on #5376
@BenTheElder does the bot know the difference between master and a feature branch? Also, I probably shouldn't lose the history when I re-integrate this back into master.

I agree it's ordinarily a mistake for contributors to have a bunch of merge commits in a PR.

[2018-05-09 15:50] kargakis opened #7974 "Document each and every prow component"
We had this issue coming. @fejta @cjwagner @stevekuznetsov @BenTheElder @krzyzacy @spiffxp  who is up for some docs either by enhancing existing docs or on the remaining parts of prow? :)

- [ ] artifacts_uploader
- [x] [branchprotector](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/branchprotector/README.md)
- [x] [clonerefs](https://github.com/kubernetes/test-infra/tree/master/pr

[2018-05-09 16:37] stevekuznetsov commented on #7974
Hey, I did my best :)

[2018-05-09 16:44] BenTheElder commented on #7969
IIRC I patched this last week we just haven't deployed the patch yet.

On Wed, May 9, 2018, 7:50 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-05-09 17:47] BenTheElder commented on #5376
@lavalamp we could always bypass the requirements for snowflake PRs anyhow, but this could definitely be configured by branch.

[2018-05-09 17:49] BenTheElder commented on #7971
/kind bug
/area bikeshed

[2018-05-09 17:50] BenTheElder commented on #7971
we should also document whatever we move to somewhere or have a config linter to prevent regressions.

[2018-05-09 17:55] BenTheElder commented on #7940
yes, label_sync, branchprotector, needs-rebase are throttled

On Wed, May 9, 2018 at 8:24 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-05-09 18:06] BenTheElder commented on #7841
I've since added a little bit more disk to the nodes when normalizing the CI machines which may help, but we should fix this..

[2018-05-09 18:11] BenTheElder commented on #7960
this would be the OSS [updater](https://github.com/kubernetes/test-infra/tree/master/testgrid/cmd/updater) which scrapes the results, though we're not migrated to this one yet.

[2018-05-09 18:42] BenTheElder commented on #7841
are we deleting these after copying them to the CI machine to upload? even transient disk space is one of the resources we can't allocate to jobs and need to keep under control. it has been problematic in the past.

[2018-05-09 21:39] cjwagner commented on #7971
I vote hyphens, but I don't care much as long as we are consistent.

[2018-05-09 21:47] fejta commented on #7971
pronounSubject_I verbPredicate_Think implicitConjunction_That pronounSubject_We verbAuxilliary_Should verbPredicate_Use adjective_Hungarian nounDirect_Notation

[2018-05-09 21:48] fejta commented on #7971
We should make label_sync randomly assign a new color to the area/bikeshed label whenever the tool runs

[2018-05-09 22:31] fejta opened #7986 "Write gcsPath, orgRepo types that json can marshal"
We should take advantage of https://golang.org/pkg/encoding/#TextMarshaler to teach json/yaml to parse things like gs://bucket/path and org/repo correctly, rather than validating this at runtime

/cc @stevekuznetsov
/assign

[2018-05-10 00:41] cjwagner commented on #7944
@steuhs Was the secret configured properly?

[2018-05-10 02:10] krzyzacy commented on #7974
I'll probably add the diagram from the deep dive

[2018-05-10 04:56] #5665 closed

[2018-05-10 04:56] #4638 closed

[2018-05-10 14:19] stevekuznetsov commented on #7974
Would be great to add links to the Deep Dive recording, the next best thing has been the (really, really old) presentation given in `sig-testing` meeting about a year ago.

[2018-05-10 14:48] #7807 closed

[2018-05-10 19:01] aleksandra-malinowska opened #7993 "Some e2e jobs use unrelated service-account"
From [build log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-autoscaling/6092/build-log.txt) of one of the failed runs of https://k8s-testgrid.appspot.com/sig-autoscaling-cluster-autoscaler#gci-gke-autoscaling&show-stale-tests=

[code]

Looks like this (and other autoscaling GKE jobs) fails at tearing down old cluster. Previously, it was using a different accou

[2018-05-10 19:12] BenTheElder commented on #5896
/remove-lifecycle stale

[2018-05-10 19:16] michelle192837 commented on #5896
This is actually possible now as a tiny embeddable, but I didn't update the documentation. >< https://k8s-testgrid.appspot.com/q/summary/sig-testing-misc/bazel/tests_status for an example, general is https://k8s-testgrid.appspot.com/q/summary/<dashboard>/<tab>/tests_status

[2018-05-10 19:18] BenTheElder commented on #5896
Sweet! can we get this documented then? :-)

[2018-05-10 19:51] michelle192837 commented on #5896
Yup, I'll add it this evening.

[2018-05-10 22:41] michelle192837 commented on #5896
Ugh, I think this needs a small change first? The content type returned currently is text/html, and the image won't show on Github; think it needs to explicitly return as svg.

[2018-05-10 22:51] BenTheElder commented on #5896
ah yeah, probably needs to actually serve image/svg+xml

[2018-05-11 01:50] fejta opened #8007 "Update branchprotector to only delete protection if it is enabled"
/assign
/area prow

[code]

[2018-05-11 09:49] tnozicka commented on #4272
/remove-lifecycle stale
/lifecycle frozen

[2018-05-11 12:53] kargakis opened #8008 "allow retester to work with optional contexts"
[Soon](https://github.com/kubernetes/test-infra/pull/7983) tide will be able to handle optional github contexts. We should also find a solution for having the commenter ignore optional contexts too.

@stevekuznetsov @fejta @cjwagner

/area prow
/kind feature

[2018-05-11 12:53] kargakis commented on #8008
@sdodson fyi

[2018-05-11 13:16] dims opened #8009 "1850 FAILURES (819 TODAY) - Google network blocking CI job traffic"
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=1

[code]

[2018-05-11 13:18] dims commented on #8009
example log - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-ubuntu1-k8sbeta-default/575#sig-api-machinery-downward-api-should-provide-default-limitscpumemory-from-node-allocatable-conformance

[2018-05-11 13:51] krzyzacy commented on #7993
Hi @aleksandra-malinowska - this change was introduced in https://github.com/kubernetes/test-infra/pull/5563

is there still a recent run uses pr-kubekins? can you provide a link?

[2018-05-11 14:09] aleksandra-malinowska commented on #7993
Thanks for finding this. Looks like tests running on 1.10 branch are using pr-kubekins, e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-ubuntu1-k8sstable1-autoscaling/184

[code]
Taking another look, it doesn't seem to be causing test failure directly in this case.

On the other hand, it looks like testgrid is showing cluster up failure for suites which

[2018-05-11 14:28] stevekuznetsov commented on #8009
Error message:

[code]

/cc @krzyzacy  @BenTheElder

[2018-05-11 14:30] krzyzacy commented on #8009
O.o
/cc @MrHohn

[2018-05-11 14:36] BenTheElder commented on #8009
/cc @fejta
:this_is_fine:

[2018-05-11 14:36] aleksandra-malinowska commented on #7993
The first log contains failures related to corrupted state (a node-pool couldn't be removed, which caused subsequent scenarios to fail in BeforeEach phase - we should probably fix this by retrying in test)

There are no failures in the second log (6094), and on testgrid all runs of gci-gke-autoscaling recently look more or less the same, making it harder to identify issues like the one above.

[2018-05-11 14:40] krzyzacy commented on #7993
the last green run https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-autoscaling/6077 took 6h59m 😂

sounds like we should bump the timeout for the job?

[2018-05-11 14:46] aleksandra-malinowska commented on #7993
This is kind of depressing, but I'm already working on PR with it :(

[2018-05-11 14:49] krzyzacy commented on #7993
oh nope sorry, it should only take ~30min

if you look at https://k8s-testgrid.appspot.com/sig-autoscaling-cluster-autoscaler#gci-gke-autoscaling&graph-metrics=test-duration-minutes

the regression point looks like https://github.com/kubernetes/kubernetes/compare/4558e419b...b5f61ac12 ?!

[2018-05-11 14:52] aleksandra-malinowska commented on #7993
Created #8010 - can you approve it? Looking at the diff now.

[2018-05-11 14:53] krzyzacy commented on #7993
that's probably not caused by k8s changes... might be a gke change involved?

[2018-05-11 15:41] fejta commented on #8009
Please try and link to the actual `deadbeef` triage cluster rather than just the whole dashboard.

[2018-05-11 15:44] fejta commented on #8009
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=unusual%20traffic

Looks like spikes at 1a and 9a yesterday and today. Let's see if 9a repos today.

[2018-05-11 18:00] jwforres opened #8017 "Should lifecycle/frozen issues retain other lifecycle labels"
Currently when I freeze lifecycle for an issue it leaves the other lifecycle labels like lifecycle/stale and lifecycle/rotten. This is never what I actually want when marking an issue as lifecycle/frozen and I always have to perform two actions to both freeze it and then remove the current state.

[2018-05-11 18:01] jwforres commented on #8017
/assign @fejta

[2018-05-11 18:01] jwforres commented on #8017
cc @stevekuznetsov

[2018-05-11 18:59] stevekuznetsov commented on #8017
/area prow
/kind question

I would expect the other labels to be removed.

[2018-05-11 18:59] stevekuznetsov commented on #8017
/kind bug

[2018-05-11 20:19] luxas commented on #4420
@ixdy can you comment here the conclusion of the other day's conversation about this?

[2018-05-11 20:19] luxas commented on #6407
@BenTheElder @cjwagner is this active anymore?

[2018-05-11 23:15] cblecker commented on #5401
/remove-lifecycle stale
still a good idea

[2018-05-12 01:26] michelle192837 commented on #5896
Mmk, README.md is updated now!

[2018-05-12 21:15] matthyx commented on #7571
Please have a look at my PR #8023

[2018-05-13 01:12] BenTheElder commented on #3349
/remove-lifecycle rotten

On Fri, May 11, 2018 at 3:36 PM fejta-bot <notifications@github.com> wrote:

[2018-05-13 01:15] BenTheElder commented on #3349
/lifecycle frozen
this is pending on non-googlers having access to the infrastructure (pending the projects not being funded by being google.com org...), once we have something for that we can sort out the rotation details. until then they won't help much.

FWIW, I'm writing a doc with @amwat proposing how the infra-transition could work if funding etc. is sorted.

[2018-05-13 13:40] BenTheElder commented on #6407
Not at the moment, we've backed off from shared builds [in presubmit] in
favor of the Bazel remote cache, which has the benefit of working well
across unrelated jobs and being more generally useful in cutting build time.

On Fri, May 11, 2018, 4:19 PM Lucas Käldström <notifications@github.com>
wrote:

[2018-05-13 16:00] luxas commented on #6407
Ok, then I guess we should close this...

[2018-05-13 19:25] #6781 closed

[2018-05-14 12:42] matthyx commented on #6819
Maximum size for images is 10MB (bad gif in #6814 was 12MB).
https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/

[2018-05-14 18:27] matthyx commented on #6819
Yes, I have a PR coming... just not sure we need a unit test for it.

[2018-05-14 18:43] #2326 closed

[2018-05-14 18:46] rmmh commented on #2326
Note that job configs are now available in [artifacts/prow_podspec.yaml](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/25380/artifacts/prow_podspec.yaml).

[2018-05-14 22:05] cjwagner commented on #1351
Is this really worth the complexity and API token cost? We currently can determine what tests need to be run based on just the org, repo, and conditionally (if there is a run_if_changed job for the repo) the files that are modified by the PR. Adding an unconditional dependency on the PR's comments seems like a coupling we should try to avoid.
If we need a way to make jobs 'stick' to a PR I'd prefe

[2018-05-14 23:29] #7881 closed

[2018-05-15 08:11] #7929 closed

[2018-05-15 09:35] luxas commented on #1351
I don't care strongly about this. We might as well not do it, and mark it as the expected behavior. That's totally fine by me, but I just found it a bit unintuitive at the time. Please doc this instead.

[2018-05-15 10:17] ingvagabund commented on #7952
Which dashboard is it? Is it publicly available?

[2018-05-15 10:27] dims commented on #7952
@ingvagabund see https://k8s-testgrid.appspot.com/k8s#kubelet&width=20 (and click on "sig-release") you will see a bunch of `*-blocking`. test-infra has config files to build this dashboard.

[2018-05-16 18:02] msau42 opened #8047 "Collect logs from all nodes involved in downgrade tests"
While trying to triage this downgrade test [failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/613?log#log), I could not find kubelet logs for the node bootstrap-e2e-minion-group-9cl0 where the test failed.

[2018-05-16 23:16] sipian opened #8052 "403 Forbidden & ingress address error on setting up prow on CentOS7 baremetal"
I am setting up prow on 1 [packet.net](https://www.packet.net/) CentOS7 machine using [getting_started.md](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started.md).

On creating a cluster with minikube, I get an address(10.0.2.15) on running `kubectl get ingress ing`.

But deck pod logs are
`{"component":"deck","error":"response has status \"403 Forbidden\" and body \"{\"kind\

[2018-05-16 23:30] BenTheElder commented on #8052
The 403 is probably lack of RBAC which we really ought to put in starter.yaml, xref https://github.com/kubernetes/test-infra/issues/7950

For the ingress issue, was creating the ingress successful? You may need to set up EG https://github.com/kubernetes/ingress-nginx first when running on baremetal.

[2018-05-16 23:32] BenTheElder commented on #8052
See: https://github.com/kubernetes/test-infra/issues/7950#issuecomment-387048959 for @kargakis's note with OpenShift's RBAC rules. kubernetes/*'s prow does not have RBAC so we have not gotten these mainlined yet 😱

[2018-05-16 23:32] BenTheElder commented on #8052
/cc @cjwagner @kargakis

[2018-05-17 01:28] BenTheElder commented on #6857
Oops. I didn't see this before. This is configurable per repo, and for some repos like kubernetes implicit self approval is indeed how things are configured.

[2018-05-17 11:38] nikhita commented on #5543
/remove-lifecycle stale

[2018-05-17 16:22] mistyhacks opened #8058 "Proposal for Prow mechanism for force-pushing a feature branch"
Yesterday, @chenopis and I met with @fejta to discuss the workflows used by sig-docs, and started to discuss how Prow might be used to accomplish the rebase/force-push workflow to keep the base of a feature branch up to date, while obeying the CLA requirements and other testing requirements. Here is a potential workflow that could be enabled by Prow. I'm putting this here for discussion. @fejta sa

[2018-05-17 18:29] fejta commented on #8058
/cc @lavalamp for his feature Branch thoughts

[2018-05-17 21:41] lavalamp commented on #8058
We decided not to do this for our feature branch. What is wrong with just merging like git was intended?

[2018-05-17 21:42] lavalamp commented on #8058
(If you did want to do this I'd suggest making the directive be in the body of the PR, not an imperative command someone gives at the end. I.e., it's about the type of the PR: it's `/type replace` or `/type merge (default)`.)

[2018-05-17 22:50] BenTheElder commented on #6590
/assign
/priority backlog

[2018-05-17 22:56] #6904 closed

[2018-05-17 23:13] mistyhacks commented on #8058
@lavalamp the Docs team has non-release-specific improvements always going into the `master` branch, so that we do not need to wait for a release to happen to get improvements like typos and things like the Hugo migration live. The alternative is to publish from a release branch, which will only get typos and other non-release-specific improvements when a new release goes out. This doesn't best se

[2018-05-17 23:14] mistyhacks commented on #8058
Also I am having a hard time understanding "like git was intended" because we are not proposing using commands that are not part of Git. Can you clarify?

[2018-05-18 03:55] cjwagner opened #8065 "Stop using global flags in all Prow binaries."
Instead use something like option structs and bind flags at the beginning of `main`.

ref #8050
/area prow

[2018-05-18 05:44] fejta commented on #8007
Fixed in https://github.com/kubernetes/test-infra/pull/8014
/close

[2018-05-18 05:44] #8007 closed

[2018-05-18 05:46] fejta commented on #7525
Fixed by https://github.com/kubernetes/test-infra/pull/7984
/close

[2018-05-18 05:46] #7525 closed

[2018-05-18 05:47] fejta commented on #6182
Fixed by https://github.com/kubernetes/test-infra/pull/7984
/close

[2018-05-18 05:47] #6182 closed

[2018-05-18 08:12] kargakis opened #8070 "Periodic runs for the needs-rebase plugin do not work"
Moving from https://github.com/openshift/release/issues/764

/kind bug
/area prow

@cjwagner @stevekuznetsov @BenTheElder @tnozicka

[2018-05-18 15:09] philhug commented on #7947
is there consensus on this? I can create a PR to move the binary within Dockerfile or modify bazel to put the binary into the / directory.

[2018-05-18 18:02] BenTheElder commented on #7947
@philhug let's just set the `directory` fields in the bazel builds for now.

[2018-05-18 18:03] BenTheElder commented on #8070
https://platform.github.community/t/sporadic-502s-fetching-pr-data/3024/4
https://platform.github.community/t/randomly-unable-to-fetch-commit-author-fields-author-authoreddate-authoredbycommitter-api-returns-502s/5217/5

This seems to be a common problem.

[2018-05-19 00:16] BenTheElder opened #8090 "figure out shellcheck in CI (and locally)"
https://github.com/koalaman/shellcheck seems to be a pretty awesome tool for linting shellscripts.

we can probably use WORKSPACE dependencies on shellcheck binaries, but the linux builds seem to have a dodgy glibc linkage and there don't seem to be published macOS binaries. we could build ourselves and stick them in GCS or something, but until then we're just making a lot of fixes from @rmmh runn

[2018-05-19 00:17] BenTheElder commented on #8090
/cc @ixdy @rmmh
/assign
No idea when I'll do this (now? someday?) but if you both don't get to it first I'd like to see this figured out, we have too much shell to not be linting it :-)

[2018-05-19 00:26] ixdy commented on #8090
I think I looked at enabling shellcheck on kubernetes/kubernetes at one point, but there were so many errors reported I gave up and ran away screaming.

[2018-05-19 00:39] cblecker commented on #8090
I had the same idea/experience as @ixdy :)
cc @stevekuznetsov

[2018-05-19 01:11] BenTheElder commented on #8090
we could do what test-infra does with lints, which is to incrementally widen the set of sources that are actually linted, excluding directories nobody has had time to fix yet.

[2018-05-19 01:16] cblecker commented on #8090
Future thought: for linting jobs (golint, shellcheck, even misspell) if we could use the github Checks API. I think they'd all be good candidates for portable jobs, and then we can run them anywhere. A much bigger thing to bite off, but perhaps an interesting project.

[2018-05-19 01:39] BenTheElder commented on #8090
Yeah. We have a golint plugin with sort of a home rolled variant of the
checks now. I think we don't have access to the checks API currently (in
beta, and only for GitHub Apps)

On Fri, May 18, 2018, 6:16 PM Christoph Blecker <notifications@github.com>
wrote:

[2018-05-21 00:11] sipian commented on #8052
Using https://github.com/kubernetes/test-infra/blob/master/prow/getting_started.md#create-cluster-role-bindings, I was able to get it to work on GKE.  Haven't figured out bare-metal yet.
Closing this issue for now as my problem was solved by using GKE.

[2018-05-21 00:11] #8052 closed

[2018-05-21 00:25] sipian commented on #7974
Hi,
I am looking at prow for Prometheus test & benchmarking environment.
It will be really helpful if some documentation could be provided about all the various fields in [config.yaml](https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml) & [plugins.yaml](https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml)

[2018-05-21 18:17] BenTheElder commented on #7295
@serathius are you working on this?

[2018-05-21 18:19] BenTheElder commented on #6346
@cjwagner assuming we still want this
/remove-lifecycle rotten

[2018-05-21 18:26] serathius commented on #7295
I introduced a hotfix that will ensure that it will not block merge queue.
https://github.com/kubernetes/kubernetes/pull/63586

[2018-05-21 18:27] krzyzacy commented on #7295
Thanks! I'll close this for now

[2018-05-21 18:27] #7295 closed

[2018-05-21 20:22] fejta opened #8097 "github rejecting required_pull_request_reviews policies"
/assign

declaration - https://github.com/kubernetes/test-infra/blob/8fc0c71615c740d566981f8ac17cbedf808a46da/prow/config.yaml#L73-L76

result

[code]

[2018-05-21 21:48] #8097 closed

[2018-05-21 22:35] cjwagner opened #8104 "Pod Utilities should expose a way for jobs to supply custom metadata."
Gubernator and Testgrid both expose metadata about job runs based on the contents of the `metadata` field in finished.json. Previously, bootstrap.py populated this field and would include additional custom fields specified by the job in a metadata.json file. The sidecar pod utility (and maybe initupload) should be updated to do the same or similar.

/area prow
/cc @stevekuznetsov @fejta
/help

[2018-05-21 22:41] BenTheElder opened #8105 "size labeling is hilariously wrong"
https://github.com/kubernetes/kubernetes/pull/64122/commits/61cd053602dc16403e76033a708d09948d2e4bf1
![image](https://user-images.githubusercontent.com/917931/40333465-6d1fd3f0-5d0d-11e8-9634-4c6f33e0b8a7.png)

/area prow
/kind bug

[2018-05-21 22:43] ixdy commented on #8105
/shrug

[2018-05-21 22:45] krzyzacy commented on #8105
/woof
/this-is-fine

[2018-05-21 22:46] BenTheElder commented on #8105
I dug into this and it seems we're matching all of the changes as "auto generated" which is not quite true here. I guess this is WAI, but it was certainly surprising..

[2018-05-21 23:32] #5922 closed

[2018-05-22 18:02] sipian opened #8108 "initupload - exiting with exit code 1"
Hi,
Am trying to use using pod-utilities by setting decorate: true in presubmit, I am getting this error
 "{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"container \"test\" in pod \"85892c68-5de6-11e8-b4a4-0a580a340107\" is waiting to start: PodInitializing","reason":"BadRequest","code":400}"
My config.yaml is [here](https://github.com/sipian/test-infra/blob/prometh

[2018-05-22 19:53] sipian commented on #8108
I found that initupload container is exiting with exit code 1. But I cannot see any logs in GCP dashboard.

[2018-05-22 20:14] BenTheElder commented on #8108
@cjwagner @stevekuznetsov

[2018-05-22 20:27] sipian commented on #8108
![screenshot from 2018-05-22 15-49-12](https://user-images.githubusercontent.com/15672091/40388239-f05a0e8c-5ddc-11e8-9046-92f7154a1ee2.png)

[2018-05-22 20:37] cjwagner commented on #8108
Yes, `gcs_credentials_secret` is a kubernetes secret containing GCS credentials.

It would be helpful to get the logs from the initupload container to get more information about what is wrong. You can use `kubectl logs -n <pod-namespace> <pod-name> initupload` to get the logs from the `initupload` container if it ran.
You can also get more information about the containers, volume mounting problems

[2018-05-22 20:55] sipian commented on #8108
logs say gcs_credentials_file: /secrets/gcs/service-account.json not found.
Could you tell how to make service-account.json accessible to prow?
I'm a newbie in k8s and would appreciate some help.

[2018-05-22 22:07] sipian commented on #8108
Should the service-account.json be saved in  gs:://bucket-name/secrets/gcs/ or in some directory in the node ?

[2018-05-22 22:28] cjwagner commented on #8108
No, don't save your service account in the bucket. It belongs in a kubernetes secret. The link that you had previously in the issue description was very similar to what you needed to do. I think it was steps 3 and 4 from this: https://cloud.google.com/kubernetes-engine/docs/tutorials/authenticating-to-cloud-platform#step_3_create_service_account_credentials

You just need to export the service acc

[2018-05-22 22:54] sipian commented on #8108
Yeah it works now. :relieved:
I had been giving the file name as key.json(as given in [the](https://cloud.google.com/kubernetes-engine/docs/tutorials/authenticating-to-cloud-platform#step_3_create_service_account_credentials) tutorial). This had been causing the problem.
Thanks a lot.
P.S. Maybe you can mention this in gcsupload ReadMe. This might be helpful for k8s newbie's

[2018-05-22 22:54] sipian commented on #8108
[the](url)

[2018-05-22 22:54] #8108 closed

[2018-05-23 19:16] paulangton commented on #3396
Starting work on this issue, going to use a WaitGroup to ensure all events have been handled before shutdown.

[2018-05-23 19:37] philhug commented on #7947
Unfortunately the directory = "/" approach didn't work.
Directory doesn't have any impact at all.
Is this due to outdated bazel rules?

The go binary always ends up in /app.

[code]

[2018-05-23 19:37] philhug commented on #7947
/reopen

[2018-05-23 19:49] philhug commented on #7947
I updated rules_docker and rules_go to latest master, but same effect.

@BenTheElder do you have any ideas?

[2018-05-23 20:31] michelle192837 commented on #5073
These are now in! Column headers will display the name of the value the header is based on, and the value itself (useful if, for instance, you're viewing things in Compact or Super Compact size).

[2018-05-23 20:47] BenTheElder commented on #5073
Thanks @michelle192837 ! 🎉

[2018-05-23 21:09] krzyzacy commented on #5073
:100:

[2018-05-23 23:06] philhug commented on #7947
/assign @BenTheElder

[2018-05-24 00:55] sipian opened #8122 "Entrypoint giving error when no command & arg is given in config.yaml"
On running a k8s job, I am getting `Invalid options: no process to wrap specified"`.
Since my [Dockerfile](https://github.com/sipian/golang-builder/blob/master/1.10/base/Dockerfile) has a bash file as ENTRYPOINT,  no command & args  field have been given in [config.yaml](https://github.com/sipian/test-infra/blob/prometheus-test/prow/config.yaml#L39).

Therefore, my pod YAML file has `"args":null`

[2018-05-24 14:36] jessfraz opened #8125 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 18:30] BenTheElder commented on #8122
if you set `decorate: true` I believe you need to set an entrypoint in config.yaml, because the way we wrap it.

[2018-05-24 21:42] BenTheElder commented on #8125
/assign

[2018-05-24 22:00] BenTheElder commented on #6227
/remove-lifecycle stale

On Thu, May 24, 2018 at 2:41 PM fejta-bot <notifications@github.com> wrote:

[2018-05-24 22:27] BenTheElder commented on #8122
cc @stevekuznetsov @cjwagner

[2018-05-24 22:38] cjwagner commented on #8122
You need to specify the binary location in the containers `command` field in config.yaml. This is described in the docs here: https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md#how-to-configure

[2018-05-24 22:38] #8122 closed

[2018-05-24 23:18] BenTheElder commented on #7947
we may not even want to use `go_image`, really we just want to take an existing image, add the binar{y,ies} and set the entrypoint, which we can do with the other rules. we mostly tend to use our own base image anyhow, so we're not benefiting from the distroless defaults.

[2018-05-25 00:49] BenTheElder commented on #5543
@kubernetes/sig-contributor-experience-feature-requests
we'd need something to reference here

[2018-05-25 09:50] munnerz opened #8133 "Tide categorising passing PRs using run_if_changed and run_after_success as 'prs-missing'"
As discussed in Slack -

We have recently enabled Tide for a repo that makes heavy use of run_if_changed and run_after_success to only test certain parts of a codebase in a monorepo depending on what files path have changed. We also use run_after_success to, for example, only run e2e tests against *all* kube versions if e2e tests against a single kube version pass (to save running all tests for a

[2018-05-25 09:51] munnerz commented on #8133
/area prow
/kind bug

[2018-05-25 09:53] munnerz commented on #8133
cc @simonswine

[2018-05-25 15:20] grodrigues3 commented on #3178
/close

[2018-05-25 15:20] #3178 closed

[2018-05-25 18:07] BenTheElder commented on #7874
/unassign @Q-Lee
/assign

[2018-05-25 18:23] BenTheElder commented on #6977
this was not a test-infra automation issue, this is an issue bringing up the nodes either because of a kops problem or because of quota (the latter is common).

[2018-05-25 18:23] #6977 closed

[2018-05-25 18:53] BenTheElder commented on #4761
/remove-lifecycle stale

[2018-05-25 21:32] cjwagner commented on #8133
We are not seeing this behavior, the run_if_changed jobs on our Prow instance are being handled properly.
If this actually is the problem it must have been introduced since we last updated our Tide instance.

Might be a good place to start with the unit tests since that should be easy to prove or disprove.

[2018-05-26 11:59] cpanato commented on #1351
I will search another ticket to try to work on.

[2018-05-26 12:02] cpanato commented on #7899
I can try this one if thisnis open for the community

[2018-05-26 19:26] #6087 closed

[2018-05-27 18:30] kargakis commented on #7951
/help

[2018-05-27 18:30] #7963 closed

[2018-05-27 20:51] #6103 closed

[2018-05-28 06:57] sttts opened #8141 "Publishing bot cannot push"
Our publishing bot https://github.com/k8s-publishing-bot cannot push due to a `cla/linuxfoundation` check:
[code]

[2018-05-28 08:02] #1351 closed

[2018-05-29 06:42] fejta commented on #7899
Definitely, go for it!

[2018-05-29 13:20] munnerz commented on #8133
So we've just discovered that we have `always_run: true` set on these optional presubmits as well as `run_if_changed` being used.

This is causing tide to trigger the presubmits due to `presubmitsByPull` having a special case for AlwaysRun presubmits (which seems like expected behaviour to me).

So this was a mis-configuration in my opinion, however it would be great if there were some validation

[2018-05-29 16:27] cblecker commented on #6670
/remove-lifecycle stale
@hoegaarden are you still working on this?

[2018-05-29 16:52] hoegaarden commented on #6670
@cblecker I started looking into that but then got sidetracked by other things -- sorry about that!
I can see if I find time to address that in the coming weeks or I can step back and remove the assignment -- what would you prefer?

[2018-05-29 17:10] cblecker commented on #8141
that context is required, which means that it requires a PR to be generated. The one way around this would be to give the bot admin on the repo, as opposed to just write. this would allow it to push anyways, even without the right status contexts.

[2018-05-29 18:55] cjwagner commented on #8133
Thats correct. We should be validating this when parsing the config, but we aren't.
It also looks like we aren't checking that `context == ""` => `skip_report == true`.

I'll add some validation. Thanks for tracking this down James!

[2018-05-29 19:34] krzyzacy opened #8151 "make janitor scenario support clean customized projects"
aka --mode=custom, --project=proj1,proj2,proj3...

(in case I forgot)
/assign

[2018-05-29 19:35] cblecker commented on #8141
I don't think it's that they don't pass the CLA, it's that they don't have the CLA context set.. which will never get set if isn't pushed and the CLA bot isn't delivered a webhook. chicken and egg.

[2018-05-29 19:42] BenTheElder commented on #8141
yeah, this is tricky cross-repo, IIRC contexts are reported to a (repo,
commit sha) so even though the commits have been checked that status
doesn't exist in the synced repo...

one way to actually get the CLA check would be for the bot to push to a
fork first and then open a PR with the commits, instead of directly pushing
(which Erick mentioned), the other mentioned options are all probably
reas

[2018-05-29 20:48] cblecker commented on #6227
/remove-lifecycle rotten

[2018-05-29 20:54] BenTheElder commented on #6227
thanks @cblecker. for anyone following along, @spiffxp is still on this but is on extended OOO. I imagine he'll continue this when he gets back

[2018-05-29 20:55] BenTheElder commented on #6380
this is recently relevant to @shyamjvs with scalability presubmits for example
/remove-lifecycle stale
I know there was a discussion around this, and some initial attempt to document, but we should get that finalized and committed somewhere official..

[2018-05-29 21:04] sttts commented on #8141
Have to check whether it happens on every commit.

I started to do the CLA process for the bot, but stopped when faking name and signature :)

[2018-05-29 21:06] sttts commented on #8141
Unfortuantely not possible as it does not preserve the exact commit structure via a PR.

[2018-05-29 21:19] BenTheElder commented on #8141
well if you just *open* the commit then we can get the cla status(es) IIRC, without necessarily merging it, since the statuses are not PR specific.
probably not worth it though /shrug

[2018-05-29 23:01] ivan4th opened #8156 "Misleading k8s-ci-robot message about lgtm permissions"
When a github user who is not a project collaborator tries to `/lgtm` a PR, the following comment is produced by k8s-ci-robot:

Here's an example of such message: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/130#issuecomment-392928351

Whereas (at least in case of kubernetes-sigs repos) project collaborators can use `/lgtm`, too.
(In the above case, it was fixed by adding the user

[2018-05-30 00:15] BenTheElder commented on #7947
/priority backlog

[2018-05-30 00:16] BenTheElder commented on #7947
/cc @cjwagner
are we just using the dockerfiles for testing these? we should really fix this and start pushing these with prow bumps

[2018-05-30 18:11] cblecker commented on #8141
@sttts can you confirm this is the right list of repos for the publishing bot: https://github.com/orgs/kubernetes/teams/stage-bots/repositories ?

[2018-05-30 20:04] cjwagner commented on #7947
Yes pod utilities must be built with make and the Dockerfile right now.

[2018-05-30 22:28] awly opened #8167 "prow: trigger submit process manually"
### Proposal
Separate lgtm+approval from submitting and add new `/submit` command to trigger merge of a PR.

### Why
PRs may require multiple rounds of reviews/changes.

Fixup commits are a straightforward way to address comments and convenient for reviewers to look at. But final merged PR needs those commits squashed.

As a PR author, i want to address comments in a series of small commits, get l

[2018-05-30 22:28] awly commented on #8167
cc @immutablet

[2018-05-30 22:30] #7867 closed

[2018-05-30 22:30] krzyzacy commented on #7867
seems no more complains, close this for now

[2018-05-30 22:31] krzyzacy commented on #7769
/shrug
https://github.com/kubernetes/test-infra/pull/8165

[2018-05-30 23:39] BenTheElder commented on #8167
we've discussed that in the past, currently one way you would do this is `/lgtm\n/hold` and then the author does `/hold cancel`

[2018-05-30 23:39] BenTheElder commented on #8167
/area prow
/cc @cjwagner

[2018-05-30 23:39] BenTheElder commented on #5296
@paulangton

[2018-05-30 23:40] BenTheElder commented on #7769
/assign

[2018-05-30 23:43] immutableT commented on #8167
Have we considered adding a check for un-squashed commits?
Scenario, reviewer is happy with the change (lgtm/approve), but the PR still needs to be squashed. Once the submitter squashes the PR, merge is triggered.

[2018-05-30 23:48] BenTheElder commented on #8167
@immutableT we have discussed it but have not implemented, since when you squash you then force push and without comparing the code to an old copy or something we don't know that you didn't force push new code. ...Which means we also need to store the old version / hash somewhere. It's a good idea, but not completely trivial and hasn't been in terribly high demand.

[2018-05-31 00:07] fejta commented on #8167
Yes, see https://github.com/kubernetes/test-infra/issues/5376

The lack of a `/submit` command -- aka applying the `do-not-merge/hold` label by default -- doesn't seem like the issue here.

It seems more like a request to make the `lgtm` label sticky when certain types of PR updates are made, and/or configure the tide submit-queue to always/sometimes squash and merge instead of just merge.

Right

[2018-05-31 00:30] awly commented on #8167
Hmm, I think https://github.com/kubernetes/contrib/issues/1853 would be ideal (looks like it got auto-closed).
Alternatively, detecting manual squash (compare PR diff before/after push) to keep lgtm label sticky would work too.

Can https://github.com/kubernetes/contrib/issues/1853 be re-opened to dup into?

[2018-05-31 00:51] BenTheElder commented on #8167
@awly that one's a bit stale since we're not using the submit-queue anymore going forward.

All repos but [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes) are already on [`tide`](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/tide) which does support specific repos using squash merges (though it's for all PRs, not per-pr, see `merge_method` in the readme).

[2018-05-31 02:01] cjwagner commented on #8167
We should make the 'remove `lgtm` label on PR update' feature optional by repo to support this workflow in repos where it is preferred (this one!).

The actual `/submit` command could be implemented pretty easily. It will be trivial to implement it after https://github.com/kubernetes/test-infra/pull/8131 is in.

[2018-05-31 04:35] nickchase commented on #6545
/remove-lifecycle rotten

[2018-05-31 04:35] nickchase commented on #6545
/remove-lifecycle stale

[2018-05-31 07:03] SamDhina opened #8176 "kube-flannel status showing "CrashLoopBackOff" in worker nodes"
Hi ,

I have setup a kubernetes cluster in oracle linux 7 OS with one master node and two worker nodes . After i Joined the worker node with token the kube-flannel network is not running and in web UI logs of kube-flannel i'm getting the below error . Any one have the solution to rebuild the flannel network in worker node alone .
**********************************************************

Logs fro

[2018-05-31 16:49] stevekuznetsov commented on #8156
Is this an artifact of the API call we use to check membership?

/kind bug
/area prow
/cc @BenTheElder @cjwagner

[2018-05-31 17:29] stevekuznetsov commented on #7951
We should think through a clear boundary for the logic that we want to support here, these sorts of logic things cause the majority of correctness bugs in `prow`.

[2018-05-31 17:35] stevekuznetsov commented on #8104
So we would want to mount in a configmap to expose the info to whichever utility uploads it? Is it just static data?

[2018-05-31 17:43] stevekuznetsov commented on #8058
I think the question was -- why not operate like this:

[code]

Where `E` is a merge commit that bring the `feature` branch back into `master`, rather than:

[code]

Where the `feature` branch is rebased and a fast-forward merge brings those commits into `master` ?

[2018-05-31 17:56] BenTheElder commented on #8156
It's because we intentionally check for collaborators as well, which is
configurable, but we don't surface this in the message.

On Thu, May 31, 2018, 9:49 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-05-31 18:04] BenTheElder commented on #7032
bootstrap.py dumps the podspec now which has been very useful occasionally
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/64560/pull-kubernetes-bazel-build/45263/artifacts/prow_podspec.yaml

On Thu, May 31, 2018, 10:23 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-05-31 18:09] fejta commented on #8156
The message is wrong, and we should fix it. Anyone who can be assigned can lgtm

[2018-05-31 18:17] krzyzacy commented on #7951
simply `run_after`, and some condition like `succeed`?

[2018-05-31 18:28] fejta commented on #6819
/bark

[2018-05-31 18:30] BenTheElder commented on #7951
If we're going to do that, I think something a tad more general might be
worth thinking about. The coupling of our triggering to job definitions is
a bit awkward right now. We also have a couple of mutually exclusive
prowjob fields already..

On Thu, May 31, 2018 at 11:17 AM Sen Lu <notifications@github.com> wrote:

[2018-05-31 18:32] krzyzacy commented on #7951
yeah, also that :-)

[2018-05-31 18:45] #8133 closed

[2018-05-31 20:38] cblecker commented on #8167
The concern from me would be the author doing self-review. If it's a straight squash, we could try to detect that (diff LOC to ensure it's the same, even though it's a different commit hash).. but there isn't a one of us who hasn't screwed up a rebase at least once. Having someone else to re-review helps with that.

So the squashing use case we could potentially deal with safely.. but I think the

[2018-05-31 20:41] cblecker commented on #8176
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-05-31 20:41] #8176 closed

[2018-05-31 22:10] mistyhacks commented on #8058
It doesn't work for documentation workflows where two different branches are moving forward at one time, and branch B needs to have all the work from branch A underneath all of branch B's work at all times. Kubernetes docs are continuously improved and published, in a separate stream from not-yet-published features. The stream of not-yet-published features also needs the continuous improvements to

[2018-06-01 03:34] ihoegen opened #8192 "Feature Request: Turn TODO comments in the codebases into Github issues"
I think it'd be cool if one of the existing bots (or a new one) went through the various Kubernetes codebases and took TODO comments and turned them into Github issues.

Obviously, this wouldn't be trivial, and it'd be important to prevent spamming, and duplicate issues, but it's something I'd be happy to work on if others find the idea worthwhile

[2018-06-01 04:32] kargakis commented on #8167
Issue for this is https://github.com/kubernetes/test-infra/issues/6353

[2018-06-01 04:37] kargakis commented on #7974
@sipian not ideal today but you can find some documentation about those in godoc

https://godoc.org/github.com/kubernetes/test-infra/prow/config#Config
https://godoc.org/github.com/kubernetes/test-infra/prow/plugins

[2018-06-01 04:39] kargakis opened #8193 "Plugin config needs to use pointers to structs instead of structs"
https://github.com/kubernetes/test-infra/blob/2a0b9e25c079afda989b28f63eb0c903148bca80/prow/plugins/plugins.go#L162-L172

Otherwise there is no point in using `omitempty`

/shrug
/area prow
/help

[2018-06-01 04:46] kargakis opened #8194 "Collapse config.OwnersDirBlacklist and plugins.Owners"
Unclear why we need to keep OWNERS config into two different places

cc @cjwagner

/area prow

[2018-06-01 16:40] awly commented on #8167
@BenTheElder do you know if kubernetes/kubernetes will use squash merges after switching to tide?

@kargakis ah, great! This and squash merges address all of my concerns. I really hope kubernetes/kubernetes gets either one.

[2018-06-01 16:40] #8167 closed

[2018-06-01 16:50] BenTheElder commented on #8167
Unlikely. Many PRs have good logical commit sequencing and squashing
commits strips signed commits.

I think kubernetes will prefer to keep git history over auto squashing, but
for small repos, PRs generally have one logical commit worth of changes
anyhow.

On Fri, Jun 1, 2018, 9:40 AM Andrew Lytvynov <notifications@github.com>
wrote:

[2018-06-01 17:45] dims commented on #8141
@cblecker looks like it. it matches the list of directories under staging

[code]

[2018-06-01 17:50] sttts commented on #8141
It's right ^^

[2018-06-01 18:00] cblecker commented on #8141
I've updated the permissions to admin, as well as filed https://github.com/kubernetes/test-infra/pull/8204 to ensure that the bots are the only ones pushing to those repos.

[2018-06-01 18:18] BenTheElder opened #8205 "milestone bot spam detracts from monitoring issues"
It's very difficult to actually subscribe to Kubernetes issues / PRs when code slush / freeze comes around due to the enormous amount of these messages:

![image](https://user-images.githubusercontent.com/917931/40856630-6a1042ca-658d-11e8-9179-887d61e1550d.png)

We should seriously consider if posting this once-a-day on each thread actually helps anyone.

/sig contribex
/cc @jberkus @cblecker @cj

[2018-06-01 18:53] jberkus commented on #8205
So the milestone bot nags folks daily or every 3 days (depending on the issue) because we expect progress in that window of time, and it's critical that issue/PR owners keep their issues updated.

While I agree that the milestone bot hasn't been spectacularly effective in doing this, do you have suggestions on something else we could do that isn't bot nagging?

[2018-06-01 19:10] BenTheElder commented on #8205
Can we nag folks that actually have permissions to fix these things to look
through the issues that have some label instead? Most of the people
receiving these messages can't really do anything about them.

On Fri, Jun 1, 2018, 11:53 AM Josh Berkus <notifications@github.com> wrote:

[2018-06-01 19:12] krzyzacy opened #8206 "make a boskos pool for istio projects"
it needs to clean up resources after every run, CI janitor cannot guarantee that yet, best bet is just give it a pool of one project..

/assign

[2018-06-01 19:13] jberkus commented on #8205
That would be great.  And ... a job for test-infra?

Step one is completing replacing the milestone munger with Prow.  Until we do that, no other changes are happening.

[2018-06-01 19:17] cblecker commented on #8205
I'd suggest some off-github method for doing this, or some way of aggregating the issues/PRs so that it's easier to review/digest, then a bunch of spam every 3 days.

I would actually say it's up to sig-release (not just the current release team, but those involved with the sig) to define what the desired process/procedure is. Then we can figure out engineering resources to make the code happen.

[2018-06-01 19:18] cblecker commented on #8205
@kubernetes/sig-release-members @kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort

[2018-06-01 20:19] krzyzacy commented on #8151
/assign @amwat

[2018-06-01 20:20] krzyzacy commented on #7771
self-bump reminder

[2018-06-01 20:20] #8151 closed

[2018-06-01 20:49] #6116 closed

[2018-06-01 21:21] BenTheElder commented on #8205
The issue *is* filed in test-infra, I'm happy to work on something once we have consensus on what to do or even if we agree that we don't want the current situation, but sig-release and sig-contributor-experience need to be involved in discussing *what* we should do before any test-infra folk change this.

@cblecker's comment sums up my thoughts  nicely:

Looking forward beyond the current release

[2018-06-01 21:30] nicksardo opened #8209 "Janitor clean up regional GKE clusters"
The janitor script only seems to support zonal clusters currently.

[2018-06-01 21:50] #3584 closed

[2018-06-01 23:04] paulangton commented on #3396
@kargakis can we close this since #8126 was merged?

[2018-06-01 23:06] paulangton commented on #7714
@BenTheElder can this be closed since #8107 was merged?

[2018-06-01 23:20] BenTheElder commented on #7714
Yep, thanks for that!
/close

[2018-06-01 23:20] #7714 closed

[2018-06-01 23:40] cjwagner commented on #8194
/assign

[2018-06-01 23:50] kargakis commented on #3396
Thanks for working on this!

/close

On Fri, Jun 1, 2018, 16:04 Paul Langton <notifications@github.com> wrote:

[2018-06-01 23:50] #3396 closed

[2018-06-01 23:52] #4849 closed

[2018-06-01 23:52] #4040 closed

[2018-06-01 23:52] #3340 closed

[2018-06-01 23:52] #3348 closed

[2018-06-02 00:56] #8206 closed

[2018-06-02 01:12] oomichi opened #8217 "apicoverage: Add option for outputting API coverages which are segmented by clients"
As we discussed on https://github.com/kubernetes/test-infra/issues/6904

It is nice to add some option for outputting API coverages which are segmented by clients(kubelet, e2e, etc).

[2018-06-02 01:13] oomichi commented on #8217
/assign oomichi

[2018-06-02 03:27] cjwagner opened #8219 "Gubernator: Server error when trying to view job results for a PR."
The `tensorflow/minigo PR #251` link at the top of this page: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/tensorflow_minigo/251/pull-tf-minigo-cc/10/ links to https://k8s-gubernator.appspot.com/pr/tensorflow/minigo/251 which should show all job results for the PR, but is currently omitting a key error instead.

Interestingly https://k8s-gubernator.appspot.com/pr/tensor

[2018-06-02 03:43] cjwagner commented on #8104
Not necessarily. It could be static, but it could also be some metric about the job that is determined at runtime (memory usage, retry attempt count, code coverage percentage, etc.).
I was imagining that we could just expose the location of an empty (or non-existent) `metadata.json` file similar to how we expose $ARTIFACTS to jobs. When sidecar is preparing `finished.json` for upload it could cons

[2018-06-02 03:46] cjwagner commented on #7032
^ That would be even more useful for the pod utilities to do.

[2018-06-03 14:40] justinsb opened #8220 "kops e2e on GCE broken"
kops e2e on GCE has been broken since #7395

[2018-06-03 14:40] justinsb commented on #8220
There's a real fix in #7408, but going to propose a simple revert of #7395 as it looks like other things have broken while our testing has been known-broken

[2018-06-03 22:38] #6011 closed

[2018-06-04 08:07] kargakis commented on #5175
/remove-lifecycle rotten
/reopen

[2018-06-04 08:59] shyamjvs commented on #7612
Agree - my change with cluster naming should ensure leaked presubmit clusters are GC'd in next run.

[2018-06-04 15:03] stevekuznetsov commented on #8219
xref #6092

[2018-06-04 15:47] stevekuznetsov commented on #3342
@BenTheElder can we sync to determine a set of jobs to migrate so this can be closed out?

[2018-06-04 17:05] BenTheElder commented on #3342
Sure, I think the plan is to migrate *all* of the jobs though. @cjwagner
has been experimenting with podutils jobs in preparation. I'm not sure how
much we want to move just yet given some bugs had to be fixed along the way
quite recently.

On Mon, Jun 4, 2018, 8:47 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-06-04 17:21] stevekuznetsov commented on #3342
Yep, they are stable now and AFAICT a lot of the errors were from private repos. For the migration I would like us to figure out which jobs we are going to migrate first to test it -- create canaries? Then we could write a migrator script? These are not my jobs so I would like to not be doing the actual migration. I'm happy to try to write a migration script to take current PodSpec --> decorated s

[2018-06-04 17:50] BenTheElder commented on #3342
I wouldn't mind seeing them stable a little longer, one of the edge cases
was just for jobs that don't checkout refs IIRC ...

Sen and I had discussed just creating clean jobs that happen to test the
same things, I'm not sure who will own this though. I'm a bit backlogged at
the moment and I think Sen is too.
I don't think a naive migrator script will work well for us because we need
to decouple j

[2018-06-04 17:58] BenTheElder commented on #5841
/remove-lifecycle stale
I forsee more go templates `:joy:`

[2018-06-04 18:58] #3789 closed

[2018-06-04 18:58] #4319 closed

[2018-06-04 19:09] rmmh opened #8236 "podutils doesn't output "version" fields"
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/tensorflow_minigo/251/pull-tf-minigo-cc/10/ should have "version": "0bfe220de1d63e4de235fe37f48d8faa41cbecc4" or "0bfe220de1d6"

[2018-06-04 19:18] #8219 closed

[2018-06-04 21:02] cblecker commented on #8141
Looks like this is fixed now. Can you confirm, @sttts ?

[2018-06-04 21:17] sttts commented on #8141
Yes, looks good again: https://stats.uptimerobot.com/wm4Dyt8kY

[2018-06-04 21:19] cblecker commented on #8141
Fantastic! Closing.

[2018-06-04 21:19] #8141 closed

[2018-06-04 22:25] lavalamp opened #8241 "Moving commits across release/feature branches makes CLA bot angry"
It seems impractical/silly to make hundreds of people affirm it's OK for us to e.g. merge master back into a feature branch.

[2018-06-04 22:25] lavalamp commented on #8241
I think I filed another issue about this somewhere, but I can't find it.

[2018-06-04 22:26] MrHohn commented on #7156
/remove-lifecycle stale

[2018-06-04 22:32] stevekuznetsov opened #8242 "prow: tide: label merge commit with members who LGTM and approve the commits"
We had an RFE to label the merge commit (in the body?) with data about who had left the LGTM and approve on a PR before `tide` merged it.

/cc @spadgett @jwforres @cjwagner @fejta @BenTheElder
/area prow
/kind enhancement

[2018-06-04 22:43] BenTheElder commented on #8241
test-infra doesn't implement/manage the CLA bot, I'm not sure what the expectation is here from upstream. Perhaps @dankohn can weigh in or point us to someone who can?

[2018-06-04 22:51] BenTheElder commented on #8242
interesting, I think I like that idea :-)
worth noting: usernames etc are mutable, so for a perfect record you probably need to use something like GitHub UID as well.

[2018-06-04 22:54] lavalamp commented on #8241
Yeah, I couldn't find a place to file this.

On Mon, Jun 4, 2018 at 3:43 PM Benjamin Elder <notifications@github.com>
wrote:

[2018-06-04 23:09] cjwagner commented on #8242
As long as we don't tag the users in the commits (i.e. make sure there is no `@` symbol).
I have my username tagged in a test-infra commit somewhere and now GitHub auto-subscribes me to every single fork of test-infra that is made...

[2018-06-04 23:36] BenTheElder commented on #8242
yes, this x1000. I'm tagged in some test-infra and kubernetes commits, and
github loves to remind me :^)

On Mon, Jun 4, 2018 at 4:09 PM Cole Wagner <notifications@github.com> wrote:

[2018-06-05 00:40] A-Hilaly commented on #8193
Hello !

Im new to the community here, can i deal with this ?

[2018-06-05 02:37] #8156 closed

[2018-06-05 04:12] mattmoor opened #8246 "Feature request for /retest"
When `/retest` succeeds, Prow should comment with: https://www.youtube.com/watch?v=44-RsrF_V_w.

cc @fejta

[2018-06-05 04:12] mattmoor commented on #8246
cc @cjwagner

[2018-06-05 07:10] kargakis commented on #8193
@A-Hilaly yeah, it should be fairly easy to fix this; just need to ensure access to these structs is handled correctly so we won't panic on a `nil`. I would start with refactoring the structs one by one to ease reviewing.

[2018-06-05 09:14] kargakis opened #8250 "Self approvals are not working when /approve is included in opening PR comment"
I had to retry `/approve` in a separate comment: https://github.com/Azure/acs-engine/pull/3169#issue-192638340

/kind bug
/area prow

@cjwagner @stevekuznetsov

[2018-06-05 15:47] kargakis commented on #7940
Issue updated

[2018-06-05 15:54] kargakis commented on #6693
/remove-lifecycle stale

[2018-06-05 15:54] kargakis commented on #6693
/help

[2018-06-05 15:56] stevekuznetsov opened #8253 "prow: components missing helptext"
Seeing:

[code]

/area prow
/kind bug
/cc @cjwagner @BenTheElder

[2018-06-05 15:56] stevekuznetsov commented on #8253
/help

[2018-06-05 16:07] kargakis commented on #4744
It's going to be hard to have a common interface between plank and jenkins-operator or rather plank and any controller that controls an external CI system because of the nature of having to deal with resources external to k8s.

/kind feature

[2018-06-05 16:12] kargakis commented on #2364
/remove-lifecycle stale

[2018-06-05 16:12] kargakis commented on #1986
/unassign
/assign stevekuznetsov

[2018-06-05 16:18] A-Hilaly commented on #8193
Alright thanks, i will open a PR starting the modifications soon.
I took a little look in `prow/plugins` package and I found some functions (example: `helpProvider` in `prow/plugins/heart` package) that uses theses structs. I'm i getting into the right place ?
Does other packages than `prow/plugins` have access to these structs ?

[2018-06-05 16:21] kargakis commented on #8193
I would say no but I am not sure off the top of my head. Start with a refactoring a single struct and see where that goes.

[2018-06-05 16:39] stevekuznetsov commented on #4744
I think if we boil out the boilerplate for the informer-driven controller we should do a lot to fix this issue, guess we could try to tease apart the specific `ProwJob` state transitions and create a controller factory that lets you register handlers for each?

[2018-06-05 17:09] krzyzacy opened #8257 "There's no 1.11 bazel build/test jobs"
kubeadm-1.11 is looking for gs://kubernetes-release-dev/ci/latest-bazel-1.11.txt

/assign @BenTheElder
cc @roberthbailey

[2018-06-05 17:10] dims commented on #8257
i got started - https://github.com/kubernetes/test-infra/pull/8256

[2018-06-05 17:12] #4301 closed

[2018-06-05 17:21] BenTheElder opened #8258 "fork kubekins-e2e for 1.11"
we're on the road to release 1.11, we should fork the main test image for 1.11

/area images
/assign
/cc @krzyzacy

xref: https://github.com/kubernetes/test-infra/pull/8256/files#r193151309

[2018-06-05 17:27] krzyzacy commented on #8257
ahh, thanks @dims !

[2018-06-05 17:31] krzyzacy commented on #8253
lol
/shrug

[2018-06-05 17:31] krzyzacy commented on #8253
/assign

[2018-06-05 17:42] BenTheElder commented on #8253
shrug was supposed to be somewhat of an easter egg / in-joke?
/shrug

[2018-06-05 17:59] krzyzacy commented on #8253
ok the description is now descriptive enough
/unassign
/assign @mattmoor
for the buildifier help

[2018-06-05 18:22] dims commented on #8257
Fixed. will check the job output. Still need https://github.com/kubernetes/test-infra/pull/8260 to merge before the jobs work.

[2018-06-05 18:22] dims commented on #8257
/close

[2018-06-05 18:22] #8257 closed

[2018-06-05 18:28] krzyzacy commented on #2547
/assign @paulangton

[2018-06-05 18:29] krzyzacy commented on #2547
So instead of
[code]

we probably should have

[code]

or
[code]

[2018-06-05 18:33] krzyzacy commented on #8246
:100:

[2018-06-05 18:33] krzyzacy commented on #8209
/assign

[2018-06-05 18:34] krzyzacy commented on #8047
/help

[2018-06-05 18:34] krzyzacy commented on #8047
/area jobs

[2018-06-05 18:36] krzyzacy commented on #7993
/unassign
/assign @aleksandra-malinowska

IMO the issue is test duration increased from 30m to ~400m and this is not a test-infra issue, I'll reassign to you for now.

[2018-06-05 19:12] michelle192837 commented on #2364
I can update the column header tooltip to display what the timezone is, if that's a good bandaid. (It will always be pacific until configurable timezones are a thing, but at least it'll be displayed).

[2018-06-05 19:24] BenTheElder commented on #7152
/remove-lifecycle stale
we've seen more pods stuck in a running state

[2018-06-05 21:23] krzyzacy commented on #7771
updated velodrome with stats from all the pools: http://velodrome.k8s.io/dashboard/db/boskos-dashboard?orgId=1

cc @rramkumar1 @mindprince you might find this useful, and feel free to add alerts there if you want

[2018-06-05 21:23] #7771 closed

[2018-06-05 21:30] shyamjvs opened #8263 "Avoid running scalability presubmits on trivial PRs"
Based off of the idea we discussed today in sig-testing and sig-release meetings. Though this isn't a blocker for https://github.com/kubernetes/test-infra/pull/7954.

cc @AishSundar @BenTheElder @jdumars @jberkus @kubernetes/sig-scalability-misc @kubernetes/test-infra-maintainers

[2018-06-05 21:32] BenTheElder commented on #2547
if we can invert this we might be able to design it in a way that is easier to extend the triggering agent without modifying the prowjob CRD.

Eg right now I'd love to add (but don't want to create a new job type etc)
- jobs that are triggered on github release tagging events
- jobs that are triggered in presubmit, postsubmit etc but not with some heuristics on the file changes (beyond just a rege

[2018-06-05 21:32] BenTheElder commented on #8263
xref: https://github.com/kubernetes/test-infra/issues/2547

[2018-06-05 21:32] krzyzacy commented on #8263
/cc

[2018-06-05 21:32] BenTheElder opened #8264 "mkpj needs to support split job config"
/kind bug
/area prow
/assign @krzyzacy

[2018-06-05 21:33] krzyzacy commented on #8264
what does this mean?

[2018-06-05 21:40] BenTheElder commented on #8264
`prow/cmd/mkpj` needs to work with multiple job config files, right now it only has a `--config-path=` file to specify monolithic `config.yaml`

[2018-06-05 21:42] krzyzacy commented on #8264
IMO you pass in one config file for one job, unless we want a batch mode for mkpj

[2018-06-05 21:44] BenTheElder commented on #8264
@krzyzacy I suspect right now it would fail to load it :-)

[code]

[2018-06-05 21:45] krzyzacy commented on #8264
why? it should not.

[2018-06-05 21:48] BenTheElder commented on #8264
@krzyzacy if the job is in another file we won't load it... we only load the main prowConfig file right now. It won't parse ...?

In any case it should also support reading in *all* of the files so you don't have to hunt down the right file to retrigger a job with the new config :-)

[2018-06-05 21:50] krzyzacy commented on #8264
sure, I'll add another flag, basically for all the controllers.

[2018-06-05 22:04] krzyzacy commented on #8264
/joke

[2018-06-05 22:05] paulangton commented on #2547
/meow

[2018-06-05 22:20] #7691 closed

[2018-06-05 22:23] amwat opened #8267 "PR status dashboard is not loading."
The PR status dashboard (https://prow.k8s.io/pr) is not loading any results.

[2018-06-05 22:27] stevekuznetsov commented on #2547
Bad bot!

[2018-06-05 22:29] BenTheElder commented on #8267
https://github.com/kubernetes/test-infra/commit/33ea7f7a28381d8767aa3a0fb60ee2015c8224d4#r29256994

the tide page is also broken, but unrelated

[2018-06-05 22:43] BenTheElder commented on #2547
/woof

[2018-06-05 22:48] paulangton commented on #2547
Good bot.

[2018-06-05 23:30] stevekuznetsov commented on #8267
Oops. Should that be `typeof branding === 'undefined'` instead?

[2018-06-05 23:56] BenTheElder commented on #8267
I think, not a big deal since we haven't really advertised that page yet, but it's blowing up on null right now. Tide has a similar issue. Guess we just need to sprinkle null checks over our JS :-) /s

[2018-06-06 00:19] krzyzacy commented on #7841
@shyamjvs xref https://github.com/kubernetes/kubernetes/issues/63030#issuecomment-394672476 here, the scheduling looks fine now from http://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance, but I think the issue is still there

[2018-06-06 00:20] krzyzacy commented on #5431
which ones are left?

[2018-06-06 01:00] #4445 closed

[2018-06-06 05:01] BenTheElder commented on #5603
we now have a branch specific whitelist of users that should not activate alerts at least, so branch managers do not trigger notifications when they manage their branches..

[2018-06-06 09:26] aleksandra-malinowska commented on #7993
Closing as this doesn't seem to be related to service-accounts after all. I'll add investigating test duration to autoscaling team's backlog.

[2018-06-06 09:26] #7993 closed

[2018-06-06 13:02] A-Hilaly commented on #8193
I started with refactoring the structs at #8255 (started with `Heart`)
Can you check if i'm doing it right ? before i move to other structs

[2018-06-06 17:35] cblecker opened #8275 "docs-no-retest regex should be configurable"
The regex used for docs-no-retest should be configurable without updating the code

ref: https://github.com/kubernetes/test-infra/pull/8207

/area prow

[2018-06-06 19:07] BenTheElder commented on #7187
/remove-lifecycle stale
we are removing this once we have the config split
/assign @krzyzacy

[2018-06-06 19:07] BenTheElder commented on #5882
/remove-lifecycle stale
/lifecycle frozen
/priority backlog

[2018-06-06 21:01] BenTheElder commented on #7183
go 1.10 has been out for a while now 1.8 is fairly old. soon supported kubernetes releases will be well beyond go 1.8

[2018-06-06 21:01] #7183 closed

[2018-06-06 21:03] kargakis commented on #8194
/kind cleanup

[2018-06-06 21:09] BenTheElder commented on #8275
I don't think tide even has a concept of `docs-no-retest` @cjwagner

[2018-06-06 22:45] kargakis opened #8277 "tide is not testing prs with missing jobs"
If a new required job is added in prow, tide seems to consider green PRs are "Failed or Untested" but won't retest them.

/kind bug
/area prow

[2018-06-06 23:35] cjwagner commented on #2547
@krzyzacy This seems nice except that it will move us farther away from unique job names unless we provide some mechanism for giving the different job types different names.
We should also consider how we would name a job that is triggered on multiple different repos (if that is something we intend to support by specifying the repo in the trigger section).

Another option: We could completely sepa

[2018-06-06 23:43] krzyzacy commented on #2547
@cjwagner trigger is seperated from specs from my sample above? If not can you also give an example?

and we can still enforce unique job names on config loading (like force append branch names to a job, but use the same context value).

[2018-06-07 03:59] cjwagner commented on #8275
Thats correct, it does not.

[2018-06-07 04:00] fejta commented on #5334
I would rather we fix batched merges to run all powers of 2 in parallel. So if there are 10 open PRs it runs a 1, 2, 4, and 8 PR batch. Merging the largest set that passes

[2018-06-07 04:05] cblecker commented on #8275
*Should* it though? Would that be advantageous to be able to skip retesting certain PRs?

[2018-06-07 04:30] BenTheElder commented on #2547
Multiple triggers on the same job specs in this way is an idea I like too,
but wouldnt really be any more useful than triggers inline to a job unless
different triggers could override things like the git checkout config.

On Wed, Jun 6, 2018, 9:24 PM Cole Wagner <notifications@github.com> wrote:

[2018-06-07 04:31] cjwagner commented on #8275
We've discussed something similar here: https://github.com/kubernetes/test-infra/issues/5334

I'm not sure how advantageous it would be. It might be necessary for us to add it as a feature.

[2018-06-07 04:39] fejta commented on #5334
Reprioritizing the queue has caused as much harm as good on mungegithub. I suspect overall project velocity would be higher if we eliminated all this functionality.

Whenever a higher priority PR gets approved we wind up throwing away the pending test results a) causing delays while we wait for these thrown away results to complete and b) not merging the batch run that would have merged 5 PRs (ide

[2018-06-07 11:57] nikhita commented on #8017
I'd like to work on this, if nobody else is.

[2018-06-07 12:22] nikhita commented on #8017
Created https://github.com/kubernetes/test-infra/pull/8283

[2018-06-07 15:55] grodrigues3 opened #8286 "Document How to Enable Prow/Tide on New Repos"
I was recently asked how to do this for new repos in the kubernetes-sigs org.   I *think* it's a simple change the the config file in the prow directory, but if there's more to it (regardless actually), we should write down the steps for enabling prow/tide on new repos (and which organizations are included).

/kind documentation
/area prow

[2018-06-07 15:59] grodrigues3 commented on #8286
/cc @pwittrock

[2018-06-07 19:12] krzyzacy commented on #2547
hummm, I feel like it won't be that many jobs can share the same spec.

Different branch has different bazel/go versions, and k/k and test-infra can diverge as well?

[2018-06-07 20:02] BenTheElder commented on #2547
On the same branch CI / presubmit / postsubmit are nearly the same except
upload location, context, git checkout.

On Thu, Jun 7, 2018 at 12:12 PM Sen Lu <notifications@github.com> wrote:

[2018-06-07 21:11] nikhita commented on #8275
/kind feature

[2018-06-07 21:15] MHBauer opened #8291 "bootstrapping service-catalog use of prow for CI/CD"
# Goals

 - Be consistent with overall kubernetes convention with respect to project behavior.
 - lots of reviewers reviewing and giving feedback without having full
   access to the github repo
 - no manual merges anymore

# Current State

 - PRs Reviewed by people with github membership so they can apply a
   LGTM1, LGTM2 label.
 - manual merges of PRs
 - make + docker based build
 - travis runs

[2018-06-07 21:59] nikhita commented on #5843
Reviving this again:

[2018-06-07 22:04] nikhita commented on #5843
I'm happy to work on the automation bits for this if proper guidelines are first agreed upon. :)

Right now, we go through all PRs created against `client-go`, `apimachinery`, etc in staging in `k/k`, check if the code change is relevant enough for a release note, write the release note in a spreadsheet and then convert it to markdown.

I just created the [spreadsheet](https://docs.google.com/spre

[2018-06-07 22:17] BenTheElder commented on #5843
Hi yes, talking to contribex and release about how this should work would be good. I should have commented the first time instead of +1ing 🙃

[2018-06-07 22:33] nikhita commented on #5843
:+1: :slightly_smiling_face:

[2018-06-07 23:15] fejta commented on #4301
Why close?

[2018-06-07 23:57] krzyzacy opened #8296 "Make update-config plugin support update a directory"
cc @fejta
/area prow
/assign

[2018-06-08 00:15] krzyzacy commented on #8296
looks like configmap does not support subdirectories for --from-file option, but you can still create subdir within a configmap

maybe we need to script it up

cc @BenTheElder

[2018-06-08 00:51] BenTheElder commented on #7203
I think this is done.
/close

[2018-06-08 00:51] #7203 closed

[2018-06-08 01:11] BenTheElder commented on #8291
This all sounds reasonable to me.

- LGTM + Approval / OWNERS files should be straight forward with loads of examples through the kubernetes repos, let me know if you need anything there.
- turning on tide is just adding your repo to the config here:
https://github.com/kubernetes/test-infra/blob/eb9263c89bd799cf604c70a7ec561a35accce517/prow/config.yaml#L164
  - we could use better docs here, but b

[2018-06-08 01:12] BenTheElder commented on #8291
also, for a complete catalog of plugins and their usage see:
- https://prow.k8s.io/plugins
- https://prow.k8s.io/command-help

you may want to enable more of these in general for various labeling / automation tasks

[2018-06-08 01:51] krzyzacy commented on #8296
hummm

[code]

probably need to do some pre-processing to flatten the path

[2018-06-08 02:11] BenTheElder commented on #8296
Or instead merge the files before upload?

On Thu, Jun 7, 2018, 6:51 PM Sen Lu <notifications@github.com> wrote:

[2018-06-08 02:49] krzyzacy commented on #8296
@BenTheElder you mean merge into one document, or multiple documents in one file?

[2018-06-08 04:04] BenTheElder commented on #8296
One document? The latter could also work though, and is probably simpler to
handle.

On Thu, Jun 7, 2018, 7:49 PM Sen Lu <notifications@github.com> wrote:

[2018-06-08 17:57] BenTheElder commented on #5292
/remove-lifecycle stale

we could use this to clean up hung/dead "running" pods @krzyzacy @cjwagner
this would be useful for periodics in particular where a hung pod means we won't schedule a new run and we have to manually clean it up. EG https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-local-e2e-containerized/206/ from the 6th is hung atm.

[2018-06-08 18:30] BenTheElder commented on #5338
@cjwagner aren't we doing this now by monitoring against the github cache?
also @cjwagner @kargakis have you looked at adopting the github cache? I think it has been working quite well for us.

[2018-06-08 18:30] BenTheElder commented on #5338
http://velodrome.k8s.io/dashboard/db/github-cache?refresh=1m&orgId=1

[2018-06-08 18:34] #8017 closed

[2018-06-08 18:44] cjwagner commented on #5338
@cjwagner aren't we doing this now by monitoring against the github cache?

Currently we only measure token usage for the entire cluster. The cache could be instrumented to measure requests per component, but it would be nice to break down token usage by sub component and API call which would require client instrumentation.

[2018-06-08 19:26] BenTheElder opened #8299 "improve instructions for automated conformance runs"
The upstream CNCF conformance guide [has some instructions for running with their sonobuoy config](https://github.com/cncf/k8s-conformance/blob/master/instructions.md#running), which [the testgrid uploader](https://github.com/kubernetes/test-infra/blob/master/testgrid/conformance/upload_e2e.py) supports, but the instructions are semi-manual.

We should include detailed instructions for using this

[2018-06-08 19:27] krzyzacy opened #8300 "Rotate prow service account"
/area prow

[2018-06-08 19:32] BenTheElder commented on #8300
/cc @amwat
perhaps we can automate monitoring the age of the main GCP service account key file and reminding the maintainers to switch to rotate the credentials.

I think we just need to follow https://cloud.google.com/security/data-loss-prevention/revoking-user-access#rotate_project_credentials

[2018-06-08 19:39] krzyzacy opened #8301 "Make ConfigAgent support yaml file with multiple documents"
Let's go this route instead, will patch up config.go first

/area Prow
/assign

[2018-06-08 19:46] BenTheElder commented on #8301
SGTM, next step we can update the configmap updater to scoop up all of the jobs and concat them to the main config.

perhaps we need a `kind` field like kubernetes API blobs?

[2018-06-08 19:51] BenTheElder opened #8303 "/release-note-none is not in https://prow.k8s.io/command-help"
/area prow
/kind bug
/assign

[2018-06-08 20:01] BenTheElder commented on #8300
/assign @amwat @krzyzacy @bentheelder

discussing offline, this should be a key Q3 objective to fix

[2018-06-09 00:45] #8303 closed

[2018-06-09 00:57] cjwagner commented on #7213
Closing until we see examples of this occurring.
/close

[2018-06-09 00:57] #7213 closed

[2018-06-09 06:43] #6208 closed

[2018-06-09 07:46] BenTheElder commented on #3633
/cc @paulangton

On Sat, Jun 9, 2018, 12:44 AM fejta-bot <notifications@github.com> wrote:

[2018-06-09 16:53] #4933 closed

[2018-06-10 12:12] #6251 closed

[2018-06-11 04:47] justaugustus opened #8315 "Add `/stage` command for `k/features`"
Of the 108 [currently open Features issues](https://github.com/kubernetes/features/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen), [87 of them](https://github.com/kubernetes/features/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22%2Fstage%22) include an attempt to use `/stage`, which doesn't currently exist.

Could we roll this functionality into a current prow plugin?
It'd be helpful for people t

[2018-06-11 04:58] justaugustus opened #8316 "Add a Features plugin / bot"
As a Features shadow for 1.11 and Features Lead for 1.12, I'm noticing that there's a fair amount of day-to-day nagging / cat-herding that is done, that could probably be relegated to automation.

Similar to the milestone functionality, I'd like a means of automatically reminding Feature Owners that their issues require:
* milestone
* current status
* SIG
* assignee
* docs

Some of this seems to o

[2018-06-11 07:18] fejta commented on #8316
We have been conservative in automating nagging and cat-herding as historically the cost of the noise it generates has outweighed the (usually small) benefits.

In particular we find people tend to pay substantially less attention to nagging / cat-herding notices when they appear to come from a bot rather than a human being.

On the other hand the [automatic `/retest` automation](https://github.co

[2018-06-11 17:56] BenTheElder commented on #7244
/remove-lifecycle stale

[2018-06-11 18:00] krzyzacy opened #8319 "Improve boskos janitor logging"
currently it's either not informative or too noisy

/area boskos
/assign

[2018-06-11 18:19] amwat commented on #7242
This issue has been fixed. Closing it for now.
/close

[2018-06-11 18:19] #7242 closed

[2018-06-11 18:39] BenTheElder commented on #8315
hmm, so a `(/stage (alpha|beta))|(/remove-stage)` command?

[2018-06-11 18:50] BenTheElder commented on #8316
xref: https://github.com/kubernetes/test-infra/issues/8205 for a discussion I started around bot nagging.

[2018-06-11 21:06] freehan opened #8327 "Teach Janitor script to clean up NEG in any zone"
Currently it is hard coded in `boskos/janitor/janitor.py`

The zone parameter is in a subresource of NEG resource.

[2018-06-11 23:44] #8319 closed

[2018-06-12 00:03] BenTheElder commented on #7262
/shrug

we'll probably want this someday? @kargakis

[2018-06-12 00:46] BenTheElder opened #8331 "kubetest --dump may not work with relative paths"
reported by @andrewsykim, `--dump` worked with an absolute path, but not relative. probably we can just resolve to absolute after we parse the flags in the entrypoint.

/cc @krzyzacy
/area kubetest
/kind bug

[2018-06-12 07:51] SHUFIL opened #8333 "Prow issue:kube-dns getting CrashLoopBackOff"
Uncomment only one, leave it on its own line:

kind bug
/kind feature

What happened:

What you expected to happen:
I have installed kubernetes, and Docker, removed swap , disabled firewall, then i build up the kubernetes master using kubeadm init --pod-network-cidr 10.10.10.0/16
#kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

#kubectl appl

[2018-06-12 07:51] SHUFIL commented on #8333
Kubernetes version (use kubectl version):v1.10.4

Cloud provider or hardware configuration:

OS (e.g. from /etc/os-release):"Ubuntu 16.04.3 LTS"

Kernel (e.g. uname -a):Linux server 4.13.0-43-generic #48~16.04.1-Ubuntu SMP Thu May 17 12:56:46 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Install tools: kubernetes , Docker only

Others:nothing

[2018-06-12 11:36] SHUFIL opened #8334 "Prow issue:kube-dns getting CrashLoopBackOff"
kind bug
/kind feature

What happened:

What you expected to happen:
I have installed kubernetes, and Docker, removed swap , disabled firewall, then i build up the kubernetes master using kubeadm init --pod-network-cidr 10.10.10.0/16
#kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

#kubectl apply -f https://raw.githubusercontent.com/coreos/f

[2018-06-12 12:27] nikhita commented on #8315
`/[remove-]stage (alpha|beta|stable)`

[2018-06-12 12:27] nikhita commented on #8315
And if it's decided that we'd like to have something like this, I'd like to work on it if that's fine. :)

[2018-06-12 12:30] nikhita commented on #8286
cc @munnerz because he's done it before :)

[2018-06-12 13:09] justaugustus commented on #8315
@BenTheElder @nikhita yup, that's exactly what I'm looking for!

Go for it!

/assign @nikhita

[2018-06-12 13:09] justaugustus commented on #8315
/remove-help

[2018-06-12 14:48] stevekuznetsov commented on #8316
Perhaps instead of an automated nag, we could create a dashboard for release team members to be able to have a curated list of PRs to nag in, so that a person still would do the work for contacting developers but the tooling could help determine where they spend their efforts? Are existing search functions lacking? Could you see that as a useful middle ground?

[2018-06-12 14:55] nikhita commented on #8315
/area prow

[2018-06-12 15:29] stevekuznetsov commented on #8286
We have sections in the Prow README for configuring plugins and adding new jobs, but I agree that there should be some "I am new and I want all the things to work for my new repo" document.

/cc @BenTheElder @cjwagner

[2018-06-12 15:41] stevekuznetsov commented on #3787
/remove-lifecycle stale

[2018-06-12 15:41] stevekuznetsov commented on #3787
Also with the advent of the logging controller that is watching for test pods ... we can start adding more to that logic as well.

[2018-06-12 16:04] justaugustus commented on #8316
@fejta -- thanks for the pointers. I agree that the bot nagging can be a bit much, but this is also necessary to make sure Features are properly categorized before being forklifted into the Features Tracking sheet. That is currently a manual process. :'(

To @stevekuznetsov 's suggestion (and my personal machinations), I would like to see a dashboard that doesn't require manipulation by human(s) a

[2018-06-12 16:05] justaugustus commented on #8316
(^^ I was planning on opening an issue on that once I gathered my thoughts on design.)

[2018-06-12 16:15] justaugustus commented on #8316
Gotcha, @stevekuznetsov.
Thanks everyone for the super quick feedback! :)

[2018-06-12 16:45] cblecker commented on #8334
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-12 16:45] #8334 closed

[2018-06-12 17:51] MHBauer commented on #5944
/close

[2018-06-12 17:51] #5944 closed

[2018-06-12 18:09] BenTheElder commented on #8331
/assign @bentheelder @krzyzacy

[2018-06-12 18:54] #6407 closed

[2018-06-12 20:03] stevekuznetsov opened #8339 "gubernator: elapsed time formatted as negative number"
In [this view](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_ci-operator/6/pull-ci-operator-unit/1/?log#log) we see the elapsed time as `-1535h32m`. We have `started.json`:

[code]

And `finished.json`:

[code]

So we should see an elapsed time of 41s.

/kind bug
/area gubernator
/assign @rmmh

[2018-06-12 20:05] nikhita opened #8342 "Support repo-scoped labels"
Would be nice to scope labels per repo in labels_sync. See https://github.com/kubernetes/test-infra/pull/8335#issuecomment-396681981 for more context.

/cc @fejta @cblecker

[2018-06-12 20:08] nikhita commented on #8342
/kind feature

[2018-06-12 20:11] nikhita commented on #8342
/sig contributor-experience

[2018-06-12 20:15] justaugustus commented on #8342
/sig testing
/sig contributor-experience
/help

[2018-06-12 21:04] fejta commented on #8342
This can/should follow the pattern in https://github.com/kubernetes/test-infra/tree/master/prow/cmd/branchprotector (or prow/cmd/peribolos)

[2018-06-12 23:13] cjwagner commented on #7279
/remove-lifecycle stale

[2018-06-13 05:58] matthyx opened #8346 "Add verify-owners plugin to tide and dashboard"
After #8023 has been merged, it is time to enable this new plugin:
- add "do-not-merge/invalid-OWNERS" label to tide configs to prevent merging when present
- add verify-owners to PR dashboard

If I cannot do it on my own, please assign that issue to me!

[2018-06-13 05:59] matthyx commented on #8346
/assign

[2018-06-13 06:00] matthyx commented on #7571
/assign

[2018-06-13 13:35] shyamjvs opened #8348 "Make kubemark-500 presubmit faster"
Ref https://github.com/kubernetes/test-infra/pull/7954

Currently it takes somewhere around 1h20m to 1h30m to run it. We should speed it up and cut short the delay it introduces on top of our slowest presubmit (that takes ~1h5m).
This is even more important for batch runs (than PR runs, where this increase is negligible compared to the PR's lifetime) as it can affect merge throughput.

cc @kuberne

[2018-06-13 14:16] stevekuznetsov commented on #7279
Updating the transitions into the pool and into "passing" state SGTM

[2018-06-13 15:29] stevekuznetsov commented on #8346
/area prow
/kind enhancement

[2018-06-13 15:44] nikhita commented on #8342
one more reason why we should have this: k/k has `area/*` labels but it's not present in https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md. These labels are also, by virtue, highly specific to k/k.

[2018-06-13 15:49] nikhita commented on #7969
This should have been fixed in the latest prow bump, right?

[2018-06-13 15:55] nikhita commented on #3083
/sig contributor-experience

[2018-06-13 15:56] nikhita commented on #1755
/remove-lifecycle rotten

[2018-06-13 15:57] nikhita commented on #1723
/remove-lifecycle rotten

[2018-06-13 15:58] nikhita commented on #4891
/remove-lifecycle stale

stale and help-wanted don't go hand in hand :)

[2018-06-13 15:59] nikhita commented on #3798
/remove-lifecycle stale

[2018-06-13 15:59] nikhita commented on #3798
can we call this good-first-issue? :)

[2018-06-13 16:43] cblecker commented on #7571
/remove-help
This is all yours, @matthyx.

[2018-06-13 17:50] BenTheElder commented on #8348
Thanks!
NB: The PR lifecycle is something of a bug for small PRs especially. Fixing that is a much larger discussion but keeping presubmit times down is helpful towards that, if not anywhere near as important right now.

[2018-06-13 17:53] BenTheElder commented on #7969
Yeah. It would have been good to cross reference the fix but this should be
done.
/close

On Wed, Jun 13, 2018, 08:49 Nikhita Raghunath <notifications@github.com>
wrote:

[2018-06-13 17:53] #7969 closed

[2018-06-13 17:53] BenTheElder commented on #4891
Perhaps we should freeze help wanted?

On Wed, Jun 13, 2018, 08:58 Nikhita Raghunath <notifications@github.com>
wrote:

[2018-06-13 18:49] verult commented on #6699
/remove-lifecycle rotten

Pinging again. So far I've been resorting to my own bash scripts, but it would be nice to have a standard way to do something like this. Happy to chat about it more.

[2018-06-13 18:51] verult commented on #6699
Thinking about it more - this is possibly out of scope for test-infra. Will close this issue.

[2018-06-13 18:51] #6699 closed

[2018-06-14 00:47] fejta opened #8355 "Fix velodrome lint errors"
/good-first-issue

Run https://github.com/golang/lint on `./velodrome/...`

[2018-06-14 00:47] fejta opened #8356 "Fix mungegithub lint errors"
Run https://github.com/golang/lint on `./mungegithub/...`

/good-first-issue

[2018-06-14 01:37] justinsb opened #8357 "When is a new kubekins-e2e image built?"
I thought that a new kubekins-e2e image was built on every commit to test-infra, but that doesn't seem to be the case - it looks like the last one was built 8 days ago.

(At least from visiting https://gcr.io/k8s-testimages/kubekins-e2e in a browser)

When is the latest-master image built?

(I'm trying to get the (new) job https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kops#kops-gce-canary

[2018-06-14 03:44] fejta commented on #8357
They are created on demand. Ask oncall if you want one.

Auto creation hasn't been implemented yet

[2018-06-14 04:44] krzyzacy commented on #8357
/assign
whoops we are in a summit, pushing one right now

[2018-06-14 12:07] dims commented on #8357
here's @krzyzacy 's PR for the new image @justinsb https://github.com/kubernetes/test-infra/pull/8358

[2018-06-14 12:40] matthyx commented on #7571
/assign

[2018-06-14 16:12] stevekuznetsov commented on #8356
NACK, less churn is better there?

[2018-06-15 06:47] matthyx commented on #8346
@stevekuznetsov how should I check the behavior once enabled? Should I be online when it goes live?

[2018-06-15 07:52] #8315 closed

[2018-06-15 17:06] minherz opened #8373 "Prow issue: verify bazel failure -- cannot understand the error"
Hello,
I have `verify bazel` test fail in `pull-kubernetes-verify` with the following details:
[code]

I cannot figure out what is an error or find a documentation that explains a way to investigate it. Any advise is appreciated.

[2018-06-15 17:34] fejta commented on #8373
This is showing you a diff
[code]
/go/src/k8s.io/kubernetes/pkg/cloudprovider/BUILD
[code]
/tmp/verify-bazel.dpWGCB/go/src/k8s.io/kubernetes/pkg/cloudprovider/BUILD
[code]
+    "go_test",
...
+
+go_test(
+    name = "go_default_test",
+    srcs = ["cloud__test.go"],
+    embed = [":go_default_library"],
+    deps = [
+        "//pkg/api/testapi:go_default_library",
+        "//vendor/k8s.io/api/co

[2018-06-15 17:38] minherz commented on #8373
@fejta i just need to run `./hack/update-bazel.sh and it will fix my `cloud__test.go`, right?

[2018-06-15 17:41] krzyzacy opened #8375 "latest kubekins image uses wrong e2e binary for skewed tests"
https://github.com/kubernetes/kubernetes/issues/65129#issuecomment-397650527

the image is reverted for now, but we still need to find out the underlying issue.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/3088/build-log.txt is green and uses e2e binary from 1.10

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubern

[2018-06-15 17:57] minherz commented on #8373
thank you.

[2018-06-15 17:57] #8373 closed

[2018-06-15 18:08] #7571 closed

[2018-06-15 20:09] MHBauer commented on #8291
@BenTheElder does it make sense to turn tide on without configuring it? I don't want it to accidentally start merging things that aren't ready by our selection.

[2018-06-15 20:11] MHBauer commented on #8291
right now to do a build we rely on docker existing.
Then it's a `make build` or some such.
Does this infra support a clone+make type operation? Or do we have to package the repo up into a ready to run image before it's possible to run the build & tests?

[2018-06-15 20:18] #2740 closed

[2018-06-15 20:42] guineveresaenger commented on #8373
@minherz - welcome to the community! We hope you stick around and help us contribute!

I'm glad you got your question answered and wanted to mention that because Kubernetes is a pretty large project, we generally do not use Github for troubleshooting kinds of questions. We prefer that you [use Slack or Stackoverflow for that](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooti

[2018-06-15 20:46] minherz commented on #8373
@guineveresaenger I tried in `#sig-testing` community but people there discussed their own business and then i saw the link in the notification message. Next time I will not use this place for questions. I think that the documentation has to be edited to provide more guidelines about a way to interpret such test results. In opposite to "older" test outputs, bazel build isn't easy for understanding

[2018-06-15 20:58] guineveresaenger commented on #8373
@minherz I hear you on that 100%! We have an [open issue](https://github.com/kubernetes/community/issues/1537) over in k/community on more pointers for debugging tests. It's been open for a while but I will make sure it gets included in the final publicized version of contrib guide 1.0. Yours is a good example use case on why we need this.

[2018-06-15 21:45] minherz commented on #8373
:) I can contribute to writing some. Let me know.

[2018-06-15 23:20] #5645 closed

[2018-06-16 00:33] BenTheElder commented on #8291
@MHBauer:
- turning on tide is fine, but "turning it on" really just means telling it to merge things by some config, so if you don't want to merge things... probably don't 🙃
- sure, you can execute `make build`, probably the best forward thinking way is with a job [using the pod utilities](https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md#writing-a-prowjob-that-uses-pod-u

[2018-06-16 20:41] #6308 closed

[2018-06-17 04:49] #6332 closed

[2018-06-17 05:50] #6304 closed

[2018-06-17 18:11] craigbox commented on #6464
lol. fejta-bot does not want to change

/remove-lifecycle rotten

[2018-06-18 08:35] BenTheElder commented on #5428
/remove-lifecycle stale

On Sun, Jun 17, 2018, 12:03 fejta-bot <notifications@github.com> wrote:

[2018-06-18 13:42] kargakis opened #8382 "Tests are not restarted if base is changed in a PR"
https://blog.github.com/2016-08-15-change-the-base-branch-of-a-pull-request/

Tests should be restarted, unclear what kind of event is delivered to hook tho

/area prow
/kind bug

[2018-06-18 13:46] matthyx commented on #8355
/assign

[2018-06-18 13:46] matthyx commented on #8355
@fejta can you assign it to me, pls? (I should really consider joining k8s org...)

[2018-06-18 17:18] krzyzacy commented on #8355
@matthyx you cannot be assigned unless you are a k8s org member, or a repo collaborator

but feel free to send PR that links to this issue :-)

[2018-06-18 17:39] MHBauer commented on #8291
I will look at pod utilities. Thank you. Probably not the time to enable tide yet.
We use `docker build` two ways. A 'buildimage' for development and compiling of the output binaries, and also for release images.

[2018-06-18 17:50] nikhita commented on #8382
https://developer.github.com/changes/2016-08-23-change-base/

[2018-06-18 19:19] MHBauer commented on #8291
stream of consciousness while reading...

It looks like I want to write an entry for presubmits in config.yaml https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L408 .

I see https://github.com/kubernetes/test-infra/tree/master/prow#how-to-add-new-jobs afterwards.

I think I need a new prowjob. Reading more, I'm not sure if I want a presubmit, postsubmit, periodic, or batch. Wh

[2018-06-18 20:43] matthyx commented on #8355
I will finish it tomorrow...

[2018-06-18 21:07] mtaufen commented on #5536
/remove-lifecycle stale

[2018-06-18 22:20] BenTheElder commented on #8291
@MHBauer `submit` might not be the best term, in this context submit == PR merge. presubmit -> testing PRs before they merge, post-submit -> testing triggered by merges, periodic == just runs on a schedule, used for EG, monitoring that the master branch is healthy with tests that are a bit prohibitive to be presubmits.

That sounds doubly excellent. @cjwagner we should put this in the docs.
I plan

[2018-06-18 22:37] BenTheElder commented on #8382
ooh this is an interesting case. @cjwagner @stevekuznetsov

[2018-06-18 23:01] cblecker opened #8386 "commenter: cleanup previous messages"
I know the commenter is designed to be very simple, but it can also be *extremely* spammy.. in particular the retesting messages and the lifecycle management comments. It would be great if the commenter had the ability to remove previous comments matching a regex.. that way you could have it remove old lifecycle messages, or remove previous retesting messages.

/area commenter
/kind feature

[2018-06-18 23:01] cblecker commented on #8386
cc: @fejta @fejta-bot
🤖

[2018-06-19 00:04] stevekuznetsov commented on #8382
Looks like we get an `"edited"` `PullRequestEvent`. Hmm.

<details><summary>Full payload JSON</summary>

[code]

</details>

[2018-06-19 00:27] stevekuznetsov commented on #8382
/assign

[2018-06-19 01:02] stevekuznetsov commented on #6857
So is this a bug in the message when that flag is not set?

/remove-lifecycle rotten
/area prow
/kind bug

[2018-06-19 08:14] qhuynh96 commented on #8267
I found the bugs.

The first one is null branding. Probably change the check to ```if (!branding)``` which covers all null and undefined.

The second bug is doing with Tide Queries. It seems that there is a new Tide query for approve / lgmt label that applies on org ```kubeflow``` and does not have any repo listed. This causes the crash. I will update the script to handles this case.

[2018-06-19 12:59] qhuynh96 commented on #8267
/assign

[2018-06-19 15:35] #8346 closed

[2018-06-19 16:14] cjwagner commented on #8291
Cloning is provided by the pod utilities so your job container doesn't need to do any cloning. You could have a container that just echos some env, but I don't think that would really be all that helpful for future use.

@BenTheElder What exactly should we add to the docs? Are you suggesting adding an echo example? I have some simple examples already here: https://github.com/kubernetes/test-infra/

[2018-06-19 16:39] BenTheElder commented on #8291
Yeah an echo env (maybe also ls?) would be a pretty harmless example. We
should also eventually add more directly useful ones like "use the go image
and go test".

On Tue, Jun 19, 2018, 09:14 Cole Wagner <notifications@github.com> wrote:

[2018-06-19 16:44] #2621 closed

[2018-06-19 16:53] #8355 closed

[2018-06-19 18:01] MHBauer commented on #8291
@cjwagner https://github.com/kubernetes/test-infra/issues/8291#issuecomment-398457409
What is my `job container`?

Looking at that referenced config, I see `image: gcr.io/test-images/bug-finder`

Where does that come from? The top of the doc references the utilities as init-containers or sidecars, but I don't see that spec configuration in an example. Are they invisibly added?

@BenTheElder https:

[2018-06-19 18:12] cjwagner commented on #8291
Prow runs jobs as kubernetes pods. The specification for a job includes a pod spec with a single container that runs the test. This is the `job container` that I am referring to, but `test container` is probably a more appropriate name.
The `bug-finder` image doesn't actually exist. That is just an example test container image name.

You don't see specs for the pod utility containers because they

[2018-06-19 18:14] cjwagner commented on #8291
This section describes exactly that: https://github.com/kubernetes/test-infra/blob/master/prow/pod-utilities.md#what-the-test-container-can-expect
If something is missing please let me know and I'll add it.

[2018-06-19 18:58] #8382 closed

[2018-06-19 19:30] BenTheElder commented on #8267
thanks Quang!

On Tue, Jun 19, 2018 at 6:00 AM Quang Huynh <notifications@github.com>
wrote:

[2018-06-19 20:59] MHBauer commented on #8291
What is the test container? I am providing an image to run? I do not have one.

[2018-06-19 21:08] cjwagner commented on #8291
Yes, the test container is the main thing that you'll need to provide. It is what actually runs your tests. You may be able to directly use the DinD image that @BenTheElder mentioned or you may need to use that image as a base for your own custom image if you have additional dependencies that are not vendored in the repo.

[2018-06-19 21:20] MHBauer commented on #8291
Okay, all of the reading of this documentation has not been very clear about what I provide and how I provide it.
Given that it's got a container/pod-spec, I can make assumptions, but it is much better to be very explicit.

Some statements I now think are true facts:
 - I give prow a image, prow runs my image in a pod.
 - All the standard pod rules apply, but prow mounts some extra stuff, invisibl

[2018-06-19 22:01] BenTheElder commented on #8291
We have some common images in the images/ directory, the `bootstrap` image
supports docker in docker amongst other things. We haven't migrated most
jobs to the podutils just yet so it includes some other stuff in the
entrypoint..
We'll need to create new images for use with the podutils specifically soon.

On Tue, Jun 19, 2018 at 2:20 PM Morgan Bauer <notifications@github.com>
wrote:

[2018-06-19 22:19] krzyzacy opened #8402 "clean up hacks in #8397 once NEG api is promoted to beta"
https://github.com/kubernetes/test-infra/pull/8397 basically tolerates NEGs list to fail if target project does not have alpha compute api whitelisted.

/assign
/assign @freehan

[2018-06-19 23:14] cjwagner commented on #8291
I give my image to prow by making a prowjob
My image is run as test-container

You give Prow an entire Kubernetes PodSpec as part of the job specification. Kubernetes Pods aren't Prow specific so we don't go into detail about how to write them. The only Prow specific rule is that you can only specify one container in the pod (this does need to be better documented).

These docs may also be helpful

[2018-06-20 00:35] BenTheElder commented on #8291
Actually in addition, the idea is that you create a PodSpec with *one
container*, which must specify the command / entrypoint, and that command
should exit 0 on success and anything else on failure.

The podutils stuff adds the sidecar/init containers to the podspec at
runtime (prior to scheduling the pod) to handle git checkout, log upload,
artifact upload, etc.

I think we could make it clearer

[2018-06-20 01:08] cjwagner opened #8405 "Bazel caching flake: Build Timeout during download"
[code]
Here are 2 examples of this flake from different jobs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/8399/pull-test-infra-bazel/17244/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/test-infra/8328/pull-test-infra-lint/3069/

/kind bug
/area greenhouse
/assign @BenTheElder
/cc @stevekuznetsov

[2018-06-20 01:18] BenTheElder commented on #8405
[code]
I mean that's just the network call / download flaking. This doesn't stop testing.
The problem here is when it later tries to keep downloading until the build times out (from the looks of the logs)... not sure what else we can do about that.

That's way over the default timeout.. I think we may need to tune the `--.*retry.*` flags [here](https://docs.bazel.build/versions/master/command-line

[2018-06-20 01:19] BenTheElder commented on #8405
There are no errors in the greenhouse logs, this is probably a cluster / node / pod level network flake. We should make bazel handle this better though.
/remove-area greenhouse
/area bazel

[2018-06-20 08:57] matthyx commented on #8193
/remove-help

[2018-06-20 11:01] matthyx commented on #3827
Hi, I also like the suggestion of @cjwagner to switch to a positive `ok-to-test` instead of the negative one... but we have to plan the migration path:
1. fix this bug (as we anyway need to parse correctly the reviews)
2. add support for `ok-to-test` in trigger and maybe other plugins concerned (so basically supporting both old and new behavior)
3. add `ok-to-test` to all active PR that don't have

[2018-06-20 14:22] stevekuznetsov commented on #8291
There seems to be a lot of confusion here. @cjwagner @BenTheElder do we feel like we have a high-level document that describes how Prow runs k8s-native tests using `plank`? I wasn't expecting there to be uncertainty in that area but perhaps the different available execution backends (Jenkins, k8s simple, k8s decorated) are not laid out anywhere?

[2018-06-20 14:35] #8253 closed

[2018-06-20 16:51] MaciekPytel opened #8409 "Some test jobs keep running on stale commit"
gci-, gke- and kops-aws jobs on release-1.10 keep running on a21d351a9, even though 32ac1c9 was merged 23h ago. Other jobs (bazel, kubeadm) have picked up new commit as expected.

Links:
* Still running on old commit:
https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#gci-gce-1.10
https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#kops-aws-1.10
* Running on new commit as expected:

[2018-06-20 17:17] krzyzacy commented on #8409
hummmm https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build-stable1/5572 timed out

[2018-06-20 17:21] krzyzacy commented on #8409
ok it pushed the build, but tanked before updating the file pointer :-(
/assign

[2018-06-20 17:22] fejta opened #8410 "Address lint errors in prow/pod-utilities"
/good-first-issue

`bazel run //:golint -- ./prow/pod-utils/...`

[2018-06-20 17:23] fejta opened #8411 "Address lint errors in prow/config"
/good-first-issue

`bazel run //:golint -- ./prow/config/...`

[2018-06-20 17:24] krzyzacy commented on #8409
let's bump the timeout a little bit, runs like https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build-stable1/5347/ does took ~2h to finish :-(

[2018-06-20 17:24] fejta opened #8412 "Address lint errors in prow/github"
/good-first-issue

`bazel run //:golint -- ./prow/github/...`

[2018-06-20 17:24] fejta opened #8413 "Address lint errors in prow/plugins"
/good-first-issue

`bazel run //:golint -- ./prow/plugins/...`

[2018-06-20 17:38] BenTheElder commented on #8291
Yes, we definitely need more docs regarding that.

On Wed, Jun 20, 2018 at 7:22 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-06-20 17:42] MHBauer commented on #8291
I think part of this is "How do I know I want a prowjob at all? Why is it called a job? What even is a job?"

I think maybe I'm confused by the organization. I seem to end up jumping around a lot. A short tutorial with:
 - my repo is at github.com:x/y
 - is a basic go program, or other sort of one liner
 - adds a presubmit job
 - has an example of the output as provided by whatever

I'm psuedo wri

[2018-06-20 17:53] krzyzacy commented on #8409
retriggered https://prow.k8s.io/log?job=ci-kubernetes-build-stable1&id=5616, CI should pick up the build after that run finishes

[2018-06-20 18:53] #8267 closed

[2018-06-20 21:17] BenTheElder commented on #8405
I think I'm going to opt to let the queue drain a bit more before I tweak any of the caching settings.

[2018-06-20 22:30] krzyzacy commented on #8409
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sstable1-default/2635 picks up from latest commit-sha now, closing

[2018-06-20 22:30] #8409 closed

[2018-06-20 22:35] lavalamp commented on #5483
/reopen
/lifecycle frozen

On Wed, Jun 20, 2018 at 10:12 AM k8s-ci-robot <notifications@github.com>
wrote:

[2018-06-20 22:37] fejta commented on #5483
/remove-lifecycle frozen

[2018-06-21 03:38] cjwagner commented on #8291
I think the closest thing that we have is the "Life of a ProwJob" document: https://github.com/kubernetes/test-infra/blob/master/prow/architecture.md
Its isn't a high level overview of the things that are important for users to know though, its more of a technical overview of how ProwJobs are triggered. It also isn't discoverable.

[2018-06-21 03:40] cblecker commented on #3827
@cjwagner Do you envision `ok-to-test` be needed on *all* PRs, or only those from non-org members? e.g. prow looks for the label, *or* IsMember

[2018-06-21 04:17] BenTheElder commented on #3827
One more downside to positive labels in the short term is that they're
likely to be accidentally removed when users with write access edit labels
in the GitHub UI 🙄

On Wed, Jun 20, 2018, 20:40 Christoph Blecker <notifications@github.com>
wrote:

[2018-06-21 05:00] cjwagner commented on #3827
@cblecker  I was imagining all PRs (that would save the most API tokens), but only requiring the label on non-member PRs seems like a good compromise. If we went that route the label bloat would only affect a small fraction of PRs and even though we would be using more API tokens than if we always required the `ok-to-test` label, we would still be using fewer than we use currently.
That seems like

[2018-06-21 14:44] matthyx commented on #6670
Hi, I need more info for that one: as I understand, there should be teams [on the org page](https://github.com/kubernetes) but I don't'see them as I am not yet a member?

And the use cases are:
- `/cc @user1` assigns user1 for review
- `/cc @kubernetes/team1` assigns team2 for review

Do we care if we cc/assign a user that is already part of an assigned team? And vice-versa?
What about uncc/unassi

[2018-06-21 16:34] cjwagner commented on #6670
Correct, the teams are currently only visible to members. We are working to fix this by defining membership and teams in a publicly readable config file.

What about uncc/unassign?

I'm not sure how GitHub handles these cases. We may need to experiment to determine the actual behavior.

[2018-06-21 17:46] nikhita opened #8421 "`release-note-action-required` label applied when release note contains "ACTION REQUIRED""
`release-note-action-required` label is applied when release note contains the literal word "ACTION REQUIRED". See https://github.com/kubernetes/kubernetes/pull/65298 for it in action.

Is this a desired behavior? Intuitively, when I see `release-note-action-required`, I decode it as "the release note needs some update/action", rather than "the release note contains the word `action required`".

/

[2018-06-21 17:48] nikhita commented on #8421
Ah, this is indeed desired: https://github.com/kubernetes/kubernetes/pull/65298#issuecomment-399187641 :thinking:

Should we remove the commands `/release-note` and `/release-note-action-required`?

[2018-06-21 17:49] nikhita commented on #8421
Happy work on this (if anything needs to be done), of course. :)

[2018-06-21 19:04] cblecker opened #8422 "required_reviewers on PRs"
Proposal:
blunderbuss currently selects a certain number of reviewers from the reviewer pool. By design it doesn't select the same reviewers for every PR. However, there may be use cases (high sensitivity parts of the code base, such as API changes) where a person should be cc'd on every PR that touches that part of the code.

I'd like to suggest that the OWNERS file be extended with a field for r

[2018-06-21 19:05] cblecker commented on #8422
cc @BenTheElder @cjwagner @matthyx @fejta

[2018-06-21 19:07] BenTheElder commented on #8422
Interesting. I've had one previous request for a more advanced version of this to detect changes to flags and CC a particular reviewer.

This sounds useful and pretty straightforward to implement. Should it also support regex &/or globs so we can require reviews for specific files?

[2018-06-21 19:08] BenTheElder commented on #8422
/sig contributor-experience
/kind feature

[2018-06-21 19:22] cblecker commented on #8422
Yes, I was thinking so. I believe blunderbuss supports this already, but I think the approvers plugin doesn't.

[2018-06-21 19:41] matthyx commented on #6670
indeed :) cheers!

[2018-06-21 20:15] fejta commented on #8411
/remove-help
/assign

[2018-06-21 20:28] cjwagner commented on #8422
The [`no_parent_owners` field](https://github.com/kubernetes/test-infra/blob/1d1789f127517ea6778ff6e8a0eed2f0a848f509/prow/repoowners/repoowners.go#L48). May be of interest. It doesn't exactly match the behavior or what you are suggesting, but it does facilitate 'locking down' a sub directory.

[2018-06-21 20:35] fejta commented on #8422
This duplicate the behavior of CODE_OWNERS, does that matter?

[2018-06-21 22:17] #8411 closed

[2018-06-21 22:30] cblecker commented on #6289
@fejta Any update on this?

[2018-06-21 22:35] fejta commented on #6289
/unassign
/assign @cjwagner
/area prow

Making the tide context required breaks tide.

[2018-06-21 22:37] cblecker commented on #8422
@cjwagner Yeah that's not quite what I'm looking for. I don't want to short circuit either the reviewers or approvers that would normally be assigned -- this would be additive.

@fejta It *is* similar to the CODEOWNERS behaviour with two key differences:
- CODEOWNERS [must have write access](https://help.github.com/articles/about-codeowners/)
- CODEOWNERS aren't additive. It runs through the file

[2018-06-21 22:39] cblecker commented on #6289
Wouldn't this be a race condition, then?

What about for repos where there isn't other prow testing? If it's not required, then anyone with write access would be able to manually merge the PR as long as the CLA context passes (this is why we require the SQ context itself)

[2018-06-21 22:40] fejta commented on #8422
👎 🙄 oh github

[2018-06-21 22:42] fejta commented on #6289
True true, which are both good reasons for considering to address it rather than closing... although removing everyone's write access would solve that problem :)

Cole has the most state here and will let him weigh in.

[2018-06-21 23:07] cjwagner commented on #6289
Making the tide context required doesn't work well with Tide, but it doesn't completely break us. It just causes us to (almost always) fail the first attempt at every merge and have to retry the next sync loop.

The issue is that statuses are updated from a separate controller thread instead of being updated as part of the main sync controller loop and that statuses are updated with lower priority

[2018-06-21 23:32] krzyzacy opened #8427 "Consider boskos project loaning wrapper utility"
/area boskos
/area prow

cc @sebastienvas @BenTheElder @cjwagner @stevekuznetsov

@davidz627 has a need to load project to run some non-k8s test, and use kubetest for that is super painful, so I suggest him to use boskos client library instead. @BenTheElder talked that we might want have some wrapper tool to handle resource loaning instead of kubetest.

[2018-06-22 00:10] BenTheElder commented on #8427
yeah something like `gcplease $ACTUAL_TEST_COMMAND`
- requests a project from boskos
- makes it the default in gcloud
- heartbeats while running $ACTUAL_TEST_COMMAND

[2018-06-22 00:13] BenTheElder commented on #8422
Wow, did not know about that write access requirement, that is a major point to mention next time someone asks about the difference...

[2018-06-22 02:45] #6383 closed

[2018-06-22 06:01] matthyx commented on #6670
/assign

[2018-06-22 06:01] matthyx commented on #6670
/remove-help

[2018-06-22 06:02] matthyx commented on #3827
/assign

[2018-06-22 06:10] matthyx commented on #8422
Do we have a place to document these features? I saw @cjwagner speaking about doc improvement efforts during last SIG.

[2018-06-22 17:24] cjwagner commented on #3827
Yeah that sounds like the next step. Maybe post in the sig-testing and sig-contribex slack channels?

[2018-06-22 17:33] cjwagner commented on #8422
We have some documentation about OWNERS files here: https://github.com/kubernetes/test-infra/tree/master/prow/plugins/approve/approvers
I think that OWNERs file docs (not approve plugin specific) should live here though: https://github.com/kubernetes/test-infra/tree/master/prow/repoowners

[2018-06-22 17:42] BenTheElder commented on #7952
https://github.com/kubernetes/test-infra/pull/8106#issuecomment-399520072

The best way to add blocking tests is to discuss with sig-release and then PR testgrid. sig-testing and test-infra maintainers work with the release team on which tests are in the release dashboards but don't dictate them.

[2018-06-22 19:22] jberkus commented on #7952
I'm -1 on adding more blocking tests that aren't 100% under the control of test-infra.  The history of the 1.11 release has been riddled with delays around fixing tests that run on Google infra and need specific Google staff to fix; adding more external tests is not a way to get a release out on time.  We need fewer external blocking tests, not more.

Happy to have this included in -all or somethi

[2018-06-22 21:15] matthyx commented on #3827
Sorry I have been delayed by verify-owners issue... I will prepare the message and post it Monday morning (California time) I think it will have more visibility than during the weekend.

[2018-06-22 21:46] BenTheElder commented on #8405
Commenting on upstream issue(s), though we still might want to tune some of these existing flags potentially. Will come back to this later.

[2018-06-22 22:09] fejta commented on #8412
/assign
/remove-help

[2018-06-22 22:47] kfox1111 opened #8435 "prow with gitlab"
prow binding to gitlab rather then github would be useful.

Is anyone working on it?

[2018-06-22 23:21] fejta commented on #8435
No one is working on it.

The integrations with github are pretty deep.

The most likely path forward on this would be to create some sort of github->gitlab translator service that sits in between prow and gitlab. So prow talks github to the service, which then translates the request into something it sends gitlab. Gitlab then talks back to the service, which it translated into a github request an

[2018-06-22 23:22] #8357 closed

[2018-06-23 02:08] #6404 closed

[2018-06-23 11:02] #8412 closed

[2018-06-23 14:11] kargakis opened #8439 "config updater reply formatting is broken"
Example: https://github.com/openshift/release/pull/986#issuecomment-399630556

Should be:
  * `ci-operator-openshift-origin` configmap using the following files:
     - key `master.json` using file `ci-operator/config/openshift/origin/master.json`
  * `config` configmap using the following files:
    - key `config.yaml` using file `cluster/ci/config/prow/config.yaml`
  * `ci-operator-openshift-ope

[2018-06-23 14:17] kargakis commented on #8435
What happens when there is something supported by gitlab but not github?

How is the work with splitting the reporters out of plank going on @krzyzacy ? If we have that in place then all you would need is to create a gitlab version of `hook` and a gitlab reporter that reports job statuses back to gitlab.

/area prow
/kind feature

[2018-06-23 14:17] kargakis commented on #8413
/area prow

[2018-06-23 14:17] kargakis commented on #8410
/area prow

[2018-06-23 18:01] krzyzacy commented on #8439
* foo
 - bar

[2018-06-23 18:05] krzyzacy commented on #8435
yeah I plan to sort out gerrit implementation first, and we can design out for other platforms

[2018-06-23 20:10] cblecker commented on #3827
And once we have that design proposal, we should send it out for comment to the contribex and testing e-mail lists, rather than just Slack.

[2018-06-23 20:33] fejta commented on #8435
Every plugin assumes GitHub, not just reporting job status.

[2018-06-23 20:58] matthyx commented on #3827
Okay, I can start working on that and drive it if you wish... but where should it be written? Do we have a space for RFCs or something similar?

[2018-06-23 21:00] kargakis commented on #8435
All plugins are either in hook or hook is configured to demux to them.
That's why I think a separate hook impl for gitlab is required.

On Sat, Jun 23, 2018, 22:33 Erick Fejta <notifications@github.com> wrote:

[2018-06-24 09:39] #3737 closed

[2018-06-24 18:30] yguo0905 commented on #7415
/close

[2018-06-24 18:30] #7415 closed

[2018-06-24 19:38] BenTheElder commented on #4425
/reopen
/remove-lifecycle stale
This is still a pain point.

On Sun, Jun 24, 2018, 02:39 fejta-bot <notifications@github.com> wrote:

[2018-06-24 19:39] BenTheElder commented on #4046
/remove-lifecycle stale
/reopen

On Sun, Jun 24, 2018, 09:46 k8s-ci-robot <notifications@github.com> wrote:

[2018-06-24 19:40] BenTheElder commented on #4425
@cjwagner this seems unhelpful. Surely someone else (repo maintainers at
least?) Should be able to reopen without using a /assign comment first...

On Sun, Jun 24, 2018, 12:38 k8s-ci-robot <notifications@github.com> wrote:

[2018-06-24 19:41] BenTheElder commented on #4046
https://github.com/kubernetes/test-infra/issues/4425#issuecomment-399781968

[2018-06-24 19:42] BenTheElder commented on #7405
This should be doable now, we have golint this way in test-infra now.

On Sun, Jun 24, 2018, 10:47 fejta-bot <notifications@github.com> wrote:

[2018-06-24 19:43] BenTheElder commented on #7400
Can we clean these up then..?

On Sun, Jun 24, 2018, 11:48 fejta-bot <notifications@github.com> wrote:

[2018-06-24 20:35] kargakis commented on #4425
Agreed with Ben, let's open a separate issue to track

On Sun, Jun 24, 2018, 21:40 Benjamin Elder <notifications@github.com> wrote:

[2018-06-24 20:36] kargakis commented on #4761
/remove-lifecycle rotten
/assign
/reopen

On Sun, Jun 24, 2018, 21:49 k8s-ci-robot <notifications@github.com> wrote:

[2018-06-24 20:50] kargakis commented on #4761
/reopen

On Sun, Jun 24, 2018, 22:36 k8s-ci-robot <notifications@github.com> wrote:

[2018-06-24 20:51] kargakis commented on #4761
unassign

On Sun, Jun 24, 2018, 22:50 Michalis Kargakis <mkargaki@redhat.com> wrote:

[2018-06-24 20:52] kargakis commented on #4761
/unassign

On Sun, Jun 24, 2018, 22:51 k8s-ci-robot <notifications@github.com> wrote:

[2018-06-25 11:13] matthyx commented on #3827
I think I've found it... gonna write it in https://github.com/kubernetes/community/tree/master/contributors/design-proposals/testing

[2018-06-25 14:07] #6457 closed

[2018-06-25 17:32] krzyzacy commented on #7400
I think they should? that's why I was asking for an example

[2018-06-25 20:38] BenTheElder commented on #4761
Heh, so it also reopened it for you while simulataneously commenting that you can't do that :|
@cjwagner

[2018-06-25 20:42] BenTheElder opened #8450 "/reopen should have wider ACLs"
This is pretty ridiculous:
<img width="802" alt="screen shot 2018-06-25 at 1 38 21 pm" src="https://user-images.githubusercontent.com/917931/41874606-39875f64-787d-11e8-814d-c734ab0d3f2a.png">

After @fejta-bot closes a PR/issue if you are not the author or assigned to it you must do the following to reopen without leveraging your own write access:
- comment `/assign`, the robot will assign you
-

[2018-06-25 20:44] BenTheElder commented on #8450
examples:
https://github.com/kubernetes/test-infra/issues/4761#event-1697744103
https://github.com/kubernetes/test-infra/issues/4425#issuecomment-399781854
https://github.com/kubernetes/test-infra/issues/4046#issuecomment-399781899

[2018-06-25 21:20] #7950 closed

[2018-06-25 21:23] cjwagner commented on #4761
Nah, @kargakis deleted some other comments.
I agree that the ACLs for `/reopen` should be looser though.

[2018-06-25 21:51] kargakis commented on #4761
There is a different PR/issue where I managed to reopen on a single comment but I wasn't lucky enough on this one :(

[2018-06-25 22:04] #8439 closed

[2018-06-25 22:10] justinsb commented on #8357
Thanks for pushing the image :-)

[2018-06-25 23:28] #7540 closed

[2018-06-26 01:02] krzyzacy opened #8461 "Re-validate presets after merge configs"
Presets are resolved in load time rather than run time, currently each job config file does not necessarily contains the presets, and simply re-validate everything does not work.

/prow
/assign

[2018-06-26 01:02] krzyzacy commented on #8461
/area prow

[2018-06-26 01:09] fejta opened #8462 "Make prow/jenkins/... pass lint"
/good-first-issue
/area prow

`bazel run //:golint -- ./prow/jenkins/...`

[2018-06-26 01:10] fejta opened #8463 "Make prow/slack/... pass lint"
/good-first-issue
/area prow

`bazel run //:golint -- ./prow/slack/...`

[2018-06-26 01:41] fejta commented on #8410
/assign
/remove-help

[2018-06-26 09:03] munnerz commented on #8333
You may be better off asking this question over in #kubernetes-users on Slack, or opening an issue on kubernetes/kubernetes 😄. This does not seem like an issue related to Prow or test-infra? Could you clarify with some extra info if it is 😄

[2018-06-26 16:55] stevekuznetsov commented on #8450
Funny example from the impl of the feature way back when ... https://github.com/kubernetes/test-infra/issues/2237#issuecomment-294075659

[2018-06-26 16:59] stevekuznetsov commented on #8450
Can't find any explanation of why we use the ACL we do in the initial implementation of `/close` here https://github.com/kubernetes/test-infra/pull/997 which was copied into `/reopen`. Unless we have a real need to block people who cannot be assigned from closing and opening issues, maybe let's just not do the ACL check? Is it really useful?

[2018-06-26 17:24] cjwagner commented on #8450
We need to use some kind of gate. It wouldn't be great if anyone on the internet could show up and start closing all of our PRs and issues. I think requiring that the commenter is an organization collaborator would be most consistent with other plugins.

[2018-06-26 17:43] amwat opened #8468 "Create prowjob admission controller"
We should have some basic validator and/or invalid CRD rejector so that prow components like plank don't crash loop. Currently the `configAgent` heavily relies on specific `Spec` fields to exist; based on the CRD type.

/cc @BenTheElder @krzyzacy

Was: Malformed CRDs shouldn't break prow.

[2018-06-26 17:47] krzyzacy commented on #8468
hummm, at `configAgent` stage the job is not a CRD yet

[2018-06-26 17:48] krzyzacy commented on #8468
though we have plan to move the configs to CRDs
/area prow

[2018-06-26 17:55] BenTheElder commented on #8468
Er in this case I believe it was an hand altered ProwJob CRD. The config agent should be pretty protected by our validation and we can easily update it to not panic and reject new bad configs during load, but ensuring the ProwJobs created by arbitrary tools / humans are valid without breaking any of the components is another thing entirely.

Not sure if we should at all, but I thought we should di

[2018-06-26 18:08] BenTheElder commented on #8450
being a collaborator / org member SGTM, if we can't trust collaborators / org members to close / open issues responsibly we have bigger issues 😬
@cblecker contribex bat signal 🦇🔦
/sig contributor-experience

[2018-06-26 18:14] cblecker commented on #8450
IsCollaborator is the effect right now, yes? You need to be able to be assigned an issue (minimum read access to repo) to be able to close/reopen. I'm okay with that. What I don't like about the above is that I'm guessing @kargakis put in other comments to assign himself, then reopen, then close, then deleted the comments.. if someone can close/reopen issues without us having a visible trail, that

[2018-06-26 18:16] fejta commented on #8450
I think we're in violent agreement about what the behavior should be -- if you **can** be assigned you can reopen/close -- but we should not actually require someone to assign themselves.

[2018-06-26 18:19] BenTheElder commented on #8450
Yes exactly what Erick said.

If we need a trail the robot can comment:

Reopening issue.

In response to:
<details>

</details>

On Tue, Jun 26, 2018, 11:16 Erick Fejta <notifications@github.com> wrote:

[2018-06-26 18:21] cblecker commented on #8450
+1 to what Erick said, and +1 to having the trail.. preferably on both close and reopen.

[2018-06-26 19:20] stevekuznetsov commented on #8468
Once we have autogenerated clients for the Prow CRDs I think this will be effectively fixed.

[2018-06-26 19:20] stevekuznetsov commented on #8468
/assiign

[2018-06-26 19:20] stevekuznetsov commented on #8468
/assign

[2018-06-26 19:35] BenTheElder commented on #7140
/remove-lifecycle stale.

On Tue, Jun 26, 2018, 12:34 fejta-bot <notifications@github.com> wrote:

[2018-06-26 20:51] BenTheElder opened #8471 "make sure build failures emit junit"
we can't leverage the excellent triage dashboard for things like "how many times have we hit a cache download timeout" since build failures leave behind no junit. we should fix this.

/cc @ixdy

[2018-06-26 20:54] BenTheElder commented on #8471
@rmmh any particular suggestions here? should we just wrap the test execution with a junit entry and shove the build log in if the build fails?

[2018-06-26 21:29] cjwagner commented on #7140
This should now be possible. See the `ContextOptions` field of the tide config: https://godoc.org/k8s.io/test-infra/prow/config#Tide

[2018-06-26 21:39] cjwagner commented on #8450
That is really a problem common to all slash commands implemented by Prow. We use the pattern Ben described to indicate why the robot took certain actions, but we only do so when we are already leaving a comment.
This is probably the right path to take, but it will increase comment spam from the bot. 🤷‍♂️

[2018-06-26 21:41] rmmh commented on #8471
The build log can be ridiculously huge, but if we could make a JUnit for specific bazel failures that would be good.

[2018-06-26 21:47] rmmh commented on #8471
Fixing Bazel to produce JUnit for these cases would also be useful.

[2018-06-27 05:30] nikhita commented on #8275
Can we add `OWNER_ALIASES` explicitly for now and refactor when we make it configurable? ref: https://github.com/kubernetes/test-infra/pull/8207#discussion_r193465456

I think this is the second (maybe even third) PR I have seen recently which is changing `OWNER_ALIASES` and is running the complete test suite.

I'm happy to add `OWNER_ALIASES` to the file but don't have the bandwidth to send a PR

[2018-06-27 14:13] mariantalla commented on #5453
@krzyzacy Is this still something you think is valuable to implement? If so, could we have a discussion of what you had in mind?

cc @hoegaarden

[2018-06-27 16:31] krzyzacy commented on #5453
/remove-lifecycle rotten
/help

so we already have glog in kubetest (unfortunately we only use that in dind), we can convert all logging message with that

[2018-06-27 16:45] BenTheElder commented on #5453
Maybe. Or logrus. Going to figure out if I can make those play nice.

On Wed, Jun 27, 2018, 09:31 Sen Lu <notifications@github.com> wrote:

[2018-06-27 20:11] cjwagner commented on #8275
SGTM

[2018-06-27 20:21] nikhita commented on #8275
created https://github.com/kubernetes/test-infra/pull/8482 to add OWNERS_ALIASES.

[2018-06-27 21:42] krzyzacy opened #8485 "Migrate jobs from prow/config.yaml to config/jobs/**/*.yaml"
Might write a helper script, but big things:
- generated jobs
- k-s/k jobs

/area jobs
/assign

[2018-06-27 21:54] krzyzacy commented on #8485
cc @BenTheElder

[2018-06-27 22:01] krzyzacy commented on #7477
this probably will be rolled into https://github.com/kubernetes/test-infra/issues/8427

[2018-06-27 22:01] #7477 closed

[2018-06-27 23:37] fejta commented on #8462
/assign
/remove-help

[2018-06-27 23:53] fejta commented on #8463
/remove-help
/assign

[2018-06-28 17:10] stevekuznetsov opened #8493 "prow: sidecar: behavior is wrong on interrupt"
We got an interrupt in a job today, but `sidecar` did not upload anything. Here are the:

<details><summary><code>`kubectl logs -c sidecar ${pod}`</code></summary>

[code]

</details>

<details><summary><code>`kubectl get ${pod} -o yaml`</code></summary>

[code]

</details>

<details><summary><code>`kubectl describe ${pod}`</code></summary>

[code]

</details>

[2018-06-28 17:10] stevekuznetsov commented on #8493
/area prow
/kind bug
/assign
/cc @cjwagner

[2018-06-28 17:12] stevekuznetsov commented on #8493
Critically we are missing any `finished upload` lines for any specific item to upload OR the overall.

[2018-06-28 17:15] stevekuznetsov commented on #8493
The `sidecar` container did stay alive longer than the `test` container:

[code]

`test` container had the following output:

[code]

[2018-06-28 17:19] stevekuznetsov commented on #8493
Should note that `pod.spec.terminationGracePeriodSeconds = 30`, so if we got a termination signal in `sidecar` at `34:35` but exited at `34:46` we did not get `SIGKILL` from the `kubelet` but had to exit some other way.... without logging anything?

[2018-06-28 17:23] stevekuznetsov commented on #8493
However, it exited `137`, which is `128+9` and indicates the process got `SIGKILL`.

[2018-06-28 17:23] stevekuznetsov commented on #8493
However, it exited `137`, which is `128+9` and indicates the process got `SIGKILL`.

[2018-06-28 17:29] stevekuznetsov commented on #8493
@sjenning can you help me understand if it was the `kubelet` sending `SIGKILL` here and why it may have done that before the 30s grace period was up?

[2018-06-28 17:31] stevekuznetsov commented on #8493
/shrug

[2018-06-28 17:51] stevekuznetsov commented on #8493
Our node autoscaler was interacting with that node:

[code]

But by that time, the test pod was not on the node.

[2018-06-28 19:40] BenTheElder commented on #6865
I've done as much as I'll have time for on this for now, we can follow up on this more in the future perhaps
/close

[2018-06-28 19:40] #6865 closed

[2018-06-28 20:11] stevekuznetsov commented on #8493
@sjenning OK thanks for the input

We are just best-effort trying to upload whatever we can since Pod eviction or other events killing this container should be entirely out of the ordinary.

[2018-06-28 20:52] sjenning commented on #8493
The SIGKILL *is* coming from the kubelet as a result of the `StopPodSandbox()`

[code]

[code]

Note that `StopPodSandbox()` force kills containers that are still running in the sandbox.  Question remains why.

It seems that `StopContainer()` is returning in less that the grace period but before the sidecar container is actually dead.  Thus the subsequent `StopPodSandbox()` SIGKILLs it.

The only

[2018-06-28 21:02] #8462 closed

[2018-06-28 21:23] #2528 closed

[2018-06-28 23:20] BenTheElder commented on #8450
Bumping, I just danced through the "/assign", "/reopen", "/unassign" again, this 3Xes the noise from reopening an issue https://github.com/kubernetes/kubernetes/issues/30784#event-1707527553 ...

Are we at consensus to expand to collaborators and leave a comment? Or do we need a formal proposal etc...

[2018-06-29 00:43] krzyzacy opened #8505 "Plank crashing when try to report back to github from gerrit?"
/area prow

(should not happen? it does not even have a github client :-/ )
/assign
/assign @amwat

[2018-06-29 01:07] cblecker commented on #8450
Closing and reopening an issue or PR **must** have an audit trail (it's what I'd consider a more privileged action). Currently closing works without more commands, but it forces assigning (like `/lgtm` does).

We could either force assign, or we could comment that we are taking the action. Either way, I'm okay with not requiring actual assignment to do it.

[2018-06-29 04:10] cjwagner opened #8508 "Pod Utilities don't fail the ProwJob when the test container exits non-zero."
I noticed some runs that were marked as failures in Gubernator, and successes on Deck which led me to find that neither `entrypoint` nor `sidecar` exit with the exit code provided by the test container... They do mark the job as failed in `finished.json`, but the ProwJob itself is still considered a success.
Currently, Pod Utility jobs are only failing if there is an error from the utilities thems

[2018-06-29 04:20] fejta commented on #8450
There's still an audit trail, even if someone deletes the comment.

[2018-06-29 04:23] cjwagner opened #8509 "Pod (Utilities) racing"
I'm pretty confident we've encountered a race in the Pod Utilities between `entrypoint` and `sidecar`.
Specifically, we saw a job whose test binary exited with status code 0, but was marked as a failure in `finished.json` because the sidecar failed to parse the marker file contents into an int (the marker file existed, but was empty). I think this is because we don't write the marker file atomical