[2019-08-29 05:47] clarketm commented on #5216
Even with the `pod_spec` omitted, for large instances, the `prowjobs` format is **twice** the size of the custom `job` format.

e.g. `https://prow.k8s.io` - `2019-08-28T22:46:13-07:00`
![image](https://user-images.githubusercontent.com/9957358/63913608-95d57980-c9e5-11e9-9cc0-2b2f470d3345.png)

[2019-08-29 09:05] aojea opened #14128 "pull-kubernetes-conformance-image-test failing"
**What happened**:

Bug with kind in master breaks the pull-kubernetes-conformance-image-test job
https://github.com/kubernetes/kubernetes/issues/82102

**What you expected to happen**:

pull-kubernetes-conformance-image-test running fine

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

https://testgrid.k8s.io/sig-testing

[2019-08-29 10:15] hampus77 opened #14130 ""github.com" hardcoded in git client breaks use of internal github appliance"
**What happened**:
Specified internal github endpoint for deck and hook and tried to execute a tekton pipeline

**What you expected to happen**:
A git resource to be created and cloned from our internal github

**How to reproduce it (as minimally and precisely as possible)**:
Create a prowjob that has a presubmit that executes tekton

**Please provide links to example occurrences, if any**:

**Any

[2019-08-29 15:14] klueska opened #14134 "Prioritize PRs in Merge Queue by approval timestamp not PR number"
**What would you like to be added**:
Would it be possible to prioritize PRs included in batch merges by their approval timestamp rather than their PR number?

It seems like it would be a fairly straightforward change to make, given the existence of the `createdAt()` API for github labels:
https://developer.github.com/v4/object/label/

**Why is this needed**:
As code freezes approach, many (often o

[2019-08-29 16:11] stevekuznetsov commented on #14134
Why is approval time a better metric for ordering than code creation time? In theory, the batches should be large enough and successful enough that ordering does not matter. I think I would personally prefer to focus efforts on improving merge throughput to get to that place. We don't need to stick to 5-PR batches, either. Larger should be fine.

/area prow/tide
/cc @cjwagner

[2019-08-29 16:12] stevekuznetsov commented on #5216
Why? What's the worry about size?

[2019-08-29 16:21] Katharine commented on #5216
55 MB of javascript to _load a webpage_ is truly absurd.

[2019-08-29 16:24] clarketm commented on #5216
@stevekuznetsov - I have not run any benchmarks, but my primary concern is *load time* and the fact that a most of the prowjob data is unused. *Pagination* is another option to reduce to reduce payload size but would require additional changes to FE.

[2019-08-29 16:49] stevekuznetsov commented on #5216
We have metrics on load time for the page, let's use them. https://monitoring.prow.k8s.io/d/c27162ae7ad9ce08d2dcfa2d5ce7fee8/deck-dashboard?orgId=1

If we transparently hide fields I guess that's fine, or render server-side ... I think I'd prefer to see server-side endpoints for digested data over weird quasi-filled objects with nullable fields

[2019-08-29 16:55] Katharine commented on #5216
The upshot is that the page will take about twice as long to load as it does today (having measured this on a very fast machine with a very fast internet connection, it adds an extra 1.5 seconds - if your machine parses JS slower or does not have gigabit internet, it will be worse), which I don't think is something I particularly want to ship.

[2019-08-29 17:00] klueska commented on #14134
I think approval time is a better metric than code creation time because approval time marks the time when the PR enters the merge pool. The difference between `now` and `approval time` is the wait time in the queue.

It seems more intuitive for me to prioritize PRs that have been waiting longer in the queue over PRs that may have just been added to the queue, but happen to have a lower PR number.

[2019-08-29 17:14] Katharine commented on #14134
I agree that approval time is a better metric than PR creation time. It is deeply frustrating if you create a PR that gets approved quickly but you are stuck in the pool for _days_ because a) the merge rate is incredibly awful, and b) PRs that were approved after yours keep jumping yours in the queue.

It shouldn't be possible for a PR to be waiting to merge for days (this is certainly not the onl

[2019-08-29 17:18] cjwagner commented on #14134
Tide intentionally avoids prioritizing PRs based on variables that can change after entering the queue because that causes the queue to be reorder more frequently which negatively impacts the merge rate. This is one of the problems that the submit queue had.

"Last approval time" could change and may be expensive to determine for all PRs, but that might be acceptable given how useful it would be.

[2019-08-29 17:19] cjwagner commented on #14134
If we're ok with storing some more persistent state this is pretty easy and cheap to solve I think.

[2019-08-29 17:21] stevekuznetsov commented on #14134
It looks like the longest test for `k/k` running in a batch takes [~1h45m](https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=batch).

If we have successful batches, that should be ~14 batches a day and ~70 merged PRs in a day. Today, we see about [~25](https://monitoring.prow.k8s.io/d/d69a91f76d8110d3e72885ee5ce8038e/tide-dashboard?orgId=1&fullscreen&panelId=3) per day. I think increasing bat

[2019-08-29 17:22] stevekuznetsov commented on #14134
(There's nothing special about 5 as the size of a batch. Collisions between batch candidates is really, really, rare and I don't think we'd see negative effects from quadrupling batch size)

[2019-08-29 17:23] stevekuznetsov commented on #5216
We also never display all ~40k prowjobs to the user, so why not ask the backend for the last 100?

[2019-08-29 17:25] stevekuznetsov commented on #14125
Post-submits run when code is merged to the repo. You are making PRs from branches on the repo itself, not from a fork, and you have not configured the postsubmit to run on a particular branch or subsets of branches, so this is all working as expected. I would suggest, in the following order:

 - don't make branches on the repo itself to make PRs
 - use branch selectors on your presubmits and post

[2019-08-29 17:25] stevekuznetsov commented on #14125
/cc @cjwagner

[2019-08-29 17:27] clarketm commented on #5216
@stevekuznetsov - they do not get displayed in the table (without filters applied), but they get added to the job histogram and can be show if the a filter is applied and a job matched that filter (one that may have not been one of the most recent 500).

[2019-08-29 17:29] klueska commented on #14134
I agree that an increased batch size would likely make it so this "jump ahead" problem would become unnoticable. As it stands today though, it is a real issue (I'm still waiting for a PR to merge that was approved 4 days ago because it keeps losing its place in line).

[2019-08-29 17:40] stevekuznetsov commented on #14134
I think there's an argument to be made (and I have heard it made) that ordering by PR number makes sense as well from a principled point of view: work that has been iterated on longer and taken longer to validate should not get edged out by new PRs flying through quickly.

In any case I think we should focus on making batches better and increasing the merge throughput, instead of splitting hairs o

[2019-08-29 17:43] clarketm commented on #5216
@stevekuznetsov @Katharine

By also omitting `metadata.annotations`, `metadata.labels`, `spec.decoration_config` I can reduced the size significantly.

![image](https://user-images.githubusercontent.com/9957358/63963355-b2a39880-ca49-11e9-8483-659cd11b12d9.png)

[2019-08-29 17:44] stevekuznetsov commented on #5216
I don't really know if it's _that_ useful to show the histogram and bar chart breakdown for _all_ jobs. Those are useful diagnostic tools once you filter but otherwise are just novel.

[2019-08-29 17:47] clarketm commented on #5216
@stevekuznetsov - I agree with you ... but my second point was that if we only return `500` jobs on load, then the remaining **n** amount of jobs will not be known to the front-end; since filtering in the UI does not make an API call, but rather uses the `allBuilds`  javascript requested onload, information will be lost on FE.

[2019-08-29 17:50] stevekuznetsov commented on #5216
Right. I guess we could also just make more pointed requests to the backend -- pass along the filter options and do the filtering server-side. If we want to have 55M of data to work with we can't also hold it all in the front-end and work on it there. Will be faster in Go anyway ;)

[2019-08-29 17:54] clarketm commented on #5216
I agree with you that the *filtering*, *sorting*, *punning* can be better (and more robustly) handled server-side. The implementation on FE should be trivial; most of the effort will be server-side to build the API to accept additional parameters and properly munge this information. I can start a design for this.

For now, if we want to move forward with `prowjobs.js` (https://github.com/kubernete

[2019-08-29 17:57] #14099 closed

[2019-08-29 18:04] klueska commented on #14134
Yes. Except when you create a new PR to address an issue that your really old PR now depends on.

Anyway, I'm all in favor of seeing how an increased batch size will affect things. It may likely be that the percieved issue disappears.

[2019-08-29 18:22] Ark-kun commented on #14125
Oh, I see. Thanks for the explanation. I usually use forks, but just this time I used GitHub's editor.

TBH, I think this wasn't an issue before and I was able to create mergeable PRs from the main repo branches. But I cannot find any proof right now. So I'm closing the issue.

Thanks for the suggestions.

[2019-08-29 22:02] Ark-kun commented on #14125
I've submitted the PR from a fork and yet the postsumbit test still runs: https://github.com/kubeflow/pipelines/pull/1990

[2019-08-29 22:54] stevekuznetsov commented on #14125
At some point you pushed that commit to the `kubeflow/pipelines` repo:

[code]

/close

[2019-08-29 22:54] #14125 closed

[2019-08-29 23:44] cjwagner opened #14144 "Prow checkconfig presubmit test should run at the same version as Prow components."
**What happened**:
We currently run Prow's `checkconfig` utility via the bazel test presubmit to validate changes to Prow config. This is done via the `//hack:verify-config` bazel target:
https://github.com/kubernetes/test-infra/blob/7ef687d80d22937654348e3b10f527d06430d43c/hack/BUILD.bazel#L344-L362

https://github.com/kubernetes/test-infra/blob/7ef687d80d22937654348e3b10f527d06430d43c/hack/verif

[2019-08-29 23:56] Ark-kun commented on #14125
Is that information a part of the commit or does Prow or GitHub remember that?

[2019-08-29 23:58] Ark-kun commented on #14125
It's interesting since that branch no longer exists in that repo.

[2019-08-30 01:51] #12014 closed

[2019-08-30 12:35] jkaniuk opened #14149 "Export crash reports from master logs"
**What would you like to be added**:
Exporting crash report / serial console output after the test.
GCP examples:
https://cloud.google.com/compute/docs/instances/interacting-with-serial-console
or setting cos-metrics-enabled metadata:
https://cloud.google.com/container-optimized-os/docs/how-to/create-configure-instance#other_metadata_flags

**Why is this needed**:
When kernel panic occurs on the m

[2019-08-30 15:00] stevekuznetsov commented on #12829
/remove-lifecycle stale

@Katharine there are measures of health between prometheus and the deployments it's scraping like [`up`](https://prometheus.io/docs/concepts/jobs_instances/) -- we can also add literal alerts for when scraping is working but no data is coming back (that's how the latest sinker issue manifested). Did you want an alert for [`absent`](https://prometheus.io/docs/prometheus/lat

[2019-08-30 16:06] wojtek-t commented on #14149
/sig scalability

[2019-08-30 16:40] PatrickLang opened #14150 "Need SIG-Windows jobs for release-1.16 branch"
**What happened**:
SIG-Windows had jobs on the release-all dashboards for 1.14 and 1.15 that were green at release. Currently there's nothing for SIG-Windows on 1.16-release dashboards

**What you expected to happen**:
For 1.16, I mistakenly thought our job on master would be branched for `release-1.16` but that didn't happen.

**How to reproduce it (as minimally and precisely as possible)**:
http

[2019-08-30 16:44] PatrickLang commented on #14150
cc @adelina-t

[2019-08-30 16:49] alejandrox1 commented on #14150
@PatrickLang where in https://testgrid.k8s.io/sig-windows could we find the jobs you want to promote ?

[2019-08-30 16:51] PatrickLang commented on #14150
@alejandrox1 maybe that's the root cause - we didn't have a test on release-1.16 yet since we were just looking at master branch for status

[2019-08-30 16:51] PatrickLang commented on #14150
cc @yujuhong @pjh - do you want to fork jobs for release-1.16 on gce too?

[2019-08-30 17:10] alejandrox1 commented on #14150
@PatrickLang it could be but normally SIGs have the jobs on their dashboards (sig-windows in this case) and then we copy or replicate (depending on the job) these into the sig-release dashboards.

Could you all please create a list of the jobs you want to promote?

[2019-08-30 17:11] yujuhong commented on #14150
Yes, we do.

[2019-08-30 17:17] Katharine commented on #14150
If you want your job to be automatically forked, you need to include the [fork annotations](https://github.com/kubernetes/test-infra/tree/master/experiment/config-forker#supported-annotations). Otherwise you'll have to do it manually after the fact.

[2019-08-30 17:17] idealhack commented on #14150
I didn't have the whole picture on this, but it might be the problem that the job we want to fork does not have the `fork-per-release: "true"` annotation so that [config-forker](https://github.com/kubernetes/test-infra/tree/master/experiment/config-forker) can create one for every release branch.

/area release-eng
cc @kubernetes/release-engineering
cc @Katharine

[2019-08-30 17:18] idealhack commented on #14150
@Katharine you beat me to it... thanks!

[2019-08-30 17:20] justaugustus commented on #14150
Hehe, I was just about to come here and say that! 😜

[2019-08-30 17:26] stevekuznetsov commented on #12216
Fixed in #13761
/close

[2019-08-30 17:44] alvaroaleman commented on #12216
Err no, #13761 only fixes this for serial retesting, not for batches. Batches is a bit more involved, as we have to find existing tests that ran for the exact same batch.

/reopen

[2019-08-30 17:51] stevekuznetsov commented on #12216
Oh!. Well.

[2019-08-30 19:02] #14070 closed

[2019-08-30 20:17] clarketm commented on #14121
/assign

[2019-08-31 00:31] clarketm commented on #11011
/assign

[2019-08-31 00:42] stevekuznetsov commented on #11679
@clarketm
<3 :tada:
/close

[2019-08-31 13:35] reith opened #14158 "kubetest: unable to find `local-up-cluster.sh`"
By kubetest docs, I understand it should be installed from master and run on `kubernetes/kubernets` master even for testing other releases. I did so to run `1.13.6` cluster and it failed to run start-up cluster, complaining `hack/local-up-cluster.sh` file is not found. I suppose that file has existed since much before than `1.13.6`, am I correct?

**What happened**:
Got kubetest and `kubernetes/ku

[2019-08-31 23:36] #12051 closed

[2019-09-01 05:42] #11934 closed

[2019-09-01 20:57] #12052 closed

[2019-09-02 07:41] adisky opened #14164 "go get kubetest failing with "unable to access 'https://git.apache.org/thrift.git/'""
**What happened**:
To solve failures of openstack conformance test, i followed the approach from here
https://github.com/kubernetes/test-infra/issues/14070#issuecomment-525651839

i tried to install kubetest
 `export GO111MODULE=on
 go get -u  k8s.io/test-infra/kubetest`
but it is failing with error
`go: git.apache.org/thrift.git@v0.0.0-20180902110319-2566ecd5d999: git fetch -f https://git.apache.

[2019-09-02 07:41] adisky commented on #14164
I also found this, while searching for the issue
https://github.com/jenkins-x/jx/issues/3320

[2019-09-02 07:42] adisky commented on #14164
/assign @fejta

[2019-09-02 10:17] aanm opened #14165 "Provide a vendor directory to avoid downloading all go modules"
**What would you like to be added**:

Add a `vendor/` with all `kubetest` dependencies.

**Why is this needed**:

To avoid downloading all go modules every time someone builds `kubetest` binary in a clean environment.

Alternatively, if `kubetest` binary would be available, in a docker image for example, that would also be great.

cc @fejta

[2019-09-02 12:20] fisherxu commented on #14164
+1

[2019-09-02 12:20] fisherxu commented on #14164
also met this error, suggest to add the vender folder

[2019-09-02 12:21] fisherxu commented on #14165
+1

[2019-09-02 12:38] aanm commented on #14165
Also, to avoid this
[code]

[2019-09-02 19:17] alejandrox1 commented on #14150
@PatrickLang could you please add the same type of job you added in https://github.com/kubernetes/test-infra/pull/14151 to the release-informing dashboard, https://testgrid.k8s.io/sig-release-master-informing ?
/reopen

[2019-09-02 20:38] cblecker commented on #12863
/remove-lifecycle stale

[2019-09-02 22:22] #12083 closed

[2019-09-03 01:54] gaopenghigh commented on #14164
same error

[2019-09-03 09:21] schrodit commented on #14164
same on our side.
We experience this since friday

[2019-09-03 09:37] vamossagar12 commented on #13975
@fejta , i have started making the changes for this PR. Wanted to ask, the plugin you have posted in the OP, shows required-matching-label plugin which responds to label changes. However, I see another plugin within trigger, which also, seems to respond to PullRequestActionLabeled events:

https://github.com/kubernetes/test-infra/blob/9f0ac86fd0f4b96f5ca913fb120d2bb6a7c65ff7/prow/plugins/trigger/p

[2019-09-03 11:49] jkaniuk commented on #14149
I have updated scalability CI projects enabling serial port output logging to Stackdriver:
https://cloud.google.com/compute/docs/instances/viewing-serial-port-output

[2019-09-03 11:49] #14149 closed

[2019-09-03 15:58] Katharine commented on #11064
/remove-lifecycle stale

one day.

[2019-09-03 15:58] alejandrox1 commented on #14164
Updates from SIG-testing slack channel ( https://kubernetes.slack.com/archives/C09QZ4DQB/p1567498382002500 ):

[2019-09-03 16:08] nicoaragon commented on #13895
Thank you, everyone!
What work is remaining to close this issue?

[2019-09-03 17:00] michelle192837 opened #14175 "GHProxy: Path not handled"
Got error: "Path not handled. This is a bug in GHProxy, please open an issue against the kubernetes/test-infra repository with this error message." So doing that :P (This isn't all of them, but it should be pretty representative of the bunch).

jsonPayload: {
  component:  "ghproxy"
  file:  "ghproxy/ghmetrics/ghpath.go:141"
  func:  "k8s.io/test-infra/ghproxy/ghmetrics.GetSimplifiedPath"
  level:

[2019-09-03 17:01] michelle192837 commented on #13776
Can these get downgraded from warning at least? I can add 'search for unhandled paths in ghproxy' to oncall instructions, but as it is it's really cluttering the logs and makes it harder to find any issues in Prow's startup/operation.

[2019-09-03 17:33] stevekuznetsov commented on #14175
Dupe of https://github.com/kubernetes/test-infra/issues/13789

Thanks, Michelle!

[2019-09-03 17:33] #14175 closed

[2019-09-03 17:49] BenTheElder commented on #5882
this happened in the move to mason

[2019-09-03 17:49] #5882 closed

[2019-09-03 19:16] hpandeycodeit opened #14179 "Build/tests are failing due to conflicts, even when there is none."
**What happened**:

After I have resolved the conflicts, the tests are failing with conflict errors:

[code]

**What you expected to happen**:
It should be able to build/test the changes without any issues if there are no conflicts.

**How to reproduce it (as minimally and precisely as possible)**:
Create a PR with some conflicts, resolve them and push the changed to the last commit ( not a new co

[2019-09-03 20:11] fejta commented on #14164
Please use a proxy to download deps, which you can do by either:
* Using  go 1.13 (which enables this by default), and/or
* `export GOPROXY=https://proxy.golang.org && export GOSUMDB=sum.golang.org && export GO111MODULE=on`

[2019-09-03 20:50] fejta commented on #13975
Yes, SGTM.

[2019-09-03 22:57] hpandeycodeit commented on #13873
Thanks! It worked after the above changes.

[2019-09-03 22:57] fejta opened #14185 "Cannot patch upgrade test-infra"
See https://testgrid.k8s.io/sig-testing-maintenance#autoupdate-patch

Need to update controller-runtime to a PR past https://github.com/kubernetes-sigs/controller-runtime/pull/584

ref googleapis/gnostic#147 and #583

[2019-09-03 23:06] roycaihw opened #14186 "triage is failing"
**What happened**:

go.k8s.io/triage is stale since 8/23

[code]

https://prow.k8s.io/?job=ci-test-infra-triage

checked a few CI failures and they shared common errors:
[code]

/area triage
/sig testing
/priority critical-urgent

[2019-09-03 23:28] fejta commented on #14165
Please use the following:`GO111MODULE=on GOPROXY=https://proxy.golang.org GOSUMDB=sum.golang.org go get k8s.io/test-infra`

[2019-09-03 23:47] stevekuznetsov commented on #13776
The engineer working on fixing the one bug we know of is on PTO. If you've seen that the one issue is accounting for all the messages you get, let's disable the log or make it debug.

[2019-09-04 00:44] clarketm commented on #14186
/assign

I am not 100% certain why the GCS bucket location (`gs://kubernetes-jenkins/logs/pull/81856/pull-kubernetes-conformance-kind-ipv6/1165011996727316480`) in the failure log does not exist. Maybe it was something to do with the upload location changing after the job was defined (https://github.com/kubernetes/test-infra/commit/4461ade9127c546cb37b6f306203343d177194fc). @BenTheElder - are you

[2019-09-04 00:45] BenTheElder commented on #14186
I'm not familiar enough with triage, I've taken a few small pokes at it in the past but it's been a while.

[2019-09-04 05:07] clarketm commented on #14083
@droslean  - `#` is an intentional dummy href; the [click handler](https://github.com/kubernetes/test-infra/blob/599c89c3cc90b749bf55a5d11a6caa6990d77aa5/prow/spyglass/lenses/junit/lens.ts#L37-L51) is handling the event.

[2019-09-04 05:15] clarketm commented on #14083
@bparees - can you replicate in an *incognito* tab? Some chrome extensions, such as adblockers, can block the blob object url.

[2019-09-04 05:16] dpandhi-git commented on #14164
Had same error yesterday , make sure GO111MODULE=on so that new modules can be downloaded

[2019-09-04 05:19] clarketm commented on #14028
/assign

[2019-09-04 07:09] bparees commented on #14083
disabling the ad blocker does seem to work, but only if you reload the page after disabling it (simply disabling it and then clicking the link does not work, which i think i tried before opening this issue).

given the prevalence of ad-blockers, it would still be nice to find a way to make this play nice w/ the common ones (ublock, adblock) though certainly i can whitelist now.

[2019-09-04 07:10] alvaroaleman commented on #1723
Any chance we can re-introduce the "skip updating comments when a ProwJob is for an old commit." part of #11341 together with a feature gate so users other than prow.k8s.io can disable this weirdness?

[2019-09-04 07:28] clarketm commented on #14083
@bparees - 👍. I can investigate *alternate* methods of displaying the `stdout` that plays nice with adblockers. In the meantime, whitelist may be the best bet.

[2019-09-04 07:30] clarketm commented on #14083
/assign

[2019-09-04 08:51] aanm commented on #14165
@fejta Thanks but it would be really really great if we could avoid downloading the dependencies each time we run our CI with kubetest.

[2019-09-04 15:56] adisky commented on #14164
@fejta Thanks, we are able to run kubetest with above settings

[2019-09-04 16:32] michelle192837 opened #14193 "TestGrid updates stalled"
**10:59 AM PST**: testgrid.k8s.io is back and updating

Workaround: View jobs on https://external-canary-dot-k8s-testgrid.appspot.com instead, for now.

TestGrid updates are taking too long, preventing any groups from updating. Looks like this is happening since around 3-5 PM PST, Sept 3rd (over time, so hard to say an exact time).

Rolling back TestGrid, both to use an older version and to restar

[2019-09-04 16:32] michelle192837 commented on #14193
/area testgrid

[2019-09-04 16:58] michelle192837 commented on #14193
Update servers appear to have, one by one and seemingly at random?, stopped updating throughout yesterday afternoon. :/ No actual cause for this that I can find, so will monitor the results of the rollback and any releases carefully.

[2019-09-04 17:15] michelle192837 commented on #14193
Rollback is having issues, digging in. Listed a workaround (check the external canary: https://external-canary-dot-k8s-testgrid.appspot.com)

[2019-09-04 17:55] idealhack commented on #14150
@PatrickLang Hi, I took a look at the [annotations](https://github.com/kubernetes/test-infra/tree/master/experiment/config-forker#supported-annotations) and your job configs again, it seems some differences between them make it a bit hard to be forked automatically.

[2019-09-04 17:59] michelle192837 commented on #14193
Rolled forward, testgrid.k8s.io is updating now!

[2019-09-04 18:12] chases2 commented on #10701
The pin is being picked up by Entomologist, and is now showing up on [Testgrid](https://testgrid.k8s.io/sig-testing-maintenance#testgrid-config-upload)

![Bug](https://user-images.githubusercontent.com/1386266/64279792-a82f4600-cf04-11e9-9795-2cfceefc3876.png)

There are many more enhancements to this process that can be made, but the feature is in place.
/close

[2019-09-04 18:12] #10701 closed

[2019-09-04 21:14] michelle192837 commented on #14193
testgrid.k8s.io seems to be running okay now after restart and servers are still operational, will keep an eye on it for a while to see if servers stall/die again.

[2019-09-05 01:13] Katharine commented on #12081
/reopen
/remove-lifecycle rotten

pretty sure we never fixed this

[2019-09-05 03:38] BenTheElder commented on #12804
@howardjohn are you still seeing this? I _think_ the latest release fixes this. Worked with Michelle to rewrite the sort.
/assign

[2019-09-05 03:43] howardjohn commented on #12804
Seems to work!

[2019-09-05 07:06] stevekuznetsov opened #14201 "verify-owners: misleading error message"
Currently the `verify-owners` plugin states that users must be members of the org:

https://github.com/kubernetes/test-infra/blob/4782ba3a238e4c52de4a39d4e4b25f0822dc61ef/prow/plugins/verify-owners/verify-owners.go#L46

When in reality it is using the `trigger.TrustedUser` call:

https://github.com/kubernetes/test-infra/blob/4782ba3a238e4c52de4a39d4e4b25f0822dc61ef/prow/plugins/verify-owners/verif

[2019-09-05 07:07] stevekuznetsov commented on #14201
/cc @cblecker @nikhita

[2019-09-05 07:09] nikhita commented on #14201
Related issues: https://github.com/kubernetes/test-infra/issues/13740, https://github.com/kubernetes/test-infra/issues/13002

[2019-09-05 07:09] nikhita commented on #14201
/sig contributor-experience

[2019-09-05 07:10] stevekuznetsov commented on #14201
@nikhita you are so fast! <3

[2019-09-05 11:20] #12111 closed

[2019-09-05 14:26] stevekuznetsov commented on #11212
/remove-lifecycle rotten
With @Katharine auto-bumper it should be trivial to update the image versions in this file to match those that are currently deployed.

[2019-09-05 15:39] stevekuznetsov opened #14205 "override: allow top-level OWNERS to override contexts"
Today the `override` plugin uses GitHub access control (repository admin) to determine if a user can use `/override`. The rest of Prow and the SIG in general wants to move away from using these access controls and having workflows that require more than read access, so we should use some other means of detecting this. For instance, we could use the top-level OWNERS files for a list of people who c

[2019-09-05 15:39] stevekuznetsov commented on #14205
/cc @tnozicka

[2019-09-05 16:49] stevekuznetsov commented on #14165
How are you installing kubetest? If you are cloning `test-infra` and expecting `vendor/` you're still technically downloading it on the fly.

[2019-09-05 16:53] michelle192837 commented on #12804
Thanks again Ben for the fix! ^^

[2019-09-05 16:53] #12804 closed

[2019-09-05 17:47] nicoaragon opened #14208 "refactor prow/plugins/label/label.go"
**What would you like to be added**:
We're using `nonexistent` for both labels that don't exist in the repo and labels that the /label command is not configured to support. See [conversation here](https://github.com/kubernetes/test-infra/pull/14161/files).

**Why is this needed**:
I think it would be better to distinguish these cases so that the error message is more actionable.

[2019-09-05 17:49] nicoaragon opened #14209 "Refactor prow/plugins/label/label.go"
**What would you like to be added**:
We should add a return type to this function instead of passing in a pointer to mutate for:
[code]
See conversation in [here](https://github.com/kubernetes/test-infra/pull/14161/files).

**Why is this needed**:
Lower function arity makes the function easier to use and maintain.

[2019-09-05 17:50] nicoaragon commented on #14209
/assign nicoaragon

[2019-09-05 17:51] nicoaragon commented on #14208
/assign nicoaragon

[2019-09-05 18:16] #13276 closed

[2019-09-05 18:53] cblecker commented on #14205
Either that, or a GitHub team (that isn't necessarily tied to permissions).

[2019-09-05 20:29] #9655 closed

[2019-09-05 20:38] #14121 closed

[2019-09-05 22:44] aanm commented on #14165
@stevekuznetsov Technically yes, in 1 single command, but not depending for all other repositories in a go.mod to be up and running. Even having proxies still doesn't solve it, if proxies are not correctly configured they also fail. Basically, it's not possible to build k8s.io/test-infra at this moment:

With `GOPROXY=https://proxy.golang.org` (See https://github.com/golang/go/issues/34033)
[code]

[2019-09-06 07:51] stevekuznetsov commented on #14165
@fejta can speak to the policy better than I but I think we will be trying to follow Golang's best practices here, which is using `go mod` exclusively and without a vendor directory. I imagine fetch issues will get better as people become more and more reliant on this.

[2019-09-06 07:51] iwasnobody opened #14213 "install prow using tackle stuck in 'Looking for prow's hook ingress URL'"
The k8s cluster is created using kops running in aws ec2.
The installation process stuck like following:

Prow will act as prow-ivan on github
Applying github token into oauth-token secret...secret/oauth-token created
Ensuring hmac secret exists at hmac-token...INFO[0009] Creating new hmac-token secret with random data...
exists
Looking for prow's hook ingress URL... ..............................

[2019-09-06 07:52] stevekuznetsov commented on #14205
GitHub team might be a nice option but does not scale, implicit OWNERS will be less friction.

[2019-09-06 07:56] nikhita commented on #14205
Why not both :upside_down_face:

We can have config options like `allow_top_level_owners` _and_ `github_teams` (containing info about team id and name) and the repo maintainers can decide which ones they'd like to use.

[2019-09-06 07:57] stevekuznetsov commented on #14213
It doesn't look like your ingress has any address -- it might be misconfigured or you might need to wait for one to exist. More documentation is [here](https://docs.google.com/document/d/1f-mOhwFZ9Z6f7o8Ckg3Nq2A8eXU_H1yxRxURp8jOtRI/edit#).

[2019-09-06 07:57] nikhita commented on #14205
And repo admins would have power to override implicitly too (existing behaviour)

[2019-09-06 07:58] stevekuznetsov commented on #14205
All three sounds good :)

[2019-09-06 09:13] iwasnobody commented on #14213
Yes. I use alb ingress controller. According to the user guide, the ingress need to have "kubernetes.io/ingress.class: alb" to tell the controller to create an aws alb for the ingress.
https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/ingress/annotation/

The ingress created by tackle doesn't have this annotation. Do you know how to tailor it to add the annotation when create the

[2019-09-06 09:17] iwasnobody commented on #14213
Or I have to use another ingress controller?

[2019-09-06 09:22] stevekuznetsov commented on #14213
I'm not certain -- I think the controller you are using would work, as well. I am not an expert on AWS ingresses, so I can't tell exactly why yours has no address yet.

[2019-09-06 09:25] iwasnobody commented on #14213
I have got the alb created successfully by using kubectl edit ing ing and add necessary annotations.
But the prow still stuck in Looking for prow's hook ingress URL... , quite strange.

The alb is created in aws successfully and all the backend is healthy.

root@ip-10-102-91-15:~# kubectl get ing ing
NAME   HOSTS   ADDRESS                                                                          PO

[2019-09-06 09:26] stevekuznetsov commented on #14213
If you stop the `tackle` tool and re-run it, what is the output?

[2019-09-06 09:28] iwasnobody commented on #14213
re-run doesn't solve the problem.

Do you know when will "Looking for prow's hook ingress URL" be success? What is the underline process like some pod will send GET request to the url to verify it?

[2019-09-06 09:50] alvaroaleman commented on #13370
Badly worded PR description, I didn't intend to close this issue as its not done yet
/reopen

[2019-09-06 10:23] stevekuznetsov commented on #14213
I am not sure, @fejta could know better -- source code is [here](https://github.com/kubernetes/test-infra/blob/a90ef96889f834c21309ce9278d67dae5bff536e/prow/cmd/tackle/main.go#L627)

[2019-09-06 11:09] stevekuznetsov commented on #12916
You could possibly do this if you had rights to `POST /prowjobs` but I would rather see Prow support checks API first-class instead.

[2019-09-06 11:09] stevekuznetsov commented on #11889
/remove-lifecycle stale

[2019-09-06 11:25] #9824 closed

[2019-09-06 11:47] stevekuznetsov commented on #14144
I will note that this is potentially pretty dangerous as it is today and will allow people to merge config changes that break the current deployment at prow.k8s.io :)

[2019-09-06 11:50] stevekuznetsov commented on #12799
/remove-lifecycle stale

Today it is possible to have a specific PR squash when merged by adding the [`tide/merge-method-squash` label](https://github.com/kubernetes/test-infra/blob/6a6ff8c636e7406c52213c70914eb66b84e0b947/label_sync/labels.yaml#L667-L673). What is the utility in using a `/squash` command to change the commit message, as opposed to just asking the developer to do this with `git` a

[2019-09-06 11:50] stevekuznetsov commented on #14100
@clarketm I thought you had finished this one?

[2019-09-06 11:54] stevekuznetsov commented on #10884
Is this still happening?

[2019-09-06 13:11] mmitoraj commented on #7690
Hi, could you tell me what are the plans for the `approve` plugin to work with regex filtering? Can I expect the feature in the near future? :)

[2019-09-06 14:10] vdemeester opened #14217 "Remove knative/build options/dependencies from prow"
**What should be cleaned up or changed**:

Knative build ([`knative/build`](https://github.com/knative/build)) is now deprecated and read-only, hence not maintained anymore — see https://github.com/knative/build/issues/614 for the history.

Prow shouldn't rely on it as it is not maintained anymore, and should focus on [`tektoncd/pipeline`](https://github.com/tektoncd/pipeline) instead (which is ki

[2019-09-06 14:16] oxddr opened #14218 "Passed gce-master-scale-performance marked with "R", not colored green"
**What happened**:
[gce-master-scale-performance](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance) is marked with "R" in testgrid, but Prow shows it [passed](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1168932189639806976).

**What you expected to happen**:
Test to be colored green.

**How to reproduce it (as minima

[2019-09-06 14:16] oxddr commented on #14218
/area testgrid

[2019-09-06 17:26] clarketm commented on #13972
/assign

[2019-09-06 18:35] clarketm commented on #14100
I removed the old flags (#14080) and complete your initial work of migrating `plank`. `prow/kube/client.go` still has a few references in [prow/artifact-uploader](https://github.com/kubernetes/test-infra/blob/fc85258701afae82f59ec33a1c7f67652e1925f0/prow/artifact-uploader/controller.go#L56) and [prow/gerrit/adapter](https://github.com/kubernetes/test-infra/blob/fc85258701afae82f59ec33a1c7f67652e19

[2019-09-06 20:04] michelle192837 commented on #14193
I found the reason for update servers 'dying', and it should be addressed now!

[2019-09-06 20:04] #14193 closed

[2019-09-06 21:32] geojaz commented on #14208
/close

[2019-09-06 21:32] #14208 closed

[2019-09-06 21:32] geojaz commented on #14209
/close

[2019-09-06 21:32] #14209 closed

[2019-09-06 22:33] cjwagner opened #14224 "Clean up the experiments directory."
**What should be cleaned up or changed**:
The [`experiments`](https://github.com/kubernetes/test-infra/tree/master/experiment) directory has grown a bit out of control and contains a lot of code that is not experimental and would benefit from better organization. I see a mix of config generators, version bumping tools, setup utilities, metric scripts, etc.
It would be great to move some of these t

[2019-09-06 23:05] cjwagner opened #14226 "Add a rerun button to Spyglass."
## What would you like to be added:
We can now directly rerun ProwJobs from Prow's front page using GitHub oauth. This is feature is access through the rerun dialog that is exposed by clicking on one of the circular arrows on the left side of the page. See for yourself at https://prow.k8s.io

It would be super useful to expose this feature from the spyglass page since that is where job results are

[2019-09-06 23:18] kikisdeliveryservice commented on #14201
hi, could i work on this?

[2019-09-07 01:57] #10665 closed

[2019-09-07 11:17] stevekuznetsov commented on #14201
@kikisdeliveryservice absolutely!

[2019-09-07 11:19] stevekuznetsov commented on #14226
The other gotcha here is a "_re_run" button requires us to know the ProwJobSpec as resolved at run-time the first time around. We would need to upload those to GCS to get a _re_run button. A _run_ button, though, should be fine.

[2019-09-07 11:24] stevekuznetsov commented on #7690
@mmitoraj I don't think there are any current plans to make this better, but we are always happy to provide reviews and guidance if someone wants to pick this one up!

[2019-09-07 12:36] alvaroaleman commented on #14226
Isn't there the clonerefs json that can tell us? We could btw start just uploading the serialized ProwJob to avoid having different data structures on GCS that may or may not contain certain infos.

[2019-09-07 19:14] #12148 closed

[2019-09-08 11:17] alvaroaleman commented on #12216
Okay, so I dug a bit into the related code here. The thing that surprised me the most is that we apparently do not report on batches, which is why we will silently retry batch tests indefinitely or until a PR with up-to-date results comes along the way. This is especially bad if a batch contains PRs that are incompatible with each other but do not have merge conflicts, because there is no feedback

[2019-09-08 11:32] alvaroaleman commented on #13551
IMHO we should just stop silently swallowing batch test errors and re-testing forever and instead report them to the PRs, so tide doen't consider the PRs again until someone issues a `/retest` to make their contexts green again: https://github.com/kubernetes/test-infra/issues/12216#issuecomment-529192971

[2019-09-08 11:49] alvaroaleman opened #14233 "Tide status controller: Don't report success status when test results are outdated"
**What would you like to be added**:

The tide status controller to report "All tests have successful results and all labels are there, but this PR is waiting to get retested" as "Pending", not "Successful".

**Why is this needed**:

Currently, when a PR was successfully tested and has all required labels but is waiting to get retested, the tide status context is set to `successful`. This is confu

[2019-09-08 12:58] alvaroaleman opened #14236 "Make plank an actual Kubernetes controller"
**What would you like to be added**:

Plank to be changed to be an actual Kubernetes controller

**Why is this needed**:

Plank is currently implemented as a CronJob with a 30 seconds interval. It would be great if it was an actual controller instead that gets notified whenever a ProwJob or Pod resource changes, because that would allow it to instantly react which would be a nicer user experience.

[2019-09-08 12:59] alvaroaleman commented on #14233
/area prow
/area prow/tide

[2019-09-08 14:05] alvaroaleman commented on #14236
I would imagine the whole transition to roughly go like this:

* Plank gets updated to use Listers for ProwJobs
* Plank gets updated to use Listers for Pods
* A featuregated "PlankV2" implementation gets added that is an actual controller. All existing tests get executed and pass against it
* Interested parties try out PlankV2 and provide feedback
* We start being confident in PlankV2, make it the

[2019-09-08 16:13] #13270 closed

[2019-09-08 19:38] #8919 closed

[2019-09-08 21:40] #12120 closed

[2019-09-08 23:42] #12172 closed

[2019-09-09 09:04] stevekuznetsov commented on #14226
I've been advocating for an upload of the full ProwJob YAML (and the Pod to boot) for a long time. I understand why there is this `{started,finished}.json` compatibility layer for jobs not using pod-utils and other systems like testgrid but I think Prow inside of it's own bubble should be uploading that data to better serve users in `deck`.

[2019-09-09 09:38] stevekuznetsov commented on #13551
Isn't that against the premise of `tide` though? A flake in a batch shouldn't require human intervention IMO. Even the `/retest` on LGTM + approve + flake is onerous and has been ~automated

[2019-09-09 09:40] stevekuznetsov commented on #14233
Will users _ever_ see a successful status in this case? Or will it just remain pending until they're merged?

[2019-09-09 09:40] stevekuznetsov commented on #14233
/cc @cjwagner

[2019-09-09 09:53] stevekuznetsov commented on #12216
We generally have been operating on the assumption that this is very rare. Do we have data to change that opinion?

I think that's the intended explicit design? Once things have gone green and been approved, `tide` "just makes it so"

[2019-09-09 09:53] stevekuznetsov commented on #12216
This is only valuable if people care at a per-job level and are not using meta-trackers like test-grid, triage or the deck overview to look.

[2019-09-09 10:09] alvaroaleman commented on #12216
Even if this happens rarely, this is a pretty big deal because it requires the person(s) operating Prow to know some of its implementation details to be able to ever get out of this situation.

okay? So we operate on the assumption that the tests Prow runs are flaky and that the code doesn't have issues anymore once it has the required labels, which is why just re-testing it indefinitely makes sen

[2019-09-09 10:25] stevekuznetsov commented on #12216
I'm not sure it's obvious what a better approach is. If some subset of a batch create some non-conflicting but non-functional state in the batch post-merge, how do we detect which those are? There were some thoughts about making log(N) batches where N is the size of the pool, each batch a factor of two larger, allowing us to find subsets that can merge and always merge the largest one we found. If

[2019-09-09 10:26] stevekuznetsov commented on #14236
In a perfect world this happens after GitHub work is removed from `plank` and resides squarely in `sinker`. @krzyzacy what's the final status of that?

[2019-09-09 10:27] stevekuznetsov commented on #14224
Might as well list them here and give our opinions for what to do with each, then use this as a tracker

[2019-09-09 10:28] stevekuznetsov commented on #14217
Alternatively, can we copy paste the client types from these third-party dependencies into `third_party/` to ensure that `prow` does not import the whole world and ameliorate all of our current issues re: imports?

/cc @cjwagner @cblecker @fejta

[2019-09-09 10:37] stevekuznetsov commented on #13994
We've seen a large number of teams whose workflows don't nicely fit into the LGTM+approve workflow hit this issue, all with specific subsets of the solution they need ... either they want N approvers, or approvers by "type", or both. It might make sense to fix this in a first-class manner (instead of hacking through files) as part of whatever the issue is that we have to track approvers making bad

[2019-09-09 10:37] stevekuznetsov commented on #13994
We've seen a large number of teams whose workflows don't nicely fit into the LGTM+approve workflow hit this issue, all with specific subsets of the solution they need ... either they want N approvers, or approvers by "type", or both. It might make sense to fix this in a first-class manner (instead of hacking through files) as part of whatever the issue is that we have to track approvers making bad

[2019-09-09 10:38] alvaroaleman commented on #14236
@stevekuznetsov you are talking about the reporting and mean `[...] and resides squarely in crier` or not?

The "Plank reports to GitHub" part is deprecated and redundant with what crier does, so we can just not add it to a `PlankV2`

[2019-09-09 10:42] stevekuznetsov commented on #14236
Yep, agreed, but IIRC we've had some small issues with rollout and OpenShift's deployment is not on `crier` yet so I'd hope we all migrate to using it before `plank-2:1.0.0` is ready

[2019-09-09 10:49] alvaroaleman commented on #14233
It will remain pending until its merged which is IMHO the correct behavior as "successful" means "ready to be merged" which is not actually true in the case of outdated tests.

[2019-09-09 10:54] alvaroaleman commented on #12216
The underlying problems remains because a CI system can not possibly distinguish "combination of PRs is defunct" from "tests are flaky".
What about just reporting on _one_ of the invoved PRs to introduce some jitter?

[2019-09-09 10:59] oxddr commented on #12940
/remove-lifecycle stale

[2019-09-09 11:00] oxddr commented on #12940
Once we have cortex in place (something @mm4tt works on) we could start monitor resource usage in this cluster.

[2019-09-09 12:19] maciaszczykm opened #14242 "Add exceptions for prow plugins/Make prow work nicer with other bots"
**What would you like to be added**: We would like to be able to make exceptions for some plugins if the pull request is created by specific user (bot account in my case).

If that is not possible I'd at least like `release-note-none` prevent prow from adding `do-not-merge/release-note-label-needed` (IMO this should be done anyways).

**Why is this needed**: We are using [Dependabot](https://depen

[2019-09-09 12:24] maciaszczykm commented on #14242
<img width="776" alt="Zrzut ekranu 2019-09-9 o 14 22 16" src="https://user-images.githubusercontent.com/2823399/64530428-6724a080-d30d-11e9-859c-cde9e9367a4e.png">

The picture might explain it better.

[2019-09-09 14:02] alejandrox1 commented on #14150
@idealhack could you provide anymore details?
what needs to be done for us to resolve this issue?

[2019-09-09 14:58] DirectXMan12 commented on #12916
I would as well, just figured I'd throw this out there as an option.

[2019-09-09 15:07] howardjohn opened #14244 "Cherrypicker docs: what events does it need access to?"
Right now our config looks like:

[code]

When we apply a label, it will do a cherrypick only if the label is applied before the merge takes place. `/cherrypick` always works, even after merge. Do we need to add some event to get it to detect the label addition?

It would be great if this could be documented in https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/cherrypicker

[2019-09-09 16:46] stevekuznetsov commented on #14242
Are you actually using the release note process for your org? Why not automate a release note that explains which dependencies were bumped? Or one that explicitly states nothing?

[2019-09-09 16:47] stevekuznetsov commented on #14233
I guess to a Tide dev successful means "in the pool" but yes if we want to redefine that, I agree with you.

[2019-09-09 17:28] krzyzacy commented on #14236
I have no idea with the status for all the prow deployments in wild, but at least our deployments are on crier now.

[2019-09-09 17:30] cjwagner commented on #14233
It will actually remain pending forever since Tide doesn't try to set statuses on closed PRs.

[2019-09-09 17:42] cjwagner commented on #14226
I agree that reading the ProwJob spec from GCS would be nice, but we don't need that initially. We can do the same thing we are doing on the front page if the ProwJob resource is still available and just hide the link if it isn't like we do for the ProwJob YAML button on spyglass.

[2019-09-09 17:47] clarketm commented on #14213
@iwasnobody

The ingress spec is defined in the [`starter.yaml`](https://github.com/kubernetes/test-infra/blob/5798a46d058762df45bbfac6b86bfc61e7e6983b/prow/cluster/starter.yaml#L443-L462). In addition to `kubernetes.io/ingress.class: alb`, what `annotations` did you need to add to get the ingress created? Is your instance of Prow now functional with the manual edit of the `ing`?

[2019-09-09 18:06] roycaihw commented on #14186
I can confirm it's fixed. The CI looks green

/close

[2019-09-09 18:06] #14186 closed

[2019-09-09 18:27] clarketm opened #14250 "Duration value is incorrect in the Deck UI."
**What happened**:
`Duration` value is incorrect in the `Deck` UI.
![image](https://user-images.githubusercontent.com/9957358/64556534-7519f780-d2f4-11e9-8c42-3a5b50324bef.png) since #14126.

**What you expected to happen**:
`Duration` should be accurate.

**How to reproduce it (as minimally and precisely as possible)**:
1. Navigate to https://prow.k8s.io.
2. Inspect `Duration` for a job.

**Pleas

[2019-09-09 18:27] clarketm commented on #14250
/assign

[2019-09-09 18:36] sbueringer commented on #11260
@fejta @apesternikov @krzyzacy @rverma-nikiai

I would like to take this over if nobody is currently working on it. If I got it correctly the general direction would be to try to extend the pkg.io.Opener to handle s3 as well as gcs. I would play around with it a bit, try to get a working prototype and open a new proposal for this.

[2019-09-09 18:45] stevekuznetsov commented on #11260
Sure thing! I think you've got the right directon there.

/remove-lifecycle rotten
/assign @sbueringer
/woof

[2019-09-09 18:51] stevekuznetsov commented on #14236
Sweet, and we have fixed all the weird `PATCH` issues? Is there any concise doc on how to switch over?

[2019-09-09 18:58] chases2 opened #14256 "boskos-janitor-aws pods reset frequently"
**What happened**:
The boskos-janitor-aws-* pods seem to be crashing and restarting frequently.
I caught three of the four pods actually crash-looping, but that seems to have passed for now.

**What you expected to happen**:
Resetting and crash-looping are usually indications of some deeper issue. Further, since this seems to be unique to boskos-janitor-aws-*, it may have to do with those pods in

[2019-09-09 18:58] #14250 closed

[2019-09-09 19:02] chases2 opened #14257 "Boskos's Persistent Volume Removal should be scripted"
**What should be cleaned up or changed**:
Every instance of Boskos is going to need to remove its persistent store due to #13594. Scripting this bit of cleanup, (perhaps in a [makefile](https://github.com/kubernetes/test-infra/blob/master/boskos/Makefile)?), would make it easier and less error-prone.

**Provide any links for context**:

@sebastienvas @stevekuznetsov @cjwagner
/assign

[2019-09-09 19:13] alvaroaleman commented on #14236
@stevekuznetsov It does `PATCH` and we have apparently multiple redundant fixes, namely both the crier controller doing `wait.Poll` to make sure it doesn't act on an outdated cache _and_ hardcoding the GitHub reporter to max one worker.

And it seems we are also using Plank for GitHub and crier only for Slack reporting

[2019-09-09 19:45] stevekuznetsov commented on #14236
I am ready to move once someone shows me how!

[2019-09-09 20:26] chases2 commented on #14224
+1
/assign

[2019-09-09 20:30] krzyzacy commented on #14236
I still need to get https://github.com/kubernetes/test-infra/pull/13952 in... (It's hard to work on OSS and internal at the same time, different dev envs, but let me rebase that PR)

For doc, there is https://github.com/kubernetes/test-infra/tree/master/prow/crier#migration-from-plank-for-github-report, I'm not too up to date with all the controllers, I can read it again.

[2019-09-09 21:15] fejta commented on #14165
Can you provide more details about your environment?

[code]

[2019-09-09 21:24] fejta commented on #14165
The main thing here is do not use `-u`.

We know minor module upgrades do not work well:
* With modules off you'll get random versions of everything, which will almost certainly fail.
* With modules on k8s.io/kubernetes (and potentially other indirect deps) will blow up the upgrade: https://github.com/kubernetes/kubernetes/issues/81878

[2019-09-09 21:53] alvaroaleman commented on #14242
@stevekuznetsov yes we do use the release notes and as Marcin noted, its not possible to configure a PR template for dependabot, only labels.

Lowest hanging fruit here is definitely to make the release-note plugin respect an existing `release-note-none` label.

[2019-09-09 22:35] chases2 commented on #14218
It looks like log exporting ran into some issues with this run. While it didn't fail your test, I suspect that it didn't correctly write the successful results of that test.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1168932189639806976

[2019-09-10 01:28] aanm commented on #14165
@fejta Now it seems to be working, but this could be avoided by having a vendor directory in the repo.

(Also, you have `go1.13rc1` not `go1.13`)

[2019-09-10 03:09] clarketm commented on #5216
@stevekuznetsov

Once #14254 and #14258 go through, you can tick off the last remaining task checkboxes and close this issue.

[2019-09-10 03:14] howardjohn opened #14259 "bug: prow dashboard reports duration for a short tests as 25h+"
**What happened**:
On the page https://prow.istio.io/?job=ci-test-infra-branchprotector,  the duration ranges between 25h and 26h. The chart at the top shows the correct time, ~40s. Individual jobs on spyglass also report the correct time.

**What you expected to happen**:
Duration recorded correctly

[2019-09-10 03:22] clarketm commented on #14259
/close

Duplicate: #14250
Fixed: #14252

@howardjohn - The fix will be in tomorrow's Prow release.

[2019-09-10 03:22] #14259 closed

[2019-09-10 03:24] howardjohn commented on #14259
nice, thanks!

[2019-09-10 04:16] idealhack commented on #14150
@alejandrox1 to be clear, the annotations part is definitely not blocking 1.16, and we can resolve it later. I can come back with more details in a new issue and close this one.

[2019-09-10 05:27] feiskyer opened #14260 "kubetest compile error"
**What happened**:

#14070 suggested to set `GO111MODULE=on`, while it's still failed with error:

[code]

**What you expected to happen**:

kubetest should be compiled successfully.

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2019-09-10 05:53] nilo19 commented on #14260
/cc

[2019-09-10 06:12] iwasnobody commented on #14213
Prow not functional, still stuck in looking for prow's hook ingress URL.
There are many annotations you can add to tailor the config of AWS ALB. The following is what I added. Basically it includes specify the vpc subnet, security group, listen port, etc for the ALB.
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/ip-address-type: ipv4
    alb.ingress.kubernetes.io/listen-ports:

[2019-09-10 06:48] iwasnobody commented on #14213
@clarketm Just modify the starter.yaml to add the annotation, but still stuck.
Not quite understand what ingress url does tackle looking for. How to make this verification process pass?

[2019-09-10 07:11] nilo19 commented on #14260
Try to fix in https://github.com/kubernetes/test-infra/pull/14261.

[2019-09-10 07:12] iwasnobody commented on #14213
BTW, access the ALB can open the prow dashboard. Can I just cancel the "Looking for prow's hook ingress URL"? Will it missing install other components if I cancel it?

[2019-09-10 09:11] rajibmitra commented on #13332
I would love to work on "credentials in a secret" part if no one is working on it currently.

[2019-09-10 13:02] rsreeni commented on #14070
Hi,

I am using k8s.io/client-go and I am facing the same issue & my build is failing. On another thread(https://github.com/kubernetes/client-go/issues/656) I saw got closed with suggested resolution of using k8s.io/klog v0.4.0.

I checked and im referring that in my go.mod and still am getting the error.

I would appreciate any help as my build is stuck right now.

Thanks,

-Sreeni

[2019-09-10 13:36] detiber commented on #13332
Following up on this thread, there has been work on this area by @Katharine and @thockin to enable GCB builds from Prow.

- https://github.com/kubernetes/k8s.io/pull/356 is a pre-requisite for the required permissions
- A prow job needs to be defined similar to: https://github.com/kubernetes/test-infra/blob/31b4bf7cd817eb19005bb682555da14aab2ebf0d/config/jobs/image-pushing/k8s-staging-cluster-api.

[2019-09-10 14:29] oxddr commented on #14218
I don't know exactly how integration between testgrid and prow works. However logexporter is used only to dump logs from nodes, which are not used to determine test status. Prow displays this jobs as [SUCCESS](https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance).

The only thing that differs from a run displayed correctly is missing tab "Prow Job YAML":

[2019-09-10 15:36] PatrickLang commented on #14150
@alejandrox1 - are you ok to close this then? we can track the annotation in a new issue and merge that fix to master to be ready for 1.17

[2019-09-10 16:59] justaugustus commented on #14150
@PatrickLang -- this should stay open until we fix the 1.16 and add the annotations to the main job, so we don't miss it for 1.17.

[2019-09-10 17:09] adelina-t commented on #14150
/assign @adelina-t

I'll do changes to the config so it supports annotations.

[2019-09-10 17:49] howardjohn opened #14265 "question: simplifying rerun_command/trigger"
Copying https://github.com/istio/test-infra/issues/1762 over to here as suggested by @clarketm

Prow has two fields:

[code]

Say we have a job `unit-tests_istio_release-1.3`

Right now a user can `/test all`, `/retest`, `/test unit-tests_istio_release-1.3` and they will all trigger it.

A better UX would just be to type `/test unit-tests`

if we set `trigger: /test unit-tests` will this give us e

[2019-09-10 18:33] chases2 opened #14267 "Boskos Image Deployments Automation"
**What would you like to be added**:
Boskos is a unique sort of image that we support because its image deployment and promotion to the next version are still largely manual.

**Why is this needed**:
Deployments need to be done manually (see #14266), often in response to issues, and it leaves us digging for which version is running or if/when it was updated.

/priority important-soon
/assign @clar

[2019-09-10 18:42] michelle192837 commented on #13776
Thanks a bunch!

[2019-09-10 18:42] #13776 closed

[2019-09-10 20:20] chases2 commented on #14224
A couple of these folders are old, but most of them seem to be seeing active use.

Summary (Freshness == Last Substantive Edit)
[code]
There's one piece of low-hanging fruit, and two directories from 2018 that should be reevaluated.

[2019-09-10 20:57] chases2 commented on #14224
And for the individual scripts, I included my suggestions for sensible-sounding subdirectories.

[code]

[2019-09-10 21:29] chases2 commented on #14267
/area boskos

[2019-09-10 21:52] chases2 opened #14274 "TestGrid Alerts on Staleness while disabled"
**What happened**:
I got the following email (excerpt):
[code]

The test in question is stale, so it isn't displaying a failure. The test is configured as an [annotation](https://github.com/kubernetes/test-infra/blob/2da5e7991b3138db46e35af25077d35b94945a76/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L360-L365), not specifying a stale alerting data.

The [default value](https://githu

[2019-09-10 22:19] michelle192837 commented on #14274
Welp, figured it out. Dashboard tab alerts do not actually care about that field!

[2019-09-10 22:45] abursavich opened #14277 "ApprovalNotifier and Blunderbuss suggest/assign different reviewers"
**What happened**:
Whenever I open a PR, k8s-ci-robot adds an ApprovalNotifier comment telling me to assign it to user A and/or B when ready, then it immediately requests reviews from users C and/or D.

This is very confusing to new contributors.

**What you expected to happen**:

The automated comments and actions should be consistent with each other.

Assign immediately or when ready? Assign to

[2019-09-11 00:34] pjh commented on #13413
I'll chime in, I just noticed the `annotations:` in the test config file that I care about (https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cloud-provider/gcp/sig-gcp-windows.yaml) and I spent ten confused minutes before I realized that these annotations don't apply to the job they're on top of but to the job above them, by which they confusingly are separated by a

[2019-09-11 01:13] clarketm commented on #14259
Prow was not released today, but this change will be in the *next* release.

[2019-09-11 03:33] #12195 closed

[2019-09-11 04:15] clarketm commented on #14267
Thanks to @fejta in #14276 this will be *bazelified*. I will create the postsubmit.

[2019-09-11 04:17] clarketm commented on #14267
/unassign @clarketm
/assign @fejta

[2019-09-11 05:51] clarketm commented on #14213
@iwasnobody

This is the *specific* [procedure](https://github.com/kubernetes/test-infra/blob/0708557a156535e88d67766c50b60d0b9cb04c3e/prow/cmd/tackle/main.go#L646-L707) that determines if an ingress is **detected** or not. It is interesting that the ingress is up and responsive, yet `tackle` is not detecting it.

The last major step after verifying ingress is [enabling the Github webhook](https:/

[2019-09-11 16:03] BenTheElder commented on #13551
The /retest on LGTM+approve+flake _is_ automated though? So if it did report the failure we'd auto retest it, serially.

[2019-09-11 16:51] cblecker commented on #13002
/remove-lifecycle stale

[2019-09-11 18:15] alvaroaleman commented on #13551
But still introduce some jitter as the `/retest` command gets posted after some delay

[2019-09-11 22:24] chases2 commented on #14274
Note: This occurred again with `https://k8s-testgrid.appspot.com/sig-testing-images#bootstrap`.

I'll need to do some research to figure out which tests are "infrequently-running" and should store more days, but it's at least these two.

[2019-09-11 23:54] BenTheElder commented on #14274
https://k8s-testgrid.appspot.com/sig-testing-images#kettle is now stale

I think @Katharine mentioned that the important bug here is that the job should be running ... ?

[2019-09-12 00:17] Katharine commented on #14274
That's my reading comprehension fail - these particular jobs almost never run (but we should probably bump their retention...)

[2019-09-12 00:17] Katharine commented on #14274
All of the `sig-testing-images` dashboard is expected to be intermittent

[2019-09-12 00:23] michelle192837 commented on #14274
Yeah, definitely bump the `days_of_results` for these jobs if you don't expect them to run frequently. Most jobs shouldn't go beyond 30 days unless they're very infrequent (so this qualifies).

[2019-09-12 06:39] raghuP9 commented on #13856
I'm not using pod decorators and my CI system is Teamcity. Therefore, I'm using a hacky workaround to walk past this issue. Before triggering the teamcity build from ProwJob, I'm looking for the labels on the PR. If it contains `do-not-merge/work-in-progress`, the ProwJob container doesn't trigger the build and exits with non-zero status. It also check for label `ok-to-test` before triggering buil

[2019-09-13 00:09] praveensastry opened #14313 "WIP plugin to support "Draft Pull Request" along with "WIP" title prefix"
**What would you like to be added**:
Currently, WIP plugin will label a PR a work-in-progress if the author provides a prefix to their pull request title. Since Github has introduced "Draft Pull Request" concept now, I believe the plugin should also leverage that.

**Why is this needed**:
IMHO this is slightly cleaner approach to handle work-in-progress scenarios. Would love to get some feedback f

[2019-09-13 00:13] #14313 closed, assigned to nobody

[2019-09-13 01:17] clarketm opened #14315 "Disambiguate contributing requirements/guidelines for our services."
**What would you like to be added**:

More documentation regarding:
* Feature gating, more specifically, the requirement imposed that feature flags are **required** for *any* API *breaking* changes or *risky* (and what constitutes risky) changes that span multiple components.

**e.g.**
1. add a flag that toggles whether or not we serve this, defaulting to serving it
2. switch the flag to default t

[2019-09-13 13:25] alvaroaleman opened #14318 "AWS janitor: Impossible to configure to clean all regions"
**What happened**:

The AWS janitor cleans all regions if the configured `region` is empty: https://github.com/kubernetes/test-infra/blob/1f6f51be4661fda50c9cd144ec405e4eae7ee068/maintenance/aws-janitor/resources/clean.go#L37
However its impossible to configure an empty region because if done so, it gets defaulted to `us-east-1`: https://github.com/kubernetes/test-infra/blob/1f6f51be4661fda50c9cd1

[2019-09-13 15:31] hongkailiu opened #14320 "flags introduced by dependencies?"
**What should be cleaned up or changed**:
flags are introduced by dependencies.
Ideally, we may want to do some refactoring in the dependency's repo.
**Provide any links for context**:

[code]

Those flags are added via `var` section, such as [git-image](https://github.com/tektoncd/pipeline/blob/5e3276d3df90c4d9b7c8d42c16c058a8d2348809/pkg/apis/pipeline/v1alpha1/git_resource.go#L33). Any `cmd` dep

[2019-09-13 15:52] jlewi opened #14321 "periobolos keep going on error"
**What would you like to be added**:
Right now peribolos aborts on errors. For example we see peribolos failing with a 404 (kubeflow/internal-acls#154)

[code]
It looks like the 404 is caused because the account rem20806 doesn't exist.

As a result the sync aborts.

Would it be possible to keep going so that typos or users deleting their account doesn't break the sync?

[2019-09-13 15:54] stevekuznetsov commented on #14320
@cjwagner @fejta @Katharine  @clarketm

This is another reason we should reconsider the `tekton` dependencies :|

[2019-09-13 16:38] nikhita commented on #12488
Closing in favour of kubernetes/community#3621

[2019-09-13 16:38] #12488 closed

[2019-09-13 16:52] stevekuznetsov commented on #14320
[code]

boo!

[2019-09-13 18:52] coverprice opened #14325 "Peribolos does not support new Github team repo permissions"
**What happened**:
When dumping the Peribolos config skeleton for a Github org that contains a team with the beta [Triage or Maintain permissions](https://help.github.com/en/articles/repository-permission-levels-for-an-organization) on a repo, the repo is dumped with permission `none`, which is invalid.

e.g.

[code]

**What you expected to happen**:
The repo is listed with the correct permission

[2019-09-13 19:20] stevekuznetsov commented on #14325
/cc @fejta @cjwagner

[2019-09-13 20:02] clarketm opened #14326 "Create script to bootstrap a Github Oauth App (i.e. enable rerun)"
**What would you like to be added**:
A simple tool or script to bootstrap a Github Oauth App (i.e. enable rerun) and generate associated secrets.

**Why is this needed**:
This is currently a manual process. We have good [documentation](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/deck/github_oauth_setup.md#set-up-secrets) for some of the core operations. To complement this documen

[2019-09-13 20:03] clarketm commented on #14326
/assign

[2019-09-13 21:16] fejta commented on #14320
Yeah that's definitely not great. Tekton is at least one thing that prevents us from doing minor module upgrades (since it transitively depends on k8s.io/kubernetes)

Filed an issue about this over in the pipeline repo.

/cc @cjwagner @bobcatfish @wbrefvem

Thoughts?

[2019-09-13 22:34] chases2 commented on #14257
I no longer think that it's the case that every instance of Boskos is going to need to remove its persistent store. Upon closer inspection, it seems that having that persistent store is an unusual case.

[2019-09-13 22:34] #14257 closed

[2019-09-13 22:38] fejta opened #14328 "//prow/interrupts:go_default_test is flaky"
/assign @stevekuznetsov

`bazel test //prow/interrupts:go_default_test --runs_per_test=100` shows that this test will both pass and fail

/area prow

w/o RBE it looks like it will fail > 90% of the time (on my machine), on either go1.12.9 or go1.13
On RBE I'm having trouble completing it, seems to fail somewhat less frequently:

[code]

This is at commit b6725b4398f67d47eb0ab860c17d135e3a90c86a

E

[2019-09-14 00:01] fejta commented on #13856
This sounds fine to me, maybe leave a comment that people can trigger jobs like it normally would if it were not WIP with a `/test all`

This change in user-facing behavior should be backed by a flag, defaulting to continuing to perform as previously.

[2019-09-14 03:14] clarketm commented on #14321
@jlewi
While `peribolos` does log an error it should **not** crash the sync:
https://github.com/kubernetes/test-infra/blob/e1cbc3ccd91cdf2d1c229d61f996d12033a96500/prow/cmd/peribolos/main.go#L443-L447

[2019-09-14 03:20] clarketm commented on #14321
/close

[2019-09-14 03:20] #14321 closed

[2019-09-15 02:31] clarketm opened #14336 "Ability to add team by name to rerun auth configuration"
**What would you like to be added**:
Ability to accept **team** *by name* in rerun auth configuration. This can be an additional list item in the `rerun_auth_config` map (e.g. `github_team_names`). The Github API exposes an endpoint to [`Get team by name
`](https://developer.github.com/v3/teams/#get-team-by-name) so the lookup should be simple. The one additional piece of information needed to loo

[2019-09-16 04:23] vjdhama commented on #14336
@clarketm I would like to pick this up. Would need some help though. Is it ok if I reach out on slack?

[2019-09-16 06:00] iwasnobody commented on #14213
worked after manually config github webhook. thx

[2019-09-16 14:45] stevekuznetsov commented on #14328
Hmm. I did this locally, too, since I knew it had a chance of flaking, but I had a good success rate. Do you have ideas on how we could improve it, other than adding really long wait times?

/cc @cjwagner

[2019-09-16 14:53] stevekuznetsov commented on #14328
There also seem to be other, odd errors using that (cool, heretofore unknown) feature of `bazel`:

[code]

Doesn't look like an error we would normally hit

[2019-09-16 16:15] clarketm commented on #14336
@vjdhama
Great! Yes, feel free to reach out to me on slack if you have any questions.

[2019-09-16 16:36] #14028 closed

[2019-09-16 16:54] clarketm commented on #14336
@vjdhama
It appears that a form of this has already been implemented, we are just not using it.
https://github.com/kubernetes/test-infra/blob/7a71340ed29351cb471527939025135bb863dc28/prow/apis/prowjobs/v1/types.go#L193

[2019-09-16 16:54] #14336 closed

[2019-09-16 19:06] fejta opened #14343 "Move kubeflow jobs to https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/prowjobs"
@jlewi what do you think about moving the kubeflow jobs over to https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/prowjobs and prow.gflocks.com?

[2019-09-16 20:42] jlewi commented on #14343
@fejta That seems fine with me.

What else would need to change? i.e

Do testgrids move?
Do we use a different GCS bucket for prow artifacts?

@scottilee is this something you could help with?

[2019-09-16 20:42] jlewi commented on #14343
@fejta How urgent is this on your end?

[2019-09-16 20:48] fejta commented on #14343
Not urgent.

Testgrid can stay the same.
Are you still not using pod utils? If so then yes, you'll upload to a different bucket (maybe prow specifies where to upload it?)

@chases2 we should probably set up GCP/oss-test-infra to work like istio -- where we can annotate prowjobs there and have them show up in this testgrid.

[2019-09-16 20:55] Katharine commented on #9978
hey, I actually fixed this one!

/remove-lifecycle stale

[2019-09-16 20:55] #9978 closed

[2019-09-16 20:57] jlewi commented on #14343
@fejta correct we manually upload our files to GCS right now; but we could probably switch to use pod_utils.

[2019-09-16 21:36] fejta opened #14348 "Image pushers should tell me what they published"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-push-bazelbuild/1173706878031499265 just tells me:

[code]

Since I've done this before I know I can go into https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/post-test-infra-push-bazelbuild/1173706878031499265/artifacts/

and find gcr.io/k8s-testimages/bazelbuild:v20190916-ec59af8-0.29.1 in https://storage.googleapis.com/kuberne

[2019-09-16 23:11] scottilee commented on #14343
@fejta Can you share some more info (e.g., a link to a ticket or document with explanation if available) on why the move from prow.k8s.io to prow.gflocks.com?

Also, would it just be creating a "kubeflow" folder in https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/prowjobs and moving the files in https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubeflow to ther

[2019-09-16 23:34] fejta commented on #14343
prow.k8s.io is for kubernetes (or at least CNCF project)
prow.gflocks.com is for public google projects.

Eventually we want to migrate all non-CNCF projects out of prow.k8s.io

And yes, it is ideally
a) creating a GKE cluster to run jobs (provides you with isolation from other jobs)
b) configuring prow to schedule kubeflow jobs into that cluster
  b1) also moving any secrets, configmaps, etc that

[2019-09-17 01:11] BenTheElder commented on #14224
In general a lot of these tools are in `experiment/` because they aren't really built for re-use or production grade, however they are useful and it tends to be helpful to have most of them already checked in rather than constantly re-implementing them ...

Details for a few of these:

---

`experiment/maintenance` [has a readme](https://github.com/kubernetes/test-infra/blob/26665e1093adfcf733a15b

[2019-09-17 01:23] BenTheElder commented on #14256
have we observed this again? when I looked this was due to boskos not being available (the statefulset was deleted, and the deployment had not yet been created) according to the pod logs & events vs the audit logs.

[2019-09-17 01:23] BenTheElder commented on #14128
is this fixed?

[2019-09-17 01:24] BenTheElder commented on #14128
I see some green runs
/close

[2019-09-17 01:24] #14128 closed

[2019-09-17 01:26] BenTheElder commented on #14179
sometimes right after pushing to github prow receives the old state. did this happen after retesting or only after the initial push?

[2019-09-17 01:31] BenTheElder commented on #13927
this also doesn't match the CSRF docs

[2019-09-17 01:32] BenTheElder commented on #13187
Being able to file a PR to test arbitrary versions would be pretty nice. We could add bazelisk to the relevant images and just symlink `bazel` to `bazelisk` in PATH.

[2019-09-17 01:34] BenTheElder commented on #14091
@Katharine do you think we can just move this sort of building to GCB now?

[2019-09-17 01:35] BenTheElder commented on #13937
xref: https://github.com/kubernetes/test-infra/issues/14091

[2019-09-17 01:36] BenTheElder commented on #13029
sen: are the kubetest owners interested in supporting this, or at least clarifying what is supported?

[2019-09-17 01:37] BenTheElder commented on #14185
looks like the most recent run passed?

[2019-09-17 01:38] BenTheElder commented on #12833
cc @fejta can you triage this to whoever is most up to date on pipeline support? (possibly you?)

[2019-09-17 01:42] BenTheElder commented on #13848
bump

[2019-09-17 01:44] BenTheElder commented on #13228
is this referring to bazel NOT in a container on the host but the actions running in a container as the sandbox mode?

[2019-09-17 01:45] BenTheElder commented on #13826
cc @michelle192837

[2019-09-17 02:43] cjwagner commented on #14265
Yes, that should all work as you expect, thats exactly what these fields are for 😃 Note that if you specify a `trigger` regexp you also have to specify a `rerun_command` for Prow to suggest to users when the job fails.

[2019-09-17 02:43] cjwagner commented on #14265
/close

[2019-09-17 02:43] #14265 closed

[2019-09-17 02:45] #14185 closed

[2019-09-17 02:48] howardjohn commented on #14265
thank you!

On Mon, Sep 16, 2019, 7:43 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-09-17 02:49] cjwagner commented on #13345
Please see the docs for [Prow](https://github.com/kubernetes/test-infra/tree/master/prow#documentation) and [creating ProwJobs](https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md). If you have a question that the docs don't answer please open a more specific issue or reach out on the Kubernetes slack.
/close

[2019-09-17 02:49] #13345 closed

[2019-09-17 02:53] cjwagner commented on #14277
Assignees and reviewers are differentiated in both the GitHub UI and by the Kubernetes code review process. We use assignees for code ownership/overall direction  to get `approval` and we use reviewers for line-by-line code review for `lgtm`.
See the docs here: https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#the-testing-and-merge-workflow

[2019-09-17 03:01] krzyzacy commented on #13029
Feel free to send PRs to make this to work with your use cases :-) There's nobody actively working on kubetest/kubetest2 right now.

[2019-09-17 03:02] cjwagner commented on #14130
The git client you linked to isn't used by the pipeline controller at all. I suspect you are seeing "github.com" used because you are not setting a `clone_uri` field: https://github.com/kubernetes/test-infra/blob/c69eb89915fca776c67b632049d9b834aaeb74f7/prow/cmd/pipeline/controller.go#L558-L567
Example here: https://github.com/kubernetes/test-infra/blob/cab76bdbd3760143a7b45dc35cf0b4d8d43b6c77/pro

[2019-09-17 03:06] #14260 closed

[2019-09-17 04:17] BenTheElder commented on #4602
/remove-lifecycle rotten
/reopen

[2019-09-17 06:37] hampus77 commented on #14130
I´m sorry, I wasn´t really specific but this problem arise before any pipelines are run. This is in response to an pull_request event when I enter the /trigger command:
Hook logs:

{"author":"xxx","component":"hook","event-GUID":"9b415440-ca38-11e9-87c3-41615571cc0b","event-type":"pull_request","file":"prow/plugins/trigger/generic-comment.go:50","func":"k8s.io/test-infra/prow/plugins/trigger.handl

[2019-09-17 07:13] matthyx commented on #12626
From a quick test, that one seems fixed for me.
/close

[2019-09-17 07:13] #12626 closed

[2019-09-17 07:33] hampus77 commented on #14130
/reopen

[2019-09-17 08:48] matthyx commented on #12902
@cjwagner should I add a test case with empty `PullRequest` and harden our library?

[2019-09-17 14:12] chaodaiG commented on #13029
This is not a priority for us at the moment, and might not be in the future either. Since https://github.com/knative/test-infra/issues/1186 will likely move us away from using `kubetest`

[2019-09-17 15:03] matthyx commented on #12047
@cjwagner @stevekuznetsov Is it just to set `ElideSkippedContexts` in config(s)? Or do we want to get rid of the flag?

[2019-09-17 16:15] stevekuznetsov commented on #14179
And the comment has stale results while new ones are running, too. I'd imagine this is due to poor UX from Prow, but not a bug

[2019-09-17 19:39] cjwagner commented on #14130
@alvaroaleman Looks like introducing a dependency on the Git client into the `trigger` plugin with [this PR](https://github.com/kubernetes/test-infra/commit/bd6cde9dc206eed53f77b6df49821afe46714227) is causing some problems because the client assumes github.com.

We might need to make the client use the value from here (or add more values to this struct):
https://github.com/kubernetes/test-infra/b

[2019-09-17 19:53] alvaroaleman commented on #14130
@cjwagner TILd about `flagutil.GitHubOptions`. How exactly do we define its priority vs `GitHubOptions.endpoints`?

I am inclined to say `flagutil.GitHubOptions.endpoints` makes more sense here, because `config.GitHubOptions` could be a SSH url which is guaranteed to not work in any of the plugins. It opens up the question which of the endpoints we should use if there is more than one, thought.

[2019-09-17 22:21] cjwagner commented on #14130
There are multiple distinct types of GitHub URLs that I think we're conflating :upside_down_face:

- If I understand the comments correctly, `config.GitHubOptions.LinkURL` should never be an SSH URL. The comment suggests that it is for linking to GitHub like when generating a link to an OWNERS file. e.g. `https://github.com`
- `flagutil.GitHubOptions.endpoints` serves a different purpose. It ident

[2019-09-17 22:54] xueweiz opened #14369 "Run node-problem-detector e2e test continuously"
**What would you like to be added**:

A few continuous test job to run NPD e2e tests.

**Why is this needed**:

This is useful for ensuring the healthiness of NPD project.
This will be part of https://github.com/kubernetes/node-problem-detector/issues/296

[2019-09-17 22:54] xueweiz commented on #14369
/assign @xueweiz
/cc @krzyzacy
/cc @wangzhen127
/cc @Random-Liu
/cc @andyxning
/cc @dchen1107

[2019-09-17 23:37] wangzhen127 commented on #14369
Shall we also add presubmits?

[2019-09-17 23:41] cjwagner commented on #14328
If we're checking to see if an asynchronous function completes in reaction to a signal I think our only option is to use a long wait time.

[2019-09-18 00:09] xueweiz commented on #14369
I'm not confident about the test right now. Once we can confirm that it's fast and non-flaky, then we can add it to presubmits. But for now, I'm not that confident :P I think it will just block the merge lol

[2019-09-18 01:39] xueweiz commented on #14369
Hum, seems I didn't set the environment variables correctly here:
[code]

I wanted to set environment variable `SSH_USER` using the value of `USER`. However, it seem this didn't work from the [test log](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-npd-e2e-test/1174127945057308676):
[code]
Clearly `SSH_USER` got set to `"SER"` lol

[2019-09-18 02:18] stevekuznetsov commented on #14328
This should be fixed -- couldn't get it to fail in a couple hundred of runs with the new waits.
/close

[2019-09-18 02:18] #14328 closed

[2019-09-18 07:34] alvaroaleman commented on #14130
How is this supposed to work in case the `CloneURI` is a SSH uri? AFAIK we do not have SSH keys in any of the plugins and no way to set that up or did I miss that?

Also I think this problem is not really specific to `GetPresubmits` but is a general problem, e.G. this will keep Tide from working with GH enterprise.

That _sounds to me_ like this would be the ideal candidate then.

[2019-09-18 14:31] stevekuznetsov commented on #14130
Only jobs were cloning in the past, I guess. Yikes.

[2019-09-18 14:33] #14277 closed

[2019-09-18 14:38] alvaroaleman commented on #14130
No, that is not true. This is part of at least Tide since we started using it (~1 year ago), it tries to merge PRs prior to forming batches. This implies that it needs to clone the whole thing.

This "just works" thought because it sets the GitHub token as basic auth when performing the requests.

[2019-09-18 18:45] xueweiz commented on #14369
Thanks for the super fast reviews @krzyzacy !
The test is continuously running now. See test results at below links:
https://k8s-testgrid.appspot.com/sig-node-node-problem-detector#ci-npd-e2e-test
https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-npd-e2e-test

I still see some occasional flakes (once in last 26 runs), like [this one](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci

[2019-09-18 20:01] cjwagner commented on #14130
Why would this be an ideal candidate for the clone URL? My point is that the URL used for linking is distinct from the clone URL. They are not interchangeable.

[2019-09-18 20:16] alvaroaleman commented on #14130
Because:

* We can not use `--github-endpoint` as that is supposed to be an api endpoint
* We can not use `CloneURI` because that will break everyone that uses Prow with private repos, as that forces you to put a SSH link into it which won't work for plugins
* `config.GitHubOptions` will just work if the same base url is used for the GitHub UI and clone uris.

There is a fourth case where differen

[2019-09-18 21:08] michelle192837 opened #14388 "Revision link on deck has no href?"
**What happened**:
Clicking revision link on a job (e.g. `master (f069632)` on https://prow.k8s.io/?job=post-test-infra-upload-testgrid-config) just links back to the same Prow status page (e.g. back to `https://prow.k8s.io/?job=post-test-infra-upload-testgrid-config`)

(Specifically, looks like that link is just an anchor with no href, `<a href="">master (f069632)</a>`).

**What you expected to h

[2019-09-18 21:25] chases2 opened #14389 "Postsubmit jobs run on commits where they have been removed"
**What happened**:
The job `post-test-infra-upload-testgrid-config` was triggered on a series of commits where that postsubmit job was removed [1]. This caused the job to fail, because it was running on a version of the codebase that it wasn't intended to. Similarly, the final run of `maintenance-ci-testgrid-config-upload` [2] ran on a commit where it was removed from the config.

**What you expec

[2019-09-18 21:29] chases2 commented on #14389
/area prow

[2019-09-18 21:32] cjwagner opened #14390 "Image publishing jobs incorrectly use the deployer credentials"
**What happened**:
I noticed that all or nearly all of our image publishing jobs are using the same service account and token that we use for deploying Prow.
See jobs that mount `deployer-service-account`, but don't deploy to the Prow service cluster or build cluster: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml

**What you expected

[2019-09-18 21:40] Katharine commented on #14390
This may well be easier to change in the other direction at this point - that service account now also has access to every k8s staging bucket, and is [automatically added to new ones](https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/lib.sh#L45).

[2019-09-18 22:10] xueweiz commented on #14369
This seems like a test issue. I will follow up on https://github.com/kubernetes/node-problem-detector/issues/296

Closing this issue. And thanks for the help @krzyzacy !

[2019-09-18 22:10] #14369 closed

[2019-09-18 22:16] cjwagner commented on #14130
I haven't used GitHub enterprise myself, but it seems like it would be coincidental for the link url to match the clone URI?  Also wouldn't using config.GitHubOptions fail for private repos in the same way CloneURI would (or do we use basic auth with the token in this case)?

[2019-09-18 22:50] cjwagner commented on #14320
This isn't something we can fix on our end short of removing the Prow + Pipelines integration right? If thats the case it would be great to see this fixed by the Pipelines project, especially since we're probably not the only ones with these problems.

[2019-09-18 23:00] stevekuznetsov commented on #14320
We can (and IMO should) just copy-paste the types we need from `tekton` into the `third_party/` folder and snip our dependencies. It's causing us so many  headaches importing them right now.

[2019-09-18 23:01] fejta opened #14393 "Create go.k8s.io/oncall-hotlist"
Should link to  https://github.com/kubernetes/test-infra/search?q=label%3Akind%2Foncall-hotlist+is%3Aopen&type=Issues

Looks like this requires changing: https://github.com/kubernetes/k8s.io/blob/575312dd25163f71730ab7a7955e3bb5eca1dca5/k8s.io/configmap-nginx.yaml#L236

[2019-09-18 23:02] cjwagner commented on #12902
If GitHub sends us an empty PullRequest struct emitting an error like this is the correct behavior. If that is truly the problem I think the only way we could handle this better would be to detect the empty pull request and error on that before trying to use its values to get the combined status.

[2019-09-18 23:19] cjwagner commented on #12047
Just to set the `elide_skipped_contexts`. I just made the PR.
We can probably switch to defaulting to `elide_skipped_contexts: true` soon if we want, or remove the option altogether. I don't think there is any reason to use `elide_skipped_contexts: false` unless you are using branchprotector and haven't updated since February.

[2019-09-18 23:56] fejta opened #14395 "Cannot patch upgrade after testgrid move"
[code]

[2019-09-18 23:56] fejta commented on #14395
/area testgrid
/assign @fejta @michelle192837 @chases2

[2019-09-19 07:25] hampus77 commented on #14130
Isn´t there a way of reusing the urls provided by the payload of the event? Perhaps that involves to big a change?

[2019-09-19 07:44] alvaroaleman commented on #14130
We do use it for basic auth, thats why it works for private repos:
* https://github.com/kubernetes/test-infra/blob/fe9f237a8d30b76255dea35f9ca501c9afe0b921/prow/flagutil/github.go#L140
* https://github.com/kubernetes/test-infra/blob/fe9f237a8d30b76255dea35f9ca501c9afe0b921/prow/git/git.go#L141

I guess this is not impossible but it would be a pretty big change, as we would have to basically change

[2019-09-19 07:54] hampus77 commented on #14130
I think it works pretty much like github.com, not sure really if there are any options in setting it up differently

[2019-09-19 09:47] petr-muller commented on #10423
/remove-lifecycle rotten

[2019-09-19 11:08] morvencao opened #14396 "presubmits and postsubmits jobs are not triggered"
**What happened**:

I'm following [getting_started_deploy.md](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md) to setup prow with manual steps in my GKE cluster in web UI.

All the prow components are running and prow status web UI is working normally, because I can see the periodic `echo-test` job is completed successfully:
[code]

Also webhook is successfully

[2019-09-19 11:37] gyliu513 commented on #14396
/sig testing

/cc @kubernetes/sig-testing

[2019-09-19 16:09] michelle192837 commented on #14395
Taking a look

[2019-09-19 17:43] #14267 closed

[2019-09-19 17:59] cjwagner opened #14401 "Prow's `/plugin-config` endpoint is broken."
**What happened**:
Prow's `/plugin-config` endpoint is returning server errors.

**What you expected to happen**:
No error and plugin config displayed.

**Please provide links to example occurrences, if any**:
https://prow.k8s.io/plugin-config
https://prow.istio.io/plugin-config

/assign
cc @chases2 @stevekuznetsov

[2019-09-19 18:04] cjwagner commented on #14396
First thing I notice is that the `trigger` config looks wrong. This config applies to https://github.com/oasis not https://github.com/multicloudlab/oasis
[code]

Can you please provide a link to your Prow instance's front end so I can confirm that the configs you are sharing are what is actually applied in the cluster?
Please also check `hooks` logs and share the logs related to a webhook that sho

[2019-09-19 18:39] fejta opened #14405 "boskos-cleaner doesn't exist"
/assign @fejta @chases2
/kind oncall-hotlist

[code]

Let's figure out if we want it or not

In addition, it targets a bad namespace:
https://github.com/kubernetes/test-infra/blob/5458503e8b07feacd8c3d38ab77e959326bda435/prow/cluster/boskos-cleaner.yaml#L18

[2019-09-19 18:39] fejta commented on #14405
/assign @sebastienvas @krzyzacy

[2019-09-19 19:46] cjwagner commented on #14401
We aren't mounting the plugin config at all because of this: https://github.com/kubernetes/test-infra/issues/13951

[2019-09-19 19:49] krzyzacy commented on #14405
(isn't the cleaner only runs on istio prow?)

[2019-09-19 19:50] cjwagner commented on #13951
The options I can think of are:
- Hard code a list of valid plugin names into the `plugins` package so that it can still do validation without actually registering all the plugins themselves.
- Make that part of the validation optional and only check if all the plugin names are valid in `hook` where we register all the plugins.

[2019-09-19 20:02] stevekuznetsov commented on #13951
I think the latter makes sense -- validating that users have put down valid plugin names is the domain of `checkconfig` and `hook`, not others. Downstream dependencies that want to load and use the plugin types don't really need to validate that.

[2019-09-19 20:47] fejta commented on #14405
I have no idea. There are files for it in here, and a Makefile rule to deploy it

[2019-09-19 20:47] fejta commented on #14405
What does it do? Why does istio need it? Why doesn't k8s?

[2019-09-19 20:49] krzyzacy commented on #14405
we don't use dynamic resources, istio does. https://github.com/istio/test-infra/blob/master/boskos/resources.yaml#L41-L45

[2019-09-19 20:50] krzyzacy commented on #14405
@sebastienvas we can delete the deployment file here, right?

[2019-09-19 20:54] sebastienvas commented on #14405
yes you can delete it for this deployment. I just made one as an example.

[2019-09-19 21:50] stevekuznetsov commented on #14405
IMO we should split the example YAMLs like `starter.yaml` with actual prow.k8s.io deployment YAML. Seems like we could keep examples in `prow/cluster` but move specifics for deploying and configuring prow.k8s.io to `config/` etc

[2019-09-19 22:04] fejta commented on #14405
Hmm, decent idea -- moving the cluster configs into the config dir

I think the examples should live near the code, so perhaps the cleanup example should live in the cleanup

[2019-09-19 22:04] fejta commented on #14405
I migrated it because I wasn't aware we didn't use it

[2019-09-19 22:28] Random-Liu commented on #14165
[code]

It does work without `-u`.

However, please note that `hack/e2e.go` uses `-u` by default. https://github.com/kubernetes/kubernetes/blob/master//hack/e2e.go#L159

[2019-09-19 22:32] #12047 closed

[2019-09-20 00:52] cjwagner opened #14416 "ProwJobs failed to run: kubelet failed to create containerd task"
**What happened**:
`pull-test-infra-yamllint` failed on my PR twice without uploading any results. https://prow.k8s.io/?pull=14415&job=pull-test-infra-yamllint
When I described the pods I saw the same error from both:
[code]
**Anything else we need to know?**:
The job passed on the third rerun.

cc @chases2 @fejta @stevekuznetsov @Katharine

[2019-09-20 02:02] #12312 closed

[2019-09-20 02:03] morvencao commented on #14396
@cjwagner Thanks for quick reply, if you're asking for prow status UI, you can assess it: http://35.227.205.240

[2019-09-20 02:32] morvencao commented on #14396
I found some error logs in `sinker`:
[code]

It's weird because I did't make any update to `prow/cluster/starter.yaml`, and it's the permission issue, but the serviceaccount, role and rolebinding were configured properly:
[code]

[2019-09-20 03:27] #14405 closed

[2019-09-20 03:34] clarketm commented on #14396
The auth errors in `sinker` are most likely a result of the *recent* sinker changes #13647 to use a lister combined with the fact that the `starter.yaml` was not *fully* updated (i.e. the update is missing the `watch` and `get` verbs).

https://github.com/kubernetes/test-infra/blob/79a4a73daceda2373ae50a7417d7715fc0410132/prow/cluster/sinker_rbac.yaml#L17-L21

https://github.com/kubernetes/test-in

[2019-09-20 04:12] morvencao commented on #14396
@clarketm Thanks, it fix the error logs in sinker. And you're right, it's not the root cause of presubmits and postsubmits jobs not being triggered.

[2019-09-20 04:51] cjwagner commented on #14396
If you aren't seeing any logs related to webhooks from hook then it is likely the case that hook is not receiving any. We log every webhook we handle e.g. https://github.com/kubernetes/test-infra/blob/5a67b1fcfaee09833e722df91c98841409f40165/prow/hook/events.go#L65

Before we even check to see if it is a webhook type that we handle, we increment a webhook counter. So you could also check the hook

[2019-09-20 05:08] morvencao commented on #14396
Yes, I'm following the [doc](https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#add-the-webhook-to-github) to set up the webhook. It's weird that the webhook url is http://35.227.205.240 instead of http://35.227.205.240/hook

![image](https://user-images.githubusercontent.com/5468682/65300895-b1c4d900-dba7-11e9-9f7e-e34760cf6829.png)

[2019-09-20 05:18] morvencao commented on #14396
@cjwagner I manually update my webhook url from http://35.227.205.240 to http://35.227.205.240/hook, and the presubmits and postsubmits jobs are triggered, will test more cases.

[2019-09-20 06:10] cjwagner commented on #14396
Glad its working! The docs do specify that the webhook endpoint is `/hook`, but we could make that clearer. I don't think you're the first person to have this problem.

It is interesting that GitHub was showing hooks successfully delivered to `/`... Maybe we need to explicitly reject POST requests for these kind of endpoints? @Katharine would it make sense for `handleSimpleTemplate` to return a 40

[2019-09-20 06:11] cjwagner commented on #14396
/close

[2019-09-20 06:11] #14396 closed

[2019-09-20 13:37] danwinship opened #14420 "k/k config is confused about labels, prow is confusing about labels"
In https://github.com/kubernetes/kubernetes/issues/82799, someone said

    /sig cloud-provider provider-azure

to which the bot responded:

which is kind of weird... where did that particular list of labels come from? (Answer: it seems like those are the labels that can *only* be applied via `/label` and not any other command? But that makes it a weird message in response to a `/sig` command.)

E

[2019-09-20 15:27] stevekuznetsov commented on #14420
@Katharine @cjwagner @fejta

[2019-09-20 15:28] stevekuznetsov commented on #14420
Related to #14161 ?

[2019-09-20 15:31] stevekuznetsov commented on #14416
Yikes

[2019-09-20 15:37] stevekuznetsov opened #14421 "yuks: jokes contain invalid characters for GitHub comments"
[code]

/cc @cjwagner @fejta
/priority critical-urgen

[2019-09-20 15:37] stevekuznetsov commented on #14421
/priority critical-urgent

[2019-09-20 15:38] stevekuznetsov commented on #14420
Looks like we emit the error on every label attempt https://github.com/kubernetes/test-infra/issues/14421#issuecomment-533605124

[2019-09-20 15:42] stevekuznetsov commented on #14389
Not sure this will be possible with our current architecture -- the config-updater is entirely async and there's no connection between loaded config and the repo it was loaded from :(

[2019-09-20 16:37] alejandrox1 commented on #14164
iirc this has been resolved. But please feel free to reopen otherwise.
/close

[2019-09-20 16:37] #14164 closed

[2019-09-20 20:47] Katharine opened #14428 "Automatically check template conformity for gcb staging jobs"
GCB staging jobs are expected to follow [a template](https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/README.md#prow-config-template). We should enforce that they actually do in the ways we care about most, as a presubmit.

(Alternatively, we could generate them from cut down config that just maps repos to GCRs, but in practice that would probably make these _harder_

[2019-09-20 22:31] cjwagner opened #14429 "`bazel test //...` does not detect compile errors when run locally."
**What happened**:
I ran `bazel test //...` on my local machine to test some changes. It passed (besides pylint which apparently always fails locally for everyone), but when I pushed my changes the bazel presubmit failed due to legitimate compile errors that were not identified locally.

**What you expected to happen**:
`bazel test //...` should behave the same as the `pull-test-infra-bazel` job.

[2019-09-20 22:37] fejta commented on #14429
Add `--nobuild_tests_only`
/close

[2019-09-20 22:37] #14429 closed

[2019-09-20 23:34] clarketm opened #14430 "A tool to bootstrap a GCP prow build cluster."
**What would you like to be added**:
A robust tool to create and bootstrap a GCP prow `build` cluster.
Options:
1. Golang CLI tool
2. Terraform definitions
3. Both

**Why is this needed**:
As a form of self-service to provide the neccessary tooling to assist developers with setting up a `build` cluster for their Prow jobs.

/assign

[2019-09-20 23:38] clarketm commented on #14430
/help

[2019-09-20 23:51] #13951 closed

[2019-09-20 23:56] yt3liu opened #14432 "Gerrit reporter: Link to prow job links when jobs are triggered"
**What would you like to be added**:

Currently when a prow job is triggered, it adds a comment similar to below:

[code]

Aside from the prow job names, also add a spyglass link to the triggered prow job.

**Why is this needed**:

* we'd like to track the triggered job as it runs e.g. if we are only interested in the test environment setup, we don't need to wait for job completion to see the resu

[2019-09-21 04:40] BenTheElder opened #14435 "gubernator: PR dashboard results depend on username case"
**What happened**:

When I visit https://gubernator.k8s.io/pr/bentheelder I see 41 "Needs Attention" PRs

When I visit https://gubernator.k8s.io/pr/BenTheElder I see 8 "Needs Attention" PRs (this is the same as https://gubernator.k8s.io/pr)

If i visit either without being logged in I see 41.

8 is the correct number (with ACKs, many PRs are in the incoming set but are not actually inbound for my

[2019-09-21 04:48] BenTheElder commented on #14388
that looks to work correctly now?

[2019-09-22 02:50] #10647 closed

[2019-09-22 16:59] alvaroaleman commented on #14389
https://github.com/kubernetes/test-infra/issues/13370 would be the fix to this

[2019-09-23 00:37] scottilee commented on #14343
@fejta I apologize for the delay on this. I started a PR at https://github.com/GoogleCloudPlatform/oss-test-infra/pull/93, which is probably wrong 🙄 but it's a start! Let me know what's missing...

1. In your last comment above you mention "creating a GKE cluster", is that a GKE cluster that the Kubeflow project should create? If so, where do we specify the details for Prow (I don't think I saw an

[2019-09-23 10:08] sbueringer commented on #11815
@stevekuznetsov I'm having the same problem now. I "fixed' it by adding the following hack to clonerefs/run.go addHostFingerprints:

[code]

The problem in my case was just that the `~/.ssh` folder didn't exist so I just added the folder and everything else worked as expected.

What do you think what be the right way forward?

[2019-09-23 11:51] matthyx commented on #13074
/remove-lifecycle stale
/assign

[2019-09-23 12:23] jlewi commented on #14343
@scottilee Kubeflow already has a Kubernetes cluster in project kubeflow-ci which we use for testing purposes. So I believe with the new approach the goal would be to have prow schedule the jobs for Kubeflow on that instance. I'm not sure what  we need to do to make that happen. I suspect we need to install some CRs and other infra on our test cluster.

Given that we are getting close to 0.7 we mi

[2019-09-23 12:53] sbueringer commented on #11260
I have a working prototype for s3 :).

I wrote up a proposal here: https://docs.google.com/document/d/13O1zRX5rpmPCqsPzukavRVqyh4pLp95IeIBVWAZx6Oo/edit?usp=sharing

[2019-09-23 12:58] alvaroaleman commented on #11260
Someone did btw start working on this for S3 but does not seem to have the time to finish up that work: https://github.com/kubernetes/test-infra/pull/13400
https://kubernetes.slack.com/archives/CDECRSC5U/p1564678637187100?thread_ts=1562678138.497900&cid=CDECRSC5U

[2019-09-23 13:01] sbueringer commented on #11260
@alvaroaleman Thx good to know. Not sure what's easier starting a series of PRs from my working state or going through this huge PR :/

[2019-09-23 17:25] michelle192837 commented on #14388
Agreed, though it also definitely wasn't working when I filed. :/ I can try and check the code populating that link, and close if I don't see anything obvious?

[2019-09-23 17:30] stevekuznetsov commented on #11815
That assumes that there's a user, `$HOME` is set, and the process can create that directory, none of which are true in the general case. I think the above solution (setting `$GIT_SSH_COMMAND`) is a more complete solution -- could you try that?

[2019-09-23 18:00] sbueringer commented on #11815
@stevekuznetsov so write the file to a place where it can be written and set the envvar? Yes I can try that

[2019-09-23 19:53] stevekuznetsov commented on #11815
The file should already be written and exist in a known place from the mount, so we just need to set the var!

[2019-09-23 22:41] fejta opened #14446 "gazelle spam from testgrid"
/assign @michelle192837 @chases2 @fejta
/area testgrid

[code]

[2019-09-24 03:52] nikhita commented on #9469
/remove-lifecycle stale

[2019-09-24 03:59] krzyzacy opened #14448 "Crier: not creating controller properly"
I have a crier with one gerrit worker and one pubsub worker:
[code]

And for reasons it initialized two pubsub worker ?!
[code]

[2019-09-24 03:59] krzyzacy commented on #14448
cc @stevekuznetsov @cjwagner

I suspect the interrupt stuff changed the underlying logic somehow, need to do a bit more reviewing as I'm out of the dev loop for a while

[2019-09-24 04:09] krzyzacy commented on #14448
oh funny

[code]

[2019-09-24 04:34] BenTheElder opened #14450 "retester links to gubernator instead of spyglass"
see eg https://github.com/kubernetes/kubernetes/pull/83031#issuecomment-534380242

the "full test history" link goes to https://gubernator.k8s.io/pr/83031

in deck we refer to this site as deprecated, we should probably rewrite this to go to spyglass instead.

cc @Katharine

[2019-09-24 05:03] krzyzacy commented on #14448
oh of course: https://github.com/golang/go/wiki/CommonMistakes#using-goroutines-on-loop-iterator-variables

[2019-09-24 06:11] #14448 closed

[2019-09-24 07:32] sbueringer commented on #11815
@stevekuznetsov

I'm not sure if I configured Prow wrong, but in my case the ssh keys are mounted the known hosts fingerprints are parsed directly from the CLONEREFS_OPTIONS env var: https://github.com/kubernetes/test-infra/blob/master/prow/clonerefs/run.go#L50-L54

[code]

[code]

It's the similar in the plank config:
[code]

[2019-09-24 14:34] stevekuznetsov opened #14455 "sinker: leader election lost"
[code]

/area prow/sinker
/assign @alvaroaleman
/cc @cjwagner @fejta @petr-muller

[2019-09-24 14:45] stevekuznetsov commented on #11815
Oh, sorry. I misremembered how it was working. Your second approach sounds good! Do we fail today when we try to update `~/.ssh/known_hosts` as well>

[2019-09-24 14:54] alvaroaleman commented on #14455
@stevekuznetsov Yeah? That is the normal log you see when the thing gets stopped. What exactly is the unexpected behavior here?

[2019-09-24 16:58] stevekuznetsov commented on #14455
Oh, I thought that was a cause for the Pod failing. I just saw a failed Pod and a restart and this was the last line of logs. I would have expected to see the interrupts lib say we got SIGINT from the kubelet?

[2019-09-24 17:52] #5278 closed

[2019-09-24 18:37] alvaroaleman commented on #14455
I can not tell you what stopped your sinker pod, but [the function that emits this error](https://github.com/kubernetes-sigs/controller-runtime/blob/c29fe2074af31528fec5afe54bd7e54464fd959c/pkg/manager/internal.go#L368) is called in a [defer statement by the leader election](https://github.com/kubernetes/kubernetes/blob/512eccac1f1d72d6d1cb304bc565c50d1f2e295e/staging/src/k8s.io/client-go/tools/le

[2019-09-24 18:37] alvaroaleman commented on #14455
/close

[2019-09-24 18:37] #14455 closed

[2019-09-25 12:35] liggitt opened #14465 "beta coreos image in node-e2e test is unstable"
**What happened**:
The node-e2e test job is regularly going solid red (and is currently blocking master merges completely) because the beta coreos image referenced expires or becomes invalid.

**What you expected to happen**:

A stable coreos image to be used that works reliably for O(year)

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurr

[2019-09-25 12:39] liggitt commented on #14465
Temporarily disabled the coreos image in https://github.com/kubernetes/test-infra/pull/14466 until a stable image can be identified and used

[2019-09-25 14:05] sbueringer commented on #11815
@stevekuznetsov I started implementing it and I'm not sure what's better:
1. Add a emptydir (clonerefs-tmp) to the test pods and mount this emptydir into the clonerefs initContainer just to ensure the /tmp folder exists
1. Just rely on the existing /tmp folder (which in our current case is always there because clonerefs uses Alpine and not scratch)

I implemented the second variant in this PR: htt

[2019-09-25 14:13] liggitt commented on #14465
/priority important-soon
@kubernetes/sig-node-bugs

[2019-09-25 16:31] stevekuznetsov commented on #11815
I think adding the `EmptyDir` would be preferred -- it also ensures that we will have write access to that dir. Prow generally prefers this method and we mount an `EmptyDir` for `/tmp` in other components as well.

/cc @droslean

[2019-09-25 16:33] sbueringer commented on #11815
Okay no problem.

[2019-09-25 17:09] surfnc1 commented on #12573
/assign

[2019-09-25 17:32] nikhita commented on #11998
/remove-lifecycle stale

[2019-09-25 19:02] stevekuznetsov commented on #12759
I don't think there is any actionable work here
/close

[2019-09-25 19:02] #12759 closed

[2019-09-26 00:50] steuhs commented on #13848
My team have the same need. Do we have any plan to implement this?

[2019-09-26 15:25] vkryachko opened #14481 "Allow ProwJobs to post a custom status messages to GitHub"
**What would you like to be added**:
At this point prow has a hardcoded set of statuses that it posts to github:
Success: `Job succeeded.`
Failure: `Job failed.`

It would be useful to allow prow jobs to define custom statuses to be posted to GitHub.
To be useful it would be nice if the code that the job executes could determine the status to post. e.g. k8s provides a [termination-log](https://kub

[2019-09-26 16:43] #11815 closed

[2019-09-26 16:53] scottilee commented on #14343
@jlewi can I either get access to the kubeflow-ci project, or if you want to do this there's some directions here https://github.com/GoogleCloudPlatform/oss-test-infra/pull/93#issuecomment-535367394.

[2019-09-26 18:40] #4646 closed

[2019-09-26 18:45] michelle192837 commented on #4646
Filed a more general version of this at https://github.com/GoogleCloudPlatform/testgrid/issues/19

[2019-09-26 19:54] RobertKielty opened #14485 "Doc clean up : "How to setup GitHub Oauth""
**What should be cleaned up or changed**:
I'm working through the **How to setup GitHub Oauth** doc now I'll submit a PR later this week

- Some steps are not strictly needed (suggested additions are already present in files on the HEAD of master)
- Some steps are repeated

**Provide any links for context**:
[How to setup GitHub Oauth](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/

[2019-09-26 19:54] meowfaceman opened #14486 "Phaino will not start, complaining of a redefined flag"
**What happened**:

I installed phaino and it will not run.

**What you expected to happen**:

Phaino to run.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Please provide links to example occurrences, if any**:

N/A

**Anything else we need to know?**:

I didn't do much here, it just flat out didn't work out of the box.

[2019-09-26 22:44] #10967 closed

[2019-09-27 11:55] nikhita commented on #14420
/sig contributor-experience

[2019-09-27 15:01] stevekuznetsov commented on #14486
/cc @fejta

[2019-09-27 15:01] stevekuznetsov commented on #14486
xref #14320

[2019-09-27 15:22] dims opened #14498 "More resources to clean up in gcp_janitor"
CAPG CI job needs more resources to be cleaned up, we need to add them to the gcp_janitor

Please see comments in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/177#discussion_r329085756

/assign @dims

[2019-09-27 21:58] fejta opened #14506 "Remove deprecated elide_skipped_contexts"
/assign @fejta @stevekuznetsov @cjwagner
/area prow
/kind oncall-hotlist

[code]

[2019-09-27 22:01] fejta commented on #12066
/kind oncall-hotlist

@Katharine  any chance we can bump up the priority of this? It is a top source of oncall log spam

[2019-09-27 22:20] fejta commented on #12066
/assign @michelle192837

[2019-09-28 18:44] krzyzacy commented on #14090
/close

[2019-09-28 18:44] #14090 closed

[2019-09-28 18:45] krzyzacy commented on #13903
/unassign

this is a github thing, not specific to crier.

[2019-09-28 18:46] krzyzacy commented on #13029
/unassign

[2019-09-28 18:46] krzyzacy commented on #9383
AFAIK we'll move to prow's monitoring stack

[2019-09-28 18:47] krzyzacy commented on #9383
/remove-lifecycle stale
/assign @clarketm
/unassign

[2019-09-28 18:47] krzyzacy commented on #8300
/meh

[2019-09-28 18:47] #8300 closed

[2019-09-28 18:48] #11594 closed

[2019-09-28 18:48] krzyzacy commented on #11594
(seems not happening anymore? feel free to reopen)

[2019-09-28 18:50] #13355 closed

[2019-09-28 21:02] alshark18 opened #14511 "Prow issue:"
/ok-to-test

[2019-09-29 22:55] #12461 closed

[2019-09-30 05:52] matthyx commented on #9126
/remove-lifecycle rotten
... have to finish what I start

[2019-09-30 05:53] matthyx commented on #9757
/remove-lifecycle rotten

[2019-09-30 06:46] mm4tt commented on #11594
Yes, since we switched to our own, dedicated build cluster it stopped happening. There are some "cleanups" we need to do to finalize this, but they're tracked in separate issues. We can close this one.

Thanks, Sen!

[2019-09-30 15:06] #14511 closed

[2019-09-30 15:17] #14506 closed

[2019-09-30 18:11] julianvmodesto opened #14519 "branchprotector policy for the default branch ref only"
**What would you like to be added**:
Add a `branchprotector` policy configuration for applying branch protection only to each repo's default branch ref.

WIP here: https://github.com/kubernetes/test-infra/pull/14518

**Why is this needed**:
Currently, `branchprotector` applies a policy to all branches on a repo, minus branch exclusions.

A policy to configure only the default branch ref would be u

[2019-09-30 18:54] cjwagner opened #14520 "Tide history connection reset by peer"
We're sporadically seeing transient errors related to passing the tide history between tide and deck.
[code]
[code]

Both ends typically error with "connection reset by peer", but I have also seen Tide fail with "broken pipe" instead.

/cc @stevekuznetsov @alvaroaleman @Katharine

[2019-09-30 20:20] alvaroaleman commented on #14520
@cjwagner Are you sure this is the same connection? One end matches, but the other one differs, in case of tide its `10.108.2.219:8888` and in the case of deck its `10.111.254.160:80`

[2019-09-30 20:21] alvaroaleman commented on #14485
/assign @RobertKielty

[2019-09-30 20:59] cjwagner commented on #14520
I'm not sure. That could be part of the problem. I just looked at 3 other occurrences and confirmed that they all are similar (the source IP for deck matches the dest IP for tide, but the dest for deck doesn't match the source for tide).

[2019-09-30 21:21] Katharine commented on #14520
I assume that mismatch is because deck is contacting the tide _service_ (which in this cluster does have the IP `10.111.254.16` on port 80), while the tide _pod_ (which runs an HTTP server on port 8888 at some IP) is responding.

Seems reasonable to me? :woman_shrugging:

[2019-09-30 21:25] alvaroaleman commented on #14520
Okay forget that comment regarding the two ports, thats because the service has a [target port that differs from its port.](https://github.com/kubernetes/test-infra/blob/cce5eff07b56b8a63dec92ee3f4c48b6cf77cef4/prow/cluster/tide_service.yaml#L27-L28)

Purely looking at the symptoms, this looks like https://github.com/kubernetes/kubernetes/issues/74839 which got fixed via https://github.com/kuberne

[2019-10-01 01:44] clarketm commented on #14106
This should be resolvable by bumping the SDK in [image](https://github.com/kubernetes/test-infra/blob/master/images/bigquery/Dockerfile). https://issuetracker.google.com/issues/117948931

[2019-10-01 02:31] alejandrox1 opened #14531 "CI signal: move flaky jobs into informing dashboards and increase alert threshold"
`gce-cos-<branch>-default` has been creating many false alarms and the following two jobs often do so as well:

* gce-cos-<branch>-serial
* gce-cos-<branch>-slow

These usually fail between 30% to 50% of the time and often fire false alerts.
The proposed action items for this issue are:
1. increase `testgrid-num-failures-to-alert` to 6 in order to prevent false alerts (for this jobs it usually mea

[2019-10-01 02:34] alejandrox1 opened #14532 "CI signal: promote x.y-all stable jobs to informing dashboards"
There are a handful of jobs in the sig-release/x.y-all dashboards that are stable, present in other branches, and provide useful info. For example, in sig-release/1.16-all:
* https://testgrid.k8s.io/sig-release-1.16-all#node-kubelet-features-beta
* https://testgrid.k8s.io/sig-release-1.16-all#bazel-build-1.16
* https://testgrid.k8s.io/sig-release-1.16-all#bazel-test-1.16
* https://testgrid.k8s.io/

[2019-10-01 07:17] 7261686d616e61726966 opened #14534 "Prow issue:"

[2019-10-01 07:17] #14534 closed

[2019-10-01 21:42] cjwagner commented on #14401
fixed by https://github.com/kubernetes/test-infra/pull/14547
/close

[2019-10-01 21:42] #14401 closed

[2019-10-01 22:09] hasheddan commented on #14531
Happy to take this one! @alejandrox1 for (2), do you mean that `fork-per-release: "true"` needs to be added to these jobs?

[2019-10-02 05:22] nikhita commented on #12296
/reopen

reverted in https://github.com/kubernetes/test-infra/pull/14548

[2019-10-02 08:49] rmohr opened #14557 "[dco plugin] signing reverts with a dco signature"
**What would you like to be added**:

One of the following suggestions could improve the revert flow:

 * Add a `/revert` command, similar to `/cherrypick`, where the bot then creates a PR. For cherrypick the bot already does the right thing. and `dco` check is green.
 * Detect that a PR is a clean revert from another PR and just make the `dco` check green.

**Why is this needed**:

If I click on

[2019-10-02 10:49] jlewi commented on #14343
If you need access to the CI cluster please join this group.
https://github.com/kubeflow/internal-acls/blob/master/ci-team.members.txt

Lets proceed cautiously in terms of moving our prow infrastructure because we are getting ready to do a release and don't want to disrupt our test infra.

[2019-10-02 13:00] jlewi commented on #14343
@scottilee opened up kubeflow/testing#475 to track changes to our test infra. I will run mkbuild-cluster as soon as I can.

[2019-10-02 17:19] BenTheElder opened #14565 "welcome plugin logs error trying to list PRs for bot (github app)"
/assign

ideally we can skip sending the query for non-user "users" filing pull requests

example: https://github.com/kubernetes/dashboard/pull/4373

[2019-10-02 17:20] BenTheElder commented on #14565
event-GUID: "239e7fb0-e538-11e9-99a5-156546878ee4"

[2019-10-02 17:20] michelle192837 commented on #14393
This is done! http://go.k8s.io/oncall-hotlist. Closing for now, may want to adjust the link later though.

[2019-10-02 17:20] #14393 closed

[2019-10-02 17:39] BenTheElder commented on #14565
https://github.com/kubernetes/test-infra/pull/14567

[2019-10-02 18:02] stevekuznetsov commented on #10015
/remove-lifecycle rotten

[2019-10-02 18:33] alenkacz commented on #14532
@alejandrox1 are there currently any rules for promoting jobs to informing? Overall we want as much in informing as long as they prove stable in all in the longterm?

[2019-10-02 18:34] alenkacz commented on #14531
/assign hasheddan

[2019-10-02 18:34] alenkacz commented on #14532
/assign alenkacz

[2019-10-02 20:59] petr-muller opened #14575 "branchprotector: "protect: false" has ambiguous semantics"
**What happened**:
The openshift Prow deployment sets [`protect-tested-repos: true`](https://github.com/openshift/release/blob/master/core-services/prow/02_config/_config.yaml#L694), essentially implying `protect: true` for all repositories that have Prow jobs. Individual repositories then opted out of this default with `protect: false`, but some users expected it to mean "my repo should have BP d

[2019-10-02 22:24] krzyzacy opened #14579 "Prow pubsub: not respect config reloads"
hooooooowever seems it should work? (by looking at https://github.com/kubernetes/test-infra/blob/master/prow/pubsub/subscriber/server.go#L225-L239)

cc @sebastienvas
cc @alos

[2019-10-02 22:24] krzyzacy commented on #14579
/kind prow/pubsub

[2019-10-02 23:26] davidz627 commented on #9485
/remove-lifecycle rotten

[2019-10-02 23:58] cjwagner opened #14582 "Tracking issue: Stabl(ish) Prow images"
This is a tracking issue for the migration plan outlined here: https://docs.google.com/document/d/1kBo24FbmeF-h1dk78wi9vnKXU-QkCXI9Ul1XEW9qVls/edit#heading=h.23gq093vwv2w

Prerequisites:
- [x] Set up gcr.io/k8s-prow-edge repo
- [ ] Add cip-manifest.yaml and post-submit cip job.
This won’t do anything until we start updating the file with the stable-image-suggester (or manually PR changes to the ma

[2019-10-03 04:28] alejandrox1 commented on #14531
Those jobs should already be configured to be generated by the config-forker, they are already in the previous release dashboards.
In order to move them, the testgrid tab will need to be changed and something from here, https://github.com/kubernetes/test-infra/blob/master/experiment/test_config.yaml , may also need to be changed.
We need to find all the places where the job name is mentioned and c

[2019-10-03 16:45] BenTheElder commented on #14106
the above issue was marked fixed, have we followed up on this?

[2019-10-03 18:13] bgrant0607 commented on #10146
Previous request for gitlab: #8435

(connecting dots to make this issue easier to find)

[2019-10-03 18:52] BenTheElder commented on #14106
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/metrics-bigquery/1179553029154672645/

[2019-10-03 19:25] #12303 closed

[2019-10-03 21:24] clarketm commented on #14106
Looks good!
https://testgrid.k8s.io/sig-testing-misc#metrics-bigquery

[2019-10-03 22:15] #13074 closed

[2019-10-03 22:35] chaodaiG opened #14604 "Prow cluster monitoring - missing instructions for fresh deployment on another cluster"
**What would you like to be added**:
Instructions for setting up deployment of monitoring on a separate cluster for a downstream org/repo, i.e. Knative

**Why is this needed**:
Current [monitoring/README](https://github.com/kubernetes/test-infra/blob/master/prow/cluster/monitoring/README.md) mentioned "The deployment has been integrated into our CI system", but not detailed steps, would be helpful

[2019-10-03 22:43] #14205 closed

[2019-10-03 22:46] stevekuznetsov commented on #14604
Given that this is a package of deployments and config together, tailored to Prow, I would wonder what the benefit is to doing it without `bazel`, but in general all `bazel` does is `kubectl apply -f`. @hongkailiu can provide more detail but you should be good to just create the secrets as noted in the readme and run:

[code]

[2019-10-03 23:00] iamsubratp opened #14606 "Add Knative build controller to OSS-Test-infra prow instance"
**What would you like to be added**:
Add knative build controller to oss-test-infra prow instance.
**Why is this needed**:
We want to use knative build step functionality

[2019-10-03 23:07] jberkus commented on #14531
+1 agreed.  We monitored jobs through the 1.16 cycle, and those jobs were consistently flaky.  Per the release blocking criteria (WIP), they should be demoted to Informing.

[2019-10-03 23:08] jberkus commented on #14532
+1

Part of the motivation for this issue is the we'd like to get rid of the -All dashboards, since nobody looks at them.

[2019-10-03 23:11] justaugustus commented on #14531
+1 for demotion!

[2019-10-03 23:51] BenTheElder commented on #14606
do you mean https://github.com/GoogleCloudPlatform/oss-test-infra? if so this issue should be filed there.

[2019-10-03 23:56] iamsubratp commented on #14606
yeah... sure will file it there and close this issue

[2019-10-03 23:56] #14606 closed

[2019-10-04 00:27] hongkailiu commented on #14604
Since prow.k8s.io is deployed by bazel, we follow the same way here for monitoring stack:

https://github.com/kubernetes/test-infra/blob/201c7788b244ab2fc3efae7249fb939223ef6e1e/prow/deploy.sh#L91-L92

The above two lines does most of parts (you can dig into the bazel rules for details) except the secrets whose `yaml`s are also included in the [prow/cluster/monitoring](https://github.com/kubernete

[2019-10-04 01:12] hongkailiu commented on #14604
https://github.com/kubernetes/test-infra/pull/14610

[2019-10-04 03:16] cblecker opened #14611 "Router quota exceeded error causing GCE tests to fail"
**What happened**:
W1004 01:31:15.149] Creating router [e2e-51036-95a39-nat-router]...
W1004 01:31:18.991] ....................failed.
W1004 01:31:19.173] ERROR: (gcloud.compute.routers.create) Quota 'ROUTERS' exceeded.  Limit: 10.0 globally.

**Please provide links to example occurrences, if any**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/51036/pull-kubernetes-e2e-gce-100-perf

[2019-10-04 03:17] BenTheElder commented on #14611
from boskos janitor logs:
[code]

[2019-10-04 03:18] BenTheElder commented on #14611
cc @krzyzacy

[2019-10-04 03:27] BenTheElder commented on #14611
it looks like the image was last updated a month ago https://github.com/kubernetes/test-infra/commit/0fd634d70423b71b85bba2bc0687c0fbb732c31e

[code]

[code]

[2019-10-04 03:41] BenTheElder commented on #14611
I can't tell what actually broke when yet here. AFAICT we're running an image from august since then and haven't been having issues, also, the previous image has the same missing `--global` flag ...

[2019-10-04 03:46] cblecker commented on #14611
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=hack%2Fe2e-internal%2Fe2e-up.sh#ea6679417165f10786e6

[2019-10-04 03:52] BenTheElder commented on #14611
[code]

[2019-10-04 03:55] BenTheElder commented on #14611
I execed to the pods and unsurprisingly they do seem to be running the janitor script from when the image was updated, so I don't think there were any terribly recent changes actually deployed.

[2019-10-04 03:57] BenTheElder commented on #14611
@krzyzacy feel free to punt this back, but I don't feel that I have the context on what happened here.
@dims can you fill us in on the router issue with cluster-api-provider-gcp?

[2019-10-04 03:58] Jukie opened #14612 "Update master-ip vars to plural"
**What should be cleaned up or changed**:
Part 1 for https://github.com/kubernetes/perf-tests/issues/595
Multi-master support has been added to ClusterLoader2, update the variables in test-infra to plural.
**Provide any links for context**:
https://github.com/kubernetes/perf-tests/issues/595
https://github.com/kubernetes/perf-tests/pull/544

[2019-10-04 04:26] krzyzacy commented on #14611
we are obviously not cleaning up routers in https://github.com/kubernetes/test-infra/blob/master/boskos/janitor/gcp_janitor.py#L35-L67

also seems gcloud deprecated some flags (that --global one), but should be unrelated.

[2019-10-04 07:21] cpanato commented on #14531
+1 thanks for doing that

[2019-10-04 13:19] dims commented on #14611
Thanks @krzyzacy Sen!

@BenTheElder the new CAPG job uses boskos to acquire a project to create the actual cluster (uses kind to boostrap and then gcp to run the actual cluster) seems to have ended up with some problems. I do try to clean that up here, but some runs may have run into trouble and ended up leaking.
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/master/hack/ci/e2e-c

[2019-10-04 13:21] dims commented on #14611
@BenTheElder @krzyzacy Here's one more thing that could leak:
https://github.com/kubernetes/test-infra/pull/14617

[2019-10-04 14:10] alejandrox1 commented on #14531
/lifecycle active
#14572

[2019-10-04 15:19] chaodaiG commented on #14604
Thanks @stevekuznetsov and @hongkailiu  for looking into this.
FYI @cjwagner

[2019-10-04 15:44] BenTheElder commented on #14611
waiting for https://github.com/kubernetes/test-infra/pull/14617 to merge and then we need to update the deployment

[2019-10-04 16:16] BenTheElder commented on #14611
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-deploy-prow/1180153743044251652

bad bazel version :/

[2019-10-04 16:29] aftouh opened #14621 "Pipeline controller does not work with tekton 0.7.0"
**What happened**: I'm using prow with tekton but after upgrade of tekton from 0.5.2 to 0.7.0
pipeline controller can't create tekton pipelinerun anymore.

Pipeline controller logs:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Set job with `tekton-pipeline` agent
Prow version: v20191003-b778d6be9
Tekton version: 0.7.0

Exemple job configuration with tekton pipeline
[co

[2019-10-04 16:37] BenTheElder commented on #14611
if anyone can see https://github.com/kubernetes/test-infra/compare/master...BenTheElder:github-compare-is-broken-ugh?expand=1 or https://github.com/kubernetes/test-infra/compare/master...BenTheElder:upgrade-gcloud-bazel?expand=1 I can't file the PR because github is erroring

[2019-10-04 16:39] BenTheElder commented on #14611
... after a few minutes of server errors: https://github.com/kubernetes/test-infra/pull/14622

[2019-10-04 16:40] BenTheElder opened #14623 "post-test-infra-deploy-prow broken"
outdated bazel version https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-deploy-prow/1180153743044251652
/kind oncall-hotlist

[2019-10-04 17:59] dims commented on #14498
Done in https://github.com/kubernetes/test-infra/pull/14617 and https://github.com/kubernetes/test-infra/pull/14614

[2019-10-04 17:59] dims commented on #14498
/close

[2019-10-04 17:59] #14498 closed

[2019-10-04 18:00] BenTheElder commented on #14611
ok so we have the gcloud bump in, running a new https://prow.k8s.io/?job=ci-test-infra-autobump-prow and then will let prow bump / deploy

[2019-10-04 18:04] adshmh commented on #14325
This happens because GitHub API calls on `ListTeamRepos` returns `false` for all permission levels, i.e. `push`, `pull`, `admin`, when a team has the `Maintainer` role.

I couldn't find any v3 API calls that returns the beta new roles on a repository, but v4, i.e. graphql endpoint, does seem to report [`Maintainer` or `Triage` levels](https://developer.github.com/v4/enum/repositorypermission/)

Pe

[2019-10-04 18:09] stevekuznetsov commented on #14325
That sounds like it would require a full rewrite of how `peribolos` works -- I'm not sure that is worth it. @guineveresaenger @nickvanw are there any plans to expose these new fields in v3 API?

[2019-10-04 18:11] BenTheElder commented on #14611
https://github.com/kubernetes/test-infra/pull/14598

[2019-10-04 18:19] BenTheElder commented on #14623
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-deploy-prow/1180184447694147585

fixed by https://github.com/kubernetes/test-infra/pull/14622

[2019-10-04 18:19] #14623 closed

[2019-10-04 18:26] stevekuznetsov commented on #14621
/cc @fejta @ccojocar

[2019-10-04 19:15] BenTheElder commented on #14106
two passes after _actually_ upgrading the image, I think we can close now https://github.com/kubernetes/test-infra/pull/14624

[2019-10-04 19:15] #14106 closed

[2019-10-04 21:21] fejta opened #14626 "Remove build controller"
The [build controller](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/build) depends on the [deprecated knative builds](https://github.com/knative/build). The knative builds have been replaced by the tekton pipelines, which prow intends to support.

[2019-10-04 21:23] fejta commented on #14621
/assign @cjwagner

[2019-10-04 21:23] fejta commented on #14621
/kind prow
/kind prow/pipeline
/kind prow/pipelines

[2019-10-04 21:23] fejta commented on #14621
/area prow
/area prow/pipeline

[2019-10-04 22:43] cblecker commented on #12481
/remove-lifecycle rotten

[2019-10-04 23:54] #12521 closed

[2019-10-05 01:26] Noremac201 opened #14629 "Allow association of periodic jobs with a repository"
**What would you like to be added**:
I believe this should be added so in the UI you can sort by repo and see all the periodic jobs that are associated with said repo. Otherwise you have to specifically search for the job name.

This could be done by having a label that Prow looks at specifically. e.g.
[code]

**Why is this needed**:
Better per-repo health checks at a glance.
Better organization i

[2019-10-07 01:42] #9840 closed

[2019-10-07 01:44] cheftako commented on #12127
/remove-lifecycle stale

[2019-10-07 15:39] droslean opened #14640 "sinker: Failed to watch *v1.ProwJob: unknown (get prowjobs.prow.k8s.io)"
**What happened**:
We noticed that on `gcr.io/k8s-prow/sinker:v20191005-c0c531166`

[code]

**Anything else we need to know?**:

Despite that, it seems that the cleaning is happening.

[2019-10-07 15:39] droslean commented on #14640
/cc @alvaroaleman

[2019-10-07 15:40] droslean commented on #14640
/assign @alvaroaleman

[2019-10-07 15:41] alvaroaleman commented on #14640
Unless I am mistaken that error means your cluster doesn't have the ProwJob CRD installed

[2019-10-07 15:42] droslean commented on #14640
The CRD is there.

[2019-10-07 16:21] droslean commented on #14640
It seems that we were missing rbacs.  After we synchronized with [sinker_rbac.yaml](https://github.com/kubernetes/test-infra/blob/master/prow/cluster/sinker_rbac.yaml) everything get back to normal.

/close

[2019-10-07 16:21] #14640 closed

[2019-10-07 16:22] stevekuznetsov commented on #14629
Right now we loosely support this by setting `extra_refs` but not in Deck.
/cc @cjwagner @fejta @Katharine

[2019-10-07 16:23] stevekuznetsov commented on #14629
IMHO the `extra_refs` stuff is a hack and we should create a ref-driven periodic type that explicitly opts into being part of a repo

[2019-10-07 19:09] nickvanw commented on #14325
Hey @stevekuznetsov!

I've passed this feedback on to the PM that owns this part of the product - I agree that it would be great to expose this to the v3 API, and I'll follow up to see if it's on their schedule and, if so, when to expect it.

[2019-10-07 19:49] #14531 closed

[2019-10-07 19:58] BenTheElder opened #14643 "flake data excludes pod-utils jobs"
See http://storage.googleapis.com/k8s-metrics/flakes-latest.json etc. (metrics/ produced files)
and http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

The flake data is very misleading, for example `pull-kubernetes-verify` has "no flakes" which is definitely wrong.

What seems to be happening if we only include data from bootstrap.py results, not pod-utils (I think) possibly due to han

[2019-10-07 23:12] stevekuznetsov commented on #14325
Thanks, @nickvanw! Appreciate your help here :)

[2019-10-07 23:59] stevekuznetsov commented on #14643
What data/files is the flake analysis using? Are the pod-utils not uploading something they should?
/assign

[2019-10-08 00:00] stevekuznetsov commented on #14575
/cc @fejta

[2019-10-08 00:02] stevekuznetsov commented on #14519
The protector will only protect branches that we know we have jobs for, so if you scope the branches your jobs run on they will not be protected. Or do you mean you want jobs on all branches but then protection only on some?

[2019-10-08 00:06] stevekuznetsov commented on #14244
I'm pretty sure the [name](https://github.com/kubernetes/test-infra/blob/5deb5b970e73cdd55b3068b9c50962e8657bdb23/prow/external-plugins/cherrypicker/server.go#L39) of the plugin is `cherrypick`, not `cherrypicker` -- that may be your issue?

[code]

[2019-10-08 00:07] stevekuznetsov commented on #14130
/assign

[2019-10-08 00:07] BenTheElder commented on #14643
I'm not sure I fully understand the pipeline just yet, I took a quick look at it seems something like:

- https://github.com/kubernetes/test-infra/tree/master/kettle -> fetch finished / started.json from each job, move into some schema in big query
- https://github.com/kubernetes/test-infra/tree/master/metrics -> query the table, select flake data (which appears to be reading repos in started?)

I

[2019-10-08 00:13] BenTheElder commented on #14643
I'm not actually sure which component is at fault here or exactly why this doesn't work, but looking at the data we produce jobs that are fully pod-utils are missing and jobs that migrated to pod-utils on newer branches  have "0 flakes" when they definitely have non-zero flakes.

I would tend to suggest that the pipeline is a bit hairy and probably at fault, but the results are generally very usef

[2019-10-08 00:29] tallclair opened #14647 "Lots of kubernetes E2E tests are not executed by any specific test suite"
It's recently come to my attention that a lot of Kubernetes E2E tests aren't being run by _any_ jobs. These are typically `[Feature:_]` tests that aren't opted in to any jobs. I don't know the full history on all these tests, but I suspect many were added without realizing that the tests weren't being run in CI.

Examples include the `NodeAuthorization` and `NodeAuthenticator` features (https://gi

[2019-10-08 00:30] howardjohn commented on #14244
@stevekuznetsov now I am a bit more confused, since it works with `cherrypicker` its just when the label is applied after merge it isn't handling this properly :confused:

[2019-10-08 00:49] stevekuznetsov commented on #14244
Or maybe that `name` is actually the name of the service in the cluster where events are sent -- so if you named it `cherrypicker` that would work. Sorry, gotta dust off the :spider_web: from this code ...

[2019-10-08 00:49] stevekuznetsov commented on #14244
But those two types of events are the only ones it would need -- Are there any errors in the logs? Maybe it's just not written to honor the label.

[2019-10-08 00:51] stevekuznetsov commented on #14643
Hmm -- not sure, I've never looked at that pipeline myself. Happy to help if we can identify what the utils should be doing to be compliant

[2019-10-08 01:46] BenTheElder commented on #14643
Thanks.
I intend to take another look at this pipeline tomorrow to try to
understand what is different.

On Mon, Oct 7, 2019, 17:51 Steve Kuznetsov <notifications@github.com> wrote:

[2019-10-08 04:42] BenTheElder commented on #14611
see https://github.com/kubernetes/kubernetes/issues/83493 for the real root cause 🤦‍♂

TLDR these scale presubmits are using a fixed GCP project, I've bumped the quota 3x from 10 -> 30, but I have no idea if that's sufficient.

So far I've observed through manual polling a max of 16/30.

[2019-10-08 04:59] BenTheElder commented on #12066
is it possible to definitively identify this case based on `finished.json`?
your sample link is now dead and I don't see any checking jobs currently in deck.

[2019-10-08 09:35] petr-muller opened #14654 "Bazel builds fail with python 3.7 becase pylint==1.9.5 has python<3.7 dependency"
**What happened**:
[code]

**What you expected to happen**:
Build to succeed

**Anything else we need to know?**:
From https://pypi.org/project/pylint/1.9.5/:

[2019-10-08 15:11] howardjohn opened #14655 "Handling one-off jobs"
**What would you like to be added**:

A better way to manual or one-off jobs, or, if this already exists, some guidance on how to run these

**Why is this needed**:

We have some manual jobs we run, specifically for releasing a new version. So we would want to run a job the "build the release from SHA xyz" and then a few days later "publish the release xyz".

It seems there are two ways to do this

[2019-10-08 15:29] #13975 closed

[2019-10-08 16:11] fejta commented on #14654
/assign @clarketm

Given that 90% of the jobs now support py3, can we switch the pylint job to use this too?

[2019-10-08 16:15] stevekuznetsov commented on #14655
Right now we're doing periodics scheduled `@yearly` and creating ProwJobs from those ...

[2019-10-08 16:56] clarketm commented on #14654
I have this working locally but cannot get it to work in CI #14015. I will continue to experiment.

[2019-10-08 21:26] neolit123 commented on #14647
should such security features be tested in the sig-auth dashboard?
https://k8s-testgrid.appspot.com/sig-auth#Summary

it seems this dashboard includes tests defined here:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml

[2019-10-08 22:37] stevekuznetsov commented on #14647
/retitle Lots of kubernetes E2E tests are not executed by any specific test suite

[2019-10-09 00:52] YangLu1031 opened #14670 "Enable prow test users to get signedUrl of GCS bucket"
**What would you like to be added**:

Add `roles/iam.serviceAccountTokenCreator` to prow test user. Or any ways to let prow test users get signedUrl of GCS bucket.

**Why is this needed**:

Currently we cannot dump GKE windows node logs after prow test, because in upstream `kubernetes/cluster/log-dump/log-dump.sh`, it uses SSH to copy the logs files out. But SSH on windows is not enabled on GKE, a

[2019-10-09 01:01] pjh commented on #14670
@krzyzacy perhaps you could comment on the feasibility of this change or point us in the right direction?

My expectation is that the easiest thing to do would be to enable `roles/iam.serviceAccountTokenCreator` for the service accounts in all projects (e.g `k8s-jkns-e2e-gce-gci-slow` in the above example) that are used to run the kubernetes prow jobs, but I'm not quite sure if this is safe to do,

[2019-10-09 01:02] pjh commented on #14670
cc @yliaog

[2019-10-09 07:45] rmohr opened #14672 "Expose prowjob metrics in a promhttp like fashion"
**What would you like to be added**:

Collect prowjob metrics like it is done with promhttp for REST applications to allow visualizing things like `job x failed y times and ran on avg 30 minutes until it failed`.

I suppose https://github.com/kubernetes/test-infra/tree/master/prow/cmd/exporter would be a good fit for these metrics.

**Why is this needed**:

This can help to identify issues:

 * ho

[2019-10-09 07:47] alvaroaleman commented on #14672
CC @xrstf

[2019-10-09 11:40] alvaroaleman commented on #12216
/reopen
/remove-lifecycle rotten

We should absolutely fix this, this may result in a huge waste of cluster capacity

[2019-10-09 16:55] sbueringer commented on #11260
@stevekuznetsov @fejta What would be a useful next step. One idea would be to open a first PR to implement s3 support for Tide, which would be a relatively small step and the design could be further discussed in the PR. What do you think?

[2019-10-09 17:44] fejta opened #14678 "Remove --host_force_python=PY2"
The latest rules_docker (0.12.0) uses the go-containerregistry rather than py: https://github.com/bazelbuild/rules_docker/issues/580

Once rules_k8s replaces its dependency on py containerregistry: https://github.com/bazelbuild/rules_k8s/issues/433

We should be able to remove https://github.com/kubernetes/test-infra/blob/efb7475171637f05abe0913d5603d06739b2eba8/.bazelrc#L9-L12

/assign @fejta @cl

[2019-10-09 21:31] fejta opened #14681 "Delete deprecated knative-build jobs"
[code]

/assign

[2019-10-09 21:33] fejta commented on #14681
/area oncall-hotlist

[2019-10-09 21:33] fejta opened #14682 "default_decoration_config replaced with default_decoration_configs"
[code]

/area oncall-hotlist

[2019-10-09 21:34] fejta commented on #13927
/area oncall-hotlist

[2019-10-09 21:35] fejta opened #14683 "hook failed to exit cleanly"
[code]

/area oncall-hotlist
/assign @stevekuznetsov @cjwagner

Thoughts about this?

[2019-10-09 21:35] fejta commented on #14683
/kind oncall-hotlist

[2019-10-09 21:36] BenTheElder commented on #13927
/kind oncall-hotlist

[2019-10-09 21:43] fejta commented on #12066
Are you using go/prow-debug? Happens continuously.

[code]

[code]

[2019-10-09 21:44] cjwagner commented on #14683
Was this a single occurrence? I'm not sure how we can determine what specifically was blocking the termination.

[2019-10-09 21:49] BenTheElder commented on #12066
I am, it doesn't actually happen continuously though... I couldn't find any when I looked for this, and during upgrades there are other errors.

[2019-10-09 21:54] BenTheElder commented on #12066
from the first entry above, it seems the results are by bootstrap.py and you can't detect this case from the finished.json but you could scan build-log.txt for `^.* merge: .* - not something we can merge$`

[code]

alternatively, maybe we could test for the presence of started.json as a key and assume merge failed if it doesn't exist while finished.json does?

[2019-10-09 21:55] fejta commented on #14683
I've only bumped once. Didn't check to see whether it happened during yesterday's bump. Regardless this makes it sound like something is misconfigured and worth investigating, especially since we've recently been playing around with this code section.

[2019-10-09 22:00] cjwagner commented on #14683
Since we only saw one occurrence of this error instead of one for each hook instance this error must be transient or trigger by an uncommon code path.
@stevekuznetsov what do you think?

[2019-10-09 22:03] BenTheElder commented on #14611
AFAICT this is fixed.

[2019-10-09 22:03] #14611 closed

[2019-10-09 22:03] Katharine commented on #13927
it's shorter now.

[2019-10-09 22:03] #13927 closed

[2019-10-09 22:16] fejta commented on #14682
/kind oncall-hotlist

[2019-10-09 22:19] fejta commented on #14682
NOTE: Updated our stackdriver go link to ignore this. We should remove that once this closes

[2019-10-09 22:20] fejta commented on #12066
NOTE: Updated our stackdriver go link to ignore this. We should remove that once this closes

[2019-10-09 22:24] Katharine commented on #12066
The above is probably overcomplicating it - we just want to not explode when this information is missing. I don't think it's worth it to attempt to diagnose precisely why it is missing.

I think deck also, as it turns out, broadly does not care about the contents of this file. AFAICT the one place we do care we could learn the same information from `finished.json` regardless, and we should harden

[2019-10-09 23:10] fejta opened #14686 "deck warns about tide being down during updates"
[code]

/kind oncall-hotlist

Happens on both istio and kubernetes, every time we update.

[2019-10-09 23:14] rifelpet opened #14687 "Remove use of GOPATH from Makefile"
Now that Kops is using go modules, we should be able to run any builds and tests without relying on GOPATH. Currently there are many references to GOPATH in the Makefile. Let's try to remove them and have them use the repo's root instead, where applicable.

[2019-10-09 23:21] #14687 closed

[2019-10-09 23:21] rifelpet commented on #14687
oops, wrong repo :)

[2019-10-09 23:36] fejta opened #14688 "gerrit warns Found nil latest report on every CR"
/assign @amwat @krzyzacy

https://github.com/kubernetes/test-infra/blob/e6e1eac68795a1584149dda0f977dc2e8c8ff7d7/prow/gerrit/adapter/adapter.go#L240-L244

[code]

This is expected for new CRs, right? If so I don't think we should be warning about this.

[2019-10-10 00:11] tallclair commented on #14647
@neolit123 - That may be a path forward to unblock https://github.com/kubernetes/kubernetes/pull/82551, but it doesn't address the root issue that there are E2E tests that are completely ignored.

[2019-10-10 09:01] mm4tt opened #14697 "Acquiring project from boskos failing for scalability oss jobs"
Since yesterday all scalability jobs using boskos started to failing with this error:
[code]

This has happened over 10 times since yesterday and it's causing release-blocking jobs to be failing consistently, e.g. https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

I would appreciate if someone having access to boskos logs could check why we request for project-typ

[2019-10-10 14:15] hasheddan commented on #14697
/milestone 1.17

[2019-10-10 14:16] hasheddan commented on #14697
/milestone v1.17

[2019-10-10 16:36] fejta commented on #14697
/kind oncall-hotlist

/assign @sebastienvas @krzyzacy

Are is this expected?

[code]

[2019-10-10 16:41] fejta commented on #14697
http://velodrome.k8s.io/dashboard/db/boskos-dashboard?orgId=1&from=1570120846878&to=1570725646878

[2019-10-10 17:00] fejta opened #14702 "Define SLOs for community test-infra"
Need to gather input on what this needs to be, define and start measuring and publishing these values.

[2019-10-10 17:10] stevekuznetsov commented on #14702
Probably some easy wins on apdex score/user responsiveness for our websites, but user facing SLOs for job execution seems challenging.

[2019-10-10 17:12] stevekuznetsov commented on #14682
:man_facepalming:

[2019-10-10 17:41] droslean opened #14704 "[spyglass] Be more specific when using the plank default decoration config."
Since now plank's default decoration config can have multiple values, we should allow spyglass to pick up the right config for the corresponding repo.

Related code: [spyglass.go#L320-L323](https://github.com/kubernetes/test-infra/blob/master/prow/spyglass/spyglass.go#L320-L323)

[2019-10-10 17:41] droslean commented on #14704
/assign

[2019-10-10 17:48] stevekuznetsov opened #14705 "statusreconciler: optional contexts removed from repos where unknown contexts are required need to be retired"
When a presubmit is recorded in Prow as optional, but `tide` has `skip-unknown-contexts: false` (the default), the job will be required when it's unknown and will thereby block merges. In this case, the `status-reconciler` should retire the context for the optional job when it's removed.

[2019-10-10 18:28] fejta commented on #14697
What do these errors mean?

[code]

[2019-10-10 18:34] fejta commented on #14697
https://github.com/kubernetes/test-infra/pull/14598#event-2688265794 merged at Oct 4, 11:14a PST

[2019-10-10 18:50] fejta commented on #14697
So looks like we were missing a graph http://velodrome.k8s.io/dashboard/db/boskos-dashboard?orgId=1&from=now-7d&to=now&panelId=8&fullscreen

[2019-10-10 20:24] PiotrSikora opened #14712 "kubetest fails to download"
**What happened**:
`kubetest` fails to download.

**What you expected to happen**:
`kubetest` to be downloaded and installed.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]

**Please provide links to example occurrences, if any**:
N/A

**Anything else we need to know?**:
N/A

[2019-10-10 20:55] BenTheElder commented on #14697
http://velodrome.k8s.io/dashboard/db/boskos-dashboard?orgId=1&from=now-2d&to=now non-GKE projects look happier now but GKE dirty still looks to be climbing, do we need to do https://github.com/kubernetes/test-infra/pull/14708 for GKE as well?

[2019-10-10 21:01] BenTheElder commented on #14697
per @krzyzacy it seems cleaning up the new resource types (routers) is a lot slower, bumping the janitor replicas seems to have worked ref https://github.com/kubernetes/test-infra/pull/14708 by @fejta, sent a bump for the other GCP project (GKE project) janitor in https://github.com/kubernetes/test-infra/pull/14714

[2019-10-10 21:05] BenTheElder opened #14715 "monitor boskos cleanup timing"
**What would you like to be added**: export and graph metrics for boskos cleanup timing

**Why is this needed**: so we can determine if this is increasing and we need to increase the janitor or fix boskos xref #14697

Possibly this should also move to the new monitoring stack? cc @cjwagner @detiber

/area boskos
/assign @krzyzacy
cc @fejta @mm4tt

[2019-10-10 21:10] BenTheElder commented on #14712
`go get -u` in module mode tries to update dependencies in the module, that's probably not the best plan in this case?
cc @fejta

[2019-10-10 21:18] PiotrSikora commented on #14712
@BenTheElder that shouldn't matter, though, should it?

In any case, `go get` without `-u` also fails:
[code]

[2019-10-10 21:37] fejta opened #14717 "plank reports cannot apply changes reported at error level"
It seems like this is an expected state of affairs? Since crier etc can also update the object.

Can we report this at a info level unless its a consistent problem?

/area prow
/area prow/plank
/kind oncall-hotlist

/cc @stevekuznetsov @cjwagner

[code]

[2019-10-10 21:42] BenTheElder commented on #14697
from GKE dirty projects have dramatically dropped 145 to 3. I think we're good for now but probably will want https://github.com/kubernetes/test-infra/issues/14715

[2019-10-10 21:46] BenTheElder commented on #14712
some of the dependencies probably won't update safely, notably the kubernetes deps.

[2019-10-10 21:48] BenTheElder commented on #14712
see also https://github.com/kubernetes/test-infra/issues/14164

[2019-10-10 21:49] BenTheElder commented on #14712
(and https://github.com/kubernetes/test-infra/issues/12107)

[2019-10-10 21:52] cblecker commented on #14717
/honk

[2019-10-10 21:53] fejta opened #14718 "owners-label plugin should say why its trying to add labels"
/help
/good-first-issue
/area prow/hook
/area prow

We sometimes see errors like this:

[code]

Given the size of https://github.com/kubernetes/kubernetes/pull/83098 it is hard to figure out why this PR is trying to add a `sig/gcp` label. This is almost certainly because one or more `OWNERS` files in the kubernetes/kubernetes repo have a line like this:

https://github.com/kubernetes/test-infra/bl

[2019-10-10 21:53] fejta commented on #14718
/kind oncall-hotlist

[2019-10-10 21:54] cblecker commented on #14717
/honk

[2019-10-10 21:56] fejta opened #14719 "hook reporting API rate limit exceeded for user ID 20407524"
There was a bunch of this at Oct 10 2019, 2:11pst. Too many concurrent requests?

[code]

/area prow
/area prow/hook
/area ghproxy

/cc @stevekuznetsov @cjwagner

It doesn't look like we exceeded quota during this time?
http://velodrome.k8s.io/dashboard/db/github-cache?refresh=1m&orgId=1&from=1570571861090&to=1570744661090

[2019-10-10 21:59] fejta commented on #14717
/honk

[2019-10-10 21:59] cjwagner commented on #14717
/honk
/honk
/honk
/honk

[2019-10-10 22:06] ixdy commented on #14717
/honk

[2019-10-10 22:09] cblecker commented on #14717
/honk

[2019-10-10 22:34] PiotrSikora commented on #14712
Using instructions from #14164 is leading to the same failure (with slightly different error):
[code]
[code]

[2019-10-10 23:14] fejta commented on #14697
More work to do but as Ben says the outage is resolved.

[2019-10-11 05:33] clarketm commented on #13820
/close

[2019-10-11 05:33] #13820 closed

[2019-10-11 05:35] clarketm commented on #11011
Prow permissions will be guaranteed if using the **gencred** tool. #14721
/close

[2019-10-11 05:35] #11011 closed

[2019-10-11 05:36] clarketm commented on #14083
We do not plan to support workarounds for adblockers blocking blob urls. Disabling the adblocker is a sufficient resolution.

/close

[2019-10-11 05:36] #14083 closed

[2019-10-11 08:00] nikhita commented on #14717
/honk

[2019-10-11 15:19] howardjohn commented on #13370
+1000 this would make my life so much easier. See https://github.com/istio/test-infra/issues/1734 for a forever growing list of times this would have saved me a few hours

[2019-10-11 16:51] BenTheElder commented on #14712
https://github.com/kubernetes/client-go/issues/670

[2019-10-11 16:53] BenTheElder commented on #14712
v11 is not actually what test-infra uses, https://github.com/kubernetes/test-infra/blob/b91bc64eff4314471f4ed54290a6eea093e2358e/go.mod#L12

I don't think this will be easily resolved until client-go supports go modules :/

[2019-10-11 16:55] BenTheElder commented on #14712
your best bet is probably to just clone test-infra w/o go get and then `go install ./kubetest` from the clone.

[2019-10-11 18:01] fejta commented on #14678
Working on this, latest rules_k8s appparently has golang

[2019-10-11 18:45] stevekuznetsov commented on #14717
Shouldn't this have been solved with the PATCH? @krzyzacy

[2019-10-11 18:47] Ark-kun commented on #12636
Another instance: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2292/kubeflow-pipeline-sample-test/1182504023488466945

[2019-10-11 20:26] krzyzacy commented on #14717
yes? looks like it's not?

[2019-10-11 21:43] cjwagner commented on #14715
/cc @chaodaiG
Is also working on boskos metric using the new monitoring stack.

[2019-10-11 21:59] fejta commented on #12282
/remove-lifecycle stale
/close

[2019-10-11 21:59] #12282 closed

[2019-10-11 22:41] clarketm opened #14740 "Enable the slack reporter for k8s Prow Crier deployment"
**What would you like to be added**:
Enable the slack reporter for k8s Prow Crier deployment, ref: #14736.

**Why is this needed**:
Enhanced test failure awareness via Slack channel notification.

/help
/good-first-issue

[2019-10-11 22:50] fejta commented on #14682
/assign @chases2 @Katharine

It looks like the prowjob testgrid annotations cannot handle this:

[code]
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/test-infra/14738/pull-test-infra-bazel/1182787424581849089

[2019-10-11 22:52] fejta commented on #14682
/assign @stevekuznetsov @droslean

[2019-10-11 23:38] michal-hudy commented on #7690
As this is something that blocks our integration with Tide, I can try to solve this issue.

To start working on it, I need a clear statement of what is the expected behavior because I only tried Tide, I don't use it on a daily basis - we are using GitHub codeowners functionality currently.

If it is hard to describe expectations I can prepare a proposition to consider, but first I need to dig into

[2019-10-11 23:41] cjwagner opened #14743 "Checkconfig should not expect `trigger` to be enabled on gerrit repos."
**What happened**:
The [checkconfig](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/checkconfig) component expects every repo that specified a job to enable the trigger plugin and it checks this if plugins.yaml is provided. This isn't correct for gerrit repos.
[code]
**What you expected to happen**:
checkconfig should not require `trigger` to be enabled for gerrit repos. Here is an

[2019-10-11 23:48] cblecker commented on #7690
@michal-hudy Thanks for your interest! Let me see if I can sketch out some design goals.

/unassign @nikhita
/assign

[2019-10-13 17:18] #12478 closed

[2019-10-14 02:37] hasheddan commented on #14743
@cjwagner I am happy to take this one!

[2019-10-14 08:30] mm4tt commented on #14697
Hey Folks, sad news, this is happening again

![TBW40hsV9eH](https://user-images.githubusercontent.com/2604887/66737933-89aa5c00-ee6d-11e9-9c36-3bb5ad371dd1.png)
[code]

[2019-10-14 08:52] cofyc commented on #14712
Yes, this is a reliable way to do now. `go get/install` does not use `replace` directives I guess.

@PiotrSikora FYI

[code]

or use this [e2e.go](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/740f7b307a240146ebca6f88d282d7ad32719baa/hack/e2e.go) file (modified from hack/e2e.go in the k/k repo)

[2019-10-14 09:14] alenkacz commented on #14697
also happening here https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress - two jobs in release-master-blocking are affected by this so still pretty urgent.

[2019-10-14 13:18] hasheddan commented on #14743
/assign @hasheddan

[2019-10-14 14:57] stevekuznetsov commented on #14715
We have boskos metrics using the new stack... what do you mean? We should sync this week.

[2019-10-14 15:06] #14682 closed

[2019-10-14 15:40] #10827 closed

[2019-10-14 15:51] alvaroaleman commented on #14233
/reopen
Badly worded PR message again, #14235 does not fix this but is a requirement to be able to fix this.

/assign

[2019-10-14 15:58] #14672 closed

[2019-10-14 17:01] BenTheElder commented on #14091
The answer is to use GCB. Contact wg-k8s-infra for setting this up.

I'll close this out after patching our CI scripts in this repo to not touch it either, but this should NOT be used on prow.k8s.io unless it is actually running in GCB via prow. Prow containers should not touch binfmt_misc.

[2019-10-14 17:03] BenTheElder commented on #14091
The other option is to cross compile and not use `RUN` when building images.

kind has images built this way here:
https://github.com/kubernetes-sigs/kind/blob/90ea52098ffdc1ce0953ecc8c399e16f916174ef/images/haproxy/push-cross.sh

https://github.com/kubernetes-sigs/kind/blob/90ea52098ffdc1ce0953ecc8c399e16f916174ef/images/kindnetd/build.sh

[2019-10-14 17:35] fejta opened #14756 "all components erroring with no default decoration provided for plank"
[code]

/assign @alvaroaleman @fejta
I think this is related to switching over to default_decoration_configs, right?

[2019-10-14 17:37] fejta commented on #14756
/kind oncall-hotlist
/area prow

[2019-10-14 17:46] spew opened #14757 "Add ability to control behavior of presubmit failure / success reporting with the Gerrit reporter"
**What would you like to be added**:

The ability control when a the success or failure of a presubmit job is reported. For example, reporting on first error, etc.

**Why is this needed**:

When running multiple presubmit jobs, for example, a "build" job and a "test" job, some jobs take much less time than others and it would be useful to get fast feedback and know if they failed right away before

[2019-10-14 17:54] stevekuznetsov commented on #14756
Hmmm ... we should revert https://github.com/kubernetes/test-infra/pull/14748

We should also change your `checkconfig` job to not be part of `bazel` but to run with an image that matches the version of Prow that is deployed, since that will ensure that we cannot break production deployment with config changes. The way the job is configured now is broken. https://github.com/kubernetes/test-infra/i

[2019-10-14 17:55] stevekuznetsov commented on #14757
I'm pretty certain this is already the behavior as written. @cjwagner @krzyzacy

[2019-10-14 18:01] stevekuznetsov commented on #14756
Revert is here: https://github.com/kubernetes/test-infra/pull/14759

[2019-10-14 18:06] fejta opened #14761 "tide cannot create prowjobs"
Since bumping I see a lot of

[code]

/kind oncall-hotlist
/kind prow
/kind prow/tide

/assign @fejta @stevekuznetsov @alvaroaleman

[2019-10-14 18:06] fejta commented on #14761
/area prow
/area prow/tide

[2019-10-14 18:07] fejta commented on #14761
I think we should revert https://github.com/kubernetes/test-infra/pull/14235 (aka https://github.com/kubernetes/test-infra/pull/14758)

[2019-10-14 18:07] stevekuznetsov commented on #14144
FWIW the way we do it is [here](https://github.com/openshift/release/blob/f410e6b11e4962cebafbd93df4ffdb12ac8ed072/ci-operator/jobs/openshift/release/openshift-release-master-presubmits.yaml#L43-L75):

[code]

[2019-10-14 18:29] Ark-kun commented on #11631
Is this related?

`Test started 08/10/2019 is still running after 1559h51m55s.`

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3632/kubeflow-presubmit/1160258321232433152/

[2019-10-14 18:30] Ark-kun commented on #12636
`Test started 08/10/2019 is still running after 1559h51m55s.`

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3632/kubeflow-presubmit/1160258321232433152/

[2019-10-14 18:35] fejta opened #14763 "prow monitoring stack fails to apply"
[code]

https://testgrid.k8s.io/sig-testing-prow#deploy-prow

https://github.com/kubernetes/test-infra/compare/8525933db...c7b650cd8

I suspect https://github.com/kubernetes/test-infra/pull/14739

Remote:
[code]
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-deploy-prow/1183818575681425411

Locally:
[code]

[2019-10-14 18:35] fejta commented on #14763
/kind oncall-hotlist
/area prow
/area prow/monitoring

[2019-10-14 18:46] fejta commented on #14763
/assign

[2019-10-14 18:49] #14761 closed

[2019-10-14 18:49] fejta commented on #14756
fixed by https://github.com/kubernetes/test-infra/issues/14759

[2019-10-14 18:49] #14756 closed

[2019-10-14 19:03] fejta commented on #14697
Investigating...

[2019-10-14 19:58] fejta commented on #14697
Do I deleted some pods, which appears to have things healthy again:
http://velodrome.k8s.io/dashboard/db/boskos-dashboard?orgId=1&from=now-2d&to=now

/assign @fejta @Katharine

There might be fixes if we redeploy at head? It looks like we don't auto-upgrade boskos, which Katharine is working on. I'll look into manually bumping today.

Leaving open for now.

[2019-10-14 20:23] fejta commented on #14763
Blocking https://github.com/kubernetes/test-infra/issues/13239

[2019-10-14 21:31] stevekuznetsov commented on #11631
Likely no. That's just a symptom of a test that uploaded a `started.json` without a `finished.json`

[2019-10-14 22:00] fejta commented on #14763
Fixed https://github.com/kubernetes/test-infra/pull/14766

[2019-10-14 22:00] fejta commented on #14678
Fixed

[2019-10-14 22:01] #14763 closed

[2019-10-14 22:18] fejta opened #14770 "Plank warns when --github-token-path is empty"
Plank should no longer report to github (this functionality is now crier's responsibility), so we should not see these warning messages:

[code]

/area prow
/area prow/plank
/area prow/crier
/assign @cjwagner @krzyzacy

[2019-10-14 23:38] krzyzacy commented on #14670
/assign @fejta
is this something we can grant on the k8s prow SA?

[2019-10-15 04:59] clarketm commented on #14655
The only mechanisms that *I am aware of* for *event-based* Prowjob triggers (excluding the standard mechanisms of time, or Github event) are with using `run_if_changed` or manually creating and triggering the Prowjob. We could potentially create a Prow plugin where if the user issues a slash command (e.g. `/run release-istio-1.3.3`) then we run a Prowjob.

[2019-10-15 17:53] fejta commented on #13903
/kind oncall-hotlist

Error:

[code]

/area prow
/area prow/crier
/kind oncall-hotlist

`kubectl get prowjobs`

[code]

/assign @fejta @krzyzacy

[2019-10-15 17:55] fejta commented on #13903
This is the problem:

error:
[code]

prowjob
[code]

[2019-10-15 17:56] stevekuznetsov commented on #13903
We should just detect that this specific error was given to us from the GitHub API and ignore it -- it is totally normal if someone had a PR and force-pushed their commits and overwrote things.

[2019-10-15 17:56] fejta commented on #13903
This is a *postsubmit*

[2019-10-15 17:56] stevekuznetsov commented on #13903
Or wait, on a postsubmit this is some other bug we've seen in the past ...

[2019-10-15 17:56] stevekuznetsov commented on #13903
I think that's the SHA of the tag instead of the commit?

[2019-10-15 17:57] fejta commented on #13903
I'm suspecting a race condition in crier?

[2019-10-15 17:59] stevekuznetsov commented on #13903
Yep...

[code]

[2019-10-15 20:30] #14091 closed

[2019-10-15 20:35] fejta commented on #14717
/assign @krzyzacy @stevekuznetsov @cjwagner

Any chance we can get some progress on this PR? Asking on behalf on oncall :innocent:

[2019-10-15 20:43] fejta commented on #14670
Please use https://github.com/kubernetes/test-infra/tree/master/logexporter and https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity to solve this problem.

AKA:
Run the log exporter on any node you want to export logs. Ensure this container's service account can write to the bucket you want to write to.

[2019-10-15 20:45] fejta commented on #14688
Can we get some activity here?

[2019-10-15 20:48] fejta commented on #14683
Can we make some progress here one way or another?

[2019-10-15 20:48] fejta commented on #14686
/assign @Katharine @michelle192837 @clarketm

Can we make some progress here?

[2019-10-15 20:49] krzyzacy commented on #14717
@stevekuznetsov it's only on aborted jobs, looks like there's some other places that's changing the prowjob fields

[2019-10-15 20:51] stevekuznetsov commented on #14683
Not sure how, really. I *think* we log all workers when they exit, maybe?

[2019-10-15 20:52] stevekuznetsov commented on #14683
We could add logging to `wait()` but we would need to thread through names or something to identify which thread was doing what -- maybe if we see it again?

[2019-10-15 20:54] cjwagner commented on #14757
This is in the context of the Gerrit reporter which behaves differently than the GitHub reporter.

[2019-10-15 20:58] stevekuznetsov commented on #14717
Are we not using PATCH in every case?

[2019-10-15 20:59] krzyzacy commented on #14717
Is abort handled differently?!

[2019-10-15 21:00] krzyzacy commented on #14717
https://github.com/kubernetes/test-infra/blob/bce66e123dad88cbeacc91d800dad305c80bb393/prow/pjutil/abort.go#L55-L123

:disappointed:

[2019-10-15 21:01] cjwagner commented on #14757
Work around from @amwat:

(e.g. Code-Review for one job, Verified for the other, or can create a new label altogether) for the two presubmit jobs.

[2019-10-15 21:02] #14688 closed

[2019-10-15 21:02] fejta commented on #14683
/area prow
/area prow/hook

[2019-10-15 21:02] fejta commented on #14686
/area prow
/area prow/deck

[2019-10-15 21:02] fejta commented on #14688
/area prow
/area prow/gerrit
/area prow/crier

[2019-10-15 21:03] fejta commented on #14718
How are things going? Reach out to #prow on slack if you want some help!

[2019-10-15 21:11] YangLu1031 commented on #14670
@fejta To clarify, logexporter works only for linux node, not applicable to windows nodes. As you can see the commands and paths:
https://github.com/kubernetes/test-infra/blob/70267a4f2454906562b8e9cd722a373b658540d4/logexporter/cmd/main.go#L50

[2019-10-15 21:29] clarketm commented on #14686
#13244

[2019-10-15 21:45] fejta commented on #14670
There are a lot of options.

I am not convinced that granting `roles/iam.serviceAccountTokenCreator` to `pr-kubekins@kubernetes-jenkins-pull.iam.gserviceaccount.com` in all projects is the right way to solve this problem.

Some alternatives:

a) Improve logexporter such that it will work on windows
b) Prioritize getting SSH to work on windows
c) Run the diagnostic tool in a container that has the

[2019-10-16 00:57] pjh commented on #14670
Thanks for the suggestions @fejta. A few clarifications and questions:

Yes, we've considered porting logexporter to Windows. The biggest hurdle is that Windows containers do not have privileged access to the host, so they cannot easily copy the log files that we'd want to export. It may be possible to work around this by mounting various host directories into the logexporter container, but the `g

[2019-10-16 15:36] stevekuznetsov opened #14795 "updateconfig: use a local clone to retrieve files, not the GitHub API"
In the `updateconfig` plugin, we need to fetch the content of files before we upload them to the cluster inside of ConfigMaps. To encapsulate this behavior, we have an interface:

https://github.com/kubernetes/test-infra/blob/f63737a069e07158d0d98d2d0399fe00d0df6a68/prow/plugins/updateconfig/updateconfig.go#L76-L79

The implementation of this interface used by the plugin, however, uses GitHub to f

[2019-10-16 15:36] stevekuznetsov commented on #14795
/good-first-issue

[2019-10-16 15:36] stevekuznetsov commented on #14795
/help

[2019-10-16 17:38] stevekuznetsov commented on #13370
This is chugging along nicely!

[2019-10-16 17:49] stevekuznetsov commented on #9910
We need to put this on a meeting agenda.

[2019-10-16 17:49] stevekuznetsov commented on #9910
/remove-lifecycle stale

[2019-10-16 17:55] stevekuznetsov commented on #14719
That is the second-level policy for time-based throttling, which we can tune with the GHProxy output throttle:

https://github.com/kubernetes/test-infra/blob/17458724a5d4c3e7725d10c8476961599af41a01/ghproxy/ghproxy.go#L119

However, throttle over a sliding window instead of one to throttle instantaneous outbound connections would be more appropriate, but has not been implemented.

[2019-10-16 18:08] rajibmitra commented on #14795
/assign me

[2019-10-16 18:09] rajibmitra commented on #14795
/assign rajibmitra

[2019-10-16 18:48] stevekuznetsov opened #14798 "tide: excessive memory usage"
We are seeing much larger memory consumption by `tide` than before:

![Screenshot from 2019-10-16 11-44-23](https://user-images.githubusercontent.com/7328370/66948915-75e82c80-f00a-11e9-9de5-27702d56080c.png)

This is the last bump [here](https://github.com/openshift/release/commit/c3532fdb305a4b46bb0ced77cbf56371a307704c) and does not seem co-located in time.

/cc @cjwagner @alvaroaleman

[2019-10-16 19:01] stevekuznetsov commented on #14798
While we have spikes sometimes, the new behavior is novel:

![Screenshot from 2019-10-16 12-00-55](https://user-images.githubusercontent.com/7328370/66950111-a0d38000-f00c-11e9-966d-8cbe5f29d91a.png)

We have not seen a large change in ProwJobs in the cluster:

![Screenshot from 2019-10-16 11-52-53](https://user-images.githubusercontent.com/7328370/66949502-8056f600-f00b-11e9-9a6a-a75f0b0d3507.png

[2019-10-16 19:02] rajibmitra commented on #14795
@stevekuznetsov  if I change the /updateconfig's gitHubFileGetter to  osFileGetter  , will it be able to
use the local checkout to populate file contents ?

[2019-10-16 19:03] stevekuznetsov commented on #14798
Ahhh holy shit we're running two replicas of `tide`:

![Screenshot from 2019-10-16 12-03-02](https://user-images.githubusercontent.com/7328370/66950298-f019b080-f00c-11e9-84c3-99759804e8b3.png)

[2019-10-16 19:12] stevekuznetsov commented on #14798
We only are configured to run one, though ... https://github.com/openshift/release/blob/master/core-services/prow/03_deployment/tide.yaml#L35

[2019-10-16 19:13] stevekuznetsov commented on #14798
Only one pod is listed in the running phase at  once ...

![Screenshot from 2019-10-16 12-13-21](https://user-images.githubusercontent.com/7328370/66951038-636ff200-f00e-11e9-8310-dd3d774547d4.png)

[2019-10-16 19:22] stevekuznetsov commented on #14798
OK let's forget all that... it was a bad average window. We *are* seeing abnormally high usage since the last bump.

![Screenshot from 2019-10-16 12-21-36](https://user-images.githubusercontent.com/7328370/66951603-9bc40000-f00f-11e9-9d46-911496a6f40e.png)

[2019-10-16 19:23] stevekuznetsov commented on #14795
You'll need to call `git.Clone()` first to populate the filesystem, then use the `osFileGetter`@

[2019-10-16 19:25] stevekuznetsov commented on #14798
And that was CPU, but we see it on memory, too:

![Screenshot from 2019-10-16 12-25-24](https://user-images.githubusercontent.com/7328370/66951804-10973a00-f010-11e9-80e8-c99bd016949c.png)

[2019-10-16 19:26] stevekuznetsov commented on #14798
Migration from `gcr.io/k8s-prow/tide@sha256:56b9cbe11cd80b7cfda17d2c8e3574c0e7f10be99247a3045e5764ec4e4a0229` to `gcr.io/k8s-prow/tide@sha256:ff79563d7cd69e0567fd663defb325362f32c207db928880d67d380c273a55b7`

[2019-10-16 20:13] fejta opened #14801 "bump PRs still get force pushed"
/assign @cjwagner

Didn't you merge the thing so this doesn't happen?

https://github.com/kubernetes/test-infra/pull/14781#event-2718959646

/kind oncall-hotlist

[2019-10-16 20:34] fejta opened #14803 "hook cannot handle a transferred action IssueEvent"
[code]

/area prow
/area prow/hook

/kind oncall-hotlist
(although if we don't see this in the near future, how about we remove it)

[2019-10-16 20:56] neolit123 commented on #14803
cc @chuckha

[2019-10-16 21:00] alvaroaleman commented on #14798
/assign

[2019-10-16 21:21] cjwagner commented on #14801
Ah, my change only tried to update the PR if there is no `lgtm` or `approved`, but it still pushes the updated changes to the branch which causes the PR to update. We'd need to separate the "check if there is a PR to update" logic from the "EnsurePR" function if we want to handle that correctly.

IMO it is easier to just not run the autobumper every hour since we don't ever bump that frequently an

[2019-10-16 22:19] fejta commented on #14717
So we need to update that, right? Is this sinker, plank or both?

[2019-10-16 22:20] fejta commented on #13244
Dup of https://github.com/kubernetes/test-infra/issues/14686
/close

[2019-10-16 22:20] #13244 closed

[2019-10-16 22:20] clarketm opened #14810 "Migrate away from deprecated `--build-cluster` flag and format."
**What should be cleaned up or changed**:

Migrate away from and deprecate `--build-cluster` flag and format.
- [x] Migrate K8s Prow deployments to use `--kubeconfig` (#16906)
- [x] Deprecation and removal of `mkbuild-cluster`
  - [x] Create an [announcement](https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md) and set removal date, #15285.
  - [x] Replace `mkbuild-cluster`

[2019-10-16 22:21] fejta commented on #14686
Also, long-term we should consider HA deck and tide.

[2019-10-16 22:22] fejta commented on #14683
/remove-kind oncall-hotlist

Haven't seen this again

[2019-10-16 22:22] fejta commented on #13903
Also will look into this one

[2019-10-16 22:35] Katharine commented on #11854
/remove-lifecycle rotten

[2019-10-16 22:42] #14801 closed

[2019-10-16 22:48] krzyzacy commented on #14717
https://github.com/kubernetes/test-infra/blob/bce66e123dad88cbeacc91d800dad305c80bb393/prow/pjutil/abort.go#L116 this line need to use patch, instead of update

I can PR when I find coding time.

[2019-10-16 23:56] Ark-kun commented on #12636
Can you please point me to that issue?

[2019-10-17 00:02] Katharine commented on #14686
Aside from the message at warning level, deck is already basically okay here - it retries until it succeeds, and the old deck instances keep running until the ready check passes, which doesn't happen until then.

Long ago I filed #10890 to make deck come up immediately instead of blocking on tide data being available, but that was unpopular.

(It would, of course, be nice if we didn't become unabl

[2019-10-17 07:08] clarketm commented on #14810
/help

[2019-10-17 08:04] seeker89 opened #14825 "`go get k8s.io/test-infra/kubetest` seems to fail"
**What happened**:

When running `go get -u k8s.io/test-infra/kubetest` from [the README](https://github.com/kubernetes/test-infra/tree/master/kubetest#installation) I run into errors:

[code]

**What you expected to happen**:

I expected it to compile correctly.

**How to reproduce it (as minimally and precisely as possible)**:

Run `go get -u k8s.io/test-infra/kubetest` on go version 1.13.1 on l

[2019-10-17 13:04] dims commented on #14825
duplicate of https://github.com/kubernetes/test-infra/issues/14712

please see tips there

/close

[2019-10-17 13:04] #14825 closed

[2019-10-17 14:48] BenTheElder opened #14832 "deck: 500 Internal server error Create new session: securecookie: the value is not valid"
**What happened**: deck served this when clicking rerun

**What you expected to happen**: rerun should work or give me an option to make it work

**How to reproduce it (as minimally and precisely as possible)**: use the rerun feature, eventually this will happen in your browser

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**: Mitigation is to visit the

[2019-10-17 14:52] BenTheElder commented on #14810
Doesn't seem like contributors can handle this? Also you've already assigned yourself...?

[2019-10-17 16:29] clarketm commented on #14810
/unassign

[2019-10-17 16:36] stevekuznetsov commented on #14810
/assign

[2019-10-17 16:37] stevekuznetsov commented on #14832
/area prow/deck
/cc @Katharine

[2019-10-17 17:16] chuckha commented on #14803
We just transferred all the issues from this repo into another. There should be no more transfers from https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/

[2019-10-17 19:55] neolit123 opened #14839 "remove the usage of test_owners.* files in k/k and test-infra"
recently i set a PR that updates some test owners in k/k:
https://github.com/kubernetes/kubernetes/pull/83744#issuecomment-543288884

i noticed that the test/test_owners.{csv|json} files are quite out of date, so i started wondering if they are used.
https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv
https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.json

[2019-10-17 20:23] cblecker commented on #14839
My preference would be unwinding and removing test_owners, but I don't know if anyone else needs it

cc: @kubernetes/sig-testing @BenTheElder

[2019-10-17 20:25] BenTheElder commented on #14839
I tried to remove it recently and ran into these same problems and didn't have the bandwidth to go further.

[2019-10-17 20:31] neolit123 commented on #14839
i have similar bandwidth issues.

but i think we can do this part at least:

to have the issue-creator use the same location?

[2019-10-17 21:40] zhouhaibing089 opened #14843 "prow: gaps when using with enterprise github instance"
**What would you like to be added**:

I would like to start this thread when working on https://github.com/kubernetes/test-infra/pull/14799.

The problem is there are a bunch of cool features which can't be used in enterprise github. I'm trying to list them while testing them:

1. `/approve | /lgtm` plugin can't be used because of:

https://github.com/kubernetes/test-infra/blob/c7892acd68017a79031

[2019-10-17 22:06] fejta commented on #14718
Good luck :pray: :prayer_beads:

[2019-10-17 22:07] fejta commented on #14803
You didn't do anything wrong, it is just that prow doesn't (yet) know how to handle the webhooks github sends about transferring issues.

[2019-10-17 22:08] fejta commented on #14839
I suspect some tool somewhere uses it, but I don't think this experiment has been successful. I'm supportive of ending it.

[2019-10-17 23:37] fejta commented on #12833
/remove-lifecycle rotten
/assign @cjwagner @bobcatfish

[2019-10-18 01:57] xing-yang commented on #12661
Hi @roycaihw, I ran into this problem as well.  I tried your workaround and it worked.  Are you working on a fix?  Thanks!

[2019-10-18 14:33] neolit123 commented on #14839
sent PRs for both action items:
- https://github.com/kubernetes/test-infra/pull/14845
https://github.com/kubernetes/kubernetes/pull/84070

ideally the test-infra PR should merge first.

[2019-10-18 21:02] hongkailiu opened #14858 "BranchProtector: getting branch protection 404"
**What happened**:

The job started to fail this afternoon:

[code]

This might be caused by _a repo, having no protection rules at all_.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2019-10-18 21:03] hongkailiu commented on #14858
/assign @stevekuznetsov

[2019-10-18 22:29] jberkus commented on #11548
/remove-lifecycle stale

Which Kops job are we talking about specifically here?  Looking at the test grid, the majority of Kops jobs are failing.

[2019-10-19 04:40] cblecker commented on #7690
As @cjwagner said in the original issue, `approve` makes a bunch of assumptions about how it reads and handles OWNERS files.

Instead of tracking things on a directory by directory basis, approve needs to track the approval status of each file. It also needs some UX changes to be able to display and represent what files may need to be approved, if only some files in a directory have been approved.

[2019-10-19 08:29] #12731 closed

[2019-10-19 11:55] alvaroaleman opened #14867 "Tide doesn't create jobs for Presubmits that were added after PR opening"
**What happened**:

When working on https://github.com/kubernetes/test-infra/pull/14866, I noticed that if:

1. Someone creates a PR
1. That pr gets tested successfully but doesn't meet other merge requirements like labels
1. Someone adds a new mandatory presubmit
1. That PR gets all required labels

Tide will not create the missing job and instead just filter out the PR: https://github.com/kubern

[2019-10-19 16:24] alvaroaleman opened #14868 "Podutils: Entrypoint errors don't end up on GCS"
**What happened**:

A broken job was executed, no logs were visible in Spyglass. The pod log shows:
[code]

**What you expected to happen**:

The error above to end up in the log on gcs

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2019-10-19 22:30] #13972 closed

[2019-10-20 00:04] BenTheElder opened #14874 "image build postsubmits exceed get requests quota"
**What happened**:

https://storage.googleapis.com/kubernetes-jenkins/logs/post-test-infra-push-kubekins-test/1185703182332858369/artifacts/1.12.log

**What you expected to happen**:

builds to complete succesfully

**How to reproduce it (as minimally and precisely as possible)**:

change many test-infra images

**Please provide links to example occurrences, if any**:

https://storage.googleapis.c

[2019-10-20 00:09] BenTheElder commented on #14874
i'm re-running the postsubmits one by one to migitigate

[2019-10-20 00:31] cblecker opened #14875 "Remove TrustedOrg logic"
Does anyone use this? We have it configured, but tbh, I don't think we need to.. we should just fall back on the "if you're in the org that the PR is against, then you're trusted. If you're not, you're not."

If we expand use of "TrustedUser" (e.g. #13740) then I'd like to keep it really simple/clear.

Thoughts?

cc: @kubernetes/sig-testing

[2019-10-20 00:52] cblecker commented on #12667
/remove-lifecycle rotten

@midnightconman I think we're going to have to go with a "no" on this. It doesn't really work with our current designs/needs in the kubernetes community.

A possible workaround would be using bash to inject the comma separated values from a file:
[code]

Something like that would allow you to read the values in from a file, and then use `--only "$(cat repolist.txt | sed -

[2019-10-20 00:52] #12667 closed

[2019-10-20 01:17] cblecker commented on #14201
@kikisdeliveryservice Is this something you're still looking to work on? :)

[2019-10-20 01:21] cblecker commented on #10501
@petr-muller @stevekuznetsov Is this something still being worked on?

[2019-10-20 01:21] cblecker commented on #10501
also @nikhita ^^

[2019-10-20 01:21] cblecker commented on #10924
Closing as dupe of #10501

[2019-10-20 01:21] #10924 closed

[2019-10-20 01:35] cblecker commented on #12356
I tested this again, and the first issue (case sensitivity) is solved. The second issue (reviewers array not required for POST, but is for DELETE), is still an issue.

@nickvanw Any update on this?

[2019-10-20 01:38] cblecker commented on #12346
/good-first-issue

This should be an easy one for someone to pick up. The old `file_weight_count` option can now be removed.

https://github.com/kubernetes/test-infra/pull/12345 and https://github.com/kubernetes/test-infra/pull/6647 should have background on this.

[2019-10-20 02:07] clarketm commented on #14049
/assign

[2019-10-20 02:32] BenTheElder opened #14876 "coverage numbers in spyglass are lower than go tool cover html"
I'm seeing wildly low coverage numbers for packages in kind, but when I click through to the specific coverage it is much higher.

Not sure why yet. Look at EG https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kind/970/pull-kind-unit/1185743700693618693

(and yes, many packages have none, we're working on that ...)

EX: https://storage.googleapis.com/kubernetes-jenkins/p

[2019-10-20 12:58] neolit123 commented on #14839
PRs merged. closing.

[2019-10-20 12:58] #14839 closed

[2019-10-20 21:22] stevekuznetsov commented on #14049
Just as an informational thing, I want to post [our script](https://github.com/openshift/release/blob/master/ci-operator/populate-secrets-from-bitwarden.sh) to do this. Store the secrets in a secure locker, use its API to dump state to a local directory and `kubectl create secret --dry-run --output yaml | kubectl apply -f -` is really powerful and very simple.

[2019-10-20 21:30] stevekuznetsov commented on #14867
You are supposed to be using the `status-reconciler`, which solves this gap.

[2019-10-21 06:33] matthyx commented on #12902
/remove-lifecycle rotten
/assign

[2019-10-21 06:36] alvaroaleman commented on #14867
I see.

[2019-10-21 06:36] #14867 closed

[2019-10-21 10:06] langyenan commented on #12661
@roycaihw @xing-yang Hi, I submitted a PR for this issue, I believe it will work for you

[2019-10-21 10:17] petr-muller commented on #10501
@cblecker yes, I was going in the #10924 direction (plus I overlooked @nikhita 's WIP https://github.com/kubernetes/test-infra/pull/10517 :( although it looks to be stalled). First https://github.com/kubernetes/test-infra/pull/14732 to expose the GH repositories API for repo creation is about to be merged, and repo update is coming soon. The actual work on collaborators is not my immediate priorit

[2019-10-21 16:00] Katharine commented on #14876
/assign

[2019-10-21 16:52] roycaihw commented on #12661
Sorry I didn't get the time to work on it. @langyenan That's awesome. Thank you!

/unassign
/assign @langyenan

[2019-10-21 18:28] #13239 closed

[2019-10-21 20:31] michelle192837 opened #14888 "post-test-infra-upload-testgrid-config failing"
See https://testgrid.k8s.io/sig-testing-maintenance#testgrid-config-upload

Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-test-infra-upload-testgrid-config/1186365177063280640

[code]

Looks like the config change introduced is #14660, going to revert that to un-fail the job. Also looks like we should check if the configurator refactor recently caused any issues.

[2019-10-21 20:32] michelle192837 commented on #14888
/kind oncall-hotlist
/kind testgrid

[2019-10-21 20:32] michelle192837 commented on #14888
/area testgrid

[2019-10-21 20:38] tpepper opened #14890 "Invalidate project test results when test-infra bad"
**What would you like to be added**:
Invalidation of test results

**Why is this needed**:
In testgrid we see the results of the project under test, for example k/k. But the reality is that we're also testing test-infra in parallel, yet only the results relative to the project directly under test are reported, not test-infra.  Nevertheless test-infra does have monitoring and does report issues to

[2019-10-21 20:52] alejandrox1 commented on #14890
/area testgrid

[2019-10-21 21:00] BenTheElder commented on #14890
not for all results, FWIW. eg unit testing, kind. we may still surface another commit in the dashboard though.

how does testgrid know what commits of test-infra are bad?

[2019-10-21 21:02] chases2 commented on #14888
/assign

[2019-10-21 21:18] chases2 commented on #14888
`wg-multi-tenancy-hnc` appears to be legitimately missing. However, the test at [`config/tests/testgrid`](https://github.com/kubernetes/test-infra/tree/master/config/tests/testgrids) should have caught it as a presubmit.

[2019-10-21 21:23] BenTheElder commented on #14876
We looked at this offline, it seems to be because because kind is using `-coverpkg sigs.k8s.io/kind` when testing.

With coverpkg enabled go will do two things:
- not report packages not under coverpkg
- report coverage when package foo tests cover package bar

This second difference is leading to multiple entries per statement, which otherwise wouldn't happen.

[2019-10-21 22:02] chases2 commented on #14888
Bazel thinks that only files that end in `.yaml` are part of the Prow config. [src](https://github.com/kubernetes/test-infra/blob/b5562fcd6e375d553e267060abef265843615e1c/config/BUILD.bazel#L21-L26)
Configurator (and its test) thinks that anything that looks like yaml in that directory is part of the Prow config. [src](https://github.com/kubernetes/test-infra/blob/b5562fcd6e375d553e267060abef26584

[2019-10-21 22:05] #14876 closed

[2019-10-21 22:10] clarketm commented on #10100
@krzyzacy @stevekuznetsov
Do we want this to be configurable via an entrypoint option? Also, should this be **enabled** by default?

[2019-10-21 22:36] cjwagner commented on #10100
Since this is technically a breaking change it should be optional. Additionally if something is already printing timestamps we'd want to avoid printing them twice.
In practice it shouldn't break anyone though (hopefully no one is parsing logs...) and this would be generally useful so it might be appropriate to have it default to enabled?

[2019-10-21 23:16] tpepper commented on #14890
That's the point of the enhancement request...can criteria result is a decision and can that good/bad decision be passed somehow to the same place we track other results for visibility?  bad_infra_commit_ranges.yaml?  I'm not expecting agreement that the idea is worthwhile, but if it were agreed, is it possible?

[2019-10-21 23:17] fejta commented on #14875
Historically this was used to ensure that someone in the kubernetes or can run presubmits on a PR in a kubernetes-sigs repo.

[2019-10-21 23:17] BenTheElder commented on #14890
cc @michelle192837

[2019-10-21 23:23] michelle192837 commented on #14890
I suspect it's possible, but I think having passing results once any environmental/repo-specific/whatnot issues are over is a clearer indicator that doesn't need extra logic to implement. Marking these as visually different in TestGrid seems more plausible though (for example, a pink box with an issue number), and is in-line with some of the existing enhancements TestGrid has.

I don't think we'll

[2019-10-21 23:43] michelle192837 commented on #13903
Any updates?

[2019-10-21 23:47] michelle192837 commented on #14686
Should I take a look at downgrading the warning message?

[2019-10-21 23:48] Katharine commented on #14686
Sounds reasonable to me.

[2019-10-22 00:15] chases2 commented on #14888
It [looks like](https://testgrid.k8s.io/sig-testing-maintenance#testgrid-config-upload) the job is running again, and the root cause has been addressed.

[2019-10-22 00:15] #14888 closed

[2019-10-22 00:48] cblecker commented on #10519
/remove-lifecycle stale

[2019-10-22 02:10] parispittman commented on #11994
/remove-lifecycle stale

still needs to get done :)

[2019-10-22 06:42] fejta commented on #10840
/lifecycle fresh
/assign @clarketm @stevekuznetsov

[2019-10-22 06:43] fejta commented on #10840
/remove-lifecycle stale

[2019-10-22 07:19] #12661 closed

[2019-10-22 08:32] clarketm opened #14907 "Limit gencred role to only the required pod operations."
**What would you like to be added**:
Currently [gencred](https://github.com/kubernetes/test-infra/tree/7c81655467ec2d13b914f3a837f19d1e68038df9/gencred) issues `cluster-admin` certs and serviceaccounts. We should limit permissions to only the *necessary*  CRUD pod operations (e.g. create, delete, patch, etc.). Alternatively, we can make this configurable via user-provided RBAC permissions with a s

[2019-10-22 08:33] clarketm commented on #10840
Legacy authorization is **not** required for build clusters. For example, when I created the Istio build I explicitly *disabled* legacy authorization. Granted, currently we  use **one** kubeconfig/build-cluster entry for each build cluster and the auth credentials are *typically* given `cluster-admin` which is much more privileged than we need (#14907).  I expect the design proposal @stevekuznetso

[2019-10-22 09:59] alvaroaleman opened #14908 "Checkconfig complains about deck.spyglass.lenses[1].lens.config.highlight_regexes"
**What happened**:

A warning like this was observed:

[code]

**What you expected to happen**:

Checkconfig not to complain about valid fields

**How to reproduce it (as minimally and precisely as possible)**:

Add a config like this:
[code]

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

I _guess_ this is because the `config` field  is a `json.RawM

[2019-10-22 10:00] alvaroaleman commented on #14908
/area prow

[2019-10-22 10:36] alvaroaleman commented on #14629
WDYT about if a job has no `refs` but does have `extraRefs`, to change the logic in put `extraRefs[0]` in `refs` and strip it from `extra_refs`?

[2019-10-22 10:43] alvaroaleman opened #14910 "Deck overview: Huge performance degradation 484b36c51 -> 7c8165546"
**What happened**:

We upgraded our Prow setup from `v20190827-484b36c51` to `v20191022-7c8165546` and now suddenly loading the Deck overview is extremely slow. We currently have roughly 22k ProwJobs in the cluster. The culprit seems to be the `data.js`/`prowjobs.js` which took ~1s before and now needs ~10s. See the screenshots below for the info from the `network` tab of the chrome developer tool

[2019-10-22 10:45] alvaroaleman commented on #14910
What I find interesting though is that the prow.k8s.io instance has an even higher number of prowjobs but seems to be performing well. Is there anything else I can look at?

[2019-10-22 18:01] clarketm commented on #14326
I do not think the GitHub API directly exposes a way to create a GitHub Oauth App. The closest thing I found is [Creating GitHub Apps from a manifest](https://developer.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest/) which I will look into.

[2019-10-22 20:38] clarketm commented on #14910
It looks like most of the *additional* time is spent **waiting (TTFB)** (which is what the green segment indicates). This indicates that payload size (which should be ~same with `omit` directive) is not a factor.

@alvaroaleman
If this long request latency consistently slow or only on initial version switch? I expect there is something else causing the slowness, but not sure what it is ATM.

[2019-10-22 20:58] xmudrii commented on #14910
@clarketm If by initial upgraded versions you think the first time loaded after upgrade to the new version, no. It has been very slow every time the page was loaded. The time needed to load the page was varying between 15 and 30 seconds for me.

[2019-10-22 21:05] ixdy commented on #7769
any update?

[2019-10-22 21:13] clarketm commented on #14910
@xmudrii
Are you using the default template which specifies an `omit` parameter to reduce size of response?
https://github.com/kubernetes/test-infra/blob/a1a5b03d5644aaf935fbb9aa833c94bfde013d30/prow/cmd/deck/template/index.html#L5

There is nothing immediately obvious on the [backend](https://github.com/kubernetes/test-infra/commit/448f6c5d0ec3e4123eb4bd32a7e893ea8b37918f#diff-91ff1bbeaa4f820afc3

[2019-10-22 21:29] xmudrii commented on #14910
@clarketm I'm not sure about that, so I'll have to leave it to @alvaroaleman to confirm it. I think we use the default template. Looking at the inspect element/sources on Chrome, I can see the line like you posted. However, this is on the previous version we used, I can't test it with the latest one.