[2022-10-14 21:37] sdowell opened #27750 "PR with "Change requested" leads to Tide repeatedly attempting MERGE"
**What happened**:

For a Github PR that has passed all checks but has the `Change requested` state, Tide repeatedly attempts to MERGE but fails (presumably rejected by Github due to the `Change requested` state).

**What you expected to happen**:

I would expect Tide to be aware of the `Change requested` state and that it is blocking - and therefore not try to perform MERGE.

**How to reproduce i

[2022-10-14 21:39] sdowell commented on #27750
/sig testing

[2022-10-15 03:23] hrittikhere commented on #27685
/unassign

Go for it!

On Sat, 15 Oct, 2022, 1:40 am shivam tyagi, ***@***.***>
wrote:

[2022-10-15 10:47] ShivamTyagi12345 commented on #27685
/assign

[2022-10-18 05:12] Rajalakshmi-Girish commented on #24779
/reopen

[2022-10-18 05:29] Rajalakshmi-Girish commented on #24779
The results of hardly only two days are displayed. Hence reopened this issue.
Must look into the summarizer and make testgrid to group junit testsuites.
Ref comment : https://github.com/kubernetes/test-infra/issues/24779#issuecomment-1006988506
@kishen-v ^^

[2022-10-18 05:58] BenTheElder commented on #24779
The unit tests report far too many results. I think they have to be consolidated at the source, because actually testgrid is hitting a memory limit here.

[2022-10-18 08:02] jbpratt opened #27757 "Remove use of graduated github api preview headers in prow github client"
**What should be cleaned up or changed**:

A few of the accept headers (`symmetra` and `hellcat`) used in `prow/github/client.go` are no longer needed as the API has graduated out of preview.

https://github.com/kubernetes/test-infra/blob/3c8cbed65c421670a7d37239b8ffceb91e0eb16b/prow/github/client.go#L3670-L3672

**Provide any links for context**:

https://developer.github.com/changes/2019-12-13-g

[2022-10-18 08:02] jbpratt commented on #27757
/sig testing

[2022-10-18 08:13] jbpratt opened #27759 "Remove/replace deprecated `deadcode` with `unused` lint check from golangci-lint"
**What should be cleaned up or changed**:

Apparently the `deadcode` linter has been abandoned and deprecated in favor of `unused`

[code]
**Provide any links for context**:

https://github.com/golangci/golangci-lint/issues/1841
https://github.com/kubernetes/test-infra/blob/3c8cbed65c421670a7d37239b8ffceb91e0eb16b/.golangci.yml#L21

/sig testing

[2022-10-18 12:15] #27757 closed

[2022-10-18 12:56] vatsalparekh commented on #13063
if this is still relevant, would like to be a part
/assign

[2022-10-18 13:48] #26045 closed

[2022-10-18 16:37] jbpratt commented on #25811
/assign

[2022-10-18 17:45] jbpratt commented on #27420
/area prow prow/deck

[2022-10-18 17:56] jbpratt commented on #27420
Some additional information:

The `/log` handler is configured here
https://github.com/kubernetes/test-infra/blob/c2d8edcd1586aa11409dd167a5b2fd11bfc711e6/prow/cmd/deck/main.go#L448
which fetches job logs here
https://github.com/kubernetes/test-infra/blob/c2d8edcd1586aa11409dd167a5b2fd11bfc711e6/prow/cmd/deck/main.go#L1380
then grabbing the pod logs here
https://github.com/kubernetes/test-infra/bl

[2022-10-18 23:31] #25811 closed

[2022-10-19 15:43] msiebeneicher opened #27769 "[peribolos] org and team invitation checks are incompatible with GitHub enterprise"
Hi,

we are currently looking for a good solution to handle teams and members for a GitHub organization by GitHub actions. During our research, we found peribolos and it looks like that the tool could fulfil our needs and that we are able to execute it as a "standalone GitHub action".

Unfortunately we run into the issue that the api calls, to get the invitations in the code, are not compatible wi

[2022-10-19 15:46] msiebeneicher commented on #27769
/area prow/peribolos

[2022-10-19 15:48] msiebeneicher commented on #27769
/sig testing

[2022-10-19 19:32] smg247 opened #27774 "Same Head SHA PRed to different branch contains checks from original branch"
**What happened**:
A PR with a head SHA that was originally accidentally opened against `master` branch still contained a failed job for that branch even when it was recreated for a different branch that doesn't contain that job. This caused a display issue with the failed job appearing on the PR, and `tide` confusion resulting in the need to override the check before merge would occur.

**What yo

[2022-10-19 19:33] smg247 commented on #27774
/sig testing

[2022-10-20 06:11] miyadav opened #27778 "PROW READMe Documentation , hyperlinks under the head "More Details" broken"
**What happened**:
Navigate to - https://pkg.go.dev/github.com/k8s-ci-robot/test-infra/prow#section-readme , click on links under the Head `More Details`
Getting 404 errors for all links.

**What you expected to happen**:
Navigate to the links successfully to read.

**How to reproduce it (as minimally and precisely as possible)**:
Go Here - https://pkg.go.dev/github.com/k8s-ci-robot/test-infra/pro

[2022-10-20 06:12] miyadav commented on #27778
/sig docs

[2022-10-20 11:05] mkumatag commented on #24779
@Rajalakshmi-Girish lets see how other folks are handling this and consolidate the results at the source as Ben mentioned.

[2022-10-20 11:22] smg247 commented on #27685
Watch out for https://github.com/kubernetes/test-infra/issues/25600 that came up the last time we tried to use `ListTeamMembersBySlug` everywhere.

[2022-10-20 12:45] dims opened #27779 "Update boskos/cmd/janitor/gcp_janitor.py to python3"
Noticed yesterday by @samuelkarp. We don't really notice this as the `kubekins-e2e` images have both python 2.x and python 3.x.

A quick win will be running the `2to3` utility against Update [boskos/cmd/janitor/gcp_janitor.py](https://github.com/kubernetes/test-infra/blob/master/boskos/cmd/janitor/gcp_janitor.py) and fix the first line to:
[code]

We use this script from:
- https://github.com/kube

[2022-10-20 16:17] marcindulak commented on #25967
:eyes:

[2022-10-20 20:19] #27779 closed

[2022-10-21 04:48] BenTheElder commented on #24779
I don't think anyone is currently, people just aren't inspecting kubernetes unit test results in testgrid in detail

[2022-10-21 12:52] petr-muller commented on #27774
This is always very confusing when it happens, I remember that quirk very well :(

For anyone looking into this: The issue is that the [statuses](https://docs.github.com/en/rest/commits/statuses#create-a-commit-status) (=job results) are tied to a SHA in GitHub, so they get "carried" when you open a new PR with the same branch HEAD. Then, for Prow, these "old" statuses are basically unknown status

[2022-10-21 16:07] chaodaiG commented on #21729
/remove-lifecycle rotten

[2022-10-21 18:14] #24641 closed

[2022-10-21 19:26] alvaroaleman commented on #27778
@miyadav you are looking at the godoc of a fork of test-infra, not sure how you ended up there but the correct link is https://pkg.go.dev/github.com/kubernetes/test-infra/prow#section-readme (notice the s/k8s-ci-robot/kubernetes/). There, the links are working from what I can tell.

/close

[2022-10-21 19:26] #27778 closed

[2022-10-21 22:36] MadhavJivrajani commented on #25048
/remove-lifecycle rotten

[2022-10-22 00:37] listx commented on #13063
At least for the Prow components, there is an architecture diagram at https://docs.prow.k8s.io/docs/overview/architecture/.

[2022-10-23 07:08] ShivamTyagi12345 commented on #27685
I was giving my exams  for the last week. Starting with this issue :) thanks for the help @smg247

[2022-10-23 12:56] jbpratt commented on #27759
resolved by #27775

[2022-10-23 12:56] #27759 closed

[2022-10-23 13:54] jbpratt commented on #18789
Based on https://github.com/kubernetes/test-infra/pull/22892#issuecomment-880245096 (and the changes being reverted), how should we proceed with this? I started working through this and realized I was re-doing @spiffxp's changes :smile:

[2022-10-25 14:08] Tesbarmix1 opened #27814 "Report"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

**Anything else we need to know?**:

[2022-10-25 21:22] alvaroaleman commented on #27814
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2022-10-25 21:22] #27814 closed

[2022-10-27 11:38] evankanderson commented on #26542
/remove-lifecycle stale

[2022-10-27 19:31] listx opened #27824 "Prow: add a REST API"
**What would you like to be added**:

I want the Prow service cluster to expose a web API so that I can programmatically trigger Prow jobs (or anything else I want to do in the future). We can currently programmatically trigger via Pub/Sub but doing it through an API would make it easier for clients.

**Why is this needed**:

Increase interoperability with other tools/services.

EDIT: I am current

[2022-10-27 19:49] chaodaiG commented on #27824
@roberthbailey fyi

[2022-10-27 19:50] chaodaiG commented on #27824
@RobertKielty fyi

[2022-10-27 21:00] spiffxp commented on #19264
/close
Only mentions left are in job configs or announcements describing the migration to allowlist/denylist
[code]

[2022-10-27 21:00] #19264 closed

[2022-10-28 00:32] spiffxp opened #27829 "go.k8s.io/triage is clustering stack traces for kubernetes/kubernetes"
**What happened**:

The failure text that is clustered together by go.k8s.io/triage has become (I suspect) less useful since ginkgo v2 was introduced into kubernetes/kubernetes

Compare the top failure cluster from https://storage.googleapis.com/k8s-triage/index.html?date=2022-07-01 (before ginkgo v2):
<img width="1105" alt="Screen Shot 2022-10-27 at 5 31 08 PM" src="https://user-images.githubuser

[2022-10-28 00:33] spiffxp commented on #27829
/sig testing
/area kettle
/area triage

FYI @pohly @aojea @chendave

[2022-10-28 03:21] chendave commented on #27829
I guess kettle should change it's way to parse the junit, get the failure reason from `message` attribute from `failure` element, something like this: https://github.com/GoogleCloudPlatform/testgrid/pull/838?

[2022-10-28 06:40] pohly commented on #27829
Prior discussion: https://app.slack.com/client/T09NY5SBT/C09QZ4DQB/thread/C09QZ4DQB-1664275370.463659

[2022-10-28 06:47] pohly commented on #27829
The question that I had in that Slack discussion for which the answer is still uncertain: do we want to cluster just by failure text or by failure text + stack backtrace? We can do the former now because ginkgo separates them.

The advantage is that the text that needs to be queried becomes smaller. However, the tool already was able to handle backtraces (including changes in line numbers) and the

[2022-10-28 07:46] pohly commented on #27829
I think test-infra/kettle just [strips `system-out`](https://github.com/kubernetes/test-infra/blob/cb743c494eb5404ef9703a96122c6075f43f2234/kettle/make_db.py#L283-L294), then [dumps the entire remaining JUnit XML](https://github.com/kubernetes/test-infra/blob/cb743c494eb5404ef9703a96122c6075f43f2234/kettle/model.py#L104-L111) into the Big Query database. Does that sound right?

First observation:

[2022-10-28 08:12] pohly commented on #27829
I'm confused about why it strips `system-out`. My initial guess was "because it stores the full JUnit", but that's not what then happens. Only selected fields get stored. So `system-out` should already get ignored by kettle, even without explicit code for it?!

[2022-10-28 08:13] pohly commented on #27829
See https://github.com/kubernetes/test-infra/issues/27829 for a potential solution.

[2022-10-28 19:27] spiffxp commented on #27829
The thing to understand about kettle's code base is that it's been unstaffed for a long time.  Kettle also takes a very long time to deploy (well, come to steady state after loading everything).  So we've kind of adopted a "touch it as little as possible" stance to try and avoid breaking it.  There have been some efforts to make the codebase more reliable but we've never been able to sustain the e

[2022-10-29 19:40] CatherineF-dev commented on #17956
+1. Could we reconsider this request?

[2022-10-29 19:40] CatherineF-dev commented on #17956
/reopen

[2022-10-31 04:44] aimuz opened #27844 "command-help: Missing some commands"
**What happened**:
The missing part of the naming was found on the command-help page

The following error appears in the browser error
[code]

<img width="1513" alt="截屏2022-10-31 下午12 41 48" src="https://user-images.githubusercontent.com/17666471/198932581-42899d0a-6f8f-481c-bc42-78b15dc02dd6.png">

**What you expected to happen**:

No errors

**How to reproduce it (as minimally and precisely as p

[2022-10-31 04:46] aimuz commented on #27844
/sig k8s-infra

[2022-10-31 10:17] luukasmakila opened #27846 "Github authentication error while deploying Prow"
Hi!

Im trying to deploy prow on one of our clusters and get the following error on many pods:
[code]

I believe this is because of the cert field in starter-gcs.yaml which I have described like so:
[code]

I have also tried using just the string version without "BEGIN and END" stuff also tried to put it all on one line without any luck...

I tried using path to the cert aswell but no difference.

[2022-10-31 10:21] luukasmakila commented on #27846
/sig k8s-infra

[2022-10-31 11:46] Rajalakshmi-Girish opened #27847 "Prow: Tide's unsuccessfulContexts has wrong value in log message"
**What happened**:
The tide component of prow is reporting a wrong value for `failed_context_names` in the log message that comes from `unsuccessfulContexts` function at https://github.com/kubernetes/test-infra/blob/master/prow/tide/tide.go#L806

**What you expected to happen**:
The value for `failed_context_names` should be  `contextsToStrings(failed)` instead of  `contextsToStrings(contexts)`

*

[2022-10-31 11:49] Rajalakshmi-Girish commented on #27847
/sig-testing

[2022-10-31 11:53] Rajalakshmi-Girish commented on #27847
/sig testing

[2022-10-31 11:55] Rajalakshmi-Girish commented on #27847
@chaodaiG can you please check this?

[2022-10-31 14:15] chaodaiG commented on #27847
the description of this bug sounds reasonable to me. Feel free to fix it and would be great to add unit test for it

[2022-10-31 16:09] petr-muller commented on #27824
I'm curious, isn't kubernetes API basically the thing? In OpenShift we have many things that programmatically trigger Prowjobs, and they all do it via kube API (by creating `Prowjob` resources in the cluster).

[2022-10-31 17:13] wojtek-t commented on #25966
/remove-lifecycle stale

[2022-10-31 18:23] listx commented on #27824
The use case is for clients that do not have access to the Prow service cluster to trigger Prow jobs, just like how we have Sub set up (but instead of Pub/Sub we want to use HTTP).

[2022-10-31 18:55] lbernick opened #27852 "Prow assign plugin doesn't pick up organization membership"
**What happened**:

We are unable to /assign org members to pull requests.

**What you expected to happen**:

/assign @username will assign username to the pull request

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

- https://github.com/tektoncd/community/pull/866#issuecomment-1297324254
- https://github.com/tektoncd/co

[2022-10-31 18:56] lbernick commented on #27852
/sig k8s-infra

[2022-10-31 18:59] lbernick commented on #27852
Actually looks like this repo is associated with sig testing, and sig k8s-infra is for migration to the CNCF.. please feel free to reassign since I'm not sure where this issue should go

/sig testing

[2022-11-01 09:52] luukasmakila commented on #27846
Okay I got it working by converting from PKCS1 to PKCS8 format. If PKCS1 isn't supported you should remove it from the error message.

[2022-11-01 09:52] #27846 closed

[2022-11-01 21:26] ameukam opened #27861 "sync credentials to k8s-infra"
Some prow presets are based on credentials living in the build cluster running inside Google infrastructure. I would to sync them to `k8s-infra-prow-build` GCP project so we can move some jobs (e.g. kOps) to the community-owned infrastructure.

Some presets that need sync:

- preset-aws-credential
- preset-aws-credential-aws-oss-testing
- preset-aws-ssh

We could also add new credentials on k8s-in

[2022-11-01 22:23] chaodaiG commented on #27861
k8s-prow-builds cluster is the default build cluster for k8s prow:

[code]

@ameukam , do we know which SA are wanted?

[2022-11-01 22:33] chaodaiG commented on #27861
nvm, found it:

[code]

[2022-11-01 22:42] chaodaiG commented on #27861
I have backed up all secrets from k8s-prow-builds cluster into GCP secrets manager in the k8s-prow-builds GCP project by running https://github.com/kubernetes/test-infra/tree/master/experiment/clustersecretbackup:

[code]

The corresponding secrets for these 3 cluster secrets were mirrored in the GCP project where k8s infra build cluster is located at `k8s-infra-prow-build`.

[2022-11-01 23:07] ameukam commented on #27861
Can confirm secrets are copied.

[code]

[2022-11-01 23:09] ameukam commented on #27861
FYI @spiffxp

[2022-11-01 23:12] chaodaiG commented on #27861
sounds like this is now fixed?

[2022-11-01 23:16] ameukam commented on #27861
Yes. I'll try to migrate a few jobs and see what's happening.

Thank you so much again! 🙏🏾

/close

[2022-11-01 23:16] #27861 closed

[2022-11-02 01:53] spiffxp commented on #27829
/reopen
I'm not sure merged PR's to kettle auto-deploy.  We should hold this open to see what the actual effect is in triage

[2022-11-02 05:00] kishen-v commented on #27847
/assign

[2022-11-02 07:40] luukasmakila commented on #22154
@wewang58 did you ever fix this?

[2022-11-02 11:41] wojtek-t commented on #25967
/remove-lifecycle stale

[2022-11-02 16:38] spiffxp commented on #20024
/close
Closing this in favor of https://github.com/kubernetes/test-infra/issues/25658 as the umbrella issue for kettle freezing

I didn't see CPU exhaustion when looking at kettle just now

[2022-11-02 16:38] #20024 closed

[2022-11-02 16:43] spiffxp commented on #20024
/remove-kind feature
/kind bug

[2022-11-02 16:56] spiffxp opened #27869 "k8s-gubernator:build tables are stale"
**What happened**:

https://testgrid.k8s.io/sig-testing-misc#metrics-kettle is continuously failing due to the k8s-gubernator:build tables being stale, e.g.
[code]

- Last pass: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/metrics-kettle/1586775936018157568
- First fail: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/metrics-kettle/1586791286373879808

The tables fell stale before http

[2022-11-02 17:11] spiffxp commented on #27869
Quick forensic glances
[code]
[code]
[code]
Thoughts:
- that's a lot of restarts (but given kettle's level of maintenance I'm unsurprised)
- logs didn't show anything obvious
- that's a lot of memory to request
- everything pertinent was in sleep, nothing maxing cpu
- plenty of space on the data volume
- so no obvious smoking gun

If someone wanted to go further I would look at cloud logging for t

[2022-11-02 17:14] spiffxp commented on #27869
Restarting
[code]

[2022-11-02 18:01] spiffxp commented on #27869
Was df lying to me?
[code]

Manually editing the persistent volume claim to bump from 2001Gi to 3001Gi
[code]

[2022-11-02 18:26] spiffxp commented on #27869
It sure seems to me that disk space isn't the issue.  The build.db file is 1TB.  We were at 50% of 2TB, now we're at 33% of 3TB
[code]

So if it's not disk, could the database be full?  A quick glance at https://www.sqlite.org/limits.html and it seems like a long shot

Copying the sqlite db to GCS just in case
[code]

[2022-11-03 05:37] BenTheElder commented on #27852
when prow comments:

That means it tried to assign the user and got a github API error that those users could not be assigned.

https://github.com/kubernetes/test-infra/blob/ee1e7c845bb25177944bb5de37545f007f529059/prow/plugins/assign/assign.go#L192

[2022-11-03 09:21] #26490 closed

[2022-11-03 19:15] ameukam opened #27896 "Investigate usage of EKS for test jobs"
we currently use GKE for the build clusters and existing tooling is heavily built toward GCP. I would to investigate the possibility to use EKS clusters as build clusters.
This should help balance the CI infrastructure between different providers.

Some questions come in mind:
- how we provide kubeconfigs to prow control plane
- how to we handle the logs.
- how we handle authentication and authori

[2022-11-03 19:15] ameukam commented on #27896
/priority important-longterm

[2022-11-03 21:24] ameukam commented on #27896
`gencred` only support GCP Secret Manager at the moment. we should think about extend support to AWS Secret Manager API.

There is no notion of service account on AWS but we can still make a k8s service account _assume_ a AWS IAM role similar to how Workload Identity works. So we use a S3 bucket to store the logs, we should be able to simply authorization on AWS.

[2022-11-03 21:43] chaodaiG commented on #27896
`gencred` also supports dumping kubeconfig file locally. However I do agree that it's generally a good idea to backup these kubeconfigs in a vault.

awesome!

[2022-11-03 22:23] #22164 closed

[2022-11-04 16:10] #27847 closed

[2022-11-04 16:42] danilo-gemoli commented on #25799
/remove-lifecycle stale

[2022-11-06 23:24] xdu31 commented on #27896
Hi @chaodaiG For the Prow test infrastructure setup on AWS EKS, regarding your questions:
(1) `kubeconfig` can be obtained by `aws eks update-kubeconfig` cmd, details can be found in https://docs.aws.amazon.com/cli/latest/reference/eks/update-kubeconfig.html
(2) IAM user & role access to the cluster is supported, you can add more roles/users to access the cluster. Details can be found in https://d

[2022-11-07 10:27] mohitsharma-in commented on #27420
@jbpratt  Can you help me how it's done differently on lens

[2022-11-07 15:46] lbernick commented on #27852
Thanks @BenTheElder for your response and relabeling! Would it be possible to have the plugin comment display more granular information about the GitHub API error received? (I checked the controller logs and didn't see anything more informative than the message you linked.) Failing that I can try to figure out what API call the plugin is making and try it out myself-- but I'm not sure if I have th

[2022-11-07 20:26] BenTheElder commented on #27852
Assigning people to an issue takes write permission to the repo, I think.
I don't have access to this myself anymore and I can't definitively state what changes to prow would be approved either, but I think if there is more detail available the owners would probably be willing to include it in the comment, but I'm also not sure that the API does return more info, AIUI reading the code the error is

[2022-11-07 20:28] BenTheElder commented on #27852
It's possible this was a bug on github's side, we've seen some interesting things before where indexes are seemingly not up to date.

[2022-11-07 20:30] BenTheElder commented on #27896
Using EKS as a build cluster shouldn't itself be a big issue. It should be fairly straightforward to use this for things like build and unit test, given sufficient resources. EKS is already running multiple prow instances.

Using EKS to take over many of the jobs may be, because they need to interact with boskos + GCP projects, failing a maintained OSS solution for running e2e clusters @ HEAD on a

[2022-11-07 20:40] lbernick commented on #27852
I believe our credentials have write permissions to the repo, since we do successfully use the assign plugin on this repo w/ folks in our [maintainers/collaborators list](https://github.com/tektoncd/community/blob/eaa7738f5289b5a71dc5c3bd6c3e739ad90ce7f1/org/org.yaml#L463-L528) for this repo ([example](https://github.com/tektoncd/community/pull/820#issuecomment-1252597887)). The issue seems to be

[2022-11-07 22:37] BenTheElder commented on #27852
so from the code link above, that error message is posted when github returns an error. prow doesn't make any checks, it just tries to assign via the API and posts this comment if the API call fails due to github reporting the users couldn't be assigned.

the logic in the handler is just constructing the API call and handling the error from the call, it would be inefficient to make additional API

[2022-11-08 03:03] liggitt opened #27918 "triage data is a ~week stale"
https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1 is currently displaying data up through 2022-10-30. It's unclear what is preventing it from displaying more recent data

Are there logs or status visible for the process that updates the data for that site?

[2022-11-08 03:13] BenTheElder commented on #27918
that'd be due to https://github.com/kubernetes/test-infra/issues/27869

https://prow.k8s.io/?job=ci-test-infra-triage but it's stale due to the underlying data source in https://github.com/kubernetes/test-infra/issues/27869 (there's two passes, one collects data into BQ, triage then processes that data and clusters it)

[2022-11-08 03:26] liggitt commented on #27918
Thanks, searched but didn't know the magic codenames

[2022-11-08 03:26] #27918 closed

[2022-11-08 03:41] BenTheElder commented on #27869
sqlite has a few dimensions with limits, I don't think we've ever trimmed this, and also we're probably using an old version.

Is there any reason we couldn't archive the old data and start over?

[2022-11-08 03:41] BenTheElder commented on #27918
FYI also https://github.com/kubernetes/test-infra/issues/27829

[2022-11-08 04:19] wzshiming opened #27919 "Failed ci: Pod can not be created: create pod test-pod ... in cluster default: Unauthorized"
**What happened**:

[code]

Yesterday the CI was fine and today it reports this error.
I see that the ci image was updated yesterday by #27913, may be is this the reason?

**What you expected to happen**:

CI works normally

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to example occurrences, if any**:

https://prow.k8s.io/pr?query=is%3Apr+repo%3Akubern

[2022-11-08 07:59] MadhavJivrajani commented on #27919
/sig testing

[2022-11-08 14:03] liggitt commented on #27919
this is impacting multiple jobs, do we know what changed that caused this, and can that change be reverted?

[2022-11-08 14:54] chaodaiG commented on #27919
/close

[2022-11-08 14:54] #27919 closed

[2022-11-08 15:18] jprzychodzen opened #27928 "Cleanup duplicated periodics for cloud-provider-gcp"
**What should be cleaned up or changed**:

Periodic CI jobs for cloud-provider-gcp are duplicated due to adding/testing `--test-args=--enabled-volume-drivers=gcepd`.

We need to validate if the change has effect, and remove periodic duplication when not needed.

**Provide any links for context**:

Follow up to #26890

/assign @mattcary

[2022-11-08 15:18] jprzychodzen commented on #27928
/sig cloud-provider

[2022-11-08 15:32] chaodaiG commented on #24869
Build cluster token failed to sync issue happened again https://kubernetes.slack.com/archives/C7J9RP96G/p1667877096344719, this is not good.

/assign

[2022-11-08 15:47] BenTheElder commented on #27824
Are there any design details ..?

Access to create prowjob CRs directly is a potential security risk and it's not obvious why both Pub/Sub and the Kubernetes API cannot be used.

[2022-11-08 15:49] sbueringer commented on #27919
Thank you very much!!

[2022-11-08 17:08] dims commented on #24869
uh-oh. thanks @chaodaiG

[2022-11-08 18:28] spiffxp commented on #27869
I'm looking into trimming

[2022-11-08 21:21] lbernick commented on #27852
ah of course-- that makes sense, sorry, I should have looked a bit more closely at the link.

I realized the issue is that we default to "None" permissions for org members instead of "Read" permissions. Truly a case of just needing to read the docs :)

[2022-11-08 21:40] BenTheElder commented on #27852
glad you found it! 😅

[2022-11-09 14:02] #27852 closed

[2022-11-09 17:17] jimangel commented on #24869
I don't want to derail / delay efforts going on in #27932, but has something like https://secrets-store-csi-driver.sigs.k8s.io/ been considered? We could use that with the GCP provider today and there's support for AWS, Azure, and Vault providers if we need to change.

Using the CSI driver + Google Secrets Manager (provider) would allow us to leverage Workload Identity for IAM secret access. I bel

[2022-11-09 17:54] chaodaiG commented on #24869
hi @jimangel , it's not a derail at all. iirc csi driver for GCP was in its super early release cycle when we decided to adopt Kubernetes External Secret. The proposal of transition from Kubernetes External Secret to External Secret Operator was pretty much a lazy action based on the recommendation from Kubernetes External Secret.

In terms of the cost, we don't have that many secrets and lots of

[2022-11-09 18:19] BenTheElder commented on #27852
Thanks for clarifying that 😄

[2022-11-09 18:35] BenTheElder opened #27951 "we should not auto-close help-wanted and good-first-issue issues"
This is exceptionally counter productive, these issues are labeled as open for someone to come work on, and should not need periodic re-pinging to keep open.

I personally don't think auto-closing is helping in any case, but that's a separate issue (https://github.com/kubernetes/kubernetes/issues/103151).

Can we at least agree to exclude issues clearly labeled as looking for help from the lifecyc

[2022-11-09 19:03] spiffxp commented on #27869
Database is still rebuilding.  It's been getting repeatedly OOMkilled while loading in junit files from GCS, then rescraping GCS after each restart.  Down from 660K pending to 200K pending
[code]

[2022-11-09 19:15] listx commented on #27824
I'll share a doc soon.

Right.

Agreed. Any new Prow API work will not try to deprecate existing methods/solutions.

[2022-11-09 19:22] BenTheElder commented on #27260
previously https://github.com/kubernetes/test-infra/issues/9628

I don't think anyone is working on this part of prow currently (I don't really work on prow at all anymore myself ...).

[2022-11-09 21:34] listx commented on #27824
Updated the original comment to include a link to the design doc.

[2022-11-09 22:37] jpbetz commented on #27951
I'm very supportive of this. These issues create opportunity, closing them harms the contributor "economy".

[2022-11-09 22:58] spiffxp commented on #27869
Kettle uses an indexed auto-incrementing rowid to keep track of builds it has scraped from gcs.  We can't just use the old `build_emitted` tables since they'll be populated with rowids that don't correspond to the newly generated rowids.

So, take a best guess that relies on the fact that gcs_paths follow a similar pattern and have a monotonically increasing (but not sequential) number (call it a

[2022-11-10 01:03] spiffxp commented on #27869
I manually ran updates for the daily and weekly table just to make sure things ran smoothly. You can see this reflected:
- in the latest kettle-monitor job: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/metrics-kettle/1590495158367948800
- with actual results in: http://storage.googleapis.com/k8s-metrics/flakes-latest.json

I'm going to use the regular kettle deployment to handle the other t

[2022-11-10 13:36] danilo-gemoli commented on #25799
# Blueprint
### Phase 1
- [x] Change MergeType type in Tide config to fit the new configuration
- [x] Modify the way config is loaded: check “**yamlToConfig**” function on prow/config/config.go
- [x] Create a new “**OrgRepoBranchMergeMethod**” function that introduces the new matching criteria and is backwards compatible
- [x] Make “**MergeMethod**” function ([prow/config/tide.go](https://github.c

[2022-11-10 13:37] danilo-gemoli commented on #25799
Hey guys, @alvaroaleman @Ressetkk how does it look like?

[2022-11-10 14:03] liggitt commented on #27869
thanks for all the help, seeing current data now (and was already helpful - https://github.com/kubernetes/kubernetes/pull/113486#issuecomment-1310322562)

[2022-11-10 15:38] upodroid commented on #27824
This is a nice feature to have. I wrote something that pulls info from the Prow but I'm parsing yaml instead of json. :(

https://github.com/knative/test-infra/blob/main/tools/provenance-generator/pkg/parse.go#L90

[2022-11-10 19:39] pohly commented on #27829
It looks like this is resolved:

[code]

And

[code]

[2022-11-10 20:33] chaodaiG commented on #24869
Had an extensive and wonderful offline discussion with @jimangel , and here is what we agreed on:

- External Secret Operator works as a central proxy service, which uses a dedicated k8s cluster SA that is WI binded with a GCP SA, this GCP SA is given GCP secret manager permissions to all secrets that are used in the k8s cluster, and these secrets are synced one way into the k8s cluster, and all p

[2022-11-10 20:37] jimangel commented on #24869
Awesome write up @chaodaiG! Agreed, it was fun chatting.

There are alternatives for authentication outlined here: https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/blob/main/docs/authentication.md but the general consensus is to use WI if at all possible.

[2022-11-10 20:53] dims commented on #24869
@chaodaiG @jimangel Nice! +100

[2022-11-10 21:14] hh commented on #26717
/assign

[2022-11-10 21:15] hh commented on #26717
/remove-lifecycle stale

[2022-11-10 21:16] hh commented on #26717
We don't have IBM credit donations yet, but let me look into it.

[2022-11-10 21:17] spiffxp commented on #27869
I had hoped clearing the db would give us some breathing room, but things are still pretty brittle. tl;dr kettle is refreshing `k8s-gubernator:build` tables every ~2h, and triage is updating clusters every ~3h, so https://go.k8s.io/triage may be up to 6h stale

I don't have time to look further, so hopefully ~6h will do.

In case anyone is interested:
- kettle is supposed to stream results from gc

[2022-11-10 21:19] spiffxp commented on #27869
/close
k8s-gubernator tables are no longer stale, metrics-kettle check is happy: https://testgrid.k8s.io/sig-testing-misc#metrics-kettle&width=20
<img width="927" alt="Screen Shot 2022-11-10 at 1 18 57 PM" src="https://user-images.githubusercontent.com/49258/201208026-27e01278-65c0-460a-bb84-8ea0c0ec8a01.png">

[2022-11-10 21:19] #27869 closed

[2022-11-10 21:25] spiffxp commented on #27829
Yeah just came here to say it should be up and running now, ref: https://github.com/kubernetes/test-infra/pull/27831#issuecomment-1310907343

I'm not happy with the amount of time triage is taking to update clusters, which maybe the stack traces are exacerbating, but I don't have time to look into it

Per https://github.com/kubernetes/test-infra/issues/27869#issuecomment-1310902224 expect triage t

[2022-11-10 21:26] spiffxp commented on #27829
/close

[2022-11-10 21:26] #27829 closed

[2022-11-10 21:40] BenTheElder commented on #26717
I don't think we should be extending boskos without resources, as-is boskos is basically in maintenance mode and barely staffed by anyone. We can figure out how to manage resources once we have them?

[2022-11-10 22:04] cjwagner commented on #24869
Sounds like a nice improvement to me!

[2022-11-11 00:37] ameukam commented on #24869
@chaodaiG @jimangel Nice idea!

Let's try it.

[2022-11-11 00:39] ameukam commented on #24869
@jimangel So if the secret is mounted as a volume in the pod, how this is isolated from the other pods running in the same node ?

[2022-11-11 02:53] jimangel commented on #24869
I believe the threat model is the same as before (or more secure). Access today is segmented by namespace (k8s "built-in" secrets). With the CSI driver, access is only permitted when all conditions are met:
1) A namespace scoped [SecretProviderClass](https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/blob/main/examples/app-secrets.yaml.tmpl) (CRD) defining access exists (

[2022-11-11 10:00] #27844 closed

[2022-11-11 14:34] petr-muller commented on #25799
Pls write tests for `OrgRepoBranchMergeMethod` right away

Otherwise, I'm not too fond of offering regexes on the org and org/repo level personally. I don't believe there's a strong use case for that, compared to the amount of complexity (see below) it brings. Some arguments why not have that:

- It is very easy to have a regex that covers something not intended, which would result in messing with

[2022-11-11 18:17] thockin commented on #27951
+1 seems totally reasonable

[2022-11-13 19:18] #26589 closed

[2022-11-14 12:50] mrueg commented on #22164
/reopen

[2022-11-14 18:22] haircommander commented on #26712
finally got a moment to look at this, I opened a PR to remove them https://github.com/kubernetes/test-infra/pull/27999
/remove-lifecycle rotten
/remove-lifecycle stale

[2022-11-14 21:27] cjwagner opened #28001 "`run_before_merge: true` jobs are never triggered by Tide."
**What happened**:
A job was configured to use the new `run_before_merge: true` option ([PR](https://github.com/kubernetes/test-infra/pull/27741)). PullRequests that required the job never saw the job triggered by Tide. Tide then ignored the PRs because they did not meet the merge requirements.

**What you expected to happen**:
After all other merge requirements were met, Tide should have triggere

[2022-11-14 21:27] cjwagner commented on #28001
/sig testing

[2022-11-14 21:56] chaodaiG commented on #28001
/assign

[2022-11-14 23:26] #26609 closed

[2022-11-15 01:22] johngmyers opened #28003 "Prow issue: k8s-ci-robot didn't update prow config"
Despite #27993 landing on `master`, k8s-ci-robot did not update the  `job-config` configmap in namespace `default` at cluster `test-infra-trusted`. The changes made in that PR are still not in effect.

[2022-11-15 01:24] johngmyers commented on #28003
/sig testing

[2022-11-15 01:25] johngmyers commented on #28003
/area prow

[2022-11-16 00:14] BenTheElder opened #28021 "ensure triage changes are approved by contribex leads"
**What happened**:

https://github.com/kubernetes/test-infra/issues/27951 merged with lazy consensus.
This does not meet the bar contribex has set for workflow changes.

https://github.com/kubernetes/community/blob/master/sig-contributor-experience/charter.md#cross-cutting-and-externally-facing-processes

**What you expected to happen**:

We should ensure contribex signs off on workflow changes.

[2022-11-16 00:17] chaodaiG commented on #28003
Did a quick look and there was no obvious logs related to this event, so not entirely clear why it failed. Since the job config update was successful on a later PR https://github.com/kubernetes/test-infra/pull/28010, it's likely a transient issue.

Since the job config map is updated by hook, it's possible that the event of https://github.com/kubernetes/test-infra/pull/27993 being merged was misse

[2022-11-16 00:24] johngmyers commented on #28003
That file is autogenerated, so I had to make a real change. I did so in #28019 .

[2022-11-16 00:24] #28003 closed

[2022-11-16 00:26] BenTheElder commented on #28021
cc @kubernetes/sig-testing-leads FYI, I should have remembered, but some of you are new and newly granted approval over this repo, some changes require the above linked process.

FYI @dims @ameukam @thockin as well as additional test-infra root approvers by way of SIG K8s Infra oncall
https://github.com/kubernetes/test-infra/blob/f712886d6df2e18b8f9a4ff3b286fcec1ff2b8f3/OWNERS#L15

And additional

[2022-11-16 00:28] BenTheElder commented on #28021
Prior art:
https://github.com/kubernetes/test-infra/blob/f712886d6df2e18b8f9a4ff3b286fcec1ff2b8f3/config/prow/OWNERS#L1-L4

This should probably be a contribex-leads alias and be scoped to the plugins file instead of all prowjobs. The same thing should be applied to the triage bot config.

[2022-11-16 01:28] Bryce-Soghigian commented on #27951
+1 Seems reasonable to me if we increase the friction for making issues `help-wanted` or `good-first-issue` it will make things harder for existing contributors :)

[2022-11-16 02:58] MadhavJivrajani commented on #27951
I am largely +1 on this, I think this would definitely help, thanks Ben! ❤️

---
However, for the sake of completeness and documenting aspects of it, I will say that we've had discussions about good-first-issues and help-wanted issues in the past in contribex meetings where one point to note is that sometimes issues are often mislabeled with these labels, this can be for a variety of reasons that

[2022-11-16 06:45] BenTheElder commented on #27951
Those are good points.

I think they remain true independent of auto-close though. It's hard to enforce that "good first issues" really are good first issues, but auto-close doesn't improve that.

Do we have a good place to discuss other improvements to these type of issue? I have some thoughts unrelated to this change.

[2022-11-16 21:00] #28001 closed

[2022-11-17 00:41] BenTheElder opened #28038 "prow documentation is difficult to follow now"
1) we no longer have even a terse readme / landing page for "what is this directory" at all under https://github.com/kubernetes/test-infra/tree/master/prow

2) To find docs for a particular aspect now requires following many links and is not obvious, for example to find pod-utilities docs the path went from prow/README.md => pod-utilites.md to this:

    1. https://github.com/kubernetes/test-infra

[2022-11-17 16:26] liggitt commented on #27157
This just started happening again on 2022-11-16 - https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=error%20during%20gcloud%20auth%20activate-service-account

Looks like it is failing ~20% of https://testgrid.k8s.io/google-gce#gce-containerd&width=20 runs

[2022-11-17 16:34] liggitt commented on #27157
Are particular nodes hitting the issue? looks like all the jobs in https://testgrid.k8s.io/google-gce#gce-containerd&width=20 are running on gke-prow-e2-default-pool-bdc23de7 nodepool ... did that node pool change configuration / version / etc?

[2022-11-17 17:12] chaodaiG commented on #27157
As mentioned last time, the secret rotation is a little less risky now. So steps:

1. Create a new json key for pr-kubekins@kubernetes-jenkins-pull.iam.gserviceaccount.com
2. Create a new version of GCP secret `default-k8s-build-cluster-service-account-key` in `k8s-prow-builds` project, the value is the json key content from step 1
3. Wait a few seconds and the key is rotated

[2022-11-17 20:59] #26617 closed

[2022-11-17 20:59] #26611 closed

[2022-11-17 20:59] #26612 closed

[2022-11-17 21:56] listx commented on #28038
Yes. Cross-referencing https://github.com/kubernetes-sigs/prow/issues/4#issuecomment-1311161805 which also suggested the same.

[2022-11-18 16:25] hh commented on #27150
/remove-lifecycle stale

[2022-11-20 05:23] #24779 closed

[2022-11-21 17:55] smg247 commented on #26482
We just encountered this problem with a presubmit change in `openshift` as well. It seems that it is not honoring the `run_if_changed` configuration.

[2022-11-21 17:56] smg247 commented on #26482
/reopen

[2022-11-22 01:10] listx opened #28078 "Be smarter about each Prow component's dependencies during integration testing"
**What would you like to be added**:

See  https://github.com/kubernetes/test-infra/pull/28051#discussion_r1028651554 for context. In that case, for `sinker` we have to create the `Role` objects first before deploying `sinker` because otherwise it ends up in a bad state internally although from the outside it looks fine as far as Pod readiness is concerned.

Here's an example of sinker's logs when

[2022-11-22 13:25] smg247 commented on #26482
Just a note for anyone who finds this one. I was able to workaround this issue by using the following workaround:

1. Add/change the presubmit to a simple command that just runs `echo SUCCESS`. Make sure you use the real `name`, and `trigger`/`run_if_changed`/`skip_if_only_changed` values that you want in the real check. (it isn't important what the test does, we just want it to be cheap and alway

[2022-11-23 06:05] jihoon-seo commented on #28038
Hello all.

We might update the links in the tombstone files to point the rendered version, not the markdown file with GitHub UI, like:

[code]

I opened a PR https://github.com/kubernetes-sigs/prow/pull/26 that might partially resolve this. PTAL!

[2022-11-24 02:39] jihoon-seo commented on #27001
IMO it would also be great to make `tide/merge-method-*` labels cannot coexist among themselves (like `lifecycle/*` labels);
I mean, for Prow to ensure every PR have no more than 1 `tide/merge-method-*` label. 😊
E.g., Prow removes previous `tide/merge-method-X` label when adding `tide/merge-method-Y` label.

[2022-11-24 05:41] jihoon-seo opened #28107 "Change Prow components' container registry from `gcr.io` to `registry.k8s.io`"
**What would you like to be added**:

Recently, some K8s components' container registry was changed from `k8s.gcr.io` to `registry.k8s.io`.
(Ref: https://github.com/kubernetes/registry.k8s.io)

Similarly, would it be great to change the container registry for Prow components' container images
from `gcr.io/k8s-prow` to `registry.k8s.io` (or somewhere else)?

Currently, the images tags written in th

[2022-11-24 05:43] jihoon-seo commented on #28107
/area prow

[2022-11-24 09:48] danilo-gemoli commented on #25799
I'm late here. Regarding regex: I agree with you it's difficult to decide whether two regex will overlap or not, as a consequence it's easy to match unintended text. I wanted to explore that area a little bit and then start a discussion.
What about leaving them on branches (as you proposed) and allow only the `*` wildcard at repository level?
[code]
If it sounds reasonable we should then decide wh

[2022-11-24 10:45] ameukam commented on #24247
/remove-lifecycle rotten
/lifecycle frozen

[2022-11-28 17:29] chaodaiG commented on #27001
/remove-lifecycle stale

[2022-11-28 17:45] BenTheElder commented on #28107
These images are not on registry.k8s.io because they're not promoted to production, they're in the staging registry only, with automated builds based on date + commit hash.

Prow has no named releases.

We need images on k8s.gcr.io to go to registry.k8s.io
We do not need staging images to move, though generally projects should not be hosting "production" out of staging registries.

Prow is a bit o

[2022-11-28 19:52] #17956 closed

[2022-11-29 13:27] petr-muller commented on #25799
That sounds good to me.

You raise some fair points about the shorthands... IMO the one thing that we really don't want to do is something like `kubernetes/*@release-\d+` in shorthands where the language is an arbitrary combo of explicit (org), explicit-or-asterisk (repo) and regex (branches) language, which would be IMO very nonintuitive and confusing. So our options are full regex (which I disli

[2022-11-30 14:24] upodroid commented on #27896
This should be straightforward.

All we need to do is:
- add the [aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator) go binary to the prow images
- make the relevant aws changes (`@BobyMCbobs` can do it). an example https://github.com/cncf-infra/aws-infra/pull/15
- modify the prow pods to have podSpec that look like this: https://github.com/kubernetes/test-infra/pull/

[2022-11-30 15:07] upodroid opened #28142 "Deprecate using `gencred` and switch to using Google principals to authenticate to GKE clusters"
The new gke auth plugin doesn't store access tokens in the kubeconfig file.

[code]

Intree gcp plugin used to do the following which wasn't great.

[code]

/sig testing
/sig k8s-infra

[2022-11-30 18:35] ameukam commented on #28142
cc @chaodaiG @cjwagner

[2022-11-30 19:21] marosset opened #28145 "SIG-Windows release jobs are forked incorrectly"
**What happened**:
Near the end of each release some test-grid jobs are created targeting the release branch.
Unfortunately, the SIG-Windows test jobs are created incorrectly and still target kubernetes/kubernets@master.

Ex:
From recent runs of https://testgrid.k8s.io/sig-release-1.26-informing#capz-windows-containerd-1.26 are creating cluster with v1.27.0-alpha components

https://storage.google

[2022-11-30 19:22] marosset commented on #28145
/sig windows release

[2022-11-30 19:26] marosset commented on #28145
/cc @jsturtevant

[2022-11-30 19:26] marosset commented on #28145
Discussed in https://kubernetes.slack.com/archives/CN0K3TE2C/p1669807765853889

[2022-11-30 23:22] ehashman commented on #21430
/remove-lifecycle rotten

ping @dims

[2022-11-30 23:53] dims commented on #21430
@ehashman i don't know if i have the strength :)